{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "netbox@digitalocean.com"
    },
    "description": "API to access NetBox",
    "license": {
      "name": "Apache v2 License"
    },
    "termsOfService": "https://github.com/digitalocean/netbox",
    "title": "NetBox API",
    "version": "2.4",
    "x-jentic-source-url": "https://github.com/APIs-guru/openapi-directory/files/5383965/swagger.yaml.txt"
  },
  "servers": [
    {
      "url": "http://netboxdemo.com/api"
    }
  ],
  "paths": {
    "/circuits/_choices/": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits__choices_list"
      }
    },
    "/circuits/_choices/{id}/": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits__choices_read"
      }
    },
    "/circuits/circuit-terminations/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "term_side",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "port_speed",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "upstream_speed",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "xconnect_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "circuit_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "site_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "site",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/CircuitTermination"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-terminations_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CircuitTermination"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-terminations_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/WritableCircuitTermination"
        }
      }
    },
    "/circuits/circuit-terminations/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this circuit termination.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-terminations_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CircuitTermination"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-terminations_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CircuitTermination"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-terminations_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableCircuitTermination"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CircuitTermination"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-terminations_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableCircuitTermination"
              }
            }
          },
          "required": true
        }
      }
    },
    "/circuits/circuit-types/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "slug",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/CircuitType"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-types_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CircuitType"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-types_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/CircuitType"
        }
      }
    },
    "/circuits/circuit-types/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this circuit type.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-types_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CircuitType"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-types_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CircuitType"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-types_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CircuitType"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CircuitType"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuit-types_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CircuitType"
              }
            }
          },
          "required": true
        }
      }
    },
    "/circuits/circuits/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "cid",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "install_date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "commit_rate",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Multiple values may be separated by commas.",
            "in": "query",
            "name": "id__in",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "provider_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "provider",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "type_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "tenant_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "tenant",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "site_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "site",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "tag",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/Circuit"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuits_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Circuit"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuits_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/WritableCircuit"
        }
      }
    },
    "/circuits/circuits/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this circuit.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuits_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Circuit"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuits_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Circuit"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuits_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableCircuit"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Circuit"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_circuits_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableCircuit"
              }
            }
          },
          "required": true
        }
      }
    },
    "/circuits/providers/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "slug",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "asn",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "account",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Multiple values may be separated by commas.",
            "in": "query",
            "name": "id__in",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "site_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "site",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "tag",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/Provider"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_providers_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provider"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_providers_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/Provider"
        }
      }
    },
    "/circuits/providers/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this provider.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_providers_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provider"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_providers_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provider"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_providers_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Provider"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provider"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "",
        "operationId": "circuits_providers_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Provider"
              }
            }
          },
          "required": true
        }
      }
    },
    "/circuits/providers/{id}/graphs/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this provider.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provider"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "circuits"
        ],
        "description": "A convenience method for rendering graphs for a particular provider.",
        "operationId": "circuits_providers_graphs"
      }
    },
    "/dcim/_choices/": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim__choices_list"
      }
    },
    "/dcim/_choices/{id}/": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim__choices_read"
      }
    },
    "/dcim/connected-device/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "The name of the peer device",
            "in": "query",
            "name": "peer_device",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the peer interface",
            "in": "query",
            "name": "peer_interface",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "This endpoint allows a user to determine what device (if any) is connected to a given peer device and peer\ninterface. This is useful in a situation where a device boots with no configuration, but can detect its neighbors\nvia a protocol such as LLDP. Two query parameters must be included in the request:\n\n* `peer_device`: The name of the peer device\n* `peer_interface`: The name of the peer interface",
        "operationId": "dcim_connected-device_list"
      }
    },
    "/dcim/console-connections/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "connection_status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "site",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "device",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/ConsolePort"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-connections_list"
      }
    },
    "/dcim/console-port-templates/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "devicetype_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/ConsolePortTemplate"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-port-templates_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsolePortTemplate"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-port-templates_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/WritableConsolePortTemplate"
        }
      }
    },
    "/dcim/console-port-templates/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this console port template.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-port-templates_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsolePortTemplate"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-port-templates_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsolePortTemplate"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-port-templates_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableConsolePortTemplate"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsolePortTemplate"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-port-templates_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableConsolePortTemplate"
              }
            }
          },
          "required": true
        }
      }
    },
    "/dcim/console-ports/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "device_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "device",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "tag",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/ConsolePort"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-ports_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsolePort"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-ports_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/WritableConsolePort"
        }
      }
    },
    "/dcim/console-ports/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this console port.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-ports_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsolePort"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-ports_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsolePort"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-ports_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableConsolePort"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsolePort"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-ports_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableConsolePort"
              }
            }
          },
          "required": true
        }
      }
    },
    "/dcim/console-server-port-templates/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "devicetype_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/ConsoleServerPortTemplate"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-server-port-templates_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsoleServerPortTemplate"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-server-port-templates_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/WritableConsoleServerPortTemplate"
        }
      }
    },
    "/dcim/console-server-port-templates/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this console server port template.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-server-port-templates_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsoleServerPortTemplate"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-server-port-templates_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsoleServerPortTemplate"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-server-port-templates_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableConsoleServerPortTemplate"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsoleServerPortTemplate"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-server-port-templates_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableConsoleServerPortTemplate"
              }
            }
          },
          "required": true
        }
      }
    },
    "/dcim/console-server-ports/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "device_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "device",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "tag",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/ConsoleServerPort"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-server-ports_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsoleServerPort"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-server-ports_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/WritableConsoleServerPort"
        }
      }
    },
    "/dcim/console-server-ports/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this console server port.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-server-ports_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsoleServerPort"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-server-ports_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsoleServerPort"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-server-ports_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableConsoleServerPort"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsoleServerPort"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_console-server-ports_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableConsoleServerPort"
              }
            }
          },
          "required": true
        }
      }
    },
    "/dcim/device-bay-templates/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "devicetype_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/DeviceBayTemplate"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-bay-templates_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceBayTemplate"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-bay-templates_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/WritableDeviceBayTemplate"
        }
      }
    },
    "/dcim/device-bay-templates/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this device bay template.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-bay-templates_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceBayTemplate"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-bay-templates_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceBayTemplate"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-bay-templates_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableDeviceBayTemplate"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceBayTemplate"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-bay-templates_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableDeviceBayTemplate"
              }
            }
          },
          "required": true
        }
      }
    },
    "/dcim/device-bays/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "device_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "device",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "tag",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/DeviceBay"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-bays_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceBay"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-bays_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/WritableDeviceBay"
        }
      }
    },
    "/dcim/device-bays/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this device bay.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-bays_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceBay"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-bays_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceBay"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-bays_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableDeviceBay"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceBay"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-bays_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableDeviceBay"
              }
            }
          },
          "required": true
        }
      }
    },
    "/dcim/device-roles/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "slug",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "color",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "vm_role",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/DeviceRole"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-roles_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceRole"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-roles_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/DeviceRole"
        }
      }
    },
    "/dcim/device-roles/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this device role.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-roles_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceRole"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-roles_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceRole"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-roles_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceRole"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceRole"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-roles_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceRole"
              }
            }
          },
          "required": true
        }
      }
    },
    "/dcim/device-types/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "model",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "slug",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "part_number",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "u_height",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "is_full_depth",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "is_console_server",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "is_pdu",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "is_network_device",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "subdevice_role",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Multiple values may be separated by commas.",
            "in": "query",
            "name": "id__in",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "manufacturer_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "manufacturer",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "tag",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/DeviceType"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-types_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceType"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-types_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/WritableDeviceType"
        }
      }
    },
    "/dcim/device-types/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this device type.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-types_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceType"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-types_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceType"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-types_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableDeviceType"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceType"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_device-types_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableDeviceType"
              }
            }
          },
          "required": true
        }
      }
    },
    "/dcim/devices/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "serial",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "position",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Multiple values may be separated by commas.",
            "in": "query",
            "name": "id__in",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "manufacturer_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "manufacturer",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "device_type_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "role_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "role",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "tenant_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "tenant",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "platform_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "platform",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "asset_tag",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "region_id",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "region",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "site_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "site",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "rack_group_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "rack_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "cluster_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "model",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "is_full_depth",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "is_console_server",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "is_pdu",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "is_network_device",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "mac_address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "has_primary_ip",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "virtual_chassis_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "tag",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/Device"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_devices_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_devices_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/WritableDevice"
        }
      }
    },
    "/dcim/devices/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this device.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_devices_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceWithConfigContext"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_devices_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_devices_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableDevice"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_devices_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableDevice"
              }
            }
          },
          "required": true
        }
      }
    },
    "/dcim/devices/{id}/napalm/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this device.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "Execute a NAPALM method on a Device",
        "operationId": "dcim_devices_napalm"
      }
    },
    "/dcim/interface-connections/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "connection_status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "site",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "device",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The initial index from which to return the results.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "previous": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/InterfaceConnection"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_interface-connections_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterfaceConnection"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_interface-connections_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/WritableInterfaceConnection"
        }
      }
    },
    "/dcim/interface-connections/{id}/": {
      "parameters": [
        {
          "description": "A unique integer value identifying this interface connection.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_interface-connections_delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterfaceConnection"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_interface-connections_read"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterfaceConnection"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_interface-connections_partial_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableInterfaceConnection"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterfaceConnection"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "dcim"
        ],
        "description": "",
        "operationId": "dcim_interface-connections_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WritableInterfaceConnection"
              }
            }
          },
          "required": true
        }
      }
    },
    "/dcim/interface-templates/": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "form_factor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "mgmt_only",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "devicetype_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return per page.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
[...]
