{
  "openapi": "3.0.3",
  "info": {
    "title": "CleverReach REST API",
    "version": "3.0.0",
    "description": "CleverReach email marketing REST API v3",
    "x-jentic-source-url": "https://raw.githubusercontent.com/aislingbyrnemc-sudo/openapis-specs/refs/heads/import/cleverreach.com/cleverreach/3.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://rest.cleverreach.com"
    }
  ],
  "paths": {
    "/v3/clients": {
      "get": {
        "summary": "get clients.",
        "description": " returns a list of clients managed by this account. In case of a single client it returns a object",
        "operationId": "list",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int"
            },
            "description": "max amount of entries per query."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int"
            },
            "description": "page."
          }
        ]
      }
    },
    "/v3/clients/{id}": {
      "get": {
        "summary": "get info for one client.",
        "description": " get info for single client",
        "operationId": "retrieve",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "client_id."
          }
        ]
      }
    },
    "/v3/clients/{id}/activereceivercount": {
      "get": {
        "summary": "get active receiver count for client.",
        "description": " get only the amount of active receivers of a certain client",
        "operationId": "activereceivercount",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "client_id."
          }
        ]
      }
    },
    "/v3/clients/{id}/contingent": {
      "get": {
        "summary": "get available contingent.",
        "description": " get the currently still available contignent of mails, free to send<br> For flatrate this always returns 0.",
        "operationId": "retrieveContingent",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "client_id."
          }
        ]
      }
    },
    "/v3/clients/{id}/invoiceaddress": {
      "get": {
        "summary": "get current active invoice address.",
        "description": " get the current active invoice address for one client",
        "operationId": "invoiceaddress",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "client_id."
          }
        ]
      }
    },
    "/v3/clients/{id}/limits": {
      "get": {
        "summary": "get information about various account limits.",
        "description": "",
        "operationId": "limits",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "client_id."
          }
        ]
      }
    },
    "/v3/clients/{id}/nextinvoicedate": {
      "get": {
        "summary": "get next invoice date.",
        "description": " get the next invoice date as a timestamp",
        "operationId": "nextInvoiceDate",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "client_id."
          }
        ]
      }
    },
    "/v3/clients/{id}/plan": {
      "get": {
        "summary": "get subscription/plan info for one client.",
        "description": " get subscription/plan info for one client",
        "operationId": "plan",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "client_id."
          }
        ]
      }
    },
    "/v3/clients/{id}/receivercount": {
      "get": {
        "summary": "get receiver count for client.",
        "description": " get the amount of receivers of a certain client",
        "operationId": "receivercount",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "client_id."
          }
        ]
      }
    },
    "/v3/clients/{id}/users": {
      "get": {
        "summary": "get userlist for one client.",
        "description": " get userlist for single client",
        "operationId": "userlist",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "client_id."
          }
        ]
      }
    },
    "/v3/clients/domain/{domain}": {
      "get": {
        "summary": "get info for one client by given domain.",
        "description": " get info for single client by a given domain",
        "operationId": "retrieveByDomain",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "client_domain."
          }
        ]
      }
    },
    "/v3/blacklist": {
      "get": {
        "summary": "get all blacklisted emails.",
        "description": " returns a list with all blacklisted email addresses",
        "operationId": "list",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "add entry.",
        "description": " add a new email address to the blacklist<br> <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"email\": \"ras@guhl.org\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"comment\": \"not to talk about\"<br> }<br> </code>",
        "operationId": "create",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "put": {
        "summary": "update entry.",
        "description": " updates an entry of the blacklist by email<br> <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"email\": \"ras@guhl.org\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"comment\": \"really not to talk about\"<br> }<br> </code>",
        "operationId": "update",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/blacklist/{email}": {
      "get": {
        "summary": "get info for blacklisted email.",
        "description": " get infos of a single blacklisted email address. You can use it to check if a email is on the blacklist.",
        "operationId": "retrieve",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "email."
          }
        ]
      },
      "delete": {
        "summary": "delete blacklist entry.",
        "description": " delete an email address from blacklist",
        "operationId": "remove",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "email to be deleted."
          }
        ]
      }
    },
    "/v3/blacklist/validate": {
      "post": {
        "summary": "filter emails, get valid ones.",
        "description": " Filters provided list of emails and returns the not blacklisted ones<br> <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"emails\":&nbsp;[<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"joker@blocklisted.com\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"robin@gotham.com\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"batman@gotham.com\"<br> &nbsp;&nbsp;&nbsp;&nbsp;],<br> &nbsp;&nbsp;&nbsp;&nbsp;\"group_id\":&nbsp;\"11940\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"invert\":&nbsp;false<br> }<br>",
        "operationId": "filterEmailList",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/groups": {
      "get": {
        "summary": "get list of groups (receiver lists).",
        "description": " returns array of groups (receiver lists)",
        "operationId": "list",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "mixed"
            },
            "description": "order by statement (created ASC or DESC, changed ASC or DESC)."
          }
        ]
      },
      "post": {
        "summary": "create group (receiver list).",
        "description": " create a list of receivers<br> <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"name\":&nbsp;\"Justice League\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"receiver_info\":&nbsp;\"Superhero colleagues\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"locked\":&nbsp;false,<br> &nbsp;&nbsp;&nbsp;&nbsp;\"backup\":&nbsp;true<br> }<br> </code>",
        "operationId": "create",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/groups/{group_id}/advancedstats": {
      "get": {
        "summary": "return group advanced stats.",
        "description": " return extended stats about the group (receiver list)",
        "operationId": "advstats",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/attributes": {
      "get": {
        "summary": "return local attributes.",
        "description": " return local attributes.",
        "operationId": "list_grp",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the group."
          }
        ]
      },
      "post": {
        "summary": "create attribute.",
        "description": " create attribute<br> <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"name\":&nbsp;\"secret_id\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"type\":&nbsp;\"text\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"description\":&nbsp;\"Secret identity\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"preview_value\":&nbsp;\"real name\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"default_value\":&nbsp;\"Bruce Wayne\"<br> }<br> </code>",
        "operationId": "create_groups",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of group."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/blacklist": {
      "get": {
        "summary": "get blocklisted emails for group.",
        "description": " returns a list with all blocklisted email addresse for a group",
        "operationId": "groupBlacklist",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          }
        ]
      },
      "post": {
        "summary": "add email to group blocklist.",
        "description": " add a email address to group blocklist",
        "operationId": "groupBlacklistAdd",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "group id."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/filters": {
      "get": {
        "summary": "return filter.",
        "description": " return filter",
        "operationId": "list_",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "creates a filter/segment.",
        "description": " creates a filter/segment<br> <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"name\": \"My Filter\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"operator\": \"OR\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"rules\": [<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ \"field\":\"email\", \"logic\":\"contains\", \"condition\":\"@gotham.com\" },<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ \"field\":\"activated\", \"logic\":\"bg\", \"condition\":\"1234567\" },<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ \"field\":\"firstname\", \"logic\":\"eq\", \"condition\":\"bruce\" },<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ \"field\":\"lastname\", \"logic\":\"eq\", \"condition\":\"wayne\" }<br> &nbsp;&nbsp;&nbsp;&nbsp;]<br> }<br> </code> <br> <hr> <strong>Possible Operators</strong><br> <ol> <li>OR</li> <li>AND (default)</li> </ol> <br> <strong>Available Logics:</strong><br> <ol> <li>eq - <small>equals</small></li> <li>neq - <small>not equals</small></li> <li>sm - <small>smaller</small></li> <li>bg - <small>bigger</small></li> <li>isnull - <small>is empty</small></li> <li>notisnull - <small>not empty</small></li> <li>contains - <small>contains given string</small></li> <li>begins - <small>begins with</small></li> <li>ends - <small>ends with</small></li> <li>ismale - <small>given field is male</small></li> <li>isfemale - <small>given field is female</small></li> </ol> <br> <strong>general available fields:</strong><br> <ol> <li>email - <small>(email of the receiver)</small></li> <li>source - <small>(import source of the email)</small></li> <li>imported - <small>(timestamp of receiver import)</small></li> <li>registered - <small>(timestamp of receiver registration)</small></li> <li>activated - <small>(timestamp of receiver activation)</small></li> <li>deactivated - <small>(timestamp of receiver deactivation)</small></li> <li>bounced - <small>(timestamp of receiver bounce)</small></li> <li>points - <small>(points of the receiver)</small></li> <li>last_location - <small>(last location of receiver)</small></li> <li>last_client - <small>(last mail client used by receiver)</small></li> <li>crevent_mail_send (logic: eq, condition: mailing_id -> receiver of certain mailing)</li> <li>crevent_mail_open (logic: eq, condition: mailing_id -> opened mail of certain mailing)</li> <li>crevent_mail_click (logic: eq, condition: mailing_id -> clicked on mail of certain mailing)</li> <li>crevent_mail_bounce (logic: eq, condition: mailing_id -> bounced mail of certain mailing)</li> <li>all attributes (if global and group attributes have the same name, group ones will be favoured)</li> </ol> <br>",
        "operationId": "createFilter",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "group ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/filters/{filter_id}": {
      "get": {
        "summary": "get filter.",
        "description": " get filter",
        "operationId": "retrieve_",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          },
          {
            "name": "filter_id",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter ID."
          }
        ]
      },
      "put": {
        "summary": "updates a filter/segment.",
        "description": " updates a filter/segment<br> <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"name\": \"My Filter\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"operator\": \"OR\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"rules\": [<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ \"field\":\"email\", \"logic\":\"contains\", \"condition\":\"@gotham.com\" },<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ \"field\":\"activated\", \"logic\":\"bg\", \"condition\":\"1234567\" },<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ \"field\":\"firstname\", \"logic\":\"eq\", \"condition\":\"brooze\" },<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ \"field\":\"lastname\", \"logic\":\"eq\", \"condition\":\"vain\" }<br> &nbsp;&nbsp;&nbsp;&nbsp;]<br> }<br> </code> <br> <hr> <strong>Possible Operators</strong><br> <ol> <li>OR</li> <li>AND (default)</li> </ol> <br> <strong>Available Logics:</strong><br> <ol> <li>eq - <small>equals</small></li> <li>neq - <small>not equals</small></li> <li>sm - <small>smaller</small></li> <li>bg - <small>bigger</small></li> <li>isnull - <small>is empty</small></li> <li>notisnull - <small>not empty</small></li> <li>contains - <small>contains given string</small></li> <li>begins - <small>begins with</small></li> <li>ends - <small>ends with</small></li> <li>ismale - <small>given field is male</small></li> <li>isfemale - <small>given field is female</small></li> </ol> <br> <strong>general available fields:</strong><br> <ol> <li>email - <small>(email of the receiver)</small></li> <li>source - <small>(import source of the email)</small></li> <li>imported - <small>(timestamp of receiver import)</small></li> <li>registered - <small>(timestamp of receiver registration)</small></li> <li>activated - <small>(timestamp of receiver activation)</small></li> <li>deactivated - <small>(timestamp of receiver deactivation)</small></li> <li>bounced - <small>(timestamp of receiver bounce)</small></li> <li>points - <small>(points of the receiver)</small></li> <li>last_location - <small>(last location of receiver)</small></li> <li>last_client - <small>(last mail client used by receiver)</small></li> <li>crevent_mail_send (logic: eq, condition: mailing_id -> receiver of certain mailing)</li> <li>crevent_mail_open (logic: eq, condition: mailing_id -> opened mail of certain mailing)</li> <li>crevent_mail_click (logic: eq, condition: mailing_id -> clicked on mail of certain mailing)</li> <li>crevent_mail_bounce (logic: eq, condition: mailing_id -> bounced mail of certain mailing)</li> <li>all attributes (if global and group attributes have the same name, group ones will be favoured)</li> </ol> <br>",
        "operationId": "updateFilter",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "group ID."
          },
          {
            "name": "filter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "filter ID."
          }
        ]
      },
      "delete": {
        "summary": "deletes a filter/segment.",
        "description": " deletes a filter/segment<br>",
        "operationId": "removeFilter",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "group ID."
          },
          {
            "name": "filter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "filter ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/filters/{filter_id}/count": {
      "get": {
        "summary": "return groups statistics based on a Filter.",
        "description": " return groups statistics based on a Filter",
        "operationId": "filterPoolCount",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "filter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          },
          {
            "name": "group_id",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/filters/{filter_id}/receivers": {
      "get": {
        "summary": "return receivers.",
        "description": " return a list of receivers",
        "operationId": "list_filter",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          },
          {
            "name": "filter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Filter ID."
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int"
            },
            "description": "Pagesize (max 5000)."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int"
            },
            "description": "Page (zero-based)."
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Type."
          },
          {
            "name": "detail",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int"
            },
            "description": "Detail depth (bitwise combinable) (0: none, 1: events, 2: orders, 4: tags)."
          },
          {
            "name": "email_list",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "list of Receiver Emails's to filter for. comma separated like: \"foo@bar.com,bar@foo.com,...\"."
          },
          {
            "name": "id_list",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "list of Receiver ID's to filter for. comma separated like: \"123,633,5342\"."
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "field to order by, append 'asc' or 'desc' with a space."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/filters/{filter_id}/stats": {
      "get": {
        "summary": "return groups statistics based on a Filter.",
        "description": " return groups statistics based on a Filter",
        "operationId": "filterStats",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "filter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          },
          {
            "name": "group_id",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/receivers": {
      "get": {
        "summary": "return receivers.",
        "description": " return a list of receivers",
        "operationId": "list_groups",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int"
            },
            "description": "Pagesize (max 5000)."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int"
            },
            "description": "Page (zero-based)."
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Type."
          },
          {
            "name": "detail",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int"
            },
            "description": "Detail depth (bitwise combinable) (0: none, 1: events, 2: orders, 4: tags)."
          },
          {
            "name": "email_list",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "list of receiver emails to filter for. Comma separated like: \"foo@bar.com,bar@foo.com,...\"."
          },
          {
            "name": "id_list",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "list of Receiver ID's to filter for. comma separated like: \"123,633,5342\"."
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "field to order by, append 'asc' or 'desc' with a space."
          }
        ]
      },
      "post": {
        "summary": "create new receiver.",
        "description": " create a new receiver<br> <br> Carefully use the fields 'registered', 'activated' and 'deactivated':<br> <br> - provide 'registered' with current time if receiver is new.<br> - provide 'activated' only for immedite activation (no DOI mail will work then).<br> - provide 'deactivated' other than 0 and your receiver will definitely be inactive.<br> <br> Omission of all of those fields leads to an activated receiver ('registered' and 'activated' to current time)!<br> <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"email\":\"bruce@gotham.com\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"registered\": \"1118354400\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"activated\": \"1118354400\", // omit if receiver is to be activated later, e.g. DOI mail<br> &nbsp;&nbsp;&nbsp;&nbsp;\"deactivated\": \"0\", // omit field unless you know what you are doing!<br> &nbsp;&nbsp;&nbsp;&nbsp;\"source\":\"Batcave Computer\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"attributes\": {<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"is_batman\":\"1\"<br> &nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;\"global_attributes\": {<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"firstname\":\"Bruce\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"lastname\":\"Wayne\"<br> &nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;\"tags\": [ \"hero\", \"rich\", \"smart\" ],<br> &nbsp;&nbsp;&nbsp;&nbsp;\"orders\": [<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"order_id\": \"xyz123412\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product_id\": \"SN9876543\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product\": \"Batman - The Movie (DVD)\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"price\": 9.99,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"currency\": \"EUR\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"quantity\": 1,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"mailing_id\": \"12345678\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"order_id\": \"xyz123411\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product_id\": \"SN9876542\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product\": \"Batman - The Soundtrack (CD)\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"price\": 9.99,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"currency\": \"EUR\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"quantity\": 1,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"mailing_id\": \"12345678\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br> &nbsp;&nbsp;&nbsp;&nbsp;]<br> }<br> </code>",
        "operationId": "create_",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/receivers/{pool_id}": {
      "get": {
        "summary": "return receiver.",
        "description": " return specific receiver of a certain group",
        "operationId": "retrieve_groups",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the group."
          },
          {
            "name": "pool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or email of the receiver."
          }
        ]
      },
      "delete": {
        "summary": "delete receiver.",
        "description": " Delete a receiver by id",
        "operationId": "remove_",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "pool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or email of the receiver."
          },
          {
            "name": "group_id",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/receivers/{pool_id}/events": {
      "get": {
        "summary": "return events of a receiver.",
        "description": " return a list of events for a receiver",
        "operationId": "list_groups__",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          },
          {
            "name": "pool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or email of receiver."
          }
        ]
      },
      "post": {
        "summary": "Adds an event to a reveiver.",
        "description": " Adds an event to a reveiver<br> <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"type\":&nbsp;\"log\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"value\":&nbsp;\"Entered the bat cave\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"type_id\":&nbsp;\"1939\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"mailing_id\":&nbsp;\"28\"<br> }<br> </code>",
        "operationId": "create__",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the group."
          },
          {
            "name": "pool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or email of the receiver."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/receivers/{pool_id}/orders": {
      "get": {
        "summary": "return orders.",
        "description": " return a list of orders",
        "operationId": "list_groups___",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of group."
          },
          {
            "name": "pool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or email of receiver."
          }
        ]
      },
      "post": {
        "summary": "add orderitem.",
        "description": " adds orderitem<br> <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"order_id\": \"19891990\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"product\": \"Batman: The Video Game\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"product_id\": \"jnr-1989-1990\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"price\": 1.99,<br> &nbsp;&nbsp;&nbsp;&nbsp;\"quantity\": 2,<br> &nbsp;&nbsp;&nbsp;&nbsp;\"source\": \"fanshop-gotham\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"currency\": \"USD\"<br> }<br> </code> <br>",
        "operationId": "create_group",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          },
          {
            "name": "pool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or email of receiver."
          }
        ]
      }
    },
    "/v3/groups/{id}": {
      "get": {
        "summary": "get group (receiver list) by id.",
        "description": " return group by given id",
        "operationId": "retrieve",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "group id."
          }
        ]
      },
      "put": {
        "summary": "update group (receiver list).",
        "description": " update a list of receivers<br> <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"name\":&nbsp;\"Justice League\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"receiver_info\":&nbsp;\"Superhero colleagues\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"locked\":&nbsp;false,<br> &nbsp;&nbsp;&nbsp;&nbsp;\"backup\":&nbsp;true<br> }<br> </code>",
        "operationId": "update",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of group to be updated."
          }
        ]
      },
      "delete": {
        "summary": "delete group (receiver list).",
        "description": " delete group (receiver list)",
        "operationId": "remove",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          }
        ]
      }
    },
    "/v3/groups/{id}/forms": {
      "get": {
        "summary": "return group forms.",
        "description": " return group forms",
        "operationId": "forms",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          }
        ]
      }
    },
    "/v3/groups/{id}/stats": {
      "get": {
        "summary": "return group stats.",
        "description": " return stats about the group (receiver list)",
        "operationId": "stats",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/get_receivers": {
      "post": {
        "summary": "return receivers.",
        "description": " return a list of receivers",
        "operationId": "list_groups_",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/receivers/delete": {
      "post": {
        "summary": "delete multiple receivers.",
        "description": " Delete receivers by given ids or emails.<br> <br> <strong>Example Post Data:</strong><br> <code> [<br> &nbsp;&nbsp;&nbsp;&nbsp;\"381940\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"dick.grayson@wayne.com\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"robin@gotham.com\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"3571983\"<br> ]<br> </code>",
        "operationId": "removeMultiple_group",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/receivers/insert": {
      "post": {
        "summary": "create multiple receivers.",
        "description": " create multiple receivers<br> <br> Carefully use the fields 'registered', 'activated' and 'deactivated':<br> <br> - provide 'registered' with current time if receiver is new.<br> - provide 'activated' only for immedite activation (no DOI mail will work then).<br> - provide 'deactivated' other than 0 and your receiver will definitely be inactive.<br> <br> Omission of all of those fields leads to an activated receiver ('registered' and 'activated' to current time)!<br> <br> <strong>Example Post Data:</strong><br> <code> [<br> &nbsp;&nbsp;&nbsp;&nbsp;{<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"email\":\"bruce@gotham.com\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"registered\": \"1118354400\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"activated\": \"1118354400\", // omit if receiver is to be activated later, e.g. DOI mail<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"deactivated\": \"0\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"source\":\"Batcave Computer\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"attributes\": {<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"is_batman\":\"1\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"global_attributes\": {<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"firstname\":\"Bruce\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"lastname\":\"Wayne\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"tags\": [ \"hero\", \"rich\", \"smart\" ],<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"orders\": [<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"order_id\": \"xyz123412\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product_id\": \"SN9876543\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product\": \"Batman - The Movie (DVD)\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"price\": 9.99,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"currency\": \"EUR\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"quantity\": 1,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"mailing_id\": \"12345678\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"order_id\": \"xyz123411\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product_id\": \"SN9876542\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product\": \"Batman - The Soundtrack (CD)\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"price\": 9.99,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"currency\": \"EUR\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"quantity\": 1,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"mailing_id\": \"12345678\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]<br> &nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;{<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"email\":\"damian@gotham.com\"<br> &nbsp;&nbsp;&nbsp;&nbsp;}<br> ]<br> </code>",
        "operationId": "insert",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/receivers/upsert": {
      "post": {
        "summary": "update or create multiple receivers.",
        "description": " Updates receivers or creates new ones, if email not existing<br> <br> Carefully use the fields 'registered', 'activated' and 'deactivated':<br> <br> - provide 'registered' with current time if receiver is new.<br> - provide 'activated' only for immedite activation (no DOI mail will work then).<br> - provide 'deactivated' other than 0 and your receiver will definitely be inactive. 0 will eventually reactivate receivers!<br> <br> Omission of all of those fields leads to an activated receiver, if new ('registered' and 'activated' to current time)!<br> <br> <strong>Example Post Data:</strong><br> <code> [<br> &nbsp;&nbsp;&nbsp;&nbsp;{<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"email\":\"bruce@gotham.com\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"registered\": \"1118354400\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"activated\": \"1118354400\", // omit if receiver is to be activated later, e.g. DOI mail<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"source\":\"Batcave Computer\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"attributes\": {<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"is_batman\":\"1\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"global_attributes\": {<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"firstname\":\"Bruce\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"lastname\":\"Wayne\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"tags\": [ \"hero\", \"rich\", \"smart\" ],<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"orders\": [<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"order_id\": \"xyz123412\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product_id\": \"SN9876543\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product\": \"Batman - The Movie (DVD)\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"price\": 9.99,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"currency\": \"EUR\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"quantity\": 1,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"mailing_id\": \"12345678\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"order_id\": \"xyz123411\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product_id\": \"SN9876542\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product\": \"Batman - The Soundtrack (CD)\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"price\": 9.99,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"currency\": \"EUR\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"quantity\": 1,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"mailing_id\": \"12345678\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br> &nbsp;&nbsp;&nbsp;&nbsp;, { ... additional user ... }<br> ]<br> </code>",
        "operationId": "upsert",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/receivers/upsertplus": {
      "post": {
        "summary": "update/create receivers and manipulate data.",
        "description": " This is just like upsert, except you can increase or decrease numeric attribute values.<br> Prepend a \"+\" or \"-\" to the value to increase or decrease a value.<br> <br> You also can manipulate TAGS in a similar way:<br> In the array of tags, prepend a \"-\" to the tag you want to be removed.<br> To remove all tags with a specific origin, simply specify \"*\" instead of any tag name.<br> <br> Carefully use the fields 'registered', 'activated' and 'deactivated':<br> - provide 'registered' with current time if receiver is new.<br> - provide 'activated' only for immedite activation (no DOI mail will work then).<br> - provide 'deactivated' other than 0 and your receiver will definitely be inactive. 0 will eventually reactivate receivers!<br> Just omit 'deactivated' unless you know, what you are doing!<br> <br> <strong>Example Post Data:</strong><br> <code> [<br> &nbsp;&nbsp;&nbsp;&nbsp;{<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"email\":\"bruce@gotham.com\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"attributes\": {<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"weapons\":\"-4\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"global_attributes\": {<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"title\":\"winner\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"fights\":\"+1\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"enemies\":\"-1\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"tags\": [ \"winner\", \"-loser\", \"-joker.*\" ]<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br> ]<br> </code>",
        "operationId": "upsertplus",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/attributes/{id}": {
      "put": {
        "summary": "update attribute.",
        "description": " update attribute<br>",
        "operationId": "update_grps",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "group id."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Attribute ID."
          }
        ]
      },
      "delete": {
        "summary": "delete attribute.",
        "description": " delete attribute",
        "operationId": "remove_grps",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Attribute ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/receivers/update": {
      "put": {
        "summary": "update multiple receivers.",
        "description": " Updates receivers if email existing<br> <br> Carefully use the fields 'registered', 'activated' and 'deactivated':<br> <br> - provide 'registered' with current time if receiver is new.<br> - provide 'activated' only for immedite activation (no DOI mail will work then).<br> - provide 'deactivated' other than 0 and your receiver will definitely be inactive. 0 will eventually reactivate receivers!<br> Just omit 'deactivated' unless you know, what you are doing!<br> <br> <strong>Example Post Data:</strong><br> <code> [<br> &nbsp;&nbsp;&nbsp;&nbsp;{<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"email\":\"bruce@gotham.com\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"registered\": \"1118354400\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"activated\": \"1118354400\", // omit if receiver is to be activated later, e.g. DOI mail<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"source\":\"Batcave Computer\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"attributes\": {<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"is_batman\":\"1\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"global_attributes\": {<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"firstname\":\"Bruce\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"lastname\":\"Wayne\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"tags\": [ \"hero\", \"rich\", \"smart\" ],<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"orders\": [<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"order_id\": \"xyz123412\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product_id\": \"SN9876543\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product\": \"Batman - The Movie (DVD)\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"price\": 9.99,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"currency\": \"EUR\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"quantity\": 1,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"mailing_id\": \"12345678\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"order_id\": \"xyz123411\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product_id\": \"SN9876542\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product\": \"Batman - The Soundtrack (CD)\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"price\": 9.99,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"currency\": \"EUR\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"quantity\": 1,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"mailing_id\": \"12345678\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br> &nbsp;&nbsp;&nbsp;&nbsp;, { ... additional user ... }<br> ]<br> </code>",
        "operationId": "update__",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/receivers/updateplus": {
      "put": {
        "summary": "update multiple receivers.",
        "description": " This is just like update, except you can increase or decrease numeric attribute values.<br> Prepend a \"+\" or \"-\" to the value to increase or decrease a value.<br> <br> You also can manipulate TAGS in a similar way:<br> In the array of tags, prepend a \"-\" to the tag you want to be removed.<br> To remove all tags with a specific origin, simply specify \"*\" instead of any tag name.<br> <br> Carefully use the fields 'registered', 'activated' and 'deactivated':<br> - provide 'registered' with current time if receiver is new.<br> - provide 'activated' only for immedite activation (no DOI mail will work then).<br> - provide 'deactivated' other than 0 and your receiver will definitely be inactive. 0 will eventually reactivate receivers!<br> Just omit 'deactivated' unless you know, what you are doing!<br> <br> <strong>Example Post Data:</strong><br> <code> [<br> &nbsp;&nbsp;&nbsp;&nbsp;{<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"email\":\"bruce@gotham.com\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"attributes\": {<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"weapons\":\"-4\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"global_attributes\": {<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"title\":\"winner\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"fights\":\"+1\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"enemies\":\"-1\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"tags\": [ \"winner\", \"-loser\", \"-joker.*\" ]<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br> ]<br> </code>",
        "operationId": "updateplus",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/receivers/{id}": {
      "put": {
        "summary": "update receiver.",
        "description": " Update any information of a receiver<br> <strong>Please note that you can not change the email!</strong><br> <br> Carefully use the fields 'registered', 'activated' and 'deactivated':<br> <br> - provide 'registered' with current time if receiver is new.<br> - provide 'activated' only for immedite activation (no DOI mail will work then).<br> - provide 'deactivated' other than 0 and your receiver will definitely be inactive. 0 will eventually reactivate receivers!<br> Just omit 'deactivated' unless you know, what you are doing!<br> <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"registered\": \"1118354400\", // usually not needed to be set on update<br> &nbsp;&nbsp;&nbsp;&nbsp;\"activated\": \"1118354400\", // only use to immediately activate the receiver<br> &nbsp;&nbsp;&nbsp;&nbsp;\"deactivated\": \"0\", // omit field unless you know what you are doing!<br> &nbsp;&nbsp;&nbsp;&nbsp;\"source\": \"Batcave Computer\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"attributes\": {<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"is_batman\":\"1\"<br> &nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;\"global_attributes\": {<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"firstname\":\"Bruce\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"lastname\":\"Wayne\"<br> &nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;\"tags\": [ \"hero\", \"rich\", \"smart\" ],<br> &nbsp;&nbsp;&nbsp;&nbsp;\"orders\": [<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"order_id\": \"xyz123412\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product_id\": \"SN9876543\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product\": \"Batman - The Movie (DVD)\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"price\": 9.99,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"currency\": \"EUR\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"quantity\": 1,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"mailing_id\": \"12345678\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"order_id\": \"xyz123411\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product_id\": \"SN9876542\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"product\": \"Batman - The Soundtrack (CD)\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"price\": 9.99,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"currency\": \"EUR\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"quantity\": 1,<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"mailing_id\": \"12345678\"<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br> &nbsp;&nbsp;&nbsp;&nbsp;]<br> }<br> </code> <br>",
        "operationId": "update_",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the group."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or email of receiver."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/receivers/{id}/activate": {
      "put": {
        "summary": "activates receiver.",
        "description": " set receiver status to active",
        "operationId": "setActive",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or Email of the receiver."
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/receivers/{pool_id}/attributes/{id}": {
      "put": {
        "summary": "update value of an attribute of a receiver.",
        "description": " update value of an attribute of a receiver",
        "operationId": "savePoolAttribute_groups",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          },
          {
            "name": "pool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or Email address."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Attribute ID."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/receivers/{pool_id}/deactivate": {
      "put": {
        "summary": "deactivates receiver.",
        "description": " set receiver status to not active",
        "operationId": "setInactive",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          },
          {
            "name": "pool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or email of the receiver."
          }
        ]
      }
    },
    "/v3/groups/{group_id}/receivers/{pool_id}/orders/{id}": {
      "put": {
        "summary": "update orderitem.",
        "description": " updates orderitem<br> <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"product\": \"Batman: The Video Game\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"product_id\": \"jnr-1989-1990\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"price\": 1.99,<br> &nbsp;&nbsp;&nbsp;&nbsp;\"quantity\": 2,<br> &nbsp;&nbsp;&nbsp;&nbsp;\"source\": \"fanshop-gotham\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"currency\": \"USD\"<br> }<br> </code> <br>",
        "operationId": "update_groups",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          },
          {
            "name": "pool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or email of receiver."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the order."
          }
        ]
      },
      "delete": {
        "summary": "delete orderitem.",
        "description": " deletes orderitem<br>",
        "operationId": "remove_groups",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          },
          {
            "name": "pool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or email of receiver."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the order."
          }
        ]
      }
    },
    "/v3/groups/{id}/blacklist/{email}": {
      "delete": {
        "summary": "remove email from group blocklist.",
        "description": " removes email address from group blocklist",
        "operationId": "groupBlacklistRemove",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "group id."
          },
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "email."
          }
        ]
      }
    },
    "/v3/groups/{id}/clear": {
      "delete": {
        "summary": "truncates group (receiver list).",
        "description": " delete all email addresses from group (receiver list)",
        "operationId": "clear",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          }
        ]
      }
    },
    "/v3/forms": {
      "get": {
        "summary": "return list of forms.",
        "description": " return list of forms",
        "operationId": "list",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/v3/forms/{id}": {
      "get": {
        "summary": "return form.",
        "description": " return a form",
        "operationId": "retrieve",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id."
          }
        ]
      },
      "delete": {
        "summary": "delete form.",
        "description": " delete form",
        "operationId": "remove",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Form ID."
          }
        ]
      }
    },
    "/v3/forms/{id}/code": {
      "get": {
        "summary": "get embedded code.",
        "description": " return code for embedding<br> <br> <strong>Note:</strong><br> This Explorer unescapes the return values.<br> Therefore it unescapes HTML from this endpoint!<br> Your browser tries to display it, resulting in no result and seemingly endless loading.<br> Please use this endpoint in your browser directly to try it.",
        "operationId": "retrieveCode",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id."
          },
          {
            "name": "badget",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Enable Badget (Disable only for non free plans) (default: false)."
          },
          {
            "name": "embedded",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Embedded (default: false)."
          },
          {
            "name": "js",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Embedded JS (default: true)."
          },
          {
            "name": "css",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Embedded CSS (default: true)."
          }
        ]
      }
    },
    "/v3/forms/{form_id}/send/{type}": {
      "post": {
        "summary": "send subscribe/unsubscribe mail.",
        "description": " send subscribe/unsubscribe mail to one of your receivers <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"email\":&nbsp;\"alfred.pennyworth@gotham.com\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"doidata\":&nbsp;{<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"user_ip\":&nbsp;\"1.2.3.4\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"referer\":&nbsp;\"http://www.wayne-enterprises.com\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"user_agent\":&nbsp;\"Brucilla/1.0 (HerOS/Linux)\"<br> &nbsp;&nbsp;&nbsp;&nbsp;}<br> }<br> </code>",
        "operationId": "sendMail",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id."
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "type of email."
          }
        ]
      }
    },
    "/v3/forms/{group_id}/createfromtemplate/{type}": {
      "post": {
        "summary": "create form from template.",
        "description": " Creates a form from a template by given type<br> <br> <strong>Example Post Data (extradata for type 'default'):</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"name\":&nbsp;\"Form for Batnews\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"title\":&nbsp;\"Batnews\"<br> }<br> </code> <br> You should specify a name and a title.<br> If no name is given, the title is taken.<br> 400 if you don't specify anything.<br>",
        "operationId": "createTemplateForm",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of group to create the form for."
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "type of the template."
          }
        ]
      }
    },
    "/v3/attributes": {
      "get": {
        "summary": "return attributes.",
        "description": " return local or global attributes",
        "operationId": "list",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ID of the group - leave empty for global attributes."
          }
        ]
      },
      "post": {
        "summary": "create attribute.",
        "description": " create attribute<br> <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"name\":&nbsp;\"secret_id\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"type\":&nbsp;\"text\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"description\":&nbsp;\"Secret identity\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"group_id\":&nbsp;\"1939\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"preview_value\":&nbsp;\"real name\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"default_value\":&nbsp;\"Bruce Wayne\"<br> }<br> </code>",
        "operationId": "create",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/attributes/{id}": {
      "get": {
        "summary": "return attribute.",
        "description": " return a attribute",
        "operationId": "retrieve",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id."
          }
        ]
      },
      "put": {
        "summary": "update attribute.",
        "description": " update attribute",
        "operationId": "update_attr",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Attribute ID."
          }
        ]
      },
      "delete": {
        "summary": "delete attribute.",
        "description": " delete attribute",
        "operationId": "remove",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Attribute ID."
          }
        ]
      }
    },
    "/v3/attributes/limits": {
      "get": {
        "summary": "get attribute limits.",
        "description": " show the attribute limits applied to the account",
        "operationId": "limits",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/v3/receivers/{id}": {
      "get": {
        "summary": "return receiver.",
        "description": " return certain receiver<br> <br> Use group id for retrieving group specific information.<br> If you do not specify any group id, all group specific information will be empty.<br> <br>",
        "operationId": "retrieve",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or email of the receiver."
          },
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ID of group for group specific information."
          }
        ]
      }
    },
    "/v3/receivers/{id}/attributes": {
      "get": {
        "summary": "get attributes of receiver.",
        "description": " get attributes of receiver",
        "operationId": "retrievePoolAttributes",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or email of receiver."
          },
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Group ID (optional)."
          }
        ]
      }
    },
    "/v3/receivers/{id}/groups": {
      "get": {
        "summary": "gets list of groups the receiver is in.",
        "description": " Retrieves an array of groups the given receiver is allocated to",
        "operationId": "retrieveGroups",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or email of the receiver."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "state of the receiver within the group."
          }
        ]
      }
    },
    "/v3/receivers/{id}/orders": {
      "get": {
        "summary": "return orders.",
        "description": " return a list of orders",
        "operationId": "list_",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or email of receiver."
          },
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ID of group - leave blank for global orders."
          }
        ]
      }
    },
    "/v3/receivers/{pool_id}/events": {
      "get": {
        "summary": "return events of a receiver.",
        "description": " return a list of events for a receiver",
        "operationId": "list",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "pool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or email of receiver."
          },
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Group ID."
          }
        ]
      },
      "post": {
        "summary": "Adds an event to a reveiver.",
        "description": " Adds an event to a reveiver<br> <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"type\":&nbsp;\"log\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"group_id\":&nbsp;\"42\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"value\":&nbsp;\"Entered the bat cave\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"type_id\":&nbsp;\"1939\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"mailing_id\":&nbsp;\"28\"<br> }<br> </code>",
        "operationId": "receivers_create",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "pool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the receiver."
          }
        ]
      }
    },
    "/v3/receivers/bounced": {
      "get": {
        "summary": "get all bounced receivers.",
        "description": " get a paginated list of receivers with a bounce date",
        "operationId": "retrieveBounces",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int"
            },
            "description": "how many receivers to get."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "int"
            },
            "description": "which page to get."
          }
        ]
      }
    },
    "/v3/receivers/{id}/clone": {
      "post": {
        "summary": "clone receiver and change email.",
        "description": " Copies a receiver and changes the email within the copy.",
        "operationId": "cloneReceiver",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or email of the receiver to be cloned."
          }
        ]
      }
    },
    "/v3/receivers/{pool_id}/orders": {
      "post": {
        "summary": "add orderitem.",
        "description": " adds orderitem<br> <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"order_id\": \"19891990\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"product\": \"Batman: The Video Game\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"product_id\": \"jnr-1989-1990\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"price\": 1.99,<br> &nbsp;&nbsp;&nbsp;&nbsp;\"quantity\": 2,<br> &nbsp;&nbsp;&nbsp;&nbsp;\"source\": \"fanshop-gotham\",<br> &nbsp;&nbsp;&nbsp;&nbsp;\"currency\": \"USD\"<br> }<br> </code> <br>",
        "operationId": "create",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "pool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID or email of receiver."
          }
        ]
      }
    },
    "/v3/receivers/delete": {
      "post": {
        "summary": "delete multiple receivers.",
        "description": " Delete receivers by given list of ids of emails<br> <br> <strong>Example Post Data:</strong><br> <code> {<br> &nbsp;&nbsp;&nbsp;&nbsp;\"receivers\":&nbsp;[<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"381940\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"dick.grayson@wayne.com\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"robin@gotham.com\",<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"3571983\"<br> &nbsp;&nbsp;&nbsp;&nbsp;],<br> &nbsp;&nbsp;&nbsp;&nbsp;\"group_id\":&nbsp;271939<br> } </code>",
        "operationId": "removeMultiple",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/receivers/filter": {
      "post": {
        "summary": "get recievers by runtime filter.",
[...]
