{
  "openapi": "3.0.3",
  "info": {
    "title": "API reference",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.payabli.com/openapi.json?api=24d45dac-fc0d-439d-a031-1c10358f73a5"
  },
  "servers": [
    {
      "url": "https://api-sandbox.payabli.com/api"
    },
    {
      "url": "https://api.payabli.com/api"
    }
  ],
  "paths": {
    "/v2/MoneyIn/getpaid": {
      "post": {
        "operationId": "getpaidv-2",
        "summary": "Make a transaction (v2)",
        "description": "Make a single transaction. This method authorizes and captures a payment in one step. This is the v2 version of the `api/MoneyIn/getpaid` endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "achValidation",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:AchValidation"
            }
          },
          {
            "name": "forceCustomerCreation",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:ForceCustomerCreation"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idempotencyKey",
            "in": "header",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:IdempotencyKey"
            }
          },
          {
            "name": "validationCode",
            "in": "header",
            "description": "Value obtained from user when an API generated CAPTCHA is used in payment page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2TransactionResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error for v2 Money In auth endpoint (HTTP 400). Returned when request validation fails. Follows RFC 7807 Problem Details format with Payabli-specific unified response codes. See the [Pay In unified response codes reference](/developers/references/pay-in-unified-response-codes-reference) for the complete list of codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "402": {
            "description": "Auth or sale decline error for v2 Money In endpoints (HTTP 402). Returned when an authorization or sale operation is declined for a transaction. Uses unified response codes starting with 'D'. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2DeclinedTransactionResponseWrapper"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for v2 Money In endpoints (HTTP 500). Returned when an unexpected error occurs. Follows RFC 7807 Problem Details format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/type_moneyIn:TransRequestBody"
              }
            }
          }
        }
      }
    },
    "/v2/MoneyIn/authorize": {
      "post": {
        "operationId": "authorizev-2",
        "summary": "Authorize card transaction (v2)",
        "description": "Authorize a card transaction. This returns an authorization code and reserves funds for the merchant. Authorized transactions aren't flagged for settlement until captured. This is the v2 version of the `api/MoneyIn/authorize` endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.\n\n**Note**: Only card transactions can be authorized. This endpoint can't be used for ACH transactions.",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "forceCustomerCreation",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:ForceCustomerCreation"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idempotencyKey",
            "in": "header",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:IdempotencyKey"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2TransactionResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error for v2 Money In auth endpoint (HTTP 400). Returned when request validation fails. Follows RFC 7807 Problem Details format with Payabli-specific unified response codes. See the [Pay In unified response codes reference](/developers/references/pay-in-unified-response-codes-reference) for the complete list of codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "402": {
            "description": "Auth or sale decline error for v2 Money In endpoints (HTTP 402). Returned when an authorization or sale operation is declined for a transaction. Uses unified response codes starting with 'D'. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2DeclinedTransactionResponseWrapper"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for v2 Money In endpoints (HTTP 500). Returned when an unexpected error occurs. Follows RFC 7807 Problem Details format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/type_moneyIn:TransRequestBody"
              }
            }
          }
        }
      }
    },
    "/v2/MoneyIn/capture/{transId}": {
      "post": {
        "operationId": "capturev-2",
        "summary": "Capture an authorized transaction (v2)",
        "description": "Capture an authorized transaction to complete the transaction and move funds from the customer to merchant account. This is the v2 version of the `api/MoneyIn/capture/{transId}` endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "description": "ReferenceId for the transaction (PaymentId).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2TransactionResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error for v2 Money In capture endpoint (HTTP 400). Returned when request validation fails. Follows RFC 7807 Problem Details format with Payabli-specific unified response codes. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "402": {
            "description": "Capture decline error for v2 Money In endpoints (HTTP 402). Returned when a capture operation is declined for a transaction. Uses unified response codes starting with 'D'. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2DeclinedTransactionResponseWrapper"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for v2 Money In endpoints (HTTP 500). Returned when an unexpected error occurs. Follows RFC 7807 Problem Details format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/type_moneyIn:CaptureRequest"
              }
            }
          }
        }
      }
    },
    "/v2/MoneyIn/refund/{transId}": {
      "post": {
        "operationId": "refundv-2",
        "summary": "Refund a settled transaction (v2)",
        "description": "Give a full refund for a transaction that has settled and send money back to the account holder. To perform a partial refund, see [Partially refund a transaction](developers/api-reference/moneyinV2/partial-refund-a-settled-transaction).\n\nThis is the v2 version of the refund endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "description": "ReferenceId for the transaction (PaymentId).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2TransactionResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error for v2 Money In refund endpoint (HTTP 400). Returned when request validation fails. Follows RFC 7807 Problem Details format with Payabli-specific unified response codes. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "402": {
            "description": "Refund decline error for v2 Money In endpoints (HTTP 402). Returned when a refund operation is declined for a transaction. Uses unified response codes starting with 'D'. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2DeclinedTransactionResponseWrapper"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for v2 Money In endpoints (HTTP 500). Returned when an unexpected error occurs. Follows RFC 7807 Problem Details format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/MoneyIn/refund/{transId}/{amount}": {
      "post": {
        "operationId": "refundv-2-amount",
        "summary": "Partially refund a settled transaction (v2)",
        "description": "Refund a transaction that has settled and send money back to the account holder. If `amount` is omitted or set to 0, performs a full refund. When a non-zero `amount` is provided, this endpoint performs a partial refund.\n\nThis is the v2 version of the refund endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "description": "ReferenceId for the transaction (PaymentId).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "path",
            "description": "Amount to refund from original transaction, minus any service fees charged on the original transaction. If omitted or set to 0, performs a full refund.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2TransactionResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error for v2 Money In refund endpoint (HTTP 400). Returned when request validation fails. Follows RFC 7807 Problem Details format with Payabli-specific unified response codes. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "402": {
            "description": "Refund decline error for v2 Money In endpoints (HTTP 402). Returned when a refund operation is declined for a transaction. Uses unified response codes starting with 'D'. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2DeclinedTransactionResponseWrapper"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for v2 Money In endpoints (HTTP 500). Returned when an unexpected error occurs. Follows RFC 7807 Problem Details format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/MoneyIn/void/{transId}": {
      "post": {
        "operationId": "voidv-2",
        "summary": "Void a transaction (v2)",
        "description": "Cancel a transaction that hasn't been settled yet. Voiding non-captured authorizations prevents future captures. This is the v2 version of the `api/MoneyIn/void/{transId}` endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "description": "ReferenceId for the transaction (PaymentId).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2TransactionResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error for v2 Money In void endpoint (HTTP 400). Returned when request validation fails. Follows RFC 7807 Problem Details format with Payabli-specific unified response codes. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "402": {
            "description": "Void decline error for v2 Money In endpoints (HTTP 402). Returned when a void operation is declined for a transaction. Uses unified response codes starting with 'D'. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2DeclinedTransactionResponseWrapper"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error for v2 Money In endpoints (HTTP 500). Returned when an unexpected error occurs. Follows RFC 7807 Problem Details format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type___v2moneyInTypes__:V2InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/MoneyIn/getpaid": {
      "post": {
        "operationId": "getpaid",
        "summary": "Make a transaction",
        "description": "Make a single transaction. This method authorizes and captures a payment in one step.\n\n  <Tip>\n  Consider migrating to the [v2 Make a transaction endpoint](/developers/api-reference/moneyinV2/make-a-transaction) to take advantage of unified response codes and improved response consistency.\n  </Tip>",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "achValidation",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:AchValidation"
            }
          },
          {
            "name": "forceCustomerCreation",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:ForceCustomerCreation"
            }
          },
          {
            "name": "includeDetails",
            "in": "query",
            "description": "When `true`, transactionDetails object is returned in the response. See a full example of the `transactionDetails` object in the [Transaction integration guide](/developers/developer-guides/money-in-transaction-add#includedetailstrue-response).",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idempotencyKey",
            "in": "header",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:IdempotencyKey"
            }
          },
          {
            "name": "validationCode",
            "in": "header",
            "description": "Value obtained from user when an API generated CAPTCHA is used in payment page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_moneyIn:PayabliAPIResponseGetPaid"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/type_moneyIn:TransRequestBody"
              }
            }
          }
        }
      }
    },
    "/MoneyIn/authorize": {
      "post": {
        "operationId": "authorize",
        "summary": "Authorize card transaction",
        "description": "Authorize a card transaction. This returns an authorization code and reserves funds for the merchant. Authorized transactions aren't flagged for settlement until [captured](/developers/api-reference/moneyin/capture-an-authorized-transaction).\nOnly card transactions can be authorized. This endpoint can't be used for ACH transactions.\n<Tip>\n  Consider migrating to the [v2 Authorize endpoint](/developers/api-reference/moneyinV2/authorize-a-transaction) to take advantage of unified response codes and improved response consistency.\n</Tip>",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "forceCustomerCreation",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:ForceCustomerCreation"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idempotencyKey",
            "in": "header",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:IdempotencyKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_moneyIn:AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/type_moneyIn:TransRequestBody"
              }
            }
          }
        }
      }
    },
    "/MoneyIn/capture/{transId}": {
      "post": {
        "operationId": "capture-auth",
        "summary": "Capture Auth",
        "description": "Capture an [authorized transaction](/developers/api-reference/moneyin/authorize-a-transaction) to complete the transaction and move funds from the customer to merchant account. \n\nYou can use this endpoint to capture both full and partial amounts of the original authorized transaction. See [Capture an authorized transaction](/developers/developer-guides/pay-in-auth-and-capture) for more information about this endpoint.\n\n<Tip>\nConsider migrating to the [v2 Capture endpoint](/developers/api-reference/moneyinV2/capture-an-authorized-transaction) to take advantage of unified response codes and improved response consistency.\n</Tip>",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "description": "ReferenceId for the transaction (PaymentId).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_moneyIn:CaptureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/type_moneyIn:CaptureRequest"
              }
            }
          }
        }
      }
    },
    "/MoneyIn/capture/{transId}/{amount}": {
      "get": {
        "operationId": "capture",
        "summary": "Capture an authorized transaction",
        "description": "<Warning>\n  This endpoint is deprecated and will be sunset on November 24, 2025. Migrate to [POST `/capture/{transId}`](/developers/api-reference/moneyin/capture-an-authorized-transaction)`.\n</Warning>\n  \n  Capture an [authorized\ntransaction](/developers/api-reference/moneyin/authorize-a-transaction) to complete the transaction and move funds from the customer to merchant account.",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "description": "ReferenceId for the transaction (PaymentId).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "path",
            "description": "Amount to be captured. The amount can't be greater the original total amount of the transaction. `0` captures the total amount authorized in the transaction. Partial captures aren't supported.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_moneyIn:CaptureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/MoneyIn/sendreceipt/{transId}": {
      "get": {
        "operationId": "send-receipt-2-trans",
        "summary": "Send receipt for transaction",
        "description": "Send a payment receipt for a transaction.",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "description": "ReferenceId for the transaction (PaymentId).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Email address where the payment receipt should be sent. \n\nIf not provided, the email address on file for the user owner of the transaction is used.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_moneyIn:ReceiptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/MoneyIn/reverse/{transId}/{amount}": {
      "get": {
        "operationId": "reverse",
        "summary": "Reverse a transaction",
        "description": "A reversal either refunds or voids a transaction independent of the transaction's settlement status. Send a reversal request for a transaction, and Payabli automatically determines whether it's a refund or void. You don't need to know whether the transaction is settled or not.",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "description": "ReferenceId for the transaction (PaymentId).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "path",
            "description": "\nAmount to reverse from original transaction, minus any service fees charged on the original transaction.\n\nThe amount provided can't be greater than the original total amount of the transaction, minus service fees. For example, if a transaction was $90 plus a $10 service fee, you can reverse up to $90. \n\nAn amount equal to zero will refunds the total amount authorized minus any service fee.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_moneyIn:ReverseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/MoneyIn/void/{transId}": {
      "get": {
        "operationId": "void",
        "summary": "Void a transaction",
        "description": "Cancel a transaction that hasn't been settled yet. Voiding non-captured authorizations prevents future captures. If a transaction has been settled, refund it instead.\n\n  <Tip>\n  Consider migrating to the [v2 Void endpoint](/developers/api-reference/moneyinV2/void-a-transaction) to take advantage of unified response codes and improved response consistency.\n  </Tip>",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "description": "ReferenceId for the transaction (PaymentId).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_moneyIn:VoidResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/MoneyIn/refund/{transId}/{amount}": {
      "get": {
        "operationId": "refund",
        "summary": "Refund a settled transaction",
        "description": "Refund a transaction that has settled and send money back to the account holder. If a transaction hasn't been settled, void it instead.\n\n  <Tip>\n  Consider migrating to the [v2 Refund endpoint](/developers/api-reference/moneyinV2/refund-a-settled-transaction) to take advantage of unified response codes and improved response consistency.\n  </Tip>",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "description": "ReferenceId for the transaction (PaymentId).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "path",
            "description": "\nAmount to refund from original transaction, minus any service fees charged on the original transaction. \n\nThe amount provided can't be greater than the original total amount of the transaction, minus service fees. For example, if a transaction was \\$90 plus a \\$10 service fee, you can refund up to \\$90.\n\nAn amount equal to zero will refund the total amount authorized minus any service fee.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_moneyIn:RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/MoneyIn/refund/{transId}": {
      "post": {
        "operationId": "refund-with-instructions",
        "summary": "Refund a settled transaction with split instructions",
        "description": "Refunds a settled transaction with split instructions.",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "description": "ReferenceId for the transaction (PaymentId).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idempotencyKey",
            "in": "header",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:IdempotencyKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_moneyIn:RefundWithInstructionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "format": "double",
                    "description": "\nAmount to refund from original transaction, minus any service fees charged on the original transaction. \n\nThe amount provided can't be greater than the original total amount of the transaction, minus service fees. For example, if a transaction was $90 plus a $10 service fee, you can refund up to $90. \n\nAn amount equal to zero will refund the total amount authorized minus any service fee."
                  },
                  "ipaddress": {
                    "$ref": "#/components/schemas/type_:IpAddress"
                  },
                  "orderDescription": {
                    "$ref": "#/components/schemas/type_:Orderdescription"
                  },
                  "orderId": {
                    "$ref": "#/components/schemas/type_:OrderId"
                  },
                  "refundDetails": {
                    "$ref": "#/components/schemas/type_:RefundDetail"
                  },
                  "source": {
                    "$ref": "#/components/schemas/type_:Source"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/MoneyIn/details/{transId}": {
      "get": {
        "operationId": "details",
        "summary": "Get details for a processed transaction",
        "description": "Retrieve a processed transaction's details.",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "description": "ReferenceId for the transaction (PaymentId).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:TransactionQueryRecordsCustomer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/MoneyIn/makecredit": {
      "post": {
        "operationId": "credit",
        "summary": "Make an ACH credit transaction",
        "description": "Make a temporary microdeposit in a customer account to verify the customer's ownership and access to the target account. Reverse the microdeposit with `reverseCredit`. Payabli doesn't automatically make microdeposits when you add a bank account, you must manually make the requests.\n\nThis feature must be enabled by Payabli on a per-merchant basis. Contact support for help. ",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "forceCustomerCreation",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:ForceCustomerCreation"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idempotencyKey",
            "in": "header",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:IdempotencyKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The `referenceId` returned in a successful response is the `transId` value you need to reverse the microdeposit.\n\nA \"Missing Gateway Data\" message can indicate that the entrypoint targeted in the request isn't set up for ACH payments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse0"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountId": {
                    "$ref": "#/components/schemas/type_:AccountId"
                  },
                  "customerData": {
                    "$ref": "#/components/schemas/type_:PayorDataRequest",
                    "description": "Object describing the customer/payor."
                  },
                  "entrypoint": {
                    "$ref": "#/components/schemas/type_:Entrypointfield"
                  },
                  "orderDescription": {
                    "$ref": "#/components/schemas/type_:Orderdescription"
                  },
                  "orderId": {
                    "$ref": "#/components/schemas/type_:OrderId"
                  },
                  "paymentDetails": {
                    "$ref": "#/components/schemas/type_:PaymentDetailCredit"
                  },
                  "paymentMethod": {
                    "$ref": "#/components/schemas/type_moneyIn:RequestCreditPaymentMethod",
                    "description": "Object describing the ACH payment method to use for transaction."
                  },
                  "source": {
                    "$ref": "#/components/schemas/type_:Source"
                  },
                  "subdomain": {
                    "$ref": "#/components/schemas/type_:Subdomain"
                  }
                },
                "required": [
                  "customerData",
                  "paymentDetails",
                  "paymentMethod"
                ]
              }
            }
          }
        }
      }
    },
    "/MoneyIn/reverseCredit/{transId}": {
      "get": {
        "operationId": "reverse-credit",
        "summary": "Reverse an ACH credit transaction",
        "description": "Reverse microdeposits that are used to verify customer account ownership and access. The `transId` value is returned in the success response for the original credit transaction made with `api/MoneyIn/makecredit`.",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "description": "ReferenceId for the transaction (PaymentId).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/MoneyIn/validate": {
      "post": {
        "operationId": "validate",
        "summary": "Validate card",
        "description": "Validates a card number without running a transaction or authorizing a charge.",
        "tags": [
          "subpackage_moneyIn"
        ],
        "parameters": [
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idempotencyKey",
            "in": "header",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:IdempotencyKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_moneyIn:ValidateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountId": {
                    "$ref": "#/components/schemas/type_:AccountId"
                  },
                  "entryPoint": {
                    "$ref": "#/components/schemas/type_:Entrypointfield"
                  },
                  "orderDescription": {
                    "$ref": "#/components/schemas/type_:Orderdescription"
                  },
                  "orderId": {
                    "$ref": "#/components/schemas/type_:OrderId"
                  },
                  "paymentMethod": {
                    "$ref": "#/components/schemas/type_moneyIn:RequestPaymentValidatePaymentMethod",
                    "description": "Object describing payment method to use for transaction."
                  }
                },
                "required": [
                  "entryPoint",
                  "paymentMethod"
                ]
              }
            }
          }
        }
      }
    },
    "/CheckCapture/CheckProcessing": {
      "post": {
        "operationId": "check-processing",
        "summary": "Process Check Capture",
        "description": "Captures a check for Remote Deposit Capture (RDC) using the provided check images and details. This endpoint handles the OCR extraction of check data including MICR, routing number, account number, and amount. See the [RDC guide](/developers/developer-guides/pay-in-rdc) for more details.",
        "tags": [
          "subpackage_checkCapture"
        ],
        "parameters": [
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response with check processing results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_checkCapture:CheckCaptureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entryPoint": {
                    "$ref": "#/components/schemas/type_:Entry"
                  },
                  "frontImage": {
                    "type": "string",
                    "description": "Base64-encoded front check image. Must be JPEG or PNG format and less than 1MB. Image must show the entire check clearly with no partial, blurry, or illegible portions."
                  },
                  "rearImage": {
                    "type": "string",
                    "description": "Base64-encoded rear check image. Must be JPEG or PNG format and less than 1MB. Image must show the entire check clearly with no partial, blurry, or illegible portions."
                  },
                  "checkAmount": {
                    "type": "integer",
                    "description": "Check amount in cents (maximum 32-bit integer value)."
                  }
                },
                "required": [
                  "entryPoint",
                  "frontImage",
                  "rearImage",
                  "checkAmount"
                ]
              }
            }
          }
        }
      }
    },
    "/Query/transactions/{entry}": {
      "get": {
        "operationId": "list-transactions",
        "summary": "Get list of transactions for a paypoint",
        "description": "Retrieve a list of transactions for a paypoint. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.\nBy default, this endpoint returns only transactions from the last 60 days. To query transactions outside of this period, include `transactionDate` filters.\nFor example, this request parameters filter for transactions between April 01, 2024 and April 09, 2024. \n``` curl -X GET https://sandbox.payabli.com/api/Query/transactions/org/1?limitRecord=20&fromRecord=0&transactionDate(ge)=2024-04-01T00:00:00&transactionDate(le)=2024-04-09T23:59:59\\\n  -H 'requestToken: <API TOKEN>'\n\n  ```",
        "tags": [
          "subpackage_query"
        ],
        "parameters": [
          {
            "name": "entry",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/type_:Entry"
            }
          },
          {
            "name": "exportFormat",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:ExportFormat"
            }
          },
          {
            "name": "fromRecord",
            "in": "query",
            "description": "The number of records to skip before starting to collect the result set.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limitRecord",
            "in": "query",
            "description": "Max number of records to return for the query. Use `0` or negative value to return all records.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "parameters",
            "in": "query",
            "description": "\nCollection of field names, conditions, and values used to filter the query. \n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\nSee [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more information.\n\n**List of field names accepted:**\n\n- `transactionDate` (gt, ge, lt, le, eq, ne)\n- `transId` (ne, eq, ct, nct, in, nin)\n- `gatewayTransId` (ne, eq, ct, nct)\n- `orderId` (ne, eq)\n- `scheduleId` (ne, eq)\n- `returnId` (ne, eq)\n- `refundId` (ne, eq)\n- `idTrans` (ne, eq)\n- `orgId` (ne, eq)\n- `paypointId` (ne, eq)\n- `paypointLegal` (ne, eq, ct, nct)\n- `paypointDba` (ne, eq, ct, nct)\n- `orgName` (ne, eq, ct, nct)\n- `externalPaypointId` (ct, nct, eq, ne)\n- `method` (in, nin, eq, ne)\n- `totalAmount` (gt, ge, lt, le, eq, ne)\n- `netAmount` (gt, ge, lt, le, eq, ne)\n- `feeAmount` (gt, ge, lt, le, eq, ne)\n- `operation` (in, nin, eq, ne)\n- `source` (in, nin, eq, ne, ct, nct)\n- `status` (in, nin, eq, ne)\n- `settlementStatus` (in, nin, eq, ne)\n- `batchNumber` (nct, ct)\n- `invoiceNumber` (ct, nct)\n- `ipAddress` (eq, ne)\n- `authCode` (ct, nct)\n- `orderDescription` (ct, nct)\n- `payaccountLastfour` (nct, ct)\n- `payaccountType` (ne, eq, in, nin)\n- `payaccountCurrency` (ne, eq, in, nin)\n- `customerFirstname` (ct, nct, eq, ne)\n- `customerLastname` (ct, nct, eq, ne)\n- `customerName` (ct, nct)\n- `customerId` (eq, ne)\n- `customerNumber` (ct, nct, eq, ne)\n- `customerCompanyname` (ct, nct, eq, ne)\n- `customerAddress` (ct, nct, eq, ne)\n- `customerCity` (ct, nct, eq, ne)\n- `customerZip` (ct, nct, eq, ne)\n- `customerState` (ct, nct, eq, ne)\n- `customerCountry` (ct, nct, eq, ne)\n- `customerPhone` (ct, nct, eq, ne)\n- `customerEmail` (ct, nct, eq, ne)\n- `customerShippingAddress` (ct, nct, eq, ne)\n- `customerShippingCity` (ct, nct, eq, ne)\n- `customerShippingZip` (ct, nct, eq, ne)\n- `customerShippingState` (ct, nct, eq, ne)\n- `customerShippingCountry` (ct, nct, eq, ne)\n- `deviceId` (ct, nct, in, nin, eq, ne)\n- `AchSecCode` ( ct, nct, in, nin, eq, ne)\n- `AchHolderType` (ct, nct, in, nin, eq, and ne)\n- `additional-xxx` (ne, eq, ct, nct) where xxx is the additional field name related to customer data\n- 'invoiceAdditional-xxx' (ne, eq, ct, nct) where xxx is the additional field name related to invoice data\n\n**List of comparison operators accepted:**\n- `eq` or empty => equal\n- `gt` => greater than\n- `ge` => greater or equal\n- `lt` => less than\n- `le` => less or equal\n- `ne` => not equal\n- `ct` => contains\n- `nct` => not contains\n- `in` => inside array\n- `nin` => not inside array",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:QueryResponseTransactions"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Query/transactions/org/{orgId}": {
      "get": {
        "operationId": "list-transactions-org",
        "summary": "Get list of transactions for an organization",
        "description": "\nRetrieve a list of transactions for an organization. Use filters to\nlimit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.\n\n\nBy default, this endpoint returns only transactions from the last 60 days. To query transactions outside of this period, include `transactionDate` filters.\n\nFor example, this request parameters filter for transactions between April 01, 2024 and April 09, 2024. \n\n```\ncurl -X GET \"https://sandbox.payabli.com/api/Query/transactions/org/1?limitRecord=20&fromRecord=0&transactionDate(ge)=2024-04-01T00:00:00&transactionDate(le)=2024-04-09T23:59:59\"\\\n  -H 'requestToken: <API TOKEN>'\n\n  ```",
        "tags": [
          "subpackage_query"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "The numeric identifier for organization, assigned by Payabli.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "exportFormat",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:ExportFormat"
            }
          },
          {
            "name": "fromRecord",
            "in": "query",
            "description": "The number of records to skip before starting to collect the result set.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limitRecord",
            "in": "query",
            "description": "Max number of records to return for the query. Use `0` or negative value to return all records.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "parameters",
            "in": "query",
            "description": "\nCollection of field names, conditions, and values used to filter the query. \n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\nSee [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more information.\n\n**List of field names accepted:**\n\n- `transactionDate` (gt, ge, lt, le, eq, ne)\n- `transId` (ne, eq, ct, nct, in, nin)\n- `gatewayTransId` (ne, eq, ct, nct)\n- `orderId` (ne, eq)\n- `scheduleId` (ne, eq)\n- `returnId` (ne, eq)\n- `refundId` (ne, eq)\n- `idTrans` (ne, eq)\n- `orgId` (ne, eq)\n- `paypointId` (ne, eq)\n- `paypointLegal` (ne, eq, ct, nct)\n- `paypointDba` (ne, eq, ct, nct)\n- `orgName` (ne, eq, ct, nct)\n- `externalPaypointId` (ct, nct, eq, ne)\n- `method` (in, nin, eq, ne)\n- `totalAmount` (gt, ge, lt, le, eq, ne)\n- `netAmount` (gt, ge, lt, le, eq, ne)\n- `feeAmount` (gt, ge, lt, le, eq, ne)\n- `operation` (in, nin, eq, ne)\n- `source` (in, nin, eq, ne, ct, nct)\n- `status` (in, nin, eq, ne)\n- `settlementStatus` (in, nin, eq, ne)\n- `batchNumber` (nct, ct)\n- `invoiceNumber` (ct, nct)\n- `authCode` (ct, nct)\n- `orderDescription` (ct, nct)\n- `payaccountLastfour` (nct, ct)\n- `payaccountType` (ne, eq, in, nin)\n- `payaccountCurrency` (ne, eq, in, nin)\n- `customerFirstname` (ct, nct, eq, ne)\n- `customerLastname` (ct, nct, eq, ne)\n- `customerName` (ct, nct)\n- `customerId` (eq, ne)\n- `customerNumber` (ct, nct, eq, ne)\n- `customerCompanyname` (ct, nct, eq, ne)\n- `customerAddress` (ct, nct, eq, ne)\n- `customerCity` (ct, nct, eq, ne)\n- `customerZip` (ct, nct, eq, ne)\n- `customerState` (ct, nct, eq, ne)\n- `customerCountry` (ct, nct, eq, ne)\n- `customerPhone` (ct, nct, eq, ne)\n- `customerEmail` (ct, nct, eq, ne)\n- `customerShippingAddress` (ct, nct, eq, ne)\n- `customerShippingCity` (ct, nct, eq, ne)\n- `customerShippingZip` (ct, nct, eq, ne)\n- `customerShippingState` (ct, nct, eq, ne)\n- `customerShippingCountry` (ct, nct, eq, ne)\n- `deviceId` (ct, nct, in, nin, eq, ne)\n- `AchSecCode` ( ct, nct, in, nin, eq, ne)\n- `AchHolderType`` (ct, nct, in, nin, eq, and ne)\n- `additional-xxx` (ne, eq, ct, nct) where xxx is the additional field name related to customer data\n- 'invoiceAdditional-xxx' (ne, eq, ct, nct) where xxx is the additional field name related to invoice data\n\n**List of comparison operators accepted:**\n- `eq` or empty => equal\n- `gt` => greater than\n- `ge` => greater or equal\n- `lt` => less than\n- `le` => less or equal\n- `ne` => not equal\n- `ct` => contains\n- `nct` => not contains\n- `in` => inside array\n- `nin` => not inside array",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:QueryResponseTransactions"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Query/settlements/{entry}": {
      "get": {
        "operationId": "list-settlements",
        "summary": "Get list of settled transactions for a paypoint",
        "description": "Retrieve a list of settled transactions for a paypoint. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.",
        "tags": [
          "subpackage_query"
        ],
        "parameters": [
          {
            "name": "entry",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/type_:Entry"
            }
          },
          {
            "name": "exportFormat",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:ExportFormat"
            }
          },
          {
            "name": "fromRecord",
            "in": "query",
            "description": "The number of records to skip before starting to collect the result set.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limitRecord",
            "in": "query",
            "description": "Max number of records to return for the query. Use `0` or negative value to return all records.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "parameters",
            "in": "query",
            "description": "\nCollection of field names, conditions, and values used to filter the query. \n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\n\nSee [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more information.\n\n**List of field names accepted:**\n\n- `settlementDate` (gt, ge, lt, le, eq, ne)\n- `depositDate` (gt, ge, lt, le, eq, ne)\n- `transId`  (ne, eq, ct, nct)\n- `gatewayTransId`  (ne, eq, ct, nct)\n- `method`   (in, nin, eq, ne)\n- `settledAmount`  (gt, ge, lt, le, eq, ne)\n- `operation`    (in, nin, eq, ne)\n- `source`   (in, nin, eq, ne)\n- `batchNumber`  (ct, nct, eq, ne)\n- `payaccountLastfour`   (nct, ct)\n- `payaccountType`   (ne, eq, in, nin)\n- `customerFirstname`   (ct, nct, eq, ne)\n- `customerLastname`    (ct, nct, eq, ne)\n- `customerName`   (ct, nct)\n- `customerId`  (eq, ne)\n- `customerNumber`  (ct, nct, eq, ne)\n- `customerCompanyname`    (ct, nct, eq, ne)\n- `customerAddress` (ct, nct, eq, ne)\n- `customerCity`    (ct, nct, eq, ne)\n- `customerZip` (ct, nct, eq, ne)\n- `customerState` (ct, nct, eq, ne)\n- `customerCountry` (ct, nct, eq, ne)\n- `customerPhone` (ct, nct, eq, ne)\n- `customerEmail` (ct, nct, eq, ne)\n- `customerShippingAddress` (ct, nct, eq, ne)\n- `customerShippingCity`    (ct, nct, eq, ne)\n- `customerShippingZip` (ct, nct, eq, ne)\n- `customerShippingState` (ct, nct, eq, ne)\n- `customerShippingCountry` (ct, nct, eq, ne)\n- `orgId`  (eq) *mandatory when entry=org*\n- `isHold` (eq, ne)\n- `paypointId`  (ne, eq)\n- `paypointLegal`  (ne, eq, ct, nct)\n- `paypointDba`  (ne, eq, ct, nct)\n- `orgName`  (ne, eq, ct, nct)\n- `batchId` (ct, nct, eq, neq)\n- `additional-xxx`  (ne, eq, ct, nct) where xxx is the additional field name\n\n**List of comparison accepted:**\n- `eq` or empty => equal\n- `gt` => greater than\n- `ge` => greater or equal\n- `lt` => less than\n- `le` => less or equal\n- `ne` => not equal\n- `ct` => contains\n- `nct` => not contains\n- `in` => inside array separated by \"|\"\n- `nin` => not inside array separated by \"|\"\n\n**List of parameters accepted:**\n\n- `limitRecord`: max number of records for query (default=\"20\", \"0\" or negative value for all)\n- `fromRecord`: initial record in query\n\nExample: `settledAmount(gt)=20` returns all records with a `settledAmount` greater than 20.00.",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:QueryResponseSettlements"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Query/settlements/org/{orgId}": {
      "get": {
        "operationId": "list-settlements-org",
        "summary": "Get list of settled transactions for an org",
        "description": "Retrieve a list of settled transactions for an organization. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.",
        "tags": [
          "subpackage_query"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "The numeric identifier for organization, assigned by Payabli.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "exportFormat",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:ExportFormat"
            }
          },
          {
            "name": "fromRecord",
            "in": "query",
            "description": "The number of records to skip before starting to collect the result set.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limitRecord",
            "in": "query",
            "description": "Max number of records to return for the query. Use `0` or negative value to return all records.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "parameters",
            "in": "query",
            "description": "\nCollection of field names, conditions, and values used to filter the query. \n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\n\nSee [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more information.\n\n**List of field names accepted:**\n\n- `settlementDate` (gt, ge, lt, le, eq, ne)\n- `depositDate` (gt, ge, lt, le, eq, ne)\n- `transId`  (ne, eq, ct, nct)\n- `gatewayTransId`  (ne, eq, ct, nct)\n- `method`   (in, nin, eq, ne)\n- `settledAmount`  (gt, ge, lt, le, eq, ne)\n- `operation`    (in, nin, eq, ne)\n- `source`   (in, nin, eq, ne)\n- `batchNumber`  (ct, nct, eq, ne)\n- `payaccountLastfour`   (nct, ct)\n- `payaccountType`   (ne, eq, in, nin)\n- `customerFirstname`   (ct, nct, eq, ne)\n- `customerLastname`    (ct, nct, eq, ne)\n- `customerName`   (ct, nct)\n- `customerId`  (eq, ne)\n- `customerNumber`  (ct, nct, eq, ne)\n- `customerCompanyname`    (ct, nct, eq, ne)\n- `customerAddress` (ct, nct, eq, ne)\n- `customerCity`    (ct, nct, eq, ne)\n- `customerZip` (ct, nct, eq, ne)\n- `customerState` (ct, nct, eq, ne)\n- `customerCountry` (ct, nct, eq, ne)\n- `customerPhone` (ct, nct, eq, ne)\n- `customerEmail` (ct, nct, eq, ne)\n- `customerShippingAddress` (ct, nct, eq, ne)\n- `customerShippingCity`    (ct, nct, eq, ne)\n- `customerShippingZip` (ct, nct, eq, ne)\n- `customerShippingState` (ct, nct, eq, ne)\n- `customerShippingCountry` (ct, nct, eq, ne)\n- `orgId`  (eq) *mandatory when entry=org*\n- `isHold` (eq, ne)\n- `paypointId`  (ne, eq)\n- `paypointLegal`  (ne, eq, ct, nct)\n- `paypointDba`  (ne, eq, ct, nct)\n- `orgName`  (ne, eq, ct, nct)\n- `batchId` (ct, nct, eq, neq)\n- `additional-xxx`  (ne, eq, ct, nct) where xxx is the additional field name\n\n**List of comparison accepted:**\n- `eq` or empty => equal\n- `gt` => greater than\n- `ge` => greater or equal\n- `lt` => less than\n- `le` => less or equal\n- `ne` => not equal\n- `ct` => contains\n- `nct` => not contains\n- `in` => inside array separated by \"|\"\n- `nin` => not inside array separated by \"|\"\n\n**List of parameters accepted:**\n\n- `limitRecord`: max number of records for query (default=\"20\", \"0\" or negative value for all)\n- `fromRecord`: initial record in query\n\nExample: `settledAmount(gt)=20` returns all records with a `settledAmount` greater than 20.00.",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestToken",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:QueryResponseSettlements"
                }
              }
            }
          },
          "400": {
            "description": "Bad request/ invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "500": {
            "description": "Internal API Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "503": {
            "description": "Database connection error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/type_:PayabliApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Query/batches/{entry}": {
      "get": {
        "operationId": "list-batches",
        "summary": "Get list of batches for a paypoint",
        "description": "Retrieve a list of batches for a paypoint. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.",
        "tags": [
          "subpackage_query"
        ],
        "parameters": [
          {
            "name": "entry",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/type_:Entry"
            }
          },
          {
            "name": "exportFormat",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/type_:ExportFormat"
            }
          },
          {
            "name": "fromRecord",
            "in": "query",
            "description": "The number of records to skip before starting to collect the result set.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limitRecord",
            "in": "query",
            "description": "Max number of records to return for the query. Use `0` or negative value to return all records.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "parameters",
            "in": "query",
            "description": "Collection of field names, conditions, and values used to filter the query. \n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\n\nSee [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more information.\n\n**List of field names accepted:**\n\n- `batchDate` (gt, ge, lt, le, eq, ne)\n- `batchNumber` (ne, eq)\n- `method` (in, nin, eq, ne)\n- `connectorName` (ne, eq, ct, nct)\n- `batchAmount` (gt, ge, lt, le, eq, ne)\n- `feeBatchAmount` (gt, ge, lt, le, eq, ne)\n- `netBatchAmount` (gt, ge, lt, le, eq, ne)\n- `releaseAmount` (gt, ge, lt, le, eq, ne)\n- `heldAmount` (gt, ge, lt, le, eq, ne)\n- `status` (in, nin, eq, ne)\n- `paypointLegal` (ne, eq, ct, nct)\n- `paypointDba` (ne, eq, ct, nct)\n- `orgName` (ne, eq, ct, nct)\n- `paypointId` (ne, eq)\n- `externalPaypointID` (ct, nct, eq, ne)\n- `expectedDepositDate` (gt, ge, lt, le, eq, ne)\n- `depositDate` (gt, ge, lt, le, eq, ne)\n- `batchRecords` (gt, ge, lt, le, eq, ne)\n- `transferId` (ne, eq)\n- `transferDate` (gt, ge, lt, le, eq, ne)\n- `grossAmount` (gt, ge, lt, le, eq, ne)\n- `chargeBackAmount` (gt, ge, lt, le, eq, ne)\n- `returnedAmount` (gt, ge, lt, le, eq, ne)\n- `billingFeeAmount` (gt, ge, lt, le, eq, ne)\n- `thirdPartyPaidAmount` (gt, ge, lt, le, eq, ne)\n- `netFundedAmount` (gt, ge, lt, le, eq, ne)\n- `adjustmentAmount` (gt, ge, lt, le, eq, ne)\n- `processor` (ne, eq, ct, nct)\n- `transferStatus` (ne, eq, in, nin)\n\n**List of parameters accepted:**\n- `limitRecord`: max number of records for query (default=\"20\", \"0\" or negative value for all)\n- `fromRecord`: initial record in query\n\nExample: `batchAmount(gt)=20` returns all records with a `batchAmount` greater than 20.00",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "sortBy",
            "in": "query",
[...]
