{
  "swagger": "2.0",
  "info": {
    "description": "Api encargada de la administracion de las bovedas de tokenizacion",
    "version": "v2",
    "title": "API Visanet Tokenization",
    "termsOfService": "http://www.visanet.com.pe",
    "contact": {
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe",
      "email": "visanet@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.tokenization/v2/swagger.json"
  },
  "host": "apitestenv.vnforapps.com",
  "basePath": "/api.tokenization/v2",
  "tags": [
    {
      "name": "Tokenization",
      "description": "RESTful API to manage tokenization."
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/card/management/remove/{merchantId}/{queryType}/{block}/{attribute}": {
      "post": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Remove",
        "description": "RESTful API to remove a token.",
        "operationId": "remove",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Identificador del merchant",
            "required": true,
            "type": "string"
          },
          {
            "name": "queryType",
            "in": "path",
            "description": "Tipo de consulta hash/token",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "description": "Bloque de almacenamiento",
            "required": true,
            "type": "string"
          },
          {
            "name": "attribute",
            "in": "path",
            "description": "Identificador del item",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TokenResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/card/management/retrieve/{merchantId}/{block}": {
      "get": {
        "tags": [
          "Tokenization"
        ],
        "summary": "RetrieveList",
        "description": "RESTful API to retrieve a list of tokens.",
        "operationId": "retrieveList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Identificador del merchant",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "description": "Bloque de almacenamiento",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TokenResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/card/management/retrieve/{merchantId}/{queryType}/{block}/{attribute}": {
      "get": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Retrieve",
        "description": "RESTful API to retrieve one token.",
        "operationId": "retrieve",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Identificador del comercio",
            "required": true,
            "type": "string"
          },
          {
            "name": "queryType",
            "in": "path",
            "description": "Tipo de consulta hash/token",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "description": "Bloque de almacenamiento",
            "required": true,
            "type": "string"
          },
          {
            "name": "attribute",
            "in": "path",
            "description": "Identificador del item",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RetrieveResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/card/management/store": {
      "post": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Store",
        "description": "RESTful API to store a card.",
        "operationId": "store",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Tokenize card request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CardTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/StoreResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/card/management/store/list": {
      "post": {
        "tags": [
          "Tokenization"
        ],
        "summary": "StoreList",
        "description": "RESTful API to store multiple card tokens.",
        "operationId": "storeList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of cards to tokenize",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CardListTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/StoreListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/tokenize/remove/{vault}/{queryType}/{block}/{attribute}": {
      "post": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Remove",
        "description": "RESTful API to remove tokens.",
        "operationId": "removeByAttribute",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "description": "Identificador de la boveda",
            "required": true,
            "type": "string"
          },
          {
            "name": "queryType",
            "in": "path",
            "description": "Tipo de consulta hash/token",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "description": "Bloque de almacenamiento",
            "required": true,
            "type": "string"
          },
          {
            "name": "attribute",
            "in": "path",
            "description": "Identificador del item",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TokenResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/tokenize/retrieve/{vault}/{block}": {
      "get": {
        "tags": [
          "Tokenization"
        ],
        "summary": "RetrieveList",
        "description": "RESTful API to retrieve list of tokens.",
        "operationId": "retrieveTokenList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "description": "Identificador de la boveda",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "description": "Bloque de almacenamiento",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TokenResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/tokenize/retrieve/{vault}/{queryType}/{block}/{attribute}": {
      "get": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Retrieve",
        "description": "RESTful API to retrieve one token.",
        "operationId": "retrieveToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "description": "Identificador de la boveda",
            "required": true,
            "type": "string"
          },
          {
            "name": "queryType",
            "in": "path",
            "description": "Tipo de consulta hash/token",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "description": "Bloque de almacenamiento",
            "required": true,
            "type": "string"
          },
          {
            "name": "attribute",
            "in": "path",
            "description": "Identificador del item",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RetrieveResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/tokenize/store": {
      "post": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Store",
        "description": "RESTful API to store tokens.",
        "operationId": "storeToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Tokenize item request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TokenizationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/StoreResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/tokenize/store/list": {
      "post": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Store",
        "description": "RESTful API to store multiple tokens.",
        "operationId": "storeTokenList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of items to tokenize",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TokenizationListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/StoreListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "description": "Access token obtained from api.security",
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "Card": {
      "type": "object",
      "required": [
        "cardNumber",
        "expirationMonth",
        "expirationYear"
      ],
      "properties": {
        "cardNumber": {
          "type": "string",
          "description": "Card account number"
        },
        "expirationMonth": {
          "type": "string",
          "example": "09",
          "description": "Expiration month"
        },
        "expirationYear": {
          "type": "string",
          "example": "18",
          "description": "Expiration year"
        },
        "expirationYearMonth": {
          "type": "string",
          "example": "1809",
          "description": "Expiration year month",
          "readOnly": true
        },
        "firstName": {
          "type": "string",
          "example": "Luis",
          "description": "First card holder name"
        },
        "lastName": {
          "type": "string",
          "example": "Perez",
          "description": "Last card holder name"
        }
      },
      "description": "Card information"
    },
    "CardListTokenRequest": {
      "type": "object",
      "required": [
        "channel",
        "merchantId",
        "payloads"
      ],
      "properties": {
        "channel": {
          "type": "string",
          "example": "web",
          "description": "Channel which request the token",
          "enum": [
            "mobile",
            "web",
            "mpos",
            "host",
            "pos",
            "kiosk",
            "callcenter",
            "recurrent"
          ]
        },
        "merchantId": {
          "type": "string",
          "example": "341198210",
          "description": "Merchant identifier"
        },
        "payloads": {
          "type": "array",
          "description": "Payload information to tokenize",
          "items": {
            "$ref": "#/definitions/CardRow"
          }
        }
      },
      "description": "Store multiple tokens request"
    },
    "CardRow": {
      "type": "object",
      "required": [
        "block",
        "card",
        "id"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Row identifier inside request"
        },
        "block": {
          "type": "string",
          "example": "email/phone or an unique identifier",
          "description": "Grouping key inside the vault"
        },
        "update": {
          "type": "boolean",
          "example": true,
          "description": "Flag que indica si el request actualizara la boveda en caso de existir"
        },
        "card": {
          "description": "Card information to tokenize",
          "$ref": "#/definitions/Card"
        }
      },
      "description": "Request para tokenizar multiple cards"
    },
    "CardTokenRequest": {
      "type": "object",
      "required": [
        "block",
        "card",
        "channel",
        "merchantId"
      ],
      "properties": {
        "channel": {
          "type": "string",
          "example": "web",
          "description": "Channel which request the token",
          "enum": [
            "mobile",
            "web",
            "mpos",
            "host",
            "pos",
            "kiosk",
            "callcenter",
            "recurrent",
            "pasarela"
          ]
        },
        "merchantId": {
          "type": "string",
          "example": "341198210",
          "description": "Merchant identifier"
        },
        "block": {
          "type": "string",
          "example": "email/phone or an unique identifier",
          "description": "Grouping key inside the vault"
        },
        "update": {
          "type": "boolean",
          "example": true,
          "description": "Flag que indica si el request actualizara la boveda en caso de existir"
        },
        "card": {
          "description": "Card information to tokenize",
          "$ref": "#/definitions/Card"
        }
      },
      "description": "Card token request"
    },
    "Payload": {
      "type": "object",
      "required": [
        "key",
        "value"
      ],
      "properties": {
        "key": {
          "type": "string",
          "description": "Llave que representara el hash de tokenizacion"
        },
        "expireOn": {
          "type": "string",
          "example": "180927211807",
          "description": "Fecha en la que se espera expire el token, puede o no ser aceptada",
          "enum": [
            "yyMMddHHmmss"
          ]
        },
        "update": {
          "type": "boolean",
          "example": true,
          "description": "Flag que indica si el request actualizara la boveda en caso de existir"
        },
        "value": {
          "type": "string",
          "description": "Informacion a tokenizar"
        }
      },
      "description": "Request generico para tokenizar items"
    },
    "PayloadRow": {
      "type": "object",
      "required": [
        "block",
        "id",
        "key",
        "value"
      ],
      "properties": {
        "key": {
          "type": "string",
          "description": "Llave que representara el hash de tokenizacion"
        },
        "expireOn": {
          "type": "string",
          "example": "180927211807",
          "description": "Fecha en la que se espera expire el token, puede o no ser aceptada",
          "enum": [
            "yyMMddHHmmss"
          ]
        },
        "update": {
          "type": "boolean",
          "example": true,
          "description": "Flag que indica si el request actualizara la boveda en caso de existir"
        },
        "value": {
          "type": "string",
          "description": "Informacion a tokenizar"
        },
        "id": {
          "type": "string",
          "description": "Identificador de la fila dentro del request"
        },
        "block": {
          "type": "string",
          "description": "Identificador del bloque dentro de la boveda"
        }
      },
      "description": "Request generico para tokenizar multiple items"
    },
    "RetrieveResponse": {
      "type": "object",
      "required": [
        "responseCode",
        "responseMessage",
        "result"
      ],
      "properties": {
        "responseCode": {
          "type": "integer",
          "format": "int32",
          "description": "Codigo de respuesta del sistema de tokenizacion"
        },
        "responseMessage": {
          "type": "string",
          "description": "Mensaje de respuesta del sistema de tokenizacion"
        },
        "result": {
          "type": "string",
          "description": "Resultado de la consulta"
        }
      },
      "description": "Respuesta de la boveda al consultar su contenido"
    },
    "StoreListResponse": {
      "type": "object",
      "required": [
        "responseCode",
        "responseMessage"
      ],
      "properties": {
        "responseCode": {
          "type": "integer",
          "format": "int32",
          "description": "Codigo de respuesta del sistema de tokenizacion"
        },
        "responseMessage": {
          "type": "string",
          "description": "Mensaje de respuesta del sistema de tokenizacion"
        },
        "result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TokenizerRowResponse"
          }
        }
      },
      "description": "Respuesta de la boveda a solicitud de almacenamiento"
    },
    "StoreResponse": {
      "type": "object",
      "required": [
        "responseCode",
        "responseMessage"
      ],
      "properties": {
        "responseCode": {
          "type": "integer",
          "format": "int32",
          "description": "Codigo de respuesta del sistema de tokenizacion"
        },
        "responseMessage": {
          "type": "string",
          "description": "Mensaje de respuesta del sistema de tokenizacion"
        },
        "result": {
          "$ref": "#/definitions/TokenizerResponse"
        }
      },
      "description": "Respuesta de la boveda a solicitud de almacenamiento"
    },
    "TokenResponse": {
      "type": "object",
      "required": [
        "responseCode",
        "responseMessage",
        "result"
      ],
      "properties": {
        "responseCode": {
          "type": "integer",
          "format": "int32",
          "description": "Codigo de respuesta del sistema de tokenizacion"
        },
        "responseMessage": {
          "type": "string",
          "description": "Mensaje de respuesta del sistema de tokenizacion"
        },
        "result": {
          "type": "array",
          "description": "Listado de items de la boveda de tokenizacion",
          "items": {
            "$ref": "#/definitions/TokenizerResponse"
          }
        }
      },
      "description": "Tokenization Response"
    },
    "TokenizationListRequest": {
      "type": "object",
      "required": [
        "payloads",
        "vault"
      ],
      "properties": {
        "vault": {
          "type": "string",
          "description": "Identificador de la boveda de tokenizacion"
        },
        "payloads": {
          "type": "array",
          "description": "Mensajes a almacenar en la boveda de tokenizacion",
          "items": {
            "$ref": "#/definitions/PayloadRow"
          }
        }
      },
      "description": "Store multiple token request"
    },
    "TokenizationRequest": {
      "type": "object",
      "required": [
        "block",
        "payload",
        "vault"
      ],
      "properties": {
        "vault": {
          "type": "string",
          "description": "Identificador de la boveda de tokenizacion"
        },
        "block": {
          "type": "string",
          "description": "Identificador del bloque dentro de la boveda"
        },
        "payload": {
          "description": "Mensaje a almacenar en la boveda de tokenizacion",
          "$ref": "#/definitions/Payload"
        }
      },
      "description": "Store token request"
    },
    "TokenizerResponse": {
      "type": "object",
      "required": [
        "expireOn",
        "hash",
        "token",
        "value"
      ],
      "properties": {
        "token": {
          "type": "string",
          "description": "Token unico del objeto tokenizado"
        },
        "hash": {
          "type": "string",
          "description": "Hash representativo del objeto tokenizado"
        },
        "expireOn": {
          "type": "string",
          "example": "180919082216",
          "description": "Fecha y hora de expiracion"
        },
        "value": {
          "type": "string",
          "description": "Informacion tokenizada"
        }
      },
      "description": "Entidad que representa un item dentro de la boveda de tokenizacion"
    },
    "TokenizerRowResponse": {
      "type": "object",
      "required": [
        "expireOn",
        "hash",
        "id",
        "token",
        "value"
      ],
      "properties": {
        "token": {
          "type": "string",
          "description": "Token unico del objeto tokenizado"
        },
        "hash": {
          "type": "string",
          "description": "Hash representativo del objeto tokenizado"
        },
        "expireOn": {
          "type": "string",
          "example": "180919082216",
          "description": "Fecha y hora de expiracion"
        },
        "value": {
          "type": "string",
          "description": "Informacion tokenizada"
        },
        "id": {
          "type": "string",
          "description": "Id unico del objeto tokenizado"
        }
      },
      "description": "Entidad que representa un item dentro de la boveda de tokenizacion"
    }
  }
}