{
  "openapi": "3.0.3",
  "info": {
    "title": "WeChat Pay JSAPI Payment API",
    "description": "WeChat Pay JSAPI Payment API (v3) for merchants to create orders, query order status, and close orders for payments within the WeChat ecosystem (in-app browser and Mini Programs).",
    "version": "3",
    "x-jentic-source-url": "https://pay.weixin.qq.com/doc/v3/merchant/4012791862",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.mch.weixin.qq.com",
      "description": "Primary domain (nearest access point)"
    },
    {
      "url": "https://api2.mch.weixin.qq.com",
      "description": "Backup domain (alternate access point)"
    }
  ],
  "paths": {
    "/v3/pay/transactions/jsapi": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create JSAPI/Mini Program payment order",
        "description": "Create a prepay order for JSAPI (WeChat in-app browser) or Mini Program payment scenarios. Returns a prepay_id used to invoke payment on the client.",
        "operationId": "createJsapiOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - parameter error or invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - signature verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no authorization or duplicate order number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "wechatPaySignature": []
          }
        ]
      }
    },
    "/v3/pay/transactions/id/{transaction_id}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Query order by WeChat Pay transaction ID",
        "description": "Query order status using the WeChat Pay transaction ID. Only works for orders that have been paid.",
        "operationId": "queryOrderByTransactionId",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "description": "WeChat Pay transaction ID (unique order identifier on WeChat Pay side)",
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          },
          {
            "name": "mchid",
            "in": "query",
            "required": true,
            "description": "Merchant ID used when creating the order",
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderQueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "wechatPaySignature": []
          }
        ]
      }
    },
    "/v3/pay/transactions/out-trade-no/{out_trade_no}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Query order by merchant order number",
        "description": "Query order status using the merchant's own order number. Can be used for both paid and unpaid orders.",
        "operationId": "queryOrderByOutTradeNo",
        "parameters": [
          {
            "name": "out_trade_no",
            "in": "path",
            "required": true,
            "description": "Merchant's internal order number",
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          },
          {
            "name": "mchid",
            "in": "query",
            "required": true,
            "description": "Merchant ID used when creating the order",
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderQueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "wechatPaySignature": []
          }
        ]
      }
    },
    "/v3/pay/transactions/out-trade-no/{out_trade_no}/close": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Close an unpaid order",
        "description": "Close an unpaid order. Used when the user cancels or the order times out without payment.",
        "operationId": "closeOrder",
        "parameters": [
          {
            "name": "out_trade_no",
            "in": "path",
            "required": true,
            "description": "Merchant's internal order number",
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloseOrderRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Order closed successfully (no response body)"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "wechatPaySignature": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "wechatPaySignature": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "WeChat Pay signature authentication. Format: WECHATPAY2-SHA256-RSA2048 mchid=\"...\",nonce_str=\"...\",timestamp=\"...\",serial_no=\"...\",signature=\"...\""
      }
    },
    "schemas": {
      "Amount": {
        "type": "object",
        "required": [
          "total"
        ],
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total amount in the smallest currency unit (e.g., fen for CNY)"
          },
          "currency": {
            "type": "string",
            "default": "CNY",
            "description": "Currency code (e.g., CNY)"
          }
        }
      },
      "AmountResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total order amount in smallest currency unit"
          },
          "payer_total": {
            "type": "integer",
            "description": "Amount paid by the payer"
          },
          "currency": {
            "type": "string"
          },
          "payer_currency": {
            "type": "string"
          }
        }
      },
      "PayerInfo": {
        "type": "object",
        "required": [
          "openid"
        ],
        "properties": {
          "openid": {
            "type": "string",
            "description": "User's OpenID under the merchant's AppID"
          }
        }
      },
      "GoodsDetail": {
        "type": "object",
        "properties": {
          "merchant_goods_id": {
            "type": "string",
            "description": "Merchant-side goods ID"
          },
          "wechatpay_goods_id": {
            "type": "string",
            "description": "WeChat Pay goods ID"
          },
          "goods_name": {
            "type": "string",
            "description": "Goods name"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity"
          },
          "unit_price": {
            "type": "integer",
            "description": "Unit price in smallest currency unit"
          }
        }
      },
      "OrderDetail": {
        "type": "object",
        "properties": {
          "cost_price": {
            "type": "integer",
            "description": "Original price in smallest currency unit"
          },
          "invoice_id": {
            "type": "string",
            "description": "Invoice ID"
          },
          "goods_detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GoodsDetail"
            }
          }
        }
      },
      "StoreInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Store ID"
          },
          "name": {
            "type": "string",
            "description": "Store name"
          },
          "area_code": {
            "type": "string",
            "description": "Area code"
          },
          "address": {
            "type": "string",
            "description": "Store address"
          }
        }
      },
      "SceneInfo": {
        "type": "object",
        "properties": {
          "payer_client_ip": {
            "type": "string",
            "description": "Payer client IP address"
          },
          "device_id": {
            "type": "string",
            "description": "Device ID"
          },
          "store_info": {
            "$ref": "#/components/schemas/StoreInfo"
          }
        }
      },
      "SettleInfo": {
        "type": "object",
        "properties": {
          "profit_sharing": {
            "type": "boolean",
            "description": "Whether profit sharing is enabled"
          }
        }
      },
      "CreateOrderRequest": {
        "type": "object",
        "required": [
          "appid",
          "mchid",
          "description",
          "out_trade_no",
          "notify_url",
          "amount",
          "payer"
        ],
        "properties": {
          "appid": {
            "type": "string",
            "maxLength": 32,
            "description": "WeChat Open Platform or Official Account AppID"
          },
          "mchid": {
            "type": "string",
            "maxLength": 32,
            "description": "Merchant ID assigned by WeChat Pay"
          },
          "description": {
            "type": "string",
            "maxLength": 127,
            "description": "Product description visible on user's WeChat bill"
          },
          "out_trade_no": {
            "type": "string",
            "maxLength": 32,
            "description": "Merchant's internal order number (6-32 chars, alphanumeric and _-|*)"
          },
          "time_expire": {
            "type": "string",
            "description": "Payment expiration time in RFC 3339 format"
          },
          "attach": {
            "type": "string",
            "maxLength": 128,
            "description": "Custom merchant data (returned in callbacks)"
          },
          "notify_url": {
            "type": "string",
            "maxLength": 255,
            "format": "uri",
            "description": "URL to receive payment success notifications"
          },
          "goods_tag": {
            "type": "string",
            "maxLength": 32,
            "description": "Order discount tag for coupon matching"
          },
          "support_fapiao": {
            "type": "boolean",
            "description": "Enable electronic invoice entry on payment success page"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "payer": {
            "$ref": "#/components/schemas/PayerInfo"
          },
          "detail": {
            "$ref": "#/components/schemas/OrderDetail"
          },
          "scene_info": {
            "$ref": "#/components/schemas/SceneInfo"
          },
          "settle_info": {
            "$ref": "#/components/schemas/SettleInfo"
          }
        }
      },
      "CreateOrderResponse": {
        "type": "object",
        "properties": {
          "prepay_id": {
            "type": "string",
            "maxLength": 64,
            "description": "Prepay transaction session ID (valid for 2 hours, used to invoke payment on client)"
          }
        }
      },
      "PromotionGoodsDetail": {
        "type": "object",
        "properties": {
          "goods_id": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "unit_price": {
            "type": "integer"
          },
          "discount_amount": {
            "type": "integer"
          },
          "goods_remark": {
            "type": "string"
          }
        }
      },
      "PromotionDetail": {
        "type": "object",
        "properties": {
          "coupon_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "scope": {
            "type": "string",
            "enum": [
              "GLOBAL",
              "SINGLE"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "CASH",
              "NOCASH"
            ]
          },
          "amount": {
            "type": "integer"
          },
          "stock_id": {
            "type": "string"
          },
          "wechatpay_contribute": {
            "type": "integer"
          },
          "merchant_contribute": {
            "type": "integer"
          },
          "other_contribute": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "goods_detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PromotionGoodsDetail"
            }
          }
        }
      },
      "OrderQueryResponse": {
        "type": "object",
        "properties": {
          "appid": {
            "type": "string",
            "description": "AppID used when creating the order"
          },
          "mchid": {
            "type": "string",
            "description": "Merchant ID"
          },
          "out_trade_no": {
            "type": "string",
            "description": "Merchant order number"
          },
          "transaction_id": {
            "type": "string",
            "description": "WeChat Pay transaction ID"
          },
          "trade_type": {
            "type": "string",
            "enum": [
              "JSAPI",
              "NATIVE",
              "APP",
              "MICROPAY",
              "MWEB",
              "FACEPAY"
            ],
            "description": "Transaction type"
          },
          "trade_state": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "REFUND",
              "NOTPAY",
              "CLOSED",
              "REVOKED",
              "USERPAYING",
              "PAYERROR"
            ],
            "description": "Transaction status"
          },
          "trade_state_desc": {
            "type": "string",
            "description": "Transaction status description"
          },
          "bank_type": {
            "type": "string",
            "description": "Bank type code (e.g., ICBC_DEBIT)"
          },
          "attach": {
            "type": "string",
            "description": "Custom merchant data"
          },
          "success_time": {
            "type": "string",
            "description": "Payment completion time in RFC 3339 format"
          },
          "payer": {
            "$ref": "#/components/schemas/PayerInfo"
          },
          "amount": {
            "$ref": "#/components/schemas/AmountResponse"
          },
          "scene_info": {
            "type": "object",
            "properties": {
              "device_id": {
                "type": "string"
              }
            }
          },
          "promotion_detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PromotionDetail"
            }
          }
        }
      },
      "CloseOrderRequest": {
        "type": "object",
        "required": [
          "mchid"
        ],
        "properties": {
          "mchid": {
            "type": "string",
            "maxLength": 32,
            "description": "Merchant ID used when creating the order"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code (e.g., PARAM_ERROR, INVALID_REQUEST, SIGN_ERROR, SYSTEM_ERROR)"
          },
          "message": {
            "type": "string",
            "description": "Detailed error description"
          }
        }
      }
    }
  },
  "security": [
    {
      "wechatPaySignature": []
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Operations related to Payments"
    }
  ]
}
