{
  "openapi": "3.0.3",
  "info": {
    "title": "GOV.UK Content Data API",
    "version": "1.0.0",
    "description": "GOV.UK Content Data API stores content performance metrics. Used by content owners to measure content performance.",
    "x-jentic-source-url": "https://docs.publishing.service.gov.uk/repos/content-data-api.html"
  },
  "servers": [
    {
      "url": "https://content-data-api.publishing.service.gov.uk"
    }
  ],
  "paths": {
    "/api/v1/metrics": {
      "get": {
        "operationId": "listMetrics",
        "summary": "List all metrics",
        "tags": [
          "Metrics"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/content": {
      "get": {
        "operationId": "getContent",
        "summary": "Get content data with filtering",
        "tags": [
          "Content"
        ],
        "parameters": [
          {
            "name": "date_range",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organisation_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}