{
  "openapi": "3.0.3",
  "info": {
    "title": "Octanist API",
    "description": "The Octanist API allows you to manage leads, retrieve statistics, and access ad spend data.",
    "version": "2.1.0",
    "contact": {
      "name": "Octanist Support",
      "url": "https://octanist.com/docs"
    },
    "x-jentic-source-url": "https://octanist.com/docs/api-reference/openapi.json"
  },
  "servers": [
    {
      "url": "https://octanist.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/api/check": {
      "post": {
        "summary": "Check API Key",
        "description": "Validate that your API key is working correctly. Useful for integration testing (e.g., Zapier connection setup).",
        "tags": [
          "Other"
        ],
        "responses": {
          "200": {
            "description": "API key is valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/leads": {
      "get": {
        "summary": "Get Leads",
        "description": "Retrieve a paginated list of leads with optional filtering, sorting, and field selection.",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page (1-100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field and direction (e.g. `createdAt:desc`, `value:asc`). Multiple fields can be combined with commas.",
            "schema": {
              "type": "string",
              "default": "createdAt:desc",
              "example": "createdAt:desc"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search across name, email, phone",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated fields to return. The `id` field is always included.",
            "schema": {
              "type": "string",
              "example": "id,name,email,status,value"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by lead status. Multiple values can be comma-separated.",
            "schema": {
              "type": "string",
              "example": "won"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter by lead source",
            "schema": {
              "type": "string",
              "enum": [
                "inbound",
                "gtm",
                "api",
                "manual",
                "wordpress",
                "import"
              ]
            }
          },
          {
            "name": "labelId",
            "in": "query",
            "description": "Filter by label ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "website",
            "in": "query",
            "description": "Filter by website URL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "utm_source",
            "in": "query",
            "description": "Filter by UTM source",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "utm_medium",
            "in": "query",
            "description": "Filter by UTM medium",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "utm_campaign",
            "in": "query",
            "description": "Filter by UTM campaign",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_after",
            "in": "query",
            "description": "Legacy parameter. Maps to `updatedAt[gte]`.",
            "deprecated": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of leads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Lead"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginatedMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter or date parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Lead",
        "description": "Create a new lead. At least one of `name`, `email`, `phone`, or `custom` must be provided.",
        "tags": [
          "Leads"
        ],
        "requestBody": {
          "description": "Lead data. At least one of name, email, phone, or custom is required.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "lead_abc123"
                        },
                        "message": {
                          "type": "string",
                          "example": "Lead added"
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON, missing required field, or invalid field values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Lead rejected by filtering rules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Lead",
        "description": "Update an existing lead. Matches leads by `id`, `email`, or `phone` (in that priority order). At least one identifier is required.",
        "tags": [
          "Leads"
        ],
        "requestBody": {
          "description": "Lead update data. At least one of id, email, or phone is required.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "leadId": {
                          "type": "string",
                          "example": "lead_abc123"
                        },
                        "leadsUpdated": {
                          "type": "integer",
                          "example": 1
                        },
                        "message": {
                          "type": "string",
                          "example": "Lead updated successfully"
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON or missing identifier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No lead found matching the provided identifiers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Multiple leads match; provide a more specific identifier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/leads/{id}": {
      "get": {
        "summary": "Get Lead by ID",
        "description": "Retrieve a single lead by ID.",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Lead ID",
            "schema": {
              "type": "string",
              "example": "lead_abc123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Lead"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Lead not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/stats": {
      "post": {
        "summary": "Get Stats",
        "description": "Retrieve dashboard statistics including usage, lead counts, and conversion metrics. A JSON body is required, even if empty (`{}`).",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "description": "Stats request parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Statistics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/StatsData"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, missing dates for custom period, or invalid date format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/ad-spend": {
      "post": {
        "summary": "Get Ad Spend",
        "description": "Retrieve ad spend data grouped by various dimensions.",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "description": "Ad spend request parameters",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdSpendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad spend data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AdSpendEntry"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginatedMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, startDate > endDate, or invalid date format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique lead identifier",
            "example": "lead_abc123"
          },
          "name": {
            "type": "string",
            "description": "Lead name",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Lead email",
            "example": "john@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Lead phone number",
            "example": "+1234567890"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "qualified",
              "won",
              "lost"
            ],
            "description": "Lead status",
            "example": "won"
          },
          "value": {
            "type": "number",
            "description": "Lead value",
            "example": 5000
          },
          "note": {
            "type": "string",
            "description": "Notes about the lead",
            "example": "Customer notes"
          },
          "custom": {
            "type": "string",
            "description": "Custom data. Accepts a string or JSON object/array. Non-string values are automatically stringified. Always returned as a string in responses.",
            "example": "{\"company\":\"Acme Inc\"}"
          },
          "lossReason": {
            "type": "string",
            "nullable": true,
            "description": "Reason for loss",
            "example": null
          },
          "conversionName": {
            "type": "string",
            "description": "Conversion source name",
            "example": "Purchase"
          },
          "source": {
            "type": "string",
            "enum": [
              "inbound",
              "gtm",
              "api",
              "manual",
              "wordpress",
              "import"
            ],
            "description": "Lead source",
            "example": "gtm"
          },
          "website": {
            "type": "string",
            "description": "Website URL",
            "example": "https://example.com"
          },
          "path": {
            "type": "string",
            "description": "Page path where lead was captured",
            "example": "/pricing"
          },
          "gclid": {
            "type": "string",
            "description": "Google Ads Click ID",
            "example": "abc123"
          },
          "ga4cid": {
            "type": "string",
            "description": "Google Analytics 4 Client ID",
            "example": "GA1.1.123456789.1234567890"
          },
          "ga4sid": {
            "type": "string",
            "description": "Google Analytics 4 Session ID",
            "example": "1234567890"
          },
          "fbc": {
            "type": "string",
            "description": "Meta (Facebook) Click ID",
            "example": "fb.1.1234567890.abc123"
          },
          "fbp": {
            "type": "string",
            "description": "Meta (Facebook) Browser ID",
            "example": "fb.1.1234567890.987654321"
          },
          "msclkid": {
            "type": "string",
            "description": "Microsoft Ads Click ID",
            "example": "msclkid123"
          },
          "ttclid": {
            "type": "string",
            "description": "TikTok Click ID",
            "example": "ttclid123"
          },
          "twclid": {
            "type": "string",
            "description": "X (Twitter) Click ID",
            "example": "twclid123"
          },
          "rdt_cid": {
            "type": "string",
            "description": "Reddit Click ID",
            "example": "rdtcid123"
          },
          "sccid": {
            "type": "string",
            "description": "Snapchat Click ID",
            "example": "sccid123"
          },
          "li_fat_id": {
            "type": "string",
            "description": "LinkedIn Click ID",
            "example": "lifatid123"
          },
          "utm_source": {
            "type": "string",
            "description": "UTM source",
            "example": "google"
          },
          "utm_medium": {
            "type": "string",
            "description": "UTM medium",
            "example": "cpc"
          },
          "utm_campaign": {
            "type": "string",
            "description": "UTM campaign",
            "example": "summer_sale"
          },
          "ad_storage": {
            "type": "boolean",
            "description": "Ad storage consent",
            "example": true
          },
          "ad_user_data": {
            "type": "boolean",
            "description": "Ad user data consent",
            "example": true
          },
          "analytics_storage": {
            "type": "boolean",
            "description": "Analytics storage consent",
            "example": true
          },
          "ad_personalization": {
            "type": "boolean",
            "description": "Ad personalization consent",
            "example": true
          },
          "googleAdsCampaignId": {
            "type": "string",
            "description": "Google Ads Campaign ID",
            "example": "123456789"
          },
          "googleAdsCampaignName": {
            "type": "string",
            "description": "Google Ads Campaign Name",
            "example": "Spring Sale 2026"
          },
          "googleAdsAdGroupId": {
            "type": "string",
            "description": "Google Ads Ad Group ID",
            "example": "987654321"
          },
          "googleAdsAdGroupName": {
            "type": "string",
            "description": "Google Ads Ad Group Name",
            "example": "Brand Keywords"
          },
          "googleAdsAdId": {
            "type": "string",
            "description": "Google Ads Ad ID",
            "example": "111222333"
          },
          "labelId": {
            "type": "string",
            "description": "Label ID",
            "example": "label_xyz"
          },
          "selectedConversionEventId": {
            "type": "string",
            "description": "Selected conversion event ID",
            "example": "conv_123"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp",
            "example": "2026-01-15T10:30:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp",
            "example": "2026-02-20T14:00:00.000Z"
          },
          "qualifiedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Qualification timestamp",
            "example": "2026-01-18T09:00:00.000Z"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Expiration timestamp",
            "example": "2026-04-15T10:30:00.000Z"
          }
        }
      },
      "CreateLeadRequest": {
        "type": "object",
        "description": "At least one of name, email, phone, or custom is required.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Lead name",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Lead email",
            "example": "john@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Lead phone number",
            "example": "+1234567890"
          },
          "custom": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object"
              },
              {
                "type": "array"
              }
            ],
            "description": "Custom data. Accepts a string or JSON object/array. Non-string values are automatically stringified. Always returned as a string in responses."
          },
          "note": {
            "type": "string",
            "description": "Note to attach to the lead"
          },
          "website": {
            "type": "string",
            "description": "Website URL",
            "example": "https://example.com"
          },
          "path": {
            "type": "string",
            "description": "Page path",
            "example": "/contact"
          },
          "gclid": {
            "type": "string",
            "description": "Google Ads Click ID"
          },
          "fbc": {
            "type": "string",
            "description": "Meta (Facebook) Click ID"
          },
          "fbp": {
            "type": "string",
            "description": "Meta (Facebook) Browser ID"
          },
          "ga4cid": {
            "type": "string",
            "description": "Google Analytics 4 Client ID"
          },
          "ga4sid": {
            "type": "string",
            "description": "Google Analytics 4 Session ID"
          },
          "li_fat_id": {
            "type": "string",
            "description": "LinkedIn Click ID"
          },
          "msclkid": {
            "type": "string",
            "description": "Microsoft Ads Click ID"
          },
          "ttclid": {
            "type": "string",
            "description": "TikTok Click ID"
          },
          "twclid": {
            "type": "string",
            "description": "X (Twitter) Click ID"
          },
          "rdt_cid": {
            "type": "string",
            "description": "Reddit Click ID"
          },
          "sccid": {
            "type": "string",
            "description": "Snapchat Click ID"
          },
          "utm_source": {
            "type": "string",
            "description": "UTM source",
            "example": "google"
          },
          "utm_medium": {
            "type": "string",
            "description": "UTM medium",
            "example": "cpc"
          },
          "utm_campaign": {
            "type": "string",
            "description": "UTM campaign"
          },
          "ad_storage": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string"
              }
            ],
            "description": "Ad storage consent. Accepts booleans or strings; only `\"true\"` (case-insensitive) is treated as true.",
            "default": false
          },
          "ad_user_data": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string"
              }
            ],
            "description": "Ad user data consent. Accepts booleans or strings; only `\"true\"` (case-insensitive) is treated as true.",
            "default": false
          },
          "ad_personalization": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string"
              }
            ],
            "description": "Ad personalization consent. Accepts booleans or strings; only `\"true\"` (case-insensitive) is treated as true.",
            "default": false
          },
          "analytics_storage": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string"
              }
            ],
            "description": "Analytics storage consent. Accepts booleans or strings; only `\"true\"` (case-insensitive) is treated as true.",
            "default": false
          }
        }
      },
      "UpdateLeadRequest": {
        "type": "object",
        "description": "At least one of id, email, or phone is required as an identifier.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Lead ID (highest priority match)",
            "example": "lead_abc123"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Lead email (second priority match)",
            "example": "john@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Lead phone (third priority match)",
            "example": "+1234567890"
          },
          "status": {
            "type": "string",
            "enum": [
              "qualified",
              "won",
              "lost"
            ],
            "description": "New status. Takes precedence over `changedTo` if both are provided.",
            "example": "won"
          },
          "changedTo": {
            "type": "string",
            "enum": [
              "qualified",
              "won",
              "lost"
            ],
            "description": "Legacy alias for `status` (same values).",
            "example": "won"
          },
          "value": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ],
            "description": "Lead value. Strings are auto-converted to numbers.",
            "example": 5000
          },
          "note": {
            "type": "string",
            "description": "Note to attach to the lead"
          },
          "lossReason": {
            "type": "string",
            "description": "Reason for loss (only used when status is `lost`)"
          }
        }
      },
      "StatsRequest": {
        "type": "object",
        "properties": {
          "period": {
            "type": "string",
            "enum": [
              "current",
              "previous",
              "custom"
            ],
            "default": "current",
            "description": "Period to retrieve statistics for"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "Start date (YYYY-MM-DD). Required when period is `custom`.",
            "example": "2026-01-01"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "End date (YYYY-MM-DD). Required when period is `custom`.",
            "example": "2026-03-01"
          }
        }
      },
      "StatsData": {
        "type": "object",
        "properties": {
          "usage": {
            "type": "object",
            "properties": {
              "leadsUsed": {
                "type": "integer",
                "example": 150
              },
              "leadsLimit": {
                "type": "integer",
                "example": 500
              },
              "lockedLeads": {
                "type": "integer",
                "example": 0
              },
              "periodStart": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "Null if no active subscription",
                "example": "2026-01-01T00:00:00.000Z"
              },
              "periodEnd": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "Null if no active subscription",
                "example": "2026-03-01T23:59:59.999Z"
              }
            }
          },
          "leads": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "example": 150
              },
              "byStatus": {
                "type": "object",
                "properties": {
                  "open": {
                    "type": "integer",
                    "example": 45
                  },
                  "qualified": {
                    "type": "integer",
                    "example": 30
                  },
                  "won": {
                    "type": "integer",
                    "example": 50
                  },
                  "lost": {
                    "type": "integer",
                    "example": 25
                  }
                }
              },
              "bySource": {
                "type": "object",
                "additionalProperties": {
                  "type": "integer"
                },
                "example": {
                  "gtm": 120,
                  "api": 20,
                  "manual": 10
                }
              }
            }
          },
          "conversion": {
            "type": "object",
            "properties": {
              "qualified": {
                "type": "integer",
                "example": 80
              },
              "qualificationRate": {
                "type": "number",
                "example": 0.7
              },
              "winRate": {
                "type": "number",
                "example": 0.625
              },
              "averageValue": {
                "type": "number",
                "example": 2500
              },
              "totalValue": {
                "type": "number",
                "example": 125000
              }
            }
          }
        }
      },
      "AdSpendRequest": {
        "type": "object",
        "required": [
          "startDate",
          "endDate"
        ],
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "Start date (YYYY-MM-DD)",
            "example": "2026-01-01"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "End date (YYYY-MM-DD)",
            "example": "2026-03-01"
          },
          "platform": {
            "type": "string",
            "enum": [
              "googleads",
              "meta",
              "microsoftads"
            ],
            "description": "Filter by platform"
          },
          "groupBy": {
            "type": "string",
            "enum": [
              "date",
              "campaign",
              "adgroup",
              "platform"
            ],
            "default": "date",
            "description": "Dimension to group results by"
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 500,
            "default": 100,
            "description": "Results per page (1-500)"
          },
          "page": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Page number"
          }
        }
      },
      "AdSpendEntry": {
        "type": "object",
        "description": "Ad spend data entry. Fields vary based on the `groupBy` parameter.",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date (when groupBy is `date`)",
            "example": "2026-02-15"
          },
          "campaignId": {
            "type": "string",
            "description": "Campaign ID (when groupBy is `campaign` or `adgroup`)",
            "example": "123456789"
          },
          "campaignName": {
            "type": "string",
            "description": "Campaign name (when groupBy is `campaign` or `adgroup`)",
            "example": "Spring Sale 2026"
          },
          "adGroupId": {
            "type": "string",
            "description": "Ad group ID (when groupBy is `adgroup`)",
            "example": "987654321"
          },
          "adGroupName": {
            "type": "string",
            "description": "Ad group name (when groupBy is `adgroup`)",
            "example": "Brand Keywords"
          },
          "platform": {
            "type": "string",
            "enum": [
              "googleads",
              "meta",
              "microsoftads"
            ],
            "description": "Platform (when groupBy is `campaign`, `adgroup`, or `platform`)",
            "example": "googleads"
          },
          "cost": {
            "type": "number",
            "description": "Total cost",
            "example": 1500.5
          },
          "clicks": {
            "type": "integer",
            "description": "Total clicks",
            "example": 2500
          },
          "impressions": {
            "type": "integer",
            "description": "Total impressions",
            "example": 50000
          },
          "conversions": {
            "type": "integer",
            "description": "Total conversions",
            "example": 125
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "example": "req_a1b2c3d4e5f6"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-10T12:00:00.000Z"
          }
        }
      },
      "PaginatedMeta": {
        "type": "object",
        "properties": {
          "pagination": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer",
                "example": 50
              },
              "page": {
                "type": "integer",
                "example": 1
              },
              "totalPages": {
                "type": "integer",
                "example": 5
              },
              "total": {
                "type": "integer",
                "example": 234
              },
              "hasMore": {
                "type": "boolean",
                "example": true
              }
            }
          },
          "requestId": {
            "type": "string",
            "example": "req_a1b2c3d4e5f6"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-10T12:00:00.000Z"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code",
                "example": "VALIDATION_ERROR"
              },
              "message": {
                "type": "string",
                "description": "Human readable error message",
                "example": "Human readable error message"
              },
              "details": {
                "type": "object",
                "description": "Optional additional error details"
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "API key for authentication"
      }
    }
  }
}