{
  "openapi": "3.0.3",
  "info": {
    "title": "Paylands Bizum Payment API",
    "description": "Paylands API for creating payment orders with Bizum as an alternative payment method.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.paylands.com/en/docs/apm/apm-bizum/"
  },
  "servers": [
    {
      "url": "https://api.paylands.com/v1/sandbox",
      "description": "Sandbox server"
    },
    {
      "url": "https://api.paylands.com/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/payment": {
      "post": {
        "operationId": "createpaymentorder",
        "summary": "Create a payment order",
        "description": "Creates a new payment order that can be used for Bizum or other payment methods.",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/payment/bizum/{token}": {
      "get": {
        "operationId": "redirectbizumpayment",
        "summary": "Redirect to Bizum payment",
        "description": "Redirects the user to the Bizum payment flow using the order token.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment order token"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to Bizum payment page"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentRequest": {
        "type": "object",
        "required": [
          "signature",
          "amount",
          "operative",
          "service",
          "customer_ext_id"
        ],
        "properties": {
          "signature": {
            "type": "string",
            "description": "Request signature for verification"
          },
          "amount": {
            "type": "integer",
            "description": "Payment amount in the smallest currency unit (cents)"
          },
          "operative": {
            "type": "string",
            "enum": [
              "AUTHORIZATION"
            ],
            "description": "Payment operative type"
          },
          "secure": {
            "type": "boolean",
            "description": "Enable secure payment"
          },
          "customer_ext_id": {
            "type": "string",
            "description": "External customer identifier"
          },
          "service": {
            "type": "string",
            "description": "Service UUID"
          },
          "description": {
            "type": "string",
            "description": "Payment description"
          },
          "additional": {
            "type": "string",
            "nullable": true,
            "description": "Additional data"
          },
          "url_post": {
            "type": "string",
            "format": "uri",
            "description": "Webhook notification URL"
          },
          "url_ok": {
            "type": "string",
            "format": "uri",
            "description": "Redirect URL on success"
          },
          "url_ko": {
            "type": "string",
            "format": "uri",
            "description": "Redirect URL on failure"
          },
          "source_uuid": {
            "type": "string",
            "nullable": true,
            "description": "Source UUID for recurring payments"
          },
          "save_card": {
            "type": "boolean",
            "description": "Save payment method for future use"
          },
          "reference": {
            "type": "string",
            "description": "Payment reference"
          },
          "dynamic_descriptor": {
            "type": "string",
            "description": "Dynamic descriptor shown on card statements"
          },
          "expires_in": {
            "type": "integer",
            "description": "Expiration time in seconds"
          }
        }
      },
      "PaymentOrderResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          },
          "current_time": {
            "type": "string",
            "format": "date-time"
          },
          "order": {
            "$ref": "#/components/schemas/Order"
          },
          "client": {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string"
              }
            }
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "safe": {
            "type": "boolean"
          },
          "additional": {
            "type": "string",
            "nullable": true
          },
          "service": {
            "type": "string"
          },
          "customer": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "operative": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearer_auth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key used as Bearer token in Authorization header"
      }
    }
  },
  "security": [
    {
      "bearer_auth": []
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Operations related to Payments"
    }
  ]
}