{
  "openapi": "3.0.3",
  "info": {
    "title": "Gfycat API",
    "description": "Gfycat API for creating, managing, and discovering short looping GIF-like videos (gfycats). Supports uploading, searching, and managing user content.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developers.gfycat.com/api/",
    "contact": {
      "name": "Gfycat",
      "url": "https://gfycat.com"
    }
  },
  "servers": [
    {
      "url": "https://api.gfycat.com/v1",
      "description": "Gfycat API v1"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth authentication endpoints"
    },
    {
      "name": "Gfycats",
      "description": "Create, retrieve, and manage gfycats"
    },
    {
      "name": "Users",
      "description": "User account and profile management"
    },
    {
      "name": "Search",
      "description": "Search and discover gfycats"
    },
    {
      "name": "Albums",
      "description": "Manage gfycat albums"
    },
    {
      "name": "Tags",
      "description": "Tag management"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Obtain an access token",
        "description": "Authenticate and obtain an OAuth2 access token using client credentials, authorization code, password grant, or refresh token.",
        "operationId": "getAccessToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gfycats": {
      "post": {
        "tags": ["Gfycats"],
        "summary": "Create a gfycat",
        "description": "Create a new gfycat from a URL or initiate a file upload. Returns a gfyname to use for uploading the file.",
        "operationId": "createGfycat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGfycatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gfycat creation initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGfycatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gfycats/{gfyid}": {
      "get": {
        "tags": ["Gfycats"],
        "summary": "Get gfycat info",
        "description": "Retrieve detailed information about a specific gfycat by its ID.",
        "operationId": "getGfycat",
        "security": [],
        "parameters": [
          {
            "name": "gfyid",
            "in": "path",
            "required": true,
            "description": "The gfycat ID (gfyname)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gfycat details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GfycatDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Gfycat not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Gfycats"],
        "summary": "Update gfycat info",
        "description": "Update the title, tags, or other metadata of a gfycat owned by the authenticated user.",
        "operationId": "updateGfycat",
        "parameters": [
          {
            "name": "gfyid",
            "in": "path",
            "required": true,
            "description": "The gfycat ID (gfyname)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGfycatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gfycat updated successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Gfycats"],
        "summary": "Delete a gfycat",
        "description": "Delete a gfycat owned by the authenticated user.",
        "operationId": "deleteGfycat",
        "parameters": [
          {
            "name": "gfyid",
            "in": "path",
            "required": true,
            "description": "The gfycat ID (gfyname)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gfycat deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gfycats/{gfyid}/status": {
      "get": {
        "tags": ["Gfycats"],
        "summary": "Check gfycat upload status",
        "description": "Check the encoding status of a gfycat that was recently created or uploaded.",
        "operationId": "getGfycatStatus",
        "security": [],
        "parameters": [
          {
            "name": "gfyid",
            "in": "path",
            "required": true,
            "description": "The gfycat ID (gfyname)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GfycatStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gfycats/fetch/status/{gfyid}": {
      "get": {
        "tags": ["Gfycats"],
        "summary": "Check URL fetch status",
        "description": "Check the status of a gfycat created from a URL fetch.",
        "operationId": "getGfycatFetchStatus",
        "security": [],
        "parameters": [
          {
            "name": "gfyid",
            "in": "path",
            "required": true,
            "description": "The gfycat ID (gfyname)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch status information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GfycatStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gfycats/trending": {
      "get": {
        "tags": ["Gfycats"],
        "summary": "Get trending gfycats",
        "description": "Retrieve a list of currently trending gfycats.",
        "operationId": "getTrendingGfycats",
        "security": [],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of gfycats to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagName",
            "in": "query",
            "description": "Filter by tag name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of trending gfycats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GfycatListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gfycats/search": {
      "get": {
        "tags": ["Search"],
        "summary": "Search gfycats",
        "description": "Search for gfycats matching the given search text.",
        "operationId": "searchGfycats",
        "security": [],
        "parameters": [
          {
            "name": "search_text",
            "in": "query",
            "required": true,
            "description": "Search query text",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GfycatListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tags/trending": {
      "get": {
        "tags": ["Tags"],
        "summary": "Get trending tags",
        "description": "Retrieve a list of currently trending tags.",
        "operationId": "getTrendingTags",
        "security": [],
        "responses": {
          "200": {
            "description": "List of trending tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tags/trending/populated": {
      "get": {
        "tags": ["Tags"],
        "summary": "Get trending tags with gfycats",
        "description": "Retrieve trending tags along with sample gfycats for each tag.",
        "operationId": "getTrendingTagsPopulated",
        "security": [],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of tags to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "gfyCount",
            "in": "query",
            "description": "Number of gfycats per tag",
            "schema": {
              "type": "integer",
              "default": 3
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trending tags with gfycats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PopulatedTagsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userid}": {
      "get": {
        "tags": ["Users"],
        "summary": "Get user profile",
        "description": "Retrieve public profile information for a user.",
        "operationId": "getUser",
        "security": [],
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "description": "The user's username",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userid}/gfycats": {
      "get": {
        "tags": ["Users"],
        "summary": "Get user's gfycats",
        "description": "Retrieve gfycats published by a specific user.",
        "operationId": "getUserGfycats",
        "security": [],
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "description": "The user's username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of user's gfycats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GfycatListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": ["Users"],
        "summary": "Get current user",
        "description": "Retrieve the profile of the currently authenticated user.",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "Current user profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Users"],
        "summary": "Update current user profile",
        "description": "Update the profile information of the currently authenticated user.",
        "operationId": "updateCurrentUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me/gfycats": {
      "get": {
        "tags": ["Users"],
        "summary": "Get current user's gfycats",
        "description": "Retrieve gfycats belonging to the currently authenticated user.",
        "operationId": "getCurrentUserGfycats",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of current user's gfycats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GfycatListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me/albums": {
      "get": {
        "tags": ["Albums"],
        "summary": "List user albums",
        "description": "Retrieve albums belonging to the currently authenticated user.",
        "operationId": "listAlbums",
        "responses": {
          "200": {
            "description": "List of albums",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Album"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Albums"],
        "summary": "Create album",
        "description": "Create a new album for the authenticated user.",
        "operationId": "createAlbum",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAlbumRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Album created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Album"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me/albums/{albumid}": {
      "get": {
        "tags": ["Albums"],
        "summary": "Get album details",
        "description": "Retrieve details of a specific album.",
        "operationId": "getAlbum",
        "parameters": [
          {
            "name": "albumid",
            "in": "path",
            "required": true,
            "description": "Album ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Album details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Album"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Albums"],
        "summary": "Update album",
        "description": "Update album title, description, or contents.",
        "operationId": "updateAlbum",
        "parameters": [
          {
            "name": "albumid",
            "in": "path",
            "required": true,
            "description": "Album ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAlbumRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Album updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Albums"],
        "summary": "Delete album",
        "description": "Delete a specific album.",
        "operationId": "deleteAlbum",
        "parameters": [
          {
            "name": "albumid",
            "in": "path",
            "required": true,
            "description": "Album ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Album deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me/follows/users": {
      "get": {
        "tags": ["Users"],
        "summary": "Get followed users",
        "description": "Retrieve list of users followed by the authenticated user.",
        "operationId": "getFollowedUsers",
        "responses": {
          "200": {
            "description": "List of followed users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me/follows/{userid}": {
      "put": {
        "tags": ["Users"],
        "summary": "Follow a user",
        "description": "Follow a specific user.",
        "operationId": "followUser",
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "description": "Username to follow",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User followed successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Users"],
        "summary": "Unfollow a user",
        "description": "Unfollow a specific user.",
        "operationId": "unfollowUser",
        "parameters": [
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "description": "Username to unfollow",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User unfollowed successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me/followers": {
      "get": {
        "tags": ["Users"],
        "summary": "Get followers",
        "description": "Retrieve list of users following the authenticated user.",
        "operationId": "getFollowers",
        "responses": {
          "200": {
            "description": "List of followers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me/timeline": {
      "get": {
        "tags": ["Users"],
        "summary": "Get user timeline",
        "description": "Retrieve the timeline feed for the authenticated user, including gfycats from followed users.",
        "operationId": "getTimeline",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timeline feed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GfycatListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reactions/populated": {
      "get": {
        "tags": ["Tags"],
        "summary": "Get reaction GIFs",
        "description": "Retrieve popular reaction categories with sample gfycats.",
        "operationId": "getReactions",
        "security": [],
        "parameters": [
          {
            "name": "gfyCount",
            "in": "query",
            "description": "Number of gfycats per reaction",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reaction categories with gfycats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PopulatedTagsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.gfycat.com/v1/oauth/token",
            "scopes": {}
          },
          "authorizationCode": {
            "authorizationUrl": "https://gfycat.com/oauth/authorize",
            "tokenUrl": "https://api.gfycat.com/v1/oauth/token",
            "scopes": {}
          },
          "password": {
            "tokenUrl": "https://api.gfycat.com/v1/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "description": {
            "type": "string",
            "description": "Error description"
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "required": ["grant_type", "client_id", "client_secret"],
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": ["client_credentials", "authorization_code", "password", "refresh"],
            "description": "OAuth2 grant type"
          },
          "client_id": {
            "type": "string",
            "description": "Application client ID"
          },
          "client_secret": {
            "type": "string",
            "description": "Application client secret"
          },
          "code": {
            "type": "string",
            "description": "Authorization code (for authorization_code grant)"
          },
          "redirect_uri": {
            "type": "string",
            "description": "Redirect URI (for authorization_code grant)"
          },
          "username": {
            "type": "string",
            "description": "Username (for password grant)"
          },
          "password": {
            "type": "string",
            "description": "Password (for password grant)"
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token (for refresh grant)"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string",
            "example": "bearer"
          },
          "scope": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiry time in seconds"
          },
          "access_token": {
            "type": "string",
            "description": "Access token for API calls"
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token (if applicable)"
          },
          "refresh_token_expires_in": {
            "type": "integer",
            "description": "Refresh token expiry time in seconds"
          },
          "resource_owner": {
            "type": "string",
            "description": "Username of authenticated user"
          }
        }
      },
      "CreateGfycatRequest": {
        "type": "object",
        "properties": {
          "fetchUrl": {
            "type": "string",
            "description": "URL of a video/GIF to convert into a gfycat"
          },
          "title": {
            "type": "string",
            "description": "Title for the gfycat"
          },
          "description": {
            "type": "string",
            "description": "Description for the gfycat"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags for the gfycat"
          },
          "noMd5": {
            "type": "boolean",
            "description": "Skip MD5 duplicate checking"
          },
          "nsfw": {
            "type": "integer",
            "enum": [0, 1, 3],
            "description": "NSFW flag (0=clean, 1=adult, 3=auto-detect)"
          },
          "cut": {
            "type": "object",
            "properties": {
              "duration": {
                "type": "number",
                "description": "Duration in seconds"
              },
              "start": {
                "type": "number",
                "description": "Start time in seconds"
              }
            }
          },
          "crop": {
            "type": "object",
            "properties": {
              "x": {
                "type": "integer"
              },
              "y": {
                "type": "integer"
              },
              "w": {
                "type": "integer"
              },
              "h": {
                "type": "integer"
              }
            }
          },
          "captions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Caption"
            }
          }
        }
      },
      "Caption": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Caption text"
          },
          "startSeconds": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "fontHeight": {
            "type": "integer"
          },
          "x": {
            "type": "integer"
          },
          "y": {
            "type": "integer"
          },
          "fontHeightRelative": {
            "type": "number"
          },
          "xRelative": {
            "type": "number"
          },
          "yRelative": {
            "type": "number"
          }
        }
      },
      "CreateGfycatResponse": {
        "type": "object",
        "properties": {
          "isOk": {
            "type": "boolean"
          },
          "gfyname": {
            "type": "string",
            "description": "The assigned gfycat name/ID"
          },
          "secret": {
            "type": "string",
            "description": "Secret key for anonymous uploads"
          },
          "uploadType": {
            "type": "string",
            "description": "Upload method to use"
          }
        }
      },
      "UpdateGfycatRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "nsfw": {
            "type": "integer",
            "enum": [0, 1]
          },
          "published": {
            "type": "integer",
            "enum": [0, 1]
          }
        }
      },
      "GfycatDetail": {
        "type": "object",
        "properties": {
          "gfyItem": {
            "$ref": "#/components/schemas/GfycatItem"
          }
        }
      },
      "GfycatItem": {
        "type": "object",
        "properties": {
          "gfyId": {
            "type": "string"
          },
          "gfyName": {
            "type": "string"
          },
          "gfyNumber": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "frameRate": {
            "type": "number"
          },
          "numFrames": {
            "type": "integer"
          },
          "mp4Url": {
            "type": "string"
          },
          "webmUrl": {
            "type": "string"
          },
          "gifUrl": {
            "type": "string"
          },
          "mobileUrl": {
            "type": "string"
          },
          "mobilePosterUrl": {
            "type": "string"
          },
          "posterUrl": {
            "type": "string"
          },
          "thumb100PosterUrl": {
            "type": "string"
          },
          "max5mbGif": {
            "type": "string"
          },
          "max2mbGif": {
            "type": "string"
          },
          "max1mbGif": {
            "type": "string"
          },
          "gif100px": {
            "type": "string"
          },
          "miniUrl": {
            "type": "string"
          },
          "miniPosterUrl": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "avgColor": {
            "type": "string"
          },
          "hasTransparency": {
            "type": "boolean"
          },
          "hasAudio": {
            "type": "boolean"
          },
          "likes": {
            "type": "integer"
          },
          "dislikes": {
            "type": "integer"
          },
          "published": {
            "type": "integer"
          },
          "nsfw": {
            "type": "integer"
          },
          "gatekeeper": {
            "type": "integer"
          },
          "mp4Size": {
            "type": "integer"
          },
          "webmSize": {
            "type": "integer"
          },
          "gifSize": {
            "type": "integer"
          },
          "createDate": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "views": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "languageCategories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "domainWhitelist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "content_urls": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ContentUrl"
            }
          }
        }
      },
      "ContentUrl": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          }
        }
      },
      "GfycatStatusResponse": {
        "type": "object",
        "properties": {
          "task": {
            "type": "string",
            "description": "Status: encoding, complete, or error"
          },
          "time": {
            "type": "integer"
          },
          "gfyname": {
            "type": "string"
          },
          "errorMessage": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          }
        }
      },
      "GfycatListResponse": {
        "type": "object",
        "properties": {
          "gfycats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GfycatItem"
            }
          },
          "cursor": {
            "type": "string",
            "description": "Pagination cursor for next page"
          },
          "found": {
            "type": "integer",
            "description": "Total number of results found"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "userid": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "profileUrl": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "views": {
            "type": "integer"
          },
          "uploadNotices": {
            "type": "boolean"
          },
          "emailVerified": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          },
          "createDate": {
            "type": "integer"
          },
          "profileImageUrl": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          },
          "followers": {
            "type": "integer"
          },
          "following": {
            "type": "integer"
          },
          "geoWhitelist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "domainWhitelist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "publishedGfycats": {
            "type": "integer"
          },
          "publishedAlbums": {
            "type": "integer"
          },
          "iframeProfileImageVisible": {
            "type": "boolean"
          }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "profileUrl": {
            "type": "string"
          },
          "uploadNotices": {
            "type": "boolean"
          }
        }
      },
      "Album": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "linkText": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "coverImageUrl": {
            "type": "string"
          },
          "coverImageUrl_mobile": {
            "type": "string"
          },
          "nsfw": {
            "type": "integer"
          },
          "published": {
            "type": "integer"
          },
          "order": {
            "type": "integer"
          },
          "createDate": {
            "type": "integer"
          },
          "publishedGfys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GfycatItem"
            }
          }
        }
      },
      "CreateAlbumRequest": {
        "type": "object",
        "required": ["title"],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "folderName": {
            "type": "string"
          },
          "contents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of gfycat IDs to add to the album"
          },
          "nsfw": {
            "type": "integer",
            "enum": [0, 1]
          },
          "published": {
            "type": "integer",
            "enum": [0, 1]
          },
          "order": {
            "type": "integer"
          }
        }
      },
      "UpdateAlbumRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "nsfw": {
            "type": "integer",
            "enum": [0, 1]
          },
          "published": {
            "type": "integer",
            "enum": [0, 1]
          },
          "order": {
            "type": "integer"
          },
          "contents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of gfycat IDs"
          }
        }
      },
      "PopulatedTagsResponse": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PopulatedTag"
            }
          },
          "cursor": {
            "type": "string"
          }
        }
      },
      "PopulatedTag": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string"
          },
          "tagText": {
            "type": "string"
          },
          "gfycats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GfycatItem"
            }
          },
          "cursor": {
            "type": "string"
          }
        }
      }
    }
  }
}
