{
  "openapi": "3.0.3",
  "info": {
    "title": "Xweather API - Maritime",
    "version": "1.0.0",
    "description": "Xweather (formerly AerisWeather) API maritime endpoints providing weather data for maritime applications including wave height, wind speed, sea surface temperature, and marine forecasts.",
    "x-jentic-source-url": "https://www.xweather.com/docs/weather-api/endpoints/maritime"
  },
  "servers": [
    {
      "url": "https://api.xweather.com"
    }
  ],
  "paths": {
    "/maritime/{action}": {
      "get": {
        "operationId": "getMaritimeData",
        "summary": "Get maritime weather data",
        "description": "Returns maritime weather conditions for a location",
        "tags": [
          "Maritime"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "closest",
                "route"
              ]
            },
            "description": "Action type"
          },
          {
            "name": "p",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Location (lat,lon or place name)"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Client ID"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Client secret"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of results"
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search radius (e.g., 100mi)"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fields to include"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "geojson"
              ],
              "default": "json"
            },
            "description": "Response format"
          }
        ],
        "responses": {
          "200": {
            "description": "Maritime data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaritimeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecasts/{action}": {
      "get": {
        "operationId": "getForecast",
        "summary": "Get weather forecast",
        "description": "Returns weather forecast data",
        "tags": [
          "Forecasts"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Action (e.g., closest)"
          },
          {
            "name": "p",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Location"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Client ID"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Client secret"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of periods"
          }
        ],
        "responses": {
          "200": {
            "description": "Forecast data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/observations/{action}": {
      "get": {
        "operationId": "getObservations",
        "summary": "Get weather observations",
        "description": "Returns current weather observations",
        "tags": [
          "Observations"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Action"
          },
          {
            "name": "p",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Location"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Client ID"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Client secret"
          }
        ],
        "responses": {
          "200": {
            "description": "Observation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObservationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MaritimeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "object"
          },
          "response": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "loc": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number"
                    },
                    "long": {
                      "type": "number"
                    }
                  }
                },
                "ob": {
                  "type": "object",
                  "properties": {
                    "waveHtM": {
                      "type": "number"
                    },
                    "wavePdS": {
                      "type": "number"
                    },
                    "waveDirDEG": {
                      "type": "integer"
                    },
                    "windSpeedKTS": {
                      "type": "number"
                    },
                    "windDirDEG": {
                      "type": "integer"
                    },
                    "seaSurfaceTempC": {
                      "type": "number"
                    },
                    "visibility": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ForecastResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "response": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ObservationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "response": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "clientCredentials": {
        "type": "apiKey",
        "in": "query",
        "name": "client_id",
        "description": "Use client_id and client_secret query parameters"
      }
    }
  },
  "security": [
    {
      "clientCredentials": []
    }
  ]
}