{
  "openapi": "3.0.3",
  "info": {
    "title": "Ad Exchange Buyer API II",
    "version": "v2beta1",
    "description": "Access the latest features for managing Authorized Buyers accounts, Real-Time Bidding configurations and auction metrics, and Marketplace programmatic deals.",
    "x-jentic-source-url": "https://www.googleapis.com/discovery/v1/apis/adexchangebuyer2/v2beta1/rest",
    "x-documentation-url": "https://developers.google.com/authorized-buyers/apis/reference/rest/"
  },
  "servers": [
    {
      "url": "https://adexchangebuyer.googleapis.com"
    }
  ],
  "paths": {
    "/v2beta1/accounts/{accountId}/creatives": {
      "post": {
        "operationId": "postAccountsCreativesCreate",
        "summary": "Creates a creative.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duplicateIdMode",
            "in": "query",
            "required": false,
            "description": "Indicates if multiple creatives can share an ID or not. Default is NO_DUPLICATES (one ID per creative).",
            "schema": {
              "type": "string",
              "enum": [
                "NO_DUPLICATES",
                "FORCE_ENABLE_DUPLICATE_IDS"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Creative"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      },
      "get": {
        "operationId": "getAccountsCreativesList",
        "summary": "Lists creatives.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The account to list the creatives from. Specify \"-\" to list all creatives the current user has access to.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Requested page size. The server may return fewer creatives than requested (due to timeout constraint) even if more are available through another call. If unspecified, server will pick an appropriate default. Acceptable values are 1 to 1000, inclusive.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativesResponse.next_page_token returned from the previous call to 'ListCreatives' method.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "An optional query string to filter creatives. If no filter is specified, all active creatives will be returned. Supported queries are: - accountId=*account_id_string* - creativeId=*creative_id_string* - dealsStatus: {approved, conditionally_approved, disapproved, not_checked} - openAuctionStatus: {approved, conditionally_approved, disapproved, not_checked} - attribute: {a numeric attribute from the list of attributes} - disapprovalReason: {a reason from DisapprovalReason} Example: 'accountId=12345 AND (dealsStatus:disapproved AND disapprovalReason:unacceptable_content) OR attribute:47'",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCreativesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/creatives/{creativeId}": {
      "put": {
        "operationId": "putAccountsCreativesUpdate",
        "summary": "Updates a creative.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creativeId",
            "in": "path",
            "required": true,
            "description": "The buyer-defined creative ID of this creative. Can be used to filter the response of the creatives.list method.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Creative"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      },
      "get": {
        "operationId": "getAccountsCreativesGet",
        "summary": "Gets a creative.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The account the creative belongs to.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creativeId",
            "in": "path",
            "required": true,
            "description": "The ID of the creative to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/creatives/{creativeId}:watch": {
      "post": {
        "operationId": "postAccountsCreativesWatch",
        "summary": "Watches a creative. Will result in push notifications being sent to the topic when the creative changes status.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The account of the creative to watch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creativeId",
            "in": "path",
            "required": true,
            "description": "The creative ID to watch for status changes. Specify \"-\" to watch all creatives under the above account. If both creative-level and account-level notifications are sent, only a single notification will be sent to the creative-level notification topic.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WatchCreativeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/creatives/{creativeId}:stopWatching": {
      "post": {
        "operationId": "postAccountsCreativesStopWatching",
        "summary": "Stops watching a creative. Will stop push notifications being sent to the topics when the creative changes status.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The account of the creative to stop notifications for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creativeId",
            "in": "path",
            "required": true,
            "description": "The creative ID of the creative to stop notifications for. Specify \"-\" to specify stopping account level notifications.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopWatchingCreativeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:add": {
      "post": {
        "operationId": "postAccountsCreativesDealAssociationsAdd",
        "summary": "Associate an existing deal with a creative.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The account the creative belongs to.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creativeId",
            "in": "path",
            "required": true,
            "description": "The ID of the creative associated with the deal.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDealAssociationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:remove": {
      "post": {
        "operationId": "postAccountsCreativesDealAssociationsRemove",
        "summary": "Remove the association between a deal and a creative.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The account the creative belongs to.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creativeId",
            "in": "path",
            "required": true,
            "description": "The ID of the creative associated with the deal.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveDealAssociationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations": {
      "get": {
        "operationId": "getAccountsCreativesDealAssociationsList",
        "summary": "List all creative-deal associations.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The account to list the associations from. Specify \"-\" to list all creatives the current user has access to.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creativeId",
            "in": "path",
            "required": true,
            "description": "The creative ID to list the associations from. Specify \"-\" to list all creatives under the above account.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Requested page size. Server may return fewer associations than requested. If unspecified, server will pick an appropriate default.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A token identifying a page of results the server should return. Typically, this is the value of ListDealAssociationsResponse.next_page_token returned from the previous call to 'ListDealAssociations' method.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "An optional query string to filter deal associations. If no filter is specified, all associations will be returned. Supported queries are: - accountId=*account_id_string* - creativeId=*creative_id_string* - dealsId=*deals_id_string* - dealsStatus:{approved, conditionally_approved, disapproved, not_checked} - openAuctionStatus:{approved, conditionally_approved, disapproved, not_checked} Example: 'dealsId=12345 AND dealsStatus:disapproved'",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDealAssociationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/clients/{clientAccountId}": {
      "get": {
        "operationId": "getAccountsClientsGet",
        "summary": "Gets a client buyer with a given client account ID.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Numerical account ID of the client's sponsor buyer. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          },
          {
            "name": "clientAccountId",
            "in": "path",
            "required": true,
            "description": "Numerical account ID of the client buyer to retrieve. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      },
      "put": {
        "operationId": "putAccountsClientsUpdate",
        "summary": "Updates an existing client buyer.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Unique numerical account ID for the buyer of which the client buyer is a customer; the sponsor buyer to update a client for. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          },
          {
            "name": "clientAccountId",
            "in": "path",
            "required": true,
            "description": "Unique numerical account ID of the client to update. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/clients": {
      "get": {
        "operationId": "getAccountsClientsList",
        "summary": "Lists all the clients for the current sponsor buyer.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Unique numerical account ID of the sponsor buyer to list the clients for.",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Requested page size. The server may return fewer clients than requested. If unspecified, the server will pick an appropriate default.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the accounts.clients.list method.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partnerClientId",
            "in": "query",
            "required": false,
            "description": "Optional unique identifier (from the standpoint of an Ad Exchange sponsor buyer partner) of the client to return. If specified, at most one client will be returned in the response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListClientsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      },
      "post": {
        "operationId": "postAccountsClientsCreate",
        "summary": "Creates a new client buyer.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Unique numerical account ID for the buyer of which the client buyer is a customer; the sponsor buyer to create a client for. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/clients/{clientAccountId}/users": {
      "get": {
        "operationId": "getAccountsClientsUsersList",
        "summary": "Lists all the known client users for a specified sponsor buyer account ID.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Numerical account ID of the sponsor buyer of the client to list users for. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          },
          {
            "name": "clientAccountId",
            "in": "path",
            "required": true,
            "description": "The account ID of the client buyer to list users for. (required) You must specify either a string representation of a numerical account identifier or the `-` character to list all the client users for all the clients of a given sponsor buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Requested page size. The server may return fewer clients than requested. If unspecified, the server will pick an appropriate default.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the accounts.clients.users.list method.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListClientUsersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}": {
      "put": {
        "operationId": "putAccountsClientsUsersUpdate",
        "summary": "Updates an existing client user. Only the user status can be changed on update.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Numerical account ID of the client's sponsor buyer. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          },
          {
            "name": "clientAccountId",
            "in": "path",
            "required": true,
            "description": "Numerical account ID of the client buyer that the user to be retrieved is associated with. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "Numerical identifier of the user to retrieve. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      },
      "get": {
        "operationId": "getAccountsClientsUsersGet",
        "summary": "Retrieves an existing client user.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Numerical account ID of the client's sponsor buyer. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          },
          {
            "name": "clientAccountId",
            "in": "path",
            "required": true,
            "description": "Numerical account ID of the client buyer that the user to be retrieved is associated with. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "Numerical identifier of the user to retrieve. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations": {
      "post": {
        "operationId": "postAccountsClientsInvitationsCreate",
        "summary": "Creates and sends out an email invitation to access an Ad Exchange client buyer account.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Numerical account ID of the client's sponsor buyer. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          },
          {
            "name": "clientAccountId",
            "in": "path",
            "required": true,
            "description": "Numerical account ID of the client buyer that the user should be associated with. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientUserInvitation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientUserInvitation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      },
      "get": {
        "operationId": "getAccountsClientsInvitationsList",
        "summary": "Lists all the client users invitations for a client with a given account ID.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Numerical account ID of the client's sponsor buyer. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          },
          {
            "name": "clientAccountId",
            "in": "path",
            "required": true,
            "description": "Numerical account ID of the client buyer to list invitations for. (required) You must either specify a string representation of a numerical account identifier or the `-` character to list all the invitations for all the clients of a given sponsor buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Requested page size. Server may return fewer clients than requested. If unspecified, server will pick an appropriate default.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUserInvitationsResponse.nextPageToken returned from the previous call to the clients.invitations.list method.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListClientUserInvitationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}": {
      "get": {
        "operationId": "getAccountsClientsInvitationsGet",
        "summary": "Retrieves an existing client user invitation.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Numerical account ID of the client's sponsor buyer. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          },
          {
            "name": "clientAccountId",
            "in": "path",
            "required": true,
            "description": "Numerical account ID of the client buyer that the user invitation to be retrieved is associated with. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          },
          {
            "name": "invitationId",
            "in": "path",
            "required": true,
            "description": "Numerical identifier of the user invitation to retrieve. (required)",
            "schema": {
              "type": "string",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientUserInvitation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/proposals/{proposalId}": {
      "get": {
        "operationId": "getAccountsProposalsGet",
        "summary": "Gets a proposal given its ID. The proposal is returned at its head revision.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID of the buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proposalId",
            "in": "path",
            "required": true,
            "description": "The unique ID of the proposal",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      },
      "put": {
        "operationId": "putAccountsProposalsUpdate",
        "summary": "Update the given proposal at the client known revision number. If the server revision has advanced since the passed-in `proposal.proposal_revision`, an `ABORTED` error message will be returned. Only t",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID of the buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proposalId",
            "in": "path",
            "required": true,
            "description": "The unique ID of the proposal.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Proposal"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/proposals": {
      "post": {
        "operationId": "postAccountsProposalsCreate",
        "summary": "Create the given proposal. Each created proposal and any deals it contains are assigned a unique ID by the server.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID of the buyer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Proposal"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      },
      "get": {
        "operationId": "getAccountsProposalsList",
        "summary": "List proposals. A filter expression (PQL query) may be specified to filter the results. To retrieve all finalized proposals, regardless if a proposal is being renegotiated, see the FinalizedProposals ",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID of the buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "An optional PQL filter query used to query for proposals. Nested repeated fields, such as proposal.deals.targetingCriterion, cannot be filtered.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "The page token as returned from ListProposalsResponse.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterSyntax",
            "in": "query",
            "required": false,
            "description": "Syntax the filter is written in. Current implementation defaults to PQL but in the future it will be LIST_FILTER.",
            "schema": {
              "type": "string",
              "enum": [
                "FILTER_SYNTAX_UNSPECIFIED",
                "PQL",
                "LIST_FILTER"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProposalsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/proposals/{proposalId}:addNote": {
      "post": {
        "operationId": "postAccountsProposalsAddNote",
        "summary": "Create a new note and attach it to the proposal. The note is assigned a unique ID by the server. The proposal revision number will not increase when associated with a new note.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID of the buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proposalId",
            "in": "path",
            "required": true,
            "description": "The ID of the proposal to attach the note to.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddNoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/proposals/{proposalId}:cancelNegotiation": {
      "post": {
        "operationId": "postAccountsProposalsCancelNegotiation",
        "summary": "Cancel an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized, but only cancels a negotiation unilaterally.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID of the buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proposalId",
            "in": "path",
            "required": true,
            "description": "The ID of the proposal to cancel negotiation for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelNegotiationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/proposals/{proposalId}:accept": {
      "post": {
        "operationId": "postAccountsProposalsAccept",
        "summary": "Mark the proposal as accepted at the given revision number. If the number does not match the server's revision number an `ABORTED` error message will be returned. This call updates the proposal_state ",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID of the buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proposalId",
            "in": "path",
            "required": true,
            "description": "The ID of the proposal to accept.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptProposalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/proposals/{proposalId}:completeSetup": {
      "post": {
        "operationId": "postAccountsProposalsCompleteSetup",
        "summary": "You can opt-in to manually update proposals to indicate that setup is complete. By default, proposal setup is automatically completed after their deals are finalized. Contact your Technical Account Ma",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID of the buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proposalId",
            "in": "path",
            "required": true,
            "description": "The ID of the proposal to mark as setup completed.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteSetupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/proposals/{proposalId}:pause": {
      "post": {
        "operationId": "postAccountsProposalsPause",
        "summary": "Update the given proposal to pause serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to true for all deals in the proposal. It is a no-op to pause an already",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID of the buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proposalId",
            "in": "path",
            "required": true,
            "description": "The ID of the proposal to pause.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PauseProposalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/proposals/{proposalId}:resume": {
      "post": {
        "operationId": "postAccountsProposalsResume",
        "summary": "Update the given proposal to resume serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to false for all deals in the proposal. Note that if the `has_seller_pa",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID of the buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proposalId",
            "in": "path",
            "required": true,
            "description": "The ID of the proposal to resume.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResumeProposalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/finalizedProposals": {
      "get": {
        "operationId": "getAccountsFinalizedProposalsList",
        "summary": "List finalized proposals, regardless if a proposal is being renegotiated. A filter expression (PQL query) may be specified to filter the results. The notes will not be returned.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID of the buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "An optional PQL filter query used to query for proposals. Nested repeated fields, such as proposal.deals.targetingCriterion, cannot be filtered.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "The page token as returned from ListProposalsResponse.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterSyntax",
            "in": "query",
            "required": false,
            "description": "Syntax the filter is written in. Current implementation defaults to PQL but in the future it will be LIST_FILTER.",
            "schema": {
              "type": "string",
              "enum": [
                "FILTER_SYNTAX_UNSPECIFIED",
                "PQL",
                "LIST_FILTER"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProposalsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:pause": {
      "post": {
        "operationId": "postAccountsFinalizedProposalsPause",
        "summary": "Update given deals to pause serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to true for all listed deals in the request. Currently, this method only applie",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID of the buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proposalId",
            "in": "path",
            "required": true,
            "description": "The proposal_id of the proposal containing the deals.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PauseProposalDealsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:resume": {
      "post": {
        "operationId": "postAccountsFinalizedProposalsResume",
        "summary": "Update given deals to resume serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to false for all listed deals in the request. Currently, this method only appl",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID of the buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proposalId",
            "in": "path",
            "required": true,
            "description": "The proposal_id of the proposal containing the deals.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResumeProposalDealsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/products/{productId}": {
      "get": {
        "operationId": "getAccountsProductsGet",
        "summary": "Gets the requested product by ID.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID of the buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "The ID for the product to get the head revision for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/products": {
      "get": {
        "operationId": "getAccountsProductsList",
        "summary": "List all products visible to the buyer (optionally filtered by the specified PQL query).",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID of the buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "An optional PQL query used to query for products. See https://developers.google.com/ad-manager/docs/pqlreference for documentation about PQL and examples. Nested repeated fields, such as product.targetingCriterion.inclusions, cannot be filtered.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "The page token as returned from ListProductsResponse.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProductsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/publisherProfiles/{publisherProfileId}": {
      "get": {
        "operationId": "getAccountsPublisherProfilesGet",
        "summary": "Gets the requested publisher profile by id.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID of the buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publisherProfileId",
            "in": "path",
            "required": true,
            "description": "The id for the publisher profile to get.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublisherProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/accounts/{accountId}/publisherProfiles": {
      "get": {
        "operationId": "getAccountsPublisherProfilesList",
        "summary": "List all publisher profiles visible to the buyer",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID of the buyer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Specify the number of results to include per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "The page token as return from ListPublisherProfilesResponse.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPublisherProfilesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets": {
      "post": {
        "operationId": "postBiddersAccountsFilterSetsCreate",
        "summary": "Creates the specified filter set for the account with the given account ID.",
        "tags": [
          "bidders"
        ],
        "parameters": [
          {
            "name": "ownerName",
            "in": "path",
            "required": true,
            "description": "Name of the owner (bidder or account) of the filter set to be created. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
            "schema": {
              "type": "string",
              "pattern": "^bidders/[^/]+/accounts/[^/]+$"
            }
          },
          {
            "name": "isTransient",
            "in": "query",
            "required": false,
            "description": "Whether the filter set is transient, or should be persisted indefinitely. By default, filter sets are not transient. If transient, it will be available for at least 1 hour after creation.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterSet"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterSet"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      },
      "get": {
        "operationId": "getBiddersAccountsFilterSetsList",
        "summary": "Lists all filter sets for the account with the given account ID.",
        "tags": [
          "bidders"
        ],
        "parameters": [
          {
            "name": "ownerName",
            "in": "path",
            "required": true,
            "description": "Name of the owner (bidder or account) of the filter sets to be listed. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
            "schema": {
              "type": "string",
              "pattern": "^bidders/[^/]+/accounts/[^/]+$"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilterSetsResponse.nextPageToken returned from the previous call to the accounts.filterSets.list method.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFilterSetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}": {
      "get": {
        "operationId": "getBiddersAccountsFilterSetsGet",
        "summary": "Retrieves the requested filter set for the account with the given account ID.",
        "tags": [
          "bidders"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Full name of the resource being requested. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
            "schema": {
              "type": "string",
              "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterSet"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "deleteBiddersAccountsFilterSetsDelete",
        "summary": "Deletes the requested filter set from the account with the given account ID.",
        "tags": [
          "bidders"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Full name of the resource to delete. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
            "schema": {
              "type": "string",
              "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/impressionMetrics": {
      "get": {
        "operationId": "getBiddersAccountsFilterSetsImpressionMetricsList",
        "summary": "Lists all metrics that are measured in terms of number of impressions.",
        "tags": [
          "bidders"
        ],
        "parameters": [
          {
            "name": "filterSetName",
            "in": "path",
            "required": true,
            "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
            "schema": {
              "type": "string",
              "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A token identifying a page of results the server should return. Typically, this is the value of ListImpressionMetricsResponse.nextPageToken returned from the previous call to the impressionMetrics.list method.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListImpressionMetricsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/adexchange.buyer"
            ]
          }
        ]
      }
    },
    "/v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidMetrics": {
      "get": {
        "operationId": "getBiddersAccountsFilterSetsBidMetricsList",
        "summary": "Lists all metrics that are measured in terms of number of bids.",
        "tags": [
          "bidders"
        ],
        "parameters": [
          {
            "name": "filterSetName",
            "in": "path",
            "required": true,
            "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
            "schema": {
              "type": "string",
              "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidMetricsResponse.nextPageToken returned from the previous call to the bidMetrics.list method.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBidMetricsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
[...]
