{
  "openapi": "3.0.3",
  "info": {
    "description": "Welcome to the official [Status.io](https://status.io) Developer API. This API is designed to help you seamlessly integrate your existing tools with your status page.\n\n# API Testing\n\n## Live Sandbox\n\nUse the built-in API client to test and debug API calls, and view example requests in multiple programming languages.\n\n**Caution:** These are live API calls and will make real changes to your status page. We strongly recommend creating a separate status page for testing purposes.\n\n# Authentication\n\nInclude **x-api-id** and **x-api-key** in the header of every request.\n\nAPI credentials are available in the API tab of your Dashboard.\n\n**Note:** Each team member has their own unique API credentials.\n\n# Error Handling\n\nAll API responses include a status object.\n\nCheck the **status.error** field (\"yes\" or \"no\") and refer to **status.message** for details.\n\n## Success Example\n\n```\n    {\"status\":\n        {\n            \"error\": \"no\",\n            \"message\": \"OK\"\n        }\n    }\n```\n\n## Failure Example\n\n```\n    {\"status\":\n        {\n            \"error\": \"yes\",\n            \"message\": \"Authentication failed\"\n        }\n    }\n```\n\n## Invalid URLs\n\nIf an invalid URL or HTTP method is used, the API will respond with a **403 Forbidden** error.\n\n## Validation Errors\n\nIf input parameters are of the wrong type or missing, the API will return a **400 Bad Request** error.\n\n# Client Libraries\n\nWe provide official client libraries in several languages to help you get started quickly:\n\nGo - [statusio-go](https://github.com/statusio/statusio-go)\n\nNode.js - [statusio-node](https://github.com/statusio/statusio-node)\n\nPHP - [statusio-php](https://github.com/statusio/statusio-php)\n\nPython - [statusio-python](https://github.com/statusio/statusio-python)\n\nRuby - [statusio-ruby](https://github.com/statusio/statusio-ruby)\n\nRust - [statusio unofficial](https://github.com/SecurityInsanity/statusio)\n\n*Created and maintained by a third-party developer.*\n\n## Community Development\n\nIf you have built a library or plugin that integrates with the Status.io API, we welcome community contributions and would be pleased to feature your work. Please reach out to share your integration.\n\n# Data Format\n\nAll requests and responses use JSON.\n\nInclude the following header in all requests:\n\n```\nContent-Type: application/json\n```\n\n## Dates and Times\n\nAll timestamps returned by the API are in UTC.\n\nHowever, custom time zone settings are automatically applied for viewers of your status page.\n\n# Best Practices\n\n## Use Caching\n\nWhenever possible, cache API responses server-side.\n\nAvoid making a new API call for every page hit, especially under load, as this can cause your connection to be throttled.\n\nIf the data doesn’t change frequently, caching will improve performance and reliability.\n\n## Use Reasonable Polling Intervals\n\nAvoid checking for updates too frequently. For example, polling every second for a status update offers no real benefit—the highest meaningful resolution is one minute. Requests more frequent than this may be rate-limited or blocked.\n\n## Only Send Meaningful Updates\n\nSend updates only when status changes occur. Avoid repeatedly reporting the same status, such as continuously reporting that a component is operational when no change has occurred.\n\n## Limit Concurrent Requests\n\nOnly send **one API request at a time**. If you need to send multiple updates, queue them and send them sequentially, waiting at least **1 second between requests** to avoid triggering rate limits.\n\n## Expect Network Issues\n\nNetwork connectivity can be intermittent. Design your integration to handle timeouts and failures gracefully. Always implement proper error handling and retry logic—never assume every request will succeed.\n\n# Support\n\nWe are here to help. If you encounter any issues or have suggestions for improvement, please reach out: hello@status.io\n\n# Security\n\nWe support and appreciate responsible disclosure.\n\nTo report a security issue, contact our security team at: security@status.io.\n\nIf you’re sharing sensitive information, please encrypt it using our [PGP key](https://status.io/public_key.txt).",
    "title": "Status.io API v2",
    "version": "2.0.0",
    "x-jentic-source-url": "https://developer.status.io/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.status.io/v2"
    }
  ],
  "paths": {
    "/admin/ip_access_control/list/{statuspage_id}": {
      "get": {
        "operationId": "get-admin-ip-access-control-list-statuspage-id",
        "summary": "admin/ip_access_control/list",
        "description": "+ statuspage_id (string, required) - Status page ID",
        "parameters": [
          {
            "name": "statuspage_id",
            "in": "path",
            "description": "Status page ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "52e5e0e0893548543700000b"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "result": {
                        "ipv4": "192.168.1.0/24,192.168.5.1/32",
                        "ipv6": "2001:db8:8086:6502::/64,2001:db8:1234::/48"
                      },
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "ipv_4": {
                          "type": "string"
                        },
                        "ipv_6": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "result": {
                        "ipv4": "192.168.1.0/24,192.168.5.1/32",
                        "ipv6": "2001:db8:8086:6502::/64,2001:db8:1234::/48"
                      },
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Admin"
        ]
      }
    },
    "/admin/ip_access_control/update/ipv4": {
      "post": {
        "operationId": "post-admin-ip-access-control-update-ipv-4",
        "summary": "admin/ip_access_control/update/ipv4",
        "description": "+ statuspage_id (string, required) - Status page ID\n\n+ allow_ips (string, required) - IP addresses in CIDR notation separated by commas",
        "parameters": [
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "allow_ips": {
                    "type": "string"
                  },
                  "statuspage_id": {
                    "type": "string"
                  }
                },
                "examples": [
                  {
                    "allow_ips": "192.168.1.0/24,192.168.5.1/32",
                    "statuspage_id": "52e5e0e0873548543700000b"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Admin"
        ]
      }
    },
    "/admin/ip_access_control/update/ipv6": {
      "post": {
        "operationId": "post-admin-ip-access-control-update-ipv-6",
        "summary": "admin/ip_access_control/update/ipv6",
        "description": "+ statuspage_id (string, required) - Status page ID\n\n+ allow_ips (string, required) - IP addresses in CIDR notation separated by commas",
        "parameters": [
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "allow_ips": {
                    "type": "string"
                  },
                  "statuspage_id": {
                    "type": "string"
                  }
                },
                "examples": [
                  {
                    "allow_ips": "2001:db8:8086:6502::/64,2001:db8:1234::/48",
                    "statuspage_id": "52e5e0e0873548543700000b"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Admin"
        ]
      }
    },
    "/admin/ssl_cert/update": {
      "post": {
        "operationId": "post-admin-ssl-cert-update",
        "summary": "admin/ssl_cert/update",
        "description": "+ statuspage_id (string, required) - Status page ID\n\n+ ssl_cert (string, required) - SSL certificate (PEM format)\n\n+ ssl_cert_chain (string, required) - SSL certificate chain (PEM format)\n\n+ ssl_cert_key (string, required) - SSL certificate private key (PEM format)",
        "parameters": [
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ssl_cert": {
                    "type": "string"
                  },
                  "ssl_cert_chain": {
                    "type": "string"
                  },
                  "ssl_cert_key": {
                    "type": "string"
                  },
                  "statuspage_id": {
                    "type": "string"
                  }
                },
                "examples": [
                  {
                    "ssl_cert": "-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----",
                    "ssl_cert_chain": "-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----",
                    "ssl_cert_key": "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----",
                    "statuspage_id": "52e5e0e0873548543700000b"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Admin"
        ]
      }
    },
    "/component/list/{statuspage_id}": {
      "get": {
        "operationId": "get-component-list-statuspage-id",
        "summary": "component/list",
        "description": "+ statuspage_id (string, required) - Status page ID",
        "parameters": [
          {
            "name": "statuspage_id",
            "in": "path",
            "description": "Status page ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "53d75690483cd492cf000008"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "result": [
                        {
                          "__v": 0,
                          "_id": "53d75690483cd492cf000008",
                          "containers": [
                            {
                              "__v": 0,
                              "_id": "52e5e0e08935485437000019",
                              "location": "do-ams-2",
                              "name": "Amsterdam"
                            }
                          ],
                          "name": "Database",
                          "position": 2,
                          "statuspage": "53d74690383cd493cf000008"
                        },
                        {
                          "__v": 0,
                          "_id": "52e5e0e0893548543700001a",
                          "containers": [
                            {
                              "__v": 0,
                              "_id": "52e5e0e08935485437000019",
                              "location": "do-ams-2",
                              "name": "Amsterdam"
                            },
                            {
                              "__v": 0,
                              "_id": "52e5e2d6b799555038000009",
                              "location": "ap-northeast-1",
                              "name": "Tokyo"
                            }
                          ],
                          "name": "Website",
                          "position": 1,
                          "statuspage": "53d74690383cd493cf000008"
                        }
                      ],
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "v": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "containers": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "v": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "location": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "__v",
                                "_id",
                                "name",
                                "location"
                              ],
                              "type": "object"
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "position": {
                            "type": "number"
                          },
                          "statuspage": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "__v",
                          "_id",
                          "containers",
                          "name",
                          "position",
                          "statuspage"
                        ],
                        "type": "object"
                      }
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "result": [
                        {
                          "__v": 0,
                          "_id": "53d75690483cd492cf000008",
                          "containers": [
                            {
                              "__v": 0,
                              "_id": "52e5e0e08935485437000019",
                              "location": "do-ams-2",
                              "name": "Amsterdam"
                            }
                          ],
                          "name": "Database",
                          "position": 2,
                          "statuspage": "53d74690383cd493cf000008"
                        },
                        {
                          "__v": 0,
                          "_id": "52e5e0e0893548543700001a",
                          "containers": [
                            {
                              "__v": 0,
                              "_id": "52e5e0e08935485437000019",
                              "location": "do-ams-2",
                              "name": "Amsterdam"
                            },
                            {
                              "__v": 0,
                              "_id": "52e5e2d6b799555038000009",
                              "location": "ap-northeast-1",
                              "name": "Tokyo"
                            }
                          ],
                          "name": "Website",
                          "position": 1,
                          "statuspage": "53d74690383cd493cf000008"
                        }
                      ],
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Components"
        ]
      }
    },
    "/component/status/update": {
      "post": {
        "operationId": "post-component-status-update",
        "summary": "component/status/update",
        "description": "+ statuspage_id (string, required) - Status page ID\n\n+ component (string, required) - ID of affected component\n\n+ container (string, required) - ID of affected container. The container must be attached to the specified component.\n\n+ details (string, required) - Brief message describing this status update\n\n+ current_status (number, required) - Numeric status code. [View status level codes](http://kb.status.io/developers/status-codes)",
        "parameters": [
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "component": {
                    "type": "string"
                  },
                  "container": {
                    "type": "string"
                  },
                  "current_status": {
                    "type": "number"
                  },
                  "details": {
                    "type": "string"
                  },
                  "statuspage_id": {
                    "type": "string"
                  }
                },
                "examples": [
                  {
                    "component": "53d7459705ddbc753f000bbd",
                    "container": "53d7455aedd0ac2340000600",
                    "current_status": 500,
                    "details": "Database server is experiencing connectivity issues",
                    "statuspage_id": "52e5e0e0893548543700000b"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Components"
        ]
      }
    },
    "/incident/create": {
      "post": {
        "operationId": "post-incident-create",
        "summary": "incident/create",
        "description": "+ statuspage_id (string, required) - Status page ID\n\n+ all_infrastructure_affected (string, required) - Apply to all components and containers. Set to `1` to affect all infrastructure, `0` to use specific infrastructure_affected list (default: `0`).\n\n+ infrastructure_affected (array, required) - Array of component-container ID pairs in the format `component_id-container_id`\n\n+ incident_name (string, required) - Descriptive title for the incident\n\n+ incident_details (string, required) - Message describing this incident\n\n+ current_status (number, required) - The status of the components and containers affected by this incident. [View status level codes](http://kb.status.io/developers/status-codes)\n\n+ current_state (number, required) - The state of this incident. [View state level codes](http://kb.status.io/developers/status-codes)\n\n+ social (string, required) - Automatically post this update to Twitter/X. Set to `1` to post a message, `0` to skip.\n\n+ notify_email (string, optional) - Notify email subscribers. Set to `1` to send notification, `0` to skip.\n\n+ notify_sms (string, optional) - Notify SMS subscribers. Set to `1` to send notification, `0` to skip.\n\n+ notify_webhook (string, optional) - Notify webhook subscribers. Set to `1` to send notification, `0` to skip.\n\n+ irc (string, optional) - Notify IRC channel. Set to `1` to send notification, `0` to skip.\n\n+ msteams (string, optional) - Notify Microsoft Teams channels. Set to `1` to send notification, `0` to skip.\n\n+ slack (string, optional) - Notify Slack channel. Set to `1` to send notification, `0` to skip.\n\n+ message_subject (string, optional) - The message subject for email notifications. [How to use variables in the message subject](http://kb.status.io/notifications/message-subject-variables/)",
        "parameters": [
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "all_infrastructure_affected": {
                    "type": "string"
                  },
                  "current_state": {
                    "type": "number"
                  },
                  "current_status": {
                    "type": "number"
                  },
                  "incident_details": {
                    "type": "string"
                  },
                  "incident_name": {
                    "type": "string"
                  },
                  "infrastructure_affected": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "irc": {
                    "type": "string"
                  },
                  "message_subject": {
                    "type": "string"
                  },
                  "msteams": {
                    "type": "string"
                  },
                  "notify_email": {
                    "type": "string"
                  },
                  "notify_sms": {
                    "type": "string"
                  },
                  "notify_webhook": {
                    "type": "string"
                  },
                  "slack": {
                    "type": "string"
                  },
                  "social": {
                    "type": "string"
                  },
                  "statuspage_id": {
                    "type": "string"
                  }
                },
                "examples": [
                  {
                    "all_infrastructure_affected": "0",
                    "current_state": 100,
                    "current_status": 300,
                    "incident_details": "We are investigating database connection issues affecting our primary data center. Some users may experience intermittent service disruptions.",
                    "incident_name": "Database Connection Issues",
                    "infrastructure_affected": [
                      "53d746c0383cd493cf00001a-53d746c0383cd493cf00001b",
                      "53d746c0383cd493cf00001a-53d746c8383cd493cf00001e"
                    ],
                    "irc": "0",
                    "message_subject": "Service Incident: Database Connection Issues",
                    "msteams": "0",
                    "notify_email": "0",
                    "notify_sms": "1",
                    "notify_webhook": "0",
                    "slack": "0",
                    "social": "0",
                    "statuspage_id": "52e5e0e0893548543700000b"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "result": "52e5e0e3290548543700000b",
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string"
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "result": "52e5e0e3290548543700000b",
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Incidents"
        ]
      }
    },
    "/incident/delete": {
      "post": {
        "operationId": "post-incident-delete",
        "summary": "incident/delete",
        "description": "+ statuspage_id (string, required) - Status page ID\n\n+ incident_id (string, required) - Incident ID",
        "parameters": [
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "incident_id": {
                    "type": "string"
                  },
                  "statuspage_id": {
                    "type": "string"
                  }
                },
                "examples": [
                  {
                    "incident_id": "52e5ebd1e32578623900000c",
                    "statuspage_id": "52e5e0e0893548543700000b"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "Successfully deleted incident"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "Successfully deleted incident"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Incidents"
        ]
      }
    },
    "/incident/history/create": {
      "post": {
        "operationId": "post-incident-history-create",
        "summary": "incident/history/create",
        "description": "+ statuspage_id (string, required) - Status page ID\n\n+ all_infrastructure_affected (string, required) - Apply to all components and containers. Set to `1` to affect all infrastructure, `0` to use specific infrastructure_affected list (default: `0`).\n\n+ infrastructure_affected (array, required) - Array of component-container ID pairs in the format `component_id-container_id`\n\n+ incident_name (string, required) - Descriptive title for the incident\n\n+ incident_details_start (string, required) - Message describing the start of this incident\n\n+ incident_details_resolve (string, required) - Message describing the resolution of this incident\n\n+ current_status (number, required) - The original status of the components and containers affected by this incident. <a href=\"http://kb.status.io/developers/status-codes\" target=\"_blank\">View status level codes</a>\n\n+ incident_start_date (string, required) - Incident start date (MM/dd/yyyy)\n\n+ incident_start_time (string, required) - Incident start time (HH:mm)\n\n+ incident_end_date (string, required) - Incident end date (MM/dd/yyyy)\n\n+ incident_end_time (string, required) - Incident end time (HH:mm)",
        "parameters": [
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "all_infrastructure_affected": {
                    "type": "string"
                  },
                  "current_status": {
                    "type": "number"
                  },
                  "incident_details_resolve": {
                    "type": "string"
                  },
                  "incident_details_start": {
                    "type": "string"
                  },
                  "incident_end_date": {
                    "type": "string"
                  },
                  "incident_end_time": {
                    "type": "string"
                  },
                  "incident_name": {
                    "type": "string"
                  },
                  "incident_start_date": {
                    "type": "string"
                  },
                  "incident_start_time": {
                    "type": "string"
                  },
                  "infrastructure_affected": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "statuspage_id": {
                    "type": "string"
                  }
                },
                "examples": [
                  {
                    "all_infrastructure_affected": "0",
                    "current_status": 300,
                    "incident_details_resolve": "This issue has been resolved. The connection errors were caused by a failing node that was not automatically removed from the cluster. All systems are now operating normally.",
                    "incident_details_start": "We are investigating API connection errors affecting our service endpoints. Some API requests may experience delays or timeouts.",
                    "incident_end_date": "05/01/2015",
                    "incident_end_time": "03:15",
                    "incident_name": "API Service Disruption",
                    "incident_start_date": "05/01/2015",
                    "incident_start_time": "03:00",
                    "infrastructure_affected": [
                      "53d746c0383cd493cf00001a-53d746c0383cd493cf00001b",
                      "53d746c0383cd493cf00001a-53d746c8383cd493cf00001e"
                    ],
                    "statuspage_id": "52e5e0e0893548543700000b"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "result": "52e5e0e3290548543700000b",
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string"
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "result": "52e5e0e3290548543700000b",
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Incidents"
        ]
      }
    },
    "/incident/list/active/{statuspage_id}": {
      "get": {
        "operationId": "get-incident-list-active-statuspage-id",
        "summary": "incident/list/active",
        "description": "+ statuspage_id (string, required) - Status page ID\n\n+ page (string, optional) - Page number",
        "parameters": [
          {
            "name": "statuspage_id",
            "in": "path",
            "description": "Status page ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "52e5e0e0893548543700000b"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Incidents"
        ]
      }
    },
    "/incident/list/resolved/{statuspage_id}": {
      "get": {
        "operationId": "get-incident-list-resolved-statuspage-id",
        "summary": "incident/list/resolved",
        "description": "+ statuspage_id (string, required) - Status page ID\n\n+ page (string, optional) - Page number",
        "parameters": [
          {
            "name": "statuspage_id",
            "in": "path",
            "description": "Status page ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "52e5e0e0893548543700000b"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Incidents"
        ]
      }
    },
    "/incident/list/{statuspage_id}": {
      "get": {
        "operationId": "get-incident-list-statuspage-id",
        "summary": "incident/list",
        "description": "+ statuspage_id (string, required) - Status page ID",
        "parameters": [
          {
            "name": "statuspage_id",
            "in": "path",
            "description": "Status page ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "52e5e0e0893548543700000b"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "result": {
                        "active_incidents": [
                          {
                            "__v": 0,
                            "_id": "52e5ebd1e32578623900000c",
                            "components_affected": [
                              {
                                "__v": 0,
                                "_id": "52e5e0e0893548543700001a",
                                "containers": [
                                  "52e5e0e08935485437000019",
                                  "52e5e2d6b799555038000009"
                                ],
                                "name": "Website",
                                "position": 1,
                                "statuspage": "52e5e0e0893548543700000b"
                              }
                            ],
                            "containers_affected": [
                              {
                                "__v": 0,
                                "_id": "52e5e0e08935485437000019",
                                "location": "do-ams-2",
                                "name": "Amsterdam"
                              },
                              {
                                "__v": 0,
                                "_id": "52e5e2d6b799555038000009",
                                "location": "ap-northeast-1",
                                "name": "Tokyo"
                              }
                            ],
                            "datetime_open": "2014-01-27T05:17:05.089Z",
                            "infrastructure_affected": [
                              {
                                "_id": "5a1b41edb4546d046c8efa06",
                                "component": {
                                  "__v": 0,
                                  "_id": "52e5e0e0893548543700001a",
                                  "containers": [
                                    "52e5e0e08935485437000019",
                                    "52e5e2d6b799555038000009"
                                  ],
                                  "name": "Website",
                                  "position": 1,
                                  "statuspage": "52e5e0e0893548543700000b"
                                },
                                "container": {
                                  "__v": 0,
                                  "_id": "52e5e0e08935485437000019",
                                  "location": "do-ams-2",
                                  "location_geo": {
                                    "coords": []
                                  },
                                  "name": "Amsterdam",
                                  "position": 1
                                }
                              }
                            ],
                            "kind": "incident",
                            "messages": [
                              {
                                "components": [
                                  "52e5e0e0893548543700001a"
                                ],
                                "__v": 0,
                                "_id": "52e5ebd1e32578623900000d",
                                "containers": [
                                  "52e5e0e08935485437000019",
                                  "52e5e2d6b799555038000009"
                                ],
                                "datetime": "2014-01-27T05:17:05.185Z",
                                "details": "We are currently investigating the issue and working to identify the root cause.",
                                "incident": "52e5ebd1e32578623900000c",
                                "ip": "203.0.113.42",
                                "source": "Dashboard",
                                "state": 100,
                                "status": 300,
                                "statuspage": "52e5e0e0893548543700000b"
                              }
                            ],
                            "name": "Elevated Web Error Rate",
                            "statuspage": "52e5e0e0893548543700000b"
                          }
                        ],
                        "resolved_incidents": []
                      },
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "active_incidents": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "v": {
                                "type": "number"
                              },
                              "id": {
                                "type": "string"
                              },
                              "components_affected": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "v": {
                                      "type": "number"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "containers": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "position": {
                                      "type": "number"
                                    },
                                    "statuspage": {
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "containers_affected": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "v": {
                                      "type": "number"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "location": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "__v",
                                    "_id",
                                    "name",
                                    "location"
                                  ],
                                  "type": "object"
                                }
                              },
                              "datetime_open": {
                                "type": "string"
                              },
                              "infrastructure_affected": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "component": {
                                      "type": "object",
                                      "properties": {
                                        "v": {
                                          "type": "number"
                                        },
                                        "id": {
                                          "type": "string"
                                        },
                                        "containers": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "position": {
                                          "type": "number"
                                        },
                                        "statuspage": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "container": {
                                      "type": "object",
                                      "properties": {
                                        "v": {
                                          "type": "number"
                                        },
                                        "id": {
                                          "type": "string"
                                        },
                                        "location": {
                                          "type": "string"
                                        },
                                        "location_geo": {
                                          "type": "object",
                                          "properties": {
                                            "coords": {
                                              "type": "array",
                                              "items": {}
                                            }
                                          }
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "position": {
                                          "type": "number"
                                        }
                                      }
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "kind": {
                                "type": "string"
                              },
                              "messages": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "components": {
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": "array"
                                    },
                                    "v": {
                                      "type": "number"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "containers": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "datetime": {
                                      "type": "string"
                                    },
                                    "details": {
                                      "type": "string"
                                    },
                                    "incident": {
                                      "type": "string"
                                    },
                                    "ip": {
                                      "type": "string"
                                    },
                                    "source": {
                                      "type": "string"
                                    },
                                    "state": {
                                      "type": "number"
                                    },
                                    "status": {
                                      "type": "number"
                                    },
                                    "statuspage": {
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "name": {
                                "type": "string"
                              },
                              "statuspage": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "resolved_incidents": {
                          "type": "array",
                          "items": {}
                        }
                      }
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "result": {
                        "active_incidents": [
                          {
                            "__v": 0,
                            "_id": "52e5ebd1e32578623900000c",
                            "components_affected": [
                              {
                                "__v": 0,
                                "_id": "52e5e0e0893548543700001a",
                                "containers": [
                                  "52e5e0e08935485437000019",
                                  "52e5e2d6b799555038000009"
                                ],
                                "name": "Website",
                                "position": 1,
                                "statuspage": "52e5e0e0893548543700000b"
                              }
                            ],
                            "containers_affected": [
                              {
                                "__v": 0,
                                "_id": "52e5e0e08935485437000019",
                                "location": "do-ams-2",
                                "name": "Amsterdam"
                              },
                              {
                                "__v": 0,
                                "_id": "52e5e2d6b799555038000009",
                                "location": "ap-northeast-1",
                                "name": "Tokyo"
                              }
                            ],
                            "datetime_open": "2014-01-27T05:17:05.089Z",
                            "infrastructure_affected": [
                              {
                                "_id": "5a1b41edb4546d046c8efa06",
                                "component": {
                                  "__v": 0,
                                  "_id": "52e5e0e0893548543700001a",
                                  "containers": [
                                    "52e5e0e08935485437000019",
                                    "52e5e2d6b799555038000009"
                                  ],
                                  "name": "Website",
                                  "position": 1,
                                  "statuspage": "52e5e0e0893548543700000b"
                                },
                                "container": {
                                  "__v": 0,
                                  "_id": "52e5e0e08935485437000019",
                                  "location": "do-ams-2",
                                  "location_geo": {
                                    "coords": []
                                  },
                                  "name": "Amsterdam",
                                  "position": 1
                                }
                              }
                            ],
                            "kind": "incident",
                            "messages": [
                              {
                                "components": [
                                  "52e5e0e0893548543700001a"
                                ],
                                "__v": 0,
                                "_id": "52e5ebd1e32578623900000d",
                                "containers": [
                                  "52e5e0e08935485437000019",
                                  "52e5e2d6b799555038000009"
                                ],
                                "datetime": "2014-01-27T05:17:05.185Z",
                                "details": "We are currently investigating the issue and working to identify the root cause.",
                                "incident": "52e5ebd1e32578623900000c",
                                "ip": "203.0.113.42",
                                "source": "Dashboard",
                                "state": 100,
                                "status": 300,
                                "statuspage": "52e5e0e0893548543700000b"
                              }
                            ],
                            "name": "Elevated Web Error Rate",
                            "statuspage": "52e5e0e0893548543700000b"
                          }
                        ],
                        "resolved_incidents": []
                      },
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Incidents"
        ]
      }
    },
    "/incident/message/{statuspage_id}/{message_id}": {
      "get": {
        "operationId": "get-incident-message-statuspage-id-message-id",
        "summary": "incident/message",
        "description": "+ statuspage_id (string, required) - Status page ID\n\n+ message_id (string, required) - Incident message ID",
        "parameters": [
          {
            "name": "statuspage_id",
            "in": "path",
            "description": "Status page ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "52e5e0e0893548543700000b"
          },
          {
            "name": "message_id",
            "in": "path",
            "description": "Message ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "52e5ebd1e32578623900000d"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "result": {
                        "components": [
                          "52e5e0e0893548543700001a"
                        ],
                        "__v": 0,
                        "_id": "52e5ebd1e32578623900000d",
                        "containers": [
                          "52e5e0e08935485437000019"
                        ],
                        "datetime": "2014-08-24T05:00:13.025Z",
                        "details": "We are investigating elevated database error rates affecting our primary data center.",
                        "incident": "52e5ebd1e32578623900000c",
                        "ip": "203.0.113.42",
                        "social": "0",
                        "source": "API",
                        "state": 100,
                        "status": 300,
                        "statuspage": "52e5e0e0893548543700000b",
                        "user_email": "admin@acme-corp.com",
                        "user_full_name": "John Smith"
                      },
                      "status": {
                        "error": "no",
                        "message": "Get incident message success"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "components": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "v": {
                          "type": "number"
                        },
                        "id": {
                          "type": "string"
                        },
                        "containers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "datetime": {
                          "type": "string"
                        },
                        "details": {
                          "type": "string"
                        },
                        "incident": {
                          "type": "string"
                        },
                        "ip": {
                          "type": "string"
                        },
                        "social": {
                          "type": "string"
                        },
                        "source": {
                          "type": "string"
                        },
                        "state": {
                          "type": "number"
                        },
                        "status": {
                          "type": "number"
                        },
                        "statuspage": {
                          "type": "string"
                        },
                        "user_email": {
                          "type": "string"
                        },
                        "user_full_name": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "result": {
                        "components": [
                          "52e5e0e0893548543700001a"
                        ],
                        "__v": 0,
                        "_id": "52e5ebd1e32578623900000d",
                        "containers": [
                          "52e5e0e08935485437000019"
                        ],
                        "datetime": "2014-08-24T05:00:13.025Z",
                        "details": "We are investigating elevated database error rates affecting our primary data center.",
                        "incident": "52e5ebd1e32578623900000c",
                        "ip": "203.0.113.42",
                        "social": "0",
                        "source": "API",
                        "state": 100,
                        "status": 300,
                        "statuspage": "52e5e0e0893548543700000b",
                        "user_email": "admin@acme-corp.com",
                        "user_full_name": "John Smith"
                      },
                      "status": {
                        "error": "no",
                        "message": "Get incident message success"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Incidents"
        ]
      }
    },
    "/incident/resolve": {
      "post": {
        "operationId": "post-incident-resolve",
        "summary": "incident/resolve",
        "description": "+ statuspage_id (string, required) - Status page ID\n\n+ incident_id (string, required) - Incident ID\n\n+ incident_details (string, required) - Message describing this incident\n\n+ social (string, required) - Automatically post this update to Twitter/X. Set to `1` to post a message, `0` to skip.\n\n+ notify_email (string, optional) - Notify email subscribers. Set to `1` to send notification, `0` to skip.\n\n+ notify_sms (string, optional) - Notify SMS subscribers. Set to `1` to send notification, `0` to skip.\n\n+ notify_webhook (string, optional) - Notify webhook subscribers. Set to `1` to send notification, `0` to skip.\n\n+ irc (string, optional) - Notify IRC channel. Set to `1` to send notification, `0` to skip.\n\n+ msteams (string, optional) - Notify Microsoft Teams channels. Set to `1` to send notification, `0` to skip.\n\n+ slack (string, optional) - Notify Slack channel. Set to `1` to send notification, `0` to skip.\n\n+ message_subject (string, optional) - The message subject for email notifications. [How to use variables in the message subject](http://kb.status.io/notifications/message-subject-variables/)",
        "parameters": [
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "incident_details": {
                    "type": "string"
                  },
                  "incident_id": {
                    "type": "string"
                  },
                  "irc": {
                    "type": "string"
                  },
                  "message_subject": {
                    "type": "string"
                  },
                  "msteams": {
                    "type": "string"
                  },
                  "notify_email": {
                    "type": "string"
                  },
                  "notify_sms": {
                    "type": "string"
                  },
                  "notify_webhook": {
                    "type": "string"
                  },
                  "slack": {
                    "type": "string"
                  },
                  "social": {
                    "type": "string"
                  },
                  "statuspage_id": {
                    "type": "string"
                  }
                },
                "examples": [
                  {
                    "incident_details": "The issue has been resolved. All systems are now operating normally. We apologize for any inconvenience this may have caused.",
                    "incident_id": "52e5ebd1e32578623900000c",
                    "irc": "0",
                    "message_subject": "Service Incident Resolved: Database Connection Issues",
                    "msteams": "0",
                    "notify_email": "0",
                    "notify_sms": "1",
                    "notify_webhook": "0",
                    "slack": "0",
                    "social": "0",
                    "statuspage_id": "52e5e0e0893548543700000b"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Incidents"
        ]
      }
    },
    "/incident/update": {
      "post": {
        "operationId": "post-incident-update",
        "summary": "incident/update",
        "description": "+ statuspage_id (string, required) - Status page ID\n\n+ incident_id (string, required) - Incident ID\n\n+ incident_details (string, required) - Message describing this incident update\n\n+ current_status (number, required) - The status of the components and containers affected by this incident. [View status level codes](http://kb.status.io/developers/status-codes)\n\n+ current_state (number, required) - The state of this incident. [View state level codes](http://kb.status.io/developers/status-codes)\n\n+ social (string, required) - Automatically post this update to Twitter/X. Set to `1` to post a message, `0` to skip.\n\n+ notify_email (string, optional) - Notify email subscribers. Set to `1` to send notification, `0` to skip.\n\n+ notify_sms (string, optional) - Notify SMS subscribers. Set to `1` to send notification, `0` to skip.\n\n+ notify_webhook (string, optional) - Notify webhook subscribers. Set to `1` to send notification, `0` to skip.\n\n+ irc (string, optional) - Notify IRC channel. Set to `1` to send notification, `0` to skip.\n\n+ msteams (string, optional) - Notify Microsoft Teams channels. Set to `1` to send notification, `0` to skip.\n\n+ slack (string, optional) - Notify Slack channel. Set to `1` to send notification, `0` to skip.\n\n+ message_subject (string, optional) - The message subject for email notifications. [How to use variables in the message subject](http://kb.status.io/notifications/message-subject-variables/)",
        "parameters": [
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "current_state": {
                    "type": "number"
                  },
                  "current_status": {
                    "type": "number"
                  },
                  "incident_details": {
                    "type": "string"
                  },
                  "incident_id": {
                    "type": "string"
                  },
                  "irc": {
                    "type": "string"
                  },
                  "message_subject": {
                    "type": "string"
                  },
                  "msteams": {
                    "type": "string"
                  },
                  "notify_email": {
                    "type": "string"
                  },
                  "notify_sms": {
                    "type": "string"
                  },
                  "notify_webhook": {
                    "type": "string"
                  },
                  "slack": {
                    "type": "string"
                  },
                  "social": {
                    "type": "string"
                  },
                  "statuspage_id": {
                    "type": "string"
                  }
                },
                "examples": [
                  {
                    "current_state": 200,
                    "current_status": 300,
                    "incident_details": "We have implemented a temporary workaround and are monitoring the situation closely. Service should be restored shortly.",
                    "incident_id": "52e5ebd1e32578623900000c",
                    "irc": "0",
                    "message_subject": "Service Incident Update: Database Connection Issues",
                    "msteams": "0",
                    "notify_email": "0",
                    "notify_sms": "0",
                    "notify_webhook": "0",
                    "slack": "0",
                    "social": "0",
                    "statuspage_id": "52e5e0e0893548543700000b"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Incidents"
        ]
      }
    },
    "/incident/{statuspage_id}/{incident_id}": {
      "get": {
        "operationId": "get-incident-statuspage-id-incident-id",
        "summary": "incident/",
        "description": "+ statuspage_id (string, required) - Status page ID\n\n+ incident_id (string, required) - Incident ID",
        "parameters": [
          {
            "name": "statuspage_id",
            "in": "path",
            "description": "Status page ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "52e5e0e0893548543700000b"
          },
          {
            "name": "incident_id",
            "in": "path",
            "description": "Incident ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "52e5ebd1e32578623900000c"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Incidents"
        ]
      }
    },
    "/incidents/{statuspage_id}": {
      "get": {
        "operationId": "get-incidents-statuspage-id",
        "summary": "incidents/",
        "description": "+ statuspage_id (string, required) - Status page ID",
        "parameters": [
          {
            "name": "statuspage_id",
            "in": "path",
            "description": "Status page ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "52e5e0e0893548543700000b"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Incidents"
        ]
      }
    },
    "/maintenance/delete": {
      "post": {
        "operationId": "post-maintenance-delete",
        "summary": "maintenance/delete",
        "description": "+ statuspage_id (string, required) - Status page ID\n\n+ maintenance_id (string, required) - Maintenance ID",
        "parameters": [
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "maintenance_id": {
                    "type": "string"
                  },
                  "statuspage_id": {
                    "type": "string"
                  }
                },
                "examples": [
                  {
                    "maintenance_id": "52e5ebd1e32578623900000c",
                    "statuspage_id": "52e5e0e0893548543700000b"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Maintenance"
        ]
      }
    },
    "/maintenance/finish": {
      "post": {
        "operationId": "post-maintenance-finish",
        "summary": "maintenance/finish",
        "description": "+ statuspage_id (string, required) - Status page ID\n\n+ maintenance_id (string, required) - Maintenance ID\n\n+ maintenance_details (string, required) - Message describing this maintenance\n\n+ social (string, required) - Automatically post this update to Twitter/X. Set to `1` to post a message, `0` to skip.\n\n+ notify_email (string, optional) - Notify email subscribers. Set to `1` to send notification, `0` to skip.\n\n+ notify_sms (string, optional) - Notify SMS subscribers. Set to `1` to send notification, `0` to skip.\n\n+ notify_webhook (string, optional) - Notify webhook subscribers. Set to `1` to send notification, `0` to skip.\n\n+ irc (string, optional) - Notify IRC channel. Set to `1` to send notification, `0` to skip.\n\n+ msteams (string, optional) - Notify Microsoft Teams channels. Set to `1` to send notification, `0` to skip.\n\n+ slack (string, optional) - Notify Slack channel. Set to `1` to send notification, `0` to skip.\n\n+ message_subject (string, optional) - The message subject for email notifications. [How to use variables in the message subject](http://kb.status.io/notifications/message-subject-variables/)",
        "parameters": [
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-KEY"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "irc": {
                    "type": "string"
                  },
                  "maintenance_details": {
                    "type": "string"
                  },
                  "maintenance_id": {
                    "type": "string"
                  },
                  "message_subject": {
                    "type": "string"
                  },
                  "msteams": {
                    "type": "string"
                  },
                  "notify_email": {
                    "type": "string"
                  },
                  "notify_sms": {
                    "type": "string"
                  },
                  "notify_webhook": {
                    "type": "string"
                  },
                  "slack": {
                    "type": "string"
                  },
                  "social": {
                    "type": "string"
                  },
                  "statuspage_id": {
                    "type": "string"
                  }
                },
                "examples": [
                  {
                    "irc": "0",
                    "maintenance_details": "Maintenance has been completed successfully. All systems are operating normally. Thank you for your patience during this scheduled maintenance window.",
                    "maintenance_id": "52e5eacc908cdc5e39000009",
                    "message_subject": "Maintenance Completed: Network Infrastructure Upgrade",
                    "msteams": "0",
                    "notify_email": "0",
                    "notify_sms": "1",
                    "notify_webhook": "0",
                    "slack": "0",
                    "social": "0",
                    "statuspage_id": "52e5e0e0893548543700000b"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "examples": [
                    {
                      "result": true,
                      "status": {
                        "error": "no",
                        "message": "OK"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Maintenance"
        ]
      }
    },
    "/maintenance/history/create": {
      "post": {
        "operationId": "post-maintenance-history-create",
        "summary": "maintenance/history/create",
        "description": "+ statuspage_id (string, required) - Status page ID\n\n+ all_infrastructure_affected (string, required) - Apply to all components and containers. Set to `1` to affect all infrastructure, `0` to use specific infrastructure_affected list (default: `0`).\n\n+ infrastructure_affected (array, required) - Array of component-container ID pairs in the format `component_id-container_id`\n\n+ maintenance_name (string, required) - Descriptive title for the maintenance event\n\n+ maintenance_details_schedule (string, required) - Message describing the scheduling of this maintenance\n\n+ maintenance_details_start (string, required) - Message describing the start of this maintenance\n\n+ maintenance_details_end (string, required) - Message describing the end of this maintenance\n\n+ maintenance_start_date (string, required) - Maintenance start date in MM/dd/yyyy format\n\n+ maintenance_start_time (string, required) - Maintenance start time in HH:mm format (24-hour)\n\n+ maintenance_end_date (string, required) - Maintenance end date in MM/dd/yyyy format\n\n+ maintenance_end_time (string, required) - Maintenance end time in HH:mm format (24-hour)",
        "parameters": [
          {
            "name": "x-api-id",
            "in": "header",
            "description": "e.g. YOUR-API-ID",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "YOUR-API-ID"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "e.g. YOUR-API-KEY",
            "required": false,
            "schema": {
              "type": "string"
            },
[...]
