{
  "openapi": "3.0.0",
  "info": {
    "title": "IBM Watson Text to Speech",
    "description": "The IBM Watson Text to Speech service provides APIs that use IBM's speech-synthesis capabilities to synthesize text into natural-sounding speech in a variety of languages, dialects, and voices.",
    "version": "1.0.0"
  },
  "servers": [{"url": "https://api.us-south.text-to-speech.watson.cloud.ibm.com"}],
  "security": [{"BearerAuth": []}],
  "paths": {
    "/v1/synthesize": {
      "post": {
        "summary": "Synthesize audio",
        "description": "Synthesizes text to audio that is spoken in the specified voice",
        "parameters": [
          {"name": "voice", "in": "query", "schema": {"type": "string", "default": "en-US_MichaelV3Voice"}},
          {"name": "accept", "in": "query", "schema": {"type": "string", "default": "audio/wav"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["text"],
                "properties": {
                  "text": {"type": "string"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Audio stream", "content": {"audio/*": {"schema": {"type": "string", "format": "binary"}}}}
        }
      }
    },
    "/v1/voices": {
      "get": {
        "summary": "List voices",
        "description": "Lists all available voices for speech synthesis",
        "responses": {"200": {"description": "Success"}}
      }
    },
    "/v1/voices/{voice}": {
      "get": {
        "summary": "Get voice",
        "description": "Gets information about the specified voice",
        "parameters": [
          {"name": "voice", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {"200": {"description": "Success"}}
      }
    },
    "/v1/pronunciation": {
      "get": {
        "summary": "Get pronunciation",
        "description": "Gets the phonetic pronunciation for the specified text",
        "parameters": [
          {"name": "text", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "voice", "in": "query", "schema": {"type": "string"}},
          {"name": "format", "in": "query", "schema": {"type": "string", "enum": ["ibm", "ipa"]}}
        ],
        "responses": {"200": {"description": "Success"}}
      }
    },
    "/v1/customizations": {
      "get": {
        "summary": "List custom models",
        "description": "Lists metadata for all custom models",
        "responses": {"200": {"description": "Success"}}
      },
      "post": {
        "summary": "Create custom model",
        "description": "Creates a new custom model",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {"type": "string"},
                  "language": {"type": "string"},
                  "description": {"type": "string"}
                }
              }
            }
          }
        },
        "responses": {"201": {"description": "Created"}}
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {"type": "http", "scheme": "bearer"}
    }
  }
}
