{
  "openapi": "3.0.3",
  "info": {
    "title": "Interac e-Transfer API",
    "description": "J.P. Morgan Interac e-Transfer payment API for initiating 24/7 domestic CAD payments via email, phone, or bank account in Canada.",
    "version": "1.0",
    "x-jentic-source-url": "https://developer.payments.jpmorgan.com/docs/treasury/global-payments/capabilities/global-payments/interac-e-transfer"
  },
  "servers": [
    {
      "url": "https://api.payments.jpmorgan.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/tsapi/v1/payments": {
      "post": {
        "operationId": "initiatePayment",
        "summary": "Initiate an Interac e-Transfer payment",
        "description": "Creates a new Interac e-Transfer payment to a beneficiary via email, phone, or bank account.",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Payment accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 bearer token"
      }
    },
    "schemas": {
      "PaymentRequest": {
        "type": "object",
        "required": [
          "payments"
        ],
        "properties": {
          "payments": {
            "type": "object",
            "required": [
              "requestedExecutionDate",
              "paymentIdentifiers",
              "paymentCurrency",
              "paymentAmount",
              "transferType",
              "debtor",
              "debtorAgent",
              "creditor"
            ],
            "properties": {
              "requestedExecutionDate": {
                "type": "string",
                "format": "date",
                "description": "Execution date (e.g., 2023-01-01)"
              },
              "paymentIdentifiers": {
                "type": "object",
                "required": [
                  "endToEndId"
                ],
                "properties": {
                  "endToEndId": {
                    "type": "string",
                    "description": "Unique payment identifier"
                  }
                }
              },
              "paymentCurrency": {
                "type": "string",
                "description": "Currency code (CAD)",
                "example": "CAD"
              },
              "paymentAmount": {
                "type": "number",
                "format": "double",
                "description": "Transaction amount"
              },
              "transferType": {
                "type": "string",
                "enum": [
                  "CREDIT"
                ],
                "description": "Always CREDIT for e-Transfer"
              },
              "purpose": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Purpose classification code"
                  }
                }
              },
              "paymentExpiryDate": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp for payment expiration"
              },
              "debtor": {
                "$ref": "#/components/schemas/Debtor"
              },
              "debtorAgent": {
                "type": "object",
                "properties": {
                  "financialInstitutionId": {
                    "type": "object",
                    "properties": {
                      "bic": {
                        "type": "string",
                        "description": "Bank identifier code"
                      }
                    }
                  }
                }
              },
              "creditor": {
                "$ref": "#/components/schemas/Creditor"
              },
              "remittanceInformation": {
                "type": "object",
                "properties": {
                  "unstructuredInformation": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Payment notes"
                  }
                }
              },
              "secureVerification": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "question": {
                      "type": "string"
                    },
                    "encryptedAnswer": {
                      "type": "string"
                    }
                  }
                },
                "description": "Security questions with encrypted answers"
              }
            }
          }
        }
      },
      "Debtor": {
        "type": "object",
        "required": [
          "debtorName",
          "debtorAccount"
        ],
        "properties": {
          "debtorName": {
            "type": "string",
            "description": "Sender's name"
          },
          "debtorAccount": {
            "type": "object",
            "required": [
              "accountId"
            ],
            "properties": {
              "accountId": {
                "type": "string",
                "description": "Sender's account number"
              }
            }
          },
          "ultimateDebtor": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              }
            },
            "description": "Ultimate payer details for third-party scenarios"
          }
        }
      },
      "Creditor": {
        "type": "object",
        "required": [
          "creditorName",
          "creditorAccount"
        ],
        "properties": {
          "creditorName": {
            "type": "string",
            "description": "Recipient's name"
          },
          "creditorAccount": {
            "type": "object",
            "required": [
              "accountType"
            ],
            "properties": {
              "accountType": {
                "type": "string",
                "example": "INTERAC"
              },
              "accountId": {
                "type": "string",
                "description": "Recipient account/routing number (ANR format)"
              },
              "alternateAccountIdentifier": {
                "type": "string",
                "description": "Mobile number, email, or phone"
              },
              "schemeName": {
                "type": "object",
                "properties": {
                  "proprietary": {
                    "type": "string",
                    "enum": [
                      "TELI",
                      "EMAL"
                    ],
                    "description": "TELI for phone, EMAL for email"
                  }
                }
              }
            }
          },
          "postalAddress": {
            "type": "object",
            "properties": {
              "streetName": {
                "type": "string"
              },
              "buildingNumber": {
                "type": "string"
              },
              "postCode": {
                "type": "string"
              },
              "townName": {
                "type": "string"
              },
              "country": {
                "type": "string"
              }
            }
          },
          "countryOfResidence": {
            "type": "string",
            "description": "Country code"
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "paymentInitiationResponse": {
            "type": "object",
            "properties": {
              "firmRootId": {
                "type": "string",
                "format": "uuid",
                "description": "Unique transaction identifier for tracking"
              },
              "endToEndId": {
                "type": "string",
                "description": "Echo of the request identifier"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}