{
  "openapi": "3.0.3",
  "info": {
    "title": "Castos API",
    "version": "2.0.0",
    "description": "Castos is a podcast hosting platform for creators. This API allows you to manage podcasts, episodes, private subscribers, and categories.",
    "x-jentic-source-url": "https://app.castos.com/docs/api/index.html",
    "contact": {
      "email": "hello@castos.com",
      "url": "https://castos.com"
    }
  },
  "servers": [
    {
      "url": "https://app.castos.com/api/v2",
      "description": "Castos API v2 server"
    }
  ],
  "paths": {
    "/podcasts": {
      "get": {
        "operationId": "listPodcasts",
        "summary": "List podcasts",
        "description": "List the authenticated user's podcasts.",
        "tags": [
          "Podcasts"
        ],
        "responses": {
          "200": {
            "description": "List of podcasts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Podcast"
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPodcast",
        "summary": "Create a podcast",
        "description": "Create a new podcast.",
        "tags": [
          "Podcasts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PodcastInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created podcast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/podcasts/{podcast_id}": {
      "get": {
        "operationId": "getPodcast",
        "summary": "Get a podcast",
        "description": "Retrieve a specific podcast by ID.",
        "tags": [
          "Podcasts"
        ],
        "parameters": [
          {
            "name": "podcast_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Podcast details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updatePodcast",
        "summary": "Update a podcast",
        "description": "Update an existing podcast.",
        "tags": [
          "Podcasts"
        ],
        "parameters": [
          {
            "name": "podcast_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PodcastInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated podcast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePodcast",
        "summary": "Delete a podcast",
        "description": "Remove a podcast.",
        "tags": [
          "Podcasts"
        ],
        "parameters": [
          {
            "name": "podcast_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Podcast deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/podcasts/{podcast_id}/episodes": {
      "get": {
        "operationId": "listEpisodes",
        "summary": "List episodes",
        "description": "List episodes for a specific podcast.",
        "tags": [
          "Episodes"
        ],
        "parameters": [
          {
            "name": "podcast_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of episodes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createEpisode",
        "summary": "Create an episode",
        "description": "Create a new episode for a podcast.",
        "tags": [
          "Episodes"
        ],
        "parameters": [
          {
            "name": "podcast_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/EpisodeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created episode",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/podcasts/{podcast_id}/episodes/{episode_id}": {
      "get": {
        "operationId": "getEpisode",
        "summary": "Get an episode",
        "description": "Retrieve a specific episode.",
        "tags": [
          "Episodes"
        ],
        "parameters": [
          {
            "name": "podcast_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Episode details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateEpisode",
        "summary": "Update an episode",
        "description": "Update an existing episode.",
        "tags": [
          "Episodes"
        ],
        "parameters": [
          {
            "name": "podcast_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/EpisodeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated episode",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteEpisode",
        "summary": "Delete an episode",
        "description": "Delete an episode.",
        "tags": [
          "Episodes"
        ],
        "parameters": [
          {
            "name": "podcast_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Episode deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private-subscribers": {
      "get": {
        "operationId": "listPrivateSubscribers",
        "summary": "List private subscribers",
        "description": "Retrieve subscribers for a podcast.",
        "tags": [
          "Private Subscribers"
        ],
        "parameters": [
          {
            "name": "podcast_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subscribers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPrivateSubscriber",
        "summary": "Create a private subscriber",
        "description": "Create an individual private subscriber.",
        "tags": [
          "Private Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateSubscriberInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created subscriber",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private-subscribers/email/{email_address}": {
      "get": {
        "operationId": "getSubscriberByEmail",
        "summary": "Get subscriber by email",
        "description": "Retrieve subscriber details by email address.",
        "tags": [
          "Private Subscribers"
        ],
        "parameters": [
          {
            "name": "email_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private-subscribers/{subscriber_id}": {
      "get": {
        "operationId": "getSubscriberById",
        "summary": "Get subscriber by ID",
        "description": "Fetch subscriber info by ID.",
        "tags": [
          "Private Subscribers"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private-subscribers/{subscription_id}": {
      "post": {
        "operationId": "revokeSubscription",
        "summary": "Revoke a subscription",
        "description": "Revoke an individual subscription.",
        "tags": [
          "Private Subscribers"
        ],
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSubscription",
        "summary": "Delete a subscription",
        "description": "Delete a subscription record.",
        "tags": [
          "Private Subscribers"
        ],
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private-subscribers/reactivate/{subscriber_id}": {
      "post": {
        "operationId": "reactivateSubscriptionById",
        "summary": "Reactivate subscription by ID",
        "description": "Reactivate a subscription by subscriber ID.",
        "tags": [
          "Private Subscribers"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription reactivated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private-subscribers/reactivate/email/{email_address}": {
      "post": {
        "operationId": "reactivateSubscriptionByEmail",
        "summary": "Reactivate subscription by email",
        "description": "Reactivate a subscription by email address.",
        "tags": [
          "Private Subscribers"
        ],
        "parameters": [
          {
            "name": "email_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription reactivated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/create-private-subscribers": {
      "post": {
        "operationId": "bulkCreateSubscribers",
        "summary": "Bulk create private subscribers",
        "description": "Create multiple private subscribers at once.",
        "tags": [
          "Private Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subscribers": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PrivateSubscriberInput"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribers created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/update-private-subscribers": {
      "post": {
        "operationId": "bulkUpdateSubscribers",
        "summary": "Bulk update private subscribers",
        "description": "Update multiple private subscribers at once.",
        "tags": [
          "Private Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subscribers": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PrivateSubscriberInput"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribers updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/revoke-private-subscribers": {
      "post": {
        "operationId": "bulkRevokeSubscribers",
        "summary": "Bulk revoke private subscribers",
        "description": "Revoke multiple private subscriptions at once.",
        "tags": [
          "Private Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subscribers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "subscription_id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriptions revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get-categories": {
      "get": {
        "operationId": "getCategories",
        "summary": "Get podcast categories",
        "description": "Retrieve the list of available podcast categories.",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "List of categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StandardResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "current_page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "first_page_url": {
                "type": "string"
              },
              "last_page_url": {
                "type": "string"
              },
              "next_page_url": {
                "type": "string",
                "nullable": true
              },
              "prev_page_url": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "Podcast": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "author_name": {
            "type": "string"
          },
          "owner_name": {
            "type": "string"
          },
          "owner_email": {
            "type": "string",
            "format": "email"
          },
          "language": {
            "type": "string"
          },
          "copyright": {
            "type": "string"
          },
          "episode_feed_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PodcastInput": {
        "type": "object",
        "required": [
          "title",
          "description"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "author_name": {
            "type": "string"
          },
          "owner_name": {
            "type": "string"
          },
          "owner_email": {
            "type": "string",
            "format": "email"
          },
          "language": {
            "type": "string"
          },
          "copyright": {
            "type": "string"
          },
          "episode_feed_count": {
            "type": "integer"
          }
        }
      },
      "EpisodeInput": {
        "type": "object",
        "required": [
          "title",
          "content"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string",
            "description": "Episode content/description"
          },
          "audio_file": {
            "type": "string",
            "format": "binary",
            "description": "Audio file upload"
          },
          "keywords": {
            "type": "string"
          },
          "series_number": {
            "type": "integer"
          },
          "episode_number": {
            "type": "integer"
          },
          "image": {
            "type": "string",
            "format": "binary",
            "description": "Episode image"
          },
          "publish_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PrivateSubscriberInput": {
        "type": "object",
        "required": [
          "email",
          "podcast_id"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "podcast_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Enter your API token with 'Bearer ' prefix"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Create Private Subscribers"
    },
    {
      "name": "Get Categories"
    },
    {
      "name": "Podcasts"
    },
    {
      "name": "Private Subscribers"
    },
    {
      "name": "Revoke Private Subscribers"
    },
    {
      "name": "Update Private Subscribers"
    }
  ]
}