{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Test",
      "url": "https://portaltest.automatedsecurityis.com"
    },
    {
      "url": "https://portal.automatedsecurityis.com",
      "description": "Prod"
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "ASIS Portal API Authorization",
    "description": "Use this endpoint to request the OAuth token (bearer token) to authorize your application to access ASIS resources. You can pass this bearer token in your subsequent individual ASIS API endpoint requests.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/asis-9cb/ASISPortalAuth/1.0.0/swagger.json"
  },
  "paths": {
    "/Account/oauth/token": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Provides a bearer token to a valid user",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "username",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "example": "eyJhbGciOiJSUzI1Ni..."
                    },
                    "expires_in": {
                      "type": "integer",
                      "default": 86400
                    },
                    "scope": {
                      "type": "string",
                      "default": null
                    },
                    "token_type": {
                      "type": "string",
                      "default": "Bearer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Invalid username/password"
                }
              }
            }
          }
        }
      }
    }
  }
}