{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://rest.zuora.com"
    }
  ],
  "info": {
    "contact": {
      "email": "docs@zuora.com",
      "x-twitter": "Zuora"
    },
    "description": "\n\n# Introduction\n\nWelcome to the reference for the Zuora Billing REST API!\n\nTo learn about the common use cases of Zuora Billing REST APIs, check out the [API Guides](https://www.zuora.com/developer/api-guides/).\n\nIn addition to Zuora API Reference; Billing, we also provide API references for other Zuora products:\n\n  * [API Reference: Collect](https://www.zuora.com/developer/collect-api/)\n  * [API Reference: Revenue](https://www.zuora.com/developer/revpro-api/)\n    \nThe Zuora REST API provides a broad set of operations and resources that:\n\n  * Enable Web Storefront integration from your website.\n  * Support self-service subscriber sign-ups and account management.\n  * Process revenue schedules through custom revenue rule models.\n  * Enable manipulation of most objects in the Zuora Billing Object Model.\n\nWant to share your opinion on how our API works for you? <a href=\"https://community.zuora.com/t5/Developers/API-Feedback-Form/gpm-p/21399\" target=\"_blank\">Tell us how you feel </a>about using our API and what we can do to make it better.\n\n## Access to the API\n\nIf you have a Zuora tenant, you can access the Zuora REST API via one of the following endpoints:\n\n| Tenant              | Base URL for REST Endpoints |\n|-------------------------|-------------------------|\n|US Production | https://rest.zuora.com   |\n|US API Sandbox    | https://rest.apisandbox.zuora.com|\n|US Performance Test | https://rest.pt1.zuora.com |\n|US Production Copy | Submit a request at <a href=\"http://support.zuora.com/\" target=\"_blank\">Zuora Global Support</a> to enable the Zuora REST API in your tenant and obtain the base URL for REST endpoints. See [REST endpoint base URL of Production Copy (Service) Environment for existing and new customers](https://community.zuora.com/t5/API/REST-endpoint-base-URL-of-Production-Copy-Service-Environment/td-p/29611) for more information. |\n|US Cloud Production | \thttps://rest.na.zuora.com |\n|US Cloud API Sandbox | \thttps://rest.sandbox.na.zuora.com |\n|US Central Sandbox | \thttps://rest.test.zuora.com |    \n|EU Production | https://rest.eu.zuora.com |\n|EU API Sandbox | https://rest.sandbox.eu.zuora.com |\n|EU Central Sandbox | \thttps://rest.test.eu.zuora.com |\n\nThe Production endpoint provides access to your live user data. Sandbox tenants are a good place to test code without affecting real-world data. If you would like Zuora to provision a Sandbox tenant for you, contact your Zuora representative for assistance.\n\n\nIf you do not have a Zuora tenant, go to <a href=\"https://www.zuora.com/resource/zuora-test-drive\" target=\"_blank\">https://www.zuora.com/resource/zuora-test-drive</a> and sign up for a Production Test Drive tenant. The tenant comes with seed data, including a sample product catalog.\n\n# API Changelog\nYou can find the <a href=\"https://community.zuora.com/t5/Developers/API-Changelog/gpm-p/18092\" target=\"_blank\">Changelog</a> of the API Reference: Billing in the Zuora Community.\n\n# Authentication\n\n## OAuth v2.0\n\nZuora recommends that you use OAuth v2.0 to authenticate to the Zuora REST API. Currently, OAuth is not available in every environment. See [Zuora Testing Environments](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/D_Zuora_Environments) for more information.\n\nZuora recommends you to create a dedicated API user with API write access on a tenant when authenticating via OAuth, and then create an OAuth client for this user. See <a href=\"https://knowledgecenter.zuora.com/CF_Users_and_Administrators/A_Administrator_Settings/Manage_Users/Create_an_API_User\" target=\"_blank\">Create an API User</a> for how to do this. By creating a dedicated API user, you can control permissions of the API user without affecting other non-API users.\n\nIf a user is deactivated, all of the user's OAuth clients will be automatically deactivated.\n\nAuthenticating via OAuth requires the following steps:\n1. Create a Client\n2. Generate a Token\n3. Make Authenticated Requests\n\n### Create a Client\n\nYou must first [create an OAuth client](https://knowledgecenter.zuora.com/CF_Users_and_Administrators/A_Administrator_Settings/Manage_Users#Create_an_OAuth_Client_for_a_User) in the Zuora UI. To do this, you must be an administrator of your Zuora tenant. This is a one-time operation. You will be provided with a Client ID and a Client Secret. Please note this information down, as it will be required for the next step.\n\n**Note:** The OAuth client will be owned by a Zuora user account. If you want to perform PUT, POST, or DELETE operations using the OAuth client, the owner of the OAuth client must have a Platform role that includes the \"API Write Access\" permission.\n\n### Generate a Token\n\nAfter creating a client, you must make a call to obtain a bearer token using the [Generate an OAuth token](https://www.zuora.com/developer/api-reference/#operation/createToken) operation. This operation requires the following parameters:\n- `client_id` - the Client ID displayed when you created the OAuth client in the previous step\n- `client_secret` - the Client Secret displayed when you created the OAuth client in the previous step\n- `grant_type` - must be set to `client_credentials`\n\n**Note**: The Client ID and Client Secret mentioned above were displayed when you created the OAuth Client in the prior step. The [Generate an OAuth token](https://www.zuora.com/developer/api-reference/#operation/createToken) response specifies how long the bearer token is valid for. You should reuse the bearer token until it is expired. When the token is expired, call [Generate an OAuth token](https://www.zuora.com/developer/api-reference/#operation/createToken) again to generate a new one.\n\n### Make Authenticated Requests\n\nTo authenticate subsequent API requests, you must provide a valid bearer token in an HTTP header:\n\n`Authorization: Bearer {bearer_token}`\n\nIf you have [Zuora Multi-entity](https://www.zuora.com/developer/api-reference/#tag/Entities) enabled, you need to set an additional header to specify the ID of the entity that you want to access. You can use the `scope` field in the [Generate an OAuth token](https://www.zuora.com/developer/api-reference/#operation/createToken) response to determine whether you need to specify an entity ID.\n\nIf the `scope` field contains more than one entity ID, you must specify the ID of the entity that you want to access. For example, if the `scope` field contains `entity.1a2b7a37-3e7d-4cb3-b0e2-883de9e766cc` and `entity.c92ed977-510c-4c48-9b51-8d5e848671e9`, specify one of the following headers:\n- `Zuora-Entity-Ids: 1a2b7a37-3e7d-4cb3-b0e2-883de9e766cc`\n- `Zuora-Entity-Ids: c92ed977-510c-4c48-9b51-8d5e848671e9`\n\n**Note**: For a limited period of time, Zuora will accept the `entityId` header as an alternative to the `Zuora-Entity-Ids` header. If you choose to set the `entityId` header, you must remove all \"-\" characters from the entity ID in the `scope` field.\n\nIf the `scope` field contains a single entity ID, you do not need to specify an entity ID.\n\n## Other Supported Authentication Schemes\n\nZuora continues to support the following additional legacy means of authentication:\n\n  * Use username and password. Include authentication with each request in the header: \n  \n    * `apiAccessKeyId` \n    * `apiSecretAccessKey`\n    \n    Zuora recommends that you create an API user specifically for making API calls. See <a href=\"https://knowledgecenter.zuora.com/CF_Users_and_Administrators/A_Administrator_Settings/Manage_Users/Create_an_API_User\" target=\"_blank\">Create an API User</a> for more information.\n  \n  * Use an authorization cookie. The cookie authorizes the user to make calls to the REST API for the duration specified in  **Administration > Security Policies > Session timeout**. The cookie expiration time is reset with this duration after every call to the REST API. To obtain a cookie, call the [Connections](https://www.zuora.com/developer/api-reference/#tag/Connections) resource with the following API user information: \n  \n    *   ID    \n    *   Password\n    \n  * For CORS-enabled APIs only: Include a 'single-use' token in the request header, which re-authenticates the user with each request. See below for more details.\n\n### Entity Id and Entity Name\n\nThe `entityId` and `entityName` parameters are only used for [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity \"Zuora Multi-entity\"). These are the legacy parameters that Zuora will only continue to support for a period of time. Zuora recommends you to use the `Zuora-Entity-Ids` parameter instead.\n\n\nThe  `entityId` and `entityName` parameters specify the Id and the [name of the entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity/B_Introduction_to_Entity_and_Entity_Hierarchy#Name_and_Display_Name \"Introduction to Entity and Entity Hierarchy\") that you want to access, respectively. Note that you must have permission to access the entity. \n\nYou can specify either the `entityId` or `entityName` parameter in the authentication to access and view an entity.\n\n  * If both `entityId` and `entityName` are specified in the authentication, an error occurs. \n  * If neither `entityId` nor `entityName` is specified in the authentication, you will log in to the entity in which your user account is created. \n  \n\nTo get the entity Id and entity name, you can use the GET Entities REST call. For more information, see [API User Authentication](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity/A_Overview_of_Multi-entity#API_User_Authentication \"API User Authentication\").\n  \n  ### Token Authentication for CORS-Enabled APIs\n  \n  The CORS mechanism enables REST API calls to Zuora to be made directly from your customer's browser, with all credit card and security information transmitted directly to Zuora. This minimizes your PCI compliance burden, allows you to implement advanced validation on your payment forms, and  makes your payment forms look just like any other part of your website.\n  \nFor security reasons, instead of using cookies, an API request via CORS uses **tokens** for authentication.\n\nThe token method of authentication is only designed for use with requests that must originate from your customer's browser; **it should  not be considered a replacement to the existing cookie authentication** mechanism.\n\nSee [Zuora CORS REST](https://knowledgecenter.zuora.com/DC_Developers/C_REST_API/Zuora_CORS_REST \"Zuora CORS REST\") for details on how CORS works and how you can begin to implement customer calls to the Zuora REST APIs. See  [HMAC Signatures](https://www.zuora.com/developer/api-reference/#operation/POSTHMACSignature \"HMAC Signatures\") for details on the HMAC method that returns the authentication token.\n\n# Requests and Responses\n\n## Request IDs \nAs a general rule, when asked to supply a \"key\" for an account or subscription (accountKey, account-key, subscriptionKey, subscription-key), you can provide either the actual ID or  the number of the entity.\n\n## HTTP Request Body\n\nMost of the parameters and data accompanying your requests will be contained in the body of the HTTP request. \n\nThe Zuora REST API accepts JSON in the HTTP request body. No other data format (e.g., XML) is supported.\n\n### Data Type\n\n([Actions](https://www.zuora.com/developer/api-reference/#tag/Actions) and CRUD operations only) We recommend that you do not specify the decimal values with quotation marks, commas, and spaces. Use characters of `+-0-9.eE`, for example, `5`, `1.9`, `-8.469`, and `7.7e2`. Also, Zuora does not convert currencies for decimal values.\n\n## Testing a Request\n\nUse a third party client, such as [curl](https://curl.haxx.se \"curl\"), [Postman](https://www.getpostman.com \"Postman\"), or [Advanced REST Client](https://advancedrestclient.com \"Advanced REST Client\"), to test the Zuora REST API.\n\nYou can test the Zuora REST API from the Zuora API Sandbox or Production tenants. If connecting to Production, bear in mind that you are working with your live production data, not sample data or test data.\n\n## Testing with Credit Cards\n\nSooner or later it will probably be necessary to test some transactions that involve credit cards. For suggestions on how to handle this, see [Going Live With Your Payment Gateway](https://knowledgecenter.zuora.com/CB_Billing/M_Payment_Gateways/C_Managing_Payment_Gateways/B_Going_Live_Payment_Gateways#Testing_with_Credit_Cards \"C_Zuora_User_Guides/A_Billing_and_Payments/M_Payment_Gateways/C_Managing_Payment_Gateways/B_Going_Live_Payment_Gateways#Testing_with_Credit_Cards\"\n).\n\n## Concurrent Request Limits\n\nZuora enforces tenant-level concurrent request limits. See <a href=\"https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits\" target=\"_blank\">Concurrent Request Limits</a> for more information.\n\n## Timeout Limit\n\nIf a request does not complete within 120 seconds, the request times out and Zuora returns a Gateway Timeout error.\n\n\n# Error Handling\n\nIf a request to Zuora Billing REST API with an endpoint starting with `/v1` (except [Actions](https://www.zuora.com/developer/api-reference/#tag/Actions) and CRUD operations) fails, the response will contain an eight-digit error code with a corresponding error message to indicate the details of the error.\n\nThe following code snippet is a sample error response that contains an error code and message pair:\n\n```\n {\n   \"success\": false,\n   \"processId\": \"CBCFED6580B4E076\",\n   \"reasons\":  [\n     {\n      \"code\": 53100320,\n      \"message\": \"'termType' value should be one of: TERMED, EVERGREEN\"\n     }\n    ]\n }\n```\nThe `success` field indicates whether the API request has succeeded. The `processId` field is a Zuora internal ID that you can provide to Zuora Global Support for troubleshooting purposes.\n\nThe `reasons` field contains the actual error code and message pair. The error code begins with `5` or `6` means that you encountered a certain issue that is specific to a REST API resource in Zuora Billing. For example, `53100320` indicates that an invalid value is specified for the `termType` field of the `subscription` object.\n\nThe error code beginning with `9` usually indicates that an authentication-related issue occurred, and it can also indicate other unexpected errors depending on different cases. For example, `90000011` indicates that an invalid credential is provided in the request header. \n\nWhen troubleshooting the error, you can divide the error code into two components: REST API resource code and error category code. See the following Zuora error code sample:\n\n<a href=\"https://assets.zuora.com/zuora-documentation/ZuoraErrorCode.jpeg\" target=\"_blank\"><img src=\"https://assets.zuora.com/zuora-documentation/ZuoraErrorCode.jpeg\" alt=\"Zuora Error Code Sample\"></a>\n\n\n**Note:** Zuora determines resource codes based on the request payload. Therefore, if GET and DELETE requests that do not contain payloads fail, you will get `500000` as the resource code, which indicates an unknown object and an unknown field. \nThe error category code of these requests is valid and follows the rules described in the [Error Category Code](https://www.zuora.com/developer/api-reference/#section/Error-Handling/Error-Category-Code) section. \nIn such case, you can refer to the returned error message to troubleshoot.\n\n\n## REST API Resource Code\n\nThe 6-digit resource code indicates the REST API resource, typically a field of a Zuora object, on which the issue occurs. In the preceding example, `531003` refers to the `termType` field of the `subscription` object. \n\nThe value range for all REST API resource codes is from `500000` to `679999`. See [Resource Codes](https://knowledgecenter.zuora.com/Central_Platform/API/AA_REST_API/Resource_Codes) in the Knowledge Center for a full list of resource codes.\n\n## Error Category Code\n\nThe 2-digit error category code identifies the type of error, for example, resource not found or missing required field. \n\nThe following table describes all error categories and the corresponding resolution:\n\n| Code    | Error category              | Description    | Resolution    |\n|:--------|:--------|:--------|:--------|\n| 10      | Permission or access denied | The request cannot be processed because a certain tenant or user permission is missing. | Check the missing tenant or user permission in the response message and contact [Zuora Global Support](https://support.zuora.com) for enablement. |\n| 11      | Authentication failed       | Authentication fails due to invalid API authentication credentials. | Ensure that a valid API credential is specified. |\n| 20      | Invalid format or value     | The request cannot be processed due to an invalid field format or value. | Check the invalid field in the error message, and ensure that the format and value of all fields you passed in are valid. |\n| 21      | Unknown field in request    | The request cannot be processed because an unknown field exists in the request body. | Check the unknown field name in the response message, and ensure that you do not include any unknown field in the request body. |\n| 22      | Missing required field      | The request cannot be processed because a required field in the request body is missing. | Check the missing field name in the response message, and ensure that you include all required fields in the request body. |\n| 30      | Rule restriction            | The request cannot be processed due to the violation of a Zuora business rule. | Check the response message and ensure that the API request meets the specified business rules. |\n| 40      | Not found                   | The specified resource cannot be found. | Check the response message and ensure that the specified resource exists in your Zuora tenant. |\n| 45      | Unsupported request         | The requested endpoint does not support the specified HTTP method. | Check your request and ensure that the endpoint and method matches. |\n| 50      | Locking contention          | This request cannot be processed because the objects this request is trying to modify are being modified by another API request, UI operation, or batch job process. | <p>Resubmit the request first to have another try.</p> <p>If this error still occurs, contact [Zuora Global Support](https://support.zuora.com) with the returned `Zuora-Request-Id` value in the response header for assistance.</p> |\n| 60      | Internal error              | The server encounters an internal error. | Contact [Zuora Global Support](https://support.zuora.com) with the returned `Zuora-Request-Id` value in the response header for assistance. |\n| 70      | Request exceeded limit      | The total number of concurrent requests exceeds the limit allowed by the system. | <p>Resubmit the request after the number of seconds specified by the `Retry-After` value in the response header.</p> <p>Check [Concurrent request limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits) for details about Zuora\u2019s concurrent request limit policy.</p> |\n| 90      | Malformed request           | The request cannot be processed due to JSON syntax errors. | Check the syntax error in the JSON request body and ensure that the request is in the correct JSON format. |\n| 99      | Integration error           | The server encounters an error when communicating with an external system, for example, payment gateway, tax engine provider. | Check the response message and take action accordingly. |\n\n\n# Pagination\n\nWhen retrieving information (using GET methods), the optional `pageSize` query parameter sets the maximum number of rows to return in a response. The maximum is `40`; larger values are treated as `40`. If this value is empty or invalid, `pageSize` typically defaults to `10`.\n\nThe default value for the maximum number of rows retrieved can be overridden at the method level.\n\nIf more rows are available, the response will include a `nextPage` element, which contains a URL for requesting the next page.  If this value is not provided, no more rows are available. No \"previous page\" element is explicitly provided; to support backward paging, use the previous call.\n\n## Array Size\n\nFor data items that are not paginated, the REST API supports arrays of up to 300 rows.  Thus, for instance, repeated pagination can retrieve thousands of customer accounts, but within any account an array of no more than 300 rate plans is returned.\n\n# API Versions\n\nThe Zuora REST API are version controlled. Versioning ensures that Zuora REST API changes are backward compatible. Zuora uses a major and minor version nomenclature to manage changes. By specifying a version in a REST request, you can get expected responses regardless of future changes to the API.\n\n## Major Version\n\nThe major version number of the REST API appears in the REST URL. Currently, Zuora only supports the **v1** major version. For example, `POST https://rest.zuora.com/v1/subscriptions`.\n\n## Minor Version\n\nZuora uses minor versions for the REST API to control small changes. For example, a field in a REST method is deprecated and a new field is used to replace it. \n\nSome fields in the REST methods are supported as of minor versions. If a field is not noted with a minor version, this field is available for all minor versions. If a field is noted with a minor version, this field is in version control. You must specify the supported minor version in the request header to process without an error. \n\nIf a field is in version control, it is either with a minimum minor version or a maximum minor version, or both of them. You can only use this field with the minor version between the minimum and the maximum minor versions. For example, the `invoiceCollect` field in the POST Subscription method is in version control and its maximum minor version is 189.0. You can only use this field with the minor version 189.0 or earlier.\n\nIf you specify a version number in the request header that is not supported, Zuora will use the minimum minor version of the REST API. In our REST API documentation, if a field or feature requires a minor version number, we note that in the field description.\n\nYou only need to specify the version number when you use the fields require a minor version. To specify the minor version, set the `zuora-version` parameter to the minor version number in the request header for the request call. For example, the `collect` field is in 196.0 minor version. If you want to use this field for the POST Subscription method, set the  `zuora-version` parameter to `196.0` in the request header. The `zuora-version` parameter is case sensitive.\n\nFor all the REST API fields, by default, if the minor version is not specified in the request header, Zuora will use the minimum minor version of the REST API to avoid breaking your integration. \n\n### Minor Version History\n\nThe supported minor versions are not serial. This section documents the changes made to each Zuora REST API minor version.\n\nThe following table lists the supported versions and the fields that have a Zuora REST API minor version.\n\n| Fields         | Minor Version      | REST Methods    | Description |\n|:--------|:--------|:--------|:--------|\n| invoiceCollect | 189.0 and earlier  | [Create Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_Subscription \"Create Subscription\"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription \"Update Subscription\"); [Renew Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_RenewSubscription \"Renew Subscription\"); [Cancel Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_CancelSubscription \"Cancel Subscription\"); [Suspend Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_SuspendSubscription \"Suspend Subscription\"); [Resume Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_ResumeSubscription \"Resume Subscription\"); [Create Account](https://www.zuora.com/developer/api-reference/#operation/POST_Account \"Create Account\")|Generates an invoice and collects a payment for a subscription. |\n| collect        | 196.0 and later    | [Create Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_Subscription \"Create Subscription\"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription \"Update Subscription\"); [Renew Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_RenewSubscription \"Renew Subscription\"); [Cancel Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_CancelSubscription \"Cancel Subscription\"); [Suspend Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_SuspendSubscription \"Suspend Subscription\"); [Resume Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_ResumeSubscription \"Resume Subscription\"); [Create Account](https://www.zuora.com/developer/api-reference/#operation/POST_Account \"Create Account\")|Collects an automatic payment for a subscription. |\n| invoice | 196.0 and 207.0| [Create Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_Subscription \"Create Subscription\"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription \"Update Subscription\"); [Renew Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_RenewSubscription \"Renew Subscription\"); [Cancel Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_CancelSubscription \"Cancel Subscription\"); [Suspend Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_SuspendSubscription \"Suspend Subscription\"); [Resume Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_ResumeSubscription \"Resume Subscription\"); [Create Account](https://www.zuora.com/developer/api-reference/#operation/POST_Account \"Create Account\")|Generates an invoice for a subscription. |\n| invoiceTargetDate | 196.0 and earlier  | [Preview Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_SubscriptionPreview \"Preview Subscription\") |Date through which charges are calculated on the invoice, as `yyyy-mm-dd`. |\n| invoiceTargetDate | 207.0 and earlier  | [Create Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_Subscription \"Create Subscription\"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription \"Update Subscription\"); [Renew Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_RenewSubscription \"Renew Subscription\"); [Cancel Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_CancelSubscription \"Cancel Subscription\"); [Suspend Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_SuspendSubscription \"Suspend Subscription\"); [Resume Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_ResumeSubscription \"Resume Subscription\"); [Create Account](https://www.zuora.com/developer/api-reference/#operation/POST_Account \"Create Account\")|Date through which charges are calculated on the invoice, as `yyyy-mm-dd`. |\n| targetDate | 207.0 and later | [Preview Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_SubscriptionPreview \"Preview Subscription\") |Date through which charges are calculated on the invoice, as `yyyy-mm-dd`. |\n| targetDate | 211.0 and later | [Create Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_Subscription \"Create Subscription\"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription \"Update Subscription\"); [Renew Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_RenewSubscription \"Renew Subscription\"); [Cancel Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_CancelSubscription \"Cancel Subscription\"); [Suspend Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_SuspendSubscription \"Suspend Subscription\"); [Resume Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_ResumeSubscription \"Resume Subscription\"); [Create Account](https://www.zuora.com/developer/api-reference/#operation/POST_Account \"Create Account\")|Date through which charges are calculated on the invoice, as `yyyy-mm-dd`. |\n| includeExisting DraftInvoiceItems | 196.0 and earlier| [Preview Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_SubscriptionPreview \"Preview Subscription\"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription \"Update Subscription\") | Specifies whether to include draft invoice items in subscription previews. Specify it to be `true` (default) to include draft invoice items in the preview result. Specify it to be `false` to excludes draft invoice items in the preview result. |\n| includeExisting DraftDocItems | 207.0 and later  | [Preview Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_SubscriptionPreview \"Preview Subscription\"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription \"Update Subscription\") | Specifies whether to include draft invoice items in subscription previews. Specify it to be `true` (default) to include draft invoice items in the preview result. Specify it to be `false` to excludes draft invoice items in the preview result. |\n| previewType | 196.0 and earlier| [Preview Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_SubscriptionPreview \"Preview Subscription\"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription \"Update Subscription\") | The type of preview you will receive. The possible values are `InvoiceItem`(default), `ChargeMetrics`, and `InvoiceItemChargeMetrics`. |\n| previewType | 207.0 and later  | [Preview Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_SubscriptionPreview \"Preview Subscription\"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription \"Update Subscription\") | The type of preview you will receive. The possible values are `LegalDoc`(default), `ChargeMetrics`, and `LegalDocChargeMetrics`. |\n| runBilling  | 211.0 and later  | [Create Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_Subscription \"Create Subscription\"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription \"Update Subscription\"); [Renew Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_RenewSubscription \"Renew Subscription\"); [Cancel Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_CancelSubscription \"Cancel Subscription\"); [Suspend Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_SuspendSubscription \"Suspend Subscription\"); [Resume Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_ResumeSubscription \"Resume Subscription\"); [Create Account](https://www.zuora.com/developer/api-reference/#operation/POST_Account \"Create Account\")|Generates an invoice or credit memo for a subscription. **Note:** Credit memos are only available if you have the Invoice Settlement feature enabled. |\n| invoiceDate | 214.0 and earlier  | [Invoice and Collect](https://www.zuora.com/developer/api-reference/#operation/POST_TransactionInvoicePayment \"Invoice and Collect\") |Date that should appear on the invoice being generated, as `yyyy-mm-dd`. |\n| invoiceTargetDate | 214.0 and earlier  | [Invoice and Collect](https://www.zuora.com/developer/api-reference/#operation/POST_TransactionInvoicePayment \"Invoice and Collect\") |Date through which to calculate charges on this account if an invoice is generated, as `yyyy-mm-dd`. |\n| documentDate | 215.0 and later | [Invoice and Collect](https://www.zuora.com/developer/api-reference/#operation/POST_TransactionInvoicePayment \"Invoice and Collect\") |Date that should appear on the invoice and credit memo being generated, as `yyyy-mm-dd`. |\n| targetDate | 215.0 and later | [Invoice and Collect](https://www.zuora.com/developer/api-reference/#operation/POST_TransactionInvoicePayment \"Invoice and Collect\") |Date through which to calculate charges on this account if an invoice or a credit memo is generated, as `yyyy-mm-dd`. |\n| memoItemAmount | 223.0 and earlier | [Create credit memo from charge](https://www.zuora.com/developer/api-reference/#operation/POST_CreditMemoFromPrpc \"Create credit memo from charge\"); [Create debit memo from charge](https://www.zuora.com/developer/api-reference/#operation/POST_DebitMemoFromPrpc \"Create debit memo from charge\") | Amount of the memo item. |\n| amount | 224.0 and later | [Create credit memo from charge](https://www.zuora.com/developer/api-reference/#operation/POST_CreditMemoFromPrpc \"Create credit memo from charge\"); [Create debit memo from charge](https://www.zuora.com/developer/api-reference/#operation/POST_DebitMemoFromPrpc \"Create debit memo from charge\") | Amount of the memo item. |\n| subscriptionNumbers | 222.4 and earlier | [Create order](https://www.zuora.com/developer/api-reference/#operation/POST_Order \"Create order\") | Container for the subscription numbers of the subscriptions in an order. |\n| subscriptions | 223.0 and later | [Create order](https://www.zuora.com/developer/api-reference/#operation/POST_Order \"Create order\") | Container for the subscription numbers and statuses in an order. |\n| creditTaxItems | 238.0 and earlier | [Get credit memo items](https://www.zuora.com/developer/api-reference/#operation/GET_CreditMemoItems \"Get credit memo items\"); [Get credit memo item](https://www.zuora.com/developer/api-reference/#operation/GET_CreditMemoItem \"Get credit memo item\") | Container for the taxation items of the credit memo item. |\n| taxItems | 238.0 and earlier | [Get debit memo items](https://www.zuora.com/developer/api-reference/#operation/GET_DebitMemoItems \"Get debit memo items\"); [Get debit memo item](https://www.zuora.com/developer/api-reference/#operation/GET_DebitMemoItem \"Get debit memo item\") | Container for the taxation items of the debit memo item. |\n| taxationItems | 239.0 and later | [Get credit memo items](https://www.zuora.com/developer/api-reference/#operation/GET_CreditMemoItems \"Get credit memo items\"); [Get credit memo item](https://www.zuora.com/developer/api-reference/#operation/GET_CreditMemoItem \"Get credit memo item\"); [Get debit memo items](https://www.zuora.com/developer/api-reference/#operation/GET_DebitMemoItems \"Get debit memo items\"); [Get debit memo item](https://www.zuora.com/developer/api-reference/#operation/GET_DebitMemoItem \"Get debit memo item\") | Container for the taxation items of the memo item. |\n| chargeId | 256.0 and earlier | [Create credit memo from charge](https://www.zuora.com/developer/api-reference/#operation/POST_CreditMemoFromPrpc \"Create credit memo from charge\"); [Create debit memo from charge](https://www.zuora.com/developer/api-reference/#operation/POST_DebitMemoFromPrpc \"Create debit memo from charge\") | ID of the product rate plan charge that the memo is created from. |\n| productRatePlanChargeId | 257.0 and later | [Create credit memo from charge](https://www.zuora.com/developer/api-reference/#operation/POST_CreditMemoFromPrpc \"Create credit memo from charge\"); [Create debit memo from charge](https://www.zuora.com/developer/api-reference/#operation/POST_DebitMemoFromPrpc \"Create debit memo from charge\") | ID of the product rate plan charge that the memo is created from. |\n| comment | 256.0 and earlier | [Create credit memo from charge](https://www.zuora.com/developer/api-reference/#operation/POST_CreditMemoFromPrpc \"Create credit memo from charge\"); [Create debit memo from charge](https://www.zuora.com/developer/api-reference/#operation/POST_DebitMemoFromPrpc \"Create debit memo from charge\"); [Create credit memo from invoice](https://www.zuora.com/developer/api-reference/#operation/POST_CreditMemoFromInvoice \"Create credit memo from invoice\"); [Create debit memo from invoice](https://www.zuora.com/developer/api-reference/#operation/POST_DebitMemoFromInvoice \"Create debit memo from invoice\"); [Get credit memo items](https://www.zuora.com/developer/api-reference/#operation/GET_CreditMemoItems \"Get credit memo items\"); [Get credit memo item](https://www.zuora.com/developer/api-reference/#operation/GET_CreditMemoItem \"Get credit memo item\"); [Get debit memo items](https://www.zuora.com/developer/api-reference/#operation/GET_DebitMemoItems \"Get debit memo items\"); [Get debit memo item](https://www.zuora.com/developer/api-reference/#operation/GET_DebitMemoItem \"Get debit memo item\") | Comments about the product rate plan charge, invoice item, or memo item. |\n| description | 257.0 and later | [Create credit memo from charge](https://www.zuora.com/developer/api-reference/#operation/POST_CreditMemoFromPrpc \"Create credit memo from charge\"); [Create debit memo from charge](https://www.zuora.com/developer/api-reference/#operation/POST_DebitMemoFromPrpc \"Create debit memo from charge\"); [Create credit memo from invoice](https://www.zuora.com/developer/api-reference/#operation/POST_CreditMemoFromInvoice \"Create credit memo from invoice\"); [Create debit memo from invoice](https://www.zuora.com/developer/api-reference/#operation/POST_DebitMemoFromInvoice \"Create debit memo from invoice\"); [Get credit memo items](https://www.zuora.com/developer/api-reference/#operation/GET_CreditMemoItems \"Get credit memo items\"); [Get credit memo item](https://www.zuora.com/developer/api-reference/#operation/GET_CreditMemoItem \"Get credit memo item\"); [Get debit memo items](https://www.zuora.com/developer/api-reference/#operation/GET_DebitMemoItems \"Get debit memo items\"); [Get debit memo item](https://www.zuora.com/developer/api-reference/#operation/GET_DebitMemoItem \"Get debit memo item\") | Description of the the product rate plan charge, invoice item, or memo item. |\n\n\n#### Version 207.0 and Later\n\nThe response structure of the [Preview Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_SubscriptionPreview \"Preview Subscription\") and [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription \"Update Subscription\") methods are changed. The following invoice related response fields are moved to the invoice container:\n\n  * amount\n  * amountWithoutTax\n  * taxAmount\n  * invoiceItems\n  * targetDate\n  * chargeMetrics\n\n# Zuora Billing Object Model\n\nThe following diagram is a high-level view of how key business objects are related to one another within Zuora Billing.\n\nClick the diagram to open it in a new tab and zoom in.\nFor more information about the different sections of the diagram, see\n<a href=\"https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/A_Zuora_Billing_business_object_model\" target=\"_blank\">Zuora Billing business object model</a>.\n\n<a href=\"https://assets.zuora.com/zuora-documentation/Zuora_Billing_object_model_Sep2020.png\" target=\"_blank\"><img src=\"https://assets.zuora.com/zuora-documentation/Zuora_Billing_object_model_Sep2020.png\" alt=\"Zuora Billing object model diagram\"></a>\n\nThis diagram is intended to provide a conceptual understanding; it does not illustrate a specific way to integrate with Zuora.\n\nThe diagram includes the Orders feature and the Invoice Settlement feature.\nIf your organization does not use either of these features, see\n<a href=\"https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/B_Zuora_Billing_business_object_model_prior_to_Orders_and_Invoice_Settlement\" target=\"_blank\">Zuora Billing business object model prior to Orders and Invoice Settlement</a>\nfor an alternative diagram.\n\n## API Names\n\nYou can use the [Describe object](https://www.zuora.com/developer/api-reference/#operation/GET_Describe) operation to list the fields of each Zuora object that is available in your tenant. When you call the operation, you must specify the API name of the Zuora object.\n\nThe following table provides the API name of each Zuora object:\n\n| Object                                        | API Name                                   |\n|-----------------------------------------------|--------------------------------------------|\n| Account                                       | `Account`                                  |\n| Accounting Code                               | `AccountingCode`                           |\n| Accounting Period                             | `AccountingPeriod`                         |\n| Amendment                                     | `Amendment`                                |\n| Application Group                             | `ApplicationGroup`                         |\n| Billing Run                                   | <p>`BillingRun` - API name used  in the [Describe object](https://www.zuora.com/developer/api-reference/#operation/GET_Describe) operation, Export ZOQL queries, and Data Query.</p> <p>`BillRun` - API name used in the [Actions](https://www.zuora.com/developer/api-reference/#tag/Actions). See the CRUD oprations of [Bill Run](https://www.zuora.com/developer/api-reference/#tag/Bill-Run) for more information about the `BillRun` object. `BillingRun` and `BillRun` have different fields. |\n| Contact                                       | `Contact`                                  |\n| Contact Snapshot                              | `ContactSnapshot`                          |\n| Credit Balance Adjustment                     | `CreditBalanceAdjustment`                  |\n| Credit Memo                                   | `CreditMemo`                               |\n| Credit Memo Application                       | `CreditMemoApplication`                    |\n| Credit Memo Application Item                  | `CreditMemoApplicationItem`                |\n| Credit Memo Item                              | `CreditMemoItem`                           |\n| Credit Memo Part                              | `CreditMemoPart`                           |\n| Credit Memo Part Item                         | `CreditMemoPartItem`                       |\n| Credit Taxation Item                          | `CreditTaxationItem`                       |\n| Custom Exchange Rate                          | `FXCustomRate`                             |\n| Debit Memo                                    | `DebitMemo`                                |\n| Debit Memo Item                               | `DebitMemoItem`                            |\n| Debit Taxation Item                           | `DebitTaxationItem`                        |\n| Discount Applied Metrics                      | `DiscountAppliedMetrics`                   |\n| Entity                                        | `Tenant`                                   |\n| Feature                                       | `Feature`                                  |\n| Gateway Reconciliation Event                  | `PaymentGatewayReconciliationEventLog`     |\n| Gateway Reconciliation Job                    | `PaymentReconciliationJob`                 |\n| Gateway Reconciliation Log                    | `PaymentReconciliationLog`                 |\n| Invoice                                       | `Invoice`                                  |\n| Invoice Adjustment                            | `InvoiceAdjustment`                        |\n| Invoice Item                                  | `InvoiceItem`                              |\n| Invoice Item Adjustment                       | `InvoiceItemAdjustment`                    |\n| Invoice Payment                               | `InvoicePayment`                           |\n| Journal Entry                                 | `JournalEntry`                             |\n| Journal Entry Item                            | `JournalEntryItem`                         |\n| Journal Run                                   | `JournalRun`                               |\n| Order                                         | `Order`                                    |\n| Order Action                                  | `OrderAction`                              |\n| Order ELP                                     | `OrderElp`                                 |\n| Order Line Items                              | `OrderLineItems`                           |    \n| Order Item                                    | `OrderItem`                                |\n| Order MRR                                     | `OrderMrr`                                 |\n| Order Quantity                                | `OrderQuantity`                            |\n| Order TCB                                     | `OrderTcb`                                 |\n| Order TCV                                     | `OrderTcv`                                 |\n| Payment                                       | `Payment`                                  |\n| Payment Application                           | `PaymentApplication`                       |\n| Payment Application Item                      | `PaymentApplicationItem`                   |\n| Payment Method                                | `PaymentMethod`                            |\n| Payment Method Snapshot                       | `PaymentMethodSnapshot`                    |\n| Payment Method Transaction Log                | `PaymentMethodTransactionLog`              |\n| Payment Method Update                         | `UpdaterDetail`                            |\n| Payment Part                                  | `PaymentPart`                              |\n| Payment Part Item                             | `PaymentPartItem`                          |\n| Payment Run                                   | `PaymentRun`                               |\n| Payment Transaction Log                       | `PaymentTransactionLog`                    |\n| Processed Usage                               | `ProcessedUsage`                           |\n| Product                                       | `Product`                                  |\n| Product Feature                               | `ProductFeature`                           |\n| Product Rate Plan                             | `ProductRatePlan`                          |\n| Product Rate Plan Charge                      | `ProductRatePlanCharge`                    |\n| Product Rate Plan Charge Tier                 | `ProductRatePlanChargeTier`                |\n| Rate Plan                                     | `RatePlan`                                 |\n| Rate Plan Charge                              | `RatePlanCharge`                           |\n| Rate Plan Charge Tier                         | `RatePlanChargeTier`                       |\n| Refund                                        | `Refund`                                   |\n| Refund Application                            | `RefundApplication`                        |\n| Refund Application Item                       | `RefundApplicationItem`                    |\n| Refund Invoice Payment                        | `RefundInvoicePayment`                     |\n| Refund Part                                   | `RefundPart`                               |\n| Refund Part Item                              | `RefundPartItem`                           |\n| Refund Transaction Log                        | `RefundTransactionLog`                     |\n| Revenue Charge Summary                        | `RevenueChargeSummary`                     |\n| Revenue Charge Summary Item                   | `RevenueChargeSummaryItem`                 |\n| Revenue Event                                 | `RevenueEvent`                             |\n| Revenue Event Credit Memo Item                | `RevenueEventCreditMemoItem`               |\n| Revenue Event Debit Memo Item                 | `RevenueEventDebitMemoItem`                |\n| Revenue Event Invoice Item                    | `RevenueEventInvoiceItem`                  |\n| Revenue Event Invoice Item Adjustment         | `RevenueEventInvoiceItemAdjustment`        |\n| Revenue Event Item                            | `RevenueEventItem`                         |\n| Revenue Event Item Credit Memo Item           | `RevenueEventItemCreditMemoItem`           |\n| Revenue Event Item Debit Memo Item            | `RevenueEventItemDebitMemoItem`            |\n| Revenue Event Item Invoice Item               | `RevenueEventItemInvoiceItem`              |\n| Revenue Event Item Invoice Item Adjustment    | `RevenueEventItemInvoiceItemAdjustment`    |\n| Revenue Event Type                            | `RevenueEventType`                         |\n| Revenue Schedule                              | `RevenueSchedule`                          |\n| Revenue Schedule Credit Memo Item             | `RevenueScheduleCreditMemoItem`            |\n| Revenue Schedule Debit Memo Item              | `RevenueScheduleDebitMemoItem`             |\n| Revenue Schedule Invoice Item                 | `RevenueScheduleInvoiceItem`               |\n| Revenue Schedule Invoice Item Adjustment      | `RevenueScheduleInvoiceItemAdjustment`     |\n| Revenue Schedule Item                         | `RevenueScheduleItem`                      |\n| Revenue Schedule Item Credit Memo Item        | `RevenueScheduleItemCreditMemoItem`        |\n| Revenue Schedule Item Debit Memo Item         | `RevenueScheduleItemDebitMemoItem`         |\n| Revenue Schedule Item Invoice Item            | `RevenueScheduleItemInvoiceItem`           |\n| Revenue Schedule Item Invoice Item Adjustment | `RevenueScheduleItemInvoiceItemAdjustment` |\n| Subscription                                  | `Subscription`                             |\n| Subscription Product Feature                  | `SubscriptionProductFeature`               |\n| Taxable Item Snapshot                         | `TaxableItemSnapshot`                      |\n| Taxation Item                                 | `TaxationItem`                             |\n| Updater Batch                                 | `UpdaterBatch`                             |\n| Usage                                         | `Usage`                                    |\n",
    "title": "API Reference: Billing",
    "version": "2021-08-20",
    "x-apisguru-categories": [
      "financial"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.zuora.com_wp-content_uploads_2016_10_zuora-dev-logo-api-ref.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://www.zuora.com/wp-content/themes/zuora/yaml/swagger.yaml?v-7.0",
        "version": "3.0"
      }
    ],
    "x-providerName": "zuora.com",
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/zuora.com/2021-08-20/openapi.yaml"
  },
  "tags": [
    {
      "description": "Actions are operations that are batch in nature. For example, the \"create\", \"update\", \"delete\", and other operations allow changes to up-to 50 objects at a time. The \"query\" operation will return up-to 2000 result records back at a time, before requiring additional pages of data to be returned via a subsequent \"queryMore\" operation.\n\nThe default WSDL version for Actions is 79. If you want to change the WSDL version, set the `X-Zuora-WSDL-Version` header. To find out in which WSDL version a particular object or field was introduced, see [Zuora SOAP API Version History](https://knowledgecenter.zuora.com/DC_Developers/G_SOAP_API/Zuora_SOAP_API_Version_History).\n\n**Note**: Actions do not support the Invoice Settlement feature. This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. Actions also do not support the Orders feature.\n",
      "name": "Actions"
    },
    {
      "description": "",
      "name": "Accounting Codes"
    },
    {
      "description": "",
      "name": "Accounting Periods"
    },
    {
      "description": "Some operations in this section are similar to each other, but are provided for different use scenarios. You should choose the one that best suits your needs.\n\nFor example, the [Create account](https://www.zuora.com/developer/api-reference/#operation/POST_Account) operation is used to create an account with a credit card payment method, a bill-to contact, and optionally an sold-to contact or an associated subscription. If you want to create an account without creating any associated objects such as subscriptions, use [CRUD: Create Account](https://www.zuora.com/developer/api-reference/#operation/Object_POSTAccount) instead.\n\nIf you want to create an account and the associated subscription at the same time without providing credit card information, use the [Subscribe](https://www.zuora.com/developer/api-reference/#operation/Action_POSTsubscribe) action.\n",
      "name": "Accounts"
    },
    {
      "description": "You can use amendments to modify subscriptions. However, Zuora recommends you to use [Update subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription) (recommended) or [Amend](https://www.zuora.com/developer/api-reference/#operation/Action_POSTamend) to do so.\n",
      "name": "Amendments"
    },
    {
      "description": "",
      "name": "Attachments"
    },
    {
      "description": "Use the Bill Run call to create ad hoc bill runs and Post, Cancel, Query, and Delete bill runs.\n",
      "name": "Bill Run"
    },
    {
      "description": "",
      "name": "Billing Documents"
    },
    {
      "description": "",
      "name": "Billing Preview Run"
    },
    {
      "description": "",
      "name": "Catalog"
    },
    {
      "description": "Charge Metrics provides a service to access key metrics for rate plan charges in Zuora, for example, Gross MRR, Net MRR, Gross TCV, and Net TCV.\n",
      "name": "Charge Metrics"
    },
    {
      "description": "",
      "name": "Charge Revenue Summaries"
    },
    {
      "description": "A communication profile enables you to send specific event-driven notifications to targeted customer accounts.\nFor more information, see [Communication profiles](https://knowledgecenter.zuora.com/Central_Platform/Notifications/C_Viewing_Profiles).\n\nYou can manage communication profiles using the REST API:\n\n  - [Retrieve a communication profile](https://www.zuora.com/developer/api-reference/#operation/Object_GETCommunicationProfile)\n  - [Retrieve all notifications under a communication profile (using the Settings API)](https://knowledgecenter.zuora.com/Central_Platform/API/BB_C_Settings_API/Settings_API_tutorials/Get_all_Notifications_under_a_particular_Communication_Profile)\n  - [Retrieve all communication profiles (using the Settings API)](https://knowledgecenter.zuora.com/Central_Platform/API/BB_C_Settings_API/Settings_API_tutorials/Get_all_Communication_Profiles)\n  - [Update a communication profile (using the Settings API)](https://knowledgecenter.zuora.com/Central_Platform/API/BB_C_Settings_API/Settings_API_tutorials/Modify_a_Communication_Profile)\n  - [Create a communication profile (using the Settings API)](https://knowledgecenter.zuora.com/Central_Platform/API/BB_C_Settings_API/Settings_API_tutorials/Create_a_new_Communication_Profile)\n",
      "name": "Communication Profiles"
    },
    {
      "description": "",
      "name": "Connections"
    },
    {
      "description": "",
      "name": "Contacts"
    },
    {
      "description": "",
      "name": "Credit Balance Adjustments"
    },
    {
      "description": "",
      "name": "Credit Memos"
    },
    {
      "description": "",
      "name": "Custom Exchange Rates"
    },
    {
      "description": "With Custom Objects service, you can define custom objects, extending the Zuora data model to accommodate your specific use cases.\n\nIf you use Postman, you can import the custom objects endpoints as a collection into your Postman app and try out different requests to learn how the API works. Click the following button to get started:\n\n[![Run in Postman](https://run.pstmn.io/button.svg)](https://www.getpostman.com/run-collection/1f068ba43651bf63c0d4)\n\nYou can sign up for a free account on the [Postman website](https://identity.getpostman.com/signup) and download the app in case you do not use Postman yet.\n\nNote that the Custom Object Definitions API is versioned by `Zuora-Version` in the request header. The response may be different for the same request with a different API version. Specify `Zuora-Version` in the request header if you expect a specific response schema.\n\n### Error handling      \nIf the Custom Objects API call fails, an error code will be returned in the response body. See [Custom Objects API error code](https://knowledgecenter.zuora.com/Central_Platform/Custom_Objects/Z_Custom_Objects_API#Custom_Objects_API_error_code) for details.\n",
      "name": "Custom Object Definitions"
    },
    {
      "description": "With Custom Objects service, you can create, update, delete and find custom object records.\n\nIf you use Postman, you can import the custom objects endpoints as a collection into your Postman app and try out different requests to learn how the API works. Click the following button to get started:\n\n[![Run in Postman](https://run.pstmn.io/button.svg)](https://www.getpostman.com/run-collection/1f068ba43651bf63c0d4)\n\nYou can sign up for a free account on the [Postman website](https://identity.getpostman.com/signup) and download the app in case you do not use Postman yet.\n\nNote that the Custom Object Records API is versioned by `Zuora-Version` in the request header. The response may be different for the same request with a different API version. Specify `Zuora-Version` in the request header if you expect a specific response schema.\n\n### Error handling      \nIf the Custom Objects API call fails, an error code will be returned in the response body. See [Custom Objects API error code](https://knowledgecenter.zuora.com/Central_Platform/Custom_Objects/Z_Custom_Objects_API#Custom_Objects_API_error_code) for details.\n",
      "name": "Custom Object Records"
    },
    {
      "description": "With Custom Objects service, you can submit a bulk job request to delete or create custom object records in a batch.\n\nIf you use Postman, you can import the custom objects endpoints as a collection into your Postman app and try out different requests to learn how the API works. Click the following button to get started:\n\n[![Run in Postman](https://run.pstmn.io/button.svg)](https://www.getpostman.com/run-collection/1f068ba43651bf63c0d4)\n\nYou can sign up for a free account on the [Postman website](https://identity.getpostman.com/signup) and download the app in case you do not use Postman yet.\n\nNote that the Custom Object Jobs API is versioned by `Zuora-Version` in the request header. The response may be different for the same request with a different API version. Specify `Zuora-Version` in the request header if you expect a specific response schema.\n\n### Error handling      \nIf the Custom Objects API call fails, an error code will be returned in the response body. See [Custom Objects API error code](https://knowledgecenter.zuora.com/Central_Platform/Custom_Objects/Z_Custom_Objects_API#Custom_Objects_API_error_code) for details.\n",
      "name": "Custom Object Jobs"
    },
    {
      "description": "The Data Query feature enables you to perform SQL queries in your Zuora tenant. To learn how to get started with Data Query, see [Overview of Data Query](https://knowledgecenter.zuora.com/DC_Developers/BA_Data_Query/A_Overview_of_Data_Query).\n",
      "name": "Data Queries"
    },
    {
      "description": "",
      "name": "Debit Memos"
    },
    {
      "description": "",
      "name": "Describe"
    },
    {
      "description": "",
      "name": "Document Properties"
    },
    {
      "description": "",
      "name": "Entities"
    },
    {
      "description": "",
      "name": "Entity Connections"
    },
    {
      "description": "The Event Trigger service manages the business events and trigger conditions that are defined on [Zuora Business Object Model](http://knowledgecenter.zuora.com/BB_Introducing_Z_Business/D_Zuora_Business_Objects_Relationship). When a Zuora object changes, the trigger conditions defined on the object are evaluated, and if any condition qualifies, a business event will be triggered and turned into a notification.\n\n**Note**: Event Triggers operations are only applicable to custom events.\n",
      "name": "Event Triggers"
    },
    {
      "description": "",
      "name": "Exports"
    },
    {
      "description": "",
      "name": "Features"
    },
    {
      "description": "",
      "name": "Files"
    },
    {
      "description": "",
      "name": "HMAC Signatures"
    },
    {
      "description": "",
      "name": "Hosted Pages"
    },
    {
      "description": "",
      "name": "Imports"
    },
    {
      "description": "",
      "name": "Invoice Adjustments"
    },
    {
      "description": "",
      "name": "Invoice Item Adjustments"
    },
    {
      "description": "",
      "name": "Invoice Items"
    },
    {
      "description": "",
      "name": "Invoice Payments"
    },
    {
      "description": "",
      "name": "Invoice Split Items"
    },
    {
      "description": "",
      "name": "Invoice Splits"
    },
    {
      "description": "",
      "name": "Invoices"
    },
    {
      "description": "",
      "name": "Journal Runs"
    },
    {
      "description": "",
      "name": "Mass Updater"
    },
    {
      "description": "Notifications are the actions taken to inform users or call third-party endpoints when a certain event happens. Typical actions include emails and callouts. Callouts typically refer to HTTP invocations, such as HTTP calls to REST services.\n\n**NOTE:** Notifications are processed asynchronously and may be delivered with a delay and out of order.\n\nNotifications are associated with Communication Profiles, which allow you to send specific event-driven notifications to targeted customers. Zuora provides the following Settings API to access the settings of Communication Profiles:\n  * [Get all Communication Profiles](https://knowledgecenter.zuora.com/DC_Developers/BB_C_Settings_API/Settings_API_tutorials/Get_all_Communication_Profiles)\n  * [Create a new Communication Profile](https://knowledgecenter.zuora.com/DC_Developers/BB_C_Settings_API/Settings_API_tutorials/Create_a_new_Communication_Profile)\n  * [Modify a Communication Profile](https://knowledgecenter.zuora.com/DC_Developers/BB_C_Settings_API/Settings_API_tutorials/Modify_a_Communication_Profile)\n  * [Get all Notifications under a particular Communication Profile](https://knowledgecenter.zuora.com/DC_Developers/BB_C_Settings_API/Settings_API_tutorials/Get_all_Notifications_under_a_particular_Communication_Profile)\n",
      "name": "Notifications"
    },
    {
      "description": "",
      "name": "OAuth"
    },
    {
      "description": "",
      "name": "Operations"
    },
    {
      "description": "",
      "name": "Orders"
    },
    {
      "description": "",
      "name": "Order Line Items"
    },
    {
      "description": "",
      "name": "Payment Gateways"
    },
    {
      "description": "",
      "name": "Payment Gateway Reconciliation"
    },
    {
      "description": "",
      "name": "Payment Method Snapshots"
    },
    {
      "description": "",
      "name": "Payment Method Transaction Logs"
    },
    {
      "description": "",
      "name": "Payment Methods"
    },
    {
      "description": "",
      "name": "Payment Runs"
    },
    {
      "description": "",
      "name": "Payment Transaction Logs"
    },
    {
      "description": "",
      "name": "Payments"
    },
    {
      "description": "",
      "name": "Product Features"
    },
    {
      "description": "To manage product rate plan charge tiers, use the [Product Rate Plan Charges](https://www.zuora.com/developer/api-reference/#tag/Product-Rate-Plan-Charges) operations instead to update the corresponding product rate plan charge with all the tiers.\n",
      "name": "Product Rate Plan Charge Tiers"
    },
    {
      "description": "",
      "name": "Product Rate Plan Charges"
    },
    {
      "description": "",
      "name": "Product Rate Plans"
    },
    {
      "description": "",
      "name": "Products"
    },
    {
      "description": "",
      "name": "Quotes Document"
    },
    {
      "description": "",
      "name": "Ramps"
    },
    {
      "description": "",
      "name": "Rate Plan Charge Tiers"
    },
    {
      "description": "",
      "name": "Rate Plan Charges"
    },
    {
      "description": "",
      "name": "Rate Plans"
    },
    {
      "description": "",
      "name": "Refund Invoice Payments"
    },
    {
      "description": "",
      "name": "Refund Transaction Logs"
    },
    {
      "description": "",
      "name": "Refunds"
    },
    {
      "description": "",
      "name": "Revenue Events"
    },
    {
      "description": "",
      "name": "Revenue Items"
    },
    {
      "description": "",
      "name": "Revenue Rules"
    },
    {
      "description": "",
      "name": "Revenue Schedules"
    },
    {
      "description": "",
      "name": "RSA Signatures"
    },
    {
      "description": "",
      "name": "Sequence Sets"
    },
    {
      "description": "The Setting API provides a central API for managing settings in your Zuora tenant.\n\nIf you use Postman, you can import the Settings API endpoints as a collection into your Postman app and try out different requests to learn how the API works. Click the following button to get started:\n\n[![Run in Postman](https://run.pstmn.io/button.svg)](https://www.getpostman.com/run-collection/1379901-d43e93a3-7d51-437c-b4cd-14163dd62fa2-SWLk4kiK)\n\nYou can sign up for a free account on the [Postman website](https://identity.getpostman.com/signup) and download the app in case you do not use Postman yet.\n",
      "name": "Settings"
    },
    {
      "description": "**Note:** The Entitlements settings must be enabled to use this operation. Access to the Entitlements feature requires a specific edition of Zuora. See [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for details.    \n",
      "name": "Subscription Product Features"
    },
    {
      "description": "",
      "name": "Subscriptions"
    },
    {
      "description": "",
      "name": "Summary Journal Entries"
    },
    {
      "description": "",
      "name": "Taxation Items"
    },
    {
      "description": "",
      "name": "Transactions"
    },
    {
      "description": "",
      "name": "Unit Of Measure"
    },
    {
      "description": "",
      "name": "Usage"
    },
    {
      "description": "",
      "name": "Users"
    },
    {
      "description": "",
      "name": "Workflows"
    },
    {
      "description": "**Note:** You can only use the operations in this section if you have the Billing - Revenue Integration feature enabled. See [Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Billing_-_Revenue_Integration) for more information.\n",
      "name": "Zuora Revenue Integration"
    }
  ],
  "paths": {
    "/charge-metrics/data/charge-metrics": {
      "get": {
        "description": "Retrieves key charge metrics about rate plan charges that have changes in a specified time range.\n\nThe purpose of `fromTimestamp` and `toTimestamp` is to synchronize charge metrics data incrementally. \n",
        "operationId": "GET_ChargeMetrics",
        "parameters": [
          {
            "$ref": "#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id"
          },
          {
            "$ref": "#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single"
          },
          {
            "$ref": "#/components/parameters/GLOBAL_HEADER_Charge_Metrics_Accept"
          },
          {
            "description": "The starting date and time of a time range when changes are made to charge metrics, in `yyyy-mm-ddThh:mm:ssZ` format. For example, `2020-08-18T09:01:11Z`. The timestamp maps to the `UpdatedOn` timestamp of the to-be-exported object.\n",
            "in": "query",
            "name": "fromTimestamp",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The end date and time of a time range when changes are made to charge metrics, in `yyyy-mm-ddThh:mm:ssZ` format. For example, `2020-08-20T09:01:11Z`. The timestamp maps to the `UpdatedOn` timestamp of the to-be-exported object.\n",
            "in": "query",
            "name": "toTimestamp",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json-seq": {
                "examples": {
                  "response": {
                    "value": {
                      "amendmentId": "2c92a00770ec485c01710777fe944f82",
                      "amendmentType": "NewProduct",
                      "chargeNumber": "C-00000001",
                      "createdOn": "2020-01-01 00:00:01+00:00",
                      "currency": "USD",
                      "deleted": false,
                      "endDate": "2020-04-01",
                      "id": "8c6bab39-317b-471f-8c6d-9c23649ac548",
                      "invoiceOwnerAccountNumber": "A-00000001",
                      "mrrDiscountAmount": 10,
                      "mrrGrossAmount": 100,
                      "mrrNetAmount": 90,
                      "productId": "2c92a0f94fded238014ff66557c22724",
                      "productRatePlanChargeId": "2c92a00770ec485c01710777fe944f82",
                      "productRatePlanId": "2c92a0f94fded238014ff6655d9127cc",
                      "ratePlanChargeId": "2c92a00770ec485c01710777ff284f8b",
                      "startDate": "2020-01-01",
                      "subscriptionName": "A-S0000001",
                      "subscriptionOwnerAccountNumber": "A-00000001",
                      "tcvDiscountAmount": 30,
                      "tcvGrossAmount": 300,
                      "tcvNetAmount": 270,
                      "updatedOn": "2020-01-01 00:00:01+00:00"
                    }
                  }
                }
              },
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeMetricsResponse"
                }
              }
            },
            "description": "",
            "headers": {
              "RateLimit-Limit": {
                "description": "The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Remaining": {
                "description": "The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "number"
                }
              },
              "RateLimit-Reset": {
                "description": "The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "number"
                }
              },
              "Zuora-Request-Id": {
                "description": "The Zuora internal identifier of the API call. You cannot control the value of this header.\n",
                "schema": {
                  "maxLength": 36,
                  "minLength": 36,
                  "type": "string"
                }
              },
              "Zuora-Track-Id": {
                "description": "A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.\n",
                "schema": {
                  "maxLength": 64,
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "reasons": [
                        {
                          "code": "53400020",
                          "message": "'toTimestamp' must be after the 'fromTimestamp'."
                        }
                      ]
                    }
                  }
                }
              },
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CommonReasonsErrorResponse"
                }
              }
            },
            "description": "Invalid Parameters",
            "headers": {
              "RateLimit-Limit": {
                "description": "The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Remaining": {
                "description": "The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "number"
                }
              },
              "RateLimit-Reset": {
                "description": "The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "number"
                }
              },
              "Zuora-Request-Id": {
                "description": "The Zuora internal identifier of the API call. You cannot control the value of this header.\n",
                "schema": {
                  "maxLength": 36,
                  "minLength": 36,
                  "type": "string"
                }
              },
              "Zuora-Track-Id": {
                "description": "A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.\n",
                "schema": {
                  "maxLength": 64,
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "reasons": [
                        {
                          "code": "53400070",
                          "message": "Only two requests are allowed within any 24-hour window."
                        }
                      ]
                    }
                  }
                }
              },
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CommonReasonsErrorResponse"
                }
              }
            },
            "description": "Rate limited",
            "headers": {
              "RateLimit-Limit": {
                "description": "The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Remaining": {
                "description": "The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "number"
                }
              },
              "RateLimit-Reset": {
                "description": "The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "number"
                }
              },
              "Retry-After": {
                "description": "The interval of seconds that you have to wait before another retry.\n",
                "schema": {
                  "type": "integer"
                }
              },
              "Zuora-Request-Id": {
                "description": "The Zuora internal identifier of the API call. You cannot control the value of this header.\n",
                "schema": {
                  "maxLength": 36,
                  "minLength": 36,
                  "type": "string"
                }
              },
              "Zuora-Track-Id": {
                "description": "A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.\n",
                "schema": {
                  "maxLength": 64,
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "reasons": [
                        {
                          "code": "53400060",
                          "message": "Internal error detected."
                        }
                      ]
                    }
                  }
                }
              },
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CommonReasonsErrorResponse"
                }
              }
            },
            "description": "Internal Error",
            "headers": {
              "RateLimit-Limit": {
                "description": "The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Remaining": {
                "description": "The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "number"
                }
              },
              "RateLimit-Reset": {
                "description": "The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "number"
                }
              },
              "Zuora-Request-Id": {
                "description": "The Zuora internal identifier of the API call. You cannot control the value of this header.\n",
                "schema": {
                  "maxLength": 36,
                  "minLength": 36,
                  "type": "string"
                }
              },
              "Zuora-Track-Id": {
                "description": "A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.\n",
                "schema": {
                  "maxLength": 64,
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "List charge metrics by time range",
        "tags": [
          "Charge Metrics"
        ],
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl -X GET -H \"Authorization: Bearer 6d151216ef504f65b8ff6e9e9e8356d3\" -H \"Content-Type: application/json\" \"https://rest.zuora.com/charge-metrics/data/charge-metrics\""
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://rest.zuora.com/charge-metrics/data/charge-metrics');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setHeaders(array(\n  'content-type' => 'application/json',\n  'Authorization' => 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'\n));\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequest request = new Request.Builder()\n  .url(\"https://rest.zuora.com/charge-metrics/data/charge-metrics\")\n  .get()\n  .addHeader(\"Authorization\", \"Bearer 6d151216ef504f65b8ff6e9e9e8356d3\")\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"cache-control\", \"no-cache\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"https://rest.zuora.com/\")\n\nheaders = {\n    'Authorization': \"Bearer 6d151216ef504f65b8ff6e9e9e8356d3\"\n    }\n\nconn.request(\"GET\", \"/charge-metrics/data/charge-metrics\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://rest.zuora.com/charge-metrics/data/charge-metrics\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://rest.zuora.com/charge-metrics/data/charge-metrics\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"Bearer 6d151216ef504f65b8ff6e9e9e8356d3\");\nIRestResponse response = client.Execute(request);"
          }
        ]
      }
    },
    "/charge-metrics/data/charge-metrics-discount-allocation-detail": {
      "get": {
        "description": "Retrieves discount allocation details about rate plan charges that have changes in a specified time range.\n\nThe purpose of `fromTimestamp` and `toTimestamp` is to synchronize discount allocation details incrementally. \n",
        "operationId": "GET_ChargeMetricsDiscountAllocationDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id"
          },
          {
            "$ref": "#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single"
          },
          {
            "$ref": "#/components/parameters/GLOBAL_HEADER_Charge_Metrics_Accept"
          },
          {
            "description": "The starting date and time of a time range when changes are made to charge metrics, in `yyyy-mm-ddThh:mm:ssZ` format. For example, `2020-08-18T09:01:11Z`. The timestamp maps to the `UpdatedOn` timestamp of the to-be-exported object.\n",
            "in": "query",
            "name": "fromTimestamp",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The end date and time of a time range when changes are made to charge metrics, in `yyyy-mm-ddThh:mm:ssZ` format. For example, `2020-08-20T09:01:11Z`. The timestamp maps to the `UpdatedOn` timestamp of the to-be-exported object.\n",
            "in": "query",
            "name": "toTimestamp",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeMetricsDiscountAllocationDetailResponse"
                }
              }
            },
            "description": "",
            "headers": {
              "RateLimit-Limit": {
                "description": "The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Remaining": {
                "description": "The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "number"
                }
              },
              "RateLimit-Reset": {
                "description": "The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "number"
                }
              },
              "Zuora-Request-Id": {
                "description": "The Zuora internal identifier of the API call. You cannot control the value of this header.\n",
                "schema": {
                  "maxLength": 36,
                  "minLength": 36,
                  "type": "string"
                }
              },
              "Zuora-Track-Id": {
                "description": "A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.\n",
                "schema": {
                  "maxLength": 64,
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "reasons": [
                        {
                          "code": "53410020",
                          "message": "'toTimestamp' must be after the 'fromTimestamp'."
                        }
                      ]
                    }
                  }
                }
              },
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CommonReasonsErrorResponse"
                }
              }
            },
            "description": "Invalid Parameters",
            "headers": {
              "RateLimit-Limit": {
                "description": "The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Remaining": {
                "description": "The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "number"
                }
              },
              "RateLimit-Reset": {
                "description": "The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "number"
                }
              },
              "Zuora-Request-Id": {
                "description": "The Zuora internal identifier of the API call. You cannot control the value of this header.\n",
                "schema": {
                  "maxLength": 36,
                  "minLength": 36,
                  "type": "string"
                }
              },
              "Zuora-Track-Id": {
                "description": "A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.\n",
                "schema": {
                  "maxLength": 64,
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "reasons": [
                        {
                          "code": "53410070",
                          "message": "Only two requests are allowed within any 24-hour window."
                        }
                      ]
                    }
                  }
                }
              },
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CommonReasonsErrorResponse"
                }
              }
            },
            "description": "Rate limited",
            "headers": {
              "RateLimit-Limit": {
                "description": "The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Remaining": {
                "description": "The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "number"
                }
              },
              "RateLimit-Reset": {
                "description": "The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "number"
                }
              },
              "Retry-After": {
                "description": "The interval of seconds that you have to wait before another retry.\n",
                "schema": {
                  "type": "integer"
                }
              },
              "Zuora-Request-Id": {
                "description": "The Zuora internal identifier of the API call. You cannot control the value of this header.\n",
                "schema": {
                  "maxLength": 36,
                  "minLength": 36,
                  "type": "string"
                }
              },
              "Zuora-Track-Id": {
                "description": "A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.\n",
                "schema": {
                  "maxLength": 64,
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "reasons": [
                        {
                          "code": "53410060",
                          "message": "Internal error detected."
                        }
                      ]
                    }
                  }
                }
              },
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CommonReasonsErrorResponse"
                }
              }
            },
            "description": "Internal Error",
            "headers": {
              "RateLimit-Limit": {
                "description": "The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Remaining": {
                "description": "The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "number"
                }
              },
              "RateLimit-Reset": {
                "description": "The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.\n",
                "schema": {
                  "type": "number"
                }
              },
              "Zuora-Request-Id": {
                "description": "The Zuora internal identifier of the API call. You cannot control the value of this header.\n",
                "schema": {
                  "maxLength": 36,
                  "minLength": 36,
                  "type": "string"
                }
              },
              "Zuora-Track-Id": {
                "description": "A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.\n",
                "schema": {
                  "maxLength": 64,
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "List discount allocation details by time range",
        "tags": [
          "Charge Metrics"
        ],
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "curl -X GET -H \"Authorization: Bearer 6d151216ef504f65b8ff6e9e9e8356d3\" -H \"Content-Type: application/json\" \"https://rest.zuora.com/charge-metrics/data/charge-metrics-discount-allocation-detail\""
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://rest.zuora.com/charge-metrics/data/charge-metrics-discount-allocation-detail');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setHeaders(array(\n  'content-type' => 'application/json',\n  'Authorization' => 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'\n));\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequest request = new Request.Builder()\n  .url(\"https://rest.zuora.com/charge-metrics/data/charge-metrics-discount-allocation-detail\")\n  .get()\n  .addHeader(\"Authorization\", \"Bearer 6d151216ef504f65b8ff6e9e9e8356d3\")\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"cache-control\", \"no-cache\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"https://rest.zuora.com/\")\n\nheaders = {\n    'Authorization': \"Bearer 6d151216ef504f65b8ff6e9e9e8356d3\"\n    }\n\nconn.request(\"GET\", \"/charge-metrics/data/charge-metrics-discount-allocation-detail\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://rest.zuora.com/charge-metrics/data/charge-metrics-discount-allocation-detail\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "C#",
[...]
