{
  "openapi": "3.1.0",
  "info": {
    "title": "TomTom API",
    "description": "TomTom APIs for search, routing, geocoding, reverse geocoding, and traffic flow data.",
    "version": "2.0.0",
    "contact": {
      "name": "TomTom Developer Support",
      "url": "https://developer.tomtom.com"
    },
    "termsOfService": "https://developer.tomtom.com/terms-and-conditions"
  },
  "servers": [
    {
      "url": "https://api.tomtom.com",
      "description": "TomTom API"
    }
  ],
  "security": [
    { "ApiKeyAuth": [] }
  ],
  "paths": {
    "/search/2/search/{query}.{ext}": {
      "get": {
        "operationId": "fuzzySearch",
        "summary": "Fuzzy Search",
        "description": "Fuzzy single-line search for addresses, POIs, and other locations.",
        "tags": ["Search"],
        "parameters": [
          { "name": "query", "in": "path", "required": true, "schema": { "type": "string" }, "description": "URL-encoded search query." },
          { "name": "ext", "in": "path", "required": true, "schema": { "type": "string", "enum": ["json", "jsonp", "js", "xml"] }, "description": "Response format." },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" }, "description": "API key." },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10, "maximum": 100 }, "description": "Maximum number of results." },
          { "name": "ofs", "in": "query", "schema": { "type": "integer", "default": 0 }, "description": "Result offset for pagination." },
          { "name": "countrySet", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated ISO country codes to limit search." },
          { "name": "lat", "in": "query", "schema": { "type": "number" }, "description": "Latitude to bias results." },
          { "name": "lon", "in": "query", "schema": { "type": "number" }, "description": "Longitude to bias results." },
          { "name": "radius", "in": "query", "schema": { "type": "integer" }, "description": "Search radius in meters." },
          { "name": "maxFuzzyLevel", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 4, "default": 2 }, "description": "Maximum fuzzy matching level." },
          { "name": "minFuzzyLevel", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 4, "default": 1 }, "description": "Minimum fuzzy matching level." },
          { "name": "typeahead", "in": "query", "schema": { "type": "boolean", "default": false }, "description": "Enable predictive search." },
          { "name": "language", "in": "query", "schema": { "type": "string" }, "description": "IETF language tag." },
          { "name": "categorySet", "in": "query", "schema": { "type": "string" }, "description": "POI category IDs." },
          { "name": "brandSet", "in": "query", "schema": { "type": "string" }, "description": "Brand names to filter." },
          { "name": "topLeft", "in": "query", "schema": { "type": "string" }, "description": "Top-left corner of bounding box (lat,lon)." },
          { "name": "btmRight", "in": "query", "schema": { "type": "string" }, "description": "Bottom-right corner of bounding box (lat,lon)." },
          { "name": "idxSet", "in": "query", "schema": { "type": "string" }, "description": "Index set to search: Geo, PAD, Addr, Str, Xstr, POI." },
          { "name": "view", "in": "query", "schema": { "type": "string" }, "description": "Geopolitical view." }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "query": { "type": "string" },
                        "queryType": { "type": "string" },
                        "queryTime": { "type": "integer" },
                        "numResults": { "type": "integer" },
                        "offset": { "type": "integer" },
                        "totalResults": { "type": "integer" },
                        "fuzzyLevel": { "type": "integer" }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string" },
                          "id": { "type": "string" },
                          "score": { "type": "number" },
                          "address": { "type": "object" },
                          "position": {
                            "type": "object",
                            "properties": {
                              "lat": { "type": "number" },
                              "lon": { "type": "number" }
                            }
                          },
                          "poi": { "type": "object" },
                          "viewport": { "type": "object" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/2/poiSearch/{query}.{ext}": {
      "get": {
        "operationId": "poiSearch",
        "summary": "Points of Interest Search",
        "description": "Search specifically for points of interest.",
        "tags": ["Search"],
        "parameters": [
          { "name": "query", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "ext", "in": "path", "required": true, "schema": { "type": "string", "enum": ["json", "jsonp", "js", "xml"] } },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10, "maximum": 100 } },
          { "name": "ofs", "in": "query", "schema": { "type": "integer" } },
          { "name": "countrySet", "in": "query", "schema": { "type": "string" } },
          { "name": "lat", "in": "query", "schema": { "type": "number" } },
          { "name": "lon", "in": "query", "schema": { "type": "number" } },
          { "name": "radius", "in": "query", "schema": { "type": "integer" } },
          { "name": "language", "in": "query", "schema": { "type": "string" } },
          { "name": "categorySet", "in": "query", "schema": { "type": "string" } },
          { "name": "brandSet", "in": "query", "schema": { "type": "string" } },
          { "name": "openingHours", "in": "query", "schema": { "type": "string", "enum": ["nextSevenDays"] } }
        ],
        "responses": {
          "200": { "description": "POI search results" }
        }
      }
    },
    "/search/2/categorySearch/{query}.{ext}": {
      "get": {
        "operationId": "categorySearch",
        "summary": "Category Search",
        "description": "Search filtered by POI categories.",
        "tags": ["Search"],
        "parameters": [
          { "name": "query", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "ext", "in": "path", "required": true, "schema": { "type": "string", "enum": ["json", "jsonp", "js", "xml"] } },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "countrySet", "in": "query", "schema": { "type": "string" } },
          { "name": "lat", "in": "query", "schema": { "type": "number" } },
          { "name": "lon", "in": "query", "schema": { "type": "number" } },
          { "name": "radius", "in": "query", "schema": { "type": "integer" } },
          { "name": "language", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Category search results" }
        }
      }
    },
    "/search/2/nearbySearch/.{ext}": {
      "get": {
        "operationId": "nearbySearch",
        "summary": "Nearby Search",
        "description": "Find locations near a specified point.",
        "tags": ["Search"],
        "parameters": [
          { "name": "ext", "in": "path", "required": true, "schema": { "type": "string", "enum": ["json", "jsonp", "js", "xml"] } },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "lat", "in": "query", "required": true, "schema": { "type": "number" } },
          { "name": "lon", "in": "query", "required": true, "schema": { "type": "number" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "radius", "in": "query", "schema": { "type": "integer" } },
          { "name": "language", "in": "query", "schema": { "type": "string" } },
          { "name": "categorySet", "in": "query", "schema": { "type": "string" } },
          { "name": "brandSet", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Nearby search results" }
        }
      }
    },
    "/search/2/geometrySearch/{query}.{ext}": {
      "get": {
        "operationId": "geometrySearch",
        "summary": "Geometry Search",
        "description": "Search within geometric boundaries.",
        "tags": ["Search"],
        "parameters": [
          { "name": "query", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "ext", "in": "path", "required": true, "schema": { "type": "string", "enum": ["json", "jsonp", "js", "xml"] } },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "language", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Geometry search results" }
        }
      }
    },
    "/search/2/autocomplete/{query}.{ext}": {
      "get": {
        "operationId": "autocomplete",
        "summary": "Autocomplete",
        "description": "Recognize entities in query to enable search suggestions.",
        "tags": ["Search"],
        "parameters": [
          { "name": "query", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "ext", "in": "path", "required": true, "schema": { "type": "string", "enum": ["json", "jsonp", "js", "xml"] } },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "language", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "lat", "in": "query", "schema": { "type": "number" } },
          { "name": "lon", "in": "query", "schema": { "type": "number" } },
          { "name": "radius", "in": "query", "schema": { "type": "integer" } },
          { "name": "countrySet", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Autocomplete results" }
        }
      }
    },
    "/search/2/place.{ext}": {
      "get": {
        "operationId": "placeById",
        "summary": "Place by ID",
        "description": "Retrieve detailed place information using a place identifier.",
        "tags": ["Search"],
        "parameters": [
          { "name": "ext", "in": "path", "required": true, "schema": { "type": "string", "enum": ["json", "jsonp", "js", "xml"] } },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "entityId", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Entity ID from a previous search result." },
          { "name": "language", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Place details" }
        }
      }
    },
    "/search/2/poiCategories.{ext}": {
      "get": {
        "operationId": "getPoiCategories",
        "summary": "POI Categories",
        "description": "Get list of POI categories, subcategories, and translations.",
        "tags": ["Search"],
        "parameters": [
          { "name": "ext", "in": "path", "required": true, "schema": { "type": "string", "enum": ["json", "jsonp", "js", "xml"] } },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "language", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "POI category list" }
        }
      }
    },
    "/search/2/reverseGeocode/{position}.{ext}": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse Geocode",
        "description": "Translate coordinates into human-readable addresses.",
        "tags": ["Geocoding"],
        "parameters": [
          { "name": "position", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Coordinates as lat,lon." },
          { "name": "ext", "in": "path", "required": true, "schema": { "type": "string", "enum": ["json", "jsonp", "js", "xml"] } },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "radius", "in": "query", "schema": { "type": "integer", "default": 10000 }, "description": "Search radius in meters." },
          { "name": "language", "in": "query", "schema": { "type": "string" } },
          { "name": "entityType", "in": "query", "schema": { "type": "string" }, "description": "Geography entity type filter (Country, Municipality, etc.)." },
          { "name": "returnSpeedLimit", "in": "query", "schema": { "type": "boolean" } },
          { "name": "view", "in": "query", "schema": { "type": "string" } },
          { "name": "mapcodes", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Reverse geocoding result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": { "type": "object" },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": { "type": "object" },
                          "position": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/2/structuredGeocode.{ext}": {
      "get": {
        "operationId": "structuredGeocode",
        "summary": "Structured Geocode",
        "description": "Geocode using structured address components.",
        "tags": ["Geocoding"],
        "parameters": [
          { "name": "ext", "in": "path", "required": true, "schema": { "type": "string", "enum": ["json", "jsonp", "js", "xml"] } },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "streetNumber", "in": "query", "schema": { "type": "string" } },
          { "name": "streetName", "in": "query", "schema": { "type": "string" } },
          { "name": "municipality", "in": "query", "schema": { "type": "string" } },
          { "name": "municipalitySubdivision", "in": "query", "schema": { "type": "string" } },
          { "name": "countryTertiarySubdivision", "in": "query", "schema": { "type": "string" } },
          { "name": "countrySecondarySubdivision", "in": "query", "schema": { "type": "string" } },
          { "name": "countrySubdivision", "in": "query", "schema": { "type": "string" } },
          { "name": "postalCode", "in": "query", "schema": { "type": "string" } },
          { "name": "countryCode", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "language", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Geocoding result" }
        }
      }
    },
    "/routing/1/calculateRoute/{locations}/{contentType}": {
      "get": {
        "operationId": "calculateRoute",
        "summary": "Calculate Route",
        "description": "Calculate a route between an origin and destination with optional waypoints.",
        "tags": ["Routing"],
        "parameters": [
          { "name": "locations", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Colon-delimited coordinates as lat,lon pairs (origin:waypoint:destination)." },
          { "name": "contentType", "in": "path", "required": true, "schema": { "type": "string", "enum": ["json", "xml"] } },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "maxAlternatives", "in": "query", "schema": { "type": "integer", "minimum": 0, "maximum": 5 }, "description": "Number of alternative routes." },
          { "name": "routeType", "in": "query", "schema": { "type": "string", "enum": ["fastest", "shortest", "eco", "thrilling"] } },
          { "name": "traffic", "in": "query", "schema": { "type": "boolean" } },
          { "name": "departAt", "in": "query", "schema": { "type": "string" }, "description": "Departure time." },
          { "name": "arriveAt", "in": "query", "schema": { "type": "string" }, "description": "Arrival time." },
          { "name": "travelMode", "in": "query", "schema": { "type": "string", "enum": ["car", "truck", "taxi", "bus", "van", "motorcycle", "bicycle", "pedestrian"] } },
          { "name": "vehicleMaxSpeed", "in": "query", "schema": { "type": "integer" }, "description": "Vehicle max speed in km/h." },
          { "name": "vehicleWeight", "in": "query", "schema": { "type": "integer" }, "description": "Vehicle weight in kg." },
          { "name": "vehicleHeight", "in": "query", "schema": { "type": "number" }, "description": "Vehicle height in meters." },
          { "name": "vehicleWidth", "in": "query", "schema": { "type": "number" }, "description": "Vehicle width in meters." },
          { "name": "vehicleLength", "in": "query", "schema": { "type": "number" }, "description": "Vehicle length in meters." },
          { "name": "sectionType", "in": "query", "schema": { "type": "string" }, "description": "Detailed route section types." },
          { "name": "avoid", "in": "query", "schema": { "type": "string" }, "description": "Features to avoid (tollRoads, motorways, ferries, unpavedRoads, carpools, alreadyUsedRoads)." },
          { "name": "language", "in": "query", "schema": { "type": "string", "default": "en-GB" } },
          { "name": "instructionsType", "in": "query", "schema": { "type": "string", "enum": ["coded", "text", "tagged"] } },
          { "name": "computeTravelTimeFor", "in": "query", "schema": { "type": "string", "enum": ["none", "all"] } }
        ],
        "responses": {
          "200": {
            "description": "Route calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "formatVersion": { "type": "string" },
                    "routes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "summary": {
                            "type": "object",
                            "properties": {
                              "lengthInMeters": { "type": "integer" },
                              "travelTimeInSeconds": { "type": "integer" },
                              "trafficDelayInSeconds": { "type": "integer" },
                              "departureTime": { "type": "string" },
                              "arrivalTime": { "type": "string" }
                            }
                          },
                          "legs": { "type": "array", "items": { "type": "object" } },
                          "sections": { "type": "array", "items": { "type": "object" } }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "calculateRoutePost",
        "summary": "Calculate Route (POST)",
        "description": "Calculate a route using POST for complex requests with supporting points or avoid areas.",
        "tags": ["Routing"],
        "parameters": [
          { "name": "locations", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "contentType", "in": "path", "required": true, "schema": { "type": "string", "enum": ["json", "xml"] } },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "supportingPoints": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "latitude": { "type": "number" },
                        "longitude": { "type": "number" }
                      }
                    }
                  },
                  "avoidVignette": { "type": "array", "items": { "type": "string" } },
                  "avoidAreas": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Route calculation result" }
        }
      }
    },
    "/routing/1/calculateReachableRange/{origin}/{contentType}": {
      "get": {
        "operationId": "calculateReachableRange",
        "summary": "Calculate Reachable Range",
        "description": "Calculate areas reachable from origin based on fuel/energy/time budget.",
        "tags": ["Routing"],
        "parameters": [
          { "name": "origin", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Origin as lat,lon." },
          { "name": "contentType", "in": "path", "required": true, "schema": { "type": "string", "enum": ["json", "xml"] } },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "timeBudgetInSec", "in": "query", "schema": { "type": "integer" }, "description": "Time budget in seconds." },
          { "name": "fuelBudgetInLiters", "in": "query", "schema": { "type": "number" } },
          { "name": "energyBudgetInkWh", "in": "query", "schema": { "type": "number" } },
          { "name": "distanceBudgetInMeters", "in": "query", "schema": { "type": "integer" } },
          { "name": "departAt", "in": "query", "schema": { "type": "string" } },
          { "name": "routeType", "in": "query", "schema": { "type": "string", "enum": ["fastest", "shortest", "eco"] } },
          { "name": "traffic", "in": "query", "schema": { "type": "boolean" } },
          { "name": "travelMode", "in": "query", "schema": { "type": "string", "enum": ["car", "truck", "taxi", "bus", "van", "motorcycle", "bicycle", "pedestrian"] } }
        ],
        "responses": {
          "200": {
            "description": "Reachable range polygon",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "formatVersion": { "type": "string" },
                    "reachableRange": {
                      "type": "object",
                      "properties": {
                        "center": { "type": "object" },
                        "boundary": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "latitude": { "type": "number" },
                              "longitude": { "type": "number" }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/traffic/services/4/flowSegmentData/{style}/{zoom}/{format}": {
      "get": {
        "operationId": "getTrafficFlowSegment",
        "summary": "Traffic Flow Segment Data",
        "description": "Get traffic flow data for a road segment near a given point.",
        "tags": ["Traffic"],
        "parameters": [
          { "name": "style", "in": "path", "required": true, "schema": { "type": "string", "enum": ["absolute", "relative", "relative0", "relative0-dark", "relative-delay", "reduced-sensitivity"] }, "description": "Flow visualization style." },
          { "name": "zoom", "in": "path", "required": true, "schema": { "type": "integer", "minimum": 0, "maximum": 22 }, "description": "Zoom level." },
          { "name": "format", "in": "path", "required": true, "schema": { "type": "string", "enum": ["xml", "json", "jsonp"] } },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "point", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Coordinates as lat,lon." },
          { "name": "unit", "in": "query", "schema": { "type": "string", "enum": ["kmph", "mph"], "default": "kmph" } },
          { "name": "thickness", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 20, "default": 10 } },
          { "name": "openLr", "in": "query", "schema": { "type": "boolean", "default": false } }
        ],
        "responses": {
          "200": {
            "description": "Traffic flow segment data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "flowSegmentData": {
                      "type": "object",
                      "properties": {
                        "frc": { "type": "string" },
                        "currentSpeed": { "type": "integer" },
                        "freeFlowSpeed": { "type": "integer" },
                        "currentTravelTime": { "type": "integer" },
                        "freeFlowTravelTime": { "type": "integer" },
                        "confidence": { "type": "number" },
                        "coordinates": { "type": "object" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/2/alongRouteSearch/{query}.{ext}": {
      "post": {
        "operationId": "alongRouteSearch",
        "summary": "Along Route Search",
        "description": "Discover points of interest along a defined route.",
        "tags": ["Search"],
        "parameters": [
          { "name": "query", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "ext", "in": "path", "required": true, "schema": { "type": "string", "enum": ["json", "jsonp", "js", "xml"] } },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "maxDetourTime", "in": "query", "required": true, "schema": { "type": "integer" }, "description": "Maximum detour time in seconds." },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "categorySet", "in": "query", "schema": { "type": "string" } },
          { "name": "brandSet", "in": "query", "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "route": {
                    "type": "object",
                    "properties": {
                      "points": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "lat": { "type": "number" },
                            "lon": { "type": "number" }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Along-route search results" }
        }
      }
    },
    "/search/2/geometryFilter.{ext}": {
      "get": {
        "operationId": "geometryFilter",
        "summary": "Geometry Filter",
        "description": "Filter POIs within geographic boundaries.",
        "tags": ["Search"],
        "parameters": [
          { "name": "ext", "in": "path", "required": true, "schema": { "type": "string", "enum": ["json", "jsonp", "js", "xml"] } },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "geometryList", "in": "query", "required": true, "schema": { "type": "string" }, "description": "JSON-encoded geometry list." },
          { "name": "poiList", "in": "query", "required": true, "schema": { "type": "string" }, "description": "JSON-encoded list of POI IDs." }
        ],
        "responses": {
          "200": { "description": "Filtered results" }
        }
      },
      "post": {
        "operationId": "geometryFilterPost",
        "summary": "Geometry Filter (POST)",
        "description": "Filter POIs within geographic boundaries using POST.",
        "tags": ["Search"],
        "parameters": [
          { "name": "ext", "in": "path", "required": true, "schema": { "type": "string", "enum": ["json", "jsonp", "js", "xml"] } },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "geometryList": { "type": "array" },
                  "poiList": { "type": "array" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Filtered results" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "TomTom API key."
      }
    }
  },
  "tags": [
    { "name": "Search", "description": "Search for addresses, POIs, and locations." },
    { "name": "Geocoding", "description": "Forward and reverse geocoding." },
    { "name": "Routing", "description": "Route calculation and reachable range." },
    { "name": "Traffic", "description": "Real-time traffic flow data." }
  ]
}