{
  "swagger": "2.0",
  "info": {
    "title": "Echosign",
    "description": "API for secure.au1.echosign.com",
    "version": "0.0.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/K2ANZ/AdobeSign/0.0.1/swagger.json"
  },
  "host": "secure.echosign.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/rest/v6/agreements": {
      "post": {
        "tags": [
          "Web"
        ],
        "description": "Create agreement",
        "operationId": "CreateAgreement",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "AgreementCreationInfo",
            "in": "body",
            "description": "Agreement Creation Info",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgreementCreationInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateAgreement"
            },
            "examples": {
              "application/json": {
                "id": ""
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/rest/v6/agreements/{agreementId}": {
      "get": {
        "tags": [
          "Web"
        ],
        "description": "Get agreement status",
        "operationId": "GetAgreementStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "agreementId",
            "in": "path",
            "description": "Agreement ID",
            "required": true,
            "type": "string",
            "x-example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetAgreementStatus"
            },
            "examples": {
              "application/json": {
                "name": "",
                "participantSetsInfo": [
                  {
                    "memberInfos": [
                      {
                        "email": "",
                        "securityOption": {
                          "authenticationMethod": "",
                          "password": "",
                          "phoneInfo": {
                            "countryCode": "",
                            "countryIsoCode": "",
                            "phone": ""
                          }
                        }
                      }
                    ],
                    "order": 1,
                    "role": "",
                    "label": "",
                    "name": "",
                    "privateMessage": "",
                    "visiblePages": [
                      ""
                    ]
                  }
                ],
                "signatureType": "",
                "status": "",
                "ccs": [
                  {
                    "email": "",
                    "label": "",
                    "visiblePages": [
                      ""
                    ]
                  }
                ],
                "createdDate": "",
                "deviceInfo": {
                  "applicationDescription": "",
                  "deviceDescription": "",
                  "deviceTime": ""
                },
                "documentVisibilityEnabled": false,
                "emailOption": {
                  "sendOptions": {
                    "completionEmails": "",
                    "inFlightEmails": "",
                    "initEmails": ""
                  }
                },
                "expirationTime": "",
                "externalId": {
                  "id": ""
                },
                "fileInfos": [
                  {
                    "document": {
                      "id": "",
                      "label": "",
                      "numPages": 1,
                      "mimeType": "",
                      "name": ""
                    },
                    "label": "",
                    "libraryDocumentId": "",
                    "transientDocumentId": "",
                    "urlFileInfo": {
                      "mimeType": "",
                      "name": "",
                      "url": ""
                    }
                  }
                ],
                "firstReminderDelay": 1,
                "formFieldLayerTemplates": [
                  {
                    "document": {
                      "id": "",
                      "label": "",
                      "numPages": 1,
                      "mimeType": "",
                      "name": ""
                    },
                    "label": "",
                    "libraryDocumentId": "",
                    "transientDocumentId": "",
                    "urlFileInfo": {
                      "mimeType": "",
                      "name": "",
                      "url": ""
                    }
                  }
                ],
                "groupId": "",
                "hasFormFieldData": false,
                "hasSignerIdentityReport": false,
                "id": "",
                "isDocumentRetentionApplied": false,
                "locale": "",
                "mergeFieldInfo": [
                  {
                    "defaultValue": "",
                    "fieldName": ""
                  }
                ],
                "message": "",
                "parentId": "",
                "postSignOption": {
                  "redirectDelay": 1,
                  "redirectUrl": ""
                },
                "reminderFrequency": "",
                "securityOption": {
                  "openPassword": ""
                },
                "senderEmail": "",
                "state": "",
                "type": "",
                "vaultingInfo": {
                  "enabled": false
                },
                "workflowId": ""
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/rest/v6/transientDocuments": {
      "post": {
        "tags": [
          "Web"
        ],
        "description": "Upload document",
        "operationId": "UploadDocument",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "File",
            "in": "formData",
            "description": "The file part of the multipart request for document upload. You can upload only one file at a time.",
            "required": true,
            "type": "file",
            "x-example": ""
          },
          {
            "name": "File-Name",
            "in": "formData",
            "description": "A name for the document being uploaded.",
            "required": false,
            "type": "string",
            "x-example": ""
          },
          {
            "name": "Mime-Type",
            "in": "formData",
            "description": "The mime type of the document being uploaded. If not specified here then mime type is picked up from the file object. If mime type is not present there either then mime type is inferred from file name extension.",
            "required": false,
            "type": "string",
            "x-example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadDocument"
            },
            "examples": {
              "application/json": {
                "transientDocumentId": ""
              }
            }
          }
        },
        "security": []
      }
    }
  },
  "definitions": {
    "UploadDocument": {
      "description": "Model for UploadDocument",
      "required": [
        "transientDocumentId"
      ],
      "properties": {
        "transientDocumentId": {
          "type": "string",
          "x-example": ""
        }
      }
    },
    "VaultingInfo": {
      "description": "Model for VaultingInfo",
      "required": [
        "enabled"
      ],
      "properties": {
        "enabled": {
          "type": "boolean",
          "x-example": "false"
        }
      }
    },
    "GetAgreementStatus": {
      "description": "Model for GetAgreementStatus",
      "required": [
        "ccs"
      ],
      "properties": {
        "ccs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Ccs"
          },
          "x-example": "[\n  {\n    \"email\": \"\",\n    \"label\": \"\",\n    \"visiblePages\": [\n      \"\"\n    ]\n  }\n]"
        },
        "createdDate": {
          "type": "string",
          "x-example": ""
        },
        "deviceInfo": {
          "$ref": "#/definitions/DeviceInfo",
          "x-example": "{\n  \"applicationDescription\": \"\",\n  \"deviceDescription\": \"\",\n  \"deviceTime\": \"\"\n}"
        },
        "documentVisibilityEnabled": {
          "type": "boolean",
          "x-example": "false"
        },
        "emailOption": {
          "$ref": "#/definitions/EmailOption",
          "x-example": "{\n  \"sendOptions\": {\n    \"completionEmails\": \"\",\n    \"inFlightEmails\": \"\",\n    \"initEmails\": \"\"\n  }\n}"
        },
        "expirationTime": {
          "type": "string",
          "x-example": ""
        },
        "externalId": {
          "$ref": "#/definitions/ExternalId",
          "x-example": "{\n  \"id\": \"\"\n}"
        },
        "fileInfos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FileInfos"
          },
          "x-example": "[\n  {\n    \"document\": {\n      \"id\": \"\",\n      \"label\": \"\",\n      \"numPages\": 1,\n      \"mimeType\": \"\",\n      \"name\": \"\"\n    },\n    \"label\": \"\",\n    \"libraryDocumentId\": \"\",\n    \"transientDocumentId\": \"\",\n    \"urlFileInfo\": {\n      \"mimeType\": \"\",\n      \"name\": \"\",\n      \"url\": \"\"\n    }\n  }\n]"
        },
        "firstReminderDelay": {
          "type": "integer",
          "format": "int32",
          "x-example": "1"
        },
        "formFieldLayerTemplates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FormFieldLayerTemplates"
          },
          "x-example": "[\n  {\n    \"document\": {\n      \"id\": \"\",\n      \"label\": \"\",\n      \"numPages\": 1,\n      \"mimeType\": \"\",\n      \"name\": \"\"\n    },\n    \"label\": \"\",\n    \"libraryDocumentId\": \"\",\n    \"transientDocumentId\": \"\",\n    \"urlFileInfo\": {\n      \"mimeType\": \"\",\n      \"name\": \"\",\n      \"url\": \"\"\n    }\n  }\n]"
        },
        "groupId": {
          "type": "string",
          "x-example": ""
        },
        "hasFormFieldData": {
          "type": "boolean",
          "x-example": "false"
        },
        "hasSignerIdentityReport": {
          "type": "boolean",
          "x-example": "false"
        },
        "id": {
          "type": "string",
          "x-example": ""
        },
        "isDocumentRetentionApplied": {
          "type": "boolean",
          "x-example": "false"
        },
        "locale": {
          "type": "string",
          "x-example": ""
        },
        "mergeFieldInfo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MergeFieldInfo"
          },
          "x-example": "[\n  {\n    \"defaultValue\": \"\",\n    \"fieldName\": \"\"\n  }\n]"
        },
        "message": {
          "type": "string",
          "x-example": ""
        },
        "name": {
          "type": "string",
          "x-example": ""
        },
        "parentId": {
          "type": "string",
          "x-example": ""
        },
        "participantSetsInfo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ParticipantSetsInfo"
          },
          "x-example": "[\n  {\n    \"memberInfos\": [\n      {\n        \"email\": \"\",\n        \"securityOption\": {\n          \"authenticationMethod\": \"\",\n          \"password\": \"\",\n          \"phoneInfo\": {\n            \"countryCode\": \"\",\n            \"countryIsoCode\": \"\",\n            \"phone\": \"\"\n          }\n        }\n      }\n    ],\n    \"order\": 1,\n    \"role\": \"\",\n    \"label\": \"\",\n    \"name\": \"\",\n    \"privateMessage\": \"\",\n    \"visiblePages\": [\n      \"\"\n    ]\n  }\n]"
        },
        "postSignOption": {
          "$ref": "#/definitions/PostSignOption",
          "x-example": "{\n  \"redirectDelay\": 1,\n  \"redirectUrl\": \"\"\n}"
        },
        "reminderFrequency": {
          "type": "string",
          "x-example": ""
        },
        "securityOption": {
          "$ref": "#/definitions/SecurityOption2",
          "x-example": "{\n  \"openPassword\": \"\"\n}"
        },
        "senderEmail": {
          "type": "string",
          "x-example": ""
        },
        "signatureType": {
          "type": "string",
          "x-example": ""
        },
        "state": {
          "type": "string",
          "x-example": ""
        },
        "status": {
          "type": "string",
          "x-example": ""
        },
        "type": {
          "type": "string",
          "x-example": ""
        },
        "vaultingInfo": {
          "$ref": "#/definitions/VaultingInfo",
          "x-example": "{\n  \"enabled\": false\n}"
        },
        "workflowId": {
          "type": "string",
          "x-example": ""
        }
      }
    },
    "SecurityOption2": {
      "description": "Model for SecurityOption2",
      "required": [
        "openPassword"
      ],
      "properties": {
        "openPassword": {
          "type": "string",
          "x-example": ""
        }
      }
    },
    "PostSignOption": {
      "description": "Model for PostSignOption",
      "required": [
        "redirectDelay"
      ],
      "properties": {
        "redirectDelay": {
          "type": "integer",
          "format": "int32",
          "x-example": "1"
        },
        "redirectUrl": {
          "type": "string",
          "x-example": ""
        }
      }
    },
    "MergeFieldInfo": {
      "description": "Model for MergeFieldInfo",
      "required": [
        "defaultValue"
      ],
      "properties": {
        "defaultValue": {
          "type": "string",
          "x-example": ""
        },
        "fieldName": {
          "type": "string",
          "x-example": ""
        }
      }
    },
    "UrlFileInfo2": {
      "description": "Model for UrlFileInfo2",
      "required": [
        "mimeType"
      ],
      "properties": {
        "mimeType": {
          "type": "string",
          "x-example": ""
        },
        "name": {
          "type": "string",
          "x-example": ""
        },
        "url": {
          "type": "string",
          "x-example": ""
        }
      }
    },
    "FormFieldLayerTemplates": {
      "description": "Model for FormFieldLayerTemplates",
      "required": [
        "document"
      ],
      "properties": {
        "document": {
          "$ref": "#/definitions/Document2",
          "x-example": "{\n  \"id\": \"\",\n  \"label\": \"\",\n  \"numPages\": 1,\n  \"mimeType\": \"\",\n  \"name\": \"\"\n}"
        },
        "label": {
          "type": "string",
          "x-example": ""
        },
        "libraryDocumentId": {
          "type": "string",
          "x-example": ""
        },
        "transientDocumentId": {
          "type": "string",
          "x-example": ""
        },
        "urlFileInfo": {
          "$ref": "#/definitions/UrlFileInfo2",
          "x-example": "{\n  \"mimeType\": \"\",\n  \"name\": \"\",\n  \"url\": \"\"\n}"
        }
      }
    },
    "Document2": {
      "description": "Model for Document2",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string",
          "x-example": ""
        },
        "label": {
          "type": "string",
          "x-example": ""
        },
        "mimeType": {
          "type": "string",
          "x-example": ""
        },
        "name": {
          "type": "string",
          "x-example": ""
        },
        "numPages": {
          "type": "integer",
          "format": "int32",
          "x-example": "1"
        }
      }
    },
    "UrlFileInfo": {
      "description": "Model for UrlFileInfo",
      "required": [
        "mimeType"
      ],
      "properties": {
        "mimeType": {
          "type": "string",
          "x-example": ""
        },
        "name": {
          "type": "string",
          "x-example": ""
        },
        "url": {
          "type": "string",
          "x-example": ""
        }
      }
    },
    "Document": {
      "description": "Model for Document",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string",
          "x-example": ""
        },
        "label": {
          "type": "string",
          "x-example": ""
        },
        "mimeType": {
          "type": "string",
          "x-example": ""
        },
        "name": {
          "type": "string",
          "x-example": ""
        },
        "numPages": {
          "type": "integer",
          "format": "int32",
          "x-example": "1"
        }
      }
    },
    "ExternalId": {
      "description": "Model for ExternalId",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string",
          "x-example": ""
        }
      }
    },
    "SendOptions": {
      "description": "Model for SendOptions",
      "required": [
        "completionEmails"
      ],
      "properties": {
        "completionEmails": {
          "type": "string",
          "x-example": ""
        },
        "inFlightEmails": {
          "type": "string",
          "x-example": ""
        },
        "initEmails": {
          "type": "string",
          "x-example": ""
        }
      }
    },
    "EmailOption": {
      "description": "Model for EmailOption",
      "required": [
        "sendOptions"
      ],
      "properties": {
        "sendOptions": {
          "$ref": "#/definitions/SendOptions",
          "x-example": "{\n  \"completionEmails\": \"\",\n  \"inFlightEmails\": \"\",\n  \"initEmails\": \"\"\n}"
        }
      }
    },
    "DeviceInfo": {
      "description": "Model for DeviceInfo",
      "required": [
        "applicationDescription"
      ],
      "properties": {
        "applicationDescription": {
          "type": "string",
          "x-example": ""
        },
        "deviceDescription": {
          "type": "string",
          "x-example": ""
        },
        "deviceTime": {
          "type": "string",
          "x-example": ""
        }
      }
    },
    "Ccs": {
      "description": "Model for Ccs",
      "required": [
        "email"
      ],
      "properties": {
        "email": {
          "type": "string",
          "x-example": ""
        },
        "label": {
          "type": "string",
          "x-example": ""
        },
        "visiblePages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-example": "[\"\"]"
        }
      }
    },
    "PhoneInfo": {
      "description": "Model for PhoneInfo",
      "required": [
        "countryCode"
      ],
      "properties": {
        "countryCode": {
          "type": "string",
          "x-example": ""
        },
        "countryIsoCode": {
          "type": "string",
          "x-example": ""
        },
        "phone": {
          "type": "string",
          "x-example": ""
        }
      }
    },
    "SecurityOption": {
      "description": "Model for SecurityOption",
      "required": [
        "authenticationMethod"
      ],
      "properties": {
        "authenticationMethod": {
          "type": "string",
          "x-example": ""
        },
        "password": {
          "type": "string",
          "x-example": ""
        },
        "phoneInfo": {
          "$ref": "#/definitions/PhoneInfo",
          "x-example": "{\n  \"countryCode\": \"\",\n  \"countryIsoCode\": \"\",\n  \"phone\": \"\"\n}"
        }
      }
    },
    "MemberInfos": {
      "description": "Model for MemberInfos",
      "required": [
        "email"
      ],
      "properties": {
        "email": {
          "type": "string",
          "x-example": ""
        },
        "securityOption": {
          "$ref": "#/definitions/SecurityOption",
          "x-example": "{\n  \"authenticationMethod\": \"\",\n  \"password\": \"\",\n  \"phoneInfo\": {\n    \"countryCode\": \"\",\n    \"countryIsoCode\": \"\",\n    \"phone\": \"\"\n  }\n}"
        }
      }
    },
    "ParticipantSetsInfo": {
      "description": "Model for ParticipantSetsInfo",
      "required": [
        "label"
      ],
      "properties": {
        "label": {
          "type": "string",
          "x-example": ""
        },
        "memberInfos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MemberInfos"
          },
          "x-example": "[\n  {\n    \"email\": \"\"\n  }\n]"
        },
        "name": {
          "type": "string",
          "x-example": ""
        },
        "order": {
          "type": "integer",
          "format": "int32",
          "x-example": "1"
        },
        "privateMessage": {
          "type": "string",
          "x-example": ""
        },
        "role": {
          "type": "string",
          "x-example": ""
        },
        "visiblePages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-example": "[\"\"]"
        }
      }
    },
    "FileInfos": {
      "description": "Model for FileInfos",
      "required": [
        "document"
      ],
      "properties": {
        "document": {
          "$ref": "#/definitions/Document",
          "x-example": "{\n  \"id\": \"\",\n  \"label\": \"\",\n  \"numPages\": 1,\n  \"mimeType\": \"\",\n  \"name\": \"\"\n}"
        },
        "label": {
          "type": "string",
          "x-example": ""
        },
        "libraryDocumentId": {
          "type": "string",
          "x-example": ""
        },
        "transientDocumentId": {
          "type": "string",
          "x-example": ""
        },
        "urlFileInfo": {
          "$ref": "#/definitions/UrlFileInfo",
          "x-example": "{\n  \"mimeType\": \"\",\n  \"name\": \"\",\n  \"url\": \"\"\n}"
        }
      }
    },
    "AgreementCreationInfo": {
      "description": "Model for AgreementCreationInfo",
      "required": [
        "fileInfos"
      ],
      "properties": {
        "fileInfos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FileInfos"
          },
          "x-example": "[\n  {\n    \"transientDocumentId\": \"\"\n  }\n]"
        },
        "name": {
          "type": "string",
          "x-example": ""
        },
        "participantSetsInfo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ParticipantSetsInfo"
          },
          "x-example": "[\n  {\n    \"memberInfos\": [\n      {\n        \"email\": \"\"\n      }\n    ],\n    \"order\": 1,\n    \"role\": \"\"\n  }\n]"
        },
        "signatureType": {
          "type": "string",
          "x-example": ""
        },
        "state": {
          "type": "string",
          "x-example": ""
        }
      }
    },
    "CreateAgreement": {
      "description": "Model for CreateAgreement",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string",
          "x-example": ""
        }
      }
    }
  },
  "securityDefinitions": {},
  "security": [],
  "tags": [
    {
      "name": "Web",
      "description": "Operations about Web"
    }
  ]
}