{
  "openapi": "3.0.3",
  "info": {
    "title": "VulDB API",
    "description": "VulDB is a vulnerability database providing comprehensive information about software vulnerabilities, exploits, countermeasures, and cyber threat intelligence (CTI). The API uses a single POST endpoint with various parameters to query vulnerability data, perform searches, and retrieve CTI information. All requests consume credits based on the query type and detail level.",
    "version": "3.86.0",
    "contact": {
      "name": "VulDB",
      "url": "https://vuldb.com"
    },
    "x-jentic-source-url": "https://vuldb.com/?doc.api"
  },
  "servers": [
    {
      "url": "https://vuldb.com",
      "description": "VulDB API"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Vulnerabilities",
      "description": "Query and search vulnerability entries"
    },
    {
      "name": "CTI",
      "description": "Cyber Threat Intelligence queries"
    },
    {
      "name": "Lookups",
      "description": "Vendor and product lookups"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "queryVulnerabilities",
        "summary": "Query the VulDB database",
        "description": "The single API endpoint for all VulDB queries. Use different POST parameters to perform various query types including vulnerability lookup by ID, recent entries, updates, search, advanced search, vendor/product lookups, and CTI queries. The 'api' query parameter must be present to indicate an API request.",
        "tags": ["Vulnerabilities", "CTI", "Lookups"],
        "parameters": [
          {
            "name": "api",
            "in": "query",
            "required": true,
            "description": "Must be present to indicate API request",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/VulDBRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful query with results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VulDBResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "headers": {
              "X-VulDB-Status": {
                "description": "3-digit status code",
                "schema": { "type": "string" }
              },
              "X-VulDB-Items": {
                "description": "Number of returned results",
                "schema": { "type": "integer" }
              },
              "X-VulDB-Consumption": {
                "description": "API credits consumed by this request",
                "schema": { "type": "integer" }
              },
              "X-VulDB-Remaining": {
                "description": "API credits remaining",
                "schema": { "type": "integer" }
              },
              "X-VulDB-QueryLimit": {
                "description": "Maximum results for this query type",
                "schema": { "type": "integer" }
              },
              "X-VulDB-QueryLimitMax": {
                "description": "Account's maximum page size",
                "schema": { "type": "integer" }
              },
              "X-VulDB-Version": {
                "description": "API version",
                "schema": { "type": "string" }
              },
              "X-VulDB-Timestamp": {
                "description": "Request Unix timestamp",
                "schema": { "type": "integer" }
              },
              "X-VulDB-RTT": {
                "description": "Round-trip time in milliseconds",
                "schema": { "type": "integer" }
              },
              "X-VulDB-ETag": {
                "description": "Unique exchange identifier",
                "schema": { "type": "string" }
              }
            }
          },
          "204": {
            "description": "Successful request with no results"
          },
          "400": {
            "description": "Invalid request data"
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "402": {
            "description": "Subscription insufficient for requested operation"
          },
          "403": {
            "description": "Rate limit exceeded"
          },
          "405": {
            "description": "Unknown request type"
          },
          "409": {
            "description": "API abuse suspected"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-VulDB-ApiKey",
        "description": "VulDB personal API key. Can also be passed as the 'apikey' POST parameter."
      }
    },
    "schemas": {
      "VulDBRequest": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string",
            "description": "API key (alternative to header authentication)"
          },
          "id": {
            "type": "string",
            "description": "Vulnerability entry ID(s). Comma-separated for multiple IDs."
          },
          "recent": {
            "type": "integer",
            "description": "Fetch N most recent vulnerability entries"
          },
          "updates": {
            "type": "integer",
            "description": "Fetch N most recently updated entries"
          },
          "advisory_date": {
            "type": "string",
            "description": "Fetch entries by advisory date (YYYYMMDD format)"
          },
          "entry_timestamp_create": {
            "type": "string",
            "description": "Fetch entries by creation date (YYYYMMDD format)"
          },
          "entry_timestamp_change": {
            "type": "string",
            "description": "Fetch entries by modification date (YYYYMMDD format)"
          },
          "entry_timestamp_all_start": {
            "type": "integer",
            "description": "Unix timestamp for combined new/updated items since"
          },
          "entry_timestamp_create_start": {
            "type": "integer",
            "description": "Unix timestamp for new entries since"
          },
          "entry_timestamp_change_start": {
            "type": "integer",
            "description": "Unix timestamp for updates since"
          },
          "advisory_date_start": {
            "type": "integer",
            "description": "Unix timestamp for advisory dates since"
          },
          "search": {
            "type": "string",
            "description": "String-based search query"
          },
          "advancedsearch": {
            "type": "string",
            "description": "Advanced search with field:value pairs (comma-delimited). Supported fields: vendor, product, version, component, cve, bugtraq, osvdb, xforce, secunia, exploitdb, nessus, researcher, exploit_developer, exploit_language"
          },
          "vendorlookup": {
            "type": "string",
            "description": "Case-insensitive vendor name partial match"
          },
          "productlookup": {
            "type": "string",
            "description": "Case-insensitive product name partial match"
          },
          "collection": {
            "type": "string",
            "description": "Enterprise pre-defined collection name"
          },
          "details": {
            "type": "integer",
            "description": "Detail level. 0 = basic (1 credit total), 1 = full details (1 credit per entry)",
            "enum": [0, 1],
            "default": 0
          },
          "fields": {
            "type": "string",
            "description": "Additional fields to include (up to 3, comma-delimited). No extra credits."
          },
          "cti": {
            "type": "integer",
            "description": "Set to 1 to include Cyber Threat Intelligence data",
            "enum": [0, 1],
            "default": 0
          },
          "format": {
            "type": "string",
            "description": "Response format",
            "enum": ["json", "xml", "csv"],
            "default": "json"
          },
          "version": {
            "type": "integer",
            "description": "API major version",
            "enum": [1, 2, 3]
          },
          "sort": {
            "type": "string",
            "description": "Sort field. Default: entry_timestamp_create"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum results per page"
          },
          "offset": {
            "type": "integer",
            "description": "Pagination starting offset"
          },
          "myfilter": {
            "type": "integer",
            "description": "Set to 1 to apply user's 'My Filter' pre-filtering",
            "enum": [0, 1],
            "default": 0
          }
        }
      },
      "VulDBResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "description": "Response metadata",
            "properties": {
              "status": {
                "type": "integer",
                "description": "HTTP-style status code"
              },
              "items": {
                "type": "integer",
                "description": "Number of items returned"
              },
              "consumption": {
                "type": "integer",
                "description": "Credits consumed"
              },
              "remaining": {
                "type": "integer",
                "description": "Credits remaining"
              },
              "querylimit": {
                "type": "integer",
                "description": "Max results for query type"
              },
              "timestamp": {
                "type": "integer",
                "description": "Request Unix timestamp"
              },
              "rtt": {
                "type": "integer",
                "description": "Round-trip time in ms"
              },
              "etag": {
                "type": "string",
                "description": "Unique exchange identifier"
              }
            }
          },
          "request": {
            "type": "object",
            "description": "Echo of request parameters",
            "properties": {
              "type": {
                "type": "string",
                "description": "Query type that was executed",
                "enum": ["id", "recent", "updates", "search", "advancedsearch", "vendorlookup", "productlookup", "ipaddr", "actor", "events", "sector", "iplist_date", "cursorinit", "topsoftware", "collection"]
              },
              "format": {
                "type": "string"
              },
              "details": {
                "type": "integer"
              },
              "sort": {
                "type": "string"
              },
              "limit": {
                "type": "integer"
              },
              "offset": {
                "type": "integer"
              }
            }
          },
          "result": {
            "type": "array",
            "description": "Array of vulnerability entries",
            "items": {
              "$ref": "#/components/schemas/VulnerabilityEntry"
            }
          }
        }
      },
      "VulnerabilityEntry": {
        "type": "object",
        "properties": {
          "entry": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "VulDB entry ID"
              },
              "title": {
                "type": "string",
                "description": "Entry title"
              },
              "timestamp": {
                "type": "object",
                "properties": {
                  "create": { "type": "string", "format": "date-time" },
                  "change": { "type": "string", "format": "date-time" }
                }
              }
            }
          },
          "vulnerability": {
            "type": "object",
            "properties": {
              "risk": {
                "type": "object",
                "properties": {
                  "value": { "type": "number" },
                  "name": { "type": "string" }
                }
              },
              "class": {
                "type": "string",
                "description": "Vulnerability class"
              },
              "cwe": {
                "type": "string",
                "description": "CWE identifier"
              },
              "cvss3": {
                "type": "object",
                "properties": {
                  "vuldb": {
                    "type": "object",
                    "properties": {
                      "vector": { "type": "string" },
                      "score": { "type": "number" }
                    }
                  },
                  "nvd": {
                    "type": "object",
                    "properties": {
                      "vector": { "type": "string" },
                      "score": { "type": "number" }
                    }
                  }
                }
              },
              "cvss4": {
                "type": "object",
                "properties": {
                  "vuldb": {
                    "type": "object",
                    "properties": {
                      "vector": { "type": "string" },
                      "score": { "type": "number" }
                    }
                  }
                }
              }
            }
          },
          "software": {
            "type": "object",
            "properties": {
              "vendor": { "type": "string" },
              "name": { "type": "string" },
              "version": { "type": "string" },
              "component": { "type": "string" },
              "cpe": { "type": "string" },
              "cpe23": { "type": "string" },
              "type": { "type": "string" }
            }
          },
          "advisory": {
            "type": "object",
            "properties": {
              "date": { "type": "string", "format": "date" },
              "identifier": { "type": "string" },
              "url": { "type": "string", "format": "uri" }
            }
          },
          "exploit": {
            "type": "object",
            "properties": {
              "availability": { "type": "boolean" },
              "date": { "type": "string", "format": "date" },
              "publicity": { "type": "string" },
              "url": { "type": "string", "format": "uri" },
              "price": {
                "type": "object",
                "properties": {
                  "0day": { "type": "string" },
                  "today": { "type": "string" }
                }
              },
              "epss": {
                "type": "object",
                "properties": {
                  "score": { "type": "number" },
                  "percentile": { "type": "number" }
                }
              },
              "kev": {
                "type": "object",
                "properties": {
                  "status": { "type": "boolean" },
                  "date_added": { "type": "string", "format": "date" },
                  "date_due": { "type": "string", "format": "date" }
                }
              }
            }
          },
          "countermeasure": {
            "type": "object",
            "properties": {
              "remediationlevel": { "type": "string" },
              "name": { "type": "string" },
              "date": { "type": "string", "format": "date" },
              "patch": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "url": { "type": "string", "format": "uri" }
                }
              }
            }
          },
          "source": {
            "type": "object",
            "description": "External source references",
            "properties": {
              "cve": {
                "type": "object",
                "properties": {
                  "id": { "type": "string" },
                  "url": { "type": "string", "format": "uri" }
                }
              }
            }
          },
          "cti": {
            "type": "object",
            "description": "Cyber Threat Intelligence data (when cti=1)",
            "properties": {
              "activity": {
                "type": "object",
                "properties": {
                  "active": { "type": "boolean" },
                  "actors": { "type": "array", "items": { "type": "string" } }
                }
              },
              "ttp": {
                "type": "object",
                "properties": {
                  "attck": { "type": "array", "items": { "type": "string" } }
                }
              }
            }
          }
        }
      }
    }
  }
}
