{
  "openapi": "3.0.3",
  "info": {
    "title": "Modrinth API",
    "version": "2.7.0",
    "description": "Modrinth API (Labrinth) provides access to the Modrinth mod hosting platform. Search, create, and manage projects, versions, users, teams, and tags for Minecraft mods, modpacks, resource packs, and shaders.",
    "x-jentic-source-url": "https://docs.modrinth.com/api"
  },
  "servers": [
    {
      "url": "https://api.modrinth.com/v2",
      "description": "Modrinth production API"
    },
    {
      "url": "https://staging-api.modrinth.com/v2",
      "description": "Modrinth staging API"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "searchProjects",
        "summary": "Search for projects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search query string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets",
            "in": "query",
            "description": "Facet filter string using operations like :, !=, >=, >, <=, <",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "Sort method",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "downloads",
                "follows",
                "newest",
                "updated"
              ],
              "default": "relevance"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResults"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/project/{idOrSlug}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get a project by ID or slug",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "idOrSlug",
            "in": "path",
            "required": true,
            "description": "Project ID or slug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Project not found"
          }
        }
      },
      "patch": {
        "operationId": "modifyProject",
        "summary": "Modify a project",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "idOrSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdate"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Project updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete a project",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "idOrSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Project deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Project not found"
          }
        }
      }
    },
    "/project": {
      "post": {
        "operationId": "createProject",
        "summary": "Create a new project",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "JSON string with project metadata"
                  },
                  "icon": {
                    "type": "string",
                    "format": "binary",
                    "description": "Project icon (PNG, JPG, or WebP)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "getProjects",
        "summary": "Get multiple projects by IDs",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "JSON array of project IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/projects_random": {
      "get": {
        "operationId": "randomProjects",
        "summary": "Get random projects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of random projects",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Random projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/project/{idOrSlug}/dependencies": {
      "get": {
        "operationId": "getProjectDependencies",
        "summary": "Get a project's dependencies",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "idOrSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project dependencies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    },
                    "versions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Version"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Project not found"
          }
        }
      }
    },
    "/project/{idOrSlug}/version": {
      "get": {
        "operationId": "getProjectVersions",
        "summary": "List a project's versions",
        "tags": [
          "Versions"
        ],
        "parameters": [
          {
            "name": "idOrSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "loaders",
            "in": "query",
            "description": "Filter by mod loader types",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "game_versions",
            "in": "query",
            "description": "Filter by game versions",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "featured",
            "in": "query",
            "description": "Filter by featured status",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Version"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Project not found"
          }
        }
      }
    },
    "/version/{id}": {
      "get": {
        "operationId": "getVersion",
        "summary": "Get a version by ID",
        "tags": [
          "Versions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Version details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Version"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Version not found"
          }
        }
      },
      "patch": {
        "operationId": "modifyVersion",
        "summary": "Modify a version",
        "tags": [
          "Versions"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VersionUpdate"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Version updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteVersion",
        "summary": "Delete a version",
        "tags": [
          "Versions"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Version deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/version": {
      "post": {
        "operationId": "createVersion",
        "summary": "Create a new version",
        "tags": [
          "Versions"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "JSON string with version metadata"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Version created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Version"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/versions": {
      "get": {
        "operationId": "getVersions",
        "summary": "Get multiple versions by IDs",
        "tags": [
          "Versions"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "JSON array of version IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Version"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/version_file/{hash}": {
      "get": {
        "operationId": "getVersionFromHash",
        "summary": "Get a version from a file hash",
        "tags": [
          "Version Files"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "File hash (SHA-1 or SHA-512)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "algorithm",
            "in": "query",
            "description": "Hash algorithm used",
            "schema": {
              "type": "string",
              "enum": [
                "sha1",
                "sha512"
              ],
              "default": "sha1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Version details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Version"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Version not found"
          }
        }
      }
    },
    "/user/{idOrUsername}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user by ID or username",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "idOrUsername",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "patch": {
        "operationId": "modifyUser",
        "summary": "Modify a user",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "idOrUsername",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "bio": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "User updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/user": {
      "get": {
        "operationId": "getUserFromAuth",
        "summary": "Get the authenticated user",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated user details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/user/{idOrUsername}/projects": {
      "get": {
        "operationId": "getUserProjects",
        "summary": "Get a user's projects",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "idOrUsername",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User's projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/project/{idOrSlug}/members": {
      "get": {
        "operationId": "getProjectTeamMembers",
        "summary": "Get a project's team members",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "idOrSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeamMember"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Project not found"
          }
        }
      }
    },
    "/tag/category": {
      "get": {
        "operationId": "listCategories",
        "summary": "List all categories",
        "tags": [
          "Tags"
        ],
        "responses": {
          "200": {
            "description": "List of categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tag/loader": {
      "get": {
        "operationId": "listLoaders",
        "summary": "List all mod loaders",
        "tags": [
          "Tags"
        ],
        "responses": {
          "200": {
            "description": "List of loaders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "icon": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "supported_project_types": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tag/game_version": {
      "get": {
        "operationId": "listGameVersions",
        "summary": "List all game versions",
        "tags": [
          "Tags"
        ],
        "responses": {
          "200": {
            "description": "List of game versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "version": {
                        "type": "string"
                      },
                      "version_type": {
                        "type": "string"
                      },
                      "date": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "major": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tag/license": {
      "get": {
        "operationId": "listLicenses",
        "summary": "List all licenses",
        "tags": [
          "Tags"
        ],
        "responses": {
          "200": {
            "description": "List of licenses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "short": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tag/donation_platform": {
      "get": {
        "operationId": "listDonationPlatforms",
        "summary": "List all donation platforms",
        "tags": [
          "Tags"
        ],
        "responses": {
          "200": {
            "description": "List of donation platforms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "short": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/statistics": {
      "get": {
        "operationId": "getStatistics",
        "summary": "Get Modrinth instance statistics",
        "tags": [
          "Misc"
        ],
        "responses": {
          "200": {
            "description": "Instance statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Statistics"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResults": {
        "type": "object",
        "properties": {
          "hits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchHit"
            }
          },
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total_hits": {
            "type": "integer"
          }
        }
      },
      "SearchHit": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "project_type": {
            "type": "string",
            "enum": [
              "mod",
              "modpack",
              "resourcepack",
              "shader"
            ]
          },
          "downloads": {
            "type": "integer"
          },
          "follows": {
            "type": "integer"
          },
          "versions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "client_side": {
            "type": "string",
            "enum": [
              "required",
              "optional",
              "unsupported",
              "unknown"
            ]
          },
          "server_side": {
            "type": "string",
            "enum": [
              "required",
              "optional",
              "unsupported",
              "unknown"
            ]
          },
          "icon_url": {
            "type": "string",
            "nullable": true
          },
          "color": {
            "type": "integer",
            "nullable": true
          },
          "license": {
            "type": "string"
          },
          "date_created": {
            "type": "string",
            "format": "date-time"
          },
          "date_modified": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Base62-encoded project ID"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "project_type": {
            "type": "string",
            "enum": [
              "mod",
              "modpack",
              "resourcepack",
              "shader"
            ]
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "additional_categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "client_side": {
            "type": "string",
            "enum": [
              "required",
              "optional",
              "unsupported",
              "unknown"
            ]
          },
          "server_side": {
            "type": "string",
            "enum": [
              "required",
              "optional",
              "unsupported",
              "unknown"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "approved",
              "archived",
              "rejected",
              "draft",
              "unlisted",
              "processing",
              "withheld",
              "scheduled",
              "private",
              "unknown"
            ]
          },
          "downloads": {
            "type": "integer"
          },
          "followers": {
            "type": "integer"
          },
          "icon_url": {
            "type": "string",
            "nullable": true
          },
          "published": {
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          },
          "license": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "versions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "game_versions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "loaders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "gallery": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GalleryImage"
            }
          },
          "team": {
            "type": "string"
          },
          "issues_url": {
            "type": "string",
            "nullable": true
          },
          "source_url": {
            "type": "string",
            "nullable": true
          },
          "wiki_url": {
            "type": "string",
            "nullable": true
          },
          "discord_url": {
            "type": "string",
            "nullable": true
          },
          "donation_urls": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "platform": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              }
            }
          },
          "color": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "ProjectUpdate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "client_side": {
            "type": "string",
            "enum": [
              "required",
              "optional",
              "unsupported",
              "unknown"
            ]
          },
          "server_side": {
            "type": "string",
            "enum": [
              "required",
              "optional",
              "unsupported",
              "unknown"
            ]
          },
          "issues_url": {
            "type": "string",
            "nullable": true
          },
          "source_url": {
            "type": "string",
            "nullable": true
          },
          "wiki_url": {
            "type": "string",
            "nullable": true
          },
          "discord_url": {
            "type": "string",
            "nullable": true
          },
          "license_id": {
            "type": "string"
          }
        }
      },
      "Version": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Base62-encoded version ID"
          },
          "project_id": {
            "type": "string"
          },
          "author_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "version_number": {
            "type": "string"
          },
          "changelog": {
            "type": "string",
            "nullable": true
          },
          "date_published": {
            "type": "string",
            "format": "date-time"
          },
          "downloads": {
            "type": "integer"
          },
          "version_type": {
            "type": "string",
            "enum": [
              "release",
              "beta",
              "alpha"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "listed",
              "archived",
              "draft",
              "unlisted",
              "scheduled",
              "unknown"
            ]
          },
          "featured": {
            "type": "boolean"
          },
          "game_versions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "loaders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VersionFile"
            }
          },
          "dependencies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dependency"
            }
          }
        }
      },
      "VersionUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "version_number": {
            "type": "string"
          },
          "changelog": {
            "type": "string"
          },
          "version_type": {
            "type": "string",
            "enum": [
              "release",
              "beta",
              "alpha"
            ]
          },
          "featured": {
            "type": "boolean"
          },
          "game_versions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "loaders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "VersionFile": {
        "type": "object",
        "properties": {
          "hashes": {
            "type": "object",
            "properties": {
              "sha1": {
                "type": "string"
              },
              "sha512": {
                "type": "string"
              }
            }
          },
          "url": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "primary": {
            "type": "boolean"
          },
          "size": {
            "type": "integer"
          }
        }
      },
      "Dependency": {
        "type": "object",
        "properties": {
          "version_id": {
            "type": "string",
            "nullable": true
          },
          "project_id": {
            "type": "string",
            "nullable": true
          },
          "file_name": {
            "type": "string",
            "nullable": true
          },
          "dependency_type": {
            "type": "string",
            "enum": [
              "required",
              "optional",
              "incompatible",
              "embedded"
            ]
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "bio": {
            "type": "string"
          },
          "avatar_url": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "moderator",
              "developer"
            ]
          },
          "badges": {
            "type": "integer",
            "description": "Bitfield of achievement badges"
          }
        }
      },
      "TeamMember": {
        "type": "object",
        "properties": {
          "team_id": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "role": {
            "type": "string"
          },
          "permissions": {
            "type": "integer"
          },
          "accepted": {
            "type": "boolean"
          },
          "ordering": {
            "type": "integer"
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "icon": {
            "type": "string",
            "description": "SVG icon"
          },
          "name": {
            "type": "string"
          },
          "project_type": {
            "type": "string"
          },
          "header": {
            "type": "string"
          }
        }
      },
      "GalleryImage": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "featured": {
            "type": "boolean"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "ordering": {
            "type": "integer"
          }
        }
      },
      "Statistics": {
        "type": "object",
        "properties": {
          "projects": {
            "type": "integer",
            "description": "Number of projects on Modrinth"
          },
          "versions": {
            "type": "integer",
            "description": "Number of versions on Modrinth"
          },
          "files": {
            "type": "integer",
            "description": "Number of version files on Modrinth"
          },
          "authors": {
            "type": "integer",
            "description": "Number of users with projects on Modrinth"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "tokenAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Modrinth PAT token (mrp_xxx) or OAuth2 token in Authorization header"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication required or insufficient permissions",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "security": [],
  "tags": [
    {
      "name": "Project"
    },
    {
      "name": "Projects"
    },
    {
      "name": "Projects Random"
    },
    {
      "name": "Search"
    },
    {
      "name": "Statistics"
    },
    {
      "name": "Tag"
    },
    {
      "name": "User"
    },
    {
      "name": "Version"
    },
    {
      "name": "Version File"
    },
    {
      "name": "Versions"
    }
  ]
}