{
  "openapi": "3.0.3",
  "info": {
    "title": "Outbrain Amplify API",
    "version": "v2",
    "description": "Outbrain's Amplify API for managing native advertising campaigns, budgets, and promoted content.",
    "x-jentic-source-url": "https://amplifyv2.outbrain.com/"
  },
  "servers": [
    {
      "url": "https://api.outbrain.com/amplify/v0.1"
    }
  ],
  "paths": {
    "/login": {
      "get": {
        "operationId": "login",
        "summary": "Authenticate",
        "description": "Authenticate using Basic auth credentials to obtain an API token.",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Basic authentication header (Basic base64(username:password)).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "OB_Token": {
                      "type": "string",
                      "description": "The API token to use for subsequent requests."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials."
          }
        }
      }
    },
    "/marketers": {
      "get": {
        "operationId": "listMarketers",
        "summary": "List Marketers",
        "description": "Retrieve a list of all marketers associated with the authenticated account.",
        "tags": [
          "Marketers"
        ],
        "responses": {
          "200": {
            "description": "A list of marketers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "marketers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Marketer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/marketers/{id}": {
      "get": {
        "operationId": "getMarketer",
        "summary": "Get Marketer",
        "description": "Retrieve details of a specific marketer by ID.",
        "tags": [
          "Marketers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The marketer ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Marketer details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketer"
                }
              }
            }
          },
          "404": {
            "description": "Marketer not found."
          }
        }
      }
    },
    "/marketers/{marketerId}/budgets": {
      "get": {
        "operationId": "listBudgets",
        "summary": "List Budgets",
        "description": "Retrieve all budgets for a given marketer.",
        "tags": [
          "Budgets"
        ],
        "parameters": [
          {
            "name": "marketerId",
            "in": "path",
            "required": true,
            "description": "The marketer ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of budgets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "budgets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Budget"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBudget",
        "summary": "Create Budget",
        "description": "Create a new budget for a marketer.",
        "tags": [
          "Budgets"
        ],
        "parameters": [
          {
            "name": "marketerId",
            "in": "path",
            "required": true,
            "description": "The marketer ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BudgetInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Budget created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Budget"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input."
          }
        }
      }
    },
    "/budgets/{id}": {
      "get": {
        "operationId": "getBudget",
        "summary": "Get Budget",
        "description": "Retrieve a specific budget by ID.",
        "tags": [
          "Budgets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The budget ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Budget details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Budget"
                }
              }
            }
          },
          "404": {
            "description": "Budget not found."
          }
        }
      },
      "put": {
        "operationId": "updateBudget",
        "summary": "Update Budget",
        "description": "Update an existing budget.",
        "tags": [
          "Budgets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The budget ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BudgetInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Budget updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Budget"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input."
          },
          "404": {
            "description": "Budget not found."
          }
        }
      },
      "delete": {
        "operationId": "deleteBudget",
        "summary": "Delete Budget",
        "description": "Delete a budget by ID.",
        "tags": [
          "Budgets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The budget ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Budget deleted."
          },
          "404": {
            "description": "Budget not found."
          }
        }
      }
    },
    "/marketers/{marketerId}/campaigns": {
      "get": {
        "operationId": "listCampaigns",
        "summary": "List Campaigns",
        "description": "Retrieve all campaigns for a given marketer.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "marketerId",
            "in": "path",
            "required": true,
            "description": "The marketer ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fetch",
            "in": "query",
            "description": "Level of detail to fetch.",
            "schema": {
              "type": "string",
              "enum": [
                "basic",
                "budgets",
                "promoted_links"
              ]
            }
          },
          {
            "name": "enabled",
            "in": "query",
            "description": "Filter by enabled status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field and direction.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of campaigns.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaigns": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Campaign"
                      }
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "Total number of campaigns."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCampaign",
        "summary": "Create Campaign",
        "description": "Create a new campaign for a marketer.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "marketerId",
            "in": "path",
            "required": true,
            "description": "The marketer ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input."
          }
        }
      }
    },
    "/campaigns/{id}": {
      "get": {
        "operationId": "getCampaign",
        "summary": "Get Campaign",
        "description": "Retrieve a specific campaign by ID.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The campaign ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fetch",
            "in": "query",
            "description": "Level of detail to fetch.",
            "schema": {
              "type": "string",
              "enum": [
                "basic",
                "budgets",
                "promoted_links"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found."
          }
        }
      },
      "put": {
        "operationId": "updateCampaign",
        "summary": "Update Campaign",
        "description": "Update an existing campaign.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The campaign ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input."
          },
          "404": {
            "description": "Campaign not found."
          }
        }
      }
    },
    "/campaigns/{id}/duplicate": {
      "post": {
        "operationId": "duplicateCampaign",
        "summary": "Duplicate Campaign",
        "description": "Create a duplicate of an existing campaign.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The campaign ID to duplicate.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Campaign duplicated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found."
          }
        }
      }
    },
    "/campaigns/batch": {
      "put": {
        "operationId": "batchUpdateCampaigns",
        "summary": "Batch Update Campaigns",
        "description": "Update multiple campaigns in a single request.",
        "tags": [
          "Campaigns"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CampaignInput"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaigns updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaigns": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Campaign"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input."
          }
        }
      }
    },
    "/campaigns/{id}/budgets": {
      "get": {
        "operationId": "getCampaignBudgets",
        "summary": "Get Campaign Budgets",
        "description": "Retrieve all budgets attached to a campaign.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The campaign ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of budgets attached to the campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "budgets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Budget"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found."
          }
        }
      }
    },
    "/campaigns/{id}/budgets/{budgetId}": {
      "post": {
        "operationId": "attachBudgetToCampaign",
        "summary": "Attach Budget to Campaign",
        "description": "Attach an existing budget to a campaign.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The campaign ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "budgetId",
            "in": "path",
            "required": true,
            "description": "The budget ID to attach.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Budget attached to campaign."
          },
          "404": {
            "description": "Campaign or budget not found."
          }
        }
      },
      "delete": {
        "operationId": "detachBudgetFromCampaign",
        "summary": "Detach Budget from Campaign",
        "description": "Detach a budget from a campaign.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The campaign ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "budgetId",
            "in": "path",
            "required": true,
            "description": "The budget ID to detach.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Budget detached from campaign."
          },
          "404": {
            "description": "Campaign or budget not found."
          }
        }
      }
    },
    "/campaigns/{id}/publishers": {
      "get": {
        "operationId": "getCampaignPublisherBids",
        "summary": "Get Campaign Publisher Bids",
        "description": "Retrieve publisher-level bid information for a campaign.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The campaign ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Publisher bid data for the campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "publishers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublisherBid"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found."
          }
        }
      }
    },
    "/campaigns/{campaignId}/promotedLinks": {
      "get": {
        "operationId": "listPromotedLinks",
        "summary": "List Promoted Links",
        "description": "Retrieve all promoted links (ads) for a campaign.",
        "tags": [
          "Promoted Links"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The campaign ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enabled",
            "in": "query",
            "description": "Filter by enabled status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Filter by statuses (comma-separated).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of promoted links.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "promotedLinks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PromotedLink"
                      }
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "Total number of promoted links."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPromotedLink",
        "summary": "Create Promoted Link",
        "description": "Create a new promoted link (ad) in a campaign.",
        "tags": [
          "Promoted Links"
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The campaign ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromotedLinkInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Promoted link created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromotedLink"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input."
          }
        }
      }
    },
    "/promotedLinks/{id}": {
      "get": {
        "operationId": "getPromotedLink",
        "summary": "Get Promoted Link",
        "description": "Retrieve a specific promoted link by ID.",
        "tags": [
          "Promoted Links"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The promoted link ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Promoted link details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromotedLink"
                }
              }
            }
          },
          "404": {
            "description": "Promoted link not found."
          }
        }
      },
      "put": {
        "operationId": "updatePromotedLink",
        "summary": "Update Promoted Link",
        "description": "Update an existing promoted link.",
        "tags": [
          "Promoted Links"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The promoted link ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromotedLinkInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Promoted link updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromotedLink"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input."
          },
          "404": {
            "description": "Promoted link not found."
          }
        }
      },
      "delete": {
        "operationId": "deletePromotedLink",
        "summary": "Delete Promoted Link",
        "description": "Delete a promoted link by ID.",
        "tags": [
          "Promoted Links"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The promoted link ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Promoted link deleted."
          },
          "404": {
            "description": "Promoted link not found."
          }
        }
      }
    },
    "/marketers/{marketerId}/campaigns/performanceByDay": {
      "get": {
        "operationId": "getCampaignPerformanceByDay",
        "summary": "Campaign Performance by Day",
        "description": "Retrieve daily performance metrics for campaigns.",
        "tags": [
          "Performance"
        ],
        "parameters": [
          {
            "name": "marketerId",
            "in": "path",
            "required": true,
            "description": "The marketer ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "includeArchivedCampaigns",
            "in": "query",
            "description": "Whether to include archived campaigns.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "breakdown",
            "in": "query",
            "description": "Breakdown dimension for performance data.",
            "schema": {
              "type": "string",
              "enum": [
                "campaign",
                "promotedLink",
                "publisher"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field and direction.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Performance data by day.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PerformanceResult"
                      }
                    },
                    "totalCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/marketers/{marketerId}/campaigns/performanceByContent": {
      "get": {
        "operationId": "getCampaignPerformanceByContent",
        "summary": "Campaign Performance by Content",
        "description": "Retrieve performance metrics grouped by content.",
        "tags": [
          "Performance"
        ],
        "parameters": [
          {
            "name": "marketerId",
            "in": "path",
            "required": true,
            "description": "The marketer ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Performance data by content.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PerformanceResult"
                      }
                    },
                    "totalCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/marketers/{marketerId}/campaigns/performanceByPublisher": {
      "get": {
        "operationId": "getCampaignPerformanceByPublisher",
        "summary": "Campaign Performance by Publisher",
        "description": "Retrieve performance metrics grouped by publisher.",
        "tags": [
          "Performance"
        ],
        "parameters": [
          {
            "name": "marketerId",
            "in": "path",
            "required": true,
            "description": "The marketer ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Performance data by publisher.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PerformanceResult"
                      }
                    },
                    "totalCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/marketers/{marketerId}/audiences": {
      "get": {
        "operationId": "listAudiences",
        "summary": "List Audiences",
        "description": "Retrieve all audiences for a marketer.",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "name": "marketerId",
            "in": "path",
            "required": true,
            "description": "The marketer ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of audiences.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "audiences": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Audience"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAudience",
        "summary": "Create Audience",
        "description": "Create a new audience for a marketer.",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "name": "marketerId",
            "in": "path",
            "required": true,
            "description": "The marketer ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Audience created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audience"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input."
          }
        }
      }
    },
    "/marketers/{marketerId}/conversions": {
      "get": {
        "operationId": "listConversionTags",
        "summary": "List Conversion Tags",
        "description": "Retrieve all conversion tags for a marketer.",
        "tags": [
          "Conversions"
        ],
        "parameters": [
          {
            "name": "marketerId",
            "in": "path",
            "required": true,
            "description": "The marketer ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of conversion tags.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversionTags": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConversionTag"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createConversionTag",
        "summary": "Create Conversion Tag",
        "description": "Create a new conversion tag for a marketer.",
        "tags": [
          "Conversions"
        ],
        "parameters": [
          {
            "name": "marketerId",
            "in": "path",
            "required": true,
            "description": "The marketer ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversionTagInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversion tag created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionTag"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "in": "header",
        "name": "OB-TOKEN-V1",
        "description": "API token obtained via the /login endpoint."
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication used only for the /login endpoint."
      }
    },
    "schemas": {
      "Marketer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique marketer identifier."
          },
          "name": {
            "type": "string",
            "description": "Marketer name."
          },
          "logoUrl": {
            "type": "string",
            "description": "URL of the marketer logo."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the marketer is enabled."
          },
          "blockCampaigns": {
            "type": "boolean",
            "description": "Whether campaigns are blocked for this marketer."
          }
        }
      },
      "Budget": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique budget identifier."
          },
          "name": {
            "type": "string",
            "description": "Budget name."
          },
          "shared": {
            "type": "boolean",
            "description": "Whether the budget is shared across campaigns."
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Total budget amount."
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD)."
          },
          "amountRemaining": {
            "type": "number",
            "format": "double",
            "description": "Remaining budget amount."
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "Budget start date."
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "Budget end date."
          },
          "runForever": {
            "type": "boolean",
            "description": "Whether the budget runs indefinitely."
          },
          "type": {
            "type": "string",
            "enum": [
              "MONTHLY",
              "LIFETIME"
            ],
            "description": "Budget type."
          },
          "pacing": {
            "type": "string",
            "enum": [
              "AUTOMATIC",
              "DAILY"
            ],
            "description": "Budget pacing strategy."
          },
          "deliveryMethod": {
            "type": "string",
            "description": "Delivery method for the budget."
          },
          "maxDailySpend": {
            "type": "number",
            "format": "double",
            "description": "Maximum daily spend limit."
          },
          "creationTime": {
            "type": "string",
            "format": "date-time",
            "description": "Budget creation timestamp."
          },
          "lastModified": {
            "type": "string",
            "format": "date-time",
            "description": "Last modification timestamp."
          }
        }
      },
      "BudgetInput": {
        "type": "object",
        "required": [
          "name",
          "amount",
          "currency",
          "startDate",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Budget name."
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Total budget amount."
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD)."
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "Budget start date."
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "Budget end date."
          },
          "runForever": {
            "type": "boolean",
            "description": "Whether the budget runs indefinitely."
          },
          "type": {
            "type": "string",
            "enum": [
              "MONTHLY",
              "LIFETIME"
            ],
            "description": "Budget type."
          },
          "pacing": {
            "type": "string",
            "enum": [
              "AUTOMATIC",
              "DAILY"
            ],
            "description": "Budget pacing strategy."
          },
          "maxDailySpend": {
            "type": "number",
            "format": "double",
            "description": "Maximum daily spend limit."
          },
          "deliveryMethod": {
            "type": "string",
            "description": "Delivery method for the budget."
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique campaign identifier."
          },
          "name": {
            "type": "string",
            "description": "Campaign name."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the campaign is enabled."
          },
          "budget": {
            "$ref": "#/components/schemas/Budget"
          },
          "targeting": {
            "$ref": "#/components/schemas/Targeting"
          },
          "cpc": {
            "type": "number",
            "format": "double",
            "description": "Cost per click."
          },
          "suffixTrackingCode": {
            "type": "string",
            "description": "Suffix tracking code appended to URLs."
          },
          "contentType": {
            "type": "string",
            "enum": [
              "CONTENT",
              "VIDEO"
            ],
            "description": "Type of content for the campaign."
          },
          "onAirReason": {
            "type": "string",
            "description": "Reason the campaign is on or off air."
          },
          "liveStatus": {
            "type": "string",
            "description": "Current live status of the campaign."
          },
          "scheduling": {
            "$ref": "#/components/schemas/Scheduling"
          },
          "creationTime": {
            "type": "string",
            "format": "date-time",
            "description": "Campaign creation timestamp."
          },
          "lastModified": {
            "type": "string",
            "format": "date-time",
            "description": "Last modification timestamp."
          }
        }
      },
      "CampaignInput": {
        "type": "object",
        "required": [
          "name",
          "budget",
          "cpc"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Campaign ID (required for batch updates)."
          },
          "name": {
            "type": "string",
            "description": "Campaign name."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the campaign is enabled."
          },
          "budget": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Budget ID to associate with the campaign."
              }
            }
          },
          "cpc": {
            "type": "number",
            "format": "double",
            "description": "Cost per click."
          },
          "targeting": {
            "$ref": "#/components/schemas/Targeting"
          },
          "suffixTrackingCode": {
            "type": "string",
            "description": "Suffix tracking code appended to URLs."
          },
          "contentType": {
            "type": "string",
            "enum": [
              "CONTENT",
              "VIDEO"
            ],
            "description": "Type of content for the campaign."
          },
          "onAirReason": {
            "type": "string",
            "description": "Reason the campaign is on or off air."
          },
          "scheduling": {
            "$ref": "#/components/schemas/Scheduling"
          }
        }
      },
      "Targeting": {
        "type": "object",
        "description": "Campaign targeting settings.",
        "properties": {
          "platform": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Target platforms (e.g., DESKTOP, MOBILE, TABLET)."
          },
          "geo": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Target geographies (country codes)."
          },
          "operatingSystem": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Target operating systems."
          },
          "browser": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Target browsers."
          },
          "interest": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Target interest categories."
          }
        }
      },
      "Scheduling": {
        "type": "object",
        "description": "Campaign scheduling settings.",
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "Campaign start date."
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "Campaign end date."
          },
          "startHour": {
            "type": "integer",
            "description": "Start hour for day parting (0-23)."
          },
          "endHour": {
            "type": "integer",
            "description": "End hour for day parting (0-23)."
          },
          "dayParting": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Days of week for day parting (e.g., MONDAY, TUESDAY)."
          }
        }
      },
      "PromotedLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique promoted link identifier."
          },
          "campaignId": {
            "type": "string",
            "description": "ID of the parent campaign."
          },
          "text": {
            "type": "string",
            "description": "Ad headline text."
          },
          "url": {
            "type": "string",
            "description": "Destination URL."
          },
          "siteName": {
            "type": "string",
            "description": "Display site name."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the promoted link is enabled."
          },
          "status": {
            "type": "string",
            "description": "Approval status of the promoted link."
          },
          "cachedImageUrl": {
            "type": "string",
            "description": "Cached image URL for the ad."
          },
          "archived": {
            "type": "boolean",
            "description": "Whether the promoted link is archived."
          }
        }
      },
      "PromotedLinkInput": {
        "type": "object",
        "required": [
          "text",
          "url"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Ad headline text."
          },
          "url": {
            "type": "string",
            "description": "Destination URL."
          },
          "siteName": {
            "type": "string",
            "description": "Display site name."
          },
          "imageUrl": {
            "type": "string",
            "description": "Image URL for the ad."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the promoted link is enabled."
          },
          "cpc": {
            "type": "number",
            "format": "double",
            "description": "Cost per click override for this link."
          },
          "contentType": {
            "type": "string",
            "enum": [
              "CONTENT",
              "VIDEO"
            ],
            "description": "Type of content."
          }
        }
      },
      "PerformanceResult": {
        "type": "object",
        "description": "Performance metrics for a given entity and time period.",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Campaign identifier."
          },
          "promotedLinkId": {
            "type": "string",
            "description": "Promoted link identifier."
          },
          "publisherId": {
            "type": "string",
            "description": "Publisher identifier."
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date of the performance record."
          },
          "impressions": {
            "type": "integer",
            "description": "Number of impressions."
          },
          "clicks": {
            "type": "integer",
            "description": "Number of clicks."
          },
          "ctr": {
            "type": "number",
            "format": "double",
            "description": "Click-through rate."
          },
          "spend": {
            "type": "number",
            "format": "double",
            "description": "Total spend."
          },
          "conversions": {
            "type": "integer",
            "description": "Number of conversions."
          },
          "conversionRate": {
            "type": "number",
            "format": "double",
            "description": "Conversion rate."
          },
          "cpa": {
            "type": "number",
            "format": "double",
            "description": "Cost per acquisition."
          }
        }
      },
      "PublisherBid": {
        "type": "object",
        "properties": {
          "publisherId": {
            "type": "string",
            "description": "Publisher identifier."
          },
          "publisherName": {
            "type": "string",
            "description": "Publisher name."
          },
          "bid": {
            "type": "number",
            "format": "double",
            "description": "Bid amount for this publisher."
          },
          "blocked": {
            "type": "boolean",
            "description": "Whether the publisher is blocked."
          }
        }
      },
      "Audience": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique audience identifier."
          },
          "name": {
            "type": "string",
            "description": "Audience name."
          },
          "type": {
            "type": "string",
            "enum": [
              "INTEREST",
              "CUSTOM",
              "LOOKALIKE"
            ],
            "description": "Audience type."
          },
          "size": {
            "type": "integer",
            "description": "Estimated audience size."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Audience creation timestamp."
          }
        }
      },
      "AudienceInput": {
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Audience name."
          },
          "type": {
            "type": "string",
            "enum": [
              "INTEREST",
              "CUSTOM",
              "LOOKALIKE"
            ],
            "description": "Audience type."
          }
        }
      },
      "ConversionTag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique conversion tag identifier."
          },
          "name": {
            "type": "string",
            "description": "Conversion tag name."
          },
          "type": {
            "type": "string",
            "description": "Conversion type."
          },
          "code": {
            "type": "string",
            "description": "Tracking code snippet."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp."
          }
        }
      },
      "ConversionTagInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Conversion tag name."
          },
          "type": {
            "type": "string",
            "description": "Conversion type."
          }
        }
      }
    }
  },
  "security": [
    {
      "apiToken": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Marketers"
    },
    {
      "name": "Budgets"
    },
    {
      "name": "Campaigns"
    },
    {
      "name": "Promoted Links"
    },
    {
      "name": "Performance"
    },
    {
      "name": "Audiences"
    },
    {
      "name": "Conversions"
    }
  ]
}