{
  "openapi": "3.0.3",
  "info": {
    "title": "AroFlo API",
    "description": "AroFlo REST API for field service management. Returns XML or JSON data. Uses HMAC-SHA512 authentication. The API uses a single endpoint with query parameters to specify the resource zone, filters, joins, and pagination.",
    "version": "1.0.0",
    "contact": {
      "name": "AroFlo",
      "url": "https://aroflo.com"
    },
    "x-jentic-source-url": "https://apidocs.aroflo.com"
  },
  "servers": [
    {
      "url": "https://api.aroflo.com",
      "description": "AroFlo API"
    }
  ],
  "security": [
    {
      "hmacAuth": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "getResources",
        "summary": "Get Resources",
        "description": "Retrieve resources from AroFlo. The 'zone' parameter determines which resource type to query. Supports filtering with 'where' clauses, related data with 'join', and pagination.",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "description": "Resource type to query. Available zones: LastUpdate, BusinessUnits, PermissionGroups, Users, UserPosition, Timesheets, TransactionTerms, Priorities, Clients, ClientNotes, Contacts, Locations, Quotes, QuoteLineItems, TaskTypes, Tasks, TaskMaterials, TaskLabours, TaskExpenses, TaskResources, Invoices, Payments, Suppliers, Inventory, InventoryCategories, InventoryStockLevels, CustomHolders, InventoryLists, PurchaseOrders, Bills, BillLineItems, WorkOrders, WorkOrderLineItems, Assets, AssetCategories, MessageBoard, Substatus, DocumentsAndPhotos, Schedules, Projects, Stages, MessageTemplates, TrackingCentres",
            "schema": {
              "type": "string",
              "enum": [
                "LastUpdate",
                "BusinessUnits",
                "PermissionGroups",
                "Users",
                "UserPosition",
                "Timesheets",
                "TransactionTerms",
                "Priorities",
                "Clients",
                "ClientNotes",
                "Contacts",
                "Locations",
                "Quotes",
                "QuoteLineItems",
                "TaskTypes",
                "Tasks",
                "TaskMaterials",
                "TaskLabours",
                "TaskExpenses",
                "TaskResources",
                "Invoices",
                "Payments",
                "Suppliers",
                "Inventory",
                "InventoryCategories",
                "InventoryStockLevels",
                "CustomHolders",
                "InventoryLists",
                "PurchaseOrders",
                "Bills",
                "BillLineItems",
                "WorkOrders",
                "WorkOrderLineItems",
                "Assets",
                "AssetCategories",
                "MessageBoard",
                "Substatus",
                "DocumentsAndPhotos",
                "Schedules",
                "Projects",
                "Stages",
                "MessageTemplates",
                "TrackingCentres"
              ]
            }
          },
          {
            "name": "where",
            "in": "query",
            "description": "Filter clause for narrowing results (e.g., filter by ID, status, date range)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "join",
            "in": "query",
            "description": "Include related data (e.g., locations, customfields, notes, documentsandphotos, lineitems, trackingcentres)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for paginated results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format. Use 'text/json' for JSON, default is XML.",
            "schema": {
              "type": "string",
              "default": "text/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource data returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "statusmessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      },
      "post": {
        "operationId": "createOrUpdateResource",
        "summary": "Create or Update Resource",
        "description": "Create or update resources in AroFlo. The zone parameter in the form data determines the resource type. Used for creating users, clients, tasks, inventory items, notes, and updating various resource fields.",
        "tags": [
          "Resources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "zone": {
                    "type": "string",
                    "description": "Resource type to create/update"
                  },
                  "where": {
                    "type": "string",
                    "description": "Filter to identify the resource to update"
                  },
                  "join": {
                    "type": "string",
                    "description": "Related data scope for the update"
                  },
                  "field": {
                    "type": "string",
                    "description": "Field(s) to update with new values"
                  }
                },
                "required": [
                  "zone"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource created or updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "statusmessage": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "hmacAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authentication",
        "description": "HMAC-SHA512 authentication. Required headers: Authentication (HMAC signature), Authorization (encoded credentials: uEncoded, pEncoded, orgEncoded), afdatetimeutc (UTC timestamp). The HMAC signature must be regenerated for every request using your API Secret Key."
      }
    }
  },
  "tags": [
    {
      "name": "Resources"
    }
  ]
}
