{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0.0",
    "title": "LV Monitoring device APIs",
    "description": "## Contains GET only APIs to retrieve interval data.\n### Note : This APIs support \"API token based request\"\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/edgezeroapis/ausgridtrial/2.0.0/swagger.json"
  },
  "servers": [
    {
      "description": "SwaggerHub API Auto Mocking",
      "url": "https://v2.edgezeroapi.com/ausgridtrial/"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "paths": {
    "/devices": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Returns device details based on the API Key",
        "description": "\n**The below table defines the output response this API returns**\n| Name             | Description                                    |\n| ---------------- | -----------------------------------------------|\n| serialid         | unique id of device.               |\n| Transformer Id   | If the request is not valid.                   |\n| kva_rating       | KVA rating for the threshold.                  |\n| circuit_config   | Circuit Configuration                          |\n|                  | **a** - Single Phase -  1 current              |\n|                  | **b** - Single Phase 2 current - Line to Neutral (center tapped)|\n|                  | **c** - Single Phase 2 current - Line and Line |\n|                  | **d** - Three Phase - 3 Currents Delta         |\n|                   | **e** - Three Phase- 3 Currents, Wye          |                       \n| temperature_rating| Temprature Rating for transformers.           |\n| voltage_rating   | Voltage Rating.                                |\n| energization_date| When device started reporting.                 |\n| vnom             | Nominal Load Side Voltage.                     |\n| underloadthreshold| Under threshold rating to report on portal.   |\n| criticalloadthreshold| Critical threshold rating to report on portal.|\n| overloadthreshold| Over threshold rating to report on portal.     |\n| pole_number      | Pole device is installed.                      |\n| substation       | Area the  device is installed.                 |\n| location         | Sector/street device is installed.             |\n| mounting         | Mount type on pole.                            |\n| lat              | Latitude .                                     |\n| lng              | Longitude.                                     |\n",
        "parameters": [
          {
            "in": "query",
            "name": "device_serialid",
            "schema": {
              "type": "string"
            },
            "description": "(optional) Returns details based on the device serial provided. Remove the parameter if you want to list entire fleet of devices you have access to",
            "example": "EXXXXXXXXXXXX"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "406": {
            "description": "Invalid device request"
          },
          "404": {
            "description": "Contact our support"
          }
        }
      }
    },
    "/events/interval/{device_serialid}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Returns event details based on the device_serialid provided within the time stamps",
        "description": "**The below table defines the output response this API returns**\n| Name             | Description                                    |\n| ---------------- | -----------------------------------------------|\n| epochtime         | Unix time stamp in seconds of the date/time when data was received.               |\n| type   | An Enum describing the type of monitoring data that was sent by the device.                   |\n| value       | Contains a list of json. Each Json represents a device channel or phase and contains key value pair of the monitoring parameters.|\n||\n|Tag| Description|\n| ----------------  | -----------------------------------------------|\n|34|  Frequency, voltage, and current is out of range or static reading|\n|97|  Voltage reading has exceeded under voltage warning threshold event|\n|99|  Voltage reading has exceeded over voltage warning threshold event|\n|101|  Voltage reading has exceeded vsag threshold event|\n|102|  Voltage reading has exceeded vswell threshold event|\n|103|  Voltage reading has exceeded vflicker threshold event|\n|104|  Voltage reading has exceeded no voltage threshold event|\n|105|  Voltage reading has exceeded imbalance threshold with other phase voltage|\n|106|  VTHD reading has exceeded max VTHD threshold event|\n|108|  Lower RVC event|\n|109|  Upper RVC event|\n|129|  Current reading has exceeded no current threshold event|\n|130|  Current reading has exceeded over current warning threshold event|\n|132|  Negative current is detected|\n|134|  Power good is detected|\n|136|  Peak demand alert detected|\n|137|  Current reading has exceeded imbalance threshold with other phase current|\n|138|  ITHD reading has exceeded max ITHD threshold event|\n|161|  PF reading has exceeded under PF warning threshold event|\n|163|  Power reading has exceeded power overload warning threshold event|\n|166|  Confirmed Power Outage (30sec power confirmation check)|\n|167|  Power Interruption (Loss of Supply)|\n|193|  Frequency reading has exceeded under frequency warning threshold event|\n|195|  Frequency reading has exceeded over frequency warning threshold event|\n|111|  Loss of phase voltage |\n|112|  Partial voltage loss|\n",
        "parameters": [
          {
            "in": "path",
            "name": "device_serialid",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Returns events based on the device serial provided.",
            "example": "EXXXXXXXXXXXX"
          },
          {
            "in": "query",
            "name": "starttime",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Start time range of the search in epoch, Convert human-readable time to epoch using [Epoch Converter](https://www.epochconverter.com/).",
            "example": 1687183200
          },
          {
            "in": "query",
            "name": "endtime",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "End time range of the search in epoch, Convert human-readable time to epoch using [Epoch Converter](https://www.epochconverter.com/).",
            "example": 1687269600
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "406": {
            "description": "Invalid device request"
          },
          "404": {
            "description": "Contact our support"
          }
        }
      }
    },
    "/events/": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Returns all devices based on the tags provided within the time stamps",
        "description": "**The below table defines the output response this API returns**\n| Name              | Description                                    |\n| ----------------  | -----------------------------------------------|\n| epochtime         | Unix time stamp in seconds of the date/time when data was received.             |\n| value             | Contains a list of json. Each Json represents a device channel or phase and contains key value pair of the monitoring parameters|.\n|serialid           | device unique id |\n|transformer_id    | unique id the transformer |\n|feeder             | Feeder id the transformer is connected to |\n|Sub Station        | Feeder connected to which substation |\n||\n|Tag| Description|\n| ----------------  | -----------------------------------------------|\n|34|  Frequency, voltage, and current is out of range or static reading|\n|97|  Voltage reading has exceeded under voltage warning threshold event|\n|99|  Voltage reading has exceeded over voltage warning threshold event|\n|101|  Voltage reading has exceeded vsag threshold event|\n|102|  Voltage reading has exceeded vswell threshold event|\n|103|  Voltage reading has exceeded vflicker threshold event|\n|104|  Voltage reading has exceeded no voltage threshold event|\n|105|  Voltage reading has exceeded imbalance threshold with other phase voltage|\n|106|  VTHD reading has exceeded max VTHD threshold event|\n|108|  Lower RVC event|\n|109|  Upper RVC event|\n|129|  Current reading has exceeded no current threshold event|\n|130|  Current reading has exceeded over current warning threshold event|\n|132|  Negative current is detected|\n|134|  Power good is detected|\n|136|  Peak demand alert detected|\n|137|  Current reading has exceeded imbalance threshold with other phase current|\n|138|  ITHD reading has exceeded max ITHD threshold event|\n|161|  PF reading has exceeded under PF warning threshold event|\n|163|  Power reading has exceeded power overload warning threshold event|\n|166|  Confirmed Power Outage (30sec power confirmation check)|\n|167|  Power Interruption (Loss of Supply)|\n|193|  Frequency reading has exceeded under frequency warning threshold event|\n|195|  Frequency reading has exceeded over frequency warning threshold event|\n|111|  Loss of phase voltage |\n|112|  Partial voltage loss|\n",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 168,
            "description": "tag of the event"
          },
          {
            "in": "query",
            "name": "starttime",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Start time range of the search in epoch, Convert human-readable time to epoch using [Epoch Converter](https://www.epochconverter.com/).",
            "example": 1687183200
          },
          {
            "in": "query",
            "name": "endtime",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "End time range of the search in epoch, Convert human-readable time to epoch using [Epoch Converter](https://www.epochconverter.com/).",
            "example": 1687269600
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "406": {
            "description": "Invalid device request"
          },
          "404": {
            "description": "Contact our support"
          }
        }
      }
    },
    "/powerquality/live/{device_serialid}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Returns live power quality based on the serialid provided",
        "description": "**The below table defines the output response this API returns**\n| Name              | Description                                    |\n| ----------------  | -----------------------------------------------|\n| epoch         | Unix time stamp in seconds of the date/time when data was received.             |\n| phase             |  Channel Readout (phase0 = Channel1; phase1 = Channel2; phase2 = Channel3; phase3 = General Parameters applicable to all Channels)|\n|watt           | Active Power from the channel (1/2/3) |\n|va    | Apparent Power from the channel (1/2/3) |\n|var             | Reactive Power from the channel (1/2/3) |\n|pf        | Power Factor from the channel (1/2/3) |\n|vrms        | VAVE = 1-minute average of the Voltage RMS reading |\n|vthd        | Line Voltage Total Harmonic Distortion |\n|vharm        | Feeder connected to which substation |\n|irms        | IAVE = 1-minute average of the Current RMS reading |\n|ithd        | Line Current Total Harmonic Distortion |\n|iharm        | Line Current Harmonic Component |\n|irms_min | 1-minute min of the Current RMS reading|\n|irms_max | 1-minute max of the Current RMS reading |\n|vrms_min | 1-minute min of the Voltage RMS reading|\n|vrms_max | 1-minute max of the Voltage RMS reading| \n|Linefreq        | Line Frequency |\n",
        "parameters": [
          {
            "in": "path",
            "name": "device_serialid",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "EXXXXXXXXXXXX",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "406": {
            "description": "Invalid device request"
          },
          "404": {
            "description": "Contact our support"
          }
        }
      }
    },
    "/powerquality/interval/{device_serialid}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Returns power quality data based on the provided serialid and the time stamps",
        "description": "**The below table defines the output response this API returns**\n| Name              | Description                                    |\n| ----------------  | -----------------------------------------------|\n| epoch         | Unix time stamp in seconds of the date/time when data was received.             |\n| phase             |  Channel Readout (phase0 = Channel1; phase1 = Channel2; phase2 = Channel3; phase3 = General Parameters applicable to all Channels)|\n|watt           | Active Power from the channel (1/2/3) |\n|va    | Apparent Power from the channel (1/2/3) |\n|var             | Reactive Power from the channel (1/2/3) |\n|pf        | Power Factor from the channel (1/2/3) |\n|vrms        | VAVE = 1-minute average of the Voltage RMS reading |\n|vthd        | Line Voltage Total Harmonic Distortion |\n|vharm        | Feeder connected to which substation |\n|irms        | IAVE = 1-minute average of the Current RMS reading |\n|ithd        | Line Current Total Harmonic Distortion |\n|iharm        | Line Current Harmonic Component |\n|irms_min | 1-minute min of the Current RMS reading|\n|irms_max | 1-minute max of the Current RMS reading |\n|vrms_min | 1-minute min of the Voltage RMS reading|\n|vrms_max | 1-minute max of the Voltage RMS reading| \n|Linefreq        | Line Frequency |\n",
        "parameters": [
          {
            "in": "path",
            "name": "device_serialid",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "EXXXXXXXXXXXX",
            "description": ""
          },
          {
            "in": "query",
            "name": "starttime",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1687317720,
            "description": "Convert human-readable time to epoch using [Epoch Converter](https://www.epochconverter.com/)."
          },
          {
            "in": "query",
            "name": "endtime",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1687317720,
            "description": "Convert human-readable time to epoch using [Epoch Converter](https://www.epochconverter.com/)."
          },
          {
            "in": "query",
            "name": "granularity",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Granularity of the time range",
            "example": "1m, 5m, 15m, 30m, hour, day"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "406": {
            "description": "Invalid device request"
          },
          "404": {
            "description": "Contact our support"
          }
        }
      }
    },
    "/harmonics/interval/{device_serialid}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Returns harmonics data based on the provided serialid and the time stamps",
        "description": "**The below table defines the output response this API returns**\n| Name              | Description                                    |\n| ----------------  | -----------------------------------------------|\n| epoch         | Unix time stamp in seconds of the date/time when data was received.             |\n| phase             |  Channel Readout (phase0 = Channel1; phase1 = Channel2; phase2 = Channel3; phase3 = General Parameters applicable to all Channels)|\n|vharm        | Total voltage  harmonics |\n|iharm        | Totcal current harmonics |\n|vharm1- vharm21        | induvidual harmonics |\n|iharm1- iharm21        | induvidual harmonics |\n",
        "parameters": [
          {
            "in": "path",
            "name": "device_serialid",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "EXXXXXXXXXXXX",
            "description": ""
          },
          {
            "in": "query",
            "name": "starttime",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1687317720,
            "description": "Convert human-readable time to epoch using [Epoch Converter](https://www.epochconverter.com/)."
          },
          {
            "in": "query",
            "name": "endtime",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1687317720,
            "description": "Convert human-readable time to epoch using [Epoch Converter](https://www.epochconverter.com/)."
          },
          {
            "in": "query",
            "name": "granularity",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Granularity of the time range",
            "example": "1m, 5m, 15m, 30m, hour, day"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "406": {
            "description": "Invalid device request"
          },
          "404": {
            "description": "Contact our support"
          }
        }
      }
    }
  }
}