{
  "openapi": "3.0.3",
  "info": {
    "title": "Accela Civic Platform API",
    "version": "4.0.0",
    "description": "Accela Civic Platform V4 API for government agencies. Provides access to records, inspections, contacts, addresses, parcels, documents, workflows, payments, and more for civic engagement applications.",
    "x-jentic-source-url": "https://developer.accela.com/docs/api_reference/api-index.html"
  },
  "servers": [
    {
      "url": "https://apis.accela.com",
      "description": "API server"
    },
    {
      "url": "https://auth.accela.com",
      "description": "Authentication server"
    }
  ],
  "paths": {
    "/oauth2/authorize": {
      "get": {
        "operationId": "getAuthorizationCode",
        "summary": "Get authorization code",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agency_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect with authorization code"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/oauth2/token": {
      "post": {
        "operationId": "getAccessToken",
        "summary": "Get access token",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "redirect_uri": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/oauth2/tokeninfo": {
      "get": {
        "operationId": "getTokenInfo",
        "summary": "Get token information",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token info"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v4/addresses": {
      "get": {
        "operationId": "listAddresses",
        "summary": "Get all addresses",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Address"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/addresses/{ids}": {
      "get": {
        "operationId": "getAddresses",
        "summary": "Get addresses by ID",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "Get all contacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/contacts/{ids}": {
      "get": {
        "operationId": "getContacts",
        "summary": "Get contacts by ID",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/parcels": {
      "get": {
        "operationId": "listParcels",
        "summary": "Get all parcels",
        "tags": [
          "Parcels"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Parcel"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/parcels/{ids}": {
      "get": {
        "operationId": "getParcels",
        "summary": "Get parcels by ID",
        "tags": [
          "Parcels"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/inspections": {
      "get": {
        "operationId": "listInspections",
        "summary": "Get all inspections",
        "tags": [
          "Inspections"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Inspection"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/inspections/{ids}": {
      "get": {
        "operationId": "getInspections",
        "summary": "Get inspections by ID",
        "tags": [
          "Inspections"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/assets": {
      "get": {
        "operationId": "listAssets",
        "summary": "Get all assets",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Asset"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/assets/{ids}": {
      "get": {
        "operationId": "getAssets",
        "summary": "Get assets by ID",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records": {
      "get": {
        "operationId": "listRecords",
        "summary": "Get all records",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createRecord",
        "summary": "Create record",
        "tags": [
          "Records"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{ids}": {
      "get": {
        "operationId": "getRecords",
        "summary": "Get records by ID",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{id}": {
      "put": {
        "operationId": "updateRecord",
        "summary": "Update record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{ids}/delete": {
      "delete": {
        "operationId": "deleteRecords",
        "summary": "Delete records",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/initialize": {
      "post": {
        "operationId": "createPartialRecord",
        "summary": "Create partial record",
        "tags": [
          "Records"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        }
      }
    },
    "/v4/records/{recordId}/finalize": {
      "post": {
        "operationId": "finalizeRecord",
        "summary": "Finalize record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Finalized"
          }
        }
      }
    },
    "/v4/records/mine": {
      "get": {
        "operationId": "getMyRecords",
        "summary": "Get my records",
        "tags": [
          "Records"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/records/{recordId}/contacts": {
      "get": {
        "operationId": "getRecordContacts",
        "summary": "Get all contacts for record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{recordId}/addresses": {
      "get": {
        "operationId": "getRecordAddresses",
        "summary": "Get all addresses for record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{recordId}/parcels": {
      "get": {
        "operationId": "getRecordParcels",
        "summary": "Get all parcels for record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{recordId}/owners": {
      "get": {
        "operationId": "getRecordOwners",
        "summary": "Get all owners for record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{recordId}/documents": {
      "get": {
        "operationId": "getRecordDocuments",
        "summary": "Get all documents for record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{recordId}/comments": {
      "get": {
        "operationId": "getRecordComments",
        "summary": "Get all comments for record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{recordId}/conditions": {
      "get": {
        "operationId": "getRecordConditions",
        "summary": "Get all conditions for record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{recordId}/conditionApprovals": {
      "get": {
        "operationId": "getRecordConditionApprovals",
        "summary": "Get all conditionApprovals for record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{recordId}/fees": {
      "get": {
        "operationId": "getRecordFees",
        "summary": "Get all fees for record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{recordId}/inspections": {
      "get": {
        "operationId": "getRecordInspections",
        "summary": "Get all inspections for record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{recordId}/professionals": {
      "get": {
        "operationId": "getRecordProfessionals",
        "summary": "Get all professionals for record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{recordId}/workflowTasks": {
      "get": {
        "operationId": "getRecordWorkflowTasks",
        "summary": "Get all workflowTasks for record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{recordId}/activities": {
      "get": {
        "operationId": "getRecordActivities",
        "summary": "Get all activities for record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{recordId}/assets": {
      "get": {
        "operationId": "getRecordAssets",
        "summary": "Get all assets for record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{recordId}/payments": {
      "get": {
        "operationId": "getRecordPayments",
        "summary": "Get all payments for record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/records/{recordId}/invoices": {
      "get": {
        "operationId": "getRecordInvoices",
        "summary": "Get all invoices for record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/inspections/schedule": {
      "post": {
        "operationId": "scheduleInspection",
        "summary": "Schedule inspection",
        "tags": [
          "Inspections"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scheduled"
          }
        }
      }
    },
    "/v4/inspections/{id}/result": {
      "put": {
        "operationId": "resultInspection",
        "summary": "Result inspection",
        "tags": [
          "Inspections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/v4/inspections/{ids}/assign": {
      "put": {
        "operationId": "assignInspections",
        "summary": "Assign inspections",
        "tags": [
          "Inspections"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assigned"
          }
        }
      }
    },
    "/v4/agencies": {
      "get": {
        "operationId": "listAgencies",
        "summary": "Get all agencies",
        "tags": [
          "Agencies"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/agencies/{name}": {
      "get": {
        "operationId": "getAgency",
        "summary": "Get agency",
        "tags": [
          "Agencies"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/documents/{documentId}/download": {
      "get": {
        "operationId": "downloadDocument",
        "summary": "Download document",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document file"
          }
        }
      }
    },
    "/v4/documents/{documentIds}": {
      "get": {
        "operationId": "getDocuments",
        "summary": "Get documents",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "documentIds",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/search/addresses": {
      "post": {
        "operationId": "searchAddresses",
        "summary": "Search addresses",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/search/contacts": {
      "post": {
        "operationId": "searchContacts",
        "summary": "Search contacts",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/search/records": {
      "post": {
        "operationId": "searchRecords",
        "summary": "Search records",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/search/inspections": {
      "post": {
        "operationId": "searchInspections",
        "summary": "Search inspections",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/search/parcels": {
      "post": {
        "operationId": "searchParcels",
        "summary": "Search parcels",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/search/owners": {
      "post": {
        "operationId": "searchOwners",
        "summary": "Search owners",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/search/professionals": {
      "post": {
        "operationId": "searchProfessionals",
        "summary": "Search professionals",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/search/assessments": {
      "post": {
        "operationId": "searchAssessments",
        "summary": "Search assessments",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/search/costs": {
      "post": {
        "operationId": "searchCosts",
        "summary": "Search costs",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/search/parts": {
      "post": {
        "operationId": "searchParts",
        "summary": "Search parts",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/settings/activities/priorities": {
      "get": {
        "operationId": "getActivitiesPriorities",
        "summary": "Get all activities priorities",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/settings/activities/statuses": {
      "get": {
        "operationId": "getActivitiesStatuses",
        "summary": "Get all activities statuses",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/settings/activities/types": {
      "get": {
        "operationId": "getActivitiesTypes",
        "summary": "Get all activities types",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/settings/addresses/countries": {
      "get": {
        "operationId": "getAddressesCountries",
        "summary": "Get all addresses countries",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/settings/addresses/states": {
      "get": {
        "operationId": "getAddressesStates",
        "summary": "Get all addresses states",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/settings/contacts/types": {
      "get": {
        "operationId": "getContactsTypes",
        "summary": "Get all contacts types",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/settings/contacts/salutations": {
      "get": {
        "operationId": "getContactsSalutations",
        "summary": "Get all contacts salutations",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/settings/inspections/types": {
      "get": {
        "operationId": "getInspectionsTypes",
        "summary": "Get all inspections types",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/settings/inspections/statuses": {
      "get": {
        "operationId": "getInspectionsStatuses",
        "summary": "Get all inspections statuses",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/settings/inspections/grades": {
      "get": {
        "operationId": "getInspectionsGrades",
        "summary": "Get all inspections grades",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/settings/records/types": {
      "get": {
        "operationId": "getRecordsTypes",
        "summary": "Get all records types",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/settings/departments": {
      "get": {
        "operationId": "getDepartments",
        "summary": "Get all departments",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/settings/documents/categories": {
      "get": {
        "operationId": "getDocumentsCategories",
        "summary": "Get all documents categories",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/settings/documents/types": {
      "get": {
        "operationId": "getDocumentsTypes",
        "summary": "Get all documents types",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/settings/costs/types": {
      "get": {
        "operationId": "getCostsTypes",
        "summary": "Get all costs types",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/settings/costs/accounts": {
      "get": {
        "operationId": "getCostsAccounts",
        "summary": "Get all costs accounts",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/settings/professionals/types": {
      "get": {
        "operationId": "getProfessionalsTypes",
        "summary": "Get all professionals types",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/payments/initialize": {
      "post": {
        "operationId": "initializePayment",
        "summary": "Initialize payment",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Initialized"
          }
        }
      }
    },
    "/v4/payments/{id}": {
      "put": {
        "operationId": "commitPayment",
        "summary": "Commit payment",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Committed"
          }
        }
      }
    },
    "/v4/batch": {
      "post": {
        "operationId": "batchRequest",
        "summary": "Submit batch request",
        "tags": [
          "Batch"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch results"
          }
        }
      }
    },
    "/v4/users/me": {
      "get": {
        "operationId": "getMyAccount",
        "summary": "Get my user account",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/users": {
      "get": {
        "operationId": "getUsers",
        "summary": "Get user accounts",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/citizenaccess/register": {
      "post": {
        "operationId": "registerCitizen",
        "summary": "Register citizen",
        "tags": [
          "Citizen Access"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registered"
          }
        }
      }
    },
    "/v4/citizenaccess/contacts": {
      "get": {
        "operationId": "getMyCitizenContacts",
        "summary": "Get my citizen contacts",
        "tags": [
          "Citizen Access"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      },
      "post": {
        "operationId": "createMyCitizenContacts",
        "summary": "Create my citizen contacts",
        "tags": [
          "Citizen Access"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        }
      }
    },
    "/v4/citizenaccess/profile": {
      "get": {
        "operationId": "getMyCitizenProfile",
        "summary": "Get my citizen profile",
        "tags": [
          "Citizen Access"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/owners": {
      "get": {
        "operationId": "listOwners",
        "summary": "Get all owners",
        "tags": [
          "Owners"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/owners/{id}": {
      "get": {
        "operationId": "getOwner",
        "summary": "Get owner",
        "tags": [
          "Owners"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/professionals": {
      "get": {
        "operationId": "listProfessionals",
        "summary": "Get all professionals",
        "tags": [
          "Professionals"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      },
      "post": {
        "operationId": "createProfessional",
        "summary": "Create professional",
        "tags": [
          "Professionals"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        }
      }
    },
    "/v4/filters": {
      "get": {
        "operationId": "listFilters",
        "summary": "Get all filters",
        "tags": [
          "Filters"
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        }
      }
    },
    "/v4/filters/{id}/results": {
      "post": {
        "operationId": "getFilterResults",
        "summary": "Get filter results",
        "tags": [
          "Filters"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Results"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Record": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "object"
          },
          "status": {
            "type": "object"
          },
          "description": {
            "type": "string"
          },
          "openedDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Inspection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "object"
          },
          "status": {
            "type": "object"
          },
          "scheduledDate": {
            "type": "string",
            "format": "date-time"
          },
          "resultDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "type": {
            "type": "object"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "streetAddress": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "object"
          },
          "postalCode": {
            "type": "string"
          }
        }
      },
      "Parcel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "parcelNumber": {
            "type": "string"
          },
          "lot": {
            "type": "string"
          },
          "block": {
            "type": "string"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "fileName": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "uploadedDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Agency": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          }
        }
      },
      "Asset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "object"
          },
          "status": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.accela.com/oauth2/authorize",
            "tokenUrl": "https://auth.accela.com/oauth2/token",
            "scopes": {
              "records": "Access records",
              "inspections": "Access inspections",
              "contacts": "Access contacts"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ]
}