{
  "openapi": "3.0.3",
  "info": {
    "title": "Convirza API",
    "version": "0.2.0",
    "description": "Convirza helps you unlock more value from what happens before, during, and after your calls. The API provides access to call management, campaign management, call flow management, scorecard, blacklist, phone number search, SMS, webhooks, and more.",
    "x-jentic-source-url": "https://apicfa.convirza.com/apidoc/",
    "termsOfService": "https://www.convirza.com/terms-conditions/",
    "contact": {
      "url": "https://www.convirza.com/contact-us"
    }
  },
  "servers": [
    {
      "url": "https://apicfa.convirza.com/v2"
    }
  ],
  "paths": {
    "/call": {
      "get": {
        "summary": "Get a specific call",
        "operationId": "getCall",
        "tags": [
          "Call Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Call ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/call/list": {
      "get": {
        "summary": "List calls with filtering",
        "operationId": "listCalls",
        "tags": [
          "Call Management"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Pagination limit"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Pagination offset"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter criteria"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CallResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/call/detail": {
      "get": {
        "summary": "Get calls with detailed records",
        "operationId": "getCallDetails",
        "tags": [
          "Call Management"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CallResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/call/detail/archived": {
      "get": {
        "summary": "Get archived call data (2.5+ years old)",
        "operationId": "getArchivedCallDetails",
        "tags": [
          "Call Management"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CallResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/call/extend": {
      "get": {
        "summary": "Get calls with extended details",
        "operationId": "getCallsExtended",
        "tags": [
          "Call Management"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CallResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/call/transcription": {
      "get": {
        "summary": "Get calls with transcriptions",
        "operationId": "getCallTranscriptions",
        "tags": [
          "Call Management"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CallResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/call/transcriptionDetail": {
      "get": {
        "summary": "Get calls with detailed transcription data",
        "operationId": "getCallTranscriptionDetails",
        "tags": [
          "Call Management"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CallResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/call/tag": {
      "get": {
        "summary": "Get calls with associated tags",
        "operationId": "getCallTags",
        "tags": [
          "Call Management"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CallResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add tags to calls",
        "operationId": "addCallTags",
        "tags": [
          "Call Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call_id": {
                    "type": "integer"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/call/customsource": {
      "get": {
        "summary": "Get calls with custom sources",
        "operationId": "getCallCustomSources",
        "tags": [
          "Call Management"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/call/indicator": {
      "get": {
        "summary": "Get calls with indicator scores",
        "operationId": "getCallIndicators",
        "tags": [
          "Call Management"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/call/dni": {
      "get": {
        "summary": "Get calls with DNI data",
        "operationId": "getCallDni",
        "tags": [
          "Call Management"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/call/groupActivity": {
      "get": {
        "summary": "Get call metrics per group",
        "operationId": "getCallGroupActivity",
        "tags": [
          "Call Management"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/call/groupActivityDetails": {
      "get": {
        "summary": "Get detailed group call metrics",
        "operationId": "getCallGroupActivityDetails",
        "tags": [
          "Call Management"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/call/upload": {
      "post": {
        "summary": "Upload audio file with call details",
        "operationId": "uploadCallAudio",
        "tags": [
          "Call Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Audio file (mp3 or wav)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful upload"
          }
        }
      }
    },
    "/call/comment": {
      "post": {
        "summary": "Add comments to calls",
        "operationId": "addCallComment",
        "tags": [
          "Call Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call_id": {
                    "type": "integer"
                  },
                  "comment": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/call/move": {
      "post": {
        "summary": "Move calls between groups",
        "operationId": "moveCall",
        "tags": [
          "Call Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call_id": {
                    "type": "integer"
                  },
                  "group_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/call/webhook": {
      "get": {
        "summary": "Get call data for webhook",
        "operationId": "getCallWebhookData",
        "tags": [
          "Call Management"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Response format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/scorecard/list": {
      "get": {
        "summary": "List scorecards",
        "operationId": "listScorecards",
        "tags": [
          "Scorecard"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/scorecard/scoredCallsReport": {
      "get": {
        "summary": "Get scored calls report data",
        "operationId": "getScoredCallsReport",
        "tags": [
          "Scorecard"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/scorecard/callField": {
      "post": {
        "summary": "Add or update call titles",
        "operationId": "updateScorecardCallField",
        "tags": [
          "Scorecard"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/blacklistednumber": {
      "get": {
        "summary": "List blacklisted numbers",
        "operationId": "listBlacklistedNumbers",
        "tags": [
          "Blacklist"
        ],
        "parameters": [
          {
            "name": "ou_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Organization unit ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Add numbers to blacklist",
        "operationId": "addBlacklistedNumber",
        "tags": [
          "Blacklist"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ou_id": {
                    "type": "integer"
                  },
                  "number": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Remove blacklisted numbers",
        "operationId": "removeBlacklistedNumber",
        "tags": [
          "Blacklist"
        ],
        "parameters": [
          {
            "name": "ou_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "number",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/campaign": {
      "get": {
        "summary": "Get a specific campaign",
        "operationId": "getCampaign",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create campaign(s)",
        "operationId": "createCampaign",
        "tags": [
          "Campaign"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete a campaign",
        "operationId": "deleteCampaign",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/campaign/list": {
      "get": {
        "summary": "List all campaigns",
        "operationId": "listCampaigns",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/campaign/user": {
      "get": {
        "summary": "Get campaigns with associated users",
        "operationId": "getCampaignUsers",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create or update campaign users",
        "operationId": "createCampaignUser",
        "tags": [
          "Campaign"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/campaign/callflow": {
      "get": {
        "summary": "Get campaigns with callflows",
        "operationId": "getCampaignCallflows",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/callflow": {
      "get": {
        "summary": "Get a specific callflow",
        "operationId": "getCallflow",
        "tags": [
          "Call Flow"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create or update callflows",
        "operationId": "createCallflow",
        "tags": [
          "Call Flow"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete a callflow",
        "operationId": "deleteCallflow",
        "tags": [
          "Call Flow"
        ],
        "parameters": [
          {
            "name": "callflow_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/callflow/list": {
      "get": {
        "summary": "List callflows",
        "operationId": "listCallflows",
        "tags": [
          "Call Flow"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/callflow/list/deleted": {
      "get": {
        "summary": "List deleted callflows",
        "operationId": "listDeletedCallflows",
        "tags": [
          "Call Flow"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/callflow/callflow": {
      "get": {
        "summary": "Get callflows with routing info",
        "operationId": "getCallflowRouting",
        "tags": [
          "Call Flow"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/callflow/location": {
      "get": {
        "summary": "Get callflows with location data",
        "operationId": "getCallflowLocations",
        "tags": [
          "Call Flow"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/callflow/number": {
      "get": {
        "summary": "Get callflows with phone numbers",
        "operationId": "getCallflowNumbers",
        "tags": [
          "Call Flow"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/callflow/recording": {
      "get": {
        "summary": "Get callflows with recording info",
        "operationId": "getCallflowRecordings",
        "tags": [
          "Call Flow"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/callflow/action": {
      "get": {
        "summary": "Get callflows with call actions",
        "operationId": "getCallflowActions",
        "tags": [
          "Call Flow"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/callflow/dni": {
      "get": {
        "summary": "Get callflows with DNI settings",
        "operationId": "getCallflowDni",
        "tags": [
          "Call Flow"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create DNI settings",
        "operationId": "createCallflowDni",
        "tags": [
          "Call Flow"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/callflow/dniclass": {
      "get": {
        "summary": "Get DNI classes by callflow",
        "operationId": "getCallflowDniClasses",
        "tags": [
          "Call Flow"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/callflow/customsources": {
      "get": {
        "summary": "Get callflow custom sources",
        "operationId": "getCallflowCustomSources",
        "tags": [
          "Call Flow"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Add custom sources to callflow",
        "operationId": "addCallflowCustomSources",
        "tags": [
          "Call Flow"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete custom sources from callflow",
        "operationId": "deleteCallflowCustomSources",
        "tags": [
          "Call Flow"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/callflow/multilevelivr": {
      "post": {
        "summary": "Create multi-level IVR callflows",
        "operationId": "createMultiLevelIvr",
        "tags": [
          "Call Flow"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/callflow/outbound": {
      "post": {
        "summary": "Create outbound callflows",
        "operationId": "createOutboundCallflow",
        "tags": [
          "Call Flow"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/callflow/count": {
      "get": {
        "summary": "Get callflows with count",
        "operationId": "getCallflowCount",
        "tags": [
          "Call Flow"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/callflow/pool/number": {
      "post": {
        "summary": "Delete numbers from pool",
        "operationId": "deletePoolNumber",
        "tags": [
          "Call Flow"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/group": {
      "get": {
        "summary": "Get a specific group",
        "operationId": "getGroup",
        "tags": [
          "Group"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create or update groups",
        "operationId": "createGroup",
        "tags": [
          "Group"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/group/list": {
      "get": {
        "summary": "List all groups",
        "operationId": "listGroups",
        "tags": [
          "Group"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/group/user": {
      "get": {
        "summary": "Get groups with associated users",
        "operationId": "getGroupUsers",
        "tags": [
          "Group"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create new group users",
        "operationId": "createGroupUser",
        "tags": [
          "Group"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "summary": "Update existing group users",
        "operationId": "updateGroupUser",
        "tags": [
          "Group"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/group/dnisnippet": {
      "get": {
        "summary": "Get DNI snippet for a group",
        "operationId": "getGroupDniSnippet",
        "tags": [
          "Group"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/group/callflowItems": {
      "get": {
        "summary": "Get active callflows per group",
        "operationId": "getGroupCallflowItems",
        "tags": [
          "Group"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/group/callLogs": {
      "get": {
        "summary": "Get call logs for group",
        "operationId": "getGroupCallLogs",
        "tags": [
          "Group"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/number/search": {
      "get": {
        "summary": "Search available phone numbers",
        "operationId": "searchNumbers",
        "tags": [
          "Phone Number"
        ],
        "parameters": [
          {
            "name": "npa",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Number Plan Area code"
          },
          {
            "name": "nxx",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "NXX code"
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "State code"
          },
          {
            "name": "rc",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Rate center"
          },
          {
            "name": "match",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Match pattern"
          },
          {
            "name": "ocn",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Operating Company Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/number/reserved": {
      "get": {
        "summary": "Search reserved numbers",
        "operationId": "searchReservedNumbers",
        "tags": [
          "Phone Number"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/number/reserve": {
      "post": {
        "summary": "Reserve phone numbers",
        "operationId": "reserveNumbers",
        "tags": [
          "Phone Number"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/sms": {
      "get": {
        "summary": "Get SMS conversations",
        "operationId": "getSmsConversations",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Send SMS from tracking number",
        "operationId": "sendSms",
        "tags": [
          "SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/email/calldata": {
      "post": {
        "summary": "Email call data",
        "operationId": "emailCallData",
        "tags": [
          "Email"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/webhook": {
      "get": {
        "summary": "List webhooks",
        "operationId": "listWebhooks",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "ou_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Organization unit ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create webhook",
        "operationId": "createWebhook",
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ou_id": {
                    "type": "integer"
                  },
                  "url": {
                    "type": "string"
                  },
                  "event": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "summary": "Update webhook",
        "operationId": "updateWebhook",
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "url": {
                    "type": "string"
                  },
                  "event": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/callaction": {
      "post": {
        "summary": "Create call actions",
        "operationId": "createCallAction",
        "tags": [
          "Call Action"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "summary": "Update call actions",
        "operationId": "updateCallAction",
        "tags": [
          "Call Action"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/misc/geo/locationlist": {
      "get": {
        "summary": "List geo-route locations",
        "operationId": "listGeoLocations",
        "tags": [
          "Miscellaneous"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/misc/geo/locations": {
      "get": {
        "summary": "Get location details",
        "operationId": "getGeoLocationDetails",
        "tags": [
          "Miscellaneous"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Add or update locations",
        "operationId": "addGeoLocations",
        "tags": [
          "Miscellaneous"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/misc/geo/batchlocations": {
      "post": {
        "summary": "Batch add or update locations",
        "operationId": "batchAddGeoLocations",
        "tags": [
          "Miscellaneous"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/misc/getaudiolist": {
      "get": {
        "summary": "List uploaded audio files",
        "operationId": "getAudioList",
        "tags": [
          "Miscellaneous"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/misc/upload/whisper": {
      "post": {
        "summary": "Upload whisper audio",
        "operationId": "uploadWhisperAudio",
        "tags": [
          "Miscellaneous"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/misc/upload/prompt": {
      "post": {
        "summary": "Upload prompt audio",
        "operationId": "uploadPromptAudio",
        "tags": [
          "Miscellaneous"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/misc/channel": {
      "get": {
        "summary": "Get channel data",
        "operationId": "getChannelData",
        "tags": [
          "Miscellaneous"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/user/reports": {
      "get": {
        "summary": "Get available reports for logged-in user",
        "operationId": "getUserReports",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CallResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Call ID"
          },
          "call_date": {
            "type": "string",
            "description": "Date and time of the call"
          },
          "duration": {
            "type": "integer",
            "description": "Call duration in seconds"
          },
          "caller_id": {
            "type": "string",
            "description": "Caller phone number"
          },
          "tracking_number": {
            "type": "string",
            "description": "Tracking number used"
          },
          "group_id": {
            "type": "integer",
            "description": "Group the call belongs to"
          }
        }
      },
      "CampaignResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Campaign ID"
          },
          "name": {
            "type": "string",
            "description": "Campaign name"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://apicfa.convirza.com/oauth/authorize",
            "scopes": {
              "read:call": "Read call data",
              "read:campaign": "Read campaign data",
              "write:callflow": "Write callflow data"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "externalDocs": {
    "url": "https://kb.convirza.com/api-request-instructions"
  },
  "tags": [
    {
      "name": "Blacklistednumber"
    },
    {
      "name": "Call"
    },
    {
      "name": "Callaction"
    },
    {
      "name": "Callflow"
    },
    {
      "name": "Campaign"
    },
    {
      "name": "Email"
    },
    {
      "name": "Group"
    },
    {
      "name": "Misc"
    },
    {
      "name": "Number"
    },
    {
      "name": "Scorecard"
    },
    {
      "name": "Sms"
    },
    {
      "name": "User"
    },
    {
      "name": "Webhook"
    }
  ]
}