{
  "openapi": "3.0.3",
  "info": {
    "title": "Anvil API",
    "version": "1.0.0",
    "description": "Anvil provides APIs for PDF generation, PDF filling, and e-signature collection. Build document workflows with features like fillable PDFs, dynamic generation, and embedded signing experiences.",
    "x-jentic-source-url": "https://www.useanvil.com/docs/"
  },
  "servers": [
    {
      "url": "https://app.useanvil.com/api/v1",
      "description": "Production API server"
    },
    {
      "url": "https://graphql.useanvil.com",
      "description": "GraphQL API server"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/fill/{pdfTemplateID}.pdf": {
      "post": {
        "summary": "Fill PDF Template",
        "description": "Fills a PDF template with JSON data and returns the completed PDF as binary output.",
        "operationId": "fillPdfTemplate",
        "parameters": [
          {
            "name": "pdfTemplateID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The PDF template identifier"
          },
          {
            "name": "versionNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Use -1 to fill unpublished changes"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["data"],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Title for the PDF document"
                  },
                  "fontFamily": {
                    "type": "string",
                    "default": "Noto Sans",
                    "description": "Font family to use for text fields"
                  },
                  "fontSize": {
                    "type": "integer",
                    "default": 10,
                    "description": "Font size for text fields"
                  },
                  "textColor": {
                    "type": "string",
                    "default": "#3E3E57",
                    "description": "Hex color code for text"
                  },
                  "alignment": {
                    "type": "string",
                    "enum": ["left", "center", "right"],
                    "description": "Text alignment"
                  },
                  "fontWeight": {
                    "type": "string",
                    "enum": ["normal", "bold", "italic", "boldItalic"],
                    "description": "Font weight and style"
                  },
                  "useInteractiveFields": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to use interactive PDF fields"
                  },
                  "defaultReadOnly": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether fields should be read-only by default"
                  },
                  "data": {
                    "description": "Data object or array of objects to fill the PDF template",
                    "oneOf": [
                      {
                        "type": "object"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful PDF generation",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request too large (>1MB for JSON)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generate-pdf": {
      "post": {
        "summary": "Generate PDF",
        "description": "Dynamically generates new PDF documents from JSON data using HTML/CSS or Markdown formatting.",
        "operationId": "generatePdf",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "data"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["html", "markdown"],
                    "description": "Type of content format"
                  },
                  "title": {
                    "type": "string",
                    "description": "Title for the PDF document"
                  },
                  "page": {
                    "type": "object",
                    "description": "Page configuration",
                    "properties": {
                      "width": {
                        "type": "string",
                        "description": "Page width with unit (mm, cm, in, px, em, rem, pt, pc)"
                      },
                      "height": {
                        "type": "string",
                        "description": "Page height with unit"
                      },
                      "margin": {
                        "type": "string",
                        "description": "Default margin for all sides"
                      },
                      "marginTop": {
                        "type": "string"
                      },
                      "marginBottom": {
                        "type": "string"
                      },
                      "marginLeft": {
                        "type": "string"
                      },
                      "marginRight": {
                        "type": "string"
                      },
                      "pageCount": {
                        "type": "string",
                        "enum": ["topLeft", "topCenter", "topRight", "bottomLeft", "bottomCenter", "bottomRight"],
                        "description": "Page number position"
                      }
                    }
                  },
                  "fontSize": {
                    "type": "integer",
                    "minimum": 5,
                    "maximum": 30,
                    "description": "Font size (markdown only)"
                  },
                  "textColor": {
                    "type": "string",
                    "description": "Hex color code for text (markdown only)"
                  },
                  "fontFamily": {
                    "type": "string",
                    "description": "Font family (markdown only)"
                  },
                  "includeTimestamp": {
                    "type": "boolean",
                    "default": true,
                    "description": "Include timestamp in markdown PDFs"
                  },
                  "logo": {
                    "type": "object",
                    "description": "Logo configuration (markdown only)",
                    "properties": {
                      "src": {
                        "type": "string",
                        "format": "uri"
                      },
                      "maxWidth": {
                        "type": "integer"
                      },
                      "maxHeight": {
                        "type": "integer"
                      }
                    }
                  },
                  "data": {
                    "description": "Content data - format depends on type",
                    "oneOf": [
                      {
                        "type": "object",
                        "description": "HTML format",
                        "properties": {
                          "html": {
                            "type": "string"
                          },
                          "css": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "array",
                        "description": "Markdown format",
                        "items": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string"
                            },
                            "heading": {
                              "type": "string"
                            },
                            "content": {
                              "type": "string",
                              "description": "Markdown content"
                            },
                            "table": {
                              "type": "object"
                            },
                            "fontSize": {
                              "type": "integer"
                            },
                            "textColor": {
                              "type": "string"
                            },
                            "fontFamily": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful PDF generation",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use your API key as the username with an empty password. Obtain your API key from Organization Settings → API Settings."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "details": {
            "type": "object",
            "description": "Additional error details"
          }
        }
      }
    }
  }
}
