{
  "openapi": "3.0.3",
  "info": {
    "title": "Foreplay Public API",
    "version": "0.17.1",
    "description": "Programmatic search, filter, and analysis of ads and brands database.",
    "x-jentic-source-url": "https://docs.foreplay.co/"
  },
  "servers": [
    {
      "url": "https://public.api.foreplay.co"
    }
  ],
  "paths": {
    "/api/swipefile/ads": {
      "get": {
        "operationId": "getSwipefileAds",
        "summary": "Get saved ads from swipefile",
        "tags": [
          "SwipeFile"
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 250
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "oldest",
                "longest_running",
                "most_relevant"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Insufficient credits"
          }
        }
      }
    },
    "/api/boards": {
      "get": {
        "operationId": "listBoards",
        "summary": "List all boards",
        "tags": [
          "Boards"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/board/brands": {
      "get": {
        "operationId": "getBoardBrands",
        "summary": "Get brands in a board",
        "tags": [
          "Boards"
        ],
        "parameters": [
          {
            "name": "board_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/board/ads": {
      "get": {
        "operationId": "getBoardAds",
        "summary": "Get ads from a board",
        "tags": [
          "Boards"
        ],
        "parameters": [
          {
            "name": "board_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 250
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/spyder/brands": {
      "get": {
        "operationId": "listSpyderBrands",
        "summary": "List subscribed brands",
        "tags": [
          "Spyder"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/spyder/brand": {
      "get": {
        "operationId": "getSpyderBrand",
        "summary": "Get specific subscribed brand",
        "tags": [
          "Spyder"
        ],
        "parameters": [
          {
            "name": "brand_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/spyder/brand/ads": {
      "get": {
        "operationId": "getSpyderBrandAds",
        "summary": "Get ads for subscribed brand",
        "tags": [
          "Spyder"
        ],
        "parameters": [
          {
            "name": "brand_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ad": {
      "get": {
        "operationId": "getAdByQuery",
        "summary": "Get ad by ID (query param)",
        "tags": [
          "Ads"
        ],
        "parameters": [
          {
            "name": "ad_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/ad/{ad_id}": {
      "get": {
        "operationId": "getAdById",
        "summary": "Get ad by ID (path param)",
        "tags": [
          "Ads"
        ],
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/ad/duplicates/{ad_id}": {
      "get": {
        "operationId": "getAdDuplicates",
        "summary": "Find duplicate creatives",
        "tags": [
          "Ads"
        ],
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/brand/getAdsByBrandId": {
      "get": {
        "operationId": "getAdsByBrandId",
        "summary": "Get ads by brand ID",
        "tags": [
          "Brands"
        ],
        "parameters": [
          {
            "name": "brand_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/brand/getAdsByPageId": {
      "get": {
        "operationId": "getAdsByPageId",
        "summary": "Get ads by Facebook page ID",
        "tags": [
          "Brands"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/brand/getBrandsByDomain": {
      "get": {
        "operationId": "getBrandsByDomain",
        "summary": "Search brands by domain",
        "tags": [
          "Brands"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}