{
  "openapi": "3.0.3",
  "info": {
    "title": "BusyBusy REST API",
    "version": "3.2",
    "description": "BusyBusy REST API for time tracking, project management, and workforce operations. Supports API key management, equipment tracking, certifications, cost codes, and more.",
    "x-jentic-source-url": "https://api.busybusy.io/docs/apiv3.html"
  },
  "servers": [
    {
      "url": "https://api.busybusy.io"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api-key": {
      "get": {
        "summary": "List API keys",
        "description": "Retrieve all API keys",
        "operationId": "listApiKeys",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKey"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create API key",
        "description": "Create a new API key",
        "operationId": "createApiKey",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "permissions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update API key",
        "description": "Update an existing API key",
        "operationId": "updateApiKey",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "disabled_on": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key updated"
          }
        }
      }
    },
    "/equipment": {
      "get": {
        "summary": "List equipment",
        "description": "Retrieve all equipment",
        "operationId": "listEquipment",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of equipment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Equipment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create equipment",
        "description": "Create new equipment",
        "operationId": "createEquipment",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["equipment_name", "equipment_model_id"],
                "properties": {
                  "equipment_name": {
                    "type": "string"
                  },
                  "equipment_model_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Equipment created"
          }
        }
      },
      "patch": {
        "summary": "Update equipment",
        "description": "Update existing equipment",
        "operationId": "updateEquipment",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "equipment_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Equipment updated"
          }
        }
      }
    },
    "/certification": {
      "get": {
        "summary": "List certifications",
        "description": "Retrieve all certifications",
        "operationId": "listCertifications",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of certifications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Certification"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create certification",
        "description": "Create new certification",
        "operationId": "createCertification",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "employee_managed": {
                    "type": "boolean"
                  },
                  "documentation_required": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Certification created"
          }
        }
      }
    },
    "/cost-code": {
      "get": {
        "summary": "List cost codes",
        "description": "Retrieve all cost codes",
        "operationId": "listCostCodes",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of cost codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CostCode"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create cost code",
        "description": "Create new cost code",
        "operationId": "createCostCode",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["cost_code", "title"],
                "properties": {
                  "cost_code": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cost code created"
          }
        }
      }
    },
    "/budget-cost": {
      "get": {
        "summary": "List budget costs",
        "description": "Retrieve all budget costs",
        "operationId": "listBudgetCosts",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of budget costs"
          }
        }
      },
      "post": {
        "summary": "Create budget cost",
        "description": "Create new budget cost",
        "operationId": "createBudgetCost",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["project_id", "cost_budget"],
                "properties": {
                  "project_id": {
                    "type": "integer"
                  },
                  "cost_budget": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Budget cost created"
          }
        }
      }
    },
    "/authoritative-signature": {
      "get": {
        "summary": "List authoritative signatures",
        "description": "Retrieve all authoritative signatures",
        "operationId": "listAuthoritativeSignatures",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of signatures"
          }
        }
      },
      "post": {
        "summary": "Create authoritative signature",
        "description": "Create new authoritative signature",
        "operationId": "createAuthoritativeSignature",
        "parameters": [
          {
            "name": "_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "3.2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["member_id", "created_on", "signature"],
                "properties": {
                  "member_id": {
                    "type": "integer"
                  },
                  "created_on": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "signature": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Signature created"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_on": {
            "type": "string",
            "format": "date-time"
          },
          "disabled_on": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Equipment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "equipment_name": {
            "type": "string"
          },
          "equipment_model_id": {
            "type": "integer"
          },
          "created_on": {
            "type": "string",
            "format": "date-time"
          },
          "updated_on": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Certification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "employee_managed": {
            "type": "boolean"
          },
          "documentation_required": {
            "type": "boolean"
          },
          "created_on": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CostCode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "cost_code": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "created_on": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
