{
  "openapi": "3.0.3",
  "info": {
    "title": "Songkick API",
    "description": "The Songkick API provides easy access to the biggest live music database in the world with over 6 million upcoming and past concerts. Search for events by artist, date, venue, and location, access user's events and trackings, complete concert history for artists (gigography), event details, venue details, similar artists, and more.",
    "version": "3.0",
    "contact": {
      "name": "Songkick Support",
      "url": "http://support.songkick.com/"
    },
    "termsOfService": "https://www.songkick.com/developer/api-terms-of-use"
  },
  "servers": [
    {
      "url": "https://api.songkick.com/api/3.0",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/artists/{artist_id}/calendar.json": {
      "get": {
        "summary": "Get artist's upcoming events",
        "description": "Returns upcoming events for a specific artist",
        "operationId": "getArtistCalendar",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "The artist identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "Your API authentication key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_date",
            "in": "query",
            "required": false,
            "description": "Start of date range (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "max_date",
            "in": "query",
            "required": false,
            "description": "End of date range (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Pagination page number (starts at 1)",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page, maximum 50",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events.json": {
      "get": {
        "summary": "Search for events",
        "description": "Search for upcoming events by artist name or location",
        "operationId": "searchEvents",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "Your API authentication key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artist_name",
            "in": "query",
            "required": false,
            "description": "Artist name to search for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "Location specifier (sk:id, geo:lat,lng, ip:address, or clientip)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_date",
            "in": "query",
            "required": false,
            "description": "Start of date range (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "max_date",
            "in": "query",
            "required": false,
            "description": "End of date range (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Event type filter",
            "schema": {
              "type": "string",
              "enum": ["Concert", "Festival"]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Results page number (starts at 1)",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page (maximum 50)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventSearchResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Event identifier"
          },
          "type": {
            "type": "string",
            "enum": ["Concert", "Festival"],
            "description": "Event type"
          },
          "uri": {
            "type": "string",
            "description": "Event URL on Songkick"
          },
          "displayName": {
            "type": "string",
            "description": "Human-readable event title"
          },
          "start": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date"
              },
              "time": {
                "type": "string"
              },
              "datetime": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "end": {
            "type": "object",
            "nullable": true,
            "description": "End time (festivals only)",
            "properties": {
              "date": {
                "type": "string",
                "format": "date"
              },
              "time": {
                "type": "string"
              },
              "datetime": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "performance": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Performance"
            }
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "venue": {
            "$ref": "#/components/schemas/Venue"
          },
          "status": {
            "type": "string",
            "enum": ["ok", "cancelled", "postponed"],
            "description": "Event status"
          },
          "ageRestriction": {
            "type": "string",
            "nullable": true,
            "description": "Age requirements, if applicable"
          },
          "popularity": {
            "type": "number",
            "description": "Numeric popularity metric"
          }
        }
      },
      "Performance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Performance identifier"
          },
          "artist": {
            "$ref": "#/components/schemas/Artist"
          },
          "displayName": {
            "type": "string",
            "description": "Artist name"
          },
          "billingIndex": {
            "type": "integer",
            "description": "Position in lineup"
          },
          "billing": {
            "type": "string",
            "enum": ["headline", "support"],
            "description": "Performance billing"
          }
        }
      },
      "Artist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Artist identifier"
          },
          "displayName": {
            "type": "string",
            "description": "Artist name"
          },
          "uri": {
            "type": "string",
            "description": "Artist profile URL"
          },
          "identifier": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "MusicBrainz identifiers"
          },
          "onTourUntil": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Tour end date"
          }
        }
      },
      "Venue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "displayName": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          },
          "city": {
            "$ref": "#/components/schemas/City"
          },
          "lat": {
            "type": "number",
            "format": "float",
            "description": "Latitude"
          },
          "lng": {
            "type": "number",
            "format": "float",
            "description": "Longitude"
          },
          "street": {
            "type": "string",
            "nullable": true
          },
          "zip": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "capacity": {
            "type": "integer",
            "nullable": true
          },
          "metroArea": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "description": "City name with state/country"
          },
          "lat": {
            "type": "number",
            "format": "float"
          },
          "lng": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "City": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "displayName": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          },
          "country": {
            "type": "object"
          }
        }
      },
      "CalendarResponse": {
        "type": "object",
        "properties": {
          "resultsPage": {
            "type": "object",
            "properties": {
              "results": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              },
              "page": {
                "type": "integer"
              },
              "totalEntries": {
                "type": "integer"
              },
              "perPage": {
                "type": "integer"
              }
            }
          }
        }
      },
      "EventSearchResponse": {
        "type": "object",
        "properties": {
          "resultsPage": {
            "type": "object",
            "properties": {
              "results": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              },
              "page": {
                "type": "integer"
              },
              "totalEntries": {
                "type": "integer"
              },
              "perPage": {
                "type": "integer"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Events",
      "description": "Event search and calendar operations"
    }
  ]
}
