{
  "openapi": "3.0.3",
  "info": {
    "title": "Songkick API",
    "description": "The Songkick API provides easy access to the biggest live music database in the world with over 6 million upcoming and past concerts.",
    "version": "3.0",
    "contact": {
      "name": "Songkick Support",
      "url": "http://support.songkick.com/"
    },
    "termsOfService": "https://www.songkick.com/developer/api-terms-of-use"
  },
  "servers": [
    {
      "url": "https://api.songkick.com/api/3.0"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/artists/{artist_id}/calendar.json": {
      "get": {
        "summary": "Get artist's upcoming events",
        "operationId": "getArtistCalendar",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/events.json": {
      "get": {
        "summary": "Search for events",
        "operationId": "searchEvents",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey"
      }
    }
  }
}
