{
  "openapi": "3.0.3",
  "info": {
    "title": "Unsplash Photo API",
    "description": "Search and retrieve high-quality, royalty-free photographs. Useful for destination imagery in travel applications. Free tier: 50 requests/hour.",
    "version": "1.0.0",
    "contact": {
      "name": "Unsplash",
      "url": "https://unsplash.com/developers"
    },
    "x-jentic-source-url": "https://unsplash.com/documentation"
  },
  "servers": [
    {
      "url": "https://api.unsplash.com",
      "description": "Unsplash API production server"
    }
  ],
  "paths": {
    "/search/photos": {
      "get": {
        "operationId": "searchPhotos",
        "summary": "Search photos",
        "description": "Search for photos by keyword, with filters for orientation, color, and content type. Returns paginated results with multiple image sizes.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query (e.g. 'Tokyo skyline', 'Paris travel')."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 30
            },
            "description": "Results per page (max 30)."
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "relevant",
                "latest"
              ],
              "default": "relevant"
            },
            "description": "Sort order."
          },
          {
            "name": "orientation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "landscape",
                "portrait",
                "squarish"
              ]
            },
            "description": "Filter by photo orientation."
          },
          {
            "name": "color",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "black_and_white",
                "black",
                "white",
                "yellow",
                "orange",
                "red",
                "purple",
                "magenta",
                "green",
                "teal",
                "blue"
              ]
            },
            "description": "Filter by dominant color."
          },
          {
            "name": "content_filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "high"
              ],
              "default": "low"
            },
            "description": "Content safety filter level."
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search language (ISO 639-1 code)."
          }
        ],
        "responses": {
          "200": {
            "description": "Photo search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid Client-ID"
          }
        }
      }
    },
    "/photos/{id}": {
      "get": {
        "operationId": "getPhoto",
        "summary": "Get photo details",
        "description": "Get full details for a photo including location, EXIF data, and tags.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Photo ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Full photo details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoFull"
                }
              }
            }
          },
          "404": {
            "description": "Photo not found"
          }
        }
      }
    },
    "/photos/random": {
      "get": {
        "operationId": "getRandomPhoto",
        "summary": "Get random photo",
        "description": "Get a random photo, optionally filtered by query, orientation, or collections.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by search term."
          },
          {
            "name": "orientation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "landscape",
                "portrait",
                "squarish"
              ]
            },
            "description": "Filter by orientation."
          },
          {
            "name": "collections",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated collection IDs."
          },
          {
            "name": "topics",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated topic IDs."
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 1
            },
            "description": "Number of random photos to return."
          },
          {
            "name": "content_filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "high"
              ],
              "default": "low"
            },
            "description": "Content safety filter."
          }
        ],
        "responses": {
          "200": {
            "description": "Random photo(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoFull"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "clientId": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Unsplash Client-ID. Format: 'Client-ID YOUR_ACCESS_KEY'. Register at unsplash.com/developers."
      }
    },
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Photo"
            }
          }
        }
      },
      "Photo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "color": {
            "type": "string",
            "description": "Hex color code."
          },
          "blur_hash": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "alt_description": {
            "type": "string",
            "nullable": true
          },
          "urls": {
            "$ref": "#/components/schemas/PhotoUrls"
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string"
              },
              "html": {
                "type": "string"
              },
              "download": {
                "type": "string"
              },
              "download_location": {
                "type": "string"
              }
            }
          },
          "likes": {
            "type": "integer"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "PhotoFull": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Photo"
          },
          {
            "type": "object",
            "properties": {
              "downloads": {
                "type": "integer"
              },
              "location": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "nullable": true
                  },
                  "city": {
                    "type": "string",
                    "nullable": true
                  },
                  "country": {
                    "type": "string",
                    "nullable": true
                  },
                  "position": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "type": "number",
                        "nullable": true
                      },
                      "longitude": {
                        "type": "number",
                        "nullable": true
                      }
                    }
                  }
                }
              },
              "exif": {
                "type": "object",
                "properties": {
                  "make": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  },
                  "exposure_time": {
                    "type": "string"
                  },
                  "aperture": {
                    "type": "string"
                  },
                  "focal_length": {
                    "type": "string"
                  },
                  "iso": {
                    "type": "integer"
                  }
                }
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "PhotoUrls": {
        "type": "object",
        "properties": {
          "raw": {
            "type": "string",
            "format": "uri",
            "description": "Base URL for custom transforms."
          },
          "full": {
            "type": "string",
            "format": "uri",
            "description": "Full resolution."
          },
          "regular": {
            "type": "string",
            "format": "uri",
            "description": "1080px width."
          },
          "small": {
            "type": "string",
            "format": "uri",
            "description": "400px width."
          },
          "thumb": {
            "type": "string",
            "format": "uri",
            "description": "200px width."
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "portfolio_url": {
            "type": "string",
            "nullable": true
          },
          "profile_image": {
            "type": "object",
            "properties": {
              "small": {
                "type": "string"
              },
              "medium": {
                "type": "string"
              },
              "large": {
                "type": "string"
              }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string"
              },
              "html": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "clientId": []
    }
  ]
}