{
  "openapi": "3.0.3",
  "info": {
    "title": "Bitquery GraphQL API",
    "description": "Bitquery provides blockchain data through a unified GraphQL API. Query data across 40+ blockchain networks including Bitcoin, Ethereum, BSC, Solana, and more. Access DEX trades, token transfers, smart contract events, address balances, and other on-chain data.",
    "version": "2.0.0",
    "contact": {
      "name": "Bitquery Support",
      "url": "https://bitquery.io"
    },
    "termsOfService": "https://bitquery.io/terms"
  },
  "servers": [
    {
      "url": "https://graphql.bitquery.io",
      "description": "Bitquery V1 GraphQL API"
    },
    {
      "url": "https://streaming.bitquery.io",
      "description": "Bitquery V2 Streaming GraphQL API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "executeGraphQLQuery",
        "summary": "Execute a GraphQL query",
        "description": "Execute a GraphQL query against the Bitquery blockchain data platform. Supports queries for blockchain data across 40+ networks including transfers, trades, balances, smart contract events, and more.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              },
              "examples": {
                "ethereumBlocks": {
                  "summary": "Query Ethereum blocks",
                  "value": {
                    "query": "{ ethereum(network: ethereum) { blocks(options: {limit: 10, desc: \"height\"}) { height timestamp { time } } } }",
                    "variables": {}
                  }
                },
                "dexTrades": {
                  "summary": "Query DEX trades",
                  "value": {
                    "query": "{ ethereum(network: ethereum) { dexTrades(options: {limit: 10, desc: \"block.height\"}) { transaction { hash } block { height } baseCurrency { symbol } quoteCurrency { symbol } tradeAmount(in: USD) } } }",
                    "variables": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful GraphQL response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query syntax",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "tags": ["GraphQL"]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "API key obtained from Bitquery account at https://account.bitquery.io"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth bearer token for V2 API access"
      }
    },
    "schemas": {
      "GraphQLRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": {
            "type": "string",
            "description": "The GraphQL query string"
          },
          "variables": {
            "type": "object",
            "description": "Variables for the GraphQL query",
            "additionalProperties": true
          },
          "operationName": {
            "type": "string",
            "description": "Name of the operation to execute if the query contains multiple operations"
          }
        }
      },
      "GraphQLResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "The query result data",
            "additionalProperties": true
          }
        }
      },
      "GraphQLErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                },
                "locations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "line": {
                        "type": "integer"
                      },
                      "column": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "path": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "GraphQL",
      "description": "GraphQL query endpoint for blockchain data"
    }
  ]
}
