{
  "openapi": "3.0.3",
  "info": {
    "version": "1.8.7",
    "title": "MONEI API v1",
    "description": "The MONEI API is organized around REST principles. Our API is designed to be intuitive and developer-friendly.\n\n### Base URL\n\nAll API requests should be made to:\n\n```\nhttps://api.monei.com/v1\n```\n\n### Environment\n\nMONEI provides two environments:\n\n- **Test Environment**: For development and testing without processing real payments\n- **Live Environment**: For processing real transactions in production\n\n### Client Libraries\n\nWe provide official SDKs to simplify integration:\n\n- [PHP SDK](https://github.com/MONEI/monei-php-sdk)\n- [Python SDK](https://github.com/MONEI/monei-python-sdk)\n- [Node.js SDK](https://github.com/MONEI/monei-node-sdk)\n- [Postman Collection](https://postman.monei.com/)\n\nOur SDKs handle authentication, error handling, and request formatting automatically.\n\nYou can download the OpenAPI specification from the https://js.monei.com/api/v1/openapi.json and generate your own client library using the [OpenAPI Generator](https://openapi-generator.tech/).\n\n### Important Requirements\n\n- All API requests must be made over HTTPS\n- If you are not using our official SDKs, you **must provide a valid `User-Agent` header** with each request\n- Requests without proper authentication will return a `401 Unauthorized` error\n\n### Error Handling\n\nThe API returns consistent error codes and messages to help you troubleshoot issues. Each response includes a `statusCode` attribute indicating the outcome of your request.\n\n### Rate Limits\n\nThe API implements rate limiting to ensure stability. If you exceed the limits, requests will return a `429 Too Many Requests` status code.\n",
    "x-jentic-source-url": "https://docs.monei.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.monei.com/v1",
      "description": "MONEI API v1"
    }
  ],
  "paths": {
    "/apple-pay/certificates": {
      "post": {
        "operationId": "applePayCertificates_create",
        "summary": "Create Certificate",
        "description": "Creates a new Apple Pay certificate by generating a Certificate Signing Request (CSR).\n\nUse this endpoint to start the certificate creation process for accepting Apple Pay in your iOS app.\n\n## Setup workflow\n\n1. **Call this endpoint** to generate a CSR. The response includes the `csr` field in base64 format.\n\n2. **Decode the CSR** and save it as a `.certSigningRequest` file:\n\n   ```bash\n   echo \"CSR_VALUE\" | base64 -d > apple_pay.certSigningRequest\n   ```\n\n3. **Go to [Apple Developer Portal](https://developer.apple.com/account/resources/certificates/list)**:\n   - Navigate to Certificates, Identifiers & Profiles\n   - Select your Merchant ID under Identifiers\n   - In the \"Apple Pay Payment Processing Certificate\" section, click \"Create Certificate\"\n   - Upload the `.certSigningRequest` file from step 2\n   - Download the signed certificate (`.cer` file)\n\n4. **Convert the certificate to base64**:\n\n   ```bash\n   base64 -i apple_pay.cer\n   ```\n\n5. **Activate the certificate** using the [Activate Certificate](https://docs.monei.com/apis/rest/apple-pay-certificates-activate/) endpoint with the base64 value.\n\n## Important notes\n\n- **CSRs expire after 24 hours.** Complete the certificate creation in Apple Developer Portal within this window, or generate a new CSR.\n- Each CSR can only be used once. If you need a new certificate, create a new CSR.\n- The private key is securely generated and stored by MONEI. You never need to handle private keys directly.\n- You must be enrolled in the [Apple Developer Program](https://developer.apple.com/programs/) to create certificates.\n- The CSR is cleared from the response after the certificate is activated.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Apple Pay Certificate"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ApplePayCertificateResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.applePayCertificates.create();\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n$monei->applePayCertificates->create();\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.apple_pay_certificates.create()\n"
          }
        ]
      },
      "get": {
        "operationId": "applePayCertificates_getAll",
        "summary": "List Certificates",
        "description": "Retrieves all Apple Pay certificates for your account.\n\nReturns an array of certificate objects, including both active and inactive certificates.\nUse this to view all certificates and their status.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Apple Pay Certificate"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ApplePayCertificateListResponse"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.applePayCertificates.getAll();\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n$monei->applePayCertificates->getAll();\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.apple_pay_certificates.get_all()\n"
          }
        ]
      }
    },
    "/apple-pay/certificates/{id}": {
      "get": {
        "operationId": "applePayCertificates_get",
        "summary": "Get Certificate",
        "description": "Retrieves a specific Apple Pay certificate by its ID.\n\nReturns the certificate object with its current status, CSR (if not yet activated),\nand expiration date (if activated).\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Apple Pay Certificate"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CertificateId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ApplePayCertificateResponse"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.applePayCertificates.get('a6ea0c67-d061-4f7c-9e3b-4a96a6e1e8b1');\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n$monei->applePayCertificates->get('a6ea0c67-d061-4f7c-9e3b-4a96a6e1e8b1');\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.apple_pay_certificates.get(\"a6ea0c67-d061-4f7c-9e3b-4a96a6e1e8b1\")\n"
          }
        ]
      },
      "post": {
        "operationId": "applePayCertificates_update",
        "summary": "Update Certificate",
        "description": "Updates an Apple Pay certificate's active status.\n\nUse this endpoint to enable or disable a certificate. Disabling a certificate\nprevents it from being used for payment token decryption while keeping it available\nfor future use.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Apple Pay Certificate"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CertificateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApplePayCertificateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ApplePayCertificateResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.applePayCertificates.update('a6ea0c67-d061-4f7c-9e3b-4a96a6e1e8b1', {\n  active: true\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\Model\\UpdateApplePayCertificateRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n$monei->applePayCertificates->update(\n    'a6ea0c67-d061-4f7c-9e3b-4a96a6e1e8b1',\n    new UpdateApplePayCertificateRequest(\n        [\n            'active' => true\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.apple_pay_certificates.update(\n    \"a6ea0c67-d061-4f7c-9e3b-4a96a6e1e8b1\",\n    active=True\n)\n"
          }
        ]
      },
      "delete": {
        "operationId": "applePayCertificates_remove",
        "summary": "Delete Certificate",
        "description": "Deletes an Apple Pay certificate.\n\nThis permanently removes the certificate and its associated private key.\nThe certificate will no longer be available for payment processing.\n\n**Warning**: This action cannot be undone. If you only want to temporarily disable\na certificate, use the [Update Certificate](https://docs.monei.com/apis/rest/apple-pay-certificates-update/) endpoint instead.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Apple Pay Certificate"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CertificateId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteApplePayCertificateResponse"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.applePayCertificates.remove('a6ea0c67-d061-4f7c-9e3b-4a96a6e1e8b1');\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n$monei->applePayCertificates->remove('a6ea0c67-d061-4f7c-9e3b-4a96a6e1e8b1');\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.apple_pay_certificates.remove(\"a6ea0c67-d061-4f7c-9e3b-4a96a6e1e8b1\")\n"
          }
        ]
      }
    },
    "/apple-pay/certificates/{id}/activate": {
      "post": {
        "operationId": "applePayCertificates_activate",
        "summary": "Activate Certificate",
        "description": "Activates an Apple Pay certificate by uploading the signed certificate from Apple.\n\nAfter creating a certificate in the Apple Developer Portal using your CSR, download\nthe signed certificate and upload it here to activate payment processing.\n\n## Activation process\n\n1. Ensure you have downloaded the signed certificate (`.cer` file) from Apple Developer Portal.\n\n2. Convert the certificate to base64:\n\n   ```bash\n   base64 -i apple_pay.cer\n   ```\n\n3. Call this endpoint with the base64-encoded certificate in the `cert` field.\n\n## Validation\n\nThe certificate is validated to ensure:\n\n- It matches the private key generated when creating the CSR\n- It has a valid expiration date\n\nOnce activated, the certificate becomes available for decrypting Apple Pay payment tokens\nin your iOS app.\n\n## Notes\n\n- A certificate can only be activated once.\n- The CSR is cleared after successful activation.\n- The expiration date is extracted and stored for monitoring.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Apple Pay Certificate"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CertificateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivateApplePayCertificateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ApplePayCertificateResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.applePayCertificates.activate('a6ea0c67-d061-4f7c-9e3b-4a96a6e1e8b1', {\n  cert: 'MIIEpDCCA4ygAwIBAgIIU...'\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\Model\\ActivateApplePayCertificateRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n$monei->applePayCertificates->activate(\n    'a6ea0c67-d061-4f7c-9e3b-4a96a6e1e8b1',\n    new ActivateApplePayCertificateRequest(\n        [\n            'cert' => 'MIIEpDCCA4ygAwIBAgIIU...'\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.apple_pay_certificates.activate(\n    \"a6ea0c67-d061-4f7c-9e3b-4a96a6e1e8b1\",\n    cert=\"MIIEpDCCA4ygAwIBAgIIU...\"\n)\n"
          }
        ]
      }
    },
    "/apple-pay/domains": {
      "post": {
        "operationId": "applePayDomain_register",
        "summary": "Register Domain",
        "description": "Registers a domain with Apple Pay.\n\nThis endpoint allows you to register your website domain with Apple Pay, which is required\nbefore you can accept Apple Pay payments on your website. The domain must be accessible\nvia HTTPS and have a valid SSL certificate.\n\nBefore registering, you must download\nthis [domain association file](https://assets.monei.com/apple-pay/apple-developer-merchantid-domain-association/)\nand host it at `/.well-known/apple-developer-merchantid-domain-association` on your site.\n\nFor example, if you're registering `example.com`, make that file available\nat `https://example.com/.well-known/apple-developer-merchantid-domain-association`.\n\nAfter registration, Apple will verify your domain. Once verified, you can display\nApple Pay buttons and process Apple Pay payments on your website.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Apple Pay Domain"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterApplePayDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RegisterApplePayDomainResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.applePayDomain.register({\n  domainName: 'example.com'\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\Model\\RegisterApplePayDomainRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n$monei->applePayDomain->register(\n    new RegisterApplePayDomainRequest(\n        [\n            'domain_name' => 'example.com'\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.apple_pay_domain.register(domain_name=\"example.com\")\n"
          }
        ]
      }
    },
    "/bizum/validate-phone": {
      "post": {
        "operationId": "bizum_validatePhone",
        "summary": "Validate Phone",
        "description": "Validates if a phone number is registered with Bizum.\n\nUse this endpoint to check if a customer's phone number can be used for Bizum payments\nbefore attempting to process a payment. This helps provide a better user experience by\npreventing failed payment attempts for non-registered numbers.\n\nThe response will indicate whether the phone number is valid for Bizum payments.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Bizum"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateBizumPhoneRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ValidateBizumPhoneResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.bizum.validatePhone({\n  accountId: '6dccce85-b290-40c2-bb9c-57bc7ecfaf04',\n  phoneNumber: '+34600000000'\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\Model\\ValidateBizumPhoneRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n$monei->bizum->validatePhone(\n    new ValidateBizumPhoneRequest(\n        [\n            'account_id' => '6dccce85-b290-40c2-bb9c-57bc7ecfaf04',\n            'phone_number' => '+34600000000'\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.bizum.validate_phone(\n    account_id=\"6dccce85-b290-40c2-bb9c-57bc7ecfaf04\", phone_number=\"+34600000000\"\n)\n"
          }
        ]
      }
    },
    "/payment-methods": {
      "get": {
        "operationId": "paymentMethods_get",
        "summary": "Get Payment Methods",
        "description": "Retrieve available payment methods for an account or a specific payment.\n\nYou can provide either an `accountId` or a `paymentId` as a query parameter to get the available payment methods.\n\nWhen providing a `paymentId`, the response will include additional payment-specific information such as amount and currency.\nThis is useful when you want to show payment options that are specifically available for a particular transaction.\n\nWhen providing an `accountId`, the response will include all payment methods available for that account based on\nthe merchant's configuration and supported payment methods.\n",
        "tags": [
          "Payment Methods"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "The ID of the account to get payment methods for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentId",
            "in": "query",
            "description": "The ID of the payment to get payment methods for",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetPaymentMethodsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.paymentMethods.get({accountId: '6dccce85-b290-40c2-bb9c-57bc7ecfaf04'});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\Model\\GetPaymentMethodsRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n$monei->paymentMethods->get(\n    new GetPaymentMethodsRequest(\n        [\n            'account_id' => '6dccce85-b290-40c2-bb9c-57bc7ecfaf04'\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\n\n# Get payment methods by accountId\nmonei.payment_methods.get(accountId=\"6dccce85-b290-40c2-bb9c-57bc7ecfaf04\")\n"
          }
        ]
      }
    },
    "/payments": {
      "post": {
        "operationId": "payments_create",
        "summary": "Create Payment",
        "description": "Creates a new payment with the specified parameters.\n\nYou can create a payment in two ways:\n\n1. **Immediate processing**: Provide a `paymentToken` or `paymentMethod` - The payment will be processed instantly\n2. **Deferred processing**: Create without payment details - The payment remains in `PENDING` status until you\n   confirm it later using the [confirm endpoint](https://docs.monei.com/apis/rest/payments-confirm/)\n\nWhen creating a payment without payment details, you can redirect customers to the hosted payment page\nwhere they can select their preferred payment method and complete the transaction.\n\nFor immediate processing, use one of these token options:\n\n- A temporary `paymentToken` generated on the frontend using [monei.js Components](https://docs.monei.com/monei-js/overview/)\n- A permanent `paymentToken` from a previous successful payment (when `generatePaymentToken: true` was included)\n\nPermanent tokens enable one-click checkout experiences for returning customers by allowing you to\nsecurely store and reuse payment details without requiring customers to re-enter their information.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              },
              "examples": {
                "basic": {
                  "$ref": "#/components/examples/CreatePaymentBasicRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Payment"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.payments.create({\n  amount: 110, // 1.10 EUR\n  currency: 'EUR',\n  orderId: '000001',\n  callbackUrl: 'https://example.com/checkout/callback',\n  completeUrl: 'https://example.com/checkout/complete'\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\Model\\CreatePaymentRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n$monei->payments->create(\n    new CreatePaymentRequest(\n        [\n            'amount' => 110,  // 1.10 EUR\n            'order_id' => '000001',\n            'currency' => 'EUR',\n            'callback_url' => 'https://example.com/checkout/callback',\n            'complete_url' => 'https://example.com/checkout/complete',\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\nfrom Monei import CreatePaymentRequest\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.payments.create(\n    CreatePaymentRequest(\n        amount=110,\n        currency=\"EUR\",\n        order_id=\"000001\",\n        callback_url=\"https://example.com/checkout/callback\",\n        complete_url=\"https://example.com/checkout/complete\",\n    )\n)\n"
          }
        ]
      }
    },
    "/payments/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/paymentId"
        }
      ],
      "get": {
        "operationId": "payments_get",
        "summary": "Get Payment",
        "description": "Retrieves the complete details of an existing payment by its unique ID.\n\nThis endpoint returns all available information about the payment, including its current status,\namount, customer details, timestamps, and transaction history. Use this to check the status of\na payment, verify payment details, or retrieve information for your records.\n\nSupply the unique payment ID that was returned from your previous request.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Payments"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Payment"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.payments.get('832b77d1a4b372349a7ae0bb1b2af059');\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n$monei->payments->get('832b77d1a4b372349a7ae0bb1b2af059');\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.payments.get(\"pay_7cc38b08ff471ccd313ad62b23b9f362\")\n"
          }
        ]
      }
    },
    "/payments/{id}/confirm": {
      "parameters": [
        {
          "$ref": "#/components/parameters/paymentId"
        }
      ],
      "post": {
        "operationId": "payments_confirm",
        "summary": "Confirm Payment",
        "description": "Confirms a payment that was created without payment details. This endpoint can only be used with\npayments in `PENDING` status.\n\nThe two-step payment flow:\n\n1. **Create**: First, create a payment without payment details (status: `PENDING`)\n2. **Confirm**: Then provide payment details to complete the transaction\n\nWhen confirming a payment, you can use:\n\n- A newly generated `paymentToken` from [monei.js Components](https://docs.monei.com/monei-js/overview/)\n- A permanent `paymentToken` from a previous payment (generated with `generatePaymentToken: true`)\n\nUsing permanent payment tokens enables one-click checkout experiences for returning customers\nwithout requiring them to re-enter their payment information.\n\nYou can provide additional customer information during confirmation, which will override\nany corresponding information originally passed in the payment creation request.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmPaymentRequest"
              },
              "examples": {
                "full": {
                  "$ref": "#/components/examples/ConfirmPaymentBasicRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Payment"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.payments.confirm('832b77d1a4b372349a7ae0bb1b2af059', {\n  paymentToken: '7cc38b08ff471ccd313ad62b23b9f362b107560b'\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\Model\\ConfirmPaymentRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n$monei->payments->confirm(\n    '832b77d1a4b372349a7ae0bb1b2af059',\n    new ConfirmPaymentRequest(\n        [\n            'payment_token' => '7cc38b08ff471ccd313ad62b23b9f362b107560b'\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\nfrom Monei import ConfirmPaymentRequest\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.payments.confirm(\n    \"832b77d1a4b372349a7ae0bb1b2af059\",\n    ConfirmPaymentRequest(payment_token=\"7cc38b08ff471ccd313ad62b23b9f362b107560b\"),\n)\n"
          }
        ]
      }
    },
    "/payments/{id}/capture": {
      "parameters": [
        {
          "$ref": "#/components/parameters/paymentId"
        }
      ],
      "post": {
        "operationId": "payments_capture",
        "summary": "Capture Payment",
        "description": "Captures funds from a previously authorized payment. This endpoint can only be used with payments\nin `AUTHORIZED` status. Both full and partial captures are supported — specify an `amount` less\nthan or equal to the original authorized amount to perform a partial capture.\n\nThis operation completes the two-step authorization flow:\n\n1. **Authorize**: Create a payment with `transactionType: AUTH` to hold or validate funds\n2. **Capture**: Transfer the funds to your account when ready to fulfill the order\n\n**Important**: The capture window depends on the payment method:\n\n- **Card payments**: Authorized payments expire after **7 days**.\n- **Bizum payments**: Authorized payments expire after **30 days**.\n\nAfter expiration, they will be marked as `EXPIRED` and can no longer be captured. Be sure to capture\nfunds within the applicable timeframe or communicate with your customer about a new payment.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CapturePaymentRequest"
              },
              "examples": {
                "full": {
                  "$ref": "#/components/examples/CapturePaymentFullRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Payment"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n// Capture a payment providing the payment id.\n// Optionally you can specify the amount to capture.\n// If amount is not specified, the total amount of the payment will be captured.\nmonei.payments.capture('832b77d1a4b372349a7ae0bb1b2af059', {\n  amount: 100 // 1.00 EUR\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\Model\\CapturePaymentRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n$monei->payments->capture(\n    '832b77d1a4b372349a7ae0bb1b2af059',\n    new CapturePaymentRequest(\n        [\n            'amount' => 100\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\nfrom Monei import CapturePaymentRequest\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.payments.capture(\n    \"832b77d1a4b372349a7ae0bb1b2af059\", CapturePaymentRequest(amount=100)\n)\n"
          }
        ]
      }
    },
    "/payments/{id}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/paymentId"
        }
      ],
      "post": {
        "operationId": "payments_cancel",
        "summary": "Cancel Payment",
        "description": "Releases reserved funds from a previously authorized payment. This endpoint can only\nbe used with payments in `AUTHORIZED` status.\n\nThis operation is part of the two-step authorization flow:\n\n1. **Authorize**: Create a payment with `transactionType: AUTH` to reserve funds\n2. **Cancel**: Release the reserved funds if you decide not to capture the payment\n\nCancellation makes the reserved funds available to the customer again and prevents you from\nbeing able to capture those funds in the future. Once cancelled, an authorization cannot be reactivated.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelPaymentRequest"
              },
              "examples": {
                "full": {
                  "$ref": "#/components/examples/CancelPaymentFullRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Payment"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei, PaymentCancellationReason} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.payments.cancel('832b77d1a4b372349a7ae0bb1b2af059', {\n  cancellationReason: PaymentCancellationReason.REQUESTED_BY_CUSTOMER\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\Model\\CancelPaymentRequest;\nuse Monei\\Model\\PaymentCancellationReason;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n$monei->payments->cancel(\n    '832b77d1a4b372349a7ae0bb1b2af059',\n    new CancelPaymentRequest(\n        [\n            'cancellation_reason' => PaymentCancellationReason::REQUESTED_BY_CUSTOMER\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\nfrom Monei import CancelPaymentRequest\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.payments.cancel(\n    \"832b77d1a4b372349a7ae0bb1b2af059\",\n    CancelPaymentRequest(cancellation_reason=\"requested_by_customer\"),\n)\n"
          }
        ]
      }
    },
    "/payments/{id}/refund": {
      "parameters": [
        {
          "$ref": "#/components/parameters/paymentId"
        }
      ],
      "post": {
        "operationId": "payments_refund",
        "summary": "Refund Payment",
        "description": "Returns funds from a completed payment back to the customer's original payment method.\n\n**Refund options:**\n\n- **Full refund**: Return the entire payment amount\n- **Partial refund**: Specify an amount less than the original payment\n- **Multiple partial refunds**: Issue several partial refunds until the total payment amount is reached\n\n**Limitations:**\n\n- You can only refund payments that have been successfully processed\n- A payment can only be refunded up to its original amount\n- Once fully refunded, a payment cannot be refunded again\n- Attempting to refund more than the remaining available amount will result in an error\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundPaymentRequest"
              },
              "examples": {
                "full": {
                  "$ref": "#/components/examples/RefundPaymentFullRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Payment"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei, PaymentRefundReason} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.payments.refund('832b77d1a4b372349a7ae0bb1b2af059', {\n  refundReason: PaymentRefundReason.REQUESTED_BY_CUSTOMER\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\Model\\PaymentRefundReason;\nuse Monei\\Model\\RefundPaymentRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n$monei->payments->refund(\n    '832b77d1a4b372349a7ae0bb1b2af059',\n    new RefundPaymentRequest(\n        [\n            'refund_reason' => PaymentRefundReason::REQUESTED_BY_CUSTOMER\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\nfrom Monei import RefundPaymentRequest\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.payments.refund(\n    \"832b77d1a4b372349a7ae0bb1b2af059\",\n    RefundPaymentRequest(refund_reason=\"requested_by_customer\"),\n)\n"
          }
        ]
      }
    },
    "/payments/{sequenceId}/recurring": {
      "parameters": [
        {
          "$ref": "#/components/parameters/sequenceId"
        }
      ],
      "post": {
        "operationId": "payments_recurring",
        "summary": "Recurring Payment",
        "description": "Creates a subsequent charge using the payment details from a previous transaction.\n\nThis endpoint enables recurring billing and subscription payments by:\n\n- Using the same payment method as the original payment\n- Charging the customer without requiring them to re-enter payment details\n- Supporting variable or fixed amounts (defaults to the original payment amount if not specified)\n\n**Prerequisites:**\n\n1. The initial payment must be created with the `sequence` parameter\n2. The initial payment will return a `sequenceId` in the response\n3. This `sequenceId` must be provided in the URL path when making subsequent recurring charges\n\nIdeal for subscription services, membership renewals, and installment payments.\n\n**Need more advanced subscription management?**\nFor comprehensive subscription management with features like billing cycles, trial periods,\nand automatic recurring billing, consider using the [Subscriptions API](https://docs.monei.com/apis/rest/subscriptions/)\ninstead. It provides a complete solution for creating and managing subscription-based services.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecurringPaymentRequest"
              },
              "examples": {
                "basic": {
                  "$ref": "#/components/examples/RecurringPaymentBasicRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Payment"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.payments.recurring('7cc38b08ff471ccd313ad62b23b9f362b107560b', {\n  orderId: '000001',\n  callbackUrl: 'https://example.com/checkout/callback'\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\Model\\RecurringPaymentRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n$monei->payments->recurring(\n    '7cc38b08ff471ccd313ad62b23b9f362b107560b',\n    new RecurringPaymentRequest(\n        [\n            'order_id' => '000001',\n            'callback_url' => 'https://example.com/checkout/callback',\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\nfrom Monei import RecurringPaymentRequest\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.payments.recurring(\n    \"7cc38b08ff471ccd313ad62b23b9f362b107560b\",\n    RecurringPaymentRequest(\n        order_id=\"000001\",\n        callback_url=\"https://example.com/checkout/callback\",\n    ),\n)\n"
          }
        ]
      }
    },
    "/payments/{id}/rtp": {
      "parameters": [
        {
          "$ref": "#/components/parameters/paymentId"
        }
      ],
      "post": {
        "operationId": "payments_sendRequest",
        "summary": "Send Payment Request",
        "description": "Sends a direct payment request to the customer's phone with smart channel selection.\n\n**Smart delivery logic based on customer phone capabilities:**\n\n- If the phone number is registered with Bizum and that payment method is available:\n  The customer receives a push notification in their banking app to instantly approve the payment\n- If Bizum is not available or the phone is not registered with Bizum:\n  The customer receives a payment link via WhatsApp to complete the payment\n\nThis endpoint provides a streamlined payment experience, especially for Spanish customers\nwith Bizum integration, enabling quick and convenient mobile payments.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendPaymentRequestRequest"
              },
              "examples": {
                "full": {
                  "$ref": "#/components/examples/SendPaymentFullRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Payment"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei, PaymentMessageLanguage} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.payments.sendRequest('832b77d1a4b372349a7ae0bb1b2af059', {\n  phoneNumber: '+34500000000',\n  language: PaymentMessageLanguage.ES\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\Model\\PaymentMessageLanguage;\nuse Monei\\Model\\SendPaymentRequestRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n$monei->payments->sendRequest(\n    '832b77d1a4b372349a7ae0bb1b2af059',\n    new SendPaymentRequestRequest(\n        [\n            'phone_number' => '+34500000000',\n            'language' => PaymentMessageLanguage::ES\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\nfrom Monei import SendPaymentRequestRequest\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.payments.send_request(\n    \"832b77d1a4b372349a7ae0bb1b2af059\",\n    SendPaymentRequestRequest(phone_number=\"+34500000000\", language=\"es\"),\n)\n"
          }
        ]
      }
    },
    "/payments/{id}/link": {
      "parameters": [
        {
          "$ref": "#/components/parameters/paymentId"
        }
      ],
      "post": {
        "operationId": "payments_sendLink",
        "summary": "Send Payment Link",
        "description": "Sends a payment link to the customer through their preferred communication channel.\n\n**This API can only be used for payments with the following status:**\n\n- Pending\n\n**Delivery channels are automatically selected based on available customer information:**\n\n- If customer email is available: Link is sent via email\n- If customer phone is available: Link is sent via WhatsApp\n- If WhatsApp delivery fails: Link is sent via SMS as a fallback\n\nThe payment link allows customers to complete the payment at their convenience using\ntheir preferred payment method on the secure MONEI payment page. If no customer contact information is provided, the system will use the details stored in the payment record.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendPaymentLinkRequest"
              },
              "examples": {
                "full": {
                  "$ref": "#/components/examples/SendPaymentLinkFullRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Payment"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei, PaymentMessageLanguage} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.payments.sendLink('832b77d1a4b372349a7ae0bb1b2af059', {\n  customerEmail: 'john.doe@example.com',\n  language: PaymentMessageLanguage.ES\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\Model\\PaymentMessageLanguage;\nuse Monei\\Model\\SendPaymentLinkRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n$monei->payments->sendLink(\n    '832b77d1a4b372349a7ae0bb1b2af059',\n    new SendPaymentLinkRequest(\n        [\n            'customer_email' => 'john.doe@example.com',\n            'language' => PaymentMessageLanguage::ES\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\nfrom Monei import SendPaymentLinkRequest\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.payments.send_link(\n    \"832b77d1a4b372349a7ae0bb1b2af059\",\n    SendPaymentLinkRequest(customer_email=\"john.doe@example.com\", language=\"es\"),\n)\n"
          }
        ]
      }
    },
    "/payments/{id}/receipt": {
      "parameters": [
        {
          "$ref": "#/components/parameters/paymentId"
        }
      ],
      "post": {
        "operationId": "payments_sendReceipt",
        "summary": "Send Payment Receipt",
        "description": "Sends a payment receipt to the customer through their preferred communication channel.\n\n**This API can only be used for payments with the following status:**\n\n- Succeeded\n\n**Delivery channels are automatically selected based on available customer information:**\n\n- If customer email is available: Receipt is sent via email\n- If customer phone is available: Receipt is sent via WhatsApp\n- If WhatsApp delivery fails: Receipt is sent via SMS as a fallback\n\nThe receipt includes payment details such as amount, date, transaction ID, and merchant\ninformation, providing customers with a record of their successful transaction. If no customer contact information is provided, the system will use the details stored in the payment record.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendPaymentReceiptRequest"
              },
              "examples": {
                "full": {
                  "$ref": "#/components/examples/SendPaymentReceiptFullRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Payment"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei, PaymentMessageLanguage} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.payments.sendReceipt('832b77d1a4b372349a7ae0bb1b2af059', {\n  customerEmail: 'john.doe@example.com',\n  language: PaymentMessageLanguage.ES\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\Model\\PaymentMessageLanguage;\nuse Monei\\Model\\SendPaymentReceiptRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n$monei->payments->sendReceipt(\n    '832b77d1a4b372349a7ae0bb1b2af059',\n    new SendPaymentReceiptRequest(\n        [\n            'customer_email' => 'john.doe@example.com',\n            'language' => PaymentMessageLanguage::ES\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\nfrom Monei import SendPaymentReceiptRequest\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.payments.send_receipt(\n    \"832b77d1a4b372349a7ae0bb1b2af059\",\n    SendPaymentReceiptRequest(customer_email=\"john.doe@example.com\", language=\"es\"),\n)\n"
          }
        ]
      }
    },
    "/pos/auth-token": {
      "post": {
        "operationId": "posAuthToken_create",
        "summary": "Create POS Auth Token",
        "description": "Generates an RS256-signed JWT token for POS terminal authentication.\n\nUse this endpoint to create an auth token that a POS terminal (via MONEI Pay) can use to process payments. This is designed for app-to-app flows where your backend generates the token and passes it to the MONEI Pay app running on a POS device.\n\n`pointOfSaleId` is optional — when provided, it is included in the JWT payload as `pos_id` and `device_id`, allowing you to associate payments with a specific terminal. `storeId` is also optional — included as `store_id` when provided. If `pointOfSaleId` is omitted, the system generates a `device_id` automatically.\n\nThe token is valid for 24 hours.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "POS Auth Token"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePosAuthTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreatePosAuthTokenResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.posAuthToken.create({\n  pointOfSaleId: 'a99993f4b76a1d1a1c7af6ae668b906995aedc93',\n  storeId: 'b88882e3a65b0c0b0b6ae5bd557a805884bedb82'\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\Model\\CreatePosAuthTokenRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n$monei->posAuthToken->create(\n    new CreatePosAuthTokenRequest(\n        [\n            'point_of_sale_id' => 'a99993f4b76a1d1a1c7af6ae668b906995aedc93',\n            'store_id' => 'b88882e3a65b0c0b0b6ae5bd557a805884bedb82'\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.pos_auth_token.create(point_of_sale_id=\"a99993f4b76a1d1a1c7af6ae668b906995aedc93\", store_id=\"b88882e3a65b0c0b0b6ae5bd557a805884bedb82\")\n"
          }
        ]
      }
    },
    "/subscriptions": {
      "post": {
        "operationId": "subscriptions_create",
        "summary": "Create Subscription",
        "description": "Creates a new subscription with the specified parameters.\n\n**Subscription Lifecycle**:\n\n1. When first created, the subscription has a `PENDING` status\n2. To initiate billing, you must call the [activate endpoint](https://docs.monei.com/apis/rest/subscriptions-activate/) with payment details\n3. Once activated, the subscription will automatically bill according to the configured interval\n\n**Key Configuration Parameters**:\n\n- **Billing settings**: Amount, currency, interval (daily, weekly, monthly, yearly)\n- **Schedule customization**: Interval count, trial period duration\n- **Allowed payment methods**: An array of strings specifying which payment methods are allowed for this subscription (e.g., `card`, `bizum`)\n- **Customer information**: Contact details, billing and shipping addresses\n- **Communication**: Callback URLs for webhook notifications about subscription events\n\n**Best Practices**:\n\n- Set clear, descriptive names for subscriptions to help with identification\n- Configure appropriate webhook notifications to monitor subscription status changes\n- Consider offering trial periods to increase customer conversion rates\n- Use metadata to store additional information relevant to your business logic\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionRequest"
              },
              "examples": {
                "basic": {
                  "$ref": "#/components/examples/CreateSubscriptionBasicRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Subscription"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.subscriptions.create({\n  customer: {\n    name: 'John Doe',\n    email: 'john.doe@monei.com'\n  },\n  amount: 110,\n  currency: 'EUR',\n  interval: 'month',\n  intervalCount: 1,\n  description: 'MoonMail Lite Monthly',\n  callbackUrl: 'https://example.com/subscription/callback',\n  paymentCallbackUrl: 'https://example.com/payment/callback'\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once (__DIR__ . '/vendor/autoload.php');\n\nuse Monei\\Model\\CreateSubscriptionRequest;\nuse Monei\\Model\\PaymentCustomer;\nuse Monei\\Model\\SubscriptionInterval;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n$request = new CreateSubscriptionRequest([\n    'customer' => new PaymentCustomer([\n        'name' => 'John Doe',\n        'email' => 'john.doe@monei.com'\n    ]),\n    'amount' => 110,\n    'currency' => 'EUR',\n    'interval' => SubscriptionInterval::MONTH,\n    'interval_count' => 1,\n    'description' => 'MoonMail Lite Monthly',\n    'callback_url' => 'https://example.com/subscription/callback',\n    'payment_callback_url' => 'https://example.com/payment/callback'\n]);\n\n$monei->subscriptions->create($request);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\nfrom Monei import CreateSubscriptionRequest, PaymentCustomer\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.subscriptions.create(\n    CreateSubscriptionRequest(\n        amount=110,\n        currency=\"EUR\",\n        interval=\"month\",\n        interval_count=1,\n        description=\"MoonMail Lite Monthly\",\n        customer=PaymentCustomer(name=\"John Doe\", email=\"john.doe@monei.com\"),\n        callback_url=\"https://example.com/subscription/callback\",\n        payment_callback_url=\"https://example.com/payment/callback\",\n    )\n)\n"
          }
        ]
      }
    },
    "/subscriptions/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/subscriptionId"
        }
      ],
      "get": {
        "operationId": "subscriptions_get",
        "summary": "Get Subscription",
        "description": "Retrieves the complete details of an existing subscription by its unique ID.\n\nThis endpoint returns comprehensive information about the subscription, including:\n\n- Current status and lifecycle details (active, paused, canceled)\n- Billing configuration (amount, currency, interval)\n- Schedule information (current period, next payment date)\n- Customer and payment method details\n- Payment history (including last payment status)\n- Trial period information (if applicable)\n\nUse this endpoint to check subscription status, verify billing details, or retrieve\ninformation needed for customer support inquiries.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Subscriptions"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Subscription"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.subscriptions.get('575bcd84-09fc-4a6e-8c4c-f88b8eb90bfa');\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once (__DIR__ . '/vendor/autoload.php');\n\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n$monei->subscriptions->get('575bcd84-09fc-4a6e-8c4c-f88b8eb90bfa');\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.subscriptions.get(\"sub_7cc38b08ff471ccd313ad62b23b9f362\")\n"
          }
        ]
      },
      "put": {
        "operationId": "subscriptions_update",
        "summary": "Update Subscription",
        "description": "Updates the configuration of an existing subscription.\n\n**Modifiable Parameters**:\n\n- Billing information (amount, description, allowedPaymentMethods)\n- Customer details (contact information, billing/shipping addresses)\n- Subscription settings (cancelAtPeriodEnd, pauseAtPeriodEnd, skipIntervalCount)\n- Metadata (for your internal tracking)\n\n**Update Effects**:\n\n- Amount changes apply to the next billing cycle\n- Customer information updates take effect immediately\n- Setting `cancelAtPeriodEnd` to true will end the subscription after the current period\n- Setting `pauseAtPeriodEnd` to true will pause billing after the current period\n- Setting `skipIntervalCount` skips billing for the specified number of intervals without changing subscription status\n\n**Note**: Some fundamental properties cannot be changed once a subscription is created,\nincluding currency and billing interval. To modify these, you would need to cancel the\nexisting subscription and create a new one.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubscriptionRequest"
              },
              "examples": {
                "basic": {
                  "$ref": "#/components/examples/UpdateSubscriptionBasicRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Subscription"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.subscriptions.update('575bcd84-09fc-4a6e-8c4c-f88b8eb90bfa', {amount: 990});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once (__DIR__ . '/vendor/autoload.php');\n\nuse Monei\\Model\\UpdateSubscriptionRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n$monei->subscriptions->update(\n    '575bcd84-09fc-4a6e-8c4c-f88b8eb90bfa',\n    new UpdateSubscriptionRequest(\n        [\n            'amount' => 990\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\nfrom Monei import UpdateSubscriptionRequest\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.subscriptions.update(\n    \"575bcd84-09fc-4a6e-8c4c-f88b8eb90bfa\", UpdateSubscriptionRequest(amount=990)\n)\n"
          }
        ]
      }
    },
    "/subscriptions/{id}/activate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/subscriptionId"
        }
      ],
      "post": {
        "operationId": "subscriptions_activate",
        "summary": "Activate Subscription",
        "description": "Activates a subscription by attaching a payment method and initiating the billing cycle.\n\n**Activation Process**:\n\n1. This endpoint transitions a `PENDING` subscription to `ACTIVE` status\n2. An initial payment is created to validate the payment method:\n   - For regular subscriptions: First billing cycle payment is processed immediately\n   - For trial subscriptions: A zero-amount payment is created to verify the payment method\n\n**Payment Method Updates**:\nIf the subscription is already active, this endpoint can be used to update the payment method.\nThe update process creates a zero-amount payment to verify the new payment method works correctly.\n\n**Important Notes**:\n\n- Subscription billing begins immediately upon successful activation (unless in trial period)\n- The payment method provided will be used for all future recurring charges\n- Activation failures (due to invalid payment method) will keep the subscription in `PENDING` status\n- You can specify `allowedPaymentMethods` to restrict which payment methods (e.g., `card`, `bizum`) are accepted for the subscription\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivateSubscriptionRequest"
              },
              "examples": {
                "basic": {
                  "$ref": "#/components/examples/ActivateSubscriptionBasicRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Payment"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.subscriptions.activate('575bcd84-09fc-4a6e-8c4c-f88b8eb90bfa', {\n  paymentToken: '7cc38b08ff471ccd313ad62b23b9f362b107560b'\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once (__DIR__ . '/vendor/autoload.php');\n\nuse Monei\\Model\\ActivateSubscriptionRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n$monei->subscriptions->activate(\n    '575bcd84-09fc-4a6e-8c4c-f88b8eb90bfa',\n    new ActivateSubscriptionRequest(\n        [\n            'payment_token' => '7cc38b08ff471ccd313ad62b23b9f362b107560b'\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\nfrom Monei import ActivateSubscriptionRequest\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.subscriptions.activate(\n    \"575bcd84-09fc-4a6e-8c4c-f88b8eb90bfa\",\n    ActivateSubscriptionRequest(\n        payment_token=\"7cc38b08ff471ccd313ad62b23b9f362b107560b\"\n    ),\n)\n"
          }
        ]
      }
    },
    "/subscriptions/{id}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/subscriptionId"
        }
      ],
      "post": {
        "operationId": "subscriptions_cancel",
        "summary": "Cancel Subscription",
        "description": "Cancels an active subscription, permanently stopping the billing cycle.\n\n**Cancellation Effects**:\n\n- The subscription status changes to `CANCELED`\n- No further charges will be processed\n- Access to subscription services typically ends immediately or at period end (depending on your business rules)\n\n**Important Notes**:\n\n- Cancellation is permanent and cannot be undone\n- To restart service, a new subscription must be created\n- Consider using `pauseAtPeriodEnd` or `cancelAtPeriodEnd` for softer transitions\n\nUse this endpoint when a customer wishes to completely terminate their subscription.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelSubscriptionRequest"
              },
              "examples": {
                "basic": {
                  "$ref": "#/components/examples/CancelSubscriptionBasicRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Subscription"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.subscriptions.cancel('575bcd84-09fc-4a6e-8c4c-f88b8eb90bfa', {cancelAtPeriodEnd: true});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once (__DIR__ . '/vendor/autoload.php');\n\nuse Monei\\Model\\CancelSubscriptionRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n$monei->subscriptions->cancel(\n    '575bcd84-09fc-4a6e-8c4c-f88b8eb90bfa',\n    new CancelSubscriptionRequest(\n        [\n            'cancel_at_period_end' => true\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\nfrom Monei import CancelSubscriptionRequest\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.subscriptions.cancel(\n    \"575bcd84-09fc-4a6e-8c4c-f88b8eb90bfa\",\n    CancelSubscriptionRequest(cancel_at_period_end=True),\n)\n"
          }
        ]
      }
    },
    "/subscriptions/{id}/pause": {
      "parameters": [
        {
          "$ref": "#/components/parameters/subscriptionId"
        }
      ],
      "post": {
        "operationId": "subscriptions_pause",
        "summary": "Pause Subscription",
        "description": "Pauses an active subscription, temporarily halting the billing cycle.\n\n**Pause Effects**:\n\n- Billing is immediately suspended\n- The subscription status changes to `PAUSED`\n- No charges will be processed while the subscription remains paused\n- The current billing period end date remains unchanged\n\n**Use Cases**:\n\n- Temporary service interruptions\n- Customer vacation or absence periods\n- Account maintenance or dispute resolution\n\nTo resume billing, use the [resume endpoint](https://docs.monei.com/apis/rest/subscriptions-resume/).\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PauseSubscriptionRequest"
              },
              "examples": {
                "basic": {
                  "$ref": "#/components/examples/PauseSubscriptionBasicRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Subscription"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.subscriptions.pause('575bcd84-09fc-4a6e-8c4c-f88b8eb90bfa', {pauseAtPeriodEnd: true});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once (__DIR__ . '/vendor/autoload.php');\n\nuse Monei\\Model\\PauseSubscriptionRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n$monei->subscriptions->pause(\n    '575bcd84-09fc-4a6e-8c4c-f88b8eb90bfa',\n    new PauseSubscriptionRequest(\n        [\n            'pause_at_period_end' => true\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\nfrom Monei import PauseSubscriptionRequest\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.subscriptions.pause(\n    \"575bcd84-09fc-4a6e-8c4c-f88b8eb90bfa\",\n    PauseSubscriptionRequest(pause_at_period_end=True),\n)\n"
          }
        ]
      }
    },
    "/subscriptions/{id}/resume": {
      "parameters": [
        {
          "$ref": "#/components/parameters/subscriptionId"
        }
      ],
      "post": {
        "operationId": "subscriptions_resume",
        "summary": "Resume Subscription",
        "description": "Resumes a previously paused subscription, reactivating the billing cycle.\n\n**Resume Effects**:\n\n- Billing is immediately reactivated\n- The subscription status changes from `PAUSED` to `ACTIVE`\n- The next billing date is recalculated based on the current date\n- Regular charging schedule resumes according to the subscription interval\n\n**Important Notes**:\n\n- No immediate charge is created when resuming (billing continues on next scheduled date)\n- Any pause duration is added to the current billing period, maintaining the expected number of billing cycles\n- If a significant time has passed, verify that the payment method is still valid\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Subscriptions"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Subscription"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.subscriptions.resume('575bcd84-09fc-4a6e-8c4c-f88b8eb90bfa');\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once (__DIR__ . '/vendor/autoload.php');\n\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n$monei->subscriptions->resume('575bcd84-09fc-4a6e-8c4c-f88b8eb90bfa');\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.subscriptions.resume(\"sub_7cc38b08ff471ccd313ad62b23b9f362\")\n"
          }
        ]
      }
    },
    "/subscriptions/{id}/link": {
      "parameters": [
        {
          "$ref": "#/components/parameters/subscriptionId"
        }
      ],
      "post": {
        "operationId": "subscriptions_sendLink",
        "summary": "Send Subscription Link",
        "description": "Sends a subscription activation link to the customer through their preferred communication channel.\n\n**This API can only be used for subscriptions with the following status:**\n\n- Pending\n\n**Delivery channels are automatically selected based on available customer information:**\n\n- If customer email is available: Link is sent via email\n- If customer phone is available: Link is sent via WhatsApp\n- If WhatsApp delivery fails: Link is sent via SMS as a fallback\n\nThe subscription activation link allows customers to complete their subscription setup by providing payment details on the secure MONEI payment page. If no customer contact information is provided, the system will use the details stored in the subscription record.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSubscriptionLinkRequest"
              },
              "examples": {
                "basic": {
                  "$ref": "#/components/examples/SendSubscriptionLinkBasicRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Subscription"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.subscriptions.sendLink('sub_7cc38b08ff471ccd313ad62b23b9f362', {\n  email: 'customer@example.com',\n  language: 'en'\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once __DIR__ . '/vendor/autoload.php';\n\nuse Monei\\Model\\SendSubscriptionLinkRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n$monei->subscriptions->sendLink(\n    'sub_7cc38b08ff471ccd313ad62b23b9f362',\n    new SendSubscriptionLinkRequest(\n        [\n            'customer_email' => 'customer@example.com',\n            'language' => 'en'\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\nfrom Monei import SendSubscriptionLinkRequest\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.subscriptions.send_link(\n    \"sub_7cc38b08ff471ccd313ad62b23b9f362\",\n    SendSubscriptionLinkRequest(customer_email=\"customer@example.com\", language=\"en\"),\n)\n"
          }
        ]
      }
    },
    "/subscriptions/{id}/status": {
      "parameters": [
        {
          "$ref": "#/components/parameters/subscriptionId"
        }
      ],
      "post": {
        "operationId": "subscriptions_sendStatus",
        "summary": "Send Subscription Status",
        "description": "Sends subscription status information to the customer through their preferred communication channel.\n\n**This API can only be used for subscriptions with the following statuses:**\n\n- Active\n- Trialing\n- Past due\n\n**Delivery channels are automatically selected based on available customer information:**\n\n- If customer email is available: Status is sent via email\n- If customer phone is available: Status is sent via WhatsApp\n- If WhatsApp delivery fails: Status is sent via SMS as a fallback\n\nThe status notification includes subscription details such as current status, upcoming payments, and recent changes. If no customer contact information is provided, the system will use the details stored in the subscription record.\n\n**Email notifications include contextual action links based on subscription status:**\n\n- For past due subscriptions: A link to reactivate the subscription\n- For active and trialing subscriptions: A link to update the payment method\n\nYou can specify the customer's email or phone number, the preferred communication channel (email or SMS), and the language for the message.\n",
        "security": [
          {
            "APIKey": []
          }
        ],
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSubscriptionStatusRequest"
              },
              "examples": {
                "basic": {
                  "$ref": "#/components/examples/SendSubscriptionStatusBasicRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Subscription"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import {Monei} from '@monei-js/node-sdk';\n\nconst monei = new Monei('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\nmonei.subscriptions.sendStatus('sub_7cc38b08ff471ccd313ad62b23b9f362', {\n  email: 'customer@example.com',\n  language: 'en'\n});\n",
            "label": "NodeJS"
          },
          {
            "lang": "PHP",
            "source": "<?php\nrequire_once (__DIR__ . '/vendor/autoload.php');\n\nuse Monei\\Model\\SendSubscriptionStatusRequest;\nuse Monei\\MoneiClient;\n\n$monei = new MoneiClient('pk_test_36cf3e8a15eff3f5be983562ea6b13ec');\n\n$monei->subscriptions->sendStatus(\n    'sub_7cc38b08ff471ccd313ad62b23b9f362',\n    new SendSubscriptionStatusRequest(\n        [\n            'customer_email' => 'customer@example.com',\n            'language' => 'en'\n        ]\n    )\n);\n"
          },
          {
            "lang": "Python",
            "source": "import Monei\nfrom Monei import SendSubscriptionStatusRequest\n\nmonei = Monei.MoneiClient(api_key=\"pk_test_36cf3e8a15eff3f5be983562ea6b13ec\")\n\nmonei.subscriptions.send_status(\n    \"sub_7cc38b08ff471ccd313ad62b23b9f362\",\n    SendSubscriptionStatusRequest(customer_email=\"customer@example.com\", language=\"en\"),\n)\n"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "APIKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "The MONEI API uses API keys to authenticate requests. Each request must include your API key in the `Authorization` header. You can view and manage your API keys in the [MONEI Dashboard](https://dashboard.monei.com/settings/api). MONEI provides two types of API keys: test mode keys (prefixed with `pk_test_`) and live mode keys (prefixed with `pk_live_`).\n"
      },
      "AccountId": {
        "type": "apiKey",
        "in": "header",
        "name": "MONEI-Account-ID",
        "description": "If you're integrating with MONEI as a partner or platform, you'll need to use both your Master Account API Key and the Account ID of the merchant you're acting on behalf of. You can find the Account ID for each connected merchant in your [MONEI Partner Dashboard](https://admin.monei.com).\n"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request is incorrect or could not be processed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestError"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized error. Please check your auth credentials",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnauthorizedError"
            }
          }
        }
      },
      "NotFound": {
        "description": "The specified resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotFoundError"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Unexpected server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerError"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "The service is temporarily unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ServiceUnavailableError"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "The request was well-formed but could not be processed due to semantic errors",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnprocessableEntityError"
            }
          }
        }
      },
      "ApplePayCertificateResponse": {
        "description": "A certificate object",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApplePayCertificate"
            }
          }
        }
      },
      "ApplePayCertificateListResponse": {
        "description": "A list of certificates",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
[...]
