{
  "openapi": "3.0.3",
  "info": {
    "title": "CATS API",
    "version": "3.0.0",
    "description": "CATS (Applicant Tracking System) API provides access to manage candidates, companies, contacts, jobs, pipelines, tasks, and other recruitment-related resources. Rate limited to 500 requests per rolling hour.",
    "x-jentic-source-url": "http://docs.catsone.com/api/v3/"
  },
  "servers": [
    {
      "url": "https://api.catsone.com/v3"
    }
  ],
  "paths": {
    "/activities": {
      "get": {
        "operationId": "listActivities",
        "summary": "List all activities",
        "tags": ["Activities"],
        "parameters": [
          {"name": "page", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ActivityListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/activities/{id}": {
      "get": {
        "operationId": "getActivity",
        "summary": "Get an activity",
        "tags": ["Activities"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Activity"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateActivity",
        "summary": "Update an activity",
        "tags": ["Activities"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ActivityInput"}}}},
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteActivity",
        "summary": "Delete an activity",
        "tags": ["Activities"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/activities/search": {
      "get": {
        "operationId": "searchActivities",
        "summary": "Search activities",
        "tags": ["Activities"],
        "parameters": [
          {"name": "query", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ActivityListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "filterActivities",
        "summary": "Filter activities",
        "tags": ["Activities"],
        "parameters": [
          {"name": "query", "in": "query", "schema": {"type": "string"}},
          {"name": "page", "in": "query", "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "schema": {"type": "string"}}
        ],
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/FilterInput"}}}},
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ActivityListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/attachments/{id}": {
      "get": {
        "operationId": "getAttachment",
        "summary": "Get an attachment",
        "tags": ["Attachments"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Attachment"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteAttachment",
        "summary": "Delete an attachment",
        "tags": ["Attachments"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/attachments/{id}/download": {
      "get": {
        "operationId": "downloadAttachment",
        "summary": "Download an attachment",
        "tags": ["Attachments"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "File download"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/attachments/parse": {
      "post": {
        "operationId": "parseResume",
        "summary": "Parse a resume",
        "tags": ["Attachments"],
        "requestBody": {"required": true, "content": {"application/octet-stream": {"schema": {"type": "string", "format": "binary"}}}},
        "responses": {
          "200": {"description": "Parsed resume data", "content": {"application/json": {"schema": {"type": "object"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/backups": {
      "get": {
        "operationId": "listBackups",
        "summary": "List all backups",
        "tags": ["Backups"],
        "parameters": [
          {"name": "page", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createBackup",
        "summary": "Create a backup",
        "tags": ["Backups"],
        "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"include_attachments": {"type": "boolean"}, "include_emails": {"type": "boolean"}}}}}},
        "responses": {
          "201": {"description": "Created"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/backups/{id}": {
      "get": {
        "operationId": "getBackup",
        "summary": "Get a backup",
        "tags": ["Backups"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/candidates": {
      "get": {
        "operationId": "listCandidates",
        "summary": "List all candidates",
        "tags": ["Candidates"],
        "parameters": [
          {"name": "page", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CandidateListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createCandidate",
        "summary": "Create a candidate",
        "tags": ["Candidates"],
        "parameters": [{"name": "check_duplicate", "in": "query", "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CandidateInput"}}}},
        "responses": {
          "201": {"description": "Created"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/candidates/{id}": {
      "get": {
        "operationId": "getCandidate",
        "summary": "Get a candidate",
        "tags": ["Candidates"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Candidate"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateCandidate",
        "summary": "Update a candidate",
        "tags": ["Candidates"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CandidateInput"}}}},
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteCandidate",
        "summary": "Delete a candidate",
        "tags": ["Candidates"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/candidates/authorization": {
      "post": {
        "operationId": "authorizeCandidate",
        "summary": "Authorize a candidate",
        "tags": ["Candidates"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"email": {"type": "string"}, "password": {"type": "string"}}}}}},
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/candidates/{id}/pipelines": {
      "get": {
        "operationId": "listCandidatePipelines",
        "summary": "List pipelines by candidate",
        "tags": ["Candidates"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/candidates/{id}/tasks": {
      "get": {
        "operationId": "listCandidateTasks",
        "summary": "List candidate tasks",
        "tags": ["Candidates"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/candidates/search": {
      "get": {
        "operationId": "searchCandidates",
        "summary": "Search candidates",
        "tags": ["Candidates"],
        "parameters": [
          {"name": "query", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CandidateListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "filterCandidates",
        "summary": "Filter candidates",
        "tags": ["Candidates"],
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/FilterInput"}}}},
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CandidateListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/candidates/{candidate_id}/phones": {
      "get": {
        "operationId": "listCandidatePhones",
        "summary": "List candidate phones",
        "tags": ["Candidates"],
        "parameters": [
          {"name": "candidate_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createCandidatePhone",
        "summary": "Create a candidate phone",
        "tags": ["Candidates"],
        "parameters": [{"name": "candidate_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PhoneInput"}}}},
        "responses": {
          "201": {"description": "Created"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/candidates/{candidate_id}/phones/{id}": {
      "get": {
        "operationId": "getCandidatePhone",
        "summary": "Get a candidate phone",
        "tags": ["Candidates"],
        "parameters": [
          {"name": "candidate_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateCandidatePhone",
        "summary": "Update a candidate phone",
        "tags": ["Candidates"],
        "parameters": [
          {"name": "candidate_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/PhoneInput"}}}},
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteCandidatePhone",
        "summary": "Delete a candidate phone",
        "tags": ["Candidates"],
        "parameters": [
          {"name": "candidate_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/candidates/{candidate_id}/emails": {
      "get": {
        "operationId": "listCandidateEmails",
        "summary": "List candidate emails",
        "tags": ["Candidates"],
        "parameters": [
          {"name": "candidate_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createCandidateEmail",
        "summary": "Create a candidate email",
        "tags": ["Candidates"],
        "parameters": [{"name": "candidate_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EmailInput"}}}},
        "responses": {
          "201": {"description": "Created"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/candidates/{candidate_id}/emails/{id}": {
      "get": {
        "operationId": "getCandidateEmail",
        "summary": "Get a candidate email",
        "tags": ["Candidates"],
        "parameters": [
          {"name": "candidate_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateCandidateEmail",
        "summary": "Update a candidate email",
        "tags": ["Candidates"],
        "parameters": [
          {"name": "candidate_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/EmailInput"}}}},
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteCandidateEmail",
        "summary": "Delete a candidate email",
        "tags": ["Candidates"],
        "parameters": [
          {"name": "candidate_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/candidates/{id}/activities": {
      "get": {
        "operationId": "listCandidateActivities",
        "summary": "List candidate activities",
        "tags": ["Candidates"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createCandidateActivity",
        "summary": "Create a candidate activity",
        "tags": ["Candidates"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ActivityInput"}}}},
        "responses": {
          "201": {"description": "Created"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/candidates/{id}/attachments": {
      "get": {
        "operationId": "listCandidateAttachments",
        "summary": "List candidate attachments",
        "tags": ["Candidates"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "uploadCandidateAttachment",
        "summary": "Upload a candidate attachment",
        "tags": ["Candidates"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "filename", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {"required": true, "content": {"application/octet-stream": {"schema": {"type": "string", "format": "binary"}}}},
        "responses": {
          "201": {"description": "Created"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/candidates/{id}/tags": {
      "get": {
        "operationId": "listCandidateTags",
        "summary": "List all candidate tags",
        "tags": ["Candidates"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "replaceCandidateTags",
        "summary": "Replace candidate tags",
        "tags": ["Candidates"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"tags": {"type": "array", "items": {"type": "string"}}}}}}},
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "attachCandidateTags",
        "summary": "Attach candidate tags",
        "tags": ["Candidates"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"tags": {"type": "array", "items": {"type": "string"}}}}}}},
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/companies": {
      "get": {
        "operationId": "listCompanies",
        "summary": "List all companies",
        "tags": ["Companies"],
        "parameters": [
          {"name": "page", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createCompany",
        "summary": "Create a company",
        "tags": ["Companies"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "201": {"description": "Created"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/companies/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get a company",
        "tags": ["Companies"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateCompany",
        "summary": "Update a company",
        "tags": ["Companies"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteCompany",
        "summary": "Delete a company",
        "tags": ["Companies"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "List all contacts",
        "tags": ["Contacts"],
        "parameters": [
          {"name": "page", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createContact",
        "summary": "Create a contact",
        "tags": ["Contacts"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "201": {"description": "Created"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/contacts/{id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Get a contact",
        "tags": ["Contacts"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateContact",
        "summary": "Update a contact",
        "tags": ["Contacts"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete a contact",
        "tags": ["Contacts"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List all events",
        "tags": ["Events"],
        "parameters": [
          {"name": "after_id", "in": "query", "schema": {"type": "string"}, "description": "Return events after this ID"},
          {"name": "after_timestamp", "in": "query", "schema": {"type": "string"}, "description": "Return events after this timestamp"}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/jobs": {
      "get": {
        "operationId": "listJobs",
        "summary": "List all jobs",
        "tags": ["Jobs"],
        "parameters": [
          {"name": "page", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createJob",
        "summary": "Create a job",
        "tags": ["Jobs"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "201": {"description": "Created"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/jobs/{id}": {
      "get": {
        "operationId": "getJob",
        "summary": "Get a job",
        "tags": ["Jobs"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateJob",
        "summary": "Update a job",
        "tags": ["Jobs"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteJob",
        "summary": "Delete a job",
        "tags": ["Jobs"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/pipelines": {
      "get": {
        "operationId": "listPipelines",
        "summary": "List all pipelines",
        "tags": ["Pipelines"],
        "parameters": [
          {"name": "page", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createPipeline",
        "summary": "Create a pipeline",
        "tags": ["Pipelines"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "201": {"description": "Created"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/pipelines/{id}": {
      "get": {
        "operationId": "getPipeline",
        "summary": "Get a pipeline",
        "tags": ["Pipelines"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updatePipeline",
        "summary": "Update a pipeline",
        "tags": ["Pipelines"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deletePipeline",
        "summary": "Delete a pipeline",
        "tags": ["Pipelines"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/portals": {
      "get": {
        "operationId": "listPortals",
        "summary": "List all portals",
        "tags": ["Portals"],
        "parameters": [
          {"name": "page", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/portals/{id}": {
      "get": {
        "operationId": "getPortal",
        "summary": "Get a portal",
        "tags": ["Portals"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/site": {
      "get": {
        "operationId": "getSite",
        "summary": "Get site information",
        "tags": ["Site"],
        "responses": {
          "200": {"description": "Successful response"},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "List all tags",
        "tags": ["Tags"],
        "parameters": [
          {"name": "page", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/tags/{id}": {
      "get": {
        "operationId": "getTag",
        "summary": "Get a tag",
        "tags": ["Tags"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List all tasks",
        "tags": ["Tasks"],
        "parameters": [
          {"name": "page", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createTask",
        "summary": "Create a task",
        "tags": ["Tasks"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "201": {"description": "Created"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/tasks/{id}": {
      "get": {
        "operationId": "getTask",
        "summary": "Get a task",
        "tags": ["Tasks"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateTask",
        "summary": "Update a task",
        "tags": ["Tasks"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteTask",
        "summary": "Delete a task",
        "tags": ["Tasks"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/triggers": {
      "get": {
        "operationId": "listTriggers",
        "summary": "List all triggers",
        "tags": ["Triggers"],
        "parameters": [
          {"name": "page", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/triggers/{id}": {
      "get": {
        "operationId": "getTrigger",
        "summary": "Get a trigger",
        "tags": ["Triggers"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List all users",
        "tags": ["Users"],
        "parameters": [
          {"name": "page", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/users/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user",
        "tags": ["Users"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List all webhooks",
        "tags": ["Webhooks"],
        "parameters": [
          {"name": "page", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "tags": ["Webhooks"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "201": {"description": "Created"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/webhooks/{id}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Get a webhook",
        "tags": ["Webhooks"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook",
        "tags": ["Webhooks"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Activity": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "type": {"type": "string"},
          "regarding_id": {"type": "string"},
          "notes": {"type": "string"},
          "date": {"type": "string", "format": "date-time"}
        }
      },
      "ActivityInput": {
        "type": "object",
        "required": ["type"],
        "properties": {
          "type": {"type": "string"},
          "regarding_id": {"type": "string"},
          "notes": {"type": "string"},
          "date": {"type": "string", "format": "date-time"}
        }
      },
      "ActivityListResponse": {
        "type": "object",
        "properties": {
          "data": {"type": "array", "items": {"$ref": "#/components/schemas/Activity"}},
          "total": {"type": "integer"}
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "filename": {"type": "string"},
          "content_type": {"type": "string"},
          "size": {"type": "integer"}
        }
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "first_name": {"type": "string"},
          "last_name": {"type": "string"},
          "middle_name": {"type": "string"},
          "title": {"type": "string"},
          "emails": {"type": "array", "items": {"type": "object", "properties": {"email": {"type": "string"}, "is_primary": {"type": "boolean"}}}},
          "phones": {"type": "array", "items": {"type": "object", "properties": {"number": {"type": "string"}, "type": {"type": "string"}}}},
          "address": {"type": "string"},
          "country_code": {"type": "string"}
        }
      },
      "CandidateInput": {
        "type": "object",
        "required": ["first_name", "last_name"],
        "properties": {
          "first_name": {"type": "string"},
          "last_name": {"type": "string"},
          "middle_name": {"type": "string"},
          "title": {"type": "string"},
          "address": {"type": "string"},
          "country_code": {"type": "string"}
        }
      },
      "CandidateListResponse": {
        "type": "object",
        "properties": {
          "data": {"type": "array", "items": {"$ref": "#/components/schemas/Candidate"}},
          "total": {"type": "integer"}
        }
      },
      "PhoneInput": {
        "type": "object",
        "required": ["number", "type"],
        "properties": {
          "number": {"type": "string"},
          "extension": {"type": "string"},
          "type": {"type": "string"}
        }
      },
      "EmailInput": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {"type": "string"},
          "is_primary": {"type": "boolean"}
        }
      },
      "FilterInput": {
        "type": "object",
        "properties": {
          "field": {"type": "string"},
          "filter": {"type": "string"},
          "value": {"type": "string"}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {"type": "string", "enum": ["error"]},
          "code": {"type": "string"},
          "message": {"type": "string"}
        }
      }
    },
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token-based authentication. Format: Token <Your API Key>"
      }
    }
  },
  "security": [
    {"tokenAuth": []}
  ]
}
