{
  "openapi": "3.0.0",
  "info": {
    "title": "Coincap OpenAPI",
    "version": "3.0.0",
    "x-jentic-source-url": "https://rest.coincap.io/api-docs.json"
  },
  "servers": [
    {
      "url": "https://rest.coincap.io"
    }
  ],
  "paths": {
    "/v3/assets": {
      "get": {
        "summary": "Retrieve a list of assets",
        "description": "Retrieve a list of assets with optional filters and pagination.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "search by asset slug (bitcoin) or symbol (BTC)"
          },
          {
            "in": "query",
            "name": "ids",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of asset ids (aka slugs). query with multiple ids=bitcoin,ethereum,monero"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results to return (default is 100)"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results to skip (default is 0)"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix timestamp when the data was retrieved",
                      "example": 1726081635506
                    },
                    "data": {
                      "type": "array",
                      "description": "The list of assets.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID or slug of the asset",
                            "example": "bitcoin"
                          },
                          "rank": {
                            "type": "string",
                            "description": "The rank of the asset",
                            "example": "1"
                          },
                          "symbol": {
                            "type": "string",
                            "description": "The symbol of the asset",
                            "example": "BTC"
                          },
                          "name": {
                            "type": "string",
                            "description": "The full name of the asset",
                            "example": "Bitcoin"
                          },
                          "supply": {
                            "type": "string",
                            "description": "Total supply of the asset",
                            "example": "19752815.0000000000000000"
                          },
                          "maxSupply": {
                            "type": "string",
                            "description": "The max supply of the asset, or 0 if unlimited",
                            "example": "21000000.0000000000000000"
                          },
                          "marketCapUsd": {
                            "type": "string",
                            "description": "The market capitalization in USD",
                            "example": "1134508584478.0989721079862315"
                          },
                          "volumeUsd24Hr": {
                            "type": "string",
                            "description": "The 24-hour volume in USD",
                            "example": "7243846863.3409126543165751"
                          },
                          "priceUsd": {
                            "type": "string",
                            "description": "The current price in USD",
                            "example": "57435.2862859343831301"
                          },
                          "changePercent24Hr": {
                            "type": "string",
                            "description": "The percentage change in price in the last 24 hours",
                            "example": "-0.0461491427646531"
                          },
                          "vwap24Hr": {
                            "type": "string",
                            "description": "Volume Weighted Average Price (VWAP) over the last 24 hours",
                            "example": "57868.1484672081301126"
                          },
                          "explorer": {
                            "type": "string",
                            "description": "URL to a block explorer for the asset",
                            "example": "https://blockchain.info/werweqrerwerw"
                          },
                          "tokens": {
                            "type": "object",
                            "description": "Mapping of chain IDs to token address arrays. May be empty if no tokens found.",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "example": {
                              "1": [
                                "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                              ],
                              "10": [
                                "0x4200000000000000000000000000000000000006"
                              ],
                              "137": [
                                "0x7ceb23fd6bc0add59e62ac25578270cff1b9f619"
                              ],
                              "42161": [
                                "0x82af49447d8a07e3bd95bd0d56f35241523fbab1"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v3/assets/{slug}": {
      "get": {
        "summary": "Retrieve a single asset",
        "description": "Retrieve details for a specific asset by slug (id)",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The slug of the asset to retrieve"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A single asset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix timestamp when the data was retrieved",
                      "example": 1726081674735
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID or slug of the asset",
                          "example": "bitcoin"
                        },
                        "rank": {
                          "type": "string",
                          "description": "The rank of the asset",
                          "example": "1"
                        },
                        "symbol": {
                          "type": "string",
                          "description": "The symbol of the asset",
                          "example": "BTC"
                        },
                        "name": {
                          "type": "string",
                          "description": "The full name of the asset",
                          "example": "Bitcoin"
                        },
                        "supply": {
                          "type": "string",
                          "description": "Total supply of the asset",
                          "example": "19752815.0000000000000000"
                        },
                        "maxSupply": {
                          "type": "string",
                          "description": "The max supply of the asset, or 0 if unlimited",
                          "example": "21000000.0000000000000000"
                        },
                        "marketCapUsd": {
                          "type": "string",
                          "description": "The market capitalization in USD",
                          "example": "1134454375148.0439441877343485"
                        },
                        "volumeUsd24Hr": {
                          "type": "string",
                          "description": "The 24-hour volume in USD",
                          "example": "7243502730.3942707369805342"
                        },
                        "priceUsd": {
                          "type": "string",
                          "description": "The current price in USD",
                          "example": "57432.5419008907816019"
                        },
                        "changePercent24Hr": {
                          "type": "string",
                          "description": "The percentage change in price in the last 24 hours",
                          "example": "-0.0461491427646531"
                        },
                        "vwap24Hr": {
                          "type": "string",
                          "description": "Volume Weighted Average Price (VWAP) over the last 24 hours",
                          "example": "57868.1484672081301126"
                        },
                        "explorer": {
                          "type": "string",
                          "description": "URL to a block explorer for the asset",
                          "example": "https://blockchain.info/"
                        },
                        "tokens": {
                          "type": "object",
                          "description": "Mapping of chain IDs to token address arrays. May be empty if no tokens found.",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "example": {
                            "1": [
                              "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                            ],
                            "10": [
                              "0x4200000000000000000000000000000000000006"
                            ],
                            "137": [
                              "0x7ceb23fd6bc0add59e62ac25578270cff1b9f619"
                            ],
                            "42161": [
                              "0x82af49447d8a07e3bd95bd0d56f35241523fbab1"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "bitcoin not found"
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix timestamp when the error occurred"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v3/assets/{slug}/markets": {
      "get": {
        "summary": "Retrieve markets for a specific asset",
        "description": "Retrieve market details for a specific asset by slug (id)",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The slug of the asset"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results to return (default is 100)"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results to skip (default is 0)"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Market details for the asset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix timestamp when the data was retrieved",
                      "example": 1726081715628
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "exchangeId": {
                            "type": "string",
                            "description": "The name of the exchange",
                            "example": "Crypto.com Exchange"
                          },
                          "baseId": {
                            "type": "string",
                            "description": "The ID or slug of the base asset",
                            "example": "bitcoin"
                          },
                          "quoteId": {
                            "type": "string",
                            "description": "The ID or slug of the quote asset",
                            "example": "tether"
                          },
                          "baseSymbol": {
                            "type": "string",
                            "description": "The symbol of the base asset",
                            "example": "BTC"
                          },
                          "quoteSymbol": {
                            "type": "string",
                            "description": "The symbol of the quote asset",
                            "example": "USDT"
                          },
                          "volumeUsd24Hr": {
                            "type": "string",
                            "description": "The 24-hour volume in USD",
                            "example": "2280933327.1012148464451523"
                          },
                          "priceUsd": {
                            "type": "string",
                            "description": "The current price in USD",
                            "example": "57489.6375201441058182"
                          },
                          "volumePercent": {
                            "type": "string",
                            "description": "The percentage of the total asset volume represented by this market",
                            "example": "31.3790540261338180"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "bitcoin not found"
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix timestamp when the error occurred"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v3/assets/{slug}/history": {
      "get": {
        "summary": "Retrieve historical data for a specific asset",
        "description": "Retrieve historical data for a specific asset by slug (id)",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The slug of the asset"
          },
          {
            "in": "query",
            "name": "interval",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "interval choices m1 m5 m15 m30 h1 h2 h6 h12 d1"
          },
          {
            "in": "query",
            "name": "start",
            "schema": {
              "type": "integer"
            },
            "description": "UNIX time in milliseconds. Omitting will return the most recent asset history. If start is supplied, end is required and vice versa."
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "type": "integer"
            },
            "description": "The end timestamp for the historical data."
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Historical data for the asset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix timestamp when the data was retrieved",
                      "example": 1726081715628
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "priceUsd": {
                            "type": "string",
                            "description": "The price in USD at the specified time",
                            "example": "57006.4814312680237124"
                          },
                          "time": {
                            "type": "integer",
                            "description": "Unix timestamp of the price data",
                            "example": 1725915600000
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 formatted date and time of the price data",
                            "example": "2024-09-09T21:00:00.000Z"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "bitcoin not found"
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix timestamp when the error occurred"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v3/exchanges": {
      "get": {
        "summary": "Retrieve a list of exchanges",
        "description": "Retrieve a list of exchanges with optional pagination",
        "tags": [
          "Exchanges"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results to return (default is 10)"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results to skip (default is 0)"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of exchanges",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of exchanges",
                      "items": {
                        "type": "object",
                        "properties": {
                          "exchangeId": {
                            "type": "string",
                            "description": "The unique ID of the exchange",
                            "example": "itbit"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the exchange",
                            "example": "Itbit"
                          },
                          "rank": {
                            "type": "string",
                            "description": "The rank of the exchange",
                            "example": "33"
                          },
                          "percentTotalVolume": {
                            "type": "string",
                            "nullable": true,
                            "description": "The percentage of total market volume handled by the exchange",
                            "example": null
                          },
                          "volumeUsd": {
                            "type": "string",
                            "nullable": true,
                            "description": "The total volume in USD traded on the exchange",
                            "example": null
                          },
                          "tradingPairs": {
                            "type": "string",
                            "description": "The number of trading pairs available on the exchange",
                            "example": "0"
                          },
                          "socket": {
                            "type": "boolean",
                            "nullable": true,
                            "description": "Whether the exchange supports WebSocket",
                            "example": null
                          },
                          "exchangeUrl": {
                            "type": "string",
                            "description": "The URL of the exchange",
                            "example": "https://www.itbit.com/"
                          },
                          "updated": {
                            "type": "integer",
                            "description": "The last updated timestamp",
                            "example": 0
                          }
                        }
                      }
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix timestamp when the data was retrieved",
                      "example": 1726084388658
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid query parameters"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/exchanges/{exchange}": {
      "get": {
        "summary": "Retrieve details for a specific exchange",
        "description": "Retrieve details for a specific exchange by its ID",
        "tags": [
          "Exchanges"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "exchange",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the exchange to retrieve"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the exchange",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "exchangeId": {
                          "type": "string",
                          "description": "The unique ID of the exchange",
                          "example": "binanceus"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the exchange",
                          "example": "Binance.US"
                        },
                        "rank": {
                          "type": "string",
                          "description": "The rank of the exchange",
                          "example": "10"
                        },
                        "percentTotalVolume": {
                          "type": "string",
                          "description": "The percentage of total market volume handled by the exchange",
                          "example": "0.030137272308384732000000000000000000"
                        },
                        "volumeUsd": {
                          "type": "string",
                          "description": "The total volume in USD traded on the exchange",
                          "example": "3728334.2170733349680754"
                        },
                        "tradingPairs": {
                          "type": "string",
                          "description": "The number of trading pairs available on the exchange",
                          "example": "155"
                        },
                        "socket": {
                          "type": "boolean",
                          "description": "Whether the exchange supports WebSocket",
                          "example": false
                        },
                        "exchangeUrl": {
                          "type": "string",
                          "description": "The URL of the exchange",
                          "example": "https://www.binance.us/"
                        },
                        "updated": {
                          "type": "integer",
                          "description": "The last updated timestamp",
                          "example": 1726084407276
                        }
                      }
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix timestamp when the data was retrieved",
                      "example": 1726084430638
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Exchange not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Exchange not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/markets": {
      "get": {
        "summary": "Retrieve a list of markets",
        "description": "Retrieve a list of markets with optional filters and pagination",
        "tags": [
          "Markets"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "exchangeId",
            "schema": {
              "type": "string"
            },
            "description": "Filter by exchange ID"
          },
          {
            "in": "query",
            "name": "baseSymbol",
            "schema": {
              "type": "string"
            },
            "description": "Filter by base asset symbol"
          },
          {
            "in": "query",
            "name": "baseId",
            "schema": {
              "type": "string"
            },
            "description": "Filter by base asset ID"
          },
          {
            "in": "query",
            "name": "quoteSymbol",
            "schema": {
              "type": "string"
            },
            "description": "Filter by quote asset symbol"
          },
          {
            "in": "query",
            "name": "quoteId",
            "schema": {
              "type": "string"
            },
            "description": "Filter by quote asset ID"
          },
          {
            "in": "query",
            "name": "assetSymbol",
            "schema": {
              "type": "string"
            },
            "description": "Filter by asset symbol (matches base or quote)"
          },
          {
            "in": "query",
            "name": "assetId",
            "schema": {
              "type": "string"
            },
            "description": "Filter by asset ID (matches base or quote)"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results to return (default is 10)"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results to skip (default is 0)"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of markets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of markets",
                      "items": {
                        "type": "object",
                        "properties": {
                          "exchangeId": {
                            "type": "string",
                            "description": "The unique ID of the exchange",
                            "example": "binanceus"
                          },
                          "rank": {
                            "type": "string",
                            "description": "The rank of the market on the exchange",
                            "example": "97"
                          },
                          "baseSymbol": {
                            "type": "string",
                            "description": "The symbol of the base asset",
                            "example": "XRP"
                          },
                          "baseId": {
                            "type": "string",
                            "description": "The ID of the base asset",
                            "example": "ripple"
                          },
                          "quoteSymbol": {
                            "type": "string",
                            "description": "The symbol of the quote asset",
                            "example": "USD"
                          },
                          "quoteId": {
                            "type": "string",
                            "description": "The ID of the quote asset",
                            "example": "united-states-dollar"
                          },
                          "priceQuote": {
                            "type": "string",
                            "description": "The price of the base asset in the quote asset",
                            "example": "0.0000000000000000"
                          },
                          "priceUsd": {
                            "type": "string",
                            "description": "The price of the base asset in USD",
                            "example": "0.0000000000000000"
                          },
                          "volumeUsd24Hr": {
                            "type": "string",
                            "description": "The 24-hour trading volume of the market in USD",
                            "example": "0.0000000000000000"
                          },
                          "percentExchangeVolume": {
                            "type": "string",
                            "description": "The percentage of total exchange volume represented by this market",
                            "example": "0.0000000000000000"
                          },
                          "tradesCount24Hr": {
                            "type": "string",
                            "nullable": true,
                            "description": "The number of trades executed in this market in the last 24 hours",
                            "example": null
                          },
                          "updated": {
                            "type": "integer",
                            "description": "The timestamp of the last update for the market",
                            "example": 1726084607513
                          }
                        }
                      }
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix timestamp when the data was retrieved",
                      "example": 1726084684904
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid query parameters"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/rates": {
      "get": {
        "summary": "Retrieve conversion rates",
        "description": "Retrieve a list of all conversion rates or filter by comma-separated slugs",
        "tags": [
          "Rates"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "required": false,
            "description": "Comma-separated list of slugs to filter by (e.g. `bitcoin,ethereum`)",
            "schema": {
              "type": "string",
              "example": "bitcoin,ethereum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the conversion rate(s)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique ID of the conversion rate",
                            "example": "bitcoin"
                          },
                          "symbol": {
                            "type": "string",
                            "description": "The symbol of the currency",
                            "example": "BTC"
                          },
                          "currencySymbol": {
                            "type": "string",
                            "description": "The currency symbol, e.g., \"$\", \"\u20bf\", \"Rp\"",
                            "example": "\u20bf"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of currency (crypto or fiat)",
                            "example": "crypto"
                          },
                          "rateUsd": {
                            "type": "string",
                            "description": "The conversion rate to USD",
                            "example": "57566.1808511293640215"
                          }
                        }
                      }
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix timestamp when the data was retrieved",
                      "example": 1726084787747
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Conversion rate not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Conversion rate not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/rates/{slug}": {
      "get": {
        "summary": "Retrieve a conversion rate by slug",
        "description": "Retrieve details for a specific conversion rate by its slug",
        "tags": [
          "Rates"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The slug of the conversion rate to retrieve"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the conversion rate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "example": {
                        "id": "bitcoin",
                        "symbol": "BTC",
                        "currencySymbol": "\u20bf",
                        "type": "crypto",
                        "rateUsd": 45000
                      }
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1625792400000
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Conversion rate not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Assets",
      "description": "The asset price is a volume-weighted average calculated by collecting ticker data from exchanges. Each exchange contributes to this price in relation to their volume, meaning higher volume exchanges have more affect on this global price. All values are translated into USD (United States Dollar) and can be translated into other units of measurement through the /rates endpoint."
    },
    {
      "name": "Exchanges",
      "description": "The /exchanges endpoint offers an understanding into the where cryptocurrency is being exchanged and offers high-level information on those exchanges. CoinCap strives to provide transparency in the recency of our exchange data. For that purpose you will find an \"updated\" key for each exchange. For more details into coin pairs and volume, see the /markets endpoint."
    },
    {
      "name": "Markets",
      "description": "Take a closer look into exchanges with the /markets endpoint. Similar to the /exchanges endpoint, we strive to offer transparency into how real-time our data is with a key identifying when the market was last updated. For a historical view on how a market has performed, see the /candles endpoint. All market data represents actual trades processed, orders on an exchange are not represented. Data received from individual markets is used to calculate the current price of an asset."
    },
    {
      "name": "Rates",
      "description": "All prices on the CoinCap API are standardized in USD (United States Dollar). To make translating to other values easy, CoinCap now offers a Rates endpoint. We offer fiat and top cryptocurrency translated rates. Fiat rates are available through OpenExchangeRates.org."
    }
  ]
}