{
  "openapi": "3.0.3",
  "info": {
    "title": "Pirate Weather API",
    "version": "2.0.0",
    "description": "Weather forecast and historical weather data API providing current conditions, minutely, hourly, and daily forecasts.",
    "x-jentic-source-url": "https://docs.pirateweather.net/en/latest/API/"
  },
  "servers": [
    {
      "url": "https://api.pirateweather.net"
    }
  ],
  "paths": {
    "/forecast/{apikey}/{latitude},{longitude}": {
      "get": {
        "operationId": "getForecast",
        "summary": "Get weather forecast",
        "description": "Retrieves current and forecasted weather data for a specified location",
        "tags": [
          "Forecast"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "Latitude in decimal degrees"
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "Longitude in decimal degrees"
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated data blocks to exclude"
          },
          {
            "name": "units",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "si",
                "ca",
                "uk"
              ]
            },
            "description": "Unit system"
          },
          {
            "name": "extend",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "hourly"
              ]
            },
            "description": "Extend hourly forecast to 168 hours"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Language code for summaries"
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API version number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecast/{apikey}/{latitude},{longitude},{time}": {
      "get": {
        "operationId": "getTimeMachine",
        "summary": "Get historical weather data",
        "description": "Returns archived or historical weather data for a specified time and location",
        "tags": [
          "TimeMachine"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "Latitude"
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "Longitude"
          },
          {
            "name": "time",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "UNIX timestamp or datestring"
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Data blocks to exclude"
          },
          {
            "name": "units",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "si",
                "ca",
                "uk"
              ]
            },
            "description": "Unit system"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ForecastResponse": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "timezone": {
            "type": "string"
          },
          "offset": {
            "type": "number"
          },
          "elevation": {
            "type": "number"
          },
          "currently": {
            "$ref": "#/components/schemas/DataPoint"
          },
          "minutely": {
            "$ref": "#/components/schemas/DataBlock"
          },
          "hourly": {
            "$ref": "#/components/schemas/DataBlock"
          },
          "daily": {
            "$ref": "#/components/schemas/DataBlock"
          },
          "alerts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alert"
            }
          },
          "flags": {
            "type": "object"
          }
        }
      },
      "DataPoint": {
        "type": "object",
        "properties": {
          "time": {
            "type": "integer"
          },
          "summary": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "temperature": {
            "type": "number"
          },
          "apparentTemperature": {
            "type": "number"
          },
          "humidity": {
            "type": "number"
          },
          "pressure": {
            "type": "number"
          },
          "windSpeed": {
            "type": "number"
          },
          "windGust": {
            "type": "number"
          },
          "windBearing": {
            "type": "number"
          },
          "cloudCover": {
            "type": "number"
          },
          "precipIntensity": {
            "type": "number"
          },
          "precipProbability": {
            "type": "number"
          },
          "precipType": {
            "type": "string"
          },
          "visibility": {
            "type": "number"
          },
          "uvIndex": {
            "type": "number"
          },
          "dewPoint": {
            "type": "number"
          }
        }
      },
      "DataBlock": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataPoint"
            }
          }
        }
      },
      "Alert": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "regions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "severity": {
            "type": "string"
          },
          "time": {
            "type": "integer"
          },
          "expires": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "path",
        "name": "apikey"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}