{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenTripMap API",
    "description": "Free API for tourist attractions and points of interest. Provides geographic search for sightseeing objects including monuments, museums, temples, natural attractions, and more. Data sourced from OpenStreetMap and Wikidata.",
    "version": "0.1.0",
    "contact": {
      "name": "OpenTripMap",
      "url": "https://opentripmap.io"
    },
    "x-jentic-source-url": "https://dev.opentripmap.org/docs"
  },
  "servers": [
    {
      "url": "https://api.opentripmap.com/0.1/en",
      "description": "OpenTripMap API (English)"
    }
  ],
  "paths": {
    "/places/radius": {
      "get": {
        "operationId": "getPlacesByRadius",
        "summary": "Get places within radius",
        "description": "Find tourist attractions and points of interest within a radius of given coordinates. Filter by category, rating, and name.",
        "parameters": [
          {
            "name": "radius",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Search radius in meters (max 50000)."
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Longitude of center point."
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Latitude of center point."
          },
          {
            "name": "kinds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated categories (e.g. museums,churches,monuments,natural,historic)."
          },
          {
            "name": "rate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "1h",
                "2h",
                "3h"
              ]
            },
            "description": "Minimum rating: 1,2,3 (stars) or 1h,2h,3h (cultural heritage level)."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name (partial match)."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "geojson",
                "count"
              ],
              "default": "json"
            },
            "description": "Response format."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500
            },
            "description": "Maximum results."
          }
        ],
        "responses": {
          "200": {
            "description": "List of places",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlaceSummary"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/places/bbox": {
      "get": {
        "operationId": "getPlacesByBoundingBox",
        "summary": "Get places within bounding box",
        "description": "Find tourist attractions within a geographic bounding box.",
        "parameters": [
          {
            "name": "lon_min",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Minimum longitude (west)."
          },
          {
            "name": "lon_max",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Maximum longitude (east)."
          },
          {
            "name": "lat_min",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Minimum latitude (south)."
          },
          {
            "name": "lat_max",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Maximum latitude (north)."
          },
          {
            "name": "kinds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated categories."
          },
          {
            "name": "rate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Minimum rating filter."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "geojson",
                "count"
              ],
              "default": "json"
            },
            "description": "Response format."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500
            },
            "description": "Maximum results."
          }
        ],
        "responses": {
          "200": {
            "description": "List of places",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlaceSummary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/places/geoname": {
      "get": {
        "operationId": "getGeoname",
        "summary": "Get geographic coordinates by name",
        "description": "Resolve a city or place name to geographic coordinates. Returns the closest match.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Place name to geocode (e.g. Paris, Tokyo)."
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO 3166-1 alpha-2 country code to narrow results."
          }
        ],
        "responses": {
          "200": {
            "description": "Geocoding result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "lat": {
                      "type": "number"
                    },
                    "lon": {
                      "type": "number"
                    },
                    "population": {
                      "type": "integer"
                    },
                    "timezone": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/places/autosuggest": {
      "get": {
        "operationId": "autosuggest",
        "summary": "Autosuggest places",
        "description": "Get place name suggestions as the user types. Returns matching places near the given location.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Partial place name to search."
          },
          {
            "name": "radius",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Search radius in meters."
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Longitude of center point."
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Latitude of center point."
          },
          {
            "name": "kinds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated categories."
          },
          {
            "name": "rate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Minimum rating."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "geojson",
                "count"
              ],
              "default": "json"
            },
            "description": "Response format."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Maximum suggestions."
          }
        ],
        "responses": {
          "200": {
            "description": "Place suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlaceSummary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/places/xid/{xid}": {
      "get": {
        "operationId": "getPlaceDetails",
        "summary": "Get place details by XID",
        "description": "Get detailed information about a specific place including description, Wikipedia data, images, and address.",
        "parameters": [
          {
            "name": "xid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "OpenTripMap place identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Place details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceDetails"
                }
              }
            }
          },
          "404": {
            "description": "Place not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "OpenTripMap API key passed as query parameter."
      }
    },
    "schemas": {
      "PlaceSummary": {
        "type": "object",
        "properties": {
          "xid": {
            "type": "string",
            "description": "Unique place identifier."
          },
          "name": {
            "type": "string"
          },
          "dist": {
            "type": "number",
            "description": "Distance from search point in meters."
          },
          "rate": {
            "type": "integer",
            "description": "Rating (1-3 stars or heritage level)."
          },
          "osm": {
            "type": "string",
            "description": "OpenStreetMap ID."
          },
          "wikidata": {
            "type": "string",
            "description": "Wikidata ID."
          },
          "kinds": {
            "type": "string",
            "description": "Comma-separated categories."
          },
          "point": {
            "type": "object",
            "properties": {
              "lon": {
                "type": "number"
              },
              "lat": {
                "type": "number"
              }
            }
          }
        }
      },
      "PlaceDetails": {
        "type": "object",
        "properties": {
          "xid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "object",
            "properties": {
              "city": {
                "type": "string"
              },
              "road": {
                "type": "string"
              },
              "house_number": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "country_code": {
                "type": "string"
              },
              "postcode": {
                "type": "string"
              }
            }
          },
          "rate": {
            "type": "string"
          },
          "osm": {
            "type": "string"
          },
          "wikidata": {
            "type": "string"
          },
          "kinds": {
            "type": "string"
          },
          "sources": {
            "type": "object"
          },
          "otm": {
            "type": "string",
            "format": "uri",
            "description": "OpenTripMap URL for this place."
          },
          "wikipedia": {
            "type": "string",
            "description": "Wikipedia article URL."
          },
          "image": {
            "type": "string",
            "format": "uri",
            "description": "Main image URL."
          },
          "preview": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string"
              },
              "height": {
                "type": "integer"
              },
              "width": {
                "type": "integer"
              }
            }
          },
          "wikipedia_extracts": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "text": {
                "type": "string"
              },
              "html": {
                "type": "string"
              }
            }
          },
          "point": {
            "type": "object",
            "properties": {
              "lon": {
                "type": "number"
              },
              "lat": {
                "type": "number"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ]
}