{
  "openapi": "3.0.3",
  "info": {
    "title": "SmartSurvey API",
    "version": "v2",
    "description": "SmartSurvey API provides access to survey data, from listing all surveys to getting all the responses for a survey. It supports managing surveys, responses, contact lists, invitations, tracking links, themes, webhooks, and more.",
    "x-jentic-source-url": "https://docs.smartsurvey.io/"
  },
  "servers": [
    {
      "url": "https://api.smartsurvey.io/v2"
    }
  ],
  "paths": {
    "/accountusers": {
      "get": {
        "tags": [
          "AccountUsers"
        ],
        "summary": "Get All",
        "description": "Get all the account users under your account",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of results you want up to 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Optional list of properties that you want to sort by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListAccountUserResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListAccountUserResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListAccountUserResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListAccountUserResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListAccountUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accountusers/{account_user_id}": {
      "get": {
        "tags": [
          "AccountUsers"
        ],
        "summary": "Get By Id",
        "description": "Get a single account user from your SmartSurvey account",
        "parameters": [
          {
            "name": "account_user_id",
            "in": "path",
            "description": "The id of the user you want to retrieve",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.AccountUsers.AccountUserResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.AccountUsers.AccountUserResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.AccountUsers.AccountUserResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.AccountUsers.AccountUserResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.AccountUsers.AccountUserResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/accountuser": {
      "get": {
        "tags": [
          "AccountUsers"
        ],
        "summary": "Get Details for Key",
        "description": "Get the account user information for the current api key",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.AccountUsers.AccountUserResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.AccountUsers.AccountUserResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.AccountUsers.AccountUserResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.AccountUsers.AccountUserResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.AccountUsers.AccountUserResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/account/apikeys": {
      "get": {
        "tags": [
          "ApiKeys"
        ],
        "summary": "Get All",
        "description": "Gets all Api Keys with paging",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of results you want up to 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Optional list of properties that you want to sort by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "include_subusers",
            "in": "query",
            "description": "Whether to include data for sub users as well as the current user",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListApiKeyResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListApiKeyResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListApiKeyResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListApiKeyResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListApiKeyResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ApiKeys"
        ],
        "summary": "Insert",
        "description": "Inserts a new Api Key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyInsertModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyInsertModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyInsertModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyInsertModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyInsertModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyInsertModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request validation errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/account/apikeys/{apiKeyId}": {
      "get": {
        "tags": [
          "ApiKeys"
        ],
        "summary": "Get By Id",
        "description": "Gets a single Api Key",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "The Api Key id that you are querying",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Api Key not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApiKeys"
        ],
        "summary": "Update",
        "description": "Updates an Api Key",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "The Api Key id that you want to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyUpdateModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyUpdateModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyUpdateModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyUpdateModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyUpdateModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyUpdateModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiKeys.ApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request validation errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Api Key not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApiKeys"
        ],
        "summary": "Delete",
        "description": "Delete the given Api Key by its id",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "The Api Key id that you want to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiBasicResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiBasicResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiBasicResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiBasicResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiBasicResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Api Key not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contactlists": {
      "get": {
        "tags": [
          "ContactList"
        ],
        "summary": "Get All",
        "description": "Gets the paged list of all contact lists for the account of the Api Key",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of results you want up to 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Optional list of properties that you want to sort by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListContactListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListContactListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListContactListResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListContactListResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListContactListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ContactList"
        ],
        "summary": "Insert",
        "description": "Creates a new email contact list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListInsertRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListInsertRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListInsertRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListInsertRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListInsertRequest"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListInsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request validation errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contactlists/{contactListId}": {
      "get": {
        "tags": [
          "ContactList"
        ],
        "summary": "Get By Id",
        "description": "Gets the basic information about a single contact list",
        "parameters": [
          {
            "name": "contactListId",
            "in": "path",
            "description": "The id of the contact list to fetch",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Contact list not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ContactList"
        ],
        "summary": "Delete",
        "description": "Deletes the given contact list WITHOUT confirmation",
        "parameters": [
          {
            "name": "contactListId",
            "in": "path",
            "description": "The id of the contact list you want to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiBasicResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiBasicResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiBasicResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiBasicResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ApiBasicResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Contact list not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contactlists/{contactListId}/detailed": {
      "get": {
        "tags": [
          "ContactList"
        ],
        "summary": "Get Details",
        "description": "Gets more detailed information about a single contact list",
        "parameters": [
          {
            "name": "contactListId",
            "in": "path",
            "description": "The id of the contact list to fetch",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListDetailedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListDetailedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListDetailedResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListDetailedResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListDetailedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Contact list not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contactlists/customcolumns": {
      "post": {
        "tags": [
          "ContactList"
        ],
        "summary": "Insert with columns",
        "description": "Creates a new email contact list with custom columns",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListCustomColumnsInsertRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListCustomColumnsInsertRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListCustomColumnsInsertRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListCustomColumnsInsertRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListCustomColumnsInsertRequest"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListCustomColumnsInsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.ContactListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request validation errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contactlists/{contactListId}/contacts": {
      "get": {
        "tags": [
          "ContactListContacts"
        ],
        "summary": "Get All",
        "description": "Gets all Contacts for a Contact List with paging",
        "parameters": [
          {
            "name": "contactListId",
            "in": "path",
            "description": "The contact list whose Contacts you are querying",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of results you want up to 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Optional list of properties that you want to sort by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListMailUserResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListMailUserResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListMailUserResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListMailUserResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListMailUserResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Contact list not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ContactListContacts"
        ],
        "summary": "Insert",
        "description": "Inserts a new contact into the given contact list",
        "parameters": [
          {
            "name": "contactListId",
            "in": "path",
            "description": "The contact list whose contacts you are querying",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.MailUserRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.MailUserRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.MailUserRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.MailUserRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.MailUserRequest"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.MailUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.MailUserDetailedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.MailUserDetailedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.MailUserDetailedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request validation errors or international number not permitted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Contact List not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contactlists/{contactListId}/contacts/detailed": {
      "get": {
        "tags": [
          "ContactListContacts"
        ],
        "summary": "Get All",
        "description": "Gets all Contacts for a Contact List with paging",
        "parameters": [
          {
            "name": "contactListId",
            "in": "path",
            "description": "The contact list whose Contacts you are querying",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of results you want up to 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Optional list of properties that you want to sort by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListMailUserDetailedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListMailUserDetailedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListMailUserDetailedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Contact list not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contactlists/{contactListId}/contacts/{mailUserId}": {
      "get": {
        "tags": [
          "ContactListContacts"
        ],
        "summary": "Get By Id",
        "description": "Gets a single Contact",
        "parameters": [
          {
            "name": "contactListId",
            "in": "path",
            "description": "The contact list whose Contacts you are querying",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "mailUserId",
            "in": "path",
            "description": "The contact that you are querying",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.MailUserResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.MailUserResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.MailUserResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.MailUserResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.MailUserResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Contact list or contact not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contactlists/{contactListId}/contacts/{mailUserId}/detailed": {
      "get": {
        "tags": [
          "ContactListContacts"
        ],
        "summary": "Get By Id Detailed",
        "description": "Gets a single Contact with additional details",
        "parameters": [
          {
            "name": "contactListId",
            "in": "path",
            "description": "The contact list whose contacts you are querying",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "mailUserId",
            "in": "path",
            "description": "The contact that you are querying",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.MailUserDetailedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.MailUserDetailedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.ContactList.MailUserDetailedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Contact list or contact not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/filelibrary/folders": {
      "get": {
        "tags": [
          "FileLibraries"
        ],
        "summary": "Get All",
        "description": "Gets all Folders for your account with paging",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of results you want up to 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Optional list of properties that you want to sort by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListCabinetFolderHierarchyResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListCabinetFolderHierarchyResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListCabinetFolderHierarchyResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListCabinetFolderHierarchyResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListCabinetFolderHierarchyResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "FileLibraries"
        ],
        "summary": "Insert Folder",
        "description": "Insert a new folder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderRequestModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderRequestModel"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request validation errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/filelibrary/folders/{folderId}": {
      "get": {
        "tags": [
          "FileLibraries"
        ],
        "summary": "Get One",
        "description": "Gets a single Folder by id with basic information",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "The folder id that you are querying",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/filelibrary/folders/{folderId}/detailed": {
      "get": {
        "tags": [
          "FileLibraries"
        ],
        "summary": "Get One Detailed",
        "description": "Gets detailed information for a single Folder with additional details",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "The folder id that you are querying",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderDetailedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderDetailedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderDetailedResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderDetailedResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Models.FileLibraries.CabinetFolderDetailedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/filelibrary/folders/{folderId}/files": {
      "get": {
        "tags": [
          "FileLibraries"
        ],
        "summary": "Get Files for Folder",
        "description": "Gets a files list for a single Folder",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "The folder id that you are querying",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of results you want up to 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Optional list of properties that you want to sort by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListCabinetFileResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListCabinetFileResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListCabinetFileResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListCabinetFileResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListCabinetFileResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/filelibrary/files": {
      "get": {
        "tags": [
          "FileLibraries"
        ],
        "summary": "Get All Files",
        "description": "Gets all files for your account with paging",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of results you want up to 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Optional list of properties that you want to sort by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListCabinetFileResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListCabinetFileResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListCabinetFileResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListCabinetFileResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListCabinetFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/surveys/{surveyId}/filtergroups": {
      "get": {
        "tags": [
          "FilterGroups"
        ],
        "summary": "Get All",
        "description": "Gets all Filter Groups with paging",
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "The survey id whose Filter Groups you are querying",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of results you want up to 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Optional list of properties that you want to sort by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListFilterGroupResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListFilterGroupResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListFilterGroupResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListFilterGroupResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListFilterGroupResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Survey not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/surveys/{surveyId}/exports": {
      "get": {
        "tags": [
          "SurveyExport"
        ],
        "summary": "Get All",
        "description": "Gets the paged list of all exports for the given survey id",
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "The id of the survey whose exports you are accessing",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of results you want up to 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Optional list of properties that you want to sort by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListSurveyExportResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListSurveyExportResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListSurveyExportResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListSurveyExportResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSurvey.Public.API.Helpers.PaginatedListSurveyExportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/surveys/{surveyId}/exports/{surveyExportId}": {
      "get": {
        "tags": [
          "SurveyExport"
        ],
        "summary": "Get By Id",
        "description": "Gets information about a single export",
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "description": "The id of the survey whose exports you are accessing",
[...]
