{
  "openapi": "3.0.1",
  "info": {
    "title": "The ReliefWeb API",
    "description": "Interactive API documentation for the data API of Reliefweb.int. ReliefWeb is a leading source of information on global crises and disasters.<br><br> Our continuous coverage and archive going back to the 1970s makes ReliefWeb an unparalleled resource for both current and historical data on humanitarian response.<br><br> The vast majority of content on ReliefWeb has been contributed by humanitarian partners. We owe it to the community to make data more accessible and reusable, so that developers can build tools that increase exposure for valuable content and facilitate analysis for better decisions.",
    "termsOfService": "https://apidoc.rwlabs.org/#tos",
    "contact": {
      "url": "https://reliefweb.int/contact",
      "email": "api@reliefweb.int"
    },
    "license": {
      "name": "Creative Commons Zero - Public Domain",
      "url": "http://creativecommons.org/about/cc0"
    },
    "version": "v1",
    "x-jentic-source-url": "http://apidoc.reliefweb.int/swagger.yaml"
  },
  "servers": [
    {
      "url": "http://api.reliefweb.int/v2"
    },
    {
      "url": "https://api.reliefweb.int/v2"
    }
  ],
  "tags": [
    {
      "name": "Discovery",
      "description": "Versions and main endpoints.",
      "externalDocs": {
        "description": "RWApi docs.",
        "url": "https://apidoc.rwlabs.org"
      }
    },
    {
      "name": "Reports",
      "description": "Gateway to updates and analysis from more than 4,000 global information sources.",
      "externalDocs": {
        "description": "RWApi docs.",
        "url": "https://apidoc.rwlabs.org"
      }
    },
    {
      "name": "Jobs",
      "description": "Humanitarian job listings.",
      "externalDocs": {
        "description": "RWApi docs.",
        "url": "https://apidoc.rwlabs.org"
      }
    },
    {
      "name": "Training",
      "description": "Humanitarian training opportunities and courses.",
      "externalDocs": {
        "description": "RWApi docs.",
        "url": "https://apidoc.rwlabs.org"
      }
    },
    {
      "name": "Countries",
      "description": "Countries covered by ReliefWeb.",
      "externalDocs": {
        "description": "RWApi docs.",
        "url": "https://apidoc.rwlabs.org"
      }
    },
    {
      "name": "Disasters",
      "description": "Disasters covered by ReliefWeb.",
      "externalDocs": {
        "description": "RWApi docs.",
        "url": "https://apidoc.rwlabs.org"
      }
    },
    {
      "name": "Sources",
      "description": "Organizations providing content to ReliefWeb.",
      "externalDocs": {
        "description": "RWApi docs.",
        "url": "https://apidoc.rwlabs.org"
      }
    }
  ],
  "paths": {
    "/../": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "description": "Review location and status of all versions.",
        "operationId": "discoveryVersions",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {}
          }
        }
      }
    },
    "/": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "description": "Review list of main entrypoints and top-level resources.",
        "operationId": "discoveryResources",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {}
          }
        }
      }
    },
    "/reports": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "List or search updates, headlines or maps.\n",
        "operationId": "getReports",
        "parameters": [
          {
            "name": "query[value]",
            "in": "query",
            "description": "Specify the terms of your fuzzy search. The default is no query.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query[operator]",
            "in": "query",
            "description": "Specify the operator by which your search query words will be combined.\n",
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "query[fields][]",
            "in": "query",
            "description": "Specify which fields to target with your search. You may use boost syntax here, see the Advanced API Usage documentation.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filter[field]",
            "in": "query",
            "description": "Field to filter by. Every condition must contain either a <code>field</code> or <code>conditions</code> property.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[value][]",
            "in": "query",
            "description": "Value for the field being filtered. Leave blank to require existence of the field, must be present for <code>range</code> and <code>value</code> conditions.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filter[operator]",
            "in": "query",
            "description": "Operator by which filters will be combined.\n",
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "filter[negate]",
            "in": "query",
            "description": "Reverse the filter to include those items that do not match.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[conditions][]",
            "in": "query",
            "description": "This property is used to combine conditions with a logical connector (the <code>operator</code> property). Every condition must contain one of the <code>field</code> or <code>conditions</code> properties.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "facets[field]",
            "in": "query",
            "description": "Field to facet by. May include dates, references or the status field.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[name]",
            "in": "query",
            "description": "Identifier for resulting facet data. Useful when faceting multiple ways on the same field.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[limit]",
            "in": "query",
            "description": "Limit the number of facets returned for non-date based facets.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "facets[sort]",
            "in": "query",
            "description": "The sort order of non-date facets. Sorting may be by <code>value</code> or <code>count</code> of terms, and ascending or descending. <code>count</code> defaults to <code>desc</code>, <code>value</code> defaults to <code>asc</code>.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[filter][]",
            "in": "query",
            "description": "Apply all the same capabilities of the filter parameter to the specific results of this facet request.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "facets[interval]",
            "in": "query",
            "description": "Round date information to the nearest interval unit.\nApply all the same capabilities of the filter parameter to the specific results of this facet request.\n",
            "schema": {
              "type": "string",
              "enum": [
                "year",
                "month",
                "week",
                "day"
              ]
            }
          },
          {
            "name": "fields[include][]",
            "in": "query",
            "description": "Specify which fields to include for each item. Defaults to an item label.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields[exclude][]",
            "in": "query",
            "description": "Specify sub-fields to exclude from overall results. For example, if you include <code>date</code> you may exclude <code>date.changed</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return for a list query. The default is <code>10</code> and the maximum <code>1000</code>.\n",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset from which to return the items in a list query. Allows paging through all results. The default is <code>0</code>.\n",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sort[]",
            "in": "query",
            "description": "Sort the list results. Defaults to search relevance. Values in the form of <code>fieldname:(asc|desc)</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Pre-built standard selections of fields to return for ease of displaying lists or items.\n",
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "list",
                "minimal"
              ]
            }
          },
          {
            "name": "preset",
            "in": "query",
            "description": "Pre-built standard configurations of queries, filters and sorts for common use cases.\n",
            "schema": {
              "type": "string",
              "enum": [
                "analysis",
                "latest",
                "minimal"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "List or search updates, headlines or maps.\n",
        "description": "<div id=\"reports-fields\"></div>\n",
        "operationId": "searchReports",
        "requestBody": {
          "description": "Returned fields",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/post-params"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "fields"
      }
    },
    "/reports/{reportId}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Find report by its unique ID",
        "description": "Individual reports.\n",
        "operationId": "getReportById",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "The identifier of the report.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Pre-built standard selections of fields to return for ease of displaying lists or items.\n",
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "list",
                "minimal"
              ]
            }
          },
          {
            "name": "fields[include][]",
            "in": "query",
            "description": "Specify which fields to include for each item. Defaults to an item label.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields[exclude][]",
            "in": "query",
            "description": "Specify sub-fields to exclude from overall results. For example, if you include <code>date</code> you may exclude <code>date.changed</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List or search humanitarian job offers.\n",
        "operationId": "getJobs",
        "parameters": [
          {
            "name": "query[value]",
            "in": "query",
            "description": "Specify the terms of your fuzzy search. The default is no query.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query[operator]",
            "in": "query",
            "description": "Specify the operator by which your search query words will be combined.\n",
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "query[fields][]",
            "in": "query",
            "description": "Specify which fields to target with your search. You may use boost syntax here, see the Advanced API Usage documentation.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filter[field]",
            "in": "query",
            "description": "Field to filter by. Every condition must contain either a <code>field</code> or <code>conditions</code> property.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[value][]",
            "in": "query",
            "description": "Value for the field being filtered. Leave blank to require existence of the field, must be present for <code>range</code> and <code>value</code> conditions.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filter[operator]",
            "in": "query",
            "description": "Operator by which filters will be combined.\n",
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "filter[negate]",
            "in": "query",
            "description": "Reverse the filter to include those items that do not match.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[conditions][]",
            "in": "query",
            "description": "This property is used to combine conditions with a logical connector (the <code>operator</code> property). Every condition must contain one of the <code>field</code> or <code>conditions</code> properties.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "facets[field]",
            "in": "query",
            "description": "Field to facet by. May include dates, references or the status field.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[name]",
            "in": "query",
            "description": "Identifier for resulting facet data. Useful when faceting multiple ways on the same field.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[limit]",
            "in": "query",
            "description": "Limit the number of facets returned for non-date based facets.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "facets[sort]",
            "in": "query",
            "description": "The sort order of non-date facets. Sorting may be by <code>value</code> or <code>count</code> of terms, and ascending or descending. <code>count</code> defaults to <code>desc</code>, <code>value</code> defaults to <code>asc</code>.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[filter][]",
            "in": "query",
            "description": "Apply all the same capabilities of the filter parameter to the specific results of this facet request.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "facets[interval]",
            "in": "query",
            "description": "Round date information to the nearest interval unit.\nApply all the same capabilities of the filter parameter to the specific results of this facet request.\n",
            "schema": {
              "type": "string",
              "enum": [
                "year",
                "month",
                "week",
                "day"
              ]
            }
          },
          {
            "name": "fields[include][]",
            "in": "query",
            "description": "Specify which fields to include for each item. Defaults to an item label.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields[exclude][]",
            "in": "query",
            "description": "Specify sub-fields to exclude from overall results. For example, if you include <code>date</code> you may exclude <code>date.changed</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return for a list query. The default is <code>10</code> and the maximum <code>1000</code>.\n",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset from which to return the items in a list query. Allows paging through all results. The default is <code>0</code>.\n",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sort[]",
            "in": "query",
            "description": "Sort the list results. Defaults to search relevance. Values in the form of <code>fieldname:(asc|desc)</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Pre-built standard selections of fields to return for ease of displaying lists or items.\n",
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "list",
                "minimal"
              ]
            }
          },
          {
            "name": "preset",
            "in": "query",
            "description": "Pre-built standard configurations of queries, filters and sorts for common use cases.\n",
            "schema": {
              "type": "string",
              "enum": [
                "analysis",
                "latest",
                "minimal"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "List or search humanitarian job offers.\n",
        "description": "<iframe width=\"100%\" height=\"300px\" src=\"http://reliefweb.int/help/api/field-definitions#jobs\"></iframe>\n",
        "operationId": "searchJobs",
        "requestBody": {
          "description": "Returned fields",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/post-params"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "fields"
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Find job by its unique ID",
        "description": "Individual jobs.\n",
        "operationId": "getJobById",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The identifier of the job.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Pre-built standard selections of fields to return for ease of displaying lists or items.\n",
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "list",
                "minimal"
              ]
            }
          },
          {
            "name": "fields[include][]",
            "in": "query",
            "description": "Specify which fields to include for each item. Defaults to an item label.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields[exclude][]",
            "in": "query",
            "description": "Specify sub-fields to exclude from overall results. For example, if you include <code>date</code> you may exclude <code>date.changed</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/training": {
      "get": {
        "tags": [
          "Training"
        ],
        "summary": "List or search humanitarian learning opportunities.\n",
        "operationId": "getTraining",
        "parameters": [
          {
            "name": "query[value]",
            "in": "query",
            "description": "Specify the terms of your fuzzy search. The default is no query.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query[operator]",
            "in": "query",
            "description": "Specify the operator by which your search query words will be combined.\n",
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "query[fields][]",
            "in": "query",
            "description": "Specify which fields to target with your search. You may use boost syntax here, see the Advanced API Usage documentation.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filter[field]",
            "in": "query",
            "description": "Field to filter by. Every condition must contain either a <code>field</code> or <code>conditions</code> property.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[value][]",
            "in": "query",
            "description": "Value for the field being filtered. Leave blank to require existence of the field, must be present for <code>range</code> and <code>value</code> conditions.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filter[operator]",
            "in": "query",
            "description": "Operator by which filters will be combined.\n",
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "filter[negate]",
            "in": "query",
            "description": "Reverse the filter to include those items that do not match.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[conditions][]",
            "in": "query",
            "description": "This property is used to combine conditions with a logical connector (the <code>operator</code> property). Every condition must contain one of the <code>field</code> or <code>conditions</code> properties.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "facets[field]",
            "in": "query",
            "description": "Field to facet by. May include dates, references or the status field.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[name]",
            "in": "query",
            "description": "Identifier for resulting facet data. Useful when faceting multiple ways on the same field.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[limit]",
            "in": "query",
            "description": "Limit the number of facets returned for non-date based facets.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "facets[sort]",
            "in": "query",
            "description": "The sort order of non-date facets. Sorting may be by <code>value</code> or <code>count</code> of terms, and ascending or descending. <code>count</code> defaults to <code>desc</code>, <code>value</code> defaults to <code>asc</code>.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[filter][]",
            "in": "query",
            "description": "Apply all the same capabilities of the filter parameter to the specific results of this facet request.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "facets[interval]",
            "in": "query",
            "description": "Round date information to the nearest interval unit.\nApply all the same capabilities of the filter parameter to the specific results of this facet request.\n",
            "schema": {
              "type": "string",
              "enum": [
                "year",
                "month",
                "week",
                "day"
              ]
            }
          },
          {
            "name": "fields[include][]",
            "in": "query",
            "description": "Specify which fields to include for each item. Defaults to an item label.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields[exclude][]",
            "in": "query",
            "description": "Specify sub-fields to exclude from overall results. For example, if you include <code>date</code> you may exclude <code>date.changed</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return for a list query. The default is <code>10</code> and the maximum <code>1000</code>.\n",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset from which to return the items in a list query. Allows paging through all results. The default is <code>0</code>.\n",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sort[]",
            "in": "query",
            "description": "Sort the list results. Defaults to search relevance. Values in the form of <code>fieldname:(asc|desc)</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Pre-built standard selections of fields to return for ease of displaying lists or items.\n",
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "list",
                "minimal"
              ]
            }
          },
          {
            "name": "preset",
            "in": "query",
            "description": "Pre-built standard configurations of queries, filters and sorts for common use cases.\n",
            "schema": {
              "type": "string",
              "enum": [
                "analysis",
                "latest",
                "minimal"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Training"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Training"
        ],
        "summary": "List or search humanitarian learning opportunities.\n",
        "operationId": "searchTraining",
        "requestBody": {
          "description": "Returned fields",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/post-params"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Training"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "fields"
      }
    },
    "/training/{trainingId}": {
      "get": {
        "tags": [
          "Training"
        ],
        "summary": "Find training by its unique ID",
        "description": "Individual training opportunities.\n",
        "operationId": "getTrainingById",
        "parameters": [
          {
            "name": "trainingId",
            "in": "path",
            "description": "The identifier of the training opportunity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Pre-built standard selections of fields to return for ease of displaying lists or items.\n",
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "list",
                "minimal"
              ]
            }
          },
          {
            "name": "fields[include][]",
            "in": "query",
            "description": "Specify which fields to include for each item. Defaults to an item label.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields[exclude][]",
            "in": "query",
            "description": "Specify sub-fields to exclude from overall results. For example, if you include <code>date</code> you may exclude <code>date.changed</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Training fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Training"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "List or search countries covered by ReliefWeb.\n",
        "operationId": "getCountries",
        "parameters": [
          {
            "name": "query[value]",
            "in": "query",
            "description": "Specify the terms of your fuzzy search. The default is no query.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query[operator]",
            "in": "query",
            "description": "Specify the operator by which your search query words will be combined.\n",
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "query[fields][]",
            "in": "query",
            "description": "Specify which fields to target with your search. You may use boost syntax here, see the Advanced API Usage documentation.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filter[field]",
            "in": "query",
            "description": "Field to filter by. Every condition must contain either a <code>field</code> or <code>conditions</code> property.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[value][]",
            "in": "query",
            "description": "Value for the field being filtered. Leave blank to require existence of the field, must be present for <code>range</code> and <code>value</code> conditions.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filter[operator]",
            "in": "query",
            "description": "Operator by which filters will be combined.\n",
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "filter[negate]",
            "in": "query",
            "description": "Reverse the filter to include those items that do not match.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[conditions][]",
            "in": "query",
            "description": "This property is used to combine conditions with a logical connector (the <code>operator</code> property). Every condition must contain one of the <code>field</code> or <code>conditions</code> properties.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "facets[field]",
            "in": "query",
            "description": "Field to facet by. May include dates, references or the status field.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[name]",
            "in": "query",
            "description": "Identifier for resulting facet data. Useful when faceting multiple ways on the same field.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[limit]",
            "in": "query",
            "description": "Limit the number of facets returned for non-date based facets.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "facets[sort]",
            "in": "query",
            "description": "The sort order of non-date facets. Sorting may be by <code>value</code> or <code>count</code> of terms, and ascending or descending. <code>count</code> defaults to <code>desc</code>, <code>value</code> defaults to <code>asc</code>.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[filter][]",
            "in": "query",
            "description": "Apply all the same capabilities of the filter parameter to the specific results of this facet request.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "facets[interval]",
            "in": "query",
            "description": "Round date information to the nearest interval unit.\nApply all the same capabilities of the filter parameter to the specific results of this facet request.\n",
            "schema": {
              "type": "string",
              "enum": [
                "year",
                "month",
                "week",
                "day"
              ]
            }
          },
          {
            "name": "fields[include][]",
            "in": "query",
            "description": "Specify which fields to include for each item. Defaults to an item label.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields[exclude][]",
            "in": "query",
            "description": "Specify sub-fields to exclude from overall results. For example, if you include <code>date</code> you may exclude <code>date.changed</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return for a list query. The default is <code>10</code> and the maximum <code>1000</code>.\n",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset from which to return the items in a list query. Allows paging through all results. The default is <code>0</code>.\n",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sort[]",
            "in": "query",
            "description": "Sort the list results. Defaults to search relevance. Values in the form of <code>fieldname:(asc|desc)</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Pre-built standard selections of fields to return for ease of displaying lists or items.\n",
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "list",
                "minimal"
              ]
            }
          },
          {
            "name": "preset",
            "in": "query",
            "description": "Pre-built standard configurations of queries, filters and sorts for common use cases.\n",
            "schema": {
              "type": "string",
              "enum": [
                "analysis",
                "latest",
                "minimal"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Countries"
        ],
        "summary": "List or search countries covered by ReliefWeb.\n",
        "operationId": "searchCountries",
        "requestBody": {
          "description": "Returned fields",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/post-params"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "fields"
      }
    },
    "/countries/{countryId}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Find country by its unique ID",
        "description": "Individual countries\n",
        "operationId": "getCountryById",
        "parameters": [
          {
            "name": "countryId",
            "in": "path",
            "description": "The identifier of the country",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Pre-built standard selections of fields to return for ease of displaying lists or items.\n",
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "list",
                "minimal"
              ]
            }
          },
          {
            "name": "fields[include][]",
            "in": "query",
            "description": "Specify which fields to include for each item. Defaults to an item label.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields[exclude][]",
            "in": "query",
            "description": "Specify sub-fields to exclude from overall results. For example, if you include <code>date</code> you may exclude <code>date.changed</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/disasters": {
      "get": {
        "tags": [
          "Disasters"
        ],
        "summary": "List or search disasters covered by ReliefWeb.\n",
        "operationId": "getDisasters",
        "parameters": [
          {
            "name": "query[value]",
            "in": "query",
            "description": "Specify the terms of your fuzzy search. The default is no query.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query[operator]",
            "in": "query",
            "description": "Specify the operator by which your search query words will be combined.\n",
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "query[fields][]",
            "in": "query",
            "description": "Specify which fields to target with your search. You may use boost syntax here, see the Advanced API Usage documentation.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filter[field]",
            "in": "query",
            "description": "Field to filter by. Every condition must contain either a <code>field</code> or <code>conditions</code> property.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[value][]",
            "in": "query",
            "description": "Value for the field being filtered. Leave blank to require existence of the field, must be present for <code>range</code> and <code>value</code> conditions.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filter[operator]",
            "in": "query",
            "description": "Operator by which filters will be combined.\n",
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "filter[negate]",
            "in": "query",
            "description": "Reverse the filter to include those items that do not match.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[conditions][]",
            "in": "query",
            "description": "This property is used to combine conditions with a logical connector (the <code>operator</code> property). Every condition must contain one of the <code>field</code> or <code>conditions</code> properties.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "facets[field]",
            "in": "query",
            "description": "Field to facet by. May include dates, references or the status field.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[name]",
            "in": "query",
            "description": "Identifier for resulting facet data. Useful when faceting multiple ways on the same field.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[limit]",
            "in": "query",
            "description": "Limit the number of facets returned for non-date based facets.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "facets[sort]",
            "in": "query",
            "description": "The sort order of non-date facets. Sorting may be by <code>value</code> or <code>count</code> of terms, and ascending or descending. <code>count</code> defaults to <code>desc</code>, <code>value</code> defaults to <code>asc</code>.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[filter][]",
            "in": "query",
            "description": "Apply all the same capabilities of the filter parameter to the specific results of this facet request.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "facets[interval]",
            "in": "query",
            "description": "Round date information to the nearest interval unit.\nApply all the same capabilities of the filter parameter to the specific results of this facet request.\n",
            "schema": {
              "type": "string",
              "enum": [
                "year",
                "month",
                "week",
                "day"
              ]
            }
          },
          {
            "name": "fields[include][]",
            "in": "query",
            "description": "Specify which fields to include for each item. Defaults to an item label.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields[exclude][]",
            "in": "query",
            "description": "Specify sub-fields to exclude from overall results. For example, if you include <code>date</code> you may exclude <code>date.changed</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return for a list query. The default is <code>10</code> and the maximum <code>1000</code>.\n",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset from which to return the items in a list query. Allows paging through all results. The default is <code>0</code>.\n",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sort[]",
            "in": "query",
            "description": "Sort the list results. Defaults to search relevance. Values in the form of <code>fieldname:(asc|desc)</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Pre-built standard selections of fields to return for ease of displaying lists or items.\n",
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "list",
                "minimal"
              ]
            }
          },
          {
            "name": "preset",
            "in": "query",
            "description": "Pre-built standard configurations of queries, filters and sorts for common use cases.\n",
            "schema": {
              "type": "string",
              "enum": [
                "analysis",
                "latest",
                "minimal"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disaster"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Disasters"
        ],
        "summary": "List or search disasters covered by ReliefWeb.\n",
        "operationId": "searchDisasters",
        "requestBody": {
          "description": "Returned fields",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/post-params"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disaster"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "fields"
      }
    },
    "/disasters/{disasterId}": {
      "get": {
        "tags": [
          "Disasters"
        ],
        "summary": "Find disaster by its unique ID",
        "description": "Individual disasters\n",
        "operationId": "getDisasterById",
        "parameters": [
          {
            "name": "disasterId",
            "in": "path",
            "description": "The identifier of the disaster",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Pre-built standard selections of fields to return for ease of displaying lists or items.\n",
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "list",
                "minimal"
              ]
            }
          },
          {
            "name": "fields[include][]",
            "in": "query",
            "description": "Specify which fields to include for each item. Defaults to an item label.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields[exclude][]",
            "in": "query",
            "description": "Specify sub-fields to exclude from overall results. For example, if you include <code>date</code> you may exclude <code>date.changed</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disaster fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disaster"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/sources": {
      "get": {
        "tags": [
          "Sources"
        ],
        "summary": "List or search organizations providing content to ReliefWeb.\n",
        "operationId": "getSources",
        "parameters": [
          {
            "name": "query[value]",
            "in": "query",
            "description": "Specify the terms of your fuzzy search. The default is no query.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query[operator]",
            "in": "query",
            "description": "Specify the operator by which your search query words will be combined.\n",
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "query[fields][]",
            "in": "query",
            "description": "Specify which fields to target with your search. You may use boost syntax here, see the Advanced API Usage documentation.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filter[field]",
            "in": "query",
            "description": "Field to filter by. Every condition must contain either a <code>field</code> or <code>conditions</code> property.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[value][]",
            "in": "query",
            "description": "Value for the field being filtered. Leave blank to require existence of the field, must be present for <code>range</code> and <code>value</code> conditions.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filter[operator]",
            "in": "query",
            "description": "Operator by which filters will be combined.\n",
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "filter[negate]",
            "in": "query",
            "description": "Reverse the filter to include those items that do not match.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[conditions][]",
            "in": "query",
            "description": "This property is used to combine conditions with a logical connector (the <code>operator</code> property). Every condition must contain one of the <code>field</code> or <code>conditions</code> properties.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "facets[field]",
            "in": "query",
            "description": "Field to facet by. May include dates, references or the status field.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[name]",
            "in": "query",
            "description": "Identifier for resulting facet data. Useful when faceting multiple ways on the same field.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[limit]",
            "in": "query",
            "description": "Limit the number of facets returned for non-date based facets.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "facets[sort]",
            "in": "query",
            "description": "The sort order of non-date facets. Sorting may be by <code>value</code> or <code>count</code> of terms, and ascending or descending. <code>count</code> defaults to <code>desc</code>, <code>value</code> defaults to <code>asc</code>.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facets[filter][]",
            "in": "query",
            "description": "Apply all the same capabilities of the filter parameter to the specific results of this facet request.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "facets[interval]",
            "in": "query",
            "description": "Round date information to the nearest interval unit.\nApply all the same capabilities of the filter parameter to the specific results of this facet request.\n",
            "schema": {
              "type": "string",
              "enum": [
                "year",
                "month",
                "week",
                "day"
              ]
            }
          },
          {
            "name": "fields[include][]",
            "in": "query",
            "description": "Specify which fields to include for each item. Defaults to an item label.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields[exclude][]",
            "in": "query",
            "description": "Specify sub-fields to exclude from overall results. For example, if you include <code>date</code> you may exclude <code>date.changed</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return for a list query. The default is <code>10</code> and the maximum <code>1000</code>.\n",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset from which to return the items in a list query. Allows paging through all results. The default is <code>0</code>.\n",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sort[]",
            "in": "query",
            "description": "Sort the list results. Defaults to search relevance. Values in the form of <code>fieldname:(asc|desc)</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Pre-built standard selections of fields to return for ease of displaying lists or items.\n",
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "list",
                "minimal"
              ]
            }
          },
          {
            "name": "preset",
            "in": "query",
            "description": "Pre-built standard configurations of queries, filters and sorts for common use cases.\n",
            "schema": {
              "type": "string",
              "enum": [
                "analysis",
                "latest",
                "minimal"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sources"
        ],
        "summary": "List or search organizations providing content to ReliefWeb.\n",
        "operationId": "searchSources",
        "requestBody": {
          "description": "Returned fields",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/post-params"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "fields"
      }
    },
    "/sources/{sourceId}": {
      "get": {
        "tags": [
          "Sources"
        ],
        "summary": "Find source by its unique ID",
        "description": "Individual sources.\n",
        "operationId": "getSourceById",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "description": "The identifier of the source",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Pre-built standard selections of fields to return for ease of displaying lists or items.\n",
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "list",
                "minimal"
              ]
            }
          },
          {
            "name": "fields[include][]",
            "in": "query",
            "description": "Specify which fields to include for each item. Defaults to an item label.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields[exclude][]",
            "in": "query",
            "description": "Specify sub-fields to exclude from overall results. For example, if you include <code>date</code> you may exclude <code>date.changed</code>.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Source fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Report": {
        "type": "object",
        "properties": {
          "body": {
            "type": "string"
          },
          "country": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/country"
            }
          },
          "date": {
            "$ref": "#/components/schemas/date"
          },
          "format": {
            "type": "array",
            "description": "Format of report.",
            "items": {
              "$ref": "#/components/schemas/category"
            }
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "language": {
            "$ref": "#/components/schemas/language"
          },
          "primary_country": {
            "$ref": "#/components/schemas/country"
          },
          "source": {
            "type": "array",
            "description": "Report production and coordination bodies.",
            "items": {
              "$ref": "#/components/schemas/source"
            }
          },
          "status": {
            "type": "boolean"
          },
          "theme": {
            "type": "array",
            "description": "Category of information contained in the report.",
            "items": {
              "$ref": "#/components/schemas/category"
            }
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "category": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/category"
            }
          },
          "city": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/location"
            }
          },
          "country": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/country"
            }
          },
          "date": {
            "$ref": "#/components/schemas/date"
          },
          "description": {
            "type": "string"
          },
          "description-html": {
            "type": "string"
          },
          "experience": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/category"
            }
          },
          "file": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/file"
            }
          },
          "how-to-apply-html": {
            "type": "string"
          },
          "how_to_apply": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "language": {
            "$ref": "#/components/schemas/language"
          },
          "link": {
            "type": "string"
          },
          "theme": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/category"
            }
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Training": {
        "type": "object",
        "properties": {
          "category": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/category"
            }
          },
          "city": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/location"
            }
          },
          "country": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/country"
            }
          },
          "date": {
            "$ref": "#/components/schemas/date"
          },
          "description": {
            "type": "string"
          },
          "description-html": {
            "type": "string"
          },
          "file": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/file"
            }
          },
          "format": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/category"
            }
          },
          "how-to-apply-html": {
            "type": "string"
          },
          "how_to_apply": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "language": {
            "$ref": "#/components/schemas/language"
          },
          "link": {
            "type": "string"
          },
          "theme": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/category"
            }
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "current": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "description-html": {
            "type": "string"
          },
          "featured": {
            "type": "boolean"
          },
          "id": {
            "type": "integer"
          },
          "iso3": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "shortname": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Disaster": {
        "type": "object",
        "properties": {
          "category": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/category"
            }
          },
          "category_primary": {
            "$ref": "#/components/schemas/category"
          },
          "country": {
            "type": "array",
            "description": "Countries impacted by this disaster.",
            "items": {
              "$ref": "#/components/schemas/country"
            }
          },
          "current": {
            "type": "boolean",
            "description": "Ongoing disaster"
          },
          "description": {
            "type": "string"
          },
          "description-html": {
            "type": "string"
          },
          "featured": {
            "type": "boolean",
            "description": "Receiving special attention."
          },
          "glide": {
            "type": "string",
            "description": "[Glide number](http://glidenumber.net)\n"
          },
          "id": {
            "type": "integer"
          },
          "link": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "primary_country": {
            "$ref": "#/components/schemas/country"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Source": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "description-html": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "longname": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "shortname": {
            "type": "string"
          },
          "type": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/country"
            }
          },
          "url": {
            "type": "string"
          }
        }
      },
      "category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "country": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "iso3": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "primary": {
            "type": "boolean"
          },
          "shortname": {
            "type": "string"
          }
        },
        "description": "Country object."
      },
      "date": {
        "type": "object",
        "properties": {
          "changed": {
            "type": "string",
            "format": "string"
          },
          "created": {
            "type": "string",
            "format": "string"
          },
          "original": {
            "type": "string",
            "format": "string"
          }
        },
        "description": "Date object"
      },
      "file": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "mimetype": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "language": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "location": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "source": {
        "type": "object",
        "properties": {
          "homepage": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "integer"
          },
          "link": {
            "type": "string"
          },
          "longname": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "shortname": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/category"
          }
        }
      },
      "error": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "error": {
            "$ref": "#/components/schemas/error-definition"
          }
        }
      },
      "error-definition": {
        "type": "string"
      },
      "post-params": {
        "type": "object",
        "properties": {
          "query[value]": {
            "$ref": "#/components/schemas/query[value]-post"
          },
          "query[operator]-post": {
            "$ref": "#/components/schemas/query[operator]-post"
          },
          "query[fields][]-post": {
            "$ref": "#/components/schemas/query[fields][]-post"
          },
          "filter[field]-post": {
            "$ref": "#/components/schemas/filter[field]-post"
          },
          "filter[value][]-post": {
            "$ref": "#/components/schemas/filter[value][]-post"
          },
          "filter[operator]-post": {
            "$ref": "#/components/schemas/filter[operator]-post"
          },
          "filter[negate]-post": {
            "$ref": "#/components/schemas/filter[negate]-post"
          },
          "filter[conditions][]-post": {
            "$ref": "#/components/schemas/filter[conditions][]-post"
          },
          "facets[field]-post": {
            "$ref": "#/components/schemas/facets[field]-post"
          },
          "facets[name]-post": {
            "$ref": "#/components/schemas/facets[name]-post"
          },
          "facets[limit]-post": {
            "$ref": "#/components/schemas/facets[limit]-post"
          },
          "facets[sort]-post": {
            "$ref": "#/components/schemas/facets[sort]-post"
          },
          "facets[filter][]-post": {
            "$ref": "#/components/schemas/facets[filter][]-post"
          },
          "facets[interval]-post": {
            "$ref": "#/components/schemas/facets[interval]-post"
          },
          "fields[include][]": {
            "$ref": "#/components/schemas/fields[include][]-post"
          },
          "fields[exclude][]": {
            "$ref": "#/components/schemas/fields[exclude][]-post"
          },
          "sort[]-post": {
            "$ref": "#/components/schemas/sort[]-post"
          },
          "limit-post": {
            "$ref": "#/components/schemas/limit-post"
          },
          "offset-post": {
            "$ref": "#/components/schemas/offset-post"
          },
          "profile": {
            "$ref": "#/components/schemas/profile-post"
          },
          "preset-post": {
            "$ref": "#/components/schemas/preset-post"
          }
        }
      },
      "limit-post": {
        "maximum": 1000,
        "minimum": 1,
        "type": "integer",
        "description": "The maximum number of items to return for a list query. The default is <code>10</code> and the maximum <code>1000</code>.\n",
        "format": "int64",
        "default": 10
      },
      "offset-post": {
        "minimum": 0,
        "type": "integer",
        "description": "The offset from which to return the items in a list query. Allows paging through all results. The default is <code>0</code>.\n",
        "format": "int64",
        "default": 0
      },
      "preset-post": {
        "type": "string",
        "description": "Pre-built standard configurations of queries, filters and sorts for common use cases.\n",
        "enum": [
          "analysis",
          "latest",
          "minimal"
        ]
      },
      "query[value]-post": {
        "type": "string",
        "description": "Specify the terms of your fuzzy search. The default is no query.\n"
      },
      "query[operator]-post": {
        "type": "string",
        "description": "Specify the operator by which your search query words will be combined.\n",
        "enum": [
          "AND",
          "OR"
        ]
      },
      "query[fields][]-post": {
        "type": "array",
        "description": "Specify which fields to target with your search. You may use boost syntax here, see the Advanced API Usage documentation.\n",
        "items": {
          "type": "string"
        }
      },
      "profile-post": {
        "type": "string",
        "enum": [
          "full",
          "list",
          "minimal"
        ]
      },
      "fields[include][]-post": {
        "type": "array",
        "description": "Fields to include for each item.\n",
        "items": {
          "type": "string"
        }
      },
      "fields[exclude][]-post": {
        "type": "array",
        "description": "Sub-fields to exclude from results. For example, if you include <code>date</code> you may exclude <code>date.changed</code>.\n",
        "items": {
          "type": "string"
        }
      },
      "filter[field]-post": {
        "type": "string",
        "description": "Field to filter by. Every condition must contain either a <code>field</code> or <code>conditions</code> property.\n"
      },
      "filter[value][]-post": {
        "type": "array",
        "description": "Value for the field being filtered. Leave blank to require existence of the field, must be present for <code>range</code> and <code>value</code> conditions.\n",
        "items": {
          "type": "string"
        }
      },
      "filter[operator]-post": {
        "type": "string",
        "description": "Operator by which filters will be combined.\n",
        "enum": [
          "AND",
          "OR"
        ]
      },
      "filter[negate]-post": {
        "type": "boolean",
        "description": "Reverse the filter to include those items that do not match.\n"
      },
      "filter[conditions][]-post": {
        "type": "array",
        "description": "This property is used to combine conditions with a logical connector (the <code>operator</code> property). Every condition must contain one of the <code>field</code> or <code>conditions</code> properties.\n",
        "items": {
          "type": "string"
        }
      },
      "facets[field]-post": {
        "type": "string",
        "description": "Field to facet by. May include dates, references or the status field.\n"
      },
      "facets[name]-post": {
        "type": "string",
        "description": "Identifier for resulting facet data. Useful when faceting multiple ways on the same field.\n"
      },
      "facets[limit]-post": {
        "type": "integer",
        "description": "Limit the number of facets returned for non-date based facets.\n",
        "format": "int64"
      },
      "facets[sort]-post": {
        "type": "string",
        "description": "The sort order of non-date facets. Sorting may be by <code>value</code> or <code>count</code> of terms, and ascending or descending. <code>count</code> defaults to <code>desc</code>, <code>value</code> defaults to <code>asc</code>.\n"
      },
      "facets[filter][]-post": {
        "type": "array",
        "description": "Apply all the same capabilities of the filter parameter to the specific results of this facet request.\n",
        "items": {
          "type": "string"
        }
      },
      "facets[interval]-post": {
        "type": "string",
        "description": "Round date information to the nearest interval unit.\nApply all the same capabilities of the filter parameter to the specific results of this facet request.\n",
        "enum": [
          "year",
          "month",
          "week",
          "day"
        ]
      },
      "sort[]-post": {
        "type": "array",
        "description": "Sort the list results. Defaults to search relevance. Values in the form of <code>fieldname:(asc|desc)</code>.\n",
        "items": {
          "type": "string"
        }
      }
    },
    "parameters": {
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "The maximum number of items to return for a list query. The default is <code>10</code> and the maximum <code>1000</code>.\n",
        "schema": {
          "maximum": 1000,
          "minimum": 1,
          "type": "integer",
          "format": "int64",
          "default": 10
        }
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "description": "The offset from which to return the items in a list query. Allows paging through all results. The default is <code>0</code>.\n",
        "schema": {
          "minimum": 0,
          "type": "integer",
          "format": "int64",
          "default": 0
        }
      },
      "profile": {
        "name": "profile",
        "in": "query",
        "description": "Pre-built standard selections of fields to return for ease of displaying lists or items.\n",
        "schema": {
          "type": "string",
          "enum": [
            "full",
            "list",
            "minimal"
          ]
        }
      },
      "preset": {
        "name": "preset",
        "in": "query",
        "description": "Pre-built standard configurations of queries, filters and sorts for common use cases.\n",
        "schema": {
          "type": "string",
          "enum": [
            "analysis",
            "latest",
            "minimal"
          ]
        }
      },
      "fields[include][]": {
        "name": "fields[include][]",
        "in": "query",
        "description": "Specify which fields to include for each item. Defaults to an item label.\n",
        "style": "form",
        "explode": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "fields[exclude][]": {
        "name": "fields[exclude][]",
        "in": "query",
        "description": "Specify sub-fields to exclude from overall results. For example, if you include <code>date</code> you may exclude <code>date.changed</code>.\n",
        "style": "form",
        "explode": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "query[value]": {
        "name": "query[value]",
        "in": "query",
        "description": "Specify the terms of your fuzzy search. The default is no query.\n",
        "schema": {
          "type": "string"
        }
      },
      "query[operator]": {
        "name": "query[operator]",
        "in": "query",
        "description": "Specify the operator by which your search query words will be combined.\n",
        "schema": {
          "type": "string",
          "enum": [
            "AND",
            "OR"
          ]
        }
      },
      "query[fields][]": {
        "name": "query[fields][]",
        "in": "query",
        "description": "Specify which fields to target with your search. You may use boost syntax here, see the Advanced API Usage documentation.\n",
        "style": "form",
        "explode": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "filter[field]": {
        "name": "filter[field]",
        "in": "query",
        "description": "Field to filter by. Every condition must contain either a <code>field</code> or <code>conditions</code> property.\n",
        "schema": {
          "type": "string"
        }
      },
      "filter[value][]": {
        "name": "filter[value][]",
        "in": "query",
        "description": "Value for the field being filtered. Leave blank to require existence of the field, must be present for <code>range</code> and <code>value</code> conditions.\n",
        "style": "form",
        "explode": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "filter[operator]": {
        "name": "filter[operator]",
        "in": "query",
        "description": "Operator by which filters will be combined.\n",
        "schema": {
          "type": "string",
          "enum": [
            "AND",
            "OR"
          ]
        }
      },
      "filter[negate]": {
        "name": "filter[negate]",
        "in": "query",
        "description": "Reverse the filter to include those items that do not match.\n",
        "schema": {
          "type": "boolean"
        }
      },
      "filter[conditions][]": {
        "name": "filter[conditions][]",
        "in": "query",
        "description": "This property is used to combine conditions with a logical connector (the <code>operator</code> property). Every condition must contain one of the <code>field</code> or <code>conditions</code> properties.\n",
        "style": "form",
[...]
