{
  "openapi": "3.0.3",
  "info": {
    "title": "Recruitee API",
    "description": "Recruitee is an Applicant Tracking System (ATS) and collaborative hiring platform. This API provides programmatic access to manage candidates, job offers, departments, pipeline stages, tags, notes, tasks, and placements within your Recruitee account.",
    "version": "1.0.0",
    "contact": {
      "name": "Recruitee",
      "url": "https://recruitee.com"
    },
    "x-logo": {
      "url": "https://recruitee.com/favicon.ico"
    }
  },
  "servers": [
    {
      "url": "https://api.recruitee.com/c/{company_id}",
      "description": "Recruitee API server",
      "variables": {
        "company_id": {
          "description": "Your Recruitee company ID",
          "default": "0"
        }
      }
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Candidates",
      "description": "Manage candidates in your talent pool"
    },
    {
      "name": "Offers",
      "description": "Manage job offers/postings"
    },
    {
      "name": "Departments",
      "description": "Manage company departments"
    },
    {
      "name": "Pipeline Templates",
      "description": "Manage hiring pipeline templates and stages"
    },
    {
      "name": "Pipeline Stages",
      "description": "Manage stages within pipeline templates"
    },
    {
      "name": "Offer Pipeline",
      "description": "Manage pipeline templates and stages assigned to specific offers"
    },
    {
      "name": "Tags",
      "description": "Manage tags for organizing candidates"
    },
    {
      "name": "Notes",
      "description": "Manage notes on candidates, offers, and other resources"
    },
    {
      "name": "Tasks",
      "description": "Manage tasks related to candidates and hiring"
    },
    {
      "name": "Placements",
      "description": "Manage candidate placements within offer pipelines"
    },
    {
      "name": "Search",
      "description": "Search for candidates"
    }
  ],
  "paths": {
    "/candidates": {
      "get": {
        "operationId": "listCandidates",
        "summary": "List candidates",
        "description": "Retrieve a list of candidates for the company.",
        "tags": ["Candidates"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "schema": { "type": "integer", "default": 25 }
          },
          {
            "name": "created_after",
            "in": "query",
            "description": "Filter candidates created after this date (ISO 8601)",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field",
            "schema": { "type": "string" }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Sort direction",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          },
          {
            "name": "offer_id",
            "in": "query",
            "description": "Filter by offer/job ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "qualified",
            "in": "query",
            "description": "Filter by qualification status",
            "schema": { "type": "boolean" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of candidates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidates": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Candidate" }
                    },
                    "total": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createCandidate",
        "summary": "Create a candidate",
        "description": "Create a new candidate in the company.",
        "tags": ["Candidates"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["candidate"],
                "properties": {
                  "candidate": { "$ref": "#/components/schemas/CandidateInput" },
                  "offers": {
                    "type": "array",
                    "items": { "type": "integer" },
                    "description": "List of offer IDs to assign the candidate to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Candidate created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidate": { "$ref": "#/components/schemas/Candidate" }
                  }
                }
              }
            }
          },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/candidates/{id}": {
      "get": {
        "operationId": "getCandidate",
        "summary": "Get a candidate",
        "description": "Retrieve a single candidate by ID.",
        "tags": ["Candidates"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Candidate ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Candidate details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidate": { "$ref": "#/components/schemas/Candidate" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateCandidate",
        "summary": "Update a candidate",
        "description": "Update an existing candidate.",
        "tags": ["Candidates"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Candidate ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "candidate": { "$ref": "#/components/schemas/CandidateInput" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidate updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidate": { "$ref": "#/components/schemas/Candidate" }
                  }
                }
              }
            }
          },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      },
      "delete": {
        "operationId": "deleteCandidate",
        "summary": "Delete a candidate",
        "description": "Delete a candidate by ID.",
        "tags": ["Candidates"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Candidate ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "204": { "description": "Candidate deleted" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/candidates/{id}/duplicates": {
      "get": {
        "operationId": "getCandidateDuplicates",
        "summary": "Get candidate duplicates",
        "description": "Retrieve potential duplicate candidates for a given candidate.",
        "tags": ["Candidates"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Candidate ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of duplicate candidates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidates": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Candidate" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/candidates/{id}/merge": {
      "patch": {
        "operationId": "mergeCandidates",
        "summary": "Merge candidates",
        "description": "Merge a candidate with another candidate.",
        "tags": ["Candidates"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Primary candidate ID (target of merge)",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_candidate_id": {
                    "type": "integer",
                    "description": "ID of the candidate to merge into the primary candidate"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidates merged successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidate": { "$ref": "#/components/schemas/Candidate" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/candidates/{id}/follow": {
      "patch": {
        "operationId": "followCandidate",
        "summary": "Follow a candidate",
        "description": "Follow a candidate to receive updates about them.",
        "tags": ["Candidates"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Candidate ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": { "description": "Candidate followed" }
        }
      }
    },
    "/candidates/{id}/unfollow": {
      "patch": {
        "operationId": "unfollowCandidate",
        "summary": "Unfollow a candidate",
        "description": "Stop following a candidate.",
        "tags": ["Candidates"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Candidate ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": { "description": "Candidate unfollowed" }
        }
      }
    },
    "/candidates/{id}/view": {
      "patch": {
        "operationId": "markCandidateViewed",
        "summary": "Mark candidate as viewed",
        "description": "Mark a candidate profile as viewed by the current admin.",
        "tags": ["Candidates"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Candidate ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": { "description": "Candidate marked as viewed" }
        }
      }
    },
    "/candidates/{id}/retrieve": {
      "post": {
        "operationId": "retrieveCandidate",
        "summary": "Retrieve a deleted candidate",
        "description": "Retrieve a previously deleted candidate.",
        "tags": ["Candidates"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Candidate ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Candidate retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidate": { "$ref": "#/components/schemas/Candidate" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/candidates/check_presence": {
      "get": {
        "operationId": "checkCandidatePresence",
        "summary": "Check candidate presence",
        "description": "Check if a candidate exists by email.",
        "tags": ["Candidates"],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Email address to check",
            "schema": { "type": "string", "format": "email" }
          }
        ],
        "responses": {
          "200": {
            "description": "Presence check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidate_id": { "type": "integer", "nullable": true }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/candidates/counters": {
      "get": {
        "operationId": "getCandidateCounters",
        "summary": "Get candidate counters",
        "description": "Get counts of candidates by various criteria.",
        "tags": ["Candidates"],
        "responses": {
          "200": {
            "description": "Candidate counters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "counters": {
                      "type": "object",
                      "additionalProperties": { "type": "integer" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/candidates/similar": {
      "get": {
        "operationId": "getSimilarCandidates",
        "summary": "Find similar candidates",
        "description": "Search for candidates similar to specified criteria.",
        "tags": ["Candidates"],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Candidate name to match",
            "schema": { "type": "string" }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Candidate email to match",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Similar candidates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidates": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Candidate" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/candidates/import": {
      "post": {
        "operationId": "importCandidates",
        "summary": "Import candidates",
        "description": "Bulk import candidates from a file or data source.",
        "tags": ["Candidates"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "candidates": {
                    "type": "array",
                    "items": { "$ref": "#/components/schemas/CandidateInput" }
                  },
                  "offer_id": {
                    "type": "integer",
                    "description": "Offer ID to assign imported candidates to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "imported": { "type": "integer" },
                    "skipped": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/candidates/{candidate_id}/sources": {
      "get": {
        "operationId": "getCandidateSources",
        "summary": "Get candidate sources",
        "description": "Retrieve sources for a candidate.",
        "tags": ["Candidates"],
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "required": true,
            "description": "Candidate ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Candidate sources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sources": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Source" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/candidates/{id}/followers": {
      "post": {
        "operationId": "addCandidateFollower",
        "summary": "Add candidate follower",
        "description": "Add an admin as a follower of a candidate.",
        "tags": ["Candidates"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Candidate ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "admin_id": {
                    "type": "integer",
                    "description": "Admin ID to add as follower"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Follower added" }
        }
      },
      "delete": {
        "operationId": "removeCandidateFollower",
        "summary": "Remove candidate follower",
        "description": "Remove an admin as a follower of a candidate.",
        "tags": ["Candidates"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Candidate ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": { "description": "Follower removed" }
        }
      }
    },
    "/offers": {
      "get": {
        "operationId": "listOffers",
        "summary": "List offers",
        "description": "Retrieve a list of job offers for the company.",
        "tags": ["Offers"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "schema": { "type": "integer", "default": 25 }
          },
          {
            "name": "scope",
            "in": "query",
            "description": "Filter by scope (e.g., active, archived, closed, draft)",
            "schema": { "type": "string" }
          },
          {
            "name": "department_id",
            "in": "query",
            "description": "Filter by department ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filter by job kind",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of offers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offers": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Offer" }
                    },
                    "total": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOffer",
        "summary": "Create an offer",
        "description": "Create a new job offer.",
        "tags": ["Offers"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["offer"],
                "properties": {
                  "offer": { "$ref": "#/components/schemas/OfferInput" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Offer created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offer": { "$ref": "#/components/schemas/Offer" }
                  }
                }
              }
            }
          },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/offers/{id}": {
      "get": {
        "operationId": "getOffer",
        "summary": "Get an offer",
        "description": "Retrieve a single job offer by ID.",
        "tags": ["Offers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Offer details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offer": { "$ref": "#/components/schemas/Offer" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateOffer",
        "summary": "Update an offer",
        "description": "Update an existing job offer.",
        "tags": ["Offers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offer": { "$ref": "#/components/schemas/OfferInput" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Offer updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offer": { "$ref": "#/components/schemas/Offer" }
                  }
                }
              }
            }
          },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      },
      "delete": {
        "operationId": "deleteOffer",
        "summary": "Delete an offer",
        "description": "Delete a job offer by ID.",
        "tags": ["Offers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "204": { "description": "Offer deleted" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/offers/{id}/publish": {
      "patch": {
        "operationId": "publishOffer",
        "summary": "Publish an offer",
        "description": "Publish a job offer to make it publicly visible.",
        "tags": ["Offers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Offer published",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offer": { "$ref": "#/components/schemas/Offer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/offers/{id}/unpublish": {
      "patch": {
        "operationId": "unpublishOffer",
        "summary": "Unpublish an offer",
        "description": "Unpublish a job offer to remove it from public view.",
        "tags": ["Offers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Offer unpublished",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offer": { "$ref": "#/components/schemas/Offer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/offers/{id}/close": {
      "patch": {
        "operationId": "closeOffer",
        "summary": "Close an offer",
        "description": "Close a job offer (mark position as filled or no longer available).",
        "tags": ["Offers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Offer closed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offer": { "$ref": "#/components/schemas/Offer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/offers/{id}/archive": {
      "patch": {
        "operationId": "archiveOffer",
        "summary": "Archive an offer",
        "description": "Archive a job offer.",
        "tags": ["Offers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Offer archived",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offer": { "$ref": "#/components/schemas/Offer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/offers/{id}/unarchive": {
      "patch": {
        "operationId": "unarchiveOffer",
        "summary": "Unarchive an offer",
        "description": "Unarchive a previously archived job offer.",
        "tags": ["Offers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Offer unarchived",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offer": { "$ref": "#/components/schemas/Offer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/offers/{id}/draft": {
      "patch": {
        "operationId": "draftOffer",
        "summary": "Set offer to draft",
        "description": "Move a job offer back to draft status.",
        "tags": ["Offers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Offer set to draft",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offer": { "$ref": "#/components/schemas/Offer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/offers/{id}/duplicate": {
      "patch": {
        "operationId": "duplicateOffer",
        "summary": "Duplicate an offer",
        "description": "Create a duplicate copy of a job offer.",
        "tags": ["Offers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Offer duplicated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offer": { "$ref": "#/components/schemas/Offer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/offers/{id}/follow": {
      "patch": {
        "operationId": "followOffer",
        "summary": "Follow an offer",
        "description": "Follow a job offer to receive updates.",
        "tags": ["Offers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": { "description": "Offer followed" }
        }
      }
    },
    "/offers/{id}/unfollow": {
      "patch": {
        "operationId": "unfollowOffer",
        "summary": "Unfollow an offer",
        "description": "Stop following a job offer.",
        "tags": ["Offers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": { "description": "Offer unfollowed" }
        }
      }
    },
    "/offers/{offer_id}/candidates": {
      "post": {
        "operationId": "addCandidateToOffer",
        "summary": "Add candidate to offer",
        "description": "Add an existing candidate to a job offer, creating a placement.",
        "tags": ["Offers"],
        "parameters": [
          {
            "name": "offer_id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "candidate_id": {
                    "type": "integer",
                    "description": "ID of the candidate to add"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidate added to offer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "placement": { "$ref": "#/components/schemas/Placement" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/departments": {
      "get": {
        "operationId": "listDepartments",
        "summary": "List departments",
        "description": "Retrieve all departments for the company.",
        "tags": ["Departments"],
        "responses": {
          "200": {
            "description": "List of departments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "departments": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Department" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDepartment",
        "summary": "Create a department",
        "description": "Create a new department.",
        "tags": ["Departments"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["department"],
                "properties": {
                  "department": { "$ref": "#/components/schemas/DepartmentInput" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Department created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "department": { "$ref": "#/components/schemas/Department" }
                  }
                }
              }
            }
          },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      },
      "delete": {
        "operationId": "deleteAllDepartments",
        "summary": "Delete departments",
        "description": "Delete multiple departments.",
        "tags": ["Departments"],
        "responses": {
          "204": { "description": "Departments deleted" }
        }
      }
    },
    "/departments/{id}": {
      "get": {
        "operationId": "getDepartment",
        "summary": "Get a department",
        "description": "Retrieve a single department by ID.",
        "tags": ["Departments"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Department ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Department details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "department": { "$ref": "#/components/schemas/Department" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "updateDepartment",
        "summary": "Update a department",
        "description": "Update an existing department.",
        "tags": ["Departments"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Department ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "department": { "$ref": "#/components/schemas/DepartmentInput" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Department updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "department": { "$ref": "#/components/schemas/Department" }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDepartment",
        "summary": "Delete a department",
        "description": "Delete a department by ID.",
        "tags": ["Departments"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Department ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "204": { "description": "Department deleted" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/departments/{id}/merge": {
      "patch": {
        "operationId": "mergeDepartment",
        "summary": "Merge a department",
        "description": "Merge a department into another department.",
        "tags": ["Departments"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Source department ID (will be merged and removed)",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_id": {
                    "type": "integer",
                    "description": "Target department ID to merge into"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Department merged" }
        }
      }
    },
    "/pipeline_templates": {
      "get": {
        "operationId": "listPipelineTemplates",
        "summary": "List pipeline templates",
        "description": "Retrieve all pipeline templates for the company.",
        "tags": ["Pipeline Templates"],
        "responses": {
          "200": {
            "description": "List of pipeline templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipeline_templates": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/PipelineTemplate" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPipelineTemplate",
        "summary": "Create a pipeline template",
        "description": "Create a new pipeline template.",
        "tags": ["Pipeline Templates"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["pipeline_template"],
                "properties": {
                  "pipeline_template": { "$ref": "#/components/schemas/PipelineTemplateInput" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pipeline template created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipeline_template": { "$ref": "#/components/schemas/PipelineTemplate" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pipeline_templates/{id}": {
      "get": {
        "operationId": "getPipelineTemplate",
        "summary": "Get a pipeline template",
        "description": "Retrieve a single pipeline template by ID.",
        "tags": ["Pipeline Templates"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Pipeline template ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline template details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipeline_template": { "$ref": "#/components/schemas/PipelineTemplate" }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePipelineTemplate",
        "summary": "Delete a pipeline template",
        "description": "Delete a pipeline template by ID.",
        "tags": ["Pipeline Templates"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Pipeline template ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "204": { "description": "Pipeline template deleted" }
        }
      }
    },
    "/pipeline_templates/{id}/duplicate": {
      "post": {
        "operationId": "duplicatePipelineTemplate",
        "summary": "Duplicate a pipeline template",
        "description": "Create a copy of an existing pipeline template.",
        "tags": ["Pipeline Templates"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Pipeline template ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline template duplicated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipeline_template": { "$ref": "#/components/schemas/PipelineTemplate" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pipeline_templates/set_default": {
      "patch": {
        "operationId": "setDefaultPipelineTemplate",
        "summary": "Set default pipeline template",
        "description": "Set a pipeline template as the default for new offers.",
        "tags": ["Pipeline Templates"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pipeline_template_id": {
                    "type": "integer",
                    "description": "ID of the pipeline template to set as default"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Default pipeline template set" }
        }
      }
    },
    "/pipeline_templates/update_positions": {
      "patch": {
        "operationId": "updatePipelineTemplatePositions",
        "summary": "Update pipeline template positions",
        "description": "Reorder pipeline templates by updating their positions.",
        "tags": ["Pipeline Templates"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": { "type": "integer" },
                    "description": "Ordered list of pipeline template IDs"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Positions updated" }
        }
      }
    },
    "/pipeline_templates/{pipeline_template_id}/stages": {
      "post": {
        "operationId": "createPipelineStage",
        "summary": "Create a pipeline stage",
        "description": "Add a new stage to a pipeline template.",
        "tags": ["Pipeline Stages"],
        "parameters": [
          {
            "name": "pipeline_template_id",
            "in": "path",
            "required": true,
            "description": "Pipeline template ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["stage"],
                "properties": {
                  "stage": { "$ref": "#/components/schemas/StageInput" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Stage created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stage": { "$ref": "#/components/schemas/Stage" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pipeline_templates/{pipeline_template_id}/stages/{id}": {
      "patch": {
        "operationId": "updatePipelineStage",
        "summary": "Update a pipeline stage",
        "description": "Update a stage within a pipeline template.",
        "tags": ["Pipeline Stages"],
        "parameters": [
          {
            "name": "pipeline_template_id",
            "in": "path",
            "required": true,
            "description": "Pipeline template ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stage ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stage": { "$ref": "#/components/schemas/StageInput" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stage updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stage": { "$ref": "#/components/schemas/Stage" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pipeline_templates/{pipeline_template_id}/stages/update_positions": {
      "patch": {
        "operationId": "updatePipelineStagePositions",
        "summary": "Update pipeline stage positions",
        "description": "Reorder stages within a pipeline template.",
        "tags": ["Pipeline Stages"],
        "parameters": [
          {
            "name": "pipeline_template_id",
            "in": "path",
            "required": true,
            "description": "Pipeline template ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": { "type": "integer" },
                    "description": "Ordered list of stage IDs"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Stage positions updated" }
        }
      }
    },
    "/offers/{offer_id}/pipeline_templates": {
      "get": {
        "operationId": "getOfferPipelineTemplates",
        "summary": "Get offer pipeline templates",
        "description": "Get pipeline templates associated with a specific offer.",
        "tags": ["Offer Pipeline"],
        "parameters": [
          {
            "name": "offer_id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline templates for the offer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipeline_templates": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/PipelineTemplate" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/offers/{offer_id}/pipeline_templates/stages": {
      "post": {
        "operationId": "createOfferPipelineStage",
        "summary": "Create offer pipeline stage",
        "description": "Add a new stage to an offer's pipeline.",
        "tags": ["Offer Pipeline"],
        "parameters": [
          {
            "name": "offer_id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["stage"],
                "properties": {
                  "stage": { "$ref": "#/components/schemas/StageInput" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Stage created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stage": { "$ref": "#/components/schemas/Stage" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/offers/{offer_id}/pipeline_templates/stages/update_positions": {
      "patch": {
        "operationId": "updateOfferPipelineStagePositions",
        "summary": "Update offer pipeline stage positions",
        "description": "Reorder stages within an offer's pipeline.",
        "tags": ["Offer Pipeline"],
        "parameters": [
          {
            "name": "offer_id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": { "type": "integer" },
                    "description": "Ordered list of stage IDs"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Stage positions updated" }
        }
      }
    },
    "/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "List tags",
        "description": "Retrieve all tags for the company.",
        "tags": ["Tags"],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Tag" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTag",
        "summary": "Create a tag",
        "description": "Create a new tag.",
        "tags": ["Tags"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tag"],
                "properties": {
                  "tag": { "$ref": "#/components/schemas/TagInput" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tag created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tag": { "$ref": "#/components/schemas/Tag" }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAllTags",
        "summary": "Delete tags",
        "description": "Delete multiple tags.",
        "tags": ["Tags"],
        "responses": {
          "204": { "description": "Tags deleted" }
        }
      }
    },
    "/tags/{id}": {
      "patch": {
        "operationId": "updateTag",
        "summary": "Update a tag",
        "description": "Update an existing tag.",
        "tags": ["Tags"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Tag ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tag": { "$ref": "#/components/schemas/TagInput" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tag": { "$ref": "#/components/schemas/Tag" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tags/{id}/merge": {
      "patch": {
        "operationId": "mergeTag",
        "summary": "Merge a tag",
        "description": "Merge a tag into another tag.",
        "tags": ["Tags"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Source tag ID (will be merged and removed)",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_id": {
                    "type": "integer",
                    "description": "Target tag ID to merge into"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Tag merged" }
        }
      }
    },
    "/candidates/{candidate_id}/tags": {
      "post": {
        "operationId": "addCandidateTag",
        "summary": "Add tag to candidate",
        "description": "Add a tag to a candidate.",
        "tags": ["Tags"],
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "required": true,
            "description": "Candidate ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tag": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string", "description": "Tag name" }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Tag added to candidate" }
        }
      },
      "delete": {
        "operationId": "removeCandidateTag",
        "summary": "Remove tag from candidate",
        "description": "Remove a tag from a candidate.",
        "tags": ["Tags"],
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "required": true,
            "description": "Candidate ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": { "description": "Tag removed from candidate" }
        }
      }
    },
    "/candidates/{candidate_id}/notes": {
      "get": {
        "operationId": "listCandidateNotes",
        "summary": "List candidate notes",
        "description": "Retrieve all notes for a candidate.",
        "tags": ["Notes"],
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "required": true,
            "description": "Candidate ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of notes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "notes": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Note" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCandidateNote",
        "summary": "Create candidate note",
        "description": "Create a new note on a candidate.",
        "tags": ["Notes"],
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "required": true,
            "description": "Candidate ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["note"],
                "properties": {
                  "note": { "$ref": "#/components/schemas/NoteInput" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Note created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "note": { "$ref": "#/components/schemas/Note" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/offers/{offer_id}/notes": {
      "get": {
        "operationId": "listOfferNotes",
        "summary": "List offer notes",
        "description": "Retrieve all notes for an offer.",
        "tags": ["Notes"],
        "parameters": [
          {
            "name": "offer_id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of notes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "notes": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Note" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOfferNote",
        "summary": "Create offer note",
        "description": "Create a new note on an offer.",
        "tags": ["Notes"],
        "parameters": [
          {
            "name": "offer_id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["note"],
                "properties": {
                  "note": { "$ref": "#/components/schemas/NoteInput" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Note created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "note": { "$ref": "#/components/schemas/Note" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notes/{id}": {
      "patch": {
        "operationId": "updateNote",
        "summary": "Update a note",
        "description": "Update an existing note.",
        "tags": ["Notes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Note ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "note": { "$ref": "#/components/schemas/NoteInput" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "note": { "$ref": "#/components/schemas/Note" }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteNote",
        "summary": "Delete a note",
        "description": "Delete a note by ID.",
        "tags": ["Notes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Note ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "204": { "description": "Note deleted" }
        }
      }
    },
    "/notes/{id}/pin": {
      "patch": {
        "operationId": "pinNote",
        "summary": "Pin a note",
        "description": "Pin a note to keep it prominently visible.",
        "tags": ["Notes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Note ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": { "description": "Note pinned" }
        }
      }
    },
    "/notes/{id}/unpin": {
      "patch": {
        "operationId": "unpinNote",
        "summary": "Unpin a note",
        "description": "Unpin a previously pinned note.",
        "tags": ["Notes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Note ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": { "description": "Note unpinned" }
        }
      }
    },
    "/notes/{id}/checklist": {
      "patch": {
        "operationId": "updateNoteChecklist",
        "summary": "Update note checklist",
        "description": "Update the checklist items within a note.",
        "tags": ["Notes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Note ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "checklist": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "text": { "type": "string" },
                        "checked": { "type": "boolean" }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Checklist updated" }
        }
      }
    },
    "/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List tasks",
        "description": "Retrieve all tasks for the company.",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "Filter by task scope (e.g., mine, completed)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tasks": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Task" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTask",
        "summary": "Create a task",
        "description": "Create a new task.",
        "tags": ["Tasks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["task"],
                "properties": {
                  "task": { "$ref": "#/components/schemas/TaskInput" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task": { "$ref": "#/components/schemas/Task" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{id}": {
      "get": {
        "operationId": "getTask",
        "summary": "Get a task",
        "description": "Retrieve a single task by ID.",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Task ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Task details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task": { "$ref": "#/components/schemas/Task" }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateTask",
        "summary": "Update a task",
        "description": "Update an existing task.",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Task ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "task": { "$ref": "#/components/schemas/TaskInput" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task": { "$ref": "#/components/schemas/Task" }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTask",
        "summary": "Delete a task",
        "description": "Delete a task by ID.",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Task ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "204": { "description": "Task deleted" }
        }
      }
    },
    "/candidates/{candidate_id}/tasks": {
      "get": {
        "operationId": "listCandidateTasks",
        "summary": "List candidate tasks",
        "description": "Retrieve all tasks associated with a candidate.",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "required": true,
            "description": "Candidate ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tasks": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Task" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/placements": {
      "post": {
        "operationId": "createPlacement",
        "summary": "Create a placement",
        "description": "Create a new placement (assign a candidate to an offer pipeline).",
        "tags": ["Placements"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["placement"],
                "properties": {
                  "placement": {
                    "type": "object",
                    "properties": {
                      "candidate_id": { "type": "integer" },
                      "offer_id": { "type": "integer" },
                      "stage_id": { "type": "integer" }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Placement created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "placement": { "$ref": "#/components/schemas/Placement" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/placements/{id}": {
      "delete": {
        "operationId": "deletePlacement",
        "summary": "Delete a placement",
        "description": "Remove a candidate from an offer pipeline.",
        "tags": ["Placements"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Placement ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "204": { "description": "Placement deleted" }
        }
      }
    },
    "/placements/{id}/change_stage": {
      "patch": {
        "operationId": "changePlacementStage",
        "summary": "Change placement stage",
        "description": "Move a candidate to a different stage in the pipeline.",
        "tags": ["Placements"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Placement ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stage_id": {
                    "type": "integer",
                    "description": "Target stage ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stage changed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "placement": { "$ref": "#/components/schemas/Placement" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/placements/{id}/disqualify": {
      "patch": {
        "operationId": "disqualifyPlacement",
        "summary": "Disqualify a placement",
        "description": "Mark a candidate as disqualified in an offer pipeline.",
        "tags": ["Placements"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Placement ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Reason for disqualification"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Placement disqualified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "placement": { "$ref": "#/components/schemas/Placement" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/placements/{id}/requalify": {
      "patch": {
        "operationId": "requalifyPlacement",
        "summary": "Requalify a placement",
        "description": "Requalify a previously disqualified candidate in an offer pipeline.",
        "tags": ["Placements"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Placement ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Placement requalified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "placement": { "$ref": "#/components/schemas/Placement" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/placements/{id}/hiring_details": {
      "get": {
        "operationId": "getPlacementHiringDetails",
        "summary": "Get placement hiring details",
        "description": "Get hiring details for a placement.",
        "tags": ["Placements"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Placement ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Hiring details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hiring_details": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updatePlacementHiringDetails",
        "summary": "Update placement hiring details",
        "description": "Update hiring details for a placement.",
        "tags": ["Placements"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Placement ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hiring_details": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Hiring details updated" }
        }
      }
    },
    "/offers/{offer_id}/placements": {
      "get": {
        "operationId": "listOfferPlacements",
        "summary": "List offer placements",
        "description": "Retrieve all placements (candidate applications) for a specific offer.",
        "tags": ["Placements"],
        "parameters": [
          {
            "name": "offer_id",
            "in": "path",
            "required": true,
            "description": "Offer ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of placements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "placements": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Placement" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/new/candidates": {
      "get": {
        "operationId": "searchCandidates",
        "summary": "Search candidates",
        "description": "Search for candidates using various filters and criteria.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search query string",
            "schema": { "type": "string" }
          },
          {
            "name": "offer_id",
            "in": "query",
            "description": "Filter by offer ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "stage_id",
            "in": "query",
            "description": "Filter by pipeline stage ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Filter by tag name",
            "schema": { "type": "string" }
          },
          {
            "name": "qualified",
            "in": "query",
            "description": "Filter by qualification status",
            "schema": { "type": "boolean" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page",
            "schema": { "type": "integer", "default": 25 }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field",
            "schema": { "type": "string" }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Sort direction",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidates": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Candidate" }
                    },
                    "total": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/new/quick": {
      "get": {
        "operationId": "quickSearch",
        "summary": "Quick search",
        "description": "Perform a quick search across candidates, offers, and other entities.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query string",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Quick search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidates": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Candidate" }
                    },
                    "offers": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Offer" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Recruitee API token. Obtain from your Recruitee account settings under Apps & Plugins > Personal API Tokens."
      }
    },
    "schemas": {
      "Candidate": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "description": "Candidate ID" },
          "name": { "type": "string", "description": "Full name" },
          "first_name": { "type": "string", "description": "First name" },
          "last_name": { "type": "string", "description": "Last name" },
          "email": { "type": "string", "format": "email", "description": "Email address" },
          "phone": { "type": "string", "description": "Phone number" },
          "photo_thumb_url": { "type": "string", "nullable": true, "description": "URL to candidate photo thumbnail" },
          "referring_url": { "type": "string", "nullable": true, "description": "Referring URL" },
          "created_at": { "type": "string", "format": "date-time", "description": "Creation timestamp" },
          "updated_at": { "type": "string", "format": "date-time", "description": "Last update timestamp" },
          "positive_ratings": { "type": "integer", "description": "Number of positive ratings" },
          "negative_ratings": { "type": "integer", "description": "Number of negative ratings" },
          "source": { "type": "string", "nullable": true, "description": "Candidate source" },
          "tags": {
            "type": "array",
            "items": { "type": "string" },
            "description": "List of tag names"
          },
          "placements": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Placement" },
            "description": "Candidate placements in offer pipelines"
          },
          "fields": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom fields"
          },
          "cv_url": { "type": "string", "nullable": true, "description": "URL to candidate CV" },
          "cover_letter_url": { "type": "string", "nullable": true, "description": "URL to cover letter" },
          "social_links": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Social profile URLs"
          },
          "emails": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Additional email addresses"
          },
          "phones": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Additional phone numbers"
          },
          "followed": { "type": "boolean", "description": "Whether the current admin follows this candidate" },
          "viewed": { "type": "boolean", "description": "Whether the current admin has viewed this candidate" }
        }
      },
      "CandidateInput": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "Full name of the candidate" },
          "email": { "type": "string", "format": "email", "description": "Email address" },
          "phone": { "type": "string", "description": "Phone number" },
          "photo_url": { "type": "string", "description": "URL to candidate photo" },
          "social_links": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Social profile URLs"
          },
          "emails": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Additional email addresses"
          },
          "phones": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Additional phone numbers"
          },
          "tags": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Tag names to assign"
          },
          "sources": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Source names"
          }
        }
      },
      "Offer": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "description": "Offer ID" },
          "title": { "type": "string", "description": "Job title" },
          "slug": { "type": "string", "description": "URL-friendly slug" },
          "status": { "type": "string", "description": "Offer status (draft, published, closed, archived)", "enum": ["draft", "published", "closed", "archived"] },
          "description": { "type": "string", "description": "Job description (HTML)" },
          "requirements": { "type": "string", "description": "Job requirements (HTML)" },
          "department": { "type": "string", "nullable": true, "description": "Department name" },
          "department_id": { "type": "integer", "nullable": true, "description": "Department ID" },
          "location": { "type": "string", "nullable": true, "description": "Job location" },
          "country": { "type": "string", "nullable": true, "description": "Country" },
          "country_code": { "type": "string", "nullable": true, "description": "ISO country code" },
          "city": { "type": "string", "nullable": true, "description": "City" },
          "state_code": { "type": "string", "nullable": true, "description": "State/province code" },
          "postal_code": { "type": "string", "nullable": true, "description": "Postal/zip code" },
          "remote": { "type": "boolean", "description": "Whether the position is remote" },
          "position": { "type": "integer", "description": "Display position" },
          "kind": { "type": "string", "description": "Employment type", "nullable": true },
          "category": { "type": "string", "nullable": true, "description": "Job category" },
          "experience": { "type": "string", "nullable": true, "description": "Experience level" },
          "education": { "type": "string", "nullable": true, "description": "Education level" },
          "salary_from": { "type": "number", "nullable": true, "description": "Minimum salary" },
          "salary_to": { "type": "number", "nullable": true, "description": "Maximum salary" },
          "salary_currency": { "type": "string", "nullable": true, "description": "Salary currency code" },
          "salary_period": { "type": "string", "nullable": true, "description": "Salary period (year, month, etc.)" },
          "created_at": { "type": "string", "format": "date-time", "description": "Creation timestamp" },
          "updated_at": { "type": "string", "format": "date-time", "description": "Last update timestamp" },
          "published_at": { "type": "string", "format": "date-time", "nullable": true, "description": "Publication timestamp" },
          "closed_at": { "type": "string", "format": "date-time", "nullable": true, "description": "Closing timestamp" },
          "candidates_count": { "type": "integer", "description": "Number of candidates" },
          "pipeline_template_id": { "type": "integer", "nullable": true, "description": "Associated pipeline template ID" },
          "careers_url": { "type": "string", "nullable": true, "description": "Public careers page URL" },
          "tags": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Offer tags"
          }
        }
      },
      "OfferInput": {
        "type": "object",
        "required": ["title"],
        "properties": {
          "title": { "type": "string", "description": "Job title" },
          "description": { "type": "string", "description": "Job description (HTML)" },
          "requirements": { "type": "string", "description": "Job requirements (HTML)" },
          "department_id": { "type": "integer", "description": "Department ID" },
          "location": { "type": "string", "description": "Job location" },
          "country_code": { "type": "string", "description": "ISO country code" },
          "city": { "type": "string", "description": "City" },
          "state_code": { "type": "string", "description": "State/province code" },
          "postal_code": { "type": "string", "description": "Postal/zip code" },
          "remote": { "type": "boolean", "description": "Whether the position is remote" },
          "kind": { "type": "string", "description": "Employment type" },
          "category": { "type": "string", "description": "Job category" },
          "experience": { "type": "string", "description": "Experience level" },
          "education": { "type": "string", "description": "Education level" },
          "salary_from": { "type": "number", "description": "Minimum salary" },
          "salary_to": { "type": "number", "description": "Maximum salary" },
          "salary_currency": { "type": "string", "description": "Salary currency code" },
          "salary_period": { "type": "string", "description": "Salary period" },
          "pipeline_template_id": { "type": "integer", "description": "Pipeline template to use" },
          "tags": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Offer tags"
          }
        }
      },
      "Department": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "description": "Department ID" },
          "name": { "type": "string", "description": "Department name" },
          "offers_count": { "type": "integer", "description": "Number of offers in this department" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "DepartmentInput": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": { "type": "string", "description": "Department name" }
        }
      },
      "PipelineTemplate": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "description": "Pipeline template ID" },
          "name": { "type": "string", "description": "Template name" },
          "position": { "type": "integer", "description": "Display position" },
          "is_default": { "type": "boolean", "description": "Whether this is the default template" },
          "stages": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Stage" },
            "description": "Pipeline stages"
          },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "PipelineTemplateInput": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": { "type": "string", "description": "Template name" },
          "stages": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/StageInput" },
            "description": "Initial stages to create"
          }
        }
      },
      "Stage": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "description": "Stage ID" },
          "name": { "type": "string", "description": "Stage name" },
          "position": { "type": "integer", "description": "Stage position in the pipeline" },
          "pipeline_template_id": { "type": "integer", "description": "Parent pipeline template ID" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "StageInput": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": { "type": "string", "description": "Stage name" },
          "position": { "type": "integer", "description": "Stage position" }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "description": "Tag ID" },
          "name": { "type": "string", "description": "Tag name" },
          "candidates_count": { "type": "integer", "description": "Number of candidates with this tag" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "TagInput": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": { "type": "string", "description": "Tag name" }
        }
      },
      "Note": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "description": "Note ID" },
          "body": { "type": "string", "description": "Note content (HTML)" },
          "body_text": { "type": "string", "description": "Note content (plain text)" },
          "pinned": { "type": "boolean", "description": "Whether the note is pinned" },
          "admin_id": { "type": "integer", "description": "ID of the admin who created the note" },
          "candidate_id": { "type": "integer", "nullable": true, "description": "Associated candidate ID" },
          "offer_id": { "type": "integer", "nullable": true, "description": "Associated offer ID" },
          "checklist": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "text": { "type": "string" },
                "checked": { "type": "boolean" }
              }
            },
            "description": "Checklist items"
          },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "NoteInput": {
        "type": "object",
        "properties": {
          "body": { "type": "string", "description": "Note content (HTML supported)" },
          "pinned": { "type": "boolean", "description": "Whether to pin the note" },
          "checklist": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": { "type": "string" },
                "checked": { "type": "boolean" }
              }
            },
            "description": "Checklist items"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "description": "Task ID" },
          "title": { "type": "string", "description": "Task title" },
          "due_date": { "type": "string", "format": "date-time", "nullable": true, "description": "Due date" },
          "completed": { "type": "boolean", "description": "Whether the task is completed" },
          "completed_at": { "type": "string", "format": "date-time", "nullable": true, "description": "Completion timestamp" },
          "admin_id": { "type": "integer", "description": "Assigned admin ID" },
          "candidate_id": { "type": "integer", "nullable": true, "description": "Associated candidate ID" },
          "offer_id": { "type": "integer", "nullable": true, "description": "Associated offer ID" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "TaskInput": {
        "type": "object",
[...]
