{
  "openapi": "3.0.3",
  "info": {
    "title": "Zenkit API",
    "description": "Zenkit is a platform for collaboration and project management. This API provides programmatic access to workspaces, lists, entries, elements, activities, notifications, and more within the Zenkit platform.",
    "version": "1.0.0",
    "contact": {
      "name": "Zenkit",
      "url": "https://zenkit.com"
    }
  },
  "servers": [
    {
      "url": "https://base.zenkit.com/api/v1",
      "description": "Zenkit Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/oauth/clients": {
      "post": {
        "summary": "Register a new OAuth client.",
        "operationId": "post-api-v1-oauth-clients",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Register a new OAuth client.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "summary": "Endpoint to redirect users to during the Authorization Code Grant flow.\nThe user will be prompted to allow your app acce",
        "operationId": "get-api-v1-oauth-authorize",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Endpoint to redirect users to during the Authorization Code Grant flow.\nThe user will be prompted to allow your app access to their data.\nIf successfull, the Authentication Code will be sent back to your client at the Redirect URI.\nIf no redirect URI is provided here, the one set up during client registration will be used.\nIf a redirect URI is provided here, it has to match the one provided during client registration.\nHowever, it may include additional query parameters.\nIf your app provides a state parameter its contents will be sent back in subsequent calls of the Authorization Code Grant flow."
      }
    },
    "/oauth/token": {
      "post": {
        "summary": "Endpoint to exchange an Authorization Code for an Access Token.\nThe client_id and client_secret may be passed as body pa",
        "operationId": "post-api-v1-oauth-token",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Endpoint to exchange an Authorization Code for an Access Token.\nThe client_id and client_secret may be passed as body parameters or as part of HTTP Basic Authentication.\nThis endpoint may also be used to receive subsequent Access Tokens via your Refresh Token without having to ask the user for authorization.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/users/me/accesses": {
      "get": {
        "summary": "Get accesses for the user.",
        "operationId": "get-api-v1-users-me-accesses",
        "tags": [
          "Access"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get accesses for the user."
      }
    },
    "/users/me/matching-accesses/{userAllId}": {
      "get": {
        "summary": "Get list and workspace IDs where both users have access.",
        "operationId": "get-api-v1-users-me-matching-accesses-userallid",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get list and workspace IDs where both users have access.",
        "parameters": [
          {
            "name": "userAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ]
      }
    },
    "/users/me/activites": {
      "get": {
        "summary": "Search the user's activities.",
        "operationId": "get-api-v1-users-me-activites-limit-skip-filter",
        "tags": [
          "Activities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Search the user's activities.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/workspaces/{workspaceAllId}/activities": {
      "get": {
        "summary": "Search workspace activities.",
        "operationId": "get-api-v1-workspaces-workspaceallid-activities-limit-skip-filter",
        "tags": [
          "Activities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Search workspace activities.",
        "parameters": [
          {
            "name": "workspaceAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/users/me/workspaces/{workspaceAllId}/activities": {
      "post": {
        "summary": "Create workspace comment activity for the user.",
        "operationId": "post-api-v1-users-me-workspaces-workspaceallid-activities",
        "tags": [
          "Activities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Create workspace comment activity for the user.",
        "parameters": [
          {
            "name": "workspaceAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceAllId}/activities/{activityAllId}": {
      "put": {
        "summary": "Update workspace activity.",
        "operationId": "put-api-v1-workspaces-workspaceallid-activities-activityallid",
        "tags": [
          "Activities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Update workspace activity.",
        "parameters": [
          {
            "name": "workspaceAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "activityAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete workspace activity.",
        "operationId": "delete-api-v1-workspaces-workspaceallid-activities-activityallid",
        "tags": [
          "Activities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Delete workspace activity.",
        "parameters": [
          {
            "name": "workspaceAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "activityAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ]
      }
    },
    "/lists/{listAllId}/activities": {
      "get": {
        "summary": "Search list activities.",
        "operationId": "get-api-v1-lists-listallid-activities-limit-skip-filter",
        "tags": [
          "Activities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Search list activities.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{listAllId}/activities/sync": {
      "post": {
        "summary": "Get list activities from watermark.",
        "operationId": "post-api-v1-lists-listallid-activities-sync",
        "tags": [
          "Activities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get list activities from watermark.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/users/me/lists/{listAllId}/activities": {
      "post": {
        "summary": "Create list comment activity for the user.",
        "operationId": "post-api-v1-users-me-lists-listallid-activities",
        "tags": [
          "Activities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Create list comment activity for the user.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/lists/{listAllId}/activities/{activityAllId}": {
      "put": {
        "summary": "Update list or list entry activity.",
        "operationId": "put-api-v1-lists-listallid-activities-activityallid",
        "tags": [
          "Activities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Update list or list entry activity.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "activityAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete list or list entry activity.",
        "operationId": "delete-api-v1-lists-listallid-activities-activityallid",
        "tags": [
          "Activities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Delete list or list entry activity.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "activityAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ]
      }
    },
    "/lists/{listAllId}/entries/{listEntryAllId}/activities": {
      "get": {
        "summary": "Search list entry activities.",
        "operationId": "get-api-v1-lists-listallid-entries-listentryallid-activities-limit-skip-filter",
        "tags": [
          "Activities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Search list entry activities.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "listEntryAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/users/me/lists/{listAllId}/entries/{listEntryAllId}/activities": {
      "post": {
        "summary": "Create list entry comment activity for the user.",
        "operationId": "post-api-v1-users-me-lists-listallid-entries-listentryallid-activities",
        "tags": [
          "Activities"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Create list entry comment activity for the user.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "listEntryAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/backgrounds": {
      "get": {
        "summary": "Get system backgrounds.",
        "operationId": "get-api-v1-backgrounds",
        "tags": [
          "Backgrounds"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get system backgrounds."
      }
    },
    "/backgrounds/default": {
      "get": {
        "summary": "Get the default background.",
        "operationId": "get-api-v1-backgrounds-default",
        "tags": [
          "Backgrounds"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get the default background."
      }
    },
    "/backgrounds/{backgroundId}": {
      "get": {
        "summary": "Get background details.",
        "operationId": "get-api-v1-backgrounds-backgroundid",
        "tags": [
          "Backgrounds"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get background details.\n\nAlternatively: Get a user's custom backgrounds.",
        "parameters": [
          {
            "name": "backgroundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ]
      },
      "put": {
        "summary": "Update background.\n<!--\n    Our client actually sends most of the update data within the request query,\n    instead of t",
        "operationId": "put-api-v1-backgrounds-backgroundid",
        "tags": [
          "Backgrounds"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Update background.\n<!--\n    Our client actually sends most of the update data within the request query,\n    instead of the request body.\n    This is completely wrong for a proper REST API and since the implementation uses \\\n\nAlternatively: Set workspace background.\n\nAlternatively: Set user background.\n\nAlternatively: Set list background.",
        "parameters": [
          {
            "name": "backgroundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete background.",
        "operationId": "delete-api-v1-backgrounds-backgroundid",
        "tags": [
          "Backgrounds"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Delete background.",
        "parameters": [
          {
            "name": "backgroundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ]
      }
    },
    "/users/me/oauth/calendars/{provider}": {
      "get": {
        "summary": "Connect to one of the supported third party OAuth providers for calendar synchronization.",
        "operationId": "get-api-v1-users-me-oauth-calendars-provider-scope",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "302": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Successful operation"
          }
        },
        "description": "Connect to one of the supported third party OAuth providers for calendar synchronization.",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/users/me/oauth/calendars/{provider}/callback": {
      "get": {
        "summary": "Callback webhook for third party OAuth authentication flow.",
        "operationId": "get-api-v1-users-me-oauth-calendars-provider-callback-scope-state-code",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "302": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "200": {
            "description": "Successful operation"
          }
        },
        "description": "Callback webhook for third party OAuth authentication flow.",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/connections/{provider}/calendars": {
      "get": {
        "summary": "Get calendar data.",
        "operationId": "get-api-v1-connections-provider-calendars-refreshtoken",
        "tags": [
          "Calendar Synchronization"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get calendar data.",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refreshToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/workspaces/{workspaceAllId}/connections/calendar": {
      "post": {
        "summary": "Create synchronized calendar in workspace.",
        "operationId": "post-api-v1-workspaces-workspaceallid-connections-calendar",
        "tags": [
          "Calendar Synchronization"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Create synchronized calendar in workspace.",
        "parameters": [
          {
            "name": "workspaceAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/lists/{listAllId}/connections/calendar": {
      "post": {
        "summary": "Create calendar synchronization connection.",
        "operationId": "post-api-v1-lists-listallid-connections-calendar",
        "tags": [
          "Calendar Synchronization"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Create calendar synchronization connection.\n\nAlternatively: The calendar synchronization callback.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Deprecate calendar synchronization connection.",
        "operationId": "delete-api-v1-lists-listallid-connections-calendar",
        "tags": [
          "Calendar Synchronization"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Deprecate calendar synchronization connection.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ]
      }
    },
    "/elementcategories": {
      "get": {
        "summary": "Get all available element categories.",
        "operationId": "get-api-v1-elementcategories",
        "tags": [
          "Element Categories"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get all available element categories."
      }
    },
    "/lists/{listId}/elements": {
      "post": {
        "summary": "Add an element to a list.",
        "operationId": "post-api-v1-lists-listid-elements",
        "tags": [
          "Elements"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Add an element to a list.",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get all elements in a list",
        "operationId": "get-api-v1-lists-listallid-elements",
        "tags": [
          "Elements"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get all elements in a list",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ]
      }
    },
    "/lists/{listAllId}/elements/{elementAllId}/kanbanSort": {
      "put": {
        "summary": "Reorder a kanbanList oder kanbanSection in kanbanView",
        "operationId": "put-api-v1-lists-listallid-elements-elementallid-kanbansort",
        "tags": [
          "Elements"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Reorder a kanbanList oder kanbanSection in kanbanView",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "elementAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/lists/{listId}/elements/{elementId}": {
      "put": {
        "summary": "Update an element in a list",
        "operationId": "put-api-v1-lists-listid-elements-elementid",
        "tags": [
          "Elements"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Update an element in a list",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "elementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/lists/{listAllId}/entries/{listEntryAllId}": {
      "get": {
        "summary": "Get a specific list entry.",
        "operationId": "get-api-v1-lists-listallid-entries-listentryallid",
        "tags": [
          "Entries"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get a specific list entry.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "listEntryAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ]
      },
      "put": {
        "summary": "Update a list entry in a list.",
        "operationId": "put-api-v1-lists-listid-entries-listentryid",
        "tags": [
          "Entries"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Update a list entry in a list.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "listEntryAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/lists/{listId}/entries": {
      "post": {
        "summary": "Create a list entry in a list.",
        "operationId": "post-api-v1-lists-listid-entries",
        "tags": [
          "Entries"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Create a list entry in a list.",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/lists/{listId}/entries/delete/filter": {
      "post": {
        "summary": "Deprecate multiple list entries.",
        "operationId": "post-api-v1-lists-listid-entries-delete-filter",
        "tags": [
          "Entries"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Deprecate multiple list entries.",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/lists/{listAllId}/deprecated-entries/{entryAllId}": {
      "delete": {
        "summary": "Delete a deprecated list entry.",
        "operationId": "delete-api-v1-lists-listallid-deprecated-entries-entryallid",
        "tags": [
          "Lists"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Delete a deprecated list entry.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "entryAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ]
      }
    },
    "/lists/{listAllId}/entries/{entryAllId}/checklists": {
      "put": {
        "summary": "Update an entry's check lists.",
        "operationId": "put-api-v1-lists-listallid-entries-entryallid-checklists",
        "tags": [
          "Entries"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Update an entry's check lists.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "entryAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/entries/search": {
      "get": {
        "summary": "Search list entries in all lists for the user.",
        "operationId": "get-api-v1-entries-search-query-limit-preferredlistids-excludelistentryuuids-searchinarchive-includerelatedlists-includerelatedworkspaces-includerelatedlistelements",
        "tags": [
          "Entries"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Search list entries in all lists for the user.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "preferredListIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeListEntryUUIDs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchInArchive",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeRelatedLists",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeRelatedWorkspaces",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeRelatedListElements",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/lists/{listShortId}/entries/filter/list": {
      "post": {
        "summary": "Get filtered/grouped list entries for list view.",
        "operationId": "post-api-v1-lists-listshortid-entries-filter-list",
        "tags": [
          "Entries"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get filtered/grouped list entries for list view.",
        "parameters": [
          {
            "name": "listShortId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "total": {
                    "type": "number"
                  },
                  "listElementUUID_businessDataKey": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/{listShortId}/entries/filter": {
      "post": {
        "summary": "Get list entries of list using a filter and sort parameters",
        "operationId": "post-api-v1-lists-listshortid-entries-filter",
        "tags": [
          "Entries"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get list entries of list using a filter and sort parameters",
        "parameters": [
          {
            "name": "listShortId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "number"
                  },
                  "skip": {
                    "type": "number"
                  },
                  "allowDeprecated": {
                    "type": "boolean"
                  },
                  "column": {
                    "type": "string"
                  },
                  "elementId": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/{listAllId}/entries/{listEntryId}/reorder": {
      "put": {
        "summary": "Update the sortOrder of all list entries.",
        "operationId": "put-api-v1-lists-listallid-entries-listentryid-reorder",
        "tags": [
          "Entries"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Update the sortOrder of all list entries.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "listEntryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/lists/{listAllId}/entries/{listEntryAllId}/restore": {
      "post": {
        "summary": "Restore a deprecated list entry.",
        "operationId": "post-api-v1-lists-listallid-entries-listentryallid-restore",
        "tags": [
          "Entries"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Restore a deprecated list entry.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "listEntryAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/lists/{listId}/entries/{listEntryId}/elements/{elementId}": {
      "put": {
        "summary": "Update the value of an list entry for a specific listElement (update a \"field\")",
        "operationId": "put-api-v1-lists-listid-entries-listentryid-elements-elementid",
        "tags": [
          "Elements"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Update the value of an list entry for a specific listElement (update a \"field\")",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "listEntryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "elementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/lists/{listShortId}/entries/sync": {
      "post": {
        "summary": "Get the most recently updated list entries of a list using a watermark. The first call should not include a watermark.\nF",
        "operationId": "post-api-v1-lists-listshortid-entries-sync",
        "tags": [
          "Entries"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get the most recently updated list entries of a list using a watermark. The first call should not include a watermark.\nFrom there on, send along the watermark that the server returns.\nEvery call may include the timestamp of the first synchronization call via excludeDeprecatedBefore,\nin order to ignore entries that were deprecated before the synchronization even started.",
        "parameters": [
          {
            "name": "listShortId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "total": {
                    "type": "number"
                  },
                  "filteredTotal": {
                    "type": "number"
                  },
                  "id": {
                    "type": "number"
                  },
                  "updated_at: `2017-09-25T10:11:14.747Z` (DateString) - The `updated_at` timestamp of the most recently updated entry that was included in this response.": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/{listAllId}/elements/{elementAllId}/files": {
      "post": {
        "summary": "Upload files for an element in a list.",
        "operationId": "post-api-v1-lists-listallid-elements-elementallid-files",
        "tags": [
          "Files"
        ],
        "responses": {
          "202": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Upload files for an element in a list.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "elementAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/lists/{listShortId}": {
      "get": {
        "summary": "Get a specific list.",
        "operationId": "get-api-v1-lists-listshortid",
        "tags": [
          "Lists"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get a specific list.",
        "parameters": [
          {
            "name": "listShortId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ]
      },
      "put": {
        "summary": "Update properties of a list.",
        "operationId": "put-api-v1-lists-listallid",
        "tags": [
          "Lists"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Update properties of a list.",
        "parameters": [
          {
            "name": "listShortId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Deprecate list.",
        "operationId": "delete-api-v1-lists-listallid",
        "tags": [
          "Lists"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Deprecate list.",
        "parameters": [
          {
            "name": "listShortId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ]
      }
    },
    "/lists/{listAllId}/updated-at": {
      "get": {
        "summary": "Returns the maximum updated_at date for each resource of a list.",
        "operationId": "get-api-v1-lists-listallid-updated-at",
        "tags": [
          "Lists"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Returns the maximum updated_at date for each resource of a list.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ]
      }
    },
    "/lists/{listAllId}/users": {
      "get": {
        "summary": "Get all users with access to the list.",
        "operationId": "get-api-v1-lists-listallid-users",
        "tags": [
          "Lists"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get all users with access to the list.",
        "parameters": [
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ]
      }
    },
    "/users/me/lists-without-workspace-access": {
      "get": {
        "summary": "Get the lists the user has access to but not to the workspace",
        "operationId": "get-api-v1-users-me-lists-without-workspace-access",
        "tags": [
          "Lists"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get the lists the user has access to but not to the workspace"
      }
    },
    "/users/{userAllId}/recently-used/lists/{listAllId}": {
      "post": {
        "summary": "Sets the most recently used list of a user and returns an array of shortIds (all most recently used lists).\nReturns the ",
        "operationId": "post-api-v1-users-userallid-recently-used-lists-listallid",
        "tags": [
          "Lists"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Sets the most recently used list of a user and returns an array of shortIds (all most recently used lists).\nReturns the updated user.",
        "parameters": [
          {
            "name": "userAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          },
          {
            "name": "listAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/users/me/new-notifications-in-minimal-format": {
      "get": {
        "summary": "Get all new notifications for the logged in user. The limit is 1000 (there is no parameter for this yet).",
        "operationId": "get-api-v1-users-me-new-notifications-in-minimal-format",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get all new notifications for the logged in user. The limit is 1000 (there is no parameter for this yet)."
      }
    },
    "/users/me/notifications": {
      "get": {
        "summary": "Get all notifications for the user",
        "operationId": "get-api-v1-users-me-notifications",
        "tags": [
          "Notifications"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get all notifications for the user"
      },
      "put": {
        "summary": "Update notifications for the user.",
        "operationId": "put-api-v1-users-me-notifications",
        "tags": [
          "Notifications"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Update notifications for the user.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isNew": {
                    "type": "boolean"
                  },
                  "notificationId": {
                    "type": "number"
                  },
                  "workspaceId": {
                    "type": "number"
                  },
                  "listId": {
                    "type": "number"
                  },
                  "listEntryId": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "summary": "Get the current user.",
        "operationId": "get-api-v1-users-me",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get the current user."
      }
    },
    "/users/me/devices": {
      "post": {
        "summary": "Add a device to the current user.",
        "operationId": "post-api-v1-users-me-devices",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Add a device to the current user.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/users/me/devices/{operatingSystem}/{deviceToken}": {
      "delete": {
        "summary": "Deprecate a user's device.",
        "operationId": "delete-api-v1-users-me-devices-operatingsystem-devicetoken",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Deprecate a user's device.",
        "parameters": [
          {
            "name": "operatingSystem",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/workspaces/{workspaceAllId}": {
      "get": {
        "summary": "Get a specific workspace.",
        "operationId": "get-api-v1-workspaces-workspaceallid",
        "tags": [
          "Workspaces"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get a specific workspace.",
        "parameters": [
          {
            "name": "workspaceAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ]
      },
      "put": {
        "summary": "Update workspace name or description.",
        "operationId": "put-api-v1-workspaces-workspaceallid",
        "tags": [
          "Workspaces"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Update workspace name or description.",
        "parameters": [
          {
            "name": "workspaceAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Deprecate workspace.",
        "operationId": "delete-api-v1-workspaces-workspaceallid",
        "tags": [
          "Workspaces"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Deprecate workspace.",
        "parameters": [
          {
            "name": "workspaceAllId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ]
      }
    },
    "/workspaces/{workspaceId}/users": {
      "get": {
        "summary": "Get all users with access to the workspace.",
        "operationId": "get-api-v1-workspaces-workspaceid-users",
        "tags": [
          "Workspaces"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get all users with access to the workspace.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ]
      }
    },
    "/users/me/workspacesWithLists": {
      "get": {
        "summary": "Get all workspaces and lists for the user.",
        "operationId": "get-api-v1-users-me-workspaceswithlists",
        "tags": [
          "Workspaces"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get all workspaces and lists for the user."
      }
    },
    "/workspaces": {
      "post": {
        "summary": "Create workspace.",
        "operationId": "post-api-v1-workspaces",
        "tags": [
          "Workspaces"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Create workspace.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "summary": "Create a new webhook.",
        "operationId": "post-api-v1-webhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Create a new webhook.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "delete": {
        "summary": "Delete a webhook.",
        "operationId": "delete--webhooks-webhookId",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "202": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Delete a webhook.",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Can be ID, ShortID, or UUID"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 Bearer Token or API Key"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Zenkit-API-Key",
        "description": "API Key authentication"
      }
    }
  },
  "tags": [
    {
      "name": "Access"
    },
    {
      "name": "Activities"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Backgrounds"
    },
    {
      "name": "Calendar Synchronization"
    },
    {
      "name": "Element Categories"
    },
    {
      "name": "Elements"
    },
    {
      "name": "Entries"
    },
    {
      "name": "Files"
    },
    {
      "name": "Lists"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Users"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Workspaces"
    }
  ]
}
