{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "admin@spinbot.net",
      "name": "Spinbot Admin",
      "url": "https://spinbot.net"
    },
    "description": "Spinbot.net propose a new solution based on high technologies for faster article spinner and extractor that you will love to use it. ",
    "termsOfService": "https://spinbot.net/terms-and-conditions",
    "title": "Article Rewriter and Article Extractor API",
    "version": "1.0",
    "x-jentic-source-url": "http://spinbot.net/spinbot_api_swagger.yaml"
  },
  "servers": [
    {
      "url": "https://api.spinbot.net/"
    }
  ],
  "paths": {
    "/api/acc": {
      "get": {
        "parameters": [
          {
            "description": "Your api key",
            "in": "query",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {}
              }
            },
            "description": "success"
          }
        },
        "description": "Return the user credit information.",
        "operationId": "getInfo",
        "summary": "Return the user credit information."
      }
    },
    "/api/article": {
      "post": {
        "responses": {
          "default": {
            "content": {
              "*/*": {
                "schema": {}
              }
            },
            "description": "Default response"
          }
        },
        "description": "Extracting the main article of the given URL. The response is in JSON format.",
        "operationId": "postArticle",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "faster_mode": {
                    "description": "you can set this input value to 1 to skip detecting the size (width and height in pixel) of all the images inside the extracted article. The response time of your request will be shortened if you set this input value to 1.",
                    "type": "string"
                  },
                  "key": {
                    "description": "Your spinbot API key",
                    "type": "string"
                  },
                  "url": {
                    "description": "The url of target article",
                    "type": "string"
                  }
                },
                "required": [
                  "key"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Extracting the main article of the given URL."
      }
    },
    "/api/pretty-spinner": {
      "post": {
        "responses": {
          "default": {
            "content": {
              "*/*": {
                "schema": {}
              }
            },
            "description": "Default response"
          }
        },
        "description": "Human readable auto rewrite your article. The response is in JSON format.",
        "operationId": "postPrettySpinner",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "accuracy": {
                    "description": "Rewrite accuracy profile, accepted values are very-low, low, medium, high, very-high",
                    "type": "string"
                  },
                  "keep": {
                    "description": "Keep words/phrases, separated by newline, those remain unchanged during the rewrite process.",
                    "type": "string"
                  },
                  "key": {
                    "description": "Your spinbot API key",
                    "type": "string"
                  },
                  "text": {
                    "description": "Input article that need to be rewrited.",
                    "type": "string"
                  }
                },
                "required": [
                  "key"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Human readable auto rewrite your article."
      }
    },
    "/api/spinner": {
      "post": {
        "responses": {
          "default": {
            "content": {
              "*/*": {
                "schema": {}
              }
            },
            "description": "Default response"
          }
        },
        "description": "Rewriting (spinning) you input article. The response is in JSON format.",
        "operationId": "postSpinner",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "key": {
                    "description": "Your spinbot API key",
                    "type": "string"
                  },
                  "text": {
                    "description": "Input article that need to be rewrited.",
                    "type": "string"
                  }
                },
                "required": [
                  "key"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Rewriting (spinning) your input article."
      }
    },
    "/api/spintax": {
      "post": {
        "responses": {
          "default": {
            "content": {
              "*/*": {
                "schema": {}
              }
            },
            "description": "Default response"
          }
        },
        "description": "Generate Spintax format for the input article, so you can rewrite it yourself. The response is in JSON format.",
        "operationId": "postSpintax",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "full_mode": {
                    "description": "Full mode option.",
                    "type": "string"
                  },
                  "key": {
                    "description": "Your spinbot API key",
                    "type": "string"
                  },
                  "text": {
                    "description": "Input article that need to be rewritten.",
                    "type": "string"
                  }
                },
                "required": [
                  "key"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Generate Spintax format for the input article"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "key": {
        "in": "query",
        "name": "key",
        "type": "apiKey"
      }
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "externalDocs": {
        "url": "https://spinbot.net/api-documentation"
      },
      "description": "Article rewriter (spinner): rewrite your origin article by replacing every terms/words to their synonyms. Our program will try its best to detect as many words that can be replaced as possible. So that you will never care about the plagiarism checkers. ",
      "name": "article rewriter"
    },
    {
      "externalDocs": {
        "url": "https://spinbot.net/api-documentation"
      },
      "description": "Article extractor: a lot of techniques and mordern algorithms like machine learning are used to detect the main article content in your given url. It's an automated tool to scrape and collect articles. It will reduce your time to collect data and keywords for you websites to improve their ranks.",
      "name": "article extractor"
    }
  ],
  "externalDocs": {
    "url": "https://spinbot.net/api-documentation"
  }
}