{
  "openapi": "3.0.3",
  "info": {
    "title": "Mintlify API",
    "description": "Mintlify REST API for documentation management, AI assistant integration, agent-powered documentation editing, deployment management, and analytics. Provides endpoints for triggering deployments, managing AI agent jobs, querying documentation via AI assistant, searching docs, and retrieving analytics data.",
    "version": "2.0.0",
    "contact": {
      "name": "Mintlify",
      "url": "https://mintlify.com"
    },
    "x-jentic-source-url": "https://docs.mintlify.com"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com",
      "description": "Mintlify API Production"
    }
  ],
  "tags": [
    {
      "name": "Deployment",
      "description": "Documentation deployment management"
    },
    {
      "name": "Agent",
      "description": "AI agent job management for automated documentation editing"
    },
    {
      "name": "Assistant",
      "description": "AI assistant integration for documentation chat and search"
    },
    {
      "name": "Analytics",
      "description": "Documentation analytics and feedback"
    }
  ],
  "paths": {
    "/v1/project/update/{projectId}": {
      "post": {
        "tags": ["Deployment"],
        "summary": "Trigger deployment",
        "description": "Queue a deployment update for your documentation project from your configured deployment branch.",
        "operationId": "triggerDeployment",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your project ID from the API keys dashboard page"
          }
        ],
        "responses": {
          "202": {
            "description": "Deployment queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "Status ID to track deployment progress"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing admin API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/project/update-status/{statusId}": {
      "get": {
        "tags": ["Deployment"],
        "summary": "Get deployment status",
        "description": "Retrieve the status and details of a triggered deployment update.",
        "operationId": "getDeploymentStatus",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The status ID returned from trigger deployment"
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment status details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Status not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{projectId}/job": {
      "post": {
        "tags": ["Agent"],
        "summary": "Create agent job",
        "description": "Create an agent job that runs in the background and automatically creates a pull request with documentation changes.",
        "operationId": "createAgentJob",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your project ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The instruction for the agent to execute"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent job created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 uses per project per hour)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{projectId}/job/{id}": {
      "get": {
        "tags": ["Agent"],
        "summary": "Get agent job",
        "description": "Retrieve the status and details of an agent job, including progress and pull request link.",
        "operationId": "getAgentJob",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your project ID"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent job ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{projectId}/job/{id}/message": {
      "post": {
        "tags": ["Agent"],
        "summary": "Send follow-up message",
        "description": "Send a follow-up instruction to an active agent job.",
        "operationId": "sendAgentMessage",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your project ID"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent job ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The follow-up instruction for the agent"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent, returns updated agent job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 uses per project per hour)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/discovery/v2/assistant/{domain}/message": {
      "post": {
        "tags": ["Assistant"],
        "summary": "Create assistant message",
        "description": "Send a message to the AI assistant trained on your documentation. Returns a streaming response compatible with AI SDK v5.",
        "operationId": "createAssistantMessage",
        "security": [
          {
            "assistantBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The domain identifier from your Mintlify dashboard URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssistantMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Streaming response compatible with AI SDK v5",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Streaming response object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/discovery/v1/search/{domain}": {
      "post": {
        "tags": ["Assistant"],
        "summary": "Search documentation",
        "description": "Search your documentation programmatically.",
        "operationId": "searchDocumentation",
        "security": [
          {
            "assistantBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The domain identifier from your Mintlify dashboard URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/{projectId}/feedback": {
      "get": {
        "tags": ["Analytics"],
        "summary": "Get user feedback",
        "description": "Export documentation user feedback with pagination and filtering.",
        "operationId": "getFeedback",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your project ID"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date filter (ISO 8601 or YYYY-MM-DD)"
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date filter, exclusive (ISO 8601 or YYYY-MM-DD)"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["code_snippet", "contextual"]
            },
            "description": "Filter by feedback source"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated statuses: pending, in_progress, resolved, dismissed"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Results per page"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor from previous response"
          }
        ],
        "responses": {
          "200": {
            "description": "Feedback results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedbackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/{projectId}/assistant": {
      "get": {
        "tags": ["Analytics"],
        "summary": "Get assistant conversations",
        "description": "Export AI assistant chat conversation history.",
        "operationId": "getAssistantConversations",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your project ID"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date filter (ISO 8601 or YYYY-MM-DD)"
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date filter, exclusive (ISO 8601 or YYYY-MM-DD)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "description": "Results per page"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ULID format pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssistantConversationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "adminBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Admin API key prefixed with 'mint_'. Server-side secret for deployment, agent, and analytics endpoints. Generated from the dashboard settings. Max 10 keys per hour per organization."
      },
      "assistantBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Assistant API key prefixed with 'mint_dsc_'. Public token safe for client-side use in assistant and search endpoints. Rate limits: 10,000 uses/month per key, 10,000 requests/hour per org, 10,000 requests/day per IP."
      }
    },
    "schemas": {
      "AgentJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique job identifier"
          },
          "status": {
            "type": "string",
            "enum": ["active", "completed", "archived", "failed"],
            "description": "Job status"
          },
          "source": {
            "type": "object",
            "properties": {
              "repoUrl": {
                "type": "string",
                "format": "uri",
                "description": "Repository URL"
              },
              "branch": {
                "type": "string",
                "description": "Git branch"
              }
            }
          },
          "model": {
            "type": "string",
            "description": "AI model used"
          },
          "prLink": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "GitHub pull request URL when job succeeds"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "archivedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "DeploymentStatus": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "endedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": ["queued", "in_progress", "success", "failure"]
          },
          "summary": {
            "type": "string"
          },
          "logs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subdomain": {
            "type": "string"
          },
          "screenshot": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "screenshotLight": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "screenshotDark": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "author": {
            "type": "object",
            "nullable": true,
            "properties": {
              "name": {
                "type": "string"
              },
              "avatarUrl": {
                "type": "string",
                "format": "uri"
              },
              "githubUserId": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "commit": {
            "type": "object",
            "nullable": true,
            "properties": {
              "sha": {
                "type": "string"
              },
              "ref": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "filesChanged": {
                "type": "object",
                "properties": {
                  "added": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "modified": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "removed": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "source": {
            "type": "string",
            "enum": ["internal", "github-app-installation", "api", "github", "dashboard", "gitlab"]
          }
        }
      },
      "AssistantMessageRequest": {
        "type": "object",
        "required": ["fp", "messages"],
        "properties": {
          "fp": {
            "type": "string",
            "description": "Fingerprint identifier. Use 'anonymous' or a unique user ID."
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "role": {
                  "type": "string",
                  "enum": ["system", "assistant", "user"]
                },
                "parts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "text": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "threadId": {
            "type": "string",
            "description": "Thread ID for conversation continuity"
          },
          "retrievalPageSize": {
            "type": "integer",
            "default": 5,
            "description": "Number of documentation search results to include"
          },
          "filter": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string"
              },
              "language": {
                "type": "string"
              },
              "groups": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "context": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              }
            },
            "description": "Contextual information like code snippets or text selections"
          },
          "currentPath": {
            "type": "string",
            "maxLength": 200,
            "description": "Current page path"
          }
        }
      },
      "SearchRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": {
            "type": "string",
            "description": "Search query"
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "default": 10,
            "description": "Results per page"
          },
          "scoreThreshold": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Minimum relevance score filter"
          },
          "filter": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string"
              },
              "language": {
                "type": "string"
              },
              "tag": {
                "type": "string"
              }
            }
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Matching documentation text"
          },
          "path": {
            "type": "string",
            "description": "Source document URL or path"
          },
          "metadata": {
            "type": "object",
            "description": "Additional result metadata"
          }
        }
      },
      "FeedbackResponse": {
        "type": "object",
        "properties": {
          "feedback": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeedbackItem"
            }
          },
          "nextCursor": {
            "type": "string",
            "nullable": true
          },
          "hasMore": {
            "type": "boolean"
          }
        }
      },
      "FeedbackItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "source": {
            "type": "string",
            "enum": ["code_snippet", "contextual"]
          },
          "status": {
            "type": "string",
            "enum": ["pending", "in_progress", "resolved", "dismissed"]
          },
          "helpful": {
            "type": "boolean",
            "description": "Present for contextual feedback"
          },
          "contact": {
            "type": "string",
            "description": "Present for contextual feedback"
          },
          "code": {
            "type": "string",
            "description": "Present for code_snippet feedback"
          },
          "filename": {
            "type": "string",
            "description": "Present for code_snippet feedback"
          },
          "lang": {
            "type": "string",
            "description": "Present for code_snippet feedback"
          }
        }
      },
      "AssistantConversationsResponse": {
        "type": "object",
        "properties": {
          "conversations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conversation"
            }
          },
          "nextCursor": {
            "type": "string",
            "nullable": true
          },
          "hasMore": {
            "type": "boolean"
          }
        }
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "query": {
            "type": "string"
          },
          "response": {
            "type": "string"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "queryCategory": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
