{
  "openapi": "3.0.1",
  "info": {
    "title": "Advanced Notification Platform Integration API",
    "description": "Advanced Notification Platform Integration API provides API for products to send notification content for delivery of the notification via InApp, Push, SMS or Email.  The API also allows products to check for Notification delivery status and Notification history.",
    "contact": {
      "name": "Advanced",
      "url": "https://oneadvanced.com/contact-us",
      "email": "api@oneadvanced.com"
    },
    "version": "1.0.5",
    "x-audience": "company-internal",
    "x-api-id": "dd19f804-4a2f-45a9-8773-ff4183f92e4e",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/AdvancedComputerSoft/api-to_communicate_using_communication_platform/1.0.5/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.oneadvanced.io/notification/v1",
      "description": "Module Dev API"
    },
    {
      "url": "https://r6ps20hd0c.execute-api.eu-west-2.amazonaws.com/local",
      "description": "Local Dev API"
    }
  ],
  "tags": [
    {
      "name": "Authorization",
      "description": "Token generation operation"
    },
    {
      "name": "Notification",
      "description": "Operations to send notification and retrieve notification status"
    },
    {
      "name": "Rules",
      "description": "Operations to maintain product rules"
    },
    {
      "name": "GeneralConfiguration",
      "description": "Operations to maintain general configuration"
    },
    {
      "name": "SMS Configuration",
      "description": "Operations to maintain sms configurations"
    },
    {
      "name": "Email Configuration",
      "description": "Operations to maintain email configurations"
    }
  ],
  "paths": {
    "/authorization/token-generation": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Token generation",
        "operationId": "tokenGeneration",
        "description": "This API used to generate token.",
        "requestBody": {
          "description": "Token generation input object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTokenInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateTokenOutput"
                }
              }
            }
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "415": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem415Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        }
      }
    },
    "/rules": {
      "get": {
        "tags": [
          "Rules"
        ],
        "summary": "List product rules",
        "operationId": "listProductRules",
        "description": "This API used to get all product rules.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Identifier to get next set of data",
            "example": "ed72f406bc064b46a841035af25b5f04",
            "schema": {
              "type": "string",
              "maxLength": 100,
              "minLength": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "example": 100,
            "description": "Limit number of data, max 100",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 0
            }
          },
          {
            "name": "fetch",
            "in": "query",
            "example": "All",
            "description": "Identifier to get rules",
            "schema": {
              "$ref": "#/components/schemas/RuleFetchType"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "If tag passed then data will be filter based on tag",
            "example": "attendance",
            "schema": {
              "type": "string",
              "maxLength": 100,
              "minLength": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProductRules"
                }
              }
            }
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Rules"
        ],
        "summary": "Create a new rule",
        "operationId": "createProductRule",
        "description": "This API used to create a new product rule.",
        "requestBody": {
          "description": "Product rule input object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductRuleInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri",
                  "example": "https://comm/1.0.5/productrules/1234"
                },
                "description": "Address of the product rule resource"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductRuleOutput"
                }
              }
            }
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "415": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem415Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      }
    },
    "/rules/{ruleCode}": {
      "parameters": [
        {
          "name": "ruleCode",
          "in": "path",
          "description": "Product rule code - unique identifier",
          "example": "859e4223fc2d465bb4179f388ff5bc3f",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Rules"
        ],
        "summary": "Get rule by code",
        "operationId": "getProductRuleByCode",
        "description": "This API used to get product rule.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductRule"
                }
              }
            }
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "404": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem404Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Rules"
        ],
        "summary": "Update product rule",
        "operationId": "updateProductRuleByCode",
        "description": "This API used to update product rule using product rule code.",
        "requestBody": {
          "description": "Product rule input object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductRuleInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "404": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem404Response"
          },
          "415": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem415Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Rules"
        ],
        "summary": "Delete product rule",
        "operationId": "deleteProductRuleByCode",
        "description": "This API used to delete product rule using product rule code.",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "404": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem404Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      }
    },
    "/notifications": {
      "post": {
        "tags": [
          "Notification"
        ],
        "summary": "Send notification",
        "operationId": "sendNotification",
        "description": "This API used to send notification.",
        "requestBody": {
          "description": "Notification request object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationOutput"
                }
              }
            }
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "415": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem415Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      }
    },
    "/notification-logs": {
      "get": {
        "tags": [
          "Notification"
        ],
        "summary": "Notification log by job Id",
        "operationId": "getNotificationLog",
        "description": "This API used to get notification log.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Identifier to get next set of data",
            "example": "2020-08-20T06:14:48.852Z",
            "schema": {
              "type": "string",
              "maxLength": 100,
              "minLength": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit number of data",
            "example": 100,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendNotificationLogsOutput"
                }
              }
            }
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      }
    },
    "/notification-logs/{jobId}": {
      "get": {
        "tags": [
          "Notification"
        ],
        "summary": "Notification log",
        "operationId": "getLogByJobId",
        "description": "This API used to get notification log using Job Id.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Job Id - unique identifier",
            "example": "859e4223fc2d465bb4179f388ff5bc3f",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Identifier to get next set of data",
            "example": "859e4223fc2d465bb4179f388ff5bc3f",
            "schema": {
              "type": "string",
              "maxLength": 100,
              "minLength": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit number of data",
            "example": 500,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendNotificationLogsByJobIdOutput"
                }
              }
            }
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "404": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem404Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      }
    },
    "/sms-configuration": {
      "get": {
        "tags": [
          "SMS Configuration"
        ],
        "summary": "List SMS configuration",
        "operationId": "listSMSConfiguration",
        "description": "This API used to get all SMS configurations.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Identifier to get next set of data",
            "example": "ed72f406bc064b46a841035af25b5f04",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 35
            }
          },
          {
            "name": "limit",
            "in": "query",
            "example": 100,
            "description": "Limit number of data, max 100",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "If tag passed then data will be filter based on tag e.g. TenantID",
            "example": "3632",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsConfigurationList"
                }
              }
            }
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      },
      "post": {
        "tags": [
          "SMS Configuration"
        ],
        "summary": "Create a SMS configuration",
        "operationId": "createSMSConfiguration",
        "description": "This API used to create a new SMS configuration.",
        "requestBody": {
          "description": "Product SMS configuration input object",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "type"
                ],
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/SmsConfigurationInputUrl"
                  },
                  {
                    "$ref": "#/components/schemas/SmsConfigurationInputDefault"
                  }
                ]
              },
              "examples": {
                "URL": {
                  "value": {
                    "type": "URL",
                    "url": "https://www.smsprovider.com/sendSmsMessages?username=<<username>>&password=<<password>>&displayname=<<displayname>>&phone=<<tonumber>>&msg=<<message>>",
                    "returnUrl": "https://www.smsprovider.com/receivedSmsMessages?username=<<username>>&password=<<password>>",
                    "username": "testUser",
                    "password": "passw@rd",
                    "displayName": "TenantName",
                    "tag": "CS-3632"
                  }
                },
                "Default": {
                  "value": {
                    "type": "Default",
                    "displayName": "TenantName",
                    "tag": "CS-3632"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri",
                  "example": "https://comm/1.0.5/sms-configuration/ddc94bf917f04d55acb30c6a3ac1e7df"
                },
                "description": "Address of the SMS configuration resource"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "maxLength": 100,
                      "description": "Product SMS configuration code",
                      "example": "ddc94bf917f04d55acb30c6a3ac1e7df"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "415": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem415Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      }
    },
    "/sms-configuration/{smsCode}": {
      "parameters": [
        {
          "name": "smsCode",
          "in": "path",
          "description": "Product SMS configuration code - unique identifier",
          "example": "859e4223fc2d465bb4179f388ff5bc3d",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "SMS Configuration"
        ],
        "summary": "Get SMS configuration by code",
        "operationId": "getSMSConfigurationByCode",
        "description": "This API used to get SMS configuration.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "type"
                  ],
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/SmsConfigurationGetUrl"
                    },
                    {
                      "$ref": "#/components/schemas/SmsConfigurationGetDefault"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "404": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem404Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      },
      "put": {
        "tags": [
          "SMS Configuration"
        ],
        "summary": "Update SMS configuration",
        "operationId": "updateProductSMSConfigurationByCode",
        "description": "This API used to update SMS configuration using sms configuration code.",
        "requestBody": {
          "description": "Product sms input object",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "type"
                ],
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/SmsConfigurationInputUrl"
                  },
                  {
                    "$ref": "#/components/schemas/SmsConfigurationInputDefault"
                  }
                ]
              },
              "examples": {
                "URL": {
                  "value": {
                    "type": "URL",
                    "url": "https://www.smsprovider.com/sendSmsMessages?username=<<username>>&password=<<password>>&displayname=<<displayname>>&phone=<<tonumber>>&msg=<<message>>",
                    "returnUrl": "https://www.smsprovider.com/receivedSmsMessages?username=<<username>>&password=<<password>>",
                    "username": "testUser",
                    "password": "passw@rd",
                    "displayName": "TenantName",
                    "tag": "CS-3632"
                  }
                },
                "Default": {
                  "value": {
                    "type": "Default",
                    "displayName": "TenantName",
                    "tag": "CS-3632"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "404": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem404Response"
          },
          "415": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem415Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "SMS Configuration"
        ],
        "summary": "Delete SMS configuration",
        "operationId": "deleteSMSConfigurationByCode",
        "description": "This API used to delete SMS configuration using SMS configuration code.",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "404": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem404Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      }
    },
    "/email-configuration": {
      "get": {
        "tags": [
          "Email Configuration"
        ],
        "summary": "List Email configuration",
        "operationId": "listEmailConfiguration",
        "description": "This API used to get all email configurations.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Identifier to get next set of data",
            "example": "ed72f406bc064b46a841035af25b5f04",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 35
            }
          },
          {
            "name": "limit",
            "in": "query",
            "example": 100,
            "description": "Limit number of data, max 100",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "If tag passed then data will be filter based on tag e.g. TenantID",
            "example": "CS-3632",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailConfigurationList"
                }
              }
            }
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Email Configuration"
        ],
        "summary": "Create a Email configuration",
        "operationId": "createEmailConfiguration",
        "description": "This API used to create a new email configuration.",
        "requestBody": {
          "description": "Product email configuration input object",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "type"
                ],
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/EmailDefaultConfiguration"
                  },
                  {
                    "$ref": "#/components/schemas/EmailSmtpConfiguration"
                  },
                  {
                    "$ref": "#/components/schemas/EmailOffice365SmtpConfiguration"
                  },
                  {
                    "$ref": "#/components/schemas/EmailExchangeConfiguration"
                  },
                  {
                    "$ref": "#/components/schemas/EmailOffice365ExchangeOnlineConfiguration"
                  }
                ]
              },
              "examples": {
                "SMTP": {
                  "value": {
                    "type": "SMTP",
                    "senderEmail": "test.email@gmail.com",
                    "hostName": "smtp.gmail.com",
                    "port": 587,
                    "username": "test.email@gmail.com",
                    "password": "passw@rd",
                    "enableSsl": true,
                    "tag": "CS-3632"
                  }
                },
                "Office365SMTP": {
                  "value": {
                    "type": "Office365SMTP",
                    "senderEmail": "test.email@onmicrosoft.com",
                    "hostName": "smtp.office365.com",
                    "port": 587,
                    "password": "passw@rd",
                    "enableSsl": true,
                    "tag": "CS-3632"
                  }
                },
                "Exchange": {
                  "value": {
                    "type": "Exchange",
                    "senderEmail": "test.email@msexchange.com",
                    "url": "https://mail.domain.com/owa",
                    "username": "test.xyz or test.email@msexchange.com",
                    "password": "passw@rd",
                    "tag": "CS-3632"
                  }
                },
                "Office365ExchangeOnline": {
                  "value": {
                    "type": "Office365ExchangeOnline",
                    "senderEmail": "test.email@onmicrosoft.com",
                    "url": "https://outlook.office365.com/EWS/Exchange.asmx",
                    "password": "passw@rd",
                    "hasMFA": true,
                    "clientID": "aac2d770-8930-4a37-a85b-e1c2e120d002",
                    "tenantID": "4734a049-5803-412a-a843-854ade6268e9",
                    "clientSecret": "p67ff4fxOB_IUXOT2XXXXXXC-C9xbPEwussd",
                    "tag": "CS-3632"
                  }
                },
                "Default": {
                  "value": {
                    "type": "Default",
                    "senderEmail": "tenant.name@domain.com",
                    "tag": "CS-3632"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri",
                  "example": "https://comm/1.0.5/email-configuration/edc94bf917g04d55acb40c6a3ac4e7fd"
                },
                "description": "Address of the email configuration resource"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "maxLength": 100,
                      "description": "Product email configuration code",
                      "example": "edc94bf917g04d55acb40c6a3ac4e7fd"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "415": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem415Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      }
    },
    "/email-configuration/{emailCode}": {
      "parameters": [
        {
          "name": "emailCode",
          "in": "path",
          "description": "Product email configuration code - unique identifier",
          "example": "edc94bf917g04d55acb40c6a3ac4e7fd",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Email Configuration"
        ],
        "summary": "Email configuration by code",
        "operationId": "getEmailConfigurationByCode",
        "description": "This API used to get email configuration.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "type"
                  ],
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/EmailDefaultConfigurationGet"
                    },
                    {
                      "$ref": "#/components/schemas/EmailSmtpConfigurationGet"
                    },
                    {
                      "$ref": "#/components/schemas/EmailOffice365SmtpConfigurationGet"
                    },
                    {
                      "$ref": "#/components/schemas/EmailExchangeConfigurationGet"
                    },
                    {
                      "$ref": "#/components/schemas/EmailOffice365ExchangeOnlineConfigurationGet"
                    }
                  ]
                },
                "examples": {
                  "SMTP": {
                    "value": {
                      "code": "559e4223fc2d465bb4179f388ff5bc3d",
                      "type": "SMTP",
                      "senderEmail": "test.email@gmail.com",
                      "hostName": "smtp.gmail.com",
                      "port": 587,
                      "username": "test.email@gmail.com",
                      "enableSsl": true,
                      "tag": "CS-3632",
                      "createdDate": "2020-08-20T06:14:48.852Z",
                      "updatedDate": "2020-08-20T06:14:48.852Z"
                    }
                  },
                  "Office365SMTP": {
                    "value": {
                      "code": "659e4223fc2d465bb4179f388ff5bc3f",
                      "type": "Office365SMTP",
                      "senderEmail": "test.email@onmicrosoft.com",
                      "hostName": "smtp.office365.com",
                      "port": 587,
                      "enableSsl": true,
                      "tag": "CS-3632",
                      "createdDate": "2020-08-20T06:14:48.852Z",
                      "updatedDate": "2020-08-20T06:14:48.852Z"
                    }
                  },
                  "Exchange": {
                    "value": {
                      "code": "955e4223fc2d465bb4179f388ff5bc3f",
                      "type": "Exchange",
                      "senderEmail": "test.email@msexchanges.com",
                      "url": "https://mail.domain.com/owa",
                      "username": "test.xyz or test.email@msexchanges.com",
                      "tag": "CS-3632",
                      "createdDate": "2020-08-20T06:14:48.852Z",
                      "updatedDate": "2020-08-20T06:14:48.852Z"
                    }
                  },
                  "Office365ExchangeOnline": {
                    "value": {
                      "code": "259e4223fc2d465bb4179f388ff5bc3f",
                      "type": "Office365ExchangeOnline",
                      "senderEmail": "test.email@onmicrosoft.com",
                      "url": "https://outlook.office365.com/EWS/Exchange.asmx",
                      "hasMFA": true,
                      "clientID": "aac2d770-8930-4a37-a85b-e1c2e120d002",
                      "tenantID": "4734a049-5803-412a-a843-854ade6268e9",
                      "tag": "CS-3632",
                      "createdDate": "2020-08-20T06:14:48.852Z",
                      "updatedDate": "2020-08-20T06:14:48.852Z"
                    }
                  },
                  "Default": {
                    "value": {
                      "code": "459e4423fc2d465bb3179f388ff5bc3f",
                      "type": "Default",
                      "senderEmail": "tenant.name@domain.com",
                      "tag": "CS-3632",
                      "createdDate": "2020-08-20T06:14:48.852Z",
                      "updatedDate": "2020-08-20T06:14:48.852Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "404": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem404Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Email Configuration"
        ],
        "summary": "Update email configuration",
        "operationId": "updateProductEmailConfigurationByCode",
        "description": "This API used to update email configuration using email configuration code.",
        "requestBody": {
          "description": "Product email input object",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "type"
                ],
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/EmailDefaultConfiguration"
                  },
                  {
                    "$ref": "#/components/schemas/EmailSmtpConfiguration"
                  },
                  {
                    "$ref": "#/components/schemas/EmailOffice365SmtpConfiguration"
                  },
                  {
                    "$ref": "#/components/schemas/EmailExchangeConfiguration"
                  },
                  {
                    "$ref": "#/components/schemas/EmailOffice365ExchangeOnlineConfiguration"
                  }
                ]
              },
              "examples": {
                "EmailSmtp": {
                  "value": {
                    "type": "SMTP",
                    "senderEmail": "test.email@gmail.com",
                    "hostName": "smtp.gmail.com",
                    "port": 587,
                    "username": "test.email@gmail.com",
                    "password": "passw@rd",
                    "enableSsl": true,
                    "tag": "CS-3632"
                  }
                },
                "Office365SMTP": {
                  "value": {
                    "type": "Office365SMTP",
                    "senderEmail": "test.email@onmicrosoft.com",
                    "hostName": "smtp.office365.com",
                    "port": 587,
                    "password": "passw@rd",
                    "enableSsl": true,
                    "tag": "CS-3632"
                  }
                },
                "Exchange": {
                  "value": {
                    "type": "Exchange",
                    "senderEmail": "test.email@msexchange.com",
                    "url": "https://mail.domain.com/owa",
                    "username": "test.xyz or test.email@msexchange.com",
                    "password": "passw@rd",
                    "tag": "CS-3632"
                  }
                },
                "Office365ExchangeOnline": {
                  "value": {
                    "type": "Office365ExchangeOnline",
                    "senderEmail": "test.email@onmicrosoft.com",
                    "url": "https://outlook.office365.com/EWS/Exchange.asmx",
                    "password": "passw@rd",
                    "hasMFA": true,
                    "clientID": "aac2d770-8930-4a37-a85b-e1c2e120d002",
                    "tenantID": "4734a049-5803-412a-a843-854ade6268e9",
                    "tag": "CS-3632"
                  }
                },
                "Default": {
                  "value": {
                    "type": "Default",
                    "senderEmail": "tenant.name@domain.com",
                    "tag": "CS-3632"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "404": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem404Response"
          },
          "415": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem415Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Email Configuration"
        ],
        "summary": "Delete email configuration",
        "operationId": "deleteEmailConfigurationByCode",
        "description": "This API used to delete email configuration using email configuration code.",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem400Response"
          },
          "401": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem401Response"
          },
          "403": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem403Response"
          },
          "404": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem404Response"
          },
          "500": {
            "$ref": "https://api.swaggerhub.com/domains/AdvancedComputerSoft/advanced-common-oas3/1.2.0#/components/responses/Problem500Response"
          }
        },
        "security": [
          {
            "LambdaAuthorizer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "EmailType": {
        "type": "string",
        "description": "Email type supported by Communication platform.  `Default` - Send email using notification platform aws pinpoint service. `Office365ExchangeOnline` - Send email using Office365 credentials. `Office365SMTP` - Send email using Office365SMTP credentials. `Exchange` - Send email using Microsoft exchange server credentials. `SMTP` - Send email using SMTP server credentials.",
        "example": "Office365ExchangeOnline",
        "enum": [
          "Default",
          "Office365ExchangeOnline",
          "Office365SMTP",
          "Exchange",
          "SMTP"
        ]
      },
      "EmailConfigurationBase": {
        "type": "object",
        "required": [
          "type",
          "senderEmail"
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "Default": "#/components/schemas/EmailDefaultConfiguration",
            "SMTP": "#/components/schemas/EmailSmtpConfiguration",
            "Office365SMTP": "#/components/schemas/EmailOffice365SmtpConfiguration",
            "Exchange": "#/components/schemas/EmailExchangeConfiguration",
            "Office365ExchangeOnline": "#/components/schemas/EmailOffice365ExchangeOnlineConfiguration"
          }
        },
        "properties": {
          "type": {
            "$ref": "#/components/schemas/EmailType"
          },
          "senderEmail": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Default email Name",
            "example": "tenant.name@domain.com"
          },
          "tag": {
            "type": "string",
            "maxLength": 100,
            "description": "Tag to filter email configuration based on tenant e.g. SchoolId.",
            "example": "CS-3632"
          }
        }
      },
      "EmailDefaultConfiguration": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EmailConfigurationBase"
          }
        ]
      },
      "EmailSmtpConfiguration": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EmailConfigurationBase"
          },
          {
            "type": "object",
            "required": [
              "hostName",
              "port",
              "username",
              "password",
              "enableSsl"
            ],
            "properties": {
              "hostName": {
                "type": "string",
                "maxLength": 100,
                "description": "SMTP server host name.",
                "example": "smtp.gmail.com"
              },
              "port": {
                "type": "integer",
                "description": "SMTP port number e.g. 25, 465, 587.",
                "example": 587
              },
              "username": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100,
                "description": "User Name",
                "example": "test.email@gmail.com"
              },
              "password": {
                "type": "string",
                "format": "password",
                "minLength": 1,
                "maxLength": 100,
                "description": "Password",
                "example": "passw@rd"
              },
              "enableSsl": {
                "type": "boolean",
                "description": "SMTP server SSL configuration value.",
                "example": true
              }
            }
          }
        ]
      },
      "EmailOffice365SmtpConfiguration": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EmailConfigurationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "hostName",
              "port",
              "password",
              "enableSsl"
            ],
            "properties": {
              "hostName": {
                "type": "string",
                "maxLength": 100,
                "description": "Office365SMTP server host name.",
                "example": "smtp.office365.com"
              },
              "port": {
                "type": "integer",
                "maxLength": 3,
                "description": "Office365SMTP port number E.g. 25, 465, 587.",
                "example": 587
              },
              "password": {
                "type": "string",
                "format": "password",
                "minLength": 1,
                "maxLength": 100,
                "description": "Password",
                "example": "passw@rd"
              },
              "enableSsl": {
                "type": "boolean",
                "description": "Office365SMTP server SSL configuration value.",
                "example": true
              }
            }
          }
        ]
      },
      "EmailExchangeConfiguration": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EmailConfigurationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "url",
              "password"
            ],
            "properties": {
              "url": {
                "type": "string",
                "maxLength": 1000,
                "description": "Email send URL",
                "example": "https://mail.domain.com/owa"
              },
              "username": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100,
                "description": "User Name",
                "example": "test.xyz or test.email@msexchange.com"
              },
              "password": {
                "type": "string",
                "format": "password",
                "minLength": 1,
                "maxLength": 100,
                "description": "Password",
                "example": "passw@rd"
              }
            }
          }
        ]
      },
      "EmailOffice365ExchangeOnlineConfiguration": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EmailConfigurationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "url",
              "password"
            ],
            "properties": {
              "url": {
                "type": "string",
                "minLength": 1,
                "maxLength": 1000,
                "description": "Email send URL",
                "example": "https://mail.domain.com/owa"
              },
              "password": {
                "type": "string",
                "format": "password",
                "minLength": 1,
                "maxLength": 100,
                "description": "Password",
                "example": "passw@rd"
              },
              "hasMFA": {
                "type": "boolean",
                "description": "Multi-factor authentication enable flag.",
                "example": true
              },
              "clientID": {
                "type": "string",
                "maxLength": 100,
                "description": "Azure AD application clientId, required on hasMFA is true.",
                "example": "aac2d770-8930-4a37-a85b-e1c2e120d002"
              },
              "tenantID": {
                "type": "string",
                "maxLength": 100,
                "description": "Azure AD application tenantID, required on hasMFA is true.",
                "example": "4734a049-5803-412a-a843-854ade6268e9"
              },
              "clientSecret": {
                "type": "string",
                "maxLength": 100,
                "description": "Azure AD application client secret, required on hasMFA is true.",
                "example": "x6J7Q~xOB_IDDTT25TgC21fbC.A9PPXXEwu4to"
              }
            }
          }
        ]
      },
      "EmailDefaultConfigurationGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EmailConfigurationBase"
          },
          {
            "type": "object",
            "required": [
              "code",
              "createdDate",
              "updatedDate"
            ],
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 35,
                "description": "Email configuration code.",
                "example": "859e4223fc2d465bb4179f388ff5bc3f"
              },
              "createdDate": {
                "type": "string",
                "description": "Email configuration created date in ISO8601 format.",
                "example": "2020-08-20T06:14:48.852Z"
              },
              "updatedDate": {
                "type": "string",
                "description": "Email configuration last updated date in ISO8601 format.",
                "example": "2020-08-20T06:14:48.852Z"
              }
            }
          }
        ]
      },
      "EmailSmtpConfigurationGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EmailConfigurationBase"
          },
          {
            "type": "object",
            "required": [
              "code",
              "type",
              "hostName",
              "port",
              "username",
              "enableSsl",
              "createdDate",
              "updatedDate"
            ],
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 35,
                "description": "Email configuration code.",
                "example": "859e4223fc2d465bb4179f388ff5bc3f"
              },
              "hostName": {
                "type": "string",
                "maxLength": 100,
                "description": "SMTP server host name.",
                "example": "smtp.gmail.com"
              },
              "port": {
                "type": "integer",
                "maxLength": 3,
                "description": "SMTP port number e.g. 25, 465, 587.",
                "example": 587
              },
              "username": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100,
                "description": "User Name",
                "example": "test.email@gmail.com"
              },
              "enableSsl": {
                "type": "boolean",
                "description": "SMTP server SSL configuration value.",
                "example": true
              },
              "createdDate": {
                "type": "string",
                "description": "Email configuration created date in ISO8601 format.",
                "example": "2020-08-20T06:14:48.852Z"
              },
              "updatedDate": {
                "type": "string",
                "description": "Email configuration last updated date in ISO8601 format.",
                "example": "2020-08-20T06:14:48.852Z"
              }
            }
          }
        ]
      },
      "EmailOffice365SmtpConfigurationGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EmailConfigurationBase"
          },
          {
            "type": "object",
            "required": [
              "code",
              "type",
              "hostName",
              "port",
              "enableSsl",
              "createdDate",
              "updatedDate"
            ],
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 35,
                "description": "Email configuration code.",
                "example": "859e4223fc2d465bb4179f388ff5bc3f"
              },
              "hostName": {
                "type": "string",
                "maxLength": 100,
                "description": "Office365SMTP server host name.",
                "example": "smtp.office365.com"
              },
              "port": {
                "type": "integer",
                "maxLength": 3,
                "description": "Office365SMTP port number E.g. 25, 465, 587.",
                "example": 587
              },
              "enableSsl": {
                "type": "boolean",
                "description": "Office365SMTP server SSL configuration value.",
                "example": true
              },
              "createdDate": {
                "type": "string",
                "description": "Email configuration created date in ISO8601 format.",
                "example": "2020-08-20T06:14:48.852Z"
              },
              "updatedDate": {
                "type": "string",
                "description": "Email configuration last updated date in ISO8601 format.",
                "example": "2020-08-20T06:14:48.852Z"
              }
            }
          }
        ]
      },
      "EmailExchangeConfigurationGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EmailConfigurationBase"
          },
          {
            "type": "object",
            "required": [
              "code",
              "type",
              "url",
              "createdDate",
              "updatedDate"
            ],
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 35,
                "description": "Email configuration code.",
                "example": "859e4223fc2d465bb4179f388ff5bc3f"
              },
              "url": {
                "type": "string",
                "maxLength": 1000,
                "description": "Email send URL",
                "example": "https://mail.domain.com/owa"
              },
              "username": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100,
                "description": "User Name",
                "example": "test.xyz or test.email@msexchange.com"
              },
              "createdDate": {
                "type": "string",
                "description": "Email configuration created date in ISO8601 format.",
                "example": "2020-08-20T06:14:48.852Z"
              },
              "updatedDate": {
                "type": "string",
                "description": "Email configuration last updated date in ISO8601 format.",
                "example": "2020-08-20T06:14:48.852Z"
              }
            }
          }
        ]
      },
      "EmailOffice365ExchangeOnlineConfigurationGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EmailConfigurationBase"
          },
          {
            "type": "object",
            "required": [
              "code",
              "type",
              "senderEmail",
              "url",
              "createdDate",
              "updatedDate"
            ],
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 35,
                "description": "Email configuration code.",
                "example": "859e4223fc2d465bb4179f388ff5bc3f"
              },
              "url": {
                "type": "string",
                "minLength": 1,
                "maxLength": 1000,
                "description": "Email send URL",
                "example": "https://outlook.office365.com/EWS/Exchange.asmx"
              },
              "hasMFA": {
                "type": "boolean",
                "description": "Multi-factor authentication enable flag.",
                "example": true
              },
              "clientID": {
                "type": "string",
                "maxLength": 100,
                "description": "Azure AD application clientId, required on hasMFA is true.",
                "example": "aac2d770-8930-4a37-a85b-e1c2e120d002"
              },
              "tenantID": {
                "type": "string",
                "maxLength": 100,
                "description": "Azure AD application tenantID, required on hasMFA is true.",
                "example": "4734a049-5803-412a-a843-854ade6268e9"
              },
              "createdDate": {
                "type": "string",
                "description": "Email configuration created date in ISO8601 format.",
                "example": "2020-08-20T06:14:48.852Z"
              },
              "updatedDate": {
                "type": "string",
                "description": "Email configuration last updated date in ISO8601 format.",
                "example": "2020-08-20T06:14:48.852Z"
              }
            }
          }
        ]
      },
      "EmailConfigurationList": {
        "type": "object",
        "required": [
          "data",
          "pagination"
        ],
        "properties": {
          "data": {
            "type": "array",
            "description": "Return list of product email configurations.",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/EmailDefaultConfigurationGet"
                },
                {
                  "$ref": "#/components/schemas/EmailSmtpConfigurationGet"
                },
                {
                  "$ref": "#/components/schemas/EmailOffice365SmtpConfigurationGet"
                },
                {
                  "$ref": "#/components/schemas/EmailExchangeConfigurationGet"
                },
                {
                  "$ref": "#/components/schemas/EmailOffice365ExchangeOnlineConfigurationGet"
                }
              ]
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "nextCursor": {
                "type": "string",
                "description": "Next cursor to fetch next set of data. Pass nextCursor as cursor query string.",
                "example": "ef72f406bc064b46a841035af25b5f04"
              },
              "previousCursor": {
                "type": "string",
                "description": "Previous cursor to fetch previous set of data. Pass previousCursor as cursor query string.",
                "example": "ef72f406bc064b46a841035af25b5f04"
              },
              "limit": {
                "type": "integer",
                "description": "Limit number of records",
                "example": 100
              }
            }
          }
        },
        "example": {
          "data": [
            {
              "code": "859e4223fc2d465bb4179f388ff5bc3f",
              "type": "Default",
              "senderEmail": "tenant.name@domain.com",
              "tag": "CS-3632",
              "createdDate": "2020-08-20T06:14:48.852Z",
              "updatedDate": "2020-08-20T06:14:48.852Z"
            },
            {
              "code": "859e4223fc2d465bb4179f388ff5bc3f",
              "type": "SMTP",
              "senderEmail": "test.email@gmail.com",
              "hostName": "smtp.gmail.com",
              "port": 587,
              "username": "test.email@gmail.com",
              "enableSsl": true,
              "tag": "CS-3632",
              "createdDate": "2020-08-20T06:14:48.852Z",
              "updatedDate": "2020-08-20T06:15:48.852Z"
            },
            {
              "code": "859e4223fc2d465bb4179f388ff5bc3f",
              "type": "Office365SMTP",
              "senderEmail": "test.email@onmicrosoft.com",
              "hostName": "smtp.office365.com",
              "port": 587,
              "enableSsl": true,
              "tag": "CS-3632",
              "createdDate": "2020-08-20T06:14:48.852Z",
              "updatedDate": "2020-08-20T06:15:48.852Z"
            },
            {
              "code": "859e4223fc2d465bb4179f388ff5bc3f",
              "type": "Exchange",
              "senderEmail": "test.email@msexchange.com",
              "url": "https://mail.domain.com/owa",
              "username": "test.xyz or test.email@msexchange.com",
              "tag": "CS-3632",
              "createdDate": "2020-08-20T06:14:48.852Z",
              "updatedDate": "2020-08-20T06:15:48.852Z"
            },
            {
              "code": "859e4223fc2d465bb4179f388ff5bc3f",
              "type": "Office365ExchangeOnline",
              "senderEmail": "test.email@onmicrosoft.com",
              "url": "https://outlook.office365.com/EWS/Exchange.asmx",
              "hasMFA": true,
              "clientID": "aac2d770-8930-4a37-a85b-e1c2e120d002",
              "tenantID": "4734a049-5803-412a-a843-854ade6268e9",
              "tag": "CS-3632",
              "createdDate": "2020-08-20T06:14:48.852Z",
              "updatedDate": "2020-08-20T06:15:48.852Z"
            }
          ],
          "pagination": {
            "nextCursor": "f75c38c4cf8f411683aae660857b12bc",
            "previousCursor": "0de20e49e2d747dcb64a40bf5ca7584e",
            "limit": 100
          }
        }
      },
      "SmsConfigurationBase": {
        "type": "object",
        "required": [
          "type"
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "Default": "#/components/schemas/SmsConfigurationInputDefault",
            "URL": "#/components/schemas/SmsConfigurationInputUrl"
          }
        },
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SmsType"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Display Name",
            "example": "TenantName"
          },
          "tag": {
            "type": "string",
            "maxLength": 100,
            "description": "Tag to filter SMS configuration based on tenant e.g. SchoolId.",
            "example": "CS-3632"
          }
        }
      },
      "SmsConfigurationInputDefault": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmsConfigurationBase"
          }
        ]
      },
      "SmsConfigurationInputUrl": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmsConfigurationBase"
          },
          {
            "type": "object",
            "required": [
              "type",
              "url",
              "username",
              "password"
            ],
            "properties": {
              "type": {
                "$ref": "#/components/schemas/SmsType"
              },
              "url": {
                "type": "string",
                "maxLength": 1000,
                "description": "SMS send URL",
                "example": "https://www.smsprovider.com/sendSmsMessages?username=<<username>>&password=<<password>>&displayname=<<displayname>>&phone=<<tonumber>>&msg=<<message>>"
              },
              "returnUrl": {
                "type": "string",
                "maxLength": 1000,
                "description": "SMS receive URL",
                "example": "https://www.smsprovider.com/receivedSmsMessages?username=<<username>>&password=<<password>>"
              },
              "username": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100,
                "description": "User Name",
                "example": "testUser"
              },
              "password": {
                "type": "string",
                "format": "password",
                "minLength": 1,
                "maxLength": 100,
                "description": "Password",
                "example": "passw@rd"
              }
            }
          }
        ]
      },
      "SmsConfigurationGetDefault": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmsConfigurationBase"
          },
          {
            "type": "object",
            "required": [
              "code",
              "type",
              "createdDate",
              "updatedDate"
            ],
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 35,
                "description": "SMS configuration code.",
                "example": "859e4223fc2d465bb4179f388ff5bc3f"
              },
              "createdDate": {
                "type": "string",
                "description": "SMS configuration created date in ISO8601 format.",
                "example": "2020-08-20T06:14:48.852Z"
              },
              "updatedDate": {
                "type": "string",
                "description": "SMS configuration last updated date in ISO8601 format.",
                "example": "2020-08-20T06:14:48.852Z"
              }
            }
          }
        ]
      },
      "SmsConfigurationGetUrl": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SmsConfigurationBase"
          },
          {
            "type": "object",
            "required": [
              "code",
              "type",
              "url",
              "username",
              "createdDate",
              "updatedDate"
            ],
            "properties": {
              "code": {
                "type": "string",
                "maxLength": 35,
                "description": "SMS configuration code.",
                "example": "859e4223fc2d465bb4179f388ff5bc3f"
              },
              "url": {
                "type": "string",
                "maxLength": 1000,
                "description": "SMS send URL",
                "example": "https://www.smsprovider.com/sendSmsMessages?username=<<username>>&password=<<password>>&displayname=<<displayname>>&phone=<<tonumber>>&msg=<<message>>"
              },
              "returnUrl": {
                "type": "string",
                "maxLength": 1000,
                "description": "SMS receive URL",
                "example": "https://www.smsprovider.com/receivedSmsMessages?username=<<username>>&password=<<password>>"
              },
              "username": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100,
                "description": "User Name",
                "example": "testUser"
              },
              "createdDate": {
                "type": "string",
                "description": "SMS configuration created date in ISO8601 format.",
                "example": "2020-08-20T06:14:48.852Z"
              },
              "updatedDate": {
                "type": "string",
                "description": "SMS configuration last updated date in ISO8601 format.",
                "example": "2020-08-20T06:14:48.852Z"
              }
            }
          }
        ]
      },
      "NotificationMessageInput": {
        "required": [
          "msg",
          "ul",
          "messageId"
        ],
        "type": "object",
        "properties": {
          "msg": {
            "type": "string",
            "description": "message to send as Email",
            "example": "Communication notification",
            "minLength": 1
          },
          "smsMsg": {
            "type": "string",
            "description": "message to send as SMS",
            "example": "Communication notification",
            "minLength": 1
          },
          "inAppMsg": {
            "type": "string",
            "description": "message to send as InApp",
            "example": "Communication notification",
            "minLength": 1
          },
          "messageId": {
            "type": "string",
            "description": "message Id, unique for each message",
            "example": "1",
            "minLength": 1
          },
          "ul": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationUserInput"
            },
            "example": [
              {
                "uid": "receiver user",
                "emails": [
                  "recieveruser@domain.com"
                ]
              }
            ]
          }
        },
        "example": {
          "msg": "message to send as Email",
          "smsMsg": "message to send as SMS",
          "inAppMsg": "message to send as InApp",
          "messageId": "1",
          "ul": [
            {
              "uid": "receiver user",
              "emails": [
                "recieveruser@domain.com"
              ]
            }
          ]
        },
        "description": "Notification message input model"
      },
      "GenerateTokenOutput": {
        "required": [
          "token"
        ],
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Generated JWT token, It can be used to send notification, connect to InApp for receive notification.",
            "example": "ecJhbGciOiJIUzI1NiIsInR5cCI6Ikp9.eyJ1c2VyZ3JvdXabOiJwcm9kdWN0Z3JvdXAiLCJ1c2VybmFtZSI6InByb2R1Y3R1c2VyIiwiaWF0IjoxNTk5MTA4MjgxLCJleHAiOjE1OTkxOTEwODEsImF1ZCI6IjNkYTI3YmYxZDlmYjQ3MGU4YzNmNTEwMTQyNzEyYWEzIn0.lgOGwpdz0lRZoUalf2q7uMMWGtekwadujf79JKQPVnI"
          }
        },
        "description": "Token generation output model"
      },
      "ListProductRules": {
        "type": "object",
        "required": [
          "rules",
          "pagination"
        ],
        "properties": {
          "rules": {
            "type": "array",
            "description": "Return list of product rules",
            "items": {
              "$ref": "#/components/schemas/ProductRule"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "nextCursor": {
                "type": "string",
                "description": "Next cursor to fetch next set of data. Pass nextCursor as cursor query string.",
                "example": "ef72f406bc064b46a841035af25b5f04"
              },
              "previousCursor": {
                "type": "string",
                "description": "Previous cursor to fetch previous set of data. Pass previousCursor as cursor query string.",
                "example": "ef72f406bc064b46a841035af25b5f04"
              },
              "limit": {
                "type": "integer",
                "description": "Limit number of records",
                "example": 100
              }
            }
          }
        },
        "example": {
          "rules": [
            {
              "code": "859e4223fc2d465bb4179f388ff5bc3f",
              "name": "InApp Notification",
              "notifications": [
                "InApp"
              ],
              "retryAttemptSeconds": 3,
              "retryAttempt": 3,
              "pushDefaultMessage": "Notification is available. Please tap to get more information.",
              "emailDefaultSubject": "Email notification",
              "tag": "Key stage 1 group",
              "createdDate": "2020-08-20T06:14:48.852Z",
              "updatedDate": "2020-08-20T06:14:48.852Z"
            }
          ],
          "pagination": {
            "nextCursor": "f75c38c4cf8f411683aae660857b12bc",
            "previousCursor": "0de20e49e2d747dcb64a40bf5ca7584e",
            "limit": 100
          }
        }
      },
      "NotificationInput": {
        "required": [
          "msgs",
          "rule"
        ],
        "type": "object",
        "properties": {
          "msgs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationMessageInput"
            }
          },
          "rule": {
            "type": "string",
            "description": "rule code",
            "minLength": 1,
            "maxLength": 50,
            "example": "ddc94bf917f04d55acb30c6a3ac1e7de"
          },
          "smsConfiguration": {
            "$ref": "#/components/schemas/SmsConfigurationInput"
          },
          "emailConfiguration": {
            "$ref": "#/components/schemas/EmailConfigurationInput"
          },
          "senderConfiguration": {
            "$ref": "#/components/schemas/SenderConfigurationInput"
          },
          "actionType": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "action type, Pass when InApp/Push notification configured",
            "example": "Attendance"
          },
          "pushNotificationSubject": {
            "type": "string",
            "minLength": 1,
            "maxLength": 140,
            "description": "Pass if Push notification is selected in rule",
            "example": "Notification is available. Please tap to get more information."
          },
          "emailSubject": {
            "type": "string",
            "minLength": 1,
            "maxLength": 140,
            "description": "Pass if Email notification is selected in rule",
            "example": "Attendance notification"
          },
          "tag": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "notification tag",
            "example": "Attendance group notification"
          },
          "isEmailHTMLFormat": {
            "type": "boolean",
            "description": "Pass true for html format message other wise false",
            "example": true
          }
        },
        "description": "Notification input model"
      },
      "SmsConfigurationInput": {
        "required": [
          "code",
          "fallback"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Sms configuration code",
            "minLength": 1,
            "maxLength": 50,
            "example": "cfc94bf937f0d355awb34c6a3ac1e7xa"
          },
          "fallback": {
            "type": "boolean",
            "description": "Pass true to send sms using notification platform environment when provided sms configuration should not work.",
            "example": true
          }
        },
        "description": "Send notification sms configuration."
      },
      "EmailConfigurationInput": {
        "required": [
          "code",
          "fallback"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Email configuration code",
            "minLength": 1,
            "maxLength": 50,
            "example": "dfc94bg937f0d355awb35c6a3ac1e8ed"
          },
          "fallback": {
            "type": "boolean",
            "description": "Pass true to send email using notification platform environment when provided email configuration should not work.",
            "example": true
          }
        },
        "description": "Send notification email configuration."
      },
      "SenderConfigurationInput": {
        "required": [
          "username"
        ],
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "username/email to create send email credentials.",
            "minLength": 1,
            "maxLength": 100,
            "example": "test.test@microsoft.com"
          },
          "password": {
            "type": "string",
            "format": "password",
            "minLength": 1,
            "maxLength": 100,
            "description": "Password to create send email credentials.",
            "example": "passw@rd"
          }
        },
        "description": "Send notification email credential configuration."
      },
      "GenerateTokenInput": {
        "required": [
          "productCode",
          "securityKey",
          "userIdentifier"
        ],
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Product Code",
            "example": "ef72f406bc064b46a841035af25b5f04"
          },
          "securityKey": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300,
            "description": "Security key generated for product",
            "example": "ef72f406bc064b46a841035af25b5f04fdkkipok;lk"
          },
          "userIdentifier": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "User identifier - Products user identifier, should be unique per User",
            "example": "productUser"
          }
        },
        "description": "Token generation input model"
      },
      "NotificationOutput": {
        "required": [
          "jobId"
        ],
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          }
        },
        "description": "Notification result model"
      },
      "ProductRule": {
        "required": [
          "code",
          "name",
          "notifications",
          "createdDate",
          "updatedDate"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "maxLength": 100,
            "description": "Rule code",
            "example": "859e4223fc2d465bb4179f388ff5bc3f"
          },
          "name": {
            "type": "string",
            "description": "Rule name",
            "example": "InApp Notification",
            "maxLength": 50,
            "minLength": 1
          },
          "notifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationType"
            },
            "example": [
              "InApp"
            ]
          },
          "retryAttemptSeconds": {
            "type": "integer",
            "maxLength": 3,
            "description": "Retry attempt in Seconds, require when InApp notification is selected and retryAttempt is defined."
          },
          "retryAttempt": {
            "maximum": 3,
            "type": "integer",
            "description": "Retry attempt, require when InApp notification is selected."
          },
          "pushDefaultMessage": {
            "type": "string",
            "maxLength": 100,
            "description": "When Push notification will be used to send notification, default message will be delivered in mobile application.",
            "example": "Notification is available. Please tap to get more information."
          },
          "emailDefaultSubject": {
            "type": "string",
            "maxLength": 100,
            "description": "When InApp and Email notification will be used to send notification, default subject will be delivered for email notification if message not delivers via InApp notification",
            "example": "Email notification"
          },
          "tag": {
            "type": "string",
            "description": "rule tag to filter rules based on tag",
            "maxLength": 100,
            "example": "Key stage 1 group"
          },
          "createdDate": {
            "type": "string",
            "description": "Rule created date in ISO8601 format",
            "example": "2020-08-20T06:14:48.852Z"
          },
          "updatedDate": {
            "type": "string",
            "description": "Rule last updated date in ISO8601 format",
            "example": "2020-08-20T06:14:48.852Z"
          }
        }
      },
      "ProductRuleInput": {
        "required": [
          "name",
          "notifications"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Rule name",
            "example": "InApp Notification"
          },
          "notifications": {
            "minItems": 1,
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationType"
            },
            "example": [
              "InApp"
            ]
          },
          "pushDefaultMessage": {
            "maxLength": 100,
            "type": "string",
            "description": "When Push notification will be used to send notification, default message will be delivered in mobile application",
            "example": "Notification is available. Please tap to get more information."
          },
          "retryAttemptSeconds": {
            "type": "integer",
            "maxLength": 3,
            "description": "Retry attempt in Seconds, require when InApp notification is selected and retryAttempt is defined.",
            "example": 30
          },
          "retryAttempt": {
            "maximum": 3,
            "type": "integer",
            "description": "Retry attempt, require when InApp notification is selected.",
            "example": 2
          },
          "emailDefaultSubject": {
            "maxLength": 100,
            "type": "string",
            "description": "When InApp and Email notification will be used to send notification, default subject will be delivered for email notification if message not delivers via InApp notification",
            "example": "Email notification"
          },
          "tag": {
            "type": "string",
            "maxLength": 100,
            "description": "rule tag to filter rules based on tag",
            "example": "Key stage 1 group"
          }
        }
      },
      "SmsType": {
        "type": "string",
        "description": "SMS type supported by Communication platform.  `URL` - Send SMS using provided URL and user credentials. `Default` - Send SMS using notification platform aws pinpoint service.",
        "example": "URL",
        "enum": [
          "URL",
          "Default"
        ]
      },
      "SmsConfigurationList": {
        "type": "object",
        "required": [
          "data",
          "pagination"
        ],
        "properties": {
          "data": {
            "type": "array",
            "description": "Return list of product SMS configurations.",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SmsConfigurationGetUrl"
                },
                {
                  "$ref": "#/components/schemas/SmsConfigurationGetDefault"
                }
              ]
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "nextCursor": {
                "type": "string",
                "description": "Next cursor to fetch next set of data. Pass nextCursor as cursor query string.",
                "example": "ef72f406bc064b46a841035af25b5f04"
              },
              "previousCursor": {
                "type": "string",
                "description": "Previous cursor to fetch previous set of data. Pass previousCursor as cursor query string.",
                "example": "ef72f406bc064b46a841035af25b5f04"
              },
              "limit": {
                "type": "integer",
                "description": "Limit number of records",
                "example": 100
              }
            }
          }
        },
        "example": {
          "data": [
            {
              "code": "859e4223fc2d465bb4179f388ff5bc3f",
              "type": "Default",
              "displayName": "TenantName",
              "tag": "3632",
              "createdDate": "2020-08-20T06:14:48.852Z",
              "updatedDate": "2020-08-20T06:14:48.852Z"
            },
            {
              "code": "859e4223fc2d465bb4179f388ff5bc3f",
              "type": "URL",
              "url": "https://www.smsprovider.com/sendSmsMessages?username=<<username>>&password=<<password>>&displayname=<<displayname>>&phone=<<tonumber>>&msg=<<message>>",
              "returnUrl": "https://www.smsprovider.com/receivedSmsMessages?username=<<username>>&password=<<password>>",
              "username": "testUser",
              "displayName": "TenantName",
              "tag": "3632",
              "createdDate": "2020-08-20T06:14:48.852Z",
              "updatedDate": "2020-08-20T06:14:48.852Z"
            }
          ],
          "pagination": {
            "nextCursor": "f75c38c4cf8f411683aae660857b12bc",
            "previousCursor": "0de20e49e2d747dcb64a40bf5ca7584e",
            "limit": 100
          }
        }
      },
      "SendNotificationMessageLogOutput": {
        "title": "Send Notification Message Log Response",
        "required": [
          "notificationType",
          "log",
          "isSuccess",
          "date",
          "itemIndex"
        ],
        "type": "object",
        "properties": {
          "notificationType": {
            "$ref": "#/components/schemas/NotificationType"
          },
          "isSuccess": {
            "type": "boolean",
            "description": "true/false, true if notification sent using notification type"
          },
          "log": {
            "type": "string",
            "description": "if isSuccess is false then log will help to understand why notification not sent",
            "example": "No active connection found."
          },
          "itemIndex": {
            "type": "integer",
            "description": "item Index, if multiple items has been passed, item index gives reference item number",
            "example": 1
          },
          "date": {
            "type": "string",
            "description": "date/time when notification sent in ISO8601 format",
            "example": "2020-08-20T06:14:48.852Z"
          }
        }
      },
      "ProductRuleOutput": {
        "required": [
          "code"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "maxLength": 50,
            "description": "Return product rule code",
            "example": "56406bc25fea431ba8d9769bf36db9f7"
          }
        }
      },
      "NotificationUserInput": {
        "required": [
          "uid"
        ],
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "User identifier - user identifier should be unique for each user",
            "minLength": 1,
            "maxLength": 100,
            "example": "ProductUser"
          },
          "mobiles": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 50,
              "description": "Phone number - phone number in E.164 format"
            },
            "example": [
              "+447911123456"
            ]
          },
          "tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationUserPushConfigurationInput"
            }
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 500,
              "description": "Email address - email address of user"
            },
            "example": [
              "recieveruser@domain.com"
            ]
          }
        },
        "description": "Notification user input model"
      },
      "NotificationType": {
        "type": "string",
        "description": "Notification type supported by Communication platform. `InApp`- For InApp communication, `SMS` - SMS Communication, `Email` - Email Communication,  `Push` - Mobile Push communication, , `None` - None",
        "enum": [
          "None",
          "InApp",
          "SMS",
          "Email",
          "Push"
        ]
      },
      "NotificationUserPushConfigurationInput": {
        "required": [
          "da",
          "ds",
          "dt"
        ],
        "type": "object",
        "properties": {
          "dt": {
            "type": "string",
            "description": "Device token - User mobile device token",
            "minLength": 1,
            "maxLength": 1000,
[...]
