{
  "openapi": "3.0.3",
  "info": {
    "title": "Elai API",
    "description": "Elai API for AI-powered video creation, rendering, and management",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://apis.elai.io/api/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token authentication. Get your API token from https://app.elai.io/api"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/videos": {
      "post": {
        "summary": "Create video",
        "description": "Create a new video",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video created successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "summary": "List videos",
        "description": "Retrieve list of videos",
        "responses": {
          "200": {
            "description": "List of videos retrieved successfully"
          }
        }
      }
    },
    "/videos/render/{videoId}": {
      "post": {
        "summary": "Render video",
        "description": "Render a video by ID",
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video rendered successfully"
          }
        }
      }
    },
    "/videos/{videoId}": {
      "get": {
        "summary": "Retrieve video",
        "description": "Get video details by ID",
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video details retrieved successfully"
          },
          "404": {
            "description": "Video not found"
          }
        }
      },
      "patch": {
        "summary": "Update video",
        "description": "Update video by ID",
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete video",
        "description": "Delete video by ID",
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video deleted successfully"
          }
        }
      }
    },
    "/videos/renderTemplate/{videoId}": {
      "post": {
        "summary": "Render personalized batch",
        "description": "Render personalized video batch from template",
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template rendered successfully"
          }
        }
      }
    },
    "/videos/copy": {
      "post": {
        "summary": "Copy/transform video",
        "description": "Copy or transform an existing video",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video copied successfully"
          }
        }
      }
    },
    "/videos/translate/{videoId}": {
      "post": {
        "summary": "Translate video",
        "description": "Translate video to another language",
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video translation initiated"
          }
        }
      }
    },
    "/videos/from-presentation": {
      "post": {
        "summary": "Create from presentation",
        "description": "Create video from PPTX/PPT file",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video created from presentation"
          }
        }
      }
    },
    "/videos/text/{type}": {
      "post": {
        "summary": "Create from text",
        "description": "Create video from text, HTML, or URL",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "text",
                "html",
                "url"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video created from text"
          }
        }
      }
    },
    "/streams": {
      "post": {
        "summary": "Create stream",
        "description": "Create a real-time stream (Beta)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stream created successfully"
          }
        }
      }
    },
    "/streams/{streamId}": {
      "get": {
        "summary": "Retrieve stream",
        "description": "Get stream details by ID",
        "parameters": [
          {
            "name": "streamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stream details retrieved"
          }
        }
      },
      "put": {
        "summary": "Start stream",
        "description": "Start a stream",
        "parameters": [
          {
            "name": "streamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stream started"
          }
        }
      },
      "delete": {
        "summary": "Close stream",
        "description": "Close a stream",
        "parameters": [
          {
            "name": "streamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stream closed"
          }
        }
      }
    },
    "/story/generate-slides/{videoId}": {
      "post": {
        "summary": "Generate slides",
        "description": "Generate slides for a video using Story API",
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Slides generated"
          }
        }
      }
    },
    "/gpt/{videoId}": {
      "post": {
        "summary": "Enhance video with GPT",
        "description": "Enhance video using GPT capabilities",
        "parameters": [
          {
            "name": "videoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video enhanced with GPT"
          }
        }
      }
    },
    "/avatars": {
      "get": {
        "summary": "List avatars",
        "description": "Retrieve list of available avatars",
        "responses": {
          "200": {
            "description": "Avatars list retrieved"
          }
        }
      }
    },
    "/voices": {
      "get": {
        "summary": "List voices",
        "description": "Retrieve list of available voices",
        "responses": {
          "200": {
            "description": "Voices list retrieved"
          }
        }
      }
    },
    "/webhooks/subscribe": {
      "post": {
        "summary": "Subscribe to webhook",
        "description": "Subscribe to webhook notifications",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook subscription created"
          }
        }
      }
    }
  }
}
