{
  "openapi": "3.1.1",
  "info": {
    "title": "API2Cart OpenAPI",
    "version": "1.1",
    "description": "API2Cart provides a unified e-commerce API that connects to 40+ shopping platforms including Shopify, WooCommerce, Magento, BigCommerce, eBay, Amazon, and more. Manage products, orders, customers, categories, and webhooks through a single interface.",
    "termsOfService": "https://api2cart.com/terms-service",
    "contact": {
      "email": "contact@api2cart.com"
    },
    "x-jentic-source-url": "https://app.api2cart.com/openapi/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.api2cart.com/v1.1",
      "description": "API2Cart Production Server"
    }
  ],
  "tags": [
    {
      "name": "account"
    },
    {
      "name": "cart"
    },
    {
      "name": "product"
    },
    {
      "name": "marketplace"
    },
    {
      "name": "category"
    },
    {
      "name": "order"
    },
    {
      "name": "customer"
    },
    {
      "name": "attribute"
    },
    {
      "name": "tax"
    },
    {
      "name": "webhook"
    },
    {
      "name": "batch"
    }
  ],
  "paths": {
    "/account.failed_webhooks.json": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "account.failed_webhooks",
        "description": "Get list of missed webhooks. API2Cart keeps such records for 24 hours.",
        "operationId": "AccountFailedWebhooks",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Starting entity number",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Entity amount to retrieve. Max allowed count=250",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated webhook ids",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/account.supported_platforms.json": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "account.supported_platforms",
        "description": "Retrieve a list of supported platforms and required connection parameters for each.",
        "operationId": "AccountSupportedPlatforms",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/account.cart.list.json": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "account.cart.list",
        "description": "Get list of online stores connected to API2Cart account. Can get number of API requests per store if period specified.",
        "operationId": "AccountCartList",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "store_url",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "store_key",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request_from_date",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request_to_date",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "params",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "force_all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/account.cart.add.json": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "account.cart.add",
        "description": "Automate connecting stores to API2Cart. Parameters vary by platform.",
        "operationId": "AccountCartAdd",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cart_id": {
                    "type": "string"
                  },
                  "store_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product.list.json": {
      "get": {
        "tags": [
          "product"
        ],
        "summary": "product.list",
        "description": "Get list of products from connected store.",
        "operationId": "ProductList",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "StoreKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "params",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "find_value",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "find_where",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_from",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modified_from",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modified_to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product.info.json": {
      "get": {
        "tags": [
          "product"
        ],
        "summary": "product.info",
        "description": "Get product information by ID.",
        "operationId": "ProductInfo",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "StoreKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product.add.json": {
      "post": {
        "tags": [
          "product"
        ],
        "summary": "product.add",
        "description": "Add a new product to the store.",
        "operationId": "ProductAdd",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "StoreKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product.update.json": {
      "put": {
        "tags": [
          "product"
        ],
        "summary": "product.update",
        "description": "Update an existing product.",
        "operationId": "ProductUpdate",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "StoreKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/product.delete.json": {
      "delete": {
        "tags": [
          "product"
        ],
        "summary": "product.delete",
        "description": "Delete a product from the store.",
        "operationId": "ProductDelete",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "StoreKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/order.list.json": {
      "get": {
        "tags": [
          "order"
        ],
        "summary": "order.list",
        "description": "Get list of orders from connected store.",
        "operationId": "OrderList",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "StoreKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_from",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/order.info.json": {
      "get": {
        "tags": [
          "order"
        ],
        "summary": "order.info",
        "description": "Get order information by ID.",
        "operationId": "OrderInfo",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "StoreKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/order.status.update.json": {
      "put": {
        "tags": [
          "order"
        ],
        "summary": "order.status.update",
        "description": "Update order status.",
        "operationId": "OrderStatusUpdate",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "StoreKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/customer.list.json": {
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "customer.list",
        "description": "Get list of customers from connected store.",
        "operationId": "CustomerList",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "StoreKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "params",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/category.list.json": {
      "get": {
        "tags": [
          "category"
        ],
        "summary": "category.list",
        "description": "Get list of categories from connected store.",
        "operationId": "CategoryList",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "StoreKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "parent_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/cart.info.json": {
      "get": {
        "tags": [
          "cart"
        ],
        "summary": "cart.info",
        "description": "Get information about connected store.",
        "operationId": "CartInfo",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "StoreKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "params",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/webhook.list.json": {
      "get": {
        "tags": [
          "webhook"
        ],
        "summary": "webhook.list",
        "description": "Get list of webhooks configured for the account.",
        "operationId": "WebhookList",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/webhook.create.json": {
      "post": {
        "tags": [
          "webhook"
        ],
        "summary": "webhook.create",
        "description": "Create a new webhook for event notifications.",
        "operationId": "WebhookCreate",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "callback",
                  "event"
                ],
                "properties": {
                  "callback": {
                    "type": "string"
                  },
                  "event": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      },
      "StoreKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "store_key"
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          },
          "return_code": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "return_code": {
            "type": "integer"
          },
          "return_message": {
            "type": "string"
          }
        }
      }
    }
  }
}