{
  "openapi": "3.0.3",
  "info": {
    "title": "VA Benefits Claims API",
    "version": "1.0.0",
    "description": "The VA Benefits Claims API allows authorized users to submit and manage Veterans benefits claims. Part of the VA Lighthouse developer platform.",
    "x-jentic-source-url": "https://developer.va.gov/explore/api/benefits-claims/docs"
  },
  "servers": [
    {
      "url": "https://api.va.gov/services/claims/v2"
    }
  ],
  "paths": {
    "/veterans/{veteranId}/claims": {
      "get": {
        "operationId": "listClaims",
        "summary": "List claims for a veteran",
        "description": "Returns a list of benefits claims for the specified veteran",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "veteranId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Veteran ICN or participant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "submitClaim",
        "summary": "Submit a benefits claim",
        "description": "Submits a new benefits claim for a veteran",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "veteranId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimSubmission"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Claim submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Claim"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/veterans/{veteranId}/claims/{claimId}": {
      "get": {
        "operationId": "getClaim",
        "summary": "Get claim details",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "veteranId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Claim"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/veterans/{veteranId}/claims/{claimId}/5103": {
      "post": {
        "operationId": "submit5103Waiver",
        "summary": "Submit 5103 evidence waiver",
        "description": "Submits a 5103 evidence waiver for a claim",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "veteranId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Waiver submitted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/veterans/{veteranId}/intent-to-file": {
      "get": {
        "operationId": "getIntentToFile",
        "summary": "Get active intent to file",
        "tags": [
          "Intent to File"
        ],
        "parameters": [
          {
            "name": "veteranId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "compensation",
                "pension",
                "survivor"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntentToFile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createIntentToFile",
        "summary": "Create intent to file",
        "tags": [
          "Intent to File"
        ],
        "parameters": [
          {
            "name": "veteranId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntentToFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Intent to file created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntentToFile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/veterans/{veteranId}/power-of-attorney": {
      "get": {
        "operationId": "getPowerOfAttorney",
        "summary": "Get power of attorney",
        "tags": [
          "Power of Attorney"
        ],
        "parameters": [
          {
            "name": "veteranId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PowerOfAttorney"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Claim": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "submittedDate": {
            "type": "string",
            "format": "date"
          },
          "claimDate": {
            "type": "string",
            "format": "date"
          },
          "phase": {
            "type": "integer"
          },
          "developmentLetterSent": {
            "type": "boolean"
          },
          "decisionLetterSent": {
            "type": "boolean"
          }
        }
      },
      "ClaimListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Claim"
            }
          }
        }
      },
      "ClaimSubmission": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "compensation",
              "pension"
            ]
          },
          "serviceConnected": {
            "type": "boolean"
          },
          "contentions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "IntentToFile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date"
          },
          "expirationDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "IntentToFileRequest": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "compensation",
              "pension",
              "survivor"
            ]
          }
        }
      },
      "PowerOfAttorney": {
        "type": "object",
        "properties": {
          "representativeId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "VA API OAuth token"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}