{
  "openapi": "3.0.3",
  "info": {
    "title": "NuPay for Business Checkout API",
    "version": "1.0.0",
    "description": "NuPay for Business provides payment processing APIs for checkout, payment management, refunds, and recipient management. Supports OAuth2 authorization flows including CIBA (Client-Initiated Backchannel Authentication) with OTP validation.",
    "x-jentic-source-url": "https://docs.nupaybusiness.com.br/checkout/docs/openapi/index.html"
  },
  "servers": [
    {
      "url": "https://sandbox-api.spinpay.com.br",
      "description": "Sandbox environment"
    },
    {
      "url": "https://api.spinpay.com.br",
      "description": "Production environment"
    }
  ],
  "paths": {
    "/v1/checkouts/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create payment order",
        "description": "Create a new payment order for checkout processing.",
        "operationId": "createPayment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error"
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/checkouts/payments/{pspReferenceId}/status": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Query payment status",
        "description": "Retrieve the current status of a payment order.",
        "operationId": "getPaymentStatus",
        "parameters": [
          {
            "name": "pspReferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "PSP reference ID of the payment"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Payment not found"
          }
        }
      }
    },
    "/v1/checkouts/payments/{pspReferenceId}/cancel": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Cancel pending payment",
        "description": "Cancel a payment order that is in pending status.",
        "operationId": "cancelPayment",
        "parameters": [
          {
            "name": "pspReferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "PSP reference ID of the payment"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot cancel - payment not in pending status"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Payment not found"
          }
        }
      }
    },
    "/v1/checkouts/payments/{pspReferenceId}/refunds": {
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Request refund",
        "description": "Request a full or partial refund for a completed payment.",
        "operationId": "createRefund",
        "parameters": [
          {
            "name": "pspReferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "PSP reference ID of the payment"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Payment not found"
          }
        }
      }
    },
    "/v1/checkouts/payments/{pspReferenceId}/refunds/{refundId}": {
      "get": {
        "tags": [
          "Refunds"
        ],
        "summary": "Query refund status",
        "description": "Retrieve the current status of a refund request.",
        "operationId": "getRefundStatus",
        "parameters": [
          {
            "name": "pspReferenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "PSP reference ID of the payment"
          },
          {
            "name": "refundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Refund request ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Refund status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Refund not found"
          }
        }
      }
    },
    "/v1/recipients": {
      "post": {
        "tags": [
          "Recipients"
        ],
        "summary": "Create beneficiary",
        "description": "Create a new final beneficiary/recipient for payments.",
        "operationId": "createRecipient",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecipientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipient created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/recipients/{referenceId}": {
      "get": {
        "tags": [
          "Recipients"
        ],
        "summary": "Query beneficiary details",
        "description": "Retrieve details of a specific beneficiary.",
        "operationId": "getRecipient",
        "parameters": [
          {
            "name": "referenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Reference ID of the recipient"
          }
        ],
        "responses": {
          "200": {
            "description": "Recipient details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Recipient not found"
          }
        }
      }
    },
    "/v1/authorize": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "summary": "Generate OAuth authorization URL",
        "description": "Generate an authorization URL for OAuth2 flow.",
        "operationId": "getAuthorizationUrl",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "OAuth client ID"
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Callback URL"
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            },
            "description": "OAuth response type"
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "OAuth scopes"
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "State parameter for CSRF protection"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to authorization page"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/backchannel/authentication": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Initiate CIBA/OTP authorization",
        "description": "Initiate Client-Initiated Backchannel Authentication flow with OTP.",
        "operationId": "initiateBackchannelAuth",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackchannelAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication initiated, OTP sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackchannelAuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/backchannel/authentication/complete": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Validate OTP code",
        "description": "Complete backchannel authentication by validating the OTP code.",
        "operationId": "completeBackchannelAuth",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OtpValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP validated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtpValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid OTP"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/backchannel/authentication/otp/resend": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Resend OTP code",
        "description": "Resend the OTP code for backchannel authentication.",
        "operationId": "resendOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendOtpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP resent successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/token": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Exchange code or refresh token",
        "description": "Exchange authorization code or refresh token for access token.",
        "operationId": "getAccessToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token issued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Merchant-Key",
        "description": "API Key Authentication using X-Merchant-Key and X-Merchant-Token headers"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth2 Bearer Token Authentication"
      }
    },
    "schemas": {
      "CreatePaymentRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "reference"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "description": "Payment amount in BRL"
          },
          "currency": {
            "type": "string",
            "enum": [
              "BRL"
            ],
            "description": "Currency code"
          },
          "reference": {
            "type": "string",
            "description": "Merchant reference ID"
          },
          "description": {
            "type": "string",
            "description": "Payment description"
          },
          "callbackUrl": {
            "type": "string",
            "format": "uri",
            "description": "Webhook URL for payment status updates"
          },
          "recipient": {
            "type": "string",
            "description": "Recipient reference ID"
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "pspReferenceId": {
            "type": "string",
            "format": "uuid",
            "description": "PSP payment reference ID"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed",
              "cancelled",
              "failed"
            ],
            "description": "Payment status"
          },
          "amount": {
            "type": "number",
            "description": "Payment amount"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp in ISO-8601 format"
          }
        }
      },
      "PaymentStatusResponse": {
        "type": "object",
        "properties": {
          "pspReferenceId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed",
              "cancelled",
              "failed"
            ]
          },
          "statusCode": {
            "type": "integer",
            "description": "Detailed status code"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RefundRequest": {
        "type": "object",
        "required": [
          "amount"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "description": "Refund amount (supports partial refunds)"
          },
          "reason": {
            "type": "string",
            "description": "Reason for refund"
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "format": "uuid",
            "description": "Refund request ID"
          },
          "pspReferenceId": {
            "type": "string",
            "format": "uuid",
            "description": "Original payment ID"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed",
              "failed"
            ],
            "description": "Refund status"
          },
          "amount": {
            "type": "number",
            "description": "Refund amount"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateRecipientRequest": {
        "type": "object",
        "required": [
          "name",
          "document",
          "bankAccount"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Recipient name"
          },
          "document": {
            "type": "string",
            "description": "Tax document number (CPF/CNPJ)"
          },
          "bankAccount": {
            "type": "object",
            "required": [
              "bank",
              "branch",
              "account"
            ],
            "properties": {
              "bank": {
                "type": "string",
                "description": "Bank code"
              },
              "branch": {
                "type": "string",
                "description": "Branch number"
              },
              "account": {
                "type": "string",
                "description": "Account number"
              },
              "accountType": {
                "type": "string",
                "enum": [
                  "checking",
                  "savings"
                ],
                "description": "Account type"
              }
            }
          }
        }
      },
      "RecipientResponse": {
        "type": "object",
        "properties": {
          "referenceId": {
            "type": "string",
            "description": "Recipient reference ID"
          },
          "name": {
            "type": "string"
          },
          "document": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ],
            "description": "Recipient status (supports soft delete)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BackchannelAuthRequest": {
        "type": "object",
        "required": [
          "client_assertion",
          "client_assertion_type"
        ],
        "properties": {
          "client_assertion": {
            "type": "string",
            "description": "JWT-based client assertion"
          },
          "client_assertion_type": {
            "type": "string",
            "description": "Assertion type"
          },
          "scope": {
            "type": "string",
            "description": "Requested scopes"
          }
        }
      },
      "BackchannelAuthResponse": {
        "type": "object",
        "properties": {
          "auth_req_id": {
            "type": "string",
            "description": "Authentication request ID"
          },
          "expires_in": {
            "type": "integer",
            "description": "Expiration time in seconds"
          }
        }
      },
      "OtpValidationRequest": {
        "type": "object",
        "required": [
          "auth_req_id",
          "otp_code"
        ],
        "properties": {
          "auth_req_id": {
            "type": "string",
            "description": "Authentication request ID"
          },
          "otp_code": {
            "type": "string",
            "description": "OTP code received by user"
          }
        }
      },
      "OtpValidationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "validated",
              "invalid"
            ],
            "description": "Validation status"
          },
          "authorization_code": {
            "type": "string",
            "description": "Authorization code for token exchange"
          }
        }
      },
      "ResendOtpRequest": {
        "type": "object",
        "required": [
          "auth_req_id"
        ],
        "properties": {
          "auth_req_id": {
            "type": "string",
            "description": "Authentication request ID"
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "required": [
          "grant_type"
        ],
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "authorization_code",
              "refresh_token"
            ],
            "description": "OAuth2 grant type"
          },
          "code": {
            "type": "string",
            "description": "Authorization code (for authorization_code grant)"
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token (for refresh_token grant)"
          },
          "redirect_uri": {
            "type": "string",
            "description": "Redirect URI (for authorization_code grant)"
          },
          "client_id": {
            "type": "string",
            "description": "OAuth client ID"
          },
          "client_secret": {
            "type": "string",
            "description": "OAuth client secret"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "OAuth2 access token"
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ],
            "description": "Token type"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds"
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token for obtaining new access tokens"
          },
          "scope": {
            "type": "string",
            "description": "Granted scopes"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    },
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Payment order creation and management"
    },
    {
      "name": "Refunds",
      "description": "Refund request and status operations"
    },
    {
      "name": "Recipients",
      "description": "Beneficiary management"
    },
    {
      "name": "Authorization",
      "description": "OAuth2 and CIBA authentication flows"
    }
  ]
}