{
  "openapi": "3.0.3",
  "info": {
    "title": "PlayCanvas API",
    "version": "1.0.0",
    "description": "REST API for PlayCanvas, a web-based 3D game engine. Manage apps, assets, branches, scenes, checkpoints, jobs, and project exports.",
    "x-jentic-source-url": "https://developer.playcanvas.com/user-manual/api/"
  },
  "servers": [
    {
      "url": "https://playcanvas.com/api"
    }
  ],
  "paths": {
    "/apps/download": {
      "post": {
        "operationId": "downloadApp",
        "summary": "Download app",
        "description": "Initiates an asynchronous job to build and download an app. Poll the returned job ID until completion.",
        "tags": [
          "Apps"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadAppRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Download job created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{id}": {
      "get": {
        "operationId": "getApp",
        "summary": "Get app",
        "description": "Retrieve details of a specific app by its ID.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "App ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/apps": {
      "get": {
        "operationId": "getProjectApps",
        "summary": "Get project apps",
        "description": "List all apps for a project.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of apps",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/assets": {
      "post": {
        "operationId": "createAsset",
        "summary": "Create asset",
        "description": "Upload a new asset to a project. Supports script, html, css, text, shader, and json types.",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateAssetRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Asset created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/assets/{assetId}": {
      "get": {
        "operationId": "getAsset",
        "summary": "Get asset",
        "description": "Retrieve details of a specific asset.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "description": "Asset ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "branchId",
            "in": "query",
            "required": true,
            "description": "Branch ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAsset",
        "summary": "Delete asset",
        "description": "Permanently delete an asset. This action is unrecoverable unless a checkpoint exists.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "description": "Asset ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "branchId",
            "in": "query",
            "required": true,
            "description": "Branch ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/assets": {
      "get": {
        "operationId": "listAssets",
        "summary": "List assets",
        "description": "List all assets for a project on a given branch.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "branchId",
            "in": "query",
            "required": true,
            "description": "Branch ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of assets to skip for pagination. Defaults to 0.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of assets to return. Defaults to 16, max 100000.",
            "schema": {
              "type": "integer",
              "default": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of assets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAssetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/branches": {
      "get": {
        "operationId": "listBranches",
        "summary": "List branches",
        "description": "List all branches for a project.",
        "tags": [
          "Branches"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of branches",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/scenes": {
      "get": {
        "operationId": "listScenes",
        "summary": "List scenes",
        "description": "List all scenes for a project.",
        "tags": [
          "Scenes"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "branchId",
            "in": "query",
            "description": "Branch ID. Defaults to main branch.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of scenes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SceneListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}/export": {
      "post": {
        "operationId": "exportProject",
        "summary": "Export project",
        "description": "Initiates an asynchronous project export job. Poll the job ID until status is complete or error.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "branch_id": {
                    "type": "string",
                    "description": "Branch ID. Defaults to main branch."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Export job created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{id}": {
      "get": {
        "operationId": "getJob",
        "summary": "Get job",
        "description": "Retrieve the status and details of an asynchronous job.",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Job ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DownloadAppRequest": {
        "type": "object",
        "required": [
          "project_id",
          "name",
          "scenes"
        ],
        "properties": {
          "project_id": {
            "type": "integer",
            "description": "Project ID"
          },
          "name": {
            "type": "string",
            "description": "App name (max 1000 chars)"
          },
          "scenes": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Scene IDs to include. First scene becomes initial scene."
          },
          "branch_id": {
            "type": "string",
            "description": "Branch ID. Defaults to main."
          },
          "description": {
            "type": "string",
            "description": "App description (max 10000 chars)"
          },
          "version": {
            "type": "string",
            "description": "Version string (max 20 chars)"
          },
          "release_notes": {
            "type": "string",
            "description": "Release notes (max 10000 chars)"
          },
          "scripts_concatenate": {
            "type": "boolean"
          },
          "scripts_minify": {
            "type": "boolean",
            "default": true
          },
          "scripts_sourcemaps": {
            "type": "boolean",
            "default": false
          },
          "optimize_scene_format": {
            "type": "boolean"
          },
          "engine_version": {
            "type": "string"
          }
        }
      },
      "CreateAssetRequest": {
        "type": "object",
        "required": [
          "name",
          "projectId",
          "branchId"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Asset name"
          },
          "projectId": {
            "type": "integer",
            "description": "Project ID"
          },
          "branchId": {
            "type": "string",
            "description": "Branch ID"
          },
          "parent": {
            "type": "integer",
            "description": "Parent asset ID"
          },
          "preload": {
            "type": "boolean",
            "description": "Whether to preload"
          },
          "file": {
            "type": "string",
            "format": "binary",
            "description": "Asset file"
          },
          "pow2": {
            "type": "boolean",
            "description": "Resize to power-of-two (textures only)"
          }
        }
      },
      "App": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "project_id": {
            "type": "integer"
          },
          "owner_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "release_notes": {
            "type": "string"
          },
          "thumbnails": {
            "type": "object",
            "properties": {
              "s": {
                "type": "string"
              },
              "m": {
                "type": "string"
              },
              "l": {
                "type": "string"
              },
              "xl": {
                "type": "string"
              }
            }
          },
          "size": {
            "type": "integer"
          },
          "views": {
            "type": "integer"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Asset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "state": {
            "type": "string",
            "enum": [
              "ready",
              "processing",
              "error"
            ]
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "scope": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              }
            }
          },
          "source": {
            "type": "boolean"
          },
          "sourceId": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "preload": {
            "type": "boolean"
          },
          "file": {
            "type": "object",
            "properties": {
              "hash": {
                "type": "string"
              },
              "filename": {
                "type": "string"
              },
              "size": {
                "type": "integer"
              },
              "url": {
                "type": "string"
              }
            }
          },
          "parent": {
            "type": "integer"
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "complete",
              "error"
            ]
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "data": {
            "type": "object"
          }
        }
      },
      "Branch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "closed": {
            "type": "boolean"
          },
          "latestCheckpointId": {
            "type": "string"
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "fullName": {
                "type": "string"
              },
              "username": {
                "type": "string"
              }
            }
          }
        }
      },
      "Scene": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "projectId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BranchListResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Branch"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "hasMore": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "SceneListResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Scene"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "PaginatedAssetResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "skip": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Access token generated via Organization Account page."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}