{
  "openapi": "3.0.3",
  "info": {
    "title": "Mailtrap Email Sending API",
    "version": "2.0.0",
    "description": "Mailtrap Email Sending API — Manage sending domains, suppressions, and email sending logs for your Mailtrap account.",
    "contact": {
      "name": "Mailtrap Support",
      "url": "https://docs.mailtrap.io"
    },
    "license": {
      "name": "CC BY-SA 4.0",
      "url": "https://creativecommons.org/licenses/by-sa/4.0/"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/mailtrap/mailtrap-openapi/main/specs/email-sending.openapi.yml"
  },
  "servers": [
    { "url": "https://mailtrap.io" }
  ],
  "security": [
    { "HeaderAuth": [] },
    { "BearerAuth": [] }
  ],
  "tags": [
    { "name": "domains", "description": "Manage verified sending domains" },
    { "name": "suppressions", "description": "Manage suppressed email addresses" },
    { "name": "stats", "description": "Email sending stats" },
    { "name": "email-logs", "description": "List and retrieve email sending logs" }
  ],
  "paths": {
    "/api/accounts/{account_id}/sending_domains": {
      "post": {
        "operationId": "createSendingDomain",
        "tags": ["domains"],
        "summary": "Create sending domain",
        "description": "Create a sending domain for email authentication. After creation, verify the domain by adding DNS records.",
        "parameters": [
          { "name": "account_id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["sending_domain"],
                "properties": {
                  "sending_domain": {
                    "type": "object",
                    "required": ["domain_name"],
                    "properties": {
                      "domain_name": { "type": "string", "format": "hostname" }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SendingDomain" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      },
      "get": {
        "operationId": "getSendingDomains",
        "tags": ["domains"],
        "summary": "List sending domains",
        "description": "Get all sending domains and their verification status.",
        "parameters": [
          { "name": "account_id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SendingDomain" }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/accounts/{account_id}/sending_domains/{sending_domain_id}": {
      "get": {
        "operationId": "getSendingDomain",
        "tags": ["domains"],
        "summary": "Get sending domain",
        "description": "Get details and verification status of a specific sending domain.",
        "parameters": [
          { "name": "account_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "sending_domain_id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SendingDomain" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      },
      "delete": {
        "operationId": "deleteSendingDomain",
        "tags": ["domains"],
        "summary": "Delete sending domain",
        "description": "Remove a sending domain from your account.",
        "parameters": [
          { "name": "account_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "sending_domain_id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "204": { "description": "Domain successfully deleted" },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/accounts/{account_id}/suppressions": {
      "get": {
        "operationId": "getSuppressions",
        "tags": ["suppressions"],
        "summary": "List suppressions",
        "description": "List and search suppressed email addresses. Returns up to 1000 suppressions per request.",
        "parameters": [
          { "name": "account_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "email", "in": "query", "required": false, "schema": { "type": "string", "format": "email" } },
          { "name": "start_time", "in": "query", "required": false, "schema": { "type": "string", "format": "date-time" } },
          { "name": "end_time", "in": "query", "required": false, "schema": { "type": "string", "format": "date-time" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Suppression" }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/accounts/{account_id}/suppressions/{suppression_id}": {
      "delete": {
        "operationId": "deleteSuppression",
        "tags": ["suppressions"],
        "summary": "Delete suppression",
        "description": "Remove an email from the suppression list to allow sending again.",
        "parameters": [
          { "name": "account_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "suppression_id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Suppression" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/accounts/{account_id}/stats": {
      "get": {
        "operationId": "getAccountSendingStats",
        "tags": ["stats"],
        "summary": "Get Sending Stats",
        "description": "Get account sending stats. Use filters to get specific stats.",
        "parameters": [
          { "name": "account_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "start_date", "in": "query", "required": true, "schema": { "type": "string", "format": "date" } },
          { "name": "end_date", "in": "query", "required": true, "schema": { "type": "string", "format": "date" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SendingStats" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/accounts/{account_id}/email_logs": {
      "get": {
        "operationId": "listEmailLogs",
        "tags": ["email-logs"],
        "summary": "List email logs",
        "description": "Returns a paginated list of email logs (messages) for the account.",
        "parameters": [
          { "name": "account_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "search_after", "in": "query", "required": false, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EmailLogsListResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/accounts/{account_id}/email_logs/{sending_message_id}": {
      "get": {
        "operationId": "getEmailLogMessage",
        "tags": ["email-logs"],
        "summary": "Get an email log message by ID",
        "description": "Returns a single message by message UUID.",
        "parameters": [
          { "name": "account_id", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "sending_message_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SendingMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "HeaderAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Api-Token",
        "description": "API token in Api-Token header"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "SendingDomain": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "domain_name": { "type": "string" },
          "dns_verified": { "type": "boolean" },
          "status": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Suppression": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "email": { "type": "string", "format": "email" },
          "type": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "SendingStats": {
        "type": "object",
        "properties": {
          "sent": { "type": "integer" },
          "delivered": { "type": "integer" },
          "opened": { "type": "integer" },
          "clicked": { "type": "integer" },
          "bounced": { "type": "integer" },
          "unsubscribed": { "type": "integer" },
          "spam_complaints": { "type": "integer" }
        }
      },
      "SendingMessage": {
        "type": "object",
        "properties": {
          "message_id": { "type": "string", "format": "uuid" },
          "to_email": { "type": "string", "format": "email" },
          "from_email": { "type": "string", "format": "email" },
          "subject": { "type": "string" },
          "status": { "type": "string" },
          "sent_at": { "type": "string", "format": "date-time" }
        }
      },
      "EmailLogsListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/SendingMessage" }
          },
          "next_page_cursor": { "type": "string" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    }
  }
}
