{
  "openapi": "3.0.1",
  "info": {
    "title": "Activation Code Length 13 chars less",
    "description": "Activation Code Length 13 chars less will show error",
    "version": "0.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/S296/Activation-Code-Length/0.1/swagger.json"
  },
  "servers": [
    {
      "url": "http://webhawks.oceanize.co.jp"
    }
  ],
  "paths": {
    "/Domico-Admin/api/code-verification": {
      "post": {
        "description": "Input activationCode < 13 chars, regist_type = register_user, Authorization = invalid_activation_code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "regist_type": {
                    "type": "string"
                  },
                  "activationCode": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "0": {
                  "value": "{\"regist_type\" : \"register_user\",\n    \"activationCode\" : \"5bf3d4d6bfca\"}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "errorCode 400,",
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "http://yourauthurl.com",
            "scopes": {
              "scope_name": "Enter your scopes here"
            }
          }
        }
      }
    }
  }
}