{
  "openapi": "3.0.3",
  "info": {
    "title": "PulpMiner API",
    "version": "1.0.0",
    "description": "PulpMiner provides web scraping API endpoints. Each saved configuration gets a unique API endpoint for retrieving scraped data.",
    "x-jentic-source-url": "https://docs.pulpminer.com/quickstart"
  },
  "servers": [
    {
      "url": "https://api.pulpminer.com"
    }
  ],
  "paths": {
    "/external/{api_id}": {
      "get": {
        "operationId": "getStaticData",
        "summary": "Get static API data",
        "description": "Retrieve JSON data from a saved static API endpoint.",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "api_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scraped data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "getDynamicData",
        "summary": "Get dynamic API data",
        "description": "Submit dynamic variables for flexible API usage.",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "api_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scraped data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}