{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "Eventleaf API",
    "title": "Eventleaf API",
    "version": "v1",
    "x-jentic-source-url": "https://api.eventleaf.com/swagger/docs/v1"
  },
  "servers": [
    {
      "url": "https://api.eventleaf.com/"
    }
  ],
  "paths": {
    "/api/v1/contactlists": {
      "get": {
        "parameters": [
          {
            "description": "Include lists updated after this date (UTC)",
            "in": "query",
            "name": "updatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of lists to retrieve (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ContactListModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ContactListModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ContactListModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ContactListModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a list of contact lists."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "ContactLists"
        ],
        "description": "Get all contact lists.",
        "operationId": "ContactLists_GetContactLists",
        "summary": "Get all contact lists."
      },
      "post": {
        "parameters": [
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListModel"
                }
              }
            },
            "description": "Returns newly added contact list."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "ContactLists"
        ],
        "description": "Add new contact list.",
        "operationId": "ContactLists_AddContactList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactListNameModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ContactListNameModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ContactListNameModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactListNameModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ContactListNameModel"
              }
            }
          },
          "description": "New contact list",
          "required": true
        },
        "summary": "Add new contact list."
      }
    },
    "/api/v1/contactlists/{contactListId}": {
      "delete": {
        "parameters": [
          {
            "description": "Contact list ID",
            "in": "path",
            "name": "contactListId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "ContactLists"
        ],
        "description": "Delete contact list.",
        "operationId": "ContactLists_DeleteContactList",
        "summary": "Delete contact list."
      },
      "get": {
        "parameters": [
          {
            "description": "Contact list ID",
            "in": "path",
            "name": "contactListId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListModel"
                }
              }
            },
            "description": "Returns a contact list."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "ContactLists"
        ],
        "description": "Get contact list.",
        "operationId": "ContactLists_GetContactList",
        "summary": "Get contact list."
      },
      "patch": {
        "parameters": [
          {
            "description": "Contact list ID",
            "in": "path",
            "name": "contactListId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "ContactLists"
        ],
        "description": "Rename contact list.",
        "operationId": "ContactLists_UpdateContactList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactListNameModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ContactListNameModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ContactListNameModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactListNameModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ContactListNameModel"
              }
            }
          },
          "description": "New name for contact list",
          "required": true
        },
        "summary": "Rename contact list."
      }
    },
    "/api/v1/contactlists/{contactListId}/contacts": {
      "get": {
        "parameters": [
          {
            "description": "Contact list ID",
            "in": "path",
            "name": "contactListId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Include contacts last updated after this date (UTC)",
            "in": "query",
            "name": "updatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of contacts to retrieve (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ContactModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ContactModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ContactModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ContactModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a list of contacts."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Get contacts on contact list.",
        "operationId": "Contacts_GetContacts",
        "summary": "Get contacts on contact list."
      },
      "post": {
        "parameters": [
          {
            "description": "Contact list ID",
            "in": "path",
            "name": "contactListId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListModel"
                }
              }
            },
            "description": "Returns new contact list."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Add one or more contacts.",
        "operationId": "Contacts_AddContacts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/AddOrUpdateContactModel"
                },
                "type": "array"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/AddOrUpdateContactModel"
                },
                "type": "array"
              }
            },
            "application/xml": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/AddOrUpdateContactModel"
                },
                "type": "array"
              }
            },
            "text/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/AddOrUpdateContactModel"
                },
                "type": "array"
              }
            },
            "text/xml": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/AddOrUpdateContactModel"
                },
                "type": "array"
              }
            }
          },
          "description": "New contacts",
          "required": true
        },
        "summary": "Add one or more contacts."
      }
    },
    "/api/v1/contactlists/{contactListId}/contacts/contactform": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "contactListId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              }
            },
            "description": "Returns contact form."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Get contact form caption / internal name pairs.",
        "operationId": "Contacts_GetContactFormColumnNames",
        "summary": "Get contact form caption / internal name pairs."
      }
    },
    "/api/v1/contactlists/{contactListId}/contacts/search": {
      "post": {
        "parameters": [
          {
            "description": "Contact list ID",
            "in": "path",
            "name": "contactListId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Number of attendees to retrieve (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ContactModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ContactModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ContactModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ContactModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a list of contacts."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Search for contacts.",
        "operationId": "Contacts_SearchForContact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              }
            }
          },
          "description": "Search parameters",
          "required": true
        },
        "summary": "Search for contacts."
      }
    },
    "/api/v1/contactlists/{contactListId}/contacts/{contactId}": {
      "delete": {
        "parameters": [
          {
            "description": "Contact list ID",
            "in": "path",
            "name": "contactListId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Contact ID to delete",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Delete contact.",
        "operationId": "Contacts_DeleteContact",
        "summary": "Delete contact."
      },
      "get": {
        "parameters": [
          {
            "description": "Contact list ID",
            "in": "path",
            "name": "contactListId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Contact ID",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactModel"
                }
              }
            },
            "description": "Returns a contact."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Get contact.",
        "operationId": "Contacts_GetContact",
        "summary": "Get contact."
      },
      "patch": {
        "parameters": [
          {
            "description": "Contact list ID",
            "in": "path",
            "name": "contactListId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Contact ID to update",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Update contact.",
        "operationId": "Contacts_UpdateContact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateContactModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateContactModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateContactModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateContactModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateContactModel"
              }
            }
          },
          "description": "Updated contact info",
          "required": true
        },
        "summary": "Update contact."
      }
    },
    "/api/v1/events": {
      "get": {
        "parameters": [
          {
            "description": "Include events updated after this date (UTC)",
            "in": "query",
            "name": "updatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of events to retrieve (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EventModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EventModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EventModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EventModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a list of published events."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Events"
        ],
        "description": "Get all published events.",
        "operationId": "Events_GetEvents",
        "summary": "Get all published events."
      }
    },
    "/api/v1/events/{eventId}": {
      "get": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EventModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EventModel"
                }
              }
            },
            "description": "Returns an event."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Events"
        ],
        "description": "Get event.",
        "operationId": "Events_GetEvent",
        "summary": "Get event."
      }
    },
    "/api/v1/events/{eventId}/attendance": {
      "get": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Include attendance logs updated after this date",
            "in": "query",
            "name": "lastUpdatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of check in records to retrieve (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EventAttendanceModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EventAttendanceModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EventAttendanceModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EventAttendanceModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a list of attendance logs."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Attendence"
        ],
        "description": "Get the attendance logs for an event (session attendance not included).",
        "operationId": "Attendence_GetEventAttendanceLogs",
        "summary": "Get the attendance logs for an event (session attendance not included)."
      }
    },
    "/api/v1/events/{eventId}/attendance/{sessionId}": {
      "get": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Session ID",
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Include attendance logs updated after this date",
            "in": "query",
            "name": "lastUpdatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of check in records to retrieve (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SessionAttendanceModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SessionAttendanceModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SessionAttendanceModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SessionAttendanceModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a list of attendance logs."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Attendence"
        ],
        "description": "Get the attendance logs for a session",
        "operationId": "Attendence_GetSessionAttendanceLogs",
        "summary": "Get the attendance logs for a session"
      }
    },
    "/api/v1/events/{eventId}/registrationoptiongroups": {
      "get": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Number of groups to retrieve (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationOptionGroupModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationOptionGroupModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationOptionGroupModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationOptionGroupModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns an event."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "RegistrationOptions"
        ],
        "description": "Get registration option groups for an event.",
        "operationId": "RegistrationOptions_GetRegistrationOptionGroups",
        "summary": "Get registration option groups for an event."
      }
    },
    "/api/v1/events/{eventId}/registrationoptiongroups/{groupId}": {
      "get": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Registration Option Group ID",
            "in": "path",
            "name": "groupId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Number of options to retrieve (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationOptionModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationOptionModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationOptionModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationOptionModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns an event."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "RegistrationOptions"
        ],
        "description": "Get registration options for an option group.",
        "operationId": "RegistrationOptions_GetRegistrationOptions",
        "summary": "Get registration options for an option group."
      }
    },
    "/api/v1/events/{eventId}/registrations": {
      "get": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Include registrations updated after this date (UTC)",
            "in": "query",
            "name": "lastUpdatedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of registrations to retrieve (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a list of registrations"
          },
          "400": {
            "description": "Request not valid"
          }
        },
        "tags": [
          "Registrations"
        ],
        "description": "Get registrations for an event",
        "operationId": "Registrations_GetRegistrations",
        "summary": "Get registrations for an event"
      },
      "post": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Request not valid"
          }
        },
        "tags": [
          "Registrations"
        ],
        "description": "Add new registration",
        "operationId": "Registrations_AddRegistration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateRegistrationModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateRegistrationModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateRegistrationModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateRegistrationModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateRegistrationModel"
              }
            }
          },
          "description": "New registration to add",
          "required": true
        },
        "summary": "Add new registration"
      }
    },
    "/api/v1/events/{eventId}/registrations/registrationform": {
      "get": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              }
            },
            "description": "Returns registration form"
          },
          "400": {
            "description": "Request not valid"
          }
        },
        "tags": [
          "Registrations"
        ],
        "description": "Get registration form caption / internal name pairs",
        "operationId": "Registrations_GetRegistrationFormColumnNames",
        "summary": "Get registration form caption / internal name pairs"
      }
    },
    "/api/v1/events/{eventId}/registrations/search": {
      "post": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Number of registrations to retrieve (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a list of registrations."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Registrations"
        ],
        "description": "Search for registrations",
        "operationId": "Registrations_SearchForRegistrations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              }
            }
          },
          "description": "Search parameters",
          "required": true
        },
        "summary": "Search for registrations"
      }
    },
    "/api/v1/events/{eventId}/registrations/{registrationId}": {
      "get": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Registration ID",
            "in": "path",
            "name": "registrationId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationModel"
                }
              }
            },
            "description": "Returns a registration"
          },
          "400": {
            "description": "Request not valid"
          }
        },
        "tags": [
          "Registrations"
        ],
        "description": "Get registration",
        "operationId": "Registrations_GetRegistration",
        "summary": "Get registration"
      },
      "patch": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Registration to update",
            "in": "path",
            "name": "registrationId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Request not valid"
          }
        },
        "tags": [
          "Registrations"
        ],
        "description": "Update registration",
        "operationId": "Registrations_UpdateRegistration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateRegistrationModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateRegistrationModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateRegistrationModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateRegistrationModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateRegistrationModel"
              }
            }
          },
          "description": "Updated registration info",
          "required": true
        },
        "summary": "Update registration"
      }
    },
    "/api/v1/events/{eventId}/registrations/{registrationId}/options": {
      "get": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Registration ID",
            "in": "path",
            "name": "registrationId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Number of registration options to retrieve (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrderItemModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrderItemModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrderItemModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrderItemModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns registration options for the given registration"
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Registrations"
        ],
        "description": "Get registration options for a registration",
        "operationId": "Registrations_GetRegistrationOptions",
        "summary": "Get registration options for a registration"
      },
      "put": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Registration ID",
            "in": "path",
            "name": "registrationId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Request not valid"
          }
        },
        "tags": [
          "Registrations"
        ],
        "description": "Adds or replaces registration options for a registration",
        "operationId": "Registrations_ReplaceRegistrationOptions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceRegistrationOptionsModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceRegistrationOptionsModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceRegistrationOptionsModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceRegistrationOptionsModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceRegistrationOptionsModel"
              }
            }
          },
          "description": "New registration options",
          "required": true
        },
        "summary": "Adds or replaces registration options for a registration"
      }
    },
    "/api/v1/events/{eventId}/registrationtypes": {
      "get": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Number of groups to retrieve (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationOptionGroupModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationOptionGroupModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationOptionGroupModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationOptionGroupModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns registration types for an event."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "RegistrationTypes"
        ],
        "description": "Get registration option groups for an event.",
        "operationId": "RegistrationTypes_GetRegistrationTypes",
        "summary": "Get registration option groups for an event."
      }
    },
    "/api/v1/events/{eventId}/registrationtypes/{registrationTypeId}": {
      "get": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Registration Type ID",
            "in": "path",
            "name": "registrationTypeId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationOptionGroupModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationOptionGroupModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationOptionGroupModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RegistrationOptionGroupModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a registration type."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "RegistrationTypes"
        ],
        "description": "Get registration option groups for an event.",
        "operationId": "RegistrationTypes_GetRegistrationType",
        "summary": "Get registration option groups for an event."
      }
    },
    "/api/v1/events/{eventId}/sessions": {
      "get": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Number of sessions to retrieve  (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SessionModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SessionModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SessionModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SessionModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a list of sessions."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Sessions"
        ],
        "description": "Get sessions for an event.",
        "operationId": "Sessions_GetSessions",
        "summary": "Get sessions for an event."
      }
    },
    "/api/v1/events/{eventId}/sessions/search": {
      "post": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Number of sessions to retrieve  (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SessionModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SessionModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SessionModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SessionModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a list of sessions."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Sessions"
        ],
        "description": "Search for sessions",
        "operationId": "Sessions_SearchForSessions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionsSearchParametersModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SessionsSearchParametersModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SessionsSearchParametersModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionsSearchParametersModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/SessionsSearchParametersModel"
              }
            }
          },
          "description": "Search parameters",
          "required": true
        },
        "summary": "Search for sessions"
      }
    },
    "/api/v1/events/{eventId}/sessions/{sessionId}": {
      "get": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Session ID",
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SessionModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SessionModel"
                }
              }
            },
            "description": "Returns the session."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Sessions"
        ],
        "description": "Get a session.",
        "operationId": "Sessions_GetSession",
        "summary": "Get a session."
      }
    },
    "/api/v1/orders/items/search": {
      "post": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "query",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Number of items to retrieve (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrderItemModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrderItemModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrderItemModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrderItemModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns list of order items."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Orders"
        ],
        "description": "Search for order items.",
        "operationId": "Orders_SearchForOrderItems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "format": "int32",
                "type": "integer"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "format": "int32",
                "type": "integer"
              }
            },
            "application/xml": {
              "schema": {
                "format": "int32",
                "type": "integer"
              }
            },
            "text/json": {
              "schema": {
                "format": "int32",
                "type": "integer"
              }
            },
            "text/xml": {
              "schema": {
                "format": "int32",
                "type": "integer"
              }
            }
          },
          "description": "Registration Id",
          "required": true
        },
        "summary": "Search for order items."
      }
    },
    "/api/v1/orders/search": {
      "post": {
        "parameters": [
          {
            "description": "Include orders added after this date (UTC)",
            "in": "query",
            "name": "addedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of orders to retrieve (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrderModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrderModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrderModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrderModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a list of orders."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Orders"
        ],
        "description": "Search for orders.",
        "operationId": "Orders_GetOrders",
        "requestBody": {
          "$ref": "#/components/requestBodies/Orders_GetOrdersEventid"
        },
        "summary": "Search for orders."
      }
    },
    "/api/v1/orders/{orderId}": {
      "get": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "query",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Order ID",
            "in": "path",
            "name": "orderId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OrderModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OrderModel"
                }
              }
            },
            "description": "Returns an order."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Orders"
        ],
        "description": "Get order.",
        "operationId": "Orders_GetOrder",
        "summary": "Get order."
      }
    },
    "/api/v1/orders/{orderId}/items": {
      "get": {
        "parameters": [
          {
            "description": "Event ID",
            "in": "query",
            "name": "eventId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Order ID",
            "in": "path",
            "name": "orderId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Number of items to retrieve (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrderItemModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrderItemModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrderItemModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrderItemModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns list of order items."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Orders"
        ],
        "description": "Get order items.",
        "operationId": "Orders_GetOrderItems",
        "summary": "Get order items."
      }
    },
    "/api/v1/transactions": {
      "get": {
        "parameters": [
          {
            "description": "Include transactions added after this date (UTC)",
            "in": "query",
            "name": "addedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of transactions to retrieve (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TransactionModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TransactionModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TransactionModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TransactionModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a list of transactions."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Transactions"
        ],
        "description": "Get all transactions.",
        "operationId": "Transactions_GetTransactions",
        "summary": "Get all transactions."
      }
    },
    "/api/v1/transactions/search": {
      "post": {
        "parameters": [
          {
            "description": "Include transactions added after this date (UTC)",
            "in": "query",
            "name": "addedAfter",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Number of transactions to retrieve (1 - 200)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page to retrieve",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TransactionModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TransactionModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TransactionModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TransactionModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a list of transactions."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Transactions"
        ],
        "description": "Search for transactions.",
        "operationId": "Transactions_SearchForTransactions",
        "requestBody": {
          "$ref": "#/components/requestBodies/Orders_GetOrdersEventid"
        },
        "summary": "Search for transactions."
      }
    },
    "/api/v1/transactions/{transactionId}": {
      "get": {
        "parameters": [
          {
            "description": "Transaction ID",
            "in": "path",
            "name": "transactionId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Your API key",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TransactionModel"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TransactionModel"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TransactionModel"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TransactionModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns the transaction."
          },
          "400": {
            "description": "Request not valid."
          }
        },
        "tags": [
          "Transactions"
        ],
        "description": "Get a transaction.",
        "operationId": "Transactions_GetTransaction",
        "summary": "Get a transaction."
      }
    }
  },
  "components": {
    "requestBodies": {
      "Orders_GetOrdersEventid": {
        "content": {
          "application/json": {
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "application/x-www-form-urlencoded": {
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "application/xml": {
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "text/json": {
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "text/xml": {
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        },
        "description": "Event ID",
        "required": true
      },
      "SearchParametersModel": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SearchParametersModel"
            }
          },
          "application/x-www-form-urlencoded": {
            "schema": {
              "$ref": "#/components/schemas/SearchParametersModel"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/SearchParametersModel"
            }
          },
          "text/json": {
            "schema": {
              "$ref": "#/components/schemas/SearchParametersModel"
            }
          },
          "text/xml": {
            "schema": {
              "$ref": "#/components/schemas/SearchParametersModel"
            }
          }
        },
        "description": "Search parameters",
        "required": true
      }
    },
    "schemas": {
      "AddOrUpdateContactModel": {
        "properties": {
          "CustomFields": {
            "items": {
              "$ref": "#/components/schemas/CustomFieldModel"
            },
            "type": "array"
          },
          "Email": {
            "type": "string"
          },
          "FirstName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "Organization": {
            "type": "string"
          },
          "Phone": {
            "type": "string"
          },
          "Title": {
            "type": "string"
          }
        },
        "type": "object"
      },
[...]
