{
  "openapi": "3.0.3",
  "info": {
    "title": "LemonInk API",
    "version": "1.0.0",
    "description": "LemonInk is a digital watermarking service for ebooks. The API enables creating master files, attaching formats, creating watermarked transactions, and downloading watermarked files.",
    "x-jentic-source-url": "https://github.com/lemonink/api-docs"
  },
  "servers": [
    {
      "url": "https://api.lemonink.co/v1"
    }
  ],
  "paths": {
    "/masters": {
      "post": {
        "operationId": "createMaster",
        "summary": "Create a master file",
        "tags": [
          "Masters"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Master created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/masters/{id}": {
      "put": {
        "operationId": "updateMaster",
        "summary": "Update master",
        "tags": [
          "Masters"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Master updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteMaster",
        "summary": "Delete master",
        "tags": [
          "Masters"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Master deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/master_files": {
      "post": {
        "operationId": "attachMasterFile",
        "summary": "Attach file to master",
        "tags": [
          "Master Files"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "master_id": {
                    "type": "string"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File attached"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/master_files/{id}": {
      "put": {
        "operationId": "updateMasterFile",
        "summary": "Update master file",
        "tags": [
          "Master Files"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteMasterFile",
        "summary": "Delete master file",
        "tags": [
          "Master Files"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/transactions": {
      "post": {
        "operationId": "createTransaction",
        "summary": "Create watermarked transaction",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "master_id"
                ],
                "properties": {
                  "master_id": {
                    "type": "string"
                  },
                  "watermark_value": {
                    "type": "string"
                  },
                  "watermark_params": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "download_url": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token token=<api-key>"
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ]
}