{
  "openapi": "3.0.3",
  "info": {
    "title": "The Trade Desk API",
    "description": "The Trade Desk programmatic advertising platform API. Manage advertisers, campaigns, ad groups, creatives, audiences, bid lists, contracts, CRM data, and more.",
    "version": "3.0.0",
    "contact": {
      "name": "The Trade Desk",
      "url": "https://partner.thetradedesk.com/v3/portal/api/overview"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis-staging/import/thetradedesk.com/trade-desk-api/v3/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.thetradedesk.com/v3",
      "description": "Production"
    }
  ],
  "paths": {
    "/authentication": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate and obtain API token",
        "description": "Authenticates with The Trade Desk and returns a bearer token for subsequent API calls.",
        "operationId": "authenticate",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/advertiser": {
      "post": {
        "tags": [
          "Advertisers"
        ],
        "summary": "Create advertiser",
        "operationId": "createAdvertiser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvertiserCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Advertiser created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advertiser"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Advertisers"
        ],
        "summary": "Update advertiser",
        "operationId": "updateAdvertiser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvertiserUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Advertiser updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advertiser"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/advertiser/{advertiserId}": {
      "get": {
        "tags": [
          "Advertisers"
        ],
        "summary": "Get advertiser by ID",
        "operationId": "getAdvertiser",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The advertiser ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Advertiser details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advertiser"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/advertiser/query/partner": {
      "post": {
        "tags": [
          "Advertisers"
        ],
        "summary": "Query advertisers by partner",
        "operationId": "queryAdvertisersByPartner",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvertiserQueryByPartnerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paged list of advertisers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvertiserQueryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/campaign": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create campaign",
        "operationId": "createCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Update campaign",
        "operationId": "updateCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/campaign/{campaignId}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign by ID",
        "operationId": "getCampaign",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The campaign ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/campaign/query/advertiser": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Query campaigns by advertiser",
        "operationId": "queryCampaignsByAdvertiser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignQueryByAdvertiserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paged list of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignQueryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/campaign/{campaignId}/metrics": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign metrics",
        "operationId": "getCampaignMetrics",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The campaign ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignMetrics"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/campaign/clone": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Clone campaign",
        "operationId": "cloneCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCloneRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign cloned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/campaignflight": {
      "post": {
        "tags": [
          "CampaignFlights"
        ],
        "summary": "Create campaign flight",
        "operationId": "createCampaignFlight",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignFlightCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign flight created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignFlight"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "CampaignFlights"
        ],
        "summary": "Update campaign flight",
        "operationId": "updateCampaignFlight",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignFlightUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign flight updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignFlight"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/campaignflight/{campaignFlightId}": {
      "get": {
        "tags": [
          "CampaignFlights"
        ],
        "summary": "Get campaign flight by ID",
        "operationId": "getCampaignFlight",
        "parameters": [
          {
            "name": "campaignFlightId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The campaign flight ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign flight details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignFlight"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "CampaignFlights"
        ],
        "summary": "Delete campaign flight",
        "operationId": "deleteCampaignFlight",
        "parameters": [
          {
            "name": "campaignFlightId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The campaign flight ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign flight deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/adgroup": {
      "post": {
        "tags": [
          "AdGroups"
        ],
        "summary": "Create ad group",
        "operationId": "createAdGroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdGroupCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad group created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroup"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "AdGroups"
        ],
        "summary": "Update ad group",
        "operationId": "updateAdGroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdGroupUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad group updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroup"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/adgroup/{adGroupId}": {
      "get": {
        "tags": [
          "AdGroups"
        ],
        "summary": "Get ad group by ID",
        "operationId": "getAdGroup",
        "parameters": [
          {
            "name": "adGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ad group ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Ad group details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroup"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/adgroup/query/advertiser": {
      "post": {
        "tags": [
          "AdGroups"
        ],
        "summary": "Query ad groups by advertiser",
        "operationId": "queryAdGroupsByAdvertiser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdGroupQueryByAdvertiserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paged list of ad groups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupQueryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/adgroup/query/campaign": {
      "post": {
        "tags": [
          "AdGroups"
        ],
        "summary": "Query ad groups by campaign",
        "operationId": "queryAdGroupsByCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdGroupQueryByCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paged list of ad groups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupQueryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/adgroup/status": {
      "put": {
        "tags": [
          "AdGroups"
        ],
        "summary": "Update ad group status",
        "operationId": "updateAdGroupStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdGroupStatusUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ad group status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroup"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/creative": {
      "post": {
        "tags": [
          "Creatives"
        ],
        "summary": "Create creative",
        "operationId": "createCreative",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreativeCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Creative created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Creatives"
        ],
        "summary": "Update creative",
        "operationId": "updateCreative",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreativeUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Creative updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/creative/{creativeId}": {
      "get": {
        "tags": [
          "Creatives"
        ],
        "summary": "Get creative by ID",
        "operationId": "getCreative",
        "parameters": [
          {
            "name": "creativeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The creative ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Creative details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/creative/query/advertiser": {
      "post": {
        "tags": [
          "Creatives"
        ],
        "summary": "Query creatives by advertiser",
        "operationId": "queryCreativesByAdvertiser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreativeQueryByAdvertiserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paged list of creatives",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreativeQueryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/audience": {
      "post": {
        "tags": [
          "Audiences"
        ],
        "summary": "Create audience",
        "operationId": "createAudience",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audience created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audience"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Audiences"
        ],
        "summary": "Update audience",
        "operationId": "updateAudience",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audience updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audience"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/audience/{audienceId}": {
      "get": {
        "tags": [
          "Audiences"
        ],
        "summary": "Get audience by ID",
        "operationId": "getAudience",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The audience ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Audience details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audience"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/audience/query/advertiser": {
      "post": {
        "tags": [
          "Audiences"
        ],
        "summary": "Query audiences by advertiser",
        "operationId": "queryAudiencesByAdvertiser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceQueryByAdvertiserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paged list of audiences",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceQueryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/bidlist": {
      "post": {
        "tags": [
          "BidLists"
        ],
        "summary": "Create bid list",
        "operationId": "createBidList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BidListCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bid list created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BidList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "BidLists"
        ],
        "summary": "Update bid list",
        "operationId": "updateBidList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BidListUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bid list updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BidList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/bidlist/{bidListId}": {
      "get": {
        "tags": [
          "BidLists"
        ],
        "summary": "Get bid list by ID",
        "operationId": "getBidList",
        "parameters": [
          {
            "name": "bidListId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The bid list ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Bid list details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BidList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "BidLists"
        ],
        "summary": "Delete bid list",
        "operationId": "deleteBidList",
        "parameters": [
          {
            "name": "bidListId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The bid list ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Bid list deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/bidlist/batch": {
      "post": {
        "tags": [
          "BidLists"
        ],
        "summary": "Batch create bid lists",
        "operationId": "batchCreateBidLists",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BidListBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bid lists created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BidListBatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/contract": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Create contract",
        "operationId": "createContract",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Contracts"
        ],
        "summary": "Update contract",
        "operationId": "updateContract",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/contract/{contractId}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get contract by ID",
        "operationId": "getContract",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The contract ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/contract/query/partner": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Query contracts by partner",
        "operationId": "queryContractsByPartner",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractQueryByPartnerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paged list of contracts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractQueryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/crmdata/segment": {
      "post": {
        "tags": [
          "CRMData"
        ],
        "summary": "Create CRM data segment",
        "operationId": "createCrmSegment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrmSegmentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CRM segment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrmSegment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/crmdata/segment/{advertiserId}": {
      "get": {
        "tags": [
          "CRMData"
        ],
        "summary": "Query CRM segments by advertiser",
        "operationId": "queryCrmSegments",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The advertiser ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of CRM segments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrmSegment"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/crmdata/segment/{advertiserId}/{crmDataId}": {
      "post": {
        "tags": [
          "CRMData"
        ],
        "summary": "Upload CRM segment data",
        "operationId": "uploadCrmSegmentData",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The advertiser ID"
          },
          {
            "name": "crmDataId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The CRM data segment ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrmSegmentUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Segment data uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrmSegmentUploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "CRMData"
        ],
        "summary": "Delete CRM segment",
        "operationId": "deleteCrmSegment",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The advertiser ID"
          },
          {
            "name": "crmDataId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The CRM data segment ID"
          }
        ],
        "responses": {
          "200": {
            "description": "CRM segment deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/datagroup": {
      "post": {
        "tags": [
          "DataGroups"
        ],
        "summary": "Create data group",
        "operationId": "createDataGroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataGroupCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data group created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGroup"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "DataGroups"
        ],
        "summary": "Update data group",
        "operationId": "updateDataGroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataGroupUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data group updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGroup"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/datagroup/{dataGroupId}": {
      "get": {
        "tags": [
          "DataGroups"
        ],
        "summary": "Get data group by ID",
        "operationId": "getDataGroup",
        "parameters": [
          {
            "name": "dataGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The data group ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Data group details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGroup"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/activity/{activityLogId}": {
      "get": {
        "tags": [
          "ActivityLog"
        ],
        "summary": "Get activity log entry",
        "operationId": "getActivityLog",
        "parameters": [
          {
            "name": "activityLogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The activity log ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Activity log entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityLog"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/activity/query/campaign": {
      "post": {
        "tags": [
          "ActivityLog"
        ],
        "summary": "Query activity logs by campaign",
        "operationId": "queryActivityByCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityQueryByCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paged list of activity logs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityQueryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "TTD API Token",
        "description": "Obtain a token via POST /authentication, then pass it as a Bearer token in the Authorization header."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - validation error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "ErrorDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            }
          }
        }
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "Property": {
            "type": "string"
          },
          "Reasons": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PagingParameters": {
        "type": "object",
        "properties": {
          "PageStartIndex": {
            "type": "integer",
            "description": "Zero-based starting index for paging",
            "default": 0
          },
          "PageSize": {
            "type": "integer",
            "description": "Number of results per page",
            "default": 100,
            "maximum": 1000
          }
        }
      },
      "PagedResult": {
        "type": "object",
        "properties": {
          "PageStartIndex": {
            "type": "integer"
          },
          "PageSize": {
            "type": "integer"
          },
          "TotalFilteredCount": {
            "type": "integer",
            "description": "Total number of results matching the filter"
          }
        }
      },
      "AuthenticationRequest": {
        "type": "object",
        "required": [
          "Login",
          "Password"
        ],
        "properties": {
          "Login": {
            "type": "string",
            "description": "The API login username"
          },
          "Password": {
            "type": "string",
            "description": "The API login password"
          },
          "TokenExpirationInMinutes": {
            "type": "integer",
            "description": "Desired token lifetime in minutes (default 1440)",
            "default": 1440
          }
        }
      },
      "AuthenticationResponse": {
        "type": "object",
        "properties": {
          "Token": {
            "type": "string",
            "description": "Bearer token for API authentication"
          },
          "TokenExpirationUTC": {
            "type": "string",
            "format": "date-time",
            "description": "Token expiration timestamp in UTC"
          }
        }
      },
      "Advertiser": {
        "type": "object",
        "properties": {
          "AdvertiserId": {
            "type": "string",
            "description": "Unique identifier for the advertiser"
          },
          "AdvertiserName": {
            "type": "string"
          },
          "PartnerId": {
            "type": "string",
            "description": "Partner that owns this advertiser"
          },
          "Description": {
            "type": "string"
          },
          "CurrencyCode": {
            "type": "string",
            "description": "ISO 4217 currency code (e.g. USD)"
          },
          "LogoURL": {
            "type": "string",
            "format": "uri"
          },
          "DomainAddress": {
            "type": "string",
            "description": "Primary domain for the advertiser"
          },
          "IndustryCategoryId": {
            "type": "integer",
            "description": "Industry category identifier"
          },
          "Availability": {
            "type": "string",
            "enum": [
              "Available",
              "Archived"
            ],
            "description": "Advertiser availability status"
          },
          "CreatedAtUTC": {
            "type": "string",
            "format": "date-time"
          },
          "LastUpdatedAtUTC": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AdvertiserCreateRequest": {
        "type": "object",
        "required": [
          "AdvertiserName",
          "PartnerId",
          "CurrencyCode",
          "DomainAddress"
        ],
        "properties": {
          "AdvertiserName": {
            "type": "string",
            "description": "Name of the advertiser"
          },
          "PartnerId": {
            "type": "string",
            "description": "The partner ID under which to create this advertiser"
          },
          "Description": {
            "type": "string"
          },
          "CurrencyCode": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "LogoURL": {
            "type": "string",
            "format": "uri"
          },
          "DomainAddress": {
            "type": "string",
            "description": "Primary domain for the advertiser"
          },
          "IndustryCategoryId": {
            "type": "integer"
          }
        }
      },
      "AdvertiserUpdateRequest": {
        "type": "object",
        "required": [
          "AdvertiserId"
        ],
        "properties": {
          "AdvertiserId": {
            "type": "string"
          },
          "AdvertiserName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "LogoURL": {
            "type": "string",
            "format": "uri"
          },
          "DomainAddress": {
            "type": "string"
          },
          "IndustryCategoryId": {
            "type": "integer"
          },
          "Availability": {
            "type": "string",
            "enum": [
              "Available",
              "Archived"
            ]
          }
        }
      },
      "AdvertiserQueryByPartnerRequest": {
        "type": "object",
        "required": [
          "PartnerId"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/PagingParameters"
          }
        ],
        "properties": {
          "PartnerId": {
            "type": "string",
            "description": "The partner ID to query advertisers for"
          },
          "SearchTerms": {
            "type": "string",
            "description": "Search keywords to filter by advertiser name"
          },
          "Availabilities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Available",
                "Archived"
              ]
            }
          },
          "SortFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortField"
            }
          }
        }
      },
      "AdvertiserQueryResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PagedResult"
          },
          {
            "type": "object",
            "properties": {
              "Result": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Advertiser"
                }
              }
            }
          }
        ]
      },
      "SortField": {
        "type": "object",
        "properties": {
          "FieldName": {
            "type": "string"
          },
          "Ascending": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "CampaignId": {
            "type": "string"
          },
          "AdvertiserId": {
            "type": "string"
          },
          "CampaignName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "Budget": {
            "$ref": "#/components/schemas/BudgetSettings"
          },
          "StartDate": {
            "type": "string",
            "format": "date-time"
          },
          "EndDate": {
            "type": "string",
            "format": "date-time"
          },
          "CampaignConversionReportingColumns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "PacingMode": {
            "type": "string",
            "enum": [
              "PaceAhead",
              "PaceEvenly",
              "Off"
            ],
            "description": "Budget pacing mode"
          },
          "Availability": {
            "type": "string",
            "enum": [
              "Available",
              "Archived"
            ]
          },
          "FrequencyConfig": {
            "$ref": "#/components/schemas/FrequencyConfig"
          },
          "ObjectiveConfig": {
            "$ref": "#/components/schemas/ObjectiveConfig"
          },
          "CampaignFlights": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignFlight"
            }
          },
          "CreatedAtUTC": {
            "type": "string",
            "format": "date-time"
          },
          "LastUpdatedAtUTC": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CampaignCreateRequest": {
        "type": "object",
        "required": [
          "AdvertiserId",
          "CampaignName",
          "Budget",
          "StartDate",
          "EndDate",
          "PacingMode"
        ],
        "properties": {
          "AdvertiserId": {
            "type": "string"
          },
          "CampaignName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "Budget": {
            "$ref": "#/components/schemas/BudgetSettings"
          },
          "StartDate": {
            "type": "string",
            "format": "date-time"
          },
          "EndDate": {
            "type": "string",
            "format": "date-time"
          },
          "PacingMode": {
            "type": "string",
            "enum": [
              "PaceAhead",
              "PaceEvenly",
              "Off"
            ]
          },
          "FrequencyConfig": {
            "$ref": "#/components/schemas/FrequencyConfig"
          },
          "ObjectiveConfig": {
            "$ref": "#/components/schemas/ObjectiveConfig"
          },
          "CampaignFlights": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignFlightCreateRequest"
            }
          }
        }
      },
      "CampaignUpdateRequest": {
        "type": "object",
        "required": [
          "CampaignId"
        ],
        "properties": {
          "CampaignId": {
            "type": "string"
          },
          "CampaignName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "Budget": {
            "$ref": "#/components/schemas/BudgetSettings"
          },
          "StartDate": {
            "type": "string",
            "format": "date-time"
          },
          "EndDate": {
            "type": "string",
            "format": "date-time"
          },
          "PacingMode": {
            "type": "string",
            "enum": [
              "PaceAhead",
              "PaceEvenly",
              "Off"
            ]
          },
          "FrequencyConfig": {
            "$ref": "#/components/schemas/FrequencyConfig"
          },
          "ObjectiveConfig": {
            "$ref": "#/components/schemas/ObjectiveConfig"
          },
          "Availability": {
            "type": "string",
            "enum": [
              "Available",
              "Archived"
            ]
          }
        }
      },
      "CampaignQueryByAdvertiserRequest": {
        "type": "object",
        "required": [
          "AdvertiserId"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/PagingParameters"
          }
        ],
        "properties": {
          "AdvertiserId": {
            "type": "string"
          },
          "SearchTerms": {
            "type": "string"
          },
          "Availabilities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Available",
                "Archived"
              ]
            }
          },
          "SortFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortField"
            }
          }
        }
      },
      "CampaignQueryResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PagedResult"
          },
          {
            "type": "object",
            "properties": {
              "Result": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        ]
      },
      "CampaignMetrics": {
        "type": "object",
        "properties": {
          "CampaignId": {
            "type": "string"
          },
          "Impressions": {
            "type": "integer",
            "format": "int64"
          },
          "Clicks": {
            "type": "integer",
            "format": "int64"
          },
          "CTR": {
            "type": "number",
            "format": "double",
            "description": "Click-through rate"
          },
          "TotalSpend": {
            "type": "number",
            "format": "double"
          },
          "eCPM": {
            "type": "number",
            "format": "double",
            "description": "Effective cost per thousand impressions"
          },
          "eCPC": {
            "type": "number",
            "format": "double",
            "description": "Effective cost per click"
          },
          "Conversions": {
            "type": "integer",
            "format": "int64"
          },
          "eCPA": {
            "type": "number",
            "format": "double",
            "description": "Effective cost per acquisition"
          },
          "VideoCompletionRate": {
            "type": "number",
            "format": "double"
          },
          "ReportingDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CampaignCloneRequest": {
        "type": "object",
        "required": [
          "CampaignId"
        ],
        "properties": {
          "CampaignId": {
            "type": "string",
            "description": "The ID of the campaign to clone"
          },
          "CampaignName": {
            "type": "string",
            "description": "Name for the cloned campaign (defaults to original name with suffix)"
          },
          "StartDate": {
            "type": "string",
            "format": "date-time",
            "description": "New start date for the cloned campaign"
          },
          "EndDate": {
            "type": "string",
            "format": "date-time",
            "description": "New end date for the cloned campaign"
          },
          "CloneAdGroups": {
            "type": "boolean",
            "default": true,
            "description": "Whether to clone ad groups"
          },
          "CloneCreatives": {
            "type": "boolean",
            "default": true,
            "description": "Whether to clone creative associations"
          }
        }
      },
      "BudgetSettings": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "number",
            "format": "double",
            "description": "Budget amount in advertiser currency"
          },
          "CurrencyCode": {
            "type": "string",
            "description": "ISO 4217 currency code"
          }
        }
      },
      "FrequencyConfig": {
        "type": "object",
        "properties": {
          "FrequencyCap": {
            "type": "integer",
            "description": "Maximum number of impressions per user"
          },
          "FrequencyPeriodInMinutes": {
            "type": "integer",
            "description": "Time period in minutes for the frequency cap"
          }
        }
      },
      "ObjectiveConfig": {
        "type": "object",
        "properties": {
          "ObjectiveType": {
            "type": "string",
            "enum": [
              "Awareness",
              "Consideration",
              "Conversion",
              "Custom"
            ],
            "description": "Campaign objective type"
          },
          "ObjectiveValue": {
            "type": "number",
            "format": "double",
            "description": "Target value for the objective"
          }
        }
      },
      "CampaignFlight": {
        "type": "object",
        "properties": {
          "CampaignFlightId": {
            "type": "string"
          },
          "CampaignId": {
            "type": "string"
          },
          "StartDateInclusiveUTC": {
            "type": "string",
            "format": "date-time"
          },
          "EndDateExclusiveUTC": {
            "type": "string",
            "format": "date-time"
          },
          "BudgetInImpressions": {
            "type": "integer",
            "format": "int64",
            "description": "Budget expressed in impression count"
          },
          "BudgetInAdvertiserCurrency": {
            "type": "number",
            "format": "double",
            "description": "Budget expressed in advertiser currency"
          },
          "DailyTargetInImpressions": {
            "type": "integer",
            "format": "int64"
          },
          "DailyTargetInAdvertiserCurrency": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "CampaignFlightCreateRequest": {
        "type": "object",
        "required": [
          "CampaignId",
          "StartDateInclusiveUTC",
          "EndDateExclusiveUTC"
        ],
        "properties": {
          "CampaignId": {
            "type": "string"
          },
          "StartDateInclusiveUTC": {
            "type": "string",
            "format": "date-time"
          },
          "EndDateExclusiveUTC": {
            "type": "string",
            "format": "date-time"
          },
          "BudgetInImpressions": {
            "type": "integer",
            "format": "int64"
          },
          "BudgetInAdvertiserCurrency": {
            "type": "number",
            "format": "double"
          },
          "DailyTargetInImpressions": {
            "type": "integer",
            "format": "int64"
          },
          "DailyTargetInAdvertiserCurrency": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "CampaignFlightUpdateRequest": {
        "type": "object",
        "required": [
          "CampaignFlightId"
        ],
        "properties": {
          "CampaignFlightId": {
            "type": "string"
          },
          "StartDateInclusiveUTC": {
            "type": "string",
            "format": "date-time"
          },
          "EndDateExclusiveUTC": {
            "type": "string",
            "format": "date-time"
          },
          "BudgetInImpressions": {
            "type": "integer",
            "format": "int64"
          },
          "BudgetInAdvertiserCurrency": {
            "type": "number",
            "format": "double"
          },
          "DailyTargetInImpressions": {
            "type": "integer",
            "format": "int64"
          },
          "DailyTargetInAdvertiserCurrency": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "AdGroup": {
        "type": "object",
        "properties": {
          "AdGroupId": {
            "type": "string"
          },
          "CampaignId": {
            "type": "string"
          },
          "AdvertiserId": {
            "type": "string"
          },
          "AdGroupName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "IsEnabled": {
            "type": "boolean"
          },
          "IndustryCategoryId": {
            "type": "integer"
          },
          "AdGroupCategory": {
            "type": "string",
            "enum": [
              "Display",
              "Video",
              "Audio",
              "NativeDisplay",
              "ConnectedTV"
            ],
            "description": "The channel type for this ad group"
          },
          "BaseBidCPM": {
            "$ref": "#/components/schemas/BudgetSettings"
          },
          "MaxBidCPM": {
            "$ref": "#/components/schemas/BudgetSettings"
          },
          "BudgetSettings": {
            "$ref": "#/components/schemas/AdGroupBudgetSettings"
          },
          "FrequencyConfig": {
            "$ref": "#/components/schemas/FrequencyConfig"
          },
          "RTBAttributes": {
            "$ref": "#/components/schemas/RTBAttributes"
          },
          "AssociatedBidLists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssociatedBidList"
            }
          },
          "AudienceTargeting": {
            "$ref": "#/components/schemas/AudienceTargeting"
          },
          "CreativeIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Availability": {
            "type": "string",
            "enum": [
              "Available",
              "Archived"
            ]
          },
          "CreatedAtUTC": {
            "type": "string",
            "format": "date-time"
          },
          "LastUpdatedAtUTC": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AdGroupCreateRequest": {
        "type": "object",
        "required": [
          "CampaignId",
          "AdGroupName",
          "AdGroupCategory",
          "BaseBidCPM",
          "MaxBidCPM"
        ],
        "properties": {
          "CampaignId": {
            "type": "string"
          },
          "AdGroupName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "IsEnabled": {
            "type": "boolean",
            "default": true
          },
          "IndustryCategoryId": {
            "type": "integer"
          },
          "AdGroupCategory": {
            "type": "string",
            "enum": [
              "Display",
              "Video",
              "Audio",
              "NativeDisplay",
              "ConnectedTV"
            ]
          },
          "BaseBidCPM": {
            "$ref": "#/components/schemas/BudgetSettings"
          },
          "MaxBidCPM": {
            "$ref": "#/components/schemas/BudgetSettings"
          },
          "BudgetSettings": {
            "$ref": "#/components/schemas/AdGroupBudgetSettings"
          },
          "FrequencyConfig": {
            "$ref": "#/components/schemas/FrequencyConfig"
          },
          "RTBAttributes": {
            "$ref": "#/components/schemas/RTBAttributes"
          },
          "AssociatedBidLists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssociatedBidList"
            }
          },
          "AudienceTargeting": {
            "$ref": "#/components/schemas/AudienceTargeting"
          },
          "CreativeIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AdGroupUpdateRequest": {
        "type": "object",
        "required": [
          "AdGroupId"
        ],
        "properties": {
          "AdGroupId": {
            "type": "string"
          },
          "AdGroupName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "IsEnabled": {
            "type": "boolean"
          },
          "IndustryCategoryId": {
            "type": "integer"
          },
          "BaseBidCPM": {
            "$ref": "#/components/schemas/BudgetSettings"
          },
          "MaxBidCPM": {
            "$ref": "#/components/schemas/BudgetSettings"
          },
          "BudgetSettings": {
            "$ref": "#/components/schemas/AdGroupBudgetSettings"
          },
          "FrequencyConfig": {
            "$ref": "#/components/schemas/FrequencyConfig"
          },
          "RTBAttributes": {
            "$ref": "#/components/schemas/RTBAttributes"
          },
          "AssociatedBidLists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssociatedBidList"
            }
          },
          "AudienceTargeting": {
            "$ref": "#/components/schemas/AudienceTargeting"
          },
          "CreativeIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Availability": {
            "type": "string",
            "enum": [
              "Available",
              "Archived"
            ]
          }
        }
      },
      "AdGroupQueryByAdvertiserRequest": {
        "type": "object",
        "required": [
          "AdvertiserId"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/PagingParameters"
          }
        ],
        "properties": {
          "AdvertiserId": {
            "type": "string"
          },
          "SearchTerms": {
            "type": "string"
          },
          "CampaignId": {
            "type": "string",
            "description": "Optional campaign ID to narrow results"
          },
          "Availabilities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Available",
                "Archived"
              ]
            }
          },
          "SortFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortField"
            }
          }
        }
      },
      "AdGroupQueryByCampaignRequest": {
        "type": "object",
        "required": [
          "CampaignId"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/PagingParameters"
          }
        ],
        "properties": {
          "CampaignId": {
            "type": "string"
          },
          "SearchTerms": {
            "type": "string"
          },
          "Availabilities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Available",
                "Archived"
              ]
            }
          },
          "SortFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortField"
            }
          }
        }
      },
      "AdGroupQueryResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PagedResult"
          },
          {
            "type": "object",
            "properties": {
              "Result": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AdGroup"
                }
              }
            }
          }
        ]
      },
      "AdGroupStatusUpdateRequest": {
        "type": "object",
        "required": [
          "AdGroupId",
          "IsEnabled"
        ],
        "properties": {
          "AdGroupId": {
            "type": "string"
          },
          "IsEnabled": {
            "type": "boolean",
            "description": "Set to true to enable, false to disable"
          }
        }
      },
      "AdGroupBudgetSettings": {
        "type": "object",
        "properties": {
          "DailyBudget": {
            "$ref": "#/components/schemas/BudgetSettings"
          },
          "BudgetInImpressions": {
            "type": "integer",
            "format": "int64"
          },
          "PacingMode": {
            "type": "string",
            "enum": [
              "PaceAhead",
              "PaceEvenly",
              "Off"
            ]
          }
        }
      },
      "RTBAttributes": {
        "type": "object",
        "description": "Real-time bidding configuration attributes",
        "properties": {
          "ContractTargeting": {
            "type": "object",
            "properties": {
              "AllowOpenMarketBiddingWhenTargetingContracts": {
                "type": "boolean"
              },
              "ContractIds": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "GeoTargeting": {
            "$ref": "#/components/schemas/GeoTargeting"
          },
          "SiteTargeting": {
            "$ref": "#/components/schemas/SiteTargeting"
          },
          "DeviceTargeting": {
            "$ref": "#/components/schemas/DeviceTargeting"
          },
          "FoldPlacement": {
            "type": "string",
            "enum": [
              "AboveTheFold",
              "BelowTheFold",
              "Unknown",
              "All"
            ]
          }
        }
      },
      "GeoTargeting": {
        "type": "object",
        "properties": {
          "CountryTargets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "CountryCode": {
                  "type": "string",
                  "description": "ISO 3166-1 alpha-2 country code"
                }
              }
            }
          },
          "RegionTargets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "RegionId": {
                  "type": "integer"
                }
              }
            }
          },
          "MetroTargets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "MetroCode": {
                  "type": "integer"
                }
              }
            }
          },
          "CityTargets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "CityId": {
                  "type": "integer"
                }
              }
            }
          },
          "PostalCodeTargets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "PostalCode": {
                  "type": "string"
                },
                "CountryCode": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SiteTargeting": {
        "type": "object",
        "properties": {
          "SiteListIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "SiteListFallthrough": {
            "type": "boolean",
            "description": "Whether to allow impressions from sites not on any list"
          }
        }
      },
      "DeviceTargeting": {
        "type": "object",
        "properties": {
          "DeviceTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Desktop",
                "Tablet",
                "Mobile",
                "ConnectedTV"
              ]
            }
          },
          "OperatingSystems": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "OperatingSystemId": {
                  "type": "integer"
                }
              }
            }
          },
          "Browsers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "BrowserId": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "AssociatedBidList": {
        "type": "object",
        "properties": {
          "BidListId": {
            "type": "string"
          },
          "IsEnabled": {
            "type": "boolean"
          },
          "BidListAdjustmentType": {
            "type": "string",
            "enum": [
              "Blocklist",
              "TargetList"
            ]
          }
        }
      },
      "AudienceTargeting": {
        "type": "object",
        "properties": {
          "AudienceIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of audience IDs to target"
          },
          "Exclude": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of audience IDs to exclude"
          }
        }
      },
      "Creative": {
        "type": "object",
        "properties": {
          "CreativeId": {
            "type": "string"
          },
          "AdvertiserId": {
            "type": "string"
          },
          "CreativeName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "AdFormat": {
            "type": "string",
            "enum": [
              "Banner",
              "Video",
              "Native",
              "Audio"
            ]
          },
          "CreativeStatus": {
            "type": "string",
            "enum": [
              "Draft",
              "Pending",
              "Approved",
              "Rejected",
              "Paused"
            ]
          },
          "Width": {
            "type": "integer"
          },
          "Height": {
            "type": "integer"
          },
          "Tag": {
            "type": "string",
            "description": "Creative ad tag or HTML content"
          },
          "TagUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL for hosted creative"
          },
          "LandingPageUrl": {
            "type": "string",
            "format": "uri"
          },
          "ThirdPartyTags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ThirdPartyTag"
            }
          },
          "IsHTTPS": {
            "type": "boolean"
          },
          "Availability": {
            "type": "string",
            "enum": [
              "Available",
              "Archived"
            ]
          },
          "CreatedAtUTC": {
            "type": "string",
            "format": "date-time"
          },
          "LastUpdatedAtUTC": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreativeCreateRequest": {
        "type": "object",
        "required": [
          "AdvertiserId",
          "CreativeName",
          "AdFormat",
          "LandingPageUrl"
        ],
        "properties": {
          "AdvertiserId": {
            "type": "string"
          },
          "CreativeName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "AdFormat": {
            "type": "string",
            "enum": [
              "Banner",
              "Video",
              "Native",
              "Audio"
            ]
          },
          "Width": {
            "type": "integer"
          },
          "Height": {
            "type": "integer"
          },
          "Tag": {
            "type": "string"
          },
          "TagUrl": {
            "type": "string",
            "format": "uri"
          },
          "LandingPageUrl": {
            "type": "string",
            "format": "uri"
          },
          "ThirdPartyTags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ThirdPartyTag"
            }
          },
          "IsHTTPS": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "CreativeUpdateRequest": {
        "type": "object",
        "required": [
          "CreativeId"
        ],
        "properties": {
          "CreativeId": {
            "type": "string"
          },
          "CreativeName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "Tag": {
            "type": "string"
          },
          "TagUrl": {
            "type": "string",
            "format": "uri"
          },
          "LandingPageUrl": {
            "type": "string",
            "format": "uri"
          },
          "ThirdPartyTags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ThirdPartyTag"
            }
          },
          "IsHTTPS": {
            "type": "boolean"
          },
          "Availability": {
            "type": "string",
            "enum": [
              "Available",
              "Archived"
            ]
          }
        }
      },
      "CreativeQueryByAdvertiserRequest": {
        "type": "object",
        "required": [
          "AdvertiserId"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/PagingParameters"
          }
        ],
        "properties": {
          "AdvertiserId": {
            "type": "string"
          },
          "SearchTerms": {
            "type": "string"
          },
          "Availabilities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Available",
                "Archived"
              ]
            }
          },
          "AdFormats": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Banner",
                "Video",
                "Native",
                "Audio"
              ]
            }
          },
          "SortFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortField"
            }
          }
        }
      },
      "CreativeQueryResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PagedResult"
          },
          {
            "type": "object",
            "properties": {
              "Result": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Creative"
                }
              }
            }
          }
        ]
      },
      "ThirdPartyTag": {
        "type": "object",
        "properties": {
          "Url": {
            "type": "string",
            "format": "uri"
          },
          "EventType": {
            "type": "string",
            "enum": [
              "Impression",
              "Click"
            ]
          }
        }
      },
      "Audience": {
        "type": "object",
        "properties": {
          "AudienceId": {
            "type": "string"
          },
          "AdvertiserId": {
            "type": "string"
          },
          "AudienceName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "AudienceType": {
            "type": "string",
            "enum": [
              "FirstParty",
              "ThirdParty",
              "Lookalike",
              "Retargeting",
              "CRM"
            ]
          },
          "RecencyInMinutes": {
            "type": "integer",
            "description": "How recently users were added to the audience"
          },
          "EstimatedSize": {
            "type": "integer",
            "format": "int64",
            "description": "Estimated number of users in the audience"
          },
          "Availability": {
            "type": "string",
            "enum": [
              "Available",
              "Archived"
            ]
          },
          "CreatedAtUTC": {
            "type": "string",
            "format": "date-time"
          },
          "LastUpdatedAtUTC": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AudienceCreateRequest": {
        "type": "object",
        "required": [
          "AdvertiserId",
          "AudienceName",
          "AudienceType"
        ],
        "properties": {
          "AdvertiserId": {
            "type": "string"
          },
          "AudienceName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "AudienceType": {
            "type": "string",
            "enum": [
              "FirstParty",
              "ThirdParty",
              "Lookalike",
              "Retargeting",
              "CRM"
            ]
          },
          "RecencyInMinutes": {
            "type": "integer"
          }
        }
      },
      "AudienceUpdateRequest": {
        "type": "object",
        "required": [
          "AudienceId"
        ],
        "properties": {
          "AudienceId": {
            "type": "string"
          },
          "AudienceName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "RecencyInMinutes": {
            "type": "integer"
          },
          "Availability": {
            "type": "string",
            "enum": [
              "Available",
              "Archived"
            ]
          }
        }
      },
      "AudienceQueryByAdvertiserRequest": {
        "type": "object",
        "required": [
          "AdvertiserId"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/PagingParameters"
          }
        ],
        "properties": {
          "AdvertiserId": {
            "type": "string"
          },
          "SearchTerms": {
            "type": "string"
          },
          "AudienceTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "FirstParty",
                "ThirdParty",
                "Lookalike",
                "Retargeting",
                "CRM"
              ]
            }
          },
          "Availabilities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Available",
                "Archived"
              ]
            }
          },
          "SortFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortField"
            }
          }
        }
      },
      "AudienceQueryResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PagedResult"
          },
          {
            "type": "object",
            "properties": {
              "Result": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Audience"
                }
              }
            }
          }
        ]
      },
      "BidList": {
        "type": "object",
        "properties": {
          "BidListId": {
            "type": "string"
          },
          "AdvertiserId": {
            "type": "string"
          },
          "BidListName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "BidListType": {
            "type": "string",
            "enum": [
              "Domain",
              "App",
              "Deal",
              "IP"
            ]
          },
          "BidListAdjustmentType": {
            "type": "string",
            "enum": [
              "Blocklist",
              "TargetList"
            ]
          },
          "BidListEntries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BidListEntry"
            }
          },
          "Availability": {
            "type": "string",
            "enum": [
              "Available",
              "Archived"
            ]
          },
          "CreatedAtUTC": {
            "type": "string",
            "format": "date-time"
          },
          "LastUpdatedAtUTC": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BidListEntry": {
        "type": "object",
        "properties": {
          "EntryValue": {
            "type": "string",
            "description": "The domain, app, deal ID, or IP to include/exclude"
          },
          "BidAdjustment": {
            "type": "number",
            "format": "double",
            "description": "Bid adjustment multiplier (1.0 = no adjustment)"
          }
        }
      },
      "BidListCreateRequest": {
        "type": "object",
        "required": [
          "AdvertiserId",
          "BidListName",
          "BidListType",
          "BidListAdjustmentType"
        ],
        "properties": {
          "AdvertiserId": {
            "type": "string"
          },
          "BidListName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "BidListType": {
            "type": "string",
            "enum": [
              "Domain",
              "App",
              "Deal",
              "IP"
            ]
          },
          "BidListAdjustmentType": {
            "type": "string",
            "enum": [
              "Blocklist",
              "TargetList"
            ]
          },
          "BidListEntries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BidListEntry"
            }
          }
        }
      },
      "BidListUpdateRequest": {
        "type": "object",
        "required": [
          "BidListId"
        ],
        "properties": {
          "BidListId": {
            "type": "string"
          },
          "BidListName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "BidListEntries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BidListEntry"
            }
          },
          "Availability": {
            "type": "string",
            "enum": [
              "Available",
              "Archived"
            ]
          }
        }
      },
      "BidListBatchRequest": {
        "type": "object",
        "required": [
          "BidLists"
        ],
        "properties": {
          "BidLists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BidListCreateRequest"
            },
            "description": "Array of bid lists to create in batch"
          }
        }
      },
      "BidListBatchResponse": {
        "type": "object",
        "properties": {
          "SuccessfulBidLists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BidList"
            }
          },
          "FailedBidLists": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "BidListName": {
                  "type": "string"
                },
                "Error": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "Contract": {
        "type": "object",
        "properties": {
          "ContractId": {
            "type": "string"
          },
          "PartnerId": {
            "type": "string"
          },
          "ContractName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ContractType": {
            "type": "string",
            "enum": [
              "Programmatic Guaranteed",
              "Preferred Deal",
              "Private Auction"
            ]
          },
          "SupplyVendor": {
            "type": "string"
          },
          "DealId": {
            "type": "string",
            "description": "External deal ID from SSP"
          },
          "CPM": {
            "$ref": "#/components/schemas/BudgetSettings"
          },
          "StartDateUTC": {
            "type": "string",
            "format": "date-time"
          },
          "EndDateUTC": {
            "type": "string",
            "format": "date-time"
          },
          "Availability": {
            "type": "string",
            "enum": [
              "Available",
              "Archived"
            ]
          },
          "CreatedAtUTC": {
            "type": "string",
            "format": "date-time"
          },
          "LastUpdatedAtUTC": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContractCreateRequest": {
        "type": "object",
        "required": [
          "PartnerId",
          "ContractName",
          "ContractType",
          "SupplyVendor",
          "DealId"
        ],
        "properties": {
          "PartnerId": {
            "type": "string"
          },
          "ContractName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ContractType": {
            "type": "string",
            "enum": [
              "Programmatic Guaranteed",
              "Preferred Deal",
              "Private Auction"
            ]
          },
          "SupplyVendor": {
            "type": "string"
          },
          "DealId": {
            "type": "string"
          },
          "CPM": {
            "$ref": "#/components/schemas/BudgetSettings"
          },
          "StartDateUTC": {
            "type": "string",
            "format": "date-time"
          },
          "EndDateUTC": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContractUpdateRequest": {
        "type": "object",
        "required": [
          "ContractId"
        ],
        "properties": {
          "ContractId": {
            "type": "string"
          },
          "ContractName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "CPM": {
            "$ref": "#/components/schemas/BudgetSettings"
          },
          "StartDateUTC": {
            "type": "string",
            "format": "date-time"
          },
          "EndDateUTC": {
            "type": "string",
            "format": "date-time"
          },
          "Availability": {
            "type": "string",
            "enum": [
              "Available",
              "Archived"
            ]
          }
        }
      },
      "ContractQueryByPartnerRequest": {
        "type": "object",
        "required": [
          "PartnerId"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/PagingParameters"
          }
        ],
        "properties": {
          "PartnerId": {
            "type": "string"
          },
          "SearchTerms": {
            "type": "string"
          },
          "Availabilities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Available",
                "Archived"
              ]
            }
          },
          "SortFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortField"
            }
          }
        }
      },
      "ContractQueryResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PagedResult"
          },
          {
            "type": "object",
            "properties": {
              "Result": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
[...]
