{
  "openapi": "3.0.3",
  "info": {
    "title": "Rentometer API",
    "description": "Rentometer provides rent comparison and estimation data for residential properties in the United States. The API allows developers to retrieve rent statistics, property-level rent data, nearby comparable properties, and generate professional reports.",
    "version": "1.0.0",
    "contact": {
      "name": "Rentometer",
      "url": "https://www.rentometer.com"
    },
    "termsOfService": "https://www.rentometer.com/terms"
  },
  "x-jentic-source-url": "https://www.rentometer.com/developers/api_docs",
  "servers": [
    {
      "url": "https://www.rentometer.com/api/v1"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "API key validation"
    },
    {
      "name": "Rent Data",
      "description": "Rent statistics and comparables"
    },
    {
      "name": "Reports",
      "description": "Pro report generation and download"
    }
  ],
  "paths": {
    "/auth": {
      "get": {
        "operationId": "checkAuth",
        "summary": "Check API key authorization",
        "description": "Validates the API key and returns account information including remaining credits.",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Rentometer API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Authorization status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authorized": {
                      "type": "boolean"
                    },
                    "email": {
                      "type": "string"
                    },
                    "credits_remaining": {
                      "type": "integer"
                    },
                    "pro_report_credits": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key"
          }
        }
      }
    },
    "/summary": {
      "get": {
        "operationId": "getRentSummary",
        "summary": "Get rent summary (QuickView)",
        "description": "Returns rent statistics for a given address or coordinates including mean, median, min, max, percentiles, and sample count. Costs 1 QuickView credit.",
        "tags": [
          "Rent Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Rentometer API key"
          },
          {
            "name": "address",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Property address (required if lat/lng not provided)"
          },
          {
            "name": "latitude",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "Latitude (use with longitude instead of address)"
          },
          {
            "name": "longitude",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "Longitude (use with latitude instead of address)"
          },
          {
            "name": "bedrooms",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of bedrooms"
          },
          {
            "name": "baths",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Number of bathrooms"
          },
          {
            "name": "building_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Building type filter"
          },
          {
            "name": "look_back_days",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of days to look back for data"
          }
        ],
        "responses": {
          "200": {
            "description": "Rent summary statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RentSummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid API key"
          }
        }
      }
    },
    "/property_rents": {
      "get": {
        "operationId": "getPropertyRents",
        "summary": "Get property-level rent data",
        "description": "Returns detailed rent data for properties at a given address. Costs 1 Premium credit.",
        "tags": [
          "Rent Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Rentometer API key"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Property address"
          },
          {
            "name": "max_age",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum age of data in days"
          }
        ],
        "responses": {
          "200": {
            "description": "Property rent data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyRents"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/nearby_comps": {
      "get": {
        "operationId": "getNearbyComps",
        "summary": "Get nearby comparable properties",
        "description": "Returns nearby comparable rental properties for a given address or coordinates.",
        "tags": [
          "Rent Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Rentometer API key"
          },
          {
            "name": "address",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Property address"
          },
          {
            "name": "latitude",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "bedrooms",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "baths",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "building_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nearby comparable properties",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NearbyComps"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/request_pro_report": {
      "get": {
        "operationId": "requestProReport",
        "summary": "Request a Pro Report",
        "description": "Queues a professional rent report for generation. Costs 1 Pro Report credit.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Token from a previous summary request"
          }
        ],
        "responses": {
          "202": {
            "description": "Report queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    },
                    "credits_remaining": {
                      "type": "integer"
                    },
                    "status_link": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/pro_report_status": {
      "get": {
        "operationId": "getProReportStatus",
        "summary": "Check Pro Report status",
        "description": "Checks the generation status of a requested Pro Report.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Report still in queue",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "retry_after": {
                      "type": "integer"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "303": {
            "description": "Report ready - see download link"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/download_pro_report": {
      "get": {
        "operationId": "downloadProReport",
        "summary": "Download Pro Report",
        "description": "Downloads the generated Pro Report PDF.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report download information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    },
                    "download_link": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Report not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "Rentometer API key"
      }
    },
    "schemas": {
      "RentSummary": {
        "type": "object",
        "properties": {
          "mean": {
            "type": "number",
            "format": "double",
            "description": "Mean rent"
          },
          "median": {
            "type": "number",
            "format": "double",
            "description": "Median rent"
          },
          "min": {
            "type": "number",
            "format": "double",
            "description": "Minimum rent"
          },
          "max": {
            "type": "number",
            "format": "double",
            "description": "Maximum rent"
          },
          "percentile_25": {
            "type": "number",
            "format": "double"
          },
          "percentile_75": {
            "type": "number",
            "format": "double"
          },
          "std_dev": {
            "type": "number",
            "format": "double",
            "description": "Standard deviation"
          },
          "sample_count": {
            "type": "integer",
            "description": "Number of samples"
          },
          "radius": {
            "type": "number",
            "format": "double",
            "description": "Search radius in miles"
          },
          "quickview_url": {
            "type": "string",
            "format": "uri"
          },
          "token": {
            "type": "string",
            "description": "Token for requesting pro report"
          }
        }
      },
      "PropertyRents": {
        "type": "object",
        "properties": {
          "formatted_address": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "listing_count": {
            "type": "integer"
          },
          "properties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PropertyRentDetail"
            }
          }
        }
      },
      "PropertyRentDetail": {
        "type": "object",
        "properties": {
          "bedrooms": {
            "type": "integer"
          },
          "baths": {
            "type": "number"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "sqft": {
            "type": "number"
          },
          "price_per_sqft": {
            "type": "number",
            "format": "double"
          },
          "last_seen": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "NearbyComps": {
        "type": "object",
        "properties": {
          "search_address": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "comp_count": {
            "type": "integer"
          },
          "nearby_properties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NearbyProperty"
            }
          },
          "credits_remaining": {
            "type": "integer"
          }
        }
      },
      "NearbyProperty": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "distance": {
            "type": "number",
            "format": "double"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "bedrooms": {
            "type": "integer"
          },
          "baths": {
            "type": "number"
          }
        }
      }
    }
  }
}