{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "techsupport@osisoft.com",
      "name": "OSIsoft, LLC.",
      "url": "https://techsupport.osisoft.com/"
    },
    "description": "Swagger Spec file that describes PI Web API",
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://tempuri.org/license"
    },
    "termsOfService": "https://pisquare.osisoft.com/docs/DOC-1105",
    "title": "PI Web API 2018 SP1 Swagger Spec",
    "version": "1.11.1.5383",
    "x-apisguru-categories": [
      "enterprise"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/osisoft.com/1.11.1.5383/swagger.yaml",
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_OSIsoft_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://devdata.osisoft.com/piwebapi/help/specification",
        "version": "2.0"
      }
    ],
    "x-providerName": "osisoft.com"
  },
  "servers": [
    {
      "url": "https://devdata.osisoft.com/piwebapi"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Landing"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Landing"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Landing"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Landing"
                }
              }
            },
            "description": "Links to top level collections and system information."
          }
        },
        "tags": [
          "Home"
        ],
        "deprecated": false,
        "operationId": "Home_Get",
        "summary": "Get top level links for this PI System Web API instance."
      }
    },
    "/analyses": {
      "get": {
        "parameters": [
          {
            "description": "The path to the Analysis.",
            "in": "query",
            "name": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Analysis"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Analysis"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Analysis"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Analysis"
                }
              }
            },
            "description": "The specified Analysis."
          }
        },
        "tags": [
          "Analysis"
        ],
        "deprecated": false,
        "description": "This method returns an Analysis based on the hierarchical path associated with it, and should be used when a path has been received from a separate part of the PI System for use in the PI Web API. Users should primarily search with the WebID when available.",
        "operationId": "Analysis_GetByPath",
        "summary": "Retrieve an Analysis by path."
      }
    },
    "/analyses/search": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the asset database to use as the root of the query.",
            "in": "query",
            "name": "databaseWebId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of objects to be returned per call (page size). The default is 1000.",
            "in": "query",
            "name": "maxCount",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The query string is a list of filters used to perform an AFSearch for the analyses in the asset database. An example would be: \"query= Name:=MyAnalysis1* Template:=AnalysisTemplate\".",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The starting index (zero based) of the items to be returned. The default is 0.",
            "in": "query",
            "name": "startIndex",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_Analysis_"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Items_Analysis_"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Items_Analysis_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_Analysis_"
                }
              }
            },
            "description": "A list of analyses matching the specified conditions."
          }
        },
        "tags": [
          "Analysis"
        ],
        "deprecated": false,
        "operationId": "Analysis_GetAnalysesQuery",
        "summary": "Retrieve analyses based on the specified conditions. By default, returns all analyses."
      }
    },
    "/analyses/{webId}": {
      "delete": {
        "parameters": [
          {
            "description": "The ID of the Analysis to delete.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The Analysis was deleted."
          }
        },
        "tags": [
          "Analysis"
        ],
        "deprecated": false,
        "operationId": "Analysis_Delete",
        "summary": "Delete an Analysis."
      },
      "get": {
        "parameters": [
          {
            "description": "The ID of the Analysis.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Analysis"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Analysis"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Analysis"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Analysis"
                }
              }
            },
            "description": "The specified Analysis."
          }
        },
        "tags": [
          "Analysis"
        ],
        "deprecated": false,
        "operationId": "Analysis_Get",
        "summary": "Retrieve an Analysis."
      },
      "patch": {
        "parameters": [
          {
            "description": "The ID of the Analysis to update.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The Analysis was updated."
          }
        },
        "tags": [
          "Analysis"
        ],
        "deprecated": false,
        "operationId": "Analysis_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Analysis"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Analysis"
              }
            }
          },
          "description": "A partial Analysis containing the desired changes.",
          "required": true
        },
        "summary": "Update an Analysis."
      }
    },
    "/analyses/{webId}/categories": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the Analysis.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_AnalysisCategory_"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Items_AnalysisCategory_"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Items_AnalysisCategory_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_AnalysisCategory_"
                }
              }
            },
            "description": "A list of categories."
          }
        },
        "tags": [
          "Analysis"
        ],
        "deprecated": false,
        "operationId": "Analysis_GetCategories",
        "summary": "Get an Analysis' categories."
      }
    },
    "/analyses/{webId}/security": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the Analysis for the security to be checked.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The user identity for the security information to be checked. Multiple security identities may be specified with multiple instances of the parameter. If the parameter is not specified, only the current user's security rights will be returned.",
            "explode": true,
            "in": "query",
            "name": "userIdentity",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Indicates if the security cache should be refreshed before getting security information. The default is 'false'.",
            "in": "query",
            "name": "forceRefresh",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityRights_"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityRights_"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityRights_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityRights_"
                }
              }
            },
            "description": "Security rights."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "An invalid or local account is specified as the user identity."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Access denied for the specified user identity."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unsupported when using Anonymous authentication method."
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Failed to retrieve the specified user identity."
          }
        },
        "tags": [
          "Analysis"
        ],
        "deprecated": false,
        "operationId": "Analysis_GetSecurity",
        "summary": "Get the security information of the specified security item associated with the Analysis for a specified user."
      }
    },
    "/analyses/{webId}/securityentries": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the analysis.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name query string used for filtering security entries. The default is no filter.",
            "in": "query",
            "name": "nameFilter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityEntry_"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityEntry_"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityEntry_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityEntry_"
                }
              }
            },
            "description": "A list of security entries matching the specified condition."
          }
        },
        "tags": [
          "Analysis"
        ],
        "deprecated": false,
        "operationId": "Analysis_GetSecurityEntries",
        "summary": "Retrieve the security entries associated with the analysis based on the specified criteria. By default, all security entries for this analysis are returned."
      },
      "post": {
        "parameters": [
          {
            "description": "The ID of the analysis, where the security entry will be created.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If false, the new access permissions are only applied to the associated object. If true, the access permissions of children with any parent-child reference types will change when the permissions on the primary parent change.",
            "in": "query",
            "name": "applyToChildren",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The security entry was created. The response's Location header is a link to the security entry."
          }
        },
        "tags": [
          "Analysis"
        ],
        "deprecated": false,
        "operationId": "Analysis_CreateSecurityEntry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityEntry"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityEntry"
              }
            }
          },
          "description": "The new security entry definition. The full list of allow and deny rights must be supplied.",
          "required": true
        },
        "summary": "Create a security entry owned by the analysis."
      }
    },
    "/analyses/{webId}/securityentries/{name}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the security entry. For every backslash character (\\) in the security entry name, replace with asterisk (*). As an example, use domain*username instead of domain\\username.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the analysis, where the security entry will be deleted.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If false, the new access permissions are only applied to the associated object. If true, the access permissions of children with any parent-child reference types will change when the permissions on the primary parent change.",
            "in": "query",
            "name": "applyToChildren",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The security entry was deleted."
          }
        },
        "tags": [
          "Analysis"
        ],
        "deprecated": false,
        "operationId": "Analysis_DeleteSecurityEntry",
        "summary": "Delete a security entry owned by the analysis."
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the security entry. For every backslash character (\\) in the security entry name, replace with asterisk (*). As an example, use domain*username instead of domain\\username.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the analysis.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityEntry"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityEntry"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityEntry"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityEntry"
                }
              }
            },
            "description": "The security entry matching the specified condition."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "The security entry with the specified name is not found."
          }
        },
        "tags": [
          "Analysis"
        ],
        "deprecated": false,
        "operationId": "Analysis_GetSecurityEntryByName",
        "summary": "Retrieve the security entry associated with the analysis with the specified name."
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the security entry.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the analysis, where the security entry will be updated.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If false, the new access permissions are only applied to the associated object. If true, the access permissions of children with any parent-child reference types will change when the permissions on the primary parent change.",
            "in": "query",
            "name": "applyToChildren",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The security entry was updated."
          }
        },
        "tags": [
          "Analysis"
        ],
        "deprecated": false,
        "operationId": "Analysis_UpdateSecurityEntry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityEntry"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityEntry"
              }
            }
          },
          "description": "The new security entry definition. The full list of allow and deny rights must be supplied or they will be removed.",
          "required": true
        },
        "summary": "Update a security entry owned by the analysis."
      }
    },
    "/analysiscategories": {
      "get": {
        "parameters": [
          {
            "description": "The path to the target analysis category.",
            "in": "query",
            "name": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisCategory"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisCategory"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisCategory"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisCategory"
                }
              }
            },
            "description": "The specified analysis category."
          }
        },
        "tags": [
          "AnalysisCategory"
        ],
        "deprecated": false,
        "operationId": "AnalysisCategory_GetByPath",
        "summary": "Retrieve an analysis category by path."
      }
    },
    "/analysiscategories/{webId}": {
      "delete": {
        "parameters": [
          {
            "description": "The ID of the analysis category to delete.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The analysis category was deleted."
          }
        },
        "tags": [
          "AnalysisCategory"
        ],
        "deprecated": false,
        "operationId": "AnalysisCategory_Delete",
        "summary": "Delete an analysis category."
      },
      "get": {
        "parameters": [
          {
            "description": "The ID of the analysis category.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisCategory"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisCategory"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisCategory"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisCategory"
                }
              }
            },
            "description": "The specified analysis category."
          }
        },
        "tags": [
          "AnalysisCategory"
        ],
        "deprecated": false,
        "operationId": "AnalysisCategory_Get",
        "summary": "Retrieve an analysis category."
      },
      "patch": {
        "parameters": [
          {
            "description": "The ID of the analysis category to update.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The analysis category was updated."
          }
        },
        "tags": [
          "AnalysisCategory"
        ],
        "deprecated": false,
        "operationId": "AnalysisCategory_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalysisCategory"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalysisCategory"
              }
            }
          },
          "description": "A partial analysis category containing the desired changes.",
          "required": true
        },
        "summary": "Update an analysis category by replacing items in its definition."
      }
    },
    "/analysiscategories/{webId}/security": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the analysis category for the security to be checked.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The user identity for the security information to be checked. Multiple security identities may be specified with multiple instances of the parameter. If the parameter is not specified, only the current user's security rights will be returned.",
            "explode": true,
            "in": "query",
            "name": "userIdentity",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Indicates if the security cache should be refreshed before getting security information. The default is 'false'.",
            "in": "query",
            "name": "forceRefresh",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityRights_"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityRights_"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityRights_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityRights_"
                }
              }
            },
            "description": "Security rights."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "An invalid or local account is specified as the user identity."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Access denied for the specified user identity."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unsupported when using Anonymous authentication method."
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Failed to retrieve the specified user identity."
          }
        },
        "tags": [
          "AnalysisCategory"
        ],
        "deprecated": false,
        "operationId": "AnalysisCategory_GetSecurity",
        "summary": "Get the security information of the specified security item associated with the analysis category for a specified user."
      }
    },
    "/analysiscategories/{webId}/securityentries": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the analysis category.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name query string used for filtering security entries. The default is no filter.",
            "in": "query",
            "name": "nameFilter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityEntry_"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityEntry_"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityEntry_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityEntry_"
                }
              }
            },
            "description": "A list of security entries matching the specified condition."
          }
        },
        "tags": [
          "AnalysisCategory"
        ],
        "deprecated": false,
        "operationId": "AnalysisCategory_GetSecurityEntries",
        "summary": "Retrieve the security entries associated with the analysis category based on the specified criteria. By default, all security entries for this analysis category are returned."
      },
      "post": {
        "parameters": [
          {
            "description": "The ID of the analysis category, where the security entry will be created.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If false, the new access permissions are only applied to the associated object. If true, the access permissions of children with any parent-child reference types will change when the permissions on the primary parent change.",
            "in": "query",
            "name": "applyToChildren",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The security entry was created. The response's Location header is a link to the security entry."
          }
        },
        "tags": [
          "AnalysisCategory"
        ],
        "deprecated": false,
        "operationId": "AnalysisCategory_CreateSecurityEntry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityEntry"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityEntry"
              }
            }
          },
          "description": "The new security entry definition. The full list of allow and deny rights must be supplied.",
          "required": true
        },
        "summary": "Create a security entry owned by the analysis category."
      }
    },
    "/analysiscategories/{webId}/securityentries/{name}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the security entry. For every backslash character (\\) in the security entry name, replace with asterisk (*). As an example, use domain*username instead of domain\\username.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the analysis category, where the security entry will be deleted.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If false, the new access permissions are only applied to the associated object. If true, the access permissions of children with any parent-child reference types will change when the permissions on the primary parent change.",
            "in": "query",
            "name": "applyToChildren",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The security entry was deleted."
          }
        },
        "tags": [
          "AnalysisCategory"
        ],
        "deprecated": false,
        "operationId": "AnalysisCategory_DeleteSecurityEntry",
        "summary": "Delete a security entry owned by the analysis category."
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the security entry. For every backslash character (\\) in the security entry name, replace with asterisk (*). As an example, use domain*username instead of domain\\username.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the analysis category.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityEntry"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityEntry"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityEntry"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityEntry"
                }
              }
            },
            "description": "The security entry matching the specified condition."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "The security entry with the specified name is not found."
          }
        },
        "tags": [
          "AnalysisCategory"
        ],
        "deprecated": false,
        "operationId": "AnalysisCategory_GetSecurityEntryByName",
        "summary": "Retrieve the security entry associated with the analysis category with the specified name."
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the security entry.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the analysis category, where the security entry will be updated.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If false, the new access permissions are only applied to the associated object. If true, the access permissions of children with any parent-child reference types will change when the permissions on the primary parent change.",
            "in": "query",
            "name": "applyToChildren",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The security entry was updated."
          }
        },
        "tags": [
          "AnalysisCategory"
        ],
        "deprecated": false,
        "operationId": "AnalysisCategory_UpdateSecurityEntry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityEntry"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityEntry"
              }
            }
          },
          "description": "The new security entry definition. The full list of allow and deny rights must be supplied or they will be removed.",
          "required": true
        },
        "summary": "Update a security entry owned by the analysis category."
      }
    },
    "/analysisruleplugins": {
      "get": {
        "parameters": [
          {
            "description": "The path to the Analysis Rule Plug-in.",
            "in": "query",
            "name": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRulePlugIn"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRulePlugIn"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRulePlugIn"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRulePlugIn"
                }
              }
            },
            "description": "The specified Analysis Rule Plug-in."
          }
        },
        "tags": [
          "AnalysisRulePlugIn"
        ],
        "deprecated": false,
        "description": "This method returns an Analysis Rule Plug-in based on the hierarchical path associated with it, and should be used when a path has been received from a separate part of the PI System for use in the PI Web API. Users should primarily search with the WebID when available.",
        "operationId": "AnalysisRulePlugIn_GetByPath",
        "summary": "Retrieve an Analysis Rule Plug-in by path."
      }
    },
    "/analysisruleplugins/{webId}": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the Analysis Rule Plug-in.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRulePlugIn"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRulePlugIn"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRulePlugIn"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRulePlugIn"
                }
              }
            },
            "description": "The specified Analysis Rule Plug-in."
          }
        },
        "tags": [
          "AnalysisRulePlugIn"
        ],
        "deprecated": false,
        "operationId": "AnalysisRulePlugIn_Get",
        "summary": "Retrieve an Analysis Rule Plug-in."
      }
    },
    "/analysisrules": {
      "get": {
        "parameters": [
          {
            "description": "The path to the Analysis Rule.",
            "in": "query",
            "name": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRule"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRule"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRule"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRule"
                }
              }
            },
            "description": "The requested Analysis Rule."
          }
        },
        "tags": [
          "AnalysisRule"
        ],
        "deprecated": false,
        "description": "This method returns an Analysis Rule based on the hierarchical path associated with it, and should be used when a path has been received from a separate part of the PI System for use in the PI Web API. Users should primarily search with the WebID when available.",
        "operationId": "AnalysisRule_GetByPath",
        "summary": "Retrieve an Analysis Rule by path."
      }
    },
    "/analysisrules/{webId}": {
      "delete": {
        "parameters": [
          {
            "description": "The ID of the Analysis Rule.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The Analysis Rule was deleted."
          }
        },
        "tags": [
          "AnalysisRule"
        ],
        "deprecated": false,
        "operationId": "AnalysisRule_Delete",
        "summary": "Delete an Analysis Rule."
      },
      "get": {
        "parameters": [
          {
            "description": "The ID of the Analysis Rule.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRule"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRule"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRule"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRule"
                }
              }
            },
            "description": "The requested Analysis Rule."
          }
        },
        "tags": [
          "AnalysisRule"
        ],
        "deprecated": false,
        "operationId": "AnalysisRule_Get",
        "summary": "Retrieve an Analysis Rule."
      },
      "patch": {
        "parameters": [
          {
            "description": "The ID of the Analysis Rule.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The Analysis Rule was updated."
          }
        },
        "tags": [
          "AnalysisRule"
        ],
        "deprecated": false,
        "operationId": "AnalysisRule_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalysisRule"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalysisRule"
              }
            }
          },
          "description": "A partial Analysis Rule containing the desired changes.",
          "required": true
        },
        "summary": "Update an Analysis Rule by replacing items in its definition."
      }
    },
    "/analysisrules/{webId}/analysisrules": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the parent Analysis Rule.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of objects to be returned per call (page size). The default is 1000.",
            "in": "query",
            "name": "maxCount",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The name query string used for finding Analysis Rules. The default is no filter.",
            "in": "query",
            "name": "nameFilter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies if the search should include Analysis Rules nested further than the immediate children of the searchRoot. The default is 'false'.",
            "in": "query",
            "name": "searchFullHierarchy",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The field or property of the object used to sort the returned collection. The default is 'Name'.",
            "in": "query",
            "name": "sortField",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The order that the returned collection is sorted. The default is 'Ascending'.",
            "in": "query",
            "name": "sortOrder",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The starting index (zero based) of the items to be returned. The default is 0.",
            "in": "query",
            "name": "startIndex",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_AnalysisRule_"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Items_AnalysisRule_"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Items_AnalysisRule_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_AnalysisRule_"
                }
              }
            },
            "description": "A list of child Analysis Rules."
          }
        },
        "tags": [
          "AnalysisRule"
        ],
        "deprecated": false,
        "operationId": "AnalysisRule_GetAnalysisRules",
        "summary": "Get the child Analysis Rules of the Analysis Rule."
      },
      "post": {
        "parameters": [
          {
            "description": "The ID of the parent Analysis Rule, on which to create the child Analysis Rule.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The Analysis Rule was created. The response's Location header is a link to the created Analysis Rule."
          }
        },
        "tags": [
          "AnalysisRule"
        ],
        "deprecated": false,
        "operationId": "AnalysisRule_CreateAnalysisRule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalysisRule"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalysisRule"
              }
            }
          },
          "description": "The definition of the new Analysis Rule.",
          "required": true
        },
        "summary": "Create a new Analysis Rule as a child of an existing Analysis Rule."
      }
    },
    "/analysistemplates": {
      "get": {
        "parameters": [
          {
            "description": "The path to the analysis template.",
            "in": "query",
            "name": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisTemplate"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisTemplate"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisTemplate"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisTemplate"
                }
              }
            },
            "description": "The specified analysis template."
          }
        },
        "tags": [
          "AnalysisTemplate"
        ],
        "deprecated": false,
        "description": "This method returns an analysis template based on the hierarchical path associated with it, and should be used when a path has been received from a separate part of the PI System for use in the PI Web API. Users should primarily search with the WebID when available.",
        "operationId": "AnalysisTemplate_GetByPath",
        "summary": "Retrieve an analysis template by path."
      },
      "post": {
        "parameters": [
          {
            "description": "The ID of the Analysis, on which the template is created.",
            "in": "query",
            "name": "analysisWebId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name for the created template, which must be unique within the database's AnalysisTemplate collection. If the name ends with an asterisk (*), then a unique name will be generated based on the supplied name. The default is the specified Analysis' name suffixed with an asterisk (*).",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The Analysis Template was created. The response's Location header is a link to the created Analysis Template."
          }
        },
        "tags": [
          "AnalysisTemplate"
        ],
        "deprecated": false,
        "operationId": "AnalysisTemplate_CreateFromAnalysis",
        "summary": "Create an Analysis template based upon a specified Analysis."
      }
    },
    "/analysistemplates/search": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the asset database to use as the root of the query.",
            "in": "query",
            "name": "databaseWebId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of objects to be returned per call (page size). The default is 1000.",
            "in": "query",
            "name": "maxCount",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The query string is a list of filters used to perform an AFSearch for the analyses in the asset database. An example would be: \"query= Name:=MyAnalysisTemplate1*\".",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The starting index (zero based) of the items to be returned. The default is 0.",
            "in": "query",
            "name": "startIndex",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_AnalysisTemplate_"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Items_AnalysisTemplate_"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Items_AnalysisTemplate_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_AnalysisTemplate_"
                }
              }
            },
            "description": "A list of analysis templates matching the specified conditions."
          }
        },
        "tags": [
          "AnalysisTemplate"
        ],
        "deprecated": false,
        "operationId": "AnalysisTemplate_GetAnalysisTemplatesQuery",
        "summary": "Retrieve analysis templates based on the specified conditions. By default, returns all analysis templates."
      }
    },
    "/analysistemplates/{webId}": {
      "delete": {
        "parameters": [
          {
            "description": "The ID of the analysis template to update.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The analysis template was deleted."
          }
        },
        "tags": [
          "AnalysisTemplate"
        ],
        "deprecated": false,
        "description": "Deleting an analysis template will delete any analysis which was created from it, unless the analysis is tied to a notification.",
        "operationId": "AnalysisTemplate_Delete",
        "summary": "Delete an analysis template."
      },
      "get": {
        "parameters": [
          {
            "description": "The ID of the analysis template.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisTemplate"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisTemplate"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisTemplate"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisTemplate"
                }
              }
            },
            "description": "The specified analysis template."
          }
        },
        "tags": [
          "AnalysisTemplate"
        ],
        "deprecated": false,
        "operationId": "AnalysisTemplate_Get",
        "summary": "Retrieve an analysis template."
      },
      "patch": {
        "parameters": [
          {
            "description": "The ID of the analysis template to update.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The analysis template was updated."
          }
        },
        "tags": [
          "AnalysisTemplate"
        ],
        "deprecated": false,
        "operationId": "AnalysisTemplate_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalysisTemplate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalysisTemplate"
              }
            }
          },
          "description": "A partial analysis template containing the desired changes.",
          "required": true
        },
        "summary": "Update an analysis template by replacing items in its definition."
      }
    },
    "/analysistemplates/{webId}/categories": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the analysis template.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_AnalysisCategory_"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Items_AnalysisCategory_"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Items_AnalysisCategory_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_AnalysisCategory_"
                }
              }
            },
            "description": "A list of categories."
          }
        },
        "tags": [
          "AnalysisTemplate"
        ],
        "deprecated": false,
        "operationId": "AnalysisTemplate_GetCategories",
        "summary": "Get an analysis template's categories."
      }
    },
    "/analysistemplates/{webId}/security": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the analysis template for the security to be checked.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The user identity for the security information to be checked. Multiple security identities may be specified with multiple instances of the parameter. If the parameter is not specified, only the current user's security rights will be returned.",
            "explode": true,
            "in": "query",
            "name": "userIdentity",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Indicates if the security cache should be refreshed before getting security information. The default is 'false'.",
            "in": "query",
            "name": "forceRefresh",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityRights_"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityRights_"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityRights_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityRights_"
                }
              }
            },
            "description": "Security rights."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "An invalid or local account is specified as the user identity."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Access denied for the specified user identity."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unsupported when using Anonymous authentication method."
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Failed to retrieve the specified user identity."
          }
        },
        "tags": [
          "AnalysisTemplate"
        ],
        "deprecated": false,
        "operationId": "AnalysisTemplate_GetSecurity",
        "summary": "Get the security information of the specified security item associated with the analysis template for a specified user."
      }
    },
    "/analysistemplates/{webId}/securityentries": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the analysis template.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name query string used for filtering security entries. The default is no filter.",
            "in": "query",
            "name": "nameFilter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityEntry_"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityEntry_"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityEntry_"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_SecurityEntry_"
                }
              }
            },
            "description": "A list of security entries matching the specified condition."
          }
        },
        "tags": [
          "AnalysisTemplate"
        ],
        "deprecated": false,
        "operationId": "AnalysisTemplate_GetSecurityEntries",
        "summary": "Retrieve the security entries associated with the analysis template based on the specified criteria. By default, all security entries for this analysis template are returned."
      },
      "post": {
        "parameters": [
          {
            "description": "The ID of the analysis template, where the security entry will be created.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If false, the new access permissions are only applied to the associated object. If true, the access permissions of children with any parent-child reference types will change when the permissions on the primary parent change.",
            "in": "query",
            "name": "applyToChildren",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The security entry was created. The response's Location header is a link to the security entry."
          }
        },
        "tags": [
          "AnalysisTemplate"
        ],
        "deprecated": false,
        "operationId": "AnalysisTemplate_CreateSecurityEntry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityEntry"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityEntry"
              }
            }
          },
          "description": "The new security entry definition. The full list of allow and deny rights must be supplied.",
          "required": true
        },
        "summary": "Create a security entry owned by the analysis template."
      }
    },
    "/analysistemplates/{webId}/securityentries/{name}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the security entry. For every backslash character (\\) in the security entry name, replace with asterisk (*). As an example, use domain*username instead of domain\\username.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the analysis template, where the security entry will be deleted.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If false, the new access permissions are only applied to the associated object. If true, the access permissions of children with any parent-child reference types will change when the permissions on the primary parent change.",
            "in": "query",
            "name": "applyToChildren",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The security entry was deleted."
          }
        },
        "tags": [
          "AnalysisTemplate"
        ],
        "deprecated": false,
        "operationId": "AnalysisTemplate_DeleteSecurityEntry",
        "summary": "Delete a security entry owned by the analysis template."
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the security entry. For every backslash character (\\) in the security entry name, replace with asterisk (*). As an example, use domain*username instead of domain\\username.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the analysis template.",
            "in": "path",
            "name": "webId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.",
            "in": "query",
            "name": "selectedFields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item \"WebIDType\".",
            "in": "query",
            "name": "webIdType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityEntry"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityEntry"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityEntry"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityEntry"
                }
              }
            },
            "description": "The security entry matching the specified condition."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "application/x-ms-application": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "text/json": {
                "schema": {
[...]
