{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0.0",
    "title": "APIs - Santanense x Ematex",
    "description": "APIs de integra\u00e7\u00e3o TOTVs Datasul - EMATEX.\n\nAlguns links \u00fateis:\n- [Sigma](https://sigma.santanense.com.br)\n- [Institucional Santanense](https://www.santanense.com.br/)",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/santanense/apis_ematex/1.0.0/swagger.json"
  },
  "externalDocs": {
    "description": "Termos de uso",
    "url": "https://sigma.santanense.com.br/apisUseTerms"
  },
  "servers": [
    {
      "url": "https://pasoe.santanense.com.br/ematex"
    }
  ],
  "tags": [
    {
      "name": "notas",
      "description": "Notas"
    },
    {
      "name": "pedidos",
      "description": "Pedidos"
    },
    {
      "name": "estoque",
      "description": "Estoque"
    },
    {
      "name": "clientes",
      "description": "Clientes"
    }
  ],
  "paths": {
    "/flex/ind/consultaNotas": {
      "get": {
        "tags": [
          "notas"
        ],
        "summary": "Consulta Notas",
        "description": "Consulta todas as notas fiscais de uma faixa de datas informadas e tipo informado",
        "operationId": "findNotasByDatesAndType",
        "parameters": [
          {
            "name": "dataIni",
            "in": "query",
            "description": "Data Inicial da faixa de data de emiss\u00e3o das notas",
            "required": true,
            "schema": {
              "type": "string",
              "example": "01/02/2025"
            }
          },
          {
            "name": "dataFim",
            "in": "query",
            "description": "Data Final da faixa de data de emiss\u00e3o das notas",
            "required": true,
            "schema": {
              "type": "string",
              "example": "25/02/2025"
            }
          },
          {
            "name": "tipo",
            "in": "query",
            "description": "Tipo da nota fiscal (F = Faturadas, C = Canceladas",
            "required": true,
            "schema": {
              "type": "string",
              "example": "F"
            }
          },
          {
            "name": "notaIni",
            "in": "query",
            "description": "Nota Inicial da faixa de notas",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0000001"
            }
          },
          {
            "name": "notaFim",
            "in": "query",
            "description": "Nota Final da faixa de notas",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0000010"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "notas": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "nr_nota": {
                            "type": "string",
                            "example": "0000002"
                          },
                          "pedido": {
                            "type": "string",
                            "example": "1200921"
                          },
                          "dt_emissao": {
                            "type": "string",
                            "example": "2024-07-31"
                          },
                          "dt_cancela": {
                            "type": "string",
                            "example": "2024-07-31"
                          },
                          "nat_oper": {
                            "type": "string",
                            "example": "5101AB"
                          },
                          "cond_pagto": {
                            "type": "integer",
                            "example": 39
                          },
                          "desc_cond_pagto": {
                            "type": "string",
                            "example": "15 Dias"
                          },
                          "peso_liquido": {
                            "type": "number",
                            "example": 1248.486
                          },
                          "peso_bruto": {
                            "type": "number",
                            "example": 1269.494
                          },
                          "qt_volumes": {
                            "type": "integer",
                            "example": 31
                          },
                          "desc_volumes": {
                            "type": "string",
                            "example": "ROLO"
                          },
                          "vl_tot_nota": {
                            "type": "number",
                            "example": 46248.03
                          },
                          "representante": {
                            "type": "string",
                            "example": "051"
                          },
                          "observacao": {
                            "type": "string",
                            "example": "Observa\u00e7\u00f5es da nota fiscal"
                          },
                          "cliente": {
                            "type": "object",
                            "properties": {
                              "cnpj": {
                                "type": "string",
                                "example": "99998887000100"
                              },
                              "nome_emit": {
                                "type": "string",
                                "example": "RAZAO SOCIAL DO CLIENTE"
                              },
                              "ins_estadual": {
                                "type": "string",
                                "example": "3131313131031"
                              },
                              "endereco": {
                                "type": "string",
                                "example": "RUA SEM NOME, SEM NUMERO"
                              },
                              "cidade": {
                                "type": "string",
                                "example": "CIDADE"
                              },
                              "bairro": {
                                "type": "string",
                                "example": "BAIRRO"
                              },
                              "cep": {
                                "type": "string",
                                "example": "10101000"
                              },
                              "uf": {
                                "type": "string",
                                "example": "UF"
                              }
                            }
                          },
                          "transporte": {
                            "type": "object",
                            "properties": {
                              "frete": {
                                "type": "string",
                                "example": "CIF"
                              },
                              "valor": {
                                "type": "number",
                                "example": "0.0"
                              },
                              "nome": {
                                "type": "string",
                                "example": "NOME DA TRANSPORTADORA"
                              },
                              "cnpj": {
                                "type": "string",
                                "example": "99998887000100"
                              },
                              "endereco": {
                                "type": "string",
                                "example": "RUA SEM NOME, SEM NUMERO"
                              },
                              "cidade": {
                                "type": "string",
                                "example": "CIDADE"
                              },
                              "bairro": {
                                "type": "string",
                                "example": "BAIRRO"
                              },
                              "cep": {
                                "type": "string",
                                "example": "10101000"
                              },
                              "uf": {
                                "type": "string",
                                "example": "UF"
                              },
                              "ins_estadual": {
                                "type": "string",
                                "example": "3131313131031"
                              },
                              "contato": {
                                "type": "string",
                                "example": "contato@email.com"
                              },
                              "telefone": {
                                "type": "string",
                                "example": "(00) 00000-0000"
                              },
                              "despacho": {
                                "type": "string",
                                "example": ""
                              },
                              "seguro": {
                                "type": "number",
                                "example": "0.0"
                              }
                            }
                          },
                          "itens": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "item": {
                                  "type": "string",
                                  "example": "099XX9999990000"
                                },
                                "descricao": {
                                  "type": "string",
                                  "example": "DESCRICAO DO ITEM"
                                },
                                "peso_liquido": {
                                  "type": "number",
                                  "example": 1248.486
                                },
                                "peso_bruto": {
                                  "type": "number",
                                  "example": 1269.494
                                },
                                "class_fiscal": {
                                  "type": "string",
                                  "example": "52093200"
                                },
                                "un": {
                                  "type": "string",
                                  "example": "m"
                                },
                                "quantidade": {
                                  "type": "number",
                                  "example": 3001.17
                                },
                                "preco_liquido": {
                                  "type": "number",
                                  "example": 15.41
                                },
                                "lotes": {
                                  "type": "array",
                                  "items": {
                                    "properties": {
                                      "lote": {
                                        "type": "string",
                                        "example": "19218416"
                                      },
                                      "cla_nua": {
                                        "type": "string",
                                        "example": "545"
                                      },
                                      "num_pon": {
                                        "type": "number",
                                        "example": 16.09
                                      },
                                      "largura": {
                                        "type": "number",
                                        "example": 1.6
                                      },
                                      "peso": {
                                        "type": "number",
                                        "example": 42.02
                                      },
                                      "quantidade": {
                                        "type": "number",
                                        "example": 101
                                      },
                                      "dt_fabric": {
                                        "type": "string",
                                        "example": "2024-07-02"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "name"
            ]
          }
        ]
      }
    },
    "/flex/ind/Wescd0001": {
      "get": {
        "tags": [
          "notas"
        ],
        "summary": "Consulta Notas",
        "description": "Consulta todas as notas fiscais da data informada",
        "operationId": "findNotasByDate",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Data de emiss\u00e3o das notas",
            "required": true,
            "schema": {
              "type": "string",
              "example": "01/11/2024"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "notas": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "nr_nota": {
                            "type": "string",
                            "example": "0000002"
                          },
                          "pedido": {
                            "type": "string",
                            "example": "1200921"
                          },
                          "dt_emissao": {
                            "type": "string",
                            "example": "2024-07-31"
                          },
                          "dt_cancela": {
                            "type": "string",
                            "example": "2024-07-31"
                          },
                          "nat_oper": {
                            "type": "string",
                            "example": "5101AB"
                          },
                          "cond_pagto": {
                            "type": "integer",
                            "example": 39
                          },
                          "desc_cond_pagto": {
                            "type": "string",
                            "example": "15 Dias"
                          },
                          "peso_liquido": {
                            "type": "number",
                            "example": 1248.486
                          },
                          "peso_bruto": {
                            "type": "number",
                            "example": 1269.494
                          },
                          "qt_volumes": {
                            "type": "integer",
                            "example": 31
                          },
                          "desc_volumes": {
                            "type": "string",
                            "example": "ROLO"
                          },
                          "vl_tot_nota": {
                            "type": "number",
                            "example": 46248.03
                          },
                          "representante": {
                            "type": "string",
                            "example": "051"
                          },
                          "observacao": {
                            "type": "string",
                            "example": "Observa\u00e7\u00f5es da nota fiscal"
                          },
                          "cliente": {
                            "type": "object",
                            "properties": {
                              "cnpj": {
                                "type": "string",
                                "example": "99998887000100"
                              },
                              "nome_emit": {
                                "type": "string",
                                "example": "RAZAO SOCIAL DO CLIENTE"
                              },
                              "ins_estadual": {
                                "type": "string",
                                "example": "3131313131031"
                              },
                              "endereco": {
                                "type": "string",
                                "example": "RUA SEM NOME, SEM NUMERO"
                              },
                              "cidade": {
                                "type": "string",
                                "example": "CIDADE"
                              },
                              "bairro": {
                                "type": "string",
                                "example": "BAIRRO"
                              },
                              "cep": {
                                "type": "string",
                                "example": "10101000"
                              },
                              "uf": {
                                "type": "string",
                                "example": "UF"
                              }
                            }
                          },
                          "transporte": {
                            "type": "object",
                            "properties": {
                              "frete": {
                                "type": "string",
                                "example": "CIF"
                              },
                              "valor": {
                                "type": "number",
                                "example": "0.0"
                              },
                              "nome": {
                                "type": "string",
                                "example": "NOME DA TRANSPORTADORA"
                              },
                              "cnpj": {
                                "type": "string",
                                "example": "99998887000100"
                              },
                              "endereco": {
                                "type": "string",
                                "example": "RUA SEM NOME, SEM NUMERO"
                              },
                              "cidade": {
                                "type": "string",
                                "example": "CIDADE"
                              },
                              "bairro": {
                                "type": "string",
                                "example": "BAIRRO"
                              },
                              "cep": {
                                "type": "string",
                                "example": "10101000"
                              },
                              "uf": {
                                "type": "string",
                                "example": "UF"
                              },
                              "ins_estadual": {
                                "type": "string",
                                "example": "3131313131031"
                              },
                              "contato": {
                                "type": "string",
                                "example": "contato@email.com"
                              },
                              "telefone": {
                                "type": "string",
                                "example": "(00) 00000-0000"
                              },
                              "despacho": {
                                "type": "string",
                                "example": ""
                              },
                              "seguro": {
                                "type": "number",
                                "example": "0.0"
                              }
                            }
                          },
                          "itens": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "item": {
                                  "type": "string",
                                  "example": "099XX9999990000"
                                },
                                "descricao": {
                                  "type": "string",
                                  "example": "DESCRICAO DO ITEM"
                                },
                                "peso_liquido": {
                                  "type": "number",
                                  "example": 1248.486
                                },
                                "peso_bruto": {
                                  "type": "number",
                                  "example": 1269.494
                                },
                                "class_fiscal": {
                                  "type": "string",
                                  "example": "52093200"
                                },
                                "un": {
                                  "type": "string",
                                  "example": "m"
                                },
                                "quantidade": {
                                  "type": "number",
                                  "example": 3001.17
                                },
                                "preco_liquido": {
                                  "type": "number",
                                  "example": 15.41
                                },
                                "lotes": {
                                  "type": "array",
                                  "items": {
                                    "properties": {
                                      "lote": {
                                        "type": "string",
                                        "example": "19218416"
                                      },
                                      "cla_nua": {
                                        "type": "string",
                                        "example": "545"
                                      },
                                      "num_pon": {
                                        "type": "number",
                                        "example": 16.09
                                      },
                                      "largura": {
                                        "type": "number",
                                        "example": 1.6
                                      },
                                      "peso": {
                                        "type": "number",
                                        "example": 42.02
                                      },
                                      "quantidade": {
                                        "type": "number",
                                        "example": 101
                                      },
                                      "dt_fabric": {
                                        "type": "string",
                                        "example": "2024-07-02"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "name"
            ]
          }
        ]
      }
    },
    "/flex/ind/Wescd0003": {
      "get": {
        "tags": [
          "notas"
        ],
        "summary": "Consulta Lotes da Nota",
        "description": "Consulta todos os lotes da nota fiscal informada",
        "operationId": "findLotesByNota",
        "parameters": [
          {
            "name": "nota",
            "in": "query",
            "description": "Nr da nota fiscal",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0858204"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nota": {
                      "type": "object",
                      "properties": {
                        "nr_nota": {
                          "type": "string",
                          "example": "0000002"
                        },
                        "serie": {
                          "type": "string",
                          "example": "00"
                        },
                        "itens": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "item": {
                                "type": "string",
                                "example": "099XX9999990000"
                              },
                              "descricao": {
                                "type": "string",
                                "example": "DESCRICAO DO ITEM"
                              },
                              "peso_liquido": {
                                "type": "number",
                                "example": 0.416
                              },
                              "peso_bruto": {
                                "type": "number",
                                "example": 0.444
                              },
                              "qt_tot_item": {
                                "type": "number",
                                "example": 14.36
                              },
                              "lotes": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "lote": {
                                      "type": "string",
                                      "example": "19218416"
                                    },
                                    "cla_nua": {
                                      "type": "string",
                                      "example": "545"
                                    },
                                    "num_pon": {
                                      "type": "number",
                                      "example": 16.09
                                    },
                                    "largura": {
                                      "type": "number",
                                      "example": 1.6
                                    },
                                    "peso": {
                                      "type": "number",
                                      "example": 42.02
                                    },
                                    "quantidade": {
                                      "type": "number",
                                      "example": 101
                                    },
                                    "dt_fabric": {
                                      "type": "string",
                                      "example": "2024-07-02"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "name"
            ]
          }
        ]
      }
    },
    "/flex/ind/pedidos": {
      "get": {
        "tags": [
          "pedidos"
        ],
        "summary": "Consulta Pedidos",
        "description": "Consulta todos os pedidos n\u00e3o encerrados e cancelados nos ultimos 30 dias",
        "operationId": "findAllPedidos",
        "responses": {
          "default": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pedidos": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "pedido": {
                            "type": "integer",
                            "example": 1201076
                          },
                          "tipo": {
                            "type": "string",
                            "example": "NM"
                          },
                          "dt_emissao": {
                            "type": "string",
                            "example": "2024-09-09"
                          },
                          "dt_entrega": {
                            "type": "string",
                            "example": "2024-09-30"
                          },
                          "dt_aceite": {
                            "type": "string",
                            "example": "2024-09-09"
                          },
                          "dt_cancela": {
                            "type": "string",
                            "example": "2024-09-09"
                          },
                          "user_canc": {
                            "type": "string",
                            "example": "it-xxyzw"
                          },
                          "desc_cancela": {
                            "type": "string",
                            "example": "DESCRICAO DO CANCELAMENTO"
                          },
                          "cod_cond_pagto": {
                            "type": "integer",
                            "example": 102
                          },
                          "desc_cond_pagto": {
                            "type": "string",
                            "example": "30/60/90 Dias"
                          },
                          "vl_tot_pedido": {
                            "type": "number",
                            "example": 3793.29
                          },
                          "tp_pedido": {
                            "type": "string",
                            "example": "RESERVA DE ESTOQUE"
                          },
                          "cliente": {
                            "type": "object",
                            "properties": {
                              "cod_emit": {
                                "type": "integer",
                                "example": 6829
                              },
                              "cnpj": {
                                "type": "string",
                                "example": "99988877000100"
                              },
                              "nome_emit": {
                                "type": "string",
                                "example": "NOME DO CLIENTE - RAZ\u00c3O SOCIAL"
                              },
                              "nome_abrev": {
                                "type": "string",
                                "example": "NOME ABREVIADO"
                              },
                              "ins_estadual": {
                                "type": "string",
                                "example": "77888800"
                              },
                              "endereco": {
                                "type": "string",
                                "example": "AVENIDA TESTE, SEM NUMERO"
                              },
                              "cidade": {
                                "type": "string",
                                "example": "CIDADE"
                              },
                              "bairro": {
                                "type": "string",
                                "example": "BAIRRO"
                              },
                              "cep": {
                                "type": "string",
                                "example": "99876000"
                              },
                              "uf": {
                                "type": "string",
                                "example": "UF"
                              },
                              "contato": {
                                "type": "string",
                                "example": "contato@email.com"
                              },
                              "suframa": {
                                "type": "string",
                                "example": ""
                              }
                            }
                          },
                          "transporte": {
                            "type": "object",
                            "properties": {
                              "frete": {
                                "type": "integer",
                                "example": "CIF"
                              },
                              "valor": {
                                "type": "number",
                                "example": 0
                              },
                              "nome": {
                                "type": "string",
                                "example": "NOME DA TRANSPORTADORA"
                              },
                              "cnpj": {
                                "type": "string",
                                "example": "099XX9999990000"
                              },
                              "endereco": {
                                "type": "string",
                                "example": "AVENIDA TESTE, SEM NUMERO"
                              },
                              "cidade": {
                                "type": "string",
                                "example": "CIDADE"
                              },
                              "bairro": {
                                "type": "string",
                                "example": "BAIRRO"
                              },
                              "cep": {
                                "type": "string",
                                "example": "99876000"
                              },
                              "uf": {
                                "type": "string",
                                "example": "UF"
                              },
                              "ins_estadual": {
                                "type": "string",
                                "example": "9998887776543"
                              },
                              "contato": {
                                "type": "string",
                                "example": "contato@email.com"
                              },
                              "telefone": {
                                "type": "string",
                                "example": "00-99999-9999"
                              }
                            }
                          },
                          "itens": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "seq": {
                                  "type": "integer",
                                  "example": 10
                                },
                                "item": {
                                  "type": "string",
                                  "example": "099XX9999990000"
                                },
                                "descricao": {
                                  "type": "string",
                                  "example": "DESCRICAO DO ITEM"
                                },
                                "qt_pedida": {
                                  "type": "number",
                                  "example": 197.67
                                },
                                "vl_unit": {
                                  "type": "number",
                                  "example": 19.19
                                },
                                "vl_total": {
                                  "type": "number",
                                  "example": 3793.2873
                                },
                                "situacao": {
                                  "type": "string",
                                  "example": "ABERTO"
                                },
                                "lotes": {
                                  "type": "array",
                                  "items": {
                                    "properties": {
                                      "lote": {
                                        "type": "string",
                                        "example": "19218416"
                                      },
                                      "cla_nua": {
                                        "type": "string",
                                        "example": "455"
                                      },
                                      "num_pon": {
                                        "type": "number",
                                        "example": 0
                                      },
                                      "largura": {
                                        "type": "number",
                                        "example": 1.6
                                      },
                                      "peso": {
                                        "type": "number",
                                        "example": 42.61
                                      },
                                      "quantidade": {
                                        "type": "number",
                                        "example": 100.5
                                      },
                                      "dt_fabric": {
                                        "type": "string",
                                        "example": "2025-01-17"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "crivos": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "seq": {
                                  "type": "integer",
                                  "example": 10
                                },
                                "crivo": {
                                  "type": "string",
                                  "example": "C248"
                                },
                                "descricao": {
                                  "type": "string",
                                  "example": "DESCRICAO DO CRIVO"
                                },
                                "situacao": {
                                  "type": "string",
                                  "example": "LIBERADO"
                                },
                                "data_ATU": {
                                  "type": "string",
                                  "example": "13/01/25"
                                },
                                "hora_ATU": {
                                  "type": "string",
                                  "example": "14:00"
                                },
                                "usua_ATU": {
                                  "type": "string",
                                  "example": "USUARIO DE ATUALIZACAO"
                                },
                                "data_LIB": {
                                  "type": "string",
                                  "example": "13/01/25"
                                },
                                "hora_LIB": {
                                  "type": "string",
                                  "example": "15:00"
                                },
                                "usua_LIB": {
                                  "type": "string",
                                  "example": "USUARIO DE LIBERACAO"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "name"
            ]
          }
        ]
      }
    },
    "/flex/ind/liberaPedidos": {
      "post": {
        "tags": [
          "pedidos"
        ],
        "summary": "Liberar Pedidos",
        "description": "Liberar pedidos informados",
        "operationId": "liberaPedidos",
        "requestBody": {
          "description": "Array de pedidos a serem liberados",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "nr_pedido"
                ],
                "type": "object",
                "properties": {
                  "liberar": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "nr_pedido": {
                          "type": "integer",
                          "example": 1201076
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucessos": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "nr_pedido": {
                            "type": "integer",
                            "example": 1201076
                          },
                          "mensagem": {
                            "type": "string",
                            "example": "Pedido liberado com sucesso!"
                          }
                        }
                      }
                    },
                    "erros": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "nr_pedido": {
                            "type": "integer",
                            "example": 1201999
                          },
                          "mensagem": {
                            "type": "string",
                            "example": "Pedido nao localizado!"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "name"
            ]
          }
        ]
      }
    },
    "/flex/ind/consultaSaldos": {
      "get": {
        "tags": [
          "estoque"
        ],
        "summary": "Consulta saldos em estoque",
        "description": "Consulta saldos em estoque",
        "operationId": "findAllEstoque",
        "responses": {
          "default": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "saldos": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "item": {
                            "type": "string",
                            "example": "099XX9999990000"
                          },
                          "desc_item": {
                            "type": "string",
                            "example": "DESCRICAO DO ITEM"
                          },
                          "un": {
                            "type": "string",
                            "example": "m"
                          },
                          "class_fiscal": {
                            "type": "string",
                            "example": "52092200"
                          },
                          "lotes": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "lote": {
                                  "type": "string",
                                  "example": "19221596"
                                },
                                "cla_nua": {
                                  "type": "string",
                                  "example": "666"
                                },
                                "num_pon": {
                                  "type": "number",
                                  "example": 14.19
                                },
                                "largura": {
                                  "type": "number",
                                  "example": 1.58
                                },
                                "peso": {
                                  "type": "number",
                                  "example": 11.07
                                },
                                "saldo": {
                                  "type": "number",
                                  "example": 26.6
                                },
                                "dt_fabric": {
                                  "type": "string",
                                  "example": "2024-07-19"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "name"
            ]
          }
        ]
      }
    },
    "/flex/ind/Wescd0002": {
      "post": {
        "tags": [
          "estoque"
        ],
        "summary": "Envio de nora e Baixa estoque",
        "description": "Envio de nota fiscal e baixa de saldo em estoque",
        "operationId": "baixaEstoque",
        "requestBody": {
          "description": "Array de notas fiscais para baixar saldos em estoque ",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "nota_ematex",
                  "romaneio_santa"
                ],
                "type": "object",
                "properties": {
                  "baixas": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "nota_ematex": {
                          "type": "string",
                          "example": "0123456"
                        },
                        "romaneio_santa": {
                          "type": "string",
                          "example": "0000000"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "success": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "erp": {
                      "type": "string",
                      "example": "Dados recebidos no ERP com sucesso."
                    },
                    "erros": {
                      "type": "array",
                      "items": {
                        "properties": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "error": {
            "description": "Erro",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ERROR"
                    },
                    "erp": {
                      "type": "string",
                      "example": "Dados recebidos no ERP com erro."
                    },
                    "erros": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "msg": {
                            "type": "string",
                            "example": "Romaneio Santanense (0000000) nao localizado!"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "name"
            ]
          }
        ]
      }
    },
    "/flex/ind/AtuCliValues": {
      "post": {
        "tags": [
          "clientes"
        ],
        "summary": "Atualiza dados de clientes",
        "description": "Atualiza dados financeiros de clientes",
        "operationId": "AtuCliValues",
        "requestBody": {
          "description": "Array de clientes ",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "cnpj"
                ],
                "type": "object",
                "properties": {
                  "clientes": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "cnpj": {
                          "type": "string",
                          "example": "99998887000100"
                        },
                        "dt_lim_cred": {
                          "type": "string",
                          "example": "31/12/2024"
                        },
                        "tip_credito": {
                          "type": "string",
                          "example": "TIPO DO CR\u00c9DITO"
                        },
                        "lim_credito": {
                          "type": "number",
                          "example": 5000000
                        },
                        "dt_ult_nota": {
                          "type": "string",
                          "example": "10/10/2024"
                        },
                        "val_ult_nota": {
                          "type": "number",
                          "example": 3000.57
                        },
                        "val_fat_total": {
                          "type": "number",
                          "example": 15000.95
                        },
                        "val_maior_nota": {
                          "type": "number",
                          "example": 2500
                        },
                        "dt_maior_nota": {
                          "type": "string",
                          "example": "01/10/2023"
                        },
                        "val_aberto": {
                          "type": "number",
                          "example": 50000.75
                        },
                        "val_atraso": {
                          "type": "number",
                          "example": 1000
                        },
                        "prazo_medio": {
                          "type": "integer",
                          "example": 10
                        },
                        "liquid": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "seq": {
                                "type": "string",
                                "example": "202312"
                              },
                              "periodo": {
                                "type": "string",
                                "example": "12/2023"
                              },
                              "atm": {
                                "type": "integer",
                                "example": -3
                              },
                              "pmr": {
                                "type": "integer",
                                "example": 2
                              },
                              "vendas": {
                                "type": "number",
                                "example": 49372.03
                              }
                            }
                          }
                        },
                        "estat": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "seq": {
                                "type": "integer",
                                "example": 1
                              },
                              "periodo": {
                                "type": "string",
                                "example": "11/2024"
                              },
                              "per": {
                                "type": "string",
                                "example": "202411"
                              },
                              "atm": {
                                "type": "integer",
                                "example": 0
                              },
                              "pmr": {
                                "type": "integer",
                                "example": 0
                              },
                              "vendas": {
                                "type": "number",
                                "example": 0
                              },
                              "pedido": {
                                "type": "number",
                                "example": 0
                              },
                              "metrag": {
                                "type": "number",
                                "example": 0
                              },
                              "premed": {
                                "type": "number",
                                "example": 0
                              },
                              "a_vencer": {
                                "type": "number",
                                "example": 1879.9
                              },
                              "pago": {
                                "type": "number",
                                "example": 852.15
                              }
                            }
                          }
                        },
                        "receb": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "seq": {
                                "type": "integer",
                                "example": 1
                              },
                              "periodo": {
                                "type": "string",
                                "example": "11/2024"
                              },
                              "a_vencer": {
                                "type": "number",
                                "example": 1879.9
                              },
                              "pago": {
                                "type": "number",
                                "example": 852.15
                              }
                            }
                          }
                        },
                        "docto": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "seq": {
                                "type": "integer",
                                "example": 1
                              },
                              "periodo": {
                                "type": "string",
                                "example": "11/2024"
                              },
                              "especie": {
                                "type": "string",
                                "example": "TE"
                              },
                              "serie": {
                                "type": "string",
                                "example": "99"
                              },
                              "dt_vencimento": {
                                "type": "string",
                                "example": "12/01/2025"
                              },
                              "dt_emissao": {
                                "type": "string",
                                "example": "01/01/2025"
                              },
                              "nro_docto": {
                                "type": "string",
                                "example": "0000196"
                              },
                              "nro_parc": {
                                "type": "string",
                                "example": "01"
                              },
                              "portador": {
                                "type": "string",
                                "example": "237"
                              },
                              "val_tit": {
                                "type": "number",
                                "example": 9879.91
                              },
                              "val_saldo_tit": {
                                "type": "number",
                                "example": 852.98
                              },
                              "cod_carteira": {
                                "type": "string",
                                "example": "EMA"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "success": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "cnpj": {
                            "type": "string",
                            "example": "99998887000100"
                          },
                          "mensagem": {
                            "type": "string",
                            "example": "Dados integrados com sucesso!"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "error": {
            "description": "Erro",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "cnpj": {
                            "type": "string",
                            "example": "99998887000100"
                          },
                          "mensagem": {
                            "type": "string",
                            "example": "Cliente nao localizado!"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              "name"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "x_api_key",
        "in": "header"
      }
    }
  }
}