{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0.0",
    "title": "ATTOM Property API",
    "description": "ATTOM Property API provides programmatic access to property resources.",
    "x-jentic-source-url": "https://api.developer.attomdata.com/swagger/spec/propertyapi_property.json"
  },
  "servers": [
    {
      "url": "https://api.gateway.attomdata.com/propertyapi/v1.0.0"
    }
  ],
  "paths": {
    "/property/id": {
      "get": {
        "tags": [
          "Property"
        ],
        "summary": "Returns a list of properties that fit a criteria.",
        "description": "Get a list of property IDs within a specific geography that have a specific number of beds. Use orderby to choose how you want your results sorted.",
        "operationId": "getPropertyIdList",
        "parameters": [
          {
            "name": "apikey",
            "description": "Application Key",
            "in": "header",
            "x-data-threescale-name": "user_keys",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "accept",
            "description": "application/xml or application/json (default)",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string",
              "enum": [
                "application/xml",
                "application/json"
              ]
            }
          },
          {
            "name": "geoid",
            "description": "A list of geographies that this property belongs to. These geoIDs are used by search engine and values should not be exposed to the public.",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "PL0820000"
            }
          },
          {
            "name": "minBeds",
            "description": "The min Bed size to search from.",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "maxBeds",
            "description": "The max Bed size to search from.",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "2"
            }
          },
          {
            "name": "orderby",
            "description": "Sort Options",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "calendardate",
                "publisheddate",
                "propertytype",
                "saleamt",
                "avmvalue",
                "assdttlvalue",
                "salesearchdate",
                "saletransactiondate",
                "beds",
                "bathstotal",
                "universalsize",
                "lotsize1",
                "lotsize2"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "list of IDs for properties"
          },
          "403": {
            "description": "apikey invalid/missing"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/property/detail": {
      "get": {
        "tags": [
          "Property"
        ],
        "summary": "Returns property details based on an ID.",
        "description": "Get property details based on its attom ID.",
        "operationId": "propertyDetails",
        "parameters": [
          {
            "name": "apikey",
            "description": "Application Key",
            "in": "header",
            "x-data-threescale-name": "user_keys",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "accept",
            "description": "application/xml or application/json (default)",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string",
              "enum": [
                "application/xml",
                "application/json"
              ]
            }
          },
          {
            "name": "attomid",
            "description": "attom id",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "184713191"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "list of property details"
          },
          "403": {
            "description": "apikey invalid/missing"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/property/address": {
      "get": {
        "tags": [
          "Property"
        ],
        "summary": "Returns properties within a zip code.",
        "description": "Get a list of properties within a zip code. Use propertytype and order by to narrow down your results.",
        "operationId": "adressList",
        "parameters": [
          {
            "name": "apikey",
            "description": "Application Key",
            "in": "header",
            "x-data-threescale-name": "user_keys",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "accept",
            "description": "application/xml or application/json (default)",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string",
              "enum": [
                "application/xml",
                "application/json"
              ]
            }
          },
          {
            "name": "postalcode",
            "description": "The zip code or postal code to search",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "82009"
            }
          },
          {
            "name": "propertytype",
            "description": "A specific property classification such as 'Detached Single Family'",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "AGRICULTURAL (NEC)",
                "APARTMENT",
                "CABIN",
                "CLUB",
                "COMMERCIAL (NEC)",
                "COMMERCIAL BUILDING",
                "COMMERCIAL CONDOMINIUM",
                "COMMON AREA",
                "CONDOMINIUM",
                "CONVERTED RESIDENCE",
                "COUNTY PROPERTY",
                "DUPLEX",
                "FARMS",
                "FAST FOOD FRANCHISE",
                "FEDERAL PROPERTY",
                "FOREST",
                "GROUP QUARTERS",
                "INDUSTRIAL (NEC)",
                "INDUSTRIAL PLANT",
                "MANUFACTURED HOME",
                "MARINA FACILITY",
                "MISCELLANEOUS",
                "MOBILE HOME",
                "MOBILE HOME LOT",
                "MOBILE HOME PARK",
                "MULTI FAMILY DWELLING",
                "NURSERY/HORTICULTURE",
                "OFFICE BUILDING",
                "PUBLIC (NEC)",
                "RELIGIOUS",
                "RESIDENTIAL (NEC)",
                "RESIDENTIAL ACREAGE",
                "RESIDENTIAL LOT",
                "RETAIL TRADE",
                "SFR",
                "STATE PROPERTY",
                "STORES & OFFICES",
                "STORES & RESIDENTIAL",
                "TAX EXEMPT",
                "TOWNHOUSE/ROWHOUSE",
                "TRIPLEX",
                "UTILITIES",
                "VACANT LAND (NEC)"
              ]
            }
          },
          {
            "name": "orderby",
            "description": "Sorting Options",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "calendardate",
                "publisheddate",
                "propertytype",
                "saleamt",
                "avmvalue",
                "assdttlvalue",
                "salesearchdate",
                "saletransactiondate",
                "beds",
                "bathstotal",
                "universalsize",
                "lotsize1",
                "lotsize2"
              ]
            }
          },
          {
            "name": "page",
            "description": "The current view index based on the pagesize and the total number of records available",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "pagesize",
            "description": "The number of records to be returned with the request",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "100"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "list of property addresses"
          },
          "403": {
            "description": "apikey invalid/missing"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/property/snapshot": {
      "get": {
        "tags": [
          "Property"
        ],
        "summary": "Returns properties and their characteristics that fit a criteria.",
        "description": "Get a list of property snapshots within a specific city that are within a desired size range and a specific property type.",
        "operationId": "propertySnapshot",
        "parameters": [
          {
            "name": "apikey",
            "description": "Application Key",
            "in": "header",
            "x-data-threescale-name": "user_keys",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "accept",
            "description": "application/xml or application/json (default)",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string",
              "enum": [
                "application/xml",
                "application/json"
              ]
            }
          },
          {
            "name": "cityname",
            "description": "The name of the city to search from",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "Douglas"
            }
          },
          {
            "name": "minLotSize1",
            "description": "The min Lot size 1 to search from",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "maxLotSize1",
            "description": "The max Lot size 1 to search from",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "100"
            }
          },
          {
            "name": "propertytype",
            "description": "A specific property classification such as 'Detached Single Family'",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "AGRICULTURAL (NEC)",
                "APARTMENT",
                "CABIN",
                "CLUB",
                "COMMERCIAL (NEC)",
                "COMMERCIAL BUILDING",
                "COMMERCIAL CONDOMINIUM",
                "COMMON AREA",
                "CONDOMINIUM",
                "CONVERTED RESIDENCE",
                "COUNTY PROPERTY",
                "DUPLEX",
                "FARMS",
                "FAST FOOD FRANCHISE",
                "FEDERAL PROPERTY",
                "FOREST",
                "GROUP QUARTERS",
                "INDUSTRIAL (NEC)",
                "INDUSTRIAL PLANT",
                "MANUFACTURED HOME",
                "MARINA FACILITY",
                "MISCELLANEOUS",
                "MOBILE HOME",
                "MOBILE HOME LOT",
                "MOBILE HOME PARK",
                "MULTI FAMILY DWELLING",
                "NURSERY/HORTICULTURE",
                "OFFICE BUILDING",
                "PUBLIC (NEC)",
                "RELIGIOUS",
                "RESIDENTIAL (NEC)",
                "RESIDENTIAL ACREAGE",
                "RESIDENTIAL LOT",
                "RETAIL TRADE",
                "SFR",
                "STATE PROPERTY",
                "STORES & OFFICES",
                "STORES & RESIDENTIAL",
                "TAX EXEMPT",
                "TOWNHOUSE/ROWHOUSE",
                "TRIPLEX",
                "UTILITIES",
                "VACANT LAND (NEC)"
              ]
            }
          },
          {
            "name": "orderby",
            "description": "Sorting Options",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "calendardate",
                "publisheddate",
                "propertytype",
                "saleamt",
                "avmvalue",
                "assdttlvalue",
                "salesearchdate",
                "saletransactiondate",
                "beds",
                "bathstotal",
                "universalsize",
                "lotsize1",
                "lotsize2"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "list of snapshots"
          },
          "403": {
            "description": "apikey invalid/missing"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/property/basicprofile": {
      "get": {
        "tags": [
          "Property"
        ],
        "summary": "Returns basic property information and most recent transaction and taxes.",
        "description": "Get basic property information and most recent transaction and taxes for a specific address.",
        "operationId": "propertyBasicProfile",
        "parameters": [
          {
            "name": "apikey",
            "description": "Application Key",
            "in": "header",
            "x-data-threescale-name": "user_keys",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "accept",
            "description": "application/xml or application/json (default)",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string",
              "enum": [
                "application/xml",
                "application/json"
              ]
            }
          },
          {
            "name": "address1",
            "description": "The first line of the property address",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "4529 Winona Court"
            }
          },
          {
            "name": "address2",
            "description": "The second line of the property address",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "Denver, CO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "list of basic property information and most recent transaction and taxes"
          },
          "403": {
            "description": "apikey invalid/missing"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/property/expandedprofile": {
      "get": {
        "tags": [
          "Property"
        ],
        "summary": "Returns detailed property information and most recent transaction and taxes.",
        "description": "Get a detailed property information and most recent transaction and taxes for a specific address.",
        "operationId": "propertyExpandedProfile",
        "parameters": [
          {
            "name": "apikey",
            "description": "Application Key",
            "in": "header",
            "x-data-threescale-name": "user_keys",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "accept",
            "description": "application/xml or application/json (default)",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string",
              "enum": [
                "application/xml",
                "application/json"
              ]
            }
          },
          {
            "name": "address1",
            "description": "The first line of the property address",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "4529 Winona Court"
            }
          },
          {
            "name": "address2",
            "description": "The second line of the property address",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "Denver, CO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "list of detailed property information and most recent transaction and taxes"
          },
          "403": {
            "description": "apikey invalid/missing"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/property/buildingpermits": {
      "get": {
        "tags": [
          "Property"
        ],
        "summary": "Returns basic property information and building permits detail.",
        "description": "Get a basic property information and building permits detail for a specific address.",
        "operationId": "propertyBuildingPermits",
        "parameters": [
          {
            "name": "apikey",
            "description": "Application Key",
            "in": "header",
            "x-data-threescale-name": "user_keys",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "accept",
            "description": "application/xml or application/json (default)",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string",
              "enum": [
                "application/xml",
                "application/json"
              ]
            }
          },
          {
            "name": "address1",
            "description": "The first line of the property address",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "4529 Winona Court"
            }
          },
          {
            "name": "address2",
            "description": "The second line of the property address",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "Denver, CO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Building permits record for a specific address"
          },
          "403": {
            "description": "apikey invalid/missing"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    }
  },
  "components": {}
}