{
  "openapi": "3.0.0",
  "info": {
    "title": "API documentation i\u2019way transfer",
    "description": "API documentation to external integration",
    "contact": {
      "name": "Technical Support Service",
      "email": "support@iway.ru"
    },
    "version": "3.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/iway.io/booking_api_en/3.0.0/swagger.json"
  },
  "externalDocs": {
    "description": "Additional API Documentation",
    "url": "https://docs.google.com/document/d/1mmg5IsgU3SKlspNxdC70tfeuhkSg4i3QpPcsDBIxT4o"
  },
  "servers": [
    {
      "description": "Sandbox Enviroment",
      "url": "https://sandbox.iway.io/transnextgen/"
    }
  ],
  "tags": [
    {
      "name": "user",
      "description": "Users"
    },
    {
      "name": "place",
      "description": "Places"
    },
    {
      "name": "transport node",
      "description": "TransportNode"
    },
    {
      "name": "price",
      "description": "Prices"
    },
    {
      "name": "order",
      "description": "Orders"
    },
    {
      "name": "document",
      "description": "Documents"
    }
  ],
  "components": {
    "schemas": {
      "user_id": {
        "title": "User Identifier",
        "type": "integer",
        "example": 1863
      },
      "term": {
        "title": "String for searching for prompts of locations",
        "type": "string",
        "example": "Airport Tolmachevo"
      },
      "password": {
        "title": "User Password",
        "type": "string",
        "format": "password",
        "example": "1830Voldemort"
      },
      "transaction": {
        "title": "Unique order identifier. Common for orders from several trips (payment transaction)",
        "type": "integer",
        "example": 14565973
      },
      "pos": {
        "title": "Point of sale",
        "type": "string",
        "example": "Cash Desk Terminal S7 No. 14373"
      },
      "lang": {
        "title": "Localization of expected response",
        "description": "Localization of expected response\n`ru` - Russian\n`en` - English\n",
        "type": "string",
        "enum": [
          "ru",
          "en"
        ],
        "example": "en",
        "default": "ru"
      },
      "currency": {
        "title": "Currency of the price offer",
        "description": "Currency of the price offer\n`RUB` - Russian Ruble\n`EUR` - Euro\n`USD` - US Dollar\n`CNY` - Yuan Renminbi\n`CZK` - Czech Krona\n`GBP` - Pound Sterling\n`INR` - Indian Rupiah\n`KZT` - Tenge\n`SGD` - Singapore Dollar\n`TRY` - Turkish Lyra\n`UAH` - Hryvnia\n`ZAR` - Rand\n`BYN` - Belarusian Ruble\n",
        "type": "string",
        "enum": [
          "RUB",
          "EUR",
          "USD",
          "CNY",
          "CZK",
          "GBP",
          "INR",
          "KZT",
          "SGD",
          "TRY",
          "UAH",
          "ZAR",
          "BYN"
        ],
        "example": "RUB",
        "default": "RUB"
      },
      "place_point": {
        "title": "Route point coordinates",
        "type": "string",
        "example": "55.00835259999999,82.9357327"
      },
      "departure_time": {
        "title": "Departure time of either train or plain",
        "type": "string",
        "example": "2021-08-21 12:00"
      },
      "pickup_time": {
        "title": "Date and time of picking up",
        "type": "string",
        "example": "2021-08-21 12:00"
      },
      "start_place_id": {
        "title": "Identificator of departure point (required in case of ordering Rent with driver)",
        "type": "integer",
        "example": 135
      },
      "trip_id": {
        "title": "Identificator of a trip",
        "type": "integer",
        "example": 2503504
      },
      "duration": {
        "title": "Duration of car rental (in seconds)",
        "type": "integer",
        "example": 3600
      },
      "additional_change_itinerary": {
        "title": "Additional heats/routing changes",
        "description": "Additional heats/routing changes\n`1` - Does not require approval\n`2` - Requires approval\n`3` - Forbidden\n",
        "type": "integer",
        "enum": [
          1,
          2,
          3
        ],
        "example": 1
      },
      "additional_wait": {
        "title": "Additional waiting",
        "description": "Additional waiting\n`1` - Does not require approval\n`2` - Requires approval\n`3` - Forbidden\n",
        "type": "integer",
        "enum": [
          1,
          2,
          3
        ],
        "example": 1
      },
      "fare_on_toll_road": {
        "title": "Toll road",
        "description": "Toll road\n`1` - Does not require approval\n`2` - Requires approval\n`3` - Forbidden\n",
        "type": "integer",
        "enum": [
          1,
          2,
          3
        ],
        "example": 1
      },
      "flexible_tariff": {
        "title": "The flag of the service \"Meet the sign\"",
        "type": "boolean",
        "example": true
      },
      "flexible_tariff_agreement": {
        "title": "Flag the availability of the service contract - Flexible tariffication",
        "type": "boolean",
        "example": true
      },
      "price_id": {
        "title": "Route point object",
        "type": "integer",
        "example": 2921215
      },
      "passengers_number": {
        "title": "Number of passengers",
        "type": "integer",
        "example": 3
      },
      "text_tablet": {
        "title": "Plate text",
        "type": "string",
        "example": "i`way is waiting for you!"
      },
      "comment": {
        "title": "Comment on the order",
        "type": "string",
        "example": "Please do not be late."
      },
      "payable_status": {
        "title": "Payment status of the order",
        "description": "Payment status of the order\n`0` - Not paid\n`1` - Paid\n`5` - Canceled\n",
        "type": "integer",
        "enum": [
          0,
          1,
          5
        ],
        "example": 1
      },
      "service_id": {
        "title": "Type of trip",
        "description": "Type of trip\n`1` - Transfer\n`2` - Rent with driver\n",
        "type": "integer",
        "enum": [
          1,
          2
        ],
        "example": 1
      },
      "status": {
        "title": "Travel processing status",
        "description": "`0` - Waiting for processing\n`1` - Processing\n`2` - Accepted\n`3` - Done\n`4` - Cancelled without penalty\n`5` - Cancelled with a fine\n`6` - Not paid\n`7` - Modified\n",
        "type": "integer",
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7
        ],
        "example": 0
      },
      "order_id": {
        "title": "Order / Trip ID",
        "type": "integer",
        "example": 4000172
      },
      "booker_number": {
        "title": "Internal order number in the i'way accounting system (1C)",
        "type": "string",
        "example": "C-0000062"
      },
      "price": {
        "title": "Cost of trip",
        "type": "integer",
        "example": 539
      },
      "price_uuid": {
        "title": "Offer UUID",
        "type": "string",
        "example": "704fecdc-d516-4cc5-bf61-5a74a37c7ba4"
      },
      "location_object": {
        "title": "Route point",
        "type": "object",
        "properties": {
          "place_id": {
            "description": "Route point identifier from Google Maps search engine",
            "type": "string",
            "example": "ChIJybDUc_xKtUYRTM9XV8zWRD0"
          },
          "flight_number": {
            "description": "Flight number, if the place where the trip started airport",
            "type": "string",
            "example": "TS-12"
          },
          "terminal_number": {
            "description": "Airport terminal number if the starting or ending point of the trip airport",
            "type": "string",
            "example": "TS-41"
          },
          "train_number": {
            "description": "Train number if the starting point of the trip is the railway station",
            "type": "string",
            "example": "TS-1352"
          },
          "train_carriage_number": {
            "description": "Train coach number, if the place where the train started its journey",
            "type": "string",
            "example": "TS-4"
          },
          "address": {
            "description": "Place address",
            "type": "string",
            "example": "Novosibirsk"
          },
          "location": {
            "description": "Place coordinates",
            "type": "string",
            "example": "55.00835259999999,82.9357327"
          },
          "time": {
            "description": "Time of arrival/departure of the aircraft, arrival/departure of the train or delivery of the car. Depends on the type of departure/destination",
            "type": "string",
            "format": "date-time",
            "example": "2020-05-30 00:00"
          }
        }
      },
      "place_object": {
        "title": "Route point",
        "type": "object",
        "properties": {
          "place_id": {
            "type": "integer",
            "example": 9
          },
          "title": {
            "type": "string",
            "example": "Novosibirsk"
          },
          "type": {
            "type": "integer",
            "example": 1
          },
          "type_title": {
            "type": "string",
            "example": "within town"
          },
          "terminal": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "declension_titles": {
            "type": "object",
            "properties": {
              "nom": {
                "type": "string",
                "example": null
              },
              "gen": {
                "type": "string",
                "example": null
              },
              "acc": {
                "type": "string",
                "example": null
              }
            }
          }
        }
      },
      "trip_object": {
        "title": "Trip",
        "type": "object",
        "properties": {
          "user_id": {
            "$ref": "#/components/schemas/user_id"
          },
          "price_id": {
            "$ref": "#/components/schemas/price_id"
          },
          "start_location": {
            "$ref": "#/components/schemas/location_object"
          },
          "finish_location": {
            "$ref": "#/components/schemas/location_object"
          },
          "additional_locations": {
            "title": "Additional addresses list",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/location_object"
            }
          },
          "passengers": {
            "title": "Passenger list",
            "type": "array",
            "items": {
              "title": "Passenger",
              "type": "object",
              "properties": {
                "name": {
                  "description": "Passenger name",
                  "type": "string",
                  "example": "Test Test"
                },
                "email": {
                  "description": "Passenger's e-mail address",
                  "type": "string",
                  "example": "iwaytest@gmail.com"
                },
                "phone": {
                  "description": "Passenger's phone",
                  "type": "string",
                  "example": "79139134657"
                }
              }
            }
          },
          "passengers_number": {
            "$ref": "#/components/schemas/passengers_number"
          },
          "text_tablet": {
            "$ref": "#/components/schemas/text_tablet"
          },
          "comment": {
            "$ref": "#/components/schemas/comment"
          },
          "additional_change_itinerary": {
            "$ref": "#/components/schemas/additional_change_itinerary"
          },
          "additional_wait": {
            "$ref": "#/components/schemas/additional_wait"
          },
          "fare_on_toll_road": {
            "$ref": "#/components/schemas/fare_on_toll_road"
          },
          "additional_services": {
            "title": "Array of service identifiers",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number"
                }
              }
            },
            "example": [
              {
                "id": 2
              }
            ]
          },
          "platform": {
            "title": "Platform Identifier (to be negotiated during integration)",
            "type": "integer",
            "description": "`3` - Booking module / Frame\n`7` - API\n",
            "enum": [
              3,
              7
            ],
            "example": 7,
            "default": 7
          },
          "flexible_tariff": {
            "$ref": "#/components/schemas/flexible_tariff"
          },
          "flexible_tariff_agreement": {
            "$ref": "#/components/schemas/flexible_tariff_agreement"
          },
          "pos": {
            "$ref": "#/components/schemas/pos"
          },
          "send_params": {
            "title": "Notification settings",
            "type": "object",
            "properties": {
              "send_client_voucher": {
                "description": "Send the voucher to the passenger",
                "type": "boolean",
                "example": false
              },
              "send_admin_voucher": {
                "description": "Send the voucher to the personal administrator's account",
                "type": "boolean",
                "example": false
              },
              "send_client_doc": {
                "description": "Send documents to the user of personal cabinet",
                "type": "boolean",
                "example": false
              },
              "send_admin_doc": {
                "description": "Send documents to the administrator of personal cabinet",
                "type": "boolean",
                "example": false
              }
            }
          }
        }
      },
      "order_object": {
        "title": "Order",
        "type": "object",
        "properties": {
          "order_id": {
            "$ref": "#/components/schemas/order_id"
          },
          "transaction": {
            "$ref": "#/components/schemas/transaction"
          },
          "booker_number": {
            "$ref": "#/components/schemas/booker_number"
          },
          "price": {
            "$ref": "#/components/schemas/price"
          },
          "payable_status": {
            "$ref": "#/components/schemas/payable_status"
          },
          "service_id": {
            "$ref": "#/components/schemas/service_id"
          },
          "currency": {
            "$ref": "#/components/schemas/currency"
          },
          "status": {
            "$ref": "#/components/schemas/status"
          },
          "passengers": {
            "type": "array",
            "items": {
              "title": "Passenger",
              "type": "object",
              "properties": {
                "name": {
                  "description": "Passenger name",
                  "type": "string",
                  "example": "Test Test"
                },
                "email": {
                  "description": "Passenger's e-mail address",
                  "type": "string",
                  "example": "iwaytest@gmail.com"
                },
                "phone": {
                  "description": "Passenger's phone",
                  "type": "string",
                  "example": "79139134657"
                }
              }
            }
          },
          "additional_change_itinerary": {
            "$ref": "#/components/schemas/additional_change_itinerary"
          },
          "additional_wait": {
            "$ref": "#/components/schemas/additional_wait"
          },
          "fare_on_toll_road": {
            "$ref": "#/components/schemas/fare_on_toll_road"
          },
          "send_params": {
            "title": "Notification settings",
            "type": "object",
            "properties": {
              "send_client_voucher": {
                "description": "Send the voucher to the passenger",
                "type": "boolean",
                "example": false
              },
              "send_admin_voucher": {
                "description": "Send the voucher to the personal administrator's account",
                "type": "boolean",
                "example": false
              },
              "send_client_doc": {
                "description": "Send documents to the user of personal cabinet",
                "type": "boolean",
                "example": false
              },
              "send_admin_doc": {
                "description": "Send documents to the administrator of personal cabinet",
                "type": "boolean",
                "example": false
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v3/auth/login": {
      "post": {
        "security": [],
        "tags": [
          "user"
        ],
        "summary": "User authorization in i`way transfer booking system",
        "operationId": "authUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "$ref": "#/components/schemas/user_id"
                  },
                  "password": {
                    "$ref": "#/components/schemas/password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "title": "Authentication token",
                          "type": "string",
                          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE1MjYwMTYwMTcsImV4cCI6MTUyNjYyMDgxNywidXNlciI6eyJpZCI6IjY2NiJ9fQ.-CY39UWl9jT-CkeYDkNp7dbbr4ubECc4JEjzyGnLqKw"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/places/check-location-from-places": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "place"
        ],
        "summary": "Method for checking whether coordinates are in polygons of places (available for cities only)",
        "parameters": [
          {
            "in": "query",
            "name": "lang",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "place_ids": {
                    "description": "Array of places consisting of start_place and finish_place received from price offer. Used for checking whether place_id is in polygons of places (available for cities only)",
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "example": 9
                    }
                  },
                  "place_id": {
                    "description": "place_id from Google response (necessary in case \"location\" field is not filled)",
                    "type": "string",
                    "example": "ChIJK19vOtLl30IRoBFhiuaogNI"
                  },
                  "location": {
                    "description": "Coordinate of a place for checking (necessary in case \"place_id\" field is not filled)",
                    "type": "string",
                    "example": "55.02896699999999,82.915077"
                  }
                },
                "required": [
                  "place_ids",
                  "place_id",
                  "location"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "is_from_polygons": {
                          "title": "Returns true in case there is an occurrence into at least one polygon",
                          "type": "boolean",
                          "example": true
                        },
                        "message": {
                          "title": "In case is_from_polygons = false an error message returns",
                          "type": "string",
                          "example": ""
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/prices": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "price"
        ],
        "summary": "Getting the list of offers on \"Transfer\" service",
        "operationId": "getTransferPriceList",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "currency",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/currency"
            }
          },
          {
            "in": "query",
            "name": "start_place_point",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/place_point"
            }
          },
          {
            "in": "query",
            "name": "finish_place_point",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/place_point"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "title": "Price offer",
                        "type": "object",
                        "properties": {
                          "price_uid": {
                            "$ref": "#/components/schemas/price_uuid"
                          },
                          "price_id": {
                            "$ref": "#/components/schemas/price_id"
                          },
                          "price": {
                            "$ref": "#/components/schemas/price"
                          },
                          "price_rub": {
                            "$ref": "#/components/schemas/price"
                          },
                          "reverse_price": {
                            "type": "object",
                            "properties": {
                              "price_id": {
                                "$ref": "#/components/schemas/price_id"
                              },
                              "price": {
                                "$ref": "#/components/schemas/price"
                              }
                            }
                          },
                          "currency": {
                            "$ref": "#/components/schemas/currency"
                          },
                          "service_id": {
                            "$ref": "#/components/schemas/service_id"
                          },
                          "car_class": {
                            "type": "object",
                            "properties": {
                              "car_class_id": {
                                "type": "integer",
                                "example": 2
                              },
                              "title": {
                                "type": "string",
                                "example": "r"
                              },
                              "models": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "Skoda Octavia"
                                }
                              },
                              "photo": {
                                "type": "string",
                                "example": "kaknoo5tp6.png"
                              },
                              "capacity": {
                                "type": "integer",
                                "example": 3
                              }
                            }
                          },
                          "allowable_subaddress": {
                            "type": "integer",
                            "example": 3
                          },
                          "price_subaddress": {
                            "type": "integer",
                            "example": 270
                          },
                          "cancellation_time": {
                            "type": "integer",
                            "example": 2
                          },
                          "type": {
                            "type": "integer",
                            "example": 1
                          },
                          "payed_road": {
                            "type": "boolean",
                            "example": false
                          },
                          "blackout_date": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "format": "date"
                            }
                          },
                          "allowable_time": {
                            "type": "integer",
                            "example": 2
                          },
                          "is_special": {
                            "type": "integer"
                          },
                          "class_services": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "enum": [
                                  1,
                                  2,
                                  3
                                ]
                              },
                              "title": {
                                "type": "integer"
                              },
                              "value": {
                                "type": "integer"
                              }
                            }
                          },
                          "id_custom_price": {
                            "type": "integer",
                            "example": null
                          },
                          "minimum_duration": {
                            "type": "integer",
                            "example": 0
                          },
                          "start_place": {
                            "$ref": "#/components/schemas/place_object"
                          },
                          "finish_place": {
                            "$ref": "#/components/schemas/place_object"
                          },
                          "flexible_tariff": {
                            "$ref": "#/components/schemas/flexible_tariff"
                          },
                          "flexible_tariff_agreement": {
                            "$ref": "#/components/schemas/flexible_tariff_agreement"
                          },
                          "additional_services": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "title": "ID Pricing additional service",
                                "type": "number",
                                "example": 25
                              },
                              "additional_service_id": {
                                "title": "Service ID extra",
                                "type": "number",
                                "example": 1
                              },
                              "price": {
                                "title": "Price in Price-Currency",
                                "type": "number",
                                "example": "RUB"
                              },
                              "name": {
                                "title": "Name of additional service",
                                "type": "string",
                                "example": "Plate"
                              },
                              "uid": {
                                "title": "Unique identifier in 1C pricing",
                                "type": "string",
                                "example": "hgds-jrm9-56vgk-gr3h"
                              },
                              "default_include": {
                                "title": "Is the service included in the price by default?",
                                "type": "boolean",
                                "example": false
                              },
                              "slug": {
                                "title": "Language tag extra service",
                                "type": "string",
                                "example": "trans.table"
                              },
                              "type": {
                                "title": "Type of additional service",
                                "type": "string",
                                "example": "table"
                              },
                              "category": {
                                "title": "Additional service category",
                                "type": "string",
                                "example": "flexible_tariff"
                              }
                            }
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/prices/rent": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "price"
        ],
        "summary": "Getting the list of offers for \"Rent with driver\" service",
        "operationId": "getRentPriceList",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "currency",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/currency"
            }
          },
          {
            "in": "query",
            "name": "start_place_point",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/place_point"
            }
          },
          {
            "in": "query",
            "name": "duration",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/duration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "title": "Price offer",
                        "type": "object",
                        "properties": {
                          "price_uid": {
                            "$ref": "#/components/schemas/price_uuid"
                          },
                          "price_id": {
                            "$ref": "#/components/schemas/price_id"
                          },
                          "price": {
                            "$ref": "#/components/schemas/price"
                          },
                          "price_rub": {
                            "$ref": "#/components/schemas/price"
                          },
                          "reverse_price": {
                            "type": "object",
                            "properties": {
                              "price_id": {
                                "$ref": "#/components/schemas/price_id"
                              },
                              "price": {
                                "$ref": "#/components/schemas/price"
                              }
                            }
                          },
                          "currency": {
                            "$ref": "#/components/schemas/currency"
                          },
                          "service_id": {
                            "$ref": "#/components/schemas/service_id"
                          },
                          "car_class": {
                            "type": "object",
                            "properties": {
                              "car_class_id": {
                                "type": "integer",
                                "example": 2
                              },
                              "title": {
                                "type": "string",
                                "example": "standard"
                              },
                              "models": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "Skoda Octavia"
                                }
                              },
                              "photo": {
                                "type": "string",
                                "example": "kaknoo5tp6.png"
                              },
                              "capacity": {
                                "type": "integer",
                                "example": 3
                              }
                            }
                          },
                          "allowable_subaddress": {
                            "type": "integer",
                            "example": 3
                          },
                          "price_subaddress": {
                            "type": "integer",
                            "example": 270
                          },
                          "cancellation_time": {
                            "type": "integer",
                            "example": 2
                          },
                          "type": {
                            "type": "integer",
                            "example": 1
                          },
                          "payed_road": {
                            "type": "boolean",
                            "example": false
                          },
                          "blackout_date": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "format": "date"
                            }
                          },
                          "allowable_time": {
                            "type": "integer",
                            "example": 2
                          },
                          "is_special": {
                            "type": "integer"
                          },
                          "class_services": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "enum": [
                                  1,
                                  2,
                                  3
                                ]
                              },
                              "title": {
                                "type": "integer"
                              },
                              "value": {
                                "type": "integer"
                              }
                            }
                          },
                          "id_custom_price": {
                            "type": "integer",
                            "example": null
                          },
                          "minimum_duration": {
                            "type": "integer",
                            "example": 0
                          },
                          "start_place": {
                            "$ref": "#/components/schemas/place_object"
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Order creation",
        "operationId": "createOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "$ref": "#/components/schemas/user_id"
                  },
                  "lang": {
                    "$ref": "#/components/schemas/lang"
                  },
                  "currency": {
                    "$ref": "#/components/schemas/currency"
                  },
                  "trips": {
                    "title": "Array of trips",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/trip_object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/order_object"
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/approve/{transaction}": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Order Confirmation",
        "operationId": "approveOrder",
        "parameters": [
          {
            "in": "path",
            "name": "transaction",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/transaction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "transaction": {
                          "$ref": "#/components/schemas/transaction"
                        },
                        "order_id": {
                          "$ref": "#/components/schemas/order_id"
                        },
                        "status": {
                          "$ref": "#/components/schemas/status"
                        },
                        "payable_status": {
                          "$ref": "#/components/schemas/payable_status"
                        },
                        "booker_number": {
                          "$ref": "#/components/schemas/booker_number"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/trips": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Receive travel list",
        "operationId": "getOrderList",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "in": "query",
            "name": "order_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/order_id"
            }
          },
          {
            "in": "query",
            "name": "order_status",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/status"
            }
          },
          {
            "in": "query",
            "name": "begin_date_reservation",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "end_date_reservation",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "begin_date_arrival",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "end_date_arrival",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/trip_object"
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      },
      "put": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Trip information update",
        "operationId": "updateOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/trip_object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/order_object"
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/trips/cancel": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Cancellation of trip",
        "operationId": "cancelOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transaction": {
                    "$ref": "#/components/schemas/transaction"
                  },
                  "order_id": {
                    "$ref": "#/components/schemas/order_id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "order_id": {
                          "$ref": "#/components/schemas/order_id"
                        },
                        "transaction": {
                          "$ref": "#/components/schemas/transaction"
                        },
                        "status": {
                          "$ref": "#/components/schemas/status"
                        },
                        "payable_status": {
                          "$ref": "#/components/schemas/payable_status"
                        },
                        "service_id": {
                          "$ref": "#/components/schemas/service_id"
                        },
                        "currency": {
                          "$ref": "#/components/schemas/currency"
                        },
                        "price": {
                          "$ref": "#/components/schemas/price"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/pay-url": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Receive link to pay for your order",
        "operationId": "getPaymentLink",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "transaction",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/transaction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "example": "http://iway.io/en/cloudpayments/paytrip/481252474?currency=EUR"
                        },
                        "invoicebox": {
                          "type": "string",
                          "example": "http://iway.io/en/cloudpayments/paytrip/481252474?currency=EUR"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/documents": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "document"
        ],
        "summary": "Getting links to order's documents",
        "operationId": "getOrderDocuments",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "langs[index]",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/lang"
              }
            }
          },
          {
            "in": "query",
            "name": "transaction",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/transaction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "voucher_passenger": {
                          "title": "Array of references to vouchers for each passenger",
                          "description": "Types of payment - AMADEUS, API_PARTNER, PAYMENTWALL, PARTNER_ACQUIRING, CLOUDPAYMENTS, FREE_TRIP or in partner's settings IndissolubleVoucher option is disabled",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ru": {
                                "type": "string",
                                "example": "https://link"
                              },
                              "en": {
                                "type": "string",
                                "example": "https://link"
                              }
                            }
                          }
                        },
                        "voucher_indissoluble": {
                          "title": "Reference to shared voucher",
                          "description": "Types of payment - OFFLINE_ORDER or in partner's settings the IndissolubleVoucher option is enabled",
                          "type": "object",
                          "properties": {
                            "ru": {
                              "type": "string",
                              "example": "https://link"
                            },
                            "en": {
                              "type": "string",
                              "example": "https://link"
                            }
                          }
                        },
                        "voucher_common": {
                          "title": "Reference to shared voucher",
                          "description": "Types of payment - INVOICE, AMADEUS, DEPOSIT",
                          "type": "object",
                          "properties": {
                            "ru": {
                              "type": "string",
                              "example": "https://link"
                            },
                            "en": {
                              "type": "string",
                              "example": "https://link"
                            }
                          }
                        },
                        "notice": {
                          "title": "Link to the notification",
                          "description": "Types of payment - INVOICE, AMADEUS, DEPOSIT",
                          "type": "string",
                          "example": "https://link"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/transport-nodes": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "transport node"
        ],
        "summary": "Search for transport nodes",
        "operationId": "getTransportNode",
        "parameters": [
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "term",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/term"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "title": "transport node",
                        "type": "object",
                        "properties": {
                          "formatted_address": {
                            "description": "Title",
                            "type": "string",
                            "example": "Airport Tolmachevo"
                          },
                          "geometry": {
                            "title": "Geo Data",
                            "type": "object",
                            "properties": {
                              "location": {
                                "title": "Location",
                                "type": "object",
                                "properties": {
                                  "lat": {
                                    "description": "LAT coordinate",
                                    "type": "string",
                                    "example": 55.012599945068
                                  },
                                  "lon": {
                                    "description": "LON coordinate",
                                    "type": "string",
                                    "example": 82.650703430176
                                  }
                                }
                              }
                            }
                          },
                          "description": {
                            "description": "Description (title)",
                            "type": "string",
                            "example": "Airport Tolmachevo"
                          },
                          "place_id": {
                            "description": "Google place ID",
                            "type": "string",
                            "example": "ChIJJQMqy2UJ4EIRLlTJkaXKslM"
                          },
                          "structured_formatting": {
                            "title": "Structural formatting",
                            "type": "object",
                            "properties": {
                              "main_text": {
                                "description": "Object's name",
                                "type": "string",
                                "example": "Airport Tolmachevo"
                              },
                              "secondary_text": {
                                "description": "Additional information",
                                "type": "string",
                                "example": ""
                              }
                            }
                          },
                          "country": {
                            "description": "Country",
                            "type": "string",
                            "example": ""
                          },
                          "types": {
                            "description": "Location types",
                            "type": "array",
                            "items": {
                              "example": "airport, establishment"
                            }
                          },
                          "iata": {
                            "description": "IATA code",
                            "type": "string",
                            "example": "OVB"
                          },
                          "icao": {
                            "description": "ICAO code",
                            "type": "string",
                            "example": "UNNT"
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/documents/send/{transaction}": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "document"
        ],
        "summary": "Send order's voucher",
        "operationId": "documentsSend",
        "parameters": [
          {
            "in": "path",
            "name": "transaction",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/transaction"
            }
          },
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "langs": {
                    "description": "Language for sending documents",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/lang"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "Array of links",
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "http://transstage3.iwayex.com/webtransnextgen/download/voucher?hash=edea13889c5dbd8e7ab4a79451bea29c&typeVoucher=doc"
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/recommended-time": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Recommended car delivery time",
        "operationId": "getRecommendedTime",
        "parameters": [
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "price_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/price_id"
            }
          },
          {
            "in": "query",
            "name": "departure_time",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/departure_time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "recommended_time": {
                          "description": "Recommended car delivery time",
                          "type": "string",
                          "example": "2021-09-12T09:50:00+07:00"
                        },
                        "min_allowed_time_order": {
                          "description": "The shortest possible pick-up time",
                          "type": "string",
                          "example": "2021-11-12T15:30:06+07:00"
                        },
                        "recommended_check_in_time": {
                          "description": "Recommended time for registration",
                          "type": "integer",
                          "example": 7200
                        },
                        "start_time_zone_code": {
                          "description": "Time shift from UTC in departure point",
                          "type": "string",
                          "example": "+07:00"
                        },
                        "finish_time_zone_zode": {
                          "description": "Time shift from UTC in arrival point",
                          "type": "string",
                          "example": "+07:00"
                        },
                        "travel_time": {
                          "description": "Trip time",
                          "type": "integer",
                          "example": 7200
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/check-time": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Checking the possibility of placing an order for a specified time",
        "operationId": "getCheckTime",
        "parameters": [
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "price_id": {
                    "$ref": "#/components/schemas/price_id"
                  },
                  "pickup_time": {
                    "$ref": "#/components/schemas/pickup_time"
                  },
                  "departure_time": {
                    "$ref": "#/components/schemas/departure_time"
                  },
                  "start_place_id (required in case of ordering Rent with driver)": {
                    "$ref": "#/components/schemas/start_place_id"
                  }
                },
                "required": [
                  "price_id",
                  "pickup_time"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "allow booking": {
                          "description": "Flag showing whether booking is possible",
                          "type": "boolean",
                          "example": true
                        },
                        "notice": {
                          "description": "Notice",
                          "type": "string",
                          "example": ""
                        },
                        "similar_orders": {
                          "description": "Similar partner's trips within a time period",
                          "type": "object",
                          "example": null
                        },
                        "possible_connecting_time": {
                          "description": "The departure time of either aircraft or train does not meet the conditions",
                          "type": "boolean",
                          "example": true
                        },
                        "possible_pickup_time": {
                          "description": "Car delivery time does not meet the conditions",
                          "type": "boolean",
                          "example": true
                        },
                        "min_allowed_time_order": {
                          "description": "The minimum possible car delivery time in the time zone of the departure point (the nearest time of car delivery)",
                          "type": "string",
                          "example": "2021-11-12T15:41:03+07:00"
                        },
                        "min_connecting_time": {
                          "description": "The minimum possible departure time of either aircraft or train (in case of a constant car delivery time)",
                          "type": "string",
                          "example": "22021-12-25T14:00:00+07:00"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/{trip_id}/check-cancel": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "Checking the possibility of cancelling an order",
        "operationId": "getOrdersTripCheckCancel",
        "parameters": [
          {
            "in": "path",
            "name": "trip_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/trip_id"
            }
          },
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "description": "Flag showing whether cancellation of an order is possible",
                          "type": "boolean",
                          "example": true
                        },
                        "message": {
                          "description": "Message",
                          "type": "string",
                          "example": "OK"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    }
  }
}