{
  "openapi": "3.0.3",
  "info": {
    "title": "WHS Monitor API",
    "version": "3.0.0",
    "description": "Arventa WHS Monitor API for workplace health and safety management - managing workers, sites, departments, roles, and compliance.",
    "x-jentic-source-url": "https://www.arventa.com.au/api/swagger/index.html"
  },
  "servers": [
    {
      "url": "https://www.arventa.com.au/api"
    }
  ],
  "paths": {
    "/v3/Departments": {
      "get": {
        "operationId": "GetDepartmentsAsync",
        "summary": "",
        "tags": [
          "Departments"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Response.DivisionResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/EmployeeRoles": {
      "get": {
        "operationId": "GetEmployeeRoles",
        "summary": "",
        "tags": [
          "EmployeeRoles"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Arventa.Contract.Versions.V3.EmployeeRoles"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/PermissionRoles": {
      "get": {
        "operationId": "GetPermissionRoleResponses",
        "summary": "",
        "tags": [
          "PermissionRoles"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Arventa.Contract.Versions.V3.PermissionRoles.PermissionRoleResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/Sites": {
      "get": {
        "operationId": "GetSites",
        "summary": "",
        "tags": [
          "Sites"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "operationId": "CreateWorkerAsync",
        "summary": "",
        "tags": [
          "Sites"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Request.Worker.ProfileRequest"
              }
            }
          }
        }
      }
    },
    "/v3/Sites/{sitekey}/Storages": {
      "get": {
        "operationId": "GetStorage",
        "summary": "",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "sitekey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v3/Sites/{sitekey}/Users/Roles": {
      "post": {
        "operationId": "PutUserRoleAsync",
        "summary": "",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "sitekey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Request.UserRole"
              }
            }
          }
        }
      }
    },
    "/v3/Sites/{storeUserId}": {
      "put": {
        "operationId": "UpdateWorkerAsync",
        "summary": "",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Request.Worker.UpdateProfileRequest"
              }
            }
          }
        }
      }
    },
    "/v3/Sites/{sitekey}/Workers/Divisions": {
      "post": {
        "operationId": "AssignDivisionAsync",
        "summary": "",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "sitekey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Request.AssignWorkerDivisionDepartment"
              }
            }
          }
        }
      }
    },
    "/v3/Sites/{siteKey}/Workers/{storeUserId}": {
      "get": {
        "operationId": "GetWorkerAsync",
        "summary": "",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "siteKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Response.Worker.ProfileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Sites/{siteKey}/Workers": {
      "get": {
        "operationId": "GetWorkerAsync",
        "summary": "",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "siteKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referenceKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Response.Worker.ProfileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/Sites/{sitekey}/Workers": {
      "post": {
        "operationId": "CreateWorker",
        "summary": "",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "sitekey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Request.Worker.Profile"
              }
            }
          }
        }
      }
    },
    "/v3/Users": {
      "get": {
        "operationId": "GetUsers",
        "summary": "",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "siteKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeWorkerProfile",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "operationId": "CreateUser",
        "summary": "",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Arventa.Contract.Versions.V3.Request.CreateUser"
              }
            }
          }
        }
      }
    },
    "/v3/Users/{Id}": {
      "get": {
        "operationId": "GetUsers",
        "summary": "",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeWorkerProfile",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "operationId": "PatchUser",
        "summary": "",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Arventa.Contract.Versions.V3.Request.CreateUser"
              }
            }
          }
        }
      }
    },
    "/v3/Workers/{storeUserId}": {
      "get": {
        "operationId": "GetWorkerAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Response.Worker.ProfileResponse_V4"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "UpdateWorkerAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Request.Worker.UpdateProfileRequest"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "PatchWorkerAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Arventa.Contract.Versions.V1.Request.Worker.PatchProfileRequest_v4"
              }
            }
          }
        }
      }
    },
    "/v3/Workers": {
      "get": {
        "operationId": "GetWorkerAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "referenceKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "operationId": "CreateWorkerAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Request.Worker.ProfileRequest_V3"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeactivateUserAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Request.UserIdentifier"
              }
            }
          }
        }
      }
    },
    "/v3/Workers/pager": {
      "get": {
        "operationId": "GetWorkerPagerAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "referenceKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v3/Workers/{storeUserId}/Sites": {
      "post": {
        "operationId": "CreateWorkerSitesAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/Workers/{storeUserId}/Sites/{siteKey}": {
      "post": {
        "operationId": "CreateWorkerSitesAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "siteKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "operationId": "DeleteWorkerSitesAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "siteKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v3/Workers/{storeUserId}/EmployeeRoles": {
      "get": {
        "operationId": "GetWorkerRolesAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Response.Worker.EmployeeRoleResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "UpdateeWorkerRolesAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "CreateWorkerRolesAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteWorkerRolesAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/Workers/{storeUserId}/EmployeeRoles/{employeeRoleId}": {
      "get": {
        "operationId": "GetWorkerRolesAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "employeeRoleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "operationId": "DeleteWorkerRolesAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "employeeRoleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v3/Workers/{storeUserId}/PermissionRoles": {
      "get": {
        "operationId": "GetPermissionRolesAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Response.Worker.PermissionRoleResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "UpdatePermissionRolesAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "CreatPermissionRolesAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeletePermissionRolesAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/Workers/{storeUserId}/EmployeeCategories": {
      "get": {
        "operationId": "GetemployeeCategories",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Response.Worker.EmployeeCategory"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "UpdateWorkerCategory",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "CreateWorkerCategory",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteWorkerCategory",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/Workers/{storeUserId}/Departments": {
      "get": {
        "operationId": "GetWorkerDepartmentsAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Response.Worker.WorkerDivisionResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "UpdateWorkerDepartmentAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "CreateWorkerDepartmentAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Request.Worker.DivisionRequest"
              }
            }
          }
        }
      }
    },
    "/v3/Workers/{storeUserId}/Departments/{workerDepartmentId}": {
      "get": {
        "operationId": "GetWorkerDepartmentsAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workerDepartmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Response.Worker.WorkerDivisionResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "UpdateWorkerDepartmentAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workerDepartmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Request.Worker.DivisionRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteWorkerDepartmentAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workerDepartmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v3/Workers/{storeUserId}/Locations": {
      "get": {
        "operationId": "GetWorkerLocationsAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Response.Worker.WorkerLocationResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/Workers/{storeUserId}/Locations/{locationId}": {
      "get": {
        "operationId": "GetWorkerLocationsAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Response.Worker.WorkerLocationResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "CreateWorkerLocationsAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "operationId": "DeleteWorkerLocationsAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v3/Workers/Activation/{status}": {
      "put": {
        "operationId": "DeactivateUserAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Request.UserIdentifier"
              }
            }
          }
        }
      }
    },
    "/v3/Workers/{storeUserId}/Deactivate": {
      "put": {
        "operationId": "DeactivateUserAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v3/Workers/{storeUserId}/Reactivate": {
      "put": {
        "operationId": "ReactiavateUserAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v3/Workers/Divisions": {
      "post": {
        "operationId": "AssignDivisionAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Arventa.Contract.Versions.V2.Request.AssignWorkerDivisionDepartment"
              }
            }
          }
        }
      }
    },
    "/v3/Workers/{storeUserId}/ReportTo/{reportsToStoreUserId}": {
      "put": {
        "operationId": "AssignReportsToIDAsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "reportsToStoreUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v3/Workers/{storeUserId}/ReportTo": {
      "put": {
        "operationId": "AssignReportsToIByWorkerIdsync",
        "summary": "",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Logs": {
        "type": "object",
        "properties": {
          "dateRun": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "details": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "ChecklistType": {
        "type": "object",
        "properties": {
          "id": {
            "format": "int32",
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ChecklistTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "format": "int32",
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "PostChecklist": {
        "required": [
          "internalNo",
          "title"
        ],
        "type": "object",
        "properties": {
          "checklistTemplateId": {
            "format": "int32",
            "type": "integer"
          },
          "internalNo": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "personResponsibleId": {
            "format": "int32",
            "type": "integer"
          },
          "locationID": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "POSTChecklistResponse": {
        "type": "object",
        "properties": {
          "id": {
            "format": "int32",
            "type": "integer"
          },
          "checklistUrl": {
            "type": "string"
          }
        }
      },
      "ChemicalSDSLink": {
        "type": "object",
        "properties": {
          "productID": {
            "format": "int32",
            "type": "integer"
          },
          "productName": {
            "type": "string"
          },
          "companyName": {
            "type": "string"
          },
          "sdsLink": {
            "type": "string"
          },
          "productCode": {
            "type": "string"
          }
        }
      },
      "Storagev2": {
        "type": "object",
        "properties": {
          "storageID": {
            "format": "int32",
            "type": "integer"
          },
          "storageName": {
            "type": "string"
          },
          "storageAddress": {
            "type": "string"
          },
          "storageKey": {
            "type": "string"
          }
        }
      },
      "ChemicalProductsResponse": {
        "type": "object",
        "properties": {
          "productID": {
            "format": "int32",
            "type": "integer"
          },
          "chemicalStorageID": {
            "format": "int32",
            "type": "integer"
          },
          "chemicalStorage": {
            "type": "string"
          },
          "productName": {
            "type": "string"
          },
          "companyName": {
            "type": "string"
          },
          "productType": {
            "type": "string"
          },
          "sdsExpiryDate": {
            "format": "date-time",
            "type": "string"
          },
          "linkToSDSPDF": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "storedQuantity": {
            "format": "double",
            "type": "number"
          },
          "unit": {
            "type": "string"
          },
          "storageType": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "subType": {
            "type": "string"
          },
          "intendedUse": {
            "type": "string"
          },
          "internalProductCode": {
            "type": "string"
          },
          "tankCode": {
            "type": "string"
          },
          "expiryDate": {
            "format": "date-time",
            "type": "string"
          },
          "pricePerUnit": {
            "format": "double",
            "type": "number"
          },
          "supplierName": {
            "type": "string"
          },
          "comments": {
            "type": "string"
          }
        }
      },
      "ChemicalProductsRequest": {
        "type": "object",
        "properties": {
          "statusId": {
            "format": "int32",
            "type": "integer"
          },
          "storageTypeId": {
            "format": "int32",
            "type": "integer"
          },
          "type": {
            "format": "int32",
            "type": "integer"
          },
          "subType": {
            "format": "int32",
            "type": "integer"
          },
          "intendedUse": {
            "type": "string"
          },
          "internalProductCode": {
            "type": "string"
          },
          "tankCode": {
            "type": "string"
          },
          "expiryDate": {
            "format": "date-time",
            "type": "string"
          },
          "pricePerUnit": {
            "type": "string"
          },
          "supplierId": {
            "format": "int32",
            "type": "integer"
          },
          "comments": {
            "type": "string"
          },
          "unitId": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "ChemicalProductInventoryRequest": {
        "type": "object",
        "properties": {
          "amountUsed": {
            "format": "double",
            "type": "number"
          },
          "comments": {
            "type": "string"
          }
        }
      },
      "ChemicalProductInventoryResponse": {
        "type": "object",
        "properties": {
          "storeProductId": {
            "format": "int32",
            "type": "integer"
          },
          "totalAmount": {
            "type": "string"
          }
        }
      },
      "DivisionResponse": {
        "type": "object",
        "properties": {
          "divisionId": {
            "format": "int32",
            "type": "integer"
          },
          "divisionName": {
            "type": "string"
          },
          "departments": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DepartmentResponse"
            }
          }
        }
      },
      "DepartmentResponse": {
        "type": "object",
        "properties": {
          "departmentId": {
            "format": "int32",
            "type": "integer"
          },
          "departmentName": {
            "type": "string"
          }
        }
      },
      "EmployeeRoles": {
        "type": "object",
        "properties": {
          "id": {
            "format": "int32",
            "type": "integer"
          },
          "employeeRole": {
            "type": "string"
          },
          "siteId": {
            "type": "string"
          }
        }
      },
      "LocationResponse": {
        "type": "object",
        "properties": {
          "locationId": {
            "format": "int32",
            "type": "integer"
          },
          "address": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "referenceKey": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        }
      },
      "LocationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "referenceKey": {
            "type": "string"
          }
        }
      },
      "PermissionRoleResponse": {
        "type": "object",
        "properties": {
          "permissionRoleId": {
            "format": "int32",
            "type": "integer"
          },
          "permissionRoleName": {
            "type": "string"
          }
        }
      },
      "RoleResponse": {
        "type": "object",
        "properties": {
          "id": {
            "format": "int32",
            "type": "integer"
          },
          "roleId": {
            "format": "int32",
            "type": "integer"
          },
          "roleName": {
            "type": "string"
          }
        }
      },
      "ProfileRequest": {
        "type": "object",
        "properties": {
          "referenceKey": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "uniqueUserIndentifier": {
            "type": "string"
          },
          "permissionRoles": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createUserAccount": {
            "type": "boolean"
          },
          "sendPasswordLink": {
            "type": "boolean"
          },
          "allowMultifactorAuthentication": {
            "type": "boolean"
          },
          "workerProfile": {
            "$ref": "#/components/schemas/WorkerProfileRequest"
          },
          "siteKeys": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WorkerProfileRequest": {
        "type": "object",
        "properties": {
          "workerId": {
            "type": "string"
          },
          "usi": {
            "type": "string"
          },
          "otherKnownName": {
            "type": "string"
          },
          "sex": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string"
          },
          "mobileNumber": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "employeeRoles": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "employeeCategories": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "personalEmailAddress": {
            "type": "string"
          },
          "homeAddress": {
            "$ref": "#/components/schemas/AddressDetail"
          },
          "emergencyContact": {
            "$ref": "#/components/schemas/EmergencyContact"
          },
          "reportsToWorkerId": {
            "type": "string"
          },
          "jobTitle": {
            "type": "string"
          },
          "dateEmployed": {
            "type": "string"
          },
          "locations": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "format": "int32",
              "type": "integer"
            }
          },
          "workPhone": {
            "type": "string"
          },
          "workPhoneExtension": {
            "type": "string"
          },
          "workMobile": {
            "type": "string"
          },
          "departments": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DivisionRequest"
            }
          },
          "storageKeys": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "approvalResponsibility": {
            "$ref": "#/components/schemas/ApprovalResponsibilityRequest"
          }
        }
      },
      "AddressDetail": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "EmergencyContact": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "relationship": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          }
        }
      },
      "DivisionRequest": {
        "type": "object",
        "properties": {
          "divisionName": {
            "type": "string"
          },
          "departmentName": {
            "type": "string"
          },
          "programmeName": {
            "type": "string"
          }
        }
      },
      "ApprovalResponsibilityRequest": {
        "type": "object",
        "properties": {
          "allowCheck": {
            "type": "boolean"
          },
          "allowReview": {
            "type": "boolean"
          },
          "allowAuthorise": {
            "type": "boolean"
          },
          "allowApprove": {
            "type": "boolean"
          },
          "allowReject": {
            "type": "boolean"
          },
          "allowTrainingAssess": {
            "type": "boolean"
          }
        }
      },
      "UserRole": {
        "required": [
          "permissionRoles",
          "uniqueUserIdentifier"
        ],
        "type": "object",
        "properties": {
          "permissionRoles": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "uniqueUserIdentifier": {
            "type": "string"
          }
        }
      },
      "UpdateProfileRequest": {
        "required": [
          "firstName",
          "lastName",
          "emailAddress",
          "uniqueUserIndentifier",
          "workerProfile"
        ],
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "uniqueUserIndentifier": {
            "type": "string"
          },
          "workerProfile": {
            "$ref": "#/components/schemas/UpdateWorkerProfileRequest"
          },
          "siteKeys": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UpdateWorkerProfileRequest": {
        "type": "object",
        "properties": {
          "employeeRoles": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "workerId": {
            "type": "string"
          },
          "usi": {
            "type": "string"
          },
          "otherKnownName": {
            "type": "string"
          },
          "sex": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string"
          },
          "mobileNumber": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "personalEmailAddress": {
            "type": "string"
          },
          "homeAddress": {
            "$ref": "#/components/schemas/AddressDetail"
          },
          "emergencyContact": {
            "$ref": "#/components/schemas/EmergencyContact"
          },
          "reportsToId": {
            "format": "int32",
            "type": "integer"
          },
          "jobTitle": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "dateEmployed": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "workPhone": {
            "type": "string"
          },
          "workPhoneExtension": {
            "type": "string"
          },
          "workMobile": {
            "type": "string"
          },
          "approvalResponsibility": {
            "$ref": "#/components/schemas/ApprovalResponsibilityRequest"
          }
        }
      },
      "AssignWorkerDivisionDepartment": {
        "required": [
          "divisions",
          "uniqueUserIdentifier"
        ],
        "type": "object",
        "properties": {
          "divisions": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Division"
            }
          },
          "uniqueUserIdentifier": {
            "type": "string"
          }
        }
      },
      "Division": {
        "type": "object",
        "properties": {
          "divisionName": {
            "type": "string"
          },
          "departmentName": {
            "type": "string"
          }
        }
      },
      "ProfileResponse": {
        "type": "object",
        "properties": {
          "storeUserId": {
            "format": "int32",
            "type": "integer"
          },
          "referenceKey": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "uniqueUserIndentifier": {
            "type": "string"
          },
          "permissionRoles": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PermissionRoleResponse"
            }
          },
          "workerProfile": {
            "$ref": "#/components/schemas/WorkerProfileResponse"
          },
          "isActive": {
            "type": "boolean"
          },
          "sites": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SiteResponse"
            }
          }
        }
      },
      "WorkerProfileResponse": {
        "type": "object",
        "properties": {
          "workerId": {
            "type": "string"
          },
          "usi": {
            "type": "string"
          },
          "otherKnownName": {
            "type": "string"
          },
          "sex": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string"
          },
          "mobileNumber": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "personalEmailAddress": {
            "type": "string"
          },
          "homeAddress": {
            "$ref": "#/components/schemas/AddressDetailResponse"
          },
          "emergencyContact": {
            "$ref": "#/components/schemas/EmergencyContactResponse"
          },
          "reportsTo": {
            "$ref": "#/components/schemas/ReportsToResponse"
          },
          "jobTitle": {
            "type": "string"
          },
          "employeeCategories": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmployeeCategory"
            }
          },
          "dateEmployed": {
            "type": "string"
          },
          "locations": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocationNameResponse"
            }
          },
          "departments": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkerDivisionResponse"
            }
          },
          "workPhone": {
            "type": "string"
          },
          "workPhoneExtension": {
            "type": "string"
          },
          "workMobile": {
            "type": "string"
          },
          "storageKeys": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "employeeRoles": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmployeeRoleResponse"
            }
          },
          "approvalResponsibility": {
            "$ref": "#/components/schemas/ApprovalResponsibility"
          }
        }
      },
      "SiteResponse": {
        "type": "object",
        "properties": {
          "siteKey": {
            "type": "string"
          },
          "siteName": {
            "type": "string"
          }
        }
      },
      "AddressDetailResponse": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "locationType": {
            "type": "string"
          }
        }
      },
      "EmergencyContactResponse": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "relationship": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          }
        }
      },
      "ReportsToResponse": {
        "type": "object",
        "properties": {
          "storeUserId": {
            "format": "int32",
            "type": "integer"
          },
          "workerId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          }
        }
      },
      "EmployeeCategory": {
        "type": "object",
        "properties": {
          "employeeCategoryId": {
            "format": "int32",
            "type": "integer"
          },
          "employeeCategoryName": {
            "type": "string"
          }
        }
      },
      "LocationNameResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "locationType": {
            "type": "string"
          }
        }
      },
      "WorkerDivisionResponse": {
        "type": "object",
        "properties": {
          "workerDepartmentId": {
            "format": "int32",
            "type": "integer"
          },
          "divisionId": {
            "format": "int32",
            "type": "integer"
          },
          "divisionName": {
            "type": "string"
          },
          "departmentId": {
            "format": "int32",
            "type": "integer"
          },
          "departmentName": {
            "type": "string"
          },
          "programmeId": {
            "format": "int32",
            "type": "integer"
          },
          "programmeName": {
            "type": "string"
          }
        }
      },
      "EmployeeRoleResponse": {
        "type": "object",
        "properties": {
          "employeeRoleId": {
            "format": "int32",
            "type": "integer"
          },
          "employeeRoleName": {
            "type": "string"
          }
        }
      },
      "ApprovalResponsibility": {
        "type": "object",
        "properties": {
          "allowCheck": {
            "type": "boolean"
          },
          "allowReview": {
            "type": "boolean"
          },
          "allowAuthorise": {
            "type": "boolean"
          },
          "allowApprove": {
            "type": "boolean"
          },
          "allowReject": {
            "type": "boolean"
          },
          "allowTrainingAssess": {
            "type": "boolean"
          }
        }
      },
      "Profile": {
        "required": [
          "firstName",
          "lastName",
          "emailAddress",
          "uniqueUserIndentifier",
          "permissionRoles"
        ],
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "uniqueUserIndentifier": {
            "type": "string"
          },
          "permissionRoles": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createUserAccount": {
            "type": "boolean"
          },
          "sendPasswordLink": {
            "type": "boolean"
          },
          "allowMultifactorAuthentication": {
            "type": "boolean"
          },
          "workerProfile": {
            "$ref": "#/components/schemas/SiteWorkerProfile"
          }
        }
      },
      "SiteWorkerProfile": {
        "type": "object",
        "properties": {
          "workerId": {
            "type": "string"
          },
          "usi": {
            "type": "string"
          },
          "otherKnownName": {
            "type": "string"
          },
          "sex": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string"
          },
          "mobileNumber": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "personalEmailAddress": {
            "type": "string"
          },
          "homeAddress": {
            "$ref": "#/components/schemas/AddressDetail"
          },
          "emergencyContact": {
            "$ref": "#/components/schemas/EmergencyContact"
          },
          "reportsTo": {
            "$ref": "#/components/schemas/ReportsTo"
          },
          "jobTitle": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "dateEmployed": {
            "type": "string"
          },
          "locations": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Locations"
            }
          },
          "divisions": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Division"
            }
          },
          "workPhone": {
            "type": "string"
          },
          "workPhoneExtension": {
            "type": "string"
          },
          "workMobile": {
            "type": "string"
          },
          "storageKeys": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "approvalResponsibility": {
            "$ref": "#/components/schemas/ApprovalResponsibilityRequest"
          }
        }
      },
      "ReportsTo": {
        "type": "object",
        "properties": {
          "workerId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          }
        }
      },
      "Locations": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "userName": {
            "type": "string"
          },
          "expiryDate": {
            "default": "1900-01-01",
            "type": "string"
          }
        }
      },
      "CreateUser": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "sites": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateUserSite"
            }
          }
        }
      },
      "CreateUserSite": {
        "type": "object",
        "properties": {
          "siteKey": {
            "type": "string"
          },
          "permissionRoles": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      },
      "UserIdentifier": {
        "required": [
          "uniqueUserIdentifier"
        ],
        "type": "object",
        "properties": {
          "uniqueUserIdentifier": {
            "type": "string"
          }
        }
      },
      "AssignSite": {
        "required": [
          "uniqueUserIdentifier"
        ],
        "type": "object",
        "properties": {
          "sites": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SiteRole"
            }
          },
          "uniqueUserIdentifier": {
            "type": "string"
          }
        }
      },
      "SiteRole": {
        "type": "object",
        "properties": {
          "siteKey": {
            "type": "string"
          },
          "permissionRoles": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ProfileResponse_V4": {
        "type": "object",
        "properties": {
          "storeUserId": {
            "format": "int32",
            "type": "integer"
          },
          "referenceKey": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "uniqueUserIndentifier": {
            "type": "string"
          },
          "workerProfile": {
            "$ref": "#/components/schemas/WorkerProfileResponse"
          },
          "isActive": {
            "type": "boolean"
          },
          "sites": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SiteResponse_V4"
            }
          }
        }
      },
      "SiteResponse_V4": {
        "type": "object",
        "properties": {
          "siteKey": {
            "type": "string"
          },
          "siteName": {
            "type": "string"
          },
          "permissionRoles": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PermissionRoleResponse"
            }
          }
        }
      },
      "PatchProfileRequest_v4": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "uniqueUserIndentifier": {
            "type": "string"
          },
          "workerProfile": {
            "$ref": "#/components/schemas/UpdateWorkerProfileRequest"
          },
          "sites": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SiteKeys"
            }
          }
        }
      },
      "SiteKeys": {
        "type": "object",
        "properties": {
          "siteKey": {
            "type": "string"
          },
          "permissionRoles": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      },
      "ProfileRequest_V3": {
        "required": [
          "firstName",
          "lastName",
          "emailAddress",
          "sites"
        ],
        "type": "object",
        "properties": {
          "referenceKey": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "uniqueUserIndentifier": {
            "type": "string"
          },
          "createUserAccount": {
            "type": "boolean"
          },
          "sendPasswordLink": {
            "type": "boolean"
          },
          "allowMultifactorAuthentication": {
            "type": "boolean"
          },
          "workerProfile": {
            "$ref": "#/components/schemas/WorkerProfileRequest"
          },
          "sites": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SiteKeys"
            }
          }
        }
      },
      "WorkerLocationResponse": {
        "type": "object",
        "properties": {
          "locatiionId": {
            "format": "int32",
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "locationType": {
            "type": "string"
          }
        }
      },
      "ProfileActiveResponse": {
        "type": "object",
        "properties": {
          "storeUserId": {
            "format": "int32",
            "type": "integer"
          },
          "uniqueUserIndentifier": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}