{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "description": "Test our API services using I/O Docs.",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "title": "Rotten Tomatoes",
    "version": "1.0",
    "x-mashery-id": "1217",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Mermade/openapi_specifications/master/mashery/api.rottentomatoes.com/Rotten-Tomatoes/1.0/swagger.json"
  },
  "servers": [
    {
      "url": "http://api.rottentomatoes.com/api/public/v1.0"
    }
  ],
  "paths": {
    "/lists.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Top Level Lists"
        ],
        "operationId": "ListsDirectoryTopLevelLists",
        "summary": ""
      }
    },
    "/lists/dvds.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Top Level Lists"
        ],
        "operationId": "DVDListsDirectoryTopLevelLists",
        "summary": ""
      }
    },
    "/lists/dvds/current_releases.json": {
      "get": {
        "parameters": [
          {
            "description": "The amount of new release dvds to show per page",
            "in": "query",
            "name": "page_limit",
            "required": false,
            "schema": {
              "default": "16",
              "type": "string"
            }
          },
          {
            "description": "The selected page of current DVD releases",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": "1",
              "type": "string"
            }
          },
          {
            "description": "Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.",
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "default": "us",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "DVD Lists"
        ],
        "operationId": "CurrentReleaseDVDsDVDLists",
        "summary": ""
      }
    },
    "/lists/dvds/new_releases.json": {
      "get": {
        "parameters": [
          {
            "description": "The amount of new release dvds to show per page",
            "in": "query",
            "name": "page_limit",
            "required": false,
            "schema": {
              "default": "16",
              "type": "string"
            }
          },
          {
            "description": "The selected page of new release DVDs",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": "1",
              "type": "string"
            }
          },
          {
            "description": "Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.",
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "default": "us",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "DVD Lists"
        ],
        "operationId": "NewReleaseDVDsDVDLists",
        "summary": ""
      }
    },
    "/lists/dvds/top_rentals.json": {
      "get": {
        "parameters": [
          {
            "description": "Limits the number of top rentals returned",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": "10",
              "type": "string"
            }
          },
          {
            "description": "Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.",
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "default": "us",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "DVD Lists"
        ],
        "operationId": "TopRentalsDVDLists",
        "summary": ""
      }
    },
    "/lists/dvds/upcoming.json": {
      "get": {
        "parameters": [
          {
            "description": "The amount of upcoming dvds to show per page",
            "in": "query",
            "name": "page_limit",
            "required": false,
            "schema": {
              "default": "16",
              "type": "string"
            }
          },
          {
            "description": "The selected page of upcoming DVDs",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": "1",
              "type": "string"
            }
          },
          {
            "description": "Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.",
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "default": "us",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "DVD Lists"
        ],
        "operationId": "UpcomingDVDsDVDLists",
        "summary": ""
      }
    },
    "/lists/movies.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Top Level Lists"
        ],
        "operationId": "MovieListsDirectoryTopLevelLists",
        "summary": ""
      }
    },
    "/lists/movies/box_office.json": {
      "get": {
        "parameters": [
          {
            "description": "Limits the number of movies returned",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": "16",
              "type": "string"
            }
          },
          {
            "description": "Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.",
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "default": "us",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Movie Lists"
        ],
        "operationId": "BoxOfficeMovieLists",
        "summary": ""
      }
    },
    "/lists/movies/in_theaters.json": {
      "get": {
        "parameters": [
          {
            "description": "The amount of movies in theaters to show per page",
            "in": "query",
            "name": "page_limit",
            "required": false,
            "schema": {
              "default": "16",
              "type": "string"
            }
          },
          {
            "description": "The selected page of in theaters movies",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": "1",
              "type": "string"
            }
          },
          {
            "description": "Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.",
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "default": "us",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Movie Lists"
        ],
        "operationId": "InTheatersMovieLists",
        "summary": ""
      }
    },
    "/lists/movies/opening.json": {
      "get": {
        "parameters": [
          {
            "description": "Limits the number of opening movies returned",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": "16",
              "type": "string"
            }
          },
          {
            "description": "Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.",
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "default": "us",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Movie Lists"
        ],
        "operationId": "OpeningMoviesMovieLists",
        "summary": ""
      }
    },
    "/lists/movies/upcoming.json": {
      "get": {
        "parameters": [
          {
            "description": "The amount of upcoming movies to show per page",
            "in": "query",
            "name": "page_limit",
            "required": false,
            "schema": {
              "default": "16",
              "type": "string"
            }
          },
          {
            "description": "The selected page of upcoming movies",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": "1",
              "type": "string"
            }
          },
          {
            "description": "Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.",
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "default": "us",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Movie Lists"
        ],
        "operationId": "UpcomingMoviesMovieLists",
        "summary": ""
      }
    },
    "/movie_alias.json": {
      "get": {
        "parameters": [
          {
            "description": "Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID",
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "default": 31381,
              "type": "string"
            }
          },
          {
            "description": "Only supports imdb lookup at this time",
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "default": "imdb",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Detailed Info"
        ],
        "operationId": "MoviesAliasDetailedInfo",
        "summary": ""
      }
    },
    "/movies.json": {
      "get": {
        "parameters": [
          {
            "description": "The plain text search query to search for a movie. Remember to URI encode this!",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The amount of movie search results to show per page",
            "in": "query",
            "name": "page_limit",
            "required": false,
            "schema": {
              "default": "10",
              "type": "string"
            }
          },
          {
            "description": "The selected page of movie search results",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": "1",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Search"
        ],
        "operationId": "MoviesSearchSearch",
        "summary": ""
      }
    },
    "/movies/{id}.json": {
      "get": {
        "parameters": [
          {
            "description": "Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "default": "770672122",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Detailed Info"
        ],
        "operationId": "MoviesInfoDetailedInfo",
        "summary": ""
      }
    },
    "/movies/{id}/cast.json": {
      "get": {
        "parameters": [
          {
            "description": "Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "default": "770672122",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Detailed Info"
        ],
        "operationId": "CastInfoDetailedInfo",
        "summary": ""
      }
    },
    "/movies/{id}/clips.json": {
      "get": {
        "parameters": [
          {
            "description": "Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "default": "770672122",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Detailed Info"
        ],
        "operationId": "MovieClipsDetailedInfo",
        "summary": ""
      }
    },
    "/movies/{id}/reviews.json": {
      "get": {
        "parameters": [
          {
            "description": "Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "default": "770672122",
              "type": "string"
            }
          },
          {
            "description": "3 different review types are possible: 'all', 'top_critic' and 'dvd'. 'top_critic' shows all the Rotten Tomatoes designated top critics. 'dvd' pulls the reviews given on the DVD of the movie. 'all' as the name implies retrieves all reviews.",
            "in": "query",
            "name": "review_type",
            "required": false,
            "schema": {
              "default": "top_critic",
              "type": "string"
            }
          },
          {
            "description": "The number of reviews to show per page",
            "in": "query",
            "name": "page_limit",
            "required": false,
            "schema": {
              "default": "20",
              "type": "string"
            }
          },
          {
            "description": "The selected page of reviews",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": "1",
              "type": "string"
            }
          },
          {
            "description": "Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.",
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "default": "us",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Detailed Info"
        ],
        "operationId": "MoviesReviewsDetailedInfo",
        "summary": ""
      }
    },
    "/movies/{id}/similar.json": {
      "get": {
        "parameters": [
          {
            "description": "Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "default": "770672122",
              "type": "string"
            }
          },
          {
            "description": "Limit the number of similar movies to show",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": "5",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Detailed Info"
        ],
        "operationId": "MoviesSimilarDetailedInfo",
        "summary": ""
      }
    }
  },
  "components": {
    "securitySchemes": {
      "key": {
        "in": "query",
        "name": "apikey",
        "type": "apiKey"
      }
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Movie Lists"
    },
    {
      "name": "DVD Lists"
    },
    {
      "name": "Detailed Info"
    },
    {
      "name": "Search"
    },
    {
      "name": "Top Level Lists"
    }
  ],
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.rottentomatoes.com/io-docs/docs"
  }
}