{
  "openapi": "3.0.3",
  "info": {
    "title": "PagerDuty API",
    "version": "2.0.0",
    "description": "This document describes the PagerDuty REST APIs.\n\nFor guides and examples please visit our [Documentation.](https://developer.pagerduty.com/docs/get-started/getting-started/)\n\nOur REST APIs are defined in OpenAPI v3.x. You can view the schema at [github.com/PagerDuty/api-schema](https://github.com/PagerDuty/api-schema).",
    "contact": {
      "name": "PagerDuty Support",
      "url": "http://www.pagerduty.com/support",
      "email": "support@pagerduty.com"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/PagerDuty/api-schema/main/reference/REST/openapiv3.json"
  },
  "servers": [
    {
      "url": "https://api.pagerduty.com",
      "description": "PagerDuty V2 API."
    }
  ],
  "security": [{ "api_key": [] }],
  "tags": [
    { "name": "Abilities", "description": "This describes your account's abilities by feature name." },
    { "name": "Incidents", "description": "An incident represents a problem or an issue that needs to be addressed and resolved." },
    { "name": "Services", "description": "A Service may represent an application, component, or team you wish to open incidents against." },
    { "name": "Schedules", "description": "A Schedule determines the time periods that users are On-Call." },
    { "name": "Users", "description": "Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account." },
    { "name": "Teams", "description": "A team is a collection of Users and Escalation Policies that represent a group of people within an organization." },
    { "name": "Escalation Policies", "description": "Escalation policies define which user should be alerted at which time." },
    { "name": "On-Calls", "description": "An on-call represents a contiguous unit of time for which a User will be on call for a given Escalation Policy and Escalation Rules." },
    { "name": "Log Entries", "description": "A log of all the events that happen to an Incident, and these are exposed as Log Entries." },
    { "name": "Analytics", "description": "Provides enriched incident data." },
    { "name": "Notifications", "description": "A Notification is created when an Incident is triggered or escalated." },
    { "name": "Webhooks", "description": "A webhook is a way to receive events that occur on the PagerDuty platform via an HTTP POST request." },
    { "name": "Tags", "description": "A Tag is applied to Escalation Policies, Teams or Users and can be used to filter them." },
    { "name": "Business Services", "description": "Business services model capabilities that span multiple technical services and that may be owned by several different teams." },
    { "name": "Maintenance Windows", "description": "A Maintenance Window is used to temporarily disable one or more Services for a set period of time." },
    { "name": "Change Events", "description": "Change Events enable you to send informational events about recent changes such as code deploys and system config changes." }
  ],
  "paths": {
    "/abilities": {
      "get": {
        "summary": "List abilities",
        "operationId": "listAbilities",
        "description": "List all of your account's abilities, by feature name.",
        "tags": ["Abilities"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AbilityList" }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/abilities/{ability}": {
      "parameters": [
        {
          "name": "ability",
          "in": "path",
          "required": true,
          "description": "The name of the ability to test.",
          "schema": { "type": "string" }
        }
      ],
      "get": {
        "summary": "Test an ability",
        "operationId": "testAbility",
        "description": "Test whether your account has a given ability.",
        "tags": ["Abilities"],
        "responses": {
          "204": { "description": "No Content - the ability exists." },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Not Found - the ability does not exist." }
        }
      }
    },
    "/incidents": {
      "get": {
        "summary": "List incidents",
        "operationId": "listIncidents",
        "description": "List existing incidents.",
        "tags": ["Incidents"],
        "parameters": [
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/offset" },
          {
            "name": "statuses[]",
            "in": "query",
            "description": "Return only incidents with the given statuses.",
            "schema": {
              "type": "array",
              "items": { "type": "string", "enum": ["triggered", "acknowledged", "resolved"] }
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "The start of the date range over which you want to search.",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "until",
            "in": "query",
            "description": "The end of the date range over which you want to search.",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "urgencies[]",
            "in": "query",
            "description": "Array of the urgencies of the incidents to be returned.",
            "schema": {
              "type": "array",
              "items": { "type": "string", "enum": ["high", "low"] }
            }
          },
          {
            "name": "service_ids[]",
            "in": "query",
            "description": "Returns only the incidents associated with the passed service(s).",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "team_ids[]",
            "in": "query",
            "description": "An array of team IDs. Only results related to these teams will be returned.",
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/IncidentList" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "summary": "Create an incident",
        "operationId": "createIncident",
        "description": "Create an incident synchronously without a corresponding event from a monitoring service.",
        "tags": ["Incidents"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateIncidentRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/IncidentResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/incidents/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The ID of the incident.",
          "schema": { "type": "string" }
        }
      ],
      "get": {
        "summary": "Get an incident",
        "operationId": "getIncident",
        "description": "Show detailed information about an incident.",
        "tags": ["Incidents"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/IncidentResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Not Found" }
        }
      },
      "put": {
        "summary": "Update an incident",
        "operationId": "updateIncident",
        "description": "Acknowledge, resolve, escalate or reassign an incident.",
        "tags": ["Incidents"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateIncidentRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/IncidentResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/services": {
      "get": {
        "summary": "List services",
        "operationId": "listServices",
        "description": "List existing services.",
        "tags": ["Services"],
        "parameters": [
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/offset" },
          {
            "name": "query",
            "in": "query",
            "description": "Filters the results, showing only the records whose name matches the query.",
            "schema": { "type": "string" }
          },
          {
            "name": "team_ids[]",
            "in": "query",
            "description": "An array of team IDs. Only results related to these teams will be returned.",
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceList" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "summary": "Create a service",
        "operationId": "createService",
        "description": "Create a new service.",
        "tags": ["Services"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateServiceRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/schedules": {
      "get": {
        "summary": "List schedules",
        "operationId": "listSchedules",
        "description": "List the on-call schedules.",
        "tags": ["Schedules"],
        "parameters": [
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/offset" },
          {
            "name": "query",
            "in": "query",
            "description": "Filters the results, showing only the records whose name matches the query.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ScheduleList" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "List users",
        "operationId": "listUsers",
        "description": "List users of your PagerDuty account, optionally filtered by a search query.",
        "tags": ["Users"],
        "parameters": [
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/offset" },
          {
            "name": "query",
            "in": "query",
            "description": "Filters the results, showing only the users whose names or email addresses match the query.",
            "schema": { "type": "string" }
          },
          {
            "name": "team_ids[]",
            "in": "query",
            "description": "An array of team IDs. Only results related to these teams will be returned.",
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserList" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/oncalls": {
      "get": {
        "summary": "List all of the on-calls",
        "operationId": "listOnCalls",
        "description": "List the on-call entries during a given time range.",
        "tags": ["On-Calls"],
        "parameters": [
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/offset" },
          {
            "name": "since",
            "in": "query",
            "description": "The start of the time range over which you want to search.",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "until",
            "in": "query",
            "description": "The end of the time range over which you want to search.",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "user_ids[]",
            "in": "query",
            "description": "Filters the results, showing only on-calls for the specified user IDs.",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "escalation_policy_ids[]",
            "in": "query",
            "description": "Filters the results, showing only on-calls for the specified escalation policy IDs.",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "schedule_ids[]",
            "in": "query",
            "description": "Filters the results, showing only on-calls for the specified schedule IDs.",
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OnCallList" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "PagerDuty API token. Format: Token token=<your-token>"
      }
    },
    "parameters": {
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "The number of results per page.",
        "schema": { "type": "integer", "default": 25, "maximum": 100 }
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "description": "Offset to start pagination search results.",
        "schema": { "type": "integer", "default": 0 }
      }
    },
    "schemas": {
      "AbilityList": {
        "type": "object",
        "properties": {
          "abilities": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "Incident": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "incident_number": { "type": "integer" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "status": { "type": "string", "enum": ["triggered", "acknowledged", "resolved"] },
          "incident_key": { "type": "string" },
          "urgency": { "type": "string", "enum": ["high", "low"] },
          "html_url": { "type": "string" },
          "service": { "$ref": "#/components/schemas/ObjectReference" },
          "escalation_policy": { "$ref": "#/components/schemas/ObjectReference" },
          "teams": { "type": "array", "items": { "$ref": "#/components/schemas/ObjectReference" } }
        }
      },
      "IncidentList": {
        "type": "object",
        "properties": {
          "incidents": { "type": "array", "items": { "$ref": "#/components/schemas/Incident" } },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" },
          "more": { "type": "boolean" },
          "total": { "type": "integer" }
        }
      },
      "IncidentResponse": {
        "type": "object",
        "properties": {
          "incident": { "$ref": "#/components/schemas/Incident" }
        }
      },
      "CreateIncidentRequest": {
        "type": "object",
        "required": ["incident"],
        "properties": {
          "incident": {
            "type": "object",
            "required": ["type", "title", "service"],
            "properties": {
              "type": { "type": "string", "enum": ["incident"] },
              "title": { "type": "string" },
              "service": { "$ref": "#/components/schemas/ObjectReference" },
              "urgency": { "type": "string", "enum": ["high", "low"] },
              "body": {
                "type": "object",
                "properties": {
                  "type": { "type": "string" },
                  "details": { "type": "string" }
                }
              },
              "escalation_policy": { "$ref": "#/components/schemas/ObjectReference" }
            }
          }
        }
      },
      "UpdateIncidentRequest": {
        "type": "object",
        "required": ["incident"],
        "properties": {
          "incident": {
            "type": "object",
            "properties": {
              "type": { "type": "string", "enum": ["incident"] },
              "status": { "type": "string", "enum": ["acknowledged", "resolved"] },
              "urgency": { "type": "string", "enum": ["high", "low"] },
              "resolution": { "type": "string" }
            }
          }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "status": { "type": "string" },
          "escalation_policy": { "$ref": "#/components/schemas/ObjectReference" },
          "html_url": { "type": "string" },
          "alert_creation": { "type": "string" }
        }
      },
      "ServiceList": {
        "type": "object",
        "properties": {
          "services": { "type": "array", "items": { "$ref": "#/components/schemas/Service" } },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" },
          "more": { "type": "boolean" },
          "total": { "type": "integer" }
        }
      },
      "ServiceResponse": {
        "type": "object",
        "properties": {
          "service": { "$ref": "#/components/schemas/Service" }
        }
      },
      "CreateServiceRequest": {
        "type": "object",
        "required": ["service"],
        "properties": {
          "service": {
            "type": "object",
            "required": ["name", "escalation_policy"],
            "properties": {
              "name": { "type": "string" },
              "description": { "type": "string" },
              "escalation_policy": { "$ref": "#/components/schemas/ObjectReference" },
              "alert_creation": { "type": "string", "enum": ["create_incidents", "create_alerts_and_incidents"] }
            }
          }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "time_zone": { "type": "string" },
          "html_url": { "type": "string" }
        }
      },
      "ScheduleList": {
        "type": "object",
        "properties": {
          "schedules": { "type": "array", "items": { "$ref": "#/components/schemas/Schedule" } },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" },
          "more": { "type": "boolean" },
          "total": { "type": "integer" }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "email": { "type": "string" },
          "role": { "type": "string" },
          "html_url": { "type": "string" },
          "description": { "type": "string" }
        }
      },
      "UserList": {
        "type": "object",
        "properties": {
          "users": { "type": "array", "items": { "$ref": "#/components/schemas/User" } },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" },
          "more": { "type": "boolean" },
          "total": { "type": "integer" }
        }
      },
      "OnCallEntry": {
        "type": "object",
        "properties": {
          "escalation_policy": { "$ref": "#/components/schemas/ObjectReference" },
          "user": { "$ref": "#/components/schemas/ObjectReference" },
          "schedule": { "$ref": "#/components/schemas/ObjectReference" },
          "escalation_level": { "type": "integer" },
          "start": { "type": "string", "format": "date-time" },
          "end": { "type": "string", "format": "date-time" }
        }
      },
      "OnCallList": {
        "type": "object",
        "properties": {
          "oncalls": { "type": "array", "items": { "$ref": "#/components/schemas/OnCallEntry" } },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" },
          "more": { "type": "boolean" },
          "total": { "type": "integer" }
        }
      },
      "ObjectReference": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "type": { "type": "string" },
          "summary": { "type": "string" },
          "html_url": { "type": "string" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": { "type": "string" },
              "code": { "type": "integer" },
              "errors": { "type": "array", "items": { "type": "string" } }
            }
          }
        }
      }
    }
  }
}
