{
  "openapi": "3.0.3",
  "info": {
    "title": "BlaBlaCar API",
    "description": "Search car sharing trips on BlaBlaCar. Find rides between cities with departure times, prices, and driver information.",
    "version": "3.0.0",
    "contact": {
      "name": "BlaBlaCar",
      "url": "https://dev.blablacar.com"
    }
  },
  "servers": [
    {
      "url": "https://public-api.blablacar.com/api/v3",
      "description": "BlaBlaCar Public API v3"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/trips": {
      "get": {
        "operationId": "searchTrips",
        "summary": "Search trips",
        "description": "Search for car sharing trips between two locations. Returns a list of available trips with pricing, departure/arrival times, and driver details.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_coordinate",
            "in": "query",
            "required": true,
            "description": "Departure coordinates (latitude,longitude)",
            "schema": {
              "type": "string",
              "example": "48.8566,2.3522"
            }
          },
          {
            "name": "to_coordinate",
            "in": "query",
            "required": true,
            "description": "Arrival coordinates (latitude,longitude)",
            "schema": {
              "type": "string",
              "example": "45.7640,4.8357"
            }
          },
          {
            "name": "from_country",
            "in": "query",
            "required": false,
            "description": "ISO 3166-1 alpha-2 departure country code",
            "schema": {
              "type": "string",
              "example": "FR"
            }
          },
          {
            "name": "to_country",
            "in": "query",
            "required": false,
            "description": "ISO 3166-1 alpha-2 arrival country code",
            "schema": {
              "type": "string",
              "example": "FR"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "description": "Locale for the response (e.g. en_GB, fr_FR)",
            "schema": {
              "type": "string",
              "default": "en_GB"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "ISO 4217 currency code",
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "name": "departure_date",
            "in": "query",
            "required": false,
            "description": "Departure date in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "seats",
            "in": "query",
            "required": false,
            "description": "Number of seats required",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of results to return",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "start_date_local",
            "in": "query",
            "required": false,
            "description": "Start of departure date/time range (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date_local",
            "in": "query",
            "required": false,
            "description": "End of departure date/time range (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "from_place_id",
            "in": "query",
            "required": false,
            "description": "BlaBlaCar place ID for departure",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to_place_id",
            "in": "query",
            "required": false,
            "description": "BlaBlaCar place ID for arrival",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "Trips"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "key",
        "in": "query",
        "description": "API key provided by BlaBlaCar developer portal"
      }
    },
    "schemas": {
      "TripSearchResponse": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "Deep link to the search results on BlaBlaCar"
          },
          "search_info": {
            "$ref": "#/components/schemas/SearchInfo"
          },
          "trips": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trip"
            }
          },
          "next_cursor": {
            "type": "string",
            "description": "Cursor for pagination"
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "SearchInfo": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Total number of trips found"
          },
          "full_trip_count": {
            "type": "integer",
            "description": "Total number of direct trips found"
          }
        }
      },
      "Trip": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "Deep link to the trip on BlaBlaCar"
          },
          "waypoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Waypoint"
            }
          },
          "price": {
            "$ref": "#/components/schemas/Price"
          },
          "vehicle": {
            "$ref": "#/components/schemas/Vehicle"
          },
          "distance_in_meters": {
            "type": "integer",
            "description": "Trip distance in meters"
          },
          "duration_in_seconds": {
            "type": "integer",
            "description": "Trip duration in seconds"
          }
        }
      },
      "Waypoint": {
        "type": "object",
        "properties": {
          "date_time": {
            "type": "string",
            "format": "date-time",
            "description": "Departure or arrival date/time"
          },
          "place": {
            "$ref": "#/components/schemas/Place"
          }
        }
      },
      "Place": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "country_code": {
            "type": "string"
          }
        }
      },
      "Price": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string",
            "description": "Price amount"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code"
          }
        }
      },
      "Vehicle": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          }
        }
      },
      "Paging": {
        "type": "object",
        "properties": {
          "next": {
            "type": "string",
            "description": "URL for next page of results"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Trips",
      "description": "Search for car sharing trips"
    }
  ]
}