{
  "openapi": "3.0.3",
  "info": {
    "title": "Mighty Networks Admin API",
    "version": "v1",
    "description": "An API for managing your Mighty Networks network, including members, spaces, posts, events, plans, subscriptions, courseworks, and more.",
    "x-jentic-source-url": "https://docs.mightynetworks.com/admin-api"
  },
  "servers": [
    {
      "url": "https://api.mn.co"
    }
  ],
  "paths": {
    "/admin/v1/networks/{network_id}/": {
      "get": {
        "operationId": "getNetwork",
        "summary": "Get network details",
        "tags": [
          "Networks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          }
        ],
        "responses": {
          "200": {
            "description": "Network details returned successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current authenticated user",
        "tags": [
          "Networks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          }
        ],
        "responses": {
          "200": {
            "description": "Current user details returned successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/members": {
      "get": {
        "operationId": "listNetworkMembers",
        "summary": "List members of a network",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedMembers"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createNetworkMember",
        "summary": "Create a member in the network",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMemberRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/members/{id}/": {
      "get": {
        "operationId": "getNetworkMember",
        "summary": "Get a specific member",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          }
        ],
        "responses": {
          "200": {
            "description": "Member details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Member not found"
          }
        }
      },
      "patch": {
        "operationId": "updateNetworkMember",
        "summary": "Update a member",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member updated successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Member not found"
          }
        }
      },
      "put": {
        "operationId": "replaceNetworkMember",
        "summary": "Replace a member",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member replaced successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Member not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteNetworkMember",
        "summary": "Delete a member from the network",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          }
        ],
        "responses": {
          "204": {
            "description": "Member deleted successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Member not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/members/by_email": {
      "get": {
        "operationId": "getMemberByEmail",
        "summary": "Find a member by email",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "Email address to search for"
          }
        ],
        "responses": {
          "200": {
            "description": "Member found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Member not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/members/{id}/network_membership": {
      "delete": {
        "operationId": "deleteNetworkMembership",
        "summary": "Remove member from network entirely",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          },
          {
            "name": "cancel_plans",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to cancel associated plans"
          }
        ],
        "responses": {
          "204": {
            "description": "Network membership removed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Member not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/members/{member_id}/password_resets": {
      "post": {
        "operationId": "createPasswordReset",
        "summary": "Send password reset to a member",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/MemberIdParam"
          }
        ],
        "responses": {
          "201": {
            "description": "Password reset sent"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Member not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/members/{member_id}/spaces": {
      "get": {
        "operationId": "listMemberSpaces",
        "summary": "List spaces a member belongs to",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/MemberIdParam"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "List of spaces"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/members/{member_id}/plans": {
      "get": {
        "operationId": "listMemberPlans",
        "summary": "List plans a member is on",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/MemberIdParam"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "List of plans"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/members/{member_id}/tags": {
      "get": {
        "operationId": "listMemberTags",
        "summary": "List tags assigned to a member",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/MemberIdParam"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "addTagToMember",
        "summary": "Assign a tag to a member",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/MemberIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tag_id": {
                    "type": "integer",
                    "description": "ID of the tag to assign"
                  }
                },
                "required": [
                  "tag_id"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tag assigned"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/members/{member_id}/tags/{tag_id}/": {
      "get": {
        "operationId": "getMemberTag",
        "summary": "Get a specific tag on a member",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/MemberIdParam"
          },
          {
            "$ref": "#/components/parameters/TagId"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Tag not found"
          }
        }
      },
      "delete": {
        "operationId": "removeMemberTag",
        "summary": "Remove a tag from a member",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/MemberIdParam"
          },
          {
            "$ref": "#/components/parameters/TagId"
          }
        ],
        "responses": {
          "204": {
            "description": "Tag removed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Tag not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/members/{member_id}/badges": {
      "get": {
        "operationId": "listMemberBadges",
        "summary": "List badges assigned to a member",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/MemberIdParam"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "List of badges"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "addBadgeToMember",
        "summary": "Assign a badge to a member",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/MemberIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "badge_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "badge_id"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Badge assigned"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/members/{member_id}/badges/{badge_id}/": {
      "get": {
        "operationId": "getMemberBadge",
        "summary": "Get a specific badge on a member",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/MemberIdParam"
          },
          {
            "name": "badge_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Badge details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Badge not found"
          }
        }
      },
      "delete": {
        "operationId": "removeMemberBadge",
        "summary": "Remove a badge from a member",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/MemberIdParam"
          },
          {
            "name": "badge_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Badge removed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/spaces": {
      "get": {
        "operationId": "listSpaces",
        "summary": "List spaces in a network",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of spaces"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createSpace",
        "summary": "Create a space",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpaceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Space created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/spaces/{id}": {
      "get": {
        "operationId": "getSpace",
        "summary": "Get a specific space",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Space details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Space not found"
          }
        }
      },
      "patch": {
        "operationId": "updateSpace",
        "summary": "Update a space",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpaceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Space updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Space not found"
          }
        }
      },
      "put": {
        "operationId": "replaceSpace",
        "summary": "Replace a space",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpaceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Space replaced"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Space not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteSpace",
        "summary": "Delete a space",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Space deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Space not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/spaces/{space_id}/members": {
      "get": {
        "operationId": "listSpaceMembers",
        "summary": "List members of a space",
        "tags": [
          "Space Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/SpaceId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of space members"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Space not found"
          }
        }
      },
      "post": {
        "operationId": "addSpaceMember",
        "summary": "Add a member to a space",
        "tags": [
          "Space Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/SpaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added to space"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/spaces/{space_id}/members/{user_id}/": {
      "get": {
        "operationId": "getSpaceMember",
        "summary": "Get a member in a space",
        "tags": [
          "Space Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/SpaceId"
          },
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Space member details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "patch": {
        "operationId": "updateSpaceMember",
        "summary": "Update a space member",
        "tags": [
          "Space Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/SpaceId"
          },
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Space member updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "operationId": "removeSpaceMember",
        "summary": "Remove a member from a space",
        "tags": [
          "Space Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/SpaceId"
          },
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "204": {
            "description": "Member removed from space"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/spaces/{space_id}/members/{user_id}/ban": {
      "post": {
        "operationId": "banSpaceMember",
        "summary": "Ban a member from a space",
        "tags": [
          "Space Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/SpaceId"
          },
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "201": {
            "description": "Member banned from space"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/posts": {
      "get": {
        "operationId": "listPosts",
        "summary": "List posts in a network",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "name": "space_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by space ID"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of posts"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createPost",
        "summary": "Create a post",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "name": "notify",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to notify members"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/posts/{id}/": {
      "get": {
        "operationId": "getPost",
        "summary": "Get a specific post",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Post details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Post not found"
          }
        }
      },
      "patch": {
        "operationId": "updatePost",
        "summary": "Update a post",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          },
          {
            "name": "notify",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Post not found"
          }
        }
      },
      "delete": {
        "operationId": "deletePost",
        "summary": "Delete a post",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Post deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Post not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/posts/{post_id}/comments": {
      "get": {
        "operationId": "listPostComments",
        "summary": "List comments on a post",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/PostId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of comments"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createPostComment",
        "summary": "Create a comment on a post",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/PostId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/posts/{post_id}/comments/{id}/": {
      "get": {
        "operationId": "getPostComment",
        "summary": "Get a specific comment",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/PostId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Comment details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Comment not found"
          }
        }
      },
      "delete": {
        "operationId": "deletePostComment",
        "summary": "Delete a comment",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/PostId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Comment deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Comment not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/posts/{post_id}/reactions": {
      "get": {
        "operationId": "listPostReactions",
        "summary": "List reactions on a post",
        "tags": [
          "Reactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/PostId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of reactions"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createPostReaction",
        "summary": "Add a reaction to a post",
        "tags": [
          "Reactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/PostId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reaction added"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deletePostReaction",
        "summary": "Remove a reaction from a post",
        "tags": [
          "Reactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/PostId"
          }
        ],
        "responses": {
          "204": {
            "description": "Reaction removed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/posts/{post_id}/mute": {
      "post": {
        "operationId": "mutePost",
        "summary": "Mute a post for a user",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/PostId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post muted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "unmutePost",
        "summary": "Unmute a post for a user",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/PostId"
          }
        ],
        "responses": {
          "204": {
            "description": "Post unmuted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/comments/{comment_id}/reactions": {
      "get": {
        "operationId": "listCommentReactions",
        "summary": "List reactions on a comment",
        "tags": [
          "Reactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "name": "comment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of reactions"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createCommentReaction",
        "summary": "Add a reaction to a comment",
        "tags": [
          "Reactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "name": "comment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Reaction added"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteCommentReaction",
        "summary": "Remove a reaction from a comment",
        "tags": [
          "Reactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "name": "comment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Reaction removed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events in a network",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of events"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createEvent",
        "summary": "Create an event",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/events/{id}/": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get a specific event",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Event details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Event not found"
          }
        }
      },
      "patch": {
        "operationId": "updateEvent",
        "summary": "Update an event",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Event not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/events/{event_id}/rsvps": {
      "get": {
        "operationId": "listEventRsvps",
        "summary": "List RSVPs for an event",
        "tags": [
          "RSVPs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/EventId"
          },
          {
            "name": "instance_at",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter by event instance"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of RSVPs"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createEventRsvp",
        "summary": "Create an RSVP for an event",
        "tags": [
          "RSVPs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/EventId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "status": {
                    "type": "string"
                  }
                },
                "required": [
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "RSVP created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/events/{event_id}/rsvps/{id}/": {
      "get": {
        "operationId": "getEventRsvp",
        "summary": "Get a specific RSVP",
        "tags": [
          "RSVPs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/EventId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "RSVP details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "RSVP not found"
          }
        }
      },
      "patch": {
        "operationId": "updateEventRsvp",
        "summary": "Update an RSVP",
        "tags": [
          "RSVPs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/EventId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "RSVP updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "RSVP not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteEventRsvp",
        "summary": "Delete an RSVP",
        "tags": [
          "RSVPs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/EventId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "RSVP deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "RSVP not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/plans": {
      "get": {
        "operationId": "listPlans",
        "summary": "List plans in a network",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of plans"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/plans/{id}/": {
      "get": {
        "operationId": "getPlan",
        "summary": "Get a specific plan",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Plan details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Plan not found"
          }
        }
      },
      "delete": {
        "operationId": "deletePlan",
        "summary": "Delete a plan",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Plan deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Plan not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/plans/{plan_id}/members": {
      "get": {
        "operationId": "listPlanMembers",
        "summary": "List members of a plan",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/PlanId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of plan members"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "addPlanMember",
        "summary": "Add a member to a plan",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/PlanId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added to plan"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/plans/{plan_id}/members/{id}/": {
      "delete": {
        "operationId": "removePlanMember",
        "summary": "Remove a member from a plan",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/PlanId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Member removed from plan"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/subscriptions": {
      "get": {
        "operationId": "listSubscriptions",
        "summary": "List subscriptions in a network",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by subscription status"
          },
          {
            "name": "member_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by member ID"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of subscriptions"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/subscriptions/{id}": {
      "get": {
        "operationId": "getSubscription",
        "summary": "Get a specific subscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Subscription not found"
          }
        }
      },
      "delete": {
        "operationId": "cancelSubscription",
        "summary": "Cancel a subscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          },
          {
            "name": "when",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "immediately",
                "end_of_period"
              ]
            },
            "description": "When to cancel the subscription"
          }
        ],
        "responses": {
          "204": {
            "description": "Subscription cancelled"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Subscription not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/purchases": {
      "get": {
        "operationId": "listPurchases",
        "summary": "List purchases in a network",
        "tags": [
          "Purchases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "name": "plan_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by plan ID"
          },
          {
            "name": "member_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by member ID"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of purchases"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/purchases/{id}/": {
      "get": {
        "operationId": "getPurchase",
        "summary": "Get a specific purchase",
        "tags": [
          "Purchases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Purchase not found"
          }
        }
      },
      "delete": {
        "operationId": "deletePurchase",
        "summary": "Delete a purchase",
        "tags": [
          "Purchases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          },
          {
            "name": "immediate",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to cancel immediately"
          }
        ],
        "responses": {
          "204": {
            "description": "Purchase deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Purchase not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/polls": {
      "get": {
        "operationId": "listPolls",
        "summary": "List polls in a network",
        "tags": [
          "Polls"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "name": "space_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by space ID"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of polls"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createPoll",
        "summary": "Create a poll",
        "tags": [
          "Polls"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "space_id": {
                    "type": "integer"
                  },
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "title",
                  "space_id",
                  "options"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Poll created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/polls/{id}/": {
      "get": {
        "operationId": "getPoll",
        "summary": "Get a specific poll",
        "tags": [
          "Polls"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Poll details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Poll not found"
          }
        }
      },
      "patch": {
        "operationId": "updatePoll",
        "summary": "Update a poll",
        "tags": [
          "Polls"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Poll updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Poll not found"
          }
        }
      },
      "delete": {
        "operationId": "deletePoll",
        "summary": "Delete a poll",
        "tags": [
          "Polls"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Poll deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Poll not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "List tags in a network",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of tags"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createTag",
        "summary": "Create a tag",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tag created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/tags/{id}/": {
      "get": {
        "operationId": "getTag",
        "summary": "Get a specific tag",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Tag not found"
          }
        }
      },
      "patch": {
        "operationId": "updateTag",
        "summary": "Update a tag",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Tag not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteTag",
        "summary": "Delete a tag",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Tag deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Tag not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/invites": {
      "get": {
        "operationId": "listInvites",
        "summary": "List invites in a network",
        "tags": [
          "Invites"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by email"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of invites"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createInvite",
        "summary": "Create an invite",
        "tags": [
          "Invites"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "message": {
                    "type": "string"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invite created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/invites/{id}/": {
      "patch": {
        "operationId": "updateInvite",
        "summary": "Update an invite",
        "tags": [
          "Invites"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Invite updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invite not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteInvite",
        "summary": "Delete an invite",
        "tags": [
          "Invites"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Invite deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invite not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/plans/{plan_id}/invites": {
      "get": {
        "operationId": "listPlanInvites",
        "summary": "List invites for a plan",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/PlanId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of plan invites"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createPlanInvite",
        "summary": "Create an invite for a plan",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/PlanId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Plan invite created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/plans/{plan_id}/invites/{id}/": {
      "get": {
        "operationId": "getPlanInvite",
        "summary": "Get a specific plan invite",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/PlanId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Plan invite details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invite not found"
          }
        }
      },
      "patch": {
        "operationId": "updatePlanInvite",
        "summary": "Update a plan invite",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/PlanId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Invite updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invite not found"
          }
        }
      },
      "delete": {
        "operationId": "deletePlanInvite",
        "summary": "Delete a plan invite",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/PlanId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Invite deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invite not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/spaces/{space_id}/courseworks": {
      "get": {
        "operationId": "listCourseworks",
        "summary": "List courseworks in a space",
        "tags": [
          "Courseworks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/SpaceId"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by coursework type"
          },
          {
            "name": "parent_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by parent ID"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by status"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of courseworks"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createCoursework",
        "summary": "Create a coursework item",
        "tags": [
          "Courseworks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/SpaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "parent_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Coursework created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/spaces/{space_id}/courseworks/{id}/": {
      "get": {
        "operationId": "getCoursework",
        "summary": "Get a specific coursework item",
        "tags": [
          "Courseworks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/SpaceId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Coursework details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Coursework not found"
          }
        }
      },
      "patch": {
        "operationId": "updateCoursework",
        "summary": "Update a coursework item",
        "tags": [
          "Courseworks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/SpaceId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Coursework updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Coursework not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteCoursework",
        "summary": "Delete a coursework item",
        "tags": [
          "Courseworks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/SpaceId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Coursework deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Coursework not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/custom_fields/{custom_field_id}/options": {
      "get": {
        "operationId": "listCustomFieldOptions",
        "summary": "List options for a custom field",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/CustomFieldId"
          },
          {
            "name": "term",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search term"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of custom field options"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createCustomFieldOption",
        "summary": "Create a custom field option",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/CustomFieldId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string"
                  }
                },
                "required": [
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Option created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/custom_fields/{custom_field_id}/options/{id}/": {
      "get": {
        "operationId": "getCustomFieldOption",
        "summary": "Get a specific custom field option",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/CustomFieldId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Option details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Option not found"
          }
        }
      },
      "patch": {
        "operationId": "updateCustomFieldOption",
        "summary": "Update a custom field option",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/CustomFieldId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Option updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Option not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomFieldOption",
        "summary": "Delete a custom field option",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/CustomFieldId"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Option deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Option not found"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/custom_fields/{custom_field_id}/members/{member_id}/answers": {
      "get": {
        "operationId": "listCustomFieldAnswers",
        "summary": "List answers for a custom field for a member",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/CustomFieldId"
          },
          {
            "$ref": "#/components/parameters/MemberIdParam"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of answers"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createCustomFieldAnswer",
        "summary": "Create an answer for a custom field",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/CustomFieldId"
          },
          {
            "$ref": "#/components/parameters/MemberIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string"
                  }
                },
                "required": [
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Answer created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomFieldAnswers",
        "summary": "Delete answers for a custom field for a member",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/CustomFieldId"
          },
          {
            "$ref": "#/components/parameters/MemberIdParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Answers deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/admin/v1/networks/{network_id}/custom_fields/{custom_field_id}/members/{member_id}/answers/{id}/": {
      "get": {
        "operationId": "getCustomFieldAnswer",
        "summary": "Get a specific answer",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/CustomFieldId"
          },
          {
            "$ref": "#/components/parameters/MemberIdParam"
          },
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Answer details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Answer not found"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "NetworkId": {
        "name": "network_id",
        "in": "path",
        "required": true,
        "description": "Network's numeric ID or subdomain",
        "schema": {
          "type": "string"
        }
      },
      "MemberId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Member ID",
        "schema": {
          "type": "integer"
        }
      },
      "MemberIdParam": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Member ID",
        "schema": {
          "type": "integer"
        }
      },
      "SpaceId": {
        "name": "space_id",
        "in": "path",
        "required": true,
        "description": "Space ID",
        "schema": {
          "type": "integer"
        }
      },
      "PostId": {
        "name": "post_id",
        "in": "path",
        "required": true,
        "description": "Post ID",
        "schema": {
          "type": "integer"
        }
      },
      "EventId": {
        "name": "event_id",
        "in": "path",
        "required": true,
        "description": "Event ID",
        "schema": {
          "type": "integer"
        }
      },
      "PlanId": {
        "name": "plan_id",
        "in": "path",
        "required": true,
        "description": "Plan ID",
        "schema": {
          "type": "integer"
        }
      },
      "TagId": {
        "name": "tag_id",
        "in": "path",
        "required": true,
        "description": "Tag ID",
        "schema": {
          "type": "integer"
        }
      },
      "CustomFieldId": {
        "name": "custom_field_id",
        "in": "path",
        "required": true,
        "description": "Custom field ID",
        "schema": {
          "type": "integer"
        }
      },
      "UserId": {
        "name": "user_id",
        "in": "path",
        "required": true,
        "description": "User ID",
        "schema": {
          "type": "integer"
        }
      },
      "ResourceId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Resource ID",
        "schema": {
          "type": "integer"
        }
      },
      "Page": {
        "name": "page",
        "in": "query",
        "description": "Page number for pagination",
        "schema": {
          "type": "integer",
          "default": 1
        }
      },
      "PerPage": {
        "name": "per_page",
        "in": "query",
        "description": "Number of items per page (max 100)",
        "schema": {
          "type": "integer",
          "default": 25,
          "maximum": 100
        }
      }
    },
    "schemas": {
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateMemberRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        },
        "required": [
          "email",
          "name"
        ]
      },
      "UpdateMemberRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "CreateSpaceRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "CreatePostRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "space_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          }
        },
        "required": [
          "body",
          "space_id"
        ]
      },
      "CreateEventRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "space_id": {
            "type": "integer"
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "ends_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "title",
          "space_id",
          "starts_at"
        ]
      },
      "PaginatedMembers": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Member"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key authentication using Bearer token"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}