{
  "openapi": "3.0.3",
  "info": {
    "title": "PDFMonkey API",
    "version": "v1",
    "description": "Generate PDF documents programmatically using templates and dynamic data. Supports synchronous and asynchronous document generation, management, and retrieval.",
    "x-jentic-source-url": "https://pdfmonkey.io/docs/api/documents/"
  },
  "servers": [
    {
      "url": "https://api.pdfmonkey.io/api/v1"
    }
  ],
  "paths": {
    "/documents": {
      "post": {
        "operationId": "createDocument",
        "summary": "Create a document",
        "description": "Creates a new document and optionally queues it for generation. Set status to 'pending' to trigger generation immediately.",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/documents/sync": {
      "post": {
        "operationId": "createDocumentSync",
        "summary": "Create document synchronously",
        "description": "Creates a document and waits for PDF generation to complete server-side. Has a 6-minute timeout.",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentCardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{id}": {
      "get": {
        "operationId": "getDocument",
        "summary": "Get full document",
        "description": "Retrieves complete document including payload and generation logs.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateDocument",
        "summary": "Update a document",
        "description": "Updates document payload, metadata, or triggers generation by setting status to 'pending'.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDocument",
        "summary": "Delete a document",
        "description": "Permanently deletes a document and its generated file.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Document deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/document_cards/{id}": {
      "get": {
        "operationId": "getDocumentCard",
        "summary": "Get document card",
        "description": "Retrieves a lightweight document representation with template identifier. Recommended over full document retrieval.",
        "tags": [
          "DocumentCards"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document card retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentCardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/document_cards": {
      "get": {
        "operationId": "listDocumentCards",
        "summary": "List document cards",
        "description": "Returns a paginated list of document cards with optional filtering.",
        "tags": [
          "DocumentCards"
        ],
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "q[document_template_id]",
            "in": "query",
            "description": "Filter by template ID (UUID or array of UUIDs)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q[status]",
            "in": "query",
            "description": "Filter by document status",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "pending",
                "generating",
                "success",
                "failure"
              ]
            }
          },
          {
            "name": "q[workspace_id]",
            "in": "query",
            "description": "Filter by workspace ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "q[updated_since]",
            "in": "query",
            "description": "Filter documents modified after this timestamp",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "q[search]",
            "in": "query",
            "description": "Search by document ID or filename",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of document cards",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentCardListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateDocumentRequest": {
        "type": "object",
        "required": [
          "document"
        ],
        "properties": {
          "document": {
            "type": "object",
            "required": [
              "document_template_id"
            ],
            "properties": {
              "document_template_id": {
                "type": "string",
                "format": "uuid",
                "description": "ID of the template to use for generation."
              },
              "payload": {
                "type": "object",
                "description": "Dynamic data to inject into the template."
              },
              "meta": {
                "type": "object",
                "description": "Metadata associated with the document."
              },
              "status": {
                "type": "string",
                "description": "Set to 'pending' to trigger generation immediately.",
                "enum": [
                  "draft",
                  "pending"
                ]
              }
            }
          }
        }
      },
      "UpdateDocumentRequest": {
        "type": "object",
        "required": [
          "document"
        ],
        "properties": {
          "document": {
            "type": "object",
            "properties": {
              "document_template_id": {
                "type": "string",
                "format": "uuid"
              },
              "payload": {
                "type": "object"
              },
              "meta": {
                "type": "object"
              },
              "status": {
                "type": "string",
                "enum": [
                  "draft",
                  "pending"
                ]
              }
            }
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "document_template_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "pending",
              "generating",
              "success",
              "failure"
            ]
          },
          "payload": {
            "type": "object"
          },
          "meta": {
            "type": "object"
          },
          "download_url": {
            "type": "string",
            "nullable": true,
            "description": "Temporary signed S3 URL valid for 1 hour. Fetch document again for renewal."
          },
          "filename": {
            "type": "string",
            "nullable": true,
            "description": "Generated PDF filename."
          },
          "output_type": {
            "type": "string",
            "nullable": true,
            "description": "Output format type."
          },
          "failure_cause": {
            "type": "string",
            "nullable": true,
            "description": "Reason for generation failure, if applicable."
          },
          "checksum": {
            "type": "string",
            "nullable": true,
            "description": "Document content checksum."
          },
          "preview_url": {
            "type": "string",
            "nullable": true,
            "description": "Preview URL for the generated document."
          },
          "public_share_link": {
            "type": "string",
            "nullable": true,
            "description": "Public shareable link for the document."
          },
          "app_id": {
            "type": "string",
            "nullable": true,
            "description": "Application identifier."
          },
          "generation_logs": {
            "type": "string",
            "nullable": true,
            "description": "Logs from the PDF generation process."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DocumentCard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "document_template_id": {
            "type": "string",
            "format": "uuid"
          },
          "document_template_identifier": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "pending",
              "generating",
              "success",
              "failure"
            ]
          },
          "download_url": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DocumentResponse": {
        "type": "object",
        "properties": {
          "document": {
            "$ref": "#/components/schemas/Document"
          }
        }
      },
      "DocumentCardResponse": {
        "type": "object",
        "properties": {
          "document_card": {
            "$ref": "#/components/schemas/DocumentCard"
          }
        }
      },
      "DocumentCardListResponse": {
        "type": "object",
        "properties": {
          "document_cards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentCard"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Secret API key from your PDFMonkey account."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}