{
  "openapi": "3.0.3",
  "info": {
    "title": "Eulerpool Financial Data API",
    "version": "1.0.0",
    "description": "The Eulerpool Financial Data API provides access to stock market data, fundamentals, real-time streaming, historical data, forex, commodities, fixed income, economic indicators, and options/futures data across 140+ endpoints.",
    "x-jentic-source-url": "https://eulerpool.com/en/financial-data-api"
  },
  "servers": [{ "url": "https://api.eulerpool.com" }],
  "paths": {
    "/api/1/equity/incomestatement/{isin}": {
      "get": {
        "operationId": "getIncomeStatement",
        "summary": "Get income statement data",
        "description": "Retrieves income statement data for equities by ISIN or ticker",
        "tags": ["Fundamentals"],
        "parameters": [
          { "name": "isin", "in": "path", "required": true, "description": "ISIN or ticker identifier", "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": true, "description": "API token for authentication", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/IncomeStatement" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IncomeStatement": { "type": "object", "properties": { "ticker": { "type": "string" }, "period": { "type": "string", "format": "date" }, "revenue": { "type": "number" }, "grossIncome": { "type": "number" }, "netIncome": { "type": "number" }, "ebit": { "type": "number" }, "diluted_eps": { "type": "number" }, "shares": { "type": "number" } } },
      "ErrorResponse": { "type": "object", "properties": { "status": { "type": "string" }, "message": { "type": "string" } } }
    },
    "securitySchemes": {
      "apiToken": { "type": "apiKey", "name": "token", "in": "query" }
    }
  },
  "security": [{ "apiToken": [] }]
}