{
  "openapi": "3.0.3",
  "info": {
    "title": "ColorfulClouds Weather API",
    "description": "Weather API by Caiyun (ColorfulClouds) providing real-time weather data, minutely precipitation nowcasting, hourly and daily forecasts. Covers global weather data with specialized precipitation nowcasting for China and other regions. Supports multiple languages and unit systems.",
    "version": "2.5.0",
    "contact": {
      "name": "Caiyun Weather API",
      "url": "https://open.caiyunapp.com",
      "email": "api@caiyunapp.com"
    },
    "x-jentic-source-url": "https://open.caiyunapp.com/ColorfulClouds_Weather_API"
  },
  "servers": [
    {
      "url": "https://api.caiyunapp.com/v2.5",
      "description": "ColorfulClouds API v2.5 Production Server"
    }
  ],
  "security": [
    {
      "apiKeyPath": []
    }
  ],
  "tags": [
    {
      "name": "Weather",
      "description": "Comprehensive weather data including realtime, minutely, hourly, and daily forecasts"
    },
    {
      "name": "Realtime",
      "description": "Current weather conditions"
    },
    {
      "name": "Minutely",
      "description": "Minute-by-minute precipitation data"
    },
    {
      "name": "Hourly",
      "description": "Hourly weather forecast"
    },
    {
      "name": "Daily",
      "description": "Daily weather forecast"
    }
  ],
  "paths": {
    "/{token}/{longitude},{latitude}/weather.json": {
      "get": {
        "operationId": "getWeather",
        "summary": "Get comprehensive weather data",
        "description": "Returns comprehensive weather data including realtime conditions, minutely precipitation, hourly forecast, and daily forecast for the specified coordinates.",
        "tags": ["Weather"],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "API token for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "description": "Longitude of the location",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "description": "Latitude of the location",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language for response text",
            "schema": {
              "type": "string",
              "enum": ["zh_CN", "en_US", "ja"],
              "default": "zh_CN"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "description": "Unit system for measurements",
            "schema": {
              "type": "string",
              "enum": ["metric", "imperial", "SI"],
              "default": "metric"
            }
          },
          {
            "name": "hourlysteps",
            "in": "query",
            "required": false,
            "description": "Number of hourly forecast steps (1-24)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 24,
              "default": 24
            }
          },
          {
            "name": "dailysteps",
            "in": "query",
            "required": false,
            "description": "Number of daily forecast steps (1-10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 5
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Optional additional data fields (e.g., 'astro' for sunrise/sunset)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with comprehensive weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeatherResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid coordinates or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{token}/{longitude},{latitude}/weather.jsonp": {
      "get": {
        "operationId": "getWeatherJsonp",
        "summary": "Get weather data in JSONP format",
        "description": "Returns comprehensive weather data in JSONP format for cross-domain browser requests.",
        "tags": ["Weather"],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "API token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "description": "Longitude",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "description": "Latitude",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": true,
            "description": "JSONP callback function name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["zh_CN", "en_US", "ja"]
            }
          },
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["metric", "imperial", "SI"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSONP response",
            "content": {
              "application/javascript": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{token}/{longitude},{latitude}/realtime.json": {
      "get": {
        "operationId": "getRealtime",
        "summary": "Get realtime weather data only",
        "description": "Returns only the current/realtime weather conditions for the specified coordinates.",
        "tags": ["Realtime"],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["zh_CN", "en_US", "ja"]
            }
          },
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["metric", "imperial", "SI"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with realtime weather",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealtimeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{token}/{longitude},{latitude}/minutely.json": {
      "get": {
        "operationId": "getMinutely",
        "summary": "Get minutely precipitation data",
        "description": "Returns minute-by-minute precipitation nowcasting data for the next 2 hours.",
        "tags": ["Minutely"],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["zh_CN", "en_US", "ja"]
            }
          },
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["metric", "imperial", "SI"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with minutely precipitation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinutelyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{token}/{longitude},{latitude}/hourly.json": {
      "get": {
        "operationId": "getHourly",
        "summary": "Get hourly forecast data",
        "description": "Returns hourly weather forecast data.",
        "tags": ["Hourly"],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "hourlysteps",
            "in": "query",
            "required": false,
            "description": "Number of hourly steps (1-24)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 24
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["zh_CN", "en_US", "ja"]
            }
          },
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["metric", "imperial", "SI"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with hourly forecast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HourlyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{token}/{longitude},{latitude}/daily.json": {
      "get": {
        "operationId": "getDaily",
        "summary": "Get daily forecast data",
        "description": "Returns daily weather forecast data.",
        "tags": ["Daily"],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "dailysteps",
            "in": "query",
            "required": false,
            "description": "Number of daily steps (1-10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["zh_CN", "en_US", "ja"]
            }
          },
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["metric", "imperial", "SI"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with daily forecast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyPath": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "API token passed as a path segment. Note: the token is actually part of the URL path, but represented here as a path parameter for OpenAPI compatibility."
      }
    },
    "schemas": {
      "WeatherResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Response status"
          },
          "api_version": {
            "type": "string",
            "description": "API version"
          },
          "api_status": {
            "type": "string",
            "description": "API status"
          },
          "lang": {
            "type": "string",
            "description": "Response language"
          },
          "unit": {
            "type": "string",
            "description": "Unit system used"
          },
          "tzshift": {
            "type": "integer",
            "description": "Timezone shift in seconds"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone name"
          },
          "server_time": {
            "type": "integer",
            "description": "Server timestamp"
          },
          "location": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "Coordinates [latitude, longitude]"
          },
          "result": {
            "$ref": "#/components/schemas/WeatherResult"
          }
        }
      },
      "WeatherResult": {
        "type": "object",
        "properties": {
          "realtime": {
            "$ref": "#/components/schemas/RealtimeData"
          },
          "minutely": {
            "$ref": "#/components/schemas/MinutelyData"
          },
          "hourly": {
            "$ref": "#/components/schemas/HourlyData"
          },
          "daily": {
            "$ref": "#/components/schemas/DailyData"
          },
          "primary": {
            "type": "integer",
            "description": "Primary data source indicator"
          },
          "forecast_keypoint": {
            "type": "string",
            "description": "Key forecast summary text"
          }
        }
      },
      "RealtimeData": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "temperature": {
            "type": "number",
            "description": "Temperature"
          },
          "humidity": {
            "type": "number",
            "description": "Relative humidity (0-1)"
          },
          "cloudrate": {
            "type": "number",
            "description": "Cloud cover rate (0-1)"
          },
          "skycon": {
            "type": "string",
            "description": "Sky condition code (CLEAR_DAY, CLEAR_NIGHT, PARTLY_CLOUDY_DAY, PARTLY_CLOUDY_NIGHT, CLOUDY, LIGHT_HAZE, MODERATE_HAZE, HEAVY_HAZE, LIGHT_RAIN, MODERATE_RAIN, HEAVY_RAIN, STORM_RAIN, FOG, LIGHT_SNOW, MODERATE_SNOW, HEAVY_SNOW, STORM_SNOW, DUST, SAND, WIND)"
          },
          "visibility": {
            "type": "number",
            "description": "Visibility in km"
          },
          "dswrf": {
            "type": "number",
            "description": "Downward shortwave radiation flux (W/m2)"
          },
          "wind": {
            "$ref": "#/components/schemas/Wind"
          },
          "pressure": {
            "type": "number",
            "description": "Barometric pressure in Pa"
          },
          "apparent_temperature": {
            "type": "number",
            "description": "Apparent (feels like) temperature"
          },
          "precipitation": {
            "type": "object",
            "properties": {
              "local": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "datasource": {
                    "type": "string"
                  },
                  "intensity": {
                    "type": "number",
                    "description": "Precipitation intensity (mm/hr)"
                  }
                }
              },
              "nearest": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "distance": {
                    "type": "number"
                  },
                  "intensity": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "air_quality": {
            "$ref": "#/components/schemas/AirQuality"
          },
          "life_index": {
            "type": "object",
            "properties": {
              "ultraviolet": {
                "type": "object",
                "properties": {
                  "index": {
                    "type": "number"
                  },
                  "desc": {
                    "type": "string"
                  }
                }
              },
              "comfort": {
                "type": "object",
                "properties": {
                  "index": {
                    "type": "integer"
                  },
                  "desc": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Wind": {
        "type": "object",
        "properties": {
          "speed": {
            "type": "number",
            "description": "Wind speed"
          },
          "direction": {
            "type": "number",
            "description": "Wind direction in degrees"
          }
        }
      },
      "AirQuality": {
        "type": "object",
        "properties": {
          "pm25": {
            "type": "number",
            "description": "PM2.5 concentration"
          },
          "pm10": {
            "type": "number",
            "description": "PM10 concentration"
          },
          "o3": {
            "type": "number",
            "description": "Ozone concentration"
          },
          "so2": {
            "type": "number",
            "description": "SO2 concentration"
          },
          "no2": {
            "type": "number",
            "description": "NO2 concentration"
          },
          "co": {
            "type": "number",
            "description": "CO concentration"
          },
          "aqi": {
            "type": "object",
            "properties": {
              "chn": {
                "type": "number",
                "description": "China AQI value"
              },
              "usa": {
                "type": "number",
                "description": "US EPA AQI value"
              }
            }
          },
          "description": {
            "type": "object",
            "properties": {
              "chn": {
                "type": "string"
              },
              "usa": {
                "type": "string"
              }
            }
          }
        }
      },
      "MinutelyData": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "datasource": {
            "type": "string"
          },
          "precipitation_2h": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "Precipitation intensity values for next 2 hours (per minute)"
          },
          "precipitation": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "Precipitation intensity values for next hour (per minute)"
          },
          "probability": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "Precipitation probability values"
          },
          "description": {
            "type": "string",
            "description": "Human-readable precipitation description"
          }
        }
      },
      "HourlyData": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "precipitation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimedValue"
            }
          },
          "temperature": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimedValue"
            }
          },
          "wind": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "datetime": {
                  "type": "string"
                },
                "speed": {
                  "type": "number"
                },
                "direction": {
                  "type": "number"
                }
              }
            }
          },
          "humidity": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimedValue"
            }
          },
          "cloudrate": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimedValue"
            }
          },
          "skycon": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "datetime": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          },
          "pressure": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimedValue"
            }
          },
          "visibility": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimedValue"
            }
          },
          "air_quality": {
            "type": "object",
            "properties": {
              "aqi": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "datetime": {
                      "type": "string"
                    },
                    "value": {
                      "type": "object",
                      "properties": {
                        "chn": {
                          "type": "number"
                        },
                        "usa": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              },
              "pm25": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TimedValue"
                }
              }
            }
          }
        }
      },
      "DailyData": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "astro": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "sunrise": {
                  "type": "object",
                  "properties": {
                    "time": {
                      "type": "string"
                    }
                  }
                },
                "sunset": {
                  "type": "object",
                  "properties": {
                    "time": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "precipitation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyRangeValue"
            }
          },
          "temperature": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyRangeValue"
            }
          },
          "wind": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "max": {
                  "$ref": "#/components/schemas/Wind"
                },
                "min": {
                  "$ref": "#/components/schemas/Wind"
                },
                "avg": {
                  "$ref": "#/components/schemas/Wind"
                }
              }
            }
          },
          "humidity": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyRangeValue"
            }
          },
          "cloudrate": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyRangeValue"
            }
          },
          "pressure": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyRangeValue"
            }
          },
          "visibility": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyRangeValue"
            }
          },
          "skycon": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          },
          "life_index": {
            "type": "object",
            "properties": {
              "ultraviolet": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "index": {
                      "type": "string"
                    },
                    "desc": {
                      "type": "string"
                    }
                  }
                }
              },
              "carWashing": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "index": {
                      "type": "string"
                    },
                    "desc": {
                      "type": "string"
                    }
                  }
                }
              },
              "dressing": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "index": {
                      "type": "string"
                    },
                    "desc": {
                      "type": "string"
                    }
                  }
                }
              },
              "comfort": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "index": {
                      "type": "string"
                    },
                    "desc": {
                      "type": "string"
                    }
                  }
                }
              },
              "coldRisk": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "index": {
                      "type": "string"
                    },
                    "desc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "air_quality": {
            "type": "object",
            "properties": {
              "aqi": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "max": {
                      "type": "object",
                      "properties": {
                        "chn": {
                          "type": "number"
                        },
                        "usa": {
                          "type": "number"
                        }
                      }
                    },
                    "avg": {
                      "type": "object",
                      "properties": {
                        "chn": {
                          "type": "number"
                        },
                        "usa": {
                          "type": "number"
                        }
                      }
                    },
                    "min": {
                      "type": "object",
                      "properties": {
                        "chn": {
                          "type": "number"
                        },
                        "usa": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              },
              "pm25": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DailyRangeValue"
                }
              }
            }
          }
        }
      },
      "TimedValue": {
        "type": "object",
        "properties": {
          "datetime": {
            "type": "string",
            "description": "ISO 8601 datetime"
          },
          "value": {
            "type": "number",
            "description": "Measured value"
          }
        }
      },
      "DailyRangeValue": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date string"
          },
          "max": {
            "type": "number",
            "description": "Maximum value"
          },
          "min": {
            "type": "number",
            "description": "Minimum value"
          },
          "avg": {
            "type": "number",
            "description": "Average value"
          }
        }
      },
      "RealtimeResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "api_version": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "location": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "result": {
            "type": "object",
            "properties": {
              "realtime": {
                "$ref": "#/components/schemas/RealtimeData"
              },
              "primary": {
                "type": "integer"
              }
            }
          }
        }
      },
      "MinutelyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "api_version": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "location": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "result": {
            "type": "object",
            "properties": {
              "minutely": {
                "$ref": "#/components/schemas/MinutelyData"
              },
              "primary": {
                "type": "integer"
              }
            }
          }
        }
      },
      "HourlyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "api_version": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "location": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "result": {
            "type": "object",
            "properties": {
              "hourly": {
                "$ref": "#/components/schemas/HourlyData"
              },
              "primary": {
                "type": "integer"
              }
            }
          }
        }
      },
      "DailyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "api_version": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "location": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "result": {
            "type": "object",
            "properties": {
              "daily": {
                "$ref": "#/components/schemas/DailyData"
              },
              "primary": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Error status"
          },
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "api_version": {
            "type": "string"
          }
        }
      }
    }
  }
}
