{
  "openapi": "3.0.3",
  "info": {
    "title": "MailerSend API",
    "version": "v1",
    "description": "RESTful email and SMS delivery API. Provides endpoints for sending transactional emails, managing domains, templates, recipients, analytics, and more.",
    "x-jentic-source-url": "https://developers.mailersend.com/"
  },
  "servers": [
    {
      "url": "https://api.mailersend.com/v1"
    }
  ],
  "paths": {
    "/email": {
      "post": {
        "operationId": "sendEmail",
        "summary": "Send an email",
        "description": "Send a single asynchronous email with optional personalization and tracking settings.",
        "tags": [
          "Email"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Email accepted for delivery",
            "headers": {
              "x-message-id": {
                "description": "Message ID for tracking",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error"
          },
          "401": {
            "description": "Unauthorized - invalid API token"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/bulk-email": {
      "post": {
        "operationId": "sendBulkEmail",
        "summary": "Send bulk emails",
        "description": "Send multiple asynchronous emails in a single request. Supports 5-500 emails per request depending on plan.",
        "tags": [
          "Email"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SendEmailRequest"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Bulk email accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkEmailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/bulk-email/{bulkEmailId}": {
      "get": {
        "operationId": "getBulkEmailStatus",
        "summary": "Get bulk email status",
        "description": "Retrieve processing status, validation errors, and suppression details for a bulk email operation.",
        "tags": [
          "Email"
        ],
        "parameters": [
          {
            "name": "bulkEmailId",
            "in": "path",
            "required": true,
            "description": "The bulk email ID from the bulk send response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk email status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkEmailStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Bulk email not found"
          }
        }
      }
    },
    "/activity/{domainId}": {
      "get": {
        "operationId": "listActivities",
        "summary": "List activities for a domain",
        "description": "Retrieve all activity data points for a specific domain including sent emails and engagement metrics.",
        "tags": [
          "Activity"
        ],
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "description": "The domain identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page (10-100, default 25)",
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "required": true,
            "description": "Start date as Unix timestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "required": true,
            "description": "End date as Unix timestamp (max 7-day span from date_from)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "event[]",
            "in": "query",
            "description": "Filter by event types",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "queued",
                  "sent",
                  "delivered",
                  "soft_bounced",
                  "hard_bounced",
                  "deferred",
                  "opened",
                  "clicked",
                  "unsubscribed",
                  "spam_complaints"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity list"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/activities/{activityId}": {
      "get": {
        "operationId": "getActivity",
        "summary": "Get a single activity",
        "description": "Retrieve detailed information about a specific activity event.",
        "tags": [
          "Activity"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "description": "The activity record identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Activity not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendEmailRequest": {
        "type": "object",
        "required": [
          "to"
        ],
        "properties": {
          "from": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "email"
            ]
          },
          "to": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "email"
              ]
            },
            "maxItems": 50
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "bcc": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "subject": {
            "type": "string",
            "maxLength": 998
          },
          "text": {
            "type": "string",
            "description": "Plain text email body (max 2MB)"
          },
          "html": {
            "type": "string",
            "description": "HTML email body (max 2MB)"
          },
          "template_id": {
            "type": "string",
            "description": "Predefined template ID"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "personalization": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "data": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string",
                  "description": "Base64-encoded file content"
                },
                "filename": {
                  "type": "string"
                },
                "disposition": {
                  "type": "string",
                  "enum": [
                    "inline",
                    "attachment"
                  ]
                },
                "id": {
                  "type": "string",
                  "description": "Content ID for inline attachments"
                }
              }
            }
          },
          "send_at": {
            "type": "integer",
            "description": "Unix timestamp for scheduled sending"
          },
          "settings": {
            "type": "object",
            "properties": {
              "track_clicks": {
                "type": "boolean"
              },
              "track_opens": {
                "type": "boolean"
              },
              "track_content": {
                "type": "boolean"
              }
            }
          },
          "headers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          },
          "in_reply_to": {
            "type": "string",
            "description": "Message-ID for threading"
          },
          "references": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Message-ID references for threading"
          }
        }
      },
      "BulkEmailResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "bulk_email_id": {
            "type": "string"
          }
        }
      },
      "BulkEmailStatus": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "state": {
                "type": "string",
                "enum": [
                  "completed",
                  "processing",
                  "failed"
                ]
              },
              "total_recipients_count": {
                "type": "integer"
              },
              "suppressed_recipients_count": {
                "type": "integer"
              },
              "validation_errors_count": {
                "type": "integer"
              },
              "messages_id": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from MailerSend dashboard"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}