{
  "openapi": "3.0.3",
  "info": {
    "title": "Xodo Sign (Eversign) E-Signature API",
    "version": "1.0.0",
    "description": "Xodo Sign (formerly eversign) is an e-signature platform. The API allows creating, managing, and signing documents and templates, managing businesses, sending reminders, and handling bulk signing operations.",
    "x-jentic-source-url": "https://eversign.com/api/documentation"
  },
  "servers": [
    {
      "url": "https://api.eversign.com",
      "description": "Eversign API"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Businesses",
      "description": "Manage businesses"
    },
    {
      "name": "Documents",
      "description": "Create and manage documents"
    },
    {
      "name": "Templates",
      "description": "Create and manage templates"
    },
    {
      "name": "Files",
      "description": "File upload and download"
    },
    {
      "name": "BulkJobs",
      "description": "Bulk sending operations"
    }
  ],
  "paths": {
    "/business": {
      "get": {
        "operationId": "listBusinesses",
        "summary": "List businesses",
        "description": "Returns a list of all businesses on the account.",
        "tags": [
          "Businesses"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API access key"
          }
        ],
        "responses": {
          "200": {
            "description": "List of businesses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Business"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/document": {
      "get": {
        "operationId": "getDocumentOrTemplate",
        "summary": "Get a document or template",
        "description": "Retrieves a specific document or template by its hash.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "document_hash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createDocument",
        "summary": "Create a document",
        "description": "Creates a new document for signing. Requires files, signers, and optional fields.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteDocument",
        "summary": "Delete a document permanently",
        "description": "Permanently deletes a document (must be in trash first).",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "document_hash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/document?type=all": {
      "get": {
        "operationId": "listDocuments",
        "summary": "List documents",
        "description": "Returns a list of documents filtered by type (all, my_action_required, waiting_for_others, completed, drafts, cancelled, trash).",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "my_action_required",
                "waiting_for_others",
                "completed",
                "drafts",
                "cancelled",
                "trash"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/document?type=templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List templates",
        "description": "Returns a list of templates.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "templates",
                "templates_archived",
                "template_drafts"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/send_reminder": {
      "post": {
        "operationId": "sendReminder",
        "summary": "Send a signing reminder",
        "description": "Sends a reminder to a specific signer of a document.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendReminderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reminder sent"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reassign_signer": {
      "post": {
        "operationId": "reassignSigner",
        "summary": "Reassign a signer",
        "description": "Reassigns a document signer to a different person.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReassignSignerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signer reassigned"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/document_trash": {
      "post": {
        "operationId": "trashDocument",
        "summary": "Move document/template to trash",
        "description": "Moves a document or template to the trash.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "document_hash"
                ],
                "properties": {
                  "document_hash": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document trashed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/document_cancel": {
      "post": {
        "operationId": "cancelDocument",
        "summary": "Cancel a document",
        "description": "Cancels a pending document.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "document_hash"
                ],
                "properties": {
                  "document_hash": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document cancelled"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/download_original_pdf": {
      "get": {
        "operationId": "downloadOriginalPdf",
        "summary": "Download original PDF",
        "description": "Downloads the original unsigned PDF of a document.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "document_hash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/download_final_pdf": {
      "get": {
        "operationId": "downloadFinalPdf",
        "summary": "Download final signed PDF",
        "description": "Downloads the final signed PDF of a completed document.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "document_hash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audit_trail",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Include audit trail (1) or not (0)"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/file": {
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload a file",
        "description": "Uploads a file to be used when creating documents.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadedFile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/document_audit_log": {
      "get": {
        "operationId": "getAuditLog",
        "summary": "Get document audit log",
        "description": "Returns the audit log for a specific document.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "document_hash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit log",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditLogEntry"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/bulk_csv": {
      "get": {
        "operationId": "getBulkSendingBlankCsv",
        "summary": "Get blank CSV for bulk sending",
        "tags": [
          "BulkJobs"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "template_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV file"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/bulk_job": {
      "post": {
        "operationId": "createBulkJob",
        "summary": "Create a bulk signing job",
        "tags": [
          "BulkJobs"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk job created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "getBulkJobsList",
        "summary": "Get bulk jobs list",
        "tags": [
          "BulkJobs"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of bulk jobs"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "access_key",
        "description": "API access key found in the Developer section of your Xodo Sign account"
      }
    },
    "schemas": {
      "Business": {
        "type": "object",
        "properties": {
          "business_id": {
            "type": "integer"
          },
          "business_status": {
            "type": "integer",
            "description": "1=active, 2=inactive/deleted"
          },
          "business_identifier": {
            "type": "string"
          },
          "business_name": {
            "type": "string"
          },
          "creation_time_stamp": {
            "type": "integer"
          },
          "is_primary": {
            "type": "integer"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "document_hash": {
            "type": "string"
          },
          "requester_email": {
            "type": "string"
          },
          "is_draft": {
            "type": "integer"
          },
          "is_template": {
            "type": "integer"
          },
          "is_completed": {
            "type": "integer"
          },
          "is_archived": {
            "type": "integer"
          },
          "is_deleted": {
            "type": "integer"
          },
          "is_trashed": {
            "type": "integer"
          },
          "is_cancelled": {
            "type": "integer"
          },
          "embedded_signing_enabled": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "use_signer_order": {
            "type": "integer"
          },
          "reminders": {
            "type": "integer"
          },
          "require_all_signers": {
            "type": "integer"
          },
          "redirect": {
            "type": "string"
          },
          "redirect_decline": {
            "type": "string"
          },
          "client": {
            "type": "string"
          },
          "created": {
            "type": "integer"
          },
          "expires": {
            "type": "integer"
          },
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Signer"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recipient"
            }
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Field"
              }
            }
          },
          "meta": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "CreateDocumentRequest": {
        "type": "object",
        "required": [
          "title",
          "files",
          "signers"
        ],
        "properties": {
          "sandbox": {
            "type": "integer",
            "default": 0
          },
          "is_draft": {
            "type": "integer",
            "default": 0
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "use_signer_order": {
            "type": "integer",
            "default": 0
          },
          "reminders": {
            "type": "integer",
            "default": 0
          },
          "require_all_signers": {
            "type": "integer",
            "default": 0
          },
          "custom_requester_name": {
            "type": "string"
          },
          "custom_requester_email": {
            "type": "string"
          },
          "redirect": {
            "type": "string"
          },
          "redirect_decline": {
            "type": "string"
          },
          "client": {
            "type": "string"
          },
          "expires": {
            "type": "integer"
          },
          "embedded_signing_enabled": {
            "type": "integer",
            "default": 0
          },
          "flexible_signing": {
            "type": "integer",
            "default": 0
          },
          "use_hidden_tags": {
            "type": "integer",
            "default": 0
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileUpload"
            }
          },
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignerInput"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipientInput"
            }
          },
          "meta": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/FieldInput"
              }
            }
          }
        }
      },
      "FileUpload": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "file_id": {
            "type": "string"
          },
          "file_url": {
            "type": "string"
          },
          "file_base64": {
            "type": "string"
          }
        }
      },
      "SignerInput": {
        "type": "object",
        "required": [
          "id",
          "name",
          "email"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          },
          "pin": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "deliver_email": {
            "type": "integer"
          },
          "language": {
            "type": "string"
          }
        }
      },
      "RecipientInput": {
        "type": "object",
        "required": [
          "name",
          "email"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "language": {
            "type": "string"
          }
        }
      },
      "FieldInput": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Field type (signature, text, date_signed, checkbox, initials, note, attachment, etc.)"
          },
          "x": {
            "type": "number"
          },
          "y": {
            "type": "number"
          },
          "width": {
            "type": "number"
          },
          "height": {
            "type": "number"
          },
          "page": {
            "type": "integer"
          },
          "signer": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "required": {
            "type": "integer"
          },
          "readonly": {
            "type": "integer"
          },
          "validation_type": {
            "type": "string",
            "enum": [
              "email_address",
              "letters_only",
              "numbers_only",
              ""
            ]
          },
          "text_size": {
            "type": "integer"
          },
          "text_color": {
            "type": "string"
          },
          "text_style": {
            "type": "string"
          },
          "text_font": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "group": {
            "type": "string"
          }
        }
      },
      "Signer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "signed": {
            "type": "integer"
          },
          "signed_timestamp": {
            "type": "integer"
          },
          "declined": {
            "type": "integer"
          }
        }
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "language": {
            "type": "string"
          }
        }
      },
      "Field": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "x": {
            "type": "number"
          },
          "y": {
            "type": "number"
          },
          "width": {
            "type": "number"
          },
          "height": {
            "type": "number"
          },
          "page": {
            "type": "integer"
          },
          "signer": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "SendReminderRequest": {
        "type": "object",
        "required": [
          "document_hash",
          "signer_id"
        ],
        "properties": {
          "document_hash": {
            "type": "string"
          },
          "signer_id": {
            "type": "integer"
          }
        }
      },
      "ReassignSignerRequest": {
        "type": "object",
        "required": [
          "document_hash",
          "signer_id",
          "new_name",
          "new_email"
        ],
        "properties": {
          "document_hash": {
            "type": "string"
          },
          "signer_id": {
            "type": "integer"
          },
          "new_name": {
            "type": "string"
          },
          "new_email": {
            "type": "string"
          }
        }
      },
      "UploadedFile": {
        "type": "object",
        "properties": {
          "file_id": {
            "type": "string"
          },
          "file_name": {
            "type": "string"
          },
          "file_size": {
            "type": "integer"
          }
        }
      },
      "AuditLogEntry": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "ip": {
            "type": "string"
          },
          "user": {
            "type": "string"
          }
        }
      },
      "BulkJobRequest": {
        "type": "object",
        "properties": {
          "template_id": {
            "type": "string"
          },
          "csv_data": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "integer"
              },
              "info": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}