{
  "openapi": "3.0.3",
  "info": {
    "title": "Numverify API",
    "description": "The Numverify API provides real-time phone number validation and lookup for 232 countries. It verifies phone numbers, identifies carriers, determines line types (mobile, landline, etc.), and returns formatted number representations.",
    "version": "1.0.0",
    "contact": {
      "name": "Numverify Support",
      "url": "https://numverify.com"
    },
    "x-jentic-source-url": "https://numverify.com"
  },
  "servers": [
    {
      "url": "https://api.apilayer.com/number_verification",
      "description": "Numverify API (via APILayer)"
    },
    {
      "url": "http://apilayer.net/api",
      "description": "Numverify API (legacy, free tier - HTTP only)"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Validation",
      "description": "Phone number validation and lookup"
    }
  ],
  "paths": {
    "/validate": {
      "get": {
        "operationId": "validatePhoneNumber",
        "summary": "Validate a phone number",
        "description": "Validates a phone number in real-time and returns detailed information including validity status, local and international format, country details, carrier, and line type.",
        "tags": ["Validation"],
        "parameters": [
          {
            "name": "number",
            "in": "query",
            "required": true,
            "description": "The phone number to validate. Can include country code or use the country_code parameter.",
            "schema": {
              "type": "string"
            },
            "example": "14158586273"
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "description": "ISO 2-letter country code to specify the country for local number formats.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful phone number validation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                },
                "example": {
                  "valid": true,
                  "number": "14158586273",
                  "local_format": "4158586273",
                  "international_format": "+14158586273",
                  "country_prefix": "+1",
                  "country_code": "US",
                  "country_name": "United States of America",
                  "location": "Novato",
                  "carrier": "AT&T Mobility LLC",
                  "line_type": "mobile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "API key passed via the 'apikey' header. Obtain from the Numverify/APILayer dashboard."
      }
    },
    "schemas": {
      "ValidationResult": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean",
            "description": "Whether the phone number is valid."
          },
          "number": {
            "type": "string",
            "description": "The phone number as provided in the request."
          },
          "local_format": {
            "type": "string",
            "description": "The phone number in local/national format."
          },
          "international_format": {
            "type": "string",
            "description": "The phone number in international format with country code prefix."
          },
          "country_prefix": {
            "type": "string",
            "description": "The international dialing prefix for the country."
          },
          "country_code": {
            "type": "string",
            "description": "The ISO 3166-1 alpha-2 country code."
          },
          "country_name": {
            "type": "string",
            "description": "The full name of the country."
          },
          "location": {
            "type": "string",
            "description": "The geographical location associated with the phone number."
          },
          "carrier": {
            "type": "string",
            "description": "The name of the phone carrier/network provider."
          },
          "line_type": {
            "type": "string",
            "description": "The line type classification.",
            "enum": ["mobile", "landline", "special_services", "toll_free", "premium_rate", "satellite", "paging", "voip"]
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A human-readable error message."
          }
        }
      }
    }
  }
}