{
  "openapi": "3.0.3",
  "info": {
    "title": "Socket API",
    "version": "1.0.0",
    "description": "Socket API provides read access to practices, proposals, and documents, and creation capabilities for clients and leads for accounting and bookkeeping professionals.",
    "x-jentic-source-url": "https://socket-api.readme.io/"
  },
  "servers": [{"url": "https://app.usesocket.com"}],
  "paths": {
    "/api/user": {"get": {"operationId": "getAuthenticatedUser", "summary": "Get authenticated user profile", "tags": ["Authentication"], "responses": {"200": {"description": "User profile"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/api/v1/practices": {"get": {"operationId": "listPractices", "summary": "List accessible practices", "tags": ["Practices"], "parameters": [{"name": "sample", "in": "query", "schema": {"type": "boolean"}}], "responses": {"200": {"description": "Practice list"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}}},
    "/api/v1/practices/{practice}": {"get": {"operationId": "getPractice", "summary": "Get specific practice", "tags": ["Practices"], "parameters": [{"name": "practice", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "Practice details"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}}},
    "/api/v1/clients": {
      "get": {"operationId": "listClients", "summary": "List clients", "tags": ["Clients"], "parameters": [{"name": "sample", "in": "query", "schema": {"type": "boolean"}}], "responses": {"200": {"description": "Client list"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}},
      "post": {"operationId": "createClient", "summary": "Create a client", "tags": ["Clients"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ClientInput"}}}}, "responses": {"201": {"description": "Created"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}}
    },
    "/api/v1/clients/{client}": {"get": {"operationId": "getClient", "summary": "Get client details", "tags": ["Clients"], "parameters": [{"name": "client", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "Client details"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}}},
    "/api/v1/leads": {
      "get": {"operationId": "listLeads", "summary": "List leads", "tags": ["Leads"], "parameters": [{"name": "sample", "in": "query", "schema": {"type": "boolean"}}], "responses": {"200": {"description": "Lead list"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}},
      "post": {"operationId": "createLead", "summary": "Create a lead", "tags": ["Leads"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}}
    },
    "/api/v1/leads/{lead}": {"get": {"operationId": "getLead", "summary": "Get lead details", "tags": ["Leads"], "parameters": [{"name": "lead", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "Lead details"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}}},
    "/api/v1/documents": {"get": {"operationId": "listDocuments", "summary": "List engagement letter documents", "tags": ["Documents"], "parameters": [{"name": "sample", "in": "query", "schema": {"type": "boolean"}}], "responses": {"200": {"description": "Document list"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}}},
    "/api/v1/documents/{document}": {"get": {"operationId": "getDocument", "summary": "Get document details", "tags": ["Documents"], "parameters": [{"name": "document", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "Document details"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}}},
    "/api/v1/proposals": {"get": {"operationId": "listProposals", "summary": "List proposals", "tags": ["Proposals"], "parameters": [{"name": "sample", "in": "query", "schema": {"type": "boolean"}}], "responses": {"200": {"description": "Proposal list"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}}},
    "/api/v1/proposals/{proposal}": {"get": {"operationId": "getProposal", "summary": "Get proposal details", "tags": ["Proposals"], "parameters": [{"name": "proposal", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "Proposal details"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}}},
    "/api/v1/proposals/report/active-recurring-services": {"get": {"operationId": "getActiveRecurringServicesReport", "summary": "Active recurring services report", "tags": ["Reports"], "responses": {"200": {"description": "Report data"}, "401": {"description": "Unauthorized"}}}},
    "/api/v1/proposals/report/active-recurring-service-drivers": {"get": {"operationId": "getServiceDriversReport", "summary": "Service drivers report", "tags": ["Reports"], "responses": {"200": {"description": "Report data"}, "401": {"description": "Unauthorized"}}}},
    "/api/v1/proposals/report/active-recurring-service-matrix": {"get": {"operationId": "getServiceMatrixReport", "summary": "Service matrix report", "tags": ["Reports"], "responses": {"200": {"description": "Report data"}, "401": {"description": "Unauthorized"}}}},
    "/api/v1/proposals/report/active-one-off-services": {"get": {"operationId": "getOneOffServicesReport", "summary": "One-off services report", "tags": ["Reports"], "responses": {"200": {"description": "Report data"}, "401": {"description": "Unauthorized"}}}}
  },
  "components": {
    "schemas": {
      "ClientInput": {"type": "object", "properties": {"name": {"type": "string"}, "entity_type": {"type": "string"}, "email": {"type": "string"}, "phone": {"type": "string"}}},
      "ErrorResponse": {"type": "object", "properties": {"error": {"type": "string"}, "message": {"type": "string"}}}
    },
    "securitySchemes": {
      "bearerAuth": {"type": "http", "scheme": "bearer", "bearerFormat": "JWT", "description": "Personal Access Token as Bearer JWT"}
    }
  },
  "security": [{"bearerAuth": []}]
}
