{
  "openapi": "3.0.1",
  "info": {
    "title": "Afterbanks API",
    "description": "La estandarizaci\u00f3n de la conexi\u00f3n con cualquier banco en tiempo real.",
    "version": "3.0.0",
    "x-apisguru-categories": [
      "financial"
    ],
    "x-description-language": "es",
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_AfterbanksAPI_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://www.afterbanks.com/api/documentation/es/swagger.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "afterbanks.com"
  },
  "servers": [
    {
      "url": "https://www.afterbanks.com/"
    }
  ],
  "paths": {
    "/forms": {
      "get": {
        "tags": [
          "forms"
        ],
        "summary": "Lista de bancos soportados",
        "description": "Obt\u00e9n una lista completa de los bancos soportados, as\u00ed como los nombres de los campos necesarios para dibujar un formulario de login similar al oritinal del banco.\n",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "description": "C\u00f3digo del pa\u00eds, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para Espa\u00f1a. Si no se proporciona ning\u00fan c\u00f3digo, se devolver\u00e1 la lista completa.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array con el listado de bancos soportados y la informaci\u00f3n necesaria para dibujar su formulario de login",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Forms"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Informaci\u00f3n de uso de mi licencia",
        "description": "Devuelve informaci\u00f3n sobre mi licencia y uso de llamadas",
        "parameters": [
          {
            "name": "servicekey",
            "in": "query",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile information for a user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/me"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/serviceV3": {
      "post": {
        "tags": [
          "serviceV3"
        ],
        "summary": "Posici\u00f3n global y movimientos hasta una fecha dada.",
        "description": "Este endpoint devuelve el listado de productos y los movimientos para cada uno de los productos desde la fecha solicidata hasta el d\u00eda actual. Existe un sandbox donde probar llamadas: https://www.afterbanks.com/sandbox/\n",
        "parameters": [
          {
            "name": "servicekey",
            "in": "query",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "description": "Identificador \u00fanico para cada banco. El listado de bancos soportados se obtiene de https://www.afterbanks.com/forms/",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentType",
            "in": "query",
            "description": "Algunos bancos, en su formulario de login, solicitan el tipo de documento. En estos casos, se deber\u00e1 identificar un n\u00famero entero (de 0 a 4), que corresponde con su posici\u00f3n en el formulario de login del banco.",
            "schema": {
              "type": "number",
              "format": "int32"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Usuario",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pass",
            "in": "query",
            "description": "Contrase\u00f1a",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pass2",
            "in": "query",
            "description": "Algunos bancos utilizan una segunda contrase\u00f1a.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "products",
            "in": "query",
            "description": "Nombres de productos bancarios (cuentas corrientes, tarjetas, etc), separados por coma. Cabe destacar que en la primera llamada a la API, a\u00fan no conocemos los nombres de los productos que el usuario tiene contratados, por lo que este par\u00e1metro estar\u00e1 vac\u00edo.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startdate",
            "in": "query",
            "description": "Fecha desde la que queremos obtener los movimientos en formato dd-mm-aaaa. Obligatorio cuando el valor de \"products\" es distinto de GLOBAL.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array con listado de productos bancarios y movimientos.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/serviceV3"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Posibles valores: description:  1, Gen\u00e9rico; 2, La web del banco esta fuera de servicio; 3, Alg\u00fan dato de conexi\u00f3n no es v\u00e1lido; 4, La cuenta solicitada no existe; 5, Conexion cortada, reintente la solicitud; 6, El usuario debe acceder a la web del banco a realizar una acci\u00f3n; 50, Parametro incorrecto en la llamada a la API",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "description": "Texto detallando el error encontrado, en el idioma del banco"
          }
        }
      },
      "Forms": {
        "type": "object",
        "properties": {
          "business": {
            "type": "boolean",
            "description": "Valor booleano. Hay bancos que tienen accesos diferentes para particulares y para empresas. Si el valor es 1, indica que es acceso de empresas"
          },
          "country_code": {
            "type": "string",
            "description": "C\u00f3digo del pa\u00eds, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          },
          "documentType": {
            "type": "string",
            "description": "Lista de valores posibles para el campo de \"tipo de documento\", separado por el caracter \"|\" (por ejemplo: NIF|Pasaporte|Tarjeta de residencia). En el caso de que el banco no requiera de esta informaci\u00f3n en su formulario de login, el valor es 0"
          },
          "fullname": {
            "type": "string",
            "description": "Nombre completo del banco."
          },
          "image": {
            "type": "string",
            "description": "URL del icono del banco en formato PNG transparente y resoluci\u00f3n 128x128."
          },
          "pass": {
            "type": "string",
            "description": "Texto que acompa\u00f1a al input box de password"
          },
          "pass2": {
            "type": "string",
            "description": "Texto que acompa\u00f1a al input box del segundo password. En el caso de que el banco no requiera de esta informaci\u00f3n en su formulario de login, el valor es 0"
          },
          "pass2desc": {
            "type": "string",
            "description": "Texto de ayuda para rellenar el inputbox de segundo password, en caso de que el formulario original del banco tenga alg\u00fan texto de ayuda."
          },
          "pass2type": {
            "type": "string",
            "description": "Texto que acompa\u00f1a al input box del segundo password. En el caso de que el banco no requiera de esta informaci\u00f3n en su formulario de login, el valor es 0"
          },
          "passdesc": {
            "type": "string",
            "description": "Texto de ayuda para rellenar el inputbox de password, en caso de que el formulario original del banco tenga alg\u00fan texto de ayuda."
          },
          "passtype": {
            "type": "string",
            "description": "Texto que acompa\u00f1a al input box de password"
          },
          "service": {
            "type": "string",
            "description": "Identificador \u00fanico del banco en la API."
          },
          "swift": {
            "type": "string",
            "description": "C\u00f3digo SWIFT, formato ISO 9362 (https://en.wikipedia.org/wiki/ISO_9362)."
          },
          "user": {
            "type": "string",
            "description": "Texto que acompa\u00f1a al input box de usuario"
          },
          "userdesc": {
            "type": "string",
            "description": "Texto de ayuda para rellenar el inputbox de usuario, en caso de que el formulario original del banco tenga alg\u00fan texto de ayuda."
          },
          "usertype": {
            "type": "string",
            "description": "Texto que acompa\u00f1a al input box de usuario"
          }
        }
      },
      "Transactions": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Importe de la transacci\u00f3n",
            "format": "float"
          },
          "balance": {
            "type": "number",
            "description": "Saldo del producto en el instante posterior a la transacci\u00f3n",
            "format": "float"
          },
          "categoryId": {
            "type": "number",
            "description": "Id de categor\u00eda. Solo para las servicekeys con la opci\u00f3n contratada. Listado de categor\u00edas: https://www.afterbanks.com/serviceV3/categories/?country_code=ES",
            "format": "int"
          },
          "date": {
            "type": "string",
            "description": "Fecha del movimiento en formato dd-mm-yyyy",
            "format": "date"
          },
          "date2": {
            "type": "string",
            "description": "Fecha de valor en formato dd-mm-yyyy",
            "format": "date"
          },
          "description": {
            "type": "string",
            "description": "Descricipci\u00f3n de la transacci\u00f3n"
          },
          "transactionId": {
            "type": "string",
            "description": "Identificador \u00fanico de la transacci\u00f3n de 32 caracteres"
          }
        }
      },
      "me": {
        "type": "object",
        "properties": {
          "date_renewal": {
            "type": "string",
            "description": "Fecha de renovaci\u00f3n del contador de llamadas, en formato dd-mm-yyyy",
            "format": "date"
          },
          "remaining_calls": {
            "type": "integer",
            "description": "Llamadas restantes para tu ciclo de facturaci\u00f3n actual.",
            "format": "int32"
          }
        }
      },
      "serviceV3": {
        "type": "object",
        "properties": {
          "arranged_balance": {
            "type": "number",
            "description": "Saldo dispuesto",
            "format": "float"
          },
          "balance": {
            "type": "number",
            "description": "Saldo disponible del producto. Siempre existir\u00e1 este saldo, el resto de valores balance podr\u00e1n existir o no.",
            "format": "float"
          },
          "balance_credit_granted": {
            "type": "number",
            "description": "Saldo concedido",
            "format": "float"
          },
          "balance_value": {
            "type": "number",
            "description": "Saldo valor",
            "format": "float"
          },
          "countable_balance": {
            "type": "number",
            "description": "Saldo contable",
            "format": "float"
          },
          "currency": {
            "type": "string",
            "description": "C\u00f3digo de la divisa en formato [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
          },
          "description": {
            "type": "string",
            "description": "Nombre del producto. En ocasiones es un alias que ha asignado el usuario, o puede coincidir con el valor de product."
          },
          "product": {
            "type": "string",
            "description": "Identificador \u00fanico para un producto. Por ejemplo, n\u00famero de cuenta bancaria o numeraci\u00f3n de tarjeta de cr\u00e9dito."
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transactions"
            }
          },
          "type": {
            "type": "string",
            "description": "Tipo de producto. Los valores m\u00e1s habituales son \"checking\" para cuenta corriente, \"card\" para tarjeta de cr\u00e9dito, \"debit\" para tarjeta de d\u00e9bito y \"loan\" para pr\u00e9stamos. Los valores posibles son: card, checking, debit, deposit, insurance, investment, lineofcredit, loan, other, pensionplan, saving, securities, stocks"
          }
        }
      }
    }
  },
  "x-original-swagger-version": "2.0"
}