{
  "openapi": "3.0.3",
  "info": {
    "title": "Threads API",
    "version": "1.0.0",
    "description": "Meta Threads API for publishing posts, managing replies, and retrieving insights on the Threads social platform.",
    "x-jentic-source-url": "https://developers.facebook.com/docs/threads"
  },
  "servers": [
    {
      "url": "https://graph.threads.net/v1.0"
    }
  ],
  "paths": {
    "/{threadsUserId}/threads": {
      "post": {
        "operationId": "createmediacontainer",
        "summary": "Create a Threads media container for text, image, video, or carousel posts",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "threadsUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Threads user ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMediaContainer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media container created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaContainerResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{threadsUserId}/threads_publish": {
      "post": {
        "operationId": "publishmediacontainer",
        "summary": "Publish a Threads media container",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "threadsUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "creation_id"
                ],
                "properties": {
                  "creation_id": {
                    "type": "string",
                    "description": "The media container ID to publish"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post published",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Published media ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{threadsMediaId}": {
      "get": {
        "operationId": "getmediaobject",
        "summary": "Retrieve a specific media object",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "threadsMediaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadsMedia"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{threadsMediaId}/insights": {
      "get": {
        "operationId": "getmediainsights",
        "summary": "Get insights metrics for a specific media post",
        "tags": [
          "Insights"
        ],
        "parameters": [
          {
            "name": "threadsMediaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated metrics: views, likes, replies, reposts, quotes, shares"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{threadsUserId}/threads_insights": {
      "get": {
        "operationId": "getuserinsights",
        "summary": "Get aggregated insights for a user's Threads profile",
        "tags": [
          "Insights"
        ],
        "parameters": [
          {
            "name": "threadsUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated metrics: views, likes, replies, reposts, quotes, clicks, followers_count, follower_demographics"
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for range start"
          },
          {
            "name": "until",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp for range end"
          },
          {
            "name": "breakdown",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "country",
                "city",
                "age",
                "gender"
              ]
            },
            "description": "Breakdown dimension for demographic data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{threadsReplyId}/manage_reply": {
      "post": {
        "operationId": "managereply",
        "summary": "Hide or unhide a reply",
        "tags": [
          "Replies"
        ],
        "parameters": [
          {
            "name": "threadsReplyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hide"
                ],
                "properties": {
                  "hide": {
                    "type": "boolean",
                    "description": "true to hide, false to unhide"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reply visibility updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{mediaId}/pending_replies": {
      "get": {
        "operationId": "getpendingreplies",
        "summary": "Get paginated pending replies awaiting approval",
        "tags": [
          "Replies"
        ],
        "parameters": [
          {
            "name": "mediaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Chronological order"
          },
          {
            "name": "approval_status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "ignored"
              ]
            },
            "description": "Filter by approval status"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ThreadsMedia"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{threadsReplyId}/manage_pending_reply": {
      "post": {
        "operationId": "managependingreply",
        "summary": "Approve or ignore a pending reply",
        "tags": [
          "Replies"
        ],
        "parameters": [
          {
            "name": "threadsReplyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "approve"
                ],
                "properties": {
                  "approve": {
                    "type": "boolean",
                    "description": "true to approve, false to ignore"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pending reply managed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/me": {
      "get": {
        "operationId": "getmyprofile",
        "summary": "Get the authenticated user's Threads profile",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fields: id, username, threads_profile_picture_url, threads_biography"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadsProfile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "accessToken": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://threads.net/oauth/authorize",
            "tokenUrl": "https://graph.threads.net/oauth/access_token",
            "scopes": {
              "threads_basic": "Basic profile access",
              "threads_content_publish": "Publish content",
              "threads_manage_insights": "Access insights data",
              "threads_manage_replies": "Manage replies",
              "threads_read_replies": "Read replies"
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or expired access token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "integer"
              },
              "fbtrace_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "CreateMediaContainer": {
        "type": "object",
        "required": [
          "media_type"
        ],
        "properties": {
          "media_type": {
            "type": "string",
            "enum": [
              "TEXT",
              "IMAGE",
              "VIDEO",
              "CAROUSEL"
            ],
            "description": "Type of media to create"
          },
          "text": {
            "type": "string",
            "maxLength": 500,
            "description": "Post text content"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the image for IMAGE type"
          },
          "video_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the video for VIDEO type"
          },
          "is_carousel_item": {
            "type": "boolean",
            "description": "Set to true for carousel items"
          },
          "children": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of carousel item container IDs for CAROUSEL type"
          },
          "reply_control": {
            "type": "string",
            "enum": [
              "everyone",
              "accounts_you_follow",
              "mentioned_only",
              "parent_post_author_only",
              "followers_only"
            ],
            "description": "Who can reply to this post"
          },
          "topic_tag": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Topic tag for the post"
          },
          "link_attachment": {
            "type": "string",
            "format": "uri",
            "description": "URL to attach as link preview"
          },
          "enable_reply_approvals": {
            "type": "boolean",
            "description": "Require approval for replies"
          }
        }
      },
      "MediaContainerResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Media container ID"
          }
        }
      },
      "ThreadsMedia": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "media_product_type": {
            "type": "string"
          },
          "media_type": {
            "type": "string"
          },
          "media_url": {
            "type": "string"
          },
          "permalink": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "username": {
            "type": "string"
          },
          "link_attachment_url": {
            "type": "string"
          },
          "is_quote_post": {
            "type": "boolean"
          }
        }
      },
      "ThreadsProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "threads_profile_picture_url": {
            "type": "string"
          },
          "threads_biography": {
            "type": "string"
          }
        }
      },
      "InsightsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "period": {
                  "type": "string"
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "integer"
                      },
                      "end_time": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Paging": {
        "type": "object",
        "properties": {
          "cursors": {
            "type": "object",
            "properties": {
              "before": {
                "type": "string"
              },
              "after": {
                "type": "string"
              }
            }
          },
          "next": {
            "type": "string"
          },
          "previous": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "tags": [
    {
      "name": "Posts",
      "description": "Create and manage Threads posts"
    },
    {
      "name": "Media",
      "description": "Retrieve media objects"
    },
    {
      "name": "Insights",
      "description": "Post and user insights/analytics"
    },
    {
      "name": "Replies",
      "description": "Reply management and moderation"
    },
    {
      "name": "Profiles",
      "description": "User profile information"
    }
  ]
}