{
  "openapi": "3.0.3",
  "info": {
    "title": "Everflow Affiliate API",
    "version": "1.0.0",
    "description": "Everflow affiliate/partner marketing API for managing offers, clicks, conversions, and reporting.",
    "x-jentic-source-url": "https://developers.everflow.io/docs/affiliate/"
  },
  "servers": [
    {
      "url": "https://api.eflow.team/v1"
    }
  ],
  "paths": {
    "/affiliates/offers": {
      "get": {
        "operationId": "listOffers",
        "summary": "List offers",
        "description": "List available offers.",
        "tags": [
          "Offers"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by status"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page"
          }
        ]
      }
    },
    "/affiliates/offers/{offerId}": {
      "get": {
        "operationId": "getOffer",
        "summary": "Get offer",
        "description": "Get offer details.",
        "tags": [
          "Offers"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/affiliates/offers/{offerId}/apply": {
      "post": {
        "operationId": "applyForOffer",
        "summary": "Apply for offer",
        "description": "Apply to run an offer.",
        "tags": [
          "Offers"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/affiliates/reporting/clicks": {
      "post": {
        "operationId": "getClickReport",
        "summary": "Get click report",
        "description": "Get click-level reporting data.",
        "tags": [
          "Reporting"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/affiliates/reporting/conversions": {
      "post": {
        "operationId": "getConversionReport",
        "summary": "Get conversion report",
        "description": "Get conversion-level reporting data.",
        "tags": [
          "Reporting"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/affiliates/reporting/entity/summary": {
      "post": {
        "operationId": "getEntitySummary",
        "summary": "Get entity summary",
        "description": "Get summary reporting by entity.",
        "tags": [
          "Reporting"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/affiliates/creatives": {
      "get": {
        "operationId": "listCreatives",
        "summary": "List creatives",
        "description": "List available creatives.",
        "tags": [
          "Creatives"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "offer_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offer ID"
          }
        ]
      }
    },
    "/affiliates/postbacks": {
      "get": {
        "operationId": "listPostbacks",
        "summary": "List postbacks",
        "description": "List configured postbacks.",
        "tags": [
          "Postbacks"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPostback",
        "summary": "Create postback",
        "description": "Create a new postback.",
        "tags": [
          "Postbacks"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      },
      "Offer": {
        "type": "object",
        "properties": {
          "network_offer_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "payout": {
            "type": "number"
          },
          "category": {
            "type": "string"
          },
          "thumbnail_url": {
            "type": "string"
          }
        }
      },
      "Click": {
        "type": "object",
        "properties": {
          "click_id": {
            "type": "string"
          },
          "offer_id": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "ip_address": {
            "type": "string"
          }
        }
      },
      "Conversion": {
        "type": "object",
        "properties": {
          "conversion_id": {
            "type": "string"
          },
          "offer_id": {
            "type": "integer"
          },
          "revenue": {
            "type": "number"
          },
          "payout": {
            "type": "number"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReportRow": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "clicks": {
            "type": "integer"
          },
          "conversions": {
            "type": "integer"
          },
          "revenue": {
            "type": "number"
          },
          "payout": {
            "type": "number"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Eflow-API-Key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}