{
  "openapi": "3.0.3",
  "info": {
    "title": "US Autocomplete Pro API",
    "description": "The US Autocomplete Pro API provides real-time address suggestions as users type, helping to reduce errors and improve data quality. It offers autocomplete functionality for US addresses with intelligent matching and validation.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.smarty.com/docs/cloud/us-autocomplete-pro-api",
    "contact": {
      "name": "Smarty Support",
      "url": "https://www.smarty.com/contact",
      "email": "support@smarty.com"
    }
  },
  "servers": [
    {
      "url": "https://us-autocomplete-pro.api.smarty.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Autocomplete",
      "description": "Address autocomplete operations"
    }
  ],
  "paths": {
    "/lookup": {
      "get": {
        "operationId": "autocompleteAddress",
        "summary": "Autocomplete address",
        "description": "Returns address suggestions based on partial input text",
        "tags": ["Autocomplete"],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "description": "The partial address text to autocomplete",
            "schema": {
              "type": "string"
            },
            "example": "123 Main"
          },
          {
            "name": "max_results",
            "in": "query",
            "required": false,
            "description": "Maximum number of suggestions to return (1-10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 5
            }
          },
          {
            "name": "include_only_cities",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of cities to filter results",
            "schema": {
              "type": "string"
            },
            "example": "New York,Los Angeles"
          },
          {
            "name": "include_only_states",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of state abbreviations to filter results",
            "schema": {
              "type": "string"
            },
            "example": "CA,NY,TX"
          },
          {
            "name": "include_only_zip_codes",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of ZIP codes to filter results",
            "schema": {
              "type": "string"
            },
            "example": "90210,10001"
          },
          {
            "name": "prefer_cities",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of cities to prefer in results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefer_states",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of state abbreviations to prefer in results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefer_geolocation",
            "in": "query",
            "required": false,
            "description": "Prefer results near this geolocation (format: latitude,longitude)",
            "schema": {
              "type": "string"
            },
            "example": "40.7128,-74.0060"
          },
          {
            "name": "selected",
            "in": "query",
            "required": false,
            "description": "Previously selected suggestion text to get full address details",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful autocomplete response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutocompleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required - subscription limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "auth-id",
        "description": "API key authentication using auth-id and auth-token parameters"
      }
    },
    "schemas": {
      "AutocompleteResponse": {
        "type": "object",
        "properties": {
          "suggestions": {
            "type": "array",
            "description": "List of address suggestions",
            "items": {
              "$ref": "#/components/schemas/Suggestion"
            }
          }
        }
      },
      "Suggestion": {
        "type": "object",
        "properties": {
          "street_line": {
            "type": "string",
            "description": "The street address line",
            "example": "123 Main St"
          },
          "secondary": {
            "type": "string",
            "description": "Secondary address information (apt, suite, etc.)",
            "example": "Apt 4B"
          },
          "city": {
            "type": "string",
            "description": "City name",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "State abbreviation",
            "example": "NY"
          },
          "zipcode": {
            "type": "string",
            "description": "ZIP code",
            "example": "10001"
          },
          "entries": {
            "type": "integer",
            "description": "Number of valid entries for this suggestion",
            "example": 1
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                },
                "code": {
                  "type": "string",
                  "description": "Error code"
                }
              }
            }
          }
        }
      }
    }
  }
}