{
  "openapi": "3.0.1",
  "info": {
    "title": "api-demo.juyo-intra.com",
    "description": "Api documentation for the embed endpoints",
    "version": "0.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/TomHatch/api-demo.juyo-intra.com/0.1/swagger.json"
  },
  "tags": [
    {
      "name": "private",
      "description": "Secured, only Juyo can access this."
    },
    {
      "name": "public",
      "description": "Anyone with a valid host token can access these."
    }
  ],
  "servers": [
    {
      "url": "https://api-demo.juyo-intra.com"
    }
  ],
  "paths": {
    "/internal/embed/{hostToken}/add-hotel": {
      "post": {
        "tags": [
          "private"
        ],
        "description": "Add a hotel with a unique embed user for a host",
        "parameters": [
          {
            "in": "path",
            "name": "hostToken",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The host token for which you want to add an hotel"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userEmail": {
                    "type": "string"
                  },
                  "hotelToken": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "integer"
                  }
                }
              },
              "examples": {
                "0": {
                  "value": "{\n    \"hotelToken\": \"123\",\n    \"userEmail\": \"my-unique-embed-user@email.com\",\n    \"userId\": 123\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "servers": [
          {
            "url": "https://api-demo.juyo-intra.com"
          }
        ]
      },
      "servers": [
        {
          "url": "https://api-demo.juyo-intra.com"
        }
      ]
    },
    "/embed/{hostToken}/{hotelToken}/dashboards": {
      "get": {
        "tags": [
          "public"
        ],
        "description": "Get the available dashboards for a host and hotel",
        "parameters": [
          {
            "in": "path",
            "name": "hostToken",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The host token for which you want to check the available dashboards"
          },
          {
            "in": "path",
            "name": "hotelToken",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The hotel token for which you want to check the available dashboards"
          }
        ],
        "responses": {
          "200": {
            "description": "On success, will return a list of available dashboards",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dashboards": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {}
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-demo.juyo-intra.com"
          }
        ]
      },
      "servers": [
        {
          "url": "https://api-demo.juyo-intra.com"
        }
      ]
    },
    "/embed/{hostToken}/{hotelToken}/embed-token": {
      "get": {
        "tags": [
          "public"
        ],
        "description": "Request an embed token. This token is required when requesting a dashboard",
        "parameters": [
          {
            "in": "path",
            "name": "hostToken",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The host token for which you want to check the available dashboards"
          },
          {
            "in": "path",
            "name": "hotelToken",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The hotel token for which you want to check the available dashboards"
          }
        ],
        "responses": {
          "200": {
            "description": "On success, will return an embed token. This token is only valid for a short period of time.",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  }
                },
                "examples": {}
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-demo.juyo-intra.com"
          }
        ]
      },
      "servers": [
        {
          "url": "https://api-demo.juyo-intra.com"
        }
      ]
    }
  }
}