{
  "openapi": "3.0.3",
  "info": {
    "description": "For any questions, contact us at [api@attentivemobile.com](mailto:api@attentivemobile.com).\n\n**Authentication**\nTo keep data on Attentive's platform safe and secure, all apps connecting with Attentive's APIs must authenticate when making API requests. Different types of apps require different authentication or authorization methods:\n\n* Private apps use basic HTTP authentication.\n* Public apps use OAuth 2.0.\n\nThis Open API Spec is configured to use basic HTTP authentication by using an API key as the Bearer Token. Click the Authorize button and enter your Bearer Token to authenticate. See [Authentication](https://docs.attentivemobile.com/pages/authentication/) for more info.",
    "title": "Attentive API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/attentive-060/attentive-api/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.attentivemobile.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Test Authentication",
      "description": "Use the Test Authentication endpoint to test your unique token that you received from Attentive. Make sure to save your token because all API requests are authenticated using bearer tokens. The response should include information specific to your company.\n"
    },
    {
      "name": "Access Token",
      "description": "Public applications must authenticate using the OAuth 2.0 specification to use Attentive\u2019s API resources. Attentive uses OAuth 2.0\u2019s authorization code grant flow to issue access tokens on behalf of users. When an application is installed on our platform, an authorization code is generated automatically. This authorization code must be exchanged for an access token to authenticate grant and control permissions for your application.\n"
    },
    {
      "name": "Webhooks",
      "description": "Create and manage webhooks"
    },
    {
      "name": "eCommerce",
      "description": "Use the eCommerce API to trigger an event when a user views a product, adds a product to their shopping cart, or makes a purchase.",
      "x-beta": false
    },
    {
      "name": "Offers",
      "description": "You can use the Offers API to add discount codes to an existing offer.",
      "x-beta": true
    },
    {
      "name": "Custom Events",
      "description": "Use the Custom Events API to send user actions to use in the Attentive Segment Builder and Journey Builder for both email and text messages. This data cannot contain any sensitive or special categories of information as defined in applicable data protection and privacy laws, including the California Consumer Privacy Act (CCPA) and California Privacy Rights Act (CPRA). See a list of specific categories of data you cannot share with Attentive [here](https://docs.attentivemobile.com/pages/legal-docs/pi-disclaimer/).",
      "x-beta": false
    },
    {
      "name": "Custom Attributes",
      "description": "Use the Custom Attributes API to apply customizable data or characteristics to each of your subscribers. You can then build segments based on that information to send targeted campaigns and journeys. This data cannot contain any sensitive or special categories of information as defined in applicable data protection and privacy laws, including the California Consumer Privacy Act (CCPA) and California Privacy Rights Act (CPRA). See a list of specific categories of data you cannot share with Attentive [here](https://docs.attentivemobile.com/pages/legal-docs/pi-disclaimer/).",
      "x-beta": false
    },
    {
      "name": "Subscribers",
      "description": "Use the Subscribers API to manage subscriptions. With this API, you can programmatically subscribe and unsubscribe users from subscriptions.\n",
      "x-beta": false
    },
    {
      "name": "Product Catalog",
      "description": "Our product catalog API unlocks the ability to send high-performing journeys such as back in stock, low inventory, and price drop. It also lets you segment your customers and branch journeys using product data. See [Product Catalog](https://docs.attentivemobile.com/openapi/reference/tag/Product-Catalog/) for more info on the product catalog file format and how to generate and upload a product catalog",
      "x-beta": false
    },
    {
      "name": "Privacy Request",
      "description": "You can use the Privacy Request API in order to comply with [California Consumer Privacy Act](https://epic.org/california-consumer-privacy-act-ccpa/) deletion requests through Attentive. For more information, you can review [Attentive\u2019s FAQs for CCPA](https://attentivemobile.atlassian.net/wiki/download/attachments/629309474/Attentive%20FAQs%20for%20CCPA.pdf?version=4&modificationDate=1585845052142&cacheVersion=1&api=v2) or the [Important Notice Regarding the CCPA of 2018](https://attentivemobile.atlassian.net/wiki/download/attachments/629309474/Important%20Notice%20Regarding%20the%20California%20Consumer%20Privacy%20Act%20of%202018%20(CCPA).pdf?version=1&modificationDate=1579115568586&cacheVersion=1&api=v2).\n",
      "x-beta": true
    },
    {
      "name": "Identity",
      "description": "Use the Identity API to manage user identifiers. With this API, you can programmatically add a client user identifier or custom identifier(s) to a user.\nYou should only use clientUserId and customIdentifiers to send Attentive your system-assigned unique identifiers (even when testing).\n\nNotes:\n  - Sending duplicate values could lead to unintentionally bridging users together.\n  - Don't use customIdentifiers to send attributes (e.g., first name, last name). To send those types of attributes,\n    use our [Custom Attributes API](https://docs.attentivemobile.com/openapi/reference/tag/Custom-Attributes/).\n  - Avoid sending null values or empty strings. If you don't have a valid identifier, you should omit the field\n    from the payload.\n",
      "x-beta": true
    }
  ],
  "paths": {
    "/me": {
      "x-external": true,
      "get": {
        "x-external": true,
        "x-emits-event": true,
        "summary": "Me",
        "description": "Make a call to this endpoint to test your unique token that you generate in the Attentive product.",
        "operationId": "getMe",
        "tags": [
          "Test Authentication"
        ],
        "responses": {
          "200": {
            "description": "Get information about the authenticated user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMeResponseDto"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/webhooks": {
      "x-external": true,
      "get": {
        "x-external": true,
        "x-emits-event": true,
        "summary": "List webhooks",
        "description": "Make an API call to this endpoint to list existing webhooks.",
        "operationId": "getWebhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "existing webhooks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWebhooksResponseDto"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "x-external": true,
        "x-emits-event": true,
        "summary": "Create webhook",
        "description": "Make an API call to this endpoint to subscribe to a webhook.\n\nEvents are a collection of strings of the following types:\n* `sms.subscribed`\n* `sms.sent`\n* `sms.message_link_click`\n* `email.subscribed`\n* `email.unsubscribed`\n* `email.message_link_click`\n* `email.opened`\n* `custom_attribute.set`\n\nEvent types are case sensitive.\n\nAll events included will be sent to the URL.\n",
        "operationId": "createWebhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook has been created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWebhookResponseDto"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "delete": {
        "x-external": true,
        "x-emits-event": true,
        "summary": "Delete webhook",
        "description": "Make an API call to this endpoint to remove a webhook.",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "description": "id of the webhook to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "204": {
            "description": "Webhook has been deleted"
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "x-external": true,
        "x-emits-event": true,
        "summary": "Update webhook",
        "description": "Make an API call to this endpoint to update a webhook",
        "operationId": "updateWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "description": "The id of the webhook to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook has been updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWebhookResponseDto"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/authorization-codes/tokens": {
      "x-external": true,
      "x-requires-auth": false,
      "x-sensitive": true,
      "post": {
        "x-external": true,
        "summary": "Access Token",
        "description": "Make a call to this endpoint to exchange a temporary authorization code for an access token.",
        "operationId": "createTokenViaAuthorizationCode",
        "tags": [
          "Access Token"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "description": "Type of grant. Currently, authorization_code is the only accepted type.",
                    "example": "authorization_code"
                  },
                  "code": {
                    "type": "string",
                    "description": "Authorization code provided after the user authorizes the scopes during the application install process.",
                    "example": "MTQ0NjJkZmQ5OTM2NDE1ZTZjNGZmZjI3"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "The same redirect URI that was used when requesting the authorization code.",
                    "example": "https://test.com"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "The application\u2019s client ID which can be found on the Manage Distribution tab for the application.",
                    "example": "9f7a2f11a4f849f59268869ec766111c"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "The application\u2019s client secret which can be found on the Manage Distribution tab for the application.",
                    "example": "0FvaRpPi5KBC4Izj9ALA0AG8J2WdcBhU"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTokenResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/events/ecommerce/product-view": {
      "x-external": true,
      "post": {
        "x-external": true,
        "x-emits-event": true,
        "summary": "Product view",
        "description": "Make a call to this endpoint when a user views a product.",
        "operationId": "postProductViewEvents",
        "tags": [
          "eCommerce"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductViewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/events/ecommerce/add-to-cart": {
      "x-external": true,
      "post": {
        "x-external": true,
        "x-emits-event": true,
        "summary": "Add to cart",
        "description": "Make a call to this endpoint when a user adds a product to their shopping cart.",
        "operationId": "postAddToCartEvents",
        "tags": [
          "eCommerce"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddToCartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/events/ecommerce/purchase": {
      "x-external": true,
      "post": {
        "x-external": true,
        "x-emits-event": true,
        "summary": "Purchase",
        "description": "Make a call to this endpoint when a user generates an order or purchase.",
        "operationId": "postPurchaseEvents",
        "tags": [
          "eCommerce"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurchaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/coupons/coupon-pool/{coupon-pool-id}/create": {
      "post": {
        "tags": [
          "Offers"
        ],
        "summary": "Add discount codes",
        "description": "Note: Once the offer(s) has been created, please reach out to an Attentive team member to enable this API feature for you\n\n\nMake a call to this asynchronous endpoint to create new discount codes in an existing offer.",
        "operationId": "createCoupons",
        "x-external": true,
        "parameters": [
          {
            "in": "path",
            "name": "coupon-pool-id",
            "description": "The ID created under \"Create an Offer\"",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCouponsDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted. Check the Attentive [Offers](https://ui.attentivemobile.com/offers) page to make sure that there are no errors and the remaining code count is accurate."
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter1"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied1"
          },
          "404": {
            "$ref": "#/components/responses/DetailedBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError1"
          }
        }
      }
    },
    "/events/custom": {
      "x-external": true,
      "description": "Custom Events\n",
      "post": {
        "x-external": true,
        "x-emits-event": true,
        "summary": "Custom Events",
        "description": "Make a call to this endpoint for any event-based data representing user actions.",
        "operationId": "postCustomEvents",
        "tags": [
          "Custom Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomEventsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/attributes/custom": {
      "x-external": true,
      "description": "Custom Attributes\n",
      "post": {
        "x-external": true,
        "x-emits-event": true,
        "summary": "Custom Attributes",
        "description": "Make a call to this endpoint for any attribute-based data. There are no limits to the amount of custom attributes that can be created. Note that you can create net-new properties with this API, however, it cannot be used to create new values for an existing UI-created property name. If a property name is created through the Attentive platform, all possible property values must also be defined in the platform. For example, if a property has possible values of \"Adult, Teen, Children's\", those are the only values that will be accepted through the API. This does not apply for properties with the type \"Custom input\", for example: Full Name.\n",
        "operationId": "postCustomAttributes",
        "tags": [
          "Custom Attributes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAttributesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/subscriptions": {
      "post": {
        "x-external": true,
        "x-emits-event": true,
        "summary": "Subscribe user",
        "description": "Make a call to this endpoint to opt-in a user to a subscription. \n\nNotes:\n- A legal disclosure is required when a user is opted-in programmatically.\n\n    - For marketing messages, required [legal language](https://docs.attentivemobile.com/pages/legal-docs/legal-disclosure-language/) must be included.\n\n    - For transactional messages, you must include a [transactional opt-in unit](https://docs.attentivemobile.com/pages/legal-docs/legal-transactional/).\n\n- By default, if a subscription already exists, it will try and record the attempt to create the subscription again. For TEXT subscriptions, this will result in a message being sent to the person indicating that they are already subscribed.\n",
        "operationId": "addSubscriptions",
        "tags": [
          "Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSubscriptionsRequestDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted a create subscription(s) request. The response body will contain info about which subscription(s) already exist, and which subscription(s) will be created (asynchronously).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddSubscriptionsResponseDto"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "get": {
        "x-external": true,
        "x-emits-event": true,
        "summary": "Get subscription eligibility for a user",
        "description": "Make a call to this endpoint to list all subscription types and channels a user is subscribed to. You can query for a subscriber using either their phone number or email. One of the query parameters is required in order to look up a subscriber. As an example, you can use this endpoint to check if a subscriber is eligible to receive SMS or email campaigns, and then send them a message based on that eligibility.\n",
        "operationId": "getSubscriptions",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "phone",
            "schema": {
              "type": "string",
              "example": "+13115552368"
            },
            "description": "A user's phone number we use to fetch subscription eligibility."
          },
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string",
              "example": "test@gmail.com"
            },
            "description": "A user's email we use to fetch subscription eligibility."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully accepted get subscriptions request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSubscriptionsResponseDto"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/subscriptions/unsubscribe": {
      "post": {
        "x-external": true,
        "x-emits-event": true,
        "summary": "Unsubscribe subscriptions for a user",
        "description": "Make a call to this endpoint to unsubscribe a user from a subscription type or channel. If no subscriptions\nare present in the request, the user is unsubscribed from all subscriptions. If subscriptions are present\nin the request, the user is unsubscribed from the requested type or channel combination. By default, if a\nsubscription exists, but the user is already unsubscribed, it records the attempt to unsubscribe the\nsubscription again. For TEXT subscriptions, a message is sent to the person indicating that they are\nunsubscribed.\n\nFor the user object, the email data point determines which email subscriptions a user has and the phone data point \ndetermines which text (or sms) subscriptions a user has. Passing in an email does not locate, nor unsubscribe, \na user from any sms subscriptions. Similarly, passing in a phone does not locate, nor unsubscribe, a user from any email subscriptions.\n",
        "operationId": "unsubscribeSubscriptions",
        "tags": [
          "Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnsubscribeSubscriptionsRequestDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted an unsubscribe subscription(s) request. The response body will contain info about which subscription(s) are already unsubscribed, and which subscription(s) will be unsubscribed (asynchronously).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsubscribeSubscriptionsResponseDto"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/product-catalog/uploads": {
      "x-external": true,
      "description": "Upload Product Catalog\n",
      "post": {
        "x-external": true,
        "x-emits-event": true,
        "summary": "Upload Product Catalog",
        "description": "Make a call to this endpoint to start sending Attentive your full or partial product catalog.\nThe process starts with a POST to this endpoint, where you will receive a pre-signed AWS S3 URL. You can\nuse any language's http request libraries for uploading a file via HTTP. Here's how to do it with `curl` as an example\n\n\n```\ncurl --upload-file ${fileNameLocally} ${presignedURL}\n```\n\n\nand here's an example in Python\n```python\nimport requests\nwith open(filepath, 'rb') as f:\n    r = requests.put(upload_url, data=f)\n```\n\n[Here are examples from AWS](https://docs.aws.amazon.com/AmazonS3/latest/userguide/PresignedUrlUploadObject.html) on how to send the file over in popular programming languages. Note that you aren't interested in\nthe portion of these examples where they are generating the pre-signed URL, but simply the http call to upload the file to the URL.\n\nOnce your full or partial product catalog begins to upload, the status is updated to\n`validating` while it's processing and the file is checked for errors. After the upload is\nvalidated, the status is updated to `validated` or skips directly to `completed`. When the\ncatalog is saved, the status is updated to `SAVED`. In cases where there are errors saving\nthe data, Attentive Engineering is notified and will contact you.\n\n\nTo ensure there are no validation errors in the file, you can set `validateOnly` parameter\nto `true` to avoid saving any data. We highly recommend this during your development to get a\nfaster feedback loop on any validation errors as you generate files.\n\n\nIf there are no errors returned in the upload response, your product catalog uploaded\nsuccessfully.\n",
        "operationId": "postUpload",
        "tags": [
          "Product Catalog"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogUploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "get": {
        "x-external": true,
        "tags": [
          "Product Catalog"
        ],
        "summary": "View Recent Catalog Uploads",
        "description": "Make a call to this endpoint to list recent catalog uploads with their statuses to gain visibility into the ingestion workflow in order of creation. See the POST of this endpoint for details.\n`Expires` indicates how long you can wait before uploading the product catalog file. If the catalog upload expires, then we will no longer process the file that you upload and you will need to initiate  a new catalog upload.\n",
        "operationId": "getUploads",
        "responses": {
          "200": {
            "description": "returns the list of uploads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CatalogUploadResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/product-catalog/uploads/{uploadId}": {
      "x-external": true,
      "description": "Making a GET request with the uploadID from your original catalog upload POST will give you the updated information on how the upload is progressing. You can also use the list endpoint as well to retrieve the same data. Please see the POST of `/product-catalog/uploads` for more detail.\n",
      "get": {
        "summary": "Lookup Product Catalog Ingestion",
        "tags": [
          "Product Catalog"
        ],
        "operationId": "lookupUpload",
        "parameters": [
          {
            "name": "uploadId",
            "in": "path",
            "description": "The upload ID returned from a previous call",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the provided upload status update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogUploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/privacy/delete-request": {
      "post": {
        "x-external": true,
        "x-emits-event": true,
        "summary": "Sending a request to this endpoint will delete a subscriber in accordance with CCPA regulations within thirty days provided the call was successful.",
        "tags": [
          "Privacy Request"
        ],
        "operationId": "addDeleteRequest",
        "requestBody": {
          "$ref": "#/components/requestBodies/PrivacyRequestAddDeleteEvent"
        },
        "responses": {
          "200": {
            "description": "Delete request added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivacyRequestDto"
                },
                "example": {
                  "id": "123abc",
                  "processed": false,
                  "type": "DELETE",
                  "subjectPhone": "+5555555555",
                  "requestMsg": "The subscriber requested to be removed",
                  "requestDateTime": "2020-09-02T17:44:23.875+0000"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivacyRequestErrorDto"
                },
                "example": {
                  "error": "Must either specify subscriberPhone or subscriberEmail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/privacy/delete-request/{id}": {
      "get": {
        "x-external": true,
        "x-emits-event": true,
        "summary": "Get a CCPA delete request by Id",
        "tags": [
          "Privacy Request"
        ],
        "operationId": "getDeleteRequest",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Alphanumeric ID of the request to get"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete request fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivacyRequestDto"
                },
                "example": {
                  "id": "123abc",
                  "processed": true,
                  "type": "DELETE",
                  "subjectPhone": "+*****5555",
                  "subjectEmail": "a**@website.com",
                  "requestMsg": "The subscriber requested to be removed",
                  "requestDateTime": "2020-09-02T17:44:23.875+0000",
                  "processingStartDateTime": "2020-09-02T17:45:23.875+0000",
                  "processingEndDateTime": "2020-09-02T17:46:23.875+0000"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/identity-resolution/user-identifiers": {
      "post": {
        "x-external": true,
        "x-emits-event": false,
        "summary": "Add a client user identifier or custom identifier(s) to a user",
        "description": "Make a call to this endpoint to associate a client user identifier or custom identifier(s) with other identifiers. A client user or custom identifier needs to be accompanied by at least one other identifier of the following types: phone, email, shopify id, klaviyo id, client user identifier, or custom identifier.\n",
        "operationId": "identify",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifyRequestDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request processed."
          },
          "400": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Private applications can authenticate through basic HTTP authentication by using their API key as the [Bearer Token](https://oauth.net/2/bearer-tokens/) when making calls to Attentive\u2019s APIs. To generate a unique API key, you must [create an app in the Attentive platform](https://ui.attentivemobile.com/integrations/custom-app/management). Use the `GET /me` endpoint to verify that you are authenticating correctly."
      }
    },
    "schemas": {
      "CreateTokenRequestDto": {
        "type": "object",
        "properties": {
          "applicationName": {
            "type": "string",
            "description": "an application name",
            "example": "Pillow Api"
          },
          "contactEmail": {
            "type": "string",
            "description": "an email address for a person at the company",
            "example": "name@company.com"
          }
        }
      },
      "CreateTokenResponseDto": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "a provisioned token associated with the company application",
            "example": "riSm9jz2Tq2XKO8ZqS1+CJg8tOJ8cALn19zRlQc9s1"
          },
          "id_token": {
            "type": "string",
            "description": "a provisioned id token associated with the company application",
            "example": "riSm9jz2Tq2XKO8ZqS1+CJg8tOJ8cALn19zRlQc9s1"
          },
          "token_type": {
            "type": "string",
            "description": "a type of the token",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "expiration time for the token in seconds",
            "example": 900
          }
        }
      },
      "LegacyCreateTokenDto": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "a provisioned token associated with the company application",
            "example": "riSm9jz2Tq2XKO8ZqS1+CJg8tOJ8cALn19zRlQc9s1"
          }
        }
      },
      "RegenerateTokenResponseDto": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "a provisioned token associated with the company application",
            "example": "riSm9jz2Tq2XKO8ZqS1+CJg8tOJ8cALn19zRlQc9s1"
          }
        }
      },
      "GetCompanyApplicationsResponse": {
        "type": "object",
        "properties": {
          "companyApplications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstalledCompanyApplicationDto"
            }
          }
        }
      },
      "CreateApplicationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "an application name",
            "example": "Pillow Api"
          },
          "contactEmail": {
            "type": "string",
            "description": "an email address for a person at the company",
            "example": "name@company.com"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "scopes required for this application",
            "example": [
              "ecommerce:all",
              "events:all"
            ]
          },
          "supportsWildcardRedirect": {
            "type": "boolean",
            "description": "Are wildcards allowed in redirect URLs for this application?"
          },
          "ssoTokenType": {
            "type": "string",
            "description": "whether application is allowed to grant 'IDENTITY' or 'API' sso tokens"
          }
        }
      },
      "CreateTokenRequest": {
        "type": "object",
        "properties": {
          "grantType": {
            "type": "string",
            "description": "Type of grant. Currently, authorization_code is the only accepted type.",
            "example": "authorization_code"
          },
          "code": {
            "type": "string",
            "description": "Authorization code provided after the user authorizes the scopes during the application install process.",
            "example": "MTQ0NjJkZmQ5OTM2NDE1ZTZjNGZmZjI3"
          },
          "redirectUri": {
            "type": "string",
            "description": "The same redirect URI that was used when requesting the authorization code.",
            "example": "https://test.com"
          },
          "clientId": {
            "type": "string",
            "description": "The application\u2019s client ID which can be found on the Manage Distribution tab for the application.",
            "example": "9f7a2f11a4f849f59268869ec766111c"
          },
          "clientSecret": {
            "type": "string",
            "description": "The application\u2019s client secret which can be found on the Manage Distribution tab for the application.",
            "example": "0FvaRpPi5KBC4Izj9ALA0AG8J2WdcBhU"
          },
          "codeVerifier": {
            "type": "string",
            "description": "A random string compared to the codeChallenge to verify the token exchange is completed by initiator."
          }
        },
        "required": [
          "grantType",
          "clientSecret",
          "clientId",
          "redirectUri",
          "code"
        ]
      },
      "CreateApplicationResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "name of application",
            "example": "Pillow Api"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "id of application that was created",
            "example": 17
          },
          "contactEmail": {
            "type": "string",
            "description": "an email address for the application owner",
            "example": "name@company.com"
          },
          "token": {
            "type": "string",
            "description": "a provisioned token associated with the company application",
            "example": "riSm9jz2Tq2XKO8ZqS1+CJg8tOJ8cALn19zRlQc9s1"
          }
        }
      },
      "GetConnectionTypeResponse": {
        "type": "object",
        "properties": {
          "connectionType": {
            "type": "string",
            "description": "connection type",
            "example": "GOOGLE"
          },
          "connectionId": {
            "type": "string",
            "description": "connection id",
            "example": "googleSso1"
          },
          "connectionName": {
            "type": "string",
            "description": "connection name",
            "example": "googleSSO"
          }
        }
      },
      "CreateAuthorizationCodeRequest": {
        "type": "object",
        "properties": {
          "responseType": {
            "type": "string",
            "description": "Type of OAuth flow request. Currently, code is the only accepted type.",
            "example": "code"
          },
          "clientId": {
            "type": "string",
            "description": "client id for an application",
            "example": "2a7f236c11d146b6a82464c66a1bee5c"
          },
          "redirectUri": {
            "type": "string",
            "description": "uri to redirect to with authorization code",
            "example": "https://example.com"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "scopes required for this application",
            "example": [
              "events:all",
              "ecommerce:all"
            ]
          },
          "state": {
            "type": "string",
            "description": "random string from application caller",
            "example": "xcoiv98y2kd22vusuye3kch"
          },
          "entityType": {
            "type": "string",
            "description": "type of entity for which auth code would be genereated; either 'company_application' or 'user'"
          },
          "codeChallenge": {
            "type": "string",
            "description": "transformed codeVerifier stored to verify during the token exchange that the exchange occurs by the initiator"
          },
          "challengeMethod": {
            "type": "string",
            "description": "encoding applied to the codeVerifier to create the codeChallenge",
            "example": "sha256 or plain"
          }
        },
        "required": [
          "clientId",
          "redirectUri",
          "scopes",
          "responseType",
          "entityType"
        ]
      },
      "CreateAuthorizationCodeResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "short lived authorization code",
            "example": "g0ZGZmNjVmOWIjNTk2NTk4ZTYyZGI3"
          },
          "state": {
            "type": "string",
            "description": "random string from application caller",
            "example": "xcoiv98y2kd22vusuye3kch"
          }
        }
      },
      "UpdateApplicationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "an application name",
            "example": "Pillow Api"
          },
          "contactEmail": {
            "type": "string",
            "description": "an email address for a person at the company",
            "example": "name@company.com"
          },
          "status": {
            "type": "string",
            "description": "status of the application",
            "example": "private"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "scopes required for this application",
            "example": [
              "ecommerce:all",
              "events:all"
            ]
          },
          "supportsWildcardRedirect": {
            "type": "boolean",
            "description": "Are wildcards allowed in redirect URLs for this application?"
          },
          "ssoTokenType": {
            "type": "string",
            "description": "whether application is allowed to grant 'IDENTITY' or 'API' sso tokens"
          }
        }
      },
      "UpdateApplicationResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "name of application",
            "example": "Pillow Api"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "id of application that was updated",
            "example": 17
          }
        }
      },
      "UpdateRedirectUrlsRequest": {
        "type": "object",
        "properties": {
          "redirectUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "redirect urls for oAuth flow",
            "example": [
              "https://www.test.com",
              "localhost:1234",
              "https://testredirect.com/test1/test2"
            ]
          }
        }
      },
      "UpdateRedirectUrlsResponse": {
        "type": "object",
        "properties": {
          "validRedirectUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "redirect urls for oAuth flow",
            "example": [
              "https://www.test.com",
              "localhost:1234",
              "https://testredirect.com/test1/test2"
            ]
          }
        }
      },
      "GetMeResponseDto": {
        "type": "object",
        "properties": {
          "applicationName": {
            "type": "string",
            "description": "The application name.",
            "example": "Pillow Api"
          },
          "attentiveDomainName": {
            "type": "string",
            "description": "The Attentive domain name.",
            "example": "hudsonivy.attn.tv"
          },
          "companyName": {
            "type": "string",
            "description": "The company name in the Attentive platform.",
            "example": "Hudson & Ivy"
          },
          "contactEmail": {
            "type": "string",
            "description": "The contact email associated with the application.",
            "example": "name@company.com"
          },
          "companyId": {
            "type": "string",
            "description": "The installer company ID",
            "example": "MDc6Q29tcGFueTI"
          }
        }
      },
      "CreateWebhookRequestDto": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The destination url of the webhook",
            "example": "https://example.com/webhooks"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The list of events this webhook is subscribed to",
            "example": [
              "sms.sent",
              "phone.subscribed"
            ]
          }
        }
      },
      "CreateWebhookResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the installed webhook",
            "example": "MjU6Q29tcGFueUFwcGxpY2F0aW9uV2ViaG9vazIy"
          },
          "url": {
            "type": "string",
            "description": "The destination url of the webhook",
            "example": "https://example.com/webhooks"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The list of events this webhook is subscribed to",
            "example": [
              "sms.sent",
              "phone.subscribed"
            ]
          },
          "type": {
            "type": "string",
            "description": "The type of webhook; can be either `INSTALLED` or `CREATOR`"
          },
          "disabledAt": {
            "type": "string",
            "description": "(optional) Date (YYYY-MM-DD hh:mm:ss) of when the webhook was deleted if it was deleted"
          }
        }
      },
      "UpdateWebhookRequestDto": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The destination url of the webhook",
            "example": "https://example.com/webhooks"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The list of events this webhook is subscribed to",
            "example": [
              "sms.sent",
              "phone.subscribed"
            ]
          },
          "disabled": {
            "type": "boolean",
            "description": "(optional) Disable the webhook endpoint if set to true."
          }
        }
      },
      "UpdateWebhookResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the installed webhook",
            "example": "MjU6Q29tcGFueUFwcGxpY2F0aW9uV2ViaG9vazIy"
          },
          "url": {
            "type": "string",
            "description": "The destination url of the webhook",
            "example": "https://example.com/webhooks"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The list of events this webhook is subscribed to",
            "example": [
              "sms.sent",
              "phone.subscribed"
            ]
          },
          "type": {
            "type": "string",
            "description": "The type of webhook; can be either `INSTALLED` or `CREATOR`"
          },
          "disabledAt": {
            "type": "string",
            "description": "(optional) Date (YYYY-MM-DD hh:mm:ss) of when the webhook was deleted if it was deleted"
          }
        }
      },
      "GetWebhooksResponseDto": {
        "type": "object",
        "properties": {
          "webhooks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetWebhookResponseDto"
            }
          }
        }
      },
      "GetWebhookResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the installed webhook",
            "example": "MjU6Q29tcGFueUFwcGxpY2F0aW9uV2ViaG9vazIy"
          },
          "url": {
            "type": "string",
            "description": "The destination url of the webhook",
            "example": "https://example.com/webhooks"
          },
          "type": {
            "type": "string",
            "description": "The type of webhook; can be either `SUBSCRIPTION` or `STATIC`"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The list of events this webhook is subscribed to",
            "example": [
              "sms.sent",
              "phone.subscribed"
            ]
          },
          "companyId": {
            "type": "string",
            "description": "The installer company ID",
            "example": "MDc6Q29tcGFueTI"
          },
          "disabledAt": {
            "type": "string",
            "description": "(optional) Date (YYYY-MM-DD hh:mm:ss) of when the webhook was deleted if it was deleted"
          }
        }
      },
      "RevokeTokenRequestDto": {
        "type": "object",
        "properties": {
          "companyId": {
            "type": "string",
            "description": "a company id",
            "example": 33
          },
          "companyApplicationId": {
            "type": "string",
            "description": "a company application id",
            "example": 22
          }
        }
      },
      "RevokeTokenResponseDto": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "string",
            "description": "errors when attempting to revoke token"
          }
        }
      },
      "UpdateTokenRequestDto": {
        "type": "object",
        "properties": {
          "applicationName": {
            "type": "string",
            "description": "an application name",
            "example": "Pillow Api"
          },
          "contactEmail": {
            "type": "string",
            "description": "an email address for a person at the company",
            "example": "name@company.com"
          }
        }
      },
      "GetApplicationsResponse": {
        "type": "object",
        "properties": {
          "applications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetApplicationResponse"
            }
          }
        }
      },
      "GetApplicationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "id of application"
          },
          "name": {
            "type": "string",
            "description": "an application name",
            "example": "Pillow API"
          },
          "contactEmail": {
            "type": "string",
            "description": "an email address for a person at the company",
            "example": "name@company.com"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "scopes required for this application",
            "example": [
              "ecommerce:all",
              "events:all"
            ]
          },
          "redirectUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "where users will be redirected after successful authorization.",
            "example": [
              "https:test.com",
              "https://localhost:1234",
              "https:test.com/redirect-flow"
            ]
          },
          "supportsWildcardRedirect": {
            "type": "boolean",
            "description": "Are wildcards allowed in redirect URLs for this application?"
          },
          "hint": {
            "type": "string",
            "description": "a substring of the company application token",
            "example": "asdfas3j3m"
          },
          "tags": {
            "type": "array",
            "default": [],
            "items": {
              "type": "string"
            },
            "description": "List of tags associated with an application",
            "example": [
              "FREE_TRIAL",
              "PROMOTIONAL"
            ]
          },
          "distributionStatus": {
            "type": "string",
            "description": "status of application",
            "example": "private"
          },
          "imageUrl": {
            "type": "string",
            "description": "the url of the uploaded brand image",
            "example": "https://attentive-files.s3.amazonaws.com/6f8d195f.png"
          },
          "clientId": {
            "type": "string",
            "description": "client id"
          },
          "clientSecret": {
            "type": "string",
            "description": "client secret"
          },
          "creatorCompanyApplicationId": {
            "type": "integer",
            "format": "int64",
            "description": "(optional) id of the company application for this application's creators"
          },
          "applicationWebhook": {
            "$ref": "#/components/schemas/ApplicationWebhookDto"
          },
          "description": {
            "type": "string",
            "description": "description of the application"
          },
          "jointValueProp": {
            "type": "string",
            "description": "description of the value add between Attentive and the application"
          },
          "salesEmail": {
            "type": "string",
            "description": "sales email to contact for partnership information"
          },
          "documentationFormUrl": {
            "type": "string",
            "description": "link to completed documentation form needed to publish application"
          },
          "installUrl": {
            "type": "string",
            "description": "URL the user is taken to after selecting install"
          },
          "supportEmail": {
            "type": "string",
            "description": "support email shown on the beta module and learn page"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicationCategories"
            }
          },
          "companyUrl": {
            "type": "string",
            "description": "company URL shown on application learn page"
          },
          "tier": {
            "type": "string",
            "description": "partnership tier of the application."
          },
          "attentiveFeatures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/attentiveFeature"
            }
          },
          "prerequisites": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "prerequisites to use the application"
            }
          },
          "documentationLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/documentationLink"
            }
          },
          "submittedForApproval": {
            "type": "boolean",
            "description": "has this application been submitted for beta status approval"
          },
          "createdAt": {
            "type": "string",
            "description": "date (YYYY-MM-DD) of when the application was created, in the time zone of the creator company."
          },
          "companyTimeZone": {
            "type": "string",
            "description": "time zone of the application creator's company",
            "example": "America/New_York"
          },
          "ssoTokenType": {
            "type": "string",
            "description": "whether application is allowed to grant 'IDENTITY' or 'API' sso tokens"
          }
        }
      },
      "ApplicationCategories": {
        "type": "object",
        "description": "an application category",
        "properties": {
          "applicationId": {
            "type": "integer",
            "format": "int64",
            "description": "id of the application category"
          },
          "name": {
            "type": "string",
            "description": "category name"
          },
          "primary": {
            "type": "boolean",
            "default": true,
            "description": "boolean flag to notify when a category is or is not a primary category"
          }
        }
      },
      "FeaturedApplicationRequestDto": {
        "type": "object",
        "description": "A featured application",
        "properties": {
          "applicationId": {
            "type": "integer",
            "format": "int64",
            "description": "id of the application"
          },
          "applicationType": {
            "type": "string",
            "description": "application type - either PUBLIC_API or INTEGRATION"
          },
          "featuredImageUrl": {
            "type": "string",
            "description": "URL for featured app image"
          }
        }
      },
      "FeaturedApplicationResponseDto": {
        "type": "object",
        "description": "A featured application",
        "properties": {
          "applicationId": {
            "type": "integer",
            "format": "int64",
            "description": "id of the application"
          },
          "applicationType": {
            "type": "string",
            "description": "application type - either PUBLIC_API or INTEGRATION"
          },
          "position": {
            "type": "integer",
            "description": "order of the featured application in the list"
          },
          "featuredImageUrl": {
            "type": "string",
            "description": "URL for featured app image"
          },
          "lastUpdated": {
            "type": "string",
            "description": "(YYYY-MM-DD hh:mm:ss) when this featured app was last updated."
          }
        }
      },
      "GetAppStoreFeaturedApplicationsResponse": {
        "type": "array",
        "description": "An array of featured application objects ordered by position",
        "items": {
          "$ref": "#/components/schemas/FeaturedApplicationResponseDto"
        }
      },
      "UpdateAppStoreFeaturedApplicationsRequest": {
        "type": "array",
        "description": "An array of featured application objects ordered by position",
        "items": {
          "$ref": "#/components/schemas/FeaturedApplicationRequestDto"
        }
      },
      "ContactFormSubmissionRequest": {
        "type": "object",
        "description": "A contact form submission",
        "properties": {
          "applicationId": {
            "type": "string",
            "description": "the id of the application"
          },
          "applicationType": {
            "type": "string",
            "description": "type of application; either 'INTEGRATION' or 'PUBLIC_API'"
          },
          "toAddress": {
            "type": "string",
            "description": "Optional to email address for non partners"
          },
          "fullName": {
            "type": "string",
            "description": "Full Name"
          },
          "businessName": {
            "type": "string",
            "description": "Business name"
          },
          "businessEmail": {
            "type": "string",
            "format": "email",
            "description": "Business email address"
          },
          "businessPhone": {
            "type": "string",
            "description": "Business phone number"
          },
          "websiteUrl": {
            "type": "string",
            "description": "Business Url"
          },
          "country": {
            "type": "string",
            "description": "Country"
          },
          "annualRevenueVolume": {
            "type": "string",
            "description": "Annual Revenue Volume"
          },
          "message": {
            "type": "string",
            "description": "Optional message for the company"
          }
        }
      },
      "GetAppStoreApplicationResponse": {
        "type": "object",
        "description": "This response is to display a publicly available application to installers",
        "properties": {
          "applicationId": {
            "type": "integer",
            "format": "int64",
            "description": "id of application"
          },
          "name": {
            "type": "string",
            "description": "an application name",
            "example": "Pillow API"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "scopes required for this application",
            "example": [
              "ecommerce:all",
              "events:all"
            ]
          },
          "tags": {
            "type": "array",
            "default": [],
            "items": {
              "type": "string"
            },
            "description": "List of tags associated with an application",
            "example": [
              "FREE_TRIAL",
              "PROMOTIONAL"
            ]
          },
          "status": {
            "type": "string",
            "description": "application status",
            "example": "beta"
          },
          "companyApplicationId": {
            "type": "integer",
            "format": "int64",
            "description": "(optional) id of the company application installed"
          },
          "supportEmail": {
            "type": "string",
            "description": "support email listed on learn page and beta module"
          },
          "imageUrl": {
            "type": "string",
            "description": "URL for application thumbnail"
          },
          "creatorCompany": {
            "type": "string",
            "description": "company name of application creator"
          },
          "description": {
            "type": "string",
            "description": "application description"
          },
          "tier": {
            "type": "string",
            "description": "partnership tier of the application."
          },
          "jointValueProp": {
            "type": "string",
            "description": "description of the value add between Attentive and the application"
          },
          "salesEmail": {
            "type": "string",
            "description": "sales email to contact for partnership information"
          },
          "prerequisites": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "prerequisites for using this application"
          },
          "companyUrl": {
            "type": "string",
            "description": "URL for application creator's company website"
          },
          "installUrl": {
            "type": "string",
            "description": "URL the installer is taken to"
          },
          "attentiveFeatures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/attentiveFeature"
            }
          },
          "documentationLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/documentationLink"
            }
          },
          "clientId": {
            "type": "string",
            "description": "client id"
          },
          "redirectUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "redirect urls for oAuth flow"
          },
          "hasApplicationWebhook": {
            "type": "boolean",
            "default": false,
            "description": "boolean flag whether or not the application as an ApplicationWebhook enabled"
          },
          "needsUpdate": {
            "type": "boolean",
            "default": false,
            "description": "boolean flag to notify if CompanyApplication needs to be reinstalled bc of scopes or webhooks"
          },
          "totalInstalls": {
            "type": "number",
            "format": "double",
            "description": "Normalized total number of installs for this application"
          },
          "totalRecentInstalls": {
            "type": "number",
            "format": "double",
            "description": "Normalized number of installs for this application in the last 90 days"
          },
          "appPublishedDate": {
            "type": "string",
            "description": "The date the app was published"
          },
          "categories": {
            "type": "array",
            "description": "an array of an application's categories",
            "items": {
              "$ref": "#/components/schemas/ApplicationCategories"
            }
          }
        }
      },
      "UpdateAppStoreDistributionDto": {
        "type": "object",
        "properties": {
          "distributionStatus": {
            "type": "string",
            "description": "status of application",
            "example": "private"
          },
          "tier": {
            "type": "string",
            "description": "Application tier; can be either `ELITE` or `PREMIER`",
            "example": "ELITE"
          }
        }
      },
      "GetAppStoreApplicationsResponse": {
        "type": "object",
        "properties": {
          "applications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetAppStoreApplicationResponse"
            }
          }
        }
      },
      "UpdateAppStoreApplicationRequest": {
        "type": "object",
        "properties": {
          "imageUrl": {
            "type": "string",
            "description": "image url for the thumbnail of the application"
          },
          "description": {
            "type": "string",
            "description": "application description to be found on the application's learn page."
          },
          "jointValueProp": {
            "type": "string",
            "description": "description of the value add between Attentive and the application"
          },
          "salesEmail": {
            "type": "string",
            "description": "sales email to contact for partnership information"
          },
          "documentationFormUrl": {
            "type": "string",
            "description": "link to completed documentation form needed to publish application"
          },
          "supportEmail": {
            "type": "string",
            "description": "support email to be found on the application's learn page."
          },
          "tags": {
            "type": "array",
            "default": [],
            "items": {
              "type": "string"
            },
            "description": "List of tags associated with an application",
            "example": [
              "FREE_TRIAL",
              "PROMOTIONAL"
            ]
          },
          "prerequisites": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "the What You'll Need items shown on the learn page."
            }
          },
          "companyUrl": {
            "type": "string",
            "description": "company url found on the application's learn page."
          },
          "installUrl": {
            "type": "string",
            "description": "url the user is taken to after selecting install on the learn page."
          },
          "attentiveFeatures": {
            "type": "array",
            "description": "attentive features this application integrates with and their respective descriptions.",
            "items": {
              "$ref": "#/components/schemas/attentiveFeature"
            }
          },
          "documentationLinks": {
            "type": "array",
            "description": "documentation urls and their associated message displayed on the learn page.",
            "items": {
              "$ref": "#/components/schemas/documentationLink"
            }
          },
          "categories": {
            "type": "array",
            "description": "an array of an application's categories",
            "items": {
              "$ref": "#/components/schemas/ApplicationCategories"
            }
          }
        }
      },
      "UpdateAppStoreApplicationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "SubmitApplicationForApprovalRequest": {
        "type": "object",
        "properties": {
          "applicationLink": {
            "type": "string",
            "example": "https://ui-devel.attentivemobile.com/integrations/marketplace/9999/preview"
          }
        }
      },
      "SubmitApplicationForApprovalResponse": {
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "applicationLink": {
            "type": "string"
          }
        }
      },
      "GetApplicationInstallersResponse": {
        "type": "object",
        "properties": {
          "installers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicationInstaller"
            }
          }
        }
      },
      "ApplicationInstaller": {
        "type": "object",
        "properties": {
          "companyApplicationId": {
            "type": "integer",
            "format": "int64"
          },
          "companyId": {
            "type": "integer",
            "format": "int64"
          },
          "companyName": {
            "type": "string",
            "description": "company associated with the company_application"
          },
          "installDate": {
            "type": "string",
            "description": "last date (YYYY-MM-DD) the installing company installed the company_application",
            "example": "2000/12/31"
          },
          "uninstallDate": {
            "type": "string",
            "description": "either a date (string) in YYYY-MM-DD format if the app has been uninstalled, or null for an active company_application."
          },
          "needsUpdate": {
            "type": "boolean",
            "description": "flag for whether this company_application needs an update or not"
          }
        }
      },
      "GetApplicationInstallStatsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicationInstallStats"
            }
          }
        }
      },
      "ApplicationInstallStats": {
        "type": "object",
        "properties": {
          "startDateTime": {
            "type": "string",
            "description": "the start date & time of the app metrics presented \"(YYYY-MM-DD HH:MM:SS)\"",
            "example": "2021-12-31 23:59:59"
          },
          "endDateTime": {
            "type": "string",
            "description": "the end date & time of the app metrics presented \"(YYYY-MM-DD HH:MM:SS)\"",
            "example": "2021-12-31 23:59:59"
          },
          "installs": {
            "type": "integer",
            "format": "int64",
            "description": "the number of installs that occurred within this window of time"
          },
          "uninstalls": {
            "type": "integer",
            "format": "int64",
            "description": "the number of uninstalls that occurred within this window of time"
          }
        }
      },
      "GetApplicationRequestersResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicationRequester"
            }
          }
        }
      },
      "ApplicationRequester": {
        "type": "object",
        "properties": {
          "companyApplicationId": {
            "type": "integer",
            "format": "int64"
          },
          "companyId": {
            "type": "integer",
            "format": "int64"
          },
          "companyName": {
            "type": "string"
          },
          "requests": {
            "type": "integer",
            "format": "int64",
            "description": "number of requests this installer has made during the requested time window"
          }
        }
      },
      "GetApplicationRequestStatsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicationRequestStats"
            }
          }
        }
      },
      "ApplicationRequestStats": {
        "type": "object",
        "properties": {
          "startDateTime": {
            "type": "string",
            "description": "the start date & time of the app metrics presented \"(YYYY-MM-DD HH:MM:SS)\"",
            "example": "2021-12-31 23:59:59"
          },
          "endDateTime": {
            "type": "string",
            "description": "the end date & time of the app metrics presented \"(YYYY-MM-DD HH:MM:SS)\"",
            "example": "2021-12-31 23:59:59"
          },
          "requests": {
            "type": "integer",
            "format": "int64",
            "description": "the number of requests that occurred within this window of time"
          }
        }
      },
      "GetCompanyResponse": {
        "type": "object",
        "description": "the users current company",
        "properties": {
          "addressLine1": {
            "type": "string",
            "example": "156 5th Avenue",
            "description": "Address Line 1"
          },
          "addressLine2": {
            "type": "string",
            "example": "Suite 303"
          },
          "addressCountry": {
            "type": "string",
            "example": "US",
            "description": "Country associated with street address"
          },
          "attentiveDomain": {
            "type": "string",
            "example": "hudsonivy.attn.tv"
          },
          "autoResponse": {
            "type": "string",
            "example": "Thanks for reaching out! Need help? Respond SERVICE to forward your request to one of our customer service agents! Reply STOP to stop."
          },
          "autoResponseActive": {
            "type": "boolean",
            "example": true
          },
          "businessHours": {
            "type": "object",
            "properties": {
              "open": {
                "type": "string",
                "example": "9:00"
              },
              "close": {
                "type": "string",
                "example": "20:00"
              },
              "timezone": {
                "type": "string",
                "example": "America/Los_Angeles"
              }
            }
          },
          "cartLink": {
            "type": "string",
            "example": "https://hudsonandivy.com/cart"
          },
          "clickThroughAttributionWindow": {
            "type": "integer",
            "example": 123
          },
          "city": {
            "type": "string",
            "example": "New York"
          },
          "confirmOptIn": {
            "type": "string",
            "example": "Reply Y to subscribe to recurring automated personalized marketing alerts (e.g. cart reminders) from {company}."
          },
          "country": {
            "type": "string",
            "description": "In Salesforce terms, \"Country Of Traffic\", or the country in which this company sends messages to their customers. Distinct from the legal or billing address country.\n",
            "example": "US"
          },
          "desktopUrl": {
            "type": "string",
            "example": "https://ui.attentivemobile.com"
          },
          "displayName": {
            "type": "string",
            "example": "Hudson & Ivy"
          },
          "domain": {
            "type": "string",
            "example": "hudsonandivy.com"
          },
          "email": {
            "type": "string",
            "example": "user@example.com"
          },
          "encodedExternalId": {
            "type": "string",
            "example": "Z8i"
          },
          "externalId": {
            "type": "integer",
            "format": "int64",
            "example": 106274
          },
          "fatigueRule": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "format": "int64",
                "example": 1
              },
              "frequency": {
                "type": "integer",
                "format": "int64"
              },
              "duration": {
                "type": "integer",
                "format": "int64",
                "example": 420
              }
            }
          },
          "emailFatigueRule": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "format": "int64",
                "example": 2
              },
              "frequency": {
                "type": "integer",
                "format": "int64",
                "example": 1
              },
              "duration": {
                "type": "integer",
                "format": "int64",
                "example": 421
              }
            }
          },
          "companyEmailProperties": {
            "type": "object",
            "properties": {
              "emailViewThroughAttributionWindow": {
                "type": "integer",
                "format": "int64",
                "example": 5
              },
              "emailClickThroughAttributionWindow": {
                "type": "integer",
                "format": "int64",
                "example": 4
              }
            }
          },
          "helpResponse": {
            "type": "string",
            "example": "Help at support@attentivemobile.com or 844-293-7265. Msg&data rates may apply. Msg freq varies. Reply STOP to stop."
          },
          "id": {
            "example": 1,
            "type": "integer",
            "format": "int64"
          },
          "messagingServiceSid": {
            "type": "string",
            "example": "329932"
          },
          "messageCategories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageCategoriesDto"
            },
            "example": [
              "{ name: \"accessories\", type: \"CONTENT_TYPE\", defaultOptIn: true }"
            ]
          },
          "mmsRateLimit": {
            "type": "integer",
            "format": "int64",
            "example": 50
          },
          "name": {
            "type": "string",
            "example": "Hudson + Ivy"
          },
          "nonAttentiveMessageLinksAllowed": {
            "type": "boolean",
            "example": false
          },
          "phone": {
            "type": "string",
            "example": "+12223444543"
          },
          "privacyLink": {
            "type": "string",
            "example": "https://attentivemobile.com/privacy/"
          },
          "rateLimit": {
            "type": "integer",
            "format": "int64",
            "example": 200
          },
          "replyWhenOptedOut": {
            "type": "boolean",
            "example": true
          },
          "salesforceAccountId": {
            "type": "string"
          },
          "salesforceOpportunityId": {
            "type": "string"
          },
          "startResponse": {
            "type": "string",
            "example": "Welcome! Msg & data rates may apply. Msg frequency varies. Reply HELP for help, STOP to cancel."
          },
          "state": {
            "type": "string",
            "example": "New York"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "stopResponse": {
            "type": "string",
            "example": "You are unsubscribed from messaging. No more messages will be sent. Help at support@attentivemobile.com or 844-293-7265"
          },
          "stopToStopPhrase": {
            "type": "string",
            "example": "Stop to stop"
          },
          "subscribedResponse": {
            "type": "string",
            "example": "You are already subscribed. Click this link for your 10% OFF code: {settingsUrl} ."
          },
          "termsLink": {
            "type": "string",
            "example": "https://attentivemobile.com/terms/"
          },
          "timezone": {
            "type": "string",
            "example": "America/Los_Angeles"
          },
          "ttjDoubleOptIn": {
            "type": "boolean",
            "example": true
          },
          "viewThroughAttributionWindow": {
            "type": "integer",
            "example": 123
          },
          "zipcode": {
            "type": "string",
            "example": "10010"
          }
        }
      },
      "MessageCategoriesDto": {
        "type": "object",
        "description": "message categories",
        "properties": {
          "name": {
            "type": "string",
            "example": "accessories"
          },
          "type": {
            "type": "string",
            "example": "CONTENT_TYPE"
          },
          "defaultOptIn": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "GetContactCardResponse": {
        "type": "object",
        "description": "contact card info",
        "properties": {
          "displayName": {
            "type": "string"
          },
          "mediaUrl": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "companyId": {
            "type": "integer",
            "format": "int64"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "title": {
            "type": "string"
          },
          "companyUrl": {
            "type": "string"
          },
          "secondaryUrl": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "companyLegalName": {
            "type": "string"
          },
          "useAddressFromSettingsUI": {
            "type": "boolean"
          },
          "addressLine1": {
            "type": "string"
          },
          "addressLine2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "addressCountry": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UpdateContactCardRequest": {
        "type": "object",
        "description": "contact card info",
        "properties": {
          "displayName": {
            "type": "string"
          },
          "mediaUrl": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "companyId": {
            "type": "integer",
            "format": "int64"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "title": {
            "type": "string"
          },
          "companyUrl": {
            "type": "string"
          },
          "secondaryUrl": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "companyLegalName": {
            "type": "string"
          },
          "useAddressFromSettingsUI": {
            "type": "boolean"
          },
          "addressLine1": {
            "type": "string"
          },
          "addressLine2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "addressCountry": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TestTokenRequestDto": {
        "type": "object",
        "properties": {
          "companyId": {
            "type": "integer",
            "format": "int64",
            "description": "Get a user tied to this company id"
          },
          "duration": {
            "type": "string",
            "format": "duration",
            "description": "How long the JWT should last (using [ISO-8601](https://en.wikipedia.org/wiki/ISO_8601#Durations) duration syntax)",
            "example": "PT15M"
          },
          "purpose": {
            "type": "string",
            "description": "use this to namespace so that we don't create new users every testrun",
            "example": "E2E_load_testing"
          },
          "testRole": {
            "type": "string",
            "description": "replaced with purpose",
            "deprecated": true
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Grant some list of roles to the user. See [auth.proto](https://github.com/attentive-mobile/code/blob/master/protobuf-common/src/main/proto/com/attentivemobile/protobuf/common/auth/auth.proto#L13) for a list of all valid roles.\n",
            "example": [
              "ROLE_SUPER_USER",
              "ROLE_MESSAGING_OPS"
            ]
          }
        }
      },
      "GoogleLoginRequestDto": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "a JWT returned by Google SSO",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
          },
          "companyId": {
            "type": "integer",
            "format": "int64",
            "description": "The (optional) id of a specific company to sign in to"
          }
        }
      },
      "GenerateZendeskTokenResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "A Zendesk-compatible JWT"
          }
        }
      },
      "InstalledCompanyApplicationDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "The id of the company application",
            "example": 64
          },
          "applicationName": {
            "type": "string",
            "description": "name of the application",
            "example": "Rudderstack"
          },
          "distributionStatus": {
            "type": "string",
            "description": "status of application",
            "example": "private"
          }
        }
      },
      "ScopeDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "scope name",
            "example": "write:ecommerce"
[...]
