{
  "openapi": "3.0.0",
  "info": {
    "description": "REST API for Azure VirtualWAN As a Service.",
    "title": "VirtualWANAsAServiceManagementClient",
    "version": "2019-07-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/network-virtualWan/2019-07-01/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/virtualWan.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "network-virtualWan",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/p2svpnGateways": {
      "get": {
        "parameters": [
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2SVpnGatewaysResult"
                }
              }
            },
            "description": "Request successful. Returns the details of all the P2SVpnGateways in the subscription."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Common error representation.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "string"
                    },
                    "details": {
                      "description": "Error details.",
                      "items": {
                        "description": "Common error details representation.",
                        "properties": {
                          "code": {
                            "description": "Error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Error message.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Error target.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "innerError": {
                      "description": "Inner error message.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Error target.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error."
          }
        },
        "description": "Lists all the P2SVpnGateways in a subscription.",
        "operationId": "P2sVpnGateways_List",
        "x-ms-examples": {
          "P2SVpnGatewayListBySubscription": {
            "parameters": {
              "api-version": "2019-07-01",
              "resourceGroupName": "rg1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1",
                      "location": "West US",
                      "name": "p2sVpnGateway1",
                      "properties": {
                        "customRoutes": {
                          "addressPrefixes": [
                            "101.168.0.6/32"
                          ]
                        },
                        "p2SVpnServerConfiguration": {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1"
                        },
                        "provisioningState": "Succeeded",
                        "virtualHub": {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1"
                        },
                        "vpnClientAddressPool": {
                          "addressPrefixes": [
                            "101.3.0.0/16"
                          ]
                        },
                        "vpnClientConnectionHealth": {
                          "allocatedIpAddresses": [
                            "1.1.1.1",
                            "2.2.2.2"
                          ],
                          "totalEgressBytesTransferred": 3000,
                          "totalIngressBytesTransferred": 2000,
                          "vpnClientConnectionsCount": 2
                        },
                        "vpnGatewayScaleUnit": 1
                      },
                      "type": "Microsoft.Network/p2sVpnGateways"
                    },
                    {
                      "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway2",
                      "location": "West US",
                      "name": "p2sVpnGateway2",
                      "properties": {
                        "customRoutes": {
                          "addressPrefixes": [
                            "101.168.0.6/32"
                          ]
                        },
                        "p2SVpnServerConfiguration": {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1"
                        },
                        "provisioningState": "Succeeded",
                        "virtualHub": {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2"
                        },
                        "vpnClientAddressPool": {
                          "addressPrefixes": [
                            "101.4.0.0/16"
                          ]
                        },
                        "vpnClientConnectionHealth": {
                          "allocatedIpAddresses": [
                            "1.1.1.1",
                            "2.2.2.2"
                          ],
                          "totalEgressBytesTransferred": 3000,
                          "totalIngressBytesTransferred": 2000,
                          "vpnClientConnectionsCount": 2
                        },
                        "vpnGatewayScaleUnit": 1
                      },
                      "type": "Microsoft.Network/p2sVpnGateways"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "tags": [
          "Subscriptions"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualHubs": {
      "get": {
        "parameters": [
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVirtualHubsResult"
                }
              }
            },
            "description": "Request successful. Returns the details of all the VirtualHubs in the subscription."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Common error representation.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "string"
                    },
                    "details": {
                      "description": "Error details.",
                      "items": {
                        "description": "Common error details representation.",
                        "properties": {
                          "code": {
                            "description": "Error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Error message.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Error target.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "innerError": {
                      "description": "Inner error message.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Error target.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error."
          }
        },
        "description": "Lists all the VirtualHubs in a subscription.",
        "operationId": "VirtualHubs_List",
        "x-ms-examples": {
          "VirtualHubList": {
            "parameters": {
              "api-version": "2019-07-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1",
                      "location": "West US",
                      "name": "virtualHub1",
                      "properties": {
                        "addressPrefix": "10.10.1.0/24",
                        "provisioningState": "Succeeded",
                        "virtualNetworkConnections": [
                          {
                            "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1/hubVirtualNetworkConnections/connection1",
                            "name": "connection1",
                            "properties": {
                              "allowHubToRemoteVnetTransit": true,
                              "allowRemoteVnetToUseHubVnetGateways": false,
                              "provisioningState": "Succeeded",
                              "remoteVirtualNetwork": {
                                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/SpokeVnet1"
                              }
                            }
                          }
                        ],
                        "virtualWan": {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1"
                        }
                      },
                      "type": "Microsoft.Network/virtualHubs"
                    },
                    {
                      "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                      "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualHubs/virtualHub2",
                      "location": "East US",
                      "name": "virtualHub2",
                      "properties": {
                        "addressPrefix": "210.10.1.0/24",
                        "provisioningState": "Succeeded",
                        "virtualNetworkConnections": [
                          {
                            "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                            "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualHubs/virtualHub2/hubVirtualNetworkConnections/connection2",
                            "name": "connection2",
                            "properties": {
                              "allowHubToRemoteVnetTransit": true,
                              "allowRemoteVnetToUseHubVnetGateways": false,
                              "provisioningState": "Succeeded",
                              "remoteVirtualNetwork": {
                                "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/SpokeVnet2"
                              }
                            }
                          }
                        ],
                        "virtualWan": {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1"
                        }
                      },
                      "type": "Microsoft.Network/virtualHubs"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "tags": [
          "Subscriptions"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualWans": {
      "get": {
        "parameters": [
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVirtualWANsResult"
                }
              }
            },
            "description": "Request successful. Returns the details of all the VirtualWANs in the subscription."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Common error representation.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "string"
                    },
                    "details": {
                      "description": "Error details.",
                      "items": {
                        "description": "Common error details representation.",
                        "properties": {
                          "code": {
                            "description": "Error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Error message.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Error target.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "innerError": {
                      "description": "Inner error message.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Error target.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error."
          }
        },
        "description": "Lists all the VirtualWANs in a subscription.",
        "operationId": "VirtualWans_List",
        "x-ms-examples": {
          "VirtualWANList": {
            "parameters": {
              "api-version": "2019-07-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "tags": {
                        "key1": "value1"
                      },
                      "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1",
                      "location": "West US",
                      "name": "wan1",
                      "properties": {
                        "disableVpnEncryption": false,
                        "provisioningState": "Succeeded",
                        "virtualHubs": [
                          "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1",
                          "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub2"
                        ],
                        "vpnSites": [
                          "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1",
                          "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite2"
                        ]
                      },
                      "type": "Microsoft.Network/virtualWANs"
                    },
                    {
                      "tags": {
                        "key1": "value1"
                      },
                      "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                      "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualWANs/wan2",
                      "location": "East US",
                      "name": "wan2",
                      "properties": {
                        "disableVpnEncryption": false,
                        "provisioningState": "Succeeded",
                        "virtualHubs": [
                          "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualHubs/hub1",
                          "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualHubs/hub2"
                        ],
                        "vpnSites": [
                          "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnSites/vpnSite1",
                          "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnSites/vpnSite2"
                        ]
                      },
                      "type": "Microsoft.Network/virtualWANs"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "tags": [
          "Subscriptions"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnGateways": {
      "get": {
        "parameters": [
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVpnGatewaysResult"
                }
              }
            },
            "description": "Request successful. Returns the details of all the VpnGateways in the subscription."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Common error representation.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "string"
                    },
                    "details": {
                      "description": "Error details.",
                      "items": {
                        "description": "Common error details representation.",
                        "properties": {
                          "code": {
                            "description": "Error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Error message.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Error target.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "innerError": {
                      "description": "Inner error message.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Error target.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error."
          }
        },
        "description": "Lists all the VpnGateways in a subscription.",
        "operationId": "VpnGateways_List",
        "x-ms-examples": {
          "VpnGatewayListBySubscription": {
            "parameters": {
              "api-version": "2019-07-01",
              "resourceGroupName": "rg1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnGateways/gateway1",
                      "location": "West US",
                      "name": "gateway1",
                      "properties": {
                        "bgpSettings": {
                          "asn": 65514,
                          "bgpPeeringAddress": "10.0.1.30",
                          "peerWeight": 0
                        },
                        "connections": [
                          {
                            "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnGateways/gateway1/vpnConnections/vpnConnection1",
                            "name": "vpnConnection1",
                            "properties": {
                              "egressBytesTransferred": 0,
                              "enableInternetSecurity": false,
                              "ingressBytesTransferred": 0,
                              "provisioningState": "Succeeded",
                              "remoteVpnSite": {
                                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1"
                              },
                              "vpnLinkConnections": [
                                {
                                  "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnGateways/gateway1/vpnConnections/vpnConnection1/VpnSiteLinkConnections/Connection-Link1",
                                  "name": "Connection-Link1",
                                  "properties": {
                                    "connectionBandwidth": 200,
                                    "egressBytesTransferred": 0,
                                    "enableBgp": false,
                                    "enableRateLimiting": false,
                                    "ingressBytesTransferred": 0,
                                    "ipsecPolicies": [],
                                    "provisioningState": "Succeeded",
                                    "routingWeight": 0,
                                    "sharedKey": "key",
                                    "useLocalAzureIpAddress": false,
                                    "usePolicyBasedTrafficSelectors": false,
                                    "vpnConnectionProtocolType": "IKEv2",
                                    "vpnSiteLink": {
                                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1/vpnSiteLinks/siteLink1"
                                    }
                                  },
                                  "type": "Microsoft.Network/vpnGateways/vpnConnections/VpnSiteLinkConnections"
                                },
                                {
                                  "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnGateways/gateway1/vpnConnections/vpnConnection1/VpnSiteLinkConnections/Connection-Link2",
                                  "name": "Connection-Link2",
                                  "properties": {
                                    "connectionBandwidth": 200,
                                    "egressBytesTransferred": 0,
                                    "enableBgp": false,
                                    "enableRateLimiting": false,
                                    "ingressBytesTransferred": 0,
                                    "ipsecPolicies": [],
                                    "provisioningState": "Succeeded",
                                    "routingWeight": 0,
                                    "sharedKey": "key",
                                    "useLocalAzureIpAddress": false,
                                    "usePolicyBasedTrafficSelectors": false,
                                    "vpnConnectionProtocolType": "IKEv2",
                                    "vpnSiteLink": {
                                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1/vpnSiteLinks/siteLink2"
                                    }
                                  },
                                  "type": "Microsoft.Network/vpnGateways/vpnConnections/VpnSiteLinkConnections"
                                }
                              ]
                            }
                          }
                        ],
                        "provisioningState": "Succeeded",
                        "virtualHub": {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1"
                        }
                      },
                      "type": "Microsoft.Network/vpnGateways"
                    },
                    {
                      "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                      "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnGateways/gateway2",
                      "location": "West US",
                      "name": "gateway2",
                      "properties": {
                        "bgpSettings": {
                          "asn": 65514,
                          "bgpPeeringAddress": "10.0.1.30",
                          "peerWeight": 0
                        },
                        "connections": [
                          {
                            "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                            "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnGateways/gateway2/vpnConnections/vpnConnection2",
                            "name": "vpnConnection1",
                            "properties": {
                              "connectionBandwidth": 100,
                              "connectionStatus": "Connected",
                              "egressBytesTransferred": 0,
                              "enableBgp": false,
                              "ingressBytesTransferred": 0,
                              "ipsecPolicies": [],
                              "provisioningState": "Succeeded",
                              "remoteVpnSite": {
                                "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnSites/vpnSite2"
                              },
                              "routingWeight": 0,
                              "sharedKey": "key",
                              "useLocalAzureIpAddress": false
                            }
                          }
                        ],
                        "provisioningState": "Succeeded",
                        "virtualHub": {
                          "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualHubs/virtualHub2"
                        }
                      },
                      "type": "Microsoft.Network/vpnGateways"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "tags": [
          "Subscriptions"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnSites": {
      "get": {
        "parameters": [
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVpnSitesResult"
                }
              }
            },
            "description": "Request successful. Returns the details of all the VpnSites in the subscription."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Common error representation.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "string"
                    },
                    "details": {
                      "description": "Error details.",
                      "items": {
                        "description": "Common error details representation.",
                        "properties": {
                          "code": {
                            "description": "Error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Error message.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Error target.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "innerError": {
                      "description": "Inner error message.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Error target.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error."
          }
        },
        "description": "Lists all the VpnSites in a subscription.",
        "operationId": "VpnSites_List",
        "x-ms-examples": {
          "VpnSiteList": {
            "parameters": {
              "api-version": "2019-07-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "tags": {
                        "key1": "value1"
                      },
                      "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1",
                      "location": "West US",
                      "name": "vpnSite1",
                      "properties": {
                        "addressSpace": {
                          "addressPrefixes": [
                            "10.0.0.0/16"
                          ]
                        },
                        "deviceProperties": {
                          "linkSpeedInMbps": 0
                        },
                        "isSecuritySite": false,
                        "provisioningState": "Succeeded",
                        "virtualWan": {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1"
                        },
                        "vpnSiteLinks": [
                          {
                            "etag": "W/\"00000000-0000-0000-0000-000000000000\"",
                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1/vpnSiteLinks/vpnSiteLink1",
                            "name": "vpnSiteLink1",
                            "properties": {
                              "bgpProperties": {
                                "asn": 1234,
                                "bgpPeeringAddress": "192.168.0.0"
                              },
                              "ipAddress": "50.50.50.56",
                              "linkProperties": {
                                "linkSpeedInMbps": 0
                              },
                              "provisioningState": "Succeeded"
                            },
                            "type": "Microsoft.Network/vpnSites/vpnSiteLinks"
                          }
                        ]
                      },
                      "type": "Microsoft.Network/vpnSites"
                    },
                    {
                      "tags": {
                        "key1": "value1"
                      },
                      "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                      "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnSites/vpnSite2",
                      "location": "East US",
                      "name": "vpnSite2",
                      "properties": {
                        "addressSpace": {
                          "addressPrefixes": [
                            "10.0.0.0/16"
                          ]
                        },
                        "bgpProperties": {
                          "asn": 1234,
                          "bgpPeeringAddress": "192.168.0.0"
                        },
                        "deviceProperties": {
                          "deviceModel": "model01",
                          "deviceVendor": "vendor1",
                          "linkSpeedInMbps": 200
                        },
                        "ipAddress": "10.1.0.0",
                        "isSecuritySite": false,
                        "provisioningState": "Succeeded",
                        "virtualWan": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualWANs/wan1"
                      },
                      "type": "Microsoft.Network/vpnSites"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "tags": [
          "Subscriptions"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways": {
      "get": {
        "parameters": [
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The resource group name of the P2SVpnGateway.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2SVpnGatewaysResult"
                }
              }
            },
            "description": "Request successful. Returns the details of all the P2SVpnGateways in the resource group."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Common error representation.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "string"
                    },
                    "details": {
                      "description": "Error details.",
                      "items": {
                        "description": "Common error details representation.",
                        "properties": {
                          "code": {
                            "description": "Error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Error message.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Error target.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "innerError": {
                      "description": "Inner error message.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Error target.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error."
          }
        },
        "description": "Lists all the P2SVpnGateways in a resource group.",
        "operationId": "P2sVpnGateways_ListByResourceGroup",
        "x-ms-examples": {
          "P2SVpnGatewayListByResourceGroup": {
            "parameters": {
              "api-version": "2019-07-01",
              "resourceGroupName": "rg1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1",
                      "location": "West US",
                      "name": "p2sVpnGateway1",
                      "properties": {
                        "customRoutes": {
                          "addressPrefixes": [
                            "101.168.0.6/32"
                          ]
                        },
                        "p2SVpnServerConfiguration": {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1"
                        },
                        "provisioningState": "Succeeded",
                        "virtualHub": {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1"
                        },
                        "vpnClientAddressPool": {
                          "addressPrefixes": [
                            "101.3.0.0/16"
                          ]
                        },
                        "vpnClientConnectionHealth": {
                          "allocatedIpAddresses": [
                            "1.1.1.1",
                            "2.2.2.2"
                          ],
                          "totalEgressBytesTransferred": 3000,
                          "totalIngressBytesTransferred": 2000,
                          "vpnClientConnectionsCount": 2
                        },
                        "vpnGatewayScaleUnit": 1
                      },
                      "type": "Microsoft.Network/p2sVpnGateways"
                    },
                    {
                      "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway2",
                      "location": "West US",
                      "name": "p2sVpnGateway2",
                      "properties": {
                        "customRoutes": {
                          "addressPrefixes": [
                            "101.168.0.6/32"
                          ]
                        },
                        "p2SVpnServerConfiguration": {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1"
                        },
                        "provisioningState": "Succeeded",
                        "virtualHub": {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2"
                        },
                        "vpnClientAddressPool": {
                          "addressPrefixes": [
                            "101.4.0.0/16"
                          ]
                        },
                        "vpnClientConnectionHealth": {
                          "allocatedIpAddresses": [
                            "1.1.1.1",
                            "2.2.2.2"
                          ],
                          "totalEgressBytesTransferred": 3000,
                          "totalIngressBytesTransferred": 2000,
                          "vpnClientConnectionsCount": 2
                        },
                        "vpnGatewayScaleUnit": 1
                      },
                      "type": "Microsoft.Network/p2sVpnGateways"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "tags": [
          "Subscriptions"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}": {
      "delete": {
        "parameters": [
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The resource group name of the P2SVpnGateway.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the gateway.",
            "in": "path",
            "name": "gatewayName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. P2SVpnGateway deleted."
          },
          "202": {
            "description": "Request received successfully. P2SVpnGateway deletion is in progress; follow the Location header to poll for final outcome."
          },
          "204": {
            "description": "No p2s vpn gateways exist by the name provided."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Common error representation.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "string"
                    },
                    "details": {
                      "description": "Error details.",
                      "items": {
                        "description": "Common error details representation.",
                        "properties": {
                          "code": {
                            "description": "Error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Error message.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Error target.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "innerError": {
                      "description": "Inner error message.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Error target.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error."
          }
        },
        "description": "Deletes a virtual wan p2s vpn gateway.",
        "operationId": "P2sVpnGateways_Delete",
        "x-ms-examples": {
          "P2SVpnGatewayDelete": {
            "parameters": {
              "api-version": "2019-07-01",
              "gatewayName": "p2sVpnGateway1",
              "resourceGroupName": "rg1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {},
              "202": {},
              "204": {}
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "tags": [
          "Subscriptions"
        ]
      },
      "get": {
        "parameters": [
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The resource group name of the P2SVpnGateway.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the gateway.",
            "in": "path",
            "name": "gatewayName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/P2SVpnGateway"
                }
              }
            },
            "description": "Request successful. Returns the details of the virtual wan p2s vpn gateway retrieved."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Common error representation.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "string"
                    },
                    "details": {
                      "description": "Error details.",
                      "items": {
                        "description": "Common error details representation.",
                        "properties": {
                          "code": {
                            "description": "Error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Error message.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Error target.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "innerError": {
                      "description": "Inner error message.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Error target.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error."
          }
        },
        "description": "Retrieves the details of a virtual wan p2s vpn gateway.",
        "operationId": "P2sVpnGateways_Get",
        "x-ms-examples": {
          "P2SVpnGatewayGet": {
            "parameters": {
              "api-version": "2019-07-01",
              "gatewayName": "p2sVpnGateway1",
              "resourceGroupName": "rg1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1",
                  "location": "West US",
                  "name": "p2sVpnGateway1",
                  "properties": {
                    "customRoutes": {
                      "addressPrefixes": [
                        "101.168.0.6/32"
                      ]
                    },
                    "p2SVpnServerConfiguration": {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1"
                    },
                    "provisioningState": "Succeeded",
                    "virtualHub": {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1"
                    },
                    "vpnClientAddressPool": {
                      "addressPrefixes": [
                        "101.3.0.0/16"
                      ]
                    },
                    "vpnClientConnectionHealth": {
                      "allocatedIpAddresses": [
                        "1.1.1.1",
                        "2.2.2.2"
                      ],
                      "totalEgressBytesTransferred": 3000,
                      "totalIngressBytesTransferred": 2000,
                      "vpnClientConnectionsCount": 2
                    },
                    "vpnGatewayScaleUnit": 1
                  },
                  "type": "Microsoft.Network/p2sVpnGateways"
                }
              }
            }
          }
        },
        "tags": [
          "Subscriptions"
        ]
      },
      "patch": {
        "parameters": [
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The resource group name of the P2SVpnGateway.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the gateway.",
            "in": "path",
            "name": "gatewayName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/P2SVpnGateway"
                }
              }
            },
            "description": "Request successful. Returns the details of the updated gateway."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/P2SVpnGateway"
                }
              }
            },
            "description": "Request received successfully. Returns the details of the updated gateway."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Common error representation.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "string"
                    },
                    "details": {
                      "description": "Error details.",
                      "items": {
                        "description": "Common error details representation.",
                        "properties": {
                          "code": {
                            "description": "Error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Error message.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Error target.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "innerError": {
                      "description": "Inner error message.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Error target.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error."
          }
        },
        "tags": [
          "P2SVpnGateways"
        ],
        "description": "Updates virtual wan p2s vpn gateway tags.",
        "operationId": "P2sVpnGateways_UpdateTags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Tags object for patch operations.",
                "properties": {
                  "tags": {
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Resource tags.",
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Parameters supplied to update a virtual wan p2s vpn gateway tags.",
          "required": true
        },
        "x-ms-examples": {
          "P2SVpnGatewayUpdate": {
            "parameters": {
              "api-version": "2019-07-01",
              "gatewayName": "p2sVpnGateway1",
              "p2SVpnGatewayParameters": {
                "tags": {
                  "tag1": "value1",
                  "tag2": "value2"
                }
              },
              "resourceGroupName": "rg1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "key1": "value1",
                    "key2": "value2"
                  },
                  "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1",
                  "location": "West US",
                  "name": "p2sVpnGateway1",
                  "properties": {
                    "customRoutes": {
                      "addressPrefixes": [
                        "101.168.0.6/32"
                      ]
                    },
                    "p2SVpnServerConfiguration": {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1"
                    },
                    "provisioningState": "Succeeded",
                    "virtualHub": {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1"
                    },
                    "vpnClientAddressPool": {
                      "addressPrefixes": [
                        "101.3.0.0/16"
                      ]
                    },
                    "vpnClientConnectionHealth": {
                      "allocatedIpAddresses": [
                        "1.1.1.1",
                        "2.2.2.2"
                      ],
                      "totalEgressBytesTransferred": 3000,
                      "totalIngressBytesTransferred": 2000,
                      "vpnClientConnectionsCount": 2
                    },
                    "vpnGatewayScaleUnit": 1
                  },
                  "type": "Microsoft.Network/p2sVpnGateways"
                }
              },
              "201": {
                "body": {
                  "tags": {
                    "key1": "value1",
                    "key2": "value2"
                  },
                  "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1",
                  "location": "West US",
                  "name": "p2sVpnGateway1",
                  "properties": {
                    "customRoutes": {
                      "addressPrefixes": [
                        "101.168.0.6/32"
                      ]
                    },
                    "p2SVpnServerConfiguration": {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1"
                    },
                    "provisioningState": "Succeeded",
                    "virtualHub": {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1"
                    },
                    "vpnClientAddressPool": {
                      "addressPrefixes": [
                        "101.3.0.0/16"
                      ]
                    },
                    "vpnClientConnectionHealth": {
                      "allocatedIpAddresses": [
                        "1.1.1.1",
                        "2.2.2.2"
                      ],
                      "totalEgressBytesTransferred": 3000,
                      "totalIngressBytesTransferred": 2000,
                      "vpnClientConnectionsCount": 2
                    },
                    "vpnGatewayScaleUnit": 1
                  },
                  "type": "Microsoft.Network/p2sVpnGateways"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The resource group name of the P2SVpnGateway.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the gateway.",
            "in": "path",
            "name": "gatewayName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/P2SVpnGateway"
                }
              }
            },
            "description": "Request successful. Returns the details of the virtual wan p2s vpn Gateway created or updated."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/P2SVpnGateway"
                }
              }
            },
            "description": "Request successful. Returns the details of the virtual wan p2s vpn gateway retrieved."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Common error representation.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "string"
                    },
                    "details": {
                      "description": "Error details.",
                      "items": {
                        "description": "Common error details representation.",
                        "properties": {
                          "code": {
                            "description": "Error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Error message.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Error target.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "innerError": {
                      "description": "Inner error message.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Error target.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error."
          }
        },
        "description": "Creates a virtual wan p2s vpn gateway if it doesn't exist else updates the existing gateway.",
        "operationId": "P2sVpnGateways_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/P2SVpnGateway"
              }
            }
          },
          "description": "Parameters supplied to create or Update a virtual wan p2s vpn gateway.",
          "required": true
        },
        "x-ms-examples": {
          "P2SVpnGatewayPut": {
            "parameters": {
              "api-version": "2019-07-01",
              "gatewayName": "p2sVpnGateway1",
              "p2SVpnGatewayParameters": {
                "tags": {
                  "key1": "value1"
                },
                "location": "West US",
                "properties": {
                  "customRoutes": {
                    "addressPrefixes": [
                      "101.168.0.6/32"
                    ]
                  },
                  "p2SVpnServerConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1"
                  },
                  "virtualHub": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1"
                  },
                  "vpnClientAddressPool": {
                    "addressPrefixes": [
                      "101.3.0.0/16"
                    ]
                  },
                  "vpnGatewayScaleUnit": 1
                }
              },
              "resourceGroupName": "rg1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1",
                  "location": "West US",
                  "name": "p2sVpnGateway1",
                  "properties": {
                    "customRoutes": {
                      "addressPrefixes": [
                        "101.168.0.6/32"
                      ]
                    },
                    "p2SVpnServerConfiguration": {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1"
                    },
                    "provisioningState": "Succeeded",
                    "virtualHub": {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1"
                    },
                    "vpnClientAddressPool": {
                      "addressPrefixes": [
                        "101.3.0.0/16"
                      ]
                    },
                    "vpnClientConnectionHealth": {
                      "allocatedIpAddresses": [],
                      "totalEgressBytesTransferred": 0,
                      "totalIngressBytesTransferred": 0,
                      "vpnClientConnectionsCount": 0
                    },
                    "vpnGatewayScaleUnit": 1
                  },
                  "type": "Microsoft.Network/p2sVpnGateways"
                }
              },
              "201": {
                "body": {
                  "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1",
                  "location": "West US",
                  "name": "p2sVpnGateway1",
                  "properties": {
                    "customRoutes": {
                      "addressPrefixes": [
                        "101.168.0.6/32"
                      ]
                    },
                    "p2SVpnServerConfiguration": {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1"
                    },
                    "provisioningState": "Succeeded",
                    "virtualHub": {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1"
                    },
                    "vpnClientAddressPool": {
                      "addressPrefixes": [
                        "101.3.0.0/16"
                      ]
                    },
                    "vpnClientConnectionHealth": {
                      "allocatedIpAddresses": [],
                      "totalEgressBytesTransferred": 0,
                      "totalIngressBytesTransferred": 0,
                      "vpnClientConnectionsCount": 0
                    },
                    "vpnGatewayScaleUnit": 1
                  },
                  "type": "Microsoft.Network/p2sVpnGateways"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "tags": [
          "Subscriptions"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}/generatevpnprofile": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the P2SVpnGateway.",
            "in": "path",
            "name": "gatewayName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VpnProfileResponse"
                }
              }
            },
            "description": "VPN profile package URL."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          }
        },
        "tags": [
          "P2SVpnGateways"
        ],
        "description": "Generates VPN profile for P2S client of the P2SVpnGateway in the specified resource group.",
        "operationId": "P2sVpnGateways_GenerateVpnProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/P2SVpnProfileParameters"
              }
            }
          },
          "description": "Parameters supplied to the generate P2SVpnGateway VPN client package operation.",
          "required": true
        },
        "x-ms-examples": {
          "GenerateP2SVpnGatewayVPNProfile": {
            "parameters": {
              "parameters": {
                "authenticationMethod": "EAPTLS"
              },
              "api-version": "2019-07-01",
              "gatewayName": "p2sVpnGateway1",
              "resourceGroupName": "rg1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": ""
              },
              "202": {}
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}/getP2sVpnConnectionHealth": {
      "post": {
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the P2SVpnGateway.",
            "in": "path",
            "name": "gatewayName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/P2SVpnGateway"
                }
              }
            },
            "description": "P2S Vpn Gateway with P2S connection health details."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          }
        },
        "tags": [
          "P2SVpnGateways"
        ],
        "description": "Gets the connection health of P2S clients of the virtual wan P2SVpnGateway in the specified resource group.",
        "operationId": "P2sVpnGateways_GetP2sVpnConnectionHealth",
        "x-ms-examples": {
          "P2SVpnGatewayGetConnectionHealth": {
            "parameters": {
              "api-version": "2019-07-01",
              "gatewayName": "p2sVpnGateway1",
              "resourceGroupName": "rg1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1",
                  "location": "West US",
                  "name": "p2sVpnGateway1",
                  "properties": {
                    "customRoutes": {
                      "addressPrefixes": [
                        "101.168.0.6/32"
                      ]
                    },
                    "p2SVpnServerConfiguration": {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1"
                    },
                    "provisioningState": "Succeeded",
                    "virtualHub": {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1"
                    },
                    "vpnClientAddressPool": {
                      "addressPrefixes": [
                        "101.3.0.0/16"
                      ]
                    },
                    "vpnClientConnectionHealth": {
                      "allocatedIpAddresses": [
                        "1.1.1.1",
                        "2.2.2.2"
                      ],
                      "totalEgressBytesTransferred": 3000,
                      "totalIngressBytesTransferred": 2000,
                      "vpnClientConnectionsCount": 2
                    },
                    "vpnGatewayScaleUnit": 1
                  },
                  "type": "Microsoft.Network/p2sVpnGateways"
                }
              },
              "202": {}
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs": {
      "get": {
        "parameters": [
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The resource group name of the VirtualHub.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVirtualHubsResult"
                }
              }
            },
            "description": "Request successful. Returns the details of all the VirtualHubs in the resource group."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Common error representation.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "string"
                    },
                    "details": {
                      "description": "Error details.",
                      "items": {
                        "description": "Common error details representation.",
                        "properties": {
                          "code": {
                            "description": "Error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Error message.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Error target.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "innerError": {
                      "description": "Inner error message.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Error target.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error."
          }
        },
        "description": "Lists all the VirtualHubs in a resource group.",
        "operationId": "VirtualHubs_ListByResourceGroup",
        "x-ms-examples": {
          "VirtualHubListByResourceGroup": {
            "parameters": {
              "api-version": "2019-07-01",
              "resourceGroupName": "rg1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1",
                      "location": "West US",
                      "name": "virtualHub1",
                      "properties": {
                        "addressPrefix": "10.10.1.0/24",
                        "provisioningState": "Succeeded",
                        "virtualNetworkConnections": [
                          {
                            "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1/hubVirtualNetworkConnections/connection1",
                            "name": "connection1",
                            "properties": {
                              "allowHubToRemoteVnetTransit": true,
                              "allowRemoteVnetToUseHubVnetGateways": false,
                              "provisioningState": "Succeeded",
                              "remoteVirtualNetwork": {
                                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/SpokeVnet1"
                              }
                            }
                          }
                        ],
                        "virtualWan": {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1"
                        }
                      },
                      "type": "Microsoft.Network/virtualHubs"
                    },
                    {
                      "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2",
                      "location": "East US",
                      "name": "virtualHub2",
                      "properties": {
                        "addressPrefix": "210.10.1.0/24",
                        "provisioningState": "Succeeded",
                        "virtualNetworkConnections": [
                          {
                            "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2/hubVirtualNetworkConnections/connection2",
                            "name": "connection2",
                            "properties": {
                              "allowHubToRemoteVnetTransit": true,
                              "allowRemoteVnetToUseHubVnetGateways": false,
                              "provisioningState": "Succeeded",
                              "remoteVirtualNetwork": {
                                "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/SpokeVnet2"
                              }
                            }
                          }
                        ],
                        "virtualWan": {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1"
                        }
                      },
                      "type": "Microsoft.Network/virtualHubs"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "tags": [
          "Subscriptions"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}": {
      "delete": {
        "parameters": [
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The resource group name of the VirtualHub.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the VirtualHub.",
            "in": "path",
            "name": "virtualHubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. VirtualHub deleted."
          },
          "202": {
            "description": "Request received successfully. VirtualHub deletion is in progress; follow the Location header to poll for final outcome."
          },
          "204": {
            "description": "No VirtualHubs exist by the name provided."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Common error representation.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "string"
                    },
                    "details": {
                      "description": "Error details.",
                      "items": {
                        "description": "Common error details representation.",
                        "properties": {
                          "code": {
                            "description": "Error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Error message.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Error target.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "innerError": {
                      "description": "Inner error message.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Error target.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error."
          }
        },
        "description": "Deletes a VirtualHub.",
        "operationId": "VirtualHubs_Delete",
        "x-ms-examples": {
          "VirtualHubDelete": {
            "parameters": {
              "api-version": "2019-07-01",
              "resourceGroupName": "rg1",
              "subscriptionId": "subid",
              "virtualHubName": "virtualHub1"
            },
            "responses": {
              "200": {},
              "202": {},
              "204": {}
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "tags": [
          "Subscriptions"
        ]
      },
      "get": {
        "parameters": [
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The resource group name of the VirtualHub.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the VirtualHub.",
            "in": "path",
            "name": "virtualHubName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualHub"
                }
              }
            },
            "description": "Request successful. Returns the details of the VirtualHub retrieved."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Common error representation.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "string"
                    },
                    "details": {
                      "description": "Error details.",
                      "items": {
                        "description": "Common error details representation.",
                        "properties": {
                          "code": {
                            "description": "Error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Error message.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Error target.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "innerError": {
                      "description": "Inner error message.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Error target.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error."
          }
        },
        "description": "Retrieves the details of a VirtualHub.",
        "operationId": "VirtualHubs_Get",
        "x-ms-examples": {
          "VirtualHubGet": {
            "parameters": {
              "api-version": "2019-07-01",
              "resourceGroupName": "rg1",
              "subscriptionId": "subid",
              "virtualHubName": "virtualHub1"
            },
            "responses": {
              "200": {
                "body": {
                  "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1",
                  "location": "West US",
                  "name": "virtualHub1",
                  "properties": {
                    "addressPrefix": "10.10.1.0/24",
                    "provisioningState": "Succeeded",
                    "virtualNetworkConnections": [],
                    "virtualWan": {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1"
                    }
                  },
                  "type": "Microsoft.Network/virtualHubs"
                }
              }
            }
          }
        },
        "tags": [
          "Subscriptions"
        ]
      },
      "patch": {
        "parameters": [
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The resource group name of the VirtualHub.",
[...]
