{
  "openapi": "3.0.3",
  "info": {
    "title": "Nedzo API",
    "version": "1.0.0",
    "description": "RESTful API for Nedzo AI communications platform. Provides programmatic access to workspaces, agents, contacts, and contact lists.",
    "x-jentic-source-url": "https://docs.nedzo.ai"
  },
  "servers": [
    {
      "url": "https://api.nedzo.ai",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "API key authentication using Bearer token format. Obtain your API key from the Nedzo dashboard."
      },
      "serviceKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Service-Key",
        "description": "Internal service key authentication. Used for service-to-service communication. Requires IP allowlist."
      },
      "jwtAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase JWT authentication for dashboard users. Obtain token via Supabase Auth."
      }
    },
    "schemas": {
      "GhlAgentOption": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Display name shown in GHL dropdown",
            "example": "Sales Agent"
          },
          "value": {
            "type": "string",
            "format": "uuid",
            "description": "Agent UUID used when action executes",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        },
        "required": [
          "label",
          "value"
        ]
      },
      "GhlAgentsResponse": {
        "type": "object",
        "properties": {
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GhlAgentOption"
            },
            "description": "Array of agent options for GHL dropdown"
          }
        },
        "required": [
          "options"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "URI reference identifying the problem type",
            "example": "https://api.nedzo.ai/errors/not-found"
          },
          "title": {
            "type": "string",
            "description": "Short, human-readable summary of the problem",
            "example": "Not Found"
          },
          "status": {
            "type": "integer",
            "minimum": 400,
            "maximum": 599,
            "description": "HTTP status code",
            "example": 404
          },
          "detail": {
            "type": "string",
            "description": "Human-readable explanation specific to this occurrence",
            "example": "Workspace with ID 123e4567-e89b-12d3-a456-426614174000 not found"
          },
          "instance": {
            "type": "string",
            "description": "URI reference identifying the specific occurrence",
            "example": "/v1/workspaces/123e4567-e89b-12d3-a456-426614174000"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "Field name that failed validation",
                  "example": "name"
                },
                "message": {
                  "type": "string",
                  "description": "Validation error message",
                  "example": "Name is required"
                }
              },
              "required": [
                "field",
                "message"
              ]
            },
            "description": "Validation errors (present for 400 Validation Error)",
            "example": [
              {
                "field": "name",
                "message": "Name is required"
              }
            ]
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "detail"
        ]
      },
      "GhlCallResponse": {
        "type": "object",
        "properties": {
          "conversationId": {
            "type": "string",
            "format": "uuid",
            "description": "Nedzo conversation ID for tracking the call",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        },
        "required": [
          "conversationId"
        ]
      },
      "GhlCallRequest": {
        "type": "object",
        "properties": {
          "locationId": {
            "type": "string",
            "description": "GHL location ID that identifies the workspace connection",
            "example": "ghl-location-uuid"
          },
          "agentId": {
            "type": "string",
            "format": "uuid",
            "description": "Nedzo agent UUID selected in GHL workflow",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "phoneNumber": {
            "type": "string",
            "pattern": "^\\+[1-9]\\d{1,14}$",
            "description": "Phone number to call in E.164 format",
            "example": "+14155551234"
          },
          "firstName": {
            "type": "string",
            "maxLength": 255,
            "description": "Contact first name from GHL",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "maxLength": 255,
            "description": "Contact last name from GHL",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Contact email from GHL",
            "example": "john@example.com"
          },
          "businessName": {
            "type": "string",
            "maxLength": 255,
            "description": "Contact business name from GHL",
            "example": "Acme Inc"
          }
        },
        "required": [
          "locationId",
          "agentId",
          "phoneNumber"
        ]
      },
      "GhlContactUpsertResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Contact UUID",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "created": {
            "type": "boolean",
            "description": "True if new contact was created, false if existing contact was updated",
            "example": true
          }
        },
        "required": [
          "id",
          "created"
        ]
      },
      "GhlContactUpsertRequest": {
        "type": "object",
        "properties": {
          "locationId": {
            "type": "string",
            "description": "GHL location ID that identifies the workspace connection",
            "example": "ghl-location-uuid"
          },
          "phoneNumber": {
            "type": "string",
            "pattern": "^\\+[1-9]\\d{1,14}$",
            "description": "Phone number in E.164 format - primary match key",
            "example": "+14155551234"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Contact email - secondary match key (used if no phone)",
            "example": "john@example.com"
          },
          "firstName": {
            "type": "string",
            "maxLength": 255,
            "description": "Contact first name",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "maxLength": 255,
            "description": "Contact last name",
            "example": "Doe"
          },
          "businessName": {
            "type": "string",
            "maxLength": 255,
            "description": "Contact business name",
            "example": "Acme Inc"
          },
          "customFields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom fields as key-value pairs. Keys are field names, values are field values. New fields are auto-created as text type.",
            "example": {
              "Lead Source": "Website",
              "Company Size": "50"
            }
          }
        },
        "required": [
          "locationId"
        ]
      },
      "GhlContactDeleteRequest": {
        "type": "object",
        "properties": {
          "locationId": {
            "type": "string",
            "description": "GHL location ID that identifies the workspace connection",
            "example": "ghl-location-uuid"
          },
          "phoneNumber": {
            "type": "string",
            "pattern": "^\\+[1-9]\\d{1,14}$",
            "description": "Phone number in E.164 format - primary match key",
            "example": "+14155551234"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Contact email - secondary match key (used if no phone)",
            "example": "john@example.com"
          }
        },
        "required": [
          "locationId"
        ]
      },
      "TemplateItemCounts": {
        "type": "object",
        "properties": {
          "agents": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of agents in the template",
            "example": 3
          },
          "workflows": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of workflows in the template",
            "example": 5
          },
          "customFields": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of custom fields in the template",
            "example": 12
          },
          "tags": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of tags in the template",
            "example": 8
          }
        },
        "required": [
          "agents",
          "workflows",
          "customFields",
          "tags"
        ]
      },
      "IntegrationRequirement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Integration identifier",
            "example": "cal_com"
          },
          "displayName": {
            "type": "string",
            "description": "User-friendly integration name",
            "example": "Cal.com Calendar"
          }
        },
        "required": [
          "id",
          "displayName"
        ]
      },
      "TemplatePreview": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique template identifier",
            "example": "abc12345-6789-0def-ghij-klmnopqrstuv"
          },
          "name": {
            "type": "string",
            "description": "Template name",
            "example": "Sales Appointment Setter"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Template description",
            "example": "AI agent configured for booking sales appointments"
          },
          "templateType": {
            "type": "string",
            "enum": [
              "agent",
              "workflow",
              "workspace"
            ],
            "description": "The type of entity this template was created from",
            "example": "agent"
          },
          "authorName": {
            "type": "string",
            "description": "Name of the template creator (or \"Archived Account\")",
            "example": "John Doe"
          },
          "itemCounts": {
            "$ref": "#/components/schemas/TemplateItemCounts"
          },
          "integrations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntegrationRequirement"
            },
            "description": "Required integrations with display names"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 creation timestamp",
            "example": "2026-01-26T10:30:00.000Z"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "templateType",
          "authorName",
          "itemCounts",
          "integrations",
          "createdAt"
        ]
      },
      "TemplateError": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Error type URI",
            "example": "https://api.nedzo.ai/errors/not-found"
          },
          "title": {
            "type": "string",
            "description": "HTTP status text",
            "example": "Not Found"
          },
          "status": {
            "type": "number",
            "description": "HTTP status code",
            "example": 404
          },
          "detail": {
            "type": "string",
            "description": "Detailed error message",
            "example": "Agent not found"
          },
          "instance": {
            "type": "string",
            "description": "Request path",
            "example": "/internal/templates"
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "detail",
          "instance"
        ]
      },
      "WidgetStyle": {
        "type": "object",
        "properties": {
          "position": {
            "type": "string",
            "description": "Widget position on the page",
            "example": "bottom-right"
          },
          "theme": {
            "type": "string",
            "description": "Widget color theme",
            "example": "light"
          },
          "ctaText": {
            "type": "string",
            "description": "Call-to-action button text",
            "example": "Talk to an agent"
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true,
            "description": "Avatar image URL (null for default gradient)",
            "example": null
          },
          "widgetName": {
            "type": "string",
            "description": "Widget display name",
            "example": "Agent"
          },
          "widgetDescription": {
            "type": "string",
            "description": "Widget description text",
            "example": "Your AI assistant"
          },
          "showBranding": {
            "type": "boolean",
            "description": "Whether to show branding",
            "example": false
          },
          "brandingText": {
            "type": "string",
            "description": "Branding text when shown",
            "example": "Powered by Unibox"
          }
        },
        "required": [
          "position",
          "theme",
          "ctaText",
          "avatarUrl",
          "widgetName",
          "widgetDescription",
          "showBranding",
          "brandingText"
        ]
      },
      "WidgetConfigResponse": {
        "type": "object",
        "properties": {
          "agentId": {
            "type": "string",
            "format": "uuid",
            "description": "Agent identifier",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "widgetMode": {
            "type": "string",
            "description": "Widget mode (voice, chat, both)",
            "example": "voice"
          },
          "chatUrl": {
            "type": "string",
            "nullable": true,
            "description": "Chat service URL (null when chat not configured)",
            "example": null
          },
          "widget": {
            "$ref": "#/components/schemas/WidgetStyle"
          },
          "assistant": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Full Vapi-compatible assistant configuration object produced by buildVapiAssistantConfig()",
            "example": {
              "transcriber": {
                "provider": "deepgram",
                "model": "nova-3",
                "language": "multi"
              },
              "model": {
                "provider": "openai",
                "model": "gpt-4o",
                "messages": [
                  {
                    "role": "system",
                    "content": "..."
                  }
                ]
              },
              "voice": {
                "provider": "openai",
                "voiceId": "alloy"
              },
              "firstMessage": "Hello, how can I help you today?"
            }
          }
        },
        "required": [
          "agentId",
          "widgetMode",
          "chatUrl",
          "widget",
          "assistant"
        ]
      },
      "WidgetImpressionRequest": {
        "type": "object",
        "properties": {
          "pageUrl": {
            "type": "string",
            "maxLength": 2048,
            "format": "uri",
            "description": "Page URL where the widget loaded",
            "example": "https://example.com/contact"
          },
          "sessionId": {
            "type": "string",
            "maxLength": 128,
            "description": "Client-generated session ID",
            "example": "sess_abc123"
          }
        }
      },
      "BrandingResponse": {
        "type": "object",
        "properties": {
          "brandName": {
            "type": "string",
            "description": "Brand display name",
            "example": "Nedzo"
          },
          "logoUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Logo image URL (null for default)",
            "example": "https://v2.nedzo.ai/favicon.png"
          },
          "brandColor": {
            "type": "string",
            "description": "Brand primary color (hex)",
            "example": "#3b82f6"
          },
          "faviconUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Favicon URL (null for default)",
            "example": "https://v2.nedzo.ai/favicon.png"
          }
        },
        "required": [
          "brandName",
          "logoUrl",
          "brandColor",
          "faviconUrl"
        ]
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique workspace identifier",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "Account ID that owns this workspace",
            "example": "789e4567-e89b-12d3-a456-426614174000"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Workspace name",
            "example": "My Workspace"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000,
            "description": "Optional workspace description",
            "example": "Main workspace for customer campaigns"
          },
          "timezone": {
            "type": "string",
            "description": "Workspace timezone (IANA format)",
            "example": "America/New_York"
          },
          "icon": {
            "type": "string",
            "nullable": true,
            "description": "Workspace icon URL or identifier",
            "example": "https://example.com/icon.png"
          },
          "contactName": {
            "type": "string",
            "nullable": true,
            "description": "Contact name for workspace",
            "example": "John Doe"
          },
          "contactEmail": {
            "type": "string",
            "nullable": true,
            "format": "email",
            "description": "Contact email for workspace",
            "example": "contact@example.com"
          },
          "contactPhone": {
            "type": "string",
            "nullable": true,
            "description": "Contact phone for workspace",
            "example": "+1234567890"
          },
          "streetAddress": {
            "type": "string",
            "nullable": true,
            "description": "Street address for workspace",
            "example": "123 Main St"
          },
          "state": {
            "type": "string",
            "nullable": true,
            "description": "State/province for workspace",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "nullable": true,
            "description": "ZIP/postal code for workspace",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "nullable": true,
            "description": "Country for workspace",
            "example": "US"
          },
          "businessRegistrationNumber": {
            "type": "string",
            "nullable": true,
            "description": "Business registration number (EIN, VAT, etc.)",
            "example": "12-3456789"
          },
          "balance": {
            "type": "number",
            "description": "Workspace balance in cents",
            "example": 0
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Workspace creation timestamp",
            "example": "2025-12-11T12:00:00Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Workspace last update timestamp",
            "example": "2025-12-11T12:00:00Z"
          }
        },
        "required": [
          "id",
          "accountId",
          "name",
          "description",
          "timezone",
          "icon",
          "contactName",
          "contactEmail",
          "contactPhone",
          "streetAddress",
          "state",
          "zip",
          "country",
          "businessRegistrationNumber",
          "balance",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateWorkspace": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Workspace name (required)",
            "example": "My New Workspace"
          },
          "description": {
            "type": "string",
            "maxLength": 1000,
            "description": "Optional workspace description",
            "example": "Workspace for Q1 campaigns"
          },
          "timezone": {
            "type": "string",
            "description": "Workspace timezone (IANA format). Defaults to UTC.",
            "example": "America/Los_Angeles"
          },
          "icon": {
            "type": "string",
            "description": "Workspace icon URL or identifier",
            "example": "https://example.com/icon.png"
          },
          "contactName": {
            "type": "string",
            "description": "Contact name for workspace",
            "example": "John Doe"
          },
          "contactEmail": {
            "type": "string",
            "format": "email",
            "description": "Contact email for workspace",
            "example": "admin@example.com"
          },
          "contactPhone": {
            "type": "string",
            "description": "Contact phone for workspace",
            "example": "+1987654321"
          },
          "streetAddress": {
            "type": "string",
            "description": "Street address for workspace",
            "example": "123 Main St"
          },
          "state": {
            "type": "string",
            "description": "State/province for workspace",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "description": "ZIP/postal code for workspace",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "description": "Country for workspace",
            "example": "US"
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "Business registration number (EIN, VAT, etc.)",
            "example": "12-3456789"
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateWorkspace": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Workspace name",
            "example": "Updated Workspace Name"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000,
            "description": "Workspace description (can be set to null)",
            "example": "Updated description"
          },
          "timezone": {
            "type": "string",
            "description": "Workspace timezone (IANA format)",
            "example": "Europe/London"
          },
          "icon": {
            "type": "string",
            "nullable": true,
            "description": "Workspace icon URL or identifier (can be set to null)",
            "example": "https://example.com/icon.png"
          },
          "contactName": {
            "type": "string",
            "nullable": true,
            "description": "Contact name (can be set to null)",
            "example": "John Doe"
          },
          "contactEmail": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "nullable": true
              },
              {
                "nullable": true
              }
            ],
            "description": "Contact email (can be set to null)",
            "example": "newemail@example.com"
          },
          "contactPhone": {
            "type": "string",
            "nullable": true,
            "description": "Contact phone (can be set to null)",
            "example": "+44123456789"
          },
          "streetAddress": {
            "type": "string",
            "nullable": true,
            "description": "Street address (can be set to null)",
            "example": "123 Main St"
          },
          "state": {
            "type": "string",
            "nullable": true,
            "description": "State/province (can be set to null)",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "nullable": true,
            "description": "ZIP/postal code (can be set to null)",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "nullable": true,
            "description": "Country (can be set to null)",
            "example": "US"
          },
          "businessRegistrationNumber": {
            "type": "string",
            "nullable": true,
            "description": "Business registration number (can be set to null)",
            "example": "12-3456789"
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique agent identifier",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Agent name",
            "example": "Customer Support Agent"
          },
          "agentType": {
            "type": "string",
            "enum": [
              "Inbound Voice",
              "Outbound Voice",
              "Chat",
              "Widget"
            ],
            "description": "Type of agent (Inbound Voice, Outbound Voice, Chat, Widget)",
            "example": "Inbound Voice"
          },
          "prompt": {
            "type": "string",
            "nullable": true,
            "description": "System prompt for the agent",
            "example": "You are a helpful customer support agent."
          },
          "voiceId": {
            "type": "string",
            "nullable": true,
            "description": "Voice provider ID for text-to-speech",
            "example": "voice_abc123"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the agent is active and can receive calls",
            "example": true
          },
          "backgroundSound": {
            "type": "boolean",
            "description": "Enable background sound during calls",
            "example": true
          },
          "openingLine": {
            "type": "string",
            "nullable": true,
            "description": "First message the agent speaks when a call starts",
            "example": "Hello, how can I help you today?"
          },
          "language": {
            "type": "string",
            "enum": [
              "english",
              "spanish",
              "french",
              "german",
              "portuguese",
              "dutch",
              "chinese",
              "japanese"
            ],
            "description": "Agent language",
            "example": "english"
          },
          "voicemail": {
            "type": "boolean",
            "description": "Enable voicemail detection",
            "example": false
          },
          "voicemailMessage": {
            "type": "string",
            "nullable": true,
            "description": "Message to leave when voicemail is detected",
            "example": "Please call us back at your earliest convenience."
          },
          "hipaaCompliance": {
            "type": "boolean",
            "description": "HIPAA compliance mode (Enterprise only). When enabled, no logs, recordings, or transcriptions are stored.",
            "example": false
          },
          "callDuration": {
            "type": "integer",
            "minimum": 1,
            "maximum": 60,
            "description": "Maximum call duration in minutes (1-60)",
            "example": 30
          },
          "speed": {
            "type": "number",
            "minimum": 0.5,
            "maximum": 1.5,
            "description": "Voice speed multiplier (0.5-1.5)",
            "example": 1
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Agent creation timestamp",
            "example": "2025-12-11T12:00:00Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Agent last update timestamp",
            "example": "2025-12-11T12:00:00Z"
          }
        },
        "required": [
          "id",
          "name",
          "agentType",
          "prompt",
          "voiceId",
          "isActive",
          "backgroundSound",
          "openingLine",
          "language",
          "voicemail",
          "voicemailMessage",
          "hipaaCompliance",
          "callDuration",
          "speed",
          "createdAt",
          "updatedAt"
        ]
      },
      "WorkspaceAgentsGroup": {
        "type": "object",
        "properties": {
          "workspaceId": {
            "type": "string",
            "format": "uuid",
            "description": "Workspace ID",
            "example": "789e4567-e89b-12d3-a456-426614174000"
          },
          "workspaceName": {
            "type": "string",
            "description": "Workspace name",
            "example": "My Workspace"
          },
          "agents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Agent"
            },
            "description": "Agents in this workspace"
          }
        },
        "required": [
          "workspaceId",
          "workspaceName",
          "agents"
        ]
      },
      "CreateAgent": {
        "type": "object",
        "properties": {
          "workspaceId": {
            "type": "string",
            "format": "uuid",
            "description": "Workspace ID to create agent in (required for account-scoped API keys, optional for workspace-scoped keys)",
            "example": "789e4567-e89b-12d3-a456-426614174000"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Agent name (required)",
            "example": "My New Agent"
          },
          "agentType": {
            "type": "string",
            "enum": [
              "Inbound Voice",
              "Outbound Voice",
              "Chat",
              "Widget"
            ],
            "description": "Type of agent to create (required): Inbound Voice, Outbound Voice, Chat, or Widget",
            "example": "Outbound Voice"
          },
          "prompt": {
            "type": "string",
            "description": "System prompt for the agent",
            "example": "You are a helpful assistant for our e-commerce platform."
          },
          "voiceId": {
            "type": "string",
            "description": "Voice provider ID for text-to-speech",
            "example": "voice_abc123"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the agent is active (defaults to true)",
            "example": true
          },
          "backgroundSound": {
            "type": "boolean",
            "description": "Enable background sound during calls (defaults to true)",
            "example": true
          },
          "openingLine": {
            "type": "string",
            "description": "First message the agent speaks when a call starts",
            "example": "Hello, how can I help you today?"
          },
          "language": {
            "type": "string",
            "enum": [
              "english",
              "spanish",
              "french",
              "german",
              "portuguese",
              "dutch",
              "chinese",
              "japanese"
            ],
            "description": "Agent language (defaults to english)",
            "example": "english"
          },
          "voicemail": {
            "type": "boolean",
            "description": "Enable voicemail detection (defaults to false)",
            "example": false
          },
          "voicemailMessage": {
            "type": "string",
            "description": "Message to leave when voicemail is detected",
            "example": "Please call us back at your earliest convenience."
          },
          "hipaaCompliance": {
            "type": "boolean",
            "description": "Enable HIPAA compliance mode (defaults to false). When enabled, no logs, recordings, or transcriptions will be stored.",
            "example": false
          },
          "callDuration": {
            "type": "integer",
            "minimum": 1,
            "maximum": 60,
            "description": "Maximum call duration in minutes (1-60, defaults to 30)",
            "example": 30
          },
          "speed": {
            "type": "number",
            "minimum": 0.5,
            "maximum": 1.5,
            "description": "Voice speed multiplier (0.5-1.5, defaults to 1.0)",
            "example": 1
          }
        },
        "required": [
          "name",
          "agentType"
        ]
      },
      "UpdateAgent": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Agent name",
            "example": "Updated Agent Name"
          },
          "prompt": {
            "type": "string",
            "nullable": true,
            "description": "System prompt (can be set to null)",
            "example": "Updated system prompt..."
          },
          "voiceId": {
            "type": "string",
            "nullable": true,
            "description": "Voice provider ID for text-to-speech (can be set to null)",
            "example": "voice_abc123"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the agent is active",
            "example": true
          },
          "backgroundSound": {
            "type": "boolean",
            "description": "Enable background sound during calls",
            "example": true
          },
          "openingLine": {
            "type": "string",
            "nullable": true,
            "description": "First message the agent speaks when a call starts (can be set to null)",
            "example": "Hello, how can I help you today?"
          },
          "language": {
            "type": "string",
            "nullable": true,
            "enum": [
              "english",
              "spanish",
              "french",
              "german",
              "portuguese",
              "dutch",
              "chinese",
              "japanese"
            ],
            "description": "Agent language (can be set to null)",
            "example": "spanish"
          },
          "voicemail": {
            "type": "boolean",
            "description": "Enable voicemail detection",
            "example": false
          },
          "voicemailMessage": {
            "type": "string",
            "nullable": true,
            "description": "Message to leave when voicemail is detected (can be set to null)",
            "example": "Please call us back at your earliest convenience."
          },
          "hipaaCompliance": {
            "type": "boolean",
            "description": "Enable HIPAA compliance mode. When enabled, no logs, recordings, or transcriptions will be stored.",
            "example": false
          },
          "callDuration": {
            "type": "integer",
            "minimum": 1,
            "maximum": 60,
            "description": "Maximum call duration in minutes (1-60)",
            "example": 30
          },
          "speed": {
            "type": "number",
            "minimum": 0.5,
            "maximum": 1.5,
            "description": "Voice speed multiplier (0.5-1.5)",
            "example": 1
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique contact identifier",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "workspaceId": {
            "type": "string",
            "format": "uuid",
            "description": "Workspace ID that owns this contact",
            "example": "789e4567-e89b-12d3-a456-426614174000"
          },
          "firstName": {
            "type": "string",
            "nullable": true,
            "description": "Contact first name",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "nullable": true,
            "description": "Contact last name",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "format": "email",
            "description": "Contact email address",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "Contact phone number",
            "example": "+1-555-123-4567"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Contact creation timestamp",
            "example": "2025-12-11T12:00:00Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Contact last update timestamp",
            "example": "2025-12-11T12:00:00Z"
          }
        },
        "required": [
          "id",
          "workspaceId",
          "firstName",
          "lastName",
          "email",
          "phone",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateContact": {
        "type": "object",
        "properties": {
          "workspaceId": {
            "type": "string",
            "format": "uuid",
            "description": "Workspace ID to create contact in (required for account-scoped API keys, optional for workspace-scoped keys)",
            "example": "789e4567-e89b-12d3-a456-426614174000"
          },
          "firstName": {
            "type": "string",
            "maxLength": 255,
            "description": "Contact first name",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "maxLength": 255,
            "description": "Contact last name",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Contact email address",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "maxLength": 50,
            "description": "Contact phone number",
            "example": "+1-555-123-4567"
          }
        }
      },
      "UpsertContact": {
        "type": "object",
        "properties": {
          "workspaceId": {
            "type": "string",
            "format": "uuid",
            "description": "Workspace ID to upsert contact in (required for account-scoped API keys, optional for workspace-scoped keys)",
            "example": "789e4567-e89b-12d3-a456-426614174000"
          },
          "firstName": {
            "type": "string",
            "maxLength": 255,
            "description": "Contact first name",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "maxLength": 255,
            "description": "Contact last name",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Contact email address (used for matching if phone not provided)",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "maxLength": 50,
            "description": "Contact phone number (primary matching field)",
            "example": "+1-555-123-4567"
          }
        }
      },
      "UpdateContact": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Contact first name (can be set to null)",
            "example": "Jane"
          },
          "lastName": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Contact last name (can be set to null)",
            "example": "Smith"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "format": "email",
            "description": "Contact email (can be set to null)",
            "example": "jane.smith@example.com"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "maxLength": 50,
            "description": "Contact phone (can be set to null)",
            "example": "+1-555-987-6543"
          }
        }
      },
      "CallResponse": {
        "type": "object",
        "properties": {
          "conversationId": {
            "type": "string",
            "format": "uuid",
            "description": "Conversation identifier for tracking. Use this ID to query call status and results.",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        },
        "required": [
          "conversationId"
        ]
      },
      "CreateCallRequest": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "agentId": {
                "type": "string",
                "format": "uuid",
                "description": "UUID of the agent to use for the call (required)",
                "example": "123e4567-e89b-12d3-a456-426614174000"
              },
              "variables": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "Custom variables to pass to the assistant. These override contact field values.",
                "example": {
                  "customerName": "John Doe",
                  "appointmentTime": "3pm"
                }
              },
              "type": {
                "type": "string",
                "enum": [
                  "contact"
                ],
                "description": "Call type - \"contact\" to call a contact by ID",
                "example": "contact"
              },
              "contactId": {
                "type": "string",
                "format": "uuid",
                "description": "UUID of the contact to call",
                "example": "456e4567-e89b-12d3-a456-426614174000"
              }
            },
            "required": [
              "agentId",
              "type",
              "contactId"
            ]
          },
          {
            "type": "object",
            "properties": {
              "agentId": {
                "type": "string",
                "format": "uuid",
                "description": "UUID of the agent to use for the call (required)",
                "example": "123e4567-e89b-12d3-a456-426614174000"
              },
              "variables": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "Custom variables to pass to the assistant. These override contact field values.",
                "example": {
                  "customerName": "John Doe",
                  "appointmentTime": "3pm"
                }
              },
              "type": {
                "type": "string",
                "enum": [
                  "phoneNumber"
                ],
                "description": "Call type - \"phoneNumber\" to call a phone number directly",
                "example": "phoneNumber"
              },
              "phoneNumber": {
                "type": "string",
                "pattern": "^\\+[1-9]\\d{1,14}$",
                "description": "Phone number to call in E.164 format",
                "example": "+14155551234"
              },
              "firstName": {
                "type": "string",
                "maxLength": 255,
                "description": "First name of the contact",
                "example": "John"
              },
              "lastName": {
                "type": "string",
                "maxLength": 255,
                "description": "Last name of the contact",
                "example": "Doe"
              },
              "email": {
                "type": "string",
                "format": "email",
                "description": "Email address of the contact",
                "example": "john@example.com"
              },
              "businessName": {
                "type": "string",
                "maxLength": 255,
                "description": "Business/company name of the contact",
                "example": "Acme Inc"
              },
              "customFields": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "Custom field values by field name. Field names must match existing custom field definitions.",
                "example": {
                  "Lead Source": "Website",
                  "Industry": "Technology"
                }
              }
            },
            "required": [
              "agentId",
              "type",
              "phoneNumber"
            ]
          }
        ]
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique account identifier",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "name": {
            "type": "string",
            "description": "Account name",
            "example": "Acme Corp"
          },
          "subscriptionStatus": {
            "type": "string",
            "enum": [
              "trialing",
              "active",
              "past_due",
              "canceled",
              "unpaid"
            ],
            "description": "Current subscription status",
            "example": "active"
          },
          "subscriptionPlan": {
            "type": "string",
            "nullable": true,
            "enum": [
              "trial",
              "business",
              "agency",
              "enterprise"
            ],
            "description": "Current subscription plan",
            "example": "business"
          },
          "subscriptionEndsAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Subscription end timestamp (ISO 8601)",
            "example": "2025-12-31T23:59:59Z"
          },
          "trialStatus": {
            "type": "string",
            "nullable": true,
            "enum": [
              "active_trial",
              "trial_ended",
              "converted",
              "churned_before_trial_end"
            ],
            "description": "Current trial status",
            "example": "active_trial"
          },
          "stripeCustomerId": {
            "type": "string",
            "nullable": true,
            "description": "Stripe customer ID",
            "example": "cus_1234567890"
          },
          "stripeSubscriptionId": {
            "type": "string",
            "nullable": true,
            "description": "Stripe subscription ID",
            "example": "sub_1234567890"
          },
          "stripeProductId": {
            "type": "string",
            "nullable": true,
            "description": "Stripe product ID",
            "example": "prod_1234567890"
          },
          "stripePriceId": {
            "type": "string",
            "nullable": true,
            "description": "Stripe price ID",
            "example": "price_1234567890"
          },
          "stripeCancelAtPeriodEnd": {
            "type": "boolean",
            "description": "Whether subscription cancels at period end",
            "example": false
          },
          "stripeConnectAccountId": {
            "type": "string",
            "nullable": true,
            "description": "Stripe Connect account ID",
            "example": "acct_1234567890"
          },
          "stripeConnectOnboardingComplete": {
            "type": "boolean",
            "description": "Whether Stripe Connect onboarding is complete",
            "example": true
          },
          "stripeConnectChargesEnabled": {
            "type": "boolean",
            "description": "Whether Stripe Connect charges are enabled",
            "example": true
          },
          "stripeConnectPayoutsEnabled": {
            "type": "boolean",
            "description": "Whether Stripe Connect payouts are enabled",
            "example": true
          },
          "stripeConnectDefaultCurrency": {
            "type": "string",
            "nullable": true,
            "enum": [
              "usd",
              "eur",
              "gbp",
              "cad",
              "aud",
              "jpy",
              "chf",
              "nzd",
              "sgd",
              "hkd",
              "mxn",
              "brl"
            ],
            "description": "Stripe Connect default currency (ISO 4217 lowercase)",
            "example": "usd"
          },
          "toltPartner": {
            "type": "string",
            "nullable": true,
            "description": "Tolt partner identifier",
            "example": "partner_abc123"
          },
          "toltReferral": {
            "type": "string",
            "nullable": true,
            "description": "Tolt referral identifier",
            "example": "ref_xyz789"
          },
          "toltPartnerId": {
            "type": "string",
            "nullable": true,
            "description": "Tolt affiliate partner ID for commission tracking",
            "example": "partner_abc123"
          },
          "toltClickId": {
            "type": "string",
            "nullable": true,
            "description": "Tolt click ID for attribution",
            "example": "click_xyz789"
          },
          "toltProgramId": {
            "type": "string",
            "nullable": true,
            "description": "Tolt program ID",
            "example": "program_default"
          },
          "whiteLabelActive": {
            "type": "boolean",
            "description": "Whether white labeling is active",
            "example": false
          },
          "whiteLabelName": {
            "type": "string",
            "nullable": true,
            "description": "White label brand name",
            "example": "Custom Brand"
          },
          "whiteLabelIcon": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "White label icon URL (must be valid URL)",
            "example": "https://example.com/icon.png"
          },
          "whiteLabelUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "White label URL (must be valid URL)",
            "example": "https://custom.example.com"
          },
          "whiteLabelApiDomain": {
            "type": "string",
            "nullable": true,
            "description": "White label API domain",
            "example": "api.custom.example.com"
          },
          "whiteLabelDomainVerified": {
            "type": "boolean",
            "description": "Whether app domain is verified",
            "example": false
          },
          "whiteLabelApiDomainVerified": {
            "type": "boolean",
            "description": "Whether API domain is verified",
            "example": false
          },
          "whiteLabelDefaultTheme": {
            "type": "string",
            "enum": [
              "light",
              "dark",
              "system"
            ],
            "description": "Default theme for white label (light, dark, or system)",
            "example": "system"
          },
          "whiteLabelPrivacyPolicyUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Privacy policy URL for white label",
            "example": "https://custom.example.com/privacy"
          },
          "whiteLabelTermsUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Terms of service URL for white label",
            "example": "https://custom.example.com/terms"
          },
          "whiteLabelCustomHeadJs": {
            "type": "string",
            "nullable": true,
            "description": "Custom JavaScript to inject in head",
            "example": "<!-- analytics -->"
          },
          "whiteLabelCustomBodyJs": {
            "type": "string",
            "nullable": true,
            "description": "Custom JavaScript to inject in body",
            "example": "<!-- tracking -->"
          },
          "telnyxAccountId": {
            "type": "string",
            "nullable": true,
            "description": "Telnyx Managed Account ID for scoped telephony operations",
            "example": "1234567890"
          },
          "industry": {
            "type": "string",
            "nullable": true,
            "description": "Business industry/sector",
            "example": "Real Estate"
          },
          "onboardingCompleted": {
            "type": "boolean",
            "description": "Whether the account owner has completed onboarding",
            "example": true
          },
          "tosAcceptedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Terms of service acceptance timestamp (ISO 8601)",
            "example": "2025-12-11T12:00:00Z"
          },
          "tosAcceptedBy": {
            "type": "string",
            "nullable": true,
            "description": "Email of user who accepted terms",
            "example": "user@example.com"
          },
          "attributionSource": {
            "type": "string",
            "nullable": true,
            "description": "Comma-separated list of attribution sources",
            "example": "Google/search engine, Friend or family"
          },
          "useCase": {
            "type": "string",
            "nullable": true,
            "description": "Description of what the user will use Nedzo for",
            "example": "Automating appointment scheduling"
          },
          "deletedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Soft delete timestamp (ISO 8601)",
            "example": null
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Account creation timestamp (ISO 8601)",
            "example": "2025-12-11T12:00:00Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Account last update timestamp (ISO 8601)",
            "example": "2025-12-11T12:00:00Z"
          }
        },
        "required": [
          "id",
          "name",
          "subscriptionStatus",
          "subscriptionPlan",
          "subscriptionEndsAt",
          "trialStatus",
          "stripeCustomerId",
          "stripeSubscriptionId",
          "stripeProductId",
          "stripePriceId",
          "stripeCancelAtPeriodEnd",
          "stripeConnectAccountId",
          "stripeConnectOnboardingComplete",
          "stripeConnectChargesEnabled",
          "stripeConnectPayoutsEnabled",
          "stripeConnectDefaultCurrency",
          "toltPartner",
          "toltReferral",
          "toltPartnerId",
          "toltClickId",
          "toltProgramId",
          "whiteLabelActive",
          "whiteLabelName",
          "whiteLabelIcon",
          "whiteLabelUrl",
          "whiteLabelApiDomain",
          "whiteLabelDomainVerified",
          "whiteLabelApiDomainVerified",
          "whiteLabelDefaultTheme",
          "whiteLabelPrivacyPolicyUrl",
          "whiteLabelTermsUrl",
          "whiteLabelCustomHeadJs",
          "whiteLabelCustomBodyJs",
          "telnyxAccountId",
          "industry",
          "onboardingCompleted",
          "tosAcceptedAt",
          "tosAcceptedBy",
          "attributionSource",
          "useCase",
          "deletedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateAccount": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Account name (required, whitespace trimmed)",
            "example": "Acme Corp"
          },
          "subscriptionStatus": {
            "type": "string",
            "enum": [
              "trialing",
              "active",
              "past_due",
              "canceled",
              "unpaid"
            ],
            "description": "Initial subscription status (defaults to trialing)",
            "example": "trialing"
          },
          "subscriptionPlan": {
            "type": "string",
            "nullable": true,
            "enum": [
              "trial",
              "business",
              "agency",
              "enterprise"
            ],
            "description": "Initial subscription plan",
            "example": "business"
          },
          "subscriptionEndsAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Subscription end timestamp (ISO 8601)",
            "example": "2025-12-31T23:59:59Z"
          },
          "trialStatus": {
            "type": "string",
            "nullable": true,
            "enum": [
              "active_trial",
              "trial_ended",
              "converted",
              "churned_before_trial_end"
            ],
            "description": "Initial trial status",
            "example": "active_trial"
          },
          "stripeCustomerId": {
            "type": "string",
            "nullable": true,
            "description": "Stripe customer ID",
            "example": "cus_1234567890"
          },
          "stripeSubscriptionId": {
            "type": "string",
            "nullable": true,
            "description": "Stripe subscription ID",
            "example": "sub_1234567890"
          },
          "stripeProductId": {
            "type": "string",
            "nullable": true,
            "description": "Stripe product ID",
            "example": "prod_1234567890"
          },
          "stripePriceId": {
            "type": "string",
            "nullable": true,
            "description": "Stripe price ID",
            "example": "price_1234567890"
          },
          "stripeCancelAtPeriodEnd": {
            "type": "boolean",
            "description": "Whether subscription cancels at period end",
            "example": false
          },
          "stripeConnectAccountId": {
            "type": "string",
            "nullable": true,
            "description": "Stripe Connect account ID",
            "example": "acct_1234567890"
          },
          "stripeConnectOnboardingComplete": {
            "type": "boolean",
            "description": "Whether Stripe Connect onboarding is complete",
            "example": false
          },
          "stripeConnectChargesEnabled": {
            "type": "boolean",
            "description": "Whether Stripe Connect charges are enabled",
            "example": false
          },
          "stripeConnectPayoutsEnabled": {
            "type": "boolean",
            "description": "Whether Stripe Connect payouts are enabled",
            "example": false
          },
          "stripeConnectDefaultCurrency": {
            "type": "string",
            "nullable": true,
            "enum": [
              "usd",
              "eur",
              "gbp",
              "cad",
              "aud",
              "jpy",
              "chf",
              "nzd",
              "sgd",
              "hkd",
              "mxn",
              "brl"
            ],
            "description": "Stripe Connect default currency (ISO 4217 lowercase)",
            "example": "usd"
          },
          "toltPartner": {
            "type": "string",
            "nullable": true,
            "description": "Tolt partner identifier",
            "example": "partner_abc123"
          },
          "toltReferral": {
            "type": "string",
            "nullable": true,
            "description": "Tolt referral identifier",
            "example": "ref_xyz789"
          },
          "toltPartnerId": {
            "type": "string",
            "nullable": true,
            "description": "Tolt affiliate partner ID for commission tracking",
            "example": "partner_abc123"
          },
          "toltClickId": {
            "type": "string",
            "nullable": true,
            "description": "Tolt click ID for attribution",
            "example": "click_xyz789"
          },
          "toltProgramId": {
            "type": "string",
            "nullable": true,
            "description": "Tolt program ID",
            "example": "program_default"
          },
          "whiteLabelActive": {
            "type": "boolean",
            "description": "Whether white labeling is active",
            "example": false
          },
          "whiteLabelName": {
            "type": "string",
            "nullable": true,
            "description": "White label brand name",
            "example": "Custom Brand"
          },
          "whiteLabelIcon": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "White label icon URL (must be valid URL)",
            "example": "https://example.com/icon.png"
          },
          "whiteLabelUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "White label URL (must be valid URL)",
            "example": "https://custom.example.com"
          },
          "whiteLabelApiDomain": {
            "type": "string",
            "nullable": true,
            "description": "White label API domain",
            "example": "api.custom.example.com"
          },
          "whiteLabelDomainVerified": {
            "type": "boolean",
            "description": "Whether app domain is verified",
            "example": false
          },
          "whiteLabelApiDomainVerified": {
            "type": "boolean",
            "description": "Whether API domain is verified",
            "example": false
          },
          "whiteLabelDefaultTheme": {
            "type": "string",
            "enum": [
              "light",
              "dark",
              "system"
            ],
            "description": "Default theme for white label (light, dark, or system)",
            "example": "system"
          },
          "whiteLabelPrivacyPolicyUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Privacy policy URL for white label",
            "example": "https://custom.example.com/privacy"
          },
          "whiteLabelTermsUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Terms of service URL for white label",
            "example": "https://custom.example.com/terms"
          },
          "whiteLabelCustomHeadJs": {
            "type": "string",
            "nullable": true,
            "description": "Custom JavaScript to inject in head",
            "example": "<!-- analytics -->"
          },
          "whiteLabelCustomBodyJs": {
            "type": "string",
            "nullable": true,
            "description": "Custom JavaScript to inject in body",
            "example": "<!-- tracking -->"
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateAccount": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Account name (whitespace trimmed)",
            "example": "Updated Acme Corp"
          },
          "subscriptionStatus": {
            "type": "string",
            "enum": [
              "trialing",
              "active",
              "past_due",
              "canceled",
              "unpaid"
            ],
            "description": "Subscription status",
            "example": "active"
          },
          "subscriptionPlan": {
            "type": "string",
            "nullable": true,
            "enum": [
              "trial",
              "business",
              "agency",
              "enterprise"
            ],
            "description": "Subscription plan",
            "example": "agency"
          },
          "subscriptionEndsAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Subscription end timestamp (ISO 8601)",
            "example": "2025-12-31T23:59:59Z"
          },
          "trialStatus": {
            "type": "string",
            "nullable": true,
            "enum": [
              "active_trial",
              "trial_ended",
              "converted",
              "churned_before_trial_end"
            ],
            "description": "Trial status",
            "example": "converted"
          },
          "stripeCustomerId": {
            "type": "string",
            "nullable": true,
            "description": "Stripe customer ID",
            "example": "cus_1234567890"
          },
          "stripeSubscriptionId": {
            "type": "string",
            "nullable": true,
            "description": "Stripe subscription ID",
            "example": "sub_1234567890"
          },
          "stripeProductId": {
            "type": "string",
            "nullable": true,
            "description": "Stripe product ID",
            "example": "prod_1234567890"
          },
          "stripePriceId": {
            "type": "string",
            "nullable": true,
            "description": "Stripe price ID",
            "example": "price_1234567890"
          },
          "stripeCancelAtPeriodEnd": {
            "type": "boolean",
            "description": "Whether subscription cancels at period end",
            "example": false
          },
          "stripeConnectAccountId": {
            "type": "string",
            "nullable": true,
            "description": "Stripe Connect account ID",
            "example": "acct_1234567890"
          },
          "stripeConnectOnboardingComplete": {
            "type": "boolean",
            "description": "Whether Stripe Connect onboarding is complete",
            "example": true
          },
          "stripeConnectChargesEnabled": {
            "type": "boolean",
            "description": "Whether Stripe Connect charges are enabled",
            "example": true
          },
          "stripeConnectPayoutsEnabled": {
            "type": "boolean",
            "description": "Whether Stripe Connect payouts are enabled",
            "example": true
          },
          "stripeConnectDefaultCurrency": {
            "type": "string",
            "nullable": true,
            "enum": [
              "usd",
              "eur",
              "gbp",
              "cad",
              "aud",
              "jpy",
              "chf",
              "nzd",
              "sgd",
              "hkd",
              "mxn",
              "brl"
            ],
            "description": "Stripe Connect default currency (ISO 4217 lowercase)",
            "example": "usd"
          },
          "toltPartner": {
            "type": "string",
            "nullable": true,
            "description": "Tolt partner identifier",
            "example": "partner_abc123"
          },
          "toltReferral": {
            "type": "string",
            "nullable": true,
            "description": "Tolt referral identifier",
            "example": "ref_xyz789"
          },
          "toltPartnerId": {
            "type": "string",
            "nullable": true,
            "description": "Tolt affiliate partner ID for commission tracking",
            "example": "partner_abc123"
          },
          "toltClickId": {
            "type": "string",
            "nullable": true,
            "description": "Tolt click ID for attribution",
            "example": "click_xyz789"
          },
          "toltProgramId": {
            "type": "string",
            "nullable": true,
            "description": "Tolt program ID",
            "example": "program_default"
          },
          "whiteLabelActive": {
            "type": "boolean",
            "description": "Whether white labeling is active",
            "example": true
          },
          "whiteLabelName": {
            "type": "string",
            "nullable": true,
            "description": "White label brand name",
            "example": "Custom Brand"
          },
          "whiteLabelIcon": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "White label icon URL (must be valid URL)",
            "example": "https://example.com/icon.png"
          },
          "whiteLabelUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "White label URL (must be valid URL)",
            "example": "https://custom.example.com"
          },
          "whiteLabelApiDomain": {
            "type": "string",
            "nullable": true,
            "description": "White label API domain",
            "example": "api.custom.example.com"
          },
          "whiteLabelDomainVerified": {
            "type": "boolean",
            "description": "Whether app domain is verified",
            "example": false
          },
          "whiteLabelApiDomainVerified": {
            "type": "boolean",
            "description": "Whether API domain is verified",
            "example": false
          },
          "whiteLabelDefaultTheme": {
            "type": "string",
            "enum": [
              "light",
              "dark",
              "system"
            ],
            "description": "Default theme for white label (light, dark, or system)",
            "example": "system"
          },
          "whiteLabelPrivacyPolicyUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Privacy policy URL for white label",
            "example": "https://custom.example.com/privacy"
          },
          "whiteLabelTermsUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Terms of service URL for white label",
            "example": "https://custom.example.com/terms"
          },
          "whiteLabelCustomHeadJs": {
            "type": "string",
            "nullable": true,
            "description": "Custom JavaScript to inject in head",
            "example": "<!-- analytics -->"
          },
          "whiteLabelCustomBodyJs": {
            "type": "string",
            "nullable": true,
            "description": "Custom JavaScript to inject in body",
            "example": "<!-- tracking -->"
          },
          "industry": {
            "type": "string",
            "nullable": true,
            "description": "Business industry/sector",
            "example": "Healthcare"
          },
          "onboardingCompleted": {
            "type": "boolean",
            "description": "Whether the account owner has completed onboarding",
            "example": true
          },
          "tosAcceptedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Terms of service acceptance timestamp (ISO 8601)",
            "example": "2025-12-11T12:00:00Z"
          },
          "tosAcceptedBy": {
            "type": "string",
            "nullable": true,
            "description": "Email of user who accepted terms",
            "example": "user@example.com"
          },
          "attributionSource": {
            "type": "string",
            "nullable": true,
            "description": "Comma-separated list of attribution sources",
            "example": "Social media, Event"
          },
          "useCase": {
            "type": "string",
            "nullable": true,
            "description": "Description of what the user will use Nedzo for",
            "example": "Lead follow-up automation"
          }
        }
      },
      "TrialStatusResponse": {
        "type": "object",
        "properties": {
          "isTrialing": {
            "type": "boolean",
            "description": "Whether the account is currently in trial status",
            "example": true
          },
          "trialEndsAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "ISO 8601 timestamp when trial ends (null if not trialing or never had trial)",
            "example": "2026-01-23T10:30:00.000Z"
          },
          "trialDaysRemaining": {
            "type": "integer",
            "nullable": true,
            "description": "Number of days remaining in trial (null if not trialing). Minimum 0 for expired trials.",
            "example": 5
          },
          "subscriptionStatus": {
            "type": "string",
            "enum": [
              "trialing",
              "active",
              "past_due",
              "cancelled",
              "expired"
            ],
            "description": "Current subscription status",
            "example": "trialing"
          },
          "subscriptionTier": {
            "type": "string",
            "enum": [
              "none",
              "business",
              "agency",
              "enterprise"
            ],
            "description": "Current subscription tier (none = trial/no subscription)",
            "example": "none"
          }
        },
        "required": [
          "isTrialing",
          "trialEndsAt",
          "trialDaysRemaining",
          "subscriptionStatus",
          "subscriptionTier"
        ]
      },
      "DnsRecord": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "TXT",
              "CNAME",
              "MX"
            ],
            "description": "DNS record type",
            "example": "TXT"
          },
          "name": {
            "type": "string",
            "description": "Record name/host",
            "example": "notifications.customer.com"
          },
          "value": {
            "type": "string",
            "description": "Record value to set",
            "example": "v=spf1 include:mailgun.org ~all"
          },
          "valid": {
            "type": "boolean",
            "description": "Whether this record has been verified",
            "example": false
          },
          "purpose": {
            "type": "string",
            "enum": [
              "spf",
              "dkim",
              "mx",
              "dmarc"
            ],
            "description": "Purpose classification for display grouping",
            "example": "spf"
          },
          "recommended": {
            "type": "boolean",
            "description": "Whether this is a recommended (not required) record",
            "example": false
          }
        },
        "required": [
          "type",
          "name",
          "value",
          "valid",
          "purpose"
        ]
      },
      "GetEmailDomainResponse": {
        "type": "object",
        "properties": {
          "emailDomain": {
            "type": "string",
            "nullable": true,
            "description": "Configured email domain (null if not set)",
            "example": "notifications.customer.com"
          },
          "emailFromName": {
            "type": "string",
            "nullable": true,
            "description": "Sender display name",
            "example": "Customer Support"
          },
          "emailFromAddress": {
            "type": "string",
            "nullable": true,
            "description": "Local part of from email address",
            "example": "auth"
          },
          "emailActive": {
            "type": "boolean",
            "description": "Whether email sending is active",
            "example": true
          },
          "mailgunDomainVerified": {
            "type": "boolean",
            "description": "Whether Mailgun has verified DNS records",
            "example": true
          },
          "mailgunDomainVerifiedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "When domain was verified",
            "example": "2024-01-15T10:30:00Z"
          },
          "mailgunDomainLastCheckedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "When verification was last checked",
            "example": "2024-01-16T03:00:00Z"
          },
          "sendingDnsRecords": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/DnsRecord"
            },
            "description": "DNS records for sending (null if no domain configured)"
          },
          "receivingDnsRecords": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/DnsRecord"
            },
            "description": "DNS records for DKIM (null if no domain configured)"
          },
          "allDnsRecords": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/DnsRecord"
            },
            "description": "All DNS records combined and sorted by purpose (null if no domain configured)"
          }
        },
        "required": [
          "emailDomain",
          "emailFromName",
          "emailFromAddress",
          "emailActive",
          "mailgunDomainVerified",
          "mailgunDomainVerifiedAt",
          "mailgunDomainLastCheckedAt",
          "sendingDnsRecords",
          "receivingDnsRecords",
          "allDnsRecords"
        ]
      },
      "SetupEmailDomainResponse": {
        "type": "object",
        "properties": {
          "emailDomain": {
            "type": "string",
            "description": "The configured email domain",
            "example": "notifications.customer.com"
          },
          "state": {
            "type": "string",
            "enum": [
              "unverified",
              "active",
              "disabled"
            ],
            "description": "Current domain verification state",
            "example": "unverified"
          },
          "sendingDnsRecords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DnsRecord"
            },
            "description": "DNS records required for sending emails"
          },
          "receivingDnsRecords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DnsRecord"
            },
            "description": "DNS records for DKIM verification"
          },
          "allDnsRecords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DnsRecord"
            },
            "description": "All DNS records combined and sorted by purpose"
          }
        },
        "required": [
          "emailDomain",
          "state",
          "sendingDnsRecords",
          "receivingDnsRecords",
          "allDnsRecords"
        ]
      },
      "SetupEmailDomainRequest": {
        "type": "object",
        "properties": {
          "emailDomain": {
            "type": "string",
            "minLength": 3,
            "pattern": "^[a-z0-9]([a-z0-9-]*[a-z0-9])?(\\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)+$",
            "description": "Email sending subdomain (e.g., notifications.customer.com)",
            "example": "notifications.customer.com"
          },
          "emailFromName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "description": "Sender display name (optional, defaults to account name)",
            "example": "Customer Support"
          },
          "emailFromAddress": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[a-z0-9._-]+$",
            "default": "auth",
            "description": "Local part of from email address (optional, defaults to \"auth\")",
            "example": "noreply"
          }
        },
        "required": [
          "emailDomain"
        ]
      },
      "VerifyEmailDomainResponse": {
        "type": "object",
        "properties": {
          "verified": {
            "type": "boolean",
            "description": "Whether the domain is fully verified",
            "example": true
          },
          "state": {
            "type": "string",
            "enum": [
              "unverified",
              "active",
              "disabled"
            ],
            "description": "Current domain state",
            "example": "active"
          },
          "emailActive": {
            "type": "boolean",
            "description": "Whether email sending is now active",
            "example": true
          },
          "sendingDnsRecords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DnsRecord"
            },
            "description": "Updated DNS record verification status"
          },
          "receivingDnsRecords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DnsRecord"
            },
            "description": "Updated DKIM record verification status"
          },
          "allDnsRecords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DnsRecord"
            },
            "description": "All DNS records combined and sorted by purpose"
          },
          "lastCheckedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When verification was checked",
            "example": "2024-01-15T10:30:00Z"
          }
        },
        "required": [
          "verified",
          "state",
          "emailActive",
          "sendingDnsRecords",
          "receivingDnsRecords",
          "allDnsRecords",
          "lastCheckedAt"
        ]
      },
      "DomainInfo": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "app",
              "api"
            ],
            "description": "Type of custom domain: app for frontend, api for backend",
            "example": "app"
          },
          "domain": {
            "type": "string",
            "nullable": true,
            "description": "The configured domain, or null if not configured",
            "example": "app.acmecorp.com"
          },
          "status": {
            "type": "string",
            "enum": [
              "none",
              "pending",
              "active",
              "failed"
            ],
            "description": "Current verification status of the domain",
            "example": "active"
          },
          "sslStatus": {
            "type": "string",
            "nullable": true,
            "enum": [
              "initializing",
              "pending_validation",
              "pending_issuance",
              "pending_deployment",
              "active",
              "expired",
              "deleted"
            ],
            "description": "SSL certificate status from Cloudflare",
            "example": "active"
          },
          "cnameTarget": {
            "type": "string",
            "description": "The CNAME target the customer should point their domain to",
            "example": "customers.nedzo.ai"
          },
          "createdAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "When the domain was configured (ISO 8601)",
            "example": "2026-01-23T12:00:00Z"
          },
          "verifiedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "When the domain became active (ISO 8601)",
            "example": "2026-01-23T12:05:00Z"
          },
          "error": {
            "type": "string",
            "nullable": true,
            "description": "Error message if domain verification failed",
            "example": null
          }
        },
        "required": [
          "type",
          "domain",
          "status",
          "sslStatus",
          "cnameTarget",
          "createdAt",
          "verifiedAt",
          "error"
        ]
      },
      "GetDomainsResponse": {
        "type": "object",
        "properties": {
          "app": {
            "$ref": "#/components/schemas/DomainInfo"
          },
          "api": {
            "$ref": "#/components/schemas/DomainInfo"
          }
        },
        "required": [
          "app",
          "api"
        ]
      },
      "SetupDomainResponse": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "description": "The configured domain",
            "example": "app.acmecorp.com"
          },
          "type": {
            "type": "string",
            "enum": [
              "app",
              "api"
            ],
            "description": "Type of custom domain: app for frontend, api for backend",
            "example": "app"
          },
          "status": {
            "type": "string",
            "enum": [
              "none",
              "pending",
              "active",
              "failed"
            ],
            "description": "Current verification status of the domain",
            "example": "active"
          },
          "cnameTarget": {
            "type": "string",
            "description": "The CNAME target to configure in DNS",
            "example": "customers.nedzo.ai"
          },
          "message": {
            "type": "string",
            "description": "Instructions for the user",
            "example": "Add a CNAME record: app.acmecorp.com \u2192 customers.nedzo.ai"
          }
        },
        "required": [
          "domain",
          "type",
          "status",
          "cnameTarget",
          "message"
        ]
      },
      "SetupDomainRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "app",
              "api"
            ],
            "description": "Type of custom domain: app for frontend, api for backend",
            "example": "app"
          },
          "domain": {
            "type": "string",
            "minLength": 3,
            "maxLength": 253,
            "pattern": "^[a-z0-9]([a-z0-9-]*[a-z0-9])?(\\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)+$",
            "description": "The custom domain to configure (must be a valid subdomain)",
            "example": "app.acmecorp.com"
          }
        },
        "required": [
          "type",
          "domain"
        ]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique user identifier (references auth.users)",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "Account the user belongs to",
            "example": "123e4567-e89b-12d3-a456-426614174001"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address",
            "example": "john.doe@example.com"
          },
          "firstName": {
            "type": "string",
            "nullable": true,
            "description": "User first name",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "nullable": true,
            "description": "User last name",
            "example": "Doe"
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "User profile picture URL",
            "example": "https://example.com/avatars/john.png"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "User phone number",
            "example": "+15551234567"
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "user"
            ],
            "description": "Global role determining permissions",
            "example": "user"
          },
          "kycSessionId": {
            "type": "string",
            "nullable": true,
            "description": "KYC verification session ID",
            "example": "kyc_sess_1234567890"
          },
          "kycVerified": {
            "type": "boolean",
            "description": "Whether KYC verification is complete",
            "example": false
          },
          "notificationsAppointmentBooked": {
            "type": "boolean",
            "description": "Notification preference for appointments",
            "example": true
          },
          "deletedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Soft delete timestamp (ISO 8601)",
            "example": null
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "User creation timestamp (ISO 8601)",
            "example": "2025-12-11T12:00:00Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "User last update timestamp (ISO 8601)",
            "example": "2025-12-11T12:00:00Z"
          }
        },
        "required": [
          "id",
          "accountId",
          "email",
          "firstName",
          "lastName",
          "avatarUrl",
          "phone",
          "role",
          "kycSessionId",
          "kycVerified",
          "notificationsAppointmentBooked",
          "deletedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "User UUID (must match auth.users id)",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "Account to link the user to",
            "example": "123e4567-e89b-12d3-a456-426614174001"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address (required)",
            "example": "john.doe@example.com"
          },
          "firstName": {
            "type": "string",
            "nullable": true,
            "maxLength": 100,
            "description": "User first name",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "nullable": true,
            "maxLength": 100,
            "description": "User last name",
            "example": "Doe"
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "User profile picture URL",
            "example": "https://example.com/avatars/john.png"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "User phone number",
            "example": "+15551234567"
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "user"
            ],
            "description": "Global role (defaults to user)",
            "example": "user"
          },
          "kycSessionId": {
            "type": "string",
            "nullable": true,
            "description": "KYC verification session ID",
            "example": "kyc_sess_1234567890"
          },
          "kycVerified": {
            "type": "boolean",
            "description": "Whether KYC verification is complete",
            "example": false
          },
          "notificationsAppointmentBooked": {
            "type": "boolean",
            "description": "Notification preference for appointments",
            "example": true
          }
        },
        "required": [
          "id",
          "accountId",
          "email"
        ]
      },
      "UpdateUser": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address",
            "example": "john.updated@example.com"
          },
          "firstName": {
            "type": "string",
            "nullable": true,
            "maxLength": 100,
            "description": "User first name",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "nullable": true,
            "maxLength": 100,
            "description": "User last name",
            "example": "Doe"
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "User profile picture URL",
            "example": "https://example.com/avatars/john.png"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "User phone number",
            "example": "+15551234567"
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "user"
            ],
            "description": "Global role",
            "example": "admin"
          },
          "kycSessionId": {
            "type": "string",
            "nullable": true,
            "description": "KYC verification session ID",
            "example": "kyc_sess_1234567890"
          },
          "kycVerified": {
            "type": "boolean",
            "description": "Whether KYC verification is complete",
            "example": true
          },
          "notificationsAppointmentBooked": {
            "type": "boolean",
            "description": "Notification preference for appointments",
            "example": false
          }
        }
      },
      "ChangeEmailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the email change was initiated successfully",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Status message describing the result",
            "example": "Verification email sent to newemail@example.com"
          }
        },
        "required": [
          "success",
          "message"
        ]
      },
      "ChangeEmail": {
        "type": "object",
        "properties": {
          "email": {
[...]
