{
  "openapi": "3.0.3",
  "info": {
    "title": "HRnest API",
    "version": "2.0",
    "description": "HR management API for managing employees, absence requests, work schedules, time tracking, business travel, and more.",
    "x-jentic-source-url": "https://api.hrnest.io/docs/index.html?urls.primaryName=V2"
  },
  "servers": [
    {
      "url": "https://api.hrnest.io"
    }
  ],
  "paths": {
    "/api/v2/Company": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get company information",
        "tags": [
          "Company"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Company/Departments": {
      "get": {
        "operationId": "getDepartments",
        "summary": "List departments",
        "tags": [
          "Company"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Company/IsWorkingday": {
      "get": {
        "operationId": "isWorkingDay",
        "summary": "Check if date is working day",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Employee": {
      "get": {
        "operationId": "listEmployees",
        "summary": "List employees",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "departmentId",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "organizationName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createEmployee",
        "summary": "Create employee",
        "tags": [
          "Employees"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateEmployee",
        "summary": "Update employee",
        "tags": [
          "Employees"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteEmployee",
        "summary": "Delete employee",
        "tags": [
          "Employees"
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Employee/Search": {
      "get": {
        "operationId": "searchEmployees",
        "summary": "Search employees",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Employee/Activate": {
      "patch": {
        "operationId": "activateEmployee",
        "summary": "Activate employee",
        "tags": [
          "Employees"
        ],
        "responses": {
          "200": {
            "description": "Activated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Employee/Deactivate": {
      "patch": {
        "operationId": "deactivateEmployee",
        "summary": "Deactivate employee",
        "tags": [
          "Employees"
        ],
        "responses": {
          "200": {
            "description": "Deactivated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Employee/Absences": {
      "get": {
        "operationId": "getEmployeeAbsences",
        "summary": "Get employee absences",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Employee/WorkHours": {
      "get": {
        "operationId": "getEmployeeWorkHours",
        "summary": "Get employee work hours",
        "tags": [
          "Employees"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Employee/StartWork": {
      "patch": {
        "operationId": "startWork",
        "summary": "Start work time registration",
        "tags": [
          "Time Tracking"
        ],
        "responses": {
          "200": {
            "description": "Started"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Employee/EndWork": {
      "patch": {
        "operationId": "endWork",
        "summary": "End work time registration",
        "tags": [
          "Time Tracking"
        ],
        "responses": {
          "200": {
            "description": "Ended"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Request": {
      "get": {
        "operationId": "getRequests",
        "summary": "Get holiday requests",
        "tags": [
          "Requests"
        ],
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Request/AvailableTypes": {
      "get": {
        "operationId": "getRequestTypes",
        "summary": "Get available request types",
        "tags": [
          "Requests"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Businesstrip": {
      "get": {
        "operationId": "getBusinessTrips",
        "summary": "Get business trips",
        "tags": [
          "Travel"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/HolidayPlan": {
      "get": {
        "operationId": "getHolidayPlan",
        "summary": "Get holiday planning data",
        "tags": [
          "Requests"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Timetable": {
      "get": {
        "operationId": "getTimetables",
        "summary": "List timetables",
        "tags": [
          "Schedules"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createTimetable",
        "summary": "Create timetable",
        "tags": [
          "Schedules"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Timetable/Items": {
      "get": {
        "operationId": "getTimetableItems",
        "summary": "Get timetable items",
        "tags": [
          "Schedules"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Timetable/Employees": {
      "get": {
        "operationId": "getTimetableEmployees",
        "summary": "Get timetable employees",
        "tags": [
          "Schedules"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Worktime": {
      "get": {
        "operationId": "getWorktime",
        "summary": "Get registered work time",
        "tags": [
          "Time Tracking"
        ],
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Worktime/PaidOvertime": {
      "get": {
        "operationId": "getPaidOvertime",
        "summary": "Get paid overtime records",
        "tags": [
          "Time Tracking"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Calendar": {
      "get": {
        "operationId": "getCalendars",
        "summary": "List calendars",
        "tags": [
          "Calendar"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Calendar/Users": {
      "get": {
        "operationId": "getCalendarUsers",
        "summary": "Get calendar users",
        "tags": [
          "Calendar"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Calendar/Items": {
      "get": {
        "operationId": "getCalendarItems",
        "summary": "Get calendar events",
        "tags": [
          "Calendar"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/ICal": {
      "get": {
        "operationId": "getICal",
        "summary": "Export calendar in iCal format",
        "tags": [
          "Calendar"
        ],
        "responses": {
          "200": {
            "description": "iCal data",
            "content": {
              "text/calendar": {}
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Personalfile/Contracts": {
      "get": {
        "operationId": "getContracts",
        "summary": "Get employment contracts",
        "tags": [
          "Personnel"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Personalfile/OshTrainings": {
      "get": {
        "operationId": "getOshTrainings",
        "summary": "Get safety training records",
        "tags": [
          "Personnel"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Personalfile/HealthExaminations": {
      "get": {
        "operationId": "getHealthExaminations",
        "summary": "Get medical examination data",
        "tags": [
          "Personnel"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Project": {
      "get": {
        "operationId": "getProjects",
        "summary": "List projects",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Project/Execution": {
      "get": {
        "operationId": "getProjectExecution",
        "summary": "Get project time allocations",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/Taf": {
      "get": {
        "operationId": "getTravelAuthorizations",
        "summary": "Get travel authorization forms",
        "tags": [
          "Travel"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}