{
  "openapi": "3.0.3",
  "info": {
    "title": "Everyday API",
    "version": "1.0.0",
    "description": "Everyday is a habit tracking application. The API provides endpoints for authentication, managing habits, and tracking completion dates.",
    "x-jentic-source-url": "https://gist.github.com/cuttlas/c7ee05a901a60aa31f09da16a0c77573"
  },
  "servers": [
    {
      "url": "https://api.everyday.app"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "operationId": "login",
        "summary": "Authenticate user",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/habits": {
      "get": {
        "operationId": "listHabits",
        "summary": "List user habits",
        "tags": [
          "Habits"
        ],
        "responses": {
          "200": {
            "description": "Habits list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Habit"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createHabit",
        "summary": "Create a habit",
        "tags": [
          "Habits"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Habit created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Habit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/dates": {
      "post": {
        "operationId": "createDate",
        "summary": "Record completed date",
        "tags": [
          "Dates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "habit_id",
                  "date"
                ],
                "properties": {
                  "habit_id": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Date recorded"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/lastDates": {
      "get": {
        "operationId": "getLastDates",
        "summary": "Get last completed dates",
        "tags": [
          "Dates"
        ],
        "parameters": [
          {
            "name": "habit_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Last dates"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LoginResponse": {
        "type": "object",
        "properties": {
          "jwtToken": {
            "type": "string"
          }
        }
      },
      "Habit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}