{
  "openapi": "3.0.3",
  "info": {
    "title": "ZeroBounce API",
    "version": "2.0",
    "description": "Email validation and verification API.",
    "x-jentic-source-url": "https://www.zerobounce.net/docs/#version-2-v2",
    "contact": {
      "name": "ZeroBounce API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.zerobounce.net/v2"
    },
    {
      "url": "https://bulkapi.zerobounce.net/v2",
      "description": "Bulk API server"
    }
  ],
  "paths": {
    "/getcredits": {
      "get": {
        "operationId": "getCredits",
        "summary": "Get credit balance",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get credit balance"
      }
    },
    "/validate": {
      "get": {
        "operationId": "validateEmail",
        "summary": "Validate single email",
        "tags": [
          "Validation"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Email to validate"
          },
          {
            "name": "ip_address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "IP address the email signed up from"
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Timeout in seconds (3-60)"
          },
          {
            "name": "activity_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Append activity data"
          },
          {
            "name": "verify_plus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Enable Verify+"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Validate single email"
      }
    },
    "/validatebatch": {
      "post": {
        "operationId": "validateBatch",
        "summary": "Validate batch of emails",
        "tags": [
          "Validation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "api_key": {
                    "type": "string"
                  },
                  "email_batch": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "email_address": {
                          "type": "string"
                        },
                        "ip_address": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Validate batch of emails"
      }
    },
    "/sendfile": {
      "post": {
        "operationId": "sendFile",
        "summary": "Send file for bulk validation",
        "tags": [
          "Bulk"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "email_address_column": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Send file for bulk validation"
      }
    },
    "/filestatus": {
      "get": {
        "operationId": "getFileStatus",
        "summary": "Get file processing status",
        "tags": [
          "Bulk"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "file_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get file processing status"
      }
    },
    "/getfile": {
      "get": {
        "operationId": "getFile",
        "summary": "Get validation results file",
        "tags": [
          "Bulk"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "file_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get validation results file"
      }
    },
    "/deletefile": {
      "get": {
        "operationId": "deleteFile",
        "summary": "Delete file",
        "tags": [
          "Bulk"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "file_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete file"
      }
    }
  },
  "components": {
    "schemas": {
      "CreditsResponse": {
        "type": "object",
        "properties": {
          "Credits": {
            "type": "integer"
          }
        }
      },
      "ValidationResponse": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "valid",
              "invalid",
              "catch-all",
              "unknown",
              "spamtrap",
              "abuse",
              "do_not_mail"
            ]
          },
          "sub_status": {
            "type": "string"
          },
          "free_email": {
            "type": "boolean"
          },
          "did_you_mean": {
            "type": "string"
          },
          "account": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          }
        }
      },
      "BatchValidationResponse": {
        "type": "object",
        "properties": {
          "email_batch": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationResponse"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Bulk"
    },
    {
      "name": "Validation"
    }
  ]
}
