{"openapi":"3.0.1","info":{"title":"CallFire API Documentation","description":"CallFire","termsOfService":"https://www.callfire.com/legal/terms","contact":{"name":"CallFire","url":"https://www.callfire.com","email":"support@callfire.com"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"},"version":"V2","x-jentic-source-url":"https://api.swaggerhub.com/apis/johnpiersol/CallFireV2/V2"},"servers":[{"url":"https://www.callfire.com/v2"}],"tags":[{"name":"keyword-leases"},{"name":"campaigns"},{"name":"campaign-sounds"},{"name":"keywords"},{"name":"numbers"},{"name":"number-leases"},{"name":"texts"},{"name":"me"},{"name":"text-auto-reply"},{"name":"contacts"},{"name":"dncs"},{"name":"campaign-batches"},{"name":"orders"},{"name":"subscriptions"},{"name":"voice-broadcasts"},{"name":"calls"},{"name":"ivrs"},{"name":"webhooks"},{"name":"contacts-lists"},{"name":"text-broadcasts"}],"paths":{"/calls":{"get":{"tags":["calls"],"summary":"Find calls","description":"Finds all calls sent or received by the user. Use \"id=0\" for the campaignId parameter to query for all calls sent through the POST /calls API. See [call states and results](https://developers.callfire.com/results-responses-errors.html)","operationId":"findCalls","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64","default":0}},{"name":"id","in":"query","description":"Comma seperated list of call ids to query for.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"campaignId","in":"query","description":"Query for calls inside of a particular campaign.","schema":{"type":"integer","format":"int64"}},{"name":"fromNumber","in":"query","description":"E.164 number that calls are from","schema":{"type":"string"}},{"name":"toNumber","in":"query","description":"E.164 number that calls are to","schema":{"type":"string"}},{"name":"label","in":"query","description":"Label for a specific call","schema":{"type":"string"}},{"name":"states","in":"query","description":"Expected call statuses in comma seperated string (READY, SELECTED, CALLBACK, FINISHED, DISABLED, DNC, DUP, INVALID, TIMEOUT, PERIOD_LIMIT)","schema":{"type":"string"}},{"name":"results","in":"query","description":"Expected call results in comma seperated string (SENT, RECEIVED, DNT, TOO_BIG, INTERNAL_ERROR, CARRIER_ERROR, CARRIER_TEMP_ERROR, UNDIALED)","schema":{"type":"string"}},{"name":"inbound","in":"query","description":"Is the call inbound, false for outbound","schema":{"type":"boolean"}},{"name":"intervalBegin","in":"query","description":"Start of the find interval in Unix time milliseconds","schema":{"type":"integer","format":"int64"}},{"name":"intervalEnd","in":"query","description":"End of the find interval in Unix time milliseconds","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/calls?limit=2\"","x-response":"{\"items\":[{\"id\":13395,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551101\",\"state\":\"FINISHED\",\"campaignId\":10,\"batchId\":6,\"contact\":{\"id\":4097,\"homePhone\":\"12135551101\"},\"inbound\":false,\"created\":1443373386000,\"modified\":1443373412000,\"finalCallResult\":\"AM\",\"records\":[{\"id\":10306,\"billedAmount\":1.1667,\"finishTime\":1443373425000,\"callResult\":\"AM\"}],\"agentCall\":false},{\"id\":13394,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551100\",\"state\":\"FINISHED\",\"campaignId\":10,\"batchId\":6,\"contact\":{\"id\":4096,\"homePhone\":\"12135551100\"},\"inbound\":false,\"created\":1443373382000,\"modified\":1443373412000,\"finalCallResult\":\"CARRIER_ERROR\",\"records\":[{\"id\":10305,\"billedAmount\":0.0,\"finishTime\":1443373408000,\"callResult\":\"CARRIER_ERROR\"}],\"agentCall\":false}],\"limit\":2,\"offset\":0,\"totalCount\":7160}"},"post":{"tags":["calls"],"summary":"Send calls","description":"Use the /calls API to quickly send individual calls. A verified Caller ID and sufficient credits are required to make a call.","operationId":"sendCalls","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}},{"name":"campaignId","in":"query","description":"Specify a campaignId to send calls quickly on a previously created campaign","schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"Array of CallRecipient objects","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CallRecipient"}}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST -d '[{\"phoneNumber\":\"12135551100\",\"liveMessage\":\"Why hello there!\"},{\"phoneNumber\":\"12135551101\",\"liveMessage\":\"And hello to you too.\"}]' \"https://api.callfire.com/v2/calls\"","x-response":"{\"items\":[{\"id\":13394,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551100\",\"state\":\"READY\",\"campaignId\":10,\"batchId\":6,\"contact\":{\"id\":4096,\"homePhone\":\"12135551100\"},\"inbound\":false,\"created\":1443373382000,\"modified\":1443373382000,\"agentCall\":false},{\"id\":13395,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551101\",\"state\":\"READY\",\"campaignId\":10,\"batchId\":6,\"contact\":{\"id\":4097,\"homePhone\":\"12135551101\"},\"inbound\":false,\"created\":1443373386000,\"modified\":1443373386000,\"agentCall\":false}]}","x-codegen-request-body-name":"body"}},"/calls/{id}":{"get":{"tags":["calls"],"summary":"Find a specific call","description":"Returns a single Call instance for a given call id.","operationId":"getCall","parameters":[{"name":"id","in":"path","description":"Id of call","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Call"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/calls/13393\"","x-response":"{\"id\":13393,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551101\",\"state\":\"FINISHED\",\"campaignId\":10,\"batchId\":6,\"contact\":{\"id\":4097,\"homePhone\":\"12135551101\"},\"inbound\":false,\"created\":1443333911000,\"modified\":1443333978000,\"finalCallResult\":\"LA\",\"records\":[{\"id\":10304,\"billedAmount\":1.1667,\"finishTime\":1443333972000,\"callResult\":\"LA\"}],\"agentCall\":false}"}},"/campaigns/batches/{id}":{"get":{"tags":["campaigns","campaign-batches"],"summary":"Find a specific batch","description":"Returns a single Batch instance for a given batch id. This API is useful for determining the state of a validating batch.","operationId":"getCampaignBatch","parameters":[{"name":"id","in":"path","description":"Id of batch","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Batch"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password \"https://api.callfire.com/v2/campaigns/batches/1\"","x-response":"{\"id\":1,\"name\":\"CF2 Campaign Sample\",\"status\":\"ACTIVE\",\"broadcastId\":1,\"created\":1297474980000,\"size\":6198,\"remaining\":0,\"enabled\":true}"},"put":{"tags":["campaigns","campaign-batches"],"summary":"Update a batch","description":"Update to a single Batch instance. May only change enabled at this time.","operationId":"updateCampaignBatch","parameters":[{"name":"id","in":"path","description":"Id of batch to update","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Batch"}}},"required":false},"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X PUT -d '{\"enabled\":\"false\"}' \"https://api.callfire.com/v2/campaigns/batches/1\"","x-response":"200 OK - No Response","x-codegen-request-body-name":"body"}},"/campaigns/ivrs":{"get":{"tags":["campaigns","ivrs"],"summary":"Find IVRs","description":"Find all IVR campaigns created by the user. Can query on label, name, and the current running status of the campaign. Returns a paged list of voice broadcasts.","operationId":"findIvrBroadcasts","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64"}},{"name":"label","in":"query","description":"Label for a specific IVR","schema":{"type":"string"}},{"name":"name","in":"query","description":"Name for a specific IVR","schema":{"type":"string"}},{"name":"inbound","in":"query","description":"~","schema":{"type":"boolean"}},{"name":"running","in":"query","description":"Is the campaign currently running.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/ivrs?name=Example%20API%20IVR\"","x-response":"{\"items\":[{\"id\":11,\"name\":\"Example API IVR\",\"status\":\"STOPPED\",\"lastModified\":1443374636000,\"fromNumber\":\"12135551189\",\"localTimeRestriction\":{\"enabled\":false},\"retryConfig\":{\"maxAttempts\":1,\"minutesBetweenAttempts\":60,\"retryPhoneTypes\":[\"FIRST_NUMBER\"]},\"dialplanXml\":\"<dialplan name=\"Root\"><play type=\"tts\">Congratulations! You have successfully configured a CallFire I V R.</play></dialplan>\",\"inbound\":false}],\"totalCount\":1}"},"post":{"tags":["campaigns","ivrs"],"summary":"Create an IVR","description":"Create an IVR (Interactive Voice Response) campaign using the this API. Send an IvrBroadcast object in the message body to detail an IVR campaign. By default, Campaigns are STOPPED. To start your campaign on creation, send start=true along with the standard request, or by using the /start API for the campaign. A campaign can be created with no contacts and bare minimum configuration, but contacts will have to be added further on to use the campaign.","operationId":"createIvrBroadcast","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}},{"name":"start","in":"query","description":"Is the campaign started on creation. Default is false.","schema":{"type":"boolean"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IvrBroadcast"}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JResponse"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST -d '{\"name\":\"Example API IVR\",\"fromNumber\":\"12135551189\",\"recipients\":[{\"phoneNumber\":\"12135551100\"},{\"phoneNumber\":\"12135551101\"}],\"dialplanXml\":\"<dialplan name=\"Root\"><play type=\"tts\">Congratulations! You have successfully configured a CallFire I V R.</play></dialplan>\"}' \"https://api.callfire.com/v2/campaigns/ivrs\"","x-response":"{\"id\":11}","x-codegen-request-body-name":"body"}},"/campaigns/ivrs/{id}":{"get":{"tags":["campaigns","ivrs"],"summary":"Find a specific IVR","description":"Returns a single IvrBroadcast instance for a given IVR campaign id","operationId":"getIvrBroadcast","parameters":[{"name":"id","in":"path","description":"Id of IVR broadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IvrBroadcast"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/ivrs/11\"","x-response":"{\"id\":11,\"name\":\"Example API IVR\",\"status\":\"STOPPED\",\"lastModified\":1443374636000,\"fromNumber\":\"12135551189\",\"localTimeRestriction\":{\"enabled\":false},\"retryConfig\":{\"maxAttempts\":1,\"minutesBetweenAttempts\":60,\"retryPhoneTypes\":[\"FIRST_NUMBER\"]},\"dialplanXml\":\"<dialplan name=\"Root\"><play type=\"tts\">Congratulations! You have successfully configured a CallFire I V R.</play></dialplan>\",\"inbound\":false}"},"put":{"tags":["campaigns","ivrs"],"summary":"Update an IVR","description":"After having created an IVR campaign, this PUT lets the user modify the configuration of an IVR campaign. See IvrBroadcast for more information on what can/can't be updated on this API.","operationId":"updateIvrBroadcast","parameters":[{"name":"id","in":"path","description":"Id of IVR broadcast","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IvrBroadcast"}}},"required":false},"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X PUT -d '{\"name\":\"Example API IVR updated\",\"dialplanXml\":\"<dialplan name=\"Root\"><record background=\"true\"/><play type=\"tts\">Congratulations! You have successfully configured a CallFire I V R.</play></dialplan>\"}' \"https://api.callfire.com/v2/campaigns/ivrs/11\"","x-response":"200 OK - No Response","x-codegen-request-body-name":"body"}},"/campaigns/ivrs/{id}/archive":{"post":{"tags":["campaigns","ivrs"],"summary":"Archive ivr broadcast","description":"Archive an IVR broadcast","operationId":"archiveIvrBroadcast","parameters":[{"name":"id","in":"path","description":"Id of IVR broadcast","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST \"https://api.callfire.com/v2/campaigns/ivrs/11/archive\"","x-response":"200 OK - No Response"}},"/campaigns/ivrs/{id}/batches":{"get":{"tags":["campaigns","ivrs"],"summary":"Find batches in an IVR","description":"This endpoint will enable the user to page through all of the batches for a particular voice broadcast campaign.","operationId":"getIvrBroadcastBatches","parameters":[{"name":"id","in":"path","description":"Id of IVR broadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/ivrs/11/batches\"","x-response":"{\"items\":[{\"id\":7,\"name\":\"API 11\",\"status\":\"ACTIVE\",\"broadcastId\":11,\"created\":1443374635000,\"size\":2,\"remaining\":2,\"enabled\":true},{\"id\":8,\"name\":\"contact batch name1\",\"status\":\"ACTIVE\",\"broadcastId\":11,\"created\":1443375666000,\"size\":1,\"remaining\":0,\"enabled\":true}],\"limit\":100,\"offset\":0}"},"post":{"tags":["campaigns","ivrs"],"summary":"Add batches to an IVR","description":"The add batch API allows the user to add additional batches to an already created IVR campaign. The added batch will go through the CallFire validation process, unlike in the recipients version of this API. Because of this, use the scrubDuplicates flag to remove duplicates from your batch. Batches may be added as a contact list id, a list of contact ids, or a list of numbers.","operationId":"addIvrBroadcastBatch","parameters":[{"name":"id","in":"path","description":"Id of IVR broadcast","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"BatchRequest object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchRequest"}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JResponse"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST -d '{\"name\":\"contact batch name1\",\"recipients\":[{\"phoneNumber\":\"12135551100\"}],\"scrubDuplicates\":\"true\"}' \"https://api.callfire.com/v2/campaigns/ivrs/11/batches\"","x-response":"{\"id\":8}","x-codegen-request-body-name":"body"}},"/campaigns/ivrs/{id}/calls":{"get":{"tags":["campaigns","ivrs"],"summary":"Find calls in an IVR","description":"Get calls associated with voice broadcast ordered by date","operationId":"getIvrBroadcastCalls","parameters":[{"name":"id","in":"path","description":"id of voice broadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/ivrs/11/calls\"","x-response":"{\"items\":[{\"id\":13398,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551100\",\"state\":\"DUP\",\"campaignId\":11,\"batchId\":8,\"contact\":{\"id\":4096,\"homePhone\":\"12135551100\"},\"inbound\":false,\"created\":1443375666000,\"modified\":1443375667000,\"agentCall\":false},{\"id\":13397,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551101\",\"state\":\"READY\",\"campaignId\":11,\"batchId\":7,\"contact\":{\"id\":4097,\"homePhone\":\"12135551101\"},\"inbound\":false,\"created\":1443374636000,\"modified\":1443374636000,\"agentCall\":false},{\"id\":13396,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551100\",\"state\":\"READY\",\"campaignId\":11,\"batchId\":7,\"contact\":{\"id\":4096,\"homePhone\":\"12135551100\"},\"inbound\":false,\"created\":1443374636000,\"modified\":1443374636000,\"agentCall\":false}],\"limit\":100,\"offset\":0,\"totalCount\":3}"}},"/campaigns/ivrs/{id}/recipients":{"post":{"tags":["campaigns","ivrs"],"summary":"Add recipients to an IVR","description":"Add recipients to default voice broadcast","operationId":"addIvrBroadcastRecipients","parameters":[{"name":"id","in":"path","description":"Id of voice broadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Recipient"}}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST -d '[{\"phoneNumber\":\"12135551102\"}]' \"https://api.callfire.com/v2/campaigns/ivrs/11/recipients\"","x-response":"{\"items\":[{\"id\":13399,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551102\",\"state\":\"READY\",\"campaignId\":11,\"batchId\":7,\"contact\":{\"id\":4098,\"homePhone\":\"12135551102\"},\"inbound\":false,\"created\":1443377838000,\"modified\":1443377838000,\"agentCall\":false}]}","x-codegen-request-body-name":"body"}},"/campaigns/ivrs/{id}/start":{"post":{"tags":["campaigns","ivrs"],"summary":"Start ivr broadcast","description":"Start an IVR broadcast","operationId":"startIvrBroadcast","parameters":[{"name":"id","in":"path","description":"Id of IVR broadcast to start","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST \"https://api.callfire.com/v2/campaigns/ivrs/11/start\"","x-response":"200 OK - No Response"}},"/campaigns/ivrs/{id}/stop":{"post":{"tags":["campaigns","ivrs"],"summary":"Stop ivr broadcast","description":"Stop an IVR broadcast","operationId":"stopIvrBroadcast","parameters":[{"name":"id","in":"path","description":"Id of IVR broadcast to stop","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST \"https://api.callfire.com/v2/campaigns/ivrs/11/stop\"","x-response":"200 OK - No Response"}},"/campaigns/sounds":{"get":{"tags":["campaigns","campaign-sounds"],"summary":"Find sounds","description":"Find all campaign sounds that were created by the user. These are all of the available sounds to be used in campaigns.","operationId":"findCampaignSounds","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64","default":0}},{"name":"filter","in":"query","description":"Name of file to search on","schema":{"type":"string"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u \"username:password\" -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/sounds\"","x-response":"{\"items\":[{\"id\":60,\"name\":\"TTS: And hello to you too.\",\"created\":1443333911000,\"lengthInSeconds\":1,\"status\":\"ACTIVE\"},{\"id\":59,\"name\":\"TTS: Why hello there!\",\"created\":1443333905000,\"lengthInSeconds\":1,\"status\":\"ACTIVE\"}],\"limit\":100,\"offset\":0,\"totalCount\":8}"}},"/campaigns/sounds/calls":{"post":{"tags":["campaigns","campaign-sounds"],"summary":"Add sound via call","description":"Use this API to create a sound via phone call. Supply the required phone number in the CallCreateSound object inside of the request, and the user will receive a call shortly after with instructions on how to record a sound over the phone.","operationId":"postCallCampaignSound","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallCreateSound"}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JResponse"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u \"username:password\" -H \"Content-Type:application/json\" -X POST -d '{\"name\":\"My sound file\", \"toNumber\":\"12135551122\"}' \"https://api.callfire.com/v2/campaigns/sounds/calls\"","x-response":"{\"id\":61}","x-codegen-request-body-name":"body"}},"/campaigns/sounds/tts":{"post":{"tags":["campaigns","campaign-sounds"],"summary":"Add sound via text-to-speech","description":"Use this API to create a sound file via a supplied string of text. Send the required text in the TextToSpeech.message field, and pick a voice in the TextToSpeech.voice field. Available voices are: MALE1, FEMALE1 , FEMALE2, SPANISH1, FRENCHCANADIAN1","operationId":"postTTSCampaignSound","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TextToSpeech"}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JResponse"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u \"username:password\" -H \"Content-Type:application/json\" -X POST -d '{\"voice\":\"MALE1\", \"message\":\"This is a TTS sound\"}' \"https://api.callfire.com/v2/campaigns/sounds/tts\"","x-response":"{\"id\":62}","x-codegen-request-body-name":"body"}},"/campaigns/sounds/{id}":{"get":{"tags":["campaigns","campaign-sounds"],"summary":"Find a specific sound","description":"Returns a single CampaignSound instance for a given campaign sound id. This is the meta data to the sounds only. No audio data is returned from this API.","operationId":"getCampaignSound","parameters":[{"name":"id","in":"path","description":"Id of CampaignSound","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignSound"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u \"username:password\" -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/sounds/61\"","x-response":"{\"id\":61,\"name\":\"My sound file\",\"created\":1443378307000,\"lengthInSeconds\":3,\"status\":\"ACTIVE\"}"}},"/campaigns/sounds/{id}.mp3":{"get":{"tags":["campaigns","campaign-sounds"],"summary":"Download a MP3 sound","description":"Download the MP3 version of the hosted file. This is an audio data endpoint.","operationId":"getCampaignSoundDataMp3","parameters":[{"name":"id","in":"path","description":"Id of CampaignSound","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"audio/mpeg":{"schema":{"$ref":"#/components/schemas/StreamingOutput"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u \"username:password\" -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/sounds/61.mp3\"","x-response":"mp3 file"}},"/campaigns/sounds/{id}.wav":{"get":{"tags":["campaigns","campaign-sounds"],"summary":"Download a WAV sound","description":"Download the WAV version of the hosted file. This is an audio data endpoint.","operationId":"getCampaignSoundDataWav","parameters":[{"name":"id","in":"path","description":"Id of CampaignSound","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"audio/wav":{"schema":{"$ref":"#/components/schemas/StreamingOutput"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u \"username:password\" -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/sounds/61.wav\"","x-response":"wav file"}},"/campaigns/text-auto-replys":{"get":{"tags":["campaigns","text-auto-reply"],"summary":"Find auto replies","description":"Find all text autoreplies created by the user. Returns a paged list of TextAutoReply.","operationId":"findTextAutoReplys","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64","default":0}},{"name":"number","in":"query","description":"E.164 number that contains a TextAutoReply","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/text-auto-replys\"","x-response":"{\"items\":[{\"id\":4,\"match\":\".*\",\"message\":\"Short code reply. Echo - ${text.message}!\"},{\"id\":15,\"number\":\"67076\",\"keyword\":\"CALLFIRE\",\"message\":\"I am a leaf on the wind\"}],\"limit\":100,\"offset\":0,\"totalCount\":2}"},"post":{"tags":["campaigns","text-auto-reply"],"summary":"Create an auto reply","description":"Auto-replies are text message replies sent to a customer when a customer\n replies to a text message from a campaign. A keyword will need to have been purchased \n before an Auto-Reply can be created.","operationId":"createTextAutoReply","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TextAutoReply"}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JResponse"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST -d '{\"number\":\"67076\",\"keyword\":\"CALLFIRE\",\"message\":\"I am a leaf on the wind\"}' \"https://api.callfire.com/v2/campaigns/text-auto-replys\"","x-response":"{\"id\":15}","x-codegen-request-body-name":"body"}},"/campaigns/text-auto-replys/{id}":{"get":{"tags":["campaigns","text-auto-reply"],"summary":"Find a specific auto reply","description":"Returns a single TextAutoReply for a given text auto reply id","operationId":"getTextAutoReply","parameters":[{"name":"id","in":"path","description":"Id of text auto reply","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TextAutoReply"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/text-auto-replys/15?fields=id,keyword,message\"","x-response":"{\"id\":15,\"keyword\":\"CALLFIRE\",\"message\":\"I am a leaf on the wind\"}"},"delete":{"tags":["campaigns","text-auto-reply"],"summary":"Delete an auto reply","description":"Deletes a text auto reply and removes the configuration. Can not delete a TextAutoReply currently active on a campaign.","operationId":"deleteTextAutoReply","parameters":[{"name":"id","in":"path","description":"Id of text auto reply","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X DELETE \"https://api.callfire.com/v2/campaigns/text-auto-replys/15\"","x-response":"204 No Content"}},"/campaigns/text-broadcasts":{"get":{"tags":["campaigns","text-broadcasts"],"summary":"Find text broadcasts","description":"Find all text broadcasts created by the user. Can query on label, name, and the current running status of the campaign. Returns a paged list of text broadcasts.","operationId":"findTextBroadcasts","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64"}},{"name":"label","in":"query","description":"Label of text broadcast","schema":{"type":"string"}},{"name":"name","in":"query","description":"Name of text broadcast","schema":{"type":"string"}},{"name":"running","in":"query","description":"Is broadcast running","schema":{"type":"boolean"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/text-broadcasts\"","x-response":"{\"items\":[{\"id\":3,\"name\":\"Outbound SMS Broadcast\",\"status\":\"FINISHED\",\"lastModified\":1443333295000,\"fromNumber\":\"67076\",\"localTimeRestriction\":{\"enabled\":false},\"retryConfig\":{\"maxAttempts\":1,\"minutesBetweenAttempts\":60,\"retryPhoneTypes\":[\"FIRST_NUMBER\"]},\"message\":\"This is a text broadcast\",\"bigMessageStrategy\":\"DO_NOT_SEND\"},{\"id\":13,\"name\":\"Example API SMS\",\"status\":\"STOPPED\",\"lastModified\":1443380774000,\"fromNumber\":\"12135551100\",\"localTimeRestriction\":{\"enabled\":false},\"retryConfig\":{\"maxAttempts\":1,\"minutesBetweenAttempts\":60,\"retryPhoneTypes\":[\"FIRST_NUMBER\"]},\"message\":\"Hello World!\"}],\"totalCount\":2}"},"post":{"tags":["campaigns","text-broadcasts"],"summary":"Create a text broadcast","description":"Create a text broadcast campaign using the Text Broadcast API. Send a TextBroadcast in the message body to detail a text broadcast campaign. A campaign can be created with no contacts and bare minimum configuration, but contacts will have to be added further on to use the campaign.","operationId":"createTextBroadcast","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}},{"name":"start","in":"query","description":"If true then start campaign immediately.","schema":{"type":"boolean"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TextBroadcast"}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JResponse"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST -d '{\"name\":\"Example API SMS\",\"fromNumber\":\"19206596476\",\"recipients\":[{\"phoneNumber\":\"13233832214\"},{\"phoneNumber\":\"13233832214\"}],\"message\":\"Hello World!\"}' \"https://api.callfire.com/v2/campaigns/text-broadcasts\"","x-response":"{\"id\":13}","x-codegen-request-body-name":"body"}},"/campaigns/text-broadcasts/batches/{id}":{"get":{"tags":["campaigns","text-broadcasts"],"summary":"Find a specific batch in a text broadcast","description":"Returns a single Batch instance for a given text broadcast batch id.","operationId":"getTextBroadcastBatch","parameters":[{"name":"id","in":"path","description":"Id of text broadcast batch","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Batch"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/text-broadcasts/batches/9\"","x-response":"{\"id\":9,\"name\":\"API 13\",\"status\":\"ACTIVE\",\"broadcastId\":13,\"created\":1443380774000,\"size\":2,\"remaining\":2,\"enabled\":true}"},"put":{"tags":["campaigns","text-broadcasts"],"summary":"Update a specific batch in a text broadcast","description":"Update a text broadcast batch. Can only change enabled at this time.","operationId":"updateTextBroadcastBatch","parameters":[{"name":"id","in":"path","description":"Id of text broadcast batch.","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Batch"}}},"required":false},"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X PUT -d '{\"enabled\":\"false\"}' \"https://api.callfire.com/v2/campaigns/text-broadcasts/batches/9\"","x-response":"200 OK - No Response","x-codegen-request-body-name":"body"}},"/campaigns/text-broadcasts/{id}":{"get":{"tags":["campaigns","text-broadcasts"],"summary":"Find a specific text broadcast","description":"Returns a single TextBroadcast instance for a given text broadcast id.","operationId":"getTextBroadcast","parameters":[{"name":"id","in":"path","description":"Id of text broadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TextBroadcast"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/text-broadcasts/13\"","x-response":"{\"id\":13,\"name\":\"Example API SMS\",\"status\":\"STOPPED\",\"lastModified\":1443380774000,\"fromNumber\":\"12135551100\",\"localTimeRestriction\":{\"enabled\":false},\"retryConfig\":{\"maxAttempts\":1,\"minutesBetweenAttempts\":60,\"retryPhoneTypes\":[\"FIRST_NUMBER\"]},\"message\":\"Hello World!\"}"},"put":{"tags":["campaigns","text-broadcasts"],"summary":"Update a text broadcast","description":"After having created a text broadcast campaign, this PUT lets the user modify the configuration of a text broadcast campaign. See TextBroadcast for more information on what can/can't be updated on this API.","operationId":"updateTextBroadcast","parameters":[{"name":"id","in":"path","description":"Id of text broadcast","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TextBroadcast"}}},"required":false},"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X PUT -d '{\"name\":\"Example API SMS updated\",\"message\":\"a new test message\"}' \"https://api.callfire.com/v2/campaigns/text-broadcasts/13\"","x-response":"200 OK - No Response","x-codegen-request-body-name":"body"}},"/campaigns/text-broadcasts/{id}/archive":{"post":{"tags":["campaigns","text-broadcasts"],"summary":"Archive text broadcast","description":"Archive a text broadcast","operationId":"archiveTextBroadcast","parameters":[{"name":"id","in":"path","description":"Id of text broadcast to archive","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST \"https://api.callfire.com/v2/campaigns/text-broadcasts/13/archive\"","x-response":"200 OK - No Response"}},"/campaigns/text-broadcasts/{id}/batches":{"get":{"tags":["campaigns","text-broadcasts"],"summary":"Find batches in a text broadcast","description":"This endpoint will enable the user to page through all of the batches for a particular text broadcast campaign.","operationId":"getTextBroadcastBatches","parameters":[{"name":"id","in":"path","description":"Id of text broadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/text-broadcasts/13/batches\"","x-response":"{\"items\":[{\"id\":9,\"name\":\"API 13\",\"status\":\"ACTIVE\",\"broadcastId\":13,\"created\":1443380774000,\"size\":2,\"remaining\":2,\"enabled\":true}],\"limit\":100,\"offset\":0,\"totalCount\":1}"},"post":{"tags":["campaigns","text-broadcasts"],"summary":"Add batches to a text broadcast","description":"The add batch API allows the user to add additional batches to an already created text broadcast campaign. The added batch will go through the CallFire validation process, unlike in the recipients version of this API. Because of this, use the scrubDuplicates flag to remove duplicates from your batch. Batches may be added as a contact list id, a list of contact ids, or a list of numbers.","operationId":"addTextBroadcastBatch","parameters":[{"name":"id","in":"path","description":"Id of text broadcast","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchRequest"}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JResponse"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST -d '{\"name\":\"contact batch for text\",\"recipients\":[{\"phoneNumber\":\"12135551122\"}],\"scrubDuplicates\":\"true\"}' \"https://api.callfire.com/v2/campaigns/text-broadcasts/13/batches\"","x-response":"{\"id\":10}","x-codegen-request-body-name":"body"}},"/campaigns/text-broadcasts/{id}/recipients":{"post":{"tags":["campaigns","text-broadcasts"],"summary":"Add recipients to a text broadcast","description":"Use this API to add recipients to an already created text broadcast. Post a list of Recipient objects for them to be immediately added to the text broadcast campaign. These contacts do not go through validation process, and will be acted upon as they are added. Recipients may be added as a list of contact ids, or list of numbers.","operationId":"addTextBroadcastRecipients","parameters":[{"name":"id","in":"path","description":"Id of text broadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TextRecipient"}}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST -d '[{\"phoneNumber\":\"12135551123\"}]' \"https://api.callfire.com/v2/campaigns/text-broadcasts/13/recipients\"","x-response":"{\"items\":[{\"id\":13405,\"fromNumber\":\"12135551100\",\"toNumber\":\"12135551123\",\"state\":\"READY\",\"campaignId\":13,\"batchId\":11,\"contact\":{\"id\":4101,\"homePhone\":\"12135551123\"},\"inbound\":false,\"created\":1443382358000,\"modified\":1443382358000,\"message\":\"a new test message\"}]}","x-codegen-request-body-name":"body"}},"/campaigns/text-broadcasts/{id}/start":{"post":{"tags":["campaigns","text-broadcasts"],"summary":"Start text broadcast","description":"Start a text broadcast","operationId":"startTextBroadcast","parameters":[{"name":"id","in":"path","description":"Id of text broadcast to start","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST \"https://api.callfire.com/v2/campaigns/text-broadcasts/13/start\"","x-response":"200 OK - No Response"}},"/campaigns/text-broadcasts/{id}/stop":{"post":{"tags":["campaigns","text-broadcasts"],"summary":"Stop text broadcast","description":"Stop a text broadcast","operationId":"stopTextBroadcast","parameters":[{"name":"id","in":"path","description":"Id of text broadcast to stop","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST \"https://api.callfire.com/v2/campaigns/text-broadcasts/13/stop\"","x-response":"200 OK - No Response"}},"/campaigns/text-broadcasts/{id}/texts":{"get":{"tags":["campaigns","text-broadcasts"],"summary":"Find texts in a text broadcast","description":"This endpoint will enable the user to page through all of the texts for a particular text broadcast campaign.","operationId":"getTextBroadcastTexts","parameters":[{"name":"id","in":"path","description":"The id of text broadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/text-broadcasts/13/texts\"","x-response":"{\"items\":[{\"id\":13405,\"fromNumber\":\"12135551100\",\"toNumber\":\"12135551123\",\"state\":\"READY\",\"campaignId\":13,\"batchId\":11,\"contact\":{\"id\":4101,\"homePhone\":\"12135551123\"},\"inbound\":false,\"created\":1443382358000,\"modified\":1443382358000,\"message\":\"a new test message\"},{\"id\":13404,\"fromNumber\":\"12135551100\",\"toNumber\":\"12135551122\",\"state\":\"READY\",\"campaignId\":13,\"batchId\":10,\"contact\":{\"id\":4099,\"homePhone\":\"12135551122\"},\"inbound\":false,\"created\":1443382248000,\"modified\":1443382248000,\"message\":\"a new test message\"},{\"id\":13403,\"fromNumber\":\"12135551100\",\"toNumber\":\"13233832214\",\"state\":\"READY\",\"campaignId\":13,\"batchId\":9,\"contact\":{\"id\":4100,\"homePhone\":\"13233832214\"},\"inbound\":false,\"created\":1443380774000,\"modified\":1443380774000,\"message\":\"a new test message\"},{\"id\":13402,\"fromNumber\":\"12135551100\",\"toNumber\":\"13233832214\",\"state\":\"READY\",\"campaignId\":13,\"batchId\":9,\"contact\":{\"id\":4100,\"homePhone\":\"13233832214\"},\"inbound\":false,\"created\":1443380774000,\"modified\":1443380774000,\"message\":\"a new test message\"}],\"limit\":100,\"offset\":0,\"totalCount\":4}"}},"/campaigns/voice-broadcasts":{"get":{"tags":["campaigns","voice-broadcasts"],"summary":"Find voice broadcasts","description":"Find all voice broadcasts created by the user. Can query on label, name, and the current running status of the campaign. Returns a paged list of voice broadcasts.","operationId":"findVoiceBroadcasts","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64"}},{"name":"label","in":"query","description":"Label of voice broadcast","schema":{"type":"string"}},{"name":"name","in":"query","description":"Name of voice broadcast","schema":{"type":"string"}},{"name":"running","in":"query","description":"Specify if the campaigns should be running or not","schema":{"type":"boolean"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password \"https://api.callfire.com/v2/campaigns/voice-broadcasts?name=Example+API+VB\"","x-response":"{\"items\":[{\"id\":14,\"name\":\"Example API VB\",\"status\":\"STOPPED\",\"lastModified\":1443382636000,\"fromNumber\":\"12135551189\",\"localTimeRestriction\":{\"enabled\":false},\"retryConfig\":{\"maxAttempts\":1,\"minutesBetweenAttempts\":60,\"retryPhoneTypes\":[\"FIRST_NUMBER\"]},\"answeringMachineConfig\":\"AM_AND_LIVE\",\"liveSoundText\":\"Hello! This is a live answer text to speech recording\",\"liveSoundId\":64,\"machineSoundText\":\"This is an answering machine text to speech recording\",\"machineSoundId\":65}],\"totalCount\":1}"},"post":{"tags":["campaigns","voice-broadcasts"],"summary":"Create a voice broadcast","description":"Create a voice broadcast campaign using the Voice Broadcast API. Send a VoiceBroadcast in the message body to detail a voice broadcast campaign. A campaign can be created with no contacts and bare minimum configuration, but contacts will have to be added further on to use the campaign.","operationId":"createVoiceBroadcast","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}},{"name":"start","in":"query","description":"Specify whether to immediately start this campaign (not required)","schema":{"type":"boolean"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoiceBroadcast"}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JResponse"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST -d '{\"name\":\"Example API VB\",\"fromNumber\":\"12135551189\",\"recipients\":[{\"phoneNumber\":\"2135551133\"}],\"answeringMachineConfig\":\"AM_AND_LIVE\",\"liveSoundText\":\"Hello! This is a live answer text to speech recording\",\"machineSoundText\":\"This is an answering machine text to speech recording\"}' \"https://api.callfire.com/v2/campaigns/voice-broadcasts\"","x-response":"{\"id\":14}","x-codegen-request-body-name":"body"}},"/campaigns/voice-broadcasts/{id}":{"get":{"tags":["campaigns","voice-broadcasts"],"summary":"Find a specific voice broadcast","description":"Returns a single VoiceBroadcast instance for a given voice broadcast campaign id","operationId":"getVoiceBroadcast","parameters":[{"name":"id","in":"path","description":"Id of VoiceBroadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoiceBroadcast"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password \"https://api.callfire.com/v2/campaigns/voice-broadcasts/14\"","x-response":"{\"id\":14,\"name\":\"Example API VB\",\"status\":\"STOPPED\",\"lastModified\":1443382636000,\"fromNumber\":\"12135551189\",\"localTimeRestriction\":{\"enabled\":false},\"retryConfig\":{\"maxAttempts\":1,\"minutesBetweenAttempts\":60,\"retryPhoneTypes\":[\"FIRST_NUMBER\"]},\"answeringMachineConfig\":\"AM_AND_LIVE\",\"liveSoundText\":\"Hello! This is a live answer text to speech recording\",\"liveSoundId\":64,\"machineSoundText\":\"This is an answering machine text to speech recording\",\"machineSoundId\":65}"},"put":{"tags":["campaigns","voice-broadcasts"],"summary":"Update a voice broadcast","description":"After having created a voice broadcast campaign, this PUT lets the user modify the configuration of a voice broadcast campaign. See VoiceBroadcast for more information on what can/can't be updated on this API.","operationId":"updateVoiceBroadcast","parameters":[{"name":"id","in":"path","description":"The id of the voice broadcast","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoiceBroadcast"}}},"required":false},"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X PUT -d '{\"name\":\"Example API VB updated\",\"answeringMachineConfig\":\"LIVE_IMMEDIATE\",\"liveSoundText\":\"Hello! This is an updated VB config tts\"}' \"https://api.callfire.com/v2/campaigns/voice-broadcasts/14\"","x-response":"200 OK - No Response","x-codegen-request-body-name":"body"}},"/campaigns/voice-broadcasts/{id}/archive":{"post":{"tags":["campaigns","voice-broadcasts"],"summary":"Archive voice broadcast","description":"Archive a voice broadcast","operationId":"archiveVoiceBroadcast","parameters":[{"name":"id","in":"path","description":"Id of voice broadcast to archive","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST \"https://api.callfire.com/v2/campaigns/voice-broadcasts/14/archive\"","x-response":"200 OK - No Response"}},"/campaigns/voice-broadcasts/{id}/batches":{"get":{"tags":["campaigns","voice-broadcasts"],"summary":"Find batches in a voice broadcast","description":"This endpoint will enable the user to page through all of the batches for a particular voice broadcast campaign.","operationId":"getVoiceBroadcastBatches","parameters":[{"name":"id","in":"path","description":"The id of the voice broadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/voice-broadcasts/14/batches\"","x-response":"{\"items\":[{\"id\":12,\"name\":\"API 14\",\"status\":\"ACTIVE\",\"broadcastId\":14,\"created\":1443382635000,\"size\":1,\"remaining\":1,\"enabled\":true},{\"id\":13,\"name\":\"batch name\",\"status\":\"ACTIVE\",\"broadcastId\":14,\"created\":1443383158000,\"size\":2,\"remaining\":2,\"enabled\":true}],\"limit\":100,\"offset\":0}"},"post":{"tags":["campaigns","voice-broadcasts"],"summary":"Add batches to a voice broadcast","description":"The add batch API allows the user to add additional batches to an already created voice broadcast campaign. The added batch will go through the CallFire validation process, unlike in the recipients version of this API. Because of this, use the scrubDuplicates flag to remove duplicates from your batch. Batches may be added as a contact list id, a list of contact ids, or a list of numbers.","operationId":"addVoiceBroadcastBatch","parameters":[{"name":"id","in":"path","description":"The id of the voice broadcast","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchRequest"}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JResponse"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST -d '{\"name\":\"batch name\",\"recipients\":[{\"phoneNumber\":\"12135551100\"},{\"phoneNumber\":\"12135551101\"}]}' \"https://api.callfire.com/v2/campaigns/voice-broadcasts/14/batches\"","x-response":"{\"id\":13}","x-codegen-request-body-name":"body"}},"/campaigns/voice-broadcasts/{id}/calls":{"get":{"tags":["campaigns","voice-broadcasts"],"summary":"Find calls in a voice broadcast","description":"This endpoint will enable the user to page through all of the calls for a particular voice broadcast campaign.","operationId":"getVoiceBroadcastCalls","parameters":[{"name":"id","in":"path","description":"The id of the voice broadcast","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/voice-broadcasts/14/calls\"","x-response":"{\"items\":[{\"id\":13408,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551101\",\"state\":\"READY\",\"campaignId\":14,\"batchId\":13,\"contact\":{\"id\":4097,\"homePhone\":\"12135551101\"},\"inbound\":false,\"created\":1443383158000,\"modified\":1443383158000,\"agentCall\":false},{\"id\":13407,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551100\",\"state\":\"READY\",\"campaignId\":14,\"batchId\":13,\"contact\":{\"id\":4096,\"homePhone\":\"12135551100\"},\"inbound\":false,\"created\":1443383158000,\"modified\":1443383158000,\"agentCall\":false},{\"id\":13406,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551133\",\"state\":\"READY\",\"campaignId\":14,\"batchId\":12,\"contact\":{\"id\":4102,\"homePhone\":\"2135551133\"},\"inbound\":false,\"created\":1443382636000,\"modified\":1443382636000,\"agentCall\":false}],\"limit\":100,\"offset\":0,\"totalCount\":3}"}},"/campaigns/voice-broadcasts/{id}/recipients":{"post":{"tags":["campaigns","voice-broadcasts"],"summary":"Add recipients to a voice broadcast","description":"Use this API to add recipients to an already created voice broadcast. Post a list of Recipient objects for them to be immediately added to the voice broadcast campaign. These contacts do not go through validation process, and will be acted upon as they are added. Recipients may be added as a list of contact ids, or list of numbers.","operationId":"addVoiceBroadcastRecipients","parameters":[{"name":"id","in":"path","description":"The id of the voice broadcast to update","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Recipient"}}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST -d '[{\"phoneNumber\":\"12135551100\"},{\"phoneNumber\":\"12135551101\"}]' \"https://api.callfire.com/v2/campaigns/voice-broadcasts/14/recipients\"","x-response":"{\"items\":[{\"id\":13410,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551100\",\"state\":\"READY\",\"campaignId\":14,\"batchId\":12,\"contact\":{\"id\":4096,\"homePhone\":\"12135551100\"},\"inbound\":false,\"created\":1443383295000,\"modified\":1443383295000,\"agentCall\":false},{\"id\":13411,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551101\",\"state\":\"READY\",\"campaignId\":14,\"batchId\":12,\"contact\":{\"id\":4097,\"homePhone\":\"12135551101\"},\"inbound\":false,\"created\":1443383295000,\"modified\":1443383295000,\"agentCall\":false}]}","x-codegen-request-body-name":"body"}},"/campaigns/voice-broadcasts/{id}/start":{"post":{"tags":["campaigns","voice-broadcasts"],"summary":"Start voice broadcast","description":"Start a voice broadcast","operationId":"startVoiceBroadcast","parameters":[{"name":"id","in":"path","description":"Id of voice broadcast to start","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST \"https://api.callfire.com/v2/campaigns/voice-broadcasts/14/start\"","x-response":"200 OK - No Response"}},"/campaigns/voice-broadcasts/{id}/stop":{"post":{"tags":["campaigns","voice-broadcasts"],"summary":"Stop voice broadcast","description":"Stop a voice broadcast","operationId":"stopVoiceBroadcast","parameters":[{"name":"id","in":"path","description":"Id of voice broadcast to stop","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST \"https://api.callfire.com/v2/campaigns/voice-broadcasts/14/stop\"","x-response":"200 OK - No Response"}},"/contacts":{"get":{"tags":["contacts"],"summary":"Find contacts","description":"Find contacts by id, contact list, or on any property name. Returns a paged list of contacts.","operationId":"findContacts","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64"}},{"name":"id","in":"query","description":"Multiple contact ids can be specified. If the id parameter is included, the other query parameters are ignored.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"number","in":"query","description":"Multiple contact numbers can be specified. If the number parameter is included, the other query parameters are ignored.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"contactListId","in":"query","description":"A particular contact list to search by","schema":{"type":"integer","format":"int64"}},{"name":"propertyName","in":"query","description":"Name of contact property to search by","schema":{"type":"string"}},{"name":"propertyValue","in":"query","description":"Value of contact property to search by","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/contacts?id=4103\"","x-response":"{\"items\":[{\"id\":4103,\"firstName\":\"Test\",\"lastName\":\"Contact\",\"homePhone\":\"12135551124\"}],\"limit\":1,\"offset\":0,\"totalCount\":1}"},"post":{"tags":["contacts"],"summary":"Create contacts","description":"Create contacts in the CallFire system. These contacts are not validated on creation. They will be validated upon being added to a campaign.","operationId":"createContacts","requestBody":{"description":"~","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Contact"}}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST -d '[{\"firstName\":\"Test\",\"lastName\":\"Contact\",\"homePhone\":\"12135551124\"}]' \"https://api.callfire.com/v2/contacts\"","x-response":"{\"items\":[{\"id\":4103}]}","x-codegen-request-body-name":"body"}},"/contacts/dncs":{"get":{"tags":["dncs","contacts"],"summary":"Find DNCs","description":"Find all Do Not Contact (DNC) objects created by the user. These DoNotContact entries only affect calls/texts/campaigns on this account. Returns a paged list of DoNotContact.","operationId":"findDncContacts","parameters":[{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64"}},{"name":"prefix","in":"query","description":"Prefix (1-10 digits) of numbers","schema":{"type":"string"}},{"name":"dncListId","in":"query","description":"A DncList id to search for DNCs within","schema":{"type":"integer","format":"int64"}},{"name":"dncListName","in":"query","description":"A DncList name to search for DNCs within","schema":{"type":"string"}},{"name":"callDnc","in":"query","description":"Is it a Call DNC","schema":{"type":"boolean"}},{"name":"textDnc","in":"query","description":"Is it a Text DNC","schema":{"type":"boolean"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/contacts/dncs\"","x-response":"{\"items\":[{\"number\":\"12135551129\",\"call\":true,\"text\":true,\"listId\":2},{\"number\":\"12135551130\",\"call\":false,\"text\":true,\"listId\":2},{\"number\":\"12135551131\",\"call\":true,\"text\":true,\"listId\":2}],\"totalCount\":3}"},"put":{"tags":["dncs","contacts"],"summary":"Update a DNC","description":"Update a Do Not Contact (DNC) contact value. Can toggle whether the DNC is enabled for calls/texts.","operationId":"updateDncNumber","requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoNotContact"}}},"required":false},"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X PUT -d '{\"number\":\"12135551130\",\"call\":\"false\",\"text\":\"true\"}' \"https://api.callfire.com/v2/contacts/dncs\"","x-response":"200 OK - No Response","x-codegen-request-body-name":"body"}},"/contacts/lists":{"get":{"tags":["contacts-lists","contacts"],"summary":"Find contact lists","description":"Find all contact lists for the CallFire Developer. Returns a paged list of contact lists.","operationId":"findContactLists","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64"}},{"name":"name","in":"query","description":"Name or partial name of contact list","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/contacts/lists\"","x-response":"{\"items\":[{\"id\":3,\"name\":\"Created Contact List\",\"size\":1,\"created\":1443390407000,\"status\":\"ACTIVE\"}],\"totalCount\":1}"},"post":{"tags":["contacts-lists","contacts"],"summary":"Create contact lists","description":"Creates a contact list for use with campaigns using 1 of 3 inputs. A List of Contact objects, a list of String E.164 numbers, or a list of CallFire contactIds can be used as the data source for the created contact list. \nAfter staging these contacts into the CallFire system, contact lists go through seven system safeguards that check the accuracy and consistency of the data. For example, our system checks if a number is formatted correctly, is invalid, is duplicated in another contact list, or is on a specific DNC list. The default resolution in these safeguards will be to remove contacts that are against these rules. If contacts are not being added to a list, this means the data needs to be properly formatted and correct before calling this API.","operationId":"createContactList","requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateContactListRequest"}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceId"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST -d '{\"name\":\"Created Contact List\",\"contacts\":[{\"firstName\":\"Carl\",\"lastName\":\"Friar\",\"homePhone\":\"12135551125\"}]}' \"https://api.callfire.com/v2/contacts/lists\"","x-response":"{\"id\":3}","x-codegen-request-body-name":"body"}},"/contacts/lists/upload":{"post":{"tags":["contacts-lists","contacts"],"summary":"Create contact list from file","description":"Create a contact list for use with campaigns through uploading a .csv file","operationId":"createContactListFromFile","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of contact list"},"file":{"type":"string","description":"CSV file to be uploaded","format":"binary"}}}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceId"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -X POST -F \"name=testing\" -F \"file=@small_contact_upload.csv\" \"https://api.callfire.com/v2/contacts/lists/upload\"","x-response":"{\"id\":4}"}},"/contacts/lists/{id}":{"get":{"tags":["contacts-lists","contacts"],"summary":"Find a specific contact list","description":"Returns a single ContactList instance for a given contact list id","operationId":"getContactList","parameters":[{"name":"id","in":"path","description":"Id of contact list to return","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactList"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/contacts/lists/3\"","x-response":"{\"id\":3,\"name\":\"Created Contact List\",\"size\":1,\"created\":1443390407000,\"status\":\"ACTIVE\"}"},"put":{"tags":["contacts-lists","contacts"],"summary":"Update a contact list","description":"Update contact list. Currently, only the contact list name is modifiable from this endpoint.","operationId":"updateContactList","parameters":[{"name":"id","in":"path","description":"Id of contact list to update","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateContactListRequest"}}},"required":false},"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X PUT -d '{\"name\":\"Created Contact List updated\"}' \"https://api.callfire.com/v2/contacts/lists/3\"","x-response":"200 OK - No Response","x-codegen-request-body-name":"body"},"delete":{"tags":["contacts-lists","contacts"],"summary":"Delete a contact list","description":"Deletes a contact list. The contacts inside are not deleted.","operationId":"deleteContactList","parameters":[{"name":"id","in":"path","description":"Id of contact list to be deleted","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X DELETE \"https://api.callfire.com/v2/contacts/lists/3\"","x-response":"204 No Content"}},"/contacts/lists/{id}/items":{"get":{"tags":["contacts-lists","contacts"],"summary":"Find contacts in a contact list","description":"Find all entries in a given contact list. Returns a paged list of Contact entries.","operationId":"getContactListItems","parameters":[{"name":"id","in":"path","description":"Id of contact list","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/contacts/lists/3/items\"","x-response":"{\"items\":[{\"id\":4104,\"firstName\":\"Carl\",\"lastName\":\"Friar\",\"homePhone\":\"12135551125\"},{\"id\":4105,\"firstName\":\"Contact\",\"lastName\":\"One\",\"homePhone\":\"12135551126\"},{\"id\":4106,\"firstName\":\"Contact\",\"lastName\":\"Two\",\"homePhone\":\"12135551127\"}],\"totalCount\":3}"},"post":{"tags":["contacts-lists","contacts"],"summary":"Add contacts to a contact list","description":"Add contacts to a contact list by number, contact id, or Contact object.","operationId":"addContactListItems","parameters":[{"name":"id","in":"path","description":"Id of contact list","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddContactListContactsRequest"}}},"required":false},"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X POST -d '{\"contacts\":[{\"firstName\":\"Contact\",\"lastName\":\"One\",\"homePhone\":\"12135551126\"},{\"firstName\":\"Contact\",\"lastName\":\"Two\",\"homePhone\":\"12135551127\"}]}' \"https://api.callfire.com/v2/contacts/lists/3/items\"","x-response":"200 OK - No Response","x-codegen-request-body-name":"body"}},"/contacts/lists/{listId}/items":{"delete":{"tags":["contacts-lists","contacts"],"summary":"Delete contacts from a contact list","description":"Delete contacts from a contact list. Multiple deletes in one request by repeating the \"id\" query parameter.","operationId":"removeContactListItems","parameters":[{"name":"listId","in":"path","description":"Id of contact list","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"id","in":"query","description":"Id of Contact entity inside the CallFire system.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X DELETE \"https://api.callfire.com/v2/contacts/lists/3/items?ids=4104\"","x-response":"200 OK - No Response"}},"/contacts/lists/{listId}/items/{contactId}":{"delete":{"tags":["contacts-lists","contacts"],"summary":"Delete a contact from a contact list","description":"Delete a single contact from a contact list.","operationId":"removeContactListItem","parameters":[{"name":"listId","in":"path","description":"Id of contact list","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"contactId","in":"path","description":"Id of contact","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X DELETE \"https://api.callfire.com/v2/contacts/lists/3/items/4105\"","x-response":"200 OK - No Response"}},"/contacts/{id}":{"get":{"tags":["contacts"],"summary":"Find a specific contact","description":"Returns a Contact object for a given contact id. Deleted contacts can still be retrieved but will be marked deleted and will not show up when searching for contacts.","operationId":"getContact","parameters":[{"name":"id","in":"path","description":"Id of contact","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/contacts/4103\"","x-response":"{\"id\":4103,\"firstName\":\"Test\",\"lastName\":\"Contact\",\"homePhone\":\"12135551124\",\"workPhone\":\"1213555115\"}"},"put":{"tags":["contacts"],"summary":"Update a contact","description":"Update a contact.","operationId":"updateContact","parameters":[{"name":"id","in":"path","description":"Id of contact","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}},"required":false},"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X PUT -d '{\"workPhone\":\"1213555115\"}' \"https://api.callfire.com/v2/contacts/4103\"","x-response":"200 OK - No Response","x-codegen-request-body-name":"body"},"delete":{"tags":["contacts"],"summary":"Delete a contact","description":"Delete a contact. This doesn't actually delete the contact, it just removes the contact from any contact lists and marks the contact as deleted so won't show up when searching for contacts.","operationId":"deleteContact","parameters":[{"name":"id","in":"path","description":"Id of contact","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X DELETE \"https://api.callfire.com/v2/contacts/4103\"","x-response":"204 No Content"}},"/contacts/{id}/history":{"get":{"tags":["contacts"],"summary":"Find a contact's history","description":"Find all texts and calls attributed to a contact. Returns a list of calls and texts a contact has been involved with.","operationId":"getContactHistory","parameters":[{"name":"id","in":"path","description":"Id of contact","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactHistory"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/contacts/3089/history\"","x-response":"{\"id\":3089,\"calls\":[{\"id\":12385,\"fromNumber\":\"12135551189\",\"toNumber\":\"18089552643\",\"state\":\"READY\",\"campaignId\":8,\"batchId\":5,\"contact\":{\"id\":3089,\"firstName\":\"Janet\",\"lastName\":\"Robertson\",\"workPhone\":\"18089552643\"},\"inbound\":false,\"created\":1443332871000,\"modified\":1443332871000,\"agentCall\":false},{\"id\":3089,\"fromNumber\":\"12135551189\",\"toNumber\":\"18089552643\",\"state\":\"FINISHED\",\"campaignId\":1,\"batchId\":1,\"contact\":{\"id\":3089,\"firstName\":\"Janet\",\"lastName\":\"Robertson\",\"workPhone\":\"18089552643\"},\"inbound\":false,\"created\":1443332868000,\"modified\":1443239245000,\"finalCallResult\":\"NO_ANS\",\"records\":[{\"id\":3089,\"billedAmount\":0.0,\"finishTime\":1443239245000,\"callResult\":\"NO_ANS\"}],\"agentCall\":false}],\"texts\":[{\"id\":6209,\"fromNumber\":\"12135551189\",\"toNumber\":\"18089552643\",\"state\":\"FINISHED\",\"campaignId\":3,\"batchId\":2,\"contact\":{\"id\":3089,\"firstName\":\"Janet\",\"lastName\":\"Robertson\",\"workPhone\":\"18089552643\"},\"inbound\":false,\"created\":1443239245000,\"modified\":1443239245000,\"message\":\"Outbound test text message\",\"finalTextResult\":\"SENT\",\"records\":[{\"id\":7215,\"billedAmount\":0.03,\"finishTime\":1443239245000,\"message\":\"CallFire Rocks!\",\"textResult\":\"SENT\"}]}]}"}},"/keywords":{"get":{"tags":["keywords"],"summary":"Find keywords","description":"Find keywords for purchase on the CallFire platform. If a keyword appears in the response, it is available for purchase. Repeat the \"keyword\" query parameter for multiple searches in one request.","operationId":"findKeywords","parameters":[{"name":"keywords","in":"query","description":"Keyword to search for","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/keywords?keywords=TEST\"","x-response":"{\"items\":[{\"shortCode\":\"67076\",\"keyword\":\"TEST\"}]}"}},"/keywords/leases":{"get":{"tags":["keyword-leases"],"summary":"Find keyword leases","description":"Find all owned keyword leases for a user. A keyword lease is the ownership information involving a keyword.","operationId":"findKeywordLeases","parameters":[{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64","default":100}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64","default":0}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/keywords/leases\"","x-response":"{\"items\":[{\"shortCode\":\"67076\",\"keyword\":\"CALLFIRE\",\"leaseBegin\":1000000000000,\"leaseEnd\":1000000000000,\"autoRenew\":true,\"status\":\"ACTIVE\"}],\"limit\":100,\"offset\":0,\"totalCount\":1}"}},"/keywords/leases/{keyword}":{"get":{"tags":["keyword-leases"],"summary":"Find a specific lease","description":"Returns a KeywordLease for a given keyword.","operationId":"getKeywordLease","parameters":[{"name":"keyword","in":"path","description":"Keyword text that a lease is desired for","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeywordLease"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/keywords/leases/CALLFIRE\"","x-response":"{\"shortCode\":\"67076\",\"keyword\":\"CALLFIRE\",\"leaseBegin\":1000000000000,\"leaseEnd\":1000000000000,\"autoRenew\":true,\"status\":\"ACTIVE\"}"},"put":{"tags":["keyword-leases"],"summary":"Update a lease","description":"Update a keyword lease. Can only set autoRenew to false at this time.","operationId":"updateKeywordLease","parameters":[{"name":"keyword","in":"path","description":"Keyword to update lease for","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeywordLease"}}},"required":false},"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X PUT -d '{\"autoRenew\":\"false\"}' \"https://api.callfire.com/v2/keywords/leases/CALLFIRE\"","x-response":"200 OK - No Response","x-codegen-request-body-name":"body"}},"/keywords/{keyword}/available":{"get":{"tags":["keywords"],"summary":"Check for a specific keyword","description":"Find an individual keyword for purchase on the CallFire platform. Returns boolean for availability.","operationId":"isKeywordAvailable","parameters":[{"name":"keyword","in":"path","description":"Keyword to search for","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"boolean"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/keywords/TEST/available\"","x-response":"true"}},"/me/account":{"get":{"tags":["me"],"summary":"Find account details","description":"Find account details for the user. Details include name, email, and basic account permissions.","operationId":"getAccount","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/me/account\"","x-response":"{\"id\":1,\"email\":\"test-account@callfire.com\",\"name\":\"Test Account\",\"firstName\":\"CallFire\",\"lastName\":\"Developer\",\"permissions\":[\"ACCOUNT_HOLDER\",\"API\"]}"}},"/me/api/credentials":{"get":{"tags":["me"],"summary":"Find api credentials","description":"Find all generated API credentials for the user. Returns a paged list of ApiCredential.","operationId":"findApiCredentials","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of records to return in a paged list response. The default is 100.","schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Offset to the start of a given page. The default is 0.","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u \"username:password\" -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/me/api/credentials\"","x-response":"{\"items\":[{\"id\":11,\"name\":\"api_20_account\",\"username\":\"8a804bba69ba\",\"password\":\"****aa00\",\"enabled\":true}],\"totalCount\":1}"},"post":{"tags":["me"],"summary":"Create api credentials","description":"Create API credentials for the CallFire API. This endpoint requires full CallFire account credentials to be used, authenticated using Basic Authentication. At this time, the user can only supply the name for the credentials. The generated credentials can be used to access any endpoint on the CallFire API.","operationId":"createApiCredential","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiCredential"}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiCredential"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u \"username:password\" -H \"Content-Type:application/json\" -X POST -d '{\"name\":\"api_20_account\"}' \"https://api.callfire.com/v2/me/api/credentials\"","x-response":"{\"id\":11,\"name\":\"api_20_account\",\"username\":\"8a804bba69ba\",\"password\":\"aaaa000aaa00aa00\",\"enabled\":true}","x-codegen-request-body-name":"body"}},"/me/api/credentials/{id}":{"get":{"tags":["me"],"summary":"Find a specific api credential","description":"Returns an ApiCredential instance for a given api credential id","operationId":"getApiCredential","parameters":[{"name":"id","in":"path","description":"Id of api credential","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","description":"Limit fields returned. E.g. fields=id,name or fields=items(id,name)","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiCredential"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u \"username:password\" -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/me/api/credentials/11\"","x-response":"{\"id\":11,\"name\":\"api_20_account\",\"username\":\"8a804bba69ba\",\"password\":\"****aa00\",\"enabled\":true}"},"delete":{"tags":["me"],"summary":"Delete api credentials","description":"Delete a specific API credential. Currently, removes the credentials ability to access the API.","operationId":"deleteApiCredential","parameters":[{"name":"id","in":"path","description":"Id of api credential","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u \"username:password\" -H \"Content-Type:application/json\" -X DELETE \"https://api.callfire.com/v2/me/api/credentials/11\"","x-response":"204 No Content"}},"/me/billing/plan-usage":{"get":{"tags":["me"],"summary":"Find plan usage","description":"Find billing plan usage for the user. Returns billing plan usage for the current month.","operationId":"getBillingPlanUsage","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillingPlanUsage"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u \"username:password\" -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/me/billing/plan-usage\"","x-response":"{\"intervalStart\":1000000000000,\"intervalEnd\":1000000000000,\"remainingPlanCredits\":0.0000,\"remainingPayAsYouGoCredits\":2015.0000,\"totalRemainingCredits\":2015.0000}"}},"/me/callerids":{"get":{"tags":["me"],"summary":"Find caller ids","description":"Returns a list of verified caller ids. If the number is not shown in the list, then it is not verified, and will have to send for a verification code.","operationId":"getCallerIds","parameters":[{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u \"username:password\" -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/me/callerids\"","x-response":"{\"items\":[{\"phoneNumber\":\"12135551189\"}]}"}},"/me/callerids/{callerid}":{"post":{"tags":["me"],"summary":"Create a caller id","description":"Generates and sends a verification code to the phone number provided in the path. The verification code is delivered via a phone call. This code needs to be submitted to the verify caller id API endpoint.","operationId":"sendVerificationCodeToCallerId","parameters":[{"name":"callerid","in":"path","description":"E.164 number without the '+' that needs to be verified","required":true,"schema":{"type":"string"}},{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}}],"responses":{"default":{"description":"successful operation","content":{}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u \"username:password\" -H \"Content-Type:application/json\" -X POST \"https://api.callfire.com/v2/me/callerids/12135551100\"","x-response":"200 OK - No Response"}},"/me/callerids/{callerid}/verification-code":{"post":{"tags":["me"],"summary":"Verify a caller id","description":"With the verification code received from the Create endpoint, a call to this endpoint is required to finish verification. An example would be with a code of 1234 post a body of {\"verificationCode\":1234} to this API.","operationId":"verifyCallerId","parameters":[{"name":"callerid","in":"path","description":"E.164 number without the '+' that needs to be verified","required":true,"schema":{"type":"string"}},{"name":"accountId","in":"query","description":"~","schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"~","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallerIdVerificationRequest"}}},"required":false},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"boolean"}}}}},"security":[{"basicAuth":[]}],"x-request-cURL":"curl -u \"username:password\" -H \"Content-Type:application/json\" -X POST -d '{\"verificationCode\":\"1234\"}' \"https://api.callfire.com/v2/me/callerids/12135551175/verification-code\"","x-response":"true","x-codegen-reque
[...]
