{
  "openapi": "3.0.3",
  "info": {
    "title": "Payplug (Dalenys) API",
    "version": "1.0.0",
    "description": "Payplug (formerly Dalenys) payment API providing authentication and self-onboarding capabilities.",
    "x-jentic-source-url": "https://developer.dalenys.com/ui/developer-doc/openapi/index.html"
  },
  "servers": [
    {
      "url": "https://api.dalenys.com"
    }
  ],
  "paths": {
    "/iam/token": {
      "post": {
        "summary": "Request Access Token",
        "description": "Method to generate a bearer token",
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/createToken"
            }
          }
        ],
        "tags": [
          "BearerToken"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Authorization token (Bearer)",
            "schema": {
              "$ref": "#/components/schemas/responseToken"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/components/schemas/iam400badRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/iam401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/iam403"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/components/schemas/405delete"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/components/schemas/409"
            }
          }
        }
      }
    },
    "/marketplaceOnboarding/draftBankaccounts": {
      "get": {
        "summary": "Search or get a list of draft bank accounts",
        "operationId": "getDraftBankaccount",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Specify the index of the page to return (index start at 0, so first page is page=0)"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Specify the size of the page (50)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/draftBankaccount"
                      }
                    }
                  }
                },
                {
                  "$ref": "#/components/schemas/paginatedList"
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft bank account"
        ]
      },
      "post": {
        "summary": "Create a draft bank account",
        "operationId": "createDraftBankaccounts",
        "parameters": [
          {
            "in": "body",
            "name": "Draft bank account",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/draftBankaccountCreateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "type": "string",
                "description": "/marketplaceOnboarding/draftBankaccounts/{draftId}"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/components/schemas/405"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/components/schemas/409"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft bank account"
        ]
      }
    },
    "/marketplaceOnboarding/draftBankaccounts/{draftId}": {
      "parameters": [
        {
          "name": "draftId",
          "in": "path",
          "description": "Draft bank account",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get a draft bank account by id",
        "operationId": "getDraftBankaccountsById",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/components/schemas/draftBankaccount"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft bank account"
        ]
      },
      "put": {
        "summary": "Update a draft bank account",
        "operationId": "putDraftBankaccounts",
        "parameters": [
          {
            "in": "body",
            "name": "DraftBankaccounts",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/draftBankaccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/components/schemas/draftBankaccount"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft bank account"
        ]
      },
      "delete": {
        "summary": "Delete a draft bank account",
        "operationId": "deleteDraftBankaccounts",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/components/schemas/405delete"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft bank account"
        ]
      }
    },
    "/marketplaceOnboarding/draftBankaccounts/{draftId}/submit": {
      "parameters": [
        {
          "name": "draftId",
          "in": "path",
          "description": "Draft bank account",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "summary": "Submit a draft bank account",
        "operationId": "submitDraftBankaccounts",
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Submit draft"
        ]
      }
    },
    "/marketplaceOnboarding/draftKyc": {
      "get": {
        "summary": "Search or get a list of draft Kyc",
        "operationId": "getDraftKyc",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Specify the index of the page to return (index start at 0, so first page is page=0)"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Specify the size of the page (50)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/draftKyc"
                      }
                    }
                  }
                },
                {
                  "$ref": "#/components/schemas/paginatedList"
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft KYC"
        ]
      },
      "post": {
        "summary": "Create a draft Kyc",
        "operationId": "createDraftKyc",
        "parameters": [
          {
            "in": "body",
            "name": "Draft Kyc account",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/draftKycCreateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "type": "string",
                "description": "/marketplaceOnboarding/draftKyc/{draftId}"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/components/schemas/405"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/components/schemas/409"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft KYC"
        ]
      }
    },
    "/marketplaceOnboarding/draftKyc/{draftId}": {
      "parameters": [
        {
          "name": "draftId",
          "in": "path",
          "description": "Draft KYC",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get a draft Kyc by id",
        "operationId": "getDraftKycById",
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "description": "self-onboarding-accountId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/components/schemas/draftKyc"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft KYC"
        ]
      },
      "put": {
        "summary": "Put a draft Kyc",
        "operationId": "putDraftKyc",
        "parameters": [
          {
            "in": "body",
            "name": "DraftKyc",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/draftKyc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/components/schemas/draftKyc"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft KYC"
        ]
      },
      "delete": {
        "summary": "Delete a draft Kyc",
        "operationId": "deleteDraftKyc",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/components/schemas/405delete"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft KYC"
        ]
      }
    },
    "/marketplaceOnboarding/draftKyc/{draftId}/submit": {
      "parameters": [
        {
          "name": "draftId",
          "in": "path",
          "description": "Draft KYC",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "summary": "Submit a draft KYC",
        "operationId": "submitDraftKYC",
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Submit draft"
        ]
      }
    },
    "/marketplaceOnboarding/draftSubmerchants": {
      "get": {
        "summary": "Search or get a list of submerchants",
        "operationId": "getDraftSubmerchant",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Specify the index of the page to return (index start at 0, so first page is page=0)"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Specify the size of the page (50)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/draftSubmerchant"
                      }
                    }
                  }
                },
                {
                  "$ref": "#/components/schemas/paginatedList"
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft submerchant"
        ]
      },
      "post": {
        "summary": "Create a draft Submerchant",
        "operationId": "createDraftSubmerchant",
        "parameters": [
          {
            "in": "body",
            "name": "Draft submerchant",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/draftSubmerchantCreateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "type": "string",
                "description": "/marketplaceOnboarding/draftSubmerchants/{draftId}"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/components/schemas/405"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/components/schemas/409"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft submerchant"
        ]
      }
    },
    "/marketplaceOnboarding/draftSubmerchants/{draftId}": {
      "parameters": [
        {
          "name": "draftId",
          "in": "path",
          "description": "Draft Submerchant",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get a draft submerchant",
        "operationId": "getDraftSubmerchants",
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "description": "draft-submerchantId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/components/schemas/draftSubmerchant"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft submerchant"
        ]
      },
      "put": {
        "summary": "Put a draft Submerchant",
        "operationId": "putDraftSubmerchant",
        "parameters": [
          {
            "in": "body",
            "name": "DraftSubmerchant",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/draftSubmerchant"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/components/schemas/draftSubmerchant"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft submerchant"
        ]
      },
      "delete": {
        "summary": "Delete a draft Submerchant",
        "operationId": "deleteDraftSubmerchant",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/components/schemas/405delete"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft submerchant"
        ]
      }
    },
    "/marketplaceOnboarding/draftSubmerchants/{draftId}/submit": {
      "parameters": [
        {
          "name": "draftId",
          "in": "path",
          "description": "Draft Submerchant",
          "required": true,
          "type": "string"
        }
      ],
      "post": {
        "summary": "Submit a draft Submerchant",
        "operationId": "submitDraftSubmerchant",
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Submit draft"
        ]
      }
    },
    "/marketplaceOnboarding/draftKycDetails": {
      "get": {
        "summary": "Search or get a list of Kyc details",
        "operationId": "getDraftKycDetails",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Specify the index of the page to return (index start at 0, so first page is page=0)"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Specify the size of the page (50)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/draftKycDetails"
                      }
                    }
                  }
                },
                {
                  "$ref": "#/components/schemas/paginatedList"
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft KYC details"
        ]
      },
      "post": {
        "summary": "Upload a KYC details",
        "operationId": "createDraftKycDetails",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "files",
            "in": "formData",
            "description": "myProof.pdf",
            "required": true,
            "type": "file",
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/components/schemas/draftKycDetails"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/components/schemas/405"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/components/schemas/409"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft KYC details"
        ]
      }
    },
    "/marketplaceOnboarding/draftKycDetails/{draftId}": {
      "parameters": [
        {
          "name": "draftId",
          "in": "path",
          "description": "draft-KycId",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get KYC details by Id",
        "operationId": "getDraftKycDetailsById",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/components/schemas/draftKycDetails"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft KYC details"
        ]
      },
      "put": {
        "summary": "Put a KYC Details",
        "operationId": "putDraftKycDetails",
        "parameters": [
          {
            "in": "body",
            "name": "draftKycDetails",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/draftKycDetails"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/components/schemas/405"
            }
          }
        },
        "tags": [
          "Draft KYC details"
        ]
      },
      "delete": {
        "summary": "Delete a KYC Details",
        "operationId": "deleteDraftKycDetails",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/components/schemas/405delete"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Draft KYC details"
        ]
      }
    },
    "/marketplaceOnboarding/inviteSubmerchant": {
      "get": {
        "summary": "Search or get a list of invited Submerchant",
        "operationId": "getInvitedSubmerchant",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Specify the index of the page to return (index start at 0, so first page is page=0)"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Specify the size of the page (50)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/invitedSubmerchant"
                      }
                    }
                  }
                },
                {
                  "$ref": "#/components/schemas/paginatedList"
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Invite submerchant"
        ]
      },
      "post": {
        "summary": "Invite a Submerchant",
        "operationId": "createInvitedSubmerchant",
        "parameters": [
          {
            "in": "body",
            "name": "Draft Kyc account",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inviteSubmerchantCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/components/schemas/invitedSubmerchant"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/components/schemas/405"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/components/schemas/409"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Invite submerchant"
        ]
      }
    },
    "/marketplaceOnboarding/inviteSubmerchant/{invitedSubmerchantId}": {
      "parameters": [
        {
          "name": "invitedSubmerchantId",
          "in": "path",
          "description": "inviteSubmerchantId",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get an invited Submerchant by Id",
        "operationId": "getInvitedSubmerchantById",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Specify the index of the page to return (index start at 0, so first page is page=0)"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Specify the size of the page (50)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/invitedSubmerchant"
                      }
                    }
                  }
                },
                {
                  "$ref": "#/components/schemas/paginatedList"
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Invite submerchant"
        ]
      },
      "put": {
        "summary": "Update an invited Submerchant",
        "operationId": "putInviteSubmerchant",
        "parameters": [
          {
            "in": "body",
            "name": "InviteSubmerchant",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/invitedSubmerchant"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/components/schemas/invitedSubmerchant"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Invite submerchant"
        ]
      },
      "delete": {
        "summary": "Delete an invited Submerchant",
        "operationId": "deleteInviteSubmerchantById",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/components/schemas/400"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/components/schemas/401"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/components/schemas/403"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/components/schemas/404"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/components/schemas/405delete"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Invite submerchant"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "createToken": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string",
            "description": "Grant type used to authenticate an Application. Always == client_credentials",
            "default": "client_credentials"
          },
          "client_id": {
            "type": "string",
            "description": "Your client id given by Payplug",
            "example": "clientid"
          },
          "client_secret": {
            "type": "string",
            "description": "Your client secret given by Payplug",
            "example": "24ef8558-e96c-478c-9548-76e7e6b2efe7"
          },
          "scope": {
            "type": "string",
            "description": "Your scope given by Payplug",
            "example": "myScope"
          }
        },
        "required": [
          "grant_type",
          "client_id",
          "client_secret",
          "scope"
        ]
      },
      "responseToken": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "The access token value",
            "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.NHVaYe26MbtOYhSKkoKYdFVomg4i8ZJd8_-RU8VNbftc4TSMb4bXP3l3YlNWACwyXPGffz5aXHc6lty1Y2t4SWRqGteragsVdZufDn5BlnJl9pdR_kdVFUsra2rWKEofkZeIC4yWytE58sMIihvo9H1ScmmVwBcQP6XETqYd0aSHp1gOa9RdUPDvoXQ5oqygTqVtxaDr6wUFKrKItgBMzWIdNZ6y7O9E0DhEPTbE9rfBo6KTFsHAZnMg4k68CDp2woYIaXbmYTWcvbzIuHO7_37GT79XdIwkm95QJ7hYC9RiwrV7mesbY4PAahERJawntho0my942XheVLmGwLMBkQ"
          },
          "expires_in": {
            "type": "integer",
            "format": "int32",
            "description": "The lifetime in seconds of the access token",
            "example": 900
          },
          "refresh_expires_in": {
            "type": "integer",
            "format": "int32",
            "description": "The refresh token lifetime",
            "example": 5400
          },
          "refresh_token": {
            "type": "string",
            "description": "The refresh token value",
            "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.NHVaYe26MbtOYhSKkoKYdFVomg4i8ZJd8_-RU8VNbftc4TSMb4bXP3l3YlNWACwyXPGffz5aXHc6lty1Y2t4SWRqGteragsVdZufDn5BlnJl9pdR_kdVFUsra2rWKEofkZeIC4yWytE58sMIihvo9H1ScmmVwBcQP6XETqYd0aSHp1gOa9RdUPDvoXQ5oqygTqVtxaDr6wUFKrKItgBMzWIdNZ6y7O9E0DhEPTbE9rfBo6KTFsHAZnMg4k68CDp2woYIaXbmYTWcvbzIuHO7_37GT79XdIwkm95QJ7hYC9RiwrV7mesbY4PAahERJawntho0my942XheVLmGwLMBkQ"
          },
          "token_type": {
            "type": "string",
            "default": "Bearer",
            "description": "Type of the token is set to \"Bearer\""
          },
          "not-before-policy": {
            "type": "integer",
            "format": "int32",
            "description": "Any tokens issued before that time become invalid",
            "example": 0
          },
          "session_state": {
            "type": "string",
            "description": "Internal identifier used to identify the session",
            "example": "2468b05f-ad09-42c8-a13e-6f1ea1c3e8c2"
          }
        }
      },
      "400": {
        "description": "Bad Request",
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "description": "Timestamp of the response",
            "example": 1651761800271
          },
          "status": {
            "type": "integer",
            "description": "Error code",
            "example": 400
          },
          "error": {
            "type": "string",
            "description": "Error label",
            "example": "Bad Request"
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "Bad Request"
          },
          "path": {
            "type": "string",
            "description": "Path called",
            "example": "/path/a9719a68-a483-4c3a-a277-09a717967eea",
            "format": "uri-reference"
          }
        }
      },
      "iam400badRequest": {
        "description": "Bad Request",
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "description": "Timestamp of the response",
            "example": 1651761800271
          },
          "status": {
            "type": "integer",
            "description": "Error code",
            "example": 400
          },
          "error": {
            "type": "string",
            "description": "Error label",
            "example": "Bad Request"
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "Bad Request"
          },
          "path": {
            "type": "string",
            "description": "Path called",
            "example": "/iam/token",
            "format": "uri-reference"
          }
        }
      },
      "401": {
        "description": "Unauthorized",
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "description": "Timestamp of the response",
            "example": 1651762158450
          },
          "status": {
            "type": "integer",
            "description": "Error code",
            "example": 401
          },
          "error": {
            "type": "string",
            "description": "Error label",
            "example": "Unauthorized"
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "The Token has expired on Wed Apr 13 20:05:01 UTC 2022.; nested exception is The Token has expired on Wed Apr 13 20:05:01 UTC 2022."
          },
          "path": {
            "type": "string",
            "description": "Path called",
            "example": "/path/4b2bd3c4-c5ba-4794-95b7-f8d6fed51901",
            "format": "uri-reference"
          }
        }
      },
      "iam401": {
        "description": "Unauthorized",
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "description": "Timestamp of the response",
            "example": 1651762158450
          },
          "status": {
            "type": "integer",
            "description": "Error code",
            "example": 401
          },
          "error": {
            "type": "string",
            "description": "Error label",
            "example": "Unauthorized"
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "invalid credentials"
          },
          "path": {
            "type": "string",
            "description": "Path called",
            "example": "/iam/token",
            "format": "uri-reference"
          }
        }
      },
      "403": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "description": "Timestamp of the response",
            "example": 1651762279248
          },
          "status": {
            "type": "integer",
            "description": "Error code",
            "example": 403
          },
          "error": {
            "type": "string",
            "description": "Error label",
            "example": "Forbidden"
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "You don't have access to this resource"
          },
          "path": {
            "type": "string",
            "description": "Path called",
            "example": "/path/4b2bd3c4-c5ba-4794-95b7-f8d6fed51901",
            "format": "uri-reference"
          }
        }
      },
      "iam403": {
        "description": "Forbidden",
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "description": "Timestamp of the response",
            "example": 1651762279248
          },
          "status": {
            "type": "integer",
            "description": "Error code",
            "example": 403
          },
          "error": {
            "type": "string",
            "description": "Error label",
            "example": "Forbidden"
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "You don't have access to this resource"
          },
          "path": {
            "type": "string",
            "description": "Path called",
            "example": "/iam/token",
            "format": "uri-reference"
          }
        }
      },
      "404": {
        "description": "Not Found",
        "type": "object",
        "properties": {
          "timestamp": {
            "example": 1651761668118,
            "description": "Timestamp of the response",
            "type": "integer"
          },
          "status": {
            "type": "integer",
            "description": "Error code",
            "example": 404
          },
          "error": {
            "type": "string",
            "description": "Error label",
            "example": "Not Found"
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "Resource [Submerchant] with Predicate [ baseDomain.id = a9719a68-a483-4c3a-a277-09a717967ee] not found"
          },
          "path": {
            "type": "string",
            "description": "Path called",
            "example": "/path/a9719a68-a483-4c3a-a277-09a717967ee",
            "format": "uri-reference"
          }
        }
      },
      "405": {
        "description": "Method Not Allowed",
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "description": "Timestamp of the response",
            "example": 1651762451906
          },
          "status": {
            "type": "integer",
            "description": "Error code",
            "example": 405
          },
          "error": {
            "type": "string",
            "description": "Error label",
            "example": "Method Not Allowed"
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "Request method 'PUT' not supported"
          },
          "path": {
            "type": "string",
            "description": "Path called",
            "example": "/path",
            "format": "uri-reference"
          }
        }
      },
      "405delete": {
        "description": "Method Not Allowed",
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "description": "Timestamp of the response",
            "example": 1651762451906
          },
          "status": {
            "type": "integer",
            "description": "Error code",
            "example": 405
          },
          "error": {
            "type": "string",
            "description": "Error label",
            "example": "Method Not Allowed"
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "Request method 'DELETE' not supported"
          },
          "path": {
            "type": "string",
            "description": "Path called",
            "example": "/path",
            "format": "uri-reference"
          }
        }
      },
      "409": {
        "description": "Conflict",
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "description": "Timestamp of the response",
            "example": 1651763454365
          },
          "status": {
            "type": "integer",
            "description": "Error code",
            "example": 409
          },
          "error": {
            "type": "string",
            "description": "Error label",
            "example": "Conflict"
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "Cannot process the request as it creates a duplicate entry, please update your request"
          },
          "path": {
            "type": "string",
            "description": "Path called",
            "example": "/path"
          }
        }
      },
      "paginatedList": {
        "type": "object",
        "description": "Paginated List",
        "properties": {
          "last": {
            "type": "boolean",
            "description": "If true, then this is the last page of results.",
            "readOnly": true
          },
          "totalItems": {
            "type": "number",
            "description": "Total number of records.",
            "example": 1,
            "readOnly": true
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages with records",
            "example": 1,
            "readOnly": true
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of records returned",
            "example": 50,
            "readOnly": true
          },
          "pageIndex": {
            "type": "integer",
            "description": "Page number",
            "example": 0,
            "readOnly": true
          },
          "size": {
            "type": "integer",
            "example": 50,
            "description": "Number of records requested"
          },
          "number": {
            "type": "integer",
            "example": 0,
            "description": "Page number requested"
          }
        }
      },
      "draftBankaccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "draftId",
            "example": "fd80e047-41ca-4a89-ae0c-f0b742c73e92",
            "readOnly": true
          },
          "createDate": {
            "type": "integer",
            "example": 1630416340142
          },
          "updateDate": {
            "type": "integer",
            "example": 1630416340142
          },
          "dbVersion": {
            "type": "integer",
            "example": 0
          },
          "lastUpdateReason": {
            "type": "string",
            "example": "resource creation thru REST Api"
          },
          "realmId": {
            "type": "string",
            "example": "bb1f1503-aab3-4f6b-b1d6-c1c333c626e4"
          },
          "merchantId": {
            "type": "string",
            "format": "uuid",
            "description": "merchantId",
            "example": "bb1f1503-aab3-4f6b-b1d6-c1c333c626e4"
          },
          "draftSubmerchantId": {
            "type": "string",
            "format": "uuid",
            "description": "draftSubmerchantId",
            "example": "bb1f1503-aab3-4f6b-b1d6-c1c333c626e4"
          },
          "externalSubmerchantId": {
            "type": "string",
            "format": "uuid",
            "description": "externalSubmerchantId",
            "example": "bb1f1503-aab3-4f6b-b1d6-c1c333c626e4"
          },
          "bic": {
            "type": "string",
            "description": "bic",
            "example": "CCBPFRPPGRE"
          },
          "bankAccount": {
            "type": "string",
            "description": "IBAN",
            "example": "FR7616807004220012345678966"
          },
          "type": {
            "type": "string",
            "example": "IBAN",
            "description": "always equal to IBAN"
          },
          "displayName": {
            "type": "string",
            "example": "my bank account",
            "description": "bank account label"
          },
          "isMine": {
            "type": "boolean",
            "example": true
          },
          "main": {
            "type": "boolean",
            "example": true
          },
          "holder": {
            "$ref": "#/components/schemas/holder"
          },
          "status": {
            "type": "string",
            "example": "COMPLETE",
            "description": "status of the draft",
            "enum": [
              "INCOMPLETE",
              "COMPLETE",
              "REJECTED",
              "CREATED",
              "FAILED"
            ]
          },
          "message": {
            "type": "string",
            "description": "message for the draft process"
          }
        }
      },
      "draftBankaccountCreateRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "format": "uuid",
            "description": "merchantId",
            "example": "bb1f1503-aab3-4f6b-b1d6-c1c333c626e4"
          },
          "draftSubmerchantId": {
            "type": "string",
            "format": "uuid",
            "description": "draftSubmerchantId",
            "example": "bb1f1503-aab3-4f6b-b1d6-c1c333c626e4"
          },
          "externalSubmerchantId": {
            "type": "string",
            "format": "uuid",
            "description": "externalSubmerchantId",
            "example": "bb1f1503-aab3-4f6b-b1d6-c1c333c626e4"
          },
          "bic": {
            "type": "string",
            "description": "bic",
            "example": "CCBPFRPPGRE"
          },
          "bankAccount": {
            "type": "string",
            "description": "IBAN",
            "example": "FR7616807004220012345678966"
          },
          "type": {
            "type": "string",
            "example": "IBAN",
            "description": "always equal to IBAN"
          },
          "displayName": {
            "type": "string",
            "example": "my bank account",
            "description": "bank account label"
          },
          "isMine": {
            "type": "boolean",
            "example": true
          },
          "main": {
            "type": "boolean",
            "example": true
          },
          "holder": {
            "$ref": "#/components/schemas/holder"
          }
        },
        "required": [
          "draftSubmerchantId",
          "bic",
          "bankAccount",
          "displayName"
        ]
      },
      "draftSubmerchant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Self-onboarding-account id",
            "example": "fd80e047-41ca-4a89-ae0c-f0b742c73e92",
            "readOnly": true
          },
          "createDate": {
            "type": "integer",
            "example": 1630416340142
          },
          "updateDate": {
            "type": "integer",
            "example": 1630416340142
          },
          "dbVersion": {
            "type": "integer",
            "example": 0
          },
          "lastUpdateReason": {
            "type": "string",
            "example": "resource creation thru REST Api"
          },
          "realmId": {
            "type": "string",
            "example": "bb1f1503-aab3-4f6b-b1d6-c1c333c626e4"
          },
          "operatorId": {
            "type": "string",
            "description": "operatorId",
            "example": "bb1f1503-aab3-4f6b-b1d6-c1c333c626e4"
          },
          "submerchantType": {
            "type": "string",
            "example": "COMPANY",
            "description": "type of the submerchant",
            "enum": [
              "COMPANY",
              "ASSOCIATION",
              "INDIVIDUAL"
            ]
          },
          "totalMandatorySteps": {
            "type": "integer",
            "description": "totalMandatorySteps",
            "example": "1"
          },
          "details": {
            "$ref": "#/components/schemas/details"
          },
          "address": {
            "$ref": "#/components/schemas/address"
          },
          "company": {
            "$ref": "#/components/schemas/company"
          },
          "legalRepresentative": {
            "$ref": "#/components/schemas/legalRepresentative"
          },
          "status": {
            "type": "string",
            "example": "COMPLETE",
            "description": "status of the draft",
            "enum": [
              "INCOMPLETE",
              "COMPLETE",
              "REJECTED",
              "CREATED",
              "FAILED"
            ]
          },
          "message": {
            "type": "string",
            "description": "message for the draft process"
          }
        },
        "required": [
          "realmId",
          "operatorId",
          "submerchantType"
        ]
      },
      "draftSubmerchantCreateRequest": {
        "type": "object",
        "properties": {
          "operatorId": {
            "type": "string",
            "description": "operatorId",
            "example": "bb1f1503-aab3-4f6b-b1d6-c1c333c626e4"
          },
          "submerchantType": {
            "type": "string",
            "example": "COMPANY",
            "description": "Type of submerchant",
            "enum": [
              "COMPANY",
              "ASSOCIATION",
              "INDIVIDUAL"
            ]
          },
          "details": {
            "$ref": "#/components/schemas/details"
          },
          "address": {
            "$ref": "#/components/schemas/address"
          },
          "company": {
            "$ref": "#/components/schemas/company"
          },
          "legalRepresentative": {
            "$ref": "#/components/schemas/legalRepresentative"
          }
        },
        "required": [
          "realmId",
          "operatorId",
          "submerchantType"
        ]
      },
      "draftKyc": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "draftKyc id",
            "example": "fd80e047-41ca-4a89-ae0c-f0b742c73e92",
            "readOnly": true
          },
          "createDate": {
            "type": "integer",
            "example": 1630416340142
          },
          "updateDate": {
            "type": "integer",
            "example": 1630416340142
          },
          "dbVersion": {
            "type": "integer",
            "example": 0
          },
          "lastUpdateReason": {
            "type": "string",
            "example": "resource creation thru REST Api"
          },
          "realmId": {
            "type": "string",
            "example": "bb1f1503-aab3-4f6b-b1d6-c1c333c626e4"
          },
          "draftSubmerchantId": {
            "type": "string",
            "description": "draftSubmerchantId reference",
            "example": "1234"
          },
          "merchantId": {
            "type": "string",
            "description": "merchantId",
            "example": "My Company"
          },
          "externalSubmerchantId": {
            "type": "string",
            "description": "externalSubmerchantId",
            "example": "myCompanyId001"
          },
          "extraInfo": {
            "$ref": "#/components/schemas/extraInfo"
          },
          "status": {
            "type": "string",
            "example": "COMPLETE",
            "description": "status of the payout",
            "enum": [
              "COMPLETE",
              "REJECTED",
              "FAILED",
              "CREATED",
              "INCOMPLETE"
            ]
          },
          "message": {
            "type": "string",
            "example": "Commissions of completed orders",
            "description": "Message for this payout"
          }
        },
        "required": [
          "realmId",
          "draftSubmerchantId",
          "externalSubmerchantId",
          "extraInfo"
        ]
      },
      "draftKycCreateRequest": {
        "type": "object",
        "properties": {
          "draftSubmerchantId": {
            "type": "string",
            "description": "draftSubmerchantId reference",
            "example": "1234"
          },
          "merchantId": {
            "type": "string",
            "description": "merchantId",
            "example": "My Company"
          },
          "externalSubmerchantId": {
            "type": "string",
            "description": "externalSubmerchantId",
            "example": "myCompanyId001"
          },
          "extraInfo": {
            "$ref": "#/components/schemas/extraInfo"
          }
        },
        "required": [
          "realmId",
          "draftSubmerchantId",
          "externalSubmerchantId"
        ]
      },
      "draftKycDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Id of the uploaded file",
            "example": "fd80e047-41ca-4a89-ae0c-f0b742c73e92",
            "readOnly": true
          },
          "createDate": {
            "type": "integer",
            "example": 1630416340142
          },
          "updateDate": {
            "type": "integer",
            "example": 1630416340142
          },
          "dbVersion": {
            "type": "integer",
            "example": 0
          },
          "lastUpdateReason": {
            "type": "string",
            "example": "resource creation thru REST Api"
          },
          "realmId": {
            "type": "string",
            "example": "bb1f1503-aab3-4f6b-b1d6-c1c333c626e4"
          },
          "fileId": {
            "type": "string",
            "format": "UUID",
            "description": "fileId of the uploaded file",
            "example": "bb1f1503-aab3-4f6b-b1d6-c1c333c626e4"
          }
        }
      },
      "inviteSubmerchantCreateRequest": {
        "type": "object",
        "properties": {
          "realmId": {
            "type": "string",
            "example": "bb1f1503-aab3-4f6b-b1d6-c1c333c626e4"
          },
          "operatorId": {
            "example": "46201e4f-1c08-4fe4-9126-d098d7da1bd6"
          },
          "civility": {
            "type": "string",
            "description": "civility",
            "example": "Mr"
          },
          "firstName": {
            "type": "string",
            "description": "firstName",
            "example": "Jean"
          },
          "lastName": {
            "type": "string",
            "description": "lastName",
            "example": "Dupont"
          },
          "email": {
            "description": "Email",
            "example": "jean.dupont@mycompany.com"
          },
          "externalSubmerchantId": {
            "type": "string",
            "description": "External Submerchant Id",
            "example": "ExtId9305389177"
          },
          "token": {
            "type": "string",
            "example": "24ef8558-e96c-478c-9548-76e7e6b2efe7"
          },
          "thirdIntroduced": {
            "type": "boolean",
            "example": true
          },
          "tokenStatus": {
            "type": "string",
            "example": "VALID",
            "enum": [
              "VALID",
              "EXPIRED",
              "USED"
            ]
          },
          "draftSubmerchantId": {
            "format": "UUID",
            "example": "24ef8558-e96c-478c-9548-76e7e6b2efe7"
          }
        },
        "required": [
          "operatorId",
          "civility",
          "firstName",
          "lastName",
          "email",
          "externalSubmerchantId"
        ]
      },
      "invitedSubmerchant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Self-onboarding-account id",
            "example": "fd80e047-41ca-4a89-ae0c-f0b742c73e92",
            "readOnly": true
          },
          "createDate": {
            "type": "integer",
            "example": 1630416340142
          },
          "updateDate": {
            "type": "integer",
            "example": 1630416340142
          },
          "dbVersion": {
            "type": "integer",
            "example": 0
          },
          "lastUpdateReason": {
            "type": "string",
            "example": "resource creation thru REST Api"
          },
          "realmId": {
            "type": "string",
            "example": "bb1f1503-aab3-4f6b-b1d6-c1c333c626e4"
          },
          "operatorId": {
            "example": "46201e4f-1c08-4fe4-9126-d098d7da1bd6"
          },
          "civility": {
            "type": "string",
            "description": "civility",
            "example": "Mr"
          },
          "firstName": {
            "type": "string",
            "description": "firstName",
            "example": "Jean"
          },
          "lastName": {
            "type": "string",
            "description": "lastName",
            "example": "Dupont"
          },
          "email": {
            "description": "Email",
            "example": "jean.dupont@mycompany.com"
          },
          "externalSubmerchantId": {
            "type": "string",
            "description": "External Submerchant Id",
            "example": "ExtId9305389177"
          },
          "token": {
            "type": "string",
            "example": "24ef8558-e96c-478c-9548-76e7e6b2efe7"
          },
          "thirdIntroduced": {
            "type": "boolean",
            "example": true
          },
          "tokenStatus": {
            "type": "string",
            "example": "VALID",
            "enum": [
              "VALID",
              "EXPIRED",
              "USED"
            ]
          },
          "draftSubmerchantId": {
            "format": "UUID",
            "example": "24ef8558-e96c-478c-9548-76e7e6b2efe7"
          }
        }
      },
      "holder": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "example": "JEAN",
            "maxLength": 70,
            "description": "First name of the bank account holder"
          },
          "lastName": {
            "type": "string",
            "example": "DUPONT",
            "maxLength": 70,
            "description": "Last name of the bank account holder"
          }
        }
      },
      "details": {
        "type": "object",
        "properties": {
          "submerchantName": {
            "type": "string",
            "description": "Legal name of Submerchant",
            "example": "Decathlon"
          },
          "externalSubmerchantId": {
            "type": "string",
            "description": "External Submerchant Id",
            "example": "ExtId9305389177"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category Code of the merchant",
            "example": 482
          },
          "currency": {
            "type": "string",
            "description": "Currency",
            "example": "EUR"
          },
          "vatNumber": {
            "type": "string",
            "description": "Vat Number",
            "example": "FR12345678901"
          },
          "thirdPartyIntroduction": {
            "type": "string",
            "example": "Default false"
          },
          "status": {
            "type": "string",
            "example": "COMPLETE",
            "description": "status of this step",
            "enum": [
              "COMPLETE",
              "INCOMPLETE"
            ]
          },
          "message": {
            "type": "string",
            "description": "Message for this draft submerchant"
          }
        }
      },
      "address": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "Address"
          },
          "zipCode": {
            "type": "string",
            "description": "zipCode",
            "example": 92300
          },
          "city": {
            "type": "string",
            "description": "City",
            "example": "Paris"
          },
          "country": {
            "type": "string",
            "description": "Country",
            "example": "FR"
          },
          "status": {
            "type": "string",
            "example": "COMPLETE",
            "description": "status of this step",
            "enum": [
              "COMPLETE",
              "INCOMPLETE"
            ]
          },
          "message": {
            "type": "string",
            "description": "Message for this draft submerchant"
          }
        }
      },
      "company": {
        "type": "object",
        "properties": {
          "siret": {
            "type": "string",
            "description": "Mandatory if the address.country == FR Don't send siret if the address.country != FR",
            "example": 44322268200066
          },
          "nafCode": {
            "type": "string",
            "description": "nafCode",
            "example": "4941A"
          },
          "status": {
            "type": "string",
            "example": "COMPLETE",
            "description": "status of this step",
            "enum": [
              "COMPLETE",
              "INCOMPLETE"
            ]
          },
          "message": {
            "type": "string",
            "description": "Message for this draft submerchant"
          }
        }
      },
      "legalRepresentative": {
        "type": "object",
        "properties": {
          "civility": {
            "type": "string",
            "description": "civility",
            "example": "Mr"
          },
          "firstName": {
            "type": "string",
            "description": "firstName",
            "example": "Jean"
          },
          "lastName": {
            "type": "string",
            "description": "lastName",
            "example": "Dupont"
          },
          "birthDate": {
            "type": "string",
            "description": "birthDate",
            "example": "09-05-1992"
          },
          "birthCity": {
            "type": "string",
            "description": "birthCity",
            "example": "Paris"
          },
          "birthCountry": {
            "type": "string",
            "description": "birthCountry",
            "example": "FR"
          },
          "status": {
            "type": "string",
            "example": "COMPLETE",
            "description": "status of this step",
            "enum": [
              "COMPLETE",
              "INCOMPLETE"
            ]
          },
          "message": {
            "type": "string",
            "description": "Message for this draft submerchant"
          }
        }
      },
      "extraInfo": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string",
            "example": "myProof.pdf"
          },
          "documentType": {
            "type": "string",
            "enum": [
              "BANKACCOUNT",
              "FATCA",
              "REGISTRATION",
              "ARTICLES",
              "ACTIVITY",
              "ATTORNEY",
              "ATTORNEYID"
            ],
            "example": "BANKACCOUNT"
          },
          "fileId": {
            "type": "string",
            "description": "Id of the uploaded file",
            "example": "fd80e047-41ca-4a89-ae0c-f0b742c73e92"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}