{
  "openapi": "3.0.3",
  "info": {
    "title": "SnapShooter API",
    "version": "1.0.0",
    "description": "SnapShooter provides a REST API for managing cloud backups, including SSH keys, servers, storage, backup jobs, schedules, and restore operations. The API is currently in Alpha status.",
    "x-jentic-source-url": "https://snapshooter.com/api"
  },
  "servers": [
    {
      "url": "https://api.snapshooter.com/v1"
    }
  ],
  "paths": {
    "/team": {
      "get": {
        "operationId": "getTeam",
        "summary": "Get team information",
        "description": "Retrieves the current team information.",
        "tags": [
          "Team"
        ],
        "responses": {
          "200": {
            "description": "Team information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/ssh-keys": {
      "get": {
        "operationId": "listSshKeys",
        "summary": "List SSH keys",
        "description": "Retrieves all SSH keys for the team.",
        "tags": [
          "SSH Keys"
        ],
        "responses": {
          "200": {
            "description": "List of SSH keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createSshKey",
        "summary": "Create SSH key",
        "description": "Creates a new SSH key.",
        "tags": [
          "SSH Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "public_key": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSH key created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/servers": {
      "get": {
        "operationId": "listServers",
        "summary": "List servers",
        "description": "Retrieves all configured servers.",
        "tags": [
          "Servers"
        ],
        "responses": {
          "200": {
            "description": "List of servers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "addServer",
        "summary": "Add a server",
        "description": "Adds a new server for backup management.",
        "tags": [
          "Servers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Server added"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/storage": {
      "get": {
        "operationId": "listStorage",
        "summary": "List storage destinations",
        "description": "Retrieves all configured storage destinations.",
        "tags": [
          "Storage"
        ],
        "responses": {
          "200": {
            "description": "List of storage destinations"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "addStorage",
        "summary": "Add storage destination",
        "description": "Adds a new storage destination for backups.",
        "tags": [
          "Storage"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Storage added"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "operationId": "listJobs",
        "summary": "List backup jobs",
        "description": "Retrieves all configured backup jobs.",
        "tags": [
          "Jobs"
        ],
        "responses": {
          "200": {
            "description": "List of backup jobs"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createJob",
        "summary": "Create backup job",
        "description": "Creates a new backup job configuration.",
        "tags": [
          "Jobs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "operationId": "getJob",
        "summary": "Get backup job",
        "description": "Retrieves details of a specific backup job.",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateJob",
        "summary": "Update backup job",
        "description": "Updates an existing backup job.",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteJob",
        "summary": "Delete backup job",
        "description": "Deletes a backup job.",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/backup-solutions": {
      "get": {
        "operationId": "listBackupSolutions",
        "summary": "List backup solutions",
        "description": "Retrieves available backup solutions.",
        "tags": [
          "Backups"
        ],
        "responses": {
          "200": {
            "description": "List of backup solutions"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token obtained from team settings at https://app.snapshooter.com/settings/api"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}