{
  "openapi": "3.0.3",
  "info": {
    "title": "Site24x7 API",
    "version": "2.0",
    "description": "REST API for Site24x7 website and infrastructure monitoring platform. Manage monitors, monitor groups, MSP customers, and retrieve monitoring data.",
    "x-jentic-source-url": "https://www.site24x7.com/help/api/"
  },
  "servers": [
    {
      "url": "https://www.site24x7.com"
    }
  ],
  "paths": {
    "/api/device_key": {
      "get": {
        "operationId": "getDeviceKey",
        "summary": "Get device key",
        "description": "Retrieves the account device key.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Device key retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/monitors": {
      "get": {
        "operationId": "listMonitors",
        "summary": "List all monitors",
        "description": "Retrieves a list of all configured monitors.",
        "tags": [
          "Monitors"
        ],
        "responses": {
          "200": {
            "description": "List of monitors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createMonitor",
        "summary": "Create monitor",
        "description": "Creates a new monitor with the specified configuration.",
        "tags": [
          "Monitors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitor created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/monitors/{monitor_id}": {
      "get": {
        "operationId": "getMonitor",
        "summary": "Get monitor",
        "description": "Retrieves details of a specific monitor.",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "path",
            "required": true,
            "description": "Monitor ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateMonitor",
        "summary": "Update monitor",
        "description": "Updates an existing monitor configuration.",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "path",
            "required": true,
            "description": "Monitor ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitor updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMonitor",
        "summary": "Delete monitor",
        "description": "Deletes a specific monitor.",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "path",
            "required": true,
            "description": "Monitor ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/monitor_groups": {
      "get": {
        "operationId": "listMonitorGroups",
        "summary": "List monitor groups",
        "description": "Retrieves all monitor groups.",
        "tags": [
          "Monitor Groups"
        ],
        "responses": {
          "200": {
            "description": "List of monitor groups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createMonitorGroup",
        "summary": "Create monitor group",
        "description": "Creates a new monitor group.",
        "tags": [
          "Monitor Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitor group created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/short/msp/customers": {
      "get": {
        "operationId": "listMspCustomers",
        "summary": "List MSP customers",
        "description": "Retrieves a list of MSP customers.",
        "tags": [
          "MSP"
        ],
        "responses": {
          "200": {
            "description": "List of MSP customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/short/bu/business_units": {
      "get": {
        "operationId": "listBusinessUnits",
        "summary": "List business units",
        "description": "Retrieves a list of business units.",
        "tags": [
          "MSP"
        ],
        "responses": {
          "200": {
            "description": "List of business units",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/monitor_type_constants": {
      "get": {
        "operationId": "getMonitorTypeConstants",
        "summary": "Get monitor type constants",
        "description": "Retrieves the list of monitor type constants.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Monitor type constants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "MonitorRequest": {
        "type": "object",
        "properties": {
          "display_name": {
            "type": "string",
            "description": "Display name for the monitor"
          },
          "type": {
            "type": "string",
            "description": "Monitor type (e.g., URL, PING, etc.)"
          },
          "website": {
            "type": "string",
            "description": "URL or hostname to monitor"
          },
          "check_frequency": {
            "type": "string",
            "description": "Monitoring frequency in minutes"
          },
          "timeout": {
            "type": "integer",
            "description": "Timeout in seconds"
          },
          "location_profile_id": {
            "type": "string",
            "description": "Location profile ID"
          },
          "notification_profile_id": {
            "type": "string",
            "description": "Notification profile ID"
          },
          "threshold_profile_id": {
            "type": "string",
            "description": "Threshold profile ID"
          },
          "monitor_groups": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of monitor group IDs"
          }
        }
      },
      "Monitor": {
        "type": "object",
        "properties": {
          "monitor_id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "check_frequency": {
            "type": "string"
          },
          "state": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "created_time": {
            "type": "string"
          },
          "last_polled_time": {
            "type": "string"
          }
        }
      },
      "MonitorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Monitor"
          }
        }
      },
      "MonitorListResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Monitor"
            }
          }
        }
      },
      "MonitorGroupRequest": {
        "type": "object",
        "properties": {
          "display_name": {
            "type": "string",
            "description": "Monitor group name"
          },
          "description": {
            "type": "string"
          },
          "monitors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Monitor IDs to include"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "error_code": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "zohoOAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Zoho OAuth 2.0 access token. Use the header format: Authorization: Zoho-oauthtoken {access_token}"
      }
    }
  },
  "security": [
    {
      "zohoOAuth": []
    }
  ]
}