{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "x-twitter": "tradeworks_tech"
    },
    "description": "Authentication is required to access all methods of the API. Enter username and password.\n                Credentials are automatically set as you type.",
    "title": "Tradeworks",
    "version": "1.0",
    "x-apisguru-categories": [
      "financial"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/magick.nu/1.0/swagger.json",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_tradeworks_tech_profile_image.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.6.2"
        },
        "format": "swagger",
        "url": "http://devui.magick.nu/api/api-docs",
        "version": "1.2"
      }
    ],
    "x-providerName": "magick.nu"
  },
  "servers": [
    {
      "url": "http://devui.magick.nu/rest"
    }
  ],
  "paths": {
    "/strategies/strategyId/{strategyId}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "strategyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "strategies"
        ],
        "description": "Get Strategy by ID",
        "operationId": "getStrategiesStrategyIdStrategyId",
        "summary": "Get Strategy by ID"
      }
    },
    "/strategies/templates": {
      "get": {
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "strategies"
        ],
        "description": "Get all Template Strategies",
        "operationId": "getStrategiesTemplates",
        "summary": "Get all Template Strategies"
      }
    },
    "/tradingAccounts": {
      "post": {
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "tradingAccounts"
        ],
        "description": "Add a Trading Account",
        "operationId": "postTradingAccounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TradingAccount"
              }
            }
          },
          "required": true
        },
        "summary": "Add a Trading Account"
      }
    },
    "/tradingAccounts/password/{username}/{brokerserver}/{mt4username}": {
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "brokerserver",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "mt4username",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "tradingAccounts"
        ],
        "description": "Update MT4 Account Password",
        "operationId": "putTradingAccountsPasswordUsernameBrokerserverMt4username",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordDTO"
              }
            }
          },
          "required": true
        },
        "summary": "Update MT4 Account Password"
      }
    },
    "/users": {
      "post": {
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "users"
        ],
        "description": "Create a new Tradeworks User",
        "operationId": "postUsers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDTO"
              }
            }
          },
          "required": true
        },
        "summary": "Create a new Tradeworks User"
      }
    },
    "/users/email/{email}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "users"
        ],
        "description": "Check if email is available",
        "operationId": "getUsersEmailEmail",
        "summary": "Check if email is available"
      }
    },
    "/users/password/{username}": {
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "users"
        ],
        "description": "Update user's password",
        "operationId": "putUsersPasswordUsername",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordDTO"
              }
            }
          },
          "required": true
        },
        "summary": "Update user's password"
      }
    },
    "/users/username/{username}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "users"
        ],
        "description": "Check if username is available",
        "operationId": "getUsersUsernameUsername",
        "summary": "Check if username is available"
      }
    }
  },
  "components": {
    "requestBodies": {
      "PasswordDTO": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PasswordDTO"
            }
          }
        },
        "required": true
      }
    },
    "schemas": {
      "PasswordDTO": {
        "properties": {
          "newPassword": {
            "type": "string"
          },
          "oldPassword": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "TradingAccount": {
        "properties": {
          "brokerServer": {
            "type": "string"
          },
          "magickUsername": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "username": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "UserDTO": {
        "properties": {
          "affiliateId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "subscriptionType": {
            "type": "string"
          },
          "username": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "tags": [
    {
      "name": "strategies"
    },
    {
      "name": "tradingAccounts"
    },
    {
      "name": "users"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}