{
  "openapi": "3.0.0",
  "info": {
    "title": "SlideRoom API V2",
    "version": "v2",
    "x-jentic-source-url": "https://api.slideroom.com/schema/v2"
  },
  "servers": [
    {
      "url": "https://api.slideroom.com/"
    }
  ],
  "paths": {
    "/api/v2/applicant/attributes": {
      "delete": {
        "parameters": [
          {
            "description": "The email address of the applicant.",
            "in": "query",
            "name": "email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the attribute to be deleted.",
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pool",
            "required": false,
            "schema": {
              "enum": [
                "Standard",
                "CommonAppSDS"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "commonAppYear",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Applicant"
        ],
        "operationId": "Applicant_DeleteAttributesV2",
        "summary": "Deletes a custom attribute for an applicant."
      },
      "get": {
        "parameters": [
          {
            "description": "The email address of the applicant.",
            "in": "query",
            "name": "email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pool",
            "required": false,
            "schema": {
              "enum": [
                "Standard",
                "CommonAppSDS"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "commonAppYear",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "name1": "Value1",
                      "name2": "Value2"
                    }
                  }
                },
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Applicant"
        ],
        "operationId": "Applicant_GetAttributesV2",
        "summary": "Gets the custom attributes for an applicant."
      },
      "post": {
        "parameters": [
          {
            "description": "The email address of the applicant.",
            "in": "query",
            "name": "email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pool",
            "required": false,
            "schema": {
              "enum": [
                "Standard",
                "CommonAppSDS"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "commonAppYear",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Applicant"
        ],
        "description": "This method only adds or updates attributes. Null values will be updated as nulls, but not deleted. API Import is available in the Advanced Plan.",
        "operationId": "Applicant_PostAttributesV2",
        "requestBody": {
          "$ref": "#/components/requestBodies/Application_PostAttributesV2Data"
        },
        "summary": "Updates the custom attributes for an applicant."
      }
    },
    "/api/v2/applicant/attributes/names": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Applicant"
        ],
        "operationId": "Applicant_GetAttributeNamesV2",
        "summary": "Gets the custom applicant attributes used by the organization."
      }
    },
    "/api/v2/application/attributes/names": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Application"
        ],
        "operationId": "Application_GetAttributeNamesV2",
        "summary": "Gets the custom application attributes used by the organization."
      }
    },
    "/api/v2/application/request-export": {
      "post": {
        "parameters": [
          {
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "enum": [
                "csv",
                "tsv",
                "txt",
                "tab",
                "xlsx",
                "pdf",
                "zip",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "roundType",
            "required": false,
            "schema": {
              "enum": [
                "Assigned",
                "Current",
                "Named",
                "All"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "roundName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tab.export",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeForms",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeReferences",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeMedia",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeApplicantAttachments",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeOrganizationAttachments",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeRatings",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeFullPageMedia",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeHighlights",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeComments",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeCommonApp",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.originalMedia",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.includeForms",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.includeReferences",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.includeMedia",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.includeApplicantAttachments",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.includeOrganizationAttachments",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.includeRatings",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.includeComments",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.includeCommonApp",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "delivery.account",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "delivery.folder",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "since",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pool",
            "required": false,
            "schema": {
              "enum": [
                "All",
                "Current",
                "Archived",
                "CommonAppSDS"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "enum": [
                "All",
                "InProgress",
                "Submitted"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "searchName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "email",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestApplicationExportResultV2"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RequestApplicationExportResultV2"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestApplicationExportResultV2"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RequestApplicationExportResultV2"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Application"
        ],
        "description": "Exports are generated asynchronously within SlideRoom.  To retrieve the export file generated by this request, use the api/v#/export/{token} endpoint to check the progress/result of the generation process.\r\nPDF and ZIP exports are available in the Advanced Plan.",
        "operationId": "Application_RequestExportV2",
        "summary": "Requests the generation of application export files (tabular, pdf, zip)."
      }
    },
    "/api/v2/application/{applicationId}/attributes": {
      "delete": {
        "parameters": [
          {
            "description": "The ID of the application.",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the attribute to be deleted.",
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Application"
        ],
        "operationId": "Application_DeleteAttributesV2",
        "summary": "Deletes a custom attribute for an application."
      },
      "get": {
        "parameters": [
          {
            "description": "The ID of the application.",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "name1": "Value1",
                      "name2": "Value2"
                    }
                  }
                },
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Application"
        ],
        "operationId": "Application_GetAttributesV2",
        "summary": "Gets the custom attributes for an application."
      },
      "post": {
        "parameters": [
          {
            "description": "The ID of the application.",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Application"
        ],
        "description": "This method only adds or updates attributes. Null values will be updated as nulls, but not deleted.",
        "operationId": "Application_PostAttributesV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": {
                  "type": "string"
                },
                "example": {
                  "name1": "Value1",
                  "name2": "Value2"
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "additionalProperties": {
                  "type": "string"
                },
                "example": {
                  "name1": "Value1",
                  "name2": "Value2"
                },
                "type": "object"
              }
            },
            "application/xml": {
              "schema": {
                "additionalProperties": {
                  "type": "string"
                },
                "example": {
                  "name1": "Value1",
                  "name2": "Value2"
                },
                "type": "object"
              }
            },
            "text/json": {
              "schema": {
                "additionalProperties": {
                  "type": "string"
                },
                "example": {
                  "name1": "Value1",
                  "name2": "Value2"
                },
                "type": "object"
              }
            },
            "text/xml": {
              "schema": {
                "additionalProperties": {
                  "type": "string"
                },
                "example": {
                  "name1": "Value1",
                  "name2": "Value2"
                },
                "type": "object"
              }
            }
          },
          "description": "The name/value pairs of the attributes.",
          "required": true
        },
        "summary": "Updates the custom attributes for an application. API Import is available in the Advanced Plan."
      }
    },
    "/api/v2/application/{applicationId}/request-export": {
      "post": {
        "parameters": [
          {
            "description": "The id of the application to export",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "enum": [
                "csv",
                "tsv",
                "txt",
                "tab",
                "xlsx",
                "pdf",
                "zip",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "roundType",
            "required": false,
            "schema": {
              "enum": [
                "Assigned",
                "Current",
                "Named",
                "All"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "roundName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tab.export",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeForms",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeReferences",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeMedia",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeApplicantAttachments",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeOrganizationAttachments",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeRatings",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeFullPageMedia",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeHighlights",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeComments",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "pdf.includeCommonApp",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.originalMedia",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.includeForms",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.includeReferences",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.includeMedia",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.includeApplicantAttachments",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.includeOrganizationAttachments",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.includeRatings",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.includeComments",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "zip.includeCommonApp",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "delivery.account",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "delivery.folder",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestApplicationExportResultV2"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RequestApplicationExportResultV2"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestApplicationExportResultV2"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RequestApplicationExportResultV2"
                }
              }
            },
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "tags": [
          "Application"
        ],
        "description": "Exports are generated asynchronously within SlideRoom.  To retrieve the export file generated by this request, use the api/v#/export/{token} endpoint to check the progress/result of the generation process.",
        "operationId": "Application_RequestExportByApplicationIdV2",
        "summary": "Requests the generation of a single application export file (tabular, pdf, zip)."
      }
    },
    "/api/v2/export/{token}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "token",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportResultV2"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExportResultV2"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportResultV2"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ExportResultV2"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Export"
        ],
        "operationId": "Export_GetV2",
        "summary": "Gets the status/result of a requested export."
      }
    }
  },
  "components": {
    "requestBodies": {
      "Application_PostAttributesV2Data": {
        "content": {
          "application/json": {
            "schema": {
              "additionalProperties": {
                "type": "string"
              },
              "example": {
                "name1": "Value1",
                "name2": "Value2"
              },
              "type": "object"
            }
          },
          "application/x-www-form-urlencoded": {
            "schema": {
              "additionalProperties": {
                "type": "string"
              },
              "example": {
                "name1": "Value1",
                "name2": "Value2"
              },
              "type": "object"
            }
          },
          "application/xml": {
            "schema": {
              "additionalProperties": {
                "type": "string"
              },
              "example": {
                "name1": "Value1",
                "name2": "Value2"
              },
              "type": "object"
            }
          },
          "text/json": {
            "schema": {
              "additionalProperties": {
                "type": "string"
              },
              "example": {
                "name1": "Value1",
                "name2": "Value2"
              },
              "type": "object"
            }
          },
          "text/xml": {
            "schema": {
              "additionalProperties": {
                "type": "string"
              },
              "example": {
                "name1": "Value1",
                "name2": "Value2"
              },
              "type": "object"
            }
          }
        },
        "description": "The name/value pairs of the attributes.",
        "required": true
      }
    },
    "schemas": {
      "ExportResultV2": {
        "properties": {
          "completed_files": {
            "format": "int32",
            "type": "integer"
          },
          "file_urls": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "status": {
            "type": "string"
          },
          "total_files": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "RequestApplicationExportResultV2": {
        "properties": {
          "message": {
            "type": "string"
          },
          "submissions": {
            "format": "int32",
            "type": "integer"
          },
          "token": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      }
    }
  }
}