{
  "openapi": "3.0.3",
  "info": {
    "title": "TalentHR API",
    "version": "1.0.0",
    "description": "The TalentHR API provides tools and resources to integrate TalentHR with internal software. Manage employees, job positions, time off, benefits, assets, documents, and more.",
    "x-jentic-source-url": "https://apidocs.talenthr.io/"
  },
  "servers": [
    {
      "url": "https://pubapi.talenthr.io"
    }
  ],
  "tags": [
    {
      "name": "Applicant Tracking System"
    },
    {
      "name": "Applicant Tracking System (Job Positions)"
    },
    {
      "name": "Assets"
    },
    {
      "name": "Benefit"
    },
    {
      "name": "Benefit (Categories)"
    },
    {
      "name": "Calendar"
    },
    {
      "name": "Departments"
    },
    {
      "name": "Directory"
    },
    {
      "name": "Divisions"
    },
    {
      "name": "Documents"
    },
    {
      "name": "Domain Settings"
    },
    {
      "name": "Employee"
    },
    {
      "name": "Employee (Education Records)"
    },
    {
      "name": "Holidays"
    },
    {
      "name": "Job Titles"
    },
    {
      "name": "Locations"
    },
    {
      "name": "Task Management (Task Categories)"
    },
    {
      "name": "Task Management (Tasks)"
    },
    {
      "name": "Time off (Blocked period)"
    },
    {
      "name": "Time off (Types)"
    }
  ],
  "paths": {
    "/v1/timezones": {
      "get": {
        "tags": [
          "Domain Settings"
        ],
        "summary": "Get all system's timezones",
        "operationId": "getTimezones",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API endpoint to get the available timezones.\n\nThis API endpoint retrieves a list of available timezones supported by the system."
      }
    },
    "/v1/languages": {
      "get": {
        "tags": [
          "Domain Settings"
        ],
        "summary": "Get all languages",
        "operationId": "getLanguages",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API endpoint to get the available languages.\n\nThis API endpoint retrieves a list of available languages supported by the system."
      }
    },
    "/v1/countries": {
      "get": {
        "tags": [
          "Domain Settings"
        ],
        "summary": "Get all countries",
        "operationId": "getCountries",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API endpoint to get the available countries.\n\nThis API endpoint retrieves a list of available countries supported by the system."
      }
    },
    "/v1/nationalities": {
      "get": {
        "tags": [
          "Domain Settings"
        ],
        "summary": "Get all nationalities",
        "operationId": "getNationalities",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API endpoint to get the available nationalities.\n\nThis API endpoint retrieves a list of available nationalities supported by the system."
      }
    },
    "/v1/education-levels": {
      "get": {
        "tags": [
          "Domain Settings"
        ],
        "summary": "Get the education Levels",
        "operationId": "getEducationlevels",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API endpoint to get all available education levels.\n\nThis API endpoint retrieves a list of available education levels supported by the system."
      }
    },
    "/v1/employment-statuses": {
      "get": {
        "tags": [
          "Domain Settings"
        ],
        "summary": "Get the employment statuses",
        "operationId": "getEmploymentstatuses",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API endpoint to get all available employment statuses.\n\nThis API endpoint retrieves a list of available employment statuses supported by the system."
      }
    },
    "/v1/relationship-types": {
      "get": {
        "tags": [
          "Domain Settings"
        ],
        "summary": "Get the relationship types",
        "operationId": "getRelationshiptypes",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API endpoint to get all available relationship types.\n\nThis API endpoint retrieves a list of available relationship types supported by the system."
      }
    },
    "/v1/employees/hire": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Create an employee (Hire)",
        "operationId": "postEmployeesHire",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to create an employee.\n\nThis API endpoint facilitates the creation of an employee within the system. When creating an employee, it's necessary to provide essential personal information such as first name, last name, and email address. Additionally, the endpoint requires details regarding the employee's hire date, employment status, and manager.\nWhen we are adding a new employee, we should avoid creating loops or circles in the organization hierarchy.\nIf the is_existing parameter is set to true the onboarding process is bypassed. Otherwise, if it's set to false, the employee is considered a new hire, and the system initiates the onboarding process for the newly hired employee.\nIn cases where no manager is specified, the employee becomes the head of the company hierarchy.\nYou can choose to disable the initial system invite.\nIn case you want to provide some additional information on onboarding new hires at the organization, you should fill in the hire packet object with the necessary information. This allow you to send an a email to the hiring employee containing detailed instructions for their first day of work.\n\nAfter the successful creation of a newly hired employee's profile, an email is dispatched to the new hire containing essential information required for registering with the domain. This includes details such as login credentials, and any other relevant information to facilitate their smooth integration into the company's systems. Additionally, emails are sent to existing employees who are assigned the responsibility of conducting the onboarding tasks for the new employee.\n\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\nfirst_name\nstring\ntrue\nMaximum character limit: 191 characters.\ne.g. John\n\n\nlast_name\nstring\ntrue\nMaximum character limit: 191 characters.\ne.g. Doe\n\n\nemail\nstring\ntrue\nIt has to be valid email format and structure. Maximum character limit: 191 characters. The email has to be unique.\ne.g. john.doe@example.com\n\n\nhire_date\ndate\ntrue\nThe hire date must be formatted as 'YYYY-MM-DD'.\ne.g. 2024-01-10\n\n\nreports_to_employee_id\ninteger\ntrue\nThe employee Id that will be the manager of the current employee. If the reports_to_employee_id is 'null' then the current employee will be the head of the company.\n-\n\n\nemployment_status\nobject\ntrue\nObject with properties: employment_status_id (integer).\ne.g. {\"employment_status_id\": 1}\n\n\njob_record\nobject\nfalse\nObject with properties: job_title_id (integer,nullable), location_id (integer,nullable), division_id (integer,nullable), department_id (integer,nullable). All the variables must be present.\ne.g. {\"job_title_id\": 1, \"location_id\": 12,  \"division_id\":null,  \"department_id\":20}\n\n\ncompensation_record\nobject\nfalse\nObject with properties: pay_rate (integer), pay_rate_period (enum,nullable) [hour, day, week, month, quarter, year], pay_schedule (enum,nullable) [once-per-month, twice-per-month, every-other-week], overtime_status (enum,nullable) [exempt, non-exempt]\ne.g. {\"pay_rate\": 1000, \"pay_rate_period\": \"day\", \"pay_schedule\":\"once-per-month\", \"overtime_status\":null}\n\n\nprevent_email\nboolean\nfalse\nOpt for 'true', if you don't want to send an invitation email to the hiring employee, else 'false'.\n-\n\n\nis_existing\nboolean\nfalse\nOpt for 'false' if the employee is a new hire and you want to run the Automatic Onboarding process, else 'true'.\n-\n\n\nhire_packet\nobject\nfalse\nInfo for the new hire.Object with properties: who_id (integer, id of employees), address (string), when_time (date-time), instructions (string)\ne.g. {\"who-id\":1, \"address\": \"Random Str 123A\", \"when_time\":\"2024-03-10 17:00\", \"instructions\": \"These are some instructions...\"}",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/employees/:employee": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get an employee",
        "operationId": "getEmployees:employee",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to get the information of an employee.\n\nThis API endpoint retrieves the basic information of a specific employee from the system based on the provided employee ID."
      },
      "put": {
        "tags": [
          "Employee"
        ],
        "summary": "Update an employee",
        "operationId": "putEmployees:employee",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to update the information of an employee.\n\nThis API endpoint enables the updating of an employee's information within the system based on the provided employee ID. You can modify various aspects of an employee's record, including personal details, contact information, designation, and any other relevant data stored within the system.\n\nWhen updating an employee's profile, you can modify the custom fields associated with that employee. However, it is important to note that the availability of this feature is dependent on your TalentHR subscription (Refer to the Introductory chapter for further details). The custom fields associated with an employee can be retrieved using the 'Get employee's custom fields' endpoint.\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\nfirst_name\nstring\ntrue\nMaximum character limit: 191 characters.\ne.g. John\n\n\nlast_name\nstring\ntrue\nMaximum character limit: 191 characters.\ne.g. Doe\n\n\nemail\nstring\ntrue\nIt has to be a valid email format and structure. Maximum character limit: 191 characters. The email has to be unique.\ne.g. john.doe@example.com\n\n\nssn\nstring\nfalse\nMaximum character limit: 191 characters.\ne.g. 123-45-6789\n\n\nbirth_date\ndate\nfalse\nThe birth date must be formatted as 'YYYY-MM-DD' and must be between now and 1930-01-01.\ne.g. 1997-11-05\n\n\npersonal_email\nstring\nfalse\nIt has to be a valid email format and structure. Maximum character limit: 191 characters. The email has to be unique (among personal emails).\n-\n\n\nmarital_status\nenum\nfalse\n-\nSingle, Separated, Married, Widowed\n\n\ngender\nenum\nfalse\n-\nMale, Female, Non-binary\n\n\nnationality\nstring\nfalse\nThis must be a valid nationality from the provided 'nationalities' of the system.\n-\n\n\ncitizenship\nstring\nfalse\nThis must be a valid citizenship from the provided 'citizenships' of the system.\n-\n\n\nwork_phone\nstring\nfalse\nMaximum character limit: 191 characters.\n-\n\n\nmobile_phone\nstring\nfalse\nMaximum character limit: 191 characters.\n-\n\n\nphone\nstring\nfalse\nMaximum character limit: 191 characters.\n-\n\n\naddress\nstring\nfalse\nMaximum character limit: 191 characters.\n-\n\n\ncountry\nstring\nfalse\nThis must be a valid country from the provided 'countries' of the system.\n-\n\n\npostal_code\nstring\nfalse\nMaximum character limit: 191 characters.\n-\n\n\ncity\nstring\nfalse\nMaximum character limit: 191 characters.\n-\n\n\nreports_to_employee_id\ninteger\nfalse\nThe Id of the employee that is the manager of the current employee. In case of null the employee is the head of the company.\n-\n\n\nemergency_contact\nobject\nfalse\nObject with properties: full_name (string), relationship_type_id (integer, This must be a valid relationship type from the provided 'relationship-types' of the system.), address (string), phone (string)\ne.g. {\"full_name\": \"John Doe\", \"relationship_type_id\": 1, \"address\": \"Random Str 123A\", \"phone\" : \"00302101234567\"}\n\n\nlinked_in_url\nstring\nfalse\nThis has to be a valid URL.\n-\n\n\nemployee_number\nstring\nfalse\nMaximum character limit: 191 characters.\n-\n\n\npassport_number\nstring\nfalse\nPre-existing field. Maximum character limit: 64 characters.\n-\n\n\npassport_issued_date\ndate\nfalse\nPre-existing field. The passport's issued date must be formatted as 'YYYY-MM-DD' and must be before or equal to today's date.\n-\n\n\npassport_expiry_date\ndate\nfalse\nPre-existing field. The passport's expiry date must be formatted as 'YYYY-MM-DD'.\n-\n\n\npassport_issuing_country\nstring\nfalse\nPre-existing field. Maximum character limit: 191 characters. This value must be a valid country from the provided 'countries' of the system.\n-\n\n\nvisa_type\nstring\nfalse\nPre-existing field. Maximum character limit: 191 characters.\n-\n\n\nvisa_number\nstring\nfalse\nPre-existing field. Maximum character limit: 64 characters.\n-\n\n\nvisa_expiry_date\ndate\nfalse\nPre-existing field. The visa's expiry date must be formatted as 'YYYY-MM-DD'.\n-\n\n\ndriver_license_number\nstring\nfalse\nPre-existing field. Maximum character limit: 64 characters.\n-\n\n\ndriver_license_issued_date\ndate\nfalse\nPre-existing field. The license's issued date must be formatted as 'YYYY-MM-DD'.\n-\n\n\ndriver_license_expiry_date\ndate\nfalse\nPre-existing field. The license's issued date must be formatted as 'YYYY-MM-DD'.\n-\n\n\ndriver_license_issuing_country\nstring\nfalse\nPre-existing field. Maximum character limit: 191 characters. This value must be a valid country from the provided 'countries' of the system.\n-\n\n\nsec_address\nstring\nfalse\nPre-existing field. Maximum character limit: 191 characters.\n-\n\n\nsec_city\nstring\nfalse\nPre-existing field. Maximum character limit: 191 characters.\n-\n\n\nsec_postal_code\nstring\nfalse\nPre-existing field. Maximum character limit: 191 characters.\n-\n\n\nsec_country\nstring\nfalse\nPre-existing field. Maximum character limit: 191 characters. This value must be a valid country from the provided 'countries' of the system.\n-\n\n\ntwitter_url\nstring\nfalse\nPre-existing field. Maximum character limit: 191 characters. This value has to be a valid URL.\n-\n\n\nfacebook_url\nstring\nfalse\nPre-existing field. Maximum character limit: 191 characters. This value has to be a valid URL.\n-\n\n\ninstagram_url\nstring\nfalse\nPre-existing field. Maximum character limit: 191 characters. This value has to be a valid URL.\n-\n\n\npinterest_url\nstring\nfalse\nPre-existing field. Maximum character limit: 191 characters. This value has to be a valid URL.\n-\n\n\ngithub_url\nstring\nfalse\nPre-existing field. Maximum character limit: 191 characters. This value has to be a valid URL.\n-\n\n\nbehance_url\nstring\nfalse\nPre-existing field. Maximum character limit: 191 characters. This value has to be a valid URL.\n-\n\n\nskype_name\nstring\nfalse\nPre-existing field. Maximum character limit: 191 characters.\n-\n\n\nshirt_size\ninteger\nfalse\nPre-existing field. The ID of shirt sizes.\n-\n\n\nt_shirt_size\ninteger\nfalse\nPre-existing field. The ID of t-shirt sizes.\n-\n\n\nhr_languages\narray\nfalse\nPre-existing field. Array of integers with the hr-languages' Ids.\n-\n\n\nhr_family\narray\nfalse\nArray of objects with the family members. Object properties: name (string), gender (enum) [Male, Female, Non-binary], birth_date (date), family_member_relationship_id (integer)\ne.g. [{\"name\":\"John Doe\", \"gender\": \"Male\", \"birth_date\": \"1986-10-20\", \"family_member_relationship_id\":1}]\n\n\nallergies\nstring\nfalse\nPre-existing field. Maximum character limit: 4000 characters.\n-\n\n\ncustom_field_01\nstring\nfalse\nCustom Field (Type: Text). Maximum character limit: 255 characters.\ne.g. \"This is a text...\"\n\n\ncustom_field_02\nstring\nfalse\nCustom Field (Type: Long Text). Maximum character limit: 5000 characters.\ne.g. \"This is a long text...\"\n\n\ncustom_field_03\ninteger\nfalse\nCustom Field (Type: Single Choice). This field requires the ID of the selected value from the array of available options.\ne.g. 3\n\n\ncustom_field_04\narray\nfalse\nCustom Field (Type: Multiple Choice). This field requires the IDs of the selected values from the array of available options.\ne.g. [3,4]\n\n\ncustom_field_05\ndate\nfalse\nCustom Field (Type: Date). The custom field's date must be formatted as 'YYYY-MM-DD'.\ne.g. 2024-03-10\n\n\ncustom_field_06\nstring\nfalse\nCustom Field (Type: Link). This value has to be a valid URL. Maximum character limit: 255 characters.\ne.g. \"https://www.domainexample.com/\"\n\n\ncustom_field_07\ninteger\nfalse\nCustom Field (Type: Employee). This custom field must contain the Id of the Employee.\ne.g. 1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employee"
        ],
        "summary": "Delete an employee",
        "operationId": "deleteEmployees:employee",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to delete the specified employee.\n\nThis API endpoint facilitates the deletion of a specified employee from the system based on the provided employee ID. Upon invoking this endpoint, the system permanently removes the employee's record, along with all associated information and data stored within the system. It triggers a cascading effect that removes all associated records and data related to that employee. This includes various items such as job records, employment status, performance, review, assets,benefits information, personal documents, task assignments and any other information tied directly to the employee's profile.\nBefore deleting the employee, the system checks if any other employees report to him/her directly. If there are, these subordinate employees are automatically reassigned to a new manager. Typically, the new manager is the supervisor of the deleted employee. This ensures that there is no disruption in the workflow and that the responsibilities of the deleted employee are seamlessly redistributed within the organization.\nWarning: If the employee being deleted is the head of the company, meaning they have no manager above them in the organizational hierarchy, the deletion cannot proceed.\nNote: Once an employee is deleted, their email address can be used on your domain again."
      }
    },
    "/v1/employees/:employee/terminate": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Terminate an employee",
        "operationId": "postEmployees:employeeTerminate",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to terminate the employment of an employee.\n\nThis API endpoint demonstrates the process of employee terminations within the HR system by incorporating the effective date of termination and the reason for termination. Users can remain active and utilize the system normally until the final termination date is specified. Upon the termination process, the system automatically assigns offboarding tasks to relevant users, ensuring a seamless transition for the terminated employee (employees are being notified also via email). If the termination date matches the current date, the user is instantly terminated, preventing further access to the system.\nWhen an employee is terminated, the system initiates several automatic procedures to ensure a smooth transition and maintain organizational integrity. Upon the employee's termination, employees who are under his/her supervision are reassigned to the manager of the terminated employee. Concurrently, any incomplete task assignments of the terminated employee are transferred to this manager as well.\nFurthermore, the system automatically deletes any job records, compensation records, manager records, or employment status records that are dated after the termination. Additionally, any time off requests(rejected or remain unanswered) from the terminated employee will be removed. Finally, if the terminated employee is part of a hiring team for a job position, he/she will be removed from the hiring team as part of the termination process.\nNote: The information of the terminated user remains within the system after the termination.\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\neffective_date\ndate\ntrue\nThe date that an employee will be terminated. The effective date must be formatted as 'YYYY-MM-DD'.\ne.g. 2024-02-01\n\n\ntermination_reason\nstring\nfalse\nThe reason for the employee's dismissal. Maximum character limit: 4000 characters.\ne.g. poor quality of work",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/employees/:employee/custom-fields": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get employee's Custom Fields",
        "operationId": "getEmployees:employeeCustomfields",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to get the custom fields that are available for an employee.\n\nThe current endpoint facilitates the retrieval of comprehensive information regarding two distinct types of custom fields within the system: custom fields and pre-existing custom fields that are already part of the system. These custom fields offer diverse functionalities ranging from simple text inputs to complex data structures. The types of custom fields vary, including text, long text, date, multiple choice, single choice, link and employee references. Additionally, pre-existing custom fields have 'blended' choice, presenting objects with associated properties (e.g. Passport)."
      }
    },
    "/v1/employees/:employee/employment-statuses": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get employee's employment status",
        "operationId": "getEmployees:employeeEmploymentstatuses",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve the employment statuses of an employee.\n\nThis endpoint provides comprehensive information on the employment statuses of the specified employee."
      },
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Create an employment status",
        "operationId": "postEmployees:employeeEmploymentstatuses",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to create a new employment status for an employee.\n\nThis endpoint enables the creation of an employment status for the specified employee. The request body should include two variables: the effective date of the status change, formatted as 'YYYY-MM-DD', and the employment status ID.\nIt's essential to note that an employee must have at least one employment status record with an effective date matching their hire date. While creating a new employment status we have to know:\n\nIf a termination date is specified for the employee, then the effective date must not exceed the termination date.\nIf the specified employee is a future hire, then the effective date must come after the hire date.\n\nNote: The employment status ID provided must be valid and correspond to one of the options available in the system's 'employment-statuses' collection.\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\neffective_date\ndate\ntrue\nThe effective date that this takes place. The effective date must be formatted as 'YYYY-MM-DD'. The employee must have at least one employment status record with an effective date equal to their hire date. If that, the posted effective date must be equal to or after than the employee's hire date. If a termination date is specified for the current employee, the effective date must come before the termination date.\ne.g. 2024-02-01\n\n\nemployment_status_id\nstring\ntrue\nThe id of the employment status. This must be a valid employment status from the provided 'employment-statuses' of the system.\n-",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/employees/:employee/employment-statuses/:objectId": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get an employment status record",
        "operationId": "getEmployees:employeeEmploymentstatuses:objectid",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve a specified employment record of an employee.\nThis endpoint retrieves a specified employment status record from the specified employee."
      },
      "put": {
        "tags": [
          "Employee"
        ],
        "summary": "Update an employment status record",
        "operationId": "putEmployees:employeeEmploymentstatuses:objectid",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to update the employment status of an employee.\nThis endpoint updates the employment status for the specified employee. The request body should include two variables: the effective date of the status change, formatted as 'YYYY-MM-DD', and the employment status ID.\nIt's essential to note that an employee must have at least one employment status record with an effective date matching their hire date. While updating an employment status we have to know:\n\nIf only one record exist to the specified employees, any updates must be dated before today's date. Changing the date to a time before the specified hire date will adjust the employee's hire date accordingly in conjunction with the manager, job record and compensation record effective date.\n\nIf a termination date is specified for the employee, then the effective date must not exceed the termination date.\n\nif employee's contract has terminated, the employment status can not be modified.\n\nIf the specified employee is a future hire, then the effective date must come after the hire date.\n\n\nNote: The employment status ID provided must be valid and correspond to one of the options available in the system's 'employment-statuses' collection.\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\neffective_date\ndate\ntrue\nThe effective date that this takes place. The effective date must be formatted as 'YYYY-MM-DD'. The employee must have at least one employment status record with an effective date equal to their hire date. If that, the posted effective date must be equal to or after than the employee's hire date. If a termination date is specified for the current employee, the effective date must come before the termination date.\ne.g. 2024-02-01\n\n\nemployment_status_id\nstring\ntrue\nThe id of the employment status. This must be a valid employment status from the provided 'employment-statuses' of the system.\n-",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employee"
        ],
        "summary": "Delete an employment status record",
        "operationId": "deleteEmployees:employeeEmploymentstatuses:objectid",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to delete a specified employment status of an employee.\nThis endpoint deletes the specified employment status record from the specified employee.\nIt is not allowed to delete\n\nThe current active employment status which is the unique record of employee.\nHistory Employment records. (Records which have effective date less than current employment date).\n\nAfter deleting a record:\n\nIf the deleted status record represents a future hire and there exist at least two future hire records, deleting the record that is not the most recent (equals to the current active record) will result in the removal of all scheduled tasks for the employee. Additionally, the effective dates on other records (compensation, manager and job records) with active status are going to be adjusted to align with the current active effective date.\nIf the deleted status record is terminated status, offboarding tasks and notifications for the specified employee are deleted. In addition, performance reviews related to the current employment status, are also removed for the specified employee."
      }
    },
    "/v1/employees/:employee/job-records": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get employee's job-records",
        "operationId": "getEmployees:employeeJobrecords",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve the location, department, division, job title quadruples about the job of an employee.\nThis endpoint provides comprehensive information on the employee job records of the specified employee."
      },
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Create a job record",
        "operationId": "postEmployees:employeeJobrecords",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to create a new quadruple of location, department, division, job title for an employee.\nThis endpoint enables the creation of a job record for the specified employee. The request body should include these variables: the effective date of the record, formatted as 'YYYY-MM-DD', and the location, division, department, and job_title ID.\nWhile creating a new job record we have to know:\n\nThe new job record must have a date equal to or later than the employee's hire date.\nIf a termination date is specified for the employee, then the effective date must not exceed the termination date.\n\nNote: The location, division, department, and job_title ID provided must be valid and correspond to one of the options available in the system's collection.\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\neffective_date\ndate\ntrue\nThe effective date that this takes place. The effective date must be formatted as 'YYYY-MM-DD'. The date must be equal to or after than the hire date. If a termination date is specified for the current employee, the effective date must come before the termination date.\ne.g. 2024-02-01\n\n\nlocation_id\ninteger\nfalse\nThe id of the location. This must be a valid id from the provided 'locations' of the system.\n-\n\n\ndivision_id\ninteger\nfalse\nThe id of the division. This must be a valid id from the provided 'divisions' of the system.\n-\n\n\ndepartment_id\ninteger\nfalse\nThe id of the department. This must be a valid id from the provided 'departments' of the system.\n-\n\n\njob_title_id\ninteger\nfalse\nThe id of the job title. This must be a valid id from the provided 'job-titles' of the system.\n-",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/employees/:employee/job-records/:objectId": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get a job record",
        "operationId": "getEmployees:employeeJobrecords:objectid",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve the specified job record of an employee.\nThis endpoint retrieves a job record for the specified employee."
      },
      "put": {
        "tags": [
          "Employee"
        ],
        "summary": "Update a job record",
        "operationId": "putEmployees:employeeJobrecords:objectid",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to update a specified job record of an employee.\nThis endpoint updates a job record for the specified employee. The request body should include these variables: the effective date of the record, formatted as 'YYYY-MM-DD', and the location, division, department, and job_title ID.\nWhile creating a new job record we have to know:\n\nThe effective date must be equal to or later than the employee's hire date.\nIf a termination date is specified for the employee, then the effective date must not exceed the termination date.\n\nConsidering changes of the job record of employee, the system will be add or remove the performance reviews coresponding to the new data.\nNote: The location, division, department, and job_title ID provided must be valid and correspond to one of the options available in the system's collection.\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\neffective_date\ndate\ntrue\nThe effective date that this takes place. The effective date must be formatted as 'YYYY-MM-DD'. The date must be equal to or after than the hire date. If a termination date is specified for the current employee, the effective date must come before the termination date.\ne.g. 2024-02-01\n\n\nlocation_id\ninteger\nfalse\nThe id of the location. This must be a valid location from the provided 'locations' of the system.\n-\n\n\ndivision_id\ninteger\nfalse\nThe id of the division. This must be a valid division from the provided 'divisions' of the system.\n-\n\n\ndepartment_id\ninteger\nfalse\nThe id of the department. This must be a valid department from the provided 'departments' of the system.\n-\n\n\njob_title_id\ninteger\nfalse\nThe id of the job title. This must be a valid job title from the provided 'job-titles' of the system.\n-",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employee"
        ],
        "summary": "Delete a job record",
        "operationId": "deleteEmployees:employeeJobrecords:objectid",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to delete a specified job record of an employee.\nThis endpoint deletes the specified job record for the specified employee.\nIt is not allowed to delete :\n\nHistory job records (Records which have effective date less than current job.)\n\nAfter deleting a specific job record, the system will be remove the performance reviews coresponding to the new data."
      }
    },
    "/v1/employees/:employee/job": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get employee job info",
        "operationId": "getEmployees:employeeJob",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve the job information of an employee.\nThis endpoint provides a comprehensive overview of job-related information for the employee. This includes employment status history, job records, compensation records, manager records, and benefits related to the specified employee."
      }
    },
    "/v1/employees/:employee/managers": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get employee's managers",
        "operationId": "getEmployees:employeeManagers",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve information about the managers of an employee.\nThis endpoint provides comprehensive information on the employee's manager records for the specified employee."
      },
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Create a manager record",
        "operationId": "postEmployees:employeeManagers",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to create a manager record for an employee.\nThis endpoint enables the creation of a manager record for the specified employee. The request body should include these variables: the effective date of the record, formatted as 'YYYY-MM-DD', and the manager's employee ID.\nWhen we are creating a manager record, we should avoid creating loops or circles in the organization hierarchy.\nIt's essential to note that an employee must have at least one manager record with an effective date matching their hire date. While creating a new manager record we have to know:\n\nThe effective date must be after or equal of employee's hire date.\nIf a termination date is specified for the employee, then the effective date must not exceed the termination date.\nIf the specified employee is a future hire, then you cannot assign them any manager until after their hire date.\nThe person that is going to be the manager of the specified employee must be an active employee.\n\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\neffective_date\ndate\ntrue\nThe effective date that this takes place. The effective date must be formatted as 'YYYY-MM-DD'.  The date must before or equal of the current date and after or equal employee's hire date. If the current employee is a future hire, you cannot assign them any manager until after their hire date.\ne.g. 2024-07-01\n\n\nreports_to_employee_id\ninteger\ntrue\nThe employee ID (Active employee) that is going to be the manager of the specified employee.\n-",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/employees/:employee/compensation-records": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get employee's compensation-records",
        "operationId": "getEmployees:employeeCompensationrecords",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve information about the compensation of an employee.\nThis endpoint provides comprehensive information on the employee compensation records of the specified employee."
      },
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Create a compensation record",
        "operationId": "postEmployees:employeeCompensationrecords",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to create a new compensation record for an employee.\nThis endpoint enables the creation of a compensation record for the specified employee. The request body should include these variables: the effective date of the record, formatted as 'YYYY-MM-DD', the pay rate, pay rate period, pay schedule, and overtime status.\nWhile creating a new compensation record we have to know:\n\nThe new compensation record must have a date equal to or later than the employee's hire date.\nIf a termination date is specified for the employee, then the effective date must not exceed the termination date.\n\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\neffective_date\ndate\ntrue\nThe effective date that this takes place. The effective date must be formatted as 'YYYY-MM-DD'.  The date must be equal to or after than the hire date. If a termination date is specified for the current employee, the effective date must come before the termination date.\n\n\n\npay_rate_period\nstring\ntrue\nThis is the period over which money is earned.  Valid values are  ['hour', 'day', 'week', 'month', 'quarter', 'year']\ne.g. month\n\n\npay_rate\nnumber\nfalse\nThis is the employee's wage and must have 2 decimals\ne.g. 1203.72\n\n\npay_schedule\nstring\nfalse\nThis is the frequency of the wage.  Valid values are  ['once-per-month',' twice-per-month', 'every-other-week']\ne.g. twice-per-month\n\n\novertime_status\nstring\nfalse\nThis determines whether an employee is exempt or non-exempt from overtime regulations.  Valid values are  ['exempt, non-exempt','non-exempt']\ne.g. exempt\n\n\nchange_reason\nstring\nfalse\nThis is the reason of compensation change.  Valid values are  ['N/A', 'annual-pay', 'increase', 'promotion', 'relocation', 'title-change']\ne.g. promotion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/employees/:employee/compensation-records/:objectId": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get a compensation record",
        "operationId": "getEmployees:employeeCompensationrecords:objectid",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve a specified compensation record of an employee.\nThis endpoint retrieves the compensation data for the specified employee. To use this endpoint , the Employee id and the compensation record id must be specified."
      },
      "put": {
        "tags": [
          "Employee"
        ],
        "summary": "Update a compensation record",
        "operationId": "putEmployees:employeeCompensationrecords:objectid",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to update the compensation record of an employee.\nThis endpoint updates a job record for the specified employee. The request body should include these variables: the effective date of the record, formatted as 'YYYY-MM-DD', the pay rate, pay rate period, pay schedule, overtime status, and the reason of change.\nWhile creating a new compensation record we have to know:\n\nThe effective date must have a date equal to or later than the employee's hire date.\nIf a termination date is specified for the employee, then the effective date must not exceed the termination date.\n\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\neffective_date\ndate\ntrue\nThe effective date that this takes place. The effective date must be formatted as 'YYYY-MM-DD'.  The date must be equal to or after than the hire date. If a termination date is specified for the current employee, the effective date must come before the termination date.\ne.g. 2024-02-01\n\n\npay_rate_period\nstring\ntrue\nThis is the period over which money is earned.  Valid values are  ['hour', 'day', 'week', 'month', 'quarter', 'year']\ne.g. hour\n\n\npay_rate\nnumber\nfalse\nThis is the employee's wage and must have 2 decimals\ne.g. 1203.72\n\n\npay_schedule\nstring\nfalse\nThis is the frequency of the wage.  Valid values are  ['once-per-month',' twice-per-month', 'every-other-week']\ne.g. twice-per-month\n\n\novertime_status\nstring\nfalse\nThis determines whether an employee is exempt or non-exempt from overtime regulations.  Valid values are  ['exempt, 'non-exempt']\ne.g. exempt\n\n\nchange_reason\nstring\nfalse\nThis is the reason of compensation change.  Valid values are  ['N/A', 'annual-pay', 'increase', 'promotion', 'relocation', 'title-change']\ne.g. N/A",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employee"
        ],
        "summary": "Delete a compensation record",
        "operationId": "deleteEmployees:employeeCompensationrecords:objectid",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to delete a compensation record of an employee.\nThis endpoint deletes the specified compensation record of the specified employee.\nIf employee's contract has terminated, it is not allowed to delete the compensation record.\nAlso it is not allowed to delete:\n\nHistory compensation records (Records which have effective date less than current compensation.)"
      }
    },
    "/v1/employees/:employee/benefits": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get employee's benefits",
        "operationId": "getEmployees:employeeBenefits",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve information about the benefits that an employee has.\nThis endpoint returns comprehensive information on benefits for the specified employee."
      }
    },
    "/v1/employees/:employee/documents": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get employee's documents",
        "operationId": "getEmployees:employeeDocuments",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve employee's document.\nThis endpoint returns comprehensive information on private documents for the specified employee. Some people within a company have the legal right to view personnel files. These people are the Company Administrator and the Hr manager of the organization."
      },
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Upload an employee's document",
        "operationId": "postEmployees:employeeDocuments",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to upload a document in an employee\u2019s folder.\nThis endpoint facilitates the uploading of documents to the specified employee's private folder. Valid document formats include docx, doc, odt, odp, ods, xls, xlsx, ppt, pptx, pdf, png, jpg, jpeg, svg, csv, gif, webp, and tsv. The documents are exclusively accessible to the employee and are not visible to other employees. Also the Company Administrator and the Hr manager of the organization have access to the employees documents. The current document must not surpass 30MB.\n\nFilenames within the system must not start with any illegal character or symbol (e.g. @ (at sign), $ (dollar sign), % (percent), & (ampersand)) and should maintain a reasonable length, ensuring they do not exceed 250 characters.\n\nRequest parameters:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\ndocument\nfile\ntrue\nFile. Valid Formats (docx,doc,odt,odp,ods,xls,xlsx,ppt,pptx,pdf,png,jpg,jpeg,svg,csv,gif,webp,tsv). The current document must not surpass 30MB.\n-",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "string",
                    "format": "binary",
                    "description": "File. Valid Formats (docx,doc,odt,odp,ods,xls,xlsx,ppt,pptx,pdf,png,jpg,jpeg,svg,csv,gif,webp,tsv). The document must not surpass 30MB."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/:employee/tasks/pending?limit=<integer>&offset=<integer>&order=<string>&sort=<string>": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get employee's pending tasks",
        "operationId": "getEmployees:employeeTasksPending?limit=<integer>&offset=<integer>&order=<string>&sort=<string>",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve the pending tasks of an employee.\nThis endpoint retrieves comprehensive information regarding pending tasks assigned to the specified employee. Users have the flexibility to customize the data retrieval process through a pagination mechanism. (Refer to the Introductory chapter for further details on usage).\nIn addition to pagination parameters, users can customize the order and sorting of the retrieved data."
      }
    },
    "/v1/employees/:employee/tasks/completed?limit=<integer>&offset=<integer>&order=<string>&sort=<string>": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get employee's completed tasks",
        "operationId": "getEmployees:employeeTasksCompleted?limit=<integer>&offset=<integer>&order=<string>&sort=<string>",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve the completed tasks of an employee.\nThis endpoint retrieves comprehensive information regarding completed tasks assigned to the specified employee. Users have the flexibility to customize the data retrieval process through a pagination mechanism. (Refer to the Introductory chapter for further details on usage).\nIn addition to pagination parameters, you can customize the order and sorting of the retrieved data."
      }
    },
    "/v1/employees/:employee/task-assignments/:objectId": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Toggle employee's task",
        "operationId": "postEmployees:employeeTaskassignments:objectid",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to mark a task of an employee as completed/incomplete.\nThis endpoint toggles a task assignment as a pending task or completed task for the specified employee. If the task is associated with a TalentLMS training course, it cannot be marked as complete or incomplete. Additionally, if the task involves an asset, the asset will only be assigned to the employee after the task is completed. However, if a task transitions from completed to pending status, any assets previously connected to the employee will be absolved.\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\nstatus\nboolean\ntrue\nThe status of the task assignment. 'true' to state the task as completed, 'false' for pending. If the task is connected with TalentLMS training then  it cannot be mark as complete or incomplete.\ne.g. true",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/employees/:employee/time-off-budgets": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get employee's time off budgets",
        "operationId": "getEmployees:employeeTimeoffbudgets",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to get the Time Off budgets of an employee.\nThis endpoint provides comprehensive information into the time-off budgets (the allocated amount of time off) allocated for the specified employee yearly. This includes historical data from the employee's start year to the year following the current calendar year."
      }
    },
    "/v1/employees/:employee/time-off-budgets/:objectId": {
      "put": {
        "tags": [
          "Employee"
        ],
        "summary": "Update a time off budget",
        "operationId": "putEmployees:employeeTimeoffbudgets:objectid",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to update the Time Off budget of an employee.\nThis endpoint facilitates the updating of the time-off budget for the specified employee. To use this endpoint , the Employee id and the Time off budget id must be specified. The budget value must fall within the range of greater than 1 day and less than 365 days.\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\noriginal_budget\nnumber\ntrue\nEmployee's original time off budget (in days) for a time off type. Min value is 0 and max is 365. Allows 3 decimal places.\ne.g. 12.5",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/employees/:employee/time-off-requests?limit=<integer>&offset=<integer>&sort=<string>": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get employee's time off requests",
        "operationId": "getEmployees:employeeTimeoffrequests?limit=<integer>&offset=<integer>&sort=<string>",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to get the Time Off requests of an employee.\nThis endpoint retrieves comprehensive information regarding time-off requests of the specified employee. Users have the flexibility to customize the data retrieval process through a pagination mechanism. (Refer to the Introductory chapter for further details on usage).\nIn addition to pagination parameters, you can sort the retrieved data."
      }
    },
    "/v1/employees/:employee/time-off-requests": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Create a time off request",
        "operationId": "postEmployees:employeeTimeoffrequests",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to book a time off request.\nThis endpoint facilitates the booking of a time-off request for the specified employee. A time off request is an entity that describes the decision making process for approving time off.It can be used for various reasons such as vacation, personal matters, bereavement or illness.\nThe request body includes the start and end dates for the time-off request, the type of time-off requested, the preapproved attribute indicating whether the request will be automatically approved or requires manager approval, the amount option providing a detailed analysis of each day's duration (e.g., full-day as 1, half-day as 0.5, etc), and optional notes accompanying the request.\n\nFor future-hire employees, the time-off request cannot have a start date before their hire date.\nFor terminated employees, the time-off request must come before the termination date.\n\nNote: The start_date and end_date must fall within one year from the current date.\n\nWhen the \"book time off\" request is successfully submitted and the preapproval status is set to false, an email is automatically dispatched to the employee's manager, requesting approval or rejection of the time off request. If the manager is currently off work and thus unable to respond, an email notification is sent to the employee, informing them that their manager is presently unavailable to address the request.\n\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\nstart_date\ndate\ntrue\nThe start date must be formatted as 'YYYY-MM-DD'. For a future-hire employee, time off requests cannot have a start date before their hire date. Similarly, for a terminated employee, the start date of a time off request cannot occur after their termination date. The date must fall within one year from the current date.\ne.g 2024-01-10\n\n\nend_date\ndate\ntrue\nThe end date must be formatted as 'YYYY-MM-DD' and must be a date greater than the start_date. The date must fall within one year from the current date.\ne.g 2024-01-14\n\n\ntimeoff_type_id\ninteger\ntrue\nThe id of the time-off type.\n-\n\n\npreapproved\nboolean\nfalse\nIf this is 'true' then the time-off request will be accepted automatically else the manager has to approve/reject it.\n-\n\n\namount_options\nobject\nfalse\nObject with keys as dates in YYYY-MM-DD format and corresponding values representing time off (float). Time off values range are from '1' (full working day) to fractional values (e.g., 0.5 for half a working day, 0.25 for a quarter of the working day, etc.). The minimum fractional value is '0.001' working day. Dates corresponding to holidays or non-working days are set to '0'. This object must include all dates between the specified start_date and end_date.\ne.g. {\"2024-01-10\":1,\"2024-01-11\":1,\"2024-01-12\":0.5,\"2024-01-13\":0,\"2024-01-14\":0}\"\n\n\nnote\nstring\nfalse\nMaximum character limit: 255 characters.\n-",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/employees/:employee/time-off-requests/:objectId/reply": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Approve or reject time off request",
        "operationId": "postEmployees:employeeTimeoffrequests:objectidReply",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to approve or reject a specified time off request for an employee.\nThis endpoint enables the approval or rejection of time-off requests specifically for employees under your supervision.\n\nWhen a decision is made and submitted successfully regarding the approval or rejection of this request, an email is automatically sent to the employee. This email notifies the employee about the outcome, ensuring they are promptly informed whether their request has been approved or rejected.\n\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\naccept\nboolean\ntrue\nApprove 'true' or Reject 'false' the specified time off request. If the time off request has been answered or it has been cancelled then you cannot appove or reject it.\ne. g. true",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/employees/:employee/make-employee": {
      "put": {
        "tags": [
          "Employee"
        ],
        "summary": "Change role to 'Employee'",
        "operationId": "putEmployees:employeeMakeemployee",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to change the user role of an employee to \u201cEmployee\u201d.\nThis endpoint facilitates the change of role for the specified employee to 'Employee'. However, if the employee's current role is already 'Employee', attempting this change will result in a 409 (Conflict) status error message."
      }
    },
    "/v1/employees/:employee/make-hr-manager": {
      "put": {
        "tags": [
          "Employee"
        ],
        "summary": "Change role to 'HR-Manager'",
        "operationId": "putEmployees:employeeMakehrmanager",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to change the user role of an employee to \u201cHR-Manager\u201d.\nThis endpoint facilitates the change of role for the specified employee to 'HR-Manager'. However, if the employee's current role is already 'HR-Manager', attempting this change will result in a 409 (Conflict) status error message."
      }
    },
    "/v1/employees/:employee/managers/:objectId": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Show employee manager",
        "operationId": "getEmployees:employeeManagers:objectid",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve a specified Manager record of an employee.\nThis endpoint retrieves the specified manager record for the specified employee."
      },
      "put": {
        "tags": [
          "Employee"
        ],
        "summary": "Update a manager record",
        "operationId": "putEmployees:employeeManagers:objectid",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to update a specified Manager record of an employee.\nThis endpoint updates a manager record for the specified employee. The request body should include these variables: the effective date of the record, formatted as 'YYYY-MM-DD', and the manager's employee ID.\nYou can only modify the current(active) manager record.\nWhen we are updating a new manager record, we should avoid creating loops or circles in the organization hierarchy.\nIt's essential to note that an employee must have at least one manager record with an effective date matching their hire date. While creating a new manager record we have to know:\n\nThe effective date must be after or equal of employee's hire date.\nIf a termination date is specified for the employee, then the effective date must not exceed the termination date.\nIf the specified employee is a future hire, then you cannot assign them any manager until after their hire date.\nThe person that is going to be the manager of the specified employee must be an active employee.\nWhile updating the current active manager record, Task Assignments and Performance reviews that concern the current manager of the specified employee will be reassigned to the new manager.\n\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\neffective_date\ndate\ntrue\nThe effective date that this takes place. The effective date must be formatted as 'YYYY-MM-DD'.  The date must before or equal of the current date and after or equal employee's hire date.\ne.g. 2024-02-01\n\n\nreports_to_employee_id\ninteger\ntrue\nThe employee ID (Active Employee) that is going to be the manager of the specified employee.\n-",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/employees/:employee/settings": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Show employee settings",
        "operationId": "getEmployees:employeeSettings",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve the timezone and language preference of an employee.\nThis endpoint provides access to the custom settings configured by employees. These settings include preferred language for the system interface and timezone preferences."
      },
      "put": {
        "tags": [
          "Employee"
        ],
        "summary": "Update employee settings",
        "operationId": "putEmployees:employeeSettings",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to update the timezone and language of an employee.\nThis endpoint allows for the update of employee preferences, including preferred language for the system interface and desired timezone settings.\nNote: Both language and timezone must be valid values provided by the 'timezones' & 'languages' of the system.\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\ntimezone\nstring\ntrue\nThis must be a valid timezone from the provided 'timezones' of the system.\ne.g. Europe/Athens\n\n\nlanguage\nstring\ntrue\nThis must be a valid language code from the provided 'languages' of the system.\ne.g. en (for English)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/employees/:employee/assets?limit=<integer>&offset=<integer>&order=<string>&sort=<string>": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get employee assets",
        "operationId": "getEmployees:employeeAssets?limit=<integer>&offset=<integer>&order=<string>&sort=<string>",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve the assets that are assigned to an employee.\nThis endpoint retrieves comprehensive information regarding the assets (Inventory and Membership) assigned to the specified employee. Users have the flexibility to customize the data retrieval process through a pagination mechanism. (Refer to the Introductory chapter for further details on usage).\nIn addition to pagination parameters, users can customize the order and sorting of the retrieved data."
      }
    },
    "/v1/employees/:employee/available-assets": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get employee available assets",
        "operationId": "getEmployees:employeeAvailableassets",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve the assets that are available to be assigned to an employee.\nThis endpoint provides a comprehensive list of available assets, accessible to the specified employee, within the system."
      }
    },
    "/v1/employees/:employee/assign-assets": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Assign assets to a specified employee",
        "operationId": "postEmployees:employeeAssignassets",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to assign assets to a specified employee.\nThis endpoint facilitates the assignment of assets (both Inventory and Membership type) to a specified employee. The request body should include an array of assets to be assigned. It's important to ensure that the selected assets are available for assignment to the specified employee.\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\nassets\narray\ntrue\nArray of Asset Ids. (Both membership and Inventory Assets). The asset status on these assets must be 'avaialable'.\ne.g. [1,2,3,4]",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/employees/:employee/avatar": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Upload employee's avatar",
        "operationId": "postEmployees:employeeAvatar",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to upload the avatar of the specified employee.\nThis endpoint enables the update of the avatar (photo) for the specified employee. The uploaded image should be in one of the valid formats: png, jpg, jpeg, svg, or webp, and must not exceed 10MB in size.\n\nFilenames within the system must not start with any illegal character or symbol (e.g. @ (at sign), $ (dollar sign), % (percent), & (ampersand)) and should maintain a reasonable length, ensuring they do not exceed 250 characters.\n\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\navatar\nfile\ntrue\nImage of employee's avatar. The current image must not surpass 10MB. Valid formats (  png, jpg, jpeg, svg, webp  )\n-",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "avatar": {
                    "type": "string",
                    "format": "binary",
                    "description": "(Required) Image of employee's avatar. The current image must not surpass 10MB. Valid formats (jpng, jpg, jpeg, svg, webp)"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employee"
        ],
        "summary": "Delete employee's avatar",
        "operationId": "deleteEmployees:employeeAvatar",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to delete employee's avatar.\nThis endpoint deletes the avatar (photo) of the specified employee."
      }
    },
    "/v1/employees/:employee/education-records": {
      "get": {
        "tags": [
          "Employee (Education Records)"
        ],
        "summary": "Get Employee's Education records",
        "operationId": "getEmployees:employeeEducationrecords",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API endpoint to get the education information of an employee.\n\nThis API endpoint get all the education items of the employee."
      },
      "post": {
        "tags": [
          "Employee (Education Records)"
        ],
        "summary": "Create an education record",
        "operationId": "postEmployees:employeeEducationrecords",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API endpoint to create an education record for an employee.\n\nThis API endpoint enables the creation of education record for the specified employee. You should provide the employee's gradutation date, the department ,the institution and the education level id.\nNote: You can locate the desired education level ID by accessing the 'education levels' endpoint.\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\neducation_level_id\ninteger\ntrue\nUnique identifier of education levels.\ne.g 1\n\n\ngrad_date\ndate\ntrue\nThe graduation date must be formatted as 'YYYY-MM-DD'.\ne.g 2024-03-01\n\n\ndepartment\nstring\ntrue\nA division of a large organization such as university. Maximum character limit:191 characters.\ne.g Computer Science\n\n\ninstitution\nstring\ntrue\nAn organization founded for a education purpose. Maximum character limit:191 characters.\ne.g University of Crete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/employees/:employee/education-records/:objectId": {
      "put": {
        "tags": [
          "Employee (Education Records)"
        ],
        "summary": "Update an education record",
        "operationId": "putEmployees:employeeEducationrecords:objectid",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API endpoint to update the specified education record of an employee.\n\nThis API endpoint updates an education record for the specified employee. You should provide the employee's gradutation date, the department ,the institution and the education level id.\nNote: You can locate the desired education level ID by accessing the 'education levels' endpoint.\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\neducation_level_id\ninteger\ntrue\nUnique identifier of education levels.\ne.g 1\n\n\ngrad_date\ndate\ntrue\nThe graduation date must be formatted as 'YYYY-MM-DD'.\ne.g 2024-03-01\n\n\ndepartment\nstring\ntrue\nA division of a large organization such as university. Maximum character limit:191 characters.\ne.g Computer Science\n\n\ninstitution\nstring\ntrue\nAn organization founded for a education purpose. Maximum character limit:191 characters.\ne.g University of Crete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employee (Education Records)"
        ],
        "summary": "Delete an education record",
        "operationId": "deleteEmployees:employeeEducationrecords:objectid",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API endpoint to delete the specified education record of an employee.\n\nThis endpoint deletes the specified education record for the specified employee."
      }
    },
    "/v1/directory/filters": {
      "get": {
        "tags": [
          "Directory"
        ],
        "summary": "Get a directory's filters",
        "operationId": "getDirectoryFilters",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieves the available filters for directory.\nThis endpoint allows you to fetch a list of valid filters for the directory. Utilize the 'id' field from the returned objects to filter employees in the 'directory' endpoint."
      }
    },
    "/v1/directory?limit=<integer>&offset=<integer>&filter=<string>": {
      "get": {
        "tags": [
          "Directory"
        ],
        "summary": "Get directory's info",
        "operationId": "getDirectory?limit=<integer>&offset=<integer>&filter=<string>",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve all the employees with some information for each of them.\nThis endpoint retrieves comprehensive information regarding the system's employee directory. Users have the flexibility to customize the data retrieval process through a pagination mechanism. (Refer to the Introductory chapter for further details on usage).\nIn addition to pagination parameters, you have the option to utilize filters to precisely retrieve the data you want. You can find suitable IDs for the current filters by accessing the 'directory filters' endpoint."
      }
    },
    "/v1/organization-chart": {
      "get": {
        "tags": [
          "Directory"
        ],
        "summary": "Get organization chart's info",
        "operationId": "getOrganizationchart",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve all the current employees with their managers.\nThis endpoint retrieves comprehensive information regarding the system's organization chart.\nThe organization chart shows the company's internal structure by detailing the roles, and relationships between the employees of the company."
      }
    },
    "/v1/calendar/filters": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "summary": "Get a calendar's filters",
        "operationId": "getCalendarFilters",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve the available filters for calendar.\nThis endpoint allows you to fetch a list of valid filters for the system's calendar. Utilize the 'id' field from the returned objects to filter employees in the 'calendar' endpoint."
      }
    },
    "/v1/calendar?start_date=<date>&end_date=<date>&employee_id=<string>&filter=<string>": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "summary": "Get calendar's info",
        "operationId": "getCalendar?start_date=<date>&end_date=<date>&employee_id=<string>&filter=<string>",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve the dates that each employee(s) is off, for the specified date range.\nThis endpoint retrieves comprehensive information regarding the system's calendar.\nThe calendar endpoint provides information about employee time off and holidays. Users can filter this information based on various criteria, including pending time-offs, completed time-offs, time-offs for specific divisions, departments, locations, time off types, and employment statuses. Additionally, historical data of time-offs for terminated employees are also available. Besides the filters, you have the option to provide the employee_id parameter to the calendar endpoint. This allows you to specify the employee of your choice and retrieve his/her calendar data.\nNote: If the end date is not provided, the calendar period will extend from the start date provided to the end of the month in which the start date falls.\n\nYou have the option to utilize filters to precisely retrieve the data you want. You can find suitable IDs for the current filters by accessing the 'directory filters' endpoint. The filters include information regarding time off status, location, division, departments, employment status, and time off types.\nNote: Filter options in the filters are represented as arrays of IDs. However, the time off status (as time_off in filters) for the calendar has two options and they are represented as strings: \"pending\" and \"approved\". These can be specified directly in the filters. (E.g. time_off=pending,approved;)\nNote: If no filter provided then the calendar will return all the employees (included the terminated) with their time-offs and the holidays for the specified period."
      }
    },
    "/v1/job-positions": {
      "get": {
        "tags": [
          "Applicant Tracking System (Job Positions)"
        ],
        "summary": "Get all job positions",
        "operationId": "getJobpositions",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve the available job positions.\nThis endpoint offers a comprehensive overview of available job positions within the system."
      },
      "post": {
        "tags": [
          "Applicant Tracking System (Job Positions)"
        ],
        "summary": "Create a job position",
        "operationId": "postJobpositions",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to create a new Job Position.\nThis endpoint facilitates the creation of a new job position. The request body for this endpoint should include a title and a description for the job position, the hiring team, interview steps, location, department, employment status (e.g., Full Time, Part Time), remote option (if applicable for a remote job), and the current status of the job position (draft or published).\nNote: Valid options for Location, Department, and Employment Status IDs can be found in the endpoints that return information about the system's 'locations', 'departments', and 'employment statuses'.\nAvailable Steps:\nThe available steps in the system are predefined and consist of five steps, all of which must be present. They represent the interview process from the initial application stage to the final hiring decision.\n\n\n\nStep\nName\nSlug\n\n\n\n\nFirst\nApplied\napplied\n\n\nSecond\nPromising\npromising\n\n\nThird\nPhone Screen\nphone-screen\n\n\nFourth\nInterview\ninterview\n\n\nFifth\nHired\nhired\n\n\n\nNote: The first and fifth steps are always enabled and cannot be disabled. You can only update the names of the steps and the enable property, which indicates whether the step is currently enabled or not.\n\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\njob_position_title\nstring\ntrue\nThe current title of the job position. Maximum character limit: 255 characters.\n-\n\n\njob_position_status\nenum\ntrue\nThe current status of the job position. Valid values are ['draft','published']\ne.g. draft\n\n\njob_description\nstring\ntrue\nMaximum character limit: 30000 characters. Required only when the job position status is 'published'.\n-\n\n\navailable_steps\narray\ntrue\nArray of available steps, for every 5 steps of the system. Each step (object) must include the step's slug (string), name(string), and its enabled status (boolean). All 5 steps must be present. The first and the last step cannot be disabled.\ne.g. [{\"slug\":\"applied\", \"name\":\"Applied\",\"is_enabled\": false},...]\n\n\nhiring_team\narray\nfalse\nArray of employee Ids (Active and not Terminated employees). This is the hiring team members for the job position.\n\n\n\ndepartment_id\ninteger\nfalse\nRequired only when the job position status is 'published'. This must be a valid department from the provided 'departments' of the system.\n-\n\n\nlocation_id\ninteger\nfalse\nRequired only when the job position status is 'published'. This must be a valid location from the provided 'locations' of the system.\n-\n\n\nemployment_status_id\ninteger\nfalse\nRequired only when the job position status is 'published'. This must be a valid employment status from the provided 'employment-statuses' of the system. Required only when the job position status is 'published'.\n-\n\n\nis_remote\nboolean\nfalse\n'true' for Remote job Position, 'false' for non-Remote job Position\n-",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/job-positions/:jobPosition": {
      "get": {
        "tags": [
          "Applicant Tracking System (Job Positions)"
        ],
        "summary": "Get a job position",
        "operationId": "getJobpositions:jobposition",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to retrieve a specified job position.\nThis endpoint retrieves comprehensive information for a specified job position."
      },
      "put": {
        "tags": [
          "Applicant Tracking System (Job Positions)"
        ],
        "summary": "Update a job position",
        "operationId": "putJobpositions:jobposition",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to update a specified job position.\nThis endpoint updates the specified job position. The request body for this endpoint should include a title and a description for the job position, the hiring team, interview steps, location, department, employment status (e.g., Full Time, Part Time), remote option (if applicable for a remote job), and the current status of the job position (draft or published).\nNote: Valid options for Location, Department, and Employment Status IDs can be found in the endpoints that return information about the system's 'locations', 'departments', and 'employment statuses'.\nAvailable Steps:\nThe available steps in the system are predefined and consist of five steps, all of which must be present. They represent the interview process from the initial application stage to the final hiring decision.\n\n\n\nStep\nName\nSlug\n\n\n\n\nFirst\nApplied\napplied\n\n\nSecond\nPromising\npromising\n\n\nThird\nPhone Screen\nphone-screen\n\n\nFourth\nInterview\ninterview\n\n\nFifth\nHired\nhired\n\n\n\nNote: The first and fifth steps are always enabled and cannot be disabled. You can only update the names of the steps and the enable property, which indicates whether the step is currently enabled or not.\nNote: If at least one applicant has applied for the current job position, the available steps cannot be enabled or disabled (You can change only the name).\n\nRequest body:\n\n\n\nName\nType\nRequired\nDescription\nValues\n\n\n\n\njob_position_title\nstring\ntrue\nThe current title of the job position. Maximum character limit: 255 characters.\n-\n\n\njob_position_status\nenum\ntrue\nThe current status of the job position. Valid values are ['draft','published']\ne.g. draft\n\n\njob_description\nstring\ntrue\nMaximum character limit: 30000 characters. Required only when the job position status is 'published'.\n-\n\n\navailable_steps\narray\ntrue\nArray of available steps, for every 5 steps of the system. Each step (object) must include the step's slug (string), name(string), and its enabled status (boolean). All 5 steps must be present. The first and the last step cannot be disabled.\ne.g. [{\"slug\":\"applied\", \"name\":\"Applied\",\"is_enabled\": false},...]\n\n\nhiring_team\narray\nfalse\nArray of employee Ids (Active and not Terminated employees). This is the hiring team members for the job position.\n\n\n\ndepartment_id\ninteger\nfalse\nRequired only when the job position status is 'published'. This must be a valid department from the provided 'departments' of the system.\n-\n\n\nlocation_id\ninteger\nfalse\nRequired only when the job position status is 'published'. This must be a valid location from the provided 'locations' of the system.\n-\n\n\nemployment_status_id\ninteger\nfalse\nRequired only when the job position status is 'published'. This must be a valid employment status from the provided 'employment-statuses' of the system. Required only when the job position status is 'published'.\n-\n\n\nis_remote\nboolean\nfalse\n'true' for Remote job Position, 'false' for non-Remote job Position\n-",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Applicant Tracking System (Job Positions)"
        ],
        "summary": "Delete a job position",
        "operationId": "deleteJobpositions:jobposition",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "API Endpoint to delete a specified job position.\nThis endpoint facilitates the deletion of the specified job position. Upon deletion, any associated notification notes created for the job position are also removed. Additionally, if the job position status was published, it is also removed from the published records of the domain's active career page."
      }
    },
    "/v1/job-positions/:jobPosition/ats-applicants?limit=<integer>&offset=<integer>&order=<string>&sort=<string>&search=<string>": {
      "get": {
        "tags": [
          "Applicant Tracking System (Job Positions)"
        ],
        "summary": "Get job position's applicants",
        "operationId": "getJobpositions:jobpositionAtsapplicants?limit=<integer>&offset=<integer>&order=<string>&sort=<string>&search=<string>",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
[...]
