{
  "openapi": "3.0.3",
  "info": {
    "title": "Pyrus API",
    "version": "4.0.0",
    "description": "Pyrus is a workflow automation and task management platform. The API provides endpoints for managing tasks, forms, catalogs, files, members, contacts, announcements, and lists.",
    "x-jentic-source-url": "https://pyrus.com/en/help/api"
  },
  "servers": [
    {
      "url": "https://api.pyrus.com/v4"
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "operationId": "authenticate",
        "summary": "Authenticate",
        "tags": [
          "Auth"
        ],
        "servers": [
          {
            "url": "https://accounts.pyrus.com/api/v4"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "login",
                  "security_key"
                ],
                "properties": {
                  "login": {
                    "type": "string"
                  },
                  "security_key": {
                    "type": "string"
                  },
                  "person_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auth successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tasks/{task_id}": {
      "get": {
        "operationId": "getTask",
        "summary": "Get task",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tasks": {
      "post": {
        "operationId": "createTask",
        "summary": "Create task",
        "tags": [
          "Tasks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tasks/{task_id}/comments": {
      "post": {
        "operationId": "addComment",
        "summary": "Add comment to task",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment added"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/forms": {
      "get": {
        "operationId": "listForms",
        "summary": "List forms",
        "tags": [
          "Forms"
        ],
        "responses": {
          "200": {
            "description": "Forms list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/forms/{form_id}": {
      "get": {
        "operationId": "getForm",
        "summary": "Get form",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/forms/{form_id}/register": {
      "get": {
        "operationId": "getFormRegister",
        "summary": "Get form tasks",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "steps",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form tasks"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/forms/{form_id}/permissions": {
      "get": {
        "operationId": "getFormPermissions",
        "summary": "Get form permissions",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Permissions"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "setFormPermissions",
        "summary": "Set form permissions",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Permissions set"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/catalogs": {
      "get": {
        "operationId": "listCatalogs",
        "summary": "List catalogs",
        "tags": [
          "Catalogs"
        ],
        "responses": {
          "200": {
            "description": "Catalogs"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "createCatalog",
        "summary": "Create catalog",
        "tags": [
          "Catalogs"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Catalog created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/catalogs/{catalog_id}": {
      "get": {
        "operationId": "getCatalog",
        "summary": "Get catalog",
        "tags": [
          "Catalogs"
        ],
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include_deleted",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "syncCatalog",
        "summary": "Sync catalog",
        "tags": [
          "Catalogs"
        ],
        "parameters": [
          {
            "name": "catalog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "apply": {
                    "type": "boolean"
                  },
                  "catalog_headers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Catalog synced"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/files/upload": {
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload file",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "guid": {
                      "type": "string"
                    },
                    "md5_hash": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/files/download/{file_id}": {
      "get": {
        "operationId": "downloadFile",
        "summary": "Download file",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/members": {
      "get": {
        "operationId": "listMembers",
        "summary": "List members",
        "tags": [
          "Members"
        ],
        "responses": {
          "200": {
            "description": "Members list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createMember",
        "summary": "Create member",
        "tags": [
          "Members"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/members/{id}": {
      "get": {
        "operationId": "getMember",
        "summary": "Get member",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateMember",
        "summary": "Update member",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "blockMember",
        "summary": "Block member",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member blocked"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "include_inactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/announcements": {
      "get": {
        "operationId": "listAnnouncements",
        "summary": "List announcements",
        "tags": [
          "Announcements"
        ],
        "parameters": [
          {
            "name": "item_count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Announcements"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createAnnouncement",
        "summary": "Create announcement",
        "tags": [
          "Announcements"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Announcement created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/announcements/{id}": {
      "get": {
        "operationId": "getAnnouncement",
        "summary": "Get announcement",
        "tags": [
          "Announcements"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Announcement"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/announcements/{id}/comments": {
      "post": {
        "operationId": "addAnnouncementComment",
        "summary": "Comment on announcement",
        "tags": [
          "Announcements"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment added"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/lists": {
      "get": {
        "operationId": "listLists",
        "summary": "List all lists",
        "tags": [
          "Lists"
        ],
        "responses": {
          "200": {
            "description": "Lists"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/lists/{list_id}": {
      "get": {
        "operationId": "getList",
        "summary": "Get list",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "updateList",
        "summary": "Update list",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "added_managers": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "added_members": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "removed_managers": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "removed_members": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/lists/{list_id}/tasks": {
      "get": {
        "operationId": "getListTasks",
        "summary": "Get list tasks",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "item_count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 200
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tasks"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/inbox": {
      "get": {
        "operationId": "getInbox",
        "summary": "Get inbox tasks",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "item_count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inbox tasks"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "api_url": {
            "type": "string"
          },
          "files_url": {
            "type": "string"
          }
        }
      },
      "TaskCreate": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "responsible": {
            "type": "object"
          },
          "due_date": {
            "type": "string",
            "format": "date"
          },
          "subject": {
            "type": "string"
          },
          "form_id": {
            "type": "integer"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CommentCreate": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "action": {
            "type": "string",
            "enum": [
              "finished",
              "reopened"
            ]
          },
          "approval_choice": {
            "type": "string",
            "enum": [
              "approved",
              "acknowledged",
              "rejected",
              "revoked"
            ]
          }
        }
      },
      "CatalogCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "catalog_headers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "MemberCreate": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "position": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}