{
  "swagger": "2.0",
  "info": {
    "description": "Api encargada de la administracion de llaves",
    "version": "v1",
    "title": "API Visanet Key Management",
    "termsOfService": "http://www.visanet.com.pe",
    "contact": {
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe",
      "email": "visanet@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.keymanagement/v1/swagger.json"
  },
  "host": "apitestenv.vnforapps.com",
  "basePath": "/api.keymanagement/v1",
  "tags": [
    {
      "name": "Key Management Api",
      "description": "RESTful API to manage keys."
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/key/configure": {
      "post": {
        "tags": [
          "Key Management Api"
        ],
        "summary": "Configure vault",
        "description": "RESTful API to configure key vault.",
        "operationId": "configure",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Configuration request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EncryptVaultResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/key/decrypt": {
      "post": {
        "tags": [
          "Key Management Api"
        ],
        "summary": "Decrypt payload",
        "description": "RESTful API to decrypt payloads.",
        "operationId": "decrypt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Decrypt value request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EncryptVaultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EncryptVaultResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/key/encrypt": {
      "post": {
        "tags": [
          "Key Management Api"
        ],
        "summary": "Encrypt payload",
        "description": "RESTful API to encrypt payloads.",
        "operationId": "encrypt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Encrypt value request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EncryptVaultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EncryptVaultResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/key/init": {
      "post": {
        "tags": [
          "Key Management Api"
        ],
        "summary": "Initialize derived key",
        "description": "RESTful API to init derived keys.",
        "operationId": "initializeDerivedKey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Initialize derived key request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyInitRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/KeyInitResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/key/master/init": {
      "post": {
        "tags": [
          "Key Management Api"
        ],
        "summary": "Initialize master key",
        "description": "RESTful API to init master keys.",
        "operationId": "initializeMasterKey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Initialize master key request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyMasterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/KeyManagement"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/key/master/retrieve": {
      "post": {
        "tags": [
          "Key Management Api"
        ],
        "summary": "Retrieve master key",
        "description": "RESTful API to retrieve master keys.",
        "operationId": "retrieveMasterKey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Retrieve master key request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RetrieveMasterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/KeyManagement"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/key/retrieve/{issuerId}/{terminalId}": {
      "get": {
        "tags": [
          "Key Management Api"
        ],
        "summary": "Query key",
        "description": "RESTful API to query keys.",
        "operationId": "retrieveKey",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "issuerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "terminalId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/KeyInitResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "description": "Access token obtained from api.security",
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "ConfigurationRequest": {
      "type": "object",
      "required": [
        "bdkToken",
        "mkToken"
      ],
      "properties": {
        "mkToken": {
          "type": "string",
          "description": "Token de la llave maestra"
        },
        "bdkToken": {
          "type": "string",
          "description": "Token de la llave base de derivacion"
        }
      },
      "description": "Request para configurar par de llaves"
    },
    "EncryptVaultRequest": {
      "type": "object",
      "required": [
        "hex",
        "issuerId",
        "padding",
        "payload",
        "terminalId"
      ],
      "properties": {
        "issuerId": {
          "type": "string",
          "description": "Identificador del emisor de la llave"
        },
        "terminalId": {
          "type": "string",
          "example": "12345678",
          "description": "Identificador del terminal"
        },
        "payload": {
          "type": "string",
          "description": "Valor a encriptar"
        },
        "padding": {
          "type": "boolean",
          "description": "Flag que indica si se utiliza padding al encriptar"
        },
        "hex": {
          "type": "boolean",
          "description": "Flag que indica si se el valor a encriptar esta en formato Hexadecimal"
        }
      },
      "description": "Request para encriptar payload"
    },
    "EncryptVaultResult": {
      "type": "object",
      "required": [
        "result"
      ],
      "properties": {
        "result": {
          "type": "string",
          "description": "Resultado de la encriptacion"
        }
      },
      "description": "Resultado del proceso de encriptacion"
    },
    "KeyInitRequest": {
      "type": "object",
      "required": [
        "channelId",
        "cpuId",
        "issuerId",
        "reference",
        "regenerate",
        "terminalId"
      ],
      "properties": {
        "issuerId": {
          "type": "string",
          "description": "Identificador del emisor de la llave"
        },
        "channelId": {
          "type": "string",
          "example": "web",
          "description": "Canal desde donde se origina la solicitud",
          "enum": [
            "mobile",
            "web",
            "mpos",
            "host",
            "pos",
            "kiosk",
            "callcenter"
          ]
        },
        "terminalId": {
          "type": "string",
          "example": "12345678",
          "description": "Identificador del terminal"
        },
        "cpuId": {
          "type": "string",
          "description": "Identificador del Cpu"
        },
        "reference": {
          "type": "string",
          "description": "Referencia del solicitante"
        },
        "regenerate": {
          "type": "boolean",
          "description": "Flag que indica si debe regenerarse la llave"
        }
      },
      "description": "Request para inicializar working key"
    },
    "KeyInitResponse": {
      "type": "object",
      "required": [
        "creationTime",
        "ewk",
        "keyId",
        "salt"
      ],
      "properties": {
        "ewk": {
          "type": "string",
          "description": "Encrypted working key"
        },
        "salt": {
          "type": "string",
          "description": "Random data used in the encryption process"
        },
        "keyId": {
          "type": "string",
          "description": "Key identifier"
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Creation datetime"
        }
      },
      "description": "Resultado del proceso de inicializacion de llave derivada"
    },
    "KeyManagement": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Descripcion de la llave inicializada"
        },
        "token": {
          "type": "string",
          "description": "Token identificador unico de la llave"
        },
        "encryptedKey": {
          "type": "string",
          "description": "Llave encriptada"
        },
        "active": {
          "type": "boolean",
          "description": "Flag que indica si la llave esta activa"
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Fecha de creacion"
        }
      },
      "description": "Resultado de la incializacion de la llave"
    },
    "KeyMasterRequest": {
      "type": "object",
      "required": [
        "description"
      ],
      "properties": {
        "key": {
          "type": "string",
          "description": "Llave a inicializar, opcional si no se envia la llave sera generada automaticamente"
        },
        "description": {
          "type": "string",
          "description": "Descripcion de la llave"
        }
      },
      "description": "Request para inicializar un Master key"
    },
    "RetrieveMasterRequest": {
      "type": "object",
      "required": [
        "token"
      ],
      "properties": {
        "token": {
          "type": "string",
          "description": "Token identificador unico de la llave"
        }
      },
      "description": "Retrieve Decrypted Key"
    }
  }
}