{
  "openapi": "3.0.3",
  "info": {
    "title": "Powrbot API",
    "description": "Company data automation API that provides company information search capabilities including single lookups, bulk CSV searches, and result downloads.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://powrbot.com/cpages/docs/"
  },
  "servers": [
    {
      "url": "https://powrbot.com/api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/search/single/": {
      "get": {
        "operationId": "searchSingleCompany",
        "summary": "Search for a single company",
        "description": "Search for company data by company name. Returns matching company information including revenue, founders, industry, and other details.",
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Company name to search for"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "searchSingleCompanyPost",
        "summary": "Search for a single company (POST)",
        "description": "Search for company data by company name using POST method.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/": {
      "get": {
        "operationId": "listSearches",
        "summary": "List all searches",
        "description": "Retrieve a list of all previous searches with their metadata and status.",
        "responses": {
          "200": {
            "description": "List of searches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchMetadata"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBulkSearch",
        "summary": "Create a bulk search",
        "description": "Upload a CSV file containing company names for bulk search. Supports callback URL for completion notification.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BulkSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk search created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/{searchId}": {
      "get": {
        "operationId": "getSearchResult",
        "summary": "Get search result",
        "description": "Retrieve the results and status of a specific search by ID.",
        "parameters": [
          {
            "name": "searchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/{searchId}/download": {
      "get": {
        "operationId": "downloadSearchCsv",
        "summary": "Download search results as CSV",
        "description": "Download the results of a completed search as a CSV file.",
        "parameters": [
          {
            "name": "searchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "CSV file download",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key authentication. Format: 'secret-key <your-secret-key>'"
      }
    },
    "schemas": {
      "SingleSearchRequest": {
        "type": "object",
        "required": [
          "company"
        ],
        "properties": {
          "company": {
            "type": "string",
            "description": "Company name to search for"
          }
        }
      },
      "BulkSearchRequest": {
        "type": "object",
        "required": [
          "file"
        ],
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "CSV file containing company names"
          },
          "callback_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive POST notification when search completes"
          }
        }
      },
      "CompanyResult": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Company name"
          },
          "wiki:Revenue": {
            "type": "string",
            "description": "Company revenue information"
          },
          "wiki:Founders": {
            "type": "string",
            "description": "Company founders"
          },
          "wiki:Industry": {
            "type": "string",
            "description": "Company industry"
          },
          "wiki:Founded": {
            "type": "string",
            "description": "Year founded"
          },
          "wiki:Headquarters": {
            "type": "string",
            "description": "Company headquarters location"
          },
          "wiki:Number_of_employees": {
            "type": "string",
            "description": "Number of employees"
          },
          "wiki:Website": {
            "type": "string",
            "description": "Company website URL"
          }
        }
      },
      "BulkSearchResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Search identifier"
          },
          "status": {
            "type": "string",
            "description": "Search status"
          }
        }
      },
      "SearchMetadata": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Search identifier"
          },
          "status": {
            "type": "string",
            "description": "Search status"
          },
          "count": {
            "type": "integer",
            "description": "Number of companies in the search"
          },
          "is_completed": {
            "type": "boolean",
            "description": "Whether the search has completed"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Search identifier"
          },
          "status": {
            "type": "string",
            "description": "Search status"
          },
          "is_completed": {
            "type": "boolean",
            "description": "Whether the search has completed"
          },
          "count": {
            "type": "integer",
            "description": "Number of results"
          },
          "download_url": {
            "type": "string",
            "description": "URL to download results as CSV"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanyResult"
            },
            "description": "Search results"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ]
}