{
  "openapi": "3.0.3",
  "info": {
    "title": "Bithumb API",
    "description": "Bithumb is South Korea's leading cryptocurrency exchange. This API provides access to market data, trading, and account management. It includes both the legacy public API and the newer v1 API endpoints.",
    "version": "2.1.5",
    "contact": {
      "name": "Bithumb",
      "url": "https://apidocs.bithumb.com"
    }
  },
  "servers": [
    {
      "url": "https://api.bithumb.com",
      "description": "Bithumb API Server"
    }
  ],
  "paths": {
    "/public/ticker/{order_currency}_{payment_currency}": {
      "get": {
        "operationId": "getTicker",
        "summary": "Get current ticker",
        "description": "Returns the current price information for the specified trading pair. Use ALL as order_currency to get all tickers.",
        "tags": ["Public - Legacy"],
        "parameters": [
          {
            "name": "order_currency",
            "in": "path",
            "required": true,
            "description": "Order currency symbol (e.g., BTC, ETH, XRP) or ALL for all currencies.",
            "schema": {
              "type": "string",
              "example": "BTC"
            }
          },
          {
            "name": "payment_currency",
            "in": "path",
            "required": true,
            "description": "Payment currency symbol (e.g., KRW, BTC).",
            "schema": {
              "type": "string",
              "enum": ["KRW", "BTC"],
              "example": "KRW"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/orderbook/{order_currency}_{payment_currency}": {
      "get": {
        "operationId": "getOrderbook",
        "summary": "Get orderbook",
        "description": "Returns the current orderbook (bids and asks) for the specified trading pair.",
        "tags": ["Public - Legacy"],
        "parameters": [
          {
            "name": "order_currency",
            "in": "path",
            "required": true,
            "description": "Order currency symbol (e.g., BTC, ETH, XRP) or ALL.",
            "schema": {
              "type": "string",
              "example": "BTC"
            }
          },
          {
            "name": "payment_currency",
            "in": "path",
            "required": true,
            "description": "Payment currency symbol.",
            "schema": {
              "type": "string",
              "enum": ["KRW", "BTC"],
              "example": "KRW"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of orderbook entries to return (1-30, default 30).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderbookResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/transaction_history/{order_currency}_{payment_currency}": {
      "get": {
        "operationId": "getTransactionHistory",
        "summary": "Get recent transaction history",
        "description": "Returns the most recent completed transactions for the specified trading pair.",
        "tags": ["Public - Legacy"],
        "parameters": [
          {
            "name": "order_currency",
            "in": "path",
            "required": true,
            "description": "Order currency symbol (e.g., BTC, ETH).",
            "schema": {
              "type": "string",
              "example": "BTC"
            }
          },
          {
            "name": "payment_currency",
            "in": "path",
            "required": true,
            "description": "Payment currency symbol.",
            "schema": {
              "type": "string",
              "enum": ["KRW", "BTC"],
              "example": "KRW"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of transactions to return (1-100, default 20).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/market/all": {
      "get": {
        "operationId": "getMarkets",
        "summary": "Get all market codes",
        "description": "Returns a list of all available trading markets with their Korean and English names.",
        "tags": ["Public - v1"],
        "parameters": [
          {
            "name": "isDetails",
            "in": "query",
            "required": false,
            "description": "Whether to include detailed market information.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Market"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/candles/minutes/{unit}": {
      "get": {
        "operationId": "getCandlesMinutes",
        "summary": "Get minute candle data",
        "description": "Returns minute-interval candle (OHLCV) data for the specified market.",
        "tags": ["Public - v1"],
        "parameters": [
          {
            "name": "unit",
            "in": "path",
            "required": true,
            "description": "Minute interval unit (1, 3, 5, 10, 15, 30, 60, 240).",
            "schema": {
              "type": "integer",
              "enum": [1, 3, 5, 10, 15, 30, 60, 240]
            }
          },
          {
            "name": "market",
            "in": "query",
            "required": true,
            "description": "Market code (e.g., KRW-BTC).",
            "schema": {
              "type": "string",
              "example": "KRW-BTC"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End time in yyyy-MM-dd'T'HH:mm:ss format (UTC). Returns most recent if omitted.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of candles to return (max 200).",
            "schema": {
              "type": "integer",
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Candle"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/candles/days": {
      "get": {
        "operationId": "getCandlesDays",
        "summary": "Get daily candle data",
        "description": "Returns daily candle (OHLCV) data for the specified market.",
        "tags": ["Public - v1"],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "description": "Market code (e.g., KRW-BTC).",
            "schema": {
              "type": "string",
              "example": "KRW-BTC"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End date in yyyy-MM-dd format.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of candles to return (max 200).",
            "schema": {
              "type": "integer",
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Candle"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/candles/weeks": {
      "get": {
        "operationId": "getCandlesWeeks",
        "summary": "Get weekly candle data",
        "description": "Returns weekly candle (OHLCV) data for the specified market.",
        "tags": ["Public - v1"],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "description": "Market code (e.g., KRW-BTC).",
            "schema": {
              "type": "string",
              "example": "KRW-BTC"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End date in yyyy-MM-dd format.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of candles to return (max 200).",
            "schema": {
              "type": "integer",
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Candle"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/candles/months": {
      "get": {
        "operationId": "getCandlesMonths",
        "summary": "Get monthly candle data",
        "description": "Returns monthly candle (OHLCV) data for the specified market.",
        "tags": ["Public - v1"],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "description": "Market code (e.g., KRW-BTC).",
            "schema": {
              "type": "string",
              "example": "KRW-BTC"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End date in yyyy-MM-dd format.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of candles to return (max 200).",
            "schema": {
              "type": "integer",
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Candle"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/trades/ticks": {
      "get": {
        "operationId": "getTradesTicks",
        "summary": "Get recent trades",
        "description": "Returns a list of the most recent trades for the specified market.",
        "tags": ["Public - v1"],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "description": "Market code (e.g., KRW-BTC).",
            "schema": {
              "type": "string",
              "example": "KRW-BTC"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Last trade sequential ID for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of trade ticks to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TradeTick"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ticker": {
      "get": {
        "operationId": "getTickerV1",
        "summary": "Get current price",
        "description": "Returns current price information for the specified market.",
        "tags": ["Public - v1"],
        "parameters": [
          {
            "name": "markets",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of market codes (e.g., KRW-BTC,KRW-ETH).",
            "schema": {
              "type": "string",
              "example": "KRW-BTC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TickerV1"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/orderbook": {
      "get": {
        "operationId": "getOrderbookV1",
        "summary": "Get orderbook",
        "description": "Returns the current orderbook for the specified market(s).",
        "tags": ["Public - v1"],
        "parameters": [
          {
            "name": "markets",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of market codes (e.g., KRW-BTC).",
            "schema": {
              "type": "string",
              "example": "KRW-BTC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderbookV1"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts": {
      "get": {
        "operationId": "getAccounts",
        "summary": "Get all accounts",
        "description": "Returns a list of all accounts/balances for the authenticated user.",
        "tags": ["Private"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/orders/chance": {
      "get": {
        "operationId": "getOrdersChance",
        "summary": "Get order availability",
        "description": "Returns information on whether the user can place an order for the given market, including available balance and fee rates.",
        "tags": ["Private"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "description": "Market code (e.g., KRW-BTC).",
            "schema": {
              "type": "string",
              "example": "KRW-BTC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderChance"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/order": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get individual order",
        "description": "Returns details for a specific order by UUID or client_order_id.",
        "tags": ["Private"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": false,
            "description": "Order UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "client_order_id",
            "in": "query",
            "required": false,
            "description": "Client-defined order ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/orders": {
      "get": {
        "operationId": "getOrders",
        "summary": "Get order list",
        "description": "Returns a list of orders for the authenticated user, with optional filtering.",
        "tags": ["Private"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "description": "Market code to filter by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Order state filter (wait, done, cancel).",
            "schema": {
              "type": "string",
              "enum": ["wait", "done", "cancel"]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results per page.",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "description": "Sort order (asc or desc).",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createOrder",
        "summary": "Place an order",
        "description": "Places a new buy or sell order on the specified market.",
        "tags": ["Private"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "cancelOrder",
        "summary": "Cancel an order",
        "description": "Cancels a pending order by UUID or client_order_id.",
        "tags": ["Private"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": false,
            "description": "Order UUID to cancel.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "client_order_id",
            "in": "query",
            "required": false,
            "description": "Client-defined order ID to cancel.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/orders/batch": {
      "post": {
        "operationId": "createBatchOrders",
        "summary": "Place batch orders",
        "description": "Places multiple orders in a single request.",
        "tags": ["Private - v2"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["orders"],
                "properties": {
                  "orders": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateOrderRequest"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Batch orders created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/orders/cancel": {
      "post": {
        "operationId": "cancelBatchOrders",
        "summary": "Cancel batch orders",
        "description": "Cancels multiple orders in a single request.",
        "tags": ["Private - v2"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["uuids"],
                "properties": {
                  "uuids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "List of order UUIDs to cancel."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch cancellation successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/withdraws": {
      "get": {
        "operationId": "getWithdraws",
        "summary": "Get withdrawal list",
        "description": "Returns a list of cryptocurrency withdrawals.",
        "tags": ["Private"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Currency code to filter by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Withdrawal state filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "description": "Sort order (asc or desc).",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Withdraw"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/withdraws/krw": {
      "get": {
        "operationId": "getWithdrawsKrw",
        "summary": "Get KRW withdrawal list",
        "description": "Returns a list of KRW (Korean Won) withdrawals.",
        "tags": ["Private"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Withdraw"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "withdrawKrw",
        "summary": "Withdraw KRW",
        "description": "Submits a Korean Won withdrawal request.",
        "tags": ["Private"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount"],
                "properties": {
                  "amount": {
                    "type": "string",
                    "description": "Amount to withdraw in KRW."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal request submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Withdraw"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/market/virtual_asset_warning": {
      "get": {
        "operationId": "getVirtualAssetWarning",
        "summary": "Get virtual asset warning list",
        "description": "Returns a list of assets flagged with warnings (e.g., investment caution notices).",
        "tags": ["Public - v1"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "market": {
                        "type": "string",
                        "description": "Market code."
                      },
                      "warning_type": {
                        "type": "string",
                        "description": "Type of warning."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/notices": {
      "get": {
        "operationId": "getNotices",
        "summary": "Get announcements",
        "description": "Returns a list of recent exchange announcements and notices.",
        "tags": ["Public - v1"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT authentication token. Private API endpoints require a JWT generated using your API access key and secret key. The token payload must include the access_key, nonce (UUID v4), and for endpoints with query parameters, a query_hash (SHA-512 of the query string)."
      }
    },
    "schemas": {
      "TickerResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Response status code. '0000' indicates success.",
            "example": "0000"
          },
          "data": {
            "type": "object",
            "properties": {
              "opening_price": {
                "type": "string",
                "description": "Opening price for the current day."
              },
              "closing_price": {
                "type": "string",
                "description": "Most recent trade price."
              },
              "min_price": {
                "type": "string",
                "description": "Lowest price of the day."
              },
              "max_price": {
                "type": "string",
                "description": "Highest price of the day."
              },
              "units_traded": {
                "type": "string",
                "description": "Volume traded during the current day."
              },
              "acc_trade_value": {
                "type": "string",
                "description": "Accumulated trade value for the day."
              },
              "prev_closing_price": {
                "type": "string",
                "description": "Previous day's closing price."
              },
              "units_traded_24H": {
                "type": "string",
                "description": "Volume traded in the last 24 hours."
              },
              "acc_trade_value_24H": {
                "type": "string",
                "description": "Accumulated trade value for the last 24 hours."
              },
              "fluctate_24H": {
                "type": "string",
                "description": "Price change in the last 24 hours."
              },
              "fluctate_rate_24H": {
                "type": "string",
                "description": "Price change rate (%) in the last 24 hours."
              },
              "date": {
                "type": "string",
                "description": "Timestamp in milliseconds."
              }
            }
          }
        }
      },
      "OrderbookResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "0000"
          },
          "data": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "string",
                "description": "Timestamp in milliseconds."
              },
              "payment_currency": {
                "type": "string",
                "description": "Payment currency (e.g., KRW)."
              },
              "order_currency": {
                "type": "string",
                "description": "Order currency (e.g., BTC)."
              },
              "bids": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OrderbookEntry"
                },
                "description": "List of buy orders."
              },
              "asks": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OrderbookEntry"
                },
                "description": "List of sell orders."
              }
            }
          }
        }
      },
      "OrderbookEntry": {
        "type": "object",
        "properties": {
          "price": {
            "type": "string",
            "description": "Order price."
          },
          "quantity": {
            "type": "string",
            "description": "Order quantity."
          }
        }
      },
      "TransactionHistoryResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "0000"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "transaction_date": {
                  "type": "string",
                  "description": "Transaction timestamp (yyyy-MM-dd HH:mm:ss)."
                },
                "type": {
                  "type": "string",
                  "enum": ["bid", "ask"],
                  "description": "Transaction type (bid=buy, ask=sell)."
                },
                "units_traded": {
                  "type": "string",
                  "description": "Quantity traded."
                },
                "price": {
                  "type": "string",
                  "description": "Trade price."
                },
                "total": {
                  "type": "string",
                  "description": "Total trade value."
                }
              }
            }
          }
        }
      },
      "Market": {
        "type": "object",
        "properties": {
          "market": {
            "type": "string",
            "description": "Market code (e.g., KRW-BTC).",
            "example": "KRW-BTC"
          },
          "korean_name": {
            "type": "string",
            "description": "Korean name of the cryptocurrency.",
            "example": "비트코인"
          },
          "english_name": {
            "type": "string",
            "description": "English name of the cryptocurrency.",
            "example": "Bitcoin"
          }
        }
      },
      "Candle": {
        "type": "object",
        "properties": {
          "market": {
            "type": "string",
            "description": "Market code."
          },
          "candle_date_time_utc": {
            "type": "string",
            "format": "date-time",
            "description": "Candle timestamp in UTC."
          },
          "candle_date_time_kst": {
            "type": "string",
            "format": "date-time",
            "description": "Candle timestamp in KST (UTC+9)."
          },
          "opening_price": {
            "type": "number",
            "description": "Opening price."
          },
          "high_price": {
            "type": "number",
            "description": "High price."
          },
          "low_price": {
            "type": "number",
            "description": "Low price."
          },
          "trade_price": {
            "type": "number",
            "description": "Closing/trade price."
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp in milliseconds."
          },
          "candle_acc_trade_price": {
            "type": "number",
            "description": "Accumulated trade price for the candle."
          },
          "candle_acc_trade_volume": {
            "type": "number",
            "description": "Accumulated trade volume for the candle."
          }
        }
      },
      "TradeTick": {
        "type": "object",
        "properties": {
          "market": {
            "type": "string"
          },
          "trade_date_utc": {
            "type": "string",
            "description": "Trade date in UTC (yyyy-MM-dd)."
          },
          "trade_time_utc": {
            "type": "string",
            "description": "Trade time in UTC (HH:mm:ss)."
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "trade_price": {
            "type": "number"
          },
          "trade_volume": {
            "type": "number"
          },
          "prev_closing_price": {
            "type": "number"
          },
          "change_price": {
            "type": "number"
          },
          "ask_bid": {
            "type": "string",
            "enum": ["ASK", "BID"]
          },
          "sequential_id": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "TickerV1": {
        "type": "object",
        "properties": {
          "market": {
            "type": "string"
          },
          "trade_date": {
            "type": "string"
          },
          "trade_time": {
            "type": "string"
          },
          "trade_timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "opening_price": {
            "type": "number"
          },
          "high_price": {
            "type": "number"
          },
          "low_price": {
            "type": "number"
          },
          "trade_price": {
            "type": "number"
          },
          "prev_closing_price": {
            "type": "number"
          },
          "change": {
            "type": "string",
            "enum": ["EVEN", "RISE", "FALL"]
          },
          "change_price": {
            "type": "number"
          },
          "change_rate": {
            "type": "number"
          },
          "signed_change_price": {
            "type": "number"
          },
          "signed_change_rate": {
            "type": "number"
          },
          "trade_volume": {
            "type": "number"
          },
          "acc_trade_price": {
            "type": "number"
          },
          "acc_trade_price_24h": {
            "type": "number"
          },
          "acc_trade_volume": {
            "type": "number"
          },
          "acc_trade_volume_24h": {
            "type": "number"
          },
          "highest_52_week_price": {
            "type": "number"
          },
          "highest_52_week_date": {
            "type": "string"
          },
          "lowest_52_week_price": {
            "type": "number"
          },
          "lowest_52_week_date": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "OrderbookV1": {
        "type": "object",
        "properties": {
          "market": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "total_ask_size": {
            "type": "number"
          },
          "total_bid_size": {
            "type": "number"
          },
          "orderbook_units": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ask_price": {
                  "type": "number"
                },
                "bid_price": {
                  "type": "number"
                },
                "ask_size": {
                  "type": "number"
                },
                "bid_size": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code."
          },
          "balance": {
            "type": "string",
            "description": "Available balance."
          },
          "locked": {
            "type": "string",
            "description": "Balance locked in pending orders."
          },
          "avg_buy_price": {
            "type": "string",
            "description": "Average purchase price."
          },
          "avg_buy_price_modified": {
            "type": "boolean",
            "description": "Whether the average buy price has been modified."
          },
          "unit_currency": {
            "type": "string",
            "description": "Unit currency for the average buy price."
          }
        }
      },
      "OrderChance": {
        "type": "object",
        "properties": {
          "bid_fee": {
            "type": "string",
            "description": "Buy fee rate."
          },
          "ask_fee": {
            "type": "string",
            "description": "Sell fee rate."
          },
          "market": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "order_types": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "order_sides": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "state": {
                "type": "string"
              }
            }
          },
          "bid_account": {
            "$ref": "#/components/schemas/Account"
          },
          "ask_account": {
            "$ref": "#/components/schemas/Account"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Order unique identifier."
          },
          "side": {
            "type": "string",
            "enum": ["bid", "ask"],
            "description": "Order side (bid=buy, ask=sell)."
          },
          "ord_type": {
            "type": "string",
            "enum": ["limit", "price", "market"],
            "description": "Order type: limit, price (market buy by total), market (market sell)."
          },
          "price": {
            "type": "string",
            "description": "Order price (for limit orders) or total amount (for price orders).",
            "nullable": true
          },
          "state": {
            "type": "string",
            "enum": ["wait", "done", "cancel"],
            "description": "Order state."
          },
          "market": {
            "type": "string",
            "description": "Market code."
          },
          "volume": {
            "type": "string",
            "description": "Order volume.",
            "nullable": true
          },
          "remaining_volume": {
            "type": "string",
            "description": "Remaining unfilled volume."
          },
          "reserved_fee": {
            "type": "string",
            "description": "Reserved fee."
          },
          "remaining_fee": {
            "type": "string",
            "description": "Remaining fee."
          },
          "paid_fee": {
            "type": "string",
            "description": "Paid fee."
          },
          "locked": {
            "type": "string",
            "description": "Locked amount."
          },
          "executed_volume": {
            "type": "string",
            "description": "Executed volume."
          },
          "trades_count": {
            "type": "integer",
            "description": "Number of trades."
          },
          "client_order_id": {
            "type": "string",
            "description": "Client-defined order ID.",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Order creation timestamp."
          }
        }
      },
      "CreateOrderRequest": {
        "type": "object",
        "required": ["market", "side", "ord_type"],
        "properties": {
          "market": {
            "type": "string",
            "description": "Market code (e.g., KRW-BTC).",
            "example": "KRW-BTC"
          },
          "side": {
            "type": "string",
            "enum": ["bid", "ask"],
            "description": "Order side: bid (buy) or ask (sell)."
          },
          "volume": {
            "type": "string",
            "description": "Order volume. Required for limit and market sell orders.",
            "nullable": true
          },
          "price": {
            "type": "string",
            "description": "Order price. Required for limit orders. For 'price' type orders, this is the total KRW amount.",
            "nullable": true
          },
          "ord_type": {
            "type": "string",
            "enum": ["limit", "price", "market"],
            "description": "Order type: limit (limit order), price (market buy by total amount), market (market sell)."
          },
          "client_order_id": {
            "type": "string",
            "description": "Optional client-defined order ID for tracking.",
            "nullable": true
          }
        }
      },
      "Withdraw": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Withdrawal type."
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "currency": {
            "type": "string"
          },
          "txid": {
            "type": "string",
            "description": "Blockchain transaction ID.",
            "nullable": true
          },
          "state": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "done_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "amount": {
            "type": "string"
          },
          "fee": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Public - Legacy",
      "description": "Legacy public API endpoints (api.bithumb.com/public/). No authentication required."
    },
    {
      "name": "Public - v1",
      "description": "V1 public API endpoints. No authentication required."
    },
    {
      "name": "Private",
      "description": "Private API endpoints requiring JWT authentication."
    },
    {
      "name": "Private - v2",
      "description": "V2 private API endpoints with batch operations."
    }
  ],
  "externalDocs": {
    "description": "Bithumb API Documentation",
    "url": "https://apidocs.bithumb.com"
  }
}