{
  "openapi": "3.0.3",
  "info": {
    "title": "La Growth Machine API",
    "description": "La Growth Machine (LGM) external API for managing campaigns, leads, audiences, identities, members, inbox messaging, and website visitor webhooks. Authenticate using an API key passed as the `apikey` query parameter. Rate limited to 50 calls per 10 seconds per API key.",
    "version": "2.0.0",
    "contact": {
      "name": "La Growth Machine",
      "url": "https://lagrowthmachine.com"
    },
    "x-jentic-source-url": "https://documenter.getpostman.com/view/2071164/TVCmSkH2"
  },
  "servers": [
    {
      "url": "https://apiv2.lagrowthmachine.com/flow",
      "description": "La Growth Machine API v2"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/campaigns": {
      "get": {
        "operationId": "getCampaigns",
        "summary": "Get Campaigns",
        "description": "Retrieve all your campaigns with pagination support.",
        "tags": ["Campaigns"],
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "Number of items to skip (0 minimum), used for pagination.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per query (25 max).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of campaigns.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "campaigns": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CampaignSummary"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of campaigns.",
                      "example": 78
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/campaigns/{campaignId}": {
      "get": {
        "operationId": "getCampaign",
        "summary": "Get Campaign",
        "description": "Retrieve a single campaign by its ID.",
        "tags": ["Campaigns"],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "Campaign ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with campaign details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "campaign": {
                      "$ref": "#/components/schemas/CampaignDetail"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/campaigns/{campaignId}/stats": {
      "get": {
        "operationId": "getCampaignStats",
        "summary": "Get Campaign Stats",
        "description": "Retrieve engagement statistics for a campaign.",
        "tags": ["Campaigns"],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "Campaign ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with campaign engagement stats.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "engagementStats": {
                      "$ref": "#/components/schemas/EngagementStats"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/campaigns/{campaignId}/statsleads": {
      "get": {
        "operationId": "getCampaignLeadsStats",
        "summary": "Get Campaign Leads Stats",
        "description": "Retrieve per-lead statistics for a campaign. Supports cursor-based pagination using lead IDs.",
        "tags": ["Campaigns"],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "Campaign ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "getLeadsAfter",
            "in": "query",
            "description": "Lead ID to fetch leads after (for forward pagination).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "getLeadsBefore",
            "in": "query",
            "description": "Lead ID to fetch leads before (for backward pagination).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with lead stats for the campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "leads": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LeadStats"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total number of leads in the campaign.",
                      "example": 457
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether there are more leads after this page."
                    },
                    "hasLess": {
                      "type": "boolean",
                      "description": "Whether there are leads before this page."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/audiences": {
      "get": {
        "operationId": "listAudiences",
        "summary": "List Audiences",
        "description": "Retrieve all your audiences.",
        "tags": ["Audiences"],
        "responses": {
          "200": {
            "description": "Successful response with list of audiences.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "audiences": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Audience"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      },
      "post": {
        "operationId": "createAudienceFromLinkedinUrl",
        "summary": "Create Audience from LinkedIn URL",
        "description": "Create a new audience or add leads to an existing audience from a LinkedIn search or post URL. Requires a connected LinkedIn identity with the widget open.",
        "tags": ["Audiences"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["audience", "linkedinUrl", "identityId"],
                "properties": {
                  "audience": {
                    "type": "string",
                    "description": "Name of your existing audience or new audience."
                  },
                  "linkedinUrl": {
                    "type": "string",
                    "description": "URL from LinkedIn search or LinkedIn post."
                  },
                  "identityId": {
                    "type": "string",
                    "description": "ID of your identity. LinkedIn must be connected and widget must be open."
                  },
                  "linkedinPostCategory": {
                    "type": "string",
                    "enum": ["like", "comment"],
                    "description": "Filter leads by LinkedIn post engagement type."
                  },
                  "excludeContactedLeads": {
                    "type": "boolean",
                    "description": "Excludes leads who have already been contacted."
                  },
                  "autoImport": {
                    "type": "boolean",
                    "description": "Automatically import new matching leads."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audience created or updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Identity not connected or widget not open.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/identities": {
      "get": {
        "operationId": "listIdentities",
        "summary": "List Identities",
        "description": "Retrieve all your identities (connected accounts used for outreach).",
        "tags": ["Identities"],
        "responses": {
          "200": {
            "description": "Successful response with list of identities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "identities": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Identity"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/leads/search": {
      "get": {
        "operationId": "searchLead",
        "summary": "Search Lead",
        "description": "Search for a lead by various criteria. At least one search parameter should be provided.",
        "tags": ["Leads"],
        "parameters": [
          {
            "name": "firstname",
            "in": "query",
            "description": "Lead firstname.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastname",
            "in": "query",
            "description": "Lead lastname.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyName",
            "in": "query",
            "description": "Lead company name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyUrl",
            "in": "query",
            "description": "Lead company URL.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Searches in both proEmail and persoEmail.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkedinUrl",
            "in": "query",
            "description": "Lead LinkedIn URL.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leadId",
            "in": "query",
            "description": "Lead ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Returns the lead if found, or null.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "lead": {
                      "nullable": true,
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/LeadDetail"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/leads": {
      "post": {
        "operationId": "createOrUpdateLead",
        "summary": "Create or Update a Lead",
        "description": "Create a new lead or update an existing one. The lead is matched by leadId, linkedinUrl, proEmail, persoEmail, or twitter. An audience name is required.",
        "tags": ["Leads"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["audience"],
                "properties": {
                  "audience": {
                    "type": "string",
                    "description": "Audience name to add the lead to."
                  },
                  "leadId": {
                    "type": "string",
                    "description": "Lead ID (for updating an existing lead)."
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Lead firstname."
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Lead lastname."
                  },
                  "gender": {
                    "type": "string",
                    "enum": ["man", "woman"],
                    "description": "Lead gender."
                  },
                  "bio": {
                    "type": "string",
                    "description": "Lead bio."
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Lead company name."
                  },
                  "companyUrl": {
                    "type": "string",
                    "description": "Lead company URL."
                  },
                  "jobTitle": {
                    "type": "string",
                    "description": "Lead job title."
                  },
                  "profilePicture": {
                    "type": "string",
                    "description": "Lead profile picture URL."
                  },
                  "linkedinUrl": {
                    "type": "string",
                    "description": "Lead LinkedIn URL."
                  },
                  "twitter": {
                    "type": "string",
                    "description": "Lead Twitter handle."
                  },
                  "proEmail": {
                    "type": "string",
                    "description": "Lead professional email."
                  },
                  "persoEmail": {
                    "type": "string",
                    "description": "Lead personal email."
                  },
                  "industry": {
                    "type": "string",
                    "description": "Lead industry."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Lead phone number."
                  },
                  "location": {
                    "type": "string",
                    "description": "Lead location."
                  },
                  "crm_id": {
                    "type": "string",
                    "description": "CRM ID for the lead."
                  },
                  "customAttribute1": {
                    "type": "string",
                    "description": "Custom attribute 1."
                  },
                  "customAttribute2": {
                    "type": "string",
                    "description": "Custom attribute 2."
                  },
                  "customAttribute3": {
                    "type": "string",
                    "description": "Custom attribute 3."
                  },
                  "customAttribute4": {
                    "type": "string",
                    "description": "Custom attribute 4."
                  },
                  "customAttribute5": {
                    "type": "string",
                    "description": "Custom attribute 5."
                  },
                  "customAttribute6": {
                    "type": "string",
                    "description": "Custom attribute 6."
                  },
                  "customAttribute7": {
                    "type": "string",
                    "description": "Custom attribute 7."
                  },
                  "customAttribute8": {
                    "type": "string",
                    "description": "Custom attribute 8."
                  },
                  "customAttribute9": {
                    "type": "string",
                    "description": "Custom attribute 9."
                  },
                  "customAttribute10": {
                    "type": "string",
                    "description": "Custom attribute 10."
                  },
                  "excludeContactedLeads": {
                    "type": "boolean",
                    "description": "Excludes leads who have already been contacted."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead created or updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/leads/status": {
      "post": {
        "operationId": "updateLeadStatus",
        "summary": "Update Lead Status",
        "description": "Update the status of a lead in one or more campaigns. The lead is identified by leadId, linkedinUrl, proEmail, persoEmail, twitter, or crm_id.",
        "tags": ["Leads"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["status", "campaign"],
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "New lead status.",
                    "enum": [
                      "PAUSED",
                      "RESUME",
                      "STOPPED",
                      "CONVERTED",
                      "SUBSCRIBED",
                      "UNSUBSCRIBED",
                      "NOT_ACTIVATED",
                      "ALREADY_EQUIPPED",
                      "ENRICHED",
                      "CONTACTED",
                      "COMPLETED_WITHOUT_REPLY",
                      "TO_QUALIFY",
                      "OUT_OF_OFFICE",
                      "WRONG_TIMING",
                      "CALL_BOOKED",
                      "INTERESTED",
                      "NOT_INTERESTED",
                      "WRONG_TARGET",
                      "NEGOTIATING",
                      "READY_TO_BUY"
                    ]
                  },
                  "campaign": {
                    "type": "string",
                    "description": "Campaign name, array of campaign names, or \"all\" for all campaigns."
                  },
                  "leadId": {
                    "type": "string",
                    "description": "Lead ID."
                  },
                  "crm_id": {
                    "type": "string",
                    "description": "Lead CRM ID."
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Lead firstname."
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Lead lastname."
                  },
                  "persoEmail": {
                    "type": "string",
                    "description": "Lead personal email."
                  },
                  "proEmail": {
                    "type": "string",
                    "description": "Lead professional email."
                  },
                  "linkedinUrl": {
                    "type": "string",
                    "description": "Lead LinkedIn URL."
                  },
                  "twitter": {
                    "type": "string",
                    "description": "Lead Twitter handle."
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Lead company name."
                  },
                  "companyUrl": {
                    "type": "string",
                    "description": "Lead company URL."
                  },
                  "memberEmail": {
                    "type": "string",
                    "description": "Member email."
                  },
                  "from": {
                    "type": "string",
                    "enum": ["lead", "member"],
                    "description": "Source context of the update."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead status updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campaign": {
                            "type": "string",
                            "description": "Campaign name."
                          },
                          "leadUpdated": {
                            "type": "boolean",
                            "description": "Whether the lead was updated."
                          },
                          "leadStatus": {
                            "type": "string",
                            "description": "New status of the lead (present when updated)."
                          },
                          "reason": {
                            "type": "string",
                            "description": "Reason the lead was not updated (present when not updated)."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Lead or campaign not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/leads/removefromaudience": {
      "post": {
        "operationId": "removeLeadFromAudiences",
        "summary": "Remove Lead from Audiences",
        "description": "Remove a lead from one or more audiences. The lead is identified by crm_id, linkedinUrl, proEmail, persoEmail, twitter, or name+company.",
        "tags": ["Leads"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["audience"],
                "properties": {
                  "audience": {
                    "type": "string",
                    "description": "Audience name, array of audience names, or \"all\" to remove from all audiences."
                  },
                  "crm_id": {
                    "type": "string",
                    "description": "Lead CRM ID."
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Lead firstname."
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Lead lastname."
                  },
                  "persoEmail": {
                    "type": "string",
                    "description": "Lead personal email."
                  },
                  "proEmail": {
                    "type": "string",
                    "description": "Lead professional email."
                  },
                  "linkedinUrl": {
                    "type": "string",
                    "description": "Lead LinkedIn URL."
                  },
                  "twitter": {
                    "type": "string",
                    "description": "Lead Twitter handle."
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Lead company name."
                  },
                  "companyUrl": {
                    "type": "string",
                    "description": "Lead company URL."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead removed from audiences successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/members": {
      "get": {
        "operationId": "listMembers",
        "summary": "List Members",
        "description": "Retrieve all members of your account.",
        "tags": ["Members"],
        "responses": {
          "200": {
            "description": "Successful response with list of members.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Member"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/inboxWebhooks": {
      "get": {
        "operationId": "listInboxWebhooks",
        "summary": "List Inbox Webhooks",
        "description": "Retrieve all registered inbox event webhooks.",
        "tags": ["Inbox"],
        "responses": {
          "200": {
            "description": "Successful response with list of inbox webhooks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InboxWebhook"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      },
      "post": {
        "operationId": "createInboxEventWebhook",
        "summary": "Create Inbox Event Webhook",
        "description": "Register a new webhook to receive inbox events (e.g., new messages, replies).",
        "tags": ["Inbox"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url", "name", "campaigns"],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Webhook URL to receive events."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the webhook."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the webhook."
                  },
                  "campaigns": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of campaign IDs or [\"all\"] for all campaigns."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxWebhookCreated"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/inboxWebhooks/{webhookId}": {
      "delete": {
        "operationId": "deleteInboxWebhook",
        "summary": "Delete Inbox Webhook",
        "description": "Delete an inbox event webhook by its ID.",
        "tags": ["Inbox"],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "Webhook ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/inbox/linkedin": {
      "post": {
        "operationId": "sendLinkedinMessage",
        "summary": "Send a LinkedIn Message to a Lead",
        "description": "Send a LinkedIn direct message or voice message to a lead. Provide either a text message or an audio URL, not both. Identify the lead by leadId or linkedinUrl.",
        "tags": ["Inbox"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["identityId", "memberId"],
                "properties": {
                  "identityId": {
                    "type": "string",
                    "description": "Identity ID to send the message from."
                  },
                  "memberId": {
                    "type": "string",
                    "description": "Member ID."
                  },
                  "leadId": {
                    "type": "string",
                    "description": "Lead ID. Provide leadId or linkedinUrl, not both."
                  },
                  "linkedinUrl": {
                    "type": "string",
                    "description": "Lead LinkedIn URL. Provide leadId or linkedinUrl, not both."
                  },
                  "message": {
                    "type": "string",
                    "description": "Text message to send. Provide message or audioUrl, not both."
                  },
                  "audioUrl": {
                    "type": "string",
                    "description": "Audio URL for a voice message. Provide message or audioUrl, not both."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully. Returns the lead details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "lead": {
                      "$ref": "#/components/schemas/LeadDetail"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Invalid request (e.g., missing message or audioUrl).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/inbox/email": {
      "post": {
        "operationId": "sendEmailMessage",
        "summary": "Send an Email Message to a Lead",
        "description": "Send a custom email to a lead using a connected email identity. Supports HTML and text formats, reply threading, CC and BCC.",
        "tags": ["Inbox"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message", "identityId", "leadId", "leadEmail"],
                "properties": {
                  "message": {
                    "type": "object",
                    "description": "Email message content.",
                    "properties": {
                      "html": {
                        "type": "string",
                        "description": "HTML version of the email body."
                      },
                      "text": {
                        "type": "string",
                        "description": "Plain text version of the email body."
                      }
                    }
                  },
                  "identityId": {
                    "type": "string",
                    "description": "Identity ID to send the email from."
                  },
                  "leadId": {
                    "type": "string",
                    "description": "Lead ID."
                  },
                  "leadEmail": {
                    "type": "string",
                    "description": "Lead email address."
                  },
                  "replyInLastThread": {
                    "type": "boolean",
                    "description": "Whether to reply in the last email thread."
                  },
                  "replyToMessageId": {
                    "type": "string",
                    "description": "Message ID to reply to."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Email subject (required if not replying to a previous message or thread)."
                  },
                  "cc": {
                    "type": "string",
                    "description": "Comma-separated CC email addresses."
                  },
                  "bcc": {
                    "type": "string",
                    "description": "Comma-separated BCC email addresses."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully. Returns the lead details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    },
                    "lead": {
                      "$ref": "#/components/schemas/LeadDetail"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Identity or lead not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/inbox/conversations/note": {
      "post": {
        "operationId": "editInboxConversationNote",
        "summary": "Edit Inbox Conversation Note",
        "description": "Add or replace a note on an inbox conversation. The conversation can be identified by conversationId, leadId, email, or linkedinUrl.",
        "tags": ["Inbox"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["note", "mode"],
                "properties": {
                  "conversationId": {
                    "type": "string",
                    "description": "Conversation ID."
                  },
                  "leadId": {
                    "type": "string",
                    "description": "Lead ID."
                  },
                  "email": {
                    "type": "string",
                    "description": "Lead email."
                  },
                  "linkedinUrl": {
                    "type": "string",
                    "description": "Lead LinkedIn URL."
                  },
                  "note": {
                    "type": "string",
                    "description": "The note content."
                  },
                  "mode": {
                    "type": "string",
                    "enum": ["replace", "append"],
                    "description": "Whether to replace the existing note or append to it."
                  },
                  "identityId": {
                    "type": "string",
                    "description": "Identity ID."
                  },
                  "campaignId": {
                    "type": "string",
                    "description": "Campaign ID."
                  },
                  "campaignName": {
                    "type": "string",
                    "description": "Campaign name."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "conversationId": {
                          "type": "string"
                        },
                        "leadId": {
                          "type": "string"
                        },
                        "note": {
                          "type": "string"
                        },
                        "mode": {
                          "type": "string"
                        },
                        "truncated": {
                          "type": "boolean"
                        },
                        "noteLength": {
                          "type": "integer"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/leads/visitors/rb2b/RB2B_Website_Visitor": {
      "post": {
        "operationId": "rb2bNativeWebhook",
        "summary": "RB2B Native Webhook",
        "description": "Endpoint for RB2B integration. Copy this URL into your RB2B dashboard to automatically push website visitors identified by RB2B into an audience named 'RB2B_Website_Visitor'.",
        "tags": ["Website Visitor"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "LinkedIn URL": {
                    "type": "string",
                    "description": "Visitor LinkedIn URL."
                  },
                  "First Name": {
                    "type": "string",
                    "description": "Visitor first name."
                  },
                  "Last Name": {
                    "type": "string",
                    "description": "Visitor last name."
                  },
                  "Title": {
                    "type": "string",
                    "description": "Visitor job title."
                  },
                  "Company Name": {
                    "type": "string",
                    "description": "Visitor company name."
                  },
                  "Business Email": {
                    "type": "string",
                    "description": "Visitor business email."
                  },
                  "Website": {
                    "type": "string",
                    "description": "Company website."
                  },
                  "Industry": {
                    "type": "string",
                    "description": "Company industry."
                  },
                  "Employee Count": {
                    "type": "integer",
                    "description": "Company employee count."
                  },
                  "Estimate Revenue": {
                    "type": "string",
                    "description": "Estimated company revenue."
                  },
                  "City": {
                    "type": "string",
                    "description": "Visitor city."
                  },
                  "State": {
                    "type": "string",
                    "description": "Visitor state."
                  },
                  "Zipcode": {
                    "type": "string",
                    "description": "Visitor zipcode."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Visitor processed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/leads/visitors/warmly/Warmly_Website_Visitors": {
      "post": {
        "operationId": "warmlyNativeWebhook",
        "summary": "Warmly Native Webhook",
        "description": "Endpoint for Warmly integration. Copy this URL into your Warmly dashboard to automatically push website visitors identified by Warmly into an audience named 'Warmly_Website_Visitors'.",
        "tags": ["Website Visitor"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Signal": {
                    "type": "string",
                    "description": "Signal type (e.g., 'Website Visit Contact')."
                  },
                  "Orchestration Name": {
                    "type": "string",
                    "description": "Orchestration name."
                  },
                  "Webhook Sent At": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the webhook was sent."
                  },
                  "LinkedIn URL": {
                    "type": "string",
                    "description": "Visitor LinkedIn URL."
                  },
                  "Business Email": {
                    "type": "string",
                    "description": "Visitor business email."
                  },
                  "First Name": {
                    "type": "string",
                    "description": "Visitor first name."
                  },
                  "Last Name": {
                    "type": "string",
                    "description": "Visitor last name."
                  },
                  "Title": {
                    "type": "string",
                    "description": "Visitor job title."
                  },
                  "City": {
                    "type": "string",
                    "description": "Visitor city."
                  },
                  "State": {
                    "type": "string",
                    "description": "Visitor state."
                  },
                  "Country": {
                    "type": "string",
                    "description": "Visitor country."
                  },
                  "Company Name": {
                    "type": "string",
                    "description": "Company name."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Visitor processed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/leads/visitors/vector/Vector_Website_Visitors": {
      "post": {
        "operationId": "vectorNativeWebhook",
        "summary": "Vector Native Webhook",
        "description": "Endpoint for Vector integration. Copy this URL into your Vector dashboard to automatically push website visitors identified by Vector into an audience named 'Vector_Website_Visitors'.",
        "tags": ["Website Visitor"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "description": "Event type (e.g., 'contact.visited')."
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Event timestamp."
                  },
                  "contact": {
                    "type": "object",
                    "description": "Visitor contact information.",
                    "properties": {
                      "first_name": {
                        "type": "string"
                      },
                      "last_name": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "company": {
                        "type": "string"
                      },
                      "linkedin_url": {
                        "type": "string"
                      }
                    }
                  },
                  "segment": {
                    "type": "object",
                    "description": "Segment information.",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Visitor processed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "API key retrieved from your LGM account settings at https://app.lagrowthmachine.com/settings/api"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          }
        }
      },
      "CampaignSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Campaign ID."
          },
          "name": {
            "type": "string",
            "description": "Campaign name."
          },
          "description": {
            "type": "string",
            "description": "Campaign description."
          },
          "language": {
            "type": "string",
            "description": "Campaign language."
          },
          "createdAt": {
            "type": "integer",
            "format": "int64",
            "description": "Creation timestamp in milliseconds."
          },
          "modifiedAt": {
            "type": "integer",
            "format": "int64",
            "description": "Last modification timestamp in milliseconds."
          },
          "userId": {
            "type": "string",
            "description": "User ID of the campaign owner."
          },
          "status": {
            "type": "string",
            "description": "Campaign status.",
            "enum": ["PAUSED", "RUNNING", "CANCELED", "DRAFT"]
          },
          "audience": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "size": {
                "type": "integer"
              },
              "description": {
                "type": "string"
              }
            }
          },
          "identity": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "firstname": {
                "type": "string"
              },
              "lastname": {
                "type": "string",
                "nullable": true
              },
              "gender": {
                "type": "string",
                "nullable": true
              },
              "jobTitle": {
                "type": "string",
                "nullable": true
              },
              "profilePicture": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "launchedAt": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "Launch timestamp in milliseconds."
          },
          "stats": {
            "type": "object",
            "nullable": true,
            "description": "Campaign stats summary."
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Channels used in this campaign (e.g., LGM, TWITTER, GOOGLE, LINKEDIN)."
          },
          "hubspot": {
            "type": "boolean",
            "description": "Whether HubSpot integration is enabled."
          },
          "pipedrive": {
            "type": "boolean",
            "description": "Whether Pipedrive integration is enabled."
          },
          "enrich": {
            "type": "boolean",
            "description": "Whether lead enrichment is enabled."
          },
          "autoRescheduleOutOfOffice": {
            "type": "boolean",
            "description": "Whether out-of-office auto-rescheduling is enabled."
          },
          "leadsCount": {
            "type": "integer",
            "description": "Number of leads in the campaign."
          }
        }
      },
      "CampaignDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          },
          "modifiedAt": {
            "type": "integer",
            "format": "int64"
          },
          "launchedAt": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "userId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "audienceName": {
            "type": "string"
          },
          "audienceSize": {
            "type": "integer"
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "identityId": {
            "type": "string"
          },
          "identityFirstname": {
            "type": "string"
          },
          "identityLastname": {
            "type": "string",
            "nullable": true
          },
          "converted": {
            "type": "integer"
          },
          "activated": {
            "type": "integer"
          },
          "hubspot": {
            "type": "boolean"
          },
          "pipedrive": {
            "type": "boolean"
          },
          "enrich": {
            "type": "boolean"
          },
          "autoRescheduleOutOfOffice": {
            "type": "boolean"
          }
        }
      },
      "EngagementStats": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "audienceSize": {
            "type": "integer"
          },
          "converted": {
            "type": "integer"
          },
          "completed": {
            "type": "integer"
          },
          "started": {
            "type": "integer"
          },
          "replies": {
            "type": "object",
            "properties": {
              "contacted": { "type": "integer" },
              "replied": { "type": "integer" },
              "linkedinContacted": { "type": "integer" },
              "emailContacted": { "type": "integer" },
              "linkedinReplied": { "type": "integer" },
              "emailReplied": { "type": "integer" },
              "contactedPercent": { "type": "number" },
              "totalReplyPercent": { "type": "number" },
              "contactedReplyPercent": { "type": "number" },
              "linkedinContactedReplyPercent": { "type": "number" },
              "emailContactedReplyPercent": { "type": "number" }
            }
          },
          "relations": {
            "type": "object",
            "properties": {
              "activated": { "type": "boolean" },
              "requestSent": { "type": "integer" },
              "relations": { "type": "integer" },
              "newRelations": { "type": "integer" },
              "alreadyConnected": { "type": "integer" },
              "requestSentPercent": { "type": "number" },
              "relationsPercent": { "type": "number" },
              "totalRelationsPercent": { "type": "number" },
              "newRelationsPercent": { "type": "number" },
              "alreadyConnectedPercent": { "type": "number" }
            }
          },
          "channel": {
            "type": "object",
            "properties": {
              "email": {
                "type": "object",
                "properties": {
                  "activated": { "type": "boolean" },
                  "sent": { "type": "integer" },
                  "received": { "type": "integer" },
                  "opened": { "type": "integer" },
                  "replied": { "type": "integer" },
                  "clicked": { "type": "integer" },
                  "bounced": { "type": "integer" },
                  "sentPercent": { "type": "number" },
                  "receivedPercent": { "type": "number" },
                  "openedPercent": { "type": "number" },
                  "repliedPercent": { "type": "number" },
                  "clickedPercent": { "type": "number" },
                  "bouncedPercent": { "type": "number" }
                }
              },
              "linkedin": {
                "type": "object",
                "properties": {
                  "activated": { "type": "boolean" },
                  "contactRequest": {
                    "type": "object",
                    "properties": {
                      "activated": { "type": "boolean" },
                      "sent": { "type": "integer" },
                      "newRelations": { "type": "integer" },
                      "alreadyContact": { "type": "integer" },
                      "sentPercent": { "type": "number" },
                      "newRelationsPercent": { "type": "number" },
                      "alreadyContactPercent": { "type": "number" }
                    }
                  },
                  "message": {
                    "type": "object",
                    "properties": {
                      "sent": { "type": "integer" },
                      "replied": { "type": "integer" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LeadStats": {
        "type": "object",
        "properties": {
          "firstname": { "type": "string" },
          "lastname": { "type": "string" },
          "companyName": { "type": "string", "nullable": true },
          "companyUrl": { "type": "string", "nullable": true },
          "phone": { "type": "string", "nullable": true },
          "jobTitle": { "type": "string", "nullable": true },
          "profilePicture": { "type": "string", "nullable": true },
          "note": { "type": "string", "nullable": true },
          "status": { "type": "string" },
          "id": { "type": "string" },
          "email": { "type": "string" },
          "linkedinUrl": { "type": "string" },
          "gender": { "type": "string", "nullable": true },
          "industry": { "type": "string", "nullable": true },
          "relationStatus": { "type": "string" },
          "acceptationDate": { "type": "string", "nullable": true },
          "action_todo": { "type": "string", "nullable": true },
          "replied": { "type": "integer" },
          "email_sent": { "type": "integer" },
          "email_opened": { "type": "integer" },
          "email_clicked": { "type": "integer" },
          "email_replied": { "type": "integer" },
          "linkedin_visit": { "type": "integer" },
          "linkedin_dm_sent": { "type": "integer" },
          "linkedin_audio_sent": { "type": "integer" },
          "linkedin_replied": { "type": "integer" },
          "linkedin_relation_status": { "type": "string" },
          "twitter_tweeted": { "type": "integer" },
          "twitter_retweeted": { "type": "integer" },
          "twitter_favourited": { "type": "integer" },
          "twitter_followed": { "type": "integer" },
          "twitter_unfollowed": { "type": "integer" },
          "twitter_dm_sent": { "type": "integer" },
          "tweet_sent": { "type": "integer" },
          "tag": { "type": "string" },
          "outOfOfficeReturnDate": { "type": "string", "nullable": true },
          "outOfOfficeNextActionDate": { "type": "string", "nullable": true }
        }
      },
      "Audience": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Audience ID."
          },
          "name": {
            "type": "string",
            "description": "Audience name."
          },
          "description": {
            "type": "string",
            "description": "Audience description."
          },
          "userId": {
            "type": "string",
            "description": "User ID of the audience owner."
          },
          "modifiedAt": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "Last modification timestamp."
          },
          "createdAt": {
            "type": "integer",
            "format": "int64",
            "description": "Creation timestamp in milliseconds."
          },
          "size": {
            "type": "integer",
            "description": "Number of leads in the audience."
          },
          "sourceUrl": {
            "type": "string",
            "nullable": true,
            "description": "Source URL (e.g., LinkedIn search URL)."
          },
          "type": {
            "type": "string",
            "description": "Audience type (e.g., SALES_NAV)."
          },
          "importationPending": {
            "type": "boolean",
            "description": "Whether an import is currently pending."
          }
        }
      },
      "Identity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identity ID."
          },
          "firstname": {
            "type": "string",
            "description": "First name."
          },
          "lastname": {
            "type": "string",
            "nullable": true,
            "description": "Last name."
          },
          "gender": {
            "type": "string",
            "nullable": true,
            "description": "Gender."
          },
          "jobTitle": {
            "type": "string",
            "nullable": true,
            "description": "Job title."
          },
          "profilePicture": {
            "type": "string",
            "nullable": true,
            "description": "Profile picture URL."
          }
        }
      },
      "LeadDetail": {
        "type": "object",
        "properties": {
          "firstname": { "type": "string" },
          "lastname": { "type": "string" },
          "id": { "type": "string" },
          "linkedinId": { "type": "integer", "nullable": true },
          "gender": { "type": "string", "nullable": true },
          "shortBio": { "type": "string", "nullable": true },
          "lastActions": {
            "type": "object",
            "properties": {
              "last": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "campaignId": { "type": "string" },
                    "type": { "type": "string" },
                    "channel": { "type": "string" },
                    "date": { "type": "integer", "format": "int64" }
                  }
                }
              },
              "lastStatus": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "campaignId": { "type": "string" },
                    "status": { "type": "string" },
                    "date": { "type": "integer", "format": "int64" }
                  }
                }
              }
            }
          },
          "companyName": { "type": "string", "nullable": true },
          "companyUrl": { "type": "string", "nullable": true },
          "createdAt": { "type": "integer", "format": "int64" },
          "modifiedAt": { "type": "integer", "format": "int64" },
          "jobTitle": { "type": "string", "nullable": true },
          "profilePicture": { "type": "string", "nullable": true },
          "linkedinUrl": { "type": "string", "nullable": true },
          "salesNavUrl": { "type": "string", "nullable": true },
          "userId": { "type": "string" },
          "relationsCount": { "type": "integer", "nullable": true },
          "twitter": { "type": "string", "nullable": true },
          "proEmail": { "type": "string", "nullable": true },
          "persoEmail": { "type": "string", "nullable": true },
          "audiences": {
            "type": "array",
            "items": { "type": "string" }
          },
          "industry": { "type": "string", "nullable": true },
          "phone": { "type": "string", "nullable": true },
          "companyPhone": { "type": "string", "nullable": true },
          "customAttribute1": { "type": "string", "nullable": true },
          "customAttribute2": { "type": "string", "nullable": true },
          "customAttribute3": { "type": "string", "nullable": true },
          "customAttribute4": { "type": "string", "nullable": true },
          "customAttribute5": { "type": "string", "nullable": true },
          "customAttribute6": { "type": "string", "nullable": true },
          "customAttribute7": { "type": "string", "nullable": true },
          "customAttribute8": { "type": "string", "nullable": true },
          "customAttribute9": { "type": "string", "nullable": true },
          "customAttribute10": { "type": "string", "nullable": true },
          "note": { "type": "string", "nullable": true },
          "location": { "type": "string", "nullable": true },
          "audiencesWithName": {
            "type": "array",
            "items": { "type": "object" }
          },
          "pausedCampaigns": {
            "type": "array",
            "items": { "type": "string" }
          },
          "involvedCampaigns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": { "type": "string" },
                "name": { "type": "string" },
                "status": { "type": "string" },
                "launchedAt": { "type": "integer", "format": "int64" }
              }
            }
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Member ID."
          },
          "name": {
            "type": "string",
            "description": "Member name."
          },
          "label": {
            "type": "string",
            "description": "Member display label."
          }
        }
      },
      "InboxWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Webhook ID."
          },
          "url": {
            "type": "string",
            "description": "Webhook URL."
          },
          "key": {
            "type": "string",
            "description": "Webhook name/key."
          },
          "type": {
            "type": "string",
            "description": "Webhook type.",
            "example": "INBOX_EVENT"
          },
          "campaigns": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Campaign IDs or [\"all\"]."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp."
          }
        }
      },
      "InboxWebhookCreated": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "campaigns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "audiences": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Campaigns",
      "description": "Manage and retrieve campaign data and statistics."
    },
    {
      "name": "Audiences",
      "description": "Manage audiences for lead organization."
    },
    {
      "name": "Identities",
      "description": "Retrieve connected identities used for outreach."
    },
    {
      "name": "Leads",
      "description": "Create, search, update, and manage leads."
    },
    {
      "name": "Members",
      "description": "Retrieve account members."
    },
    {
      "name": "Inbox",
      "description": "Send messages, manage webhooks, and edit conversation notes."
    },
    {
      "name": "Website Visitor",
      "description": "Native webhook endpoints for third-party website visitor identification tools (RB2B, Warmly, Vector)."
    }
  ]
}