{
  "openapi": "3.0.3",
  "info": {
    "title": "VNPAY Payment Gateway API",
    "version": "2.0.0",
    "description": "VNPAY payment gateway API for processing online payments in Vietnam. Supports payment initiation, refunds, and transaction queries.",
    "x-jentic-source-url": "https://sandbox.vnpayment.vn/apis/docs/gioi-thieu/"
  },
  "servers": [
    {"url": "https://sandbox.vnpayment.vn", "description": "Sandbox"},
    {"url": "https://pay.vnpay.vn", "description": "Production"}
  ],
  "paths": {
    "/paymentv2/vpcpay.html": {
      "post": {
        "operationId": "createPayment", "summary": "Create a payment", "tags": ["Payments"],
        "requestBody": {"required": true, "content": {"application/x-www-form-urlencoded": {"schema": {"$ref": "#/components/schemas/PaymentRequest"}}}},
        "responses": {
          "302": {"description": "Redirect to payment page"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/merchant_webapi/merchant.html": {
      "post": {
        "operationId": "queryTransaction", "summary": "Query transaction or process refund", "tags": ["Transactions"],
        "requestBody": {"required": true, "content": {"application/x-www-form-urlencoded": {"schema": {"type": "object", "properties": {"vnp_RequestId": {"type": "string"}, "vnp_Command": {"type": "string", "enum": ["querydr", "refund"]}, "vnp_TmnCode": {"type": "string"}, "vnp_TxnRef": {"type": "string"}, "vnp_SecureHash": {"type": "string"}}}}}},
        "responses": {
          "200": {"description": "Transaction result", "content": {"application/json": {"schema": {"type": "object"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaymentRequest": {
        "type": "object",
        "required": ["vnp_TmnCode", "vnp_Amount", "vnp_Command", "vnp_OrderInfo", "vnp_ReturnUrl"],
        "properties": {
          "vnp_TmnCode": {"type": "string", "description": "Merchant code"},
          "vnp_Amount": {"type": "integer", "description": "Amount in VND x 100"},
          "vnp_Command": {"type": "string", "default": "pay"},
          "vnp_OrderInfo": {"type": "string"},
          "vnp_ReturnUrl": {"type": "string"},
          "vnp_TxnRef": {"type": "string"},
          "vnp_Locale": {"type": "string", "enum": ["vn", "en"]},
          "vnp_SecureHash": {"type": "string"}
        }
      },
      "ErrorResponse": {"type": "object", "properties": {"vnp_ResponseCode": {"type": "string"}, "vnp_Message": {"type": "string"}}}
    },
    "securitySchemes": {
      "hmacAuth": {"type": "apiKey", "in": "query", "name": "vnp_SecureHash", "description": "HMAC SHA512 checksum for data integrity"}
    }
  },
  "security": [{"hmacAuth": []}]
}
