{
  "openapi": "3.0.3",
  "info": {
    "title": "Root Bind API",
    "version": "3.0",
    "description": "Root Insurance's Bind API for creating and managing insurance quotes, policies, payments, prefill reports, and legal documents. Used by partners to quote and bind insurance policies.",
    "x-jentic-source-url": "https://root-bind-api.readme.io/docs/getting-started"
  },
  "servers": [
    { "url": "https://app.partner-testing.joinroot.com/bind_api", "description": "Partner Testing" }
  ],
  "paths": {
    "/auth/token": {
      "post": { "operationId": "createAuthToken", "summary": "Create authentication token", "tags": ["Authentication"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "partner_token": { "type": "string" } }, "required": ["partner_token"] } } } }, "responses": { "200": { "description": "Token created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AuthTokenResponse" } } } }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/auth/token/refresh": {
      "post": { "operationId": "refreshAuthToken", "summary": "Refresh authentication token", "tags": ["Authentication"], "responses": { "200": { "description": "Token refreshed", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AuthTokenResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/quotes": {
      "post": { "operationId": "createQuote", "summary": "Create quote", "description": "Creates an empty quote that automatically generates one driver and one vehicle.", "tags": ["Quotes"], "requestBody": { "required": false, "content": { "application/json": { "schema": { "type": "object", "properties": { "customerConsentTimestamp": { "type": "string", "format": "date-time" } } } } } }, "responses": { "200": { "description": "Quote created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/QuoteResponse" } } } }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/quotes/{quoteId}": {
      "get": { "operationId": "getQuote", "summary": "Get quote", "tags": ["Quotes"], "parameters": [{ "name": "quoteId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/QuoteResponse" } } } }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "put": { "operationId": "updateQuote", "summary": "Update quote", "description": "Updates quote with profile information, drivers, vehicles, and coverages.", "tags": ["Quotes"], "parameters": [{ "name": "quoteId", "in": "path", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/QuoteUpdateRequest" } } } }, "responses": { "200": { "description": "Quote updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/QuoteResponse" } } } }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "patch": { "operationId": "patchQuote", "summary": "Patch quote", "tags": ["Quotes"], "parameters": [{ "name": "quoteId", "in": "path", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Quote patched" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/quotes/{quoteId}/coverages": {
      "get": { "operationId": "getQuoteCoverages", "summary": "Get available coverages for quote", "tags": ["Quotes"], "parameters": [{ "name": "quoteId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CoverageListResponse" } } } }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/coverages/by-state/{state}": {
      "get": { "operationId": "getCoveragesByState", "summary": "Get available coverages by state", "tags": ["Coverages"], "parameters": [{ "name": "state", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CoverageListResponse" } } } }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/quotes/{quoteId}/coverage-rules": {
      "get": { "operationId": "getQuoteCoverageRules", "summary": "Get coverage rules for quote", "tags": ["Quotes"], "parameters": [{ "name": "quoteId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/coverage-rules/by-state/{state}": {
      "get": { "operationId": "getCoverageRulesByState", "summary": "Get coverage rules by state", "tags": ["Coverages"], "parameters": [{ "name": "state", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/quotes/{quoteId}/suggested-coverages": {
      "get": { "operationId": "getSuggestedCoverages", "summary": "Get suggested coverages", "tags": ["Quotes"], "parameters": [{ "name": "quoteId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/quotes/{quoteId}/finalize": {
      "post": { "operationId": "finalizeQuote", "summary": "Finalize quote", "tags": ["Quotes"], "parameters": [{ "name": "quoteId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Quote finalized" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/quotes/{quoteId}/bind": {
      "post": { "operationId": "bindPolicy", "summary": "Bind policy", "description": "Binds a quote into an active policy.", "tags": ["Quotes"], "parameters": [{ "name": "quoteId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Policy bound", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PolicyResponse" } } } }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/quotes/{quoteId}/view": {
      "post": { "operationId": "viewQuote", "summary": "View quote", "tags": ["Quotes"], "parameters": [{ "name": "quoteId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/prefill": {
      "post": { "operationId": "createPrefill", "summary": "Create prefill report", "description": "Initiates async retrieval of driver and vehicle info from third-party vendors.", "tags": ["Prefill"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PrefillRequest" } } } }, "responses": { "200": { "description": "Prefill initiated" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/prefill/{prefillId}": {
      "get": { "operationId": "getPrefill", "summary": "Get prefill report", "description": "Returns completed prefill report. Returns 204 if still processing.", "tags": ["Prefill"], "parameters": [{ "name": "prefillId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Prefill complete" }, "204": { "description": "Prefill still processing" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/policy/{policyId}": {
      "get": { "operationId": "getPolicy", "summary": "Get policy summary", "tags": ["Policies"], "parameters": [{ "name": "policyId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PolicyResponse" } } } }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/policy/{policyId}/payment": {
      "get": { "operationId": "getPolicyPayment", "summary": "Get policy payment info", "tags": ["Policies"], "parameters": [{ "name": "policyId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/policy/{policyId}/documents": {
      "get": { "operationId": "getPolicyDocuments", "summary": "Get policy documents", "tags": ["Policies"], "parameters": [{ "name": "policyId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/policy/{policyId}/quote": {
      "post": { "operationId": "createQuoteFromPolicy", "summary": "Create quote from policy", "tags": ["Policies"], "parameters": [{ "name": "policyId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Quote created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/address/validate": {
      "post": { "operationId": "validateAddress", "summary": "Validate address", "tags": ["Utilities"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "address": { "type": "string" } } } } } }, "responses": { "200": { "description": "Address validated" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/year-make-model": {
      "get": { "operationId": "getYearMakeModel", "summary": "Get vehicle year/make/model data", "tags": ["Utilities"], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/agency/agents": {
      "get": { "operationId": "listAgencyAgents", "summary": "List agency agents", "tags": ["Agency"], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/agency/agents/{agentId}": {
      "get": { "operationId": "getAgent", "summary": "Get agent", "tags": ["Agency"], "parameters": [{ "name": "agentId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/agency/agents/{agentId}/policies": {
      "get": { "operationId": "getAgentPolicies", "summary": "Get agent policies", "tags": ["Agency"], "parameters": [{ "name": "agentId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/agency/agents/{agentId}/quotes": {
      "get": { "operationId": "getAgentQuotes", "summary": "Get agent quotes", "tags": ["Agency"], "parameters": [{ "name": "agentId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/agency/quotes": {
      "get": { "operationId": "listAgencyQuotes", "summary": "List agency quotes", "tags": ["Agency"], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/agency/policies": {
      "get": { "operationId": "listAgencyPolicies", "summary": "List agency policies", "tags": ["Agency"], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/legal-documents": {
      "get": { "operationId": "listLegalDocuments", "summary": "List legal documents", "tags": ["Legal"], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/legal-documents/{documentId}": {
      "get": { "operationId": "getLegalDocument", "summary": "Get legal document", "tags": ["Legal"], "parameters": [{ "name": "documentId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/legal-documents/{documentId}/affirm": {
      "post": { "operationId": "affirmLegalDocument", "summary": "Affirm legal document", "tags": ["Legal"], "parameters": [{ "name": "documentId", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Document affirmed" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/payment-methods": {
      "get": { "operationId": "listPaymentMethods", "summary": "List payment methods", "tags": ["Payments"], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "post": { "operationId": "createPaymentMethod", "summary": "Create payment method", "tags": ["Payments"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/bridge-link": {
      "post": { "operationId": "createBridgeLink", "summary": "Create bridge link", "tags": ["Bridge"], "responses": { "200": { "description": "Created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/bridge-link/authenticate": {
      "post": { "operationId": "authenticateBridgeLink", "summary": "Authenticate bridge link", "tags": ["Bridge"], "responses": { "200": { "description": "Authenticated" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    }
  },
  "components": {
    "schemas": {
      "AuthTokenResponse": { "type": "object", "properties": { "token": { "type": "string" }, "expires_at": { "type": "string", "format": "date-time" } } },
      "QuoteResponse": { "type": "object", "properties": { "id": { "type": "string" }, "status": { "type": "string" }, "drivers": { "type": "array", "items": { "$ref": "#/components/schemas/Driver" } }, "vehicles": { "type": "array", "items": { "$ref": "#/components/schemas/Vehicle" } }, "premium": { "type": "number" } } },
      "QuoteUpdateRequest": { "type": "object", "properties": { "profile": { "type": "object" }, "drivers": { "type": "array", "items": { "$ref": "#/components/schemas/Driver" } }, "vehicles": { "type": "array", "items": { "$ref": "#/components/schemas/Vehicle" } }, "coverages": { "type": "array", "items": { "type": "object" } } } },
      "Driver": { "type": "object", "properties": { "first_name": { "type": "string" }, "last_name": { "type": "string" }, "date_of_birth": { "type": "string", "format": "date" }, "license_number": { "type": "string" } } },
      "Vehicle": { "type": "object", "properties": { "vin": { "type": "string" }, "year": { "type": "integer" }, "make": { "type": "string" }, "model": { "type": "string" } } },
      "PolicyResponse": { "type": "object", "properties": { "id": { "type": "string" }, "status": { "type": "string" }, "effective_date": { "type": "string", "format": "date" }, "expiration_date": { "type": "string", "format": "date" } } },
      "PrefillRequest": { "type": "object", "properties": { "first_name": { "type": "string" }, "last_name": { "type": "string" }, "date_of_birth": { "type": "string", "format": "date" }, "address": { "type": "string" } } },
      "CoverageListResponse": { "type": "object", "properties": { "coverages": { "type": "array", "items": { "type": "object", "properties": { "id": { "type": "string" }, "name": { "type": "string" }, "type": { "type": "string" } } } } } },
      "ErrorResponse": { "type": "object", "properties": { "error": { "type": "string" }, "message": { "type": "string" } } }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token from POST /auth/token"
      }
    }
  },
  "security": [
    { "bearerAuth": [] }
  ]
}
