{
  "openapi": "3.0.3",
  "info": {
    "title": "Cellcast SMS API",
    "description": "Cellcast optimises business communications with secure, simple SMS and MMS messaging for bulk and two-way communications.",
    "version": "4.0.0",
    "x-jentic-source-url": "https://cellcast.com.au/api/documentation/v4/"
  },
  "servers": [
    {
      "url": "https://cellcast.com.au/api/v4"
    }
  ],
  "paths": {
    "/sms/send": {
      "post": {
        "operationId": "sendSms",
        "summary": "Send an SMS message",
        "description": "Send an SMS message to one or more recipients.",
        "tags": [
          "SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed - APPKEY not provided or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sms/history": {
      "get": {
        "operationId": "getSmsHistory",
        "summary": "View SMS history",
        "description": "Retrieve the history of sent SMS messages.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SMS history retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sms/responses": {
      "get": {
        "operationId": "getSmsResponses",
        "summary": "Get SMS responses",
        "description": "Retrieve responses (replies) to sent SMS messages.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SMS responses retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contact/list": {
      "get": {
        "operationId": "listContacts",
        "summary": "View list of contacts",
        "description": "Retrieve a list of contacts.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contact/create": {
      "post": {
        "operationId": "createContact",
        "summary": "Create a new contact",
        "description": "Create a new contact in the system.",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contact/update": {
      "put": {
        "operationId": "updateContact",
        "summary": "Update a contact",
        "description": "Update an existing contact.",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contact/delete": {
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete a contact",
        "description": "Delete an existing contact.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list": {
      "get": {
        "operationId": "listContactLists",
        "summary": "View contact lists",
        "description": "Retrieve all contact lists.",
        "tags": [
          "Contact Lists"
        ],
        "responses": {
          "200": {
            "description": "Contact lists retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/create": {
      "post": {
        "operationId": "createContactList",
        "summary": "Create a new contact list",
        "tags": [
          "Contact Lists"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactListInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact list created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/update": {
      "put": {
        "operationId": "updateContactList",
        "summary": "Update a contact list",
        "tags": [
          "Contact Lists"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactListInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact list updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/delete": {
      "delete": {
        "operationId": "deleteContactList",
        "summary": "Delete a contact list",
        "tags": [
          "Contact Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact list deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/optout/list": {
      "get": {
        "operationId": "listOptedOutContacts",
        "summary": "View opted out contacts list",
        "tags": [
          "Opted Out Contacts"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Opted out contacts retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/optout/create": {
      "post": {
        "operationId": "createOptedOutContact",
        "summary": "Add an opted out contact",
        "tags": [
          "Opted Out Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone"
                ],
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Mobile number to opt out"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact opted out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/optout/delete": {
      "delete": {
        "operationId": "deleteOptedOutContact",
        "summary": "Remove an opted out contact",
        "tags": [
          "Opted Out Contacts"
        ],
        "parameters": [
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact removed from opt-out list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/details": {
      "get": {
        "operationId": "getAccountDetails",
        "summary": "View account details",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/create": {
      "post": {
        "operationId": "createAccount",
        "summary": "Create an account",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recharge/packages": {
      "get": {
        "operationId": "listRechargePackages",
        "summary": "View recharge packages",
        "tags": [
          "Recharge"
        ],
        "responses": {
          "200": {
            "description": "Recharge packages retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recharge/payment-info": {
      "get": {
        "operationId": "getPaymentInfo",
        "summary": "Get current payment info",
        "tags": [
          "Recharge"
        ],
        "responses": {
          "200": {
            "description": "Payment info retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recharge/payment-info/update": {
      "put": {
        "operationId": "updatePaymentInfo",
        "summary": "Update payment info",
        "tags": [
          "Recharge"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment info updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recharge/purchase": {
      "post": {
        "operationId": "purchasePackage",
        "summary": "Purchase a recharge package",
        "tags": [
          "Recharge"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "package_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Package purchased",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recharge/transactions": {
      "get": {
        "operationId": "listTransactions",
        "summary": "View all transactions",
        "tags": [
          "Recharge"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recharge/transaction": {
      "get": {
        "operationId": "getTransaction",
        "summary": "View a specific transaction",
        "tags": [
          "Recharge"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/report/credit-history": {
      "get": {
        "operationId": "getCreditHistory",
        "summary": "View used credit history",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit history retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "appKey": {
        "type": "apiKey",
        "in": "header",
        "name": "APPKEY",
        "description": "Application key for API authentication"
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "AUTH_FAILED_NO_DATA"
          },
          "message": {
            "type": "string",
            "example": "You have not provided APPKEY"
          },
          "data": {
            "type": "array",
            "items": {}
          }
        }
      },
      "SendSmsRequest": {
        "type": "object",
        "required": [
          "to",
          "message"
        ],
        "properties": {
          "to": {
            "type": "string",
            "description": "Recipient mobile number in international format"
          },
          "message": {
            "type": "string",
            "description": "SMS message content"
          },
          "from": {
            "type": "string",
            "description": "Sender ID or number"
          },
          "list_id": {
            "type": "integer",
            "description": "Contact list ID to send to"
          },
          "schedule": {
            "type": "string",
            "format": "date-time",
            "description": "Schedule the SMS for a future time"
          }
        }
      },
      "ContactInput": {
        "type": "object",
        "required": [
          "phone"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Contact ID (for updates)"
          },
          "phone": {
            "type": "string",
            "description": "Mobile number"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "list_id": {
            "type": "integer",
            "description": "Contact list to add the contact to"
          }
        }
      },
      "ContactListInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "List ID (for updates)"
          },
          "name": {
            "type": "string",
            "description": "Name of the contact list"
          }
        }
      }
    }
  },
  "security": [
    {
      "appKey": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Contact"
    },
    {
      "name": "List"
    },
    {
      "name": "Optout"
    },
    {
      "name": "Recharge"
    },
    {
      "name": "Report"
    },
    {
      "name": "Sms"
    }
  ]
}