{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "watchful.li",
    "title": "watchful.li",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "hosting"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/watchful.li/1.0.0/swagger.json",
    "x-logo": {
      "backgroundColor": "#1B4E65",
      "url": "https://api.apis.guru/v2/cache/logo/https_d2071nnd6m4201.cloudfront.net_templates_balloon_images_logo.svg"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.31"
        },
        "format": "swagger",
        "url": "hhttps://app.watchful.net/api/v1/api-docs/",
        "version": "1.2"
      }
    ],
    "x-providerName": "watchful.li"
  },
  "servers": [
    {
      "url": "https://watchful.li/api/v1"
    }
  ],
  "paths": {
    "/audits": {
      "get": {
        "parameters": [
          {
            "description": "Number of object to return (max 100, default 25)",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Start of the return (default 0)",
            "in": "query",
            "name": "limitstart",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "ORDER by this field separete by comas. Add + / - after field for set ASC / DESC: type+,name-",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audit"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Audit"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Audit"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          }
        },
        "tags": [
          "audits"
        ],
        "description": "Returns a list of audits",
        "operationId": "getAudits",
        "summary": "Get a list of audits"
      }
    },
    "/audits/metadata": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "tags": [
          "audits"
        ],
        "description": "Returns a list of fields",
        "operationId": "getFieldsAudits",
        "summary": "Get the list of fields"
      }
    },
    "/audits/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "ID of audit that needs to be deleted",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Audit correctly deleted"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "audits"
        ],
        "description": "Delete a specific audit",
        "operationId": "deleteAuditById",
        "summary": "Delete a specific audit"
      },
      "get": {
        "parameters": [
          {
            "description": "ID of audit that needs to be fetched",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Fields to return separate by comas: name,id",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audit"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Audit"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Audit"
                }
              }
            },
            "description": "No response was specified"
          },
          "400": {
            "description": "Invalid ID"
          },
          "403": {
            "description": "Invalid API Key"
          }
        },
        "tags": [
          "audits"
        ],
        "description": "Returns a audit based on ID",
        "operationId": "getAuditById",
        "summary": "Find audit by ID"
      }
    },
    "/extensions": {
      "get": {
        "parameters": [
          {
            "description": "Do a 'LIKE' search, you can also use '%'",
            "in": "query",
            "name": "ext_name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of sites id separated by comma",
            "in": "query",
            "name": "siteids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Do a 'LIKE' search, you can also use '%'. technical name of the extension com_xxxx",
            "in": "query",
            "name": "ext_prefix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Do a 'LIKE' search, you can also use '%'",
            "in": "query",
            "name": "version",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "update available for this extension",
            "in": "query",
            "name": "vUpdate",
            "required": false,
            "schema": {
              "enum": [
                1,
                0
              ],
              "type": "integer"
            }
          },
          {
            "description": "Fields to return separate by comas: name,id",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of object to return (max 100, default 25)",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Start of the return (default 0)",
            "in": "query",
            "name": "limitstart",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "ORDER by this field separete by comas. Add + / - after field for set ASC / DESC: type+,name-",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Extension"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Extension"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Extension"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid"
          }
        },
        "tags": [
          "extensions"
        ],
        "description": "Returns a list Extensions",
        "operationId": "getExtensions",
        "summary": "Get a list Extensions"
      }
    },
    "/extensions/metadata": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "tags": [
          "extensions"
        ],
        "description": "Returns a list of fields",
        "operationId": "getFieldsExtensions",
        "summary": "Get the list of fields"
      }
    },
    "/extensions/{id}/ignore": {
      "post": {
        "parameters": [
          {
            "description": "ID of the extension",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Extension successfully updated"
          },
          "404": {
            "description": "Update not found for the given extension"
          }
        },
        "tags": [
          "extensions"
        ],
        "description": "Set 'ignore updates' for a given extension / site_id",
        "operationId": "ignoreExtensionUpdate",
        "summary": "Set 'ignore updates' for a given extension / site_id"
      }
    },
    "/extensions/{id}/unignore": {
      "post": {
        "parameters": [
          {
            "description": "ID of the extension",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Extension successfully updated"
          },
          "404": {
            "description": "Update not found for the given extension"
          }
        },
        "tags": [
          "extensions"
        ],
        "description": "Remove 'ignore updates' for a given extension",
        "operationId": "unignoreExtensionUpdate",
        "summary": "Remove 'ignore updates' for a given extension"
      }
    },
    "/extensions/{id}/update": {
      "post": {
        "parameters": [
          {
            "description": "ID of the extension",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Extension successfully updated"
          },
          "404": {
            "description": "Update not found for the given extension"
          }
        },
        "tags": [
          "extensions"
        ],
        "description": "Update the extension on the remote site",
        "operationId": "updateExtension",
        "summary": "Update the extension on the remote site"
      }
    },
    "/feedbacks": {
      "get": {
        "parameters": [
          {
            "description": "Fields to return separate by comas (es. name,id)",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feedback"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Feedback"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Feedback"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          }
        },
        "tags": [
          "feedbacks"
        ],
        "description": "Returns a list of feedbacks",
        "operationId": "getFeedbacks",
        "summary": "Get feedbacks"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audit"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Audit"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Audit"
                }
              }
            },
            "description": "No response was specified"
          },
          "201": {
            "description": "Saved successfully"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Not saved"
          }
        },
        "tags": [
          "feedbacks"
        ],
        "description": "Create a feedback",
        "operationId": "createFeedbacks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Feedback"
              }
            }
          },
          "description": "JSON object Feedback",
          "required": true
        },
        "summary": "Create a feedback"
      }
    },
    "/feedbacks/metadata": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "tags": [
          "feedbacks"
        ],
        "description": "Returns a list of fields",
        "operationId": "getFieldsFeedbacks",
        "summary": "Get the list of fields"
      }
    },
    "/logs": {
      "get": {
        "parameters": [
          {
            "description": "Type of the log",
            "in": "query",
            "name": "log_type",
            "schema": {
              "enum": [
                "",
                "plugin_sends_error",
                "curlerror",
                "modified_file",
                "word_not_in_homepage",
                "file_not_exists",
                "update_available",
                "new_extension",
                "deleted_extension",
                "extension_not_saved",
                "modified_value_files",
                "custom"
              ],
              "type": "string"
            }
          },
          {
            "description": "Do a 'LIKE' search, you can also use '%'",
            "in": "query",
            "name": "log_entry",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Logs after this date, format YYYY-MM-DD HH:MM:SS",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Logs before this date, format YYYY-MM-DD HH:MM:SS",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Fields to return separate by comas: name,id",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of object to return (max 100, default 25)",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Start of the return (default 0)",
            "in": "query",
            "name": "limitstart",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "ORDER by this field separete by comas. Add + / - after field for set ASC / DESC: type+,name-",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Log"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Log"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Log"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          }
        },
        "tags": [
          "logs"
        ],
        "description": "Returns a list of logs",
        "operationId": "get-logs",
        "summary": "Get a list of logs"
      }
    },
    "/logs/export": {
      "get": {
        "parameters": [
          {
            "description": "Format of exported file (PDF or CSV)",
            "in": "query",
            "name": "format",
            "required": true,
            "schema": {
              "enum": [
                "csv",
                "pdf"
              ],
              "type": "string"
            }
          },
          {
            "description": "Site id of the log",
            "in": "query",
            "name": "site",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Type of the log",
            "in": "query",
            "name": "filter_type",
            "schema": {
              "enum": [
                "",
                "plugin_sends_error",
                "curlerror",
                "modified_file",
                "word_not_in_homepage",
                "file_not_exists",
                "update_available",
                "new_extension",
                "deleted_extension",
                "extension_not_saved",
                "modified_value_files",
                "custom"
              ],
              "type": "string"
            }
          },
          {
            "description": "Do a 'LIKE' search, you can also use '%'",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Logs after this date, format YYYY-MM-DD HH:MM:SS",
            "in": "query",
            "name": "startdate",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Logs before this date, format YYYY-MM-DD HH:MM:SS",
            "in": "query",
            "name": "enddate",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of object to return (max 100, default 25)",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Start of the return (default 0)",
            "in": "query",
            "name": "startid",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          }
        },
        "tags": [
          "logs"
        ],
        "description": "Returns a file contain the list of logs",
        "operationId": "getExportLogs",
        "summary": "Get a CSV or PDF file contain the list of logs"
      }
    },
    "/logs/metadata": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "tags": [
          "logs"
        ],
        "description": "Returns a list of fields",
        "operationId": "getFieldsLogs",
        "summary": "Get the list of fields"
      }
    },
    "/logs/types": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "tags": [
          "logs"
        ],
        "description": "Returns a list of log types",
        "operationId": "getTypesLogs",
        "summary": "Get the list of log types"
      }
    },
    "/logs/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "ID of log that needs to be deleted",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Log correctly deleted"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "logs"
        ],
        "description": "Delete a specific log",
        "operationId": "deleteLogById",
        "summary": "Delete a specific log"
      }
    },
    "/packages": {
      "post": {
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "default": {
            "description": "No description"
          }
        },
        "tags": [
          "packages"
        ],
        "description": "POST /packages",
        "operationId": "post-packages"
      }
    },
    "/reports/sites/{id}": {
      "get": {
        "parameters": [
          {
            "description": "ID that needs to be fetched",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Start of the report, format YYYY-MM-DD, default today-30day ",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "End of the report, format YYYY-MM-DD, default today",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Type of reports separate by comas: Ga,Logs,Uptime",
            "in": "query",
            "name": "reports",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Type of the log to show in the report",
            "in": "query",
            "name": "log_type",
            "schema": {
              "enum": [
                "",
                "plugin_sends_error",
                "curlerror",
                "modified_file",
                "word_not_in_homepage",
                "file_not_exists",
                "update_available",
                "new_extension",
                "deleted_extension",
                "extension_not_saved",
                "modified_value_files"
              ],
              "type": "string"
            }
          },
          {
            "description": "Define if you want show previous values in Google Analytics graph",
            "in": "query",
            "name": "compare",
            "schema": {
              "enum": [
                0,
                1
              ],
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/Reports"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "reports"
        ],
        "description": "Returns a PDF report based on a site ID",
        "operationId": "get-reports-sites-by-id",
        "summary": "Returns a PDF report for a specific site"
      }
    },
    "/reports/tags/{id}": {
      "get": {
        "parameters": [
          {
            "description": "ID that needs to be fetched",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Start of the report, format YYYY-MM-DD, default today-30day ",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "End of the report, format YYYY-MM-DD, default today",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Type of reports separate by comas: Ga,Logs,Uptime",
            "in": "query",
            "name": "reports",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Type of the log to show in the report",
            "in": "query",
            "name": "log_type",
            "schema": {
              "enum": [
                "",
                "plugin_sends_error",
                "curlerror",
                "modified_file",
                "word_not_in_homepage",
                "file_not_exists",
                "update_available",
                "new_extension",
                "deleted_extension",
                "extension_not_saved",
                "modified_value_files"
              ],
              "type": "string"
            }
          },
          {
            "description": "Define if you want show previous values in Google Analytics graph",
            "in": "query",
            "name": "compare",
            "schema": {
              "enum": [
                0,
                1
              ],
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/Reports"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "reports"
        ],
        "description": "Returns a report based on a site ID",
        "operationId": "get-reports-tags-by-id",
        "summary": "Find sites by ID"
      }
    },
    "/sites": {
      "get": {
        "parameters": [
          {
            "description": "List of sites id separated by comma",
            "in": "query",
            "name": "siteids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Site name. Do a 'LIKE' search, you can also use '%'",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Access URL. Do a 'LIKE' search, you can also use '%'",
            "in": "query",
            "name": "access_url",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Joomla version. Do a 'LIKE' search, you can also use '%'",
            "in": "query",
            "name": "j_version",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Ip address. Do a 'LIKE' search, you can also use '%'",
            "in": "query",
            "name": "ip",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Joomla core update status (1: update required, 0: update not required)",
            "in": "query",
            "name": "jUpdate",
            "schema": {
              "enum": [
                1,
                0
              ],
              "type": "integer"
            }
          },
          {
            "description": "canUpdate",
            "in": "query",
            "name": "canUpdate",
            "schema": {
              "enum": [
                1,
                0
              ],
              "type": "integer"
            }
          },
          {
            "description": "Is published",
            "in": "query",
            "name": "published",
            "required": false,
            "schema": {
              "enum": [
                1,
                0
              ],
              "type": "integer"
            }
          },
          {
            "description": "Has errors",
            "in": "query",
            "name": "error",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "nbUpdates",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Is online",
            "in": "query",
            "name": "up",
            "required": false,
            "schema": {
              "enum": [
                1,
                0
              ],
              "type": "integer"
            }
          },
          {
            "description": "Fields to return separated by commas (e.g. name,id)",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of objects to return (max 100, default 25)",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Start of the return (default 0)",
            "in": "query",
            "name": "limitstart",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "ORDER by this field separete by comas. Add + / - after field for set ASC / DESC: type+,name-",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Returns a list of Sites",
        "operationId": "getSites",
        "summary": "Get a list of Sites"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            },
            "description": "No response was specified"
          },
          "201": {
            "description": "Saved successfully"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Not allowed to add sites"
          },
          "404": {
            "description": "Not saved"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Create a site",
        "operationId": "createSite",
        "requestBody": {
          "$ref": "#/components/requestBodies/PostSite"
        },
        "summary": "Create a site"
      }
    },
    "/sites/metadata": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Returns a list of fields",
        "operationId": "get-sites-metadata",
        "summary": "Get the list of fields"
      }
    },
    "/sites/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "ID of Site that needs to be deleted",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Deleted successfully"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Delete a specific Site",
        "operationId": "delete-sites-by-id",
        "summary": "Delete a specific Site"
      },
      "get": {
        "parameters": [
          {
            "description": "ID that needs to be fetched",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Fields to return separate by comas: name,id",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Return a site based on ID",
        "operationId": "getSiteById",
        "summary": "Find sites by ID"
      },
      "put": {
        "parameters": [
          {
            "description": "ID of the website that needs to be update",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            },
            "description": "Updated successfully"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Update a site",
        "operationId": "put-sites-by-id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSite"
              }
            }
          },
          "description": "JSON object Site",
          "required": true
        },
        "summary": "Update a site"
      }
    },
    "/sites/{id}/audits": {
      "get": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Fields to return separate by comas: name,id",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of object to return (max 100, default 25)",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Start of the return (default 0)",
            "in": "query",
            "name": "limitstart",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "ORDER by this field",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audits"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Audits"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Audits"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Return audits for a specific website",
        "operationId": "getSiteAudits",
        "summary": "Return audits for a specific website"
      },
      "post": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audit"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Audit"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Audit"
                }
              }
            },
            "description": "No response was specified"
          },
          "201": {
            "description": "Saved successfully"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Not saved"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Create an audit for the site",
        "operationId": "createAudits",
        "summary": "Create an audit for the site"
      }
    },
    "/sites/{id}/backupnow": {
      "post": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Add the site to the backup queue",
        "operationId": "addSiteToBackupQueue",
        "summary": "Add the site to the backup queue"
      }
    },
    "/sites/{id}/backupprofiles": {
      "get": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Return backup profile",
        "operationId": "getBackupProfiles",
        "summary": "Return backup profile"
      }
    },
    "/sites/{id}/backups": {
      "get": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "List of latest backups",
        "operationId": "getListBackups",
        "summary": "List of latest backups"
      }
    },
    "/sites/{id}/backupstart": {
      "post": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Start a remote backup for the site",
        "operationId": "startSiteBackup",
        "summary": "Start a remote backup for the site"
      }
    },
    "/sites/{id}/backupstep": {
      "post": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Step (continue) a remote backup for the site",
        "operationId": "stepSiteBackup",
        "summary": "Step (continue) a remote backup for the site"
      }
    },
    "/sites/{id}/extensions": {
      "get": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Fields to return separate by comas: name,id",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of object to return (max 100, default 25)",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Start of the return (default 0)",
            "in": "query",
            "name": "limitstart",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "ORDER by this field",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Extension"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Extension"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Extension"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Get extensions for a site",
        "operationId": "get-sites-by-id-extensions",
        "summary": "Get extensions for a site"
      },
      "post": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "URL to install the extension from",
            "in": "query",
            "name": "url",
            "required": true,
            "schema": {
              "format": "url",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Install extension",
        "operationId": "installExtension",
        "summary": "Install extension"
      }
    },
    "/sites/{id}/logs": {
      "get": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Do a 'LIKE' search, you can also use '%'",
            "in": "query",
            "name": "log_entry",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Type of the log",
            "in": "query",
            "name": "log_type",
            "schema": {
              "enum": [
                "",
                "plugin_sends_error",
                "curlerror",
                "modified_file",
                "word_not_in_homepage",
                "file_not_exists",
                "update_available",
                "new_extension",
                "deleted_extension",
                "extension_not_saved",
                "modified_value_files"
              ],
              "type": "string"
            }
          },
          {
            "description": "Logs after this date, format YYYY-MM-DD HH:MM:SS",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Logs before this date, format YYYY-MM-DD HH:MM:SS",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Fields to return separate by comas: name,id",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of object to return (max 100, default 25)",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Start of the return (default 0)",
            "in": "query",
            "name": "limitstart",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "ORDER by this field separete by comas. Add + / - after field for set ASC / DESC: type+,name-",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Log"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Log"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Log"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Return logs for a specific website",
        "operationId": "get-sites-by-id-logs",
        "summary": "Return logs for a specific website"
      },
      "post": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Log"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Log"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Log"
                }
              }
            },
            "description": "No response was specified"
          },
          "201": {
            "description": "Saved successfully"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Not saved"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Create a custom log for a specific website",
        "operationId": "CreateLog",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostLog"
              }
            }
          },
          "description": "JSON object Log (only type custom)",
          "required": true
        },
        "summary": "Create a custom log for a specific website"
      }
    },
    "/sites/{id}/monitor": {
      "delete": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Return boolean",
        "operationId": "deleteMonitor",
        "summary": "Delete uptime monitor"
      },
      "post": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Return boolean",
        "operationId": "postMonitor",
        "summary": "Post uptime monitor"
      }
    },
    "/sites/{id}/scanner": {
      "get": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Scan the site for malware",
        "operationId": "scanner",
        "summary": "Scan the site for malware"
      }
    },
    "/sites/{id}/seo": {
      "get": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "SEO analyze for a page",
        "operationId": "seoAnalyze",
        "summary": "SEO analyze for a page"
      }
    },
    "/sites/{id}/tags": {
      "get": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Do a 'LIKE' search, you can also use '%'",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Bootstrap color of the tag",
            "in": "query",
            "name": "type",
            "schema": {
              "enum": [
                "",
                "default",
                "success",
                "warning",
                "important",
                "info",
                "inverse"
              ],
              "type": "string"
            }
          },
          {
            "description": "Fields to return separate by comas: name,id",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of object to return (max 100, default 25)",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Start of the return (default 0)",
            "in": "query",
            "name": "limitstart",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "ORDER by this field",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Return tags for a specific website",
        "operationId": "get-sites-by-id-tags",
        "summary": "Return tags for a specific website"
      },
      "post": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            },
            "description": "No response was specified"
          },
          "201": {
            "description": "Saved successfully"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Add tags for a specific website",
        "operationId": "postTags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          },
          "description": "JSON object Tag",
          "required": true
        },
        "summary": "Add tags for a specific website"
      }
    },
    "/sites/{id}/updatejoomla": {
      "post": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Joomla core successfully updated"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID or Joomla Update not found"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Update Joomla core on the remote site",
        "operationId": "updateJoomla",
        "summary": "Update Joomla core on the remote site"
      }
    },
    "/sites/{id}/uptime": {
      "get": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Uptime"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Uptime"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Uptime"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "Return uptime data",
        "operationId": "getUptime",
        "summary": "Return uptime data"
      }
    },
    "/sites/{id}/validate": {
      "get": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Log"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Log"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Log"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "validate the site",
        "operationId": "validateSite",
        "summary": "validate the site, return the new logs"
      }
    },
    "/sites/{id}/validatedebug": {
      "get": {
        "parameters": [
          {
            "description": "ID of the website",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Log"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Log"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Log"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "sites"
        ],
        "description": "validate the site, return the debug information",
        "operationId": "validateDebugSite",
        "summary": "validate the site, return the debug information"
      }
    },
    "/ssousers": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SsoUsers"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SsoUsers"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SsoUsers"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          }
        },
        "tags": [
          "ssousers"
        ],
        "description": "Returns a list of SSO Users",
        "operationId": "getSsoUsers",
        "summary": "Get a list of SSO Users"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SsoUsers"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SsoUsers"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SsoUsers"
                }
              }
            },
            "description": "No response was specified"
          },
          "201": {
            "description": "Saved successfully"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Not saved"
          }
        },
        "tags": [
          "ssousers"
        ],
        "description": "Create a SSO User",
        "operationId": "CreateSsoUsers",
        "requestBody": {
          "$ref": "#/components/requestBodies/SsoUsers"
        },
        "summary": "Create a SSO User"
      }
    },
    "/ssousers/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "ID of SSO User that needs to be deleted",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "SSO User correctly deleted"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "ssousers"
        ],
        "description": "Delete a specific SSO User",
        "operationId": "deleteSsoUserById",
        "summary": "Delete a specific SSO User"
      },
      "get": {
        "parameters": [
          {
            "description": "ID of SSO User that needs to be fetched",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Fields to return separate by comas: name,id",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SsoUsers"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SsoUsers"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SsoUsers"
                }
              }
            },
            "description": "No response was specified"
          },
          "400": {
            "description": "Invalid ID"
          },
          "403": {
            "description": "Invalid API Key"
          }
        },
        "tags": [
          "ssousers"
        ],
        "description": "Returns a SSO User based on ID",
        "operationId": "getSsoUsersById",
        "summary": "Find SSO User by ID"
      },
      "put": {
        "parameters": [
          {
            "description": "ID of SSO User that needs to be updated",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SsoUsers"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SsoUsers"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SsoUsers"
                }
              }
            },
            "description": "No response was specified"
          },
          "201": {
            "description": "Updated successfully"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Not saved"
          }
        },
        "tags": [
          "ssousers"
        ],
        "description": "Update a SSO User",
        "operationId": "UpdateSsoUsers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SsoUsers"
              }
            }
          },
          "description": "JSON object SsoUsers",
          "required": true
        },
        "summary": "Update a SSO User"
      }
    },
    "/tags": {
      "get": {
        "parameters": [
          {
            "description": "Do a 'LIKE' search, you can also use '%'",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Bootstrap color of the tag",
            "in": "query",
            "name": "type",
            "schema": {
              "enum": [
                "",
                "default",
                "success",
                "warning",
                "important",
                "info",
                "inverse"
              ],
              "type": "string"
            }
          },
          {
            "description": "Fields to return separate by comas: name,id",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of object to return (max 100, default 25)",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Start of the return (default 0)",
            "in": "query",
            "name": "limitstart",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "ORDER by this field separete by comas. Add + / - after field for set ASC / DESC: type+,name-",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
            "description": "Invalid API Key"
          }
        },
        "tags": [
          "tags"
        ],
        "description": "Returns a list of tags",
        "operationId": "get-tags",
        "summary": "Get a list of tags"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            },
            "description": "No response was specified"
          },
          "201": {
            "description": "Saved successfully"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Not saved"
          }
        },
        "tags": [
          "tags"
        ],
        "description": "Create a tag",
        "operationId": "CreateTags",
        "requestBody": {
          "$ref": "#/components/requestBodies/Tag"
        },
        "summary": "Create a tag"
      }
    },
    "/tags/metadata": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "tags": [
          "tags"
        ],
        "description": "Returns a list of fields",
        "operationId": "get-tags-metadata",
        "summary": "Get the list of fields"
      }
    },
    "/tags/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "ID of tag that needs to be deleted",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Tag correctly deleted"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "tags"
        ],
        "description": "Delete a specific tag",
        "operationId": "delete-tags-by-id",
        "summary": "Delete a specific tag"
      },
      "get": {
        "parameters": [
          {
            "description": "ID of tag that needs to be fetched",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Fields to return separate by comas: name,id",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            },
            "description": "No response was specified"
          },
          "400": {
            "description": "Invalid ID"
          },
          "403": {
            "description": "Invalid API Key"
          }
        },
        "tags": [
          "tags"
        ],
        "description": "Returns a tag based on ID",
        "operationId": "getTagById",
        "summary": "Find tag by ID"
      },
      "put": {
        "parameters": [
          {
            "description": "ID of tag",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            },
            "description": "Updated successfully"
          },
          "400": {
            "description": "Invalid data"
          },
          "403": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Invalid ID"
          }
        },
        "tags": [
          "tags"
        ],
        "description": "Update a tag",
        "operationId": "UpdateTag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          },
          "description": "JSON object of the updated tag",
          "required": true
        },
        "summary": "Update a tag"
      }
    },
    "/tags/{id}/sites": {
      "get": {
        "parameters": [
          {
            "description": "ID of tag that needs to be fetched",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Do a 'LIKE' search, you can also use '%'",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Do a 'LIKE' search, you can also use '%'",
            "in": "query",
            "name": "access_url",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Do a 'LIKE' search, you can also use '%'",
            "in": "query",
            "name": "j_version",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Do a 'LIKE' search, you can also use '%'",
            "in": "query",
            "name": "ip",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Joomla core update",
            "in": "query",
            "name": "jUpdate",
            "schema": {
              "enum": [
                1,
                0
              ],
              "type": "integer"
            }
          },
          {
            "description": "is published",
            "in": "query",
            "name": "published",
            "required": false,
            "schema": {
              "enum": [
                1,
                0
              ],
              "type": "integer"
            }
          },
          {
            "description": "have errors",
            "in": "query",
            "name": "error",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "nbUpdates",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "is the website online",
            "in": "query",
            "name": "up",
            "required": false,
            "schema": {
              "enum": [
                1,
                0
              ],
              "type": "integer"
            }
          },
          {
            "description": "Fields to return separate by comas: name,id",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of object to return (max 100, default 25)",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Start of the return (default 0)",
            "in": "query",
            "name": "limitstart",
            "required": false,
            "schema": {
              "format": "int64",
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "ORDER by this field separete by comas. Add + / - after field for set ASC / DESC: type+,name-",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            },
            "description": "No response was specified"
          },
          "403": {
[...]
