{
  "openapi": "3.0.0",
  "info": {
    "title": "Flowdash API",
    "description": "Workflow management API for building operational tools. Manage tasks, workflows, fields, users, and analytics.",
    "version": "1.0.0",
    "contact": {
      "name": "Flowdash Support",
      "url": "https://docs.flowdash.com"
    }
  },
  "servers": [
    {
      "url": "https://app.flowdash.com/api/v1",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/workflows": {
      "get": {
        "summary": "List workflows",
        "description": "Retrieve all workflows accessible to the workspace",
        "operationId": "listWorkflows",
        "tags": ["Workflows"],
        "responses": {
          "200": {
            "description": "List of workflows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workflow"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API token"
          }
        }
      }
    },
    "/workflows/{workflowId}/tasks": {
      "get": {
        "summary": "List tasks",
        "description": "Retrieve all tasks from a workflow",
        "operationId": "listTasks",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workflow ID"
          },
          {
            "name": "stage",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by stage"
          },
          {
            "name": "assigned_to",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by assignee"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create or update task",
        "description": "Create a new task or update existing task (upsert behavior based on unique ID)",
        "operationId": "createTask",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created or updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "422": {
            "description": "Invalid data"
          }
        }
      },
      "put": {
        "summary": "Update task",
        "description": "Update an existing task (returns 404 if task doesn't exist)",
        "operationId": "updateTask",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task updated successfully"
          },
          "404": {
            "description": "Task not found"
          }
        }
      }
    },
    "/workflows/{workflowId}/tasks/active": {
      "get": {
        "summary": "Get active tasks",
        "description": "Retrieve tasks that are not in an end stage",
        "operationId": "getActiveTasks",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of active tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{workflowId}/tasks/{uniqueId}": {
      "get": {
        "summary": "Get task by unique ID",
        "description": "Retrieve a specific task using its unique identifier",
        "operationId": "getTask",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uniqueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique task identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Task details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "404": {
            "description": "Task not found"
          }
        }
      },
      "delete": {
        "summary": "Delete task",
        "description": "Permanently remove a task (irreversible)",
        "operationId": "deleteTask",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uniqueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Task deleted successfully"
          },
          "404": {
            "description": "Task not found"
          }
        }
      }
    },
    "/workflows/{workflowId}/fields": {
      "get": {
        "summary": "List fields",
        "description": "Retrieve all fields configured for a workflow",
        "operationId": "listFields",
        "tags": ["Fields"],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Field"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Generate API keys from Workspace Settings > API."
      }
    },
    "schemas": {
      "Workflow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Workflow identifier"
          },
          "name": {
            "type": "string",
            "description": "Workflow name"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Internal task ID"
          },
          "unique_id": {
            "type": "string",
            "description": "User-defined unique identifier"
          },
          "stage": {
            "type": "string",
            "description": "Current stage of the task"
          },
          "assigned_to": {
            "type": "string",
            "description": "User assigned to the task"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "fields": {
            "type": "object",
            "description": "Custom field values",
            "additionalProperties": true
          }
        }
      },
      "TaskRequest": {
        "type": "object",
        "properties": {
          "unique_id": {
            "type": "string",
            "description": "Unique identifier for the task"
          },
          "stage": {
            "type": "string",
            "description": "Stage to assign the task to"
          },
          "assigned_to": {
            "type": "string",
            "description": "User to assign the task to"
          },
          "fields": {
            "type": "object",
            "description": "Custom field values",
            "additionalProperties": true
          }
        }
      },
      "Field": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Field identifier"
          },
          "name": {
            "type": "string",
            "description": "Field display name"
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "longText",
              "number",
              "phone",
              "currency",
              "date",
              "datetime",
              "person",
              "singleSelect",
              "multipleSelect",
              "checkbox",
              "uniqueId",
              "file",
              "email",
              "url"
            ],
            "description": "Field data type"
          },
          "editable": {
            "type": "boolean",
            "description": "Whether the field can be modified"
          },
          "required": {
            "type": "boolean",
            "description": "Whether the field is mandatory"
          },
          "options": {
            "type": "array",
            "description": "Available choices for select fields",
            "items": {
              "type": "string"
            }
          },
          "limit": {
            "type": "object",
            "description": "Upload restrictions for file fields"
          },
          "autoincrement": {
            "type": "boolean",
            "description": "Auto-generation setting for uniqueId fields"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Workflows",
      "description": "Workflow management"
    },
    {
      "name": "Tasks",
      "description": "Task creation and management"
    },
    {
      "name": "Fields",
      "description": "Field configuration"
    }
  ]
}
