{
  "openapi": "3.0.3",
  "info": {
    "title": "Majestic SEO API",
    "description": "The Majestic API provides access to the world's largest Link Intelligence database. Query backlink data, referring domains, anchor text, trust flow, citation flow, and more for any URL, subdomain, or domain.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developer-support.majestic.com"
  },
  "servers": [
    {
      "url": "https://api.majestic.com",
      "description": "Production API (Internal/Reseller)"
    },
    {
      "url": "https://developer.majestic.com",
      "description": "Developer API (limited index)"
    }
  ],
  "paths": {
    "/api/json": {
      "get": {
        "tags": [
          "Index"
        ],
        "summary": "Execute API command (JSON response)",
        "operationId": "executeCommandJson",
        "parameters": [
          {
            "name": "app_api_key",
            "in": "query",
            "required": true,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cmd",
            "in": "query",
            "required": true,
            "description": "Command to execute",
            "schema": {
              "type": "string",
              "enum": [
                "GetIndexItemInfo",
                "GetBackLinkData",
                "GetAnchorText",
                "GetRefDomains",
                "GetRefDomainInfo",
                "GetBackLinksHistory",
                "GetLinkProfile",
                "GetNewLostBackLinks",
                "GetNewLostBackLinkCalendar",
                "GetKeywordInfo",
                "GetTopics",
                "GetTopPages",
                "GetHostedDomains",
                "GetRelatedSites",
                "GetSubscriptionInfo",
                "GetLinkedDomains",
                "GetTopBackLinks",
                "SearchByKeyword",
                "GetPrefixQueryEstimate",
                "DownloadBackLinks",
                "DownloadRefDomainBackLinks",
                "GetDownloadsList",
                "DeleteDownloads",
                "AddToBucket",
                "AnalyseIndexItem",
                "GetDomainBackLinksHistory"
              ]
            }
          },
          {
            "name": "items",
            "in": "query",
            "description": "Number of items in batch request",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "item0",
            "in": "query",
            "description": "First item (URL, subdomain, or domain)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item1",
            "in": "query",
            "description": "Second item for batch requests",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasource",
            "in": "query",
            "description": "Index to query",
            "schema": {
              "type": "string",
              "enum": [
                "fresh",
                "historic"
              ]
            }
          },
          {
            "name": "Count",
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "description": "Offset for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "AddAllTopics",
            "in": "query",
            "description": "Include topical trust flow data",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "Mode",
            "in": "query",
            "description": "Filter mode (e.g., 0=all, 1=new, 2=lost)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FilterTopic",
            "in": "query",
            "description": "Filter by topic",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MaxSourceURLs",
            "in": "query",
            "description": "Maximum source URLs per referring domain",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "MaxSameSourceURLs",
            "in": "query",
            "description": "Maximum same source URLs",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Command result in JSON format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MajesticResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Index"
        ],
        "summary": "Execute API command via POST (JSON response)",
        "operationId": "executeCommandJsonPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "app_api_key",
                  "cmd"
                ],
                "properties": {
                  "app_api_key": {
                    "type": "string",
                    "description": "API key"
                  },
                  "cmd": {
                    "type": "string",
                    "description": "Command to execute"
                  },
                  "items": {
                    "type": "integer",
                    "description": "Number of items"
                  },
                  "item0": {
                    "type": "string",
                    "description": "First item"
                  },
                  "datasource": {
                    "type": "string",
                    "description": "Index (fresh/historic)"
                  },
                  "Count": {
                    "type": "integer"
                  },
                  "Offset": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command result in JSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MajesticResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/xml": {
      "get": {
        "tags": [
          "Index"
        ],
        "summary": "Execute API command (XML response)",
        "operationId": "executeCommandXml",
        "parameters": [
          {
            "name": "app_api_key",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cmd",
            "in": "query",
            "required": true,
            "description": "Command to execute",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items",
            "in": "query",
            "description": "Number of items",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "item0",
            "in": "query",
            "description": "First item",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasource",
            "in": "query",
            "description": "Index to query",
            "schema": {
              "type": "string",
              "enum": [
                "fresh",
                "historic"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Command result in XML",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "MajesticResponse": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Result code (OK or error)"
          },
          "ErrorMessage": {
            "type": "string"
          },
          "FullError": {
            "type": "string"
          },
          "FirstBackLinkDate": {
            "type": "string"
          },
          "IndexBuildDate": {
            "type": "string"
          },
          "IndexType": {
            "type": "integer"
          },
          "MostRecentBackLinkDate": {
            "type": "string"
          },
          "ServerBuild": {
            "type": "string"
          },
          "ServerName": {
            "type": "string"
          },
          "ServerVersion": {
            "type": "string"
          },
          "UniqueIndexID": {
            "type": "string"
          },
          "DataTables": {
            "$ref": "#/components/schemas/DataTables"
          }
        }
      },
      "DataTables": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/DataTable"
        }
      },
      "DataTable": {
        "type": "object",
        "properties": {
          "Headers": {
            "type": "object"
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataRow"
            }
          }
        }
      },
      "DataRow": {
        "type": "object",
        "properties": {
          "ItemNum": {
            "type": "integer"
          },
          "Item": {
            "type": "string"
          },
          "ResultCode": {
            "type": "string"
          },
          "Status": {
            "type": "string"
          },
          "ExtBackLinks": {
            "type": "integer",
            "description": "Number of external backlinks"
          },
          "RefDomains": {
            "type": "integer",
            "description": "Number of referring domains"
          },
          "CitationFlow": {
            "type": "integer",
            "description": "Citation Flow score (0-100)"
          },
          "TrustFlow": {
            "type": "integer",
            "description": "Trust Flow score (0-100)"
          },
          "TrustMetric": {
            "type": "integer"
          },
          "TopicalTrustFlow_Topic_0": {
            "type": "string"
          },
          "TopicalTrustFlow_Value_0": {
            "type": "integer"
          },
          "ACRank": {
            "type": "integer"
          },
          "RefIPs": {
            "type": "integer"
          },
          "RefSubNets": {
            "type": "integer"
          },
          "IndexedURLs": {
            "type": "integer"
          },
          "CrawledFlag": {
            "type": "string"
          },
          "LastCrawlDate": {
            "type": "string"
          },
          "LastCrawlResult": {
            "type": "string"
          },
          "Title": {
            "type": "string"
          },
          "Language": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "app_api_key",
        "description": "Majestic API key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Index",
      "description": "Index item information"
    },
    {
      "name": "Backlinks",
      "description": "Backlink data retrieval"
    },
    {
      "name": "Referring Domains",
      "description": "Referring domain information"
    },
    {
      "name": "Anchor Text",
      "description": "Anchor text analysis"
    },
    {
      "name": "Keywords",
      "description": "Keyword information"
    },
    {
      "name": "Link Profile",
      "description": "Link profile analysis"
    },
    {
      "name": "Topics",
      "description": "Topical analysis"
    },
    {
      "name": "Account",
      "description": "Account and subscription management"
    }
  ]
}