{
  "openapi": "3.0.3",
  "info": {
    "title": "ChartMogul API",
    "version": "1.0.0",
    "description": "ChartMogul subscription analytics and revenue platform API",
    "x-jentic-source-url": "https://raw.githubusercontent.com/aislingbyrnemc-sudo/openapis-specs/refs/heads/import/chartmogul.com/chartmogul/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.chartmogul.com/v1"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "summary": "Get account",
        "operationId": "get_account",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/customers": {
      "get": {
        "summary": "List customers",
        "operationId": "list_customers",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      },
      "post": {
        "summary": "Create customer",
        "operationId": "create_customer",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/customers/{customerUuid}": {
      "get": {
        "summary": "Get customer",
        "operationId": "get_customer",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "Update customer",
        "operationId": "update_customer",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete customer",
        "operationId": "delete_customer",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/customers/{customerUuid}/contacts": {
      "get": {
        "summary": "List contacts",
        "operationId": "list_contacts",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "customerUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "Create contact",
        "operationId": "create_contact",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "customerUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/customers/search": {
      "get": {
        "summary": "Search customers",
        "operationId": "search_customers",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/data_sources": {
      "get": {
        "summary": "List data sources",
        "operationId": "list_data_sources",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Data Sources"
        ]
      },
      "post": {
        "summary": "Create data source",
        "operationId": "create_data_source",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Data Sources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/plans": {
      "get": {
        "summary": "List plans",
        "operationId": "list_plans",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Plans"
        ]
      },
      "post": {
        "summary": "Create plan",
        "operationId": "create_plan",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Plans"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/invoices": {
      "post": {
        "summary": "Import invoices",
        "operationId": "import_invoices",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/customers/{customerUuid}/subscriptions": {
      "get": {
        "summary": "List subscriptions",
        "operationId": "list_subscriptions",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "customerUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/metrics/mrr": {
      "get": {
        "summary": "Get MRR",
        "operationId": "get_mrr",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Metrics"
        ]
      }
    },
    "/metrics/arr": {
      "get": {
        "summary": "Get ARR",
        "operationId": "get_arr",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Metrics"
        ]
      }
    },
    "/metrics/arpa": {
      "get": {
        "summary": "Get ARPA",
        "operationId": "get_arpa",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Metrics"
        ]
      }
    },
    "/metrics/customer-count": {
      "get": {
        "summary": "Get customer count",
        "operationId": "get_customer_count",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Metrics"
        ]
      }
    },
    "/metrics/customer-churn-rate": {
      "get": {
        "summary": "Get customer churn rate",
        "operationId": "get_customer_churn_rate",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Metrics"
        ]
      }
    },
    "/metrics/mrr-churn-rate": {
      "get": {
        "summary": "Get MRR churn rate",
        "operationId": "get_mrr_churn_rate",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Metrics"
        ]
      }
    },
    "/metrics/ltv": {
      "get": {
        "summary": "Get LTV",
        "operationId": "get_ltv",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Metrics"
        ]
      }
    },
    "/metrics/asp": {
      "get": {
        "summary": "Get ASP",
        "operationId": "get_asp",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Metrics"
        ]
      }
    },
    "/activities-export": {
      "post": {
        "summary": "Create activities export",
        "operationId": "create_activities_export",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Activities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "x-jentic-source-url": "https://dev.chartmogul.com/reference",
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Activities Export"
    },
    {
      "name": "Customers"
    },
    {
      "name": "Data Sources"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "Metrics"
    },
    {
      "name": "Plans"
    }
  ]
}