{
  "openapi": "3.1.0",
  "info": {
    "title": "AliExpress Open Platform API",
    "description": "AliExpress Open Platform provides APIs for sellers, affiliates, dropshippers, and logistics partners to manage products, orders, shipping, payments, and more on the AliExpress marketplace. The API follows the TOP (Taobao Open Platform) gateway pattern where most methods are invoked via a central gateway endpoint with a method parameter.",
    "version": "1.0.0",
    "contact": {
      "name": "AliExpress Open Platform",
      "url": "https://openservice.aliexpress.com"
    },
    "termsOfService": "https://openservice.aliexpress.com"
  },
  "servers": [
    {
      "url": "https://api-sg.aliexpress.com",
      "description": "AliExpress API Gateway (Singapore)"
    },
    {
      "url": "https://api-us.aliexpress.com",
      "description": "AliExpress API Gateway (US)"
    }
  ],
  "security": [
    {
      "appKey": [],
      "accessToken": []
    }
  ],
  "tags": [
    {
      "name": "System Tool",
      "description": "System Tool"
    },
    {
      "name": "AE-Affiliate",
      "description": "AE-Affiliate"
    },
    {
      "name": "AE-Logistics",
      "description": "AE-Logistics"
    },
    {
      "name": "AE-Aliexpress-Direct-Product",
      "description": "AE-Aliexpress-Direct-Product"
    },
    {
      "name": " AE-Settlement",
      "description": " AE-Settlement"
    },
    {
      "name": "AE-Custmize",
      "description": "AE-Custmize"
    },
    {
      "name": "AE-KoreanCrossborder-Product",
      "description": "AE-KoreanCrossborder-Product"
    },
    {
      "name": "AE-Dropshipper",
      "description": "AE-Dropshipper"
    },
    {
      "name": "AE-Image",
      "description": "AE-Image"
    },
    {
      "name": "AE-Seller",
      "description": "AE-Seller"
    },
    {
      "name": "AE-Category&Attributes",
      "description": "AE-Category&Attributes"
    },
    {
      "name": "AE-Refund&return",
      "description": "AE-Refund&return"
    },
    {
      "name": "AE-Freight (Shipment)",
      "description": "AE-Freight (Shipment)"
    },
    {
      "name": "AE-Order & Transaction",
      "description": "AE-Order & Transaction"
    },
    {
      "name": "AliExpress Direct Logistic",
      "description": "AliExpress Direct Logistic"
    },
    {
      "name": "AE-Product Management",
      "description": "AE-Product Management"
    },
    {
      "name": "AE_DSA",
      "description": "AE_DSA"
    },
    {
      "name": "CSP-Seller",
      "description": "CSP-Seller"
    }
  ],
  "paths": {
    "/auth/token/security/create": {
      "post": {
        "operationId": "generateSecurityToken",
        "summary": "generateSecurityToken",
        "description": "generate access_token safely for call api",
        "tags": [
          "System Tool"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/token/create": {
      "post": {
        "operationId": "generateToken",
        "summary": "generateToken",
        "description": "generate access_token for call api",
        "tags": [
          "System Tool"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/token/security/refresh": {
      "post": {
        "operationId": "refreshSecurityToken",
        "summary": "refreshSecurityToken",
        "description": "refresh access_token safely for api call",
        "tags": [
          "System Tool"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/token/refresh": {
      "post": {
        "operationId": "refreshToken",
        "summary": "refreshToken",
        "description": "refresh access_token, the endpoint is https://api-sg.aliexpress.com/rest",
        "tags": [
          "System Tool"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/xinghe/merchant/license/get": {
      "post": {
        "operationId": "Inquire_Business_License",
        "summary": "Inquire Business License",
        "description": "Inquire Business License",
        "tags": [
          "AE-Affiliate"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/affiliate/product/shipping/get": {
      "post": {
        "operationId": "aliexpress_affiliate_product_shipping_get",
        "summary": "Get Product Shipping Info",
        "description": "Get the shipping info of the product. The required information for the input parameters can be obtained from the product query API.",
        "tags": [
          "AE-Affiliate"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.affiliate.product.shipping.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/affiliate/product/sku/detail/get": {
      "post": {
        "operationId": "aliexpress_affiliate_product_sku_detail_get",
        "summary": "Get SKU Product Detail Info",
        "description": "Get all the SKU information of the product, including price, specifications, delivery info, etc.",
        "tags": [
          "AE-Affiliate"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.affiliate.product.sku.detail.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/affiliate/link/generate": {
      "post": {
        "operationId": "aliexpress_affiliate_link_generate",
        "summary": "generate affiliate links",
        "description": "generate affiliate links",
        "tags": [
          "AE-Affiliate"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.affiliate.link.generate"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/affiliate/category/get": {
      "post": {
        "operationId": "aliexpress_affiliate_category_get",
        "summary": "get category",
        "description": "get category",
        "tags": [
          "AE-Affiliate"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.affiliate.category.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/affiliate/featuredpromo/get": {
      "post": {
        "operationId": "aliexpress_affiliate_featuredpromo_get",
        "summary": "get featuredpromo info",
        "description": "get featuredpromo info",
        "tags": [
          "AE-Affiliate"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.affiliate.featuredpromo.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/affiliate/featuredpromo/products/get": {
      "post": {
        "operationId": "aliexpress_affiliate_featuredpromo_products_get",
        "summary": "get featuredpromo products",
        "description": "get featuredpromo products",
        "tags": [
          "AE-Affiliate"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.affiliate.featuredpromo.products.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/affiliate/hotproduct/download": {
      "post": {
        "operationId": "aliexpress_affiliate_hotproduct_download",
        "summary": "get hotproduct download",
        "description": "get hotproduct download",
        "tags": [
          "AE-Affiliate"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.affiliate.hotproduct.download"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/affiliate/hotproduct/query": {
      "post": {
        "operationId": "aliexpress_affiliate_hotproduct_query",
        "summary": "get hotproducts",
        "description": "get hotproducts",
        "tags": [
          "AE-Affiliate"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.affiliate.hotproduct.query"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/affiliate/order/get": {
      "post": {
        "operationId": "aliexpress_affiliate_order_get",
        "summary": "get order info",
        "description": "get order info",
        "tags": [
          "AE-Affiliate"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.affiliate.order.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/affiliate/order/list": {
      "post": {
        "operationId": "aliexpress_affiliate_order_list",
        "summary": "get order list",
        "description": "get order list",
        "tags": [
          "AE-Affiliate"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.affiliate.order.list"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/affiliate/order/listbyindex": {
      "post": {
        "operationId": "aliexpress_affiliate_order_listbyindex",
        "summary": "get order list by index",
        "description": "get order list by index",
        "tags": [
          "AE-Affiliate"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.affiliate.order.listbyindex"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/affiliate/productdetail/get": {
      "post": {
        "operationId": "aliexpress_affiliate_productdetail_get",
        "summary": "get productdetail info",
        "description": "get productdetail info",
        "tags": [
          "AE-Affiliate"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.affiliate.productdetail.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/affiliate/product/query": {
      "post": {
        "operationId": "aliexpress_affiliate_product_query",
        "summary": "get products",
        "description": "get products",
        "tags": [
          "AE-Affiliate"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.affiliate.product.query"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/affiliate/product/smartmatch": {
      "post": {
        "operationId": "aliexpress_affiliate_product_smartmatch",
        "summary": "smart match products",
        "description": "smart match products",
        "tags": [
          "AE-Affiliate"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.affiliate.product.smartmatch"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/asf/local2local/sub/declareship": {
      "post": {
        "operationId": "aliexpress_asf_local2local_sub_declareship",
        "summary": "DBS packaging and ship \uff08supports split sub-order\uff09",
        "description": "You can use this interface to declare the shipment of a single order, and this interface supports the delivery of split orders",
        "tags": [
          "AE-Logistics"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.asf.local2local.sub.declareship"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/asf/dbs/declareship": {
      "post": {
        "operationId": "aliexpress_asf_dbs_declareship",
        "summary": "Dbs declare Ship",
        "description": "You can use this interface to pack and ship 3PL line orders (non-platform logistics orders).",
        "tags": [
          "AE-Logistics"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.asf.dbs.declareship"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/asf/local2local/self/pickup/declareship": {
      "post": {
        "operationId": "aliexpress_asf_local2local_self_pickup_declareship",
        "summary": "Local self pick up declare ship ",
        "description": "This interface supports self-pickup order declaration shipping only for local stores",
        "tags": [
          "AE-Logistics"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.asf.local2local.self.pickup.declareship"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/asf/dbs/declare/ship/modify": {
      "post": {
        "operationId": "aliexpress_asf_dbs_declare_ship_modify",
        "summary": "Modify dbs declare Ship",
        "description": "You can use this interface to modify the shipment records of the Dbs declare Ship interface. Please note that you can only modify it twice within ten days after the first shipment. Also, please do not use this interface to modify platform logistics orders.",
        "tags": [
          "AE-Logistics"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.asf.dbs.declare.ship.modify"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/asf/shipment/pack": {
      "post": {
        "operationId": "aliexpress_asf_shipment_pack",
        "summary": "Online packaging and shipment.",
        "description": "Online packaging and shipment.",
        "tags": [
          "AE-Logistics"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.asf.shipment.pack"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/asf/order/shipping/service/get": {
      "post": {
        "operationId": "aliexpress_asf_order_shipping_service_get",
        "summary": "Order Shipping Service Query",
        "description": "You can use this interface to query the logistics service information on the order, including logistics service code, logistics service name, and logistics service type (DBS or platform logistics mode). You can use this information to help you decide whether to use the DBS mode or platform logistics mode for shipping this order.",
        "tags": [
          "AE-Logistics"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.asf.order.shipping.service.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/asf/package/shipping/service/get": {
      "post": {
        "operationId": "aliexpress_asf_package_shipping_service_get",
        "summary": "Package available shipping service query",
        "description": "Package available shipping service query",
        "tags": [
          "AE-Logistics"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.asf.package.shipping.service.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/asf/local2local/split/quantity/rts/pack": {
      "post": {
        "operationId": "aliexpress_asf_local2local_split_quantity_rts_pack",
        "summary": "Package for orders(supports split quantity)",
        "description": "Logistics order creation can be carried out using the current interface, which supports splitting the quantity of sub-orders for shipment",
        "tags": [
          "AE-Logistics"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.asf.local2local.split.quantity.rts.pack"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/asf/platform/logistics/document/query": {
      "post": {
        "operationId": "aliexpress_asf_platform_logistics_document_query",
        "summary": "Platform logistics order document query",
        "description": "You can use this API to print waybills for packages that have already been packed for platform logistics orders. The returned message is a byte array data encoded in base64. Please use base64 to decode the data in the \"bytes\" field to obtain the waybill byte data. Please note that this API should not be used to print waybills for DBS orders, and currently only supports printing waybills.",
        "tags": [
          "AE-Logistics"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.asf.platform.logistics.document.query"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/asf/platform/logistics/rts": {
      "post": {
        "operationId": "aliexpress_asf_platform_logistics_rts",
        "summary": "Platform logistics ready to ship",
        "description": "You can use this interface to ship packages that have already been packed for platform logistics orders. After this operation, logistics will come to collect the packages. Please note that this interface should not be used for DBS packages.",
        "tags": [
          "AE-Logistics"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.asf.platform.logistics.rts"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/asf/platform/logistics/repack": {
      "post": {
        "operationId": "aliexpress_asf_platform_logistics_repack",
        "summary": "Platform logistics repack",
        "description": "You can use this interface to cancel packages that have already been packed for platform logistics orders. After cancellation, you can pack the order again. Please note that this interface should not be used for DBS packages.",
        "tags": [
          "AE-Logistics"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.asf.platform.logistics.repack"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/asf/local/unreachable/preference/query": {
      "post": {
        "operationId": "aliexpress_asf_local_unreachable_preference_query",
        "summary": "Query Unreachable Preference",
        "description": "You can query the unreachable preferences through this interface.",
        "tags": [
          "AE-Logistics"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.asf.local.unreachable.preference.query"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/asf/seller/address/get": {
      "post": {
        "operationId": "aliexpress_asf_seller_address_get",
        "summary": "Seller address query",
        "description": "You can use this interface to query your shipping address and return address. Please use the shipping address ID as the address ID in the input parameter of the platform logistics packaging interface.",
        "tags": [
          "AE-Logistics"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.asf.seller.address.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/asf/local/unreachable/preference/update": {
      "post": {
        "operationId": "aliexpress_asf_local_unreachable_preference_update",
        "summary": "Unreachable Preference Update",
        "description": "You can set the unreachable preference through this interface.",
        "tags": [
          "AE-Logistics"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.asf.local.unreachable.preference.update"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/asf/local2local/transfer/to/offline": {
      "post": {
        "operationId": "aliexpress_asf_local2local_transfer_to_offline",
        "summary": "platform logistics transfer offline ship",
        "description": "You can use this interface to declare the shipment of a single order, and this interface supports the delivery of split orders",
        "tags": [
          "AE-Logistics"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.asf.local2local.transfer.to.offline"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/asf/fulfillment/package/query": {
      "post": {
        "operationId": "aliexpress_asf_fulfillment_package_query",
        "summary": "\u67e5\u8be2\u5c65\u7ea6\u5305\u88f9\u8be6\u60c5",
        "description": "You can use this interface to ship packages that have already been packed for platform logistics orders. After this operation, logistics will come to collect the packages. Please note that this interface should not be used for DBS packages.",
        "tags": [
          "AE-Logistics"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.asf.fulfillment.package.query"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/local/service/product/stocks/update": {
      "post": {
        "operationId": "aliexpress_local_service_product_stocks_update",
        "summary": "Overseas managed product inventory editor",
        "description": "Overseas managed product inventory editor",
        "tags": [
          "AE-Aliexpress-Direct-Product"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.local.service.product.stocks.update"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/local/service/product/stocks/query": {
      "post": {
        "operationId": "aliexpress_local_service_product_stocks_query",
        "summary": "Overseas managed product inventory query",
        "description": "Overseas managed product inventory query",
        "tags": [
          "AE-Aliexpress-Direct-Product"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.local.service.product.stocks.query"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/local/service/products/list": {
      "post": {
        "operationId": "aliexpress_local_service_products_list",
        "summary": "Overseas managed product list query",
        "description": "Overseas managed product list query",
        "tags": [
          "AE-Aliexpress-Direct-Product"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.local.service.products.list"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/local/service/product/prices/edit": {
      "post": {
        "operationId": "aliexpress_local_service_product_prices_edit",
        "summary": "Overseas managed store-Edit product SKU supply pri",
        "description": "Overseas managed store-Edit product SKU supply price",
        "tags": [
          "AE-Aliexpress-Direct-Product"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.local.service.product.prices.edit"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/local/service/product/post": {
      "post": {
        "operationId": "aliexpress_local_service_product_post",
        "summary": "Overseas managed store-product release",
        "description": "Overseas managed store-product release",
        "tags": [
          "AE-Aliexpress-Direct-Product"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.local.service.product.post"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/local/service/product/edit": {
      "post": {
        "operationId": "aliexpress_local_service_product_edit",
        "summary": "Overseas managed stores-product editing",
        "description": "Overseas managed stores-product editing",
        "tags": [
          "AE-Aliexpress-Direct-Product"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.local.service.product.edit"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/local/service/product/query": {
      "post": {
        "operationId": "aliexpress_local_service_product_query",
        "summary": "Overseas managed stores-query individual product",
        "description": "Overseas managed stores-query individual product",
        "tags": [
          "AE-Aliexpress-Direct-Product"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.local.service.product.query"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/local/service/product/status/update": {
      "post": {
        "operationId": "aliexpress_local_service_product_status_update",
        "summary": "request to change product online/offline status",
        "description": "request to change online/offline status for overseas product",
        "tags": [
          "AE-Aliexpress-Direct-Product"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.local.service.product.status.update"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/trade/invoice/sellerInvoicingApplyInfo/get": {
      "post": {
        "operationId": "aliexpress_trade_invoice_sellerInvoicingApplyInfo_get",
        "summary": "AE Tax: Invoice Request Query (Seller to Buyer)",
        "description": "Invoice Issuance Scenario: Provide an API for querying invoice requests, with asynchronous invoicing by the merchant and synchronization to the settlement tax system upon completion.",
        "tags": [
          " AE-Settlement"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.trade.invoice.sellerInvoicingApplyInfo.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/fund/merchant/orderdetail": {
      "post": {
        "operationId": "aliexpress_fund_merchant_orderdetail",
        "summary": "AEFundOrderDetail",
        "description": "AEFundOrderDetail",
        "tags": [
          " AE-Settlement"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.fund.merchant.orderdetail"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/trade/tax/invoice/queryBrazilInvoiceInfo": {
      "post": {
        "operationId": "aliexpress_trade_tax_invoice_queryBrazilInvoiceInfo",
        "summary": "Brazil Seller Invoice Query",
        "description": "This API supports batch querying of parsed invoice content by main order ID (maximum 20 orders per request).\n\n\u25cf If results are returned: The seller has uploaded the invoice\n\u25cf If no results are returned: The seller has not uploaded the invoice",
        "tags": [
          " AE-Settlement"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.trade.tax.invoice.queryBrazilInvoiceInfo"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/trade/tax/invoice/UploadBrazilInvoice": {
      "post": {
        "operationId": "aliexpress_trade_tax_invoice_UploadBrazilInvoice",
        "summary": "Brazil seller invoice upload",
        "description": "Brazil seller invoice upload, supports upload of XML format NFE invoices by main order ID.",
        "tags": [
          " AE-Settlement"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.trade.tax.invoice.UploadBrazilInvoice"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/trade/invoice/sellerInvoicingResult/push": {
      "post": {
        "operationId": "aliexpress_trade_invoice_sellerInvoicingResult_push",
        "summary": "Settlement Tax: Merchant Returns Invoicing Results",
        "description": "Merchant (ISV Platform) synchronizes the invoicing result to Settlement Tax. Please note! This API can only be called when the invoicing is successful to send back the invoicing information. (Note that when sending back the information, the invoiceStatus variable in your input parameters can only be set to a fixed value, which is \"GENERATED_SUCCESS\".)",
        "tags": [
          " AE-Settlement"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.trade.invoice.sellerInvoicingResult.push"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/trade/tax/hscode/queryRegulatoryAttributesInfoWithHsCode": {
      "post": {
        "operationId": "aliexpress_trade_tax_hscode_queryRegulatoryAttributesInfoWithHsCode",
        "summary": "TBD",
        "description": "TBD",
        "tags": [
          " AE-Settlement"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.trade.tax.hscode.queryRegulatoryAttributesInfoWithHsCode"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/trade/tax/hscode/queryRegulatoryAttributesInfo": {
      "post": {
        "operationId": "aliexpress_trade_tax_hscode_queryRegulatoryAttributesInfo",
        "summary": "TBD",
        "description": "TBD",
        "tags": [
          " AE-Settlement"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.trade.tax.hscode.queryRegulatoryAttributesInfo"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/trade/tax/hscode/searchProductHscodeInfo": {
      "post": {
        "operationId": "aliexpress_trade_tax_hscode_searchProductHscodeInfo",
        "summary": "TBD",
        "description": "TBD",
        "tags": [
          " AE-Settlement"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.trade.tax.hscode.searchProductHscodeInfo"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/trade/tax/hscode/selectRegulatoryAttributesOptions": {
      "post": {
        "operationId": "aliexpress_trade_tax_hscode_selectRegulatoryAttributesOptions",
        "summary": "tbd",
        "description": "TBD",
        "tags": [
          " AE-Settlement"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.trade.tax.hscode.selectRegulatoryAttributesOptions"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/fund/merchant/recipet/flowdetail/query": {
      "post": {
        "operationId": "aliexpress_fund_merchant_recipet_flowdetail_query",
        "summary": "\u8d44\u91d1\u8d26\u623f\u6536\u652f\u6d41\u6c34\u8be6\u60c5\u67e5\u8be2",
        "description": "\u8d44\u91d1\u7ed3\u7b97\u8d26\u623f-\u6536\u652f\u6d41\u6c34\u8be6\u60c5\u67e5\u8be2",
        "tags": [
          " AE-Settlement"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.fund.merchant.recipet.flowdetail.query"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/fund/merchant/recipet/config/query": {
      "post": {
        "operationId": "aliexpress_fund_merchant_recipet_config_query",
        "summary": "\u8d44\u91d1\u8d26\u623f\u6536\u652f\u914d\u7f6e\u67e5\u8be2",
        "description": "\u8d44\u91d1\u7ed3\u7b97\u8d26\u623f\u7684\u6536\u652f\u914d\u7f6e\u67e5\u8be2",
        "tags": [
          " AE-Settlement"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.fund.merchant.recipet.config.query"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/fund/merchant/recipet/debt/query": {
      "post": {
        "operationId": "aliexpress_fund_merchant_recipet_debt_query",
        "summary": "\u8d44\u91d1\u8d26\u623f\u6b20\u6b3e\u67e5\u8be2",
        "description": "\u8d44\u91d1\u8d26\u623f\u6b20\u6b3e\u67e5\u8be2",
        "tags": [
          " AE-Settlement"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.fund.merchant.recipet.debt.query"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/customize/product/info/query": {
      "post": {
        "operationId": "aliexpress_customize_product_info_query",
        "summary": "customize product info query",
        "description": "customize product info query",
        "tags": [
          "AE-Custmize"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.customize.product.info.query"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/customize/product/template/query": {
      "post": {
        "operationId": "aliexpress_customize_product_template_query",
        "summary": "customize product template query",
        "description": "customize product template query",
        "tags": [
          "AE-Custmize"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.customize.product.template.query"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/customize/product/info/audit/result/query": {
      "post": {
        "operationId": "aliexpress_customize_product_info_audit_result_query",
        "summary": "query customize info audit result",
        "description": "query customize info audit result",
        "tags": [
          "AE-Custmize"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.customize.product.info.audit.result.query"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/customize/product/info/create": {
      "post": {
        "operationId": "aliexpress_customize_product_info_create",
        "summary": "save product customize info",
        "description": "save product customize info",
        "tags": [
          "AE-Custmize"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.customize.product.info.create"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/offer/local/cb/product/prices/edit": {
      "post": {
        "operationId": "aliexpress_offer_local_cb_product_prices_edit",
        "summary": "AE - Local CrossBorder - Product Price Edit",
        "description": "AE Local CrossBorder Product Price Edit",
        "tags": [
          "AE-KoreanCrossborder-Product"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.offer.local.cb.product.prices.edit"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/offer/local/cb/product/status/update": {
      "post": {
        "operationId": "aliexpress_offer_local_cb_product_status_update",
        "summary": "AE - Local Crossborder - Product Status Update",
        "description": "AE Local Crossborder Apply Product onshelf/ offshelf",
        "tags": [
          "AE-KoreanCrossborder-Product"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.offer.local.cb.product.status.update"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/offer/local/cb/product/edit": {
      "post": {
        "operationId": "aliexpress_offer_local_cb_product_edit",
        "summary": "AE - Local Crossborder - product edit",
        "description": "AE Local Crossborder product edit",
        "tags": [
          "AE-KoreanCrossborder-Product"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.offer.local.cb.product.edit"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/offer/local/cb/products/list": {
      "post": {
        "operationId": "aliexpress_offer_local_cb_products_list",
        "summary": "AE - LocalCrossborder-Product list query",
        "description": "AE - LocalCrossborder-Product list query",
        "tags": [
          "AE-KoreanCrossborder-Product"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.offer.local.cb.products.list"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/offer/local/cb/product/post": {
      "post": {
        "operationId": "aliexpress_offer_local_cb_product_post",
        "summary": "AE- Local Cross Border - product post",
        "description": "Local cross-border store - Interface for product posting",
        "tags": [
          "AE-KoreanCrossborder-Product"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.offer.local.cb.product.post"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/offer/local/cb/products/stock/edit": {
      "post": {
        "operationId": "aliexpress_offer_local_cb_products_stock_edit",
        "summary": "AE- Local CrossBorder - Edit Stock",
        "description": "AE Local CrossBorder Edit Stock of Single Product",
        "tags": [
          "AE-KoreanCrossborder-Product"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.offer.local.cb.products.stock.edit"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/offer/local/cb/product/query": {
      "post": {
        "operationId": "aliexpress_offer_local_cb_product_query",
        "summary": "aliexpress local crossborder product detail query",
        "description": "local crossborder product detail query",
        "tags": [
          "AE-KoreanCrossborder-Product"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.offer.local.cb.product.query"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/ds/order/create": {
      "post": {
        "operationId": "aliexpress_ds_order_create",
        "summary": "AE DS Order Create and Pay API",
        "description": "API for place order in DS business",
        "tags": [
          "AE-Dropshipper"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.ds.order.create"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/ds/category/get": {
      "post": {
        "operationId": "aliexpress_ds_category_get",
        "summary": "API for fetch AE Category's ID and Category Name",
        "description": "It is an API for fetch AE Category's ID and Category Name:\n\n- We export level categories\n\n- We support i18n categories names. Supported languages: hi\nde\nru\npt\nko\nin\nen\nit\nfr\nzh\nes\niw\nar\nvi\nth\nuk\nja\nid\npl\nhe\nnl\ntr \n\n- If you have level 3 category's id or level 4, you can query to parent category info(level 2) from this API",
        "tags": [
          "AE-Dropshipper"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.ds.category.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/ds/freight/query": {
      "post": {
        "operationId": "aliexpress_ds_freight_query",
        "summary": "Delivery/Freight API",
        "description": "Freight Query API - you can get delivery info from this api/include price, available delivery method",
        "tags": [
          "AE-Dropshipper"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.ds.freight.query"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/ds/order/tracking/get": {
      "post": {
        "operationId": "aliexpress_ds_order_tracking_get",
        "summary": "Ds Order Tracking",
        "description": "Get DropShip Order Tracking info",
        "tags": [
          "AE-Dropshipper"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.ds.order.tracking.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/ds/feed/itemids/get": {
      "post": {
        "operationId": "aliexpress_ds_feed_itemids_get",
        "summary": "Fetch items with feedname in simple model",
        "description": "fetch item id list by feedname",
        "tags": [
          "AE-Dropshipper"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.ds.feed.itemids.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/logistics/buyer/freight/calculate": {
      "post": {
        "operationId": "aliexpress_logistics_buyer_freight_calculate",
        "summary": "Freight calculation interface provided for buyers",
        "description": "Freight calculation interface provided for buyers",
        "tags": [
          "AE-Dropshipper"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.logistics.buyer.freight.calculate"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/ds/image/searchV2": {
      "post": {
        "operationId": "aliexpress_ds_image_searchV2",
        "summary": "ae dropshiper image search v2",
        "description": "ae dropshiper image search v2",
        "tags": [
          "AE-Dropshipper"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.ds.image.searchV2"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/trade/ds/order/get": {
      "post": {
        "operationId": "aliexpress_trade_ds_order_get",
        "summary": "buyer query order details",
        "description": "buyers query order details for dropshipper",
        "tags": [
          "AE-Dropshipper"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.trade.ds.order.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/ds/member/benefit/get": {
      "post": {
        "operationId": "aliexpress_ds_member_benefit_get",
        "summary": "ds member benefit get",
        "description": "The API for querying member benefit detail",
        "tags": [
          "AE-Dropshipper"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.ds.member.benefit.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/ds/product/specialinfo/get": {
      "post": {
        "operationId": "aliexpress_ds_product_specialinfo_get",
        "summary": "get products' special info like certification",
        "description": "get products' special info like certification",
        "tags": [
          "AE-Dropshipper"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.ds.product.specialinfo.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/ds/product/wholesale/get": {
      "post": {
        "operationId": "aliexpress_ds_product_wholesale_get",
        "summary": "product info for whole sale business",
        "description": "query product wholesale info for dropshipping business",
        "tags": [
          "AE-Dropshipper"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.ds.product.wholesale.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/ds/product/get": {
      "post": {
        "operationId": "aliexpress_ds_product_get",
        "summary": "product info query for ds",
        "description": "product info query for ds",
        "tags": [
          "AE-Dropshipper"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.ds.product.get"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/ds/search/event/report": {
      "post": {
        "operationId": "aliexpress_ds_search_event_report",
        "summary": "search event report",
        "description": "Used for report business event to help analysis out-site business CR. Will use AI to analysis the reported data and help you optimize your business",
        "tags": [
          "AE-Dropshipper"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.ds.search.event.report"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/ds/text/search": {
      "post": {
        "operationId": "aliexpress_ds_text_search",
        "summary": "text search for ds",
        "description": "text search for ds",
        "tags": [
          "AE-Dropshipper"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.ds.text.search"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/photobank/redefining/listimagepagination": {
      "post": {
        "operationId": "aliexpress_photobank_redefining_listimagepagination",
        "summary": "Paged query images in photobank",
        "description": "Query information of images in photobank by page.",
        "tags": [
          "AE-Image"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.photobank.redefining.listimagepagination"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/photobank/redefining/uploadimageforsdk": {
      "post": {
        "operationId": "aliexpress_photobank_redefining_uploadimageforsdk",
        "summary": "Upload images to photo bank",
        "description": "Upload images to photo bank. It provides image_bytes parameter for image's binary data, comparing to another API \"uploadimage\". It's recommended to use this API instead of uploadimage",
        "tags": [
          "AE-Image"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.photobank.redefining.uploadimageforsdk"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/aliexpress/photobank/redefining/delunusephoto": {
      "post": {
        "operationId": "aliexpress_photobank_redefining_delunusephoto",
        "summary": "delete unreferenced images",
        "description": "delete unreferenced images",
        "tags": [
          "AE-Image"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "description": "API method name",
            "schema": {
              "type": "string",
              "default": "aliexpress.photobank.redefining.delunusephoto"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
[...]
