{
  "openapi": "3.0.3",
  "info": {
    "title": "NetworkCalc API",
    "version": "1.9.0",
    "description": "RESTful API for DNS lookup, WHOIS registration details, SPF record validation, and saved query management. Bearer token required for account endpoints.",
    "x-jentic-source-url": "https://networkcalc.com/api/docs"
  },
  "servers": [
    {
      "url": "https://networkcalc.com/api"
    }
  ],
  "paths": {
    "/dns/lookup/{hostname}": {
      "get": {
        "operationId": "dnsLookup",
        "summary": "DNS lookup",
        "description": "Look up DNS records (A, CNAME, MX, NS, SOA, TXT) for a hostname, domain name, or IP address.",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "description": "The hostname or domain to look up.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsLookupResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/dns/lookup/save/{hostname}": {
      "post": {
        "operationId": "saveDnsLookup",
        "summary": "Save a DNS lookup",
        "description": "Save a DNS lookup query for later reference. Requires authorization.",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "description": "The hostname to save the lookup for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedQuery"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/dns/whois/{hostname}": {
      "get": {
        "operationId": "whoisLookup",
        "summary": "WHOIS lookup",
        "description": "Retrieve WHOIS registration details for a domain or IP address.",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "description": "The domain or IP to look up.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhoisResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/dns/whois/save/{hostname}": {
      "post": {
        "operationId": "saveWhoisLookup",
        "summary": "Save a WHOIS lookup",
        "description": "Save a WHOIS lookup query. Requires authorization.",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "description": "The domain or IP to save the lookup for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedQuery"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/dns/spf/{hostname}": {
      "post": {
        "operationId": "spfLookup",
        "summary": "SPF record lookup",
        "description": "Look up the published SPF record for a domain or validate an SPF record syntax.",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "description": "The domain to check SPF records for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Optional SPF record to validate."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpfResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/dns/spf/save/{hostname}": {
      "post": {
        "operationId": "saveSpfLookup",
        "summary": "Save an SPF lookup",
        "description": "Save an SPF lookup query. Requires authorization.",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "description": "The domain to save the SPF lookup for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedQuery"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/dns/saved/{id}": {
      "get": {
        "operationId": "getSavedQueries",
        "summary": "Get saved queries",
        "description": "Retrieve saved queries. Requires authorization.",
        "tags": [
          "SavedQueries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The saved query ID. Use empty string to list all.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SavedQuery"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateSavedQuery",
        "summary": "Update a saved query",
        "description": "Modify a saved query. Requires authorization.",
        "tags": [
          "SavedQueries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The saved query ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hostname": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedQuery"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteSavedQuery",
        "summary": "Delete a saved query",
        "description": "Remove a saved query. Requires authorization.",
        "tags": [
          "SavedQueries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The saved query ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DnsLookupResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "records": {
            "type": "object",
            "properties": {
              "A": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DnsRecord"
                }
              },
              "AAAA": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DnsRecord"
                }
              },
              "CNAME": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DnsRecord"
                }
              },
              "MX": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DnsRecord"
                }
              },
              "NS": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DnsRecord"
                }
              },
              "SOA": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DnsRecord"
                }
              },
              "TXT": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DnsRecord"
                }
              }
            }
          }
        }
      },
      "DnsRecord": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "ttl": {
            "type": "integer"
          },
          "value": {
            "type": "string"
          },
          "priority": {
            "type": "integer"
          }
        }
      },
      "WhoisResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "registrar": {
            "type": "string"
          },
          "creation_date": {
            "type": "string"
          },
          "expiration_date": {
            "type": "string"
          },
          "updated_date": {
            "type": "string"
          },
          "nameservers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "raw": {
            "type": "string"
          }
        }
      },
      "SpfResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "record": {
            "type": "string"
          },
          "valid": {
            "type": "boolean"
          },
          "mechanisms": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SavedQuery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "hostname": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}