{
  "openapi": "3.0.3",
  "info": {
    "title": "APIXU Weather API",
    "description": "Weather API providing current weather, forecast, search/autocomplete, and historical weather data. APIXU has been rebranded to Weatherstack but the original API endpoints remain documented here.",
    "version": "1.0.0",
    "contact": {
      "name": "APIXU",
      "url": "https://www.apixu.com"
    },
    "x-jentic-source-url": "https://www.apixu.com/doc/request.aspx"
  },
  "servers": [
    {
      "url": "https://api.apixu.com/v1",
      "description": "APIXU API v1 Server"
    }
  ],
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Current Weather",
      "description": "Current weather conditions"
    },
    {
      "name": "Forecast",
      "description": "Weather forecast data"
    },
    {
      "name": "Search",
      "description": "Location search and autocomplete"
    },
    {
      "name": "History",
      "description": "Historical weather data"
    }
  ],
  "paths": {
    "/current.json": {
      "get": {
        "operationId": "getCurrentWeather",
        "summary": "Get current weather",
        "description": "Returns current weather conditions for the specified location. Location can be specified as city name, zip/postal code, IP address, or latitude/longitude.",
        "tags": ["Current Weather"],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Location query - city name, zip code, IP address, or lat,lon coordinates",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code for condition text (e.g., 'en', 'fr', 'es')",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with current weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrentWeatherResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - API key has been disabled or exceeded quota",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/current.xml": {
      "get": {
        "operationId": "getCurrentWeatherXml",
        "summary": "Get current weather in XML format",
        "description": "Returns current weather conditions in XML format for the specified location.",
        "tags": ["Current Weather"],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Location query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with current weather data in XML",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/forecast.json": {
      "get": {
        "operationId": "getForecast",
        "summary": "Get weather forecast",
        "description": "Returns weather forecast for the specified location and number of days.",
        "tags": ["Forecast"],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Location query - city name, zip code, IP address, or lat,lon coordinates",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": true,
            "description": "Number of forecast days (1-10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10
            }
          },
          {
            "name": "dt",
            "in": "query",
            "required": false,
            "description": "Specific date for forecast in yyyy-MM-dd format",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "hour",
            "in": "query",
            "required": false,
            "description": "Specific hour (0-23) to restrict forecast output",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 23
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with forecast data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecast.xml": {
      "get": {
        "operationId": "getForecastXml",
        "summary": "Get weather forecast in XML format",
        "description": "Returns weather forecast in XML format.",
        "tags": ["Forecast"],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response in XML",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/search.json": {
      "get": {
        "operationId": "searchLocations",
        "summary": "Search or autocomplete locations",
        "description": "Returns matching locations for the search query. Can be used for autocomplete functionality.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query - minimum 3 characters",
            "schema": {
              "type": "string",
              "minLength": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with matching locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/history.json": {
      "get": {
        "operationId": "getHistoricalWeather",
        "summary": "Get historical weather data",
        "description": "Returns historical weather data for the specified location and date.",
        "tags": ["History"],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Location query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dt",
            "in": "query",
            "required": true,
            "description": "Date for historical data in yyyy-MM-dd format (on or after 2015-01-01)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_dt",
            "in": "query",
            "required": false,
            "description": "End date for date range in yyyy-MM-dd format",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "hour",
            "in": "query",
            "required": false,
            "description": "Specific hour (0-23) to restrict output",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 23
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with historical weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Location ID"
          },
          "name": {
            "type": "string",
            "description": "Location name"
          },
          "region": {
            "type": "string",
            "description": "Region or state"
          },
          "country": {
            "type": "string",
            "description": "Country name"
          },
          "lat": {
            "type": "number",
            "format": "double",
            "description": "Latitude"
          },
          "lon": {
            "type": "number",
            "format": "double",
            "description": "Longitude"
          },
          "url": {
            "type": "string",
            "description": "Location URL slug"
          }
        }
      },
      "CurrentCondition": {
        "type": "object",
        "properties": {
          "last_updated": {
            "type": "string",
            "description": "Local time of last update"
          },
          "last_updated_epoch": {
            "type": "integer",
            "description": "Epoch time of last update"
          },
          "temp_c": {
            "type": "number",
            "description": "Temperature in Celsius"
          },
          "temp_f": {
            "type": "number",
            "description": "Temperature in Fahrenheit"
          },
          "is_day": {
            "type": "integer",
            "description": "1 = day, 0 = night"
          },
          "condition": {
            "$ref": "#/components/schemas/WeatherCondition"
          },
          "wind_mph": {
            "type": "number",
            "description": "Wind speed in mph"
          },
          "wind_kph": {
            "type": "number",
            "description": "Wind speed in kph"
          },
          "wind_degree": {
            "type": "integer",
            "description": "Wind direction in degrees"
          },
          "wind_dir": {
            "type": "string",
            "description": "Wind direction (e.g., N, NE, SSW)"
          },
          "pressure_mb": {
            "type": "number",
            "description": "Pressure in millibars"
          },
          "pressure_in": {
            "type": "number",
            "description": "Pressure in inches"
          },
          "precip_mm": {
            "type": "number",
            "description": "Precipitation in mm"
          },
          "precip_in": {
            "type": "number",
            "description": "Precipitation in inches"
          },
          "humidity": {
            "type": "integer",
            "description": "Humidity percentage"
          },
          "cloud": {
            "type": "integer",
            "description": "Cloud cover percentage"
          },
          "feelslike_c": {
            "type": "number",
            "description": "Feels like temperature in Celsius"
          },
          "feelslike_f": {
            "type": "number",
            "description": "Feels like temperature in Fahrenheit"
          },
          "vis_km": {
            "type": "number",
            "description": "Visibility in km"
          },
          "vis_miles": {
            "type": "number",
            "description": "Visibility in miles"
          },
          "uv": {
            "type": "number",
            "description": "UV index"
          }
        }
      },
      "WeatherCondition": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Weather condition text"
          },
          "icon": {
            "type": "string",
            "description": "Weather condition icon URL"
          },
          "code": {
            "type": "integer",
            "description": "Weather condition code"
          }
        }
      },
      "ForecastDay": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Forecast date"
          },
          "date_epoch": {
            "type": "integer",
            "description": "Forecast date as epoch"
          },
          "day": {
            "type": "object",
            "properties": {
              "maxtemp_c": {
                "type": "number"
              },
              "maxtemp_f": {
                "type": "number"
              },
              "mintemp_c": {
                "type": "number"
              },
              "mintemp_f": {
                "type": "number"
              },
              "avgtemp_c": {
                "type": "number"
              },
              "avgtemp_f": {
                "type": "number"
              },
              "maxwind_mph": {
                "type": "number"
              },
              "maxwind_kph": {
                "type": "number"
              },
              "totalprecip_mm": {
                "type": "number"
              },
              "totalprecip_in": {
                "type": "number"
              },
              "avgvis_km": {
                "type": "number"
              },
              "avgvis_miles": {
                "type": "number"
              },
              "avghumidity": {
                "type": "number"
              },
              "condition": {
                "$ref": "#/components/schemas/WeatherCondition"
              },
              "uv": {
                "type": "number"
              }
            }
          },
          "astro": {
            "type": "object",
            "properties": {
              "sunrise": {
                "type": "string"
              },
              "sunset": {
                "type": "string"
              },
              "moonrise": {
                "type": "string"
              },
              "moonset": {
                "type": "string"
              },
              "moon_phase": {
                "type": "string"
              }
            }
          },
          "hour": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HourData"
            }
          }
        }
      },
      "HourData": {
        "type": "object",
        "properties": {
          "time_epoch": {
            "type": "integer"
          },
          "time": {
            "type": "string"
          },
          "temp_c": {
            "type": "number"
          },
          "temp_f": {
            "type": "number"
          },
          "condition": {
            "$ref": "#/components/schemas/WeatherCondition"
          },
          "wind_mph": {
            "type": "number"
          },
          "wind_kph": {
            "type": "number"
          },
          "wind_degree": {
            "type": "integer"
          },
          "wind_dir": {
            "type": "string"
          },
          "pressure_mb": {
            "type": "number"
          },
          "humidity": {
            "type": "integer"
          },
          "cloud": {
            "type": "integer"
          },
          "feelslike_c": {
            "type": "number"
          },
          "feelslike_f": {
            "type": "number"
          },
          "chance_of_rain": {
            "type": "string"
          },
          "chance_of_snow": {
            "type": "string"
          },
          "vis_km": {
            "type": "number"
          },
          "uv": {
            "type": "number"
          }
        }
      },
      "CurrentWeatherResponse": {
        "type": "object",
        "properties": {
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "current": {
            "$ref": "#/components/schemas/CurrentCondition"
          }
        }
      },
      "ForecastResponse": {
        "type": "object",
        "properties": {
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "current": {
            "$ref": "#/components/schemas/CurrentCondition"
          },
          "forecast": {
            "type": "object",
            "properties": {
              "forecastday": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ForecastDay"
                }
              }
            }
          }
        }
      },
      "HistoryResponse": {
        "type": "object",
        "properties": {
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "forecast": {
            "type": "object",
            "properties": {
              "forecastday": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ForecastDay"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Error message"
              }
            }
          }
        }
      }
    }
  }
}
