{
  "openapi": "3.0.0",
  "info": {
    "title": "Quantiv API",
    "version": "1.0.0",
    "description": "Welcome to the Quantiv API documentation! \n\nThe Quantiv API empowers developers with seamless access to powerful data-driven solutions. Our suite of APIs enables you to efficiently interact with key resources, automate processes, and enhance your applications with reliable insights.\n\nWhether you're integrating property intelligence, optimizing lead quality assessments, or leveraging advanced data analytics, Quantiv provides the tools you need to drive smarter decisions and maximize efficiency.\n\nGet started today and unlock the full potential of our APIs!\n\n### \ud83e\uddd0 Overview\n  \nThe Quantiv API is organized around REST principles, utilizing standard HTTP methods, response codes, and authentication. It accepts requests with a JSON body and returns responses in JSON format. The API only supports HTTPS-secured communication. Standard HTTP status codes are used to indicate request outcomes. Error responses include `error`, `statusCode`, and `message` fields for clear debugging.\n### \ud83c\udf10 Endpoint\n  The Quantiv API uses a single endpoint for both sandbox and production environments.\n   | Environment | Endpoint URL                            |\n   |-------------|-----------------------------------------|\n   | Sandbox    | [https://public-api.quantiv.io](https://public-api.quantiv.io) |\n   | Production | [https://public-api.quantiv.io](https://public-api.quantiv.io) |\n\n### \ud83d\udd10 Authentication\n\nYou will be provided with two API keys. The key with the `sandbox` prefix should be used for requests to the sandbox environment, while the key with the `production` prefix should be used for requests to the production environment.  \n\nThe API key must be included in the `token` request header for each API request.\n\n### \ud83d\udcdd Response Status Codes\n  \nThe Quantiv API follows standard HTTP response codes to communicate the outcome of an API request. Generally, codes in the 200 range represent successful requests, codes in the 400 range indicate errors in the request, and codes in the 500 range denote server-side issues.\n\n  | Status Code | Status Message        | Description                                    |\n  |-------------|-----------------------|------------------------------------------------|\n  | 200         | Success               | The request was successfully processed.        |\n  | 400         | Bad Request           | The request was malformed or had invalid syntax. |\n  | 401         | Unauthorized          | The provided authentication credentials were invalid. |\n  | 404         | Not Found             | The requested resource could not be located.   |\n  | 500         | Internal Server Error | An error occurred on the server while processing the request. |\n\n### \u26a0\ufe0f Business Errors\n\nThe Quantiv API returns a status code of **400 Bad Request** for business-related errors. The response will include the details of the error, as outlined in the table below.\n\n  | Case                              | Error        | StatusCode | Message                                                           |\n  |-----------------------------------|--------------|------------|-------------------------------------------------------------------|\n  | Incorrect Payment Status         | Bad Request  | 400        | Account is paused due to failed payment. Contact Quantiv Admin.   |\n  | Inactive API Product Triggered   | Bad Request  | 400        | Product is not activated. Contact Quantiv Admin.                  |\n  | Reaching API Usage Limit         | Bad Request  | 400        | API Monthly Limit is reached. Contact Quantiv Admin.              |\n  | Reaching $0 Account Balance      | Bad Request  | 400        | Insufficient Account Balance to process request. Contact Quantiv Admin. |\n",
    "termsOfService": "https://www.quantiv.io/terms-of-service",
    "contact": {
      "email": "eugene@quantiv.io"
    },
    "x-jentic-source-url": "https://docs.quantiv.io/api/openapi"
  },
  "servers": [
    {
      "url": "https://public-api.quantiv.io"
    }
  ],
  "tags": [
    {
      "name": "Lead Append Level 1",
      "description": "Method to retrieve property details based on the provided information.\n\n**Note:** If any parameter in the response contains a `null` value, it indicates that the value could not be determined based on the provided data.\n"
    },
    {
      "name": "Lead Append Level 2",
      "description": "Method to retrieve property details, Lead Integrity Score and Defects based on the provided information. \n\n**Note:** If any parameter in the response contains a `null` value, it indicates that the value could not be determined based on the provided data.\n\n**Lead Integrity Score** indicates the quality of a lead based on various factors such as zoning classification, owner occupancy status, presence of a structure, and surname match. It helps assess the reliability of a lead.\n\n\n**Score Values**\n| Score | Quality Level | Description |\n|-------|--------------|-------------|\n| null  | Unknown      | Lead quality can not be determined.| \n| 10\u20139  | Outstanding  | Highest lead quality. |\n| 8\u20137   | Strong       | Reliable lead. |\n| 6\u20135   | Moderate     | Average lead quality. |\n| 4\u20133   | Weak         | Low-quality lead. |\n| 2\u20131   | Very Weak    | Very low lead quality. |\n| 0     | Unreliable   | Untrustworthy lead. |    \n\n<br>          \n\n**Lead Integrity Defects** indicates which factors contributed to a lower Lead Integrity Score. These defects highlight potential issues with the lead's reliability.\n\n**Defect Values**\n| Defect    | Description |\n|----------|-------------|\n| null     | Lead Defects can not be determined.|\n| zoning   | Property type is not confirmed as residential. |\n| occupancy | Property is not confirmed as occupied by the owner. |\n| structure | Structure is not confirmed as present at the address. |\n| surname  | Surname is not confirmed to match one of the names on the deed. |\n"
    },
    {
      "name": "Buyer Insights",
      "description": "**Buyer Insights** is a comprehensive suite of scoring tools designed to help home services providers assess homeowners' financial reliability, purchasing behavior, and willingness to invest in premium home improvements. It includes:\n\n- **SurePay\u2122 Score** \u2013 Evaluates the likelihood of homeowners paying for services, helping contractors mitigate financial risk.  \n- **Elevate Score** \u2013 Measures a homeowner\u2019s receptiveness and financial ability to invest in upsell opportunities and higher-end home improvements.\n- **Buyer Insights Scores** \u2013 Assesses consumer buying styles across various categories.   \n- **Sales Hacks** \u2013 Delivers instant, actionable guidance by translating Buyer Insights, SurePay\u2122, and Elevate Scores into practical sales strategies for more effective customer engagement. \n- **Property Details**: Contextual address information to support sales, site assessment, and project planning. Refer to [Lead Append Level 2 Documentation](https://docs.quantiv.io/api/lead-append-level-2).\n- **Lead Integrity Score and Defects**: Measures to ensure data reliability and lead quality. Refer to [Lead Append Level 2 Documentation](https://docs.quantiv.io/api/lead-append-level-2).\n\n Buyer Insights empowers businesses with data-driven insights, enabling smarter decision-making and improved profitability.\n\n **Note:** If any parameter in the response contains a `null` value, it indicates that the value could not be determined based on the provided data.\n \n **SurePay\u2122 Score Values**\n| Value | Description |\n|-------|------------|\n| null  | Score can not be determined. |\n| 5     | High likelihood to perform and meet obligations. High likelihood to qualify for the best interest rates. |\n| 4     | Likely to perform and meet obligations. Likely to qualify for most loans at slightly higher rates. |\n| 3     | Average likelihood to perform and meet obligations. May qualify for some loans at higher rates. |\n| 2     | Poor likelihood to perform and meet obligations. May qualify for some loans at significantly higher rates. |\n| 1     | Unlikely to perform and meet obligations. Highly unlikely to qualify for any loans. |\n\n<br>\n\n**Elevate Score Values**\n| Value  | Description           |\n|--------|-----------------------|\n| null   | Score can not be determined. |\n| 10     | Extremely Likely      |\n| 9      | Highly Likely         |\n| 8      | Very Likely           |\n| 7      | Somewhat Likely       |\n| 6      | Likely                |\n| 5      | Somewhat Unlikely     |\n| 4      | Very Unlikely         |\n| 3      | Highly Unlikely       |\n| 1-2    | Extremely Unlikely    |\n\n<br>\n\n**Buyer Insights Scores Description**\n| Score                  | Description |\n|------------------------|-------------|\n| **Savvy Shopper**      | **Rationale**: These homeowners conduct extensive research and compare multiple options\u2014not necessarily to find the lowest price, but to ensure they make a well-informed, risk-averse decision. These consumers like to compare prices across different sites before purchasing and typically read online reviews and consumer reports. **Sales Approach**: Build trust by offering side-by-side comparisons, testimonials, and third-party validations. Reinforce their ability to make an educated decision while subtly guiding them toward your best offering. |\n| **Brand Loyalist**     | **Rationale**: These homeowners have strong brand preferences and believe that reputation equates to reliability. They may challenge recommendations that deviate from their preselected brands. These consumers are willing to pay more for proven and reputable brands. **Sales Approach**: Align with their existing knowledge by reinforcing brand credibility. Emphasize manufacturer warranties, certifications, and brand-backed guarantees. If proposing alternatives, focus on comparable or superior features rather than price. Educate the consumer about the brand if you sell a product in which brand awareness is limited. |\n| **Trendsetter**        | **Rationale**: These homeowners love being ahead of the curve and are eager to explore innovative, cutting-edge solutions. They value exclusivity and uniqueness in their purchases. These consumers are trendsetters and early adopters of new products. **Sales Approach**: Present the newest, most innovative products first. Emphasize exclusivity, technological advancements, and the opportunity to be among the first to own the latest home improvement solutions. |\n| **Budget-Savvy Buyer** | **Rationale**: These homeowners prioritize affordability and perceived value over brand reputation. They tend to emphasize cost-efficiency in their decision-making process. Price is more important to these consumers than brand name. **Sales Approach**: Present cost-effective solutions that maximize value. Highlight financing options, cost savings over time, and product benefits that justify the investment. Be prepared to handle objections related to pricing. |\n| **Quality First Buyer** | **Rationale**: These buyers prioritize durability, craftsmanship, and peace of mind over price but may struggle to define what \u201cquality\u201d looks like. Quality matters for these consumers, and they are willing to pay more for fresh ingredients, durable materials, and quality craftsmanship. **Sales Approach**: Focus on quality differentiators such as superior materials, expert installation, and longevity. Help them visualize potential risks of choosing lower-quality options and reassure them of the long-term value. |\n| **Impulse Shopper (Can\u2019t Say No)** | **Rationale**: These homeowners are easily persuaded to add features or upgrades that enhance functionality or perceived value. These spenders find it difficult to say 'no' to things that catch their eyes. They recognize they are \"spenders\" rather than \"savers\" and appreciate a convenient purchase opportunity. Top of mind = In the cart.  **Sales Approach**: Strategically introduce upgrades and enhancements throughout the conversation. Highlight benefits of add-ons in a way that makes them feel essential rather than optional. Use visual demonstrations to reinforce desirability. |\n| **Popular Picks**      | **Rationale**: These buyers seek social validation and prefer solutions that align with current trends and widely accepted choices. Online reviews and recommendations influence them significantly. **Sales Approach**: Leverage social proof by showcasing positive customer testimonials, industry trends, and best-selling options. Reinforce that their decision aligns with what other satisfied homeowners are choosing. |\n\n<br>\n\n**Buyer Insights Values**\n| Value  | Description           |\n|--------|-----------------------|\n| null   | Score can not be determined. |\n| 10     | Extremely Likely      |\n| 9      | Highly Likely         |\n| 8      | Very Likely           |\n| 7      | Somewhat Likely       |\n| 6      | Likely                |\n| 5      | Somewhat Unlikely     |\n| 4      | Very Unlikely         |\n| 3      | Highly Unlikely       |\n| 2      | Extremely Unlikely    |\n| 1      | Unknown               |\n\n  **Note:** Sales Hack value is provided for a Buyer Insight only when the related Buyer Insight Score meets or exceeds 8.\n\n<br>\n\n**Accuracy Code**\n\nThe accuracy code specifies the level at which the provided scores are categorized, \nbased on the quality and relevance of the user-supplied data. It indicates the reference \npoint used to generate the insights.\n| Value  | Description           |\n|--------|-----------------------|\n| P      | The scores are directly related to the individual (owner) of the address, based on the provided address data. |\n| A      | The scores are directly related to a primary member of the household associated with the address, based on the provided address data.|\n| G      | The scores reflect the modeled profile of the homeowner based on the typical profile of owners within a narrow geographic area of the provided address data.|\n| N      | No relevant data could be matched based on the provided information.|\n"
    },
    {
      "name": "Lead Value - Roof",
      "description": "The **Lead Value - Roof API** is a fast, reliable tool for instantly assigning a value to roof replacement leads by calculating the approximate roof area and replacement costs based solely on a property address. Built specifically for roofing contractors, home improvement platforms, and sales engagement tools, it supports top-of-funnel lead generation and enables sales teams to quickly assess project value and prioritize opportunities.\n\nThe API processes address-level inputs and optional parameters like roof material and installation pricing per square \u2014 to return a detailed approximation that includes roof area (adjusted for pitch), average pitch angle, complexity level, and total estimated replacement cost.\n\nThe **Lead Value - Roof API** is designed to deliver consistent, data-backed approximations in real time \u2014 not to replace on-site inspections, precise measurements, or detailed proposals. Instead, it equips sales teams with a scalable, automated way to qualify and value leads.  By providing relative cost estimates early in the sales cycle, businesses can increase quote-to-close rates, reduce time spent on manual assessments, and focus efforts on the highest-value opportunities.\n\n**Note:** If any parameter in the response contains a `null` value, it indicates that the value could not be determined based on the provided data.\n\n**Structure Present Confidence Score Values**\n\n| Value | Description |\n|-------|-------------|\n| null  | Value could not be determined. |\n| 100   | High confidence that rooftop data corresponds to the primary structure at the exact address provided. |\n| 50    | Data may correspond to a nearby structure rather than the actual address, indicating a possible issue with the input address. |\n\n<br>\n\n**When a Score of 50 is Returned**\n\nA confidence score of 50 may be returned under the following conditions:\n\n- No structure exists at the provided address (e.g., empty lot, typo in house number, or unvalidated address).\n- Our system interpolated coordinates to the closest known structure due to an invalid or unrecognized address.\n- Our system failed to detect a structure due to:\n  - Recent new construction not yet reflected in mapping data\n  - Street name formatting issues (e.g., uncommon abbreviations or casing)\n  - Address formatting discrepancies that prevented structure identification\n\nIn such cases, the rooftop data returned may not represent the structure located at the submitted address.\n\n**Data Accuracy Alerts**\n\nThe `Roof Pitch Alert` and `Roof Area Alert` parameters help identify potentially unreliable or atypical measurement results related to roof pitch or area. These alerts are designed to prompt additional validation or inspection.\n\n**Roof Pitch Alert Values**\n\nIndicates potential issues with roof pitch estimation.\n\n| Value      | Description                                                                  |\n|------------|------------------------------------------------------------------------------|\n| null       | Value could not be determined.                                               |\n| NO_ALERTS  | No pitch-related alerts detected.                                            |\n| LOW_PITCH  | Detected pitch is unusually low \u2014 possibly due to flat roofs or obstruction. |\n| HIGH_PITCH | Detected pitch is unusually high \u2014 may indicate steep or complex geometry.   |\n\n<br>\n\n**Roof Area Alert Values**\n\nIndicates potential issues with roof area estimation.\n\n| Value      | Description                                                                 |\n|------------|-----------------------------------------------------------------------------|\n| null       | Value could not be determined.                                              |\n| NO_ALERTS  | No area-related alerts detected.                                            |\n| LOW_AREA   | Estimated area is smaller than expected \u2014 may be caused by occlusion or missing imagery. |\n| HIGH_AREA  | Estimated area is larger than expected \u2014 could result from multiple structures or over-segmentation. |\n\n<br>\n\n**When Alerts Are Triggered**\n\nAlerts are generated to assist in identifying potentially inaccurate or atypical results based on the roof pitch or area. Common scenarios include:\n\n- **Obstructed View**: Tree canopy, overhangs, or neighboring structures may obscure full visibility of the rooftop.\n- **Imagery Quality**: Satellite or aerial images may be affected by shadows, poor lighting, or resolution issues.\n- **Roof Complexity**: Irregular or highly complex roof geometries can make measurement modeling less reliable.\n- **Multiple Structures**: Properties with multiple buildings or large accessory structures may lead to elevated or ambiguous area calculations.\n- **Partial or Missing Imagery**: Incomplete or outdated imagery data can lead to pitch or area deviations.\n\nIn such cases, alerts provide a useful prompt for further validation, helping to prioritize follow-up review and ensure more accurate project planning."
    },
    {
      "name": "GoSolar Index",
      "description": "\n**GoSolar Index** is an analytics tool built exclusively for residential solar sales teams, CRM platforms, and App providers to optimize lead qualification and targeting. This powerful scoring feature combines **behavioral signals**, **sustainability intent**, **financial indicators**, **and political orientation** to deliver a **single**, **predictive score** for every homeowner, improving conversion rates by identifying high-propensity targets.  \n\nThe API response includes:\n - **GoSolar Index Score (10\u20130)**: A quantitative indicator of solar adoption potential.\n - **Prospect Fit Level**: A qualitative assessment (Ideal, Moderate, Weak) for quick segmentation.\n - **Prospect Attitude Message**: An insight into the homeowner\u2019s likely solar motivation, such as environmental, sustainability, economic, or energy independence, enabling tailored messaging.\n - **Property Details**: Contextual address information to support sales, site assessment, and project planning. Refer to [Lead Append Level 2 Documentation](https://docs.quantiv.io/api/lead-append-level-2).\n - **Lead Integrity Score and Defects**: Measures to ensure data reliability and lead quality. Refer to [Lead Append Level 2 Documentation](https://docs.quantiv.io/api/lead-append-level-2).\n\nSolar providers can integrate the **GoSolar Index** into their lead scoring systems to improve conversion rates, reduce outreach costs, and personalize customer engagement strategies. \n\n**Note:** If any parameter in the response contains a `null` value, it indicates that the value could not be determined based on the provided data.\n\n**GoSolar Index and Prospect Fit Level Mapping**\n| GoSolar Index   | Prospect Fit Level                                                                |\n |------------|-----------------------------------------------------------------------------|\n | 8.33 \u2013 10  | Ideal                                       |\n | 5.0 \u2013 8.32   | Moderate |\n | 0 \u2013 4.99  | Weak |\n\n<br>\n\n**Prospect Attitude Message Values**\n |  |\n |------------|\n | Lead with emphasis on climate, sustainability, and clean energy considerations. |\n | Lead with emphasis on economic benefits, incentives, energy independence, and ROI consideration.  |\n | Neutral message emphasizing both economic benefits, incentives, independence and renewable energy benefits, and sustainability. |\n\n<br>\n \n**Accuracy Code**\n\nThe accuracy code specifies the level at which the provided response is\ncategorized, based on the quality and relevance of the user-supplied data. It indicates the reference point used to generate the insights.\n | Value  | Description|\n |--------|------------|\n | P      | `GoSolar Index`, `Prospect Fit Level` and `Prospect Attitude Message` are directly related to the individual (owner) of the address, based on the provided address data.|\n | A      | `GoSolar Index`, `Prospect Fit Level` and `Prospect Attitude Message` are directly related to a primary member of the household associated with the address, based on the provided address data.|\n | G      | `GoSolar Index`, `Prospect Fit Level` and `Prospect Attitude Message` reflect the modeled profile of the homeowner based on the typical profile of owners within a narrow geographic area of the provided address data.|\n | N      | No relevant data could be matched based on the provided information.|  "
    },
    {
      "name": "Utility Bill",
      "description": "The **Utility Bill API** provides accurate energy usage on an address-specific basis without a utility bill. The API responds with electricity and fossil fuel consumption and cost data for the past 12 months. This information is especially valuable for solar salespeople, enabling them to obtain instant energy consumption data and cost per kilowatt hour (kWh) to utilize in initial estimates and proposals before requesting or receiving a homeowner\u2019s utility bill.\n\n**Key Features:**\n- Monthly, quarterly, and annual electricity consumption and cost breakdown, including electricity utility rate.\n- Emissions data and CO\u2082 analytics related to electricity usage.\n- Fossil fuel usage statistics including cost, type, and utility rate.\n- Ratio analysis between electricity and fossil fuel consumption.\n\nThe response includes a `electricToFossilRatio` field representing the ratio of electricity usage to fossil fuel usage over the last 12 months. \n- If a home has a ratio less than 1, it indicates the home consumes more fossil fuel than electricity.\n- If a home uses only electricity and no fossil fuels, the ratio value will be `null`.\n\nThe API responds with a structured summary of utility usage or a message indicating that no valid data is available for the given address."
    },
    {
      "name": "EngagePro\u2122 - Lead Widget",
      "description": "The **Quantiv's EngagePro\u2122 - Lead Widget** is a lightweight, high-converting widget designed to help CRM and App Providers enable their Clients to generate qualified roofing leads effortlessly.\n\nThe widget can be launched:\n- As an overlay popup on the Client\u2019s website via the Widget Script\n- As a hosted flow on a Quantiv-managed domain\n- Via shareable QR codes and direct links (great for digital and offline use)\n\nHomeowners receive an instant roofing estimate in under 30 seconds while Clients collect detailed lead information \u2014 all fully branded.\n\nClients can fully customize both the widget UI element (button, banner, or custom) and the appearance of the full flow by:\n- Uploading logos\n- Setting brand colors (primary, secondary, background, text, links)\n- Defining company info, terms of use, and privacy policy links\n- Setting installation price used in roof cost estimation\n- Updating the title of the first screen\n\nThe API allows CRM and App Providers to offer their Clients full control over widget creation, activation, and management directly from their own UI/UX \u2014 while Quantiv handles hosting, script generation, QR codes, and link creation.\n\nCheck out the [Widgets detailed documention](/LeadGenWidget/overview.md) for more information.\n"
    },
    {
      "name": "Widget Webhooks",
      "description": "Quantiv supports webhook integrations to notify CRM and App Providers in real time about critical events related to the EngagePro\u2122 - Lead Widget.\n\nThese webhooks enable your systems to:\n- React to key lifecycle events such as widget creation and updates.\n- Track lead creation and changes as users interact with the EngagePro\u2122 - Lead Widget.\n- Power internal automations, analytics, and client communication.\n\nWebhooks are delivered via HTTPS as JSON payloads and are triggered for the following events:\n- `lead.created`\n- `lead.updated`\n- `widget.created`\n- `widget.updated`\n\nWebhooks can be registered, updated, retrieved, or deleted using the provided API methods. Each webhook includes metadata such as success/failure counts and timestamps of the last invocation attempts.\n\n\nCheck out our [Webhook guide](/LeadGenWidget/webhooks.md) for more information."
    }
  ],
  "paths": {
    "/api/v1/address-info": {
      "get": {
        "tags": [
          "Lead Append Level 1"
        ],
        "summary": "Get Lead Property Details",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{API Key}"
          },
          {
            "name": "streetNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's street number."
          },
          {
            "name": "streetAddress",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's street address."
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead\u2019s city name."
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's state name (two-letter abbreviation, e.g., NY)."
          },
          {
            "name": "zip",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead\u2019s zip code (5 digit code)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-08-20T14:30:00Z",
                      "description": "The timestamp when the response was returned. It is provided in ISO 8601 format."
                    },
                    "primaryOwner": {
                      "type": "string",
                      "nullable": true,
                      "example": "John M Doe",
                      "description": "Full name of the primary owner."
                    },
                    "secondaryOwner": {
                      "type": "string",
                      "nullable": true,
                      "example": "Jane Doe",
                      "description": "Full name of the secondary owner."
                    },
                    "ownerOccupied": {
                      "type": "boolean",
                      "nullable": true,
                      "example": true,
                      "description": "Indicates whether the property is occupied by the owner."
                    },
                    "homeBuiltYear": {
                      "type": "string",
                      "nullable": true,
                      "example": "1990",
                      "description": "The year the primary structure was built."
                    },
                    "yearsInHome": {
                      "type": "string",
                      "nullable": true,
                      "example": "16",
                      "description": "The number of years the primary owner has owned the property."
                    },
                    "county": {
                      "type": "string",
                      "nullable": true,
                      "example": "Douglas",
                      "description": "County name."
                    },
                    "subdivision": {
                      "type": "string",
                      "nullable": true,
                      "example": "Castle Oaks",
                      "description": "Subdivision name."
                    },
                    "school": {
                      "type": "string",
                      "nullable": true,
                      "example": "Somerville",
                      "description": "School district name."
                    },
                    "propertyType": {
                      "type": "string",
                      "nullable": true,
                      "example": "Residential",
                      "description": "General property type description."
                    },
                    "areaBuildingSize": {
                      "type": "string",
                      "nullable": true,
                      "example": "3023",
                      "description": "Total square feet of all structures on the property."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "state must be a string",
                        "state should not be empty"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid API Key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Cannot GET /api/v1/address-info"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "example": "Unexpected server error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/address-info-v2": {
      "get": {
        "tags": [
          "Lead Append Level 2"
        ],
        "summary": "Get Lead Property Details",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{API Key}"
          },
          {
            "name": "streetNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's street number."
          },
          {
            "name": "streetAddress",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's street address."
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead\u2019s city name."
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's state name (two-letter abbreviation, e.g., NY)."
          },
          {
            "name": "zip",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead\u2019s zip code (5 digit code)."
          },
          {
            "name": "lastName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Lead\u2019s last name. Used for Lead Integrity Score calculation."
          },
          {
            "name": "leadIntegrityScoreOn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Used for activating Lead Integrity information being returned in response."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-08-20T14:30:00Z",
                      "description": "The timestamp when the response was returned. It is provided in ISO 8601 format."
                    },
                    "primaryOwner": {
                      "type": "string",
                      "nullable": true,
                      "example": "John M Doe",
                      "description": "Full name of the primary owner."
                    },
                    "secondaryOwner": {
                      "type": "string",
                      "nullable": true,
                      "example": "Jane Doe",
                      "description": "Full name of the secondary owner."
                    },
                    "ownerOccupied": {
                      "type": "boolean",
                      "nullable": true,
                      "example": true,
                      "description": "Indicates whether the property is occupied by the owner."
                    },
                    "homeBuiltYear": {
                      "type": "string",
                      "nullable": true,
                      "example": "1990",
                      "description": "The year the primary structure was built."
                    },
                    "yearsInHome": {
                      "type": "string",
                      "nullable": true,
                      "example": "16",
                      "description": "The number of years the primary owner has owned the property."
                    },
                    "county": {
                      "type": "string",
                      "nullable": true,
                      "example": "Douglas",
                      "description": "County name."
                    },
                    "subdivision": {
                      "type": "string",
                      "nullable": true,
                      "example": "Castle Oaks",
                      "description": "Subdivision name."
                    },
                    "school": {
                      "type": "string",
                      "nullable": true,
                      "example": "Somerville",
                      "description": "School district name."
                    },
                    "propertyType": {
                      "type": "string",
                      "nullable": true,
                      "example": "Residential",
                      "description": "General property type description."
                    },
                    "areaBuildingSize": {
                      "type": "string",
                      "nullable": true,
                      "example": "3023",
                      "description": "Total square feet of all structures on the property."
                    },
                    "scructurePresent": {
                      "type": "boolean",
                      "nullable": true,
                      "example": true,
                      "description": "Indicates whether the structure is present at the provided address."
                    },
                    "leadIntegrityScore": {
                      "type": "integer",
                      "nullable": true,
                      "example": 7,
                      "description": "Indicates lead\u2019s quality. Evaluates such parameters, as zoning classification, owner occupied, structure present, surname match. The parameter is returned if `leadIntegrityScoreOn` parameter = true in query."
                    },
                    "leadIntegrityDefects": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "surname"
                      ],
                      "description": "Indicates lead\u2019s quality. Evaluates such parameters, as zoning classification, owner occupied, structure present, surname match. The parameter is returned if `leadIntegrityScoreOn` parameter = true in query."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "state must be a string",
                        "state should not be empty"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid API Key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Cannot GET /api/v1/address-info-v2"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "example": "Unexpected server error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/buyer-insights": {
      "get": {
        "tags": [
          "Buyer Insights"
        ],
        "summary": "Get Buyer Insights",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{API Key}"
          },
          {
            "name": "streetNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's street number."
          },
          {
            "name": "streetAddress",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's street address."
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead\u2019s city name."
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's state name (two-letter abbreviation, e.g., NY)."
          },
          {
            "name": "zip",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead\u2019s zip code (5 digit code)."
          },
          {
            "name": "lastName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Lead\u2019s last name. Used for Lead Integrity Score calculation."
          },
          {
            "name": "leadIntegrityScoreOn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Used for activating Lead Integrity information being returned in response."
          },
          {
            "name": "salesHacksOn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Used for activating Sales Hacks information being returned in response."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-08-20T14:30:00Z",
                      "description": "The timestamp when the response was returned. It is provided in ISO 8601 format."
                    },
                    "surePayScore": {
                      "type": "integer",
                      "nullable": true,
                      "example": 1,
                      "description": "Represents SurePay\u2122 Score."
                    },
                    "elevateScore": {
                      "type": "integer",
                      "nullable": true,
                      "example": 2,
                      "description": "Represents Elevate Score."
                    },
                    "buyerInsights": {
                      "type": "object",
                      "properties": {
                        "savvyShopperScore": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Score for Savvy Shopper category.",
                          "example": 2
                        },
                        "brandLoyalistScore": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Score for Brand Loyalist category.",
                          "example": 3
                        },
                        "trendsetterScore": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Score for Trendsetter category.",
                          "example": 3
                        },
                        "budgetsavvyBuyerScore": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Score for Budget-Savvy Buyer category.",
                          "example": 4
                        },
                        "qualityFirstBuyerScore": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Score for Quality First Buyer category.",
                          "example": 0
                        },
                        "impulseShopperScore": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Score for Impulse Shopper category.",
                          "example": 1
                        },
                        "popularPicksScore": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Score for Popular Picks category.",
                          "example": 5
                        }
                      }
                    },
                    "accuracyCode": {
                      "type": "string",
                      "example": "P",
                      "description": "Represents Accuracy Code.",
                      "enum": [
                        "P",
                        "H",
                        "G",
                        "N"
                      ]
                    },
                    "primaryOwner": {
                      "type": "string",
                      "nullable": true,
                      "example": "John M Doe",
                      "description": "Full name of the primary owner."
                    },
                    "secondaryOwner": {
                      "type": "string",
                      "nullable": true,
                      "example": "Jane Doe",
                      "description": "Full name of the secondary owner."
                    },
                    "ownerOccupied": {
                      "type": "boolean",
                      "nullable": true,
                      "example": true,
                      "description": "Indicates whether the property is occupied by the owner."
                    },
                    "homeBuiltYear": {
                      "type": "string",
                      "nullable": true,
                      "example": "1990",
                      "description": "The year the primary structure was built."
                    },
                    "yearsInHome": {
                      "type": "string",
                      "nullable": true,
                      "example": "16",
                      "description": "The number of years the primary owner has owned the property."
                    },
                    "county": {
                      "type": "string",
                      "nullable": true,
                      "example": "Douglas",
                      "description": "County name."
                    },
                    "subdivision": {
                      "type": "string",
                      "nullable": true,
                      "example": "Castle Oaks",
                      "description": "Subdivision name."
                    },
                    "school": {
                      "type": "string",
                      "nullable": true,
                      "example": "Somerville",
                      "description": "School district name."
                    },
                    "propertyType": {
                      "type": "string",
                      "nullable": true,
                      "example": "Residential",
                      "description": "General property type description."
                    },
                    "areaBuildingSize": {
                      "type": "string",
                      "nullable": true,
                      "example": "3023",
                      "description": "Total square feet of all structures on the property."
                    },
                    "scructurePresent": {
                      "type": "boolean",
                      "nullable": true,
                      "example": true,
                      "description": "Indicates whether the structure is present at the provided address."
                    },
                    "leadIntegrityScore": {
                      "type": "integer",
                      "nullable": true,
                      "example": 7,
                      "description": "Indicates lead\u2019s quality. Evaluates such parameters, as zoning classification, owner occupied, structure present, surname match. The parameter is returned if `leadIntegrityScoreOn` parameter = true in query."
                    },
                    "leadIntegrityDefects": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "surname"
                      ],
                      "description": "Indicates lead\u2019s quality. Evaluates such parameters, as zoning classification, owner occupied, structure present, surname match. The parameter is returned if `leadIntegrityScoreOn` parameter = true in query."
                    },
                    "salesHacks": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "surePayHack": {
                          "type": "string",
                          "description": "Represents Sales Hack based on SurePay\u2122 Score.",
                          "nullable": true
                        },
                        "elevateHack": {
                          "type": "string",
                          "description": "Represents Sales Hack based on Elevate Score.",
                          "nullable": true
                        },
                        "buyerInsightHacks": {
                          "type": "object",
                          "properties": {
                            "savvyShopperHack": {
                              "type": "string",
                              "description": "Sales Hack based on Savvy Shopper Score.",
                              "nullable": true
                            },
                            "brandLoyalistHack": {
                              "type": "string",
                              "description": "Sales Hack based on Brand Loyalist Score.",
                              "nullable": true
                            },
                            "trendsetterHack": {
                              "type": "string",
                              "description": "Sales Hack based on Trendsetter Score.",
                              "nullable": true
                            },
                            "budgetsavvyBuyerHack": {
                              "type": "string",
                              "description": "Sales Hack based on Budget-Savvy Buyer Score.",
                              "nullable": true
                            },
                            "qualityFirstBuyerHack": {
                              "type": "string",
                              "description": "Sales Hack based on Quality First Buyer Score.",
                              "nullable": true
                            },
                            "impulseShopperHack": {
                              "type": "string",
                              "description": "Sales Hack based on Impulse Shopper Score.",
                              "nullable": true
                            },
                            "popularPicksHack": {
                              "type": "string",
                              "description": "Sales Hack based on Popular Picks Score.",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "state must be a string",
                        "state should not be empty"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid API Key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Cannot GET /api/v1/buyer-insights"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "example": "Unexpected server error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/roof-estimate": {
      "get": {
        "tags": [
          "Lead Value - Roof"
        ],
        "summary": "Get Lead Value - Roof",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{API Key}"
          },
          {
            "name": "streetNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's street number."
          },
          {
            "name": "streetAddress",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's street address."
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead\u2019s city name."
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's state name (two-letter abbreviation, e.g., NY)."
          },
          {
            "name": "zip",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead\u2019s zip code (5 digit code)."
          },
          {
            "name": "roofMaterial",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asphalt shingle",
                "slate",
                "tile",
                "metal",
                "other"
              ]
            },
            "example": "asphalt shingle",
            "description": "Type of roofing material used in the estimation. Default value is `asphalt shingle`."
          },
          {
            "name": "installedPrice",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0.01,
              "format": "float"
            },
            "example": 400,
            "description": "Client's all-in installation price (USD) per square, including materials, labor and gross profit, for asphalt shingle roofing material used in the estimation. Default value is `400`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-08-20T14:30:00Z",
                      "description": "The timestamp when the response was returned. It is provided in ISO 8601 format."
                    },
                    "roofArea": {
                      "type": "number",
                      "nullable": true,
                      "description": "Total roof area in square feet, adjusted for pitch.",
                      "example": 1250.75
                    },
                    "squaresWithPitch": {
                      "type": "number",
                      "nullable": true,
                      "description": "Roof size in \"squares\" (1 square = 100 sq ft), adjusted for pitch.",
                      "example": 12.51
                    },
                    "averageRoofPitch": {
                      "type": "number",
                      "nullable": true,
                      "description": "Average roof pitch in degrees.",
                      "example": 6.5
                    },
                    "roofComplexityLevel": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "simple",
                        "average",
                        "complex"
                      ],
                      "description": "Complexity level of the roof, determined based on the number of individual roof facets detected in the structure.",
                      "example": "average"
                    },
                    "roofMaterial": {
                      "type": "string",
                      "nullable": true,
                      "description": "Roofing material used in the estimation and included in an API request. If parameter is not included in an API request, then default value is used.",
                      "example": "asphalt shingle"
                    },
                    "installedPrice": {
                      "type": "number",
                      "nullable": true,
                      "description": "Client's all-in installation price (USD) per square for asphalt shingle roofing material used in the estimation and included in an API request. If parameter is not included in an API request, then default value is used.",
                      "example": 400
                    },
                    "roofCostEstimate": {
                      "type": "number",
                      "nullable": true,
                      "description": "Final estimated total cost of the roofing project (USD).",
                      "example": 5318.19
                    },
                    "structurePresentConfidenceScore": {
                      "type": "number",
                      "nullable": true,
                      "enum": [
                        50,
                        100
                      ],
                      "description": "Confidence score that the structure matches the input address.",
                      "example": 100
                    },
                    "dataAccurcyAlerts": {
                      "type": "object",
                      "properties": {
                        "roofPitchAlert": {
                          "type": "string",
                          "nullable": true,
                          "description": "Roof pitch alert indicating if the `averageRoofPitch` is unusually low or high.",
                          "enum": [
                            "LOW_PITCH",
                            "HIGH_PITCH",
                            "NO_ALERTS"
                          ],
                          "example": "LOW_PITCH"
                        },
                        "roofAreaAlert": {
                          "type": "string",
                          "nullable": true,
                          "description": "Roof area alert indicating if the `roofArea` is unusually small or large.",
                          "enum": [
                            "LOW_AREA",
                            "HIGH_AREA",
                            "NO_ALERTS"
                          ],
                          "example": "LOW_AREA"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "state must be a string",
                        "state should not be empty",
                        "installedPrice value must be a decimal greater than 0 with at most 2 decimal places"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid API Key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Cannot GET /api/v1/roof-estimate"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "example": "Unexpected server error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/gosolar-index": {
      "get": {
        "tags": [
          "GoSolar Index"
        ],
        "summary": "Get GoSolar Index",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{API Key}"
          },
          {
            "name": "streetNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's street number."
          },
          {
            "name": "streetAddress",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's street address."
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead\u2019s city name."
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's state name (two-letter abbreviation, e.g., NY)."
          },
          {
            "name": "zip",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead\u2019s zip code (5 digit code)."
          },
          {
            "name": "lastName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Lead\u2019s last name. Used for Lead Integrity Score calculation."
          },
          {
            "name": "leadIntegrityScoreOn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Used for activating Lead Integrity information being returned in response."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-08-20T14:30:00Z",
                      "description": "The timestamp when the response was returned. It is provided in ISO 8601 format."
                    },
                    "goSolarIndex": {
                      "type": "integer",
                      "nullable": true,
                      "example": 1,
                      "description": "Represents GoSolar Index Score."
                    },
                    "prospectFitLevel": {
                      "type": "string",
                      "nullable": true,
                      "example": "Ideal",
                      "enum": [
                        "Ideal",
                        "Moderate",
                        "Weak"
                      ],
                      "description": "Represents Prospect Fit Level."
                    },
                    "prospectAttitudeMessage": {
                      "type": "string",
                      "nullable": true,
                      "example": "Lead with emphasis on renewable energy benefits, community.",
                      "description": "Represents Prospect Attitude Message."
                    },
                    "accuracyCode": {
                      "type": "string",
                      "example": "P",
                      "description": "Represents Accuracy Code.",
                      "enum": [
                        "P",
                        "H",
                        "G",
                        "N"
                      ]
                    },
                    "primaryOwner": {
                      "type": "string",
                      "nullable": true,
                      "example": "John M Doe",
                      "description": "Full name of the primary owner."
                    },
                    "secondaryOwner": {
                      "type": "string",
                      "nullable": true,
                      "example": "Jane Doe",
                      "description": "Full name of the secondary owner."
                    },
                    "ownerOccupied": {
                      "type": "boolean",
                      "nullable": true,
                      "example": true,
                      "description": "Indicates whether the property is occupied by the owner."
                    },
                    "homeBuiltYear": {
                      "type": "string",
                      "nullable": true,
                      "example": "1990",
                      "description": "The year the primary structure was built."
                    },
                    "yearsInHome": {
                      "type": "string",
                      "nullable": true,
                      "example": "16",
                      "description": "The number of years the primary owner has owned the property."
                    },
                    "county": {
                      "type": "string",
                      "nullable": true,
                      "example": "Douglas",
                      "description": "County name."
                    },
                    "subdivision": {
                      "type": "string",
                      "nullable": true,
                      "example": "Castle Oaks",
                      "description": "Subdivision name."
                    },
                    "school": {
                      "type": "string",
                      "nullable": true,
                      "example": "Somerville",
                      "description": "School district name."
                    },
                    "propertyType": {
                      "type": "string",
                      "nullable": true,
                      "example": "Residential",
                      "description": "General property type description."
                    },
                    "areaBuildingSize": {
                      "type": "string",
                      "nullable": true,
                      "example": "3023",
                      "description": "Total square feet of all structures on the property."
                    },
                    "scructurePresent": {
                      "type": "boolean",
                      "nullable": true,
                      "example": true,
                      "description": "Indicates whether the structure is present at the provided address."
                    },
                    "leadIntegrityScore": {
                      "type": "integer",
                      "nullable": true,
                      "example": 7,
                      "description": "Indicates lead\u2019s quality. Evaluates such parameters, as zoning classification, owner occupied, structure present, surname match. The parameter is returned if `leadIntegrityScoreOn` parameter = true in query."
                    },
                    "leadIntegrityDefects": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "surname"
                      ],
                      "description": "Indicates lead\u2019s quality. Evaluates such parameters, as zoning classification, owner occupied, structure present, surname match. The parameter is returned if `leadIntegrityScoreOn` parameter = true in query."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "state must be a string",
                        "state should not be empty"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid API Key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Cannot GET /api/v1/gosolar-index"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 500
                    },
                    "message": {
                      "type": "string",
                      "example": "Unexpected server error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/utility-bill": {
      "get": {
        "tags": [
          "Utility Bill"
        ],
        "summary": "Get Utility Bill Information",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{API Key}"
          },
          {
            "name": "streetNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's street number."
          },
          {
            "name": "streetAddress",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's street address."
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead\u2019s city name."
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead's state name (two-letter abbreviation, e.g., NY)."
          },
          {
            "name": "zip",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead\u2019s zip code (5 digit code)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Utility Bill data retrieval or No Data case.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp when the response was returned. It is provided in ISO 8601 format.",
                      "example": "2024-08-20T14:30:00Z"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "description": "Indicates whether the request was successful or an error occurred.",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable message describing the result of the request.",
                      "example": "Data successfully retrieved."
                    },
                    "address": {
                      "type": "string",
                      "description": "Full address used in the request.",
                      "example": "123 Main St, Austin, TX"
                    },
                    "data": {
                      "type": "object",
                      "description": "Contains utility data.",
                      "properties": {
                        "units": {
                          "type": "object",
                          "description": "Units of measurement used in the response data.",
                          "properties": {
                            "consumption": {
                              "type": "string",
                              "description": "Unit of measurement for energy consumption.",
                              "example": "kWh"
                            },
                            "cost": {
                              "type": "string",
                              "description": "Unit of measurement for energy cost.",
                              "example": "USD"
                            },
                            "emissions": {
                              "type": "string",
                              "description": "Unit of measurement for emissions.",
                              "example": "kgCO2e"
                            },
                            "emissionRate": {
                              "type": "string",
                              "description": "Unit of measurement for emission rate.",
                              "example": "kgCO2e/kWh"
                            },
                            "utilityRate": {
                              "type": "string",
                              "description": "Unit of measurement for utility rate.",
                              "example": "USD/kWh"
                            }
                          }
                        },
                        "electricity": {
                          "type": "object",
                          "nullable": true,
                          "description": "Electricity consumption, cost and emission statistics.",
                          "properties": {
                            "monthlyAverageConsumption": {
                              "type": "number",
                              "description": "Average monthly electricity consumption over the last 12 months.",
                              "example": 435.2
                            },
                            "monthlyAverageCost": {
                              "type": "number",
                              "description": "Average monthly electricity cost over the last 12 months.",
                              "example": 98.5
                            },
                            "annualConsumption": {
                              "type": "number",
                              "description": "Total electricity consumption over the last 12 months.",
                              "example": 5222.4
                            },
                            "annualCost": {
                              "type": "number",
                              "description": "Total electricity cost over the last 12 months.",
                              "example": 1182
                            },
                            "quarterAverageConsumption": {
                              "type": "object",
                              "description": "Average electricity consumption per quarter.",
                              "properties": {
                                "q1": {
                                  "type": "number",
                                  "description": "Average electricity consumption for Q1 (Jan-Mar).",
                                  "example": 410.2
                                },
                                "q2": {
                                  "type": "number",
                                  "description": "Average electricity consumption for Q2 (Apr-Jun).",
                                  "example": 455
                                },
                                "q3": {
                                  "type": "number",
                                  "description": "Average electricity consumption for Q3 (Jul-Sep).",
                                  "example": 472.6
                                },
                                "q4": {
                                  "type": "number",
                                  "description": "Average electricity consumption for Q4 (Oct-Dec).",
                                  "example": 402.9
                                }
                              }
                            },
                            "quarterAverageCost": {
                              "type": "object",
                              "description": "Average electricity cost per quarter.",
                              "properties": {
                                "q1": {
                                  "type": "number",
                                  "description": "Average electricity cost for Q1 (Jan-Mar).",
                                  "example": 90.4
                                },
                                "q2": {
                                  "type": "number",
                                  "description": "Average electricity cost for Q2 (Apr-Jun).",
                                  "example": 102.1
                                },
                                "q3": {
                                  "type": "number",
                                  "description": "Average electricity cost for Q3 (Jul-Sep).",
                                  "example": 110.5
                                },
                                "q4": {
                                  "type": "number",
                                  "description": "Average electricity cost for Q4 (Oct-Dec).",
                                  "example": 91
                                }
                              }
                            },
                            "peakMonth": {
                              "type": "object",
                              "description": "Month with highest electricity consumption.",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Peak month name.",
                                  "example": "August"
                                },
                                "consumption": {
                                  "type": "number",
                                  "description": "Electricity consumption in the peak month.",
                                  "example": 520
                                },
                                "cost": {
                                  "type": "number",
                                  "description": "Electricity cost in the peak month.",
                                  "example": 120.5
                                }
                              }
                            },
                            "monthlyAverageUtilityRate": {
                              "type": "number",
                              "description": "Monthly average electricity utility rate over the last 12 month.",
                              "example": 0.215
                            },
                            "emissions": {
                              "type": "object",
                              "description": "Emissions data from electricity usage.",
                              "properties": {
                                "annualEmissions": {
                                  "type": "number",
                                  "description": "Total electricity emissions over the last 12 months.",
                                  "example": 1200
                                },
                                "monthlyAverageEmissions": {
                                  "type": "number",
                                  "description": "Monthly average electricity emissions over the last 12 months.",
                                  "example": 100
                                },
                                "monthlyAverageEmissionRate": {
                                  "type": "number",
                                  "description": "Monthly average electricity emissions per kWh of electricity consumption over the last 12 months.",
                                  "example": 0.18
                                },
                                "peakMonth": {
                                  "type": "object",
                                  "description": "Month with highest electricity emissions.",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "Peak month name.",
                                      "example": "July"
                                    },
                                    "emissions": {
                                      "type": "number",
                                      "description": "Electricity emissions in peak month.",
                                      "example": 0.21
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "fossilFuel": {
                          "type": "object",
                          "nullable": true,
                          "description": "Fossil fuel usage statistics.",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "Type of fossil fuel.",
                              "example": "Natural Gas"
                            },
                            "annualConsumption": {
                              "type": "number",
                              "description": "Total fossil fuel consumption over the last 12 months.",
                              "example": 2840
                            },
                            "annualCost": {
                              "type": "number",
                              "description": "Total fossil fuel cost over the last 12 months.",
                              "example": 380
                            },
                            "monthlyAverageUtilityRate": {
                              "type": "number",
                              "description": "Monthly average fossil fuel utility rate over the last 12 months.",
                              "example": 0.134
                            }
                          }
                        },
                        "ratios": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "electricToFossilRatio": {
                              "type": "number",
                              "description": "Ratio of electricity to fossil fuel consumption over the last 12 months.",
                              "example": 1.84
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "state must be a string",
                        "state should not be empty"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid API Key"
                    }
                  }
                }
              }
            }
          },
          "404": {
[...]
