{
  "openapi": "3.0.1",
  "info": {
    "title": "R4 Fhir",
    "description": "Fast Healthcare Interoperability Resources (FHIR, pronounced 'Fire') defines a set of 'Resources' that represent granular clinical concepts. The resources can be managed in isolation, or aggregated into complex documents. Technically, FHIR is designed for the web; the resources are based on simple XML or JSON structures, with an http-based RESTful protocol where each resource has predictable URL. Where possible, open internet standards are used for data representation.",
    "version": "v1",
    "x-jentic-source-url": "https://www.nextgen.com/api/nge-fhir-r4"
  },
  "servers": [
    {
      "url": "https://fhir.nextgen.com/nge/prod/fhir-api-r4/fhir/R4"
    }
  ],
  "paths": {
    "/AllergyIntolerance/{id}": {
      "get": {
        "summary": "Gets the Allergy intolerance resource for given allergyId.",
        "description": "Fetches a single allergy/intolerance record by id. \n \n FHIR Resource: AllergyIntolerance \n *\tMedication Allergies \n *\tSubstance (Drug Class) \n *\tSubstance (Medication) \n *\tReaction",
        "tags": [
          "AllergyIntolerance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "allergyId",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AllergyIntolerance",
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "id",
                    "clinicalStatus",
                    "verificationStatus",
                    "criticality"
                  ],
                  "properties": {
                    "resourceType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "clinicalStatus": {
                      "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                    },
                    "verificationStatus": {
                      "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                    },
                    "criticality": {
                      "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/AllergyIntoleranceCriticality"
                    },
                    "code": {
                      "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                    },
                    "patient": {
                      "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                    },
                    "onsetDateTime": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "recorder": {
                      "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                    },
                    "reaction": {
                      "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/ListOfReactionComponent"
                    }
                  },
                  "definitions": {
                    "CodeableConcept": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "coding": {
                          "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/ListOfCoding"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCoding": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/Coding"
                      }
                    },
                    "Coding": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "system": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    },
                    "AllergyIntoleranceCriticality": {
                      "type": "string",
                      "description": "",
                      "x-enumNames": [
                        "CRITL",
                        "CRITH",
                        "CRITU"
                      ],
                      "enum": [
                        "CRITL",
                        "CRITH",
                        "CRITU"
                      ]
                    },
                    "ResourceReference": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "reference": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfReactionComponent": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/ReactionComponent"
                      }
                    },
                    "ReactionComponent": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "severity"
                      ],
                      "properties": {
                        "manifestation": {
                          "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/ListOfCodeableConcept"
                        },
                        "severity": {
                          "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/AllergyIntoleranceSeverity"
                        }
                      }
                    },
                    "ListOfCodeableConcept": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                      }
                    },
                    "AllergyIntoleranceSeverity": {
                      "type": "string",
                      "description": "",
                      "x-enumNames": [
                        "Mild",
                        "Moderate",
                        "Severe"
                      ],
                      "enum": [
                        "Mild",
                        "Moderate",
                        "Severe"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred."
          },
          "401": {
            "description": "Login credentials denied Access."
          },
          "403": {
            "description": "Access denied for this resource with the given credentials."
          },
          "404": {
            "description": "Resource not Found."
          },
          "500": {
            "description": "Internal exception."
          }
        }
      }
    },
    "/AllergyIntolerance": {
      "get": {
        "summary": "Gets bundle of Allergy intolerance resource.",
        "description": "Fetches a bundled resource containing the allergy/intolerance records for the patient mentioned in the request. FHIR Resource: AllergyIntolerance \n *\tMedication Allergies  \n *\tSubstance (Drug Class) \n *\tSubstance (Medication) \n *\tReaction",
        "tags": [
          "AllergyIntolerance"
        ],
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "Allergy id",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who the sensitivity is for.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "When allergy or intolerance was identified.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "_revinclude",
            "in": "query",
            "description": "To Search for Provenance of resource. ex: _revinclude = Provenance:target to get provenance resource",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BundleOfAllergyIntolerance",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "resourceType": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "link": {
                      "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/ListOfLink"
                    },
                    "entry": {
                      "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/ListOfEntryOfAllergyIntolerance"
                    }
                  },
                  "definitions": {
                    "ListOfLink": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/Link"
                      }
                    },
                    "Link": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "relation": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfEntryOfAllergyIntolerance": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/EntryOfAllergyIntolerance"
                      }
                    },
                    "EntryOfAllergyIntolerance": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "fullUrl": {
                          "type": "string"
                        },
                        "resource": {
                          "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/AllergyIntolerance"
                        }
                      }
                    },
                    "AllergyIntolerance": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "id",
                        "clinicalStatus",
                        "verificationStatus",
                        "criticality"
                      ],
                      "properties": {
                        "resourceType": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "clinicalStatus": {
                          "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                        },
                        "verificationStatus": {
                          "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                        },
                        "criticality": {
                          "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/AllergyIntoleranceCriticality"
                        },
                        "code": {
                          "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                        },
                        "patient": {
                          "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                        },
                        "onsetDateTime": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "recorder": {
                          "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                        },
                        "reaction": {
                          "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/ListOfReactionComponent"
                        }
                      }
                    },
                    "CodeableConcept": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "coding": {
                          "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/ListOfCoding"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCoding": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/Coding"
                      }
                    },
                    "Coding": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "system": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    },
                    "AllergyIntoleranceCriticality": {
                      "type": "string",
                      "description": "",
                      "x-enumNames": [
                        "CRITL",
                        "CRITH",
                        "CRITU"
                      ],
                      "enum": [
                        "CRITL",
                        "CRITH",
                        "CRITU"
                      ]
                    },
                    "ResourceReference": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "reference": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfReactionComponent": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/ReactionComponent"
                      }
                    },
                    "ReactionComponent": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "severity"
                      ],
                      "properties": {
                        "manifestation": {
                          "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/ListOfCodeableConcept"
                        },
                        "severity": {
                          "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/AllergyIntoleranceSeverity"
                        }
                      }
                    },
                    "ListOfCodeableConcept": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1AllergyIntolerance/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                      }
                    },
                    "AllergyIntoleranceSeverity": {
                      "type": "string",
                      "description": "",
                      "x-enumNames": [
                        "Mild",
                        "Moderate",
                        "Severe"
                      ],
                      "enum": [
                        "Mild",
                        "Moderate",
                        "Severe"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred."
          },
          "401": {
            "description": "Login credentials denied Access."
          },
          "403": {
            "description": "Access denied for this resource with the given credentials."
          },
          "404": {
            "description": "PatientId not Found."
          },
          "500": {
            "description": "Internal exception."
          }
        }
      }
    },
    "/CarePlan/{id}": {
      "get": {
        "summary": "Gets the Careplan resource for given carePlanId.",
        "description": "Fetches a single plan of treatment(care plans, orders) and assessment note by id. \n \n FHIR Resource: CarePlan \n *\tAssessment and Plan of Treatment \n",
        "tags": [
          "CarePlan"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "carePlanId",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "CarePlan",
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "id",
                    "status",
                    "intent"
                  ],
                  "properties": {
                    "resourceType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/CarePlanStatus"
                    },
                    "intent": {
                      "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/CarePlanIntent"
                    },
                    "category": {
                      "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/ListOfCodeableConcept"
                    },
                    "subject": {
                      "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                    }
                  },
                  "definitions": {
                    "CarePlanStatus": {
                      "type": "string",
                      "description": "",
                      "x-enumNames": [
                        "Proposed",
                        "Draft",
                        "Active",
                        "Completed",
                        "Cancelled"
                      ],
                      "enum": [
                        "Proposed",
                        "Draft",
                        "Active",
                        "Completed",
                        "Cancelled"
                      ]
                    },
                    "CarePlanIntent": {
                      "type": "string",
                      "description": "",
                      "x-enumNames": [
                        "Proposal",
                        "Plan",
                        "Order",
                        "Option"
                      ],
                      "enum": [
                        "Proposal",
                        "Plan",
                        "Order",
                        "Option"
                      ]
                    },
                    "ListOfCodeableConcept": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                      }
                    },
                    "CodeableConcept": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "coding": {
                          "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/ListOfCoding"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCoding": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/Coding"
                      }
                    },
                    "Coding": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "system": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    },
                    "ResourceReference": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "reference": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred."
          },
          "401": {
            "description": "Login credentials denied Access."
          },
          "403": {
            "description": "Access denied for this resource with the given credentials."
          },
          "404": {
            "description": "Resource not Found."
          },
          "500": {
            "description": "Internal exception."
          }
        }
      }
    },
    "/CarePlan": {
      "get": {
        "summary": "Gets bundle of Careplan resource.",
        "description": "Fetches a bundled resource containing plan of treatment(care plans, orders) and assessment notes for the patient mentioned in the request. \n \n FHIR Resource: CarePlan \n *\tAssessment and Plan of Treatment \n",
        "tags": [
          "CarePlan"
        ],
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "CarePlan id",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who the care plan is for.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Type of plan.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Careplan status",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "_revinclude",
            "in": "query",
            "description": "To Search for Provenance of resource. ex: _revinclude = Provenance:target to get provenance resource",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BundleOfCarePlan",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "resourceType": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "link": {
                      "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/ListOfLink"
                    },
                    "entry": {
                      "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/ListOfEntryOfCarePlan"
                    }
                  },
                  "definitions": {
                    "ListOfLink": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/Link"
                      }
                    },
                    "Link": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "relation": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfEntryOfCarePlan": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/EntryOfCarePlan"
                      }
                    },
                    "EntryOfCarePlan": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "fullUrl": {
                          "type": "string"
                        },
                        "resource": {
                          "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/CarePlan"
                        }
                      }
                    },
                    "CarePlan": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "id",
                        "status",
                        "intent"
                      ],
                      "properties": {
                        "resourceType": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/CarePlanStatus"
                        },
                        "intent": {
                          "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/CarePlanIntent"
                        },
                        "category": {
                          "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/ListOfCodeableConcept"
                        },
                        "subject": {
                          "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                        }
                      }
                    },
                    "CarePlanStatus": {
                      "type": "string",
                      "description": "",
                      "x-enumNames": [
                        "Proposed",
                        "Draft",
                        "Active",
                        "Completed",
                        "Cancelled"
                      ],
                      "enum": [
                        "Proposed",
                        "Draft",
                        "Active",
                        "Completed",
                        "Cancelled"
                      ]
                    },
                    "CarePlanIntent": {
                      "type": "string",
                      "description": "",
                      "x-enumNames": [
                        "Proposal",
                        "Plan",
                        "Order",
                        "Option"
                      ],
                      "enum": [
                        "Proposal",
                        "Plan",
                        "Order",
                        "Option"
                      ]
                    },
                    "ListOfCodeableConcept": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                      }
                    },
                    "CodeableConcept": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "coding": {
                          "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/ListOfCoding"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCoding": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1CarePlan/get/responses/200/content/application~1json/schema/definitions/Coding"
                      }
                    },
                    "Coding": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "system": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    },
                    "ResourceReference": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "reference": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred."
          },
          "401": {
            "description": "Login credentials denied Access."
          },
          "403": {
            "description": "Access denied for this resource with the given credentials."
          },
          "404": {
            "description": "PatientId not Found."
          },
          "500": {
            "description": "Internal exception."
          }
        }
      }
    },
    "/CareTeam/{id}": {
      "get": {
        "summary": "Gets CareTeamMember resource for given careTeamMemberId.",
        "description": "Fetches a single Care Team member by id.  \n \n FHIR Resource: CareTeam \n *\tCare Team \n",
        "tags": [
          "CareTeam"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "careTeamMemberId",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "CareTeam",
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "id",
                    "status"
                  ],
                  "properties": {
                    "resourceType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/CareTeamStatus"
                    },
                    "subject": {
                      "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                    },
                    "participant": {
                      "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/ListOfCareTeamMemberParticipantComponent"
                    }
                  },
                  "definitions": {
                    "CareTeamStatus": {
                      "type": "string",
                      "description": "",
                      "x-enumNames": [
                        "Proposed",
                        "Active",
                        "Suspended",
                        "Inactive",
                        "EnteredInError"
                      ],
                      "enum": [
                        "Proposed",
                        "Active",
                        "Suspended",
                        "Inactive",
                        "EnteredInError"
                      ]
                    },
                    "ResourceReference": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "reference": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCareTeamMemberParticipantComponent": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/CareTeamMemberParticipantComponent"
                      }
                    },
                    "CareTeamMemberParticipantComponent": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "role": {
                          "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/ListOfCodeableConcept"
                        },
                        "member": {
                          "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                        }
                      }
                    },
                    "ListOfCodeableConcept": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                      }
                    },
                    "CodeableConcept": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "coding": {
                          "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/ListOfCoding"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCoding": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/Coding"
                      }
                    },
                    "Coding": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "system": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred."
          },
          "401": {
            "description": "Login credentials denied Access."
          },
          "403": {
            "description": "Access denied for this resource with the given credentials."
          },
          "404": {
            "description": "Resource not Found."
          },
          "500": {
            "description": "Internal exception."
          }
        }
      }
    },
    "/CareTeam": {
      "get": {
        "summary": "Gets bundle of CareTeam resource.",
        "description": "Fetches a bundled resource containing details of the Care Team members for the patient mentioned in the request.  \n \n FHIR Resource: CareTeam \n *\tCare Team \n",
        "tags": [
          "CareTeam"
        ],
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "CareTeam id",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who care team is for",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "_revinclude",
            "in": "query",
            "description": "To Search for Provenance of resource. ex: _revinclude = Provenance:target to get provenance resource",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BundleOfCareTeam",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "resourceType": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "link": {
                      "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/ListOfLink"
                    },
                    "entry": {
                      "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/ListOfEntryOfCareTeam"
                    }
                  },
                  "definitions": {
                    "ListOfLink": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/Link"
                      }
                    },
                    "Link": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "relation": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfEntryOfCareTeam": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/EntryOfCareTeam"
                      }
                    },
                    "EntryOfCareTeam": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "fullUrl": {
                          "type": "string"
                        },
                        "resource": {
                          "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/CareTeam"
                        }
                      }
                    },
                    "CareTeam": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "id",
                        "status"
                      ],
                      "properties": {
                        "resourceType": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/CareTeamStatus"
                        },
                        "subject": {
                          "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                        },
                        "participant": {
                          "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/ListOfCareTeamMemberParticipantComponent"
                        }
                      }
                    },
                    "CareTeamStatus": {
                      "type": "string",
                      "description": "",
                      "x-enumNames": [
                        "Proposed",
                        "Active",
                        "Suspended",
                        "Inactive",
                        "EnteredInError"
                      ],
                      "enum": [
                        "Proposed",
                        "Active",
                        "Suspended",
                        "Inactive",
                        "EnteredInError"
                      ]
                    },
                    "ResourceReference": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "reference": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCareTeamMemberParticipantComponent": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/CareTeamMemberParticipantComponent"
                      }
                    },
                    "CareTeamMemberParticipantComponent": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "role": {
                          "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/ListOfCodeableConcept"
                        },
                        "member": {
                          "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                        }
                      }
                    },
                    "ListOfCodeableConcept": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                      }
                    },
                    "CodeableConcept": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "coding": {
                          "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/ListOfCoding"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCoding": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1CareTeam/get/responses/200/content/application~1json/schema/definitions/Coding"
                      }
                    },
                    "Coding": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "system": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred."
          },
          "401": {
            "description": "Login credentials denied Access."
          },
          "403": {
            "description": "Access denied for this resource with the given credentials."
          },
          "404": {
            "description": "PatientId not Found."
          },
          "500": {
            "description": "Internal exception."
          }
        }
      }
    },
    "/Condition/{id}": {
      "get": {
        "summary": "Gets Condition resource for given conditionId.",
        "description": "Fetches a Condition resource containing the condition/problem associated with the provided resource id.  \n \n FHIR Resource: Condition \n *\tHealth Concerns \n * Problems \n * Encounter Diagnosis \n",
        "tags": [
          "Condition"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "conditionId",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Condition",
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "id",
                    "verificationStatus"
                  ],
                  "properties": {
                    "resourceType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "clinicalStatus": {
                      "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                    },
                    "verificationStatus": {
                      "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                    },
                    "category": {
                      "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/ListOfCodeableConcept"
                    },
                    "code": {
                      "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                    },
                    "subject": {
                      "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                    },
                    "onset": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "definitions": {
                    "CodeableConcept": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "coding": {
                          "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/ListOfCoding"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCoding": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/Coding"
                      }
                    },
                    "Coding": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "system": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCodeableConcept": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                      }
                    },
                    "ResourceReference": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "reference": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred."
          },
          "401": {
            "description": "Login credentials denied Access."
          },
          "403": {
            "description": "Access denied for this resource with the given credentials."
          },
          "404": {
            "description": "Resource not Found."
          },
          "500": {
            "description": "Internal exception."
          }
        }
      }
    },
    "/Condition": {
      "get": {
        "summary": "Gets bundle of Condition resource.",
        "description": "Fetches a bundled resource containing the condition/problem associated with the provided resource id.  \n \n FHIR Resource: Condition \n *\tHealth Concerns \n * Problems \n * Encounter Diagnosis \n",
        "tags": [
          "Condition"
        ],
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "Condition id",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who has the condition?",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Condition category",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "onset-date",
            "in": "query",
            "description": "Date related onsets.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "description": "status.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "_revinclude",
            "in": "query",
            "description": "To Search for Provenance of resource. ex: _revinclude = Provenance:target to get provenance resource",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BundleOfCondition",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "resourceType": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "link": {
                      "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/ListOfLink"
                    },
                    "entry": {
                      "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/ListOfEntryOfCondition"
                    }
                  },
                  "definitions": {
                    "ListOfLink": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/Link"
                      }
                    },
                    "Link": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "relation": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfEntryOfCondition": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/EntryOfCondition"
                      }
                    },
                    "EntryOfCondition": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "fullUrl": {
                          "type": "string"
                        },
                        "resource": {
                          "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/Condition"
                        }
                      }
                    },
                    "Condition": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "id",
                        "verificationStatus"
                      ],
                      "properties": {
                        "resourceType": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "clinicalStatus": {
                          "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                        },
                        "verificationStatus": {
                          "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                        },
                        "category": {
                          "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/ListOfCodeableConcept"
                        },
                        "code": {
                          "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                        },
                        "subject": {
                          "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                        },
                        "onset": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "CodeableConcept": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "coding": {
                          "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/ListOfCoding"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCoding": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/Coding"
                      }
                    },
                    "Coding": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "system": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCodeableConcept": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1Condition/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                      }
                    },
                    "ResourceReference": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "reference": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred."
          },
          "401": {
            "description": "Login credentials denied Access."
          },
          "403": {
            "description": "Access denied for this resource with the given credentials."
          },
          "404": {
            "description": "PatientId not Found."
          },
          "500": {
            "description": "Internal exception."
          }
        }
      }
    },
    "/Device/{id}": {
      "get": {
        "summary": "Gets Device resource for given deviceId.",
        "description": "Fetches a single implantable device by id.  \n \n FHIR Resource: Device \n *\tUnique Device Identifier(s) for Patients Implantable Device(s) \n",
        "tags": [
          "Device"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "deviceId",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Device",
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "resourceType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "udiCarrier": {
                      "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/ListOfUdiCarrierComponent"
                    },
                    "type": {
                      "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/ListOfCodeableConcept"
                    },
                    "patient": {
                      "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                    }
                  },
                  "definitions": {
                    "ListOfUdiCarrierComponent": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/UdiCarrierComponent"
                      }
                    },
                    "UdiCarrierComponent": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "deviceIdentifier": {
                          "type": "string"
                        },
                        "carrierHRF": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCodeableConcept": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                      }
                    },
                    "CodeableConcept": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "coding": {
                          "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/ListOfCoding"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCoding": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/Coding"
                      }
                    },
                    "Coding": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "system": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    },
                    "ResourceReference": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "reference": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred."
          },
          "401": {
            "description": "Login credentials denied Access."
          },
          "403": {
            "description": "Access denied for this resource with the given credentials."
          },
          "404": {
            "description": "Resource not Found."
          },
          "500": {
            "description": "Internal exception."
          }
        }
      }
    },
    "/Device": {
      "get": {
        "summary": "Gets bundle of device resource.",
        "description": "Fetches a bundled resource containing all the implantable devices for the patient mentioned in the request.  \n \n FHIR Resource: Device \n *\tUnique Device Identifier(s) for Patients Implantable Device(s) \n",
        "tags": [
          "Device"
        ],
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "Device id",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Patient information, if the resource is affixed to a person.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "The availability status of the device.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "_revinclude",
            "in": "query",
            "description": "To Search for Provenance of resource. ex: _revinclude = Provenance:target to get provenance resource",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BundleOfDevice",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "resourceType": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "link": {
                      "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/ListOfLink"
                    },
                    "entry": {
                      "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/ListOfEntryOfDevice"
                    }
                  },
                  "definitions": {
                    "ListOfLink": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/Link"
                      }
                    },
                    "Link": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "relation": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfEntryOfDevice": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/EntryOfDevice"
                      }
                    },
                    "EntryOfDevice": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "fullUrl": {
                          "type": "string"
                        },
                        "resource": {
                          "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/Device"
                        }
                      }
                    },
                    "Device": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "id"
                      ],
                      "properties": {
                        "resourceType": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "udiCarrier": {
                          "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/ListOfUdiCarrierComponent"
                        },
                        "type": {
                          "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/ListOfCodeableConcept"
                        },
                        "patient": {
                          "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                        }
                      }
                    },
                    "ListOfUdiCarrierComponent": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/UdiCarrierComponent"
                      }
                    },
                    "UdiCarrierComponent": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "deviceIdentifier": {
                          "type": "string"
                        },
                        "carrierHRF": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCodeableConcept": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                      }
                    },
                    "CodeableConcept": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "coding": {
                          "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/ListOfCoding"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCoding": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1Device/get/responses/200/content/application~1json/schema/definitions/Coding"
                      }
                    },
                    "Coding": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "system": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    },
                    "ResourceReference": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "reference": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred."
          },
          "401": {
            "description": "Login credentials denied Access."
          },
          "403": {
            "description": "Access denied for this resource with the given credentials."
          },
          "404": {
            "description": "PatientId not Found."
          },
          "500": {
            "description": "Internal exception."
          }
        }
      }
    },
    "/DiagnosticReport/{id}": {
      "get": {
        "summary": "Gets Diagnostic report resource for given orderTestId.",
        "description": "Fetches a single lab, radiology, cardiology or pathology report by id. The observations and/or documents are contained in the resource.  \n \n FHIR Resource for Report and Note Exchange: DiagnosticReport \n *\tRadiology Report \n *\tCardiology Report \n *\tPathology Report \n \n FHIR Resource for Lab Results Reporting: Observation, DiagnosticReport \n *\tTests \n *\tValues/Results \n",
        "tags": [
          "DiagnosticReport"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "orderTestId",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DiagnosticReport",
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "id",
                    "status"
                  ],
                  "properties": {
                    "resourceType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/DiagnosticReportStatusR4"
                    },
                    "category": {
                      "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/ListOfCodeableConcept"
                    },
                    "code": {
                      "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                    },
                    "subject": {
                      "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                    },
                    "effectiveDateTime": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "issued": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "performer": {
                      "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/ListOfResourceReference"
                    },
                    "result": {
                      "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/ListOfResourceReference"
                    }
                  },
                  "definitions": {
                    "DiagnosticReportStatusR4": {
                      "type": "string",
                      "description": "",
                      "x-enumNames": [
                        "Registered",
                        "Partial",
                        "Preliminary",
                        "Final",
                        "Amended",
                        "Corrected",
                        "Appended",
                        "Cancelled",
                        "EnteredInError",
                        "Unknown"
                      ],
                      "enum": [
                        "Registered",
                        "Partial",
                        "Preliminary",
                        "Final",
                        "Amended",
                        "Corrected",
                        "Appended",
                        "Cancelled",
                        "EnteredInError",
                        "Unknown"
                      ]
                    },
                    "ListOfCodeableConcept": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                      }
                    },
                    "CodeableConcept": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "coding": {
                          "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/ListOfCoding"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCoding": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/Coding"
                      }
                    },
                    "Coding": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "system": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    },
                    "ResourceReference": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "reference": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfResourceReference": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred."
          },
          "401": {
            "description": "Login credentials denied Access."
          },
          "403": {
            "description": "Access denied for this resource with the given credentials."
          },
          "404": {
            "description": "Resource not Found."
          },
          "500": {
            "description": "Internal exception."
          }
        }
      }
    },
    "/DiagnosticReport": {
      "get": {
        "summary": "Gets bundle of DiagnosticReport resource.",
        "description": "Fetches a bundled resource containing all the lab, radiology, cardiology or pathology reports. The observations and/or documents are contained in the resource.  \n \n FHIR Resource for Report and Note Exchange: DiagnosticReport \n *\tRadiology Report \n *\tCardiology Report \n *\tPathology Report \n \n FHIR Resource for Lab Results Reporting: Observation, DiagnosticReport \n *\tTests \n *\tValues/Results \n",
        "tags": [
          "DiagnosticReport"
        ],
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "Diagnostic Report id",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "patientId",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "A code that classifies the clinical discipline, department or diagnostic service that created the report.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "A code or name that describes this diagnostic report.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Obtained date/time. If the obtained element is a period, a date that falls in the period",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "_revinclude",
            "in": "query",
            "description": "To Search for Provenance of resource. ex: _revinclude = Provenance:target to get provenance resource",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BundleOfDiagnosticReport",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "resourceType": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "link": {
                      "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/ListOfLink"
                    },
                    "entry": {
                      "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/ListOfEntryOfDiagnosticReport"
                    }
                  },
                  "definitions": {
                    "ListOfLink": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/Link"
                      }
                    },
                    "Link": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "relation": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfEntryOfDiagnosticReport": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/EntryOfDiagnosticReport"
                      }
                    },
                    "EntryOfDiagnosticReport": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "fullUrl": {
                          "type": "string"
                        },
                        "resource": {
                          "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/DiagnosticReport"
                        }
                      }
                    },
                    "DiagnosticReport": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "id",
                        "status"
                      ],
                      "properties": {
                        "resourceType": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/DiagnosticReportStatusR4"
                        },
                        "category": {
                          "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/ListOfCodeableConcept"
                        },
                        "code": {
                          "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                        },
                        "subject": {
                          "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                        },
                        "effectiveDateTime": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "issued": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "performer": {
                          "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/ListOfResourceReference"
                        },
                        "result": {
                          "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/ListOfResourceReference"
                        }
                      }
                    },
                    "DiagnosticReportStatusR4": {
                      "type": "string",
                      "description": "",
                      "x-enumNames": [
                        "Registered",
                        "Partial",
                        "Preliminary",
                        "Final",
                        "Amended",
                        "Corrected",
                        "Appended",
                        "Cancelled",
                        "EnteredInError",
                        "Unknown"
                      ],
                      "enum": [
                        "Registered",
                        "Partial",
                        "Preliminary",
                        "Final",
                        "Amended",
                        "Corrected",
                        "Appended",
                        "Cancelled",
                        "EnteredInError",
                        "Unknown"
                      ]
                    },
                    "ListOfCodeableConcept": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/CodeableConcept"
                      }
                    },
                    "CodeableConcept": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "coding": {
                          "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/ListOfCoding"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfCoding": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/Coding"
                      }
                    },
                    "Coding": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "system": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    },
                    "ResourceReference": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "reference": {
                          "type": "string"
                        },
                        "display": {
                          "type": "string"
                        }
                      }
                    },
                    "ListOfResourceReference": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1DiagnosticReport/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred."
          },
          "401": {
            "description": "Login credentials denied Access."
          },
          "403": {
            "description": "Access denied for this resource with the given credentials."
          },
          "404": {
            "description": "PatientId not Found."
          },
          "500": {
            "description": "Internal exception."
          }
        }
      }
    },
    "/DocumentReference/{id}": {
      "get": {
        "summary": "Gets DocumentReference resource for given documentReferenceId.",
        "description": "Fetches a single Document Reference. A reference to a document of any kind for any purpose. Provides metadata about the document so that the document can be discovered and managed. \n \n FHIR Resource: DocumentReference \n  \n *\tConsultation Note \n *\tDischarge Summary Note \n *\tHistory & Physical Note \n *\tProcedures Note \n *\tProgress Note \n *\tImaging Narrative \n *\tLaboratory Report Narrative \n *\tPathology Report Narrative",
        "tags": [
          "DocumentReference"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "documentReferenceId.",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DocumentReference",
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "id",
                    "status",
                    "content"
                  ],
                  "properties": {
                    "resourceType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "identifiers": {
                      "$ref": "#/paths/~1DocumentReference/get/responses/200/content/application~1json/schema/definitions/ListOfIdentifiers"
                    },
                    "subject": {
                      "$ref": "#/paths/~1DocumentReference/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                    },
                    "type": {
                      "$ref": "#/paths/~1DocumentReference/get/responses/200/content/application~1json/schema/definitions/ListOfCoding"
                    },
                    "category": {
                      "$ref": "#/paths/~1DocumentReference/get/responses/200/content/application~1json/schema/definitions/ListOfCoding"
                    },
                    "author": {
                      "$ref": "#/paths/~1DocumentReference/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "custodian": {
                      "$ref": "#/paths/~1DocumentReference/get/responses/200/content/application~1json/schema/definitions/ResourceReference"
                    },
[...]
