{
  "openapi": "3.0.3",
  "info": {
    "title": "Ziflow API",
    "description": " ## Welcome to the Ziflow API \n The Ziflow API is built to allow you to easily and quickly embed Ziflow\u2019s proofing features in your own application or create an integration between Ziflow and any other application. This API is the same one we use to power Ziflow! \n The API is a RESTful interface, essentially providing programmatic access to the features and data in the system. If you\u2019ve interacted with a RESTful API before, many of the concepts will be familiar - it provides predictable URLs for accessing resources and uses built-in HTTP features. \n  The API accepts JSON or form-encoded content in requests, and returns JSON content in all of its responses, including errors. Only the UTF-8 character encoding is supported for both requests and responses.\n  ### Base domain \n API calls to Ziflow should be made to the https://api.ziflow.io/v1 . \n  ### Security & Authentication \n The Ziflow API is an SSL-only API. You must be a verified user to make API requests. Ziflow currently supports basic authentication using an API token. The API token can be found on your \u201cContact Details\u201d page. To access, click on your avatar in the top right and select \"View Profile\". From there, click on \"API Key.\" \n\n We recommend using Header API  key parameter authentication method. \n  \n  ### JSON validation \n \n If you get some errors on POST or PUT requests, please use this <a href=\"https://jsonformatter.curiousconcept.com/\" target=\"_blank\" rel=\"noopener noreferrer\">JSON Validator</a> to check if your request's body is properly formatted. \n \n Code generation from the documentation is possible; however, we don't support any modifications or required fixes for output code. \n \n ### Possible response status codes:\n  | Status code | Description |\n|---|---|\n| 200 | Success |\n| 201 | Success |\n| 400 | Bad Request - JSON parse error |\n| 401 | Unauthorized |\n| 403 | Forbidden |\n| 405 | Method not allowed |\n| 404 | Not found |\n| 422 | Unprocessable Entity - validation exception |\n| 429 | Too many requests - you\u2019ve exceeded the <a href=\"https://help.ziflow.com/hc/en-us/articles/46361971776020-API-rate-limits\" target=\"_blank\" rel=\"noopener noreferrer\">API rate limits</a> |",
    "version": "v1",
    "license": {
      "name": "Proprietary",
      "url": "https://www.ziflow.com/terms-of-service"
    },
    "x-logo": {
      "url": "https://ziflow-automation-testing.s3.us-east-1.amazonaws.com/logo/Ziflow+Developers.svg"
    }
  },
  "servers": [
    {
      "url": "https://api.ziflow.io/v1"
    }
  ],
  "tags": [
    {
      "name": "PROOFS",
      "description": "Proofs are one of the fundamental building blocks of Ziflow. \n It is important to note the distinction between how proofs are represented within the application versus the API:\n - Application: Only the latest version of a proof is visible to a user who is logged into the application. If a proof has 4 versions, the user would see v4, with v1 to v3 sitting \"behind\" the latest version. \n - API: Each version is its own proof object, and versions are linked by a parent ID, thereby creating a linked list of proof objects."
    },
    {
      "name": "STAGES",
      "description": "Stages are a key component of the Ziflow proofing process. They define the sequence in which reviewers will be allowed to review proofs and may be used to enforce a specific review phases. \n \n Each stage has its own set of reviewers and settings, which can be customized to fit the needs of your team. Stages can be added, removed, or rearranged as needed."
    },
    {
      "name": "REVIEWERS",
      "description": "Reviewers are users and/or non-users (guests) on a proof who review and approve assets.\n \n The methods here are used to add and manage those reviewers on a proof. \n \n Note: \n - Reviewers may belong to multiple stages on a proof, and the methods always require the stage ID to be provided. \n - If a reviewer belongs to multiple stages, their email notification will be the same across all stages. If the notification setting is changed in one stage, it will change in all other stages on that proof. \n - Reviewer permissions are stage-specific, so if a reviewer belongs to multiple stages, they may have different permissions for each stage on the proof."
    },
    {
      "name": "COMMENTS",
      "description": "Comments, replies and markups are made on proofs by reviewers to provide feedback on the content and design of the original file(s) or site."
    },
    {
      "name": "COMMENT LABELS",
      "description": "Labeling comments allow reviewers and proof managers to categorize and filter comments by type."
    },
    {
      "name": "FOLDERS",
      "description": "Folders help organize proofs into a logical structure e.g. projects, time, etc. Folders may contain any number of sub-folders. Available on Pro and Enterprise editions, and on Standard public folders only."
    },
    {
      "name": "WORKFLOW TEMPLATES",
      "description": "Workflow templates allow administrators to preconfigure the stages and reviewers based on existing review and approval processes. The templates are then used by proof managers during the proof creation step to automatically populate the stages and reviewers."
    },
    {
      "name": "DECISION REASONS",
      "description": "Setting and using reasons for decisions allow reviewers and proof managers to justify why certain decision was made. \n \n Available on Pro and Enterprise editions only."
    },
    {
      "name": "CUSTOM PROPERTIES",
      "description": "In Ziflow, proofs can hold user-specified custom properties which provide extra information about a proof in addition to the built-in fields that Ziflow provide. \n \n  Note: Custom Properties is an Enterprise edition feature. \n \n  For more information please see our <a href=\"https://help.ziflow.com/hc/en-us/articles/30725097797396-Custom-Proof-Properties-and-Tags\" target=\"_blank\" rel=\"noopener noreferrer\">help section</a>."
    },
    {
      "name": "PEOPLE",
      "description": "People in your Ziflow account are categorized into three categories: \n \n 1. Users in your account \n \n 2. Users from other accounts \n \n 3. Guests - these are users without Ziflow user accounts."
    },
    {
      "name": "WEBHOOKS",
      "description": "Webhooks allow you to subscribe to changes and be notified of these changes as they occur. \n Webhooks are basically an easy way to receive notification of changes (Events) via an HTTP POST instead of polling for them. For services accessible via HTTP this is vastly more convenient and efficient. \n \n Ziflow currently sends one Event object per POST. We will later on extend this and send arrays of Event objects per POST which should be handled by the target. \n \n Event sending will be retried if \n * we cannot reach endpoint URL \n * service takes longer than 5 seconds to respond \n * responds with HTTP status codes: 400, 401, 403, 404, 405. \n \n We retry to send the event max 16 times and retry number is visible in \"attempt_number\" field. Retries will occur with an exponential backoff based on the next attempt number. So the first retry will happen in 2 seconds, the second retry in 4 seconds, the third retry in 8 seconds, etc. \n \n  Request contains custom headers \"x-ziflow-version\" and \"x-ziflow-signature\". Signature is generated when subscription configuration contains \"signature_key\" value. It is calculated using SHA-256 from signature key, HTTP method, URI and raw request body - see example and details on <a href=\"https://help.ziflow.com/hc/en-us/articles/30725068740244-Webhooks\" target=\"_blank\" rel=\"noopener noreferrer\">Help Page</a>. \n \n ### Webhooks Setup \n \n Webhook Subscriptions tell Ziflow what a particular app would like to get notified about. We currently support the following subscription types: \n Proof events: \n * Created \n * Processed (succeeded or failed) \n * Deleted \n * Restored \n * Status change \n * Opened \n * Proof Updated \n * Comments & Replies \n * @mentions \n * Decisions \n * Review completed \n * PDF summary exports \n * PDF comments exports \n * Stage started \n * Proof Shared \n * Stage locked \n * Comment reaction \n * Stage deadline passed \n \n ### Managing Subscriptions via the UI \n \n  You can create and manage webhooks via the UI. Setup details can be found on our <a href=\"https://www.ziflow.com/help/webhooks\" target=\"_blank\" rel=\"noopener noreferrer\">help page</a> \n \n ### Webhook Payload \n \n Below table describes specific values which can be returned in some of the event's fields: \n| Field path | Allowed values | Description |\n| --- | --- | --- |\n| proof_event / action | created, deleted, restored, changed, failed, processed, updated, status, comment, decision, opened, summary, complete_review, mention, shared, stage_started, stage_locked, comment_reaction, stage_deadline_passed, pdf_with_comments | Defines an action made on the proof |\n| proof_event / comment_event / action | created, deleted, changed | Defines an action made on the comment |\n| proof_event / decision_event / decision | changes_required, approved_with_changes, approved, not_relevant, pending | When \"action\" field value is \"decision\", object represents the decision made by a reviewer |\n| proof_event / status_event / status | changes_required, approved_with_changes, approved, not_relevant, pending | When \"action\" field value is \"status\", object represents calculated proof decision status |\n| proof_event / stage_started_event / type | manual, automated | When \"action\" field value is \"stage_started\", object represents information about how it was started. \"automated\" is for stage triggered as a result of workflow setup. \"manual\" is when someone manually starts the stage |\n| proof_event / stage_locked_event / type | locked_manually, locked_automatically | When \"action\" field value is \"stage_locked\", object represents information about how it was locked/unlocked. \"locked_automatically\" is when stage has been locked after one of the following conditions are met: \"When all decisions are made\", \"When the deadline is reached\", \"When the other stage(s) start\". \"locked_manually\" or \"unlocked_manually\" is when someone manually locks/unlocks the stage | \n \n ### Information about edited proof in webhook request \n \n Below table describes specific values which can be returned in some of the event's fields after proof update:\n | Update type path | Value | Update details path | Allowed values | Description |\n| --- | --- | --- | --- | --- |\n| proof_event / update_type / type | property | proof_event / update_type / field | name, minor_version, allow_source_download, lock_on_decisions, suppress_creation_email, proof_security, electronic_signatures, subscription_enabled, subscription_stage, subscription_permission | Information about proof properties update |\n| proof_event / update_type / type | stage_properties | proof_event / update_type / field | skip, stage_trigger, deadline, lock, final_status_calculation, allow_private_comments, allow_public_comments, send_new_proof_email, custom_email_subject, custom_email_message | Information about stage properties update |\n| proof_event / update_type / type | custom_property | proof_event / update_type / field | type: String  <br>Custom property ID | Information about custom property update on proof |\n| proof_event / update_type / type | version_changed | proof_event / update_type / field | parent_version | Change of parent version |\n| proof_event / update_type / type | version_disconnected | proof_event / update_type / field | parent_version | Proof version disconnected from the set |\n\n  The endpoint URL you specify in the Webhook subscription will receive requests like the following: \n <pre>{\n  \"events\": [\n    {\n      \"event_id\": \"48219ea8-5b74-4c50-9dc2-11b01d218fbd\",\n      \"webhook_id\": \"d8bb19a0-198c-4ec8-b569-c4166bf37ef2\",\n      \"contact\": {\n        \"id\": \"ec2b4aee-42b6-42f8-92cd-264d1c9d4d0c\",\n        \"type\": \"user\",\n        \"first_name\": \"User\",\n        \"last_name\": \"Name\",\n        \"email\": \"name@domain.com\",\n        \"roles\": [\n          \"manager\"\n        ],\n        \"phone\": \"+4412345678911\",\n        \"company\": \"ABC Inc\",\n        \"tenant\": {\n          \"tenant_id\": \"ab6d3631-b96b-49da-92c4-6b0af7fc1b48\",\n          \"subdomain\": \"your-subdomain\",\n          \"company_name\": \"Awesome Company\"\n        },\n        \"verified\": true,\n        \"blocked\": false,\n        \"timezone\": \"Europe/London\"\n      },\n      \"event_type\": \"proof\",\n      \"proof_event\": {\n        \"proof_id\": \"35b26dd9-4e8c-4fc5-a9ec-c68c8fb2e086\",\n        \"version_previous_id\": \"79b26dd9-6e8c-4fc5-bg9e-c68c8fb4g254\",\n        \"action\": \"comment\",\n        \"pass_through_value\": \"1f1782e1\",\n        \"comment_event\": {\n          \"comment_id\": \"e92a3091-d5d0-4d89-89bf-3b93a468bf97\",\n          \"parent_id\": \"gb6f6f4f-8b71-4351-b9be-4007aad67528\",\n          \"reviewer_id\": \"b17b7fc0-d4a4-4d68-a69c-0a2867b59028\",\n          \"action\": \"created\",\n          \"text\": \"Comment text\",\n          \"like\": false,\n          \"labels\": [\n            {\n              \"id\": \"gb6f6f4f-8b71-4351-b9be-4007aad67528\",\n              \"label\": \"To do\"\n            }\n          ],\n          \"resolved\": true\n        },\n        \"comment_reaction_event\": {\n          \"status\": true,\n          \"type\": \"INSIGHTFUL\",\n          \"comment_id\": \"af1f6f4f-8b71-4351-b9be-4007aad62266\",\n          \"reviewer_id\": \"79b21dd9-6e8c-4fc5-bg9e-c68c8fb4g254\"\n        },\n        \"decision_event\": {\n          \"reviewer_id\": \"af1f6f4f-8b71-4351-b9be-4007aad62266\",\n          \"stage_id\": \"af1f6f4f-8b71-4351-b9be-4007aad62266\",\n          \"decision\": \"changes_required\",\n          \"decision_status_label\": \"Must be changed\",\n          \"decision_checklist\": {\n            \"options\": [\n              {\n                \"id\": \"3c8502ed-a946-4596-9d53-21cf60553bd2\",\n                \"label\": \"Wrong branding usage\",\n                \"additional_text\": \"Will accept after the update\",\n                \"text_field_available\": true,\n                \"order\": 0\n              }\n            ]\n          }\n        },\n        \"status_event\": {\n          \"status\": \"approved\",\n          \"decision_status_label\": \"Fully approved\"\n        },\n        \"opened_event\": {\n          \"reviewer_id\": \"af1f6f4f-8b71-4351-b9be-4007aad62266\"\n        },\n        \"summary_event\": {\n          \"request_id\": \"gb6f6f4f-8b71-4351-b9be-4007aad67528\",\n          \"location\": \"https://s3.amazonaws.com/ziflow-proofs/Pdfs/18c-9c360-v1-1534.pdf\"\n        },\n        \"pdf_with_comments\": {\n          \"request_id\": \"gb6f6f4f-8b71-4351-b9be-4007aad67528\",\n          \"location\": \"https://s3.amazonaws.com/ziflow-proofs/Pdfs/18c-9c360-v1-1534.pdf\"\n        },\n        \"completed_event\": {\n          \"reviewer_id\": \"af1f6f4f-8b71-4351-b9be-4007aad62266\",\n          \"marked_done\": true\n        },\n        \"mention_event\": {\n          \"comment_id\": \"af1f6f4f-8b71-4351-b9be-4007aad62266\",\n          \"email\": \"name@domain.com\"\n        },\n        \"stage_started_event\": {\n          \"stage_id\": \"af1f6f4f-8b71-4351-b9be-4007aad62266\",\n          \"type\": \"manual\"\n        },\n        \"stage_locked_event\": {\n          \"stage_id\": \"af1f6f4f-8b71-4351-b9be-4007aad62266\",\n          \"type\": \"locked_manually\"\n        },\n        \"shared_event\": {\n          \"stage_id\": \"af1f6f4f-8b71-4351-b9be-4007aad62266\",\n          \"reviewer_id\": \"af1f6f4f-8b71-4351-b9be-4007aad62266\"\n        }\n      },\n      \"update_type\": [\n        {\n          \"type\": \"property\",\n          \"field\": \"name\"\n        },\n        {\n          \"type\": \"stage_properties\",\n          \"field\": \"custom_email_message\"\n        },\n        {\n          \"type\": \"custom_property\",\n          \"field\": \"af1f6f4f-8b71-4351-b9be-4007aad62266\"\n        }\n      ],\n      \"created_at\": \"2018-06-13T04:50:35.521Z\",\n      \"attempt_number\": 1,\n      \"attempt_at\": \"2018-06-13T04:50:35.664Z\"\n    }\n  ]\n}</pre> "
    },
    {
      "name": "INTEGRATIONS",
      "description": "Endpoints for managing integrations with third-party applications and services. These endpoints allow you to retrieve information about available integrations, their properties, and connections."
    },
    {
      "name": "SCIM",
      "description": "System for Cross-domain Identity Management (SCIM) is a standard for automating the exchange of user information between IT systems.\n Our Public API follows SCIM 2.0 Internet Engineering Task Force (IETF) RFCs 7643 documentation available here: <a href=\"https://www.rfc-editor.org/rfc/rfc7643\" target=\"_blank\" rel=\"noopener noreferrer\">https://www.rfc-editor.org/rfc/rfc7643</a>"
    },
    {
      "name": "RELEASE NOTES",
      "description": "## Release 26.4\n\n### 18th February 2026\n\n* **Added**: New endpoint [PUT /scim/v2/Users/{user_id}](#tag/SCIM/operation/putScimV2UsersId) allowing to update user.\n\n* **Updated**: SCIM POST Users allow to set user role [POST /scim/v2/Users](#tag/SCIM/operation/postScimV2Users)\n\n## Release 26.3\n\n### 4th February 2026\n\n* **Added**: New section [STAGES](#tag/STAGES)\n* **Added**: New endpoint [PUT /proofs/{id}/stages/{stage_id}](#tag/STAGES/operation/putProofsProofIdStagesStageId) allowing to update proof's stage.\n* **Updated**: Moved [PUT /proofs/{id}/stages/{stage_id}/start](#tag/STAGES/operation/putProofsProofIdStagesStageIdStart) and [PUT /proofs/{id}/stages/{stage_id}/final-status-calculation](#tag/STAGES/operation/putProofsProofIdStagesStageIdFinal-status-calculation) endpoints description to [STAGES](#tag/STAGES) section.\n\n* **Updated**: SCIM GET Users will respond with user role:\n\n - [GET /scim/v2/Users](#tag/SCIM/operation/getScimV2Users/) to retrieve user data with roles\n\n## Release 26.2\n\n### 21st January 2026\n\n* **Added**: New endpoints which allow to retrieve status of requested proof export to PDF and URL for downloading file:\n  - [GET /proofs/{id}/comments/pdf/{request_id}](#tag/PROOFS/operation/getProofsIdCommentsPdfRequestId) to retrieve proof PDF with comments,\n  - [GET /proofs/{id}/summary/pdf/{request_id}](#tag/PROOFS/operation/getProofsIdSummaryPdfRequestId) to retrieve proof PDF summary.\n\n## Release 25.19\n\n### 17th September 2025\n\n* **Updated**: Renamed section DECISION CHECKLIST to [DECISION REASONS](#tag/DECISION-REASONS)\n* **Updated**: Deprecated endpoints (will be discontinued within the next couple of months):\n  - [GET /decision-checklist](#tag/DECISION-REASONS/operation/getDecision-checklist)\n  - [PUT /decision-checklist](#tag/DECISION-REASONS/operation/putDecision-checklist)\n  - [POST /decision-checklist/options](#tag/DECISION-REASONS/operation/postDecision-checklistOptions)\n  - [GET /decision-checklist/options/{option_id}](#tag/DECISION-REASONS/operation/getDecision-checklistOptionsOptionId)\n  - [PUT /decision-checklist/options/{option_id}](#tag/DECISION-REASONS/operation/putDecision-checklistOptionsOptionId)\n  - [DELETE /decision-checklist/options/{option_id}](#tag/DECISION-REASONS/operation/deleteDecision-checklistOptionsOptionId)\n* **Added**: New endpoints to replace deprecated ones:\n  - [GET /decision-reasons](#tag/DECISION-REASONS/operation/getDecision-reasons) - replaces GET /decision-checklist\n  - [PUT /decision-reasons](#tag/DECISION-REASONS/operation/putDecision-reasons) - replaces PUT /decision-checklist\n  - [POST /decision-reasons/options](#tag/DECISION-REASONS/operation/postDecision-reasonsOptions) - replaces POST /decision-checklist/options\n  - [GET /decision-reasons/options/{option_id}](#tag/DECISION-REASONS/operation/getDecision-reasonsOptionsOptionId) - replaces GET /decision-checklist/options/{option_id}\n  - [PUT /decision-reasons/options/{option_id}](#tag/DECISION-REASONS/operation/putDecision-reasonsOptionsOptionId) - replaces PUT /decision-checklist/options/{option_id}\n  - [DELETE /decision-reasons/options/{option_id}](#tag/DECISION-REASONS/operation/deleteDecision-reasonsOptionsOptionId) - replaces DELETE /decision-checklist/options/{option_id}\n\n## Release 25.16\n\n### 6th August 2025\n\n* Updated: [PUT /proofs/{id}](#tag/PROOFS/operation/putProofsId), [POST /proofs](#tag/PROOFS/operation/postProofs), [PUT /workflowtemplates/{id}](#tag/WORKFLOW-TEMPLATES/operation/putWorkflowtemplatesTemplateId), [POST /workflowtemplates](#tag/WORKFLOW-TEMPLATES/operation/postWorkflowtemplates)\nrequests updated. `stages[].stage_trigger.deadline.days` field max value extended to 100.\n\n## Release 25.12\n\n### 11th June 2025\n\n* Updated: Extended endpoint [GET /proofs{id}/activities](#tag/PROOFS/paths/~1proofs~1{id}~1activities/get) with support for new activity types and updated content models for activity log responses. Available only on Enterprise edition.\n\n## Release 25.11\n\n### 28th May 2025\n\n* Added: Experimental endpoint [POST /proofs/search/activity](#tag/PROOFS/paths/~1proofs~1search~1activity/post) allowing to search for proofs by last activity date range.\n  Available\n  only on Enterprise edition.\n* Added: Experimental endpoint [GET /proofs{id}/activities](#tag/PROOFS/paths/~1proofs~1{id}~1activities/get)  allowing to get proof activity log with detailed information about\n  proof's activity - currently limited only to selected activity types. Available only on Enterprise edition.\n\n## Release 25.6\n\n### 19th March 2025\n\n* Updated: Experimental endpoint [GET /proofs/id/emails](#tag/PROOFS/operation/getProofsIdEmails) changed response body to return presigned URL to email content.URL is\n  valid for 5 minutes since generation.\n* Updated: [POST /proofs/{id}/comments](#tag/COMMENTS/operation/postProofsIdComments) added limit of 10000 characters for request comment field.\n\n## Release 25.3\n\n### 5th February 2025\n\n* Added: [GET /proofs/{id}/emails](#tag/PROOFS/operation/getProofsIdEmails)\n\n## Release 25.1\n\n### 8th January 2025\n\n* Updated: [GET /proofs](#tag/PROOFS/operation/getProofs) and [GET /proofs/id](#tag/PROOFS/operation/getProofsId)\n  response body with new field `labels` on integration properties level.\n* Updated: [POST /proofs/{id}/integration-properties](#tag/PROOFS/operation/postProofsIdIntegration-properties)\n  and [GET /proofs/{id}/integration-properties](#tag/PROOFS/operation/getProofsIdIntegration-properties)\n  request and response body with new field `labels`.\n\n# 2024\n\n## Release 24.23\n\n### 21st November 2024\n\n* Added: [GET /folders/{id}/folder-url](#tag/FOLDERS/operation/getFoldersIdFolder-url)\n\n## Release 24.21\n\n### 23rd October 2024\n\n* Updated [GET /comments/id](#tag/COMMENTS/operation/getProofsIdCommentsCommentId) and [GET /comments](#tag/COMMENTS/operation/getProofsIdComments) response body\n  with new field `source` on comment and reply object level.\n\n## Release 24.20\n\n### 9th October 2024\n\n* Updated: [GET /proofs](#tag/PROOFS/operation/getProofs), [GET /proofs/id](#tag/PROOFS/operation/getProofsId)  - new field `image_link` added to the response proof object\n  containing URL to proof's image_link\n* Updated: [GET /proofs](#tag/PROOFS/operation/getProofs), [GET /proofs/id](#tag/PROOFS/operation/getProofsId) - field `thumbnail_link` containing URL to proof's\n  thumbnail_link\n* Updated: [Proofs](#tag/PROOFS) responses extended with new field `decision_date`\n* Updated: [Reviewers](#tag/REVIEWERS) responses extended with new field `decision_date`\n* Updated: [Workflow templates](#tag/WORKFLOW-TEMPLATES) responses extended with new field `decision_date`\n\n## Release 24.19\n\n### 25th September 2024\n\n* Updated: [GET /folders](#tag/FOLDERS/operation/getFolders) response extended with new field `folder_link`\n* Updated: [GET /folders/id](#tag/FOLDERS/operation/getFoldersId) response extended with new field `folder_link`\n* Updated: [GET /proofs](#tag/PROOFS/operation/getProofs) response extended with new field `folder_link`\n* Updated: [GET /proofs/id](#tag/PROOFS/operation/getProofsId) response extended with new field `folder_link`\n\n## Release 24.14\n\n### 17th July 2024\n\n* Updated: [GET /folders/id](#tag/FOLDERS/operation/getFoldersId) with new query parameter `include`\n\n# 2023\n\n## Release 23.23\n\n### 22nd November 2023\n\n* Updated: [Webhooks](#tag/WEBHOOKS) with new event `pdf_with_comments`\n* Added: [POST proofs/{id}/comments/pdf](#tag/PROOFS/operation/postProofsIdCommentsPdf) - request to trigger exporting proof's comments to PDF file. Request's body\n  requires endpoint URL where summary webhook event will be send.\n* Added: [GET proofs/{id}/comments/pdf](#tag/PROOFS/operation/getProofsIdCommentsPdf) - request to trigger exporting proof's comments to PDF file. Request requires\n  webhook endpoint to be configured in the account settings with `pdf_with_comments` event type set for `true`\n* ## Release 23.22\n* ### 8th November 2023\n* Updated: [Webhooks](#tag/WEBHOOKS) with new event `stage_deadline_passed`\n\n## Release 23.18\n\n### 13th September 2023\n\n* Updated: [Webhooks](#tag/WEBHOOKS) with new field `stage_id` for decision_event\n\n## Release 23.16\n\n### 21st August 2023\n\n* Updated: [PUT users/id](#tag/PEOPLE/operation/putUsersIdentifier) extended with new field `company` and `language`\n* Updated: [PUT guests/id](#tag/PEOPLE/operation/putGuestsId) extended with new field `group` and `language`\n* Updated: [POST /users](#tag/PEOPLE/operation/postUsers) extended with new fields `company` and `language`\n\n## Release 23.15\n\n### 2nd August 2023\n\n* Added: [GET /intake-forms](#tag/INTEGRATIONS/operation/getIntake-forms)\n* Updated: [GET users/id](#tag/PEOPLE/operation/getUsersIdentifier), [GET users/email](#tag/PEOPLE/operation/getUsersIdentifier) and [GET users](#tag/PEOPLE/operation/getUsers) extended\n  with new field `2fa_enabled` and `language`\n* Updated: [POST /guests](#tag/PEOPLE/operation/postGuests) extended with new fields `language` and `group`\n* Updated: [GET /contacts](#tag/PEOPLE/operation/getContacts), [GET /contacts/id](#tag/PEOPLE/operation/getContactsIdentifier)\n  and  [GET /contacts/email](#tag/PEOPLE/operation/getContactsIdentifier) extended with new fields `language`\n\n## Release 23.14\n\n### 19th July 2023\n\n*\n\nUpdated: [GET /users](#tag/PEOPLE/operation/getUsers), [GET /users/{id}](#tag/PEOPLE/operation/getUsersIdentifier), [GET /users/{email}](#tag/PEOPLE/operation/getUsersIdentifier), [POST /users](#tag/PEOPLE/operation/postUsers)\nand [PUT /users/{id}](#tag/PEOPLE/operation/putUsersIdentifier) extended with `proofing_defaults` object\n\n* Updated: [GET /proofs](#tag/PROOFS/operation/getProofs) and [GET /proofs{id}](#tag/PROOFS/operation/getProofsId) response extended with new field `integration_properties`\n  containing information about integration fields on the proof\n* Updated: [POST proofs/search](#tag/PROOFS/operation/postProofsSearch) request body extended with `integration_properties` object allowing to search for proofs with provided\n  Integration Properties\n* Added: new section [INTEGRATIONS](#tag/INTEGRATIONS) with endpoints to obtain available application integration's details\n\n## Release 23.8\n\n### 26th April 2023\n\n* Updated: POST /proofs, PUT /proofs/{id}, POST /workflowtemplates, PUT /workflowtemplates/{template_id} in `stage_trigger`, `deadline` extended with a new field `hours`\n  which contains number of hours set in deadline. Available only on Enterprise edition\n\n## Release 23.7\n\n### 13th April 2023\n\n* Added: GET /folders/{id}/share endpoint which returns folder shareable link and it's settings\n* Added: PUT /folders/{id}/share endpoint which allows users to update folder shareable link settings\n* Added: PUT /proofs/{id}/comments/{id}/reactions which allows users to add comment reactions\n* Added: new webhooks subscription - new event `comment_reaction`\n* Updated: GET /comments response extended with new field `reactions` that contains all reactions made on particular comment\n\n## Release 23.2\n\n### 1st February 2023\n\n* Updated: New field in POST /proofs/{id}/comments `location` named `asset_id` which contains ID of an asset you want to add a comment to\n* Updated: POST /proofs with `merge_files` that allows to merge all kinds of files rich media and static, only static or none\n\n## Release 23.01\n\n### 18th January 2023\n\n* Updated: POST and GET requests for Export comments to PDF extended with new query param/body field Stage Summary which defines presence and scope of proof's workflow section in\n  the export\n* Updated: GET /comments request extended with query param `format` allowing to format comment text\n\n# 2022\n\n## Release 22.25\n\n### 21st December 2022\n\n* Added: New authentication method: Bearer token, allowing to use API key as Bearer token value\n* Updated: New field in GET /proofs response body in `source_files` named `asset_id` which contains ID of an asset, useful when working with combined/multiasset proofs\n* Added: New section SCIM with endpoints to manage users aligned with RFC standard\n\n## Release 22.23\n\n### 23rd November 2022\n\n* Updated: POST proofs/search request body extended with object `stages` with fields `status` and `reviewers` with `decision_status` that allows to filter proof by stage\n  status, reviewers on stage and their decision status\n\n## Release 22.21\n\n### 26th October 2022\n\n* Updated: new webhooks subscription type `stage_locked` with `stage_locked_event`. Available only on Enterprise edition\n*\n\n## Release 22.19\n\n### 28th September 2022\n\n* Updated: Webhooks: new fields `subscription_enabled`, `subscription_stage`, `subscription_permission` for type: property in proof_event/update_type\n* Updated: `email_branding` object extended with `replace_all_proof_urls` field which allows to replace all links pointing to Ziflow Viewer\n* Updated: /POST/GET proofs, /POST/PUT/GET proofs/{proof_id} with `subscription` object allowing anyone to subscribe to the proof and make comments and/or decisions. Available on\n  Starter, Business and Enterprise editions\n\n## Release 22.18\n\n### 14th September 2022\n\n* Updated: /POST proofs, /POST/PUT proofs/{proof_id} with `require_electronic_signature` field. Available on Enterprise edition only.\n* Updated: Proof and Stage objects extended with `progress` (`notified`, `opened`, `commented`, `completed`)\n* Updated: /PUT proofs/{proof_id} with possibility to set `version_previous_id` allowing to update previous version of the proof\n\n## Release 22.17\n\n### 31st August 2022\n\n* Updated: GET proofs/{id}/proof-url query parameters - new param expireAfterFirstUse allowing to expire proof URL after first use\n* Updated: /GET proofs, /GET proofs/{proof_id} with require_electronic_signature field. Available on Enterprise edition only.\n* Updated: Member object with `electronically_signed` field - affecting GET proof, workflowtemplate, reviewer by ID/email request's responses\n* Updated: Add comment is now possible for rich media and live website proofs\n* Added: Webhooks: new field `electronic_signatures` for type: property in proof_event/update_type\n* Added: Webhooks: new field `electronically_signed` for decision_event\n\n## Release 22.15\n\n### 3rd August 2022\n\n* Updated: POST /proofs and PUT /proofs/{proof_id} request body extended with `brief` object that contains `text` field allowing to set text in Brief section. Available on\n  Business and Enterprise editions only.\n* Updated: GET /proofs, /proofs/{proof_id} response body extended with `brief` object that contains `text` field\n* Updated: PUT /users/{id} request body extended with `company` field\n\n## Release 22.13\n\n### 6th July 2022\n\n* Added: new endpoints to create, update and delete Custom Property Groups. Allowed only for admins on Enterprise edition.\n\n## Release 22.12\n\n### 22nd June 2022\n\n* Updated: POST proofs/search request body extended with field `proof_id` that allows to search for multiple proofs by their IDs.\n\n## Release 22.10\n\n### 25th May 2022\n\n* Updated: POST proofs/search request body extended with field `pass_through_value` that allows to filter proof by their `pass_through_value`\n\n## Release 22.6\n\n### 31st March 2022\n\n* Added: webhook subscription type: `restored`.\n\n## Release 22.3\n\n### 17th February 2022\n\n* Added: PUT /v1/proofs/{proof_id}/stages/{stage_id}/final-status-calculation - set final status calculation type (`all_decisions`, `only_one_decision`,\n  `primary_decision_maker`) for specific stage.\n\n# 2021\n\n## Release 21.24\n\n### 24th November 2021\n\n* Updated: GET /proofs/{proof_id}/proof-url: URL expiration time in hours range starts now from 1.\n* Added: PUT /v1/proofs/{proof_id}/stages/{stage_id}/start - starts specific stage. Available only on Enterprise edition.\n\n## Release 21.22\n\n### 27th October 2021\n\n* Updated: Webhook event updated with new update type containing updates of custom properties on proofs.\n\n## Release 21.19\n\n### 15th September 2021\n\n* Updated: Webhook event structure for proof event action `updated` extended with `update_type: stage_properties`, object containing detailed info about the update\n* Added: new endpoint GET /custom-properties/proofs/groups/{group_id} allowing to get custom properties group by ID\n\n## Release 21.18\n\n### 1st September 2021\n\n* Updated: Webhook event structure for proof event action `updated` extended with `update_type` object containing detailed info about the update\n\n## Release 21.6\n\n### 17th March 2021\n\n* Added: new endpoint GET /contacts/email allowing to fetch contact data by providing the email\n\n## Release 21.2\n\n### 20th January 2021\n\n* Added: `shared` and `stage_started` webhooks subscription types along with webhook event update.\n* Added: Webhook subscription configuration extended with fields to handle signature key used in custom event headers\n* Added: Webhoook event extended with header `x-ziflow-signature` and `x-ziflow-version`\n* Changed: GET /proofs - `stages` array will be now ordered according to workflow triggers setting\n\n# 2020\n\n## Release 20.21\n\n### 10th December 2020\n\n* Updated: POST /proofs:  `input` object extended with `subtitles` array. Allows to define subtitle file for video proofs\n* Updated GET /proofs/summary/pdf: added query parameters allowing to define export type and markups in it\n* POST /proofs/summary/pdf: request body extended with `markup_thumbnails` allowing to define markup types\n\n## Release 20.20\n\n### 25th November 2020\n\n* Updated: GET contacts/ response body extended with `proofing_defaults` object\n* Added: POST, PUT and DELETE guests/ endpoints in PEOPLE section, allowing to manage guests and contacts\n* Updated: stage.lock.type field extended with new value `on_deadline` allowing to automatically lock the stage when the deadline is reached. Enterprise only.\n* Changed: On Enterprise edition, fixed deadline value for not started or dependant stages is available to set in stage.deadline field.\n\n## Release 20.19\n\n### 12th November 2020\n\n* Updated: GET /proofs response extended with `subtitles` object in `source_files`. Object contains information about subtitles file added to video proof\n\n## Release 20.17\n\n### 14th October 2020\n\n* Added a new `REVIEWERS` section.\n* Added: PUT, GET and DELETE endpoints to manage reviewers on a stage either by reviewer ID or email.\n\n## Release 20.8\n\n### 15th June 2020\n\n<a href=\"https://www.ziflow.com/blog/product-release-june-2020\" target=\"_blank\">Blog post</a>\n\n* Updated GET /users and GET users/id response with new field `accounts` containing information about accounts user is on. Visible to other users only if they are also on\n  specific account\n* Updated GET proofs response object with field `decision_status_label` for proof decision status, stage decision status and reviewer decision status representing custom decision\n  labels if they are set on the account (Business and Enterprise only feature)\n* Updated webhook event sent from Ziflow - status event and decision event extended with `decision_status_label` representing custom decision labels if they are set on the\n  account (Business and Enterprise only feature)\n* Added account setting in webapp allowing to turn off passing API key as query parameter\n\n## Release 20.2\n\n### 12th February 2020\n\n<a href=\"https://www.ziflow.com/blog/product-release-february-2020\" target=\"_blank\">Blog post</a>\n\n* Changed - GET /users and GET /contacts - response schema changed to introduce pagination\n\n## Release 20.1\n\n### 15th January 2020\n\n<a href=\"https://www.ziflow.com/blog/product-release-january-2020\" target=\"_blank\">Blog post</a>\n\n* Updated - Folder object in GET /folders GET /proofs updated with new field `folder_path` containing folder's IDs from top folder to specific subfolder\n\n# 2019\n\n## Release 19.11\n\n### Date: 20th November 2019\n\n<a href=\"https://www.ziflow.com/blog/product-release-november-2019\" target=\"_blank\">Blog post</a>\n\n* Updated: POST/GET /proofs/comments request - comment's `Location` object extended with new field `end_time'`, allowing to set the length of the comment for Audio-Video proofs\n\n## Release 19.10\n\n### Date: 30th October 2019\n\n* Updated: POST/GET/PUT /proofs, POST/GET/PUT /workflowtemplates POST /proofs/id/stages/id/reviewers - member object extended with `share` field in reviewer's permissions section\n  in request and response bodies\n* Updated: POST/GET/PUT /folders - request and response body extended with `archived` field allowing to archive/unarchive folder\n* Updated: POST /proofs/search request body - new field `fields` allowing to select which fields from proof objects matching search criteria should be returned in response body\n\n## Release 19.9\n\n### Date: 9th October 2019\n\n<a href=\"https://www.ziflow.com/blog/product-release-september-2019\" target=\"_blank\">Blog post</a>\n\n* Updated GET /proofs object - new field `thumbnail_link` added to response proof object containing URL to proof's thumbnail image\n* Updated POST /proofs/search - folders section in request body extended with optional field `include_subfolders` allowing to perform search in subfolders of selected folder\n\n## Release 19.7\n\n### Date: 7th August 2019\n\n<a href=\"https://www.ziflow.com/blog/product-release-july-2019\" target=\"_blank\">Blog post</a>\n\n* Added: POST/PUT/GET requests to manage custom property's options\n\n## Release 19.6\n\n### Date: 4th July 2019\n\n<a href=\"https://www.ziflow.com/blog/product-release-june-2019\" target=\"_blank\">Blog post</a>\n\n* Updated: GET proofs/id - proof and stage `status` field can now contain `view_only` value returned if reviewers on proof have only view or view & manage permissions\n* Updated: For stages/proofs without decision-making reviewers, proof will be in_progress until reviews are completed. Then it will move to `\"status\": \"completed\"`,\n  `\"decision_status\": null`\n* Updated: GET custom-properties/proofs/groups - property extended with new property type multi_select_tags and fields `default_color`, `allow_new_values` and\n  `include_in_search`\n* Updated: GET custom-properties/proofs/groups - options object extended with new field `color` having value for multi_select_list property type\n* Updated: POST proofs body - new field `append_stages` in `workflow_template` object: on Enterprise edition now it's possible to decide if template's, stages should replace\n  proof's, stages or should be appended at the end of the workflow\n* Updated: PUT proofs/id - `workflow_template` extended with `append_stages` added to update request, enabling replacing proof's, workflow with template or adding template's\n  stages to proof's workflow; action determined by `append_stages` field value. Available on Enterprise edition only\n* Updated: POST/GET/PUT proofs - request and response bodies extended in `stage` object with `stage_previous_id`, `skipped` and `skip` fields connected with Skip on new\n  version functionality\n\n## Release 19.5\n\n### Date: 4th June 2019\n\n<a href=\"https://www.ziflow.com/blog/product-release-may-2019\" target=\"_blank\">Blog post</a>\n\n* Added new request allowing to search proofs by given criteria POST /proofs/search\n* Updated - Stage object extended with new field `allow_public_comments`; forced to true on all editions except Enterprise, affected requests: POST/GET/PUT proofs, POST/GET/PUT\n  workflowtemplate\n\n## Release 19.4\n\n### Date: 7th May 2019\n\n<a href=\"https://www.ziflow.com/blog/product-release-april-2019\" target=\"_blank\">Blog post</a>\n\n* Added new trigger type `on_changes_required`\n* Added: Stage Trigger object extended with new field `or_deadline` so that dependent stage can start when decisions are made or when parent stage reaches it's deadline\n* Added: Proof object extended with `email_branding` field which allows you to define custom button present in all proof's emails. Available on Business and Enterprise editions\n  only\n* Added: Decision Checklist request's set allowing admins to manage decision checklist and users to retrieve options available on the account\n* Updated: POST /proofs/{id}/reviewers/status with decision checklist (request and response)\n* Updated: Member object in all requests and responses updated with `decision_checklist` field - affecting GET proof and GET workflowtemplate request's responses,\n* Updated: Webhook decision event updated with `decision_checklist` field\n\n## Release 19.3\n\n### Date: 28th March 2019\n\n<a href=\"https://www.ziflow.com/blog/product-release-march-2019\" target=\"_blank\">Blog post</a>\n\n* Added Basic account plan - including all Starter features except supporting *.zip and *.gif files as proof source and custom email message and subject in Stage object\n* Updated: GET /v1/proofs/{id}/comments to return markers drawn using free-hand tool\n\n## Release 19.2\n\n### Date: 28th February 2019\n\n<a href=\"https://www.ziflow.com/blog/product-release-2019-02\" target=\"_blank\">Blog post</a>\n\n* Updated: Webhook event structure extended with new fields `labels` and `resolved` in `comment_event`\n* Updated: POST comment request body updated with new fields `labels` and `resolved` allowing to label and resolve or unresolve comment on creation. Available only for proofs\n  created on Business and Enterprise editions\n* Added: PUT /v1/proofs/{id}/comments/{comment-id}/labels - request to put a label on the specific comment. Available only for proofs created on Business and Enterprise editions\n* Added: PUT /v1/proofs/{id}/comments/{comment-id}/resolve - request to resolve specific comment. Available only for proofs created on Business and Enterprise editions\n\n#### Available only on Business and Enterprise editions:\n\n* Added: GET /v1/comment-labels - returns list of all labels on the account\n* Added: GET /v1/comment-labels/{label-id} - returns specific label\n* Added: POST /v1/comment-labels - creates a new label\n* Added: PUT /v1/comment-labels/{label-id} - updates specific label\n* Added: DELETE /v1/comment-labels - deletes specific label\n\n#### All editions:\n\n* Added: GET /v1/proofs/{id}/proof-url - returns personal proof URL for request author or reviewer specified by query parameter `email`\n* Updated: GET comment response body - new fields `labels` and `comment_resolve` containing information about labels and resolving activities\n\n## Release 19.1\n\n### Date: 5th February 2019\n\n<a href=\"https://www.ziflow.com/blog/product-update-january-2019\" target=\"_blank\">Blog post</a>\n\n* Updated: POST/GET/PUT proof request and response body and webhook event structure updated with new field `pass_through_value`\n* Updated: POST/GET/PUT proof request and response body updated with new field `proof_security` which overrides `secure_proofing` and `require_sign_in` fields. If not\n  provided, mentioned fields are applied. Value `users_and_guests_authentication_required` is available only on Enterprise edition\n* Updated: GET comments response body now returns tags used in text markups: SELECT, REPLACE, INSERT and DELETE - for detailed structure see GET comment response body description\n* Updated: POST user with `\"verified\": true` does not require `password` field if you are adding user from other Ziflow account\n\n# 2018\n\n## Release 18.11\n\n### Date: 23rd November 2018\n\n* Added: GET/v1/webhooks - returns list of current webhook subscriptions\n* Updated: Webhooks configuration updated with new subscription types: review completed and @mentions\n* Updated: GET/PUT proofs updated with `archived` field allowing to archive proof\n* Updated: POST/PUT proofs and workflow templates now allow to have proof owner as reviewer on multiple stages. Available only on Enterprise edition\n\n## Release 18.10\n\n### Date: 25th October 2018\n\n* Added: POST/PUT/DELETE/v1/workflowtemplates - request to add, update and delete workflow templates. Enterprise edition feature\n* Updated: GET/v1/workflowtemplates response body - Member object in Stage extended with `proof_owner` boolean field\n* Added: GET/v1/workflowtemplates/{template_id} request to get a specific template\n* Added: GET/v1/custom-properties/proofs/groups - request to get the Custom Property groups defined on an account. Enterprise edition feature. Note: For users without admin rights,\n  only active groups are returned in the response\n* Updated: POST/v1/proofs request body - Input object extended with `nickname` field to allow passing S3 credentials defined in the account settings\n* Changed: Allow the same reviewer on multiple stages. Enterprise edition feature\n* Added: Exporting comments to pdf is now available for all proof media types\n* Updated: DELETE/v1/users/id - optional query param newOwner added. Allows to transfer proof ownership from deleted user to existing one. Forced mandatory if user is owner on at\n  least one proof. Param value must contain user ID of new owner\n\n## Release 18.9\n\n### Date: 18th September 2018\n\n* Updated: POST/PUT/GET/v1/proofs request and response bodies updated with `suppress_creation_email` allowing to suppress \\\"New proof created/failed\\\"` email\n* Updated: POST/PUT/GET/v1/proofs request and response bodies updated with `new_proof_email` property in Stage object allowing to suppress \\\"New proof to review\\\" email\n* Updated: POST/PUT/GET/v1/proofs request and response bodies updated with `allow_private_comments` enabling private comments on stage - available to set only on Enterprise\n  edition\n* Updated: GET/v1/workflowtemplates response body extended with `permissions` object containing permissions defining changes proof creator can make when using the template on\n  proof creation and later updates\n* Updated: POST/v1/proofs/proof_id/comments request body allowing to create private comments on stages where it's enabled, using `private` field value\n* Updated: Default Notification settings are now dependent on general account setting available for Admins in Ziflow web application only\n\n## Release 18.8\n\n### Date: 28th August 2018\n\n* Updated: POST/PUT/GET/v1/proofs request and response bodies updated with new boolean property `minor_version`\n* Updated: GET/v1/proofs response body - version number can be integer or double depending on `minor_version` field\n* Updated: GET/v1/proofs response body - stage object extended with status object, containing `status`, `decision_status` and `locked` properties. `locked` property can be\n  changed on Enterprise edition only\n* Updated: deadline update and calculation - stage field deadline can be set or updated for stages which are `in_progress` or during POST/v1/proofs have stage trigger type set to\n  `immediately`. On Starter and Business editions it's the only place where you can define deadline. Deadline object in stage trigger applies to stages which are `not_started`\n  so Enterprise edition only.\n* Changed: proof and stage `decision_status` is now calculated based on decisions only - if there are no decision-making reviewers, `decision_status` is set to `not_relevant`\n  and proof/stage `status` is set to `completed`\n* Updated: webhook configuration updated with `summary` event type which contains `request_id` and `location` properties.\n* Added: POST/v1/proofs/{id}/summary/pdf - request to trigger exporting proof's comments to PDF file. Request's body requires endpoint URL where summary webhook event will be send.\n* Added: GET/v1/proofs/{id}/summary/pdf - request to trigger exporting proof's comments to PDF file. Request requires webhook endpoint to be configured in the account settings with\n  `summary` event type set for `true`\n* Added: Comment can now contain reviewer mention using ${reviewer:reviewer_id}\n* Updated: GET/v1/workflowtemplates request is now available for users and managers in the account so they can create proofs via API using templates. Only active templates are\n  returned in this case while admin will still see all templates.\n* Changed: GET/v1/proofs - if reviewer is on stage which is `not_started`, proof won't be visible on proof list unless \\\"Allow reviewers to view previous versions\\\" setting is on\n  in proof owner's account settings (option available on Business and Enterprise only)\n\n## Patch 18.7.1\n\n### Date: 1st August 2018\n\n* Add reviewer request extended with moveReviewers optional query param - allows to move reviewers between stages\n* Added: GET/v1/proofs/{proof-id}/comments/{comment-id} - method to get specific comment\n* Updated: Webhook comment event extended with `reviewer_id` containing ID of reviewer performing action\n\n## Release 18.7\n\n### Date: 18th July 2018\n\n* Added:  POST/PUT/DELETE/v1/folders - method that allow you to create, update and delete folders. Please note Folders is only available on the business and Enterprise editions\n* Added: PUT/v1/users - method to update existing users\n* Updated: GET/v1/proofs - Members object now includes the field `created_by` which is the Contact who added the reviewer to the proof. This field is read-only\n* Updated: POST/PUT/v1/proofs and POST/proofs/{proof_id}/stages/{stage_id}/reviewers/ - default `notification` for reviewers is now `hourly_digest` and applies to newly added\n  reviewers, existing notification settings remain unchanged\n\n## Release 18.6\n\n### Date: 4th July 2018\n\n* POST user method added, allowing to add user to the account\n* GET/folders and GET/folders/{id} added\n* Create proof in folder/move proof to folder using `folder_id` field in POST and PUT proof request\n* GET Proof body object updated with new object Folder\n* New request POST reviewer directly to stage added\n* Final status calculation added to Proof's Stage object - can be modified on Enterprise and Business editions only. On starter edition it's read-only object. Impacted request's\n  responses: GET/v1/proofs{id}, GET/v1/proofs and PUT/v1/proofs{id}\n* GET/users by email added\n* Webhooks subscription - new event `first_opened` added\n* Proof opened Webhook Event type added - `opened_event` object added to event structure, `action` field updated with `opened` value; event sent only when proof is opened for\n  the first time\n* Webhook event `comment_event` extended with fields `text` and `like`\n* Webhook event `decision_event` extended with `decision` field which contains decision type\n* Status event object added to webhook event structure containing proof's status\n\n## Release 18.5\n\n### Date: 7th June 2018\n\n* Deadline setting changed - deadline can be set only in Deadline object present in Stage Trigger object, field deadline in Stage becomes read only and represents calculated\n  deadline once Stage starts\n* Included workflow properties (Workflow template object, Lock stage, Stage Trigger in proof object model). Impact on all GET proof response's body, in POST proof body, options\n  available to set only for Enterprise edition\n* GET /proofs returns proof list\n* GET all users\n* GET user by ID\n* DELETE user by ID\n* GET workflow template's list - Available for users with admin rights on Enterprise edition only\n* POST - create proof from workflow template\n* Extend POST and GET comment with markups"
    }
  ],
  "paths": {
    "/proofs": {
      "get": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Get Proofs",
        "description": "Returns a paginated list of proofs available for the user. Proofs are sorted from latest to oldest. \n \n Note: If a user is a reviewer on a stage that has not yet started (\"not_started\"), the proof will not be included in the results.",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Specifies number of records to return with max=100",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Used for pagination, starting at 1",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Proofs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/proofs.json#/ProofList"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "operationId": "getProofs"
      },
      "post": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Create New Proof",
        "description": "Creates a new proof, version, or batch of proofs in Ziflow with a simple HTTP POST. \n \n  The POST body must include: \n 1. At least one URL to a file or a website page. We currently support downloading files using HTTP/HTTPS and S3, also with parameterized URLs. You may also specify a URL for live websites or web capturing by including the type: 'web-interactive' or 'web-static'. \n 2. At least one stage with the owner present in one of those stages. The proof will be created immediately and start processing. Once processed, reviewers will be notified. \n \n Returns proof_id in response body. \n \n In the case of stage Lock or Trigger, when referring to a parent or next stage, the name of each stage must be unique. Lock and stage_trigger (except the deadline object) can be edited only in the Enterprise edition. \n \n In the case of stage lock or trigger, when referring to a parent or next stage, the name of each stage must be unique. Depending on the edition, a limited number of stage objects can be used: one for Free, two for Standard, three for Pro, and unlimited for Enterprise edition. This does not apply to Legacy editions.",
        "requestBody": {
          "description": "Proof object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas/proofs.json#/PostProofNew"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/success"
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "x-codegen-request-body-name": "body",
        "operationId": "postProofs"
      }
    },
    "/proofs/search": {
      "post": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Search Proofs",
        "description": "Allows you to search proofs based on given criteria. Multiple values provided in one field will be joined by the OR operator. Values from different fields are joined by the AND operator.",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Specifies number of records to return with max=100",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Used for pagination, starting at 1",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Proof object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas/proofSearch.json#/SearchBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Standard response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/proofs.json#/ProofList"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "x-codegen-request-body-name": "body",
        "operationId": "postProofsSearch"
      }
    },
    "/proofs/search/activity": {
      "post": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Search Proofs Activity",
        "description": "<img src=\"img/experimentalLabel.png\" alt=\"label\" class=\"img-responsive\"> \n\nAllows you to search proofs by last activity based on given date range. Available only for Enterprise edition. Returns list of Proof IDs where last activity occurred within provided range. \n\n <b>Allows only to search proofs 30 days in the past.</b>",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Specifies number of records to return with max=100",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Used for pagination, starting at 1",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas/proofs.json#/SearchProofsActivityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Standard response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/proofs.json#/SearchProofsActivityResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/proofs/{id}": {
      "get": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Get Proof by ID",
        "description": "Returns the proof for the given ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Proof ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Proof details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/proofs.json#/Proof"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "operationId": "getProofsId"
      },
      "put": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Update an Existing Proof",
        "description": "A specific, existing proof can be updated by making a PUT request on the URL for that proof. Only the fields provided in the data block will be updated. Any unspecified fields will remain unchanged. \n \n ### Helpful tips: \n - It is best to specify only the fields you wish to change. \n  - When working with Stages and Members, you are only able to pass the ID, which means we'll leave that object unchanged. This is useful when adding or deleting stages or members on the proof. \n \n Returns the complete updated proof record. \n \n The \"lock\" and \"stage_trigger\" can only be updated if on the Enterprise edition. In addition, the dependent stage for \"lock\" and \"stage_trigger\" requires a stage ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Proof ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Proof object with updated data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas/proofs.json#/PutProof"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated proof body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/proofs.json#/Proof"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "x-codegen-request-body-name": "body",
        "operationId": "putProofsId"
      },
      "delete": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Delete Proof",
        "description": "Deletes a proof with the given ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Proof ID to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Empty response body",
            "content": {}
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "operationId": "deleteProofsId"
      }
    },
    "/proofs/{id}/integration-properties": {
      "post": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Add Integration Properties",
        "description": "Add Integration Properties to the proof. You can read more about integration properties on our <a href=\"https://help.ziflow.com/en/articles/6972412-uploading-new-proofs-dashboard-2-0#h_7cf1cc325a\" target=\"_blank\" rel=\"noopener noreferrer\">Help Page</a> and <a href=\"https://www.ziflow.com/integrations\" target=\"_blank\" rel=\"noopener noreferrer\">Website</a>",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Proof ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Integration Properties",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas/integrationProperties.json#/PostIntegrationProperties"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Array of Integration Properties",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/integrationProperties.json#/GetIntegrationProperties"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "x-codegen-request-body-name": "body",
        "operationId": "postProofsIdIntegration-properties"
      },
      "put": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Update Integration Properties",
        "description": "Update Integration Properties on the proof. If the properties exist on a proof, this is a way of updating them. You can read more about Integration Properties on our <a href=\"https://help.ziflow.com/en/articles/6972412-uploading-new-proofs-dashboard-2-0#h_7cf1cc325a\" target=\"_blank\" rel=\"noopener noreferrer\">Help Page</a> and <a href=\"https://www.ziflow.com/integrations\" target=\"_blank\" rel=\"noopener noreferrer\">Website</a>",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Proof ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of Integration Properties",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas/integrationProperties.json#/PutIntegrationProperties"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated list of Integration Properties",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/integrationProperties.json#/GetIntegrationProperties"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "x-codegen-request-body-name": "body",
        "operationId": "putProofsIdIntegration-properties"
      }
    },
    "/proofs/{proof_id}/stages/{stage_id}": {
      "put": {
        "tags": [
          "STAGES"
        ],
        "summary": "Update Stage",
        "description": "Update a specific stage on the proof. Only the fields provided in the data block will be updated. Any unspecified fields will remain unchanged. \n \n ### Helpful tips: \n - It is best to specify only the fields you wish to change. \n  - When working with Members, you are only able to pass the ID, which means we'll leave that object unchanged. This is useful when adding or deleting members on the proof. \n \n Returns the complete updated stage record. \n \n The \"lock\" and \"stage_trigger\" can only be updated if on the Enterprise edition. In addition, the dependent stage for \"lock\" and \"stage_trigger\" requires a stage ID.",
        "parameters": [
          {
            "name": "proof_id",
            "in": "path",
            "description": "Proof ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stage_id",
            "in": "path",
            "description": "Stage ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Stage object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas/proofs.json#/PutStage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated stage object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/proofs.json#/Stage"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "x-codegen-request-body-name": "body",
        "operationId": "putProofsProofIdStagesStageId"
      }
    },
    "/proofs/{proof_id}/stages/{stage_id}/start": {
      "put": {
        "tags": [
          "STAGES"
        ],
        "summary": "Start Stage",
        "description": "Available only on the Enterprise edition, this method starts a specific stage on the proof. \n\n The method can only be used by users with Admin or Manager roles, the proof owner, or users with manage rights on the proof.",
        "parameters": [
          {
            "name": "proof_id",
            "in": "path",
            "description": "Proof ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stage_id",
            "in": "path",
            "description": "Stage ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated stage object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/proofs.json#/Stage"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "operationId": "putProofsProofIdStagesStageIdStart"
      }
    },
    "/proofs/{proof_id}/stages/{stage_id}/final-status-calculation": {
      "put": {
        "tags": [
          "STAGES"
        ],
        "summary": "Set Final Status Calculation",
        "description": "This method allows you to set the final status calculation type (\"all_decisions\", \"only_one_decision\", \"primary_decision_maker\") for a specific stage. \n\n The method can only be used by users with Admin or Manager roles, the proof owner, or users with manage rights on the proof. \n\n \"all_decisions\" - all decisions must be made to calculate the stage status.\n\n \"only_one_decision\" - any single decision is enough to calculate the stage status. \n\n \"primary_decision_maker\" - selected reviewer's decision will calculate the stage status (available on Enterprise edition only.  \"reviewer_id\" or \"reviewer_email\" must be provided for the \"primary_decision_maker\" option.",
        "parameters": [
          {
            "name": "proof_id",
            "in": "path",
            "description": "Proof ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stage_id",
            "in": "path",
            "description": "Stage ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Final status calculation object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas/proofs.json#/FinalStatusCalculation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated stage object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/proofs.json#/Stage"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "x-codegen-request-body-name": "body",
        "operationId": "putProofsProofIdStagesStageIdFinal-status-calculation"
      }
    },
    "/proofs/{id}/reviewers/status": {
      "post": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Make Decision/Complete Review",
        "description": "Make a decision or mark the review as complete depending on the reviewer's proof role. \n If the reviewer_id is not provided, the method will attempt to update the user with this API key on the proof's status.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Proof ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas/reviewers.json#/ReviewersStatus"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated reviewer object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/proofs.json#/Member"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "x-codegen-request-body-name": "body",
        "operationId": "postProofsIdReviewersStatus"
      }
    },
    "/proofs/{id}/allVersions": {
      "delete": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Delete All Proof Versions",
        "description": "This method deletes all versions of a proof.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Proof ID to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Empty response body",
            "content": {}
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "operationId": "deleteProofsIdAllVersions"
      }
    },
    "/proofs/{id}/proof-url": {
      "get": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Get a Reviewer's Proof URL",
        "description": "This method returns a reviewer's personal proof URL.\n \n You can optionally request a one-time URL that expires after first use or a chosen time (default expiration time is 24 hours). \n \n The method can only be used by users with Admin or Manager roles, the proof owner, or users with manage rights on the proof.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Proof ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oneTimeUrl",
            "in": "query",
            "description": "If true, a unique URL will be created which can be restricted to either one-time use or time expiration restrictions.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "expireAfterFirstUse",
            "in": "query",
            "description": "If true, URL will expire after first use. Overwrites urlExpiration value.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "urlExpiration",
            "in": "query",
            "description": "URL expiration time in hours. Proper range of values: 1 - 336.",
            "schema": {
              "type": "integer",
              "default": 24
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Optionally provide the reviewer's email in a <a href=\"https://www.google.com/search?q=url+encode&oq=url+encode\" target=\"_blank\" rel=\"noopener noreferrer\">URL encoded</a> format, i.e. name%40domain.com. If not provided, the proof URL for the API user is returned.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "./schemas/proofs.json#/ProofUrl"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "operationId": "getProofsIdProof-url"
      }
    },
    "/proofs/{id}/emails": {
      "get": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Get Emails",
        "description": "<img src=\"img/experimentalLabel.png\" alt=\"label\" class=\"img-responsive\"> \n\nReturns information about emails sent for the given proof ID.\n\nThe method can only be used by users with Admin role.\n\n Endpoint is experimental - it can change or be removed in the future.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Proof ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Specifies number of records to return with max=100",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Used for pagination, starting at 1",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date for filtering results, inclusive",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2025-01-01T12:00:00"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date for filtering results, inclusive",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2025-01-01T12:00:00"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/proofs.json#/GetEmails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "operationId": "getProofsIdEmails"
      }
    },
    "/proofs/{id}/activities": {
      "get": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Get Proof Activities",
        "description": "<img src=\"img/experimentalLabel.png\" alt=\"label\" class=\"img-responsive\"> \n\nReturns information about proof activity log for the given proof ID.\n\nThe method can only be used by users who can manage the proof.\n\n Available on Enterprise or higher edition only.\n\n Endpoint is experimental - it can change or be removed in the future. \n\n ### WARNING: \nIn response `content` object structure is different depending on the activity type - fields described may appear in the response or not, unless defined as required. When using this endpoint for integrations always check if the field is present in the response.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Proof ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Specifies number of records to return with max=100",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Used for pagination, starting at 1",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date for filtering results, inclusive",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2025-01-01T12:00:00.000Z"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date for filtering results, inclusive",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2025-01-01T12:00:00.000Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/proofActivity.json#/ActivityLog"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ]
      }
    },
    "/proofs/{id}/summary/pdf": {
      "get": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Export summary to PDF (Webhook Method)",
        "description": "Exports the summary of a proof to PDF.\n\nThe process will be completed asynchronously, and Ziflow will send a link to the PDF to the endpoint configured for the \"summary\" webhook.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Proof ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allVersions",
            "in": "query",
            "description": "Define if you want to export all proof versions or just the specified one",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "markupsThumbnail",
            "in": "query",
            "description": "Specifies comment's markups layout in the export",
            "schema": {
              "type": "string",
              "default": "small_markup_area",
              "enum": [
                "small_markup_area",
                "small_full_page",
                "big_full_page"
              ]
            }
          },
          {
            "name": "stageSummary",
            "in": "query",
            "description": "Specifies presence and details of proof workflow on PDF export. \"none\" removes workflow section from the export.",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "none"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "181dd739-34e2-4512-b9ec-9cebacb98360"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "operationId": "getProofsIdSummaryPdf"
      },
      "post": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Export summary to PDF (Endpoint Method)",
        "description": "Export the summary of a proof to PDF. \n\nThe process will be completed asynchronously, and Ziflow will send a link to the PDF to the endpoint provided in the body.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Proof ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Endpoint URL where webhook event with pdf export details will be sent",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas/proofs.json#/PostSummary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "181dd739-34e2-4512-b9ec-9cebacb98360"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "x-codegen-request-body-name": "body",
        "operationId": "postProofsIdSummaryPdf"
      }
    },
    "/proofs/{id}/summary/pdf/{request_id}": {
      "get": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Get status for export summary to PDF",
        "description": "Returns the status of a PDF export request for proof summary and PDF download URL when export is finished. The export will expire in 1 hour from the time it is generated.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Proof ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request_id",
            "in": "path",
            "description": "Request ID returned from the PDF export request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF export status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/proofs.json#/PdfExportStatus"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "operationId": "getProofsIdSummaryPdfRequestId"
      }
    },
    "/proofs/{id}/comments/pdf": {
      "get": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Export comments to PDF (Webhook Method)",
        "description": "Exports the comments of a proof to PDF.\n\nThe process will be completed asynchronously, and Ziflow will send a link to the PDF to the endpoint configured for the \"pdf_with_comments\" webhook. \n\n Available on Enterprise edition only. Export applicable for static files.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Proof ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "181dd739-34e2-4512-b9ec-9cebacb98360"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "operationId": "getProofsIdCommentsPdf"
      },
      "post": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Export comments to PDF (Endpoint Method)",
        "description": "Export the comments of a proof to PDF. \n\n The process will be completed asynchronously, and Ziflow will send a link to the PDF to the endpoint provided in the body. \n\n Available on Enterprise edition only. Export applicable for static files.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Proof ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Endpoint URL where webhook event with pdf export details will be sent",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "response_url": {
                    "type": "string",
                    "example": "https://your-webhook-endpoint.com"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "example": "181dd739-34e2-4512-b9ec-9cebacb98360"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "x-codegen-request-body-name": "body",
        "operationId": "postProofsIdCommentsPdf"
      }
    },
    "/proofs/{id}/comments/pdf/{request_id}": {
      "get": {
        "tags": [
          "PROOFS"
        ],
        "summary": "Get status for export comments to PDF",
        "description": "Returns the status of a PDF export request for proof comments and PDF download URL when export is finished. The export will expire in 1 hour from the time it is generated.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Proof ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request_id",
            "in": "path",
            "description": "Request ID returned from the PDF export request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF export status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/proofs.json#/PdfExportStatus"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "operationId": "getProofsIdCommentsPdfRequestId"
      }
    },
    "/users": {
      "get": {
        "tags": [
          "PEOPLE"
        ],
        "summary": "Get users",
        "description": "Returns the list of users registered in your account.",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Specifies number of records to return with max=100",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Used for pagination, starting at 1",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/people.json#/UsersList"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "operationId": "getUsers"
      },
      "post": {
        "tags": [
          "PEOPLE"
        ],
        "summary": "Add user",
        "description": "Add a user to your account. The method can only be performed by users with Admin rights.",
        "requestBody": {
          "description": "User object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas/people.json#/PostUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/success"
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "x-codegen-request-body-name": "body",
        "operationId": "postUsers"
      }
    },
    "/users/{identifier}": {
      "get": {
        "tags": [
          "PEOPLE"
        ],
        "summary": "Get User by ID or email",
        "description": "Returns information about a specific user in the account. The identifier can be either a user ID or an email address.",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "User ID or email address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/people.json#/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer_HTTP_Authorization": []
          },
          {
            "Header_API_Key_Parameter": []
          },
          {
            "Basic_HTTP_Authorization": []
          },
          {
            "Query_API_Key_Parameter": []
          }
        ],
        "operationId": "getUsersIdentifier"
      },
      "put": {
        "tags": [
[...]
