{
  "openapi": "3.0.3",
  "info": {
    "title": "PayPlug API",
    "description": "The PayPlug API enables applications to create and manage payments, refunds, cards, and installment plans.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.payplug.com/api/"
  },
  "servers": [
    {
      "url": "https://api.payplug.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/payments": {
      "post": {
        "operationId": "createpayment",
        "summary": "Create a payment",
        "description": "Creates a new payment request.",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "get": {
        "operationId": "listpayments",
        "summary": "List all payments",
        "description": "Retrieves a paginated list of all payments.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of payments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/payments/{payment_id}": {
      "get": {
        "operationId": "getpayment",
        "summary": "Retrieve a payment",
        "description": "Retrieves details of a specific payment.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "operationId": "updatepayment",
        "summary": "Update, capture, or abort a payment",
        "description": "Updates payment metadata, captures an authorized payment, or aborts a pending payment.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/payments/{payment_id}/refunds": {
      "post": {
        "operationId": "createrefund",
        "summary": "Create a refund",
        "description": "Creates a refund for a payment. If amount is not specified, a full refund is created.",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefundRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "get": {
        "operationId": "listrefunds",
        "summary": "List all refunds for a payment",
        "description": "Retrieves a paginated list of refunds for a specific payment.",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of refunds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/payments/{payment_id}/refunds/{refund_id}": {
      "get": {
        "operationId": "getrefund",
        "summary": "Retrieve a refund",
        "description": "Retrieves details of a specific refund.",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refund_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refund details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/cards/{card_id}": {
      "delete": {
        "operationId": "deletecard",
        "summary": "Delete a saved card",
        "description": "Deletes a previously saved card.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Card deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/installment_plans": {
      "post": {
        "operationId": "createinstallmentplan",
        "summary": "Create an installment plan",
        "description": "Creates a new installment plan with a payment schedule.",
        "tags": [
          "Installment Plans"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInstallmentPlanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Installment plan created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallmentPlan"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/v1/installment_plans/{installment_plan_id}": {
      "get": {
        "operationId": "getinstallmentplan",
        "summary": "Retrieve an installment plan",
        "description": "Retrieves details of a specific installment plan.",
        "tags": [
          "Installment Plans"
        ],
        "parameters": [
          {
            "name": "installment_plan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Installment plan details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallmentPlan"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "patch": {
        "operationId": "abortinstallmentplan",
        "summary": "Abort an installment plan",
        "description": "Aborts a pending installment plan.",
        "tags": [
          "Installment Plans"
        ],
        "parameters": [
          {
            "name": "installment_plan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "aborted": {
                    "type": "boolean",
                    "description": "Set to true to abort the installment plan"
                  }
                },
                "required": [
                  "aborted"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Installment plan aborted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallmentPlan"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "billing",
          "shipping"
        ],
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Positive integer in the smallest currency unit (cents for EUR)"
          },
          "currency": {
            "type": "string",
            "enum": [
              "EUR"
            ],
            "description": "Payment currency"
          },
          "billing": {
            "$ref": "#/components/schemas/AddressInfo"
          },
          "shipping": {
            "$ref": "#/components/schemas/AddressInfo"
          },
          "hosted_payment": {
            "$ref": "#/components/schemas/HostedPayment"
          },
          "notification_url": {
            "type": "string",
            "format": "uri",
            "description": "URL for payment notifications"
          },
          "payment_method": {
            "type": "string",
            "description": "Payment method identifier"
          },
          "initiator": {
            "type": "string",
            "description": "Payment initiator"
          },
          "force_3ds": {
            "type": "boolean",
            "description": "Force 3D Secure authentication"
          },
          "save_card": {
            "type": "boolean",
            "description": "Save card for future use"
          },
          "allow_save_card": {
            "type": "boolean",
            "description": "Allow customer to save their card"
          },
          "auto_capture": {
            "type": "boolean",
            "description": "Automatically capture the payment"
          },
          "description": {
            "type": "string",
            "description": "Payment description"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Key-value metadata"
          },
          "payment_context": {
            "type": "object",
            "description": "Additional payment context"
          }
        }
      },
      "UpdatePaymentRequest": {
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Updated metadata"
          },
          "captured": {
            "type": "boolean",
            "description": "Set to true to capture an authorized payment"
          },
          "aborted": {
            "type": "boolean",
            "description": "Set to true to abort a pending payment"
          }
        }
      },
      "AddressInfo": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "language": {
            "type": "string"
          }
        }
      },
      "HostedPayment": {
        "type": "object",
        "properties": {
          "return_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect customer after payment"
          },
          "cancel_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect customer on cancellation"
          },
          "payment_url": {
            "type": "string",
            "format": "uri",
            "description": "Hosted payment page URL (read-only)",
            "readOnly": true
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "is_paid": {
            "type": "boolean"
          },
          "is_refunded": {
            "type": "boolean"
          },
          "is_3ds": {
            "type": "boolean"
          },
          "amount": {
            "type": "integer"
          },
          "amount_refunded": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "hosted_payment": {
            "$ref": "#/components/schemas/HostedPayment"
          },
          "notification_url": {
            "type": "string"
          },
          "failure": {
            "type": "object",
            "nullable": true,
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "card": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "last4": {
                "type": "string"
              },
              "brand": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "exp_month": {
                "type": "integer"
              },
              "exp_year": {
                "type": "integer"
              }
            }
          }
        }
      },
      "PaymentList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          }
        }
      },
      "CreateRefundRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Amount to refund in cents. Omit for full refund."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Refund": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "is_live": {
            "type": "boolean"
          }
        }
      },
      "RefundList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Refund"
            }
          }
        }
      },
      "CreateInstallmentPlanRequest": {
        "type": "object",
        "required": [
          "currency",
          "schedule",
          "billing",
          "shipping"
        ],
        "properties": {
          "currency": {
            "type": "string",
            "enum": [
              "EUR"
            ]
          },
          "schedule": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "date",
                "amount"
              ],
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "amount": {
                  "type": "integer"
                }
              }
            }
          },
          "billing": {
            "$ref": "#/components/schemas/AddressInfo"
          },
          "shipping": {
            "$ref": "#/components/schemas/AddressInfo"
          },
          "hosted_payment": {
            "$ref": "#/components/schemas/HostedPayment"
          },
          "notification_url": {
            "type": "string",
            "format": "uri"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "InstallmentPlan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "is_fully_paid": {
            "type": "boolean"
          },
          "created_at": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "schedule": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "amount": {
                  "type": "integer"
                },
                "payment_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "failure": {
            "type": "object",
            "nullable": true,
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearer_auth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Secret API key used as Bearer token"
      }
    }
  },
  "security": [
    {
      "bearer_auth": []
    }
  ],
  "tags": [
    {
      "name": "Cards",
      "description": "Operations related to Cards"
    },
    {
      "name": "Installment Plans",
      "description": "Operations related to Installment Plans"
    },
    {
      "name": "Payments",
      "description": "Operations related to Payments"
    },
    {
      "name": "Refunds",
      "description": "Operations related to Refunds"
    }
  ]
}