{
  "openapi": "3.0.0",
  "info": {
    "title": "DataBoxEdgeManagementClient",
    "version": "2019-07-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/databoxedge/2019-07-01/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/databoxedge/resource-manager/Microsoft.DataBoxEdge/stable/2019-07-01/databoxedge.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "databoxedge",
    "x-tags": [
      "Azure",
      "Microsoft"
    ],
    "description": "DataBoxEdgeManagementClient provides programmatic access to providers, subscriptions resources."
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.DataBoxEdge/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationsList"
                }
              }
            },
            "description": "List of supported operations."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "summary": "List all the supported operations.",
        "x-ms-examples": {
          "OperationsGet": {
            "parameters": {
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ]
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "display": {
                        "description": "Lists or gets the share users",
                        "operation": "List share users",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "share users"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/users/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Lists or gets the share users",
                        "operation": "List share users",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "share users"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/users/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Creates or updates the share users",
                        "operation": "Creates or updates share users",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "share users"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/users/write",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Deletes the share users",
                        "operation": "Delete share users",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "share users"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/users/delete",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Lists or gets the bandwidth schedules",
                        "operation": "List bandwidth schedules",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "bandwidth schedules"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/bandwidthSchedules/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Lists or gets the bandwidth schedules",
                        "operation": "List bandwidth schedules",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "bandwidth schedules"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/bandwidthSchedules/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Creates or updates the bandwidth schedules",
                        "operation": "Creates or updates bandwidth schedules",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "bandwidth schedules"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/bandwidthSchedules/write",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Deletes the bandwidth schedules",
                        "operation": "Delete bandwidth schedules",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "bandwidth schedules"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/bandwidthSchedules/delete",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Lists or gets the ArmApiRes_roles",
                        "operation": "List ArmApiRes_roles",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "ArmApiRes_roles"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/roles/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Lists or gets the ArmApiRes_roles",
                        "operation": "List ArmApiRes_roles",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "ArmApiRes_roles"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/roles/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Creates or updates the ArmApiRes_roles",
                        "operation": "Creates or updates ArmApiRes_roles",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "ArmApiRes_roles"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/roles/write",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Deletes the ArmApiRes_roles",
                        "operation": "Delete ArmApiRes_roles",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "ArmApiRes_roles"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/roles/delete",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Lists or gets the shares",
                        "operation": "List shares",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "shares"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/shares/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Lists or gets the shares",
                        "operation": "List shares",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "shares"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/shares/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Creates or updates the shares",
                        "operation": "Creates or updates shares",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "shares"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/shares/write",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "ArmApiDesc_action_refresh_shares",
                        "operation": "ArmApiOp_action_refresh_shares",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "shares"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/shares/refresh/action",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Deletes the shares",
                        "operation": "Delete shares",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "shares"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/shares/delete",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Upload certificate for device registration",
                        "operation": "Upload certificates",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "Data Box Edge devices"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/uploadCertificate/action",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Creates or updates the Data Box Edge devices",
                        "operation": "Creates or updates Data Box Edge devices",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "Data Box Edge devices"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/write",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Lists or gets the Data Box Edge devices",
                        "operation": "List Data Box Edge devices",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "Data Box Edge devices"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Deletes the Data Box Edge devices",
                        "operation": "Delete Data Box Edge devices",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "Data Box Edge devices"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/delete",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Lists or gets the Data Box Edge devices",
                        "operation": "List Data Box Edge devices",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "Data Box Edge devices"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Lists or gets the Data Box Edge devices",
                        "operation": "List Data Box Edge devices",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "Data Box Edge devices"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Creates or updates the Data Box Edge devices",
                        "operation": "Creates or updates Data Box Edge devices",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "Data Box Edge devices"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/write",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "ArmApiDesc_action_getExtendedInformation_dataBoxEdgeDevices",
                        "operation": "ArmApiOp_action_getExtendedInformation_dataBoxEdgeDevices",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "Data Box Edge devices"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/getExtendedInformation/action",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Retrieves resource extended information",
                        "operation": "Gets resource extended information",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "Data Box Edge devices"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/extendedInformation/action",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Lists or gets the Device network settings",
                        "operation": "List Device network settings",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "Device network settings"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/networkSettings/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Update security settings",
                        "operation": "Update security settings",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "Device security settings"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/securitySettings/update/action",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Lists or gets the update summary",
                        "operation": "List update summary",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "update summary"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/updateSummary/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Scan for updates",
                        "operation": "Scan for updates",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "Data Box Edge devices"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/scanForUpdates/action",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Download Updates in device",
                        "operation": "Download Updates",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "Data Box Edge devices"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/downloadUpdates/action",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Install Updates on device",
                        "operation": "Install Updates",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "Data Box Edge devices"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/installUpdates/action",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Lists or gets the jobs",
                        "operation": "List jobs",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "jobs"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/jobs/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Creates or updates the storage account credentials",
                        "operation": "Creates or updates storage account credentials",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "storage account credentials"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/storageAccountCredentials/write",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Lists or gets the storage account credentials",
                        "operation": "List storage account credentials",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "storage account credentials"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/storageAccountCredentials/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Lists or gets the storage account credentials",
                        "operation": "List storage account credentials",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "storage account credentials"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/storageAccountCredentials/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Deletes the storage account credentials",
                        "operation": "Delete storage account credentials",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "storage account credentials"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/storageAccountCredentials/delete",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Lists or gets the alerts",
                        "operation": "List alerts",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "alerts"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/alerts/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Lists or gets the alerts",
                        "operation": "List alerts",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "alerts"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/alerts/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Gets the available Data Box Edge device level metrics",
                        "operation": "Read Data Box Edge device metric definition",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "Data Box Edge device"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/providers/Microsoft.Insights/metricDefinitions/read",
                      "origin": "system",
                      "properties": {
                        "serviceSpecification": {
                          "metricSpecifications": [
                            {
                              "aggregationType": "Average",
                              "category": "Transaction",
                              "dimensions": [
                                {
                                  "displayName": "Name",
                                  "name": "InstanceName",
                                  "toBeExportedForShoebox": true
                                }
                              ],
                              "displayDescription": "The read throughput of the network interface on the device in the reporting period for all volumes in the gateway.",
                              "displayName": "Read Throughput (Network)",
                              "fillGapWithZero": false,
                              "name": "NICReadThroughput",
                              "supportedAggregationTypes": [
                                "Average",
                                "Minimum",
                                "Maximum"
                              ],
                              "supportedTimeGrainTypes": [
                                "PT1M",
                                "PT15M",
                                "PT1H"
                              ],
                              "unit": "BytesPerSecond"
                            },
                            {
                              "aggregationType": "Average",
                              "category": "Transaction",
                              "dimensions": [
                                {
                                  "displayName": "Name",
                                  "name": "InstanceName",
                                  "toBeExportedForShoebox": true
                                }
                              ],
                              "displayDescription": "The write throughput of the network interface on the device in the reporting period for all volumes in the gateway.",
                              "displayName": "Write Throughput (Network)",
                              "fillGapWithZero": false,
                              "name": "NICWriteThroughput",
                              "supportedAggregationTypes": [
                                "Average",
                                "Minimum",
                                "Maximum"
                              ],
                              "supportedTimeGrainTypes": [
                                "PT1M",
                                "PT15M",
                                "PT1H"
                              ],
                              "unit": "BytesPerSecond"
                            },
                            {
                              "aggregationType": "Average",
                              "category": "Transaction",
                              "dimensions": [
                                {
                                  "displayName": "Share",
                                  "name": "Share",
                                  "toBeExportedForShoebox": true
                                }
                              ],
                              "displayDescription": "The download throughput to Azure from a share during the reporting period.",
                              "displayName": "Cloud Download Throughput (Share)",
                              "fillGapWithZero": false,
                              "name": "CloudReadThroughputPerShare",
                              "supportedAggregationTypes": [
                                "Average",
                                "Minimum",
                                "Maximum"
                              ],
                              "supportedTimeGrainTypes": [
                                "PT1M",
                                "PT15M",
                                "PT1H"
                              ],
                              "unit": "BytesPerSecond"
                            },
                            {
                              "aggregationType": "Average",
                              "category": "Transaction",
                              "dimensions": [
                                {
                                  "displayName": "Share",
                                  "name": "Share",
                                  "toBeExportedForShoebox": true
                                }
                              ],
                              "displayDescription": "The upload throughput to Azure from a share during the reporting period.",
                              "displayName": "Cloud Upload Throughput (Share)",
                              "fillGapWithZero": false,
                              "name": "CloudUploadThroughputPerShare",
                              "supportedAggregationTypes": [
                                "Average",
                                "Minimum",
                                "Maximum"
                              ],
                              "supportedTimeGrainTypes": [
                                "PT1M",
                                "PT15M",
                                "PT1H"
                              ],
                              "unit": "BytesPerSecond"
                            },
                            {
                              "aggregationType": "Average",
                              "category": "Transaction",
                              "dimensions": [
                                {
                                  "displayName": "Share",
                                  "name": "Share",
                                  "toBeExportedForShoebox": true
                                }
                              ],
                              "displayDescription": "The total number of bytes that is uploaded to Azure from a share during the reporting period.",
                              "displayName": "Cloud Bytes Uploaded (Share)",
                              "fillGapWithZero": false,
                              "name": "BytesUploadedToCloudPerShare",
                              "supportedAggregationTypes": [
                                "Average",
                                "Minimum",
                                "Maximum"
                              ],
                              "supportedTimeGrainTypes": [
                                "PT1M",
                                "PT15M",
                                "PT1H"
                              ],
                              "unit": "Bytes"
                            },
                            {
                              "aggregationType": "Average",
                              "category": "Capacity",
                              "dimensions": [],
                              "displayDescription": "Total Capacity",
                              "displayName": "Total Capacity",
                              "fillGapWithZero": false,
                              "name": "TotalCapacity",
                              "supportedAggregationTypes": [
                                "Average",
                                "Minimum",
                                "Maximum"
                              ],
                              "supportedTimeGrainTypes": [
                                "PT5M",
                                "PT15M",
                                "PT1H"
                              ],
                              "unit": "Bytes"
                            },
                            {
                              "aggregationType": "Average",
                              "category": "Capacity",
                              "dimensions": [],
                              "displayDescription": "The available capacity in bytes during the reporting period.",
                              "displayName": "Available Capacity",
                              "fillGapWithZero": false,
                              "name": "AvailableCapacity",
                              "supportedAggregationTypes": [
                                "Average",
                                "Minimum",
                                "Maximum"
                              ],
                              "supportedTimeGrainTypes": [
                                "PT5M",
                                "PT15M",
                                "PT1H"
                              ],
                              "unit": "Bytes"
                            },
                            {
                              "aggregationType": "Average",
                              "category": "Transaction",
                              "dimensions": [],
                              "displayDescription": "The cloud upload throughput during the reporting period.",
                              "displayName": "Cloud Upload Throughput",
                              "fillGapWithZero": false,
                              "name": "CloudUploadThroughput",
                              "supportedAggregationTypes": [
                                "Average",
                                "Minimum",
                                "Maximum"
                              ],
                              "supportedTimeGrainTypes": [
                                "PT5M",
                                "PT15M",
                                "PT1H"
                              ],
                              "unit": "BytesPerSecond"
                            },
                            {
                              "aggregationType": "Average",
                              "category": "Transaction",
                              "dimensions": [],
                              "displayDescription": "The cloud download throughput during the reporting period.",
                              "displayName": "Cloud Read Throughput",
                              "fillGapWithZero": false,
                              "name": "CloudReadThroughput",
                              "supportedAggregationTypes": [
                                "Average",
                                "Minimum",
                                "Maximum"
                              ],
                              "supportedTimeGrainTypes": [
                                "PT5M",
                                "PT15M",
                                "PT1H"
                              ],
                              "unit": "BytesPerSecond"
                            },
                            {
                              "aggregationType": "Average",
                              "category": "Transaction",
                              "dimensions": [],
                              "displayDescription": "The total number of bytes that is uploaded to Azure from a device during the reporting period.",
                              "displayName": "Cloud Bytes Uploaded (Device)",
                              "fillGapWithZero": false,
                              "name": "BytesUploadedToCloud",
                              "supportedAggregationTypes": [
                                "Average",
                                "Minimum",
                                "Maximum"
                              ],
                              "supportedTimeGrainTypes": [
                                "PT5M",
                                "PT15M",
                                "PT1H"
                              ],
                              "unit": "Bytes"
                            }
                          ]
                        }
                      }
                    },
                    {
                      "display": {
                        "description": "Creates or updates the diagnostics setting for the resource",
                        "operation": "Write diagnostics setting",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "Data Box Edge device"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/providers/Microsoft.Insights/diagnosticSettings/write",
                      "origin": "system"
                    },
                    {
                      "display": {
                        "description": "Gets the diagnostic setting for the resource",
                        "operation": "Read diagnostics setting",
                        "provider": "Microsoft.DataBoxEdge",
                        "resource": "Data Box Edge device"
                      },
                      "name": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/providers/Microsoft.Insights/diagnosticSettings/read",
                      "origin": "system"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Specify $expand=details to populate additional fields related to the resource or Specify $skipToken=<token> to populate the next page in the list.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataBoxEdgeDeviceList"
                }
              }
            },
            "description": "The collection of Data Box Edge/Data Box Gateway devices."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Devices"
        ],
        "description": "Gets all the Data Box Edge/Data Box Gateway devices in a subscription.",
        "operationId": "Devices_ListBySubscription",
        "x-ms-examples": {
          "DataBoxEdgeDeviceGetBySubscription": {
            "parameters": {
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ]
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "tags": {},
                      "etag": "\"W/\"datetime'2018-12-17T10%3A31%3A06.493Z'\"_W/\"datetime'2018-12-17T10%3A31%3A06.597Z'\"\"",
                      "id": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice",
                      "location": "WUS",
                      "name": "testedgedevice",
                      "properties": {
                        "dataBoxEdgeDeviceStatus": "ReadyToSetup",
                        "deviceLocalCapacity": 0,
                        "deviceType": "DataBoxEdgeDevice"
                      },
                      "sku": {
                        "name": "Edge",
                        "tier": "Standard"
                      },
                      "type": "Microsoft.DataBoxEdge/dataBoxEdgeDevices"
                    },
                    {
                      "tags": {},
                      "etag": "\"W/\"datetime'2018-09-27T09%3A45%3A09.15Z'\"_W/\"datetime'2018-09-27T09%3A45%3A09.177Z'\"\"",
                      "id": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice2",
                      "location": "WUS",
                      "name": "testedgedevice2",
                      "properties": {
                        "dataBoxEdgeDeviceStatus": "ReadyToSetup",
                        "deviceLocalCapacity": 0,
                        "deviceType": "DataBoxEdgeDevice"
                      },
                      "sku": {
                        "name": "Edge",
                        "tier": "Standard"
                      },
                      "type": "Microsoft.DataBoxEdge/dataBoxEdgeDevices"
                    },
                    {
                      "tags": {},
                      "etag": "\"W/\"datetime'2018-12-17T10%3A31%3A00.293Z'\"_W/\"datetime'2018-12-17T10%3A31%3A00.34Z'\"\"",
                      "id": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice3",
                      "location": "WUS",
                      "name": "testedgedevice3",
                      "properties": {
                        "dataBoxEdgeDeviceStatus": "ReadyToSetup",
                        "deviceLocalCapacity": 0,
                        "deviceType": "DataBoxEdgeDevice"
                      },
                      "sku": {
                        "name": "Edge",
                        "tier": "Standard"
                      },
                      "type": "Microsoft.DataBoxEdge/dataBoxEdgeDevices"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "description": "Specify $expand=details to populate additional fields related to the resource or Specify $skipToken=<token> to populate the next page in the list.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataBoxEdgeDeviceList"
                }
              }
            },
            "description": "The collection of Data Box Edge/Data Box Gateway devices."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Devices"
        ],
        "description": "Gets all the Data Box Edge/Data Box Gateway devices in a resource group.",
        "operationId": "Devices_ListByResourceGroup",
        "x-ms-examples": {
          "DataBoxEdgeDeviceGetByResourceGroup": {
            "parameters": {
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ]
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "tags": {},
                      "etag": "\"W/\"datetime'2018-12-17T10%3A31%3A06.493Z'\"_W/\"datetime'2018-12-17T10%3A31%3A06.597Z'\"\"",
                      "id": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice",
                      "location": "WUS",
                      "name": "testedgedevice",
                      "properties": {
                        "dataBoxEdgeDeviceStatus": "ReadyToSetup",
                        "deviceLocalCapacity": 0,
                        "deviceType": "DataBoxEdgeDevice"
                      },
                      "sku": {
                        "name": "Edge",
                        "tier": "Standard"
                      },
                      "type": "Microsoft.DataBoxEdge/dataBoxEdgeDevices"
                    },
                    {
                      "tags": {},
                      "etag": "\"W/\"datetime'2018-09-27T09%3A45%3A09.15Z'\"_W/\"datetime'2018-09-27T09%3A45%3A09.177Z'\"\"",
                      "id": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice2",
                      "location": "WUS",
                      "name": "testedgedevice2",
                      "properties": {
                        "dataBoxEdgeDeviceStatus": "ReadyToSetup",
                        "deviceLocalCapacity": 0,
                        "deviceType": "DataBoxEdgeDevice"
                      },
                      "sku": {
                        "name": "Edge",
                        "tier": "Standard"
                      },
                      "type": "Microsoft.DataBoxEdge/dataBoxEdgeDevices"
                    },
                    {
                      "tags": {},
                      "etag": "\"W/\"datetime'2018-12-17T10%3A31%3A00.293Z'\"_W/\"datetime'2018-12-17T10%3A31%3A00.34Z'\"\"",
                      "id": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice3",
                      "location": "WUS",
                      "name": "testedgedevice3",
                      "properties": {
                        "dataBoxEdgeDeviceStatus": "ReadyToSetup",
                        "deviceLocalCapacity": 0,
                        "deviceType": "DataBoxEdgeDevice"
                      },
                      "sku": {
                        "name": "Edge",
                        "tier": "Standard"
                      },
                      "type": "Microsoft.DataBoxEdge/dataBoxEdgeDevices"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}": {
      "delete": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the resource."
          },
          "202": {
            "description": "Accepted the request to delete the resource."
          },
          "204": {
            "description": "The resource is already deleted."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Devices"
        ],
        "description": "Deletes the Data Box Edge/Data Box Gateway device.",
        "operationId": "Devices_Delete",
        "x-ms-examples": {
          "DataBoxEdgeDeviceDelete": {
            "parameters": {
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "deviceName": "testedgedevice",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ]
            },
            "responses": {
              "200": {},
              "202": {},
              "204": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataBoxEdgeDevice"
                }
              }
            },
            "description": "The Data Box Edge/Data Box Gateway device."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Devices"
        ],
        "description": "Gets the properties of the Data Box Edge/Data Box Gateway device.",
        "operationId": "Devices_Get",
        "x-ms-examples": {
          "DataBoxEdgeDeviceGetByName": {
            "parameters": {
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "deviceName": "testedgedevice",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ]
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {},
                  "etag": "\"W/\"datetime'2018-12-16T08%3A03%3A27.61Z'\"_W/\"datetime'2018-12-16T08%3A03%3A27.653Z'\"\"",
                  "id": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice",
                  "location": "WUS",
                  "name": "testedgedevice",
                  "properties": {
                    "dataBoxEdgeDeviceStatus": "ReadyToSetup",
                    "deviceLocalCapacity": 0,
                    "deviceType": "DataBoxEdgeDevice"
                  },
                  "sku": {
                    "name": "Edge",
                    "tier": "Standard"
                  },
                  "type": "Microsoft.DataBoxEdge/dataBoxEdgeDevices"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataBoxEdgeDevice"
                }
              }
            },
            "description": "Successfully updated the resource."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Devices"
        ],
        "description": "Modifies a Data Box Edge/Data Box Gateway resource.",
        "operationId": "Devices_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataBoxEdgeDevicePatch"
              }
            }
          },
          "description": "The resource parameters.",
          "required": true
        },
        "x-ms-examples": {
          "DataBoxEdgeDevicePatch": {
            "parameters": {
              "parameters": {
                "tags": {
                  "Key1": "value1",
                  "Key2": "value2"
                }
              },
              "Content-Length": [
                "200"
              ],
              "Content-Type": [
                "application/json; charset=utf-8"
              ],
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "deviceName": "testedgedevice",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ]
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "Key1": "value1",
                    "Key2": "value2"
                  },
                  "etag": "W/\"datetime'2018-12-19T06%3A33%3A24.983Z'\"_W/\"datetime'2018-12-19T06%3A33%3A25.013Z'\"",
                  "id": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice",
                  "location": "WUS",
                  "name": "testedgedevice",
                  "properties": {
                    "dataBoxEdgeDeviceStatus": "ReadyToSetup",
                    "deviceLocalCapacity": 0,
                    "deviceType": "DataBoxEdgeDevice"
                  },
                  "sku": {
                    "name": "Edge",
                    "tier": "Standard"
                  },
                  "type": "Microsoft.DataBoxEdge/dataBoxEdgeDevices"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataBoxEdgeDevice"
                }
              }
            },
            "description": "Successfully created or updated the resource."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Devices"
        ],
        "description": "Creates or updates a Data Box Edge/Data Box Gateway resource.",
        "operationId": "Devices_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataBoxEdgeDevice"
              }
            }
          },
          "description": "The resource object.",
          "required": true
        },
        "x-ms-examples": {
          "DataBoxEdgeDevicePut": {
            "parameters": {
              "Content-Length": [
                "200"
              ],
              "Content-Type": [
                "application/json; charset=utf-8"
              ],
              "DataBoxEdgeDevice": {
                "tags": {},
                "location": "WUS",
                "sku": {
                  "name": "Edge",
                  "tier": "Standard"
                }
              },
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "deviceName": "testedgedevice",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ]
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {},
                  "location": "WUS",
                  "name": "testedgedevice",
                  "sku": {
                    "name": "Edge",
                    "tier": "Standard"
                  }
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/alerts": {
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertList"
                }
              }
            },
            "description": "The collection of alerts."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Gets all the alerts for a Data Box Edge/Data Box Gateway device.",
        "operationId": "Alerts_ListByDataBoxEdgeDevice",
        "x-ms-examples": {
          "AlertGetAllInDevice": {
            "parameters": {
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "deviceName": "testedgedevice",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ]
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice/alerts/83eccd0b-134b-40b0-ad62-b5f124d03790",
                      "name": "83eccd0b-134b-40b0-ad62-b5f124d03790",
                      "properties": {
                        "alertType": "PasswordChangedEvent",
                        "appearedAtDateTime": "2018-12-18 02:29:15.232557+00:00",
                        "detailedInformation": {},
                        "errorDetails": {
                          "errorCode": "",
                          "errorMessage": "",
                          "occurrences": 2
                        },
                        "recommendation": "The device administrator password has changed. This is a required action as part of the first time device setup or regular password reset. No further action is required.",
                        "severity": "Informational",
                        "title": "Device password has changed"
                      },
                      "type": "dataBoxEdgeDevices/alerts"
                    },
                    {
                      "id": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice/alerts/159a00c7-8543-4343-9435-263ac87df3bb",
                      "name": "159a00c7-8543-4343-9435-263ac87df3bb",
                      "properties": {
                        "alertType": "UpdateScanFailedEvent",
                        "appearedAtDateTime": "2018-12-18 02:18:51.427026+00:00",
                        "detailedInformation": {},
                        "errorDetails": {
                          "errorCode": "",
                          "errorMessage": "",
                          "occurrences": 1
                        },
                        "recommendation": "Resolve the error : An internal error has occurred. Please contact Microsoft Support.",
                        "severity": "Critical",
                        "title": "Could not scan for updates. Error message : 'An internal error has occurred. Please contact Microsoft Support.'."
                      },
                      "type": "dataBoxEdgeDevices/alerts"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/alerts/{name}": {
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The alert name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            },
            "description": "The alert details."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Alerts"
        ],
        "operationId": "Alerts_Get",
        "summary": "Gets an alert by name.",
        "x-ms-examples": {
          "AlertGet": {
            "parameters": {
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "deviceName": "testedgedevice",
              "name": "159a00c7-8543-4343-9435-263ac87df3bb",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ]
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice/alerts/159a00c7-8543-4343-9435-263ac87df3bb",
                  "name": "159a00c7-8543-4343-9435-263ac87df3bb",
                  "properties": {
                    "alertType": "UpdateScanFailedEvent",
                    "appearedAtDateTime": "2018-12-18 02:18:51.427026+00:00",
                    "detailedInformation": {},
                    "errorDetails": {
                      "errorCode": "",
                      "errorMessage": "",
                      "occurrences": 1
                    },
                    "recommendation": "Resolve the error : An internal error has occurred. Please contact Microsoft Support.",
                    "severity": "Critical",
                    "title": "Could not scan for updates. Error message : 'An internal error has occurred. Please contact Microsoft Support.'."
                  },
                  "type": "dataBoxEdgeDevices/alerts"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/bandwidthSchedules": {
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BandwidthSchedulesList"
                }
              }
            },
            "description": "The collection of bandwidth schedules."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BandwidthSchedules"
        ],
        "description": "Gets all the bandwidth schedules for a Data Box Edge/Data Box Gateway device.",
        "operationId": "BandwidthSchedules_ListByDataBoxEdgeDevice",
        "x-ms-examples": {
          "BandwidthScheduleGetAllInDevice": {
            "parameters": {
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "deviceName": "testedgedevice",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice/bandwidthSchedules/bandwidth-1",
                      "name": "bandwidth-1",
                      "properties": {
                        "days": [
                          "Sunday",
                          "Monday"
                        ],
                        "rateInMbps": 100,
                        "start": "00:00:00",
                        "stop": 50340
                      },
                      "type": "dataBoxEdgeDevices/bandwidthSchedules"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/bandwidthSchedules/{name}": {
      "delete": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The bandwidth schedule name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the bandwidth schedule."
          },
          "202": {
            "description": "Accepted the request to delete the bandwidth schedule."
          },
          "204": {
            "description": "Successfully deleted the bandwidth schedule."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BandwidthSchedules"
        ],
        "description": "Deletes the specified bandwidth schedule.",
        "operationId": "BandwidthSchedules_Delete",
        "x-ms-examples": {
          "BandwidthScheduleDelete": {
            "parameters": {
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "deviceName": "testedgedevice",
              "name": "bandwidth-1",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce"
            },
            "responses": {
              "200": {},
              "202": {},
              "204": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The bandwidth schedule name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BandwidthSchedule"
                }
              }
            },
            "description": "The bandwidth schedule."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BandwidthSchedules"
        ],
        "description": "Gets the properties of the specified bandwidth schedule.",
        "operationId": "BandwidthSchedules_Get",
        "x-ms-examples": {
          "BandwidthScheduleGet": {
            "parameters": {
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "deviceName": "testedgedevice",
              "name": "bandwidth-1",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice/bandwidthSchedules/bandwidth-1",
                  "name": "bandwidth-1",
                  "properties": {
                    "days": [
                      "Sunday",
                      "Monday"
                    ],
                    "rateInMbps": 100,
                    "start": "00:00:00",
                    "stop": 50340
                  },
                  "type": "dataBoxEdgeDevices/bandwidthSchedules"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The bandwidth schedule name which needs to be added/updated.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BandwidthSchedule"
                }
              }
            },
            "description": "Successfully created or updated the bandwidth schedule."
          },
          "202": {
            "description": "Accepted the request to create or update the bandwidth schedule."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "BandwidthSchedules"
        ],
        "description": "Creates or updates a bandwidth schedule.",
        "operationId": "BandwidthSchedules_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BandwidthSchedule"
              }
            }
          },
          "description": "The bandwidth schedule to be added or updated.",
          "required": true
        },
        "x-ms-examples": {
          "BandwidthSchedulePut": {
            "parameters": {
              "parameters": {
                "properties": {
                  "days": [
                    "Sunday",
                    "Monday"
                  ],
                  "rateInMbps": 100,
                  "start": "0:0:0",
                  "stop": 50340
                }
              },
              "Content-Length": [
                "200"
              ],
              "Content-Type": [
                "application/json; charset=utf-8"
              ],
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "deviceName": "testedgedevice",
              "name": "bandwidth-1",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ]
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice/bandwidthSchedules/bandwidth-1",
                  "name": "bandwidth-1",
                  "properties": {
                    "days": [
                      "Sunday",
                      "Monday"
                    ],
                    "rateInMbps": 100,
                    "start": "00:00:00",
                    "stop": 50340
                  },
                  "type": "dataBoxEdgeDevices/bandwidthSchedules"
                }
              },
              "202": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/downloadUpdates": {
      "post": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully downloaded the updates on the device."
          },
          "202": {
            "description": "Accepted the request to download the updates on the device."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_DownloadUpdates",
        "summary": "Downloads the updates on a Data Box Edge/Data Box Gateway device.",
        "x-ms-examples": {
          "DownloadUpdatesPost": {
            "parameters": {
              "Content-Length": [
                "200"
              ],
              "Content-Type": [
                "application/json; charset=utf-8"
              ],
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "deviceName": "testedgedevice",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ]
            },
            "responses": {
              "200": {},
              "202": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/getExtendedInformation": {
      "post": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataBoxEdgeDeviceExtendedInfo"
                }
              }
            },
            "description": "The additional information."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Devices"
        ],
        "description": "Gets additional information for the specified Data Box Edge/Data Box Gateway device.",
        "operationId": "Devices_GetExtendedInformation",
        "x-ms-examples": {
          "ExtendedInfoPost": {
            "parameters": {
              "Content-Length": [
                "200"
              ],
              "Content-Type": [
                "application/json; charset=utf-8"
              ],
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "deviceName": "testedgedevice",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ]
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice",
                  "name": "testedgedevice",
                  "properties": {
                    "encryptionKey": "<encryptionkey>",
                    "encryptionKeyThumbprint": "<encryptionthumbprint>",
                    "resourceKey": "3482840729935603111"
                  },
                  "type": "Microsoft.DataBoxEdge/dataBoxEdgeDevices"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/installUpdates": {
      "post": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully installed updates on the device."
          },
          "202": {
            "description": "Accepted the request to install updates on the device."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Devices"
        ],
        "operationId": "Devices_InstallUpdates",
        "summary": "Installs the updates on the Data Box Edge/Data Box Gateway device.",
        "x-ms-examples": {
          "InstallUpdatesPost": {
            "parameters": {
              "Content-Length": [
                "200"
              ],
              "Content-Type": [
                "application/json; charset=utf-8"
              ],
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "deviceName": "testedgedevice",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ]
            },
            "responses": {
              "200": {},
              "202": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/jobs/{name}": {
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The job name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            },
            "description": "The job details."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Jobs"
        ],
        "operationId": "Jobs_Get",
        "summary": "Gets the details of a specified job on a Data Box Edge/Data Box Gateway device.",
        "x-ms-examples": {
          "JobsGet": {
            "parameters": {
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "deviceName": "testedgedevice",
              "name": "159a00c7-8543-4343-9435-263ac87df3bb",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ]
            },
            "responses": {
              "200": {
                "body": {
                  "endTime": "2018-12-18 03:18:51.427026+00:00",
                  "id": "/subscriptions/id/locations/westus/jobs/159a00c7-8543-4343-9435-263ac87df3bb",
                  "name": "159a00c7-8543-4343-9435-263ac87df3bb",
                  "percentComplete": 100,
                  "properties": {
                    "currentStage": "Success",
                    "jobType": "DownloadUpdates"
                  },
                  "startTime": "2018-12-18 02:18:51.427026+00:00",
                  "status": "Succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/networkSettings/default": {
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkSettings"
                }
              }
            },
            "description": "The device network settings."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Devices"
        ],
        "description": "Gets the network settings of the specified Data Box Edge/Data Box Gateway device.",
        "operationId": "Devices_GetNetworkSettings",
        "x-ms-examples": {
          "NetworkSettingsGet": {
            "parameters": {
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "deviceName": "testedgedevice",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ]
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice/networkSettings/default",
                  "name": "default",
                  "properties": {
                    "networkAdapters": [
                      {
                        "adapterId": "{47D0D0EC-AA8A-4221-AA2A-355B58082BA5}",
                        "adapterPosition": {
                          "networkGroup": "NonRDMA",
                          "port": 0
                        },
                        "dhcpStatus": "Disabled",
                        "dnsServers": [
                          "10.50.50.50",
                          "10.50.10.50"
                        ],
                        "index": 1,
                        "ipv4Configuration": {
                          "gateway": "10.150.76.1",
                          "ipAddress": "10.150.78.56",
                          "subnet": "255.255.252.0"
                        },
                        "ipv6Configuration": {
                          "gateway": "fe80::12f3:11ff:fe36:994b%5",
                          "ipAddress": "2404:f801:4800:1e:d5c6:50a1:465b:1bbf",
                          "prefixLength": 64
                        },
                        "ipv6LinkLocalAddress": "fe80::d5c6:50a1:465b:1bbf%5",
                        "label": "DATA1",
                        "linkSpeed": 10000000000,
                        "macAddress": "00155D4E265B",
                        "networkAdapterName": "DATA1",
                        "nodeId": "3fd54d9e-f7a0-45bf-bdf1-39b0977d1984",
                        "rdmaStatus": "Incapable",
                        "status": "Inactive"
                      }
                    ]
                  },
                  "type": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/networkSettings"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/nodes": {
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeList"
                }
              }
            },
            "description": "The collection of all nodes on the device."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Nodes"
        ],
        "description": "Gets all the nodes currently configured under this Data Box Edge device",
        "operationId": "Nodes_ListByDataBoxEdgeDevice",
        "x-ms-examples": {
          "NodesGetAllInDevice": {
            "parameters": {
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "deviceName": "testedgedevice",
              "name": "smbshare",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ]
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/DataBoxEdgeDevices/testedgedevice/nodes/1D6QHQ2",
                      "name": "1D6QHQ2",
                      "properties": {
                        "nodeChassisSerialNumber": "1D6QHQ2",
                        "nodeDisplayName": "Controller 1",
                        "nodeFriendlySoftwareVersion": "Data Box Edge 1908",
                        "nodeHcsVersion": "1.6.961.8307",
                        "nodeInstanceId": "ad051874-7d27-4ac4-a7b1-b6f231d8a035",
                        "nodeSerialNumber": "1D6QHQ2",
                        "nodeStatus": "Unknown"
                      },
                      "type": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/nodes"
                    },
                    {
                      "id": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/GroupForEdgeAutomation/providers/Microsoft.DataBoxEdge/DataBoxEdgeDevices/testedgedevice/nodes/1DCNHQ2",
                      "name": "1DCNHQ2",
                      "properties": {
                        "nodeChassisSerialNumber": "1D6QHQ2",
                        "nodeDisplayName": "Controller 1",
                        "nodeFriendlySoftwareVersion": "Data Box Edge 1908",
                        "nodeHcsVersion": "1.6.961.8307",
                        "nodeInstanceId": "ddf3a76d-ada4-44af-99c6-a69a0e21bcb6",
                        "nodeSerialNumber": "1DCNHQ2",
                        "nodeStatus": "Unknown"
                      },
                      "type": "Microsoft.DataBoxEdge/dataBoxEdgeDevices/nodes"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/operationsStatus/{name}": {
      "get": {
        "parameters": [
          {
            "description": "The device name.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The job name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            },
            "description": "The job details."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "OperationsStatus"
        ],
        "operationId": "OperationsStatus_Get",
        "summary": "Gets the details of a specified job on a Data Box Edge/Data Box Gateway device.",
        "x-ms-examples": {
          "OperationsStatusGet": {
            "parameters": {
              "accept-language": [
                "en-US"
              ],
              "api-version": "2019-07-01",
              "deviceName": "testedgedevice",
              "name": "159a00c7-8543-4343-9435-263ac87df3bb",
              "resourceGroupName": "GroupForEdgeAutomation",
              "subscriptionId": "4385cf00-2d3a-425a-832f-f4285b1c9dce",
              "x-ms-client-request-id": [
                "a93b39a3-1ff4-42b8-a56f-43368d47e37a"
              ]
            },
            "responses": {
              "200": {
                "body": {
                  "endTime": "2018-12-18 03:18:51.427026+00:00",
                  "id": "/subscriptions/id/locations/westus/operationsStatus/159a00c7-8543-4343-9435-263ac87df3bb",
                  "name": "159a00c7-8543-4343-9435-263ac87df3bb",
                  "percentComplete": 100,
[...]
