{
  "openapi": "3.0.3",
  "info": {
    "title": "Agillic API",
    "version": "1.0.0",
    "description": "Agillic is a native customer marketing platform enabling brands to connect with audiences across channels through data-driven communication at scale. The API provides endpoints for managing recipients, global data, flows, assets, discovery metadata, app push notifications, and data exports.",
    "x-jentic-source-url": "https://developers.agillic.com/"
  },
  "servers": [
    {
      "url": "https://api-eu1.agillic.net",
      "description": "Agillic EU1 API server"
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "operationId": "getOAuthToken",
        "summary": "Get OAuth2 token",
        "description": "Obtain a bearer token using client credentials. Token has a 2-hour TTL.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ]
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Developer Key"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Developer Secret"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid credentials"
          }
        },
        "security": []
      }
    },
    "/recipients": {
      "get": {
        "operationId": "listRecipients",
        "summary": "List recipients",
        "description": "List recipient collections with optional filtering.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "objectResponse",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageStart",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "RSQL filter expression",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipients retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recipient"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createRecipient",
        "summary": "Create recipient",
        "description": "Create a new recipient.",
        "tags": [
          "Recipients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipient created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/{recipientId}": {
      "get": {
        "operationId": "getRecipient",
        "summary": "Get recipient",
        "description": "Retrieve a specific recipient by ID.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "personDataFields",
            "in": "query",
            "description": "Specific person data fields to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipient retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateRecipient",
        "summary": "Update recipient",
        "description": "Update recipient person data.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipient updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteRecipient",
        "summary": "Delete recipient",
        "description": "Remove a recipient.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipient deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/:batch": {
      "post": {
        "operationId": "batchUpsertRecipients",
        "summary": "Batch create/update recipients",
        "description": "Bulk create or update recipients (max 1000 recipients, 5MB).",
        "tags": [
          "Recipients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RecipientRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch operation completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/v2/:upsert": {
      "post": {
        "operationId": "asyncBatchUpsertRecipients",
        "summary": "Async batch upsert recipients",
        "description": "Asynchronous batch upsert of recipients.",
        "tags": [
          "Recipients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncBatchRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/v2/:delete": {
      "post": {
        "operationId": "asyncBatchDeleteRecipients",
        "summary": "Async batch delete recipients",
        "description": "Asynchronous batch delete of recipients.",
        "tags": [
          "Recipients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/{recipientId}/oneToManyTables": {
      "get": {
        "operationId": "listOneToManyTables",
        "summary": "List One-to-Many tables",
        "description": "List all One-to-Many tables for a recipient.",
        "tags": [
          "One-to-Many"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tables listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/{recipientId}/oneToManyTables/{tableId}": {
      "get": {
        "operationId": "getOneToManyTable",
        "summary": "Get One-to-Many table",
        "description": "Retrieve a specific One-to-Many table's records for a recipient.",
        "tags": [
          "One-to-Many"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table records retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OneToManyTable"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/{recipientId}/oneToManyTables/{tableId}/:batchUpdateRecords": {
      "post": {
        "operationId": "batchUpdateOneToManyRecords",
        "summary": "Batch update One-to-Many records",
        "description": "Update multiple records in a One-to-Many table.",
        "tags": [
          "One-to-Many"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Records updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/{recipientId}/oneToManyTables/{tableId}/:batchDeleteRecords": {
      "post": {
        "operationId": "batchDeleteOneToManyRecords",
        "summary": "Batch delete One-to-Many records",
        "description": "Delete multiple records from a One-to-Many table.",
        "tags": [
          "One-to-Many"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Records deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/{recipientId}/oneToManyTables/{tableId}/:truncateTable": {
      "post": {
        "operationId": "truncateOneToManyTable",
        "summary": "Truncate One-to-Many table",
        "description": "Clear all records from a One-to-Many table for a recipient.",
        "tags": [
          "One-to-Many"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table truncated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/v2/oneToManyTables/:upsert": {
      "post": {
        "operationId": "asyncUpsertOneToManyRecords",
        "summary": "Async upsert One-to-Many records",
        "description": "Asynchronous upsert for One-to-Many records.",
        "tags": [
          "One-to-Many"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncBatchRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/{recipientId}/events": {
      "get": {
        "operationId": "listRecipientEvents",
        "summary": "List recipient events",
        "description": "List achieved events for a recipient.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Events listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/{recipientId}/events/{eventId}": {
      "get": {
        "operationId": "getRecipientEvent",
        "summary": "Get recipient event",
        "description": "Retrieve a specific event for a recipient.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/{recipientId}/events/{eventId}/:achieveEvent": {
      "post": {
        "operationId": "achieveEvent",
        "summary": "Achieve event",
        "description": "Trigger event achievement for a recipient.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event achieved"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/{recipientId}/events/{eventId}/:achieveWithContext": {
      "post": {
        "operationId": "achieveEventWithContext",
        "summary": "Achieve event with context",
        "description": "Achieve event with contextual data for a recipient.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Contextual data as JSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event achieved with context"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/v2/events/:achieve": {
      "post": {
        "operationId": "asyncAchieveEvent",
        "summary": "Async achieve event",
        "description": "Asynchronous event achievement with context.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncBatchRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/{recipientId}/promotions/{promotionId}/:evaluatePromotion": {
      "post": {
        "operationId": "evaluatePromotion",
        "summary": "Evaluate promotion",
        "description": "Evaluate a promotion for a recipient.",
        "tags": [
          "Promotions"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "promotionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maximumPropositions",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Promotion evaluated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Promotion"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/{recipientId}/targetGroups": {
      "get": {
        "operationId": "listRecipientTargetGroups",
        "summary": "List recipient target groups",
        "description": "List target groups for a recipient.",
        "tags": [
          "Target Groups"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Target groups listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TargetGroup"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/:addToStaticTargetGroup": {
      "post": {
        "operationId": "addToStaticTargetGroup",
        "summary": "Add to static target group",
        "description": "Add recipients to a static target group (max 100).",
        "tags": [
          "Target Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaticTargetGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipients added to target group"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/:removeFromStaticTargetGroup": {
      "post": {
        "operationId": "removeFromStaticTargetGroup",
        "summary": "Remove from static target group",
        "description": "Remove recipients from a static target group (max 100).",
        "tags": [
          "Target Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaticTargetGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipients removed from target group"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/{recipientId}/:listCommunicationHistory": {
      "post": {
        "operationId": "listCommunicationHistory",
        "summary": "List communication history",
        "description": "Retrieve communication log for a recipient.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateStart",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateEnd",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "communicationType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Communication history retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunicationLog"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recipients/v2/task/{taskId}": {
      "get": {
        "operationId": "getTaskStatus",
        "summary": "Get async task status",
        "description": "Check the status of an asynchronous operation.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/globaldata": {
      "get": {
        "operationId": "listGlobalData",
        "summary": "List global data",
        "description": "Returns Global Data optionally filtered by RSQL filter.",
        "tags": [
          "Global Data"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "RSQL collection filter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Global data listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GlobalData"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/globaldata/{globalDataName}": {
      "get": {
        "operationId": "getGlobalData",
        "summary": "Get global data by name",
        "description": "Returns Global Data specified by name identifier.",
        "tags": [
          "Global Data"
        ],
        "parameters": [
          {
            "name": "globalDataName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Global data retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateGlobalData",
        "summary": "Update global data",
        "description": "Update a Global Data value. Only the VALUE is currently updatable.",
        "tags": [
          "Global Data"
        ],
        "parameters": [
          {
            "name": "globalDataName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "VALUE": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Global data updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/globaldata/tables": {
      "get": {
        "operationId": "listGlobalDataTables",
        "summary": "List global data tables",
        "description": "Returns the collection of existing Global Data Tables.",
        "tags": [
          "Global Data"
        ],
        "responses": {
          "200": {
            "description": "Tables listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/globaldata/tables/{tableId}": {
      "get": {
        "operationId": "getGlobalDataTable",
        "summary": "Get global data table",
        "description": "Returns the Global Data Table with its records.",
        "tags": [
          "Global Data"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalDataTable"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/globaldata/tables/{tableId}/limit/{rowNum}": {
      "get": {
        "operationId": "getGlobalDataTableWithLimit",
        "summary": "Get global data table with row limit",
        "description": "Returns Global Data Table with limited and sorted records.",
        "tags": [
          "Global Data"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowNum",
            "in": "path",
            "required": true,
            "description": "Maximum rows to return",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sortByField",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortingOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table with limited records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalDataTable"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/globaldata/tables/{tableId}/record/{recordId}": {
      "get": {
        "operationId": "getGlobalDataTableRecord",
        "summary": "Get global data table record",
        "description": "Returns a single Global Data Table record.",
        "tags": [
          "Global Data"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateGlobalDataTableRecord",
        "summary": "Update global data table record",
        "description": "Update a single Global Data Table record.",
        "tags": [
          "Global Data"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteGlobalDataTableRecord",
        "summary": "Delete global data table record",
        "description": "Delete a single Global Data Table record.",
        "tags": [
          "Global Data"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/globaldata/tables/{tableId}/record": {
      "post": {
        "operationId": "createGlobalDataTableRecord",
        "summary": "Create global data table record",
        "description": "Create a new record in a Global Data Table.",
        "tags": [
          "Global Data"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/globaldata/tables/{tableId}/:batchCreateRecords": {
      "post": {
        "operationId": "batchCreateGlobalDataRecords",
        "summary": "Batch create global data records",
        "description": "Create multiple new records in a Global Data Table.",
        "tags": [
          "Global Data"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch create completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/globaldata/tables/{tableId}/:batchUpdateRecords": {
      "post": {
        "operationId": "batchUpdateGlobalDataRecords",
        "summary": "Batch update global data records",
        "description": "Update multiple records in a Global Data Table.",
        "tags": [
          "Global Data"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch update completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/globaldata/tables/{tableId}/:batchDeleteRecords": {
      "post": {
        "operationId": "batchDeleteGlobalDataRecords",
        "summary": "Batch delete global data records",
        "description": "Delete multiple records from a Global Data Table.",
        "tags": [
          "Global Data"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch delete completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/globaldata/tables/{tableId}/:truncateTable": {
      "post": {
        "operationId": "truncateGlobalDataTable",
        "summary": "Truncate global data table",
        "description": "Delete all records in a Global Data Table. This operation is atomic.",
        "tags": [
          "Global Data"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table truncated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/flows/{flowId}/recipients/{recipientId}/queue": {
      "post": {
        "operationId": "queueFlowForRecipient",
        "summary": "Queue flow for recipient",
        "description": "Queue a flow for a single recipient.",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Timeout in seconds",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flow queued"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/flows/{flowId}/recipients/{recipientId}/queueWithContext": {
      "post": {
        "operationId": "queueFlowWithContext",
        "summary": "Queue flow with context",
        "description": "Queue a flow for a recipient with contextual data.",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Contextual data conforming to pre-defined JSON schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Flow queued with context"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/flows/{flowId}/queue": {
      "get": {
        "operationId": "getFlowQueueStatus",
        "summary": "Get flow queue status",
        "description": "Get the execution data from queued and active flows.",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Queue status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueFlowStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "queueFlowWithGlobalData",
        "summary": "Queue flow with global data",
        "description": "Queue a flow with optional PRE and POST global data table updates.",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueueFlowSpec"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Flow queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agillicQueueId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "resetFlowQueue",
        "summary": "Reset flow queue",
        "description": "Reset ALL data around queued flows and any active flow.",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flow queue reset"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/flows/{flowId}/:execute": {
      "post": {
        "operationId": "executeFlow",
        "summary": "Execute flow",
        "description": "Execute a flow identified by flowId.",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flow executed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/flows/{flowId}/:executeWithContext": {
      "post": {
        "operationId": "executeFlowWithContext",
        "summary": "Execute flow with context",
        "description": "Execute a flow for recipients with context data.",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipientsWithContext"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Flow executed with context"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/discovery/targetgroups": {
      "get": {
        "operationId": "discoverTargetGroups",
        "summary": "Discover target groups",
        "description": "Returns name and description for target groups.",
        "tags": [
          "Discovery"
        ],
        "responses": {
          "200": {
            "description": "Target groups metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TargetGroupMetadata"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/discovery/persondata": {
      "get": {
        "operationId": "discoverPersonData",
        "summary": "Discover person data",
        "description": "Returns Person Data metadata for Recipients.",
        "tags": [
          "Discovery"
        ],
        "responses": {
          "200": {
            "description": "Person data metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/discovery/onetomany": {
      "get": {
        "operationId": "discoverOneToManyTables",
        "summary": "Discover One-to-Many tables",
        "description": "Returns a list of OTM table names.",
        "tags": [
          "Discovery"
        ],
        "responses": {
          "200": {
            "description": "OTM table names",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/discovery/onetomany/{tableId}": {
      "get": {
        "operationId": "discoverOneToManyTable",
        "summary": "Discover One-to-Many table metadata",
        "description": "Retrieve metadata structure for a specified OTM table.",
        "tags": [
          "Discovery"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/discovery/historical": {
      "get": {
        "operationId": "discoverHistoricalTables",
        "summary": "Discover historical tables",
        "description": "Returns a list of Historical table names.",
        "tags": [
          "Discovery"
        ],
        "responses": {
          "200": {
            "description": "Historical table names",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/discovery/historical/{tableId}": {
      "get": {
        "operationId": "discoverHistoricalTable",
        "summary": "Discover historical table metadata",
        "description": "Retrieve metadata for a specified historical table.",
        "tags": [
          "Discovery"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/discovery/globaldata": {
      "get": {
        "operationId": "discoverGlobalData",
        "summary": "Discover global data",
        "description": "Returns Global Data metadata optionally filtered.",
        "tags": [
          "Discovery"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Global data metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GlobalDataMetadata"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/discovery/globaldata/tables": {
      "get": {
        "operationId": "discoverGlobalDataTables",
        "summary": "Discover global data tables",
        "description": "Returns a list of Global Data Tables metadata.",
        "tags": [
          "Discovery"
        ],
        "responses": {
          "200": {
            "description": "Global data table names",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/discovery/globaldata/tables/{tableId}": {
      "get": {
        "operationId": "discoverGlobalDataTable",
        "summary": "Discover global data table metadata",
        "description": "Returns Global Data Table metadata specification.",
        "tags": [
          "Discovery"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/apps/register/{recipientId}": {
      "put": {
        "operationId": "registerDevice",
        "summary": "Register device",
        "description": "Register a device to a recipient for push notifications.",
        "tags": [
          "App Push"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceRegistration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device registered"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/apps/unregister/{recipientId}": {
      "put": {
        "operationId": "unregisterDevice",
        "summary": "Unregister device",
        "description": "Unregister a device by clearing push token.",
        "tags": [
          "App Push"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceUnregistration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device unregistered"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/apps/consent/{recipientId}": {
      "put": {
        "operationId": "addConsent",
        "summary": "Add consent",
        "description": "Add a consent granted by the recipient.",
        "tags": [
          "App Push"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consent added"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "withdrawConsent",
        "summary": "Withdraw consent",
        "description": "Withdraw a consent granted by the recipient.",
        "tags": [
          "App Push"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "clientAppId",
                  "type"
                ],
                "properties": {
                  "clientAppId": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consent withdrawn"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/apps/feedback/{recipientId}": {
      "post": {
        "operationId": "recordFeedback",
        "summary": "Record feedback",
        "description": "Record device events like OPENED or RECEIVED to Activity logs.",
        "tags": [
          "App Push"
        ],
        "parameters": [
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feedback recorded"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/assets/resources/list": {
      "get": {
        "operationId": "listAssetResources",
        "summary": "List asset resources",
        "description": "List items and folders at a specified location.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "folder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resources listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/assets/resources": {
      "post": {
        "operationId": "uploadResource",
        "summary": "Upload resource",
        "description": "Upload a new resource. Fails if item already exists.",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "folder": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource uploaded"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateResource",
        "summary": "Update resource",
        "description": "Create or update a resource at a given location.",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "folder": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteResource",
        "summary": "Delete resource",
        "description": "Remove a resource. Fails if resource is referenced.",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Path of the file to delete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/assets/templates/list": {
      "get": {
        "operationId": "listAssetTemplates",
        "summary": "List asset templates",
        "description": "List template items and folders.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "folder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Templates listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/assets/templates": {
      "post": {
        "operationId": "uploadTemplate",
        "summary": "Upload template",
        "description": "Create a new template. Fails if it already exists.",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "folder": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template uploaded"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateTemplate",
        "summary": "Update template",
        "description": "Create or update a template.",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "folder": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/assets/templates/:commit": {
      "post": {
        "operationId": "commitTemplate",
        "summary": "Commit template",
        "description": "Commit an existing template.",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "folder": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template committed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/assets/extensions": {
      "post": {
        "operationId": "uploadExtension",
        "summary": "Upload extension",
        "description": "Create a new extension (step, condition, http, or monitor type).",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file",
                  "type"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "step",
                      "condition",
                      "http",
                      "monitor"
                    ]
                  },
                  "folder": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extension uploaded"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateExtension",
        "summary": "Update extension",
        "description": "Update an existing extension.",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "folder": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extension updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/assets/contexts": {
      "post": {
        "operationId": "uploadContextSchema",
        "summary": "Upload context schema",
        "description": "Create a new contextual schema. Fails if it already exists.",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Schema uploaded"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateContextSchema",
        "summary": "Update context schema",
        "description": "Create or update a contextual schema.",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Schema updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/assets/webapps": {
      "post": {
        "operationId": "uploadWebapp",
        "summary": "Upload webapp",
        "description": "Create a new webapp from a ZIP archive.",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webapp uploaded"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateWebapp",
        "summary": "Update webapp",
        "description": "Create or update a webapp.",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webapp updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/export/files/list": {
      "get": {
        "operationId": "listExportFiles",
        "summary": "List export files",
        "description": "List items and folders at a specified export location.",
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "folder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/export/files/download": {
      "get": {
        "operationId": "downloadExportFile",
        "summary": "Download export file",
        "description": "Download a file. Maximum file size is 1GB.",
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "query",
            "required": true,
            "description": "Path of the file to download",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File downloaded",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/export/files/delete": {
      "delete": {
        "operationId": "deleteExportFile",
        "summary": "Delete export file",
        "description": "Delete a file or folder.",
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "query",
            "required": true,
            "description": "Path of the file to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/export/activity/:execute": {
      "post": {
        "operationId": "executeActivityExport",
        "summary": "Execute activity export",
        "description": "Execute an activity export. Maximum 4-hour export window, from parameter no older than 7 days.",
        "tags": [
          "Export"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityExportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/export/activity/{taskId}": {
      "get": {
        "operationId": "readExportPage",
        "summary": "Read export page",
        "description": "Returns paginated export results.",
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageStart",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export page retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/export/activity/task/{taskId}": {
      "get": {
        "operationId": "getExportTaskStatus",
        "summary": "Get export task status",
        "description": "Returns processing or completion status of an export task.",
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OAuthTokenResponse": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string",
            "example": "bearer"
          },
          "access_token": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer",
            "example": 7200
          }
        }
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "recipientId": {
            "type": "string"
          },
          "personData": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "RecipientRequest": {
        "type": "object",
        "properties": {
          "personData": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "BulkResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer"
          },
          "updated": {
            "type": "integer"
          },
          "warnings": {
            "type": "integer"
          },
          "errors": {
            "type": "integer"
          }
        }
      },
      "AsyncBatchRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "AsyncDeleteRequest": {
        "type": "object",
        "properties": {
          "recipientIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "TaskStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "completed"
            ]
          },
          "details": {
            "type": "object"
          }
        }
      },
      "OneToManyTable": {
        "type": "object",
        "properties": {
          "tableId": {
            "type": "string"
          },
          "records": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "achieved": {
            "type": "boolean"
          }
        }
      },
      "Promotion": {
        "type": "object",
        "properties": {
          "promotionId": {
            "type": "string"
          },
          "propositions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "TargetGroup": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "StaticTargetGroupRequest": {
        "type": "object",
        "properties": {
          "targetGroupName": {
            "type": "string"
          },
          "recipientIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100
          }
        }
      },
      "CommunicationLog": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "GlobalData": {
        "type": "object",
        "properties": {
          "NAME": {
            "type": "string"
          },
          "TYPE": {
            "type": "string"
          },
          "VALUE": {
            "type": "string"
          },
          "DESCRIPTION": {
            "type": "string"
          }
        }
      },
      "GlobalDataTable": {
        "type": "object",
        "properties": {
          "tableId": {
            "type": "string"
          },
          "records": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "QueueFlowStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "queuedCount": {
            "type": "integer"
          },
          "activeCount": {
            "type": "integer"
          }
        }
      },
      "QueueFlowSpec": {
        "type": "object",
        "properties": {
          "preGlobalDataUpdates": {
            "type": "object"
          },
          "postGlobalDataUpdates": {
            "type": "object"
          }
        }
      },
      "RecipientsWithContext": {
        "type": "object",
        "properties": {
          "schemaName": {
            "type": "string"
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "recipientId": {
                  "type": "string"
                },
                "contextData": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "TargetGroupMetadata": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "static": {
            "type": "boolean"
          },
          "global": {
            "type": "boolean"
          }
        }
      },
      "GlobalDataMetadata": {
        "type": "object",
        "properties": {
          "NAME": {
            "type": "string"
          },
          "TYPE": {
            "type": "string"
          },
          "DESCRIPTION": {
            "type": "string"
          }
        }
      },
      "DeviceRegistration": {
        "type": "object",
        "required": [
          "appInstallationId",
          "clientAppId",
          "osName",
          "pushNotificationToken"
        ],
        "properties": {
          "appInstallationId": {
            "type": "string"
          },
          "clientAppId": {
            "type": "string"
          },
          "osName": {
            "type": "string"
          },
          "pushNotificationToken": {
            "type": "string"
          },
          "clientAppVersion": {
            "type": "string"
          },
          "deviceModel": {
            "type": "string"
          },
          "osVersion": {
            "type": "string"
          },
          "modelDimX": {
            "type": "integer"
          },
          "modelDimY": {
            "type": "integer"
          },
          "consent": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "DeviceUnregistration": {
        "type": "object",
        "required": [
          "appInstallationId",
          "clientAppId",
          "osName"
        ],
        "properties": {
          "appInstallationId": {
            "type": "string"
          },
          "clientAppId": {
            "type": "string"
          },
          "osName": {
            "type": "string"
          },
          "clientAppVersion": {
            "type": "string"
          },
          "deviceModel": {
            "type": "string"
          },
          "osVersion": {
            "type": "string"
          },
          "pushNotificationToken": {
            "type": "string"
          }
        }
      },
      "ConsentRequest": {
        "type": "object",
        "required": [
          "clientAppId",
          "type"
        ],
        "properties": {
          "clientAppId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "validUntil": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "FeedbackRequest": {
        "type": "object",
        "required": [
          "reportId",
          "clientAppId",
          "feedbackStatus"
        ],
        "properties": {
          "reportId": {
            "type": "string"
          },
          "clientAppId": {
            "type": "string"
          },
          "feedbackStatus": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "AssetItem": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "isFolder": {
            "type": "boolean"
          },
          "referenced": {
            "type": "boolean"
          }
        }
      },
      "ActivityExportRequest": {
        "type": "object",
        "required": [
          "fileType",
          "from",
          "to"
        ],
        "properties": {
          "fileType": {
            "type": "string"
          },
          "from": {
            "type": "string",
            "format": "date-time"
          },
          "to": {
            "type": "string",
            "format": "date-time"
          },
          "configuration": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 bearer token obtained from /oauth2/token endpoint"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Base64-encoded developer_key:developer_secret (not recommended)"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Apps"
    },
    {
      "name": "Assets"
    },
    {
      "name": "Discovery"
    },
    {
      "name": "Export"
    },
    {
      "name": "Flows"
    },
    {
      "name": "Globaldata"
    },
    {
      "name": "Oauth2"
    },
    {
      "name": "Recipients"
    }
  ]
}