{
  "openapi": "3.0.3",
  "info": {
    "title": "Bitwarden Public API",
    "description": "The Bitwarden Public API provides organizations with a suite of tools for managing members, collections, groups, event logs, and policies. Available for Enterprise and Teams organizations. Uses OAuth2 client credentials for authentication.",
    "version": "1.0.0",
    "contact": {
      "name": "Bitwarden Support",
      "url": "https://bitwarden.com"
    },
    "x-jentic-source-url": "https://bitwarden.com/help/api/"
  },
  "servers": [
    {
      "url": "https://api.bitwarden.com",
      "description": "Bitwarden Cloud (US)"
    },
    {
      "url": "https://api.bitwarden.eu",
      "description": "Bitwarden Cloud (EU)"
    }
  ],
  "security": [
    {
      "OAuth2ClientCredentials": []
    }
  ],
  "tags": [
    { "name": "Authentication", "description": "OAuth2 token management" },
    { "name": "Members", "description": "Organization member management" },
    { "name": "Collections", "description": "Organization collection management" },
    { "name": "Groups", "description": "Organization group management" },
    { "name": "Events", "description": "Organization event logs" },
    { "name": "Policies", "description": "Organization policy management" }
  ],
  "paths": {
    "/public/members": {
      "get": {
        "operationId": "listMembers",
        "summary": "List members",
        "description": "Retrieve a list of organization members. Results exceeding 50 items use pagination via continuationToken.",
        "tags": ["Members"],
        "parameters": [
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "description": "Token for retrieving the next page of results",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberListResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "post": {
        "operationId": "createMember",
        "summary": "Create a member",
        "description": "Invite a new member to the organization.",
        "tags": ["Members"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/public/members/{id}": {
      "get": {
        "operationId": "getMember",
        "summary": "Get a member",
        "description": "Retrieve a specific organization member by ID.",
        "tags": ["Members"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Member GUID",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Member details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      },
      "put": {
        "operationId": "updateMember",
        "summary": "Update a member",
        "description": "Update an existing organization member.",
        "tags": ["Members"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      },
      "delete": {
        "operationId": "deleteMember",
        "summary": "Delete a member",
        "description": "Remove a member from the organization.",
        "tags": ["Members"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": { "description": "Member deleted" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/public/members/{id}/reinvite": {
      "post": {
        "operationId": "reinviteMember",
        "summary": "Reinvite a member",
        "description": "Re-send the invitation email to a member.",
        "tags": ["Members"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": { "description": "Invitation re-sent" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/public/members/{id}/group-ids": {
      "get": {
        "operationId": "getMemberGroupIds",
        "summary": "Get member group IDs",
        "description": "Get the group IDs associated with a member.",
        "tags": ["Members"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of group IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "type": "string", "format": "uuid" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateMemberGroupIds",
        "summary": "Update member group IDs",
        "description": "Set the group IDs for a member.",
        "tags": ["Members"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": { "type": "string", "format": "uuid" }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Group IDs updated" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/public/collections": {
      "get": {
        "operationId": "listCollections",
        "summary": "List collections",
        "description": "Retrieve a list of organization collections.",
        "tags": ["Collections"],
        "parameters": [
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of collections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionListResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      },
      "post": {
        "operationId": "createCollection",
        "summary": "Create a collection",
        "description": "Create a new collection in the organization.",
        "tags": ["Collections"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/public/collections/{id}": {
      "get": {
        "operationId": "getCollection",
        "summary": "Get a collection",
        "description": "Retrieve a specific collection by ID.",
        "tags": ["Collections"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateCollection",
        "summary": "Update a collection",
        "description": "Update an existing collection.",
        "tags": ["Collections"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteCollection",
        "summary": "Delete a collection",
        "description": "Remove a collection from the organization.",
        "tags": ["Collections"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": { "description": "Collection deleted" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/public/groups": {
      "get": {
        "operationId": "listGroups",
        "summary": "List groups",
        "description": "Retrieve a list of organization groups.",
        "tags": ["Groups"],
        "parameters": [
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of groups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupListResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      },
      "post": {
        "operationId": "createGroup",
        "summary": "Create a group",
        "description": "Create a new group in the organization.",
        "tags": ["Groups"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/public/groups/{id}": {
      "get": {
        "operationId": "getGroup",
        "summary": "Get a group",
        "description": "Retrieve a specific group by ID.",
        "tags": ["Groups"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Group details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateGroup",
        "summary": "Update a group",
        "description": "Update an existing group.",
        "tags": ["Groups"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteGroup",
        "summary": "Delete a group",
        "description": "Remove a group from the organization.",
        "tags": ["Groups"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": { "description": "Group deleted" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/public/groups/{id}/member-ids": {
      "get": {
        "operationId": "getGroupMemberIds",
        "summary": "Get group member IDs",
        "description": "Get the member IDs associated with a group.",
        "tags": ["Groups"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of member IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "type": "string", "format": "uuid" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateGroupMemberIds",
        "summary": "Update group member IDs",
        "description": "Set the member IDs for a group.",
        "tags": ["Groups"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": { "type": "string", "format": "uuid" }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Member IDs updated" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/public/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "description": "Retrieve organization event logs with optional date filtering.",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Start date (ISO 8601)",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "End date (ISO 8601)",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "actingUserId",
            "in": "query",
            "required": false,
            "description": "Filter by acting user ID",
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "itemId",
            "in": "query",
            "required": false,
            "description": "Filter by item ID",
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/public/policies": {
      "get": {
        "operationId": "listPolicies",
        "summary": "List policies",
        "description": "Retrieve a list of organization policies.",
        "tags": ["Policies"],
        "responses": {
          "200": {
            "description": "List of policies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyListResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/public/policies/{id}": {
      "get": {
        "operationId": "getPolicy",
        "summary": "Get a policy",
        "description": "Retrieve a specific policy by ID.",
        "tags": ["Policies"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Policy details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updatePolicy",
        "summary": "Update a policy",
        "description": "Update an existing policy.",
        "tags": ["Policies"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2ClientCredentials": {
        "type": "oauth2",
        "description": "OAuth2 client credentials flow. Obtain tokens from the identity server.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://identity.bitwarden.com/connect/token",
            "scopes": {
              "api.organization": "Full access to the organization API"
            }
          }
        }
      }
    },
    "schemas": {
      "Member": {
        "type": "object",
        "properties": {
          "object": { "type": "string", "example": "member" },
          "id": { "type": "string", "format": "uuid" },
          "userId": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "twoFactorEnabled": { "type": "boolean" },
          "status": {
            "type": "integer",
            "description": "0=Invited, 1=Accepted, 2=Confirmed, -1=Revoked"
          },
          "type": {
            "type": "integer",
            "description": "0=Owner, 1=Admin, 2=User, 3=Manager, 4=Custom"
          },
          "accessAll": { "type": "boolean" },
          "externalId": { "type": "string", "nullable": true },
          "resetPasswordEnrolled": { "type": "boolean" },
          "collections": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CollectionAccess" }
          }
        }
      },
      "MemberCreateRequest": {
        "type": "object",
        "required": ["email", "type", "accessAll"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "type": { "type": "integer" },
          "accessAll": { "type": "boolean" },
          "externalId": { "type": "string", "nullable": true },
          "collections": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CollectionAccess" }
          }
        }
      },
      "MemberUpdateRequest": {
        "type": "object",
        "required": ["type", "accessAll"],
        "properties": {
          "type": { "type": "integer" },
          "accessAll": { "type": "boolean" },
          "externalId": { "type": "string", "nullable": true },
          "collections": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CollectionAccess" }
          }
        }
      },
      "MemberListResponse": {
        "type": "object",
        "properties": {
          "object": { "type": "string", "example": "list" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Member" }
          },
          "continuationToken": { "type": "string", "nullable": true }
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "object": { "type": "string", "example": "collection" },
          "id": { "type": "string", "format": "uuid" },
          "groups": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CollectionAccess" }
          },
          "externalId": { "type": "string", "nullable": true }
        }
      },
      "CollectionCreateRequest": {
        "type": "object",
        "required": ["externalId"],
        "properties": {
          "externalId": { "type": "string" },
          "groups": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CollectionAccess" }
          }
        }
      },
      "CollectionListResponse": {
        "type": "object",
        "properties": {
          "object": { "type": "string", "example": "list" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Collection" }
          },
          "continuationToken": { "type": "string", "nullable": true }
        }
      },
      "CollectionAccess": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "readOnly": { "type": "boolean" }
        }
      },
      "Group": {
        "type": "object",
        "properties": {
          "object": { "type": "string", "example": "group" },
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "accessAll": { "type": "boolean" },
          "externalId": { "type": "string", "nullable": true },
          "collections": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CollectionAccess" }
          }
        }
      },
      "GroupCreateRequest": {
        "type": "object",
        "required": ["name", "accessAll"],
        "properties": {
          "name": { "type": "string" },
          "accessAll": { "type": "boolean" },
          "externalId": { "type": "string", "nullable": true },
          "collections": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CollectionAccess" }
          }
        }
      },
      "GroupListResponse": {
        "type": "object",
        "properties": {
          "object": { "type": "string", "example": "list" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Group" }
          },
          "continuationToken": { "type": "string", "nullable": true }
        }
      },
      "EventItem": {
        "type": "object",
        "properties": {
          "object": { "type": "string", "example": "event" },
          "type": { "type": "integer" },
          "itemId": { "type": "string", "format": "uuid", "nullable": true },
          "collectionId": { "type": "string", "format": "uuid", "nullable": true },
          "groupId": { "type": "string", "format": "uuid", "nullable": true },
          "policyId": { "type": "string", "format": "uuid", "nullable": true },
          "memberId": { "type": "string", "format": "uuid", "nullable": true },
          "actingUserId": { "type": "string", "format": "uuid", "nullable": true },
          "date": { "type": "string", "format": "date-time" },
          "device": { "type": "integer" },
          "ipAddress": { "type": "string" }
        }
      },
      "EventListResponse": {
        "type": "object",
        "properties": {
          "object": { "type": "string", "example": "list" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/EventItem" }
          },
          "continuationToken": { "type": "string", "nullable": true }
        }
      },
      "Policy": {
        "type": "object",
        "properties": {
          "object": { "type": "string", "example": "policy" },
          "id": { "type": "string", "format": "uuid" },
          "organizationId": { "type": "string", "format": "uuid" },
          "type": { "type": "integer" },
          "enabled": { "type": "boolean" },
          "data": { "type": "object" }
        }
      },
      "PolicyUpdateRequest": {
        "type": "object",
        "required": ["enabled"],
        "properties": {
          "enabled": { "type": "boolean" },
          "data": { "type": "object" }
        }
      },
      "PolicyListResponse": {
        "type": "object",
        "properties": {
          "object": { "type": "string", "example": "list" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Policy" }
          },
          "continuationToken": { "type": "string", "nullable": true }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "object": { "type": "string", "example": "error" },
          "message": { "type": "string" },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": { "type": "string" }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - validation error",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or expired token",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  }
}
