{
  "openapi": "3.0.0",
  "info": {
    "description": "The Data Migration Service helps people migrate their data from on-premise database servers to Azure, or from older database software to newer software. The service manages one or more workers that are joined to a customer's virtual network, which is assumed to provide connectivity to their databases. To avoid frequent updates to the resource provider, data migration tasks are implemented by the resource provider in a generic way as task resources, each of which has a task type (which identifies the type of work to run), input, and output. The client is responsible for providing appropriate task type and inputs, which will be passed through unexamined to the machines that implement the functionality, and for understanding the output, which is passed back unexamined to the client.",
    "title": "Azure Data Migration Service Resource Provider",
    "version": "2018-03-15-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/datamigration/2018-03-15-preview/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-ms-code-generation-settings": {
      "name": "DataMigrationServiceClient"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-03-15-preview/datamigration.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "datamigration",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.DataMigration/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "OData page of action (operation) objects",
                  "properties": {
                    "nextLink": {
                      "description": "URL to load the next page of actions",
                      "type": "string"
                    },
                    "value": {
                      "description": "List of actions",
                      "items": {
                        "description": "Description of an action supported by the Data Migration Service",
                        "properties": {
                          "display": {
                            "description": "Localized display text",
                            "properties": {
                              "description": {
                                "description": "The localized operation description",
                                "type": "string"
                              },
                              "operation": {
                                "description": "The localized operation name",
                                "type": "string"
                              },
                              "provider": {
                                "description": "The localized resource provider name",
                                "type": "string"
                              },
                              "resource": {
                                "description": "The localized resource type name",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "name": {
                            "description": "The fully qualified action name, e.g. Microsoft.DataMigration/services/read",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Got action list"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error information.",
                  "properties": {
                    "error": {
                      "description": "Error information in OData format.",
                      "properties": {
                        "code": {
                          "description": "The machine-readable description of the error, such as 'InvalidRequest' or 'InternalServerError'",
                          "type": "string"
                        },
                        "details": {
                          "description": "Inner errors that caused this error",
                          "items": {
                            "$ref": "#/components/schemas/ODataError"
                          },
                          "type": "array"
                        },
                        "message": {
                          "description": "The human-readable description of the error",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "Standard operation",
          "GET"
        ],
        "description": "Lists all available actions exposed by the Data Migration Service resource provider.",
        "operationId": "Operations_List",
        "summary": "Get available resource provider actions (operations)",
        "x-ms-examples": {
          "Operations_List": {
            "parameters": {
              "api-version": "2018-03-15-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "display": {
                        "description": "Read information about services.",
                        "operation": "Read",
                        "provider": "Data Migration Service",
                        "resource": "Data Migration Service"
                      },
                      "name": "Microsoft.DataMigration/services/read"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataMigration/locations/{location}/checkNameAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          },
          {
            "$ref": "#/components/parameters/location"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Indicates whether a proposed resource name is available",
                  "properties": {
                    "message": {
                      "description": "The localized reason why the name is not available, if nameAvailable is false",
                      "type": "string"
                    },
                    "nameAvailable": {
                      "description": "If true, the name is valid and available. If false, 'reason' describes why not.",
                      "type": "boolean"
                    },
                    "reason": {
                      "description": "The reason why the name is not available, if nameAvailable is false",
                      "enum": [
                        "AlreadyExists",
                        "Invalid"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "NameCheckFailureReason"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Name checked"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error information.",
                  "properties": {
                    "error": {
                      "description": "Error information in OData format.",
                      "properties": {
                        "code": {
                          "description": "The machine-readable description of the error, such as 'InvalidRequest' or 'InternalServerError'",
                          "type": "string"
                        },
                        "details": {
                          "description": "Inner errors that caused this error",
                          "items": {
                            "$ref": "#/components/schemas/ODataError"
                          },
                          "type": "array"
                        },
                        "message": {
                          "description": "The human-readable description of the error",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "Standard operation",
          "POST"
        ],
        "description": "This method checks whether a proposed top-level resource name is valid and available.",
        "operationId": "Services_CheckNameAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "A resource type and proposed name",
                "properties": {
                  "name": {
                    "description": "The proposed resource name",
                    "type": "string"
                  },
                  "type": {
                    "description": "The resource type chain (e.g. virtualMachines/extensions)",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Requested name to validate",
          "required": true
        },
        "summary": "Check name validity and availability",
        "x-ms-examples": {
          "Services_CheckNameAvailability": {
            "parameters": {
              "parameters": {
                "requestedName": {
                  "name": "DmsSdkService",
                  "type": "services"
                }
              },
              "api-version": "2018-03-15-preview",
              "location": "eastus",
              "subscriptionId": "fc04246f-04c5-437e-ac5e-206a19e7193f"
            },
            "responses": {
              "200": {
                "body": {
                  "nameAvailable": true
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataMigration/locations/{location}/usages": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/location"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "OData page of quota objects",
                  "properties": {
                    "nextLink": {
                      "description": "URL to load the next page of quotas, or null or missing if this is the last page",
                      "type": "string"
                    },
                    "value": {
                      "description": "List of quotas",
                      "items": {
                        "description": "Describes a quota for or usage details about a resource",
                        "properties": {
                          "currentValue": {
                            "description": "The current value of the quota. If null or missing, the current value cannot be determined in the context of the request.",
                            "format": "double",
                            "type": "number"
                          },
                          "id": {
                            "description": "The resource ID of the quota object",
                            "type": "string"
                          },
                          "limit": {
                            "description": "The maximum value of the quota. If null or missing, the quota has no maximum, in which case it merely tracks usage.",
                            "format": "double",
                            "type": "number"
                          },
                          "name": {
                            "description": "The name of the quota",
                            "properties": {
                              "localizedValue": {
                                "description": "The localized name of the quota",
                                "type": "string"
                              },
                              "value": {
                                "description": "The unlocalized name (or ID) of the quota",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "unit": {
                            "description": "The unit for the quota, such as Count, Bytes, BytesPerSecond, etc.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Quotas returned"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error information.",
                  "properties": {
                    "error": {
                      "description": "Error information in OData format.",
                      "properties": {
                        "code": {
                          "description": "The machine-readable description of the error, such as 'InvalidRequest' or 'InternalServerError'",
                          "type": "string"
                        },
                        "details": {
                          "description": "Inner errors that caused this error",
                          "items": {
                            "$ref": "#/components/schemas/ODataError"
                          },
                          "type": "array"
                        },
                        "message": {
                          "description": "The human-readable description of the error",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "Standard operation",
          "GET"
        ],
        "description": "This method returns region-specific quotas and resource usage information for the Data Migration Service.",
        "operationId": "Usages_List",
        "summary": "Get resource quotas and usage information",
        "x-ms-examples": {
          "Services_Usages": {
            "parameters": {
              "api-version": "2018-03-15-preview",
              "location": "westus",
              "subscriptionId": "90fb80a6-0f71-4761-8f03-921e7396f3c0"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "currentValue": 1,
                      "id": "/subscriptions/90fb80a6-0f71-4761-8f03-921e7396f3c0/providers/Microsoft.DataMigration/locations/westus/usages/Services",
                      "limit": 2,
                      "name": {
                        "localizedValue": "DMS service instances per region",
                        "value": "Services"
                      },
                      "unit": "Count"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataMigration/services": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "OData page of service objects",
                  "properties": {
                    "nextLink": {
                      "description": "URL to load the next page of services",
                      "type": "string"
                    },
                    "value": {
                      "description": "List of services",
                      "items": {
                        "allOf": [
                          {
                            "allOf": [
                              {
                                "description": "ARM resource.",
                                "properties": {
                                  "id": {
                                    "description": "Resource ID.",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "name": {
                                    "description": "Resource name.",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "type": {
                                    "description": "Resource type.",
                                    "readOnly": true,
                                    "type": "string"
                                  }
                                },
                                "type": "object",
                                "x-ms-azure-resource": true
                              }
                            ],
                            "description": "ARM tracked top level resource.",
                            "properties": {
                              "tags": {
                                "additionalProperties": {
                                  "type": "string"
                                },
                                "description": "Resource tags.",
                                "type": "object",
                                "x-ms-mutability": [
                                  "read",
                                  "create",
                                  "update"
                                ]
                              },
                              "location": {
                                "description": "Resource location.",
                                "type": "string",
                                "x-ms-mutability": [
                                  "read",
                                  "create"
                                ]
                              }
                            },
                            "required": [
                              "location"
                            ],
                            "type": "object"
                          }
                        ],
                        "description": "A Data Migration Service resource",
                        "properties": {
                          "etag": {
                            "description": "HTTP strong entity tag value. Ignored if submitted",
                            "type": "string"
                          },
                          "kind": {
                            "description": "The resource kind. Only 'vm' (the default) is supported.",
                            "type": "string"
                          },
                          "properties": {
                            "description": "Properties of the Data Migration service instance",
                            "properties": {
                              "provisioningState": {
                                "description": "The resource's provisioning state",
                                "enum": [
                                  "Accepted",
                                  "Deleting",
                                  "Deploying",
                                  "Stopped",
                                  "Stopping",
                                  "Starting",
                                  "FailedToStart",
                                  "FailedToStop",
                                  "Succeeded",
                                  "Failed"
                                ],
                                "readOnly": true,
                                "type": "string",
                                "x-ms-enum": {
                                  "modelAsString": true,
                                  "name": "ServiceProvisioningState"
                                }
                              },
                              "publicKey": {
                                "description": "The public key of the service, used to encrypt secrets sent to the service",
                                "type": "string"
                              },
                              "virtualSubnetId": {
                                "description": "The ID of the Microsoft.Network/virtualNetworks/subnets resource to which the service should be joined",
                                "type": "string"
                              }
                            },
                            "required": [
                              "virtualSubnetId"
                            ],
                            "type": "object"
                          },
                          "sku": {
                            "description": "An Azure SKU instance",
                            "properties": {
                              "capacity": {
                                "description": "The capacity of the SKU, if it supports scaling",
                                "type": "integer"
                              },
                              "family": {
                                "description": "The SKU family, used when the service has multiple performance classes within a tier, such as 'A', 'D', etc. for virtual machines",
                                "type": "string"
                              },
                              "name": {
                                "description": "The unique name of the SKU, such as 'P3'",
                                "type": "string"
                              },
                              "size": {
                                "description": "The size of the SKU, used when the name alone does not denote a service size or when a SKU has multiple performance classes within a family, e.g. 'A1' for virtual machines",
                                "type": "string"
                              },
                              "tier": {
                                "description": "The tier of the SKU, such as 'Free', 'Basic', 'Standard', or 'Premium'",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Got services"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error information.",
                  "properties": {
                    "error": {
                      "description": "Error information in OData format.",
                      "properties": {
                        "code": {
                          "description": "The machine-readable description of the error, such as 'InvalidRequest' or 'InternalServerError'",
                          "type": "string"
                        },
                        "details": {
                          "description": "Inner errors that caused this error",
                          "items": {
                            "$ref": "#/components/schemas/ODataError"
                          },
                          "type": "array"
                        },
                        "message": {
                          "description": "The human-readable description of the error",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "Service resource",
          "Standard operation",
          "GET"
        ],
        "description": "The services resource is the top-level resource that represents the Data Migration Service. This method returns a list of service resources in a subscription.",
        "operationId": "Services_List",
        "summary": "Get services in subscription",
        "x-ms-examples": {
          "Services_List": {
            "parameters": {
              "api-version": "2018-03-15-preview",
              "subscriptionId": "fc04246f-04c5-437e-ac5e-206a19e7193f"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmsSdkRg1/providers/Microsoft.DataMigration/services/DmsSdkService1",
                      "location": "southcentralus",
                      "name": "DmsSdkService1",
                      "sku": {
                        "name": "GeneralPurpose_4vCores",
                        "size": "4 vCores",
                        "tier": "General Purpose"
                      },
                      "type": "Microsoft.DataMigration/services"
                    },
                    {
                      "id": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmsSdkRg2/providers/Microsoft.DataMigration/services/DmsSdkService2",
                      "location": "centralus",
                      "name": "DmsSdkService2",
                      "sku": {
                        "name": "Basic_2vCores",
                        "size": "2 vCores",
                        "tier": "Basic"
                      },
                      "type": "Microsoft.DataMigration/services"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataMigration/skus": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "The DMS List SKUs operation response.",
                  "properties": {
                    "nextLink": {
                      "description": "The uri to fetch the next page of DMS SKUs. Call ListNext() with this to fetch the next page of DMS SKUs.",
                      "type": "string"
                    },
                    "value": {
                      "description": "The list of SKUs available for the subscription.",
                      "items": {
                        "description": "Describes an available DMS SKU.",
                        "properties": {
                          "apiVersions": {
                            "description": "The api versions that support this SKU.",
                            "items": {
                              "type": "string"
                            },
                            "readOnly": true,
                            "type": "array"
                          },
                          "capabilities": {
                            "description": "A name value pair to describe the capability.",
                            "items": {
                              "description": "Describes The SKU capabilites object.",
                              "properties": {
                                "name": {
                                  "description": "An invariant to describe the feature.",
                                  "readOnly": true,
                                  "type": "string"
                                },
                                "value": {
                                  "description": "An invariant if the feature is measured by quantity.",
                                  "readOnly": true,
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "readOnly": true,
                            "type": "array"
                          },
                          "capacity": {
                            "description": "Describes scaling information of a SKU.",
                            "properties": {
                              "default": {
                                "description": "The default capacity.",
                                "format": "int64",
                                "readOnly": true,
                                "type": "integer"
                              },
                              "maximum": {
                                "description": "The maximum capacity.",
                                "format": "int64",
                                "readOnly": true,
                                "type": "integer"
                              },
                              "minimum": {
                                "description": "The minimum capacity.",
                                "format": "int64",
                                "readOnly": true,
                                "type": "integer"
                              },
                              "scaleType": {
                                "description": "The scale type applicable to the SKU.",
                                "enum": [
                                  "Automatic",
                                  "Manual",
                                  "None"
                                ],
                                "readOnly": true,
                                "type": "string",
                                "x-ms-enum": {
                                  "modelAsString": true,
                                  "name": "ResourceSkuCapacityScaleType"
                                }
                              }
                            },
                            "type": "object"
                          },
                          "costs": {
                            "description": "Metadata for retrieving price info.",
                            "items": {
                              "description": "Describes metadata for retrieving price info.",
                              "properties": {
                                "extendedUnit": {
                                  "description": "An invariant to show the extended unit.",
                                  "readOnly": true,
                                  "type": "string"
                                },
                                "meterID": {
                                  "description": "Used for querying price from commerce.",
                                  "readOnly": true,
                                  "type": "string"
                                },
                                "quantity": {
                                  "description": "The multiplier is needed to extend the base metered cost.",
                                  "format": "int64",
                                  "readOnly": true,
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            },
                            "readOnly": true,
                            "type": "array"
                          },
                          "family": {
                            "description": "The Family of this particular SKU.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "kind": {
                            "description": "The Kind of resources that are supported in this SKU.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "locations": {
                            "description": "The set of locations that the SKU is available.",
                            "items": {
                              "type": "string"
                            },
                            "readOnly": true,
                            "type": "array"
                          },
                          "name": {
                            "description": "The name of SKU.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "resourceType": {
                            "description": "The type of resource the SKU applies to.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "restrictions": {
                            "description": "The restrictions because of which SKU cannot be used. This is empty if there are no restrictions.",
                            "items": {
                              "description": "Describes scaling information of a SKU.",
                              "properties": {
                                "reasonCode": {
                                  "description": "The reason code for restriction.",
                                  "enum": [
                                    "QuotaId",
                                    "NotAvailableForSubscription"
                                  ],
                                  "readOnly": true,
                                  "type": "string",
                                  "x-ms-enum": {
                                    "modelAsString": true,
                                    "name": "ResourceSkuRestrictionsReasonCode"
                                  }
                                },
                                "type": {
                                  "description": "The type of restrictions.",
                                  "enum": [
                                    "location"
                                  ],
                                  "readOnly": true,
                                  "type": "string",
                                  "x-ms-enum": {
                                    "modelAsString": true,
                                    "name": "ResourceSkuRestrictionsType"
                                  }
                                },
                                "values": {
                                  "description": "The value of restrictions. If the restriction type is set to location. This would be different locations where the SKU is restricted.",
                                  "items": {
                                    "type": "string"
                                  },
                                  "readOnly": true,
                                  "type": "array"
                                }
                              },
                              "type": "object"
                            },
                            "readOnly": true,
                            "type": "array"
                          },
                          "size": {
                            "description": "The Size of the SKU.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "tier": {
                            "description": "Specifies the tier of DMS in a scale set.",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "value"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Got SKUs"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error information.",
                  "properties": {
                    "error": {
                      "description": "Error information in OData format.",
                      "properties": {
                        "code": {
                          "description": "The machine-readable description of the error, such as 'InvalidRequest' or 'InternalServerError'",
                          "type": "string"
                        },
                        "details": {
                          "description": "Inner errors that caused this error",
                          "items": {
                            "$ref": "#/components/schemas/ODataError"
                          },
                          "type": "array"
                        },
                        "message": {
                          "description": "The human-readable description of the error",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "Standard operation",
          "GET"
        ],
        "description": "The skus action returns the list of SKUs that DMS supports.",
        "operationId": "ResourceSkus_ListSkus",
        "summary": "Get supported SKUs",
        "x-ms-examples": {
          "ListSkus": {
            "parameters": {
              "api-version": "2018-03-15-preview",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "locations": [
                        "East Asia",
                        "Southeast Asia",
                        "Australia East",
                        "Australia Southeast",
                        "Brazil South",
                        "Canada Central",
                        "Canada East",
                        "North Europe",
                        "West Europe",
                        "Central India",
                        "South India",
                        "West India",
                        "Japan East",
                        "Japan West",
                        "Korea South",
                        "Korea Central",
                        "UK South",
                        "UK South 2",
                        "UK North",
                        "UK West",
                        "East US 2 EUAP",
                        "Central US",
                        "East US",
                        "East US 2",
                        "North Central US",
                        "South Central US",
                        "West Central US",
                        "West US",
                        "West US 2"
                      ],
                      "name": "PP1",
                      "resourceType": "services",
                      "restrictions": []
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/groupName"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "OData page of service objects",
                  "properties": {
                    "nextLink": {
                      "description": "URL to load the next page of services",
                      "type": "string"
                    },
                    "value": {
                      "description": "List of services",
                      "items": {
                        "allOf": [
                          {
                            "allOf": [
                              {
                                "description": "ARM resource.",
                                "properties": {
                                  "id": {
                                    "description": "Resource ID.",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "name": {
                                    "description": "Resource name.",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "type": {
                                    "description": "Resource type.",
                                    "readOnly": true,
                                    "type": "string"
                                  }
                                },
                                "type": "object",
                                "x-ms-azure-resource": true
                              }
                            ],
                            "description": "ARM tracked top level resource.",
                            "properties": {
                              "tags": {
                                "additionalProperties": {
                                  "type": "string"
                                },
                                "description": "Resource tags.",
                                "type": "object",
                                "x-ms-mutability": [
                                  "read",
                                  "create",
                                  "update"
                                ]
                              },
                              "location": {
                                "description": "Resource location.",
                                "type": "string",
                                "x-ms-mutability": [
                                  "read",
                                  "create"
                                ]
                              }
                            },
                            "required": [
                              "location"
                            ],
                            "type": "object"
                          }
                        ],
                        "description": "A Data Migration Service resource",
                        "properties": {
                          "etag": {
                            "description": "HTTP strong entity tag value. Ignored if submitted",
                            "type": "string"
                          },
                          "kind": {
                            "description": "The resource kind. Only 'vm' (the default) is supported.",
                            "type": "string"
                          },
                          "properties": {
                            "description": "Properties of the Data Migration service instance",
                            "properties": {
                              "provisioningState": {
                                "description": "The resource's provisioning state",
                                "enum": [
                                  "Accepted",
                                  "Deleting",
                                  "Deploying",
                                  "Stopped",
                                  "Stopping",
                                  "Starting",
                                  "FailedToStart",
                                  "FailedToStop",
                                  "Succeeded",
                                  "Failed"
                                ],
                                "readOnly": true,
                                "type": "string",
                                "x-ms-enum": {
                                  "modelAsString": true,
                                  "name": "ServiceProvisioningState"
                                }
                              },
                              "publicKey": {
                                "description": "The public key of the service, used to encrypt secrets sent to the service",
                                "type": "string"
                              },
                              "virtualSubnetId": {
                                "description": "The ID of the Microsoft.Network/virtualNetworks/subnets resource to which the service should be joined",
                                "type": "string"
                              }
                            },
                            "required": [
                              "virtualSubnetId"
                            ],
                            "type": "object"
                          },
                          "sku": {
                            "description": "An Azure SKU instance",
                            "properties": {
                              "capacity": {
                                "description": "The capacity of the SKU, if it supports scaling",
                                "type": "integer"
                              },
                              "family": {
                                "description": "The SKU family, used when the service has multiple performance classes within a tier, such as 'A', 'D', etc. for virtual machines",
                                "type": "string"
                              },
                              "name": {
                                "description": "The unique name of the SKU, such as 'P3'",
                                "type": "string"
                              },
                              "size": {
                                "description": "The size of the SKU, used when the name alone does not denote a service size or when a SKU has multiple performance classes within a family, e.g. 'A1' for virtual machines",
                                "type": "string"
                              },
                              "tier": {
                                "description": "The tier of the SKU, such as 'Free', 'Basic', 'Standard', or 'Premium'",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Got services"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error information.",
                  "properties": {
                    "error": {
                      "description": "Error information in OData format.",
                      "properties": {
                        "code": {
                          "description": "The machine-readable description of the error, such as 'InvalidRequest' or 'InternalServerError'",
                          "type": "string"
                        },
                        "details": {
                          "description": "Inner errors that caused this error",
                          "items": {
                            "$ref": "#/components/schemas/ODataError"
                          },
                          "type": "array"
                        },
                        "message": {
                          "description": "The human-readable description of the error",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "Service resource",
          "Standard operation",
          "GET"
        ],
        "description": "The Services resource is the top-level resource that represents the Data Migration Service. This method returns a list of service resources in a resource group.",
        "operationId": "Services_ListByResourceGroup",
        "summary": "Get services in resource group",
        "x-ms-examples": {
          "Services_ListByResourceGroup": {
            "parameters": {
              "api-version": "2018-03-15-preview",
              "groupName": "DmsSdkRg",
              "subscriptionId": "fc04246f-04c5-437e-ac5e-206a19e7193f"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmsSdkRg/providers/Microsoft.DataMigration/services/DmsSdkService1",
                      "location": "southcentralus",
                      "name": "DmsSdkService1",
                      "sku": {
                        "name": "GeneralPurpose_4vCores",
                        "size": "4 vCores",
                        "tier": "General Purpose"
                      },
                      "type": "Microsoft.DataMigration/services"
                    },
                    {
                      "id": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmsSdkRg/providers/Microsoft.DataMigration/services/DmsSdkService2",
                      "location": "southcentralus",
                      "name": "DmsSdkService2",
                      "sku": {
                        "name": "Basic_2vCores",
                        "size": "2 vCores",
                        "tier": "Basic"
                      },
                      "type": "Microsoft.DataMigration/services"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/subscriptionId"
        },
        {
          "$ref": "#/components/parameters/groupName"
        },
        {
          "$ref": "#/components/parameters/serviceName"
        },
        {
          "$ref": "#/components/parameters/apiVersion"
        }
      ],
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deleteRunningTasks"
          }
        ],
        "responses": {
          "200": {
            "description": "Service resource deleted"
          },
          "202": {
            "description": "Deletion accepted"
          },
          "204": {
            "description": "Service not found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error information.",
                  "properties": {
                    "error": {
                      "description": "Error information in OData format.",
                      "properties": {
                        "code": {
                          "description": "The machine-readable description of the error, such as 'InvalidRequest' or 'InternalServerError'",
                          "type": "string"
                        },
                        "details": {
                          "description": "Inner errors that caused this error",
                          "items": {
                            "$ref": "#/components/schemas/ODataError"
                          },
                          "type": "array"
                        },
                        "message": {
                          "description": "The human-readable description of the error",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "Service resource",
          "Standard operation",
          "DELETE"
        ],
        "description": "The services resource is the top-level resource that represents the Data Migration Service. The DELETE method deletes a service. Any running tasks will be canceled.",
        "operationId": "Services_Delete",
        "summary": "Delete DMS Service Instance",
        "x-ms-examples": {
          "Services_CreateOrUpdate": {
            "parameters": {
              "api-version": "2018-03-15-preview",
              "groupName": "DmsSdkRg",
              "serviceName": "DmsSdkService",
              "subscriptionId": "fc04246f-04c5-437e-ac5e-206a19e7193f"
            },
            "responses": {
              "200": {},
              "202": {
                "body": ""
              },
              "204": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "allOf": [
                        {
                          "description": "ARM resource.",
                          "properties": {
                            "id": {
                              "description": "Resource ID.",
                              "readOnly": true,
                              "type": "string"
                            },
                            "name": {
                              "description": "Resource name.",
                              "readOnly": true,
                              "type": "string"
                            },
                            "type": {
                              "description": "Resource type.",
                              "readOnly": true,
                              "type": "string"
                            }
                          },
                          "type": "object",
                          "x-ms-azure-resource": true
                        }
                      ],
                      "description": "ARM tracked top level resource.",
                      "properties": {
                        "tags": {
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Resource tags.",
                          "type": "object",
                          "x-ms-mutability": [
                            "read",
                            "create",
                            "update"
                          ]
                        },
                        "location": {
                          "description": "Resource location.",
                          "type": "string",
                          "x-ms-mutability": [
                            "read",
                            "create"
                          ]
                        }
                      },
                      "required": [
                        "location"
                      ],
                      "type": "object"
                    }
                  ],
                  "description": "A Data Migration Service resource",
                  "properties": {
                    "etag": {
                      "description": "HTTP strong entity tag value. Ignored if submitted",
                      "type": "string"
                    },
                    "kind": {
                      "description": "The resource kind. Only 'vm' (the default) is supported.",
                      "type": "string"
                    },
                    "properties": {
                      "description": "Properties of the Data Migration service instance",
                      "properties": {
                        "provisioningState": {
                          "description": "The resource's provisioning state",
                          "enum": [
                            "Accepted",
                            "Deleting",
                            "Deploying",
                            "Stopped",
                            "Stopping",
                            "Starting",
                            "FailedToStart",
                            "FailedToStop",
                            "Succeeded",
                            "Failed"
                          ],
                          "readOnly": true,
                          "type": "string",
                          "x-ms-enum": {
                            "modelAsString": true,
                            "name": "ServiceProvisioningState"
                          }
                        },
                        "publicKey": {
                          "description": "The public key of the service, used to encrypt secrets sent to the service",
                          "type": "string"
                        },
                        "virtualSubnetId": {
                          "description": "The ID of the Microsoft.Network/virtualNetworks/subnets resource to which the service should be joined",
                          "type": "string"
                        }
                      },
                      "required": [
                        "virtualSubnetId"
                      ],
                      "type": "object"
                    },
                    "sku": {
                      "description": "An Azure SKU instance",
                      "properties": {
                        "capacity": {
                          "description": "The capacity of the SKU, if it supports scaling",
                          "type": "integer"
                        },
                        "family": {
                          "description": "The SKU family, used when the service has multiple performance classes within a tier, such as 'A', 'D', etc. for virtual machines",
                          "type": "string"
                        },
                        "name": {
                          "description": "The unique name of the SKU, such as 'P3'",
                          "type": "string"
                        },
                        "size": {
                          "description": "The size of the SKU, used when the name alone does not denote a service size or when a SKU has multiple performance classes within a family, e.g. 'A1' for virtual machines",
                          "type": "string"
                        },
                        "tier": {
                          "description": "The tier of the SKU, such as 'Free', 'Basic', 'Standard', or 'Premium'",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A service instance resource"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error information.",
                  "properties": {
                    "error": {
                      "description": "Error information in OData format.",
                      "properties": {
                        "code": {
                          "description": "The machine-readable description of the error, such as 'InvalidRequest' or 'InternalServerError'",
                          "type": "string"
                        },
                        "details": {
                          "description": "Inner errors that caused this error",
                          "items": {
                            "$ref": "#/components/schemas/ODataError"
                          },
                          "type": "array"
                        },
                        "message": {
                          "description": "The human-readable description of the error",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "Service resource",
          "Standard operation",
          "GET"
        ],
        "description": "The services resource is the top-level resource that represents the Data Migration Service. The GET method retrieves information about a service instance.",
        "operationId": "Services_Get",
        "summary": "Get DMS Service Instance",
        "x-ms-examples": {
          "Services_CreateOrUpdate": {
            "parameters": {
              "api-version": "2018-03-15-preview",
              "groupName": "DmsSdkRg",
              "serviceName": "DmsSdkService",
              "subscriptionId": "fc04246f-04c5-437e-ac5e-206a19e7193f"
            },
            "responses": {
              "200": {
                "body": {
                  "etag": "VVFgsiFIruaTduI4hoNOUXLMXr5Y79qytW2cotz4viI=",
                  "id": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmsSdkRg/providers/Microsoft.DataMigration/services/DmsSdkService",
                  "location": "southcentralus",
                  "name": "DmsSdkService",
                  "properties": {
                    "provisioningState": "Succeeded",
                    "publicKey": "0;AQAB;kkQk9TqKG6+ZP2DDr0yjdnlHsZjJFBbL++2eSJvTDzIJFE98nGSA3RNX4EC65oSmsaNhKZi7y6v+cuU6/7q08uom5IfTK0CxmjRnKdoOHnZnP9TShaFLiZPv7H/FXoUIzHKuaOxg+/35AlhDXLVFjKmwfScLC+g6sEWDhlfWzcN7c34yVOGF+BQyZHIeqBcf9HDcwgFfjvAlEh0x4sTeLUNdpjLEv74ce3A/kJMBdFUoxVXvHcMjVVGXC4gS1VLb7Ykoihx+/c5qbhKMNff21v5lwxzNLfIMGzL+T8vKab+3Cpmusk2JaBJ+6glIIuhrpaX5X9fgmvenzzluUWMX9w==",
                    "virtualSubnetId": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmsSdkTestNetwork/providers/Microsoft.Network/virtualNetworks/DmsSdkTestNetwork/subnets/default"
                  },
                  "sku": {
                    "name": "Basic_1vCore",
                    "size": "1 vCore",
                    "tier": "Basic"
                  },
                  "type": "Microsoft.DataMigration/services"
                }
              }
            }
          }
        }
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "allOf": [
                        {
                          "description": "ARM resource.",
                          "properties": {
                            "id": {
                              "description": "Resource ID.",
                              "readOnly": true,
                              "type": "string"
                            },
                            "name": {
                              "description": "Resource name.",
                              "readOnly": true,
                              "type": "string"
                            },
                            "type": {
                              "description": "Resource type.",
                              "readOnly": true,
                              "type": "string"
                            }
                          },
                          "type": "object",
                          "x-ms-azure-resource": true
                        }
                      ],
                      "description": "ARM tracked top level resource.",
                      "properties": {
                        "tags": {
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Resource tags.",
                          "type": "object",
                          "x-ms-mutability": [
                            "read",
                            "create",
                            "update"
                          ]
                        },
                        "location": {
                          "description": "Resource location.",
                          "type": "string",
                          "x-ms-mutability": [
                            "read",
                            "create"
                          ]
                        }
                      },
                      "required": [
                        "location"
                      ],
                      "type": "object"
                    }
                  ],
                  "description": "A Data Migration Service resource",
                  "properties": {
                    "etag": {
                      "description": "HTTP strong entity tag value. Ignored if submitted",
                      "type": "string"
                    },
                    "kind": {
                      "description": "The resource kind. Only 'vm' (the default) is supported.",
                      "type": "string"
                    },
                    "properties": {
                      "description": "Properties of the Data Migration service instance",
                      "properties": {
                        "provisioningState": {
                          "description": "The resource's provisioning state",
                          "enum": [
                            "Accepted",
                            "Deleting",
                            "Deploying",
                            "Stopped",
                            "Stopping",
                            "Starting",
                            "FailedToStart",
                            "FailedToStop",
                            "Succeeded",
                            "Failed"
                          ],
                          "readOnly": true,
                          "type": "string",
                          "x-ms-enum": {
                            "modelAsString": true,
                            "name": "ServiceProvisioningState"
                          }
                        },
                        "publicKey": {
                          "description": "The public key of the service, used to encrypt secrets sent to the service",
                          "type": "string"
                        },
                        "virtualSubnetId": {
                          "description": "The ID of the Microsoft.Network/virtualNetworks/subnets resource to which the service should be joined",
                          "type": "string"
                        }
                      },
                      "required": [
                        "virtualSubnetId"
                      ],
                      "type": "object"
                    },
                    "sku": {
                      "description": "An Azure SKU instance",
                      "properties": {
                        "capacity": {
                          "description": "The capacity of the SKU, if it supports scaling",
                          "type": "integer"
                        },
                        "family": {
                          "description": "The SKU family, used when the service has multiple performance classes within a tier, such as 'A', 'D', etc. for virtual machines",
                          "type": "string"
                        },
                        "name": {
                          "description": "The unique name of the SKU, such as 'P3'",
                          "type": "string"
                        },
                        "size": {
                          "description": "The size of the SKU, used when the name alone does not denote a service size or when a SKU has multiple performance classes within a family, e.g. 'A1' for virtual machines",
                          "type": "string"
                        },
                        "tier": {
                          "description": "The tier of the SKU, such as 'Free', 'Basic', 'Standard', or 'Premium'",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Service resource updated"
          },
          "202": {
            "description": "Update accepted"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error information.",
                  "properties": {
                    "error": {
                      "description": "Error information in OData format.",
                      "properties": {
                        "code": {
                          "description": "The machine-readable description of the error, such as 'InvalidRequest' or 'InternalServerError'",
                          "type": "string"
                        },
                        "details": {
                          "description": "Inner errors that caused this error",
                          "items": {
                            "$ref": "#/components/schemas/ODataError"
                          },
                          "type": "array"
                        },
                        "message": {
                          "description": "The human-readable description of the error",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "Service resource",
          "Standard operation",
          "PATCH"
        ],
        "description": "The services resource is the top-level resource that represents the Data Migration Service. The PATCH method updates an existing service. This method can change the kind, SKU, and network of the service, but if tasks are currently running (i.e. the service is busy), this will fail with 400 Bad Request (\"ServiceIsBusy\").",
        "operationId": "Services_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "allOf": [
                      {
                        "description": "ARM resource.",
                        "properties": {
                          "id": {
                            "description": "Resource ID.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "name": {
                            "description": "Resource name.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "type": {
                            "description": "Resource type.",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "type": "object",
                        "x-ms-azure-resource": true
                      }
                    ],
                    "description": "ARM tracked top level resource.",
                    "properties": {
                      "tags": {
                        "additionalProperties": {
                          "type": "string"
                        },
                        "description": "Resource tags.",
                        "type": "object",
                        "x-ms-mutability": [
                          "read",
                          "create",
                          "update"
                        ]
                      },
                      "location": {
                        "description": "Resource location.",
                        "type": "string",
                        "x-ms-mutability": [
                          "read",
                          "create"
                        ]
                      }
                    },
                    "required": [
                      "location"
                    ],
                    "type": "object"
                  }
                ],
                "description": "A Data Migration Service resource",
                "properties": {
                  "etag": {
                    "description": "HTTP strong entity tag value. Ignored if submitted",
                    "type": "string"
                  },
                  "kind": {
                    "description": "The resource kind. Only 'vm' (the default) is supported.",
                    "type": "string"
                  },
                  "properties": {
                    "description": "Properties of the Data Migration service instance",
                    "properties": {
                      "provisioningState": {
                        "description": "The resource's provisioning state",
                        "enum": [
                          "Accepted",
                          "Deleting",
                          "Deploying",
                          "Stopped",
                          "Stopping",
                          "Starting",
                          "FailedToStart",
                          "FailedToStop",
                          "Succeeded",
                          "Failed"
                        ],
                        "readOnly": true,
                        "type": "string",
                        "x-ms-enum": {
                          "modelAsString": true,
                          "name": "ServiceProvisioningState"
                        }
                      },
                      "publicKey": {
                        "description": "The public key of the service, used to encrypt secrets sent to the service",
                        "type": "string"
                      },
                      "virtualSubnetId": {
                        "description": "The ID of the Microsoft.Network/virtualNetworks/subnets resource to which the service should be joined",
                        "type": "string"
                      }
                    },
                    "required": [
                      "virtualSubnetId"
                    ],
                    "type": "object"
                  },
                  "sku": {
                    "description": "An Azure SKU instance",
                    "properties": {
                      "capacity": {
                        "description": "The capacity of the SKU, if it supports scaling",
                        "type": "integer"
                      },
                      "family": {
                        "description": "The SKU family, used when the service has multiple performance classes within a tier, such as 'A', 'D', etc. for virtual machines",
                        "type": "string"
                      },
                      "name": {
                        "description": "The unique name of the SKU, such as 'P3'",
                        "type": "string"
                      },
                      "size": {
                        "description": "The size of the SKU, used when the name alone does not denote a service size or when a SKU has multiple performance classes within a family, e.g. 'A1' for virtual machines",
                        "type": "string"
                      },
                      "tier": {
                        "description": "The tier of the SKU, such as 'Free', 'Basic', 'Standard', or 'Premium'",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Information about the service",
          "required": true
        },
        "summary": "Create or update DMS Service Instance",
        "x-ms-examples": {
          "Services_CreateOrUpdate": {
            "parameters": {
              "parameters": {
                "properties": {
                  "virtualSubnetId": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmsSdkTestNetwork/providers/Microsoft.Network/virtualNetworks/DmsSdkTestNetwork/subnets/default"
                }
              },
              "api-version": "2018-03-15-preview",
              "groupName": "DmsSdkRg",
              "serviceName": "DmsSdkService",
              "subscriptionId": "fc04246f-04c5-437e-ac5e-206a19e7193f"
            },
            "responses": {
              "200": {
                "body": {
                  "etag": "9QuK/U0GvTJpjIrlOzITXVy68+bmmQ3bFkHudLxmkUw=",
                  "id": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmsSdkRg/providers/Microsoft.DataMigration/services/DmsSdkService",
                  "location": "southcentralus",
                  "name": "DmsSdkService",
                  "properties": {
                    "provisioningState": "Accepted",
                    "virtualSubnetId": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmsSdkTestNetwork/providers/Microsoft.Network/virtualNetworks/DmsSdkTestNetwork/subnets/default"
                  },
                  "sku": {
                    "name": "Basic_1vCore",
                    "size": "1 vCore",
                    "tier": "Basic"
                  },
                  "type": "Microsoft.DataMigration/services"
                }
              },
              "202": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "allOf": [
                        {
                          "description": "ARM resource.",
                          "properties": {
                            "id": {
                              "description": "Resource ID.",
                              "readOnly": true,
                              "type": "string"
                            },
                            "name": {
                              "description": "Resource name.",
                              "readOnly": true,
                              "type": "string"
                            },
                            "type": {
                              "description": "Resource type.",
                              "readOnly": true,
                              "type": "string"
                            }
                          },
                          "type": "object",
                          "x-ms-azure-resource": true
                        }
                      ],
                      "description": "ARM tracked top level resource.",
                      "properties": {
                        "tags": {
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Resource tags.",
                          "type": "object",
                          "x-ms-mutability": [
                            "read",
                            "create",
                            "update"
                          ]
                        },
                        "location": {
                          "description": "Resource location.",
                          "type": "string",
                          "x-ms-mutability": [
                            "read",
                            "create"
                          ]
                        }
                      },
                      "required": [
                        "location"
                      ],
                      "type": "object"
                    }
                  ],
                  "description": "A Data Migration Service resource",
                  "properties": {
                    "etag": {
                      "description": "HTTP strong entity tag value. Ignored if submitted",
                      "type": "string"
                    },
                    "kind": {
                      "description": "The resource kind. Only 'vm' (the default) is supported.",
                      "type": "string"
                    },
                    "properties": {
                      "description": "Properties of the Data Migration service instance",
                      "properties": {
                        "provisioningState": {
                          "description": "The resource's provisioning state",
                          "enum": [
                            "Accepted",
                            "Deleting",
                            "Deploying",
                            "Stopped",
                            "Stopping",
                            "Starting",
                            "FailedToStart",
                            "FailedToStop",
                            "Succeeded",
                            "Failed"
                          ],
                          "readOnly": true,
                          "type": "string",
                          "x-ms-enum": {
                            "modelAsString": true,
                            "name": "ServiceProvisioningState"
                          }
                        },
                        "publicKey": {
                          "description": "The public key of the service, used to encrypt secrets sent to the service",
                          "type": "string"
                        },
                        "virtualSubnetId": {
                          "description": "The ID of the Microsoft.Network/virtualNetworks/subnets resource to which the service should be joined",
                          "type": "string"
                        }
                      },
                      "required": [
                        "virtualSubnetId"
                      ],
                      "type": "object"
                    },
                    "sku": {
                      "description": "An Azure SKU instance",
                      "properties": {
                        "capacity": {
                          "description": "The capacity of the SKU, if it supports scaling",
                          "type": "integer"
                        },
                        "family": {
                          "description": "The SKU family, used when the service has multiple performance classes within a tier, such as 'A', 'D', etc. for virtual machines",
                          "type": "string"
                        },
                        "name": {
                          "description": "The unique name of the SKU, such as 'P3'",
                          "type": "string"
                        },
                        "size": {
                          "description": "The size of the SKU, used when the name alone does not denote a service size or when a SKU has multiple performance classes within a family, e.g. 'A1' for virtual machines",
                          "type": "string"
                        },
                        "tier": {
                          "description": "The tier of the SKU, such as 'Free', 'Basic', 'Standard', or 'Premium'",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Service updated"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "allOf": [
                        {
                          "description": "ARM resource.",
                          "properties": {
                            "id": {
                              "description": "Resource ID.",
                              "readOnly": true,
                              "type": "string"
                            },
                            "name": {
                              "description": "Resource name.",
                              "readOnly": true,
                              "type": "string"
                            },
                            "type": {
                              "description": "Resource type.",
                              "readOnly": true,
                              "type": "string"
                            }
                          },
                          "type": "object",
                          "x-ms-azure-resource": true
                        }
                      ],
                      "description": "ARM tracked top level resource.",
                      "properties": {
                        "tags": {
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Resource tags.",
                          "type": "object",
                          "x-ms-mutability": [
                            "read",
                            "create",
                            "update"
                          ]
                        },
                        "location": {
                          "description": "Resource location.",
                          "type": "string",
                          "x-ms-mutability": [
                            "read",
                            "create"
                          ]
                        }
                      },
                      "required": [
                        "location"
                      ],
                      "type": "object"
                    }
                  ],
                  "description": "A Data Migration Service resource",
                  "properties": {
                    "etag": {
                      "description": "HTTP strong entity tag value. Ignored if submitted",
                      "type": "string"
                    },
                    "kind": {
                      "description": "The resource kind. Only 'vm' (the default) is supported.",
                      "type": "string"
                    },
                    "properties": {
                      "description": "Properties of the Data Migration service instance",
                      "properties": {
                        "provisioningState": {
                          "description": "The resource's provisioning state",
                          "enum": [
                            "Accepted",
                            "Deleting",
                            "Deploying",
                            "Stopped",
                            "Stopping",
                            "Starting",
                            "FailedToStart",
                            "FailedToStop",
                            "Succeeded",
                            "Failed"
                          ],
                          "readOnly": true,
                          "type": "string",
                          "x-ms-enum": {
                            "modelAsString": true,
                            "name": "ServiceProvisioningState"
                          }
                        },
                        "publicKey": {
                          "description": "The public key of the service, used to encrypt secrets sent to the service",
                          "type": "string"
                        },
                        "virtualSubnetId": {
                          "description": "The ID of the Microsoft.Network/virtualNetworks/subnets resource to which the service should be joined",
                          "type": "string"
                        }
                      },
                      "required": [
                        "virtualSubnetId"
                      ],
                      "type": "object"
                    },
                    "sku": {
                      "description": "An Azure SKU instance",
                      "properties": {
                        "capacity": {
                          "description": "The capacity of the SKU, if it supports scaling",
                          "type": "integer"
                        },
                        "family": {
                          "description": "The SKU family, used when the service has multiple performance classes within a tier, such as 'A', 'D', etc. for virtual machines",
                          "type": "string"
                        },
                        "name": {
                          "description": "The unique name of the SKU, such as 'P3'",
                          "type": "string"
                        },
                        "size": {
                          "description": "The size of the SKU, used when the name alone does not denote a service size or when a SKU has multiple performance classes within a family, e.g. 'A1' for virtual machines",
                          "type": "string"
                        },
                        "tier": {
                          "description": "The tier of the SKU, such as 'Free', 'Basic', 'Standard', or 'Premium'",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Service created (use provisioningState)"
          },
          "202": {
            "description": "Update accepted"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error information.",
                  "properties": {
                    "error": {
                      "description": "Error information in OData format.",
                      "properties": {
                        "code": {
                          "description": "The machine-readable description of the error, such as 'InvalidRequest' or 'InternalServerError'",
                          "type": "string"
                        },
                        "details": {
                          "description": "Inner errors that caused this error",
                          "items": {
                            "$ref": "#/components/schemas/ODataError"
                          },
                          "type": "array"
                        },
                        "message": {
                          "description": "The human-readable description of the error",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "Service resource",
          "Standard operation",
          "PUT"
        ],
        "description": "The services resource is the top-level resource that represents the Data Migration Service. The PUT method creates a new service or updates an existing one. When a service is updated, existing child resources (i.e. tasks) are unaffected. Services currently support a single kind, \"vm\", which refers to a VM-based service, although other kinds may be added in the future. This method can change the kind, SKU, and network of the service, but if tasks are currently running (i.e. the service is busy), this will fail with 400 Bad Request (\"ServiceIsBusy\"). The provider will reply when successful with 200 OK or 201 Created. Long-running operations use the provisioningState property.",
        "operationId": "Services_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "allOf": [
                      {
                        "description": "ARM resource.",
                        "properties": {
                          "id": {
                            "description": "Resource ID.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "name": {
                            "description": "Resource name.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "type": {
                            "description": "Resource type.",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "type": "object",
                        "x-ms-azure-resource": true
                      }
                    ],
                    "description": "ARM tracked top level resource.",
                    "properties": {
                      "tags": {
                        "additionalProperties": {
                          "type": "string"
                        },
                        "description": "Resource tags.",
                        "type": "object",
                        "x-ms-mutability": [
                          "read",
                          "create",
                          "update"
                        ]
                      },
                      "location": {
                        "description": "Resource location.",
                        "type": "string",
                        "x-ms-mutability": [
                          "read",
                          "create"
                        ]
                      }
                    },
                    "required": [
                      "location"
                    ],
                    "type": "object"
                  }
                ],
                "description": "A Data Migration Service resource",
                "properties": {
                  "etag": {
                    "description": "HTTP strong entity tag value. Ignored if submitted",
                    "type": "string"
                  },
                  "kind": {
                    "description": "The resource kind. Only 'vm' (the default) is supported.",
                    "type": "string"
                  },
                  "properties": {
                    "description": "Properties of the Data Migration service instance",
                    "properties": {
                      "provisioningState": {
                        "description": "The resource's provisioning state",
                        "enum": [
                          "Accepted",
                          "Deleting",
                          "Deploying",
                          "Stopped",
                          "Stopping",
                          "Starting",
[...]
