{
  "openapi": "3.0.3",
  "info": {
    "title": "Fiksu",
    "version": "1.0.0",
    "description": "API documentation for Fiksu",
    "x-jentic-source-url": "https://api.fiksu.cc/api-docs"
  },
  "servers": [
    {
      "url": "https://api.fiksu.cc"
    }
  ],
  "paths": {
    "/api/lead/new_lead": {
      "post": {
        "summary": "Add new lead",
        "description": "This API will be used to create new lead to the database.",
        "tags": [
          "Leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "linkId": {
                    "type": "string",
                    "description": "The ID of the link which lead related to."
                  },
                  "userId": {
                    "type": "string",
                    "description": "The ID of the user who got lead."
                  },
                  "addedUserName": {
                    "type": "string",
                    "description": "The name of the user who got lead."
                  },
                  "addedUserEmail": {
                    "type": "string",
                    "description": "The email of the user who got lead."
                  },
                  "businessId": {
                    "type": "string",
                    "description": "The ID of the business."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the client/customer."
                  },
                  "company": {
                    "type": "string",
                    "description": "The company of the client/customer."
                  },
                  "phone": {
                    "type": "string",
                    "description": "The phone number of the client/customer."
                  },
                  "email": {
                    "type": "string",
                    "description": "The email of the client/customer."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The data will be saved to database.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Data saved successfully!"
                    },
                    "isSuccess": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An error occured while creating lead.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Data not saved!"
                    },
                    "isSuccess": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "postApiLeadNew_lead"
      }
    },
    "/api/lead/{leadId}": {
      "delete": {
        "summary": "Delete lead by ID",
        "description": "This API will be used to delete the lead by its ID.",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "leadId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The _id of the lead.",
            "example": "60d0fe4f5311236168a109ca"
          }
        ],
        "responses": {
          "200": {
            "description": "Lead deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Lead deleted successfully!"
                    },
                    "isSuccess": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Lead not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Lead not found!"
                    },
                    "isSuccess": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to delete lead!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Failed to delete lead!"
                    },
                    "isSuccess": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "deleteApiLead"
      }
    },
    "/api/lead/{businessId}": {
      "get": {
        "summary": "Get leads of specific business.",
        "description": "This API will be used to get leads of the specific business by providing ID of business.",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "businessId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The _id of the business.",
            "example": "60d0fe4f5311236168a109ca"
          }
        ],
        "responses": {
          "200": {
            "description": "The data will be saved to database.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Leads retrieved successfully!"
                    },
                    "isSuccess": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Business not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Business not found!"
                    },
                    "isSuccess": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve business!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Failed to retrieve business!"
                    },
                    "isSuccess": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "getApiLead"
      }
    },
    "/api/user/zapier_subscribe": {
      "post": {
        "summary": "Zapier subscription endpoint",
        "description": "This API will be used to subscribe the zapier trigger while creating a zap.",
        "tags": [
          "Zapier"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "webhookUrl"
                ],
                "properties": {
                  "webhookUrl": {
                    "type": "string",
                    "description": "The URL of webhook by zap"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Subscribed successfully!"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Authentication failed!"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An error occured while validating the email!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "postApiUserZapier_subscribe"
      }
    },
    "/api/user/zapier_unsubscribe": {
      "post": {
        "summary": "Endpoint to unsubscribe the trigger.",
        "description": "This API will be used to unsubscribe the zapier trigger while deleting a zap.",
        "tags": [
          "Zapier"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "apiKey"
                ],
                "properties": {
                  "apiKey": {
                    "type": "string",
                    "description": "The API key of account"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "UnSubscribed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "UnSubscribed successfully!"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An error occured while validating the email!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "postApiUserZapier_unsubscribe"
      }
    },
    "/api/individual": {
      "post": {
        "summary": "Add a new individual",
        "description": "Creates a new individual with personal, company, and social information.",
        "tags": [
          "Individuals"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "linkId": {
                    "type": "string",
                    "example": "abc123"
                  },
                  "role": {
                    "type": "string",
                    "default": "individual"
                  },
                  "businessId": {
                    "type": "string",
                    "example": "biz456"
                  },
                  "landingPage": {
                    "type": "object",
                    "properties": {
                      "personalInformation": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "jobTitle": {
                            "type": "string",
                            "example": "Software Engineer"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+1234567890"
                          },
                          "email": {
                            "type": "string",
                            "example": "johndoe@example.com"
                          },
                          "bio": {
                            "type": "string",
                            "example": "Passionate software developer."
                          }
                        }
                      },
                      "companyInformation": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Tech Corp"
                          },
                          "website": {
                            "type": "string",
                            "example": "https://techcorp.com"
                          },
                          "location": {
                            "type": "string",
                            "example": "San Francisco, CA"
                          }
                        }
                      },
                      "socialLinks": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "platform": {
                              "type": "string",
                              "example": "LinkedIn"
                            },
                            "link": {
                              "type": "string",
                              "example": "https://linkedin.com/in/johndoe"
                            },
                            "id": {
                              "type": "string",
                              "example": "12345"
                            }
                          }
                        }
                      }
                    }
                  },
                  "leadGeneration": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Jane Doe"
                      },
                      "phone": {
                        "type": "string",
                        "example": "+1987654321"
                      },
                      "email": {
                        "type": "string",
                        "example": "janedoe@example.com"
                      },
                      "showContactInfo": {
                        "type": "boolean",
                        "default": true
                      }
                    }
                  },
                  "redirectLink": {
                    "type": "object",
                    "properties": {
                      "link": {
                        "type": "string",
                        "example": "https://redirect.example.com"
                      }
                    }
                  },
                  "vCard": {
                    "type": "object",
                    "properties": {
                      "personalInformation": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "jobTitle": {
                            "type": "string",
                            "example": "Software Engineer"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+1234567890"
                          },
                          "email": {
                            "type": "string",
                            "example": "johndoe@example.com"
                          },
                          "bio": {
                            "type": "string",
                            "example": "Passionate software developer."
                          }
                        }
                      },
                      "companyInformation": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Tech Corp"
                          },
                          "website": {
                            "type": "string",
                            "example": "https://techcorp.com"
                          },
                          "location": {
                            "type": "string",
                            "example": "San Francisco, CA"
                          }
                        }
                      },
                      "socialLinks": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "platform": {
                              "type": "string",
                              "example": "Twitter"
                            },
                            "link": {
                              "type": "string",
                              "example": "https://twitter.com/johndoe"
                            },
                            "id": {
                              "type": "string",
                              "example": "67890"
                            }
                          }
                        }
                      }
                    }
                  },
                  "email": {
                    "type": "string",
                    "example": "contact@example.com"
                  },
                  "name": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "activeType": {
                    "type": "string",
                    "example": "premium"
                  },
                  "firebaseAuthId": {
                    "type": "string",
                    "example": "firebase123"
                  },
                  "profilePicture": {
                    "type": "string",
                    "example": "https://example.com/profile.jpg"
                  },
                  "bannerImage": {
                    "type": "string",
                    "example": "https://example.com/banner.jpg"
                  },
                  "themeColor": {
                    "type": "string",
                    "example": "#ff5733"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Individual created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "individual789"
                    },
                    "message": {
                      "type": "string",
                      "example": "Individual created successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "postApiIndividual"
      }
    },
    "/api/individual/{id}": {
      "delete": {
        "summary": "Delete individual by ID",
        "description": "This API will be used to delete the individual by its ID.",
        "tags": [
          "Individuals"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The _id of the individual.",
            "example": "60d0fe4f5311236168a109ca"
          }
        ],
        "responses": {
          "200": {
            "description": "Individual deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Individual deleted successfully!"
                    },
                    "isSuccess": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Individual not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Individual not found!"
                    },
                    "isSuccess": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to delete individual!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Failed to delete individual!"
                    },
                    "isSuccess": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "deleteApiIndividual"
      },
      "get": {
        "summary": "Get individual by ID",
        "description": "Retrieve an individual's details using their unique _id.",
        "tags": [
          "Individuals"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique ID of the individual",
            "example": "60d0fe4f5311236168a109ca"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with the individual's details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "linkId": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string",
                      "default": "individual"
                    },
                    "businessId": {
                      "type": "string"
                    },
                    "landingPage": {
                      "type": "object",
                      "properties": {
                        "personalInformation": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "John Doe"
                            },
                            "jobTitle": {
                              "type": "string",
                              "example": "Software Engineer"
                            },
                            "phone": {
                              "type": "string",
                              "example": "+1234567890"
                            },
                            "email": {
                              "type": "string",
                              "example": "johndoe@example.com"
                            },
                            "bio": {
                              "type": "string",
                              "example": "Passionate software developer."
                            }
                          }
                        },
                        "companyInformation": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Tech Corp"
                            },
                            "website": {
                              "type": "string",
                              "example": "https://techcorp.com"
                            },
                            "location": {
                              "type": "string",
                              "example": "San Francisco, CA"
                            }
                          }
                        },
                        "socialLinks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "platform": {
                                "type": "string",
                                "example": "LinkedIn"
                              },
                              "link": {
                                "type": "string",
                                "example": "https://linkedin.com/in/johndoe"
                              },
                              "id": {
                                "type": "string",
                                "example": "12345"
                              }
                            }
                          }
                        }
                      }
                    },
                    "leadGeneration": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Jane Doe"
                        },
                        "phone": {
                          "type": "string",
                          "example": "+1987654321"
                        },
                        "email": {
                          "type": "string",
                          "example": "janedoe@example.com"
                        },
                        "showContactInfo": {
                          "type": "boolean",
                          "default": true
                        }
                      }
                    },
                    "redirectLink": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string",
                          "example": "https://redirect.example.com"
                        }
                      }
                    },
                    "vCard": {
                      "type": "object",
                      "properties": {
                        "personalInformation": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "John Doe"
                            },
                            "jobTitle": {
                              "type": "string",
                              "example": "Software Engineer"
                            },
                            "phone": {
                              "type": "string",
                              "example": "+1234567890"
                            },
                            "email": {
                              "type": "string",
                              "example": "johndoe@example.com"
                            },
                            "bio": {
                              "type": "string",
                              "example": "Passionate software developer."
                            }
                          }
                        },
                        "companyInformation": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Tech Corp"
                            },
                            "website": {
                              "type": "string",
                              "example": "https://techcorp.com"
                            },
                            "location": {
                              "type": "string",
                              "example": "San Francisco, CA"
                            }
                          }
                        },
                        "socialLinks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "platform": {
                                "type": "string",
                                "example": "Twitter"
                              },
                              "link": {
                                "type": "string",
                                "example": "https://twitter.com/johndoe"
                              },
                              "id": {
                                "type": "string",
                                "example": "67890"
                              }
                            }
                          }
                        }
                      }
                    },
                    "email": {
                      "type": "string",
                      "example": "contact@example.com"
                    },
                    "name": {
                      "type": "string",
                      "example": "John Doe"
                    },
                    "activeType": {
                      "type": "string",
                      "example": "premium"
                    },
                    "firebaseAuthId": {
                      "type": "string",
                      "example": "firebase123"
                    },
                    "profilePicture": {
                      "type": "string",
                      "example": "https://example.com/profile.jpg"
                    },
                    "bannerImage": {
                      "type": "string",
                      "example": "https://example.com/banner.jpg"
                    },
                    "themeColor": {
                      "type": "string",
                      "example": "#ff5733"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Individual not found"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "getApiIndividual"
      },
      "put": {
        "summary": "Update an individual by ID",
        "description": "Updates an existing individual with new personal, company, and social information.",
        "tags": [
          "Individuals"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the individual to update.",
            "example": "60d0fe4f5311236168a109ca"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "linkId": {
                    "type": "string",
                    "example": "abc123"
                  },
                  "role": {
                    "type": "string",
                    "default": "individual"
                  },
                  "businessId": {
                    "type": "string",
                    "example": "biz456"
                  },
                  "landingPage": {
                    "type": "object",
                    "properties": {
                      "personalInformation": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "jobTitle": {
                            "type": "string",
                            "example": "Software Engineer"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+1234567890"
                          },
                          "email": {
                            "type": "string",
                            "example": "johndoe@example.com"
                          },
                          "bio": {
                            "type": "string",
                            "example": "Passionate software developer."
                          }
                        }
                      },
                      "companyInformation": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Tech Corp"
                          },
                          "website": {
                            "type": "string",
                            "example": "https://techcorp.com"
                          },
                          "location": {
                            "type": "string",
                            "example": "San Francisco, CA"
                          }
                        }
                      },
                      "socialLinks": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "platform": {
                              "type": "string",
                              "example": "LinkedIn"
                            },
                            "link": {
                              "type": "string",
                              "example": "https://linkedin.com/in/johndoe"
                            },
                            "id": {
                              "type": "string",
                              "example": "12345"
                            }
                          }
                        }
                      }
                    }
                  },
                  "leadGeneration": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Jane Doe"
                      },
                      "phone": {
                        "type": "string",
                        "example": "+1987654321"
                      },
                      "email": {
                        "type": "string",
                        "example": "janedoe@example.com"
                      },
                      "showContactInfo": {
                        "type": "boolean",
                        "default": true
                      }
                    }
                  },
                  "redirectLink": {
                    "type": "object",
                    "properties": {
                      "link": {
                        "type": "string",
                        "example": "https://redirect.example.com"
                      }
                    }
                  },
                  "vCard": {
                    "type": "object",
                    "properties": {
                      "personalInformation": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "jobTitle": {
                            "type": "string",
                            "example": "Software Engineer"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+1234567890"
                          },
                          "email": {
                            "type": "string",
                            "example": "johndoe@example.com"
                          },
                          "bio": {
                            "type": "string",
                            "example": "Passionate software developer."
                          }
                        }
                      },
                      "companyInformation": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Tech Corp"
                          },
                          "website": {
                            "type": "string",
                            "example": "https://techcorp.com"
                          },
                          "location": {
                            "type": "string",
                            "example": "San Francisco, CA"
                          }
                        }
                      },
                      "socialLinks": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "platform": {
                              "type": "string",
                              "example": "Twitter"
                            },
                            "link": {
                              "type": "string",
                              "example": "https://twitter.com/johndoe"
                            },
                            "id": {
                              "type": "string",
                              "example": "67890"
                            }
                          }
                        }
                      }
                    }
                  },
                  "email": {
                    "type": "string",
                    "example": "contact@example.com"
                  },
                  "name": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "activeType": {
                    "type": "string",
                    "example": "premium"
                  },
                  "firebaseAuthId": {
                    "type": "string",
                    "example": "firebase123"
                  },
                  "profilePicture": {
                    "type": "string",
                    "example": "https://example.com/profile.jpg"
                  },
                  "bannerImage": {
                    "type": "string",
                    "example": "https://example.com/banner.jpg"
                  },
                  "themeColor": {
                    "type": "string",
                    "example": "#ff5733"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Individual updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "individual789"
                    },
                    "message": {
                      "type": "string",
                      "example": "Individual updated successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input"
          },
          "404": {
            "description": "Individual not found"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "putApiIndividual"
      }
    },
    "/api/business": {
      "post": {
        "summary": "Add a new business",
        "description": "Creates a new business with personal, company, and social information.",
        "tags": [
          "Business"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "linkId": {
                    "type": "string",
                    "example": "abc123"
                  },
                  "role": {
                    "type": "string",
                    "default": "business"
                  },
                  "businessId": {
                    "type": "string",
                    "example": "biz456"
                  },
                  "landingPage": {
                    "type": "object",
                    "properties": {
                      "personalInformation": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "jobTitle": {
                            "type": "string",
                            "example": "Software Engineer"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+1234567890"
                          },
                          "email": {
                            "type": "string",
                            "example": "johndoe@example.com"
                          },
                          "bio": {
                            "type": "string",
                            "example": "Passionate software developer."
                          }
                        }
                      },
                      "companyInformation": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Tech Corp"
                          },
                          "website": {
                            "type": "string",
                            "example": "https://techcorp.com"
                          },
                          "location": {
                            "type": "string",
                            "example": "San Francisco, CA"
                          }
                        }
                      },
                      "socialLinks": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "platform": {
                              "type": "string",
                              "example": "LinkedIn"
                            },
                            "link": {
                              "type": "string",
                              "example": "https://linkedin.com/in/johndoe"
                            },
                            "id": {
                              "type": "string",
                              "example": "12345"
                            }
                          }
                        }
                      }
                    }
                  },
                  "leadGeneration": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Jane Doe"
                      },
                      "phone": {
                        "type": "string",
                        "example": "+1987654321"
                      },
                      "email": {
                        "type": "string",
                        "example": "janedoe@example.com"
                      },
                      "showContactInfo": {
                        "type": "boolean",
                        "default": true
                      }
                    }
                  },
                  "redirectLink": {
                    "type": "object",
                    "properties": {
                      "link": {
                        "type": "string",
                        "example": "https://redirect.example.com"
                      }
                    }
                  },
                  "vCard": {
                    "type": "object",
                    "properties": {
                      "personalInformation": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "jobTitle": {
                            "type": "string",
                            "example": "Software Engineer"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+1234567890"
                          },
                          "email": {
                            "type": "string",
                            "example": "johndoe@example.com"
                          },
                          "bio": {
                            "type": "string",
                            "example": "Passionate software developer."
                          }
                        }
                      },
                      "companyInformation": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Tech Corp"
                          },
                          "website": {
                            "type": "string",
                            "example": "https://techcorp.com"
                          },
                          "location": {
                            "type": "string",
                            "example": "San Francisco, CA"
                          }
                        }
                      },
                      "socialLinks": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "platform": {
                              "type": "string",
                              "example": "Twitter"
                            },
                            "link": {
                              "type": "string",
                              "example": "https://twitter.com/johndoe"
                            },
                            "id": {
                              "type": "string",
                              "example": "67890"
                            }
                          }
                        }
                      }
                    }
                  },
                  "email": {
                    "type": "string",
                    "example": "contact@example.com"
                  },
                  "name": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "activeType": {
                    "type": "string",
                    "example": "premium"
                  },
                  "firebaseAuthId": {
                    "type": "string",
                    "example": "firebase123"
                  },
                  "profilePicture": {
                    "type": "string",
                    "example": "https://example.com/profile.jpg"
                  },
                  "bannerImage": {
                    "type": "string",
                    "example": "https://example.com/banner.jpg"
                  },
                  "themeColor": {
                    "type": "string",
                    "example": "#ff5733"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Business created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "business789"
                    },
                    "message": {
                      "type": "string",
                      "example": "Business created successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "postApiBusiness"
      }
    },
    "/api/business/{id}": {
      "delete": {
        "summary": "Delete business by ID",
        "description": "This API will be used to delete the business by its ID.",
        "tags": [
          "Business"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The _id of the business.",
            "example": "60d0fe4f5311236168a109ca"
          }
        ],
        "responses": {
          "200": {
            "description": "Business deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Business deleted successfully!"
                    },
                    "isSuccess": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Business not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Business not found!"
                    },
                    "isSuccess": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to delete business!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Failed to delete business!"
                    },
                    "isSuccess": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "deleteApiBusiness"
      },
      "get": {
        "summary": "Get business by ID",
        "description": "Retrieve an business's details using their unique _id.",
        "tags": [
          "Business"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique ID of the business",
            "example": "60d0fe4f5311236168a109ca"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with the business's details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "linkId": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string",
                      "default": "business"
                    },
                    "businessId": {
                      "type": "string"
                    },
                    "landingPage": {
                      "type": "object",
                      "properties": {
                        "personalInformation": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "John Doe"
                            },
                            "jobTitle": {
                              "type": "string",
                              "example": "Software Engineer"
                            },
                            "phone": {
                              "type": "string",
                              "example": "+1234567890"
                            },
                            "email": {
                              "type": "string",
                              "example": "johndoe@example.com"
                            },
                            "bio": {
                              "type": "string",
                              "example": "Passionate software developer."
                            }
                          }
                        },
                        "companyInformation": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Tech Corp"
                            },
                            "website": {
                              "type": "string",
                              "example": "https://techcorp.com"
                            },
                            "location": {
                              "type": "string",
                              "example": "San Francisco, CA"
                            }
                          }
                        },
                        "socialLinks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "platform": {
                                "type": "string",
                                "example": "LinkedIn"
                              },
                              "link": {
                                "type": "string",
                                "example": "https://linkedin.com/in/johndoe"
                              },
                              "id": {
                                "type": "string",
                                "example": "12345"
                              }
                            }
                          }
                        }
                      }
                    },
                    "leadGeneration": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Jane Doe"
                        },
                        "phone": {
                          "type": "string",
                          "example": "+1987654321"
                        },
                        "email": {
                          "type": "string",
                          "example": "janedoe@example.com"
                        },
                        "showContactInfo": {
                          "type": "boolean",
                          "default": true
                        }
                      }
                    },
                    "redirectLink": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string",
                          "example": "https://redirect.example.com"
                        }
                      }
                    },
                    "vCard": {
                      "type": "object",
                      "properties": {
                        "personalInformation": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "John Doe"
                            },
                            "jobTitle": {
                              "type": "string",
                              "example": "Software Engineer"
                            },
                            "phone": {
                              "type": "string",
                              "example": "+1234567890"
                            },
                            "email": {
                              "type": "string",
                              "example": "johndoe@example.com"
                            },
                            "bio": {
                              "type": "string",
                              "example": "Passionate software developer."
                            }
                          }
                        },
                        "companyInformation": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Tech Corp"
                            },
                            "website": {
                              "type": "string",
                              "example": "https://techcorp.com"
                            },
                            "location": {
                              "type": "string",
                              "example": "San Francisco, CA"
                            }
                          }
                        },
                        "socialLinks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "platform": {
                                "type": "string",
                                "example": "Twitter"
                              },
                              "link": {
                                "type": "string",
                                "example": "https://twitter.com/johndoe"
                              },
                              "id": {
                                "type": "string",
                                "example": "67890"
                              }
                            }
                          }
                        }
                      }
                    },
                    "email": {
                      "type": "string",
                      "example": "contact@example.com"
                    },
                    "name": {
                      "type": "string",
                      "example": "John Doe"
                    },
                    "activeType": {
                      "type": "string",
                      "example": "premium"
                    },
                    "firebaseAuthId": {
                      "type": "string",
                      "example": "firebase123"
                    },
                    "profilePicture": {
                      "type": "string",
                      "example": "https://example.com/profile.jpg"
                    },
                    "bannerImage": {
                      "type": "string",
                      "example": "https://example.com/banner.jpg"
                    },
                    "themeColor": {
                      "type": "string",
                      "example": "#ff5733"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Business not found"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "getApiBusiness"
      },
      "put": {
        "summary": "Update an business by ID",
        "description": "Updates an existing business with new personal, company, and social information.",
        "tags": [
          "Business"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business to update.",
            "example": "60d0fe4f5311236168a109ca"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "linkId": {
                    "type": "string",
                    "example": "abc123"
                  },
                  "role": {
                    "type": "string",
                    "default": "business"
                  },
                  "businessId": {
                    "type": "string",
                    "example": "biz456"
                  },
                  "landingPage": {
                    "type": "object",
                    "properties": {
                      "personalInformation": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "jobTitle": {
                            "type": "string",
                            "example": "Software Engineer"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+1234567890"
                          },
                          "email": {
                            "type": "string",
                            "example": "johndoe@example.com"
                          },
                          "bio": {
                            "type": "string",
                            "example": "Passionate software developer."
                          }
                        }
                      },
                      "companyInformation": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Tech Corp"
                          },
                          "website": {
                            "type": "string",
                            "example": "https://techcorp.com"
                          },
                          "location": {
                            "type": "string",
                            "example": "San Francisco, CA"
                          }
                        }
                      },
                      "socialLinks": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "platform": {
                              "type": "string",
                              "example": "LinkedIn"
                            },
                            "link": {
                              "type": "string",
                              "example": "https://linkedin.com/in/johndoe"
                            },
                            "id": {
                              "type": "string",
                              "example": "12345"
                            }
                          }
                        }
                      }
                    }
                  },
                  "leadGeneration": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Jane Doe"
                      },
                      "phone": {
                        "type": "string",
                        "example": "+1987654321"
                      },
                      "email": {
                        "type": "string",
                        "example": "janedoe@example.com"
                      },
                      "showContactInfo": {
                        "type": "boolean",
                        "default": true
                      }
                    }
                  },
                  "redirectLink": {
                    "type": "object",
                    "properties": {
                      "link": {
                        "type": "string",
                        "example": "https://redirect.example.com"
                      }
                    }
                  },
                  "vCard": {
                    "type": "object",
                    "properties": {
                      "personalInformation": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "jobTitle": {
                            "type": "string",
                            "example": "Software Engineer"
                          },
                          "phone": {
                            "type": "string",
                            "example": "+1234567890"
                          },
                          "email": {
                            "type": "string",
                            "example": "johndoe@example.com"
                          },
                          "bio": {
                            "type": "string",
                            "example": "Passionate software developer."
                          }
                        }
                      },
                      "companyInformation": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Tech Corp"
                          },
                          "website": {
                            "type": "string",
                            "example": "https://techcorp.com"
                          },
                          "location": {
                            "type": "string",
                            "example": "San Francisco, CA"
                          }
                        }
                      },
                      "socialLinks": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "platform": {
                              "type": "string",
                              "example": "Twitter"
                            },
                            "link": {
                              "type": "string",
                              "example": "https://twitter.com/johndoe"
                            },
                            "id": {
                              "type": "string",
                              "example": "67890"
                            }
                          }
                        }
                      }
                    }
                  },
                  "email": {
                    "type": "string",
                    "example": "contact@example.com"
                  },
                  "name": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "activeType": {
                    "type": "string",
                    "example": "premium"
                  },
                  "firebaseAuthId": {
                    "type": "string",
                    "example": "firebase123"
                  },
                  "profilePicture": {
                    "type": "string",
                    "example": "https://example.com/profile.jpg"
                  },
                  "bannerImage": {
                    "type": "string",
                    "example": "https://example.com/banner.jpg"
                  },
                  "themeColor": {
                    "type": "string",
                    "example": "#ff5733"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "business789"
                    },
                    "message": {
                      "type": "string",
                      "example": "Business updated successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, invalid input"
          },
          "404": {
            "description": "Business not found"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "putApiBusiness"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message"
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    }
  },
  "tags": []
}