{
  "openapi": "3.0.3",
  "info": {
    "title": "IMDb-API",
    "description": "API for receiving movie, serial and cast information from IMDb. Provides search, title details, ratings, images, trailers, reviews, and more.",
    "version": "1.0.0",
    "contact": {
      "name": "IMDb-API",
      "url": "https://imdb-api.com/"
    }
  },
  "servers": [
    {
      "url": "https://imdb-api.com/en/API",
      "description": "IMDb-API Production Server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/SearchTitle/{apiKey}/{expression}": {
      "get": {
        "tags": ["Search"],
        "summary": "Search titles",
        "description": "Search for movies, TV series, and other titles by expression.",
        "operationId": "searchTitle",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expression",
            "in": "path",
            "required": true,
            "description": "Search expression (e.g., movie title)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/SearchMovie/{apiKey}/{expression}": {
      "get": {
        "tags": ["Search"],
        "summary": "Search movies",
        "description": "Search specifically for movies by expression.",
        "operationId": "searchMovie",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expression",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Movie search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/SearchSeries/{apiKey}/{expression}": {
      "get": {
        "tags": ["Search"],
        "summary": "Search TV series",
        "description": "Search specifically for TV series by expression.",
        "operationId": "searchSeries",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expression",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Series search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/SearchName/{apiKey}/{expression}": {
      "get": {
        "tags": ["Search"],
        "summary": "Search names (people)",
        "description": "Search for actors, directors, and other people by name.",
        "operationId": "searchName",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expression",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Name search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NameSearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/SearchCompany/{apiKey}/{expression}": {
      "get": {
        "tags": ["Search"],
        "summary": "Search companies",
        "description": "Search for production companies by name.",
        "operationId": "searchCompany",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expression",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/Title/{apiKey}/{id}": {
      "get": {
        "tags": ["Title"],
        "summary": "Get title details",
        "description": "Retrieve full details for a movie or TV series by IMDb ID.",
        "operationId": "getTitle",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "IMDb ID (e.g., tt1375666)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Title details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TitleData"
                }
              }
            }
          }
        }
      }
    },
    "/FullCast/{apiKey}/{id}": {
      "get": {
        "tags": ["Title"],
        "summary": "Get full cast",
        "description": "Retrieve the full cast and crew for a title.",
        "operationId": "getFullCast",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full cast information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullCastData"
                }
              }
            }
          }
        }
      }
    },
    "/Ratings/{apiKey}/{id}": {
      "get": {
        "tags": ["Title"],
        "summary": "Get ratings",
        "description": "Retrieve ratings from IMDb, Metacritic, Rotten Tomatoes, and other sources.",
        "operationId": "getRatings",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ratings data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatingData"
                }
              }
            }
          }
        }
      }
    },
    "/UserRatings/{apiKey}/{id}": {
      "get": {
        "tags": ["Title"],
        "summary": "Get user ratings",
        "description": "Retrieve user rating distribution for a title.",
        "operationId": "getUserRatings",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User ratings distribution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRatingData"
                }
              }
            }
          }
        }
      }
    },
    "/SeasonEpisodes/{apiKey}/{id}/{seasonNumber}": {
      "get": {
        "tags": ["Title"],
        "summary": "Get season episodes",
        "description": "Retrieve episodes for a specific season of a TV series.",
        "operationId": "getSeasonEpisodes",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "IMDb ID of the TV series",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "seasonNumber",
            "in": "path",
            "required": true,
            "description": "Season number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Season episodes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonEpisodeData"
                }
              }
            }
          }
        }
      }
    },
    "/Name/{apiKey}/{id}": {
      "get": {
        "tags": ["People"],
        "summary": "Get person details",
        "description": "Retrieve details about an actor, director, or other person.",
        "operationId": "getName",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "IMDb name ID (e.g., nm0000138)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NameData"
                }
              }
            }
          }
        }
      }
    },
    "/NameAwards/{apiKey}/{id}": {
      "get": {
        "tags": ["People"],
        "summary": "Get person awards",
        "description": "Retrieve awards information for a person.",
        "operationId": "getNameAwards",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Awards data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "imDbId": { "type": "string" },
                    "name": { "type": "string" },
                    "description": { "type": "string" },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "eventTitle": { "type": "string" },
                          "nameAwardEventItems": {
                            "type": "array",
                            "items": { "type": "object" }
                          }
                        }
                      }
                    },
                    "errorMessage": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Images/{apiKey}/{id}": {
      "get": {
        "tags": ["Media"],
        "summary": "Get images",
        "description": "Retrieve images for a title or person.",
        "operationId": "getImages",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Images data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageData"
                }
              }
            }
          }
        }
      }
    },
    "/Posters/{apiKey}/{id}": {
      "get": {
        "tags": ["Media"],
        "summary": "Get posters",
        "description": "Retrieve poster images for a title.",
        "operationId": "getPosters",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Poster data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PosterData"
                }
              }
            }
          }
        }
      }
    },
    "/Trailer/{apiKey}/{id}": {
      "get": {
        "tags": ["Media"],
        "summary": "Get trailer",
        "description": "Retrieve trailer information for a title.",
        "operationId": "getTrailer",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trailer data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrailerData"
                }
              }
            }
          }
        }
      }
    },
    "/YouTubeTrailer/{apiKey}/{id}": {
      "get": {
        "tags": ["Media"],
        "summary": "Get YouTube trailer",
        "description": "Retrieve YouTube trailer link for a title.",
        "operationId": "getYouTubeTrailer",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "YouTube trailer data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "imDbId": { "type": "string" },
                    "title": { "type": "string" },
                    "fullTitle": { "type": "string" },
                    "type": { "type": "string" },
                    "year": { "type": "string" },
                    "videoId": { "type": "string" },
                    "videoUrl": { "type": "string" },
                    "errorMessage": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Reviews/{apiKey}/{id}": {
      "get": {
        "tags": ["Title"],
        "summary": "Get reviews",
        "description": "Retrieve user reviews for a title.",
        "operationId": "getReviews",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reviews data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewData"
                }
              }
            }
          }
        }
      }
    },
    "/MetacriticReviews/{apiKey}/{id}": {
      "get": {
        "tags": ["Title"],
        "summary": "Get Metacritic reviews",
        "description": "Retrieve Metacritic reviews for a title.",
        "operationId": "getMetacriticReviews",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metacritic reviews",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewData"
                }
              }
            }
          }
        }
      }
    },
    "/Wikipedia/{apiKey}/{id}": {
      "get": {
        "tags": ["Title"],
        "summary": "Get Wikipedia info",
        "description": "Retrieve Wikipedia plot summary for a title.",
        "operationId": "getWikipedia",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wikipedia data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "imDbId": { "type": "string" },
                    "title": { "type": "string" },
                    "fullTitle": { "type": "string" },
                    "type": { "type": "string" },
                    "year": { "type": "string" },
                    "plotShort": {
                      "type": "object",
                      "properties": {
                        "plainText": { "type": "string" },
                        "html": { "type": "string" }
                      }
                    },
                    "plotFull": {
                      "type": "object",
                      "properties": {
                        "plainText": { "type": "string" },
                        "html": { "type": "string" }
                      }
                    },
                    "errorMessage": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Awards/{apiKey}/{id}": {
      "get": {
        "tags": ["Title"],
        "summary": "Get title awards",
        "description": "Retrieve awards information for a title.",
        "operationId": "getAwards",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Awards data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "imDbId": { "type": "string" },
                    "title": { "type": "string" },
                    "fullTitle": { "type": "string" },
                    "type": { "type": "string" },
                    "year": { "type": "string" },
                    "description": { "type": "string" },
                    "items": {
                      "type": "array",
                      "items": { "type": "object" }
                    },
                    "errorMessage": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BoxOffice/{apiKey}/{id}": {
      "get": {
        "tags": ["Title"],
        "summary": "Get box office data",
        "description": "Retrieve box office/revenue information for a title.",
        "operationId": "getBoxOffice",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Box office data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxOfficeData"
                }
              }
            }
          }
        }
      }
    },
    "/Top250Movies/{apiKey}": {
      "get": {
        "tags": ["Charts"],
        "summary": "Get top 250 movies",
        "description": "Retrieve the IMDb top 250 movies list.",
        "operationId": "getTop250Movies",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top 250 movies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartData"
                }
              }
            }
          }
        }
      }
    },
    "/Top250TVs/{apiKey}": {
      "get": {
        "tags": ["Charts"],
        "summary": "Get top 250 TV shows",
        "description": "Retrieve the IMDb top 250 TV shows list.",
        "operationId": "getTop250TVs",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top 250 TV shows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartData"
                }
              }
            }
          }
        }
      }
    },
    "/MostPopularMovies/{apiKey}": {
      "get": {
        "tags": ["Charts"],
        "summary": "Get most popular movies",
        "description": "Retrieve the most popular movies list.",
        "operationId": "getMostPopularMovies",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Most popular movies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartData"
                }
              }
            }
          }
        }
      }
    },
    "/MostPopularTVs/{apiKey}": {
      "get": {
        "tags": ["Charts"],
        "summary": "Get most popular TV shows",
        "description": "Retrieve the most popular TV shows list.",
        "operationId": "getMostPopularTVs",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Most popular TV shows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartData"
                }
              }
            }
          }
        }
      }
    },
    "/InTheaters/{apiKey}": {
      "get": {
        "tags": ["Charts"],
        "summary": "Get movies in theaters",
        "description": "Retrieve currently showing movies in theaters.",
        "operationId": "getInTheaters",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "In theaters data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NewMovieData"
                      }
                    },
                    "errorMessage": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ComingSoon/{apiKey}": {
      "get": {
        "tags": ["Charts"],
        "summary": "Get coming soon movies",
        "description": "Retrieve upcoming movie releases.",
        "operationId": "getComingSoon",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coming soon data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NewMovieData"
                      }
                    },
                    "errorMessage": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BoxOfficeAllTime/{apiKey}": {
      "get": {
        "tags": ["Charts"],
        "summary": "Get all-time box office",
        "description": "Retrieve all-time box office revenue rankings.",
        "operationId": "getBoxOfficeAllTime",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All-time box office data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxOfficeAllTimeData"
                }
              }
            }
          }
        }
      }
    },
    "/AdvancedSearch/{apiKey}": {
      "get": {
        "tags": ["Search"],
        "summary": "Advanced search",
        "description": "Perform an advanced search with multiple filters.",
        "operationId": "advancedSearch",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "title_type",
            "in": "query",
            "description": "e.g., feature,tv_movie,tv_series",
            "schema": { "type": "string" }
          },
          {
            "name": "release_date",
            "in": "query",
            "description": "Date range (e.g., 2020-01-01,2020-12-31)",
            "schema": { "type": "string" }
          },
          {
            "name": "user_rating",
            "in": "query",
            "description": "Rating range (e.g., 7.0,10.0)",
            "schema": { "type": "string" }
          },
          {
            "name": "genres",
            "in": "query",
            "description": "Comma-separated genres",
            "schema": { "type": "string" }
          },
          {
            "name": "countries",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "languages",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results (default 50, max 250)",
            "schema": { "type": "integer", "default": 50 }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field (e.g., alpha,user_rating,num_votes,boxoffice_gross_us,runtime,year,release_date)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Advanced search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvancedSearchResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "API key passed in the URL path"
      }
    },
    "schemas": {
      "SearchResult": {
        "type": "object",
        "properties": {
          "searchType": { "type": "string" },
          "expression": { "type": "string" },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "resultType": { "type": "string" },
                "image": { "type": "string" },
                "title": { "type": "string" },
                "description": { "type": "string" }
              }
            }
          },
          "errorMessage": { "type": "string" }
        }
      },
      "NameSearchResult": {
        "type": "object",
        "properties": {
          "searchType": { "type": "string" },
          "expression": { "type": "string" },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "resultType": { "type": "string" },
                "image": { "type": "string" },
                "title": { "type": "string" },
                "description": { "type": "string" }
              }
            }
          },
          "errorMessage": { "type": "string" }
        }
      },
      "CompanySearchResult": {
        "type": "object",
        "properties": {
          "keyword": { "type": "string" },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" }
              }
            }
          },
          "errorMessage": { "type": "string" }
        }
      },
      "TitleData": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "originalTitle": { "type": "string" },
          "fullTitle": { "type": "string" },
          "type": { "type": "string" },
          "year": { "type": "string" },
          "image": { "type": "string" },
          "releaseDate": { "type": "string" },
          "runtimeMins": { "type": "string" },
          "runtimeStr": { "type": "string" },
          "plot": { "type": "string" },
          "plotLocal": { "type": "string" },
          "plotLocalIsRtl": { "type": "boolean" },
          "awards": { "type": "string" },
          "directors": { "type": "string" },
          "directorList": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" }
              }
            }
          },
          "writers": { "type": "string" },
          "writerList": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" }
              }
            }
          },
          "stars": { "type": "string" },
          "starList": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" }
              }
            }
          },
          "actorList": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "image": { "type": "string" },
                "name": { "type": "string" },
                "asCharacter": { "type": "string" }
              }
            }
          },
          "genres": { "type": "string" },
          "genreList": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": { "type": "string" },
                "value": { "type": "string" }
              }
            }
          },
          "companies": { "type": "string" },
          "countries": { "type": "string" },
          "languages": { "type": "string" },
          "contentRating": { "type": "string" },
          "imDbRating": { "type": "string" },
          "imDbRatingVotes": { "type": "string" },
          "metacriticRating": { "type": "string" },
          "boxOffice": {
            "type": "object",
            "properties": {
              "budget": { "type": "string" },
              "openingWeekendUSA": { "type": "string" },
              "grossUSA": { "type": "string" },
              "cumulativeWorldwideGross": { "type": "string" }
            }
          },
          "tagline": { "type": "string" },
          "keywords": { "type": "string" },
          "keywordList": {
            "type": "array",
            "items": { "type": "string" }
          },
          "similars": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "title": { "type": "string" },
                "image": { "type": "string" },
                "imDbRating": { "type": "string" }
              }
            }
          },
          "tvSeriesInfo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "yearEnd": { "type": "string" },
              "creators": { "type": "string" },
              "creatorList": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "name": { "type": "string" }
                  }
                }
              },
              "seasons": {
                "type": "array",
                "items": { "type": "string" }
              }
            }
          },
          "tvEpisodeInfo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "seriesId": { "type": "string" },
              "seriesTitle": { "type": "string" },
              "seasonNumber": { "type": "string" },
              "episodeNumber": { "type": "string" }
            }
          },
          "errorMessage": { "type": "string" }
        }
      },
      "FullCastData": {
        "type": "object",
        "properties": {
          "imDbId": { "type": "string" },
          "title": { "type": "string" },
          "fullTitle": { "type": "string" },
          "type": { "type": "string" },
          "year": { "type": "string" },
          "directors": {
            "type": "object",
            "properties": {
              "job": { "type": "string" },
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "name": { "type": "string" },
                    "description": { "type": "string" }
                  }
                }
              }
            }
          },
          "writers": {
            "type": "object",
            "properties": {
              "job": { "type": "string" },
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "name": { "type": "string" },
                    "description": { "type": "string" }
                  }
                }
              }
            }
          },
          "actors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "image": { "type": "string" },
                "name": { "type": "string" },
                "asCharacter": { "type": "string" }
              }
            }
          },
          "errorMessage": { "type": "string" }
        }
      },
      "RatingData": {
        "type": "object",
        "properties": {
          "imDbId": { "type": "string" },
          "title": { "type": "string" },
          "fullTitle": { "type": "string" },
          "type": { "type": "string" },
          "year": { "type": "string" },
          "imDb": { "type": "string" },
          "metacritic": { "type": "string" },
          "theMovieDb": { "type": "string" },
          "rottenTomatoes": { "type": "string" },
          "filmAffinity": { "type": "string" },
          "errorMessage": { "type": "string" }
        }
      },
      "UserRatingData": {
        "type": "object",
        "properties": {
          "imDbId": { "type": "string" },
          "title": { "type": "string" },
          "fullTitle": { "type": "string" },
          "type": { "type": "string" },
          "year": { "type": "string" },
          "totalRating": { "type": "string" },
          "totalRatingVotes": { "type": "string" },
          "ratings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "rating": { "type": "string" },
                "percent": { "type": "string" },
                "votes": { "type": "string" }
              }
            }
          },
          "errorMessage": { "type": "string" }
        }
      },
      "SeasonEpisodeData": {
        "type": "object",
        "properties": {
          "imDbId": { "type": "string" },
          "title": { "type": "string" },
          "fullTitle": { "type": "string" },
          "type": { "type": "string" },
          "year": { "type": "string" },
          "episodes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "seasonNumber": { "type": "string" },
                "episodeNumber": { "type": "string" },
                "title": { "type": "string" },
                "image": { "type": "string" },
                "year": { "type": "string" },
                "released": { "type": "string" },
                "plot": { "type": "string" },
                "imDbRating": { "type": "string" },
                "imDbRatingCount": { "type": "string" }
              }
            }
          },
          "errorMessage": { "type": "string" }
        }
      },
      "NameData": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "role": { "type": "string" },
          "image": { "type": "string" },
          "summary": { "type": "string" },
          "birthDate": { "type": "string" },
          "deathDate": { "type": "string" },
          "awards": { "type": "string" },
          "height": { "type": "string" },
          "knownFor": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "title": { "type": "string" },
                "fullTitle": { "type": "string" },
                "year": { "type": "string" },
                "role": { "type": "string" },
                "image": { "type": "string" }
              }
            }
          },
          "castMovies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "role": { "type": "string" },
                "title": { "type": "string" },
                "year": { "type": "string" },
                "description": { "type": "string" }
              }
            }
          },
          "errorMessage": { "type": "string" }
        }
      },
      "ImageData": {
        "type": "object",
        "properties": {
          "imDbId": { "type": "string" },
          "title": { "type": "string" },
          "fullTitle": { "type": "string" },
          "type": { "type": "string" },
          "year": { "type": "string" },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": { "type": "string" },
                "image": { "type": "string" }
              }
            }
          },
          "errorMessage": { "type": "string" }
        }
      },
      "PosterData": {
        "type": "object",
        "properties": {
          "imDbId": { "type": "string" },
          "title": { "type": "string" },
          "fullTitle": { "type": "string" },
          "type": { "type": "string" },
          "year": { "type": "string" },
          "posters": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "link": { "type": "string" },
                "aspectRatio": { "type": "number" },
                "language": { "type": "string" },
                "width": { "type": "integer" },
                "height": { "type": "integer" }
              }
            }
          },
          "errorMessage": { "type": "string" }
        }
      },
      "TrailerData": {
        "type": "object",
        "properties": {
          "imDbId": { "type": "string" },
          "title": { "type": "string" },
          "fullTitle": { "type": "string" },
          "type": { "type": "string" },
          "year": { "type": "string" },
          "videoId": { "type": "string" },
          "videoTitle": { "type": "string" },
          "videoDescription": { "type": "string" },
          "thumbnailUrl": { "type": "string" },
          "uploadDate": { "type": "string" },
          "link": { "type": "string" },
          "linkEmbed": { "type": "string" },
          "errorMessage": { "type": "string" }
        }
      },
      "ReviewData": {
        "type": "object",
        "properties": {
          "imDbId": { "type": "string" },
          "title": { "type": "string" },
          "fullTitle": { "type": "string" },
          "type": { "type": "string" },
          "year": { "type": "string" },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "username": { "type": "string" },
                "userUrl": { "type": "string" },
                "reviewLink": { "type": "string" },
                "warningSpoilers": { "type": "boolean" },
                "date": { "type": "string" },
                "rate": { "type": "string" },
                "helpful": { "type": "string" },
                "title": { "type": "string" },
                "content": { "type": "string" }
              }
            }
          },
          "errorMessage": { "type": "string" }
        }
      },
      "BoxOfficeData": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "rank": { "type": "string" },
                "title": { "type": "string" },
                "image": { "type": "string" },
                "weekend": { "type": "string" },
                "gross": { "type": "string" },
                "weeks": { "type": "string" }
              }
            }
          },
          "errorMessage": { "type": "string" }
        }
      },
      "BoxOfficeAllTimeData": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "rank": { "type": "string" },
                "title": { "type": "string" },
                "worldwideLifetimeGross": { "type": "string" },
                "domesticLifetimeGross": { "type": "string" },
                "domestic": { "type": "string" },
                "foreignLifetimeGross": { "type": "string" },
                "foreign": { "type": "string" },
                "year": { "type": "string" }
              }
            }
          },
          "errorMessage": { "type": "string" }
        }
      },
      "ChartData": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "rank": { "type": "string" },
                "title": { "type": "string" },
                "fullTitle": { "type": "string" },
                "year": { "type": "string" },
                "image": { "type": "string" },
                "crew": { "type": "string" },
                "imDbRating": { "type": "string" },
                "imDbRatingCount": { "type": "string" }
              }
            }
          },
          "errorMessage": { "type": "string" }
        }
      },
      "NewMovieData": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "fullTitle": { "type": "string" },
          "year": { "type": "string" },
          "releaseState": { "type": "string" },
          "image": { "type": "string" },
          "runtimeMins": { "type": "string" },
          "runtimeStr": { "type": "string" },
          "plot": { "type": "string" },
          "contentRating": { "type": "string" },
          "imDbRating": { "type": "string" },
          "imDbRatingCount": { "type": "string" },
          "metacriticRating": { "type": "string" },
          "genres": { "type": "string" },
          "directors": { "type": "string" },
          "stars": { "type": "string" }
        }
      },
      "AdvancedSearchResult": {
        "type": "object",
        "properties": {
          "queryString": { "type": "string" },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "image": { "type": "string" },
                "title": { "type": "string" },
                "description": { "type": "string" },
                "runtimeStr": { "type": "string" },
                "genres": { "type": "string" },
                "genreList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": { "type": "string" },
                      "value": { "type": "string" }
                    }
                  }
                },
                "contentRating": { "type": "string" },
                "imDbRating": { "type": "string" },
                "imDbRatingVotes": { "type": "string" },
                "metacriticRating": { "type": "string" },
                "plot": { "type": "string" },
                "stars": { "type": "string" },
                "starList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "errorMessage": { "type": "string" }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Search",
      "description": "Search for titles, names, and companies"
    },
    {
      "name": "Title",
      "description": "Get detailed information about movies and TV series"
    },
    {
      "name": "People",
      "description": "Get information about actors, directors, and other people"
    },
    {
      "name": "Media",
      "description": "Get images, posters, and trailers"
    },
    {
      "name": "Charts",
      "description": "Get top lists and box office data"
    }
  ]
}
