{
  "openapi": "3.0.3",
  "info": {
    "title": "BFF App Copec - OpenAPI 3.0",
    "description": "API de emisión para la App Copec por Blue Express. This version has been refactored for clarity and reusability.",
    "contact": {
      "email": "john.doe@mail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "2.6.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/IBIANCHI_1/bff-app-copec-openapi-30/2.6.0"
  },
  "servers": [
    {
      "url": "https://devapigw.bluex.cl/api/onbemi/app-copec/v1",
      "description": "desarrollo"
    },
    {
      "url": "https://qaapigw.bluex.cl/api/onbemi/app-copec/v1",
      "description": "pruebas"
    },
    {
      "url": "https://apigw.bluex.cl/api/onbemi/app-copec/v1",
      "description": "producción"
    }
  ],
  "paths": {
    "/price/quoter/{origin}/{destination}": {
      "get": {
        "tags": [
          "price"
        ],
        "summary": "obtener precios de emisión por talla [cotizador]",
        "description": "Obtiene el precio basado en `origin`, `destination`; usa el servicio **bx-srv-digpay-payments**",
        "operationId": "getEmissionQuoter",
        "parameters": [
          {
            "name": "origin",
            "in": "path",
            "description": "Código de comuna origen",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "LFD"
          },
          {
            "name": "destination",
            "in": "path",
            "description": "Código de comuna destino",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PRO"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetEmissionQuoterOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestPrice"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/price/emission/{origin}/{destination}/{size}": {
      "get": {
        "tags": [
          "price"
        ],
        "summary": "obtener precio de emisión",
        "description": "Obtiene el precio basado en `origin`, `destination`, `size`; usa el servicio **bx-srv-digpay-payments**",
        "operationId": "getEmissionPrice",
        "parameters": [
          {
            "name": "origin",
            "in": "path",
            "description": "Código `agencyID` o geolocalización (Punto Copec) origen",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1020"
          },
          {
            "name": "destination",
            "in": "path",
            "description": "Geolocalización del destino [dirección / agencia] destino",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "-35.3842344,-72.5827554"
          },
          {
            "name": "size",
            "in": "path",
            "description": "Tamaño del paquete",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "XS",
                "S",
                "M",
                "L"
              ]
            },
            "example": "XS"
          },
          {
            "name": "copecId",
            "in": "query",
            "description": "ID del usuario Copec, requerido si coupon no es nulo",
            "schema": {
              "type": "string"
            },
            "example": "copec-user-123"
          },
          {
            "name": "paymentMethod",
            "in": "query",
            "description": "Método de pago",
            "schema": {
              "type": "string",
              "enum": [
                "WEBPAY",
                "ONECLICK",
                "COPEC_PAY",
                "BILLETERA",
                "RECEIVER",
                "ORIG_AGENCY_PAY",
                "DEST_AGENCY_PAY"
              ]
            },
            "example": "WEBPAY"
          },
          {
            "name": "warranty",
            "in": "query",
            "description": "Valor de garantía",
            "schema": {
              "type": "number"
            },
            "example": 1000
          },
          {
            "name": "coupon",
            "in": "query",
            "description": "Código de cupón",
            "schema": {
              "type": "string"
            },
            "example": "REGIONESBLUE"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetEmissionPriceOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestPrice"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/price/user-emissions-counter/{coupon}": {
      "get": {
        "tags": [
          "price"
        ],
        "summary": "contador de emisiones del usuario por cupón",
        "description": "Retorna las emisiones del usuario cuando un cupón es válido",
        "operationId": "validateCoupon",
        "parameters": [
          {
            "name": "coupon",
            "in": "path",
            "description": "Nombre del cupón",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "COPECXBLUEZON"
          },
          {
            "name": "userReference",
            "in": "query",
            "description": "ID de usuario (Copec ID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1RTWeBKdNMK2L5qxaVRr7fsCSegW0X5uP11bg73k"
          },
          {
            "name": "resetMonthly",
            "in": "query",
            "description": "Define si el cupón se reinicia mensualmente",
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CouponCountersOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestPrice"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundCoupon"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/emission/{os}/validate": {
      "get": {
        "tags": [
          "emission"
        ],
        "summary": "validar OS reservada",
        "description": "Valida si el OrderId está disponible para una nueva emisión",
        "operationId": "validateEmission",
        "parameters": [
          {
            "$ref": "#/components/parameters/OsPath"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ValidateEmissionOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestEmission"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundEmission"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/emission/activate": {
      "post": {
        "tags": [
          "emission"
        ],
        "summary": "crear emisión para OS reservada o normal",
        "description": "Crea el despacho del envío a Blue Express",
        "operationId": "activateEmission",
        "requestBody": {
          "$ref": "#/components/requestBodies/emissionBody"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/ActivateEmissionOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestEmission"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundEmission"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/emission/{os}": {
      "get": {
        "tags": [
          "emission"
        ],
        "summary": "obtener detalle de OS",
        "description": "Obtiene el detalle de una emisión (OS)",
        "operationId": "getEmission",
        "parameters": [
          {
            "$ref": "#/components/parameters/OsPath"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetEmissionOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestEmission"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundEmission"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/emission/transaction/{transactionId}": {
      "get": {
        "tags": [
          "emission"
        ],
        "summary": "obtener OS y status por transactionId",
        "description": "Obtiene el detalle de una emisión (OS)",
        "operationId": "getEmissionByTransactionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/TransactionIdPath"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetEmissionByTransactionIdOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestTransaction"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundTransaction"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/emission/dropoff": {
      "put": {
        "tags": [
          "emission"
        ],
        "summary": "registra admisión de paquetes (OS)",
        "description": "Registra admisión de paquetes para ordenes de servicio (OS)",
        "operationId": "reportDropoff",
        "requestBody": {
          "$ref": "#/components/requestBodies/dropoffBody"
        },
        "responses": {
          "201": {
            "description": "Admisión informada con éxito",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 201,
                  "message": "Admisión informada con éxito"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/payment/{os}": {
      "put": {
        "tags": [
          "payment"
        ],
        "summary": "guardar pago de OS",
        "description": "Guarda el pago de una orden de servicio (OS)",
        "operationId": "savePayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/OsPath"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/paymentBody"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/SavePaymentOk"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestEmission"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundEmission"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apikey": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey"
      }
    },
    "schemas": {
      "ValidateEmissionPayload": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string"
          },
          "size": {
            "type": "string",
            "enum": [
              "S",
              "M"
            ]
          },
          "sizeLabel": {
            "type": "string",
            "enum": [
              "pequeña",
              "mediana"
            ]
          },
          "osType": {
            "type": "string",
            "enum": [
              "reserved",
              "normal"
            ]
          },
          "shipmentSize": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "ActivateEmissionPayload": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "paymentUrl": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "GetPricePayload": {
        "type": "object",
        "properties": {
          "origin": {
            "type": "string"
          },
          "destination": {
            "type": "string"
          },
          "size": {
            "type": "string",
            "enum": [
              "S",
              "M"
            ]
          },
          "paymentMethod": {
            "type": "string"
          },
          "coupon": {
            "type": "object",
            "nullable": true,
            "properties": {
              "name": {
                "type": "string"
              },
              "value": {
                "type": "number"
              },
              "percent": {
                "type": "boolean"
              }
            }
          },
          "values": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "service": {
                  "type": "string"
                },
                "sla": {
                  "type": "integer"
                },
                "slaTime": {
                  "type": "string"
                },
                "slaDate": {
                  "type": "string"
                },
                "price": {
                  "type": "number"
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "percentage": {
                        "type": "number"
                      },
                      "value": {
                        "type": "number"
                      },
                      "subtotal": {
                        "type": "number"
                      }
                    }
                  }
                },
                "total": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "GetEmissionQuoterPayload": {
        "type": "object",
        "properties": {
          "values": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Tipo de servicio de entrega (ej. BLUE_POINT, ADDRESS)"
                },
                "sla": {
                  "type": "integer",
                  "description": "Tiempo de entrega en días"
                },
                "slaTime": {
                  "type": "string",
                  "description": "Descripción legible del tiempo de entrega"
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "size": {
                        "type": "string",
                        "enum": [
                          "XS",
                          "S",
                          "M",
                          "L"
                        ],
                        "description": "Tamaño del paquete"
                      },
                      "value": {
                        "type": "number",
                        "description": "Precio para este tamaño"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "GetEmissionPayload": {
        "type": "object",
        "properties": {
          "os": {
            "type": "integer",
            "description": "Número de orden de servicio (OS)."
          },
          "type": {
            "type": "string",
            "enum": [
              "reserved",
              "normal"
            ],
            "description": "Tipo de emisión (reservada o normal)."
          },
          "status": {
            "type": "string",
            "enum": [
              null,
              "CREATED",
              "PENDING",
              "CONFIRMED",
              "ERROR"
            ],
            "nullable": true,
            "description": "Estado actual de la emisión."
          },
          "metadata": {
            "type": "object",
            "description": "Metadatos adicionales de la emisión.",
            "properties": {
              "dropOffCode": {
                "type": "string",
                "description": "Código de admisión de paquetes [PUDOS]",
                "enum": [
                  "RULES000",
                  "RULES001",
                  "RULES004",
                  "RULES005",
                  "RULES010",
                  "RULES011",
                  "RULES012",
                  "RULES013",
                  "RULES015"
                ]
              },
              "label": {
                "type": "string",
                "nullable": true,
                "description": "Etiqueta de la emisión (base64)."
              }
            }
          },
          "origin": {
            "type": "object",
            "description": "Información del origen del envío.",
            "properties": {
              "street": {
                "type": "string",
                "description": "Nombre de la calle del origen."
              },
              "streetNumber": {
                "type": "integer",
                "description": "Número de la calle del origen."
              },
              "geolocation": {
                "type": "array",
                "items": {
                  "type": "number"
                },
                "description": "Coordenadas geográficas del origen (latitud, longitud)."
              },
              "agencyId": {
                "type": "integer",
                "description": "Identificador de la agencia de origen."
              },
              "reference": {
                "type": "string",
                "nullable": true,
                "description": "Referencia adicional para la dirección de origen."
              },
              "deptoOrOffice": {
                "type": "string",
                "nullable": true,
                "description": "Departamento u oficina en la dirección de origen."
              }
            }
          },
          "destination": {
            "type": "object",
            "description": "Información del destino del envío.",
            "properties": {
              "street": {
                "type": "string",
                "description": "Nombre de la calle del destino."
              },
              "streetNumber": {
                "type": "integer",
                "description": "Número de la calle del destino."
              },
              "geolocation": {
                "type": "array",
                "items": {
                  "type": "number"
                },
                "description": "Coordenadas geográficas del destino (latitud, longitud)."
              },
              "agencyId": {
                "type": "integer",
                "description": "Identificador de la agencia de destino."
              },
              "reference": {
                "type": "string",
                "nullable": true,
                "description": "Referencia adicional para la dirección de destino."
              },
              "deptoOrOffice": {
                "type": "string",
                "nullable": true,
                "description": "Departamento u oficina en la dirección de destino."
              }
            }
          },
          "shipping": {
            "type": "object",
            "description": "Detalles del envío y pago.",
            "properties": {
              "size": {
                "type": "string",
                "enum": [
                  "XS",
                  "S",
                  "M",
                  "L"
                ],
                "description": "Tamaño del paquete."
              },
              "paymentMethod": {
                "type": "string",
                "enum": [
                  "WEBPAY",
                  "ONECLICK",
                  "COPEC_PAY",
                  "BILLETERA",
                  "RECEIVER",
                  "ORIG_AGENCY_PAY",
                  "DEST_AGENCY_PAY"
                ],
                "description": "Método de pago utilizado."
              },
              "paymentType": {
                "type": "string",
                "enum": [
                  "PP",
                  "EPP",
                  "PEPO",
                  "PEPD",
                  "SO"
                ],
                "description": "Tipo de pago."
              },
              "amount": {
                "type": "number",
                "description": "Monto del envío."
              },
              "coupon": {
                "type": "string",
                "nullable": true,
                "description": "Código del cupón aplicado."
              },
              "discount": {
                "type": "number",
                "description": "Descuento aplicado."
              },
              "isPaid": {
                "type": "boolean",
                "description": "Indica si el envío está pagado."
              },
              "productDetail": {
                "type": "string",
                "description": "Descripción del producto enviado."
              },
              "productValue": {
                "type": "number",
                "description": "Valor del producto enviado."
              },
              "shipmentSize": {
                "type": "integer",
                "description": "Tamaño del envío (Multi OS)."
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha y hora de creación de la emisión."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha y hora de la última actualización de la emisión."
          }
        }
      },
      "GetEmissionByTransactionIdPayload": {
        "type": "object",
        "properties": {
          "os": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "CREATED",
              "PENDING",
              "CONFIRMED",
              "ERROR"
            ]
          },
          "allowDropOff": {
            "type": "boolean"
          }
        }
      },
      "CouponCountersPayload": {
        "type": "object",
        "properties": {
          "couponEmissions": {
            "type": "integer"
          },
          "userEmissions": {
            "type": "integer"
          },
          "userEmissionsWithCoupon": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "example": {
          "statusCode": 400,
          "message": "BAD_REQUEST",
          "description": "Petición incorrecta, intente nuevamente"
        }
      }
    },
    "parameters": {
      "OsPath": {
        "name": "os",
        "in": "path",
        "description": "Ingrese el número de orden (9-10 dígitos)",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 9,
          "maximum": 10
        }
      },
      "TransactionIdPath": {
        "name": "transactionId",
        "in": "path",
        "description": "Ingrese el número de transacción",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Solicitud Incorrecta",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequestEmission": {
        "description": "Solicitud Incorrecta",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "get-emission-by-os-invalid-error": {
                "$ref": "#/components/examples/get-emission-by-os-invalid-error"
              },
              "get-emission-by-os-format-error": {
                "$ref": "#/components/examples/get-emission-by-os-format-error"
              }
            }
          }
        }
      },
      "BadRequestTransaction": {
        "description": "Solicitud Incorrecta",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "emission-invalid-os": {
                "$ref": "#/components/examples/error-invalid-transaction"
              }
            }
          }
        }
      },
      "NotFoundEmission": {
        "description": "No Encontrado",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "statusCode": 404,
              "message": "OS_NOT_EXIST",
              "description": "Orden de servicio no encontrada, verifique la OS ingresada"
            }
          }
        }
      },
      "NotFoundTransaction": {
        "description": "No Encontrado",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "statusCode": 404,
              "message": "TRANSACTION_NOT_EXIST",
              "description": "Transacción no encontrada, verifique el identificador ingresado"
            }
          }
        }
      },
      "NotFoundCoupon": {
        "description": "No Encontrado",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "statusCode": 404,
              "message": "COUPON_NOT_EXIST",
              "description": "Cupón no encontrado"
            }
          }
        }
      },
      "ValidateEmissionOk": {
        "description": "Validar Orden",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "example": 200
                },
                "payload": {
                  "$ref": "#/components/schemas/ValidateEmissionPayload"
                }
              }
            },
            "examples": {
              "emission-ciclos-ok": {
                "$ref": "#/components/examples/validate-emission-ciclos"
              },
              "emission-pudos-ok": {
                "$ref": "#/components/examples/validate-emission-pudos"
              }
            }
          }
        }
      },
      "ActivateEmissionOk": {
        "description": "Emisión exitosa",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "example": 201
                },
                "message": {
                  "type": "string",
                  "example": "Orden de servicio emitida correctamente"
                },
                "payload": {
                  "$ref": "#/components/schemas/ActivateEmissionPayload"
                }
              }
            },
            "examples": {
              "activate-emission-success-epp": {
                "$ref": "#/components/examples/activate-emission-success-epp"
              },
              "activate-emission-success-pp": {
                "$ref": "#/components/examples/activate-emission-success-pp"
              }
            }
          }
        }
      },
      "GetEmissionOk": {
        "description": "Detalle de emisión (OS) obtenido exitosamente",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "example": 200
                },
                "payload": {
                  "$ref": "#/components/schemas/GetEmissionPayload"
                }
              }
            },
            "examples": {
              "get-emission-by-os": {
                "$ref": "#/components/examples/get-emission-by-os"
              },
              "get-emission-by-os-reserved": {
                "$ref": "#/components/examples/get-emission-by-os-reserved"
              },
              "get-emission-by-os-payment-pending": {
                "$ref": "#/components/examples/get-emission-by-os-payment-pending"
              }
            }
          }
        }
      },
      "GetEmissionByTransactionIdOk": {
        "description": "Retorno de numero de orden (OS) y estado obtenido exitosamente por transactionId",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "example": 200
                },
                "payload": {
                  "$ref": "#/components/schemas/GetEmissionByTransactionIdPayload"
                }
              }
            },
            "examples": {
              "get-emission-by-transactionId": {
                "$ref": "#/components/examples/get-emission-by-transactionId"
              }
            }
          }
        }
      },
      "SavePaymentOk": {
        "description": "Pago de emisión (OS) guardado con éxito",
        "content": {
          "application/json": {
            "example": {
              "statusCode": 201,
              "message": "Pago registrado correctamente en la Orden de servicio"
            }
          }
        }
      },
      "BadRequestPrice": {
        "description": "Solicitud Incorrecta",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "statusCode": 400,
              "message": "INVALID_PARAMETERS",
              "description": "Parámetros inválidos, verifique los datos ingresados"
            }
          }
        }
      },
      "GetEmissionQuoterOk": {
        "description": "precios de emisión por talla",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "example": 200
                },
                "payload": {
                  "$ref": "#/components/schemas/GetEmissionQuoterPayload"
                }
              }
            },
            "examples": {
              "emission-quoter": {
                "$ref": "#/components/examples/get-emission-quoter"
              }
            }
          }
        }
      },
      "GetEmissionPriceOk": {
        "description": "precio de emisión",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "example": 200
                },
                "payload": {
                  "$ref": "#/components/schemas/GetPricePayload"
                }
              }
            },
            "examples": {
              "emission-price": {
                "$ref": "#/components/examples/get-emission-price"
              },
              "emission-price-with-valid-coupon": {
                "$ref": "#/components/examples/get-emission-price-with-coupon"
              }
            }
          }
        }
      },
      "CouponCountersOk": {
        "description": "Contadores de emisiones por cupón",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "example": 200
                },
                "payload": {
                  "$ref": "#/components/schemas/CouponCountersPayload"
                }
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Error Interno del Servidor",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "statusCode": 500,
              "message": "INTERNAL_SERVER_ERROR",
              "description": "Ocurrió un error inesperado en el servidor"
            }
          }
        }
      }
    },
    "requestBodies": {
      "emissionBody": {
        "description": "cuerpo de emisión (nuevo formato por lote/unidad)",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "transactionId",
                "emitter",
                "origin",
                "emissions"
              ],
              "properties": {
                "transactionId": {
                  "type": "string",
                  "description": "Identificador único de la transacción."
                },
                "coupon": {
                  "type": "string",
                  "nullable": true,
                  "description": "Código del cupón aplicado a la emisión, si existe."
                },
                "emitter": {
                  "type": "object",
                  "required": [
                    "identifier",
                    "name",
                    "phone",
                    "email",
                    "copecId"
                  ],
                  "description": "Información del emisor de la emisión.",
                  "properties": {
                    "identifier": {
                      "type": "string",
                      "description": "Identificador único del emisor (RUT)."
                    },
                    "email": {
                      "type": "string",
                      "description": "Correo electrónico del emisor."
                    },
                    "name": {
                      "type": "string",
                      "description": "Nombre completo del emisor."
                    },
                    "phone": {
                      "type": "string",
                      "description": "Número de teléfono del emisor."
                    },
                    "copecId": {
                      "type": "string",
                      "description": "Identificador del usuario en App Copec."
                    }
                  }
                },
                "origin": {
                  "type": "object",
                  "required": [
                    "agencyId",
                    "street",
                    "streetNumber",
                    "geolocation",
                    "agencyDropOff"
                  ],
                  "description": "Información del origen del envío.",
                  "properties": {
                    "street": {
                      "type": "string",
                      "description": "Nombre de la calle del origen."
                    },
                    "streetNumber": {
                      "type": "integer",
                      "description": "Número de la calle del origen."
                    },
                    "geolocation": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      },
                      "description": "Coordenadas geográficas del origen (latitud, longitud)."
                    },
                    "agencyId": {
                      "type": "integer",
                      "description": "Identificador de la agencia de origen."
                    },
                    "agencyDropOff": {
                      "type": "boolean",
                      "description": "Indica si el usuario se encuentra en la agencia de origen."
                    }
                  }
                },
                "emissions": {
                  "type": "array",
                  "description": "Lista de emisiones individuales en el lote (considerar sólo una).",
                  "items": {
                    "type": "object",
                    "required": [
                      "receiver",
                      "destination",
                      "shipping"
                    ],
                    "description": "Detalles de una emisión individual.",
                    "properties": {
                      "os": {
                        "type": "number",
                        "nullable": true,
                        "description": "Número de orden de servicio (OS), si ya está asignado (opcional)."
                      },
                      "receiver": {
                        "type": "object",
                        "required": [
                          "email",
                          "name",
                          "phone"
                        ],
                        "description": "Información del receptor del envío.",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "Correo electrónico del receptor."
                          },
                          "name": {
                            "type": "string",
                            "description": "Nombre completo del receptor."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Número de teléfono del receptor."
                          }
                        }
                      },
                      "destination": {
                        "type": "object",
                        "required": [
                          "agencyId",
                          "street",
                          "streetNumber",
                          "geolocation",
                          "isCustomAddress"
                        ],
                        "description": "Información del destino del envío.",
                        "properties": {
                          "street": {
                            "type": "string",
                            "description": "Nombre de la calle del destino."
                          },
                          "streetNumber": {
                            "type": "integer",
                            "description": "Número de la calle del destino."
                          },
                          "geolocation": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Coordenadas geográficas del destino (latitud, longitud)."
                          },
                          "agencyId": {
                            "type": "integer",
                            "description": "Identificador de la agencia de destino."
                          },
                          "reference": {
                            "type": "string",
                            "nullable": true,
                            "description": "Referencia adicional para la dirección de destino."
                          },
                          "deptoOrOffice": {
                            "type": "string",
                            "nullable": true,
                            "description": "Departamento u oficina en la dirección de destino."
                          },
                          "isCustomAddress": {
                            "type": "boolean",
                            "description": "Indica si la dirección de destino es personalizada (manual)."
                          }
                        }
                      },
                      "shipping": {
                        "type": "object",
                        "required": [
                          "size",
                          "amount",
                          "paymentMethod",
                          "productDetail",
                          "productValue"
                        ],
                        "description": "Detalles del envío y pago.",
                        "properties": {
                          "size": {
                            "type": "string",
                            "enum": [
                              "XS",
                              "S",
                              "M",
                              "L"
                            ],
                            "description": "Tamaño del paquete."
                          },
                          "amount": {
                            "type": "number",
                            "description": "Monto del envío."
                          },
                          "paymentMethod": {
                            "type": "string",
                            "enum": [
                              "WEBPAY",
                              "ONECLICK",
                              "COPEC_PAY",
                              "BILLETERA",
                              "RECEIVER",
                              "ORIG_AGENCY_PAY",
                              "DEST_AGENCY_PAY"
                            ],
                            "description": "Método de pago utilizado."
                          },
                          "productDetail": {
                            "type": "string",
                            "description": "Descripción del producto enviado."
                          },
                          "productValue": {
                            "type": "number",
                            "description": "Valor del producto enviado."
                          },
                          "paymentDate": {
                            "type": "string",
                            "format": "date",
                            "description": "Fecha de pago."
                          },
                          "warranty": {
                            "type": "boolean",
                            "description": "Indica si se incluye garantía en el envío."
                          }
                        }
                      },
                      "draftCreatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true,
                        "description": "Fecha y hora de creación del borrador de la emisión."
                      },
                      "draftUpdatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true,
                        "description": "Fecha y hora de la última actualización del borrador de la emisión."
                      }
                    }
                  }
                }
              }
            },
            "examples": {
              "reserved-emission-pp": {
                "$ref": "#/components/examples/reserved-emission-pp"
              },
              "normal-emission-pp": {
                "$ref": "#/components/examples/normal-emission-pp"
              },
              "normal-emission-pp-with-coupon": {
                "$ref": "#/components/examples/normal-emission-pp-with-coupon"
              }
            }
          }
        }
      },
      "dropoffBody": {
        "description": "cuerpo de admisión de paquetes (OS)",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "osList"
              ],
              "properties": {
                "email": {
                  "type": "string"
                },
                "osList": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            },
            "example": {
              "email": "copec@app.com",
              "osList": [
                6610670614,
                6610670615,
                6610670616
              ]
            }
          }
        }
      },
      "paymentBody": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "os",
                "paymentMethod",
                "amount",
                "date",
                "transactionId",
                "collector"
              ],
              "properties": {
                "os": {
                  "type": "number"
                },
                "paymentMethod": {
                  "type": "string",
                  "enum": [
                    "CA",
                    "CH",
                    "WP",
                    "CP",
                    "SV",
                    "DC",
                    "CC",
                    "OC",
                    "BL",
                    "BE"
                  ]
                },
                "amount": {
                  "type": "number"
                },
                "transactionId": {
                  "type": "string"
                },
                "date": {
                  "type": "string",
                  "format": "date-time"
                },
                "collector": {
                  "type": "string",
                  "enum": [
                    "COPEC-SCKUBA"
                  ]
                }
              }
            },
            "examples": {
              "payment-method-credit": {
                "$ref": "#/components/examples/payment-method-credit"
              }
            }
          }
        }
      }
    },
    "examples": {
      "get-emission-by-os": {
        "description": "Emisión recuperada con éxito y pagada (PP)",
        "value": {
          "statusCode": 200,
          "payload": {
            "os": 6610670614,
            "status": "CONFIRMED",
            "metadata": {
              "dropOffCode": "RULES000",
              "label": "ffamGWMvvQnQbiCJQKGQGg==..."
            },
            "origin": {
              "street": "789 Main St",
              "streetNumber": 456,
              "geolocation": [
                39.9345,
                -73.003
              ],
              "agencyId": 2040,
              "reference": null,
              "deptoOrOffice": null
            },
            "destination": {
              "street": "456 Side St",
              "streetNumber": 789,
              "geolocation": [
                40.7128,
                -74.006
              ],
              "agencyId": 2041,
              "reference": "square",
              "deptoOrOffice": "101"
            },
            "shipping": {
              "size": "S",
              "paymentType": "PP",
              "amount": 3000,
              "coupon": null,
              "discount": 0,
              "isPaid": true,
              "shipmentSize": 1
            },
            "createdAt": "2023-10-30T12:34:56Z"
          }
        }
      },
      "get-emission-by-os-payment-pending": {
        "description": "Emisión recuperada con éxito y pago pendiente (RULES015)",
        "value": {
          "statusCode": 200,
          "payload": {
            "os": 6610670614,
            "status": "CONFIRMED",
            "metadata": {
              "dropOffCode": "RULES015",
              "label": "ffamGWMvvQnQbiCJQKGQGg==..."
            },
            "origin": {
              "street": "789 Main St",
              "streetNumber": 456,
              "geolocation": [
                39.9345,
                -73.003
              ],
              "agencyId": 2040,
              "reference": null,
              "deptoOrOffice": null
            },
            "destination": {
              "street": "456 Side St",
              "streetNumber": 789,
              "geolocation": [
                40.7128,
                -74.006
              ],
              "agencyId": 2041,
              "reference": "square",
              "deptoOrOffice": "101"
            },
            "shipping": {
              "size": "S",
              "paymentType": "EPP",
              "amount": 3000,
              "coupon": null,
              "discount": 0,
              "isPaid": false,
              "shipmentSize": 1
            },
            "createdAt": "2023-10-30T12:34:56Z"
          }
        }
      },
      "get-emission-by-os-reserved": {
        "description": "Emisión folio reservado",
        "value": {
          "statusCode": 200,
          "payload": {
            "os": 6610670615,
            "status": null,
            "metadata": {}
          }
        }
      },
      "get-emission-by-os-invalid-error": {
        "value": {
          "statusCode": 400,
          "message": "failed to get emission",
          "description": "OS_INVALID_DATA"
        }
      },
      "get-emission-by-os-format-error": {
        "value": {
          "statusCode": 400,
          "message": "failed to get emission",
          "description": "Validation failed (numeric string is expected)"
        }
      },
      "get-emission-by-transactionId": {
        "value": {
          "statusCode": 200,
          "payload": {
            "os": 6610670614,
            "status": "CONFIRMED",
            "allowDropOff": true
          }
        }
      },
      "get-emission-quoter": {
        "value": {
          "statusCode": 200,
          "payload": {
            "values": [
              {
                "type": "BLUE_POINT",
                "sla": 2,
                "slaTime": "48 hrs",
                "values": [
                  {
                    "size": "XS",
                    "value": 2600
                  },
                  {
                    "size": "S",
                    "value": 3700
                  },
                  {
                    "size": "M",
                    "value": 4300
                  },
                  {
                    "size": "L",
                    "value": 4900
                  }
                ]
              },
              {
                "type": "ADDRESS",
                "sla": 2,
                "slaTime": "48 hrs",
                "values": [
                  {
                    "size": "XS",
                    "value": 3100
                  },
                  {
                    "size": "S",
                    "value": 4200
                  },
                  {
                    "size": "M",
                    "value": 4800
                  },
                  {
                    "size": "L",
                    "value": 5400
                  }
                ]
              }
            ]
          }
        }
      },
      "get-emission-price": {
        "value": {
          "statusCode": 200,
          "payload": {
            "size": "M",
            "sizeLabel": "mediana",
            "values": [
              {
                "service": "STANDARD",
                "sla": 2,
                "slaTime": "48 hrs",
                "slaDate": "04/02/2026",
                "basePrice": 4034,
                "price": 4800,
                "basePriceFee": 0,
                "details": [],
                "additionalCharges": [],
                "subtotal": 4034,
                "total": 4800,
                "iva": 766
              }
            ],
            "origin": "LFD",
            "destination": "PRO",
            "paymentMethod": "WEBPAY",
            "coupon": null
          }
        }
      },
      "get-emission-price-with-coupon": {
        "value": {
          "statusCode": 200,
          "payload": {
            "origin": "PRO",
            "destination": "ATC",
            "size": "S",
            "sizeLabel": "Pequeña",
            "paymentMethod": "WEBPAY",
            "coupon": {
              "name": "REGIONESBLUE",
              "value": 30,
              "percent": true
            },
            "values": [
              {
                "service": "STANDARD",
                "sla": 17,
                "slaTime": "17 días",
                "slaDate": "17/10/2025",
                "price": 4134,
                "details": [
                  {
                    "key": "DISCOUNT_CODE",
                    "type": "discount",
                    "percentage": 30,
                    "value": 1240,
                    "subtotal": 2894
                  }
                ],
                "total": 3444
              }
            ]
          }
        }
      },
      "validate-emission-ciclos": {
        "value": {
          "statusCode": 200,
          "payload": {
            "orderId": "6610670614",
            "size": "S",
            "sizeLabel": "pequeña",
            "osType": "reserved"
          }
        }
      },
      "validate-emission-pudos": {
        "value": {
          "statusCode": 200,
          "payload": {
            "orderId": "6610670615",
            "shipmentSize": 1,
            "osType": "normal"
          }
        }
      },
      "error-invalid-transaction": {
        "value": {
          "statusCode": 400,
          "message": "TRANSACTION_NOT_VALID",
          "description": "Transacción inválida, verifique el identificador ingresado"
        }
      },
      "reserved-emission-pp": {
        "description": "Emisión reservada, método de pago webpay",
        "value": {
          "transactionId": "zzgz8b6Upc3GOV4ti28nSRe7hijTOX6ycho345IP",
          "coupon": null,
          "emitter": {
            "identifier": "45967478-4",
            "email": "emitter@example.com",
            "name": "Copec App Customer",
            "phone": "912345678",
            "copecId": "COPEC-USER-123"
          },
          "origin": {
            "street": "789 Main St",
            "streetNumber": 456,
            "geolocation": [
              39.9345,
              -73.003
            ],
            "agencyId": 2040,
            "agencyDropOff": false
          },
          "emissions": [
            {
              "os": 1005030574,
              "receiver": {
                "email": "receiver@example.com",
                "name": "John Doe",
                "phone": "+5698654321"
              },
              "destination": {
                "street": "456 Side St",
                "streetNumber": 789,
                "deptoOrOffice": "101",
                "reference": "square",
                "geolocation": [
                  40.7128,
                  -74.006
                ],
                "agencyId": 9385,
                "isCustomAddress": false
              },
              "shipping": {
                "size": "S",
                "amount": 1000,
                "paymentMethod": "WEBPAY",
                "paymentDate": "2025-10-30",
                "productDetail": "Galletas",
                "productValue": 10000
              },
              "draftCreatedAt": "2025-10-30T12:34:56Z",
              "draftUpdatedAt": "2025-10-30T12:34:56Z"
            }
          ]
        }
      },
      "normal-emission-pp": {
        "description": "Emisión normal, método de pago webpay (ejemplo del cuerpo completo)",
        "value": {
          "transactionId": "zzgz8b6Upc3GOV4ti28nSRe7hijTOX6ycho345IP",
          "coupon": null,
          "emitter": {
            "identifier": "45967478-4",
            "email": "emitter@example.com",
            "name": "Copec App Customer",
            "phone": "912345678",
            "copecId": "COPEC-USER-123"
          },
          "origin": {
            "street": "789 Main St",
            "streetNumber": 456,
            "geolocation": [
              39.9345,
              -73.003
            ],
            "agencyId": 2040,
            "agencyDropOff": false
          },
          "emissions": [
            {
              "os": null,
              "receiver": {
                "email": "receiver@example.com",
                "name": "John Doe",
                "phone": "+5698654321"
              },
              "destination": {
                "street": "456 Side St",
                "streetNumber": 789,
                "deptoOrOffice": "101",
                "reference": "square",
                "geolocation": [
                  40.7128,
                  -74.006
                ],
                "agencyId": 9385,
                "isCustomAddress": false
              },
              "shipping": {
                "size": "S",
                "amount": 1000,
                "paymentMethod": "WEBPAY",
                "paymentDate": "2025-10-30",
                "productDetail": "Galletas",
                "productValue": 10000
              },
              "draftCreatedAt": "2025-10-30T12:34:56Z",
              "draftUpdatedAt": "2025-10-30T12:34:56Z"
            }
          ]
        }
      },
      "normal-emission-pp-with-coupon": {
        "description": "Emisión normal con cupón, método de pago webpay (ejemplo del cuerpo completo)",
        "value": {
          "transactionId": "zzgz8b6Upc3GOV4ti28nSRe7hijTOX6ycho345IP",
          "coupon": "BEFULLCOPEC",
          "emitter": {
            "identifier": "45967478-4",
            "email": "emitter@example.com",
            "name": "Copec App Customer",
            "phone": "912345678",
            "copecId": "COPEC-USER-123"
          },
          "origin": {
            "street": "123 Main St",
            "streetNumber": 456,
            "geolocation": [
              40.7128,
              -74.006
            ],
            "agencyId": 2040,
            "agencyDropOff": false
          },
          "emissions": [
            {
              "os": null,
              "receiver": {
                "email": "receiver@example.com",
                "name": "John Doe",
                "phone": "+5698654321"
              },
              "destination": {
                "street": "456 Side St",
                "streetNumber": 789,
                "deptoOrOffice": "101",
                "reference": "square",
                "geolocation": [
                  40.7128,
                  -74.006
                ],
                "agencyId": 9385,
                "isCustomAddress": false
              },
              "shipping": {
                "size": "S",
                "amount": 1000,
                "paymentMethod": "WEBPAY",
                "paymentDate": "2025-10-30",
                "coupon": "BEFULLCOPEC",
                "productDetail": "Galletas",
                "productValue": 10000
              },
              "draftCreatedAt": "2025-10-30T12:34:56Z",
              "draftUpdatedAt": "2025-10-30T12:34:56Z"
            }
          ]
        }
      },
      "activate-emission-success-epp": {
        "value": {
          "statusCode": 201,
          "message": "Orden de servicio emitida correctamente",
          "payload": {
            "transactionId": "zzgz8b6Upc3GOV4ti28nSRe7hijTOX6ycho345IP",
            "paymentUrl": null
          }
        }
      },
      "activate-emission-success-pp": {
        "value": {
          "statusCode": 201,
          "message": "Orden de servicio emitida correctamente",
          "payload": {
            "transactionId": "zzgz8b6Upc3GOV4ti28nSRe7hijTOX6ycho345IP",
            "paymentUrl": "https://link-pago.proveedor.cl"
          }
        }
      },
      "payment-method-credit": {
        "value": {
          "os": 6000171631,
          "paymentMethod": "WP",
          "amount": 2600,
          "transactionId": "MFLO32K81R60030M3V4",
          "date": "2023-11-01T10:00:00Z",
          "collector": "COPEC-SCKUBA"
        }
      }
    }
  },
  "security": [
    {
      "apikey": []
    }
  ],
  "tags": [
    {
      "name": "price",
      "description": "Operaciones relacionadas con el cálculo de **precio** y validación de **cupones**"
    },
    {
      "name": "payment",
      "description": "Operaciones relacionadas con el pago de la emisión **(POS + Sckuba)**"
    },
    {
      "name": "emission",
      "description": "Operaciones relacionadas a **flujos críticos** de una emisión"
    }
  ],
  "externalDocs": {
    "description": "Documentación",
    "url": "http://swagger.io"
  }
}