{
  "openapi": "3.0.3",
  "info": {
    "title": "Paynow Payments API",
    "description": "Paynow payment processing API for creating payments, checking statuses, managing refunds, and retrieving payment methods.",
    "version": "3.0.5",
    "x-jentic-source-url": "https://docs.paynow.pl/"
  },
  "servers": [
    {
      "url": "https://api.paynow.pl",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v3/payments": {
      "post": {
        "operationId": "createPayment",
        "summary": "Create a payment",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 45
            },
            "description": "Unique key for idempotent behavior"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v3/payments/{paymentId}/status": {
      "get": {
        "operationId": "getPaymentStatus",
        "summary": "Get payment status",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^([a-zA-Z0-9]{4}(-[a-zA-Z0-9]{3}){3})$"
            },
            "description": "Unique payment ID generated by Paynow"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 45
            },
            "description": "Unique key for idempotent behavior"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentStatus"
                }
              }
            }
          },
          "400": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v3/payments/paymentmethods": {
      "get": {
        "operationId": "getPaymentMethods",
        "summary": "Get available payment methods",
        "tags": [
          "PaymentMethods"
        ],
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by amount in smallest currency unit"
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "PLN",
                "EUR",
                "USD",
                "GBP"
              ],
              "default": "PLN"
            },
            "description": "Currency code"
          },
          {
            "name": "applePayEnabled",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Filter Apple Pay availability"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 45
            },
            "description": "Unique key for idempotent behavior"
          }
        ],
        "responses": {
          "200": {
            "description": "List of available payment methods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentMethod"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v3/payments/{paymentId}/refunds": {
      "post": {
        "operationId": "createRefund",
        "summary": "Create a refund for a payment",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique payment ID"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 45
            },
            "description": "Unique key for idempotent behavior"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefundRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v3/refunds/{refundId}/status": {
      "get": {
        "operationId": "getRefundStatus",
        "summary": "Get refund status",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "refundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^([a-zA-Z0-9]{4}(-[a-zA-Z0-9]{3}){3})$"
            },
            "description": "Unique refund ID generated by Paynow"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 45
            },
            "description": "Unique key for idempotent behavior"
          }
        ],
        "responses": {
          "200": {
            "description": "Refund status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundStatus"
                }
              }
            }
          },
          "400": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v3/refunds/{refundId}/cancel": {
      "post": {
        "operationId": "cancelRefund",
        "summary": "Cancel a refund (only NEW status)",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "refundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^([a-zA-Z0-9]{4}(-[a-zA-Z0-9]{3}){3})$"
            },
            "description": "Unique refund ID"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 45
            },
            "description": "Unique key for idempotent behavior"
          }
        ],
        "responses": {
          "200": {
            "description": "Refund cancelled successfully"
          },
          "400": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Api-Key",
        "description": "Unique key used to authenticate API requests"
      },
      "signatureAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Signature",
        "description": "Ensures the request body integrity and authenticity"
      }
    },
    "schemas": {
      "CreatePaymentRequest": {
        "type": "object",
        "required": [
          "amount",
          "externalId",
          "description",
          "buyer"
        ],
        "properties": {
          "amount": {
            "type": "integer",
            "format": "int64",
            "minimum": 100,
            "maximum": 100000000,
            "description": "Amount in smallest currency unit (e.g., 100 = 1.00 PLN)"
          },
          "currency": {
            "type": "string",
            "enum": [
              "PLN",
              "EUR",
              "USD",
              "GBP"
            ],
            "default": "PLN",
            "description": "Payment currency"
          },
          "externalId": {
            "type": "string",
            "maxLength": 100,
            "description": "Merchant-defined payment identifier"
          },
          "description": {
            "type": "string",
            "maxLength": 255,
            "description": "Payment description"
          },
          "continueUrl": {
            "type": "string",
            "maxLength": 1000,
            "description": "Post-payment redirect URL"
          },
          "buyer": {
            "$ref": "#/components/schemas/Buyer"
          },
          "orderItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            },
            "description": "Line items in the order"
          }
        }
      },
      "Buyer": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Buyer email address"
          },
          "firstName": {
            "type": "string",
            "description": "Buyer first name"
          },
          "lastName": {
            "type": "string",
            "description": "Buyer last name"
          },
          "phone": {
            "type": "object",
            "properties": {
              "prefix": {
                "type": "string"
              },
              "number": {
                "type": "string"
              }
            }
          },
          "address": {
            "type": "object",
            "properties": {
              "street": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "zipCode": {
                "type": "string"
              },
              "countryCode": {
                "type": "string"
              }
            }
          }
        }
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Item name"
          },
          "category": {
            "type": "string",
            "description": "Item category"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity"
          },
          "price": {
            "type": "integer",
            "format": "int64",
            "description": "Item price in smallest currency unit"
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique payment identifier"
          },
          "redirectUrl": {
            "type": "string",
            "description": "URL to redirect buyer for payment"
          },
          "status": {
            "type": "string",
            "enum": [
              "NEW",
              "PENDING",
              "ERROR"
            ],
            "description": "Initial payment status"
          }
        }
      },
      "PaymentStatus": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Payment identifier"
          },
          "status": {
            "type": "string",
            "enum": [
              "ABANDONED",
              "CONFIRMED",
              "ERROR",
              "EXPIRED",
              "NEW",
              "PENDING",
              "REJECTED"
            ],
            "description": "Current payment status"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "APPLE_PAY",
              "BLIK",
              "CARD",
              "ECOMMERCE",
              "GOOGLE_PAY",
              "PAYPO",
              "PBL"
            ],
            "description": "Payment method type"
          },
          "id": {
            "type": "integer",
            "description": "Payment method unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Payment method name"
          },
          "description": {
            "type": "string",
            "description": "Payment method description"
          },
          "image": {
            "type": "string",
            "description": "URL to payment method icon"
          },
          "status": {
            "type": "string",
            "enum": [
              "ENABLED",
              "DISABLED"
            ],
            "description": "Availability status"
          },
          "authorizationType": {
            "type": "string",
            "enum": [
              "REDIRECT",
              "CODE"
            ],
            "description": "Authorization flow type"
          }
        }
      },
      "CreateRefundRequest": {
        "type": "object",
        "required": [
          "amount"
        ],
        "properties": {
          "amount": {
            "type": "integer",
            "format": "int64",
            "description": "Refund amount in smallest currency unit"
          },
          "reason": {
            "type": "string",
            "enum": [
              "RMA",
              "REFUND_BEFORE_14",
              "REFUND_AFTER_14",
              "OTHER"
            ],
            "description": "Reason for the refund"
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "Unique refund identifier"
          },
          "status": {
            "type": "string",
            "enum": [
              "NEW",
              "PENDING",
              "SUCCESSFUL"
            ],
            "description": "Initial refund status"
          },
          "payerAmount": {
            "type": "integer",
            "format": "int64",
            "description": "Amount returned to payer"
          },
          "voucherAmount": {
            "type": "integer",
            "format": "int64",
            "description": "Amount returned to voucher"
          }
        }
      },
      "RefundStatus": {
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "Refund identifier"
          },
          "status": {
            "type": "string",
            "enum": [
              "NEW",
              "PENDING",
              "SUCCESSFUL",
              "FAILED",
              "CANCELLED"
            ],
            "description": "Current refund status"
          },
          "failureReason": {
            "type": "string",
            "enum": [
              "CARD_BALANCE_ERROR",
              "BUYER_ACCOUNT_CLOSED",
              "OTHER"
            ],
            "nullable": true,
            "description": "Reason for refund failure"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "errorType": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": [],
      "signatureAuth": []
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Payment creation and status operations"
    },
    {
      "name": "PaymentMethods",
      "description": "Payment method retrieval"
    },
    {
      "name": "Refunds",
      "description": "Refund management operations"
    }
  ]
}