{
  "openapi": "3.1.0",
  "info": {
    "title": "Heidi API Documentation",
    "version": "0.1.0",
    "x-jentic-source-url": "https://www.heidihealth.com/developers/swaggerdoc-openapi.json"
  },
  "servers": [
    {
      "url": "https://registrar.api.heidihealth.com",
      "description": "Heidi Staging"
    }
  ],
  "paths": {
    "/api/v2/ml-scribe/open-api/jwt": {
      "get": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Generate Jwt",
        "operationId": "generate_jwt_api_v2_ml_scribe_open_api_jwt_get",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Email"
            }
          },
          {
            "name": "third_party_internal_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Third Party Internal Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apis__v2__open_api__jwt_schema__GenerateJWTResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/sessions": {
      "post": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Create Session",
        "description": "create a new session",
        "operationId": "create_session_api_v2_ml_scribe_open_api_sessions_post",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/CreateSessionRequest"
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apis__v2__open_api__sessions__sessions_schema__CreateSessionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/sessions/{session_id}": {
      "get": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Get Session Details",
        "description": "get session details",
        "operationId": "get_session_details_api_v2_ml_scribe_open_api_sessions__session_id__get",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetailsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Update Session",
        "description": "update session details by id",
        "operationId": "update_session_api_v2_ml_scribe_open_api_sessions__session_id__patch",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAPIUpdateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetailsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/sessions/{session_id}/consult-note": {
      "post": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Generate Consult Note",
        "description": "Generate a session consult note by either template, ai command or ai command text\nor generate a session dictation.\ndictation - AI cleaned up transcript",
        "operationId": "generate_consult_note_api_v2_ml_scribe_open_api_sessions__session_id__consult_note_post",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAPIGenerateConsultNoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/sessions/{session_id}/documents": {
      "get": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Get Documents",
        "description": "get all documents for session",
        "operationId": "get_documents_api_v2_ml_scribe_open_api_sessions__session_id__documents_get",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DocumentSortBy",
              "default": "created_at"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "ASC"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Skip"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAPIGetDocumentsResponseV2"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Create Empty Document",
        "description": "create an empty document for the session. This document is a placeholder for the AI generation in next step.\nArgs:\n    session_id (str)\n\nReturns:\n    Document",
        "operationId": "create_empty_document_api_v2_ml_scribe_open_api_sessions__session_id__documents_post",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAPIGenerateDocumentContentRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDocument"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/sessions/{session_id}/ask-ai": {
      "post": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Ask Ai",
        "operationId": "ask_ai_api_v2_ml_scribe_open_api_sessions__session_id__ask_ai_post",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAPIAskAIRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/sessions/{session_id}/transcript": {
      "get": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Get Session Transcript",
        "description": "get session's transcript",
        "operationId": "get_session_transcript_api_v2_ml_scribe_open_api_sessions__session_id__transcript_get",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionTranscriptResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/sessions/{session_id}/clinical-codes": {
      "get": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Get Clinical Codes",
        "operationId": "get_clinical_codes_api_v2_ml_scribe_open_api_sessions__session_id__clinical_codes_get",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CodeSystem"
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Enabled Code Systems"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAPISessionClinicalCodeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/templates/document-templates": {
      "get": {
        "tags": [
          "Heidi API"
        ],
        "summary": "List Document Templates",
        "description": "Get templates for document generation.\n\nIf no user provided, specialty_id will be used in demo session.\nBoth of user and specialty_id can be none: there's no specialty selected in demo.\n\nall users: return all templates (note structure + document).\n\nReturns:\n    OpenAPIGetTemplatesResponseV2: templates for document gen",
        "operationId": "list_document_templates_api_v2_ml_scribe_open_api_templates_document_templates_get",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "specialty_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "example": "5eb7cf5a86d9755df3a6c593"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Specialty Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAPIGetTemplatesResponseV2"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/sessions/{session_id}/restful-segment-transcription": {
      "post": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Create Restful Segment Transcription",
        "description": "Start Recording",
        "operationId": "create_restful_segment_transcription_api_v2_ml_scribe_open_api_sessions__session_id__restful_segment_transcription_post",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAPICreateLiveTranscriptionResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/sessions/{session_id}/restful-segment-transcription/{recording_id}:transcribe": {
      "post": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Transcribe Segment Recording",
        "description": "Upload chunk audio file to generate transcript during recording",
        "operationId": "transcribe_segment_recording_api_v2_ml_scribe_open_api_sessions__session_id__restful_segment_transcription__recording_id__transcribe_post",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "recording_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Recording Id"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_transcribe_segment_recording_api_v2_ml_scribe_open_api_sessions__session_id__restful_segment_transcription__recording_id__transcribe_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAPITranscribeChunkResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/sessions/{session_id}/restful-segment-transcription/{recording_id}:finish": {
      "post": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Finish Restful Segment Transcription",
        "description": "Inform BE to finish recording",
        "operationId": "finish_restful_segment_transcription_api_v2_ml_scribe_open_api_sessions__session_id__restful_segment_transcription__recording_id__finish_post",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "recording_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Recording Id"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAPIFinishRecordingResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/sessions/{session_id}/client-customised-template/response": {
      "post": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Generate Client Customised Template Response",
        "operationId": "generate_client_customised_template_response_api_v2_ml_scribe_open_api_sessions__session_id__client_customised_template_response_post",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomisedTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomisedTemplateResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/sessions/{session_id}/context-documents": {
      "post": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Upload Session Context Documents",
        "description": "upload session context documents",
        "operationId": "upload_session_context_documents_api_v2_ml_scribe_open_api_sessions__session_id__context_documents_post",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_session_context_documents_api_v2_ml_scribe_open_api_sessions__session_id__context_documents_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SessionContextDocumentView"
                  },
                  "title": "Response Upload Session Context Documents Api V2 Ml Scribe Open Api Sessions  Session Id  Context Documents Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Delete Session Context Documents",
        "description": "delete session context documents",
        "operationId": "delete_session_context_documents_api_v2_ml_scribe_open_api_sessions__session_id__context_documents_delete",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAPIDeleteSessionContextDocumentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAPIDeleteSessionContextDocumentsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Get Session Context Documents",
        "description": "get session context documents",
        "operationId": "get_session_context_documents_api_v2_ml_scribe_open_api_sessions__session_id__context_documents_get",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SessionContextDocumentView"
                  },
                  "title": "Response Get Session Context Documents Api V2 Ml Scribe Open Api Sessions  Session Id  Context Documents Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/patient-profiles": {
      "get": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Get Patient Profiles",
        "description": "list patient profiles",
        "operationId": "get_patient_profiles_api_v2_ml_scribe_open_api_patient_profiles_get",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ehr_provider",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/EHRProvider"
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "name": "ehr_patient_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAPIGetPatientProfilesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Create Patient Profile",
        "description": "create patient profile",
        "operationId": "create_patient_profile_api_v2_ml_scribe_open_api_patient_profiles_post",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAPICreatePatientProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAPICreatePatientProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/patient-profiles/{patient_profile_id}": {
      "get": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Get Patient Profile",
        "description": "get a single patient profile by id",
        "operationId": "get_patient_profile_api_v2_ml_scribe_open_api_patient_profiles__patient_profile_id__get",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "patient_profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Patient Profile Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAPIGetPatientProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Update Patient Profile",
        "description": "update patient profile",
        "operationId": "update_patient_profile_api_v2_ml_scribe_open_api_patient_profiles__patient_profile_id__patch",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "patient_profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Patient Profile Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAPIUpdatePatientProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAPIUpdatePatientProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Delete Patient Profile",
        "description": "delete patient profile",
        "operationId": "delete_patient_profile_api_v2_ml_scribe_open_api_patient_profiles__patient_profile_id__delete",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "patient_profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Patient Profile Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/patient-profiles/{patient_profile_id}/sessions": {
      "post": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Link Patient Sessions",
        "description": "set linked sessions to patient profile",
        "operationId": "link_patient_sessions_api_v2_ml_scribe_open_api_patient_profiles__patient_profile_id__sessions_post",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "patient_profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Patient Profile Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAPILinkPatientSessionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAPILinkPatientSessionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Unlink Patient Sessions",
        "description": "unlink sessions from patient profile",
        "operationId": "unlink_patient_sessions_api_v2_ml_scribe_open_api_patient_profiles__patient_profile_id__sessions_delete",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "patient_profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Patient Profile Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAPIUnlinkPatientSessionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAPIUnlinkPatientSessionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/patient-profiles:batch-delete": {
      "delete": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Delete Patient Profiles",
        "description": "open api delete multiple patient profiles at once",
        "operationId": "delete_patient_profiles_api_v2_ml_scribe_open_api_patient_profiles_batch_delete_delete",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAPIDeletePatientProfilesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/team": {
      "get": {
        "tags": [
          "Heidi API"
        ],
        "summary": "List Joined Teams",
        "description": "List all teams that the authenticated user has joined",
        "operationId": "list_joined_teams_api_v2_ml_scribe_open_api_team_get",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAPIJoinedTeamsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/team/{team_id}": {
      "get": {
        "tags": [
          "Heidi API"
        ],
        "summary": "Get Team Details",
        "description": "Get detailed information about a specific team",
        "operationId": "get_team_details_api_v2_ml_scribe_open_api_team__team_id__get",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "5eb7cf5a86d9755df3a6c593",
              "title": "Team Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ml-scribe/open-api/organization/{organization_id}/members": {
      "get": {
        "tags": [
          "Heidi API"
        ],
        "summary": "List Organization Members",
        "description": "List organization members with pagination and filtering options",
        "operationId": "list_organization_members_api_v2_ml_scribe_open_api_organization__organization_id__members_get",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "5eb7cf5a86d9755df3a6c593",
              "title": "Organization Id"
            }
          },
          {
            "name": "role_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Role Ids"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 10,
              "title": "Page Size"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "email",
                "specialty",
                "role",
                "team"
              ],
              "default": "name",
              "title": "Order By"
            }
          },
          {
            "name": "is_descending",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Is Descending"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Search"
            }
          },
          {
            "name": "team_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Team Ids"
            }
          },
          {
            "name": "specialty_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Specialty Ids"
            }
          },
          {
            "name": "show_pending_invitations_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Show Pending Invitations Only"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAPIOrganizationMembersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "apis__v2__open_api__jwt_schema__GenerateJWTResponse": {
        "properties": {
          "token": {
            "type": "string",
            "title": "Token"
          },
          "expiration_time": {
            "type": "string",
            "format": "date-time",
            "title": "Expiration Time"
          }
        },
        "type": "object",
        "required": [
          "token",
          "expiration_time"
        ],
        "title": "GenerateJWTResponse"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "CreateSessionRequest": {
        "properties": {
          "timezone": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Timezone"
          }
        },
        "type": "object",
        "title": "CreateSessionRequest"
      },
      "SessionStatus": {
        "type": "string",
        "enum": [
          "EMPTY",
          "DRAFT",
          "REVIEWED",
          "APPROVED",
          "SENT"
        ],
        "title": "SessionStatus",
        "description": "Represents the review workflow status of a session's letter/document."
      },
      "apis__v2__open_api__sessions__sessions_schema__CreateSessionResponse": {
        "properties": {
          "session_id": {
            "type": "string",
            "title": "Session Id"
          },
          "is_consent": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Consent",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "session_id"
        ],
        "title": "CreateSessionResponse"
      },
      "OpenAPISessionResponseV2": {
        "properties": {
          "sessions": {
            "items": {
              "$ref": "#/components/schemas/SimpleSessionViewV2"
            },
            "type": "array",
            "title": "Sessions"
          },
          "count": {
            "type": "integer",
            "title": "Count"
          },
          "total_count": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Count"
          },
          "next_page": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Page",
            "deprecated": true
          },
          "has_next_page": {
            "type": "boolean",
            "title": "Has Next Page"
          }
        },
        "type": "object",
        "required": [
          "sessions",
          "count",
          "has_next_page"
        ],
        "title": "OpenAPISessionResponseV2"
      },
      "SimpleSessionViewV2": {
        "properties": {
          "session_id": {
            "type": "string",
            "title": "Session Id"
          },
          "kinde_gp_id": {
            "type": "string",
            "title": "Kinde Gp Id"
          },
          "session_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Session Name"
          },
          "session_gist": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Session Gist"
          },
          "patient": {
            "$ref": "#/components/schemas/PatientModel"
          },
          "ehr_appt_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ehr Appt Id"
          },
          "ehr_appt_contact_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ehr Appt Contact Id"
          },
          "ehr_provider": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ehr Provider"
          },
          "ehr_encounter_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ehr Encounter Id"
          },
          "ehr_patient_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ehr Patient Id"
          },
          "status": {
            "$ref": "#/components/schemas/BaseStatus",
            "default": "CREATED"
          },
          "session_status": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SessionStatus"
              },
              {
                "type": "null"
              }
            ],
            "default": "EMPTY"
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At"
          },
          "updated_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated At"
          },
          "is_consent": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Consent",
            "default": false
          },
          "patient_profile": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PatientProfileModel"
              },
              {
                "type": "null"
              }
            ]
          },
          "created_time_local": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created Time Local"
          }
        },
        "type": "object",
        "required": [
          "session_id",
          "kinde_gp_id",
          "patient"
        ],
        "title": "SimpleSessionViewV2"
      },
      "PatientModel": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "gender": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Gender"
          },
          "dob": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Dob"
          },
          "demographic_details": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Demographic Details"
          },
          "additional_context": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Additional Context"
          }
        },
        "type": "object",
        "title": "PatientModel",
        "description": "a model runs in parallel with PatientProfileModel when user choose to not create a patient profile."
      },
      "BaseStatus": {
        "type": "string",
        "enum": [
          "CREATED",
          "IN_PROGRESS",
          "COMPLETED",
          "FAILED"
        ],
        "title": "BaseStatus"
      },
      "PatientProfileModel": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "example": "5eb7cf5a86d9755df3a6c593"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "source": {
            "$ref": "#/components/schemas/PatientSource"
          },
          "ehr": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/EHRProvider"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ehr"
          },
          "ehr_patient_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ehr Patient Id"
          },
          "managed_by": {
            "type": "string",
            "title": "Managed By",
            "example": "5eb7cf5a86d9755df3a6c593"
          },
          "birth_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Birth Date"
          },
          "gender": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Gender"
              },
              {
                "type": "null"
              }
            ]
          },
          "first_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "First Name"
          },
          "last_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Name"
          },
          "phone": {
            "anyOf": [
              {
                "type": "string",
                "format": "phone"
              },
              {
                "type": "null"
              }
            ],
            "title": "Phone"
          },
          "email": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email"
          },
          "demographic_string": {
            "type": "string",
            "title": "Demographic String"
          },
          "remember_consent": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Remember Consent"
          },
          "additional_context": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Additional Context"
          },
          "current_medications": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Current Medications"
          },
          "allergies": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Allergies"
          },
          "past_medical_history": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Past Medical History"
          }
        },
        "type": "object",
        "required": [
          "source",
          "managed_by",
          "demographic_string"
        ],
        "title": "PatientProfileModel"
      },
      "PatientSource": {
        "type": "string",
        "enum": [
          "EHR",
          "HEIDI"
        ],
        "title": "PatientSource"
      },
      "EHRProvider": {
        "type": "string",
        "enum": [
          "Epic Systems",
          "Other",
          "Heidi"
        ],
        "title": "EHRProvider"
      },
      "Gender": {
        "type": "string",
        "enum": [
          "male",
          "female",
          "other",
          "unknown"
        ],
        "title": "Gender",
        "description": "gender that matches FHIR API"
      },
      "SessionDetailsResponse": {
        "properties": {
          "session": {
            "$ref": "#/components/schemas/DetailedSessionView"
          }
        },
        "type": "object",
        "required": [
          "session"
        ],
        "title": "SessionDetailsResponse"
      },
      "DetailedSessionView": {
        "properties": {
          "session_id": {
            "type": "string",
            "title": "Session Id"
          },
          "kinde_gp_id": {
            "type": "string",
            "title": "Kinde Gp Id"
          },
          "session_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Session Name"
          },
          "session_gist": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Session Gist"
          },
          "patient": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PatientModel"
              },
              {
                "type": "null"
              }
            ]
          },
          "audio": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/AudioResponse"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Audio"
          },
          "clinician_notes": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Clinician Notes"
          },
          "duration": {
            "type": "integer",
            "title": "Duration",
            "default": 0
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At"
          },
          "updated_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated At"
          },
          "is_consent": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Consent",
            "default": false
          },
          "language_code": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/LanguageCode"
              },
              {
                "type": "null"
              }
            ]
          },
          "language_code_list": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/LanguageCode"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Language Code List"
          },
          "output_language_code": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/LanguageCode"
              },
              {
                "type": "null"
              }
            ]
          },
          "documents": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/DocumentView"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Documents"
          },
          "transcribe_mode": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TranscribeMode"
              },
              {
                "type": "null"
              }
            ]
          },
          "transcript": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Transcript"
          },
          "updated_dictation": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated Dictation"
          },
          "is_reviewed": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Reviewed"
          },
          "ehr_appt_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ehr Appt Id"
          },
          "ehr_appt_contact_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ehr Appt Contact Id"
          },
          "ehr_provider": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ehr Provider"
          },
          "ehr_encounter_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ehr Encounter Id"
          },
          "ehr_patient_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ehr Patient Id"
          },
          "is_demo": {
            "type": "boolean",
            "title": "Is Demo"
          },
          "is_consumed_quota": {
            "type": "boolean",
            "title": "Is Consumed Quota"
          },
          "had_ws_recording_failure": {
            "type": "boolean",
            "title": "Had Ws Recording Failure"
          },
          "latest_consult_note_id": {
            "anyOf": [
              {
                "type": "string",
                "example": "5eb7cf5a86d9755df3a6c593"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latest Consult Note Id"
          },
          "client_customized_qa_template_answer": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Client Customized Qa Template Answer"
          },
          "do_recording_playback": {
            "type": "boolean",
            "title": "Do Recording Playback",
            "default": false
          },
          "created_time_local": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created Time Local"
          },
          "session_status": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SessionStatus"
              },
              {
                "type": "null"
              }
            ],
            "default": "EMPTY"
          },
          "patient_profile": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PatientProfileModel"
              },
              {
                "type": "null"
              }
            ]
          },
          "consult_note": {
            "$ref": "#/components/schemas/SimpleConsultNoteView"
          },
          "language": {
            "$ref": "#/components/schemas/LanguageView"
          },
          "languages": {
            "items": {
              "$ref": "#/components/schemas/LanguageView"
            },
            "type": "array",
            "title": "Languages"
          },
          "generate_output_without_recording": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Generate Output Without Recording",
            "default": false
          },
          "recording_status": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/RecordingStatus"
              },
              {
                "type": "null"
              }
            ]
          },
          "linked_sessions_for_context": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Linked Sessions For Context"
          },
          "past_ehr_notes": {
            "items": {
              "$ref": "#/components/schemas/EHRNote"
            },
            "type": "array",
            "title": "Past Ehr Notes"
          },
          "extracted_patient_context": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PatientContextResponse"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "session_id",
          "kinde_gp_id",
          "clinician_notes",
          "is_demo",
          "is_consumed_quota",
          "had_ws_recording_failure",
          "consult_note",
          "language",
          "languages"
        ],
        "title": "DetailedSessionView"
      },
      "AudioResponse": {
        "properties": {
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Url"
          },
          "transcript": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Transcript"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          }
        },
        "type": "object",
        "required": [
          "created_at"
        ],
        "title": "AudioResponse"
      },
      "LanguageCode": {
        "type": "string",
        "enum": [
          "ar-AE",
          "auto",
          "bg",
          "ca",
          "zh",
          "zh-Hant",
          "zh-HK",
          "cs",
          "da",
          "da-DK",
          "nl",
          "en",
          "en-US",
          "en-AU",
          "en-GB",
          "en-NZ",
          "en-IN",
          "et",
          "fi",
          "nl-BE",
          "fr",
          "fr-CA",
          "de",
          "de-CH",
          "el",
          "hi",
          "hi-Latn",
          "hu",
          "id",
          "it",
          "ja",
          "ko",
          "ko-KR",
          "lv",
          "lt",
          "ms",
          "no",
          "pl",
          "pt",
          "pt-BR",
          "ro",
          "ru",
          "sk",
          "es",
          "es-419",
          "sv",
          "sv-SE",
          "th",
          "th-TH",
          "tr",
          "uk",
          "vi",
          "multi",
          "ar",
          "bn",
          "hr",
          "iw",
          "sr",
          "sl",
          "sw",
          "af",
          "am",
          "as",
          "az",
          "be",
          "bs",
          "ceb",
          "co",
          "cy",
          "dv",
          "eo",
          "eu",
          "fa",
          "fil",
          "fy",
          "ga",
          "gd",
          "gl",
          "gu",
          "ha",
          "haw",
          "hmn",
          "ht",
          "hy",
          "ig",
          "is",
          "jv",
          "ka",
          "kk",
          "km",
          "kn",
          "kri",
          "ku",
          "ky",
          "la",
          "lb",
          "lo",
          "mg",
          "mi",
          "mk",
          "ml",
          "mn",
          "mni-Mtei",
          "mr",
          "mt",
          "my",
          "ne",
          "ny",
          "or",
          "pa",
          "ps",
          "sd",
          "si",
          "sm",
          "sn",
          "so",
          "sq",
          "st",
          "su",
          "ta",
          "te",
          "to",
          "tg",
          "ug",
          "ur",
          "uz",
          "xh",
          "yi",
          "yo",
          "zu"
        ],
        "title": "LanguageCode"
      },
      "DocumentView": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "example": "5eb7cf5a86d9755df3a6c593"
          },
          "session_id": {
            "type": "string",
            "title": "Session Id"
          },
          "creator_kinde_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Creator Kinde Id"
          },
          "index": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Index"
          },
          "document_tab_type": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DocumentTabType"
              },
              {
                "type": "null"
              }
            ],
            "default": "DOCUMENT"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "template_id": {
            "anyOf": [
              {
                "type": "string",
                "example": "5eb7cf5a86d9755df3a6c593"
              },
              {
                "type": "null"
              }
            ],
            "title": "Template Id"
          },
          "ai_command_id": {
            "anyOf": [
              {
                "type": "string",
                "example": "5eb7cf5a86d9755df3a6c593"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ai Command Id"
          },
          "question": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Question"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content"
          },
          "updated_dictation": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated Dictation"
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At"
          },
          "updated_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated At"
          },
          "deleted_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Deleted At"
          },
          "generation_type": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DocumentGenType"
              },
              {
                "type": "null"
              }
            ]
          },
          "brain": {
            "$ref": "#/components/schemas/Brain",
            "default": "LEFT"
          },
          "voice_style": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/VoiceStyle"
              },
              {
                "type": "null"
              }
            ]
          },
          "content_type": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ContentType"
              },
              {
                "type": "null"
              }
            ]
          },
          "generation_time": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Generation Time"
          },
          "custom_style": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CustomStyle"
              },
              {
                "type": "null"
              }
            ]
          },
          "is_personalization_applied": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Personalization Applied"
          }
        },
        "type": "object",
        "required": [
          "id",
          "session_id"
        ],
        "title": "DocumentView"
      },
      "DocumentTabType": {
        "type": "string",
        "enum": [
          "DOCUMENT",
          "DICTATION",
          "PDF"
        ],
        "title": "DocumentTabType"
      },
      "DocumentGenType": {
        "type": "string",
        "enum": [
          "TEMPLATE"
        ],
        "title": "DocumentGenType"
      },
      "Brain": {
        "type": "string",
        "enum": [
          "LEFT",
          "RIGHT"
        ],
        "title": "Brain",
        "description": "Brain enum for different AI model configurations.\n\nEach brain represents a different AI model configuration with specific characteristics:\n- LEFT: Fast and simple model\n- RIGHT: Creative and artistic model"
      },
      "VoiceStyle": {
        "type": "string",
        "enum": [
          "BRIEF",
          "GOLDILOCKS",
          "DETAILED",
          "MY_VOICE",
          "SUPER_DETAILED"
        ],
        "title": "VoiceStyle",
        "description": "was called writing style"
      },
      "ContentType": {
        "type": "string",
        "enum": [
          "MARKDOWN"
        ],
        "title": "ContentType"
      },
      "CustomStyle": {
        "properties": {
          "level_of_detail": {
            "$ref": "#/components/schemas/LevelOfDetail",
            "description": "The level of detail for the note"
          },
          "bullet_points_preference": {
            "type": "boolean",
            "title": "Bullet Points Preference",
            "description": "Whether to use bullet points in the note",
            "default": false
          },
          "patient_quotes_preference": {
            "type": "boolean",
            "title": "Patient Quotes Preference",
            "description": "Whether to include patient quotes in the note",
            "default": false
          },
          "abbreviations_preference": {
            "type": "boolean",
            "title": "Abbreviations Preference",
            "description": "Whether to use abbreviations in the note",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "level_of_detail"
        ],
        "title": "CustomStyle"
      },
      "LevelOfDetail": {
        "type": "string",
        "enum": [
          "LOW",
          "MEDIUM",
          "HIGH"
        ],
        "title": "LevelOfDetail"
      },
      "TranscribeMode": {
        "type": "string",
        "enum": [
          "TRANSCRIBE",
          "DICTATE"
        ],
        "title": "TranscribeMode"
      },
      "SimpleConsultNoteView": {
        "properties": {
          "status": {
            "$ref": "#/components/schemas/ConsultNoteStatus",
            "default": "CREATED"
          },
          "result": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Result"
          },
          "heading": {
            "type": "string",
            "title": "Heading",
            "default": "Note"
          },
          "brain": {
            "$ref": "#/components/schemas/Brain",
            "default": "LEFT"
          },
          "voice_style": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/VoiceStyle"
              },
              {
                "type": "null"
              }
            ]
          },
          "generation_method": {
            "$ref": "#/components/schemas/GenerationMethod"
          },
          "template_id": {
            "anyOf": [
              {
                "type": "string",
                "example": "5eb7cf5a86d9755df3a6c593"
              },
              {
                "type": "null"
              }
            ],
            "title": "Template Id"
          },
          "ai_command_id": {
            "anyOf": [
              {
                "type": "string",
                "example": "5eb7cf5a86d9755df3a6c593"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ai Command Id"
          },
          "ai_command_text": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ai Command Text"
          },
          "feedback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Feedback"
              },
              {
                "type": "null"
              }
            ]
          },
          "dictation_cleanup_mode": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DictationCleanupModes"
              },
              {
                "type": "null"
              }
            ]
          },
          "content_type": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ContentType"
              },
              {
                "type": "null"
              }
            ]
          },
          "should_retry": {
            "type": "boolean",
            "title": "Should Retry",
            "default": false
          },
          "failure_reason": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/UserFriendlyNoteFailedReason"
              },
              {
                "type": "null"
              }
            ]
          },
          "generation_time": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Generation Time"
          },
          "custom_style": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CustomStyle"
              },
              {
                "type": "null"
              }
            ]
          },
          "is_personalization_applied": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Personalization Applied"
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At"
          },
          "updated_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated At"
          }
        },
        "type": "object",
        "required": [
          "generation_method"
        ],
        "title": "SimpleConsultNoteView"
      },
      "ConsultNoteStatus": {
        "type": "string",
        "enum": [
          "CREATED",
          "IN_PROGRESS",
          "COMPLETED",
          "FAILED"
        ],
        "title": "ConsultNoteStatus"
      },
      "GenerationMethod": {
        "type": "string",
        "enum": [
          "TEMPLATE",
          "THIRD_PARTY_TEMPLATE"
        ],
        "title": "GenerationMethod"
      },
      "Feedback": {
        "properties": {
          "rating": {
            "$ref": "#/components/schemas/CSATRating"
          },
          "feedback": {
            "items": {
              "$ref": "#/components/schemas/FeedbackRatingReason"
            },
            "type": "array",
            "title": "Feedback"
          },
          "detail": {
            "type": "string",
            "title": "Detail",
            "default": ""
          },
          "updated": {
            "type": "string",
            "format": "date-time",
            "title": "Updated"
          }
        },
        "type": "object",
        "required": [
          "rating"
        ],
        "title": "Feedback"
      },
      "CSATRating": {
        "type": "integer",
        "enum": [
          1,
          2,
          3,
          4,
          5
        ],
        "title": "CSATRating"
      },
      "FeedbackRatingReason": {
        "properties": {
          "reason": {
            "type": "string",
            "title": "Reason"
          }
        },
        "type": "object",
        "required": [
          "reason"
        ],
        "title": "FeedbackRatingReason"
      },
      "DictationCleanupModes": {
        "type": "string",
        "enum": [
          "SMART",
          "WORD_FOR_WORD"
        ],
        "title": "DictationCleanupModes"
      },
      "UserFriendlyNoteFailedReason": {
        "type": "string",
        "enum": [
          "transcript_too_short",
          "transcript_available_but_note_generation_failed",
          "transcript_not_available",
          "llm_errored_during_streaming",
          "unexpected_error"
        ],
        "title": "UserFriendlyNoteFailedReason",
        "description": "UX/UI friendly reason why note generation failed"
      },
      "LanguageView": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "code": {
            "$ref": "#/components/schemas/LanguageCode"
          },
          "generate_consult_note_language_prompt_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Generate Consult Note Language Prompt Id"
          },
          "ask_ai_language_prompt_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ask Ai Language Prompt Id"
          },
          "disclaimer": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Disclaimer"
          },
          "is_scribe_default_language": {
            "type": "boolean",
            "title": "Is Scribe Default Language"
          },
          "is_live": {
            "type": "boolean",
            "title": "Is Live"
          },
          "is_beta": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Beta",
            "default": false
          },
          "is_available_for_dictation": {
            "type": "boolean",
            "title": "Is Available For Dictation",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "name",
          "code",
          "is_scribe_default_language",
          "is_live"
        ],
        "title": "LanguageView"
      },
      "RecordingStatus": {
        "type": "string",
        "enum": [
          "IDLE",
          "PAUSED",
          "RECORDING"
        ],
        "title": "RecordingStatus",
        "description": "Represents the current status of the recording session."
      },
      "EHRNote": {
        "properties": {
          "binary_id": {
            "type": "string",
            "title": "Binary Id"
          },
          "note_content": {
            "type": "string",
            "title": "Note Content"
          }
        },
        "type": "object",
        "required": [
          "binary_id",
          "note_content"
        ],
        "title": "EHRNote"
      },
      "PatientContextResponse": {
        "properties": {
          "first_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "First Name"
          },
          "last_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Name"
          },
          "birth_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Birth Date"
          },
          "gender": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Gender"
              },
              {
                "type": "null"
              }
            ]
          },
          "phone": {
            "anyOf": [
              {
                "type": "string",
                "format": "phone"
              },
              {
                "type": "null"
[...]
