{
  "openapi": "3.0.3",
  "info": {
    "title": "DeepAI API",
    "version": "1.0.0",
    "description": "DeepAI provides AI APIs for text-to-image generation, background removal, image colorization, super resolution, and more.",
    "x-jentic-source-url": "https://deepai.org/api-docs",
    "contact": {
      "url": "https://deepai.org"
    },
    "termsOfService": "https://deepai.org/privacy-policy"
  },
  "servers": [
    {
      "url": "https://api.deepai.org/api",
      "description": "DeepAI API"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Images",
      "description": "AI image generation and processing"
    },
    {
      "name": "Text",
      "description": "AI text processing"
    }
  ],
  "paths": {
    "/text2img": {
      "post": {
        "operationId": "generateImage",
        "tags": [
          "Images"
        ],
        "summary": "AI Image Generator",
        "description": "Creates an image from scratch from a text description. Supports standard, HD, genius, and super_genius image modes.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "A text description of the image you want to generate"
                  },
                  "width": {
                    "type": "string",
                    "description": "Image width (128-1536, multiple of 32). Default 512"
                  },
                  "height": {
                    "type": "string",
                    "description": "Image height (128-1536, multiple of 32). Default 512"
                  },
                  "image_generator_version": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "hd",
                      "genius",
                      "super_genius"
                    ],
                    "default": "standard"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "2k",
                      "4k"
                    ],
                    "description": "Only for super_genius mode"
                  },
                  "genius_preference": {
                    "type": "string",
                    "enum": [
                      "anime",
                      "photography",
                      "graphic",
                      "cinematic"
                    ]
                  },
                  "negative_prompt": {
                    "type": "string",
                    "description": "Describe what to remove from the image"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated image URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        }
      }
    },
    "/background-remover": {
      "post": {
        "operationId": "removeBackground",
        "tags": [
          "Images"
        ],
        "summary": "Background Remover API",
        "description": "Remove image background with AI. Accepts a URL to an image or a local image file.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image"
                ],
                "properties": {
                  "image": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "binary",
                        "description": "Image file to upload"
                      },
                      {
                        "type": "string",
                        "format": "uri",
                        "description": "URL of image"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image with background removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/image-editor": {
      "post": {
        "operationId": "editImage",
        "tags": [
          "Images"
        ],
        "summary": "AI Photo Editor API",
        "description": "Edit an image using AI with a text prompt. Upload an image and describe the changes you want.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image",
                  "text"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "text": {
                    "type": "string",
                    "description": "Describe the edits to make (e.g., 'make the sky red', 'add flowers in the background')"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edited image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/colorizer": {
      "post": {
        "operationId": "colorizeImage",
        "tags": [
          "Images"
        ],
        "summary": "Image Colorizer API",
        "description": "Colorize black and white images with AI.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image"
                ],
                "properties": {
                  "image": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "binary"
                      },
                      {
                        "type": "string",
                        "format": "uri"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Colorized image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/torch-srgan": {
      "post": {
        "operationId": "superResolution",
        "tags": [
          "Images"
        ],
        "summary": "Super Resolution API",
        "description": "Upscales images without losing the original content. Uses machine learning to improve image quality, making images sharper.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image"
                ],
                "properties": {
                  "image": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "binary"
                      },
                      {
                        "type": "string",
                        "format": "uri"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Super resolution image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "Your DeepAI API key"
      }
    },
    "schemas": {
      "ImageResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "output_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the generated or processed image"
          }
        }
      }
    }
  }
}