{
  "openapi": "3.0.3",
  "info": {
    "title": "NetZero Tesla Energy API",
    "description": "API for managing Tesla energy site configurations and retrieving live status data including solar, battery, and grid power metrics.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.netzero.energy/docs/tesla/API.html"
  },
  "servers": [
    {
      "url": "https://api.netzero.energy/api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/{siteId}/config": {
      "get": {
        "operationId": "getSiteConfig",
        "summary": "Get site configuration and live status",
        "description": "Retrieves the current configuration and live status for a Tesla energy site, including solar power, battery power, load power, grid power, and wall connector data.",
        "tags": [
          "Configuration"
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the Tesla energy site",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with site configuration and live status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateSiteConfig",
        "summary": "Modify site configuration",
        "description": "Updates the configuration for a Tesla energy site. Any combination of configuration fields can be provided.",
        "tags": [
          "Configuration"
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the Tesla energy site",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteConfigUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with updated configuration and live status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid configuration values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication via Authorization header"
      }
    },
    "schemas": {
      "SiteConfigResponse": {
        "type": "object",
        "properties": {
          "backup_reserve_percent": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Battery backup reserve percentage"
          },
          "operational_mode": {
            "type": "string",
            "enum": [
              "autonomous",
              "self_consumption",
              "backup"
            ],
            "description": "Current operational mode of the system"
          },
          "energy_exports": {
            "type": "string",
            "enum": [
              "pv_only",
              "battery_ok",
              "never"
            ],
            "description": "Energy export configuration"
          },
          "grid_charging": {
            "type": "boolean",
            "description": "Whether grid charging is enabled"
          },
          "percentage_charged": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Current battery charge percentage"
          },
          "grid_status": {
            "type": "string",
            "description": "Current grid connection status"
          },
          "live_status": {
            "$ref": "#/components/schemas/LiveStatus"
          }
        }
      },
      "LiveStatus": {
        "type": "object",
        "properties": {
          "solar_power": {
            "type": "number",
            "description": "Current solar power output in watts"
          },
          "battery_power": {
            "type": "number",
            "description": "Current battery power in watts (positive = discharging, negative = charging)"
          },
          "load_power": {
            "type": "number",
            "description": "Current load power consumption in watts"
          },
          "grid_power": {
            "type": "number",
            "description": "Current grid power in watts (positive = importing, negative = exporting)"
          },
          "wall_connectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WallConnector"
            },
            "description": "Array of wall connector statuses"
          }
        }
      },
      "WallConnector": {
        "type": "object",
        "properties": {
          "din": {
            "type": "string",
            "description": "Device identification number"
          },
          "power": {
            "type": "number",
            "description": "Current power draw in watts"
          },
          "state": {
            "type": "string",
            "description": "Current state of the wall connector"
          }
        }
      },
      "SiteConfigUpdateRequest": {
        "type": "object",
        "properties": {
          "backup_reserve_percent": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Battery backup reserve percentage"
          },
          "operational_mode": {
            "type": "string",
            "enum": [
              "autonomous",
              "self_consumption",
              "backup"
            ],
            "description": "Operational mode to set"
          },
          "energy_exports": {
            "type": "string",
            "enum": [
              "pv_only",
              "battery_ok",
              "never"
            ],
            "description": "Energy export configuration"
          },
          "grid_charging": {
            "type": "boolean",
            "description": "Whether to enable grid charging"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Configuration",
      "description": "Site configuration and live status operations"
    }
  ]
}