{
  "openapi": "3.0.3",
  "info": {
    "title": "Tall Bob API",
    "description": "Tall Bob SMS, MMS, and messaging API for sending and managing communications, contacts, campaigns, and webhooks.",
    "version": "2.0.0",
    "contact": {
      "name": "Tall Bob",
      "url": "https://www.tallbob.com"
    }
  },
  "servers": [
    {
      "url": "https://api.tallbob.com",
      "description": "Tall Bob Production API"
    }
  ],
  "paths": {
    "/v2/chat/send/sms": {
      "post": {
        "summary": "Send Chat SMS",
        "operationId": "postSendChatSms",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Chat"
        ],
        "description": "To send a single chat SMS, make an HTTP POST to this resource URI and provide us with a to, message and reference for the chat and we will choose a longcode from your pool that the recipient can reply to.\nAny additional requests received using the same to and reference will be sent using the same longcode.\nMultiple recipients can use the same reference, but they will not necessarily receive the message from the same longcode.\nUsing multiple references to a single recipient allows the integrator to have multiple chat threads occurring on the end users device.\nRequired Parameters\nWhen creating a new message via the API, you must include a to parameter. This value should be a single recipient phone number in E.164 format.\nYou must also include a message parameter containing the message's content. If this value exceeds a certain length it is regarded as a \"multi-part\" message.\nFinally, you need to include a reference parameter, which you can use for your own internal tracking, as a transaction reference, when matching up against webhooks you have set up.\nOPT-OUT tags\nIf your message contains the {OptOutURL} string, the length and price returned will reflect the expansion of this tag into an actual, proper URL - which could potentially turn your message into a multi-part message, with more than one segment.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "<p>Single mobile number in E.164 format (required)</p>\n"
                  },
                  "message": {
                    "type": "string",
                    "description": "<p>Your Chat message text (required)</p>\n"
                  },
                  "reference": {
                    "type": "string",
                    "description": "<p>Chat reference for tracking</p>\n"
                  },
                  "campaign_reference": {
                    "type": "string",
                    "description": "<p>(Optional Field) Used for custom report building</p>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/contacts": {
      "post": {
        "summary": "Create New Contact",
        "operationId": "postCreateNewContact",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Post data to create a new contact with details provided. Upon successful creation, details of your new contact will be returned - including the Tall Bob Contact ID, which is used by other methods, including sending an SMS Campaign.\nRequired Parameters\nEvery request must contain a first_name value, representing the contact's first name, and a value for their mobile number - in E.164 format. Neither parameter can contain an empty value.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "external_id": {
                    "type": "string"
                  },
                  "mobile": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "first_name": "{{firstname}}",
                "last_name": "{{lastname}}",
                "external_id": "{{externalID}}",
                "mobile": null
              }
            }
          }
        }
      }
    },
    "/v2/contacts/{contact_id}": {
      "delete": {
        "summary": "Delete Contact",
        "operationId": "deleteDeleteContact",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "You can delete a contact using this endpoint. If your contact was also part of a group, it will automatically be removed from the group as well.\nSuccess Response\nNote: this endpoint does not return any content upon success.\nFurthermore, a successful response will have an HTTP STATUS of 204 instead of the usual 200",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "summary": "View Contact Details",
        "operationId": "getViewContactDetails",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Retrieve details about a specific contact, identified by Tall Bob Contact ID using this endpoint - your Contact ID must be present in the URL path.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v2/contacts/find": {
      "post": {
        "summary": "Find Contact By External ID",
        "operationId": "postFindContactByExternalId",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "If you do not know the Tall Bob Contact ID for your contact but you had set the \"external ID\" for the contact to your own unique ID, you can use that unique ID to find the contact, using this endpoint. In case your external ID contains special characters which may not translate correctly, if used as a query parameter, this is passed in the body of a POST.\nRequired Parameters\nexernal_id - this is a unique ID which is shared between your system and ours, allowing you to match your contacts with Tall Bob contacts, using a common identifier.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "external_id": {
                    "type": "string",
                    "description": "<p>Your unique ID, which has been saved as the \"external ID\" of the contact (required)</p>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/contacts/": {
      "get": {
        "summary": "List Contacts",
        "operationId": "getListContacts",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "List of contacts for your account, by request. You can send a request and retrieve your contact list at a time that suits you, using this endpoint.\nOptional filtering\nYou can also filter results by email address and mobile number, by passing these in as (optional) query parameters.\nA Note about Postman Collections\nIf you have downloaded and imported this as a Postman Collection, you may find these optional query parameters have been selected with default values - which will probably not work.\nIf you are getting empty results back, check if these have been selected - and if they have, try again after deselecting them. You should then get back all your results, unfiltered.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request."
      }
    },
    "/v2/contacts/{contact_id}/campaigns": {
      "get": {
        "summary": "List Contact Campaigns",
        "operationId": "getListContactCampaigns",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Get list of SMS Campaigns sent to a specific contact. You can send a request and retrieve data about SMS campaigns for a contact at a time that suits you, using this endpoint - your Tall Bob Contact ID must be present in the URL path.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v2/contacts/{contact_id}/metadata": {
      "delete": {
        "summary": "Remove Contact Metadata",
        "operationId": "deleteRemoveContactMetadata",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "You can remove a specific metadata item from a contact, identified by Tall Bob Contact ID, using this endpoint - your Contact ID must be present in the URL path.\nRequired Parameters\nEvery request must contain a key parameter to identify which metadata value you wish to delete, by key name.\nSuccess Response\nNote: this endpoint does not return any content upon success.\nFurthermore, a successful response will have an HTTP STATUS of 204 instead of the usual 200",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "<p>Your Tall Bob Contact metadata key name (required)</p>\n"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Upsert Contact Metadata",
        "operationId": "putUpsertContactMetadata",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "You can create an unlimited number of additional metadata values against a contact, identified by Tall Bob Contact ID, using this endpoint - your Contact ID must be present in the URL path.\nRequired Parameters\nEvery request must contain a metadata parameter - a JSON object, containing any number of key/value pairs of contact metadata. If any metadata keys in your request already had values against them for your contact, they will be overwritten with the new values from your request.\nInvalid Key Names\nCertain characters cannot be used when defining key names for new contact metadata fields:\n\n\n\n?\n=\n|\n&amp;\n,\n/\n\n\n\n\n\nIn addition, there are certain words considered \"reserved\" by the system, which can never be used to define contact metadata either - these are mostly used elsewhere, such as to identify a contact ID or their subscription status.\n\nunsubscribed\nFNAME\nLNAME\nURL\nOptOutURL\nKEY\nVALUE\nID\nfirstname\nlastname\nmobile\nemail\nexternalID\naID\nuID\nuniqueID\ncreatedFrom\nCreatedDate_ts (with or without the underscore)\nModifiedDate_ts (with or without the underscore)\nDeletedDate_ts (with or without the underscore)\n\nSuccess Response\nNote: this endpoint does not return any content upon success.\nFurthermore, a successful response will have an HTTP STATUS of 204 instead of the usual 200",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "type": "string",
                    "description": "<p>JSON object containing named key/value pairs of contact metadata (required)</p>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/contacts/{id}": {
      "put": {
        "summary": "Update Contact",
        "operationId": "putUpdateContact",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "You can update a contact's details using this endpoint. Similar rules to the Create method apply, except there are no required parameters.\nOpt-out status\nYou can also use this endpoint to \"opt-out\" (and also \"opt-in\") a contact by using the \"unsubscribed\" parameter in your request, as a boolean. (an integer 0 or 1 should also work).\nNOTE!\nIf you pass in an unsubscribed parameter to your request, this is the ONLY part of the request which will be processed. You cannot combine updating a contact's details and subscription status both into the same request.\nSuccess Response\nNote: this endpoint does not return any content upon success.\nFurthermore, a successful response will have an HTTP STATUS of 204 instead of the usual 200",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": ""
                  },
                  "last_name": {
                    "type": "string",
                    "description": "<p>Last name of contact (max length: 100)</p>\n"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "<p>Mobile number of contact</p>\n"
                  },
                  "email": {
                    "type": "string",
                    "description": "<p>Email address of contact (max length: 100)</p>\n"
                  },
                  "external_id": {
                    "type": "string",
                    "description": "<p>An \"external\" ID to match your own record for the contact - must be unique (max length: 100)</p>\n"
                  },
                  "unsubscribed": {
                    "type": "string",
                    "description": "<p>Whether or not the contact has \"opted-out\" from further communication</p>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/contacts/groups/attach": {
      "post": {
        "summary": "Add Contact",
        "operationId": "postAddContact",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Contact Lists"
        ],
        "description": "You can add a contact to your group, using this endpoint.\nRequired Parameters\nYour request must contain both a contact_id parameter, representing your Tall Bob Contact ID and a group_id parameter, representing your Tall Bob Group ID.\nSuccess Response\nNote: this endpoint does not return any content upon success.\nFurthermore, a successful response will have an HTTP STATUS of 204 instead of the usual 200",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "contact_id": {
                    "type": "string",
                    "description": "<p>Your Tall Bob contact ID (required)</p>\n"
                  },
                  "group_id": {
                    "type": "string",
                    "description": "<p>Your Tall Bob group ID (required)</p>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/contacts/groups": {
      "post": {
        "summary": "Create New List",
        "operationId": "postCreateNewList",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Contact Lists"
        ],
        "description": "Create a new contact group with details provided. Upon successful creation, details of your new group will be returned - including the Tall Bob Group ID, which is used by other methods, including sending an SMS Campaign.\nRequired Parameters\nYour request must contain at least a name (representing the group's name) or external_id parameter. Both can be included. As with contacts, external IDs can be used as a common unique identifier between your system and ours.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "<p>Name of group (required if external ID not present - truncated at 255 chars)</p>\n"
                  },
                  "external_id": {
                    "type": "string",
                    "description": "<p>An \"external\" ID used to match against your own records - must be unique (required if name not present, max length: 100)</p>\n"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Contact Lists",
        "operationId": "getListContactLists",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Contact Lists"
        ],
        "description": "Get list of groups for your account, by request. You can send a request and retrieve your contact group list at a time that suits you, using this endpoint.\nOptional filtering\nYou can also filter results by group name, by passing in a name value as an (optional) query parameter.\nA Note about Postman Collections\nIf you have downloaded and imported this as a Postman Collection, you may find optional query parameters have been selected with default values - which will probably not work.\nIf you are getting empty results back, check if these have been selected - and if they have, try again after deselecting them. You should then get back all your results, unfiltered.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request."
      }
    },
    "/v2/contacts/groups/{group_id}": {
      "delete": {
        "summary": "Delete Contact List",
        "operationId": "deleteDeleteContactList",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Contact Lists"
        ],
        "description": "You can delete a group using this endpoint - your Tall Bob Group ID must be present in the URL path. If your group had any contacts added to it, they will automatically be removed from the group as well.\nSuccess Response\nNote: this endpoint does not return any content upon success.\nFurthermore, a successful response will have an HTTP STATUS of 204 instead of the usual 200",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "Update Contact List",
        "operationId": "putUpdateContactList",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Contact Lists"
        ],
        "description": "You can update a group's details using this endpoint. Similar rules to the Create method apply.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "<p>Name of group (required if external ID not present)</p>\n"
                  },
                  "external_id": {
                    "type": "string",
                    "description": "<p>An \"external\" ID used to match against your own records - must be unique (required if name not present, max length: 100)</p>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/contacts/groups/{group_id}/members": {
      "get": {
        "summary": "List Members",
        "operationId": "getListMembers",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Contact Lists"
        ],
        "description": "List the contacts in a specific group. You can send a request and retrieve data about group members at a time that suits you, using this endpoint - your Tall Bob Group ID must be present in the URL path.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v2/contacts/groups/detach": {
      "delete": {
        "summary": "Remove Contact",
        "operationId": "deleteRemoveContact",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Contact Lists"
        ],
        "description": "You can remove a contact from your group, using this endpoint.\nRequired Parameters\nYour request must contain both a contact_id parameter, representing your Tall Bob Contact ID and a group_id parameter, representing your Tall Bob Group ID.\nSuccess Response\nNote: this endpoint does not return any content upon success.\nFurthermore, a successful response will have an HTTP STATUS of 204 instead of the usual 200",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "contact_id": {
                    "type": "string",
                    "description": "<p>Your Tall Bob contact ID (required)</p>\n"
                  },
                  "group_id": {
                    "type": "string",
                    "description": "<p>Your Tall Bob group ID (required)</p>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/longcodes/status/{longcode_request_id}": {
      "get": {
        "summary": "Get Longcode Status",
        "operationId": "getGetLongcodeStatus",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Longcodes"
        ],
        "description": "Retrieve status of a specific longcode using this endpoint - your longcode_address ID must be present in the URL path.\nPossible Longcode Statuses:\n\npending: The longcode is under review or awaiting processing.\n\napproved: The longcode has been reviewed and approved.\n\nretired: The longcode is no longer active or has been decommissioned.\n\n\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "parameters": [
          {
            "name": "longcode_request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v2/longcodes/request": {
      "post": {
        "summary": "Request Longcode Address",
        "operationId": "postRequestLongcodeAddress",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Longcodes"
        ],
        "description": "Post data to request a new longcode address with details provided. Upon successful creation, details of your new longcode request will be returned - including an ID, which is required by other methods to identify your newly created longcode request.\nRequired Parameters\nEvery request must contain a idn value, representing the Internation Dialing Number of the longcode requested , and a value for the comments field which represents the comments associated with a longcode request. Neither parameter can contain an empty value.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.\n\n\n\nName\nType\nDescription\n\n\n\n\nidn\nNumber\nInternational Dialing number for the country you are requesting a Long Code for\n\n\ncomments\nString\nBasic Description of use case for the Long Code\n\n\nuse_cases\nENUM Array\ninternal_comms, otp, transactional, marketing, notification, other",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idn": {
                    "type": "integer"
                  },
                  "comments": {
                    "type": "string"
                  },
                  "use_cases": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "idn": 61,
                "comments": "AU Longcode Request",
                "use_cases": [
                  "internal_comms",
                  "otp"
                ]
              }
            }
          }
        }
      }
    },
    "/v2/longcodes/retire/{longcode_address}": {
      "put": {
        "summary": "Retire Longcode",
        "operationId": "putRetireLongcode",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Longcodes"
        ],
        "description": "You can retire an existing longcode address using this endpoint - your longcode ID must be present in the URL path.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "parameters": [
          {
            "name": "longcode_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v2/mms/inbound": {
      "get": {
        "summary": "List Inbound MMS Messages",
        "operationId": "getListInboundMmsMessages",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "MMS"
        ],
        "description": "Receive inbound MMS messages by request. You can send a request and retrieve inbound MMS messages at a time that suits you, using this endpoint. (note: MMS file/url details are unavailable from this endpoint, at this time)\nOptional Filtering\nYou can filter your results by passing in optional query parameters to your request.\n\n\n\nparameter\ndescription\ntype\n\n\n\n\nto\nfilter by specific longcode\ninteger\n\n\nafter\nfilter by setting lower limit on dates\ntimestamp\n\n\nbefore\nfilter by setting upper limit on dates\ntimestamp\n\n\n\nThe format of timestamps in your request is reasonably flexible... For example, 01/01/1970, 2001-12-31, 2002-10-20T12:26:13+00:00, last Monday and yesterday are all examples of valid inputs for these types of request.\nA Note about Postman Collections\nIf you have downloaded and imported this as a Postman Collection, you may find these optional query parameters have been selected with default values - which will probably not work.\nIf you are getting empty results back, check if these have been selected - and if they have, try again after deselecting them. You should then get back all your results, unfiltered.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request."
      }
    },
    "/v2/mms/receipts": {
      "get": {
        "summary": "List MMS Receipts",
        "operationId": "getListMmsReceipts",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "MMS"
        ],
        "description": "Receive MMS delivery reports by request. You can send a request and retrieve MMS delivery reports at a time that suits you, using this endpoint.\nOptional Filtering\nYou can filter your results by passing in optional query parameters to your request.\n\n\n\nparameter\ndescription\ntype\n\n\n\n\nto\nfilter by recipient mobile number\ninteger\n\n\nstatus\nfilter by delivery status\nstring\n\n\nafter\nfilter by setting lower limit on dates\ntimestamp\n\n\nbefore\nfilter by setting upper limit on dates\ntimestamp\n\n\n\nThe format of timestamps in your request is reasonably flexible... For example, 01/01/1970, 2001-12-31, 2002-10-20T12:26:13+00:00, last Monday and yesterday are all examples of valid inputs for these types of request.\nA Note about Postman Collections\nIf you have downloaded and imported this as a Postman Collection, you may find these optional query parameters have been selected with default values - which will probably not work.\nIf you are getting empty results back, check if these have been selected - and if they have, try again after deselecting them. You should then get back all your results, unfiltered.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request."
      }
    },
    "/v2/mms/send_list": {
      "post": {
        "summary": "Send MMS To List of Mobiles",
        "operationId": "postSendMmsToListOfMobiles",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "MMS"
        ],
        "description": "If you want to send an MMS to a number of recipients, you can use this endpoint to send the same MMS to up to 1000 recipients in one go.\nRequired Parameters\nYou must include a to parameter. This value should be a list of recipient phone numbers in E.164 format.\nYou must also include a from parameter - this can be your phone number in E.164 format or an alphanumeric Sender ID - and a subject parameter, containing the subject line for the MMS. You can also include an optional message parameter, to accompany the file content.\nThe file content is provided using a url parameter. This must be a publicly accessible URL which requires no special auth headers to access the file and must be a link to a valid file type for MMS.\nYou can also include an optional reference parameter, which you can use for your own internal tracking as a transaction reference, when matching up against records you have set up in your own system, via webhooks you have set up in the platform.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.\nNote: A single mobile number can also be used in the to field without needing to use an Array",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "<p>Array of mobile numbers to send to - limited to 1000 (required)</p>\n"
                  },
                  "from": {
                    "type": "string",
                    "description": "<p>Your Sender ID - can be a longcode (required)</p>\n"
                  },
                  "subject": {
                    "type": "string",
                    "description": "<p>The MMS message subject text - limited to 60 chars (required)</p>\n"
                  },
                  "url": {
                    "type": "string",
                    "description": "<p>URL for the file to be used in the MMS (required)</p>\n"
                  },
                  "message": {
                    "type": "string",
                    "description": "<p>(Optional Field) message body text - limited to 5000 chars</p>\n"
                  },
                  "shorten_urls": {
                    "type": "string",
                    "description": "<p>(Optional Field) When true, any well formed URLs in your message will be replaced with shortened links</p>\n"
                  },
                  "reference": {
                    "type": "string",
                    "description": "<p>(Optional Field) transaction reference for tracking</p>\n"
                  },
                  "campaign_reference": {
                    "type": "string",
                    "description": "<p>(Optional Field) Used for custom report building</p>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/mms/send": {
      "post": {
        "summary": "Send Single MMS",
        "operationId": "postSendSingleMms",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "MMS"
        ],
        "description": "To send a single outgoing MMS message, make an HTTP POST to this resource URI.\nRequired Parameters\nWhen creating a new MMS message via the API, you must include a to parameter. This value should be a single recipient phone number in E.164 format.\nYou must also include a from parameter - this can be your phone number in E.164 format or an alphanumeric Sender ID - and a subject parameter, containing the subject line for the MMS. You can also include an optional message parameter, to accompany the file content.\nThe file content is provided using a url parameter. This must be a publicly accessible URL which requires no special auth headers to access the file and must be a link to a valid file type for MMS.\nYou can also include an optional reference parameter, which you can use for your own internal tracking as a transaction reference, when matching up against records you have set up in your own system, via webhooks you have set up in the platform.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "<p>Single mobile number in E.164 format (required)</p>\n"
                  },
                  "from": {
                    "type": "string",
                    "description": "<p>Your Sender ID - can be a longcode (required)</p>\n"
                  },
                  "subject": {
                    "type": "string",
                    "description": ""
                  },
                  "url": {
                    "type": "string",
                    "description": "<p>URL containing the media to be included in the MMS message</p>\n"
                  },
                  "message": {
                    "type": "string",
                    "description": ""
                  },
                  "reference": {
                    "type": "string",
                    "description": ""
                  },
                  "campaign_reference": {
                    "type": "string",
                    "description": "<p>(Optional Field) Used for custom report building</p>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/opt-out/mobile": {
      "post": {
        "summary": "Modify Opt-out",
        "operationId": "postModifyOptout",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Opt-outs"
        ],
        "description": "Post data to insert or update the consent to receive SMS messages\nScenarios where this endpoint may be of use to you are:\n\nWhere you have one or more locations wherein a customer can modify their consent for SMS messaging such as an account management system on your website\nWhere you may collect Opt out or consent withdrawal requests through a third party system or process, for example a support portal or a Call Centre\nWhere you are managing the Opt out process and providing customers with the ability to opt back in to receiving messaging through a third party platform.\n\nTo learn more about the different ways to manage your opt outs through Tall Bob check out our support article\nRequired Parameters\nEvery request must contain:\n\na mobile value, representing the Mobile number to be stored with the consent record\na type value containing either 'opt-in' or 'opt-out' to specify the type of consent record to be stored\n\nNote: The mobile field must conform to the E.164 format in order for our system to properly process and store your request\nSuccess Response\nNote: this endpoint does not return any content upon success.\nFurthermore, a successful response will have an HTTP STATUS of 204 instead of the usual 200",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "mobile": {
                    "type": "string",
                    "description": "<p>Single mobile number in E.164 format (required)</p>\n"
                  },
                  "type": {
                    "type": "string",
                    "description": "<p>Expected value must be opt-in or opt-out</p>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/sms/price": {
      "post": {
        "summary": "Calculate SMS Price",
        "operationId": "postCalculateSmsPrice",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "SMS"
        ],
        "description": "Receive an estimate of the price for sending a particular message.\nThe result returned contains an estimate of the cost of sending the message to a single recipient, as well as the number of message \"segments\" and whether or not any characters not in the standard GSM 03.38 character set were detected - we call these \"unicode\" messages.\nIDN\nAlong with your message, you should include the IDN - or International Dialing Number - sometimes referred to as Country Calling Code in your request, in order to receive the most accurate price for sending to a particular country. Note the + sign is optional and the request will work with or without it.\nMessage Length\nIf the number of characters in your message exceeds a certain length it is considered a \"multi-part\" message. The results also include how many of these segments your message would comprise of.\nCommon Error Messages\nHere is a list of common error message that you will find in your response while sending a messsage. All of these will result in a 400 response code\n\nRecipient opted out\n\nNo valid recipients\n\nInvalid sender ID\n\nRecipient limit exceeded\n\nMobile is empty\n\nInvalid mobile length\n\nInvalid IDN\n\n\nOPT-OUT tags\nIf your message contains an \"opt-out\" tag, the length and price returned will reflect the expansion of this tag into an actual, proper URL - which could potentially turn your message into a multi-part message, with more than one segment.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "<p>Your SMS message text (required)</p>\n"
                  },
                  "idn": {
                    "type": "string",
                    "description": "<p>IDN you want to calculate price for (required)</p>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/sms/receipts": {
      "get": {
        "summary": "List SMS Receipts",
        "operationId": "getListSmsReceipts",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "SMS"
        ],
        "description": "Receive delivery reports by request. You can send a request and retrieve delivery reports at a time that suits you, using this endpoint.\nOptional Filtering\nYou can filter your results by passing in optional query parameters to your request.\n\n\n\nparameter\ndescription\ntype\n\n\n\n\nto\nfilter by recipient mobile number\ninteger\n\n\nstatus\nfilter by delivery status\nstring\n\n\nafter\nfilter by setting lower limit on dates\ntimestamp\n\n\nbefore\nfilter by setting upper limit on dates\ntimestamp\n\n\n\nThe format of timestamps in your request is reasonably flexible... For example, 01/01/1970, 2001-12-31, 2002-10-20T12:26:13+00:00, last Monday and yesterday are all examples of valid inputs for these types of request.\nA Note about Postman Collections\nIf you have downloaded and imported this as a Postman Collection, you may find these optional query parameters have been selected with default values - which will probably not work.\nIf you are getting empty results back, check if these have been selected - and if they have, try again after deselecting them. You should then get back all your results, unfiltered.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request."
      }
    },
    "/v2/sms/replies": {
      "get": {
        "summary": "List SMS Replies",
        "operationId": "getListSmsReplies",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "SMS"
        ],
        "description": "Receive inbound SMS messages (replies) by request. You can send a request and retrieve message replies at a time that suits you, using this endpoint.\nOptional Filtering\nYou can filter your results by passing in optional query parameters to your request.\n\n\n\nparameter\ndescription\ntype\n\n\n\n\nto\nfilter by specific longcode\ninteger\n\n\nafter\nfilter by setting lower limit on dates\ntimestamp\n\n\nbefore\nfilter by setting upper limit on dates\ntimestamp\n\n\ncampaign_id\nfilter by campaign id\nstring\n\n\n\nThe format of timestamps in your request is reasonably flexible... For example, 01/01/1970, 2001-12-31, 2002-10-20T12:26:13+00:00, last Monday and yesterday are all examples of valid inputs for these types of request. Campaign id may also be known as the sms id.\nA Note about Postman Collections\nIf you have downloaded and imported this as a Postman Collection, you may find these optional query parameters have been selected with default values - which will probably not work.\nIf you are getting empty results back, check if these have been selected - and if they have, try again after deselecting them. You should then get back all your results, unfiltered.\nAlso please make sure that if you are using the 'before' and 'after' fields, that the dates should be URL encoded.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request."
      }
    },
    "/v2/sms/send": {
      "post": {
        "summary": "Send Single SMS",
        "operationId": "postSendSingleSms",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "SMS"
        ],
        "description": "To send a single outgoing message, make an HTTP POST to this resource URI.\nOpt-Out tags\nIf your message contains an \"opt-out\" tag {OptOutURL}, the length and price returned will reflect the expansion of this tag into an actual, proper URL - which could potentially turn your message into a multi-part message, with more than one segment.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.\nShort URLs\nIf your message contains URL's and you would like it to be replaced with a shorter URL, or you would like to use our system to track engagement with the link, you can provide this endpoint with an optional boolean parameter shorten_urls, when this value is true any well formed URL (i.e. Must start with http:// or https:// ) will be replaced with a shorter one.\nIf your account has a pURL (Personalised URL) configured, it will use that configured domain for the URL.\nBy default the shortened URLs will look like http://vc4.co/c/ABCD where the \"ABCD\" will be replaced with a unique code for your URL. Note, these URLs are 20 characters in length, if your URL is longer than 20 characters, it will end up longer than it was originally. Any pURL configurations may make this length longer as well.\nRequired Parameters\nWhen creating a new message via the API, you must include a to parameter. This value should be a single recipient phone number in E.164 format.\nYou must also include a from parameter. This can be your phone number in E.164 format or an alphanumeric Sender ID.\nFinally, you need to include a message parameter containing the message's content. If this value exceeds a certain length it is regarded as a \"multi-part\" message.\nYou can also include an optional reference parameter, which you can use for your own internal tracking, as a transaction reference, when matching up against webhooks you have set up.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "<p>Your Sender ID - can be a longcode (required)</p>\n"
                  },
                  "to": {
                    "type": "string",
                    "description": "<p>Single mobile number in E.164 format (required)</p>\n"
                  },
                  "message": {
                    "type": "string",
                    "description": "<p>Your SMS message text (required)</p>\n"
                  },
                  "reference": {
                    "type": "string",
                    "description": "<p>(Optional Field) Transaction reference for tracking messages </p>\n"
                  },
                  "shorten_urls": {
                    "type": "string",
                    "description": "<p>(Optional Field) When true, any well formed URLs in your message will be replaced with shortened links</p>\n"
                  },
                  "campaign_reference": {
                    "type": "string",
                    "description": "<p>(Optional Field) Used for custom report building</p>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/sms/list_send": {
      "post": {
        "summary": "Send SMS To List of Mobiles",
        "operationId": "postSendSmsToListOfMobiles",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "SMS"
        ],
        "description": "Basic usage\nIf you want to send to a number of recipients, you can use this endpoint to send the same message to up to 1000 recipients in one go.\nPersonalised usage\nIf you want to send 'personalised' messages (a slightly different message to each recipient) to your recipients, you can also use this end point.\nPersonalisation is done using the liquid template engine. To personalise a message the use of double curly braces should be used to enable the replacement.. e.g. {{ name }}\nDefault values can also be provided and will be used if no data was supplied. e.g. {{ name | default: 'Bob' }}\nNote: If no data and no default value is provided, the content inside the double curly braces will be replaced by an empty string.\nNote: Default values can use pairs of ' or \" Because the API uses JSON, caution should be used during development around the double quote, \" These characters need to appear escaped within the message. e.g. default: \\\"Tall\\\"\nOpt-Out tags\nIf your message contains an \"opt-out\" tag {OptOutURL}, the length and price returned will reflect the expansion of this tag into an actual, proper URL - which could potentially turn your message into a multi-part message, with more than one segment.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.\nShort URLs\nIf your message contains URL's and you would like it to be replaced with a shorter URL, or you would like to use our system to track engagement with the link, you can provide this endpoint with an optional boolean parameter shorten_urls, when this value is true any well formed URL (i.e. Must start with http:// or https:// ) will be replaced with a shorter one.\nIf your account has a pURL (Personalised URL) configured, it will use that configured domain for the URL.\nBy default the shortened URLs will look like http://vc4.co/c/ABCD where the \"ABCD\" will be replaced with a unique code for your URL. Note, these URLs are 20 characters in length, if your URL is longer than 20 characters, it will end up longer than it was originally. Any pURL configurations may make this length longer as well.\nNote: Each recipient in your batch will have their own unique URL code that can provide individualised engagement data.\nPersonalised Short URLs\nThe above short URL feature only covers the situation where a URL is in your message content. If desired, you can also use individual links for each of your recipients using the personalisation system. Instead of passing the boolean flag, to use short URLs, the personalisation field needs to be in a specific way.\nYour message will need to contain the string {{ url | shorten_url }} and your to array will also required the url parameter set.\nRequired Parameters\nYou must include a to parameter. This value should be a list of recipient phone numbers in E.164 format.\nYou must also include a from parameter. This can be your phone number in E.164 format or an alphanumeric Sender ID.\nFinally, you need to include a message parameter containing the message's content. If the number of characters in your message exceeds a certain length it is considered a \"multi-part\" message - and billed accordingly.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.\nBasic usage example:\n{\n    \"to\" : [\"+6141xxxxxx1\", \"+6141xxxxxx2\"],\n    \"from\": \"Sender\",\n    \"message\": \"Hi, this is an SMS message\"\n}\n\n\nPersonalised message example:\nData supplied for personalisation should be in the form of a list as above, the 'keys' of the to field will be the recipients mobile number, and the content of each item in the list will be the data used to personalise the message. (Data can be defined as both an array/list or as an object)\n{\n    \"to\" : {\n        \"+6141xxxxxx1\": {\"name\": \"Sample1\"}, \n        \"+6141xxxxxx2\": {\"name\": \"Sample2\"},\n        \"+6141xxxxxx3\": {},\n    },\n    \"from\": \"Sender\",\n    \"message\": \"Hi {{ name | default: 'there' }}, this is an SMS message\"\n}\n\n\nThis payload will result in 3 messages being sent with the following content:\nHi Sample1, this is an SMS message\nHi Sample2, this is an SMS message\nHi there, this is an SMS message",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "<p>Your Sender ID - can be a longcode (required)</p>\n"
                  },
                  "to": {
                    "type": "string",
                    "description": "<p>Array of mobile numbers to send to - limited to 1000 (required)</p>\n"
                  },
                  "message": {
                    "type": "string",
                    "description": "<p>Your SMS message - the same message will be sent to all recipients (required)</p>\n"
                  },
                  "reference": {
                    "type": "string",
                    "description": "<p>(Optional Field) transaction reference for tracking</p>\n"
                  },
                  "shorten_urls": {
                    "type": "string",
                    "description": "<p>(Optional Field) - When true, any well formed URLs in your message will be replaced with shortened links</p>\n"
                  },
                  "campaign_reference": {
                    "type": "string",
                    "description": "<p>(Optional Field) Used for custom report building</p>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/campaigns/{campaign_id}/contacts": {
      "get": {
        "summary": "List Campaign Recipients",
        "operationId": "getListCampaignRecipients",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "SMS Campaign"
        ],
        "description": "Get list of recipients (contacts) against a specific SMS campaign. You can send a request and retrieve data about SMS recipients for a campaign at a time that suits you, using this endpoint - your Tall Bob SMS Campaign ID must be present in the URL path.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v2/campaigns/templates": {
      "get": {
        "summary": "List Campaign Templates",
        "operationId": "getListCampaignTemplates",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "SMS Campaign"
        ],
        "description": "Get a list of the templates your SMS Campaigns are built from - which is useful as the Tall Bob Template ID is required when sending an SMS Campaign. You can send a request and retrieve Campaign Templates at a time that suits you, using this endpoint.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request."
      }
    },
    "/v2/campaigns/": {
      "get": {
        "summary": "List SMS Campaigns",
        "operationId": "getListSmsCampaigns",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "SMS Campaign"
        ],
        "description": "Get list of SMS campaigns for your account, by request. You can send a request and retrieve SMS campaigns at a time that suits you, using this endpoint.\nOptional Filtering\nYou can filter your results by passing in optional query parameters to your request.\n\nafter - filter by setting lower limit on dates (timestamp)\nbefore - filter by setting upper limit on dates (timestamp)\n\nThe format of timestamps in your request is reasonably flexible... For example, 01/01/1970, 2001-12-31, 2002-10-20T12:26:13+00:00, last Monday and yesterday are all examples of valid inputs for these types of request.\nA Note about Postman Collections\nIf you have downloaded and imported this as a Postman Collection, you may find these optional query parameters have been selected with default values - which will probably not work.\nIf you are getting empty results back, check if these have been selected - and if they have, try again after deselecting them. You should then get back all your results, unfiltered.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request."
      }
    },
    "/v2/campaigns/send": {
      "post": {
        "summary": "Send SMS Campaign",
        "operationId": "postSendSmsCampaign",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "SMS Campaign"
        ],
        "description": "You can send an SMS campaign using a campaign Template, allowing more advanced features such as Personalisation and Landing Pages, with Videos and even Forms.\nRequired Parameters\nYou must include a template_id parameter. This value should be a Tall Bob Campaign Template ID, which can be listed using another endpoint.\nYou must also include (only) one of the following parameters:\n\ngroup_id - this is a Tall Bob Group ID - which represents a list of Tall Bob contacts - which can be as large a list as you need it to be\ncontact_ids - this is a list (array) of Tall Bob contacts, identified by their Tall Bob Contact ID - limited to 1000\nexternal_ids - this is a list (array) of Tall Bob contacts, identified by your own Unique ID, which corresponds to the ID you use in your system to identify them - also limited to 1000\n\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group_id": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "group_id": "random-id"
              }
            }
          }
        }
      }
    },
    "/v2/campaigns/send_via_mobile": {
      "post": {
        "summary": "Send SMS Campaign To List of Mobiles",
        "operationId": "postSendSmsCampaignToListOfMobiles",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "SMS Campaign"
        ],
        "description": "You can send an SMS campaign to a list of mobile numbers. This allows more advanced features such as Personalisation and Landing Pages, Forms and Videos.\nTo support personalisation in both message content and Landing Pages, the list of mobile numbers that is sent to is created as 'Contacts' within our system.\nRequired Parameters\n*   to - this is a list (array) of objects, these objects will be created as 'contacts' and then sent to. Array/list keys are mobiles, the data of each keyed object is any additional data to be stored with the contact. Note the maximum list size accepted is limited to 1000 contacts. To have more contacts in a campaign please see the information about the reference\n*   from - This is your sender address, This can be your phone number in E.164 format or an alphanumeric Sender ID.\n*   message - Your SMS message content to be sent. You are required to include a{{ campaign_link }} , this will be where your landing page will be linked to.\n*   landing_page_id - The ID of your landing page, this is the page that will be linked to within your message.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.\nContact Data\nData provided in the to field will be saved/updated into individual contact records.\nContacts have a set of standard fields across all accounts - first_name, last_name, mobile, email, external_id .\nAny additional fields sent will be stored as 'contact metadata'. If they do not exist, they will be created. These fields can then be used when building landing pages or messages from within the platform.\nThe external_id will be used as a primary key when deciding to create or update existing contacts. It is highly recommended to include an external_id from the requesting system. This external ID will be provided in any webhooks that have been configured so that the contact can be identified by your system.\nTo avoid excess duplicates being created within the platform, we will use the mobile number provided if this value is empty.\nPersonalisation:\nPlease see the information at this endpoint\nOptional Parameters\n*   video_id - The ID of the video that will be inserted on your landing page\n*   reference - Your reference for the 'campaign'. This reference will be returned in any events connected via webhooks. The reference value also has a special use-case - Under the circumstances where multiple requests are required to send a complete campaign (when # of contacts is greater than 1000) providing the same reference will allows these multiple lists to be combined. When viewing this within the platform analytics, it will appear as a single campaign.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "<p>List of mobiles (and optional data) to sent campaign to</p>\n"
                  },
                  "from": {
                    "type": "string",
                    "description": "<p>Your Sender ID - can be a longcode (required)</p>\n"
                  },
                  "message": {
                    "type": "string",
                    "description": "<p>Your SMS message - the same message will be sent to all recipients (required)</p>\n"
                  },
                  "landing_page_id": {
                    "type": "string",
                    "description": "<p>Your Tall Bob Landing Page ID (required)</p>\n"
                  },
                  "video_id": {
                    "type": "string",
                    "description": "<p>Your Tall Bob Video ID (optional)</p>\n"
                  },
                  "reference": {
                    "type": "string",
                    "description": "<p>Your campaign reference - Using the same campaign reference will accross requests will combine multiple requests into a single campaign (optional)</p>\n"
                  },
                  "": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/campaigns/{campaign_id}": {
      "get": {
        "summary": "View Campaign Details",
        "operationId": "getViewCampaignDetails",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "SMS Campaign"
        ],
        "description": "Retrieve details about a specific SMS campaign, by Campaign ID using this endpoint - your Tall Bob SMS Campaign ID must be present in the URL path.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v2/campaigns/templates/{template_id}": {
      "get": {
        "summary": "View Template Details",
        "operationId": "getViewTemplateDetails",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "SMS Campaign"
        ],
        "description": "Retrieve details about a specific Campaign Template by ID, using this endpoint - your Tall Bob Campaign Template ID must be present in the URL path.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/support/mo/send": {
      "post": {
        "summary": "Create mock MO Message",
        "operationId": "postCreateMockMoMessage",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Simulated Actions"
        ],
        "description": "This endpoint has been made available to assist customers while exploring and developing integrations.\nThis endpoint is only available on our test systems (api-test.tallbob.com)\nUse of this endpoint requires a longcode to have been assigned to your test account. To have one of these assigned, please contact support@tallbob.com to have this arranged.\nSending a request to this endpoint will 'fake' an inbound message to the 'longcode' in the request, from 'sender'. \nThis message will be processed in the same way a real message would get processed on our production system. This includes activating any triggers and generating a 'message_received' payload when a web hook has been setup.\nSuccess Response\nNote: this endpoint does not return any content upon success.\nA successful response will have an HTTP STATUS of 204 instead of the usual 200",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "longcode": {
                    "type": "string",
                    "description": "<p>A longcode assigned to your account (A mobile number in E.164 format). This is the number being sent to. (required)</p>\n"
                  },
                  "sender": {
                    "type": "string",
                    "description": "<p>Single mobile number. This will be the number that the message is being sent from (required)</p>\n"
                  },
                  "message": {
                    "type": "string",
                    "description": "<p>Your message text (required)</p>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/utils/mobile_lookup": {
      "post": {
        "summary": "Mobile Lookup",
        "operationId": "postMobileLookup",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Utilities"
        ],
        "description": "This endpoint\u00a0 provides clients a mobile lookup to complete number validation in real time.\nRequired Parameters\nEvery request must contain:\n\na mobile value, representing the Mobile number\n\n\u00a0\nNote: The mobile field must conform to the E.164 format"
      }
    },
    "/v2/webhooks": {
      "post": {
        "summary": "Create New Webhook",
        "operationId": "postCreateNewWebhook",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Webhooks"
        ],
        "description": "Post data to create a new webhook with details provided. Upon successful creation, details of your new webhook will be returned - including an ID, which is required by other methods to identify your newly created webhook.\nRequired Parameters\nEvery request must contain a url value, representing the URL to post data to, and a value for the event_type which represents the trigger for sending the data to your webhook. Neither parameter can contain an empty value. The url MUST be an SSL-encrypted endpoint (beginning with https://) with a valid certificate.\nEvent Types\nValid event types are as follows:\n\nmessage_polling - Message prepared for delivery\nmessage_pushed - Message sent\nmessage_delivered - Message delivered\nmessage_delivery_error - Delivery failed\nmessage_received - Response received\nmessage_received_mms - MMS Response received\nmessage_opened - Email opened\nimpression - Landing Page viewed\nclicktrack - Contact clicked ordinary link\nunsubscribe_track - Contact clicked unsubscribe link\nunsubscribe - Contact opted out\nvideo_play - Video played\nvideo_complete - Video ended\nform_submission - Form submitted\nscratchie_initiated - Scratchie rendered\nscratchie_interact - Scratchie interacted with\n\nOptional Parameters\nIf your webhook requires additional information to be included in the header, such as a Basic Auth string, these can also be included in your request. Currently only two such optional parameters are supported:\nauthorization\nYou can set the authorisation header used when posting to your webhooks using this parameter. It should be the entire auth string.\neg Basic &lt;&gt;\ncontent-type\nYou can set the \"Content-Type\" header used when posting to your webhooks using this parameter. By default, this is already set to application-json so if your webhook supports posting JSON data, you do not need to set this value.\nNote: only two types are currently supported - application-json and application/x-www-form-urlencoded\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "<p>URL of your webhook (max length: 255)</p>\n"
                  },
                  "event_type": {
                    "type": "string",
                    "description": "<p>Event type (see above for valid event types)</p>\n"
                  },
                  "enabled": {
                    "type": "string",
                    "description": "<p>Whether or not the webhook should be enabled (optional)</p>\n"
                  },
                  "name": {
                    "type": "string",
                    "description": "<p>Name for the webhook (optional)</p>\n"
                  },
                  "authorization": {
                    "type": "string",
                    "description": "<p>Auth header if required to POST to your webhook (optional)</p>\n"
                  },
                  "content-type": {
                    "type": "string",
                    "description": "<p>Content Type header if default JSON type unsupported (optional)</p>\n"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Webhooks",
        "operationId": "getListWebhooks",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Webhooks"
        ],
        "description": "List of webhooks for your account, by request. You can send a request and retrieve your list at a time that suits you, using this endpoint.\nOptional filtering\nYou can also filter results by url and/or enabled status, by passing these in as (optional) query parameters.\nA Note about Postman Collections\nIf you have downloaded and imported this as a Postman Collection, you may find these optional query parameters have been selected with default values - which will probably not work.\nIf you are getting empty results back, check if these have been selected - and if they have, try again after deselecting them. You should then get back all your results, unfiltered.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request."
      }
    },
    "/v2/webhooks/{webhook_id}": {
      "delete": {
        "summary": "Delete Webhook",
        "operationId": "deleteDeleteWebhook",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Webhooks"
        ],
        "description": "Delete a specific webhook using this endpoint - your webhook ID must be present in the URL path.\nSuccess Response\nNote: this endpoint does not return any content upon success.\nFurthermore, a successful response will have an HTTP STATUS of 204 instead of the usual 200",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "Update Webhook",
        "operationId": "putUpdateWebhook",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Webhooks"
        ],
        "description": "You can update an existing webhook using this endpoint - your webhook ID must be present in the URL path.\nSimilar rules to the Create method apply, except there are no required parameters.\nHeader Parameters\nYou can update existing header configurations for your webhook and you can also remove a header by setting the value to null.",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "<p>URL of your webhook (max length: 255)</p>\n"
                  },
                  "event_type": {
                    "type": "string",
                    "description": "<p>Event type (see above for valid event types)</p>\n"
                  },
                  "enabled": {
                    "type": "string",
                    "description": "<p>Boolean value to enable or disable webhook</p>\n"
                  },
                  "name": {
                    "type": "string",
                    "description": "<p>Name for the webhook </p>\n"
                  },
                  "authorization": {
                    "type": "string",
                    "description": "<p>Auth header if required to POST to your webhook</p>\n"
                  },
                  "content-type": {
                    "type": "string",
                    "description": "<p>Content Type header if default JSON type unsupported</p>\n"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "View Webhook Details",
        "operationId": "getViewWebhookDetails",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Webhooks"
        ],
        "description": "Retrieve details about a specific webhook using this endpoint - your webhook ID must be present in the URL path.\nPlease refer to HTTP STATUS CODES for definitions of response status codes for this request.",
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v2/account/create": {
      "post": {
        "summary": "Create Account",
        "operationId": "postCreateAccount",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
[...]
