{
  "openapi": "3.0.3",
  "info": {
    "title": "TextBee SMS Gateway",
    "version": "v1",
    "description": "Turn your Android phone into a powerful SMS gateway. Send and receive SMS messages via a simple REST API.",
    "x-jentic-source-url": "https://textbee.dev/docs"
  },
  "servers": [
    {
      "url": "https://api.textbee.dev/api/v1"
    }
  ],
  "paths": {
    "/gateway/devices/{deviceId}/send-sms": {
      "post": {
        "operationId": "sendSms",
        "summary": "Send SMS",
        "description": "Transmit individual SMS messages through the textbee gateway.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Device identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendSmsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gateway/devices/{deviceId}/messages": {
      "get": {
        "operationId": "getMessageHistory",
        "summary": "Get message history",
        "description": "List received messages for history or backfill.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Device identifier"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            },
            "description": "Items per page"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "sent",
                "received"
              ],
              "default": "all"
            },
            "description": "Filter by message type"
          }
        ],
        "responses": {
          "200": {
            "description": "Message history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendSmsRequest": {
        "type": "object",
        "required": [
          "recipients",
          "message"
        ],
        "properties": {
          "recipients": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Phone numbers in E.164 format"
          },
          "message": {
            "type": "string",
            "description": "SMS message text"
          },
          "simSubscriptionId": {
            "type": "number",
            "description": "SIM card to use on multi-SIM devices"
          }
        }
      },
      "SendSmsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object"
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "sender": {
            "type": "string"
          },
          "receivedAt": {
            "type": "string",
            "format": "date-time"
          },
          "device": {
            "type": "string"
          }
        }
      },
      "MessageHistoryResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "totalPages": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}