{
  "openapi": "3.0.3",
  "info": {
    "title": "Ebby Speech-to-Text API",
    "version": "1.0.0",
    "description": "Speech-to-text API supporting 100+ languages with transcription, subtitle generation, and speaker identification.",
    "x-jentic-source-url": "https://ebby.co/api/docs/v1"
  },
  "servers": [
    {
      "url": "https://api.ebby.co/v1"
    }
  ],
  "paths": {
    "/transcribe": {
      "post": {
        "operationId": "transcribe",
        "summary": "Submit media file for transcription",
        "tags": [
          "Transcription"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/TranscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcription submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/transcript/{id}/{format}": {
      "get": {
        "operationId": "getTranscript",
        "summary": "Get transcript in desired format",
        "tags": [
          "Transcription"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "text",
                "html",
                "word",
                "pdf",
                "srt",
                "vtt",
                "json"
              ]
            }
          },
          {
            "name": "speakers",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "ts",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "inline_ts",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "inline_ts_frequency",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/file/{id}": {
      "get": {
        "operationId": "getFile",
        "summary": "Get file information",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteFile",
        "summary": "Delete a file",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/files": {
      "get": {
        "operationId": "listFiles",
        "summary": "List all files",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/file/update/{id}": {
      "post": {
        "operationId": "updateFile",
        "summary": "Update file name",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user information",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "User info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TranscribeRequest": {
        "type": "object",
        "required": [
          "file",
          "language",
          "callback_url"
        ],
        "properties": {
          "file": {
            "type": "string",
            "format": "binary"
          },
          "language": {
            "type": "string"
          },
          "callback_url": {
            "type": "string",
            "format": "uri"
          },
          "multi_speakers": {
            "type": "boolean",
            "default": true
          },
          "identify_speakers": {
            "type": "boolean",
            "default": false
          },
          "num_speakers": {
            "type": "integer",
            "default": 2
          },
          "filter_profanity": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "FileResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "duration": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "remaining_credit": {
            "type": "number"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}