{
  "openapi": "3.0.3",
  "info": {
    "title": "Diffbot API",
    "version": "3.0.0",
    "description": "Diffbot provides AI-powered web data extraction APIs. Extract structured data from any web page using Analyze, Article, Product, Image, Video, Discussion, and other extraction APIs. Also includes Crawlbot for site-wide crawling and Search API for querying the Diffbot Knowledge Graph.",
    "x-jentic-source-url": "https://docs.diffbot.com/docs/getting-started-with-diffbot"
  },
  "servers": [
    {
      "url": "https://api.diffbot.com"
    }
  ],
  "tags": [
    {
      "name": "Extract",
      "description": "Automatic and specialized extraction APIs"
    },
    {
      "name": "Crawl",
      "description": "Crawlbot for site-wide crawling"
    },
    {
      "name": "Search",
      "description": "Knowledge Graph search"
    },
    {
      "name": "Enhance",
      "description": "Entity enrichment"
    },
    {
      "name": "Account",
      "description": "Account management"
    }
  ],
  "paths": {
    "/v3/analyze": {
      "get": {
        "operationId": "analyzeUrl",
        "summary": "Analyze a URL",
        "description": "Automatically classify a page and extract data according to its type (article, product, discussion, image, video, etc.).",
        "tags": [
          "Extract"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Web page URL to process",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Timeout in ms",
            "schema": {
              "type": "integer",
              "default": 30000
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxy",
            "in": "query",
            "required": false,
            "description": "Proxy URL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxyAuth",
            "in": "query",
            "required": false,
            "description": "Proxy auth (user:pass)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "Force extraction type",
            "schema": {
              "type": "string",
              "enum": [
                "article",
                "product",
                "image",
                "discussion",
                "video"
              ]
            }
          },
          {
            "name": "fallback",
            "in": "query",
            "required": false,
            "description": "Fallback extraction type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to return",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyzeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/article": {
      "get": {
        "operationId": "extractArticle",
        "summary": "Extract article data",
        "description": "Extract clean article text, images, videos, authors, dates, and other structured data from news articles, blog posts, and other text-heavy pages.",
        "tags": [
          "Extract"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Web page URL to process",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Timeout in ms",
            "schema": {
              "type": "integer",
              "default": 30000
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxy",
            "in": "query",
            "required": false,
            "description": "Proxy URL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxyAuth",
            "in": "query",
            "required": false,
            "description": "Proxy auth (user:pass)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paging",
            "in": "query",
            "required": false,
            "description": "Follow multi-page articles",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "maxTags",
            "in": "query",
            "required": false,
            "description": "Max number of tags to return",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tagConfidence",
            "in": "query",
            "required": false,
            "description": "Min tag confidence (0-1)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "discussion",
            "in": "query",
            "required": false,
            "description": "Include discussion/comments",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sentiment",
            "in": "query",
            "required": false,
            "description": "Include sentiment analysis",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/product": {
      "get": {
        "operationId": "extractProduct",
        "summary": "Extract product data",
        "description": "Extract product name, price, description, images, availability, specs, reviews and other data from e-commerce product pages.",
        "tags": [
          "Extract"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Web page URL to process",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Timeout in ms",
            "schema": {
              "type": "integer",
              "default": 30000
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxy",
            "in": "query",
            "required": false,
            "description": "Proxy URL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxyAuth",
            "in": "query",
            "required": false,
            "description": "Proxy auth (user:pass)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "discussion",
            "in": "query",
            "required": false,
            "description": "Include reviews",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/image": {
      "get": {
        "operationId": "extractImage",
        "summary": "Extract image data",
        "description": "Extract images from a page with metadata (dimensions, captions, links, alt text).",
        "tags": [
          "Extract"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Web page URL to process",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Timeout in ms",
            "schema": {
              "type": "integer",
              "default": 30000
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxy",
            "in": "query",
            "required": false,
            "description": "Proxy URL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxyAuth",
            "in": "query",
            "required": false,
            "description": "Proxy auth (user:pass)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/video": {
      "get": {
        "operationId": "extractVideo",
        "summary": "Extract video data",
        "description": "Extract video data from a page (title, description, duration, embed URL, etc.).",
        "tags": [
          "Extract"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Web page URL to process",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Timeout in ms",
            "schema": {
              "type": "integer",
              "default": 30000
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxy",
            "in": "query",
            "required": false,
            "description": "Proxy URL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxyAuth",
            "in": "query",
            "required": false,
            "description": "Proxy auth (user:pass)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/discussion": {
      "get": {
        "operationId": "extractDiscussion",
        "summary": "Extract discussion/forum data",
        "description": "Extract threaded discussions, reviews, and comments from forums, review sites, and Q&A pages.",
        "tags": [
          "Extract"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Web page URL to process",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Timeout in ms",
            "schema": {
              "type": "integer",
              "default": 30000
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxy",
            "in": "query",
            "required": false,
            "description": "Proxy URL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxyAuth",
            "in": "query",
            "required": false,
            "description": "Proxy auth (user:pass)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPages",
            "in": "query",
            "required": false,
            "description": "Max pages to follow",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sentiment",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/list": {
      "get": {
        "operationId": "extractList",
        "summary": "Extract list data",
        "description": "Extract lists of items from a page (search results, product listings, etc.).",
        "tags": [
          "Extract"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Web page URL to process",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Timeout in ms",
            "schema": {
              "type": "integer",
              "default": 30000
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxy",
            "in": "query",
            "required": false,
            "description": "Proxy URL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxyAuth",
            "in": "query",
            "required": false,
            "description": "Proxy auth (user:pass)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/crawl": {
      "get": {
        "operationId": "getCrawlJobs",
        "summary": "List crawl jobs",
        "description": "Get the status of all Crawlbot jobs.",
        "tags": [
          "Crawl"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlJobsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCrawlJob",
        "summary": "Create or manage a crawl job",
        "description": "Create a new Crawlbot crawl job or manage an existing one.",
        "tags": [
          "Crawl"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "Job name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "seeds",
            "in": "query",
            "required": false,
            "description": "Seed URLs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiUrl",
            "in": "query",
            "required": false,
            "description": "Diffbot API URL for processing",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "urlCrawlPattern",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "urlProcessPattern",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxToCrawl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxToProcess",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxRounds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "repeat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "onlyProcessIfNew",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/crawl/{jobName}": {
      "get": {
        "operationId": "getCrawlJob",
        "summary": "Get crawl job status",
        "description": "Get status of a specific Crawlbot crawl job.",
        "tags": [
          "Crawl"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCrawlJob",
        "summary": "Delete a crawl job",
        "description": "Delete a Crawlbot crawl job and its data.",
        "tags": [
          "Crawl"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/crawl/{jobName}/download/{format}": {
      "get": {
        "operationId": "downloadCrawlData",
        "summary": "Download crawl results",
        "description": "Download the extracted data from a crawl job.",
        "tags": [
          "Crawl"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Crawl data in requested format"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/search": {
      "get": {
        "operationId": "searchKnowledgeGraph",
        "summary": "Search the Knowledge Graph",
        "description": "Query Diffbot's Knowledge Graph to find entities (people, organizations, products, articles, etc.).",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "DQL query string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of results",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Offset for pagination",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/enhance": {
      "get": {
        "operationId": "enhanceEntity",
        "summary": "Enhance an entity",
        "description": "Enrich an entity (person or organization) with data from Diffbot's Knowledge Graph.",
        "tags": [
          "Enhance"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Person",
                "Organization"
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/account": {
      "get": {
        "operationId": "getAccountInfo",
        "summary": "Get account info",
        "description": "Get account details including plan, API calls remaining, etc.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Developer token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AnalyzeResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "objects": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "humanLanguage": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ArticleResponse": {
        "type": "object",
        "properties": {
          "objects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Article"
            }
          }
        }
      },
      "Article": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "author": {
            "type": "string"
          },
          "authorUrl": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string"
                },
                "uri": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                },
                "score": {
                  "type": "number"
                }
              }
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "width": {
                  "type": "integer"
                },
                "height": {
                  "type": "integer"
                }
              }
            }
          },
          "sentiment": {
            "type": "number"
          },
          "siteName": {
            "type": "string"
          },
          "publisherRegion": {
            "type": "string"
          },
          "pageUrl": {
            "type": "string"
          },
          "resolvedPageUrl": {
            "type": "string"
          },
          "humanLanguage": {
            "type": "string"
          }
        }
      },
      "ProductResponse": {
        "type": "object",
        "properties": {
          "objects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "offerPrice": {
            "type": "string"
          },
          "regularPrice": {
            "type": "string"
          },
          "saveAmount": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "upc": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "brand": {
            "type": "string"
          },
          "availability": {
            "type": "boolean"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                }
              }
            }
          },
          "specs": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "pageUrl": {
            "type": "string"
          }
        }
      },
      "ImageResponse": {
        "type": "object",
        "properties": {
          "objects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "width": {
                  "type": "integer"
                },
                "height": {
                  "type": "integer"
                },
                "naturalWidth": {
                  "type": "integer"
                },
                "naturalHeight": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "VideoResponse": {
        "type": "object",
        "properties": {
          "objects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "duration": {
                  "type": "number"
                },
                "embedUrl": {
                  "type": "string"
                },
                "date": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "DiscussionResponse": {
        "type": "object",
        "properties": {
          "objects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "numPosts": {
                  "type": "integer"
                },
                "posts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "author": {
                        "type": "string"
                      },
                      "text": {
                        "type": "string"
                      },
                      "date": {
                        "type": "string"
                      },
                      "sentiment": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ListResponse": {
        "type": "object",
        "properties": {
          "objects": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CrawlJobsResponse": {
        "type": "object",
        "properties": {
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CrawlJob"
            }
          }
        }
      },
      "CrawlJobResponse": {
        "type": "object",
        "properties": {
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CrawlJob"
            }
          }
        }
      },
      "CrawlJob": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "jobStatus": {
            "type": "object",
            "properties": {
              "status": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "sentJobDoneNotification": {
            "type": "integer"
          },
          "objectsFound": {
            "type": "integer"
          },
          "urlsHarvested": {
            "type": "integer"
          },
          "pageCrawlAttempts": {
            "type": "integer"
          },
          "pageCrawlSuccesses": {
            "type": "integer"
          },
          "pageProcessAttempts": {
            "type": "integer"
          },
          "pageProcessSuccesses": {
            "type": "integer"
          },
          "maxRounds": {
            "type": "integer"
          },
          "repeat": {
            "type": "number"
          },
          "crawlDelay": {
            "type": "number"
          },
          "maxToCrawl": {
            "type": "integer"
          },
          "maxToProcess": {
            "type": "integer"
          },
          "downloadJson": {
            "type": "string"
          },
          "downloadUrls": {
            "type": "string"
          },
          "notifyEmail": {
            "type": "string"
          },
          "notifyWebhook": {
            "type": "string"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "hits": {
            "type": "integer"
          },
          "kgversion": {
            "type": "string"
          },
          "diffbot_type": {
            "type": "string"
          }
        }
      },
      "EnhanceResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "version": {
            "type": "integer"
          },
          "hits": {
            "type": "integer"
          }
        }
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string"
          },
          "planCredits": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "childTokens": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "errorCode": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "tokenQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "Diffbot developer token passed as query parameter"
      }
    }
  },
  "security": [
    {
      "tokenQuery": []
    }
  ]
}