{
  "openapi": "3.0.0",
  "info": {
    "title": "External Medications",
    "version": "1.2.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/AlayaCare/api-medication-external/1.2.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://homecare.alayacare.ca/ext/api/v3/clinical"
    }
  ],
  "paths": {
    "/client/{client_id}/medications": {
      "get": {
        "tags": [
          "Medication"
        ],
        "summary": "Fetch a list of medications by client",
        "responses": {
          "200": {
            "$ref": "#/components/responses/MedicationList"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthChallenge"
          }
        },
        "parameters": [
          {
            "name": "client_id",
            "schema": {
              "type": "integer"
            },
            "in": "path",
            "required": true,
            "description": "Client ID to fetch the medications from"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/medications"
          },
          {
            "$ref": "#/components/parameters/medication_ids"
          },
          {
            "$ref": "#/components/parameters/exclude_medication_ids"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/frequency_setting"
          },
          {
            "$ref": "#/components/parameters/administration_type"
          },
          {
            "$ref": "#/components/parameters/discrepancy_type"
          },
          {
            "$ref": "#/components/parameters/start_date"
          },
          {
            "$ref": "#/components/parameters/end_date"
          },
          {
            "$ref": "#/components/parameters/is_archived"
          },
          {
            "$ref": "#/components/parameters/is_high_alert"
          },
          {
            "$ref": "#/components/parameters/is_narcotic"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/sort_by"
          },
          {
            "$ref": "#/components/parameters/sort_order"
          }
        ]
      },
      "post": {
        "tags": [
          "Medication"
        ],
        "summary": "Create a new medication for a specific client",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "description": "Client ID to save the medications",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateMedication"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/Medication"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthChallenge"
          },
          "409": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/client/by_id/{external_client_id}/medications": {
      "get": {
        "tags": [
          "Medication"
        ],
        "summary": "Fetch a medication by external client id",
        "operationId": "get_medication",
        "responses": {
          "200": {
            "$ref": "#/components/responses/MedicationList"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthChallenge"
          }
        },
        "parameters": [
          {
            "name": "external_client_id",
            "schema": {
              "type": "integer"
            },
            "in": "path",
            "required": true,
            "description": "External client ID to fetch the medications from"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/medications"
          },
          {
            "$ref": "#/components/parameters/medication_ids"
          },
          {
            "$ref": "#/components/parameters/exclude_medication_ids"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/frequency_setting"
          },
          {
            "$ref": "#/components/parameters/administration_type"
          },
          {
            "$ref": "#/components/parameters/discrepancy_type"
          },
          {
            "$ref": "#/components/parameters/start_date"
          },
          {
            "$ref": "#/components/parameters/end_date"
          },
          {
            "$ref": "#/components/parameters/is_archived"
          },
          {
            "$ref": "#/components/parameters/is_high_alert"
          },
          {
            "$ref": "#/components/parameters/is_narcotic"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/sort_by"
          },
          {
            "$ref": "#/components/parameters/sort_order"
          }
        ]
      },
      "post": {
        "tags": [
          "Medication"
        ],
        "summary": "Create a new medication for a specific client",
        "parameters": [
          {
            "name": "external_client_id",
            "schema": {
              "type": "integer"
            },
            "in": "path",
            "required": true,
            "description": "Client external ID to save the medications"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateMedication"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/Medication"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthChallenge"
          },
          "409": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/medications/{medication_id}": {
      "get": {
        "tags": [
          "Medication"
        ],
        "summary": "Fetch a medication by id",
        "responses": {
          "200": {
            "$ref": "#/components/schemas/Medication"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthChallenge"
          },
          "409": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "parameters": [
          {
            "name": "medication_id",
            "schema": {
              "type": "integer"
            },
            "in": "path",
            "required": true,
            "description": "Medication ID"
          },
          {
            "name": "include",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false,
            "description": "Parameter used to include extra information in the request. Options: \"status_reason\" and \"cms_485_status\""
          }
        ]
      }
    },
    "/medications/{medication_id}/change_status/{new_status}": {
      "post": {
        "tags": [
          "Medication"
        ],
        "summary": "Update a medication status",
        "operationId": "update_status",
        "responses": {
          "204": {
            "description": "Medication status updated successfully"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthChallenge"
          },
          "409": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "parameters": [
          {
            "name": "medication_id",
            "schema": {
              "type": "integer"
            },
            "in": "path",
            "required": true,
            "description": "Medication id"
          },
          {
            "name": "new_status",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true,
            "description": "New medication status"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  },
                  "edited_by": {
                    "type": "string"
                  },
                  "edited_at": {
                    "type": "string"
                  },
                  "archive": {
                    "type": "boolean",
                    "default": false
                  },
                  "is_discontinue_replacing_end_date": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        }
      }
    },
    "/medication_settings/{branch_id}": {
      "get": {
        "tags": [
          "Medication settings"
        ],
        "summary": "Fetch the list of medication settings for a given branch_id",
        "responses": {
          "200": {
            "$ref": "#/components/responses/MedicationSettingList"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthChallenge"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/branch_id"
          },
          {
            "$ref": "#/components/parameters/lang"
          },
          {
            "$ref": "#/components/parameters/code_term"
          },
          {
            "$ref": "#/components/parameters/default_label"
          },
          {
            "$ref": "#/components/parameters/label"
          },
          {
            "$ref": "#/components/parameters/code_collection_term"
          },
          {
            "$ref": "#/components/parameters/is_enabled"
          },
          {
            "$ref": "#/components/parameters/is_infusion"
          },
          {
            "$ref": "#/components/parameters/is_ingredient_strength"
          },
          {
            "$ref": "#/components/parameters/is_dosage_form"
          },
          {
            "$ref": "#/components/parameters/is_dosage_quantity"
          },
          {
            "$ref": "#/components/parameters/is_override"
          },
          {
            "$ref": "#/components/parameters/settings_sort_by"
          },
          {
            "$ref": "#/components/parameters/sort_order"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ]
      }
    },
    "/medication_settings/{branch_id}/{type}": {
      "get": {
        "tags": [
          "Medication settings"
        ],
        "summary": "Fetch a list of medication settings for given branch_id and type",
        "responses": {
          "200": {
            "$ref": "#/components/responses/MedicationSettingList"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthChallenge"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/branch_id"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "setting type",
            "schema": {
              "type": "string",
              "enum": [
                "medication_administration_reason_setting",
                "medication_administration_site_details_setting",
                "medication_administration_status_setting",
                "medication_administration_type_setting",
                "medication_delivery_mode_setting",
                "medication_discrepancy_status_setting",
                "medication_discrepancy_type_setting",
                "medication_drug_family_setting",
                "medication_frequency_setting",
                "medication_information_source_setting",
                "medication_medication_route_setting",
                "medication_medication_status_setting",
                "medication_medication_type_setting",
                "medication_unit_infusion_setting",
                "medication_unit_setting"
              ]
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "include field in the response",
            "schema": {
              "type": "string",
              "enum": [
                "_links"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/lang"
          },
          {
            "$ref": "#/components/parameters/code_term"
          },
          {
            "$ref": "#/components/parameters/default_label"
          },
          {
            "$ref": "#/components/parameters/label"
          },
          {
            "$ref": "#/components/parameters/code_collection_term"
          },
          {
            "$ref": "#/components/parameters/is_enabled"
          },
          {
            "$ref": "#/components/parameters/is_infusion"
          },
          {
            "$ref": "#/components/parameters/is_ingredient_strength"
          },
          {
            "$ref": "#/components/parameters/is_dosage_form"
          },
          {
            "$ref": "#/components/parameters/is_dosage_quantity"
          },
          {
            "$ref": "#/components/parameters/is_override"
          },
          {
            "$ref": "#/components/parameters/settings_sort_by"
          },
          {
            "$ref": "#/components/parameters/sort_order"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ]
      }
    },
    "/medication_settings/{branch_id}/{type}/{name}": {
      "get": {
        "tags": [
          "Medication settings"
        ],
        "summary": "Fetch a medication setting by branch_id, type and name",
        "responses": {
          "200": {
            "$ref": "#/components/responses/MedicationSetting"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthChallenge"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/branch_id"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "setting type",
            "schema": {
              "type": "string",
              "enum": [
                "medication_administration_reason_setting",
                "medication_administration_site_details_setting",
                "medication_administration_status_setting",
                "medication_administration_type_setting",
                "medication_delivery_mode_setting",
                "medication_discrepancy_status_setting",
                "medication_discrepancy_type_setting",
                "medication_drug_family_setting",
                "medication_frequency_setting",
                "medication_information_source_setting",
                "medication_medication_route_setting",
                "medication_medication_status_setting",
                "medication_medication_type_setting",
                "medication_unit_infusion_setting",
                "medication_unit_setting"
              ]
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "name of medication setting",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/lang"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "Medication": {
        "type": "object",
        "allOf": [
          {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "brand_name": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "ingredient_strength": {
                "type": "string",
                "example": "350"
              },
              "ingredient_strength_unit": {
                "type": "string",
                "example": "mg",
                "description": "Options are the response of GET \"/medication_settings/{branch_id}/medication_unit_setting?is_ingredient_strength=true\""
              },
              "dosage": {
                "type": "string",
                "example": "350"
              },
              "dosage_unit": {
                "type": "string",
                "example": "mg",
                "description": "Options are the response of GET \"/medication_settings/{branch_id}/medication_unit_setting?is_dosage_quantity=true\""
              },
              "dosage_form": {
                "type": "string",
                "description": "Options are the response of GET \"/medication_settings/{branch_id}/medication_unit_setting?is_dosage_form=true\""
              },
              "drug_info_number": {
                "type": "string"
              },
              "drug_family": {
                "type": "string",
                "description": "Options are the response of GET \"/medication_settings/{branch_id}/medication_drug_family_setting\""
              },
              "route": {
                "type": "string",
                "description": "Options are the response of GET \"/medication_settings/{branch_id}/medication_medication_route_setting\""
              },
              "administration_type": {
                "type": "string",
                "description": "Options are the response of GET \"/medication_settings/{branch_id}/medication_administration_type_setting"
              },
              "prn_reason": {
                "type": "string",
                "description": "Its only accepted when prn_as_needed is true"
              },
              "prn_as_needed": {
                "type": "boolean"
              },
              "purpose": {
                "type": "string"
              },
              "types": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Options are the response of GET \"/medication_settings/{branch_id}/medication_medication_type_setting"
              },
              "website": {
                "type": "string"
              },
              "high_alert": {
                "type": "boolean"
              },
              "narcotic": {
                "type": "boolean"
              },
              "ordering_physician": {
                "type": "string"
              },
              "status_reason": {
                "type": "string"
              },
              "frequency_setting": {
                "type": "string",
                "description": "Options are the response of GET \"/medication_settings/{branch_id}/medication_frequency_setting\""
              },
              "start_date": {
                "type": "string",
                "description": "Format: YYYY-MM-DD"
              },
              "start_time": {
                "type": "string",
                "description": "Format: HH:mm:ss"
              },
              "end_date": {
                "type": "string",
                "description": "Format: YYYY-MM-DD"
              },
              "end_time": {
                "type": "string",
                "description": "Format: HH:mm:ss"
              },
              "start_date_unknown": {
                "type": "boolean",
                "default": false
              },
              "end_date_unknown": {
                "type": "boolean",
                "default": false
              },
              "administration_instructions": {
                "type": "string"
              },
              "timing_notes": {
                "type": "string"
              },
              "administration_site_details": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Options are the response of GET \"/medication_settings/{branch_id}/medication_administration_site_details_setting\""
              },
              "healthcare_professional_notified": {
                "type": "string"
              },
              "needs_education": {
                "type": "boolean"
              },
              "frequency": {
                "type": "integer",
                "example": 2
              },
              "frequency_max": {
                "type": "integer"
              },
              "period": {
                "type": "integer",
                "example": 1
              },
              "period_max": {
                "type": "integer"
              },
              "period_unit": {
                "type": "string"
              },
              "duration": {
                "type": "integer"
              },
              "duration_unit": {
                "type": "string"
              },
              "timings": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "weekdays": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": "MO, TU, WE, TH, FR, SA, SU"
              },
              "count": {
                "type": "integer"
              },
              "time_of_day": {
                "type": "string",
                "description": "Options are "
              },
              "days_of_month": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Options are from 01 to 31"
              },
              "when": {
                "type": "string"
              },
              "strict": {
                "type": "boolean"
              },
              "create_user_id": {
                "type": "integer"
              },
              "update_user_id": {
                "type": "integer"
              },
              "created_at": {
                "type": "string"
              },
              "updated_at": {
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "delivery_mode": {
                "type": "string",
                "description": "Required for infusion routes."
              },
              "concentration": {
                "type": "number",
                "format": "float"
              },
              "concentration_unit": {
                "type": "string"
              },
              "infusion_fluid": {
                "type": "string"
              },
              "ongoing": {
                "type": "boolean"
              },
              "infusion_duration": {
                "type": "integer"
              },
              "infusion_duration_unit": {
                "type": "string"
              },
              "infusion_volume": {
                "type": "number",
                "format": "float"
              },
              "infusion_volume_unit": {
                "type": "string"
              },
              "infusion_rate": {
                "type": "number",
                "format": "float"
              },
              "infusion_rate_unit": {
                "type": "string"
              },
              "is_simplified_infusion": {
                "type": "boolean",
                "nullable": false,
                "description": "Required for infusion routes."
              },
              "pre_infusion_flush_fluid": {
                "type": "string"
              },
              "pre_infusion_flush_volume": {
                "type": "number",
                "format": "float"
              },
              "pre_infusion_flush_volume_max": {
                "type": "number",
                "format": "float"
              },
              "pre_infusion_flush_volume_unit": {
                "type": "string"
              },
              "post_infusion_flush_fluid": {
                "type": "string"
              },
              "post_infusion_flush_volume": {
                "type": "number",
                "format": "float"
              },
              "post_infusion_flush_volume_max": {
                "type": "number",
                "format": "float"
              },
              "post_infusion_flush_volume_unit": {
                "type": "string"
              },
              "basal_rate": {
                "type": "number",
                "format": "float"
              },
              "basal_rate_max": {
                "type": "number",
                "format": "float"
              },
              "basal_rate_unit": {
                "type": "string"
              },
              "bolus_frequency": {
                "type": "integer"
              },
              "bolus_frequency_unit": {
                "type": "string"
              },
              "bolus_rate": {
                "type": "number",
                "format": "float"
              },
              "bolus_rate_max": {
                "type": "number",
                "format": "float"
              },
              "bolus_rate_unit": {
                "type": "string"
              },
              "max_boluses": {
                "type": "string"
              },
              "infusion_instructions": {
                "type": "string",
                "description": "Required for simplified infusions."
              }
            }
          }
        ]
      },
      "MedicationList": {
        "properties": {
          "items": {
            "$ref": "#/components/schemas/Medication"
          },
          "count": {
            "type": "integer"
          },
          "items_per_page": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          }
        }
      },
      "CreateMedication": {
        "type": "object",
        "required": [
          "name",
          "status",
          "dosage",
          "dosage_unit",
          "route",
          "administration_type",
          "frequency_setting",
          "start_date",
          "start_time",
          "start_date_unknown"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/Medication"
          }
        ]
      },
      "MedicationSettings": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "branch_id": {
            "type": "integer"
          },
          "is_enabled": {
            "type": "boolean"
          },
          "is_override": {
            "type": "boolean"
          },
          "is_ingredient_strength": {
            "type": "boolean"
          },
          "is_dosage_form": {
            "type": "boolean"
          },
          "is_dosage_quantity": {
            "type": "boolean"
          },
          "is_infusion": {
            "type": "boolean"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "default_label": {
                  "type": "string",
                  "description": "standard label"
                },
                "label": {
                  "type": "string",
                  "description": "organization label"
                },
                "lang": {
                  "type": "string",
                  "description": "language"
                }
              }
            }
          },
          "frequency": {
            "type": "integer"
          },
          "frequency_max": {
            "type": "integer"
          },
          "period": {
            "type": "integer"
          },
          "period_max": {
            "type": "integer"
          },
          "period_unit": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "duration_unit": {
            "type": "string"
          },
          "timings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "07:00",
              "10:00"
            ]
          },
          "weekdays": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "MO",
              "TU"
            ]
          },
          "count": {
            "type": "integer"
          },
          "time_of_day": {
            "type": "string"
          },
          "days_of_month": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "example": [
              15,
              25
            ]
          },
          "when": {
            "type": "string"
          },
          "min_timings_count": {
            "type": "integer"
          },
          "max_timings_count": {
            "type": "integer"
          },
          "min_weekdays_count": {
            "type": "integer"
          },
          "max_weekdays_count": {
            "type": "integer"
          },
          "min_days_of_month_count": {
            "type": "integer"
          },
          "max_days_of_month_count": {
            "type": "integer"
          },
          "strict": {
            "type": "boolean",
            "example": false,
            "description": "If true, each timing must contain the expected interval of hours between each other."
          },
          "interval": {
            "type": "integer"
          },
          "interval_max": {
            "type": "integer"
          },
          "infusion_fluid_section": {
            "description": "Defines validation of infusion fluid section",
            "type": "string",
            "x-nullable": true,
            "enum": [
              "required",
              "not_allowed"
            ],
            "example": "required"
          },
          "pre_infusion_flush_section": {
            "description": "Defines validation of pre infusion flush section",
            "type": "string",
            "x-nullable": true,
            "enum": [
              "recommended"
            ],
            "example": "recommended"
          },
          "post_infusion_flush_section": {
            "description": "Defines validation of post infusion flush section",
            "type": "string",
            "x-nullable": true,
            "enum": [
              "recommended"
            ],
            "example": "recommended"
          },
          "basal_rate_section": {
            "description": "Defines validation of basal rate section",
            "type": "string",
            "x-nullable": true,
            "enum": [
              "recommended",
              "not_allowed"
            ],
            "example": "recommended"
          },
          "bolus_section": {
            "description": "Defines validation of bolus section",
            "type": "string",
            "x-nullable": true,
            "enum": [
              "recommended",
              "not_allowed"
            ],
            "example": "recommended"
          },
          "admin_primary_section": {
            "description": "Defines whether primary section is available in administration or not",
            "type": "string",
            "enum": [
              "allowed",
              "only_main",
              "without_reservoir",
              "forbidden"
            ],
            "example": "allowed",
            "x-nullable": false,
            "default": "allowed"
          },
          "admin_pca_section": {
            "description": "Defines whether pca section is available in administration or not",
            "type": "string",
            "enum": [
              "allowed",
              "forbidden"
            ],
            "example": "allowed",
            "x-nullable": false,
            "default": "allowed"
          },
          "admin_insulin_section": {
            "description": "Defines whether insulin section is available in administration or not",
            "type": "string",
            "enum": [
              "allowed",
              "forbidden"
            ],
            "example": "allowed",
            "x-nullable": false,
            "default": "allowed"
          },
          "admin_bolus_section": {
            "description": "Defines whether bolus section is available in administration or not",
            "type": "string",
            "enum": [
              "allowed",
              "forbidden"
            ],
            "example": "allowed",
            "x-nullable": false,
            "default": "allowed"
          }
        }
      },
      "MedicationSettingList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of items in the response"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MedicationSettings"
            }
          },
          "page": {
            "type": "integer",
            "description": "Current page number"
          },
          "total_pages": {
            "type": "integer",
            "description": "Total number of pages available"
          }
        }
      },
      "MedicationSettingBranchList": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        },
        "example": {
          "medication_administration_reason_setting": {
            "declined_dislikes_taste": {
              "labels": {
                "en": "Declined - Dislikes taste",
                "fr": "Declined - Dislikes taste"
              }
            },
            "declined_side_effects": {
              "labels": {
                "en": "Declined - Side effects",
                "fr": "Declined - Side effects"
              }
            }
          },
          "medication_unit_setting": {
            "aplicatorful_s": {
              "is_ingredient_strength": true,
              "is_dosage_form": true,
              "is_dosage_quantity": true,
              "labels": {
                "en": "Applicatorful(s)",
                "fr": "Applicatorful(s)"
              }
            },
            "strip_s": {
              "is_ingredient_strength": true,
              "is_dosage_form": true,
              "is_dosage_quantity": true,
              "labels": {
                "en": "Strip(s)",
                "fr": "Strip(s)"
              }
            }
          }
        }
      },
      "APIError": {
        "type": "object",
        "description": "Error returned from the API",
        "properties": {
          "code": {
            "type": "string",
            "description": "The error code",
            "example": "500"
          },
          "message": {
            "type": "string",
            "example": "An error occurred",
            "description": "The error description"
          }
        },
        "required": [
          "code",
          "message"
        ]
      }
    },
    "requestBodies": {
      "CreateMedication": {
        "description": "Medication create data",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateMedication"
            },
            "examples": {
              "CreateMedication": {
                "$ref": "#/components/examples/CreateMedication"
              }
            }
          }
        }
      }
    },
    "responses": {
      "AuthChallenge": {
        "description": "Authentication required.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError"
            },
            "examples": {
              "InvalidRequest": {
                "$ref": "#/components/examples/AuthChallenge"
              }
            }
          }
        }
      },
      "InvalidRequest": {
        "description": "Invalid data.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError"
            },
            "examples": {
              "InvalidRequestExample": {
                "$ref": "#/components/examples/InvalidRequest"
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Conflict in the data.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError"
            }
          }
        }
      },
      "Medication": {
        "description": "A medication information.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Medication"
            },
            "examples": {
              "MedicationListExample": {
                "$ref": "#/components/examples/Medication"
              }
            }
          }
        }
      },
      "MedicationList": {
        "description": "Medication list.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MedicationList"
            },
            "examples": {
              "MedicationListExample": {
                "$ref": "#/components/examples/MedicationList"
              }
            }
          }
        }
      },
      "MedicationSetting": {
        "description": "Medication setting objectF",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MedicationSettingList"
            },
            "examples": {
              "MedicationSetting": {
                "$ref": "#/components/examples/MedicationSettings"
              }
            }
          }
        }
      },
      "MedicationSettingList": {
        "description": "Medication settings list",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MedicationSettingList"
            },
            "examples": {
              "MedicationSetting": {
                "$ref": "#/components/examples/MedicationSettingList"
              }
            }
          }
        }
      },
      "MedicationSettingBranchList": {
        "description": "Medication settings list for the branch endpoint",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MedicationSettingBranchList"
            },
            "examples": {
              "MedicationSetting": {
                "$ref": "#/components/examples/MedicationSettingBranchList"
              }
            }
          }
        }
      }
    },
    "parameters": {
      "client_id": {
        "name": "client_id",
        "schema": {
          "type": "integer"
        },
        "in": "path",
        "required": true,
        "description": "Client id to fetch the medications from"
      },
      "include": {
        "name": "include",
        "schema": {
          "type": "string"
        },
        "in": "query",
        "required": false,
        "description": "Parameter used to include extra information in the request. Options: \"status_reason\" and \"cms_485_status\""
      },
      "medications": {
        "name": "medications",
        "schema": {
          "type": "string"
        },
        "in": "query",
        "required": false,
        "description": "Filter medications by term"
      },
      "medication_ids": {
        "name": "medication_ids",
        "schema": {
          "type": "integer"
        },
        "in": "query",
        "description": "Filter medications by id"
      },
      "exclude_medication_ids": {
        "name": "exclude_medication_ids",
        "schema": {
          "type": "integer"
        },
        "in": "query",
        "description": "Filter medications that do not contain specified id"
      },
      "status": {
        "name": "status",
        "schema": {
          "type": "string"
        },
        "in": "query",
        "required": false,
        "description": "Filter medications by status. Options are the response of GET \"/medication_settings/{branch_id}/medication_medication_status_setting\""
      },
      "is_archived": {
        "name": "is_archived",
        "schema": {
          "type": "boolean"
        },
        "in": "query"
      },
      "is_infusion": {
        "name": "is_infusion",
        "schema": {
          "type": "boolean"
        },
        "in": "query"
      },
      "route": {
        "name": "route",
        "schema": {
          "type": "string"
        },
        "in": "query",
        "required": false,
        "description": "Filter medications by route"
      },
      "frequency_setting": {
        "name": "frequency_setting",
        "schema": {
          "type": "string"
        },
        "in": "query",
        "required": false,
        "description": "Filter medications by frequency. Options are the response of GET \"/medication_settings/{branch_id}/medication_frequency_setting\""
      },
      "administration_type": {
        "name": "administration_type",
        "schema": {
          "type": "string"
        },
        "in": "query",
        "required": false,
        "description": "Filter medications by administration type. Options are the response of GET \"/medication_settings/{branch_id}/medication_administration_type_setting\""
      },
      "start_date": {
        "name": "start_date",
        "schema": {
          "type": "string"
        },
        "in": "query",
        "required": false,
        "description": "Filter medications by start datetime. Format: YYYY-MM-DD HH:mm:ss"
      },
      "end_date": {
        "name": "end_date",
        "schema": {
          "type": "string"
        },
        "in": "query",
        "required": false,
        "description": "Filter medications by end datetime. Format: YYYY-MM-DD HH:mm:ss"
      },
      "discrepancy_type": {
        "name": "discrepancy_type",
        "schema": {
          "type": "string"
        },
        "in": "query",
        "required": false,
        "description": "Filter medications by discrepancy type. Options are the response of GET \"/medication_settings/{branch_id}/medication_discrepancy_type_setting\""
      },
      "is_high_alert": {
        "name": "is_high_alert",
        "schema": {
          "type": "boolean",
          "default": false
        },
        "in": "query",
        "description": "Filter medications by high_alert"
      },
      "is_narcotic": {
        "name": "is_narcotic",
        "schema": {
          "type": "boolean",
          "default": false
        },
        "in": "query",
        "description": "Filter medications by narcotic"
      },
      "sort_by": {
        "name": "sort_by",
        "schema": {
          "type": "string"
        },
        "in": "query",
        "required": false,
        "description": "Parameter to sort items by"
      },
      "settings_sort_by": {
        "name": "sort_by",
        "schema": {
          "type": "string",
          "enum": [
            "is_enabled",
            "is_ingredient_strength",
            "is_dosage_form",
            "is_dosage_quantity",
            "default_label",
            "label"
          ]
        },
        "in": "query",
        "required": false,
        "description": "Parameter to sort items by"
      },
      "sort_order": {
        "name": "sort_order",
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ]
        },
        "in": "query",
        "required": false,
        "description": "Order in which the items should be sorted by. Ex: asc, desc"
      },
      "page": {
        "name": "page",
        "schema": {
          "type": "integer",
          "default": 1
        },
        "in": "query",
        "required": false,
        "description": "Page number to filter by"
      },
      "count": {
        "name": "count",
        "schema": {
          "type": "integer",
          "default": 10
        },
        "in": "query",
        "required": false,
        "description": "Max number of items to filter by"
      },
      "branch_id": {
        "name": "branch_id",
        "in": "path",
        "required": true,
        "description": "ID of the branch",
        "schema": {
          "type": "integer"
        }
      },
      "lang": {
        "name": "lang",
        "in": "query",
        "description": "Current UI language",
        "schema": {
          "type": "string",
          "default": "en",
          "enum": [
            "en",
            "fr",
            "es"
          ]
        }
      },
      "is_enabled": {
        "name": "is_enabled",
        "in": "query",
        "schema": {
          "type": "boolean"
        }
      },
      "is_ingredient_strength": {
        "name": "is_ingredient_strength",
        "in": "query",
        "schema": {
          "type": "boolean"
        }
      },
      "is_dosage_form": {
        "name": "is_dosage_form",
        "in": "query",
        "schema": {
          "type": "boolean"
        }
      },
      "is_dosage_quantity": {
        "name": "is_dosage_quantity",
        "in": "query",
        "schema": {
          "type": "boolean"
        }
      },
      "is_override": {
        "name": "is_override",
        "in": "query",
        "schema": {
          "type": "boolean"
        }
      },
      "code_term": {
        "name": "code_term",
        "in": "query",
        "schema": {
          "type": "string"
        }
      },
      "default_label": {
        "name": "default_label",
        "in": "query",
        "schema": {
          "type": "string"
        }
      },
      "label": {
        "name": "label",
        "in": "query",
        "schema": {
          "type": "string"
        }
      },
      "code_collection_term": {
        "name": "code_collection_term",
        "in": "query",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "InvalidRequest": {
        "value": {
          "code": "400",
          "message": "There was a problem with your request."
        },
        "summary": "Invalid data."
      },
      "ValidationError": {
        "value": {
          "code": "409",
          "message": "Validation error.",
          "errors": []
        },
        "summary": "Conflict in the data."
      },
      "AuthChallenge": {
        "value": {
          "code": "401",
          "message": "Please verify your access level for this url."
        },
        "summary": "Authentication required."
      },
      "Medication": {
        "value": {
          "id": 1,
          "brand_name": "Name of the medication brand name",
          "name": "Medication Name",
          "administration_instructions": "Detail administration instructions",
          "administration_site_details": [],
          "administration_type": "witness",
          "cms_485_status": "new",
          "code": null,
          "count": 7,
          "create_user_id": 100,
          "created_at": "2023-01-26T15:09:40+00:00",
          "days_of_month": [],
          "discrepancy_note": "Discrepancy notes",
          "discrepancy_status": "continue",
          "discrepancy_type": "no_discrepancy",
          "dosage": "1",
          "dosage_form": "tab",
          "dosage_unit": "tab",
          "drug_family": "ophthalmic_anti_inflammatories",
          "drug_info_number": "1234",
          "duration": null,
          "duration_unit": null,
          "end_date": null,
          "end_date_unknown": false,
          "end_time": "",
          "frequency": 1,
          "frequency_max": null,
          "frequency_setting": "every_12_hours",
          "high_alert": false,
          "healthcare_professional_notified": "Healthcare profissional",
          "information_source": "organization",
          "ingredient_strength": "100",
          "ingredient_strength_unit": "mg",
          "interval": 12,
          "interval_max": 12,
          "is_archived": false,
          "is_infusion": false,
          "medication_profile_id": 1,
          "narcotic": false,
          "needs_education": true,
          "ordering_physician": "name of the doctor",
          "period": 12,
          "period_max": null,
          "period_unit": "h",
          "prn_as_needed": false,
          "prn_reason": null,
          "purpose": "The purpose of medication",
          "route": "bu_buccal",
          "start_date": "2023-01-26",
          "start_date_unknown": false,
          "start_time": "08:00",
          "status": "active",
          "status_reason": null,
          "strict": true,
          "time_of_day": null,
          "timing_notes": null,
          "timings": [
            "08:00",
            "20:00"
          ],
          "types": [
            "prescriptions"
          ],
          "update_user_id": 100,
          "updated_at": "2023-01-26T15:09:40+00:00",
          "version": 1,
          "website": null,
          "weekdays": [],
          "when": null
        }
      },
      "CreateMedication": {
        "value": {
          "brand_name": "Name of the medication brand name",
          "name": "Medication Name",
          "cms_485_status": "new",
          "count": 7,
          "days_of_month": [],
          "discrepancy_note": "Discrepancy notes",
          "discrepancy_status": "continue",
          "discrepancy_type": "no_discrepancy",
          "dosage": "1",
          "dosage_form": "tab",
          "dosage_unit": "tab",
          "drug_family": "ophthalmic_anti_inflammatories",
          "drug_info_number": "1234",
          "end_date_unknown": false,
          "end_time": "",
          "end_time_unknown": false,
          "frequency": 1,
          "frequency_setting": "every_12_hours",
          "healthcare_professional_notified": "Healthcare profissional",
          "information_source": "organization",
          "ingredient_strength": "100",
          "ingredient_strength_unit": "mg",
          "admin_timings_unknown": false,
          "administration_instructions": "Detail administration instructions",
          "administration_type": "witness",
          "interval": 12,
          "interval_max": 12,
          "max_timings_count": 2,
          "min_timings_count": 2,
          "needs_education": true,
          "ordering_physician": "Dr. Name",
          "period": 12,
          "period_unit": "h",
          "purpose": "The purpose of medication",
          "route": "bu_buccal",
          "start_date": "2023-01-26",
          "start_date_unknown": false,
          "start_time": "08:00",
          "start_time_unknown": false,
          "status": "active",
          "strict": true,
          "timings": [
            {
              "0": "08:00"
            },
            {
              "1": "20:00"
            }
          ],
          "types": [
            {
              "0": "prescriptions"
            }
          ],
          "weekdays": []
        }
      },
      "MedicationList": {
        "value": {
          "count": 1,
          "items_per_page": 10,
          "page": 1,
          "total_pages": 1,
          "items": {
            "$ref": "#/components/examples/Medication"
          }
        }
      },
      "MedicationSettings": {
        "value": {
          "name": "Setting name"
        }
      },
      "MedicationSettingList": {
        "value": {
          "count": 745,
          "items": [
            {
              "branch_id": 1000,
              "codes": [
                {
                  "code": "a",
                  "collection": "FHIR"
                }
              ],
              "is_enabled": true,
              "is_override": false,
              "labels": [
                {
                  "default_label": "None",
                  "label": "None",
                  "lang": "en"
                }
              ],
              "name": "none",
              "type": "medication_administration_reason_setting"
            }
          ],
          "items_per_page": 15,
          "page": 1,
          "total_pages": 745
        }
      },
      "MedicationSettingBranchList": {
        "value": {
          "count": 745,
          "items": [
            {
              "branch_id": 1000,
              "codes": [
                {
                  "code": "a",
                  "collection": "FHIR"
                }
              ],
              "is_enabled": true,
              "is_override": false,
              "labels": [
                {
                  "default_label": "None",
                  "label": "None",
                  "lang": "en"
                }
              ],
              "name": "none",
              "type": "medication_administration_reason_setting"
            }
          ],
          "items_per_page": 15,
          "page": 1,
          "total_pages": 745
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}