{
  "swagger": "2.0",
  "info": {
    "title": "Azure",
    "description": "API for k2productfeatures.cognitiveservices.azure.com",
    "version": "0.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Sourcecode9/azure/0.1/swagger.json"
  },
  "host": "k2productfeatures.cognitiveservices.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/qnamaker/v4.0/knowledgebases/{kbId}": {
      "patch": {
        "tags": [
          "Qnamaker"
        ],
        "description": "update",
        "operationId": "update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "kbId",
            "in": "path",
            "description": "Kb ID",
            "required": true,
            "type": "string",
            "x-example": "01627ad6-466d-40d3-b655-95a858e1b8b0"
          },
          {
            "name": "UpdateRequestBody",
            "in": "body",
            "description": "updateREquestBody",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            },
            "examples": {
              "application/json": "{\"operationState\"=>\"NotStarted\", \"createdTimestamp\"=>\"2018-03-19T07:38:46Z\", \"lastActionTimestamp\"=>\"2018-03-19T07:39:29Z\", \"userId\"=>\"86bb8390-56c0-42c2-9f81-3de161981191\", \"operationId\"=>\"03a4f4ce-30a6-4ec6-b436-02bcdf6153e1\"}"
            }
          }
        },
        "security": []
      }
    }
  },
  "definitions": {
    "UpdateRequestBody": {
      "description": "Model for UpdateRequestBody",
      "required": [
        "add"
      ],
      "properties": {
        "add": {
          "$ref": "#/definitions/Add",
          "x-example": "{\n  \"qnaList\": [\n    {\n      \"id\": 0,\n      \"answer\": \"You can change the default message if you use the QnAMakerDialog. See this for details: https://docs.botframework.com/en-us/azure-bot-service/templates/qnamaker/#navtitle\",\n      \"source\": \"Custom Editorial\",\n      \"questions\": [\n        \"How can I change the default message from QnA Maker?\"\n      ],\n      \"metadata\": [\n\n      ]\n    }\n  ],\n  \"urls\": [\n    \"https://docs.microsoft.com/en-us/azure/cognitive-services/Emotion/FAQ\"\n  ],\n  \"files\": [\n    {\n      \"fileName\": \"SurfaceManual.pdf\",\n      \"fileUri\": \"https://download.microsoft.com/download/2/9/B/29B20383-302C-4517-A006-B0186F04BE28/surface-pro-4-user-guide-EN.pdf\"\n    }\n  ]\n}"
        },
        "delete": {
          "$ref": "#/definitions/Delete",
          "x-example": "{\n  \"ids\": [\n    13,\n    35\n  ]\n}"
        },
        "update": {
          "$ref": "#/definitions/Update",
          "x-example": "{\n  \"name\": \"QnA Maker FAQ Prompts Bot\",\n  \"qnaList\": [\n    {\n      \"id\": 2,\n      \"answer\": \"You can use our REST apis to create a KB. See here for details: https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/knowledgebase/create\",\n      \"source\": \"Custom Editorial\",\n      \"questions\": {\n        \"add\": [\n\n        ],\n        \"delete\": [\n\n        ]\n      },\n      \"metadata\": {\n        \"add\": [\n\n        ],\n        \"delete\": [\n\n        ]\n      },\n      \"alternateQuestionClusters\": {\n        \"delete\": [\n\n        ]\n      },\n      \"context\": {\n        \"isContextOnly\": false,\n        \"promptsToAdd\": [\n          {\n            \"displayText\": \"Add Prompts\",\n            \"displayOrder\": 0,\n            \"qna\": {\n              \"id\": 0,\n              \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n              \"source\": \"Editorial\",\n              \"questions\": [\n                \"How can I add prompts?\"\n              ],\n              \"metadata\": [\n\n              ],\n              \"alternateQuestionClusters\": [\n\n              ],\n              \"context\": {\n                \"isContextOnly\": false,\n                \"prompts\": [\n\n                ]\n              }\n            },\n            \"qnaId\": 0\n          },\n          {\n            \"displayText\": \"Delete Prompts\",\n            \"displayOrder\": 0,\n            \"qna\": {\n              \"id\": 0,\n              \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n              \"source\": \"Editorial\",\n              \"questions\": [\n                \"How can I delete delete prompts?\"\n              ],\n              \"metadata\": [\n\n              ],\n              \"alternateQuestionClusters\": [\n\n              ],\n              \"context\": {\n                \"isContextOnly\": false,\n                \"prompts\": [\n\n                ]\n              }\n            },\n            \"qnaId\": 0\n          },\n          {\n            \"displayText\": \"Update Knowledgebase\",\n            \"displayOrder\": 0,\n            \"qna\": null,\n            \"qnaId\": 3\n          }\n        ],\n        \"promptsToDelete\": [\n          3\n        ]\n      }\n    },\n    {\n      \"id\": 3,\n      \"answer\": \"You can use our REST apis to update your KB. See here for details: https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/knowledgebase/update\",\n      \"source\": \"Custom Editorial\",\n      \"questions\": {\n        \"add\": [\n\n        ],\n        \"delete\": [\n\n        ]\n      },\n      \"metadata\": {\n        \"delete\": [\n          {\n            \"name\": \"category\",\n            \"value\": \"api\"\n          }\n        ],\n        \"add\": [\n          {\n            \"name\": \"category\",\n            \"value\": \"programmatic\"\n          }\n        ]\n      },\n      \"alternateQuestionClusters\": {\n        \"delete\": [\n\n        ]\n      },\n      \"context\": {\n        \"isContextOnly\": false,\n        \"promptsToAdd\": [\n          {\n            \"displayText\": \"Regenerate Endpoint keys\",\n            \"displayOrder\": 1,\n            \"qna\": null,\n            \"qnaId\": 4\n          }\n        ],\n        \"promptsToDelete\": [\n          4\n        ]\n      }\n    }\n  ]\n}"
        }
      }
    },
    "QnaList2": {
      "description": "Model for QnaList2",
      "required": [
        "alternateQuestionClusters"
      ],
      "properties": {
        "alternateQuestionClusters": {
          "$ref": "#/definitions/AlternateQuestionClusters",
          "x-example": "{\n  \"delete\": [\n\n  ]\n}"
        },
        "answer": {
          "type": "string",
          "x-example": "You can use our REST apis to create a KB. See here for details: https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/knowledgebase/create"
        },
        "context": {
          "$ref": "#/definitions/Context",
          "x-example": "{\n  \"isContextOnly\": false,\n  \"promptsToAdd\": [\n    {\n      \"displayText\": \"Add Prompts\",\n      \"displayOrder\": 0,\n      \"qna\": {\n        \"id\": 0,\n        \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n        \"source\": \"Editorial\",\n        \"questions\": [\n          \"How can I add prompts?\"\n        ],\n        \"metadata\": [\n\n        ],\n        \"alternateQuestionClusters\": [\n\n        ],\n        \"context\": {\n          \"isContextOnly\": false,\n          \"prompts\": [\n\n          ]\n        }\n      },\n      \"qnaId\": 0\n    },\n    {\n      \"displayText\": \"Delete Prompts\",\n      \"displayOrder\": 0,\n      \"qna\": {\n        \"id\": 0,\n        \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n        \"source\": \"Editorial\",\n        \"questions\": [\n          \"How can I delete delete prompts?\"\n        ],\n        \"metadata\": [\n\n        ],\n        \"alternateQuestionClusters\": [\n\n        ],\n        \"context\": {\n          \"isContextOnly\": false,\n          \"prompts\": [\n\n          ]\n        }\n      },\n      \"qnaId\": 0\n    },\n    {\n      \"displayText\": \"Update Knowledgebase\",\n      \"displayOrder\": 0,\n      \"qna\": null,\n      \"qnaId\": 3\n    }\n  ],\n  \"promptsToDelete\": [\n    3\n  ]\n}"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "x-example": "2"
        },
        "metadata": {
          "$ref": "#/definitions/Metadata",
          "x-example": "{\n  \"add\": [\n\n  ],\n  \"delete\": [\n\n  ]\n}"
        },
        "questions": {
          "$ref": "#/definitions/Questions",
          "x-example": "{\n  \"add\": [\n\n  ],\n  \"delete\": [\n\n  ]\n}"
        },
        "source": {
          "type": "string",
          "x-example": "Custom Editorial"
        }
      }
    },
    "Context": {
      "description": "Model for Context",
      "required": [
        "isContextOnly"
      ],
      "properties": {
        "isContextOnly": {
          "type": "boolean",
          "x-example": "false"
        },
        "promptsToAdd": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PromptsToAdd"
          },
          "x-example": "[\n  {\n    \"displayText\": \"Add Prompts\",\n    \"displayOrder\": 0,\n    \"qna\": {\n      \"id\": 0,\n      \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n      \"source\": \"Editorial\",\n      \"questions\": [\n        \"How can I add prompts?\"\n      ],\n      \"metadata\": [\n\n      ],\n      \"alternateQuestionClusters\": [\n\n      ],\n      \"context\": {\n        \"isContextOnly\": false,\n        \"prompts\": [\n\n        ]\n      }\n    },\n    \"qnaId\": 0\n  },\n  {\n    \"displayText\": \"Delete Prompts\",\n    \"displayOrder\": 0,\n    \"qna\": {\n      \"id\": 0,\n      \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n      \"source\": \"Editorial\",\n      \"questions\": [\n        \"How can I delete delete prompts?\"\n      ],\n      \"metadata\": [\n\n      ],\n      \"alternateQuestionClusters\": [\n\n      ],\n      \"context\": {\n        \"isContextOnly\": false,\n        \"prompts\": [\n\n        ]\n      }\n    },\n    \"qnaId\": 0\n  },\n  {\n    \"displayText\": \"Update Knowledgebase\",\n    \"displayOrder\": 0,\n    \"qna\": null,\n    \"qnaId\": 3\n  }\n]"
        },
        "promptsToDelete": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "x-example": "[3]"
        }
      }
    },
    "PromptsToAdd": {
      "description": "Model for PromptsToAdd",
      "required": [
        "displayOrder"
      ],
      "properties": {
        "displayOrder": {
          "type": "integer",
          "format": "int32",
          "x-example": "0"
        },
        "displayText": {
          "type": "string",
          "x-example": "Add Prompts"
        },
        "qna": {
          "$ref": "#/definitions/Qna",
          "x-example": "{\n  \"id\": 0,\n  \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n  \"source\": \"Editorial\",\n  \"questions\": [\n    \"How can I add prompts?\"\n  ],\n  \"metadata\": [\n\n  ],\n  \"alternateQuestionClusters\": [\n\n  ],\n  \"context\": {\n    \"isContextOnly\": false,\n    \"prompts\": [\n\n    ]\n  }\n}"
        },
        "qnaId": {
          "type": "integer",
          "format": "int32",
          "x-example": "0"
        }
      }
    },
    "Context22": {
      "description": "Model for Context2",
      "required": [
        "isContextOnly"
      ],
      "properties": {
        "isContextOnly": {
          "type": "boolean",
          "x-example": "false"
        },
        "prompts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-example": "[]"
        }
      }
    },
    "Qna": {
      "description": "Model for Qna",
      "required": [
        "alternateQuestionClusters"
      ],
      "properties": {
        "alternateQuestionClusters": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-example": "[]"
        },
        "answer": {
          "type": "string",
          "x-example": "Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation"
        },
        "context": {
          "$ref": "#/definitions/Context",
          "x-example": "{\n  \"isContextOnly\": false,\n  \"prompts\": [\n\n  ]\n}"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "x-example": "0"
        },
        "metadata": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-example": "[]"
        },
        "questions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-example": "[\"How can I add prompts?\"]"
        },
        "source": {
          "type": "string",
          "x-example": "Editorial"
        }
      }
    },
    "AlternateQuestionClusters": {
      "description": "Model for AlternateQuestionClusters",
      "required": [
        "delete"
      ],
      "properties": {
        "delete": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-example": "[]"
        }
      }
    },
    "Metadata": {
      "description": "Model for Metadata",
      "required": [
        "add"
      ],
      "properties": {
        "add": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-example": "[]"
        },
        "delete": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-example": "[]"
        }
      }
    },
    "Questions": {
      "description": "Model for Questions",
      "required": [
        "add"
      ],
      "properties": {
        "add": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-example": "[]"
        },
        "delete": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-example": "[]"
        }
      }
    },
    "Update": {
      "description": "Model for Update",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "x-example": "QnA Maker FAQ Prompts Bot"
        },
        "qnaList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/QnaList2"
          },
          "x-example": "[\n  {\n    \"id\": 2,\n    \"answer\": \"You can use our REST apis to create a KB. See here for details: https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/knowledgebase/create\",\n    \"source\": \"Custom Editorial\",\n    \"questions\": {\n      \"add\": [\n\n      ],\n      \"delete\": [\n\n      ]\n    },\n    \"metadata\": {\n      \"add\": [\n\n      ],\n      \"delete\": [\n\n      ]\n    },\n    \"alternateQuestionClusters\": {\n      \"delete\": [\n\n      ]\n    },\n    \"context\": {\n      \"isContextOnly\": false,\n      \"promptsToAdd\": [\n        {\n          \"displayText\": \"Add Prompts\",\n          \"displayOrder\": 0,\n          \"qna\": {\n            \"id\": 0,\n            \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n            \"source\": \"Editorial\",\n            \"questions\": [\n              \"How can I add prompts?\"\n            ],\n            \"metadata\": [\n\n            ],\n            \"alternateQuestionClusters\": [\n\n            ],\n            \"context\": {\n              \"isContextOnly\": false,\n              \"prompts\": [\n\n              ]\n            }\n          },\n          \"qnaId\": 0\n        },\n        {\n          \"displayText\": \"Delete Prompts\",\n          \"displayOrder\": 0,\n          \"qna\": {\n            \"id\": 0,\n            \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n            \"source\": \"Editorial\",\n            \"questions\": [\n              \"How can I delete delete prompts?\"\n            ],\n            \"metadata\": [\n\n            ],\n            \"alternateQuestionClusters\": [\n\n            ],\n            \"context\": {\n              \"isContextOnly\": false,\n              \"prompts\": [\n\n              ]\n            }\n          },\n          \"qnaId\": 0\n        },\n        {\n          \"displayText\": \"Update Knowledgebase\",\n          \"displayOrder\": 0,\n          \"qna\": null,\n          \"qnaId\": 3\n        }\n      ],\n      \"promptsToDelete\": [\n        3\n      ]\n    }\n  },\n  {\n    \"id\": 3,\n    \"answer\": \"You can use our REST apis to update your KB. See here for details: https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/knowledgebase/update\",\n    \"source\": \"Custom Editorial\",\n    \"questions\": {\n      \"add\": [\n\n      ],\n      \"delete\": [\n\n      ]\n    },\n    \"metadata\": {\n      \"delete\": [\n        {\n          \"name\": \"category\",\n          \"value\": \"api\"\n        }\n      ],\n      \"add\": [\n        {\n          \"name\": \"category\",\n          \"value\": \"programmatic\"\n        }\n      ]\n    },\n    \"alternateQuestionClusters\": {\n      \"delete\": [\n\n      ]\n    },\n    \"context\": {\n      \"isContextOnly\": false,\n      \"promptsToAdd\": [\n        {\n          \"displayText\": \"Regenerate Endpoint keys\",\n          \"displayOrder\": 1,\n          \"qna\": null,\n          \"qnaId\": 4\n        }\n      ],\n      \"promptsToDelete\": [\n        4\n      ]\n    }\n  }\n]"
        }
      }
    },
    "Delete": {
      "description": "Model for Delete",
      "required": [
        "ids"
      ],
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "x-example": "[13, 35]"
        }
      }
    },
    "Files": {
      "description": "Model for Files",
      "required": [
        "fileName"
      ],
      "properties": {
        "fileName": {
          "type": "string",
          "x-example": "SurfaceManual.pdf"
        },
        "fileUri": {
          "type": "string",
          "x-example": "https://download.microsoft.com/download/2/9/B/29B20383-302C-4517-A006-B0186F04BE28/surface-pro-4-user-guide-EN.pdf"
        }
      }
    },
    "Add": {
      "description": "Model for Add",
      "required": [
        "files"
      ],
      "properties": {
        "files": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Files"
          },
          "x-example": "[\n  {\n    \"fileName\": \"SurfaceManual.pdf\",\n    \"fileUri\": \"https://download.microsoft.com/download/2/9/B/29B20383-302C-4517-A006-B0186F04BE28/surface-pro-4-user-guide-EN.pdf\"\n  }\n]"
        },
        "qnaList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/QnaList"
          },
          "x-example": "[\n  {\n    \"id\": 0,\n    \"answer\": \"You can change the default message if you use the QnAMakerDialog. See this for details: https://docs.botframework.com/en-us/azure-bot-service/templates/qnamaker/#navtitle\",\n    \"source\": \"Custom Editorial\",\n    \"questions\": [\n      \"How can I change the default message from QnA Maker?\"\n    ],\n    \"metadata\": [\n\n    ]\n  }\n]"
        },
        "urls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-example": "[\"https://docs.microsoft.com/en-us/azure/cognitive-services/Emotion/FAQ\"]"
        }
      }
    },
    "QnaList": {
      "description": "Model for QnaList",
      "required": [
        "answer"
      ],
      "properties": {
        "answer": {
          "type": "string",
          "x-example": "You can change the default message if you use the QnAMakerDialog. See this for details: https://docs.botframework.com/en-us/azure-bot-service/templates/qnamaker/#navtitle"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "x-example": "0"
        },
        "metadata": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-example": "[]"
        },
        "questions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-example": "[\"How can I change the default message from QnA Maker?\"]"
        },
        "source": {
          "type": "string",
          "x-example": "Custom Editorial"
        }
      }
    }
  },
  "securityDefinitions": {
    "Default": {
      "description": "Default Authentication",
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    }
  },
  "security": [],
  "tags": [
    {
      "name": "Qnamaker",
      "description": "Operations about Qnamaker"
    }
  ]
}