{
  "openapi": "3.0.1",
  "info": {
    "title": "MailboxValidator Email Validation",
    "description": "The Single Validation API does validation on a single email address and returns all the validation results in either JSON or XML format. Refer to https://www.mailboxvalidator.com for further information.",
    "version": "0.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/mailboxvalidator/MailboxValidator-Email-Validation/0.1"
  },
  "servers": [
    {
      "url": "https://api.mailboxvalidator.com"
    }
  ],
  "paths": {
    "/v1/validation/single": {
      "get": {
        "description": "The Single Validation API does validation on a single email address and returns all the validation results in either JSON or XML format.",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Return the result in json (default) or xml format.",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ]
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "The email address to be validated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "single email validation response",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "0": {
                    "value": "{\"email_address\":\"\",\"domain\":\"\",\"is_free\":\"\",\"is_syntax\":\"\",\"is_domain\":\"\",\"is_smtp\":\"\",\"is_verified\":\"\",\"is_server_down\":\"\",\"is_greylisted\":\"\",\"is_disposable\":\"\",\"is_suppressed\":\"\",\"is_role\":\"\",\"is_high_risk\":\"\",\"is_catchall\":\"\",\"mailboxvalidator_score\":\"\",\"time_taken\":0,\"status\":\"\",\"credits_available\":\"\",\"error_code\":\"100\",\"error_message\":\"Missing parameter.\"}"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}