{
  "openapi": "3.0.3",
  "info": {
    "title": "Smore API",
    "description": "The Smore API allows you to manage forms, retrieve user profile information, and configure webhooks for form submissions. Authentication is performed via OAuth 2.0 Bearer tokens.",
    "version": "1.0.0",
    "contact": {
      "name": "Smore",
      "url": "https://smore.im"
    },
    "termsOfService": "https://smore.im/terms"
  },
  "servers": [
    {
      "url": "https://smore.im/api/v1",
      "description": "Smore API v1 Production Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getProfile",
        "summary": "Get user profile",
        "description": "Retrieves the authenticated user's profile information including user ID and email address.",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "Successful response with user profile information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated. The request lacks valid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidToken": {
                    "summary": "Invalid access token",
                    "value": {
                      "errorCode": 401001,
                      "message": "Invalid access token"
                    }
                  },
                  "missingHeader": {
                    "summary": "Authorization header is missing",
                    "value": {
                      "errorCode": 401003,
                      "message": "Authorization header is missing"
                    }
                  },
                  "wrongType": {
                    "summary": "Authorization type is not Bearer",
                    "value": {
                      "errorCode": 401004,
                      "message": "Authorization type is not Bearer"
                    }
                  },
                  "expiredToken": {
                    "summary": "Access token is expired",
                    "value": {
                      "errorCode": 401005,
                      "message": "Access token is expired, please refresh"
                    }
                  },
                  "userNotFound": {
                    "summary": "User not found",
                    "value": {
                      "errorCode": 401006,
                      "message": "User not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/forms": {
      "get": {
        "operationId": "listForms",
        "summary": "List forms",
        "description": "Retrieves a paginated list of forms belonging to the authenticated user.",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page (1 to 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a paginated list of forms.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated. The request lacks valid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "description": "Creates a new webhook for a specified form. When form submissions are received, Smore will send a POST request to the specified webhook URL.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created successfully. Returns the webhook secret for verifying webhook payloads.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWebhookResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated. The request lacks valid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The authenticated user does not have permission to create a webhook for this form.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The specified form does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook",
        "description": "Deletes an existing webhook by its ID.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the webhook to delete.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Webhook deleted successfully. No content returned."
          },
          "401": {
            "description": "Unauthenticated. The request lacks valid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The authenticated user does not have permission to delete this webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The specified form or webhook does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "OAuth2 Access Token",
        "description": "OAuth 2.0 Bearer token obtained via the authorization code flow."
      },
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authorization code flow for obtaining access tokens.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://smore.im/authorize",
            "tokenUrl": "https://smore.im/api/oauth2/token",
            "refreshUrl": "https://smore.im/api/oauth2/refresh",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "Profile": {
        "type": "object",
        "required": [
          "id",
          "email"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier of the user."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email address of the user."
          }
        }
      },
      "Form": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the form."
          },
          "title": {
            "type": "string",
            "description": "The title of the form."
          },
          "description": {
            "type": "string",
            "description": "The description of the form."
          },
          "language": {
            "type": "string",
            "description": "The language of the form."
          }
        }
      },
      "FormListResponse": {
        "type": "object",
        "properties": {
          "total_items": {
            "type": "integer",
            "description": "The total number of forms."
          },
          "total_pages": {
            "type": "integer",
            "description": "The total number of pages."
          },
          "data": {
            "type": "array",
            "description": "The list of forms for the current page.",
            "items": {
              "$ref": "#/components/schemas/Form"
            }
          }
        }
      },
      "CreateWebhookRequest": {
        "type": "object",
        "required": [
          "id",
          "webhookUrl"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The form identifier (from the form URL, e.g., '12345abcde')."
          },
          "webhookUrl": {
            "type": "string",
            "format": "uri",
            "description": "The destination URL where webhook payloads will be sent."
          }
        }
      },
      "CreateWebhookResponse": {
        "type": "object",
        "properties": {
          "webhookSecret": {
            "type": "string",
            "description": "A secret key used to verify the authenticity of incoming webhook payloads."
          }
        }
      },
      "DeleteWebhookRequest": {
        "type": "object",
        "required": [
          "id",
          "webhookUrl"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The form identifier."
          },
          "webhookUrl": {
            "type": "string",
            "format": "uri",
            "description": "The webhook endpoint URL to delete."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "errorCode",
          "message"
        ],
        "properties": {
          "errorCode": {
            "type": "integer",
            "description": "A numeric error code identifying the specific error."
          },
          "message": {
            "type": "string",
            "description": "A human-readable description of the error."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Profile",
      "description": "Endpoints for retrieving user profile information."
    },
    {
      "name": "Forms",
      "description": "Endpoints for managing and listing forms."
    },
    {
      "name": "Webhooks",
      "description": "Endpoints for creating and deleting webhooks for form submissions."
    }
  ],
  "externalDocs": {
    "description": "Smore API Documentation",
    "url": "https://api-docs.smore.im"
  }
}
