{
  "openapi": "3.0.3",
  "info": {
    "title": "MyFatoorah Payment API",
    "description": "MyFatoorah is a payment gateway for the Middle East and North Africa region. The API supports initiating payments, executing payments, checking payment status, direct card payments, sending payment links, and processing refunds.",
    "version": "2.0.0",
    "contact": {
      "name": "MyFatoorah Support",
      "url": "https://www.myfatoorah.com/contact.html"
    },
    "x-jentic-source-url": "https://docs.myfatoorah.com/"
  },
  "servers": [
    {
      "url": "https://apitest.myfatoorah.com",
      "description": "Test/Sandbox environment"
    },
    {
      "url": "https://api.myfatoorah.com",
      "description": "Production environment"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Payment",
      "description": "Payment initiation and execution operations"
    },
    {
      "name": "Inquiry",
      "description": "Payment status inquiry operations"
    },
    {
      "name": "Refund",
      "description": "Refund operations"
    }
  ],
  "paths": {
    "/v2/InitiatePayment": {
      "post": {
        "operationId": "initiatePayment",
        "summary": "Initiate Payment",
        "description": "Retrieve all available and enabled payment methods for your portal account with the commission charge that the customer may pay on the gateway.",
        "tags": [
          "Payment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment methods retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitiatePaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/ExecutePayment": {
      "post": {
        "operationId": "executePayment",
        "summary": "Execute Payment",
        "description": "Create a MyFatoorah invoice against a certain payment gateway. Returns a PaymentURL to redirect the customer to complete the payment.",
        "tags": [
          "Payment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecutePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutePaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/SendPayment": {
      "post": {
        "operationId": "sendPayment",
        "summary": "Send Payment",
        "description": "Create a payment invoice and send a payment link to the customer via SMS or email.",
        "tags": [
          "Payment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment link sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetPaymentStatus": {
      "post": {
        "operationId": "getPaymentStatus",
        "summary": "Get Payment Status",
        "description": "Check the status of an invoice to determine whether the payment has been completed. Use InvoiceId, PaymentId, or CustomerReference as the key.",
        "tags": [
          "Inquiry"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/MakeRefund": {
      "post": {
        "operationId": "makeRefund",
        "summary": "Make Refund",
        "description": "Cancel a payment and return funds to the customer. Supports full and partial refunds. The refund request is reviewed by MyFatoorah finance before execution.",
        "tags": [
          "Refund"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MakeRefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MakeRefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or refund not possible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Add 'Authorization: Bearer {Token}' to the request header."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "IsSuccess": {
            "type": "boolean",
            "example": false
          },
          "Message": {
            "type": "string"
          },
          "ValidationErrors": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          },
          "Data": {
            "nullable": true
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Error": {
            "type": "string"
          }
        }
      },
      "InitiatePaymentRequest": {
        "type": "object",
        "required": [
          "InvoiceAmount",
          "CurrencyIso"
        ],
        "properties": {
          "InvoiceAmount": {
            "type": "number",
            "description": "The transaction amount to charge the customer after applying coupon codes, taxes, etc."
          },
          "CurrencyIso": {
            "type": "string",
            "description": "The ISO currency code for the transaction (e.g., KWD, SAR, AED, USD)"
          }
        }
      },
      "InitiatePaymentResponse": {
        "type": "object",
        "properties": {
          "IsSuccess": {
            "type": "boolean"
          },
          "Message": {
            "type": "string"
          },
          "ValidationErrors": {
            "nullable": true
          },
          "Data": {
            "type": "object",
            "properties": {
              "PaymentMethods": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PaymentMethod"
                }
              }
            }
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "PaymentMethodId": {
            "type": "integer",
            "description": "The payment method ID in the MyFatoorah system"
          },
          "PaymentMethodAr": {
            "type": "string",
            "description": "Payment method Arabic name"
          },
          "PaymentMethodEn": {
            "type": "string",
            "description": "Payment method English name"
          },
          "PaymentMethodCode": {
            "type": "string",
            "description": "Code that refers to the payment method"
          },
          "IsDirectPayment": {
            "type": "boolean",
            "description": "Whether this payment method supports Direct Payment"
          },
          "ServiceCharge": {
            "type": "number",
            "description": "The transaction service charges based on portal profile settings"
          },
          "TotalAmount": {
            "type": "number",
            "description": "Total amount including service charges"
          },
          "CurrencyIso": {
            "type": "string",
            "description": "The currency code sent in the request"
          },
          "ImageUrl": {
            "type": "string",
            "format": "uri",
            "description": "Payment icon URL"
          },
          "IsEmbeddedSupported": {
            "type": "boolean",
            "description": "Whether this payment method supports Embedded Payment"
          },
          "PaymentCurrencyIso": {
            "type": "string",
            "description": "The currency of the gateway in which the payment will be made"
          }
        }
      },
      "ExecutePaymentRequest": {
        "type": "object",
        "required": [
          "InvoiceValue"
        ],
        "properties": {
          "InvoiceValue": {
            "type": "number",
            "description": "The amount to charge the customer (accepts decimal values e.g. 2.500)"
          },
          "PaymentMethodId": {
            "type": "integer",
            "description": "Payment method ID (required if SessionId not provided)"
          },
          "SessionId": {
            "type": "string",
            "description": "Session ID for Embedded Payment (required if PaymentMethodId not provided)"
          },
          "CustomerName": {
            "type": "string",
            "description": "Customer name displayed during checkout"
          },
          "CallBackUrl": {
            "type": "string",
            "format": "uri",
            "maxLength": 254,
            "description": "Return URL for successful payment"
          },
          "ErrorUrl": {
            "type": "string",
            "format": "uri",
            "maxLength": 254,
            "description": "Return URL for failed payment"
          },
          "DisplayCurrencyIso": {
            "type": "string",
            "description": "Currency ISO code to display to the customer"
          },
          "MobileCountryCode": {
            "type": "string",
            "description": "Customer mobile number country code"
          },
          "CustomerMobile": {
            "type": "string",
            "description": "Customer mobile number (English letters only, 0-11 length)"
          },
          "CustomerEmail": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "Language": {
            "type": "string",
            "enum": [
              "EN",
              "AR"
            ],
            "description": "Checkout page language"
          },
          "CustomerReference": {
            "type": "string",
            "description": "Order or transaction ID in your system"
          },
          "CustomerCivilId": {
            "type": "string",
            "description": "Customer civil ID"
          },
          "UserDefinedField": {
            "type": "string",
            "maxLength": 500,
            "description": "Custom field for additional information"
          },
          "CustomerAddress": {
            "$ref": "#/components/schemas/CustomerAddress"
          },
          "ExpiryDate": {
            "type": "string",
            "description": "Payment expiry date"
          },
          "InvoiceItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InvoiceItem"
            }
          },
          "ShippingMethod": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "1 for DHL, 2 for ARAMEX"
          },
          "Suppliers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InvoiceSupplier"
            }
          },
          "RecurringModel": {
            "$ref": "#/components/schemas/RecurringModel"
          },
          "WebhookUrl": {
            "type": "string",
            "format": "uri",
            "description": "Webhook URL for invoice events"
          }
        }
      },
      "CustomerAddress": {
        "type": "object",
        "properties": {
          "Block": {
            "type": "string",
            "description": "Block number or area name"
          },
          "Street": {
            "type": "string",
            "description": "Delivery address street name"
          },
          "HouseBuildingNo": {
            "type": "string",
            "description": "House/Building Number"
          },
          "Address": {
            "type": "string",
            "description": "Full address details"
          },
          "AddressInstructions": {
            "type": "string",
            "description": "Additional instructions for delivery"
          }
        }
      },
      "InvoiceItem": {
        "type": "object",
        "required": [
          "ItemName",
          "Quantity",
          "UnitPrice"
        ],
        "properties": {
          "ItemName": {
            "type": "string",
            "description": "Invoice item name"
          },
          "Quantity": {
            "type": "integer",
            "description": "Item quantity"
          },
          "UnitPrice": {
            "type": "number",
            "description": "Item unit price"
          },
          "Weight": {
            "type": "number",
            "description": "Weight in kg (0 < weight <= 100)"
          },
          "Width": {
            "type": "number",
            "description": "Width in cm (0 < width <= 200)"
          },
          "Height": {
            "type": "number",
            "description": "Height in cm (0 < height <= 160)"
          },
          "Depth": {
            "type": "number",
            "description": "Depth in cm (0 < depth <= 200)"
          }
        }
      },
      "InvoiceSupplier": {
        "type": "object",
        "required": [
          "SupplierCode",
          "InvoiceShare"
        ],
        "properties": {
          "SupplierCode": {
            "type": "integer",
            "description": "Supplier code to associate the invoice with"
          },
          "ProposedShare": {
            "type": "number",
            "description": "Amount the supplier will get after paying"
          },
          "InvoiceShare": {
            "type": "number",
            "description": "Amount from total invoice value for this supplier"
          }
        }
      },
      "RecurringModel": {
        "type": "object",
        "properties": {
          "RecurringType": {
            "type": "string",
            "enum": [
              "Custom",
              "Daily",
              "Weekly",
              "Monthly"
            ],
            "description": "Interval time of charging the customer"
          },
          "IntervalDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 180,
            "description": "Valid for Custom recurring type"
          },
          "Iteration": {
            "type": "integer",
            "description": "Number of times to charge the customer"
          },
          "RetryCount": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5,
            "description": "Retry count for failed recurring payments"
          }
        }
      },
      "ExecutePaymentResponse": {
        "type": "object",
        "properties": {
          "IsSuccess": {
            "type": "boolean"
          },
          "Message": {
            "type": "string"
          },
          "ValidationErrors": {
            "nullable": true
          },
          "Data": {
            "type": "object",
            "properties": {
              "InvoiceId": {
                "type": "integer",
                "description": "Invoice number for status inquiries"
              },
              "IsDirectPayment": {
                "type": "boolean",
                "description": "Whether the URL is for Direct Payment"
              },
              "PaymentURL": {
                "type": "string",
                "format": "uri",
                "description": "URL to redirect customer or submit card details"
              },
              "CustomerReference": {
                "type": "string"
              },
              "UserDefinedField": {
                "type": "string",
                "nullable": true
              },
              "RecurringId": {
                "type": "string"
              }
            }
          }
        }
      },
      "SendPaymentRequest": {
        "type": "object",
        "required": [
          "InvoiceValue",
          "NotificationOption",
          "CustomerName"
        ],
        "properties": {
          "InvoiceValue": {
            "type": "number",
            "description": "The amount to charge"
          },
          "NotificationOption": {
            "type": "string",
            "enum": [
              "SMS",
              "EML",
              "ALL",
              "LNK"
            ],
            "description": "How to notify the customer"
          },
          "CustomerName": {
            "type": "string",
            "description": "Customer name"
          },
          "DisplayCurrencyIso": {
            "type": "string"
          },
          "MobileCountryCode": {
            "type": "string"
          },
          "CustomerMobile": {
            "type": "string"
          },
          "CustomerEmail": {
            "type": "string",
            "format": "email"
          },
          "Language": {
            "type": "string",
            "enum": [
              "EN",
              "AR"
            ]
          },
          "CustomerReference": {
            "type": "string"
          },
          "UserDefinedField": {
            "type": "string"
          },
          "CallBackUrl": {
            "type": "string",
            "format": "uri"
          },
          "ErrorUrl": {
            "type": "string",
            "format": "uri"
          },
          "InvoiceItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InvoiceItem"
            }
          }
        }
      },
      "SendPaymentResponse": {
        "type": "object",
        "properties": {
          "IsSuccess": {
            "type": "boolean"
          },
          "Message": {
            "type": "string"
          },
          "ValidationErrors": {
            "nullable": true
          },
          "Data": {
            "type": "object",
            "properties": {
              "InvoiceId": {
                "type": "integer"
              },
              "InvoiceURL": {
                "type": "string",
                "format": "uri"
              },
              "CustomerReference": {
                "type": "string"
              },
              "UserDefinedField": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "GetPaymentStatusRequest": {
        "type": "object",
        "required": [
          "Key",
          "KeyType"
        ],
        "properties": {
          "Key": {
            "type": "string",
            "description": "Invoice number, payment ID, or customer reference"
          },
          "KeyType": {
            "type": "string",
            "enum": [
              "InvoiceId",
              "PaymentId",
              "CustomerReference"
            ],
            "description": "Type of key used for the inquiry"
          }
        }
      },
      "GetPaymentStatusResponse": {
        "type": "object",
        "properties": {
          "IsSuccess": {
            "type": "boolean"
          },
          "Message": {
            "type": "string"
          },
          "ValidationErrors": {
            "nullable": true
          },
          "Data": {
            "$ref": "#/components/schemas/PaymentStatusData"
          }
        }
      },
      "PaymentStatusData": {
        "type": "object",
        "properties": {
          "InvoiceId": {
            "type": "integer"
          },
          "InvoiceStatus": {
            "type": "string",
            "enum": [
              "Pending",
              "Paid",
              "Canceled"
            ]
          },
          "InvoiceReference": {
            "type": "string"
          },
          "CustomerReference": {
            "type": "string"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExpiryDate": {
            "type": "string"
          },
          "InvoiceValue": {
            "type": "number"
          },
          "Comments": {
            "type": "string",
            "nullable": true
          },
          "CustomerName": {
            "type": "string"
          },
          "CustomerMobile": {
            "type": "string"
          },
          "CustomerEmail": {
            "type": "string",
            "nullable": true
          },
          "UserDefinedField": {
            "type": "string",
            "nullable": true
          },
          "InvoiceDisplayValue": {
            "type": "string"
          },
          "DueDeposit": {
            "type": "number"
          },
          "DepositStatus": {
            "type": "string"
          },
          "InvoiceItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InvoiceItem"
            }
          },
          "InvoiceTransactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InvoiceTransaction"
            }
          },
          "Suppliers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplierInfo"
            }
          }
        }
      },
      "InvoiceTransaction": {
        "type": "object",
        "properties": {
          "TransactionDate": {
            "type": "string",
            "format": "date-time"
          },
          "PaymentGateway": {
            "type": "string"
          },
          "ReferenceId": {
            "type": "string"
          },
          "TrackId": {
            "type": "string"
          },
          "TransactionId": {
            "type": "string"
          },
          "PaymentId": {
            "type": "string"
          },
          "AuthorizationId": {
            "type": "string"
          },
          "TransactionStatus": {
            "type": "string",
            "enum": [
              "InProgress",
              "Succss",
              "Failed",
              "Canceled",
              "Authorize"
            ]
          },
          "TransationValue": {
            "type": "string"
          },
          "CustomerServiceCharge": {
            "type": "string"
          },
          "TotalServiceCharge": {
            "type": "string"
          },
          "DueValue": {
            "type": "string"
          },
          "PaidCurrency": {
            "type": "string"
          },
          "PaidCurrencyValue": {
            "type": "string"
          },
          "VatAmount": {
            "type": "string"
          },
          "Currency": {
            "type": "string"
          },
          "Error": {
            "type": "string",
            "nullable": true
          },
          "CardNumber": {
            "type": "string",
            "nullable": true
          },
          "ErrorCode": {
            "type": "string"
          },
          "ECI": {
            "type": "string"
          },
          "Card": {
            "$ref": "#/components/schemas/CardInfo"
          }
        }
      },
      "CardInfo": {
        "type": "object",
        "properties": {
          "NameOnCard": {
            "type": "string"
          },
          "Number": {
            "type": "string"
          },
          "PanHash": {
            "type": "string"
          },
          "ExpiryMonth": {
            "type": "string"
          },
          "ExpiryYear": {
            "type": "string"
          },
          "Brand": {
            "type": "string"
          },
          "Issuer": {
            "type": "string"
          },
          "IssuerCountry": {
            "type": "string"
          },
          "FundingMethod": {
            "type": "string"
          }
        }
      },
      "SupplierInfo": {
        "type": "object",
        "properties": {
          "SupplierCode": {
            "type": "integer"
          },
          "SupplierName": {
            "type": "string"
          },
          "InvoiceShare": {
            "type": "number"
          },
          "ProposedShare": {
            "type": "number",
            "nullable": true
          },
          "DepositShare": {
            "type": "number"
          }
        }
      },
      "MakeRefundRequest": {
        "type": "object",
        "required": [
          "KeyType",
          "Key",
          "Amount"
        ],
        "properties": {
          "KeyType": {
            "type": "string",
            "enum": [
              "InvoiceId",
              "PaymentId"
            ],
            "description": "Whether the key is an InvoiceId or PaymentId"
          },
          "Key": {
            "type": "string",
            "description": "Value of the key type"
          },
          "ServiceChargeOnCustomer": {
            "type": "boolean",
            "description": "Whether the customer will be charged for service fees"
          },
          "Amount": {
            "type": "number",
            "description": "The amount to be refunded"
          },
          "Comment": {
            "type": "string",
            "description": "Extra comments for reference"
          },
          "ExternalIdentifier": {
            "type": "string",
            "description": "External data associated with the refund"
          },
          "AmountDeductedFromSupplier": {
            "type": "number",
            "description": "Amount deducted from the supplier in the refund"
          }
        }
      },
      "MakeRefundResponse": {
        "type": "object",
        "properties": {
          "IsSuccess": {
            "type": "boolean"
          },
          "Message": {
            "type": "string"
          },
          "ValidationErrors": {
            "nullable": true
          },
          "Data": {
            "type": "object",
            "properties": {
              "Key": {
                "type": "string"
              },
              "RefundId": {
                "type": "integer"
              },
              "RefundReference": {
                "type": "string"
              },
              "RefundInvoiceId": {
                "type": "integer"
              },
              "Amount": {
                "type": "number"
              },
              "Comment": {
                "type": "string"
              },
              "ExternalIdentifier": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
