{
  "openapi": "3.0.3",
  "info": {
    "title": "Dubble API",
    "version": "1.0.0",
    "description": "Dubble API for managing guides, collections, and webhooks for the Dubble documentation platform.",
    "x-jentic-source-url": "https://dubble.readme.io/reference/getcollections"
  },
  "servers": [
    { "url": "https://api.dubble.so/v1" }
  ],
  "paths": {
    "/collections": {
      "get": {
        "operationId": "listCollections", "summary": "List collections", "tags": ["Collections"],
        "parameters": [
          { "name": "search", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "sortBy", "in": "query", "required": false, "schema": { "type": "string", "enum": ["created_at", "updated_at"] } },
          { "name": "sort", "in": "query", "required": false, "schema": { "type": "string", "enum": ["asc", "desc"] } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Collection" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "post": {
        "operationId": "createCollection", "summary": "Create a collection", "tags": ["Collections"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CollectionInput" } } } },
        "responses": {
          "201": { "description": "Collection created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Collection" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/collections/{collectionId}": {
      "put": {
        "operationId": "updateCollection", "summary": "Update a collection", "tags": ["Collections"],
        "parameters": [{ "name": "collectionId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CollectionInput" } } } },
        "responses": {
          "200": { "description": "Collection updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Collection" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "operationId": "deleteCollection", "summary": "Delete a collection", "tags": ["Collections"],
        "parameters": [{ "name": "collectionId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Collection deleted" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/guides": {
      "get": {
        "operationId": "listGuides", "summary": "List guides", "tags": ["Guides"],
        "parameters": [
          { "name": "collection", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "search", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "sort", "in": "query", "required": false, "schema": { "type": "string", "enum": ["asc", "desc"] } },
          { "name": "created_after", "in": "query", "required": false, "schema": { "type": "string", "format": "date-time" } },
          { "name": "updated_after", "in": "query", "required": false, "schema": { "type": "string", "format": "date-time" } },
          { "name": "per_page", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "cursor", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Guide" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/guides/{guideId}": {
      "get": {
        "operationId": "getGuide", "summary": "Get a guide", "tags": ["Guides"],
        "parameters": [{ "name": "guideId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Guide" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "operationId": "updateGuide", "summary": "Update a guide", "tags": ["Guides"],
        "parameters": [{ "name": "guideId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GuideInput" } } } },
        "responses": {
          "200": { "description": "Guide updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Guide" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "operationId": "deleteGuide", "summary": "Delete a guide", "tags": ["Guides"],
        "parameters": [{ "name": "guideId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Guide deleted" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/guides/{guideId}/html": {
      "get": {
        "operationId": "getGuideHtml", "summary": "Get guide as HTML", "tags": ["Guides"],
        "parameters": [{ "name": "guideId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "HTML content", "content": { "text/html": { "schema": { "type": "string" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/guides/{guideId}/markdown": {
      "get": {
        "operationId": "getGuideMarkdown", "summary": "Get guide as Markdown", "tags": ["Guides"],
        "parameters": [{ "name": "guideId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Markdown content", "content": { "text/markdown": { "schema": { "type": "string" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/guides/{guideId}/collections/{collectionId}": {
      "put": {
        "operationId": "addGuideToCollection", "summary": "Add guide to collection", "tags": ["Guides"],
        "parameters": [
          { "name": "guideId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "collectionId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Guide added to collection" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "operationId": "removeGuideFromCollection", "summary": "Remove guide from collection", "tags": ["Guides"],
        "parameters": [
          { "name": "guideId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "collectionId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Guide removed from collection" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks", "summary": "List webhooks", "tags": ["Webhooks"],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Webhook" } } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "post": {
        "operationId": "createWebhook", "summary": "Create a webhook", "tags": ["Webhooks"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WebhookInput" } } } },
        "responses": {
          "201": { "description": "Webhook created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Webhook" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/webhooks/{collectionId}": {
      "post": {
        "operationId": "createCollectionWebhook", "summary": "Create collection-specific webhook", "tags": ["Webhooks"],
        "parameters": [{ "name": "collectionId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WebhookInput" } } } },
        "responses": {
          "201": { "description": "Webhook created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Webhook" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/webhooks/{webhookId}": {
      "put": {
        "operationId": "updateWebhook", "summary": "Update a webhook", "tags": ["Webhooks"],
        "parameters": [{ "name": "webhookId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WebhookInput" } } } },
        "responses": {
          "200": { "description": "Webhook updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Webhook" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "operationId": "deleteWebhook", "summary": "Delete a webhook", "tags": ["Webhooks"],
        "parameters": [{ "name": "webhookId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Webhook deleted" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      }
    }
  },
  "components": {
    "schemas": {
      "Collection": { "type": "object", "properties": { "id": { "type": "string" }, "name": { "type": "string" }, "created_at": { "type": "string", "format": "date-time" }, "updated_at": { "type": "string", "format": "date-time" } } },
      "CollectionInput": { "type": "object", "properties": { "name": { "type": "string" } } },
      "Guide": { "type": "object", "properties": { "id": { "type": "string" }, "title": { "type": "string" }, "created_at": { "type": "string", "format": "date-time" }, "updated_at": { "type": "string", "format": "date-time" } } },
      "GuideInput": { "type": "object", "properties": { "title": { "type": "string" } } },
      "Webhook": { "type": "object", "properties": { "id": { "type": "string" }, "url": { "type": "string" }, "events": { "type": "array", "items": { "type": "string", "enum": ["guide_deleted", "guide_content_changed", "guide_added_to_collection", "guide_removed_from_collection"] } } } },
      "WebhookInput": { "type": "object", "properties": { "url": { "type": "string" }, "events": { "type": "array", "items": { "type": "string", "enum": ["guide_deleted", "guide_content_changed", "guide_added_to_collection", "guide_removed_from_collection"] } } } },
      "ErrorResponse": { "type": "object", "properties": { "status": { "type": "string", "enum": ["error"] }, "code": { "type": "string" }, "message": { "type": "string" } } }
    },
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    }
  },
  "security": [{ "bearerAuth": [] }]
}
