{
  "openapi": "3.0.3",
  "info": {
    "title": "Nameday API",
    "version": "2.0.0",
    "description": "Name day lookup API supporting multiple countries. Provides today's namedays, specific date lookups, and name search functionality.",
    "x-jentic-source-url": "https://nameday.abalin.net"
  },
  "servers": [
    {
      "url": "https://nameday.abalin.net/api"
    }
  ],
  "paths": {
    "/V2/today/{timezone}": {
      "get": {
        "operationId": "getTodayNamedays",
        "summary": "Get today's namedays",
        "description": "Returns namedays for the current date in the specified timezone.",
        "tags": [
          "Namedays"
        ],
        "parameters": [
          {
            "name": "timezone",
            "in": "path",
            "required": true,
            "description": "Timezone (e.g., Europe/London). Defaults to UTC.",
            "schema": {
              "type": "string",
              "default": "UTC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Today's namedays",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamedayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid timezone"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/V2/date": {
      "get": {
        "operationId": "getNamedaysByDate",
        "summary": "Get namedays for a specific date",
        "description": "Returns namedays for a given day and month.",
        "tags": [
          "Namedays"
        ],
        "parameters": [
          {
            "name": "day",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 31
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Namedays for the date",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamedayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid date parameters"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/V2/getname": {
      "post": {
        "operationId": "searchNameday",
        "summary": "Search nameday by name",
        "description": "Searches for the nameday of a specific name across multiple countries.",
        "tags": [
          "Namedays"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NameSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nameday search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamedayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NamedayResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NamedayData"
            }
          }
        }
      },
      "NamedayData": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "names": {
            "type": "string"
          },
          "date": {
            "type": "string"
          }
        }
      },
      "NameSearchRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 15,
            "description": "The name to search for."
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "security": []
}