{
  "openapi": "3.0.3",
  "info": {
    "title": "Babelbeez API",
    "version": "2.0.0",
    "description": "Programmatic access to manage Voice Agents, retrieve interaction data, and integrate with third-party platforms.",
    "x-jentic-source-url": "https://api.babelbeez.com/redoc"
  },
  "servers": [
    {
      "url": "https://api.babelbeez.com"
    }
  ],
  "paths": {
    "/api/integrations/wordpress/chatbots": {
      "get": {
        "operationId": "listWordPressChatbots",
        "summary": "List voice agents for WordPress plugin",
        "tags": [
          "WordPress"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/integrations/zapier/me": {
      "get": {
        "operationId": "zapierAuth",
        "summary": "Validate API key (Zapier)",
        "tags": [
          "Zapier"
        ],
        "responses": {
          "200": {
            "description": "Valid"
          },
          "401": {
            "description": "Invalid key"
          }
        }
      }
    },
    "/api/integrations/zapier/chatbots": {
      "get": {
        "operationId": "zapierListChatbots",
        "summary": "List agents with webhook secrets",
        "tags": [
          "Zapier"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/integrations/zapier/subscribe": {
      "post": {
        "operationId": "zapierSubscribe",
        "summary": "Register webhook URL",
        "tags": [
          "Zapier"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_url": {
                    "type": "string"
                  },
                  "chatbot_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/integrations/zapier/unsubscribe": {
      "delete": {
        "operationId": "zapierUnsubscribe",
        "summary": "Remove webhook subscription",
        "tags": [
          "Zapier"
        ],
        "responses": {
          "200": {
            "description": "Unsubscribed"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/integrations/zapier/chatbots/{public_chatbot_id}/schema": {
      "get": {
        "operationId": "zapierGetSchema",
        "summary": "Get output field schema",
        "tags": [
          "Zapier"
        ],
        "parameters": [
          {
            "name": "public_chatbot_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schema"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/integrations/zapier/test": {
      "get": {
        "operationId": "zapierTest",
        "summary": "Generate test event",
        "tags": [
          "Zapier"
        ],
        "responses": {
          "200": {
            "description": "Test event"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/integrations/make/me": {
      "get": {
        "operationId": "makeAuth",
        "summary": "Validate API key (Make)",
        "tags": [
          "Make"
        ],
        "responses": {
          "200": {
            "description": "Valid"
          },
          "401": {
            "description": "Invalid key"
          }
        }
      }
    },
    "/api/integrations/make/chatbots": {
      "get": {
        "operationId": "makeListChatbots",
        "summary": "List agents for Make dropdown",
        "tags": [
          "Make"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/integrations/make/subscribe": {
      "post": {
        "operationId": "makeSubscribe",
        "summary": "Attach webhook (Make)",
        "tags": [
          "Make"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribed"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/integrations/make/unsubscribe": {
      "post": {
        "operationId": "makeUnsubscribe",
        "summary": "Detach webhook (Make)",
        "tags": [
          "Make"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsubscribed"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}