{
  "openapi": "3.0.3",
  "info": {
    "title": "PCRecruiter API",
    "description": "PCRecruiter is a CRM that serves customers worldwide doing permanent placement, 3rd party recruitment, corporate direct hiring, and staffing/contracting.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://www.pcrecruiter.net/apidocs_v2/"
  },
  "servers": [
    {
      "url": "https://www.pcrecruiter.net/api",
      "description": "PCRecruiter API v2"
    }
  ],
  "paths": {
    "/access-token": {
      "get": {
        "operationId": "getAccessToken",
        "summary": "Retrieve a valid API session",
        "description": "Retrieve a valid API session token for authentication.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAccessToken",
        "summary": "Create a new API session",
        "description": "Create a new API session token.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAccessToken",
        "summary": "Remove session token and logoff",
        "description": "Remove session token and logoff user.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "204": {
            "description": "Session terminated"
          }
        }
      }
    },
    "/candidatesV2": {
      "get": {
        "operationId": "searchCandidates",
        "summary": "Search candidates",
        "description": "Search and filter candidate records.",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of candidates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Candidate"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCandidate",
        "summary": "Create a candidate",
        "description": "Create a new candidate record.",
        "tags": [
          "Candidates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Candidate created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          }
        }
      }
    },
    "/candidatesV2/{id}": {
      "get": {
        "operationId": "getCandidate",
        "summary": "Get candidate by ID",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Candidate details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateCandidate",
        "summary": "Update a candidate",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidate updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCandidate",
        "summary": "Delete a candidate",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Candidate deleted"
          }
        }
      }
    },
    "/candidatesV2/{id}/activities": {
      "get": {
        "operationId": "getCandidateActivities",
        "summary": "List candidate activities",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of activities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCandidateActivity",
        "summary": "Create candidate activity",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Activity created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          }
        }
      }
    },
    "/candidatesV2/{id}/attachments": {
      "get": {
        "operationId": "getCandidateAttachments",
        "summary": "List candidate attachments",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of attachments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attachment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCandidateAttachment",
        "summary": "Upload candidate attachment",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentUpload"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attachment uploaded"
          }
        }
      }
    },
    "/candidatesV2/{id}/Education": {
      "get": {
        "operationId": "getCandidateEducation",
        "summary": "List candidate education records",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Education records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Education"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCandidateEducation",
        "summary": "Add candidate education",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EducationCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Education record created"
          }
        }
      }
    },
    "/candidatesV2/{id}/WorkHistory": {
      "get": {
        "operationId": "getCandidateWorkHistory",
        "summary": "List candidate work history",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Work history records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkHistory"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCandidateWorkHistory",
        "summary": "Add candidate work history",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkHistoryCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Work history created"
          }
        }
      }
    },
    "/companiesV2": {
      "get": {
        "operationId": "searchCompanies",
        "summary": "Search companies",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of companies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Company"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCompany",
        "summary": "Create a company",
        "tags": [
          "Companies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Company created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    },
    "/companiesV2/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get company by ID",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateCompany",
        "summary": "Update a company",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteCompany",
        "summary": "Delete a company",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Company deleted"
          }
        }
      }
    },
    "/companiesV2/{id}/activities": {
      "get": {
        "operationId": "getCompanyActivities",
        "summary": "List company activities",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of activities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCompanyActivity",
        "summary": "Create company activity",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Activity created"
          }
        }
      }
    },
    "/positionsV2": {
      "get": {
        "operationId": "searchPositions",
        "summary": "Search positions",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of positions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Position"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPosition",
        "summary": "Create a position",
        "tags": [
          "Positions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PositionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Position created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Position"
                }
              }
            }
          }
        }
      }
    },
    "/positionsV2/{id}": {
      "get": {
        "operationId": "getPosition",
        "summary": "Get position by ID",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Position details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Position"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updatePosition",
        "summary": "Update a position",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PositionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position updated"
          }
        }
      },
      "delete": {
        "operationId": "deletePosition",
        "summary": "Delete a position",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Position deleted"
          }
        }
      }
    },
    "/positionsV2/{id}/activities": {
      "get": {
        "operationId": "getPositionActivities",
        "summary": "List position activities",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of activities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPositionActivity",
        "summary": "Create position activity",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Activity created"
          }
        }
      }
    },
    "/pipelineactivities": {
      "get": {
        "operationId": "listPipelineActivities",
        "summary": "List pipeline activities",
        "tags": [
          "Pipeline"
        ],
        "responses": {
          "200": {
            "description": "Pipeline activities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PipelineActivity"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPipelineActivity",
        "summary": "Create pipeline activity",
        "tags": [
          "Pipeline"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelineActivityCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pipeline activity created"
          }
        }
      }
    },
    "/PipelineInterviews": {
      "get": {
        "operationId": "listPipelineInterviews",
        "summary": "List pipeline interviews",
        "tags": [
          "Pipeline"
        ],
        "responses": {
          "200": {
            "description": "Pipeline interviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PipelineInterview"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPipelineInterview",
        "summary": "Create pipeline interview",
        "tags": [
          "Pipeline"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelineInterviewCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Interview created"
          }
        }
      }
    },
    "/PipelinePlacements": {
      "get": {
        "operationId": "listPipelinePlacements",
        "summary": "List pipeline placements",
        "tags": [
          "Pipeline"
        ],
        "responses": {
          "200": {
            "description": "Pipeline placements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PipelinePlacement"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPipelinePlacement",
        "summary": "Create pipeline placement",
        "tags": [
          "Pipeline"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelinePlacementCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Placement created"
          }
        }
      }
    },
    "/pipelinesteps": {
      "get": {
        "operationId": "listPipelineSteps",
        "summary": "List pipeline steps",
        "tags": [
          "Pipeline"
        ],
        "responses": {
          "200": {
            "description": "Pipeline steps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PipelineStep"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pipelinesteps/counts/{stepId}": {
      "get": {
        "operationId": "getPipelineStepCounts",
        "summary": "Get pipeline step counts",
        "tags": [
          "Pipeline"
        ],
        "parameters": [
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Step statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/calendar": {
      "get": {
        "operationId": "listCalendarEvents",
        "summary": "List calendar events",
        "tags": [
          "Calendar"
        ],
        "responses": {
          "200": {
            "description": "Calendar events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CalendarEvent"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCalendarEvent",
        "summary": "Create calendar event",
        "tags": [
          "Calendar"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarEventCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event created"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "operationId": "listNotifications",
        "summary": "List notifications",
        "tags": [
          "Notifications"
        ],
        "responses": {
          "200": {
            "description": "Notifications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Notification"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "AccessToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AccessTokenRequest": {
        "type": "object",
        "required": [
          "username",
          "password",
          "database_id"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "format": "password"
          },
          "database_id": {
            "type": "string"
          }
        }
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CandidateCreate": {
        "type": "object",
        "required": [
          "first_name",
          "last_name"
        ],
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CompanyCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "website": {
            "type": "string"
          }
        }
      },
      "Position": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "company_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PositionCreate": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "company_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Activity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ActivityCreate": {
        "type": "object",
        "required": [
          "type",
          "subject"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "content_type": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AttachmentUpload": {
        "type": "object",
        "required": [
          "file"
        ],
        "properties": {
          "file": {
            "type": "string",
            "format": "binary"
          }
        }
      },
      "Education": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "institution": {
            "type": "string"
          },
          "degree": {
            "type": "string"
          },
          "field_of_study": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "EducationCreate": {
        "type": "object",
        "required": [
          "institution"
        ],
        "properties": {
          "institution": {
            "type": "string"
          },
          "degree": {
            "type": "string"
          },
          "field_of_study": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "WorkHistory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "company_name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "WorkHistoryCreate": {
        "type": "object",
        "required": [
          "company_name",
          "title"
        ],
        "properties": {
          "company_name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "PipelineActivity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "candidate_id": {
            "type": "string"
          },
          "position_id": {
            "type": "string"
          },
          "step_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PipelineActivityCreate": {
        "type": "object",
        "required": [
          "candidate_id",
          "position_id"
        ],
        "properties": {
          "candidate_id": {
            "type": "string"
          },
          "position_id": {
            "type": "string"
          },
          "step_id": {
            "type": "string"
          }
        }
      },
      "PipelineInterview": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "candidate_id": {
            "type": "string"
          },
          "position_id": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "PipelineInterviewCreate": {
        "type": "object",
        "required": [
          "candidate_id",
          "position_id",
          "date"
        ],
        "properties": {
          "candidate_id": {
            "type": "string"
          },
          "position_id": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "PipelinePlacement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "candidate_id": {
            "type": "string"
          },
          "position_id": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "salary": {
            "type": "number"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "PipelinePlacementCreate": {
        "type": "object",
        "required": [
          "candidate_id",
          "position_id"
        ],
        "properties": {
          "candidate_id": {
            "type": "string"
          },
          "position_id": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "salary": {
            "type": "number"
          }
        }
      },
      "PipelineStep": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "CalendarEventCreate": {
        "type": "object",
        "required": [
          "title",
          "start_time"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "read": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}