{
  "openapi": "3.0.3",
  "info": {
    "title": "The News API",
    "description": "Access worldwide news articles, headlines, and top stories with advanced search and filtering capabilities.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.thenewsapi.com/documentation"
  },
  "servers": [
    {
      "url": "https://api.thenewsapi.com/v1"
    }
  ],
  "paths": {
    "/news/headlines": {
      "get": {
        "operationId": "getHeadlines",
        "summary": "Get news headlines grouped by category",
        "tags": [
          "News"
        ],
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API token"
          },
          {
            "name": "locale",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated country codes (e.g., us,ca)"
          },
          {
            "name": "domains",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated domains to include"
          },
          {
            "name": "exclude_domains",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated domains to exclude"
          },
          {
            "name": "source_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated source IDs to include"
          },
          {
            "name": "exclude_source_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated source IDs to exclude"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated languages (e.g., en,es)"
          },
          {
            "name": "published_on",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Date in Y-m-d format"
          },
          {
            "name": "headlines_per_category",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 6
            },
            "description": "Number of headlines per category (1-10)"
          },
          {
            "name": "include_similar",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Include similar articles"
          }
        ],
        "responses": {
          "200": {
            "description": "Headlines grouped by category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlinesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/news/top": {
      "get": {
        "operationId": "getTopStories",
        "summary": "Get top news stories",
        "tags": [
          "News"
        ],
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API token"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query with advanced syntax support (+, |, -, phrase, prefix, precedence)"
          },
          {
            "name": "search_fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fields to search: title, description, keywords, main_text"
          },
          {
            "name": "locale",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated country codes"
          },
          {
            "name": "categories",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated categories"
          },
          {
            "name": "exclude_categories",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Categories to exclude"
          },
          {
            "name": "domains",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated domains to include"
          },
          {
            "name": "exclude_domains",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Domains to exclude"
          },
          {
            "name": "source_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated source IDs"
          },
          {
            "name": "exclude_source_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Source IDs to exclude"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated languages"
          },
          {
            "name": "published_before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter articles published before this date"
          },
          {
            "name": "published_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter articles published after this date"
          },
          {
            "name": "published_on",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter articles published on this date (Y-m-d)"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "published_on",
                "relevance_score"
              ]
            },
            "description": "Sort order"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results (plan-dependent maximum)"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of top news stories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/news/all": {
      "get": {
        "operationId": "getAllNews",
        "summary": "Get all news articles with search and filters",
        "tags": [
          "News"
        ],
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API token"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query with advanced syntax support"
          },
          {
            "name": "search_fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fields to search"
          },
          {
            "name": "categories",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated categories"
          },
          {
            "name": "exclude_categories",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Categories to exclude"
          },
          {
            "name": "domains",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated domains to include"
          },
          {
            "name": "exclude_domains",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Domains to exclude"
          },
          {
            "name": "source_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated source IDs"
          },
          {
            "name": "exclude_source_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Source IDs to exclude"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated languages"
          },
          {
            "name": "published_before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter articles published before this date"
          },
          {
            "name": "published_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter articles published after this date"
          },
          {
            "name": "published_on",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter articles published on this date"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "published_on",
                "relevance_score"
              ]
            },
            "description": "Sort order"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of news articles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/news/similar/{uuid}": {
      "get": {
        "operationId": "getSimilarNews",
        "summary": "Get news articles similar to a specific article",
        "tags": [
          "News"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "UUID of the source article"
          },
          {
            "name": "api_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API token"
          },
          {
            "name": "categories",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated categories"
          },
          {
            "name": "exclude_categories",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Categories to exclude"
          },
          {
            "name": "domains",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated domains"
          },
          {
            "name": "exclude_domains",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Domains to exclude"
          },
          {
            "name": "source_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated source IDs"
          },
          {
            "name": "exclude_source_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Source IDs to exclude"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated languages"
          },
          {
            "name": "published_before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by published before date"
          },
          {
            "name": "published_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by published after date"
          },
          {
            "name": "published_on",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by published on date"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "List of similar news articles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/news/uuid/{uuid}": {
      "get": {
        "operationId": "getNewsByUuid",
        "summary": "Get a specific news article by UUID",
        "tags": [
          "News"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "UUID of the article"
          },
          {
            "name": "api_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API token"
          }
        ],
        "responses": {
          "200": {
            "description": "News article details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Article"
                }
              }
            }
          },
          "400": {
            "description": "Malformed parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/news/sources": {
      "get": {
        "operationId": "getSources",
        "summary": "Get available news sources",
        "tags": [
          "Sources"
        ],
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API token"
          },
          {
            "name": "categories",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated categories"
          },
          {
            "name": "exclude_categories",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Categories to exclude"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated languages"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "List of news sources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourcesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiTokenQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_token",
        "description": "API token found on your account dashboard"
      }
    },
    "schemas": {
      "Article": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "keywords": {
            "type": "string"
          },
          "snippet": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "published_at": {
            "type": "string",
            "format": "date-time"
          },
          "source": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "relevance_score": {
            "type": "number"
          },
          "locale": {
            "type": "string"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "found": {
            "type": "integer"
          },
          "returned": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          }
        }
      },
      "HeadlinesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Article"
              }
            }
          }
        }
      },
      "NewsListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Article"
            }
          }
        }
      },
      "Source": {
        "type": "object",
        "properties": {
          "source_id": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SourcesResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Source"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiTokenQuery": []
    }
  ],
  "tags": [
    {
      "name": "News",
      "description": "News article endpoints"
    },
    {
      "name": "Sources",
      "description": "News source endpoints"
    }
  ]
}