{
  "openapi": "3.0.3",
  "info": {
    "title": "Pharos API",
    "version": "1.0.0",
    "description": "Pharos AI geospatial data query API. Submit asynchronous queries for geospatial datasets covering climate, vegetation, and other environmental variables.",
    "x-jentic-source-url": "https://pharos-api.readme.io/reference/introduction"
  },
  "servers": [
    {
      "url": "https://api.pharosdata.io",
      "description": "Production"
    }
  ],
  "paths": {
    "/async": {
      "post": {
        "operationId": "submitQuery",
        "tags": [
          "Queries"
        ],
        "summary": "Submit a geospatial data query",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "variable",
                  "space",
                  "time"
                ],
                "properties": {
                  "variable": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Dataset variables (e.g. temperature.era5, ndvi.sentinel2)"
                  },
                  "space": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    },
                    "description": "Array of [latitude, longitude] pairs"
                  },
                  "time": {
                    "type": "object",
                    "properties": {
                      "start": {
                        "type": "string",
                        "format": "date"
                      },
                      "end": {
                        "type": "string",
                        "format": "date"
                      }
                    },
                    "description": "Time range for query"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "access_url": {
                      "type": "string",
                      "description": "S3 URL for parquet results"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/check": {
      "get": {
        "operationId": "checkQueryStatus",
        "tags": [
          "Queries"
        ],
        "summary": "Check query completion status",
        "parameters": [
          {
            "name": "query_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "QUEUED",
                        "RUNNING",
                        "SUCCEEDED",
                        "FAILED"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Queries",
      "description": "Data query operations"
    }
  ]
}