{
  "openapi": "3.0.3",
  "info": {
    "title": "Moxo API",
    "description": "Moxo (formerly Moxtra) provides embeddable collaboration and workflow automation capabilities. The API enables creation and management of workspaces, transactions, clients, documents, and e-signature workflows. Note: This specification is based on publicly available information from Moxo's Zapier integration and SDK documentation, as the full API documentation requires authentication.",
    "version": "3.8.0",
    "x-jentic-source-url": "https://developer.moxtra.com/docs/",
    "contact": {
      "name": "Moxo Support",
      "url": "https://www.moxo.com/"
    },
    "termsOfService": "https://www.moxo.com/terms-of-service/"
  },
  "servers": [
    {
      "url": "https://api.moxtra.com",
      "description": "Moxo Production API"
    }
  ],
  "security": [
    {
      "OAuth2": []
    },
    {
      "ApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Workspaces",
      "description": "Operations for managing workspaces and collaboration spaces"
    },
    {
      "name": "Transactions",
      "description": "Operations for managing transactions and workflows"
    },
    {
      "name": "Clients",
      "description": "Operations for managing client users"
    },
    {
      "name": "Files",
      "description": "Operations for file management"
    },
    {
      "name": "E-Signature",
      "description": "Operations for electronic signature workflows"
    },
    {
      "name": "Notes",
      "description": "Operations for creating and managing notes"
    },
    {
      "name": "Flows",
      "description": "Operations for workflow and flow management"
    }
  ],
  "paths": {
    "/workspaces": {
      "post": {
        "operationId": "createGroupWorkspace",
        "summary": "Create a group workspace",
        "description": "Creates a new collaborative workspace with multiple members",
        "tags": ["Workspaces"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspaceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/members": {
      "get": {
        "operationId": "findMembersByWorkspaceId",
        "summary": "Find members by workspace ID",
        "description": "Retrieves a list of members for a specific workspace",
        "tags": ["Workspaces"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the workspace"
          }
        ],
        "responses": {
          "200": {
            "description": "Members retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Member"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/flows/{flowId}/steps": {
      "post": {
        "operationId": "addStepInFlowWorkspace",
        "summary": "Add a step in flow workspace",
        "description": "Adds a new step to a flow workspace with customizable title, description, and due date",
        "tags": ["Flows"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the workspace"
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the flow"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlowStepRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Step added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowStep"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/clients": {
      "post": {
        "operationId": "createClient",
        "summary": "Create a client",
        "description": "Creates a new client user account with contact information",
        "tags": ["Clients"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "post": {
        "operationId": "createTransaction",
        "summary": "Create a transaction",
        "description": "Creates a new transaction with approval/decline workflows",
        "tags": ["Transactions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/binders": {
      "get": {
        "operationId": "findBinderByReferenceId",
        "summary": "Find binder by reference ID",
        "description": "Retrieves a binder using its reference ID",
        "tags": ["Workspaces"],
        "parameters": [
          {
            "name": "referenceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The reference ID of the binder"
          }
        ],
        "responses": {
          "200": {
            "description": "Binder retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Binder"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/files": {
      "post": {
        "operationId": "sendFile",
        "summary": "Send file to workspace",
        "description": "Uploads a file to a workspace directory",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the workspace"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the file"
                  },
                  "directory": {
                    "type": "string",
                    "description": "The target directory path"
                  }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/esignatures": {
      "post": {
        "operationId": "startEsignature",
        "summary": "Start e-signature workflow",
        "description": "Initiates an electronic signature workflow from a template",
        "tags": ["E-Signature"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EsignatureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "E-signature workflow started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Esignature"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/notes": {
      "post": {
        "operationId": "createNote",
        "summary": "Create a note",
        "description": "Creates a note in a workspace with content and access controls",
        "tags": ["Notes"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the workspace"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/flows/button-clicked": {
      "post": {
        "operationId": "flowButtonClickedWebhook",
        "summary": "Flow button clicked webhook",
        "description": "Webhook triggered when a button is clicked in an Approval/Acknowledgement/File Request/To-Do/Form/Time Booking flow step",
        "tags": ["Flows"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlowButtonClickedEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/transactions/completed": {
      "post": {
        "operationId": "transactionCompletedWebhook",
        "summary": "Transaction completed webhook",
        "description": "Webhook triggered when a transaction is completed",
        "tags": ["Transactions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionCompletedEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/flows/updates": {
      "post": {
        "operationId": "flowUpdatesWebhook",
        "summary": "Flow updates webhook",
        "description": "Webhook triggered when a flow or any of its steps is started, completed, or reaches due date",
        "tags": ["Flows"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlowUpdatesEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.moxtra.com/oauth/authorize",
            "tokenUrl": "https://api.moxtra.com/oauth/token",
            "scopes": {
              "read": "Read access to resources",
              "write": "Write access to resources"
            }
          }
        }
      },
      "ApiKey": {
        "type": "apiKey",
        "description": "API key authentication using client credentials",
        "name": "Authorization",
        "in": "header"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "details": {
                "type": "string",
                "description": "Additional error details"
              }
            },
            "required": ["code", "message"]
          }
        },
        "required": ["error"]
      },
      "CreateWorkspaceRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the workspace"
          },
          "description": {
            "type": "string",
            "description": "A description of the workspace"
          },
          "members": {
            "type": "array",
            "description": "List of member email addresses to add to the workspace",
            "items": {
              "type": "string",
              "format": "email"
            }
          }
        },
        "required": ["name"]
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the workspace"
          },
          "name": {
            "type": "string",
            "description": "The name of the workspace"
          },
          "description": {
            "type": "string",
            "description": "A description of the workspace"
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "description": "The creation timestamp"
          },
          "updated_time": {
            "type": "string",
            "format": "date-time",
            "description": "The last update timestamp"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the member"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email address of the member"
          },
          "name": {
            "type": "string",
            "description": "The name of the member"
          },
          "role": {
            "type": "string",
            "description": "The role of the member in the workspace"
          }
        }
      },
      "FlowStepRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "The title of the step"
          },
          "description": {
            "type": "string",
            "description": "A description of the step"
          },
          "type": {
            "type": "string",
            "enum": ["Approval", "Acknowledgement", "FileRequest", "ToDo", "Form", "TimeBooking"],
            "description": "The type of flow step"
          },
          "due_date": {
            "type": "string",
            "format": "date-time",
            "description": "The due date for the step"
          }
        },
        "required": ["title", "type"]
      },
      "FlowStep": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the step"
          },
          "title": {
            "type": "string",
            "description": "The title of the step"
          },
          "description": {
            "type": "string",
            "description": "A description of the step"
          },
          "type": {
            "type": "string",
            "description": "The type of flow step"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "in_progress", "completed"],
            "description": "The status of the step"
          },
          "due_date": {
            "type": "string",
            "format": "date-time",
            "description": "The due date for the step"
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "description": "The creation timestamp"
          }
        }
      },
      "CreateClientRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email address of the client"
          },
          "name": {
            "type": "string",
            "description": "The name of the client"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the client"
          },
          "company": {
            "type": "string",
            "description": "The company name of the client"
          }
        },
        "required": ["email", "name"]
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the client"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email address of the client"
          },
          "name": {
            "type": "string",
            "description": "The name of the client"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the client"
          },
          "company": {
            "type": "string",
            "description": "The company name of the client"
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "description": "The creation timestamp"
          }
        }
      },
      "CreateTransactionRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the transaction"
          },
          "client_id": {
            "type": "string",
            "description": "The ID of the client associated with the transaction"
          },
          "workflow_type": {
            "type": "string",
            "enum": ["approval", "acknowledgement"],
            "description": "The type of workflow for the transaction"
          }
        },
        "required": ["name", "client_id"]
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the transaction"
          },
          "name": {
            "type": "string",
            "description": "The name of the transaction"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "in_progress", "completed", "declined"],
            "description": "The status of the transaction"
          },
          "client_id": {
            "type": "string",
            "description": "The ID of the client associated with the transaction"
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "description": "The creation timestamp"
          },
          "completed_time": {
            "type": "string",
            "format": "date-time",
            "description": "The completion timestamp"
          }
        }
      },
      "Binder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the binder"
          },
          "reference_id": {
            "type": "string",
            "description": "The reference ID of the binder"
          },
          "name": {
            "type": "string",
            "description": "The name of the binder"
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "description": "The creation timestamp"
          }
        }
      },
      "File": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the file"
          },
          "name": {
            "type": "string",
            "description": "The name of the file"
          },
          "size": {
            "type": "integer",
            "description": "The size of the file in bytes"
          },
          "type": {
            "type": "string",
            "description": "The MIME type of the file"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL to access the file"
          },
          "uploaded_time": {
            "type": "string",
            "format": "date-time",
            "description": "The upload timestamp"
          }
        }
      },
      "EsignatureRequest": {
        "type": "object",
        "properties": {
          "template_id": {
            "type": "string",
            "description": "The ID of the e-signature template"
          },
          "signers": {
            "type": "array",
            "description": "List of signers for the document",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email",
                  "description": "The email address of the signer"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the signer"
                },
                "order": {
                  "type": "integer",
                  "description": "The signing order"
                }
              },
              "required": ["email", "name"]
            }
          },
          "document_url": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the document to be signed"
          }
        },
        "required": ["template_id", "signers"]
      },
      "Esignature": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the e-signature request"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "in_progress", "completed", "declined"],
            "description": "The status of the e-signature request"
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "description": "The creation timestamp"
          },
          "completed_time": {
            "type": "string",
            "format": "date-time",
            "description": "The completion timestamp"
          }
        }
      },
      "CreateNoteRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "The title of the note"
          },
          "content": {
            "type": "string",
            "description": "The content of the note"
          },
          "access_level": {
            "type": "string",
            "enum": ["public", "private", "restricted"],
            "description": "The access level for the note"
          }
        },
        "required": ["title", "content"]
      },
      "Note": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the note"
          },
          "title": {
            "type": "string",
            "description": "The title of the note"
          },
          "content": {
            "type": "string",
            "description": "The content of the note"
          },
          "access_level": {
            "type": "string",
            "description": "The access level for the note"
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "description": "The creation timestamp"
          },
          "updated_time": {
            "type": "string",
            "format": "date-time",
            "description": "The last update timestamp"
          }
        }
      },
      "FlowButtonClickedEvent": {
        "type": "object",
        "properties": {
          "event_type": {
            "type": "string",
            "enum": ["flow_button_clicked"],
            "description": "The type of event"
          },
          "workspace_id": {
            "type": "string",
            "description": "The ID of the workspace"
          },
          "flow_id": {
            "type": "string",
            "description": "The ID of the flow"
          },
          "step_id": {
            "type": "string",
            "description": "The ID of the step"
          },
          "step_type": {
            "type": "string",
            "enum": ["Approval", "Acknowledgement", "FileRequest", "ToDo", "Form", "TimeBooking"],
            "description": "The type of flow step"
          },
          "button_action": {
            "type": "string",
            "description": "The action of the button that was clicked"
          },
          "user_id": {
            "type": "string",
            "description": "The ID of the user who clicked the button"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp of the event"
          }
        }
      },
      "TransactionCompletedEvent": {
        "type": "object",
        "properties": {
          "event_type": {
            "type": "string",
            "enum": ["transaction_completed"],
            "description": "The type of event"
          },
          "transaction_id": {
            "type": "string",
            "description": "The ID of the transaction"
          },
          "status": {
            "type": "string",
            "enum": ["completed", "declined"],
            "description": "The final status of the transaction"
          },
          "client_id": {
            "type": "string",
            "description": "The ID of the client"
          },
          "completed_time": {
            "type": "string",
            "format": "date-time",
            "description": "The completion timestamp"
          }
        }
      },
      "FlowUpdatesEvent": {
        "type": "object",
        "properties": {
          "event_type": {
            "type": "string",
            "enum": ["flow_started", "flow_completed", "flow_due_date_arrived", "step_started", "step_completed", "step_due_date_arrived"],
            "description": "The type of event"
          },
          "workspace_id": {
            "type": "string",
            "description": "The ID of the workspace"
          },
          "flow_id": {
            "type": "string",
            "description": "The ID of the flow"
          },
          "step_id": {
            "type": "string",
            "description": "The ID of the step (if applicable)"
          },
          "status": {
            "type": "string",
            "description": "The current status"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp of the event"
          }
        }
      }
    }
  }
}
