{
  "openapi": "3.0.3",
  "info": {
    "title": "GBIF Species API",
    "version": "1.0.0",
    "description": "The GBIF Species API provides services to discover and access information about species and higher taxa. It provides information about all known species and supports full text search, autocomplete, and species lookup by key.",
    "x-jentic-source-url": "https://techdocs.gbif.org/en/openapi/v1/species"
  },
  "servers": [
    {
      "url": "https://api.gbif.org/v1"
    }
  ],
  "paths": {
    "/species/{key}": {
      "get": {
        "operationId": "getSpecies",
        "summary": "Get species by key",
        "description": "Gets details for a single species by its GBIF key",
        "tags": [
          "Species"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Species key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Species"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/species/search": {
      "get": {
        "operationId": "searchSpecies",
        "summary": "Search species",
        "description": "Full text search of name usages",
        "tags": [
          "Species"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "rank",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Taxonomic rank filter"
          },
          {
            "name": "highertaxonKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Higher taxon key filter"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ACCEPTED",
                "SYNONYM",
                "DOUBTFUL"
              ]
            },
            "description": "Taxonomic status"
          },
          {
            "name": "habitat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "MARINE",
                "FRESHWATER",
                "TERRESTRIAL"
              ]
            },
            "description": "Habitat filter"
          },
          {
            "name": "datasetKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Dataset key to filter by"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 1000
            },
            "description": "Results per page"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeciesSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/species/suggest": {
      "get": {
        "operationId": "suggestSpecies",
        "summary": "Species name autocomplete",
        "description": "Provides autocomplete suggestions for species names",
        "tags": [
          "Species"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "rank",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Rank filter"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Max results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Species"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/species/match": {
      "get": {
        "operationId": "matchSpecies",
        "summary": "Match a species name",
        "description": "Fuzzy matches a species name against the GBIF backbone taxonomy",
        "tags": [
          "Species"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Species name to match"
          },
          {
            "name": "rank",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Rank hint"
          },
          {
            "name": "kingdom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Kingdom hint"
          },
          {
            "name": "phylum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Phylum hint"
          },
          {
            "name": "class",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Class hint"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Order hint"
          },
          {
            "name": "family",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Family hint"
          },
          {
            "name": "genus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Genus hint"
          },
          {
            "name": "strict",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Strict matching only"
          },
          {
            "name": "verbose",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include alternatives"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeciesMatch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/species/{key}/children": {
      "get": {
        "operationId": "getSpeciesChildren",
        "summary": "Get child taxa",
        "description": "Lists all direct child usages for a given name usage",
        "tags": [
          "Species"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Species key"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Results per page"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeciesSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/species/{key}/parents": {
      "get": {
        "operationId": "getSpeciesParents",
        "summary": "Get parent taxa",
        "description": "Lists all parent usages for a given name usage",
        "tags": [
          "Species"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Species key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Species"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/species/{key}/synonyms": {
      "get": {
        "operationId": "getSpeciesSynonyms",
        "summary": "Get synonyms",
        "description": "Lists all synonyms for a given name usage",
        "tags": [
          "Species"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Species key"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Results per page"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeciesSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/species/{key}/media": {
      "get": {
        "operationId": "getSpeciesMedia",
        "summary": "Get species media",
        "description": "Lists media items for a species",
        "tags": [
          "Species"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Species key"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Results per page"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Species": {
        "type": "object",
        "properties": {
          "key": {
            "type": "integer"
          },
          "nubKey": {
            "type": "integer"
          },
          "nameKey": {
            "type": "integer"
          },
          "taxonID": {
            "type": "string"
          },
          "kingdom": {
            "type": "string"
          },
          "phylum": {
            "type": "string"
          },
          "order": {
            "type": "string"
          },
          "family": {
            "type": "string"
          },
          "genus": {
            "type": "string"
          },
          "species": {
            "type": "string"
          },
          "kingdomKey": {
            "type": "integer"
          },
          "phylumKey": {
            "type": "integer"
          },
          "classKey": {
            "type": "integer"
          },
          "orderKey": {
            "type": "integer"
          },
          "familyKey": {
            "type": "integer"
          },
          "genusKey": {
            "type": "integer"
          },
          "speciesKey": {
            "type": "integer"
          },
          "canonicalName": {
            "type": "string"
          },
          "scientificName": {
            "type": "string"
          },
          "authorship": {
            "type": "string"
          },
          "taxonomicStatus": {
            "type": "string"
          },
          "rank": {
            "type": "string"
          },
          "numDescendants": {
            "type": "integer"
          },
          "isSynonym": {
            "type": "boolean"
          },
          "habitat": {
            "type": "string"
          }
        }
      },
      "SpeciesSearchResponse": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "endOfRecords": {
            "type": "boolean"
          },
          "count": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Species"
            }
          }
        }
      },
      "SpeciesMatch": {
        "type": "object",
        "properties": {
          "usageKey": {
            "type": "integer"
          },
          "scientificName": {
            "type": "string"
          },
          "canonicalName": {
            "type": "string"
          },
          "rank": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "confidence": {
            "type": "integer"
          },
          "matchType": {
            "type": "string"
          },
          "kingdom": {
            "type": "string"
          },
          "phylum": {
            "type": "string"
          },
          "order": {
            "type": "string"
          },
          "family": {
            "type": "string"
          },
          "genus": {
            "type": "string"
          },
          "species": {
            "type": "string"
          }
        }
      },
      "MediaResponse": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "endOfRecords": {
            "type": "boolean"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "identifier": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                },
                "license": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {}
  }
}