{
  "openapi": "3.0.1",
  "info": {
    "title": "IP2Proxy Proxy Detection",
    "description": "IP2Proxy allows instant detection of anonymous proxy, VPN, TOR exit nodes, search engine robots (SES), data center ranges (PX2-PX10), residential proxies (PX10) and VPN provider name (PX11) by IP address. It also returns the threat type of the proxy (PX9 or higher). Visit https://www.ip2location.com/web-service/ip2proxy for further information.",
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ip2location/ip2proxy-proxy-detection/1.0"
  },
  "servers": [
    {
      "url": "https://api.ip2proxy.com"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "description": "Check if an IP address is proxy",
        "parameters": [
          {
            "name": "package",
            "in": "query",
            "description": "Package name from PX1 to PX11. If not present, the web service will assume the PX1 package query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "description": "IP address (IPv4) for lookup purpose. If not present, the server IP address will be used for the lookup.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "If not present, json format will be returned as the search result.",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ]
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Please sign up free trial license key at ip2location.com",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get response from IP2Proxy",
            "content": {
              "text/html; charset=UTF-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "0": {
                    "value": "{\"response\": \"\",\"countryCode\": \"\",\"countryName\": \"\",\"regionName\": \"\",\"cityName\": \"\",\"isp\": \"\",\"domain\": \"\",\"usageType\":\"\",\"asn\":\"\",\"as\": \"\",\"lastSeen\": \"\",\"proxyType\":\"\",\"isProxy\": \"\",\"threat\": \"\",\"provider\": \"\"}"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}