{
  "openapi": "3.0.3",
  "info": {
    "title": "ApiMedic Symptom Checker API",
    "description": "ApiMedic offers a medical symptom checker API primarily for patients. It provides symptom-based diagnosis suggestions by calculating disease likelihood based on entered symptoms. The API covers symptoms, diagnoses, body locations, and health issues.",
    "version": "1.0.0",
    "contact": {
      "name": "ApiMedic",
      "url": "https://apimedic.com"
    }
  },
  "servers": [
    {
      "url": "https://sandbox-healthservice.priaid.ch",
      "description": "Sandbox/Test Environment"
    },
    {
      "url": "https://healthservice.priaid.ch",
      "description": "Production Environment"
    }
  ],
  "security": [
    {
      "apiToken": []
    }
  ],
  "paths": {
    "/symptoms": {
      "get": {
        "operationId": "getSymptoms",
        "summary": "Get all symptoms",
        "description": "Returns a list of all available symptoms. Used to populate the symptom selection for the checker.",
        "tags": ["Symptoms"],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Authentication token obtained via the login endpoint.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "description": "Language code (e.g., en-gb, de-ch, fr-fr, es-es).",
            "schema": {
              "type": "string",
              "default": "en-gb"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SymptomItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/symptoms/{symptomId}/man": {
      "get": {
        "operationId": "getSymptomRedFlagTextForMan",
        "summary": "Get red flag text for a symptom (male)",
        "description": "Returns additional red flag information for a specific symptom for men.",
        "tags": ["Symptoms"],
        "parameters": [
          {
            "name": "symptomId",
            "in": "path",
            "required": true,
            "description": "Symptom ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en-gb"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/symptoms/{symptomId}/woman": {
      "get": {
        "operationId": "getSymptomRedFlagTextForWoman",
        "summary": "Get red flag text for a symptom (female)",
        "description": "Returns additional red flag information for a specific symptom for women.",
        "tags": ["Symptoms"],
        "parameters": [
          {
            "name": "symptomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en-gb"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/diagnosis": {
      "get": {
        "operationId": "getDiagnosis",
        "summary": "Get diagnosis based on symptoms",
        "description": "Returns a list of possible diagnoses based on provided symptoms, gender, and year of birth. Results are ranked by accuracy/probability.",
        "tags": ["Diagnosis"],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Authentication token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symptoms",
            "in": "query",
            "required": true,
            "description": "JSON array of symptom IDs, e.g., [233, 9, 104].",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": true,
            "description": "Patient gender.",
            "schema": {
              "type": "string",
              "enum": ["male", "female"]
            }
          },
          {
            "name": "year_of_birth",
            "in": "query",
            "required": true,
            "description": "Patient's year of birth.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en-gb"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of possible diagnoses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiagnosisItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/issues": {
      "get": {
        "operationId": "getIssues",
        "summary": "Get all health issues",
        "description": "Returns a list of all possible health issues/diseases in the system.",
        "tags": ["Issues"],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en-gb"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IssueItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/issues/{issueId}/info": {
      "get": {
        "operationId": "getIssueInfo",
        "summary": "Get detailed issue information",
        "description": "Returns detailed information about a specific health issue including description, medical condition, possible symptoms, and treatment.",
        "tags": ["Issues"],
        "parameters": [
          {
            "name": "issueId",
            "in": "path",
            "required": true,
            "description": "Issue/disease ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en-gb"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssueInfo"
                }
              }
            }
          }
        }
      }
    },
    "/body/locations": {
      "get": {
        "operationId": "getBodyLocations",
        "summary": "Get body locations",
        "description": "Returns a list of body locations (e.g., head, chest, arms) used for filtering symptoms by body part.",
        "tags": ["Body"],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en-gb"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BodyLocation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/body/locations/{locationId}": {
      "get": {
        "operationId": "getBodySubLocations",
        "summary": "Get body sub-locations",
        "description": "Returns sub-locations for a given body location (e.g., for head: forehead, ear, eye, etc.).",
        "tags": ["Body"],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "description": "Body location ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en-gb"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BodySubLocation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/symptoms/{locationId}/man": {
      "get": {
        "operationId": "getSymptomsForBodyLocationMale",
        "summary": "Get symptoms for body sub-location (male)",
        "description": "Returns symptoms related to a specific body sub-location for males.",
        "tags": ["Symptoms"],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "description": "Body sub-location ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en-gb"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SymptomItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/symptoms/{locationId}/woman": {
      "get": {
        "operationId": "getSymptomsForBodyLocationFemale",
        "summary": "Get symptoms for body sub-location (female)",
        "description": "Returns symptoms related to a specific body sub-location for females.",
        "tags": ["Symptoms"],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "description": "Body sub-location ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en-gb"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SymptomItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/symptoms/proposed": {
      "get": {
        "operationId": "getProposedSymptoms",
        "summary": "Get proposed symptoms",
        "description": "Returns additional symptoms that are likely related to already selected symptoms. Used to refine the diagnosis.",
        "tags": ["Symptoms"],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symptoms",
            "in": "query",
            "required": true,
            "description": "JSON array of already selected symptom IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["male", "female"]
            }
          },
          {
            "name": "year_of_birth",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en-gb"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SymptomItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/diagnosis/specialisations": {
      "get": {
        "operationId": "getSpecialisations",
        "summary": "Get specialist recommendations",
        "description": "Returns a list of recommended medical specialisations based on the provided symptoms.",
        "tags": ["Diagnosis"],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symptoms",
            "in": "query",
            "required": true,
            "description": "JSON array of symptom IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["male", "female"]
            }
          },
          {
            "name": "year_of_birth",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en-gb"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SpecialisationItem"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "name": "token",
        "in": "query",
        "description": "API token obtained by authenticating with your API key credentials via the login endpoint. Token is an HMAC-MD5 hash of the API key using the secret key."
      }
    },
    "schemas": {
      "SymptomItem": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer",
            "description": "Symptom identifier"
          },
          "Name": {
            "type": "string",
            "description": "Symptom name"
          }
        }
      },
      "DiagnosisItem": {
        "type": "object",
        "properties": {
          "Issue": {
            "$ref": "#/components/schemas/IssueItem"
          },
          "Specialisation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpecialisationItem"
            }
          }
        }
      },
      "IssueItem": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer",
            "description": "Issue/disease identifier"
          },
          "Name": {
            "type": "string",
            "description": "Issue/disease name"
          },
          "Accuracy": {
            "type": "number",
            "format": "float",
            "description": "Accuracy/probability percentage of the diagnosis (0-100)"
          },
          "Icd": {
            "type": "string",
            "description": "ICD code"
          },
          "IcdName": {
            "type": "string",
            "description": "ICD code name"
          },
          "ProfName": {
            "type": "string",
            "description": "Professional medical name"
          },
          "Ranking": {
            "type": "integer",
            "description": "Ranking position"
          }
        }
      },
      "IssueInfo": {
        "type": "object",
        "properties": {
          "Description": {
            "type": "string",
            "description": "General description of the health issue"
          },
          "DescriptionShort": {
            "type": "string",
            "description": "Short description"
          },
          "MedicalCondition": {
            "type": "string",
            "description": "Medical condition details"
          },
          "Name": {
            "type": "string"
          },
          "PossibleSymptoms": {
            "type": "string",
            "description": "Comma-separated list of possible symptoms"
          },
          "ProfName": {
            "type": "string",
            "description": "Professional/medical name"
          },
          "TreatmentDescription": {
            "type": "string",
            "description": "Treatment information"
          }
        }
      },
      "BodyLocation": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          }
        }
      },
      "BodySubLocation": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          }
        }
      },
      "SpecialisationItem": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "Name": {
            "type": "string",
            "description": "Specialisation name (e.g., General practice, Cardiology)"
          },
          "SpecialistID": {
            "type": "integer"
          }
        }
      }
    }
  }
}
