{
  "openapi": "3.0.3",
  "info": {
    "title": "Pic-Time API",
    "version": "2.0.0",
    "description": "Pic-Time photography gallery platform API for managing projects, photos, webhooks, and OAuth tokens.",
    "x-jentic-source-url": "https://wwwpictime.blob.core.windows.net/site/resources/Pic-Time%20API%20V1%20-%20basic.pdf",
    "contact": {
      "name": "Pic-Time API Support"
    }
  },
  "servers": [
    {
      "url": "https://productionapi.pic-time.com/apiV2"
    }
  ],
  "paths": {
    "/registerWebhook": {
      "post": {
        "operationId": "registerWebhook",
        "summary": "Register Webhook",
        "description": "Register a webhook endpoint for event notifications",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accessToken": {
      "post": {
        "operationId": "getAccessToken",
        "summary": "Get Access Token",
        "description": "Returns an access token from a client code provided by the OAuth mechanism",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/revokeAccessToken": {
      "put": {
        "operationId": "revokeAccessToken",
        "summary": "Revoke Access Token",
        "description": "Revokes the current access token",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reasone": {
                    "type": "string",
                    "description": "Reason for detaching the app"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projectInfo": {
      "get": {
        "operationId": "getProjectInfo",
        "summary": "Get Project Info",
        "description": "Returns project information",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Pic-Time project ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projectPhotos": {
      "get": {
        "operationId": "getProjectPhotos",
        "summary": "Get Project Photos",
        "description": "Returns photos for a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Pic-Time project ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projectTopRatedPhotos": {
      "get": {
        "operationId": "getProjectTopRatedPhotos",
        "summary": "Get Project Top Rated Photos",
        "description": "Returns top rated photos for a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Pic-Time project ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/createProject": {
      "post": {
        "operationId": "createProject",
        "summary": "Create Project",
        "description": "Creates a new photography project/gallery",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/isPromotionValidForUser": {
      "get": {
        "operationId": "isPromotionValidForUser",
        "summary": "Check Promotion Validity",
        "description": "Check if a promotion is valid for a user",
        "tags": [
          "Promotions"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/externalIntegrationEvent": {
      "post": {
        "operationId": "sendExternalIntegrationEvent",
        "summary": "Send External Integration Event",
        "description": "Send an external integration event notification",
        "tags": [
          "Integration"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BaseResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "RegisterWebhookRequest": {
        "type": "object",
        "required": [
          "url",
          "type"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "The webhook URL"
          },
          "type": {
            "type": "integer",
            "description": "The webhook type (correlates to enum)"
          }
        }
      },
      "AccessTokenRequest": {
        "type": "object",
        "properties": {
          "clientCode": {
            "type": "string",
            "description": "The client code received by the OAuth mechanism"
          },
          "redirectUrl": {
            "type": "string",
            "description": "The redirect URL as was used in the OAuth process"
          },
          "appSecret": {
            "type": "string",
            "description": "A secret code known only to the app server side code"
          }
        }
      },
      "AccessTokenResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "The account name"
          },
          "accessToken": {
            "type": "string",
            "description": "API access token"
          }
        }
      },
      "CreateProjectRequest": {
        "type": "object",
        "required": [
          "name",
          "virtualPath",
          "localeCode"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "New project name"
          },
          "virtualPath": {
            "type": "string",
            "description": "New project virtual folder"
          },
          "galleryGridType": {
            "type": "integer",
            "description": "Pic-time grid style"
          },
          "pricingName": {
            "type": "string",
            "description": "Name of price list to attach"
          },
          "brandId": {
            "type": "integer",
            "description": "Account brand id"
          },
          "dateTaken": {
            "type": "string",
            "format": "date",
            "description": "Project date"
          },
          "allowSharing": {
            "type": "boolean",
            "description": "Enable gallery sharing tools"
          },
          "allowStore": {
            "type": "boolean",
            "description": "Enable store"
          },
          "allowPublic": {
            "type": "boolean",
            "description": "Gallery visibility"
          },
          "allowListing": {
            "type": "boolean",
            "description": "Present on account portfolio"
          },
          "allowMyMedia": {
            "type": "boolean",
            "description": "Can client add photos"
          },
          "blockWatermark": {
            "type": "boolean",
            "description": "Disable watermark"
          },
          "category": {
            "type": "integer",
            "description": "Pic-Time project category"
          },
          "localeCode": {
            "type": "string",
            "description": "Locale code e.g. en-us"
          },
          "externalReference": {
            "type": "string",
            "description": "External identifier for the project"
          },
          "accessRequestOption": {
            "type": "boolean",
            "description": "Enable access requests"
          },
          "mainClients": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string",
                  "format": "email"
                }
              }
            },
            "description": "Up to 5 main clients"
          }
        }
      },
      "ProjectInfoResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          },
          "projectId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "externalRef": {
            "type": "string"
          },
          "brandId": {
            "type": "integer"
          },
          "createDate": {
            "type": "string"
          },
          "publishDate": {
            "type": "string",
            "nullable": true
          },
          "virtualPath": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "category": {
            "type": "integer"
          },
          "numAllPhotos": {
            "type": "integer"
          },
          "dateTaken": {
            "type": "string"
          },
          "editingURL": {
            "type": "string"
          },
          "cover": {
            "type": "string"
          },
          "coverSmallres": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token provided by Pic-Time OAuth"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Integration"
    },
    {
      "name": "Projects"
    },
    {
      "name": "Promotions"
    },
    {
      "name": "Webhooks"
    }
  ]
}
