{
  "openapi": "3.0.3",
  "info": {
    "title": "Mindburp API",
    "version": "1.0.0",
    "description": "Mindburp API for managing burps (tasks/items) via Zapier integration. Supports webhook subscriptions, CRUD operations on burps, and querying burp data.",
    "x-jentic-source-url": "https://docs.mindburp.se/"
  },
  "servers": [
    {
      "url": "https://api.mindburp.se"
    }
  ],
  "paths": {
    "/api/zapier/wh-subscribe": {
      "post": {
        "operationId": "subscribeTrigger",
        "summary": "Subscribe to a webhook trigger",
        "description": "Enrolls a webhook URL to receive notifications for a specific trigger type (new_burp, updated_burp, completed_burp, deleted_burp, reburped_burp).",
        "tags": ["Webhooks"],
        "parameters": [
          {
            "name": "type",
            "in": "header",
            "description": "Trigger type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["new_burp", "updated_burp", "completed_burp", "deleted_burp", "reburped_burp"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/wh-unsubscribe": {
      "delete": {
        "operationId": "unsubscribeTrigger",
        "summary": "Unsubscribe from a webhook trigger",
        "description": "Removes a webhook subscription for a specific trigger type.",
        "tags": ["Webhooks"],
        "parameters": [
          {
            "name": "type",
            "in": "header",
            "description": "Trigger type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["new_burp", "updated_burp", "completed_burp", "deleted_burp", "reburped_burp"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsubscribed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/performlist": {
      "get": {
        "operationId": "getPerformList",
        "summary": "Get last created burp or sample",
        "description": "Gets last created connected burp if found, else returns a sample burp.",
        "tags": ["Burps"],
        "parameters": [
          {
            "name": "type",
            "in": "header",
            "description": "Trigger type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Burp"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/getAllMyBurpIds": {
      "get": {
        "operationId": "getAllBurpIds",
        "summary": "Get IDs for all Zapier-connected burps",
        "description": "Collects all your Zapier-connected burp IDs.",
        "tags": ["Burps"],
        "parameters": [
          {
            "name": "type",
            "in": "header",
            "description": "Trigger type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/v1/actions": {
      "post": {
        "operationId": "performBurpAction",
        "summary": "Perform create, find, or update burp action",
        "description": "Performs Create/Find/Update burp action based on the type parameter.",
        "tags": ["Burps"],
        "parameters": [
          {
            "name": "x_forwarded_url",
            "in": "query",
            "description": "Forwarded URL parameter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BurpActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Burp"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Burp": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique burp identifier"
          },
          "title": {
            "type": "string",
            "description": "Burp title"
          },
          "description": {
            "type": "string",
            "description": "Burp description"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "Start date"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date"
          },
          "assignedTo": {
            "type": "string",
            "description": "Assigned user"
          },
          "categoryId": {
            "type": "string",
            "description": "Category identifier"
          }
        }
      },
      "BurpActionRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["create_burp", "find_burp", "update_burp"],
            "description": "Action type"
          },
          "title": {
            "type": "string",
            "description": "Burp title"
          },
          "description": {
            "type": "string",
            "description": "Burp description"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "Start date"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date"
          },
          "assignedTo": {
            "type": "string",
            "description": "Assigned user"
          },
          "categoryId": {
            "type": "string",
            "description": "Category identifier"
          }
        },
        "required": ["type"]
      },
      "WebhookSubscribeRequest": {
        "type": "object",
        "properties": {
          "hookUrl": {
            "type": "string",
            "format": "uri",
            "description": "Webhook URL to receive notifications"
          }
        },
        "required": ["hookUrl"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["error"]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "codeHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "code"
      },
      "clientIdHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "client_id"
      }
    }
  },
  "security": [
    {
      "bearerAuth": [],
      "codeHeader": [],
      "clientIdHeader": []
    }
  ]
}
