{
  "openapi": "3.0.3",
  "info": {
    "title": "RealScout API",
    "version": "1.0.0",
    "description": "RealScout GraphQL API for managing real estate brokerages, agents, and homebuyers. This is a GraphQL API accessible via a single POST endpoint.",
    "x-jentic-source-url": "https://gist.github.com/ncavig/0c88b9fe77fd40d547af9304667e83cb",
    "contact": {
      "name": "RealScout API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.realscout.com"
    }
  ],
  "paths": {
    "/graphql": {
      "post": {
        "operationId": "graphqlQuery",
        "summary": "Execute GraphQL query",
        "description": "Execute GraphQL queries and mutations for brokerage, agent, and homebuyer management.",
        "tags": [
          "GraphQL"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "variables": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "GraphQL"
    }
  ]
}
