{
  "openapi": "3.0.3",
  "info": {
    "title": "Count Public API",
    "version": "1.0",
    "description": "The Count public API allows you to interact with your Count workspace programmatically.",
    "x-jentic-source-url": "https://api.app.count.co/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.app.count.co/v1"
    }
  ],
  "paths": {
    "/v1/canvases/agent": {
      "post": {
        "summary": "Create an agent",
        "description": "Create an agent in an existing or new canvas. Once created, agents will continue their work autonomously.",
        "operationId": "create_an_agent",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "context": {
                    "description": "The context to create the agent in. This context determines which data sources the agent has access to. You must have an analyst role in this context.",
                    "type": "object",
                    "properties": {
                      "type": {
                        "description": "The type of context",
                        "anyOf": [
                          {
                            "description": "Create an agent in a canvas context",
                            "type": "string",
                            "enum": [
                              "canvas"
                            ]
                          },
                          {
                            "description": "Create an agent in a project context",
                            "type": "string",
                            "enum": [
                              "project"
                            ]
                          }
                        ]
                      },
                      "context_key": {
                        "description": "The unique identifier for the context.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "context_key"
                    ]
                  },
                  "query": {
                    "description": "An initial instruction for the agent",
                    "type": "string"
                  }
                },
                "required": [
                  "context",
                  "query"
                ]
              },
              "example": {
                "context": {
                  "context_key": "my_canvas",
                  "type": "canvas"
                },
                "query": "Who are our biggest customers this quarter?"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "description": "",
                          "type": "object",
                          "properties": {
                            "url": {
                              "description": "A link to the new agent",
                              "type": "string"
                            },
                            "canvas_key": {
                              "description": "The unique identifier for the canvas",
                              "type": "string"
                            },
                            "agent_key": {
                              "description": "The unique identifier for an agent within a canvas",
                              "type": "string"
                            }
                          },
                          "required": [
                            "url",
                            "canvas_key",
                            "agent_key"
                          ]
                        }
                      },
                      "required": [
                        "result"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "V1"
        ]
      }
    },
    "/v1/canvases/:canvas_key": {
      "get": {
        "summary": "Get a canvas",
        "description": "Fetch metadata about a canvas. The service account must have at least a viewer role for this canvas.",
        "operationId": "get_a_canvas",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "canvas_key",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the canvas",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/Canvas"
                        }
                      },
                      "required": [
                        "result"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "V1"
        ]
      }
    },
    "/v1/canvases": {
      "get": {
        "summary": "List canvases",
        "description": "List all visible canvases in the workspace accessible with this service account. Trashed canvases and those that the service account is not permitted to view are not returned.",
        "operationId": "list_canvases",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "description": "",
                          "type": "object",
                          "properties": {
                            "canvases": {
                              "description": "The list of canvases in the workspace.",
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Canvas"
                              }
                            }
                          },
                          "required": [
                            "canvases"
                          ]
                        }
                      },
                      "required": [
                        "result"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "V1"
        ]
      }
    },
    "/v1/catalogs/:catalog_key": {
      "get": {
        "summary": "Get catalog",
        "description": "Get the metadata and contents of a catalog. The service account must be permitted to view the chosen catalog.",
        "operationId": "get_catalog",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "catalog_key",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the catalog",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "files",
            "in": "query",
            "required": false,
            "description": "Include this parameter to request the catalog file contents.",
            "schema": {
              "anyOf": [
                {
                  "description": "Return the raw files from the catalog repository.",
                  "type": "string",
                  "enum": [
                    "raw"
                  ]
                },
                {
                  "description": "Return both the raw and generated catalog files (for example, third-party semantic layer definitions converted to Count Metrics files).",
                  "type": "string",
                  "enum": [
                    "resolved"
                  ]
                }
              ]
            }
          },
          {
            "name": "definitions",
            "in": "query",
            "required": false,
            "description": "Include this parameter to return the catalog definitions in a structured data format.",
            "schema": {
              "anyOf": [
                {
                  "description": "Return the catalog definitions in JSON format.",
                  "type": "string",
                  "enum": [
                    "json"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "description": "",
                          "type": "object",
                          "properties": {
                            "catalog": {
                              "$ref": "#/components/schemas/Catalog"
                            },
                            "files": {
                              "description": "The catalog files (if requested)",
                              "type": "array",
                              "items": {
                                "description": "A file from a catalog.",
                                "type": "object",
                                "properties": {
                                  "path": {
                                    "description": "The file path.",
                                    "type": "string"
                                  },
                                  "contents": {
                                    "description": "The file contents.",
                                    "type": "string"
                                  },
                                  "truncated": {
                                    "description": "Whether the file contents are truncated - this can occur if the file is particularly large.",
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "path",
                                  "contents",
                                  "truncated"
                                ]
                              }
                            },
                            "definitions": {
                              "description": "The parsed catalog definitions (if requested).",
                              "type": "object",
                              "properties": {
                                "datasets": {
                                  "description": "The dataset definitions in this catalog.",
                                  "type": "array",
                                  "items": {
                                    "description": "A dataset definition.",
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "description": "The name of the dataset.",
                                        "type": "string"
                                      },
                                      "from": {
                                        "description": "The name of the view that this dataset is based on.",
                                        "type": "string"
                                      },
                                      "views": {
                                        "description": "The views included in this dataset.",
                                        "type": "array",
                                        "items": {
                                          "description": "A view reference.",
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "description": "The name of the view.",
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "name"
                                          ]
                                        }
                                      },
                                      "description": {
                                        "description": "A description of this dataset.",
                                        "type": "string"
                                      },
                                      "join": {
                                        "description": "The views joined into this dataset.",
                                        "type": "array",
                                        "items": {
                                          "description": "A joined view within a dataset.",
                                          "type": "object",
                                          "properties": {
                                            "constraint": {
                                              "description": "The join constraint expression.",
                                              "type": "string"
                                            },
                                            "relationship": {
                                              "description": "The relationship cardinality.",
                                              "anyOf": [
                                                {
                                                  "description": "One-to-one relationship.",
                                                  "type": "string",
                                                  "enum": [
                                                    "one_to_one"
                                                  ]
                                                },
                                                {
                                                  "description": "One-to-many relationship.",
                                                  "type": "string",
                                                  "enum": [
                                                    "one_to_many"
                                                  ]
                                                },
                                                {
                                                  "description": "Many-to-one relationship.",
                                                  "type": "string",
                                                  "enum": [
                                                    "many_to_one"
                                                  ]
                                                },
                                                {
                                                  "description": "Many-to-many relationship.",
                                                  "type": "string",
                                                  "enum": [
                                                    "many_to_many"
                                                  ]
                                                }
                                              ]
                                            },
                                            "view": {
                                              "description": "The name of the view to join.",
                                              "type": "string"
                                            },
                                            "alias": {
                                              "description": "An alias for the joined view.",
                                              "type": "string"
                                            },
                                            "label": {
                                              "description": "A display label for the joined view.",
                                              "type": "string"
                                            },
                                            "type": {
                                              "description": "The type of join.",
                                              "anyOf": [
                                                {
                                                  "description": "Inner join.",
                                                  "type": "string",
                                                  "enum": [
                                                    "inner"
                                                  ]
                                                },
                                                {
                                                  "description": "Left join.",
                                                  "type": "string",
                                                  "enum": [
                                                    "left"
                                                  ]
                                                },
                                                {
                                                  "description": "Right join.",
                                                  "type": "string",
                                                  "enum": [
                                                    "right"
                                                  ]
                                                },
                                                {
                                                  "description": "Full outer join.",
                                                  "type": "string",
                                                  "enum": [
                                                    "full"
                                                  ]
                                                }
                                              ]
                                            }
                                          },
                                          "required": [
                                            "constraint",
                                            "relationship",
                                            "view"
                                          ]
                                        }
                                      },
                                      "label": {
                                        "description": "The display label for this dataset.",
                                        "type": "string"
                                      },
                                      "path": {
                                        "description": "The file path of the dataset definition.",
                                        "type": "string"
                                      },
                                      "definition_type": {
                                        "description": "The origin of this definition.",
                                        "anyOf": [
                                          {
                                            "description": "A native Count Metrics definition.",
                                            "type": "string",
                                            "enum": [
                                              "count"
                                            ]
                                          },
                                          {
                                            "description": "A definition converted from a LookML source.",
                                            "type": "string",
                                            "enum": [
                                              "converted-lookml"
                                            ]
                                          },
                                          {
                                            "description": "A definition converted from a OSI source.",
                                            "type": "string",
                                            "enum": [
                                              "converted-osi"
                                            ]
                                          },
                                          {
                                            "description": "A definition converted from a Snowflake source.",
                                            "type": "string",
                                            "enum": [
                                              "converted-snowflake"
                                            ]
                                          },
                                          {
                                            "description": "A native Count Metrics definition that extends another.",
                                            "type": "string",
                                            "enum": [
                                              "extended-count"
                                            ]
                                          },
                                          {
                                            "description": "A LookML-converted definition that extends another.",
                                            "type": "string",
                                            "enum": [
                                              "extended-lookml"
                                            ]
                                          },
                                          {
                                            "description": "A OSI-converted definition that extends another.",
                                            "type": "string",
                                            "enum": [
                                              "extended-osi"
                                            ]
                                          },
                                          {
                                            "description": "A Snowflake-converted definition that extends another.",
                                            "type": "string",
                                            "enum": [
                                              "extended-snowflake"
                                            ]
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "name"
                                    ]
                                  }
                                },
                                "sha": {
                                  "description": "The commit SHA of the catalog.",
                                  "anyOf": [
                                    {
                                      "description": "The commit SHA.",
                                      "type": "string"
                                    },
                                    {
                                      "description": "No commit SHA available.",
                                      "type": "null"
                                    }
                                  ]
                                },
                                "views": {
                                  "description": "The view definitions in this catalog.",
                                  "type": "array",
                                  "items": {
                                    "description": "A view definition.",
                                    "type": "object",
                                    "properties": {
                                      "fields": {
                                        "description": "The fields in this view.",
                                        "type": "array",
                                        "items": {
                                          "description": "A field definition within a view.",
                                          "type": "object",
                                          "properties": {
                                            "expression": {
                                              "description": "The SQL expression for this field.",
                                              "type": "string"
                                            },
                                            "name": {
                                              "description": "The name of the field.",
                                              "type": "string"
                                            },
                                            "type": {
                                              "description": "The data type of the field.",
                                              "anyOf": [
                                                {
                                                  "description": "A string field.",
                                                  "type": "string",
                                                  "enum": [
                                                    "string"
                                                  ]
                                                },
                                                {
                                                  "description": "A numeric field.",
                                                  "type": "string",
                                                  "enum": [
                                                    "number"
                                                  ]
                                                },
                                                {
                                                  "description": "An integer field.",
                                                  "type": "string",
                                                  "enum": [
                                                    "integer"
                                                  ]
                                                },
                                                {
                                                  "description": "A boolean field.",
                                                  "type": "string",
                                                  "enum": [
                                                    "boolean"
                                                  ]
                                                },
                                                {
                                                  "description": "A date/time field.",
                                                  "type": "string",
                                                  "enum": [
                                                    "date"
                                                  ]
                                                }
                                              ]
                                            },
                                            "aggregates": {
                                              "description": "The aggregate functions available for this field.",
                                              "type": "array",
                                              "items": {
                                                "description": "An aggregate function.",
                                                "anyOf": [
                                                  {
                                                    "description": "Average.",
                                                    "type": "string",
                                                    "enum": [
                                                      "avg"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Count.",
                                                    "type": "string",
                                                    "enum": [
                                                      "count"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Count distinct.",
                                                    "type": "string",
                                                    "enum": [
                                                      "count_distinct"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Maximum.",
                                                    "type": "string",
                                                    "enum": [
                                                      "max"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Median.",
                                                    "type": "string",
                                                    "enum": [
                                                      "median"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Minimum.",
                                                    "type": "string",
                                                    "enum": [
                                                      "min"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Mode.",
                                                    "type": "string",
                                                    "enum": [
                                                      "mode"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Population standard deviation.",
                                                    "type": "string",
                                                    "enum": [
                                                      "stddev_pop"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Sample standard deviation.",
                                                    "type": "string",
                                                    "enum": [
                                                      "stddev_samp"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Sum.",
                                                    "type": "string",
                                                    "enum": [
                                                      "sum"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Population variance.",
                                                    "type": "string",
                                                    "enum": [
                                                      "var_pop"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Sample variance.",
                                                    "type": "string",
                                                    "enum": [
                                                      "var_samp"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Do not aggregate.",
                                                    "type": "null"
                                                  }
                                                ]
                                              }
                                            },
                                            "description": {
                                              "description": "A description of the field.",
                                              "type": "string"
                                            },
                                            "format": {
                                              "description": "The display format specification for this field."
                                            },
                                            "group": {
                                              "description": "The group this field belongs to.",
                                              "type": "string"
                                            },
                                            "label": {
                                              "description": "The display label for this field.",
                                              "type": "string"
                                            },
                                            "primary_key": {
                                              "description": "Whether this field is a primary key.",
                                              "type": "boolean"
                                            },
                                            "timeframes": {
                                              "description": "The timeframe functions available for this field.",
                                              "type": "array",
                                              "items": {
                                                "description": "A timeframe function.",
                                                "anyOf": [
                                                  {
                                                    "description": "Truncate to day.",
                                                    "type": "string",
                                                    "enum": [
                                                      "day_trunc"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Day of month.",
                                                    "type": "string",
                                                    "enum": [
                                                      "day_of_month"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Day of week.",
                                                    "type": "string",
                                                    "enum": [
                                                      "day_of_week"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Day of year.",
                                                    "type": "string",
                                                    "enum": [
                                                      "day_of_year"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Truncate to hour.",
                                                    "type": "string",
                                                    "enum": [
                                                      "hour_trunc"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Hour.",
                                                    "type": "string",
                                                    "enum": [
                                                      "hour"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Truncate to minute.",
                                                    "type": "string",
                                                    "enum": [
                                                      "minute_trunc"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Minute.",
                                                    "type": "string",
                                                    "enum": [
                                                      "minute"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Truncate to month.",
                                                    "type": "string",
                                                    "enum": [
                                                      "month_trunc"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Month.",
                                                    "type": "string",
                                                    "enum": [
                                                      "month"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Truncate to quarter.",
                                                    "type": "string",
                                                    "enum": [
                                                      "quarter_trunc"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Quarter.",
                                                    "type": "string",
                                                    "enum": [
                                                      "quarter"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Truncate to second.",
                                                    "type": "string",
                                                    "enum": [
                                                      "second_trunc"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Second.",
                                                    "type": "string",
                                                    "enum": [
                                                      "second"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Truncate to week.",
                                                    "type": "string",
                                                    "enum": [
                                                      "week_trunc"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Week.",
                                                    "type": "string",
                                                    "enum": [
                                                      "week"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Truncate to year.",
                                                    "type": "string",
                                                    "enum": [
                                                      "year_trunc"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Year.",
                                                    "type": "string",
                                                    "enum": [
                                                      "year"
                                                    ]
                                                  },
                                                  {
                                                    "description": "Do not aggregate.",
                                                    "type": "null"
                                                  }
                                                ]
                                              }
                                            },
                                            "hidden": {
                                              "description": "Whether this field is hidden.",
                                              "type": "boolean"
                                            }
                                          },
                                          "required": [
                                            "expression",
                                            "name",
                                            "type"
                                          ]
                                        }
                                      },
                                      "name": {
                                        "description": "The name of the view.",
                                        "type": "string"
                                      },
                                      "source": {
                                        "description": "The data source for this view.",
                                        "anyOf": [
                                          {
                                            "description": "A query-based view source.",
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "description": "A query source.",
                                                "type": "string",
                                                "enum": [
                                                  "query"
                                                ]
                                              },
                                              "connection": {
                                                "description": "The connection to query against.",
                                                "anyOf": [
                                                  {
                                                    "description": "The unique identifier for the connection",
                                                    "type": "string"
                                                  },
                                                  {
                                                    "description": "Use DuckDB.",
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "query": {
                                                "description": "The SQL query.",
                                                "type": "string"
                                              },
                                              "dependencies": {
                                                "description": "Cell dependencies for this query.",
                                                "type": "array",
                                                "items": {
                                                  "description": "A cell dependency for a view source.",
                                                  "type": "object",
                                                  "properties": {
                                                    "query": {
                                                      "description": "The query for this dependency.",
                                                      "type": "string"
                                                    },
                                                    "name": {
                                                      "description": "The name of this dependency.",
                                                      "type": "string"
                                                    },
                                                    "connection": {
                                                      "description": "The connection to use for this dependency.",
                                                      "anyOf": [
                                                        {
                                                          "description": "The unique identifier for the connection",
                                                          "type": "string"
                                                        },
                                                        {
                                                          "description": "DuckDB",
                                                          "type": "null"
                                                        }
                                                      ]
                                                    },
                                                    "language": {
                                                      "description": "The language of the query.",
                                                      "anyOf": [
                                                        {
                                                          "description": "SQL.",
                                                          "type": "string",
                                                          "enum": [
                                                            "sql"
                                                          ]
                                                        },
                                                        {
                                                          "description": "Python.",
                                                          "type": "string",
                                                          "enum": [
                                                            "python"
                                                          ]
                                                        }
                                                      ]
                                                    }
                                                  },
                                                  "required": [
                                                    "query",
                                                    "name"
                                                  ]
                                                }
                                              },
                                              "url": {
                                                "description": "A URL associated with this source.",
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "type",
                                              "connection",
                                              "query"
                                            ]
                                          },
                                          {
                                            "description": "A table-based view source.",
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "description": "A table source.",
                                                "type": "string",
                                                "enum": [
                                                  "table"
                                                ]
                                              },
                                              "connection": {
                                                "description": "The unique identifier for the connection",
                                                "type": "string"
                                              },
                                              "query": {
                                                "description": "The query expression for the table.",
                                                "type": "string"
                                              },
                                              "table": {
                                                "description": "The table name.",
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "type",
                                              "connection",
                                              "query",
                                              "table"
                                            ]
                                          }
                                        ]
                                      },
                                      "label": {
                                        "description": "The display label for this view.",
                                        "type": "string"
                                      },
                                      "description": {
                                        "description": "A description of this view.",
                                        "type": "string"
                                      },
                                      "caching": {
                                        "description": "Caching settings for a view.",
                                        "type": "object",
                                        "properties": {
                                          "duration": {
                                            "description": "The cache duration in seconds.",
                                            "type": "number"
                                          },
                                          "schedule": {
                                            "description": "A cron expression for the cache refresh schedule.",
                                            "type": "string"
                                          },
                                          "wait_for_cache": {
                                            "description": "Whether to wait for the cache to be populated before returning results.",
                                            "type": "boolean"
                                          }
                                        },
                                        "required": [
                                          "duration"
                                        ]
                                      },
                                      "path": {
                                        "description": "The file path of the view definition.",
                                        "type": "string"
                                      },
                                      "joins": {
                                        "description": "Joins to other views.",
                                        "type": "array",
                                        "items": {
                                          "description": "A join between views.",
                                          "type": "object",
                                          "properties": {
                                            "view": {
                                              "description": "The name of the view to join.",
                                              "type": "string"
                                            },
                                            "constraint": {
                                              "description": "The join constraint expression.",
                                              "type": "string"
                                            },
                                            "relationship": {
                                              "description": "The relationship cardinality.",
                                              "anyOf": [
                                                {
                                                  "description": "One-to-one relationship.",
                                                  "type": "string",
                                                  "enum": [
                                                    "one_to_one"
                                                  ]
                                                },
                                                {
                                                  "description": "One-to-many relationship.",
                                                  "type": "string",
                                                  "enum": [
                                                    "one_to_many"
                                                  ]
                                                },
                                                {
                                                  "description": "Many-to-one relationship.",
                                                  "type": "string",
                                                  "enum": [
                                                    "many_to_one"
                                                  ]
                                                },
                                                {
                                                  "description": "Many-to-many relationship.",
                                                  "type": "string",
                                                  "enum": [
                                                    "many_to_many"
                                                  ]
                                                }
                                              ]
                                            },
                                            "type": {
                                              "description": "The type of join.",
                                              "anyOf": [
                                                {
                                                  "description": "Inner join.",
                                                  "type": "string",
                                                  "enum": [
                                                    "inner"
                                                  ]
                                                },
                                                {
                                                  "description": "Left join.",
                                                  "type": "string",
                                                  "enum": [
                                                    "left"
                                                  ]
                                                },
                                                {
                                                  "description": "Right join.",
                                                  "type": "string",
                                                  "enum": [
                                                    "right"
                                                  ]
                                                },
                                                {
                                                  "description": "Full outer join.",
                                                  "type": "string",
                                                  "enum": [
                                                    "full"
                                                  ]
                                                }
                                              ]
                                            }
                                          },
                                          "required": [
                                            "view",
                                            "constraint",
                                            "relationship"
                                          ]
                                        }
                                      },
                                      "definition_type": {
                                        "description": "The origin of this definition.",
                                        "anyOf": [
                                          {
                                            "description": "A native Count Metrics definition.",
                                            "type": "string",
                                            "enum": [
                                              "count"
                                            ]
                                          },
                                          {
                                            "description": "A definition converted from a LookML source.",
                                            "type": "string",
                                            "enum": [
                                              "converted-lookml"
                                            ]
                                          },
                                          {
                                            "description": "A definition converted from a OSI source.",
                                            "type": "string",
                                            "enum": [
                                              "converted-osi"
                                            ]
                                          },
                                          {
                                            "description": "A definition converted from a Snowflake source.",
                                            "type": "string",
                                            "enum": [
                                              "converted-snowflake"
                                            ]
                                          },
                                          {
                                            "description": "A native Count Metrics definition that extends another.",
                                            "type": "string",
                                            "enum": [
                                              "extended-count"
                                            ]
                                          },
                                          {
                                            "description": "A LookML-converted definition that extends another.",
                                            "type": "string",
                                            "enum": [
                                              "extended-lookml"
                                            ]
                                          },
                                          {
                                            "description": "A OSI-converted definition that extends another.",
                                            "type": "string",
                                            "enum": [
                                              "extended-osi"
                                            ]
                                          },
                                          {
                                            "description": "A Snowflake-converted definition that extends another.",
                                            "type": "string",
                                            "enum": [
                                              "extended-snowflake"
                                            ]
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "fields",
                                      "name",
                                      "source"
                                    ]
                                  }
                                },
                                "invalid": {
                                  "description": "Whether the catalog definitions contain validation errors.",
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "datasets",
                                "sha",
                                "views"
                              ]
                            }
                          },
                          "required": [
                            "catalog"
                          ]
                        }
                      },
                      "required": [
                        "result"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "V1"
        ]
      }
    },
    "/v1/catalogs": {
      "get": {
        "summary": "List catalogs",
        "description": "List all catalogs in the workspace accessible with this service account.",
        "operationId": "list_catalogs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "description": "",
                          "type": "object",
                          "properties": {
                            "catalogs": {
                              "description": "The list of catalogs in the workspace",
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Catalog"
                              }
                            }
                          },
                          "required": [
                            "catalogs"
                          ]
                        }
                      },
                      "required": [
                        "result"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "V1"
        ]
      }
    },
    "/v1/connections/:connection_key": {
      "get": {
        "summary": "Get a connection",
        "description": "Fetch metadata about a connection. The service account must have at least a viewer role for this connection.",
        "operationId": "get_a_connection",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connection_key",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the connection",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/Connection"
                        }
                      },
                      "required": [
                        "result"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "V1"
        ]
      }
    },
    "/v1/connections": {
      "get": {
        "summary": "List connections",
        "description": "List all connections in the workspace accessible with this service account.",
        "operationId": "list_connections",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "description": "",
                          "type": "object",
                          "properties": {
                            "connections": {
                              "description": "The list of connections in the workspace",
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Connection"
                              }
                            }
                          },
                          "required": [
                            "connections"
                          ]
                        }
                      },
                      "required": [
                        "result"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "V1"
        ]
      }
    },
    "/v1/connections/:connection_key/refresh_metadata": {
      "post": {
        "summary": "Refresh connection metadata",
        "description": "Trigger a refresh of the connection metadata (for example, dbt manifests). The refresh operation may take several minutes to complete, depending on the size of the metadata artifacts. If a branch name is not specified, the metadata will be updated from the default branch.",
        "operationId": "refresh_connection_metadata",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connection_key",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the connection",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "description": "The GitHub branch name to refresh.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "V1"
        ]
      }
    },
    "/v1/connections/:connection_key/refresh_schema": {
      "post": {
        "summary": "Refresh connection schema",
        "description": "Trigger a refresh of the connection schema. The refresh operation may take several minutes to complete, depending on the size of the database.",
        "operationId": "refresh_connection_schema",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connection_key",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the connection",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "V1"
        ]
      }
    },
    "/v1/projects/:project_key": {
      "get": {
        "summary": "Get a project",
        "description": "Fetch metadata about a project. The service account must have at least a viewer role for this project.",
        "operationId": "get_a_project",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "project_key",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the project",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/Project"
                        }
                      },
                      "required": [
                        "result"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "V1"
        ]
      }
    },
    "/v1/projects": {
      "get": {
        "summary": "List projects",
        "description": "List all projects in the workspace accessible with this service account.",
        "operationId": "list_projects",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "description": "",
                          "type": "object",
                          "properties": {
                            "projects": {
                              "description": "The list of projects in the workspace",
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Project"
                              }
                            }
                          },
                          "required": [
                            "projects"
                          ]
                        }
                      },
                      "required": [
                        "result"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "V1"
        ]
      }
    },
    "/v1/queries/:job_key/create_csv": {
      "post": {
        "summary": "Create CSV file",
        "description": "Generate a CSV file export of existing query results. Once the CSV file has been created, a URL to the file will be available when fetching this query again.",
        "operationId": "create_csv_file",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "job_key",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the query job",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wait_for",
            "in": "query",
            "required": false,
            "description": "Wait up to this many seconds for the CSV file to be created (to a maximum of 60)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "description": "",
                          "type": "object",
                          "properties": {
                            "url": {
                              "description": "The URL of the converted CSV file (if available)",
                              "anyOf": [
                                {
                                  "description": "A signed URL that can be used to download query results. This URL expires after 1 hour, after which a new URL can be requested using this route.",
                                  "type": "string"
                                },
                                {
                                  "description": "If the CSV file has not yet been created",
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "url"
                          ]
                        }
                      },
                      "required": [
                        "result"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "V1"
        ]
      }
    },
    "/v1/queries/:job_key": {
      "get": {
        "summary": "Get a query",
        "description": "Get the status of a previously-submitted query",
        "operationId": "get_a_query",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "job_key",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the query job",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num_rows",
            "in": "query",
            "required": false,
            "description": "The number of rows to return in the result preview, up to 1,000.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/Query"
                        }
                      },
                      "required": [
                        "result"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "V1"
        ]
      }
    },
    "/v1/queries": {
      "get": {
        "summary": "Get queries",
        "description": "Get the most recent queries for a canvas cell, ordered from newest to oldest.",
        "operationId": "get_queries",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "canvas_key",
            "in": "query",
            "required": true,
            "description": "The unique identifier for the canvas",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cell_key",
            "in": "query",
            "required": true,
            "description": "The unique identifier for a cell in a canvas",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num_rows",
            "in": "query",
            "required": false,
            "description": "The number of rows to return in the result preview, up to 1,000.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "description": "",
                          "type": "object",
                          "properties": {
                            "queries": {
                              "description": "Recent queries",
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Query"
                              }
                            }
                          },
                          "required": [
                            "queries"
                          ]
                        }
                      },
                      "required": [
                        "result"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "V1"
        ]
      },
      "post": {
        "summary": "Run a query",
        "description": "Run a new query in a given context - one of the `sql` or `structured` parameters must be present. A reference to the created query job is returned. If the same query is submitted multiple times, the same job reference may be returned if caching is enabled.",
        "operationId": "run_a_query",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "context": {
                    "description": "The context to run the query in. This context determines which data sources the query has access to. The service account must have an analyst role in this context.",
                    "type": "object",
                    "properties": {
                      "type": {
                        "description": "The type of context",
                        "anyOf": [
                          {
                            "description": "Run a query in a canvas context",
                            "type": "string",
                            "enum": [
                              "canvas"
                            ]
                          },
                          {
                            "description": "Run a query in a project context",
                            "type": "string",
                            "enum": [
                              "project"
                            ]
                          }
                        ]
                      },
                      "context_key": {
                        "description": "The unique identifier for the context.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "context_key"
                    ]
                  },
                  "source": {
                    "description": "The data source to run the query against. The source must be available in the chosen context.",
                    "type": "object",
                    "properties": {
                      "type": {
                        "description": "The data source to query.",
                        "anyOf": [
                          {
                            "description": "A database connection.",
                            "type": "string",
                            "enum": [
                              "connection"
                            ]
                          },
                          {
                            "description": "A Count Metrics catalog.",
                            "type": "string",
                            "enum": [
                              "catalog"
                            ]
                          }
                        ]
                      },
                      "source_key": {
                        "description": "The connection to run the query on. Use `null` to mean DuckDB.",
                        "anyOf": [
                          {
                            "description": "DuckDB",
                            "type": "null"
                          },
                          {
                            "description": "The unique identifier for the connection",
                            "type": "string"
                          }
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "source_key"
                    ]
                  },
                  "sql": {
                    "description": "A SQL query definition, which can only be used to query a database connection source",
                    "type": "string"
                  },
                  "structured": {
                    "description": "A structured query definition, which can only be used to query a catalog source. Read more about the expression syntax [here](https://learn.count.co/data-exploration-and-problem-solving/visual-and-low-code-cells/calculations-in-visuals-and-low-code-cells), which is a reduced subset of Postgres-like SQL.",
                    "type": "object",
                    "properties": {
                      "dataset": {
                        "description": "The name of the dataset to query. This should always be the name of a dataset, not a view.",
                        "type": "string"
                      },
                      "selects": {
                        "description": "A list of expressions to select",
                        "type": "array",
                        "items": {
                          "description": "The fields or expression",
                          "type": "object",
                          "properties": {
                            "view": {
                              "description": "The name of the view that the field comes from.",
                              "type": "string"
                            },
                            "expression": {
                              "description": "The name of a field, or an expression for a calculated field. Names of fields should always be qualified with view names, in case there are multiple fields with the same name in different views.",
                              "type": "string"
                            }
                          },
                          "required": [
                            "view",
                            "expression"
                          ]
                        }
                      },
                      "filters": {
                        "description": "Optional filters to apply to the result.",
                        "type": "object",
                        "properties": {
                          "combine": {
                            "description": "How multiple filters should be combined",
                            "anyOf": [
                              {
                                "description": "Combine using the AND boolean operation.",
                                "type": "string",
                                "enum": [
                                  "and"
                                ]
                              },
                              {
                                "description": "Combine using the OR boolean operation",
                                "type": "string",
                                "enum": [
                                  "or"
                                ]
                              }
                            ]
                          },
                          "filters": {
                            "description": "The list of filters",
                            "type": "array",
                            "items": {
                              "description": "The filter definition",
                              "type": "object",
                              "properties": {
                                "value": {
                                  "description": "The filter value",
                                  "anyOf": [
                                    {
                                      "description": "A numeric value",
                                      "type": "number"
                                    },
                                    {
                                      "description": "A string value",
                                      "type": "string"
                                    },
                                    {
                                      "description": "A boolean value",
                                      "type": "boolean"
                                    },
                                    {
                                      "description": "A NULL value",
                                      "type": "null"
                                    }
                                  ]
                                },
                                "operator": {
                                  "description": "The filter operation",
                                  "anyOf": [
                                    {
                                      "description": "Equal to.",
                                      "type": "string",
                                      "enum": [
                                        "="
                                      ]
                                    },
                                    {
                                      "description": "Not equal to.",
                                      "type": "string",
                                      "enum": [
                                        "!="
                                      ]
                                    },
                                    {
                                      "description": "Greater than.",
                                      "type": "string",
                                      "enum": [
                                        ">"
                                      ]
                                    },
                                    {
                                      "description": "Less than.",
                                      "type": "string",
                                      "enum": [
                                        "<"
                                      ]
                                    },
                                    {
                                      "description": "Greater or equal.",
                                      "type": "string",
                                      "enum": [
                                        ">="
                                      ]
                                    },
                                    {
                                      "description": "Less or equal",
                                      "type": "string",
                                      "enum": [
                                        "<="
                                      ]
                                    }
                                  ]
                                },
                                "field": {
                                  "description": "The name of a field",
                                  "type": "string"
                                },
                                "view": {
                                  "description": "The name of the view that the field comes from",
                                  "type": "string"
                                }
                              },
                              "required": [
                                "value",
                                "operator",
                                "field",
                                "view"
                              ]
                            }
                          }
                        },
                        "required": [
                          "combine",
                          "filters"
                        ]
                      }
                    },
                    "required": [
                      "dataset",
                      "selects"
                    ]
                  },
                  "cache_strategy": {
                    "description": "Define the caching behaviour for this query.",
                    "anyOf": [
                      {
                        "description": "Always run a new query",
                        "type": "string",
                        "enum": [
                          "force"
                        ]
                      },
                      {
                        "description": "Never run a new query",
                        "type": "string",
                        "enum": [
                          "cached-only"
                        ]
                      },
                      {
                        "description": "Return cached results if available, otherwise run a new query",
                        "type": "string",
                        "enum": [
                          "default"
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "context",
                  "source"
                ]
              },
              "example": {
                "context": {
                  "context_key": "my_canvas",
                  "type": "canvas"
                },
                "source": {
[...]
