{
  "openapi": "3.0.3",
  "info": {
    "title": "navitia",
    "version": "v15.105.1",
    "description": "\n    navitia.io is the open API for building cool stuff with mobility data. It provides the following services\n\n    * journeys computation\n    * line schedules\n    * next departures\n    * exploration of public transport data / search places\n    * and sexy things such as isochrones\n\n    navitia is a HATEOAS API that returns JSON formated results\n    ",
    "x-jentic-source-url": "https://api.navitia.io/v1/schema"
  },
  "servers": [
    {
      "url": "https://api.navitia.io/v1"
    }
  ],
  "paths": {
    "/coverage/{lon};{lat}/": {
      "get": {
        "summary": "",
        "operationId": "get_coverage__lon__lat__",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "name": "disable_geojson",
            "in": "query",
            "description": "hide the coverage geojson to reduce response size",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "lon",
            "in": "path",
            "description": "The longitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          },
          {
            "name": "lat",
            "in": "path",
            "description": "The latitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "regions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Coverage"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkSchema"
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    }
                  },
                  "required": [
                    "regions"
                  ],
                  "title": "Coverages"
                }
              }
            }
          }
        }
      }
    },
    "/coverage/{region}/": {
      "get": {
        "summary": "",
        "operationId": "get_coverage__region__",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "name": "disable_geojson",
            "in": "query",
            "description": "hide the coverage geojson to reduce response size",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "region",
            "in": "path",
            "description": "The region you want to query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "[^(/;)]+"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "regions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Coverage"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkSchema"
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    }
                  },
                  "required": [
                    "regions"
                  ],
                  "title": "Coverages"
                }
              }
            }
          }
        }
      }
    },
    "/coverage/": {
      "get": {
        "summary": "",
        "operationId": "get_coverage_",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "name": "disable_geojson",
            "in": "query",
            "description": "hide the coverage geojson to reduce response size",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "regions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Coverage"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkSchema"
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    }
                  },
                  "required": [
                    "regions"
                  ],
                  "title": "Coverages"
                }
              }
            }
          }
        }
      }
    },
    "/coverage/{region}/elevations": {
      "get": {
        "summary": "",
        "operationId": "get_coverage__region__elevations",
        "tags": [
          "Elevations"
        ],
        "parameters": [
          {
            "name": "polyline",
            "in": "query",
            "description": "Encoded polyline, with 6 digits precision",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "path",
            "description": "The region you want to query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "[^(/;)]+"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    },
                    "polyline": {
                      "type": "string"
                    },
                    "elevations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Elevation"
                      }
                    },
                    "feed_publishers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "elevations",
                    "feed_publishers"
                  ],
                  "title": "ElevationsDict"
                }
              }
            }
          }
        }
      }
    },
    "/elevations": {
      "get": {
        "summary": "",
        "operationId": "get_elevations",
        "tags": [
          "Elevations"
        ],
        "parameters": [
          {
            "name": "polyline",
            "in": "query",
            "description": "Encoded polyline, with 6 digits precision",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    },
                    "polyline": {
                      "type": "string"
                    },
                    "elevations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Elevation"
                      }
                    },
                    "feed_publishers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "elevations",
                    "feed_publishers"
                  ],
                  "title": "ElevationsDict"
                }
              }
            }
          }
        }
      }
    },
    "/coverage/{region}/coord/{lon};{lat}/addresses": {
      "get": {
        "summary": "",
        "operationId": "get_coverage__region__coord__lon__lat__addresses",
        "tags": [
          "Coord"
        ],
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "description": "The region you want to query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "[^(/;)]+"
            }
          },
          {
            "name": "lon",
            "in": "path",
            "description": "The longitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          },
          {
            "name": "lat",
            "in": "path",
            "description": "The latitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "$ref": "#/components/schemas/Address"
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    },
                    "regions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "regions"
                  ],
                  "title": "DictAddresses"
                }
              }
            }
          }
        }
      }
    },
    "/coverage/{region}/coords/{lon};{lat}/addresses": {
      "get": {
        "summary": "",
        "operationId": "get_coverage__region__coords__lon__lat__addresses",
        "tags": [
          "Coord"
        ],
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "description": "The region you want to query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "[^(/;)]+"
            }
          },
          {
            "name": "lon",
            "in": "path",
            "description": "The longitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          },
          {
            "name": "lat",
            "in": "path",
            "description": "The latitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "$ref": "#/components/schemas/Address"
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    },
                    "regions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "regions"
                  ],
                  "title": "DictAddresses"
                }
              }
            }
          }
        }
      }
    },
    "/coord/{lon};{lat}/": {
      "get": {
        "summary": "",
        "operationId": "get_coord__lon__lat__",
        "tags": [
          "Coord"
        ],
        "parameters": [
          {
            "name": "lon",
            "in": "path",
            "description": "The longitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          },
          {
            "name": "lat",
            "in": "path",
            "description": "The latitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "$ref": "#/components/schemas/Address"
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    },
                    "regions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "regions"
                  ],
                  "title": "DictAddresses"
                }
              }
            }
          }
        }
      }
    },
    "/coords/{lon};{lat}/": {
      "get": {
        "summary": "",
        "operationId": "get_coords__lon__lat__",
        "tags": [
          "Coord"
        ],
        "parameters": [
          {
            "name": "lon",
            "in": "path",
            "description": "The longitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          },
          {
            "name": "lat",
            "in": "path",
            "description": "The latitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "$ref": "#/components/schemas/Address"
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    },
                    "regions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "regions"
                  ],
                  "title": "DictAddresses"
                }
              }
            }
          }
        }
      }
    },
    "/coverage/{lon};{lat}/{uri}/stop_points": {
      "get": {
        "summary": "",
        "operationId": "get_coverage__lon__lat___uri__stop_points",
        "tags": [
          "StopPoints"
        ],
        "parameters": [
          {
            "name": "start_page",
            "in": "query",
            "description": "The page where you want to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of objects you want on a page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "25",
              "maximum": 1000
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "The depth of your object",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "1",
              "minimum": 0,
              "maximum": 3
            }
          },
          {
            "name": "forbidden_id[]",
            "in": "query",
            "description": "DEPRECATED, replaced by `forbidden_uris[]`",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "forbidden_uris[]",
            "in": "query",
            "description": "forbidden uris",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "external_code",
            "in": "query",
            "description": "An external code to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "headsign",
            "in": "query",
            "description": "filter vehicle journeys on headsign",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "odt_level",
            "in": "query",
            "description": "odt level",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "with_stops",
                "scheduled",
                "zonal",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "data_freshness",
            "in": "query",
            "description": "Define the freshness of data to use to filter vehicle_journeys along with parameters &since and/or &until .\nProvides only the vehicle_journeys valid for the data freshness level requested.\nUsing `&data_freshness=base_schedule` will return all original vehicle_journeys onlywhereas using `&data_freshness=realtime` will return vehicle_journeys after applyingmodifications by realtime (amended vehicle_journeys, and non-impacted original vehicle_journeys).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "base_schedule",
                "adapted_schedule",
                "realtime"
              ],
              "default": "base_schedule"
            }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Distance range of the query. Used only if a coord is in the query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "200"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "filters objects not valid before this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "filters objects not valid after this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "disable_geojson",
            "in": "query",
            "description": "remove geojson from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "disable_disruption",
            "in": "query",
            "description": "remove disruptions from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter parameter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags[]",
            "in": "query",
            "description": "If filled, will restrain the search within the given disruption tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Here, select a specific language for disruption message",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "nl-NL",
                "en-US",
                "en-GB",
                "fr-FR",
                "de-DE",
                "hi-IN",
                "it-IT",
                "ja-JP",
                "pt-PT",
                "ru-RU",
                "es-ES"
              ]
            }
          },
          {
            "name": "original_id",
            "in": "query",
            "description": "original uri of the object you want to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "path",
            "description": "The longitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          },
          {
            "name": "lat",
            "in": "path",
            "description": "The latitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          },
          {
            "name": "uri",
            "in": "path",
            "description": "First part of the uri",
            "required": true,
            "schema": {
              "type": "string",
              "format": "[^/].*?"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves stop points",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    },
                    "feed_publishers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FeedPublisher"
                      }
                    },
                    "disruptions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Disruption"
                      }
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Note"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkSchema"
                      }
                    },
                    "origins": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopArea"
                      }
                    },
                    "terminus": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopArea"
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    },
                    "stop_points": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopPoint"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "feed_publishers",
                    "disruptions",
                    "origins",
                    "terminus"
                  ],
                  "title": "StopPoints"
                }
              }
            }
          }
        }
      }
    },
    "/coverage/{lon};{lat}/stop_points": {
      "get": {
        "summary": "",
        "operationId": "get_coverage__lon__lat__stop_points",
        "tags": [
          "StopPoints"
        ],
        "parameters": [
          {
            "name": "start_page",
            "in": "query",
            "description": "The page where you want to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of objects you want on a page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "25",
              "maximum": 1000
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "The depth of your object",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "1",
              "minimum": 0,
              "maximum": 3
            }
          },
          {
            "name": "forbidden_id[]",
            "in": "query",
            "description": "DEPRECATED, replaced by `forbidden_uris[]`",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "forbidden_uris[]",
            "in": "query",
            "description": "forbidden uris",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "external_code",
            "in": "query",
            "description": "An external code to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "headsign",
            "in": "query",
            "description": "filter vehicle journeys on headsign",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "odt_level",
            "in": "query",
            "description": "odt level",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "with_stops",
                "scheduled",
                "zonal",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "data_freshness",
            "in": "query",
            "description": "Define the freshness of data to use to filter vehicle_journeys along with parameters &since and/or &until .\nProvides only the vehicle_journeys valid for the data freshness level requested.\nUsing `&data_freshness=base_schedule` will return all original vehicle_journeys onlywhereas using `&data_freshness=realtime` will return vehicle_journeys after applyingmodifications by realtime (amended vehicle_journeys, and non-impacted original vehicle_journeys).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "base_schedule",
                "adapted_schedule",
                "realtime"
              ],
              "default": "base_schedule"
            }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Distance range of the query. Used only if a coord is in the query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "200"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "filters objects not valid before this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "filters objects not valid after this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "disable_geojson",
            "in": "query",
            "description": "remove geojson from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "disable_disruption",
            "in": "query",
            "description": "remove disruptions from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter parameter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags[]",
            "in": "query",
            "description": "If filled, will restrain the search within the given disruption tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Here, select a specific language for disruption message",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "nl-NL",
                "en-US",
                "en-GB",
                "fr-FR",
                "de-DE",
                "hi-IN",
                "it-IT",
                "ja-JP",
                "pt-PT",
                "ru-RU",
                "es-ES"
              ]
            }
          },
          {
            "name": "original_id",
            "in": "query",
            "description": "original uri of the object you want to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "path",
            "description": "The longitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          },
          {
            "name": "lat",
            "in": "path",
            "description": "The latitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves stop points",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    },
                    "feed_publishers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FeedPublisher"
                      }
                    },
                    "disruptions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Disruption"
                      }
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Note"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkSchema"
                      }
                    },
                    "origins": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopArea"
                      }
                    },
                    "terminus": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopArea"
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    },
                    "stop_points": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopPoint"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "feed_publishers",
                    "disruptions",
                    "origins",
                    "terminus"
                  ],
                  "title": "StopPoints"
                }
              }
            }
          }
        }
      }
    },
    "/coverage/{region}/{uri}/stop_points": {
      "get": {
        "summary": "",
        "operationId": "get_coverage__region___uri__stop_points",
        "tags": [
          "StopPoints"
        ],
        "parameters": [
          {
            "name": "start_page",
            "in": "query",
            "description": "The page where you want to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of objects you want on a page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "25",
              "maximum": 1000
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "The depth of your object",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "1",
              "minimum": 0,
              "maximum": 3
            }
          },
          {
            "name": "forbidden_id[]",
            "in": "query",
            "description": "DEPRECATED, replaced by `forbidden_uris[]`",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "forbidden_uris[]",
            "in": "query",
            "description": "forbidden uris",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "external_code",
            "in": "query",
            "description": "An external code to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "headsign",
            "in": "query",
            "description": "filter vehicle journeys on headsign",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "odt_level",
            "in": "query",
            "description": "odt level",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "with_stops",
                "scheduled",
                "zonal",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "data_freshness",
            "in": "query",
            "description": "Define the freshness of data to use to filter vehicle_journeys along with parameters &since and/or &until .\nProvides only the vehicle_journeys valid for the data freshness level requested.\nUsing `&data_freshness=base_schedule` will return all original vehicle_journeys onlywhereas using `&data_freshness=realtime` will return vehicle_journeys after applyingmodifications by realtime (amended vehicle_journeys, and non-impacted original vehicle_journeys).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "base_schedule",
                "adapted_schedule",
                "realtime"
              ],
              "default": "base_schedule"
            }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Distance range of the query. Used only if a coord is in the query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "200"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "filters objects not valid before this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "filters objects not valid after this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "disable_geojson",
            "in": "query",
            "description": "remove geojson from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "disable_disruption",
            "in": "query",
            "description": "remove disruptions from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter parameter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags[]",
            "in": "query",
            "description": "If filled, will restrain the search within the given disruption tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Here, select a specific language for disruption message",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "nl-NL",
                "en-US",
                "en-GB",
                "fr-FR",
                "de-DE",
                "hi-IN",
                "it-IT",
                "ja-JP",
                "pt-PT",
                "ru-RU",
                "es-ES"
              ]
            }
          },
          {
            "name": "original_id",
            "in": "query",
            "description": "original uri of the object you want to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "path",
            "description": "The region you want to query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "[^(/;)]+"
            }
          },
          {
            "name": "uri",
            "in": "path",
            "description": "First part of the uri",
            "required": true,
            "schema": {
              "type": "string",
              "format": "[^/].*?"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves stop points",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    },
                    "feed_publishers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FeedPublisher"
                      }
                    },
                    "disruptions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Disruption"
                      }
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Note"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkSchema"
                      }
                    },
                    "origins": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopArea"
                      }
                    },
                    "terminus": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopArea"
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    },
                    "stop_points": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopPoint"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "feed_publishers",
                    "disruptions",
                    "origins",
                    "terminus"
                  ],
                  "title": "StopPoints"
                }
              }
            }
          }
        }
      }
    },
    "/coverage/{region}/stop_points": {
      "get": {
        "summary": "",
        "operationId": "get_coverage__region__stop_points",
        "tags": [
          "StopPoints"
        ],
        "parameters": [
          {
            "name": "start_page",
            "in": "query",
            "description": "The page where you want to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of objects you want on a page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "25",
              "maximum": 1000
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "The depth of your object",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "1",
              "minimum": 0,
              "maximum": 3
            }
          },
          {
            "name": "forbidden_id[]",
            "in": "query",
            "description": "DEPRECATED, replaced by `forbidden_uris[]`",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "forbidden_uris[]",
            "in": "query",
            "description": "forbidden uris",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "external_code",
            "in": "query",
            "description": "An external code to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "headsign",
            "in": "query",
            "description": "filter vehicle journeys on headsign",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "odt_level",
            "in": "query",
            "description": "odt level",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "with_stops",
                "scheduled",
                "zonal",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "data_freshness",
            "in": "query",
            "description": "Define the freshness of data to use to filter vehicle_journeys along with parameters &since and/or &until .\nProvides only the vehicle_journeys valid for the data freshness level requested.\nUsing `&data_freshness=base_schedule` will return all original vehicle_journeys onlywhereas using `&data_freshness=realtime` will return vehicle_journeys after applyingmodifications by realtime (amended vehicle_journeys, and non-impacted original vehicle_journeys).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "base_schedule",
                "adapted_schedule",
                "realtime"
              ],
              "default": "base_schedule"
            }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Distance range of the query. Used only if a coord is in the query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "200"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "filters objects not valid before this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "filters objects not valid after this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "disable_geojson",
            "in": "query",
            "description": "remove geojson from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "disable_disruption",
            "in": "query",
            "description": "remove disruptions from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter parameter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags[]",
            "in": "query",
            "description": "If filled, will restrain the search within the given disruption tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Here, select a specific language for disruption message",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "nl-NL",
                "en-US",
                "en-GB",
                "fr-FR",
                "de-DE",
                "hi-IN",
                "it-IT",
                "ja-JP",
                "pt-PT",
                "ru-RU",
                "es-ES"
              ]
            }
          },
          {
            "name": "original_id",
            "in": "query",
            "description": "original uri of the object you want to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "path",
            "description": "The region you want to query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "[^(/;)]+"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves stop points",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    },
                    "feed_publishers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FeedPublisher"
                      }
                    },
                    "disruptions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Disruption"
                      }
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Note"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkSchema"
                      }
                    },
                    "origins": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopArea"
                      }
                    },
                    "terminus": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopArea"
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    },
                    "stop_points": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopPoint"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "feed_publishers",
                    "disruptions",
                    "origins",
                    "terminus"
                  ],
                  "title": "StopPoints"
                }
              }
            }
          }
        }
      }
    },
    "/coverage/{lon};{lat}/{uri}/stop_points/{id}": {
      "get": {
        "summary": "",
        "operationId": "get_coverage__lon__lat___uri__stop_points__id_",
        "tags": [
          "StopPoints"
        ],
        "parameters": [
          {
            "name": "start_page",
            "in": "query",
            "description": "The page where you want to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of objects you want on a page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "25",
              "maximum": 1000
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "The depth of your object",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "1",
              "minimum": 0,
              "maximum": 3
            }
          },
          {
            "name": "forbidden_id[]",
            "in": "query",
            "description": "DEPRECATED, replaced by `forbidden_uris[]`",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "forbidden_uris[]",
            "in": "query",
            "description": "forbidden uris",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "external_code",
            "in": "query",
            "description": "An external code to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "headsign",
            "in": "query",
            "description": "filter vehicle journeys on headsign",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "odt_level",
            "in": "query",
            "description": "odt level",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "with_stops",
                "scheduled",
                "zonal",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "data_freshness",
            "in": "query",
            "description": "Define the freshness of data to use to filter vehicle_journeys along with parameters &since and/or &until .\nProvides only the vehicle_journeys valid for the data freshness level requested.\nUsing `&data_freshness=base_schedule` will return all original vehicle_journeys onlywhereas using `&data_freshness=realtime` will return vehicle_journeys after applyingmodifications by realtime (amended vehicle_journeys, and non-impacted original vehicle_journeys).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "base_schedule",
                "adapted_schedule",
                "realtime"
              ],
              "default": "base_schedule"
            }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Distance range of the query. Used only if a coord is in the query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "200"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "filters objects not valid before this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "filters objects not valid after this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "disable_geojson",
            "in": "query",
            "description": "remove geojson from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "disable_disruption",
            "in": "query",
            "description": "remove disruptions from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tags[]",
            "in": "query",
            "description": "If filled, will restrain the search within the given disruption tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Here, select a specific language for disruption message",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "nl-NL",
                "en-US",
                "en-GB",
                "fr-FR",
                "de-DE",
                "hi-IN",
                "it-IT",
                "ja-JP",
                "pt-PT",
                "ru-RU",
                "es-ES"
              ]
            }
          },
          {
            "name": "original_id",
            "in": "query",
            "description": "original uri of the object you want to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "path",
            "description": "The longitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          },
          {
            "name": "lat",
            "in": "path",
            "description": "The latitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          },
          {
            "name": "uri",
            "in": "path",
            "description": "First part of the uri",
            "required": true,
            "schema": {
              "type": "string",
              "format": "[^/].*?"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the object you want to query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "[^/]+"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves stop points",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    },
                    "feed_publishers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FeedPublisher"
                      }
                    },
                    "disruptions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Disruption"
                      }
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Note"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkSchema"
                      }
                    },
                    "origins": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopArea"
                      }
                    },
                    "terminus": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopArea"
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    },
                    "stop_points": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopPoint"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "feed_publishers",
                    "disruptions",
                    "origins",
                    "terminus"
                  ],
                  "title": "StopPoints"
                }
              }
            }
          }
        }
      }
    },
    "/coverage/{lon};{lat}/stop_points/{id}": {
      "get": {
        "summary": "",
        "operationId": "get_coverage__lon__lat__stop_points__id_",
        "tags": [
          "StopPoints"
        ],
        "parameters": [
          {
            "name": "start_page",
            "in": "query",
            "description": "The page where you want to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of objects you want on a page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "25",
              "maximum": 1000
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "The depth of your object",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "1",
              "minimum": 0,
              "maximum": 3
            }
          },
          {
            "name": "forbidden_id[]",
            "in": "query",
            "description": "DEPRECATED, replaced by `forbidden_uris[]`",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "forbidden_uris[]",
            "in": "query",
            "description": "forbidden uris",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "external_code",
            "in": "query",
            "description": "An external code to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "headsign",
            "in": "query",
            "description": "filter vehicle journeys on headsign",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "odt_level",
            "in": "query",
            "description": "odt level",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "with_stops",
                "scheduled",
                "zonal",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "data_freshness",
            "in": "query",
            "description": "Define the freshness of data to use to filter vehicle_journeys along with parameters &since and/or &until .\nProvides only the vehicle_journeys valid for the data freshness level requested.\nUsing `&data_freshness=base_schedule` will return all original vehicle_journeys onlywhereas using `&data_freshness=realtime` will return vehicle_journeys after applyingmodifications by realtime (amended vehicle_journeys, and non-impacted original vehicle_journeys).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "base_schedule",
                "adapted_schedule",
                "realtime"
              ],
              "default": "base_schedule"
            }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Distance range of the query. Used only if a coord is in the query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "200"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "filters objects not valid before this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "filters objects not valid after this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "disable_geojson",
            "in": "query",
            "description": "remove geojson from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "disable_disruption",
            "in": "query",
            "description": "remove disruptions from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tags[]",
            "in": "query",
            "description": "If filled, will restrain the search within the given disruption tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Here, select a specific language for disruption message",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "nl-NL",
                "en-US",
                "en-GB",
                "fr-FR",
                "de-DE",
                "hi-IN",
                "it-IT",
                "ja-JP",
                "pt-PT",
                "ru-RU",
                "es-ES"
              ]
            }
          },
          {
            "name": "original_id",
            "in": "query",
            "description": "original uri of the object you want to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "path",
            "description": "The longitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          },
          {
            "name": "lat",
            "in": "path",
            "description": "The latitude of where the coord you want to query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "-?\\d+(\\.\\d+)?"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the object you want to query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "[^/]+"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves stop points",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    },
                    "feed_publishers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FeedPublisher"
                      }
                    },
                    "disruptions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Disruption"
                      }
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Note"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkSchema"
                      }
                    },
                    "origins": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopArea"
                      }
                    },
                    "terminus": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopArea"
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    },
                    "stop_points": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopPoint"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "feed_publishers",
                    "disruptions",
                    "origins",
                    "terminus"
                  ],
                  "title": "StopPoints"
                }
              }
            }
          }
        }
      }
    },
    "/coverage/{region}/{uri}/stop_points/{id}": {
      "get": {
        "summary": "",
        "operationId": "get_coverage__region___uri__stop_points__id_",
        "tags": [
          "StopPoints"
        ],
        "parameters": [
          {
            "name": "start_page",
            "in": "query",
            "description": "The page where you want to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of objects you want on a page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "25",
              "maximum": 1000
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "The depth of your object",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "1",
              "minimum": 0,
              "maximum": 3
            }
          },
          {
            "name": "forbidden_id[]",
            "in": "query",
            "description": "DEPRECATED, replaced by `forbidden_uris[]`",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "forbidden_uris[]",
            "in": "query",
            "description": "forbidden uris",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "external_code",
            "in": "query",
            "description": "An external code to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "headsign",
            "in": "query",
            "description": "filter vehicle journeys on headsign",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "odt_level",
            "in": "query",
            "description": "odt level",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "with_stops",
                "scheduled",
                "zonal",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "data_freshness",
            "in": "query",
            "description": "Define the freshness of data to use to filter vehicle_journeys along with parameters &since and/or &until .\nProvides only the vehicle_journeys valid for the data freshness level requested.\nUsing `&data_freshness=base_schedule` will return all original vehicle_journeys onlywhereas using `&data_freshness=realtime` will return vehicle_journeys after applyingmodifications by realtime (amended vehicle_journeys, and non-impacted original vehicle_journeys).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "base_schedule",
                "adapted_schedule",
                "realtime"
              ],
              "default": "base_schedule"
            }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Distance range of the query. Used only if a coord is in the query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "200"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "filters objects not valid before this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "filters objects not valid after this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "disable_geojson",
            "in": "query",
            "description": "remove geojson from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "disable_disruption",
            "in": "query",
            "description": "remove disruptions from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tags[]",
            "in": "query",
            "description": "If filled, will restrain the search within the given disruption tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Here, select a specific language for disruption message",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "nl-NL",
                "en-US",
                "en-GB",
                "fr-FR",
                "de-DE",
                "hi-IN",
                "it-IT",
                "ja-JP",
                "pt-PT",
                "ru-RU",
                "es-ES"
              ]
            }
          },
          {
            "name": "original_id",
            "in": "query",
            "description": "original uri of the object you want to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "path",
            "description": "The region you want to query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "[^(/;)]+"
            }
          },
          {
            "name": "uri",
            "in": "path",
            "description": "First part of the uri",
            "required": true,
            "schema": {
              "type": "string",
              "format": "[^/].*?"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the object you want to query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "[^/]+"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves stop points",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    },
                    "feed_publishers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FeedPublisher"
                      }
                    },
                    "disruptions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Disruption"
                      }
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Note"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkSchema"
                      }
                    },
                    "origins": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopArea"
                      }
                    },
                    "terminus": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopArea"
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    },
                    "stop_points": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopPoint"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "feed_publishers",
                    "disruptions",
                    "origins",
                    "terminus"
                  ],
                  "title": "StopPoints"
                }
              }
            }
          }
        }
      }
    },
    "/coverage/{region}/stop_points/{id}": {
      "get": {
        "summary": "",
        "operationId": "get_coverage__region__stop_points__id_",
        "tags": [
          "StopPoints"
        ],
        "parameters": [
          {
            "name": "start_page",
            "in": "query",
            "description": "The page where you want to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of objects you want on a page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "25",
              "maximum": 1000
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "The depth of your object",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "1",
              "minimum": 0,
              "maximum": 3
            }
          },
          {
            "name": "forbidden_id[]",
            "in": "query",
            "description": "DEPRECATED, replaced by `forbidden_uris[]`",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "forbidden_uris[]",
            "in": "query",
            "description": "forbidden uris",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "external_code",
            "in": "query",
            "description": "An external code to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "headsign",
            "in": "query",
            "description": "filter vehicle journeys on headsign",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "odt_level",
            "in": "query",
            "description": "odt level",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "with_stops",
                "scheduled",
                "zonal",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "data_freshness",
            "in": "query",
            "description": "Define the freshness of data to use to filter vehicle_journeys along with parameters &since and/or &until .\nProvides only the vehicle_journeys valid for the data freshness level requested.\nUsing `&data_freshness=base_schedule` will return all original vehicle_journeys onlywhereas using `&data_freshness=realtime` will return vehicle_journeys after applyingmodifications by realtime (amended vehicle_journeys, and non-impacted original vehicle_journeys).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "base_schedule",
                "adapted_schedule",
                "realtime"
              ],
              "default": "base_schedule"
            }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Distance range of the query. Used only if a coord is in the query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "200"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "filters objects not valid before this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "filters objects not valid after this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "disable_geojson",
            "in": "query",
            "description": "remove geojson from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "disable_disruption",
            "in": "query",
            "description": "remove disruptions from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tags[]",
            "in": "query",
            "description": "If filled, will restrain the search within the given disruption tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Here, select a specific language for disruption message",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "nl-NL",
                "en-US",
                "en-GB",
                "fr-FR",
                "de-DE",
                "hi-IN",
                "it-IT",
                "ja-JP",
                "pt-PT",
                "ru-RU",
                "es-ES"
              ]
            }
          },
          {
            "name": "original_id",
            "in": "query",
            "description": "original uri of the object you want to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "path",
            "description": "The region you want to query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "[^(/;)]+"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the object you want to query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "[^/]+"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves stop points",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    },
                    "feed_publishers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FeedPublisher"
                      }
                    },
                    "disruptions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Disruption"
                      }
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Note"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkSchema"
                      }
                    },
                    "origins": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopArea"
                      }
                    },
                    "terminus": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopArea"
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    },
                    "stop_points": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StopPoint"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "feed_publishers",
                    "disruptions",
                    "origins",
                    "terminus"
                  ],
                  "title": "StopPoints"
                }
              }
            }
          }
        }
      }
    },
    "/coverage/{lon};{lat}/{uri}/routes": {
      "get": {
        "summary": "",
        "operationId": "get_coverage__lon__lat___uri__routes",
        "tags": [
          "Routes"
        ],
        "parameters": [
          {
            "name": "start_page",
            "in": "query",
            "description": "The page where you want to start",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of objects you want on a page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "25",
              "maximum": 1000
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "The depth of your object",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "1",
              "minimum": 0,
              "maximum": 3
            }
          },
          {
            "name": "forbidden_id[]",
            "in": "query",
            "description": "DEPRECATED, replaced by `forbidden_uris[]`",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "forbidden_uris[]",
            "in": "query",
            "description": "forbidden uris",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "pt-object"
              }
            }
          },
          {
            "name": "external_code",
            "in": "query",
            "description": "An external code to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "headsign",
            "in": "query",
            "description": "filter vehicle journeys on headsign",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "odt_level",
            "in": "query",
            "description": "odt level",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "with_stops",
                "scheduled",
                "zonal",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "data_freshness",
            "in": "query",
            "description": "Define the freshness of data to use to filter vehicle_journeys along with parameters &since and/or &until .\nProvides only the vehicle_journeys valid for the data freshness level requested.\nUsing `&data_freshness=base_schedule` will return all original vehicle_journeys onlywhereas using `&data_freshness=realtime` will return vehicle_journeys after applyingmodifications by realtime (amended vehicle_journeys, and non-impacted original vehicle_journeys).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "base_schedule",
                "adapted_schedule",
                "realtime"
              ],
              "default": "base_schedule"
            }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Distance range of the query. Used only if a coord is in the query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "200"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "filters objects not valid before this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "filters objects not valid after this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "disable_geojson",
            "in": "query",
            "description": "remove geojson from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "disable_disruption",
            "in": "query",
            "description": "remove disruptions from the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter parameter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags[]",
            "in": "query",
            "description": "If filled, will restrain the search within the given disruption tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Here, select a specific language for disruption message",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "nl-NL",
                "en-US",
                "en-GB",
                "fr-FR",
                "de-DE",
                "hi-IN",
                "it-IT",
                "ja-JP",
                "pt-PT",
                "ru-RU",
                "es-ES"
              ]
            }
          },
          {
            "name": "original_id",
            "in": "query",
            "description": "original uri of the object you want to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
[...]
