{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloud 66 API",
    "description": "Cloud 66 is a DevOps-as-a-Service platform that helps developers build, deploy, and manage applications on any cloud. The API provides programmatic access to manage stacks, servers, services, containers, deployments, environment variables, settings, backups, accounts, and more.",
    "version": "3.0",
    "x-jentic-source-url": "https://developers.cloud66.com/"
  },
  "servers": [
    {
      "url": "https://app.cloud66.com/api/3",
      "description": "Cloud 66 API v3"
    }
  ],
  "security": [
    {
      "oauth2": [
        "public",
        "redeploy",
        "jobs",
        "admin"
      ]
    }
  ],
  "paths": {
    "/stacks.json": {
      "get": {
        "operationId": "listStacks",
        "summary": "List all stacks",
        "description": "Returns a paginated list of all stacks.",
        "tags": [
          "Stacks"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "filter_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_environment",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_git_repo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_git_branch",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of stacks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "": "#/components/schemas/Stack"
                      }
                    },
                    "count": {
                      "type": "integer"
                    },
                    "pagination": {
                      "": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stacks": {
      "post": {
        "operationId": "createStack",
        "summary": "Create a new stack",
        "description": "Create a new application stack.",
        "tags": [
          "Stacks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "": "#/components/schemas/StackCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async result for stack creation",
            "content": {
              "application/json": {
                "schema": {
                  "": "#/components/schemas/AsyncResult"
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}.json": {
      "get": {
        "operationId": "getStack",
        "summary": "Get stack details",
        "description": "Retrieve details of a specific stack.",
        "tags": [
          "Stacks"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stack details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "": "#/components/schemas/Stack"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}/settings.json": {
      "get": {
        "operationId": "listStackSettings",
        "summary": "List stack settings",
        "description": "Retrieve all settings for a stack.",
        "tags": [
          "Settings"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "": "#/components/schemas/StackSetting"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}/settings/{key}.json": {
      "put": {
        "operationId": "updateStackSetting",
        "summary": "Update a stack setting",
        "tags": [
          "Settings"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async result",
            "content": {
              "application/json": {
                "schema": {
                  "": "#/components/schemas/AsyncResult"
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}/environments.json": {
      "get": {
        "operationId": "listEnvVars",
        "summary": "List environment variables",
        "tags": [
          "Environment Variables"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of environment variables",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "": "#/components/schemas/EnvVar"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createEnvVar",
        "summary": "Create an environment variable",
        "tags": [
          "Environment Variables"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key",
                  "value"
                ],
                "properties": {
                  "key": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  },
                  "apply_strategy": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async result",
            "content": {
              "application/json": {
                "schema": {
                  "": "#/components/schemas/AsyncResult"
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}/environments/{key}.json": {
      "put": {
        "operationId": "updateEnvVar",
        "summary": "Update an environment variable",
        "tags": [
          "Environment Variables"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string"
                  },
                  "apply_strategy": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async result",
            "content": {
              "application/json": {
                "schema": {
                  "": "#/components/schemas/AsyncResult"
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}/deployments.json": {
      "post": {
        "operationId": "redeployStack",
        "summary": "Redeploy a stack",
        "tags": [
          "Deployments"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "git_ref": {
                    "type": "string"
                  },
                  "deploy_strategy": {
                    "type": "string"
                  },
                  "deployment_profile": {
                    "type": "string"
                  },
                  "services": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Redeploy response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "queued": {
                      "type": "boolean"
                    },
                    "async_action_id": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}/servers.json": {
      "get": {
        "operationId": "listServers",
        "summary": "List servers for a stack",
        "tags": [
          "Servers"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of servers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "": "#/components/schemas/Server"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}/servers/{server_uid}.json": {
      "get": {
        "operationId": "getServer",
        "summary": "Get server details",
        "tags": [
          "Servers"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "server_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_ssh_key",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Server details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "": "#/components/schemas/Server"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}/servers/{server_uid}/reboot_server.json": {
      "post": {
        "operationId": "rebootServer",
        "summary": "Reboot a server",
        "tags": [
          "Servers"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "server_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Async result",
            "content": {
              "application/json": {
                "schema": {
                  "": "#/components/schemas/AsyncResult"
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}/services.json": {
      "get": {
        "operationId": "listServices",
        "summary": "List services for a stack",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "server_uid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of services",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "": "#/components/schemas/Service"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}/services/{service_name}.json": {
      "get": {
        "operationId": "getService",
        "summary": "Get service details",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "": "#/components/schemas/Service"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "stopService",
        "summary": "Stop a service",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Async result",
            "content": {
              "application/json": {
                "schema": {
                  "": "#/components/schemas/AsyncResult"
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}/containers.json": {
      "get": {
        "operationId": "listContainers",
        "summary": "List containers",
        "tags": [
          "Containers"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "server_uid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of containers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "": "#/components/schemas/Container"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}/containers/{container_uid}.json": {
      "get": {
        "operationId": "getContainer",
        "summary": "Get container details",
        "tags": [
          "Containers"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "container_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Container details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "": "#/components/schemas/Container"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "stopContainer",
        "summary": "Stop a container",
        "tags": [
          "Containers"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "container_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Async result",
            "content": {
              "application/json": {
                "schema": {
                  "": "#/components/schemas/AsyncResult"
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}/backups.json": {
      "get": {
        "operationId": "listBackups",
        "summary": "List managed backups",
        "tags": [
          "Backups"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of backups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "": "#/components/schemas/Backup"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}/firewalls.json": {
      "post": {
        "operationId": "createFirewallLease",
        "summary": "Create a temporary firewall lease",
        "tags": [
          "Firewalls"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from_ip": {
                    "type": "string",
                    "description": "IP address or AUTO"
                  },
                  "ttl": {
                    "type": "integer",
                    "description": "Time to live in minutes"
                  },
                  "port": {
                    "type": "integer",
                    "description": "Port number to open"
                  },
                  "server_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async result",
            "content": {
              "application/json": {
                "schema": {
                  "": "#/components/schemas/AsyncResult"
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}/actions.json": {
      "post": {
        "operationId": "invokeStackAction",
        "summary": "Invoke an action on a stack",
        "tags": [
          "Actions"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "command"
                ],
                "properties": {
                  "command": {
                    "type": "string"
                  },
                  "server_uid": {
                    "type": "string"
                  },
                  "db_type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async result",
            "content": {
              "application/json": {
                "schema": {
                  "": "#/components/schemas/AsyncResult"
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}/reboot_servers.json": {
      "post": {
        "operationId": "rebootStackServers",
        "summary": "Reboot all servers in a stack",
        "tags": [
          "Servers"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "strategy": {
                    "type": "string"
                  },
                  "group": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async result",
            "content": {
              "application/json": {
                "schema": {
                  "": "#/components/schemas/AsyncResult"
                }
              }
            }
          }
        }
      }
    },
    "/stacks/{stack_uid}/notifications": {
      "get": {
        "operationId": "listNotifications",
        "summary": "List notification rules",
        "tags": [
          "Notifications"
        ],
        "parameters": [
          {
            "name": "stack_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of notification rules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "": "#/components/schemas/Notification"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts.json": {
      "get": {
        "operationId": "listAccounts",
        "summary": "List accounts",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "": "#/components/schemas/Account"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}.json": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account details",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "": "#/components/schemas/Account"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://app.cloud66.com/oauth/authorize",
            "tokenUrl": "https://app.cloud66.com/oauth/token",
            "scopes": {
              "public": "Read-only access",
              "redeploy": "Redeploy stacks",
              "jobs": "Manage jobs",
              "admin": "Full admin access"
            }
          }
        }
      }
    },
    "schemas": {
      "Stack": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "git": {
            "type": "string"
          },
          "git_branch": {
            "type": "string"
          },
          "environment": {
            "type": "string"
          },
          "cloud": {
            "type": "string"
          },
          "fqdn": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "framework": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "health": {
            "type": "integer"
          },
          "maintenance_mode": {
            "type": "boolean"
          },
          "has_loadbalancer": {
            "type": "boolean"
          },
          "redeploy_hook": {
            "type": "string",
            "nullable": true
          },
          "last_activity_iso": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at_iso": {
            "type": "string",
            "format": "date-time"
          },
          "created_at_iso": {
            "type": "string",
            "format": "date-time"
          },
          "deploy_directory": {
            "type": "string"
          },
          "backend": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "namespaces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "account_id": {
            "type": "integer"
          },
          "account_name": {
            "type": "string"
          },
          "is_cluster": {
            "type": "boolean"
          },
          "is_inside_cluster": {
            "type": "boolean"
          },
          "cluster_name": {
            "type": "string"
          },
          "application_address": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "StackCreate": {
        "type": "object",
        "required": [
          "name",
          "environment",
          "service_yaml"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "environment": {
            "type": "string"
          },
          "service_yaml": {
            "type": "string"
          },
          "manifest_yaml": {
            "type": "string"
          },
          "cloud": {
            "type": "string"
          },
          "key_name": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "build_type": {
            "type": "string"
          }
        }
      },
      "StackSetting": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {},
          "readonly": {
            "type": "boolean"
          },
          "hidden": {
            "type": "boolean"
          }
        }
      },
      "EnvVar": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {},
          "readonly": {
            "type": "boolean"
          },
          "created_at_iso": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at_iso": {
            "type": "string",
            "format": "date-time"
          },
          "history": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {},
                "created_at_iso": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at_iso": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "Server": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "server_type": {
            "type": "string"
          },
          "cloud": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "health": {
            "type": "integer"
          }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "containers": {
            "type": "integer"
          },
          "image": {
            "type": "string"
          }
        }
      },
      "Container": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "server_uid": {
            "type": "string"
          },
          "service_name": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "port_list": {
            "type": "string"
          },
          "command": {
            "type": "string"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "docker_ip": {
            "type": "string"
          }
        }
      },
      "Backup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "server_uid": {
            "type": "string"
          },
          "db_type": {
            "type": "string"
          },
          "database_name": {
            "type": "string"
          },
          "file_base": {
            "type": "string"
          },
          "backup_date_iso": {
            "type": "string",
            "format": "date-time"
          },
          "backup_status": {
            "type": "integer"
          },
          "backup_result": {
            "type": "string"
          },
          "restore_status": {
            "type": "integer"
          },
          "restore_result": {
            "type": "string"
          },
          "created_at_iso": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at_iso": {
            "type": "string",
            "format": "date-time"
          },
          "verified": {
            "type": "boolean"
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "owner": {
            "type": "string"
          },
          "created_at_iso": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at_iso": {
            "type": "string",
            "format": "date-time"
          },
          "cloud_status": {
            "type": "string"
          }
        }
      },
      "AsyncResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "user": {
            "type": "string"
          },
          "resource_type": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "started_via": {
            "type": "string"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "previous": {
            "type": "integer"
          },
          "next": {
            "type": "integer"
          },
          "current": {
            "type": "integer"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Stacks",
      "description": "Manage application stacks"
    },
    {
      "name": "Settings",
      "description": "Manage stack settings"
    },
    {
      "name": "Environment Variables",
      "description": "Manage environment variables"
    },
    {
      "name": "Deployments",
      "description": "Manage stack deployments"
    },
    {
      "name": "Servers",
      "description": "Manage servers"
    },
    {
      "name": "Services",
      "description": "Manage services"
    },
    {
      "name": "Containers",
      "description": "Manage Docker containers"
    },
    {
      "name": "Backups",
      "description": "Manage database backups"
    },
    {
      "name": "Firewalls",
      "description": "Manage firewall leases"
    },
    {
      "name": "Actions",
      "description": "Invoke stack actions"
    },
    {
      "name": "Notifications",
      "description": "Manage notification rules"
    },
    {
      "name": "Accounts",
      "description": "Manage accounts"
    }
  ]
}