{
  "openapi": "3.0.3",
  "info": {
    "title": "SeekTable API",
    "version": "1.0.0",
    "description": "SeekTable provides a secure web API for accessing reports saved in your SeekTable account. Use it to automate report generation in various formats including HTML, PDF, CSV, Excel, JSON, and PNG.",
    "x-jentic-source-url": "https://www.seektable.com/help/web-api-integration"
  },
  "servers": [
    {
      "url": "https://www.seektable.com"
    }
  ],
  "paths": {
    "/api/report/{report_id}/export": {
      "get": {
        "operationId": "exportReport",
        "tags": [
          "Reports"
        ],
        "summary": "Generate and export a report",
        "description": "Export a saved report in the specified format. Identical to the Export initiated from the web interface.",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "GUID of the report in your SeekTable account"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "html",
                "pdf",
                "csv",
                "excel",
                "excelpivottable",
                "json",
                "png"
              ]
            },
            "description": "Export format"
          },
          {
            "name": "report_parameters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JSON object with report parameters"
          },
          {
            "name": "html_inline_style",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "yes",
                "no",
                "1",
                "0"
              ]
            },
            "description": "Enable inline styles for HTML output"
          },
          {
            "name": "chart_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "yes",
                "no",
                "1",
                "0"
              ]
            },
            "description": "Render only chart for PDF/PNG"
          },
          {
            "name": "value_formatting",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "yes",
                "no",
                "1",
                "0"
              ]
            },
            "description": "Apply value formatting"
          },
          {
            "name": "row_mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "array",
                "object"
              ]
            },
            "description": "JSON export row serialization mode"
          }
        ],
        "responses": {
          "200": {
            "description": "Report content in requested format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "exportReportPost",
        "tags": [
          "Reports"
        ],
        "summary": "Generate and export a report (POST)",
        "description": "Same as GET but allows passing parameters in the request body.",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "html",
                "pdf",
                "csv",
                "excel",
                "excelpivottable",
                "json",
                "png"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "report_parameters": {
                    "type": "object",
                    "description": "Report parameter key-value pairs"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report content in requested format"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/report/{report_id}/share/email": {
      "post": {
        "operationId": "shareReportByEmail",
        "tags": [
          "Reports"
        ],
        "summary": "Share a report by email",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "GUID of the report"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "subject"
                ],
                "properties": {
                  "to": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the recipient"
                  },
                  "subject": {
                    "type": "string",
                    "description": "Email subject"
                  },
                  "message": {
                    "type": "string",
                    "description": "Additional text content for email body"
                  },
                  "include_report_html": {
                    "type": "boolean",
                    "default": true,
                    "description": "Include report HTML in email body"
                  },
                  "attach_export": {
                    "type": "string",
                    "description": "Comma-separated export types to attach"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "JwtAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT API key obtained from Manage Account > Get API Key"
      }
    }
  },
  "security": [
    {
      "JwtAuth": []
    }
  ]
}