{
  "openapi": "3.0.3",
  "info": {
    "title": "Momindum API",
    "version": "1.0.0",
    "description": "Momindum video management API. Manage authentication, presentations, chapters, documents, keywords, transcripts, forms, speakers, categories, and search.",
    "x-jentic-source-url": "https://api.momindum.com/client/1.0/"
  },
  "servers": [
    {
      "url": "https://api.momindum.com/1.0"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "operationId": "login",
        "summary": "Log in",
        "description": "Authenticate with username and password.",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["username", "password"],
                "properties": {
                  "username": { "type": "string" },
                  "password": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Login successful", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AuthResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "logout",
        "summary": "Log out",
        "tags": ["Auth"],
        "responses": {
          "200": { "description": "Logout successful" },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/auth/isAuthenticated": {
      "get": {
        "operationId": "isAuthenticated",
        "summary": "Check authentication status",
        "tags": ["Auth"],
        "responses": {
          "200": { "description": "Authentication status", "content": { "application/json": { "schema": { "type": "object", "properties": { "authenticated": { "type": "boolean" } } } } } },
          "401": { "description": "Not authenticated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/auth/token": {
      "get": {
        "operationId": "getToken",
        "summary": "Get a token",
        "tags": ["Auth"],
        "responses": {
          "200": { "description": "Token retrieved", "content": { "application/json": { "schema": { "type": "object", "properties": { "token": { "type": "string" } } } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/auth/token/login": {
      "post": {
        "operationId": "loginWithToken",
        "summary": "Log in with token",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "required": ["token"], "properties": { "token": { "type": "string" } } }
            }
          }
        },
        "responses": {
          "200": { "description": "Token login successful" },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/presentations/import/video": {
      "post": {
        "operationId": "importVideo",
        "summary": "Import video",
        "description": "Upload a video file or import from URL. Supports MP4/H264 and FLV formats.",
        "tags": ["Presentations"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": { "type": "string", "format": "binary", "description": "Video file (MP4/H264 or FLV)" },
                  "url": { "type": "string", "format": "uri", "description": "URL to retrieve video from" },
                  "title": { "type": "string", "description": "Video title" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Video imported", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Presentation" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Not authenticated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Incompatible file format", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/presentations/import/project": {
      "post": {
        "operationId": "importProject",
        "summary": "Import project",
        "description": "Upload a project file.",
        "tags": ["Presentations"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": { "type": "object", "required": ["file"], "properties": { "file": { "type": "string", "format": "binary" } } }
            }
          }
        },
        "responses": {
          "200": { "description": "Project imported" },
          "400": { "description": "Invalid request parameter", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Not authenticated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/presentations/import/publish": {
      "post": {
        "operationId": "publishPresentation",
        "summary": "Publish presentation",
        "description": "Publish the imported presentation.",
        "tags": ["Presentations"],
        "responses": {
          "200": { "description": "Presentation published", "content": { "application/json": { "schema": { "type": "object", "properties": { "message": { "type": "string" }, "callback_url": { "type": "string" } } } } } },
          "401": { "description": "Not authenticated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Presentation not created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/presentations/edit": {
      "post": {
        "operationId": "editPresentation",
        "summary": "Edit presentation",
        "tags": ["Presentations"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": {
          "200": { "description": "Presentation updated" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/presentations/delete": {
      "post": {
        "operationId": "deletePresentation",
        "summary": "Delete presentation",
        "tags": ["Presentations"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": {
          "200": { "description": "Presentation deleted" },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/presentations/show": {
      "get": {
        "operationId": "getPresentation",
        "summary": "Get presentation info",
        "tags": ["Presentations"],
        "responses": {
          "200": { "description": "Presentation details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Presentation" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/presentations/media": {
      "get": {
        "operationId": "getPresentationsByMedia",
        "summary": "Get presentations by media filename",
        "tags": ["Presentations"],
        "responses": {
          "200": { "description": "Presentations list", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Presentation" } } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/presentations/addMetadata": {
      "post": {
        "operationId": "addMetadata",
        "summary": "Add metadata to presentation",
        "tags": ["Presentations"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": {
          "200": { "description": "Metadata added" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/presentations/deleteMetadata": {
      "post": {
        "operationId": "deleteMetadata",
        "summary": "Remove metadata from presentation",
        "tags": ["Presentations"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": {
          "200": { "description": "Metadata removed" },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/presentations/changepublisher": {
      "post": {
        "operationId": "changePublisher",
        "summary": "Change publisher",
        "tags": ["Presentations"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": {
          "200": { "description": "Publisher changed" },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/presentations/addSpeaker": {
      "post": {
        "operationId": "addSpeaker",
        "summary": "Add speaker to presentation",
        "tags": ["Presentations"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": {
          "200": { "description": "Speaker added" },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/presentations/deleteSpeaker": {
      "post": {
        "operationId": "deleteSpeaker",
        "summary": "Remove speaker from presentation",
        "tags": ["Presentations"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": {
          "200": { "description": "Speaker removed" },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/presentations/addCategory": {
      "post": {
        "operationId": "addCategory",
        "summary": "Add category to presentation",
        "tags": ["Presentations"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": {
          "200": { "description": "Category added" },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/presentations/deleteCategory": {
      "post": {
        "operationId": "deleteCategory",
        "summary": "Remove category from presentation",
        "tags": ["Presentations"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": {
          "200": { "description": "Category removed" },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/presentations/addNote": {
      "post": {
        "operationId": "addNote",
        "summary": "Add note to presentation",
        "tags": ["Presentations"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": {
          "200": { "description": "Note added" },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthResponse": { "type": "object", "properties": { "token": { "type": "string" }, "message": { "type": "string" } } },
      "Presentation": { "type": "object", "properties": { "id": { "type": "string" }, "title": { "type": "string" }, "status": { "type": "string" } } },
      "ErrorResponse": { "type": "object", "properties": { "error": { "type": "string" }, "code": { "type": "integer" }, "message": { "type": "string" } } }
    },
    "securitySchemes": {
      "tokenAuth": { "type": "apiKey", "in": "header", "name": "Authorization", "description": "Token-based authentication" }
    }
  },
  "security": [
    { "tokenAuth": [] }
  ]
}