{
  "openapi": "3.0.3",
  "info": {
    "title": "Get Early API",
    "version": "1.0.0",
    "description": "Get Early is a project management platform. The API provides endpoints for managing projects, blueprints, items, modules, comments, folders, users, and webhook subscriptions.",
    "x-jentic-source-url": "https://api.getearly.com/swagger/v1/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.getearly.com"
    }
  ],
  "paths": {
    "/api/zapier/ZapierAuth": {
      "get": {
        "operationId": "authenticate",
        "summary": "Authenticate",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Authentication successful"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/zapier/ZapierProject/trigger": {
      "get": {
        "operationId": "listProjectTriggers",
        "summary": "List project triggers",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Projects"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/zapier/ZapierProject/create": {
      "post": {
        "operationId": "createProject",
        "summary": "Create project",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/zapier/ZapierBlueprint/trigger": {
      "get": {
        "operationId": "listBlueprintTriggers",
        "summary": "List blueprints",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "200": {
            "description": "Blueprints"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/zapier/ZapierItem/trigger/{projectId}/{moduleId}": {
      "get": {
        "operationId": "listItemTriggers",
        "summary": "List items",
        "tags": [
          "Items"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Items"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/zapier/ZapierItem/create": {
      "post": {
        "operationId": "createItem",
        "summary": "Create item",
        "tags": [
          "Items"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/zapier/ZapierComment/create": {
      "post": {
        "operationId": "createComment",
        "summary": "Create comment",
        "tags": [
          "Comments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/zapier/ZapierModule": {
      "get": {
        "operationId": "listModules",
        "summary": "List modules",
        "tags": [
          "Modules"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Modules"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/zapier/ZapierFolder/trigger": {
      "get": {
        "operationId": "listFolderTriggers",
        "summary": "List folders",
        "tags": [
          "Folders"
        ],
        "responses": {
          "200": {
            "description": "Folders"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/zapier/ZapierUser/trigger": {
      "get": {
        "operationId": "listUserTriggers",
        "summary": "List users",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Users"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/zapier/ZapierHook/subscribe": {
      "post": {
        "operationId": "subscribeWebhook",
        "summary": "Subscribe to webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscribe"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribed"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/zapier/ZapierHook/unsubscribe/{subscriptionId}": {
      "delete": {
        "operationId": "unsubscribeWebhook",
        "summary": "Unsubscribe webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unsubscribed"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProjectCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "parentId": {
            "type": "string"
          },
          "templateId": {
            "type": "string"
          }
        }
      },
      "ItemCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "moduleId": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "moduleId"
        ]
      },
      "CommentCreate": {
        "type": "object",
        "properties": {
          "body": {
            "type": "string"
          },
          "targetType": {
            "type": "string"
          },
          "targetId": {
            "type": "string"
          }
        }
      },
      "WebhookSubscribe": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "action": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}