{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "shinobiapi provides programmatic access to Actors, AddActor, AddTVShow, Aliases, Awards resources.",
    "title": "shinobiapi",
    "version": "v1",
    "x-apisguru-categories": [
      "media"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/hillbillysoftware.com/shinobi/v1/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://api.hillbillysoftware.com/swagger/docs/v1",
        "version": "2.0"
      }
    ],
    "x-providerName": "hillbillysoftware.com",
    "x-serviceName": "shinobi"
  },
  "servers": [
    {
      "url": "https://api.hillbillysoftware.com/"
    }
  ],
  "paths": {
    "/Actors/Search/{accesstoken}/{Query}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "accesstoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Actor"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Actor"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Actor"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Actor"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of Actors"
          }
        },
        "tags": [
          "Cast & Crew (Cast & Crew in Movies & Television Shows)"
        ],
        "description": "Returns data on queried actor/actress. Result set limited to 5 records",
        "operationId": "Actor_Get",
        "summary": "Returns data on queried actor/actress. Result set limited to 5 records"
      }
    },
    "/AddActor": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PostResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResult"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PostResult"
                }
              }
            },
            "description": "Result"
          },
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PostResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResult"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PostResult"
                }
              }
            },
            "description": "Result"
          }
        },
        "tags": [
          "Cast & Crew (Cast & Crew in Movies & Television Shows)"
        ],
        "description": "Add new actor or actress to database",
        "operationId": "AddActor_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActorPost"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ActorPost"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ActorPost"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ActorPost"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ActorPost"
              }
            }
          },
          "required": true
        },
        "summary": "Add new actor or actress to database"
      }
    },
    "/AddTVShow": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PostResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResult"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PostResult"
                }
              }
            },
            "description": "Result"
          },
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PostResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResult"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PostResult"
                }
              }
            },
            "description": "Result"
          }
        },
        "tags": [
          "Television (Shows, Episodes, & Statuses)"
        ],
        "description": "Add new show to database",
        "operationId": "AddTVShow_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TVInformationPost"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TVInformationPost"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/TVInformationPost"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TVInformationPost"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/TVInformationPost"
              }
            }
          },
          "required": true
        },
        "summary": "Add new show to database"
      }
    },
    "/Aliases/ByID/{AccessToken}/{imdbID}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "imdbID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Aliases"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Aliases"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Aliases"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Aliases"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of known Aliases"
          }
        },
        "tags": [
          "Aliases (Movie & Television Show Aliases)"
        ],
        "description": "Get known aliases for Movies or Television shows from passed imdbID",
        "operationId": "AliasesByID_Get",
        "summary": "Get known aliases for Movies or Television shows from passed imdbID"
      }
    },
    "/Aliases/ByName/{AccessToken}/{Title}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Title of movie or television show",
            "in": "path",
            "name": "Title",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Aliases"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Aliases"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Aliases"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Aliases"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of known Aliases"
          }
        },
        "tags": [
          "Aliases (Movie & Television Show Aliases)"
        ],
        "description": "Get known aliases for Movies or Television shows",
        "operationId": "Aliases_Get",
        "summary": "Get known aliases for Movies or Television shows"
      }
    },
    "/Awards/ByWinner/{AccessToken}/{Nominee}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Nominee",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/_Awards"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/_Awards"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/_Awards"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/_Awards"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of awards"
          }
        },
        "tags": [
          "Awards (Television & Movies)"
        ],
        "description": "Gets all awards by nominiee",
        "operationId": "AwardsbyWinner_Get",
        "summary": "Gets all awards by nominiee"
      }
    },
    "/Awards/ByYear/{Year}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "Year",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/_Awards"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/_Awards"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/_Awards"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/_Awards"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of awards"
          }
        },
        "tags": [
          "Awards (Television & Movies)"
        ],
        "description": "Gets all awards for requested year",
        "operationId": "awards_Get",
        "summary": "Gets all awards for requested year"
      }
    },
    "/Calendar/ByDate/{AccessToken}/{Date}/{Country}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "date format year-month-day",
            "in": "path",
            "name": "Date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "US / CA / NL / BE / DE / GB or FR",
            "in": "path",
            "name": "Country",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/schedule"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/schedule"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/schedule"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/schedule"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of schedules/calendar entries"
          }
        },
        "tags": [
          "Calendar (Television Show Schedules)"
        ],
        "description": "Gets TV Schedule for selected data",
        "operationId": "ScheduleByDate_Get",
        "summary": "Gets TV Schedule for selected data"
      }
    },
    "/Calendar/Countries/{AccessToken}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of countries"
          }
        },
        "tags": [
          "Calendar (Television Show Schedules)"
        ],
        "description": "Returns list of available countries in calendar database",
        "operationId": "CalendarCountries_Get",
        "summary": "Returns list of available countries in calendar database"
      }
    },
    "/Calendar/Networks/{AccessToken}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Networks"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Networks"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Networks"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Networks"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of networks"
          }
        },
        "tags": [
          "Calendar (Television Show Schedules)"
        ],
        "description": "Gets a list of available networks",
        "operationId": "CalendarNetworks_Get",
        "summary": "Gets a list of available networks"
      }
    },
    "/Calendar/Seasons/{AccessToken}/{Name}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ShowSeasons"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ShowSeasons"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ShowSeasons"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ShowSeasons"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of years"
          }
        },
        "tags": [
          "Calendar (Television Show Schedules)"
        ],
        "description": "Returns list of seasons available in the calendar for show",
        "operationId": "CalendarShowSeasons_Get",
        "summary": "Returns list of seasons available in the calendar for show"
      }
    },
    "/Calendar/Show/Season/{AccessToken}/{Name}/{Season}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Season",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/schedule"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/schedule"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/schedule"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/schedule"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of schedules/calendar entries"
          }
        },
        "tags": [
          "Calendar (Television Show Schedules)"
        ],
        "description": "Get Calendar by showname and season",
        "operationId": "CalendarbyShownameSeason_Get",
        "summary": "Get Calendar by showname and season"
      }
    },
    "/Calendar/Show/{AccessToken}/{Name}/{Year}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Year",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/schedule"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/schedule"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/schedule"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/schedule"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of schedules/calendar entries"
          }
        },
        "tags": [
          "Calendar (Television Show Schedules)"
        ],
        "description": "Will return show schedule for queried showname and year",
        "operationId": "CalendarByShowName_Get",
        "summary": "Will return show schedule for queried showname and year"
      }
    },
    "/Calendar/Today/{AccessToken}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/schedule"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/schedule"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/schedule"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/schedule"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of schedules/calendar entries"
          }
        },
        "tags": [
          "Calendar (Television Show Schedules)"
        ],
        "description": "Will return show schedule for today for all countries in database",
        "operationId": "CalendarToday_Get",
        "summary": "Will return show schedule for today for all countries in database"
      }
    },
    "/Cast/ActorBySearch/{AccessToken}/{Actor}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Part of, or full name of actor",
            "in": "path",
            "name": "Actor",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TVShowActor"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TVShowActor"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TVShowActor"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TVShowActor"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of actors in show"
          }
        },
        "tags": [
          "Cast & Crew (Cast & Crew in Movies & Television Shows)"
        ],
        "description": "Returns all shows queried actor/actress is or has been in",
        "operationId": "ActorInShows_Get",
        "summary": "Returns all shows queried actor/actress is or has been in"
      }
    },
    "/Cast/ByActor/{AccessToken}/{Actor}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Full name of actor",
            "in": "path",
            "name": "Actor",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TVShowActor"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TVShowActor"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TVShowActor"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TVShowActor"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of shows Actor is appearing in"
          }
        },
        "tags": [
          "Cast & Crew (Cast & Crew in Movies & Television Shows)"
        ],
        "description": "Returns list of show actor is appearing in",
        "operationId": "CastByActor_Get",
        "summary": "Returns list of show actor is appearing in"
      }
    },
    "/Cast/ByTVShow/{accesstoken}/{ShowName}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "accesstoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "ShowName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TVShowActor"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TVShowActor"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TVShowActor"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TVShowActor"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of actors in show"
          }
        },
        "tags": [
          "Cast & Crew (Cast & Crew in Movies & Television Shows)"
        ],
        "description": "Returns all actors in queried tvshow",
        "operationId": "ActorsInTVShow_Get",
        "summary": "Returns all actors in queried tvshow"
      }
    },
    "/Crew/ByID/{AccessToken}/{ID}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "IMDBID, TVmazeID, or TVDBID",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Crew"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Crew"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Crew"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Crew"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of crew"
          }
        },
        "tags": [
          "Cast & Crew (Cast & Crew in Movies & Television Shows)"
        ],
        "description": "Get crew list by ID",
        "operationId": "CrewByID_Get",
        "summary": "Get crew list by ID"
      }
    },
    "/Crew/ByPerson/{AccessToken}/{PersonName}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "PersonName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Crew"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Crew"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Crew"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Crew"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of crew"
          }
        },
        "tags": [
          "Cast & Crew (Cast & Crew in Movies & Television Shows)"
        ],
        "description": "Gets list of productions searched person is/was involved in.",
        "operationId": "CrewByPerson_Get",
        "summary": "Gets list of productions searched person is/was involved in."
      }
    },
    "/Crew/ByShowName/{AccessToken}/{ShowName}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Full exact showname",
            "in": "path",
            "name": "ShowName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Crew"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Crew"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Crew"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Crew"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of crew"
          }
        },
        "tags": [
          "Cast & Crew (Cast & Crew in Movies & Television Shows)"
        ],
        "description": "Get crew list by showname",
        "operationId": "CrewbyShowname_Get",
        "summary": "Get crew list by showname"
      }
    },
    "/Crew/Search/{AccessToken}/{Phrase}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Part of, or full showname to search for",
            "in": "path",
            "name": "Phrase",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Crew"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Crew"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Crew"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Crew"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of crew"
          }
        },
        "tags": [
          "Cast & Crew (Cast & Crew in Movies & Television Shows)"
        ],
        "description": "Returns crew for queried show.",
        "operationId": "Crew_Get",
        "summary": "Returns crew for queried show."
      }
    },
    "/Episodes/ByID/{AccessToken}/{ID}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "imdbID",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of episodes"
          }
        },
        "tags": [
          "Television (Shows, Episodes, & Statuses)"
        ],
        "description": "Gets all episodes for selected ID",
        "operationId": "EpisodesByID_Get",
        "summary": "Gets all episodes for selected ID"
      }
    },
    "/Episodes/BySeason/{AccessToken}/{ID}/{Season}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "imdbID",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Season number",
            "in": "path",
            "name": "Season",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of episodes for specified season"
          }
        },
        "tags": [
          "Television (Shows, Episodes, & Statuses)"
        ],
        "description": "Gets list of episodes for specified imdbID and Season number",
        "operationId": "EpisodesBySeason_Get",
        "summary": "Gets list of episodes for specified imdbID and Season number"
      }
    },
    "/Episodes/ByShowName/{AccessToken}/{Showname}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Showname",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of episodes"
          }
        },
        "tags": [
          "Television (Shows, Episodes, & Statuses)"
        ],
        "description": "Gets all episodes for selected show",
        "operationId": "Episodes_Get",
        "summary": "Gets all episodes for selected show"
      }
    },
    "/Episodes/LatestSeason/Show/{AccessToken}/{Name}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LastAvailableSeason"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LastAvailableSeason"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LastAvailableSeason"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LastAvailableSeason"
                }
              }
            },
            "description": "Returns last available Season Number for passed showname"
          }
        },
        "tags": [
          "Television (Shows, Episodes, & Statuses)"
        ],
        "description": "Gets latest season number based on show name",
        "operationId": "EpisodesLastAvailableSeasonbyName_Get",
        "summary": "Gets latest season number based on show name"
      }
    },
    "/Episodes/LatestSeason/{AccessToken}/{ID}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "imdbID",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LastAvailableSeason"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LastAvailableSeason"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LastAvailableSeason"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LastAvailableSeason"
                }
              }
            },
            "description": "Returns last available Season Number for passed imdbID"
          }
        },
        "tags": [
          "Television (Shows, Episodes, & Statuses)"
        ],
        "description": "Returns last available season number in database, based on passed imdbID",
        "operationId": "EpisodesLastAvailableSeason_Get",
        "summary": "Returns last available season number in database, based on passed imdbID"
      }
    },
    "/Episodes/SeasonCount/{AccessToken}/{ID}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "imdbID",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TVShowSeasons"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TVShowSeasons"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TVShowSeasons"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TVShowSeasons"
                }
              }
            },
            "description": "Returns number of seasons available"
          }
        },
        "tags": [
          "Television (Shows, Episodes, & Statuses)"
        ],
        "description": "Returns number of available seasons and episodes",
        "operationId": "EpisodesSeasonCount_Get",
        "summary": "Returns number of available seasons and episodes"
      }
    },
    "/GetIMDBid/ByID/{AccessToken}/{Query}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/imdbID"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/imdbID"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/imdbID"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/imdbID"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of imdb ID's"
          }
        },
        "tags": [
          "Miscellaneous (Conversion & other Utilities)"
        ],
        "description": "Gets list of avaiable IMDB ids from Movies and TV Show databases, you can use those to query other end points that need ID's",
        "operationId": "GetIMDBid_GetAsync",
        "summary": "Gets list of avaiable IMDB ids from Movies and TV Show databases, you can use those to query other end points that need ID's"
      }
    },
    "/Images/ByID/{AccessToken}/{imdbID}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "imdbID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/imdbImages"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/imdbImages"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/imdbImages"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/imdbImages"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of images"
          }
        },
        "tags": [
          "Images (Movie & Television Show Images)"
        ],
        "description": "Get images available for movie/tv show with passed imdbID",
        "operationId": "Images_Get",
        "summary": "Get images available for movie/tv show with passed imdbID"
      }
    },
    "/Images/Search/{Accesstoken}/{Query}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "Accesstoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name or part of name from Movie or Show",
            "in": "path",
            "name": "Query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Strictmatch",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/imdbImages"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/imdbImages"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/imdbImages"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/imdbImages"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of images"
          }
        },
        "tags": [
          "Images (Movie & Television Show Images)"
        ],
        "description": "Get images available for movie/tv show with passed query",
        "operationId": "ImageSearch_Get",
        "summary": "Get images available for movie/tv show with passed query"
      }
    },
    "/Magnets/ByDate/{AccessToken}/{Date}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Magnets"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Magnets"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Magnets"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Magnets"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of magnet hashes"
          }
        },
        "tags": [
          "Magnets (Magnet hashes of Movies & Television Shows)"
        ],
        "description": "Gets available magnet hashes on passed date (yyyy-mm-dd).  Feature not available on free plan, please donate to be able to use this feature.",
        "operationId": "MagnetsByDate_GetAsync",
        "summary": "Gets available magnet hashes on passed date (yyyy-mm-dd).  Feature not available on free plan, please donate to be able to use this feature."
      }
    },
    "/Magnets/ByIMDB/{AccessToken}/{imdbID}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID with or without tt prefix",
            "in": "path",
            "name": "imdbID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Magnets"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Magnets"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Magnets"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Magnets"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of magnet hashes"
          }
        },
        "tags": [
          "Magnets (Magnet hashes of Movies & Television Shows)"
        ],
        "description": "Returns list of magnet hashes for passed IMDBID.  Feature not available on free plan, please donate to be able to use this feature.",
        "operationId": "MagnetsByimdbID_GetAsync",
        "summary": "Returns list of magnet hashes for passed IMDBID.  Feature not available on free plan, please donate to be able to use this feature."
      }
    },
    "/Magnets/Search/{AccessToken}/{Query}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name or part of name of movie or tv show",
            "in": "path",
            "name": "Query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Magnets"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Magnets"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Magnets"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Magnets"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of magnet hashes"
          }
        },
        "tags": [
          "Magnets (Magnet hashes of Movies & Television Shows)"
        ],
        "description": "Try and find magnet links for queried movie.  Feature not available on free plan, please donate to be able to use this feature",
        "operationId": "magnetsMovieByID_GetAsync",
        "summary": "Try and find magnet links for queried movie.  Feature not available on free plan, please donate to be able to use this feature"
      }
    },
    "/Magnets/TVShow/{AccessToken}/{TVShow}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "TVShow",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Magnets"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Magnets"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Magnets"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Magnets"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of magnet hashes"
          }
        },
        "tags": [
          "Magnets (Magnet hashes of Movies & Television Shows)"
        ],
        "description": "Returns results based on query, Feature not available on free plan, please donate to be able to use this feature.",
        "operationId": "TVShowsearch_Get",
        "summary": "Returns results based on query, Feature not available on free plan, please donate to be able to use this feature."
      }
    },
    "/Movie/ByID/{accesstoken}/{imdbID}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "accesstoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "imdbID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieInformation"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/MovieInformation"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieInformation"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/MovieInformation"
                }
              }
            },
            "description": "Movie information"
          }
        },
        "tags": [
          "Movies (Movies, Documentaries, & made for Television Movies)"
        ],
        "description": "Movieid get",
        "operationId": "MovieID_Get"
      }
    },
    "/Movie/Search/{AccessToken}/{Query}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/MovieInformation"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/MovieInformation"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/MovieInformation"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/MovieInformation"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of information about queried movie(s)"
          }
        },
        "tags": [
          "Movies (Movies, Documentaries, & made for Television Movies)"
        ],
        "description": "Searches for movies, result set limited to 5 records",
        "operationId": "MovieSearch_GetAsync",
        "summary": "Searches for movies, result set limited to 5 records"
      }
    },
    "/Music/Albums/Art/{AccessToken}/{AlbumID}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "AlbumID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumArt"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumArt"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumArt"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumArt"
                }
              }
            },
            "description": "Gets album art for passed AlbumID"
          }
        },
        "tags": [
          "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
        ],
        "description": "Returns Albumart for passed AlbumID",
        "operationId": "musicAlbumArt_Get",
        "summary": "Returns Albumart for passed AlbumID"
      }
    },
    "/Music/Albums/CoverArt/{AccessToken}/{MBID}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "MusicBrainzID",
            "in": "path",
            "name": "MBID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CDCoverArt"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CDCoverArt"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CDCoverArt"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CDCoverArt"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Gets CD Cover Art for album"
          }
        },
        "tags": [
          "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
        ],
        "description": "Gets CD art for passed MusicBrainzID",
        "operationId": "musicCDCovers_Get",
        "summary": "Gets CD art for passed MusicBrainzID"
      }
    },
    "/Music/Albums/MusicBrainzID/{AccessToken}/{MBID}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "MusicBrainzID",
            "in": "path",
            "name": "MBID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BandInfo"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BandInfo"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BandInfo"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BandInfo"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Information about band / artist based on MusicBrainzID"
          }
        },
        "tags": [
          "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
        ],
        "description": "Get Artist / Band information on MusicBrainzID",
        "operationId": "MusicByMusicBrainz_Get",
        "summary": "Get Artist / Band information on MusicBrainzID"
      }
    },
    "/Music/Albums/{AccessToken}/{ArtistID}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of artist or band to retrieve albums from",
            "in": "path",
            "name": "ArtistID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BandAlbums"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BandAlbums"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BandAlbums"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BandAlbums"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Lists all albums from passed ArtistID"
          }
        },
        "tags": [
          "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
        ],
        "description": "Get albums from passed ArtistID",
        "operationId": "musicAlbums_Get",
        "summary": "Get albums from passed ArtistID"
      }
    },
    "/Music/Artist/Art/ID/{AccessToken}/{ArtistID}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ArtistID of artist or band",
            "in": "path",
            "name": "ArtistID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistArt"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistArt"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistArt"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistArt"
                }
              }
            },
            "description": "Gets art for passed ArtistID"
          }
        },
        "tags": [
          "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
        ],
        "description": "Retrieves artist / band Banner and logo based on ArtistID",
        "operationId": "musicCoverArt_Get",
        "summary": "Retrieves artist / band Banner and logo based on ArtistID"
      }
    },
    "/Music/Artist/Art/Name/{AccessToken}/{Name}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of artist or band",
            "in": "path",
            "name": "Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistArt"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistArt"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistArt"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistArt"
                }
              }
            },
            "description": "Gets art for passed arist or bandname"
          }
        },
        "tags": [
          "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
        ],
        "description": "Retrieves artist / band Banner and logo based on artist or bandname",
        "operationId": "musicCoverArtByName_Get",
        "summary": "Retrieves artist / band Banner and logo based on artist or bandname"
      }
    },
    "/Music/Artist/Extended/{AccessToken}/{Name}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BandInfoExtended"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BandInfoExtended"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BandInfoExtended"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BandInfoExtended"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Extended Information about band / artist"
          }
        },
        "tags": [
          "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
        ],
        "description": "Provides extended information, which includes all known albums and music videos of artist / band",
        "operationId": "musicArtistExtended_Get",
        "summary": "Provides extended information, which includes all known albums and music videos of artist / band"
      }
    },
    "/Music/Artist/{AccessToken}/{Name}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name (or part) of band or artist name",
            "in": "path",
            "name": "Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BandInfo"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BandInfo"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BandInfo"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BandInfo"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Information about band / artist"
          }
        },
        "tags": [
          "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
        ],
        "description": "Get information about passed band name or artist",
        "operationId": "Music_Get",
        "summary": "Get information about passed band name or artist"
      }
    },
    "/Music/Lyrics/AlbumID/{AccessToken}/{AlbumID}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "AlbumID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Lyric"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Lyric"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Lyric"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Lyric"
                  },
                  "type": "array"
                }
              }
            },
            "description": "lyric(s) for requested albumID"
          }
        },
        "tags": [
          "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
        ],
        "description": "Returns all lyrics for requested AlbumID",
        "operationId": "musicLyricsbyAlbumID_Get",
        "summary": "Returns all lyrics for requested AlbumID"
      }
    },
    "/Music/Lyrics/ByName/{AccessToken}/{Name}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name (or partial) of band or artist (record set limited to 25)",
            "in": "path",
            "name": "Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Lyric"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Lyric"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Lyric"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Lyric"
                  },
                  "type": "array"
                }
              }
            },
            "description": "lyric(s) for requested artist / band"
          }
        },
        "tags": [
          "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
        ],
        "description": "Get lyrics for band or artist (record set limited to 25)",
        "operationId": "musicLyrics_Get",
        "summary": "Get lyrics for band or artist (record set limited to 25)"
      }
    },
    "/Music/Lyrics/BySong/{AccessToken}/{Song}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name or part of song name",
            "in": "path",
            "name": "Song",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Lyric"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Lyric"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Lyric"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Lyric"
                  },
                  "type": "array"
                }
              }
            },
            "description": "lyric(s) for requested song"
          }
        },
        "tags": [
          "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
        ],
        "description": "Get lyrics on song title",
        "operationId": "musicLyricsBySong_Get",
        "summary": "Get lyrics on song title"
      }
    },
    "/Music/Tracks/{AccessToken}/{AlbumID}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "AlbumID (can be retrieved via album endpoint)",
            "in": "path",
            "name": "AlbumID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AlbumTracks"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AlbumTracks"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AlbumTracks"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AlbumTracks"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Lists all tracks on album from passed AlbumID"
          }
        },
        "tags": [
          "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
        ],
        "description": "Get all tracks from requested album",
        "operationId": "musicTracks_Get",
        "summary": "Get all tracks from requested album"
      }
    },
    "/Music/Videos/{AccessToken}/{ArtistID}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "ArtistID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/MusicVideo"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/MusicVideo"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/MusicVideo"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/MusicVideo"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Lists all videos available for this Artist / Band"
          }
        },
        "tags": [
          "Music (Artists ,Bands, Tracks, AlbumArt, CoverArt, & Videos)"
        ],
        "description": "Lists all videos available for this Artist / Band",
        "operationId": "MusiVideos_Get",
        "summary": "Lists all videos available for this Artist / Band"
      }
    },
    "/Rating/ByID/{AccessToken}/{imdbID}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "imdbID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatingItem"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RatingItem"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatingItem"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RatingItem"
                }
              }
            },
            "description": "Ratings"
          }
        },
        "tags": [
          "Ratings  (Movie & Television Show Ratings)"
        ],
        "description": "Returns ratings from various resources(IMDB,Rotten Tomatoes, metaCritics, TVMaze etc) of passed IMDBid",
        "operationId": "Rating_Get",
        "summary": "Returns ratings from various resources(IMDB,Rotten Tomatoes, metaCritics, TVMaze etc) of passed IMDBid"
      }
    },
    "/Rating/ByName/{AccessToken}/{Name}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RatingItem"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RatingItem"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RatingItem"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RatingItem"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Ratings"
          }
        },
        "tags": [
          "Ratings  (Movie & Television Show Ratings)"
        ],
        "description": "Ratingbyname get",
        "operationId": "RatingByName_Get"
      }
    },
    "/Status/{AccessToken}/{Query}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "AccessToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
[...]
