{
  "openapi": "3.0.3",
  "info": {
    "title": "Mux API",
    "version": "1.0.0",
    "description": "Mux is an API-first platform for video and data. The Mux API provides endpoints for managing video assets, live streams, playback IDs, signing keys, direct uploads, playback restrictions, DRM configurations, delivery usage, and data/analytics.",
    "x-jentic-source-url": "https://docs.mux.com/"
  },
  "servers": [
    {
      "url": "https://api.mux.com"
    }
  ],
  "paths": {
    "/video/v1/assets": {
      "post": {
        "operationId": "createAsset",
        "summary": "Create an asset",
        "description": "Create a new video asset",
        "tags": ["Assets"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateAssetRequest"}}}},
        "responses": {
          "200": {"description": "Asset created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssetResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "get": {
        "operationId": "listAssets",
        "summary": "List assets",
        "description": "List all video assets",
        "tags": ["Assets"],
        "parameters": [
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "default": 25}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}}
        ],
        "responses": {
          "200": {"description": "Assets listed", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssetListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/video/v1/assets/{assetId}": {
      "get": {
        "operationId": "getAsset",
        "summary": "Retrieve an asset",
        "tags": ["Assets"],
        "parameters": [{"name": "assetId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Asset details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssetResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteAsset",
        "summary": "Delete an asset",
        "tags": ["Assets"],
        "parameters": [{"name": "assetId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "204": {"description": "Asset deleted"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "patch": {
        "operationId": "updateAsset",
        "summary": "Update an asset",
        "tags": ["Assets"],
        "parameters": [{"name": "assetId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateAssetRequest"}}}},
        "responses": {
          "200": {"description": "Asset updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssetResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/video/v1/assets/{assetId}/input-info": {
      "get": {
        "operationId": "getAssetInputInfo",
        "summary": "Retrieve asset input info",
        "tags": ["Assets"],
        "parameters": [{"name": "assetId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Input info returned", "content": {"application/json": {"schema": {"type": "object"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/video/v1/assets/{assetId}/playback-ids": {
      "post": {
        "operationId": "createAssetPlaybackId",
        "summary": "Create a playback ID",
        "tags": ["Assets"],
        "parameters": [{"name": "assetId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"policy": {"type": "string", "enum": ["public", "signed"]}}}}}},
        "responses": {
          "200": {"description": "Playback ID created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PlaybackIdResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/video/v1/assets/{assetId}/playback-ids/{playbackId}": {
      "get": {
        "operationId": "getAssetPlaybackId",
        "summary": "Retrieve a playback ID",
        "tags": ["Assets"],
        "parameters": [
          {"name": "assetId", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "playbackId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Playback ID details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PlaybackIdResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteAssetPlaybackId",
        "summary": "Delete a playback ID",
        "tags": ["Assets"],
        "parameters": [
          {"name": "assetId", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "playbackId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "204": {"description": "Playback ID deleted"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/video/v1/assets/{assetId}/tracks": {
      "post": {
        "operationId": "createAssetTrack",
        "summary": "Create asset track",
        "tags": ["Assets"],
        "parameters": [{"name": "assetId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "200": {"description": "Track created", "content": {"application/json": {"schema": {"type": "object"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/video/v1/live-streams": {
      "post": {
        "operationId": "createLiveStream",
        "summary": "Create a live stream",
        "tags": ["Live Streams"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateLiveStreamRequest"}}}},
        "responses": {
          "200": {"description": "Live stream created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LiveStreamResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "get": {
        "operationId": "listLiveStreams",
        "summary": "List live streams",
        "tags": ["Live Streams"],
        "parameters": [
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "default": 25}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}}
        ],
        "responses": {
          "200": {"description": "Live streams listed", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LiveStreamListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/video/v1/live-streams/{liveStreamId}": {
      "get": {
        "operationId": "getLiveStream",
        "summary": "Retrieve a live stream",
        "tags": ["Live Streams"],
        "parameters": [{"name": "liveStreamId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Live stream details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LiveStreamResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteLiveStream",
        "summary": "Delete a live stream",
        "tags": ["Live Streams"],
        "parameters": [{"name": "liveStreamId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "204": {"description": "Live stream deleted"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "patch": {
        "operationId": "updateLiveStream",
        "summary": "Update a live stream",
        "tags": ["Live Streams"],
        "parameters": [{"name": "liveStreamId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateLiveStreamRequest"}}}},
        "responses": {
          "200": {"description": "Live stream updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LiveStreamResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/video/v1/live-streams/{liveStreamId}/reset-stream-key": {
      "post": {
        "operationId": "resetStreamKey",
        "summary": "Reset stream key",
        "tags": ["Live Streams"],
        "parameters": [{"name": "liveStreamId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Stream key reset", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LiveStreamResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/video/v1/live-streams/{liveStreamId}/complete": {
      "put": {
        "operationId": "signalLiveStreamComplete",
        "summary": "Signal live stream complete",
        "tags": ["Live Streams"],
        "parameters": [{"name": "liveStreamId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Stream completed"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/video/v1/signing-keys": {
      "post": {
        "operationId": "createSigningKey",
        "summary": "Create a signing key",
        "tags": ["Signing Keys"],
        "responses": {
          "200": {"description": "Signing key created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SigningKeyResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "get": {
        "operationId": "listSigningKeys",
        "summary": "List signing keys",
        "tags": ["Signing Keys"],
        "responses": {
          "200": {"description": "Signing keys listed", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/SigningKeyResponse"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/video/v1/signing-keys/{signingKeyId}": {
      "get": {
        "operationId": "getSigningKey",
        "summary": "Retrieve a signing key",
        "tags": ["Signing Keys"],
        "parameters": [{"name": "signingKeyId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Signing key details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SigningKeyResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteSigningKey",
        "summary": "Delete a signing key",
        "tags": ["Signing Keys"],
        "parameters": [{"name": "signingKeyId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "204": {"description": "Signing key deleted"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/video/v1/uploads": {
      "post": {
        "operationId": "createDirectUpload",
        "summary": "Create a direct upload",
        "tags": ["Direct Uploads"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "200": {"description": "Upload URL created", "content": {"application/json": {"schema": {"type": "object"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "get": {
        "operationId": "listDirectUploads",
        "summary": "List direct uploads",
        "tags": ["Direct Uploads"],
        "responses": {
          "200": {"description": "Uploads listed", "content": {"application/json": {"schema": {"type": "object"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/video/v1/uploads/{uploadId}": {
      "get": {
        "operationId": "getDirectUpload",
        "summary": "Retrieve a direct upload",
        "tags": ["Direct Uploads"],
        "parameters": [{"name": "uploadId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Upload details", "content": {"application/json": {"schema": {"type": "object"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "cancelDirectUpload",
        "summary": "Cancel a direct upload",
        "tags": ["Direct Uploads"],
        "parameters": [{"name": "uploadId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Upload cancelled", "content": {"application/json": {"schema": {"type": "object"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/video/v1/delivery-usage": {
      "get": {
        "operationId": "listDeliveryUsage",
        "summary": "List delivery usage",
        "tags": ["Usage"],
        "responses": {
          "200": {"description": "Usage data returned", "content": {"application/json": {"schema": {"type": "object"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/system/v1/signing-keys": {
      "post": {
        "operationId": "createSystemSigningKey",
        "summary": "Create a system signing key",
        "tags": ["System"],
        "responses": {
          "200": {"description": "Signing key created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SigningKeyResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "get": {
        "operationId": "listSystemSigningKeys",
        "summary": "List system signing keys",
        "tags": ["System"],
        "responses": {
          "200": {"description": "Keys listed", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/SigningKeyResponse"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/system/v1/whoami": {
      "get": {
        "operationId": "whoami",
        "summary": "Retrieve current access token information",
        "tags": ["System"],
        "responses": {
          "200": {"description": "Token info returned", "content": {"application/json": {"schema": {"type": "object"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Asset": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "created_at": {"type": "string", "format": "date-time"},
          "status": {"type": "string", "enum": ["preparing", "ready", "errored"]},
          "duration": {"type": "number"},
          "playback_ids": {"type": "array", "items": {"$ref": "#/components/schemas/PlaybackId"}},
          "tracks": {"type": "array", "items": {"type": "object"}}
        }
      },
      "CreateAssetRequest": {
        "type": "object",
        "properties": {
          "input": {"type": "array", "items": {"type": "object", "properties": {"url": {"type": "string"}}}},
          "playback_policy": {"type": "array", "items": {"type": "string", "enum": ["public", "signed"]}}
        }
      },
      "UpdateAssetRequest": {
        "type": "object",
        "properties": {
          "passthrough": {"type": "string"}
        }
      },
      "AssetResponse": {
        "type": "object",
        "properties": {
          "data": {"$ref": "#/components/schemas/Asset"}
        }
      },
      "AssetListResponse": {
        "type": "object",
        "properties": {
          "data": {"type": "array", "items": {"$ref": "#/components/schemas/Asset"}}
        }
      },
      "PlaybackId": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "policy": {"type": "string", "enum": ["public", "signed"]}
        }
      },
      "PlaybackIdResponse": {
        "type": "object",
        "properties": {
          "data": {"$ref": "#/components/schemas/PlaybackId"}
        }
      },
      "LiveStream": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "created_at": {"type": "string", "format": "date-time"},
          "stream_key": {"type": "string"},
          "status": {"type": "string", "enum": ["idle", "active", "disabled"]},
          "playback_ids": {"type": "array", "items": {"$ref": "#/components/schemas/PlaybackId"}}
        }
      },
      "CreateLiveStreamRequest": {
        "type": "object",
        "properties": {
          "playback_policy": {"type": "array", "items": {"type": "string", "enum": ["public", "signed"]}},
          "new_asset_settings": {"type": "object"}
        }
      },
      "UpdateLiveStreamRequest": {
        "type": "object",
        "properties": {
          "passthrough": {"type": "string"},
          "latency_mode": {"type": "string"}
        }
      },
      "LiveStreamResponse": {
        "type": "object",
        "properties": {
          "data": {"$ref": "#/components/schemas/LiveStream"}
        }
      },
      "LiveStreamListResponse": {
        "type": "object",
        "properties": {
          "data": {"type": "array", "items": {"$ref": "#/components/schemas/LiveStream"}}
        }
      },
      "SigningKeyResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {"type": "string"},
              "created_at": {"type": "string", "format": "date-time"},
              "private_key": {"type": "string"}
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {"type": "string"},
              "message": {"type": "string"}
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication using Mux API access token ID and secret key"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}