{
  "openapi": "3.0.3",
  "info": {
    "title": "Notify API",
    "description": "Notify is a messaging and notification platform for user-friendly and faster communication in B2B and B2C. This API allows sending notifications through various transport channels.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.notify.eu"
  },
  "servers": [
    {
      "url": "https://api.notify.eu",
      "description": "Production server"
    }
  ],
  "paths": {
    "/notification/send": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Send a notification",
        "description": "Sends a notification through one or more configured transport channels (email, SMS, etc). A successful API response does not guarantee message delivery; asynchronous processing occurs afterward.",
        "operationId": "sendNotification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendNotificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notification accepted for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendNotificationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendNotificationRequest": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "$ref": "#/components/schemas/NotificationMessage"
          }
        }
      },
      "NotificationMessage": {
        "type": "object",
        "required": [
          "notificationType",
          "language",
          "transport"
        ],
        "properties": {
          "identifier": {
            "type": "string",
            "description": "Custom identifier for the notification. Auto-generated if omitted.",
            "example": "015da530-e867-11e8-9580-3b2b4d2b2a6b"
          },
          "notificationType": {
            "type": "string",
            "description": "Template type as configured in account settings.",
            "example": "order_confirmation"
          },
          "language": {
            "type": "string",
            "description": "Language code in ISO 639 format.",
            "example": "en"
          },
          "params": {
            "type": "object",
            "description": "Custom JSON parameters passed to the notification template.",
            "additionalProperties": true
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime with optional timezone offset for scheduled delivery."
          },
          "transport": {
            "type": "array",
            "description": "Array of transport channel configurations.",
            "items": {
              "$ref": "#/components/schemas/TransportChannel"
            }
          },
          "attachments": {
            "type": "array",
            "description": "File attachments (email transport only).",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          }
        }
      },
      "TransportChannel": {
        "type": "object",
        "required": [
          "type",
          "recipients"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Configured channel identifier (e.g. email, sms).",
            "example": "email"
          },
          "criteria": {
            "type": "string",
            "description": "Alternative template criteria."
          },
          "from": {
            "$ref": "#/components/schemas/SenderInfo"
          },
          "recipients": {
            "$ref": "#/components/schemas/Recipients"
          }
        }
      },
      "SenderInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Sender display name."
          },
          "address": {
            "type": "string",
            "description": "Sender email address or phone number."
          }
        }
      },
      "Recipients": {
        "type": "object",
        "required": [
          "to"
        ],
        "properties": {
          "to": {
            "type": "array",
            "description": "Primary recipients.",
            "items": {
              "$ref": "#/components/schemas/Recipient"
            }
          },
          "cc": {
            "type": "array",
            "description": "CC recipients (email only).",
            "items": {
              "$ref": "#/components/schemas/Recipient"
            }
          },
          "bcc": {
            "type": "array",
            "description": "BCC recipients (email only).",
            "items": {
              "$ref": "#/components/schemas/Recipient"
            }
          },
          "Reply-To": {
            "type": "string",
            "description": "Reply-to address (email only)."
          }
        }
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Recipient display name."
          },
          "address": {
            "type": "string",
            "description": "Recipient email address or phone number."
          }
        }
      },
      "Attachment": {
        "type": "object",
        "required": [
          "contentType"
        ],
        "properties": {
          "filename": {
            "type": "string",
            "description": "Original filename with extension.",
            "example": "invoice.pdf"
          },
          "content": {
            "type": "string",
            "description": "Base64-encoded file content."
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the attachment.",
            "example": "application/pdf"
          }
        }
      },
      "SendNotificationSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "identifier": {
            "type": "string",
            "description": "Unique identifier for the notification.",
            "example": "015da530-e867-11e8-9580-3b2b4d2b2a6b"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Error description.",
            "example": "Invalid request payload"
          }
        }
      }
    },
    "securitySchemes": {
      "ClientCredentials": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ClientId",
        "description": "Client ID credential"
      },
      "SecretKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-SecretKey",
        "description": "Secret key credential"
      }
    }
  },
  "security": [
    {
      "ClientCredentials": [],
      "SecretKey": []
    }
  ],
  "tags": [
    {
      "name": "Notifications",
      "description": "Send notifications through configured transport channels"
    }
  ]
}