{
  "openapi": "3.0.1",
  "info": {
    "version": "v1",
    "title": "ASPSP Information Service",
    "description": "Open Payments Platform PSD2 Core API - ASPSP Information. \n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/openpayments/ASPSPInformationService/v1/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.sandbox.openbankingplatform.com/psd2/aspspinformation",
      "description": "Optional PSD2 test server"
    }
  ],
  "security": [
    {
      "oAuth2": [
        "aspspinformation"
      ]
    }
  ],
  "paths": {
    "/v1/aspsps": {
      "get": {
        "summary": "Get ASPSPs",
        "description": "Gets all ASPSPs currently supported in the Open Banking Platform.\n",
        "operationId": "getASPSPList",
        "tags": [
          "ASPSP Information Service (ASPSPIS)"
        ],
        "security": [
          {
            "oAuth2": [
              "aspspinformation"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/isoCountryCodesQuery"
          },
          {
            "$ref": "#/components/parameters/cityIdsQuery"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_ASPSPList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408"
          },
          "409": {
            "$ref": "#/components/responses/CONFLICT_409"
          },
          "412": {
            "$ref": "#/components/responses/PRECONDITION_FAILED_412"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503"
          }
        }
      }
    },
    "/v1/aspsps/{bicFi}": {
      "get": {
        "summary": "Get ASPSP",
        "description": "Gets details about an ASPSP by ID.\n",
        "operationId": "getASPSPDetails",
        "tags": [
          "ASPSP Information Service (ASPSPIS)"
        ],
        "security": [
          {
            "oAuth2": [
              "aspspinformation"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/bicFi"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_ASPSP"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408"
          },
          "409": {
            "$ref": "#/components/responses/CONFLICT_409"
          },
          "412": {
            "$ref": "#/components/responses/PRECONDITION_FAILED_412"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503"
          }
        }
      }
    },
    "/v1/cities": {
      "get": {
        "summary": "Get cities",
        "description": "Gets all cities currently supported in the Open Banking Platform.\n",
        "operationId": "getCityList",
        "tags": [
          "ASPSP Information Service (ASPSPIS)"
        ],
        "security": [
          {
            "oAuth2": [
              "aspspinformation"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/isoCountryCodesQuery"
          },
          {
            "$ref": "#/components/parameters/cityIdsQuery"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_CityList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408"
          },
          "409": {
            "$ref": "#/components/responses/CONFLICT_409"
          },
          "412": {
            "$ref": "#/components/responses/PRECONDITION_FAILED_412"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503"
          }
        }
      }
    },
    "/v1/cities/{city-id}": {
      "get": {
        "summary": "Get city",
        "description": "Gets a city by ID\n",
        "operationId": "getCityDetails",
        "tags": [
          "ASPSP Information Service (ASPSPIS)"
        ],
        "security": [
          {
            "oAuth2": [
              "aspspinformation"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cityId"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_City"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408"
          },
          "409": {
            "$ref": "#/components/responses/CONFLICT_409"
          },
          "412": {
            "$ref": "#/components/responses/PRECONDITION_FAILED_412"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503"
          }
        }
      }
    },
    "/v1/countries": {
      "get": {
        "summary": "Get countries",
        "description": "Gets all countries currently supported in the Open Banking Platform.\n",
        "operationId": "getCountriesList",
        "tags": [
          "ASPSP Information Service (ASPSPIS)"
        ],
        "security": [
          {
            "oAuth2": [
              "aspspinformation"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/isoCountryCodesQuery"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_CountryList"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408"
          },
          "409": {
            "$ref": "#/components/responses/CONFLICT_409"
          },
          "412": {
            "$ref": "#/components/responses/PRECONDITION_FAILED_412"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503"
          }
        }
      }
    },
    "/v1/countries/{isoCountryCode}": {
      "get": {
        "summary": "Get countries",
        "description": "Gets a city by ID\n",
        "operationId": "getCountryDetails",
        "tags": [
          "ASPSP Information Service (ASPSPIS)"
        ],
        "security": [
          {
            "oAuth2": [
              "aspspinformation"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/isoCountryCode"
          },
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK_200_City"
          },
          "400": {
            "$ref": "#/components/responses/BAD_REQUEST_400"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHORIZED_401"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN_403"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND_404"
          },
          "405": {
            "$ref": "#/components/responses/METHOD_NOT_ALLOWED_405"
          },
          "406": {
            "$ref": "#/components/responses/NOT_ACCEPTABLE_406"
          },
          "408": {
            "$ref": "#/components/responses/REQUEST_TIMEOUT_408"
          },
          "409": {
            "$ref": "#/components/responses/CONFLICT_409"
          },
          "412": {
            "$ref": "#/components/responses/PRECONDITION_FAILED_412"
          },
          "415": {
            "$ref": "#/components/responses/UNSUPPORTED_MEDIA_TYPE_415"
          },
          "429": {
            "$ref": "#/components/responses/TOO_MANY_REQUESTS_429"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_SERVER_ERROR_500"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_UNAVAILABLE_503"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.sandbox.openbankingplatform.com/connect/token",
            "scopes": {
              "aspspinformation": "ASPSP Information"
            }
          }
        }
      }
    },
    "schemas": {
      "isoCountryCodes": {
        "description": "Comma separated array of ISO country codes",
        "type": "array",
        "items": {
          "type": "string"
        },
        "example": "SE,UK,FI"
      },
      "cityIds": {
        "description": "Comma separated array of city IDs",
        "type": "array",
        "items": {
          "type": "string",
          "format": "uuid"
        },
        "example": "37efa883-c8ad-4ff7-927b-b11b02beb923,ba9dd929-1408-33a6-3ce2-bc45fcfaaa5c"
      },
      "aspspList": {
        "description": "List of ASPSPs",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/aspspListItem"
        }
      },
      "aspsp": {
        "description": "ASPSP",
        "type": "object",
        "properties": {
          "id": {
            "format": "uuid",
            "type": "string"
          },
          "bicFi": {
            "pattern": "^[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}$",
            "type": "string"
          },
          "companyNumber": {
            "type": "string"
          },
          "name": {
            "maxLength": 140,
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "postalCode": {
            "maxLength": 20,
            "type": "string"
          },
          "streetAddress": {
            "maxLength": 140,
            "type": "string"
          },
          "websiteUrl": {
            "type": "string"
          },
          "logoUrl": {
            "type": "string"
          },
          "paymentProducts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "aspspListItem": {
        "description": "Basic ASPSP information",
        "type": "object",
        "properties": {
          "id": {
            "format": "uuid",
            "type": "string"
          },
          "bicFi": {
            "pattern": "^[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}$",
            "type": "string"
          },
          "name": {
            "maxLength": 140,
            "type": "string"
          },
          "logoUrl": {
            "type": "string"
          }
        }
      },
      "cityList": {
        "description": "List of cities",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/city"
        }
      },
      "city": {
        "description": "City",
        "type": "object",
        "properties": {
          "cityId": {
            "format": "uuid",
            "type": "string"
          },
          "name": {
            "maxLength": 140,
            "type": "string"
          },
          "countryId": {
            "format": "uuid",
            "type": "string"
          }
        }
      },
      "countryList": {
        "description": "List of countries",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/country"
        }
      },
      "country": {
        "description": "Country",
        "type": "object",
        "properties": {
          "id": {
            "format": "uuid",
            "type": "string"
          },
          "isoCountryCode": {
            "pattern": "^[a-zA-Z]{2,2}$",
            "type": "string"
          },
          "name": {
            "maxLength": 140,
            "type": "string"
          }
        }
      },
      "tppMessageCategory": {
        "description": "Category of the TPP message category",
        "type": "string",
        "enum": [
          "ERROR",
          "WARNING"
        ]
      },
      "tppMessageText": {
        "description": "Additional explaining text to the TPP.",
        "type": "string",
        "maxLength": 512
      },
      "tppMessage_GENERIC-FORMAT_ERROR_400": {
        "description": "Format of certain request fields are not matching the XS2A requirements.\nAn explicit path to the corresponding field might be added in the return message.\n",
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "type": "string",
            "enum": [
              "FORMAT_ERROR"
            ]
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage_GENERIC-PARAMETER_NOT_SUPPORTED_400": {
        "description": "The parameter is not supported by the API provider.\nThis code should only be used for parameters that are described as\n",
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "type": "string",
            "enum": [
              "PARAMETER_NOT_SUPPORTED"
            ]
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage_GENERIC-RESOURCE_UNKNOWN_404_403_400": {
        "description": "The addressed resource is unknown relative to the TPP.\n  - 404 (if parameter in path)\n  - 403 (if other resource in path)\n  - 400 (if payload)\n",
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "type": "string",
            "enum": [
              "RESOURCE_UNKNOWN"
            ]
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage_GENERIC-RESOURCE_EXPIRED_403_400": {
        "description": "The addressed resource is associated with the TPP but has expired, not addressable anymore.\n  - 403 (if path)\n  - 400 (if payload)\n",
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "type": "string",
            "enum": [
              "RESOURCE_EXPIRED"
            ]
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage_GENERIC-TOKEN_UNKNOWN_401": {
        "description": "The OAuth2 token cannot be matched by the ASPSP relative to the TPP.",
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "type": "string",
            "enum": [
              "TOKEN_UNKNOWN"
            ]
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage_GENERIC-TOKEN_INVALID_401": {
        "description": "The OAuth2 token is associated to the TPP but is not valid for the addressed service/resource.",
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "type": "string",
            "enum": [
              "TOKEN_INVALID"
            ]
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage_GENERIC-TOKEN_EXPIRED_401": {
        "description": "The OAuth2 token is associated to the TPP but has expired and needs to be renewed.",
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "type": "string",
            "enum": [
              "TOKEN_EXPIRED"
            ]
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage_GENERIC-SERVICE_BLOCKED_403": {
        "description": "This service is not reachable for the addressed PSU due to a channel independent blocking by the ASPSP.\nAdditional information might be given by the ASPSP.\n",
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "type": "string",
            "enum": [
              "SERVICE_BLOCKED"
            ]
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage_GENERIC-SERVICE_INVALID_400_405": {
        "description": "Message to the TPP: \nThe addressed service is not valid for the addressed resources or the submitted data.\n\n  - 400 (if payload)\n  - 405 (if HTTP method)\n",
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "type": "string",
            "enum": [
              "SERVICE_INVALID"
            ]
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage-REQUESTED_FORMATS_INVALID_406": {
        "description": "Message to the TPP: \nThe requested formats in the Accept header entry are not matching the formats offered by the ASPSP.\n",
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "type": "string",
            "enum": [
              "REQUESTED_FORMATS_INVALID"
            ]
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage_GENERIC-CONFLICT_409": {
        "description": "Message to the TPP: \nThe request could not be completed due to a conflict with the current state of the resource.\n",
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "type": "string",
            "enum": [
              "CONFLICT"
            ]
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessage-ACCESS_EXCEEDED_429": {
        "description": "Message to the TPP: \nThe access on the account has been exceeding the consented multiplicity per day.\n",
        "type": "object",
        "required": [
          "category",
          "code"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/tppMessageCategory"
          },
          "code": {
            "type": "string",
            "enum": [
              "ACCESS_EXCEEDED"
            ]
          },
          "path": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/tppMessageText"
          }
        }
      },
      "tppMessages400": {
        "description": "Messages to the TPP on operational issues.",
        "type": "array",
        "items": {
          "anyOf": [
            {
              "$ref": "#/components/schemas/tppMessage_GENERIC-FORMAT_ERROR_400"
            },
            {
              "$ref": "#/components/schemas/tppMessage_GENERIC-PARAMETER_NOT_SUPPORTED_400"
            },
            {
              "$ref": "#/components/schemas/tppMessage_GENERIC-SERVICE_INVALID_400_405"
            },
            {
              "$ref": "#/components/schemas/tppMessage_GENERIC-RESOURCE_UNKNOWN_404_403_400"
            },
            {
              "$ref": "#/components/schemas/tppMessage_GENERIC-RESOURCE_EXPIRED_403_400"
            }
          ]
        },
        "example": [
          {
            "category": "ERROR",
            "code": "FORMAT_ERROR",
            "text": "additional text information of the ASPSP up to 512 characters"
          },
          {
            "category": "ERROR",
            "code": "FORMAT_ERROR",
            "text": "Further additional text information of the ASPSP up to 512 characters"
          }
        ]
      },
      "tppMessages401": {
        "description": "Messages with HTTP error code 401 to the TPP on operational issues.",
        "type": "array",
        "items": {
          "anyOf": [
            {
              "$ref": "#/components/schemas/tppMessage_GENERIC-TOKEN_UNKNOWN_401"
            },
            {
              "$ref": "#/components/schemas/tppMessage_GENERIC-TOKEN_INVALID_401"
            },
            {
              "$ref": "#/components/schemas/tppMessage_GENERIC-TOKEN_EXPIRED_401"
            }
          ]
        },
        "example": [
          {
            "category": "ERROR",
            "code": "CERTIFICATE_INVALID",
            "text": "additional text information of the ASPSP up to 512 characters"
          }
        ]
      },
      "tppMessages403": {
        "description": "Messages with HTTP error code 403 to the TPP on operational issues.",
        "type": "array",
        "items": {
          "anyOf": [
            {
              "$ref": "#/components/schemas/tppMessage_GENERIC-SERVICE_BLOCKED_403"
            },
            {
              "$ref": "#/components/schemas/tppMessage_GENERIC-RESOURCE_UNKNOWN_404_403_400"
            },
            {
              "$ref": "#/components/schemas/tppMessage_GENERIC-RESOURCE_EXPIRED_403_400"
            }
          ]
        },
        "example": [
          {
            "category": "ERROR",
            "code": "SERVICE_BLOCKED",
            "text": "additional text information of the ASPSP up to 512 characters"
          }
        ]
      },
      "tppMessages404": {
        "description": "Messages with HTTP error code 404 to the TPP on operational issues.",
        "type": "array",
        "items": {
          "anyOf": [
            {
              "$ref": "#/components/schemas/tppMessage_GENERIC-RESOURCE_UNKNOWN_404_403_400"
            }
          ]
        },
        "example": [
          {
            "category": "ERROR",
            "code": "PRODUCT_UNKNOWN",
            "text": "additional text information of the ASPSP up to 512 characters"
          }
        ]
      },
      "tppMessages405": {
        "description": "Messages with HTTP error code 405 to the TPP on operational issues.",
        "type": "array",
        "items": {
          "anyOf": [
            {
              "$ref": "#/components/schemas/tppMessage_GENERIC-SERVICE_INVALID_400_405"
            }
          ]
        },
        "example": [
          {
            "category": "ERROR",
            "code": "SERVICE_INVALID",
            "text": "additional text information of the ASPSP up to 512 characters"
          }
        ]
      },
      "tppMessages406": {
        "description": "Messages with HTTP error code 406 to the TPP on operational issues.",
        "type": "array",
        "items": {
          "anyOf": [
            {
              "$ref": "#/components/schemas/tppMessage-REQUESTED_FORMATS_INVALID_406"
            }
          ]
        },
        "example": [
          {
            "category": "ERROR",
            "code": "REQUESTED_FORMATS_INVALID",
            "text": "additional text information of the ASPSP up to 512 characters"
          }
        ]
      },
      "tppMessages409": {
        "description": "Messages with HTTP error code 409 to the TPP on operational issues.",
        "type": "array",
        "items": {
          "anyOf": [
            {
              "$ref": "#/components/schemas/tppMessage_GENERIC-CONFLICT_409"
            }
          ]
        },
        "example": [
          {
            "category": "ERROR",
            "code": "CONFLICT",
            "text": "additional text information of the ASPSP up to 512 characters"
          }
        ]
      },
      "tppMessages429": {
        "description": "Messages with HTTP error code 429 to the TPP on operational issues.",
        "type": "array",
        "items": {
          "anyOf": [
            {
              "$ref": "#/components/schemas/tppMessage-ACCESS_EXCEEDED_429"
            }
          ]
        },
        "example": [
          {
            "category": "ERROR",
            "code": "ACCESS_EXCEEDED",
            "text": "additional text information of the ASPSP up to 512 characters"
          }
        ]
      }
    },
    "headers": {
      "X-Request-ID": {
        "description": "ID of the request, unique to the call, as determined by the initiating party.",
        "required": true,
        "example": "99391c7e-ad88-49ec-a2ad-99ddcb1f7721",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "Location": {
        "description": "Location of the created resource.\n",
        "schema": {
          "type": "string",
          "format": "url"
        },
        "required": false
      }
    },
    "parameters": {
      "X-Request-ID": {
        "name": "X-Request-ID",
        "in": "header",
        "description": "ID of the request, unique to the call, as determined by the initiating party.",
        "required": true,
        "example": "99391c7e-ad88-49ec-a2ad-99ddcb1f7721",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "Digest": {
        "name": "Digest",
        "in": "header",
        "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request.",
        "schema": {
          "type": "string"
        },
        "required": false,
        "example": "SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A="
      },
      "Signature": {
        "name": "Signature",
        "in": "header",
        "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP.\n",
        "schema": {
          "type": "string"
        },
        "required": false,
        "example": "keyId=\"SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D-Trust%20GmbH,C=DE\",algorithm=\"rsa-sha256\", headers=\"Digest X-Request-ID PSU-ID TPP-Redirect-URI Date\", signature=\"Base64(RSA-SHA256(signing string))\"\n"
      },
      "TPP-Signature-Certificate": {
        "name": "TPP-Signature-Certificate",
        "in": "header",
        "description": "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained.\n",
        "schema": {
          "type": "string",
          "format": "byte"
        },
        "required": false
      },
      "isoCountryCodesQuery": {
        "name": "isoCountryCodes",
        "in": "query",
        "description": "ISO Country Codes for the countries to get ASPSPs for\n",
        "required": false,
        "schema": {
          "$ref": "#/components/schemas/isoCountryCodes"
        },
        "example": "SE,FI"
      },
      "cityIdsQuery": {
        "name": "cityIds",
        "in": "query",
        "description": "City IDs for the countries to get ASPSPs for\n",
        "required": false,
        "schema": {
          "$ref": "#/components/schemas/cityIds"
        },
        "example": "37efa883-c8ad-4ff7-927b-b11b02beb923,ba9dd929-1408-33a6-3ce2-bc45fcfaaa5c"
      },
      "bicFi": {
        "name": "bicFi",
        "in": "path",
        "description": "The BICFI of the ASPSP\n",
        "required": true,
        "schema": {
          "pattern": "^[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}$",
          "type": "string"
        },
        "example": "OPBKSE21"
      },
      "cityId": {
        "name": "city-id",
        "in": "path",
        "description": "The ID of the city\n",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "example": "37efa883-c8ad-4ff7-927b-b11b02beb923"
      },
      "isoCountryCode": {
        "name": "isoCountryCode",
        "in": "path",
        "description": "ISO Country Code for the country\n",
        "required": true,
        "schema": {
          "pattern": "^[a-zA-Z]{2,2}$",
          "type": "string"
        },
        "example": "SE"
      }
    },
    "responses": {
      "OK_200_ASPSPList": {
        "description": "OK",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/aspspList"
            },
            "example": {
              "aspsps": [
                {
                  "bicFi": "OPBKSE21",
                  "name": "Demo Bank One (EUR)",
                  "logoUrl": "https://openbankingplatform.blob.core.windows.net/image/OPBKSE21.png"
                }
              ]
            }
          }
        }
      },
      "OK_200_ASPSP": {
        "description": "OK",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/aspsp"
            },
            "example": {
              "city": "Stockholm",
              "country": "Sweden",
              "postalCode": "111 57",
              "streetAddress": "M\u00e4ster Samuelsgatan 36",
              "companyNumber": "502017-7753",
              "phone": "+46-8-565 000 00",
              "websiteUrl": "https://openpayments.io",
              "paymentProducts": [
                "sepa-credit-transfers",
                "target-2-payments"
              ],
              "bicFi": "OPBKSE21",
              "name": "Demo Bank One (EUR)",
              "logoUrl": "https://openbankingplatform.blob.core.windows.net/image/OPBKSE21.png"
            }
          }
        }
      },
      "OK_200_CityList": {
        "description": "OK",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/cityList"
            },
            "example": {
              "cities": [
                {
                  "cityId": "37efa883-c8ad-4ff7-927b-b11b02beb923",
                  "name": "Stockholm",
                  "isoCountryCode": "SE"
                }
              ]
            }
          }
        }
      },
      "OK_200_City": {
        "description": "OK",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/city"
            },
            "example": {
              "cityId": "37efa883-c8ad-4ff7-927b-b11b02beb923",
              "name": "Stockholm",
              "isoCountryCode": "SE"
            }
          }
        }
      },
      "OK_200_CountryList": {
        "description": "OK",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/countryList"
            },
            "example": {
              "countries": [
                {
                  "id": "fa2b20bd-6148-318c-bfdf-a5782cd0b54b",
                  "isoCountryCode": "SE",
                  "name": "Sweden"
                }
              ]
            }
          }
        }
      },
      "OK_200_Country": {
        "description": "OK",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/country"
            },
            "example": {
              "id": "fa2b20bd-6148-318c-bfdf-a5782cd0b54b",
              "isoCountryCode": "SE",
              "name": "Sweden"
            }
          }
        }
      },
      "BAD_REQUEST_400": {
        "description": "Bad Request",
        "headers": {
          "Location": {
            "$ref": "#/components/headers/Location"
          },
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/tppMessages400"
            },
            "example": {
              "tppMessages": [
                {
                  "category": "ERROR",
                  "code": "FORMAT_ERROR",
                  "text": "additional text information of the ASPSP up to 512 characters"
                }
              ]
            }
          }
        }
      },
      "UNAUTHORIZED_401": {
        "description": "Unauthorized",
        "headers": {
          "Location": {
            "$ref": "#/components/headers/Location"
          },
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/tppMessages401"
            },
            "example": {
              "tppMessages": [
                {
                  "category": "ERROR",
                  "code": "UNAUTHORIZED",
                  "text": "additional text information of the ASPSP up to 512 characters"
                }
              ]
            }
          }
        }
      },
      "FORBIDDEN_403": {
        "description": "Forbidden",
        "headers": {
          "Location": {
            "$ref": "#/components/headers/Location"
          },
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/tppMessages403"
            },
            "example": {
              "tppMessages": [
                {
                  "category": "ERROR",
                  "code": "SERVICE_BLOCKED",
                  "text": "additional text information of the ASPSP up to 512 characters"
                }
              ]
            }
          }
        }
      },
      "NOT_FOUND_404": {
        "description": "Not found",
        "headers": {
          "Location": {
            "$ref": "#/components/headers/Location"
          },
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/tppMessages404"
            },
            "example": {
              "tppMessages": [
                {
                  "category": "ERROR",
                  "code": "RESOURCE_NOT_FOUND",
                  "text": "additional text information of the ASPSP up to 512 characters"
                }
              ]
            }
          }
        }
      },
      "METHOD_NOT_ALLOWED_405": {
        "description": "Method Not Allowed",
        "headers": {
          "Location": {
            "$ref": "#/components/headers/Location"
          },
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/tppMessages405"
            },
            "example": {
              "tppMessages": [
                {
                  "category": "ERROR",
                  "code": "SERVICE_INVALID",
                  "text": "additional text information of the ASPSP up to 512 characters"
                }
              ]
            }
          }
        }
      },
      "NOT_ACCEPTABLE_406": {
        "description": "Not Acceptable",
        "headers": {
          "Location": {
            "$ref": "#/components/headers/Location"
          },
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/tppMessages406"
            },
            "example": {
              "tppMessages": [
                {
                  "category": "ERROR",
                  "code": "REQUESTED_FORMATS_INVALID",
                  "text": "additional text information of the ASPSP up to 512 characters"
                }
              ]
            }
          }
        }
      },
      "REQUEST_TIMEOUT_408": {
        "description": "Request Timeout",
        "headers": {
          "Location": {
            "$ref": "#/components/headers/Location"
          },
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "CONFLICT_409": {
        "description": "Conflict",
        "headers": {
          "Location": {
            "$ref": "#/components/headers/Location"
          },
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/tppMessages409"
            }
          }
        }
      },
      "PRECONDITION_FAILED_412": {
        "description": "Precondition Failed",
        "headers": {
          "Location": {
            "$ref": "#/components/headers/Location"
          },
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "UNSUPPORTED_MEDIA_TYPE_415": {
        "description": "Unsupported Media Type",
        "headers": {
          "Location": {
            "$ref": "#/components/headers/Location"
          },
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "TOO_MANY_REQUESTS_429": {
        "description": "Too Many Requests",
        "headers": {
          "Location": {
            "$ref": "#/components/headers/Location"
          },
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/tppMessages429"
            },
            "example": {
              "tppMessages": [
                {
                  "category": "ERROR",
                  "code": "ACCESS_EXCEEDED",
                  "text": "additional text information of the ASPSP up to 512 characters"
                }
              ]
            }
          }
        }
      },
      "INTERNAL_SERVER_ERROR_500": {
        "description": "Internal Server Error",
        "headers": {
          "Location": {
            "$ref": "#/components/headers/Location"
          },
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      },
      "SERVICE_UNAVAILABLE_503": {
        "description": "Service Unavailable",
        "headers": {
          "Location": {
            "$ref": "#/components/headers/Location"
          },
          "X-Request-ID": {
            "$ref": "#/components/headers/X-Request-ID"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "ASPSP Information Service (ASPSPIS)",
      "description": "The ASPSP Information Services (ASPSPIS) offers the following services.\n  * All ASPSPs in a specific city or country.\n  * List all ASPSPs connected to the Open Banking Platform. \n  * Details about the ASPSP.\n  * To access the ASPSP Information Services use the aspspinformation scope."
    }
  ]
}