{
  "openapi": "3.0.3",
  "info": {
    "title": "FastBill API",
    "version": "1.0.0",
    "description": "FastBill invoicing and accounting API. All endpoints use POST with JSON-RPC style service calls.",
    "x-jentic-source-url": "https://apidocs.fastbill.com/",
    "contact": {
      "name": "FastBill API Support"
    }
  },
  "servers": [
    {
      "url": "https://my.fastbill.com/api/1.0"
    }
  ],
  "paths": {
    "/api.php": {
      "post": {
        "operationId": "executeService",
        "summary": "Execute FastBill API service",
        "description": "All FastBill API calls go through this single endpoint. The service name (e.g. customer.get, invoice.create) is specified in the JSON body.",
        "tags": [
          "API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ServiceRequest": {
        "type": "object",
        "required": [
          "SERVICE"
        ],
        "properties": {
          "SERVICE": {
            "type": "string",
            "description": "Service name e.g. customer.get, invoice.create, article.get",
            "enum": [
              "customer.get",
              "customer.create",
              "customer.update",
              "customer.delete",
              "contact.get",
              "contact.create",
              "contact.update",
              "contact.delete",
              "invoice.get",
              "invoice.create",
              "invoice.update",
              "invoice.delete",
              "invoice.complete",
              "invoice.cancel",
              "invoice.sendbyemail",
              "invoice.sendbypost",
              "invoice.setpaid",
              "estimate.get",
              "estimate.create",
              "estimate.delete",
              "estimate.sendbyemail",
              "estimate.createinvoice",
              "article.get",
              "article.create",
              "article.update",
              "article.delete",
              "project.get",
              "project.create",
              "project.update",
              "project.delete",
              "time.get",
              "time.create",
              "time.update",
              "time.delete",
              "document.get",
              "document.create",
              "document.delete",
              "template.get",
              "webhook.get",
              "webhook.create",
              "webhook.delete",
              "recurring.get",
              "recurring.create",
              "recurring.update",
              "recurring.delete",
              "revenue.get",
              "revenue.create",
              "revenue.delete",
              "expense.get",
              "expense.create",
              "expense.delete"
            ]
          },
          "LIMIT": {
            "type": "integer",
            "description": "Result count limit (max 100)"
          },
          "OFFSET": {
            "type": "integer",
            "description": "Pagination starting position"
          },
          "FILTER": {
            "type": "object",
            "description": "Resource filtering criteria"
          },
          "DATA": {
            "type": "object",
            "description": "Request payload for create/update"
          }
        }
      },
      "ServiceResponse": {
        "type": "object",
        "properties": {
          "REQUEST": {
            "type": "object"
          },
          "RESPONSE": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth with email and API key"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "API"
    }
  ]
}
