{
  "openapi": "3.0.3",
  "info": {
    "title": "Re:Shark API",
    "version": "1.0.0",
    "description": "Re:Shark API for retrieving user details, campaign data, and leads. Provides endpoints for user information, campaign listings, and new lead retrieval.",
    "x-jentic-source-url": "https://app.reshark.io/api-documentation/"
  },
  "servers": [
    {
      "url": "https://app.reshark.io/v1"
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user details",
        "description": "Retrieves details for the authenticated user.",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "API key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user_campaigns": {
      "get": {
        "operationId": "getUserCampaigns",
        "summary": "Get campaigns for a user",
        "description": "Retrieves all campaigns associated with the authenticated user.",
        "tags": ["Campaigns"],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "API key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/new_leads": {
      "get": {
        "operationId": "getNewLeads",
        "summary": "Get new leads for a campaign",
        "description": "Retrieves new leads for a specific campaign.",
        "tags": ["Leads"],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "API key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reshark_campaign",
            "in": "query",
            "description": "Campaign identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "User identifier"
          },
          "name": {
            "type": "string",
            "description": "User name"
          },
          "email": {
            "type": "string",
            "description": "User email"
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Campaign identifier"
          },
          "name": {
            "type": "string",
            "description": "Campaign name"
          },
          "status": {
            "type": "string",
            "description": "Campaign status"
          }
        }
      },
      "CampaignListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          }
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Lead identifier"
          },
          "name": {
            "type": "string",
            "description": "Lead name"
          },
          "email": {
            "type": "string",
            "description": "Lead email"
          },
          "campaign_id": {
            "type": "string",
            "description": "Associated campaign ID"
          }
        }
      },
      "LeadListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Lead"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["error"]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ]
}
