{
  "openapi": "3.0.3",
  "info": {
    "title": "Lever API",
    "version": "1.0.0",
    "description": "Lever is a recruiting software that provides an API for managing opportunities, candidates, postings, and more.",
    "x-jentic-source-url": "https://hire.lever.co/developer/documentation"
  },
  "servers": [
    {
      "url": "https://api.lever.co/v1"
    }
  ],
  "security": [
    {
      "basicAuth": []
    },
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "API key as username, no password"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 Bearer token"
      }
    },
    "parameters": {
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100
        }
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "hasNext": {
            "type": "boolean"
          },
          "next": {
            "type": "string"
          }
        }
      },
      "Opportunity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "contact": {
            "type": "string"
          },
          "headline": {
            "type": "string"
          },
          "stage": {
            "type": "string"
          },
          "stageChanges": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "origin": {
            "type": "string"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "links": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "archived": {
            "type": "object"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "owner": {
            "type": "string"
          },
          "followers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "applications": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "lastInteractionAt": {
            "type": "integer"
          },
          "lastAdvancedAt": {
            "type": "integer"
          },
          "snoozedUntil": {
            "type": "integer"
          },
          "urls": {
            "type": "object"
          },
          "isAnonymized": {
            "type": "boolean"
          },
          "dataProtection": {
            "type": "object"
          }
        }
      },
      "Posting": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "state": {
            "type": "string"
          },
          "distributionChannels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "categories": {
            "type": "object"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "content": {
            "type": "object"
          },
          "followers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "reqCode": {
            "type": "string"
          },
          "requisitionCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "urls": {
            "type": "object"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "accessRole": {
            "type": "string"
          },
          "photo": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "deactivatedAt": {
            "type": "integer"
          },
          "externalDirectoryId": {
            "type": "string"
          }
        }
      },
      "Stage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        }
      },
      "ArchiveReason": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "status": {
            "type": "object"
          }
        }
      },
      "Source": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "Requisition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "requisitionCode": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "hiringManager": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "headcountTotal": {
            "type": "integer"
          },
          "headcountHired": {
            "type": "integer"
          },
          "compensationBand": {
            "type": "object"
          },
          "createdAt": {
            "type": "integer"
          }
        }
      },
      "Application": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "candidateId": {
            "type": "string"
          },
          "opportunityId": {
            "type": "string"
          },
          "posting": {
            "type": "string"
          },
          "postingHiringManager": {
            "type": "string"
          },
          "postingOwner": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "referrer": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "archived": {
            "type": "object"
          }
        }
      },
      "Interview": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "panel": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "interviewers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "timezone": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "date": {
            "type": "integer"
          },
          "duration": {
            "type": "integer"
          },
          "location": {
            "type": "string"
          },
          "feedbackTemplate": {
            "type": "string"
          },
          "feedbackForms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "feedbackReminder": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "stage": {
            "type": "string"
          },
          "canceledAt": {
            "type": "integer"
          }
        }
      },
      "Note": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "user": {
            "type": "string"
          },
          "secret": {
            "type": "boolean"
          },
          "completedAt": {
            "type": "integer"
          },
          "createdAt": {
            "type": "integer"
          },
          "deletedAt": {
            "type": "integer"
          }
        }
      },
      "Offer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "creator": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "sentDocument": {
            "type": "object"
          },
          "signedDocument": {
            "type": "object"
          }
        }
      },
      "Referral": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "instructions": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "baseTemplateId": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "referrer": {
            "type": "string"
          },
          "stage": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "completedAt": {
            "type": "integer"
          }
        }
      },
      "Feedback": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "instructions": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "baseTemplateId": {
            "type": "string"
          },
          "interview": {
            "type": "string"
          },
          "panel": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer"
          },
          "completedAt": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "deletedAt": {
            "type": "integer"
          }
        }
      }
    }
  },
  "paths": {
    "/opportunities": {
      "get": {
        "summary": "List all opportunities",
        "operationId": "opportunities_list",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of opportunities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a opportunitie",
        "operationId": "opportunities_create",
        "tags": [
          "Opportunities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Opportunity"
                }
              }
            }
          }
        }
      }
    },
    "/opportunities/{id}": {
      "get": {
        "summary": "Retrieve a opportunitie",
        "operationId": "opportunities_get",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Opportunity"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a opportunitie",
        "operationId": "opportunities_update",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Opportunity"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a opportunitie",
        "operationId": "opportunities_delete",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/postings": {
      "get": {
        "summary": "List all postings",
        "operationId": "postings_list",
        "tags": [
          "Postings"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of postings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a posting",
        "operationId": "postings_create",
        "tags": [
          "Postings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Posting"
                }
              }
            }
          }
        }
      }
    },
    "/postings/{id}": {
      "get": {
        "summary": "Retrieve a posting",
        "operationId": "postings_get",
        "tags": [
          "Postings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Posting"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a posting",
        "operationId": "postings_update",
        "tags": [
          "Postings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Posting"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a posting",
        "operationId": "postings_delete",
        "tags": [
          "Postings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "List all users",
        "operationId": "users_list",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a user",
        "operationId": "users_create",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "summary": "Retrieve a user",
        "operationId": "users_get",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a user",
        "operationId": "users_update",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a user",
        "operationId": "users_delete",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/stages": {
      "get": {
        "summary": "List all stages",
        "operationId": "stages_list",
        "tags": [
          "Stages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of stages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stages/{id}": {
      "get": {
        "summary": "Retrieve a stage",
        "operationId": "stages_get",
        "tags": [
          "Stages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stage"
                }
              }
            }
          }
        }
      }
    },
    "/archive_reasons": {
      "get": {
        "summary": "List all archive_reasons",
        "operationId": "archive_reasons_list",
        "tags": [
          "Archive Reasons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of archive_reasons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a archive_reason",
        "operationId": "archive_reasons_create",
        "tags": [
          "Archive Reasons"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveReason"
                }
              }
            }
          }
        }
      }
    },
    "/archive_reasons/{id}": {
      "get": {
        "summary": "Retrieve a archive_reason",
        "operationId": "archive_reasons_get",
        "tags": [
          "Archive Reasons"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveReason"
                }
              }
            }
          }
        }
      }
    },
    "/sources": {
      "get": {
        "summary": "List all sources",
        "operationId": "sources_list",
        "tags": [
          "Sources"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sources/{id}": {
      "get": {
        "summary": "Retrieve a source",
        "operationId": "sources_get",
        "tags": [
          "Sources"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          }
        }
      }
    },
    "/tags": {
      "get": {
        "summary": "List all tags",
        "operationId": "tags_list",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tags/{id}": {
      "get": {
        "summary": "Retrieve a tag",
        "operationId": "tags_get",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          }
        }
      }
    },
    "/requisitions": {
      "get": {
        "summary": "List all requisitions",
        "operationId": "requisitions_list",
        "tags": [
          "Requisitions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of requisitions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a requisition",
        "operationId": "requisitions_create",
        "tags": [
          "Requisitions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Requisition"
                }
              }
            }
          }
        }
      }
    },
    "/requisitions/{id}": {
      "get": {
        "summary": "Retrieve a requisition",
        "operationId": "requisitions_get",
        "tags": [
          "Requisitions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Requisition"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a requisition",
        "operationId": "requisitions_update",
        "tags": [
          "Requisitions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Requisition"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a requisition",
        "operationId": "requisitions_delete",
        "tags": [
          "Requisitions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/opportunities/{opportunityId}/applications": {
      "get": {
        "summary": "List applications for opportunity",
        "operationId": "opportunities_applications_list",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of applications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/opportunities/{opportunityId}/interviews": {
      "get": {
        "summary": "List interviews for opportunity",
        "operationId": "opportunities_interviews_list",
        "tags": [
          "Interviews"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of interviews",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/opportunities/{opportunityId}/notes": {
      "get": {
        "summary": "List notes for opportunity",
        "operationId": "opportunities_notes_list",
        "tags": [
          "Notes"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of notes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/opportunities/{opportunityId}/offers": {
      "get": {
        "summary": "List offers for opportunity",
        "operationId": "opportunities_offers_list",
        "tags": [
          "Offers"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of offers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/opportunities/{opportunityId}/referrals": {
      "get": {
        "summary": "List referrals for opportunity",
        "operationId": "opportunities_referrals_list",
        "tags": [
          "Referrals"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of referrals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/opportunities/{opportunityId}/feedback": {
      "get": {
        "summary": "List feedback for opportunity",
        "operationId": "opportunities_feedback_list",
        "tags": [
          "Feedback"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of feedback",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/opportunities/{opportunityId}/files": {
      "get": {
        "summary": "List files for opportunity",
        "operationId": "opportunities_files_list",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/opportunities/{opportunityId}/resumes": {
      "get": {
        "summary": "List resumes for opportunity",
        "operationId": "opportunities_resumes_list",
        "tags": [
          "Resumes"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of resumes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/opportunities/{opportunityId}/panels": {
      "get": {
        "summary": "List panels for opportunity",
        "operationId": "opportunities_panels_list",
        "tags": [
          "Panels"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of panels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/opportunities/{opportunityId}/stage": {
      "put": {
        "summary": "Update opportunity stage",
        "operationId": "opportunities_updateStage",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stage": {
                    "type": "string"
                  }
                },
                "required": [
                  "stage"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stage updated"
          }
        }
      }
    },
    "/opportunities/{opportunityId}/archived": {
      "put": {
        "summary": "Update opportunity archived state",
        "operationId": "opportunities_updateArchived",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "archivedAt": {
                    "type": "integer"
                  },
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Archive state updated"
          }
        }
      }
    },
    "/opportunities/{opportunityId}/tags": {
      "put": {
        "summary": "Update opportunity tags",
        "operationId": "opportunities_updateTags",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags updated"
          }
        }
      }
    },
    "/opportunities/{opportunityId}/sources": {
      "put": {
        "summary": "Update opportunity sources",
        "operationId": "opportunities_updateSources",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sources updated"
          }
        }
      }
    },
    "/opportunities/{opportunityId}/links": {
      "put": {
        "summary": "Update opportunity links",
        "operationId": "opportunities_updateLinks",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "links": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Links updated"
          }
        }
      }
    },
    "/opportunities/deleted": {
      "get": {
        "summary": "List deleted opportunities",
        "operationId": "opportunities_listDeleted",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted opportunities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/audit_events": {
      "get": {
        "summary": "List all audit events",
        "operationId": "audit_events_list",
        "tags": [
          "Audit Events"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Audit events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/postings/{postingId}/apply": {
      "post": {
        "summary": "Apply to a posting",
        "operationId": "postings_apply",
        "tags": [
          "Postings"
        ],
        "parameters": [
          {
            "name": "postingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "resume": {
                    "type": "string",
                    "format": "binary"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "org": {
                    "type": "string"
                  },
                  "urls": {
                    "type": "object"
                  },
                  "comments": {
                    "type": "string"
                  },
                  "silent": {
                    "type": "boolean"
                  },
                  "source": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contactId}": {
      "get": {
        "summary": "Retrieve a contact",
        "operationId": "contacts_get",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a contact",
        "operationId": "contacts_update",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List webhooks",
        "operationId": "webhooks_list",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhooks"
          }
        }
      },
      "post": {
        "summary": "Create a webhook",
        "operationId": "webhooks_create",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "event": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created"
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "put": {
        "summary": "Update a webhook",
        "operationId": "webhooks_update",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated"
          }
        }
      },
      "delete": {
        "summary": "Delete a webhook",
        "operationId": "webhooks_delete",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted"
          }
        }
      }
    },
    "/uploads": {
      "post": {
        "summary": "Upload a file",
        "operationId": "uploads_create",
        "tags": [
          "Uploads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded"
          }
        }
      }
    }
  }
}