{
  "openapi": "3.0.3",
  "info": {
    "title": "CryptoMarket API",
    "description": "CryptoMarket (CryptoMKT) cryptocurrency exchange REST API for trading, market data, and wallet management.",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.exchange.cryptomkt.com/api/3"
    }
  ],
  "paths": {
    "/public/currency": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Get currencies",
        "parameters": [
          {
            "$ref": "#/components/parameters/marketData_Currencies"
          },
          {
            "name": "preferred_network",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Default network.",
            "example": "ETH"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_CurrencyMap"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": [],
        "description": "\n**Permission**: None\n\n**IP limit**: 30/50\n"
      }
    },
    "/public/currency/{currency}": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Get a currency",
        "parameters": [
          {
            "$ref": "#/components/parameters/marketData_CurrencyPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_Currency"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": [],
        "description": "\n**Permission**: None\n\n**IP limit**: 30/50\n"
      }
    },
    "/public/symbol": {
      "get": {
        "tags": [
          "Symbols"
        ],
        "summary": "Get symbols",
        "parameters": [
          {
            "$ref": "#/components/parameters/marketData_Symbols"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/marketData_SpotSymbolMap"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": [],
        "description": "\n**Permission**: None\n\n**IP limit**: 30/50\n"
      }
    },
    "/public/symbol/{symbol}": {
      "get": {
        "tags": [
          "Symbols"
        ],
        "summary": "Get a symbol",
        "parameters": [
          {
            "$ref": "#/components/parameters/marketData_SymbolPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/marketData_SpotSymbol"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": [],
        "description": "\n**Permission**: None\n\n**IP limit**: 30/50\n"
      }
    },
    "/public/price/rate": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "Get a quote",
        "description": "Returns the mean of \"best\" bid price and \"best\" ask price in the order book.\n\n\u2139\ufe0f If there is no \"best\" bid of ask price, the last price is returned.\n\n\u2139\ufe0f If provided currencies do not match any existing symbol, the rate for intermediate pairs are multiplied of inverted depending on the direction of exchange in these pairs.\n\n\u2139\ufe0f If there is no rate, an empty object is returned.\n\n**Permission**: None\n\n**IP limit**: 30/50\n",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Base currency code.",
            "schema": {
              "$ref": "#/components/schemas/marketData_CurrencyCommon"
            },
            "example": "BTC"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Quote currency code.",
            "schema": {
              "$ref": "#/components/schemas/marketData_CurrencyCommon"
            },
            "example": "USDT"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_Quote"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/marketData_Validation"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": []
      }
    },
    "/public/price/ticker": {
      "get": {
        "tags": [
          "Quote Tickers"
        ],
        "summary": "Get quote tickers",
        "description": "Returns last prices on symbols.\n\n**Permission**: None\n\n**IP limit**: 30/50\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/marketData_Symbols"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_LastPriceMap"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": []
      }
    },
    "/public/price/ticker/{symbol}": {
      "get": {
        "tags": [
          "Quote Tickers"
        ],
        "summary": "Get a quote ticker",
        "description": "Returns the last price on a symbol.\n\n**Permission**: None\n\n**IP limit**: 30/50\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/marketData_SymbolPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_LastPrice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": []
      }
    },
    "/public/price/history": {
      "get": {
        "tags": [
          "Quote History"
        ],
        "summary": "Get quote history",
        "description": "Returns the last trade price history.\n\n**Permission**: None\n\n**IP limit**: 30/50\n",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Base currency code.",
            "schema": {
              "$ref": "#/components/schemas/marketData_CurrencyCommon"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Quote currency code.",
            "schema": {
              "$ref": "#/components/schemas/marketData_CurrencyCommon"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Interval start value.",
            "schema": {
              "$ref": "#/components/schemas/marketData_TimestampCommon"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Interval end value.",
            "schema": {
              "$ref": "#/components/schemas/marketData_TimestampCommon"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 1
            },
            "description": "The number of items to return."
          },
          {
            "$ref": "#/components/parameters/marketData_Period"
          },
          {
            "$ref": "#/components/parameters/marketData_SortDesc"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_LastPriceHistoryMap"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/marketData_Validation"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": []
      }
    },
    "/public/ticker": {
      "get": {
        "tags": [
          "Tickers"
        ],
        "summary": "Get tickers",
        "parameters": [
          {
            "$ref": "#/components/parameters/marketData_Symbols"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_TickerMap"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": [],
        "description": "\n**Permission**: None\n\n**IP limit**: 30/50\n"
      }
    },
    "/public/ticker/{symbol}": {
      "get": {
        "tags": [
          "Tickers"
        ],
        "summary": "Get a ticker",
        "parameters": [
          {
            "$ref": "#/components/parameters/marketData_SymbolPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_Ticker"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": [],
        "description": "\n**IP limit**: 30/50\n"
      }
    },
    "/public/candles": {
      "get": {
        "tags": [
          "Candles"
        ],
        "summary": "Get last price candles",
        "description": "Returns OHLCV data regarding last price for all symbols.\n\n**Permission**: None\n\n**IP limit**: 30/50\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/marketData_Symbols"
          },
          {
            "$ref": "#/components/parameters/marketData_SortDesc"
          },
          {
            "$ref": "#/components/parameters/marketData_Period"
          },
          {
            "$ref": "#/components/parameters/marketData_From"
          },
          {
            "$ref": "#/components/parameters/marketData_Till"
          },
          {
            "$ref": "#/components/parameters/marketData_Limit10"
          },
          {
            "$ref": "#/components/parameters/marketData_Pool"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_CandleMap"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/marketData_Validation"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": []
      }
    },
    "/public/candles/{symbol}": {
      "get": {
        "tags": [
          "Candles"
        ],
        "summary": "Get a last price candle",
        "description": "Returns OHLCV data regarding last price for a symbol.\n\n**Permission**: None\n\n**IP limit**: 30/50\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/marketData_SymbolPath"
          },
          {
            "$ref": "#/components/parameters/marketData_SortDesc"
          },
          {
            "$ref": "#/components/parameters/marketData_Period"
          },
          {
            "$ref": "#/components/parameters/marketData_From"
          },
          {
            "$ref": "#/components/parameters/marketData_Till"
          },
          {
            "$ref": "#/components/parameters/marketData_Limit100"
          },
          {
            "$ref": "#/components/parameters/marketData_Offset"
          },
          {
            "$ref": "#/components/parameters/marketData_Pool"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/marketData_Candle"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/marketData_Validation"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": []
      }
    },
    "/public/converted/candles": {
      "get": {
        "tags": [
          "Candles"
        ],
        "summary": "Get a rate candle",
        "description": "Returns OHLCV data regarding the last price converted to the target currency for all symbols.\n\n\u26a0\ufe0f This call produces the same output as `GET /public/converted/candles` except all values in quote currency are converted to the target currency.\n\n\u2139\ufe0f Conversion from the symbol quote currency to the target currency is the mean of \"best\" bid price and \"best\" ask price in the order book. If there is no \"best\" bid of ask price, the last price is returned.\n\n**Permission**: None\n\n**IP limit**: 30/50\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/marketData_TargetCurrency"
          },
          {
            "$ref": "#/components/parameters/marketData_Symbols"
          },
          {
            "$ref": "#/components/parameters/marketData_SortDesc"
          },
          {
            "$ref": "#/components/parameters/marketData_Period"
          },
          {
            "$ref": "#/components/parameters/marketData_From"
          },
          {
            "$ref": "#/components/parameters/marketData_Till"
          },
          {
            "$ref": "#/components/parameters/marketData_Limit10"
          },
          {
            "$ref": "#/components/parameters/marketData_Pool"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_ConvertedCandles"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/marketData_Validation"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": []
      }
    },
    "/public/converted/candles/{symbol}": {
      "get": {
        "tags": [
          "Candles"
        ],
        "summary": "Get rate candles",
        "description": "Returns OHLCV data regarding the last price converted to the target currency for a symbol.\n\n\u26a0\ufe0f This call produces the same output as `GET /public/converted/candles` except all values in quote currency are converted to the target currency.\n\n\u2139\ufe0f Conversion from the symbol quote currency to the target currency is the mean of \"best\" bid price and \"best\" ask price in the order book. If there is no \"best\" bid of ask price, the last price is returned.\n\n**Permission**: None\n\n**IP limit**: 30/50\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/marketData_TargetCurrency"
          },
          {
            "$ref": "#/components/parameters/marketData_SymbolPath"
          },
          {
            "$ref": "#/components/parameters/marketData_SortDesc"
          },
          {
            "$ref": "#/components/parameters/marketData_Period"
          },
          {
            "$ref": "#/components/parameters/marketData_From"
          },
          {
            "$ref": "#/components/parameters/marketData_Till"
          },
          {
            "$ref": "#/components/parameters/marketData_Limit100"
          },
          {
            "$ref": "#/components/parameters/marketData_Offset"
          },
          {
            "$ref": "#/components/parameters/marketData_Pool"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/marketData_ConvertedCandle"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/marketData_Validation"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": []
      }
    },
    "/public/orderbook": {
      "get": {
        "tags": [
          "Order Books"
        ],
        "summary": "Get order books",
        "parameters": [
          {
            "$ref": "#/components/parameters/marketData_Symbols"
          },
          {
            "name": "depth",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "The number of price levels.\n\n\u2139\ufe0f Set to `0` to view the full order book.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_OrderBookMap"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/marketData_Validation"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": [],
        "description": "\n**Permission**: None\n\n**IP limit**: 30/50\n"
      }
    },
    "/public/orderbook/{symbol}": {
      "get": {
        "tags": [
          "Order Books"
        ],
        "summary": "Get an order book",
        "parameters": [
          {
            "$ref": "#/components/parameters/marketData_SymbolPath"
          },
          {
            "name": "depth",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "The number of price levels.\n\n\u2139\ufe0f Set to `0` to view the full order book.\n"
          },
          {
            "name": "volume",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "The minimum total volume among the levels.\n\nFormat: decimal\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_OrderBook"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/marketData_Validation"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": [],
        "description": "\n**Permission**: None\n\n**IP limit**: 30/50\n"
      }
    },
    "/public/trades": {
      "get": {
        "tags": [
          "Trades History"
        ],
        "summary": "Get trades history",
        "parameters": [
          {
            "$ref": "#/components/parameters/marketData_Symbols"
          },
          {
            "$ref": "#/components/parameters/marketData_ByTimestamp"
          },
          {
            "$ref": "#/components/parameters/marketData_SortDesc"
          },
          {
            "$ref": "#/components/parameters/marketData_From"
          },
          {
            "$ref": "#/components/parameters/marketData_Till"
          },
          {
            "$ref": "#/components/parameters/marketData_Limit10"
          },
          {
            "$ref": "#/components/parameters/marketData_Pool"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/marketData_TradeMap"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/marketData_Validation"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": [],
        "description": "\n**Permission**: None\n\n**IP limit**: 30/50\n"
      }
    },
    "/public/trades/{symbol}": {
      "get": {
        "tags": [
          "Trades History"
        ],
        "summary": "Get symbol trades history",
        "parameters": [
          {
            "$ref": "#/components/parameters/marketData_SymbolPath"
          },
          {
            "$ref": "#/components/parameters/marketData_SortDesc"
          },
          {
            "$ref": "#/components/parameters/marketData_ByTimestamp"
          },
          {
            "$ref": "#/components/parameters/marketData_From"
          },
          {
            "$ref": "#/components/parameters/marketData_Till"
          },
          {
            "$ref": "#/components/parameters/marketData_Limit100"
          },
          {
            "$ref": "#/components/parameters/marketData_Offset"
          },
          {
            "$ref": "#/components/parameters/marketData_Pool"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/marketData_Trade"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/marketData_InstrumentNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/marketData_Validation"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/marketData_404"
          }
        },
        "security": [],
        "description": "\n**Permission**: None\n\n**IP limit**: 30/50\n"
      }
    },
    "/wallet/balance": {
      "get": {
        "tags": [
          "Wallet Balances"
        ],
        "summary": "Get balances",
        "description": "Returns non-zero wallet balances.\n\n**Permission**: Payment information\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/wallet_Balance"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      }
    },
    "/wallet/balance/{currency}": {
      "get": {
        "tags": [
          "Wallet Balances"
        ],
        "summary": "Get a balance",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet_CurrencyPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_Balance"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_CurrencyNotFound"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ],
        "description": "\n**Permission**: Payment information\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n"
      }
    },
    "/wallet/amount-locks": {
      "get": {
        "tags": [
          "Amount Locks"
        ],
        "summary": "Get amount locks",
        "description": "\u26a0\ufe0f Balance that can be withdrawn depends on the sum of amounts locks across all currencies.\n\n\u2139\ufe0f Locked amount is not visible as a fraction of reserved balance.\n\n**Permission**: Withdraw cryptocurrencies\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet_Currency"
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Flag indicating whether returned locks are active."
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "format": "int",
              "default": 100
            },
            "description": "The number of items to return."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            },
            "description": "The number of items to skip before starting to collect the result set."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/wallet_AmountLock"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_Validation"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      }
    },
    "/wallet/crypto/address": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get addresses",
        "description": "Returns the list of latest generated deposit addresses per currency.\n\n\u26a0\ufe0f Generation of a deposit address and deposits may be rejected due to an insufficient verification level.\n\n\u2139\ufe0f If no addresses have ever been generated for a currency, nothing will be returned in the list.\n\n\u2139\ufe0f If no an address have ever been generated for a currency and `currency` parameter is specified, a new address will be generated and returned in a response.\n\n**Permission**: Payment information\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet_CurrencyReq"
          },
          {
            "$ref": "#/components/parameters/wallet_Network"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/wallet_DepositAddress"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_CurrencyNotFound"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/wallet_Forbidden"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_ShouldUpgradePermission"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_NotEnoughPermissions"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_VerificationRequired"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_UserNotFound"
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Generate an address",
        "description": "Returns a newly generated deposit address.\n\n\u26a0\ufe0f Generation of a deposit address and deposits may be rejected due to the user has an insufficient verification level.\n\n**Permission**: Payment information\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/wallet_DepositAddressRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/wallet_DepositAddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_DepositAddress"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_CurrencyNotFound"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/wallet_Forbidden"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_ShouldUpgradePermission"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_NotEnoughPermissions"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_VerificationRequired"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_UserNotFound"
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      }
    },
    "/wallet/crypto/address/recent-deposit": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get recent deposited addresses",
        "description": "Returns up to 10 last unique addresses featured in deposits (as the destination).\n\n\u2139\ufe0f Only deposits in `\"SUCCESS\"` status are considered.\n\n**Permission**: Payment information\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet_CurrencyReq"
          },
          {
            "$ref": "#/components/parameters/wallet_Network"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "minItems": 0,
                  "maxItems": 10,
                  "uniqueItems": true,
                  "items": {
                    "$ref": "#/components/schemas/wallet_RecentDepositAddress"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_CurrencyNotFound"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/wallet_Forbidden"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_ShouldUpgradePermission"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_NotEnoughPermissions"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_VerificationRequired"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_UserNotFound"
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      }
    },
    "/wallet/crypto/address/recent-withdraw": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get recent withdrawal recipients",
        "description": "Returns up to 10 last unique addresses featured in withdrawals (as the destination).\n\n\u2139\ufe0f Only on-chain withdrawals in `\"SUCCESS\"` status are considered.\n\n**Permission**: Payment information\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet_CurrencyReq"
          },
          {
            "$ref": "#/components/parameters/wallet_Network"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "minItems": 0,
                  "maxItems": 10,
                  "uniqueItems": true,
                  "items": {
                    "$ref": "#/components/schemas/wallet_DepositAddress"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_CurrencyNotFound"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_UserNotFound"
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      }
    },
    "/wallet/crypto/address/check-mine": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Check address ownership",
        "description": "Determines whether the provided deposit address belongs to the user.\n\n**Permission**: Payment information\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^([\\w@\\-.:<>]+|[0-9A-Z]{4}( ?[0-9A-Z]{4}){8}|(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?)$"
            },
            "description": "Deposit crypto address.",
            "example": "3A3MR43kUvahSAJtTsxzE8mcTz3VfL9upi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_Result"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_CurrencyNotFound"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_UserNotFound"
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      }
    },
    "/wallet/crypto/address/white-list": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get whitelisted addresses",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "addresses"
                  ],
                  "properties": {
                    "addresses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/wallet_WhitelistedAddress"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ],
        "description": "\n**Permission**: Payment information\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n"
      }
    },
    "/wallet/transfer": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Commit a transfer",
        "description": "Creates and commits a transfer between a wallet and an exchange account of the same currency.\n\nConditions: `source` and `destination` parameters must not be equal.\n\n\u26a0\ufe0f Successful response to the request does not necessarily mean the resulting transaction got executed immediately. It has to be processed first and may eventually be rolled back or fail.\n\n\u2139\ufe0f Call `GET /public/currency/{currency}` and check `transfer_enabled` to determine if transfers are allowed for the currency.\n\n\u2139\ufe0f Call `GET /wallet/transactions/{id}` to check out the status of resulting transaction.\n\n**Permission**: Payment information\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/wallet_TransferRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/wallet_TransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/wallet_SingleTransfer"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_DoubleTransfer"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/wallet_CurrencyNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_InsufficientFunds"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_NotAllowed"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_Validation"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_LowAmount"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_UserNotFound"
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "504": {
            "$ref": "#/components/responses/wallet_504"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      }
    },
    "/transfer-convert/config": {
      "get": {
        "tags": [
          "Conversions"
        ],
        "summary": "Get conversion pairs",
        "description": "Returns pairs of source and target currencies available for 1:1 conversions.\n\n**Permission**: None\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/wallet_ConvertConfig"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_UserNotFound"
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "504": {
            "$ref": "#/components/responses/wallet_504"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      }
    },
    "/wallet/convert": {
      "post": {
        "tags": [
          "Conversions"
        ],
        "summary": "Commit a conversion",
        "description": "Creates and commits a transfer between wallets of different currencies at 1:1 rate. Units of the currencies must be of an equal value and the conversion pair and the direction must be allowed by the configuration.\n\n\u26a0\ufe0f Successful response to the request does not necessarily mean the resulting transaction got executed immediately. It has to be processed first and may eventually be rolled back or fail.\n\n\u2139\ufe0f Call `GET /transfer-convert/config` to get available conversion pairs.\n\n\u2139\ufe0f A successful request results in 2 transactions: an outgoing transfer from the source wallet and an incoming transfer to the destination wallet.\n\n\u2139\ufe0f Call `GET /wallet/transactions/{id}` to check out statuses of resulting transactions.\n\n**Permission**: Payment information\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/wallet_ConvertRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/wallet_ConvertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_DoubleTransfer"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/wallet_CurrencyNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_NotAllowed"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_Validation"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_LowAmount"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_UserNotFound"
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "504": {
            "$ref": "#/components/responses/wallet_504"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      }
    },
    "/wallet/crypto/fees/estimate": {
      "post": {
        "tags": [
          "Network Fees"
        ],
        "summary": "Get estimated fees",
        "description": "Returns estimated fees charged for processing of on-chain withdrawals\n for provided combination of currency and network.\n\n\u26a0\ufe0f In some cases, fee rates cannot be deduced from public info being\n affected by the user personal configuration.\n\n\u26a0\ufe0f The fee value is guaranteed not to change until the transaction\n is committed.\n\n**Permission**: Payment information\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/wallet_FeesEstimateRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/wallet_FeesEstimateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_EstimatedFee"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/wallet_Validation"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_CurrencyNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_LowAmount"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_UserNotFound"
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "504": {
            "$ref": "#/components/responses/wallet_504"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      }
    },
    "/wallet/crypto/fee/estimate": {
      "get": {
        "tags": [
          "Network Fees"
        ],
        "summary": "Get an estimated fee",
        "description": "Returns estimated fee charged for processing on-chain withdrawals for\n provided combination of currency and network.\n\n\u26a0\ufe0f In some cases, fee rates cannot be deduced from public info being\n affected by the user personal configuration.\n\n\u26a0\ufe0f The fee value is guaranteed not to change until the transaction is\n committed.\n\n**Permission**: Payment information\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet_CurrencyReq"
          },
          {
            "$ref": "#/components/parameters/wallet_Network"
          },
          {
            "$ref": "#/components/parameters/wallet_AmountReq"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/wallet_Fee"
                    },
                    {
                      "type": "object",
                      "required": [
                        "fee"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/wallet_Validation"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_CurrencyNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_LowAmount"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_UserNotFound"
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "504": {
            "$ref": "#/components/responses/wallet_504"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      }
    },
    "/wallet/crypto/fee/estimate/bulk": {
      "post": {
        "tags": [
          "Network Fees"
        ],
        "summary": "Bulk get estimated fees",
        "description": "Returns estimated fees charged for processing on-chain withdrawals\n for provided combinations of currencies and networks.\n\n\u26a0\ufe0f In some cases, fee rates cannot be deduced from public info being\n affected by the user personal configuration.\n\n\u26a0\ufe0f The fee value is guaranteed not to change until the transaction\n is committed.\n\n**Permission**: Payment information\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/wallet_FeesEstimateRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/wallet_FeesEstimateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/wallet_EstimatedFeeBulk"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/wallet_Validation"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_CurrencyNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_LowAmount"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_UserNotFound"
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "504": {
            "$ref": "#/components/responses/wallet_504"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      }
    },
    "/wallet/crypto/fee/withdraw/list": {
      "get": {
        "tags": [
          "Network Fees"
        ],
        "summary": "Get fixed withdrawal fees",
        "description": "Returns withdraw fees for each coin with a fixed fee, if any.\n\n**Permission**: Payment information\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_resGetFeeList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/wallet_UserNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_ResourceNotFound"
                    }
                  ]
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "504": {
            "$ref": "#/components/responses/wallet_504"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      }
    },
    "/wallet/crypto/fee/withdraw/hash": {
      "get": {
        "tags": [
          "Network Fees"
        ],
        "summary": "Get withdrawal fees hash",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_resGetFeeHash"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/wallet_UserNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_ResourceNotFound"
                    }
                  ]
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "504": {
            "$ref": "#/components/responses/wallet_504"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ],
        "description": "\n**Permission**: Payment information\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n"
      }
    },
    "/wallet/internal/withdraw": {
      "post": {
        "tags": [
          "Withdrawals"
        ],
        "summary": "Commit an internal withdrawal",
        "description": "Creates and commits an off-chain withdrawal from the wallet of one exchange user to the wallet of another exchange user.\n\n\u26a0\ufe0f Apart from available balance, the amount of a withdrawal must exceed the sum of:\n  * fees;\n  * the total amount reserved on all wallets;\n  * the total amount reserved on all exchange accounts;\n  * pending amounts of concurrent withdrawals.\n\n\u26a0\ufe0f An operation may fail due to the following reasons:\n  * the user cannot perform this type of operation based on:\n    * temporary account limitations;\n    * no active 2FA.\n  * it does not pass pre-AML checks.\n\n\u26a0\ufe0f Created but not committed withdrawal will reserve pending amount on the sender wallet affecting the balance remaining for other withdrawals.\n\n\u26a0\ufe0f Successful response to the request does not necessarily mean the resulting transaction got executed immediately. It has to be processed first and may eventually be rolled back or fail.\n\n\u2139\ufe0f Call `GET /public/currency/{currency}` and check `payout_enabled` to determine if withdrawals are allowed for the currency.\n\n\u2139\ufe0f Call `GET /wallet/transactions/{id}` to check out the status of resulting transaction.\n\n**Permission**: Withdraw cryptocurrencies\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/wallet_InternalWithdrawalRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/wallet_InternalWithdrawalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "result"
                  ],
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/wallet_TransactionID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/wallet_Validation"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_LowAmount"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_CurrencyNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_NotAllowed"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutInvalidPaymentID"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutOffchainUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutBlacklisted"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutAmountLocked"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_TransactionNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutDisabled"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_UserNotFound"
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "504": {
            "$ref": "#/components/responses/wallet_504"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      }
    },
    "/wallet/crypto/check-offchain-available": {
      "post": {
        "tags": [
          "Withdrawals"
        ],
        "summary": "Check off chain available",
        "description": "Determines whether the off-chain withdrawals are allowed to the given deposit address.\n\n**Permission**: Payment information\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/wallet_OffChainRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/wallet_OffChainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_Result"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/wallet_Validation"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_CurrencyNotFound"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "504": {
            "$ref": "#/components/responses/wallet_504"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      }
    },
    "/wallet/crypto/withdraw": {
      "post": {
        "tags": [
          "Withdrawals"
        ],
        "summary": "Create a withdrawal",
        "description": "Creates a withdrawal transaction, and, depending on the operation scheme:\n  * **one-phase**\u2014the transaction is committed automatically;\n  * **two-phase**\u2014the transaction remains in `\"PENDING\"` state until the user commits or rolls it back.\n\n\u26a0\ufe0f Depending on the `use_offchain` parameter, a withdrawal may be processed off chain.\n\n\u26a0\ufe0f Depending on the `use_offchain` parameter, a withdrawal may be processed off chain.\n\n\u26a0\ufe0f The platform charges fees for execution of a withdrawal unless it is processed off chain. Fees amount is displayed in the transaction history.\n\n\u26a0\ufe0f Apart from available balance, the amount of a withdrawal must exceed the sum of:\n  * fees;\n  * the total amount reserved on all wallets;\n  * the total amount reserved on all exchange accounts.\n\n\u26a0\ufe0f An operation may fail due to the following reasons:\n  * the user cannot perform this type of operation based on:\n    * temporary account limitations;\n    * no active 2FA.\n  * it does not pass pre-AML checks.\n\n\u26a0\ufe0f Created but not committed withdrawal will reserve pending amount on the sender wallet affecting the balance remaining for other withdrawals.\n\n\u2139\ufe0f Call `GET /public/currency/{currency}` and check `payout_enabled` to determine if withdrawals are allowed for the currency.\n\n\u2139\ufe0f Call `GET /wallet/crypto/fee/estimate` to check whether off-chain transaction are allowed for the given target address.\n\n\u2139\ufe0f Call `GET /wallet/transactions/{id}` to check out the resulting transaction details.\n\n\u2139\ufe0f Call `PUT /wallet/crypto/withdraw/{id}` to commit the transaction.\n\n\u2139\ufe0f Call `DELETE /wallet/crypto/withdraw/{id}` to roll back the transaction.\n\n**Permission**: Withdraw cryptocurrencies\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/wallet_WithdrawalRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/wallet_WithdrawalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/wallet_TransactionID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/wallet_Validation"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_LowAmount"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_CurrencyNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_NotAllowed"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutInvalidAddress"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutInvalidPaymentID"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutBlacklisted"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutOffchainUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutAmountLocked"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_TransactionNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutDisabled"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_UserNotFound"
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "504": {
            "$ref": "#/components/responses/wallet_504"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      }
    },
    "/wallet/crypto/withdraw/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/wallet_TransactionIdPathReq"
        }
      ],
      "put": {
        "tags": [
          "Withdrawals"
        ],
        "summary": "Commit a withdrawal",
        "description": "\u2139\ufe0f Get `id` parameter value from the response to a `POST /wallet/crypto/withdraw` call.\n\n**Permission**: Withdraw cryptocurrencies\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_Result"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/wallet_Validation"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_CurrencyNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutOffchainUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_TransactionNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutCommitted"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_UserNotFound"
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "504": {
            "$ref": "#/components/responses/wallet_504"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Withdrawals"
        ],
        "summary": "Roll back a withdrawal",
        "description": "\u2139\ufe0f Get `id` parameter value from the response to a `POST /wallet/crypto/withdraw` call.\n\n**Permission**: Withdraw cryptocurrencies\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_Result"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/wallet_Validation"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_LowAmount"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_CurrencyNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_NotAllowed"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutInvalidPaymentID"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutOffchainUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutBlacklisted"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_PayoutAmountLocked"
                    },
                    {
                      "$ref": "#/components/schemas/wallet_TransactionNotFound"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/wallet_401"
          },
          "403": {
            "$ref": "#/components/responses/wallet_403"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wallet_UserNotFound"
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/wallet_408"
          },
          "429": {
            "$ref": "#/components/responses/wallet_429"
          },
          "500": {
            "$ref": "#/components/responses/wallet_500"
          },
          "502": {
            "$ref": "#/components/responses/wallet_502"
          },
          "503": {
            "$ref": "#/components/responses/wallet_503"
          },
          "504": {
            "$ref": "#/components/responses/wallet_504"
          },
          "default": {
            "$ref": "#/components/responses/wallet_Error"
          }
        },
        "security": [
          {
            "wallet_BearerAuth": []
          },
          {
            "wallet_BasicAuth": []
          }
        ]
      }
    },
    "/wallet/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transactions",
        "description": "\u26a0\ufe0f `from`/`till` and `from_id`/`till_id` are mutually exclusive.\n\n**Permission**: Payment information\n\n**IP limit**: 10/10\n\n**Account limit**: 20/30\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet_IdFrom"
          },
          {
            "$ref": "#/components/parameters/wallet_IdTill"
          },
          {
            "$ref": "#/components/parameters/wallet_From"
          },
          {
            "$ref": "#/components/parameters/wallet_Till"
          },
          {
            "$ref": "#/components/parameters/wallet_Sort"
          },
          {
            "$ref": "#/components/parameters/wallet_Limit"
          },
          {
            "$ref": "#/components/parameters/wallet_Offset"
          },
          {
            "name": "tx_ids",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/wallet_TransactionID"
              }
            },
            "description": "Comma-separated list of transaction identifiers."
          },
          {
            "name": "currencies",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/wallet_CurrencyCommon"
              }
            },
            "description": "Comma-separated list of currency codes."
          },
          {
            "name": "networks",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/wallet_NetworkCommon"
              }
            },
            "description": "Comma-separated list of network codes."
          },
          {
            "name": "statuses",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/wallet_TransactionStatuses"
              }
            },
            "description": "Comma-separated list of transaction statuses."
          },
          {
            "name": "types",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/wallet_TransactionTypes"
              }
            },
            "description": "Comma-separated list of transaction types."
          },
          {
            "name": "subtypes",
            "in": "query",
            "style": "form",
[...]
