{
  "openapi": "3.0.3",
  "info": {
    "title": "Otter Waiver API",
    "description": "Otter Waiver (OtterSign) delivers a modern waiver signing experience. The API provides access to waivers, participants, folders, and webhook subscriptions.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.otterwaiver.com/docs/"
  },
  "servers": [
    {
      "url": "https://api.otterwaiver.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/auth/connect": {
      "post": {
        "operationId": "authenticateClient",
        "summary": "Authenticate using client credentials",
        "description": "Obtain a JWT access token using OAuth 2.0 client credentials flow.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid credentials or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waivers": {
      "get": {
        "operationId": "listWaivers",
        "summary": "Get all waivers",
        "description": "Retrieves a paginated list of created waivers with optional filtering capabilities.",
        "tags": [
          "Waivers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "Number of records per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "required": true,
            "description": "Page number to retrieve",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "eventName",
            "in": "query",
            "required": false,
            "description": "Filter by event name or waiver folder title",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "description": "Filter by waiver title",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of waivers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Waiver"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/waivers/{id}": {
      "get": {
        "operationId": "getWaiverById",
        "summary": "Get waiver detail",
        "description": "Returns comprehensive details for a specific waiver using its unique identifier.",
        "tags": [
          "Waivers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique waiver identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Waiver details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaiverDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/participants/latest": {
      "get": {
        "operationId": "getLatestParticipants",
        "summary": "Get latest participants",
        "description": "Retrieves the 50 most recently added participants.",
        "tags": [
          "Participants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Latest participants retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Participant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/participants/latest/checkins": {
      "get": {
        "operationId": "getLatestParticipantCheckins",
        "summary": "Get latest participant check-ins",
        "description": "Retrieves the 50 most recent participant check-in records.",
        "tags": [
          "Participants"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Latest participant check-ins retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Participant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/folders": {
      "put": {
        "operationId": "updateFolder",
        "summary": "Update a folder",
        "description": "Updates an existing folder's title.",
        "tags": [
          "Folders"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFolderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Folder updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/subscribe": {
      "post": {
        "operationId": "subscribeWebhook",
        "summary": "Subscribe to webhook events",
        "description": "Creates a webhook subscription to receive notifications for specified events.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook subscription created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/unsubscribe": {
      "post": {
        "operationId": "unsubscribeWebhook",
        "summary": "Unsubscribe from webhook events",
        "description": "Removes a webhook subscription to stop receiving notifications.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUnsubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook unsubscribed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookUnsubscribeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from /auth/connect endpoint using OAuth 2.0 client credentials flow"
      }
    },
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "required": [
          "client_id",
          "client_secret",
          "grant_type",
          "scope"
        ],
        "properties": {
          "client_id": {
            "type": "string",
            "description": "Client ID from dashboard settings"
          },
          "client_secret": {
            "type": "string",
            "description": "Client secret from dashboard settings"
          },
          "grant_type": {
            "type": "string",
            "enum": [
              "client_credentials"
            ],
            "description": "OAuth grant type"
          },
          "scope": {
            "type": "string",
            "enum": [
              "api"
            ],
            "description": "OAuth scope"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "JWT access token"
          },
          "refreshToken": {
            "type": "string",
            "description": "Refresh token for generating new access tokens"
          },
          "account": {
            "type": "object",
            "description": "User account details and permissions"
          }
        }
      },
      "Waiver": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique waiver identifier"
          },
          "title": {
            "type": "string",
            "description": "Waiver title"
          },
          "eventName": {
            "type": "string",
            "description": "Event name or folder title"
          },
          "status": {
            "type": "string",
            "description": "Waiver status"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "lastUpdatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last updated timestamp"
          }
        }
      },
      "WaiverDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique waiver identifier"
          },
          "title": {
            "type": "string",
            "description": "Waiver title"
          },
          "eventName": {
            "type": "string",
            "description": "Event name or folder title"
          },
          "waiverText": {
            "type": "string",
            "description": "Full waiver text content"
          },
          "signatureContent": {
            "type": "string",
            "description": "Signature content"
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Participant"
            },
            "description": "List of participants with signatures"
          },
          "documentUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Associated document URLs"
          },
          "status": {
            "type": "string",
            "description": "Waiver status"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "lastUpdatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last updated timestamp"
          }
        }
      },
      "Participant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Participant ID"
          },
          "waiverId": {
            "type": "string",
            "description": "Associated waiver ID"
          },
          "type": {
            "type": "string",
            "description": "Participant type"
          },
          "teamId": {
            "type": "string",
            "description": "Team ID"
          },
          "signeeName": {
            "type": "string",
            "description": "Name of the signee"
          },
          "signeeEmail": {
            "type": "string",
            "format": "email",
            "description": "Email of the signee"
          },
          "signeePhone": {
            "type": "string",
            "description": "Phone number of the signee"
          },
          "signatureDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date of signature"
          },
          "emergencyContactName": {
            "type": "string",
            "description": "Emergency contact name"
          },
          "emergencyContactPhone": {
            "type": "string",
            "description": "Emergency contact phone"
          },
          "address": {
            "type": "string",
            "description": "Participant address"
          },
          "companyName": {
            "type": "string",
            "description": "Company name"
          },
          "profileImage": {
            "type": "string",
            "description": "Profile image URL"
          },
          "documentUrl": {
            "type": "string",
            "description": "Document URL"
          },
          "certificateUrl": {
            "type": "string",
            "description": "Certificate URL"
          },
          "viewedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when viewed"
          },
          "signedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when signed"
          },
          "checkedInAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when checked in"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when completed"
          }
        }
      },
      "UpdateFolderRequest": {
        "type": "object",
        "required": [
          "id",
          "title"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique folder identifier"
          },
          "title": {
            "type": "string",
            "description": "New folder title"
          }
        }
      },
      "Folder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique folder identifier"
          },
          "creatorId": {
            "type": "string",
            "format": "uuid",
            "description": "User who created the folder"
          },
          "teamId": {
            "type": "string",
            "format": "uuid",
            "description": "Organization/team the folder belongs to"
          },
          "folderId": {
            "type": "string",
            "nullable": true,
            "description": "Parent folder ID"
          },
          "title": {
            "type": "string",
            "description": "Folder name"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Folder creation timestamp"
          },
          "lastUpdatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Most recent modification timestamp"
          }
        }
      },
      "WebhookSubscribeRequest": {
        "type": "object",
        "required": [
          "trigger",
          "webhook"
        ],
        "properties": {
          "trigger": {
            "type": "string",
            "enum": [
              "CheckIn",
              "New Signee"
            ],
            "description": "Event type to subscribe to"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "URL endpoint to receive event notifications"
          }
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique subscription identifier"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when subscription was created"
          },
          "trigger": {
            "type": "string",
            "description": "Event type subscribed to"
          },
          "webhook": {
            "type": "string",
            "description": "Configured webhook URL"
          }
        }
      },
      "WebhookUnsubscribeRequest": {
        "type": "object",
        "required": [
          "trigger",
          "webhook"
        ],
        "properties": {
          "trigger": {
            "type": "string",
            "enum": [
              "CheckIn",
              "New Signee"
            ],
            "description": "Event type to unsubscribe from"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "URL endpoint to remove from subscriptions"
          }
        }
      },
      "WebhookUnsubscribeResponse": {
        "type": "object",
        "properties": {
          "sent": {
            "type": "boolean",
            "description": "Status indicating successful unsubscription"
          },
          "message": {
            "type": "string",
            "description": "Human-readable confirmation message"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth 2.0 client credentials authentication"
    },
    {
      "name": "Waivers",
      "description": "Manage and retrieve waivers"
    },
    {
      "name": "Participants",
      "description": "Retrieve participant information"
    },
    {
      "name": "Folders",
      "description": "Manage waiver folders"
    },
    {
      "name": "Webhooks",
      "description": "Subscribe and unsubscribe from event notifications"
    }
  ]
}