{
  "openapi": "3.0.3",
  "info": {
    "title": "Talon.One Integration API",
    "version": "1.0.0",
    "description": "Talon.One Integration API for managing customer sessions, loyalty, coupons, and campaign effects in real-time.",
    "x-jentic-source-url": "https://docs.talon.one/integration-api"
  },
  "servers": [
    {
      "url": "https://integration.talon.one/"
    }
  ],
  "paths": {
    "/v2/customer_sessions/{customerSessionId}": {
      "put": {
        "operationId": "updateCustomerSession",
        "summary": "Update customer session",
        "description": "Update or create a customer session and evaluate campaigns.",
        "tags": [
          "Customer Sessions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationState"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "customerSessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerSession"
              }
            }
          }
        }
      }
    },
    "/v2/customer_profiles/{integrationId}": {
      "put": {
        "operationId": "updateCustomerProfile",
        "summary": "Update customer profile",
        "description": "Update or create a customer profile.",
        "tags": [
          "Customer Profiles"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerProfile"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getCustomerProfile",
        "summary": "Get customer profile",
        "description": "Retrieve a customer profile.",
        "tags": [
          "Customer Profiles"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      },
      "delete": {
        "operationId": "deleteCustomerProfile",
        "summary": "Delete customer profile",
        "description": "Delete a customer profile.",
        "tags": [
          "Customer Profiles"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/v1/coupon_reservations/{couponValue}": {
      "post": {
        "operationId": "createCouponReservation",
        "summary": "Reserve coupon",
        "description": "Reserve a coupon for a customer.",
        "tags": [
          "Coupons"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "couponValue",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouponReservation"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCouponReservation",
        "summary": "Release coupon reservation",
        "description": "Release a previously reserved coupon.",
        "tags": [
          "Coupons"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "couponValue",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouponReservation"
              }
            }
          }
        }
      }
    },
    "/v2/events": {
      "post": {
        "operationId": "trackEvent",
        "summary": "Track event",
        "description": "Track a custom event for a customer profile.",
        "tags": [
          "Events"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerProfile"
              }
            }
          }
        }
      }
    },
    "/v1/customer_profiles/{integrationId}/audiences": {
      "post": {
        "operationId": "updateAudience",
        "summary": "Update audience membership",
        "description": "Update audience membership for a customer.",
        "tags": [
          "Audiences"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      },
      "CustomerSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "profileId": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "open",
              "closed",
              "cancelled"
            ]
          },
          "cartItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CartItem"
            }
          },
          "total": {
            "type": "number"
          },
          "attributes": {
            "type": "object"
          }
        }
      },
      "CartItem": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "price": {
            "type": "number"
          },
          "category": {
            "type": "string"
          }
        }
      },
      "CustomerProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "attributes": {
            "type": "object"
          },
          "integrationId": {
            "type": "string"
          }
        }
      },
      "IntegrationState": {
        "type": "object",
        "properties": {
          "session": {
            "$ref": "#/components/schemas/CustomerSession"
          },
          "profile": {
            "$ref": "#/components/schemas/CustomerProfile"
          },
          "effects": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CouponReservation": {
        "type": "object",
        "properties": {
          "couponValue": {
            "type": "string"
          },
          "integrationId": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}