{
  "openapi": "3.1.0",
  "info": {
    "title": "The Racing API",
    "version": "1.0.0",
    "x-logo": {
      "url": "https://www.theracingapi.com/static/images/logo_padded.png"
    },
    "x-jentic-source-url": "https://api.theracingapi.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.theracingapi.com"
    }
  ],
  "paths": {
    "/v1/courses": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "List Courses",
        "description": "<p>Get a list of courses, with course ids and regions.</p><table><tbody><tr><td><b>Required Plan</b></td><td>Free</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table>",
        "operationId": "list_courses_v1_courses_get",
        "parameters": [
          {
            "description": "Filter courses by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Regions",
              "description": "Filter courses by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>."
            },
            "example": [
              "gb",
              "ire"
            ],
            "name": "region_codes",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoursesPage"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/courses\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/courses\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/courses\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\ncurl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n \nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n} else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/courses/regions": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "List Regions",
        "description": "<p>Get a list of regions, with region codes.</p><table><tbody><tr><td><b>Required Plan</b></td><td>Free</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table>",
        "operationId": "list_regions_v1_courses_regions_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Region"
                  },
                  "type": "array",
                  "title": "Response List Regions V1 Courses Regions Get"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/courses/regions\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/courses/regions\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/courses/regions\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\ncurl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n \nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n} else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/racecards/free": {
      "get": {
        "tags": [
          "Racecards"
        ],
        "summary": "List Racecards Free",
        "description": "<p>Get basic racecards for today and tomorrow</p><table><tbody><tr><td><b>Required Plan</b></td><td>Free</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table>",
        "operationId": "list_racecards_free_v1_racecards_free_get",
        "parameters": [
          {
            "description": "Query racecards by day:<br> today, tomorrow",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Day",
              "description": "Query racecards by day:<br> today, tomorrow",
              "default": "today"
            },
            "name": "day",
            "in": "query"
          },
          {
            "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Regions",
              "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>"
            },
            "name": "region_codes",
            "in": "query"
          },
          {
            "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>.",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Courses",
              "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>."
            },
            "name": "course_ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RacecardsBasic"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/racecards/free\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/racecards/free\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/racecards/free\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\ncurl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n \nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n} else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/racecards/basic": {
      "get": {
        "tags": [
          "Racecards"
        ],
        "summary": "List Racecards Basic",
        "description": "<p>Get detailed racecards for today and tomorrow</p><table><tbody><tr><td><b>Required Plan</b></td><td>Basic</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table>",
        "operationId": "list_racecards_basic_v1_racecards_basic_get",
        "parameters": [
          {
            "description": "Query racecards by day:<br> today, tomorrow",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Day",
              "description": "Query racecards by day:<br> today, tomorrow",
              "default": "today"
            },
            "name": "day",
            "in": "query"
          },
          {
            "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Regions",
              "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>"
            },
            "name": "region_codes",
            "in": "query"
          },
          {
            "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>.",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Courses",
              "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>."
            },
            "name": "course_ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Racecards"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/racecards/basic\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/racecards/basic\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/racecards/basic\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\ncurl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n \nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n} else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/racecards/standard": {
      "get": {
        "tags": [
          "Racecards"
        ],
        "summary": "List Racecards Standard",
        "description": "<p>Get detailed racecards for today and tomorrow, including runner odds for UK & Irish racing.</p><table><tbody><tr><td><b>Required Plan</b></td><td>Standard</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table>",
        "operationId": "list_racecards_standard_v1_racecards_standard_get",
        "parameters": [
          {
            "description": "Query racecards by day:<br> today, tomorrow",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Day",
              "description": "Query racecards by day:<br> today, tomorrow",
              "default": "today"
            },
            "name": "day",
            "in": "query"
          },
          {
            "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Regions",
              "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>"
            },
            "name": "region_codes",
            "in": "query"
          },
          {
            "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>.",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Courses",
              "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>."
            },
            "name": "course_ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RacecardsOdds"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/racecards/standard\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/racecards/standard\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/racecards/standard\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\ncurl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n \nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n} else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/racecards/pro": {
      "get": {
        "tags": [
          "Racecards"
        ],
        "summary": "List Racecards Pro",
        "description": "<p>Get future and historical detailed racecards, including runner odds for UK & Irish racing.</p><table><tbody><tr><td><b>Required Plan</b></td><td>Pro</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table><p><b>Historical racecards are available from 2023-01-23, when our tracking began. Future racecards are available up to 1 week in advance.</b></p>",
        "operationId": "list_racecards_pro_v1_racecards_pro_get",
        "parameters": [
          {
            "description": "Query racecards by date with format YYYY-MM-DD (e.g 2023-04-05)",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Date",
              "description": "Query racecards by date with format YYYY-MM-DD (e.g 2023-04-05)"
            },
            "name": "date",
            "in": "query"
          },
          {
            "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Regions",
              "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>"
            },
            "name": "region_codes",
            "in": "query"
          },
          {
            "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>.",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Courses",
              "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>."
            },
            "name": "course_ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RacecardsOddsPro"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/racecards/pro\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/racecards/pro\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/racecards/pro\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\ncurl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n \nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n} else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/racecards/big-races": {
      "get": {
        "tags": [
          "Racecards"
        ],
        "summary": "List Racecards Big Races",
        "description": "<p>Get detailed racecards for future big races and main events, such as Cheltenham, The Grand National and The Derby.</p><table><tbody><tr><td><b>Required Plan</b></td><td>Standard</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table>",
        "operationId": "list_racecards_big_races_v1_racecards_big_races_get",
        "parameters": [
          {
            "description": "<p>Query from date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p><p>Date must be today or greater, defaults to today.</p>",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Start Date",
              "description": "<p>Query from date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p><p>Date must be today or greater, defaults to today.</p>"
            },
            "name": "start_date",
            "in": "query"
          },
          {
            "description": "<p>Query to date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>",
            "required": false,
            "schema": {
              "type": "string",
              "title": "End Date",
              "description": "<p>Query to date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>"
            },
            "name": "end_date",
            "in": "query"
          },
          {
            "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Regions",
              "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>"
            },
            "name": "region_codes",
            "in": "query"
          },
          {
            "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>.",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Courses",
              "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>."
            },
            "name": "course_ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RacecardsOdds"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/racecards/big-races\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/racecards/big-races\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/racecards/big-races\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\ncurl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n \nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n} else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/racecards/summaries": {
      "get": {
        "tags": [
          "Racecards"
        ],
        "summary": "List Racecard Summaries",
        "description": "<p>Get racecard summaries by date</p><table><tbody><tr><td><b>Required Plan</b></td><td>Basic</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table>",
        "operationId": "list_racecard_summaries_v1_racecards_summaries_get",
        "parameters": [
          {
            "description": "Query racecard summaries by date with format YYYY-MM-DD (e.g 2023-04-05)",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Date",
              "description": "Query racecard summaries by date with format YYYY-MM-DD (e.g 2023-04-05)",
              "default": "2025-03-31"
            },
            "name": "date",
            "in": "query"
          },
          {
            "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Regions",
              "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>"
            },
            "name": "region_codes",
            "in": "query"
          },
          {
            "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>.",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Courses",
              "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>."
            },
            "name": "course_ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RacecardsSummary"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/racecards/summaries\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/racecards/summaries\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/racecards/summaries\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\ncurl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n \nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n} else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/racecards/{horse_id}/results": {
      "get": {
        "tags": [
          "Racecards"
        ],
        "summary": "List Racecard Horse Results",
        "description": "<p>Get historic results for a horse on today or tomorrow's racecards</p><table><tbody><tr><td><b>Required Plan</b></td><td>Basic</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table>",
        "operationId": "list_racecard_horse_results_v1_racecards__horse_id__results_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Horse Id"
            },
            "name": "horse_id",
            "in": "path"
          },
          {
            "description": "<p>Query from date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Start Date",
              "description": "<p>Query from date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>"
            },
            "name": "start_date",
            "in": "query"
          },
          {
            "description": "<p>Query to date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>",
            "required": false,
            "schema": {
              "type": "string",
              "title": "End Date",
              "description": "<p>Query to date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>"
            },
            "name": "end_date",
            "in": "query"
          },
          {
            "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Region",
              "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>"
            },
            "name": "region",
            "in": "query"
          },
          {
            "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>.",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Course",
              "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>."
            },
            "name": "course",
            "in": "query"
          },
          {
            "description": "<p>Query by race type</p><p>Options: <code>chase</code>, <code>flat</code>, <code>hurdle</code>, <code>nh_flat</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Type",
              "description": "<p>Query by race type</p><p>Options: <code>chase</code>, <code>flat</code>, <code>hurdle</code>, <code>nh_flat</code></p>"
            },
            "name": "type",
            "in": "query"
          },
          {
            "description": "<p>Query by going</p><p>Options: <code>fast</code>, <code>firm</code>, <code>good</code>, <code>good_to_firm</code>, <code>good_to_soft</code>, <code>good_to_yielding</code>, <code>hard</code>, <code>heavy</code>, <code>holding</code>, <code>muddy</code>, <code>sloppy</code>, <code>slow</code>, <code>soft</code>, <code>soft_to_heavy</code>, <code>standard</code>, <code>standard_to_fast</code>, <code>standard_to_slow</code>, <code>very_soft</code>, <code>yielding</code>, <code>yielding_to_soft</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Going",
              "description": "<p>Query by going</p><p>Options: <code>fast</code>, <code>firm</code>, <code>good</code>, <code>good_to_firm</code>, <code>good_to_soft</code>, <code>good_to_yielding</code>, <code>hard</code>, <code>heavy</code>, <code>holding</code>, <code>muddy</code>, <code>sloppy</code>, <code>slow</code>, <code>soft</code>, <code>soft_to_heavy</code>, <code>standard</code>, <code>standard_to_fast</code>, <code>standard_to_slow</code>, <code>very_soft</code>, <code>yielding</code>, <code>yielding_to_soft</code></p>"
            },
            "name": "going",
            "in": "query"
          },
          {
            "description": "<p>Query by class</p><p>Options: <code>class_1</code>, <code>class_2</code>, <code>class_3</code>, <code>class_4</code>, <code>class_5</code>, <code>class_6</code>, <code>class_7</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Race Class",
              "description": "<p>Query by class</p><p>Options: <code>class_1</code>, <code>class_2</code>, <code>class_3</code>, <code>class_4</code>, <code>class_5</code>, <code>class_6</code>, <code>class_7</code></p>"
            },
            "name": "race_class",
            "in": "query"
          },
          {
            "description": "<p>Query by minimum race distance (yards)</p>",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Min Distance Y",
              "description": "<p>Query by minimum race distance (yards)</p>"
            },
            "name": "min_distance_y",
            "in": "query"
          },
          {
            "description": "<p>Query by maximum race distance (yards)</p>",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Max Distance Y",
              "description": "<p>Query by maximum race distance (yards)</p>"
            },
            "name": "max_distance_y",
            "in": "query"
          },
          {
            "description": "<p>Query by age band</p><p>Options: <code>10yo+</code>, <code>2-3yo</code>, <code>2yo</code>, <code>2yo+</code>, <code>3-4yo</code>, <code>3-5yo</code>, <code>3-6yo</code>, <code>3yo</code>, <code>3yo+</code>, <code>4-5yo</code>, <code>4-6yo</code>, <code>4-7yo</code>, <code>4-8yo</code>, <code>4yo</code>, <code>4yo+</code>, <code>5-6yo</code>, <code>5-7yo</code>, <code>5-8yo</code>, <code>5yo</code>, <code>5yo+</code>, <code>6-7yo</code>, <code>6yo</code>, <code>6yo+</code>, <code>7yo+</code>, <code>8yo+</code>, <code>9yo+</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Age Band",
              "description": "<p>Query by age band</p><p>Options: <code>10yo+</code>, <code>2-3yo</code>, <code>2yo</code>, <code>2yo+</code>, <code>3-4yo</code>, <code>3-5yo</code>, <code>3-6yo</code>, <code>3yo</code>, <code>3yo+</code>, <code>4-5yo</code>, <code>4-6yo</code>, <code>4-7yo</code>, <code>4-8yo</code>, <code>4yo</code>, <code>4yo+</code>, <code>5-6yo</code>, <code>5-7yo</code>, <code>5-8yo</code>, <code>5yo</code>, <code>5yo+</code>, <code>6-7yo</code>, <code>6yo</code>, <code>6yo+</code>, <code>7yo+</code>, <code>8yo+</code>, <code>9yo+</code></p>"
            },
            "name": "age_band",
            "in": "query"
          },
          {
            "description": "<p>Query by sex restriction</p><p>Options: <code>c&f</code>, <code>c&g</code>, <code>f</code>, <code>f&m</code>, <code>m</code>, <code>m&g</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Sex Restriction",
              "description": "<p>Query by sex restriction</p><p>Options: <code>c&f</code>, <code>c&g</code>, <code>f</code>, <code>f&m</code>, <code>m</code>, <code>m&g</code></p>"
            },
            "name": "sex_restriction",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50.0,
              "minimum": 1.0,
              "title": "Limit",
              "default": 25
            },
            "name": "limit",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Skip",
              "default": 0
            },
            "name": "skip",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultsPage"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/racecards/{horse_id}/results\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/racecards/{horse_id}/results\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/racecards/{horse_id}/results\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\n curl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n\nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n } else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/racecards/{race_id}/standard": {
      "get": {
        "tags": [
          "Racecards"
        ],
        "summary": "Race Standard",
        "description": "<p>Get a race scheduled for today or tomorrow (or if classified as a 'big race'), including runner odds for UK & Ireland races.</p><table><tbody><tr><td><b>Required Plan</b></td><td>Standard</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table>",
        "operationId": "race_standard_v1_racecards__race_id__standard_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Race Id"
            },
            "name": "race_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RacecardOdds"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/racecards/{race_id}/standard\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/racecards/{race_id}/standard\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/racecards/{race_id}/standard\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\n curl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n\nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n } else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/racecards/{race_id}/pro": {
      "get": {
        "tags": [
          "Racecards"
        ],
        "summary": "Race Pro",
        "description": "<p>Get a race, including runner odds for UK & Ireland races only.</p><table><tbody><tr><td><b>Required Plan</b></td><td>Pro</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table>",
        "operationId": "race_pro_v1_racecards__race_id__pro_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Race Id"
            },
            "name": "race_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RacecardOddsPro"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/racecards/{race_id}/pro\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/racecards/{race_id}/pro\"\nparams = {}\n response = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/racecards/{race_id}/pro\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\n curl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n\nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n } else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/odds/{race_id}/{horse_id}": {
      "get": {
        "tags": [
          "Odds"
        ],
        "summary": "Runner Odds",
        "description": "<p>Get detailed pre-race runner odds data, including price movements, for UK and Irish racing.</p><table><tbody><tr><td><b>Required Plan</b></td><td>Pro</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table><p><b>Price movements, displayed in the 'history' fields, are available for runners in races from 2025-03-17 onwards.</b></p>",
        "operationId": "runner_odds_v1_odds__race_id___horse_id__get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Race Id"
            },
            "name": "race_id",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Horse Id"
            },
            "name": "horse_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaceRunnerOdds"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/odds/{race_id}/{horse_id}\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/odds/{race_id}/{horse_id}\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/odds/{race_id}/{horse_id}\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\n curl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n\nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n } else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/results": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "List Results",
        "description": "<p>Get historic results for all races in the last 12 months</p><table><tbody><tr><td><b>Required Plan</b></td><td>Standard</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr><tr><td><b>Add-ons</b></td><td><b>[Optional] Historical results add-on</b>: users on the Pro Plan can pay a one-time fee of \u00a3299 to remove the 12 month restriction and access the entire results database from this endpoint. Contact <a href='mailto:support@theracingapi.com'>support@theracingapi.com</a> for information.</td></tr></tbody></table><h4>Efficiently querying and exporting results data</h4><p>While the parameters for this endpoint allow for a wide date range to be set (utilising 'start_date' and 'end_date'), the necessary use of 'skip' to access all results for a wide date range query will reduce perfomance the larger that range is.</p><p><b>The most efficient way to query results data over time is to build a list of dates within your date range, then make queries for each date in that list.</b></p> <p>A sample python script outlining this method can be viewed here: <a href='https://gist.github.com/theracingapi/4d492dbdba58c2072fe4f98ee090126f' target='_blank'>https://gist.github.com/theracingapi/4d492dbdba58c2072fe4f98ee090126f</a></p>",
        "operationId": "list_results_v1_results_get",
        "parameters": [
          {
            "description": "<p>Query from date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Start Date",
              "description": "<p>Query from date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>"
            },
            "name": "start_date",
            "in": "query"
          },
          {
            "description": "<p>Query to date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>",
            "required": false,
            "schema": {
              "type": "string",
              "title": "End Date",
              "description": "<p>Query to date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>"
            },
            "name": "end_date",
            "in": "query"
          },
          {
            "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Region",
              "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>"
            },
            "name": "region",
            "in": "query"
          },
          {
            "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>.",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Course",
              "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>."
            },
            "name": "course",
            "in": "query"
          },
          {
            "description": "<p>Query by race type</p><p>Options: <code>chase</code>, <code>flat</code>, <code>hurdle</code>, <code>nh_flat</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Type",
              "description": "<p>Query by race type</p><p>Options: <code>chase</code>, <code>flat</code>, <code>hurdle</code>, <code>nh_flat</code></p>"
            },
            "name": "type",
            "in": "query"
          },
          {
            "description": "<p>Query by going</p><p>Options: <code>fast</code>, <code>firm</code>, <code>good</code>, <code>good_to_firm</code>, <code>good_to_soft</code>, <code>good_to_yielding</code>, <code>hard</code>, <code>heavy</code>, <code>holding</code>, <code>muddy</code>, <code>sloppy</code>, <code>slow</code>, <code>soft</code>, <code>soft_to_heavy</code>, <code>standard</code>, <code>standard_to_fast</code>, <code>standard_to_slow</code>, <code>very_soft</code>, <code>yielding</code>, <code>yielding_to_soft</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Going",
              "description": "<p>Query by going</p><p>Options: <code>fast</code>, <code>firm</code>, <code>good</code>, <code>good_to_firm</code>, <code>good_to_soft</code>, <code>good_to_yielding</code>, <code>hard</code>, <code>heavy</code>, <code>holding</code>, <code>muddy</code>, <code>sloppy</code>, <code>slow</code>, <code>soft</code>, <code>soft_to_heavy</code>, <code>standard</code>, <code>standard_to_fast</code>, <code>standard_to_slow</code>, <code>very_soft</code>, <code>yielding</code>, <code>yielding_to_soft</code></p>"
            },
            "name": "going",
            "in": "query"
          },
          {
            "description": "<p>Query by class</p><p>Options: <code>class_1</code>, <code>class_2</code>, <code>class_3</code>, <code>class_4</code>, <code>class_5</code>, <code>class_6</code>, <code>class_7</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Race Class",
              "description": "<p>Query by class</p><p>Options: <code>class_1</code>, <code>class_2</code>, <code>class_3</code>, <code>class_4</code>, <code>class_5</code>, <code>class_6</code>, <code>class_7</code></p>"
            },
            "name": "race_class",
            "in": "query"
          },
          {
            "description": "<p>Query by minimum race distance (yards)</p>",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Min Distance Y",
              "description": "<p>Query by minimum race distance (yards)</p>"
            },
            "name": "min_distance_y",
            "in": "query"
          },
          {
            "description": "<p>Query by maximum race distance (yards)</p>",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Max Distance Y",
              "description": "<p>Query by maximum race distance (yards)</p>"
            },
            "name": "max_distance_y",
            "in": "query"
          },
          {
            "description": "<p>Query by age band</p><p>Options: <code>10yo+</code>, <code>2-3yo</code>, <code>2yo</code>, <code>2yo+</code>, <code>3-4yo</code>, <code>3-5yo</code>, <code>3-6yo</code>, <code>3yo</code>, <code>3yo+</code>, <code>4-5yo</code>, <code>4-6yo</code>, <code>4-7yo</code>, <code>4-8yo</code>, <code>4yo</code>, <code>4yo+</code>, <code>5-6yo</code>, <code>5-7yo</code>, <code>5-8yo</code>, <code>5yo</code>, <code>5yo+</code>, <code>6-7yo</code>, <code>6yo</code>, <code>6yo+</code>, <code>7yo+</code>, <code>8yo+</code>, <code>9yo+</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Age Band",
              "description": "<p>Query by age band</p><p>Options: <code>10yo+</code>, <code>2-3yo</code>, <code>2yo</code>, <code>2yo+</code>, <code>3-4yo</code>, <code>3-5yo</code>, <code>3-6yo</code>, <code>3yo</code>, <code>3yo+</code>, <code>4-5yo</code>, <code>4-6yo</code>, <code>4-7yo</code>, <code>4-8yo</code>, <code>4yo</code>, <code>4yo+</code>, <code>5-6yo</code>, <code>5-7yo</code>, <code>5-8yo</code>, <code>5yo</code>, <code>5yo+</code>, <code>6-7yo</code>, <code>6yo</code>, <code>6yo+</code>, <code>7yo+</code>, <code>8yo+</code>, <code>9yo+</code></p>"
            },
            "name": "age_band",
            "in": "query"
          },
          {
            "description": "<p>Query by sex restriction</p><p>Options: <code>c&f</code>, <code>c&g</code>, <code>f</code>, <code>f&m</code>, <code>m</code>, <code>m&g</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Sex Restriction",
              "description": "<p>Query by sex restriction</p><p>Options: <code>c&f</code>, <code>c&g</code>, <code>f</code>, <code>f&m</code>, <code>m</code>, <code>m&g</code></p>"
            },
            "name": "sex_restriction",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50.0,
              "minimum": 1.0,
              "title": "Limit",
              "default": 25
            },
            "name": "limit",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 20000.0,
              "title": "Skip",
              "default": 0
            },
            "name": "skip",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultsPage"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/results\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/results\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/results\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\ncurl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n \nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n} else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/results/today": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "List Todays Results",
        "description": "<p>Get today's results</p><table><tbody><tr><td><b>Required Plan</b></td><td>Basic</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table>",
        "operationId": "list_todays_results_v1_results_today_get",
        "parameters": [
          {
            "description": "<p>Query results by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Region",
              "description": "<p>Query results by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p>"
            },
            "name": "region",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50.0,
              "minimum": 1.0,
              "title": "Limit",
              "default": 25
            },
            "name": "limit",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Skip",
              "default": 0
            },
            "name": "skip",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultsPage"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/results/today\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/results/today\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/results/today\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\ncurl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n \nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n} else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/results/{race_id}": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "Result",
        "description": "<p>Get a result</p><table><tbody><tr><td><b>Required Plan</b></td><td>Standard</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table>",
        "operationId": "result_v1_results__race_id__get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Race Id"
            },
            "name": "race_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/results/{race_id}\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/results/{race_id}\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/results/{race_id}\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\ncurl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n \nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n} else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/horses/search": {
      "get": {
        "tags": [
          "Horses"
        ],
        "summary": "Search Horses",
        "description": "<p>Search horses by name</p><table><tbody><tr><td><b>Required Plan</b></td><td>Standard</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table>",
        "operationId": "search_horses_v1_horses_search_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Name"
            },
            "name": "name",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Horses"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/horses/search\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/horses/search\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/horses/search\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\ncurl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n \nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n} else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/horses/{horse_id}/results": {
      "get": {
        "tags": [
          "Horses"
        ],
        "summary": "Horse Results",
        "description": "<p>Get full historical results for a horse</p><table><tbody><tr><td><b>Required Plan</b></td><td>Pro</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table>",
        "operationId": "horse_results_v1_horses__horse_id__results_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Horse Id"
            },
            "name": "horse_id",
            "in": "path"
          },
          {
            "description": "<p>Query from date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Start Date",
              "description": "<p>Query from date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>"
            },
            "name": "start_date",
            "in": "query"
          },
          {
            "description": "<p>Query to date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>",
            "required": false,
            "schema": {
              "type": "string",
              "title": "End Date",
              "description": "<p>Query to date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>"
            },
            "name": "end_date",
            "in": "query"
          },
          {
            "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Region",
              "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>"
            },
            "name": "region",
            "in": "query"
          },
          {
            "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>.",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Course",
              "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>."
            },
            "name": "course",
            "in": "query"
          },
          {
            "description": "<p>Query by race type</p><p>Options: <code>chase</code>, <code>flat</code>, <code>hurdle</code>, <code>nh_flat</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Type",
              "description": "<p>Query by race type</p><p>Options: <code>chase</code>, <code>flat</code>, <code>hurdle</code>, <code>nh_flat</code></p>"
            },
            "name": "type",
            "in": "query"
          },
          {
            "description": "<p>Query by going</p><p>Options: <code>fast</code>, <code>firm</code>, <code>good</code>, <code>good_to_firm</code>, <code>good_to_soft</code>, <code>good_to_yielding</code>, <code>hard</code>, <code>heavy</code>, <code>holding</code>, <code>muddy</code>, <code>sloppy</code>, <code>slow</code>, <code>soft</code>, <code>soft_to_heavy</code>, <code>standard</code>, <code>standard_to_fast</code>, <code>standard_to_slow</code>, <code>very_soft</code>, <code>yielding</code>, <code>yielding_to_soft</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Going",
              "description": "<p>Query by going</p><p>Options: <code>fast</code>, <code>firm</code>, <code>good</code>, <code>good_to_firm</code>, <code>good_to_soft</code>, <code>good_to_yielding</code>, <code>hard</code>, <code>heavy</code>, <code>holding</code>, <code>muddy</code>, <code>sloppy</code>, <code>slow</code>, <code>soft</code>, <code>soft_to_heavy</code>, <code>standard</code>, <code>standard_to_fast</code>, <code>standard_to_slow</code>, <code>very_soft</code>, <code>yielding</code>, <code>yielding_to_soft</code></p>"
            },
            "name": "going",
            "in": "query"
          },
          {
            "description": "<p>Query by class</p><p>Options: <code>class_1</code>, <code>class_2</code>, <code>class_3</code>, <code>class_4</code>, <code>class_5</code>, <code>class_6</code>, <code>class_7</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Race Class",
              "description": "<p>Query by class</p><p>Options: <code>class_1</code>, <code>class_2</code>, <code>class_3</code>, <code>class_4</code>, <code>class_5</code>, <code>class_6</code>, <code>class_7</code></p>"
            },
            "name": "race_class",
            "in": "query"
          },
          {
            "description": "<p>Query by minimum race distance (yards)</p>",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Min Distance Y",
              "description": "<p>Query by minimum race distance (yards)</p>"
            },
            "name": "min_distance_y",
            "in": "query"
          },
          {
            "description": "<p>Query by maximum race distance (yards)</p>",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Max Distance Y",
              "description": "<p>Query by maximum race distance (yards)</p>"
            },
            "name": "max_distance_y",
            "in": "query"
          },
          {
            "description": "<p>Query by age band</p><p>Options: <code>10yo+</code>, <code>2-3yo</code>, <code>2yo</code>, <code>2yo+</code>, <code>3-4yo</code>, <code>3-5yo</code>, <code>3-6yo</code>, <code>3yo</code>, <code>3yo+</code>, <code>4-5yo</code>, <code>4-6yo</code>, <code>4-7yo</code>, <code>4-8yo</code>, <code>4yo</code>, <code>4yo+</code>, <code>5-6yo</code>, <code>5-7yo</code>, <code>5-8yo</code>, <code>5yo</code>, <code>5yo+</code>, <code>6-7yo</code>, <code>6yo</code>, <code>6yo+</code>, <code>7yo+</code>, <code>8yo+</code>, <code>9yo+</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Age Band",
              "description": "<p>Query by age band</p><p>Options: <code>10yo+</code>, <code>2-3yo</code>, <code>2yo</code>, <code>2yo+</code>, <code>3-4yo</code>, <code>3-5yo</code>, <code>3-6yo</code>, <code>3yo</code>, <code>3yo+</code>, <code>4-5yo</code>, <code>4-6yo</code>, <code>4-7yo</code>, <code>4-8yo</code>, <code>4yo</code>, <code>4yo+</code>, <code>5-6yo</code>, <code>5-7yo</code>, <code>5-8yo</code>, <code>5yo</code>, <code>5yo+</code>, <code>6-7yo</code>, <code>6yo</code>, <code>6yo+</code>, <code>7yo+</code>, <code>8yo+</code>, <code>9yo+</code></p>"
            },
            "name": "age_band",
            "in": "query"
          },
          {
            "description": "<p>Query by sex restriction</p><p>Options: <code>c&f</code>, <code>c&g</code>, <code>f</code>, <code>f&m</code>, <code>m</code>, <code>m&g</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Sex Restriction",
              "description": "<p>Query by sex restriction</p><p>Options: <code>c&f</code>, <code>c&g</code>, <code>f</code>, <code>f&m</code>, <code>m</code>, <code>m&g</code></p>"
            },
            "name": "sex_restriction",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50.0,
              "minimum": 1.0,
              "title": "Limit",
              "default": 25
            },
            "name": "limit",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 20000.0,
              "title": "Skip",
              "default": 0
            },
            "name": "skip",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultsPage"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/horses/{horse_id}/results\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/horses/{horse_id}/results\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/horses/{horse_id}/results\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\n curl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n\nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n } else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/horses/{horse_id}/analysis/distance-times": {
      "get": {
        "tags": [
          "Horses"
        ],
        "summary": "Horse Distance Time Analysis",
        "description": "<p>Get horse statistics by race distance, with breakdowns of times.</p><table><tbody><tr><td><b>Required Plan</b></td><td>Standard</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table>",
        "operationId": "horse_distance_time_analysis_v1_horses__horse_id__analysis_distance_times_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Horse Id"
            },
            "name": "horse_id",
            "in": "path"
          },
          {
            "description": "<p>Query from date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Start Date",
              "description": "<p>Query from date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>"
            },
            "name": "start_date",
            "in": "query"
          },
          {
            "description": "<p>Query to date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>",
            "required": false,
            "schema": {
              "type": "string",
              "title": "End Date",
              "description": "<p>Query to date with format YYYY-MM-DD, e.g. <code>2020-01-01</code></p>"
            },
            "name": "end_date",
            "in": "query"
          },
          {
            "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Region",
              "description": "<p>Query by region codes. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_regions_v1_courses_regions_get'>here</a>.</p><p>Note: If the course query parameter is specified, this will be ignored.</p>"
            },
            "name": "region",
            "in": "query"
          },
          {
            "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>.",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Course",
              "description": "Query by course ids. Get the full list <a href='https://api.theracingapi.com/documentation#tag/Courses/operation/list_courses_v1_courses_get'>here</a>."
            },
            "name": "course",
            "in": "query"
          },
          {
            "description": "<p>Query by race type</p><p>Options: <code>chase</code>, <code>flat</code>, <code>hurdle</code>, <code>nh_flat</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Type",
              "description": "<p>Query by race type</p><p>Options: <code>chase</code>, <code>flat</code>, <code>hurdle</code>, <code>nh_flat</code></p>"
            },
            "name": "type",
            "in": "query"
          },
          {
            "description": "<p>Query by going</p><p>Options: <code>fast</code>, <code>firm</code>, <code>good</code>, <code>good_to_firm</code>, <code>good_to_soft</code>, <code>good_to_yielding</code>, <code>hard</code>, <code>heavy</code>, <code>holding</code>, <code>muddy</code>, <code>sloppy</code>, <code>slow</code>, <code>soft</code>, <code>soft_to_heavy</code>, <code>standard</code>, <code>standard_to_fast</code>, <code>standard_to_slow</code>, <code>very_soft</code>, <code>yielding</code>, <code>yielding_to_soft</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Going",
              "description": "<p>Query by going</p><p>Options: <code>fast</code>, <code>firm</code>, <code>good</code>, <code>good_to_firm</code>, <code>good_to_soft</code>, <code>good_to_yielding</code>, <code>hard</code>, <code>heavy</code>, <code>holding</code>, <code>muddy</code>, <code>sloppy</code>, <code>slow</code>, <code>soft</code>, <code>soft_to_heavy</code>, <code>standard</code>, <code>standard_to_fast</code>, <code>standard_to_slow</code>, <code>very_soft</code>, <code>yielding</code>, <code>yielding_to_soft</code></p>"
            },
            "name": "going",
            "in": "query"
          },
          {
            "description": "<p>Query by class</p><p>Options: <code>class_1</code>, <code>class_2</code>, <code>class_3</code>, <code>class_4</code>, <code>class_5</code>, <code>class_6</code>, <code>class_7</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Race Class",
              "description": "<p>Query by class</p><p>Options: <code>class_1</code>, <code>class_2</code>, <code>class_3</code>, <code>class_4</code>, <code>class_5</code>, <code>class_6</code>, <code>class_7</code></p>"
            },
            "name": "race_class",
            "in": "query"
          },
          {
            "description": "<p>Query by minimum race distance (yards)</p>",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Min Distance Y",
              "description": "<p>Query by minimum race distance (yards)</p>"
            },
            "name": "min_distance_y",
            "in": "query"
          },
          {
            "description": "<p>Query by maximum race distance (yards)</p>",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Max Distance Y",
              "description": "<p>Query by maximum race distance (yards)</p>"
            },
            "name": "max_distance_y",
            "in": "query"
          },
          {
            "description": "<p>Query by age band</p><p>Options: <code>10yo+</code>, <code>2-3yo</code>, <code>2yo</code>, <code>2yo+</code>, <code>3-4yo</code>, <code>3-5yo</code>, <code>3-6yo</code>, <code>3yo</code>, <code>3yo+</code>, <code>4-5yo</code>, <code>4-6yo</code>, <code>4-7yo</code>, <code>4-8yo</code>, <code>4yo</code>, <code>4yo+</code>, <code>5-6yo</code>, <code>5-7yo</code>, <code>5-8yo</code>, <code>5yo</code>, <code>5yo+</code>, <code>6-7yo</code>, <code>6yo</code>, <code>6yo+</code>, <code>7yo+</code>, <code>8yo+</code>, <code>9yo+</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Age Band",
              "description": "<p>Query by age band</p><p>Options: <code>10yo+</code>, <code>2-3yo</code>, <code>2yo</code>, <code>2yo+</code>, <code>3-4yo</code>, <code>3-5yo</code>, <code>3-6yo</code>, <code>3yo</code>, <code>3yo+</code>, <code>4-5yo</code>, <code>4-6yo</code>, <code>4-7yo</code>, <code>4-8yo</code>, <code>4yo</code>, <code>4yo+</code>, <code>5-6yo</code>, <code>5-7yo</code>, <code>5-8yo</code>, <code>5yo</code>, <code>5yo+</code>, <code>6-7yo</code>, <code>6yo</code>, <code>6yo+</code>, <code>7yo+</code>, <code>8yo+</code>, <code>9yo+</code></p>"
            },
            "name": "age_band",
            "in": "query"
          },
          {
            "description": "<p>Query by sex restriction</p><p>Options: <code>c&f</code>, <code>c&g</code>, <code>f</code>, <code>f&m</code>, <code>m</code>, <code>m&g</code></p>",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Sex Restriction",
              "description": "<p>Query by sex restriction</p><p>Options: <code>c&f</code>, <code>c&g</code>, <code>f</code>, <code>f&m</code>, <code>m</code>, <code>m&g</code></p>"
            },
            "name": "sex_restriction",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HorseDistanceTimeAnalysis"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/horses/{horse_id}/analysis/distance-times\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/horses/{horse_id}/analysis/distance-times\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/horses/{horse_id}/analysis/distance-times\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\ncurl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n\nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n} else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/horses/{horse_id}/standard": {
      "get": {
        "tags": [
          "Horses"
        ],
        "summary": "Horse Standard",
        "description": "<p>Get a basic horse profile</p><table><tbody><tr><td><b>Required Plan</b></td><td>Standard</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table><p><b>You may also get profiles for a sire/dam/damsire using this endpoint by replacing their id prefix with 'hrs_'</b></p>",
        "operationId": "horse_standard_v1_horses__horse_id__standard_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Horse Id"
            },
            "name": "horse_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Horse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "source": "curl -u USERNAME:PASSWORD https://api.theracingapi.com/v1/horses/{horse_id}/standard\n",
            "label": "curl"
          },
          {
            "lang": "Python",
            "source": "import requests\nfrom requests.auth import HTTPBasicAuth\n\nurl = \"https://api.theracingapi.com/v1/horses/{horse_id}/standard\"\nparams = {}\nresponse = requests.request(\"GET\", url, auth=HTTPBasicAuth('USERNAME','PASSWORD'), params=params)\nprint(response.json())",
            "label": "Python3"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$username = 'USERNAME';\n$password = 'PASSWORD';\n$url = \"https://api.theracingapi.com/v1/horses/{horse_id}/standard\";\n\n$params = http_build_query([ ]);\n\n$ch = curl_init(\"$url?$params\");\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPAUTH, CURLAUTH_BASIC);\n curl_setopt($ch, CURLOPT_USERPWD, \"$username:$password\");\n\n$response = curl_exec($ch);\n\nif (curl_errno($ch)) {\n  echo 'Error:' . curl_error($ch);\n } else {\n  echo $response;\n}\n\ncurl_close($ch);\n?>",
            "label": "PHP"
          }
        ]
      }
    },
    "/v1/horses/{horse_id}/pro": {
      "get": {
        "tags": [
          "Horses"
        ],
        "summary": "Horse Pro",
        "description": "<p>Get a detailed horse profile including dob, sex, color and breeder.</p><table><tbody><tr><td><b>Required Plan</b></td><td>Pro</td></tr><tr><td><b>Rate Limit</b></td><td>2 requests per second</td></tr></tbody></table><p><b>You may also get profiles for a sire/dam/damsire using this endpoint by replacing their id prefix with 'hrs_'</b></p><p><b>If a detailed profile for a horse can't be found, a basic profile may still be found using the <a href='https://api.theracingapi.com/documentation#tag/Horses/operation/horse_standard_v1_horses__horse_id__standard_get'>Horse Standard</a> endpoint</b></p>",
        "operationId": "horse_pro_v1_horses__horse_id__pro_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Horse Id"
            },
            "name": "horse_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HorsePro"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
[...]
