{
  "openapi": "3.0.3",
  "info": {
    "title": "Mention API",
    "version": "1.19",
    "description": "Mention API provides programmatic access to media monitoring alerts, mentions, accounts, tags, tasks, and statistics. It enables creating and managing alerts, retrieving and curating mentions across web and social sources, and accessing analytics data.",
    "x-jentic-source-url": "https://dev.mention.com/current/"
  },
  "servers": [
    {
      "url": "https://api.mention.net/api"
    }
  ],
  "paths": {
    "/accounts/me": {
      "get": {
        "operationId": "getMyAccount",
        "summary": "Get current account",
        "description": "Retrieve the account details for the currently authenticated user.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response with account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/alerts": {
      "get": {
        "operationId": "listAlerts",
        "summary": "List all alerts",
        "description": "Retrieve all alerts for the specified account with optional pagination and filtering.",
        "tags": [
          "Alert"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "The account identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of alerts to retrieve; returns all if omitted",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor provided by the API",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated alert IDs to fetch (max 50)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with alerts list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAlert",
        "summary": "Create an alert",
        "description": "Create a new monitoring alert for the specified account.",
        "tags": [
          "Alert"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "The account identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAlertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alert created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid alert configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/alerts/{alert_id}": {
      "get": {
        "operationId": "getAlert",
        "summary": "Get an alert",
        "description": "Retrieve details of a specific alert.",
        "tags": [
          "Alert"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alert_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with alert details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateAlert",
        "summary": "Update an alert",
        "description": "Update an existing alert's configuration.",
        "tags": [
          "Alert"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alert_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAlertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alert updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAlert",
        "summary": "Delete an alert",
        "description": "Delete an existing alert.",
        "tags": [
          "Alert"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alert_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/alerts/{alert_id}/mentions": {
      "get": {
        "operationId": "listMentions",
        "summary": "List mentions for an alert",
        "description": "Retrieve mentions matching a specific alert with optional filtering by source, sentiment, folder, and date range.",
        "tags": [
          "Mention"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alert_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since_id",
            "in": "query",
            "description": "Return mentions with IDs newer than this value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before_date",
            "in": "query",
            "description": "Return mentions published before this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "not_before_date",
            "in": "query",
            "description": "Exclude mentions older than this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results (default 20, max 1000)",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 1000
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter by source type (e.g., web, twitter, facebook)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unread",
            "in": "query",
            "description": "Return only unread mentions",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "favorite",
            "in": "query",
            "description": "Return only favorited mentions",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "folder",
            "in": "query",
            "description": "Filter by folder",
            "schema": {
              "type": "string",
              "enum": [
                "inbox",
                "archive",
                "spam",
                "trash"
              ]
            }
          },
          {
            "name": "tone",
            "in": "query",
            "description": "Filter by sentiment (-1 negative, 0 neutral, 1 positive)",
            "schema": {
              "type": "integer",
              "enum": [
                -1,
                0,
                1
              ]
            }
          },
          {
            "name": "countries",
            "in": "query",
            "description": "Filter by country codes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "languages",
            "in": "query",
            "description": "Filter by language codes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field for results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Advanced keyword/filter search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with mentions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MentionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/alerts/{alert_id}/mentions/{mention_id}": {
      "get": {
        "operationId": "getMention",
        "summary": "Get a specific mention",
        "description": "Retrieve details of a specific mention.",
        "tags": [
          "Mention"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alert_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mention_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with mention details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MentionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateMention",
        "summary": "Update a mention",
        "description": "Update mention properties such as read status, favorite, or folder.",
        "tags": [
          "Mention"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alert_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mention_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMentionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mention updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MentionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/alerts/{alert_id}/mentions/{mention_id}/tags": {
      "post": {
        "operationId": "addTagToMention",
        "summary": "Add a tag to a mention",
        "description": "Add a tag to a specific mention.",
        "tags": [
          "MentionTag"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alert_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mention_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tag"
                ],
                "properties": {
                  "tag": {
                    "type": "string",
                    "description": "Tag name to add"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag added successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/alerts/{alert_id}/statistics": {
      "get": {
        "operationId": "getAlertStatistics",
        "summary": "Get alert statistics",
        "description": "Retrieve analytics and statistics for a specific alert.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alert_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatisticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountResponse": {
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/Account"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique account identifier"
          },
          "name": {
            "type": "string",
            "description": "Account holder name"
          },
          "email": {
            "type": "string",
            "description": "Account email address"
          },
          "language_code": {
            "type": "string",
            "description": "Language preference"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "grouped_email_notification": {
            "type": "boolean",
            "description": "Whether notifications are grouped in a single email"
          },
          "default_email_notification_frequency": {
            "type": "string",
            "description": "Notification frequency (e.g., daily)"
          },
          "permissions": {
            "type": "object",
            "properties": {
              "create_alert": {
                "type": "boolean"
              },
              "read_teammembers": {
                "type": "boolean"
              }
            }
          },
          "email_subscriptions": {
            "type": "object"
          }
        }
      },
      "AlertListResponse": {
        "type": "object",
        "properties": {
          "alerts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlertWrapper"
            }
          },
          "_links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "AlertWrapper": {
        "type": "object",
        "properties": {
          "alert": {
            "$ref": "#/components/schemas/Alert"
          }
        }
      },
      "AlertResponse": {
        "type": "object",
        "properties": {
          "alert": {
            "$ref": "#/components/schemas/Alert"
          }
        }
      },
      "Alert": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "query": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "basic",
                  "advanced"
                ]
              },
              "included_keywords": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "excluded_keywords": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "required_keywords": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "noise_detection": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateAlertRequest": {
        "type": "object",
        "required": [
          "name",
          "query",
          "languages"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name for the alert"
          },
          "query": {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "basic",
                  "advanced"
                ]
              },
              "included_keywords": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "excluded_keywords": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "required_keywords": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 5,
            "description": "Language codes (max 5)"
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "blocked_sites": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "noise_detection": {
            "type": "boolean"
          },
          "color": {
            "type": "string"
          },
          "connection_type": {
            "type": "string",
            "enum": [
              "main",
              "related",
              "independent"
            ]
          },
          "connection_id": {
            "type": "string"
          }
        }
      },
      "MentionListResponse": {
        "type": "object",
        "properties": {
          "mentions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Mention"
            }
          },
          "_links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "MentionResponse": {
        "type": "object",
        "properties": {
          "mention": {
            "$ref": "#/components/schemas/Mention"
          }
        }
      },
      "Mention": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "original_url": {
            "type": "string"
          },
          "source_name": {
            "type": "string"
          },
          "source_type": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "tone": {
            "type": "integer",
            "description": "Sentiment: -1 negative, 0 neutral, 1 positive"
          },
          "favorite": {
            "type": "boolean"
          },
          "read": {
            "type": "boolean"
          },
          "folder": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "published_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpdateMentionRequest": {
        "type": "object",
        "properties": {
          "favorite": {
            "type": "boolean"
          },
          "read": {
            "type": "boolean"
          },
          "folder": {
            "type": "string",
            "enum": [
              "inbox",
              "archive",
              "spam",
              "trash"
            ]
          },
          "tone": {
            "type": "integer",
            "enum": [
              -1,
              0,
              1
            ]
          }
        }
      },
      "StatisticsResponse": {
        "type": "object",
        "properties": {
          "statistics": {
            "type": "object"
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "more": {
            "type": "object",
            "properties": {
              "href": {
                "type": "string"
              },
              "params": {
                "type": "object"
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 Bearer token"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}