{
  "openapi": "3.0.3",
  "info": {
    "title": "Slazzer Background Removal API",
    "version": "2.0.0",
    "description": "AI-powered background removal API. Supports image upload, URL, and base64 input. Returns transparent PNG, custom background, or alpha mask.",
    "x-jentic-source-url": "https://www.slazzer.com/api"
  },
  "servers": [
    {
      "url": "https://api.slazzer.com/v2.0",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/remove_image_background": {
      "post": {
        "operationId": "removeimagebackground",
        "summary": "Remove background from an image",
        "description": "Removes background from images using AI. Supports file upload, URL, or base64 input. Can return transparent PNG, apply custom background color or image, and crop/scale the subject.",
        "tags": [
          "Background Removal"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBackgroundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed image binary data",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters or unsupported format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/credit": {
      "get": {
        "operationId": "getCreditInfo",
        "summary": "Get credit information",
        "description": "Retrieve account credit balance and usage information.",
        "tags": [
          "Credits"
        ],
        "responses": {
          "200": {
            "description": "Credit information retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ai-automobile": {
      "post": {
        "operationId": "aiAutomobile",
        "summary": "AI Automobile processing",
        "description": "Process automobile images with AI background replacement and enhancement.",
        "tags": [
          "AI Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageProcessingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed image binary data",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ai-upscale": {
      "post": {
        "operationId": "aiUpscale",
        "summary": "AI Image Upscale",
        "description": "Upscale images using AI to increase resolution.",
        "tags": [
          "AI Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageProcessingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed image binary data",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ai-enhance": {
      "post": {
        "operationId": "aiEnhance",
        "summary": "AI Image Enhance",
        "description": "Enhance image quality using AI.",
        "tags": [
          "AI Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageProcessingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed image binary data",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ai-de-oldify": {
      "post": {
        "operationId": "aiDeOldify",
        "summary": "AI De-oldify",
        "description": "Restore and colorize old photos using AI.",
        "tags": [
          "AI Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageProcessingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed image binary data",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ai-relighting": {
      "post": {
        "operationId": "aiRelighting",
        "summary": "AI ReLighting",
        "description": "Adjust lighting in images using AI.",
        "tags": [
          "AI Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageProcessingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed image binary data",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ai-shadow": {
      "post": {
        "operationId": "aiShadow",
        "summary": "AI Shadow",
        "description": "Add realistic shadows to images using AI.",
        "tags": [
          "AI Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageProcessingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed image binary data",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ai-sky-replacement": {
      "post": {
        "operationId": "aiSkyReplacement",
        "summary": "AI Sky Replacement",
        "description": "Replace sky in images using AI.",
        "tags": [
          "AI Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageProcessingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed image binary data",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/grocery": {
      "post": {
        "operationId": "groceryCatalogueAi",
        "summary": "Grocery Catalogue AI",
        "description": "Process grocery product images for catalogue use.",
        "tags": [
          "Catalogue AI"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageProcessingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed image binary data",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/food": {
      "post": {
        "operationId": "foodCatalogueAi",
        "summary": "Food Catalogue AI",
        "description": "Process food images for catalogue use.",
        "tags": [
          "Catalogue AI"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageProcessingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed image binary data",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/furniture": {
      "post": {
        "operationId": "furnitureCatalogueAi",
        "summary": "Furniture Catalogue AI",
        "description": "Process furniture images for catalogue use.",
        "tags": [
          "Catalogue AI"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageProcessingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed image binary data",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "API-KEY"
      }
    },
    "schemas": {
      "RemoveBackgroundRequest": {
        "type": "object",
        "properties": {
          "source_image_file": {
            "type": "string",
            "format": "binary",
            "description": "Image file upload (PNG/JPG/JPEG). One source parameter per request."
          },
          "source_image_url": {
            "type": "string",
            "description": "Public image URL (PNG/JPG/JPEG)"
          },
          "source_image_base64": {
            "type": "string",
            "description": "Base64-encoded image data"
          },
          "bg_image_file": {
            "type": "string",
            "format": "binary",
            "description": "Background replacement image file"
          },
          "bg_image_url": {
            "type": "string",
            "description": "Background replacement image URL"
          },
          "bg_image_base64": {
            "type": "string",
            "description": "Base64-encoded background image"
          },
          "bg_color_code": {
            "type": "string",
            "description": "HEX color code for background (e.g., #72E4B3)"
          },
          "format": {
            "type": "string",
            "enum": [
              "png",
              "jpg",
              "zip"
            ],
            "default": "png",
            "description": "Output format"
          },
          "crop": {
            "type": "boolean",
            "default": false,
            "description": "Remove transparent borders around subject"
          },
          "crop_margin": {
            "type": "string",
            "description": "Margin around subject in pixels or percentages"
          },
          "scale": {
            "type": "string",
            "description": "Subject size adjustment (10%-100%)"
          },
          "position": {
            "type": "string",
            "description": "Subject placement coordinates (requires scale parameter)"
          },
          "preview": {
            "type": "boolean",
            "default": false,
            "description": "Return lower resolution output"
          },
          "channel": {
            "type": "string",
            "enum": [
              "rgba",
              "alpha"
            ],
            "default": "rgba",
            "description": "Output channel: rgba for full image, alpha for mask only"
          },
          "roi": {
            "type": "string",
            "description": "Region of interest coordinates"
          },
          "car_shadow": {
            "type": "boolean",
            "default": false,
            "description": "Add shadow to car images"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "CreditResponse": {
        "type": "object",
        "properties": {
          "credits": {
            "type": "integer",
            "description": "Remaining credit balance"
          },
          "used": {
            "type": "integer",
            "description": "Credits used"
          },
          "plan": {
            "type": "string",
            "description": "Current subscription plan"
          }
        }
      },
      "ImageProcessingRequest": {
        "type": "object",
        "properties": {
          "source_image_file": {
            "type": "string",
            "format": "binary",
            "description": "Image file upload (PNG/JPG/JPEG)"
          },
          "source_image_url": {
            "type": "string",
            "description": "Public image URL"
          },
          "source_image_base64": {
            "type": "string",
            "description": "Base64-encoded image data"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Background Removal",
      "description": "Operations related to Background Removal"
    },
    {
      "name": "Credits",
      "description": "Account credit information"
    },
    {
      "name": "AI Processing",
      "description": "AI-powered image processing endpoints"
    },
    {
      "name": "Catalogue AI",
      "description": "AI-powered product catalogue image processing"
    }
  ]
}