{
  "openapi": "3.0.3",
  "info": {
    "title": "EtherDelta / ForkDelta API",
    "description": "API for the EtherDelta decentralized exchange (now defunct, succeeded by ForkDelta). EtherDelta was an Ethereum-based decentralized exchange for ERC-20 tokens. The project is no longer actively maintained.\n\nThe API is primarily WebSocket-based (socket.io) at wss://api.forkdelta.com. WebSocket methods include:\n- **getMarket**: Retrieve market data, trades, orders, and funds for a token/user\n- **message**: Submit new orders with cryptographic signatures\n\nWebSocket streaming events: orders, trades, funds.\n\nThis OpenAPI spec documents the single REST endpoint that was available. Rate limits: 6 concurrent connections and 12 reconnects per minute per IP address.\n\n**Status: DEFUNCT** - EtherDelta ceased operations. ForkDelta (the successor) is also archived as of December 2022.",
    "version": "1.0.0",
    "contact": {
      "name": "ForkDelta (successor project)",
      "url": "https://github.com/forkdelta/backend-replacement"
    },
    "license": {
      "name": "GNU Affero General Public License v3.0",
      "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
    }
  },
  "servers": [
    {
      "url": "https://api.forkdelta.com",
      "description": "ForkDelta API server (archived/defunct)"
    }
  ],
  "paths": {
    "/returnTicker": {
      "get": {
        "operationId": "getReturnTicker",
        "summary": "Get ticker data for all traded token pairs",
        "description": "Returns ticker information for all token pairs traded on the exchange. Each key is in the format ETH_{tokenCode}. This is the only REST endpoint; all other functionality uses WebSocket (socket.io).",
        "responses": {
          "200": {
            "description": "Successful ticker response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/TickerEntry"
                  },
                  "example": {
                    "ETH_EXAMPLE": {
                      "tokenAddr": "0x1234567890abcdef1234567890abcdef12345678",
                      "quoteVolume": "1234.5678",
                      "baseVolume": "56.789",
                      "last": "0.00045",
                      "bid": "0.00044",
                      "ask": "0.00046",
                      "updated": "2018-06-15T12:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "tags": ["Ticker"]
      }
    }
  },
  "components": {
    "schemas": {
      "TickerEntry": {
        "type": "object",
        "properties": {
          "tokenAddr": {
            "type": "string",
            "description": "Ethereum address of the token",
            "example": "0x1234567890abcdef1234567890abcdef12345678"
          },
          "quoteVolume": {
            "type": "string",
            "description": "Quote volume (token volume)",
            "example": "1234.5678"
          },
          "baseVolume": {
            "type": "string",
            "description": "Base volume (ETH volume)",
            "example": "56.789"
          },
          "last": {
            "type": "string",
            "description": "Last trade price",
            "example": "0.00045"
          },
          "bid": {
            "type": "string",
            "description": "Highest bid price",
            "example": "0.00044"
          },
          "ask": {
            "type": "string",
            "description": "Lowest ask price",
            "example": "0.00046"
          },
          "updated": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp in ISO 8601 format",
            "example": "2018-06-15T12:00:00.000Z"
          }
        },
        "required": ["tokenAddr", "quoteVolume", "baseVolume", "last", "bid", "ask", "updated"]
      },
      "Trade": {
        "type": "object",
        "description": "Trade record (returned via WebSocket getMarket response)",
        "properties": {
          "txHash": {
            "type": "string",
            "description": "Transaction hash on Ethereum blockchain"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Trade timestamp"
          },
          "price": {
            "type": "string",
            "description": "Trade price"
          },
          "side": {
            "type": "string",
            "enum": ["buy", "sell"],
            "description": "Trade side"
          },
          "amount": {
            "type": "string",
            "description": "Token amount"
          },
          "amountBase": {
            "type": "string",
            "description": "Base (ETH) amount"
          },
          "buyer": {
            "type": "string",
            "description": "Buyer Ethereum address"
          },
          "seller": {
            "type": "string",
            "description": "Seller Ethereum address"
          },
          "tokenAddr": {
            "type": "string",
            "description": "Token contract address"
          }
        }
      },
      "Order": {
        "type": "object",
        "description": "Order record (returned via WebSocket getMarket response)",
        "properties": {
          "id": {
            "type": "string",
            "description": "Order identifier"
          },
          "user": {
            "type": "string",
            "description": "User Ethereum address"
          },
          "state": {
            "type": "string",
            "description": "Order state"
          },
          "amount": {
            "type": "string",
            "description": "Amount in wei"
          },
          "price": {
            "type": "string",
            "description": "Order price"
          },
          "tokenGet": {
            "type": "string",
            "description": "Token address to receive"
          },
          "amountGet": {
            "type": "string",
            "description": "Amount to receive in wei"
          },
          "tokenGive": {
            "type": "string",
            "description": "Token address to give"
          },
          "amountGive": {
            "type": "string",
            "description": "Amount to give in wei"
          },
          "expires": {
            "type": "string",
            "description": "Expiration block number"
          },
          "nonce": {
            "type": "string",
            "description": "Random nonce"
          },
          "v": {
            "type": "integer",
            "description": "Signature v component"
          },
          "r": {
            "type": "string",
            "description": "Signature r component"
          },
          "s": {
            "type": "string",
            "description": "Signature s component"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Order creation date"
          },
          "updated": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          },
          "availableVolume": {
            "type": "string",
            "description": "Available volume in wei"
          },
          "ethAvailableVolume": {
            "type": "string",
            "description": "Available volume in ETH"
          },
          "availableVolumeBase": {
            "type": "string",
            "description": "Available base volume in wei"
          },
          "ethAvailableVolumeBase": {
            "type": "string",
            "description": "Available base volume in ETH"
          },
          "amountFilled": {
            "type": "string",
            "description": "Amount already filled in wei"
          }
        }
      },
      "FundEvent": {
        "type": "object",
        "description": "Deposit/withdrawal event (returned via WebSocket getMarket response)",
        "properties": {
          "txHash": {
            "type": "string",
            "description": "Transaction hash"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Event timestamp"
          },
          "tokenAddr": {
            "type": "string",
            "description": "Token contract address"
          },
          "kind": {
            "type": "string",
            "enum": ["Deposit", "Withdrawal"],
            "description": "Type of fund event"
          },
          "user": {
            "type": "string",
            "description": "User Ethereum address"
          },
          "amount": {
            "type": "string",
            "description": "Amount transferred"
          },
          "balance": {
            "type": "string",
            "description": "Resulting balance"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Ticker",
      "description": "Market ticker data (REST endpoint)"
    }
  ]
}