{
  "openapi": "3.0.3",
  "info": {
    "title": "NS1 API",
    "description": "NS1 (IBM NS1 Connect) DNS and Traffic Management API. Provides programmatic access to manage DNS zones, records, data sources, data feeds, monitoring jobs, account settings, teams, API keys, usage statistics, and networks.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://ns1.com/api",
    "contact": {
      "name": "NS1 (IBM)",
      "url": "https://ns1.com"
    }
  },
  "servers": [
    {
      "url": "https://api.nsone.net/v1",
      "description": "NS1 Production API"
    }
  ],
  "paths": {
    "/zones": {
      "get": {
        "tags": [
          "Zones"
        ],
        "operationId": "listZones",
        "summary": "List all DNS zones",
        "description": "Returns a list of all DNS zones associated with the account.",
        "responses": {
          "200": {
            "description": "A list of zones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Zone"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/zones/{zone}": {
      "get": {
        "tags": [
          "Zones"
        ],
        "operationId": "getZone",
        "summary": "Get zone details",
        "description": "Returns the full details of a single DNS zone, including its records.",
        "parameters": [
          {
            "name": "zone",
            "in": "path",
            "required": true,
            "description": "The zone name (e.g., example.com)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Zone details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zone"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Zone not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Zones"
        ],
        "operationId": "createOrUpdateZone",
        "summary": "Create or update a zone",
        "description": "Creates a new DNS zone or updates an existing one.",
        "parameters": [
          {
            "name": "zone",
            "in": "path",
            "required": true,
            "description": "The zone name (e.g., example.com)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Zone created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zone"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Zones"
        ],
        "operationId": "deleteZone",
        "summary": "Delete a zone",
        "description": "Permanently deletes a DNS zone and all of its records.",
        "parameters": [
          {
            "name": "zone",
            "in": "path",
            "required": true,
            "description": "The zone name (e.g., example.com)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Zone deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Zone not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/zones/{zone}/{domain}/{type}": {
      "get": {
        "tags": [
          "Records"
        ],
        "operationId": "getRecord",
        "summary": "Get a DNS record",
        "description": "Returns the full details of a single DNS record including answers, filters, and metadata.",
        "parameters": [
          {
            "name": "zone",
            "in": "path",
            "required": true,
            "description": "The zone name (e.g., example.com)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The fully qualified domain name of the record (e.g., www.example.com)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "The DNS record type (e.g., A, AAAA, CNAME, MX, TXT, NS, SRV, etc.)",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "AAAA",
                "ALIAS",
                "AFSDB",
                "CAA",
                "CERT",
                "CNAME",
                "DS",
                "HINFO",
                "MX",
                "NAPTR",
                "NS",
                "PTR",
                "RP",
                "SPF",
                "SRV",
                "TXT",
                "URLFWD"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Records"
        ],
        "operationId": "createOrUpdateRecord",
        "summary": "Create or update a DNS record",
        "description": "Creates a new DNS record or replaces an existing one entirely.",
        "parameters": [
          {
            "name": "zone",
            "in": "path",
            "required": true,
            "description": "The zone name (e.g., example.com)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The fully qualified domain name of the record",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "The DNS record type",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "AAAA",
                "ALIAS",
                "AFSDB",
                "CAA",
                "CERT",
                "CNAME",
                "DS",
                "HINFO",
                "MX",
                "NAPTR",
                "NS",
                "PTR",
                "RP",
                "SPF",
                "SRV",
                "TXT",
                "URLFWD"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Records"
        ],
        "operationId": "updateRecord",
        "summary": "Partially update a DNS record",
        "description": "Performs a partial update on an existing DNS record. Only the fields provided in the request body are modified.",
        "parameters": [
          {
            "name": "zone",
            "in": "path",
            "required": true,
            "description": "The zone name (e.g., example.com)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The fully qualified domain name of the record",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "The DNS record type",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "AAAA",
                "ALIAS",
                "AFSDB",
                "CAA",
                "CERT",
                "CNAME",
                "DS",
                "HINFO",
                "MX",
                "NAPTR",
                "NS",
                "PTR",
                "RP",
                "SPF",
                "SRV",
                "TXT",
                "URLFWD"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Records"
        ],
        "operationId": "deleteRecord",
        "summary": "Delete a DNS record",
        "description": "Permanently deletes a DNS record from the zone.",
        "parameters": [
          {
            "name": "zone",
            "in": "path",
            "required": true,
            "description": "The zone name (e.g., example.com)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The fully qualified domain name of the record",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "The DNS record type",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "AAAA",
                "ALIAS",
                "AFSDB",
                "CAA",
                "CERT",
                "CNAME",
                "DS",
                "HINFO",
                "MX",
                "NAPTR",
                "NS",
                "PTR",
                "RP",
                "SPF",
                "SRV",
                "TXT",
                "URLFWD"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/sources": {
      "get": {
        "tags": [
          "DataSources"
        ],
        "operationId": "listDataSources",
        "summary": "List all data sources",
        "description": "Returns a list of all data sources configured in the account.",
        "responses": {
          "200": {
            "description": "A list of data sources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataSource"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/sources/{sourceId}": {
      "get": {
        "tags": [
          "DataSources"
        ],
        "operationId": "getDataSource",
        "summary": "Get a data source",
        "description": "Returns the details of a single data source.",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the data source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data source details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Data source not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "DataSources"
        ],
        "operationId": "createOrUpdateDataSource",
        "summary": "Create or update a data source",
        "description": "Creates a new data source or updates an existing one.",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the data source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSourceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data source created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DataSources"
        ],
        "operationId": "deleteDataSource",
        "summary": "Delete a data source",
        "description": "Permanently deletes a data source and all of its associated feeds.",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the data source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data source deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Data source not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/sources/{sourceId}/publish": {
      "post": {
        "tags": [
          "DataSources"
        ],
        "operationId": "publishToDataSource",
        "summary": "Publish data to a data source",
        "description": "Publishes data to a data source, which is then propagated to all connected data feeds and their associated DNS records.",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the data source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSourcePublish"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data published successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Data source not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/feeds/{sourceId}": {
      "get": {
        "tags": [
          "DataFeeds"
        ],
        "operationId": "listDataFeeds",
        "summary": "List data feeds for a source",
        "description": "Returns all data feeds associated with a given data source.",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the parent data source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of data feeds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataFeed"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Data source not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/feeds/{sourceId}/{feedId}": {
      "get": {
        "tags": [
          "DataFeeds"
        ],
        "operationId": "getDataFeed",
        "summary": "Get a data feed",
        "description": "Returns the details of a single data feed.",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the parent data source",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feedId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the data feed",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data feed details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataFeed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Data feed not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "DataFeeds"
        ],
        "operationId": "createOrUpdateDataFeed",
        "summary": "Create or update a data feed",
        "description": "Creates a new data feed or updates an existing one for the given data source.",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the parent data source",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feedId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the data feed",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataFeedInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data feed created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataFeed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DataFeeds"
        ],
        "operationId": "deleteDataFeed",
        "summary": "Delete a data feed",
        "description": "Permanently deletes a data feed from the given data source.",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the parent data source",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feedId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the data feed",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data feed deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Data feed not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/jobs": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "operationId": "listMonitoringJobs",
        "summary": "List all monitoring jobs",
        "description": "Returns a list of all monitoring jobs configured in the account.",
        "responses": {
          "200": {
            "description": "A list of monitoring jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MonitoringJob"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/jobs/{jobId}": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "operationId": "getMonitoringJob",
        "summary": "Get a monitoring job",
        "description": "Returns the details of a single monitoring job.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the monitoring job",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitoring job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitoringJob"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Monitoring job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Monitoring"
        ],
        "operationId": "createOrUpdateMonitoringJob",
        "summary": "Create or update a monitoring job",
        "description": "Creates a new monitoring job or updates an existing one.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the monitoring job",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitoringJobInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitoring job created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitoringJob"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Monitoring"
        ],
        "operationId": "deleteMonitoringJob",
        "summary": "Delete a monitoring job",
        "description": "Permanently deletes a monitoring job.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the monitoring job",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitoring job deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Monitoring job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/regions": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "operationId": "listMonitoringRegions",
        "summary": "List monitoring regions",
        "description": "Returns a list of all available monitoring regions from which jobs can be run.",
        "responses": {
          "200": {
            "description": "A list of monitoring regions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MonitoringRegion"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/settings": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "getAccountSettings",
        "summary": "Get account settings",
        "description": "Returns the current account settings.",
        "responses": {
          "200": {
            "description": "Account settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "updateAccountSettings",
        "summary": "Update account settings",
        "description": "Updates the account settings with the provided values.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountSettingsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account settings updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/usagewarnings": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "getUsageWarnings",
        "summary": "Get usage warnings",
        "description": "Returns the current usage warning thresholds and notification settings.",
        "responses": {
          "200": {
            "description": "Usage warning settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageWarnings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "updateUsageWarnings",
        "summary": "Update usage warnings",
        "description": "Updates usage warning thresholds and notification settings.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UsageWarningsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Usage warnings updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageWarnings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/teams": {
      "get": {
        "tags": [
          "Teams"
        ],
        "operationId": "listTeams",
        "summary": "List all teams",
        "description": "Returns a list of all teams configured in the account.",
        "responses": {
          "200": {
            "description": "A list of teams",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/teams/{teamId}": {
      "get": {
        "tags": [
          "Teams"
        ],
        "operationId": "getTeam",
        "summary": "Get a team",
        "description": "Returns the details of a single team including its permissions and members.",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the team",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Team not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Teams"
        ],
        "operationId": "createOrUpdateTeam",
        "summary": "Create or update a team",
        "description": "Creates a new team or updates an existing one with the provided permissions and settings.",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the team",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Teams"
        ],
        "operationId": "deleteTeam",
        "summary": "Delete a team",
        "description": "Permanently deletes a team from the account.",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the team",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Team not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/apikeys": {
      "get": {
        "tags": [
          "ApiKeys"
        ],
        "operationId": "listApiKeys",
        "summary": "List all API keys",
        "description": "Returns a list of all API keys configured in the account.",
        "responses": {
          "200": {
            "description": "A list of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKey"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/apikeys/{keyId}": {
      "get": {
        "tags": [
          "ApiKeys"
        ],
        "operationId": "getApiKey",
        "summary": "Get an API key",
        "description": "Returns the details of a single API key including its permissions.",
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "API key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApiKeys"
        ],
        "operationId": "createOrUpdateApiKey",
        "summary": "Create or update an API key",
        "description": "Creates a new API key or updates an existing one with the provided permissions.",
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApiKeys"
        ],
        "operationId": "deleteApiKey",
        "summary": "Delete an API key",
        "description": "Permanently deletes an API key from the account.",
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "API key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stats/qps": {
      "get": {
        "tags": [
          "Stats"
        ],
        "operationId": "getCurrentQps",
        "summary": "Get current queries per second",
        "description": "Returns the current real-time queries per second (QPS) for the account.",
        "responses": {
          "200": {
            "description": "Current QPS data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QpsStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stats/usage": {
      "get": {
        "tags": [
          "Stats"
        ],
        "operationId": "getUsageStats",
        "summary": "Get usage statistics",
        "description": "Returns aggregated query usage statistics for the account over a given time period.",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "The time period for the usage stats (e.g., 1h, 24h, 30d)",
            "schema": {
              "type": "string",
              "default": "24h"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/networks": {
      "get": {
        "tags": [
          "Networks"
        ],
        "operationId": "listNetworks",
        "summary": "List all networks",
        "description": "Returns a list of all networks available to the account. Networks represent separate DNS resolution namespaces.",
        "responses": {
          "200": {
            "description": "A list of networks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Network"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "X-NSONE-Key",
        "in": "header",
        "description": "NS1 API key passed in the X-NSONE-Key header"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error response returned by the NS1 API",
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          }
        },
        "required": [
          "message"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "description": "Generic success response",
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable success message"
          }
        }
      },
      "Zone": {
        "type": "object",
        "description": "A DNS zone managed by NS1",
        "properties": {
          "zone": {
            "type": "string",
            "description": "The zone name (e.g., example.com)"
          },
          "ttl": {
            "type": "integer",
            "description": "Default TTL in seconds for records in this zone"
          },
          "nx_ttl": {
            "type": "integer",
            "description": "TTL for NXDOMAIN responses"
          },
          "retry": {
            "type": "integer",
            "description": "SOA retry interval in seconds"
          },
          "refresh": {
            "type": "integer",
            "description": "SOA refresh interval in seconds"
          },
          "expiry": {
            "type": "integer",
            "description": "SOA expiry interval in seconds"
          },
          "dns_servers": {
            "type": "array",
            "description": "Authoritative nameservers assigned to this zone",
            "items": {
              "type": "string"
            }
          },
          "network_pools": {
            "type": "array",
            "description": "Network pool IDs assigned to this zone",
            "items": {
              "type": "string"
            }
          },
          "primary": {
            "type": "object",
            "description": "Primary zone configuration for secondary zone setups",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "secondaries": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "ip": {
                      "type": "string"
                    },
                    "port": {
                      "type": "integer"
                    },
                    "notify": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "records": {
            "type": "array",
            "description": "List of DNS records in this zone (returned with zone details)",
            "items": {
              "$ref": "#/components/schemas/RecordSummary"
            }
          },
          "link": {
            "type": "string",
            "description": "If this is a linked zone, the zone it is linked to"
          },
          "meta": {
            "type": "object",
            "description": "Zone-level metadata used for traffic management",
            "additionalProperties": true
          }
        }
      },
      "ZoneInput": {
        "type": "object",
        "description": "Input body for creating or updating a zone",
        "properties": {
          "zone": {
            "type": "string",
            "description": "The zone name"
          },
          "ttl": {
            "type": "integer",
            "description": "Default TTL in seconds"
          },
          "nx_ttl": {
            "type": "integer",
            "description": "TTL for NXDOMAIN responses"
          },
          "retry": {
            "type": "integer",
            "description": "SOA retry interval in seconds"
          },
          "refresh": {
            "type": "integer",
            "description": "SOA refresh interval in seconds"
          },
          "expiry": {
            "type": "integer",
            "description": "SOA expiry interval in seconds"
          },
          "primary": {
            "type": "object",
            "description": "Primary zone configuration",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "secondaries": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "ip": {
                      "type": "string"
                    },
                    "port": {
                      "type": "integer"
                    },
                    "notify": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "description": "Zone to link to (creates a linked zone)"
          },
          "meta": {
            "type": "object",
            "description": "Zone-level metadata for traffic management",
            "additionalProperties": true
          }
        }
      },
      "RecordSummary": {
        "type": "object",
        "description": "Summary of a DNS record as returned in zone listings",
        "properties": {
          "domain": {
            "type": "string",
            "description": "The fully qualified domain name"
          },
          "type": {
            "type": "string",
            "description": "The DNS record type"
          },
          "ttl": {
            "type": "integer",
            "description": "TTL in seconds"
          },
          "tier": {
            "type": "integer",
            "description": "Record tier (1 = standard, 2 = advanced)"
          },
          "short_answers": {
            "type": "array",
            "description": "Abbreviated answer values",
            "items": {
              "type": "string"
            }
          },
          "link": {
            "type": "string",
            "description": "If this is a linked record, the record it links to"
          }
        }
      },
      "Record": {
        "type": "object",
        "description": "Full DNS record object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique record identifier"
          },
          "zone": {
            "type": "string",
            "description": "The zone this record belongs to"
          },
          "domain": {
            "type": "string",
            "description": "The fully qualified domain name"
          },
          "type": {
            "type": "string",
            "description": "The DNS record type"
          },
          "ttl": {
            "type": "integer",
            "description": "TTL in seconds"
          },
          "use_client_subnet": {
            "type": "boolean",
            "description": "Whether to use EDNS Client Subnet for this record"
          },
          "answers": {
            "type": "array",
            "description": "List of answer objects for this record",
            "items": {
              "$ref": "#/components/schemas/Answer"
            }
          },
          "filters": {
            "type": "array",
            "description": "List of filter chain entries applied to answers",
            "items": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          "regions": {
            "type": "object",
            "description": "Region-specific metadata for geotargeting",
            "additionalProperties": {
              "$ref": "#/components/schemas/Region"
            }
          },
          "meta": {
            "type": "object",
            "description": "Record-level metadata for traffic management",
            "additionalProperties": true
          },
          "link": {
            "type": "string",
            "description": "If this is a linked record, the record it links to"
          }
        }
      },
      "RecordInput": {
        "type": "object",
        "description": "Input body for creating or updating a DNS record",
        "properties": {
          "zone": {
            "type": "string",
            "description": "The zone name"
          },
          "domain": {
            "type": "string",
            "description": "The fully qualified domain name"
          },
          "type": {
            "type": "string",
            "description": "The DNS record type"
          },
          "ttl": {
            "type": "integer",
            "description": "TTL in seconds"
          },
          "use_client_subnet": {
            "type": "boolean",
            "description": "Whether to use EDNS Client Subnet"
          },
          "answers": {
            "type": "array",
            "description": "List of answer objects",
            "items": {
              "$ref": "#/components/schemas/AnswerInput"
            }
          },
          "filters": {
            "type": "array",
            "description": "Filter chain entries",
            "items": {
              "$ref": "#/components/schemas/FilterInput"
            }
          },
          "regions": {
            "type": "object",
            "description": "Region metadata for geotargeting",
            "additionalProperties": {
              "$ref": "#/components/schemas/RegionInput"
            }
          },
          "meta": {
            "type": "object",
            "description": "Record-level metadata",
            "additionalProperties": true
          },
          "link": {
            "type": "string",
            "description": "Record to link to (creates a linked record)"
          }
        }
      },
      "Answer": {
        "type": "object",
        "description": "A single answer (resource record) within a DNS record",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique answer identifier"
          },
          "answer": {
            "type": "array",
            "description": "The answer rdata, each element represents one rdata field",
            "items": {
              "type": "string"
            }
          },
          "region": {
            "type": "string",
            "description": "The region this answer is associated with"
          },
          "meta": {
            "type": "object",
            "description": "Answer-level metadata for traffic management (e.g., up, weight, priority)",
            "additionalProperties": true
          },
          "feeds": {
            "type": "array",
            "description": "Data feeds connected to this answer",
            "items": {
              "$ref": "#/components/schemas/FeedReference"
            }
          }
        }
      },
      "AnswerInput": {
        "type": "object",
        "description": "Input for a single answer",
        "properties": {
          "answer": {
            "type": "array",
            "description": "The answer rdata fields",
            "items": {
              "type": "string"
            }
          },
          "region": {
            "type": "string",
            "description": "The region to associate this answer with"
          },
          "meta": {
            "type": "object",
            "description": "Answer-level metadata",
            "additionalProperties": true
          },
          "feeds": {
            "type": "array",
            "description": "Data feed references",
            "items": {
              "$ref": "#/components/schemas/FeedReference"
            }
          }
        }
      },
      "FeedReference": {
        "type": "object",
        "description": "Reference to a data feed connected to an answer",
        "properties": {
          "feed": {
            "type": "string",
            "description": "The data feed ID"
          }
        }
      },
      "Filter": {
        "type": "object",
        "description": "A filter in the record's filter chain",
        "properties": {
          "filter": {
            "type": "string",
            "description": "The filter type name (e.g., up, geotarget_country, weighted_shuffle, etc.)"
          },
          "disabled": {
            "type": "boolean",
            "description": "Whether this filter is currently disabled"
          },
          "config": {
            "type": "object",
            "description": "Filter-specific configuration",
            "additionalProperties": true
          }
        }
      },
      "FilterInput": {
        "type": "object",
        "description": "Input for a filter chain entry",
        "properties": {
          "filter": {
            "type": "string",
            "description": "The filter type name"
          },
          "disabled": {
            "type": "boolean",
            "description": "Whether this filter is disabled"
          },
          "config": {
            "type": "object",
            "description": "Filter-specific configuration",
            "additionalProperties": true
          }
        }
      },
      "Region": {
        "type": "object",
        "description": "Region metadata for geotargeted records",
        "properties": {
          "meta": {
            "type": "object",
            "description": "Region-level metadata (e.g., georegion, country, us_state)",
            "additionalProperties": true
          }
        }
      },
      "RegionInput": {
        "type": "object",
        "description": "Input for region metadata",
        "properties": {
          "meta": {
            "type": "object",
            "description": "Region-level metadata",
            "additionalProperties": true
          }
        }
      },
      "DataSource": {
        "type": "object",
        "description": "A data source for NS1 intelligent DNS",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique data source identifier"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the data source"
          },
          "sourcetype": {
            "type": "string",
            "description": "The type of data source (e.g., nsone_v1, nsone_monitoring, cloudwatch, datadog, etc.)"
          },
          "config": {
            "type": "object",
            "description": "Source-type-specific configuration",
            "additionalProperties": true
          },
          "status": {
            "type": "string",
            "description": "Current status of the data source"
          },
          "feeds": {
            "type": "array",
            "description": "List of data feeds associated with this source",
            "items": {
              "$ref": "#/components/schemas/DataFeed"
            }
          }
        }
      },
      "DataSourceInput": {
        "type": "object",
        "description": "Input for creating or updating a data source",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name"
          },
          "sourcetype": {
            "type": "string",
            "description": "The data source type"
          },
          "config": {
            "type": "object",
            "description": "Source-type-specific configuration",
            "additionalProperties": true
          }
        }
      },
      "DataSourcePublish": {
        "type": "object",
        "description": "Data payload to publish to a data source",
        "additionalProperties": true
      },
      "DataFeed": {
        "type": "object",
        "description": "A data feed associated with a data source",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique data feed identifier"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the feed"
          },
          "config": {
            "type": "object",
            "description": "Feed-specific configuration and label matching criteria",
            "additionalProperties": true
          },
          "data": {
            "type": "object",
            "description": "Current feed data values",
            "additionalProperties": true
          },
          "source_id": {
            "type": "string",
            "description": "The parent data source ID"
          }
        }
      },
      "DataFeedInput": {
        "type": "object",
        "description": "Input for creating or updating a data feed",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name"
          },
          "config": {
            "type": "object",
            "description": "Feed-specific configuration",
            "additionalProperties": true
          }
        }
      },
      "MonitoringJob": {
        "type": "object",
        "description": "A monitoring job that checks the health of an endpoint",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique monitoring job identifier"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the monitoring job"
          },
          "job_type": {
            "type": "string",
            "description": "The type of monitoring check (e.g., http, tcp, dns, ping)"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the monitoring job is currently active"
          },
          "regions": {
            "type": "array",
            "description": "List of region codes from which this job runs",
            "items": {
              "type": "string"
            }
          },
          "frequency": {
            "type": "integer",
            "description": "Check frequency in seconds"
          },
          "rapid_recheck": {
            "type": "boolean",
            "description": "Whether to rapid-recheck on failure"
          },
          "policy": {
            "type": "string",
            "description": "Notification policy (e.g., quorum, all)",
            "enum": [
              "quorum",
              "all",
              "one"
            ]
          },
          "config": {
            "type": "object",
            "description": "Job-type-specific configuration (e.g., host, port, url, etc.)",
            "additionalProperties": true
          },
          "rules": {
            "type": "array",
            "description": "Rules that define pass/fail criteria for the monitoring check",
            "items": {
              "$ref": "#/components/schemas/MonitoringRule"
            }
          },
          "notify_delay": {
            "type": "integer",
            "description": "Delay in seconds before sending a notification"
          },
          "notify_repeat": {
            "type": "integer",
            "description": "Interval in seconds between repeated notifications"
          },
          "notify_failback": {
            "type": "boolean",
            "description": "Whether to send a notification when the job recovers"
          },
          "notify_regional": {
            "type": "boolean",
            "description": "Whether to notify for regional failures in addition to global"
          },
          "notify_list": {
            "type": "string",
            "description": "Notification list ID for this job"
          },
          "notes": {
            "type": "string",
            "description": "Free-form notes about this monitoring job"
          },
          "status": {
            "type": "object",
            "description": "Current status of the monitoring job per region",
            "additionalProperties": true
          }
        }
      },
      "MonitoringJobInput": {
        "type": "object",
        "description": "Input for creating or updating a monitoring job",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name"
          },
          "job_type": {
            "type": "string",
            "description": "The type of monitoring check"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the job is active"
          },
          "regions": {
            "type": "array",
            "description": "Region codes to run from",
            "items": {
              "type": "string"
            }
          },
          "frequency": {
            "type": "integer",
            "description": "Check frequency in seconds"
          },
          "rapid_recheck": {
            "type": "boolean",
            "description": "Whether to rapid-recheck on failure"
          },
          "policy": {
            "type": "string",
            "description": "Notification policy",
            "enum": [
              "quorum",
              "all",
              "one"
            ]
          },
          "config": {
            "type": "object",
            "description": "Job-type-specific configuration",
            "additionalProperties": true
          },
          "rules": {
            "type": "array",
            "description": "Pass/fail criteria rules",
            "items": {
              "$ref": "#/components/schemas/MonitoringRuleInput"
            }
          },
          "notify_delay": {
            "type": "integer",
            "description": "Notification delay in seconds"
          },
          "notify_repeat": {
            "type": "integer",
            "description": "Notification repeat interval in seconds"
          },
          "notify_failback": {
            "type": "boolean",
            "description": "Notify on recovery"
          },
          "notify_regional": {
            "type": "boolean",
            "description": "Notify for regional failures"
          },
          "notify_list": {
            "type": "string",
            "description": "Notification list ID"
          },
          "notes": {
            "type": "string",
            "description": "Free-form notes"
          }
        }
      },
      "MonitoringRule": {
        "type": "object",
        "description": "A rule defining pass/fail criteria for a monitoring check",
        "properties": {
          "key": {
            "type": "string",
            "description": "The metric key to evaluate (e.g., rtt, connect, output, status_code)"
          },
          "value": {
            "type": "string",
            "description": "The threshold value"
          },
          "comparison": {
            "type": "string",
            "description": "The comparison operator",
            "enum": [
              "<",
              "<=",
              "==",
              "!=",
              ">=",
              ">",
              "contains",
              "not_contains"
            ]
          }
        }
      },
      "MonitoringRuleInput": {
        "type": "object",
        "description": "Input for a monitoring rule",
        "properties": {
          "key": {
            "type": "string",
            "description": "The metric key to evaluate"
          },
          "value": {
            "type": "string",
            "description": "The threshold value"
          },
          "comparison": {
            "type": "string",
            "description": "The comparison operator",
            "enum": [
              "<",
              "<=",
              "==",
              "!=",
              ">=",
              ">",
              "contains",
              "not_contains"
            ]
          }
        }
      },
      "MonitoringRegion": {
        "type": "object",
        "description": "A monitoring region from which jobs can be executed",
        "properties": {
          "code": {
            "type": "string",
            "description": "Region code identifier"
          },
          "name": {
            "type": "string",
            "description": "Human-readable region name"
          },
          "subnets": {
            "type": "array",
            "description": "IP subnets used by monitoring probes in this region",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AccountSettings": {
        "type": "object",
        "description": "Account-level settings",
        "properties": {
          "customerid": {
            "type": "integer",
            "description": "The unique customer ID"
          },
          "company": {
            "type": "string",
            "description": "Company name"
          },
          "firstname": {
            "type": "string",
            "description": "Account owner first name"
          },
          "lastname": {
            "type": "string",
            "description": "Account owner last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Account owner email"
          },
          "phone": {
            "type": "string",
            "description": "Account phone number"
          },
          "notify": {
            "type": "object",
            "description": "Notification preferences",
            "properties": {
              "billing": {
                "type": "boolean",
                "description": "Receive billing notifications"
              }
            }
          }
        }
      },
      "AccountSettingsInput": {
        "type": "object",
        "description": "Input for updating account settings",
        "properties": {
          "company": {
            "type": "string",
            "description": "Company name"
          },
          "firstname": {
            "type": "string",
            "description": "First name"
          },
          "lastname": {
            "type": "string",
            "description": "Last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "phone": {
            "type": "string",
            "description": "Phone number"
          },
          "notify": {
            "type": "object",
            "description": "Notification preferences",
            "properties": {
              "billing": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "UsageWarnings": {
        "type": "object",
        "description": "Usage warning thresholds and notification settings",
        "properties": {
          "warn": {
            "type": "object",
            "description": "Warning level configuration",
            "properties": {
              "queries": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether query usage warnings are enabled"
                  },
                  "threshold": {
                    "type": "integer",
                    "description": "Query count threshold that triggers the warning"
                  }
                }
              },
              "records": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether record count warnings are enabled"
                  },
                  "threshold": {
                    "type": "integer",
                    "description": "Record count threshold that triggers the warning"
                  }
                }
              }
            }
          }
        }
      },
      "UsageWarningsInput": {
        "type": "object",
        "description": "Input for updating usage warning settings",
        "properties": {
          "warn": {
            "type": "object",
            "properties": {
              "queries": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  },
                  "threshold": {
                    "type": "integer"
                  }
                }
              },
              "records": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  },
                  "threshold": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "Team": {
        "type": "object",
        "description": "An account team with specific permissions",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique team identifier"
          },
          "name": {
            "type": "string",
            "description": "Team name"
          },
          "permissions": {
            "$ref": "#/components/schemas/Permissions"
          },
          "ip_whitelist": {
            "type": "array",
            "description": "IP addresses allowed for this team",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "TeamInput": {
        "type": "object",
        "description": "Input for creating or updating a team",
        "properties": {
          "name": {
            "type": "string",
            "description": "Team name"
          },
          "permissions": {
            "$ref": "#/components/schemas/Permissions"
          },
          "ip_whitelist": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Permissions": {
        "type": "object",
        "description": "Permission set for teams and API keys",
        "properties": {
          "dns": {
            "type": "object",
            "description": "DNS-related permissions",
            "properties": {
              "view_zones": {
                "type": "boolean"
              },
              "manage_zones": {
                "type": "boolean"
              },
              "zones_allow_by_default": {
                "type": "boolean"
              },
              "zones_deny": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "zones_allow": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "data": {
            "type": "object",
            "description": "Data source and feed permissions",
            "properties": {
              "push_to_datafeeds": {
                "type": "boolean"
              },
              "manage_datasources": {
                "type": "boolean"
              },
              "manage_datafeeds": {
                "type": "boolean"
              }
            }
          },
          "account": {
            "type": "object",
            "description": "Account management permissions",
            "properties": {
              "manage_users": {
                "type": "boolean"
              },
              "manage_payment_methods": {
                "type": "boolean"
              },
              "manage_plan": {
                "type": "boolean"
              },
              "manage_teams": {
                "type": "boolean"
              },
              "manage_apikeys": {
                "type": "boolean"
              },
              "manage_account_settings": {
                "type": "boolean"
              },
              "view_activity_log": {
                "type": "boolean"
              },
              "view_invoices": {
                "type": "boolean"
              }
            }
          },
          "monitoring": {
            "type": "object",
            "description": "Monitoring permissions",
            "properties": {
              "manage_jobs": {
                "type": "boolean"
              },
              "manage_lists": {
                "type": "boolean"
              },
              "view_jobs": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "description": "An API key for authenticating with the NS1 API",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique API key identifier"
          },
          "key": {
            "type": "string",
            "description": "The API key value (only shown on creation)"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name for this key"
          },
          "permissions": {
            "$ref": "#/components/schemas/Permissions"
          },
          "teams": {
            "type": "array",
            "description": "Team IDs this key belongs to",
            "items": {
              "type": "string"
            }
          },
          "ip_whitelist": {
            "type": "array",
            "description": "IP addresses allowed for this key",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "ip_whitelist_strict": {
            "type": "boolean",
            "description": "Whether to enforce strict IP whitelist checking"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp of key creation"
          },
          "last_access": {
            "type": "integer",
            "description": "Unix timestamp of last key usage"
          }
        }
      },
      "ApiKeyInput": {
        "type": "object",
        "description": "Input for creating or updating an API key",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name"
          },
          "permissions": {
            "$ref": "#/components/schemas/Permissions"
          },
          "teams": {
            "type": "array",
            "description": "Team IDs to assign",
            "items": {
              "type": "string"
            }
          },
          "ip_whitelist": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "ip_whitelist_strict": {
            "type": "boolean",
            "description": "Enforce strict IP whitelist checking"
          }
        }
      },
      "QpsStats": {
        "type": "object",
        "description": "Current queries per second statistics",
        "properties": {
          "qps": {
            "type": "number",
            "format": "double",
            "description": "Current queries per second"
[...]
