{
  "openapi": "3.0.3",
  "info": {
    "title": "Harvard Art Museums API",
    "version": "1.0.0",
    "description": "The Harvard Art Museums API is a REST-style service designed for developers who wish to explore and integrate the museums' collections in their projects. The API provides direct access to the data that powers the museums' website.",
    "contact": {
      "name": "Harvard Art Museums",
      "url": "https://harvardartmuseums.org"
    },
    "x-jentic-source-url": "https://github.com/harvardartmuseums/api-docs"
  },
  "servers": [
    { "url": "https://api.harvardartmuseums.org" }
  ],
  "security": [
    { "apikey": [] }
  ],
  "tags": [
    { "name": "Object", "description": "Museum object operations" },
    { "name": "Person", "description": "Artist and person information" },
    { "name": "Exhibition", "description": "Exhibition information" },
    { "name": "Gallery", "description": "Museum gallery information" },
    { "name": "Publication", "description": "Museum publication data" }
  ],
  "paths": {
    "/object": {
      "get": {
        "operationId": "listObjects",
        "tags": ["Object"],
        "summary": "List objects",
        "description": "Returns a list of collection objects. Results can be filtered by various parameters.",
        "parameters": [
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "q", "in": "query", "required": false, "description": "Search term", "schema": { "type": "string" } },
          { "name": "title", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "classification", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "medium", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "culture", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "century", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "size", "in": "query", "required": false, "description": "Records per page (max 100)", "schema": { "type": "integer", "minimum": 1, "maximum": 100 } },
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1 } },
          { "name": "fields", "in": "query", "required": false, "description": "Comma-separated list of fields to return", "schema": { "type": "string" } },
          { "name": "aggregation", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "sort", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "sortorder", "in": "query", "required": false, "schema": { "type": "string", "enum": ["asc", "desc"] } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ObjectListResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/object/{id}": {
      "get": {
        "operationId": "getObject",
        "tags": ["Object"],
        "summary": "Get a single object",
        "description": "Returns a single museum object by its ID.",
        "parameters": [
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MuseumObject" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/person": {
      "get": {
        "operationId": "listPersons",
        "tags": ["Person"],
        "summary": "List persons",
        "description": "Returns a list of artists and other persons associated with the museums' collections.",
        "parameters": [
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "q", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "name", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "size", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PersonListResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/person/{id}": {
      "get": {
        "operationId": "getPerson",
        "tags": ["Person"],
        "summary": "Get a single person",
        "description": "Returns a single person by their ID.",
        "parameters": [
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Person" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/exhibition": {
      "get": {
        "operationId": "listExhibitions",
        "tags": ["Exhibition"],
        "summary": "List exhibitions",
        "description": "Returns a list of exhibitions at the Harvard Art Museums.",
        "parameters": [
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "q", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "size", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ExhibitionListResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/gallery": {
      "get": {
        "operationId": "listGalleries",
        "tags": ["Gallery"],
        "summary": "List galleries",
        "description": "Returns a list of galleries in the Harvard Art Museums.",
        "parameters": [
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "size", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "page", "in": "query", "required": false, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GalleryListResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apikey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "API key passed as a query parameter"
      }
    },
    "schemas": {
      "InfoBlock": {
        "type": "object",
        "properties": {
          "totalrecordsperquery": { "type": "integer" },
          "totalrecords": { "type": "integer" },
          "pages": { "type": "integer" },
          "page": { "type": "integer" },
          "next": { "type": "string" },
          "prev": { "type": "string" },
          "responsetime": { "type": "string" }
        }
      },
      "MuseumObject": {
        "type": "object",
        "properties": {
          "objectid": { "type": "integer" },
          "objectnumber": { "type": "string" },
          "title": { "type": "string" },
          "dated": { "type": "string" },
          "datebegin": { "type": "integer" },
          "dateend": { "type": "integer" },
          "classification": { "type": "string" },
          "medium": { "type": "string" },
          "technique": { "type": "string" },
          "culture": { "type": "string" },
          "department": { "type": "string" },
          "division": { "type": "string" },
          "creditline": { "type": "string" },
          "description": { "type": "string" },
          "primaryimageurl": { "type": "string" },
          "baseimageurl": { "type": "string" },
          "url": { "type": "string" },
          "lastupdate": { "type": "string" },
          "people": { "type": "array", "items": { "type": "object" } },
          "images": { "type": "array", "items": { "type": "object" } }
        }
      },
      "ObjectListResponse": {
        "type": "object",
        "properties": {
          "info": { "$ref": "#/components/schemas/InfoBlock" },
          "records": { "type": "array", "items": { "$ref": "#/components/schemas/MuseumObject" } },
          "aggregations": { "type": "object" }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "personid": { "type": "integer" },
          "name": { "type": "string" },
          "displayname": { "type": "string" },
          "gender": { "type": "string" },
          "culture": { "type": "string" },
          "birthplace": { "type": "string" },
          "deathplace": { "type": "string" },
          "datebegin": { "type": "integer" },
          "dateend": { "type": "integer" },
          "url": { "type": "string" }
        }
      },
      "PersonListResponse": {
        "type": "object",
        "properties": {
          "info": { "$ref": "#/components/schemas/InfoBlock" },
          "records": { "type": "array", "items": { "$ref": "#/components/schemas/Person" } }
        }
      },
      "Exhibition": {
        "type": "object",
        "properties": {
          "exhibitionid": { "type": "integer" },
          "title": { "type": "string" },
          "begindate": { "type": "string" },
          "enddate": { "type": "string" },
          "venues": { "type": "array", "items": { "type": "object" } },
          "url": { "type": "string" }
        }
      },
      "ExhibitionListResponse": {
        "type": "object",
        "properties": {
          "info": { "$ref": "#/components/schemas/InfoBlock" },
          "records": { "type": "array", "items": { "$ref": "#/components/schemas/Exhibition" } }
        }
      },
      "Gallery": {
        "type": "object",
        "properties": {
          "galleryid": { "type": "integer" },
          "gallerynumber": { "type": "string" },
          "name": { "type": "string" },
          "theme": { "type": "string" },
          "floor": { "type": "integer" },
          "url": { "type": "string" }
        }
      },
      "GalleryListResponse": {
        "type": "object",
        "properties": {
          "info": { "$ref": "#/components/schemas/InfoBlock" },
          "records": { "type": "array", "items": { "$ref": "#/components/schemas/Gallery" } }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    }
  }
}
