{
  "openapi": "3.0.3",
  "info": {
    "title": "Dailymotion API",
    "description": "Dailymotion Developer API for managing videos, playlists, players, users, and subtitles on the Dailymotion video platform.",
    "version": "1.0.0",
    "contact": {
      "name": "Dailymotion Developer Support",
      "url": "https://developers.dailymotion.com/"
    },
    "termsOfService": "https://www.dailymotion.com/legal/terms"
  },
  "servers": [
    {
      "url": "https://api.dailymotion.com",
      "description": "Dailymotion API Production Server"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Request access token",
        "description": "Obtain an OAuth 2.0 access token using client credentials, authorization code, or password grant type.",
        "operationId": "requestAccessToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["grant_type", "client_id", "client_secret"],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": ["client_credentials", "authorization_code", "password", "refresh_token"],
                    "description": "The OAuth 2.0 grant type"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Your application client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Your application client secret"
                  },
                  "username": {
                    "type": "string",
                    "description": "User's username (for password grant)"
                  },
                  "password": {
                    "type": "string",
                    "description": "User's password (for password grant)"
                  },
                  "code": {
                    "type": "string",
                    "description": "Authorization code (for authorization_code grant)"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "Redirect URI (for authorization_code grant)"
                  },
                  "refresh_token": {
                    "type": "string",
                    "description": "Refresh token (for refresh_token grant)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful token response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/file/upload": {
      "get": {
        "tags": ["Upload"],
        "summary": "Get upload URL",
        "description": "Retrieve a URL to upload a video file.",
        "operationId": "getUploadUrl",
        "responses": {
          "200": {
            "description": "Upload URL returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "upload_url": {
                      "type": "string",
                      "description": "URL to upload the video file to"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/videos": {
      "get": {
        "tags": ["Videos"],
        "summary": "List videos",
        "description": "Retrieve a list of videos with optional filters.",
        "operationId": "listVideos",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": ["recent", "relevance", "random", "old"]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search query string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Filter by channel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of videos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Videos"],
        "summary": "Create a video",
        "description": "Create a new video on the platform.",
        "operationId": "createVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Video"
                }
              }
            }
          }
        }
      }
    },
    "/video/{video_id}": {
      "get": {
        "tags": ["Videos"],
        "summary": "Get a video",
        "description": "Retrieve details of a specific video.",
        "operationId": "getVideo",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "description": "The video ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Video"
                }
              }
            }
          },
          "404": {
            "description": "Video not found"
          }
        }
      },
      "post": {
        "tags": ["Videos"],
        "summary": "Edit a video",
        "description": "Update an existing video's metadata.",
        "operationId": "editVideo",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "description": "The video ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Video"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Videos"],
        "summary": "Delete a video",
        "description": "Remove a video from the platform.",
        "operationId": "deleteVideo",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "description": "The video ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video deleted"
          },
          "404": {
            "description": "Video not found"
          }
        }
      }
    },
    "/user/{user_id}/videos": {
      "get": {
        "tags": ["Videos"],
        "summary": "List user's videos",
        "description": "Retrieve videos belonging to a specific user.",
        "operationId": "listUserVideos",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "The user ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of user's videos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoList"
                }
              }
            }
          }
        }
      }
    },
    "/playlists": {
      "get": {
        "tags": ["Playlists"],
        "summary": "List playlists",
        "description": "Retrieve a list of playlists.",
        "operationId": "listPlaylists",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of playlists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaylistList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Playlists"],
        "summary": "Create a playlist",
        "description": "Create a new playlist.",
        "operationId": "createPlaylist",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaylistInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Playlist created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Playlist"
                }
              }
            }
          }
        }
      }
    },
    "/playlist/{playlist_id}": {
      "get": {
        "tags": ["Playlists"],
        "summary": "Get a playlist",
        "description": "Retrieve details of a specific playlist.",
        "operationId": "getPlaylist",
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "required": true,
            "description": "The playlist ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Playlist"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Playlists"],
        "summary": "Edit a playlist",
        "description": "Update an existing playlist's metadata.",
        "operationId": "editPlaylist",
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaylistInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Playlist updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Playlist"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Playlists"],
        "summary": "Delete a playlist",
        "description": "Remove a playlist.",
        "operationId": "deletePlaylist",
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist deleted"
          }
        }
      }
    },
    "/playlist/{playlist_id}/videos": {
      "get": {
        "tags": ["Playlists"],
        "summary": "List videos in playlist",
        "description": "Retrieve videos contained in a specific playlist.",
        "operationId": "listPlaylistVideos",
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Videos in playlist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Playlists"],
        "summary": "Add videos to playlist",
        "description": "Add one or more videos to a playlist.",
        "operationId": "addVideosToPlaylist",
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of video IDs to add"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Videos added to playlist"
          }
        }
      },
      "delete": {
        "tags": ["Playlists"],
        "summary": "Remove videos from playlist",
        "description": "Remove all videos from a playlist.",
        "operationId": "removeVideosFromPlaylist",
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Videos removed from playlist"
          }
        }
      }
    },
    "/playlist/{playlist_id}/videos/{video_id}": {
      "delete": {
        "tags": ["Playlists"],
        "summary": "Remove a video from playlist",
        "description": "Remove a specific video from a playlist.",
        "operationId": "removeVideoFromPlaylist",
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video removed from playlist"
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": ["Users"],
        "summary": "List users",
        "description": "Retrieve a list of users.",
        "operationId": "listUsers",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search users by username or screenname",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserList"
                }
              }
            }
          }
        }
      }
    },
    "/user/{user_id}": {
      "get": {
        "tags": ["Users"],
        "summary": "Get a user",
        "description": "Retrieve details of a specific user.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "The user ID or username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "post": {
        "tags": ["Users"],
        "summary": "Edit a user",
        "description": "Update an existing user's profile information.",
        "operationId": "editUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "screenname": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/user/{user_id}/playlists": {
      "get": {
        "tags": ["Users"],
        "summary": "List user's playlists",
        "description": "Retrieve playlists belonging to a specific user.",
        "operationId": "listUserPlaylists",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of user's playlists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaylistList"
                }
              }
            }
          }
        }
      }
    },
    "/video/{video_id}/subtitles": {
      "get": {
        "tags": ["Subtitles"],
        "summary": "List subtitles",
        "description": "Retrieve subtitles associated with a video.",
        "operationId": "listSubtitles",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subtitles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subtitle"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Subtitles"],
        "summary": "Add subtitles",
        "description": "Add subtitles to a video.",
        "operationId": "addSubtitles",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["language", "url"],
                "properties": {
                  "language": {
                    "type": "string",
                    "description": "Language code (e.g., en, fr)"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL to the subtitle file"
                  },
                  "format": {
                    "type": "string",
                    "description": "Subtitle format (e.g., srt, vtt)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subtitles added"
          }
        }
      }
    },
    "/video/{video_id}/subtitles/{language}": {
      "delete": {
        "tags": ["Subtitles"],
        "summary": "Remove subtitles",
        "description": "Remove subtitles in a specific language from a video.",
        "operationId": "removeSubtitles",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "description": "Language code of the subtitles to remove",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subtitles removed"
          }
        }
      }
    },
    "/players": {
      "get": {
        "tags": ["Players"],
        "summary": "List players",
        "description": "Retrieve a list of configured players.",
        "operationId": "listPlayers",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of players",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Players"],
        "summary": "Create a player",
        "description": "Create a new player configuration.",
        "operationId": "createPlayer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlayerInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Player created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Player"
                }
              }
            }
          }
        }
      }
    },
    "/player/{player_id}": {
      "get": {
        "tags": ["Players"],
        "summary": "Get a player",
        "description": "Retrieve details of a specific player configuration.",
        "operationId": "getPlayer",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Player details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Player"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Players"],
        "summary": "Edit a player",
        "description": "Update an existing player configuration.",
        "operationId": "editPlayer",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlayerInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Player updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Player"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Players"],
        "summary": "Delete a player",
        "description": "Remove a player configuration.",
        "operationId": "deletePlayer",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Player deleted"
          }
        }
      }
    },
    "/channels": {
      "get": {
        "tags": ["Channels"],
        "summary": "List channels",
        "description": "Retrieve a list of available channels.",
        "operationId": "listChannels",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of channels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Channel"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/channel/{channel_id}": {
      "get": {
        "tags": ["Channels"],
        "summary": "Get a channel",
        "description": "Retrieve details of a specific channel.",
        "operationId": "getChannel",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          }
        }
      }
    },
    "/channel/{channel_id}/videos": {
      "get": {
        "tags": ["Channels"],
        "summary": "List channel videos",
        "description": "Retrieve videos in a specific channel.",
        "operationId": "listChannelVideos",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Videos in channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoList"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.dailymotion.com/oauth/token",
            "scopes": {}
          },
          "authorizationCode": {
            "authorizationUrl": "https://api.dailymotion.com/oauth/authorize",
            "tokenUrl": "https://api.dailymotion.com/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          },
          "refresh_token": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          }
        }
      },
      "Video": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "duration": {
            "type": "integer",
            "description": "Duration in seconds"
          },
          "created_time": {
            "type": "integer",
            "description": "Unix timestamp of creation"
          },
          "thumbnail_url": {
            "type": "string"
          },
          "embed_url": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "views_total": {
            "type": "integer"
          },
          "language": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["processing", "published", "rejected", "deleted"]
          },
          "private": {
            "type": "boolean"
          },
          "published": {
            "type": "boolean"
          }
        }
      },
      "VideoInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "language": {
            "type": "string"
          },
          "private": {
            "type": "boolean"
          },
          "published": {
            "type": "boolean"
          },
          "url": {
            "type": "string",
            "description": "Upload URL returned from the upload endpoint"
          },
          "thumbnail_url": {
            "type": "string"
          },
          "player_id": {
            "type": "string"
          }
        }
      },
      "VideoList": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          },
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Video"
            }
          }
        }
      },
      "Playlist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "videos_total": {
            "type": "integer"
          },
          "created_time": {
            "type": "integer"
          },
          "thumbnail_url": {
            "type": "string"
          }
        }
      },
      "PlaylistInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "PlaylistList": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          },
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Playlist"
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "screenname": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "avatar_url": {
            "type": "string"
          },
          "cover_url": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "created_time": {
            "type": "integer"
          },
          "videos_total": {
            "type": "integer"
          },
          "followers_total": {
            "type": "integer"
          },
          "following_total": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "UserList": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          },
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          }
        }
      },
      "Player": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "default": {
            "type": "boolean"
          },
          "created_time": {
            "type": "integer"
          },
          "chromeless": {
            "type": "boolean"
          },
          "autoplay": {
            "type": "boolean"
          },
          "loop": {
            "type": "boolean"
          },
          "mute": {
            "type": "boolean"
          }
        }
      },
      "PlayerInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "chromeless": {
            "type": "boolean"
          },
          "autoplay": {
            "type": "boolean"
          },
          "loop": {
            "type": "boolean"
          },
          "mute": {
            "type": "boolean"
          },
          "default": {
            "type": "boolean"
          }
        }
      },
      "PlayerList": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          },
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Player"
            }
          }
        }
      },
      "Subtitle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "format": {
            "type": "string"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_time": {
            "type": "integer"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth 2.0 authentication endpoints"
    },
    {
      "name": "Upload",
      "description": "Video upload operations"
    },
    {
      "name": "Videos",
      "description": "Video management operations"
    },
    {
      "name": "Playlists",
      "description": "Playlist management operations"
    },
    {
      "name": "Users",
      "description": "User management operations"
    },
    {
      "name": "Players",
      "description": "Player configuration operations"
    },
    {
      "name": "Subtitles",
      "description": "Subtitle management operations"
    },
    {
      "name": "Channels",
      "description": "Channel browsing operations"
    }
  ]
}
