{
  "openapi": "3.0.3",
  "info": {
    "title": "NASA FIRMS Fire Information API",
    "version": "1.0.0",
    "description": "NASA Fire Information for Resource Management System (FIRMS) API provides near real-time active fire data from MODIS and VIIRS satellite instruments.",
    "x-jentic-source-url": "https://firms.modaps.eosdis.nasa.gov/api/"
  },
  "servers": [
    {
      "url": "https://firms.modaps.eosdis.nasa.gov/api"
    }
  ],
  "paths": {
    "/area/csv/{api_key}/{source}/{area}/{days}": {
      "get": {
        "operationId": "getFireDataByAreaCsv",
        "summary": "Get fire data by area (CSV)",
        "description": "Returns active fire data for a bounding box area in CSV format",
        "tags": [
          "Fire Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "MAP_KEY from FIRMS"
          },
          {
            "name": "source",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "VIIRS_NOAA20_NRT",
                "VIIRS_SNPP_NRT",
                "MODIS_NRT",
                "VIIRS_NOAA20_SP",
                "VIIRS_SNPP_SP",
                "MODIS_SP"
              ]
            },
            "description": "Data source/satellite instrument"
          },
          {
            "name": "area",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bounding box (west,south,east,north) or country abbreviation"
          },
          {
            "name": "days",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10
            },
            "description": "Number of days (1-10)"
          }
        ],
        "responses": {
          "200": {
            "description": "CSV data of fire hotspots"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/area/json/{api_key}/{source}/{area}/{days}": {
      "get": {
        "operationId": "getFireDataByAreaJson",
        "summary": "Get fire data by area (JSON)",
        "description": "Returns active fire data for a bounding box area in JSON format",
        "tags": [
          "Fire Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "MAP_KEY"
          },
          {
            "name": "source",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Data source"
          },
          {
            "name": "area",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bounding box or country code"
          },
          {
            "name": "days",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10
            },
            "description": "Number of days"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON fire data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FirePoint"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/country/csv/{api_key}/{source}/{country}/{days}": {
      "get": {
        "operationId": "getFireDataByCountryCsv",
        "summary": "Get fire data by country (CSV)",
        "description": "Returns active fire data for a country in CSV format",
        "tags": [
          "Fire Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "MAP_KEY"
          },
          {
            "name": "source",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Data source"
          },
          {
            "name": "country",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "3-letter country code (e.g., USA, BRA)"
          },
          {
            "name": "days",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10
            },
            "description": "Number of days"
          }
        ],
        "responses": {
          "200": {
            "description": "CSV data"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data_availability": {
      "get": {
        "operationId": "getDataAvailability",
        "summary": "Check data availability",
        "description": "Returns available date ranges for each data source",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Data availability info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FirePoint": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "brightness": {
            "type": "number"
          },
          "scan": {
            "type": "number"
          },
          "track": {
            "type": "number"
          },
          "acq_date": {
            "type": "string"
          },
          "acq_time": {
            "type": "string"
          },
          "satellite": {
            "type": "string"
          },
          "instrument": {
            "type": "string"
          },
          "confidence": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "bright_t31": {
            "type": "number"
          },
          "frp": {
            "type": "number"
          },
          "daynight": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "path",
        "name": "api_key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}