{
  "openapi": "3.0.3",
  "info": {
    "title": "JoggAI API",
    "version": "2.0.0",
    "description": "AI video generation API for creating avatar videos, product videos, lip sync videos, and video translations.",
    "x-jentic-source-url": "https://docs.jogg.ai/api-reference/QuickStart/GettingStarted"
  },
  "servers": [
    {
      "url": "https://api.jogg.ai"
    }
  ],
  "paths": {
    "/v2/user/whoami": {
      "get": {
        "operationId": "getUserInfo",
        "summary": "Get user information",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/user/remaining-quota": {
      "get": {
        "operationId": "getRemainingQuota",
        "summary": "Get remaining quota",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/create_video_from_avatar": {
      "post": {
        "operationId": "createVideoFromAvatar",
        "summary": "Create avatar video",
        "tags": [
          "Videos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAvatarVideoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCreationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/create_video_from_product": {
      "post": {
        "operationId": "createVideoFromProduct",
        "summary": "Create product video",
        "tags": [
          "Videos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductVideoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCreationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/create_video_with_template": {
      "post": {
        "operationId": "createVideoWithTemplate",
        "summary": "Create video from template",
        "tags": [
          "Videos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/avatar_video/{id}": {
      "get": {
        "operationId": "getAvatarVideoStatus",
        "summary": "Get avatar video status",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/product_video/{id}": {
      "get": {
        "operationId": "getProductVideoStatus",
        "summary": "Get product video status",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/template_video/{id}": {
      "get": {
        "operationId": "getTemplateVideoStatus",
        "summary": "Get template video status",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/lip_sync": {
      "post": {
        "operationId": "createLipSyncVideo",
        "summary": "Create lip sync video",
        "tags": [
          "Lip Sync"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/lip_sync/{id}": {
      "get": {
        "operationId": "getLipSyncVideo",
        "summary": "Get lip sync video status",
        "tags": [
          "Lip Sync"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/video_translate": {
      "post": {
        "operationId": "translateVideo",
        "summary": "Translate a video",
        "tags": [
          "Translation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/video_translate/{id}": {
      "get": {
        "operationId": "getVideoTranslation",
        "summary": "Get video translation status",
        "tags": [
          "Translation"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/video_translate/target_languages": {
      "get": {
        "operationId": "getTargetLanguages",
        "summary": "List target languages for translation",
        "tags": [
          "Translation"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/products": {
      "post": {
        "operationId": "createProduct",
        "summary": "Create a product",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/products/{id}": {
      "put": {
        "operationId": "updateProduct",
        "summary": "Update a product",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/templates": {
      "get": {
        "operationId": "getTemplates",
        "summary": "List templates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/templates/{id}": {
      "get": {
        "operationId": "getTemplateById",
        "summary": "Get template by ID",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/avatars/public": {
      "get": {
        "operationId": "getPublicAvatars",
        "summary": "List public avatars",
        "tags": [
          "Avatars"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/avatars/custom": {
      "get": {
        "operationId": "getCustomAvatars",
        "summary": "List custom avatars",
        "tags": [
          "Avatars"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/photo_avatar/generate": {
      "post": {
        "operationId": "generatePhotoAvatar",
        "summary": "Generate photo avatar",
        "tags": [
          "Avatars"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/photo_avatars": {
      "get": {
        "operationId": "getPhotoAvatars",
        "summary": "List photo avatars",
        "tags": [
          "Avatars"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/voices": {
      "get": {
        "operationId": "getVoices",
        "summary": "List voices",
        "tags": [
          "Voices"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/voices/custom": {
      "get": {
        "operationId": "getCustomVoices",
        "summary": "List custom voices",
        "tags": [
          "Voices"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/assets/upload": {
      "post": {
        "operationId": "uploadAsset",
        "summary": "Upload media asset",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/assets/music": {
      "get": {
        "operationId": "getBackgroundMusic",
        "summary": "Get background music",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/assets/visual_styles": {
      "get": {
        "operationId": "getVisualStyles",
        "summary": "Get visual styles",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/ai_script": {
      "post": {
        "operationId": "createAIScript",
        "summary": "Create AI script",
        "tags": [
          "Scripts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/ai_script/{id}": {
      "get": {
        "operationId": "getAIScriptResult",
        "summary": "Get AI script result",
        "tags": [
          "Scripts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/endpoint": {
      "post": {
        "operationId": "addWebhookEndpoint",
        "summary": "Add webhook endpoint",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEndpointRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listWebhookEndpoints",
        "summary": "List webhook endpoints",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/endpoint/{id}": {
      "put": {
        "operationId": "updateWebhookEndpoint",
        "summary": "Update webhook endpoint",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhookEndpoint",
        "summary": "Delete webhook endpoint",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/webhook/events": {
      "get": {
        "operationId": "listWebhookEvents",
        "summary": "List webhook events",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UserInfoResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string"
              },
              "username": {
                "type": "string"
              }
            }
          }
        }
      },
      "CreateAvatarVideoRequest": {
        "type": "object",
        "required": [
          "avatar",
          "voice",
          "aspect_ratio",
          "screen_style"
        ],
        "properties": {
          "avatar": {
            "type": "object",
            "properties": {
              "avatar_type": {
                "type": "integer",
                "description": "0=public, 1=custom"
              },
              "avatar_id": {
                "type": "integer"
              }
            }
          },
          "voice": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "script",
                  "audio"
                ]
              },
              "voice_id": {
                "type": "string"
              },
              "script": {
                "type": "string"
              },
              "audio_url": {
                "type": "string"
              }
            }
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "portrait",
              "landscape",
              "square"
            ]
          },
          "screen_style": {
            "type": "integer",
            "description": "1=fullscreen, 2=split, 3=picture-in-picture"
          },
          "caption": {
            "type": "boolean"
          },
          "webhook_url": {
            "type": "string"
          },
          "video_name": {
            "type": "string"
          }
        }
      },
      "CreateProductVideoRequest": {
        "type": "object",
        "required": [
          "product_id",
          "video_spec",
          "avatar",
          "voice"
        ],
        "properties": {
          "product_id": {
            "type": "string"
          },
          "video_spec": {
            "type": "object",
            "properties": {
              "aspect_ratio": {
                "type": "string"
              },
              "length": {
                "type": "string"
              },
              "caption": {
                "type": "boolean"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "avatar": {
            "type": "object"
          },
          "voice": {
            "type": "object"
          },
          "audio": {
            "type": "object"
          },
          "script": {
            "type": "object"
          },
          "visual_style": {
            "type": "string"
          },
          "webhook_url": {
            "type": "string"
          }
        }
      },
      "VideoCreationResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "video_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "VideoStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "video_id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "processing",
                  "completed",
                  "failed"
                ]
              },
              "video_url": {
                "type": "string"
              },
              "cover_url": {
                "type": "string"
              },
              "created_at": {
                "type": "integer"
              }
            }
          }
        }
      },
      "WebhookEndpointRequest": {
        "type": "object",
        "required": [
          "url",
          "status",
          "events"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "status": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ]
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WebhookEndpointResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "endpoint_id": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "secret": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "events": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "msg": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}