{
  "openapi": "3.0.3",
  "info": {
    "title": "Adaptek KonnexMe API",
    "description": "API for the KonnexMe Portal by Adaptek. Manage advisors, agencies, applications, files, folders, branding, assets, and various business operations for virtual advisor and client relationship management.",
    "version": "v1",
    "x-jentic-source-url": "https://api.adaptek.net/index.html"
  },
  "servers": [
    {
      "url": "https://api.adaptek.net",
      "description": "Adaptek API server"
    }
  ],
  "paths": {
    "/v1/Advisors/{advisorId}": {
      "get": {
        "operationId": "getAdvisor",
        "summary": "Retrieve advisor details",
        "tags": [
          "Advisors"
        ],
        "parameters": [
          {
            "name": "advisorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Advisor details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdvisorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Advisor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateAdvisor",
        "summary": "Update advisor information",
        "tags": [
          "Advisors"
        ],
        "parameters": [
          {
            "name": "advisorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAdvisorCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Advisor updated successfully"
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Advisors/{advisorId}/holdingCompany": {
      "put": {
        "operationId": "assignAdvisorToHoldingCompany",
        "summary": "Assign advisor to holding company",
        "tags": [
          "Advisors"
        ],
        "parameters": [
          {
            "name": "advisorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignAdvisorCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Advisor assigned successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Advisors/{userId}": {
      "get": {
        "operationId": "getAdvisorByPortalId",
        "summary": "Get advisor by portal user ID",
        "tags": [
          "Advisors"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Advisor details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdvisorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Advisor not found"
          }
        }
      }
    },
    "/v2/Advisors/portalidtodefaultadvisorid/{portalId}": {
      "get": {
        "operationId": "mapPortalIdToAdvisorId",
        "summary": "Map portal ID to default advisor ID",
        "tags": [
          "Advisors"
        ],
        "parameters": [
          {
            "name": "portalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Advisor ID mapping"
          }
        }
      }
    },
    "/v1/Advisors/authorized": {
      "get": {
        "operationId": "getAuthorizedAdvisors",
        "summary": "Retrieve authorized advisors",
        "tags": [
          "Advisors"
        ],
        "responses": {
          "200": {
            "description": "List of authorized advisors"
          }
        }
      }
    },
    "/v1/Advisors/fmoadvisorsforsearch": {
      "get": {
        "operationId": "listFmoAdvisorsForSearch",
        "summary": "List FMO advisors for search",
        "tags": [
          "Advisors"
        ],
        "responses": {
          "200": {
            "description": "List of FMO advisors"
          }
        }
      }
    },
    "/v1/Advisors/{advisorId}/Affiliations": {
      "put": {
        "operationId": "updateAdvisorAffiliations",
        "summary": "Manage advisor app access affiliations",
        "tags": [
          "Advisors"
        ],
        "parameters": [
          {
            "name": "advisorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliationsModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Affiliations updated"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/Advisors/holdingcompanyadvisors": {
      "get": {
        "operationId": "getHoldingCompanyAdvisors",
        "summary": "Get holding company advisors",
        "tags": [
          "Advisors"
        ],
        "responses": {
          "200": {
            "description": "List of holding company advisors"
          }
        }
      }
    },
    "/v1/Advisors/fmoagentvaults/{fmoId}": {
      "get": {
        "operationId": "getFmoAgentVaults",
        "summary": "Retrieve agent vault information for an FMO",
        "tags": [
          "Advisors"
        ],
        "parameters": [
          {
            "name": "fmoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent vault information"
          }
        }
      }
    },
    "/Advisors/linkedAdvisor/{userId}": {
      "get": {
        "operationId": "getLinkedAdvisor",
        "summary": "Fetch linked advisor with company details",
        "tags": [
          "Advisors"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Linked advisor details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPortalLinkedAdvisorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Advisors/getAdvisorWithCompanyDetail/{advisorId}": {
      "get": {
        "operationId": "getAdvisorWithCompanyDetail",
        "summary": "Get advisor with FMO and company data",
        "tags": [
          "Advisors"
        ],
        "parameters": [
          {
            "name": "advisorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Advisor with company detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdvisorWithCompanyDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Advisors/changePortalUserAgent": {
      "put": {
        "operationId": "changePortalUserAgent",
        "summary": "Switch agent assignment for portal user",
        "tags": [
          "Advisors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "advisorId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent assignment updated"
          }
        }
      }
    },
    "/v1/Advisors/{advisorId}/AlertPreferences": {
      "get": {
        "operationId": "listAlertPreferences",
        "summary": "List advisor alert preferences",
        "tags": [
          "AlertPreferences"
        ],
        "parameters": [
          {
            "name": "advisorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert preferences list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdvisorAlertPreferencesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "upsertAlertPreference",
        "summary": "Create or update an alert preference",
        "tags": [
          "AlertPreferences"
        ],
        "parameters": [
          {
            "name": "advisorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertAlertPreferenceCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alert preference saved"
          },
          "201": {
            "description": "Alert preference created"
          }
        }
      }
    },
    "/v1/Advisors/{advisorId}/Availabilities": {
      "get": {
        "operationId": "listAdvisorAvailabilities",
        "summary": "Get advisor availability slots",
        "tags": [
          "Availabilities"
        ],
        "parameters": [
          {
            "name": "advisorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability slots",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdvisorAvailabilityResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAdvisorAvailability",
        "summary": "Create advisor availability slot",
        "tags": [
          "Availabilities"
        ],
        "parameters": [
          {
            "name": "advisorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAdvisorAvailabilityCommand"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Availability created"
          }
        }
      }
    },
    "/v1/Advisors/{advisorId}/Availabilities/{availabilityId}": {
      "delete": {
        "operationId": "deleteAdvisorAvailability",
        "summary": "Remove advisor availability slot",
        "tags": [
          "Availabilities"
        ],
        "parameters": [
          {
            "name": "advisorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "availabilityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability deleted"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/v1/Agencies/{agencyId}": {
      "get": {
        "operationId": "getAgency",
        "summary": "Retrieve agency information",
        "tags": [
          "Agencies"
        ],
        "parameters": [
          {
            "name": "agencyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agency details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAgencyResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateAgency",
        "summary": "Update agency details",
        "tags": [
          "Agencies"
        ],
        "parameters": [
          {
            "name": "agencyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgencyCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agency updated"
          }
        }
      }
    },
    "/v1/Agencies/{agencyId}/Advisors/{advisorId}/Images": {
      "get": {
        "operationId": "getAdvisorProfileImage",
        "summary": "Get advisor profile picture",
        "tags": [
          "AgencyImages"
        ],
        "parameters": [
          {
            "name": "agencyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "advisorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Advisor profile image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAgencyImageResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "uploadAdvisorProfileImage",
        "summary": "Upload advisor profile picture",
        "tags": [
          "AgencyImages"
        ],
        "parameters": [
          {
            "name": "agencyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "advisorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Image uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAgencyImageResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Agencies/{agencyId}/Images": {
      "get": {
        "operationId": "getAgencyLogo",
        "summary": "Retrieve agency logo",
        "tags": [
          "AgencyImages"
        ],
        "parameters": [
          {
            "name": "agencyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agency logo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAgencyImageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Applications/GetApplications": {
      "get": {
        "operationId": "listApplications",
        "summary": "List tracked applications",
        "tags": [
          "Applications"
        ],
        "responses": {
          "200": {
            "description": "List of applications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetApplicationResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Applications/GetIdentityApplications": {
      "get": {
        "operationId": "listIdentityApplications",
        "summary": "List identity applications",
        "tags": [
          "Applications"
        ],
        "responses": {
          "200": {
            "description": "List of identity applications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetApplicationResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Applications/{applicationId}": {
      "get": {
        "operationId": "getApplication",
        "summary": "Get specific application details",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApplicationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Applications/{applicationId}/Outputs": {
      "get": {
        "operationId": "listApplicationOutputs",
        "summary": "Retrieve application outputs with pagination",
        "tags": [
          "ApplicationOutputs"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application outputs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApplicationOutputResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createApplicationOutput",
        "summary": "Create new application output record",
        "tags": [
          "ApplicationOutputs"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationOutputCommand"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Output created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApplicationOutputResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Assets/byowners": {
      "get": {
        "operationId": "listAssetsByOwners",
        "summary": "List assets by owner IDs",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Assets list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Assets/casecentral/byowners": {
      "get": {
        "operationId": "listCaseCentralAssetsByOwners",
        "summary": "Get Case Central assets by owners",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Case Central assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ASBAgencyUsers": {
      "post": {
        "operationId": "convertAsbAgencyUser",
        "summary": "Convert ASB agency user",
        "tags": [
          "ASBAgencyUsers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "agencyId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User converted"
          }
        }
      }
    },
    "/v1/ASBAgencyUsers/{agencyUserId}/deactivate": {
      "patch": {
        "operationId": "deactivateAsbAgencyUser",
        "summary": "Deactivate ASB agency user",
        "tags": [
          "ASBAgencyUsers"
        ],
        "parameters": [
          {
            "name": "agencyUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deactivated"
          }
        }
      }
    },
    "/v1/ASBAgencyUsers/{agencyUserId}/activate": {
      "patch": {
        "operationId": "activateAsbAgencyUser",
        "summary": "Activate ASB agency user",
        "tags": [
          "ASBAgencyUsers"
        ],
        "parameters": [
          {
            "name": "agencyUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User activated"
          }
        }
      }
    },
    "/v1/ASBAgencyUsers/{agencyUserId}": {
      "patch": {
        "operationId": "updateAsbAgencyUser",
        "summary": "Update ASB agency user details",
        "tags": [
          "ASBAgencyUsers"
        ],
        "parameters": [
          {
            "name": "agencyUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated"
          }
        }
      }
    },
    "/v1/ExternalFmoAgencyUsers": {
      "post": {
        "operationId": "convertExternalFmoAgencyUser",
        "summary": "Convert external FMO agency user",
        "tags": [
          "ExternalFmoAgencyUsers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "agencyId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User converted"
          }
        }
      }
    },
    "/v1/ExternalFmoAgencyUsers/{agencyUserId}/deactivate": {
      "patch": {
        "operationId": "deactivateExternalFmoAgencyUser",
        "summary": "Deactivate external FMO agency user",
        "tags": [
          "ExternalFmoAgencyUsers"
        ],
        "parameters": [
          {
            "name": "agencyUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deactivated"
          }
        }
      }
    },
    "/v1/ExternalFmoAgencyUsers/{agencyUserId}/activate": {
      "patch": {
        "operationId": "activateExternalFmoAgencyUser",
        "summary": "Activate external FMO agency user",
        "tags": [
          "ExternalFmoAgencyUsers"
        ],
        "parameters": [
          {
            "name": "agencyUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User activated"
          }
        }
      }
    },
    "/v1/ExternalFmoAgencyUsers/{agencyUserId}": {
      "patch": {
        "operationId": "updateExternalFmoAgencyUser",
        "summary": "Update external FMO agency user details",
        "tags": [
          "ExternalFmoAgencyUsers"
        ],
        "parameters": [
          {
            "name": "agencyUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated"
          }
        }
      }
    },
    "/v1/Fmos/{fmoId}/Branding": {
      "get": {
        "operationId": "getFmoBranding",
        "summary": "Get FMO-specific branding",
        "tags": [
          "Branding"
        ],
        "parameters": [
          {
            "name": "fmoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "FMO branding resources"
          }
        }
      }
    },
    "/v1/Users/{portalId}/Branding": {
      "get": {
        "operationId": "getUserBranding",
        "summary": "Retrieve user branding",
        "tags": [
          "Branding"
        ],
        "parameters": [
          {
            "name": "portalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User branding resources"
          }
        }
      }
    },
    "/v1/Agencies/{agencyId}/Branding": {
      "get": {
        "operationId": "getAgencyBranding",
        "summary": "Get agency branding",
        "tags": [
          "Branding"
        ],
        "parameters": [
          {
            "name": "agencyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agency branding resources"
          }
        }
      }
    },
    "/v1/Advisors/{advisorId}/Branding": {
      "get": {
        "operationId": "getAdvisorBranding",
        "summary": "Retrieve advisor branding",
        "tags": [
          "Branding"
        ],
        "parameters": [
          {
            "name": "advisorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Advisor branding resources"
          }
        }
      }
    },
    "/v1/People/{personId}/Branding": {
      "get": {
        "operationId": "getPersonBranding",
        "summary": "Get person branding",
        "tags": [
          "Branding"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person branding resources"
          }
        }
      }
    },
    "/v1/Branding/Search": {
      "get": {
        "operationId": "searchBranding",
        "summary": "Search branding by key",
        "tags": [
          "Branding"
        ],
        "responses": {
          "200": {
            "description": "Matching branding resources"
          }
        }
      }
    },
    "/v1/Fmos": {
      "get": {
        "operationId": "listFmos",
        "summary": "List all FMOs",
        "tags": [
          "FMOs"
        ],
        "responses": {
          "200": {
            "description": "List of FMOs"
          }
        }
      },
      "post": {
        "operationId": "saveFmoResources",
        "summary": "Save FMO resources",
        "tags": [
          "FMOs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveResourcesCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resources saved"
          }
        }
      }
    },
    "/v1/Fmos/GetFmoDetailsByUserId": {
      "get": {
        "operationId": "getFmoDetailsByUserId",
        "summary": "Get FMO details by user ID",
        "tags": [
          "FMOs"
        ],
        "responses": {
          "200": {
            "description": "FMO details"
          }
        }
      }
    },
    "/v1/Branding/TermsAndCondition/History/{fmoId}/{resourceId}/{page}/{pageSize}": {
      "get": {
        "operationId": "getTermsHistory",
        "summary": "Get terms and conditions history",
        "tags": [
          "Branding"
        ],
        "parameters": [
          {
            "name": "fmoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Terms history"
          }
        }
      }
    },
    "/v1/Branding/GetFmoOrDefaultPublishDate/{fmoId}": {
      "get": {
        "operationId": "getFmoPublishDate",
        "summary": "Get FMO or default publish dates",
        "tags": [
          "Branding"
        ],
        "parameters": [
          {
            "name": "fmoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Publish dates"
          }
        }
      }
    },
    "/v1/Branding/GetFmoOrDefaultTermsConditions/{fmoId}": {
      "get": {
        "operationId": "getFmoTermsConditions",
        "summary": "Retrieve FMO or default terms and conditions",
        "tags": [
          "Branding"
        ],
        "parameters": [
          {
            "name": "fmoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Terms and conditions"
          }
        }
      }
    },
    "/v1/Branding/SaveUserResourceHistoryAcceptance": {
      "post": {
        "operationId": "saveUserResourceAcceptance",
        "summary": "Log user acceptance of terms",
        "tags": [
          "Branding"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveUserResourceAcceptanceDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acceptance logged"
          }
        }
      }
    },
    "/v1/Branding/GetFmoResourceAcceptance/{resourceHistoryId}": {
      "get": {
        "operationId": "getFmoResourceAcceptance",
        "summary": "Get FMO resource acceptance records",
        "tags": [
          "Branding"
        ],
        "parameters": [
          {
            "name": "resourceHistoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Acceptance records"
          }
        }
      }
    },
    "/v1/Branding/GetTermsAndConditionsById/{resourceHistoryId}": {
      "get": {
        "operationId": "getTermsAndConditionsById",
        "summary": "Detailed terms and conditions lookup",
        "tags": [
          "Branding"
        ],
        "parameters": [
          {
            "name": "resourceHistoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Terms and conditions details"
          }
        }
      }
    },
    "/v1/Files/all/consumer/{consumerId}/{agentId}": {
      "get": {
        "operationId": "listConsumerFiles",
        "summary": "List consumer files",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "consumerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Consumer files list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConsumerFilesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Files/upload/consumer": {
      "post": {
        "operationId": "uploadConsumerFile",
        "summary": "Upload a consumer file",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadConsumerFileCommand"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File uploaded"
          }
        }
      }
    },
    "/v1/Files/copy/consumer/vault/file": {
      "post": {
        "operationId": "copyConsumerVaultFile",
        "summary": "Copy vault file to consumer",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "consumerId": {
                    "type": "string"
                  },
                  "fileId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File copied"
          }
        }
      }
    },
    "/v1/Files/copy/consumer/file": {
      "post": {
        "operationId": "copyConsumerFile",
        "summary": "Copy consumer file",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "consumerId": {
                    "type": "string"
                  },
                  "fileId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File copied"
          }
        }
      }
    },
    "/v1/Files/update/consumer/file": {
      "post": {
        "operationId": "updateConsumerFileMetadata",
        "summary": "Update consumer file metadata",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fileId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "folderId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File metadata updated"
          }
        }
      }
    },
    "/v1/Files/GetLink/{userId}": {
      "get": {
        "operationId": "getFileLink",
        "summary": "Generate file access link",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File access link"
          }
        }
      }
    },
    "/v1/Folders/linked/{consumerId}": {
      "get": {
        "operationId": "getLinkedFolders",
        "summary": "Get linked folder structure",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "consumerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Linked folder structure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericFolder"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Folders/activity/{consumerId}": {
      "get": {
        "operationId": "getActivityFolder",
        "summary": "Get activity folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "consumerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity folder",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetActivityFolderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Folders/group/{consumerId}": {
      "get": {
        "operationId": "getGroupFolder",
        "summary": "Get group folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "consumerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group folder"
          }
        }
      }
    },
    "/v1/Folders/insurance/{consumerId}": {
      "get": {
        "operationId": "getInsuranceFolder",
        "summary": "Get insurance folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "consumerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Insurance folder"
          }
        }
      }
    },
    "/v1/Folders/investment/{consumerId}": {
      "get": {
        "operationId": "getInvestmentFolder",
        "summary": "Get investment folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "consumerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Investment folder"
          }
        }
      }
    },
    "/v1/Folders/mortgage/{consumerId}": {
      "get": {
        "operationId": "getMortgageFolder",
        "summary": "Get mortgage folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "consumerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mortgage folder"
          }
        }
      }
    },
    "/v1/Folders/tax/{consumerId}": {
      "get": {
        "operationId": "getTaxFolder",
        "summary": "Get tax folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "consumerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tax folder"
          }
        }
      }
    },
    "/v1/Folders/consumer": {
      "post": {
        "operationId": "createConsumerFolder",
        "summary": "Create consumer folder",
        "tags": [
          "Folders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsumerFolderCommand"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Folder created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFolderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Folders/setupFolders": {
      "post": {
        "operationId": "setupDefaultFolders",
        "summary": "Initialize default folder structure",
        "tags": [
          "Folders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "consumerId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Default folders created"
          }
        }
      }
    },
    "/v1/FireLight/Vendors": {
      "get": {
        "operationId": "listFireLightVendors",
        "summary": "List FireLight vendors",
        "tags": [
          "FireLight"
        ],
        "responses": {
          "200": {
            "description": "List of vendors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VendorFirelightDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/FireLight/Vendors/{vendorId}/Products": {
      "get": {
        "operationId": "listFireLightProducts",
        "summary": "List products by vendor",
        "tags": [
          "FireLight"
        ],
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of products"
          }
        }
      }
    },
    "/v1/FireLight/identifier/{advisorId}": {
      "get": {
        "operationId": "getFireLightIdentifier",
        "summary": "Get advisor FireLight identifier",
        "tags": [
          "FireLight"
        ],
        "parameters": [
          {
            "name": "advisorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "FireLight identifier"
          }
        }
      }
    },
    "/v1/FireLight/fmoConfiguration/{fmoId}": {
      "get": {
        "operationId": "getFireLightFmoConfiguration",
        "summary": "Get FMO FireLight configuration",
        "tags": [
          "FireLight"
        ],
        "parameters": [
          {
            "name": "fmoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "FireLight FMO configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirelightFmoConfigurationDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/GDrive/parentcompanies": {
      "get": {
        "operationId": "listParentCompanies",
        "summary": "List parent companies",
        "tags": [
          "GDrive"
        ],
        "responses": {
          "200": {
            "description": "Parent companies"
          }
        }
      }
    },
    "/v1/GDrive/parentCompanies/{parentCompanyId}/companies": {
      "get": {
        "operationId": "listCompaniesByParent",
        "summary": "List companies under parent company",
        "tags": [
          "GDrive"
        ],
        "parameters": [
          {
            "name": "parentCompanyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Companies list"
          }
        }
      }
    },
    "/v1/GDrive/companies/{companyId}/teams": {
      "get": {
        "operationId": "listTeamsByCompany",
        "summary": "List teams by company",
        "tags": [
          "GDrive"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Teams list"
          }
        }
      }
    },
    "/v1/GDrive/parentCompanies/{parentCompanyId}/agents": {
      "get": {
        "operationId": "listAgentsByParentCompany",
        "summary": "List agents by parent company",
        "tags": [
          "GDrive"
        ],
        "parameters": [
          {
            "name": "parentCompanyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agents list"
          }
        }
      }
    },
    "/v1/GDrive/companies/{companyId}/agents": {
      "get": {
        "operationId": "listAgentsByCompany",
        "summary": "List agents by company",
        "tags": [
          "GDrive"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agents list"
          }
        }
      }
    },
    "/v1/Ceres/npn": {
      "get": {
        "operationId": "getAdvisorNpn",
        "summary": "Retrieve advisor NPN information",
        "tags": [
          "GDrive"
        ],
        "responses": {
          "200": {
            "description": "NPN information"
          }
        }
      }
    },
    "/v1/ClientReviewReport/report/{reportId}": {
      "get": {
        "operationId": "getClientReviewReport",
        "summary": "Fetch client review report",
        "tags": [
          "ClientReviewReport"
        ],
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client review report"
          }
        }
      }
    },
    "/v1/ClientReviewReport/linkreporttoconsumerfile": {
      "patch": {
        "operationId": "linkReportToConsumerFile",
        "summary": "Link report to consumer file",
        "tags": [
          "ClientReviewReport"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reportId": {
                    "type": "string"
                  },
                  "consumerId": {
                    "type": "string"
                  },
                  "fileId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report linked"
          }
        }
      }
    },
    "/v1/ClientReviewReport/getreportsbyconsumerid/{consumerId}": {
      "get": {
        "operationId": "getReportsByConsumerId",
        "summary": "Get reports by consumer ID",
        "tags": [
          "ClientReviewReport"
        ],
        "parameters": [
          {
            "name": "consumerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Consumer reports"
          }
        }
      }
    },
    "/v1/users/{userId}/CRS": {
      "post": {
        "operationId": "addCrsNotes",
        "summary": "Add CRS notes for advisor",
        "tags": [
          "Advisors"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CRS notes added"
          }
        }
      }
    },
    "/v1/Advisors/PortalAlerts/EmailClientStatusUpdate": {
      "post": {
        "operationId": "updateEmailClientStatus",
        "summary": "Update email alert status for portal",
        "tags": [
          "Advisors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "advisorId": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status updated"
          }
        }
      }
    },
    "/v1/CaseCentralToKonnexMeData/consumerdetails": {
      "post": {
        "operationId": "convertCaseCentralConsumerData",
        "summary": "Convert Case Central consumer data to KonnexMe",
        "tags": [
          "CaseCentral"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "consumerId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consumer data converted"
          }
        }
      }
    },
    "/v1/AdvisorUserInvitations": {
      "get": {
        "operationId": "listAdvisorUserInvitations",
        "summary": "List advisor user invitations",
        "tags": [
          "Invitations"
        ],
        "responses": {
          "200": {
            "description": "List of invitations"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResult": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          },
          "details": {
            "type": "string"
          }
        }
      },
      "GetAdvisorResponse": {
        "type": "object",
        "properties": {
          "advisorId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "agencyId": {
            "type": "string"
          },
          "fmoId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "UpdateAdvisorCommand": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "AssignAdvisorCommand": {
        "type": "object",
        "properties": {
          "holdingCompanyId": {
            "type": "string"
          }
        }
      },
      "AffiliationsModel": {
        "type": "object",
        "properties": {
          "affiliations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "applicationId": {
                  "type": "string"
                },
                "enabled": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "GetPortalLinkedAdvisorResponse": {
        "type": "object",
        "properties": {
          "advisorId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "companyName": {
            "type": "string"
          },
          "fmoName": {
            "type": "string"
          }
        }
      },
      "GetAdvisorWithCompanyDetailResponse": {
        "type": "object",
        "properties": {
          "advisorId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "fmoId": {
            "type": "string"
          },
          "fmoName": {
            "type": "string"
          },
          "companyDetail": {
            "type": "object"
          }
        }
      },
      "GetAdvisorAlertPreferencesResponse": {
        "type": "object",
        "properties": {
          "preferences": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "enabled": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "UpsertAlertPreferenceCommand": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "GetAdvisorAvailabilityResponse": {
        "type": "object",
        "properties": {
          "availabilities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "startTime": {
                  "type": "string",
                  "format": "date-time"
                },
                "endTime": {
                  "type": "string",
                  "format": "date-time"
                },
                "dayOfWeek": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CreateAdvisorAvailabilityCommand": {
        "type": "object",
        "properties": {
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "dayOfWeek": {
            "type": "string"
          }
        }
      },
      "GetAgencyResponse": {
        "type": "object",
        "properties": {
          "agencyId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "UpdateAgencyCommand": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "GetAgencyImageResponse": {
        "type": "object",
        "properties": {
          "imageUrl": {
            "type": "string"
          },
          "imageType": {
            "type": "string"
          }
        }
      },
      "CreateAgencyImageResponseModel": {
        "type": "object",
        "properties": {
          "imageId": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          }
        }
      },
      "GetApplicationResponse": {
        "type": "object",
        "properties": {
          "applicationId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "GetApplicationOutputResponse": {
        "type": "object",
        "properties": {
          "outputs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "outputId": {
                  "type": "string"
                },
                "data": {
                  "type": "object"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "CreateApplicationOutputCommand": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object"
          }
        }
      },
      "CreateApplicationOutputResponse": {
        "type": "object",
        "properties": {
          "outputId": {
            "type": "string"
          }
        }
      },
      "AssetDto": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string"
          },
          "ownerId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "value": {
            "type": "number"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "SaveResourcesCommand": {
        "type": "object",
        "properties": {
          "resources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SaveUserResourceAcceptanceDto": {
        "type": "object",
        "properties": {
          "resourceHistoryId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "accepted": {
            "type": "boolean"
          }
        }
      },
      "GetConsumerFilesResponse": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fileId": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "folderId": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "UploadConsumerFileCommand": {
        "type": "object",
        "properties": {
          "consumerId": {
            "type": "string"
          },
          "folderId": {
            "type": "string"
          },
          "file": {
            "type": "string",
            "format": "binary"
          }
        }
      },
      "GenericFolder": {
        "type": "object",
        "properties": {
          "folderId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "parentFolderId": {
            "type": "string"
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericFolder"
            }
          }
        }
      },
      "GetActivityFolderResponse": {
        "type": "object",
        "properties": {
          "folderId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "activities": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CreateConsumerFolderCommand": {
        "type": "object",
        "properties": {
          "consumerId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "parentFolderId": {
            "type": "string"
          }
        }
      },
      "CreateFolderResponse": {
        "type": "object",
        "properties": {
          "folderId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "VendorFirelightDto": {
        "type": "object",
        "properties": {
          "vendorId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "FirelightFmoConfigurationDto": {
        "type": "object",
        "properties": {
          "fmoId": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "configuration": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "tags": [
    {
      "name": "Advisors",
      "description": "Advisor management operations"
    },
    {
      "name": "AlertPreferences",
      "description": "Advisor alert preference management"
    },
    {
      "name": "Availabilities",
      "description": "Advisor availability slot management"
    },
    {
      "name": "Agencies",
      "description": "Agency management"
    },
    {
      "name": "AgencyImages",
      "description": "Agency and advisor image management"
    },
    {
      "name": "Applications",
      "description": "Application tracking and management"
    },
    {
      "name": "ApplicationOutputs",
      "description": "Application output records"
    },
    {
      "name": "Assets",
      "description": "Asset management"
    },
    {
      "name": "ASBAgencyUsers",
      "description": "ASB agency user management"
    },
    {
      "name": "ExternalFmoAgencyUsers",
      "description": "External FMO agency user management"
    },
    {
      "name": "Branding",
      "description": "Branding and resource management"
    },
    {
      "name": "FMOs",
      "description": "FMO (Field Marketing Organization) management"
    },
    {
      "name": "Files",
      "description": "File management"
    },
    {
      "name": "Folders",
      "description": "Folder structure management"
    },
    {
      "name": "FireLight",
      "description": "FireLight integration"
    },
    {
      "name": "GDrive",
      "description": "GDrive integration and organization hierarchy"
    },
    {
      "name": "ClientReviewReport",
      "description": "Client review report operations"
    },
    {
      "name": "CaseCentral",
      "description": "Case Central data conversion"
    },
    {
      "name": "Invitations",
      "description": "Advisor user invitations"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}