{
  "openapi": "3.0.3",
  "info": {
    "title": "Zoho FSM API",
    "description": "Zoho FSM provides REST API (Application Programming Interface) that lets you integrate FSM with third-party applications for inventory management, forecasting, and business intelligence. The REST API uses simple HTTP methods, such as GET, POST, PUT and DELETE. These methods allow FSM data to be extracted in JSON format including errors, making it easy to develop new applications and also to integrate with existing business applications.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.zoho.com/fsm/developer/help/api/",
    "contact": {
      "name": "Zoho FSM Support",
      "email": "support@zohofsm.com"
    }
  },
  "servers": [
    {
      "url": "https://fsm.zoho.com/api/v1",
      "description": "Production server"
    },
    {
      "url": "https://fsm.zoho.eu/api/v1",
      "description": "EU server"
    },
    {
      "url": "https://fsm.zoho.in/api/v1",
      "description": "India server"
    },
    {
      "url": "https://fsm.zoho.com.au/api/v1",
      "description": "Australia server"
    }
  ],
  "security": [
    {
      "OAuth2": [
        "ZohoFSM.modules.ALL",
        "ZohoFSM.modules.READ",
        "ZohoFSM.modules.CREATE",
        "ZohoFSM.modules.UPDATE",
        "ZohoFSM.modules.DELETE"
      ]
    }
  ],
  "tags": [
    {
      "name": "Work Orders",
      "description": "Manage work orders for field service operations"
    },
    {
      "name": "Service Appointments",
      "description": "Schedule and manage service appointments"
    },
    {
      "name": "Technicians",
      "description": "Manage field technicians and workforce"
    },
    {
      "name": "Customers",
      "description": "Manage customer information and contacts"
    },
    {
      "name": "Service Requests",
      "description": "Handle service requests from multiple channels"
    },
    {
      "name": "Invoices",
      "description": "Manage billing, invoicing, and payments"
    },
    {
      "name": "Inventory",
      "description": "Manage inventory and parts"
    },
    {
      "name": "Reports",
      "description": "Access service analytics and reports"
    }
  ],
  "paths": {
    "/workorders": {
      "get": {
        "summary": "List work orders",
        "description": "Retrieve a list of work orders with optional filtering and pagination",
        "operationId": "listWorkOrders",
        "tags": ["Work Orders"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by work order status",
            "schema": {
              "type": "string",
              "enum": ["Open", "In Progress", "Completed", "Cancelled"]
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort by",
            "schema": {
              "type": "string",
              "enum": ["created_time", "modified_time", "due_date"]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkOrder"
                      }
                    },
                    "info": {
                      "$ref": "#/components/schemas/PaginationInfo"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a work order",
        "description": "Create a new work order",
        "operationId": "createWorkOrder",
        "tags": ["Work Orders"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkOrderInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Work order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WorkOrder"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workorders/{workorder_id}": {
      "get": {
        "summary": "Get work order details",
        "description": "Retrieve details of a specific work order",
        "operationId": "getWorkOrder",
        "tags": ["Work Orders"],
        "parameters": [
          {
            "name": "workorder_id",
            "in": "path",
            "required": true,
            "description": "Work order ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WorkOrder"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update work order",
        "description": "Update an existing work order",
        "operationId": "updateWorkOrder",
        "tags": ["Work Orders"],
        "parameters": [
          {
            "name": "workorder_id",
            "in": "path",
            "required": true,
            "description": "Work order ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkOrderInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Work order updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WorkOrder"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete work order",
        "description": "Delete a work order",
        "operationId": "deleteWorkOrder",
        "tags": ["Work Orders"],
        "parameters": [
          {
            "name": "workorder_id",
            "in": "path",
            "required": true,
            "description": "Work order ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Work order deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/appointments": {
      "get": {
        "summary": "List service appointments",
        "description": "Retrieve a list of service appointments",
        "operationId": "listAppointments",
        "tags": ["Service Appointments"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by appointment status",
            "schema": {
              "type": "string",
              "enum": ["Scheduled", "Dispatched", "In Progress", "Completed", "Cancelled"]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Filter appointments from this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Filter appointments until this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Appointment"
                      }
                    },
                    "info": {
                      "$ref": "#/components/schemas/PaginationInfo"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create service appointment",
        "description": "Create a new service appointment",
        "operationId": "createAppointment",
        "tags": ["Service Appointments"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appointment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Appointment"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/appointments/{appointment_id}": {
      "get": {
        "summary": "Get appointment details",
        "description": "Retrieve details of a specific service appointment",
        "operationId": "getAppointment",
        "tags": ["Service Appointments"],
        "parameters": [
          {
            "name": "appointment_id",
            "in": "path",
            "required": true,
            "description": "Appointment ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Appointment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update appointment",
        "description": "Update an existing service appointment",
        "operationId": "updateAppointment",
        "tags": ["Service Appointments"],
        "parameters": [
          {
            "name": "appointment_id",
            "in": "path",
            "required": true,
            "description": "Appointment ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appointment updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Appointment"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete appointment",
        "description": "Delete a service appointment",
        "operationId": "deleteAppointment",
        "tags": ["Service Appointments"],
        "parameters": [
          {
            "name": "appointment_id",
            "in": "path",
            "required": true,
            "description": "Appointment ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/technicians": {
      "get": {
        "summary": "List technicians",
        "description": "Retrieve a list of field technicians",
        "operationId": "listTechnicians",
        "tags": ["Technicians"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by technician status",
            "schema": {
              "type": "string",
              "enum": ["Active", "Inactive"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Technician"
                      }
                    },
                    "info": {
                      "$ref": "#/components/schemas/PaginationInfo"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create technician",
        "description": "Create a new technician",
        "operationId": "createTechnician",
        "tags": ["Technicians"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnicianInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Technician created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Technician"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/technicians/{technician_id}": {
      "get": {
        "summary": "Get technician details",
        "description": "Retrieve details of a specific technician",
        "operationId": "getTechnician",
        "tags": ["Technicians"],
        "parameters": [
          {
            "name": "technician_id",
            "in": "path",
            "required": true,
            "description": "Technician ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Technician"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update technician",
        "description": "Update an existing technician",
        "operationId": "updateTechnician",
        "tags": ["Technicians"],
        "parameters": [
          {
            "name": "technician_id",
            "in": "path",
            "required": true,
            "description": "Technician ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnicianInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Technician updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Technician"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete technician",
        "description": "Delete a technician",
        "operationId": "deleteTechnician",
        "tags": ["Technicians"],
        "parameters": [
          {
            "name": "technician_id",
            "in": "path",
            "required": true,
            "description": "Technician ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Technician deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers": {
      "get": {
        "summary": "List customers",
        "description": "Retrieve a list of customers",
        "operationId": "listCustomers",
        "tags": ["Customers"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search customers by name or email",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    },
                    "info": {
                      "$ref": "#/components/schemas/PaginationInfo"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create customer",
        "description": "Create a new customer",
        "operationId": "createCustomer",
        "tags": ["Customers"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Customer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}": {
      "get": {
        "summary": "Get customer details",
        "description": "Retrieve details of a specific customer",
        "operationId": "getCustomer",
        "tags": ["Customers"],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update customer",
        "description": "Update an existing customer",
        "operationId": "updateCustomer",
        "tags": ["Customers"],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Customer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete customer",
        "description": "Delete a customer",
        "operationId": "deleteCustomer",
        "tags": ["Customers"],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/service-requests": {
      "get": {
        "summary": "List service requests",
        "description": "Retrieve a list of service requests from multiple channels",
        "operationId": "listServiceRequests",
        "tags": ["Service Requests"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by request status",
            "schema": {
              "type": "string",
              "enum": ["New", "In Progress", "Resolved", "Closed"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ServiceRequest"
                      }
                    },
                    "info": {
                      "$ref": "#/components/schemas/PaginationInfo"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create service request",
        "description": "Create a new service request",
        "operationId": "createServiceRequest",
        "tags": ["Service Requests"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceRequestInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ServiceRequest"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/service-requests/{request_id}": {
      "get": {
        "summary": "Get service request details",
        "description": "Retrieve details of a specific service request",
        "operationId": "getServiceRequest",
        "tags": ["Service Requests"],
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "description": "Service request ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ServiceRequest"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update service request",
        "description": "Update an existing service request",
        "operationId": "updateServiceRequest",
        "tags": ["Service Requests"],
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "description": "Service request ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceRequestInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service request updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ServiceRequest"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "summary": "List invoices",
        "description": "Retrieve a list of invoices",
        "operationId": "listInvoices",
        "tags": ["Invoices"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by invoice status",
            "schema": {
              "type": "string",
              "enum": ["Draft", "Sent", "Paid", "Overdue", "Void"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    },
                    "info": {
                      "$ref": "#/components/schemas/PaginationInfo"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create invoice",
        "description": "Create a new invoice",
        "operationId": "createInvoice",
        "tags": ["Invoices"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Invoice"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{invoice_id}": {
      "get": {
        "summary": "Get invoice details",
        "description": "Retrieve details of a specific invoice",
        "operationId": "getInvoice",
        "tags": ["Invoices"],
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "description": "Invoice ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Invoice"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update invoice",
        "description": "Update an existing invoice",
        "operationId": "updateInvoice",
        "tags": ["Invoices"],
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "description": "Invoice ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Invoice"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/inventory": {
      "get": {
        "summary": "List inventory items",
        "description": "Retrieve a list of inventory items and parts",
        "operationId": "listInventoryItems",
        "tags": ["Inventory"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search inventory items by name or SKU",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InventoryItem"
                      }
                    },
                    "info": {
                      "$ref": "#/components/schemas/PaginationInfo"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create inventory item",
        "description": "Create a new inventory item",
        "operationId": "createInventoryItem",
        "tags": ["Inventory"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryItemInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inventory item created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InventoryItem"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/inventory/{item_id}": {
      "get": {
        "summary": "Get inventory item details",
        "description": "Retrieve details of a specific inventory item",
        "operationId": "getInventoryItem",
        "tags": ["Inventory"],
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "description": "Inventory item ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InventoryItem"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update inventory item",
        "description": "Update an existing inventory item",
        "operationId": "updateInventoryItem",
        "tags": ["Inventory"],
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "description": "Inventory item ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryItemInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inventory item updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InventoryItem"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports": {
      "get": {
        "summary": "List available reports",
        "description": "Retrieve a list of available service analytics and reports",
        "operationId": "listReports",
        "tags": ["Reports"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Report"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/{report_id}": {
      "get": {
        "summary": "Get report data",
        "description": "Retrieve data for a specific report",
        "operationId": "getReportData",
        "tags": ["Reports"],
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "description": "Report ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date for report data",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for report data",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authorization. All requests to the API should be made over HTTPS with OAuth 2.0 authentication.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.zoho.com/oauth/v2/auth",
            "tokenUrl": "https://accounts.zoho.com/oauth/v2/token",
            "scopes": {
              "ZohoFSM.modules.ALL": "Full access to all FSM modules",
              "ZohoFSM.modules.READ": "Read access to FSM modules",
              "ZohoFSM.modules.CREATE": "Create access to FSM modules",
              "ZohoFSM.modules.UPDATE": "Update access to FSM modules",
              "ZohoFSM.modules.DELETE": "Delete access to FSM modules"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "details": {
            "type": "object",
            "description": "Additional error details",
            "additionalProperties": true
          }
        }
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number"
          },
          "per_page": {
            "type": "integer",
            "description": "Number of records per page"
          },
          "count": {
            "type": "integer",
            "description": "Number of records in current page"
          },
          "more_records": {
            "type": "boolean",
            "description": "Indicates if more records are available"
          }
        }
      },
      "WorkOrder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Work order ID"
          },
          "work_order_number": {
            "type": "string",
            "description": "Work order number"
          },
          "subject": {
            "type": "string",
            "description": "Work order subject"
          },
          "description": {
            "type": "string",
            "description": "Work order description"
          },
          "status": {
            "type": "string",
            "enum": ["Open", "In Progress", "Completed", "Cancelled"],
            "description": "Work order status"
          },
          "priority": {
            "type": "string",
            "enum": ["Low", "Medium", "High", "Critical"],
            "description": "Work order priority"
          },
          "customer_id": {
            "type": "string",
            "description": "Customer ID"
          },
          "customer_name": {
            "type": "string",
            "description": "Customer name"
          },
          "assigned_to_id": {
            "type": "string",
            "description": "Assigned technician ID"
          },
          "assigned_to_name": {
            "type": "string",
            "description": "Assigned technician name"
          },
          "due_date": {
            "type": "string",
            "format": "date-time",
            "description": "Due date"
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "modified_time": {
            "type": "string",
            "format": "date-time",
            "description": "Last modification timestamp"
          }
        }
      },
      "WorkOrderInput": {
        "type": "object",
        "required": ["subject", "customer_id"],
        "properties": {
          "subject": {
            "type": "string",
            "description": "Work order subject"
          },
          "description": {
            "type": "string",
            "description": "Work order description"
          },
          "status": {
            "type": "string",
            "enum": ["Open", "In Progress", "Completed", "Cancelled"],
            "description": "Work order status"
          },
          "priority": {
            "type": "string",
            "enum": ["Low", "Medium", "High", "Critical"],
            "description": "Work order priority"
          },
          "customer_id": {
            "type": "string",
            "description": "Customer ID"
          },
          "assigned_to_id": {
            "type": "string",
            "description": "Assigned technician ID"
          },
          "due_date": {
            "type": "string",
            "format": "date-time",
            "description": "Due date"
          }
        }
      },
      "Appointment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Appointment ID"
          },
          "appointment_number": {
            "type": "string",
            "description": "Appointment number"
          },
          "work_order_id": {
            "type": "string",
            "description": "Associated work order ID"
          },
          "subject": {
            "type": "string",
            "description": "Appointment subject"
          },
          "status": {
            "type": "string",
            "enum": ["Scheduled", "Dispatched", "In Progress", "Completed", "Cancelled"],
            "description": "Appointment status"
          },
          "scheduled_start": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled start time"
          },
          "scheduled_end": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled end time"
          },
          "actual_start": {
            "type": "string",
            "format": "date-time",
            "description": "Actual start time"
          },
          "actual_end": {
            "type": "string",
            "format": "date-time",
            "description": "Actual end time"
          },
          "technician_id": {
            "type": "string",
            "description": "Assigned technician ID"
          },
          "technician_name": {
            "type": "string",
            "description": "Assigned technician name"
          },
          "customer_id": {
            "type": "string",
            "description": "Customer ID"
          },
          "location": {
            "type": "string",
            "description": "Service location"
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "modified_time": {
            "type": "string",
            "format": "date-time",
            "description": "Last modification timestamp"
          }
        }
      },
      "AppointmentInput": {
        "type": "object",
        "required": ["work_order_id", "scheduled_start", "scheduled_end", "technician_id"],
        "properties": {
          "work_order_id": {
            "type": "string",
            "description": "Associated work order ID"
          },
          "subject": {
            "type": "string",
            "description": "Appointment subject"
          },
          "status": {
            "type": "string",
            "enum": ["Scheduled", "Dispatched", "In Progress", "Completed", "Cancelled"],
            "description": "Appointment status"
          },
          "scheduled_start": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled start time"
          },
          "scheduled_end": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled end time"
          },
          "technician_id": {
            "type": "string",
            "description": "Assigned technician ID"
          },
          "location": {
            "type": "string",
            "description": "Service location"
          }
        }
      },
      "Technician": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Technician ID"
          },
          "name": {
            "type": "string",
            "description": "Technician name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Technician email"
          },
          "phone": {
            "type": "string",
            "description": "Technician phone number"
          },
          "status": {
            "type": "string",
            "enum": ["Active", "Inactive"],
            "description": "Technician status"
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Technician skills"
          },
          "territory": {
            "type": "string",
            "description": "Service territory"
          },
          "availability": {
            "type": "object",
            "properties": {
              "start_time": {
                "type": "string",
                "description": "Start time of availability"
              },
              "end_time": {
                "type": "string",
                "description": "End time of availability"
              }
            }
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "modified_time": {
            "type": "string",
            "format": "date-time",
            "description": "Last modification timestamp"
          }
        }
      },
      "TechnicianInput": {
        "type": "object",
        "required": ["name", "email"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Technician name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Technician email"
          },
          "phone": {
            "type": "string",
            "description": "Technician phone number"
          },
          "status": {
            "type": "string",
            "enum": ["Active", "Inactive"],
            "description": "Technician status"
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Technician skills"
          },
          "territory": {
            "type": "string",
            "description": "Service territory"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Customer ID"
          },
          "name": {
            "type": "string",
            "description": "Customer name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email"
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number"
          },
          "company": {
            "type": "string",
            "description": "Company name"
          },
          "address": {
            "type": "object",
            "properties": {
              "street": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "zip": {
                "type": "string"
              },
              "country": {
                "type": "string"
              }
            }
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "modified_time": {
            "type": "string",
            "format": "date-time",
            "description": "Last modification timestamp"
          }
        }
      },
      "CustomerInput": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Customer name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email"
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number"
          },
          "company": {
            "type": "string",
            "description": "Company name"
          },
          "address": {
            "type": "object",
            "properties": {
              "street": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "zip": {
                "type": "string"
              },
              "country": {
                "type": "string"
              }
            }
          }
        }
      },
      "ServiceRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Service request ID"
          },
          "request_number": {
            "type": "string",
            "description": "Service request number"
          },
          "subject": {
            "type": "string",
            "description": "Service request subject"
          },
          "description": {
            "type": "string",
            "description": "Service request description"
          },
          "status": {
            "type": "string",
            "enum": ["New", "In Progress", "Resolved", "Closed"],
            "description": "Service request status"
          },
          "priority": {
            "type": "string",
            "enum": ["Low", "Medium", "High", "Critical"],
            "description": "Service request priority"
          },
          "customer_id": {
            "type": "string",
            "description": "Customer ID"
          },
          "customer_name": {
            "type": "string",
            "description": "Customer name"
          },
          "channel": {
            "type": "string",
            "enum": ["Email", "Phone", "Web", "Chat", "WhatsApp"],
            "description": "Request channel"
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "modified_time": {
            "type": "string",
            "format": "date-time",
            "description": "Last modification timestamp"
          }
        }
      },
      "ServiceRequestInput": {
        "type": "object",
        "required": ["subject", "customer_id"],
        "properties": {
          "subject": {
            "type": "string",
            "description": "Service request subject"
          },
          "description": {
            "type": "string",
            "description": "Service request description"
          },
          "status": {
            "type": "string",
            "enum": ["New", "In Progress", "Resolved", "Closed"],
            "description": "Service request status"
          },
          "priority": {
            "type": "string",
            "enum": ["Low", "Medium", "High", "Critical"],
            "description": "Service request priority"
          },
          "customer_id": {
            "type": "string",
            "description": "Customer ID"
          },
          "channel": {
            "type": "string",
            "enum": ["Email", "Phone", "Web", "Chat", "WhatsApp"],
            "description": "Request channel"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Invoice ID"
          },
          "invoice_number": {
            "type": "string",
            "description": "Invoice number"
          },
          "customer_id": {
            "type": "string",
            "description": "Customer ID"
          },
          "customer_name": {
            "type": "string",
            "description": "Customer name"
          },
          "work_order_id": {
            "type": "string",
            "description": "Associated work order ID"
          },
          "status": {
            "type": "string",
            "enum": ["Draft", "Sent", "Paid", "Overdue", "Void"],
            "description": "Invoice status"
          },
          "invoice_date": {
            "type": "string",
            "format": "date",
            "description": "Invoice date"
          },
          "due_date": {
            "type": "string",
            "format": "date",
            "description": "Payment due date"
          },
          "subtotal": {
            "type": "number",
            "format": "double",
            "description": "Subtotal amount"
          },
          "tax": {
            "type": "number",
            "format": "double",
            "description": "Tax amount"
          },
          "total": {
            "type": "number",
            "format": "double",
            "description": "Total amount"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "line_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineItem"
            }
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "modified_time": {
            "type": "string",
            "format": "date-time",
            "description": "Last modification timestamp"
          }
        }
      },
      "InvoiceInput": {
        "type": "object",
        "required": ["customer_id", "invoice_date", "line_items"],
        "properties": {
          "customer_id": {
            "type": "string",
            "description": "Customer ID"
          },
          "work_order_id": {
            "type": "string",
            "description": "Associated work order ID"
          },
          "status": {
            "type": "string",
            "enum": ["Draft", "Sent", "Paid", "Overdue", "Void"],
            "description": "Invoice status"
          },
          "invoice_date": {
            "type": "string",
            "format": "date",
            "description": "Invoice date"
          },
          "due_date": {
            "type": "string",
            "format": "date",
            "description": "Payment due date"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "line_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineItemInput"
            }
          }
        }
      },
      "LineItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Line item ID"
          },
          "description": {
            "type": "string",
            "description": "Item description"
          },
          "quantity": {
            "type": "number",
            "format": "double",
            "description": "Quantity"
          },
          "unit_price": {
            "type": "number",
            "format": "double",
            "description": "Unit price"
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Total amount"
          }
        }
      },
      "LineItemInput": {
        "type": "object",
        "required": ["description", "quantity", "unit_price"],
        "properties": {
          "description": {
            "type": "string",
            "description": "Item description"
          },
          "quantity": {
            "type": "number",
            "format": "double",
            "description": "Quantity"
          },
          "unit_price": {
            "type": "number",
            "format": "double",
            "description": "Unit price"
          }
        }
      },
      "InventoryItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Inventory item ID"
          },
          "name": {
            "type": "string",
            "description": "Item name"
          },
          "sku": {
            "type": "string",
            "description": "Stock keeping unit"
          },
          "description": {
            "type": "string",
            "description": "Item description"
          },
          "quantity_on_hand": {
            "type": "integer",
            "description": "Quantity on hand"
          },
          "unit_price": {
            "type": "number",
            "format": "double",
            "description": "Unit price"
          },
          "category": {
            "type": "string",
            "description": "Item category"
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "modified_time": {
            "type": "string",
            "format": "date-time",
            "description": "Last modification timestamp"
          }
        }
      },
      "InventoryItemInput": {
        "type": "object",
        "required": ["name", "sku"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Item name"
          },
          "sku": {
            "type": "string",
            "description": "Stock keeping unit"
          },
          "description": {
            "type": "string",
            "description": "Item description"
          },
          "quantity_on_hand": {
            "type": "integer",
            "description": "Quantity on hand"
          },
          "unit_price": {
            "type": "number",
            "format": "double",
            "description": "Unit price"
          },
          "category": {
            "type": "string",
            "description": "Item category"
          }
        }
      },
      "Report": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Report ID"
          },
          "name": {
            "type": "string",
            "description": "Report name"
          },
          "description": {
            "type": "string",
            "description": "Report description"
          },
          "type": {
            "type": "string",
            "description": "Report type"
          },
          "category": {
            "type": "string",
            "description": "Report category"
          }
        }
      }
    }
  }
}
