{
  "openapi": "3.0.3",
  "info": {
    "title": "Better Stack Uptime API",
    "description": "The Better Stack Uptime API follows the JSON:API specification and allows you to manage monitors, heartbeats, incidents, status pages, and more.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://betterstack.com/docs/uptime/api/"
  },
  "servers": [
    {
      "url": "https://uptime.betterstack.com/api/v2",
      "description": "Better Stack Uptime API v2"
    }
  ],
  "paths": {
    "/monitors": {
      "get": {
        "operationId": "listMonitors",
        "summary": "List all existing monitors",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "Filter by URL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of monitors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createMonitor",
        "summary": "Create a new monitor",
        "tags": [
          "Monitors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMonitorRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Monitor created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/monitors/{monitor_id}": {
      "get": {
        "operationId": "getMonitor",
        "summary": "Get a single monitor",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateMonitor",
        "summary": "Update an existing monitor",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMonitorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitor updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteMonitor",
        "summary": "Remove a monitor",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Monitor deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/monitors/{monitor_id}/response-times": {
      "get": {
        "operationId": "getMonitorResponseTimes",
        "summary": "Get monitor response times",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response times data"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/monitors/{monitor_id}/availability": {
      "get": {
        "operationId": "getMonitorAvailability",
        "summary": "Get monitor availability",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability data"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/heartbeats": {
      "get": {
        "operationId": "listHeartbeats",
        "summary": "List all heartbeats",
        "tags": [
          "Heartbeats"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of heartbeats"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createHeartbeat",
        "summary": "Create a heartbeat",
        "tags": [
          "Heartbeats"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHeartbeatRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Heartbeat created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/heartbeats/{heartbeat_id}": {
      "get": {
        "operationId": "getHeartbeat",
        "summary": "Get a heartbeat",
        "tags": [
          "Heartbeats"
        ],
        "parameters": [
          {
            "name": "heartbeat_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Heartbeat details"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateHeartbeat",
        "summary": "Update a heartbeat",
        "tags": [
          "Heartbeats"
        ],
        "parameters": [
          {
            "name": "heartbeat_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHeartbeatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Heartbeat updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteHeartbeat",
        "summary": "Delete a heartbeat",
        "tags": [
          "Heartbeats"
        ],
        "parameters": [
          {
            "name": "heartbeat_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Heartbeat deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/incidents": {
      "get": {
        "operationId": "listIncidents",
        "summary": "List all incidents",
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of incidents"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/incidents/{incident_id}": {
      "get": {
        "operationId": "getIncident",
        "summary": "Get a single incident",
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "incident_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Incident details"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/incidents/{incident_id}/resolve": {
      "post": {
        "operationId": "resolveIncident",
        "summary": "Resolve an incident",
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "incident_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Incident resolved"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/status-pages": {
      "get": {
        "operationId": "listStatusPages",
        "summary": "List all status pages",
        "tags": [
          "Status Pages"
        ],
        "responses": {
          "200": {
            "description": "List of status pages"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createStatusPage",
        "summary": "Create a status page",
        "tags": [
          "Status Pages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStatusPageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Status page created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/status-pages/{status_page_id}": {
      "get": {
        "operationId": "getStatusPage",
        "summary": "Get a status page",
        "tags": [
          "Status Pages"
        ],
        "parameters": [
          {
            "name": "status_page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status page details"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateStatusPage",
        "summary": "Update a status page",
        "tags": [
          "Status Pages"
        ],
        "parameters": [
          {
            "name": "status_page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStatusPageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status page updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteStatusPage",
        "summary": "Delete a status page",
        "tags": [
          "Status Pages"
        ],
        "parameters": [
          {
            "name": "status_page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Status page deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MonitorResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/MonitorData"
          }
        }
      },
      "MonitorListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MonitorData"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "MonitorData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "monitor"
          },
          "attributes": {
            "$ref": "#/components/schemas/MonitorAttributes"
          }
        }
      },
      "MonitorAttributes": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "pronounceable_name": {
            "type": "string"
          },
          "monitor_type": {
            "type": "string",
            "enum": [
              "status",
              "expected_status_code",
              "keyword",
              "keyword_absence",
              "ping",
              "tcp",
              "udp",
              "smtp",
              "pop",
              "imap",
              "dns",
              "playwright"
            ]
          },
          "monitor_group_id": {
            "type": "integer",
            "nullable": true
          },
          "last_checked_at": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "up",
              "down",
              "validating",
              "paused",
              "pending"
            ]
          },
          "check_frequency": {
            "type": "integer"
          },
          "required_keyword": {
            "type": "string",
            "nullable": true
          },
          "port": {
            "type": "integer",
            "nullable": true
          },
          "paused": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateMonitorRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string"
          },
          "pronounceable_name": {
            "type": "string"
          },
          "monitor_type": {
            "type": "string",
            "enum": [
              "status",
              "expected_status_code",
              "keyword",
              "keyword_absence",
              "ping",
              "tcp",
              "udp",
              "smtp",
              "pop",
              "imap",
              "dns",
              "playwright"
            ]
          },
          "required_keyword": {
            "type": "string"
          },
          "check_frequency": {
            "type": "integer"
          },
          "port": {
            "type": "integer"
          },
          "monitor_group_id": {
            "type": "integer"
          }
        }
      },
      "CreateHeartbeatRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "period": {
            "type": "integer"
          },
          "grace": {
            "type": "integer"
          }
        }
      },
      "CreateStatusPageRequest": {
        "type": "object",
        "properties": {
          "company_name": {
            "type": "string"
          },
          "company_url": {
            "type": "string"
          },
          "subdomain": {
            "type": "string"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "prev": {
            "type": "string",
            "nullable": true
          },
          "next": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Heartbeats"
    },
    {
      "name": "Incidents"
    },
    {
      "name": "Monitors"
    },
    {
      "name": "Status Pages"
    }
  ]
}