{
  "openapi": "3.0.3",
  "info": {
    "title": "Pika API",
    "version": "1.0.0",
    "description": "Pika API enables automated image generation from templates. Generate images by providing a template ID and modifications, with support for base64, binary, and URL response formats.",
    "x-jentic-source-url": "https://docs.pika.style"
  },
  "servers": [
    {
      "url": "https://api.pika.style/v1",
      "description": "Pika API v1"
    }
  ],
  "paths": {
    "/templates/{templateId}/images": {
      "post": {
        "operationId": "generateImage",
        "summary": "Generate an image from a template",
        "description": "Generates an image using the specified template and modifications. Returns the image in the requested format (base64, binary, or url).",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "description": "The ID of the Pika template to generate an image from",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image successfully generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateImageResponse"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Binary image data (when response_format is 'binary')"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - possible errors: Bad Input, Request not allowed, Request body missing, Template modifications missing, Pika API subscription inactive or requests consumed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Template not found or response format not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Pika API key obtained from your Pika account's API & Usage section"
      }
    },
    "schemas": {
      "GenerateImageRequest": {
        "type": "object",
        "required": [
          "modifications"
        ],
        "properties": {
          "response_format": {
            "type": "string",
            "enum": [
              "base64",
              "binary",
              "url"
            ],
            "default": "base64",
            "description": "The format in which to return the generated image. Defaults to base64."
          },
          "modifications": {
            "type": "object",
            "additionalProperties": true,
            "description": "Template-specific modification values. The keys and values depend on the template being used."
          }
        }
      },
      "GenerateImageResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "base64": {
                "type": "string",
                "description": "Base64-encoded image data (when response_format is 'base64')",
                "example": "data:image/png;base64,iVBORw0KGgoA..."
              },
              "url": {
                "type": "string",
                "format": "uri",
                "description": "Direct link to the generated image hosted by Pika (when response_format is 'url')",
                "example": "https://assets.pika.style/3dss4s-234sd2-2e12/image.png"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Images",
      "description": "Image generation endpoints"
    }
  ]
}