{
  "openapi": "3.0.3",
  "info": {
    "title": "MURAL Public API",
    "description": "MURAL's Public API\n",
    "termsOfService": "https://start.mural.co/developer-beta/terms",
    "contact": {
      "name": "MURAL",
      "email": "m4d@mural.co"
    },
    "version": "1.0.0",
    "x-logo": {
      "url": "https://app.mural.co/static/images/new-logo.svg",
      "href": "https://mural.co"
    }
  },
  "servers": [
    {
      "url": "https://app.mural.co/api/public/{version}",
      "description": "MURAL Public API",
      "variables": {
        "version": {
          "default": "v1",
          "enum": [
            "v1"
          ]
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Murals"
    },
    {
      "name": "Mural Contents"
    },
    {
      "name": "Users"
    },
    {
      "name": "Rooms"
    },
    {
      "name": "Templates"
    },
    {
      "name": "Workspaces"
    },
    {
      "name": "Search"
    },
    {
      "name": "Preview",
      "description": "Preview resources that are subject to change."
    }
  ],
  "paths": {
    "/murals": {
      "post": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Murals"
        ],
        "summary": "Create a mural",
        "description": "Create a mural in a room owned by the authenticated user.\n\n**Authorization scope**: `murals:write`\n",
        "operationId": "createMural",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyBaseMural"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/Mural"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BodyBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/VisitorLinkBadRequest"
                    }
                  ]
                },
                "examples": {
                  "Bad Body Request": {
                    "value": {
                      "code": "BODY",
                      "details": [
                        {
                          "code": "Invalid property",
                          "message": "Invalid \"backgroundColor\" property type was sent. Type undefined was expected."
                        }
                      ],
                      "message": "Invalid payload"
                    }
                  },
                  "Bad link expiry": {
                    "value": {
                      "code": "INVALID_LINK_EXPIRATION",
                      "message": "The value for link expiration is invalid."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}": {
      "get": {
        "security": [
          {
            "oauth2": [
              "murals:read"
            ]
          }
        ],
        "tags": [
          "Murals"
        ],
        "summary": "Get single mural",
        "description": "Returns info for a mural that the authenticated user has read access to.\n\n**Authorization scope**: `murals:read`\n",
        "operationId": "getMuralById",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/Mural"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/WorkspaceNotFound"
                    }
                  ]
                },
                "examples": {
                  "MuralNotFound": {
                    "value": {
                      "code": "MURAL_NOT_FOUND",
                      "message": "The mural was not found or does not exist."
                    }
                  },
                  "WorkspaceNotFound": {
                    "value": {
                      "code": "WORKSPACE_NOT_FOUND",
                      "message": "The workspace was not found or does not exist."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Murals"
        ],
        "summary": "Delete single mural",
        "description": "Deletes a mural that the authenticated user owns.\n\n**Authorization scope**: `murals:write`\n",
        "operationId": "deleteMuralById",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/WorkspaceNotFound"
                    }
                  ]
                },
                "examples": {
                  "MuralNotFound": {
                    "value": {
                      "code": "MURAL_NOT_FOUND",
                      "message": "The mural was not found or does not exist."
                    }
                  },
                  "WorkspaceNotFound": {
                    "value": {
                      "code": "WORKSPACE_NOT_FOUND",
                      "message": "The workspace was not found or does not exist."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Murals"
        ],
        "summary": "Update a mural",
        "description": "Update a mural the authenticated user owns or is a member of.\n\n**Authorization scope**: `murals:write`\n",
        "operationId": "updateMuralById",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMural"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/Mural"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BodyBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/WorkspaceNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/UserNotFound"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "code",
                    "mapping": {
                      "MURAL_NOT_FOUND": "#/components/schemas/MuralNotFound",
                      "WORKSPACE_NOT_FOUND": "#/components/schemas/WorkspaceNotFound",
                      "USER_NOT_FOUND": "#/components/schemas/UserNotFound"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/murals/{muralId}/access-info": {
      "post": {
        "tags": [
          "Murals"
        ],
        "summary": "Get mural's access information",
        "description": "Get the permission information for a particular mural.\n\n**Authorization scope**: `none`\n",
        "operationId": "muralAccessInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyMuralAccessInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/MuralAccessInfo"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BodyBadRequest"
          },
          "404": {
            "description": "Mural not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/assets": {
      "post": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Create an asset URL",
        "description": "Create an asset URL to upload a file or image to a mural.\n\n**Authorization scope**: `murals:write`\n",
        "operationId": "createAsset",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MuralAsset"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/FileAsset"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BodyBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "Mural not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/duplicate": {
      "post": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Murals"
        ],
        "summary": "Duplicate a mural",
        "description": "Duplicate an existing mural.\n\n**Authorization scope**: `murals:write`\n",
        "operationId": "duplicateMural",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DuplicateMural"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/Mural"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/RoomNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/TargetFolderNotFound"
                    }
                  ]
                },
                "examples": {
                  "MuralNotFound": {
                    "value": {
                      "code": "MURAL_NOT_FOUND",
                      "message": "The mural was not found or does not exist."
                    }
                  },
                  "RoomNotFound": {
                    "value": {
                      "code": "ROOM_NOT_FOUND",
                      "message": "The room was not found or does not exist."
                    }
                  },
                  "TargetFolderNotFound": {
                    "value": {
                      "code": "TARGET_FOLDER_NOT_FOUND",
                      "message": "The destination folder was not found or does not exist."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/export": {
      "post": {
        "security": [
          {
            "oauth2": [
              "murals:read"
            ]
          }
        ],
        "tags": [
          "Murals"
        ],
        "summary": "Export mural to file",
        "description": "Allows an authenticated user of a mural to export mural to a pdf file.\n\n**Authorization scope**: `murals:read`\n",
        "operationId": "exportMural",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MuralExport"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/Export"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    }
                  ]
                },
                "examples": {
                  "MuralNotFound": {
                    "value": {
                      "code": "MURAL_NOT_FOUND",
                      "message": "The mural was not found or does not exist."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/exports/{exportId}": {
      "get": {
        "security": [
          {
            "oauth2": [
              "murals:read"
            ]
          }
        ],
        "tags": [
          "Murals"
        ],
        "summary": "Get export URL",
        "description": "Returns the download URL of an export operation.\n\n**Authorization scope**: `murals:read`\n",
        "operationId": "exportURLMural",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          },
          {
            "$ref": "#/components/parameters/exportId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/MuralExportUrl"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    }
                  ]
                },
                "examples": {
                  "MuralNotFound": {
                    "value": {
                      "code": "MURAL_NOT_FOUND",
                      "message": "The mural was not found or does not exist."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/chat": {
      "get": {
        "security": [
          {
            "oauth2": [
              "murals:read"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Get chat for a mural",
        "description": "Returns all chat content for a mural.\n\n**Authorization scope**: `murals:read`\n",
        "operationId": "getMuralChat",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/nextToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "value": {
                          "description": "The array of chat messages returned.",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ChatMessage"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/QueryBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/LimitBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/PaginationBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/NextTokenExpired"
                    }
                  ]
                },
                "examples": {
                  "Bad Query Request": {
                    "value": {
                      "code": "QUERY",
                      "message": "The payload is invalid.",
                      "details": [
                        {
                          "code": "Invalid property",
                          "message": "Invalid \"abc\" property type was sent. Type undefined was expected."
                        }
                      ]
                    }
                  },
                  "Next Token Expired": {
                    "value": {
                      "code": "NEXT_TOKEN_EXPIRED",
                      "message": "The next token has expired or does not exist."
                    }
                  },
                  "Invalid limit": {
                    "value": {
                      "code": "LIMIT_INVALID",
                      "message": "The limit is invalid."
                    }
                  },
                  "Invalid pagination": {
                    "value": {
                      "code": "PAGINATION_INVALID",
                      "message": "The pagination is invalid."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The mural was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/private-mode": {
      "get": {
        "security": [
          {
            "oauth2": [
              "murals:read"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Get a private mode session for a mural.",
        "description": "Retrieves the current private mode session for the specified mural.\n\n **Required authorization scope**: `murals:read`\n",
        "operationId": "getPrivateMode",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PrivateModeActive"
                        },
                        {
                          "$ref": "#/components/schemas/PrivateModeInactive"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BodyBadRequest"
                    }
                  ]
                },
                "examples": {
                  "Invalid payload": {
                    "value": {
                      "code": "BODY",
                      "message": "Invalid payload.",
                      "details": [
                        {
                          "code": "Invalid property",
                          "message": "Invalid 'hideAuthors,boolean' property type was sent. Type boolean was expected."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/private-mode/start": {
      "post": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Start a private mode session for a mural.",
        "description": "Initiates a private mode session for the specified mural.\n\n **Required authorization scope**: `murals:write`\n",
        "operationId": "startPrivateMode",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyPrivateMode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PrivateModeActive"
                        },
                        {
                          "$ref": "#/components/schemas/PrivateModeInactive"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BodyBadRequest"
                    }
                  ]
                },
                "examples": {
                  "Invalid payload": {
                    "value": {
                      "code": "BODY",
                      "message": "Invalid payload.",
                      "details": [
                        {
                          "code": "Invalid property",
                          "message": "Invalid 'hideAuthors,boolean' property type was sent. Type boolean was expected."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/private-mode/end": {
      "post": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Stops a private mode session for a mural.",
        "description": "End a private mode session for the specified mural.\n\n**Authorization scope**: `murals:write`\n",
        "operationId": "stopPrivateMode",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "responses": {
          "204": {
            "description": "The private mode session was ended successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    }
                  ]
                },
                "examples": {
                  "MuralNotFound": {
                    "value": {
                      "code": "MURAL_NOT_FOUND",
                      "message": "The mural was not found or does not exist."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/send-request-access": {
      "post": {
        "security": [
          {
            "oauth2": [
              "murals:read"
            ]
          }
        ],
        "tags": [
          "Murals"
        ],
        "summary": "Request access to a mural",
        "description": "Sends a request-access notification to the mural owner.\n\n**Authorization scope**: `murals:read`\n",
        "operationId": "sendRequestAccessToMural",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "responses": {
          "204": {
            "description": "Success. The access request notification was sent."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/tags": {
      "get": {
        "security": [
          {
            "oauth2": [
              "murals:read"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Get tags in a mural",
        "description": "Returns the tags in a mural.\n\n**Authorization scope**: `murals:read`\n",
        "operationId": "getMuralTags",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "description": "The array of tags returned.",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BodyBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The mural was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Create a tag in a mural",
        "description": "Create a tag in a mural. Tag text is limited to 25 characters.\n\n**Authorization scope**: `murals:write`\n",
        "operationId": "createMuralTag",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyCreateTag"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/Tag"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralTagLimitReachedBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/BodyBadRequest"
                    }
                  ]
                },
                "examples": {
                  "The limit of tags has been reached": {
                    "value": {
                      "code": "MURAL_TAG_LIMIT_REACHED",
                      "message": "The limit of tags has been reached."
                    }
                  },
                  "Invalid payload": {
                    "value": {
                      "code": "BODY",
                      "message": "Invalid payload.",
                      "details": {
                        "code": "Invalid property",
                        "message": "Property 'text' has a maximum length of 25 characters."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/tags/{tagId}": {
      "get": {
        "security": [
          {
            "oauth2": [
              "murals:read"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Get a single tag",
        "description": "Get a tag on a mural\n\n**Authorization scope**: `murals:read`\n",
        "operationId": "getTagById",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          },
          {
            "$ref": "#/components/parameters/tagId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/Tag"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/TagNotFound"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "code",
                    "mapping": {
                      "MURAL_NOT_FOUND": "#/components/schemas/MuralNotFound",
                      "TAG_NOT_FOUND": "#/components/schemas/TagNotFound"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Update a tag on a mural",
        "description": "Update a tag on a mural. Tag text is limited to 25 characters.\n\n**Authorization scope**: `murals:write`\n",
        "operationId": "updateTagById",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          },
          {
            "$ref": "#/components/parameters/tagId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyUpdateTag"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/Tag"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BodyBadRequest"
                    }
                  ]
                },
                "examples": {
                  "Invalid payload": {
                    "value": {
                      "code": "BODY",
                      "message": "Invalid payload.",
                      "details": [
                        {
                          "code": "Invalid property",
                          "message": "Property 'text' has a maximum length of 25 characters."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/TagNotFound"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "code",
                    "mapping": {
                      "MURAL_NOT_FOUND": "#/components/schemas/MuralNotFound",
                      "TAG_NOT_FOUND": "#/components/schemas/TagNotFound"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Delete a tag from a mural",
        "description": "Delete a tag from a mural.\n\n**Authorization scope**: `murals:write`\n",
        "operationId": "deleteTagById",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          },
          {
            "$ref": "#/components/parameters/tagId"
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/TagNotFound"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "code",
                    "mapping": {
                      "MURAL_NOT_FOUND": "#/components/schemas/MuralNotFound",
                      "TAG_NOT_FOUND": "#/components/schemas/TagNotFound"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/timer": {
      "get": {
        "security": [
          {
            "oauth2": [
              "murals:read"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Get the timer for a mural.",
        "description": "Retrieves the timer details for a specified mural.\n\n**Required authorization scope**: `murals:read`\n",
        "operationId": "getMuralTimer",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/Timer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/TagNotFound"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "code",
                    "mapping": {
                      "MURAL_NOT_FOUND": "#/components/schemas/MuralNotFound",
                      "TAG_NOT_FOUND": "#/components/schemas/TagNotFound"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Pauses/resumes the mural timer.",
        "description": "Pauses/resumes the mural timer and/or adds extra time to the running timer.\n\n **Required authorization scope**: `murals:write`\n",
        "operationId": "updateMuralTimer",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyUpdateTimer"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/Timer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BodyBadRequest"
                    }
                  ]
                },
                "examples": {
                  "Invalid payload": {
                    "value": {
                      "code": "BODY",
                      "message": "Invalid payload.",
                      "details": [
                        {
                          "code": "Invalid property",
                          "message": "Invalid 'paused,boolean' property type was sent. Type boolean was expected."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/timer/start": {
      "post": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Start the timer for a mural.",
        "description": "Initiates the timer for the specified mural.\n\n **Required authorization scope**: `murals:write`\n",
        "operationId": "startMuralTimer",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyStartTimer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/Timer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BodyBadRequest"
                    }
                  ]
                },
                "examples": {
                  "Invalid payload": {
                    "value": {
                      "code": "BODY",
                      "message": "Invalid payload.",
                      "details": [
                        {
                          "code": "Invalid property",
                          "message": "Invalid 'soundEnabled' property type was sent. Type soundEnabled was expected."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/timer/end": {
      "post": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Stop the timer for a mural.",
        "description": "Stops the timer for the specified mural.\n\n**Authorization scope**: `murals:write`\n",
        "operationId": "stopMuralTimer",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "responses": {
          "204": {
            "description": "The timer was stopped successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    }
                  ]
                },
                "examples": {
                  "MuralNotFound": {
                    "value": {
                      "code": "MURAL_NOT_FOUND",
                      "message": "The mural was not found or does not exist."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/users": {
      "get": {
        "security": [
          {
            "oauth2": [
              "users:read"
            ]
          }
        ],
        "tags": [
          "Users"
        ],
        "summary": "Get users of a mural",
        "description": "Returns all users of a mural. Users include members and guests.\n\n**Authorization scope**: `users:read`\n",
        "operationId": "getMuralUsers",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/nextToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "value": {
                          "description": "The array of collaborators returned.",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/User"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/LimitBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/PaginationBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/NextTokenExpired"
                    }
                  ]
                },
                "examples": {
                  "Next Token Expired": {
                    "value": {
                      "code": "NEXT_TOKEN_EXPIRED",
                      "message": "The next token has expired or does not exist."
                    }
                  },
                  "Invalid limit": {
                    "value": {
                      "code": "LIMIT_INVALID",
                      "message": "The limit is invalid."
                    }
                  },
                  "Invalid pagination": {
                    "value": {
                      "code": "PAGINATION_INVALID",
                      "message": "The pagination is invalid."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The mural was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/users/{userId}/permissions": {
      "patch": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Users"
        ],
        "summary": "Update mural member permissions",
        "description": "Update mural member permissions, by an authenticated owner of the mural.\n\n**Authorization scope**: `murals:write`\n",
        "operationId": "updateMuralMemberPermissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          },
          {
            "$ref": "#/components/parameters/userId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMuralMemberPermissions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Request invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BodyBadPermissions"
                    },
                    {
                      "$ref": "#/components/schemas/BodyBadRequest"
                    }
                  ]
                },
                "examples": {
                  "Body Bad Permissions": {
                    "value": {
                      "code": "Invalid permission",
                      "message": "Member cannot be removed as mural owner if they are also the room owner."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "code",
                    "mapping": {
                      "MURAL_NOT_FOUND": "#/components/schemas/MuralNotFound"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/murals/{muralId}/users/invite": {
      "post": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Users"
        ],
        "summary": "Invite users to a mural",
        "description": "Allows an authenticated user of a mural to invite members and/or guests.\n\nYou can invite users by specifying either their email address or their username.\nIn both cases the user is notified by email. However, when inviting by username,\nthe user is immediately added to the mural.\n\n**Authorization scope**: `murals:write`\n",
        "operationId": "inviteUsersToMural",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteUsersToMural"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "description": "Array of invitations",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MuralInvitationResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BodyBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Mural not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/users/remove": {
      "post": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Users"
        ],
        "summary": "Remove users from a mural",
        "description": "Removes members and/or guests from a specified mural that the authenticated user has write access to.\n\n**Authorization scope**: `murals:write`\n",
        "operationId": "removeMuralUsers",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveUsers"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveUsersResponse"
                },
                "example": {
                  "value": [
                    {
                      "email": "success@mural.co"
                    },
                    {
                      "email": "brokenemail@test.com",
                      "rejected": true,
                      "reason": "INVALID_EMAIL"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/EmailsLimitExceededBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/UsersEmailsBadRequest"
                    }
                  ]
                },
                "examples": {
                  "Too many emails in request": {
                    "value": {
                      "code": "EMAILS_LIMIT_EXCEEDED",
                      "message": "Too many users' emails to remove in this request."
                    }
                  },
                  "Invalid payload": {
                    "value": {
                      "code": "BODY",
                      "message": "Invalid payload.",
                      "details": {
                        "code": "Invalid property",
                        "message": "Invalid \"emails\" property type was sent. Type array was expected."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The mural was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/voting-sessions": {
      "get": {
        "security": [
          {
            "oauth2": [
              "murals:read"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Get voting sessions in a mural",
        "description": "Returns the voting sessions in a mural.\n\n**Authorization scope**: `murals:read`\n",
        "operationId": "getMuralVotingSessions",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/nextToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "value": {
                          "description": "The array of voting sessions returned.",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/VotingSession"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/LimitBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/PaginationBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/NextTokenExpired"
                    }
                  ]
                },
                "examples": {
                  "Next Token Expired": {
                    "value": {
                      "code": "NEXT_TOKEN_EXPIRED",
                      "message": "The next token has expired or does not exist."
                    }
                  },
                  "Invalid limit": {
                    "value": {
                      "code": "LIMIT_INVALID",
                      "message": "The limit is invalid."
                    }
                  },
                  "Invalid pagination": {
                    "value": {
                      "code": "PAGINATION_INVALID",
                      "message": "The pagination is invalid."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The mural was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/voting-sessions/{votingSessionId}": {
      "get": {
        "security": [
          {
            "oauth2": [
              "murals:read"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Get a voting session in a mural",
        "description": "Returns a single voting session in a mural.\n\n**Authorization scope**: `murals:read`\n",
        "operationId": "getMuralVotingSessionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          },
          {
            "$ref": "#/components/parameters/votingSessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/VotingSession"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The mural was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/VotingSessionNotFound"
                    }
                  ]
                },
                "examples": {
                  "MuralNotFound": {
                    "value": {
                      "code": "MURAL_NOT_FOUND",
                      "message": "The mural was not found or does not exist."
                    }
                  },
                  "VotingSessionNotFound": {
                    "value": {
                      "code": "VOTING_SESSION_NOT_FOUND",
                      "message": "The voting session does not exist."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Delete a voting session in a mural",
        "description": "Deletes a single voting session in a mural.\n\n**Authorization scope**: `murals:write`\n",
        "operationId": "deleteMuralVotingSessionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          },
          {
            "$ref": "#/components/parameters/votingSessionId"
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The mural was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/VotingSessionNotFound"
                    }
                  ]
                },
                "examples": {
                  "MuralNotFound": {
                    "value": {
                      "code": "MURAL_NOT_FOUND",
                      "message": "The mural was not found or does not exist."
                    }
                  },
                  "VotingSessionNotFound": {
                    "value": {
                      "code": "VOTING_SESSION_NOT_FOUND",
                      "message": "The voting session does not exist."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/voting-sessions/vote/{widgetId}": {
      "post": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Vote for a widget in the active voting session of a mural.",
        "description": "Submit a vote for a widget in the active voting session of a mural.\n\n **Required authorization scope**: `murals:write`\n",
        "operationId": "voteWidgetMuralVotingSession",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          },
          {
            "$ref": "#/components/parameters/widgetId"
          }
        ],
        "responses": {
          "204": {
            "description": "The vote was successfully processed."
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BodyBadRequest"
                    }
                  ]
                },
                "examples": {
                  "Invalid payload": {
                    "value": {
                      "code": "BODY",
                      "message": "Invalid payload.",
                      "details": [
                        {
                          "code": "Invalid property",
                          "message": "Invalid 'title' property type was sent."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/voting-sessions/{votingSessionId}/results": {
      "get": {
        "security": [
          {
            "oauth2": [
              "murals:read"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Get voting session results in a mural",
        "description": "Returns the results of a voting session in a mural.\n\n**Authorization scope**: `murals:read`\n",
        "operationId": "getMuralVotingSessionResults",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          },
          {
            "$ref": "#/components/parameters/votingSessionId"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/nextToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "value": {
                          "description": "The array of voting session results returned.",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/VotingSessionResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/LimitBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/PaginationBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/NextTokenExpired"
                    }
                  ]
                },
                "examples": {
                  "Next Token Expired": {
                    "value": {
                      "code": "NEXT_TOKEN_EXPIRED",
                      "message": "The next token has expired or does not exist."
                    }
                  },
                  "Invalid limit": {
                    "value": {
                      "code": "LIMIT_INVALID",
                      "message": "The limit is invalid."
                    }
                  },
                  "Invalid pagination": {
                    "value": {
                      "code": "PAGINATION_INVALID",
                      "message": "The pagination is invalid."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The mural was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/VotingSessionNotFound"
                    }
                  ]
                },
                "examples": {
                  "MuralNotFound": {
                    "value": {
                      "code": "MURAL_NOT_FOUND",
                      "message": "The mural was not found or does not exist."
                    }
                  },
                  "VotingSessionNotFound": {
                    "value": {
                      "code": "VOTING_SESSION_NOT_FOUND",
                      "message": "The voting session does not exist."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/voting-sessions/start": {
      "post": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Start a voting session for a mural.",
        "description": "Initiates a voting session for the specified mural.\n\n **Required authorization scope**: `murals:write`\n",
        "operationId": "startMuralVotingSession",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyStartVotingSession"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/VotingSession"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BodyBadRequest"
                    }
                  ]
                },
                "examples": {
                  "Invalid payload": {
                    "value": {
                      "code": "BODY",
                      "message": "Invalid payload.",
                      "details": [
                        {
                          "code": "Invalid property",
                          "message": "Invalid 'title' property type was sent. Type string was expected."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/voting-sessions/end": {
      "post": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "End a voting session for a mural.",
        "description": "Ends a voting session for the specified mural.\n\n **Required authorization scope**: `murals:write`\n",
        "operationId": "endMuralVotingSession",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "responses": {
          "204": {
            "description": "The voting session was ended successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/widgets": {
      "get": {
        "security": [
          {
            "oauth2": [
              "murals:read"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Get widgets for a mural",
        "description": "Returns all of the widgets for a mural. Does not currently include drawings.\n\n**Authorization scope**: `murals:read`\n",
        "operationId": "getMuralWidgets",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          },
          {
            "$ref": "#/components/parameters/widgetsFilterByTypes"
          },
          {
            "$ref": "#/components/parameters/widgetsFilterByParentId"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/nextToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "value": {
                          "description": "The array of widgets returned.",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Widget"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetsBadRequestErrors"
                },
                "examples": {
                  "Next Token Expired": {
                    "value": {
                      "code": "NEXT_TOKEN_EXPIRED",
                      "message": "The next token has expired or does not exist."
                    }
                  },
                  "Invalid limit": {
                    "value": {
                      "code": "LIMIT_INVALID",
                      "message": "The limit is invalid."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/widgets/files": {
      "get": {
        "security": [
          {
            "oauth2": [
              "murals:read"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Get files for a mural",
        "description": "Returns all files for a mural.\n\n**Authorization scope**: `murals:read`\n",
        "operationId": "getMuralFileWidgets",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/nextToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedList"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "value": {
                          "description": "The array of widgets returned.",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FileWidget"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetsBadRequestErrors"
                },
                "examples": {
                  "Next Token Expired": {
                    "value": {
                      "code": "NEXT_TOKEN_EXPIRED",
                      "message": "The next token has expired or does not exist."
                    }
                  },
                  "Invalid limit": {
                    "value": {
                      "code": "LIMIT_INVALID",
                      "message": "The limit is invalid."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/widgets/{widgetId}": {
      "get": {
        "security": [
          {
            "oauth2": [
              "murals:read"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Get single widget",
        "description": "Returns information about a widget specified by its id.\n\n**Authorization scope**: `murals:read`\n",
        "operationId": "getMuralWidget",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          },
          {
            "$ref": "#/components/parameters/widgetId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/Widget"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/WidgetNotFound"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "code",
                    "mapping": {
                      "MURAL_NOT_FOUND": "#/components/schemas/MuralNotFound",
                      "WIDGET_NOT_FOUND": "#/components/schemas/WidgetNotFound"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Delete a widget",
        "description": "Delete a widget and its content from a Mural.\n\n**Authorization scope**: `murals:write`\n",
        "operationId": "deleteWidgetById",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          },
          {
            "$ref": "#/components/parameters/widgetId"
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MuralNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/WidgetNotFound"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "code",
                    "mapping": {
                      "MURAL_NOT_FOUND": "#/components/schemas/MuralNotFound",
                      "WIDGET_NOT_FOUND": "#/components/schemas/WidgetNotFound"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/widgets/area": {
      "post": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Create an area on a mural",
        "description": "Create an area widget on a mural.\n\n**Authorization scope**: `murals:write`\n",
        "operationId": "createArea",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyCreateAreaWidget"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/AreaWidget"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BodyBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DataResidencyForbidden"
          },
          "404": {
            "description": "The resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MuralNotFound"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/murals/{muralId}/widgets/area/{widgetId}": {
      "patch": {
        "security": [
          {
            "oauth2": [
              "murals:write"
            ]
          }
        ],
        "tags": [
          "Mural Contents"
        ],
        "summary": "Update an area on a mural",
        "description": "Update an area widget on a mural.\n\n**Authorization scope**: `murals:write`\n",
        "operationId": "updateArea",
        "parameters": [
          {
            "$ref": "#/components/parameters/muralId"
          },
          {
            "$ref": "#/components/parameters/widgetId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyUpdateAreaWidget"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/components/schemas/AreaWidget"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
