{
  "openapi": "3.0.3",
  "info": {
    "title": "Ontraccr Zapier Integration API",
    "description": "API for integrating with Ontraccr via Zapier. Provides access to boards, statuses, and card management for the Ontraccr platform.",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.ontraccr.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Authentication verification endpoints"
    },
    {
      "name": "Boards",
      "description": "Board and card management"
    }
  ],
  "paths": {
    "/zapier/status": {
      "get": {
        "operationId": "verifyAuth",
        "summary": "Verify Authentication",
        "description": "Verifies that the provided API key is valid and returns company information.",
        "tags": ["Authentication"],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          }
        ],
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/zapier/boards": {
      "get": {
        "operationId": "getBoards",
        "summary": "Get Boards",
        "description": "Retrieves a list of the user's Ontraccr boards.",
        "tags": ["Boards"],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          }
        ],
        "responses": {
          "200": {
            "description": "Boards retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Board"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/zapier/boards/statuses": {
      "get": {
        "operationId": "getBoardStatuses",
        "summary": "Get Board Statuses",
        "description": "Fetches the available statuses for a specified board.",
        "tags": ["Boards"],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The board ID to get statuses for"
          }
        ],
        "responses": {
          "200": {
            "description": "Board statuses retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BoardStatus"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid board ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/zapier/boards/card": {
      "post": {
        "operationId": "createCard",
        "summary": "Create Card",
        "description": "Creates a new card on a specified board with a given status.",
        "tags": ["Boards"],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Card created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header",
        "description": "API key for authenticating requests"
      }
    },
    "schemas": {
      "AuthResponse": {
        "type": "object",
        "properties": {
          "companyName": {
            "type": "string",
            "description": "The name of the authenticated company"
          }
        }
      },
      "Board": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "The title of the board"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier of the board"
          }
        }
      },
      "BoardStatus": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "The title of the status"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier of the status"
          }
        }
      },
      "CardCreate": {
        "type": "object",
        "required": ["title", "boardId", "statusId"],
        "properties": {
          "title": {
            "type": "string",
            "description": "The title of the card"
          },
          "boardId": {
            "type": "string",
            "description": "The ID of the board to create the card on"
          },
          "statusId": {
            "type": "integer",
            "description": "The ID of the initial status for the card"
          }
        }
      },
      "CardResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the created card"
          },
          "title": {
            "type": "string",
            "description": "The title of the card"
          },
          "boardId": {
            "type": "string",
            "description": "The ID of the board the card belongs to"
          },
          "statusId": {
            "type": "integer",
            "description": "The status ID of the card"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}