{
  "openapi": "3.0.0",
  "info": {
    "title": "5centsCDN - Livestreams",
    "description": "API for managing Live Streams in <a href=\"https://www.5centscdn.net\" target=\"_blank\">5centsCDN</a>",
    "version": "2.0.0",
    "contact": {
      "email": "help@5centscdn.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/5centscdn/5centsCDN-Livestream/2.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.5centscdn.com/v2",
      "description": "5centsCDN API Server - Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "List Streams",
      "description": "list all streams"
    },
    {
      "name": "Push Streams",
      "description": "endpoints related to Push streams"
    },
    {
      "name": "Pull Streams",
      "description": "endpoints related to Pull streams"
    },
    {
      "name": "Multi Bitrate Push Streams",
      "description": "endpoints related to MBR streams"
    },
    {
      "name": "DVR Streams",
      "description": "endpoints related to DVR streams"
    },
    {
      "name": "Delayed Streams",
      "description": "endpoints related to Delayed streams"
    },
    {
      "name": "Scheduled Playlist Streams",
      "description": "endpoints related to Scheduled Playlist streams & Playlist"
    },
    {
      "name": "Multistream Streams",
      "description": "endpoints related to Multistream Streams"
    },
    {
      "name": "Reports - Standard",
      "description": "Reports for Standard Network"
    },
    {
      "name": "Reports - Volume/Premium",
      "description": "Reports for Volume/Premium Network"
    },
    {
      "name": "Reports - Enterprise",
      "description": "Reports for Enterprise Network"
    },
    {
      "name": "Reports - Recording Minutes",
      "description": "Reports for Recording Minutes"
    },
    {
      "name": "Global Settings",
      "description": "Global Stream Settings"
    }
  ],
  "paths": {
    "/streams": {
      "get": {
        "tags": [
          "List Streams"
        ],
        "summary": "List streams",
        "description": "list streams\n",
        "operationId": "streamsList",
        "responses": {
          "200": {
            "description": "streams list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                }
              }
            }
          }
        }
      }
    },
    "/streams/push": {
      "get": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Stream",
        "description": "push list",
        "operationId": "streamsPushList",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "description": "The page number of the result. One page contains 20 results."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_1"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/new": {
      "post": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Create Push",
        "description": "Create a Push stream",
        "operationId": "createPushStreams",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePushStream"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/{streamid}": {
      "get": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Stream",
        "description": "Returns the details of a push stream",
        "operationId": "getStreamsPush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_3"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Update Info",
        "description": "Update the information of push stream",
        "operationId": "updateStreamspush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePushStream"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Delete Info",
        "description": "Delete the information of push stream. To cast request method POST and parameters _METHOD = DELETE",
        "operationId": "deleteStreamspush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/{streamid}/statistics": {
      "get": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Stream statistics",
        "description": "Returns the details of a push stream statistics",
        "operationId": "getStreamsPushStatistics",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fs": {
                        "$ref": "#/components/schemas/fsResult"
                      },
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/streams/push/{streamid}/status": {
      "post": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Update status of stream",
        "description": "Update status of stream",
        "operationId": "statusStreamsPush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Postdisabled"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/{streamid}/source": {
      "post": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Update Source",
        "description": "Update the source of a Push stream",
        "operationId": "updatesourceStreamsPush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushStreamSource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/{streamid}/transcode": {
      "post": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Update transcode",
        "description": "Update the transcode of a push stream",
        "operationId": "updatetranscodeStreamsPush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Posttranscode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/{streamid}/domainlock": {
      "post": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Update Domain Lock",
        "description": "Update the domainlock of a publish stream",
        "operationId": "updatedomainlockStreamsPush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostDomainLock"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/{streamid}/geoblock": {
      "post": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Update Geo Block",
        "description": "Update the geoblock of a push stream",
        "operationId": "updategeoblockStreamsPush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostGeoBlock"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/{streamid}/securetoken": {
      "post": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Update Secure Token",
        "description": "Update secure token of a push stream",
        "operationId": "updateSecureTokenStreamsPush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSecureToken"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/{streamid}/rtmpauth": {
      "post": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Update RTMPAuth",
        "description": "Update RTMPAuth of push stream",
        "operationId": "updateRtmpauthStreamsPush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRtmpauth"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/{streamid}/ndvr": {
      "post": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Update NDVR",
        "operationId": "updateNdvrStreamsPush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostNdvr"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/servers": {
      "get": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Servers",
        "description": "Return the list of servers of push stream",
        "operationId": "getServersStreamsPush",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_5"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/{streamid}/restore": {
      "get": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Restore",
        "description": "Restore a push stream",
        "operationId": "restoreStreamsPush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/{streamid}/restart": {
      "get": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Restart",
        "description": "Restart a push stream",
        "operationId": "restartStreamsPush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/{streamid}/record": {
      "post": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Update DVR",
        "operationId": "updateDvrStreamsPush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/{streamid}/platforms": {
      "post": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Add platform",
        "description": "Add the platform of a push stream",
        "operationId": "addplatformStreamsPush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostStreamPlatform"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/{streamid}/platform/{platformid}": {
      "post": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Update platform",
        "description": "Update the platform of a push stream",
        "operationId": "updateplatformStreamsPush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          },
          {
            "$ref": "#/components/parameters/platformIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StreamPlatform"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Delete Info",
        "description": "Delete the Platform of push stream. To cast request method POST and parameters _METHOD = DELETE",
        "operationId": "deletePlatformStreamspush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          },
          {
            "$ref": "#/components/parameters/platformIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/{streamid}/platform/{platformid}/restart": {
      "get": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Update platform",
        "description": "Restart the platform of a push stream",
        "operationId": "restartplatformStreamsPush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          },
          {
            "$ref": "#/components/parameters/platformIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/push/{streamid}/platform/{platformid}/status": {
      "post": {
        "tags": [
          "Push Streams"
        ],
        "summary": "Update platform",
        "description": "Status the platform of a push stream",
        "operationId": "platformstatusStreamsPush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          },
          {
            "$ref": "#/components/parameters/platformIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Postdisabled"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/restream": {
      "get": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Stream",
        "description": "pull streams list",
        "operationId": "ListPullStreams",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "description": "The page number of the result. One page contains 20 results."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_6"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/restream/new": {
      "post": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Create Restream",
        "description": "Create a restream",
        "operationId": "createStreamsPull",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRestream"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_7"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/restream/{streamid}": {
      "get": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Stream",
        "description": "Return the details of a restream",
        "operationId": "getDetailsStreamsPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_8"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Update Info",
        "description": "Update information of a restream",
        "operationId": "updatesStreamsPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostStreamsPull"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_7"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Delete Info",
        "description": "Delete information of a restream. To cast request method POST and parameters _METHOD = DELETE",
        "operationId": "deleteStreamsPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/restream/{streamid}/statistics": {
      "get": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Stream statistics",
        "description": "Returns the details of a pull stream statistics",
        "operationId": "getStreamsPullStatistics",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fs": {
                        "$ref": "#/components/schemas/fsResult"
                      },
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/streams/restream/{streamid}/source": {
      "post": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Update Source",
        "operationId": "updateSourceStreamsPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostPullSource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_8"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/restream/{streamid}/domainlock": {
      "post": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Update Domain Lock",
        "description": "Update domain lock of a restream",
        "operationId": "updateDomainlockStreamsPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostDomainLock"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_7"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/restream/{streamid}/securetoken": {
      "post": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Update SecureToken",
        "description": "Update secure token of a restream",
        "operationId": "updateSecuretokenStreamsPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSecureToken"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_7"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/restream/{streamid}/geoblock": {
      "post": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Update Geo Block",
        "operationId": "updateGeoblockStreamsPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostGeoBlock"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_7"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/restream/{streamid}/record": {
      "post": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Update DVR",
        "description": "Update DVR of a restream",
        "operationId": "updateDvrStreamsPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_7"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/restream/servers": {
      "get": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Servers",
        "description": "Return the list of servers of pull stream",
        "operationId": "serversStreamsPull",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_9"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/restream/{streamid}/restart": {
      "get": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Restart",
        "description": "Restart a restream",
        "operationId": "restartStreamsPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/restream/{streamid}/restore": {
      "get": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Restore",
        "description": "Restore a restream",
        "operationId": "restoreStreamsPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/restream/{streamid}/transcode": {
      "post": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Update transcode",
        "description": "Update the transcode of a pull stream",
        "operationId": "updatetranscodeStreamsPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Posttranscode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_7"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/restream/{streamid}/ndvr": {
      "post": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Update NDVR",
        "operationId": "updateNdvrStreamsPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostNdvr"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_7"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/restream/{streamid}/platforms": {
      "post": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Add platform",
        "description": "Add the platform of a pull stream",
        "operationId": "addplatformStreamsPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostStreamPlatform"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_7"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/restream/{streamid}/platform/{platformid}": {
      "post": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Update platform",
        "description": "Update the platform of a pull stream",
        "operationId": "updateplatformStreamsPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          },
          {
            "$ref": "#/components/parameters/platformIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostStreamPlatform"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_7"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Delete Info",
        "description": "Delete the Platform of pull stream. To cast request method POST and parameters _METHOD = DELETE",
        "operationId": "deletePlatformStreamspull",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          },
          {
            "$ref": "#/components/parameters/platformIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/restream/{streamid}/platform/{platformid}/restart": {
      "get": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Update platform",
        "description": "Restart the platform of a pull stream",
        "operationId": "restartplatformStreamsPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          },
          {
            "$ref": "#/components/parameters/platformIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/restream/{streamid}/platform/{platformid}/status": {
      "post": {
        "tags": [
          "Pull Streams"
        ],
        "summary": "Update platform",
        "description": "Status the platform of a pull stream",
        "operationId": "platformstatusStreamsPull",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          },
          {
            "$ref": "#/components/parameters/platformIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Postdisabled"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/abr": {
      "get": {
        "tags": [
          "Multi Bitrate Push Streams"
        ],
        "summary": "ABR",
        "description": "List Multi Bitrate Push streams",
        "operationId": "multiBitratePushlist",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "description": "The page number of the result. One page contains 20 results."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_10"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/abr/new": {
      "post": {
        "tags": [
          "Multi Bitrate Push Streams"
        ],
        "summary": "Create ABR",
        "description": "Create a new ABR stream",
        "operationId": "multiBitratePushCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostMultiBitratePush"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_11"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/abr/{streamid}": {
      "get": {
        "tags": [
          "Multi Bitrate Push Streams"
        ],
        "summary": "Stream",
        "description": "Returns the details of an abr stream",
        "operationId": "getDetailsMultiBitratePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_12"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Multi Bitrate Push Streams"
        ],
        "summary": "Update Info",
        "description": "Update information of ABR stream.",
        "operationId": "updateMultiBitratePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Postabr"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_11"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Multi Bitrate Push Streams"
        ],
        "summary": "Delete Info",
        "description": "Delete information of ABR stream.To cast request method POST and parameters _METHOD = DELETE",
        "operationId": "deleteMultiBitratePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/abr/{streamid}/status": {
      "post": {
        "tags": [
          "Multi Bitrate Push Streams"
        ],
        "summary": "Update status of stream",
        "description": "Update status of stream",
        "operationId": "statusStreamsabr",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Postdisabled"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_7"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/abr/{streamid}/domainlock": {
      "post": {
        "tags": [
          "Multi Bitrate Push Streams"
        ],
        "summary": "Update Domain Lock",
        "operationId": "updateDomainlockMultiBitratePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostDomainLock"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_11"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/abr/{streamid}/geoblock": {
      "post": {
        "tags": [
          "Multi Bitrate Push Streams"
        ],
        "summary": "Update Geo Block",
        "description": "Update Geoblock of ABR",
        "operationId": "updateGeoblockMultiBitratePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostGeoBlock"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_11"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/abr/{streamid}/rtmpauth": {
      "post": {
        "tags": [
          "Multi Bitrate Push Streams"
        ],
        "summary": "Update RTMP Auth",
        "description": "Update RTMP auth of ABR",
        "operationId": "updateRtmpauthMultiBitratePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRtmpauth"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_11"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/abr/{streamid}/record": {
      "post": {
        "tags": [
          "Multi Bitrate Push Streams"
        ],
        "summary": "Update Record",
        "description": "Update Record ABR",
        "operationId": "updateRecordMultiBitratePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_11"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/abr/{streamid}/ndvr": {
      "post": {
        "tags": [
          "Multi Bitrate Push Streams"
        ],
        "summary": "Update Ndvr",
        "description": "Update Ndvr ABR",
        "operationId": "updateNdvrMultiBitratePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostNdvr"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_11"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/abr/{streamid}/restart": {
      "get": {
        "tags": [
          "Multi Bitrate Push Streams"
        ],
        "summary": "Restart",
        "description": "Restart ABR",
        "operationId": "restartMultiBitratePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/abr/{streamid}/restore": {
      "get": {
        "tags": [
          "Multi Bitrate Push Streams"
        ],
        "summary": "Restore",
        "description": "Restore ABR Stream",
        "operationId": "restoreMultiBitratePush",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/record": {
      "get": {
        "tags": [
          "DVR Streams"
        ],
        "summary": "DvrStream",
        "description": "List DVR streams",
        "operationId": "dvrStreamlist",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "description": "The page number of the result. One page contains 20 results."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_13"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/record/{streamid}": {
      "get": {
        "tags": [
          "DVR Streams"
        ],
        "summary": "DvrStream",
        "description": "Return the details of a DVR stream.",
        "operationId": "getDetailsDvrStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_14"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "DVR Streams"
        ],
        "summary": "DvrStream",
        "description": "Update information of a record stream.",
        "operationId": "updateInfoDvrStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRecordServers"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_15"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "DVR Streams"
        ],
        "summary": "DvrStream",
        "description": "Delete information of a record stream.",
        "operationId": "deleteInfoDvrStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/record/{streamid}/statistics/dvr": {
      "get": {
        "tags": [
          "DVR Streams"
        ],
        "summary": "Dvr Stream statistics",
        "description": "Return the details of a DVR stream statistics.",
        "operationId": "getDetailsDvrStreamStatusStatistics",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/streams/record/{streamid}/status": {
      "post": {
        "tags": [
          "DVR Streams"
        ],
        "summary": "Update status of stream",
        "description": "Update status of stream",
        "operationId": "statusStreamsdvr",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Postdisabled"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_15"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/record/{streamid}/domainlock": {
      "post": {
        "tags": [
          "DVR Streams"
        ],
        "summary": "Update Domain Lock",
        "description": "Update Domainlock of a record stream",
        "operationId": "updateDomainlockDvrStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostDomainLock"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_15"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/record/{streamid}/securetoken": {
      "post": {
        "tags": [
          "DVR Streams"
        ],
        "summary": "Update Secure Token",
        "description": "Update Secure token of record stream.",
        "operationId": "updateSecureTokenStreamsRecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSecureToken"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_15"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/record/{streamid}/geoblock": {
      "post": {
        "tags": [
          "DVR Streams"
        ],
        "summary": "Update Geo Block",
        "description": "Update geo block of record stream",
        "operationId": "updateGeoblockStreamsRecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostGeoBlock"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_15"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/record/{streamid}/export": {
      "post": {
        "tags": [
          "DVR Streams"
        ],
        "summary": "Update DVR  Export",
        "description": "Update DVR  Export of record stream",
        "operationId": "updateDVRExportStreamsRecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostExport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resultExport"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/record/{streamid}/autoexport": {
      "post": {
        "tags": [
          "DVR Streams"
        ],
        "summary": "Update DVR Auto Export",
        "description": "Update DVR Auto Export of record stream",
        "operationId": "updateDVRAutoExportStreamsRecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostAutoExport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_15"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/record/{streamid}/restore": {
      "get": {
        "tags": [
          "DVR Streams"
        ],
        "summary": "Restore",
        "description": "Restore record stream",
        "operationId": "restore-8",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/record/{streamid}/restart": {
      "get": {
        "tags": [
          "DVR Streams"
        ],
        "summary": "Restart",
        "description": "Restart record stream",
        "operationId": "restartDvrStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/timeshift/new": {
      "post": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "insert Info",
        "description": "insert informations of a delayed stream",
        "operationId": "insertDelayedStream",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Posttimeshift"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_16"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/timeshift": {
      "get": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "Delayedstreams",
        "description": "List Delayed  streams",
        "operationId": "DelayedstreamsList",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "description": "The page number of the result. One page contains 20 results."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_17"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/timeshift/{streamid}": {
      "get": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "Stream",
        "description": "Return Delayed streams",
        "operationId": "getDetailsDelayedStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_16"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "Update Info",
        "description": "Update informations of a delayed stream",
        "operationId": "updateDelayedStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Puttimeshift"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_16"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "Delete Info",
        "description": "Delete informations of a delayed stream. To cast request method POST and parameters _METHOD = DELETE",
        "operationId": "deleteDelayedStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/timeshift/{streamid}/statistics": {
      "get": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "Stream statistics",
        "description": "Return Delayed streams statistics",
        "operationId": "getDetailsDelayedStreamStatistics",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fs": {
                        "$ref": "#/components/schemas/fsResult"
                      },
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/streams/timeshift/{streamid}/status": {
      "post": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "Update status of stream",
        "description": "Update status of stream",
        "operationId": "statusStreamstimeshift",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Postdisabled"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_16"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/timeshift/{streamid}/securetoken": {
      "post": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "Update Secure Token",
        "description": "Update secure token of a delayed stream",
        "operationId": "updateSecureDelayedStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSecureToken"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_16"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/timeshift/{streamid}/geoblock": {
      "post": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "Update Geo Block",
        "description": "Update Geo block of a delayed stream",
        "operationId": "updateGeoblockDelayedStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostGeoBlock"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_16"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/timeshift/{streamid}/domainlock": {
      "post": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "Update Domain Lock",
        "description": "Update domainlock of a delayed stream.",
        "operationId": "updateDomainlockDelayedStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostDomainLock"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_16"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/timeshift/{streamid}/restart": {
      "get": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "Restart",
        "description": "Restart Delayed stream",
        "operationId": "restartDelayedStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/timeshift/{streamid}/restore": {
      "get": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "Restore",
        "description": "Restore Delayed stream",
        "operationId": "restoreDelayedStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/timeshift/{streamid}/platforms": {
      "post": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "Add platform",
        "description": "Add the platform of a delayed stream",
        "operationId": "addplatformStreamsDelayedStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostStreamPlatform"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_18"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/timeshift/{streamid}/platform/{platformid}": {
      "post": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "Update platform",
        "description": "Update the platform of a delayed stream",
        "operationId": "updateplatformDelayedStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          },
          {
            "$ref": "#/components/parameters/platformIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditStreamPlatform"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_18"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "Delete Info",
        "description": "Delete the Platform of delayed stream. To cast request method POST and parameters _METHOD = DELETE",
        "operationId": "deletePlatformDelayedStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          },
          {
            "$ref": "#/components/parameters/platformIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/timeshift/{streamid}/platform/{platformid}/restart": {
      "post": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "Update platform",
        "description": "Restart the platform of a delayed stream",
        "operationId": "restartplatformtimeshift",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          },
          {
            "$ref": "#/components/parameters/platformIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/timeshift/{streamid}/platform/{platformid}/status": {
      "post": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "Update platform",
        "description": "Status the platform of a delayed stream",
        "operationId": "platformstatustimeshift",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          },
          {
            "$ref": "#/components/parameters/platformIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Postdisabled"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/timeshift/parents": {
      "get": {
        "tags": [
          "Delayed Streams"
        ],
        "summary": "Source Streams",
        "description": "Return the parents of a Delayed stream",
        "operationId": "getParentsDelayedStream",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_19"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/scheduledplaylist": {
      "get": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Stream",
        "description": "scheduledplaylist.",
        "operationId": "scheduledPlayList",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "description": "The page number of the result. One page contains 20 results."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_20"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/scheduledplaylist/new": {
      "post": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Create Scheduled Playlist",
        "description": "Create new scheduled playlist",
        "operationId": "createScheduledPlaylist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Postscheduledplaylist"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_18"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/scheduledplaylist/{streamid}": {
      "get": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Stream",
        "description": "Return details of the stream.",
        "operationId": "getDetailsScheduledPlaylist",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_30"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Update Info",
        "description": "Update information of scheduled playlist",
        "operationId": "updateInfoScheduledPlaylist",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Putscheduledplaylist"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_18"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Delete Info",
        "description": "Delete information of scheduled playlist.To cast request method POST and parameters _METHOD = DELETE",
        "operationId": "deleteInfoScheduledPlaylist",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/scheduledplaylist/{streamid}/statistics": {
      "get": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Stream",
        "description": "Return details of the stream statistics",
        "operationId": "getDetailsScheduledStreamStatistics",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fs": {
                        "$ref": "#/components/schemas/fsResult"
                      },
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/streams/scheduledplaylist/{streamid}/statistics/playlist": {
      "get": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Stream playlist statistics",
        "description": "Return details of the stream playlist statistics",
        "operationId": "getDetailsScheduledPlaylistStatistics",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "current_entry": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/streams/scheduledplaylist/{streamid}/securetoken": {
      "post": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Update Secure Token",
        "description": "Update secure token of a scheduled playlist.",
        "operationId": "updateSecureTokenScheduledPlaylist",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSecureToken"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_18"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/scheduledplaylist/{streamid}/rtmpauth": {
      "post": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Update RTMPAuth",
        "description": "Update RTMP auth of a scheduled playlist.",
        "operationId": "updateRtmpauthScheduledPlaylist",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRtmpauth"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_18"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/scheduledplaylist/{streamid}/geoblock": {
      "post": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Update Geo Block",
        "description": "Update geoblock of scheduled playlist",
        "operationId": "updateGeoblockScheduledPlaylist",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostGeoBlock"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_18"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/scheduledplaylist/{streamid}/domainlock": {
      "post": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Update Domain Lock",
        "description": "Update domain lock of scheduled playlist.",
        "operationId": "updateDomainlockScheduledPlaylist",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostDomainLock"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_18"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/scheduledplaylist/{streamid}/transcode": {
      "post": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Update transcode",
        "description": "Update the transcode of a scheduled stream",
        "operationId": "updatetranscodeScheduledStream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Posttranscode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_18"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/scheduledplaylist/{streamid}/restore": {
      "get": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Restore",
        "description": "Restore a scheduled playlist",
        "operationId": "restoreScheduledPlaylist",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/scheduledplaylist/{streamid}/restart": {
      "get": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Restart",
        "description": "Restart scheduled playlist",
        "operationId": "restartScheduledPlaylist",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/scheduledplaylist/{streamid}/playlists/events": {
      "get": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Stream playlist",
        "description": "Return details of the stream playlist",
        "operationId": "getDetailsPlaylist",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/eventResult"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/streams/scheduledplaylist/{streamid}/playlist/new": {
      "post": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Create Playlist",
        "description": "Create new playlist",
        "operationId": "createPlaylistScheduledPlaylist",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Postplaylist"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_31"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/scheduledplaylist/{streamid}/playlist/{playlistid}": {
      "get": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Get Playlist",
        "description": "Get the playlist",
        "operationId": "getPlaylistScheduledPlaylist",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          },
          {
            "$ref": "#/components/parameters/playlistidParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_18"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Update Playlist",
        "description": "Update the playlist",
        "operationId": "updatePlaylistScheduledPlaylist",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          },
          {
            "$ref": "#/components/parameters/playlistidParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Postplaylist"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Delete playlist",
        "description": "Delete the playlist of Scheduled stream. To cast request method POST and parameters _METHOD = DELETE",
        "operationId": "deletePlaylistScheduled",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          },
          {
            "$ref": "#/components/parameters/playlistidParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/scheduledplaylist/{streamid}/playlist/{playlistid}/clone": {
      "post": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Create Playlist clone",
        "description": "Create the playlist",
        "operationId": "createPlaylistCloneScheduledPlaylist",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          },
          {
            "$ref": "#/components/parameters/playlistidParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPlaylistClone"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "playlistid": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/scheduledplaylist/{streamid}/platforms": {
      "post": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Add platform",
        "description": "Add the platform of a Scheduled stream",
        "operationId": "addplatformStreamsscheduledplaylist",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostStreamPlatform"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_18"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/streams/scheduledplaylist/{streamid}/platform/{platformid}": {
      "post": {
        "tags": [
          "Scheduled Playlist Streams"
        ],
        "summary": "Update platform",
        "description": "Update the platform of a Scheduled stream",
        "operationId": "updateplatformRestream",
        "parameters": [
          {
            "$ref": "#/components/parameters/streamIdParam"
          },
          {
            "$ref": "#/components/parameters/platformIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
[...]
