{
  "openapi": "3.0.3",
  "info": {
    "title": "Lithic API",
    "version": "1.0.0",
    "description": "Lithic card issuing and transaction management API. Provides endpoints for creating and managing virtual and physical payment cards, processing transactions, and configuring account settings.",
    "x-jentic-source-url": "https://www.lithic.com"
  },
  "servers": [
    {
      "url": "https://api.lithic.com/v1"
    }
  ],
  "paths": {
    "/cards": {
      "get": {
        "operationId": "listCards",
        "summary": "List all cards",
        "description": "Returns a list of cards",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Results per page"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "OPEN",
                "PAUSED",
                "CLOSED",
                "PENDING_FULFILLMENT",
                "PENDING_ACTIVATION"
              ]
            },
            "description": "Filter by card state"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCard",
        "summary": "Create a new card",
        "description": "Create a new virtual or physical card",
        "tags": [
          "Cards"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cards/{card_token}": {
      "get": {
        "operationId": "getCard",
        "summary": "Get card details",
        "description": "Returns details of a specific card",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "card_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Card token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateCard",
        "summary": "Update a card",
        "description": "Update card properties such as state, spend limit, or memo",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "card_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Card token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "operationId": "listTransactions",
        "summary": "List transactions",
        "description": "Returns a list of transactions",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "card_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by card token"
          },
          {
            "name": "result",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "APPROVED",
                "DECLINED"
              ]
            },
            "description": "Filter by result"
          },
          {
            "name": "begin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start date filter"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End date filter"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{transaction_token}": {
      "get": {
        "operationId": "getTransaction",
        "summary": "Get transaction details",
        "description": "Returns details of a specific transaction",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "transaction_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Transaction token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "List accounts",
        "description": "Returns a list of accounts",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_token}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account details",
        "description": "Get details for a specific account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth_rules": {
      "get": {
        "operationId": "listAuthRules",
        "summary": "List authorization rules",
        "description": "Returns all authorization rules",
        "tags": [
          "Auth Rules"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuthRule"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAuthRule",
        "summary": "Create authorization rule",
        "description": "Create a new authorization rule",
        "tags": [
          "Auth Rules"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAuthRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auth rule created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRule"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Card": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "VIRTUAL",
              "PHYSICAL",
              "MERCHANT_LOCKED",
              "SINGLE_USE"
            ]
          },
          "state": {
            "type": "string",
            "enum": [
              "OPEN",
              "PAUSED",
              "CLOSED"
            ]
          },
          "memo": {
            "type": "string"
          },
          "spend_limit": {
            "type": "integer"
          },
          "spend_limit_duration": {
            "type": "string",
            "enum": [
              "ANNUALLY",
              "FOREVER",
              "MONTHLY",
              "TRANSACTION"
            ]
          },
          "last_four": {
            "type": "string"
          },
          "pan": {
            "type": "string"
          },
          "exp_month": {
            "type": "string"
          },
          "exp_year": {
            "type": "string"
          },
          "cvv": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "account_token": {
            "type": "string"
          }
        }
      },
      "CreateCardRequest": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "VIRTUAL",
              "PHYSICAL",
              "MERCHANT_LOCKED",
              "SINGLE_USE"
            ]
          },
          "memo": {
            "type": "string"
          },
          "spend_limit": {
            "type": "integer"
          },
          "spend_limit_duration": {
            "type": "string",
            "enum": [
              "ANNUALLY",
              "FOREVER",
              "MONTHLY",
              "TRANSACTION"
            ]
          },
          "account_token": {
            "type": "string"
          },
          "shipping_address": {
            "$ref": "#/components/schemas/ShippingAddress"
          }
        }
      },
      "UpdateCardRequest": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "OPEN",
              "PAUSED",
              "CLOSED"
            ]
          },
          "memo": {
            "type": "string"
          },
          "spend_limit": {
            "type": "integer"
          },
          "spend_limit_duration": {
            "type": "string"
          }
        }
      },
      "ShippingAddress": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "line1": {
            "type": "string"
          },
          "line2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "CardListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Card"
            }
          },
          "page": {
            "type": "integer"
          },
          "total_entries": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "card_token": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "result": {
            "type": "string",
            "enum": [
              "APPROVED",
              "DECLINED"
            ]
          },
          "merchant": {
            "type": "object",
            "properties": {
              "descriptor": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "mcc": {
                "type": "string"
              }
            }
          },
          "created": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TransactionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "page": {
            "type": "integer"
          },
          "total_entries": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "spend_limit": {
            "type": "object",
            "properties": {
              "daily": {
                "type": "integer"
              },
              "monthly": {
                "type": "integer"
              },
              "lifetime": {
                "type": "integer"
              }
            }
          },
          "state": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AccountListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "page": {
            "type": "integer"
          },
          "total_entries": {
            "type": "integer"
          }
        }
      },
      "AuthRule": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "allowed_mcc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "blocked_mcc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowed_countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "blocked_countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateAuthRuleRequest": {
        "type": "object",
        "properties": {
          "allowed_mcc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "blocked_mcc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowed_countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "blocked_countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "card_tokens": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "account_tokens": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ]
}