{
  "openapi": "3.0.3",
  "info": {
    "title": "BetsAPI - Bet365 API",
    "description": "RESTful API providing Bet365 sports betting data including in-play events, upcoming events, pre-match odds, results, and league information. Provided by BetsAPI (betsapi.com).",
    "version": "3.0.0",
    "contact": {
      "name": "BetsAPI",
      "url": "https://betsapi.com"
    },
    "termsOfService": "https://betsapi.com/mm/terms"
  },
  "servers": [
    {
      "url": "https://api.b365api.com/v3",
      "description": "BetsAPI Production Server (v3)"
    },
    {
      "url": "https://api.betsapi.com/v3",
      "description": "BetsAPI Alternative Server (v3)"
    }
  ],
  "security": [
    {
      "apiToken": []
    }
  ],
  "paths": {
    "/bet365/inplay": {
      "get": {
        "operationId": "getBet365InPlay",
        "summary": "Bet365 InPlay Events",
        "description": "Returns a list of current in-play (live) events from Bet365.",
        "tags": ["Bet365"],
        "parameters": [
          {
            "name": "sport_id",
            "in": "query",
            "description": "Sport ID to filter events (e.g., 1 for Soccer, 18 for Basketball).",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "league_id",
            "in": "query",
            "description": "League ID to filter events.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with in-play events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authorization failed - invalid or missing API token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bet365/inplay_filter": {
      "get": {
        "operationId": "getBet365InPlayFilter",
        "summary": "Bet365 InPlay Events Filter",
        "description": "Returns a filtered summary of in-play events from Bet365, grouped by sport.",
        "tags": ["Bet365"],
        "parameters": [
          {
            "name": "sport_id",
            "in": "query",
            "description": "Sport ID to filter events.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with in-play filter data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InPlayFilterResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authorization failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bet365/event": {
      "get": {
        "operationId": "getBet365Event",
        "summary": "Bet365 InPlay Event Detail",
        "description": "Returns detailed information for a specific in-play event from Bet365, including current odds and stats.",
        "tags": ["Bet365"],
        "parameters": [
          {
            "name": "FI",
            "in": "query",
            "description": "The Bet365 fixture ID for the event.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stats",
            "in": "query",
            "description": "Include event statistics (e.g., attacks, possession).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["1", "0"]
            }
          },
          {
            "name": "lineup",
            "in": "query",
            "description": "Include lineup information.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["1", "0"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with event details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authorization failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bet365/upcoming": {
      "get": {
        "operationId": "getBet365Upcoming",
        "summary": "Bet365 Upcoming Events",
        "description": "Returns a list of upcoming (pre-match) events from Bet365.",
        "tags": ["Bet365"],
        "parameters": [
          {
            "name": "sport_id",
            "in": "query",
            "description": "Sport ID to filter events.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "league_id",
            "in": "query",
            "description": "League ID to filter events.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "day",
            "in": "query",
            "description": "Filter by date in YYYYMMDD format.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{8}$"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with upcoming events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authorization failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bet365/league": {
      "get": {
        "operationId": "getBet365UpcomingLeague",
        "summary": "Bet365 Upcoming Leagues",
        "description": "Returns a list of leagues with upcoming events from Bet365 for a given sport.",
        "tags": ["Bet365"],
        "parameters": [
          {
            "name": "sport_id",
            "in": "query",
            "description": "Sport ID to filter leagues.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "day",
            "in": "query",
            "description": "Filter by date in YYYYMMDD format.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{8}$"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with league list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authorization failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bet365/prematch": {
      "get": {
        "operationId": "getBet365PreMatchOdds",
        "summary": "Bet365 PreMatch Odds",
        "description": "Returns pre-match odds for a specific event from Bet365.",
        "tags": ["Bet365"],
        "parameters": [
          {
            "name": "FI",
            "in": "query",
            "description": "The Bet365 fixture ID for the event.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with pre-match odds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreMatchOddsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authorization failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bet365/result": {
      "get": {
        "operationId": "getBet365Result",
        "summary": "Bet365 Results",
        "description": "Returns results for ended events from Bet365.",
        "tags": ["Bet365"],
        "parameters": [
          {
            "name": "event_id",
            "in": "query",
            "description": "The event ID to retrieve results for.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sport_id",
            "in": "query",
            "description": "Sport ID to filter results.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "league_id",
            "in": "query",
            "description": "League ID to filter results.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "day",
            "in": "query",
            "description": "Filter by date in YYYYMMDD format.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{8}$"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authorization failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "API token obtained from https://betsapi.com/mm/orders"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "integer",
            "example": 0
          },
          "error": {
            "type": "string",
            "example": "AUTHORIZE_FAILED"
          },
          "error_detail": {
            "type": "string",
            "example": "Verify your API Token at https://betsapi.com/mm/orders"
          }
        }
      },
      "Pager": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number."
          },
          "per_page": {
            "type": "integer",
            "description": "Number of results per page."
          },
          "total": {
            "type": "integer",
            "description": "Total number of results."
          }
        }
      },
      "Bet365Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "BetsAPI event ID."
          },
          "FI": {
            "type": "string",
            "description": "Bet365 fixture ID."
          },
          "sport_id": {
            "type": "string",
            "description": "Sport identifier."
          },
          "time": {
            "type": "string",
            "description": "Event start time (Unix timestamp)."
          },
          "time_status": {
            "type": "string",
            "description": "Event time status (0=Not Started, 1=InPlay, 2=ToBeFixed, 3=Ended, 4=Postponed, 5=Cancelled, 6=Walkover, 7=Interrupted, 8=Abandoned, 9=Retired, 10=Suspended)."
          },
          "league": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "cc": {
                "type": "string",
                "description": "Country code."
              }
            }
          },
          "home": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "image_id": {
                "type": "string"
              },
              "cc": {
                "type": "string"
              }
            }
          },
          "away": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "image_id": {
                "type": "string"
              },
              "cc": {
                "type": "string"
              }
            }
          },
          "ss": {
            "type": "string",
            "description": "Current score (e.g., '1-0')."
          },
          "timer": {
            "type": "object",
            "description": "Match timer details.",
            "properties": {
              "tm": {
                "type": "integer",
                "description": "Minutes elapsed."
              },
              "ts": {
                "type": "integer",
                "description": "Seconds elapsed."
              },
              "tt": {
                "type": "string",
                "description": "Timer type (0=not started, 1=1st half, 2=2nd half)."
              }
            }
          },
          "scores": {
            "type": "object",
            "description": "Detailed scores by period.",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "home": {
                  "type": "string"
                },
                "away": {
                  "type": "string"
                }
              }
            }
          },
          "has_lineup": {
            "type": "integer",
            "description": "Whether lineup data is available (0 or 1)."
          },
          "inplay_created_at": {
            "type": "string",
            "description": "When the event went in-play (Unix timestamp)."
          },
          "inplay_updated_at": {
            "type": "string",
            "description": "Last update time for in-play data (Unix timestamp)."
          },
          "bet365_id": {
            "type": "string",
            "description": "Bet365 specific event identifier."
          }
        }
      },
      "EventListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "integer",
            "example": 1
          },
          "pager": {
            "$ref": "#/components/schemas/Pager"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bet365Event"
            }
          }
        }
      },
      "EventDetailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "integer",
            "example": 1
          },
          "results": {
            "type": "array",
            "description": "Array of event detail objects with market and odds data.",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Market type identifier."
                },
                "FI": {
                  "type": "string",
                  "description": "Fixture ID."
                },
                "NA": {
                  "type": "string",
                  "description": "Market or selection name."
                },
                "OD": {
                  "type": "string",
                  "description": "Odds value."
                },
                "SU": {
                  "type": "string",
                  "description": "Suspension status."
                }
              }
            }
          }
        }
      },
      "InPlayFilterResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "integer",
            "example": 1
          },
          "results": {
            "type": "object",
            "description": "Object keyed by sport_id with counts of in-play events.",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "sport_id": {
                  "type": "string"
                },
                "sport_name": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "LeagueListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "integer",
            "example": 1
          },
          "pager": {
            "$ref": "#/components/schemas/Pager"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "League ID."
                },
                "name": {
                  "type": "string",
                  "description": "League name."
                },
                "cc": {
                  "type": "string",
                  "description": "Country code."
                },
                "events_count": {
                  "type": "integer",
                  "description": "Number of upcoming events in this league."
                }
              }
            }
          }
        }
      },
      "PreMatchOddsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "integer",
            "example": 1
          },
          "results": {
            "type": "object",
            "description": "Pre-match odds data organized by market type.",
            "properties": {
              "FI": {
                "type": "string",
                "description": "Fixture ID."
              },
              "event_id": {
                "type": "string",
                "description": "BetsAPI event ID."
              },
              "odds": {
                "type": "object",
                "description": "Odds organized by market type (e.g., 'match_result', 'asian_handicap', 'goals_over_under').",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string",
                        "description": "Selection name."
                      },
                      "header": {
                        "type": "string",
                        "description": "Market header/handicap value."
                      },
                      "odds": {
                        "type": "string",
                        "description": "Decimal odds value."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ResultListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "integer",
            "example": 1
          },
          "pager": {
            "$ref": "#/components/schemas/Pager"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bet365Event"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Bet365",
      "description": "Bet365 sports betting data endpoints - in-play events, upcoming events, pre-match odds, and results."
    }
  ],
  "externalDocs": {
    "description": "BetsAPI Documentation",
    "url": "https://betsapi.com/docs/"
  }
}
