{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "dbpedia@infai.org"
    },
    "description": "DBpedia Spotlight is a tool for automatically annotating mentions of DBpedia resources in text, providing a solution for linking unstructured information sources to the Linked Open Data cloud through DBpedia",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "http://swagger.io/terms/",
    "title": "DBpedia Spotlight",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Julio-Noe/api_de/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.dbpedia-spotlight.org/de"
    }
  ],
  "paths": {
    "/annotate": {
      "get": {
        "parameters": [
          {
            "description": "text to be annotated.",
            "in": "query",
            "name": "text",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "URL to be annotated.",
            "in": "query",
            "name": "url",
            "required": false,
            "schema": {
              "format": "url",
              "type": "string"
            }
          },
          {
            "description": "confidence score for disambiguation / linking",
            "in": "query",
            "name": "confidence",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "how prominent is this entity in Lucene Model, i.e. number of inlinks in Wikipedia",
            "in": "query",
            "name": "support",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "types filter (Eg.DBpedia:Place)",
            "in": "query",
            "name": "types",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "SPARQL filtering",
            "in": "query",
            "name": "sparql",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "(whitelist) select all entities that have the same type;  (blacklist) - select all entities that have not the same type.",
            "in": "query",
            "name": "policy",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An annotated text"
          }
        },
        "tags": [
          "Annotate"
        ],
        "description": "A 4(four) step process -  Spotting, Candidate Mapping, Disambiguation and Linking / Stats -  for linking unstructured information sources  \n",
        "operationId": "get-annotate",
        "summary": "Returns annotated text / entities from an URL"
      }
    },
    "/candidates": {
      "get": {
        "parameters": [
          {
            "description": "text to be annotated.",
            "in": "query",
            "name": "text",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "URL to be annotated.",
            "in": "query",
            "name": "url",
            "required": false,
            "schema": {
              "format": "url",
              "type": "string"
            }
          },
          {
            "description": "confidence score for disambiguation / linking",
            "in": "query",
            "name": "confidence",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "how prominent is this entity in Lucene Model, i.e. number of inlinks in Wikipedia",
            "in": "query",
            "name": "support",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "types filter (Eg.DBpedia:Place)",
            "in": "query",
            "name": "types",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "SPARQL filtering",
            "in": "query",
            "name": "sparql",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "(whitelist) select all entities that have the same type;  (blacklist) - select all entities that have not the same type.",
            "in": "query",
            "name": "policy",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "possible annotations for a text"
          }
        },
        "tags": [
          "Candidates"
        ],
        "description": "A 2(two) step process -  Spotting, Candidate Mapping -  for linking unstructured information sources  \n",
        "operationId": "get-candidates",
        "summary": "Returns candidates from an URL"
      }
    },
    "/spot": {
      "get": {
        "parameters": [
          {
            "description": "text to be annotated.",
            "in": "query",
            "name": "text",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "URL to be annotated.",
            "in": "query",
            "name": "url",
            "required": false,
            "schema": {
              "format": "url",
              "type": "string"
            }
          },
          {
            "description": "confidence score for disambiguation / linking",
            "in": "query",
            "name": "confidence",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "how prominent is this entity in Lucene Model, i.e. number of inlinks in Wikipedia",
            "in": "query",
            "name": "support",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "types filter (Eg.DBpedia:Place)",
            "in": "query",
            "name": "types",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "SPARQL filtering",
            "in": "query",
            "name": "sparql",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "(whitelist) select all entities that have the same type;  (blacklist) - select all entities that have not the same type.",
            "in": "query",
            "name": "policy",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "spots for a text"
          }
        },
        "tags": [
          "Annotate"
        ],
        "description": "A 1(one) step process -  Spotting -  for linking unstructured information sources  \n",
        "operationId": "get-spot",
        "summary": "Returns candidates from an URL"
      }
    }
  },
  "tags": [
    {
      "name": "Annotate"
    },
    {
      "name": "Candidates"
    }
  ]
}