{
  "openapi": "3.0.3",
  "info": {
    "title": "Fliki API",
    "version": "1.0.0",
    "description": "Fliki is an AI-powered text-to-video and text-to-speech platform. The Enterprise API provides access to languages, dialects, voices, and media generation.",
    "x-jentic-source-url": "https://developer.fliki.ai/docs/intro",
    "contact": {
      "name": "Fliki API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.fliki.ai/v1"
    }
  ],
  "paths": {
    "/languages": {
      "get": {
        "operationId": "listLanguages",
        "summary": "List supported languages",
        "tags": [
          "Languages"
        ],
        "responses": {
          "200": {
            "description": "Languages list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List supported languages"
      }
    },
    "/dialects": {
      "get": {
        "operationId": "listDialects",
        "summary": "List supported dialects",
        "tags": [
          "Languages"
        ],
        "responses": {
          "200": {
            "description": "Dialects list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DialectListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List supported dialects"
      }
    },
    "/voices": {
      "get": {
        "operationId": "listVoices",
        "summary": "List voices for language and dialect",
        "tags": [
          "Voices"
        ],
        "parameters": [
          {
            "name": "languageId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Language identifier"
          },
          {
            "name": "dialectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Dialect identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Voices list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List voices for language and dialect"
      }
    },
    "/generate/audio": {
      "post": {
        "operationId": "generateAudio",
        "summary": "Generate audio from text",
        "tags": [
          "Generate"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAudioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Generate audio from text"
      }
    },
    "/generate/video": {
      "post": {
        "operationId": "generateVideo",
        "summary": "Generate video from text",
        "tags": [
          "Generate"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateVideoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Generate video from text"
      }
    }
  },
  "components": {
    "schemas": {
      "Language": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "LanguageListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Language"
            }
          }
        }
      },
      "Dialect": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "DialectListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dialect"
            }
          }
        }
      },
      "Voice": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "isUltra": {
            "type": "string"
          },
          "audioSample": {
            "type": "string"
          },
          "styles": {
            "type": "object"
          }
        }
      },
      "VoiceListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Voice"
            }
          }
        }
      },
      "GenerateAudioRequest": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "voiceId": {
            "type": "string"
          },
          "languageId": {
            "type": "string"
          },
          "dialectId": {
            "type": "string"
          }
        }
      },
      "GenerateVideoRequest": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "voiceId": {
            "type": "string"
          },
          "languageId": {
            "type": "string"
          },
          "dialectId": {
            "type": "string"
          }
        }
      },
      "GenerateResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "duration": {
            "type": "number"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Fliki API key as Bearer token"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Generate"
    },
    {
      "name": "Languages"
    },
    {
      "name": "Voices"
    }
  ]
}
