{
  "openapi": "3.0.3",
  "info": {
    "title": "Hedy API",
    "version": "1.0.1",
    "description": "API for accessing and managing Hedy meeting sessions, highlights, and webhooks.",
    "x-jentic-source-url": "https://app.swaggerhub.com/apis-docs/HedyAI/hedy-api/1.0.1",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.hedy.bot"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Sessions",
      "description": "Endpoints for managing meeting sessions"
    },
    {
      "name": "Highlights",
      "description": "Endpoints for accessing meeting highlights"
    }
  ],
  "paths": {
    "/sessions": {
      "get": {
        "operationId": "listSessions",
        "summary": "List sessions",
        "description": "Returns a paginated list of meeting sessions",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved sessions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sessions/{sessionId}": {
      "get": {
        "operationId": "getSession",
        "summary": "Get session details",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get session details"
      }
    },
    "/highlights": {
      "get": {
        "operationId": "listHighlights",
        "summary": "List highlights",
        "tags": [
          "Highlights"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved highlights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HighlightListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List highlights"
      }
    },
    "/highlights/{highlightId}": {
      "get": {
        "operationId": "getHighlight",
        "summary": "Get highlight details",
        "tags": [
          "Highlights"
        ],
        "parameters": [
          {
            "name": "highlightId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Highlight details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HighlightDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get highlight details"
      }
    }
  },
  "components": {
    "schemas": {
      "SessionList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "number"
          },
          "recap": {
            "type": "string"
          }
        }
      },
      "SessionDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "number"
          },
          "transcript": {
            "type": "string"
          },
          "conversations": {
            "type": "string"
          },
          "meeting_minutes": {
            "type": "string"
          },
          "recap": {
            "type": "string"
          }
        }
      },
      "SessionListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionList"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "hasMore": {
                "type": "boolean"
              },
              "next": {
                "type": "string"
              },
              "total": {
                "type": "number"
              }
            }
          }
        }
      },
      "HighlightList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "sessionId": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "cleanedQuote": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          }
        }
      },
      "HighlightDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "sessionId": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "timeIndex": {
            "type": "number"
          },
          "rawQuote": {
            "type": "string"
          },
          "cleanedQuote": {
            "type": "string"
          },
          "aiInsight": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "HighlightListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HighlightList"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "hasMore": {
                "type": "boolean"
              },
              "next": {
                "type": "string"
              },
              "total": {
                "type": "number"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Bearer API key"
      }
    }
  }
}
