{
  "openapi": "3.0.3",
  "info": {
    "title": "Tesla Fleet API",
    "version": "1.0.0",
    "description": "The Tesla Fleet API provides endpoints to manage Tesla vehicles and energy products, including vehicle commands, telemetry, energy site management, and fleet configuration.",
    "x-jentic-source-url": "https://developer.tesla.com/docs/fleet-api/endpoints/energy"
  },
  "servers": [
    {
      "url": "https://fleet-api.prd.na.vn.cloud.tesla.com"
    }
  ],
  "paths": {
    "/api/1/energy_sites/{energy_site_id}/backup": {
      "post": {
        "operationId": "setBackupReserve",
        "summary": "Adjusts the site backup reserve",
        "tags": [
          "Energy"
        ],
        "parameters": [
          {
            "name": "energy_site_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Energy site ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/energy_sites/{energy_site_id}/calendar_history": {
      "get": {
        "operationId": "getEnergyHistory",
        "summary": "Returns aggregated site energy measurements",
        "tags": [
          "Energy"
        ],
        "parameters": [
          {
            "name": "energy_site_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Energy site ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/energy_sites/{energy_site_id}/telemetry_history": {
      "get": {
        "operationId": "getChargeHistory",
        "summary": "Returns wall connector charging history",
        "tags": [
          "Energy"
        ],
        "parameters": [
          {
            "name": "energy_site_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Energy site ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/energy_sites/{energy_site_id}/grid_import_export": {
      "post": {
        "operationId": "setGridImportExport",
        "summary": "Controls grid charging and energy export permissions",
        "tags": [
          "Energy"
        ],
        "parameters": [
          {
            "name": "energy_site_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Energy site ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/energy_sites/{energy_site_id}/live_status": {
      "get": {
        "operationId": "getEnergySiteLiveStatus",
        "summary": "Returns real-time site status",
        "tags": [
          "Energy"
        ],
        "parameters": [
          {
            "name": "energy_site_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Energy site ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/energy_sites/{energy_site_id}/off_grid_vehicle_charging_reserve": {
      "post": {
        "operationId": "setOffGridVehicleChargingReserve",
        "summary": "Modifies backup reserve for vehicle charging during outages",
        "tags": [
          "Energy"
        ],
        "parameters": [
          {
            "name": "energy_site_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Energy site ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/energy_sites/{energy_site_id}/operation": {
      "post": {
        "operationId": "setEnergySiteOperation",
        "summary": "Sets site operating mode",
        "tags": [
          "Energy"
        ],
        "parameters": [
          {
            "name": "energy_site_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Energy site ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/energy_sites/{energy_site_id}/site_info": {
      "get": {
        "operationId": "getEnergySiteInfo",
        "summary": "Provides site details including assets and settings",
        "tags": [
          "Energy"
        ],
        "parameters": [
          {
            "name": "energy_site_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Energy site ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/energy_sites/{energy_site_id}/storm_mode": {
      "post": {
        "operationId": "setStormMode",
        "summary": "Modifies storm watch enrollment status",
        "tags": [
          "Energy"
        ],
        "parameters": [
          {
            "name": "energy_site_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Energy site ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/energy_sites/{energy_site_id}/time_of_use_settings": {
      "post": {
        "operationId": "setTimeOfUseSettings",
        "summary": "Updates utility rate plan settings",
        "tags": [
          "Energy"
        ],
        "parameters": [
          {
            "name": "energy_site_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Energy site ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "Returns user-mapped products",
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles": {
      "get": {
        "operationId": "listVehicles",
        "summary": "Returns vehicles belonging to the account",
        "tags": [
          "Vehicles"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}": {
      "get": {
        "operationId": "getVehicle",
        "summary": "Returns information about a vehicle",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle Identification Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/vehicle_data": {
      "get": {
        "operationId": "getVehicleData",
        "summary": "Makes live call to fetch realtime vehicle info",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle Identification Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/mobile_enabled": {
      "get": {
        "operationId": "getMobileEnabled",
        "summary": "Returns whether mobile access is enabled",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle Identification Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/nearby_charging_sites": {
      "get": {
        "operationId": "getNearbyChargingSites",
        "summary": "Returns charging sites near vehicle",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle Identification Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/release_notes": {
      "get": {
        "operationId": "getReleaseNotes",
        "summary": "Returns firmware release notes",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle Identification Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/service_data": {
      "get": {
        "operationId": "getServiceData",
        "summary": "Fetches service status information",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle Identification Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/drivers": {
      "get": {
        "operationId": "listDrivers",
        "summary": "Returns all allowed drivers for a vehicle",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle Identification Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/recent_alerts": {
      "get": {
        "operationId": "getRecentAlerts",
        "summary": "List of recent alerts",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle Identification Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/invitations": {
      "get": {
        "operationId": "listShareInvites",
        "summary": "Returns active share invites",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle Identification Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/specs": {
      "get": {
        "operationId": "getVehicleSpecs",
        "summary": "Returns vehicle specifications",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle Identification Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/wake_up": {
      "post": {
        "operationId": "wakeUpVehicle",
        "summary": "Wakes the vehicle from sleep",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/door_lock": {
      "post": {
        "operationId": "doorLock",
        "summary": "Locks vehicle doors",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/door_unlock": {
      "post": {
        "operationId": "doorUnlock",
        "summary": "Unlocks vehicle doors",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/flash_lights": {
      "post": {
        "operationId": "flashLights",
        "summary": "Flashes vehicle headlights",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/honk_horn": {
      "post": {
        "operationId": "honkHorn",
        "summary": "Sounds vehicle horn",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/auto_conditioning_start": {
      "post": {
        "operationId": "startAutoConditioning",
        "summary": "Starts climate preconditioning",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/auto_conditioning_stop": {
      "post": {
        "operationId": "stopAutoConditioning",
        "summary": "Stops climate preconditioning",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/charge_start": {
      "post": {
        "operationId": "startCharge",
        "summary": "Initiates vehicle charging",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/charge_stop": {
      "post": {
        "operationId": "stopCharge",
        "summary": "Stops active charging",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/charge_port_door_open": {
      "post": {
        "operationId": "openChargePort",
        "summary": "Opens charge port door",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/charge_port_door_close": {
      "post": {
        "operationId": "closeChargePort",
        "summary": "Closes charge port door",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/charge_max_range": {
      "post": {
        "operationId": "chargeMaxRange",
        "summary": "Charges in max range mode",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/charge_standard": {
      "post": {
        "operationId": "chargeStandard",
        "summary": "Charges in standard mode",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/set_charge_limit": {
      "post": {
        "operationId": "setChargeLimit",
        "summary": "Sets target charge percentage",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/set_charging_amps": {
      "post": {
        "operationId": "setChargingAmps",
        "summary": "Sets charging amperage",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/set_temps": {
      "post": {
        "operationId": "setTemps",
        "summary": "Sets cabin temperature",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/set_sentry_mode": {
      "post": {
        "operationId": "setSentryMode",
        "summary": "Enables/disables Sentry Mode",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/actuate_trunk": {
      "post": {
        "operationId": "actuateTrunk",
        "summary": "Controls front or rear trunk",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/sun_roof_control": {
      "post": {
        "operationId": "controlSunRoof",
        "summary": "Controls sunroof position",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/window_control": {
      "post": {
        "operationId": "controlWindows",
        "summary": "Controls window position",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/remote_start_drive": {
      "post": {
        "operationId": "remoteStartDrive",
        "summary": "Remotely starts vehicle",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/set_valet_mode": {
      "post": {
        "operationId": "setValetMode",
        "summary": "Activates Valet Mode",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/speed_limit_activate": {
      "post": {
        "operationId": "activateSpeedLimit",
        "summary": "Activates Speed Limit Mode",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/speed_limit_deactivate": {
      "post": {
        "operationId": "deactivateSpeedLimit",
        "summary": "Deactivates Speed Limit Mode",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/schedule_software_update": {
      "post": {
        "operationId": "scheduleSoftwareUpdate",
        "summary": "Schedules software installation",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/cancel_software_update": {
      "post": {
        "operationId": "cancelSoftwareUpdate",
        "summary": "Cancels pending software update",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/set_vehicle_name": {
      "post": {
        "operationId": "setVehicleName",
        "summary": "Changes vehicle name",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/navigation_gps_request": {
      "post": {
        "operationId": "navigateToGps",
        "summary": "Starts navigation to coordinates",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/trigger_homelink": {
      "post": {
        "operationId": "triggerHomelink",
        "summary": "Activates HomeLink",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/media_toggle_playback": {
      "post": {
        "operationId": "toggleMediaPlayback",
        "summary": "Toggles play/pause",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/media_next_track": {
      "post": {
        "operationId": "nextTrack",
        "summary": "Advances to next track",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/command/media_prev_track": {
      "post": {
        "operationId": "prevTrack",
        "summary": "Rewinds to previous track",
        "tags": [
          "Vehicle Commands"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/fleet_status": {
      "post": {
        "operationId": "getFleetStatus",
        "summary": "Provides information to determine vehicle state",
        "tags": [
          "Fleet"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/fleet_telemetry_config": {
      "post": {
        "operationId": "createFleetTelemetryConfig",
        "summary": "Configures vehicles for fleet telemetry server",
        "tags": [
          "Fleet"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/1/vehicles/{vin}/fleet_telemetry_config": {
      "get": {
        "operationId": "getFleetTelemetryConfig",
        "summary": "Fetches vehicle fleet telemetry config",
        "tags": [
          "Fleet"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteFleetTelemetryConfig",
        "summary": "Remove fleet telemetry configuration",
        "tags": [
          "Fleet"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CommandResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "result": {
                "type": "boolean"
              },
              "reason": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "OAuth2"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}