{
  "openapi": "3.0.3",
  "info": {
    "title": "Tesla Fleet API",
    "version": "1.0.0",
    "description": "Tesla Fleet API for vehicle management, charging, energy products, and fleet operations. Provides endpoints for vehicle commands, state queries, telemetry, and partner integration.",
    "x-jentic-source-url": "https://developer.tesla.com/docs/fleet-api"
  },
  "servers": [
    {
      "url": "https://fleet-api.prd.na.vn.cloud.tesla.com/api/1"
    }
  ],
  "paths": {
    "/vehicles": {
      "get": {
        "operationId": "listVehicles",
        "summary": "List all vehicles",
        "description": "Returns a list of vehicles associated with the authenticated account.",
        "tags": [
          "Vehicles"
        ],
        "responses": {
          "200": {
            "description": "Vehicle list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}": {
      "get": {
        "operationId": "getVehicle",
        "summary": "Get vehicle details",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}/vehicle_data": {
      "get": {
        "operationId": "getVehicleData",
        "summary": "Get all vehicle data",
        "description": "Returns all data points for the vehicle including charge state, climate state, drive state, GUI settings, and vehicle state.",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endpoints",
            "in": "query",
            "description": "Semicolon-separated list of data endpoints to fetch",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleDataResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}/wake_up": {
      "post": {
        "operationId": "wakeUpVehicle",
        "summary": "Wake up vehicle",
        "description": "Attempts to wake up the vehicle from sleep mode.",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wake up response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}/command/door_lock": {
      "post": {
        "operationId": "lockDoors",
        "summary": "Lock vehicle doors",
        "tags": [
          "Commands"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Command sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}/command/door_unlock": {
      "post": {
        "operationId": "unlockDoors",
        "summary": "Unlock vehicle doors",
        "tags": [
          "Commands"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Command sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}/command/honk_horn": {
      "post": {
        "operationId": "honkHorn",
        "summary": "Honk the horn",
        "tags": [
          "Commands"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Command sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}/command/flash_lights": {
      "post": {
        "operationId": "flashLights",
        "summary": "Flash the lights",
        "tags": [
          "Commands"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Command sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}/command/auto_conditioning_start": {
      "post": {
        "operationId": "startClimate",
        "summary": "Start HVAC climate control",
        "tags": [
          "Climate"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Command sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}/command/auto_conditioning_stop": {
      "post": {
        "operationId": "stopClimate",
        "summary": "Stop HVAC climate control",
        "tags": [
          "Climate"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Command sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}/command/set_temps": {
      "post": {
        "operationId": "setTemperature",
        "summary": "Set cabin temperature",
        "tags": [
          "Climate"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "driver_temp": {
                    "type": "number"
                  },
                  "passenger_temp": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}/command/charge_start": {
      "post": {
        "operationId": "startCharging",
        "summary": "Start charging",
        "tags": [
          "Charging"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Command sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}/command/charge_stop": {
      "post": {
        "operationId": "stopCharging",
        "summary": "Stop charging",
        "tags": [
          "Charging"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Command sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}/command/set_charge_limit": {
      "post": {
        "operationId": "setChargeLimit",
        "summary": "Set charge limit percentage",
        "tags": [
          "Charging"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "percent": {
                    "type": "integer",
                    "minimum": 50,
                    "maximum": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}/command/charge_port_door_open": {
      "post": {
        "operationId": "openChargePort",
        "summary": "Open charge port door",
        "tags": [
          "Charging"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Command sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}/command/actuate_trunk": {
      "post": {
        "operationId": "actuateTrunk",
        "summary": "Open or close trunk/frunk",
        "tags": [
          "Commands"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "which_trunk": {
                    "type": "string",
                    "enum": [
                      "rear",
                      "front"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}/nearby_charging_sites": {
      "get": {
        "operationId": "getNearbyChargingSites",
        "summary": "Get nearby charging sites",
        "tags": [
          "Charging"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nearby charging sites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/partner_accounts": {
      "post": {
        "operationId": "registerPartnerAccount",
        "summary": "Register a partner account",
        "tags": [
          "Partners"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VehicleListResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vehicle"
            }
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "VehicleResponse": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/Vehicle"
          }
        }
      },
      "Vehicle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "vehicle_id": {
            "type": "integer"
          },
          "vin": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "online",
              "asleep",
              "offline"
            ]
          },
          "access_type": {
            "type": "string"
          }
        }
      },
      "VehicleDataResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "vehicle_id": {
                "type": "integer"
              },
              "vin": {
                "type": "string"
              },
              "charge_state": {
                "type": "object"
              },
              "climate_state": {
                "type": "object"
              },
              "drive_state": {
                "type": "object"
              },
              "gui_settings": {
                "type": "object"
              },
              "vehicle_state": {
                "type": "object"
              },
              "vehicle_config": {
                "type": "object"
              }
            }
          }
        }
      },
      "CommandResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "result": {
                "type": "boolean"
              },
              "reason": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.tesla.com/oauth2/v3/authorize",
            "tokenUrl": "https://auth.tesla.com/oauth2/v3/token",
            "scopes": {
              "openid": "OpenID",
              "vehicle_device_data": "Vehicle data",
              "vehicle_cmds": "Vehicle commands",
              "vehicle_charging_cmds": "Charging commands",
              "energy_device_data": "Energy data"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ]
}