{
  "openapi": "3.0.0",
  "info": {
    "description": "Application programming interface for the Department of Employment and Workplace Relations's Electronic Commonwealth Assistance Form (eCAF) application. This schema describes the API for VET Student Loans 1302D-2026 version 20 (effective from 01 January 2026).",
    "title": "eCAF API: VET Student Loans version 20",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/WENDYRICHARDS_1/ecaf-api-vet-student-loans-version-20/1.0.0"
  },
  "servers": [
    {
      "url": "https://ecafapitraining.education.gov.au/v1"
    }
  ],
  "paths": {
    "/chessns/{chessn}": {
      "get": {
        "parameters": [
          {
            "description": "CHESSN",
            "in": "path",
            "name": "chessn",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Student's date of birth",
            "in": "query",
            "name": "dateOfBirth",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Course of study code",
            "in": "query",
            "name": "courseOfStudyCode",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChessnDetails"
                }
              }
            },
            "description": "The details of the CHESSN as sourced from HEIMS/TCSI."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found. The requested record was not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "CHESSNs"
        ],
        "description": "Returns a single record containing information about the specified CHESSN.",
        "summary": "Get CHESSN details"
      }
    },
    "/corrections": {
      "get": {
        "parameters": [
          {
            "description": "Ecaf Id",
            "in": "query",
            "name": "EcafId",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Progression Id",
            "in": "query",
            "name": "ProgressionId",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Between",
            "in": "query",
            "name": "Between",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Type",
            "in": "query",
            "name": "Type",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "From Date",
            "in": "query",
            "name": "FromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "To Date",
            "in": "query",
            "name": "ToDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Correction"
                  },
                  "type": "array"
                }
              }
            },
            "description": "An array of corrections."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "Corrections"
        ],
        "description": "Returns a list of corrections which to eCAFs and/or progressions.",
        "summary": "Corrections"
      }
    },
    "/corrections/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Correction"
                }
              }
            },
            "description": "Detailed correction information."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found. The requested record was not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "Corrections"
        ],
        "description": "Returns information regarding a single correction.",
        "summary": "Single Correction"
      }
    },
    "/courses": {
      "get": {
        "parameters": [
          {
            "description": "Effective Date",
            "in": "query",
            "name": "EffectiveDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CourseDetails"
                  },
                  "type": "array"
                }
              }
            },
            "description": "An array of course details."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "Courses"
        ],
        "description": "Returns a list of course details as at either the specified effectiveDate or as of now. No paging or sorting.",
        "summary": "Courses"
      }
    },
    "/ecafs": {
      "get": {
        "parameters": [
          {
            "description": "Whether the eCAF has been marked as processed (multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "Processed",
            "required": false,
            "schema": {
              "items": {
                "type": "boolean"
              },
              "type": "array"
            }
          },
          {
            "description": "Exception Type (Under18, WithoutTfn, CspOnly, IsUnderRevision, TfnVerificationFailed or UsiVerificationFailed, multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "ExceptionType",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "Under18",
                  "WithoutTfn",
                  "CspOnly",
                  "IsUnderRevision",
                  "TfnVerificationFailed",
                  "UsiVerificationFailed"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Tfn Verification Status (NotApplicableTfnVerificationDisabled, NotApplicableAppliedForTfn, NotApplicableInsufficientSupportingData, NotApplicableCspOnly, NotApplicableMustPayUpfront, Unverified, Queued, Passed or Failed, multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "TfnVerificationStatus",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "NotApplicableTfnVerificationDisabled",
                  "NotApplicableAppliedForTfn",
                  "NotApplicableInsufficientSupportingData",
                  "NotApplicableCspOnly",
                  "NotApplicableMustPayUpfront",
                  "Unverified",
                  "Queued",
                  "Passed",
                  "Failed"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Submitted From Date",
            "in": "query",
            "name": "SubmittedFromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Submitted To Date",
            "in": "query",
            "name": "SubmittedToDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Revision Submission Due From Date",
            "in": "query",
            "name": "RevisionSubmissionDueFromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Revision Submission Due To Date",
            "in": "query",
            "name": "RevisionSubmissionDueToDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Whether the eCAF has corrections",
            "in": "query",
            "name": "HasCorrections",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Id",
            "in": "query",
            "name": "Id",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Type of eCAF (VetStudentLoans, VetStudentLoansPaper, HecsHelp, FeeHelp, NuFeeHelp, OuaFeeHelp, FfurCsp, SaHelp, StartupHelp or OsHelp, multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "EcafType",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "VetStudentLoans",
                  "VetStudentLoansPaper",
                  "HecsHelp",
                  "FeeHelp",
                  "NuFeeHelp",
                  "OuaFeeHelp",
                  "FfurCsp",
                  "SaHelp",
                  "StartupHelp",
                  "OsHelp"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Year (multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "Year",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "Earliest census date to be included",
            "in": "query",
            "name": "CensusFromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Lastest census date to be included; if no time component is specified, the date will be inclusive",
            "in": "query",
            "name": "CensusToDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Earliest creation date to be included",
            "in": "query",
            "name": "CreatedFromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Lastest creation date to be included; if no time component is specified, the date will be inclusive",
            "in": "query",
            "name": "CreatedToDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Earliest last modified date to be included",
            "in": "query",
            "name": "LastModifiedFromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Latest last modified date to be included; if no time component is specified, the date will be inclusive",
            "in": "query",
            "name": "LastModifiedToDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Student identification number; will return records that match the supplied value (max length 50)",
            "in": "query",
            "name": "StudentIdentificationNumber",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Unique student identifier; will return records that match the supplied value (max length 50)",
            "in": "query",
            "name": "UniqueStudentIdentifier",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Given names; will return records that contain the supplied value (max length 300)",
            "in": "query",
            "name": "GivenNames",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Middle names; will return records that contain the supplied value (max length 300)",
            "in": "query",
            "name": "MiddleNames",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Family name; will return records that contain the supplied value (max length 300)",
            "in": "query",
            "name": "FamilyName",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Email address; will return records that contain the supplied value (max length 300)",
            "in": "query",
            "name": "EmailAddress",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Campus name; will return records that match the supplied value (max length 300)",
            "in": "query",
            "name": "CampusName",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Course of study code; will return records that match the supplied value (max length 50)",
            "in": "query",
            "name": "CourseOfStudyCode",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Whether the eCAF is currently under revision",
            "in": "query",
            "name": "IsUnderRevision",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "USI verification status (NotApplicableUsiVerificationDisabled, NotApplicableNoUsiEntered, NotApplicableFailedChecksum, NotApplicableInsufficientSupportingData, Unverified, Queued, Passed or Failed, multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "UsiVerificationStatus",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "NotApplicableUsiVerificationDisabled",
                  "NotApplicableNoUsiEntered",
                  "NotApplicableFailedChecksum",
                  "NotApplicableInsufficientSupportingData",
                  "Unverified",
                  "Queued",
                  "Passed",
                  "Failed"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Additional provider data; will return records that contain the supplied value",
            "in": "query",
            "name": "AdditionalProviderData",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EcafSummary"
                  },
                  "type": "array"
                }
              }
            },
            "description": "An array of eCAF summary information."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "eCAFs"
        ],
        "description": "Returns a list of eCAFs. Not all eCAF information is included - use the single eCAF endpoint to get all the information regarding an eCAF. By default the listing will only include unprocessed eCAFs and will be sorted in descending order of submission date.",
        "summary": "eCAFs"
      }
    },
    "/ecafs/processed": {
      "delete": {
        "parameters": [
          {
            "description": "Whether the eCAF has been marked as processed (multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "Processed",
            "required": false,
            "schema": {
              "items": {
                "type": "boolean"
              },
              "type": "array"
            }
          },
          {
            "description": "Exception Type (Under18, WithoutTfn, CspOnly, IsUnderRevision, TfnVerificationFailed or UsiVerificationFailed, multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "ExceptionType",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "Under18",
                  "WithoutTfn",
                  "CspOnly",
                  "IsUnderRevision",
                  "TfnVerificationFailed",
                  "UsiVerificationFailed"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Tfn Verification Status (NotApplicableTfnVerificationDisabled, NotApplicableAppliedForTfn, NotApplicableInsufficientSupportingData, NotApplicableCspOnly, NotApplicableMustPayUpfront, Unverified, Queued, Passed or Failed, multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "TfnVerificationStatus",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "NotApplicableTfnVerificationDisabled",
                  "NotApplicableAppliedForTfn",
                  "NotApplicableInsufficientSupportingData",
                  "NotApplicableCspOnly",
                  "NotApplicableMustPayUpfront",
                  "Unverified",
                  "Queued",
                  "Passed",
                  "Failed"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Submitted From Date",
            "in": "query",
            "name": "SubmittedFromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Submitted To Date",
            "in": "query",
            "name": "SubmittedToDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Revision Submission Due From Date",
            "in": "query",
            "name": "RevisionSubmissionDueFromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Revision Submission Due To Date",
            "in": "query",
            "name": "RevisionSubmissionDueToDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Whether the eCAF has corrections",
            "in": "query",
            "name": "HasCorrections",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Id",
            "in": "query",
            "name": "Id",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Type of eCAF (VetStudentLoans, VetStudentLoansPaper, HecsHelp, FeeHelp, NuFeeHelp, OuaFeeHelp, FfurCsp, SaHelp, StartupHelp or OsHelp, multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "EcafType",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "VetStudentLoans",
                  "VetStudentLoansPaper",
                  "HecsHelp",
                  "FeeHelp",
                  "NuFeeHelp",
                  "OuaFeeHelp",
                  "FfurCsp",
                  "SaHelp",
                  "StartupHelp",
                  "OsHelp"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Year (multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "Year",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "Earliest census date to be included",
            "in": "query",
            "name": "CensusFromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Lastest census date to be included; if no time component is specified, the date will be inclusive",
            "in": "query",
            "name": "CensusToDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Earliest creation date to be included",
            "in": "query",
            "name": "CreatedFromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Lastest creation date to be included; if no time component is specified, the date will be inclusive",
            "in": "query",
            "name": "CreatedToDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Earliest last modified date to be included",
            "in": "query",
            "name": "LastModifiedFromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Latest last modified date to be included; if no time component is specified, the date will be inclusive",
            "in": "query",
            "name": "LastModifiedToDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Student identification number; will return records that match the supplied value (max length 50)",
            "in": "query",
            "name": "StudentIdentificationNumber",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Unique student identifier; will return records that match the supplied value (max length 50)",
            "in": "query",
            "name": "UniqueStudentIdentifier",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Given names; will return records that contain the supplied value (max length 300)",
            "in": "query",
            "name": "GivenNames",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Middle names; will return records that contain the supplied value (max length 300)",
            "in": "query",
            "name": "MiddleNames",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Family name; will return records that contain the supplied value (max length 300)",
            "in": "query",
            "name": "FamilyName",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Email address; will return records that contain the supplied value (max length 300)",
            "in": "query",
            "name": "EmailAddress",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Campus name; will return records that match the supplied value (max length 300)",
            "in": "query",
            "name": "CampusName",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Course of study code; will return records that match the supplied value (max length 50)",
            "in": "query",
            "name": "CourseOfStudyCode",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Whether the eCAF is currently under revision",
            "in": "query",
            "name": "IsUnderRevision",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "USI verification status (NotApplicableUsiVerificationDisabled, NotApplicableNoUsiEntered, NotApplicableFailedChecksum, NotApplicableInsufficientSupportingData, Unverified, Queued, Passed or Failed, multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "UsiVerificationStatus",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "NotApplicableUsiVerificationDisabled",
                  "NotApplicableNoUsiEntered",
                  "NotApplicableFailedChecksum",
                  "NotApplicableInsufficientSupportingData",
                  "Unverified",
                  "Queued",
                  "Passed",
                  "Failed"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Additional provider data; will return records that contain the supplied value",
            "in": "query",
            "name": "AdditionalProviderData",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "eCAFs"
        ],
        "description": "Marks eCAFs matching the search criteria as not processed.",
        "summary": "Mark multiple eCAFs as unprocessed"
      },
      "put": {
        "parameters": [
          {
            "description": "Whether the eCAF has been marked as processed (multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "Processed",
            "required": false,
            "schema": {
              "items": {
                "type": "boolean"
              },
              "type": "array"
            }
          },
          {
            "description": "Exception Type (Under18, WithoutTfn, CspOnly, IsUnderRevision, TfnVerificationFailed or UsiVerificationFailed, multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "ExceptionType",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "Under18",
                  "WithoutTfn",
                  "CspOnly",
                  "IsUnderRevision",
                  "TfnVerificationFailed",
                  "UsiVerificationFailed"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Tfn Verification Status (NotApplicableTfnVerificationDisabled, NotApplicableAppliedForTfn, NotApplicableInsufficientSupportingData, NotApplicableCspOnly, NotApplicableMustPayUpfront, Unverified, Queued, Passed or Failed, multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "TfnVerificationStatus",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "NotApplicableTfnVerificationDisabled",
                  "NotApplicableAppliedForTfn",
                  "NotApplicableInsufficientSupportingData",
                  "NotApplicableCspOnly",
                  "NotApplicableMustPayUpfront",
                  "Unverified",
                  "Queued",
                  "Passed",
                  "Failed"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Submitted From Date",
            "in": "query",
            "name": "SubmittedFromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Submitted To Date",
            "in": "query",
            "name": "SubmittedToDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Revision Submission Due From Date",
            "in": "query",
            "name": "RevisionSubmissionDueFromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Revision Submission Due To Date",
            "in": "query",
            "name": "RevisionSubmissionDueToDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Whether the eCAF has corrections",
            "in": "query",
            "name": "HasCorrections",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Id",
            "in": "query",
            "name": "Id",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Type of eCAF (VetStudentLoans, VetStudentLoansPaper, HecsHelp, FeeHelp, NuFeeHelp, OuaFeeHelp, FfurCsp, SaHelp, StartupHelp or OsHelp, multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "EcafType",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "VetStudentLoans",
                  "VetStudentLoansPaper",
                  "HecsHelp",
                  "FeeHelp",
                  "NuFeeHelp",
                  "OuaFeeHelp",
                  "FfurCsp",
                  "SaHelp",
                  "StartupHelp",
                  "OsHelp"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Year (multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "Year",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "Earliest census date to be included",
            "in": "query",
            "name": "CensusFromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Lastest census date to be included; if no time component is specified, the date will be inclusive",
            "in": "query",
            "name": "CensusToDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Earliest creation date to be included",
            "in": "query",
            "name": "CreatedFromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Lastest creation date to be included; if no time component is specified, the date will be inclusive",
            "in": "query",
            "name": "CreatedToDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Earliest last modified date to be included",
            "in": "query",
            "name": "LastModifiedFromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Latest last modified date to be included; if no time component is specified, the date will be inclusive",
            "in": "query",
            "name": "LastModifiedToDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Student identification number; will return records that match the supplied value (max length 50)",
            "in": "query",
            "name": "StudentIdentificationNumber",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Unique student identifier; will return records that match the supplied value (max length 50)",
            "in": "query",
            "name": "UniqueStudentIdentifier",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Given names; will return records that contain the supplied value (max length 300)",
            "in": "query",
            "name": "GivenNames",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Middle names; will return records that contain the supplied value (max length 300)",
            "in": "query",
            "name": "MiddleNames",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Family name; will return records that contain the supplied value (max length 300)",
            "in": "query",
            "name": "FamilyName",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Email address; will return records that contain the supplied value (max length 300)",
            "in": "query",
            "name": "EmailAddress",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Campus name; will return records that match the supplied value (max length 300)",
            "in": "query",
            "name": "CampusName",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Course of study code; will return records that match the supplied value (max length 50)",
            "in": "query",
            "name": "CourseOfStudyCode",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Whether the eCAF is currently under revision",
            "in": "query",
            "name": "IsUnderRevision",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "USI verification status (NotApplicableUsiVerificationDisabled, NotApplicableNoUsiEntered, NotApplicableFailedChecksum, NotApplicableInsufficientSupportingData, Unverified, Queued, Passed or Failed, multiples permitted)",
            "explode": true,
            "in": "query",
            "name": "UsiVerificationStatus",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "NotApplicableUsiVerificationDisabled",
                  "NotApplicableNoUsiEntered",
                  "NotApplicableFailedChecksum",
                  "NotApplicableInsufficientSupportingData",
                  "Unverified",
                  "Queued",
                  "Passed",
                  "Failed"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Additional provider data; will return records that contain the supplied value",
            "in": "query",
            "name": "AdditionalProviderData",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "eCAFs"
        ],
        "description": "Marks eCAFs matching the search criteria as processed.",
        "summary": "Mark multiple eCAFs as processed"
      }
    },
    "/ecafs/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VetStudentLoansEcaf"
                }
              }
            },
            "description": "eCAF information for a VET Student Loans eCAF."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found. The requested record was not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "eCAFs"
        ],
        "description": "Returns information regarding a single eCAF.",
        "summary": "Single eCAF"
      }
    },
    "/ecafs/{id}/audits": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Audit"
                  },
                  "type": "array"
                }
              }
            },
            "description": "An array of audit entries."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "eCAFs"
        ],
        "description": "Returns a list of audit entries associated with an eCAF.",
        "summary": "eCAF audit entries"
      }
    },
    "/ecafs/{id}/audits/{auditId}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "auditId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audit"
                }
              }
            },
            "description": "An audit entry."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found. The requested record was not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "eCAFs"
        ],
        "description": "Returns information regarding a single eCAF audit entry.",
        "summary": "Single eCAF audit entry"
      }
    },
    "/ecafs/{id}/corrections": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Correction"
                  },
                  "type": "array"
                }
              }
            },
            "description": "An array of corrections entries."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "eCAFs"
        ],
        "description": "Returns a list of corrections associated with an eCAF.",
        "summary": "eCAF corrections"
      }
    },
    "/ecafs/{id}/emails": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EmailSummary"
                  },
                  "type": "array"
                }
              }
            },
            "description": "An array of email summary information."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "eCAFs"
        ],
        "description": "Returns a list of emails associated with an eCAF. Not all email information is included - use the single email endpoint to get all the information regarding an email.",
        "summary": "eCAF emails"
      }
    },
    "/ecafs/{id}/expire-active-progression": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VetStudentLoansEcaf"
                }
              }
            },
            "description": "The eCAF data."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found. The requested record was not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "eCAFs"
        ],
        "description": "Expires any active progression against the eCAF, which then allows progressions to be created against it.",
        "summary": "Expire eCAF active progression (testing only)"
      }
    },
    "/ecafs/{id}/pdf": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "byte",
                  "type": "string"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "format": "byte",
                  "type": "string"
                }
              }
            },
            "description": "PDF document."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found. The requested record was not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "eCAFs"
        ],
        "description": "Gets the eCAF receipt PDF document. This is the same document that is emailed to the student when they submit their eCAF.",
        "summary": "eCAF receipt"
      }
    },
    "/ecafs/{id}/processed": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VetStudentLoansEcaf"
                }
              }
            },
            "description": "The unprocessed eCAF."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found. The requested record was not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "eCAFs"
        ],
        "description": "Marks an eCAF as having not been processed.",
        "summary": "Mark eCAF as unprocessed"
      },
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VetStudentLoansEcaf"
                }
              }
            },
            "description": "The processed eCAF."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found. The requested record was not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "eCAFs"
        ],
        "description": "Marks an eCAF as having been processed.",
        "summary": "Mark eCAF as processed"
      }
    },
    "/ecafs/{id}/progressions": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ProgressionSummary"
                  },
                  "type": "array"
                }
              }
            },
            "description": "An array of progression summary information."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "eCAFs"
        ],
        "description": "Returns a list of progressions associated with an eCAF. Not all progression information is included - use the single progression endpoint to get all the information regarding a progression.",
        "summary": "eCAF progressions"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgressionDetail"
                }
              }
            },
            "description": "Detailed progression information."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found. The requested record was not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "eCAFs"
        ],
        "description": "Creates a new progression against the eCAF and returns information regarding the single progression. Email address may optionally be specified in the body if you wish to override student's personal email address.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProgression"
              }
            }
          }
        },
        "summary": "Create a progression against the eCAF"
      }
    },
    "/ecafs/{id}/ready-for-progression": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VetStudentLoansEcaf"
                }
              }
            },
            "description": "The eCAF data."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found. The requested record was not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "eCAFs"
        ],
        "description": "Sets the census date of the eCAF to the past, which then allows progressions to be created against it.",
        "summary": "Ready eCAF for progression (testing only)"
      }
    },
    "/ecafs/{id}/retry-tfn-verification": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VetStudentLoansEcaf"
                }
              }
            },
            "description": "The eCAF data."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found. The requested record was not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "eCAFs"
        ],
        "description": "Retries the TFN verification process for the eCAF. This operation can only be performed on eCAFs where the TFN has previously failed verification. TFN verification can only be retried once per day.",
        "summary": "Retry TFN verification for eCAF"
      }
    },
    "/ecafs/{id}/retry-usi-verification": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VetStudentLoansEcaf"
                }
              }
            },
            "description": "The eCAF data."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found. The requested record was not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Too many requests. Request was rejected due to rate limiting. Response headers will provide further information - X-Rate-Limit-Limit (total credits permitted for the current period), X-Rate-Limit-Remaining (number of remaining credits permitted for current period) and X-Rate-Limit-Reset (number of seconds until the credit count is reset for a new period.)"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected (internal) error."
          }
        },
        "tags": [
          "eCAFs"
        ],
        "description": "Retries the USI verification process for the eCAF. This operation can only be performed on eCAFs where the USI has previously failed verification. USI verification can only be retried once per day.",
        "summary": "Retry USI verification for eCAF"
      }
    },
    "/ecafs/{id}/revise": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VetStudentLoansEcaf"
                }
              }
            },
            "description": "The eCAF data."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request. A validation resulted in the request being rejected."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorised. No authentication credentials provided or authentication failed."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden. The account used for the request has been locked."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found. The requested record was not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
[...]
