{
  "openapi": "3.0.3",
  "info": {
    "title": "Gainsight Customer Communities API",
    "description": "API for Gainsight Customer Communities (formerly inSided). Provides endpoints for managing community content including topics, articles, conversations, questions, ideas, product updates, events, users, gamification, and search.",
    "version": "1.0.0",
    "contact": {
      "name": "Customer Communities support",
      "url": "https://www.gainsight.com/customer-communities/"
    },
    "x-jentic-source-url": "https://api2-us-west-2.insided.com/docs"
  },
  "servers": [
    {
      "url": "https://api2-us-west-2.insided.com",
      "description": "US West 2 Production"
    }
  ],
  "paths": {
    "/v2/topics": {
      "get": {
        "tags": [
          "Unified content (Topics)"
        ],
        "summary": "List unified content (topics)",
        "description": "List and filter all unified content (topics). Optionally apply some filtering/sorting to find topics matching specific criteria. It's possible to list unified content from all categories, or filtered on specific categories. Only the first 10,000 topics matching the filter can be queried, requests for further topics will return a 422 error. *IMPORTANT NOTES* : 1) using parameters like categoryId and categoryIds simultaneously leads to their merging 2) using categoryId(s) and productAreaIds simultaneously gives OR effect",
        "operationId": "getTopicList",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The search term which will match the title, content. Skipping this parameter will return all topics",
            "schema": {
              "type": "string"
            },
            "example": "search-term"
          },
          {
            "$ref": "#/components/parameters/TopicPublicIds"
          },
          {
            "$ref": "#/components/parameters/TopicCategoryId"
          },
          {
            "$ref": "#/components/parameters/TopicCategoryIds"
          },
          {
            "$ref": "#/components/parameters/TopicProductAreaIds"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/TopicContentTypes"
          },
          {
            "$ref": "#/components/parameters/TopicTags"
          },
          {
            "$ref": "#/components/parameters/TopicModeratorTags"
          },
          {
            "$ref": "#/components/parameters/TopicModerationLabels"
          },
          {
            "$ref": "#/components/parameters/TopicCreatedAt"
          },
          {
            "$ref": "#/components/parameters/TopicLastActivity"
          },
          {
            "$ref": "#/components/parameters/TopicSort"
          },
          {
            "$ref": "#/components/parameters/CommunityPageNumber"
          },
          {
            "$ref": "#/components/parameters/CommunityPageSize"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TopicList"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        }
      }
    },
    "/v2/categories/{id}/topics": {
      "get": {
        "tags": [
          "Categories",
          "Unified content (Topics)"
        ],
        "summary": "List unified content (topics) for a category",
        "description": "List and filter unified content (topics) for a specific category. Optionally apply some filtering/sorting to find topics matching specific criteria inside this category",
        "operationId": "getTopicListForCategory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the category to fetch topics for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/TopicPublicIds"
          },
          {
            "$ref": "#/components/parameters/TopicTags"
          },
          {
            "$ref": "#/components/parameters/TopicModeratorTags"
          },
          {
            "$ref": "#/components/parameters/TopicModerationLabels"
          },
          {
            "$ref": "#/components/parameters/TopicCreatedAt"
          },
          {
            "$ref": "#/components/parameters/TopicLastActivity"
          },
          {
            "$ref": "#/components/parameters/TopicSort"
          },
          {
            "$ref": "#/components/parameters/CommunityPageNumber"
          },
          {
            "$ref": "#/components/parameters/CommunityPageSize"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TopicList"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        }
      }
    },
    "/v2/topics/search": {
      "get": {
        "tags": [
          "Unified content (Topics)"
        ],
        "summary": "Search by term across unified content",
        "description": "Perform a full text search on unified topics by passing a search term in the `q` parameter. The search will be performed against topic `title` and `content` fields. It's possible to specify additional optional filters to further limit the results. By default this endpoint will only return visible topics",
        "operationId": "search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The search term which will match the title, content. Skipping this parameter will return all topics",
            "schema": {
              "type": "string"
            },
            "example": "search-term"
          },
          {
            "name": "trashed",
            "in": "query",
            "description": "Filter the search results by trashed status, for example to retrieve only trashed topics. Not passing this parameter will return only visible topics",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "categories",
            "in": "query",
            "description": "A comma-separated list of category ids. Not passing this parameter will return topics from all categories",
            "schema": {
              "type": "string"
            },
            "example": [
              "1",
              "4",
              "6"
            ]
          },
          {
            "name": "contentTypes",
            "in": "query",
            "description": "A comma-separated list of content types",
            "schema": {
              "type": "string"
            },
            "example": [
              "article"
            ]
          },
          {
            "$ref": "#/components/parameters/TopicTags"
          },
          {
            "$ref": "#/components/parameters/TopicModeratorTags"
          },
          {
            "$ref": "#/components/parameters/CommunityPageNumber"
          },
          {
            "$ref": "#/components/parameters/CommunityPageSize"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TopicList"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        }
      }
    },
    "/v2/articles/create": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Create an article",
        "description": "A moderator can create an article in a category, providing the title and content. <br/><br/> An article is always created as a draft (which later can be published) and open (authors can reply to it). Moderators can optionally add public labels to provide more context about the type of article. It can also optionally have a featured image with a valid url. The allowed image extensions for featured image are `png`, `jpeg`, `jpg`, `gif`.<br/>Moderators can optionally create an article with a poll. A poll consists of a title and options. Existing authors can vote on the poll attached to an article. Authors can like (& unlike!) an article and individual replies to the article. <br /><br />Moderators can optionally create an article as closed, which means that only moderators can reply to it. Moderators can also optionally create an article sticky, which highlights the article at the top of the category on the community.",
        "operationId": "createArticle",
        "parameters": [
          {
            "name": "authorId",
            "in": "query",
            "description": "The ID of the author of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "moderatorId",
            "in": "query",
            "description": "The ID of the moderator who will create the article on behalf of the author (who in this case can be a registered user as well)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateArticleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Article created",
            "headers": {
              "Location": {
                "description": "Article URL",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "description": "The private ID of the created article",
                      "type": "string"
                    },
                    "publicId": {
                      "description": "The public ID of the created article",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/CommunityMalformedInput"
          },
          "403": {
            "$ref": "#/components/responses/CategoryRestricted"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/publish": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Publish an article",
        "description": "A valid `moderatorId` value is required to publish an article.",
        "operationId": "publishArticle",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathArticleId"
          },
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator publishing the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Article published",
            "headers": {
              "Location": {
                "description": "Article URL",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/CommunityMalformedInput"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/reply": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Reply to an article",
        "operationId": "replyArticle",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathArticleId"
          },
          {
            "name": "authorId",
            "in": "query",
            "description": "The ID of the author of this reply",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplyArticleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Article was replied",
            "headers": {
              "Location": {
                "description": "Article reply URL",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/CommunityMalformedInput"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/like": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Like an article",
        "operationId": "likeArticle",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathArticleId"
          },
          {
            "name": "likedBy",
            "in": "query",
            "description": "ID the author giving the like",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Article was liked"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/unlike": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Unlike an article",
        "operationId": "unlikeArticle",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathArticleId"
          },
          {
            "name": "unlikedBy",
            "in": "query",
            "description": "ID the author revoking the like",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Like was revoked from the discussion"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/editContent": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Edit the opening post content of an article",
        "description": "Any moderator can change the content of an article.",
        "operationId": "editArticleContent",
        "parameters": [
          {
            "name": "authorId",
            "in": "query",
            "description": "ID of the author or moderator making the edits",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditArticleContentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Article edited",
            "headers": {
              "Location": {
                "description": "Article URL",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/CommunityMalformedInput"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/editTitle": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Edit the title of an article",
        "operationId": "editArticleTitle",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator making the edits",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditArticleTitleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Article edited",
            "headers": {
              "Location": {
                "description": "Article URL",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/CommunityMalformedInput"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/replies/{id}/like": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Like a reply",
        "operationId": "likeArticleReply",
        "parameters": [
          {
            "name": "likedBy",
            "in": "query",
            "description": "ID the author giving the like",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Reply ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Reply was liked"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/replies/{id}/unlike": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Unlike a reply",
        "operationId": "unlikeArticleReply",
        "parameters": [
          {
            "name": "unlikedBy",
            "in": "query",
            "description": "ID of the author who unlikes the reply",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Reply ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Reply was liked"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/editModeratorTags": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Tag an article with moderator tags",
        "description": "A moderator can edit moderator tags for an article. Note that this will overwrite existing moderator tags.",
        "operationId": "editArticleModeratorTags",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator editing the moderator tags",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditArticleModeratorTagsRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Article moderator tags were changed"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/editTags": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Tag an article with tags",
        "description": "A moderator can edit tags for an article. Note that this will overwrite existing tags.",
        "operationId": "editArticleTags",
        "parameters": [
          {
            "name": "authorId",
            "in": "query",
            "description": "ID of the author editing the article tags",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditArticleTagsRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Article tags were changed"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/editFeaturedImage": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Edit the featured image of an article",
        "description": "A moderator can edit a featured image for an article. Note that this will overwrite existing featured image. <br/>The allowed image extensions for featured image are `png`, `jpeg`, `jpg`, `gif`.",
        "operationId": "editArticleFeaturedImage",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator editing the featured image",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "requestBody": {
          "description": "The featured image url. To remove the featured image from the article, then this field should be empty.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditArticleFeaturedImageRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Article featured image was changed"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/editFeaturedImageAltText": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Edit the featured image alt text of an article",
        "description": "A moderator can edit the featured image alt text for an article. Note that this will overwrite existing featured image alt text.",
        "operationId": "editArticleFeaturedImageAltText",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator editing the featured image alt text",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "requestBody": {
          "description": "The featured image alt text. Alternative text for the featured image.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditArticleFeaturedImageAltTextRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Article featured image alt text was changed"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/editPublicLabel": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Edit the public label of an article",
        "description": "A moderator can edit the public label for an article. Note that this will overwrite existing public label.",
        "operationId": "editArticlePublicLabel",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator editing the public label",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditArticlePublicLabelRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Article public label was changed"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/toggleStickyState": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Toggle the sticky state of an article",
        "operationId": "toggleArticleStickyState",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator toggling the article sticky state",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleArticleStickyStateRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Article sticky state updated"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/toggleClosed": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Open/Close an article",
        "description": "A moderator can open or close an article for replies.",
        "operationId": "toggleArticleClosed",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator toggling the closed state of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleArticleClosedRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Article closed state was updated"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/toggleTrashed": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Trash or restore an article",
        "description": "A moderator can trash an article.",
        "operationId": "toggleArticleTrashed",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator trashing or restoring the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleArticleTrashedRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Article was trashed"
          },
          "400": {
            "$ref": "#/components/responses/CommunityMalformedInput"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Find article by ID",
        "description": "To fetch a trashed article a valid `moderatorId` value is required.",
        "operationId": "getArticle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the article to fetch",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator fetching the article",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Article"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Articles"
        ],
        "summary": "Permanently delete a trashed article",
        "description": "A moderator can permanently deleted a trashed article. Warning: once permanently deleted, an article cannot be restored.",
        "operationId": "permanentlyDeleteArticle",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator permanently deleting the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "responses": {
          "204": {
            "description": "Article permanently deleted"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/replies/{id}/toggleTrashed": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Trash/restore a reply",
        "operationId": "toggleArticleReplyTrashed",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator trashing/restoring the reply",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Reply ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleArticleReplyTrashedRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Reply trashed state was updated"
          },
          "400": {
            "$ref": "#/components/responses/CommunityMalformedInput"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/replies/{id}/toggleHighlight": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Mark replies as highlighted or remove the highlight",
        "operationId": "toggleArticleReplyHighlight",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator updating the reply",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Reply ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleArticleReplyHighlightRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Reply highlight was updated"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/replies/{id}/promote": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Promote an existing reply to a new conversation",
        "description": "A moderator can promote a reply to a new conversation. The title and category for the conversation are required in the request body.",
        "operationId": "promoteArticleReply",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator promoting the reply",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Reply ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromoteArticleReplyToConversationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reply promoted",
            "headers": {
              "Location": {
                "description": "Conversation URL",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/CategoryRestricted"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/move": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Move an article to a different category",
        "description": "A moderator can move an article to a different category. The moderator must have access to the both the category in which the article currently is as well as the category to which the article is to be moved.",
        "operationId": "moveArticle",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator moving the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Article was moved"
          },
          "403": {
            "$ref": "#/components/responses/CategoryRestricted"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/replies/{id}/editContent": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Edit a reply",
        "description": "An author can change the content of the reply for a limited time. Default edit time span is 60 minutes. Moderators can always change the content of the reply by any other author.",
        "operationId": "editArticleReply",
        "parameters": [
          {
            "name": "authorId",
            "in": "query",
            "description": "ID of the author or moderator making the edits",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Reply ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditArticleReplyContentRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Reply edited"
          },
          "400": {
            "$ref": "#/components/responses/CommunityMalformedInput"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/addPoll": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Add a poll to an article",
        "description": "A moderator can add a poll to an article that does not already contain one. Only allowed for draft articles.",
        "operationId": "addArticlePoll",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator adding the poll",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddArticlePollRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Poll was added to the article"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/editPollTitle": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Edit the poll title",
        "description": "A moderator can edit the title of a poll. If a poll option has votes, then it cannot be edited.",
        "operationId": "editArticlePollTitle",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator editing the article poll title",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditArticlePollTitleRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Article poll title was changed"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/editPollOptions": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Edit the poll options",
        "description": "A moderator can edit the options of a poll. If a poll option has votes, then it cannot be edited.",
        "operationId": "editArticlePollOptions",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator editing the article poll options",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditArticlePollOptionsRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Article poll options was changed"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/poll": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Show poll results",
        "operationId": "getArticlePollResult",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the article to fetch the poll results for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Poll"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Articles"
        ],
        "summary": "Delete poll attached to an article",
        "description": "Be cautious when deleting a poll. Once deleted it cannot be restored.",
        "operationId": "articleDeletePoll",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathArticleId"
          },
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator deleting the poll",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Poll attached to article deleted"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/votePoll": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Add a vote to a poll attached to the given article",
        "operationId": "addArticlePollVote",
        "parameters": [
          {
            "name": "authorId",
            "in": "query",
            "description": "ID of the author voting on the poll",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticlePollVoteRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Poll vote has been processed"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/replies/{id}/move": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Move an existing reply to an existing topic",
        "description": "A reply can be moved to an existing article, question or conversation. The topic id and topic type are required in the request body.",
        "operationId": "moveArticleReply",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator moving the reply",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Reply ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleMoveReplyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reply moved"
          },
          "403": {
            "$ref": "#/components/responses/CategoryRestricted"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/convertToProductUpdate": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Convert an article to a product update",
        "description": "A moderator can convert an article to a product update. If the article has replies, they are converted to product update replies.",
        "operationId": "convertToProductUpdate",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator converting the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "responses": {
          "202": {
            "description": "Conversion in progress"
          },
          "403": {
            "$ref": "#/components/responses/CategoryRestricted"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/convertToConversation": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Convert an article to a conversation",
        "description": "A moderator can convert an article to a conversation. If the article has replies, they are converted to conversation replies.",
        "operationId": "convertArticleToConversation",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator converting the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "responses": {
          "202": {
            "description": "Conversion in progress"
          },
          "403": {
            "$ref": "#/components/responses/CategoryRestricted"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/{id}/changeAuthor": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Change the author of an article",
        "description": "A moderator can change the author of an article.",
        "operationId": "changeArticleAuthor",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator changing the author of the  article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathArticleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeArticleAuthorRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Author has been changed"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/replies/{replyId}/approve": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Approve a reply",
        "operationId": "approveArticleReply",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathArticleReplyId"
          },
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator approving the reply",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Reply was approved"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/replies/{replyId}/report": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Report an article reply",
        "operationId": "reportArticleReply",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathArticleReplyId"
          },
          {
            "name": "reportedBy",
            "in": "query",
            "description": "ID of the author reporting the article reply",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AbstractReportRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Article reply was reported"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/replies/{replyId}/resolve": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Resolve reported article reply",
        "operationId": "resolveReportedArticleReply",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathArticleReplyId"
          },
          {
            "name": "reportedBy",
            "in": "query",
            "description": "ID of the moderator resolving the reported article reply",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Reported article reply was resolved"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/setModerationLabel": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Set moderation label to article",
        "description": "A moderator can set the moderation label to article.",
        "operationId": "setArticleModerationLabel",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator to set the moderation label",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetArticleModerationLabelRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Moderation label was set to article"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/unsetModerationLabel": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Unset moderation label from article",
        "description": "A moderator can unset the moderation label from article.",
        "operationId": "unsetArticleModerationLabel",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator to unset the moderation label",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnsetArticleModerationLabelRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Moderation label was unset from article"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/assignModerator": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Assign a moderator to article or articles",
        "description": "A moderator can assign another moderator to an article or articles.",
        "operationId": "assignModerator",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator to assign the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignArticleModeratorRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Moderator was assigned to the article"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/unassignModerator": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Unassign a article or articles",
        "description": "A moderator can unassign a article or articles.",
        "operationId": "unassignModerator",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator to unassign the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnassignArticleModeratorRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The article was unassigned"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "List articles",
        "description": "Fetches a paginated list of articles sorted by last activity in descending order. Last activity is the time the article was last replied.",
        "operationId": "getArticleList",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityPageNumber"
          },
          {
            "$ref": "#/components/parameters/CommunityPageSize"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ArticleList"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        }
      }
    },
    "/v2/categories/{id}/articles": {
      "get": {
        "tags": [
          "Articles",
          "Categories"
        ],
        "summary": "List articles for a category",
        "description": "Fetches a paginated list of articles in a category. The category must be a public category. The result is sorted by last activity in descending order. Last activity is the time the article was last replied.",
        "operationId": "getArticleListForCategory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the category to fetch articles for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CommunityPageNumber"
          },
          {
            "$ref": "#/components/parameters/CommunityPageSize"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ArticleList"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        }
      }
    },
    "/v2/articles/{id}/replies": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "List replies for an article",
        "description": "Lists paginated set of replies for an article. By default returns visible replies. A valid `moderatorId` value is required to fetch trashed replies.",
        "operationId": "getRepliesForArticle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the article to fetch replies for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator fetching the replies",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CommunityPageNumber"
          },
          {
            "$ref": "#/components/parameters/CommunityPageSize"
          },
          {
            "$ref": "#/components/parameters/ReplySort"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ArticleReplyList"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        }
      }
    },
    "/v2/articles/{id}/replies/{replyId}": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Fetch a reply for an article",
        "description": "By default returns a visible reply. A valid `moderatorId` value is required to fetch a trashed reply.",
        "operationId": "getReplyForArticle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the article to fetch the reply for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "replyId",
            "in": "path",
            "description": "ID of the reply to fetch",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ArticleReply"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        }
      }
    },
    "/v2/articles/trashed": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "List of trashed articles",
        "description": "Fetches a paginated list of trashed articles. The result is sorted by last activity in descending order. Last activity is the time the article was last replied.",
        "operationId": "getTrashedArticleList",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator fetching the trashed article list",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CommunityPageNumber"
          },
          {
            "$ref": "#/components/parameters/CommunityPageSize"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ArticleList"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        }
      }
    },
    "/v2/articles/drafts": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "List draft articles",
        "description": "Fetches a paginated list of draft articles. The result is sorted by created date in descending order.",
        "operationId": "getDraftArticleList",
        "parameters": [
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator fetching the draft article list",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CommunityPageNumber"
          },
          {
            "$ref": "#/components/parameters/CommunityPageSize"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ArticleList"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        }
      }
    },
    "/v2/articles/replies/{id}/markAsSpam": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Mark article reply as spam",
        "description": "This action automatically bans the author of the content by default. Ensure the content clearly violates spam policies before proceeding.",
        "operationId": "markArticleReplyAsSpam",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathArticleReplyId"
          },
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "banUser": {
                    "description": "Whether to ban the author of the content. Defaults to true if not specified.",
                    "type": "boolean",
                    "example": false
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Article reply marked as spam"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/articles/replies/{id}/markAsNotSpam": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Mark article reply as not spam",
        "description": "Allows moderators to correct false spam statuses.",
        "operationId": "markArticleReplyAsNotSpam",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathArticleReplyId"
          },
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "204": {
            "description": "Article reply marked as not spam"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "List categories",
        "description": "Fetches a paginated list of categories. It returns only public categories if the authorId is not specified. The result doesn't project a tree view and the result is sorted by display order of the category in ascending order (Display order starts from 0)",
        "operationId": "getCategoryList",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityPageNumber"
          },
          {
            "$ref": "#/components/parameters/CommunityPageSize"
          },
          {
            "name": "authorId",
            "in": "query",
            "description": "ID of the user fetching the categories (required if wanting to see non-public categories)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryList"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        }
      }
    },
    "/v2/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Find a category by ID",
        "description": "Finds a category by ID",
        "operationId": "getCategory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the category",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        }
      }
    },
    "/v2/categories/getVisibleTopicsCount": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get visible topics count per category",
        "description": "Returns the count of visible (non-spam, non-trashed, non-pending, non-draft) topics per category. This includes questions, conversations, ideas, articles, and product updates. Note: This endpoint does not return counts for sections.",
        "operationId": "getVisibleTopicsCount",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "description": "Object mapping category IDs to their visible topics count",
                      "type": "object",
                      "example": {
                        "123": "5",
                        "456": "10",
                        "789": "3"
                      },
                      "additionalProperties": {
                        "description": "Number of visible topics in the category",
                        "type": "string"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        }
      }
    },
    "/v2/conversations/{id}/markAsSpam": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Mark conversation as spam",
        "description": "This action automatically bans the author of the content by default. Ensure the content clearly violates spam policies before proceeding.",
        "operationId": "markConversationsAsSpam",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathConversationId"
          },
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "banUser": {
                    "description": "Whether to ban the author of the content. Defaults to true if not specified.",
                    "type": "boolean",
                    "example": false
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Covnersation marked as spam"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/conversations/{id}/markAsNotSpam": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Mark conversation as not spam",
        "description": "Allows moderators to correct false spam statuses.",
        "operationId": "markConversationAsNotSpam",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathConversationId"
          },
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "204": {
            "description": "Conversation marked as not spam"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/conversations/replies/{id}/markAsSpam": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Mark conversation reply as spam",
        "description": "This action automatically bans the author of the content by default. Ensure the content clearly violates spam policies before proceeding.",
        "operationId": "markConversationReplyAsSpam",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathConversationReplyId"
          },
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "banUser": {
                    "description": "Whether to ban the author of the content. Defaults to true if not specified.",
                    "type": "boolean",
                    "example": false
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Conversation reply marked as spam"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/conversations/replies/{id}/markAsNotSpam": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Mark conversation reply as not spam",
        "description": "Allows moderators to correct false spam statuses.",
        "operationId": "markConversationReplyAsNotSpam",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathConversationReplyId"
          },
          {
            "name": "moderatorId",
            "in": "query",
            "description": "ID of the moderator",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "204": {
            "description": "Conversation reply marked as not spam"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/conversations/start": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Start a conversation",
        "description": "Authors can start a conversation in a category, providing the title and content of the conversation.<br /><br />A conversation started by an author is always open, meaning the original author and other authors can reply to it. Authors can also like (& unlike!) a conversation and individual replies within the conversation. Authors can also optionally add public tags when starting a conversation. Authors can optionally start a conversation with a poll. A poll consists of a title and options. Existing authors can vote on the poll attached to conversations.<br /><br />Moderators can optionally start a conversation as closed, which means that only moderators can reply to it. Moderators can also optionally start a conversation as sticky, which highlights the conversation at the top of the category on the community.",
        "operationId": "startConversation",
        "parameters": [
          {
            "name": "authorId",
            "in": "query",
            "description": "The ID of author of the conversation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartConversationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversation started",
            "headers": {
              "Location": {
                "description": "Conversation URL",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "description": "The private ID of the created conversation",
                      "type": "string"
                    },
                    "publicId": {
                      "description": "The public ID of the created conversation",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/CommunityMalformedInput"
          },
          "403": {
            "$ref": "#/components/responses/CategoryRestricted"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/conversations/{id}/like": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Like a conversation",
        "operationId": "likeConversation",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathConversationId"
          },
          {
            "name": "likedBy",
            "in": "query",
            "description": "ID of the author giving the like",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Conversation was liked"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/conversations/{id}/unlike": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Unlike a conversation",
        "operationId": "unlikeConversation",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathConversationId"
          },
          {
            "name": "unlikedBy",
            "in": "query",
            "description": "ID of the author revoking the like",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Like was revoked from the discussion"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/conversations/{id}/editContent": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Edit the opening post content of a conversation",
        "description": "An author can change the content of a conversation for a limited time after starting the conversation. The default edit time span is 60 minutes. <br/>Moderators can always change the content of a conversation that was started by any other author.",
        "operationId": "editConversationContent",
        "parameters": [
          {
            "name": "authorId",
            "in": "query",
            "description": "ID of the author or moderator making the edits",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathConversationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditConversationContentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversation edited",
            "headers": {
              "Location": {
                "description": "Conversation URL",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/CommunityMalformedInput"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/conversations/{id}/editTags": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Tag a conversation with public tags",
        "description": "An author can edit tags for their conversations. Note that this will overwrite existing tags.",
        "operationId": "editConversationTags",
        "parameters": [
          {
            "name": "authorId",
            "in": "query",
            "description": "ID of the author editing the conversation tags",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PathConversationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditConversationTagsRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Conversation tags were changed"
          },
          "404": {
            "$ref": "#/components/responses/CommunityNotFound"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/conversations/{id}/reply": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Reply to a conversation",
        "operationId": "replyConversation",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathConversationId"
          },
          {
            "name": "authorId",
            "in": "query",
            "description": "The ID of the author of this reply",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplyConversationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversation was replied",
            "headers": {
              "Location": {
                "description": "Conversation reply URL",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/CommunityMalformedInput"
          },
          "422": {
            "$ref": "#/components/responses/CommunityValidationError"
          },
          "500": {
            "$ref": "#/components/responses/CommunityServerError"
          }
        },
        "security": [
          {
            "insided_auth": [
              "write"
            ]
          }
        ]
      }
    },
    "/v2/conversations/{id}/votePoll": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Add a vote to a poll contained in a given conversation",
        "operationId": "addPollVote",
        "parameters": [
          {
            "name": "authorId",
            "in": "query",
[...]
