{"openapi":"3.0.3","info":{"title":"WhatsBox API","version":"1.0.0","description":"WhatsBox WhatsApp Business messaging API for sending messages, media, and templates.","x-jentic-source-url":"https://api.whatsbox.io/docs"},"servers":[{"url":"https://api.whatsbox.io"}],"tags":[{"name":"Messages"},{"name":"Contacts"},{"name":"Templates"},{"name":"Webhooks"}],"paths":{"/api/v1/messages":{"post":{"operationId":"sendMessage","summary":"Send a WhatsApp message","tags":["Messages"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageInput"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"get":{"operationId":"listMessages","summary":"List messages","tags":["Messages"],"parameters":[{"name":"phone","in":"query","schema":{"type":"string"},"required":false},{"name":"limit","in":"query","schema":{"type":"integer","default":50},"required":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageListResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/messages/template":{"post":{"operationId":"sendTemplateMessage","summary":"Send a template message","tags":["Messages"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateMessageInput"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/contacts":{"get":{"operationId":"listContacts","summary":"List contacts","tags":["Contacts"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactListResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/templates":{"get":{"operationId":"listTemplates","summary":"List message templates","tags":["Templates"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateListResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/webhooks":{"get":{"operationId":"listWebhooks","summary":"List webhooks","tags":["Webhooks"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookListResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"operationId":"createWebhook","summary":"Create a webhook","tags":["Webhooks"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookInput"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"Message":{"type":"object","properties":{"id":{"type":"string"},"phone":{"type":"string"},"body":{"type":"string"},"type":{"type":"string","enum":["text","image","document","video","template"]},"direction":{"type":"string","enum":["outgoing","incoming"]},"status":{"type":"string","enum":["sent","delivered","read","failed"]},"created_at":{"type":"string","format":"date-time"}}},"MessageInput":{"type":"object","required":["phone","body"],"properties":{"phone":{"type":"string"},"body":{"type":"string"}}},"TemplateMessageInput":{"type":"object","required":["phone","template_name"],"properties":{"phone":{"type":"string"},"template_name":{"type":"string"},"parameters":{"type":"array","items":{"type":"string"}}}},"MessageListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Message"}},"total":{"type":"integer"}}},"Contact":{"type":"object","properties":{"phone":{"type":"string"},"name":{"type":"string"},"last_message_at":{"type":"string","format":"date-time"}}},"ContactListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Contact"}},"total":{"type":"integer"}}},"Template":{"type":"object","properties":{"name":{"type":"string"},"language":{"type":"string"},"status":{"type":"string"},"body":{"type":"string"}}},"TemplateListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Template"}},"total":{"type":"integer"}}},"Webhook":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string","format":"uri"},"events":{"type":"array","items":{"type":"string"}},"active":{"type":"boolean"}}},"WebhookInput":{"type":"object","required":["url","events"],"properties":{"url":{"type":"string","format":"uri"},"events":{"type":"array","items":{"type":"string"}}}},"WebhookListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Webhook"}},"total":{"type":"integer"}}},"ErrorResponse":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"code":{"type":"string"},"message":{"type":"string"}}}},"securitySchemes":{"apiKey":{"type":"apiKey","in":"header","name":"X-API-Key"}}},"security":[{"apiKey":[]}]}
