{
  "openapi": "3.0.3",
  "info": {
    "title": "Cielo E-commerce API",
    "version": "1.0.0",
    "description": "Cielo E-commerce payment API for Brazil supporting credit cards, debit cards, Pix, boleto, e-wallets, QR codes, and recurring payments.",
    "x-jentic-source-url": "https://docs.cielo.com.br/ecommerce-cielo-en/docs/about-cielo-e-commerce-api"
  },
  "servers": [
    {"url": "https://api.cieloecommerce.cielo.com.br", "description": "Production - Requests"},
    {"url": "https://apiquery.cieloecommerce.cielo.com.br", "description": "Production - Queries"}
  ],
  "paths": {
    "/1/sales": {
      "post": {
        "operationId": "createSale", "summary": "Create a payment transaction", "tags": ["Sales"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SaleRequest"}}}},
        "responses": {
          "201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Sale"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/1/sales/{paymentId}": {
      "get": {
        "operationId": "getSale", "summary": "Query a payment by PaymentId", "tags": ["Sales"],
        "parameters": [{"name": "paymentId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}],
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Sale"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "captureSale", "summary": "Capture a pre-authorized payment", "tags": ["Sales"],
        "parameters": [{"name": "paymentId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "amount", "in": "query", "schema": {"type": "integer"}}],
        "responses": {
          "200": {"description": "Captured", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Sale"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/1/sales/{paymentId}/void": {
      "put": {
        "operationId": "voidSale", "summary": "Void/cancel a payment", "tags": ["Sales"],
        "parameters": [{"name": "paymentId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "amount", "in": "query", "schema": {"type": "integer"}}],
        "responses": {
          "200": {"description": "Voided", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Sale"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/1/sales/{merchantOrderId}": {
      "get": {
        "operationId": "getSaleByMerchantOrderId", "summary": "Query by merchant order ID", "tags": ["Sales"],
        "parameters": [{"name": "merchantOrderId", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Sale"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/1/RecurrentPayment/{recurrentPaymentId}": {
      "get": {
        "operationId": "getRecurrentPayment", "summary": "Get recurrent payment details", "tags": ["Recurrence"],
        "parameters": [{"name": "recurrentPaymentId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}],
        "responses": {
          "200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateRecurrentPayment", "summary": "Update recurrent payment", "tags": ["Recurrence"],
        "parameters": [{"name": "recurrentPaymentId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}],
        "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {
          "200": {"description": "Updated", "content": {"application/json": {"schema": {"type": "object"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/1/RecurrentPayment/{recurrentPaymentId}/Deactivate": {
      "put": {
        "operationId": "deactivateRecurrence", "summary": "Deactivate recurrence", "tags": ["Recurrence"],
        "parameters": [{"name": "recurrentPaymentId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}],
        "responses": {
          "200": {"description": "Deactivated"},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/1/RecurrentPayment/{recurrentPaymentId}/Reactivate": {
      "put": {
        "operationId": "reactivateRecurrence", "summary": "Reactivate recurrence", "tags": ["Recurrence"],
        "parameters": [{"name": "recurrentPaymentId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}],
        "responses": {
          "200": {"description": "Reactivated"},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/1/card": {
      "post": {
        "operationId": "tokenizeCard", "summary": "Tokenize a card", "tags": ["Tokenization"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"CustomerName": {"type": "string"}, "CardNumber": {"type": "string"}, "Holder": {"type": "string"}, "ExpirationDate": {"type": "string"}, "Brand": {"type": "string"}}}}}},
        "responses": {
          "201": {"description": "Created", "content": {"application/json": {"schema": {"type": "object", "properties": {"CardToken": {"type": "string"}}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/1/zeroauth": {
      "post": {
        "operationId": "zeroAuth", "summary": "Validate card without charging", "tags": ["Validation"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"CardNumber": {"type": "string"}, "Holder": {"type": "string"}, "ExpirationDate": {"type": "string"}, "SecurityCode": {"type": "string"}, "Brand": {"type": "string"}}}}}},
        "responses": {
          "200": {"description": "Validation result", "content": {"application/json": {"schema": {"type": "object"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/1/consultabin/{bin}": {
      "get": {
        "operationId": "consultBin", "summary": "Query card BIN information", "tags": ["Validation"],
        "parameters": [{"name": "bin", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "BIN info", "content": {"application/json": {"schema": {"type": "object"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SaleRequest": {
        "type": "object",
        "properties": {
          "MerchantOrderId": {"type": "string"},
          "Customer": {"type": "object", "properties": {"Name": {"type": "string"}, "Email": {"type": "string"}, "Identity": {"type": "string"}}},
          "Payment": {"type": "object", "properties": {"Type": {"type": "string", "enum": ["CreditCard", "DebitCard", "Pix", "Boleto"]}, "Amount": {"type": "integer"}, "Installments": {"type": "integer"}, "SoftDescriptor": {"type": "string"}, "CreditCard": {"type": "object", "properties": {"CardNumber": {"type": "string"}, "Holder": {"type": "string"}, "ExpirationDate": {"type": "string"}, "SecurityCode": {"type": "string"}, "Brand": {"type": "string"}}}}}
        }
      },
      "Sale": {
        "type": "object",
        "properties": {
          "MerchantOrderId": {"type": "string"},
          "Customer": {"type": "object"},
          "Payment": {"type": "object", "properties": {"PaymentId": {"type": "string", "format": "uuid"}, "Type": {"type": "string"}, "Amount": {"type": "integer"}, "Status": {"type": "integer"}, "ReturnCode": {"type": "string"}, "ReturnMessage": {"type": "string"}, "AuthorizationCode": {"type": "string"}}}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {"Code": {"type": "string"}, "Message": {"type": "string"}}
      }
    },
    "securitySchemes": {
      "merchantId": {"type": "apiKey", "in": "header", "name": "MerchantId"},
      "merchantKey": {"type": "apiKey", "in": "header", "name": "MerchantKey"}
    }
  },
  "security": [{"merchantId": [], "merchantKey": []}]
}
