{
  "openapi": "3.0.3",
  "info": {
    "title": "Phaxio Fax API",
    "description": "Phaxio API for sending, receiving, and managing faxes programmatically. Includes phone number provisioning, fax content retrieval, area code lookups, and account management.",
    "version": "2.1.0",
    "contact": {
      "name": "Phaxio Support",
      "url": "https://www.phaxio.com"
    },
    "x-jentic-source-url": "https://www.phaxio.com/docs/"
  },
  "servers": [
    {
      "url": "https://api.phaxio.com/v2.1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/faxes": {
      "post": {
        "summary": "Create and send a fax",
        "operationId": "sendFax",
        "tags": [
          "Faxes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "to"
                ],
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "Recipient phone number in E.164 format (+[country code][number])"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to fax (PDF, DOC, etc.)"
                  },
                  "content_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to render and fax"
                  },
                  "header_text": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "Text to display at the top of each page"
                  },
                  "header_page_nums": {
                    "type": "boolean",
                    "default": true,
                    "description": "Enable page numbering in header"
                  },
                  "header_timezone": {
                    "type": "string",
                    "description": "TZ database name for header timestamp"
                  },
                  "batch_delay": {
                    "type": "integer",
                    "maximum": 3600,
                    "description": "Delay in seconds before batch fires"
                  },
                  "batch_collision_avoidance": {
                    "type": "boolean",
                    "description": "Block until receiving machine is available"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to receive fax status callbacks"
                  },
                  "cancel_timeout": {
                    "type": "integer",
                    "minimum": 3,
                    "maximum": 60,
                    "description": "Minutes until fax is auto-cancelled"
                  },
                  "caller_id": {
                    "type": "string",
                    "description": "Phaxio phone number for caller ID"
                  },
                  "image_conversion_method": {
                    "type": "string",
                    "enum": [
                      "halftone",
                      "monochrome"
                    ],
                    "description": "Image conversion method"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fax sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create and send a fax"
      },
      "get": {
        "summary": "List faxes in date range",
        "operationId": "listFaxes",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "created_before",
            "in": "query",
            "description": "End of range in RFC 3339 format (defaults to now)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "description": "Start of range in RFC 3339 format (defaults to one week ago)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Filter by fax direction",
            "schema": {
              "type": "string",
              "enum": [
                "sent",
                "received"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by fax status",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "Filter by phone number in E.164 format",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of faxes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Fax"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List faxes in date range"
      }
    },
    "/faxes/{id}": {
      "get": {
        "summary": "Get fax info",
        "operationId": "getFax",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fax details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Fax"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get fax info"
      },
      "delete": {
        "summary": "Delete a fax",
        "description": "Only records of test faxes can be fully deleted. Live fax files must be removed via the file deletion endpoint.",
        "operationId": "deleteFax",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fax deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/faxes/{id}/file": {
      "get": {
        "summary": "Get fax content file or thumbnail",
        "operationId": "getFaxFile",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "thumbnail",
            "in": "query",
            "description": "Request thumbnail instead of full PDF. 's' for small (129x167), 'l' for large (300x388)",
            "schema": {
              "type": "string",
              "enum": [
                "s",
                "l"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fax file content",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "description": "Get fax content file or thumbnail"
      }
    },
    "/faxes/{id}/cancel": {
      "post": {
        "summary": "Cancel a fax",
        "operationId": "cancelFax",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fax cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "description": "Cancel a fax"
      }
    },
    "/faxes/{id}/resend": {
      "post": {
        "summary": "Resend a fax",
        "operationId": "resendFax",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "callback_url",
            "in": "query",
            "description": "Override callback URL for resent fax",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fax resent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Resend a fax"
      }
    },
    "/phone_numbers": {
      "post": {
        "summary": "Provision a new phone number",
        "operationId": "provisionNumber",
        "tags": [
          "Phone Numbers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "country_code",
                  "area_code"
                ],
                "properties": {
                  "country_code": {
                    "type": "integer",
                    "description": "E.164 country code"
                  },
                  "area_code": {
                    "type": "integer",
                    "description": "Area code for the number"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Webhook URL for received faxes"
                  },
                  "address_id": {
                    "type": "integer",
                    "description": "Address ID for countries requiring address registration"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone number provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/PhoneNumber"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Provision a new phone number"
      },
      "get": {
        "summary": "List phone numbers",
        "operationId": "listPhoneNumbers",
        "tags": [
          "Phone Numbers"
        ],
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "area_code",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of phone numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PhoneNumber"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List phone numbers"
      }
    },
    "/phone_numbers/{number}": {
      "get": {
        "summary": "Get phone number info",
        "operationId": "getPhoneNumber",
        "tags": [
          "Phone Numbers"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Phone number in E.164 format",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Phone number info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/PhoneNumber"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get phone number info"
      },
      "delete": {
        "summary": "Release a phone number",
        "operationId": "releasePhoneNumber",
        "tags": [
          "Phone Numbers"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Phone number released",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "description": "Release a phone number"
      }
    },
    "/public/area_codes": {
      "get": {
        "summary": "List available area codes",
        "operationId": "listAreaCodes",
        "tags": [
          "Public"
        ],
        "security": [],
        "parameters": [
          {
            "name": "toll_free",
            "in": "query",
            "description": "Filter for toll-free area codes",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "E.164 country code filter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "ISO 3166 two-character country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "ISO 3166-2 state/province code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available area codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AreaCode"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List available area codes"
      }
    },
    "/account/status": {
      "get": {
        "summary": "Get account status",
        "operationId": "getAccountStatus",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "balance": {
                          "type": "integer",
                          "description": "Account balance in cents"
                        },
                        "faxes_today": {
                          "type": "object",
                          "properties": {
                            "sent": {
                              "type": "integer"
                            },
                            "received": {
                              "type": "integer"
                            }
                          }
                        },
                        "faxes_this_month": {
                          "type": "object",
                          "properties": {
                            "sent": {
                              "type": "integer"
                            },
                            "received": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get account status"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use your API key as the username and API secret as the password"
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Paging": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          }
        }
      },
      "Fax": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "direction": {
            "type": "string",
            "enum": [
              "sent",
              "received"
            ]
          },
          "num_pages": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "is_test": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time"
          },
          "cost": {
            "type": "integer",
            "description": "Cost in cents"
          },
          "caller_id": {
            "type": "string"
          },
          "from_number": {
            "type": "string"
          },
          "to_number": {
            "type": "string"
          },
          "caller_name": {
            "type": "string"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "error_id": {
            "type": "integer"
          },
          "error_type": {
            "type": "string"
          },
          "error_message": {
            "type": "string"
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FaxRecipient"
            }
          }
        }
      },
      "FaxRecipient": {
        "type": "object",
        "properties": {
          "phone_number": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "retry_count": {
            "type": "integer"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time"
          },
          "bitrate": {
            "type": "integer"
          },
          "resolution": {
            "type": "integer"
          },
          "error_id": {
            "type": "integer"
          },
          "error_type": {
            "type": "string"
          },
          "error_message": {
            "type": "string"
          }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "phone_number": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "cost": {
            "type": "integer",
            "description": "Cost in cents"
          },
          "last_billed_at": {
            "type": "string",
            "format": "date-time"
          },
          "provisioned_at": {
            "type": "string",
            "format": "date-time"
          },
          "callback_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        }
      },
      "AreaCode": {
        "type": "object",
        "properties": {
          "country_code": {
            "type": "integer"
          },
          "area_code": {
            "type": "integer"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "toll_free": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Faxes"
    },
    {
      "name": "Phone Numbers"
    },
    {
      "name": "Public"
    }
  ]
}
