{
  "openapi": "3.0.3",
  "info": {
    "title": "Oura Ring API",
    "version": "2.0.0",
    "description": "Oura Ring API v2 provides access to personal health data including sleep, activity, readiness scores, heart rate, and more.",
    "x-jentic-source-url": "https://cloud.ouraring.com/v2/docs"
  },
  "servers": [
    {
      "url": "https://api.ouraring.com/v2"
    }
  ],
  "paths": {
    "/usercollection/daily_activity": {
      "get": {
        "operationId": "getDailyActivity",
        "summary": "Get daily activity data",
        "description": "Returns daily activity summaries for the authenticated user",
        "tags": [
          "Daily"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date (YYYY-MM-DD)"
          },
          {
            "name": "next_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyActivityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/usercollection/daily_sleep": {
      "get": {
        "operationId": "getDailySleep",
        "summary": "Get daily sleep data",
        "description": "Returns daily sleep summaries",
        "tags": [
          "Daily"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date"
          },
          {
            "name": "next_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailySleepResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/usercollection/daily_readiness": {
      "get": {
        "operationId": "getDailyReadiness",
        "summary": "Get daily readiness data",
        "description": "Returns daily readiness summaries",
        "tags": [
          "Daily"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date"
          },
          {
            "name": "next_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyReadinessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/usercollection/sleep": {
      "get": {
        "operationId": "getSleepPeriods",
        "summary": "Get sleep periods",
        "description": "Returns detailed sleep period data including sleep stages",
        "tags": [
          "Sleep"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date"
          },
          {
            "name": "next_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SleepResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/usercollection/heartrate": {
      "get": {
        "operationId": "getHeartRate",
        "summary": "Get heart rate data",
        "description": "Returns heart rate samples at 5-minute intervals",
        "tags": [
          "Heart Rate"
        ],
        "parameters": [
          {
            "name": "start_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start datetime"
          },
          {
            "name": "end_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End datetime"
          },
          {
            "name": "next_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeartRateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/usercollection/personal_info": {
      "get": {
        "operationId": "getPersonalInfo",
        "summary": "Get personal info",
        "description": "Returns the authenticated user's personal information",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/usercollection/session": {
      "get": {
        "operationId": "getSessions",
        "summary": "Get session data",
        "description": "Returns rest and relaxation sessions",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date"
          },
          {
            "name": "next_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/usercollection/tag": {
      "get": {
        "operationId": "getTags",
        "summary": "Get tags",
        "description": "Returns user-created tags",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date"
          },
          {
            "name": "next_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/usercollection/workout": {
      "get": {
        "operationId": "getWorkouts",
        "summary": "Get workout data",
        "description": "Returns workout sessions",
        "tags": [
          "Workouts"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date"
          },
          {
            "name": "next_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DailyActivityResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyActivity"
            }
          },
          "next_token": {
            "type": "string"
          }
        }
      },
      "DailyActivity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "score": {
            "type": "integer"
          },
          "active_calories": {
            "type": "integer"
          },
          "steps": {
            "type": "integer"
          },
          "equivalent_walking_distance": {
            "type": "number"
          },
          "high_activity_time": {
            "type": "integer"
          },
          "medium_activity_time": {
            "type": "integer"
          },
          "low_activity_time": {
            "type": "integer"
          },
          "sedentary_time": {
            "type": "integer"
          },
          "resting_time": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DailySleepResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailySleep"
            }
          },
          "next_token": {
            "type": "string"
          }
        }
      },
      "DailySleep": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "score": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DailyReadinessResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyReadiness"
            }
          },
          "next_token": {
            "type": "string"
          }
        }
      },
      "DailyReadiness": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "score": {
            "type": "integer"
          },
          "temperature_deviation": {
            "type": "number"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SleepResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SleepPeriod"
            }
          },
          "next_token": {
            "type": "string"
          }
        }
      },
      "SleepPeriod": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "bedtime_start": {
            "type": "string",
            "format": "date-time"
          },
          "bedtime_end": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer"
          },
          "total_sleep_duration": {
            "type": "integer"
          },
          "awake_time": {
            "type": "integer"
          },
          "light_sleep_duration": {
            "type": "integer"
          },
          "rem_sleep_duration": {
            "type": "integer"
          },
          "deep_sleep_duration": {
            "type": "integer"
          },
          "restless_periods": {
            "type": "integer"
          },
          "efficiency": {
            "type": "integer"
          },
          "average_heart_rate": {
            "type": "number"
          },
          "lowest_heart_rate": {
            "type": "integer"
          },
          "average_hrv": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "deleted",
              "sleep",
              "long_sleep",
              "late_nap",
              "rest"
            ]
          }
        }
      },
      "HeartRateResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HeartRateSample"
            }
          },
          "next_token": {
            "type": "string"
          }
        }
      },
      "HeartRateSample": {
        "type": "object",
        "properties": {
          "bpm": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PersonalInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "age": {
            "type": "integer"
          },
          "weight": {
            "type": "number"
          },
          "height": {
            "type": "number"
          },
          "biological_sex": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "SessionResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "next_token": {
            "type": "string"
          }
        }
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "start_datetime": {
            "type": "string",
            "format": "date-time"
          },
          "end_datetime": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string"
          },
          "mood": {
            "type": "string"
          }
        }
      },
      "TagResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          },
          "next_token": {
            "type": "string"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "text": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WorkoutResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Workout"
            }
          },
          "next_token": {
            "type": "string"
          }
        }
      },
      "Workout": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "activity": {
            "type": "string"
          },
          "calories": {
            "type": "number"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "distance": {
            "type": "number"
          },
          "start_datetime": {
            "type": "string",
            "format": "date-time"
          },
          "end_datetime": {
            "type": "string",
            "format": "date-time"
          },
          "intensity": {
            "type": "string"
          },
          "source": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://cloud.ouraring.com/oauth/authorize",
            "tokenUrl": "https://api.ouraring.com/oauth/token",
            "scopes": {
              "personal": "Access personal info",
              "daily": "Access daily data",
              "heartrate": "Access heart rate data",
              "session": "Access session data",
              "workout": "Access workout data"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ]
}