{
  "openapi": "3.1.0",
  "info": {
    "version": "",
    "title": "RTC REST API",
    "description": "Manage RTC channel state and operational controls with Agora REST APIs. This OpenAPI source is shared by Voice Calling and Video Calling entries, so those product pages provide context while this RTC reference remains the authoritative source for endpoints.\n\nAll requests are sent to the host `api.agora.io`.\n\n- **Authentication**: All APIs require Basic Auth for authentication.\n- **Request and response**: The content is in JSON format.\n- All request URLs and request bodies are case-sensitive. All requests must use HTTPS."
  },
  "servers": [
    {
      "url": "https://api.agora.io",
      "description": "Base host for the channel management APIs."
    }
  ],
  "tags": [
    {
      "name": "Query channel information",
      "description": "Query online channel and user information."
    },
    {
      "name": "Ban user privileges",
      "description": "Create and manage banning rules for channel users."
    },
    {
      "name": "Message notification service",
      "description": "Retrieve Agora Notifications service IP addresses."
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "All channel management REST APIs require Basic Auth for authentication."
      }
    },
    "parameters": {
      "Content-Type": {
        "name": "Content-Type",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "default": "application/json"
        },
        "description": "The request content type. Use `application/json`."
      },
      "Accept": {
        "name": "Accept",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "default": "application/json"
        },
        "description": "The response content type. Use `application/json`."
      },
      "appidPath": {
        "name": "appid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The App ID of the project. You can get it through one of the following methods:\n- Copy from the [Agora Console](https://console.agora.io)\n- Call the Get all projects API, and read the value of the `vendor_key`\n  field in the response body."
      },
      "channelNamePath": {
        "name": "channelName",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The channel name."
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/dev/v1/channel/{appid}": {
      "get": {
        "tags": [
          "Query channel information"
        ],
        "summary": "Query the channel list",
        "description": "Retrieves channels under a specified project.",
        "x-docs-callouts": [
          {
            "type": "warning",
            "title": "Important",
            "position": "after-description",
            "markdown": "The Agora RESTful API supports only HTTPS with TLS 1.0, 1.1, or 1.2. Requests over plain HTTP are not supported.\n"
          },
          {
            "markdown": "If the number of users in a channel changes frequently, the query results may be inaccurate. The following situations may occur:\n- A channel appears repeatedly on different pages.\n- A channel does not appear on any page.",
            "position": "after-description",
            "title": "Note",
            "type": "info"
          }
        ],
        "x-docs-sections": [
          {
            "position": "after-description",
            "markdown": "Use this endpoint to get the list of all channels under a specified project. The channel list is returned by page; specify the page number and page size in the request URL."
          },
          {
            "title": "Request",
            "position": "after-parameters",
            "markdown": "- The request URL and request body is case-sensitive. All requests must use HTTPS.\n\n- `Content-Type`: `application/json`\n\n- The request header must contain the `Authorization` field. For details, see [RESTful authentication](/en/api-reference/api-ref/rtc/authentication)."
          },
          {
            "title": "Response",
            "position": "before-response-body",
            "markdown": "- A `200` status code indicates success. The response body contains the following parameters:\n\n- If the status code is not `200`, the request fails. See the `message` field in the response body for the reason for this failure. Refer to [Response status codes](/en/api-reference/api-ref/rtc/response-status-codes) for details."
          }
        ],
        "operationId": "cma-query-channel-list",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl --request GET \\\n  --url 'https://api.sd-rtn.com/dev/v1/channel/<appid>?page_no=0&page_size=100' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Basic <your_base64_encoded_credentials>'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "const http = require('http');\n\nconst options = {\n  method: 'GET',\n  hostname: 'api.sd-rtn.com',\n  port: null,\n  path: '/dev/v1/channel/<appid>?page_no=0&page_size=100',\n  headers: {\n    Authorization: 'Basic <your_base64_encoded_credentials>',\n    Accept: 'application/json'\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPConnection(\"api.sd-rtn.com\")\n\nheaders = {\n    'Authorization': \"Basic <your_base64_encoded_credentials>\",\n    'Accept': \"application/json\"\n}\n\nconn.request(\"GET\", \"/dev/v1/channel/<appid>?page_no=0&page_size=100\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/appidPath"
          },
          {
            "name": "page_no",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0
            },
            "description": "The page number to query. The default value is `0`, which is the first page. The value of `page_no` cannot exceed `(total number of channels / page_size) - 1`; otherwise, the specified page contains no channels."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 100,
              "minimum": 1,
              "maximum": 500
            },
            "description": "The number of channels per page. The value range is [1,500]."
          }
        ],
        "responses": {
          "200": {
            "description": "A `200` status code indicates success. The response body contains the result of the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "The state of this request:\n- `true`: Success.\n- `false`: Reserved for future use."
                    },
                    "data": {
                      "type": "object",
                      "description": "Channel statistics.",
                      "properties": {
                        "channels": {
                          "type": "array",
                          "description": "The list of channels. If the specified page contains no channels, this field is empty.\n\nThe list of channels. Each object in the array represents one channel and contains the following fields. If the specified page contains no channels, this field is empty.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "channel_name": {
                                "type": "string",
                                "description": "The channel name."
                              },
                              "user_count": {
                                "type": "number",
                                "description": "The total number of users in the channel."
                              }
                            }
                          }
                        },
                        "total_size": {
                          "type": "number",
                          "description": "The total number of channels under the specified project."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "channels": [
                      {
                        "channel_name": "lkj144",
                        "user_count": 3
                      }
                    ],
                    "total_size": 1
                  }
                }
              }
            }
          },
          "default": {
            "description": "The request failed. See the `message` field in the response body for the reason. Refer to Response status codes for details."
          }
        }
      }
    },
    "/dev/v1/channel/user/{appid}/{channelName}": {
      "get": {
        "tags": [
          "Query channel information"
        ],
        "summary": "Query the user list",
        "description": "Retrieves users in a specified channel.",
        "x-docs-callouts": [
          {
            "type": "info",
            "title": "Note",
            "position": "after-description",
            "markdown": "All users in the channel must use the same channel profile; otherwise, the query results may be inaccurate. For the `COMMUNICATION` profile, the response returns all users in the channel. For the `LIVE_BROADCASTING` profile, the response returns hosts and audience members.\n"
          }
        ],
        "operationId": "cma-query-user-list",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl --request GET \\\n  --url https://api.sd-rtn.com/dev/v1/channel/user/<appid>/<channelName> \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Basic <your_base64_encoded_credentials>'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "const https = require('https');\n\nconst options = {\n  method: 'GET',\n  hostname: 'api.sd-rtn.com',\n  port: null,\n  path: '/dev/v1/channel/user/<appid>/<channelName>',\n  headers: {\n    Authorization: 'Basic <your_base64_encoded_credentials>',\n    Accept: 'application/json'\n  }\n};\n\nconst req = https.request(options, function (res) {\n  const chunks = [];\n\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.sd-rtn.com\")\n\nheaders = {\n    'Authorization': \"Basic <your_base64_encoded_credentials>\",\n    'Accept': \"application/json\"\n}\n\nconn.request(\"GET\", \"/dev/v1/channel/user/<appid>/<channelName>\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/appidPath"
          },
          {
            "$ref": "#/components/parameters/channelNamePath"
          },
          {
            "name": "hosts_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "When specified, only the host list is returned. Applicable to the `LIVE_BROADCASTING` profile only."
          }
        ],
        "responses": {
          "200": {
            "description": "A `200` status code indicates success. The response body contains the result of the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "The state of this request:\n- `true`: Success.\n- `false`: Reserved for future use."
                    },
                    "data": {
                      "type": "object",
                      "description": "User information.",
                      "properties": {
                        "channel_exist": {
                          "type": "boolean",
                          "description": "Whether the specified channel exists. When `false`, no other fields are returned."
                        },
                        "mode": {
                          "type": "number",
                          "description": "The channel profile:\n- `1`: The `COMMUNICATION` profile.\n- `2`: The `LIVE_BROADCASTING` profile."
                        },
                        "total": {
                          "type": "number",
                          "description": "The total number of users in the channel. Returned only when `mode` is `1`."
                        },
                        "users": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          },
                          "description": "User IDs of all users in the channel. Returned only when `mode` is `1`."
                        },
                        "broadcasters": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          },
                          "description": "User IDs of all hosts in the channel. Returned only when `mode` is `2`."
                        },
                        "audience": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          },
                          "description": "User IDs of the first 10,000 audience members in the channel. Returned only when `mode` is `2` and `hosts_only` is not specified."
                        },
                        "audience_total": {
                          "type": "number",
                          "description": "The total number of audience members in the channel. Returned only when `mode` is `2` and `hosts_only` is not specified."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "channel_exist": true,
                    "mode": 2,
                    "broadcasters": [
                      2206227541,
                      2845863044
                    ],
                    "audience": [
                      906219905
                    ],
                    "audience_total": 1
                  }
                }
              }
            }
          },
          "default": {
            "description": "The request failed. See the `message` field in the response body for the reason. Refer to Response status codes for details."
          }
        },
        "x-docs-sections": [
          {
            "position": "after-description",
            "markdown": "Use this endpoint to get the list of all users in a specified channel. All users in the channel must use the same channel profile; otherwise, the query results may be inaccurate.\n\nThe returned list differs based on the channel profile:\n- `COMMUNICATION` profile: Returns the list of all users in the channel.\n- `LIVE_BROADCASTING` profile: Returns the list of all hosts and audience members in the channel."
          },
          {
            "title": "Reference",
            "position": "after-response-body",
            "markdown": "### Synchronizing channel online statistics\n\nTo synchronize online channel statistics, you can use this endpoint or the [query user status](query-user-status) endpoint. This endpoint requires a lower call frequency and offers higher efficiency, so Agora recommends it for this purpose.\n"
          },
          {
            "title": "Request",
            "position": "after-parameters",
            "markdown": "- The request URL and request body is case-sensitive. All requests must use HTTPS.\n\n- `Content-Type`: `application/json`\n\n- The request header must contain the `Authorization` field. For details, see [RESTful authentication](/en/api-reference/api-ref/rtc/authentication)."
          },
          {
            "title": "Response",
            "position": "before-response-body",
            "markdown": "- A `200` status code indicates success. The response body contains the following parameters:\n\n- If the status code is not `200`, the request fails. See the `message` field in the response body for the reason for this failure. Refer to [Response status codes](/en/api-reference/api-ref/rtc/response-status-codes) for details."
          }
        ]
      }
    },
    "/dev/v1/channel/user/{appid}/{channelName}/hosts_only": {
      "get": {
        "tags": [
          "Query channel information"
        ],
        "summary": "Query the host list",
        "description": "Retrieves hosts in a specified channel.",
        "x-docs-sections": [
          {
            "position": "after-description",
            "markdown": "Use this endpoint to get the list of hosts in a specified channel. This endpoint is only available in the `LIVE_BROADCASTING` profile (`mode = 2`); all users in the channel must use the same profile, otherwise query results may be inaccurate."
          },
          {
            "title": "Request",
            "position": "after-parameters",
            "markdown": "- The request URL and request body is case-sensitive. All requests must use HTTPS.\n\n- `Content-Type`: `application/json`\n\n- The request header must contain the `Authorization` field. For details, see [RESTful authentication](/en/api-reference/api-ref/rtc/authentication)."
          },
          {
            "title": "Response",
            "position": "before-response-body",
            "markdown": "- A `200` status code indicates success. The response body contains the following parameters:\n\n- If the status code is not `200`, the request fails. See the `message` field in the response body for the reason for this failure. Refer to [Response status codes](/en/api-reference/api-ref/rtc/response-status-codes) for details."
          },
          {
            "markdown": "### Synchronizing host online status\n\nTo synchronize the online status of hosts, you can use this endpoint or the [query user status](query-user-status) endpoint. This endpoint requires a lower call frequency and offers higher efficiency, so Agora recommends it for this purpose.",
            "position": "after-response-body",
            "title": "Reference"
          }
        ],
        "operationId": "cma-query-host-list",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl --request GET \\\n  --url https://api.sd-rtn.com/dev/v1/channel/user/<appid>/<channelName>/hosts_only \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Basic <your_base64_encoded_credentials>'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "const https = require('https');\n\nconst options = {\n  method: 'GET',\n  hostname: 'api.sd-rtn.com',\n  port: null,\n  path: '/dev/v1/channel/user/<appid>/<channelName>/hosts_only',\n  headers: {\n    Accept: 'application/json',\n    Authorization: 'Basic <your_base64_encoded_credentials>'\n  }\n};\n\nconst req = https.request(options, function (res) {\n  const chunks = [];\n\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.sd-rtn.com\")\n\nheaders = {\n    'Accept': \"application/json\",\n    'Authorization': \"Basic <your_base64_encoded_credentials>\"\n}\n\nconn.request(\"GET\", \"/dev/v1/channel/user/<appid>/<channelName>/hosts_only\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/appidPath"
          },
          {
            "$ref": "#/components/parameters/channelNamePath"
          }
        ],
        "responses": {
          "200": {
            "description": "A `200` status code indicates success. The response body contains the result of the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "The state of this request:\n- `true`: Success.\n- `false`: Reserved for future use."
                    },
                    "data": {
                      "type": "object",
                      "description": "User information.",
                      "properties": {
                        "channel_exist": {
                          "type": "boolean",
                          "description": "Whether the specified channel exists. When `false`, no other fields are returned."
                        },
                        "mode": {
                          "type": "number",
                          "description": "The channel profile:\n- `1`: The `COMMUNICATION` profile.\n- `2`: The `LIVE_BROADCASTING` profile."
                        },
                        "broadcasters": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          },
                          "description": "User IDs of all hosts in the channel. Returned only when `mode` is `2`."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "channel_exist": true,
                    "mode": 2,
                    "broadcasters": [
                      574332,
                      1347839
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "The request failed. See the `message` field in the response body for the reason. Refer to Response status codes for details."
          }
        }
      }
    },
    "/dev/v1/channel/user/property/{appid}/{uid}/{channelName}": {
      "get": {
        "tags": [
          "Query channel information"
        ],
        "summary": "Query user status",
        "description": "Retrieves the status of a specified user in a channel.",
        "x-docs-sections": [
          {
            "position": "after-description",
            "markdown": "Use this endpoint to get the status of a specified user. It checks whether the user is in the specified channel and, if present, returns the user's role and the time they joined."
          },
          {
            "title": "Request",
            "position": "after-parameters",
            "markdown": "- The request URL and request body is case-sensitive. All requests must use HTTPS.\n\n- `Content-Type`: `application/json`\n\n- The request header must contain the `Authorization` field. For details, see [RESTful authentication](/en/api-reference/api-ref/rtc/authentication)."
          },
          {
            "title": "Response",
            "position": "before-response-body",
            "markdown": "- A `200` status code indicates success. The response body contains the following parameters:\n\n- If the status code is not `200`, the request fails. See the `message` field in the response body for the reason for this failure. Refer to [Response status codes](/en/api-reference/api-ref/rtc/response-status-codes) for details."
          }
        ],
        "operationId": "cma-query-user-status",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl --request GET \\\n  --url https://api.sd-rtn.com/dev/v1/channel/user/property/<appid>/<uid>/<channelName> \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Basic <your_base64_encoded_credentials>'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "const https = require('https');\n\nconst options = {\n  method: 'GET',\n  hostname: 'api.sd-rtn.com',\n  port: null,\n  path: '/dev/v1/channel/user/property/<appid>/<uid>/<channelName>',\n  headers: {\n    Authorization: 'Basic <your_base64_encoded_credentials>',\n    Accept: 'application/json'\n  }\n};\n\nconst req = https.request(options, function (res) {\n  const chunks = [];\n\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.sd-rtn.com\")\n\nheaders = {\n    'Authorization': \"Basic <your_base64_encoded_credentials>\",\n    'Accept': \"application/json\"\n}\n\nconn.request(\"GET\", \"/dev/v1/channel/user/property/<appid>/<uid>/<channelName>\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/appidPath"
          },
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "The user ID. This parameter does not support string user accounts; use the integer user ID only."
          },
          {
            "$ref": "#/components/parameters/channelNamePath"
          }
        ],
        "responses": {
          "200": {
            "description": "A `200` status code indicates success. The response body contains the result of the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "The state of this request:\n- `true`: Success.\n- `false`: Reserved for future use."
                    },
                    "data": {
                      "type": "object",
                      "description": "User statistics.",
                      "properties": {
                        "in_channel": {
                          "type": "boolean",
                          "description": "Whether the user is in the channel. When `false`, no other fields are returned."
                        },
                        "uid": {
                          "type": "number",
                          "description": "The user ID."
                        },
                        "join": {
                          "type": "number",
                          "description": "The Unix timestamp (in seconds) of when the user joined the channel."
                        },
                        "role": {
                          "type": "number",
                          "description": "The role of the user in the channel:\n- `0`: Unknown user role.\n- `1`: User, in a communication channel.\n- `2`: Host, in a live broadcast channel.\n- `3`: Audience, in a live broadcast channel."
                        },
                        "platform": {
                          "type": "number",
                          "description": "The platform of the user's device. Common values: `1`: Android, `2`: iOS, `5`: Windows, `6`: Linux, `7`: Web, `8`: macOS, `0`: Others."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "join": 1640330382,
                    "uid": 2845863044,
                    "in_channel": true,
                    "platform": 7,
                    "role": 2
                  }
                }
              }
            }
          },
          "default": {
            "description": "The request failed. See the `message` field in the response body for the reason. Refer to Response status codes for details."
          }
        }
      }
    },
    "/dev/v1/kicking-rule": {
      "post": {
        "tags": [
          "Ban user privileges"
        ],
        "summary": "Create a banning rule",
        "description": "Creates a rule for banning specified user privileges.",
        "operationId": "cma-create-ban-rule",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl --request POST \\\n  --url https://api.sd-rtn.com/dev/v1/kicking-rule \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Basic <your_base64_encoded_credentials>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n  \"appid\": \"4855xxxxxxxxxxxxxxxxxxxxxxxxeae2\",\n  \"cname\": \"channel1\",\n  \"uid\": 589517928,\n  \"ip\": \"\",\n  \"time\": 60,\n  \"privileges\": [\n    \"join_channel\"\n  ]\n}'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "const https = require('https');\n\nconst options = {\n  method: 'POST',\n  hostname: 'api.sd-rtn.com',\n  port: null,\n  path: '/dev/v1/kicking-rule',\n  headers: {\n    Authorization: 'Basic <your_base64_encoded_credentials>',\n    'Content-Type': 'application/json',\n    Accept: 'application/json'\n  }\n};\n\nconst req = https.request(options, function (res) {\n  const chunks = [];\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({\n  appid: '4855xxxxxxxxxxxxxxxxxxxxxxxxeae2',\n  cname: 'channel1',\n  uid: 589517928,\n  ip: '',\n  time: 60,\n  privileges: ['join_channel']\n}));\nreq.end();"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import http.client\nimport json\n\nconn = http.client.HTTPSConnection(\"api.sd-rtn.com\")\n\npayload = {\n    \"appid\": \"4855xxxxxxxxxxxxxxxxxxxxxxxxeae2\",\n    \"cname\": \"channel1\",\n    \"uid\": 589517928,\n    \"ip\": \"\",\n    \"time\": 60,\n    \"privileges\": [\n        \"join_channel\"\n    ]\n}\n\nheaders = {\n    'Authorization': \"Basic <your_base64_encoded_credentials>\",\n    'Content-Type': \"application/json\",\n    'Accept': \"application/json\"\n}\n\nconn.request(\"POST\", \"/dev/v1/kicking-rule\", json.dumps(payload), headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "appid",
                  "privileges"
                ],
                "properties": {
                  "appid": {
                    "type": "string",
                    "description": "The App ID of the project. You can get it through one of the following methods:\n- Copy from the [Agora Console](https://console.agora.io)\n- Call the Get all projects API, and read the value of the\n  `vendor_key` field in the response body."
                  },
                  "cname": {
                    "type": "string",
                    "description": "The channel name."
                  },
                  "uid": {
                    "type": "number",
                    "description": "The user ID. Do not set it to `0`."
                  },
                  "ip": {
                    "type": "string",
                    "description": "The IP address of the user. Do not set it to `0`."
                  },
                  "time": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 1440,
                    "description": "The time duration (in minutes) to ban the user. Values outside the range [1,1440] are clamped to the nearest bound. Setting this to `0` disables the rule: users are set offline but can rejoin immediately."
                  },
                  "time_in_seconds": {
                    "type": "number",
                    "minimum": 10,
                    "maximum": 86430,
                    "description": "The time duration (in seconds) to ban the user. Values outside the range [10,86430] are clamped to the nearest bound. Setting this to `0` disables the rule: users are set offline but can rejoin immediately.\n`time_in_seconds` takes effect. If neither is set, the default ban duration is 60 minutes (3600 seconds).",
                    "x-docs-callouts": [
                      {
                        "type": "info",
                        "title": "Note",
                        "position": "after-description",
                        "markdown": "Use either `time` or `time_in_seconds`, not both. If both are set,\n"
                      }
                    ]
                  },
                  "privileges": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "join_channel",
                        "publish_audio",
                        "publish_video"
                      ]
                    },
                    "description": "The user privileges you want to block. Possible values:\n- `join_channel`: Bans a user from joining a channel or\n  kicks a user out of a channel.\n\n- `publish_audio`: Bans a user from publishing audio.\n- `publish_video`: Bans a user from publishing video.\n\nTo ban a user from both publishing audio and video, specify both `publish_audio` and `publish_video`."
                  }
                }
              },
              "example": {
                "appid": "4855xxxxxxxxxxxxxxxxxxxxxxxxeae2",
                "cname": "channel1",
                "uid": 589517928,
                "ip": "",
                "time": 60,
                "privileges": [
                  "join_channel"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A `200` status code indicates success. The response body contains the result of the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status of this request. `success` means the request succeeds."
                    },
                    "id": {
                      "type": "number",
                      "description": "The rule ID. Save the rule ID to update or delete this rule later."
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "id": 1953
                }
              }
            }
          },
          "default": {
            "description": "The request failed. See the `message` field in the response body for the reason. Refer to Response status codes for details."
          }
        },
        "x-docs-sections": [
          {
            "position": "after-description",
            "markdown": "Use this endpoint to create a rule for banning specified user privileges."
          },
          {
            "title": "Reference",
            "position": "after-response-body",
            "markdown": "### Banning rule behavior\n\nThe banning rule behavior depends on which combination of `cname`, `uid`, and `ip` fields you set.\n\n**When `privileges` is `join_channel`:**\n\n| `ip` | `cname` | `uid` | Rule |\n|:----:|:-------:|:-----:|:-----|\n| ✔ | ✘ | ✘ | All users with this `ip` cannot join any channel in the app. Using `ip` as a filter field may incorrectly block users who should not be blocked, for example, in a use-case where multiple users share an IP address. |\n| ✘ | ✔ | ✘ | No one can join the channel specified by the `cname` field. Using `cname` as a filter field directly blocks the named channel. |\n| ✘ | ✘ | ✔ | The user with the `uid` cannot join any channel in the app. |\n| ✘ | ✔ | ✔ | The user with the `uid` cannot join the channel specified by the `cname` field. |\n\n\n**When `privileges` is `publish_audio` or `publish_video`:**\n\n| `ip` | `cname` | `uid` | Rule |\n|:----:|:-------:|:-----:|:-----|\n| ✔ | ✘ | ✘ | The users with this `ip` cannot publish audio or video in any channel of the app. |\n| ✘ | ✔ | ✘ | No one can publish audio or video in the channel specified by the `cname` field. |\n| ✘ | ✘ | ✔ | The user with the `uid` cannot publish audio or video in any channel of the app. |\n| ✘ | ✔ | ✔ | The user with the `uid` cannot publish audio or video in the channel specified by the `cname` field. |\n\n\n### Client callbacks for `join_channel` bans\n\nA user who is kicked out of a channel when `privileges` is set to `join_channel` receives one of the following callbacks based on their platform:\n\n- **Android**: The `onConnectionStateChanged` callback reports `CONNECTION_CHANGED_BANNED_BY_SERVER(3)`.\n- **iOS/macOS**: The `connectionChangedToState` callback reports `AgoraConnectionChangedBannedByServer(3)`.\n- **Web (3.x)**: The `Client.on(\"client-banned\")` callback.\n- **Web (4.x)**: The `Client.on(\"connection-state-change\")` callback.\n- **Windows**: The `onConnectionStateChanged` callback reports `CONNECTION_CHANGED_BANNED_BY_SERVER(3)`.\n- **Electron**: The `AgoraRtcEngine.on(\"connectionStateChanged\")` callback reports `3`.\n- **Unity**: The `OnConnectionStateChangedHandler` callback reports `CONNECTION_CHANGED_BANNED_BY_SERVER(3)`.\n- **React Native**: The `ConnectionStateChanged` callback reports `BannedByServer(3)`.\n- **Flutter**: The `ConnectionStateChanged` callback reports `BannedByServer(3)`.\n- **Cocos Creator**: The `onConnectionStateChanged` callback reports `CONNECTION_CHANGED_BANNED_BY_SERVER(3)`.\n- **Applets**: `on(event: \"client-banned\")`.\n\n### Best practices for rule management\n\nTo maximize the success rate of create, update, and delete operations, query requests are assigned a lower priority. Under poor network conditions, the success rate and accuracy of GET requests may degrade and some request records may be missing from the results.\n\nWhen you call POST to create a rule where `time` is not set to `0`, use the following best practices to update or delete it later:\n\n- Save the rule ID returned in the POST request on your server, and rely on this ID for subsequent update and delete operations.\n- To ensure that you can still obtain the rule ID under poor network conditions, set the timeout for the POST request to 20 seconds or higher. Make sure that the timeout is set to no less than 5 seconds.\n- In case the POST request times out or returns a `504` error, use the response of the GET method to obtain the rule ID. If the rule exists, it indicates that the POST request was successful, and you can save the rule ID on your server.\n"
          },
          {
            "title": "Request",
            "position": "after-parameters",
            "markdown": "- The request URL and request body is case-sensitive. All requests must use HTTPS.\n\n- `Content-Type`: `application/json`\n\n- The request header must contain the `Authorization` field. For details, see [RESTful authentication](/en/api-reference/api-ref/rtc/authentication)."
          },
          {
            "title": "Response",
            "position": "before-response-body",
            "markdown": "- A `200` status code indicates success. The response body contains the following parameters:\n\n- If the status code is not `200`, the request fails. See the `message` field in the response body for the reason for this failure. Refer to [Response status codes](/en/api-reference/api-ref/rtc/response-status-codes) for details."
          },
          {
            "markdown": "See Banning rule behavior for details.\n\nSee Client callbacks for join_channel bans for details.",
            "position": "after-response-body",
            "title": "Response"
          }
        ]
      },
      "delete": {
        "tags": [
          "Ban user privileges"
        ],
        "summary": "Delete a banning rule",
        "description": "Deletes a specified banning rule.",
        "x-docs-sections": [
          {
            "position": "after-description",
            "markdown": "Use this endpoint to delete a specified banning rule."
          },
          {
            "title": "Request",
            "position": "after-parameters",
            "markdown": "- The request URL and request body is case-sensitive. All requests must use HTTPS.\n\n- `Content-Type`: `application/json`\n\n- The request header must contain the `Authorization` field. For details, see [RESTful authentication](/en/api-reference/api-ref/rtc/authentication)."
          },
          {
            "title": "Response",
            "position": "before-response-body",
            "markdown": "- A `200` status code indicates success. The response body contains the following parameters:\n\n- If the status code is not `200`, the request fails. See the `message` field in the response body for the reason for this failure. Refer to [Response status codes](/en/api-reference/api-ref/rtc/response-status-codes) for details."
          }
        ],
        "operationId": "cma-delete-ban-rule",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl --request DELETE \\\n  --url https://api.sd-rtn.com/dev/v1/kicking-rule \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Basic <your_base64_encoded_credentials>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n  \"appid\": \"4855xxxxxxxxxxxxxxxxxxxxxxxxeae2\",\n  \"id\": 1953\n}'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "const https = require('https');\n\nconst options = {\n  method: 'DELETE',\n  hostname: 'api.sd-rtn.com',\n  port: null,\n  path: '/dev/v1/kicking-rule',\n  headers: {\n    Authorization: 'Basic <your_base64_encoded_credentials>',\n    'Content-Type': 'application/json',\n    Accept: 'application/json'\n  }\n};\n\nconst req = https.request(options, function (res) {\n  const chunks = [];\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({\n  appid: '4855xxxxxxxxxxxxxxxxxxxxxxxxeae2',\n  id: 1953\n}));\nreq.end();"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import http.client\nimport json\n\nconn = http.client.HTTPSConnection(\"api.sd-rtn.com\")\n\npayload = {\n    \"appid\": \"4855xxxxxxxxxxxxxxxxxxxxxxxxeae2\",\n    \"id\": 1953\n}\n\nheaders = {\n    'Authorization': \"Basic <your_base64_encoded_credentials>\",\n    'Content-Type': \"application/json\",\n    'Accept': \"application/json\"\n}\n\nconn.request(\"DELETE\", \"/dev/v1/kicking-rule\", json.dumps(payload), headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "appid",
                  "id"
                ],
                "properties": {
                  "appid": {
                    "type": "string",
                    "description": "The App ID of the project. You can get it through one of the following methods:\n- Copy from the [Agora Console](https://console.agora.io)\n- Call the Get all projects API, and read the value of the\n  `vendor_key` field in the response body."
                  },
                  "id": {
                    "type": "number",
                    "description": "The ID of the rule to delete."
                  }
                }
              },
              "example": {
                "appid": "4855xxxxxxxxxxxxxxxxxxxxxxxxeae2",
                "id": 1953
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A `200` status code indicates success. The response body contains the result of the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status of this request. `success` means the request succeeds."
                    },
                    "id": {
                      "type": "number",
                      "description": "The ID of the deleted rule."
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "id": 1953
                }
              }
            }
          },
          "default": {
            "description": "The request failed. See the `message` field in the response body for the reason. Refer to Response status codes for details."
          }
        }
      },
      "get": {
        "tags": [
          "Ban user privileges"
        ],
        "summary": "Get the banning rule list",
        "description": "Retrieves all banning rules.",
        "operationId": "cma-get-ban-rule-list",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl --request GET \\\n  --url 'https://api.sd-rtn.com/dev/v1/kicking-rule?appid=4855xxxxxxxxxxxxxxxxxxxxxxxxeae2' \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Basic <your_base64_encoded_credentials>'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "const https = require('https');\nconst options = {\n  method: 'GET',\n  hostname: 'api.sd-rtn.com',\n  port: null,\n  path: '/dev/v1/kicking-rule?appid=4855xxxxxxxxxxxxxxxxxxxxxxxxeae2',\n  headers: {\n    Authorization: 'Basic <your_base64_encoded_credentials>',\n    Accept: 'application/json'\n  }\n};\n\nconst req = https.request(options, function (res) {\n  const chunks = [];\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.sd-rtn.com\")\n\nheaders = {\n    'Authorization': \"Basic <your_base64_encoded_credentials>\",\n    'Accept': \"application/json\"\n}\n\nconn.request(\"GET\", \"/dev/v1/kicking-rule?appid=4855xxxxxxxxxxxxxxxxxxxxxxxxeae2\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))"
          }
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The App ID of the project. You can get it through one of the following methods:\n- Copy from the [Agora Console](https://console.agora.io)\n- Call the Get all projects API, and read the value of the\n  `vendor_key` field in the response body."
          }
        ],
        "responses": {
          "200": {
            "description": "A `200` status code indicates success. The response body contains the result of the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status of this request. `success` means the request succeeds."
                    },
                    "rules": {
                      "type": "array",
                      "description": "The list of banning rules. Each object in the array represents one banning rule.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "The rule ID. Required to update or delete the rule."
                          },
                          "appid": {
                            "type": "string",
                            "description": "The App ID of the project."
                          },
                          "uid": {
                            "type": "number",
                            "description": "The user ID."
                          },
                          "opid": {
                            "type": "number",
                            "description": "The operation ID, which can be used to track operation records when troubleshooting."
                          },
                          "cname": {
                            "type": "string",
                            "description": "The channel name."
                          },
                          "ip": {
                            "type": "string",
                            "description": "The IP address of the user."
                          },
                          "ts": {
                            "type": "string",
                            "description": "The UTC time when this rule expires."
                          },
                          "privileges": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "join_channel",
                                "publish_audio",
                                "publish_video"
                              ]
                            },
                            "description": "The banned user privileges. Possible values: `join_channel`, `publish_audio`, `publish_video`."
                          },
                          "createAt": {
                            "type": "string",
                            "description": "The UTC time when this rule was created."
                          },
                          "updateAt": {
                            "type": "string",
                            "description": "The UTC time when this rule was last updated."
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "rules": [
                    {
                      "id": 1953,
                      "appid": "4855xxxxxxxxxxxxxxxxxxxxxxxxeae2",
                      "uid": 589517928,
                      "opid": 1406,
                      "cname": "11",
                      "ip": "192.168.0.1",
                      "ts": "2026-01-09 07:23:06+00:00",
                      "privileges": [
                        "join_channel"
                      ],
                      "createAt": "2026-01-09 06:23:06+00:00",
                      "updateAt": "2026-01-09 14:23:06+00:00"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "The request failed. See the `message` field in the response body for the reason. Refer to Response status codes for details."
          }
        },
        "x-docs-sections": [
          {
            "position": "after-description",
            "markdown": "Use this endpoint to get the list of all banning rules."
          },
          {
            "title": "Reference",
            "position": "after-response-body",
            "markdown": "### Best practices for rule management\n\nTo maximize the success rate of create, update, and delete operations, query requests are assigned a lower priority. Under poor network conditions, the success rate and accuracy of GET requests may degrade and some request records may be missing from the results.\n\nWhen you call POST to create a rule where `time` is not set to `0`, use the following best practices to update or delete it later:\n\n- Save the rule ID returned in the POST request on your server, and rely on this ID for subsequent update and delete operations.\n- To ensure that you can still obtain the rule ID under poor network conditions, set the timeout for the POST request to 20 seconds or higher. Make sure that the timeout is set to no less than 5 seconds.\n- In case the POST request times out or returns a `504` error, use the response of the GET method to obtain the rule ID. If the rule exists, it indicates that the POST request was successful, and you can save the rule ID on your server.\n"
          },
          {
            "title": "Request",
            "position": "after-parameters",
            "markdown": "- The request URL and request body is case-sensitive. All requests must use HTTPS.\n\n- `Content-Type`: `application/json`\n\n- The request header must contain the `Authorization` field. For details, see [RESTful authentication](/en/api-reference/api-ref/rtc/authentication)."
          },
          {
            "title": "Response",
            "position": "before-response-body",
            "markdown": "- A `200` status code indicates success. The response body contains the following parameters:\n\n- If the status code is not `200`, the request fails. See the `message` field in the response body for the reason for this failure. Refer to [Response status codes](/en/api-reference/api-ref/rtc/response-status-codes) for details."
          }
        ]
      },
      "put": {
        "tags": [
          "Ban user privileges"
        ],
        "summary": "Update the expiration time of a banning rule",
        "description": "Updates the expiration time of a specified banning rule.",
        "x-docs-sections": [
          {
            "position": "after-description",
            "markdown": "Use this endpoint to update the expiration time of a specified banning rule."
          },
          {
            "title": "Request",
            "position": "after-parameters",
            "markdown": "- The request URL and request body is case-sensitive. All requests must use HTTPS.\n\n- `Content-Type`: `application/json`\n\n- The request header must contain the `Authorization` field. For details, see [RESTful authentication](/en/api-reference/api-ref/rtc/authentication)."
          },
          {
            "title": "Response",
            "position": "before-response-body",
            "markdown": "- A `200` status code indicates success. The response body contains the following parameters:\n\n- If the status code is not `200`, the request fails. See the `message` field in the response body for the reason for this failure. Refer to [Response status codes](/en/api-reference/api-ref/rtc/response-status-codes) for details."
          }
        ],
        "operationId": "cma-update-ban-expiration",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl --request PUT \\\n  --url https://api.sd-rtn.com/dev/v1/kicking-rule \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Basic <your_base64_encoded_credentials>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n  \"appid\": \"4855xxxxxxxxxxxxxxxxxxxxxxxxeae2\",\n  \"id\": 1953,\n  \"time\": 60\n}'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "const https = require('https');\n\nconst options = {\n  method: 'PUT',\n  hostname: 'api.sd-rtn.com',\n  port: null,\n  path: '/dev/v1/kicking-rule',\n  headers: {\n    Authorization: 'Basic <your_base64_encoded_credentials>',\n    'Content-Type': 'application/json',\n    Accept: 'application/json'\n  }\n};\n\nconst req = https.request(options, function (res) {\n  const chunks = [];\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({\n  appid: '4855xxxxxxxxxxxxxxxxxxxxxxxxeae2',\n  id: 1953,\n  time: 60\n}));\nreq.end();"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import http.client\nimport json\n\nconn = http.client.HTTPSConnection(\"api.sd-rtn.com\")\n\npayload = {\n    \"appid\": \"4855xxxxxxxxxxxxxxxxxxxxxxxxeae2\",\n    \"id\": 1953,\n    \"time\": 60\n}\n\nheaders = {\n    'Authorization': \"Basic <your_base64_encoded_credentials>\",\n    'Content-Type': \"application/json\",\n    'Accept': \"application/json\"\n}\n\nconn.request(\"PUT\", \"/dev/v1/kicking-rule\", json.dumps(payload), headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "appid",
                  "id"
                ],
                "properties": {
                  "appid": {
                    "type": "string",
                    "description": "The App ID of the project. You can get it through one of the following methods:\n- Copy from the [Agora Console](https://console.agora.io)\n- Call the Get all projects API, and read the value of the\n  `vendor_key` field in the response body."
                  },
                  "id": {
                    "type": "number",
                    "description": "The ID of the rule to update."
                  },
                  "time": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 1440,
                    "description": "The time duration (in minutes) to ban the user. Values outside the range [1,1440] are clamped to the nearest bound. Setting this to `0` disables the rule: users are set offline but can rejoin immediately.\n`time_in_seconds` takes effect. If neither is set, the default ban duration is 60 minutes (3600 seconds).",
                    "x-docs-callouts": [
                      {
                        "type": "info",
                        "title": "Note",
                        "position": "after-description",
                        "markdown": "Use either `time` or `time_in_seconds`, not both. If both are set,\n"
                      }
                    ]
                  },
                  "time_in_seconds": {
                    "type": "number",
                    "minimum": 10,
                    "maximum": 86430,
                    "description": "The time duration (in seconds) to ban the user. Values outside the range [10,86430] are clamped to the nearest bound. Setting this to `0` disables the rule: users are set offline but can rejoin immediately."
                  }
                }
              },
              "example": {
                "appid": "4855xxxxxxxxxxxxxxxxxxxxxxxxeae2",
                "id": 1953,
                "time": 60
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A `200` status code indicates success. The response body contains the result of the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status of this request. `success` means the request succeeds."
                    },
                    "result": {
                      "type": "object",
                      "description": "The result of the update.",
                      "properties": {
                        "id": {
                          "type": "number",
                          "description": "The rule ID."
                        },
                        "ts": {
                          "type": "string",
                          "description": "The UTC time when the rule expires."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "result": {
                    "id": 1953,
                    "ts": "2026-01-09 08:45:54.545000+00:00"
                  }
                }
              }
            }
          },
          "default": {
            "description": "The request failed. See the `message` field in the response body for the reason. Refer to Response status codes for details."
          }
        }
      }
    },
    "/v2/ncs/ip": {
      "get": {
        "tags": [
          "Message notification service"
        ],
        "summary": "Query the IP address",
        "description": "Retrieves Agora Notifications service server IP addresses.",
        "x-docs-callouts": [
          {
            "markdown": "Agora occasionally adjusts the Agora Notifications service IP addresses. Call this endpoint at least every 24 hours and automatically update your firewall configuration with the latest addresses.",
            "position": "after-description",
            "title": "Tip",
            "type": "tip"
          }
        ],
        "x-docs-sections": [
          {
            "position": "after-description",
            "markdown": "Use this endpoint to retrieve the IP addresses of the Agora Notifications service server. If your server is behind a firewall, add these IP addresses to your allowlist to receive channel event notifications."
          },
          {
            "title": "Request",
            "position": "after-parameters",
            "markdown": "- The request URL and request body is case-sensitive. All requests must use HTTPS.\n\n- `Content-Type`: `application/json`\n\n- The request header must contain the `Authorization` field. For details, see [RESTful authentication](/en/api-reference/api-ref/rtc/authentication)."
          },
          {
            "title": "Response",
            "position": "before-response-body",
            "markdown": "- A `200` status code indicates success. The response body contains the following parameters:\n\n- If the status code is not `200`, the request fails. See the `message` field in the response body for the reason for this failure. Refer to [Response status codes](/en/api-reference/api-ref/rtc/response-status-codes) for details."
          }
        ],
        "operationId": "cma-query-ip-address",
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "$ref": "#/components/parameters/Accept"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl --request GET \\\n  --url https://api.sd-rtn.com/v2/ncs/ip \\\n  --header 'Accept: application/json' \\\n  --header 'Authorization: Basic <your_base64_encoded_credentials>'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "const https = require('https');\n\nconst options = {\n  method: 'GET',\n  hostname: 'api.sd-rtn.com',\n  port: null,\n  path: '/v2/ncs/ip',\n  headers: {\n    Authorization: 'Basic <your_base64_encoded_credentials>',\n    Accept: 'application/json'\n  }\n};\n\nconst req = https.request(options, function (res) {\n  const chunks = [];\n\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.sd-rtn.com\")\n\nheaders = {\n    'Authorization': \"Basic <your_base64_encoded_credentials>\",\n    'Accept': \"application/json\"\n}\n\nconn.request(\"GET\", \"/v2/ncs/ip\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\nprint(data.decode(\"utf-8\"))"
          }
        ],
        "responses": {
          "200": {
            "description": "A `200` status code indicates success. The response body contains the result of the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "object",
                          "properties": {
                            "hosts": {
                              "type": "array",
                              "description": "A list of NCS server host objects.\n\nA list of Agora Notifications service server host objects.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "primaryIP": {
                                    "type": "string",
                                    "description": "The IP address of the NCS server. Add all IP addresses returned in this field to your firewall allowlist.\n\nThe IP address of the Agora Notifications service server. Add all IP addresses returned in this field to your firewall allowlist."
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "service": {
                      "hosts": [
                        {
                          "primaryIP": "xxx.xxx.xxx.xxx"
                        },
                        {
                          "primaryIP": "xxx.xxx.xxx.xxx"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "The request failed. See the `message` field in the response body for the reason. Refer to Response status codes for details."
          }
        }
      }
    }
  }
}
