{
  "openapi": "3.0.3",
  "info": {
    "title": "Blueink API v2",
    "version": "2.11.0",
    "description": "# Overview\n\nThis document contains the detailed specification for version 2 of the Blueink eSignature API.\nIf just starting with the Blueink API, you might want to checkout the How-to Guides\nand Guides that supplement this API specification.\n",
    "x-jentic-source-url": "https://developer.blueink.com/redocusaurus/blueink-api-v2.yaml"
  },
  "servers": [
    {
      "url": "https://api.blueink.com/api/v2"
    }
  ],
  "paths": {
    "/bundles/": {
      "get": {
        "summary": "List Bundles",
        "description": "Returns a paginated list of Bundles in your Account, ordered by created date (from most recent to\nleast recent). Pagination can be controlled via Pagination paramaters (see Overview->Pagination).\nQuerystring filters paramaters can be combined, e.g.\n`/bundles/?search=Gibbons&status__in=se,co&tag=needs-attention`. When combining filters, only Bundles\nmatching ALL the filters are returned.\n",
        "operationId": "listBundles",
        "tags": [
          "Bundles"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "A search query. Only bundles matching the search will be returned. The following data in the\nthe Bundle is searched:\n\n- bundle slug\n- bundle label\n- bundle custom_key\n- signer name\n- signer email\n- signer phones\n\nE.g. `/bundles/?search=foobar@example.com`\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Limit bundles to those with the specified status.\n\n* dr: Draft - the Bundle has not yet been sent\n* se: Sent - the Bundle has been sent, but not yet started by any Signers\n* st: Started - at least one Signer has started reviewing the document(s)\n* co: Complete - all Signers have completed reviewing / signing\n* ca: Cancelled - the Bundle was cancelled\n* ex: Expired - the Bundle expired before it was Complete\n* fa: Failed - an error occurred and the Bundle could not be created or completed\n\nE.g. `/bundles/?status=co`\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "dr",
                "se",
                "st",
                "co",
                "ca",
                "ex",
                "fa"
              ]
            }
          },
          {
            "name": "status__in",
            "in": "query",
            "description": "Limit bundles to those with one of the specified statuses. Statuses should be comma separated.\nE.g. `/bundles/?status=co,se,st`\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "dr",
                "se",
                "st",
                "co",
                "ca",
                "ex",
                "fa"
              ]
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Return Bundles that have the given tag. E.g. `/bundles/?tag=some-tag`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag__in",
            "in": "query",
            "description": "Return Bundles that have at least one of the given tags. Tags should be comma separated.\nE.g. `/bundles/?tag=some-tag,another-tag`\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Control the sort order of Bundles. Prefix with \"-\" to reverse the sort order.\nBy default Bundles are sorted by \"-created\", ie the Bundle creation date from most\nto least recent.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "sent",
                "completed_at"
              ]
            }
          },
          {
            "name": "created",
            "in": "query",
            "description": "Retrieve Bundles created within a specified date range\nNote: Dates are expressed as YYYY-MM-DD format.\n\nE.g. `/bundles/?created_after=2024-10-01&created_before=2024-10-08`\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sent",
            "in": "query",
            "description": "E.g. `/bundles/?sent_after=2024-10-01&sent_before=2024-10-08`\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "completed",
            "in": "query",
            "description": "E.g. `/bundles/?completed_after=2024-10-01&completed_before=2024-10-08`\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "template",
            "in": "query",
            "description": "Filter bundles by template ID. Only bundles created from the specified template will be returned.\n\nE.g. `/bundles/?template=a053644f-e371-4883-ac17-534445993346`\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paged array of Bundles",
            "headers": {
              "x-next": {
                "description": "A link to the next page of responses",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundles"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a Bundle",
        "operationId": "createBundle",
        "tags": [
          "Bundles"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "description": "If your request to create a Bundle includes actual files (as opposed to URLs\nof files), you need to use a content type of multipart/form-data. The body\nof the request will then have 2 parts: a 'files' array and a 'bundle_request'\nobject.\n\nbundle_request is a JSON object encoded as a string, with the same\nstructure as the application/json content type request to this endpoint.\n\nfiles is an array of the files you are uploading as part of the request. The\nbundle_request 'documents' array will refer to these files by there array index.\n",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "bundle_request": {
                    "$ref": "#/components/schemas/BundleRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returned when the Bundle is successfully created. Note that some Bundle processing (like\nparsing tags in documents, or processing large documents) can be time consuming. Therefore\nthis request return a '201' success message after preliminary data validation has been performed.\nAt this point, not all documents are guaranteed to have been processed, so it is possible\nthat Bundle creation could fail with a document processing error. If that is the case,\nthe error status will be reflected in the Bundle response returned by a subsequent call\nto retrieve a Bundle.\n\nAny errors are also reported via webhooks, so your App or integration\ndoes not need to poll to confirm successful Bunde creation.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          }
        }
      }
    },
    "/bundles/create_from_envelope_template/": {
      "post": {
        "summary": "Create a Bundle from an Envelope Template",
        "operationId": "createBundleFromEnvelopeTemplate",
        "tags": [
          "Bundles"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created Bundle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          }
        }
      }
    },
    "/bundles/{bundleSlug}/": {
      "get": {
        "summary": "Retrieve a Bundle",
        "description": "Retrieve a Bundle by its slug. Optionally include additional related data such as form field data,\naudit events, and downloadable files using the `include` query parameter.\n\n## Using the include parameter\n\nThe `include` parameter allows you to fetch related data in a single API call instead of making\nseparate requests to the `/data`, `/events`, and `/files` endpoints. This can significantly\nreduce the number of API calls needed and improve performance.\n\n### Examples:\n\n**Basic bundle retrieval:**\n```\nGET /api/v2/bundles/abc123/\n```\n\n**Include form data only:**\n```\nGET /api/v2/bundles/abc123/?include=data\n```\n\n**Include events and files:**\n```\nGET /api/v2/bundles/abc123/?include=events,files\n```\n\n**Include all additional data:**\n```\nGET /api/v2/bundles/abc123/?include=data,events,files\n```\n\n### Data Availability\n\n- **data**: Only available for completed bundles, unless early data access is enabled for your account\n- **events**: Always available for any bundle\n- **files**: Only available for completed bundles with final documents ready, unless early file access is enabled\n\nWhen data or files are not available, the corresponding field will be `null` in the response.\n",
        "operationId": "retrieveBundle",
        "tags": [
          "Bundles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/bundleSlug"
          },
          {
            "$ref": "#/components/parameters/include"
          }
        ],
        "responses": {
          "200": {
            "description": "A Bundle object, optionally with additional included data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundleWithIncludes"
                },
                "examples": {
                  "basic_bundle": {
                    "summary": "Basic bundle without includes",
                    "description": "Standard bundle response without any additional data",
                    "value": {
                      "id": "abc123",
                      "status": "co",
                      "label": "Employment Contract - John Doe",
                      "created": "2024-01-15T10:30:00Z",
                      "docs_ready": true,
                      "packets": [],
                      "documents": [],
                      "tags": []
                    }
                  },
                  "bundle_with_data": {
                    "summary": "Bundle with form data included",
                    "description": "Bundle response including form field data entered by signers",
                    "value": {
                      "id": "abc123",
                      "status": "co",
                      "label": "Employment Contract - John Doe",
                      "created": "2024-01-15T10:30:00Z",
                      "docs_ready": true,
                      "packets": [],
                      "documents": [],
                      "tags": [],
                      "data": [
                        {
                          "field_name": "employee_name",
                          "field_value": "John Doe",
                          "field_type": "text"
                        }
                      ]
                    }
                  },
                  "bundle_with_all": {
                    "summary": "Bundle with all includes",
                    "description": "Bundle response with data, events, and files included",
                    "value": {
                      "id": "abc123",
                      "status": "co",
                      "label": "Employment Contract - John Doe",
                      "created": "2024-01-15T10:30:00Z",
                      "docs_ready": true,
                      "packets": [],
                      "documents": [],
                      "tags": [],
                      "data": [
                        {
                          "field_name": "employee_name",
                          "field_value": "John Doe",
                          "field_type": "text"
                        }
                      ],
                      "events": [
                        {
                          "kind": "bc",
                          "description": "Bundle created",
                          "timestamp": "2024-01-15T10:30:00Z"
                        },
                        {
                          "kind": "bl",
                          "description": "Bundle launched",
                          "timestamp": "2024-01-15T10:35:00Z"
                        }
                      ],
                      "files": [
                        {
                          "file_url": "https://api.blueink.com/files/download/xyz789",
                          "expires": "2024-01-16T10:30:00Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid include parameter values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_include": {
                    "summary": "Invalid include parameter",
                    "value": {
                      "error": "Invalid include parameters: invalid_param. Supported: data, events, files"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      },
      "patch": {
        "summary": "Partially Update a Bundle",
        "description": "Partially update selected Bundle fields.\n\nAllowed fields:\n- `team`\n- `expires`\n- `cc_sender`\n- `cc_emails`\n- `send_reminders`\n- `reminder_offset`\n- `reminder_interval`\n- `reminder_expires`\n- `owner`\n\nNotes:\n- Only Bundles in `dr` (Draft) or `se` (Sent) status can be updated.\n- Full updates (`PUT`) are not supported. Use `PATCH`.\n- `owner` updates are restricted to account admins.\n- `team` updates require the Teams feature.\n- Reminder fields require the Reminders feature.\n- For Sent (`se`) Bundles, updating `expires` changes the date while preserving the existing time-of-day.\n",
        "operationId": "updateBundlePartial",
        "tags": [
          "Bundles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/bundleSlug"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundlePatchRequest"
              },
              "examples": {
                "full_patch_example": {
                  "summary": "Update all supported fields",
                  "value": {
                    "owner": "7f3c9f91-7be8-4e7f-9965-77e2f0b781d8",
                    "team": "22f23753-7fbe-42de-8eda-031423f965af",
                    "expires": "2026-03-14",
                    "reminder_offset": 1,
                    "reminder_interval": 0,
                    "reminder_expires": 0,
                    "send_reminders": true,
                    "cc_emails": [
                      "manager@example.com",
                      "admin@example.com"
                    ],
                    "cc_sender": false
                  }
                },
                "minimal_patch_example": {
                  "summary": "Update a single field",
                  "value": {
                    "cc_sender": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Bundle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Possible causes include:\n- invalid or disallowed fields in request body\n- Bundle status does not allow updates\n- account feature requirements not met (Teams or Reminders)\n- invalid owner/team/expires value\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/bundles/{bundleSlug}/cancel/": {
      "put": {
        "summary": "Cancel a Bundle",
        "operationId": "cancelBundle",
        "tags": [
          "Bundles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/bundleSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "The cancelled Bundle object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "description": "Cannot cancel the bundle, probably because it is completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/bundles/{bundleSlug}/events/": {
      "get": {
        "summary": "List Bundle Events",
        "description": "Get a list of Events that are associated with the Bundle",
        "operationId": "listBundleEvents",
        "tags": [
          "Bundles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/bundleSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of events associated with this bundle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Events"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/bundles/{bundleSlug}/files/": {
      "get": {
        "summary": "Retrieve Bundle Files",
        "description": "Get downloadable files for a completed Bundle",
        "operationId": "getBundleFiles",
        "tags": [
          "Bundles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/bundleSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "File response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Files"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "description": "Files not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Generate Interim Bundle Files",
        "description": "Trigger generation of interim files. The Bundle cannot have a terminal status (Complete, Expired, etc).\nThe files are generated asynchronously. You can poll the /bundles/{bundleSlug}/files/ endpoint with a \nGET request to retrieve the generated files. Note that the ability to generate interim files is not \nactive for all API-enabled accounts. Check with Blueink support with any questions.\n",
        "operationId": "putBundleFiles",
        "tags": [
          "Bundles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/bundleSlug"
          }
        ],
        "responses": {
          "204": {
            "description": "Interim file generation was triggered successfully. No content is returned."
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "403": {
            "description": "User or Account is not permitted to generate interim files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "description": "Bundle is in terminal state. Interim files cannot be generated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/bundles/{bundleSlug}/data/": {
      "get": {
        "summary": "Retrieve Bundle Data",
        "description": "Get data entered into fields for a completed Bundle",
        "operationId": "getBundleData",
        "tags": [
          "Bundles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/bundleSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "Data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundleData"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "description": "Files not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/bundles/{bundleSlug}/add_tags/": {
      "put": {
        "summary": "Add Tags to a bundle",
        "description": "Add additional tags to a Bundle. No existing tags on the Bundle are removed. The result\nof this call is that Bundle.tags is the union of the set of previous tags with the set of new tags.\nDuplicate tags are ignored.\n",
        "operationId": "addBundleTags",
        "tags": [
          "Bundles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/bundleSlug"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tags": {
                    "$ref": "#/components/schemas/Tags"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The modified Bundle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/bundles/{bundleSlug}/remove_tags/": {
      "put": {
        "summary": "Remove Tags from a bundle",
        "description": "Remove tags from a Bundle. If a tag in the request does not exist on the Bundle, it is ignored.\n",
        "operationId": "removeBundleTags",
        "tags": [
          "Bundles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/bundleSlug"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tags": {
                    "$ref": "#/components/schemas/Tags"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The modified Bundle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/packets/{packetId}/": {
      "get": {
        "summary": "Retrieve a Packet",
        "description": "Retrieve details for a specific Packet (signer). This endpoint provides information about\nthe signer including their contact information, signing status, authentication requirements,\nand associated Bundle information.\n",
        "operationId": "retrievePacket",
        "tags": [
          "Packet"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/packetId"
          }
        ],
        "responses": {
          "200": {
            "description": "Packet details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Packet"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update a Packet",
        "description": "Update a Packet (aka signer) with a new email, phone number, name or authentication options\n\nThe updated packet must still be deliverable. For instance, if you specify a `deliver_via`\nvalue of 'phone', but there was no phone number set in the original PacketRequest, then\nthis request must include a `phone` as well, or an error will be returned.\n\nYou can change a Packet that was originally configured for embedded signing (that is, deliver_via was\n'embed') to be delivered via email or SMS. However, no signing notifications or reminders will be\nautomatically sent. You must call /packet/{packetId}/remind/ to send a signing notification email (or SMS).\n\nIf this Signer is associated with a Person, the person will be updated as well - the Person name\nwill be changed (if provided) and any new email or phone number will be added.\n",
        "operationId": "updatePacket",
        "tags": [
          "Packet"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/packetId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PacketCommon"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "deliver_via": {
                        "type": "string",
                        "description": "Note that \"embed\" is not an option",
                        "enum": [
                          "email",
                          "phone"
                        ]
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok, the Packet was updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Packet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/packets/{packetId}/embed_url/": {
      "post": {
        "summary": "Create an Embedded Signing URL",
        "description": "Create a URL which can be used for embedded signing\n\n**Example Websites**  \n- [JavaScript Example Website](https://js-example.blueink.com)  \n- [Python Example Website](https://api-examples-python.blueink.com)  \n- [PHP Example Website](https://php-example.blueink.com)\n",
        "operationId": "createPacketEmbedURL",
        "tags": [
          "Packet"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/packetId"
          }
        ],
        "responses": {
          "201": {
            "description": "Created response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedURL"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "description": "Cannot get an embedded url for this packet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/packets/{packetId}/remind/": {
      "put": {
        "summary": "Send a Reminder",
        "description": "Send a Reminder email or SMS to a Signer. A reminder can only be sent once every hour. The reminder will be sent via the delivery method (email or SMS) and to the email address (or phone number) previously designated for this Packet.\n",
        "operationId": "sendPacketReminder",
        "tags": [
          "Packet"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/packetId"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok, the reminder was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Packet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "description": "Cannot send a reminder to this packet, probably because the packet is complete (ie, the signer has already finished signing)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/packets/{packetId}/coe/": {
      "get": {
        "summary": "Retrieve Packet Certificate of Evidence",
        "description": "Get a link and checksum of the Certificate of Evidence for this Packet",
        "operationId": "getPacketCOE",
        "tags": [
          "Packet"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/packetId"
          }
        ],
        "responses": {
          "200": {
            "description": "COE response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/File"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "sha256": {
                          "type": "string",
                          "description": "the sha256 hash of the file"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "description": "COE not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/templates/": {
      "get": {
        "summary": "List Document Templates",
        "operationId": "listTemplates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "A response with a list or Document Templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentTemplate"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{templateId}/": {
      "get": {
        "summary": "Retrieve a Document Template",
        "operationId": "retrieveTemplate",
        "parameters": [
          {
            "$ref": "#/components/parameters/templateId"
          }
        ],
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "A Document Templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentTemplate"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      }
    },
    "/persons/": {
      "get": {
        "summary": "List Persons",
        "operationId": "listPersons",
        "tags": [
          "Person"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "A search query.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter persons by email address. Only persons with the specified email will be returned.\n\nE.g. `/persons/?email=john@example.com`\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Filter persons by phone number. Only persons with the specified phone number will be returned.\n\nE.g. `/persons/?phone=+1234567890`\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A response with a list of Persons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Persons"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a Person",
        "operationId": "createPerson",
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Person"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created Person",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          }
        }
      }
    },
    "/persons/{personId}/": {
      "get": {
        "summary": "Retrieve a Person",
        "operationId": "getPerson",
        "parameters": [
          {
            "$ref": "#/components/parameters/personId"
          }
        ],
        "tags": [
          "Person"
        ],
        "responses": {
          "200": {
            "description": "A response with a Person",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      },
      "put": {
        "summary": "Update a Person",
        "operationId": "updatePerson",
        "description": "Update the Person with new data. NOTE that any contact channels that are omitted from this request will be DELETED. If you don't want to replace all data on the Person, you probably want to use PATCH instead.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/personId"
          }
        ],
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Person"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The Person was updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      },
      "patch": {
        "summary": "Partially update a Person",
        "operationId": "updatePersonPartial",
        "description": "Partially update the Person with new data.\n\nTo add a new email or phone to the Person, include a ContactChannel in the 'channels' array\nwithout an 'id'.\n\nTo update an existing ContactChannel associated with the Person, include an 'id'. That existing\nContactChannel will be updated with the new email or phone. This will update any live Bundles\nassociated with the Person that are sending to that email (or phone).\n\nIf a ContactChannel does not include an 'id', but the email (or phone) matches an existing\nContactChannel, then that ContactChannel will not be changed.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/personId"
          }
        ],
        "tags": [
          "Person"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Person"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The Person was updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a Person",
        "parameters": [
          {
            "$ref": "#/components/parameters/personId"
          }
        ],
        "operationId": "deletePerson",
        "tags": [
          "Person"
        ],
        "responses": {
          "204": {
            "description": "The Person was deleted. No content is returned"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "description": "Cannot delete the Person, probably because it is associated with live Bundles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/": {
      "get": {
        "summary": "List Webhooks",
        "operationId": "listWebhooks",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "enabled",
            "in": "query",
            "description": "Only Webhooks matching the selected 'enabled' state will be returned.\n\nE.g. `/webhooks/?enabled=true`\n",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Only Webhooks matching the selected event_type or event_types will be returned.\n\nE.g. `/webhooks/?event_type=bundle_sent`\nE.g. `/webhooks/?event_type__in=bundle_error,bundle_cancelled`\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "bundle_sent",
                "bundle_complete",
                "bundle_docs_ready",
                "bundle_error",
                "bundle_cancelled",
                "packet_viewed",
                "packet_complete",
                "packet_declined"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A response with a list of Webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhooks"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a Webhook",
        "operationId": "createWebhook",
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created Webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          }
        }
      }
    },
    "/webhooks/{webhookId}/": {
      "get": {
        "summary": "Retrieve a Webhook",
        "operationId": "getWebhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/webhookId"
          }
        ],
        "tags": [
          "Webhook"
        ],
        "responses": {
          "200": {
            "description": "A response with a Webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      },
      "put": {
        "summary": "Update a Webhook",
        "operationId": "updateWebhook",
        "description": "Update the Webhook with new data. NOTE that any subscriptions that are omitted from this request will be DELETED. If you don't want to replace all data on the Webhook, you probably want to use PATCH instead.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/webhookId"
          }
        ],
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Webhook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The Webhook was updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      },
      "patch": {
        "summary": "Partially update a Webhook",
        "operationId": "updateWebhookartial",
        "description": "Partially update the Webhook with new data.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/webhookId"
          }
        ],
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Webhook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The Webhook was updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a Webhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/webhookId"
          }
        ],
        "operationId": "deleteWebhook",
        "tags": [
          "Webhook"
        ],
        "responses": {
          "204": {
            "description": "The Webhook was deleted. No content is returned"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "description": "Cannot delete the Webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/headers/": {
      "get": {
        "summary": "List WebhookExtraHeaders",
        "operationId": "listWebhookExtraHeaders",
        "tags": [
          "WebhookExtraHeader"
        ],
        "parameters": [
          {
            "name": "webhook",
            "in": "query",
            "description": "Only WebhookExtraHeaders matching the selected webhook ID will be returned.\n\nE.g. `/webhooks/headers/?webhook=a053644f-e371-4883-ac17-534445993346`\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Only WebhookExtraHeaders with webhooks matching the selected event_type or event_types will be returned.\n\nE.g. `/webhooks/headers/?event_type=bundle_sent`\nE.g. `/webhooks/headers/?event_type__in=bundle_error,bundle_cancelled`\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "bundle_sent",
                "bundle_complete",
                "bundle_docs_ready",
                "bundle_error",
                "bundle_cancelled",
                "packet_viewed",
                "packet_complete",
                "packet_declined"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A response with a list of WebhookExtraHeaders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookExtraHeaders"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a WebhookExtraHeader",
        "operationId": "createWebhookExtraHeader",
        "tags": [
          "WebhookExtraHeader"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookExtraHeader"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created WebhookExtraHeader",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookExtraHeader"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          }
        }
      }
    },
    "/webhooks/headers/{webhookExtraHeaderId}/": {
      "get": {
        "summary": "Retrieve a WebhookExtraHeader",
        "operationId": "getWebhookExtraHeader",
        "parameters": [
          {
            "$ref": "#/components/parameters/webhookExtraHeaderId"
          }
        ],
        "tags": [
          "Webhook"
        ],
        "responses": {
          "200": {
            "description": "A response with a WebhookExtraHeader",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookExtraHeader"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      },
      "put": {
        "summary": "Update a WebhookExtraHeader",
        "operationId": "updateWebhookExtraHeader",
        "description": "Update the WebhookExtraHeader with new data\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/webhookExtraHeaderId"
          }
        ],
        "tags": [
          "WebhookExtraHeader"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookExtraHeader"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The WebhookExtraHeader was updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookExtraHeader"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      },
      "patch": {
        "summary": "Partially update a WebhookExtraHeader",
        "operationId": "updateWebhookExtraHeaderPartial",
        "description": "Partially update the WebhookExtraHeader with new data.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/webhookExtraHeaderId"
          }
        ],
        "tags": [
          "WebhookExtraHeader"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookExtraHeader"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The WebhookExtraHeader was updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookExtraHeader"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a WebhookExtraHeader",
        "parameters": [
          {
            "$ref": "#/components/parameters/webhookExtraHeaderId"
          }
        ],
        "operationId": "deleteWebhookExtraHeader",
        "tags": [
          "WebhookExtraHeader"
        ],
        "responses": {
          "204": {
            "description": "The WebhookExtraHeader was deleted. No content is returned"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "409": {
            "description": "Cannot delete the WebhookExtraHeader",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/events/": {
      "get": {
        "summary": "List WebhookEvents",
        "operationId": "listWebhookEvents",
        "tags": [
          "WebhookEvent"
        ],
        "parameters": [
          {
            "name": "webhook",
            "in": "query",
            "description": "Only WebhookEvents matching the selected webhook ID will be returned.\n\nE.g. `/webhooks/events/?webhook=a053644f-e371-4883-ac17-534445993346`\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Only WebhookEvents with webhooks matching the selected event_type or event_types will be returned.\n\nE.g. `/webhooks/events/?event_type=bundle_sent`\nE.g. `/webhooks/events/?event_type__in=bundle_error,bundle_cancelled`\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "bundle_sent",
                "bundle_complete",
                "bundle_docs_ready",
                "bundle_error",
                "bundle_cancelled",
                "packet_viewed",
                "packet_complete"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Only WebhookEvents matching the selected status will be returned.\n\nE.g. `/webhooks/events/?status=1`\nE.g. `/webhooks/events/?status__in=0,1,2`\n",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "success",
            "in": "query",
            "description": "Only WebhookEvents matching the selected success status will be returned.\n\nE.g. `/webhooks/events/?success=true`\n",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Only WebhookEvents occurring between a date range will be returned.\nNote: Dates are expressed as YYYY-MM-DD format.\n\nE.g. `/webhooks/events/?date_after=2022-10-01&date_before=2022-10-31`\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A response with a list of WebhookEvents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEvents"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/deliveries/": {
      "get": {
        "summary": "List WebhookEvents",
        "operationId": "listWebhookDeliveries",
        "tags": [
          "WebhookEvent"
        ],
        "parameters": [
          {
            "name": "webhook",
            "in": "query",
            "description": "Only WebhookDeliveries matching the selected webhook ID will be returned.\n\nE.g. `/webhooks/deliveries/?webhook=a053644f-e371-4883-ac17-534445993346`\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "webhook_event",
            "in": "query",
            "description": "Only WebhookDeliveries matching the selected webhook_event ID will be returned.\n\nE.g. `/webhooks/deliveries/?webhook_event=a053644f-e371-4883-ac17-534445993346`\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Only WebhookDeliveries with webhooks matching the selected event_type or event_types will be returned.\n\nE.g. `/webhooks/deliveries/?event_type=bundle_sent`\nE.g. `/webhooks/deliveries/?event_type__in=bundle_error,bundle_cancelled`\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "bundle_sent",
                "bundle_complete",
                "bundle_docs_ready",
                "bundle_error",
                "bundle_cancelled",
                "packet_viewed",
                "packet_complete"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Only WebhookDeliveries matching the selected status will be returned.\n\nE.g. `/webhooks/deliveries/?status=1`\nE.g. `/webhooks/deliveries/?status__in=0,1,2`\n",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Only WebhookDeliveries occurring between a date range will be returned.\nNote: Dates are expressed as YYYY-MM-DD format.\n\nE.g. `/webhooks/deliveries/?date_after=2022-10-01&date_before=2022-10-31`\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A response with a list of WebhookEvents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEvents"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/secret/": {
      "get": {
        "summary": "Get Webhook Shared Secret",
        "operationId": "getWebhookSecret",
        "tags": [
          "WebhookSecret"
        ],
        "responses": {
          "200": {
            "description": "A response with the secret contained.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSecret"
                }
              }
            }
          },
          "403": {
            "description": "User is not priviliged to view the shared secret."
          },
          "404": {
            "description": "Shared secret has not been generated yet."
          }
        }
      }
    },
    "/webhooks/secret/regenerate/": {
      "post": {
        "summary": "Regenerate Webhook Shared Secret",
        "operationId": "regenerateWebhookSecret",
        "tags": [
          "WebhookSecret"
        ],
        "responses": {
          "200": {
            "description": "A response with the new secret contained.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSecret"
                }
              }
            }
          },
          "403": {
            "description": "User is not priviliged to regenerate the secret."
          }
        }
      }
    },
    "/rate_limit/": {
      "get": {
        "summary": "Check Rate Limit Status",
        "description": "Check the current rate limit status for your API key. This endpoint provides information\nabout your current rate limit usage and remaining capacity.\n",
        "operationId": "checkRateLimit",
        "tags": [
          "Rate Limiting"
        ],
        "responses": {
          "200": {
            "description": "Rate limit status information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer",
                      "description": "Maximum number of requests allowed per time window"
                    },
                    "remaining": {
                      "type": "integer",
                      "description": "Number of requests remaining in current time window"
                    },
                    "reset": {
                      "type": "integer",
                      "description": "Unix timestamp when the rate limit window resets"
                    },
                    "window": {
                      "type": "integer",
                      "description": "Rate limit window duration in seconds"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/envelope-templates/": {
      "get": {
        "summary": "List Envelope Templates",
        "description": "Retrieve a paginated list of Envelope Templates available to your account.\n\nEnvelope Templates are reusable document workflows that contain predefined documents,\nfield layouts, signer roles, and configuration settings. They allow you to quickly\ngenerate new bundles with consistent formatting and behavior.\n\n**Filtering:**\n- Only enabled templates are returned by default\n- Templates are ordered by creation date (newest first)\n\n**Use Cases:**\n- Browse available templates for bundle creation\n- Integrate template selection into your application\n- Audit available document workflows\n",
        "operationId": "listEnvelopeTemplates",
        "tags": [
          "Envelope Templates"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved envelope templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvelopeTemplates"
                },
                "examples": {
                  "envelope_templates_list": {
                    "summary": "List of envelope templates",
                    "value": [
                      {
                        "id": "T-abc123def",
                        "created": "2024-01-15T10:30:00Z",
                        "name": "Employment Contract Template",
                        "description": "Standard employment agreement with signature fields",
                        "is_shared": true,
                        "is_portal": false,
                        "allow_direct_signing": false,
                        "documents": [
                          {
                            "key": "contract",
                            "name": "Employment_Agreement.pdf",
                            "order": 1
                          }
                        ],
                        "signers": [
                          {
                            "key": "employee",
                            "label": "Employee",
                            "order": 1,
                            "auth_sms": false,
                            "auth_selfie": false,
                            "auth_id": false
                          },
                          {
                            "key": "hr_manager",
                            "label": "HR Manager",
                            "order": 2,
                            "auth_sms": true,
                            "auth_selfie": false,
                            "auth_id": false
                          }
                        ],
                        "smart_link_url": ""
                      },
                      {
                        "id": "T-xyz789ghi",
                        "created": "2024-01-10T14:20:00Z",
                        "name": "Customer Onboarding Portal",
                        "description": "Self-service customer registration with document upload",
                        "is_shared": false,
                        "is_portal": true,
                        "allow_direct_signing": true,
                        "documents": [
                          {
                            "key": "terms",
                            "name": "Terms_of_Service.pdf",
                            "order": 1
                          },
                          {
                            "key": "privacy",
                            "name": "Privacy_Policy.pdf",
                            "order": 2
                          }
                        ],
                        "signers": [
                          {
                            "key": "customer",
                            "label": "Customer",
                            "order": 1,
                            "auth_sms": false,
                            "auth_selfie": true,
                            "auth_id": true
                          }
                        ],
                        "smart_link_url": "https://app.blueink.com/s/T-xyz789ghi"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided or are invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "You do not have permission to access envelope templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/envelope-templates/{envelopeTemplateId}/": {
      "get": {
        "summary": "Retrieve Envelope Template",
        "description": "Retrieve detailed information about a specific Envelope Template by its unique identifier.\n\nThis endpoint provides complete details about an Envelope Template, including:\n- Template metadata (name, description, creation date)\n- Document structure and ordering\n- Signer roles and authentication requirements\n- Portal configuration (if applicable)\n\n**Use Cases:**\n- Get template details before creating a bundle\n- Display template information in your application\n- Validate template structure and requirements\n- Access smart link URL for portal templates\n",
        "operationId": "retrieveEnvelopeTemplate",
        "tags": [
          "Envelope Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/envelopeTemplateId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved envelope template details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvelopeTemplate"
                },
                "examples": {
                  "employment_contract_template": {
                    "summary": "Employment contract template",
                    "value": {
                      "id": "T-abc123def",
                      "created": "2024-01-15T10:30:00Z",
                      "name": "Employment Contract Template",
                      "description": "Standard employment agreement with signature fields for new hires",
                      "is_shared": true,
                      "is_portal": false,
                      "allow_direct_signing": false,
                      "documents": [
                        {
                          "key": "contract",
                          "name": "Employment_Agreement.pdf",
                          "order": 1
                        },
                        {
                          "key": "handbook",
                          "name": "Employee_Handbook.pdf",
                          "order": 2
                        }
                      ],
                      "signers": [
                        {
                          "key": "employee",
                          "label": "Employee",
                          "order": 1,
                          "auth_sms": false,
                          "auth_selfie": false,
                          "auth_id": false
                        },
                        {
                          "key": "hr_manager",
                          "label": "HR Manager",
                          "order": 2,
                          "auth_sms": true,
                          "auth_selfie": false,
                          "auth_id": false
                        }
                      ],
                      "smart_link_url": ""
                    }
                  },
                  "portal_template": {
                    "summary": "Customer onboarding portal template",
                    "value": {
                      "id": "T-xyz789ghi",
                      "created": "2024-01-10T14:20:00Z",
                      "name": "Customer Onboarding Portal",
                      "description": "Self-service customer registration with document upload and identity verification",
                      "is_shared": false,
                      "is_portal": true,
                      "allow_direct_signing": true,
                      "documents": [
                        {
                          "key": "terms",
                          "name": "Terms_of_Service.pdf",
                          "order": 1
                        },
                        {
                          "key": "privacy",
                          "name": "Privacy_Policy.pdf",
                          "order": 2
                        }
                      ],
                      "signers": [
                        {
                          "key": "customer",
                          "label": "Customer",
                          "order": 1,
                          "auth_sms": false,
                          "auth_selfie": true,
                          "auth_id": true
                        }
                      ],
                      "smart_link_url": "https://app.blueink.com/s/T-xyz789ghi"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided or are invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "You do not have permission to access this envelope template",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Envelope template not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "template_not_found": {
                    "summary": "Template not found error",
                    "value": {
                      "code": "not_found",
                      "message": "Envelope Template not found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BundlePayment": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "billed_to",
              "amount_due"
            ],
            "properties": {
              "billed_to": {
                "type": "string",
                "description": "Signer key, as defined in the PacketRequest, indicating which Signer will need to pay.\n",
                "example": "signer-1"
              },
              "amount_due": {
                "type": "number",
                "description": "The amount that the signer will need to pay in order to complete the bundle.\n",
                "minimum": 1,
                "maximum": 1000000,
                "example": 999
              },
              "payment_method_types": {
                "type": "array",
                "description": "The payment method types that the signer can use to pay the amount due.\n",
                "items": {
                  "type": "string",
                  "enum": [
                    "card_payments",
                    "us_bank_account_ach_payments"
                  ]
                },
                "example": [
                  "card_payments"
                ]
              }
            },
            "description": "You need to set up payout settings (Stripe Connect). After the signer has made the payment, the amount will be transferred to you via the previously set up Stripe account.\n"
          }
        ]
      },
      "BundleCommon": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "A label to help you identify this Bundle"
          },
          "in_order": {
            "type": "boolean",
            "default": false,
            "description": "If true, Signers are required to sign in order, and a signing message (email or SMS) is sent to a Signer when previous signers have signed.\n"
          },
          "email_subject": {
            "type": "string",
            "maxLength": 400,
            "description": "A custom email subject that will be included in the email sent to each Signer.\n"
          },
          "email_message": {
            "type": "string",
            "description": "A custom message that will be included in the email sent to each Signers via email. A message set on the individual PacketRequest takes precedence.\n"
          },
          "sms_message": {
            "type": "string",
            "description": "A custom message that will be included in the SMS sent to each Signers. A message set on the individual PacketRequest takes precedence.\n"
          },
          "requester_name": {
            "type": "string",
            "description": "The name of the requester. Defaults to the value configured for the Account (or Team).\n"
          },
          "requester_email": {
            "type": "string",
            "format": "email",
            "maxLength": 254,
            "description": "The email address of the requester. Defaults to the value configured for the Account (or Team).\n"
          },
          "cc_emails": {
            "type": "array",
            "description": "An array of email addresses that should be cc'd when the documents are complete",
            "items": {
              "type": "string",
              "format": "email",
              "maxLength": 254
            }
          },
          "custom_key": {
            "type": "string",
            "description": "An optional, unique custom key you can use to identify and retrieve this Bundle (e.g via search)\n",
            "maxLength": 200
          },
          "team": {
            "type": "string",
            "format": "uuid",
            "description": "A team ID, if teams are activated for your Account and you want to assign this Bundle to a particular team.\n"
          },
          "is_test": {
            "type": "boolean",
            "description": "Set to True if this a test bundle. Test Bundles do not count against any account usage limits and cannot be used to create legally binding eSignatures. This should always be set to true while you App or integration is under development.\n"
          },
          "status": {
            "type": "string",
            "enum": [
              "",
              "dr"
            ],
            "description": "Leave blank to send a bundle normally. Set to \"dr\" to create a draft bundle that is not sent automatically\n"
          },
          "payment": {
            "$ref": "#/components/schemas/BundlePayment",
            "type": "object"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "A code that identifies the kind of the error. One of:\n\n- authentication_failed: Incorrect authentication credentials provided.\n- conflict: Server is in a conflicted state and cannot handle the request.\n- error: A general error occured that cannot be described by one of the more specific error\ncodes.\n- invalid: Validation of the incoming data failed. The request contained invalid input.\n- method_not_allowed: The requested method is not allowed on the API URL.\n- not_acceptable: Cannot satisfy the Accept header in the request.\n- not_authenticated: Authentication credentials were not provided.\n- not_found: The requested resource could not be found.\n- permission_denied: You do not have permission to perform the requested action.\n- parse_error: The request payload could not be parsed.\n- service_unavailable: The request failed because some part of the Blueink service is\ntemporarily unavailable.\n- throttled: The request was throttled\n- unsupported_media_type: The request contained an unsupported media type.\n",
            "enum": [
              "authentication_failed",
              "conflict",
              "error",
              "invalid",
              "method_not_allowed",
              "not_acceptable",
              "not_authenticated",
              "not_found",
              "permission_denied",
              "parse_error",
              "service_unavailable",
              "throttled",
              "unsupported_media_type"
            ]
          },
          "message": {
            "type": "string",
            "description": "A human readable string describing the error"
          },
          "errors": {
            "type": "array",
            "description": "An optional array of field-specific errors providing additional details",
            "required": [
              "field",
              "message"
            ],
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "The field in the request associated with the error. For nested data, the\nfield might be specified using dot and array notation. For instance, for a\nBundleRequest, the field value might be `documents[0].key` to indicate the error\nis associated with the \"key\" field of the first document passed in the\ndocuments array.\n\nIn some cases, the field value might not identify every component in the path\nto the actual value in error. For example a field value of 'documents.fields'\nindicates that one of the documents has an issue with its 'fields' value, but\ndoes not identify the specific document. The message should provide\nadditional details.\n"
                },
                "messsage": {
                  "type": "string",
                  "description": "A human readable string describing the error for this field"
                }
              }
            }
          }
        }
      },
      "PacketCommon": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the signer"
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 254,
            "description": "The email address of the signer"
          },
          "phone": {
            "type": "string",
            "format": "phone",
            "maxLength": 128,
            "description": "The phone number of the signer. Required if SMS Pin authentication is used."
          },
          "auth_sms": {
            "type": "boolean",
            "description": "True if you would like to require SMS pin authentication before a signer can sign the documents in this Bundle\n"
          },
          "auth_selfie": {
            "type": "boolean",
            "description": "True if you would like to require Selfie authentication before a signer can sign the documents in this Bundle\n"
          },
          "auth_id": {
            "type": "boolean",
            "description": "True if you would like to require ID authentication before a signer can sign the documents in this Bundle\n"
          },
          "signing_complete_redirect": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect the signer to after they complete signing. This URL takes precedence over any signing brand or account-level redirect settings. Requires the Signing Brands feature to be enabled on your account.\n",
            "maxLength": 400
          },
          "suppress_all": {
            "type": "boolean",
            "description": "If true, suppresses all email and SMS notifications for this signer. This includes signing notifications, reminders, and completion notifications.\n"
          },
          "suppress_docs_ready": {
            "type": "boolean",
            "description": "If true, suppresses the \"documents ready\" notification email that is normally sent when all signers have completed the bundle.\n"
          },
          "suppress_signing": {
            "type": "boolean",
            "description": "If true, suppresses the initial signing notification email/SMS that is sent when the bundle is first sent to signers.\n"
          },
          "suppress_reminder": {
            "type": "boolean",
            "description": "If true, suppresses reminder emails/SMS that would normally be sent to this signer if they haven't completed signing within the reminder interval.\n"
          }
        }
      },
      "Packet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PacketCommon"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "person_id": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "enum": [
                  "ne",
                  "re",
                  "se",
                  "st",
                  "co",
                  "ca",
                  "ex",
                  "fa"
                ]
              },
              "deliver_via": {
                "type": "string",
                "enum": [
                  "email",
                  "phone",
                  "embed"
                ]
              },
              "completed_at": {
                "type": "string"
              },
              "last_accessed_at": {
                "type": "string"
              },
              "order": {
                "type": "integer"
              }
            }
          }
        ]
      },
      "BundleDocument": {
        "type": "object",
        "properties": {
          "template_id": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the DocumentTemplate if this BundleDocument was created from a DocumentTemplate, null otherwise\n"
          },
          "key": {
            "type": "string",
            "description": "The name of the document. Defaults to the filename or the document when it was uploaded, but can be set to a human-friendly name.\n"
          },
          "name": {
            "type": "string",
            "description": "The generated filename for the this document. If the document was DocumentTemplate, this is the name of the DocumentTemplate. If it was generated from a file_url, this is the name extracted from the file_url (if possible). If it was generated from an uploaded file, this is an automatically generated name\n"
          }
        }
      },
      "Tags": {
        "type": "array",
        "description": "An array of tags",
        "items": {
          "type": "string",
          "description": "The tag, as a string. A tag cannot contain a space or comma."
        }
      },
      "Bundle": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BundleCommon"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "dr",
                  "se",
                  "st",
                  "co",
                  "ca",
                  "ex",
                  "fa"
                ]
              },
              "created": {
                "type": "string",
                "format": "date-time"
              },
              "docs_ready": {
                "type": "boolean",
                "description": "True when final documents have been generated on a complete Bundle"
              },
              "errors": {
                "type": "array",
                "description": "An array of Errors, if any occured during document processing. Null otherwise.",
                "items": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "packets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Packet"
                }
              },
              "documents": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BundleDocument"
                }
              },
              "tags": {
                "$ref": "#/components/schemas/Tags"
              }
            }
          }
        ]
      },
      "Bundles": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Bundle"
        }
      },
      "PacketRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PacketCommon"
          },
          {
            "type": "object",
            "required": [
              "key"
            ],
            "properties": {
              "key": {
                "type": "string",
                "description": "A string that is unique to this Bundle which is used to identify the signer elsewhere in this request. This key is used when mapping a signer to a role in the 'assignments' field of a TemplateRequest and is used to assign a field to a signer in 'editors' field in a DocumentRequestField.\n",
                "pattern": "^[-\\w]+$",
                "minLength": 2,
                "maxLength": 20
              },
              "person_id": {
                "type": "string",
                "format": "uuid",
                "description": "The ID of an existing Person, used to locate the Person object corresponding to this\nSigner. When person_id is provided, Blueink does not use the default Person Matching\nAlgorithm, and instead matches a Person based on the ID. If no Person is found, an\nerror is raised.\n\nWhen a matching Person is found, that Person object will be updated with any new or\nchanged data provided in this PacketRequest. If PacketRequest.name does not equal\nPerson.name, Person.name will be updated. If the email or phone included in the\nPacketRequest are unknown, they will be added to the Person object.\n"
              },
              "deliver_via": {
                "type": "string",
                "enum": [
                  "email",
                  "phone",
                  "embed"
                ],
                "default": "email",
                "description": "How the signing link should be delivered to this Signer. If \"email\" (or \"phone\"), then an\nemail address (or phone number, respectively) must be provided in the PacketRequest, or\nsync_person must be true and a default email (or phone number, respectively)\nis set on the Person.\n\nIf \"embed\", then this Signer will be configured for embedded signing. No email or SMS\nmessage will be sent to the Signer. In a subsequent API request, you can use the\nunique Packet ID to for this signer to retrieve an URL you can use for embedded signing.\n"
              },
              "order": {
                "type": "integer"
              }
            }
          }
        ]
      },
      "FieldFormatDateInput": {
        "type": "string",
        "description": "Allowed `format` values for date-oriented fields of kind `dat`.\n",
        "enum": [
          "",
          "M/D/YY",
          "MM/DD/YY",
          "MM/DD/YYYY",
          "YYYY-MM-DD",
          "D/M/YY",
          "D/M/YYYY",
          "DD/MM/YYYY",
          "MMM D, YYYY",
          "MMMM D, YYYY",
          "MMMM Do, YYYY",
          "D MMM YYYY",
          "D MMMM YYYY"
        ]
      },
      "FieldFormatSigningTimestampInput": {
        "type": "string",
        "description": "Allowed `format` values for signing timestamp fields of kind `tms`.\nThis includes all date-only formats plus date-time formats with timezone.\n",
        "enum": [
          "",
          "M/D/YY",
          "MM/DD/YY",
          "MM/DD/YYYY",
          "YYYY-MM-DD",
          "D/M/YY",
          "D/M/YYYY",
          "DD/MM/YYYY",
          "MMM D, YYYY",
          "MMMM D, YYYY",
          "MMMM Do, YYYY",
          "D MMM YYYY",
          "D MMMM YYYY",
          "M/D/YY, h:mm a ZZZ",
          "MM/DD/YYYY, HH:mm ZZZ",
          "D/M/YY, h:mm a ZZZ",
          "DD/MM/YYYY, HH:mm ZZZ",
          "MMM D, YYYY, h:mm a ZZZ",
          "D MMM YYYY, h:mm a ZZZ",
          "D MMM YYYY, HH:mm ZZZ",
          "YYYY-MM-DD HH:mm:ss ZZZ"
        ]
      },
      "DocumentField": {
        "type": "object",
        "required": [
          "kind",
          "x",
          "y",
          "w",
          "h"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "description": "The kind of field. Each field type serves a specific purpose:\n\n- `att` - **Attachment**: Allows signers to upload files (documents, images, etc.)\n- `cbg` - **Checkbox Group**: A group of related checkboxes where multiple options can be selected\n- `chk` - **Checkbox**: A single checkbox that can be checked or unchecked\n- `dat` - **Date**: A date picker field for entering dates\n- `ini` - **Initials**: A field for capturing the signer's initials\n- `inp` - **Text**: A single-line text input field for short text entries\n- `sel` - **Dropdown**: A dropdown/select field with predefined options\n- `sig` - **Signature**: A field for capturing the signer's electronic signature\n- `tms` - **Signing Date**: Automatically populated with the full timestamp when the document was signed\n- `txt` - **Multiline Text**: A multi-line text area for longer text entries\n",
            "enum": [
              "att",
              "cbg",
              "chk",
              "dat",
              "ini",
              "inp",
              "sel",
              "sig",
              "tms",
              "txt"
            ]
          },
          "label": {
            "type": "string",
            "description": "A label for the field which will be shown to the Signer(s)"
          },
          "required": {
            "type": "boolean",
            "default": false,
            "description": "If true, the final editor submitting the document cannot leave the field blank. For example, if `editors` is set to ['-assistant', '-manager'], the final editor must still enter a value if `required` is true\n"
          },
          "page": {
            "type": "integer",
            "description": "The page number on which to place this field. For attachment fields, page number is ignored and attachments are gathered in a separate step of the review process.\n"
          },
          "x": {
            "type": "number",
            "description": "The x coordinate of the lower left corner of the field"
          },
          "y": {
            "type": "number",
            "description": "The y coordinate of the lower left corner of the field"
          },
          "w": {
            "type": "number",
            "description": "The width of the field"
          },
          "h": {
            "type": "number",
            "description": "The height of the field"
          },
          "v_pattern": {
            "type": "string",
            "description": "A known, common pattern to validate a value against",
            "enum": [
              "email",
              "bank_routing",
              "bank_account",
              "letters",
              "numbers",
              "phone",
              "ssn",
              "zip_code"
            ]
          },
          "v_min": {
            "type": "number",
            "description": "For string fields, the minimum number of characters allowed. For number fields the minimum allowed value. For attachment fields, the minimum required file size in KB.\n"
          },
          "v_max": {
            "type": "number",
            "description": "For string fields, the maximum number of characters allowed. For number fields the maximum allowed value. For attachment fields, the minimum required file size in KB.\n"
          },
          "v_attachment_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "jpg",
                "jpeg",
                "png",
                "gif",
                "svg",
                "pdf",
                "doc",
                "docx",
                "ppt",
                "pptx",
                "xls",
                "xlsx",
                "rtf",
                "txt"
              ]
            }
          },
          "format": {
            "description": "Optional display format string for date-oriented fields.\n\nSupported kinds and accepted values:\n- `dat` (Date): use values from `FieldFormatDateInput`\n- `tms` (Signing Timestamp): use values from `FieldFormatSigningTimestampInput`\n\nFor all other field kinds, `format` is not supported and will return a validation error.\n",
            "oneOf": [
              {
                "$ref": "#/components/schemas/FieldFormatDateInput"
              },
              {
                "$ref": "#/components/schemas/FieldFormatSigningTimestampInput"
              }
            ]
          }
        }
      },
      "DocumentRequestField": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DocumentField"
          },
          {
            "type": "object",
            "properties": {
              "initial_value": {
                "description": "An initial value for the field. If editors is empty, then this field effectively becomes a read-only field that cannot be edited by any Signers. Note, validation (v_regex, v_min, v_max) is not applied to this value.\nAttachment type fields do not support initial_value.\nFor date fields, the date must be provided as a string in the format YYYY-MM-DD, like \"2019-09-20\".\n",
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "boolean"
                  },
                  {
                    "type": "number"
                  }
                ]
              },
              "editors": {
                "type": "array",
                "default": [],
[...]
