{
  "openapi": "3.0.3",
  "info": {
    "title": "MeritHub Virtual Classroom API",
    "description": "API for managing users and virtual classes in MeritHub. User management endpoints use serviceaccount1.meritgraph.com, while class management endpoints use class1.meritgraph.com.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://merithub.com/api"
  },
  "servers": [
    {
      "url": "https://serviceaccount1.meritgraph.com/v1",
      "description": "Primary server (user management). Class management endpoints use https://class1.meritgraph.com/v1 instead."
    }
  ],
  "paths": {
    "/{CLIENT_ID}/api/token": {
      "post": {
        "operationId": "getAccessToken",
        "summary": "Get access token",
        "description": "Obtain a Bearer JWT access token for authenticating subsequent API calls. Server: serviceaccount1.meritgraph.com",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{CLIENT_ID}/users": {
      "post": {
        "operationId": "addUser",
        "summary": "Add user to organization",
        "description": "Create a new user within the organization. Server: serviceaccount1.meritgraph.com",
        "tags": [
          "User Management"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{CLIENT_ID}/users/{USER_ID}": {
      "put": {
        "operationId": "updateUser",
        "summary": "Update user info",
        "description": "Update an existing user's information within the organization. Server: serviceaccount1.meritgraph.com",
        "tags": [
          "User Management"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Remove user",
        "description": "Remove a user from the organization. Server: serviceaccount1.meritgraph.com",
        "tags": [
          "User Management"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "User removed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{CLIENT_ID}/{INSTRUCTOR_ID}": {
      "post": {
        "operationId": "scheduleClass",
        "summary": "Schedule a new class",
        "description": "Schedule a new virtual class (oneTime or perma) for the given instructor. Server: class1.meritgraph.com",
        "tags": [
          "Class Management"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "name": "INSTRUCTOR_ID",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the instructor who will lead the class.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Class scheduled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{CLIENT_ID}/{CLASS_ID}": {
      "put": {
        "operationId": "editClass",
        "summary": "Edit class info",
        "description": "Update details of an existing class. Server: class1.meritgraph.com",
        "tags": [
          "Class Management"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/ClassId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Class updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteClass",
        "summary": "Delete class",
        "description": "Delete an existing class. Server: class1.meritgraph.com",
        "tags": [
          "Class Management"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/ClassId"
          }
        ],
        "responses": {
          "200": {
            "description": "Class deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{CLIENT_ID}/{CLASS_ID}/users": {
      "post": {
        "operationId": "addUsersToClass",
        "summary": "Add users to class",
        "description": "Add one or more users to an existing class. Server: class1.meritgraph.com",
        "tags": [
          "Class Management"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/ClassId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassUsersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Users added to class successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{CLIENT_ID}/{CLASS_ID}/removeuser": {
      "post": {
        "operationId": "removeUsersFromClass",
        "summary": "Remove users from class",
        "description": "Remove one or more users from an existing class. Server: class1.meritgraph.com",
        "tags": [
          "Class Management"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/ClassId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassUsersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Users removed from class successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained via the POST /{CLIENT_ID}/api/token endpoint."
      }
    },
    "parameters": {
      "ClientId": {
        "name": "CLIENT_ID",
        "in": "path",
        "required": true,
        "description": "Unique identifier of the client organization.",
        "schema": {
          "type": "string"
        }
      },
      "UserId": {
        "name": "USER_ID",
        "in": "path",
        "required": true,
        "description": "Unique identifier of the user.",
        "schema": {
          "type": "string"
        }
      },
      "ClassId": {
        "name": "CLASS_ID",
        "in": "path",
        "required": true,
        "description": "Unique identifier of the class.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "TokenRequest": {
        "type": "object",
        "required": [
          "jwt"
        ],
        "properties": {
          "jwt": {
            "type": "string",
            "description": "Signed JWT used to authenticate and obtain an access token."
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "Bearer access token for subsequent API calls."
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token lifetime in seconds."
          }
        }
      },
      "UserCreate": {
        "type": "object",
        "required": [
          "name",
          "email",
          "role"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the user."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the user."
          },
          "role": {
            "type": "string",
            "enum": [
              "instructor",
              "student"
            ],
            "description": "Role of the user within the organization."
          }
        }
      },
      "UserUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Updated full name of the user."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Updated email address of the user."
          },
          "role": {
            "type": "string",
            "enum": [
              "instructor",
              "student"
            ],
            "description": "Updated role of the user."
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "description": "Unique identifier of the user."
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "ClassCreate": {
        "type": "object",
        "required": [
          "title",
          "classType"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the class."
          },
          "classType": {
            "type": "string",
            "enum": [
              "oneTime",
              "perma"
            ],
            "description": "Type of the class. oneTime for a single session, perma for a permanent/recurring class."
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled start time of the class (ISO 8601)."
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled end time of the class (ISO 8601)."
          },
          "description": {
            "type": "string",
            "description": "Description of the class."
          }
        }
      },
      "ClassUpdate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Updated title of the class."
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "Updated start time of the class (ISO 8601)."
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "Updated end time of the class (ISO 8601)."
          },
          "description": {
            "type": "string",
            "description": "Updated description of the class."
          }
        }
      },
      "ClassResponse": {
        "type": "object",
        "properties": {
          "classId": {
            "type": "string",
            "description": "Unique identifier of the class."
          },
          "title": {
            "type": "string"
          },
          "classType": {
            "type": "string"
          },
          "instructorId": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "ClassUsersRequest": {
        "type": "object",
        "required": [
          "users"
        ],
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClassUserEntry"
            },
            "description": "List of users to add or remove."
          }
        }
      },
      "ClassUserEntry": {
        "type": "object",
        "required": [
          "userId",
          "role"
        ],
        "properties": {
          "userId": {
            "type": "string",
            "description": "Unique identifier of the user."
          },
          "role": {
            "type": "string",
            "enum": [
              "instructor",
              "student"
            ],
            "description": "Role of the user in the class."
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable success message."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code or short identifier."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error description."
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request. The request body or parameters are invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized. The access token is missing, invalid, or expired.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}