{
  "openapi": "3.0.3",
  "info": {
    "title": "Balena Cloud API",
    "version": "7.0.0",
    "description": "The balena API provides access to resources associated with your account including fleets, devices, releases, environment variables, and more. It follows OData conventions for querying ($filter, $select, $expand, $orderby, $top, $skip). Authentication is via session tokens or named API keys passed as Bearer tokens.",
    "x-jentic-source-url": "https://docs.balena.io/reference/api/overview/"
  },
  "servers": [
    {
      "url": "https://api.balena-cloud.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Session token or named API key"
      }
    },
    "parameters": {
      "odataFilter": {
        "name": "$filter",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "OData filter expression"
      },
      "odataSelect": {
        "name": "$select",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated fields to return"
      },
      "odataExpand": {
        "name": "$expand",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Expand related resources"
      },
      "odataOrderby": {
        "name": "$orderby",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Field to order results by"
      },
      "odataTop": {
        "name": "$top",
        "in": "query",
        "schema": {
          "type": "integer"
        },
        "description": "Maximum number of results"
      },
      "odataSkip": {
        "name": "$skip",
        "in": "query",
        "schema": {
          "type": "integer"
        },
        "description": "Number of results to skip"
      }
    },
    "schemas": {
      "Application": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "uuid": {
            "type": "string"
          },
          "organization": {
            "type": "integer"
          },
          "actor": {
            "type": "integer"
          },
          "app_name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "should_be_running__release": {
            "type": "integer"
          },
          "application_type": {
            "type": "integer"
          },
          "is_for__device_type": {
            "type": "integer"
          },
          "should_track_latest_release": {
            "type": "boolean"
          },
          "is_accessible_by_support_until__date": {
            "type": "string"
          },
          "is_public": {
            "type": "boolean"
          },
          "is_host": {
            "type": "boolean"
          },
          "is_archived": {
            "type": "boolean"
          },
          "is_discoverable": {
            "type": "boolean"
          },
          "is_stored_at__repository_url": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "Device": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "belongs_to__application": {
            "type": "integer"
          },
          "belongs_to__user": {
            "type": "integer"
          },
          "actor": {
            "type": "integer"
          },
          "device_name": {
            "type": "string"
          },
          "is_of__device_type": {
            "type": "integer"
          },
          "uuid": {
            "type": "string"
          },
          "is_running__release": {
            "type": "integer"
          },
          "is_pinned_on__release": {
            "type": "integer"
          },
          "should_be_running__release": {
            "type": "integer"
          },
          "note": {
            "type": "string"
          },
          "local_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "overall_status": {
            "type": "string"
          },
          "is_online": {
            "type": "boolean"
          },
          "last_connectivity_event": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "mac_address": {
            "type": "string"
          },
          "public_address": {
            "type": "string"
          },
          "os_version": {
            "type": "string"
          },
          "supervisor_version": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "memory_usage": {
            "type": "integer"
          },
          "memory_total": {
            "type": "integer"
          },
          "cpu_usage": {
            "type": "integer"
          },
          "cpu_temp": {
            "type": "integer"
          },
          "storage_usage": {
            "type": "integer"
          },
          "storage_total": {
            "type": "integer"
          }
        }
      },
      "Release": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "belongs_to__application": {
            "type": "integer"
          },
          "commit": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "composition": {
            "type": "object"
          },
          "is_final": {
            "type": "boolean"
          },
          "semver": {
            "type": "string"
          },
          "revision": {
            "type": "integer"
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "handle": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "DeviceType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "is_private": {
            "type": "boolean"
          }
        }
      },
      "EnvironmentVariable": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "tag_key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "service_name": {
            "type": "string"
          },
          "application": {
            "type": "integer"
          }
        }
      },
      "ODataResponse": {
        "type": "object",
        "properties": {
          "d": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Fleet",
      "description": "Application/fleet management"
    },
    {
      "name": "Device",
      "description": "Device management"
    },
    {
      "name": "Release",
      "description": "Release management"
    },
    {
      "name": "Organization",
      "description": "Organization management"
    },
    {
      "name": "Device Type",
      "description": "Device type management"
    },
    {
      "name": "Environment Variables",
      "description": "Environment variable management"
    },
    {
      "name": "Tags",
      "description": "Tag management"
    },
    {
      "name": "API Keys",
      "description": "API key management"
    },
    {
      "name": "Service",
      "description": "Service management"
    },
    {
      "name": "User",
      "description": "User management"
    },
    {
      "name": "OS",
      "description": "OS images and versions"
    }
  ],
  "paths": {
    "/v7/application": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "operationId": "listFleets",
        "summary": "Get all fleets",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "List of fleets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Fleet"
        ],
        "operationId": "createFleet",
        "summary": "Create fleet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        }
      }
    },
    "/v7/application({ID})": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "operationId": "getFleetById",
        "summary": "Get fleet by ID",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "Fleet details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Fleet"
        ],
        "operationId": "updateFleet",
        "summary": "Update fleet",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Fleet"
        ],
        "operationId": "deleteFleet",
        "summary": "Delete fleet",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v7/application(slug='{SLUG}')": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "operationId": "getFleetBySlug",
        "summary": "Get fleet by SLUG",
        "parameters": [
          {
            "name": "SLUG",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "Fleet details"
          }
        }
      },
      "patch": {
        "tags": [
          "Fleet"
        ],
        "operationId": "updateFleetBySlug",
        "summary": "Update fleet by SLUG",
        "parameters": [
          {
            "name": "SLUG",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/v7/device": {
      "get": {
        "tags": [
          "Device"
        ],
        "operationId": "listDevices",
        "summary": "Get all devices",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "List of devices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Device"
        ],
        "operationId": "createDevice",
        "summary": "Create device",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Device"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          }
        }
      }
    },
    "/v7/device({ID})": {
      "get": {
        "tags": [
          "Device"
        ],
        "operationId": "getDeviceById",
        "summary": "Get device by ID",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "Device details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Device"
        ],
        "operationId": "updateDevice",
        "summary": "Update device",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Device"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Device"
        ],
        "operationId": "deleteDevice",
        "summary": "Delete device",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v7/device(uuid='{UUID}')": {
      "get": {
        "tags": [
          "Device"
        ],
        "operationId": "getDeviceByUuid",
        "summary": "Get device by UUID",
        "parameters": [
          {
            "name": "UUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "Device details"
          }
        }
      },
      "patch": {
        "tags": [
          "Device"
        ],
        "operationId": "updateDeviceByUuid",
        "summary": "Update device by UUID",
        "parameters": [
          {
            "name": "UUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Device"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/v7/release": {
      "get": {
        "tags": [
          "Release"
        ],
        "operationId": "listReleases",
        "summary": "Get all releases",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "List of releases",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Release"
        ],
        "operationId": "createRelease",
        "summary": "Create release",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Release"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Release"
                }
              }
            }
          }
        }
      }
    },
    "/v7/release({ID})": {
      "get": {
        "tags": [
          "Release"
        ],
        "operationId": "getReleaseById",
        "summary": "Get release by ID",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "Release details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Release"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Release"
        ],
        "operationId": "updateRelease",
        "summary": "Update release",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Release"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Release"
        ],
        "operationId": "deleteRelease",
        "summary": "Delete release",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v7/organization": {
      "get": {
        "tags": [
          "Organization"
        ],
        "operationId": "listOrganizations",
        "summary": "Get all organizations",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Organization"
        ],
        "operationId": "createOrganization",
        "summary": "Create organization",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Organization"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          }
        }
      }
    },
    "/v7/organization({ID})": {
      "get": {
        "tags": [
          "Organization"
        ],
        "operationId": "getOrganizationById",
        "summary": "Get organization by ID",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Organization"
        ],
        "operationId": "updateOrganization",
        "summary": "Update organization",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Organization"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Organization"
        ],
        "operationId": "deleteOrganization",
        "summary": "Delete organization",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v7/device_type": {
      "get": {
        "tags": [
          "Device Type"
        ],
        "operationId": "listDeviceTypes",
        "summary": "Get all device types",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "Device type list"
          }
        }
      }
    },
    "/v7/device_type({ID})": {
      "get": {
        "tags": [
          "Device Type"
        ],
        "operationId": "getDeviceTypeById",
        "summary": "Get device type by ID",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device type details"
          }
        }
      }
    },
    "/v7/device_environment_variable": {
      "get": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "listDeviceEnvVars",
        "summary": "Get all Device Environment Variables",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "Device Environment Variable list"
          }
        }
      },
      "post": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "createDeviceEnvVar",
        "summary": "Create Device Environment Variable",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentVariable"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/v7/device_environment_variable({ID})": {
      "get": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "getDeviceEnvVarById",
        "summary": "Get Device Environment Variable by ID",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device Environment Variable details"
          }
        }
      },
      "patch": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "updateDeviceEnvVar",
        "summary": "Update Device Environment Variable",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentVariable"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "deleteDeviceEnvVar",
        "summary": "Delete Device Environment Variable",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v7/application_environment_variable": {
      "get": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "listFleetEnvVars",
        "summary": "Get all Fleet Environment Variables",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "Fleet Environment Variable list"
          }
        }
      },
      "post": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "createFleetEnvVar",
        "summary": "Create Fleet Environment Variable",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentVariable"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/v7/application_environment_variable({ID})": {
      "get": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "getFleetEnvVarById",
        "summary": "Get Fleet Environment Variable by ID",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fleet Environment Variable details"
          }
        }
      },
      "patch": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "updateFleetEnvVar",
        "summary": "Update Fleet Environment Variable",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentVariable"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "deleteFleetEnvVar",
        "summary": "Delete Fleet Environment Variable",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v7/device_config_variable": {
      "get": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "listDeviceConfigVars",
        "summary": "Get all Device Config Variables",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "Device Config Variable list"
          }
        }
      },
      "post": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "createDeviceConfigVar",
        "summary": "Create Device Config Variable",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentVariable"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/v7/device_config_variable({ID})": {
      "get": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "getDeviceConfigVarById",
        "summary": "Get Device Config Variable by ID",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device Config Variable details"
          }
        }
      },
      "patch": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "updateDeviceConfigVar",
        "summary": "Update Device Config Variable",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentVariable"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "deleteDeviceConfigVar",
        "summary": "Delete Device Config Variable",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v7/application_config_variable": {
      "get": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "listFleetConfigVars",
        "summary": "Get all Fleet Config Variables",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "Fleet Config Variable list"
          }
        }
      },
      "post": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "createFleetConfigVar",
        "summary": "Create Fleet Config Variable",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentVariable"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/v7/application_config_variable({ID})": {
      "get": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "getFleetConfigVarById",
        "summary": "Get Fleet Config Variable by ID",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fleet Config Variable details"
          }
        }
      },
      "patch": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "updateFleetConfigVar",
        "summary": "Update Fleet Config Variable",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentVariable"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "deleteFleetConfigVar",
        "summary": "Delete Fleet Config Variable",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v7/device_service_environment_variable": {
      "get": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "listDeviceServiceVars",
        "summary": "Get all Device Service Variables",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "Device Service Variable list"
          }
        }
      },
      "post": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "createDeviceServiceVar",
        "summary": "Create Device Service Variable",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentVariable"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/v7/device_service_environment_variable({ID})": {
      "get": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "getDeviceServiceVarById",
        "summary": "Get Device Service Variable by ID",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device Service Variable details"
          }
        }
      },
      "patch": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "updateDeviceServiceVar",
        "summary": "Update Device Service Variable",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentVariable"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "deleteDeviceServiceVar",
        "summary": "Delete Device Service Variable",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v7/service_environment_variable": {
      "get": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "listFleetServiceVars",
        "summary": "Get all Fleet Service Variables",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "Fleet Service Variable list"
          }
        }
      },
      "post": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "createFleetServiceVar",
        "summary": "Create Fleet Service Variable",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentVariable"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/v7/service_environment_variable({ID})": {
      "get": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "getFleetServiceVarById",
        "summary": "Get Fleet Service Variable by ID",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fleet Service Variable details"
          }
        }
      },
      "patch": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "updateFleetServiceVar",
        "summary": "Update Fleet Service Variable",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentVariable"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Environment Variables"
        ],
        "operationId": "deleteFleetServiceVar",
        "summary": "Delete Fleet Service Variable",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v7/device_tag": {
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "listDeviceTags",
        "summary": "Get all Device Tags",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "Device Tag list"
          }
        }
      },
      "post": {
        "tags": [
          "Tags"
        ],
        "operationId": "createDeviceTag",
        "summary": "Create Device Tag",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/v7/device_tag({ID})": {
      "patch": {
        "tags": [
          "Tags"
        ],
        "operationId": "updateDeviceTag",
        "summary": "Update Device Tag",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Tags"
        ],
        "operationId": "deleteDeviceTag",
        "summary": "Delete Device Tag",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v7/application_tag": {
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "listFleetTags",
        "summary": "Get all Fleet Tags",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "Fleet Tag list"
          }
        }
      },
      "post": {
        "tags": [
          "Tags"
        ],
        "operationId": "createFleetTag",
        "summary": "Create Fleet Tag",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/v7/application_tag({ID})": {
      "patch": {
        "tags": [
          "Tags"
        ],
        "operationId": "updateFleetTag",
        "summary": "Update Fleet Tag",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Tags"
        ],
        "operationId": "deleteFleetTag",
        "summary": "Delete Fleet Tag",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v7/release_tag": {
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "listReleaseTags",
        "summary": "Get all Release Tags",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "Release Tag list"
          }
        }
      },
      "post": {
        "tags": [
          "Tags"
        ],
        "operationId": "createReleaseTag",
        "summary": "Create Release Tag",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/v7/release_tag({ID})": {
      "patch": {
        "tags": [
          "Tags"
        ],
        "operationId": "updateReleaseTag",
        "summary": "Update Release Tag",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Tags"
        ],
        "operationId": "deleteReleaseTag",
        "summary": "Delete Release Tag",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v7/api_key": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "operationId": "listApiKeys",
        "summary": "Get all API keys",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "API key list"
          }
        }
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "operationId": "createApiKey",
        "summary": "Create a named API key",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKey"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/v7/service": {
      "get": {
        "tags": [
          "Service"
        ],
        "operationId": "listServices",
        "summary": "Get all services",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "Service list"
          }
        }
      }
    },
    "/v7/service({ID})": {
      "get": {
        "tags": [
          "Service"
        ],
        "operationId": "getServiceById",
        "summary": "Get service by ID",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service details"
          }
        }
      }
    },
    "/v7/service_install": {
      "get": {
        "tags": [
          "Service"
        ],
        "operationId": "listServiceInstalls",
        "summary": "Get all service installs",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "Service install list"
          }
        }
      }
    },
    "/v7/user": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "listUsers",
        "summary": "Get all users",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "User list"
          }
        }
      }
    },
    "/user/v1/whoami": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "whoAmI",
        "summary": "Get current user info",
        "responses": {
          "200": {
            "description": "Current user details"
          }
        }
      }
    },
    "/download": {
      "get": {
        "tags": [
          "OS"
        ],
        "operationId": "downloadBalenaOS",
        "summary": "Download balenaOS image",
        "parameters": [
          {
            "name": "deviceType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                ".gz",
                ".zip"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OS image download"
          }
        }
      }
    },
    "/v7/organization_membership": {
      "get": {
        "tags": [
          "Organization"
        ],
        "operationId": "listOrgMemberships",
        "summary": "Get organization memberships",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "Membership list"
          }
        }
      }
    },
    "/v7/organization_membership({ID})": {
      "patch": {
        "tags": [
          "Organization"
        ],
        "operationId": "updateOrgMembership",
        "summary": "Update org membership role",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Organization"
        ],
        "operationId": "deleteOrgMembership",
        "summary": "Remove org membership",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v7/user__has__public_key": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "listSshKeys",
        "summary": "Get all SSH keys",
        "parameters": [
          {
            "$ref": "#/components/parameters/odataFilter"
          },
          {
            "$ref": "#/components/parameters/odataSelect"
          },
          {
            "$ref": "#/components/parameters/odataExpand"
          },
          {
            "$ref": "#/components/parameters/odataOrderby"
          },
          {
            "$ref": "#/components/parameters/odataTop"
          },
          {
            "$ref": "#/components/parameters/odataSkip"
          }
        ],
        "responses": {
          "200": {
            "description": "SSH key list"
          }
        }
      },
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "addSshKey",
        "summary": "Add an SSH key",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "public_key": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/v7/user__has__public_key({ID})": {
      "delete": {
        "tags": [
          "User"
        ],
        "operationId": "deleteSshKey",
        "summary": "Delete an SSH key",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    }
  }
}