{
  "openapi": "3.0.3",
  "info": {
    "title": "Placetel API",
    "version": "2.0.0",
    "description": "---\n# Introduction\n\n<h2>Create custom integrations or automate your workflows with the Placetel REST API.</h2>\n\nTo make a request to our API, you will need to specify an HTTP **method** and a **path**.\nAdditionally, you can specify request **headers**, **query** and **body** parameters.\nThe API will return the response status code, response headers, and dependening on status and resource a response body.\n\nThe documentation for every operation displays example requests and responses to provide you the best understanding of our API.\n\n# Pagination\n\nBe aware, that requests which return multiple resources will be paginated by default.\nYou can specify further pages with the `page` parameter.\nFor some resources, you can also set a custom page size (usually up to 100) with the `per_page` parameter.\nNote that for technical reasons not all endpoints respect the `per_page` parameter.\n\n# Rate Limiting\n\nThe API uses a token bucket algorithm to enforce rate limits. Each response includes headers to help you manage your request rate:\n\n| Header | Description |\n|---|---|\n| `RateLimit-Remaining` | The number of requests you can still make immediately. |\n| `RateLimit-Reset` | Seconds until the next request token becomes available. `0` means a token is available now. |\n\nWhen you exceed the rate limit, the API responds with HTTP **429 Too Many Requests** and an additional header:\n\n| Header | Description |\n|---|---|\n| `Retry-After` | Seconds to wait before retrying. |\n\n**How it works:** You start with a burst allowance that lets you make several requests in quick succession.\nOnce the burst is used up, requests are allowed at a steady rate. If you stop making requests, the allowance\ngradually refills back to the burst maximum.\n\nTo avoid hitting the limit, monitor the `RateLimit-Remaining` header and slow down as it approaches `0`.\n",
    "x-jentic-source-url": "https://api.placetel.de/v2/docs/#placetel-api"
  },
  "servers": [
    {
      "url": "https://api.placetel.de/v2"
    }
  ],
  "paths": {
    "/call_center_agents": {
      "get": {
        "summary": "Fetch all call center agents",
        "description": "Provides a list of all call center agents",
        "operationId": "getCallCenterAgents",
        "tags": [
          "Call Center"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch all call center agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CallCenterAgent"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an agent",
        "description": "Create a new agent",
        "operationId": "postCallCenterAgents",
        "tags": [
          "Call Center"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCallCenterAgents"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create an agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallCenterAgent"
                }
              }
            }
          }
        }
      }
    },
    "/call_center_agents/{id}": {
      "put": {
        "summary": "Update an agent",
        "description": "Update an agent by its ID",
        "operationId": "putCallCenterAgentsId",
        "tags": [
          "Call Center"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Sip user ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putCallCenterAgentsId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update an agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallCenterAgent"
                }
              }
            }
          }
        }
      }
    },
    "/call_center_calls": {
      "get": {
        "summary": "Fetch all call center calls",
        "description": "Provides a list of all call center calls",
        "operationId": "getCallCenterCalls",
        "tags": [
          "Call Center"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "queue_ids",
            "in": "query",
            "required": false,
            "description": "[1]",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch all call center calls",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CallCenterCall"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/call_center_calls/{id}/{pick}": {
      "post": {
        "summary": "Pick a call center call",
        "description": "Picks call from a number to a given agent",
        "operationId": "postCallCenterCallsIdPick",
        "tags": [
          "Call Center"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Call ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pick",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCallCenterCallsIdPick"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pick a call center call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallCenterCall"
                }
              }
            }
          }
        }
      }
    },
    "/call_center_queues": {
      "get": {
        "summary": "Fetch all call center queues",
        "description": "Provides a list of all call center queues",
        "operationId": "getCallCenterQueues",
        "tags": [
          "Call Center"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch all call center queues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CallCenterQueue"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a queue",
        "description": "Create a queue",
        "operationId": "postCallCenterQueues",
        "tags": [
          "Call Center"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCallCenterQueues"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a queue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallCenterQueue"
                }
              }
            }
          }
        }
      }
    },
    "/call_center_queues/{id}": {
      "put": {
        "summary": "Update a queue",
        "description": "Update a queue",
        "operationId": "putCallCenterQueuesId",
        "tags": [
          "Call Center"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Queue ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putCallCenterQueuesId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a queue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallCenterQueue"
                }
              }
            }
          }
        }
      }
    },
    "/call_detail_records": {
      "get": {
        "summary": "Get call detail records",
        "description": "Provides a list of call detail records",
        "operationId": "getCallDetailRecords",
        "tags": [
          "Call detail records"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 0,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get call detail records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CallDetailRecord"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/calls": {
      "get": {
        "summary": "Fetch all incoming calls",
        "description": "Provides a list of all calls on a specific day (`date`) or today.",
        "operationId": "getCalls",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "filter[date]",
            "in": "query",
            "required": false,
            "description": "YYYY-MM-DD, defaults to today.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[from_number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[to_number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[type]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "voicemail",
                "missed",
                "blocked",
                "accepted",
                "voicemail,missed",
                "missed,blocked,accepted"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch all incoming calls",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Call"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Initiate a call",
        "description": "Initiates a call",
        "operationId": "postCalls",
        "tags": [
          "Calls"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCalls"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Initiate a call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          }
        }
      }
    },
    "/calls/{id}": {
      "get": {
        "summary": "Retrieve a call",
        "description": "Fetches a call by its ID",
        "operationId": "getCallsId",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Call ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a call",
        "description": "Delete a call by its ID",
        "operationId": "deleteCallsId",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Call ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a call"
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "summary": "Get all contacts",
        "description": "Provides a list of all contacts",
        "operationId": "getContacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "filter[speeddial]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter[first_name]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[last_name]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[company]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[email]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[email_work]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[phone_work]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[mobile_work]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[phone]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[mobile]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[blocked]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "enum": [
                true,
                false
              ],
              "default": false
            }
          },
          {
            "name": "filter[updated_at_gte]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[updated_at_lte]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "search[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a contact",
        "description": "Creates a contact",
        "operationId": "postContacts",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postContacts"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a contact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{id}": {
      "get": {
        "summary": "Retrieve a contact",
        "description": "Fetches a contact by its ID",
        "operationId": "getContactsId",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of a contact",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a contact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a contact",
        "description": "Updates a contact for a given ID",
        "operationId": "putContactsId",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Contact ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putContactsId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a contact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Deletes a contact",
        "description": "Deletes a contact by its ID",
        "operationId": "deleteContactsId",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Contact ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deletes a contact"
          }
        }
      }
    },
    "/cti/{mac}/answer": {
      "post": {
        "summary": "Answer",
        "description": "This method allows device to answer a ringing call with given call_id.",
        "operationId": "postCtiMacAnswer",
        "tags": [
          "CTI"
        ],
        "parameters": [
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCtiMacAnswer"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Answer"
          }
        }
      }
    },
    "/cti/{mac}/blind_transfer": {
      "post": {
        "summary": "Blind transfer",
        "description": "This method allows to do a blind tranfser on the call specified by the call_id.",
        "operationId": "postCtiMacBlindTransfer",
        "tags": [
          "CTI"
        ],
        "parameters": [
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCtiMacBlindTransfer"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Blind transfer"
          }
        }
      }
    },
    "/cti/{mac}/complete_conference": {
      "post": {
        "summary": "Complete conference",
        "description": "This method allows to complete conference on the call specified by the call_id.",
        "operationId": "postCtiMacCompleteConference",
        "tags": [
          "CTI"
        ],
        "parameters": [
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCtiMacCompleteConference"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Complete conference"
          }
        }
      }
    },
    "/cti/{mac}/complete_transfer": {
      "post": {
        "summary": "Complete transfer",
        "description": "This method allows to initiate the tranfser on the call specified by the call_id.",
        "operationId": "postCtiMacCompleteTransfer",
        "tags": [
          "CTI"
        ],
        "parameters": [
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCtiMacCompleteTransfer"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Complete transfer"
          }
        }
      }
    },
    "/cti/{mac}/decline": {
      "post": {
        "summary": "Decline",
        "description": "This method allows device to Decline the call specified by the call_id. ",
        "operationId": "postCtiMacDecline",
        "tags": [
          "CTI"
        ],
        "parameters": [
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCtiMacDecline"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Decline"
          }
        }
      }
    },
    "/cti/{mac}/dial": {
      "post": {
        "summary": "Dial",
        "description": "This method initiates a new call.",
        "operationId": "postCtiMacDial",
        "tags": [
          "CTI"
        ],
        "parameters": [
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCtiMacDial"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dial"
          }
        }
      }
    },
    "/cti/{mac}/dial_digit": {
      "post": {
        "summary": "Dial digit",
        "description": "This method initiates a new call.",
        "operationId": "postCtiMacDialDigit",
        "tags": [
          "CTI"
        ],
        "parameters": [
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCtiMacDialDigit"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dial digit"
          }
        }
      }
    },
    "/cti/{mac}/hangup": {
      "post": {
        "summary": "Hangup",
        "description": "This method allows device to end the call specified by the call_id.",
        "operationId": "postCtiMacHangup",
        "tags": [
          "CTI"
        ],
        "parameters": [
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCtiMacHangup"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Hangup"
          }
        }
      }
    },
    "/cti/{mac}/hold": {
      "post": {
        "summary": "Hold",
        "description": "This method allows device to hold the call specified by the call_id.",
        "operationId": "postCtiMacHold",
        "tags": [
          "CTI"
        ],
        "parameters": [
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCtiMacHold"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Hold"
          }
        }
      }
    },
    "/cti/{mac}/resume": {
      "post": {
        "summary": "Resume",
        "description": "This method allows device to resume the call specified by the call_id.",
        "operationId": "postCtiMacResume",
        "tags": [
          "CTI"
        ],
        "parameters": [
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCtiMacResume"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resume"
          }
        }
      }
    },
    "/cti/{mac}/start_conference": {
      "post": {
        "summary": "Start conference",
        "description": "This method allows to initiate conference on the call specified by the call_id.",
        "operationId": "postCtiMacStartConference",
        "tags": [
          "CTI"
        ],
        "parameters": [
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCtiMacStartConference"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Start conference"
          }
        }
      }
    },
    "/cti/{mac}/start_transfer": {
      "post": {
        "summary": "Start transfer",
        "description": "This method allows to initiate the tranfser on the call specified by the call_id.",
        "operationId": "postCtiMacStartTransfer",
        "tags": [
          "CTI"
        ],
        "parameters": [
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCtiMacStartTransfer"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Start transfer"
          }
        }
      }
    },
    "/cti/{mac}/send_dtmf_digits": {
      "post": {
        "summary": "Send DTMF Digits",
        "description": "This method allows to sendDTMFDigits on a current active call.",
        "operationId": "postCtiMacSendDtmfDigits",
        "tags": [
          "CTI"
        ],
        "parameters": [
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCtiMacSendDtmfDigits"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Send DTMF Digits"
          }
        }
      }
    },
    "/cti/{mac}": {
      "get": {
        "summary": "Get config params",
        "description": "Get config params",
        "operationId": "getCtiMac",
        "tags": [
          "CTI"
        ],
        "parameters": [
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "params",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get config params"
          }
        }
      },
      "put": {
        "summary": "Set config params",
        "description": "Set config params",
        "operationId": "putCtiMac",
        "tags": [
          "CTI"
        ],
        "parameters": [
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putCtiMac"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Set config params"
          }
        }
      }
    },
    "/devices": {
      "get": {
        "summary": "Fetch all devices",
        "description": "Fetch a list of all provisionable devices",
        "operationId": "getDevices",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch all devices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Device"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/faxes": {
      "get": {
        "summary": "Fetch in- and outbound faxes",
        "description": "Provides a list of all faxes",
        "operationId": "getFaxes",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "filter[type]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "inbound,outbound",
                "inbound",
                "outbound"
              ],
              "default": "inbound,outbound"
            }
          },
          {
            "name": "filter[from_number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[to_number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch in- and outbound faxes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fax"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create outbound fax",
        "description": "Sends faxes via API call",
        "operationId": "postFaxes",
        "tags": [
          "Faxes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postFaxes"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create outbound fax",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fax"
                }
              }
            }
          }
        }
      }
    },
    "/faxes/{id}": {
      "get": {
        "summary": "Fetch specific fax",
        "description": "Fetch in- or outbound fax",
        "operationId": "getFaxesId",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Fax ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch specific fax",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fax"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a fax",
        "description": "Delete a fax by its ID",
        "operationId": "deleteFaxesId",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Fax ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a fax"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "summary": "Fetch all groups",
        "description": "Fetch a list of all groups",
        "operationId": "getGroups",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "filter[name]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[description]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[type]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ring_all",
                "monitoring",
                "hunt"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch all groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a group",
        "description": "Create a new group",
        "operationId": "postGroups",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postGroups"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{id}": {
      "get": {
        "summary": "Fetch a group",
        "description": "Fetch a groups by its ID",
        "operationId": "getGroupsId",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch a group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a group",
        "description": "Update a group by its ID",
        "operationId": "putGroupsId",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putGroupsId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a group",
        "description": "Delete a group by its ID",
        "operationId": "deleteGroupsId",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Group ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a group"
          }
        }
      }
    },
    "/microsoft_teams/integration": {
      "get": {
        "summary": "Integration",
        "description": "This is your current Microsoft Teams Integration associated with your account.",
        "operationId": "getMicrosoftTeamsIntegration",
        "tags": [
          "Microsoft Teams"
        ],
        "responses": {
          "200": {
            "description": "Integration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          }
        }
      }
    },
    "/microsoft_teams/users": {
      "post": {
        "summary": "Import user",
        "description": "Import users from Microsoft to Placetel",
        "operationId": "postMicrosoftTeamsUsers",
        "tags": [
          "Microsoft Teams"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postMicrosoftTeamsUsers"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Import user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MsUser"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Fetch all users",
        "description": "Get a list of all imported Microsoft Teams Users and their corresponding details",
        "operationId": "getMicrosoftTeamsUsers",
        "tags": [
          "Microsoft Teams"
        ],
        "parameters": [
          {
            "name": "filter[sync_status]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "not_synced",
                "synced",
                "syncing",
                "sync_failed"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch all users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MsUser"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/microsoft_teams/sync/{sip_user_id}": {
      "patch": {
        "summary": "Sync user",
        "description": "Synchronize the calling configuration of an imported user back to Microsoft",
        "operationId": "patchMicrosoftTeamsSyncSipUserId",
        "tags": [
          "Microsoft Teams"
        ],
        "parameters": [
          {
            "name": "sip_user_id",
            "in": "path",
            "required": true,
            "description": "Sip user ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sync user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MsUser"
                }
              }
            }
          }
        }
      }
    },
    "/microsoft_teams/users/{sip_user_id}": {
      "delete": {
        "summary": "Disconnect user",
        "description": "Performs a disconnect operation and synchronizes to Microsoft. A failing sync, i.e. when the resource was not found, will be ignored.",
        "operationId": "deleteMicrosoftTeamsUsersSipUserId",
        "tags": [
          "Microsoft Teams"
        ],
        "parameters": [
          {
            "name": "sip_user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Disconnect user"
          }
        }
      }
    },
    "/numbers/{number_id}/profiles": {
      "get": {
        "summary": "List profiles for a number",
        "description": "Lists all available profiles for a number ",
        "operationId": "getNumbersNumberIdProfiles",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "name": "number_id",
            "in": "path",
            "required": true,
            "description": "Number ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List profiles for a number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Creates a new profile for a number",
        "description": "Shows the active profile for a number",
        "operationId": "postNumbersNumberIdProfiles",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "name": "number_id",
            "in": "path",
            "required": true,
            "description": "Number ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postNumbersNumberIdProfiles"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Creates a new profile for a number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Activates a profile for a number",
        "description": "Change the active profile for a number",
        "operationId": "putNumbersNumberIdProfiles",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "name": "number_id",
            "in": "path",
            "required": true,
            "description": "Number ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putNumbersNumberIdProfiles"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activates a profile for a number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        }
      }
    },
    "/numbers/{number_id}/profiles/{id}": {
      "delete": {
        "summary": "Delete a profile for a number",
        "description": "Removes the profile for a number",
        "operationId": "deleteNumbersNumberIdProfilesId",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "name": "number_id",
            "in": "path",
            "required": true,
            "description": "Number ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Profile ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a profile for a number"
          }
        }
      }
    },
    "/numbers": {
      "get": {
        "summary": "Get all numbers",
        "description": "Provides a list of all numbers",
        "operationId": "getNumbers",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "name": "filter[prefix]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[activated]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "filter[name]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[description]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/numbers/{id}": {
      "get": {
        "summary": "Retrieve a number",
        "description": "Fetches a number by its ID",
        "operationId": "getNumbersId",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Number ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Number"
                }
              }
            }
          }
        }
      }
    },
    "/numbers/{id}/activation": {
      "post": {
        "summary": "Activate a number",
        "description": "Activate a number by its ID. You may be charged for that number.",
        "operationId": "postNumbersIdActivation",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Number ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Activate a number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Number"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Deactivate a number",
        "description": "Dectivate a number by its ID",
        "operationId": "deleteNumbersIdActivation",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Number ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deactivate a number"
          }
        }
      }
    },
    "/prompts": {
      "get": {
        "summary": "Fetch all prompts",
        "description": "Provides a list of all prompts",
        "operationId": "getPrompts",
        "tags": [
          "Prompts"
        ],
        "parameters": [
          {
            "name": "filter[name]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[description]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch all prompts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Prompt"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a prompt",
        "description": "Creates a new prompt",
        "operationId": "postPrompts",
        "tags": [
          "Prompts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPrompts"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a prompt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prompt"
                }
              }
            }
          }
        }
      }
    },
    "/prompts/{id}": {
      "get": {
        "summary": "Retrieve a prompt",
        "description": "Fetches a prompt by its ID",
        "operationId": "getPromptsId",
        "tags": [
          "Prompts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Prompt ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a prompt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prompt"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a prompt",
        "description": "Update a prompt by its ID",
        "operationId": "putPromptsId",
        "tags": [
          "Prompts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Prompt ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putPromptsId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a prompt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prompt"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a prompt",
        "description": "Delete a prompt by its ID",
        "operationId": "deletePromptsId",
        "tags": [
          "Prompts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Prompt ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a prompt"
          }
        }
      }
    },
    "/provisionings": {
      "get": {
        "summary": "Get all phone provisionings",
        "description": "Provides a full list of all registered provisioned phones",
        "operationId": "getProvisionings",
        "tags": [
          "Provisionings"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webuser_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all phone provisionings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Provisioning"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Creates a phone provisionings",
        "description": "Creates a phone provisioning",
        "operationId": "postProvisionings",
        "tags": [
          "Provisionings"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postProvisionings"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Creates a phone provisionings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provisioning"
                }
              }
            }
          }
        }
      }
    },
    "/provisionings/{id}": {
      "get": {
        "summary": "Retrieve a phone provisionings",
        "description": "Fetches a phone provisioning by its ID",
        "operationId": "getProvisioningsId",
        "tags": [
          "Provisionings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a phone provisionings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provisioning"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a phone provisionings",
        "description": "Updates a phone provisioning",
        "operationId": "putProvisioningsId",
        "tags": [
          "Provisionings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putProvisioningsId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a phone provisionings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provisioning"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a phone provisionings",
        "description": "Delete a phone provisioning",
        "operationId": "deleteProvisioningsId",
        "tags": [
          "Provisionings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a phone provisionings"
          }
        }
      }
    },
    "/provisionings/{id}/custom_configurations": {
      "get": {
        "summary": "Retrieve a phone provisionings custom configurations",
        "description": "Fetches a phone provisionings custom configurations by its ID",
        "operationId": "getProvisioningsIdCustomConfigurations",
        "tags": [
          "Provisionings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a phone provisionings custom configurations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomConfiguration"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update or create a phone provisionings custom configuration key",
        "description": "Updates or creates a phone provisioning custom configuration key",
        "operationId": "putProvisioningsIdCustomConfigurations",
        "tags": [
          "Provisionings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putProvisioningsIdCustomConfigurations"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update or create a phone provisionings custom configuration key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provisioning"
                }
              }
            }
          }
        }
      }
    },
    "/provisionings/{id}/custom_configurations/{custom_configuration_id}": {
      "delete": {
        "summary": "Delete a phone provisionings custom configuration key",
        "description": "Delete a phone provisioning custom configuration key",
        "operationId": "deleteProvisioningsIdCustomConfigurationsCustomConfigurationId",
        "tags": [
          "Provisionings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "custom_configuration_id",
            "in": "path",
            "required": true,
            "description": "Custom configuration ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a phone provisionings custom configuration key"
          }
        }
      }
    },
    "/provisionings/{id}/reconfigure": {
      "post": {
        "summary": "Trigger reconfiguration of a phone",
        "description": "This sends a SIP command to the user on line 1 to fetch configuration changes.",
        "operationId": "postProvisioningsIdReconfigure",
        "tags": [
          "Provisionings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Trigger reconfiguration of a phone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provisioning"
                }
              }
            }
          }
        }
      }
    },
    "/recordings": {
      "get": {
        "summary": "Fetch call recordings",
        "description": "Provides a list of all call recordings",
        "operationId": "getRecordings",
        "tags": [
          "Recordings"
        ],
        "parameters": [
          {
            "name": "filter[direction]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "default": [
                  "in",
                  "out",
                  "queue"
                ]
              }
            }
          },
          {
            "name": "filter[from]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[to]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[date]",
            "in": "query",
            "required": false,
            "description": "YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch call recordings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recording"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/recordings/{id}": {
      "get": {
        "summary": "Fetch specific recording",
        "description": "Fetch recording",
        "operationId": "getRecordingsId",
        "tags": [
          "Recordings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Recording ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch specific recording",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recording"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a recording",
        "description": "Delete a recording by its ID",
        "operationId": "deleteRecordingsId",
        "tags": [
          "Recordings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Recording ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a recording"
          }
        }
      }
    },
    "/routing_plans": {
      "get": {
        "summary": "Get all routing plans",
        "description": "Provides a list of routing plans",
        "operationId": "getRoutingPlans",
        "tags": [
          "Routing plans"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all routing plans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoutingPlan"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a routing plan",
        "description": "Create a routing plan",
        "operationId": "postRoutingPlans",
        "tags": [
          "Routing plans"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postRoutingPlans"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a routing plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingPlan"
                }
              }
            }
          }
        }
      }
    },
    "/routing_plans/{id}": {
      "get": {
        "summary": "Get a routing plan",
        "description": "Get a routing plans",
        "operationId": "getRoutingPlansId",
        "tags": [
          "Routing plans"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of a routing plan",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a routing plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingPlan"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a routing plan",
        "description": "Update a routing plan",
        "operationId": "putRoutingPlansId",
        "tags": [
          "Routing plans"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putRoutingPlansId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a routing plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingPlan"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a routing plan",
        "description": "Delete a routing plan",
        "operationId": "deleteRoutingPlansId",
        "tags": [
          "Routing plans"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a routing plan"
          }
        }
      }
    },
    "/routing_plans/{id}/routings": {
      "get": {
        "summary": "Get a routing plans objects",
        "description": "Get objects for routing plan",
        "operationId": "getRoutingPlansIdRoutings",
        "tags": [
          "Routing plan objects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of a routing plan",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a routing plans objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoutingObject"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/routing_plans/{id}/simulate": {
      "get": {
        "summary": "Simulate the usage of a routing plan",
        "description": "Simulate the usage of a routing plan",
        "operationId": "getRoutingPlansIdSimulate",
        "tags": [
          "Routing plans"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the routing plan",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "required": false,
            "description": "The time at which the simulated call would happen",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Simulate the usage of a routing plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingPlan"
                }
              }
            }
          }
        }
      }
    },
    "/routings": {
      "get": {
        "summary": "Get all routings",
        "description": "Provides a list of routing",
        "operationId": "getRoutings",
        "tags": [
          "Routings"
        ],
        "parameters": [
          {
            "name": "filter[updated_at_gte]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[updated_at_lte]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all routings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoutingObject"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a routing object",
        "description": "Create a routing object. Routing can be created as: `forward`, `group`, `ivr`, `queue` or `api`",
        "operationId": "postRoutings",
        "tags": [
          "Routings"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postRoutings"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a routing object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingObject"
                }
              }
            }
          }
        }
      }
    },
    "/routings/{number_or_id}": {
      "get": {
        "summary": "Retrieve routing",
        "description": "Fetches a routing",
        "operationId": "getRoutingsNumberOrId",
        "tags": [
          "Routings"
        ],
        "parameters": [
          {
            "name": "number_or_id",
            "in": "path",
            "required": true,
            "description": "A number or an ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve routing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingObject"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update routing",
        "description": "Updates the routing object. Routing can be set to: `forward`, `group`, `plan`, `ivr`, `queue` or `api`",
        "operationId": "putRoutingsNumberOrId",
        "tags": [
          "Routings"
        ],
        "parameters": [
          {
            "name": "number_or_id",
            "in": "path",
            "required": true,
            "description": "A number or an ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putRoutingsNumberOrId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update routing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingObject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a routing object",
        "description": "Delete a routing object",
        "operationId": "deleteRoutingsNumberOrId",
        "tags": [
          "Routings"
        ],
        "parameters": [
          {
            "name": "number_or_id",
            "in": "path",
            "required": true,
            "description": "A number or an ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a routing object"
          }
        }
      }
    },
    "/sip_users/{id}/short_codes": {
      "get": {
        "summary": "Short codes",
        "description": "List sip user short codes",
        "operationId": "getSipUsersIdShortCodes",
        "tags": [
          "Sip Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Sip user ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Short codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortCode"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create short code",
        "description": "Create sip user short code",
        "operationId": "postSipUsersIdShortCodes",
        "tags": [
          "Sip Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Sip user ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postSipUsersIdShortCodes"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create short code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortCode"
                }
              }
            }
          }
        }
      }
    },
    "/sip_users/{id}/short_codes/{code_id}": {
      "delete": {
        "summary": "Delete short code",
        "description": "Delete sip user short code",
        "operationId": "deleteSipUsersIdShortCodesCodeId",
        "tags": [
          "Sip Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Sip user ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "code_id",
            "in": "path",
            "required": true,
            "description": "Short code ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete short code"
          }
        }
      }
    },
    "/sip_users": {
      "get": {
        "summary": "Fetch all sip users",
        "description": "Fetch a list of all sip users",
        "operationId": "getSipUsers",
        "tags": [
          "Sip Users"
        ],
        "parameters": [
          {
            "name": "filter[did]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter[username]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[name]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[description]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch all sip users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SipUser"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a sip user",
        "description": "Create a new sip user",
        "operationId": "postSipUsers",
        "tags": [
          "Sip Users"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postSipUsers"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a sip user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SipUser"
                }
              }
            }
          }
        }
      }
    },
    "/sip_users/{id}": {
      "get": {
        "summary": "Fetch a sip user",
        "description": "Fetch a sip users by its ID",
        "operationId": "getSipUsersId",
        "tags": [
          "Sip Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Sip user ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch a sip user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SipUser"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a sip user",
[...]
