{
  "openapi": "3.0.3",
  "info": {
    "title": "Prefinery API",
    "version": "2.0.0",
    "description": "Prefinery is a beta/waitlist management platform. The API v2 provides access to manage betas (projects), testers (users), checkins, points, rewards, suppressions, and friend invitations.",
    "x-jentic-source-url": "https://www.prefinery.com/api/v2/docs"
  },
  "servers": [{"url": "https://api.prefinery.com/api/v2"}],
  "paths": {
    "/betas": {"get": {"operationId": "listBetas", "summary": "List projects", "tags": ["Betas"], "responses": {"200": {"description": "List of projects", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Beta"}}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/betas/{id}": {
      "get": {"operationId": "getBeta", "summary": "Get a project", "tags": ["Betas"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Project details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Beta"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "delete": {"operationId": "deleteBeta", "summary": "Delete a project", "tags": ["Betas"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Project deleted"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/testers": {
      "get": {"operationId": "listTesters", "summary": "List users/testers", "tags": ["Testers"], "responses": {"200": {"description": "List of testers", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Tester"}}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "createTester", "summary": "Create a user", "tags": ["Testers"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TesterInput"}}}}, "responses": {"201": {"description": "Tester created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Tester"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/testers/{id}": {
      "get": {"operationId": "getTester", "summary": "Get a user", "tags": ["Testers"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Tester details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Tester"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "put": {"operationId": "updateTester", "summary": "Update a user", "tags": ["Testers"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TesterInput"}}}}, "responses": {"200": {"description": "Tester updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Tester"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "delete": {"operationId": "deleteTester", "summary": "Delete a user", "tags": ["Testers"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Tester deleted"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/testers/{id}/checkin": {"post": {"operationId": "checkinTester", "summary": "Check in a user", "tags": ["Testers"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Checkin recorded"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/testers/{id}/checkins": {"get": {"operationId": "listTesterCheckins", "summary": "List user checkins", "tags": ["Testers"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "List of checkins", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "object"}}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/points": {
      "get": {"operationId": "listPoints", "summary": "List points", "tags": ["Points"], "responses": {"200": {"description": "List of points"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "createPoints", "summary": "Create points", "tags": ["Points"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Points created"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/rewards": {
      "get": {"operationId": "listRewards", "summary": "List rewards", "tags": ["Rewards"], "responses": {"200": {"description": "List of rewards", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Reward"}}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "createReward", "summary": "Create a reward", "tags": ["Rewards"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RewardInput"}}}}, "responses": {"201": {"description": "Reward created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Reward"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/rewards/{id}": {
      "get": {"operationId": "getReward", "summary": "Get a reward", "tags": ["Rewards"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Reward details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Reward"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "put": {"operationId": "updateReward", "summary": "Update a reward", "tags": ["Rewards"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RewardInput"}}}}, "responses": {"200": {"description": "Reward updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Reward"}}}}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/rewards/{id}/trigger": {"post": {"operationId": "triggerReward", "summary": "Trigger a reward", "tags": ["Rewards"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Reward triggered"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/suppressions": {
      "get": {"operationId": "listSuppressions", "summary": "List suppressions", "tags": ["Suppressions"], "responses": {"200": {"description": "List of suppressions"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}},
      "post": {"operationId": "createSuppression", "summary": "Create a suppression", "tags": ["Suppressions"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Suppression created"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}
    },
    "/suppressions/{id}": {"delete": {"operationId": "deleteSuppression", "summary": "Delete a suppression", "tags": ["Suppressions"], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Suppression deleted"}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/friend_invitations": {"post": {"operationId": "createFriendInvitation", "summary": "Create a friend invitation", "tags": ["Invitations"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Invitation created"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}},
    "/checkins": {"post": {"operationId": "createCheckin", "summary": "Create a checkin", "tags": ["Checkins"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Checkin created"}, "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}
  },
  "components": {
    "schemas": {
      "Beta": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "status": {"type": "string"}}},
      "Tester": {"type": "object", "properties": {"id": {"type": "integer"}, "email": {"type": "string"}, "status": {"type": "string"}, "referral_code": {"type": "string"}, "created_at": {"type": "string", "format": "date-time"}}},
      "TesterInput": {"type": "object", "properties": {"email": {"type": "string"}, "status": {"type": "string"}}},
      "Reward": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "type": {"type": "string"}}},
      "RewardInput": {"type": "object", "properties": {"name": {"type": "string"}, "type": {"type": "string"}}},
      "ErrorResponse": {"type": "object", "properties": {"status": {"type": "string", "enum": ["error"]}, "code": {"type": "string"}, "message": {"type": "string"}}}
    },
    "securitySchemes": {
      "apiKey": {"type": "apiKey", "in": "header", "name": "Authorization", "description": "API key for authentication"}
    }
  },
  "security": [{"apiKey": []}]
}
