{
  "openapi": "3.0.3",
  "info": {
    "title": "RunSignup API",
    "description": "The RunSignup API provides programmatic access to RunSignup's race management platform. It covers race information, participant registration, results management, club memberships, donations, volunteers, ticket events, team management, and more. Rate limit: no more than 2 concurrent API calls at a time.",
    "version": "1.0.0",
    "contact": {
      "name": "RunSignup Support",
      "email": "info@runsignup.com",
      "url": "https://runsignup.com"
    },
    "x-jentic-source-url": "https://runsignup.com/API"
  },
  "servers": [
    {
      "url": "https://runsignup.com",
      "description": "RunSignup Production API"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/API/race/{race_id}": {
      "get": {
        "tags": [
          "Race Information"
        ],
        "summary": "Get race information",
        "description": "Information about a specific race",
        "operationId": "getRace",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Race information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/API/races": {
      "get": {
        "tags": [
          "Race Information"
        ],
        "summary": "List upcoming races",
        "description": "List of upcoming races",
        "operationId": "listRaces",
        "responses": {
          "200": {
            "description": "List of races",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/API/race/{race_id}/sync-settings": {
      "post": {
        "tags": [
          "Race Information"
        ],
        "summary": "Set race syncing settings",
        "operationId": "setRaceSyncSettings",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settings updated"
          }
        },
        "description": "Set race syncing settings"
      }
    },
    "/API/race/{race_id}/race-urls": {
      "post": {
        "tags": [
          "Race Information"
        ],
        "summary": "Set race and event URLs",
        "operationId": "setRaceUrls",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URLs updated"
          }
        },
        "description": "Set race and event URLs"
      }
    },
    "/API/race/{race_id}/race-description": {
      "post": {
        "tags": [
          "Race Information"
        ],
        "summary": "Set race description",
        "operationId": "setRaceDescription",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Description updated"
          }
        },
        "description": "Set race description"
      }
    },
    "/API/countries": {
      "get": {
        "tags": [
          "Basic Info"
        ],
        "summary": "Get list of countries and states",
        "operationId": "getCountries",
        "responses": {
          "200": {
            "description": "List of countries and states",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get list of countries and states"
      }
    },
    "/API/v2/auth-info/entity-info.json": {
      "get": {
        "tags": [
          "Basic Info"
        ],
        "summary": "Get entity information for a v2 API key",
        "operationId": "getEntityInfo",
        "responses": {
          "200": {
            "description": "Entity information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get entity information for a v2 API key"
      }
    },
    "/API/race/{race_id}/participants": {
      "get": {
        "tags": [
          "Participants"
        ],
        "summary": "Get race participants",
        "description": "Get participants for a race",
        "operationId": "getRaceParticipants",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of participants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Participants"
        ],
        "summary": "Add or edit race participants",
        "operationId": "addEditParticipants",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Participants added or updated"
          }
        },
        "description": "Add or edit race participants"
      }
    },
    "/API/race/{race_id}/participant-counts": {
      "get": {
        "tags": [
          "Participants"
        ],
        "summary": "Get race participant counts",
        "operationId": "getRaceParticipantCounts",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Participant counts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get race participant counts"
      }
    },
    "/API/race/{race_id}/removed-participants": {
      "get": {
        "tags": [
          "Participants"
        ],
        "summary": "Get removed race participants",
        "operationId": "getRemovedParticipants",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Removed participants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get removed race participants"
      }
    },
    "/API/race/{race_id}/switch-participant-events": {
      "post": {
        "tags": [
          "Participants"
        ],
        "summary": "Switch participant events",
        "operationId": "switchParticipantEvents",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Participants switched"
          }
        },
        "description": "Switch participant events"
      }
    },
    "/API/race/{race_id}/delete-participants": {
      "post": {
        "tags": [
          "Participants"
        ],
        "summary": "Delete participants from an event",
        "operationId": "deleteParticipants",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Participants deleted"
          }
        },
        "description": "Delete participants from an event"
      }
    },
    "/API/race/{race_id}/get-bib-chip": {
      "get": {
        "tags": [
          "Participants"
        ],
        "summary": "Get bib and chip numbers",
        "description": "Get bib and chip numbers for all event participants",
        "operationId": "getBibChip",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bib and chip numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/API/race/{race_id}/assign-bib-chip": {
      "post": {
        "tags": [
          "Participants"
        ],
        "summary": "Assign bib and chip numbers",
        "operationId": "assignBibChip",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bib and chip numbers assigned"
          }
        },
        "description": "Assign bib and chip numbers"
      }
    },
    "/API/race/{race_id}/results/get-results": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "Get all results",
        "description": "List all results for all result sets for an event",
        "operationId": "getResults",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/API/race/{race_id}/results/full-results": {
      "post": {
        "tags": [
          "Results"
        ],
        "summary": "Post a race result",
        "operationId": "postRaceResult",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result posted"
          }
        },
        "description": "Post a race result"
      }
    },
    "/API/race/{race_id}/results/csv-import": {
      "post": {
        "tags": [
          "Results"
        ],
        "summary": "Import results from CSV",
        "description": "Create a new result set from a CSV or GRU results file",
        "operationId": "importResultsCsv",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Results imported"
          }
        }
      }
    },
    "/API/race/{race_id}/results/new-result-set": {
      "post": {
        "tags": [
          "Results"
        ],
        "summary": "Create a new result set",
        "operationId": "createResultSet",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result set created"
          }
        },
        "description": "Create a new result set"
      }
    },
    "/API/race/{race_id}/results/get-result-sets": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "List result sets",
        "description": "List all result sets for an event",
        "operationId": "getResultSets",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of result sets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/API/race/{race_id}/results/delete-result-set": {
      "post": {
        "tags": [
          "Results"
        ],
        "summary": "Delete a result set",
        "operationId": "deleteResultSet",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result set deleted"
          }
        },
        "description": "Delete a result set"
      }
    },
    "/API/race/{race_id}/results/settings": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "Get result settings",
        "operationId": "getResultSettings",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get result settings"
      },
      "post": {
        "tags": [
          "Results"
        ],
        "summary": "Set result settings",
        "operationId": "setResultSettings",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result settings updated"
          }
        },
        "description": "Set result settings"
      }
    },
    "/API/race/{race_id}/results/start-time": {
      "get": {
        "tags": [
          "Results",
          "Mobile App"
        ],
        "summary": "Get actual event start time",
        "operationId": "getStartTime",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Start time",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get actual event start time"
      },
      "post": {
        "tags": [
          "Results",
          "Mobile App"
        ],
        "summary": "Set actual event start time",
        "operationId": "setStartTime",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Start time set"
          }
        },
        "description": "Set actual event start time"
      }
    },
    "/API/race/{race_id}/results/finishing-times": {
      "post": {
        "tags": [
          "Results",
          "Mobile App"
        ],
        "summary": "Post finishing times",
        "description": "Post finishing times for an event",
        "operationId": "postFinishingTimes",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Finishing times posted"
          }
        }
      }
    },
    "/API/race/{race_id}/results/bib-order": {
      "post": {
        "tags": [
          "Results",
          "Mobile App"
        ],
        "summary": "Post finishing bib order",
        "operationId": "postBibOrder",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bib order posted"
          }
        },
        "description": "Post finishing bib order"
      }
    },
    "/API/race/{race_id}/results/result-set-splits": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "List result set splits",
        "operationId": "getResultSetSplits",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of splits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "List result set splits"
      },
      "post": {
        "tags": [
          "Results"
        ],
        "summary": "Setup result set splits",
        "operationId": "setupResultSetSplits",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Splits configured"
          }
        },
        "description": "Setup result set splits"
      }
    },
    "/API/race/{race_id}/results/custom-fields": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "List custom fields for a result set",
        "operationId": "getResultCustomFields",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom fields list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "List custom fields for a result set"
      },
      "post": {
        "tags": [
          "Results"
        ],
        "summary": "Add a custom field for a result set",
        "operationId": "addResultCustomField",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom field added"
          }
        },
        "description": "Add a custom field for a result set"
      },
      "delete": {
        "tags": [
          "Results"
        ],
        "summary": "Delete a custom field for a result set",
        "operationId": "deleteResultCustomField",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom field deleted"
          }
        },
        "description": "Delete a custom field for a result set"
      }
    },
    "/API/race/{race_id}/teams": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get race groups/teams",
        "operationId": "getRaceTeams",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of teams",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get race groups/teams"
      },
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Add or edit race groups/teams",
        "operationId": "addEditRaceTeams",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Teams added or updated"
          }
        },
        "description": "Add or edit race groups/teams"
      }
    },
    "/API/race/{race_id}/teams/team-types": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get race group/team types",
        "operationId": "getTeamTypes",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get race group/team types"
      },
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Manage race group/team types",
        "operationId": "manageTeamTypes",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team types updated"
          }
        },
        "description": "Manage race group/team types"
      }
    },
    "/API/race/{race_id}/corporate-teams": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get corporate teams for a race",
        "operationId": "getCorporateTeams",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Corporate teams",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get corporate teams for a race"
      }
    },
    "/API/race/{race_id}/corrals": {
      "get": {
        "tags": [
          "Corrals"
        ],
        "summary": "Get race corrals",
        "operationId": "getRaceCorrals",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Race corrals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get race corrals"
      }
    },
    "/API/race/{race_id}/divisions/divisions": {
      "get": {
        "tags": [
          "Divisions"
        ],
        "summary": "Get race divisions",
        "operationId": "getRaceDivisions",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Race divisions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get race divisions"
      },
      "post": {
        "tags": [
          "Divisions"
        ],
        "summary": "Set up race divisions",
        "operationId": "setupRaceDivisions",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Divisions set up"
          }
        },
        "description": "Set up race divisions"
      }
    },
    "/API/race/{race_id}/coupons": {
      "get": {
        "tags": [
          "Coupons"
        ],
        "summary": "Get coupons for a race",
        "operationId": "getRaceCoupons",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Race coupons",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get coupons for a race"
      },
      "post": {
        "tags": [
          "Coupons"
        ],
        "summary": "Add or edit coupons for a race",
        "operationId": "addEditCoupons",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coupons added or updated"
          }
        },
        "description": "Add or edit coupons for a race"
      }
    },
    "/API/race/{race_id}/donations/list": {
      "get": {
        "tags": [
          "Donations"
        ],
        "summary": "Get list of race donations",
        "operationId": "getRaceDonations",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Race donations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get list of race donations"
      }
    },
    "/API/race/{race_id}/custom-results": {
      "get": {
        "tags": [
          "Custom Results"
        ],
        "summary": "List custom results pages",
        "operationId": "getCustomResults",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom results pages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "List custom results pages"
      },
      "post": {
        "tags": [
          "Custom Results"
        ],
        "summary": "Create a custom results page",
        "operationId": "createCustomResults",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom results page created"
          }
        },
        "description": "Create a custom results page"
      },
      "delete": {
        "tags": [
          "Custom Results"
        ],
        "summary": "Delete a custom results page",
        "operationId": "deleteCustomResults",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom results page deleted"
          }
        },
        "description": "Delete a custom results page"
      }
    },
    "/API/race/{race_id}/registration-periods": {
      "post": {
        "tags": [
          "Registration"
        ],
        "summary": "Setup event registration periods",
        "operationId": "setupRegistrationPeriods",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration periods configured"
          }
        },
        "description": "Setup event registration periods"
      }
    },
    "/API/race/{race_id}/pricing/age-based": {
      "post": {
        "tags": [
          "Registration"
        ],
        "summary": "Setup event age based pricing",
        "operationId": "setupAgeBasedPricing",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Age-based pricing configured"
          }
        },
        "description": "Setup event age based pricing"
      }
    },
    "/API/race/{race_id}/questions": {
      "post": {
        "tags": [
          "Registration"
        ],
        "summary": "Set up race questions",
        "operationId": "setupRaceQuestions",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Questions configured"
          }
        },
        "description": "Set up race questions"
      }
    },
    "/API/race/{race_id}/giveaways": {
      "post": {
        "tags": [
          "Registration"
        ],
        "summary": "Set up event giveaways",
        "operationId": "setupGiveaways",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Giveaways configured"
          }
        },
        "description": "Set up event giveaways"
      }
    },
    "/API/club/{club_id}": {
      "get": {
        "tags": [
          "Clubs"
        ],
        "summary": "Get club information",
        "description": "Information about a specific club",
        "operationId": "getClub",
        "parameters": [
          {
            "name": "club_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Club information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/API/club/{club_id}/members": {
      "get": {
        "tags": [
          "Clubs"
        ],
        "summary": "List current club members",
        "operationId": "getClubMembers",
        "parameters": [
          {
            "name": "club_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of club members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "List current club members"
      }
    },
    "/API/club/memberships/mine": {
      "get": {
        "tags": [
          "Clubs"
        ],
        "summary": "List user's memberships",
        "operationId": "getMyMemberships",
        "responses": {
          "200": {
            "description": "User memberships",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "List user's memberships"
      }
    },
    "/API/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List users",
        "description": "List of users accounts associated with a partner",
        "operationId": "listUsers",
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/API/user/{user_id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user information",
        "description": "Information about a specific user",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Update user information",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated"
          }
        },
        "description": "Update user information"
      }
    },
    "/API/user": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create a new user",
        "operationId": "createUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created"
          }
        },
        "description": "Create a new user"
      }
    },
    "/API/user/timers": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get timer accounts",
        "description": "Get timer accounts for the logged in user",
        "operationId": "getUserTimers",
        "responses": {
          "200": {
            "description": "Timer accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/API/user/registered-races": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get registered races",
        "description": "Get registered races for the logged in user",
        "operationId": "getUserRegisteredRaces",
        "responses": {
          "200": {
            "description": "Registered races",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/API/v2/volunteers/get-race-volunteers.json": {
      "get": {
        "tags": [
          "Volunteers"
        ],
        "summary": "Get race volunteers",
        "description": "Get all volunteers for a race",
        "operationId": "getRaceVolunteers",
        "parameters": [
          {
            "name": "race_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of volunteers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/API/v2/volunteers/get-race-volunteer-tasks.json": {
      "get": {
        "tags": [
          "Volunteers"
        ],
        "summary": "Get volunteer tasks",
        "description": "Get volunteer tasks for a race",
        "operationId": "getRaceVolunteerTasks",
        "parameters": [
          {
            "name": "race_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Volunteer tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/API/v2/volunteers/edit-volunteers.json": {
      "post": {
        "tags": [
          "Volunteers"
        ],
        "summary": "Edit volunteers for a race",
        "operationId": "editVolunteers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Volunteers updated"
          }
        },
        "description": "Edit volunteers for a race"
      }
    },
    "/API/v2/tickets/get-ticket-event.json": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Get ticket event info",
        "operationId": "getTicketEvent",
        "parameters": [
          {
            "name": "ticket_event_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ticket event information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get ticket event info"
      }
    },
    "/API/v2/tickets/get-ticket-events.json": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Get ticket events",
        "operationId": "getTicketEvents",
        "responses": {
          "200": {
            "description": "List of ticket events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get ticket events"
      }
    },
    "/API/v2/tickets/get-tickets.json": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Get tickets for a ticket event",
        "operationId": "getTickets",
        "parameters": [
          {
            "name": "ticket_event_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tickets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get tickets for a ticket event"
      }
    },
    "/API/v2/tickets/add-tickets.json": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Add tickets for a ticket event",
        "operationId": "addTickets",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tickets added"
          }
        },
        "description": "Add tickets for a ticket event"
      }
    },
    "/API/v2/tickets/add-ticket-checkins.json": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Add ticket checkins",
        "operationId": "addTicketCheckins",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkins added"
          }
        },
        "description": "Add ticket checkins"
      }
    },
    "/API/v2/donation-websites/get-donation-website.json": {
      "get": {
        "tags": [
          "Donations"
        ],
        "summary": "Get donation website",
        "description": "Retrieve donation website information",
        "operationId": "getDonationWebsite",
        "parameters": [
          {
            "name": "donation_website_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Donation website information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/API/v2/donation-websites/get-donations.json": {
      "get": {
        "tags": [
          "Donations"
        ],
        "summary": "Get donations for a donation website",
        "operationId": "getDonationWebsiteDonations",
        "parameters": [
          {
            "name": "donation_website_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of donations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get donations for a donation website"
      }
    },
    "/API/v2/race-fundraisers/get-race-fundraisers.json": {
      "get": {
        "tags": [
          "Fundraisers"
        ],
        "summary": "Get race fundraisers",
        "description": "Get list of race fundraisers",
        "operationId": "getRaceFundraisers",
        "parameters": [
          {
            "name": "race_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of fundraisers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/API/v2/photos/get-race-photos.json": {
      "get": {
        "tags": [
          "Photos"
        ],
        "summary": "Get race photos",
        "description": "Get all photos for a race event day",
        "operationId": "getRacePhotos",
        "parameters": [
          {
            "name": "race_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Race photos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/API/v2/photos/get-race-photo-albums.json": {
      "get": {
        "tags": [
          "Photos"
        ],
        "summary": "Get race photo albums",
        "description": "Get all photo albums for a race event day",
        "operationId": "getRacePhotoAlbums",
        "parameters": [
          {
            "name": "race_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Photo albums",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/API/race/{race_id}/announcer/timing-points": {
      "get": {
        "tags": [
          "Announcer"
        ],
        "summary": "Get announcer timing points",
        "operationId": "getAnnouncerTimingPoints",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timing points",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get announcer timing points"
      },
      "post": {
        "tags": [
          "Announcer"
        ],
        "summary": "Set up announcer timing points",
        "operationId": "setupAnnouncerTimingPoints",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Timing points configured"
          }
        },
        "description": "Set up announcer timing points"
      }
    },
    "/API/v2/race-gender-settings/nonbinary-support.json": {
      "get": {
        "tags": [
          "Race Information"
        ],
        "summary": "Check non-binary gender support",
        "operationId": "getNonBinarySupport",
        "parameters": [
          {
            "name": "race_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Non-binary support status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Check non-binary gender support"
      },
      "post": {
        "tags": [
          "Race Information"
        ],
        "summary": "Enable/disable non-binary gender support",
        "operationId": "setNonBinarySupport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Non-binary support updated"
          }
        },
        "description": "Enable/disable non-binary gender support"
      }
    },
    "/API/v2/race-theme/race-theme.json": {
      "get": {
        "tags": [
          "Race Information"
        ],
        "summary": "Get race theme",
        "operationId": "getRaceTheme",
        "parameters": [
          {
            "name": "race_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Race theme",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get race theme"
      }
    },
    "/API/v2/super-partners/partners.json": {
      "get": {
        "tags": [
          "Partners"
        ],
        "summary": "Get list of partners",
        "description": "Get list of partners for a super partner",
        "operationId": "getSuperPartnerPartners",
        "responses": {
          "200": {
            "description": "List of partners",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/API/v2/team-results/team-result-set.json": {
      "get": {
        "tags": [
          "Team Results"
        ],
        "summary": "Get team result sets",
        "operationId": "getTeamResultSets",
        "parameters": [
          {
            "name": "race_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team result sets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get team result sets"
      },
      "post": {
        "tags": [
          "Team Results"
        ],
        "summary": "Create or edit a team result set",
        "operationId": "createEditTeamResultSet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team result set created/updated"
          }
        },
        "description": "Create or edit a team result set"
      },
      "delete": {
        "tags": [
          "Team Results"
        ],
        "summary": "Remove team result set",
        "operationId": "deleteTeamResultSet",
        "parameters": [
          {
            "name": "race_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team result set deleted"
          }
        },
        "description": "Remove team result set"
      }
    },
    "/API/v2/team-results/team-result-set-results.json": {
      "get": {
        "tags": [
          "Team Results"
        ],
        "summary": "Get team results",
        "operationId": "getTeamResults",
        "parameters": [
          {
            "name": "race_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get team results"
      },
      "post": {
        "tags": [
          "Team Results"
        ],
        "summary": "Post team results",
        "operationId": "postTeamResults",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team results posted"
          }
        },
        "description": "Post team results"
      }
    },
    "/API/v2/vr-activities.json": {
      "get": {
        "tags": [
          "Virtual Events"
        ],
        "summary": "Get virtual event activities",
        "description": "Get activities for a participant for a virtual event",
        "operationId": "getVirtualActivities",
        "parameters": [
          {
            "name": "race_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activities list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Virtual Events"
        ],
        "summary": "Post virtual event activities",
        "description": "Post user submitted activities for a virtual event",
        "operationId": "postVirtualActivities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activities posted"
          }
        }
      },
      "delete": {
        "tags": [
          "Virtual Events"
        ],
        "summary": "Delete virtual event activities",
        "operationId": "deleteVirtualActivities",
        "parameters": [
          {
            "name": "race_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activities deleted"
          }
        },
        "description": "Delete virtual event activities"
      }
    },
    "/API/v2/race-series/race-series-info.json": {
      "get": {
        "tags": [
          "Race Series"
        ],
        "summary": "Get race series information",
        "operationId": "getRaceSeriesInfo",
        "parameters": [
          {
            "name": "race_series_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Race series info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get race series information"
      }
    },
    "/API/v2/race-series/race-series-results.json": {
      "post": {
        "tags": [
          "Race Series"
        ],
        "summary": "Post race series results",
        "operationId": "postRaceSeriesResults",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Series results posted"
          }
        },
        "description": "Post race series results"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "RunSignup API key. Can also use OAuth2 for authentication."
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://runsignup.com/OAuth/Authorization",
            "tokenUrl": "https://runsignup.com/OAuth/AccessToken",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "RaceResponse": {
        "type": "object",
        "properties": {
          "race": {
            "type": "object",
            "properties": {
              "race_id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "last_date": {
                "type": "string",
                "format": "date"
              },
              "last_end_date": {
                "type": "string",
                "format": "date"
              },
              "next_date": {
                "type": "string",
                "format": "date"
              },
              "next_end_date": {
                "type": "string",
                "format": "date"
              },
              "is_draft_race": {
                "type": "string"
              },
              "is_private_race": {
                "type": "string"
              },
              "is_registration_open": {
                "type": "string"
              },
              "created": {
                "type": "string",
                "format": "date-time"
              },
              "last_modified": {
                "type": "string",
                "format": "date-time"
              },
              "description": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "external_race_url": {
                "type": "string"
              },
              "external_results_url": {
                "type": "string"
              },
              "address": {
                "type": "object"
              },
              "timezone": {
                "type": "string"
              },
              "logo_url": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Announcer"
    },
    {
      "name": "Basic Info"
    },
    {
      "name": "Clubs"
    },
    {
      "name": "Corrals"
    },
    {
      "name": "Coupons"
    },
    {
      "name": "Custom Results"
    },
    {
      "name": "Divisions"
    },
    {
      "name": "Donations"
    },
    {
      "name": "Fundraisers"
    },
    {
      "name": "Mobile App"
    },
    {
      "name": "Participants"
    },
    {
      "name": "Partners"
    },
    {
      "name": "Photos"
    },
    {
      "name": "Race Information"
    },
    {
      "name": "Race Series"
    },
    {
      "name": "Registration"
    },
    {
      "name": "Results"
    },
    {
      "name": "Team Results"
    },
    {
      "name": "Teams"
    },
    {
      "name": "Tickets"
    },
    {
      "name": "Users"
    },
    {
      "name": "Virtual Events"
    },
    {
      "name": "Volunteers"
    }
  ]
}
