{
  "openapi": "3.0.3",
  "info": {
    "title": "Soundstripe API",
    "description": "API for accessing Soundstripe's music library, sound effects, playlists, and related resources.",
    "version": "1.0.0",
    "contact": {
      "name": "Soundstripe",
      "url": "https://docs.soundstripe.com"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis-staging/import/soundstripe.com/soundstripe-api/1.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.soundstripe.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/songs": {
      "get": {
        "operationId": "listSongs",
        "summary": "List songs",
        "description": "Retrieve a paginated list of songs with optional filters.",
        "tags": [
          "Songs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "filter[search]",
            "in": "query",
            "description": "Search query string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[tag_ids]",
            "in": "query",
            "description": "Comma-separated tag IDs to filter by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[bpm_min]",
            "in": "query",
            "description": "Minimum BPM.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[bpm_max]",
            "in": "query",
            "description": "Maximum BPM.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[duration_min]",
            "in": "query",
            "description": "Minimum duration in seconds.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[duration_max]",
            "in": "query",
            "description": "Maximum duration in seconds.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field (e.g. 'popular', 'newest').",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of songs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Song"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/songs/{id}": {
      "get": {
        "operationId": "getSong",
        "summary": "Get a song",
        "description": "Retrieve a single song by its ID.",
        "tags": [
          "Songs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Song details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Song"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "List tags",
        "description": "Retrieve the list of available tags for filtering songs and sound effects.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of tags.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sound-effects": {
      "get": {
        "operationId": "listSoundEffects",
        "summary": "List sound effects",
        "description": "Retrieve a paginated list of sound effects.",
        "tags": [
          "SoundEffects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "filter[search]",
            "in": "query",
            "description": "Search query string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[category_id]",
            "in": "query",
            "description": "Filter by category ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of sound effects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SoundEffect"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sound-effects/{id}": {
      "get": {
        "operationId": "getSoundEffect",
        "summary": "Get a sound effect",
        "description": "Retrieve a single sound effect by its ID.",
        "tags": [
          "SoundEffects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Sound effect details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SoundEffect"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "operationId": "listCategories",
        "summary": "List sound effect categories",
        "description": "Retrieve all available sound effect categories.",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of categories.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Category"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/categories/{id}": {
      "get": {
        "operationId": "getCategory",
        "summary": "Get a category",
        "description": "Retrieve a single sound effect category by its ID.",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Category details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Category"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/playlists": {
      "get": {
        "operationId": "listPlaylists",
        "summary": "List curated playlists",
        "description": "Retrieve a paginated list of curated playlists.",
        "tags": [
          "Playlists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of curated playlists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Playlist"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/playlists/{id}": {
      "get": {
        "operationId": "getPlaylist",
        "summary": "Get a curated playlist",
        "description": "Retrieve a single curated playlist by its ID.",
        "tags": [
          "Playlists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Playlist"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/playlist-categories": {
      "get": {
        "operationId": "listPlaylistCategories",
        "summary": "List playlist categories",
        "description": "Retrieve all available playlist categories.",
        "tags": [
          "PlaylistCategories"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of playlist categories.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PlaylistCategory"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/playlist-categories/{id}": {
      "get": {
        "operationId": "getPlaylistCategory",
        "summary": "Get a playlist category",
        "description": "Retrieve a single playlist category by its ID.",
        "tags": [
          "PlaylistCategories"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist category details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PlaylistCategory"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/songs/{id}/youtube-code": {
      "post": {
        "operationId": "generateYoutubeCode",
        "summary": "Generate YouTube code for a song",
        "description": "Generate a YouTube Content ID code for the specified song.",
        "tags": [
          "DigitalUsages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "YouTube code generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/YoutubeCode"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/me/playlists": {
      "get": {
        "operationId": "listPrivatePlaylists",
        "summary": "List private playlists",
        "description": "Retrieve the authenticated user's private playlists.",
        "tags": [
          "PrivatePlaylists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of the user's private playlists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PrivatePlaylist"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createPrivatePlaylist",
        "summary": "Create a private playlist",
        "description": "Create a new private playlist for the authenticated user.",
        "tags": [
          "PrivatePlaylists"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivatePlaylistInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Private playlist created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PrivatePlaylist"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/me/playlists/{id}": {
      "get": {
        "operationId": "getPrivatePlaylist",
        "summary": "Get a private playlist",
        "description": "Retrieve a single private playlist by its ID.",
        "tags": [
          "PrivatePlaylists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Private playlist details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PrivatePlaylist"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updatePrivatePlaylist",
        "summary": "Update a private playlist",
        "description": "Update an existing private playlist.",
        "tags": [
          "PrivatePlaylists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivatePlaylistInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Private playlist updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PrivatePlaylist"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deletePrivatePlaylist",
        "summary": "Delete a private playlist",
        "description": "Delete a private playlist by its ID.",
        "tags": [
          "PrivatePlaylists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Private playlist deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/me/playlists/{id}/songs": {
      "post": {
        "operationId": "addSongsToPrivatePlaylist",
        "summary": "Add songs to a private playlist",
        "description": "Add one or more songs to a private playlist.",
        "tags": [
          "PrivatePlaylists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaylistItemsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Songs added to playlist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PrivatePlaylist"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "removeSongsFromPrivatePlaylist",
        "summary": "Remove songs from a private playlist",
        "description": "Remove one or more songs from a private playlist.",
        "tags": [
          "PrivatePlaylists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaylistItemsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Songs removed from playlist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PrivatePlaylist"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/me/playlists/{id}/sound-effects": {
      "post": {
        "operationId": "addSoundEffectsToPrivatePlaylist",
        "summary": "Add sound effects to a private playlist",
        "description": "Add one or more sound effects to a private playlist.",
        "tags": [
          "PrivatePlaylists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaylistItemsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sound effects added to playlist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PrivatePlaylist"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "removeSoundEffectsFromPrivatePlaylist",
        "summary": "Remove sound effects from a private playlist",
        "description": "Remove one or more sound effects from a private playlist.",
        "tags": [
          "PrivatePlaylists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaylistItemsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sound effects removed from playlist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PrivatePlaylist"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key",
        "description": "API key provided in the api_key header."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token provided in the Authorization header."
      }
    },
    "parameters": {
      "ResourceId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Unique identifier of the resource.",
        "schema": {
          "type": "string"
        }
      },
      "PageParam": {
        "name": "page",
        "in": "query",
        "description": "Page number for pagination.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "PerPageParam": {
        "name": "per_page",
        "in": "query",
        "description": "Number of items per page.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      }
    },
    "schemas": {
      "Song": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier."
          },
          "type": {
            "type": "string",
            "example": "songs"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "description": "Song title."
              },
              "artist_name": {
                "type": "string",
                "description": "Name of the artist."
              },
              "album_name": {
                "type": "string",
                "description": "Name of the album."
              },
              "duration": {
                "type": "integer",
                "description": "Duration in seconds."
              },
              "bpm": {
                "type": "integer",
                "description": "Beats per minute."
              },
              "preview_url": {
                "type": "string",
                "format": "uri",
                "description": "URL to a preview audio clip."
              },
              "image_url": {
                "type": "string",
                "format": "uri",
                "description": "URL to the cover image."
              },
              "waveform_url": {
                "type": "string",
                "format": "uri",
                "description": "URL to the waveform image."
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "tags": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ResourceIdentifier"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "tags"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Tag name."
              },
              "tag_type": {
                "type": "string",
                "description": "Type or category of the tag (e.g. genre, mood, instrument)."
              }
            }
          }
        }
      },
      "SoundEffect": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "sound-effects"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "description": "Sound effect title."
              },
              "description": {
                "type": "string",
                "description": "Brief description."
              },
              "duration": {
                "type": "integer",
                "description": "Duration in seconds."
              },
              "preview_url": {
                "type": "string",
                "format": "uri",
                "description": "URL to a preview audio clip."
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "categories": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ResourceIdentifier"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "categories"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Category name."
              },
              "description": {
                "type": "string",
                "description": "Category description."
              }
            }
          }
        }
      },
      "Playlist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "playlists"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Playlist name."
              },
              "description": {
                "type": "string",
                "description": "Playlist description."
              },
              "image_url": {
                "type": "string",
                "format": "uri",
                "description": "URL to the playlist cover image."
              },
              "songs_count": {
                "type": "integer",
                "description": "Number of songs in the playlist."
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "songs": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ResourceIdentifier"
                    }
                  }
                }
              },
              "playlist_category": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ResourceIdentifier"
                  }
                }
              }
            }
          }
        }
      },
      "PlaylistCategory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "playlist-categories"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Playlist category name."
              },
              "description": {
                "type": "string",
                "description": "Playlist category description."
              }
            }
          }
        }
      },
      "YoutubeCode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "youtube-codes"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "The generated YouTube Content ID code."
              },
              "song_id": {
                "type": "string",
                "description": "ID of the associated song."
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "PrivatePlaylist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "private-playlists"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Playlist name."
              },
              "description": {
                "type": "string",
                "description": "Playlist description."
              },
              "songs_count": {
                "type": "integer",
                "description": "Number of songs."
              },
              "sound_effects_count": {
                "type": "integer",
                "description": "Number of sound effects."
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "songs": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ResourceIdentifier"
                    }
                  }
                }
              },
              "sound_effects": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ResourceIdentifier"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PrivatePlaylistInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the playlist."
          },
          "description": {
            "type": "string",
            "description": "Description of the playlist."
          }
        }
      },
      "PlaylistItemsInput": {
        "type": "object",
        "required": [
          "ids"
        ],
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of resource IDs to add or remove."
          }
        }
      },
      "ResourceIdentifier": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "HTTP status code as a string."
                },
                "title": {
                  "type": "string",
                  "description": "Short summary of the error."
                },
                "detail": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request. The request was malformed or missing required parameters.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized. Invalid or missing authentication credentials.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found. The requested resource does not exist.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    },
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Songs",
      "description": "Browse and retrieve songs"
    },
    {
      "name": "Tags",
      "description": "List available tags for filtering"
    },
    {
      "name": "SoundEffects",
      "description": "Browse and retrieve sound effects"
    },
    {
      "name": "Categories",
      "description": "Sound effect categories"
    },
    {
      "name": "Playlists",
      "description": "Curated playlists"
    },
    {
      "name": "PlaylistCategories",
      "description": "Playlist categories"
    },
    {
      "name": "DigitalUsages",
      "description": "Generate digital usage codes"
    },
    {
      "name": "PrivatePlaylists",
      "description": "Manage user private playlists"
    }
  ]
}