{
  "openapi": "3.0.3",
  "info": {
    "title": "MiroTalk SFU API",
    "description": "REST API for external applications that integrate with MiroTalk SFU video conferencing. Provides endpoints for managing meetings, generating join URLs, creating tokens, and retrieving statistics.",
    "version": "1.0.1",
    "x-jentic-source-url": "https://sfu.mirotalk.com/api/v1/docs"
  },
  "servers": [
    {
      "url": "https://sfu.mirotalk.com/api/v1",
      "description": "MiroTalk SFU production server"
    }
  ],
  "paths": {
    "/stats": {
      "get": {
        "operationId": "getStats",
        "summary": "Get meeting statistics",
        "description": "Retrieves current meeting statistics including total rooms and peers.",
        "tags": [
          "stats"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - invalid API key"
          }
        }
      }
    },
    "/meetings": {
      "get": {
        "operationId": "listMeetings",
        "summary": "List all active meetings",
        "description": "Retrieves a list of all active meetings with participant details.",
        "tags": [
          "meetings"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with meetings list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeetingsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - invalid API key"
          }
        }
      }
    },
    "/meeting": {
      "post": {
        "operationId": "createMeeting",
        "summary": "Create a new meeting",
        "description": "Creates a new meeting room and returns the meeting identifier.",
        "tags": [
          "meeting"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeetingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - invalid API key"
          }
        }
      }
    },
    "/meeting/{room}": {
      "delete": {
        "operationId": "endMeeting",
        "summary": "End a meeting",
        "description": "Terminates a meeting and optionally redirects participants to a specified URL.",
        "tags": [
          "meeting"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "room",
            "in": "path",
            "required": true,
            "description": "The room name/ID of the meeting to end",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndMeetingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Meeting ended successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndMeetingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - invalid API key"
          },
          "404": {
            "description": "Room not found"
          }
        }
      }
    },
    "/join": {
      "post": {
        "operationId": "generateJoinUrl",
        "summary": "Generate a direct join URL",
        "description": "Generates a direct join URL with customizable meeting parameters for audio, video, screen sharing, and more.",
        "tags": [
          "join"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Join URL generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JoinResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - invalid API key"
          }
        }
      }
    },
    "/token": {
      "post": {
        "operationId": "createToken",
        "summary": "Create an authentication token",
        "description": "Issues an authentication token with configurable expiration and presenter permissions.",
        "tags": [
          "token"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - invalid API key"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "authorization",
        "description": "API key secret passed in the authorization header"
      }
    },
    "schemas": {
      "StatsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "totalRooms": {
            "type": "integer"
          },
          "totalPeers": {
            "type": "integer"
          }
        }
      },
      "MeetingsResponse": {
        "type": "object",
        "properties": {
          "meetings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Meeting"
            }
          }
        }
      },
      "Meeting": {
        "type": "object",
        "properties": {
          "roomId": {
            "type": "string"
          },
          "peers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Peer"
            }
          }
        }
      },
      "Peer": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "video": {
            "type": "boolean"
          },
          "audio": {
            "type": "boolean"
          },
          "screen": {
            "type": "boolean"
          },
          "hand": {
            "type": "boolean"
          },
          "privacy": {
            "type": "boolean"
          },
          "os": {
            "type": "string"
          },
          "browser": {
            "type": "string"
          }
        }
      },
      "MeetingResponse": {
        "type": "object",
        "properties": {
          "meeting": {
            "type": "string",
            "description": "Meeting identifier"
          }
        }
      },
      "EndMeetingRequest": {
        "type": "object",
        "properties": {
          "redirect": {
            "type": "string",
            "description": "URL to redirect peers to after the meeting ends"
          }
        }
      },
      "EndMeetingResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "room": {
            "type": "string"
          }
        }
      },
      "JoinRequest": {
        "type": "object",
        "properties": {
          "room": {
            "type": "string",
            "default": "test"
          },
          "roomPassword": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string"
              }
            ],
            "default": false
          },
          "name": {
            "type": "string",
            "default": "mirotalksfu"
          },
          "avatar": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string"
              }
            ],
            "default": false
          },
          "audio": {
            "type": "boolean",
            "default": false
          },
          "video": {
            "type": "boolean",
            "default": false
          },
          "screen": {
            "type": "boolean",
            "default": false
          },
          "chat": {
            "type": "boolean",
            "default": false
          },
          "hide": {
            "type": "boolean",
            "default": false
          },
          "notify": {
            "type": "boolean",
            "default": false
          },
          "duration": {
            "type": "string",
            "default": "unlimited"
          },
          "token": {
            "$ref": "#/components/schemas/TokenRequest"
          }
        }
      },
      "JoinResponse": {
        "type": "object",
        "properties": {
          "join": {
            "type": "string",
            "description": "Join URL"
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "default": "username"
          },
          "password": {
            "type": "string",
            "default": "password"
          },
          "presenter": {
            "type": "boolean",
            "default": true
          },
          "expire": {
            "type": "string",
            "default": "1h"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ]
}