{
  "openapi": "3.0.3",
  "info": {
    "title": "Vectara API",
    "version": "2.0.0",
    "description": "Vectara is a GenAI platform providing Retrieval Augmented Generation (RAG) as a service. The API enables corpus management, document indexing, and semantic search with grounded generation.",
    "x-jentic-source-url": "https://docs.vectara.com/docs/rest-api"
  },
  "servers": [
    {
      "url": "https://api.vectara.io/v2"
    }
  ],
  "paths": {
    "/corpora": {
      "get": {
        "operationId": "listCorpora",
        "summary": "List corpora",
        "description": "Lists all corpora in the account.",
        "tags": ["Corpora"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": { "type": "integer", "default": 10 }
          },
          {
            "name": "page_key",
            "in": "query",
            "description": "Pagination key for next page",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CorporaListResponse" }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "createCorpus",
        "summary": "Create a corpus",
        "description": "Creates a new corpus for indexing and searching documents.",
        "tags": ["Corpora"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CorpusCreate" }
            }
          }
        },
        "responses": {
          "201": { "description": "Corpus created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Corpus" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/corpora/{corpus_key}": {
      "get": {
        "operationId": "getCorpus",
        "summary": "Get a corpus",
        "description": "Retrieves details about a specific corpus.",
        "tags": ["Corpora"],
        "parameters": [
          { "name": "corpus_key", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Corpus" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "patch": {
        "operationId": "updateCorpus",
        "summary": "Update a corpus",
        "tags": ["Corpora"],
        "parameters": [
          { "name": "corpus_key", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CorpusUpdate" } } }
        },
        "responses": {
          "200": { "description": "Corpus updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Corpus" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "deleteCorpus",
        "summary": "Delete a corpus",
        "tags": ["Corpora"],
        "parameters": [
          { "name": "corpus_key", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "204": { "description": "Corpus deleted" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/corpora/{corpus_key}/documents": {
      "get": {
        "operationId": "listDocuments",
        "summary": "List documents in a corpus",
        "tags": ["Documents"],
        "parameters": [
          { "name": "corpus_key", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 10 } },
          { "name": "page_key", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DocumentListResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "addDocument",
        "summary": "Add a document to a corpus",
        "tags": ["Documents"],
        "parameters": [
          { "name": "corpus_key", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DocumentCreate" } } }
        },
        "responses": {
          "201": { "description": "Document added", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/corpora/{corpus_key}/documents/{document_id}": {
      "get": {
        "operationId": "getDocument",
        "summary": "Get a document",
        "tags": ["Documents"],
        "parameters": [
          { "name": "corpus_key", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "deleteDocument",
        "summary": "Delete a document",
        "tags": ["Documents"],
        "parameters": [
          { "name": "corpus_key", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "document_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "204": { "description": "Document deleted" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/query": {
      "post": {
        "operationId": "query",
        "summary": "Query corpora",
        "description": "Performs a semantic search query across one or more corpora with optional generative summarization.",
        "tags": ["Search"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/QueryRequest" } } }
        },
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/QueryResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/chat": {
      "post": {
        "operationId": "createChat",
        "summary": "Create a chat session",
        "description": "Creates a new chat session with RAG-powered responses.",
        "tags": ["Chat"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChatRequest" } } }
        },
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChatResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/chats/{chat_id}/turns": {
      "post": {
        "operationId": "addChatTurn",
        "summary": "Add a turn to a chat",
        "description": "Adds a new turn (message) to an existing chat session.",
        "tags": ["Chat"],
        "parameters": [
          { "name": "chat_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChatTurnRequest" } } }
        },
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChatResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Corpus": {
        "type": "object",
        "properties": {
          "key": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "enabled": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CorpusCreate": {
        "type": "object",
        "required": ["key", "name"],
        "properties": {
          "key": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" }
        }
      },
      "CorpusUpdate": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "enabled": { "type": "boolean" }
        }
      },
      "CorporaListResponse": {
        "type": "object",
        "properties": {
          "corpora": { "type": "array", "items": { "$ref": "#/components/schemas/Corpus" } },
          "metadata": { "$ref": "#/components/schemas/PaginationMetadata" }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "metadata": { "type": "object", "additionalProperties": { "type": "string" } },
          "parts": { "type": "array", "items": { "$ref": "#/components/schemas/DocumentPart" } }
        }
      },
      "DocumentCreate": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": { "type": "string" },
          "type": { "type": "string", "enum": ["core", "structured"] },
          "metadata": { "type": "object", "additionalProperties": { "type": "string" } },
          "parts": { "type": "array", "items": { "$ref": "#/components/schemas/DocumentPartCreate" } }
        }
      },
      "DocumentPart": {
        "type": "object",
        "properties": {
          "text": { "type": "string" },
          "metadata": { "type": "object", "additionalProperties": { "type": "string" } }
        }
      },
      "DocumentPartCreate": {
        "type": "object",
        "required": ["text"],
        "properties": {
          "text": { "type": "string" },
          "metadata": { "type": "object", "additionalProperties": { "type": "string" } }
        }
      },
      "DocumentListResponse": {
        "type": "object",
        "properties": {
          "documents": { "type": "array", "items": { "$ref": "#/components/schemas/Document" } },
          "metadata": { "$ref": "#/components/schemas/PaginationMetadata" }
        }
      },
      "QueryRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": { "type": "string" },
          "search": { "$ref": "#/components/schemas/SearchParameters" },
          "generation": { "$ref": "#/components/schemas/GenerationParameters" }
        }
      },
      "SearchParameters": {
        "type": "object",
        "properties": {
          "corpora": { "type": "array", "items": { "$ref": "#/components/schemas/SearchCorpus" } },
          "limit": { "type": "integer", "default": 10 },
          "offset": { "type": "integer", "default": 0 }
        }
      },
      "SearchCorpus": {
        "type": "object",
        "required": ["corpus_key"],
        "properties": {
          "corpus_key": { "type": "string" },
          "metadata_filter": { "type": "string" },
          "lexical_interpolation": { "type": "number" }
        }
      },
      "GenerationParameters": {
        "type": "object",
        "properties": {
          "prompt_name": { "type": "string" },
          "max_used_search_results": { "type": "integer" },
          "response_language": { "type": "string" }
        }
      },
      "QueryResponse": {
        "type": "object",
        "properties": {
          "summary": { "type": "string" },
          "search_results": { "type": "array", "items": { "$ref": "#/components/schemas/SearchResult" } }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "text": { "type": "string" },
          "score": { "type": "number" },
          "document_id": { "type": "string" },
          "part_metadata": { "type": "object", "additionalProperties": { "type": "string" } }
        }
      },
      "ChatRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": { "type": "string" },
          "search": { "$ref": "#/components/schemas/SearchParameters" },
          "generation": { "$ref": "#/components/schemas/GenerationParameters" }
        }
      },
      "ChatTurnRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": { "type": "string" },
          "search": { "$ref": "#/components/schemas/SearchParameters" }
        }
      },
      "ChatResponse": {
        "type": "object",
        "properties": {
          "chat_id": { "type": "string" },
          "turn_id": { "type": "string" },
          "answer": { "type": "string" },
          "search_results": { "type": "array", "items": { "$ref": "#/components/schemas/SearchResult" } }
        }
      },
      "PaginationMetadata": {
        "type": "object",
        "properties": {
          "page_key": { "type": "string" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "messages": { "type": "array", "items": { "type": "string" } },
          "request_id": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth2 JWT bearer token or API key"
      }
    }
  },
  "security": [
    { "bearerAuth": [] }
  ]
}
