{
  "openapi": "3.0.3",
  "info": {
    "title": "Kosmo Delivery API",
    "version": "2.0.0",
    "description": "Kosmo's last mile delivery API allows developers to integrate multiple delivery providers into their applications. Manage orders, stops, plans, quotes, locations, merchants, drivers, and webhooks.",
    "x-jentic-source-url": "https://kosmo.readme.io/reference/whats-kosmo"
  },
  "servers": [
    {
      "url": "https://api.kosmo.delivery"
    }
  ],
  "paths": {
    "/v2/orders": {
      "post": {
        "operationId": "createOrder",
        "summary": "Create order",
        "description": "Create a new delivery order",
        "tags": ["Orders"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Order created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Order"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "get": {
        "operationId": "listOrders",
        "summary": "List orders",
        "description": "List all orders",
        "tags": ["Orders"],
        "responses": {
          "200": {"description": "Orders listed", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Order"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/orders/{id}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get order",
        "description": "Get a specific order by ID",
        "tags": ["Orders"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Order details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Order"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/orders/{id}/cancel": {
      "post": {
        "operationId": "cancelOrder",
        "summary": "Cancel order",
        "description": "Cancel an existing order",
        "tags": ["Orders"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Order cancelled", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Order"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/orders/{id}/tips": {
      "put": {
        "operationId": "setOrderTips",
        "summary": "Set tips to order",
        "description": "Set tips for an order",
        "tags": ["Orders"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"amount": {"type": "number"}}}}}},
        "responses": {
          "200": {"description": "Tips set", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Order"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/orders/draft": {
      "post": {
        "operationId": "createDraftOrder",
        "summary": "Create draft order",
        "description": "Create a draft delivery order",
        "tags": ["Orders"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateOrderRequest"}}}},
        "responses": {
          "200": {"description": "Draft order created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Order"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/orders/draft/assign-driver": {
      "post": {
        "operationId": "assignDriverToDraft",
        "summary": "Assign driver to draft order",
        "description": "Assign a driver to a draft order",
        "tags": ["Orders"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"order_id": {"type": "string"}, "driver_id": {"type": "string"}}}}}},
        "responses": {
          "200": {"description": "Driver assigned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Order"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/stops": {
      "get": {
        "operationId": "findStop",
        "summary": "Find stop",
        "description": "Find a stop by criteria",
        "tags": ["Stops"],
        "responses": {
          "200": {"description": "Stops found", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Stop"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/stops/{id}": {
      "patch": {
        "operationId": "updateStop",
        "summary": "Update stop",
        "description": "Update a stop",
        "tags": ["Stops"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Stop"}}}},
        "responses": {
          "200": {"description": "Stop updated", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Stop"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/stops/{id}/cancel": {
      "post": {
        "operationId": "cancelStop",
        "summary": "Cancel stop",
        "description": "Cancel a stop",
        "tags": ["Stops"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Stop cancelled", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Stop"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/stops/batch-import": {
      "post": {
        "operationId": "batchImportStops",
        "summary": "Batch import stops",
        "description": "Import multiple stops at once",
        "tags": ["Stops"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Stop"}}}}},
        "responses": {
          "200": {"description": "Stops imported", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Stop"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/stops/merge": {
      "post": {
        "operationId": "mergeStops",
        "summary": "Merge stops",
        "description": "Merge multiple stops into one",
        "tags": ["Stops"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"stop_ids": {"type": "array", "items": {"type": "string"}}}}}}},
        "responses": {
          "200": {"description": "Stops merged", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Stop"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/plans/optimize": {
      "post": {
        "operationId": "optimizePlan",
        "summary": "Optimize plan",
        "description": "Optimize a delivery plan",
        "tags": ["Plans"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OptimizePlanRequest"}}}},
        "responses": {
          "200": {"description": "Plan optimized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Plan"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/plans/confirm": {
      "post": {
        "operationId": "confirmPlan",
        "summary": "Confirm plan",
        "description": "Confirm a delivery plan",
        "tags": ["Plans"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"plan_id": {"type": "string"}}}}}},
        "responses": {
          "200": {"description": "Plan confirmed", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Plan"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/quotes": {
      "post": {
        "operationId": "createQuotes",
        "summary": "Create quotes",
        "description": "Create delivery quotes",
        "tags": ["Quotes"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateQuoteRequest"}}}},
        "responses": {
          "200": {"description": "Quotes created", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Quote"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/quotes/{id}/accept": {
      "post": {
        "operationId": "acceptQuote",
        "summary": "Accept quote",
        "description": "Accept a delivery quote",
        "tags": ["Quotes"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Quote accepted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Quote"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/locations": {
      "get": {
        "operationId": "listLocations",
        "summary": "Get list of locations",
        "description": "Retrieve all locations",
        "tags": ["Locations"],
        "responses": {
          "200": {"description": "Locations listed", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Location"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createLocation",
        "summary": "Create location",
        "description": "Create a new location",
        "tags": ["Locations"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Location"}}}},
        "responses": {
          "200": {"description": "Location created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Location"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/orgs/merchants": {
      "post": {
        "operationId": "createMerchant",
        "summary": "Create merchant",
        "description": "Create a new merchant",
        "tags": ["Merchants"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Merchant"}}}},
        "responses": {
          "200": {"description": "Merchant created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Merchant"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "get": {
        "operationId": "getMerchants",
        "summary": "Get merchants",
        "description": "Get list of merchants",
        "tags": ["Merchants"],
        "responses": {
          "200": {"description": "Merchants listed", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Merchant"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/drivers": {
      "post": {
        "operationId": "createDriver",
        "summary": "Create driver",
        "description": "Create a new driver",
        "tags": ["Drivers"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Driver"}}}},
        "responses": {
          "200": {"description": "Driver created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Driver"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "get": {
        "operationId": "listDrivers",
        "summary": "Get list of drivers",
        "description": "Get all drivers",
        "tags": ["Drivers"],
        "responses": {
          "200": {"description": "Drivers listed", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Driver"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/v2/webhooks/kosmo": {
      "post": {
        "operationId": "webhookCallback",
        "summary": "Webhook callback",
        "description": "Webhook endpoint for receiving Kosmo events",
        "tags": ["Webhooks"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WebhookEvent"}}}},
        "responses": {
          "200": {"description": "Webhook received"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Order": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "status": {"type": "string"},
          "created_at": {"type": "string", "format": "date-time"},
          "updated_at": {"type": "string", "format": "date-time"}
        }
      },
      "CreateOrderRequest": {
        "type": "object",
        "properties": {
          "pickup": {"$ref": "#/components/schemas/Stop"},
          "dropoff": {"$ref": "#/components/schemas/Stop"}
        }
      },
      "Stop": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "address": {"type": "string"},
          "latitude": {"type": "number"},
          "longitude": {"type": "number"},
          "contact_name": {"type": "string"},
          "contact_phone": {"type": "string"}
        }
      },
      "Plan": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "status": {"type": "string"},
          "stops": {"type": "array", "items": {"$ref": "#/components/schemas/Stop"}}
        }
      },
      "OptimizePlanRequest": {
        "type": "object",
        "properties": {
          "stop_ids": {"type": "array", "items": {"type": "string"}}
        }
      },
      "Quote": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "price": {"type": "number"},
          "currency": {"type": "string"},
          "provider": {"type": "string"},
          "estimated_delivery": {"type": "string", "format": "date-time"}
        }
      },
      "CreateQuoteRequest": {
        "type": "object",
        "properties": {
          "pickup": {"$ref": "#/components/schemas/Stop"},
          "dropoff": {"$ref": "#/components/schemas/Stop"}
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "name": {"type": "string"},
          "address": {"type": "string"},
          "latitude": {"type": "number"},
          "longitude": {"type": "number"}
        }
      },
      "Merchant": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "name": {"type": "string"},
          "email": {"type": "string"}
        }
      },
      "Driver": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "name": {"type": "string"},
          "phone": {"type": "string"}
        }
      },
      "WebhookEvent": {
        "type": "object",
        "properties": {
          "event": {"type": "string"},
          "data": {"type": "object"}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {"type": "string"},
          "message": {"type": "string"}
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}