{
  "openapi": "3.0.3",
  "info": {
    "title": "Nobel Prize API",
    "version": "2.1",
    "description": "The Nobel Prize API provides open access to information about Nobel Prize laureates and Nobel Prizes from 1901 to present. Version 2 of the API returns data in JSON format with support for pagination, filtering by year, category, and other attributes.",
    "x-jentic-source-url": "https://www.nobelprize.org/about/developer-zone-2/"
  },
  "servers": [
    {
      "url": "https://api.nobelprize.org/2.1"
    }
  ],
  "paths": {
    "/nobelPrizes": {
      "get": {
        "operationId": "listNobelPrizes",
        "summary": "List Nobel Prizes",
        "description": "Returns a paginated list of all Nobel Prizes, optionally filtered by year range, category, and other criteria.",
        "tags": [
          "Nobel Prizes"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to return",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for results (asc or desc)",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "nobelPrizeYear",
            "in": "query",
            "description": "Filter by the year the Nobel Prize was awarded",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "yearTo",
            "in": "query",
            "description": "Filter prizes awarded up to this year",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "nobelPrizeCategory",
            "in": "query",
            "description": "Filter by Nobel Prize category (che, eco, lit, pea, phy, med)",
            "schema": {
              "type": "string",
              "enum": [
                "che",
                "eco",
                "lit",
                "pea",
                "phy",
                "med"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of Nobel Prizes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NobelPrizesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/nobelPrize/{category}/{year}": {
      "get": {
        "operationId": "getNobelPrize",
        "summary": "Get a specific Nobel Prize",
        "description": "Returns details of a specific Nobel Prize by category and year.",
        "tags": [
          "Nobel Prizes"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "description": "Nobel Prize category abbreviation",
            "schema": {
              "type": "string",
              "enum": [
                "che",
                "eco",
                "lit",
                "pea",
                "phy",
                "med"
              ]
            }
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "Year the Nobel Prize was awarded",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with Nobel Prize details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NobelPrizeDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Nobel Prize not found"
          }
        }
      }
    },
    "/laureates": {
      "get": {
        "operationId": "listLaureates",
        "summary": "List Nobel Prize laureates",
        "description": "Returns a paginated list of Nobel Prize laureates, optionally filtered by various criteria.",
        "tags": [
          "Laureates"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to return",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by laureate name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "description": "Filter by gender",
            "schema": {
              "type": "string",
              "enum": [
                "male",
                "female",
                "org"
              ]
            }
          },
          {
            "name": "nobelPrizeYear",
            "in": "query",
            "description": "Filter by the year of Nobel Prize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "nobelPrizeCategory",
            "in": "query",
            "description": "Filter by Nobel Prize category",
            "schema": {
              "type": "string",
              "enum": [
                "che",
                "eco",
                "lit",
                "pea",
                "phy",
                "med"
              ]
            }
          },
          {
            "name": "birthDate",
            "in": "query",
            "description": "Filter by birth date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "birthDateTo",
            "in": "query",
            "description": "Filter by birth date range end",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "deathDate",
            "in": "query",
            "description": "Filter by death date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "deathDateTo",
            "in": "query",
            "description": "Filter by death date range end",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "birthCountry",
            "in": "query",
            "description": "Filter by birth country",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of laureates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaureatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/laureate/{laureateID}": {
      "get": {
        "operationId": "getLaureate",
        "summary": "Get a specific laureate",
        "description": "Returns detailed information about a specific Nobel Prize laureate by ID.",
        "tags": [
          "Laureates"
        ],
        "parameters": [
          {
            "name": "laureateID",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the laureate",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with laureate details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaureateDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Laureate not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LocalizedString": {
        "type": "object",
        "properties": {
          "en": {
            "type": "string"
          },
          "no": {
            "type": "string"
          },
          "se": {
            "type": "string"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string"
          },
          "href": {
            "type": "string",
            "format": "uri"
          },
          "action": {
            "type": "string"
          },
          "types": {
            "type": "string"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          },
          "terms": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "disclaimer": {
            "type": "string"
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "format": "uri"
          },
          "self": {
            "type": "string",
            "format": "uri"
          },
          "next": {
            "type": "string",
            "format": "uri"
          },
          "last": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "NobelPrizeLaureate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "knownName": {
            "$ref": "#/components/schemas/LocalizedString"
          },
          "fullName": {
            "$ref": "#/components/schemas/LocalizedString"
          },
          "portion": {
            "type": "string"
          },
          "sortOrder": {
            "type": "string"
          },
          "motivation": {
            "$ref": "#/components/schemas/LocalizedString"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "NobelPrize": {
        "type": "object",
        "properties": {
          "awardYear": {
            "type": "string"
          },
          "category": {
            "$ref": "#/components/schemas/LocalizedString"
          },
          "categoryFullName": {
            "$ref": "#/components/schemas/LocalizedString"
          },
          "dateAwarded": {
            "type": "string",
            "format": "date"
          },
          "prizeAmount": {
            "type": "integer"
          },
          "prizeAmountAdjusted": {
            "type": "integer"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "laureates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NobelPrizeLaureate"
            }
          }
        }
      },
      "NobelPrizesResponse": {
        "type": "object",
        "properties": {
          "nobelPrizes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NobelPrize"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "NobelPrizeDetail": {
        "type": "object",
        "properties": {
          "awardYear": {
            "type": "string"
          },
          "category": {
            "$ref": "#/components/schemas/LocalizedString"
          },
          "categoryFullName": {
            "$ref": "#/components/schemas/LocalizedString"
          },
          "dateAwarded": {
            "type": "string",
            "format": "date"
          },
          "prizeAmount": {
            "type": "integer"
          },
          "prizeAmountAdjusted": {
            "type": "integer"
          },
          "laureates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NobelPrizeLaureate"
            }
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "city": {
            "$ref": "#/components/schemas/LocalizedString"
          },
          "country": {
            "$ref": "#/components/schemas/LocalizedString"
          },
          "cityNow": {
            "type": "object",
            "properties": {
              "en": {
                "type": "string"
              },
              "latitude": {
                "type": "string"
              },
              "longitude": {
                "type": "string"
              }
            }
          },
          "countryNow": {
            "type": "object",
            "properties": {
              "en": {
                "type": "string"
              },
              "latitude": {
                "type": "string"
              },
              "longitude": {
                "type": "string"
              }
            }
          },
          "continent": {
            "$ref": "#/components/schemas/LocalizedString"
          },
          "locationString": {
            "$ref": "#/components/schemas/LocalizedString"
          }
        }
      },
      "LaureateDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "knownName": {
            "$ref": "#/components/schemas/LocalizedString"
          },
          "givenName": {
            "$ref": "#/components/schemas/LocalizedString"
          },
          "familyName": {
            "$ref": "#/components/schemas/LocalizedString"
          },
          "fullName": {
            "$ref": "#/components/schemas/LocalizedString"
          },
          "fileName": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "birth": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string"
              },
              "place": {
                "$ref": "#/components/schemas/Location"
              }
            }
          },
          "death": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string"
              },
              "place": {
                "$ref": "#/components/schemas/Location"
              }
            }
          },
          "wikipedia": {
            "type": "object",
            "properties": {
              "slug": {
                "type": "string"
              },
              "english": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "wikidata": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "nobelPrizes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NobelPrize"
            }
          }
        }
      },
      "LaureatesResponse": {
        "type": "object",
        "properties": {
          "laureates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LaureateDetail"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "security": []
}