{
  "openapi": "3.0.0",
  "info": {
    "title": "Diagnostics API Client",
    "version": "2018-02-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/web-Diagnostics/2018-02-01/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/Diagnostics.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "web-Diagnostics",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/detectors": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site Name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectorResponseCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "App Service error response.",
                  "properties": {
                    "error": {
                      "description": "Error model.",
                      "properties": {
                        "code": {
                          "description": "Standardized string to programmatically identify the error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "details": {
                          "items": {
                            "description": "Detailed errors.",
                            "properties": {
                              "code": {
                                "description": "Standardized string to programmatically identify the error.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "message": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "target": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "readOnly": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "innererror": {
                          "description": "More information to debug error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "message": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "target": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "Diagnostics"
        ],
        "description": "List Hosting Environment Detector Responses",
        "operationId": "Diagnostics_ListHostingEnvironmentDetectorResponses",
        "summary": "List Hosting Environment Detector Responses",
        "x-ms-examples": {
          "Get App Service Environment Detector Responses": {
            "parameters": {
              "api-version": "2016-03-01",
              "name": "SampleAppServiceEnvironment",
              "resourceGroupName": "Sample-WestUSResourceGroup",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/hostingEnvironments/SampleAppServiceEnvironment/detectors/runtimeavailability",
                      "name": "runtimeavailability",
                      "properties": {
                        "dataset": [],
                        "metadata": {
                          "category": "Availability and Performance",
                          "description": "This detector analyzes all the requests to all applications running on this app service environment.",
                          "subCategory": "App Availability",
                          "supportTopicId": ""
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/detectors/{detectorName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "App Service Environment Name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Detector Resource Name",
            "in": "path",
            "name": "detectorName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start Time",
            "in": "query",
            "name": "startTime",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "End Time",
            "in": "query",
            "name": "endTime",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Time Grain",
            "in": "query",
            "name": "timeGrain",
            "schema": {
              "pattern": "PT[1-9][0-9]+[SMH]",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectorResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "App Service error response.",
                  "properties": {
                    "error": {
                      "description": "Error model.",
                      "properties": {
                        "code": {
                          "description": "Standardized string to programmatically identify the error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "details": {
                          "items": {
                            "description": "Detailed errors.",
                            "properties": {
                              "code": {
                                "description": "Standardized string to programmatically identify the error.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "message": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "target": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "readOnly": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "innererror": {
                          "description": "More information to debug error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "message": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "target": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "Diagnostics"
        ],
        "description": "Get Hosting Environment Detector Response",
        "operationId": "Diagnostics_GetHostingEnvironmentDetectorResponse",
        "summary": "Get Hosting Environment Detector Response",
        "x-ms-examples": {
          "Get App Service Environment Detector Responses": {
            "parameters": {
              "api-version": "2016-03-01",
              "detectorName": "runtimeavailability",
              "name": "SampleAppServiceEnvironment",
              "resourceGroupName": "Sample-WestUSResourceGroup",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/hostingEnvironments/SampleAppServiceEnvironment/detectors/runtimeavailability",
                  "name": "runtimeavailability",
                  "properties": {
                    "dataset": [
                      {
                        "renderingProperties": {
                          "description": "This detector breaks down the number of requests that your apps on this app service environment received for each status code.",
                          "renderingType": "TimeSeries",
                          "title": "Requests by Status Code"
                        },
                        "table": {
                          "columns": [
                            {
                              "columnName": "PreciseTimeStamp",
                              "columnType": "datetime",
                              "dataType": "DateTime"
                            },
                            {
                              "columnName": "count_Http2xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            },
                            {
                              "columnName": "count_Http3xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            },
                            {
                              "columnName": "count_Http4xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            },
                            {
                              "columnName": "count_Http5xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            }
                          ],
                          "rows": [
                            [
                              "2018-03-27 00:25:00+00:00",
                              "772705",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:30:00+00:00",
                              "787069",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:35:00+00:00",
                              "781627",
                              "0",
                              "1",
                              "0"
                            ],
                            [
                              "2018-03-27 00:40:00+00:00",
                              "785017",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:45:00+00:00",
                              "783518",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:50:00+00:00",
                              "785783",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:55:00+00:00",
                              "772874",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 01:00:00+00:00",
                              "787162",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 01:05:00+00:00",
                              "782036",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 01:10:00+00:00",
                              "784642",
                              "0",
                              "0",
                              "0"
                            ]
                          ],
                          "tableName": "Table_0"
                        }
                      }
                    ],
                    "metadata": {
                      "category": "Availability and Performance",
                      "description": "This detector analyzes all the requests to all applications running on this app service environment.",
                      "subCategory": "App Availability",
                      "supportTopicId": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/detectors": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site Name",
            "in": "path",
            "name": "siteName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectorResponseCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "App Service error response.",
                  "properties": {
                    "error": {
                      "description": "Error model.",
                      "properties": {
                        "code": {
                          "description": "Standardized string to programmatically identify the error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "details": {
                          "items": {
                            "description": "Detailed errors.",
                            "properties": {
                              "code": {
                                "description": "Standardized string to programmatically identify the error.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "message": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "target": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "readOnly": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "innererror": {
                          "description": "More information to debug error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "message": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "target": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "Diagnostics"
        ],
        "description": "List Site Detector Responses",
        "operationId": "Diagnostics_ListSiteDetectorResponses",
        "summary": "List Site Detector Responses",
        "x-ms-examples": {
          "Get App Detector Responses": {
            "parameters": {
              "api-version": "2016-03-01",
              "resourceGroupName": "Sample-WestUSResourceGroup",
              "siteName": "SampleApp",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/detectors/runtimeavailability",
                      "name": "runtimeavailability",
                      "properties": {
                        "dataset": [],
                        "metadata": {
                          "category": "Availability and Performance",
                          "description": "This detector analyzes the requests to your application.",
                          "subCategory": "App Availability",
                          "supportTopicId": ""
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "Get App Slot Detector Responses": {
            "parameters": {
              "api-version": "2016-03-01",
              "resourceGroupName": "Sample-WestUSResourceGroup",
              "siteName": "SampleApp",
              "slot": "staging",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/detectors/runtimeavailability",
                      "name": "runtimeavailability",
                      "properties": {
                        "dataset": [],
                        "metadata": {
                          "category": "Availability and Performance",
                          "description": "This detector analyzes the requests to your application.",
                          "subCategory": "App Availability",
                          "supportTopicId": ""
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/detectors/{detectorName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site Name",
            "in": "path",
            "name": "siteName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Detector Resource Name",
            "in": "path",
            "name": "detectorName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start Time",
            "in": "query",
            "name": "startTime",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "End Time",
            "in": "query",
            "name": "endTime",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Time Grain",
            "in": "query",
            "name": "timeGrain",
            "schema": {
              "pattern": "PT[1-9][0-9]+[SMH]",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectorResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "App Service error response.",
                  "properties": {
                    "error": {
                      "description": "Error model.",
                      "properties": {
                        "code": {
                          "description": "Standardized string to programmatically identify the error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "details": {
                          "items": {
                            "description": "Detailed errors.",
                            "properties": {
                              "code": {
                                "description": "Standardized string to programmatically identify the error.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "message": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "target": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "readOnly": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "innererror": {
                          "description": "More information to debug error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "message": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "target": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "Diagnostics"
        ],
        "description": "Get site detector response",
        "operationId": "Diagnostics_GetSiteDetectorResponse",
        "summary": "Get site detector response",
        "x-ms-examples": {
          "Get App Detector Response": {
            "parameters": {
              "api-version": "2016-03-01",
              "detectorName": "runtimeavailability",
              "resourceGroupName": "Sample-WestUSResourceGroup",
              "siteName": "SampleApp",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/detectors/runtimeavailability",
                  "name": "runtimeavailability",
                  "properties": {
                    "dataset": [
                      {
                        "renderingProperties": {
                          "description": "This detector breaks down the number of requests that your app received for each status code.",
                          "renderingType": "TimeSeries",
                          "title": "Requests by Status Code"
                        },
                        "table": {
                          "columns": [
                            {
                              "columnName": "PreciseTimeStamp",
                              "columnType": "datetime",
                              "dataType": "DateTime"
                            },
                            {
                              "columnName": "count_Http2xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            },
                            {
                              "columnName": "count_Http3xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            },
                            {
                              "columnName": "count_Http4xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            },
                            {
                              "columnName": "count_Http5xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            }
                          ],
                          "rows": [
                            [
                              "2018-03-27 00:25:00+00:00",
                              "772705",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:30:00+00:00",
                              "787069",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:35:00+00:00",
                              "781627",
                              "0",
                              "1",
                              "0"
                            ],
                            [
                              "2018-03-27 00:40:00+00:00",
                              "785017",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:45:00+00:00",
                              "783518",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:50:00+00:00",
                              "785783",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:55:00+00:00",
                              "772874",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 01:00:00+00:00",
                              "787162",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 01:05:00+00:00",
                              "782036",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 01:10:00+00:00",
                              "784642",
                              "0",
                              "0",
                              "0"
                            ]
                          ],
                          "tableName": "Table_0"
                        }
                      }
                    ],
                    "metadata": {
                      "category": "Availability and Performance",
                      "description": "This detector analyzes the requests to your application.",
                      "subCategory": "Web App Down",
                      "supportTopicId": ""
                    }
                  }
                }
              }
            }
          },
          "Get App Slot Detector Response": {
            "parameters": {
              "api-version": "2016-03-01",
              "detectorName": "runtimeavailability",
              "resourceGroupName": "Sample-WestUSResourceGroup",
              "siteName": "SampleApp",
              "slot": "staging",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/slots/staging/detectors/runtimeavailability",
                  "name": "runtimeavailability",
                  "properties": {
                    "dataset": [
                      {
                        "renderingProperties": {
                          "description": "This detector breaks down the number of requests that your app received for each status code.",
                          "renderingType": "TimeSeries",
                          "title": "Requests by Status Code"
                        },
                        "table": {
                          "columns": [
                            {
                              "columnName": "PreciseTimeStamp",
                              "columnType": "datetime",
                              "dataType": "DateTime"
                            },
                            {
                              "columnName": "count_Http2xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            },
                            {
                              "columnName": "count_Http3xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            },
                            {
                              "columnName": "count_Http4xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            },
                            {
                              "columnName": "count_Http5xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            }
                          ],
                          "rows": [
                            [
                              "2018-03-27 00:25:00+00:00",
                              "772705",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:30:00+00:00",
                              "787069",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:35:00+00:00",
                              "781627",
                              "0",
                              "1",
                              "0"
                            ],
                            [
                              "2018-03-27 00:40:00+00:00",
                              "785017",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:45:00+00:00",
                              "783518",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:50:00+00:00",
                              "785783",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:55:00+00:00",
                              "772874",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 01:00:00+00:00",
                              "787162",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 01:05:00+00:00",
                              "782036",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 01:10:00+00:00",
                              "784642",
                              "0",
                              "0",
                              "0"
                            ]
                          ],
                          "tableName": "Table_0"
                        }
                      }
                    ],
                    "metadata": {
                      "category": "Availability and Performance",
                      "description": "This detector analyzes the requests to your application.",
                      "subCategory": "Web App Down",
                      "supportTopicId": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site Name",
            "in": "path",
            "name": "siteName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnosticCategoryCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "App Service error response.",
                  "properties": {
                    "error": {
                      "description": "Error model.",
                      "properties": {
                        "code": {
                          "description": "Standardized string to programmatically identify the error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "details": {
                          "items": {
                            "description": "Detailed errors.",
                            "properties": {
                              "code": {
                                "description": "Standardized string to programmatically identify the error.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "message": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "target": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "readOnly": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "innererror": {
                          "description": "More information to debug error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "message": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "target": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "Diagnostics"
        ],
        "description": "Get Diagnostics Categories",
        "operationId": "Diagnostics_ListSiteDiagnosticCategories",
        "summary": "Get Diagnostics Categories",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site Name",
            "in": "path",
            "name": "siteName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Diagnostic Category",
            "in": "path",
            "name": "diagnosticCategory",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnosticCategory"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "App Service error response.",
                  "properties": {
                    "error": {
                      "description": "Error model.",
                      "properties": {
                        "code": {
                          "description": "Standardized string to programmatically identify the error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "details": {
                          "items": {
                            "description": "Detailed errors.",
                            "properties": {
                              "code": {
                                "description": "Standardized string to programmatically identify the error.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "message": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "target": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "readOnly": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "innererror": {
                          "description": "More information to debug error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "message": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "target": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "Diagnostics"
        ],
        "description": "Get Diagnostics Category",
        "operationId": "Diagnostics_GetSiteDiagnosticCategory",
        "summary": "Get Diagnostics Category"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site Name",
            "in": "path",
            "name": "siteName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Diagnostic Category",
            "in": "path",
            "name": "diagnosticCategory",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnosticAnalysisCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "App Service error response.",
                  "properties": {
                    "error": {
                      "description": "Error model.",
                      "properties": {
                        "code": {
                          "description": "Standardized string to programmatically identify the error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "details": {
                          "items": {
                            "description": "Detailed errors.",
                            "properties": {
                              "code": {
                                "description": "Standardized string to programmatically identify the error.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "message": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "target": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "readOnly": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "innererror": {
                          "description": "More information to debug error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "message": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "target": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "Diagnostics"
        ],
        "description": "Get Site Analyses",
        "operationId": "Diagnostics_ListSiteAnalyses",
        "summary": "Get Site Analyses",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site Name",
            "in": "path",
            "name": "siteName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Diagnostic Category",
            "in": "path",
            "name": "diagnosticCategory",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Analysis Name",
            "in": "path",
            "name": "analysisName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnosticAnalysis"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "App Service error response.",
                  "properties": {
                    "error": {
                      "description": "Error model.",
                      "properties": {
                        "code": {
                          "description": "Standardized string to programmatically identify the error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "details": {
                          "items": {
                            "description": "Detailed errors.",
                            "properties": {
                              "code": {
                                "description": "Standardized string to programmatically identify the error.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "message": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "target": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "readOnly": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "innererror": {
                          "description": "More information to debug error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "message": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "target": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "Diagnostics"
        ],
        "description": "Get Site Analysis",
        "operationId": "Diagnostics_GetSiteAnalysis",
        "summary": "Get Site Analysis"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}/execute": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site Name",
            "in": "path",
            "name": "siteName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Category Name",
            "in": "path",
            "name": "diagnosticCategory",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Analysis Resource Name",
            "in": "path",
            "name": "analysisName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start Time",
            "in": "query",
            "name": "startTime",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "End Time",
            "in": "query",
            "name": "endTime",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Time Grain",
            "in": "query",
            "name": "timeGrain",
            "schema": {
              "pattern": "PT[1-9][0-9]+[SMH]",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnosticAnalysis"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "App Service error response.",
                  "properties": {
                    "error": {
                      "description": "Error model.",
                      "properties": {
                        "code": {
                          "description": "Standardized string to programmatically identify the error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "details": {
                          "items": {
                            "description": "Detailed errors.",
                            "properties": {
                              "code": {
                                "description": "Standardized string to programmatically identify the error.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "message": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "target": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "readOnly": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "innererror": {
                          "description": "More information to debug error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "message": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "target": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "Diagnostics"
        ],
        "description": "Execute Analysis",
        "operationId": "Diagnostics_ExecuteSiteAnalysis",
        "summary": "Execute Analysis"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site Name",
            "in": "path",
            "name": "siteName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Diagnostic Category",
            "in": "path",
            "name": "diagnosticCategory",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnosticDetectorCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "App Service error response.",
                  "properties": {
                    "error": {
                      "description": "Error model.",
                      "properties": {
                        "code": {
                          "description": "Standardized string to programmatically identify the error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "details": {
                          "items": {
                            "description": "Detailed errors.",
                            "properties": {
                              "code": {
                                "description": "Standardized string to programmatically identify the error.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "message": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "target": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "readOnly": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "innererror": {
                          "description": "More information to debug error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "message": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "target": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "Diagnostics"
        ],
        "description": "Get Detectors",
        "operationId": "Diagnostics_ListSiteDetectors",
        "summary": "Get Detectors",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site Name",
            "in": "path",
            "name": "siteName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Diagnostic Category",
            "in": "path",
            "name": "diagnosticCategory",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Detector Name",
            "in": "path",
            "name": "detectorName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnosticDetectorCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "App Service error response.",
                  "properties": {
                    "error": {
                      "description": "Error model.",
                      "properties": {
                        "code": {
                          "description": "Standardized string to programmatically identify the error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "details": {
                          "items": {
                            "description": "Detailed errors.",
                            "properties": {
                              "code": {
                                "description": "Standardized string to programmatically identify the error.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "message": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "target": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "readOnly": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "innererror": {
                          "description": "More information to debug error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "message": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "target": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "Diagnostics"
        ],
        "description": "Get Detector",
        "operationId": "Diagnostics_GetSiteDetector",
        "summary": "Get Detector",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}/execute": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site Name",
            "in": "path",
            "name": "siteName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Detector Resource Name",
            "in": "path",
            "name": "detectorName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Category Name",
            "in": "path",
            "name": "diagnosticCategory",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start Time",
            "in": "query",
            "name": "startTime",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "End Time",
            "in": "query",
            "name": "endTime",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Time Grain",
            "in": "query",
            "name": "timeGrain",
            "schema": {
              "pattern": "PT[1-9][0-9]+[SMH]",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnosticDetectorResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "App Service error response.",
                  "properties": {
                    "error": {
                      "description": "Error model.",
                      "properties": {
                        "code": {
                          "description": "Standardized string to programmatically identify the error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "details": {
                          "items": {
                            "description": "Detailed errors.",
                            "properties": {
                              "code": {
                                "description": "Standardized string to programmatically identify the error.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "message": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "target": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "readOnly": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "innererror": {
                          "description": "More information to debug error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "message": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "target": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "Diagnostics"
        ],
        "description": "Execute Detector",
        "operationId": "Diagnostics_ExecuteSiteDetector",
        "summary": "Execute Detector"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/detectors": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site Name",
            "in": "path",
            "name": "siteName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Slot Name",
            "in": "path",
            "name": "slot",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectorResponseCollection"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "App Service error response.",
                  "properties": {
                    "error": {
                      "description": "Error model.",
                      "properties": {
                        "code": {
                          "description": "Standardized string to programmatically identify the error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "details": {
                          "items": {
                            "description": "Detailed errors.",
                            "properties": {
                              "code": {
                                "description": "Standardized string to programmatically identify the error.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "message": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "target": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "readOnly": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "innererror": {
                          "description": "More information to debug error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "message": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "target": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "Diagnostics"
        ],
        "description": "List Site Detector Responses",
        "operationId": "Diagnostics_ListSiteDetectorResponsesSlot",
        "summary": "List Site Detector Responses",
        "x-ms-examples": {
          "Get App Detector Responses": {
            "parameters": {
              "api-version": "2016-03-01",
              "resourceGroupName": "Sample-WestUSResourceGroup",
              "siteName": "SampleApp",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/detectors/runtimeavailability",
                      "name": "runtimeavailability",
                      "properties": {
                        "dataset": [],
                        "metadata": {
                          "category": "Availability and Performance",
                          "description": "This detector analyzes the requests to your application.",
                          "subCategory": "App Availability",
                          "supportTopicId": ""
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "Get App Slot Detector Responses": {
            "parameters": {
              "api-version": "2016-03-01",
              "resourceGroupName": "Sample-WestUSResourceGroup",
              "siteName": "SampleApp",
              "slot": "staging",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/detectors/runtimeavailability",
                      "name": "runtimeavailability",
                      "properties": {
                        "dataset": [],
                        "metadata": {
                          "category": "Availability and Performance",
                          "description": "This detector analyzes the requests to your application.",
                          "subCategory": "App Availability",
                          "supportTopicId": ""
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/detectors/{detectorName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Site Name",
            "in": "path",
            "name": "siteName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Detector Resource Name",
            "in": "path",
            "name": "detectorName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Slot Name",
            "in": "path",
            "name": "slot",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start Time",
            "in": "query",
            "name": "startTime",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "End Time",
            "in": "query",
            "name": "endTime",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Time Grain",
            "in": "query",
            "name": "timeGrain",
            "schema": {
              "pattern": "PT[1-9][0-9]+[SMH]",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectorResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "App Service error response.",
                  "properties": {
                    "error": {
                      "description": "Error model.",
                      "properties": {
                        "code": {
                          "description": "Standardized string to programmatically identify the error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "details": {
                          "items": {
                            "description": "Detailed errors.",
                            "properties": {
                              "code": {
                                "description": "Standardized string to programmatically identify the error.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "message": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "target": {
                                "description": "Detailed error description and debugging information.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "readOnly": true,
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "innererror": {
                          "description": "More information to debug error.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "message": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "target": {
                          "description": "Detailed error description and debugging information.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "App Service error response."
          }
        },
        "tags": [
          "Diagnostics"
        ],
        "description": "Get site detector response",
        "operationId": "Diagnostics_GetSiteDetectorResponseSlot",
        "summary": "Get site detector response",
        "x-ms-examples": {
          "Get App Detector Response": {
            "parameters": {
              "api-version": "2016-03-01",
              "detectorName": "runtimeavailability",
              "resourceGroupName": "Sample-WestUSResourceGroup",
              "siteName": "SampleApp",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/detectors/runtimeavailability",
                  "name": "runtimeavailability",
                  "properties": {
                    "dataset": [
                      {
                        "renderingProperties": {
                          "description": "This detector breaks down the number of requests that your app received for each status code.",
                          "renderingType": "TimeSeries",
                          "title": "Requests by Status Code"
                        },
                        "table": {
                          "columns": [
                            {
                              "columnName": "PreciseTimeStamp",
                              "columnType": "datetime",
                              "dataType": "DateTime"
                            },
                            {
                              "columnName": "count_Http2xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            },
                            {
                              "columnName": "count_Http3xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            },
                            {
                              "columnName": "count_Http4xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            },
                            {
                              "columnName": "count_Http5xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            }
                          ],
                          "rows": [
                            [
                              "2018-03-27 00:25:00+00:00",
                              "772705",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:30:00+00:00",
                              "787069",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:35:00+00:00",
                              "781627",
                              "0",
                              "1",
                              "0"
                            ],
                            [
                              "2018-03-27 00:40:00+00:00",
                              "785017",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:45:00+00:00",
                              "783518",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:50:00+00:00",
                              "785783",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:55:00+00:00",
                              "772874",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 01:00:00+00:00",
                              "787162",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 01:05:00+00:00",
                              "782036",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 01:10:00+00:00",
                              "784642",
                              "0",
                              "0",
                              "0"
                            ]
                          ],
                          "tableName": "Table_0"
                        }
                      }
                    ],
                    "metadata": {
                      "category": "Availability and Performance",
                      "description": "This detector analyzes the requests to your application.",
                      "subCategory": "Web App Down",
                      "supportTopicId": ""
                    }
                  }
                }
              }
            }
          },
          "Get App Slot Detector Response": {
            "parameters": {
              "api-version": "2016-03-01",
              "detectorName": "runtimeavailability",
              "resourceGroupName": "Sample-WestUSResourceGroup",
              "siteName": "SampleApp",
              "slot": "staging",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/slots/staging/detectors/runtimeavailability",
                  "name": "runtimeavailability",
                  "properties": {
                    "dataset": [
                      {
                        "renderingProperties": {
                          "description": "This detector breaks down the number of requests that your app received for each status code.",
                          "renderingType": "TimeSeries",
                          "title": "Requests by Status Code"
                        },
                        "table": {
                          "columns": [
                            {
                              "columnName": "PreciseTimeStamp",
                              "columnType": "datetime",
                              "dataType": "DateTime"
                            },
                            {
                              "columnName": "count_Http2xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            },
                            {
                              "columnName": "count_Http3xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            },
                            {
                              "columnName": "count_Http4xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            },
                            {
                              "columnName": "count_Http5xx",
                              "columnType": "long",
                              "dataType": "Int64"
                            }
                          ],
                          "rows": [
                            [
                              "2018-03-27 00:25:00+00:00",
                              "772705",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:30:00+00:00",
                              "787069",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:35:00+00:00",
                              "781627",
                              "0",
                              "1",
                              "0"
                            ],
                            [
                              "2018-03-27 00:40:00+00:00",
                              "785017",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:45:00+00:00",
                              "783518",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:50:00+00:00",
                              "785783",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 00:55:00+00:00",
                              "772874",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 01:00:00+00:00",
                              "787162",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 01:05:00+00:00",
                              "782036",
                              "0",
                              "0",
                              "0"
                            ],
                            [
                              "2018-03-27 01:10:00+00:00",
                              "784642",
                              "0",
                              "0",
[...]
