{
  "swagger": "2.0",
  "info": {
    "version": "1.0.8",
    "title": "API Inventory",
    "description": "## API Inventory\n\nFerguson's API Inventory Product for exchanging inventory data with 3rd party companies.\n&nbsp;\nA simple `GET` URI endpoint that has the product **id** as a query path parameter and **locationId** & **regionCode** as query string parameters:\n```js\n[GET]/v1/inventories/{id}?locationId={locationId}&regionCode={regionCode}\n```\n```js\n[GET]/v1/inventories/{id}?locationId=60&regionCode=MYERS\n```\n<details>\n  <summary>Click to see returned response</summary>\n```JSON\n{\n  \"results\": [\n    {\n      \"id\": \"31523\",\n      \"locationId\": \"60\",\n      \"regionCode\": \"MYERS\",\n      \"quantity\": 3198\n    }\n  ]\n}\n```\n</details>\nIf there aren't any products available at that location, the API backend service will simply return a 404.\n&nbsp;\n**_NOTE: basePath is actually /v1/inventories but is removed for readability._**    ",
    "termsOfService": "https://developer.ferguson.com/TOS",
    "contact": {
      "name": "Ferguson API Support",
      "email": "api.team@ferguson.com",
      "url": "https://developer.ferguson.com/support"
    },
    "license": {
      "name": "Ferguson APIs",
      "url": "https://developer.ferguson.com/licenses/LICENSE-1.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Ferguson-API/API-Inventory-Fuse/1.0.8/swagger.json"
  },
  "host": "uatapi2.ferguson.com",
  "tags": [
    {
      "name": "Product Inventory"
    }
  ],
  "schemes": [
    "https"
  ],
  "security": [
    {
      "application": []
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "parameters": {
    "productId": {
      "name": "id",
      "in": "path",
      "description": "ID of Product",
      "required": true,
      "type": "string"
    },
    "locationId": {
      "name": "locationId",
      "in": "query",
      "description": "ID of Location",
      "required": true,
      "type": "string"
    },
    "regionCode": {
      "name": "regionCode",
      "in": "path",
      "description": "ID of regionCode",
      "required": true,
      "type": "string"
    }
  },
  "paths": {
    "/v1/inventories/{id}": {
      "get": {
        "tags": [
          "Product Inventory"
        ],
        "description": "Returns a results array with the product's availability at this specific location & regionCode. If there's no products at that location, it simply returns a 404.",
        "operationId": "getInventory",
        "parameters": [
          {
            "$ref": "#/parameters/productId"
          },
          {
            "$ref": "#/parameters/locationId"
          },
          {
            "$ref": "#/parameters/regionCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Brief summary of product availability",
            "schema": {
              "$ref": "#/definitions/Availability-Details"
            }
          },
          "default": {
            "description": "Catch-all for all potential errors",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Availability-Detail": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Product id",
          "example": "31523"
        },
        "locationId": {
          "type": "string",
          "description": "location id",
          "example": "60"
        },
        "regionCode": {
          "type": "string",
          "description": "regionCode id",
          "example": "MYERS"
        },
        "quantity": {
          "type": "integer",
          "description": "number available",
          "example": 3198
        }
      }
    },
    "Availability-Details": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Availability-Detail"
          }
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "message": {
          "type": "array",
          "description": "Can contain a single string, array, integer or another JSON object. Intentionally vague as it will sometimes contain the error response from the backend server.",
          "items": {}
        },
        "error code": {
          "type": "string",
          "description": "HTTP status code."
        },
        "reason": {
          "type": "string",
          "description": "A short meaningful reason."
        },
        "contact": {
          "type": "string",
          "description": "Contact info for the error."
        }
      },
      "required": [
        "message",
        "error code",
        "reason",
        "contact"
      ]
    }
  },
  "securityDefinitions": {
    "application": {
      "description": "This API uses OAuth 2.0 client credentials grant type. You must use a Content-Type header of 'application/x-www-form-urlencoded' with form parameters of grant_type=client_credentials.\n\nYou can also specify an additional form parameter of 'expires_in' so long as it is less than 3600 seconds.\n&nbsp;\n",
      "type": "oauth2",
      "tokenUrl": "https://uatapi2.ferguson.com/oauth2/token",
      "flow": "application"
    }
  }
}