{
  "openapi": "3.0.3",
  "info": {
    "title": "Networx Public API",
    "description": "Networx exposes a few limited endpoints on its public API in order to integrate with external services to benefit our clients. The API supports webhook subscriptions for receiving lead data.",
    "version": "1.0.0",
    "contact": {
      "name": "Networx",
      "url": "https://www.networx.com"
    },
    "termsOfService": "https://www.networx.com/terms-use"
  },
  "servers": [
    {
      "url": "https://www.networx.com",
      "description": "Networx Production API"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/public/validate": {
      "get": {
        "operationId": "validateAuth",
        "summary": "Validate authentication",
        "description": "Use this route to validate your auth header. Returns the client name associated with the authenticated credentials.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successfully validated authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateResponse"
                },
                "example": {
                  "client_name": "John Doe's Carpentry"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing authentication credentials."
          }
        }
      }
    },
    "/public/subscription": {
      "post": {
        "operationId": "createSubscription",
        "summary": "Subscribe a new webhook",
        "description": "Use this route to subscribe a new webhook for this user. Each user can only have one webhook subscription at a time. The returned subscription_id should be saved in your system so you can later unsubscribe the user.",
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionRequest"
              },
              "example": {
                "webhook_url": "https://example.com/webhook/leads"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created webhook subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubscriptionResponse"
                },
                "example": {
                  "subscription_id": "dXNlcm5hbWU6cGFzc3dvcmQ="
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing authentication credentials."
          }
        }
      }
    },
    "/public/subscription/{subscription_id}": {
      "delete": {
        "operationId": "deleteSubscription",
        "summary": "Unsubscribe a webhook",
        "description": "Use this route to unsubscribe a user, preventing Networx from sending further leads to the provided webhook_url.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "required": true,
            "description": "The subscription_id returned when the user originally subscribed.",
            "schema": {
              "type": "string"
            },
            "example": "dXNlcm5hbWU6cGFzc3dvcmQ="
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully unsubscribed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsubscribeResponse"
                },
                "example": {
                  "message": "Unsubscribed successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing authentication credentials."
          },
          "404": {
            "description": "Subscription not found."
          }
        }
      }
    },
    "/public/test_trigger": {
      "get": {
        "operationId": "testTrigger",
        "summary": "Get example lead data",
        "description": "Use this route to see an example of the dataset Networx will send when calling the webhook_url provided during subscription.",
        "tags": [
          "Testing"
        ],
        "responses": {
          "200": {
            "description": "Example lead data that would be sent to the webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadData"
                },
                "example": {
                  "first_name": "Zapier",
                  "last_name": "Test",
                  "email": "test@networx.com",
                  "phone": "2135467892",
                  "address": "123 Fake Street",
                  "city": "Nowhere",
                  "state": "TK",
                  "zip": "00001",
                  "task_name": "Carpentry",
                  "task_category": "Carpentry",
                  "network": "Carpentry",
                  "extra_information": "Test description",
                  "lead_id": "12345678",
                  "company_name": "John Doe's Carpentry",
                  "is_exclusive": false,
                  "price": "12.4",
                  "source_id": "123456kl",
                  "lead_date": "2025-02-11T11:13:39+02:00",
                  "lead_attributes[What kind of location is this?]": "Home / Residence",
                  "trustedform_cert_url": "https://cert.trustedform.com",
                  "plan_id": "12345",
                  "plan_name": "My Plan"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing authentication credentials."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Authentication is done using basic auth. The auth string should be in the form of username:password using base64 encoding. Example header: Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ="
      }
    },
    "schemas": {
      "ValidateResponse": {
        "type": "object",
        "properties": {
          "client_name": {
            "type": "string",
            "description": "The name of the authenticated client."
          }
        },
        "required": [
          "client_name"
        ]
      },
      "CreateSubscriptionRequest": {
        "type": "object",
        "properties": {
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "The webhook URL that Networx will use to send leads to you."
          }
        },
        "required": [
          "webhook_url"
        ]
      },
      "CreateSubscriptionResponse": {
        "type": "object",
        "properties": {
          "subscription_id": {
            "type": "string",
            "description": "The subscription ID that should be saved in your system for later unsubscription."
          }
        },
        "required": [
          "subscription_id"
        ]
      },
      "UnsubscribeResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A message confirming the unsubscription."
          }
        },
        "required": [
          "message"
        ]
      },
      "LeadData": {
        "type": "object",
        "description": "The lead data payload that Networx sends to your webhook URL when a new lead is available.",
        "properties": {
          "first_name": {
            "type": "string",
            "description": "First name of the lead."
          },
          "last_name": {
            "type": "string",
            "description": "Last name of the lead."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the lead."
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the lead."
          },
          "address": {
            "type": "string",
            "description": "Street address of the lead."
          },
          "city": {
            "type": "string",
            "description": "City of the lead."
          },
          "state": {
            "type": "string",
            "description": "State abbreviation of the lead."
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the lead."
          },
          "task_name": {
            "type": "string",
            "description": "Name of the task/service requested."
          },
          "task_category": {
            "type": "string",
            "description": "Category of the task/service."
          },
          "network": {
            "type": "string",
            "description": "The network associated with the lead."
          },
          "extra_information": {
            "type": "string",
            "description": "Additional information or description provided by the lead."
          },
          "lead_id": {
            "type": "string",
            "description": "Unique identifier for the lead."
          },
          "company_name": {
            "type": "string",
            "description": "Name of the company receiving the lead."
          },
          "is_exclusive": {
            "type": "boolean",
            "description": "Whether the lead is exclusive to this company."
          },
          "price": {
            "type": "string",
            "description": "The price/cost of the lead."
          },
          "source_id": {
            "type": "string",
            "description": "Identifier for the lead source."
          },
          "lead_date": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the lead was generated, in ISO 8601 format."
          },
          "trustedform_cert_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the TrustedForm certificate for lead verification."
          },
          "plan_id": {
            "type": "string",
            "description": "Identifier for the subscription plan."
          },
          "plan_name": {
            "type": "string",
            "description": "Name of the subscription plan."
          }
        },
        "additionalProperties": {
          "type": "string",
          "description": "Additional dynamic lead attributes, such as 'lead_attributes[What kind of location is this?]'."
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Endpoints for validating authentication credentials."
    },
    {
      "name": "Subscriptions",
      "description": "Endpoints for managing webhook subscriptions to receive lead data."
    },
    {
      "name": "Testing",
      "description": "Endpoints for testing the webhook integration with example data."
    }
  ]
}
