{
  "swagger": "2.0",
  "info": {
    "description": "Api encargada de la administracion de las bovedas de tokenizacion",
    "version": "v2",
    "title": "API Visanet Tokenization",
    "termsOfService": "http://www.visanet.com.pe",
    "contact": {
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe",
      "email": "visanet@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/visanet/api.tokenization/v2/swagger.json"
  },
  "host": "apitestenv.vnforapps.com",
  "basePath": "/api.tokenization/v2",
  "tags": [
    {
      "name": "Tokenization",
      "description": "RESTful API to manage tokenization."
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/tokenize/remove/{vault}/{queryType}/{block}/{attribute}": {
      "post": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Remove",
        "description": "RESTful API to remove tokens.",
        "operationId": "remove",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "queryType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "attribute",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RetrieveResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request not valid"
          }
        }
      }
    },
    "/tokenize/retrieve/{vault}/{block}": {
      "get": {
        "tags": [
          "Tokenization"
        ],
        "summary": "RetrieveList",
        "description": "RESTful API to retrieve list of tokens.",
        "operationId": "retrieve",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TokenListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request not valid"
          }
        }
      }
    },
    "/tokenize/retrieve/{vault}/{queryType}/{block}/{attribute}": {
      "get": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Retrieve",
        "description": "RESTful API to retrieve one token.",
        "operationId": "retrieve1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Es el valor de la b\u00f3veda que se usar\u00e1 para el sistema. Por ejemplo ser\u00eda recurrent en la URL"
          },
          {
            "name": "queryType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Puede ser token o hash, seg\u00fan lo que se quiera recuperar, el valor enviando token o hash"
          },
          {
            "name": "block",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Es el c\u00f3digo que hace \u00fanico al tarjetahabiente, por ejemplo un usuario puede tener varias tarjetas (tokens) y se asocia todas a una persona"
          },
          {
            "name": "attribute",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Es el token o hash a consultar (resuperado en el API Store)"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RetrieveResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request not valid"
          }
        }
      }
    },
    "/tokenize/store": {
      "post": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Store",
        "description": "RESTful API to store tokens.",
        "operationId": "store",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "initKeyRequest",
            "description": "Key to Initialize",
            "schema": {
              "$ref": "#/definitions/TokenizerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TokenizerResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request not valid"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "definitions": {
    "RetrieveResponse": {
      "type": "object",
      "properties": {
        "responseCode": {
          "type": "integer",
          "format": "int32"
        },
        "responseMessage": {
          "type": "string"
        },
        "result": {
          "type": "string"
        }
      }
    },
    "TokenListResponse": {
      "type": "object",
      "properties": {
        "responseCode": {
          "type": "integer",
          "format": "int32"
        },
        "responseMessage": {
          "type": "string"
        },
        "result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TokenizerResponse"
          }
        }
      }
    },
    "TokenizerResponse": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        },
        "hash": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "TokenizerRequest": {
      "type": "object",
      "properties": {
        "vault": {
          "type": "string",
          "description": "Es la b\u00f3veda en la que queremos registrar.Para Recurrentes, es recurrent"
        },
        "block": {
          "type": "string",
          "description": "Es el c\u00f3digo que identificar\u00e1 a un bloque de tokens, puede ser el c\u00f3digo de beneficiario"
        },
        "payload": {
          "type": "object",
          "description": "Es la data a tokenizar",
          "properties": {
            "key": {
              "type": "string",
              "description": "Es el valor de la tarjeta a tokenizar"
            },
            "value": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}