{"openapi":"3.0.3","info":{"title":"Polytomic API","version":"1.0.0","description":"Polytomic data integration API for managing connections, models, syncs, bulk syncs, schemas, webhooks, and organizations.","x-jentic-source-url":"https://apidocs.polytomic.com/"},"servers":[{"url":"https://app.polytomic.com/api"}],"paths":{"/connections":{"get":{"operationId":"listConnections","summary":"List connections","tags":["Connections"],"responses":{"200":{"description":"Connection list"},"401":{"description":"Unauthorized"}}},"post":{"operationId":"createConnection","summary":"Create connection","tags":["Connections"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"201":{"description":"Connection created"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/connections/{id}":{"get":{"operationId":"getConnection","summary":"Get connection","tags":["Connections"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Connection details"},"401":{"description":"Unauthorized"}}},"put":{"operationId":"updateConnection","summary":"Update connection","tags":["Connections"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Updated"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}},"delete":{"operationId":"deleteConnection","summary":"Delete connection","tags":["Connections"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted"},"401":{"description":"Unauthorized"}}}},"/models":{"get":{"operationId":"listModels","summary":"List models","tags":["Models"],"responses":{"200":{"description":"Model list"},"401":{"description":"Unauthorized"}}},"post":{"operationId":"createModel","summary":"Create model","tags":["Models"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"201":{"description":"Model created"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/models/{id}":{"get":{"operationId":"getModel","summary":"Get model","tags":["Models"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Model details"},"401":{"description":"Unauthorized"}}},"put":{"operationId":"updateModel","summary":"Update model","tags":["Models"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Updated"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}},"delete":{"operationId":"deleteModel","summary":"Delete model","tags":["Models"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted"},"401":{"description":"Unauthorized"}}}},"/syncs":{"get":{"operationId":"listSyncs","summary":"List syncs","tags":["Syncs"],"responses":{"200":{"description":"Sync list"},"401":{"description":"Unauthorized"}}},"post":{"operationId":"createSync","summary":"Create sync","tags":["Syncs"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"201":{"description":"Sync created"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/syncs/{id}":{"get":{"operationId":"getSync","summary":"Get sync","tags":["Syncs"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Sync details"},"401":{"description":"Unauthorized"}}},"put":{"operationId":"updateSync","summary":"Update sync","tags":["Syncs"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Updated"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}},"delete":{"operationId":"deleteSync","summary":"Delete sync","tags":["Syncs"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted"},"401":{"description":"Unauthorized"}}}},"/syncs/{id}/activate":{"post":{"operationId":"activateSync","summary":"Activate sync","tags":["Syncs"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Activated"},"401":{"description":"Unauthorized"}}}},"/syncs/{id}/start":{"post":{"operationId":"startSync","summary":"Start sync","tags":["Syncs"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Started"},"401":{"description":"Unauthorized"}}}},"/syncs/{id}/cancel":{"post":{"operationId":"cancelSync","summary":"Cancel sync","tags":["Syncs"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Cancelled"},"401":{"description":"Unauthorized"}}}},"/syncs/{id}/status":{"get":{"operationId":"getSyncStatus","summary":"Get sync status","tags":["Syncs"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Sync status"},"401":{"description":"Unauthorized"}}}},"/bulk-syncs":{"get":{"operationId":"listBulkSyncs","summary":"List bulk syncs","tags":["Bulk Syncs"],"responses":{"200":{"description":"Bulk sync list"},"401":{"description":"Unauthorized"}}},"post":{"operationId":"createBulkSync","summary":"Create bulk sync","tags":["Bulk Syncs"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"201":{"description":"Created"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/bulk-syncs/{id}":{"get":{"operationId":"getBulkSync","summary":"Get bulk sync","tags":["Bulk Syncs"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Bulk sync details"},"401":{"description":"Unauthorized"}}},"put":{"operationId":"updateBulkSync","summary":"Update bulk sync","tags":["Bulk Syncs"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Updated"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}},"delete":{"operationId":"deleteBulkSync","summary":"Delete bulk sync","tags":["Bulk Syncs"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted"},"401":{"description":"Unauthorized"}}}},"/bulk-syncs/{id}/start":{"post":{"operationId":"startBulkSync","summary":"Start bulk sync","tags":["Bulk Syncs"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Started"},"401":{"description":"Unauthorized"}}}},"/webhooks":{"get":{"operationId":"listWebhooks","summary":"List webhooks","tags":["Webhooks"],"responses":{"200":{"description":"Webhook list"},"401":{"description":"Unauthorized"}}},"post":{"operationId":"createWebhook","summary":"Create webhook","tags":["Webhooks"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"201":{"description":"Created"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/webhooks/{id}":{"get":{"operationId":"getWebhook","summary":"Get webhook","tags":["Webhooks"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Webhook details"},"401":{"description":"Unauthorized"}}},"put":{"operationId":"updateWebhook","summary":"Update webhook","tags":["Webhooks"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Updated"},"401":{"description":"Unauthorized"}}},"delete":{"operationId":"deleteWebhook","summary":"Delete webhook","tags":["Webhooks"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted"},"401":{"description":"Unauthorized"}}}},"/identity":{"get":{"operationId":"getIdentity","summary":"Get current identity","tags":["Identity"],"responses":{"200":{"description":"Identity"},"401":{"description":"Unauthorized"}}}},"/organizations":{"get":{"operationId":"listOrganizations","summary":"List organizations","tags":["Organizations"],"responses":{"200":{"description":"Org list"},"401":{"description":"Unauthorized"}}},"post":{"operationId":"createOrganization","summary":"Create organization","tags":["Organizations"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"201":{"description":"Created"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/organizations/{id}":{"get":{"operationId":"getOrganization","summary":"Get organization","tags":["Organizations"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Org details"},"401":{"description":"Unauthorized"}}},"put":{"operationId":"updateOrganization","summary":"Update organization","tags":["Organizations"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Updated"},"401":{"description":"Unauthorized"}}},"delete":{"operationId":"deleteOrganization","summary":"Delete organization","tags":["Organizations"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted"},"401":{"description":"Unauthorized"}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"}}}},"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"X-Polytomic-Version"},"bearerAuth":{"type":"http","scheme":"bearer"}}},"security":[{"bearerAuth":[]}]}
