{
  "openapi": "3.0.3",
  "info": {
    "title": "StubHub Seller API",
    "description": "StubHub API for sellers to manage ticket listings, handle webhooks for inventory and sales events, and authenticate via OAuth.",
    "version": "3.0.0",
    "x-jentic-source-url": "https://developer.stubhub.ie/get-started"
  },
  "servers": [
    {
      "url": "https://api.stubcloudprod.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/sellers/oauth/accesstoken": {
      "post": {
        "operationId": "generateaccesstoken",
        "summary": "Generate access token",
        "description": "Generates an access token for authenticating API requests using developer account credentials.",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "client_credentials"
              ]
            },
            "description": "OAuth2 grant type"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/partners/webhooks/v3": {
      "post": {
        "operationId": "registerwebhook",
        "summary": "Register webhook subscription",
        "description": "Registers a webhook endpoint to receive real-time notifications about inventory and sales events.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscriptionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sellers/inventory/listings/v3": {
      "post": {
        "operationId": "createlisting",
        "summary": "Create ticket listing",
        "description": "Creates a new ticket listing with product details and pricing.",
        "tags": [
          "Listings"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateListingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Listing created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateListingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid listing data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Base64 encoded consumer key:secret"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained from the access token endpoint"
      }
    },
    "schemas": {
      "AccessTokenRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "StubHub account email address"
          },
          "password": {
            "type": "string",
            "description": "StubHub account password"
          }
        },
        "required": [
          "username",
          "password"
        ]
      },
      "AccessTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "Bearer access token for API authentication"
          },
          "token_type": {
            "type": "string",
            "description": "Token type",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds"
          }
        }
      },
      "WebhookSubscriptionRequest": {
        "type": "object",
        "properties": {
          "callback": {
            "type": "object",
            "description": "Callback configuration",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "Webhook callback URL"
              },
              "auth": {
                "type": "object",
                "description": "Authentication configuration for the callback",
                "properties": {
                  "authType": {
                    "type": "string",
                    "description": "Authentication type"
                  },
                  "tokenEndPoint": {
                    "type": "string",
                    "format": "uri",
                    "description": "Token endpoint URL for OAuth authentication"
                  },
                  "oauthRequest": {
                    "type": "object",
                    "properties": {
                      "clientId": {
                        "type": "string",
                        "description": "OAuth client ID"
                      },
                      "clientSecret": {
                        "type": "string",
                        "description": "OAuth client secret"
                      },
                      "grantType": {
                        "type": "string",
                        "description": "OAuth grant type"
                      }
                    }
                  }
                }
              }
            },
            "required": [
              "url"
            ]
          },
          "subscription": {
            "type": "object",
            "description": "Subscription event types",
            "properties": {
              "listing": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of listing event types to subscribe to"
              }
            }
          }
        },
        "required": [
          "callback",
          "subscription"
        ]
      },
      "WebhookSubscriptionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique ID for the webhook registration"
          }
        }
      },
      "CreateListingRequest": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "integer",
            "description": "StubHub event identifier"
          },
          "pricePerProduct": {
            "type": "object",
            "description": "Price per ticket",
            "properties": {
              "amount": {
                "type": "number",
                "format": "double",
                "description": "Price amount"
              },
              "currency": {
                "type": "string",
                "description": "ISO 4217 currency code",
                "example": "EUR"
              }
            },
            "required": [
              "amount",
              "currency"
            ]
          },
          "externalListingId": {
            "type": "integer",
            "description": "External listing identifier from your system"
          },
          "products": {
            "type": "array",
            "description": "List of ticket products",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "stockType": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Stock type identifiers"
          },
          "paymentType": {
            "type": "integer",
            "description": "Payment type identifier"
          }
        },
        "required": [
          "eventId",
          "pricePerProduct",
          "products"
        ]
      },
      "Product": {
        "type": "object",
        "properties": {
          "externalId": {
            "type": "string",
            "description": "External product identifier"
          },
          "row": {
            "type": "string",
            "description": "Seat row"
          },
          "seat": {
            "type": "string",
            "description": "Seat number"
          },
          "productType": {
            "type": "string",
            "description": "Product type"
          },
          "ga": {
            "type": "boolean",
            "description": "Whether this is a general admission ticket"
          }
        }
      },
      "CreateListingResponse": {
        "type": "object",
        "properties": {
          "listingId": {
            "type": "string",
            "description": "StubHub listing identifier"
          },
          "status": {
            "type": "string",
            "description": "Listing status"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth token generation"
    },
    {
      "name": "Webhooks",
      "description": "Webhook subscription management"
    },
    {
      "name": "Listings",
      "description": "Ticket listing management"
    }
  ]
}