{
  "openapi": "3.0.3",
  "info": {
    "title": "Lofty Service Open APIs",
    "description": "Lofty service API description",
    "version": "1.0",
    "x-jentic-source-url": "https://api.chime.me/v3/api-docs"
  },
  "servers": [
    {
      "url": "https://api.lofty.com"
    }
  ],
  "tags": [
    {
      "name": "Listing",
      "description": "Listing data Controller"
    },
    {
      "name": "Opportunity",
      "description": "Operations about opportunity"
    },
    {
      "name": "Tasks & Appointments",
      "description": "Operations about tasks and appointments"
    },
    {
      "name": "Alerts",
      "description": "Alerts"
    },
    {
      "name": "Team Features",
      "description": "Operations about team feature"
    },
    {
      "name": "Vendor",
      "description": "Vendor"
    },
    {
      "name": "Calls",
      "description": "Operations about calls"
    },
    {
      "name": "Communication",
      "description": "Communication"
    },
    {
      "name": "Lead Routing",
      "description": "Operations about lead routing"
    },
    {
      "name": "Webhooks",
      "description": "Use webhooks to be notified about events that happen in a lofty account \nsupported webhook events:\n 1, Agent List\nList id: 1\nScope: UserResponse\n 2, Lead Information\nList id: 2\nScope: LeadResponse\n 3, Lead Activity\nList id: 3\nScope: LeadActivity 4, Listing Alert\nList id: 4\nScope: Alert\n"
    },
    {
      "name": "Agent Organization",
      "description": "Operations agent organization"
    },
    {
      "name": "Leads",
      "description": "Operations about leads"
    },
    {
      "name": "Members",
      "description": "Operations about team member"
    },
    {
      "name": "Agent User",
      "description": "Operations about agent user"
    },
    {
      "name": "Lead System Logs",
      "description": "query lead system logs"
    },
    {
      "name": "Notes",
      "description": "Operations about lead notes"
    },
    {
      "name": "Lead Manual Log",
      "description": "Operations about lead log call/log email/log text"
    },
    {
      "name": "Lead Transaction",
      "description": "Operations about leads"
    }
  ],
  "paths": {
    "/v1.0/tasks/{taskId}": {
      "get": {
        "tags": [
          "Tasks & Appointments"
        ],
        "summary": "Get task by Id",
        "operationId": "getTaskById",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "The ID of the task to get",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Tasks & Appointments"
        ],
        "summary": "Update a new task",
        "description": "If the finish flag is true, there is no need to update the rest of the task",
        "operationId": "updateTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "The ID of the Task to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Tasks & Appointments"
        ],
        "summary": "Delete a task",
        "operationId": "deleteTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "The ID of the Task to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/routing/rule/{type}": {
      "put": {
        "tags": [
          "Lead Routing"
        ],
        "summary": "Update routing rule",
        "operationId": "editRule",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Routing type: AGENT_LEAD(1), LENDER_LEAD(2), ASSISTANT_LEAD(4)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoutingRuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/routing/rule/supplement/{type}": {
      "get": {
        "tags": [
          "Lead Routing"
        ],
        "summary": "Get default rule",
        "operationId": "getSupplementRule",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Routing type: AGENT_LEAD(1), LENDER_LEAD(2), ASSISTANT_LEAD(4)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "roleId",
            "in": "query",
            "description": "Role id, This parameter is required when type == 4",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplementRoutingRule"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Lead Routing"
        ],
        "summary": "Update default routing rule",
        "operationId": "editSupplementRule",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Routing type: AGENT_LEAD(1), LENDER_LEAD(2), ASSISTANT_LEAD(4)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupplementRoutingRuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/org/office": {
      "put": {
        "tags": [
          "Agent Organization"
        ],
        "summary": "Add Agent Office",
        "operationId": "addOffice",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfficeOpenVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Agent Organization"
        ],
        "summary": "Update Agent Office",
        "operationId": "updateOffice",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfficeOpenVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/notes/{noteId}": {
      "get": {
        "tags": [
          "Notes"
        ],
        "summary": "Get note by Id",
        "operationId": "getNoteByNoteId",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "description": "ID of Note",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Notes"
        ],
        "summary": "Update a note",
        "operationId": "update",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "description": "The ID of the note to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Notes"
        ],
        "summary": "Delete a note",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "description": "The ID of the note to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/leads/{leadId}": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Get a lead by Id",
        "operationId": "get",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The ID of the lead to get.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "withTrash",
            "in": "query",
            "description": "Whether to query deleted lead.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Leads"
        ],
        "summary": "Update a lead",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The ID of the lead to update.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditLeadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Leads"
        ],
        "summary": "Delete a lead",
        "operationId": "trash",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The ID of the lead to trash.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "The reason to trash this lead",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/leads/{leadId}/transaction/{transactionId}": {
      "get": {
        "tags": [
          "Lead Transaction"
        ],
        "summary": "Get transaction by leadId AND transactionId",
        "operationId": "getTransactionsByTransactionId",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadTransaction"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Lead Transaction"
        ],
        "summary": "Update a transaction",
        "description": "Update a transaction for a lead.",
        "operationId": "updateTransaction",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadTransaction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/brokermint/transaction": {
      "put": {
        "tags": [
          "Lead Transaction"
        ],
        "summary": "Update a transaction from brokermint",
        "description": "Update a transaction from brokermint for a lead.",
        "operationId": "updateTransactionFromBrokermint",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncomingTransaction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/brokermint/lead": {
      "put": {
        "tags": [
          "Leads"
        ],
        "summary": "Update a lead from brokermint",
        "operationId": "updateContacts",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contacts"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/webhook": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Add a new webhook",
        "operationId": "add",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/teamFeatures/custom-field": {
      "post": {
        "tags": [
          "Team Features"
        ],
        "summary": "Add new custom field",
        "operationId": "addCustomField",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAttribute"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/tasks": {
      "get": {
        "tags": [
          "Tasks & Appointments"
        ],
        "summary": "Get tasks of lead",
        "operationId": "listTask",
        "parameters": [
          {
            "name": "leadId",
            "in": "query",
            "description": "The ID of the lead to get tasks",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Tasks & Appointments"
        ],
        "summary": "Add a new task",
        "operationId": "addTask",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/org/company": {
      "post": {
        "tags": [
          "Agent Organization"
        ],
        "summary": "Update Agent Company",
        "operationId": "updateCompany",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyOpenVo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/notes": {
      "get": {
        "tags": [
          "Notes"
        ],
        "summary": "Search for notes",
        "operationId": "list_2",
        "parameters": [
          {
            "name": "leadId",
            "in": "query",
            "description": "ID of Lead",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "includeSystemNote",
            "in": "query",
            "description": "Include System note or not",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoteResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Notes"
        ],
        "summary": "Add a note",
        "operationId": "add_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK\nExample: {noteId: 12345}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/message/sms/send": {
      "post": {
        "tags": [
          "Communication"
        ],
        "summary": "Send SMS message",
        "operationId": "sendSms",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/message/email/send": {
      "post": {
        "tags": [
          "Communication"
        ],
        "summary": "Send Email message",
        "operationId": "sendEmail",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailSendRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailSendResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/logType": {
      "get": {
        "tags": [
          "Lead Manual Log"
        ],
        "summary": "Search for log call/email/text",
        "operationId": "list_3",
        "parameters": [
          {
            "name": "leadId",
            "in": "query",
            "description": "ID of Lead",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "logType",
            "in": "query",
            "description": "query type value: logCall,logEmail,logText",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset default Value 0",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit default Value 10, max value 1000",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "currentId",
            "in": "query",
            "description": "This parameter is used for page turning. When searching by ID is invoked, the interface would starts from this ID, and retrieve data sequentially. It is recommended to use this parameter as a replacement for offset to turn the page within the limit.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "sort field: createTime (default) or id",
            "required": false,
            "schema": {
              "type": "string",
              "default": "createTime"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "sort order: asc (default) or desc",
            "required": false,
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LogTypeResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Lead Manual Log"
        ],
        "summary": "Add a log call/email/text",
        "operationId": "add_2",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogTypeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/leads": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Search for leads",
        "operationId": "list_4",
        "parameters": [
          {
            "name": "stage",
            "in": "query",
            "description": "Search for lead by pipeline stage names.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Search for lead by source name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Precise search for lead by phone number.\nExample: 3479033333",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Precise search for lead by email address.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignedUserId",
            "in": "query",
            "description": "Search for contacts by user that is assigned to them.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "contacted",
            "in": "query",
            "description": "Search for contacts by if they have or have not been contacted.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "groups",
            "in": "query",
            "description": "Search for lead by group names. deprecated, use segments instead.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segments",
            "in": "query",
            "description": "Search for lead by segment names.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allTags",
            "in": "query",
            "description": "Search for lead with all tag names.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anyTags",
            "in": "query",
            "description": "Search for lead with any tag names.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupIds",
            "in": "query",
            "description": "Search for lead by office ids.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "querySubGroup",
            "in": "query",
            "description": "Query sub group leads or not",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "scrollId",
            "in": "query",
            "description": "Scroll ID for the search. You can then use the scroll ID to retrieve the next batch of results for the request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Start index of the responded leads",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Quantitative limitation of responded leads, range: [1, 100]",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort order can be one of the following: Default, LastContact, LastCall, LastEmail, LastActivity, CreateTime, Inquries, DeleteTime, AssignTime, Score, Activity, Communication, HasDrip, HasAlert, Task, Lender, ActivitySearch, ActivityViews, ActivityFavorites, DripStatus, DripOpenRate, AlertFrequency, AlertOpenRate, SCOREV2 or SmartPlanStatus",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Descending sort(true) or ascending sort(false)",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "languages",
            "in": "query",
            "description": "Search for lead with any languages (abbreviation)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "preciseSearchFlag",
            "in": "query",
            "description": "Whether to precise search for leads based on email or phone",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "roleAssigneeFilters",
            "in": "query",
            "description": "[{\"roleName\":\"Lead assign role name\",\"assigneeToIds\":[111,222]}]",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Create a new lead",
        "description": "Lead routing will not be applied unless the leadRouting flag is set to true.\nSeller(1) Type Lead routing is controlled by LeadRequest.property schema.\nIf the given leadType is not Seller, the lead routing is determined by array LeadRequest.inquiry.locations[].",
        "operationId": "add_3",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK\nExample: {leadId: 651095960136641}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/leads/{leadId}/transaction": {
      "post": {
        "tags": [
          "Lead Transaction"
        ],
        "summary": "Add a transaction",
        "description": "Add a transaction for a lead.",
        "operationId": "addTransaction",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadTransaction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/leads/{leadId}/transaction/property/address": {
      "post": {
        "tags": [
          "Lead Transaction"
        ],
        "summary": "Update address of transaction's property",
        "description": "Update address of transaction's property for a lead.",
        "operationId": "updateTransactionPropertyAddress",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadTransactionPropertyAddress"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/leads/{leadId}/property": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Place a property",
        "description": "Place a property for a lead.",
        "operationId": "updateProperty",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadProperty"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/leads/{leadId}/inquiry": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Place an inquiry",
        "description": "Place an inquiry for a lead.",
        "operationId": "updateInquiry",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadInquiry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/leads/{leadId}/assignment": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Assign a lead",
        "description": "Place assignee to a lead.",
        "operationId": "assign",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "Lead assignees",
                "items": {
                  "$ref": "#/components/schemas/LeadAssigineeRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/leads/{leadId}/activity": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Add activity",
        "description": "Add activity to a lead.",
        "operationId": "activity",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadActivity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/leads/assignee": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Search for assignee by lead info",
        "operationId": "getAssigneeInfo",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadAssigneeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeadCustomRoleAssigneeInfo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/agent/send-notification": {
      "post": {
        "tags": [
          "Opportunity"
        ],
        "operationId": "sendOpportunityNotification",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpportunityNotificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/agent/profile/add": {
      "post": {
        "tags": [
          "Agent User"
        ],
        "summary": "Create a new agent with profile message",
        "operationId": "addAgent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentProfile"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultLong"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/agent/communication": {
      "post": {
        "tags": [
          "Communication"
        ],
        "summary": "Search for communication by agent",
        "operationId": "getCommunicationByAgent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get all webhook from current team",
        "operationId": "list",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/vendor/list": {
      "get": {
        "tags": [
          "Vendor"
        ],
        "summary": "Get vendor info",
        "operationId": "getVendorInfo",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VendorInfo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/users/{userId}": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "Get user by Id",
        "operationId": "getMemberById",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The ID of the user to get",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "deprecated": true
      }
    },
    "/v1.0/transaction/customfields": {
      "get": {
        "tags": [
          "Lead Transaction"
        ],
        "summary": "Get transaction all custom fields",
        "operationId": "getTransactionCustomFields",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/teamFeatures/listTag": {
      "get": {
        "tags": [
          "Team Features"
        ],
        "summary": "Search existing tag",
        "operationId": "listTag",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserLeadTag"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/teamFeatures/listCustomField": {
      "get": {
        "tags": [
          "Team Features"
        ],
        "summary": "Search custom field",
        "operationId": "listCustomField",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomAttribute"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/team-features/lead-ponds": {
      "get": {
        "tags": [
          "Team Features"
        ],
        "summary": "List lead pond",
        "operationId": "listLeadPonds",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeadPond"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/team-features/lead-pond/{id}": {
      "get": {
        "tags": [
          "Team Features"
        ],
        "summary": "Search lead pond",
        "operationId": "findPondById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadPond"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/systemLogs": {
      "get": {
        "tags": [
          "Lead System Logs"
        ],
        "summary": "Search for system logs",
        "operationId": "list_1",
        "parameters": [
          {
            "name": "leadId",
            "in": "query",
            "description": "ID of Lead",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "The timestamp of start",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "The timestamp of end",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number, first is 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SystemLogResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/routing/rule/list/{type}": {
      "get": {
        "tags": [
          "Lead Routing"
        ],
        "summary": "Get Routing List",
        "operationId": "listRule",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Routing type: AGENT_LEAD(1), LENDER_LEAD(2), ASSISTANT_LEAD(4)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "roleId",
            "in": "query",
            "description": "Role id, This parameter is required when type == 4",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingRule"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/routing/role/list": {
      "get": {
        "tags": [
          "Lead Routing"
        ],
        "summary": "Get Assign Role List",
        "operationId": "listRoleId",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssignRole"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/routing/member/list/{type}": {
      "get": {
        "tags": [
          "Lead Routing"
        ],
        "summary": "Get Assign Member List",
        "operationId": "listAssignMember",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Routing type: AGENT_LEAD(1), LENDER_LEAD(2), ASSISTANT_LEAD(4)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "roleId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": -1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssignMember"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/org": {
      "get": {
        "tags": [
          "Agent Organization"
        ],
        "summary": "Get User Organization",
        "operationId": "getOrgInfo",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/org/permission/profiles": {
      "get": {
        "tags": [
          "Agent Organization"
        ],
        "summary": "Get Permission Profiles",
        "operationId": "getPermissionProfile",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PermissionProfile"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/members": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "Get team members",
        "operationId": "getMembers",
        "parameters": [
          {
            "name": "groupIds",
            "in": "query",
            "description": "Group Ids of responded members",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Start index of the responded members",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Quantitative limitation of responded members",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/members/{account}": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "Get member by account",
        "description": "Get team member by member account.",
        "operationId": "getMemberByAccount",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "The account (email) of the team member to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/me": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "Get current user's info",
        "operationId": "getMemberAboutMe",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/logType/{logTypeId}": {
      "get": {
        "tags": [
          "Lead Manual Log"
        ],
        "summary": "Get log call/email/text by Id",
        "operationId": "getLogCallId",
        "parameters": [
          {
            "name": "logTypeId",
            "in": "path",
            "description": "ID of Log type",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogTypeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Lead Manual Log"
        ],
        "summary": "Delete a log type",
        "operationId": "delete_2",
        "parameters": [
          {
            "name": "logTypeId",
            "in": "path",
            "description": "The ID of the log type to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/listing": {
      "get": {
        "tags": [
          "Listing"
        ],
        "summary": "Get Listings",
        "operationId": "getByUserId",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "listingId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "nextPageKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "soldNextPageKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "mlsListingIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "street",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "soldListingId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "officeListings",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "agentListings",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "buildingName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "buildingAddress",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "showCondition",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/leads/{leadId}/transactions": {
      "get": {
        "tags": [
          "Lead Transaction"
        ],
        "summary": "Get transactions by leadId",
        "operationId": "listTransactionsByLeadId",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer [access_token]",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeadTransaction"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.0/leads/{leadId}/transaction/{transactionId}/property/address": {
      "get": {
        "tags": [
          "Lead Transaction"
[...]
