{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "fileAI production server",
      "url": "https://app.file.ai/backend/api"
    }
  ],
  "info": {
    "description": "This is an API that is aimed to simplify managing documents. If you have any questions about the API that are not covered in the following documentation, please click \"Contact the developer\" link underneath.\n>  Please, be aware that you need API key for accessing the API. You can get API keys through fileAI web-interface in the 'API Keys' section. As soon as you obtain your API key, you should include it in the each API request as an  `access_token` query parameter or `authorization` cookie argument. For example correctly configured url with query parameter will look the following:\n  ```\n  https://app.file.ai/backend/api/documents/extract?access_token=<YOUR_API_KEY>\n  ```\n",
    "version": "2.0.7",
    "title": "fileAI documents API",
    "contact": {
      "email": "developer@file.ai"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Bluesheets/BluesheetsAPI/2.0.7/swagger.json"
  },
  "tags": [
    {
      "name": "Document Endpoints"
    }
  ],
  "paths": {
    "/documents/markDocumentsExported": {
      "post": {
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "multipart/form-data"
              ]
            },
            "required": true
          }
        ],
        "tags": [
          "Document Endpoints"
        ],
        "summary": "Mark documents as exported",
        "operationId": "postMarkDocumentsExported",
        "description": "## WARNING! The endpoint has been officially deprecated. Please use a /v2 version of this endpoint.\nThis endpoint marks the document as successfully exported, creates an entry in the export queue, and creates an entry in the history of the document about the successful export.\n",
        "responses": {
          "200": {
            "description": "**The request was successful**. Request does not return data",
            "content": {}
          },
          "400": {
            "description": "**The request was not successful**. Invalid ExtractRequest object has been sent, there is a reason why this error may happen:\n  * `documentIds` property was not provided in the request;\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 400,
                    "message": "Message with the reason why RequestObject is invalid",
                    "name": "Error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "**The request was not successful**. Unauthorized request has been sent. It may happen due to the following reasons:\n  * You forgot to specify `access_token` query parameter or `authorization` cookie argument with the value of your API key;\n  * Your API key has been disabled by organziation owner;\n  * Your API key has been revoked by admin;\n  * You make the request from IP that is not specified in the IP's whitelist in the API key's settings.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestsMarkDocumentsExported"
              }
            }
          },
          "description": "Request body has following parameters in it:\n * `integrationName` **(default value - 'General')** - The name of the integration to which the document is to be exported;\n * `documentIds` **(required)** - Array of id documents to be exported;\n * `archive` - boolean value, if true - document will be archived after export\n"
        }
      }
    },
    "/documents/extract": {
      "post": {
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "multipart/form-data"
              ]
            },
            "required": true
          }
        ],
        "tags": [
          "Document Endpoints"
        ],
        "summary": "sending files to recognition",
        "operationId": "sendDocumentsToRecognition",
        "description": "## WARNING! The endpoint has been officially deprecated. Please use a /v2 version of this endpoint.\nYou can submit files to recognition using this endpoint. This endpoint\nis an asynchronous, therefore you will not receive recognized document\nright in the response. Instead, you will receive **Request** entity with\nholds the status of the recognition. If request is successful and you\nprovide valid `webhookUrl` in the body of the request, you will receive\nwebhook. Body of the request will be **RequestInfo** entity as response from `/v2/documents/status` with passed `page` parameter as 1. On the\nother hand you may receive webhook in two following cases:\n  * when request get status `pendingVerification` (each document was recognized at least once). **PLEASE NOTE: if all documents from the request was not in the `Analyzing` status after recognition, you will not receive webhook about this status and you will get only one webhook instead of two.**;\n  * when request get status `verified` (each document is with the status which is different from `Analyzing`).\n",
        "responses": {
          "200": {
            "description": "**The request was successful**. Request entity will be returned to you. **PLEASE NOTE:** the Request entity you get as a response contains `status` property which can take value `error` which means that documents were not sent to recognition and some error happened during this process, details of the error you can find in the `meta.message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                }
              }
            }
          },
          "400": {
            "description": "**The request was not successful**. Invalid ExtractRequest object has been sent, there are some reasons why this error may happen:\n  * `files` property was not provided in the body;\n  * `Content-Type` header is different from **application/json**;\n  * `webhookUrl` you provided is not valid url or it is a url onto localhost.\n  * `tag` you provided does not exist in the organization.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 400,
                    "message": "Message with the reason why RequestObject is invalid",
                    "name": "Error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "**The request was not successful**. Unauthorized request has been sent. It may happen due to the following reasons:\n  * You forgot to specify `access_token` query parameter or `authorization` cookie argument with the value of your API key;\n  * Your API key has been disabled by organziation owner;\n  * Your API key has been revoked by admin;\n  * You make the request from IP that is not specified in the IP's whitelist in the API key's settings.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ExtractRequestMultipartData"
              }
            }
          },
          "description": "Request body has following parameters in it:\n  * `files` **(required)** - each object could have meta and cookie. Meta used for specify tag and target document type; cookie to be returned with file as is. There are three ways of speficying files parameter:\n    - an array of objects that specifies file location at the S3 bucket, url *(required)*, and awsAccessKeyId *(optional)*, awsSecretAccessKey *(optional)* for getting file from the bucket, additionally, a *password* key can be included for decrypting password-protected PDF files.\n    - an array of objects that specified two keys: src *(required)*, that contains encoded base64 files in data URL and title *(required)*, that contains file name. A *password* key can also be included for decrypting password-protected PDF files.\n    - array of files using multipart/form-data\n    \n * `cookie` (optional) - any valid JSON type with user data that will be returned as-is to the webhook or during checking request status using **/documents/status** endpoint;\n * `webhookUrl` (optional) - a url you want to get webhooks on about request status.\n * `tag` (optional) - tag name or tag id you want to assign to the document, the system will assign 'General' tag if the tag with specified tag name doesn't exist.\n * `documentType` (optional) - document type id or name you want to assign to the document, if the document type is not found in the system, the system will determine the document type after the document is processed.\n * `reimbursable` (optional) - object used to create expense (will be used only if tag's generateExpense option is true).\n * `password` (optional) - a string used to decode password-protected PDF files. This password is applied to all items in the `files` array and is used only when the request is sent with `multipart/form-data`.\n"
        }
      }
    },
    "/documents/status": {
      "post": {
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "required": true
          }
        ],
        "tags": [
          "Document Endpoints"
        ],
        "summary": "construct and return request status",
        "operationId": "getRequestStatus",
        "description": "## WARNING! The endpoint has been officially deprecated. Please use a /v2 version of this endpoint.\nYou can use this method to retrieve information about specific request.\nA successful response you get from this method is the same as the one\nyou get on the `webhookUrl` provided to the **/documents/extract**\nendpoint during sending documents to recognition. But for webhook you can receive up to `documentsPerPage` documents at ones. And if you want to get other documents, you should use this endpoint. It provides parameter `page` that can be used to receive other documents by specifying number of the page. **Please note,\nfileAI system has a naming convention for certain line items'\ncolumns ([see naming\nconvention](https://docs.google.com/spreadsheets/d/11xI8bPiK1c6XWzOadbiiHfUeDqGqbdb7vZhjXHmMvNg/edit?usp=sharing))**\n",
        "responses": {
          "200": {
            "description": "**The request was successful**. Request information was retrieved. Structure of the response is the same as the structure of the request body sent to `webhookUrl`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestInfo"
                }
              }
            }
          },
          "400": {
            "description": "**The request was not successful**. Request has incorrect filter value (`statusIsArchived`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 400,
                    "message": "Value 2 is forbidden for filter 'statusIsArchived', following values are accepted: 1, 0",
                    "name": "Error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "**The request was not successful**. Uauthorized request has been sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "**The request was not successful**. Request with specified `requestId` was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 404,
                    "message": "Unknown request with id: {requestId}",
                    "name": "Error"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestObject"
              }
            }
          },
          "description": "Request body contains next parameters:\n  * `requestId` **(required)** - id of the request you want to get information about.\n  * `page` (optional) - page number of documents starting from 1\n  * `filter` (optional) - object where filter values are specified (currently the only available filter is `statusIsArchived` which can be either 0 for not archived documents or 1 for archived documents)\n"
        }
      }
    },
    "/documents/changeRequest": {
      "post": {
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "required": true
          }
        ],
        "tags": [
          "Document Endpoints"
        ],
        "summary": "submit change request",
        "operationId": "submitChangeRequest",
        "description": "## WARNING! The endpoint has been officially deprecated. Please use a /v2 version of this endpoint.\nThis method can be used to send already processed document back into processing queue. Use cases for this flow can be certain errors in document verification or certain edge cases that you can assist on. The steps of this method is similar to `/documents/extract` one except the thing that this endpoint operates with existing documents and create new change request associated with it. The status of the change request can be reviewed the same way as for extract request, using `/documents/status` endpoint.<br><br>\nSimilar to `/documents/extract`, this endpoint provides webhooks. When the document, requested by ChangeRequest, goes back to being 'Ready to Export', a webhook will be returned. They will contain the information about all documents that were submitted for recognition at once. Body of the request will be RequestInfo entity as response from `/documents/status`.\n",
        "responses": {
          "401": {
            "description": "**The request was not successful**. Uauthorized request has been sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "**The request was not successful**. Invalid ChangeRequest object has been sent, there are some reasons why this error may happen:\n  * `comment` property was not provided in the body;\n  * `documentId` property was not provided in the body\n  * `Content-Type` header is different from **application/json**;\n  * `webhookUrl` you provided is not valid url or it is a url onto localhost.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 422,
                    "message": "Message with the reason why ChangeRequest object is invalid",
                    "name": "Error"
                  }
                }
              }
            }
          },
          "200": {
            "description": "**The request was successful**. Structure of the response is the same as the structure of the request body sent to `webhookUrl`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "**The request was not successful**. Incorrect input data was send",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 400,
                    "message": "Unexpected number in JSON at position 80",
                    "name": "Error"
                  }
                }
              }
            }
          },
          "404": {
            "description": "**The request was not successful**. Document not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 404,
                    "message": "Error document with id 355711 not found",
                    "name": "Error"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeRequest"
              }
            }
          },
          "description": "Request body has following parameters in it:\n  * `comment` **(required)** - a comment with a statement what kind of change needs to be made on the document;\n  * `documentId` **(required)** - an id of the document the change is required for;\n * `cookie` (optional) - any valid JSON type with user data that will be returned as-is to the webhook or during checking request status using **/documents/status** endpoint;\n * `webhookUrl` (optional) - a url you want to get webhooks on about request status.\n"
        }
      }
    },
    "/documents/importJsonData": {
      "post": {
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "required": true
          }
        ],
        "tags": [
          "Document Endpoints"
        ],
        "summary": "import json data to fileAI system",
        "operationId": "importJsonData",
        "description": "This method can be used for sending data in JSON format into fileAI system to be processed and saved as documents.",
        "responses": {
          "401": {
            "description": "**The request was not successful**. Uauthorized request has been sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "**The request was not successful**. Invalid body data has been sent, there are some reasons why this error may happen:\n  * `data` property was not provided in the body;\n  * `userDocumentType` property was not provided in the body;\n  * `integrationName` property was not provided in the body\n  * `Content-Type` header is different from **application/json**;\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 422,
                    "message": "Message with the reason why body data is invalid",
                    "name": "Error"
                  }
                }
              }
            }
          },
          "200": {
            "description": "**The request was successful**.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportJsonDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "**The request was not successful**. Request with specified `integrationName` was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 400,
                    "message": "Integration {integrationName} does not support JSON documents import",
                    "name": "Error"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportJsonData"
              }
            }
          },
          "description": "Request body has following parameters in it:\n * `integrationName` **(required)** - name of the integration that sends documents in JSON format. Currently only General and Zonal intergations are available. General is default integration\n * `userDocumentType` **(optional)** - description of the userDocumentTypes (Tags) from GET /v2/userDocumentTypes endpoint. If blank, the tag will default to \"General\"\n * `documentType` **(required for General Integration)** - name of description of document types. Available document types for General Integration are Invoice (Sales), Invoice (Purchases), Purchase Order, Delivery Order, Bank Statement\n * `data` **(required)** - based on schema as per document type. Sample fields provided below is for Invoices. Fields will differ based on each differing document types.\n \nDo reach out to support@file.ai for fields relating to other document types, or any customization requests\n"
        }
      }
    },
    "/v2/userDocumentTypes": {
      "post": {
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "required": true
          }
        ],
        "tags": [
          "Document Endpoints"
        ],
        "summary": "create create tags into organization",
        "operationId": "createTag",
        "description": "This method can be used for creation tag into organization. POST https://app.file.ai/backend/api/v2/userDocumentTypes\n",
        "responses": {
          "200": {
            "description": "**The request was successful**. Request information was retrieved. Structure of the response is an object with all data about created tag.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseForTagToCreate"
                }
              }
            }
          },
          "422": {
            "description": "**The request was not successful**. Here are some reasons why this error may happen:\n  * `UserDocumentType (tag)` with name form request is already exists\n  * `hex color` is not valid(error message: **Invalid color. Color should be HEX color**)\n  * `color` is not among the acceptable values.\n  * `Content-Type` header is different from **application/json**;\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 422,
                    "message": "Message with the reason why request is invalid",
                    "name": "Error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "**The request was not successful**. Unauthorized request has been sent. It may happen due to the following reasons:\n  * You forgot to specify `access_token` query parameter or `authorization` cookie argument with the value of your API key;\n  * Your API key has been disabled by organziation owner;\n  * Your API key has been revoked by admin;\n  * You make the request from IP that is not specified in the IP's whitelist in the API key's settings.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestsForTagToCreate"
              }
            }
          },
          "description": "Request body has following parameters in it:\n  * `name` **(required)** - the name of the tag to create\n * `color` (optional) - the color of the tag to create. Color should be in HEX format, which consists of either 3 characters (shorthand, e.g., #F00) or 6 characters (full, e.g., #FF0000) following the '#' symbol. Default value - '#4B5565'.\n"
        }
      }
    },
    "/v2/documents/changeRequest": {
      "post": {
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "required": true
          }
        ],
        "tags": [
          "Document Endpoints"
        ],
        "summary": "submit change request",
        "description": "This method can be used to send already processed document back into processing queue. Use cases for this flow can be certain errors in document verification or certain edge cases that you can assist on. The steps of this method is similar to `/v2/documents/extract` one except the thing that this endpoint operates with existing documents and create new change request associated with it. The status of the change request can be reviewed the same way as for extract request, using `/v2/documents/status` endpoint.<br><br> Similar to `/v2/documents/extract`, this endpoint provides webhooks. When the document, requested by ChangeRequest, goes back to being 'Ready to Export', a webhook will be returned. They will contain the information about all documents that were submitted for recognition at once. Body of the request will be RequestInfo entity as response from `/v2/documents/status`.\n",
        "responses": {
          "201": {
            "description": "**The request was successful**. Structure of the response is the same as the structure of the request body sent to `webhookUrl`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "**The request was not successful**.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "ToManyChangeRequests": {
                    "summary": "To many change requests",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "message": "Cannot submit more change requests for this document, the limit of 3 has been reached",
                        "name": "Bad Request"
                      }
                    }
                  },
                  "ChangeRequestCreate": {
                    "summary": "Error while creating change request",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "message": "Error while creating new request",
                        "name": "Bad Request"
                      }
                    }
                  },
                  "ChangeRequestPostprocess": {
                    "summary": "Error during completing request",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "message": "Something went wrong during completing request, please try again",
                        "name": "Bad Request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "**The request was not successful**. Unauthorized request has been sent. It may happen due to the following reasons:\n  * You forgot to specify `access_token` query parameter or `authorization` cookie argument with the value of your API key;\n  * Your API key has been disabled by organziation owner;\n  * Your API key has been revoked by admin;\n  * You make the request from IP that is not specified in the IP's whitelist in the API key's settings.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "**The request was not successful**. Document with provided not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 404,
                    "message": "Document with id: 1 not found",
                    "name": "Not Found"
                  }
                }
              }
            }
          },
          "422": {
            "description": "**The request was not successful**. Invalid ChangeRequest object has been sent, there is a reason why this error may happen:\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "InvalidDocumentIdValue": {
                    "summary": "Invalid 'documentId' value",
                    "value": {
                      "error": {
                        "statusCode": 422,
                        "message": "documentId must be a number conforming to the specified constraints",
                        "name": "Unprocessable Entity"
                      }
                    }
                  },
                  "InvalidCommentValue": {
                    "summary": "Invalid 'comment' value",
                    "value": {
                      "error": {
                        "statusCode": 422,
                        "message": "comment must be a string",
                        "name": "Unprocessable Entity"
                      }
                    }
                  },
                  "InvalidCookieValue": {
                    "summary": "Invalid 'cookie' value",
                    "value": {
                      "error": {
                        "statusCode": 422,
                        "message": "cookie must be an object",
                        "name": "Unprocessable Entity"
                      }
                    }
                  },
                  "InvalidWebhookUrlValue": {
                    "summary": "Invalid 'webhookUrl' value",
                    "value": {
                      "error": {
                        "statusCode": 422,
                        "message": "webhookUrl must be a URL address",
                        "name": "Unprocessable Entity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeRequest"
              }
            }
          },
          "description": "Request body has following parameters in it:\n  * `comment` **(required)** - a comment with a statement what kind of change needs to be made on the document;\n  * `documentId` **(required)** - an id of the document the change is required for;\n * `cookie` (optional) - any valid JSON type with user data that will be returned as-is to the webhook or during checking request status using **/v2/documents/status** endpoint;\n * `webhookUrl` (optional) - a url you want to get webhooks on about request status.\n"
        }
      }
    },
    "/v2/documents/extract": {
      "post": {
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "multipart/form-data"
              ]
            },
            "required": true
          }
        ],
        "tags": [
          "Document Endpoints"
        ],
        "summary": "sending files to recognition",
        "description": "You can submit files to recognition using this endpoint. This endpoint is an asynchronous, therefore you will not receive recognized document right in the response. Instead, you will receive **Request** entity with holds the status of the recognition. If request is successful and you provide valid `webhookUrl` in the body of the request, you will receive webhook. Body of the request will be **RequestInfo** entity as response from `/v2/documents/status` with passed `page` parameter as 1. On the other hand you may receive webhook in two following cases:\n  * when request get status `pendingVerification` (each document was recognized at least once). **PLEASE NOTE: if all documents from the request was not in the `Analyzing` status after recognition, you will not receive webhook about this status and you will get only one webhook instead of two.**;\n  * when request get status `verified` (each document is with the status which is different from `Analyzing`).\n",
        "responses": {
          "201": {
            "description": "**The request was successful**. Request entity will be returned to you. **PLEASE NOTE:** the Request entity you get as a response contains `status` property which can take value `error` which means that documents were not sent to recognition and some error happened during this process, details of the error you can find in the `meta.message`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                }
              }
            }
          },
          "400": {
            "description": "**The request was not successful**. Extract processing errors.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "NoFilesReceived": {
                    "summary": "No files received",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "message": "No files received for processing",
                        "name": "Bad Request"
                      }
                    }
                  },
                  "ArchivedTag": {
                    "summary": "Archived tag cannot be applied",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "message": "Archived tag cannot be applied to a document",
                        "name": "Bad Request"
                      }
                    }
                  },
                  "ProcessedFilesLimit": {
                    "summary": "Files processed limit",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "message": "You have hit the limit for files processed under your current plan. Please reach out to your Workspace Owner/Admin to upgrade your plan.",
                        "name": "Bad Request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "**The request was not successful**. Unauthorized request has been sent. It may happen due to the following reasons:\n  * You forgot to specify `access_token` query parameter or `authorization` cookie argument with the value of your API key;\n  * Your API key has been disabled by organziation owner;\n  * Your API key has been revoked by admin;\n  * You make the request from IP that is not specified in the IP's whitelist in the API key's settings.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "**The request was not successful**. Provided data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "NotFoundTag": {
                    "summary": "Tag with provided id not found",
                    "value": {
                      "error": {
                        "statusCode": 404,
                        "message": "Tag with id: ${tagId} not exist in the organization",
                        "name": "Not Found"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "**The request was not successful**. Invalid Extract object has been sent, there is a reason why this error may happen:\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "InvalidTagvalue": {
                    "summary": "Invalid 'tag' value",
                    "value": {
                      "error": {
                        "statusCode": 422,
                        "message": "tag must be a string",
                        "name": "Unprocessable Entity"
                      }
                    }
                  },
                  "WrongDocumentIdType": {
                    "summary": "Invalid 'documentType' value",
                    "value": {
                      "error": {
                        "statusCode": 422,
                        "message": "documentType must be a string",
                        "name": "Unprocessable Entity"
                      }
                    }
                  },
                  "InvalidCookieValue": {
                    "summary": "Invalid 'cookie' value",
                    "value": {
                      "error": {
                        "statusCode": 422,
                        "message": "cookie must be an object",
                        "name": "Unprocessable Entity"
                      }
                    }
                  },
                  "InvalidWebhookUrlValue": {
                    "summary": "Invalid 'webhookUrl' value",
                    "value": {
                      "error": {
                        "statusCode": 422,
                        "message": "webhookUrl must be a URL address",
                        "name": "Unprocessable Entity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ExtractRequestMultipartData"
              }
            }
          },
          "description": "Request body has following parameters in it:\n  * `files` **(required)** - each object could have meta and cookie. Meta used for specify tag and target document type; cookie to be returned with file as is. There are three ways of speficying files parameter:\n    - an array of objects that specifies file location at the S3 bucket, url *(required)*, and awsAccessKeyId *(optional)*, awsSecretAccessKey *(optional)* for getting file from the bucket, additionally, a *password* key can be included for decrypting password-protected PDF files.\n    - an array of objects that specified two keys: src *(required)*, that contains encoded base64 files in data URL and title *(required)*, that contains file name. A *password* key can also be included for decrypting password-protected PDF files.\n    - array of files using multipart/form-data\n    \n * `cookie` (optional) - any valid JSON type with user data that will be returned as-is to the webhook or during checking request status using **/documents/status** endpoint;\n * `webhookUrl` (optional) - a url you want to get webhooks on about request status.\n * `tag` (optional) - tag name or tag id you want to assign to the document, the system will assign 'General' tag if the tag with specified tag name doesn't exist.\n * `documentType` (optional) - document type id or name you want to assign to the document, if the document type is not found in the system, the system will determine the document type after the document is processed.\n * `reimbursable` (optional) - object used to create expense (will be used only if tag's generateExpense option is true).\n * `password` (optional) - a string used to decode password-protected PDF files. This password is applied to all items in the `files` array and is used only when the request is sent with `multipart/form-data`.\n"
        }
      }
    },
    "/v2/documents/markDocumentsExported": {
      "post": {
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json",
                "multipart/form-data"
              ]
            },
            "required": true
          }
        ],
        "tags": [
          "Document Endpoints"
        ],
        "summary": "Mark documents as exported",
        "description": "This endpoint marks the document as successfully exported, creates an entry in the export queue, and creates an entry in the history of the document about the successful export.\n",
        "responses": {
          "204": {
            "description": "**The request was successful**. Request does not return data",
            "content": {}
          },
          "400": {
            "description": "**The request was not successful**. Processing errors.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "DocumentsMismatch": {
                    "summary": "One of the documentId's is not valid",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "message": "One of the documentId's is not valid or the document does not belong to your organization",
                        "name": "Bad Request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "**The request was not successful**. Unauthorized request has been sent. It may happen due to the following reasons:\n  * You forgot to specify `access_token` query parameter or `authorization` cookie argument with the value of your API key;\n  * Your API key has been disabled by organziation owner;\n  * Your API key has been revoked by admin;\n  * You make the request from IP that is not specified in the IP's whitelist in the API key's settings.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "**The request was not successful**. Invalid MarkDocumentsExported object has been sent, there is a reason why this error may happen:\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "MissingDocumentIds": {
                    "summary": "Missing 'documentIds'",
                    "value": {
                      "error": {
                        "statusCode": 422,
                        "message": "`documentIds` should not be empty",
                        "name": "Unprocessable Entity"
                      }
                    }
                  },
                  "InvalidDocumentIdValue": {
                    "summary": "Invalid 'documentId' value",
                    "value": {
                      "error": {
                        "statusCode": 422,
                        "message": "each value in `documentIds` must be a number conforming to the specified constraints",
                        "name": "Unprocessable Entity"
                      }
                    }
                  },
                  "InvalidIntegrationNameValue": {
                    "summary": "Invalid 'integrationName' value",
                    "value": {
                      "error": {
                        "statusCode": 422,
                        "message": "`integrationName` must be one of the following values: Sculpture Hospitality, General",
                        "name": "Unprocessable Entity"
                      }
                    }
                  },
                  "InvalidArchiveValue": {
                    "summary": "Invalid 'archive' value",
                    "value": {
                      "error": {
                        "statusCode": 422,
                        "message": "`archive` must be a boolean value",
                        "name": "Unprocessable Entity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestsMarkDocumentsExported"
              }
            }
          },
          "description": "Request body has following parameters in it:\n * `integrationName` **(default value - 'General')** - The name of the integration to which the document is to be exported;\n * `documentIds` **(required)** - Array of id documents to be exported;\n * `archive` - boolean value, if true - document will be archived after export\n"
        }
      }
    },
    "/v2/documents/archiveDocument": {
      "post": {
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "required": true
          }
        ],
        "tags": [
          "Document Endpoints"
        ],
        "summary": "archive document",
        "operationId": "archiveDocument",
        "description": "You can archive document using this endpoint.\n",
        "responses": {
          "204": {
            "description": "**The request was successful**. As a result of the successful execution of the request, a response with an empty body is returned."
          },
          "400": {
            "description": "**The request was not successful**. Here are some reasons why this error may happen:\n  * `document` with id from request does not exist within organization\n  * `document` with id from request is already archived\n  * `document` with id from request is currently processing or exporting\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 400,
                    "message": "Document cannot be archived",
                    "name": "Error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "**The request was not successful**. Unauthorized request has been sent. It may happen due to the following reasons:\n  * You forgot to specify `access_token` query parameter or `authorization` cookie argument with the value of your API key;\n  * Your API key has been disabled by organziation owner;\n  * Your API key has been revoked by admin;\n  * You make the request from IP that is not specified in the IP's whitelist in the API key's settings.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "**The request was not successful**. Here are some reasons why this error may happen:\n  * `Content-Type` header is different from **application/json**;\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 422,
                    "message": "Message with the reason why request is invalid",
                    "name": "Error"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveDocumentRequest"
              }
            }
          },
          "description": "Request body has following parameters in it:\n  * `documentId` **(required)** - the id of the document to archive (only one documentId can be passed in the request)\n"
        }
      }
    },
    "/v2/requests/requestsForPeriod": {
      "get": {
        "tags": [
          "Document Endpoints"
        ],
        "description": "This method can be used to obtain requests ids for the specified conditions. It might be useful to get all requests for the specified timeframe in order to get the details separately using `/documents/status/` endpoint. Please note, that requests might be created from different sources, for example, it might be through API request to `/documents/extract` method (then **source** will be equal to **extract**).\n",
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "required": true
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "unix timestamp of the start date in milliseconds",
            "schema": {
              "$ref": "#/components/schemas/RequestsForPeriodStartDate"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "unix timestamp of the end date in milliseconds",
            "schema": {
              "$ref": "#/components/schemas/RequestsForPeriodEndDate"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "a string that indicates source of requests",
            "schema": {
              "$ref": "#/components/schemas/RequestsForPeriodSource"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "a string that indicates status of requests",
            "schema": {
              "$ref": "#/components/schemas/RequestsForPeriodStatus"
            }
          }
        ],
        "summary": "get request for sent period",
        "operationId": "getRequestsForPeriod",
        "responses": {
          "200": {
            "description": "**The request was successful.** Returns an array requests ids",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestsForPeriodStartDateResponseResponse"
                }
              }
            }
          },
          "401": {
            "description": "**The request was not successful**. Unauthorized request has been sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "**The request was not successful.** It may happen if passed an incorrect source of request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 400,
                    "name": "Error",
                    "message": "Unknown source: uploat"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/documents/exportReadyDocuments": {
      "get": {
        "summary": "Get all documents that are ready for export to the specified integration",
        "description": "## WARNING! The endpoint has been officially deprecated. Please use a /v2 version of this  endpoint.\nThis endpoint is used to get a list of all documents that are ready to be exported. For this request, pagination of the output of documents is available, for this, two parameters can be passed to the request - offset and limit. It is also possible to filter documents by tag, upload date and document date.\n",
        "tags": [
          "Document Endpoints"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "required": true
          },
          {
            "in": "query",
            "name": "integrationName",
            "schema": {
              "$ref": "#/components/schemas/IntegrationNameForExportReadyDocuments"
            },
            "description": "Integration name. If provided, returns only documents that were not already exported to the provided integration i.e. ready to be exported into provided integration"
          },
          {
            "in": "query",
            "name": "includeActionRequired",
            "schema": {
              "$ref": "#/components/schemas/IncludeActionRequiredForExportReadyDocuments"
            },
            "description": "Include action required. If 'true', returns a list of documents with export status 'Ready for export' or 'Action required', if 'false' - only documents that are ready to be exported"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "An object that contains filtering parameters",
            "schema": {
              "$ref": "#/components/schemas/FilterForExportReadyDocuments"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**The request was successful**. In response, you will receive a list of documents with fields that can be used for export",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportReadyDocumentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "**The request was not successful**. Invalid ExtractRequest object has been sent, there are some reasons why this error may happen:\n  * `Content-Type` header is different from **application/json**;\n  * `documentIds` property was not provided in the request;\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 400,
                    "message": "Message with the reason why RequestObject is invalid",
                    "name": "Error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "**The request was not successful**. Unauthorized request has been sent. It may happen due to the following reasons:\n  * You forgot to specify `access_token` query parameter or `authorization` cookie argument with the value of your API key;\n  * Your API key has been disabled by organziation owner;\n  * Your API key has been revoked by admin;\n  * You make the request from IP that is not specified in the IP's whitelist in the API key's settings.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/documents/exportReadyDocuments": {
      "get": {
        "summary": "Get all documents that are ready for export to the specified integration",
        "description": "This endpoint is used to get a list of all documents that are ready to be exported. For this request, pagination of the output of documents is available, for this, two parameters can be passed to the request - offset and limit. It is also possible to filter documents by tag, upload date and document date.\n",
        "tags": [
          "Document Endpoints"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "required": true
          },
          {
            "in": "query",
            "name": "integrationName",
            "schema": {
              "$ref": "#/components/schemas/IntegrationNameForExportReadyDocuments"
            },
            "description": "Integration name. If provided, returns only documents that were not already exported to the provided integration i.e. ready to be exported into provided integration"
          },
          {
            "in": "query",
            "name": "includeActionRequired",
            "schema": {
              "$ref": "#/components/schemas/IncludeActionRequiredForExportReadyDocuments"
            },
            "description": "Include action required. If 'true', returns a list of documents with export status 'Ready for export' or 'Action required', if 'false' - only documents that are ready to be exported"
          },
          {
            "in": "query",
            "name": "filter[offset]",
            "description": "Offset property of filtering parameters",
            "schema": {
              "$ref": "#/components/schemas/FilterOffsetForExportReadyDocuments"
            }
          },
          {
            "in": "query",
            "name": "filter[limit]",
            "description": "Limit property of filtering parameters",
            "schema": {
              "$ref": "#/components/schemas/FilterLimitForExportReadyDocuments"
            }
          },
          {
            "in": "query",
            "name": "filter[dateFrom]",
            "description": "DateFrom property of filtering parameters",
            "schema": {
              "$ref": "#/components/schemas/FilterDateFromForExportReadyDocuments"
            }
          },
          {
            "in": "query",
            "name": "filter[dateTo]",
            "description": "DateTo property of filtering parameters",
            "schema": {
              "$ref": "#/components/schemas/FilterDateToForExportReadyDocuments"
            }
          },
          {
            "in": "query",
            "name": "filter[invoiceDateFrom]",
            "description": "InvoiceDateFrom property of filtering parameters",
            "schema": {
              "$ref": "#/components/schemas/FilterInvoiceDateFromForExportReadyDocuments"
            }
          },
          {
            "in": "query",
            "name": "filter[invoiceDateTo]",
            "description": "InvoiceDateTo property of filtering parameters",
            "schema": {
              "$ref": "#/components/schemas/FilterInvoiceDateToForExportReadyDocuments"
            }
          },
          {
            "in": "query",
            "name": "filter[tag]",
            "description": "Tag property of filtering parameters",
            "schema": {
              "$ref": "#/components/schemas/FilterTagForExportReadyDocuments"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**The request was successful**. In response, you will receive a list of documents with fields that can be used for export",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportReadyDocumentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "**The request was not successful**. Invalid ExtractRequest object has been sent, there are some reasons why this error may happen:\n  * `Content-Type` header is different from **application/json**;\n  * `documentIds` property was not provided in the request;\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 400,
                    "message": "Message with the reason why RequestObject is invalid",
                    "name": "Error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "**The request was not successful**. Unauthorized request has been sent. It may happen due to the following reasons:\n  * You forgot to specify `access_token` query parameter or `authorization` cookie argument with the value of your API key;\n  * Your API key has been disabled by organziation owner;\n  * Your API key has been revoked by admin;\n  * You make the request from IP that is not specified in the IP's whitelist in the API key's settings.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{documentId}/file": {
      "get": {
        "summary": "get file with result after recognition",
        "description": "## WARNING! The endpoint has been officially deprecated. Please use a /v2 version of this endpoint.\nThis method may be used to retrieve document in the convenient format. Please note:\n1. **json** file format is not supported intentionally, in order to get document in the format of json, use `/documents/status` endpoint. \n2. this endpoint return static set of fields at this point. For **dataSource** equal to **singleFields** the following fields will be returned: uploadDate, supplierName, vatNumber, filename ,invoiceNumber, invoiceDateEpoch, invoiceDueDateEpoch, invoiceTotal, invoiceSubtotal, invoiceTax, template, userDocumentType, currencyCode. For the **lineItems** value of **dataSource** the following fields will be returned along with all columns in the line items: invoiceNumber, invoiceDateEpoch, invoiceDueDateEpoch, supplierName, currencyCode. Moreover, from the fields returned in the response, some of the fields are formatted as dates using fromat `D MMM YYYY hh:mm`, for **singleFields**: uploadDate, invoiceDateEpoch, invoiceDueDateEpoch. For **lineItems**: invoiceDateEpoch, invoiceDueDateEpoch.\n  \n",
        "tags": [
          "Document Endpoints"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "required": true
          },
          {
            "in": "path",
            "name": "documentId",
            "schema": {
              "$ref": "#/components/schemas/DocumentsDownloadFileByIdDocumentId"
            },
            "required": true,
            "description": "a number with id of document that will be returned. You can get id using **/documents/status** endpoint."
          },
          {
            "in": "query",
            "name": "fileType",
            "schema": {
              "$ref": "#/components/schemas/DocumentsDownloadFileByIdFileType"
            },
            "required": true,
            "description": "type of file to return"
          },
          {
            "in": "query",
            "name": "responseType",
            "schema": {
              "$ref": "#/components/schemas/DocumentsDownloadFileByIdResponseType"
            },
            "description": "encoding type of the returned file. For the moment, only \u2018base64\u2019 is implemented. Default value - \u2018base64\u2019"
          },
          {
            "in": "query",
            "name": "dataSource",
            "schema": {
              "$ref": "#/components/schemas/DocumentsDownloadFileByIdDataSources"
            },
            "description": "a string that defines what data needs to be exported. Pass 'singleFields' to export headers or 'lineItems' for lineItems. If fileType is avs, this field will be ignored. By default is set to 'singleFields'"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentsDownloadFileByIdResponse"
                }
              }
            },
            "description": "**The request was successful.** Returns object with key 'files' that contains array of requested files. Array ussually contains one item but for *avs* fileTypes it contains 2 items, one for avs file of chosen version and second one for pdf file of the document. Every object that represents the file contains two keys:\n  * `data` - key with a string in requested encoding\n  * `fileName` - key with a string that contains file name with extension\n"
          },
          "404": {
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 404,
                  "name": "Error",
                  "message": "Document with id 7 not found"
                }
              }
            },
            "description": "**The request was not successful.** It may happen for the following reasons:\n  * passed unimplemented response type\n  * document with passed id couldn\u2019t be found or this document is not Ready for Export\n"
          },
          "401": {
            "description": "**The request was not successful**. Unauthorized request has been sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/documents/documentsByRequestsForPeriod": {
      "get": {
        "summary": "get requests for period with statuses and files for documents",
        "tags": [
          "Document Endpoints"
        ],
        "description": "## WARNING! The endpoint has been officially deprecated. Please use a /v2 version of this endpoint.\nThis method combines three other endpoints: **/v2/requests/requestsForPeriod**, **/documents/{documentId}/file**, **/documents/status**. Successful response returns all requests and their statuses, based on passed filters, created files based on passed file type for all documents from this requests\n",
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "required": true
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "unix timestamp of the start date in milliseconds",
            "schema": {
              "$ref": "#/components/schemas/RequestsForPeriodStartDate"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "unix timestamp of the end date in milliseconds",
            "schema": {
              "$ref": "#/components/schemas/RequestsForPeriodEndDate"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "a string that indicates source of requests",
            "schema": {
              "$ref": "#/components/schemas/RequestsForPeriodSource"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "a string that indicates status of requests",
            "schema": {
              "$ref": "#/components/schemas/RequestsForPeriodStatus"
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "description": "type of file to return",
            "schema": {
              "$ref": "#/components/schemas/DocumentsDownloadFileByIdFileType"
            },
            "required": true
          },
          {
            "name": "responseType",
            "in": "query",
            "description": "encoding type of the returned file. For the moment, only \u2018base64\u2019 is implemented. Default value - \u2018base64\u2019",
            "schema": {
              "$ref": "#/components/schemas/DocumentsDownloadFileByIdResponseType"
            }
          },
          {
            "name": "dataSource",
            "in": "query",
            "description": "a string that defines what data needs to be exported. Pass 'singleFields' to export headers or 'lineItems' for lineItems. If fileType is avs, this field will be ignored. By default is set to 'singleFields'",
            "schema": {
              "$ref": "#/components/schemas/DocumentsDownloadFileByIdDataSources"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Returns documents with the specified tag for all requests",
            "schema": {
              "$ref": "#/components/schemas/DocumentsDownloadFileByIdTag"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentsByRequestsForPeriodResponse"
                }
              }
            },
            "description": "**The request was successful** Returns array of objects. Every object equals to object from `/document/status` endpoint except documents.files field, that is equal to `/documents/{documentId}/file` return value\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 412,
                  "name": "Error",
                  "message": "A lot of requested documents: 235. Please change filters to decrease document amount to 200 or use other api methods"
                }
              }
            },
            "description": "**The request was not successful** The amount of documents with passed filters is more than server's limit\n"
          },
          "404": {
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 404,
                  "name": "Error",
                  "message": "Unknown status: verifiet"
                }
              }
            },
            "description": "**The request was not successful.** It may happen for the following reasons:\n  * passed unimplemented response type\n  * passed uncorrect request source or status\n"
          },
          "401": {
            "description": "**The request was not successful**. Unauthorized request has been sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/documents/{documentId}/file": {
      "get": {
        "summary": "get file with result after recognition",
        "description": "This method may be used to retrieve document in the convenient format. Please note:\n1. **json** file format is not supported intentionally, in order to get document in the format of json, use `/v2/documents/status` endpoint. \n2. this endpoint return static set of fields at this point. For **dataSource** equal to **singleFields** the following fields will be returned: uploadDate, supplierName, vatNumber, filename ,invoiceNumber, invoiceDateEpoch, invoiceDueDateEpoch, invoiceTotal, invoiceSubtotal, invoiceTax, template, userDocumentType, currencyCode. For the **lineItems** value of **dataSource** the following fields will be returned along with all columns in the line items: invoiceNumber, invoiceDateEpoch, invoiceDueDateEpoch, supplierName, currencyCode. Moreover, from the fields returned in the response, some of the fields are formatted as dates using fromat `D MMM YYYY hh:mm`, for **singleFields**: uploadDate, invoiceDateEpoch, invoiceDueDateEpoch. For **lineItems**: invoiceDateEpoch, invoiceDueDateEpoch.\n  \n",
        "tags": [
          "Document Endpoints"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "required": true
          },
          {
            "in": "path",
            "name": "documentId",
            "schema": {
              "$ref": "#/components/schemas/DocumentsDownloadFileByIdDocumentId"
            },
            "required": true,
            "description": "a number with id of document that will be returned. You can get id using **/v2/documents/status** endpoint."
          },
          {
            "in": "query",
            "name": "fileType",
            "schema": {
              "$ref": "#/components/schemas/DocumentsDownloadFileByIdFileType"
            },
            "required": true,
            "description": "type of file to return"
          },
          {
            "in": "query",
            "name": "responseType",
            "schema": {
              "$ref": "#/components/schemas/DocumentsDownloadFileByIdResponseType"
            },
            "description": "encoding type of the returned file. For the moment, only \u2018base64\u2019 is implemented. Default value - \u2018base64\u2019"
          },
          {
            "in": "query",
            "name": "dataSource",
            "schema": {
              "$ref": "#/components/schemas/DocumentsDownloadFileByIdDataSources"
            },
            "description": "a string that defines what data needs to be exported. Pass 'singleFields' to export headers or 'lineItems' for lineItems. If fileType is avs, this field will be ignored. By default is set to 'singleFields'"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentsDownloadFileByIdResponse"
                }
              }
            },
            "description": "**The request was successful.** Returns object with key 'files' that contains array of requested files. Array ussually contains one item but for *avs* fileTypes it contains 2 items, one for avs file of chosen version and second one for pdf file of the document. Every object that represents the file contains two keys:\n  * `data` - key with a string in requested encoding\n  * `fileName` - key with a string that contains file name with extension\n"
          },
          "404": {
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 404,
                  "name": "Error",
                  "message": "Document with id 7 not found"
                }
              }
            },
            "description": "**The request was not successful.** It may happen for the following reasons:\n  * passed unimplemented response type\n  * document with passed id couldn\u2019t be found or this document is not Ready for Export\n"
          },
          "401": {
            "description": "**The request was not successful**. Unauthorized request has been sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/documents/documentsByRequestsForPeriod": {
      "get": {
        "summary": "get requests for period with statuses and files for documents",
        "tags": [
          "Document Endpoints"
        ],
        "description": "This method combines three other endpoints: **/v2/requests/requestsForPeriod**, **/v2/documents/{documentId}/file**, **/v2/documents/status**. Successful response returns all requests and their statuses, based on passed filters, created files based on passed file type for all documents from this requests\n",
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "required": true
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "unix timestamp of the start date in milliseconds",
            "schema": {
              "$ref": "#/components/schemas/RequestsForPeriodStartDate"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "unix timestamp of the end date in milliseconds",
            "schema": {
              "$ref": "#/components/schemas/RequestsForPeriodEndDate"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "a string that indicates source of requests",
            "schema": {
              "$ref": "#/components/schemas/RequestsForPeriodSource"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "a string that indicates status of requests",
            "schema": {
              "$ref": "#/components/schemas/RequestsForPeriodStatus"
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "description": "type of file to return",
            "schema": {
              "$ref": "#/components/schemas/DocumentsDownloadFileByIdFileType"
            },
            "required": true
          },
          {
            "name": "responseType",
            "in": "query",
            "description": "encoding type of the returned file. For the moment, only \u2018base64\u2019 is implemented. Default value - \u2018base64\u2019",
            "schema": {
              "$ref": "#/components/schemas/DocumentsDownloadFileByIdResponseType"
            }
          },
          {
            "name": "dataSource",
            "in": "query",
            "description": "a string that defines what data needs to be exported. Pass 'singleFields' to export headers or 'lineItems' for lineItems. If fileType is avs, this field will be ignored. By default is set to 'singleFields'",
            "schema": {
              "$ref": "#/components/schemas/DocumentsDownloadFileByIdDataSources"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Returns documents with the specified tag for all requests",
            "schema": {
              "$ref": "#/components/schemas/DocumentsDownloadFileByIdTag"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentsByRequestsForPeriodResponse"
                }
              }
            },
            "description": "**The request was successful** Returns array of objects. Every object equals to object from `/v2/document/status` endpoint except documents.files field, that is equal to `/v2/documents/{documentId}/file` return value\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 412,
                  "name": "Error",
                  "message": "A lot of requested documents: 235. Please change filters to decrease document amount to 200 or use other api methods"
                }
              }
            },
            "description": "**The request was not successful** The amount of documents with passed filters is more than server's limit\n"
          },
          "404": {
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "statusCode": 404,
                  "name": "Error",
                  "message": "Unknown status: verifiet"
                }
              }
            },
            "description": "**The request was not successful.** It may happen for the following reasons:\n  * passed unimplemented response type\n  * passed uncorrect request source or status\n"
          },
          "401": {
            "description": "**The request was not successful**. Unauthorized request has been sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/documents/status": {
      "get": {
        "parameters": [
          {
            "in": "header",
            "name": "Content-Type",
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "required": true
          },
          {
            "name": "requestId",
            "in": "query",
            "description": "Id of the request you want to get information about",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DocumentStatusRequestId"
            }
          },
          {
            "name": "filter[statusExport]",
            "in": "query",
            "description": "Filter by statusExport",
            "schema": {
              "$ref": "#/components/schemas/DocumentStatusFilterStatusExport"
            }
          },
          {
            "name": "filter[statusIsArchived]",
            "in": "query",
            "description": "Filter by statusIsArchived",
            "schema": {
              "$ref": "#/components/schemas/DocumentStatusFilterStatusIsArchived"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number of documents starting from 1",
            "schema": {
              "$ref": "#/components/schemas/DocumentStatusPage"
            }
          }
        ],
        "tags": [
          "Document Endpoints"
        ],
        "summary": "construct and return request status",
        "description": "You can use this method to retrieve information about specific request. A successful response you get from this method is the same as the one you get on the `webhookUrl` provided to the **/documents/extract** endpoint during sending documents to recognition. But for webhook you can receive up to `documentsPerPage` documents at ones. And if you want to get other documents, you should use this endpoint. It provides parameter `page` that can be used to receive other documents by specifying number of the page. **Please note, fileAI system has a naming convention for certain line items' columns ([see naming convention](https://docs.google.com/spreadsheets/d/11xI8bPiK1c6XWzOadbiiHfUeDqGqbdb7vZhjXHmMvNg/edit?usp=sharing))**",
        "responses": {
          "200": {
            "description": "**The request was successful**. Request information was retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestInfoStatus"
                }
              }
            }
          },
          "401": {
            "description": "**The request was not successful**. Unuthorized request has been sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 401,
                    "message": "Incorrect access token",
                    "name": "Unauthorized"
                  }
                }
              }
            }
          },
          "404": {
            "description": "**The request was not successful**. Request with specified `requestId` was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "statusCode": 404,
                    "message": "Request with id: {requestId} not found",
                    "name": "Not Found"
                  }
                }
              }
            }
          },
          "422": {
            "description": "**The request was not successful**. Request has incorrect filter value (`statusIsArchived, statusExport`).",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                },
                "examples": {
                  "filter.statusExport": {
                    "value": {
                      "statusCode": 422,
                      "message": "filter.statusExport must be one of the following values: Ready for Export, Analyzing, Action Required",
                      "name": "Unprocessable Entity"
                    }
                  },
                  "filter.statusIsArchived": {
                    "value": {
                      "statusCode": 422,
                      "message": "filter.statusIsArchived must be one of the following values: 0, 1",
                      "name": "Unprocessable Entity"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "access_token"
      },
      "cookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "authorization"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "statusCode",
              "message",
              "name"
            ],
            "properties": {
              "statusCode": {
                "type": "integer",
                "description": "Code of the error",
                "example": 401
              },
              "message": {
                "type": "string",
                "description": "Error details",
                "example": "Unauthorized request"
              },
              "name": {
                "type": "string",
                "enum": [
                  "Error"
                ]
              }
            }
          }
        }
      },
      "cookie": {
        "nullable": true,
        "type": "object",
        "description": "Parameter that can be used for specifying any user-specific data that will be returned with the request result as-is"
      },
      "webhookUrl": {
        "type": "string",
        "description": "url you want to receive webhook to"
      },
      "requestSource": {
        "type": "string",
        "enum": [
          "extract",
          "changeRequest"
        ],
        "description": "Source of the request:\n* **extract** - when request was created after request to `/documents/extract` endpoint\n* **changeRequest** - when request was created after request to `/documents/changeRequest` endpoint\n"
      },
      "changeRequestStatus": {
        "type": "string",
        "enum": [
          "error",
          "pendingVerification",
          "verified"
        ],
        "description": "Status of the request:\n * `error` - request has been finished with error during sending documents to recognition\n * `pendingVerification` - waiting for all documents to be verified\n * `verified` - all documents from request have been verified\n",
        "example": "pendingVerification"
      },
      "requestStatus": {
        "type": "string",
        "enum": [
          "error",
          "pendingRecognition",
          "pendingVerification",
          "verified"
        ],
        "description": "Status of the request:\n * `error` - request has been finished with error during sending documents to recognition\n * `pendingRecognition` - waiting for all documents to be recognized at least once\n * `pendingVerification` - waiting for all documents to be verified\n * `verified` - all documents from request have been verified\n",
        "example": "pendingRecognition"
      },
      "date": {
        "type": "object",
        "required": [
          "epoch",
          "format",
          "string"
        ],
        "properties": {
          "epoch": {
            "type": "string",
            "description": "Milliseconds in UTC of the date"
          },
          "format": {
            "type": "string",
            "description": "Format used to format date"
          },
          "string": {
            "type": "string",
            "description": "Formatted date using specified format"
          }
        }
      },
      "Payslip": {
        "type": "object",
        "description": "Payslip document",
        "required": [
          "externalDetails",
          "status"
        ],
        "properties": {
          "externalDetails": {
            "type": "object",
            "required": [
              "documentId",
              "link"
            ],
            "properties": {
              "source": {
                "type": "string",
                "description": "Source of the document (S3 file provided during initial request)",
                "example": "https://bucketname.s3.bucket-region.amazonaws.com/document.pdf"
              },
              "documentId": {
                "type": "integer",
                "description": "Id of the document into fileAI system",
                "example": 48
              },
              "link": {
                "type": "string",
                "description": "Link to document on fileAI web-site",
                "example": "https://app.file.ai/documents/48"
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "Analyzing",
              "Action Required",
              "Ready for Export"
            ],
            "description": "Document's status into fileAI system",
            "example": "Analyzing"
          },
          "documentType": {
            "type": "string",
            "example": "Payslip"
          },
          "supplierName": {
            "type": "string",
            "nullable": true
          },
          "currencyCode": {
            "type": "string",
            "description": "currency code. Full list of the currency codes can be found [here](https://iban.com/currency-codes)"
          },
          "employeeName": {
            "type": "string"
          },
          "payDate": {
            "$ref": "#/components/schemas/date"
          },
          "payPeriodFrom": {
            "$ref": "#/components/schemas/date"
          },
          "payPeriodTo": {
            "$ref": "#/components/schemas/date"
          },
          "totalEarnings": {
            "type": "number"
          },
          "totalPayments": {
            "type": "number"
          },
          "totalDeductions": {
            "type": "number"
          },
          "netPay": {
            "type": "number"
          },
          "employerContributions": {
            "type": "number"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "description": "Invoice document",
        "required": [
          "externalDetails",
          "status"
        ],
        "properties": {
          "externalDetails": {
            "type": "object",
            "required": [
              "documentId",
              "link"
            ],
            "properties": {
              "source": {
                "type": "string",
                "description": "Source of the document (S3 file provided during initial request)",
                "example": "https://bucketname.s3.bucket-region.amazonaws.com/document.pdf"
              },
              "documentId": {
                "type": "integer",
                "description": "Id of the document into fileAI system",
                "example": 101
              },
              "link": {
                "type": "string",
                "description": "Link to document on fileAI web-site",
                "example": "https://app.file.ai/documents/101"
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "Analyzing",
              "Action Required",
              "Ready for Export"
            ],
            "description": "Document's status into fileAI system",
            "example": "Analyzing"
          },
          "supplierName": {
            "type": "string",
            "nullable": true
          },
          "customerName": {
            "type": "string",
            "nullable": true
          },
          "vatNumber": {
            "type": "string"
          },
          "invoiceNumber": {
            "type": "string"
          },
          "invoiceTotal": {
            "type": "string"
          },
          "invoiceSubtotal": {
            "type": "string"
          },
          "invoiceTax": {
            "type": "string"
          },
          "documentType": {
            "type": "string",
            "example": "Invoice"
          },
          "invoiceDate": {
            "$ref": "#/components/schemas/date"
          },
          "invoiceDueDate": {
            "$ref": "#/components/schemas/date"
          },
          "currencyCode": {
            "type": "string",
            "description": "currency code. Full list of the currency codes can be found [here](https://iban.com/currency-codes)"
          },
          "invoiceTotalQty": {
            "type": "string"
          },
          "lineItems": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "lineItemDescription": {
                  "type": "string",
                  "example": "Example description value"
                },
                "lineItemQty": {
                  "type": "string",
                  "example": 101
                },
                "lineItemTotal": {
                  "type": "string",
                  "example": 100
                }
              }
            }
          },
          "lineItemsHeader": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "example": "lineItemDescription",
[...]
