{
  "openapi": "3.0.3",
  "info": {
    "title": "Urlbox API",
    "version": "1.0.0",
    "description": "Urlbox generates high-quality screenshots, PDFs, videos, metadata, and HTML from website URLs and HTML content.",
    "x-jentic-source-url": "https://urlbox.com/docs/api",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.urlbox.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/render/sync": {
      "post": {
        "operationId": "renderSync",
        "tags": [
          "Renders"
        ],
        "summary": "Create a render synchronously",
        "description": "Creates a render (screenshot, PDF, video, etc.) and waits for it to complete. Returns a renderUrl once the render is generated.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Render created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncRenderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/render/async": {
      "post": {
        "operationId": "renderAsync",
        "tags": [
          "Renders"
        ],
        "summary": "Create a render asynchronously",
        "description": "Submits a render request and returns immediately with a renderId. Use the status endpoint to poll for completion.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Render accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncRenderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/render/{renderId}": {
      "get": {
        "operationId": "getRenderStatus",
        "tags": [
          "Renders"
        ],
        "summary": "Check the status of a render",
        "parameters": [
          {
            "name": "renderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Render status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenderStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "Render not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Check the status of a render"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Secret key for your Urlbox project. Generate in the Urlbox dashboard."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          },
          "requestId": {
            "type": "string"
          }
        }
      },
      "RenderRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The URL to render. Required if html is not set."
          },
          "html": {
            "type": "string",
            "description": "HTML content to render. Required if url is not set."
          },
          "format": {
            "type": "string",
            "enum": [
              "png",
              "jpg",
              "webp",
              "pdf",
              "svg",
              "mp4",
              "webm",
              "md"
            ],
            "default": "png"
          },
          "width": {
            "type": "integer",
            "description": "Viewport width in pixels",
            "default": 1280
          },
          "height": {
            "type": "integer",
            "description": "Viewport height in pixels",
            "default": 1024
          },
          "full_page": {
            "type": "boolean",
            "description": "Render the full page"
          },
          "selector": {
            "type": "string",
            "description": "CSS selector to screenshot only that element"
          },
          "hide_cookie_banners": {
            "type": "boolean"
          },
          "click_accept": {
            "type": "boolean"
          },
          "block_ads": {
            "type": "boolean"
          },
          "redirect_after": {
            "type": "integer",
            "description": "Milliseconds before redirecting on long renders"
          },
          "webhook_url": {
            "type": "string",
            "description": "URL to POST render result to"
          },
          "ttl": {
            "type": "integer",
            "description": "Time-to-live for cached renders in seconds"
          }
        }
      },
      "SyncRenderResponse": {
        "type": "object",
        "properties": {
          "renderUrl": {
            "type": "string",
            "description": "Temporary URL pointing to the generated render (expires after 30 days)"
          },
          "size": {
            "type": "integer",
            "description": "Size of the render in bytes"
          },
          "requestId": {
            "type": "string"
          }
        }
      },
      "AsyncRenderResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "created"
          },
          "renderId": {
            "type": "string"
          },
          "statusUrl": {
            "type": "string",
            "description": "URL to poll for render status"
          },
          "requestId": {
            "type": "string"
          }
        }
      },
      "RenderStatusResponse": {
        "type": "object",
        "properties": {
          "renderId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "retrying",
              "succeeded",
              "failed",
              "not-found"
            ]
          },
          "statusUrl": {
            "type": "string"
          },
          "renderUrl": {
            "type": "string",
            "description": "Present when status is succeeded"
          },
          "size": {
            "type": "integer",
            "description": "Present when status is succeeded"
          },
          "reason": {
            "type": "string",
            "description": "Present when status is failed"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Renders",
      "description": "Operations related to Renders"
    }
  ]
}
