{
  "openapi": "3.0.3",
  "info": {
    "title": "Envestnet API",
    "version": "1.0",
    "description": "Envestnet is a wealth management and financial data technology platform. The APIs provide access to financial data aggregation, account management, portfolio analytics, transaction categorization, and wealth management features for financial advisors and institutions. Envestnet Yodlee provides account aggregation and data enrichment APIs.",
    "x-jentic-source-url": "https://developer.envestnet.com/"
  },
  "servers": [
    {
      "url": "https://api.yodlee.com/ysl/{version}",
      "variables": {
        "version": {
          "default": "v1",
          "description": "API version"
        }
      }
    },
    {
      "url": "https://api.envestnet.com/v1"
    }
  ],
  "paths": {
    "/user/register": {
      "post": {
        "operationId": "registerUser",
        "summary": "Register a new user",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user"
                ],
                "properties": {
                  "user": {
                    "type": "object",
                    "properties": {
                      "loginName": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "name": {
                        "type": "object",
                        "properties": {
                          "first": {
                            "type": "string"
                          },
                          "last": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user details",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateUser",
        "summary": "Update user details",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "User updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Unregister/delete user",
        "tags": [
          "Users"
        ],
        "responses": {
          "204": {
            "description": "User deleted"
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "operationId": "getAccounts",
        "summary": "Get financial accounts",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "container",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "bank",
                "creditCard",
                "investment",
                "insurance",
                "loan",
                "reward",
                "bill",
                "realEstate"
              ]
            }
          },
          {
            "name": "providerAccountId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get specific account details",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account details"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "updateAccount",
        "summary": "Update account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Account updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteAccount",
        "summary": "Delete an account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account deleted"
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "operationId": "getTransactions",
        "summary": "Get transactions",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "container",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "top",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transaction"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/transactions/count": {
      "get": {
        "operationId": "getTransactionCount",
        "summary": "Get transaction count",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction count"
          }
        }
      }
    },
    "/transactions/categories": {
      "get": {
        "operationId": "getTransactionCategories",
        "summary": "Get transaction categories",
        "tags": [
          "Transactions"
        ],
        "responses": {
          "200": {
            "description": "Category list"
          }
        }
      }
    },
    "/transactions/{transactionId}": {
      "put": {
        "operationId": "updateTransaction",
        "summary": "Update a transaction (e.g., recategorize)",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transaction": {
                    "type": "object",
                    "properties": {
                      "categoryId": {
                        "type": "integer"
                      },
                      "memo": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Transaction updated"
          }
        }
      }
    },
    "/providers": {
      "get": {
        "operationId": "getProviders",
        "summary": "Get financial institution providers",
        "tags": [
          "Providers"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "top",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "provider": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Provider"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/providers/{providerId}": {
      "get": {
        "operationId": "getProvider",
        "summary": "Get provider details",
        "tags": [
          "Providers"
        ],
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider details"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/providerAccounts": {
      "get": {
        "operationId": "getProviderAccounts",
        "summary": "List linked provider accounts",
        "tags": [
          "Provider Accounts"
        ],
        "responses": {
          "200": {
            "description": "Provider account list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "linkProviderAccount",
        "summary": "Link a provider account",
        "tags": [
          "Provider Accounts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "providerId": {
                    "type": "integer"
                  },
                  "field": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider account linked"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/providerAccounts/{providerAccountId}": {
      "get": {
        "operationId": "getProviderAccount",
        "summary": "Get provider account details",
        "tags": [
          "Provider Accounts"
        ],
        "parameters": [
          {
            "name": "providerAccountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider account details"
          }
        }
      },
      "put": {
        "operationId": "updateProviderAccount",
        "summary": "Update/refresh provider account credentials",
        "tags": [
          "Provider Accounts"
        ],
        "parameters": [
          {
            "name": "providerAccountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider account updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteProviderAccount",
        "summary": "Unlink a provider account",
        "tags": [
          "Provider Accounts"
        ],
        "parameters": [
          {
            "name": "providerAccountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Provider account deleted"
          }
        }
      }
    },
    "/holdings": {
      "get": {
        "operationId": "getHoldings",
        "summary": "Get investment holdings",
        "tags": [
          "Holdings"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "providerAccountId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Holdings list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "holding": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Holding"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/statements": {
      "get": {
        "operationId": "getStatements",
        "summary": "Get account statements",
        "tags": [
          "Statements"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statement list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/derived/networth": {
      "get": {
        "operationId": "getNetworth",
        "summary": "Get derived net worth",
        "tags": [
          "Derived Data"
        ],
        "parameters": [
          {
            "name": "accountIds",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "D",
                "W",
                "M",
                "Y"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Net worth data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/derived/holdingSummary": {
      "get": {
        "operationId": "getHoldingSummary",
        "summary": "Get holding summary by asset class",
        "tags": [
          "Derived Data"
        ],
        "parameters": [
          {
            "name": "accountIds",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Holding summary"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/token": {
      "post": {
        "operationId": "generateAccessToken",
        "summary": "Generate an access token",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientId": {
                    "type": "string"
                  },
                  "secret": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UserResponse": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "loginName": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "name": {
                "type": "object",
                "properties": {
                  "first": {
                    "type": "string"
                  },
                  "last": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "accountName": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "accountType": {
            "type": "string"
          },
          "balance": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              }
            }
          },
          "container": {
            "type": "string"
          },
          "providerAccountId": {
            "type": "integer"
          },
          "providerId": {
            "type": "integer"
          },
          "providerName": {
            "type": "string"
          },
          "accountStatus": {
            "type": "string"
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "accountId": {
            "type": "integer"
          },
          "amount": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              }
            }
          },
          "baseType": {
            "type": "string",
            "enum": [
              "CREDIT",
              "DEBIT"
            ]
          },
          "categoryId": {
            "type": "integer"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "object",
            "properties": {
              "original": {
                "type": "string"
              },
              "simple": {
                "type": "string"
              }
            }
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string"
          },
          "merchant": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "Provider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "loginUrl": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "countryISOCode": {
            "type": "string"
          }
        }
      },
      "Holding": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "accountId": {
            "type": "integer"
          },
          "holdingType": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "quantity": {
            "type": "number"
          },
          "price": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              }
            }
          },
          "value": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          },
          "referenceCode": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "JWT Bearer token from /auth/token"
      },
      "cobrandAuth": {
        "type": "apiKey",
        "name": "Api-Version",
        "in": "header",
        "description": "API version header"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Derived Data"
    },
    {
      "name": "Holdings"
    },
    {
      "name": "Provider Accounts"
    },
    {
      "name": "Providers"
    },
    {
      "name": "Statements"
    },
    {
      "name": "Transactions"
    },
    {
      "name": "Users"
    }
  ]
}