{
  "openapi": "3.0.3",
  "info": {
    "title": "Vero API",
    "version": "2.0.0",
    "description": "Vero is a marketing automation platform that enables tracking user profiles and events, creating and managing campaigns, and sending targeted messages. The API supports both Track and Campaigns functionality.",
    "x-jentic-source-url": "https://developers.getvero.com/?bash"
  },
  "servers": [
    {
      "url": "https://api.getvero.com/api/v2",
      "description": "Production API server (HTTPS only)"
    }
  ],
  "security": [
    {
      "authToken": []
    }
  ],
  "paths": {
    "/users/identify": {
      "post": {
        "summary": "Identify User",
        "description": "Create a new user profile if it doesn't exist, or update an existing user profile.",
        "operationId": "identifyUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["auth_token"],
                "properties": {
                  "auth_token": {
                    "type": "string",
                    "description": "Authentication token"
                  },
                  "id": {
                    "type": "string",
                    "description": "User identifier"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User email address"
                  },
                  "data": {
                    "type": "object",
                    "description": "Additional user profile data"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User successfully identified"
          },
          "400": {
            "description": "Bad request - invalid data or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid auth token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/alias": {
      "post": {
        "summary": "Alias User",
        "description": "Change a user's identifier.",
        "operationId": "aliasUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["auth_token", "id", "new_id"],
                "properties": {
                  "auth_token": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string",
                    "description": "Current user identifier"
                  },
                  "new_id": {
                    "type": "string",
                    "description": "New user identifier"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User alias successfully updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/unsubscribe": {
      "post": {
        "summary": "Unsubscribe User",
        "description": "Globally unsubscribe a user from all communications.",
        "operationId": "unsubscribeUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["auth_token", "id"],
                "properties": {
                  "auth_token": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string",
                    "description": "User identifier"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User successfully unsubscribed"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/resubscribe": {
      "post": {
        "summary": "Resubscribe User",
        "description": "Globally resubscribe a user to communications.",
        "operationId": "resubscribeUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["auth_token", "id"],
                "properties": {
                  "auth_token": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string",
                    "description": "User identifier"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User successfully resubscribed"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "delete": {
        "summary": "Delete User",
        "description": "Delete a user profile.",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["auth_token"],
                "properties": {
                  "auth_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User successfully deleted"
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/track": {
      "post": {
        "summary": "Track Event",
        "description": "Track an event for a specific user.",
        "operationId": "trackEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["auth_token", "event_name"],
                "properties": {
                  "auth_token": {
                    "type": "string"
                  },
                  "identity": {
                    "type": "object",
                    "description": "User identity information",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      }
                    }
                  },
                  "event_name": {
                    "type": "string",
                    "description": "Name of the event to track"
                  },
                  "data": {
                    "type": "object",
                    "description": "Event data and properties"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event successfully tracked"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tags/edit": {
      "post": {
        "summary": "Edit User Tags",
        "description": "Add or remove tags to a user's profile.",
        "operationId": "editTags",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["auth_token", "id"],
                "properties": {
                  "auth_token": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string",
                    "description": "User identifier"
                  },
                  "add": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags to add"
                  },
                  "remove": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags to remove"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags successfully updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "summary": "List Campaigns",
        "description": "Returns a list of campaigns.",
        "operationId": "listCampaigns",
        "parameters": [
          {
            "name": "auth_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of campaigns"
          }
        }
      },
      "post": {
        "summary": "Create Campaign",
        "description": "Create a new campaign.",
        "operationId": "createCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["auth_token"],
                "properties": {
                  "auth_token": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string",
                    "description": "Campaign name"
                  },
                  "type": {
                    "type": "string",
                    "description": "Campaign type"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}": {
      "get": {
        "summary": "Get Campaign",
        "description": "Retrieve a specific campaign.",
        "operationId": "getCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Campaign identifier"
          },
          {
            "name": "auth_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details"
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Campaign",
        "description": "Update an existing campaign.",
        "operationId": "updateCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["auth_token"],
                "properties": {
                  "auth_token": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign updated successfully"
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}/launch": {
      "post": {
        "summary": "Launch Campaign",
        "description": "Launch a campaign.",
        "operationId": "launchCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["auth_token"],
                "properties": {
                  "auth_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign launched successfully"
          }
        }
      }
    },
    "/campaigns/{id}/cancel": {
      "post": {
        "summary": "Cancel Campaign",
        "description": "Cancel a campaign.",
        "operationId": "cancelCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["auth_token"],
                "properties": {
                  "auth_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign cancelled successfully"
          }
        }
      }
    },
    "/messages": {
      "get": {
        "summary": "List Messages",
        "description": "Returns a list of messages.",
        "operationId": "listMessages",
        "parameters": [
          {
            "name": "auth_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages"
          }
        }
      }
    },
    "/messages/{id}": {
      "get": {
        "summary": "Get Message",
        "description": "Retrieve a specific message.",
        "operationId": "getMessage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "auth_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message details"
          },
          "404": {
            "description": "Message not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Message",
        "description": "Update an email message.",
        "operationId": "updateMessage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["auth_token"],
                "properties": {
                  "auth_token": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "html": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message updated successfully"
          }
        }
      }
    },
    "/trigger": {
      "get": {
        "summary": "Get Trigger",
        "description": "Returns trigger information.",
        "operationId": "getTrigger",
        "parameters": [
          {
            "name": "auth_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trigger information"
          }
        }
      }
    },
    "/trigger/{id}": {
      "patch": {
        "summary": "Update Trigger",
        "description": "Update a trigger configuration.",
        "operationId": "updateTrigger",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["auth_token"],
                "properties": {
                  "auth_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trigger updated successfully"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "authToken": {
        "type": "apiKey",
        "in": "query",
        "name": "auth_token",
        "description": "Authentication token obtained from your Vero account settings. Must be kept secret and included with each request."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "message": {
            "type": "string",
            "description": "Detailed error description"
          }
        }
      }
    }
  }
}
