{
  "openapi": "3.0.3",
  "info": {
    "title": "PassEntry API",
    "description": "# Getting Started\n**Welcome to Passentry**\n\nPassEntry API is an OpenAPI 3.1.0 compliant REST API with predictable URLs, JSON request bodies, standard HTTP response codes, authentication, and verbs.\nThis documentation describes the functionality of our system available for integration with your business.\n\n**API Host**   `https://api.passentry.com`\n\n# Authentication\n\nThe PassEntry API uses API keys to authenticate requests. You can view and manage your API keys in  [Developer tools](https://app.passentry.com/developer-tools) in the PassEntry Dashboard\n\nYour API keys carry many privileges, so be sure to keep them secure. Don't share your secret API keys in publicly accessible areas such as GitHub, client-side code, and so forth.\n\nAuthentication to the API is performed with Bearer authentication. These tokens must be attached to the Authorization header of the request.\n \nExample: ``\"Authorization\": \"Bearer {API KEY}\"``\n\nYou must make all API calls over  [HTTPS](http://en.wikipedia.org/wiki/HTTP_Secure). Calls that you make over plain HTTP will fail. API requests without authentication will also fail.\n\n# Responses\nPassEntry API responses are generally in [JSON API](https://jsonapi.org/format/) format, which provides a consistent standard for formatting responses in JSON, including a top-level `data` object and optional `included` and `meta` objects.\n\n# Errors\n\nPassEntry uses conventional HTTP response codes to indicate the success or failure of an API request. In general: Codes in the  `2xx`  range indicate success. Codes in the  `4xx`  range indicate an error that failed given the information provided (e.g., a required parameter was omitted, syntax error, etc.). Codes in the  `5xx`  range indicate an error with PassEntry's servers (these are rare).\n\nSome  `4xx`  errors include text that briefly explains the error reported.\n",
    "version": "v1",
    "x-logo": {
      "url": "https://i.ibb.co/Hrv54Cp/Group-2742265.png",
      "href": "https://passentry.com"
    },
    "x-jentic-source-url": "https://docs.passentry.com/api-reference/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.passentry.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Entities",
      "description": "**What are entities?**\n\nEntities serve as subdivisions within an organization, designed to help larger clients such as aggregators or resellers manage their operations more effectively. \nEach entity can represent a different department or business unit within the larger organization, enabling detailed segmentation and breakdowns.\n\nA common use case of having multiple entities is separating the passes in the Wallet (Most commonly an issue in Apple Wallet) as passes from different entities are not grouped in the Wallet.\n\nAll organisations have one entity by default. For most organisations, this is sufficient. If you would like to create additional entities, please contact PassEntry.\n\n**Example**\n\nAn organisation, \"PassEntry Enterprise\" has 2 business units, \"PassEntry Supermarket\" and \"PassEntry Coffee\".\nIn order to keep their information and data separate, they have 2 *Entities*, each with their own *Pass Templates*, *Passes*...etc\n"
    },
    {
      "name": "Pass Templates",
      "description": "## Pass templates\n\nBefore creating passes using the PassEntry API, it is necessary to have a pass template built. A template serves as a blueprint for your passes and includes various components such as fields, colours, images and value keys.\n\n**Create pass template**\n\nTo create a pass template, you can do so directly from the Dashboard, in the Pass Templates page. Click the button 'Create Pass Template' in the top right corner  (direct link:  [https://passentry.com/pass-templates/create](https://passentry.com/pass-templates/create)).\n\nOnce created, the pass template will be shown in the Pass Templates page.\n\n**See pass templates list**\n\nAll pass templates are displayed in the Pass Templates page of your Dashboard (direct link:  [https://passentry.com/pass-templates](https://passentry.com/pass-templates)).\n"
    },
    {
      "name": "Events"
    },
    {
      "name": "Passes",
      "description": "---\n\n## Notifications\nPassEntry supports wallet-native push notifications on both the Apple and Google Wallet.\n\nUse notifications to deliver timely and relevant updates to your customers, such as when the time for an event has changed or that their membership is about to expire.\nA push notification message will appear on the lock screen and will be stored on the back of the pass as the \"Latest Update\".\n\n\n**Best practices**\n\n**Google** currently limits their push notifications to **3 per day** per pass, if you go over this quota, the passholder will not receive a push notification on their lock screen, but it will update the \"Latest Update\" on the back of the pass.\n\n**Apple** limits their push notifications to **10 per day** and may sometimes not show push notifications if sent within a very short interval (seconds between notifications)\n\nWe suggest limiting the maximum number of notifications per day per pass to 3\n      \n\n## Using PassEntry's Download Page to Deliver Passes\n\nWhen creating a pass, we return a JSON object with pass attributes and timestamps. Within this object, we include a `downloadUrl`, unique to each pass, which when clicked by the end user will open a generic pass download page, a web view hosted by PassEntry on `download.passentry.com`.\n\nAs at this stage, the passholder's device type is unknown, one of the purposes of this download page is to detect the user's device and deliver either an Apple Wallet pass or Google Wallet pass. When the download page is opened on a device other than an iPhone or Android phone, it will display a QR code directing the user to the same URL, in order to direct them to open the download page on a mobile device.\n\nUsing this download page enables simple distribution of passes to your customers via a generic, dynamic link. As a best practice, we suggest putting the `downloadUrl` behind a button or redirecting the user to it at a desired point in their user journey.\n\n## Using 'Direct' Pass Source Delivery\n\nIn some cases, use of the download page is not a viable option, such as when provisioning the pass from within an app, or when wanting to directly deliver the pass from within a web page, without redirecting the user to PassEntry's download page. \n\nIn order for this to be possible, you must know the device type when creating the pass. When delivering the pass from within an app, the device type will already be known. When delivering from a web page, there are a number of scripts that can be used to detect the device type and request the correct pass source.\n\nHere is a sample script:\n\n```javascript\n// JavaScript\nconst getMobileOS = () => {\n  const userAgent = navigator.userAgent || navigator.vendor || window.opera;\n  if (/android/i.test(userAgent)) {\n    return \"Android\";\n  } else if (/iPhone/i.test(userAgent)) {\n    return \"iPhone\";\n  }\n  return \"Other\";\n};\n\n// Example usage\nconst mobileOS = getMobileOS();\nconsole.log(`This page is opened on: ${mobileOS}`);\n```\n\nOnce the device is known, request and deliver the correct Pass Source. \nTo request the Pass Source, include the `?includePassSource` query parameter in your `POST /passes/` or `GET /passes/:id` request. This parameter accepts `apple` or `google` as options. For more details, review the API documentation for these endpoints.\n\nIf valid, the response will include the pass attributes in JSON, alongside a `passSource` object. It will only return the `passSource` object in the response if the selected pass is not currently active in a device.\n\n### Delivering a Google Wallet Pass\n\nThe `passSource` object will contain a key, `googleDownloadUrl`, containing a unique URL, which when opened on an Android device, will prompt the user to add their pass to their Google Wallet. As the Google Wallet is linked to an individual Google Account, the user will be prompted to log in to their Google Account if they are not already logged in and to download the Google Wallet if they have not already done so.\n\nThe `googleDownloadUrl` works best when placed behind Google's \"Add to Google Wallet\" button. Here are the brand guidelines and assets provided by Google:\n\n[Add to Google Wallet](https://developers.google.com/wallet/generic/resources/brand-guidelines?hl=en)\n\n### Delivering an Apple Wallet Pass\n\nApple requires the pass source to be delivered as a file with a `.pkpass` extension. The `passSource` object will contain a key, `appleBase64`, containing the `.pkpass` file encoded in base64. Decode the base64, save it to a file with the `.pkpass` extension, and deliver this to the user. When an iPhone detects a `.pkpass` file, it will prompt the user to add it to their Apple Wallet. Deliver the pass when the user clicks Apple's \"Add to Apple Wallet\" button. Here are the brand guidelines and assets provided by Apple:\n\n[Add to Apple Wallet](https://developer.apple.com/wallet/add-to-apple-wallet-guidelines/)\n"
    },
    {
      "name": "Loyalty",
      "description": "PassEntry provides a number of RESTful endpoints for interacting and manipulating passes created under the Loyalty vertical.  \nThis includes but is not limited to: Loyalty Cards, Gift Cards, Coupons, Memberships\u2026\n\n\n### Terminology\n\n**Balance**: This can represent loyalty points, stamps, credit, and more in an integer type. Balance can be accumulated or used. Balance is stored in our database and represented on the pass.  \n\n**POS System:** handles in store sales transactions, inventory management, and reporting\n\n**Loyalty Program:** This is implemented externally to PassEntry, is where the loyalty behaviour is handled and loyalty/customer data is stored. Ideally, this would be closely integrated with the POS system, in order to allow for seamless tracking of purchases and points. _As a best practice, any loyalty data relevant to a pass must always be mirrored in the loyalty program_.\n\n**Payment Terminal:** where payment is made, can also be used to read the loyalty pass and thus identify the customer  \n\n### Enabling loyalty balance\nTo allow interacting with your passes using the Loyalty API, the first step is to ensure that the parent template has loyalty balance enabled.\nOnce this is done, you must choose how you want the balance to be represented on the pass, set at the pass template level.\nWe currently offer support for **integer** and **decimal** types.\n\n- **Integer:** Choose this if your balance is represented as whole numbers. *Eg: 3, 42, 9000*. The loyalty balance will appear as an integer in our responses to the loyalty API, and any numeric value sent in a request will be coerced to an integer. The value on the pass will be represented as an integer. \n- **Decimal:** We support up to 2 decimal places. *Eg: 3.14, 10.95, 100000.34*. The loyalty balance will appear as a float in our responses to the loyalty API. When making requests, format the number as a float with no more than 2 decimal places. When displaying the value on the pass, it will be represented using thousand separators with 2 decimal places. (100,000.34)\n\n---\n  \n### What does a loyalty integration with PassEntry look like?\n\n**Example**: PassEntry Coffee has a loyalty program. Every \u00a310 spent, a customer receives 1 `Point`  \nWhen a customer has received 5 points they are able to get \u00a35 off on their order total\n\n**Distributing a loyalty pass**\n\n1.  A loyalty pass is created and distributed to a customer with an `ext_id` equivalent to customer in the loyalty program\n    \n2.  The loyalty pass balance on this loyalty pass is `0`. This is represented on the loyalty pass as `Points 0` and is stored on the loyalty program.\n    \n3.  When the customer makes a purchase in store and presents their device to make payment, the reader identifies their loyalty pass and sends both the loyalty pass `ext_id` and the loyalty pass balance to the POS\n    \n\n**Accumulating balance**\n\n4.  The POS system takes payment, and updates the loyalty pass with a balance equal to a value determined by the loyalty program, alongside an optional push notification.\n    \n5.  In this example, the customer has spent \u00a320, so the the balance is increased by 2 points and the customer receives `Thank you for your order. You've earned 2 points!` as a push notification.\n    \n\n**Receiving a reward**\n\n5.  The POS system takes \u00a310 payment and customer balance is increased by 1 point.\n    \n6.  As the threshold of 5 points has been reached, as determined by the loyalty program, the customer is sent a push notification `Congratulations! You've got \u00a35 off on your next order!`\n    \n7.  The pass design can be updated via the `/passes/` endpoint so that the `\u00a35 off` reward appears on the loyalty pass design to inform the customer of their reward\n    \n\n**Redeeming a reward**\n\n8.  The POS system is ready to receive payment of \u00a38\n    \n9.  The customer presents their device, and their loyalty pass `ext_id` and balance are sent to the POS system, identifying the customer to the loyalty program\n    \n10.  The loyalty program detects that the customer has 5 points and is thus entitled to a \u00a35 off discount\n    \n11.  The POS system prompts the user to redeem their `\u00a35 off!` reward via a `Would you like get \u00a35 off on this order?` prompt (**Optional:** rewards can be applied automatically as determined by the loyalty program)\n    \n12.  The transaction amount on the payment terminal is updated to \u00a33\n    \n13.  The customer makes payment\n    \n14.  The reward is removed from the loyalty pass alongside a `You've used your \u00a35 off discount!` push notification\n    \n\n**Resetting the balance (Optional)**\n\n17.  At this stage, the loyalty balance can be reset to 0 points\n"
    },
    {
      "name": "Webhook Subscriptions",
      "description": "Webhook subscriptions allow you to receive events as they occur, so that your backend systems can execute actions accordingly.\n\nTo enable webhooks, you must first register a valid HTTPS URL, and subscribe to the events you want to be notified by.\nTo do this, please visit the Webhook section on the PassEntry dashboard or use the API endpoints.\n\n### Setting Up Your Webhook Endpoint\n\n- **HTTPS Requirement**: Ensure your endpoint is a valid HTTPS URL and the path can receive POST requests.\n  \n### Receiving Webhook Events\n\n- **Event Notification**: Upon the occurrence of a subscribed event, PassEntry will send a JSON payload to your endpoint, detailing the event type, timestamp, and relevant information.\n"
    },
    {
      "name": "Webhooks",
      "description": "# Incoming Webhooks with PassEntry\n\n## Overview\n\nWhen building integrations with PassEntry, you might want your application to receive events as they occur, so that your backend systems can execute actions accordingly.\n\nTo enable webhooks, you must first register a valid HTTPS URL, and subscribe to the events you want to be notified by.\nTo do this, please visit the Webhook section on the PassEntry dashboard.\n\n### Setting Up Your Webhook Endpoint\n\n- **HTTPS Requirement**: Ensure your endpoint is a valid HTTPS URL and the path can receive POST requests.\n  \n### Receiving Webhook Events\n\n- **Event Notification**: Upon the occurrence of a subscribed event, PassEntry will send a JSON payload to your endpoint, detailing the event type, timestamp, and relevant information.\n\n## Security Measures\n\nWe implement a number of security measures to guarantee any interactions between PassEntry and your system are verified and authentic.\n\n- **Secret Key**:   When configuring your webhook endpoint, you will be provided a secret key, which PassEntry will use to sign any outbound webhooks. \nYou must store this securely.\nIf you believe your secret key has been compromised, you have the option to **rotate** your secret key. \nThis will immediately invalidate the previous secret key and sign all subsequent webhooks with the new key\n  \n- **Timestamp**: Each webhook payload includes a timestamp, serving as a safeguard against replay attacks.\n  \n- **HMAC-SHA256 Signature**:   Every outgoing webhook includes an HMAC signature.\nThe signature is included in the `X-Webhook-Signature` header and is generated using the webhook payload and the shared secret key.\nTo verify that the webhook is authentic, you can encrypt the webhook payload using the SHA-256 encryption algorithm and your secret key.\nIf your generated signature matches the signature included in the `X-Webhook-Signature` header, you can confirm that the webhook is authentic.\n \n\n## Reliability and Retries\n\n- **Asynchronous Delivery**: Webhooks include a timestamp to reflect the actual event time.\n  \n- **Retry Mechanism**: Failures in delivery due to network issues, SSL problems, or non-2xx HTTP responses will trigger retries. PassEntry retries delivery up to 10 times over 3 days, using exponential backoff.\n\n## Responding to Webhooks\n\n- **Success Responses**: Please ensure your endpoint returns a status code within the 200-299 range. Any code outside this range is considered an error, prompting retries.\n  \n- **Response Body**: While optional, you may return a response body.\n\n### Example Success Response\n\n```http\nHTTP Status: 200\nContent-Type: application/json\n\n{\n  \"status\": \"ok\"\n}\n```\n\n---\n"
    },
    {
      "name": "Readers",
      "description": "Readers can be used for a variety of use cases, to validate access, redeem loyalty, claim discounts, identify the user and much more.\n\n**NFC**\n\nPassEntry's passes are NFC enabled, which allow you to set an NFC 'value' behind every pass. This value defaults to the UUID of the pass, or can be set to a custom value.\nThis NFC value is encrypted, and can only be generated by PassEntry.\nIn order for the NFC value to be read, an NFC reader must be configured.\nTo do this, two things are required, a pass identifier, which tells the reader which passes to request the device for when \"tapped\", and a private key, which allows the reader to decrypt the NFC value.\n\nOur system supports two types of Readers: **VTAP Readers** and **PassEntry Reader App**. Both types can be configured through the Passentry Dashboard or via API requests.\n\nBelow, we provide an overview of each reader type, the configuration process, and additional setup information.\n\n## VTAP Readers\n\n**VTAP Readers** come in a range of form factors, from boxed, countertop devices to embedded hardware that can be integrated in existing platforms. The NFC value can be transmitted over the internet, or over wire through USB, RS-232, RS-485, Wiegand and more.\n\n#### Configuration:\n\nSetting up a VTAP Reader consists of two parts:\n\n1.  **Creating a Reader on Passentry**: You need to provide the following information:\n\n  -   **Name**: A friendly display name for the reader\n  -   **UUID**: A unique identifier for the reader, this must be the \"Reader Serial\" provided by Dot Origin\n  -   **Type**: Should be set to `VtapReader`\n\n\n2.  **Setting up the Device on VTAP Website**: After creating the reader on Passentry, retrieve the required configuration information and use it to set up the device on the VTAP website. More detailed instructions are provided in the guide.\n\n\n## PassEntry Reader App\n\n**PassEntry Reader** is a software application available for download from the Google Play Store, MAXSTORE, and Sunmi App Store. This reader offers additional functionality and settings for scanning NFC passes, QR codes/barcodes, Mifare Classic NFC cards, and more. It can perform specific actions such as scanning taps, redeeming/adding points, and adding stamps. For more information, please [contact PassEntry](mailto:support@passentry.com).\n"
    },
    {
      "name": "Apple Geofencing",
      "description": "# Overview\n\nThis document outlines the implementation of geofencing and iBeacon technology to enhance customer engagement through targeted notifications based on location proximity.\n\nCurrently, only Apple Wallet passes support this feature due to Google Wallet constraints.\n\n## Geofence Notifications\n\n- When a user enters a geofenced area, a notification appears on the lock screen, displaying a preview of the pass from the wallet app along with any set geofence message.\n- Tapping the notification opens the pass in the wallet app, facilitating quick access to barcodes or NFC validation.\n- Geofence notifications are **passive**, meaning the system does not notify PassEntry when a user enters a geofence. This design respects privacy and security considerations.\n**Note:** When setting 2 or more geofences in close proximity, there may be a delay in the notification appearing when moving between geofences. The device implements a cooldown period to ensure that the user has left the previous geofence before entering the next one.\n\n\n# Locations\n - Utilizes exact coordinates (latitude and longitude) to define the targeted area.\n - The radius for geofencing can be set between 10 and 1000 meters (depending on pass type). This allows you to tailor the geofenced area to your specific needs, such as covering the area of a small store or a larger outdoor venue.\n - Each pass can include up to 10 geofenced locations. For more extensive coverage, consider using **beacons**.\n - PassEntry is not able to track the exact location of the user, we do not have access to the user's location data, as this never leaves the device.\n\n# Beacons\n\niBeacons are a technology standard developed by Apple that allows mobile apps to listen for signals from beacons in the physical world and react accordingly.  \nThe technology is based on Bluetooth Low Energy (BLE) proximity sensing, which enables a device to perform actions when in close proximity to a beacon.\nPassEntry is not able to track the exact location of the user, we do not have access to the user's location data, as this never leaves the device.\n\n\n\nLearn more about beacons here: [iBeacon](https://en.wikipedia.org/wiki/IBeacon)\n\n\nIf you have a large number of location you would like to enable geofence capabilities for, here's an example:  \n\n**Use Case: PassEntry Coffee Chain**\n - Scenario: PassEntry Coffee, a chain with 100 locations across London, Dubai, and Singapore, uses iBeacons to offer location-based promotions.\n - Each location is equipped with two beacons: one in the bakery section and another in the cafe section.\n - The PassEntry Coffee loyalty pass incorporates different campaigns across regions, utilizing the same UUID for all beacons but varying Major and Minor values for location and section identification.\n - In total, PassEntry Coffee would purchase and configure 200 ibeacons (100 locations x 2 sections).\n\n Configuration Example\n - UUID: All beacons use E2C56DB5-DFFB-48D2-B060-D0F5A71096E0.\n - Major: Represents the city (e.g., 1 for London, 2 for Dubai).\n - Minor: Specifies the section within a location (e.g., 1 for the bakery, 2 for the cafe).\n\n In this example: **PassEntry Coffee** would configure their 200 beacons like so:\n```\nLondon (50 locations): \n  Bakery Section beacons: \n    uuid: E2C56DB5-DFFB-48D2-B060-D0F5A71096E0 \n    major: 1 \n    minor: 1 \n    name: 'london-bakery' \n  Cafe Section beacons: \n    uuid: E2C56DB5-DFFB-48D2-B060-D0F5A71096E0 \n    major: 1 \n    minor: 2 \n    name: 'london-cafe' \n\nDubai (30 locations): \n  Bakery Section beacons: \n    uuid: E2C56DB5-DFFB-48D2-B060-D0F5A71096E0 \n    major: 2 \n    minor: 1 \n    name: 'dubai-bakery' \n  Cafe Section beacons: \n    uuid: E2C56DB5-DFFB-48D2-B060-D0F5A71096E0 \n    major: 2 \n    minor: 2 \n    name: 'dubai-cafe' \n\nSingapore (20 locations): \n  Bakery Section beacons: \n    uuid: E2C56DB5-DFFB-48D2-B060-D0F5A71096E0 \n    major: 3 \n    minor: 1 \n    name: 'singapore-section' \n  Cafe Section beacons: \n    uuid: E2C56DB5-DFFB-48D2-B060-D0F5A71096E0 \n    major: 3 \n    minor: 2 \n    name: 'singapore-cafe'\n```\n\nWhen building the pass via the PassEntry API, the following JSON structure would be used to define the beacons:\n\n```\n{\n  \"beacons\": [\n      {\n      \"proximity_uuid\": \"E2C56DB5-DFFB-48D2-B060-D0F5A71096E0\",\n      \"major\": 1,\n      \"minor\": 1, \n      \"message\": \"\u00a310 off on cakes!\",\n      \"name\": \"london-bakery\"\n    }, {\n      \"proximity_uuid\": \"E2C56DB5-DFFB-48D2-B060-D0F5A71096E0\",\n      \"major\": 1,\n      \"minor\": 2, \n      \"message\": \"Buy one get one free juice\",\n      \"name\": \"london-cafe\"\n    }, {\n      \"proximity_uuid\": \"E2C56DB5-DFFB-48D2-B060-D0F5A71096E0\",\n      \"major\": 2,\n      \"minor\": 1, \n      \"message\": \"AED 20 off on cakes!\",\n      \"name\": \"dubai-bakery\"\n    }, {\n      \"proximity_uuid\": \"E2C56DB5-DFFB-48D2-B060-D0F5A71096E0\",\n      \"major\": 2,\n      \"minor\": 2,\n      \"message\": \"Try our pumpkin spice lattes!\",\n      \"name\": \"dubai-cafe\"\n    }, {\n      \"proximity_uuid\": \"E2C56DB5-DFFB-48D2-B060-D0F5A71096E0\",\n      \"major\": 3,\n      \"minor\": 1,\n      \"message\": \"$5 off on kuih lapis!\",\n      \"name\": \"singapore-bakery\"\n    }, {\n      \"proximity_uuid\": \"E2C56DB5-DFFB-48D2-B060-D0F5A71096E0\",\n      \"major\": 3,\n      \"minor\": 2, \n      \"message\": \"Buy one get one free teh tarik!\",\n      \"name\": \"singapore-cafe\"\n    }\n  ]\n}\n```\n"
    }
  ],
  "paths": {
    "/api/v1/passes/{id}/notification": {
      "post": {
        "summary": "Send Notification",
        "tags": [
          "Passes"
        ],
        "operationId": "notifyPass",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Pass UUID or External ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesful",
            "headers": {
              "X-Notification-Status": {
                "schema": {
                  "$ref": "#/components/schemas/notificationStatusHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/serializedPassObject"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/notificationMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error: Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Error: Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/notification"
              },
              "example": {
                "notification": {
                  "message": "Use code PASSENTRY2024 for 10% off!"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/entities/{id}/messaging/wallet": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Entity ID",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "Create wallet messaging batch",
        "description": "Create a new wallet messaging batch using segments, recipients, or a CSV file (via multipart/form-data). \n\n For more details, see the [Wallet Messaging](/documentation/bulk-operations/batch-notifications/guide) documentation.",
        "tags": [
          "Batches"
        ],
        "operationId": "createWalletMessagingBatch",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "d29455c9-afe4-4c73-b946-a5ea0b1667f7",
                    "type": "walletMessaging",
                    "attributes": {
                      "name": "Summer Promotion 01/06/2025",
                      "status": "validating",
                      "tag": null,
                      "content": "Hello, World!",
                      "scheduledAt": "2030-03-31T13:16:26Z"
                    }
                  },
                  "links": {
                    "self": "https://api.passentry.com/api/v1/batches/d29455c9-afe4-4c73-b946-a5ea0b1667f7"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/serializedWalletMessagingBatch"
                    },
                    "links": {
                      "$ref": "#/components/schemas/batchSelfLink"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    "Access denied"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createWalletMessagingBatch"
              },
              "examples": {
                "Pass Group Tag Segment": {
                  "summary": "Pass Group Tag Segment",
                  "value": {
                    "batch": {
                      "message": "Hello, World!",
                      "segments": [
                        {
                          "groupTag": "summerPromotion"
                        }
                      ],
                      "scheduledAt": "2030-03-31T13:16:26Z"
                    }
                  }
                },
                "Pass Template Segment": {
                  "summary": "Pass Template Segment",
                  "value": {
                    "batch": {
                      "message": "Hello, World!",
                      "segments": [
                        {
                          "passTemplateId": "bf9d5cc29114"
                        }
                      ],
                      "scheduledAt": "2030-03-31T13:16:26Z"
                    }
                  }
                },
                "Recipients": {
                  "summary": "Recipients example with variables",
                  "value": {
                    "batch": {
                      "message": "Hello, %{name}! You are a %{tier} member.",
                      "recipients": [
                        {
                          "passId": "f94b60e0eae2233b02803fdbeff779f7dc3c48fe",
                          "variables": {
                            "name": "Jane Doe",
                            "tier": "Gold"
                          }
                        }
                      ],
                      "scheduledAt": "2030-03-31T13:16:26Z"
                    }
                  }
                },
                "CSV File": {
                  "summary": "CSV File",
                  "value": {
                    "csv": "[binary file content not shown]",
                    "message": "Hello, %{name}! Your ticket number is %{ticket_number}.",
                    "scheduledAt": "2030-03-31T13:16:26Z"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/createWalletMessagingBatchMultipart"
              },
              "examples": {
                "Batch Wallet - valid.csv": {
                  "summary": "Batch Wallet - valid.csv",
                  "value": {
                    "csv": "[binary file content not shown]",
                    "message": "Hello, %{name}! Your ticket number is %{ticket_number}.",
                    "scheduledAt": "2030-03-31T13:16:26Z"
                  }
                }
              }
            }
          },
          "required": true,
          "description": "Batch"
        }
      }
    },
    "/api/v1/batches": {
      "get": {
        "summary": "List batches",
        "tags": [
          "Batches"
        ],
        "operationId": "listBatches",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Type of the batch",
            "schema": {
              "type": "string",
              "enum": [
                "walletMessaging",
                "passCreation",
                "passUpdate"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": "8ecfc493-da04-493b-8b98-bf9d5cc29115",
                      "type": "walletMessaging",
                      "attributes": {
                        "name": "Summer Promotion 2",
                        "status": "failed",
                        "tag": null,
                        "content": "Hello, World!",
                        "scheduledAt": "2030-03-31T13:16:26Z"
                      }
                    },
                    {
                      "id": "8ecfc493-da04-493b-8b98-bf9d5cc29114",
                      "type": "walletMessaging",
                      "attributes": {
                        "name": "Summer Promotion",
                        "status": "scheduled",
                        "tag": null,
                        "content": "Hello, World!",
                        "scheduledAt": "2030-03-31T13:16:26Z"
                      }
                    }
                  ],
                  "meta": {
                    "totalCount": 2,
                    "resultsPerPage": 25,
                    "currentPage": 1,
                    "totalPages": 1
                  },
                  "links": {
                    "first": null,
                    "prev": null,
                    "next": null,
                    "last": null
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/serializedWalletMessagingBatch"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/indexLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/indexMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    "Access denied"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/batches/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Batch ID",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Show batch",
        "tags": [
          "Batches"
        ],
        "operationId": "showBatch",
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "examples": {
                  "walletMessaging": {
                    "value": {
                      "data": {
                        "id": "8ecfc493-da04-493b-8b98-bf9d5cc29114",
                        "type": "walletMessaging",
                        "attributes": {
                          "name": "Summer Promotion",
                          "status": "scheduled",
                          "tag": null,
                          "content": "Hello, World!",
                          "scheduledAt": "2030-03-31T13:16:26Z"
                        }
                      }
                    }
                  },
                  "passCreation": {
                    "value": {
                      "data": {
                        "id": "999b774f-02ae-4931-94c6-596f614ef4f4",
                        "type": "passCreation",
                        "attributes": {
                          "name": "Batch: Pass Creation 2025-11-21 15:34:02",
                          "status": "processing",
                          "passTemplateName": "PassEntry Ticketing",
                          "passTemplateNameId": "acbb27e9cfb4e8f62f8cb999"
                        }
                      }
                    }
                  },
                  "passUpdate": {
                    "value": {
                      "data": {
                        "id": "999b774f-02ae-4931-94c6-596f614ef4f4",
                        "type": "passUpdate",
                        "attributes": {
                          "name": "Batch: Pass Update 2025-11-21 15:34:02",
                          "status": "validating",
                          "tag": "summerPromotion",
                          "passTemplateName": "PassEntry Loyalty",
                          "passTemplateNameId": "acbb27e9cfb4e8f62f8cb999",
                          "scheduledAt": "2024-01-01T00:00:00Z",
                          "errorsCsvUrl": "https://example.com/errors.csv",
                          "totalCount": 1000,
                          "progress": {
                            "total": 1000,
                            "processed": 800,
                            "pending": 200
                          }
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/serializedWalletMessagingBatch"
                        },
                        {
                          "$ref": "#/components/schemas/serializedPassCreationBatch"
                        },
                        {
                          "$ref": "#/components/schemas/serializedPassUpdateBatch"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    "Access denied"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/batches/{id}/cancel": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Batch ID",
          "schema": {
            "type": "string"
          }
        }
      ],
      "patch": {
        "summary": "Cancel batch",
        "tags": [
          "Batches"
        ],
        "operationId": "cancelBatch",
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "examples": {
                  "walletMessaging": {
                    "value": {
                      "data": {
                        "id": "8ecfc493-da04-493b-8b98-bf9d5cc29114",
                        "type": "walletMessaging",
                        "attributes": {
                          "name": "Summer Promotion",
                          "status": "cancelled",
                          "tag": null,
                          "content": "Hello, World!",
                          "scheduledAt": "2030-03-31T13:16:26Z"
                        }
                      }
                    }
                  },
                  "passUpdate": {
                    "value": {
                      "data": {
                        "id": "999b774f-02ae-4931-94c6-596f614ef4f4",
                        "type": "passUpdate",
                        "attributes": {
                          "name": "Batch: Pass Update 2025-11-21 15:34:02",
                          "status": "cancelled",
                          "tag": "summerPromotion",
                          "passTemplateName": "PassEntry Loyalty",
                          "passTemplateNameId": "acbb27e9cfb4e8f62f8cb999",
                          "scheduledAt": "2030-03-31T13:16:26Z"
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/serializedWalletMessagingBatch"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    "Access denied"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/entities": {
      "get": {
        "summary": "List entities",
        "tags": [
          "Entities"
        ],
        "operationId": "listEntities",
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": "0d10c850",
                      "type": "entity",
                      "attributes": {
                        "name": "PassEntry Fitness Centre",
                        "passDeeplinks": {
                          "apple": "shoebox://pass/pass.com.test.test/{PASSENTRY_PASS_UUID}",
                          "google": "https://pay.google.com/gp/v/object/3388000000022258457.{PASSENTRY_PASS_UUID}"
                        }
                      }
                    },
                    {
                      "id": "0d10c84f",
                      "type": "entity",
                      "attributes": {
                        "name": "PassEntry Coffee",
                        "passDeeplinks": {
                          "apple": "shoebox://pass/pass.com.test.test/{PASSENTRY_PASS_UUID}",
                          "google": "https://pay.google.com/gp/v/object/3388000000022258457.{PASSENTRY_PASS_UUID}"
                        }
                      }
                    },
                    {
                      "id": "0d10c84e",
                      "type": "entity",
                      "attributes": {
                        "name": "PassEntry Supermarket",
                        "passDeeplinks": {
                          "apple": "shoebox://pass/pass.com.test.test/{PASSENTRY_PASS_UUID}",
                          "google": "https://pay.google.com/gp/v/object/3388000000022258457.{PASSENTRY_PASS_UUID}"
                        }
                      }
                    }
                  ],
                  "meta": {
                    "totalCount": 3,
                    "resultsPerPage": 25,
                    "currentPage": 1,
                    "totalPages": 1
                  },
                  "links": {
                    "first": null,
                    "prev": null,
                    "next": null,
                    "last": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/serializedEntitiesList"
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    "Access denied"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/entities/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "Entity ID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Show Entity",
        "tags": [
          "Entities"
        ],
        "operationId": "getEntity",
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "37ae0eaa",
                    "type": "entity",
                    "attributes": {
                      "name": "PassEntry Supermarket",
                      "passDeeplinks": {
                        "apple": "shoebox://pass/pass.com.test.test/{PASSENTRY_PASS_UUID}",
                        "google": "https://pay.google.com/gp/v/object/3388000000022258457.{PASSENTRY_PASS_UUID}"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/serializedEntity"
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    "Access denied"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Error: Not Found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    "Entity not found"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/events/{event_uuid}": {
      "get": {
        "summary": "Show event",
        "tags": [
          "Events"
        ],
        "operationId": "showEvent",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "event_uuid",
            "in": "path",
            "description": "event_uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "506cb78e57ee",
                    "type": "event",
                    "attributes": {
                      "name": "The Lion King Live",
                      "venueName": "Lyceum Theathre",
                      "startTime": "2023-09-15T11:45:00Z",
                      "endTime": "2023-09-15T11:45:00Z",
                      "timeZone": "UTC",
                      "status": "ended"
                    },
                    "meta": {
                      "passesCount": 0
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/serializedEvent"
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Error: Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update event",
        "tags": [
          "Events"
        ],
        "operationId": "updateEvent",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "event_uuid",
            "in": "path",
            "description": "event_uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": {
                      "data": {
                        "id": "506cb78e57ee",
                        "type": "event",
                        "attributes": {
                          "name": "The Lion King Live",
                          "venueName": "Lyceum Theathre",
                          "startTime": "2023-09-15T11:45:00Z",
                          "endTime": "2023-09-15T11:45:00Z",
                          "timeZone": "UTC",
                          "status": "ended"
                        },
                        "meta": {
                          "passesCount": 0
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/serializedEvent"
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "422": {
            "description": "Error: Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateEvent"
              }
            }
          }
        }
      }
    },
    "/api/v1/entities/{entity_id}/events": {
      "post": {
        "summary": "Create event",
        "tags": [
          "Events"
        ],
        "operationId": "createEvent",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "description": "entity_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": {
                      "data": {
                        "id": "9f1e67ca17ee",
                        "type": "event",
                        "attributes": {
                          "name": "Bob Marley Live",
                          "venueName": "The Lyceum Theatre",
                          "startTime": "1975-07-17T22:30:00+01:00",
                          "endTime": "1975-07-18T02:30:00+01:00",
                          "timeZone": "Europe/London",
                          "status": "ended"
                        },
                        "meta": {
                          "passesCount": 0
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/serializedEvent"
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "422": {
            "description": "Error: Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createEvent"
              }
            }
          }
        }
      }
    },
    "/api/v1/loyalty/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "Pass UUID or External ID",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "includePassDesign",
          "in": "query",
          "schema": {
            "type": "boolean"
          },
          "description": "If true, includes the pass design in the response",
          "required": false
        },
        {
          "name": "includeLocations",
          "in": "query",
          "schema": {
            "type": "boolean"
          },
          "description": "If true, includes the locations in the response if any are present",
          "required": false
        },
        {
          "name": "includeBeacons",
          "in": "query",
          "schema": {
            "type": "boolean"
          },
          "description": "If true, includes the beacons in the response if any are present",
          "required": false
        }
      ],
      "get": {
        "summary": "Get loyalty balance",
        "tags": [
          "Loyalty"
        ],
        "operationId": "getLoyaltyBalance",
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "2258d9ed-05bc-47cd-be65-83b9bb5e0273",
                    "type": "pass",
                    "attributes": {
                      "downloadUrl": "https://www.example.com?pass=2258d9ed-05bc-47cd-be65-83b9bb5e0273",
                      "passType": "storeCard",
                      "deviceType": "android",
                      "createdAt": "2022-01-01T00:00:00Z",
                      "status": "active",
                      "extId": "4e9ab9e571bbc8ff64e7",
                      "passTemplateUuid": "b7f3372d08eddd76f28926ff",
                      "passTemplateName": "PassEntry Store",
                      "nfc": "941c35348d16187199a6b41047f0b7862b2dcb67",
                      "barcode": {},
                      "passContent": {
                        "description": "Template Description",
                        "centralTitle": "Template Central Title",
                        "fullName": "Robert Smith",
                        "labelOne": "1",
                        "labelTwo": "11",
                        "points": "7",
                        "terms": "Your use of the Google Wallet is subject to Google's terms and conditions of use, which PassEntry are not responsible for."
                      }
                    }
                  },
                  "meta": {
                    "loyalty": {
                      "balance": 7
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/loyaltyPass"
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    "Access denied"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Error: Not Found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    "Pass with provided id not found"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update loyalty balance",
        "tags": [
          "Loyalty"
        ],
        "operationId": "updateLoyaltyBalance",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "includePassDesign",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "If true, includes the pass design in the response",
            "required": false
          },
          {
            "name": "includeLocations",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "If true, includes the locations in the response if any are present",
            "required": false
          },
          {
            "name": "includeBeacons",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "If true, includes the beacons in the response if any are present",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "2258d9ed-05bc-47cd-be65-83b9bb5e0273",
                    "type": "pass",
                    "attributes": {
                      "downloadUrl": "https://www.example.com?pass=2258d9ed-05bc-47cd-be65-83b9bb5e0273",
                      "passType": "storeCard",
                      "deviceType": "android",
                      "createdAt": "2022-01-01T00:00:00Z",
                      "status": "active",
                      "extId": "4e9ab9e571bbc8ff64e7",
                      "passTemplateUuid": "b7f3372d08eddd76f28926ff",
                      "passTemplateName": "PassEntry Store",
                      "nfc": "941c35348d16187199a6b41047f0b7862b2dcb67",
                      "barcode": {},
                      "passContent": {
                        "description": "Template Description",
                        "centralTitle": "Template Central Title",
                        "fullName": "Robert Smith",
                        "labelTwo": "11",
                        "points": "17",
                        "terms": "Your use of the Google Wallet is subject to Google's terms and conditions of use, which PassEntry are not responsible for."
                      }
                    }
                  },
                  "meta": {
                    "loyalty": {
                      "balance": 17
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/loyaltyPass"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/loyaltyBalance"
              },
              "examples": {
                "0": {
                  "summary": "Update loyalty balance",
                  "value": {
                    "balance": 10
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pass_templates/{pass_template_uuid}": {
      "parameters": [
        {
          "name": "pass_template_uuid",
          "in": "path",
          "description": "pass_template_uuid",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Show Pass Template",
        "tags": [
          "Pass Templates"
        ],
        "operationId": "getPassTemplate",
        "security": [
          {
            "api_key": []
          }
        ],
        "deprecated": true,
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": "f0af94dc3c69a80cee32c173",
                    "type": "passTemplate",
                    "attributes": {
                      "backgroundColor": "#EFEFEF",
                      "name": "Summer Sale 2023",
                      "description": "Summer Sale Pass",
                      "labelColor": "#FF8477",
                      "textColor": "#29323A",
                      "templateType": "storeCard",
                      "header": {
                        "header_one": {
                          "id": "name",
                          "label": "Name",
                          "default_value": null
                        },
                        "header_two": {
                          "id": null,
                          "label": null,
                          "default_value": null
                        },
                        "header_three": {
                          "id": null,
                          "label": null,
                          "default_value": null
                        }
                      },
                      "primary": {
                        "primary_one": {
                          "id": "attendee",
                          "label": "Attendee",
                          "default_value": null
                        },
                        "primary_two": {
                          "id": null,
                          "label": null,
                          "default_value": null
                        }
                      },
                      "secondary": {
                        "secOne": {
                          "id": "address",
                          "label": "Address",
                          "default_value": null
                        },
                        "secTwo": {
                          "id": null,
                          "label": null,
                          "default_value": null
                        },
                        "secThree": {
                          "id": null,
                          "label": null,
                          "default_value": null
                        }
                      },
                      "auxiliary": {
                        "auxOne": {
                          "id": "dob",
                          "label": "DOB",
                          "default_value": null
                        },
                        "auxTwo": {
                          "id": null,
                          "label": null,
                          "default_value": null
                        },
                        "auxThree": {
                          "id": null,
                          "label": null,
                          "default_value": null
                        }
                      },
                      "backFields": {
                        "backOne": {
                          "id": "website",
                          "label": "Website",
                          "default_value": null
                        },
                        "backTwo": {
                          "id": null,
                          "label": null,
                          "default_value": null
                        },
                        "backFive": {
                          "id": null,
                          "label": null,
                          "default_value": null
                        },
                        "backFour": {
                          "id": null,
                          "label": null,
                          "default_value": null
                        },
                        "backThree": {
                          "id": null,
                          "label": null,
                          "default_value": null
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/serializedPassTemplateDeprecated"
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    "Access denied"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Error: Not Found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    "Pass template not found"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhook-subscriptions": {
      "post": {
        "summary": "Create Webhook Subscription",
        "description": "Create a new webhook subscription to receive events",
        "tags": [
          "Webhook Subscriptions"
        ],
        "operationId": "createWebhookSubscription",
        "security": [
          {
            "api_key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/webhookSubscriptionRequest"
              },
              "example": {
                "webhookSubscription": {
                  "url": "https://example.com/webhook",
                  "enabled": true,
                  "subscribedEvents": [
                    "passInstalled",
                    "passRemoved"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook subscription created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/webhookSubscriptionResponse"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "01983282-53cf-7e16-b5e1-dd0de4ce02fa",
                    "type": "webhookSubscription",
                    "attributes": {
                      "url": "https://example.com/webhook",
                      "secretKey": "a2e2c04657b924390d2a2623439c65734d07e0f8",
                      "enabled": true,
                      "scopeType": "organisation",
                      "scopeName": "Test Organisation",
                      "subscribedEvents": [
                        "passInstalled",
                        "passRemoved"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid webhook subscription data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Invalid webhook URL or configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Webhook Subscriptions",
        "description": "List all webhook subscriptions with pagination and filtering options",
        "tags": [
          "Webhook Subscriptions"
        ],
        "operationId": "listWebhookSubscriptions",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "description": "Record limiter per page. Default is 5, max is 100",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number. Default is 1",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "entityId",
            "in": "query",
            "description": "Filter by entity ID (for webhook subscriptions scoped to an entity).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook subscriptions listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/webhookSubscriptionResponse"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/indexMeta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/indexLinks"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "01983282-53cf-7e16-b5e1-dd0de4ce02fa",
                      "type": "webhookSubscription",
                      "attributes": {
                        "url": "https://example.com/webhook",
                        "secretKey": "a2e2c04657b924390d2a2623439c65734d07e0f8",
                        "enabled": true,
                        "scopeType": "organisation",
                        "scopeName": "Test Organisation",
                        "subscribedEvents": [
                          "passInstalled",
                          "passRemoved"
                        ]
                      }
                    }
                  ],
                  "meta": {
                    "totalCount": 1,
                    "resultsPerPage": 10,
                    "currentPage": 1,
                    "totalPages": 1
                  },
                  "links": {
                    "first": null,
                    "prev": null,
                    "next": null,
                    "last": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pass-templates": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Pass Templates"
        ],
        "summary": "Create Pass Template",
        "description": "Create a new pass template",
        "operationId": "createPassTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/passTemplate"
                  },
                  {
                    "properties": {
                      "passTemplate": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "templateType": {
                            "description": "Type of pass template, determines the design and functionality of the pass",
                            "$ref": "#/components/schemas/passType"
                          },
                          "barcode": {
                            "description": "Barcode for a pass template",
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "description": "If true, barcode will be added to the pass"
                              },
                              "type": {
                                "type": "string",
                                "description": "Barcode type",
                                "enum": [
                                  "qr",
                                  "code128",
                                  "aztec",
                                  "pdf417"
                                ]
                              },
                              "source": {
                                "type": "string",
                                "description": "Source of the barcode",
                                "enum": [
                                  "custom",
                                  "uuid",
                                  "extId"
                                ]
                              },
                              "value": {
                                "type": "string",
                                "description": "Barcode value. You can leave it blank if the value will be dynamically set in the pass, but you can also provide a default.\n\nYou can make the value dynamic using the `%{passData.xyz}` syntax (e.g., `Hello, %{passData.extId}`). Currently, only `%{passData.extId}` and `%{passData.uuid}` are supported.\n\nIf `source` is set to `extId` or `uuid`, the value will be automatically populated and can be left blank.",
                                "example": "abc123"
                              },
                              "displayText": {
                                "type": "boolean",
                                "description": "If true, display the barcode value as text on the pass"
                              }
                            },
                            "required": [
                              "enabled",
                              "type",
                              "source"
                            ]
                          }
                        },
                        "required": [
                          "templateType"
                        ]
                      }
                    }
                  }
                ]
              },
              "example": {
                "passTemplate": {
                  "name": "PassEntry Supermarket",
                  "templateType": "generic",
                  "defaultLanguage": "en",
                  "centralTitle": "PassEntry Supermarket",
                  "notificationHeader": "PassEntry Supermarket",
                  "description": "PassEntry Supermarket",
                  "colors": {
                    "background": "#dbdbdb",
                    "label": "#000000",
                    "text": "#000000"
                  },
                  "images": {
                    "banner": "https://example.com/images/banner.jpg",
                    "logo": "https://example.com/images/logo.jpg",
                    "icon": "https://example.com/images/icon.jpg",
                    "watermark": {
                      "color": "light",
                      "position": "bottomRight"
                    }
                  },
                  "fields": {
                    "header": {
                      "one": {
                        "id": "points",
                        "label": "Points",
                        "defaultValue": "0",
                        "localisation": {
                          "fr": {
                            "label": "Points",
                            "defaultValue": "0"
                          },
                          "is": {
                            "label": "Stig",
                            "defaultValue": "0"
                          }
                        }
                      }
                    },
                    "central": {
                      "one": {
                        "id": "name",
                        "label": "Central",
                        "defaultValue": "Sample Name",
                        "localisation": {
                          "fr": {
                            "label": "Central",
                            "defaultValue": "Exemple de Nom"
                          },
                          "is": {
                            "label": "Mi\u00f0ja",
                            "defaultValue": "S\u00fdnishorn Nafn"
                          }
                        }
                      }
                    },
                    "details": {
                      "one": {
                        "id": "name",
                        "label": "Name",
                        "defaultValue": "Jane Doe",
                        "localisation": {
                          "fr": {
                            "label": "Nom",
                            "defaultValue": "Jeanne Dupont"
                          },
                          "is": {
                            "label": "Nafn",
                            "defaultValue": "J\u00f3na J\u00f3nsd\u00f3ttir"
                          }
                        }
                      },
                      "two": {
                        "id": "discount",
                        "label": "Discount",
                        "defaultValue": "15%",
                        "localisation": {
                          "fr": {
                            "label": "R\u00e9duction",
                            "defaultValue": "15%"
                          },
                          "is": {
                            "label": "Afsl\u00e1ttur",
                            "defaultValue": "15%"
                          }
                        }
                      },
                      "three": {
                        "id": "tier",
                        "label": "Membership Tier",
                        "defaultValue": "Silver",
                        "localisation": {
                          "fr": {
                            "label": "Niveau de fid\u00e9lit\u00e9",
                            "defaultValue": "Argent"
                          },
                          "is": {
                            "label": "A\u00f0ildarstig",
                            "defaultValue": "Silfur"
                          }
                        }
                      }
                    },
                    "back": {
                      "one": {
                        "id": "email",
                        "label": "Email",
                        "defaultValue": "jane.doe@example.com",
                        "localisation": {
                          "fr": {
                            "label": "E-mail",
                            "defaultValue": "jeanne.dupont@exemple.com"
                          },
                          "is": {
                            "label": "Netfang",
                            "defaultValue": "jona.jonsdottir@daemi.is"
                          }
                        }
                      }
                    }
                  },
                  "appLinking": {
                    "apple": {
                      "appStoreUrl": [
                        "https://apps.apple.com/gb/app/whatsapp-messenger/id310633997"
                      ]
                    },
                    "google": {
                      "app": {
                        "playStoreUrl": "https://play.google.com/store/apps/details?id=com.whatsapp"
                      },
                      "displayText": {
                        "text": "Click here for more!"
                      }
                    }
                  },
                  "barcode": {
                    "enabled": true,
                    "type": "qr",
                    "source": "custom",
                    "value": "123abcd"
                  },
                  "locations": [
                    {
                      "name": "Venue",
                      "latitude": 51.54321132456805,
                      "longitude": -0.022901231803803924,
                      "radius": 100,
                      "message": "Welcome to the venue"
                    }
                  ],
                  "beacons": [
                    {
                      "name": "Beacon",
                      "proximityUuid": "123e4567-e89b-12d3-a456-426614174000",
                      "major": 1,
                      "minor": 1,
                      "message": "Welcome to the venue"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Succesful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serializedProcessingPassTemplate"
                }
              }
            }
          },
          "400": {
            "description": "Error: Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Error: Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Pass Templates",
        "description": "List all pass templates",
        "tags": [
          "Pass Templates"
        ],
        "operationId": "listPassTemplates",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "description": "Record limiter per page. Default is 10, max is 100",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number. Default is 1",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "templateType",
            "in": "query",
            "description": "Filter by template type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "name,description,templateType"
            },
            "description": "Returns a partial response (Sparse fieldset) per record, instead of the whole record. Set one or many comma separated record attributes",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/serializedPassTemplate"
                          },
                          {
                            "$ref": "#/components/schemas/serializedProcessingPassTemplate"
                          }
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "totalCount": {
                          "type": "integer",
                          "description": "Total count"
                        },
                        "resultsPerPage": {
                          "type": "integer"
                        },
                        "currentPage": {
                          "type": "integer"
                        },
                        "totalPages": {
                          "type": "integer"
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "19cb334f9696e64e10e7759f0",
                      "type": "passTemplate",
                      "attributes": {
                        "name": "PassEntry Supermarket",
                        "templateType": "generic",
                        "defaultLanguage": "en",
                        "centralTitle": "PassEntry Supermarket",
                        "notificationHeader": "PassEntry Supermarket",
                        "colors": {
                          "background": "#EFEFEF",
                          "label": "#FF8477",
                          "text": "#29323A"
                        },
                        "images": {
                          "banner": "https://example.com/banner.png",
                          "logo": "https://example.com/logo.png",
                          "icon": "https://example.com/icon.png"
                        },
                        "fields": {
                          "header": {
                            "one": {
                              "id": "membership_tier",
                              "label": "Membership Tier",
                              "defaultValue": "Gold"
                            }
                          },
                          "central": {
                            "one": {
                              "id": "membership_tier",
                              "label": "Membership Tier",
                              "defaultValue": "Gold"
                            }
                          },
                          "details": {
                            "one": {
                              "id": "membership_tier",
                              "label": "Membership Tier",
                              "defaultValue": "Gold"
                            }
                          },
                          "back": {
                            "one": {
                              "id": "membership_tier",
                              "label": "Membership Tier",
                              "defaultValue": "Gold"
                            }
                          }
                        }
                      }
                    }
                  ],
                  "meta": {
                    "totalCount": 1,
                    "resultsPerPage": 10,
                    "currentPage": 1,
                    "totalPages": 1
                  },
                  "links": {
                    "first": null,
                    "prev": null,
                    "next": null,
                    "last": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pass-templates/{id}": {
      "get": {
        "summary": "Show Pass Template",
        "tags": [
          "Pass Templates"
        ],
        "operationId": "showPassTemplate",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Pass Template UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "name,description,templateType"
            },
            "description": "Returns a partial response (Sparse fieldset), instead of the whole record. Set one or many comma separated record attributes",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/serializedPassTemplate"
                        },
                        {
                          "$ref": "#/components/schemas/serializedProcessingPassTemplate"
                        }
                      ]
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "19cb334f9696e64e10e7759f0",
                    "type": "passTemplate",
                    "attributes": {
                      "name": "PassEntry Supermarket",
                      "templateType": "generic",
                      "defaultLanguage": "en",
                      "centralTitle": "PassEntry Supermarket",
                      "notificationHeader": "PassEntry Supermarket",
                      "colors": {
                        "background": "#EFEFEF",
                        "label": "#FF8477",
                        "text": "#29323A"
                      },
                      "images": {
                        "banner": "https://example.com/banner.png",
                        "logo": "https://example.com/logo.png",
                        "icon": "https://example.com/icon.png"
                      },
                      "fields": {
                        "header": {
                          "one": {
                            "id": "membership_tier",
                            "label": "Membership Tier",
                            "defaultValue": "Gold"
                          }
                        },
                        "central": {
                          "one": {
                            "id": "membership_tier",
                            "label": "Membership Tier",
                            "defaultValue": "Gold"
                          }
                        },
                        "details": {
                          "one": {
                            "id": "membership_tier",
                            "label": "Membership Tier",
                            "defaultValue": "Gold"
                          }
                        },
                        "back": {
                          "one": {
                            "id": "membership_tier",
                            "label": "Membership Tier",
                            "defaultValue": "Gold"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Error: Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Pass Template",
        "tags": [
          "Pass Templates"
        ],
        "operationId": "updatePassTemplate",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Pass Template UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/passTemplate"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "passTemplate": {
                        "type": "object",
                        "properties": {
                          "transitType": {
                            "$ref": "#/components/schemas/passTemplateTransitType"
                          },
                          "fields": {
                            "type": "object",
                            "properties": {
                              "header": {
                                "type": "object",
                                "properties": {
                                  "one": {
                                    "$ref": "#/components/schemas/fieldUpdate"
                                  },
                                  "two": {
[...]
