{
  "openapi": "3.0.3",
  "info": {
    "title": "Browshot API",
    "description": "Browshot is a screenshot as a service API that enables you to capture website screenshots programmatically. The API supports various browser instances, customization options, batch processing, and hosting integrations.",
    "version": "1.31",
    "x-jentic-source-url": "https://browshot.com/api/documentation",
    "contact": {
      "name": "Browshot Support",
      "url": "https://browshot.com/"
    }
  },
  "servers": [
    {
      "url": "https://api.browshot.com",
      "description": "Browshot API Server"
    }
  ],
  "paths": {
    "/api/v1/simple": {
      "get": {
        "summary": "Get screenshot directly",
        "description": "Retrieve a screenshot with a single request. Returns the PNG image file directly. Use HTTP status codes to determine result: 200 for success, 302 for in progress, 404 for failure, 400 for invalid request.",
        "operationId": "getSimpleScreenshot",
        "tags": [
          "Screenshots"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "The webpage URL to capture"
          },
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Browser instance identifier (use 12 for free tier)"
          },
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Thumbnail width"
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Thumbnail height"
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "screen",
                "page"
              ],
              "default": "screen"
            },
            "description": "Screenshot scope - screen for viewport only, page for full page"
          },
          {
            "name": "cache",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 86400
            },
            "description": "Use a previous screenshot if it was done within this many seconds"
          },
          {
            "name": "delay",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 20,
              "default": 5
            },
            "description": "Seconds to wait after page load before taking screenshot"
          },
          {
            "name": "screen_width",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000
            },
            "description": "Browser viewport width in pixels"
          },
          {
            "name": "screen_height",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            },
            "description": "Browser viewport height in pixels"
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot successful",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "302": {
            "description": "Screenshot in progress, follow redirect"
          },
          "400": {
            "description": "Invalid request",
            "headers": {
              "X-Error": {
                "schema": {
                  "type": "string"
                },
                "description": "Error description"
              }
            }
          },
          "403": {
            "description": "Authentication failure"
          },
          "404": {
            "description": "Screenshot failed",
            "headers": {
              "X-Error": {
                "schema": {
                  "type": "string"
                },
                "description": "Error description"
              }
            }
          }
        }
      }
    },
    "/api/v1/screenshot/create": {
      "post": {
        "summary": "Create screenshot",
        "description": "Create a new screenshot request with comprehensive options for customization, automation, and hosting.",
        "operationId": "createScreenshot",
        "tags": [
          "Screenshots"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "The webpage URL to capture"
          },
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Browser instance identifier"
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "screen",
                "page"
              ],
              "default": "screen"
            },
            "description": "Screenshot scope - screen for viewport only, page for full page"
          },
          {
            "name": "cache",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 86400
            },
            "description": "Use a previous screenshot (same URL, same instance) if it was done within this many seconds"
          },
          {
            "name": "delay",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 20,
              "default": 5
            },
            "description": "Seconds to pause after page loading"
          },
          {
            "name": "screen_width",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000
            },
            "description": "Browser viewport width in pixels"
          },
          {
            "name": "screen_height",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            },
            "description": "Browser viewport height in pixels"
          },
          {
            "name": "hide_popups",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Hide popups (ads, cookie warnings, etc.) on the page"
          },
          {
            "name": "dark",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Enable dark mode (Chrome/Mobile only)"
          },
          {
            "name": "strict_ssl",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Certificate/mixed-content detection level"
          },
          {
            "name": "referer",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Custom referrer header (paid accounts only)"
          },
          {
            "name": "post_data",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "POST request body for forms (paid accounts only)"
          },
          {
            "name": "cookie",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Set a cookie for the URL requested, semicolon-delimited (paid accounts only)"
          },
          {
            "name": "script",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "JavaScript file URL to execute after page load"
          },
          {
            "name": "script_inline",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Inline JavaScript to execute after page load"
          },
          {
            "name": "details",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                2,
                3
              ],
              "default": 0
            },
            "description": "Level of information available with screenshot/info"
          },
          {
            "name": "html",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            },
            "description": "Save the HTML of the rendered page and classify the content (costs 1 credit)"
          },
          {
            "name": "max_wait",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 60,
              "default": 0
            },
            "description": "Maximum seconds to wait before PageLoad trigger"
          },
          {
            "name": "headers",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Custom HTTP headers"
          },
          {
            "name": "target",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "CSS selector for element capture"
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 3
            },
            "description": "Request priority level (private instances only)"
          },
          {
            "name": "hook",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Webhook URL for completion notifications"
          },
          {
            "name": "steps",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "List of automation steps in JSON format"
          },
          {
            "name": "trackers",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "List of data extraction trackers in JSON format"
          },
          {
            "name": "hosting",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "s3",
                "browshot"
              ]
            },
            "description": "Hosting destination platform"
          },
          {
            "name": "hosting_height",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum thumbnail height for hosting"
          },
          {
            "name": "hosting_width",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum thumbnail width for hosting"
          },
          {
            "name": "hosting_scale",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Thumbnail scaling factor for hosting"
          },
          {
            "name": "hosting_bucket",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "S3 bucket name (required when hosting=s3)"
          },
          {
            "name": "hosting_file",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "S3 object filename (optional, S3 only)"
          },
          {
            "name": "hosting_headers",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Additional S3 headers (optional, S3 only)"
          },
          {
            "name": "hosting_private",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Set ACL to bucket-owner-full-control instead of public-read (optional, S3 only)"
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenshotResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authentication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Create screenshot (GET)",
        "description": "Create a new screenshot request using GET method. Supports the same parameters as POST.",
        "operationId": "createScreenshotGet",
        "tags": [
          "Screenshots"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/url"
          },
          {
            "$ref": "#/components/parameters/instance_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenshotResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/screenshot/multiple": {
      "get": {
        "summary": "Create multiple screenshots",
        "description": "Create multiple screenshot requests in a single call. Supports up to 10 URLs and 10 instance IDs (100 total screenshots). Accepts all parameters from screenshot/create.",
        "operationId": "createMultipleScreenshots",
        "tags": [
          "Screenshots"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uri"
              },
              "maxItems": 10
            },
            "explode": true,
            "description": "Page URLs to capture (up to 10)"
          },
          {
            "name": "instance_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "maxItems": 10
            },
            "explode": true,
            "description": "Browser instances to use (up to 10)"
          }
        ],
        "responses": {
          "200": {
            "description": "Multiple screenshot requests created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScreenshotResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/screenshot/info": {
      "get": {
        "summary": "Get screenshot information",
        "description": "Check the status and details of a screenshot request.",
        "operationId": "getScreenshotInfo",
        "tags": [
          "Screenshots"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Screenshot identifier"
          },
          {
            "name": "details",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                2,
                3
              ],
              "default": 0
            },
            "description": "Information detail level: 0=basic, 1=+dimensions/response, 2=+timestamps, 3=+assets"
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot information retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenshotInfo"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/screenshot/list": {
      "get": {
        "summary": "List recent screenshots",
        "description": "Retrieve a list of recent screenshots (last 100).",
        "operationId": "listScreenshots",
        "tags": [
          "Screenshots"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 100
            },
            "description": "Maximum number of screenshots to return"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "error",
                "finished",
                "in_process"
              ]
            },
            "description": "Filter by screenshot status"
          },
          {
            "name": "details",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                2,
                3
              ],
              "default": 0
            },
            "description": "Information detail level"
          }
        ],
        "responses": {
          "200": {
            "description": "List of screenshots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScreenshotInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/screenshot/search": {
      "get": {
        "summary": "Search screenshots by URL",
        "description": "Search for screenshots matching a specific URL.",
        "operationId": "searchScreenshots",
        "tags": [
          "Screenshots"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "URL search string"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum number of results"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "error",
                "finished",
                "in_process"
              ]
            },
            "description": "Filter by screenshot status"
          },
          {
            "name": "details",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                2,
                3
              ],
              "default": 0
            },
            "description": "Information detail level"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScreenshotInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/screenshot/thumbnail": {
      "get": {
        "summary": "Generate screenshot thumbnail",
        "description": "Generate a thumbnail from an existing screenshot with custom dimensions and formatting options.",
        "operationId": "getScreenshotThumbnail",
        "tags": [
          "Screenshots"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Screenshot identifier"
          },
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Width of the thumbnail"
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Height of the thumbnail"
          },
          {
            "name": "scale",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Scale of the thumbnail"
          },
          {
            "name": "zoom",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Magnification percentage"
          },
          {
            "name": "ratio",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "fit",
                "fill"
              ],
              "default": "fit"
            },
            "description": "Use fit to keep original page ratio, fill to get exact dimensions"
          },
          {
            "name": "left",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Left edge of the area to be cropped"
          },
          {
            "name": "right",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Right edge of the area to be cropped"
          },
          {
            "name": "top",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Top edge of the area to be cropped"
          },
          {
            "name": "bottom",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Bottom edge of the area to be cropped"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "jpeg",
                "png"
              ],
              "default": "png"
            },
            "description": "Output image type"
          },
          {
            "name": "shot",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5,
              "default": 1
            },
            "description": "Get the second or third screenshot if multiple were requested"
          },
          {
            "name": "quality",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "JPEG quality factor (for JPEG thumbnails only)"
          }
        ],
        "responses": {
          "200": {
            "description": "Thumbnail image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/screenshot/host": {
      "get": {
        "summary": "Host screenshot",
        "description": "Upload a screenshot to S3 or Browshot hosting with optional thumbnail generation.",
        "operationId": "hostScreenshot",
        "tags": [
          "Screenshots"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Screenshot identifier"
          },
          {
            "name": "hosting",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "s3",
                "browshot"
              ]
            },
            "description": "Hosting destination service"
          },
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Thumbnail width dimension"
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Thumbnail height dimension"
          },
          {
            "name": "scale",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Scaling percentage"
          },
          {
            "name": "bucket",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "S3 bucket destination (required when hosting=s3)"
          },
          {
            "name": "file",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Custom object filename (S3 only)"
          },
          {
            "name": "headers",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Custom headers for S3 object (S3 only)"
          },
          {
            "name": "private",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "ACL permission setting (S3 only)"
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot hosted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/screenshot/share": {
      "post": {
        "summary": "Share screenshot",
        "description": "Create a public sharing page for a screenshot.",
        "operationId": "shareScreenshot",
        "tags": [
          "Screenshots"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Screenshot identifier"
          },
          {
            "name": "note",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Text annotation for sharing page"
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot shared successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/screenshot/delete": {
      "delete": {
        "summary": "Delete screenshot",
        "description": "Delete screenshot data, including image, URL, metadata, or all.",
        "operationId": "deleteScreenshot",
        "tags": [
          "Screenshots"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Screenshot identifier"
          },
          {
            "name": "data",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "image",
                "url",
                "metadata",
                "all"
              ]
            },
            "description": "Deletion targets"
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/screenshot/html": {
      "get": {
        "summary": "Get rendered HTML",
        "description": "Retrieve the HTML of a rendered page. Requires html=1 parameter in the initial screenshot request.",
        "operationId": "getScreenshotHtml",
        "tags": [
          "Screenshots"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Screenshot identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "HTML content",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "HTML not found or not requested"
          }
        }
      }
    },
    "/api/v1/batch/create": {
      "post": {
        "summary": "Create batch screenshots",
        "description": "Submit a text file with URLs (one per line) for batch screenshot processing.",
        "operationId": "createBatch",
        "tags": [
          "Batch"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file",
                  "instance_id"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Text file with URLs (one per line)"
                  },
                  "instance_id": {
                    "type": "integer",
                    "description": "Browser instance identifier"
                  },
                  "split": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ],
                    "default": 0,
                    "description": "Set to 1 to split the ZIP archive into 100MB files"
                  },
                  "name": {
                    "type": "string",
                    "description": "Batch identifier label"
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "screen",
                      "page"
                    ],
                    "description": "Screenshot scope"
                  },
                  "width": {
                    "type": "integer",
                    "description": "Thumbnail width"
                  },
                  "height": {
                    "type": "integer",
                    "description": "Thumbnail height"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "jpeg",
                      "png"
                    ],
                    "default": "png",
                    "description": "Output image format"
                  },
                  "screen_width": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5000,
                    "description": "Browser window width"
                  },
                  "screen_height": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10000,
                    "description": "Browser window height"
                  },
                  "delay": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 20,
                    "default": 5,
                    "description": "Post-load pause duration"
                  },
                  "referer": {
                    "type": "string",
                    "description": "Custom referrer (paid only)"
                  },
                  "headers": {
                    "type": "string",
                    "description": "Custom HTTP headers"
                  },
                  "post_data": {
                    "type": "string",
                    "description": "POST body (paid only)"
                  },
                  "cookie": {
                    "type": "string",
                    "description": "Cookie data (paid only)"
                  },
                  "script": {
                    "type": "string",
                    "format": "uri",
                    "description": "JavaScript file URL"
                  },
                  "script_inline": {
                    "type": "string",
                    "description": "Inline JavaScript"
                  },
                  "details": {
                    "type": "integer",
                    "enum": [
                      1,
                      2,
                      3
                    ],
                    "default": 2,
                    "description": "Response detail level"
                  },
                  "html": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ],
                    "default": 0,
                    "description": "HTML capture flag"
                  },
                  "hide_popups": {
                    "type": "boolean",
                    "description": "Popup suppression"
                  },
                  "hosting": {
                    "type": "string",
                    "enum": [
                      "s3"
                    ],
                    "description": "Hosting provider"
                  },
                  "hosting_height": {
                    "type": "integer",
                    "description": "Maximum thumbnail height"
                  },
                  "hosting_width": {
                    "type": "integer",
                    "description": "Maximum thumbnail width"
                  },
                  "hosting_scale": {
                    "type": "integer",
                    "description": "Scaling factor"
                  },
                  "hosting_bucket": {
                    "type": "string",
                    "description": "S3 bucket name"
                  },
                  "hosting_file": {
                    "type": "string",
                    "description": "Object filename"
                  },
                  "hosting_headers": {
                    "type": "string",
                    "description": "Additional headers"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/v1/batch/info": {
      "get": {
        "summary": "Get batch information",
        "description": "Check the status of a batch screenshot request.",
        "operationId": "getBatchInfo",
        "tags": [
          "Batch"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Batch identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Batch information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchInfo"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/crawl/create": {
      "post": {
        "summary": "Create web crawl",
        "description": "Create a web crawling job to capture multiple pages from a website.",
        "operationId": "createCrawl",
        "tags": [
          "Crawl"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Starting URL for the crawl"
          },
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Browser instance identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Crawl created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "get": {
        "summary": "Create web crawl (GET)",
        "description": "Create a web crawling job using GET method.",
        "operationId": "createCrawlGet",
        "tags": [
          "Crawl"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Starting URL for the crawl"
          },
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Browser instance identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Crawl created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/v1/crawl/info": {
      "get": {
        "summary": "Get crawl information",
        "description": "Check the status and details of a web crawl.",
        "operationId": "getCrawlInfo",
        "tags": [
          "Crawl"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Crawl identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Crawl information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/account/info": {
      "get": {
        "summary": "Get account information",
        "description": "Retrieve account details including balance and usage limits.",
        "operationId": "getAccountInfo",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "integer"
                    },
                    "active": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/instance/list": {
      "get": {
        "summary": "List browser instances",
        "description": "Retrieve a list of available browser instances.",
        "operationId": "listInstances",
        "tags": [
          "Instances"
        ],
        "responses": {
          "200": {
            "description": "List of browser instances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "width": {
                        "type": "integer"
                      },
                      "height": {
                        "type": "integer"
                      },
                      "browser": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/instance/info": {
      "get": {
        "summary": "Get instance information",
        "description": "Retrieve details about a specific browser instance.",
        "operationId": "getInstanceInfo",
        "tags": [
          "Instances"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Instance identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Instance information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "width": {
                      "type": "integer"
                    },
                    "height": {
                      "type": "integer"
                    },
                    "browser": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/browser/list": {
      "get": {
        "summary": "List browsers",
        "description": "Retrieve a list of available browsers.",
        "operationId": "listBrowsers",
        "tags": [
          "Browsers"
        ],
        "responses": {
          "200": {
            "description": "List of browsers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/browser/info": {
      "get": {
        "summary": "Get browser information",
        "description": "Retrieve details about a specific browser.",
        "operationId": "getBrowserInfo",
        "tags": [
          "Browsers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Browser identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Browser information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "API key for authentication. Add as query parameter: key=<api_key>"
      }
    },
    "parameters": {
      "url": {
        "name": "url",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uri"
        },
        "description": "The webpage URL to capture"
      },
      "instance_id": {
        "name": "instance_id",
        "in": "query",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "Browser instance identifier"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Authentication failure",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ScreenshotResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "finished",
              "in_process",
              "error"
            ],
            "description": "Screenshot status"
          },
          "id": {
            "type": "integer",
            "description": "Screenshot identifier"
          },
          "screenshot_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the screenshot image"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Original page URL"
          },
          "instance_id": {
            "type": "integer",
            "description": "Browser instance used"
          },
          "cost": {
            "type": "integer",
            "description": "Credit cost of the screenshot"
          }
        }
      },
      "ScreenshotInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Screenshot identifier"
          },
          "status": {
            "type": "string",
            "enum": [
              "finished",
              "in_process",
              "error"
            ],
            "description": "Screenshot status"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Original page URL"
          },
          "response_code": {
            "type": "integer",
            "description": "HTTP response code from the page"
          },
          "content_type": {
            "type": "string",
            "description": "Content type of the page"
          },
          "cost": {
            "type": "integer",
            "description": "Credit cost"
          },
          "screenshot_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the screenshot image"
          },
          "width": {
            "type": "integer",
            "description": "Screenshot width"
          },
          "height": {
            "type": "integer",
            "description": "Screenshot height"
          },
          "instance_id": {
            "type": "integer",
            "description": "Browser instance used"
          },
          "error": {
            "type": "string",
            "description": "Error description if status is error"
          },
          "started": {
            "type": "integer",
            "description": "Unix timestamp when processing started"
          },
          "finished": {
            "type": "integer",
            "description": "Unix timestamp when processing finished"
          },
          "load": {
            "type": "integer",
            "description": "Unix timestamp when page loaded"
          },
          "content": {
            "type": "integer",
            "description": "Unix timestamp when content was ready"
          },
          "request_time": {
            "type": "integer",
            "description": "Unix timestamp when request was made"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of images on the page (detail level 3)"
          },
          "scripts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of scripts on the page (detail level 3)"
          },
          "stylesheets": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of stylesheets on the page (detail level 3)"
          },
          "iframes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of iframes on the page (detail level 3)"
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Batch status"
          },
          "id": {
            "type": "integer",
            "description": "Batch identifier"
          }
        }
      },
      "BatchInfo": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Batch status"
          },
          "id": {
            "type": "integer",
            "description": "Batch identifier"
          },
          "count": {
            "type": "integer",
            "description": "Total number of screenshots in batch"
          },
          "failed": {
            "type": "integer",
            "description": "Number of failed screenshots"
          },
          "urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Array of download URLs (may contain multiple if split into 100MB files)"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ],
            "description": "Error status"
          },
          "error": {
            "type": "string",
            "description": "Error description"
          },
          "id": {
            "type": "integer",
            "description": "Request identifier (typically 0 for errors)"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Api"
    }
  ]
}