{
  "openapi": "3.0.3",
  "info": {
    "title": "Songkick API",
    "version": "3.0",
    "description": "The Songkick Concerts and Festivals API provides access to live music events data including upcoming concerts, festivals, artist information, venue details, and metro area events. Search by artist name, location, venue, or browse upcoming events. All responses use a paginated wrapper format.",
    "x-jentic-source-url": "https://www.songkick.com/developer"
  },
  "servers": [
    {
      "url": "https://api.songkick.com/api/3.0"
    }
  ],
  "paths": {
    "/events.json": {
      "get": {
        "operationId": "searchEvents",
        "summary": "Search Upcoming Events",
        "description": "Search for upcoming events by artist name or location. Returns concerts and festivals matching the criteria.",
        "tags": ["Events"],
        "parameters": [
          {"name": "apikey", "in": "query", "required": true, "description": "Your Songkick API key", "schema": {"type": "string"}},
          {"name": "artist_name", "in": "query", "required": false, "description": "Artist name to search for (required unless location specified)", "schema": {"type": "string"}},
          {"name": "location", "in": "query", "required": false, "description": "Location filter: sk:<metro_id>, geo:<lat>,<lng>, ip:<ip>, or clientip", "schema": {"type": "string"}},
          {"name": "min_date", "in": "query", "required": false, "description": "Start date (YYYY-MM-DD). Must be used with max_date.", "schema": {"type": "string", "format": "date"}},
          {"name": "max_date", "in": "query", "required": false, "description": "End date (YYYY-MM-DD). Must be used with min_date.", "schema": {"type": "string", "format": "date"}},
          {"name": "type", "in": "query", "required": false, "description": "Event type filter", "schema": {"type": "string", "enum": ["Concert", "Festival"]}},
          {"name": "page", "in": "query", "required": false, "description": "Page number (first page = 1)", "schema": {"type": "integer", "default": 1}},
          {"name": "per_page", "in": "query", "required": false, "description": "Results per page (max 50)", "schema": {"type": "integer", "default": 50, "maximum": 50}}
        ],
        "responses": {
          "200": {"description": "Paginated event results", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EventResultsPage"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized - invalid API key", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/events/{event_id}.json": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get Event Details",
        "description": "Get details for a specific event by its Songkick ID.",
        "tags": ["Events"],
        "parameters": [
          {"name": "event_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "apikey", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Event details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EventResultsPage"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/artists/{artist_id}/calendar.json": {
      "get": {
        "operationId": "getArtistCalendar",
        "summary": "Artist's Upcoming Events",
        "description": "Find upcoming events for a specific artist by their Songkick artist ID.",
        "tags": ["Artists"],
        "parameters": [
          {"name": "artist_id", "in": "path", "required": true, "description": "Songkick artist ID", "schema": {"type": "integer"}},
          {"name": "apikey", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "min_date", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}},
          {"name": "max_date", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "default": 50, "maximum": 50}},
          {"name": "order", "in": "query", "required": false, "description": "Sort order by date", "schema": {"type": "string", "enum": ["asc", "desc"], "default": "asc"}}
        ],
        "responses": {
          "200": {"description": "Paginated event results", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EventResultsPage"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/artists/mbid:{music_brainz_id}/calendar.json": {
      "get": {
        "operationId": "getArtistCalendarByMbid",
        "summary": "Artist's Upcoming Events by MusicBrainz ID",
        "description": "Find upcoming events for an artist by their MusicBrainz ID.",
        "tags": ["Artists"],
        "parameters": [
          {"name": "music_brainz_id", "in": "path", "required": true, "description": "MusicBrainz artist ID (UUID)", "schema": {"type": "string"}},
          {"name": "apikey", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "min_date", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}},
          {"name": "max_date", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "default": 50, "maximum": 50}},
          {"name": "order", "in": "query", "required": false, "schema": {"type": "string", "enum": ["asc", "desc"], "default": "asc"}}
        ],
        "responses": {
          "200": {"description": "Paginated event results", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EventResultsPage"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/artists/{artist_id}/similar_artists.json": {
      "get": {
        "operationId": "getSimilarArtists",
        "summary": "Similar Artists",
        "description": "Get a list of artists similar to a given artist, based on tracking and attendance data.",
        "tags": ["Artists"],
        "parameters": [
          {"name": "artist_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "apikey", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "default": 50, "maximum": 50}}
        ],
        "responses": {
          "200": {"description": "Similar artists", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ArtistResultsPage"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/search/artists.json": {
      "get": {
        "operationId": "searchArtists",
        "summary": "Search Artists",
        "description": "Search for artists by name using full text search. Sorted by relevancy.",
        "tags": ["Search"],
        "parameters": [
          {"name": "apikey", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "query", "in": "query", "required": true, "description": "Artist name to search for", "schema": {"type": "string"}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "default": 50, "maximum": 50}}
        ],
        "responses": {
          "200": {"description": "Artist search results", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ArtistResultsPage"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/search/venues.json": {
      "get": {
        "operationId": "searchVenues",
        "summary": "Search Venues",
        "description": "Search for venues by name using full text search, including past names and aliases. Sorted by relevancy.",
        "tags": ["Search"],
        "parameters": [
          {"name": "apikey", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "query", "in": "query", "required": true, "description": "Venue name to search for", "schema": {"type": "string"}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "default": 50, "maximum": 50}}
        ],
        "responses": {
          "200": {"description": "Venue search results", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VenueResultsPage"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/search/locations.json": {
      "get": {
        "operationId": "searchLocations",
        "summary": "Search Locations",
        "description": "Search for locations (metro areas). Can search by name or by geographic coordinates.",
        "tags": ["Search"],
        "parameters": [
          {"name": "apikey", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "query", "in": "query", "required": false, "description": "Location name (required unless location specified)", "schema": {"type": "string"}},
          {"name": "location", "in": "query", "required": false, "description": "geo:<lat>,<lng> or ip:<ip> or clientip", "schema": {"type": "string"}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "default": 10, "maximum": 50}}
        ],
        "responses": {
          "200": {"description": "Location search results", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LocationResultsPage"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/venues/{venue_id}/calendar.json": {
      "get": {
        "operationId": "getVenueCalendar",
        "summary": "Venue's Upcoming Events",
        "description": "Find upcoming events at a specific venue.",
        "tags": ["Venues"],
        "parameters": [
          {"name": "venue_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "apikey", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "min_date", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}},
          {"name": "max_date", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "default": 50, "maximum": 50}}
        ],
        "responses": {
          "200": {"description": "Venue calendar events", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EventResultsPage"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/metro_areas/{metro_area_id}/calendar.json": {
      "get": {
        "operationId": "getMetroAreaCalendar",
        "summary": "Metro Area's Upcoming Events",
        "description": "Find upcoming events in a metro area.",
        "tags": ["Locations"],
        "parameters": [
          {"name": "metro_area_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "apikey", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "min_date", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}},
          {"name": "max_date", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "default": 50, "maximum": 50}}
        ],
        "responses": {
          "200": {"description": "Metro area events", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EventResultsPage"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EventResultsPage": {
        "type": "object",
        "properties": {
          "resultsPage": {
            "type": "object",
            "properties": {
              "status": {"type": "string"},
              "results": {
                "type": "object",
                "properties": {
                  "event": {"type": "array", "items": {"$ref": "#/components/schemas/Event"}}
                }
              },
              "totalEntries": {"type": "integer"},
              "perPage": {"type": "integer"},
              "page": {"type": "integer"}
            }
          }
        }
      },
      "ArtistResultsPage": {
        "type": "object",
        "properties": {
          "resultsPage": {
            "type": "object",
            "properties": {
              "status": {"type": "string"},
              "results": {
                "type": "object",
                "properties": {
                  "artist": {"type": "array", "items": {"$ref": "#/components/schemas/Artist"}}
                }
              },
              "totalEntries": {"type": "integer"},
              "perPage": {"type": "integer"},
              "page": {"type": "integer"}
            }
          }
        }
      },
      "VenueResultsPage": {
        "type": "object",
        "properties": {
          "resultsPage": {
            "type": "object",
            "properties": {
              "status": {"type": "string"},
              "results": {
                "type": "object",
                "properties": {
                  "venue": {"type": "array", "items": {"$ref": "#/components/schemas/Venue"}}
                }
              },
              "totalEntries": {"type": "integer"},
              "perPage": {"type": "integer"},
              "page": {"type": "integer"}
            }
          }
        }
      },
      "LocationResultsPage": {
        "type": "object",
        "properties": {
          "resultsPage": {
            "type": "object",
            "properties": {
              "status": {"type": "string"},
              "results": {
                "type": "object",
                "properties": {
                  "location": {"type": "array", "items": {"$ref": "#/components/schemas/Location"}}
                }
              },
              "totalEntries": {"type": "integer"},
              "perPage": {"type": "integer"},
              "page": {"type": "integer"}
            }
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "type": {"type": "string", "enum": ["Concert", "Festival"]},
          "uri": {"type": "string"},
          "displayName": {"type": "string"},
          "status": {"type": "string"},
          "popularity": {"type": "number"},
          "start": {
            "type": "object",
            "properties": {
              "date": {"type": "string", "format": "date"},
              "time": {"type": "string"},
              "datetime": {"type": "string"}
            }
          },
          "end": {
            "type": "object",
            "properties": {
              "date": {"type": "string", "format": "date"},
              "time": {"type": "string"},
              "datetime": {"type": "string"}
            }
          },
          "performance": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {"type": "integer"},
                "displayName": {"type": "string"},
                "billing": {"type": "string"},
                "billingIndex": {"type": "integer"},
                "artist": {"$ref": "#/components/schemas/Artist"}
              }
            }
          },
          "location": {
            "type": "object",
            "properties": {
              "city": {"type": "string"},
              "lat": {"type": "number"},
              "lng": {"type": "number"}
            }
          },
          "venue": {"$ref": "#/components/schemas/Venue"}
        }
      },
      "Artist": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "displayName": {"type": "string"},
          "uri": {"type": "string"},
          "onTourUntil": {"type": "string", "format": "date"},
          "identifier": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "mbid": {"type": "string"},
                "href": {"type": "string"},
                "eventsHref": {"type": "string"}
              }
            }
          }
        }
      },
      "Venue": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "displayName": {"type": "string"},
          "uri": {"type": "string"},
          "lat": {"type": "number"},
          "lng": {"type": "number"},
          "street": {"type": "string"},
          "zip": {"type": "string"},
          "phone": {"type": "string"},
          "website": {"type": "string"},
          "capacity": {"type": "integer"},
          "description": {"type": "string"},
          "city": {
            "type": "object",
            "properties": {
              "id": {"type": "integer"},
              "displayName": {"type": "string"},
              "uri": {"type": "string"},
              "country": {"type": "object", "properties": {"displayName": {"type": "string"}}}
            }
          },
          "metroArea": {"$ref": "#/components/schemas/MetroArea"}
        }
      },
      "MetroArea": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "displayName": {"type": "string"},
          "uri": {"type": "string"},
          "lat": {"type": "number"},
          "lng": {"type": "number"},
          "country": {"type": "object", "properties": {"displayName": {"type": "string"}}},
          "state": {"type": "object", "properties": {"displayName": {"type": "string"}}}
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "city": {
            "type": "object",
            "properties": {
              "displayName": {"type": "string"},
              "lat": {"type": "number"},
              "lng": {"type": "number"},
              "country": {"type": "object", "properties": {"displayName": {"type": "string"}}},
              "state": {"type": "object", "properties": {"displayName": {"type": "string"}}}
            }
          },
          "metroArea": {"$ref": "#/components/schemas/MetroArea"}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "resultsPage": {
            "type": "object",
            "properties": {
              "status": {"type": "string", "enum": ["error"]},
              "error": {"type": "object", "properties": {"message": {"type": "string"}}}
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "apikey",
        "in": "query",
        "description": "Songkick API key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}
