{
  "openapi": "3.0.3",
  "info": {
    "version": "v3",
    "title": "Welcome to the Atera API",
    "description": "Welcome to the Atera API provides programmatic access to api resources.",
    "termsOfService": "https://www.atera.com/terms-of-use/",
    "x-jentic-source-url": "https://raw.githubusercontent.com/aislingbyrnemc-sudo/openapis-specs/refs/heads/import/atera.com/atera-1/v3/openapi.json"
  },
  "servers": [
    {
      "url": "https://app.atera.com"
    }
  ],
  "paths": {
    "/api/v3/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "Account_GetAccountInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AccountDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/AccountDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/definitions/AccountDTO"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/definitions/AccountDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/agents": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Find agents",
        "description": "Returns a list of agents.\r\n<br /> \r\nPlease note that the property 'LastPatchManagementReceived' is no longer supported and will return a null reference.",
        "operationId": "Agent_Get",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Optional - Page index, based on items per page (default is 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "itemsInPage",
            "in": "query",
            "description": "Optional - Number of items per page (default is 20, max is 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[AgentQueryDTO]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[AgentQueryDTO]"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/agents/customer/{customerId}": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Find agents for specified customer",
        "description": "Returns agents for a specified customer. Requires the customer ID.\r\n<br /> \r\nPlease note that the property 'LastPatchManagementReceived' is no longer supported and will return a null reference.",
        "operationId": "Agent_GetByCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Required - Customer ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Optional - Page index, based on items per page (default is 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "itemsInPage",
            "in": "query",
            "description": "Optional - Number of items per page (default is 20, max is 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[AgentQueryDTO]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[AgentQueryDTO]"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/agents/{agentId}": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Get specified agent",
        "description": "Returns an agent. Requires the agent ID.\r\n<br /> \r\nPlease note that the property 'LastPatchManagementReceived' is no longer supported and will return a null reference.",
        "operationId": "Agent_AgentQueryDTO",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Required - System agent ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AgentQueryDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/AgentQueryDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/definitions/AgentQueryDTO"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/definitions/AgentQueryDTO"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Agent"
        ],
        "summary": "Delete specified agent",
        "description": "Deletes an agent. Requires the agent ID.",
        "operationId": "Agent_Delete",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Required - System agent ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/agents/machine/{machineName}": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Get agents for specified machine.",
        "description": "Returns agents installed on a specified machine. Requires the machine name.\r\n<br /> \r\nPlease note that the property 'LastPatchManagementReceived' is no longer supported and will return a null reference.",
        "operationId": "Agent_GetAgentsByMachineName",
        "parameters": [
          {
            "name": "machineName",
            "in": "path",
            "description": "Required - System machine name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Optional - Page index (based on items per page)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "itemsInPage",
            "in": "query",
            "description": "Optional - Number of items per page. Default is 20",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[AgentQueryDTO]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[AgentQueryDTO]"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/agents/{deviceGuid}/installed-patches": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Get installed patches for specified agent.",
        "description": "Returns the installed patches on the agent. Requires the Device guid.",
        "operationId": "Agent_GetAgentInstalledUpdates",
        "parameters": [
          {
            "name": "deviceGuid",
            "in": "path",
            "description": "Required - Device guid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AgentInstalledUpdates"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/AgentInstalledUpdates"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/definitions/AgentInstalledUpdates"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/definitions/AgentInstalledUpdates"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/agents/{deviceGuid}/available-patches": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Get available patches for specified agent.",
        "description": "Returns the available patches on the agent. Requires the Device guid.",
        "operationId": "Agent_GetAgentAvailableUpdates",
        "parameters": [
          {
            "name": "deviceGuid",
            "in": "path",
            "description": "Required - Device guid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AgentAvailableUpdates"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/AgentAvailableUpdates"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/definitions/AgentAvailableUpdates"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/definitions/AgentAvailableUpdates"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/alerts": {
      "get": {
        "tags": [
          "Alert"
        ],
        "summary": "Find alerts",
        "description": "Returns a list of alerts.",
        "operationId": "Alert_Get",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Optional - Page index, based on items per page (default is 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "itemsInPage",
            "in": "query",
            "description": "Optional - Number of items per page (default is 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "alertStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Open",
                "Resolved",
                "Snoozed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[AlertQueryDTO]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[AlertQueryDTO]"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Alert"
        ],
        "summary": "Create alert",
        "description": "Creates a new alert. Requires the device's global unique identifier (GUID).",
        "operationId": "Alert_Post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/CreateAlertDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/CreateAlertDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/CreateAlertDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/CreateAlertDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/CreateAlertDTO"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/alerts/{alertId}": {
      "get": {
        "tags": [
          "Alert"
        ],
        "summary": "Find specified alert",
        "description": "Returns an alert. Requires the alert ID.",
        "operationId": "Alert_Get",
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "description": "Required - System alert ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AlertQueryDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/AlertQueryDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/definitions/AlertQueryDTO"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/definitions/AlertQueryDTO"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Alert"
        ],
        "summary": "Resolve specified alert",
        "description": "Resolve a specified alert. Requires the alert ID.",
        "operationId": "Alert_ResolveAlert",
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "description": "Required - System alert ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Alert"
        ],
        "summary": "Delete specified alert",
        "description": "Deletes a specified alert. Requires the alert ID.",
        "operationId": "Alert_Delete",
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "description": "Required - System alert ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/billing/invoices": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Find invoices",
        "description": "Returns a list of invoices.",
        "operationId": "Billing_Get",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Optional - Page index, based on items per page (default is 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "itemsInPage",
            "in": "query",
            "description": "Optional - Number of items per page (default is 20, max is 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[InvoiceQueryDTO]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[InvoiceQueryDTO]"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/billing/invoice/{invoiceNumber}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Find specified invoice",
        "description": "Returns a specified invoice. Requires the invoice number.",
        "operationId": "Billing_InvoiceQueryDTO",
        "parameters": [
          {
            "name": "invoiceNumber",
            "in": "path",
            "description": "Required - System invoice number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/InvoiceQueryDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/InvoiceQueryDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/definitions/InvoiceQueryDTO"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/definitions/InvoiceQueryDTO"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/contacts": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Find Contacts",
        "description": "Accepts whole or partial emails / phone numbers. If partial, will return all contacts whose emails / phone numbers contain the input string.\r\n<br />\r\nReturn Contact List",
        "operationId": "Contact_Get",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Optional - Page index (default is 1), based on items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "itemsInPage",
            "in": "query",
            "description": "Optional - Number of items per page (default is 20, max is 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "searchOptions.email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchOptions.phone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[ContactQueryDTO]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[ContactQueryDTO]"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Create contact",
        "description": "Creates a new contact for an existing customer. Requires the customer ID or the customer name.",
        "operationId": "Contact_Post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/CreateContactDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/CreateContactDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/CreateContactDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/CreateContactDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/CreateContactDTO"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/contacts/{contactId}": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Find specified contact",
        "description": "Returns the specified contact. Requires the contact ID.",
        "operationId": "Contact_Get",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Required - System Contact ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ContactQueryDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/ContactQueryDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/definitions/ContactQueryDTO"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/definitions/ContactQueryDTO"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Contact"
        ],
        "summary": "Update specified contact",
        "description": "Updates an existing contact. Requires the contact ID.\r\n<br /><br /> \r\nThe following fields are editable:\r\n<br /><br /> \r\nFirst Name (Firstname)\r\n<br />\r\nLast Name (Lastname)\r\n<br /> \r\nJob Title (JobTitle)\r\n<br />\r\nIs Contact Person (IsContactPerson)\r\n<br />\r\nIn Ignore Mode (InIgnoreMode)\r\n<br />\r\nPhone (Phone)",
        "operationId": "Contact_Put",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Required - System Contact ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/UpdateContactDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/UpdateContactDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/UpdateContactDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/UpdateContactDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/UpdateContactDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/Result"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Update specified contact",
        "description": "Updates an existing contact. Requires the contact ID.\r\n<br /><br /> \r\nThe following fields are editable:\r\n<br /><br /> \r\nFirst Name (Firstname)\r\n<br />\r\nLast Name (Lastname)\r\n<br /> \r\nJob Title (JobTitle)\r\n<br />\r\nIs Contact Person (IsContactPerson)\r\n<br />\r\nIn Ignore Mode (InIgnoreMode)\r\n<br />\r\nPhone (Phone)",
        "operationId": "Contact_Put",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Required - System Contact ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/UpdateContactDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/UpdateContactDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/UpdateContactDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/UpdateContactDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/UpdateContactDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/Result"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Contact"
        ],
        "summary": "Delete specified contact",
        "description": "Deletes the contact. Requires the contact ID.",
        "operationId": "Contact_Delete",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Required - System Contact ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/contracts": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Find contracts",
        "description": "Returns a list of contracts.",
        "operationId": "Contracts_Get",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Optional - Page index, based on items per page (default is 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "itemsInPage",
            "in": "query",
            "description": "Optional - Number of items per page (default is 20, max is 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[ContractQueryDTO]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[ContractQueryDTO]"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Create Contract",
        "description": "Creates a new customer. Requires the customer name.",
        "operationId": "Contracts_Post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/CreateContractDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/CreateContractDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/CreateContractDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/CreateContractDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/CreateContractDTO"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/contracts/customer/{customerId}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Find contracts for specified customer",
        "description": "Returns a list of contracts. Requires the customer ID.",
        "operationId": "Contracts_GetByCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Required - System customer ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Optional - Page index, based on items per page (default is 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "itemsInPage",
            "in": "query",
            "description": "Optional - Number of items per page (default is 20, max is 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[ContractQueryDTO]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[ContractQueryDTO]"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/contracts/{contractId}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Find specified contract",
        "description": "Returns a specified contract. Requires the contract ID.",
        "operationId": "Contracts_ContractQueryDTO",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Required. System contract ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/ContractQueryDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/ContractQueryDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/definitions/ContractQueryDTO"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/definitions/ContractQueryDTO"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Contracts"
        ],
        "summary": "Update Contract",
        "description": "Updates an existing contract. Requires the contract ID.",
        "operationId": "Contracts_UpdateContract",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Required. System contract ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/UpdateContractDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/UpdateContractDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/UpdateContractDto"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/UpdateContractDto"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/UpdateContractDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/Result"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Update Contract",
        "description": "Updates an existing contract. Requires the contract ID.",
        "operationId": "Contracts_UpdateContract",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Required. System contract ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/UpdateContractDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/UpdateContractDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/UpdateContractDto"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/UpdateContractDto"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/UpdateContractDto"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/Result"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/customers": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Find Customers",
        "description": "Returns a list of customers.",
        "operationId": "Customer_Get",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Optional - Page index, based on items per page (default is 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "itemsInPage",
            "in": "query",
            "description": "Optional - Number of items per page (default is 20, max is 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[CustomerQueryDTO]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/APIResultWrapper[CustomerQueryDTO]"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Create Customer",
        "description": "Creates a new customer. Requires the customer name.",
        "operationId": "Customer_Post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/CreateCustomerDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/CreateCustomerDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/CreateCustomerDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/CreateCustomerDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/CreateCustomerDTO"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/customers/{customerId}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Find specified customer",
        "description": "Returns a specified customer. Requires the customer ID.",
        "operationId": "Customer_Get",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Required",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/CustomerQueryDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/CustomerQueryDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/definitions/CustomerQueryDTO"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/definitions/CustomerQueryDTO"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Customer"
        ],
        "summary": "Update specified customer",
        "description": "Updates an existing customer. Requires the customer ID.\r\n<br /><br /> \r\nThe following fields are editable:\r\n<br /><br /> \r\nCustomer Name (CustomerName)\r\n<br />\r\nBusiness Number (BusinessNumber)\r\n<br /> \r\nDomain (Domain)\r\n<br />\r\nAddress (Address)\r\n<br />\r\nCity (City)\r\n<br />\r\nState (State)\r\n<br />\r\nCountry (Country)\r\n<br />\r\nPhone (Phone)\r\n<br />\r\nFax (Fax)\r\n<br />\r\nNotes (Notes)\r\n<br />\r\nLinks (Links)\r\n<br />\r\nLongitude (Longitude)\r\n<br />\r\nLatitude (Latitude)\r\n<br />\r\nZip Code (ZipCodeStr)",
        "operationId": "Customer_Put",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Required",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/UpdateCustomerDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/UpdateCustomerDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/UpdateCustomerDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/UpdateCustomerDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/UpdateCustomerDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/Result"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Update specified customer",
        "description": "Updates an existing customer. Requires the customer ID.\r\n<br /><br /> \r\nThe following fields are editable:\r\n<br /><br /> \r\nCustomer Name (CustomerName)\r\n<br />\r\nBusiness Number (BusinessNumber)\r\n<br /> \r\nDomain (Domain)\r\n<br />\r\nAddress (Address)\r\n<br />\r\nCity (City)\r\n<br />\r\nState (State)\r\n<br />\r\nCountry (Country)\r\n<br />\r\nPhone (Phone)\r\n<br />\r\nFax (Fax)\r\n<br />\r\nNotes (Notes)\r\n<br />\r\nLinks (Links)\r\n<br />\r\nLongitude (Longitude)\r\n<br />\r\nLatitude (Latitude)\r\n<br />\r\nZip Code (ZipCodeStr)",
        "operationId": "Customer_Put",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Required",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/UpdateCustomerDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/UpdateCustomerDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/UpdateCustomerDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/UpdateCustomerDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/UpdateCustomerDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/definitions/Result"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Customer"
        ],
        "summary": "Delete specified customer",
        "description": "Deletes a specified customer. Requires the customer ID.",
        "operationId": "Customer_Delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Required",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/customers/folders": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Create Customer Folder",
        "description": "Requires the folder name and customer ID.\r\nThreshold profile ID is optional; if not included, the folder will inherit the threshold profile applied to the customer, if applicable.",
        "operationId": "Customer_Post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/CreateCustomerFolderDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/CreateCustomerFolderDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/CreateCustomerFolderDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/CreateCustomerFolderDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/CreateCustomerFolderDTO"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/customers/attachments": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Create Customer Attachment",
        "description": "Requires the customer ID and attachment name, including the file extension. Requires attachment to be represented in Base64 encoding.",
        "operationId": "Customer_Post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/CreateCustomerAttachmentDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/CreateCustomerAttachmentDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/CreateCustomerAttachmentDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/CreateCustomerAttachmentDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/CreateCustomerAttachmentDTO"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/customvalues/{rowId}": {
      "get": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Find custom field value",
        "description": "Returns a custom field value. Requires a custom value ID.",
        "operationId": "CustomValues_Get",
        "parameters": [
          {
            "name": "rowId",
            "in": "path",
            "description": "Required - Custom Value ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/customvalues/ticketfield/{ticketId}/{fieldName}": {
      "get": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Find custom field value for specified ticket",
        "description": "Returns a custom field value for a specified ticket. Requires a ticket ID and a custom field name.",
        "operationId": "CustomValues_GetTicketField",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "Required - System Ticket ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Set custom field value for specified Ticket",
        "operationId": "CustomValues_SetTicketField",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "Required - System Ticket id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Set custom field value for specified Ticket",
        "operationId": "CustomValues_SetTicketField",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "Required - System Ticket id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/customvalues/ticketfield/{ticketId}/{fieldName}/{value}": {
      "put": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Set custom field value for specified Ticket",
        "operationId": "CustomValues_SetTicketField",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "description": "Required - System Ticket id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "path",
            "description": "Required - System custom value to set",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/customvalues/customerfield/{customerId}/{fieldName}": {
      "get": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Find custom field value for specified customer",
        "description": "Returns a custom field value for a specified customer. Requires a customer ID and custom field name.",
        "operationId": "CustomValues_GetCustomerField",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Required - System Customer ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Set value of custom field for specified Customer",
        "operationId": "CustomValues_SetCustomerField",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Required - System Customer id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Set value of custom field for specified Customer",
        "operationId": "CustomValues_SetCustomerField",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Required - System Customer id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/customvalues/customerfield/{customerId}/{fieldName}/{value}": {
      "put": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Set value of custom field for specified Customer",
        "operationId": "CustomValues_SetCustomerField",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Required - System Customer id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "path",
            "description": "Required - System custom value to set",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/customvalues/contactfield/{contactId}/{fieldName}": {
      "get": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Find custom field value for specified contact",
        "description": "Returns a custom field value for a specified contact. Requires the contact ID and custom field name.",
        "operationId": "CustomValues_GetContactField",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Required - System Contact ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Set value of custom field for specified Contact",
        "operationId": "CustomValues_SetContactField",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Required - System Contact id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Set value of custom field for specified Contact",
        "operationId": "CustomValues_SetContactField",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Required - System Contact id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/customvalues/contactfield/{contactId}/{fieldName}/{value}": {
      "put": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Set value of custom field for specified Contact",
        "operationId": "CustomValues_SetContactField",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Required - System Contact id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "path",
            "description": "Required - System custom value to set",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/customvalues/contractfield/{contractId}/{fieldName}": {
      "get": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Find custom field value for specified contract",
        "description": "Returns a custom field value for a specified contract. Requires the contract ID and custom field name.",
        "operationId": "CustomValues_GetContractField",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Required - System contract ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Set value of custom field for specified Contract",
        "operationId": "CustomValues_SetContractField",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Required - System contract id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Set value of custom field for specified Contract",
        "operationId": "CustomValues_SetContractField",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Required - System contract id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/customvalues/contractfield/{contractId}/{fieldName}/{value}": {
      "put": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Set value of custom field for specified Contract",
        "operationId": "CustomValues_SetContractField",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Required - System contract id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "path",
            "description": "Required - System custom value to set",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v3/customvalues/slafield/{slaId}/{fieldName}": {
      "get": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Find custom field value for specified SLA",
        "description": "Returns a custom field value for a specified SLA. Requires the SLA ID and custom field name.",
        "operationId": "CustomValues_GetSLAField",
        "parameters": [
          {
            "name": "slaId",
            "in": "path",
            "description": "Required - System SLA ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System Custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CustomValueQueryDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Set value of custom field for specified SLA",
        "operationId": "CustomValues_SetSLAField",
        "parameters": [
          {
            "name": "slaId",
            "in": "path",
            "description": "Required - System SLA id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System Custom field name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/definitions/SetCustomValueDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "CustomValues"
        ],
        "summary": "Set value of custom field for specified SLA",
        "operationId": "CustomValues_SetSLAField",
        "parameters": [
          {
            "name": "slaId",
            "in": "path",
            "description": "Required - System SLA id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Required - System Custom field name",
            "required": true,
            "schema": {
[...]
