{"openapi":"3.0.3","info":{"title":"Unit4 Access Point API","version":"1.0.0","description":"Unit4 Access Point REST API for sending and receiving documents through the PEPPOL e-invoicing network.","x-jentic-source-url":"https://ap.unit4.com/rest.html"},"servers":[{"url":"https://ap.unit4.com","description":"Production"},{"url":"https://ap-test.unit4.com","description":"Test"}],"paths":{"/outbox":{"post":{"operationId":"sendDocument","summary":"Send document to PEPPOL network","tags":["Outbox"],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["file","SenderID","RecipientID","DocumentID","ProcessID"],"properties":{"file":{"type":"string","format":"binary"},"SenderID":{"type":"string"},"RecipientID":{"type":"string"},"ChannelID":{"type":"string"},"DocumentID":{"type":"string"},"ProcessID":{"type":"string"}}}}}},"responses":{"201":{"description":"Document queued"},"400":{"description":"Bad request","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized"}}},"get":{"operationId":"listOutboxMessages","summary":"List outbox messages","tags":["Outbox"],"responses":{"200":{"description":"Outbox messages"},"401":{"description":"Unauthorized"}}}},"/inbox":{"get":{"operationId":"listInboxMessages","summary":"List unread inbox messages","tags":["Inbox"],"responses":{"200":{"description":"Inbox messages"},"401":{"description":"Unauthorized"}}}},"/inbox/{msg_no}":{"get":{"operationId":"getInboxMessage","summary":"Get inbox message","tags":["Inbox"],"parameters":[{"name":"msg_no","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Message details"},"204":{"description":"Not found"},"401":{"description":"Unauthorized"}}}},"/inbox/{msg_no}/read":{"post":{"operationId":"markMessageAsRead","summary":"Mark message as read","tags":["Inbox"],"parameters":[{"name":"msg_no","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Marked as read"},"401":{"description":"Unauthorized"}}}},"/messages":{"get":{"operationId":"listMessages","summary":"List all messages","tags":["Messages"],"parameters":[{"name":"sent","in":"query","schema":{"type":"string"}},{"name":"sender","in":"query","schema":{"type":"string"}},{"name":"receiver","in":"query","schema":{"type":"string"}},{"name":"direction","in":"query","schema":{"type":"string","enum":["IN","OUT"]}},{"name":"index","in":"query","schema":{"type":"integer"}}],"responses":{"200":{"description":"Message list"},"401":{"description":"Unauthorized"}}}},"/directory/{ParticipantID}":{"get":{"operationId":"lookupParticipant","summary":"Verify PEPPOL participant","tags":["Directory"],"parameters":[{"name":"ParticipantID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Participant found"},"204":{"description":"Not connected"},"401":{"description":"Unauthorized"}}}},"/directory/{ParticipantID}/{DocumentLocalName}":{"get":{"operationId":"lookupParticipantDocuments","summary":"Lookup accepted document types","tags":["Directory"],"parameters":[{"name":"ParticipantID","in":"path","required":true,"schema":{"type":"string"}},{"name":"DocumentLocalName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Document types"},"204":{"description":"Not found"},"401":{"description":"Unauthorized"}}}},"/statistics":{"get":{"operationId":"getStatistics","summary":"Get account statistics","tags":["Statistics"],"responses":{"200":{"description":"Statistics"},"401":{"description":"Unauthorized"}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"}}}},"securitySchemes":{"basicAuth":{"type":"http","scheme":"basic"}}},"security":[{"basicAuth":[]}]}
