{
  "openapi": "3.0.3",
  "info": {
    "title": "Microsoft Graph Mail API (Outlook Mail)",
    "description": "The Microsoft Graph Mail API provides access to Outlook mail data including messages, mail folders, and attachments. This is the successor to the Hotmail/Outlook.com mail APIs, now unified under the Microsoft Graph v1.0 endpoint. Supports reading, sending, replying, forwarding, and organizing email in user mailboxes on Exchange Online (Microsoft 365) and hybrid deployments.",
    "version": "1.0",
    "contact": {
      "name": "Microsoft Graph Support",
      "url": "https://developer.microsoft.com/graph/support"
    },
    "license": {
      "name": "Microsoft API License",
      "url": "https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use"
    }
  },
  "externalDocs": {
    "description": "Microsoft Graph Mail API Overview",
    "url": "https://learn.microsoft.com/en-us/graph/api/resources/mail-api-overview"
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0",
      "description": "Microsoft Graph v1.0 endpoint"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Messages",
      "description": "Operations on email messages"
    },
    {
      "name": "Mail Folders",
      "description": "Operations on mail folders"
    },
    {
      "name": "Attachments",
      "description": "Operations on message attachments"
    },
    {
      "name": "Send Mail",
      "description": "Sending email messages"
    }
  ],
  "paths": {
    "/me/messages": {
      "get": {
        "tags": ["Messages"],
        "operationId": "listMessages",
        "summary": "List messages",
        "description": "Get all the messages in the signed-in user's mailbox (including the Deleted Items and Clutter folders).",
        "parameters": [
          { "$ref": "#/components/parameters/top" },
          { "$ref": "#/components/parameters/skip" },
          { "$ref": "#/components/parameters/filter" },
          { "$ref": "#/components/parameters/select" },
          { "$ref": "#/components/parameters/orderby" },
          { "$ref": "#/components/parameters/search" },
          { "$ref": "#/components/parameters/count" }
        ],
        "responses": {
          "200": {
            "description": "A collection of messages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@odata.context": { "type": "string" },
                    "@odata.nextLink": { "type": "string" },
                    "@odata.count": { "type": "integer" },
                    "value": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Message" }
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "tags": ["Messages"],
        "operationId": "createDraftMessage",
        "summary": "Create draft message",
        "description": "Create a draft of a new message in the signed-in user's mailbox.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Message" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created draft message.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/messages/{message-id}": {
      "parameters": [
        { "$ref": "#/components/parameters/messageId" }
      ],
      "get": {
        "tags": ["Messages"],
        "operationId": "getMessage",
        "summary": "Get message",
        "description": "Read properties and relationships of a message object.",
        "parameters": [
          { "$ref": "#/components/parameters/select" }
        ],
        "responses": {
          "200": {
            "description": "The requested message.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "patch": {
        "tags": ["Messages"],
        "operationId": "updateMessage",
        "summary": "Update message",
        "description": "Update the properties of a message object.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Message" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated message.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "delete": {
        "tags": ["Messages"],
        "operationId": "deleteMessage",
        "summary": "Delete message",
        "description": "Delete a message in the specified user's mailbox, or delete a relationship of the message.",
        "responses": {
          "204": {
            "description": "Message deleted successfully."
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/messages/{message-id}/copy": {
      "parameters": [
        { "$ref": "#/components/parameters/messageId" }
      ],
      "post": {
        "tags": ["Messages"],
        "operationId": "copyMessage",
        "summary": "Copy message",
        "description": "Copy a message to a folder.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "destinationId": {
                    "type": "string",
                    "description": "The destination folder ID, or a well-known folder name."
                  }
                },
                "required": ["destinationId"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The copied message.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/messages/{message-id}/move": {
      "parameters": [
        { "$ref": "#/components/parameters/messageId" }
      ],
      "post": {
        "tags": ["Messages"],
        "operationId": "moveMessage",
        "summary": "Move message",
        "description": "Move the message to a folder. This creates a new copy of the message in the destination folder.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "destinationId": {
                    "type": "string",
                    "description": "The destination folder ID, or a well-known folder name."
                  }
                },
                "required": ["destinationId"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The moved message.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/messages/{message-id}/reply": {
      "parameters": [
        { "$ref": "#/components/parameters/messageId" }
      ],
      "post": {
        "tags": ["Messages"],
        "operationId": "replyToMessage",
        "summary": "Reply to message",
        "description": "Reply to the sender of a message. The message is then saved in the Sent Items folder.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": { "$ref": "#/components/schemas/Message" },
                  "comment": {
                    "type": "string",
                    "description": "A comment to include with the reply."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Reply sent successfully."
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/messages/{message-id}/replyAll": {
      "parameters": [
        { "$ref": "#/components/parameters/messageId" }
      ],
      "post": {
        "tags": ["Messages"],
        "operationId": "replyAllToMessage",
        "summary": "Reply all to message",
        "description": "Reply to all recipients of a message. The message is then saved in the Sent Items folder.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": { "$ref": "#/components/schemas/Message" },
                  "comment": {
                    "type": "string",
                    "description": "A comment to include with the reply."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Reply all sent successfully."
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/messages/{message-id}/forward": {
      "parameters": [
        { "$ref": "#/components/parameters/messageId" }
      ],
      "post": {
        "tags": ["Messages"],
        "operationId": "forwardMessage",
        "summary": "Forward message",
        "description": "Forward a message. The message is then saved in the Sent Items folder.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "toRecipients": {
                    "type": "array",
                    "items": { "$ref": "#/components/schemas/Recipient" },
                    "description": "The recipients to forward the message to."
                  },
                  "message": { "$ref": "#/components/schemas/Message" },
                  "comment": {
                    "type": "string",
                    "description": "A comment to include with the forwarded message."
                  }
                },
                "required": ["toRecipients"]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Message forwarded successfully."
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/messages/{message-id}/createReply": {
      "parameters": [
        { "$ref": "#/components/parameters/messageId" }
      ],
      "post": {
        "tags": ["Messages"],
        "operationId": "createReplyDraft",
        "summary": "Create draft reply",
        "description": "Create a draft of a reply message. You can then update or send the draft.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": { "$ref": "#/components/schemas/Message" },
                  "comment": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created draft reply message.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/messages/{message-id}/createReplyAll": {
      "parameters": [
        { "$ref": "#/components/parameters/messageId" }
      ],
      "post": {
        "tags": ["Messages"],
        "operationId": "createReplyAllDraft",
        "summary": "Create draft reply-all",
        "description": "Create a draft of a reply-all message. You can then update or send the draft.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": { "$ref": "#/components/schemas/Message" },
                  "comment": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created draft reply-all message.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/messages/{message-id}/createForward": {
      "parameters": [
        { "$ref": "#/components/parameters/messageId" }
      ],
      "post": {
        "tags": ["Messages"],
        "operationId": "createForwardDraft",
        "summary": "Create draft forward",
        "description": "Create a draft of a forward message. You can then update or send the draft.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": { "$ref": "#/components/schemas/Message" },
                  "toRecipients": {
                    "type": "array",
                    "items": { "$ref": "#/components/schemas/Recipient" }
                  },
                  "comment": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created draft forward message.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/messages/{message-id}/send": {
      "parameters": [
        { "$ref": "#/components/parameters/messageId" }
      ],
      "post": {
        "tags": ["Send Mail"],
        "operationId": "sendDraftMessage",
        "summary": "Send a draft message",
        "description": "Send a previously created message draft. The message is then saved in the Sent Items folder.",
        "responses": {
          "202": {
            "description": "Draft message sent successfully."
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/sendMail": {
      "post": {
        "tags": ["Send Mail"],
        "operationId": "sendMail",
        "summary": "Send mail",
        "description": "Send the message specified in the request body. The message is saved in the Sent Items folder by default.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "$ref": "#/components/schemas/Message",
                    "description": "The message to send."
                  },
                  "saveToSentItems": {
                    "type": "boolean",
                    "description": "Indicates whether to save the message in Sent Items. Default is true.",
                    "default": true
                  }
                },
                "required": ["message"]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Mail accepted for delivery."
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/mailFolders": {
      "get": {
        "tags": ["Mail Folders"],
        "operationId": "listMailFolders",
        "summary": "List mail folders",
        "description": "Get all the mail folders in the signed-in user's mailbox, including any mail search folders.",
        "parameters": [
          { "$ref": "#/components/parameters/top" },
          { "$ref": "#/components/parameters/skip" },
          { "$ref": "#/components/parameters/filter" },
          { "$ref": "#/components/parameters/select" },
          {
            "name": "includeHiddenFolders",
            "in": "query",
            "description": "Include hidden mail folders in the response.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of mail folders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@odata.context": { "type": "string" },
                    "@odata.nextLink": { "type": "string" },
                    "value": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/MailFolder" }
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "tags": ["Mail Folders"],
        "operationId": "createMailFolder",
        "summary": "Create mail folder",
        "description": "Create a new mail folder in the root folder of the user's mailbox.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MailFolder" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created mail folder.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MailFolder" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/mailFolders/{mailFolder-id}": {
      "parameters": [
        { "$ref": "#/components/parameters/mailFolderId" }
      ],
      "get": {
        "tags": ["Mail Folders"],
        "operationId": "getMailFolder",
        "summary": "Get mail folder",
        "description": "Read properties and relationships of a mailFolder object.",
        "parameters": [
          { "$ref": "#/components/parameters/select" }
        ],
        "responses": {
          "200": {
            "description": "The requested mail folder.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MailFolder" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "patch": {
        "tags": ["Mail Folders"],
        "operationId": "updateMailFolder",
        "summary": "Update mail folder",
        "description": "Update the properties of a mailFolder object.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MailFolder" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated mail folder.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MailFolder" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "delete": {
        "tags": ["Mail Folders"],
        "operationId": "deleteMailFolder",
        "summary": "Delete mail folder",
        "description": "Delete the specified mailFolder. The folder can be a mailSearchFolder.",
        "responses": {
          "204": {
            "description": "Mail folder deleted successfully."
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/mailFolders/{mailFolder-id}/copy": {
      "parameters": [
        { "$ref": "#/components/parameters/mailFolderId" }
      ],
      "post": {
        "tags": ["Mail Folders"],
        "operationId": "copyMailFolder",
        "summary": "Copy mail folder",
        "description": "Copy a mailFolder and its contents to another mailFolder.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "destinationId": {
                    "type": "string",
                    "description": "The folder ID or well-known folder name of the destination."
                  }
                },
                "required": ["destinationId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The copied mail folder.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MailFolder" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/mailFolders/{mailFolder-id}/move": {
      "parameters": [
        { "$ref": "#/components/parameters/mailFolderId" }
      ],
      "post": {
        "tags": ["Mail Folders"],
        "operationId": "moveMailFolder",
        "summary": "Move mail folder",
        "description": "Move a mailFolder and its contents to another mailFolder.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "destinationId": {
                    "type": "string",
                    "description": "The folder ID or well-known folder name of the destination."
                  }
                },
                "required": ["destinationId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The moved mail folder.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MailFolder" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/mailFolders/{mailFolder-id}/childFolders": {
      "parameters": [
        { "$ref": "#/components/parameters/mailFolderId" }
      ],
      "get": {
        "tags": ["Mail Folders"],
        "operationId": "listChildFolders",
        "summary": "List child folders",
        "description": "Get the folder collection under the specified folder.",
        "parameters": [
          { "$ref": "#/components/parameters/top" },
          { "$ref": "#/components/parameters/skip" },
          { "$ref": "#/components/parameters/filter" },
          { "$ref": "#/components/parameters/select" }
        ],
        "responses": {
          "200": {
            "description": "A collection of child mail folders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@odata.context": { "type": "string" },
                    "@odata.nextLink": { "type": "string" },
                    "value": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/MailFolder" }
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "tags": ["Mail Folders"],
        "operationId": "createChildFolder",
        "summary": "Create child folder",
        "description": "Create a new child mailFolder under the current one.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MailFolder" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created child mail folder.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MailFolder" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/mailFolders/{mailFolder-id}/messages": {
      "parameters": [
        { "$ref": "#/components/parameters/mailFolderId" }
      ],
      "get": {
        "tags": ["Messages", "Mail Folders"],
        "operationId": "listMessagesInFolder",
        "summary": "List messages in folder",
        "description": "Get all the messages in the specified mail folder.",
        "parameters": [
          { "$ref": "#/components/parameters/top" },
          { "$ref": "#/components/parameters/skip" },
          { "$ref": "#/components/parameters/filter" },
          { "$ref": "#/components/parameters/select" },
          { "$ref": "#/components/parameters/orderby" },
          { "$ref": "#/components/parameters/search" },
          { "$ref": "#/components/parameters/count" }
        ],
        "responses": {
          "200": {
            "description": "A collection of messages in the folder.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@odata.context": { "type": "string" },
                    "@odata.nextLink": { "type": "string" },
                    "@odata.count": { "type": "integer" },
                    "value": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Message" }
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "tags": ["Messages", "Mail Folders"],
        "operationId": "createMessageInFolder",
        "summary": "Create message in folder",
        "description": "Create a new message in the specified mail folder.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Message" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created message.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/messages/{message-id}/attachments": {
      "parameters": [
        { "$ref": "#/components/parameters/messageId" }
      ],
      "get": {
        "tags": ["Attachments"],
        "operationId": "listAttachments",
        "summary": "List attachments",
        "description": "Retrieve a list of attachment objects attached to a message.",
        "parameters": [
          { "$ref": "#/components/parameters/select" },
          { "$ref": "#/components/parameters/filter" }
        ],
        "responses": {
          "200": {
            "description": "A collection of attachments.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@odata.context": { "type": "string" },
                    "value": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Attachment" }
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "tags": ["Attachments"],
        "operationId": "addAttachment",
        "summary": "Add attachment",
        "description": "Add a file, item, or link attachment to a message. This operation limits the size of the attachment to under 3 MB. For larger files, use the upload session API.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FileAttachment" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created attachment.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Attachment" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/me/messages/{message-id}/attachments/{attachment-id}": {
      "parameters": [
        { "$ref": "#/components/parameters/messageId" },
        { "$ref": "#/components/parameters/attachmentId" }
      ],
      "get": {
        "tags": ["Attachments"],
        "operationId": "getAttachment",
        "summary": "Get attachment",
        "description": "Read the properties, relationships, or raw contents of an attachment attached to a message.",
        "parameters": [
          { "$ref": "#/components/parameters/select" }
        ],
        "responses": {
          "200": {
            "description": "The requested attachment.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Attachment" }
              }
            }
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "delete": {
        "tags": ["Attachments"],
        "operationId": "deleteAttachment",
        "summary": "Delete attachment",
        "description": "Delete an attachment from a message.",
        "responses": {
          "204": {
            "description": "Attachment deleted successfully."
          },
          "default": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication with Microsoft identity platform.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
            "scopes": {
              "Mail.Read": "Read user mail",
              "Mail.ReadWrite": "Read and write access to user mail",
              "Mail.Send": "Send mail as a user",
              "Mail.ReadBasic": "Read user basic mail"
            }
          }
        }
      }
    },
    "parameters": {
      "messageId": {
        "name": "message-id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the message.",
        "schema": { "type": "string" }
      },
      "mailFolderId": {
        "name": "mailFolder-id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the mail folder, or a well-known folder name (e.g., inbox, drafts, sentitems, deleteditems).",
        "schema": { "type": "string" }
      },
      "attachmentId": {
        "name": "attachment-id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the attachment.",
        "schema": { "type": "string" }
      },
      "top": {
        "name": "$top",
        "in": "query",
        "description": "Sets the page size of results.",
        "schema": { "type": "integer", "minimum": 0 }
      },
      "skip": {
        "name": "$skip",
        "in": "query",
        "description": "Indexes into a result set.",
        "schema": { "type": "integer", "minimum": 0 }
      },
      "filter": {
        "name": "$filter",
        "in": "query",
        "description": "Filters results (OData filter expression).",
        "schema": { "type": "string" }
      },
      "select": {
        "name": "$select",
        "in": "query",
        "description": "Selects which properties to include in the response.",
        "schema": { "type": "string" }
      },
      "orderby": {
        "name": "$orderby",
        "in": "query",
        "description": "Orders results.",
        "schema": { "type": "string" }
      },
      "search": {
        "name": "$search",
        "in": "query",
        "description": "Searches for specific content.",
        "schema": { "type": "string" }
      },
      "count": {
        "name": "$count",
        "in": "query",
        "description": "Includes a count of the total number of items in a collection.",
        "schema": { "type": "boolean" }
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Error response.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "description": "Error code." },
                    "message": { "type": "string", "description": "Error message." },
                    "innerError": {
                      "type": "object",
                      "properties": {
                        "request-id": { "type": "string" },
                        "date": { "type": "string", "format": "date-time" }
                      }
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Message": {
        "type": "object",
        "description": "An email message in a user's mailbox.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the message.",
            "readOnly": true
          },
          "subject": {
            "type": "string",
            "description": "The subject of the message."
          },
          "body": {
            "$ref": "#/components/schemas/ItemBody"
          },
          "bodyPreview": {
            "type": "string",
            "description": "The first 255 characters of the message body in text format.",
            "readOnly": true
          },
          "from": {
            "$ref": "#/components/schemas/Recipient",
            "description": "The mailbox owner and sender of the message."
          },
          "sender": {
            "$ref": "#/components/schemas/Recipient",
            "description": "The account used to generate the message."
          },
          "toRecipients": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Recipient" },
            "description": "The To: recipients for the message."
          },
          "ccRecipients": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Recipient" },
            "description": "The Cc: recipients for the message."
          },
          "bccRecipients": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Recipient" },
            "description": "The Bcc: recipients for the message."
          },
          "replyTo": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Recipient" },
            "description": "The email addresses to use when replying."
          },
          "conversationId": {
            "type": "string",
            "description": "The ID of the conversation the email belongs to.",
            "nullable": true
          },
          "conversationIndex": {
            "type": "string",
            "format": "byte",
            "description": "Indicates the position of the message within the conversation."
          },
          "receivedDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the message was received (UTC ISO 8601)."
          },
          "sentDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the message was sent (UTC ISO 8601)."
          },
          "createdDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the message was created (UTC ISO 8601).",
            "readOnly": true
          },
          "lastModifiedDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the message was last changed (UTC ISO 8601).",
            "readOnly": true
          },
          "hasAttachments": {
            "type": "boolean",
            "description": "Indicates whether the message has attachments (excludes inline attachments)."
          },
          "importance": {
            "type": "string",
            "enum": ["low", "normal", "high"],
            "description": "The importance of the message."
          },
          "isRead": {
            "type": "boolean",
            "description": "Indicates whether the message has been read."
          },
          "isDraft": {
            "type": "boolean",
            "description": "Indicates whether the message is a draft."
          },
          "isDeliveryReceiptRequested": {
            "type": "boolean",
            "description": "Indicates whether a delivery receipt is requested.",
            "nullable": true
          },
          "isReadReceiptRequested": {
            "type": "boolean",
            "description": "Indicates whether a read receipt is requested."
          },
          "parentFolderId": {
            "type": "string",
            "description": "The unique identifier for the message's parent mailFolder."
          },
          "internetMessageId": {
            "type": "string",
            "description": "The message ID in the format specified by RFC 2822."
          },
          "internetMessageHeaders": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/InternetMessageHeader" },
            "description": "A collection of message headers defined by RFC 5322. Returned only on $select."
          },
          "categories": {
            "type": "array",
            "items": { "type": "string" },
            "description": "The categories associated with the message."
          },
          "flag": {
            "$ref": "#/components/schemas/FollowupFlag"
          },
          "inferenceClassification": {
            "type": "string",
            "enum": ["focused", "other"],
            "description": "The classification of the message for the user based on inferred relevance."
          },
          "changeKey": {
            "type": "string",
            "description": "The version of the message.",
            "readOnly": true
          },
          "webLink": {
            "type": "string",
            "description": "The URL to open the message in Outlook on the web.",
            "readOnly": true
          },
          "uniqueBody": {
            "$ref": "#/components/schemas/ItemBody",
            "description": "The part of the body unique to the current message. Returned only on $select."
          },
          "attachments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Attachment" },
            "description": "The file and item attachments for the message."
          }
        }
      },
      "MailFolder": {
        "type": "object",
        "description": "A mail folder in a user's mailbox, such as Inbox and Drafts.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The mailFolder's unique identifier.",
            "readOnly": true
          },
          "displayName": {
            "type": "string",
            "description": "The mailFolder's display name."
          },
          "parentFolderId": {
            "type": "string",
            "description": "The unique identifier for the mailFolder's parent mailFolder."
          },
          "childFolderCount": {
            "type": "integer",
            "format": "int32",
            "description": "The number of immediate child mailFolders in the current mailFolder.",
            "readOnly": true
          },
          "totalItemCount": {
            "type": "integer",
            "format": "int32",
            "description": "The number of items in the mailFolder.",
            "readOnly": true
          },
          "unreadItemCount": {
            "type": "integer",
            "format": "int32",
            "description": "The number of items in the mailFolder marked as unread.",
            "readOnly": true
          },
          "isHidden": {
            "type": "boolean",
            "description": "Indicates whether the mailFolder is hidden. Can only be set when creating the folder."
          }
        }
      },
      "Attachment": {
        "type": "object",
        "description": "A file, item, or link attached to a message.",
        "properties": {
          "@odata.type": {
            "type": "string",
            "description": "The OData type of the attachment (e.g., #microsoft.graph.fileAttachment)."
          },
          "id": {
            "type": "string",
            "description": "The attachment's unique identifier.",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "The display name of the attachment."
          },
          "contentType": {
            "type": "string",
            "description": "The MIME type of the attachment."
          },
          "size": {
            "type": "integer",
            "format": "int32",
            "description": "The length of the attachment in bytes.",
            "readOnly": true
          },
          "isInline": {
            "type": "boolean",
            "description": "True if the attachment is an inline attachment."
          },
          "lastModifiedDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the attachment was last modified (UTC ISO 8601).",
            "readOnly": true
          }
        }
      },
      "FileAttachment": {
        "allOf": [
          { "$ref": "#/components/schemas/Attachment" },
          {
            "type": "object",
            "description": "A file (such as a text file or Word document) attached to a message.",
            "properties": {
              "@odata.type": {
                "type": "string",
                "default": "#microsoft.graph.fileAttachment"
              },
              "contentBytes": {
                "type": "string",
                "format": "byte",
                "description": "The base64-encoded contents of the file."
              },
              "contentId": {
                "type": "string",
                "description": "The ID of the attachment in the Exchange store.",
                "nullable": true
              },
              "contentLocation": {
                "type": "string",
                "description": "The Uniform Resource Identifier (URI) that corresponds to the location of the content of the attachment.",
                "nullable": true
              }
            }
          }
        ]
      },
      "ItemBody": {
        "type": "object",
        "description": "Represents properties of the body of a message.",
        "properties": {
          "contentType": {
            "type": "string",
            "enum": ["Text", "HTML"],
            "description": "The type of the content."
          },
          "content": {
            "type": "string",
            "description": "The content of the item body."
          }
        }
      },
      "Recipient": {
        "type": "object",
        "description": "Represents an email recipient.",
        "properties": {
          "emailAddress": {
            "$ref": "#/components/schemas/EmailAddress"
          }
        }
      },
      "EmailAddress": {
        "type": "object",
        "description": "Represents an email address.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The display name of the person or entity."
          },
          "address": {
            "type": "string",
            "format": "email",
            "description": "The email address of the person or entity."
          }
        }
      },
      "InternetMessageHeader": {
        "type": "object",
        "description": "A key-value pair that represents an Internet message header as defined by RFC 5322.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The header name."
          },
          "value": {
            "type": "string",
            "description": "The header value."
          }
        }
      },
      "FollowupFlag": {
        "type": "object",
        "description": "Allows setting a flag on a message for follow-up.",
        "properties": {
          "flagStatus": {
            "type": "string",
            "enum": ["notFlagged", "complete", "flagged"],
            "description": "The status of the follow-up flag."
          },
          "completedDateTime": {
            "$ref": "#/components/schemas/DateTimeTimeZone",
            "description": "The date and time that the follow-up was finished."
          },
          "dueDateTime": {
            "$ref": "#/components/schemas/DateTimeTimeZone",
            "description": "The date and time that the follow-up is to be finished."
          },
          "startDateTime": {
            "$ref": "#/components/schemas/DateTimeTimeZone",
            "description": "The date and time that the follow-up is to begin."
          }
        }
      },
      "DateTimeTimeZone": {
        "type": "object",
        "description": "Describes the date, time, and time zone of a point in time.",
        "properties": {
          "dateTime": {
            "type": "string",
            "description": "A single point of time in a combined date and time representation."
          },
          "timeZone": {
            "type": "string",
            "description": "Represents a time zone, for example, 'Pacific Standard Time'."
          }
        }
      }
    }
  }
}
