{
  "openapi": "3.0.3",
  "info": {
    "title": "Sirportly API",
    "description": "Sirportly helpdesk and ticketing system REST API for managing tickets, ticket updates, contacts, and related resources.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://www.sirportly.com/docs/api-specification"
  },
  "servers": [
    {
      "url": "https://api.sirportly.com",
      "description": "Sirportly hosted API"
    }
  ],
  "paths": {
    "/api/v2/tickets/all": {
      "get": {
        "operationId": "listalltickets",
        "summary": "List all tickets",
        "description": "Returns all tickets stored in the database with pagination support.",
        "tags": [
          "Tickets"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort by",
            "schema": {
              "type": "string",
              "enum": [
                "updated_at",
                "created_at",
                "reference",
                "subject",
                "last_update_posted_at",
                "reply_due_at",
                "resolution_due_at",
                "first_response_time",
                "first_resolution_time",
                "resolution_time"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated ticket list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTicketList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/tickets/submit": {
      "post": {
        "operationId": "submitticket",
        "summary": "Submit a new ticket",
        "description": "Creates a new ticket in the support site.",
        "tags": [
          "Tickets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "subject",
                  "status",
                  "priority",
                  "team"
                ],
                "properties": {
                  "subject": {
                    "type": "string",
                    "description": "Ticket subject line"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status name or ID"
                  },
                  "priority": {
                    "type": "string",
                    "description": "Priority name or ID"
                  },
                  "team": {
                    "type": "string",
                    "description": "Team name or ID"
                  },
                  "sla": {
                    "type": "string",
                    "description": "SLA name or ID"
                  },
                  "brand": {
                    "type": "string",
                    "description": "Brand name or ID"
                  },
                  "department": {
                    "type": "string",
                    "description": "Department name or ID"
                  },
                  "user": {
                    "type": "string",
                    "description": "Assigned user username or ID"
                  },
                  "tag_list": {
                    "type": "string",
                    "description": "Space or comma-separated tags"
                  },
                  "submitted_at": {
                    "type": "string",
                    "description": "Creation date/time"
                  },
                  "contact_method_type": {
                    "type": "string",
                    "description": "Contact method type",
                    "enum": [
                      "email",
                      "telephone"
                    ]
                  },
                  "contact_method_data": {
                    "type": "string",
                    "description": "Email address or phone number"
                  },
                  "contact_name": {
                    "type": "string",
                    "description": "Contact person name"
                  },
                  "contact": {
                    "type": "integer",
                    "description": "Existing contact ID"
                  },
                  "contact_method": {
                    "type": "integer",
                    "description": "Existing contact method ID"
                  },
                  "additional_contact_methods": {
                    "type": "string",
                    "description": "Comma-separated additional contact methods"
                  },
                  "message": {
                    "type": "string",
                    "description": "Initial ticket update content"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ticket created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticket"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/tickets/search": {
      "post": {
        "operationId": "searchtickets",
        "summary": "Search tickets",
        "description": "Full text search across all tickets.",
        "tags": [
          "Tickets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query text"
                  },
                  "page": {
                    "type": "integer",
                    "description": "Page number (default 1)",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ticket_updates/all": {
      "get": {
        "operationId": "listticketupdates",
        "summary": "List all updates for a ticket",
        "description": "Retrieves all updates associated with a specified ticket.",
        "tags": [
          "TicketUpdates"
        ],
        "parameters": [
          {
            "name": "ticket",
            "in": "query",
            "required": true,
            "description": "Ticket reference identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ticket updates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TicketUpdate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ticket not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Ticket": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "reference": {
            "type": "string",
            "description": "Ticket reference"
          },
          "subject": {
            "type": "string"
          },
          "submitted_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "$ref": "#/components/schemas/TicketStatus"
          },
          "priority": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "colour": {
                "type": "string"
              }
            }
          },
          "department": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "brand": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "team": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "user": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "contact": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "tag_list": {
            "type": "string"
          },
          "last_update_posted_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TicketStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "colour": {
            "type": "string"
          },
          "status_type": {
            "type": "integer",
            "description": "0 = Open, 1 = Closed, 2 = On Hold",
            "enum": [
              0,
              1,
              2
            ]
          }
        }
      },
      "TicketUpdate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "subject": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "html_body": {
            "type": "string"
          },
          "html_safe": {
            "type": "string"
          },
          "private": {
            "type": "boolean"
          },
          "posted_at": {
            "type": "string",
            "format": "date-time"
          },
          "author": {
            "$ref": "#/components/schemas/UpdateAuthor"
          },
          "from_name": {
            "type": "string"
          },
          "from_address": {
            "type": "string"
          },
          "authenticated": {
            "type": "boolean"
          },
          "notification_sent": {
            "type": "boolean"
          },
          "delivered": {
            "type": "boolean"
          },
          "outgoing": {
            "type": "boolean"
          },
          "message_id": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "avatar_url": {
            "type": "string"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "file_name": {
                  "type": "string"
                },
                "file_size": {
                  "type": "integer"
                },
                "content_type": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "UpdateAuthor": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Author type (Customer, User)"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email_address": {
            "type": "string"
          }
        }
      },
      "PaginatedTicketList": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ticket"
            }
          }
        }
      },
      "TicketSearchResult": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "records": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Ticket"
                },
                {
                  "type": "object",
                  "properties": {
                    "highlights": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              ]
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          },
          "total_records": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Auth-Token",
        "description": "Authentication token (36-character string)"
      },
      "secretAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Auth-Secret",
        "description": "Authentication secret (50-character string)"
      }
    }
  },
  "security": [
    {
      "tokenAuth": [],
      "secretAuth": []
    }
  ],
  "tags": [
    {
      "name": "Tickets",
      "description": "Ticket management"
    },
    {
      "name": "TicketUpdates",
      "description": "Ticket update operations"
    }
  ]
}