{
  "openapi": "3.0.3",
  "info": {
    "title": "MTA Developer API",
    "version": "1.0.0",
    "description": "MTA (Metropolitan Transportation Authority) developer API providing real-time GTFS-RT feeds for NYC subway, LIRR, Metro-North, and bus services, as well as static GTFS schedule data.",
    "x-jentic-source-url": "https://api.mta.info/"
  },
  "servers": [
    {
      "url": "https://api.mta.info",
      "description": "Real-time feeds"
    },
    {
      "url": "https://rrgtfsfeeds.s3.amazonaws.com",
      "description": "Static GTFS feeds"
    }
  ],
  "paths": {
    "/gtfs_subway.zip": {
      "get": {
        "operationId": "getSubwaySchedule",
        "summary": "Download subway GTFS schedule",
        "tags": [
          "Static GTFS"
        ],
        "responses": {
          "200": {
            "description": "GTFS ZIP file",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/gtfs_supplemented.zip": {
      "get": {
        "operationId": "getSubwaySupplemented",
        "summary": "Download supplemented subway schedule (7-day lookahead)",
        "tags": [
          "Static GTFS"
        ],
        "responses": {
          "200": {
            "description": "GTFS ZIP file",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/gtfslirr.zip": {
      "get": {
        "operationId": "getLirrSchedule",
        "summary": "Download LIRR GTFS schedule",
        "tags": [
          "Static GTFS"
        ],
        "responses": {
          "200": {
            "description": "GTFS ZIP file"
          }
        }
      }
    },
    "/gtfsmnr.zip": {
      "get": {
        "operationId": "getMetroNorthSchedule",
        "summary": "Download Metro-North GTFS schedule",
        "tags": [
          "Static GTFS"
        ],
        "responses": {
          "200": {
            "description": "GTFS ZIP file"
          }
        }
      }
    },
    "/gtfs_bx.zip": {
      "get": {
        "operationId": "getBronxBusSchedule",
        "summary": "Download Bronx bus GTFS schedule",
        "tags": [
          "Static GTFS"
        ],
        "responses": {
          "200": {
            "description": "GTFS ZIP file"
          }
        }
      }
    },
    "/gtfs_b.zip": {
      "get": {
        "operationId": "getBrooklynBusSchedule",
        "summary": "Download Brooklyn bus GTFS schedule",
        "tags": [
          "Static GTFS"
        ],
        "responses": {
          "200": {
            "description": "GTFS ZIP file"
          }
        }
      }
    },
    "/gtfs_m.zip": {
      "get": {
        "operationId": "getManhattanBusSchedule",
        "summary": "Download Manhattan bus GTFS schedule",
        "tags": [
          "Static GTFS"
        ],
        "responses": {
          "200": {
            "description": "GTFS ZIP file"
          }
        }
      }
    },
    "/gtfs_q.zip": {
      "get": {
        "operationId": "getQueensBusSchedule",
        "summary": "Download Queens bus GTFS schedule",
        "tags": [
          "Static GTFS"
        ],
        "responses": {
          "200": {
            "description": "GTFS ZIP file"
          }
        }
      }
    },
    "/gtfs_si.zip": {
      "get": {
        "operationId": "getStatenIslandBusSchedule",
        "summary": "Download Staten Island bus GTFS schedule",
        "tags": [
          "Static GTFS"
        ],
        "responses": {
          "200": {
            "description": "GTFS ZIP file"
          }
        }
      }
    },
    "/gtfs_busco.zip": {
      "get": {
        "operationId": "getMtaBusCompanySchedule",
        "summary": "Download MTA Bus Company GTFS schedule",
        "tags": [
          "Static GTFS"
        ],
        "responses": {
          "200": {
            "description": "GTFS ZIP file"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {}
  }
}