{
  "openapi": "3.0.3",
  "info": {
    "title": "CADViewer REST API",
    "version": "1.0.0",
    "description": "The CADViewer REST API provides document conversion, extraction, and display services for CAD files. It supports multiple server platforms (Node.js, PHP, Tomcat, .NET) with JSON-encapsulated HTTP POST requests.",
    "x-jentic-source-url": "https://cadviewer.com/cadviewertechdocs/rest_api/"
  },
  "servers": [{ "url": "https://api.cadviewer.com" }],
  "paths": {
    "/callApiConversion": {
      "post": {
        "operationId": "convertDocument",
        "summary": "Convert/extract/display CAD document",
        "description": "Performs document conversion, extraction, or display operations on CAD files. Supports file streams, base64 encoding, or URL references.",
        "tags": ["Conversion"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ConversionRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Conversion result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ConversionResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized - invalid password", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ConversionRequest": { "type": "object", "properties": { "file": { "type": "string", "description": "File data as base64 or URL reference" }, "conversion_type": { "type": "string", "description": "Type of conversion to perform" }, "output_format": { "type": "string", "description": "Desired output format" }, "password": { "type": "string", "description": "Access password" } } },
      "ConversionResponse": { "type": "object", "properties": { "status": { "type": "string" }, "result_url": { "type": "string" }, "message": { "type": "string" } } },
      "ErrorResponse": { "type": "object", "properties": { "status": { "type": "string", "enum": ["error"] }, "message": { "type": "string" } } }
    },
    "securitySchemes": {
      "password": { "type": "apiKey", "name": "password", "in": "query", "description": "Password-based access control" }
    }
  },
  "security": [{ "password": [] }]
}