{
  "openapi": "3.0.3",
  "info": {
    "title": "OppBot API",
    "version": "1.0.0",
    "description": "OppBot is an AI assistant for demand generation teams that converts underserved leads into sales-ready opportunities.",
    "x-jentic-source-url": "https://oppbot.readme.io/"
  },
  "servers": [
    {
      "url": "https://api.oppbot.com/api"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Test Authentication",
        "operationId": "testAuthentication",
        "responses": {
          "200": {
            "description": "Authenticated user details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/prospects": {
      "get": {
        "tags": [
          "Prospects"
        ],
        "summary": "List Prospects",
        "operationId": "listProspects",
        "responses": {
          "200": {
            "description": "List of prospects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Prospect"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/prospects/{id}": {
      "get": {
        "tags": [
          "Prospects"
        ],
        "summary": "Get Prospect",
        "operationId": "getProspect",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Prospect ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Prospect details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prospect"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/prospect/store": {
      "post": {
        "tags": [
          "Prospects"
        ],
        "summary": "Add Prospect",
        "operationId": "addProspect",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProspectInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created prospect",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prospect"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/prospect/update/{id}": {
      "put": {
        "tags": [
          "Prospects"
        ],
        "summary": "Update Prospect",
        "operationId": "updateProspect",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Prospect ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProspectInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated prospect",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prospect"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/prospects/delete/{id}": {
      "delete": {
        "tags": [
          "Prospects"
        ],
        "summary": "Delete Prospect",
        "operationId": "deleteProspect",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Prospect ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Prospect deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/prospects/sequences/add": {
      "post": {
        "tags": [
          "Prospects"
        ],
        "summary": "Add To Sequence",
        "operationId": "addToSequence",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prospect_id": {
                    "type": "string"
                  },
                  "sequence_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "prospect_id",
                  "sequence_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prospect added to sequence"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "teams": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Prospect": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "mobile_number": {
            "type": "string"
          },
          "prospect_source": {
            "type": "string"
          },
          "prospect_type": {
            "type": "string"
          },
          "prospect_status": {
            "type": "string"
          },
          "sequence_id": {
            "type": "string"
          }
        }
      },
      "ProspectInput": {
        "type": "object",
        "required": [
          "first_name",
          "last_name",
          "email",
          "mobile_number"
        ],
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "mobile_number": {
            "type": "string"
          },
          "prospect_source": {
            "type": "string"
          },
          "prospect_type": {
            "type": "string"
          },
          "prospect_status": {
            "type": "string"
          },
          "sequence_id": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}