{
  "openapi": "3.0.3",
  "info": {
    "title": "Pulsedive API",
    "description": "Pulsedive is a free threat intelligence platform that provides community-powered indicator of compromise (IOC) data. The API allows searching, scanning, and analyzing indicators (IPs, domains, URLs), threats, and feeds for threat intelligence enrichment.",
    "version": "1.0.0",
    "contact": {
      "name": "Pulsedive",
      "url": "https://pulsedive.com"
    },
    "x-jentic-source-url": "https://pulsedive.com/api/"
  },
  "servers": [
    {
      "url": "https://pulsedive.com/api",
      "description": "Pulsedive API"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Indicators",
      "description": "Retrieve and manage threat indicators (IPs, domains, URLs, artifacts)"
    },
    {
      "name": "Threats",
      "description": "Retrieve and manage threat entries (malware families, campaigns, actors)"
    },
    {
      "name": "Explore",
      "description": "Explore and query the Pulsedive dataset"
    },
    {
      "name": "Scan",
      "description": "Submit indicators for on-demand scanning and analysis"
    },
    {
      "name": "Feeds",
      "description": "Retrieve threat intelligence feed data"
    }
  ],
  "paths": {
    "/info.php": {
      "get": {
        "operationId": "getIndicatorById",
        "summary": "Get indicator by ID",
        "description": "Retrieve detailed information about a specific indicator by its Pulsedive ID.",
        "tags": ["Indicators"],
        "parameters": [
          {
            "name": "iid",
            "in": "query",
            "required": true,
            "description": "The Pulsedive indicator ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "description": "API key (can also be passed as query parameter)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "get",
            "in": "query",
            "required": false,
            "description": "Specify sub-resources to retrieve (e.g. 'links', 'properties', 'threats')",
            "schema": {
              "type": "string",
              "enum": ["links", "properties", "threats", "feeds", "comments", "news"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicator details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Indicator"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Indicator not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/info.php#indicator-by-value": {
      "get": {
        "operationId": "getIndicatorByValue",
        "summary": "Get indicator by value",
        "description": "Retrieve detailed information about a specific indicator by its value (IP, domain, URL, or hash).",
        "tags": ["Indicators"],
        "parameters": [
          {
            "name": "indicator",
            "in": "query",
            "required": true,
            "description": "The indicator value (IP address, domain, URL, or hash)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "get",
            "in": "query",
            "required": false,
            "description": "Specify sub-resources to retrieve",
            "schema": {
              "type": "string",
              "enum": ["links", "properties", "threats", "feeds", "comments", "news"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicator details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Indicator"
                }
              }
            }
          },
          "400": { "description": "Bad request" },
          "404": { "description": "Indicator not found" },
          "429": { "description": "Rate limit exceeded" }
        }
      }
    },
    "/info.php#threat": {
      "get": {
        "operationId": "getThreatById",
        "summary": "Get threat by ID",
        "description": "Retrieve detailed information about a specific threat by its Pulsedive threat ID.",
        "tags": ["Threats"],
        "parameters": [
          {
            "name": "tid",
            "in": "query",
            "required": true,
            "description": "The Pulsedive threat ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "get",
            "in": "query",
            "required": false,
            "description": "Specify sub-resources to retrieve",
            "schema": {
              "type": "string",
              "enum": ["links", "indicators", "comments", "news"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Threat details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Threat"
                }
              }
            }
          },
          "400": { "description": "Bad request" },
          "404": { "description": "Threat not found" },
          "429": { "description": "Rate limit exceeded" }
        }
      }
    },
    "/info.php#threat-by-name": {
      "get": {
        "operationId": "getThreatByName",
        "summary": "Get threat by name",
        "description": "Retrieve detailed information about a specific threat by its name.",
        "tags": ["Threats"],
        "parameters": [
          {
            "name": "threat",
            "in": "query",
            "required": true,
            "description": "The threat name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "get",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["links", "indicators", "comments", "news"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Threat details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Threat"
                }
              }
            }
          },
          "400": { "description": "Bad request" },
          "404": { "description": "Threat not found" },
          "429": { "description": "Rate limit exceeded" }
        }
      }
    },
    "/info.php#feed": {
      "get": {
        "operationId": "getFeedById",
        "summary": "Get feed by ID",
        "description": "Retrieve details about a specific threat intelligence feed by its Pulsedive feed ID.",
        "tags": ["Feeds"],
        "parameters": [
          {
            "name": "fid",
            "in": "query",
            "required": true,
            "description": "The Pulsedive feed ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "get",
            "in": "query",
            "required": false,
            "description": "Specify sub-resources to retrieve",
            "schema": {
              "type": "string",
              "enum": ["indicators", "linked"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feed details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feed"
                }
              }
            }
          },
          "400": { "description": "Bad request" },
          "404": { "description": "Feed not found" },
          "429": { "description": "Rate limit exceeded" }
        }
      }
    },
    "/explore.php": {
      "get": {
        "operationId": "exploreIndicators",
        "summary": "Explore indicators",
        "description": "Search and filter indicators using various criteria such as type, risk, feed, threat, attribute, and more.",
        "tags": ["Explore"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Explore query string using Pulsedive query syntax (e.g. 'type=ip risk=critical feed=feodo')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (0-indexed)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "get",
            "in": "query",
            "required": false,
            "description": "Type of results to return",
            "schema": {
              "type": "string",
              "enum": ["indicators", "threats"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Explore results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExploreResults"
                }
              }
            }
          },
          "400": { "description": "Bad request - invalid query" },
          "429": { "description": "Rate limit exceeded" }
        }
      }
    },
    "/analyze.php": {
      "post": {
        "operationId": "scanIndicator",
        "summary": "Submit indicator for scanning",
        "description": "Submit an indicator (IP, domain, or URL) for on-demand scanning and analysis by Pulsedive.",
        "tags": ["Scan"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["value", "key"],
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "The indicator value to scan (IP, domain, or URL)"
                  },
                  "key": {
                    "type": "string",
                    "description": "Your API key"
                  },
                  "probe": {
                    "type": "integer",
                    "description": "Set to 1 to actively probe the indicator",
                    "enum": [0, 1],
                    "default": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scan submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResult"
                }
              }
            }
          },
          "400": { "description": "Bad request" },
          "403": { "description": "Forbidden - scan not allowed for this indicator" },
          "429": { "description": "Rate limit exceeded" }
        }
      },
      "get": {
        "operationId": "getScanResults",
        "summary": "Get scan results",
        "description": "Retrieve the results of a previously submitted scan by queue ID.",
        "tags": ["Scan"],
        "parameters": [
          {
            "name": "qid",
            "in": "query",
            "required": true,
            "description": "The queue ID returned from a scan submission",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scan results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResult"
                }
              }
            }
          },
          "400": { "description": "Bad request" },
          "404": { "description": "Queue ID not found" },
          "429": { "description": "Rate limit exceeded" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "Pulsedive API key. Obtain by creating a free account at https://pulsedive.com"
      }
    },
    "schemas": {
      "Indicator": {
        "type": "object",
        "properties": {
          "iid": {
            "type": "integer",
            "description": "Pulsedive indicator ID"
          },
          "indicator": {
            "type": "string",
            "description": "The indicator value"
          },
          "type": {
            "type": "string",
            "description": "Indicator type",
            "enum": ["ip", "ipv6", "domain", "url", "artifact"]
          },
          "risk": {
            "type": "string",
            "description": "Risk level",
            "enum": ["none", "unknown", "low", "medium", "high", "critical", "retired"]
          },
          "risk_recommended": {
            "type": "string",
            "description": "Recommended risk level based on community data"
          },
          "manualrisk": {
            "type": "integer",
            "description": "Whether risk was manually set"
          },
          "retired": {
            "type": "string",
            "nullable": true,
            "description": "Date the indicator was retired, if applicable"
          },
          "stamp_added": {
            "type": "string",
            "format": "date-time",
            "description": "Date the indicator was first added"
          },
          "stamp_updated": {
            "type": "string",
            "format": "date-time",
            "description": "Date the indicator was last updated"
          },
          "stamp_seen": {
            "type": "string",
            "format": "date-time",
            "description": "Date the indicator was last seen"
          },
          "stamp_probed": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date the indicator was last probed"
          },
          "stamp_retired": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date the indicator was retired"
          },
          "summary": {
            "type": "object",
            "description": "Summary of associated data",
            "properties": {
              "properties": {
                "type": "object",
                "description": "Properties associated with this indicator"
              },
              "threats": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "Threats associated with this indicator"
              },
              "feeds": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "Feeds that reference this indicator"
              }
            }
          },
          "riskfactors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "rfid": { "type": "integer" },
                "description": { "type": "string" },
                "risk": { "type": "string" }
              }
            },
            "description": "Risk factors contributing to the risk score"
          }
        }
      },
      "Threat": {
        "type": "object",
        "properties": {
          "tid": {
            "type": "integer",
            "description": "Pulsedive threat ID"
          },
          "threat": {
            "type": "string",
            "description": "Threat name"
          },
          "category": {
            "type": "string",
            "description": "Threat category (e.g. malware, ransomware, phishing, botnet)"
          },
          "risk": {
            "type": "string",
            "description": "Risk level",
            "enum": ["unknown", "low", "medium", "high", "critical"]
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Threat description"
          },
          "stamp_added": {
            "type": "string",
            "format": "date-time"
          },
          "stamp_updated": {
            "type": "string",
            "format": "date-time"
          },
          "wikisummary": {
            "type": "string",
            "nullable": true,
            "description": "Wikipedia summary if available"
          },
          "wikiurl": {
            "type": "string",
            "nullable": true,
            "description": "Wikipedia URL if available"
          },
          "summary": {
            "type": "object",
            "properties": {
              "attributes": {
                "type": "object"
              },
              "indicators": {
                "type": "object"
              }
            }
          }
        }
      },
      "Feed": {
        "type": "object",
        "properties": {
          "fid": {
            "type": "integer",
            "description": "Pulsedive feed ID"
          },
          "feed": {
            "type": "string",
            "description": "Feed name"
          },
          "organization": {
            "type": "string",
            "description": "Organization that publishes the feed"
          },
          "category": {
            "type": "string",
            "description": "Feed category"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "stamp_linked": {
            "type": "string",
            "format": "date-time"
          },
          "stamp_updated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ExploreResults": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "iid": { "type": "integer" },
                "indicator": { "type": "string" },
                "type": { "type": "string" },
                "risk": { "type": "string" },
                "stamp_updated": { "type": "string", "format": "date-time" }
              }
            }
          },
          "count": {
            "type": "integer",
            "description": "Total number of results matching the query"
          },
          "query": {
            "type": "string",
            "description": "The query that was executed"
          }
        }
      },
      "ScanResult": {
        "type": "object",
        "properties": {
          "qid": {
            "type": "integer",
            "description": "Queue ID for tracking the scan"
          },
          "status": {
            "type": "string",
            "description": "Scan status",
            "enum": ["queued", "processing", "done", "error"]
          },
          "indicator": {
            "type": "string",
            "description": "The indicator that was scanned"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "description": "Scan result data when completed"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
