{
  "openapi": "3.0.3",
  "info": {
    "title": "Objectionly API",
    "description": "Objectionly is a sales call analysis app that imports meeting transcripts, tags objections, scores calls, and creates coaching insights for sales teams. This API allows queueing calls for processing.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.objectionly.com/api-reference/queue-call-processing"
  },
  "servers": [
    {
      "url": "https://api.objectionly.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/call-processing/queue": {
      "post": {
        "operationId": "queueCallProcessing",
        "summary": "Queue call for processing",
        "description": "Queue transcript text, uploaded media, or remote audio/video URLs for processing. At least one of transcriptText, mediaUrl, or file must be provided.",
        "tags": [
          "Call Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/QueueCallRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueueCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueCallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "workspaceApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Workspace-API-Key",
        "description": "Your workspace API key"
      },
      "proxyToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Objectionly-Proxy-Token",
        "description": "Required only when workspace requires proxy token"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "message": {
            "type": "string",
            "description": "Detailed error description"
          }
        }
      },
      "QueueCallRequest": {
        "type": "object",
        "required": [
          "title",
          "repEmail",
          "callDate"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Call title"
          },
          "repEmail": {
            "type": "string",
            "format": "email",
            "description": "Rep or host email. Must be a valid email address."
          },
          "callDate": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp of the call"
          },
          "transcriptText": {
            "type": "string",
            "description": "Plain text transcript of the call"
          },
          "mediaUrl": {
            "type": "string",
            "format": "uri",
            "description": "Absolute http(s) URL for a remote audio or video file"
          },
          "file": {
            "type": "string",
            "format": "binary",
            "description": "Direct media file upload"
          },
          "repName": {
            "type": "string",
            "description": "Name of the rep or host"
          },
          "callDuration": {
            "type": "number",
            "description": "Duration of the call"
          },
          "description": {
            "type": "string",
            "description": "Description of the call"
          },
          "externalMeetingId": {
            "type": "string",
            "description": "External meeting identifier"
          },
          "source": {
            "type": "string",
            "description": "Source of the call recording"
          },
          "forceImport": {
            "type": "boolean",
            "description": "Force import even if duplicate detected"
          }
        }
      },
      "QueueCallResponse": {
        "type": "object",
        "properties": {
          "callId": {
            "type": "string",
            "description": "Unique identifier for the queued call"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "filtered_out",
              "duplicate"
            ],
            "description": "Queue status"
          },
          "queued": {
            "type": "boolean",
            "description": "Whether the call was successfully queued"
          }
        }
      }
    }
  },
  "security": [
    {
      "workspaceApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Call Processing",
      "description": "Queue and process sales calls"
    }
  ]
}