{
  "openapi": "3.0.3",
  "info": {
    "title": "Commerzbank PSD2 PIS API",
    "version": "1.3.11",
    "description": "Commerzbank PSD2 Payment Initiation Service (PIS) API implementing the BerlinGroup XS2A specification version 1.3.11. Supports single payments, periodic payments, and bulk payments.",
    "x-jentic-source-url": "https://psd2.developer.commerzbank.com/apis"
  },
  "servers": [
    {
      "url": "https://psd2.api.commerzbank.com/berlingroup/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/payments/{payment-product}": {
      "post": {
        "operationId": "initiatePayment",
        "summary": "Initiate a single payment",
        "description": "Initiate a single payment for a given payment product.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sepa-credit-transfers",
                "instant-sepa-credit-transfers",
                "cross-border-credit-transfers"
              ]
            },
            "description": "Payment product type"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentInitiationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentInitiationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "pis"
            ]
          }
        ]
      }
    },
    "/payments/{payment-product}/{paymentId}": {
      "get": {
        "operationId": "getPayment",
        "summary": "Get payment details",
        "description": "Retrieve details of a single payment.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment product type"
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "pis"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "cancelPayment",
        "summary": "Cancel a payment",
        "description": "Request cancellation of a payment.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment product type"
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment identifier"
          }
        ],
        "responses": {
          "204": {
            "description": "Payment cancelled successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "pis"
            ]
          }
        ]
      }
    },
    "/payments/{payment-product}/{paymentId}/status": {
      "get": {
        "operationId": "getPaymentStatus",
        "summary": "Get payment status",
        "description": "Check the status of a payment initiation.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment product type"
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "pis"
            ]
          }
        ]
      }
    },
    "/payments/{payment-product}/{paymentId}/authorisations": {
      "post": {
        "operationId": "createPaymentAuthorisation",
        "summary": "Create payment authorisation",
        "description": "Begin SCA authorization for a payment.",
        "tags": [
          "Payment Authorisations"
        ],
        "parameters": [
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment product type"
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment identifier"
          }
        ],
        "responses": {
          "201": {
            "description": "Authorisation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorisationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "pis"
            ]
          }
        ]
      },
      "get": {
        "operationId": "getPaymentAuthorisations",
        "summary": "List payment authorisations",
        "description": "List all authorization subresource IDs for a payment.",
        "tags": [
          "Payment Authorisations"
        ],
        "parameters": [
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment product type"
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "List of authorisation IDs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorisationListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "pis"
            ]
          }
        ]
      }
    },
    "/payments/{payment-product}/{paymentId}/authorisations/{authorisation-id}": {
      "get": {
        "operationId": "getPaymentAuthorisationStatus",
        "summary": "Get payment authorisation status",
        "description": "Verify SCA authorization status for a payment.",
        "tags": [
          "Payment Authorisations"
        ],
        "parameters": [
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment product type"
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment identifier"
          },
          {
            "name": "authorisation-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authorisation identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Authorisation status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorisationStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "pis"
            ]
          }
        ]
      }
    },
    "/periodic-payments/{payment-product}": {
      "post": {
        "operationId": "initiatePeriodicPayment",
        "summary": "Initiate a periodic payment",
        "description": "Initiate a periodic (recurring) payment.",
        "tags": [
          "Periodic Payments"
        ],
        "parameters": [
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment product type"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PeriodicPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Periodic payment initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentInitiationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "pis"
            ]
          }
        ]
      }
    },
    "/periodic-payments/{payment-product}/{paymentId}": {
      "get": {
        "operationId": "getPeriodicPayment",
        "summary": "Get periodic payment details",
        "description": "Retrieve details of a periodic payment.",
        "tags": [
          "Periodic Payments"
        ],
        "parameters": [
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment product type"
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Periodic payment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "pis"
            ]
          }
        ]
      }
    },
    "/bulk-payments/{payment-product}": {
      "post": {
        "operationId": "initiateBulkPayment",
        "summary": "Initiate a bulk payment",
        "description": "Initiate a bulk payment transfer.",
        "tags": [
          "Bulk Payments"
        ],
        "parameters": [
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment product type"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bulk payment initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentInitiationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "pis"
            ]
          }
        ]
      }
    },
    "/bulk-payments/{payment-product}/{paymentId}": {
      "get": {
        "operationId": "getBulkPayment",
        "summary": "Get bulk payment details",
        "description": "Retrieve bulk payment information.",
        "tags": [
          "Bulk Payments"
        ],
        "parameters": [
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment product type"
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk payment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "pis"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "PaymentInitiationRequest": {
        "type": "object",
        "required": [
          "debtorAccount",
          "instructedAmount",
          "creditorAccount",
          "creditorName"
        ],
        "properties": {
          "debtorAccount": {
            "$ref": "#/components/schemas/AccountReference"
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "creditorAccount": {
            "$ref": "#/components/schemas/AccountReference"
          },
          "creditorName": {
            "type": "string",
            "description": "Creditor name"
          },
          "remittanceInformationUnstructured": {
            "type": "string",
            "description": "Remittance information"
          }
        }
      },
      "PeriodicPaymentRequest": {
        "type": "object",
        "required": [
          "debtorAccount",
          "instructedAmount",
          "creditorAccount",
          "creditorName",
          "startDate",
          "frequency"
        ],
        "properties": {
          "debtorAccount": {
            "$ref": "#/components/schemas/AccountReference"
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "creditorAccount": {
            "$ref": "#/components/schemas/AccountReference"
          },
          "creditorName": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "frequency": {
            "type": "string",
            "enum": [
              "Daily",
              "Weekly",
              "EveryTwoWeeks",
              "Monthly",
              "EveryTwoMonths",
              "Quarterly",
              "SemiAnnual",
              "Annual"
            ]
          },
          "remittanceInformationUnstructured": {
            "type": "string"
          }
        }
      },
      "BulkPaymentRequest": {
        "type": "object",
        "required": [
          "debtorAccount",
          "payments"
        ],
        "properties": {
          "debtorAccount": {
            "$ref": "#/components/schemas/AccountReference"
          },
          "payments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentInitiationRequest"
            }
          }
        }
      },
      "AccountReference": {
        "type": "object",
        "properties": {
          "iban": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          }
        }
      },
      "PaymentInitiationResponse": {
        "type": "object",
        "properties": {
          "transactionStatus": {
            "type": "string"
          },
          "paymentId": {
            "type": "string"
          },
          "_links": {
            "type": "object"
          }
        }
      },
      "PaymentDetailsResponse": {
        "type": "object",
        "properties": {
          "debtorAccount": {
            "$ref": "#/components/schemas/AccountReference"
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "creditorAccount": {
            "$ref": "#/components/schemas/AccountReference"
          },
          "creditorName": {
            "type": "string"
          },
          "transactionStatus": {
            "type": "string"
          }
        }
      },
      "PaymentStatusResponse": {
        "type": "object",
        "properties": {
          "transactionStatus": {
            "type": "string"
          }
        }
      },
      "AuthorisationResponse": {
        "type": "object",
        "properties": {
          "authorisationId": {
            "type": "string"
          },
          "scaStatus": {
            "type": "string"
          },
          "_links": {
            "type": "object"
          }
        }
      },
      "AuthorisationListResponse": {
        "type": "object",
        "properties": {
          "authorisationIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AuthorisationStatusResponse": {
        "type": "object",
        "properties": {
          "scaStatus": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "tppMessages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://psd2.api.commerzbank.com/berlingroup/authorize",
            "tokenUrl": "https://psd2.api.commerzbank.com/berlingroup/v1/token",
            "scopes": {
              "pis": "Payment Initiation Service"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "pis"
      ]
    }
  ]
}