{
  "openapi": "3.0.3",
  "info": {
    "title": "NHL API",
    "version": "1.0.0",
    "description": "Unofficial NHL API providing access to player spotlights, schedules, scores, standings, and statistics from the NHL.",
    "x-jentic-source-url": "https://gitlab.com/dword4/nhlapi"
  },
  "servers": [
    {
      "url": "https://api-web.nhle.com"
    }
  ],
  "paths": {
    "/v1/player-spotlight": {
      "get": {
        "operationId": "getplayerspotlight",
        "summary": "Get player spotlight information",
        "tags": [
          "Players"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlayerSpotlight"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/schedule/now": {
      "get": {
        "operationId": "getcurrentschedule",
        "summary": "Get current schedule",
        "tags": [
          "Schedule"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/schedule/{date}": {
      "get": {
        "operationId": "getschedulebydate",
        "summary": "Get schedule for a specific date",
        "tags": [
          "Schedule"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Date in YYYY-MM-DD format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/standings-season": {
      "get": {
        "operationId": "getstandingsseason",
        "summary": "Get season standings",
        "tags": [
          "Standings"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/schedule/playoff-series/{season}/{seriesLetter}": {
      "get": {
        "operationId": "getplayoffseriesschedule",
        "summary": "Get playoff series schedule",
        "tags": [
          "Schedule"
        ],
        "parameters": [
          {
            "name": "season",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "8-digit season identifier (e.g., 20232024)"
          },
          {
            "name": "seriesLetter",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Single character series letter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayoffSeries"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/score/now": {
      "get": {
        "operationId": "getcurrentscores",
        "summary": "Get current scores",
        "tags": [
          "Scores"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/score/{date}": {
      "get": {
        "operationId": "getscoresbydate",
        "summary": "Get scores for a specific date",
        "tags": [
          "Scores"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Date in YYYY-MM-DD format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/location": {
      "get": {
        "operationId": "getlocations",
        "summary": "Get location information",
        "tags": [
          "General"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/season": {
      "get": {
        "operationId": "getseasoninfo",
        "summary": "Get season data",
        "tags": [
          "General"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonInfo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/skater-stats-leaders/current": {
      "get": {
        "operationId": "getcurrentskaterstatsleaders",
        "summary": "Get current skater statistics leaders",
        "tags": [
          "Players"
        ],
        "parameters": [
          {
            "name": "categories",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated stat categories"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of leaders to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsLeadersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/skater-stats-leaders/{season}/{gameType}": {
      "get": {
        "operationId": "getskaterstatsleadersbyseason",
        "summary": "Get historical skater statistics leaders",
        "tags": [
          "Players"
        ],
        "parameters": [
          {
            "name": "season",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Season identifier"
          },
          {
            "name": "gameType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Game type identifier"
          },
          {
            "name": "categories",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsLeadersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/where-to-watch": {
      "get": {
        "operationId": "getwheretowatch",
        "summary": "Get streaming and broadcast information",
        "tags": [
          "General"
        ],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Additional data to include"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {},
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "PlayerSpotlight": {
        "type": "object",
        "properties": {
          "playerId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "teamAbbrev": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "headshot": {
            "type": "string"
          }
        }
      },
      "ScheduleResponse": {
        "type": "object",
        "properties": {
          "nextStartDate": {
            "type": "string",
            "format": "date"
          },
          "previousStartDate": {
            "type": "string",
            "format": "date"
          },
          "gameWeek": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GameDay"
            }
          }
        }
      },
      "GameDay": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "dayAbbrev": {
            "type": "string"
          },
          "numberOfGames": {
            "type": "integer"
          },
          "games": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Game"
            }
          }
        }
      },
      "Game": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "season": {
            "type": "integer"
          },
          "gameType": {
            "type": "integer"
          },
          "gameDate": {
            "type": "string",
            "format": "date"
          },
          "startTimeUTC": {
            "type": "string",
            "format": "date-time"
          },
          "awayTeam": {
            "$ref": "#/components/schemas/GameTeam"
          },
          "homeTeam": {
            "$ref": "#/components/schemas/GameTeam"
          },
          "gameState": {
            "type": "string"
          },
          "venue": {
            "type": "string"
          }
        }
      },
      "GameTeam": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "abbrev": {
            "type": "string"
          },
          "score": {
            "type": "integer"
          },
          "logo": {
            "type": "string"
          }
        }
      },
      "StandingsResponse": {
        "type": "object",
        "properties": {
          "standings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StandingEntry"
            }
          }
        }
      },
      "StandingEntry": {
        "type": "object",
        "properties": {
          "teamAbbrev": {
            "type": "string"
          },
          "teamName": {
            "type": "string"
          },
          "conferenceName": {
            "type": "string"
          },
          "divisionName": {
            "type": "string"
          },
          "gamesPlayed": {
            "type": "integer"
          },
          "wins": {
            "type": "integer"
          },
          "losses": {
            "type": "integer"
          },
          "otLosses": {
            "type": "integer"
          },
          "points": {
            "type": "integer"
          },
          "pointPctg": {
            "type": "number"
          }
        }
      },
      "PlayoffSeries": {
        "type": "object",
        "properties": {
          "season": {
            "type": "string"
          },
          "seriesLetter": {
            "type": "string"
          },
          "games": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Game"
            }
          }
        }
      },
      "ScoreResponse": {
        "type": "object",
        "properties": {
          "currentDate": {
            "type": "string",
            "format": "date"
          },
          "games": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Game"
            }
          }
        }
      },
      "SeasonInfo": {
        "type": "object",
        "properties": {
          "currentSeason": {
            "type": "integer"
          },
          "regularSeasonStartDate": {
            "type": "string",
            "format": "date"
          },
          "regularSeasonEndDate": {
            "type": "string",
            "format": "date"
          },
          "playoffStartDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "StatsLeadersResponse": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string"
                },
                "leaders": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatsLeader"
                  }
                }
              }
            }
          }
        }
      },
      "StatsLeader": {
        "type": "object",
        "properties": {
          "playerId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "teamAbbrev": {
            "type": "string"
          },
          "value": {
            "type": "number"
          }
        }
      }
    }
  },
  "security": [],
  "tags": [
    {
      "name": "Schedule",
      "description": "Game schedules"
    },
    {
      "name": "Scores",
      "description": "Game scores"
    },
    {
      "name": "Standings",
      "description": "League standings"
    },
    {
      "name": "Players",
      "description": "Player information and statistics"
    },
    {
      "name": "General",
      "description": "General information"
    }
  ]
}