{
  "openapi": "3.0.3",
  "info": {
    "title": "EziDox API",
    "version": "2.0",
    "description": "EziDox API V2 for document management and e-signature workflows. Supports application testing and e-signature attachment operations.",
    "x-jentic-source-url": "https://api.ezidox.com/swagger/ui/index"
  },
  "servers": [
    { "url": "https://api.ezidox.com" }
  ],
  "paths": {
    "/api/v2.0/Applications/Test": {
      "get": {
        "operationId": "testApplication",
        "summary": "Test application connectivity",
        "description": "Returns OK response indicating successful operation",
        "tags": ["Applications"],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "type": "string" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ESignSignAttachmentDto": {
        "type": "object",
        "properties": {
          "EntityName": { "type": "string" },
          "OutdocumentId": { "type": "integer" },
          "OutdocumentRequestId": { "type": "string" },
          "IsInteractiveForm": { "type": "boolean" },
          "OutDocumentComment": { "type": "string" },
          "IsMandatory": { "type": "boolean" },
          "RequestId": { "type": "string" },
          "Signers": { "type": "array", "items": { "$ref": "#/components/schemas/RecipientsList" } },
          "Message": { "type": "string" },
          "Status": { "type": "string" },
          "OrderingEnabled": { "type": "boolean" },
          "IsContentReviewed": { "type": "boolean" }
        }
      },
      "RecipientsList": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "email": { "type": "string" },
          "phoneNumber": { "type": "string" },
          "role": { "type": "string" },
          "canEdit": { "type": "boolean" },
          "fieldEdit": { "type": "boolean" },
          "fillForm": { "type": "boolean" },
          "signForm": { "type": "boolean" },
          "isRequired": { "type": "boolean" },
          "signingOrder": { "type": "integer" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  },
  "security": [
    { "apiKey": [] }
  ]
}