{
  "openapi": "3.0.3",
  "info": {
    "title": "The Graph Subgraph GraphQL API",
    "description": "The Graph is an indexing protocol for organizing and querying blockchain data. It allows developers to build and publish open APIs called subgraphs that applications can query using GraphQL. Each subgraph has its own unique query URL on The Graph Network gateway.",
    "version": "1.0.0",
    "contact": {
      "name": "The Graph",
      "url": "https://thegraph.com"
    }
  },
  "servers": [
    {
      "url": "https://gateway.thegraph.com/api/{apiKey}/subgraphs/id/{subgraphId}",
      "description": "The Graph Network Gateway - query a specific subgraph by ID",
      "variables": {
        "apiKey": {
          "description": "Your API key from Subgraph Studio",
          "default": "YOUR_API_KEY"
        },
        "subgraphId": {
          "description": "The subgraph deployment ID to query",
          "default": "SUBGRAPH_ID"
        }
      }
    },
    {
      "url": "https://gateway-arbitrum.network.thegraph.com/api/{apiKey}/subgraphs/id/{subgraphId}",
      "description": "The Graph Network Gateway (Arbitrum)",
      "variables": {
        "apiKey": {
          "description": "Your API key from Subgraph Studio",
          "default": "YOUR_API_KEY"
        },
        "subgraphId": {
          "description": "The subgraph deployment ID to query",
          "default": "SUBGRAPH_ID"
        }
      }
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "querySubgraph",
        "summary": "Query a subgraph using GraphQL",
        "description": "Execute a GraphQL query against a deployed subgraph on The Graph Network. The subgraph determines the available schema and entities. Common entity types include tokens, pools, transactions, accounts, and protocol-specific data.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              },
              "examples": {
                "simpleQuery": {
                  "summary": "Basic entity query",
                  "value": {
                    "query": "{ tokens(first: 10, orderBy: totalValueLocked, orderDirection: desc) { id symbol name totalValueLocked } }",
                    "variables": {}
                  }
                },
                "paginatedQuery": {
                  "summary": "Paginated query with skip",
                  "value": {
                    "query": "query GetTokens($first: Int!, $skip: Int!) { tokens(first: $first, skip: $skip, orderBy: totalValueLocked, orderDirection: desc) { id symbol name } }",
                    "variables": {
                      "first": 100,
                      "skip": 0
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful GraphQL response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid GraphQL query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          },
          "404": {
            "description": "Subgraph not found"
          },
          "405": {
            "description": "Method not allowed - use POST instead of GET"
          },
          "429": {
            "description": "Rate limit exceeded - Free Plan allows 100,000 queries per month"
          }
        },
        "tags": ["GraphQL"]
      }
    }
  },
  "components": {
    "schemas": {
      "GraphQLRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": {
            "type": "string",
            "description": "The GraphQL query string. The schema depends on the specific subgraph being queried."
          },
          "variables": {
            "type": "object",
            "description": "Variables for parameterized GraphQL queries",
            "additionalProperties": true
          },
          "operationName": {
            "type": "string",
            "description": "Name of the operation to execute if the query document contains multiple operations"
          }
        }
      },
      "GraphQLResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "The query result data, structure depends on the subgraph schema",
            "additionalProperties": true
          }
        }
      },
      "GraphQLErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message describing the issue"
                },
                "locations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "line": {
                        "type": "integer"
                      },
                      "column": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "GraphQL",
      "description": "GraphQL query endpoint for subgraph data"
    }
  ]
}
