{
  "openapi": "3.0.3",
  "info": {
    "title": "RunSignup API",
    "version": "2.0.0",
    "description": "Race and event management API. Manage races, participants, results, teams, tickets, donations, volunteers, and more for running events and ticket-based events.",
    "x-jentic-source-url": "https://runsignup.com/API"
  },
  "servers": [{"url": "https://runsignup.com"}],
  "paths": {
    "/API/race/{race_id}": {
      "get": {
        "operationId": "getRace", "summary": "Get race information", "tags": ["Races"],
        "parameters": [{"name": "race_id", "in": "path", "required": true, "schema": {"type": "integer"}}],
        "responses": {"200": {"description": "Race info"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/races": {
      "get": {
        "operationId": "listRaces", "summary": "List upcoming races", "tags": ["Races"],
        "responses": {"200": {"description": "Races list"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/race/{race_id}/participants": {
      "get": {
        "operationId": "listRaceParticipants", "summary": "Get race participants", "tags": ["Participants"],
        "parameters": [{"name": "race_id", "in": "path", "required": true, "schema": {"type": "integer"}}],
        "responses": {"200": {"description": "Participants list"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}
      },
      "post": {
        "operationId": "addRaceParticipant", "summary": "Add or edit race participant", "tags": ["Participants"],
        "parameters": [{"name": "race_id", "in": "path", "required": true, "schema": {"type": "integer"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {"200": {"description": "Participant added"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/race/{race_id}/participant-counts": {
      "get": {
        "operationId": "getRaceParticipantCounts", "summary": "Get participant counts", "tags": ["Participants"],
        "parameters": [{"name": "race_id", "in": "path", "required": true, "schema": {"type": "integer"}}],
        "responses": {"200": {"description": "Participant counts"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/race/{race_id}/results/get-results": {
      "get": {
        "operationId": "getRaceResults", "summary": "Get race results", "tags": ["Results"],
        "parameters": [{"name": "race_id", "in": "path", "required": true, "schema": {"type": "integer"}}],
        "responses": {"200": {"description": "Results"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/race/{race_id}/results/full-results": {
      "post": {
        "operationId": "postRaceResult", "summary": "Post a race result", "tags": ["Results"],
        "parameters": [{"name": "race_id", "in": "path", "required": true, "schema": {"type": "integer"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {"200": {"description": "Result posted"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/race/{race_id}/results/new-result-set": {
      "post": {
        "operationId": "createResultSet", "summary": "Create a new result set", "tags": ["Results"],
        "parameters": [{"name": "race_id", "in": "path", "required": true, "schema": {"type": "integer"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {"200": {"description": "Result set created"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/race/{race_id}/results/get-result-sets": {
      "get": {
        "operationId": "getResultSets", "summary": "List result sets", "tags": ["Results"],
        "parameters": [{"name": "race_id", "in": "path", "required": true, "schema": {"type": "integer"}}],
        "responses": {"200": {"description": "Result sets"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/race/{race_id}/teams": {
      "get": {
        "operationId": "getRaceTeams", "summary": "Get race teams", "tags": ["Teams"],
        "parameters": [{"name": "race_id", "in": "path", "required": true, "schema": {"type": "integer"}}],
        "responses": {"200": {"description": "Teams list"}, "401": {"description": "Unauthorized"}}
      },
      "post": {
        "operationId": "addRaceTeam", "summary": "Add or edit team", "tags": ["Teams"],
        "parameters": [{"name": "race_id", "in": "path", "required": true, "schema": {"type": "integer"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {"200": {"description": "Team added"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/race/{race_id}/coupons": {
      "get": {
        "operationId": "getRaceCoupons", "summary": "Get race coupons", "tags": ["Coupons"],
        "parameters": [{"name": "race_id", "in": "path", "required": true, "schema": {"type": "integer"}}],
        "responses": {"200": {"description": "Coupons list"}, "401": {"description": "Unauthorized"}}
      },
      "post": {
        "operationId": "addRaceCoupon", "summary": "Add or edit coupons", "tags": ["Coupons"],
        "parameters": [{"name": "race_id", "in": "path", "required": true, "schema": {"type": "integer"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {"200": {"description": "Coupon added"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/race/{race_id}/donations/list": {
      "get": {
        "operationId": "getRaceDonations", "summary": "Get race donations", "tags": ["Donations"],
        "parameters": [{"name": "race_id", "in": "path", "required": true, "schema": {"type": "integer"}}],
        "responses": {"200": {"description": "Donations list"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/v2/tickets/get-ticket-events": {
      "get": {
        "operationId": "getTicketEvents", "summary": "Get ticket events", "tags": ["Tickets"],
        "responses": {"200": {"description": "Ticket events"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/v2/tickets/get-tickets.json": {
      "get": {
        "operationId": "getTickets", "summary": "Get tickets for event", "tags": ["Tickets"],
        "parameters": [{"name": "ticket_event_id", "in": "query", "required": true, "schema": {"type": "integer"}}],
        "responses": {"200": {"description": "Tickets list"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/v2/volunteers/get-race-volunteers.json": {
      "get": {
        "operationId": "getRaceVolunteers", "summary": "Get race volunteers", "tags": ["Volunteers"],
        "parameters": [{"name": "race_id", "in": "query", "required": true, "schema": {"type": "integer"}}],
        "responses": {"200": {"description": "Volunteers list"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/users": {
      "get": {
        "operationId": "listUsers", "summary": "List users", "tags": ["Users"],
        "responses": {"200": {"description": "Users list"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/user/{user_id}": {
      "get": {
        "operationId": "getUser", "summary": "Get user info", "tags": ["Users"],
        "parameters": [{"name": "user_id", "in": "path", "required": true, "schema": {"type": "integer"}}],
        "responses": {"200": {"description": "User info"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/user": {
      "post": {
        "operationId": "createUser", "summary": "Create a new user", "tags": ["Users"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}},
        "responses": {"200": {"description": "User created"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/club/{club_id}": {
      "get": {
        "operationId": "getClub", "summary": "Get club information", "tags": ["Clubs"],
        "parameters": [{"name": "club_id", "in": "path", "required": true, "schema": {"type": "integer"}}],
        "responses": {"200": {"description": "Club info"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/club/{club_id}/members": {
      "get": {
        "operationId": "getClubMembers", "summary": "List club members", "tags": ["Clubs"],
        "parameters": [{"name": "club_id", "in": "path", "required": true, "schema": {"type": "integer"}}],
        "responses": {"200": {"description": "Members list"}, "401": {"description": "Unauthorized"}}
      }
    },
    "/API/countries": {
      "get": {
        "operationId": "getCountries", "summary": "Get countries and states", "tags": ["Reference"],
        "responses": {"200": {"description": "Countries list"}}
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {"type": "object", "properties": {"error": {"type": "object", "properties": {"error_code": {"type": "integer"}, "error_msg": {"type": "string"}}}}}
    },
    "securitySchemes": {
      "oauth2": {"type": "oauth2", "flows": {"authorizationCode": {"authorizationUrl": "https://runsignup.com/OAuth/authorize", "tokenUrl": "https://runsignup.com/OAuth/token", "scopes": {}}}},
      "apiKeyAuth": {"type": "apiKey", "in": "query", "name": "api_key"}
    }
  },
  "security": [{"apiKeyAuth": []}]
}
