{
  "openapi": "3.0.3",
  "info": {
    "title": "Temi API",
    "version": "1.0.0",
    "description": "Temi is an audio transcription service that uses computers to transcribe English audio or video into text. The API allows you to submit transcription jobs, retrieve transcripts, and manage your account.",
    "contact": {
      "url": "https://www.temi.com"
    },
    "x-jentic-source-url": "https://www.temi.com/api/reference/v1"
  },
  "servers": [
    {
      "url": "https://api.temi.com/v1",
      "description": "Temi API v1 Server"
    }
  ],
  "paths": {
    "/jobs": {
      "post": {
        "operationId": "submitJob",
        "summary": "Submit Job",
        "description": "Create a transcription job from a media URL or binary file upload.",
        "tags": [
          "Jobs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitJobJsonRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SubmitJobMultipartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listJobs",
        "summary": "List Jobs",
        "description": "Retrieve a paginated list of jobs sorted by creation date (newest first).",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of jobs to return",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Job ID to start pagination after",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Job"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "operationId": "getJob",
        "summary": "Get Job Status",
        "description": "Retrieve current job status and details.",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "The job identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteJob",
        "summary": "Delete Job",
        "description": "Remove a completed job. Job must be in 'transcribed' or 'failed' state.",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "The job identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job deleted successfully"
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}/transcript": {
      "get": {
        "operationId": "getTranscript",
        "summary": "Get Transcript",
        "description": "Retrieve transcript in the specified format. Use the Accept header to specify the desired format.",
        "tags": [
          "Transcripts"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "The job identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Transcript version to retrieve",
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "machine"
              ],
              "default": "latest"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Desired response format",
            "schema": {
              "type": "string",
              "enum": [
                "text/plain",
                "application/json",
                "application/msword",
                "application/pdf"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transcript"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/msword": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}/share": {
      "post": {
        "operationId": "shareTranscript",
        "summary": "Share Transcript Editor URL",
        "description": "Generate a shareable editor link with full editing permissions.",
        "tags": [
          "Transcripts"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "The job identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shareable editor URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get Account Details",
        "description": "Retrieve account balance and email.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Temi API key passed as a Bearer token"
      }
    },
    "schemas": {
      "SubmitJobJsonRequest": {
        "type": "object",
        "properties": {
          "options": {
            "type": "object",
            "properties": {
              "media_url": {
                "type": "string",
                "format": "uri",
                "description": "URL to the media file to transcribe"
              },
              "callback_url": {
                "type": "string",
                "format": "uri",
                "description": "URL to receive a callback when the job completes"
              },
              "metadata": {
                "type": "string",
                "description": "Optional metadata to associate with the job"
              }
            },
            "required": [
              "media_url"
            ]
          }
        },
        "required": [
          "options"
        ]
      },
      "SubmitJobMultipartRequest": {
        "type": "object",
        "required": [
          "media"
        ],
        "properties": {
          "media": {
            "type": "string",
            "format": "binary",
            "description": "The media file to transcribe"
          },
          "options": {
            "type": "string",
            "description": "JSON string with callback_url and metadata options"
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Job identifier"
          },
          "status": {
            "type": "string",
            "description": "Current job status",
            "enum": [
              "queued",
              "started",
              "transcribed",
              "failed"
            ]
          },
          "created_on": {
            "type": "string",
            "format": "date-time",
            "description": "Job creation timestamp"
          },
          "web_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to view the job on temi.com"
          },
          "duration_seconds": {
            "type": "number",
            "description": "Duration of the media in seconds"
          },
          "name": {
            "type": "string",
            "description": "Name of the job"
          },
          "metadata": {
            "type": "string",
            "description": "Optional metadata associated with the job"
          },
          "callback_url": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL if set"
          }
        }
      },
      "Transcript": {
        "type": "object",
        "properties": {
          "speakers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Speaker identifier"
                },
                "name": {
                  "type": "string",
                  "description": "Speaker name"
                }
              }
            }
          },
          "monologues": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "speaker": {
                  "type": "integer",
                  "description": "Speaker ID"
                },
                "elements": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Element type (text, punct, etc.)"
                      },
                      "value": {
                        "type": "string",
                        "description": "Text content"
                      },
                      "ts": {
                        "type": "number",
                        "description": "Timestamp in seconds"
                      },
                      "end_ts": {
                        "type": "number",
                        "description": "End timestamp in seconds"
                      },
                      "confidence": {
                        "type": "number",
                        "description": "Confidence score"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ShareResponse": {
        "type": "object",
        "properties": {
          "editor_url": {
            "type": "string",
            "format": "uri",
            "description": "Shareable editor URL with full editing permissions"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "number",
            "description": "Account balance in USD"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Account email address"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Jobs",
      "description": "Manage transcription jobs"
    },
    {
      "name": "Transcripts",
      "description": "Retrieve and share transcripts"
    },
    {
      "name": "Account",
      "description": "Account information"
    }
  ]
}