{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "support@axesso.de"
    },
    "description": "Use this api to fetch information to Amazon products and more.",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "",
    "title": "Axesso Api",
    "version": "1.0.0",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Axesso/axesso-java-client/master/swagger/axessor_api_def_swagger.yaml"
  },
  "servers": [
    {
      "url": "http://api.axesso.de/"
    }
  ],
  "paths": {
    "/amz/amazon-lookup-buy-recommendations": {
      "get": {
        "parameters": [
          {
            "description": "The url of the requested product.",
            "in": "query",
            "name": "url",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuyRecommendationResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Bad Request - Missing parameter"
          },
          "404": {
            "description": "Not Found - Product not Found"
          },
          "406": {
            "description": "Not Acceptable - Wrong parameter"
          }
        },
        "tags": [
          "amz"
        ],
        "description": "",
        "operationId": "requestBuyRecommendation",
        "summary": "request buy recommendations to a given product"
      }
    },
    "/amz/amazon-lookup-product": {
      "get": {
        "parameters": [
          {
            "description": "The url of the requested product.",
            "in": "query",
            "name": "url",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Size parameter if available.",
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetailsResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Bad Request - Missing parameter"
          },
          "404": {
            "description": "Not Found - Product not Found"
          },
          "406": {
            "description": "Not Acceptable - Wrong parameter"
          }
        },
        "security": [],
        "tags": [
          "amz"
        ],
        "description": "",
        "operationId": "requestProduct",
        "summary": "lookup product information"
      }
    },
    "/amz/amazon-search-by-keyword": {
      "get": {
        "parameters": [
          {
            "description": "keyword to search",
            "in": "query",
            "name": "keyword",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "domain for the search",
            "in": "query",
            "name": "domainCode",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "sort option",
            "in": "query",
            "name": "sortBy",
            "schema": {
              "default": "relevanceblender",
              "type": "string"
            }
          },
          {
            "description": "number of the results (max 20)",
            "in": "query",
            "name": "numberOfProducts",
            "schema": {
              "default": "20",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordSearchResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Bad Request - Missing parameter"
          },
          "404": {
            "description": "Not Found - Product not Found"
          }
        },
        "security": [],
        "tags": [
          "amz"
        ],
        "description": "",
        "operationId": "keywordSearch",
        "summary": "fetch results auf a keyword search on Amazon"
      }
    },
    "/amz/sort-options": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SortOptionResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "amz"
        ],
        "description": "",
        "operationId": "sortOptions",
        "summary": "request available sort options to use in keyword search"
      }
    }
  },
  "components": {
    "schemas": {
      "BuyRecommendationResponse": {
        "properties": {
          "buyRecommendations": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "numberOfProducts": {
            "format": "int64",
            "type": "integer"
          },
          "responseMessage": {
            "example": "Product successfully found!",
            "type": "string"
          },
          "responseStatus": {
            "example": "PRODUCT_FOUND_RESPONSE",
            "type": "string"
          }
        },
        "type": "object"
      },
      "KeywordSearchResponse": {
        "properties": {
          "domainCode": {
            "example": "com",
            "type": "string"
          },
          "foundProducts": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "keyword": {
            "example": "Playstation 4",
            "type": "string"
          },
          "numberOfProducts": {
            "format": "int64",
            "type": "integer"
          },
          "responseMessage": {
            "example": "Product successfully found!",
            "type": "string"
          },
          "responseStatus": {
            "example": "PRODUCT_FOUND_RESPONSE",
            "type": "string"
          },
          "sortStrategy": {
            "example": "date-desc-rank",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProductDetailsResponse": {
        "properties": {
          "answeredQuestions": {
            "format": "int64",
            "type": "integer"
          },
          "asin": {
            "example": "B077Q3YRP5",
            "type": "string"
          },
          "countReview": {
            "format": "int64",
            "type": "integer"
          },
          "features": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "fulfilledBy": {
            "example": "Amazon",
            "type": "string"
          },
          "manufacturer": {
            "example": "Sony",
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "priceSaving": {
            "example": "You Save: $59,58 (43%)",
            "type": "string"
          },
          "priceShippingInformation": {
            "example": "free",
            "type": "string"
          },
          "prime": {
            "type": "boolean"
          },
          "productRating": {
            "example": "4.4 out of 5 stars",
            "type": "string"
          },
          "productTitle": {
            "example": "Playstation 4",
            "type": "string"
          },
          "responseMessage": {
            "example": "Product successfully found!",
            "type": "string"
          },
          "responseStatus": {
            "example": "PRODUCT_FOUND_RESPONSE",
            "type": "string"
          },
          "retailPrice": {
            "type": "number"
          },
          "sizeSelection": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "soldBy": {
            "example": "Sony",
            "type": "string"
          },
          "warehouseAvailability": {
            "example": "In Stock",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SortOptionResponse": {
        "properties": {
          "responseMessage": {
            "example": "Product successfully found!",
            "type": "string"
          },
          "responseStatus": {
            "example": "PRODUCT_FOUND_RESPONSE",
            "type": "string"
          },
          "resultSize": {
            "format": "int64",
            "type": "integer"
          },
          "sortOptions": {
            "items": {
              "properties": {
                "order": {
                  "format": "int64",
                  "type": "integer"
                },
                "sortName": {
                  "example": "relevanceblender",
                  "type": "string"
                },
                "strategy": {
                  "example": "AMAZON_FEATURED",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "externalDocs": {
        "description": "Find out more",
        "url": "http://api.axesso.de/"
      },
      "description": "APIs for request on Amazon",
      "name": "amz"
    }
  ],
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://api-doc.axesso.de/"
  }
}