{
  "openapi": "3.0.3",
  "info": {
    "title": "Bruzu API",
    "description": "Bruzu is an image generation API that creates dynamic images from templates or URL parameters. It supports generating social media graphics, banners, Open Graph images, and other visual content programmatically. Images can be customized with text, colors, backgrounds, logos, and various styling options.",
    "version": "1.0.0",
    "contact": {
      "name": "Bruzu Support",
      "url": "https://bruzu.com"
    },
    "x-jentic-source-url": "https://docs.bruzu.com"
  },
  "servers": [
    {
      "url": "https://img.bruzu.com",
      "description": "Bruzu Image Generation API"
    }
  ],
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Image Generation",
      "description": "Generate images from templates and parameters"
    },
    {
      "name": "Templates",
      "description": "Template management"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "generateImageGet",
        "summary": "Generate an image via URL parameters",
        "description": "Generates an image by passing template parameters as URL query parameters. Supports text, backgrounds, logos, and styling. Returns a PNG or JPEG image directly.",
        "tags": ["Image Generation"],
        "parameters": [
          {
            "name": "template",
            "in": "query",
            "required": false,
            "description": "Template ID to use as a base for the image.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "backgroundImage",
            "in": "query",
            "required": false,
            "description": "URL of the background image.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "backgroundColor",
            "in": "query",
            "required": false,
            "description": "Background color in hex format (e.g., '#FF5733') or CSS color name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "description": "Width of the generated image in pixels.",
            "schema": {
              "type": "integer",
              "default": 1200
            }
          },
          {
            "name": "height",
            "in": "query",
            "required": false,
            "description": "Height of the generated image in pixels.",
            "schema": {
              "type": "integer",
              "default": 630
            }
          },
          {
            "name": "a.text",
            "in": "query",
            "required": false,
            "description": "Primary text content for element 'a'.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "a.color",
            "in": "query",
            "required": false,
            "description": "Text color for element 'a'.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "a.fontSize",
            "in": "query",
            "required": false,
            "description": "Font size for element 'a' in pixels.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "a.fontFamily",
            "in": "query",
            "required": false,
            "description": "Font family for element 'a' (e.g., 'Arial', 'Roboto').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "a.fontWeight",
            "in": "query",
            "required": false,
            "description": "Font weight for element 'a' (e.g., 'bold', '700').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "a.x",
            "in": "query",
            "required": false,
            "description": "X position of element 'a' in pixels.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "a.y",
            "in": "query",
            "required": false,
            "description": "Y position of element 'a' in pixels.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "b.text",
            "in": "query",
            "required": false,
            "description": "Text content for element 'b'.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "b.color",
            "in": "query",
            "required": false,
            "description": "Text color for element 'b'.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "b.fontSize",
            "in": "query",
            "required": false,
            "description": "Font size for element 'b'.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "logo",
            "in": "query",
            "required": false,
            "description": "URL of a logo image to overlay.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "logo.x",
            "in": "query",
            "required": false,
            "description": "X position of the logo.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "logo.y",
            "in": "query",
            "required": false,
            "description": "Y position of the logo.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "logo.width",
            "in": "query",
            "required": false,
            "description": "Width of the logo in pixels.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Output image format.",
            "schema": {
              "type": "string",
              "enum": ["png", "jpeg", "webp"],
              "default": "png"
            }
          },
          {
            "name": "quality",
            "in": "query",
            "required": false,
            "description": "Image quality for JPEG/WebP (1-100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 90
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated image returned as binary data.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "generateImagePost",
        "summary": "Generate an image via JSON body",
        "description": "Generates an image by passing template parameters as a JSON body. More suitable for complex configurations with many parameters.",
        "tags": ["Image Generation"],
        "parameters": [
          {
            "name": "template",
            "in": "query",
            "required": false,
            "description": "Template ID to use as a base.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "JSON object containing image generation parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated image returned as binary data.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List available templates",
        "description": "Returns a list of image templates available in the account.",
        "tags": ["Templates"],
        "responses": {
          "200": {
            "description": "Successful response with templates list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "API key passed as a query parameter. Obtain from the Bruzu dashboard."
      }
    },
    "schemas": {
      "ImageGenerationRequest": {
        "type": "object",
        "description": "JSON body for image generation with all element configurations.",
        "properties": {
          "backgroundImage": {
            "type": "string",
            "format": "uri",
            "description": "URL of the background image."
          },
          "backgroundColor": {
            "type": "string",
            "description": "Background color (hex or CSS color name)."
          },
          "width": {
            "type": "integer",
            "description": "Image width in pixels.",
            "default": 1200
          },
          "height": {
            "type": "integer",
            "description": "Image height in pixels.",
            "default": 630
          },
          "format": {
            "type": "string",
            "enum": ["png", "jpeg", "webp"],
            "default": "png"
          },
          "quality": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 90
          },
          "elements": {
            "type": "array",
            "description": "Array of elements (text, images, shapes) to render on the image.",
            "items": {
              "$ref": "#/components/schemas/ImageElement"
            }
          }
        }
      },
      "ImageElement": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Element type.",
            "enum": ["text", "image", "shape"]
          },
          "text": {
            "type": "string",
            "description": "Text content (for text elements)."
          },
          "src": {
            "type": "string",
            "format": "uri",
            "description": "Image source URL (for image elements)."
          },
          "x": {
            "type": "integer",
            "description": "X position in pixels."
          },
          "y": {
            "type": "integer",
            "description": "Y position in pixels."
          },
          "width": {
            "type": "integer",
            "description": "Element width."
          },
          "height": {
            "type": "integer",
            "description": "Element height."
          },
          "color": {
            "type": "string",
            "description": "Text or fill color."
          },
          "fontSize": {
            "type": "integer",
            "description": "Font size in pixels."
          },
          "fontFamily": {
            "type": "string",
            "description": "Font family name."
          },
          "fontWeight": {
            "type": "string",
            "description": "Font weight (e.g., 'bold', '400', '700')."
          }
        }
      },
      "TemplateListResponse": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Template unique identifier."
          },
          "name": {
            "type": "string",
            "description": "Template name."
          },
          "width": {
            "type": "integer",
            "description": "Template width in pixels."
          },
          "height": {
            "type": "integer",
            "description": "Template height in pixels."
          },
          "preview_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to preview the template."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code."
          }
        }
      }
    }
  }
}