{
  "openapi": "3.0.3",
  "info": {
    "title": "Webtiv API",
    "version": "1.0.0",
    "description": "Real estate lead creation API",
    "x-jentic-source-url": "https://webtiv2.co.il/createlead.pdf"
  },
  "servers": [
    {
      "url": "https://webtivapi.webtiv.co.il/api"
    }
  ],
  "paths": {
    "/WebtivLid/WebtivLidPost": {
      "post": {
        "operationId": "createLead",
        "summary": "Create a lead",
        "tags": [
          "Leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LeadRequest": {
        "type": "object",
        "required": [
          "client",
          "provider",
          "name",
          "phone"
        ],
        "properties": {
          "client": {
            "type": "string",
            "description": "Client code from provider"
          },
          "provider": {
            "type": "string",
            "description": "Provider name / lead source"
          },
          "category": {
            "type": "string",
            "description": "Category: buyer/renter/seller/commercial offer/commercial demand/lots offer/lots demand"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "neighborhood": {
            "type": "string"
          },
          "propertyType": {
            "type": "string"
          },
          "rooms": {
            "type": "string"
          },
          "floor": {
            "type": "string"
          },
          "builtsqmr": {
            "type": "string"
          },
          "remark": {
            "type": "string"
          },
          "agent": {
            "type": "string"
          },
          "publishID": {
            "type": "string"
          },
          "cardID": {
            "type": "string"
          },
          "mirpesetShemeshYN": {
            "type": "boolean"
          },
          "mamadYN": {
            "type": "boolean"
          },
          "street": {
            "type": "string"
          },
          "number": {
            "type": "string"
          }
        }
      },
      "LeadResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "clientCode": {
        "type": "apiKey",
        "in": "header",
        "name": "client",
        "description": "Client code provided by Webtiv"
      }
    }
  },
  "security": [
    {
      "clientCode": []
    }
  ]
}