{
  "openapi": "3.0.0",
  "info": {
    "title": "APEX INSURANCE TRAVEL API",
    "version": "3.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/apex.kobul/apex-insurance_ap_is/3.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://online.aic.uz/apex/ins/apex_travel/",
      "description": "\u0414\u0435\u0439\u0441\u0442\u0432\u0438\u0442\u0435\u043b\u0435\u043d \u0434\u043e 01.06.2025"
    },
    {
      "url": "https://rest.aic.uz/api/ins/apex_travel/",
      "x-visibility": "hidden"
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "paths": {
    "/contract": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "travel"
        ],
        "summary": "Create a new insurance policy",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transaction_info",
                  "insurance_info",
                  "travel_info",
                  "person_info"
                ],
                "properties": {
                  "transaction_info": {
                    "type": "object",
                    "required": [
                      "tr_id",
                      "user_id"
                    ],
                    "description": "Information about the transaction",
                    "properties": {
                      "tr_id": {
                        "type": "integer",
                        "description": "Transaction ID"
                      },
                      "user_id": {
                        "type": "integer",
                        "description": "User ID initiating the transaction"
                      }
                    }
                  },
                  "insurance_info": {
                    "type": "object",
                    "required": [
                      "resident_s",
                      "country_s",
                      "address_s",
                      "gender_s",
                      "surname_s",
                      "name_s",
                      "middle_s",
                      "birthday_s",
                      "passport_s"
                    ],
                    "description": "Information about the insured person",
                    "properties": {
                      "resident_s": {
                        "type": "integer",
                        "description": "Indicates if the person is a resident (1 for resident, 0 for non-resident)"
                      },
                      "country_s": {
                        "type": "string",
                        "description": "Country code of the insured person (ISO format)"
                      },
                      "region_s": {
                        "type": "integer",
                        "description": "Region code of the insured person's address (has get endpoint /region - required if resident_s=1)"
                      },
                      "district_s": {
                        "type": "integer",
                        "description": "District code of the insured person's address (has get endpoint /district - required if resident_s=1)"
                      },
                      "address_s": {
                        "type": "string",
                        "description": "Street address of the insured person"
                      },
                      "gender_s": {
                        "type": "integer",
                        "description": "Gender of the insured person (1 for male, 0 for female)"
                      },
                      "surname_s": {
                        "type": "string",
                        "description": "Surname of the insured person"
                      },
                      "name_s": {
                        "type": "string",
                        "description": "First name of the insured person"
                      },
                      "middle_s": {
                        "type": "string",
                        "description": "Middle name of the insured person"
                      },
                      "birthday_s": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "Birthdate of the insured person (dd.mm.yyyy format)"
                      },
                      "phone_s": {
                        "type": "string",
                        "description": "Phone number of the insured person - required if resident_s=1"
                      },
                      "email_s": {
                        "type": "string",
                        "format": "email",
                        "description": "Email address of the insured person - required if resident_s=0"
                      },
                      "passport_s": {
                        "type": "object",
                        "required": [
                          "series_s",
                          "number_s"
                        ],
                        "description": "Passport information of the insured person",
                        "properties": {
                          "pinfl_s": {
                            "type": "string",
                            "description": "Personal Identification Number (PINFL) of the insured person - required if resident_s=1"
                          },
                          "series_s": {
                            "type": "string",
                            "description": "Passport series"
                          },
                          "number_s": {
                            "type": "string",
                            "description": "Passport number"
                          }
                        }
                      }
                    }
                  },
                  "travel_info": {
                    "type": "object",
                    "required": [
                      "start_date",
                      "end_date",
                      "country",
                      "program_id",
                      "purpose_id",
                      "group_id"
                    ],
                    "description": "Information about the travel details",
                    "properties": {
                      "start_date": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "Travel start date (dd.mm.yyyy format)"
                      },
                      "end_date": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "Travel end date (dd.mm.yyyy format)"
                      },
                      "country": {
                        "type": "array",
                        "description": "List of countries the person will visit",
                        "items": {
                          "type": "object",
                          "required": [
                            "iso"
                          ],
                          "properties": {
                            "iso": {
                              "type": "string",
                              "description": "Country code (ISO format)"
                            }
                          }
                        }
                      },
                      "program_id": {
                        "type": "integer",
                        "description": "Program ID associated with the insurance from 1 to 5."
                      },
                      "purpose_id": {
                        "type": "integer",
                        "description": "Purpose of travel"
                      },
                      "group_id": {
                        "type": "integer",
                        "description": "Group ID for group insurance (0 if individual)"
                      }
                    }
                  },
                  "person_info": {
                    "type": "array",
                    "description": "Information about additional persons covered by the insurance",
                    "items": {
                      "type": "object",
                      "required": [
                        "resident_p",
                        "country_p",
                        "address_p",
                        "gender_p",
                        "surname_p",
                        "name_p",
                        "middle_p",
                        "birthday_p",
                        "passport_p"
                      ],
                      "properties": {
                        "resident_p": {
                          "type": "integer",
                          "description": "Indicates if the person is a resident (1 for resident, 0 for non-resident, 6 for child of resident)"
                        },
                        "country_p": {
                          "type": "string",
                          "description": "Country code of the person (ISO format)"
                        },
                        "region_p": {
                          "type": "integer",
                          "description": "Region code of the person's address (has get endpoint /region - required if resident_p=1 and resident_p=6)"
                        },
                        "district_p": {
                          "type": "integer",
                          "description": "District code of the person's address (has get endpoint /district - required if resident_p=1 and resident_p=6)"
                        },
                        "address_p": {
                          "type": "string",
                          "description": "Street address of the person"
                        },
                        "gender_p": {
                          "type": "integer",
                          "description": "Gender of the person (1 for male, 0 for female)"
                        },
                        "surname_p": {
                          "type": "string",
                          "description": "Surname of the person"
                        },
                        "name_p": {
                          "type": "string",
                          "description": "First name of the person"
                        },
                        "middle_p": {
                          "type": "string",
                          "description": "Middle name of the person"
                        },
                        "birthday_p": {
                          "type": "string",
                          "format": "dd.mm.yyyy",
                          "description": "Birthdate of the person (dd.mm.yyyy format)"
                        },
                        "phone_p": {
                          "type": "string",
                          "description": "Phone number of the person - required if resident_p=1 and resident_p=6"
                        },
                        "email_p": {
                          "type": "string",
                          "format": "email",
                          "description": "Email address of the person - required if resident_p=0"
                        },
                        "passport_p": {
                          "type": "object",
                          "required": [
                            "series_p",
                            "number_p"
                          ],
                          "description": "Passport information of the person",
                          "properties": {
                            "pinfl_p": {
                              "type": "string",
                              "description": "Personal Identification Number (PINFL) of the person - required if resident_p=1"
                            },
                            "series_p": {
                              "type": "string",
                              "description": "Passport series"
                            },
                            "number_p": {
                              "type": "string",
                              "description": "Passport number"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "example": {
                  "result": 0,
                  "result_message": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430",
                  "contract_id": 1403524,
                  "polis_sery": "EAPD",
                  "polis_number": 14,
                  "stoimost_uzs": 199000,
                  "polis_link": "https://docx.aic.uz/apex/ins/r/117/polis-bookhara?p850_anketa_id=1403524"
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        }
      }
    },
    "/policy": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "travel"
        ],
        "summary": "Get insurance policy",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "polis_sery",
                  "polis_number"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "User ID initiating the request."
                  },
                  "polis_sery": {
                    "type": "string",
                    "description": "Insurance policy series."
                  },
                  "polis_number": {
                    "type": "integer",
                    "description": "Insurance policy number."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "example": {
                  "result": 0,
                  "result_message": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430.",
                  "link_download": "https://docx.aic.uz/apex/ins/r/117/polis-bookhara?p850_anketa_id=1397028",
                  "file_name": "EASP0000013.pdf",
                  "content_string": "BASE64"
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        }
      }
    },
    "/calculator_travel": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "travel"
        ],
        "summary": "Travel Insurance Cost Calculator",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "travel_info",
                  "person_info"
                ],
                "properties": {
                  "travel_info": {
                    "type": "object",
                    "description": "Travel information.",
                    "required": [
                      "start_date",
                      "end_date",
                      "country",
                      "program_id",
                      "purpose_id",
                      "group_id"
                    ],
                    "properties": {
                      "start_date": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "Travel start date (dd.mm.yyyy format)."
                      },
                      "end_date": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "Travel end date (dd.mm.yyyy format)."
                      },
                      "country": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "iso"
                          ],
                          "properties": {
                            "iso": {
                              "type": "string",
                              "description": "ISO code of country."
                            }
                          }
                        }
                      },
                      "program_id": {
                        "type": "integer",
                        "description": "Program ID associated with the insurance from 1 to 5."
                      },
                      "purpose_id": {
                        "type": "integer",
                        "description": "Purpose of travel."
                      },
                      "group_id": {
                        "type": "integer",
                        "description": "Group ID for group insurance (0 if individual)."
                      }
                    }
                  },
                  "person_info": {
                    "type": "array",
                    "description": "Information about additional persons covered by the insurance.",
                    "items": {
                      "type": "object",
                      "required": [
                        "birthday"
                      ],
                      "properties": {
                        "birthday": {
                          "type": "string",
                          "format": "dd.mm.yyyy",
                          "description": "Birthdate of the person (dd.mm.yyyy format)."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "example": {
                  "result": 0,
                  "result_message": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430",
                  "days": 2,
                  "country": "LITHUANIA, LATVIA",
                  "program_name": "GOLD",
                  "purpose_name": "\u041f\u0443\u0442\u0435\u0448\u0435\u0441\u0442\u0432\u0438\u0435",
                  "group_name": "\u0418\u043d\u0434\u0438\u0432\u0438\u0434\u0443\u0430\u043b\u044c\u043d\u044b\u0439 \u0434\u043b\u044f \u043a\u0430\u0436\u0434\u043e\u0433\u043e \u043f\u0443\u0442\u0435\u0448\u0435\u0441\u0442\u0432\u0435\u043d\u043d\u0438\u043a\u0430",
                  "count_persons": 7,
                  "liability": "420 000,00 EUR",
                  "stoimost_UZS": "158 948,00 UZS",
                  "stoimost_USD": "12,60 USD"
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          },
          "400": {
            "description": "\u041d\u0435\u043a\u043e\u0440\u0440\u0435\u043a\u0442\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441"
          }
        }
      }
    },
    "/contract_passenger": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "passenger"
        ],
        "summary": "Create a new insurance policy",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transaction_info",
                  "insurance_info",
                  "risk_info",
                  "air_info",
                  "person_info"
                ],
                "properties": {
                  "transaction_info": {
                    "type": "object",
                    "required": [
                      "tr_id",
                      "user_id"
                    ],
                    "description": "Information about the transaction",
                    "properties": {
                      "tr_id": {
                        "type": "integer",
                        "description": "Transaction ID"
                      },
                      "user_id": {
                        "type": "integer",
                        "description": "User ID initiating the transaction"
                      }
                    }
                  },
                  "insurance_info": {
                    "type": "object",
                    "required": [
                      "resident_s",
                      "country_s",
                      "address_s",
                      "gender_s",
                      "surname_s",
                      "name_s",
                      "middle_s",
                      "birthday_s",
                      "passport_s"
                    ],
                    "description": "Information about the insured person",
                    "properties": {
                      "resident_s": {
                        "type": "integer",
                        "description": "Indicates if the person is a resident (1 for resident, 0 for non-resident)"
                      },
                      "country_s": {
                        "type": "string",
                        "description": "Country code of the insured person (ISO format)"
                      },
                      "region_s": {
                        "type": "integer",
                        "description": "Region code of the insured person's address (has get endpoint /region - required if resident_s=1)"
                      },
                      "district_s": {
                        "type": "integer",
                        "description": "District code of the insured person's address (has get endpoint /district - required if resident_s=1)"
                      },
                      "address_s": {
                        "type": "string",
                        "description": "Street address of the insured person"
                      },
                      "gender_s": {
                        "type": "integer",
                        "description": "Gender of the insured person (1 for male, 0 for female)"
                      },
                      "surname_s": {
                        "type": "string",
                        "description": "Surname of the insured person"
                      },
                      "name_s": {
                        "type": "string",
                        "description": "First name of the insured person"
                      },
                      "middle_s": {
                        "type": "string",
                        "description": "Middle name of the insured person"
                      },
                      "birthday_s": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "Birthdate of the insured person (dd.mm.yyyy format)"
                      },
                      "phone_s": {
                        "type": "string",
                        "description": "Phone number of the insured person - required if resident_s=1"
                      },
                      "email_s": {
                        "type": "string",
                        "format": "email",
                        "description": "Email address of the insured person - required if resident_s=0"
                      },
                      "passport_s": {
                        "type": "object",
                        "required": [
                          "series_s",
                          "number_s"
                        ],
                        "description": "Passport information of the insured person",
                        "properties": {
                          "pinfl_s": {
                            "type": "string",
                            "description": "Personal Identification Number (PINFL) of the insured person - required if resident_s=1"
                          },
                          "series_s": {
                            "type": "string",
                            "description": "Passport series"
                          },
                          "number_s": {
                            "type": "string",
                            "description": "Passport number"
                          }
                        }
                      }
                    }
                  },
                  "risk_info": {
                    "type": "object",
                    "description": "Information about risks.",
                    "required": [
                      "risk_1",
                      "risk_2",
                      "risk_3",
                      "risk_4",
                      "risk_5",
                      "risk_6"
                    ],
                    "properties": {
                      "risk_1": {
                        "type": "integer",
                        "description": "Risk value for ACCIDENT - 1 to include, 0 to exclude."
                      },
                      "risk_2": {
                        "type": "integer",
                        "description": "Risk value for TRIP CANCELLATION - 1 to include, 0 to exclude. Note that if the Trip Cancellation risk was included in the insurance policy, this policy cannot be canceled."
                      },
                      "risk_3": {
                        "type": "integer",
                        "description": "Risk value PASSENGER BAGGAGE - 1 to include, 0 to exclude."
                      },
                      "risk_4": {
                        "type": "integer",
                        "description": "Risk value for FLIGHT DELAY OR CANCELLATION - 1 to include, 0 to exclude."
                      },
                      "risk_5": {
                        "type": "integer",
                        "description": "Risk value for LOSS/THEFT OF DOCUMENTS - 1 to include, 0 to exclude."
                      },
                      "risk_6": {
                        "type": "integer",
                        "description": "Risk value for PROPERTY INSURANCE - 1 to include, 0 to exclude."
                      }
                    }
                  },
                  "air_info": {
                    "type": "array",
                    "description": "Information about flights.",
                    "items": {
                      "type": "object",
                      "required": [
                        "air_number",
                        "air_departure",
                        "dep_date",
                        "dep_time",
                        "air_arrival",
                        "arr_date",
                        "arr_time"
                      ],
                      "properties": {
                        "air_number": {
                          "type": "string",
                          "description": "Flight number."
                        },
                        "air_departure": {
                          "type": "string",
                          "description": "Departure airport information."
                        },
                        "dep_date": {
                          "type": "string",
                          "format": "dd.mm.yyyy",
                          "description": "Departure date (format - dd.mm.yyyy)."
                        },
                        "dep_time": {
                          "type": "string",
                          "format": "HH:MM",
                          "description": "Departure time (format - HH24:MM60)."
                        },
                        "air_arrival": {
                          "type": "string",
                          "description": "Arrival airport information."
                        },
                        "arr_date": {
                          "type": "string",
                          "format": "dd.mm.yyyy",
                          "description": "Arrival date (format - dd.mm.yyyy)."
                        },
                        "arr_time": {
                          "type": "string",
                          "format": "HH:MM",
                          "description": "Arrival time (format - HH24:MM60)."
                        }
                      }
                    }
                  },
                  "person_info": {
                    "type": "array",
                    "description": "Information about additional persons covered by the insurance",
                    "items": {
                      "type": "object",
                      "required": [
                        "resident_p",
                        "country_p",
                        "address_p",
                        "gender_p",
                        "surname_p",
                        "name_p",
                        "middle_p",
                        "birthday_p",
                        "passport_p"
                      ],
                      "properties": {
                        "resident_p": {
                          "type": "integer",
                          "description": "Indicates if the person is a resident (1 for resident, 0 for non-resident, 6 for child of resident)"
                        },
                        "country_p": {
                          "type": "string",
                          "description": "Country code of the person (ISO format)"
                        },
                        "region_p": {
                          "type": "integer",
                          "description": "Region code of the person's address (has get endpoint /region - required if resident_p=1 and resident_p=6)"
                        },
                        "district_p": {
                          "type": "integer",
                          "description": "District code of the person's address (has get endpoint /district - required if resident_p=1 and resident_p=6)"
                        },
                        "address_p": {
                          "type": "string",
                          "description": "Street address of the person"
                        },
                        "gender_p": {
                          "type": "integer",
                          "description": "Gender of the person (1 for male, 0 for female)"
                        },
                        "surname_p": {
                          "type": "string",
                          "description": "Surname of the person"
                        },
                        "name_p": {
                          "type": "string",
                          "description": "First name of the person"
                        },
                        "middle_p": {
                          "type": "string",
                          "description": "Middle name of the person"
                        },
                        "birthday_p": {
                          "type": "string",
                          "format": "dd.mm.yyyy",
                          "description": "Birthdate of the person (dd.mm.yyyy format)"
                        },
                        "phone_p": {
                          "type": "string",
                          "description": "Phone number of the person - required if resident_p=1 and resident_p=6"
                        },
                        "email_p": {
                          "type": "string",
                          "format": "email",
                          "description": "Email address of the person - required if resident_p=0"
                        },
                        "passport_p": {
                          "type": "object",
                          "required": [
                            "series_p",
                            "number_p"
                          ],
                          "description": "Passport information of the person",
                          "properties": {
                            "pinfl_p": {
                              "type": "string",
                              "description": "Personal Identification Number (PINFL) of the person - required if resident_p=1"
                            },
                            "series_p": {
                              "type": "string",
                              "description": "Passport series"
                            },
                            "number_p": {
                              "type": "string",
                              "description": "Passport number"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "example": {
                  "result": 0,
                  "result_message": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430",
                  "l_tr_id": 16,
                  "contract_id": 1403524,
                  "polis_sery": "EASP",
                  "polis_number": 14,
                  "stoimost_uzs": 199000,
                  "polis_link": "https://docx.aic.uz/apex/ins/r/117/polis?p850_anketa_id=1403524"
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        }
      }
    },
    "/calculator_passenger": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "passenger"
        ],
        "summary": "Passenger Insurance Cost Calculator",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "risk_info",
                  "air_info",
                  "person_info"
                ],
                "properties": {
                  "risk_info": {
                    "type": "object",
                    "description": "Information about risks",
                    "properties": {
                      "risk_1": {
                        "type": "integer",
                        "description": "Risk value for ACCIDENT - 1 to include, 0 to exclude."
                      },
                      "risk_2": {
                        "type": "integer",
                        "description": "Risk value for TRIP CANCELLATION - 1 to include, 0 to exclude. Note that if the Trip Cancellation risk was included in the insurance policy, this policy cannot be canceled."
                      },
                      "risk_3": {
                        "type": "integer",
                        "description": "Risk value PASSENGER BAGGAGE - 1 to include, 0 to exclude."
                      },
                      "risk_4": {
                        "type": "integer",
                        "description": "Risk value for FLIGHT DELAY OR CANCELLATION - 1 to include, 0 to exclude."
                      },
                      "risk_5": {
                        "type": "integer",
                        "description": "Risk value for LOSS/THEFT OF DOCUMENTS - 1 to include, 0 to exclude."
                      },
                      "risk_6": {
                        "type": "integer",
                        "description": "Risk value for PROPERTY INSURANCE - 1 to include, 0 to exclude."
                      }
                    }
                  },
                  "air_info": {
                    "type": "array",
                    "description": "Information about flights",
                    "items": {
                      "type": "object",
                      "properties": {
                        "dep_date": {
                          "type": "string",
                          "format": "dd.mm.yyyy",
                          "description": "Departure date of the flight (dd.mm.yyyy format)."
                        },
                        "arr_date": {
                          "type": "string",
                          "format": "dd.mm.yyyy",
                          "description": "Arrival date of the flight (dd.mm.yyyy format)."
                        }
                      }
                    }
                  },
                  "person_info": {
                    "type": "array",
                    "description": "Information about additional persons covered by the insurance.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "birthday": {
                          "type": "string",
                          "format": "dd.mm.yyyy",
                          "description": "Birthdate of the person (dd.mm.yyyy format)."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "example": {
                  "result": 0,
                  "result_message": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430",
                  "days": 40,
                  "count_persons": 10,
                  "liability_EUR": "200 500,00",
                  "stoimost_UZS": "2 429 000,00",
                  "stoimost_USD": "192,50"
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        }
      }
    },
    "/country": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "API information"
        ],
        "summary": "Getting information by country",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "iso"
                ],
                "properties": {
                  "iso": {
                    "type": "string",
                    "description": "ISO code of country."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "example": {
                  "result": 0,
                  "result_message": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430",
                  "iso": "CZ",
                  "country_en": "CZECH REPUBLIC",
                  "country_ru": "\u0427\u0415\u0428\u0421\u041a\u0410\u042f \u0420\u0415\u0421\u041f\u0423\u0411\u041b\u0418\u041a\u0410",
                  "country_uz": "\u0427\u0415\u0425\u0418\u042f \u0420\u0415\u0421\u041f\u0423\u0411\u041b\u0418\u041a\u0410\u0421\u0418",
                  "silver": "\u043d\u0435\u0434\u043e\u0441\u0442\u0443\u043f\u043d\u043e",
                  "gold": "\u0434\u043e\u0441\u0442\u0443\u043f\u043d\u043e",
                  "platinum": "\u0434\u043e\u0441\u0442\u0443\u043f\u043d\u043e",
                  "stopvirus1": "\u0434\u043e\u0441\u0442\u0443\u043f\u043d\u043e"
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        }
      }
    },
    "/program_travel": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "API information"
        ],
        "summary": "Getting information on programs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "program_id"
                ],
                "properties": {
                  "program_id": {
                    "type": "integer",
                    "description": "Unique program code from 1 to 5."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "example": {
                  "result": 0,
                  "result_message": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430",
                  "program_id": 5,
                  "program_name": "STOPVIRUS 2",
                  "main_sum": "90 000,00 EUR",
                  "med_uslugi": "40 000,00 EUR",
                  "stomatologiya": "500,00 EUR",
                  "covid": "5 000,00 EUR",
                  "evakuatsiya": "11 000,00 EUR",
                  "vozvrasheniya": "2 000,00 EUR",
                  "proezd_nesov": "4 000,00 EUR",
                  "proezd_posit": "4 000,00 EUR",
                  "proezd_sop": "6 000,00 EUR",
                  "poisk_sp": "4 000,00 EUR",
                  "zahoronenie": "4 000,00 EUR",
                  "repatriatsiya": "12 000,00 EUR",
                  "neschast_sl": "3 000,00 EUR"
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        }
      }
    },
    "/purpose": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "API information"
        ],
        "summary": "Getting a list of travel purposes",
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "example": {
                  "purpose_id": 0,
                  "purpose_name_ru": "\u041f\u0443\u0442\u0435\u0448\u0435\u0441\u0442\u0432\u0438\u0435",
                  "purpose_name_en": "TRAVEL",
                  "purpose_name_uz": "\u0421\u0430\u0451\u0445\u0430\u0442"
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        }
      }
    },
    "/group": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "API information"
        ],
        "summary": "Getting a list of group IDs",
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "example": {
                  "group_id": 0,
                  "group_name_ru": "\u0418\u043d\u0434\u0438\u0432\u0438\u0434\u0443\u0430\u043b\u044c\u043d\u044b\u0439 \u0434\u043b\u044f \u043a\u0430\u0436\u0434\u043e\u0433\u043e \u043f\u0443\u0442\u0435\u0448\u0435\u0441\u0442\u0432\u0435\u043d\u043d\u0438\u043a\u0430",
                  "group_name_en": "INDIVIDUAL",
                  "group_name_uz": "\u0428\u0430\u0445\u0441\u0438\u0439 \u0441\u0430\u0451\u0445\u0430\u0442"
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        }
      }
    },
    "/region": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "API information"
        ],
        "summary": "Getting a list of regions IDs",
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "region": {
                            "type": "string",
                            "description": "regions ID"
                          },
                          "name_ru": {
                            "type": "string",
                            "description": "Name in rus."
                          },
                          "name_uz": {
                            "type": "string",
                            "description": "Name in uzb."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        }
      }
    },
    "/district": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "API information"
        ],
        "summary": "Getting a list of district IDs",
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "district": {
                            "type": "string",
                            "description": "district ID"
                          },
                          "name_ru": {
                            "type": "string",
                            "description": "Name in rus."
                          },
                          "name_uz": {
                            "type": "string",
                            "description": "Name in uzb."
                          },
                          "name_uz_latin": {
                            "type": "string",
                            "description": "Name in uzb-latin."
                          },
                          "region": {
                            "type": "string",
                            "description": "region ID"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        }
      }
    },
    "/person_info": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "API information"
        ],
        "summary": "Get information via passport details",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "User ID initiating the transaction"
                  },
                  "user_pinfl": {
                    "type": "string",
                    "description": "User PINFL initiating the transaction"
                  },
                  "series": {
                    "type": "string",
                    "description": "Passport series"
                  },
                  "number": {
                    "type": "string",
                    "description": "Passport number"
                  },
                  "birthday": {
                    "type": "string",
                    "format": "dd.mm.yyyy",
                    "description": "Birthdate (dd.mm.yyyy format)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "description": "Result code, 0 indicates success",
                      "example": 0
                    },
                    "result_message": {
                      "type": "string",
                      "description": "Message indicating the result of the request",
                      "example": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430"
                    },
                    "pinfl": {
                      "type": "string",
                      "description": "Personal Identification Number (PINFL)",
                      "example": "32511952390015"
                    },
                    "passport": {
                      "type": "string",
                      "description": "Full passport number",
                      "example": "FA0358739"
                    },
                    "passport_s": {
                      "type": "string",
                      "description": "Passport series",
                      "example": "FA"
                    },
                    "passport_n": {
                      "type": "string",
                      "description": "Passport number",
                      "example": "0358739"
                    },
                    "surname_uz": {
                      "type": "string",
                      "description": "Last name in Uzbek",
                      "example": "RAZAKOV"
                    },
                    "name_uz": {
                      "type": "string",
                      "description": "First name in Uzbek",
                      "example": "RAVSHAN"
                    },
                    "middlename_uz": {
                      "type": "string",
                      "description": "Middle name in Uzbek",
                      "example": "ALISHEROVICH"
                    },
                    "surname_eng": {
                      "type": "string",
                      "description": "Last name in English, can be empty or placeholder",
                      "example": "-"
                    },
                    "name_eng": {
                      "type": "string",
                      "description": "First name in English, can be empty or placeholder",
                      "example": "-"
                    },
                    "birthday": {
                      "type": "string",
                      "format": "date",
                      "description": "Date of birth (dd.mm.yyyy)",
                      "example": "25.11.1995"
                    },
                    "gender": {
                      "type": "integer",
                      "description": "Gender of the individual, 1 for male, 2 for female",
                      "example": 1
                    },
                    "address": {
                      "type": "string",
                      "description": "Full address including city, district, and other details",
                      "example": "\u0433. \u0422\u0430\u0448\u043a\u0435\u043d\u0442, \u042e\u043d\u0443\u0441\u0430\u0431\u0430\u0434\u0441\u043a\u0438\u0439 \u0440\u0430\u0439\u043e\u043d, \u043a\u0432. \u0426 5, \u041c\u0430\u0442\u043e\u043d\u0430\u0442 \u041c\u0421\u0413, 62- \u0414\u043e\u043c, 22- \u041a\u0432\u0430\u0440\u0442\u0438\u0440\u0430"
                    },
                    "district": {
                      "type": "integer",
                      "description": "District code",
                      "example": 10
                    },
                    "region": {
                      "type": "integer",
                      "description": "Region code",
                      "example": 1010
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        }
      }
    },
    "/get_program_travel": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "API information"
        ],
        "summary": "Getting a list of Travel program IDs with description",
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "program_id": {
                            "type": "integer",
                            "description": "ID of the travel program",
                            "example": 5
                          },
                          "program_name": {
                            "type": "string",
                            "description": "Name of the travel program",
                            "example": "STOPVIRUS 2"
                          },
                          "main_sum": {
                            "type": "string",
                            "description": "Main coverage amount",
                            "example": "90 000,00 EUR"
                          },
                          "med_uslugi": {
                            "type": "string",
                            "description": "Medical services coverage amount",
                            "example": "40 000,00 EUR"
                          },
                          "stomatologiya": {
                            "type": "string",
                            "description": "Dental services coverage amount",
                            "example": "500,00 EUR"
                          },
                          "covid": {
                            "type": "string",
                            "description": "COVID-19 coverage amount",
                            "example": "5 000,00 EUR"
                          },
                          "evakuatsiya": {
                            "type": "string",
                            "description": "Evacuation coverage amount",
                            "example": "11 000,00 EUR"
                          },
                          "vozvrasheniya": {
                            "type": "string",
                            "description": "Return to home coverage amount",
                            "example": "2 000,00 EUR"
                          },
                          "proezd_nesov": {
                            "type": "string",
                            "description": "Travel expenses for minors coverage amount",
                            "example": "4 000,00 EUR"
                          },
                          "proezd_posit": {
                            "type": "string",
                            "description": "Travel expenses for the visitor, amount of coverage",
                            "example": "4 000,00 EUR"
                          },
                          "proezd_sop": {
                            "type": "string",
                            "description": "Travel expenses for an accompanying person coverage amount",
                            "example": "6 000,00 EUR"
                          },
                          "poisk_sp": {
                            "type": "string",
                            "description": "Search and rescue expenses coverage amount",
                            "example": "4 000,00 EUR"
                          },
                          "zahoronenie": {
                            "type": "string",
                            "description": "Burial expenses coverage amount",
                            "example": "4 000,00 EUR"
                          },
                          "repatriatsiya": {
                            "type": "string",
                            "description": "Repatriation expenses coverage amount",
                            "example": "12 000,00 EUR"
                          },
                          "neschast_sl": {
                            "type": "string",
                            "description": "Coverage amount for accidents",
                            "example": "3 000,00 EUR"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        }
      }
    },
    "/get_passenger_risks": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "API information"
        ],
        "summary": "Getting a list of Passenger risks IDs with description",
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "description": "List of risk items with details",
                      "items": {
                        "type": "object",
                        "properties": {
                          "risk": {
                            "type": "integer",
                            "description": "Unique ID representing the type of risk",
                            "example": 1
                          },
                          "name_eng": {
                            "type": "string",
                            "description": "Risk name in English",
                            "example": "ACCIDENT"
                          },
                          "name_ru": {
                            "type": "string",
                            "description": "Risk name in Russian",
                            "example": "\u041d\u0415\u0421\u0427\u0410\u0421\u0422\u041d\u042b\u0419 \u0421\u041b\u0423\u0427\u0410\u0419"
                          },
                          "name_uz": {
                            "type": "string",
                            "description": "Risk name in Uzbek",
                            "example": "BAXTSIZ HODISA"
                          },
                          "liability": {
                            "type": "string",
                            "description": "Liability amount covered for the risk",
                            "example": "10 000,00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        }
      }
    },
    "/annulation": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "API information"
        ],
        "summary": "Annulation of Insurance policy",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contract_id",
                  "user_id",
                  "polis_sery",
                  "polis_number",
                  "reason"
                ],
                "properties": {
                  "contract_id": {
                    "type": "integer",
                    "description": "ID of contract."
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "ID of user."
                  },
                  "polis_sery": {
                    "type": "string",
                    "description": "Insurance policy series."
                  },
                  "polis_number": {
                    "type": "integer",
                    "description": "Insurance policy number."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason of annulation (will be sent to the Regulator)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "example": {
                  "result": 0,
                  "result_message": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430"
                }
              }
            }
          },
          "401": {
            "description": "\u041d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        }
      }
    }
  }
}