{
  "openapi": "3.0.1",
  "info": {
    "title": "Worldline Payment APIs",
    "description": "API Production endpoint - https://api.na.bambora.com/v1",
    "version": "1.0.5",
    "x-jentic-source-url": "https://docs.na.worldline-solutions.com/na_openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.na.bambora.com/v1"
    }
  ],
  "paths": {
    "/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Make payment",
        "description": "Make a payment using credit card, cash, cheque, profile, token, Apple Pay, or Google Pay. Each payment type has its own json definition passed in the\nbody. For all payments you have the standard Billing, Shipping, Comments, etc. fields that are optional. Only the amount is required along with the\npayment data for card, cash, cheque, profile, and token. You must change the payment_method for each payment type. Credit Card - \"card\",\nPayment Profile - \"payment_profile\", Single Use Token - \"token\", Cash - \"cash\", Cheque - \"cheque\", Apple Pay - \"apple_pay\",\nGoogle Pay - \"google_pay\", 3D Secure token - \"3d_secure_token\".\n",
        "operationId": "makePayment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment response containing the payment details as well as if the payment was approved or declined.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "payment_request"
      }
    },
    "/payments/{transId}/returns": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Return payment",
        "description": "Return payment.",
        "operationId": "returnPayment",
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "description": "The transaction id.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Return"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment response containing the payment details as well as if the transaction was approved or declined.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "return"
      }
    },
    "/payments/{transId}/void": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Void transaction",
        "description": "Void a transaction. You can void payments, returns, and pre-auths completions. It will cancel that transaction.",
        "operationId": "voidPayment",
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "description": "The transaction id to void.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Void"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment response containing the payment details as well as if the transaction was approved or declined.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "void"
      }
    },
    "/payments/{transId}/completions": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Complete pre-auth",
        "description": "Complete a pre-authorized payment. The amount of the transaction to complete must be less than or equal to the original pre-auth amount. Complete must be set to true.",
        "operationId": "completePayment",
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "description": "The transaction id.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Payment response containing the payment details as well as if the transaction was approved or declined.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "payment_request"
      }
    },
    "/payments/{transId}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get payment",
        "description": "Get a previous payment (transaction).",
        "operationId": "getPayment",
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "description": "The transaction id.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A transaction object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{merchant_data}/continue": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "3D Secure payments",
        "description": "Continues 3D Secure payment processing.",
        "operationId": "continuePayment",
        "parameters": [
          {
            "name": "merchant_data",
            "in": "path",
            "description": "The merchant_data attribute value returned from the initiating Payments API request. The value represents a unique payment ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContinueRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment response containing the payment details as well as if the transaction was approved or declined.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "continue_request"
      }
    },
    "/reports": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Search Query",
        "description": "Query for transactions using a date range and optional search criteria. This method allows you to page your search results if you are expecting a lot of results to be returned. The page start value begins at 1 and the results will be limited to 500 rows. If no records are found the API will return a 200 response message with an empty array. For details on the parameters and allowed values for Criteria please [visit the documentation](https://docs.na.worldline-solutions.com/build-your-integration/payment-apis/payment-sdks/analyze-payments)",
        "operationId": "getReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchQuery"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "A transaction object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "search_query"
      }
    },
    "/reports/merchants": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Merchant Report",
        "description": "This report provides information about a merchant and their sub-merchants.\n",
        "operationId": "getAllMerchants",
        "responses": {
          "200": {
            "description": "A merchant object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantReport"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/merchants/{merchantId}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Merchant Report",
        "description": "This report provides information about a merchant's specific sub-merchant.\n",
        "operationId": "getMerchant",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "The id of the sub-merchant.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A merchant object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantReport"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/settlement": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Settlement Report",
        "description": "This report provides credit card settlement and fee information. It is helpful to understand the credit date, amount, and fees of each settlement. You can retrieve settlement data with up to a three-month range.\n\nNote:\n\n* Our system calculates settlement using Pacific Time (PT) with midnight cut off.\n",
        "operationId": "getCardSettlementReport",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "The start date (inclusive) '2020-04-21'. Must be on or before end_date.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "The end date (inclusive) '2020-05-30'. Must be no more than 3 months passed the start_date and cannot include today's date.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A settlement object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardSettlementReport"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/statements": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Statement Report",
        "description": "This report provides details on fees applied to your monthly statement. For partners we also provide comission and fees charged to your sub merchants.\n\nNote:\n\n* Our system calculates fees using Pacific Time (PT) with midnight cut off.\n",
        "operationId": "getStatementReport",
        "parameters": [
          {
            "name": "start_year",
            "in": "query",
            "description": "The start year.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          },
          {
            "name": "start_month",
            "in": "query",
            "description": "The start month (inclusive).",
            "required": true,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          },
          {
            "name": "end_year",
            "in": "query",
            "description": "The end year.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          },
          {
            "name": "end_month",
            "in": "query",
            "description": "The end month (inclusive).",
            "required": true,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A statement object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementReport"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/commissions": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Commissions Report",
        "description": "This report provides details on fees applied to your FlexCommissions payouts.\n",
        "operationId": "getCommissions",
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "description": "Report from date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Report to date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "report_days",
            "in": "query",
            "description": "Number of days from today to generate the report for",
            "schema": {
              "type": "integer",
              "format": "integer"
            }
          },
          {
            "name": "filter_by",
            "in": "query",
            "description": "Filter on payment status",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter_value",
            "in": "query",
            "description": "Filer for payments with state - Scheduled, On Hold, Superseded, In Process, Approved, Declined, Pending Payment, Full Payment",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "start_row",
            "in": "query",
            "description": "The first row number in the result set.",
            "schema": {
              "type": "integer",
              "format": "integer"
            }
          },
          {
            "name": "end_row",
            "in": "query",
            "description": "The last row number in the result set.",
            "schema": {
              "type": "integer",
              "format": "integer"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "API version. Current version: 1.0",
            "schema": {
              "type": "integer",
              "format": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A commission object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommissionsReport"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles": {
      "post": {
        "tags": [
          "Profiles"
        ],
        "summary": "Create Profile",
        "description": "Create a new Payment Profile using either a card, a single-use token, a transaction id, or bank credentials. You must supply one of them. You may store a card and bank credentials on the same profile.",
        "operationId": "createProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The Profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "createProfileBody"
      }
    },
    "/profiles/{profileId}": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "summary": "Get profile",
        "description": "Get a Payment Profile using the profile ID, also known as the Customer Code.",
        "operationId": "getProfile",
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "The profile id. (aka CustomerCode)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Profiles"
        ],
        "summary": "Update Profile",
        "description": "Update an existing Payment Profile. For a single card profile supplying token or\ncard data will work. For multi-card profiles you have to update the card data with\nthe update and delete card endpoints.\n",
        "operationId": "updateProfile",
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "The profile id. (aka CustomerCode)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The Profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "updateProfileBody"
      },
      "delete": {
        "tags": [
          "Profiles"
        ],
        "summary": "Delete profile",
        "description": "Delete a Payment Profile using the profile ID, also known as the Customer Code.",
        "operationId": "deleteProfile",
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "The profile id. (aka CustomerCode)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{profileId}/cards": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "summary": "Get cards",
        "description": "Get all of the cards on the profile.",
        "operationId": "getAllCards",
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "The profile id. (aka CustomerCode)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileGetCards"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Profiles"
        ],
        "summary": "Add card",
        "description": "Add a card to the profile. Note that there is a default limit of 1 card per profile. You can change this in your Profiles settings in the back office.",
        "operationId": "addCard",
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "The profile id. (aka CustomerCode)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The card information that will be added to the profile.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileBodyCard"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The Profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/profiles/{profileId}/cards/{cardId}": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "summary": "Get card",
        "description": "Get the details of a card on the profile.",
        "operationId": "getCard",
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "The profile id. (aka CustomerCode)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "description": "The card id.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileCardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Profiles"
        ],
        "summary": "Update card",
        "description": "Update the details of a card on the profile. A card number can only be updated when an account is configured to only allow 1 card per profile.",
        "operationId": "updateCard",
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "The profile id. (aka CustomerCode)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "description": "The card id.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "The card information that will be updated on the profile.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileBodyCard"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The Profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Profiles"
        ],
        "summary": "Delete card",
        "description": "Delete a card on the profile.",
        "operationId": "deleteCard",
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "The profile id. (aka CustomerCode)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "description": "The card id.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Business Rule Violation or Decline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid Request Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recurring/{accountId}": {
      "get": {
        "tags": [
          "Recurring Payment Account"
        ],
        "summary": "Get account",
        "description": "Get a Recurring Payment Profile using account ID, also known as ID.",
        "operationId": "getAccount",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account id.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringPaymentErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringPaymentErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Invalid Account ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringPaymentErrorResponse"
                }
              }
            }
          },
          "415": {
            "$ref": "#/response/RecurringPaymentInvalidContentType"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringPaymentErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/scripts/tokenization/tokens": {
      "post": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Tokenize credit card",
        "description": "NOTE that the full URL for this API call is https://api.na.bambora.com/scripts/tokenization/tokens. Turn a credit card into a token using this service. This helps lessen your PCI scope by not passing the credit card information to your server. Instead you turn the card number into a token in the client app, then send the token to the server. When you send the token to Bambora to make a payment, Bambora then looks up the card number from that token and makes the payment. Tokens can also be used to create payment profiles.",
        "operationId": "tokenizeCard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Token response object. One will always be returned even if the data or card is invalid. The validity of the card is not checked with this API call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "token_request"
      }
    }
  },
  "components": {
    "schemas": {
      "PaymentRequest": {
        "required": [
          "amount",
          "payment_method"
        ],
        "type": "object",
        "properties": {
          "order_number": {
            "maxLength": 30,
            "type": "string",
            "description": "A unique order number."
          },
          "amount": {
            "type": "number",
            "description": "A decimal value in dollars. Uses up to two decimal places. Max value is account specific. Default max value is 1000.",
            "format": "double"
          },
          "payment_method": {
            "type": "string",
            "description": "The desired method of payment.",
            "enum": [
              "card",
              "token",
              "payment_profile",
              "cash",
              "cheque",
              "apple_pay",
              "google_pay",
              "3d_secure_token",
              "processor_token"
            ]
          },
          "ship_same_as_ord": {
            "type": "boolean",
            "description": "If true, the provided Billing Address information will also be used as the Shipping Address information.",
            "default": false
          },
          "device_channel": {
            "maxLength": 2,
            "type": "string",
            "description": "Type of channel used to initiate the transaction. 02 = Browser, 03 = 3DS Requestor.",
            "enum": [
              "02",
              "03"
            ]
          },
          "language": {
            "maxLength": 3,
            "type": "string",
            "description": "characters"
          },
          "customer_ip": {
            "maxLength": 30,
            "type": "string",
            "description": "IP Address of the api consumer. Required if calculating risk score."
          },
          "term_url": {
            "maxLength": 256,
            "type": "string",
            "description": "Callback URL used with 3D Secure payment processing."
          },
          "comments": {
            "maxLength": 256,
            "type": "string",
            "description": "alphanumeric"
          },
          "billing": {
            "$ref": "#/components/schemas/RequestBillingAddress"
          },
          "shipping": {
            "$ref": "#/components/schemas/Address"
          },
          "custom": {
            "$ref": "#/components/schemas/Custom"
          },
          "card": {
            "$ref": "#/components/schemas/Card"
          },
          "apple_pay": {
            "$ref": "#/components/schemas/ApplePay"
          },
          "google_pay": {
            "$ref": "#/components/schemas/GooglePay"
          },
          "payment_profile": {
            "$ref": "#/components/schemas/ProfilePurchase"
          },
          "token": {
            "$ref": "#/components/schemas/TokenPurchase"
          },
          "3d_secure": {
            "$ref": "#/components/schemas/3d_secure_token"
          },
          "recurring_payment": {
            "type": "boolean",
            "description": "A recurring transaction is a transaction where a cardholder had provided permission to a merchant to\nperiodically charge his/her account number for recurring goods or services. The recurring payment\nindicator may be set for credit card based pre-auth, capture and purchase transactions.\n"
          },
          "level2": {
            "$ref": "#/components/schemas/Level2"
          },
          "card_on_file": {
            "$ref": "#/components/schemas/CardOnFile"
          },
          "processor_token": {
            "$ref": "#/components/schemas/ProcessorTokenRequest"
          }
        }
      },
      "Card": {
        "required": [
          "expiry_month",
          "expiry_year",
          "name",
          "number"
        ],
        "type": "object",
        "properties": {
          "number": {
            "maxLength": 20,
            "type": "string",
            "description": "Credit card number (PAN).",
            "default": "5100000010001004"
          },
          "name": {
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "description": "Card holder name."
          },
          "expiry_month": {
            "maxLength": 2,
            "type": "string",
            "description": "eg. 02 for February.",
            "default": "02"
          },
          "expiry_year": {
            "maxLength": 2,
            "type": "string",
            "description": "eg. 15 for 2015.",
            "default": "18"
          },
          "cvd": {
            "maxLength": 4,
            "minLength": 3,
            "type": "string",
            "description": "Security code on the back of the credit card. This can be set to mandatory in the back office.",
            "default": "123"
          },
          "3d_secure": {
            "$ref": "#/components/schemas/3DSecure"
          },
          "visa_checkout_call_id": {
            "maxLength": 20,
            "type": "string",
            "description": "The Visa Checkout payment request ID."
          },
          "complete": {
            "type": "boolean",
            "description": "set to false for Pre-Authorize, and true to complete a payment",
            "default": true
          }
        }
      },
      "ApplePay": {
        "required": [
          "apple_pay_merchant_id",
          "payment_token"
        ],
        "type": "object",
        "properties": {
          "passthrough": {
            "type": "boolean",
            "description": "False or null indicates a regular (Worldline-decrypted) Apple Pay transaction. True indicates a passthrough (externally-decrypted) transaction."
          },
          "apple_pay_merchant_id": {
            "type": "string",
            "description": "The Apple Pay merchant ID. Not required for passthrough transactions."
          },
          "payment_token": {
            "type": "string",
            "description": "The encrypted payment token provided by Apple Pay, which you then base64-encode. For passthrough, decrypt the token before encoding it."
          },
          "complete": {
            "type": "boolean",
            "description": "set to false for Pre-Authorize, and true to complete a payment",
            "default": true
          }
        },
        "description": "Apple Pay Only - required when attempting to process apple_pay transactions.\nNote that the 'card' object returned in a successful response will have a 'last_four' property value that is based on the source Apple Pay Wallet and its Device Account Number.\n"
      },
      "GooglePay": {
        "required": [
          "transaction_payload"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The cardholder name."
          },
          "3d_secure": {
            "$ref": "#/components/schemas/3DSecure"
          },
          "transaction_payload": {
            "type": "string",
            "description": "Payload that contains the encrypted Google payment token (required to complete a transaction), along with other security information."
          },
          "complete": {
            "type": "boolean",
            "description": "set to false for Pre-Authorize, and true to complete a payment",
            "default": true
          }
        },
        "description": "Google Pay Only - required when attempting to process google_pay transactions.\n"
      },
      "ProcessorTokenRequest": {
        "required": [
          "expiry_month",
          "expiry_year",
          "payment_token"
        ],
        "type": "object",
        "properties": {
          "payment_token": {
            "maxLength": 19,
            "minLength": 15,
            "type": "string",
            "description": "The payment token you retrieved from the service."
          },
          "expiry_month": {
            "maxLength": 2,
            "type": "string",
            "description": "eg. 02 for February."
          },
          "expiry_year": {
            "maxLength": 2,
            "type": "string",
            "description": "eg. 15 for 2015."
          }
        },
        "description": "Payment with Processor Token. The payment_method must be 'processor_token'."
      },
      "ProcessorTokenResponse": {
        "type": "object",
        "properties": {
          "payment_token": {
            "maxLength": 19,
            "minLength": 15,
            "type": "string",
            "description": "The payment token."
          },
          "reporting_token": {
            "maxLength": 23,
            "type": "string",
            "description": "Token used for reporting."
          },
          "status": {
            "type": "string",
            "description": "Status of the token.",
            "enum": [
              "success",
              "fail"
            ]
          },
          "source": {
            "maxLength": 12,
            "minLength": 4,
            "type": "string",
            "description": "This will contain the name of the processor that is hosting the tokenization feature."
          },
          "source_data": {
            "$ref": "#/components/schemas/SourceData"
          }
        },
        "description": "Token information generated from card request, or what was used to submit payment."
      },
      "ProfilePurchase": {
        "required": [
          "card_id",
          "customer_code"
        ],
        "type": "object",
        "properties": {
          "complete": {
            "type": "boolean",
            "description": "Set to false for Pre-Authorize, and true to complete a payment",
            "default": true
          },
          "customer_code": {
            "maxLength": 32,
            "type": "string",
            "description": "The payment profile ID."
          },
          "card_id": {
            "type": "integer",
            "description": "Which credit card to use. Starts at 1 for the first card. You must configure how many cards can be stored by visiting the profile options in the back office."
          }
        },
        "description": "Payment with a Payment Profile. The payment_method must be 'payment_profile'"
      },
      "TokenPurchase": {
        "required": [
          "code",
          "name"
        ],
        "type": "object",
        "properties": {
          "complete": {
            "type": "boolean",
            "description": "Set to false for Pre-Authorize, and true to complete a payment",
            "default": false
          },
          "code": {
            "maxLength": 40,
            "type": "string",
            "description": "the payment token you retrieved from the service."
          },
          "name": {
            "maxLength": 64,
            "minLength": 4,
            "type": "string",
            "description": "Card holder name."
          },
          "3d_secure": {
            "$ref": "#/components/schemas/3DSecure"
          },
          "visa_checkout_call_id": {
            "maxLength": 20,
            "type": "string",
            "description": "The Visa Checkout payment request ID."
          }
        },
        "description": "Payment with a single-use token. The payment_method must be 'token'"
      },
      "3d_secure_token": {
        "required": [
          "threeDS_session_data"
        ],
        "type": "object",
        "properties": {
          "complete": {
            "type": "boolean",
            "description": "Set to false for Pre-Authorize, and true to complete a payment",
            "default": false
          },
          "threeDS_session_data": {
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "description": ""
          },
          "auth_required": {
            "type": "boolean",
            "description": "If set to true the transaction will not continue processing unless 3DS authentication is successful."
          },
          "disable_method_url": {
            "type": "boolean",
            "description": "Indicates whether or not BIC Method URL has been disabled for the current transaction."
          },
          "threeDS_server_transaction_id": {
            "type": "string",
            "description": "The threeDS\\_server\\_transaction\\_id returned by the call to the PrepInfo endpoint."
          }
        },
        "description": "Payment with a 3D Secure Session Data token.  Reference a previously processed 3D Secure transaction processed through the 3D Secure 2.0 API.  This will apply the associated card number, card expiry, and 3D Secure results to your payment request. The payment_method must be '3d_secure_token'"
      },
      "RequestBillingAddress": {
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 64,
            "type": "string",
            "description": "Name of the person/business"
          },
          "address_line1": {
            "maxLength": 50,
            "type": "string",
            "description": "Street address. Impacts risk score."
          },
          "address_line2": {
            "maxLength": 64,
            "type": "string",
            "description": "Additional address information(eg; suite number, apartment number, etc)"
          },
          "city": {
            "maxLength": 32,
            "type": "string",
            "description": "The city. Impacts risk score."
          },
          "province": {
            "type": "string",
            "description": "2 characters. Set to -- for any countries except for US and Canada. Impacts risk score."
          },
          "country": {
            "maxLength": 2,
            "type": "string",
            "description": "Valid ISO 3166-1 country code. Impacts risk score.",
            "enum": [
              "AD",
              "AE",
              "AF",
              "AG",
              "AI",
              "AL",
              "AM",
              "AO",
              "AQ",
              "AR",
              "AS",
              "AT",
              "AU",
              "AW",
              "AX",
              "AZ",
              "BA",
              "BB",
              "BD",
              "BE",
              "BF",
              "BG",
              "BH",
              "BI",
              "BJ",
              "BL",
              "BM",
              "BN",
              "BO",
              "BQ",
              "BR",
              "BS",
              "BT",
              "BV",
              "BW",
              "BY",
              "BZ",
              "CA",
              "CC",
              "CD",
              "CF",
              "CG",
              "CH",
              "CI",
              "CK",
              "CL",
              "CM",
              "CN",
              "CO",
              "CR",
              "CU",
              "CV",
              "CW",
              "CX",
              "CY",
              "CZ",
              "DE",
              "DJ",
              "DK",
              "DM",
              "DO",
              "DZ",
              "EC",
              "EE",
              "EG",
              "EH",
              "ER",
              "ES",
              "ET",
              "FI",
              "FJ",
              "FK",
              "FM",
              "FO",
              "FR",
              "GA",
              "GB",
              "GD",
              "GE",
              "GF",
              "GG",
              "GH",
              "GI",
              "GL",
              "GM",
              "GN",
              "GP",
              "GQ",
              "GR",
              "GS",
              "GT",
              "GU",
              "GW",
              "GY",
              "HK",
              "HM",
              "HN",
              "HR",
              "HT",
              "HU",
              "ID",
              "IE",
              "IL",
              "IM",
              "IN",
              "IO",
              "IQ",
              "IR",
              "IS",
              "IT",
              "JE",
              "JM",
              "JO",
              "JP",
              "KE",
              "KG",
              "KH",
              "KI",
              "KM",
              "KN",
              "KP",
              "KR",
              "KW",
              "KY",
              "KZ",
              "LA",
              "LB",
              "LC",
              "LI",
              "LK",
              "LR",
              "LS",
              "LT",
              "LU",
              "LV",
              "LY",
              "MA",
              "MC",
              "MD",
              "ME",
              "MF",
              "MG",
              "MH",
              "MK",
              "ML",
              "MM",
              "MN",
              "MO",
              "MP",
              "MQ",
              "MR",
              "MS",
              "MT",
              "MU",
              "MV",
              "MW",
              "MX",
              "MY",
              "MZ",
              "NA",
              "NC",
              "NE",
              "NF",
              "NG",
              "NI",
              "NL",
              "NO",
              "NP",
              "NR",
              "NU",
              "NZ",
              "OM",
              "PA",
              "PE",
              "PF",
              "PG",
              "PH",
              "PK",
              "PL",
              "PM",
              "PN",
              "PR",
              "PS",
              "PT",
              "PW",
              "PY",
              "QA",
              "RE",
              "RO",
              "RS",
              "RU",
              "RW",
              "SA",
              "SB",
              "SC",
              "SD",
              "SE",
              "SG",
              "SH",
              "SI",
              "SJ",
              "SK",
              "SL",
              "SM",
              "SN",
              "SO",
              "SR",
              "SS",
              "ST",
              "SV",
              "SX",
              "SY",
              "SZ",
              "TC",
              "TD",
              "TF",
              "TG",
              "TH",
              "TJ",
              "TK",
              "TL",
              "TM",
              "TN",
              "TO",
              "TR",
              "TT",
              "TV",
              "TW",
              "TZ",
              "UA",
              "UG",
              "UM",
              "US",
              "UY",
              "UZ",
              "VA",
              "VC",
              "VE",
              "VG",
              "VI",
              "VN",
              "VU",
              "WF",
              "WS",
              "YE",
              "YT",
              "ZA",
              "ZM",
              "ZW"
            ]
          },
          "postal_code": {
            "maxLength": 16,
            "type": "string",
            "description": "Postal/Zip code. Impacts risk score."
          },
          "phone_number": {
            "pattern": "^\\d{1,20}$",
            "type": "string",
            "description": "Phone number"
          },
          "phone_country_code": {
            "pattern": "^\\d{1,3}$",
            "type": "string",
            "description": "The country code of the phone number provided."
          },
          "phone_type": {
            "maxLength": 1,
            "type": "string",
            "description": "The phone type of the phone number provided - m (Mobile), h (Home) or w (Work).",
            "enum": [
              "m",
              "h",
              "w"
            ]
          },
          "email_address": {
            "maxLength": 64,
            "type": "string",
            "description": "Email Address. Impacts risk score."
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 64,
            "type": "string",
            "description": "Name of the person/business"
          },
          "address_line1": {
            "maxLength": 64,
            "type": "string",
            "description": "Street address"
          },
          "address_line2": {
            "maxLength": 64,
            "type": "string",
            "description": "Additional address information(eg; suite number, apartment number, etc)"
          },
          "city": {
            "maxLength": 32,
            "type": "string",
            "description": "The city"
          },
          "province": {
            "type": "string",
            "description": "characters (2)"
          },
          "country": {
            "maxLength": 2,
            "type": "string",
            "description": "Valid ISO 3166-1 country code",
            "enum": [
              "AD",
              "AE",
              "AF",
              "AG",
              "AI",
              "AL",
              "AM",
              "AO",
              "AQ",
              "AR",
              "AS",
              "AT",
              "AU",
              "AW",
              "AX",
              "AZ",
              "BA",
              "BB",
              "BD",
              "BE",
              "BF",
              "BG",
              "BH",
              "BI",
              "BJ",
              "BL",
              "BM",
              "BN",
              "BO",
              "BQ",
              "BR",
              "BS",
              "BT",
              "BV",
              "BW",
              "BY",
              "BZ",
              "CA",
              "CC",
              "CD",
              "CF",
              "CG",
              "CH",
              "CI",
              "CK",
              "CL",
              "CM",
              "CN",
              "CO",
              "CR",
              "CU",
              "CV",
              "CW",
              "CX",
              "CY",
              "CZ",
              "DE",
              "DJ",
              "DK",
              "DM",
              "DO",
              "DZ",
              "EC",
              "EE",
              "EG",
              "EH",
              "ER",
              "ES",
              "ET",
              "FI",
              "FJ",
              "FK",
              "FM",
              "FO",
              "FR",
              "GA",
              "GB",
              "GD",
              "GE",
              "GF",
              "GG",
              "GH",
              "GI",
              "GL",
              "GM",
              "GN",
              "GP",
              "GQ",
              "GR",
              "GS",
              "GT",
              "GU",
              "GW",
              "GY",
              "HK",
              "HM",
              "HN",
              "HR",
              "HT",
              "HU",
              "ID",
              "IE",
              "IL",
              "IM",
              "IN",
              "IO",
              "IQ",
              "IR",
              "IS",
              "IT",
              "JE",
              "JM",
              "JO",
              "JP",
              "KE",
              "KG",
              "KH",
              "KI",
              "KM",
              "KN",
              "KP",
              "KR",
              "KW",
              "KY",
              "KZ",
              "LA",
              "LB",
              "LC",
              "LI",
              "LK",
              "LR",
              "LS",
              "LT",
              "LU",
              "LV",
              "LY",
              "MA",
              "MC",
              "MD",
              "ME",
              "MF",
              "MG",
              "MH",
              "MK",
              "ML",
              "MM",
              "MN",
              "MO",
              "MP",
              "MQ",
              "MR",
              "MS",
              "MT",
              "MU",
              "MV",
              "MW",
              "MX",
              "MY",
              "MZ",
              "NA",
              "NC",
              "NE",
              "NF",
              "NG",
              "NI",
              "NL",
              "NO",
              "NP",
              "NR",
              "NU",
              "NZ",
              "OM",
              "PA",
              "PE",
              "PF",
              "PG",
              "PH",
              "PK",
              "PL",
              "PM",
              "PN",
              "PR",
              "PS",
              "PT",
              "PW",
              "PY",
              "QA",
              "RE",
              "RO",
              "RS",
              "RU",
              "RW",
              "SA",
              "SB",
              "SC",
              "SD",
              "SE",
              "SG",
              "SH",
              "SI",
              "SJ",
              "SK",
              "SL",
              "SM",
              "SN",
              "SO",
              "SR",
              "SS",
              "ST",
              "SV",
              "SX",
              "SY",
              "SZ",
              "TC",
              "TD",
              "TF",
              "TG",
              "TH",
              "TJ",
              "TK",
              "TL",
              "TM",
              "TN",
              "TO",
              "TR",
              "TT",
              "TV",
              "TW",
              "TZ",
              "UA",
              "UG",
              "UM",
              "US",
              "UY",
              "UZ",
              "VA",
              "VC",
              "VE",
              "VG",
              "VI",
              "VN",
              "VU",
              "WF",
              "WS",
              "YE",
              "YT",
              "ZA",
              "ZM",
              "ZW"
            ]
          },
          "postal_code": {
            "maxLength": 16,
            "type": "string",
            "description": "Postal/Zip code"
          },
          "phone_number": {
            "pattern": "^\\d{1,20}$",
            "type": "string",
            "description": "Phone number"
          },
          "phone_country_code": {
            "maxLength": 3,
            "type": "string",
            "description": "The country code of the phone number provided."
          },
          "email_address": {
            "maxLength": 64,
            "type": "string",
            "description": "Email Address"
          }
        }
      },
      "BillingAddress": {
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 64,
            "type": "string",
            "description": "Name of the person/business"
          },
          "address_line1": {
            "maxLength": 64,
            "type": "string",
            "description": "Street address"
          },
          "address_line2": {
            "maxLength": 64,
            "type": "string",
            "description": "Additional address information(eg; suite number, apartment number, etc)"
          },
          "city": {
            "maxLength": 32,
            "type": "string",
            "description": "The city"
          },
          "province": {
            "type": "string",
            "description": "characters (2)"
          },
          "country": {
            "maxLength": 2,
            "type": "string",
            "description": "Valid ISO 3166-1 country code",
            "enum": [
              "AD",
              "AE",
              "AF",
              "AG",
              "AI",
              "AL",
              "AM",
              "AO",
              "AQ",
              "AR",
              "AS",
              "AT",
              "AU",
              "AW",
              "AX",
              "AZ",
              "BA",
              "BB",
              "BD",
              "BE",
              "BF",
              "BG",
              "BH",
              "BI",
              "BJ",
              "BL",
              "BM",
              "BN",
              "BO",
              "BQ",
              "BR",
              "BS",
              "BT",
              "BV",
              "BW",
              "BY",
              "BZ",
              "CA",
              "CC",
              "CD",
              "CF",
              "CG",
              "CH",
              "CI",
              "CK",
              "CL",
              "CM",
              "CN",
              "CO",
              "CR",
              "CU",
              "CV",
              "CW",
              "CX",
              "CY",
              "CZ",
              "DE",
              "DJ",
              "DK",
              "DM",
              "DO",
              "DZ",
              "EC",
              "EE",
              "EG",
              "EH",
              "ER",
              "ES",
              "ET",
              "FI",
              "FJ",
              "FK",
              "FM",
              "FO",
              "FR",
              "GA",
              "GB",
              "GD",
              "GE",
              "GF",
              "GG",
              "GH",
              "GI",
              "GL",
              "GM",
              "GN",
              "GP",
              "GQ",
              "GR",
              "GS",
              "GT",
              "GU",
              "GW",
              "GY",
              "HK",
              "HM",
              "HN",
              "HR",
              "HT",
              "HU",
              "ID",
              "IE",
              "IL",
              "IM",
              "IN",
              "IO",
              "IQ",
              "IR",
              "IS",
              "IT",
              "JE",
              "JM",
              "JO",
              "JP",
              "KE",
              "KG",
              "KH",
              "KI",
              "KM",
              "KN",
              "KP",
              "KR",
              "KW",
              "KY",
              "KZ",
              "LA",
              "LB",
              "LC",
              "LI",
              "LK",
              "LR",
              "LS",
              "LT",
              "LU",
              "LV",
              "LY",
              "MA",
              "MC",
              "MD",
              "ME",
              "MF",
              "MG",
              "MH",
              "MK",
              "ML",
              "MM",
              "MN",
              "MO",
              "MP",
              "MQ",
              "MR",
              "MS",
              "MT",
              "MU",
              "MV",
              "MW",
              "MX",
              "MY",
              "MZ",
              "NA",
              "NC",
              "NE",
              "NF",
              "NG",
              "NI",
              "NL",
              "NO",
              "NP",
              "NR",
              "NU",
              "NZ",
              "OM",
              "PA",
              "PE",
              "PF",
              "PG",
              "PH",
              "PK",
              "PL",
              "PM",
              "PN",
              "PR",
              "PS",
              "PT",
              "PW",
              "PY",
              "QA",
              "RE",
              "RO",
              "RS",
              "RU",
              "RW",
              "SA",
              "SB",
              "SC",
              "SD",
              "SE",
              "SG",
              "SH",
              "SI",
              "SJ",
              "SK",
              "SL",
              "SM",
              "SN",
              "SO",
              "SR",
              "SS",
              "ST",
              "SV",
              "SX",
              "SY",
              "SZ",
              "TC",
              "TD",
              "TF",
              "TG",
              "TH",
              "TJ",
              "TK",
              "TL",
              "TM",
              "TN",
              "TO",
              "TR",
              "TT",
              "TV",
              "TW",
              "TZ",
              "UA",
              "UG",
              "UM",
              "US",
              "UY",
              "UZ",
              "VA",
              "VC",
              "VE",
              "VG",
              "VI",
              "VN",
              "VU",
              "WF",
              "WS",
              "YE",
              "YT",
              "ZA",
              "ZM",
              "ZW"
            ]
          },
          "postal_code": {
            "maxLength": 16,
            "type": "string",
            "description": "Postal/Zip code"
          },
          "phone_number": {
            "pattern": "^\\d{1,20}$",
            "type": "string",
            "description": "Phone number"
          },
          "phone_country_code": {
            "maxLength": 3,
            "type": "string",
            "description": "The country code of the phone number provided."
          },
          "phone_type": {
            "maxLength": 1,
            "type": "string",
            "description": "The phone type of the phone number provided - m (Mobile), h (Home) or w (Work).",
            "enum": [
              "m",
              "h",
              "w"
            ]
          },
          "email_address": {
            "maxLength": 64,
            "type": "string",
            "description": "Email Address"
          }
        }
      },
      "Custom": {
        "type": "object",
        "properties": {
          "ref1": {
            "maxLength": 256,
            "type": "string",
            "description": "custom reference field 1"
          },
          "ref2": {
            "maxLength": 256,
            "type": "string",
            "description": "custom reference field 2"
          },
          "ref3": {
            "maxLength": 256,
            "type": "string",
            "description": "custom reference field 3"
          },
          "ref4": {
            "maxLength": 256,
            "type": "string",
            "description": "custom reference field 4"
          },
          "ref5": {
            "maxLength": 256,
            "type": "string",
            "description": "custom reference field 5"
          }
        }
      },
      "PaymentResponse": {
[...]
