{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://ws.api.video"
    }
  ],
  "info": {
    "description": "api.video is an API that encodes on the go to facilitate immediate playback, enhancing viewer streaming experiences across multiple devices and platforms. You can stream live or on-demand online videos within minutes.",
    "title": "api.video",
    "version": "1",
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.datocms-assets.com_26885_1588249863-favicon.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://docs.api.video/openapi/5f0d4679158b8d006ea6f068",
        "version": "3.0"
      }
    ],
    "x-providerName": "api.video"
  },
  "paths": {
    "/account": {
      "get": {
        "deprecated": true,
        "description": "Deprecated. Authenticate and get a token, then you can use the bearer token here to retrieve details about your account.",
        "operationId": "GET_account",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "environment": "production",
                      "features": [
                        "app.dynamic_metadata",
                        "app.event_log",
                        "player.white_label",
                        "stats.player_events",
                        "transcode.mp4_support"
                      ],
                      "quota": {
                        "quotaRemaining": 54,
                        "quotaTotal": 60,
                        "quotaUsed": 6
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/account"
                }
              }
            },
            "description": "Success"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "name": "",
                      "status": 404,
                      "title": "The requested resource was not found.",
                      "type": "https://docs.api.video/docs/resourcenot_found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/not-found"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Show account",
        "tags": [
          "Account"
        ],
        "x-client-action": "get"
      }
    },
    "/analytics/live-streams/{liveStreamId}": {
      "get": {
        "operationId": "GET_analytics-live-streams-liveStreamId",
        "parameters": [
          {
            "description": "The unique identifier for the live stream you want to retrieve analytics for.",
            "example": "vi4k0jvEUuaTdRAEjQ4Jfrgz",
            "explode": false,
            "in": "path",
            "name": "liveStreamId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          },
          {
            "description": "Period must have one of the following formats: \n- For a day : \"2018-01-01\",\n- For a week: \"2018-W01\", \n- For a month: \"2018-01\"\n- For a year: \"2018\"\nFor a range period: \n-  Date range: \"2018-01-01/2018-01-15\"\n",
            "example": 