{
  "openapi": "3.0.3",
  "info": {
    "title": "Payoneer Payouts API",
    "version": "v4",
    "description": "Payoneer's Payouts API for managing mass payouts to payees worldwide.",
    "x-jentic-source-url": "https://payouts.developer.payoneer.com/docs"
  },
  "servers": [
    {
      "url": "https://api.payoneer.com/v4"
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "operationId": "getAccessToken",
        "summary": "Get Access Token",
        "description": "Obtain an OAuth 2.0 access token using client credentials.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ],
                    "description": "The OAuth 2.0 grant type."
                  },
                  "scope": {
                    "type": "string",
                    "description": "The requested scope for the access token."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid client credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/programs/{program_id}": {
      "get": {
        "operationId": "getProgram",
        "summary": "Get Program",
        "description": "Retrieve details for a specific program.",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "responses": {
          "200": {
            "description": "Program details.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/Program"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Program not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/programs/{program_id}/balance": {
      "get": {
        "operationId": "getProgramBalance",
        "summary": "Get Program Balance",
        "description": "Retrieve the balance for a specific program.",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "responses": {
          "200": {
            "description": "Program balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/ProgramBalance"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Program not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/programs/{program_id}/payees": {
      "post": {
        "operationId": "createPayeeRegistrationLink",
        "summary": "Create Payee Registration Link",
        "description": "Create a registration link for a new payee.",
        "tags": [
          "Payees"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePayeeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payee registration link created.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/PayeeRegistrationResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listPayees",
        "summary": "List Payees",
        "description": "Retrieve a list of payees for a program.",
        "tags": [
          "Payees"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          },
          {
            "$ref": "#/components/parameters/StartDate"
          },
          {
            "$ref": "#/components/parameters/EndDate"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by payee status.",
            "schema": {
              "$ref": "#/components/schemas/PayeeStatus"
            }
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of payees.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/PayeeListResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/programs/{program_id}/payees/{payee_id}": {
      "get": {
        "operationId": "getPayee",
        "summary": "Get Payee",
        "description": "Retrieve details for a specific payee.",
        "tags": [
          "Payees"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          },
          {
            "$ref": "#/components/parameters/PayeeId"
          }
        ],
        "responses": {
          "200": {
            "description": "Payee details.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/Payee"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Payee not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/programs/{program_id}/payees/{payee_id}/status": {
      "get": {
        "operationId": "getPayeeStatus",
        "summary": "Get Payee Status",
        "description": "Retrieve the status of a specific payee.",
        "tags": [
          "Payees"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          },
          {
            "$ref": "#/components/parameters/PayeeId"
          }
        ],
        "responses": {
          "200": {
            "description": "Payee status.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/PayeeStatusResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Payee not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/programs/{program_id}/payouts": {
      "post": {
        "operationId": "createPayout",
        "summary": "Create Payout",
        "description": "Create a new payout to a payee.",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePayoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout created.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/Payout"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listPayouts",
        "summary": "List Payouts",
        "description": "Retrieve a list of payouts for a program.",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          },
          {
            "$ref": "#/components/parameters/StartDate"
          },
          {
            "$ref": "#/components/parameters/EndDate"
          },
          {
            "name": "payee_id",
            "in": "query",
            "description": "Filter by payee ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by payout status.",
            "schema": {
              "$ref": "#/components/schemas/PayoutStatus"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "Filter by group ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of payouts.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/PayoutListResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/programs/{program_id}/payouts/{payout_id}": {
      "get": {
        "operationId": "getPayout",
        "summary": "Get Payout",
        "description": "Retrieve details for a specific payout.",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          },
          {
            "name": "payout_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the payout.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout details.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/Payout"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Payout not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/programs/{program_id}/payouts/batch": {
      "post": {
        "operationId": "createBatchPayout",
        "summary": "Create Batch Payout",
        "description": "Create multiple payouts in a single batch request.",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchPayoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch payout created.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/BatchPayoutResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/programs/{program_id}/reports/payouts": {
      "get": {
        "operationId": "getPayoutsReport",
        "summary": "Payouts Report",
        "description": "Generate a report of payouts for a program.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          },
          {
            "$ref": "#/components/parameters/StartDate"
          },
          {
            "$ref": "#/components/parameters/EndDate"
          },
          {
            "name": "format",
            "in": "query",
            "description": "The report output format.",
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report data.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "description": "Report data containing payout records.",
                          "properties": {
                            "payouts": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Payout"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "CSV formatted report data."
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.payoneer.com/v4/oauth2/token",
            "scopes": {}
          }
        }
      }
    },
    "parameters": {
      "ProgramId": {
        "name": "program_id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the program.",
        "schema": {
          "type": "string"
        }
      },
      "PayeeId": {
        "name": "payee_id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the payee.",
        "schema": {
          "type": "string"
        }
      },
      "StartDate": {
        "name": "start_date",
        "in": "query",
        "description": "Filter results from this date (ISO 8601 format).",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "EndDate": {
        "name": "end_date",
        "in": "query",
        "description": "Filter results up to this date (ISO 8601 format).",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "description": "Number of records to skip for pagination.",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of records to return.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 50
        }
      }
    },
    "schemas": {
      "BaseResponse": {
        "type": "object",
        "properties": {
          "audit_id": {
            "type": "string",
            "description": "Unique identifier for the API call, used for auditing and troubleshooting."
          },
          "code": {
            "type": "integer",
            "description": "Response code. 0 indicates success."
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the response."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "audit_id": {
            "type": "string",
            "description": "Unique identifier for the API call."
          },
          "code": {
            "type": "integer",
            "description": "Error code."
          },
          "description": {
            "type": "string",
            "description": "Human-readable error description."
          },
          "errors": {
            "type": "array",
            "description": "Detailed list of errors.",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "Specific error code."
                },
                "description": {
                  "type": "string",
                  "description": "Error detail message."
                },
                "field": {
                  "type": "string",
                  "description": "The field that caused the error."
                }
              }
            }
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "The OAuth 2.0 access token."
          },
          "token_type": {
            "type": "string",
            "description": "The type of the token (e.g., Bearer)."
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds."
          },
          "scope": {
            "type": "string",
            "description": "The scope granted for the token."
          }
        }
      },
      "Program": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the program."
          },
          "name": {
            "type": "string",
            "description": "The name of the program."
          },
          "currency": {
            "type": "string",
            "description": "The default currency of the program (ISO 4217)."
          },
          "status": {
            "type": "string",
            "description": "The current status of the program."
          }
        }
      },
      "MoneyAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "description": "The monetary amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency code (ISO 4217)."
          }
        }
      },
      "ProgramBalance": {
        "type": "object",
        "properties": {
          "balance": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "pending": {
            "$ref": "#/components/schemas/MoneyAmount"
          }
        }
      },
      "CreatePayeeRequest": {
        "type": "object",
        "required": [
          "payee_id"
        ],
        "properties": {
          "payee_id": {
            "type": "string",
            "description": "A unique identifier for the payee in your system."
          },
          "redirect_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect the payee after registration."
          },
          "redirect_time": {
            "type": "integer",
            "description": "Time in seconds before redirecting the payee."
          }
        }
      },
      "PayeeRegistrationResult": {
        "type": "object",
        "properties": {
          "registration_link": {
            "type": "string",
            "format": "uri",
            "description": "The URL for the payee to complete registration."
          },
          "payee_id": {
            "type": "string",
            "description": "The unique identifier of the payee."
          }
        }
      },
      "PayeeStatus": {
        "type": "string",
        "enum": [
          "ACTIVE",
          "PENDING",
          "DECLINED",
          "NOT_VERIFIED"
        ],
        "description": "The status of a payee."
      },
      "Payee": {
        "type": "object",
        "properties": {
          "payee_id": {
            "type": "string",
            "description": "The unique identifier of the payee."
          },
          "status": {
            "$ref": "#/components/schemas/PayeeStatus"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The payee's email address."
          },
          "first_name": {
            "type": "string",
            "description": "The payee's first name."
          },
          "last_name": {
            "type": "string",
            "description": "The payee's last name."
          },
          "company_name": {
            "type": "string",
            "description": "The payee's company name."
          },
          "registration_date": {
            "type": "string",
            "format": "date-time",
            "description": "The date the payee registered."
          },
          "payout_methods": {
            "type": "array",
            "description": "Available payout methods for this payee.",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The payout method type."
                },
                "currency": {
                  "type": "string",
                  "description": "The currency for this payout method."
                }
              }
            }
          }
        }
      },
      "PayeeStatusResult": {
        "type": "object",
        "properties": {
          "payee_id": {
            "type": "string",
            "description": "The unique identifier of the payee."
          },
          "status": {
            "$ref": "#/components/schemas/PayeeStatus"
          },
          "status_reason": {
            "type": "string",
            "description": "The reason for the current status."
          }
        }
      },
      "PayeeListResult": {
        "type": "object",
        "properties": {
          "payees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payee"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of payees matching the query."
          },
          "offset": {
            "type": "integer",
            "description": "Current offset."
          },
          "limit": {
            "type": "integer",
            "description": "Current page size limit."
          }
        }
      },
      "PayoutStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "FUNDED",
          "CANCELLED",
          "RETURNED"
        ],
        "description": "The status of a payout."
      },
      "CreatePayoutRequest": {
        "type": "object",
        "required": [
          "payee_id",
          "amount",
          "currency"
        ],
        "properties": {
          "payee_id": {
            "type": "string",
            "description": "The unique identifier of the payee."
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "The payout amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency code (ISO 4217)."
          },
          "description": {
            "type": "string",
            "description": "A description for the payout."
          },
          "payment_id": {
            "type": "string",
            "description": "A unique payment ID for idempotency."
          },
          "group_id": {
            "type": "string",
            "description": "An optional group identifier to associate related payouts."
          }
        }
      },
      "Payout": {
        "type": "object",
        "properties": {
          "payout_id": {
            "type": "string",
            "description": "The unique Payoneer-assigned payout identifier."
          },
          "payment_id": {
            "type": "string",
            "description": "The client-provided payment identifier."
          },
          "payee_id": {
            "type": "string",
            "description": "The unique identifier of the payee."
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "The payout amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency code (ISO 4217)."
          },
          "status": {
            "$ref": "#/components/schemas/PayoutStatus"
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "description": "The date the payout was created."
          }
        }
      },
      "PayoutListResult": {
        "type": "object",
        "properties": {
          "payouts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payout"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of payouts matching the query."
          },
          "offset": {
            "type": "integer",
            "description": "Current offset."
          },
          "limit": {
            "type": "integer",
            "description": "Current page size limit."
          }
        }
      },
      "CreateBatchPayoutRequest": {
        "type": "object",
        "required": [
          "payouts"
        ],
        "properties": {
          "payouts": {
            "type": "array",
            "description": "Array of payout requests.",
            "items": {
              "type": "object",
              "required": [
                "payee_id",
                "amount",
                "currency"
              ],
              "properties": {
                "payee_id": {
                  "type": "string",
                  "description": "The unique identifier of the payee."
                },
                "amount": {
                  "type": "number",
                  "format": "double",
                  "description": "The payout amount."
                },
                "currency": {
                  "type": "string",
                  "description": "The currency code (ISO 4217)."
                },
                "description": {
                  "type": "string",
                  "description": "A description for the payout."
                },
                "payment_id": {
                  "type": "string",
                  "description": "A unique payment ID for idempotency."
                }
              }
            }
          }
        }
      },
      "BatchPayoutResult": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string",
            "description": "The unique identifier for the batch."
          },
          "payouts": {
            "type": "array",
            "description": "Array of created payouts.",
            "items": {
              "$ref": "#/components/schemas/Payout"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth 2.0 token operations"
    },
    {
      "name": "Programs",
      "description": "Program management and balance"
    },
    {
      "name": "Payees",
      "description": "Payee registration and management"
    },
    {
      "name": "Payouts",
      "description": "Payout creation and management"
    },
    {
      "name": "Reports",
      "description": "Reporting endpoints"
    }
  ]
}