{
  "openapi": "3.0.3",
  "info": {
    "title": "OtterText API",
    "description": "OtterText SMS marketing and customer engagement API. Manage subscribers, send messages, templates, and configure webhooks.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.ottertext.com/"
  },
  "servers": [
    {
      "url": "https://app.ottertext.com",
      "description": "OtterText Production Server"
    }
  ],
  "paths": {
    "/api/customers/add": {
      "post": {
        "operationId": "addCustomer",
        "summary": "Add a new customer",
        "description": "Creates a new customer/subscriber in the OtterText system.",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/customers/optinoptout": {
      "post": {
        "operationId": "optinOptout",
        "summary": "Opt-in or opt-out a customer",
        "description": "Changes the opt-in/opt-out status of a customer for receiving messages.",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OptinOptoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Opt-in/opt-out status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/customers/optinstatus": {
      "get": {
        "operationId": "getOptinStatus",
        "summary": "Get customer opt-in status",
        "description": "Retrieves the current opt-in status of a customer by phone number.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "description": "Customer phone number in E.164 format",
            "schema": {
              "type": "string",
              "example": "+10000000000"
            }
          },
          {
            "name": "partner",
            "in": "query",
            "required": true,
            "description": "Partner name",
            "schema": {
              "type": "string",
              "example": "OtterText"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Opt-in status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptinStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/customers/update": {
      "post": {
        "operationId": "updateCustomer",
        "summary": "Update a customer",
        "description": "Updates an existing customer's information.",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/customers/sendmessage": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send an SMS message",
        "description": "Sends an SMS message to a customer. Can also be used for scheduling messages or sending templates.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/clients/webhook": {
      "post": {
        "operationId": "configureWebhook",
        "summary": "Configure a webhook",
        "description": "Adds or configures a webhook for receiving real-time event notifications.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook configured successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/clients/templates": {
      "post": {
        "operationId": "listTemplates",
        "summary": "List message templates",
        "description": "Retrieves a list of available message templates.",
        "tags": [
          "Templates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplatesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Templates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/email/send": {
      "post": {
        "operationId": "sendEmail",
        "summary": "Send an email",
        "description": "Sends an email message with optional CC, BCC, and attachments.",
        "tags": [
          "Email"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key provided as a Bearer token in the Authorization header"
      }
    },
    "schemas": {
      "AddCustomerRequest": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "description": "Customer phone number in E.164 format"
          },
          "first_name": {
            "type": "string",
            "description": "Customer first name"
          },
          "last_name": {
            "type": "string",
            "description": "Customer last name"
          },
          "email": {
            "type": "string",
            "description": "Customer email address"
          },
          "partner": {
            "type": "string",
            "description": "Partner identifier"
          }
        },
        "required": [
          "phone"
        ]
      },
      "OptinOptoutRequest": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "description": "Customer phone number"
          },
          "optin": {
            "type": "boolean",
            "description": "True to opt-in, false to opt-out"
          },
          "partner": {
            "type": "string",
            "description": "Partner identifier"
          }
        },
        "required": [
          "phone"
        ]
      },
      "UpdateCustomerRequest": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "description": "Customer phone number"
          },
          "first_name": {
            "type": "string",
            "description": "Updated first name"
          },
          "last_name": {
            "type": "string",
            "description": "Updated last name"
          },
          "email": {
            "type": "string",
            "description": "Updated email"
          }
        },
        "required": [
          "phone"
        ]
      },
      "SendMessageRequest": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "description": "Recipient phone number"
          },
          "message": {
            "type": "string",
            "description": "Message content"
          },
          "template_id": {
            "type": "integer",
            "description": "Template ID to use for the message"
          },
          "schedule_at": {
            "type": "string",
            "format": "date-time",
            "description": "Schedule the message for a future time"
          },
          "partner": {
            "type": "string",
            "description": "Partner identifier"
          }
        },
        "required": [
          "phone"
        ]
      },
      "WebhookRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Webhook callback URL"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of event types to subscribe to"
          }
        },
        "required": [
          "url"
        ]
      },
      "TemplatesRequest": {
        "type": "object",
        "properties": {
          "draw": {
            "type": "string",
            "description": "Draw counter for pagination"
          }
        }
      },
      "SendEmailRequest": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "format": "email",
            "description": "Recipient email address"
          },
          "from": {
            "type": "string",
            "format": "email",
            "description": "Sender email address"
          },
          "from_name": {
            "type": "string",
            "description": "Sender display name"
          },
          "reply_to": {
            "type": "string",
            "format": "email",
            "description": "Reply-to email address"
          },
          "subject": {
            "type": "string",
            "description": "Email subject line"
          },
          "body": {
            "type": "string",
            "description": "Email body content"
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "description": "CC recipients"
          },
          "bcc": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "description": "BCC recipients"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "URLs of files to attach"
          }
        },
        "required": [
          "to",
          "from",
          "subject",
          "body"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "OptinStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "customer": {
            "type": "object",
            "properties": {
              "optincheck": {
                "type": "string",
                "description": "Opt-in status code"
              }
            }
          }
        }
      },
      "TemplatesResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "draw": {
                "type": "string"
              },
              "recordsTotal": {
                "type": "integer"
              },
              "recordsFiltered": {
                "type": "integer"
              },
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Customers",
      "description": "Customer/subscriber management"
    },
    {
      "name": "Messages",
      "description": "Sending SMS messages"
    },
    {
      "name": "Webhooks",
      "description": "Webhook configuration"
    },
    {
      "name": "Templates",
      "description": "Message templates"
    },
    {
      "name": "Email",
      "description": "Email sending"
    }
  ]
}