{
  "openapi": "3.0.0",
  "info": {
    "title": "FAQ",
    "version": "version not set",
    "x-jentic-source-url": "https://raw.githubusercontent.com/messagebird/openapi-specs/main/faq/openapi.yaml",
    "description": "FAQ provides programmatic access to api resources."
  },
  "servers": [
    {
      "url": "https://faq.messagebird.com/"
    }
  ],
  "paths": {
    "/api/v1/datasets": {
      "get": {
        "parameters": [
          {
            "description": "The list mode indicating to query public datasets, only user datasets or both.\n\n - LIST_MODE_UNDEFINED: The list dataset mode type undefined.\n - ALL: List all datasets.\n - ONLY_TEMPLATE: List the template datasets. Template datasets are used as examples and can be found under the `Templates` tab in the [dataset overview of the dashboard](https://dashboard.messagebird.com/knowledge-base/list). You can clone such datasets to kickstart the creation of a dataset that is tailored to your use-case.\n - ONLY_USER: List the user datasets.",
            "example": "ONLY_USER",
            "in": "query",
            "name": "listMode",
            "required": false,
            "schema": {
              "default": "LIST_MODE_UNDEFINED",
              "enum": [
                "LIST_MODE_UNDEFINED",
                "ALL",
                "ONLY_TEMPLATE",
                "ONLY_USER"
              ],
              "type": "string"
            }
          },
          {
            "description": "The limit defining the maximal number of datasets to return.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": "20",
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "The cursor to view the next paginated collection of datasets as provided by the `next_cursor` value in the ListDatasetsResponse.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "default": "null",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ListDatasetsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user is not authorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "tags": [
          "FAQ"
        ],
        "description": "Lists datasets containing answers and corresponding questions. You can choose to list only your own datasets, as well as template datasets, or both. You might need to iterate over multiple pages to obtain all of your datasets.",
        "operationId": "FAQ_ListDatasets",
        "summary": "List datasets"
      }
    },
    "/api/v1/datasets/{datasetId}": {
      "get": {
        "parameters": [
          {
            "description": "The unique ID for the dataset.",
            "in": "path",
            "name": "datasetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1Dataset"
                }
              }
            },
            "description": "A successful response."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user is not authorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "tags": [
          "FAQ"
        ],
        "description": "Retrieves the dataset for the given dataset ID.",
        "operationId": "FAQ_GetDataset",
        "summary": "Get dataset"
      }
    },
    "/api/v1/datasets/{datasetId}/predict-answer": {
      "post": {
        "parameters": [
          {
            "description": "The unique ID that identifies the dataset for which a question should be answered.",
            "in": "path",
            "name": "datasetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1PredictAnswerResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user is not authorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "tags": [
          "FAQ"
        ],
        "description": "Predicts an answer corresponding to a question which is possibly contained in the phrase given an FAQ dataset. The FAQ API uses machine learning to generalize from the questions and answers in the dataset to infer the answer of the given question. This requires the active model for the dataset to be trained. Training a model usually takes around 1 minute after a dataset is created or updated. This endpoint yields an error if the model has not been trained yet.",
        "operationId": "FAQ_PredictAnswer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "A request for predicting an answer from a phrase and a dataset ID.",
                "example": {
                  "phrase": "Who founded MessageBird?"
                },
                "properties": {
                  "phrase": {
                    "description": "The phrase that might contain a question to be answered.",
                    "example": "Who founded MessageBird?",
                    "title": "Phrase",
                    "type": "string"
                  }
                },
                "title": "PredictAnswerRequest",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Predict Answer"
      }
    },
    "/api/v1/supported-languages": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1LanguageList"
                }
              }
            },
            "description": "A successful response."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the user is not authorized."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "security": [
          {
            "AccessKey": []
          }
        ],
        "tags": [
          "FAQ"
        ],
        "description": "Lists the languages supported by the FAQ API.",
        "operationId": "FAQ_ListSupportedLanguages",
        "summary": "Get supported languages."
      }
    }
  },
  "components": {
    "schemas": {
      "protobufAny": {
        "additionalProperties": {},
        "properties": {
          "@type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "rpcStatus": {
        "properties": {
          "code": {
            "format": "int32",
            "type": "integer"
          },
          "details": {
            "items": {
              "$ref": "#/components/schemas/protobufAny"
            },
            "type": "array"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "v1Answer": {
        "description": "An answer which corresponds to one or more example questions in the dataset.",
        "example": {
          "text": "Messagebird was founded by Robert Vis in 2011.",
          "title": "MessageBird Founder",
          "url": "https://messagebird.com/en/about"
        },
        "properties": {
          "text": {
            "description": "The text containing the answer.",
            "example": "Messagebird was founded by Robert Vis in 2011.",
            "title": "Text",
            "type": "string"
          },
          "title": {
            "description": "The short title representing the answer.",
            "example": "MessageBird Founder",
            "title": "Title",
            "type": "string"
          },
          "url": {
            "description": "The URL with additional information for this answer.",
            "example": "https://messagebird.com/en/about",
            "title": "Url",
            "type": "string"
          }
        },
        "title": "Answer",
        "type": "object"
      },
      "v1Dataset": {
        "description": "A collection of answers with matching questions. There can be multiple matching questions per answer.",
        "example": {
          "createdAt": "2021-08-24T12:04:32Z",
          "datasetId": "dde4eeae-7652-4bc8-8be1-1cd6ac898dc7",
          "description": "This dataset has a list of frequently asked questions about MessageBird",
          "isTemplate": false,
          "lastTrainedAt": "2021-08-24T12:04:32Z",
          "name": "MessageBird FAQ",
          "updatedAt": "2021-08-24T12:04:32Z"
        },
        "properties": {
          "createdAt": {
            "description": "The timestamp of dataset creation. Uses the [ISO-8601 standard](https://en.wikipedia.org/wiki/ISO_8601).",
            "example": "2021-08-24T12:04:32Z",
            "format": "timestamp",
            "readOnly": true,
            "title": "Created At",
            "type": "string"
          },
          "datasetId": {
            "description": "The unique ID for the dataset.",
            "example": "dde4eeae-7652-4bc8-8be1-1cd6ac898dc7",
            "format": "uuid",
            "readOnly": true,
            "title": "Dataset Id",
            "type": "string"
          },
          "description": {
            "description": "The optional description of the dataset.",
            "example": "This dataset has a list of frequently asked questions about MessageBird",
            "title": "Description",
            "type": "string"
          },
          "isTemplate": {
            "description": "Whether this dataset is a template dataset or not. Template datasets are used as examples and can be found under the `Templates` tab in the [dataset overview of the dashboard](https://dashboard.messagebird.com/knowledge-base/list). You can clone such datasets to kickstart the creation of a dataset that is tailored to your use-case.",
            "example": false,
            "readOnly": true,
            "title": "Is Template",
            "type": "boolean"
          },
          "lastTrainedAt": {
            "description": "The timestamp of last model that completed training. Uses the [ISO-8601 standard](https://en.wikipedia.org/wiki/ISO_8601).",
            "example": "2021-08-24T12:04:32Z",
            "format": "timestamp",
            "readOnly": true,
            "title": "Last Trained At",
            "type": "string"
          },
          "name": {
            "description": "The name of the dataset.",
            "example": "MessageBird FAQ",
            "title": "Name",
            "type": "string"
          },
          "updatedAt": {
            "description": "The timestamp of last update. Uses the [ISO-8601 standard](https://en.wikipedia.org/wiki/ISO_8601).",
            "example": "2021-08-24T12:04:32Z",
            "format": "timestamp",
            "readOnly": true,
            "title": "Updated At",
            "type": "string"
          }
        },
        "title": "Dataset",
        "type": "object"
      },
      "v1Language": {
        "description": "Language that was detected from the given phrase.",
        "example": {
          "iso6393Code": "nld",
          "languageCode": "NLD",
          "name": "Dutch"
        },
        "properties": {
          "iso6393Code": {
            "description": "The ISO-639-3 code of the language.",
            "example": "nld",
            "title": "Iso 639 3 Code",
            "type": "string"
          },
          "languageCode": {
            "$ref": "#/components/schemas/v1LanguageCode",
            "description": "The enum value of the ISO639-3 language code.",
            "example": "NLD",
            "title": "Language Code"
          },
          "name": {
            "description": "The English name of the language.",
            "example": "Dutch",
            "title": "Name",
            "type": "string"
          }
        },
        "title": "Language",
        "type": "object"
      },
      "v1LanguageCode": {
        "default": "LANGUAGE_INVALID",
        "description": "Language code in ISO639-3 format. More info can be found here: https://iso639-3.sil.org/code_tables/639/data.",
        "enum": [
          "LANGUAGE_INVALID",
          "LANGUAGE_UNDETERMINED",
          "ENG",
          "RUS",
          "DEU",
          "FRA",
          "ITA",
          "JPN",
          "SPA",
          "CEB",
          "TUR",
          "POR",
          "UKR",
          "EPO",
          "POL",
          "SWE",
          "NLD",
          "HEB",
          "ZHO",
          "HUN",
          "ARA",
          "CAT",
          "FIN",
          "CES",
          "FAS",
          "SRP",
          "ELL",
          "VIE",
          "BUL",
          "KOR",
          "NOR",
          "MKD",
          "RON",
          "IND",
          "THA",
          "HYE",
          "DAN",
          "TAM",
          "HIN",
          "HRV",
          "HBS",
          "BEL",
          "KAT",
          "TEL",
          "KAZ",
          "WAR",
          "LIT",
          "GLG",
          "SLK",
          "BEN",
          "EUS",
          "SLV",
          "KAN",
          "MAL",
          "MAR",
          "EST",
          "AZE",
          "MSA",
          "SQI",
          "LAT",
          "BOS",
          "NNO",
          "URD",
          "LAV",
          "MYA",
          "TAT",
          "AFR",
          "OCI",
          "NDS",
          "KIR",
          "AST",
          "TGL",
          "ISL",
          "INA",
          "SIN",
          "GUJ",
          "KHM",
          "BRE",
          "BAK",
          "UZB",
          "BOD",
          "PAN",
          "VOL",
          "ALS",
          "NEP",
          "CYM",
          "JBO",
          "FRY",
          "MON",
          "LTZ",
          "CHE",
          "UIG",
          "TGK",
          "SCO",
          "SAN",
          "CHV",
          "JAV",
          "MIN",
          "IDO",
          "ORI",
          "ASM",
          "NEW",
          "GLE",
          "MLG",
          "ARG",
          "CKB",
          "SWA",
          "BAR",
          "LMO",
          "YID",
          "ARZ",
          "MHR",
          "AZB",
          "SAH",
          "PNB",
          "SUN",
          "BPY",
          "PMS",
          "ILO",
          "WUU",
          "KUR",
          "PUS",
          "ILE",
          "XMF",
          "YUE",
          "GOM",
          "LIM",
          "MWL",
          "COR",
          "SND",
          "HSB",
          "SCN",
          "GLA",
          "PAM",
          "BHO",
          "MAI",
          "VEC",
          "MLT",
          "DIV",
          "WLN",
          "MZN",
          "AMH",
          "QUE",
          "CBK",
          "TUK",
          "ROH",
          "OSS",
          "VLS",
          "YOR",
          "LAO",
          "LEZ",
          "SOM",
          "MYV",
          "DIQ",
          "MRJ",
          "DSB",
          "FRR",
          "HAT",
          "GRN",
          "BXR",
          "KOM",
          "SRD",
          "KRC",
          "BCL",
          "NAP",
          "GLV",
          "AVA",
          "RUE",
          "XAL",
          "PFL",
          "DTY",
          "HIF",
          "COS",
          "LRC",
          "VEP",
          "TYV",
          "NOB",
          "SNA",
          "KIN",
          "IBO",
          "SMO",
          "SOT",
          "MRI",
          "WOL",
          "XHO",
          "HAU",
          "HAW",
          "NYA",
          "ZUL",
          "HMN"
        ],
        "type": "string",
        "valueComments": [
          "Language code is invalid.",
          "Language could not be determined.",
          "English.",
          "Russian.",
          "German.",
          "French.",
          "Italian.",
          "Japanese.",
          "Spanish.",
          "Cebuano.",
          "Turkish.",
          "Portuguese.",
          "Ukrainian.",
          "Esperanto.",
          "Polish.",
          "Swedish.",
          "Dutch.",
          "Hebrew.",
          "Chinese.",
          "Hungarian.",
          "Arabic.",
          "Catalan.",
          "Finnish.",
          "Czech.",
          "Persian.",
          "Serbian.",
          "Greek.",
          "Vietnamese.",
          "Bulgarian.",
          "Korean.",
          "Norwegian.",
          "Macedonian.",
          "Romanian.",
          "Indonesian.",
          "Thai.",
          "Armenian.",
          "Danish.",
          "Tamil.",
          "Hindi.",
          "Croatian.",
          "Serbo-Croatian.",
          "Belarusian.",
          "Georgian.",
          "Telugu.",
          "Kazakh.",
          "Waray.",
          "Lithuanian.",
          "Galician.",
          "Slovak.",
          "Bengali.",
          "Basque.",
          "Slovenian.",
          "Kannada.",
          "Malayalam.",
          "Marathi.",
          "Estonian.",
          "Azerbaijani.",
          "Malay.",
          "Albanian.",
          "Latin.",
          "Bosnian.",
          "Norwegian Nynorsk.",
          "Urdu.",
          "Latvian.",
          "Burmese.",
          "Tatar.",
          "Afrikaans.",
          "Occitan.",
          "Low German.",
          "Kirghiz.",
          "Asturian.",
          "Tagalog.",
          "Icelandic.",
          "Interlingua.",
          "Sinhala.",
          "Gujarati.",
          "Central Khmer.",
          "Breton.",
          "Bashkir.",
          "Uzbek.",
          "Tibetan.",
          "Panjabi.",
          "Volap\u00fck.",
          "Tosk Albanian.",
          "Nepali.",
          "Welsh.",
          "Lojban.",
          "Western Frisian.",
          "Mongolian.",
          "Luxembourgish.",
          "Chechen.",
          "Uighur.",
          "Tajik.",
          "Scots.",
          "Sanskrit.",
          "Chuvash.",
          "Javanese.",
          "Minangkabau.",
          "Ido.",
          "Oriya.",
          "Assamese.",
          "Newari.",
          "Irish.",
          "Malagasy.",
          "Aragonese.",
          "Central Kurdish.",
          "Swahili.",
          "Bavarian.",
          "Lombard.",
          "Yiddish.",
          "Egyptian Arabic.",
          "Eastern Mari.",
          "South Azerbaijani.",
          "Yakut.",
          "Western Panjabi.",
          "Sundanese.",
          "Bishnupriya.",
          "Piemontese.",
          "Iloko.",
          "Wu Chinese.",
          "Kurdish.",
          "Pushto.",
          "Interlingue.",
          "Mingrelian.",
          "Yue Chinese.",
          "Goan Konkani.",
          "Limburgan.",
          "Mirandese.",
          "Cornish.",
          "Sindhi.",
          "Upper Sorbian.",
          "Sicilian.",
          "Scottish Gaelic.",
          "Pampanga.",
          "Bhojpuri.",
          "Maithili.",
          "Venetian.",
          "Maltese.",
          "Dhivehi.",
          "Walloon.",
          "Mazanderani.",
          "Amharic.",
          "Quechua.",
          "Chavacano.",
          "Turkmen.",
          "Romansh.",
          "Ossetian.",
          "Vlaams.",
          "Yoruba.",
          "Lao.",
          "Lezghian.",
          "Somali.",
          "Erzya.",
          "Dimli.",
          "Western Mari.",
          "Lower Sorbian.",
          "Northern Frisian.",
          "Haitian.",
          "Guarani.",
          "Russia Buriat.",
          "Komi.",
          "Sardinian.",
          "Karachay-Balkar.",
          "Central Bikol.",
          "Neapolitan.",
          "Manx.",
          "Avaric.",
          "Rusyn.",
          "Kalmyk.",
          "Pfaelzisch.",
          "Dotyali.",
          "Fiji Hindi.",
          "Corsican.",
          "Northern Luri.",
          "Veps.",
          "Tuvinian.",
          "Norwegian Bokm\u00e5l.",
          "Shona.",
          "Kinyarwanda.",
          "Igbo.",
          "Samoan.",
          "Southern Sotho.",
          "Maori.",
          "Wolof.",
          "Xhosa.",
          "Hausa.",
          "Hawaiian.",
          "Nyanja.",
          "Zulu.",
          "Hmong."
        ]
      },
      "v1LanguageList": {
        "description": "List of recognized languages.",
        "example": {
          "languages": [
            {
              "iso6393Code": "nld",
              "languageCode": "NLD",
              "name": "Dutch"
            },
            {
              "iso6393Code": "eng",
              "languageCode": "ENG",
              "name": "English"
            },
            {
              "iso6393Code": "spa",
              "languageCode": "SPA",
              "name": "Spanish"
            },
            {
              "iso6393Code": "zho",
              "languageCode": "ZHO",
              "name": "Chinese"
            }
          ]
        },
        "properties": {
          "languages": {
            "description": "The collection of languages.",
            "example": [
              {
                "iso6393Code": "nld",
                "languageCode": "NLD",
                "name": "Dutch"
              },
              {
                "iso6393Code": "eng",
                "languageCode": "ENG",
                "name": "English"
              },
              {
                "iso6393Code": "spa",
                "languageCode": "SPA",
                "name": "Spanish"
              },
              {
                "iso6393Code": "zho",
                "languageCode": "ZHO",
                "name": "Chinese"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/v1Language"
            },
            "title": "Languages",
            "type": "array"
          }
        },
        "title": "LanguageList",
        "type": "object"
      },
      "v1ListDatasetsMode": {
        "default": "LIST_MODE_UNDEFINED",
        "description": "The list mode indicating to query public datasets, only user datasets or both.",
        "enum": [
          "LIST_MODE_UNDEFINED",
          "ALL",
          "ONLY_TEMPLATE",
          "ONLY_USER"
        ],
        "type": "string",
        "valueComments": [
          "The list dataset mode type undefined.",
          "List all datasets.",
          "List the template datasets. Template datasets are used as examples and can be found under the `Templates` tab in the [dataset overview of the dashboard](https://dashboard.messagebird.com/knowledge-base/list). You can clone such datasets to kickstart the creation of a dataset that is tailored to your use-case.",
          "List the user datasets."
        ]
      },
      "v1ListDatasetsResponse": {
        "description": "A response containing the FAQ datasets that were queried.",
        "example": {
          "datasets": [
            {
              "createdAt": "2021-08-24T12:04:32Z",
              "datasetId": "dde4eeae-7652-4bc8-8be1-1cd6ac898dc7",
              "description": "This dataset has a list of frequently asked questions about MessageBird",
              "isTemplate": false,
              "lastTrainedAt": "2021-08-24T12:04:32Z",
              "name": "MessageBird FAQ",
              "updatedAt": "2021-08-24T12:04:32Z"
            }
          ],
          "limit": 20,
          "nextCursor": "VGhpcyBpcyBub3QgYSByZWFsIGN1cnNvciwgYnV0IHRoZXkgd291bGQgYmUgYmFzZTY0IGVuY29kZWQgdG9vCg=="
        },
        "properties": {
          "datasets": {
            "description": "The (paginated) collection of datasets. This can contain both your own datasets as well as template datasets. Template datasets are used as examples and can be found under the `Templates` tab in the [dataset overview of the dashboard](https://dashboard.messagebird.com/knowledge-base/list). You can clone such datasets to kickstart the creation of a dataset that is tailored to your use-case.",
            "example": [
              {
                "createdAt": "2021-08-24T12:04:32Z",
                "datasetId": "dde4eeae-7652-4bc8-8be1-1cd6ac898dc7",
                "description": "This dataset has a list of frequently asked questions about MessageBird",
                "isTemplate": false,
                "lastTrainedAt": "2021-08-24T12:04:32Z",
                "name": "MessageBird FAQ",
                "updatedAt": "2021-08-24T12:04:32Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/v1Dataset"
            },
            "title": "Datasets",
            "type": "array"
          },
          "limit": {
            "description": "The effective limit of the maximum number of datasets that could be returned by the list endpoint. If the `limit` defined in [`ListDatasetsRequest`](#listdatasetsrequest-object) was not set, this value indicates the used limit.",
            "example": 20,
            "format": "int64",
            "title": "Limit",
            "type": "integer"
          },
          "nextCursor": {
            "description": "The cursor that can be used to query the next paginated collection of results.",
            "example": "VGhpcyBpcyBub3QgYSByZWFsIGN1cnNvciwgYnV0IHRoZXkgd291bGQgYmUgYmFzZTY0IGVuY29kZWQgdG9vCg==",
            "title": "Next Cursor",
            "type": "string"
          }
        },
        "title": "ListDatasetsResponse",
        "type": "object"
      },
      "v1PredictAnswerResponse": {
        "description": "A response that contains the answer and its related metadata, such as a URL pointing to more details. If the FAQ API could not find a corresponding answer, the answer field will not be populated.",
        "example": {
          "answer": {
            "text": "Messagebird was founded by Robert Vis in 2011.",
            "title": "MessageBird Founder",
            "url": "https://messagebird.com/en/about"
          },
          "answerPredicted": false
        },
        "properties": {
          "answer": {
            "$ref": "#/components/schemas/v1Answer",
            "description": "The answer that is predicted for the given phrase. If no matching answer was found, this field will not be populated.",
            "example": {
              "text": "Messagebird was founded by Robert Vis in 2011.",
              "title": "MessageBird Founder",
              "url": "https://messagebird.com/en/about"
            },
            "title": "Answer"
          },
          "answerPredicted": {
            "description": "Indicates if an answer was predicted. If `false`, the phrase could not be matched with an answer.",
            "example": false,
            "title": "Answer Predicted",
            "type": "boolean"
          }
        },
        "title": "PredictAnswerResponse",
        "type": "object"
      }
    },
    "securitySchemes": {
      "AccessKey": {
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "description": "The MessageBird FAQ API enables answering questions from an FAQ dataset created. Datasets can be created and managed using the [dataset section of the MessageBird Dashboard](https://dashboard.messagebird.com/knowledge-base/list). \n\nFAQ datasets are created by giving multiple variations of questions that correspond to an answer. There can be multiple answers, each with multiple corresponding questions. The MessageBird FAQ API applies machine learning to generalize from the questions and answers that you added to your datasets so that unseen questions are automatically mapped to the right answer. \n\nYou can view and edit the questions and answers in the [datasets section of the dashboard](https://dashboard.messagebird.com/knowledge-base/list). An effective way to iterate and improve the FAQ recognition accuracy is to leverage the Train UI that can be accessed from the [dataset overview](https://dashboard.messagebird.com/knowledge-base/list).",
      "name": "FAQ"
    }
  ],
  "externalDocs": {
    "description": "Find our official documentation in the MessageBird Docs",
    "url": "https://developers.messagebird.com/api"
  }
}