{
  "openapi": "3.0.3",
  "info": {
    "title": "NiftyImages API",
    "description": "NiftyImages REST API for managing personalized images, widgets, data stores, timers, maps, and Photoshop images for email marketing.",
    "version": "1.0",
    "x-jentic-source-url": "https://api.niftyimages.com/Images"
  },
  "servers": [
    {
      "url": "https://api.niftyimages.com"
    }
  ],
  "paths": {
    "/v1/DataStores/{storeKey}/fields": {
      "get": {
        "tags": [
          "Data Store"
        ],
        "summary": "Get Store Fields",
        "operationId": "getStoreFields",
        "description": "Retrieve the field definitions for a data store.",
        "parameters": [
          {
            "name": "storeKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique key identifying the data store"
          }
        ],
        "responses": {
          "200": {
            "description": "List of store fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StoreField"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/DataStores/{storeKey}/records": {
      "post": {
        "tags": [
          "Data Store"
        ],
        "summary": "Add New Record",
        "operationId": "addStoreRecord",
        "description": "Add a new record to a data store.",
        "parameters": [
          {
            "name": "storeKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique key identifying the data store"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreRecordInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreRecord"
                }
              }
            }
          }
        }
      }
    },
    "/v1/DataStores/{storeKey}/records/{recordId}": {
      "delete": {
        "tags": [
          "Data Store"
        ],
        "summary": "Delete Record By ID",
        "operationId": "deleteStoreRecordById",
        "description": "Delete a specific record from a data store by its ID.",
        "parameters": [
          {
            "name": "storeKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record deleted successfully"
          }
        }
      }
    },
    "/v1/DataStores/{storeKey}/records/delete": {
      "post": {
        "tags": [
          "Data Store"
        ],
        "summary": "Delete Record",
        "operationId": "deleteStoreRecord",
        "description": "Delete a record from a data store by matching field values.",
        "parameters": [
          {
            "name": "storeKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record deleted successfully"
          }
        }
      }
    },
    "/v1/Timers/{timerKey}": {
      "put": {
        "tags": [
          "Timers"
        ],
        "summary": "Update Target Date",
        "operationId": "updateTimerTargetDate",
        "description": "Update the target date of a countdown timer.",
        "parameters": [
          {
            "name": "timerKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique key identifying the timer"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimerUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Timer updated successfully"
          }
        }
      }
    },
    "/v1/Maps": {
      "get": {
        "tags": [
          "Maps"
        ],
        "summary": "Get All Maps",
        "operationId": "getAllMaps",
        "description": "Retrieve all maps in your account.",
        "responses": {
          "200": {
            "description": "List of maps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Map"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Maps/{mapKey}": {
      "get": {
        "tags": [
          "Maps"
        ],
        "summary": "Get Map Details",
        "operationId": "getMapDetails",
        "description": "Retrieve details for a specific map.",
        "parameters": [
          {
            "name": "mapKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Maps/{mapKey}/locations/search": {
      "get": {
        "tags": [
          "Maps"
        ],
        "summary": "Search For Locations",
        "operationId": "searchMapLocations",
        "description": "Search for locations within a map.",
        "parameters": [
          {
            "name": "mapKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search query string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of matching locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MapLocation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Maps/{mapKey}/locations": {
      "post": {
        "tags": [
          "Maps"
        ],
        "summary": "Add Location",
        "operationId": "addMapLocation",
        "description": "Add a new location to a map.",
        "parameters": [
          {
            "name": "mapKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapLocationInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Location added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLocation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Maps/{mapKey}/locations/{locationId}": {
      "put": {
        "tags": [
          "Maps"
        ],
        "summary": "Update Location",
        "operationId": "updateMapLocation",
        "description": "Update an existing location in a map.",
        "parameters": [
          {
            "name": "mapKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapLocationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Location updated successfully"
          }
        }
      },
      "delete": {
        "tags": [
          "Maps"
        ],
        "summary": "Delete Location",
        "operationId": "deleteMapLocation",
        "description": "Delete a location from a map.",
        "parameters": [
          {
            "name": "mapKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location deleted successfully"
          }
        }
      }
    },
    "/v1/BeePlugin/users": {
      "get": {
        "tags": [
          "Bee Plugin"
        ],
        "summary": "Get All Users",
        "operationId": "getBeePluginUsers",
        "description": "Retrieve all Bee Plugin users.",
        "responses": {
          "200": {
            "description": "List of Bee Plugin users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BeePluginUser"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/BeePlugin/users/{userId}/images": {
      "get": {
        "tags": [
          "Bee Plugin"
        ],
        "summary": "Get Images for User",
        "operationId": "getBeePluginUserImages",
        "description": "Retrieve images for a specific Bee Plugin user.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/BeePlugin/users/{userId}/suspend": {
      "put": {
        "tags": [
          "Bee Plugin"
        ],
        "summary": "Suspend a User",
        "operationId": "suspendBeePluginUser",
        "description": "Suspend a Bee Plugin user.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User suspended successfully"
          }
        }
      }
    },
    "/v1/Widgets": {
      "get": {
        "tags": [
          "Widgets"
        ],
        "summary": "Get All Widgets",
        "operationId": "getAllWidgets",
        "description": "Retrieve all widgets in your account.",
        "responses": {
          "200": {
            "description": "List of widgets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Widget"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Widgets/{widgetKey}/stats": {
      "get": {
        "tags": [
          "Widgets"
        ],
        "summary": "Get Widget Stats",
        "operationId": "getWidgetStats",
        "description": "Retrieve stats for a specific widget.",
        "parameters": [
          {
            "name": "widgetKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start date in ISO 8601 format"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End date in ISO 8601 format"
          }
        ],
        "responses": {
          "200": {
            "description": "Widget statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetStats"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Widgets/{widgetKey}/images": {
      "get": {
        "tags": [
          "Widgets"
        ],
        "summary": "Get Widget Images",
        "operationId": "getWidgetImages",
        "description": "Retrieve images for a specific widget.",
        "parameters": [
          {
            "name": "widgetKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of widget images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Widgets/{widgetKey}/users": {
      "get": {
        "tags": [
          "Widgets"
        ],
        "summary": "Get Widget Users",
        "operationId": "getWidgetUsers",
        "description": "Retrieve users for a specific widget.",
        "parameters": [
          {
            "name": "widgetKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of widget users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WidgetUser"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Widgets/{widgetKey}/users/{userId}/stats": {
      "get": {
        "tags": [
          "Widgets"
        ],
        "summary": "Get Stats for User",
        "operationId": "getWidgetUserStats",
        "description": "Retrieve stats for a specific user within a widget.",
        "parameters": [
          {
            "name": "widgetKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetStats"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Widgets/{widgetKey}/users/{userId}/images": {
      "get": {
        "tags": [
          "Widgets"
        ],
        "summary": "Get Images for User",
        "operationId": "getWidgetUserImages",
        "description": "Retrieve images for a specific user within a widget.",
        "parameters": [
          {
            "name": "widgetKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Widgets/{widgetKey}/users/{userId}/suspend": {
      "put": {
        "tags": [
          "Widgets"
        ],
        "summary": "Suspend a Widget User",
        "operationId": "suspendWidgetUser",
        "description": "Suspend a user within a widget.",
        "parameters": [
          {
            "name": "widgetKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User suspended successfully"
          }
        }
      }
    },
    "/v1/Images": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Page Through Images",
        "operationId": "listImages",
        "description": "Retrieve a paginated list of images.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Image"
                      }
                    },
                    "totalCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Images/stats": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Get Aggregated Stats",
        "operationId": "getImageStats",
        "description": "Retrieve aggregated statistics for images.",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated image statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageStats"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Images/{imageKey}": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Get Image Details",
        "operationId": "getImageDetails",
        "description": "Retrieve details for a specific image.",
        "parameters": [
          {
            "name": "imageKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageDetail"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Images"
        ],
        "summary": "Delete Image",
        "operationId": "deleteImage",
        "description": "Delete a specific image.",
        "parameters": [
          {
            "name": "imageKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image deleted successfully"
          }
        }
      }
    },
    "/v1/Photoshop/{imageKey}/layers": {
      "get": {
        "tags": [
          "Photoshop"
        ],
        "summary": "Get Layer Details",
        "operationId": "getPhotoshopLayers",
        "description": "Retrieve layer details for a Photoshop image.",
        "parameters": [
          {
            "name": "imageKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Layer details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhotoshopLayer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Photoshop/{imageKey}": {
      "put": {
        "tags": [
          "Photoshop"
        ],
        "summary": "Update Photoshop Image",
        "operationId": "updatePhotoshopImage",
        "description": "Update a Photoshop image by modifying its layers.",
        "parameters": [
          {
            "name": "imageKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhotoshopUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Photoshop image updated successfully"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "ApiKey",
        "description": "API Key passed via HTTP Header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "ApiKey",
        "description": "API Key passed as query parameter"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Authentication where password is the API Key"
      }
    },
    "schemas": {
      "StoreField": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Type": {
            "type": "string"
          }
        }
      },
      "StoreRecordInput": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        }
      },
      "StoreRecord": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string"
          },
          "Fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "TimerUpdate": {
        "type": "object",
        "properties": {
          "TargetDate": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 formatted target date"
          }
        }
      },
      "Map": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "MapKey": {
            "type": "string"
          }
        }
      },
      "MapDetail": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "MapKey": {
            "type": "string"
          },
          "Locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MapLocation"
            }
          }
        }
      },
      "MapLocation": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Address": {
            "type": "string"
          },
          "Latitude": {
            "type": "number"
          },
          "Longitude": {
            "type": "number"
          }
        }
      },
      "MapLocationInput": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Address": {
            "type": "string"
          },
          "Latitude": {
            "type": "number"
          },
          "Longitude": {
            "type": "number"
          }
        }
      },
      "BeePluginUser": {
        "type": "object",
        "properties": {
          "UserId": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          }
        }
      },
      "Widget": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "WidgetKey": {
            "type": "string"
          }
        }
      },
      "WidgetStats": {
        "type": "object",
        "properties": {
          "Impressions": {
            "type": "integer"
          },
          "UniqueImpressions": {
            "type": "integer"
          }
        }
      },
      "WidgetUser": {
        "type": "object",
        "properties": {
          "UserId": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          }
        }
      },
      "Image": {
        "type": "object",
        "properties": {
          "ImageKey": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "CreateDate": {
            "type": "string",
            "format": "date-time"
          },
          "Url": {
            "type": "string"
          }
        }
      },
      "ImageDetail": {
        "type": "object",
        "properties": {
          "ImageKey": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "CreateDate": {
            "type": "string",
            "format": "date-time"
          },
          "Url": {
            "type": "string"
          },
          "Impressions": {
            "type": "integer"
          }
        }
      },
      "ImageStats": {
        "type": "object",
        "properties": {
          "TotalImpressions": {
            "type": "integer"
          },
          "UniqueImpressions": {
            "type": "integer"
          },
          "TotalImages": {
            "type": "integer"
          }
        }
      },
      "PhotoshopLayer": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Type": {
            "type": "string"
          },
          "Value": {
            "type": "string"
          }
        }
      },
      "PhotoshopUpdateInput": {
        "type": "object",
        "properties": {
          "Layers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string"
                },
                "Value": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    },
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Data Store",
      "description": "Data Store API Calls"
    },
    {
      "name": "Timers",
      "description": "Timer API Calls"
    },
    {
      "name": "Maps",
      "description": "Map API Calls"
    },
    {
      "name": "Bee Plugin",
      "description": "Bee Plugin API Calls"
    },
    {
      "name": "Widgets",
      "description": "Widget API Calls"
    },
    {
      "name": "Images",
      "description": "Image API Calls"
    },
    {
      "name": "Photoshop",
      "description": "Photoshop API Calls"
    }
  ]
}