{
  "openapi": "3.0.0",
  "info": {
    "description": "Cognitive Services Management Client",
    "title": "CognitiveServicesManagementClient",
    "version": "2017-04-18",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/cognitiveservices/2017-04-18/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/cognitiveservices.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "cognitiveservices",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.CognitiveServices/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationEntityListResult"
                }
              }
            },
            "description": "OK."
          }
        },
        "tags": [
          "Operations"
        ],
        "deprecated": false,
        "description": "Lists all the available Cognitive Services account operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Get Operations": {
            "parameters": {
              "api-version": "2017-04-18"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "display": {
                        "description": "Reads API accounts.",
                        "operation": "Read API Account",
                        "provider": "Microsoft Cognitive Services",
                        "resource": "Cognitive Services API Account"
                      },
                      "name": "Microsoft.CognitiveServices/accounts/read",
                      "origin": "user,system"
                    },
                    {
                      "display": {
                        "description": "Writes API Accounts.",
                        "operation": "Write API Account",
                        "provider": "Microsoft Cognitive Services",
                        "resource": "Cognitive Services API Account"
                      },
                      "name": "Microsoft.CognitiveServices/accounts/write",
                      "origin": "user,system"
                    },
                    {
                      "display": {
                        "description": "Deletes API accounts",
                        "operation": "Delete API Account",
                        "provider": "Microsoft Cognitive Services",
                        "resource": "Cognitive Services API Account"
                      },
                      "name": "Microsoft.CognitiveServices/accounts/delete",
                      "origin": "user,system"
                    },
                    {
                      "display": {
                        "description": "List Keys",
                        "operation": "List Keys",
                        "provider": "Microsoft Cognitive Services",
                        "resource": "Cognitive Services API Account"
                      },
                      "name": "Microsoft.CognitiveServices/accounts/listKeys/action",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Regenerate Key",
                        "operation": "Regenerate Key",
                        "provider": "Microsoft Cognitive Services",
                        "resource": "Cognitive Services API Account"
                      },
                      "name": "Microsoft.CognitiveServices/accounts/regenerateKey/action",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Get the quota usage for an existing resource.",
                        "operation": "Get the quota usage for an existing resource",
                        "provider": "Microsoft Cognitive Services",
                        "resource": "Cognitive Services API Account"
                      },
                      "name": "Microsoft.CognitiveServices/accounts/usages/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Reads available SKUs for an existing resource.",
                        "operation": "Read available SKUs for an existing resource",
                        "provider": "Microsoft Cognitive Services",
                        "resource": "Cognitive Services API Account"
                      },
                      "name": "Microsoft.CognitiveServices/accounts/skus/read",
                      "origin": "user"
                    },
                    {
                      "display": {
                        "description": "Gets the diagnostic setting for the resource.",
                        "operation": "Read diagnostic setting",
                        "provider": "Microsoft Cognitive Services",
                        "resource": "Cognitive Services API Account"
                      },
                      "name": "Microsoft.CognitiveServices/accounts/providers/Microsoft.Insights/diagnosticSettings/read",
                      "origin": "system"
                    },
                    {
                      "display": {
                        "description": "Creates or updates the diagnostic setting for the resource.",
                        "operation": "Write diagnostic setting",
                        "provider": "Microsoft Cognitive Services",
                        "resource": "Cognitive Services API Account"
                      },
                      "name": "Microsoft.CognitiveServices/accounts/providers/Microsoft.Insights/diagnosticSettings/write",
                      "origin": "system"
                    },
                    {
                      "display": {
                        "description": "Gets the available metrics for Cognitive Services.",
                        "operation": "Read Cognitive Services metric definitions",
                        "provider": "Microsoft Cognitive Services",
                        "resource": "The metric definition of Cognitive Services"
                      },
                      "name": "Microsoft.CognitiveServices/accounts/providers/Microsoft.Insights/metricDefinitions/read",
                      "origin": "system",
                      "properties": {
                        "serviceSpecification": {
                          "metricSpecifications": [
                            {
                              "aggregationType": "Total",
                              "availabilities": [
                                {
                                  "blobDuration": "PT1H",
                                  "timeGrain": "PT1M"
                                },
                                {
                                  "blobDuration": "P1D",
                                  "timeGrain": "PT1H"
                                }
                              ],
                              "displayDescription": "Total number of calls.",
                              "displayName": "Total Calls",
                              "name": "TotalCalls",
                              "unit": "Count"
                            },
                            {
                              "aggregationType": "Total",
                              "availabilities": [
                                {
                                  "blobDuration": "PT1H",
                                  "timeGrain": "PT1M"
                                },
                                {
                                  "blobDuration": "P1D",
                                  "timeGrain": "PT1H"
                                }
                              ],
                              "displayDescription": "Number of successful calls.",
                              "displayName": "Successful Calls",
                              "name": "SuccessfulCalls",
                              "unit": "Count"
                            },
                            {
                              "aggregationType": "Total",
                              "availabilities": [
                                {
                                  "blobDuration": "PT1H",
                                  "timeGrain": "PT1M"
                                },
                                {
                                  "blobDuration": "P1D",
                                  "timeGrain": "PT1H"
                                }
                              ],
                              "displayDescription": "Total number of calls with error response (HTTP response code 4xx or 5xx).",
                              "displayName": "Total Errors",
                              "name": "TotalErrors",
                              "unit": "Count"
                            },
                            {
                              "aggregationType": "Total",
                              "availabilities": [
                                {
                                  "blobDuration": "PT1H",
                                  "timeGrain": "PT1M"
                                },
                                {
                                  "blobDuration": "P1D",
                                  "timeGrain": "PT1H"
                                }
                              ],
                              "displayDescription": "Number of calls that exceeded rate or quota limit.",
                              "displayName": "Blocked Calls",
                              "name": "BlockedCalls",
                              "unit": "Count"
                            },
                            {
                              "aggregationType": "Total",
                              "availabilities": [
                                {
                                  "blobDuration": "PT1H",
                                  "timeGrain": "PT1M"
                                },
                                {
                                  "blobDuration": "P1D",
                                  "timeGrain": "PT1H"
                                }
                              ],
                              "displayDescription": "Number of calls with service internal error (HTTP response code 5xx).",
                              "displayName": "Server Errors",
                              "name": "ServerErrors",
                              "unit": "Count"
                            },
                            {
                              "aggregationType": "Total",
                              "availabilities": [
                                {
                                  "blobDuration": "PT1H",
                                  "timeGrain": "PT1M"
                                },
                                {
                                  "blobDuration": "P1D",
                                  "timeGrain": "PT1H"
                                }
                              ],
                              "displayDescription": "Number of calls with client side error (HTTP response code 4xx).",
                              "displayName": "Client Errors",
                              "name": "ClientErrors",
                              "unit": "Count"
                            },
                            {
                              "aggregationType": "Total",
                              "availabilities": [
                                {
                                  "blobDuration": "PT1H",
                                  "timeGrain": "PT1M"
                                },
                                {
                                  "blobDuration": "P1D",
                                  "timeGrain": "PT1H"
                                }
                              ],
                              "displayDescription": "Size of incoming data in bytes.",
                              "displayName": "Data In",
                              "name": "DataIn",
                              "unit": "Bytes"
                            },
                            {
                              "aggregationType": "Total",
                              "availabilities": [
                                {
                                  "blobDuration": "PT1H",
                                  "timeGrain": "PT1M"
                                },
                                {
                                  "blobDuration": "P1D",
                                  "timeGrain": "PT1H"
                                }
                              ],
                              "displayDescription": "Size of outgoing data in bytes.",
                              "displayName": "Data Out",
                              "name": "DataOut",
                              "unit": "Bytes"
                            },
                            {
                              "aggregationType": "Average",
                              "availabilities": [
                                {
                                  "blobDuration": "PT1H",
                                  "timeGrain": "PT1M"
                                },
                                {
                                  "blobDuration": "P1D",
                                  "timeGrain": "PT1H"
                                }
                              ],
                              "displayDescription": "Latency in milliseconds.",
                              "displayName": "Latency",
                              "name": "Latency",
                              "unit": "MilliSeconds"
                            }
                          ]
                        }
                      }
                    },
                    {
                      "display": {
                        "description": "Description of the operation.",
                        "operation": "Operation display name.",
                        "provider": "Resource Provider display name.",
                        "resource": "Resource type display name."
                      },
                      "name": "Microsoft.CognitiveServices/Operations/read",
                      "origin": "user,system"
                    },
                    {
                      "display": {
                        "description": "Reads avaible SKUs for an subscription.",
                        "operation": "Reads avaible SKUs for an subscription.",
                        "provider": "Microsoft Cognitive Services",
                        "resource": "Cognitive Services API Account"
                      },
                      "name": "Microsoft.CognitiveServices/checkSkuAvailabilityaction",
                      "origin": "user,system"
                    },
                    {
                      "display": {
                        "description": "Allow to create CognitiveServices account for an given subscription/ApiKind/location.",
                        "operation": "Allow to create CognitiveServices account for an given subscription/ApiKind/location.",
                        "provider": "Microsoft Cognitive Services",
                        "resource": "Cognitive Services API Account"
                      },
                      "name": "Microsoft.CognitiveServices/updateAccountsCreationSettingswrite",
                      "origin": "user,system"
                    },
                    {
                      "display": {
                        "description": "Get settings for given subscription/ApiKind/location.",
                        "operation": "Get settings for given subscription/ApiKind/location.",
                        "provider": "Microsoft Cognitive Services",
                        "resource": "Cognitive Services API Account"
                      },
                      "name": "Microsoft.CognitiveServices/accountsCreationSettingsread",
                      "origin": "user,system"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/accounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CognitiveServicesAccountListResult"
                }
              }
            },
            "description": "The resource provider should return 200 (OK) to indicate that the operation completed successfully. For other errors (e.g. internal errors) use the appropriate HTTP error code.\nThe nextLink field is expected to point to the URL the client should use to fetch the next page (per server side paging). This matches the OData guidelines for paged responses. If a resource provider does not support paging, it should return the same body but leave nextLink empty for future compatibility.\nFor a detailed explanation of each field in the response body, please refer to the request body description in the PUT resource section. "
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "CognitiveServicesAccounts"
        ],
        "description": "Returns all the resources of a particular type belonging to a subscription.",
        "operationId": "Accounts_List",
        "x-ms-examples": {
          "List Accounts by Subscription": {
            "parameters": {
              "api-version": "2017-04-18",
              "subscriptionId": "f9b96b36-1f5e-4021-8959-51527e26e6d3"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "etag": "W/\"datetime'2017-03-27T11%3A19%3A08.762494Z'\"",
                      "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/bvttest/providers/Microsoft.CognitiveServices/accounts/bingSearch",
                      "kind": "Bing.Search",
                      "location": "global",
                      "name": "bingSearch",
                      "properties": {
                        "endpoint": "https://api.cognitive.microsoft.com/bing/v5.0",
                        "internalId": "ceebe1e8e40f44e69554c1a759de4cf9",
                        "provisioningState": "Succeeded"
                      },
                      "sku": {
                        "name": "S1"
                      },
                      "type": "Microsoft.CognitiveServices/accounts"
                    },
                    {
                      "tags": {
                        "can't delete it successfully": "v-yunjin"
                      },
                      "etag": "W/\"datetime'2017-03-31T08%3A57%3A07.4499566Z'\"",
                      "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/bvttest/providers/Microsoft.CognitiveServices/accounts/CrisProd",
                      "kind": "CRIS",
                      "location": "westus",
                      "name": "CrisProd",
                      "properties": {
                        "endpoint": "https://westus.api.cognitive.microsoft.com/sts/v1.0",
                        "internalId": "cb9a1ad4861a46ef8e440268f763d09e",
                        "provisioningState": "Succeeded"
                      },
                      "sku": {
                        "name": "S0"
                      },
                      "type": "Microsoft.CognitiveServices/accounts"
                    },
                    {
                      "etag": "W/\"datetime'2017-03-27T11%3A15%3A23.5232645Z'\"",
                      "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/bvttest/providers/Microsoft.CognitiveServices/accounts/rayrptest0308",
                      "kind": "Face",
                      "location": "westus",
                      "name": "rayrptest0308",
                      "properties": {
                        "endpoint": "https://westus.api.cognitive.microsoft.com/face/v1.0",
                        "internalId": "c83b58e58b6f4049a6d0d1328473326c",
                        "provisioningState": "Succeeded"
                      },
                      "sku": {
                        "name": "S0"
                      },
                      "type": "Microsoft.CognitiveServices/accounts"
                    },
                    {
                      "etag": "W/\"datetime'2017-04-04T02%3A07%3A07.3957572Z'\"",
                      "id": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/bvttest/providers/Microsoft.CognitiveServices/accounts/raytest02",
                      "kind": "Emotion",
                      "location": "westus",
                      "name": "raytest02",
                      "properties": {
                        "endpoint": "https://westus.api.cognitive.microsoft.com/emotion/v1.0",
                        "internalId": "c118e8b8f4534cff991f2b7c216342df",
                        "provisioningState": "Succeeded"
                      },
                      "sku": {
                        "name": "S0"
                      },
                      "type": "Microsoft.CognitiveServices/accounts"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/checkDomainAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckDomainAvailabilityResult"
                }
              }
            },
            "description": "OK."
          }
        },
        "tags": [
          "CognitiveServicesAccounts"
        ],
        "description": "Check whether a domain is available.",
        "operationId": "CheckDomainAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckDomainAvailabilityParameter"
              }
            }
          },
          "description": "Check Domain Availability parameter.",
          "required": true
        },
        "x-ms-examples": {
          "Check SKU Availability": {
            "parameters": {
              "parameters": {
                "subdomainName": "contosodemoapp1",
                "type": "Microsoft.CognitiveServices/accounts"
              },
              "api-version": "2017-04-18",
              "location": "westus",
              "subscriptionId": "f9b96b36-1f5e-4021-8959-51527e26e6d3"
            },
            "responses": {
              "200": {
                "body": {
                  "isSubdomainAvailable": false,
                  "reason": "Sub domain name 'contosodemoapp1' is not valid",
                  "subdomainName": "contosodemoapp1",
                  "type": "Microsoft.CognitiveServices/accounts"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/locations/{location}/checkSkuAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/locationParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckSkuAvailabilityResultList"
                }
              }
            },
            "description": "OK."
          }
        },
        "tags": [
          "CognitiveServicesAccounts"
        ],
        "description": "Check available SKUs.",
        "operationId": "CheckSkuAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckSkuAvailabilityParameter"
              }
            }
          },
          "description": "Check SKU Availability POST body.",
          "required": true
        },
        "x-ms-examples": {
          "Check SKU Availability": {
            "parameters": {
              "parameters": {
                "kind": "Face",
                "skus": [
                  "S0"
                ],
                "type": "Microsoft.CognitiveServices/accounts"
              },
              "api-version": "2017-04-18",
              "location": "westus",
              "subscriptionId": "f9b96b36-1f5e-4021-8959-51527e26e6d3"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "kind": "Face",
                      "message": null,
                      "reason": null,
                      "skuAvailable": true,
                      "skuName": "S0",
                      "type": "Microsoft.CognitiveServices/accounts"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/skus": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceSkusResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Skus",
          "CognitiveServicesAccounts"
        ],
        "description": "Gets the list of Microsoft.CognitiveServices SKUs available for your Subscription.",
        "operationId": "ResourceSkus_List",
        "x-ms-examples": {
          "Regenerate Keys": {
            "parameters": {
              "api-version": "2017-04-18",
              "subscriptionId": "f1c637e4-72ec-4f89-8d2b-0f933c036002"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "kind": "Bing.Speech",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "Bing.Speech",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "SpeechTranslation",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "SpeechTranslation",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "SpeechTranslation",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S2",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "SpeechTranslation",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S3",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "SpeechTranslation",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S4",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextTranslation",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "TextTranslation",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextTranslation",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S2",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextTranslation",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S3",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextTranslation",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S4",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Bing.Search.v7",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Bing.Search.v7",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S2",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Bing.Search.v7",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S3",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Bing.Search.v7",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S4",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Bing.Search.v7",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S5",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Bing.Search.v7",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S6",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Bing.Search.v7",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S7",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Bing.Search.v7",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S8",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Bing.Autosuggest.v7",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Bing.CustomSearch",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Bing.SpellCheck.v7",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Bing.EntitySearch",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "Bing.EntitySearch",
                      "locations": [
                        "GLOBAL"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "AUSTRALIAEAST"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "AUSTRALIAEAST"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "AUSTRALIAEAST"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "AUSTRALIAEAST"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "AUSTRALIAEAST"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "AUSTRALIAEAST"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "AUSTRALIAEAST"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "AUSTRALIAEAST"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "AUSTRALIAEAST"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "AUSTRALIAEAST"
                      ],
                      "name": "S2",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "AUSTRALIAEAST"
                      ],
                      "name": "S3",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "AUSTRALIAEAST"
                      ],
                      "name": "S4",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "AUSTRALIAEAST"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "AUSTRALIAEAST"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "BRAZILSOUTH"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "BRAZILSOUTH"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "BRAZILSOUTH"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "BRAZILSOUTH"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "BRAZILSOUTH"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "BRAZILSOUTH"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "BRAZILSOUTH"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "BRAZILSOUTH"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "BRAZILSOUTH"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "BRAZILSOUTH"
                      ],
                      "name": "S2",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "BRAZILSOUTH"
                      ],
                      "name": "S3",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "BRAZILSOUTH"
                      ],
                      "name": "S4",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "BRAZILSOUTH"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "BRAZILSOUTH"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "CENTRALUSEUAP"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "CENTRALUSEUAP"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "CENTRALUSEUAP"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "CENTRALUSEUAP"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "CENTRALUSEUAP"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "CENTRALUSEUAP"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "CENTRALUSEUAP"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "CENTRALUSEUAP"
                      ],
                      "name": "S2",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "CENTRALUSEUAP"
                      ],
                      "name": "S3",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "CENTRALUSEUAP"
                      ],
                      "name": "S4",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "CENTRALUSEUAP"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "CENTRALUSEUAP"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "CENTRALUSEUAP"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "CENTRALUSEUAP"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "S2",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "S3",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "S4",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "SpeakerRecognition",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "SpeakerRecognition",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "CustomSpeech",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "CustomSpeech",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "S2",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "WESTUS"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "WESTUS2"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "WESTUS2"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "WESTUS2"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "WESTUS2"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "WESTUS2"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "WESTUS2"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTUS2"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTUS2"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTUS2"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTUS2"
                      ],
                      "name": "S2",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTUS2"
                      ],
                      "name": "S3",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTUS2"
                      ],
                      "name": "S4",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "WESTUS2"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "WESTUS2"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "WESTEUROPE"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "WESTEUROPE"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "WESTEUROPE"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "WESTEUROPE"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "WESTEUROPE"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "WESTEUROPE"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "WESTEUROPE"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "WESTEUROPE"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTEUROPE"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTEUROPE"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTEUROPE"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTEUROPE"
                      ],
                      "name": "S2",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTEUROPE"
                      ],
                      "name": "S3",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTEUROPE"
                      ],
                      "name": "S4",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "NORTHEUROPE"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "NORTHEUROPE"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "NORTHEUROPE"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "NORTHEUROPE"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "NORTHEUROPE"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "NORTHEUROPE"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "NORTHEUROPE"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "NORTHEUROPE"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "NORTHEUROPE"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "NORTHEUROPE"
                      ],
                      "name": "S2",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "NORTHEUROPE"
                      ],
                      "name": "S3",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "NORTHEUROPE"
                      ],
                      "name": "S4",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "NORTHEUROPE"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "NORTHEUROPE"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "SOUTHEASTASIA"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "SOUTHEASTASIA"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "SOUTHEASTASIA"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "SOUTHEASTASIA"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "SOUTHEASTASIA"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "SOUTHEASTASIA"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "SOUTHEASTASIA"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "SOUTHEASTASIA"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "SOUTHEASTASIA"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "SOUTHEASTASIA"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "SOUTHEASTASIA"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "SOUTHEASTASIA"
                      ],
                      "name": "S2",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "SOUTHEASTASIA"
                      ],
                      "name": "S3",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "SOUTHEASTASIA"
                      ],
                      "name": "S4",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "EASTASIA"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "EASTASIA"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "EASTASIA"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "EASTASIA"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "EASTASIA"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "EASTASIA"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "EASTASIA"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "EASTASIA"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "EASTASIA"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "EASTASIA"
                      ],
                      "name": "S2",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "EASTASIA"
                      ],
                      "name": "S3",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "EASTASIA"
                      ],
                      "name": "S4",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "EASTASIA"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "EASTASIA"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "WESTCENTRALUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "WESTCENTRALUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "WESTCENTRALUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "WESTCENTRALUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "WESTCENTRALUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "WESTCENTRALUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "WESTCENTRALUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "WESTCENTRALUS"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTCENTRALUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTCENTRALUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTCENTRALUS"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTCENTRALUS"
                      ],
                      "name": "S2",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTCENTRALUS"
                      ],
                      "name": "S3",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "WESTCENTRALUS"
                      ],
                      "name": "S4",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "S2",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "S3",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "S4",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "CustomVision.Training",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "CustomVision.Training",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "CustomVision.Prediction",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "CustomVision.Prediction",
                      "locations": [
                        "SOUTHCENTRALUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "EASTUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "Face",
                      "locations": [
                        "EASTUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "EASTUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ComputerVision",
                      "locations": [
                        "EASTUS"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "EASTUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "ContentModerator",
                      "locations": [
                        "EASTUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "EASTUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Free"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "EASTUS"
                      ],
                      "name": "S0",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "EASTUS"
                      ],
                      "name": "S1",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "EASTUS"
                      ],
                      "name": "S2",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "EASTUS"
                      ],
                      "name": "S3",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "TextAnalytics",
                      "locations": [
                        "EASTUS"
                      ],
                      "name": "S4",
                      "resourceType": "accounts",
                      "restrictions": [],
                      "tier": "Standard"
                    },
                    {
                      "kind": "LUIS",
                      "locations": [
                        "EASTUS"
                      ],
                      "name": "F0",
                      "resourceType": "accounts",
                      "restrictions": [],
[...]
