{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "partnerapis@walmartlabs.com",
      "x-twitter": "Walmart"
    },
    "description": "Please make sure you use the correct version of the APIs for your use case. To find out the appropriate version, go to the API Docs  drop down on the menu.",
    "title": "Orders API",
    "version": "3.0.1",
    "x-apisguru-categories": [
      "ecommerce"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/walmart.com/order/3.0.1/swagger.json",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_Walmart_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://developer.walmart.com/v1/swaggerProxy?type=order",
        "version": "2.0"
      }
    ],
    "x-providerName": "walmart.com",
    "x-serviceName": "order"
  },
  "servers": [
    {
      "url": "https://developer.walmart.com/orderProxy/order-api-doc-app/rest"
    }
  ],
  "paths": {
    "/v3/orders": {
      "get": {
        "parameters": [
          {
            "description": "Ship Node",
            "in": "query",
            "name": "shipNode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Retrieves all orders with the specified SKU.",
            "in": "query",
            "name": "sku",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Retrives the details of the specified customerOrderId.",
            "in": "query",
            "name": "customerOrderId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The purchase order ID associated with the order to retrieve. One customer order can have multiple purchase orders associated with it.",
            "in": "query",
            "name": "purchaseOrderId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The list of orders corresponding to the requested status.",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit orders to those created after this date or a timestamp.",
            "in": "query",
            "name": "createdStartDate",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit orders to those created before this date or timestamp.",
            "in": "query",
            "name": "createdEndDate",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit orders to those that have order lines with an expected ship date after this date.",
            "in": "query",
            "name": "fromExpectedShipDate",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit orders to those that have order lines with an expected ship date before this date. ",
            "in": "query",
            "name": "toExpectedShipDate",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of orders to be returned. Do not set this parameter to over 200 orders.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 10,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Channel Type",
            "in": "header",
            "name": "WM_CONSUMER.CHANNEL.TYPE",
            "required": true,
            "schema": {
              "default": "SWAGGER_CHANNEL_TYPE",
              "enum": [
                "SWAGGER_CHANNEL_TYPE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Your Consumer ID",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Epoch timestamp",
            "in": "header",
            "name": "WM_SEC.TIMESTAMP",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "Authentication signature",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "The Service name",
            "in": "header",
            "name": "WM_SVC.NAME",
            "required": true,
            "schema": {
              "default": "Walmart Marketplace",
              "type": "string"
            }
          },
          {
            "description": "A Transaction ID",
            "in": "header",
            "name": "WM_QOS.CORRELATION_ID",
            "required": true,
            "schema": {
              "default": "123456abcdef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "tags": [
          "Version 3"
        ],
        "description": "You can display a list of all orders with the query parameter filter criteria.",
        "operationId": "getAllOrders",
        "summary": "Get all orders"
      }
    },
    "/v3/orders/released": {
      "get": {
        "parameters": [
          {
            "description": "Ship Node",
            "in": "query",
            "name": "shipNode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit orders to those created after this date or a timestamp.",
            "in": "query",
            "name": "createdStartDate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of orders to be returned. Do not set this parameter to over 200 orders.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Channel Type",
            "in": "header",
            "name": "WM_CONSUMER.CHANNEL.TYPE",
            "required": true,
            "schema": {
              "default": "SWAGGER_CHANNEL_TYPE",
              "enum": [
                "SWAGGER_CHANNEL_TYPE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Your Consumer ID",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Epoch timestamp",
            "in": "header",
            "name": "WM_SEC.TIMESTAMP",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "Authentication signature",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "The Service name",
            "in": "header",
            "name": "WM_SVC.NAME",
            "required": true,
            "schema": {
              "default": "Walmart Marketplace",
              "type": "string"
            }
          },
          {
            "description": "A Transaction ID",
            "in": "header",
            "name": "WM_QOS.CORRELATION_ID",
            "required": true,
            "schema": {
              "default": "123456abcdef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "tags": [
          "Version 3"
        ],
        "description": "You can display all released orders that have been created and are ready for fulfilment.",
        "operationId": "getReleasedOrders",
        "summary": "Get all released orders"
      }
    },
    "/v3/orders/released{nextCursor}": {
      "get": {
        "parameters": [
          {
            "description": "Used for pagination when there are more than 200 orders to retrieve. The nextCursor value of the returned response includes a link to another GET call to retrieve the next page. Copy the link and paste it in the next call.",
            "in": "path",
            "name": "nextCursor",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Channel Type",
            "in": "header",
            "name": "WM_CONSUMER.CHANNEL.TYPE",
            "required": true,
            "schema": {
              "default": "SWAGGER_CHANNEL_TYPE",
              "enum": [
                "SWAGGER_CHANNEL_TYPE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Your Consumer ID",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Epoch timestamp",
            "in": "header",
            "name": "WM_SEC.TIMESTAMP",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "Authentication signature",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "The Service name",
            "in": "header",
            "name": "WM_SVC.NAME",
            "required": true,
            "schema": {
              "default": "Walmart Marketplace",
              "type": "string"
            }
          },
          {
            "description": "A Transaction ID",
            "in": "header",
            "name": "WM_QOS.CORRELATION_ID",
            "required": true,
            "schema": {
              "default": "123456abcdef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "tags": [
          "Version 3"
        ],
        "description": "You can display all released orders that have been created and are ready for fulfilment with nextCursor path parameter.",
        "operationId": "getNextCursorReleasedOrders",
        "summary": "Get released orders for next page"
      }
    },
    "/v3/orders/{purchaseOrderId}": {
      "get": {
        "parameters": [
          {
            "description": "Purchase Order ID",
            "in": "path",
            "name": "purchaseOrderId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Ship Node",
            "in": "query",
            "name": "shipNode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Channel Type",
            "in": "header",
            "name": "WM_CONSUMER.CHANNEL.TYPE",
            "required": true,
            "schema": {
              "default": "SWAGGER_CHANNEL_TYPE",
              "enum": [
                "SWAGGER_CHANNEL_TYPE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Your Consumer ID",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Epoch timestamp",
            "in": "header",
            "name": "WM_SEC.TIMESTAMP",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "Authentication signature",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "The Service name",
            "in": "header",
            "name": "WM_SVC.NAME",
            "required": true,
            "schema": {
              "default": "Walmart Marketplace",
              "type": "string"
            }
          },
          {
            "description": "A Transaction ID",
            "in": "header",
            "name": "WM_QOS.CORRELATION_ID",
            "required": true,
            "schema": {
              "default": "123456abcdef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "tags": [
          "Version 3"
        ],
        "description": "You can display details of a specific order based on the purchaseOrderId.",
        "operationId": "getOrderByPurchaseOrderId",
        "summary": "Get an order"
      }
    },
    "/v3/orders/{purchaseOrderId}/acknowledge": {
      "post": {
        "parameters": [
          {
            "description": "Purchase Order ID",
            "in": "path",
            "name": "purchaseOrderId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Ship Node",
            "in": "query",
            "name": "shipNode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Channel Type",
            "in": "header",
            "name": "WM_CONSUMER.CHANNEL.TYPE",
            "required": true,
            "schema": {
              "default": "SWAGGER_CHANNEL_TYPE",
              "enum": [
                "SWAGGER_CHANNEL_TYPE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Your Consumer ID",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Epoch timestamp",
            "in": "header",
            "name": "WM_SEC.TIMESTAMP",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "Authentication signature",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "The Service name",
            "in": "header",
            "name": "WM_SVC.NAME",
            "required": true,
            "schema": {
              "default": "Walmart Marketplace",
              "type": "string"
            }
          },
          {
            "description": "A Transaction ID",
            "in": "header",
            "name": "WM_QOS.CORRELATION_ID",
            "required": true,
            "schema": {
              "default": "123456abcdef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "tags": [
          "Version 3"
        ],
        "description": "You can acknowledge an entire order, including all of its order lines. Walmart business rules require to acknowledge orders within\u00a0four\u00a0hour of receipt of the order, except in extenuating circumstances.",
        "operationId": "acknowledgeOrders",
        "summary": "Acknowledge orders"
      }
    },
    "/v3/orders/{purchaseOrderId}/cancel": {
      "post": {
        "parameters": [
          {
            "description": "Purchase Order ID",
            "in": "path",
            "name": "purchaseOrderId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Ship Node",
            "in": "query",
            "name": "shipNode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Channel Type",
            "in": "header",
            "name": "WM_CONSUMER.CHANNEL.TYPE",
            "required": true,
            "schema": {
              "default": "SWAGGER_CHANNEL_TYPE",
              "enum": [
                "SWAGGER_CHANNEL_TYPE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Your Consumer ID",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Epoch timestamp",
            "in": "header",
            "name": "WM_SEC.TIMESTAMP",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "Authentication signature",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "The Service name",
            "in": "header",
            "name": "WM_SVC.NAME",
            "required": true,
            "schema": {
              "default": "Walmart Marketplace",
              "type": "string"
            }
          },
          {
            "description": "A Transaction ID",
            "in": "header",
            "name": "WM_QOS.CORRELATION_ID",
            "required": true,
            "schema": {
              "default": "123456abcdef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "tags": [
          "Version 3"
        ],
        "description": "You can cancel one or more order lines. You must include a purchaseOrderLineNumber when cancelling an order. After cancelling your order, update the inventory for the cancelled order and send it in the next inventory feed.",
        "operationId": "cancelOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/xml": {
              "schema": {
                "type": "string"
              }
            }
          },
          "description": "Request body",
          "required": true
        },
        "summary": "Cancel order lines"
      }
    },
    "/v3/orders/{purchaseOrderId}/refund": {
      "post": {
        "parameters": [
          {
            "description": "Purchase Order ID",
            "in": "path",
            "name": "purchaseOrderId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Ship Node",
            "in": "query",
            "name": "shipNode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Channel Type",
            "in": "header",
            "name": "WM_CONSUMER.CHANNEL.TYPE",
            "required": true,
            "schema": {
              "default": "SWAGGER_CHANNEL_TYPE",
              "enum": [
                "SWAGGER_CHANNEL_TYPE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Your Consumer ID",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Epoch timestamp",
            "in": "header",
            "name": "WM_SEC.TIMESTAMP",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "Authentication signature",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "The Service name",
            "in": "header",
            "name": "WM_SVC.NAME",
            "required": true,
            "schema": {
              "default": "Walmart Marketplace",
              "type": "string"
            }
          },
          {
            "description": "A Transaction ID",
            "in": "header",
            "name": "WM_QOS.CORRELATION_ID",
            "required": true,
            "schema": {
              "default": "123456abcdef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "tags": [
          "Version 3"
        ],
        "description": "You can refund one or more order lines that have been shipped. The response to a successful call contains the order with the refunded line item.",
        "operationId": "refundOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/xml": {
              "schema": {
                "type": "string"
              }
            }
          },
          "description": "Request body",
          "required": true
        },
        "summary": "Refund order lines"
      }
    },
    "/v3/orders/{purchaseOrderId}/shipping": {
      "post": {
        "parameters": [
          {
            "description": "Purchase Order ID",
            "in": "path",
            "name": "purchaseOrderId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Ship Node",
            "in": "query",
            "name": "shipNode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Channel Type",
            "in": "header",
            "name": "WM_CONSUMER.CHANNEL.TYPE",
            "required": true,
            "schema": {
              "default": "SWAGGER_CHANNEL_TYPE",
              "enum": [
                "SWAGGER_CHANNEL_TYPE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Your Consumer ID",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Epoch timestamp",
            "in": "header",
            "name": "WM_SEC.TIMESTAMP",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "Authentication signature",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "The Service name",
            "in": "header",
            "name": "WM_SVC.NAME",
            "required": true,
            "schema": {
              "default": "Walmart Marketplace",
              "type": "string"
            }
          },
          {
            "description": "A Transaction ID",
            "in": "header",
            "name": "WM_QOS.CORRELATION_ID",
            "required": true,
            "schema": {
              "default": "123456abcdef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "tags": [
          "Version 3"
        ],
        "description": "You can change the status of order lines to \"Shipped\" and trigger the charge to a customer. You must acknowledge your orders before sending a shipping update to avoid underselling. An order line, once marked as shipped, cannot be updated.",
        "operationId": "shippingOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/xml": {
              "schema": {
                "type": "string"
              }
            }
          },
          "description": "Request body",
          "required": true
        },
        "summary": "Shipping updates"
      }
    },
    "/v3/orders{nextCursor}": {
      "get": {
        "parameters": [
          {
            "description": "Used for pagination when there are more than 200 orders to retrieve. The nextCursor value of the returned response includes a link to another GET call to retrieve the next page. Copy the link and paste it in the next call.",
            "in": "path",
            "name": "nextCursor",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "application/xml,\napplication/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "default": "application/xml",
              "enum": [
                "application/xml",
                "application/json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Channel Type",
            "in": "header",
            "name": "WM_CONSUMER.CHANNEL.TYPE",
            "required": true,
            "schema": {
              "default": "SWAGGER_CHANNEL_TYPE",
              "enum": [
                "SWAGGER_CHANNEL_TYPE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Your Consumer ID",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Epoch timestamp",
            "in": "header",
            "name": "WM_SEC.TIMESTAMP",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "Authentication signature",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "The Service name",
            "in": "header",
            "name": "WM_SVC.NAME",
            "required": true,
            "schema": {
              "default": "Walmart Marketplace",
              "type": "string"
            }
          },
          {
            "description": "A Transaction ID",
            "in": "header",
            "name": "WM_QOS.CORRELATION_ID",
            "required": true,
            "schema": {
              "default": "123456abcdef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "tags": [
          "Version 3"
        ],
        "description": "You can display a list of all orders with nextCursor path parameter pagination criteria.",
        "operationId": "getAllOrdersNext",
        "summary": "Get orders for next page"
      }
    }
  },
  "components": {
    "requestBodies": {
      "cancelOrderRequestBody": {
        "content": {
          "application/json": {
            "schema": {
              "type": "string"
            }
          },
          "application/xml": {
            "schema": {
              "type": "string"
            }
          }
        },
        "description": "Request body",
        "required": true
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://REPLACE_WITH_ACTUAL_URL/authorize",
            "tokenUrl": "https://REPLACE_WITH_ACTUAL_URL/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Version 3"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ]
}