{
  "openapi": "3.0.3",
  "info": {
    "title": "MojoAuth API",
    "description": "MojoAuth is a passwordless authentication API supporting Email OTP, Phone/SMS OTP, WhatsApp OTP, Magic Links, Passkeys/WebAuthn, TOTP/HOTP authenticator apps, and social login. A single API for all OTP and passwordless methods with comprehensive SDKs.",
    "version": "1.0.0",
    "contact": {
      "name": "MojoAuth",
      "url": "https://mojoauth.com"
    }
  },
  "servers": [
    {
      "url": "https://api.mojoauth.com/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/users/magiclink": {
      "post": {
        "operationId": "sendMagicLink",
        "summary": "Send magic link via email",
        "description": "Sends a magic link to the specified email address for passwordless authentication. The user clicks the link to authenticate.",
        "tags": ["Magic Link"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MagicLinkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Magic link sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MagicLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        }
      }
    },
    "/users/emailotp": {
      "post": {
        "operationId": "sendEmailOTP",
        "summary": "Send OTP via email",
        "description": "Sends a one-time password to the specified email address for authentication.",
        "tags": ["Email OTP"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailOTPRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OTPResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/emailotp/verify": {
      "post": {
        "operationId": "verifyEmailOTP",
        "summary": "Verify email OTP",
        "description": "Verifies the one-time password sent to the user's email.",
        "tags": ["Email OTP"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyOTPRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired OTP"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/phone": {
      "post": {
        "operationId": "sendPhoneOTP",
        "summary": "Send OTP via SMS",
        "description": "Sends a one-time password to the specified phone number via SMS.",
        "tags": ["Phone OTP"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneOTPRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OTPResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/phone/verify": {
      "post": {
        "operationId": "verifyPhoneOTP",
        "summary": "Verify phone OTP",
        "description": "Verifies the one-time password sent to the user's phone number.",
        "tags": ["Phone OTP"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyPhoneOTPRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired OTP"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/magiclink/verify": {
      "get": {
        "operationId": "verifyMagicLink",
        "summary": "Verify magic link status",
        "description": "Checks the status of a magic link authentication request using the state ID.",
        "tags": ["Magic Link"],
        "parameters": [
          {
            "name": "state_id",
            "in": "query",
            "required": true,
            "description": "The state ID returned when the magic link was sent",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Magic link verification status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid state ID"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/token/verify": {
      "get": {
        "operationId": "verifyToken",
        "summary": "Verify access token",
        "description": "Verifies the validity of a JWT access token.",
        "tags": ["Token"],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "The JWT access token to verify",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token is valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenVerifyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token is invalid or expired"
          }
        }
      }
    },
    "/token/refresh": {
      "post": {
        "operationId": "refreshToken",
        "summary": "Refresh access token",
        "description": "Refreshes an expired access token using a valid refresh token.",
        "tags": ["Token"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["refresh_token"],
                "properties": {
                  "refresh_token": {
                    "type": "string",
                    "description": "The refresh token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New access token generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid refresh token"
          }
        }
      }
    },
    "/users/whatsapp": {
      "post": {
        "operationId": "sendWhatsAppOTP",
        "summary": "Send OTP via WhatsApp",
        "description": "Sends a one-time password to the specified phone number via WhatsApp.",
        "tags": ["WhatsApp OTP"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneOTPRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully via WhatsApp",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OTPResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/whatsapp/verify": {
      "post": {
        "operationId": "verifyWhatsAppOTP",
        "summary": "Verify WhatsApp OTP",
        "description": "Verifies the one-time password sent via WhatsApp.",
        "tags": ["WhatsApp OTP"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyPhoneOTPRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired OTP"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/passkey/register": {
      "post": {
        "operationId": "registerPasskey",
        "summary": "Register a passkey",
        "description": "Initiates WebAuthn/passkey registration for the specified user.",
        "tags": ["Passkey"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["identifier"],
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "User identifier (email or username)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passkey registration options",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "registration_options": {
                      "type": "object",
                      "description": "WebAuthn PublicKeyCredentialCreationOptions"
                    },
                    "state_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/passkey/login": {
      "post": {
        "operationId": "loginWithPasskey",
        "summary": "Authenticate with passkey",
        "description": "Initiates WebAuthn/passkey authentication for the specified user.",
        "tags": ["Passkey"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["identifier"],
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "User identifier (email or username)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passkey authentication options",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authentication_options": {
                      "type": "object",
                      "description": "WebAuthn PublicKeyCredentialRequestOptions"
                    },
                    "state_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "X-API-Key",
        "in": "header",
        "description": "MojoAuth API key for authentication"
      }
    },
    "schemas": {
      "MagicLinkRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address to send the magic link to"
          },
          "redirect_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect the user after clicking the magic link"
          },
          "language": {
            "type": "string",
            "description": "Language code for the email template"
          }
        }
      },
      "MagicLinkResponse": {
        "type": "object",
        "properties": {
          "state_id": {
            "type": "string",
            "description": "Unique state identifier to poll for magic link verification status"
          },
          "is_authenticated": {
            "type": "boolean",
            "description": "Whether the user has been authenticated"
          }
        }
      },
      "EmailOTPRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address to send the OTP to"
          },
          "language": {
            "type": "string",
            "description": "Language code for the email template"
          }
        }
      },
      "PhoneOTPRequest": {
        "type": "object",
        "required": ["phone"],
        "properties": {
          "phone": {
            "type": "string",
            "description": "Phone number in E.164 format (e.g., +1234567890)"
          }
        }
      },
      "OTPResponse": {
        "type": "object",
        "properties": {
          "state_id": {
            "type": "string",
            "description": "Unique state identifier for OTP verification"
          }
        }
      },
      "VerifyOTPRequest": {
        "type": "object",
        "required": ["state_id", "otp"],
        "properties": {
          "state_id": {
            "type": "string",
            "description": "The state ID returned when the OTP was sent"
          },
          "otp": {
            "type": "string",
            "description": "The one-time password received by the user"
          }
        }
      },
      "VerifyPhoneOTPRequest": {
        "type": "object",
        "required": ["state_id", "otp"],
        "properties": {
          "state_id": {
            "type": "string",
            "description": "The state ID returned when the OTP was sent"
          },
          "otp": {
            "type": "string",
            "description": "The one-time password received by the user"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "is_authenticated": {
            "type": "boolean",
            "description": "Whether the authentication was successful"
          },
          "access_token": {
            "type": "string",
            "description": "JWT access token for the authenticated session"
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token to renew the access token"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "TokenVerifyResponse": {
        "type": "object",
        "properties": {
          "is_valid": {
            "type": "boolean",
            "description": "Whether the token is valid"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Unique user identifier"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address"
          },
          "phone": {
            "type": "string",
            "description": "User's phone number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Account creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Magic Link",
      "description": "Passwordless authentication via magic links"
    },
    {
      "name": "Email OTP",
      "description": "One-time password authentication via email"
    },
    {
      "name": "Phone OTP",
      "description": "One-time password authentication via SMS"
    },
    {
      "name": "WhatsApp OTP",
      "description": "One-time password authentication via WhatsApp"
    },
    {
      "name": "Passkey",
      "description": "WebAuthn/passkey authentication"
    },
    {
      "name": "Token",
      "description": "Token verification and refresh"
    }
  ]
}