{
  "swagger": "2.0",
  "info": {
    "title": "Arcopay PSD2 API",
    "description": "La estandarizaci\u00f3n de la conexi\u00f3n con cualquier banco en tiempo real.",
    "version": "1.3.5",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Afterbanks/Afterbanks-PSD2-ES/1.3.5/swagger.json"
  },
  "host": "apipsd2.arcopay.io",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/listOfSupportedBanks/": {
      "get": {
        "summary": "Listado bancos",
        "description": "Obt\u00e9n una lista completa de los bancos soportados, as\u00ed como los nombres de los campos necesarios para dibujar un formulario de login similar al original del banco.",
        "parameters": [
          {
            "name": "Accept-version",
            "in": "header",
            "description": "Versi\u00f3n de la API que se quiere consumir en versi\u00f3n: v.numeroDeVersion",
            "type": "string",
            "required": false,
            "default": "v.1"
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "C\u00f3digo del pa\u00eds, formato <a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO 3166-1 alpha-2</a>.<br>Ejemplo: ES para Espa\u00f1a.<br>Si no se proporciona ning\u00fan c\u00f3digo, se devolver\u00e1 la lista completa.",
            "required": false,
            "type": "string"
          },
          {
            "name": "showSandbox",
            "in": "query",
            "description": "Si no se proporciona ning\u00fan valor, no se informar\u00e1 del servicio sandbox. 1 para mostrar \u00fanicamente el servicio sandbox.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "showExtendedInformation",
            "in": "query",
            "description": "Si no se proporciona ning\u00fan valor, no se informar\u00e1 los par\u00e1metros adicionales. 1 para mostrar par\u00e1metros adicionales de la llamada.",
            "required": false,
            "type": "integer"
          }
        ],
        "tags": [
          "PSD2"
        ],
        "responses": {
          "200": {
            "description": "Array con el listado de bancos soportados y la informaci\u00f3n necesaria para dibujar su formulario de login",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/listOfSupportedBanks"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/consent/get/": {
      "post": {
        "summary": "Gestiona la obtenci\u00f3n del consentimiento por parte del usuario final.",
        "description": "La obtenci\u00f3n del consentimiento tanto para Agregaci\u00f3n Bancaria como para Iniciar un pago se realiza en dos etapas: </br> 1- Primera llamada a este m\u00e9todo, que genera un enlace tipo follow para mostrar al usuario y que acepte el consentimiento. </br> 2- Recepci\u00f3n de la respuesta del usuario en una URL de callback en tu entorno. </br> La llamada a este m\u00e9todo responde con un enlace tipo follow link (par\u00e1metro \"follow\") para mostrar al usuario final y un identificador \u00fanico del consentimiento (par\u00e1metro \"consentId\") que le permitir\u00e1 trazar el proceso. Cuando el usuario abra la URL proporcionada y finalice el proceso, recibir\u00e1 en su sistema, a trav\u00e9s de la URL de callback indicada en el par\u00e1metro yourConsentCallback, el token junto con al identificador \u00fanico de este consentimiento \"consentId\" y globalPosition con las cuentas disponibles. El esquema que se env\u00eda a esta URL de callback est\u00e1 descrito en la definici\u00f3n consentGetCallback m\u00e1s abajo.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Accept-version",
            "in": "header",
            "description": "Versi\u00f3n de la API que se quiere consumir en versi\u00f3n: v.numeroDeVersion",
            "type": "string",
            "required": false,
            "default": "v.1"
          },
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.arcopay.io.",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "formData",
            "description": "Identificador \u00fanico para cada banco. El listado de bancos soportados se obtiene en /listOfSupportedBanks/.",
            "required": true,
            "type": "string"
          },
          {
            "name": "grantType",
            "type": "string",
            "in": "formData",
            "required": true,
            "description": "Tipo de consentimiento solicitado. Acepta uno de los siguientes: </br> - read: Agregaci\u00f3n de Cuentas, obtendr\u00e1 el token para ser utilizado con el m\u00e9todo /transactions/ </br> - payment: Iniciaci\u00f3n de Pagos, obtendr\u00e1 el token para ser utilizado con los m\u00e9todos /payments/"
          },
          {
            "name": "validUntil",
            "in": "formData",
            "format": "date",
            "description": "Fecha hasta la que se solicita la validez del consentimiento en formato dd-mm-aaaa. El rango permitido va desde la fecha actual, hasta un m\u00e1ximo de 180 d\u00edas a partir de la fecha actual (algunas entidades solo permiten 90 d\u00edas, por lo que si la fecha informada supera el m\u00e1ximo permitido, se asignar\u00e1 autom\u00e1ticamente el m\u00e1ximo permitido para dicha entidad)",
            "required": true,
            "type": "string"
          },
          {
            "name": "dailyFrequency",
            "in": "formData",
            "description": "Este par\u00e1metro solamente aplica si el consentimiento solicitado es de Agregaci\u00f3n de Cuentas (grantType=read). Indica el n\u00famero de refrescos diarios de los que se prev\u00e9 hacer uso. El rango de valores permitidos es 1 a 4. El valor por defecto es 4.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "yourConsentCallback",
            "in": "formData",
            "description": "URL donde recibir\u00e1 el token generado. Debe ser HTTPS. Vea [/definitions/consentGetCallback](#/definitions/consentGetCallback)",
            "required": true,
            "type": "string"
          },
          {
            "name": "urlRedirect",
            "in": "formData",
            "description": "Enlace al que el usuario ser\u00e1 redireccionado una vez finalice el proceso de obtenci\u00f3n del consentimiento. Durante la redirecci\u00f3n, se a\u00f1adir\u00e1n algunos par\u00e1metros extra en la url, vea [/definitions/urlRedirectConsent](#/definitions/urlRedirectConsent).",
            "required": false,
            "type": "string"
          },
          {
            "name": "yourConsentCallbackError",
            "in": "formData",
            "description": "URL donde recibir\u00e1 informaci\u00f3n en caso de error. Debe ser HTTPS. Vea [/definitions/consentGetCallbackError](#/definitions/consentGetCallbackError)",
            "required": false,
            "type": "string"
          },
          {
            "name": "linkForMobileAppLogin",
            "in": "formData",
            "description": "Par\u00e1metro que indica que el enlace de consentimiento ser\u00e1 generado para dispositivo m\u00f3vil, con el fin de poder realizar la autenticaci\u00f3n mediante biometr\u00eda.",
            "default": 0,
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "PSD2"
        ],
        "responses": {
          "200": {
            "description": "Array of elements with consent information",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/consentGet"
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/consent/cancel/": {
      "post": {
        "summary": "Borra un consentimiento.",
        "description": "Borra un consentimiento.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Accept-version",
            "in": "header",
            "description": "Versi\u00f3n de la API que se quiere consumir en versi\u00f3n: v.numeroDeVersion",
            "type": "string",
            "required": false,
            "default": "v.1"
          },
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente.",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "formData",
            "description": "Token que habr\u00e1s obtenido a trav\u00e9s del m\u00e9todo /consent/get.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "PSD2"
        ],
        "responses": {
          "200": {
            "description": "Resultado.",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/consentCancel"
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/consent/renew/": {
      "post": {
        "summary": "Renueva un consentimiento existente",
        "description": "Ampl\u00eda el plazo de caducidad de un token existente hasta un m\u00e1ximo de 180 d\u00edas a partir de la fecha actual.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Accept-version",
            "in": "header",
            "description": "Versi\u00f3n de la API que se quiere consumir en versi\u00f3n: v.numeroDeVersion",
            "type": "string",
            "required": false,
            "default": "v.1"
          },
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente.",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "formData",
            "description": "Token que habr\u00e1s obtenido a trav\u00e9s del m\u00e9todo /consent/get.",
            "required": true,
            "type": "string"
          },
          {
            "name": "validUntil",
            "in": "formData",
            "format": "date",
            "description": "Fecha hasta la que se solicita la renovaci\u00f3n de validez del consentimiento en formato dd-mm-aaaa. El rango permitido va desde la fecha actual, hasta un m\u00e1ximo de 180 d\u00edas a partir de la fecha actual (algunas entidades solo permiten 90 d\u00edas, por lo que si la fecha informada supera el m\u00e1ximo permitido, se asignar\u00e1 autom\u00e1ticamente el m\u00e1ximo permitido para dicha entidad). Si este valor no se informa, se asignar\u00e1 autom\u00e1ticamente el m\u00e1ximo permitido para esta entidad",
            "required": false,
            "type": "string"
          },
          {
            "name": "urlRedirect",
            "in": "formData",
            "description": "Necesario \u00fanicamente en intentos de renovaci\u00f3n de consentimientos obtenidos a trav\u00e9s del WidgetPSD2. En caso de haber obtenido el consentimiento a trav\u00e9s de la apipsd2 este par\u00e1metro no es necesario. Enlace al que el usuario ser\u00e1 redireccionado una vez finalice el proceso de renovaci\u00f3n del consentimiento.",
            "required": false,
            "type": "string"
          },
          {
            "name": "yourConsentCallback",
            "in": "formData",
            "description": "Necesario \u00fanicamente en intentos de renovaci\u00f3n de consentimientos obtenidos a trav\u00e9s del WidgetPSD2. En caso de haber obtenido el consentimiento a trav\u00e9s de la apipsd2 este par\u00e1metro no es necesario. URL donde recibir\u00e1 el token generado. Debe ser HTTPS. Vea [/definitions/consentGetCallback](#/definitions/consentGetCallback)",
            "required": false,
            "type": "string"
          },
          {
            "name": "yourConsentCallbackError",
            "in": "formData",
            "description": "Necesario \u00fanicamente en intentos de renovaci\u00f3n de consentimientos obtenidos a trav\u00e9s del WidgetPSD2. En caso de haber obtenido el consentimiento a trav\u00e9s de la apipsd2 este par\u00e1metro no es necesario. URL donde recibir\u00e1 informaci\u00f3n en caso de error. Debe ser HTTPS. Vea [/definitions/consentGetCallbackError](#/definitions/consentGetCallbackError)",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "PSD2"
        ],
        "responses": {
          "200": {
            "description": "Resultado de la operaci\u00f3n.",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/consentRenew"
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/consent/info/": {
      "post": {
        "summary": "Informaci\u00f3n sobre el consentimiento",
        "description": "Devuelve toda la informaci\u00f3n disponible sobre el consentimiento (token) consultado.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Accept-version",
            "in": "header",
            "description": "Versi\u00f3n de la API que se quiere consumir en versi\u00f3n: v.numeroDeVersion",
            "type": "string",
            "required": false,
            "default": "v.1"
          },
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente.",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "formData",
            "description": "Token que habr\u00e1s obtenido a trav\u00e9s del m\u00e9todo /consent/get.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "PSD2"
        ],
        "responses": {
          "200": {
            "description": "Toda la informaci\u00f3n sobre el consentimiento.",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/consentInfo"
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/transactions/": {
      "post": {
        "summary": "Posici\u00f3n global y movimientos hasta una fecha dada.",
        "description": "Este endpoint devuelve el listado de productos y los movimientos para cada uno de los productos desde la fecha solicitada hasta el d\u00eda actual: hasta 2 a\u00f1os de transacciones para productos tipo checking y tipo card. La cabecera de respuesta de cada llamada a este endpoint encontrar\u00e1 un par\u00e1metro llamado Debug-id, que contiene un identificador \u00fanico para cada una de las llamadas que conviene guardar ya que el equipo t\u00e9cnico se lo pedir\u00e1 para abrir tickets de soporte.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Accept-version",
            "in": "header",
            "description": "Versi\u00f3n de la API que se quiere consumir en versi\u00f3n: v.numeroDeVersion",
            "type": "string",
            "required": false,
            "default": "v.1"
          },
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.arcopay.io.",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "formData",
            "description": "Este token ha sido obtenido previamente siguiendo el flujo de obtenci\u00f3n del consentimiento PSD2 mediante el m\u00e9todo consent/get.",
            "required": true,
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "formData",
            "format": "date",
            "description": "Fecha desde la que queremos obtener los movimientos en formato dd-mm-aaaa. Obligatorio cuando el valor de \"products\" es distinto de GLOBAL.",
            "required": true,
            "type": "string"
          },
          {
            "name": "products",
            "in": "formData",
            "description": "Nombres de productos bancarios (cuentas corrientes o tarjetas), separados por coma. Cabe destacar que en la primera llamada a la API, a\u00fan no conocemos los nombres de los productos que el usuario tiene contratados, por lo que este par\u00e1metro deber\u00e1 recibir el valor GLOBAL.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "PSD2"
        ],
        "responses": {
          "200": {
            "description": "Array con listado de productos bancarios y movimientos.",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/transactions"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/ibanToService/": {
      "post": {
        "summary": "Obtenci\u00f3n del nombre del banco vinculado a un IBAN concreto.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "description": "Devuelve el nombre del banco al que pertenece el IBAN proporcionado.",
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
            "required": true,
            "type": "string"
          },
          {
            "name": "iban",
            "in": "formData",
            "description": "IBAN del que se desea conocer el servicio/banco al que pertenece. El formato aceptado es \"XX0000000000000000000000\". Siendo \"XX\" el c\u00f3digo ISO del pa\u00eds, seguido de 2 d\u00edgitos de control y otros 20 d\u00edgitos que representan el c\u00f3digo b\u00e1sico de la cuenta bancaria.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "PSD2"
        ],
        "responses": {
          "200": {
            "description": "Servicio al que pertenece un IBAN. El campo \"services\" es un array de objetos, un objeto por cada servicio al que puede pertenecer el IBAN.",
            "schema": {
              "$ref": "#/definitions/ibanToService"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/transactions/categories/": {
      "get": {
        "summary": "Listado de categor\u00edas. Solo para las servicekeys con la opci\u00f3n contratada.",
        "description": "Devuelve un listado completo de las categor\u00edas utilizadas por el categorizador de movimientos de Arcopay.",
        "parameters": [
          {
            "name": "Accept-version",
            "in": "header",
            "description": "Versi\u00f3n de la API que se quiere consumir en versi\u00f3n: v.numeroDeVersion",
            "type": "string",
            "required": false,
            "default": "v.1"
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "C\u00f3digo del pa\u00eds, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para Espa\u00f1a. Si no se proporciona ning\u00fan c\u00f3digo, se devolver\u00e1 la lista completa.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "PSD2"
        ],
        "responses": {
          "200": {
            "description": "Array con el listado de categorias utilizadas por Arcopay.",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/categories"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/payment/initiate/": {
      "post": {
        "summary": "Inicia un pago",
        "description": "<b>Inicia un pago en modalidad: normal, instant\u00e1neo y recurrente.</b><br><ul><li>Al igual que en el m\u00e9todo consent/get/, se requiere de la interacci\u00f3n del usuario para procesar el pago, por lo que la llamada a este m\u00e9todo responde con un enlace tipo follow link (par\u00e1metro \"follow\") para mostrar al usuario final y un identificador \u00fanico del pago (par\u00e1metro \"paymentId\") que le permitir\u00e1 trazar el proceso.</li><li>Cuando el usuario abra la URL proporcionada se realizar\u00e1 un proceso de Prevenci\u00f3n de Blanqueo de Capitales y en caso necesario se realizar\u00e1 una comprobaci\u00f3n extra previa al inicio de pago.</li><li>Cuando finalice el proceso, recibir\u00e1 en su sistema, a trav\u00e9s de la URL de callback indicada en el par\u00e1metro yourPaymentCallback, el token junto con al identificador \u00fanico de este pago \"paymentId\".</li><li>El esquema que se env\u00eda a esta URL de callback est\u00e1 descrito en la definici\u00f3n paymentInitiateCallback m\u00e1s abajo.<li>Al callback se env\u00eda la confirmaci\u00f3n de las iniciaciones de pago que han funcionado correctamente.</li><li>Debido a que una vez confirmado el pago, este puede encontrarse en un estado no final, es necesario consultar su estar en /payment/status.</li></ul>",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Accept-version",
            "in": "header",
            "description": "Versi\u00f3n de la API que se quiere consumir en versi\u00f3n: v.numeroDeVersion",
            "type": "string",
            "required": false,
            "default": "v.1"
          },
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente.",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "formData",
            "description": "Este token ha sido obtenido previamente siguiendo el flujo de obtenci\u00f3n del consentimiento PSD2 mediante el m\u00e9todo consent/get.",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentType",
            "in": "formData",
            "description": "Tipo de pago: </br><b>- normal</b> -> transferencia normal </br><b>- instant</b> -> transferencia instant\u00e1nea. M\u00e1ximo importe permitido 15.000\u20ac (150.000\u20ac a partir de Julio de 2020). Desaconsejamos esta opci\u00f3n, ya que varios bancos cobran comisiones muy altas a los clientes, y sus APIS solamente informan al TPP de la comisi\u00f3n una vez el cliente ha completado o cancelado el pago, en lugar de informar previamente para permitir al TPP seleccionar el tipo de pago en funci\u00f3n a la comisi\u00f3n. </br><b>- normalPeriodic</b> -> transferencia normal ejecutada con peridicidad, definida en los par\u00e1metros firstQuotaDate, frequency y numberOfQuotas. </br><b>- instantPeriodic</b> -> transferencia instant\u00e1nea ejecutada con peridicidad, definida en los par\u00e1metros firstQuotaDate, frequency y numberOfQuotas. </br><b>- international</b> -> transferencia normal con IBAN de destino fuera de Europa.",
            "required": true,
            "type": "string"
          },
          {
            "name": "currency",
            "in": "formData",
            "description": "C\u00f3digo de la divisa en formato [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
            "required": true,
            "type": "string"
          },
          {
            "name": "amount",
            "in": "formData",
            "description": "Importe del pago utilizando el punto para decimales. M\u00e1ximo 2 decimales.",
            "required": true,
            "type": "number"
          },
          {
            "name": "sourceIBAN",
            "in": "formData",
            "description": "IBAN de origen con el cual el cliente quiere realizar el pago.",
            "required": true,
            "type": "string"
          },
          {
            "name": "destinationIBAN",
            "in": "formData",
            "description": "IBAN de destino.",
            "required": true,
            "type": "string"
          },
          {
            "name": "destinationCreditorName",
            "in": "formData",
            "description": "Nombre del titular de la cuenta de destino.",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentDescription",
            "in": "formData",
            "description": "Description o concepto del pago. M\u00e1ximo 140 caracteres.",
            "required": true,
            "type": "string"
          },
          {
            "name": "yourPaymentCallback",
            "in": "formData",
            "description": "URL donde recibir\u00e1 el token generado. Debe ser HTTPS.",
            "required": true,
            "type": "string"
          },
          {
            "name": "firstQuotaDate",
            "in": "formData",
            "format": "date",
            "description": "Solo obligatorio para pagos recurrentes (pagos por cuotas), es decir, cuando paymentType sea normalPeriodic o instantPeriodic. Fecha en formato dd-mm-aaaa.",
            "required": false,
            "type": "string"
          },
          {
            "name": "frequency",
            "in": "formData",
            "description": "Solo obligatorio para pagos recurrentes (pagos por cuotas), es decir, cuando paymentType sea normalPeriodic o instantPeriodic. Valores permitidos: daily, weekly, everyTwoWeeks, monthly, everyTwoMonths, quarterly, semiAnnual, annual",
            "required": false,
            "type": "string"
          },
          {
            "name": "numberOfQuotas",
            "in": "formData",
            "description": "Solo obligatorio para pagos recurrentes (pagos por cuotas), es decir, cuando paymentType sea normalPeriodic o instantPeriodic. N\u00famero de veces que se ejecutar\u00e1 la orden de pago. Por ejemplo, si la orden corresponde a la devoluci\u00f3n de un pr\u00e9stamo en 60 cuotas. El valor ser\u00e1 60.",
            "required": false,
            "type": "number"
          },
          {
            "name": "urlRedirect",
            "in": "formData",
            "description": "Enlace al que ser\u00e1 redireccionado el usuario una vez se confirme el pago. Durante la redirecci\u00f3n, se a\u00f1adir\u00e1n algunos par\u00e1metros extra en la url, vea [/definitions/urlRedirectPayment](#/definitions/urlRedirectPayment).",
            "required": false,
            "type": "string"
          },
          {
            "name": "yourPaymentCallbackError",
            "in": "formData",
            "description": "URL donde recibir\u00e1 informaci\u00f3n en caso de error. Debe ser HTTPS. Vea [/definitions/paymentInitiateCallbackError](#/definitions/paymentInitiateCallbackError)",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "PSD2 Payments"
        ],
        "responses": {
          "200": {
            "description": "Array de elementos conteniendo informaci\u00f3n del pago.",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentInitiate"
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/payment/status/": {
      "post": {
        "summary": "Estado de un pago.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Accept-version",
            "in": "header",
            "description": "Versi\u00f3n de la API que se quiere consumir en versi\u00f3n: v.numeroDeVersion",
            "type": "string",
            "required": false,
            "default": "v.1"
          },
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente.",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentId",
            "in": "formData",
            "description": "El id que identifica al pago, obtenido en payment/initiate",
            "required": true,
            "type": "string"
          },
          {
            "name": "extendedInformation",
            "in": "formData",
            "description": "Informaci\u00f3n adicional del pago adem\u00e1s del estado",
            "default": 0,
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "PSD2 Payments"
        ],
        "responses": {
          "200": {
            "description": "Status of the requested payment.",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentGetStatus"
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/payment/cancel/": {
      "post": {
        "summary": "Cancela la petici\u00f3n de pago.",
        "description": "Cancela la petici\u00f3n de pago, si es posible.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Accept-version",
            "in": "header",
            "description": "Versi\u00f3n de la API que se quiere consumir en versi\u00f3n: v.numeroDeVersion",
            "type": "string",
            "required": false,
            "default": "v.1"
          },
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente.",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentId",
            "in": "formData",
            "description": "El id que identifica al pago, obtenido en payment/initiate",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "PSD2 Payments"
        ],
        "responses": {
          "200": {
            "description": "Resultado de la operaci\u00f3n",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentCancel"
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/payment/revert/": {
      "post": {
        "summary": "Revierte un pago realizado con initiate",
        "description": "Revierte un pago realizado anteriormente. Necesitar\u00e1 el identificador \u00fanico del pago inicial \"paymentId\" para buscar la informaci\u00f3n del mismo.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Accept-version",
            "in": "header",
            "description": "Versi\u00f3n de la API que se quiere consumir en versi\u00f3n: v.numeroDeVersion",
            "type": "string",
            "required": false,
            "default": "v.1"
          },
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente.",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentId",
            "in": "formData",
            "description": "Identificador \u00fanico que hace referencia al pago inicial.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceIBAN",
            "in": "formData",
            "description": "IBAN de origen con el cual el cliente quiere revertir el pago. Si no se informa, se usar\u00e1 el IBAN de destino de la operaci\u00f3n inicial.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "PSD2 Payments"
        ],
        "responses": {
          "200": {
            "description": "Array de elementos conteniendo informaci\u00f3n del pago revertido.",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentRevert"
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/payment/statusRevert/": {
      "post": {
        "summary": "Estado de un pago revertido.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Accept-version",
            "in": "header",
            "description": "Versi\u00f3n de la API que se quiere consumir en versi\u00f3n: v.numeroDeVersion",
            "type": "string",
            "required": false,
            "default": "v.1"
          },
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente.",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentRevertedId",
            "in": "formData",
            "description": "El id que identifica al pago revertido, obtenido en payment/revert",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "PSD2 Payments"
        ],
        "responses": {
          "200": {
            "description": "Status of the requested revert.",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentGetStatusRevert"
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/payment/getLinkForPayment/": {
      "post": {
        "summary": "Genera un link de pago",
        "description": "Ofrecemos tres formas integraci\u00f3n para la Iniciaci\u00f3n de Pagos. - La primera, es mediante llamadas a los m\u00e9todos descritos anteriormente. Esta forma permite crear una experiencia de uso totalmente integrada en su plataforma, ya que todo el dise\u00f1o de UX recae en usted. - La segunda, es el uso de un widget javascript, que genera un iframe, integrable dentro de cualquier landing. El detalle t\u00e9cnico se encuentra en el documento \"Gu\u00eda de integraci\u00f3n javascript\" que le hemos proporcionado en el correo de bienvenida, si esta ha sido su opci\u00f3n elegida. - Por \u00faltimo, la descrita en este m\u00e9todo, que consiste en un link de pago los valores parametrizados. Este m\u00e9todo recibe los datos necesarios para realizar el pago y genera un smartlink de un solo uso parametrizado para proporcion\u00e1rselo al usuario y pueda realizar un pago. Opcionalmente, este mismo m\u00e9todo permite enviar el smartlink por SMS. Antes de poder utilizar este m\u00e9todo, deber\u00e1 haber preparado su entorno para recibir la respuesta de pago completado siguiendo la \"Gu\u00eda de integraci\u00f3n javascript\"",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.arcopay.io.",
            "required": true,
            "type": "string"
          },
          {
            "name": "JSONParameters",
            "in": "formData",
            "description": "Par\u00e1metros para configurar las opciones del link de pago, tales como importe, concepto y cuenta de destino, seg\u00fan las indicaciones del documento \"Gu\u00eda de integraci\u00f3n smartlinks de pagos\"",
            "required": true,
            "type": "string"
          },
          {
            "name": "useLimit",
            "in": "formData",
            "description": "Veces que el link de pago se puede utilizar. Por ejemplo, para cobrar una compra, el valor ser\u00e1 1, y para recoger un donativo podr\u00e1 ser superior a 1.",
            "default": 1,
            "minimum": 1,
            "maximum": 4294967294,
            "required": false,
            "type": "integer"
          },
          {
            "name": "phoneNumber",
            "in": "formData",
            "description": "N\u00famero de tel\u00e9fono con prefijo del pa\u00eds sin espacios. Por ejemplo, para Espa\u00f1a +34644501035. Si no se indica ning\u00fan valor, no se enviar\u00e1 ning\u00fan mensaje. Solamente se obtendr\u00e1 el link de pago en la respuesta.",
            "required": false,
            "type": "string"
          },
          {
            "name": "bodyText",
            "in": "formData",
            "description": "Texto con un m\u00e1ximo de 80 caracteres, al cual se le a\u00f1adir\u00e1 el smartlink. En caso de estar vac\u00edo, se enviar\u00e1 el texto preconfigurado a su servicekey, por defecto \"Utilice este enlace para para continuar con su pago de <importe> en el comercio <comercio>.\"",
            "maxLength": 80,
            "required": false,
            "type": "string"
          },
          {
            "name": "singleTab",
            "in": "formData",
            "description": "Campo para especificar si se requiere realizar el pago sin abrir una pesta\u00f1a por separado para el login del banco, es decir, mediante una redirecci\u00f3n directa desde la misma ventana en la que se abre el link del pago generado. Acepta los valores 1 o 0. Es obligatorio especificar el nombre del acreedor en \"sourceCreditorName\" dentro del listado \"JSONParameters\". Tambi\u00e9n es obligatorio especificar una URL de callback en el campo \"urlCallbackSingleTab\" y \"urlCallbackErrorSingleTab\" si se establece \"singleTab\" a 1.",
            "default": 0,
            "maximum": 1,
            "required": false,
            "type": "integer"
          },
          {
            "name": "urlCallbackSingleTab",
            "in": "formData",
            "description": "URL de callback donde se notificar\u00e1 cuando el pago se ejecute correctamente. Obligatorio y \u00fanicamente relevante si se establece el par\u00e1metro \"singleTab\" a 1.",
            "maxLength": 300,
            "required": false,
            "type": "string"
          },
          {
            "name": "urlCallbackErrorSingleTab",
            "in": "formData",
            "description": "URL de callback donde se notificar\u00e1 cuando haya un error en el pago. Obligatorio y \u00fanicamente relevante si se establece el par\u00e1metro \"singleTab\" a 1.",
            "maxLength": 300,
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "PSD2 Payments"
        ],
        "responses": {
          "200": {
            "description": "Array con la URL a la landing con la informaci\u00f3n del pago y, si se ha solicitado env\u00edo de SMS, informaci\u00f3n sobre el estado del env\u00edo.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/getLinkForPayment"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/directPayment/initiate/": {
      "post": {
        "summary": "Inicia un pago",
        "description": "Inicia un pago normal, instant\u00e1neo o recurrente. La principal diferencia de este endpoint y /payment/initiate/, es que en este caso se requiere la m\u00ednima interacci\u00f3n por parte del cliente para procesar el pago. La llamada a este m\u00e9todo responde con un enlace tipo follow link (par\u00e1metro \"follow\") para mostrar al usuario final y un identificador \u00fanico del pago (par\u00e1metro \"paymentId\") que le permitir\u00e1 trazar el proceso. Cuando el usuario abra la URL proporcionada se realizar\u00e1 un proceso de Prevenci\u00f3n de Blanqueo de Capitales y en caso necesario se realizar\u00e1 una comprobaci\u00f3n extra previa al inicio de pago. Finalizado el proceso, recibir\u00e1 en su sistema, a trav\u00e9s de la URL de callback indicada en el par\u00e1metro yourPaymentCallback, el identificador \u00fanico de este pago \"paymentId\"",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Accept-version",
            "in": "header",
            "description": "Versi\u00f3n de la API que se quiere consumir en versi\u00f3n: v.numeroDeVersion",
            "type": "string",
            "required": false,
            "default": "v.1"
          },
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente.",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "formData",
            "description": "Identificador \u00fanico para cada banco. El listado de bancos soportados se obtiene en /listOfSupportedBanks/.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ownerName",
            "in": "formData",
            "description": "Nombre del titular de la cuenta para realizar el proceso de Prevenci\u00f3n de Blanqueo de Capital.",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentType",
            "in": "formData",
            "description": "Tipo de pago: </br><b>- normal</b> -> transferencia normal </br><b>- instant</b> -> transferencia instant\u00e1nea. M\u00e1ximo importe permitido 15.000\u20ac (150.000\u20ac a partir de Julio de 2020). Desaconsejamos esta opci\u00f3n, ya que varios bancos cobran comisiones muy altas a los clientes, y sus APIS solamente informan al TPP de la comisi\u00f3n una vez el cliente ha completado o cancelado el pago, en lugar de informar previamente para permitir al TPP seleccionar el tipo de pago en funci\u00f3n a la comisi\u00f3n. </br><b>- normalPeriodic</b> -> transferencia normal ejecutada con peridicidad, definida en los par\u00e1metros firstQuotaDate, frequency y numberOfQuotas. </br><b>- instantPeriodic</b> -> transferencia instant\u00e1nea ejecutada con peridicidad, definida en los par\u00e1metros firstQuotaDate, frequency y numberOfQuotas. </br><b>- international</b> -> transferencia normal con IBAN de destino fuera de Europa.",
            "required": true,
            "type": "string"
          },
          {
            "name": "currency",
            "in": "formData",
            "description": "C\u00f3digo de la divisa en formato [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
            "required": true,
            "type": "string"
          },
          {
            "name": "amount",
            "in": "formData",
            "description": "Importe del pago utilizando el punto para decimales. M\u00e1ximo 2 decimales.",
            "required": true,
            "type": "number"
          },
          {
            "name": "sourceIBAN",
            "in": "formData",
            "description": "IBAN de origen con el cual el cliente quiere realizar el pago. Si no se informa este par\u00e1metro, el usuario podr\u00e1 elegir con qu\u00e9 IBAN realizar el pago, en una interfaz de la entidad bancaria.",
            "required": false,
            "type": "string"
          },
          {
            "name": "destinationIBAN",
            "in": "formData",
            "description": "IBAN de destino.",
            "required": true,
            "type": "string"
          },
          {
            "name": "destinationCreditorName",
            "in": "formData",
            "description": "Nombre del titular de la cuenta de destino.",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentDescription",
            "in": "formData",
            "description": "Description o concepto del pago. M\u00e1ximo 140 caracteres.",
            "required": true,
            "type": "string"
          },
          {
            "name": "yourPaymentCallback",
            "in": "formData",
            "description": "URL donde recibir\u00e1 el token generado. Debe ser HTTPS.",
            "required": true,
            "type": "string"
          },
          {
            "name": "firstQuotaDate",
            "in": "formData",
            "format": "date",
            "description": "Solo obligatorio para pagos recurrentes (pagos por cuotas), es decir, cuando paymentType sea normalPeriodic o instantPeriodic. Fecha en formato dd-mm-aaaa.",
            "required": false,
            "type": "string"
          },
          {
            "name": "frequency",
            "in": "formData",
            "description": "Solo obligatorio para pagos recurrentes (pagos por cuotas), es decir, cuando paymentType sea normalPeriodic o instantPeriodic. Valores permitidos: daily, weekly, everyTwoWeeks, monthly, everyTwoMonths, quarterly, semiAnnual, annual",
            "required": false,
            "type": "string"
          },
          {
            "name": "numberOfQuotas",
            "in": "formData",
            "description": "Solo obligatorio para pagos recurrentes (pagos por cuotas), es decir, cuando paymentType sea normalPeriodic o instantPeriodic. N\u00famero de veces que se ejecutar\u00e1 la orden de pago. Por ejemplo, si la orden corresponde a la devoluci\u00f3n de un pr\u00e9stamo en 60 cuotas. El valor ser\u00e1 60.",
            "required": false,
            "type": "number"
          },
          {
            "name": "urlRedirect",
            "in": "formData",
            "description": "Enlace al que ser\u00e1 redireccionado el usuario una vez se confirme el pago. Durante la redirecci\u00f3n, se a\u00f1adir\u00e1n algunos par\u00e1metros extra en la url, vea [/definitions/urlRedirectPayment](#/definitions/urlRedirectPayment).",
            "required": false,
            "type": "string"
          },
          {
            "name": "yourPaymentCallbackError",
            "in": "formData",
            "description": "URL donde recibir\u00e1 informaci\u00f3n en caso de error. Debe ser HTTPS. Vea [/definitions/paymentInitiateCallbackError](#/definitions/paymentInitiateCallbackError)",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "PSD2 Payments"
        ],
        "responses": {
          "200": {
            "description": "Array de elementos conteniendo informaci\u00f3n del pago.",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentInitiate"
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/bulkPayment/initiate/": {
      "post": {
        "summary": "Inicia un pago",
        "description": "Inicia una remesa de pagos. La llamada a este m\u00e9todo responde con un enlace tipo follow link (par\u00e1metro \"follow\") para mostrar al usuario final y un identificador \u00fanico del pago de la remesa (par\u00e1metro \"paymentId\") que le permitir\u00e1 trazar el proceso. Cuando el usuario abra la URL proporcionada se realizar\u00e1 un proceso de Prevenci\u00f3n de Blanqueo de Capitales y en caso necesario se realizar\u00e1 una comprobaci\u00f3n extra previa al inicio de pago. Finalizado el proceso, recibir\u00e1 en su sistema, a trav\u00e9s de la URL de callback indicada en el par\u00e1metro yourPaymentCallback, el identificador \u00fanico de este pago \"paymentId\"",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Accept-version",
            "in": "header",
            "description": "Versi\u00f3n de la API que se quiere consumir en versi\u00f3n: v.numeroDeVersion",
            "type": "string",
            "required": false,
            "default": "v.1"
          },
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente.",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "formData",
            "description": "Identificador \u00fanico para cada banco. El listado de bancos soportados se obtiene en /listOfSupportedBanks/.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ownerName",
            "in": "formData",
            "description": "Nombre del titular de la cuenta para realizar el proceso de Prevenci\u00f3n de Blanqueo de Capital.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceIBAN",
            "in": "formData",
            "description": "IBAN de origen con el cual el cliente quiere realizar el pago.",
            "required": true,
            "type": "string"
          },
          {
            "name": "currency",
            "in": "formData",
            "description": "C\u00f3digo de la divisa en formato [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
            "required": true,
            "type": "string"
          },
          {
            "name": "payments",
            "in": "formData",
            "description": "JSON que contiene tantos elementos [/definitions/bulkPaymentItem](#/definitions/bulkPaymentItem) como pagos se deseen realizar.",
            "type": "string",
            "required": true
          },
          {
            "name": "urlRedirect",
            "in": "formData",
            "description": "Enlace al que ser\u00e1 redireccionado el usuario una vez se confirme el pago.",
            "required": true,
            "type": "string"
          },
          {
            "name": "yourPaymentCallback",
            "in": "formData",
            "description": "URL donde recibir\u00e1 el token generado. Debe ser HTTPS.",
            "required": true,
            "type": "string"
          },
          {
            "name": "yourPaymentCallbackError",
            "in": "formData",
            "description": "URL donde recibir\u00e1 informaci\u00f3n en caso de error. Debe ser HTTPS. Vea [/definitions/paymentInitiateCallbackError](#/definitions/paymentInitiateCallbackError)",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "PSD2 Payments"
        ],
        "responses": {
          "200": {
            "description": "Array de elementos conteniendo informaci\u00f3n del pago.",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentInitiate"
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/me/": {
      "post": {
        "summary": "Informaci\u00f3n de uso de licencia.",
        "description": "Devuelve informaci\u00f3n de la licencia del cliente y el uso de la API.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "Accept-version",
            "in": "header",
            "description": "Versi\u00f3n de la API que se quiere consumir en versi\u00f3n: v.numeroDeVersion",
            "type": "string",
            "required": false,
            "default": "v.1"
          },
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente.",
            "required": true,
            "type": "string"
          },
          {
            "name": "details",
            "in": "formData",
            "description": "Indica que se quieren conocer detalles extra. Valor por defecto es 0",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "timePeriod",
            "in": "formData",
            "description": "Filtro de fecha a consultar. Solamente aplica si details=1. Posibles valores: 24h o 30d",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Informaci\u00f3n del perfil de un usuario.",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/me"
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Identificador \u00fanico de la petici\u00f3n."
              },
              "Accept-version": {
                "type": "string",
                "description": "Versi\u00f3n consumida por la API."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/accounts/getToken/": {
      "post": {
        "summary": "Informa un token.",
        "description": "Dado un consentId, informa del token asociado.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente.",
            "required": true,
            "type": "string"
          },
          {
            "name": "consentId",
            "in": "formData",
            "description": "Cadena de 36 caracteres con formato uuid 83c5036d-b7ce-f87e-99ef-7b966f16d9f5 que identifica a la operaci\u00f3n de consentimiento.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "PSD2 Token",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Unique request identifier."
              },
              "Accept-version": {
                "type": "string",
                "description": "API version consumed."
              }
            },
            "schema": {
              "$ref": "#/definitions/accountsGetToken"
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Unique request identifier."
              },
              "Accept-version": {
                "type": "string",
                "description": "API version consumed."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/accounts/refreshToken/": {
      "post": {
        "summary": "Si dispone de un token de refresco, puede refrescarlo con este m\u00e9todo. Este token estar\u00e1 solo disponible dependiendo del caso de uso de algunos clientes.",
        "description": "Dado un token de refresco, realiza el refresco de dicho token e informa el token resultante.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente.",
            "required": true,
            "type": "string"
          },
          {
            "name": "refreshToken",
            "in": "formData",
            "description": "Valor del token de refresco.",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "formData",
            "description": "Identificador \u00fanico para cada banco. El listado de bancos soportados se obtiene en /listOfSupportedBanks/.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Resultado del refresco",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Unique request identifier."
              },
              "Accept-version": {
                "type": "string",
                "description": "API version consumed."
              }
            },
            "schema": {
              "$ref": "#/definitions/refreshToken"
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Unique request identifier."
              },
              "Accept-version": {
                "type": "string",
                "description": "API version consumed."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/batch/collectCredentials/": {
      "post": {
        "summary": "Procesamiento por lotes de credenciales.",
        "description": "Este endpoint recoge un conjunto de credenciales para su procesado en lote (procesado batch).",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "JSON",
            "description": "Cuerpo de la petici\u00f3n con la informaci\u00f3n de la servicekey y un array con las credeniclaes a procesar",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "servicekey",
                "credentials"
              ],
              "properties": {
                "servicekey": {
                  "type": "string"
                },
                "credentials": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/batchCredentials"
                  }
                }
              }
            }
          }
        ],
        "tags": [
          "Batch"
        ],
        "responses": {
          "200": {
            "description": "Resultado de la petici\u00f3n",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Unique request identifier."
              },
              "Accept-version": {
                "type": "string",
                "description": "API version consumed."
              }
            },
            "schema": {
              "$ref": "#/definitions/collectCredentials"
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Unique request identifier."
              },
              "Accept-version": {
                "type": "string",
                "description": "API version consumed."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/batch/returnResults/": {
      "post": {
        "summary": "Procesamiento por lotes de credenciales.",
        "description": "Obtiene los resultados del procesado por lotes solicitado.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente.",
            "required": true,
            "type": "string"
          },
          {
            "name": "batchId",
            "in": "formData",
            "description": "Identificador del lote enviado previamente del cual se quiere obtener el resultado.",
            "required": true,
            "type": "number"
          }
        ],
        "tags": [
          "Batch"
        ],
        "responses": {
          "200": {
            "description": "Resultado del procesamiento del batch",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Unique request identifier."
              },
              "Accept-version": {
                "type": "string",
                "description": "API version consumed."
              }
            },
            "schema": {
              "$ref": "#/definitions/returnResults"
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Unique request identifier."
              },
              "Accept-version": {
                "type": "string",
                "description": "API version consumed."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/batch/collectCredentialsWithRefresh/": {
      "post": {
        "summary": "Procesamiento por lotes de credenciales y refresco de token.",
        "description": "Este endpoint recoge un conjunto de credenciales para su procesado en lote (procesado batch). Estar\u00e1 solo disponible dependiendo del caso de uso de algunos clientes.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "JSON",
            "description": "Cuerpo de la petici\u00f3n con la informaci\u00f3n de la servicekey y un array con las credeniclaes a procesar, junto a los tokens para ser refrescados.",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "servicekey",
                "credentials"
              ],
              "properties": {
                "servicekey": {
                  "type": "string"
                },
                "credentials": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/batchCredentialsWithRefresh"
                  }
                }
              }
            }
          }
        ],
        "tags": [
          "Batch"
        ],
        "responses": {
          "200": {
            "description": "Resultado de la petici\u00f3n",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Unique request identifier."
              },
              "Accept-version": {
                "type": "string",
                "description": "API version consumed."
              }
            },
            "schema": {
              "$ref": "#/definitions/collectCredentialsWithRefresh"
            }
          },
          "default": {
            "description": "Unexpected error",
            "headers": {
              "Debug-id": {
                "type": "string",
                "description": "Unique request identifier."
              },
              "Accept-version": {
                "type": "string",
                "description": "API version consumed."
              }
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "accountsGetToken": {
      "type": "object",
      "properties": {
        "consentId": {
          "type": "string",
          "description": "Cadena de 36 caracteres con formato uuid 83c5036d-b7ce-f87e-99ef-7b966f16d9f5 que identifica a la operaci\u00f3n de consentimiento."
        },
        "token": {
          "type": "string",
          "description": "Token que se ha obtenido a trav\u00e9s del m\u00e9todo /consent/get."
        },
        "globalPosition": {
          "type": "string",
          "description": "Posici\u00f3n global de la cuenta"
        }
      }
    },
    "refreshToken": {
      "type": "object",
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "Valor del token de refresco despu\u00e9s de haberse realizado el refresco."
        },
        "accessToken": {
          "type": "string",
          "description": "Valor del token de acceso despu\u00e9s del refresco."
        },
        "expiresIn": {
          "type": "integer",
          "description": "Segundos durante los cu\u00e1les el token de acceso ser\u00e1 v\u00e1lido."
        }
      }
    },
    "me": {
      "type": "object",
      "properties": {
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "L\u00edmite de llamadas para la servicekey."
        },
        "counter": {
          "type": "integer",
          "format": "int32",
          "description": "Llamadas realizadas durante el ciclo de facturaci\u00f3n actual."
        },
        "remaining_calls": {
          "type": "integer",
          "format": "int32",
          "description": "Llamadas restantes para el ciclo de facturaci\u00f3n actual."
        },
        "date_renewal": {
          "type": "string",
          "format": "date",
          "description": "Fecha de renovaci\u00f3n del contador de llamadas, en formato dd-mm-yyyy."
        },
        "detail": {
          "type": "object",
          "description": "Detalles de las llamadas consultadas.",
          "properties": {
            "api": {
              "type": "string",
              "description": "Identificador de endpoint."
            },
            "timestamp": {
              "type": "string",
              "description": "Fecha de llamada."
            },
            "service": {
              "type": "string",
              "description": "Servicio consultado."
            },
            "ip": {
              "type": "string",
              "description": "IP de la llamada."
            },
            "debugID": {
              "type": "string",
              "description": "Identificador de la llamada."
            }
          }
        }
      }
    },
    "transactions": {
      "type": "object",
      "properties": {
        "product": {
          "type": "string",
          "description": "Identificador \u00fanico para un producto: IBAN o numeraci\u00f3n de tarjeta de cr\u00e9dito."
        },
        "type": {
          "type": "string",
          "description": "Tipo de producto: \"checking\" para cuenta corriente o \"card\" para tarjeta de cr\u00e9dito. Solamente es posible recuperar informaci\u00f3n de estos dos tipos de productos por el canal PSD2, al contrario que en la agregaci\u00f3n no-PSD2, donde es posible recuperar tambi\u00e9n informaci\u00f3n de pr\u00e9stamos, l\u00edneas de cr\u00e9dito, seguros y productos de inversi\u00f3n."
        },
        "balance": {
          "type": "number",
          "format": "float",
          "description": "Saldo disponible del producto. Siempre existir\u00e1 este saldo, el resto de valores balance podr\u00e1n existir o no."
        },
        "countable_balance": {
          "type": "number",
          "format": "float",
          "description": "Saldo contable."
        },
        "arranged_balance": {
          "type": "number",
          "format": "float",
          "description": "Saldo dispuesto."
        },
        "balance_credit_granted": {
          "type": "number",
          "format": "float",
          "description": "Saldo concedido."
        },
        "currency": {
          "type": "string",
          "description": "C\u00f3digo de la divisa en formato [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
        },
        "description": {
          "type": "string",
          "description": "Nombre del producto. En ocasiones es un alias que ha asignado el usuario, o puede coincidir con el valor de producto."
        },
        "iban": {
          "type": "string",
          "description": "El IBAN de la cuenta. Disponible para productos checking y saving."
        },
        "pan": {
          "type": "string",
          "description": "El PAN de la cuenta. Disponible para productos card y debit."
        },
        "is_owner": {
          "type": "number",
          "format": "int",
          "description": "Indica si el usuario que ha dado el consentimiento es el propietario del producto (en algunos casos, el banco informa con el nombre del usuario conectado y no el propietario del producto). 0 -> No es titular. 1-> Es titular de la cuenta."
        },
        "holders": {
          "type": "array",
          "description": "Atributo disponible cuando el producto sea checking.",
          "items": {
            "type": "object",
            "description": "Array de titulares y autorizados del producto.",
            "properties": {
              "role": {
                "type": "string",
                "description": "Rol de la persona. Owner | Authorized."
              },
              "name": {
                "type": "string",
                "description": "Nombre de la persona."
              },
              "id": {
                "type": "string",
                "description": "Id de la persona. DNI|NIF|CIF"
              }
            }
          }
        },
        "transactions": {
          "type": "object",
          "properties": {
            "date": {
              "type": "string",
              "format": "date",
              "description": "Fecha del movimiento en formato dd-mm-yyyy."
            },
            "date2": {
              "type": "string",
              "format": "date",
              "description": "Fecha de valor en formato dd-mm-yyyy. Esta clave no existe si las transacciones corresponden a un producto tipo card."
            },
            "amount": {
              "type": "number",
              "format": "float",
              "description": "Importe de la transacci\u00f3n."
            },
            "balance": {
              "type": "number",
              "format": "float",
              "description": "Saldo del producto en el instante posterior a la transacci\u00f3n.. Esta clave no existe si las transacciones corresponden a un producto tipo card."
            },
            "description": {
              "type": "string",
              "description": "Descripci\u00f3n de la transacci\u00f3n."
            },
            "categoryId": {
              "type": "number",
              "format": "int",
              "description": "Id de categor\u00eda. Solo para las servicekeys con la opci\u00f3n contratada. Listado de categor\u00edas: https://apipsd2.arcopay.io/V3/categories/?countryCode=ES."
            },
            "transactionId": {
              "type": "string",
              "description": "Identificador \u00fanico para ese producto de la transacci\u00f3n de 32 caracteres. MUY IMPORTANTE: No utilizar este valor como \u00edndice \u00fanico en una tabla de transacciones de todos los clientes, podr\u00edan existir colisiones, ya que solamente se garantiza que es un valor \u00fanico por transacci\u00f3n y producto. S\u00ed ser\u00eda v\u00e1lido utilizar como \u00edndice \u00fanico en una tabla de transacciones dos columnas, que incluyeran un id de producto y este transactionId."
            },
            "mcc": {
              "type": "string",
              "description": "Merchant Category Code (c\u00f3digo de categor\u00eda del comercio) definido en la ISO 18245. El valor ser\u00e1 0, si no hay ning\u00fan c\u00f3digo disponible."
            },
            "creditorName": {
              "type": "string",
              "description": "Titular de la transacci\u00f3n. El valor ser\u00e1 vac\u00edo si no hay ning\u00fan titular disponible."
            },
            "debtorName": {
              "type": "string",
              "description": "El beneficiario de la transacci\u00f3n. El valor estar\u00e1 vac\u00edo si no hay ning\u00fan beneficiario disponible."
            }
          }
        }
      }
    },
    "listOfSupportedBanks": {
      "type": "object",
      "properties": {
        "countryCode": {
          "type": "string",
          "description": "C\u00f3digo de pa\u00eds en formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
        },
        "service": {
          "type": "string",
          "description": "Identificador \u00fanico del banco en la API."
        },
        "paymentsSupported": {
          "type": "string",
          "description": "Valor 0 o 1, dependiendo de si soporta Iniciaci\u00f3n de Pagos (m\u00e9todo /payments/)"
        },
        "swift": {
          "type": "string",
          "description": "C\u00f3digo SWIFT en formato ISO 9362 (https://en.wikipedia.org/wiki/ISO_9362)."
        },
        "fullname": {
          "type": "string",
          "description": "Nombre completo del banco."
        },
        "image": {
          "type": "string",
          "description": "URL del logotipo del banco en formato PNG transparente de 128x128 pixels."
        },
        "imageSVG": {
          "type": "string",
          "description": "URL del logotipo del banco en formato SVG."
        },
        "extendedInformation": {
          "type": "object",
          "description": "Solo si el par\u00e1metro showExtendedInformation est\u00e1 a 1",
          "properties": {
            "normalPayment": {
              "type": "integer",
              "description": "1 si soporta pago normal PSD2. 0 si no lo soporta."
            },
            "instantPayment": {
              "type": "integer",
              "description": "1 si soporta pago instant\u00e1neo PSD2. 0 si no lo soporta."
            },
            "periodicPayment": {
              "type": "integer",
              "description": "1 si soporta pago peri\u00f3dico PSD2. 0 si no lo soporta."
            },
            "instantPeriodicPayment": {
              "type": "integer",
              "description": "1 si soporta pago instant\u00e1neo en modalidad peri\u00f3dica PSD2. 0 si no lo soporta."
            },
            "svaPayment": {
              "type": "integer",
              "description": "1 si soporta pago SVA PSD2. 0 si no lo soporta."
            },
            "bulkPayment": {
              "type": "integer",
              "description": "1 si soporta pago bulk PSD2. 0 si no lo soporta."
            }
          }
        }
      }
    },
    "paymentInitiate": {
      "type": "object",
      "properties": {
        "follow": {
          "type": "string",
          "description": "URL a mostrar al cliente para autorizar el pago. La URL puede tener m\u00e1s de 255 caracteres."
        },
        "paymentId": {
          "type": "string",
          "description": "Cadena de 36 caracteres con formato uuid 83c5036d-b7ce-f87e-99ef-7b966f16d9f5 que identifica a la operaci\u00f3n de pago."
        }
      }
    },
    "paymentGetStatus": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Estado del pago. Puede ser\n  - OK -> El pago se ha efectuado correctamente.\n  - KO -> El pago no se ha efectuado.\n  - RJCT -> El pago ha sido rechazado.\n  - CNCL -> El pago ha sido cancelado.\n"
        },
        "paymentType": {
          "type": "string",
          "description": "Tipo del pago. Solo si extendedInformation es 1."
        },
        "currency": {
          "type": "string",
          "description": "C\u00f3digo de la divisa en formato [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217). Solo si extendedInformation es 1."
        },
        "amount": {
          "type": "number",
          "format": "float",
          "description": "Importe del pago. Solo si extendedInformation es 1."
        },
        "sourceIBAN": {
          "type": "string",
          "description": "IBAN de origen del pago. Solo si extendedInformation es 1."
        },
        "destinationIBAN": {
          "type": "string",
          "description": "IBAN de destino del pago. Solo si extendedInformation es 1."
        },
        "destinationCreditorName": {
          "type": "string",
          "description": "Nombre del beneficiario. Solo si extendedInformation es 1."
        },
        "paymentDescription": {
          "type": "string",
          "description": "Descripci\u00f3n del pago. Solo si extendedInformation es 1."
        },
        "ownerName": {
          "type": "string",
          "description": "Nombre del titular de la cuenta de origen. Solo si extendedInformation es 1."
        },
        "fecha": {
          "type": "string",
          "description": "Fecha en la que se inicializa el pago. Solo si extendedInformation es 1."
        },
        "startDate": {
          "type": "string",
          "description": "Fecha cuando se realizar\u00e1 el primer en pagos peri\u00f3dico. Solo si extendedInformation es 1."
        },
        "endDate": {
          "type": "string",
          "description": "Fecha fin cuando es un pago peri\u00f3dico. Solo si extendedInformation es 1."
        },
        "frequency": {
          "type": "string",
          "description": "Frecuencia de pago cuando es un pago peri\u00f3dico. Solo si extendedInformation es 1."
        },
        "numberOfQuotas": {
          "type": "number",
          "description": "N\u00famero de pagos cuando es un pago peri\u00f3dico. Solo si extendedInformation es 1."
        }
      }
    },
    "paymentRevert": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Si el proceso de reversi\u00f3n se ha llevado a cabo correctamente, el valor de \"status\" ser\u00e1 ACCP."
        }
      }
    },
    "paymentGetStatusRevert": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Estado del pago. Puede ser\n  - RCVD -> la iniciaci\u00f3n para revertir el pago ha sido recibida.\n  - PDNG -> operaci\u00f3n procesada y enviada por EDItran.\n  - RJCT -> la iniciaci\u00f3n para revertir el pago ha sido rechazada por el EDItran destino.\n  - ACCP -> la iniciaci\u00f3n para revertir el pago ha sido aceptada por el EDItran destino.\n"
        }
      }
    },
    "paymentCancel": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Si el proceso de cancelaci\u00f3n se ha llevado a cabo correctamente, el valor de \"status\" ser\u00e1 CANC."
        },
        "follow": {
          "type": "string",
          "description": "En ocasiones, ser\u00e1 necesaria una confirmaci\u00f3n del usuario para cancelar el pago, en esos casos, este par\u00e1metro estar\u00e1 informado con un enlace, sino ser\u00e1 vac\u00edo."
        }
      }
    },
    "consentGet": {
      "type": "object",
      "properties": {
        "follow": {
          "type": "string",
          "description": "URL a mostrar al usuario para que complete la obtenci\u00f3n del consentimiento. La URL puede tener m\u00e1s de 255 caracteres."
        },
        "consentId": {
          "type": "string",
          "description": "Cadena de 36 caracteres con formato uuid 83c5036d-b7ce-f87e-99ef-7b966f16d9f5 que identifica a la operaci\u00f3n de consentimiento."
        }
      }
    },
    "consentGetCallback": {
      "type": "object",
      "description": "Esta definici\u00f3n describe el esquema utilizado por Arcopay para enviar a la URL de callback especificada por el cliente en el par\u00e1metro yourConsentCallback del m\u00e9todo /consent/get",
      "properties": {
        "token": {
          "type": "string",
          "description": "Token para ser utilizando en los m\u00e9todos que requieren token como par\u00e1metro /payments/initiate y /transactions."
        },
        "consentId": {
          "type": "string",
          "description": "Id asociado a la operaci\u00f3n."
        },
        "globalPosition": {
          "type": "object",
          "description": "Listado de los productos disponibles. Vea [/definitions/transactions](#/definitions/transactions)"
        }
      }
    },
    "paymentInitiateCallback": {
      "type": "object",
      "description": "Esta definici\u00f3n describe el esquema utilizado por Arcopay para enviar a la URL de callback especificada por el cliente en el par\u00e1metro yourPaymentCallback del m\u00e9todo /payment/initiate",
      "properties": {
        "token": {
          "type": "string",
          "description": "Token para ser utilizando en los m\u00e9todos que requieren token como par\u00e1metro /payments/initiate y /transactions."
        },
        "paymentId": {
          "type": "string",
          "description": "Id asociado a la operaci\u00f3n."
        }
      }
    },
    "consentGetCallbackError": {
      "type": "object",
      "description": "Esta definici\u00f3n describe el esquema utilizado por Arcopay para enviar a la URL de callback de error especificada por el cliente en el par\u00e1metro yourConsentCallbackError del m\u00e9todo /consent/get",
      "properties": {
        "message": {
          "type": "string",
          "description": "Mensaje de error de la operaci\u00f3n."
        },
        "code": {
          "type": "string",
          "description": "C\u00f3digo de error de la operaci\u00f3n."
        },
        "consentId": {
          "type": "string",
          "description": "ID del consentimiento."
        }
      }
    },
    "paymentInitiateCallbackError": {
      "type": "object",
      "description": "Esta definici\u00f3n describe el esquema utilizado por Arcopay para enviar a la URL de callback de error especificada por el cliente en el par\u00e1metro yourPaymentCallbackError del m\u00e9todo /payment/initiate",
      "properties": {
        "message": {
          "type": "string",
          "description": "Mensaje de error de la operaci\u00f3n."
        },
        "code": {
          "type": "string",
          "description": "C\u00f3digo de error de la operaci\u00f3n."
        },
        "paymentId": {
          "type": "string",
          "description": "ID del pago."
        }
      }
    },
    "getLinkForPayment": {
      "type": "object",
      "properties": {
        "linkForPayment": {
          "type": "string",
          "description": "URL con el UX para realizar el pago.",
          "example": "https://arcopay.io/payWithYourBank/cEv-DOVDMro/"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "Posibles valores: 0, OK; 1, Error de env\u00edo; 2, No se ha solicitado env\u00edo",
          "example": 0
        },
        "additional_info": {
          "type": "object",
          "description": "Detalle sobre el env\u00edo.",
          "properties": {
            "status": {
              "type": "string",
              "description": "Posibles valores: does not apply|sent|wrong number|other problem",
              "example": "sent"
            },
            "phoneNumber": {
              "type": "string",
              "description": "N\u00famero de tel\u00e9fono al que se ha enviado el mensaje.",
              "example": "+34644501035"
            }
          }
        }
      }
    },
    "consentCancel": {
      "type": "object",
      "properties": {
        "grantType": {
          "type": "string",
          "description": "Informa del tipo de token eliminado. Posibles valores: payment o read."
        },
        "message": {
          "type": "string",
          "description": "Mensaje, en el idioma del banco indicando la eliminaci\u00f3n satisfactoria del token"
        }
      }
    },
    "consentRenew": {
      "type": "object",
      "properties": {
        "follow": {
          "type": "string",
          "description": "URL a mostrar al usuario para que complete el proceso de renovaci\u00f3n del consentimiento. La URL puede tener m\u00e1s de 255 caracteres."
        },
        "consentId": {
          "type": "string",
          "description": "Cadena de 36 caracteres con formato uuid 83c5036d-b7ce-f87e-99ef-7b966f16d9f5 que identifica a la operaci\u00f3n de consentimiento."
        }
      }
    },
    "ibanToService": {
      "type": "object",
      "description": "Servicios a los que pertenece el IBAN proporcionado. El campo \"services\" es un array de objetos, un objeto por cada servicio al que puede pertenecer el IBAN.",
      "properties": {
        "services": {
          "type": "array",
          "items": {
            "type": "object",
            "description": "Servicio al que pertenece el IBAN proporcionado.",
            "properties": {
              "service": {
                "type": "string",
                "description": "Servicio al que pertenece el IBAN proporcionado."
              }
            }
          }
        }
      }
    },
    "consentInfo": {
      "type": "object",
      "properties": {
        "grantType": {
          "type": "string",
          "description": "Tipo de consentimiento solicitado: read o payment"
        },
        "creationDate": {
          "type": "string",
          "format": "date",
          "description": "Fecha en la que se cre\u00f3 el consentimiento en formato dd-mm-aaaa."
        },
        "validUntil": {
          "type": "string",
          "format": "date",
          "description": "Fecha de caducidad del consentimiento en formato dd-mm-aaaa. Si el consentimiento ha sido cancelado se informar\u00e1 con 01-01-1981."
        },
        "log": {
          "type": "object",
          "description": "Hist\u00f3rico de conexiones",
          "properties": {
            "timestamp": {
              "type": "string",
              "description": "Fecha del acceso en formato timestamp."
            },
            "currency": {
              "type": "string",
              "description": "Solamente si grantType=payment. Divisa en formato [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
            },
            "amount": {
              "type": "number",
              "format": "float",
              "description": "Solamente si grantType=payment. Importe de la transacci\u00f3n, en caso de ser una operaci\u00f3n de Iniciaci\u00f3n de Pago."
            },
            "destinationIBAN": {
              "type": "string",
              "description": "Solamente si grantType=payment. N\u00famero de cuenta en la que se efectu\u00f3 el pago."
            },
            "numberOfTransactionsCollected": {
              "type": "number",
              "description": "Solamente si grantType=read. N\u00famero de cuenta en la que se efectu\u00f3 el pago."
            },
            "operationResult": {
              "type": "boolean",
              "description": "Posibles valores: 0 KO, 1 OK"
            }
          }
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Texto detallando el error encontrado, en el idioma del banco."
        },
        "code": {
          "type": "string",
[...]
