{
  "openapi": "3.1.0",
  "info": {
    "title": "Free Horoscope & Tarot API",
    "description": "A free, open API providing daily, weekly, and monthly horoscope predictions for all zodiac signs, as well as tarot card data including all 78 cards of the major and minor arcana.",
    "version": "1.0.0",
    "contact": {
      "url": "https://freehoroscopeapi.com"
    }
  },
  "servers": [
    {
      "url": "https://freehoroscopeapi.com/api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/get-horoscope/daily": {
      "get": {
        "operationId": "getDailyHoroscope",
        "summary": "Get daily horoscope",
        "description": "Retrieves the daily horoscope prediction for a specified zodiac sign.",
        "parameters": [
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "description": "The zodiac sign to get the horoscope for. Case-insensitive.",
            "schema": {
              "type": "string",
              "enum": [
                "aries",
                "taurus",
                "gemini",
                "cancer",
                "leo",
                "virgo",
                "libra",
                "scorpio",
                "sagittarius",
                "capricorn",
                "aquarius",
                "pisces"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with daily horoscope data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HoroscopeResponse"
                },
                "example": {
                  "data": {
                    "date": "2026-03-25",
                    "period": "daily",
                    "sign": "Aries",
                    "horoscope": "Today brings new opportunities for growth and connection..."
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Horoscope"
        ]
      }
    },
    "/get-horoscope/weekly": {
      "get": {
        "operationId": "getWeeklyHoroscope",
        "summary": "Get weekly horoscope",
        "description": "Retrieves the weekly horoscope prediction for a specified zodiac sign.",
        "parameters": [
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "description": "The zodiac sign to get the horoscope for. Case-insensitive.",
            "schema": {
              "type": "string",
              "enum": [
                "aries",
                "taurus",
                "gemini",
                "cancer",
                "leo",
                "virgo",
                "libra",
                "scorpio",
                "sagittarius",
                "capricorn",
                "aquarius",
                "pisces"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with weekly horoscope data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HoroscopeResponse"
                },
                "example": {
                  "data": {
                    "date": "2026-03-23",
                    "period": "weekly",
                    "sign": "Scorpio",
                    "horoscope": "This week brings transformative energy to your relationships..."
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Horoscope"
        ]
      }
    },
    "/get-horoscope/monthly": {
      "get": {
        "operationId": "getMonthlyHoroscope",
        "summary": "Get monthly horoscope",
        "description": "Retrieves the monthly horoscope prediction for a specified zodiac sign.",
        "parameters": [
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "description": "The zodiac sign to get the horoscope for. Case-insensitive.",
            "schema": {
              "type": "string",
              "enum": [
                "aries",
                "taurus",
                "gemini",
                "cancer",
                "leo",
                "virgo",
                "libra",
                "scorpio",
                "sagittarius",
                "capricorn",
                "aquarius",
                "pisces"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with monthly horoscope data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HoroscopeResponse"
                },
                "example": {
                  "data": {
                    "date": "2026-03-01",
                    "period": "monthly",
                    "sign": "Scorpio",
                    "horoscope": "March brings a focus on career and personal ambitions..."
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Horoscope"
        ]
      }
    },
    "/tarot/cards": {
      "get": {
        "operationId": "getAllTarotCards",
        "summary": "Get all tarot cards",
        "description": "Retrieves all 78 tarot cards, including both major and minor arcana.",
        "responses": {
          "200": {
            "description": "Successful response with all tarot card data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TarotCardsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Tarot"
        ]
      }
    },
    "/tarot/cards/major": {
      "get": {
        "operationId": "getMajorArcanaTarotCards",
        "summary": "Get major arcana tarot cards",
        "description": "Retrieves only the 22 major arcana tarot cards.",
        "responses": {
          "200": {
            "description": "Successful response with major arcana tarot card data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TarotCardsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Tarot"
        ]
      }
    },
    "/tarot/cards/minor": {
      "get": {
        "operationId": "getMinorArcanaTarotCards",
        "summary": "Get minor arcana tarot cards",
        "description": "Retrieves only the 56 minor arcana tarot cards.",
        "responses": {
          "200": {
            "description": "Successful response with minor arcana tarot card data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TarotCardsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Tarot"
        ]
      }
    },
    "/tarot/cards/random": {
      "get": {
        "operationId": "getRandomTarotCards",
        "summary": "Get random tarot card(s)",
        "description": "Retrieves one or more random tarot cards. By default returns 1 major arcana card.",
        "parameters": [
          {
            "name": "n",
            "in": "query",
            "required": false,
            "description": "Number of random cards to return. Defaults to 1.",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "minor",
            "in": "query",
            "required": false,
            "description": "Set to true to include minor arcana cards in the random selection.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with random tarot card(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TarotCardsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Tarot"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "HoroscopeResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date",
                "description": "The date of the horoscope prediction."
              },
              "period": {
                "type": "string",
                "enum": [
                  "daily",
                  "weekly",
                  "monthly"
                ],
                "description": "The time period of the horoscope."
              },
              "sign": {
                "type": "string",
                "description": "The zodiac sign name."
              },
              "horoscope": {
                "type": "string",
                "description": "The horoscope prediction text."
              }
            },
            "required": [
              "date",
              "period",
              "sign",
              "horoscope"
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "TarotCard": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "major",
              "minor"
            ],
            "description": "Whether the card is major or minor arcana."
          },
          "name": {
            "type": "string",
            "description": "The full name of the tarot card.",
            "examples": [
              "The Magician"
            ]
          },
          "name_short": {
            "type": "string",
            "description": "A short identifier for the card.",
            "examples": [
              "ar01"
            ]
          },
          "value": {
            "type": "string",
            "description": "The card's value as a string.",
            "examples": [
              "1"
            ]
          },
          "value_int": {
            "type": "integer",
            "description": "The card's numeric value."
          },
          "meaning_up": {
            "type": "string",
            "description": "The meaning of the card in the upright position."
          },
          "meaning_rev": {
            "type": "string",
            "description": "The meaning of the card in the reversed position."
          },
          "desc": {
            "type": "string",
            "description": "A description of the card's imagery and symbolism."
          }
        },
        "required": [
          "type",
          "name",
          "name_short",
          "value",
          "value_int",
          "meaning_up",
          "meaning_rev",
          "desc"
        ]
      },
      "TarotCardsResponse": {
        "type": "object",
        "properties": {
          "nhits": {
            "type": "integer",
            "description": "The number of cards returned."
          },
          "cards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TarotCard"
            },
            "description": "Array of tarot card objects."
          }
        },
        "required": [
          "nhits",
          "cards"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Horoscope",
      "description": "Daily, weekly, and monthly horoscope predictions for all 12 zodiac signs."
    },
    {
      "name": "Tarot",
      "description": "Tarot card data including major and minor arcana with meanings and descriptions."
    }
  ]
}