{
  "openapi": "3.0.3",
  "info": {
    "title": "Skyscanner Travel API",
    "version": "2.0",
    "description": "Skyscanner Travel APIs providing access to flights live and indicative prices, car hire prices, hotels live prices, culture data (markets, locales, currencies), and geo data (airports, cities, countries). Supports over 52 markets, 30 languages, and 1,300+ supply partners.",
    "x-jentic-source-url": "https://developers.skyscanner.net/docs/intro"
  },
  "servers": [
    {
      "url": "https://partners.api.skyscanner.net/apiservices/v3"
    }
  ],
  "paths": {
    "/flights/live/search/create": {
      "post": {
        "operationId": "createFlightLiveSearch",
        "summary": "Create a flights live price search",
        "description": "Initiates a live price search for flights. Returns a session token to poll for results.",
        "tags": [
          "Flights Live Prices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlightSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/flights/live/search/poll/{sessionToken}": {
      "post": {
        "operationId": "pollFlightLiveSearch",
        "summary": "Poll flight live search results",
        "description": "Polls for updated results from a live flight price search session.",
        "tags": [
          "Flights Live Prices"
        ],
        "parameters": [
          {
            "name": "sessionToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/flights/indicative/search": {
      "post": {
        "operationId": "searchFlightIndicativePrices",
        "summary": "Search indicative flight prices",
        "description": "Returns indicative (cached) flight prices for route/date combinations. Useful for inspiration and calendar views.",
        "tags": [
          "Flights Indicative Prices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IndicativeSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Indicative prices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicativeSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cars/live/search/create": {
      "post": {
        "operationId": "createCarHireLiveSearch",
        "summary": "Create a car hire live price search",
        "description": "Creates a live search session for car hire prices.",
        "tags": [
          "Car Hire Live Prices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarHireSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarHireSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cars/live/search/poll/{sessionToken}": {
      "post": {
        "operationId": "pollCarHireLiveSearch",
        "summary": "Poll car hire live search results",
        "tags": [
          "Car Hire Live Prices"
        ],
        "parameters": [
          {
            "name": "sessionToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarHireSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cars/indicative/search": {
      "post": {
        "operationId": "searchCarHireIndicativePrices",
        "summary": "Search indicative car hire prices",
        "tags": [
          "Car Hire Indicative Prices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Indicative prices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cars/agents": {
      "get": {
        "operationId": "listCarHireAgents",
        "summary": "List car hire agents",
        "description": "Returns information about valid car hire agents.",
        "tags": [
          "Car Hire Agents"
        ],
        "responses": {
          "200": {
            "description": "Agent list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hotels/live/search/create": {
      "post": {
        "operationId": "createHotelLiveSearch",
        "summary": "Create a hotel live price search",
        "tags": [
          "Hotels Live Prices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HotelSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hotels/live/search/poll/{sessionToken}": {
      "post": {
        "operationId": "pollHotelLiveSearch",
        "summary": "Poll hotel live search results",
        "tags": [
          "Hotels Live Prices"
        ],
        "parameters": [
          {
            "name": "sessionToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/culture/markets": {
      "get": {
        "operationId": "listMarkets",
        "summary": "List supported markets",
        "description": "Returns all markets (countries) supported by Skyscanner.",
        "tags": [
          "Culture"
        ],
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "description": "Locale code",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Markets list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/culture/locales": {
      "get": {
        "operationId": "listLocales",
        "summary": "List supported locales",
        "tags": [
          "Culture"
        ],
        "responses": {
          "200": {
            "description": "Locales list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/culture/currencies": {
      "get": {
        "operationId": "listCurrencies",
        "summary": "List supported currencies",
        "tags": [
          "Culture"
        ],
        "responses": {
          "200": {
            "description": "Currencies list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/geo/hierarchy/flights/{locale}": {
      "get": {
        "operationId": "getGeoHierarchy",
        "summary": "Get geo hierarchy for flights",
        "description": "Returns full catalogue of supported locations (airports, cities, countries, continents).",
        "tags": [
          "Geo"
        ],
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geo hierarchy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FlightSearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object",
            "properties": {
              "market": {
                "type": "string"
              },
              "locale": {
                "type": "string"
              },
              "currency": {
                "type": "string"
              },
              "queryLegs": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "originPlaceId": {
                      "type": "object",
                      "properties": {
                        "iata": {
                          "type": "string"
                        }
                      }
                    },
                    "destinationPlaceId": {
                      "type": "object",
                      "properties": {
                        "iata": {
                          "type": "string"
                        }
                      }
                    },
                    "date": {
                      "type": "object",
                      "properties": {
                        "year": {
                          "type": "integer"
                        },
                        "month": {
                          "type": "integer"
                        },
                        "day": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              },
              "cabinClass": {
                "type": "string",
                "enum": [
                  "CABIN_CLASS_ECONOMY",
                  "CABIN_CLASS_PREMIUM_ECONOMY",
                  "CABIN_CLASS_BUSINESS",
                  "CABIN_CLASS_FIRST"
                ]
              },
              "adults": {
                "type": "integer"
              }
            }
          }
        }
      },
      "FlightSearchResponse": {
        "type": "object",
        "properties": {
          "sessionToken": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "content": {
            "type": "object",
            "properties": {
              "results": {
                "type": "object"
              },
              "sortingOptions": {
                "type": "object"
              }
            }
          }
        }
      },
      "IndicativeSearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object"
          }
        }
      },
      "IndicativeSearchResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "object"
          }
        }
      },
      "CarHireSearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object"
          }
        }
      },
      "CarHireSearchResponse": {
        "type": "object",
        "properties": {
          "sessionToken": {
            "type": "string"
          },
          "results": {
            "type": "object"
          }
        }
      },
      "HotelSearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object"
          }
        }
      },
      "MarketsResponse": {
        "type": "object",
        "properties": {
          "markets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Skyscanner partner API key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}