{
  "openapi": "3.0.3",
  "info": {
    "title": "QWeather API",
    "description": "Location-based weather data API providing real-time weather, forecasts, air quality, weather warnings, weather indices, minutely precipitation, tropical cyclones, ocean data, astronomy, and geolocation services.",
    "version": "7.15.0",
    "contact": {
      "name": "QWeather",
      "url": "https://dev.qweather.com"
    },
    "x-jentic-source-url": "https://dev.qweather.com/en/"
  },
  "servers": [
    {
      "url": "https://api.qweather.com",
      "description": "QWeather API server"
    },
    {
      "url": "https://geoapi.qweather.com",
      "description": "QWeather GeoAPI server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "GeoAPI",
      "description": "City lookup and geolocation services"
    },
    {
      "name": "Real-time Weather",
      "description": "Current weather observations"
    },
    {
      "name": "Weather Forecast",
      "description": "Daily and hourly weather forecasts"
    },
    {
      "name": "Minutely Forecast",
      "description": "Minute-level precipitation forecasts"
    },
    {
      "name": "Weather Warning",
      "description": "Severe weather warnings and alerts"
    },
    {
      "name": "Weather Indices",
      "description": "Weather lifestyle indices"
    },
    {
      "name": "Air Quality",
      "description": "Real-time and forecast air quality data"
    },
    {
      "name": "Astronomy",
      "description": "Sunrise, sunset, moonrise, moonset data"
    }
  ],
  "paths": {
    "/v7/weather/now": {
      "get": {
        "operationId": "getWeatherNow",
        "summary": "Get real-time weather",
        "description": "Get real-time weather data for a specified location. Data is near real-time with a 5-20 minute delay.",
        "tags": ["Real-time Weather"],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationParam"
          },
          {
            "$ref": "#/components/parameters/LangParam"
          },
          {
            "$ref": "#/components/parameters/UnitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with current weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeatherNowResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v7/weather/{days}d": {
      "get": {
        "operationId": "getWeatherDailyForecast",
        "summary": "Get daily weather forecast",
        "description": "Get daily weather forecast for 3, 7, 10, 15, or 30 days.",
        "tags": ["Weather Forecast"],
        "parameters": [
          {
            "name": "days",
            "in": "path",
            "required": true,
            "description": "Number of forecast days",
            "schema": {
              "type": "integer",
              "enum": [3, 7, 10, 15, 30]
            }
          },
          {
            "$ref": "#/components/parameters/LocationParam"
          },
          {
            "$ref": "#/components/parameters/LangParam"
          },
          {
            "$ref": "#/components/parameters/UnitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with daily forecast data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeatherDailyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v7/weather/{hours}h": {
      "get": {
        "operationId": "getWeatherHourlyForecast",
        "summary": "Get hourly weather forecast",
        "description": "Get hourly weather forecast for 24, 72, or 168 hours.",
        "tags": ["Weather Forecast"],
        "parameters": [
          {
            "name": "hours",
            "in": "path",
            "required": true,
            "description": "Number of forecast hours",
            "schema": {
              "type": "integer",
              "enum": [24, 72, 168]
            }
          },
          {
            "$ref": "#/components/parameters/LocationParam"
          },
          {
            "$ref": "#/components/parameters/LangParam"
          },
          {
            "$ref": "#/components/parameters/UnitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with hourly forecast data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeatherHourlyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v7/minutely/5m": {
      "get": {
        "operationId": "getMinutelyPrecipitation",
        "summary": "Get minutely precipitation forecast",
        "description": "Get minute-level precipitation forecast data every 5 minutes for the next 2 hours. Currently only supported for Chinese cities.",
        "tags": ["Minutely Forecast"],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationParam"
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with minutely precipitation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinutelyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v7/warning/now": {
      "get": {
        "operationId": "getWeatherWarning",
        "summary": "Get active weather warnings",
        "description": "Get active severe weather warnings for a specified location.",
        "tags": ["Weather Warning"],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationParam"
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with weather warnings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarningResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v7/indices/{days}d": {
      "get": {
        "operationId": "getWeatherIndices",
        "summary": "Get weather lifestyle indices",
        "description": "Get weather lifestyle indices forecast including car wash, clothing, cold, allergy, UV, fishing, and more.",
        "tags": ["Weather Indices"],
        "parameters": [
          {
            "name": "days",
            "in": "path",
            "required": true,
            "description": "Number of forecast days (1 or 3)",
            "schema": {
              "type": "integer",
              "enum": [1, 3]
            }
          },
          {
            "$ref": "#/components/parameters/LocationParam"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Index type. Use 0 for all indices, or comma-separated index IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with indices data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v7/air/now": {
      "get": {
        "operationId": "getAirQualityNow",
        "summary": "Get real-time air quality",
        "description": "Get real-time air quality data for a specified location.",
        "tags": ["Air Quality"],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationParam"
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with air quality data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirQualityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v7/air/{days}d": {
      "get": {
        "operationId": "getAirQualityForecast",
        "summary": "Get air quality forecast",
        "description": "Get air quality forecast for up to 5 days.",
        "tags": ["Air Quality"],
        "parameters": [
          {
            "name": "days",
            "in": "path",
            "required": true,
            "description": "Number of forecast days",
            "schema": {
              "type": "integer",
              "enum": [5]
            }
          },
          {
            "$ref": "#/components/parameters/LocationParam"
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with air quality forecast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirQualityForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v7/astronomy/sun": {
      "get": {
        "operationId": "getSunData",
        "summary": "Get sunrise and sunset data",
        "description": "Get sunrise and sunset times for a specified location and date.",
        "tags": ["Astronomy"],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationParam"
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Date in YYYYMMDD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with sun data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SunResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v7/astronomy/moon": {
      "get": {
        "operationId": "getMoonData",
        "summary": "Get moonrise and moonset data",
        "description": "Get moonrise, moonset times and moon phase for a specified location and date.",
        "tags": ["Astronomy"],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationParam"
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Date in YYYYMMDD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with moon data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/geo/v2/city/lookup": {
      "get": {
        "operationId": "cityLookup",
        "summary": "City lookup",
        "description": "Search for cities and locations. Supports fuzzy search with partial city names.",
        "tags": ["GeoAPI"],
        "servers": [
          {
            "url": "https://geoapi.qweather.com",
            "description": "GeoAPI server"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationParam"
          },
          {
            "name": "adm",
            "in": "query",
            "description": "Superior administrative division to filter results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Search scope using ISO 3166 country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "number",
            "in": "query",
            "description": "Number of results to return (1-20, default: 10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 10
            }
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with location data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CityLookupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/geo/v2/city/top": {
      "get": {
        "operationId": "getTopCities",
        "summary": "Get top cities",
        "description": "Get a list of popular/top cities worldwide or by country.",
        "tags": ["GeoAPI"],
        "servers": [
          {
            "url": "https://geoapi.qweather.com",
            "description": "GeoAPI server"
          }
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "description": "Filter by country using ISO 3166 code, or 'world' for global",
            "schema": {
              "type": "string",
              "default": "world"
            }
          },
          {
            "name": "number",
            "in": "query",
            "description": "Number of results (1-20, default: 10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 10
            }
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with top cities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CityLookupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer token authentication. Obtain token from QWeather console."
      }
    },
    "parameters": {
      "LocationParam": {
        "name": "location",
        "in": "query",
        "required": true,
        "description": "Location to query. Supports LocationID or comma-separated longitude,latitude (up to 2 decimal places).",
        "schema": {
          "type": "string"
        }
      },
      "LangParam": {
        "name": "lang",
        "in": "query",
        "description": "Multi-language setting (e.g., en, zh, ja, fr, de, es)",
        "schema": {
          "type": "string"
        }
      },
      "UnitParam": {
        "name": "unit",
        "in": "query",
        "description": "Unit system: m for metric (default), i for imperial",
        "schema": {
          "type": "string",
          "enum": ["m", "i"],
          "default": "m"
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error status code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "ReferInfo": {
        "type": "object",
        "properties": {
          "sources": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Data sources"
          },
          "license": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "License information"
          }
        }
      },
      "WeatherNowResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Status code (200 for success)"
          },
          "updateTime": {
            "type": "string",
            "format": "date-time",
            "description": "Last API update time"
          },
          "fxLink": {
            "type": "string",
            "description": "Link to responsive web page"
          },
          "now": {
            "$ref": "#/components/schemas/WeatherNow"
          },
          "refer": {
            "$ref": "#/components/schemas/ReferInfo"
          }
        }
      },
      "WeatherNow": {
        "type": "object",
        "properties": {
          "obsTime": {
            "type": "string",
            "format": "date-time",
            "description": "Observation time"
          },
          "temp": {
            "type": "string",
            "description": "Temperature"
          },
          "feelsLike": {
            "type": "string",
            "description": "Feels like temperature"
          },
          "icon": {
            "type": "string",
            "description": "Weather condition icon code"
          },
          "text": {
            "type": "string",
            "description": "Weather condition text"
          },
          "wind360": {
            "type": "string",
            "description": "Wind direction in degrees"
          },
          "windDir": {
            "type": "string",
            "description": "Wind direction"
          },
          "windScale": {
            "type": "string",
            "description": "Wind scale"
          },
          "windSpeed": {
            "type": "string",
            "description": "Wind speed in km/h"
          },
          "humidity": {
            "type": "string",
            "description": "Relative humidity (%)"
          },
          "precip": {
            "type": "string",
            "description": "Precipitation (mm)"
          },
          "pressure": {
            "type": "string",
            "description": "Atmospheric pressure (hPa)"
          },
          "vis": {
            "type": "string",
            "description": "Visibility (km)"
          },
          "cloud": {
            "type": "string",
            "description": "Cloud cover (%)"
          },
          "dew": {
            "type": "string",
            "description": "Dew point temperature"
          }
        }
      },
      "WeatherDailyResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "updateTime": {
            "type": "string",
            "format": "date-time"
          },
          "fxLink": {
            "type": "string"
          },
          "daily": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyForecast"
            }
          },
          "refer": {
            "$ref": "#/components/schemas/ReferInfo"
          }
        }
      },
      "DailyForecast": {
        "type": "object",
        "properties": {
          "fxDate": {
            "type": "string",
            "format": "date",
            "description": "Forecast date"
          },
          "sunrise": {
            "type": "string",
            "description": "Sunrise time"
          },
          "sunset": {
            "type": "string",
            "description": "Sunset time"
          },
          "moonrise": {
            "type": "string",
            "description": "Moonrise time"
          },
          "moonset": {
            "type": "string",
            "description": "Moonset time"
          },
          "moonPhase": {
            "type": "string",
            "description": "Moon phase name"
          },
          "moonPhaseIcon": {
            "type": "string",
            "description": "Moon phase icon code"
          },
          "tempMax": {
            "type": "string",
            "description": "Maximum temperature"
          },
          "tempMin": {
            "type": "string",
            "description": "Minimum temperature"
          },
          "iconDay": {
            "type": "string",
            "description": "Daytime weather icon code"
          },
          "textDay": {
            "type": "string",
            "description": "Daytime weather condition text"
          },
          "iconNight": {
            "type": "string",
            "description": "Nighttime weather icon code"
          },
          "textNight": {
            "type": "string",
            "description": "Nighttime weather condition text"
          },
          "wind360Day": {
            "type": "string",
            "description": "Daytime wind direction in degrees"
          },
          "windDirDay": {
            "type": "string",
            "description": "Daytime wind direction"
          },
          "windScaleDay": {
            "type": "string",
            "description": "Daytime wind scale"
          },
          "windSpeedDay": {
            "type": "string",
            "description": "Daytime wind speed (km/h)"
          },
          "humidity": {
            "type": "string",
            "description": "Relative humidity (%)"
          },
          "precip": {
            "type": "string",
            "description": "Precipitation (mm)"
          },
          "pressure": {
            "type": "string",
            "description": "Atmospheric pressure (hPa)"
          },
          "vis": {
            "type": "string",
            "description": "Visibility (km)"
          },
          "cloud": {
            "type": "string",
            "description": "Cloud cover (%)"
          },
          "uvIndex": {
            "type": "string",
            "description": "UV index"
          }
        }
      },
      "WeatherHourlyResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "updateTime": {
            "type": "string",
            "format": "date-time"
          },
          "fxLink": {
            "type": "string"
          },
          "hourly": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HourlyForecast"
            }
          },
          "refer": {
            "$ref": "#/components/schemas/ReferInfo"
          }
        }
      },
      "HourlyForecast": {
        "type": "object",
        "properties": {
          "fxTime": {
            "type": "string",
            "format": "date-time",
            "description": "Forecast time"
          },
          "temp": {
            "type": "string",
            "description": "Temperature"
          },
          "icon": {
            "type": "string",
            "description": "Weather condition icon code"
          },
          "text": {
            "type": "string",
            "description": "Weather condition text"
          },
          "wind360": {
            "type": "string",
            "description": "Wind direction in degrees"
          },
          "windDir": {
            "type": "string",
            "description": "Wind direction"
          },
          "windScale": {
            "type": "string",
            "description": "Wind scale"
          },
          "windSpeed": {
            "type": "string",
            "description": "Wind speed (km/h)"
          },
          "humidity": {
            "type": "string",
            "description": "Relative humidity (%)"
          },
          "precip": {
            "type": "string",
            "description": "Precipitation (mm)"
          },
          "pop": {
            "type": "string",
            "description": "Probability of precipitation (%)"
          },
          "pressure": {
            "type": "string",
            "description": "Atmospheric pressure (hPa)"
          },
          "cloud": {
            "type": "string",
            "description": "Cloud cover (%)"
          },
          "dew": {
            "type": "string",
            "description": "Dew point temperature"
          }
        }
      },
      "MinutelyResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "updateTime": {
            "type": "string",
            "format": "date-time"
          },
          "summary": {
            "type": "string",
            "description": "Precipitation description text"
          },
          "minutely": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fxTime": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Forecast time"
                },
                "precip": {
                  "type": "string",
                  "description": "Accumulated precipitation in 5 minutes (mm)"
                },
                "type": {
                  "type": "string",
                  "description": "Precipitation type (rain or snow)"
                }
              }
            }
          },
          "refer": {
            "$ref": "#/components/schemas/ReferInfo"
          }
        }
      },
      "WarningResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "updateTime": {
            "type": "string",
            "format": "date-time"
          },
          "warning": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Warning ID"
                },
                "sender": {
                  "type": "string",
                  "description": "Warning sender"
                },
                "pubTime": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Publish time"
                },
                "title": {
                  "type": "string",
                  "description": "Warning title"
                },
                "status": {
                  "type": "string",
                  "description": "Warning status"
                },
                "level": {
                  "type": "string",
                  "description": "Warning level"
                },
                "severity": {
                  "type": "string",
                  "description": "Warning severity"
                },
                "typeName": {
                  "type": "string",
                  "description": "Warning type name"
                },
                "text": {
                  "type": "string",
                  "description": "Warning detail text"
                }
              }
            }
          },
          "refer": {
            "$ref": "#/components/schemas/ReferInfo"
          }
        }
      },
      "IndicesResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "updateTime": {
            "type": "string",
            "format": "date-time"
          },
          "daily": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "type": {
                  "type": "string",
                  "description": "Index type ID"
                },
                "name": {
                  "type": "string",
                  "description": "Index name"
                },
                "level": {
                  "type": "string",
                  "description": "Index level"
                },
                "category": {
                  "type": "string",
                  "description": "Index category"
                },
                "text": {
                  "type": "string",
                  "description": "Index description text"
                }
              }
            }
          },
          "refer": {
            "$ref": "#/components/schemas/ReferInfo"
          }
        }
      },
      "AirQualityResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "updateTime": {
            "type": "string",
            "format": "date-time"
          },
          "now": {
            "type": "object",
            "properties": {
              "pubTime": {
                "type": "string",
                "format": "date-time"
              },
              "aqi": {
                "type": "string",
                "description": "Air Quality Index"
              },
              "level": {
                "type": "string",
                "description": "AQI level"
              },
              "category": {
                "type": "string",
                "description": "AQI category"
              },
              "primary": {
                "type": "string",
                "description": "Primary pollutant"
              },
              "pm10": {
                "type": "string",
                "description": "PM10 concentration"
              },
              "pm2p5": {
                "type": "string",
                "description": "PM2.5 concentration"
              },
              "no2": {
                "type": "string",
                "description": "NO2 concentration"
              },
              "so2": {
                "type": "string",
                "description": "SO2 concentration"
              },
              "co": {
                "type": "string",
                "description": "CO concentration"
              },
              "o3": {
                "type": "string",
                "description": "O3 concentration"
              }
            }
          },
          "refer": {
            "$ref": "#/components/schemas/ReferInfo"
          }
        }
      },
      "AirQualityForecastResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "updateTime": {
            "type": "string",
            "format": "date-time"
          },
          "daily": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fxDate": {
                  "type": "string",
                  "format": "date"
                },
                "aqi": {
                  "type": "string"
                },
                "level": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                },
                "primary": {
                  "type": "string"
                }
              }
            }
          },
          "refer": {
            "$ref": "#/components/schemas/ReferInfo"
          }
        }
      },
      "SunResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "updateTime": {
            "type": "string",
            "format": "date-time"
          },
          "sunrise": {
            "type": "string",
            "description": "Sunrise time"
          },
          "sunset": {
            "type": "string",
            "description": "Sunset time"
          },
          "refer": {
            "$ref": "#/components/schemas/ReferInfo"
          }
        }
      },
      "MoonResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "updateTime": {
            "type": "string",
            "format": "date-time"
          },
          "moonrise": {
            "type": "string",
            "description": "Moonrise time"
          },
          "moonset": {
            "type": "string",
            "description": "Moonset time"
          },
          "moonPhase": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fxTime": {
                  "type": "string",
                  "format": "date-time"
                },
                "value": {
                  "type": "string",
                  "description": "Moon illumination percentage"
                },
                "name": {
                  "type": "string",
                  "description": "Moon phase name"
                },
                "icon": {
                  "type": "string",
                  "description": "Moon phase icon code"
                }
              }
            }
          },
          "refer": {
            "$ref": "#/components/schemas/ReferInfo"
          }
        }
      },
      "CityLookupResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "location": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocationInfo"
            }
          },
          "refer": {
            "$ref": "#/components/schemas/ReferInfo"
          }
        }
      },
      "LocationInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Location name"
          },
          "id": {
            "type": "string",
            "description": "Location ID"
          },
          "lat": {
            "type": "string",
            "description": "Latitude"
          },
          "lon": {
            "type": "string",
            "description": "Longitude"
          },
          "adm1": {
            "type": "string",
            "description": "First-level administrative division"
          },
          "adm2": {
            "type": "string",
            "description": "Second-level administrative division"
          },
          "country": {
            "type": "string",
            "description": "Country name"
          },
          "tz": {
            "type": "string",
            "description": "Timezone"
          },
          "utcOffset": {
            "type": "string",
            "description": "UTC offset"
          },
          "isDst": {
            "type": "string",
            "description": "Daylight saving time (1 or 0)"
          },
          "type": {
            "type": "string",
            "description": "Location type"
          },
          "rank": {
            "type": "string",
            "description": "Location rank"
          },
          "fxLink": {
            "type": "string",
            "description": "Responsive web page link"
          }
        }
      }
    }
  }
}
