{
  "openapi": "3.0.3",
  "info": {
    "title": "KuCoin API",
    "description": "KuCoin cryptocurrency exchange REST API for spot and margin trading, market data, account management, and fund operations.",
    "version": "1.0.0",
    "contact": {
      "name": "KuCoin",
      "url": "https://www.kucoin.com"
    }
  },
  "servers": [
    {
      "url": "https://api.kucoin.com",
      "description": "KuCoin REST API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": [],
      "ApiSignAuth": [],
      "ApiPassphrase": []
    }
  ],
  "paths": {
    "/api/v1/timestamp": {
      "get": {
        "operationId": "getServerTime",
        "summary": "Get server time",
        "description": "Returns the server time in milliseconds.",
        "tags": ["General"],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/symbols": {
      "get": {
        "operationId": "getSymbols",
        "summary": "Get symbols list",
        "description": "Returns a list of available trading symbols.",
        "tags": ["Market Data"],
        "security": [],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "description": "Filter by market (e.g., BTC, USDS).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Symbol"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/allTickers": {
      "get": {
        "operationId": "getAllTickers",
        "summary": "Get all tickers",
        "description": "Returns ticker data for all trading pairs.",
        "tags": ["Market Data"],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "time": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "ticker": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Ticker"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/stats": {
      "get": {
        "operationId": "get24HrStats",
        "summary": "Get 24hr stats",
        "description": "Returns 24-hour statistics for a trading pair.",
        "tags": ["Market Data"],
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Trading symbol, e.g. BTC-USDT.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/orderbook/level2_20": {
      "get": {
        "operationId": "getOrderBookLevel2_20",
        "summary": "Get order book (top 20)",
        "description": "Returns the top 20 bids and asks for a given symbol.",
        "tags": ["Market Data"],
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Trading symbol.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/OrderBook"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/orderbook/level2_100": {
      "get": {
        "operationId": "getOrderBookLevel2_100",
        "summary": "Get order book (top 100)",
        "description": "Returns the top 100 bids and asks for a given symbol.",
        "tags": ["Market Data"],
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Trading symbol.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/OrderBook"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/histories": {
      "get": {
        "operationId": "getTradeHistories",
        "summary": "Get trade histories",
        "description": "Returns the recent trade history for a given symbol.",
        "tags": ["Market Data"],
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Trading symbol.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TradeHistory"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/market/candles": {
      "get": {
        "operationId": "getKlines",
        "summary": "Get klines",
        "description": "Returns candlestick/kline data for a given symbol.",
        "tags": ["Market Data"],
        "security": [],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Trading symbol.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Candlestick type: 1min, 3min, 5min, 15min, 30min, 1hour, 2hour, 4hour, 6hour, 8hour, 12hour, 1day, 1week.",
            "schema": {
              "type": "string",
              "enum": ["1min", "3min", "5min", "15min", "30min", "1hour", "2hour", "4hour", "6hour", "8hour", "12hour", "1day", "1week"]
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "description": "Start time in seconds.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "description": "End time in seconds.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "[time, open, close, high, low, volume, turnover]"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/currencies": {
      "get": {
        "operationId": "getCurrencies",
        "summary": "Get currencies",
        "description": "Returns a list of all supported currencies.",
        "tags": ["Market Data"],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Currency"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/currencies/{currency}": {
      "get": {
        "operationId": "getCurrencyDetail",
        "summary": "Get currency detail",
        "description": "Returns detail of a specific currency.",
        "tags": ["Market Data"],
        "security": [],
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "description": "Currency code, e.g. BTC.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "List accounts",
        "description": "Returns a list of accounts for the current user.",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Filter by currency.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Account type: main, trade, margin.",
            "schema": {
              "type": "string",
              "enum": ["main", "trade", "margin"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Account"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{accountId}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account detail",
        "description": "Returns the detail of an account.",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "Account ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List orders",
        "description": "Returns a paginated list of orders.",
        "tags": ["Trading"],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Trading symbol.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Order status: active or done.",
            "schema": {
              "type": "string",
              "enum": ["active", "done"]
            }
          },
          {
            "name": "side",
            "in": "query",
            "description": "Order side: buy or sell.",
            "schema": {
              "type": "string",
              "enum": ["buy", "sell"]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Order type: limit, market, limit_stop, market_stop.",
            "schema": {
              "type": "string",
              "enum": ["limit", "market", "limit_stop", "market_stop"]
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "description": "Start time in milliseconds.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "description": "End time in milliseconds.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "currentPage",
            "in": "query",
            "description": "Current page number.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "placeOrder",
        "summary": "Place an order",
        "description": "Places a new spot trading order.",
        "tags": ["Trading"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order placed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "orderId": {
                              "type": "string",
                              "description": "Order ID"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/orders/{orderId}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get order detail",
        "description": "Returns the details of a specific order.",
        "tags": ["Trading"],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "Order ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cancelOrder",
        "summary": "Cancel an order",
        "description": "Cancels a specific order by ID.",
        "tags": ["Trading"],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "Order ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/orders/multi": {
      "post": {
        "operationId": "placeBulkOrders",
        "summary": "Place bulk orders",
        "description": "Places multiple orders in a single request. Maximum 5 orders per request.",
        "tags": ["Trading"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["symbol", "orderList"],
                "properties": {
                  "symbol": {
                    "type": "string",
                    "description": "Trading symbol"
                  },
                  "orderList": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PlaceOrderRequest"
                    },
                    "maxItems": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk orders placed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stop-order": {
      "post": {
        "operationId": "placeStopOrder",
        "summary": "Place a stop order",
        "description": "Places a new stop order.",
        "tags": ["Trading"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stop order placed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listStopOrders",
        "summary": "List stop orders",
        "description": "Returns a list of untriggered stop orders.",
        "tags": ["Trading"],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Trading symbol.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/fills": {
      "get": {
        "operationId": "listFills",
        "summary": "List fills",
        "description": "Returns a list of recent fills (trade executions).",
        "tags": ["Trading"],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Trading symbol.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "description": "Order ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "in": "query",
            "description": "Trade side.",
            "schema": {
              "type": "string",
              "enum": ["buy", "sell"]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Order type.",
            "schema": {
              "type": "string",
              "enum": ["limit", "market"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/deposits": {
      "get": {
        "operationId": "listDeposits",
        "summary": "Get deposit list",
        "description": "Returns a list of deposit records.",
        "tags": ["Funding"],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Currency code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Deposit status: processing, success, failure.",
            "schema": {
              "type": "string",
              "enum": ["processing", "success", "failure"]
            }
          },
          {
            "name": "startAt",
            "in": "query",
            "description": "Start time in milliseconds.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "description": "End time in milliseconds.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/withdrawals": {
      "get": {
        "operationId": "listWithdrawals",
        "summary": "Get withdrawal list",
        "description": "Returns a list of withdrawal records.",
        "tags": ["Funding"],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Currency code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Withdrawal status.",
            "schema": {
              "type": "string",
              "enum": ["processing", "wallet_processing", "success", "failure"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWithdrawal",
        "summary": "Apply withdrawal",
        "description": "Creates a new withdrawal request.",
        "tags": ["Funding"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["currency", "address", "amount"],
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "Currency code"
                  },
                  "address": {
                    "type": "string",
                    "description": "Withdrawal address"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Withdrawal amount"
                  },
                  "memo": {
                    "type": "string",
                    "description": "Address memo/tag"
                  },
                  "isInner": {
                    "type": "boolean",
                    "description": "Internal transfer or not"
                  },
                  "remark": {
                    "type": "string",
                    "description": "Remark"
                  },
                  "chain": {
                    "type": "string",
                    "description": "Blockchain network"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/deposit-addresses": {
      "get": {
        "operationId": "getDepositAddressV2",
        "summary": "Get deposit addresses",
        "description": "Returns deposit addresses for a currency.",
        "tags": ["Funding"],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "Currency code.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/accounts/inner-transfer": {
      "post": {
        "operationId": "innerTransfer",
        "summary": "Inner transfer",
        "description": "Transfers funds between accounts (main, trade, margin).",
        "tags": ["Funding"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["clientOid", "currency", "from", "to", "amount"],
                "properties": {
                  "clientOid": {
                    "type": "string",
                    "description": "Unique client order ID"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code"
                  },
                  "from": {
                    "type": "string",
                    "enum": ["main", "trade", "margin"],
                    "description": "Source account type"
                  },
                  "to": {
                    "type": "string",
                    "enum": ["main", "trade", "margin"],
                    "description": "Destination account type"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Transfer amount"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "KC-API-KEY",
        "description": "API Key"
      },
      "ApiSignAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "KC-API-SIGN",
        "description": "HMAC-SHA256 signature of the request"
      },
      "ApiPassphrase": {
        "type": "apiKey",
        "in": "header",
        "name": "KC-API-PASSPHRASE",
        "description": "API key passphrase"
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Response code. 200000 indicates success."
          },
          "data": {
            "description": "Response data"
          }
        }
      },
      "Symbol": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string",
            "description": "Trading symbol, e.g. BTC-USDT"
          },
          "name": {
            "type": "string",
            "description": "Symbol name"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Base currency"
          },
          "quoteCurrency": {
            "type": "string",
            "description": "Quote currency"
          },
          "feeCurrency": {
            "type": "string",
            "description": "Fee currency"
          },
          "market": {
            "type": "string",
            "description": "Market name"
          },
          "baseMinSize": {
            "type": "string",
            "description": "Minimum order size"
          },
          "quoteMinSize": {
            "type": "string",
            "description": "Minimum quote amount"
          },
          "baseMaxSize": {
            "type": "string",
            "description": "Maximum order size"
          },
          "baseIncrement": {
            "type": "string",
            "description": "Base increment"
          },
          "quoteIncrement": {
            "type": "string",
            "description": "Quote increment"
          },
          "priceIncrement": {
            "type": "string",
            "description": "Price increment"
          },
          "priceLimitRate": {
            "type": "string",
            "description": "Price limit rate"
          },
          "isMarginEnabled": {
            "type": "boolean",
            "description": "Whether margin trading is enabled"
          },
          "enableTrading": {
            "type": "boolean",
            "description": "Whether trading is enabled"
          }
        }
      },
      "Ticker": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "symbolName": {
            "type": "string"
          },
          "buy": {
            "type": "string",
            "description": "Best bid price"
          },
          "sell": {
            "type": "string",
            "description": "Best ask price"
          },
          "changeRate": {
            "type": "string",
            "description": "24h change rate"
          },
          "changePrice": {
            "type": "string",
            "description": "24h change price"
          },
          "high": {
            "type": "string",
            "description": "24h high price"
          },
          "low": {
            "type": "string",
            "description": "24h low price"
          },
          "vol": {
            "type": "string",
            "description": "24h volume"
          },
          "volValue": {
            "type": "string",
            "description": "24h turnover"
          },
          "last": {
            "type": "string",
            "description": "Last traded price"
          },
          "averagePrice": {
            "type": "string",
            "description": "24h average price"
          },
          "takerFeeRate": {
            "type": "string"
          },
          "makerFeeRate": {
            "type": "string"
          }
        }
      },
      "OrderBook": {
        "type": "object",
        "properties": {
          "sequence": {
            "type": "string",
            "description": "Sequence number"
          },
          "time": {
            "type": "integer",
            "format": "int64"
          },
          "bids": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "[price, size]"
            }
          },
          "asks": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "[price, size]"
            }
          }
        }
      },
      "TradeHistory": {
        "type": "object",
        "properties": {
          "sequence": {
            "type": "string"
          },
          "time": {
            "type": "integer",
            "format": "int64",
            "description": "Trade time in nanoseconds"
          },
          "price": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "side": {
            "type": "string",
            "enum": ["buy", "sell"]
          }
        }
      },
      "Currency": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "name": {
            "type": "string",
            "description": "Currency name"
          },
          "fullName": {
            "type": "string",
            "description": "Full name"
          },
          "precision": {
            "type": "integer",
            "description": "Decimal precision"
          },
          "withdrawalMinSize": {
            "type": "string"
          },
          "withdrawalMinFee": {
            "type": "string"
          },
          "isWithdrawEnabled": {
            "type": "boolean"
          },
          "isDepositEnabled": {
            "type": "boolean"
          },
          "isMarginEnabled": {
            "type": "boolean"
          },
          "isDebitEnabled": {
            "type": "boolean"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Account ID"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "type": {
            "type": "string",
            "description": "Account type: main, trade, margin"
          },
          "balance": {
            "type": "string",
            "description": "Total balance"
          },
          "available": {
            "type": "string",
            "description": "Available balance"
          },
          "holds": {
            "type": "string",
            "description": "Frozen balance"
          }
        }
      },
      "PlaceOrderRequest": {
        "type": "object",
        "required": ["clientOid", "side", "symbol"],
        "properties": {
          "clientOid": {
            "type": "string",
            "description": "Unique client order ID"
          },
          "side": {
            "type": "string",
            "enum": ["buy", "sell"],
            "description": "Order side"
          },
          "symbol": {
            "type": "string",
            "description": "Trading symbol"
          },
          "type": {
            "type": "string",
            "enum": ["limit", "market"],
            "default": "limit",
            "description": "Order type"
          },
          "remark": {
            "type": "string",
            "description": "Order remark"
          },
          "stp": {
            "type": "string",
            "enum": ["CN", "CO", "CB", "DC"],
            "description": "Self-trade prevention strategy"
          },
          "price": {
            "type": "string",
            "description": "Price (required for limit orders)"
          },
          "size": {
            "type": "string",
            "description": "Order size in base currency"
          },
          "timeInForce": {
            "type": "string",
            "enum": ["GTC", "GTT", "IOC", "FOK"],
            "default": "GTC",
            "description": "Time in force"
          },
          "cancelAfter": {
            "type": "integer",
            "format": "int64",
            "description": "Cancel after n seconds (for GTT orders)"
          },
          "postOnly": {
            "type": "boolean",
            "description": "Post-only flag"
          },
          "hidden": {
            "type": "boolean",
            "description": "Hidden order flag"
          },
          "iceberg": {
            "type": "boolean",
            "description": "Iceberg order flag"
          },
          "visibleSize": {
            "type": "string",
            "description": "Visible size for iceberg orders"
          },
          "funds": {
            "type": "string",
            "description": "Funds (for market orders by quote)"
          }
        }
      },
      "StopOrderRequest": {
        "type": "object",
        "required": ["clientOid", "side", "symbol", "stopPrice"],
        "properties": {
          "clientOid": {
            "type": "string",
            "description": "Unique client order ID"
          },
          "side": {
            "type": "string",
            "enum": ["buy", "sell"]
          },
          "symbol": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["limit", "market"],
            "default": "limit"
          },
          "price": {
            "type": "string",
            "description": "Price (required for limit)"
          },
          "size": {
            "type": "string",
            "description": "Order size"
          },
          "funds": {
            "type": "string"
          },
          "stopPrice": {
            "type": "string",
            "description": "Stop/trigger price"
          },
          "stop": {
            "type": "string",
            "enum": ["loss", "entry"],
            "description": "Stop type: loss (trigger when price drops) or entry (trigger when price rises)"
          },
          "timeInForce": {
            "type": "string",
            "enum": ["GTC", "GTT", "IOC", "FOK"],
            "default": "GTC"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "General",
      "description": "General system endpoints"
    },
    {
      "name": "Market Data",
      "description": "Market data and reference data"
    },
    {
      "name": "Account",
      "description": "Account management"
    },
    {
      "name": "Trading",
      "description": "Order placement and management"
    },
    {
      "name": "Funding",
      "description": "Deposits, withdrawals, and transfers"
    }
  ]
}
