{
  "openapi": "3.0.3",
  "info": {
    "title": "Firmwater LMS API",
    "version": "2.0.0",
    "description": "REST API for Firmwater LMS, a learning management system. Provides access to courses, departments, job titles, learning paths, locations, orders, products, roles, sites, users, and webhooks.",
    "x-jentic-source-url": "https://help.firmwater.com/reference"
  },
  "servers": [
    {
      "url": "https://app.firmwater.com/api/v2/{clientId}",
      "variables": {
        "clientId": {
          "description": "Your Firmwater client ID",
          "default": "your-client-id"
        }
      }
    }
  ],
  "paths": {
    "/courses.json": {
      "get": {
        "operationId": "listCourses",
        "summary": "List courses",
        "description": "Gets a list of courses",
        "tags": ["Courses"],
        "parameters": [
          {"name": "page", "in": "query", "schema": {"type": "integer"}, "description": "Page number"},
          {"name": "size", "in": "query", "schema": {"type": "integer", "default": 25}, "description": "Results per page"}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Course"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/courses/count.json": {
      "get": {
        "operationId": "countCourses",
        "summary": "Count courses",
        "description": "Gets a count of courses",
        "tags": ["Courses"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CountResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/course-types.json": {
      "get": {
        "operationId": "listCourseTypes",
        "summary": "List course types",
        "description": "Gets a list of course types",
        "tags": ["Courses"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/CourseType"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/course-types/count.json": {
      "get": {
        "operationId": "countCourseTypes",
        "summary": "Count course types",
        "description": "Gets a count of course types",
        "tags": ["Courses"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CountResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/courses/participants.json": {
      "get": {
        "operationId": "listCourseParticipants",
        "summary": "List course participants",
        "description": "Gets a list of participants across courses",
        "tags": ["Courses"],
        "parameters": [
          {"name": "page", "in": "query", "schema": {"type": "integer"}, "description": "Page number"},
          {"name": "size", "in": "query", "schema": {"type": "integer", "default": 25}, "description": "Results per page"}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Participant"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/courses/participants/count.json": {
      "get": {
        "operationId": "countCourseParticipants",
        "summary": "Count course participants",
        "description": "Gets a count of participants across courses",
        "tags": ["Courses"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CountResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/tags.json": {
      "get": {
        "operationId": "listTags",
        "summary": "List tags",
        "description": "Gets a list of tags",
        "tags": ["Courses"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Tag"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/departments.json": {
      "get": {
        "operationId": "listDepartments",
        "summary": "List departments",
        "description": "Gets a list of departments",
        "tags": ["Departments"],
        "parameters": [
          {"name": "page", "in": "query", "schema": {"type": "integer"}, "description": "Page number"},
          {"name": "size", "in": "query", "schema": {"type": "integer", "default": 25}, "description": "Results per page"}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Department"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createDepartment",
        "summary": "Create department",
        "description": "Creates a department",
        "tags": ["Departments"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DepartmentInput"}}}},
        "responses": {
          "201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Department"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/departments/count.json": {
      "get": {
        "operationId": "countDepartments",
        "summary": "Count departments",
        "tags": ["Departments"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CountResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/departments/{id}.json": {
      "get": {
        "operationId": "getDepartment",
        "summary": "Get department",
        "tags": ["Departments"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Department"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "404": {"description": "Not found"}
        }
      },
      "put": {
        "operationId": "updateDepartment",
        "summary": "Update department",
        "tags": ["Departments"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DepartmentInput"}}}},
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Department"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteDepartment",
        "summary": "Delete department",
        "tags": ["Departments"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/job-titles.json": {
      "get": {
        "operationId": "listJobTitles",
        "summary": "List job titles",
        "tags": ["Job Titles"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/JobTitle"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createJobTitle",
        "summary": "Create job title",
        "tags": ["Job Titles"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/JobTitleInput"}}}},
        "responses": {
          "201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/JobTitle"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/job-titles/count.json": {
      "get": {
        "operationId": "countJobTitles",
        "summary": "Count job titles",
        "tags": ["Job Titles"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CountResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/job-titles/{id}.json": {
      "get": {
        "operationId": "getJobTitle",
        "summary": "Get job title",
        "tags": ["Job Titles"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/JobTitle"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateJobTitle",
        "summary": "Update job title",
        "tags": ["Job Titles"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/JobTitleInput"}}}},
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/JobTitle"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteJobTitle",
        "summary": "Delete job title",
        "tags": ["Job Titles"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/learning-paths.json": {
      "get": {
        "operationId": "listLearningPaths",
        "summary": "List learning paths",
        "tags": ["Learning Paths"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/LearningPath"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createLearningPath",
        "summary": "Create learning path",
        "tags": ["Learning Paths"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LearningPathInput"}}}},
        "responses": {
          "201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LearningPath"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/learning-paths/count.json": {
      "get": {
        "operationId": "countLearningPaths",
        "summary": "Count learning paths",
        "tags": ["Learning Paths"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CountResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/learning-paths/{id}.json": {
      "get": {
        "operationId": "getLearningPath",
        "summary": "Get learning path",
        "tags": ["Learning Paths"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LearningPath"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateLearningPath",
        "summary": "Update learning path",
        "tags": ["Learning Paths"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LearningPathInput"}}}},
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LearningPath"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteLearningPath",
        "summary": "Delete learning path",
        "tags": ["Learning Paths"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/learning-paths/{id}/participants.json": {
      "get": {
        "operationId": "listLearningPathParticipants",
        "summary": "List learning path participants",
        "tags": ["Learning Paths"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "schema": {"type": "integer"}},
          {"name": "size", "in": "query", "schema": {"type": "integer", "default": 25}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Participant"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "addLearningPathParticipant",
        "summary": "Add participant to learning path",
        "tags": ["Learning Paths"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ParticipantInput"}}}},
        "responses": {
          "201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Participant"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/learning-paths/{id}/participants/count.json": {
      "get": {
        "operationId": "countLearningPathParticipants",
        "summary": "Count learning path participants",
        "tags": ["Learning Paths"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CountResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/learning-paths/{id}/participants/{participantId}.json": {
      "get": {
        "operationId": "getLearningPathParticipant",
        "summary": "Get learning path participant",
        "tags": ["Learning Paths"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "participantId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Participant"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "removeLearningPathParticipant",
        "summary": "Remove participant from learning path",
        "tags": ["Learning Paths"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "participantId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/learning-paths/{id}/participants/add-many.json": {
      "post": {
        "operationId": "addManyLearningPathParticipants",
        "summary": "Add many participants",
        "tags": ["Learning Paths"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"participants": {"type": "array", "items": {"$ref": "#/components/schemas/ParticipantInput"}}}}}}},
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/learning-paths/{id}/participants/remove-many.json": {
      "post": {
        "operationId": "removeManyLearningPathParticipants",
        "summary": "Remove many participants",
        "tags": ["Learning Paths"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"participants": {"type": "array", "items": {"type": "string"}}}}}}},
        "responses": {
          "200": {"description": "Successful response"},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/learning-paths/{id}/participants/{participantId}/timeline.json": {
      "get": {
        "operationId": "getLearningPathParticipantTimeline",
        "summary": "Get participant timeline",
        "tags": ["Learning Paths"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "participantId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/TimelineEntry"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/locations.json": {
      "get": {
        "operationId": "listLocations",
        "summary": "List locations",
        "tags": ["Locations"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Location"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createLocation",
        "summary": "Create location",
        "tags": ["Locations"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LocationInput"}}}},
        "responses": {
          "201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Location"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/locations/count.json": {
      "get": {
        "operationId": "countLocations",
        "summary": "Count locations",
        "tags": ["Locations"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CountResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/locations/{id}.json": {
      "get": {
        "operationId": "getLocation",
        "summary": "Get location",
        "tags": ["Locations"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Location"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateLocation",
        "summary": "Update location",
        "tags": ["Locations"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LocationInput"}}}},
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Location"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteLocation",
        "summary": "Delete location",
        "tags": ["Locations"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/orders.json": {
      "get": {
        "operationId": "listOrders",
        "summary": "List orders",
        "tags": ["Orders"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Order"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createOrder",
        "summary": "Create order",
        "tags": ["Orders"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OrderInput"}}}},
        "responses": {
          "201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Order"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/orders/count.json": {
      "get": {
        "operationId": "countOrders",
        "summary": "Count orders",
        "tags": ["Orders"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CountResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/orders/{id}.json": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get order",
        "tags": ["Orders"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Order"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateOrder",
        "summary": "Update order",
        "tags": ["Orders"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OrderInput"}}}},
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Order"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteOrder",
        "summary": "Delete order",
        "tags": ["Orders"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/orders/{id}/line-items.json": {
      "get": {
        "operationId": "listOrderLineItems",
        "summary": "List order line items",
        "tags": ["Orders"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/LineItem"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createOrderLineItem",
        "summary": "Create order line item",
        "tags": ["Orders"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LineItemInput"}}}},
        "responses": {
          "201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LineItem"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/orders/{orderId}/line-items/{lineItemId}.json": {
      "get": {
        "operationId": "getOrderLineItem",
        "summary": "Get order line item",
        "tags": ["Orders"],
        "parameters": [
          {"name": "orderId", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "lineItemId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LineItem"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateOrderLineItem",
        "summary": "Update order line item",
        "tags": ["Orders"],
        "parameters": [
          {"name": "orderId", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "lineItemId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LineItemInput"}}}},
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LineItem"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteOrderLineItem",
        "summary": "Delete order line item",
        "tags": ["Orders"],
        "parameters": [
          {"name": "orderId", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "lineItemId", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/orders/{id}/notify.json": {
      "post": {
        "operationId": "notifyOrder",
        "summary": "Send order notification",
        "tags": ["Orders"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/products.json": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "tags": ["Products"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Product"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createProduct",
        "summary": "Create product",
        "tags": ["Products"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProductInput"}}}},
        "responses": {
          "201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Product"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/products/count.json": {
      "get": {
        "operationId": "countProducts",
        "summary": "Count products",
        "tags": ["Products"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CountResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/products/{id}.json": {
      "get": {
        "operationId": "getProduct",
        "summary": "Get product",
        "tags": ["Products"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Product"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateProduct",
        "summary": "Update product",
        "tags": ["Products"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProductInput"}}}},
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Product"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteProduct",
        "summary": "Delete product",
        "tags": ["Products"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/roles.json": {
      "get": {
        "operationId": "listRoles",
        "summary": "List roles",
        "tags": ["Roles"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Role"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/roles/count.json": {
      "get": {
        "operationId": "countRoles",
        "summary": "Count roles",
        "tags": ["Roles"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CountResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/roles/{id}.json": {
      "get": {
        "operationId": "getRole",
        "summary": "Get role",
        "tags": ["Roles"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Role"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/sites.json": {
      "get": {
        "operationId": "listSites",
        "summary": "List sites",
        "tags": ["Sites"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Site"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/sites/count.json": {
      "get": {
        "operationId": "countSites",
        "summary": "Count sites",
        "tags": ["Sites"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CountResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/sites/{id}.json": {
      "get": {
        "operationId": "getSite",
        "summary": "Get site",
        "tags": ["Sites"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Site"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/users.json": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "tags": ["Users"],
        "parameters": [
          {"name": "page", "in": "query", "schema": {"type": "integer"}},
          {"name": "size", "in": "query", "schema": {"type": "integer", "default": 25}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/User"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createUser",
        "summary": "Create user",
        "tags": ["Users"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserInput"}}}},
        "responses": {
          "201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/User"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/users/count.json": {
      "get": {
        "operationId": "countUsers",
        "summary": "Count users",
        "tags": ["Users"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CountResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/users/{id}.json": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user",
        "tags": ["Users"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/User"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateUser",
        "summary": "Update user",
        "tags": ["Users"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserInput"}}}},
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/User"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete user",
        "tags": ["Users"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/users/{id}/welcome.json": {
      "post": {
        "operationId": "sendUserWelcomeEmail",
        "summary": "Send welcome email",
        "tags": ["Users"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/users/{id}/allocations.json": {
      "get": {
        "operationId": "listUserAllocations",
        "summary": "List user allocations",
        "tags": ["Users"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Allocation"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/users/{id}/courses.json": {
      "get": {
        "operationId": "listUserCourses",
        "summary": "List user's assigned courses",
        "tags": ["Users"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Course"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/users/{id}/learning-paths.json": {
      "get": {
        "operationId": "listUserLearningPaths",
        "summary": "List user's learning paths",
        "tags": ["Users"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/LearningPath"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/webhooks.json": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "tags": ["Webhooks"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Webhook"}}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create webhook",
        "tags": ["Webhooks"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WebhookInput"}}}},
        "responses": {
          "201": {"description": "Created", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Webhook"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/webhooks/count.json": {
      "get": {
        "operationId": "countWebhooks",
        "summary": "Count webhooks",
        "tags": ["Webhooks"],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CountResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/webhooks/{id}.json": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Get webhook",
        "tags": ["Webhooks"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Webhook"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateWebhook",
        "summary": "Update webhook",
        "tags": ["Webhooks"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WebhookInput"}}}},
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Webhook"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete webhook",
        "tags": ["Webhooks"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response"},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/events/{id}.json": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get recent event",
        "tags": ["Webhooks"],
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Event"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Course": {"type": "object", "properties": {"id": {"type": "string"}, "name": {"type": "string"}, "description": {"type": "string"}, "status": {"type": "string"}}},
      "CourseType": {"type": "object", "properties": {"id": {"type": "string"}, "name": {"type": "string"}}},
      "Participant": {"type": "object", "properties": {"id": {"type": "string"}, "userId": {"type": "string"}, "name": {"type": "string"}, "email": {"type": "string"}, "status": {"type": "string"}}},
      "ParticipantInput": {"type": "object", "properties": {"userId": {"type": "string"}}},
      "Department": {"type": "object", "properties": {"id": {"type": "string"}, "name": {"type": "string"}}},
      "DepartmentInput": {"type": "object", "properties": {"name": {"type": "string"}}, "required": ["name"]},
      "JobTitle": {"type": "object", "properties": {"id": {"type": "string"}, "name": {"type": "string"}}},
      "JobTitleInput": {"type": "object", "properties": {"name": {"type": "string"}}, "required": ["name"]},
      "LearningPath": {"type": "object", "properties": {"id": {"type": "string"}, "name": {"type": "string"}, "description": {"type": "string"}}},
      "LearningPathInput": {"type": "object", "properties": {"name": {"type": "string"}, "description": {"type": "string"}}, "required": ["name"]},
      "Location": {"type": "object", "properties": {"id": {"type": "string"}, "name": {"type": "string"}, "address": {"type": "string"}}},
      "LocationInput": {"type": "object", "properties": {"name": {"type": "string"}, "address": {"type": "string"}}, "required": ["name"]},
      "Order": {"type": "object", "properties": {"id": {"type": "string"}, "status": {"type": "string"}, "total": {"type": "number"}, "createdAt": {"type": "string", "format": "date-time"}}},
      "OrderInput": {"type": "object", "properties": {"status": {"type": "string"}}},
      "LineItem": {"type": "object", "properties": {"id": {"type": "string"}, "productId": {"type": "string"}, "quantity": {"type": "integer"}, "price": {"type": "number"}}},
      "LineItemInput": {"type": "object", "properties": {"productId": {"type": "string"}, "quantity": {"type": "integer"}}},
      "Product": {"type": "object", "properties": {"id": {"type": "string"}, "name": {"type": "string"}, "description": {"type": "string"}, "price": {"type": "number"}}},
      "ProductInput": {"type": "object", "properties": {"name": {"type": "string"}, "description": {"type": "string"}, "price": {"type": "number"}}, "required": ["name"]},
      "Role": {"type": "object", "properties": {"id": {"type": "string"}, "name": {"type": "string"}}},
      "Site": {"type": "object", "properties": {"id": {"type": "string"}, "name": {"type": "string"}, "url": {"type": "string"}}},
      "User": {"type": "object", "properties": {"id": {"type": "string"}, "firstName": {"type": "string"}, "lastName": {"type": "string"}, "email": {"type": "string"}, "role": {"type": "string"}}},
      "UserInput": {"type": "object", "properties": {"firstName": {"type": "string"}, "lastName": {"type": "string"}, "email": {"type": "string"}}, "required": ["firstName", "lastName", "email"]},
      "Allocation": {"type": "object", "properties": {"id": {"type": "string"}, "courseId": {"type": "string"}, "userId": {"type": "string"}, "status": {"type": "string"}}},
      "Webhook": {"type": "object", "properties": {"id": {"type": "string"}, "url": {"type": "string"}, "events": {"type": "array", "items": {"type": "string"}}}},
      "WebhookInput": {"type": "object", "properties": {"url": {"type": "string"}, "events": {"type": "array", "items": {"type": "string"}}}, "required": ["url"]},
      "Event": {"type": "object", "properties": {"id": {"type": "string"}, "type": {"type": "string"}, "data": {"type": "object"}, "createdAt": {"type": "string", "format": "date-time"}}},
      "Tag": {"type": "object", "properties": {"id": {"type": "string"}, "name": {"type": "string"}}},
      "TimelineEntry": {"type": "object", "properties": {"id": {"type": "string"}, "event": {"type": "string"}, "timestamp": {"type": "string", "format": "date-time"}}},
      "CountResponse": {"type": "object", "properties": {"count": {"type": "integer"}}},
      "ErrorResponse": {"type": "object", "properties": {"error": {"type": "string"}, "message": {"type": "string"}}}
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [{"apiKey": []}]
}