{
  "openapi": "3.0.3",
  "info": {
    "title": "Knack API",
    "description": "The Knack API provides RESTful access to your Knack application data. It supports CRUD operations on records through both object-based requests (full access to all fields) and view-based requests (scoped to fields in a specific view). Authentication is via application ID and API key headers.",
    "version": "1.0",
    "contact": {
      "name": "Knack",
      "url": "https://docs.knack.com/reference"
    }
  },
  "servers": [
    {
      "url": "https://api.knack.com/v1"
    }
  ],
  "security": [
    {
      "appId": [],
      "apiKey": []
    }
  ],
  "paths": {
    "/objects/{object_key}/records": {
      "get": {
        "operationId": "getObjectRecords",
        "summary": "Retrieve multiple records (object-based)",
        "description": "Retrieves up to 1,000 records at a time from the specified object. Supports pagination, sorting, filtering, and formatting.",
        "tags": ["Object-Based Records"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ObjectKey"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/RowsPerPage"
          },
          {
            "$ref": "#/components/parameters/SortField"
          },
          {
            "$ref": "#/components/parameters/SortOrder"
          },
          {
            "$ref": "#/components/parameters/Format"
          },
          {
            "name": "filters",
            "in": "query",
            "description": "URL-encoded JSON array of filter rules to apply to the query.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createObjectRecord",
        "summary": "Create a record (object-based)",
        "description": "Creates a single record in the specified object. Only one record can be inserted per request.",
        "tags": ["Object-Based Records"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ObjectKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordPayload"
              },
              "example": {
                "field_1": "Name of new company",
                "field_16": {
                  "street": "123 Fake St.",
                  "city": "Amonate",
                  "state": "VA",
                  "zip": "24601"
                },
                "field_17": {
                  "url": "https://example.com"
                },
                "field_18": "Other",
                "field_31": "555-555-5555"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          }
        }
      }
    },
    "/objects/{object_key}/records/{record_id}": {
      "get": {
        "operationId": "getObjectRecord",
        "summary": "Retrieve a single record (object-based)",
        "description": "Retrieves a specific record by its ID from the specified object.",
        "tags": ["Object-Based Records"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ObjectKey"
          },
          {
            "$ref": "#/components/parameters/RecordId"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateObjectRecord",
        "summary": "Update a record (object-based)",
        "description": "Updates a specific record in the specified object. Only fields included in the payload will be updated; all other fields remain unchanged.",
        "tags": ["Object-Based Records"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ObjectKey"
          },
          {
            "$ref": "#/components/parameters/RecordId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordPayload"
              },
              "example": {
                "field_1": "Updated name",
                "field_18": "Other"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteObjectRecord",
        "summary": "Delete a record (object-based)",
        "description": "Deletes a specific record from the specified object.",
        "tags": ["Object-Based Records"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ObjectKey"
          },
          {
            "$ref": "#/components/parameters/RecordId"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion confirmation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{scene_key}/views/{view_key}/records": {
      "get": {
        "operationId": "getViewRecords",
        "summary": "Retrieve multiple records (view-based)",
        "description": "Retrieves records from the specified view. Only fields included in the view will appear in the response. Supports pagination, sorting, filtering, and formatting.",
        "tags": ["View-Based Records"],
        "parameters": [
          {
            "$ref": "#/components/parameters/SceneKey"
          },
          {
            "$ref": "#/components/parameters/ViewKey"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/RowsPerPage"
          },
          {
            "$ref": "#/components/parameters/SortField"
          },
          {
            "$ref": "#/components/parameters/SortOrder"
          },
          {
            "$ref": "#/components/parameters/Format"
          },
          {
            "name": "filters",
            "in": "query",
            "description": "URL-encoded JSON array of filter rules to apply to the query.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appId": [],
            "viewBasedKey": []
          },
          {
            "appId": [],
            "viewBasedKey": [],
            "userToken": []
          }
        ]
      },
      "post": {
        "operationId": "createViewRecord",
        "summary": "Create a record (view-based)",
        "description": "Creates a single record through the specified form view. Only fields present in the form view can be set. Record rules configured on the form will be triggered.",
        "tags": ["View-Based Records"],
        "parameters": [
          {
            "$ref": "#/components/parameters/SceneKey"
          },
          {
            "$ref": "#/components/parameters/ViewKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created record with submit key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewRecordResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appId": [],
            "viewBasedKey": []
          },
          {
            "appId": [],
            "viewBasedKey": [],
            "userToken": []
          }
        ]
      }
    },
    "/pages/{scene_key}/views/{view_key}/records/{record_id}": {
      "get": {
        "operationId": "getViewRecord",
        "summary": "Retrieve a single record (view-based)",
        "description": "Retrieves a specific record by its ID from the specified view. Only fields included in the view will appear in the response.",
        "tags": ["View-Based Records"],
        "parameters": [
          {
            "$ref": "#/components/parameters/SceneKey"
          },
          {
            "$ref": "#/components/parameters/ViewKey"
          },
          {
            "$ref": "#/components/parameters/RecordId"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          }
        },
        "security": [
          {
            "appId": [],
            "viewBasedKey": []
          },
          {
            "appId": [],
            "viewBasedKey": [],
            "userToken": []
          }
        ]
      },
      "put": {
        "operationId": "updateViewRecord",
        "summary": "Update a record (view-based)",
        "description": "Updates a specific record through the specified view. Only fields present in the form or inline-editable view can be set. Record rules configured on the form will be triggered.",
        "tags": ["View-Based Records"],
        "parameters": [
          {
            "$ref": "#/components/parameters/SceneKey"
          },
          {
            "$ref": "#/components/parameters/ViewKey"
          },
          {
            "$ref": "#/components/parameters/RecordId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated record with submit key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewRecordResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appId": [],
            "viewBasedKey": []
          },
          {
            "appId": [],
            "viewBasedKey": [],
            "userToken": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteViewRecord",
        "summary": "Delete a record (view-based)",
        "description": "Deletes a specific record from the specified view. Applicable to tables, lists, searches, calendars, and details views.",
        "tags": ["View-Based Records"],
        "parameters": [
          {
            "$ref": "#/components/parameters/SceneKey"
          },
          {
            "$ref": "#/components/parameters/ViewKey"
          },
          {
            "$ref": "#/components/parameters/RecordId"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion confirmation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appId": [],
            "viewBasedKey": []
          },
          {
            "appId": [],
            "viewBasedKey": [],
            "userToken": []
          }
        ]
      }
    },
    "/applications/{application_id}/session": {
      "post": {
        "operationId": "createSession",
        "summary": "Remote user login",
        "description": "Authenticates a user with email and password and returns a session token. The token can be used in the Authorization header for subsequent view-based requests that require login. SSO is not supported.",
        "tags": ["Authentication"],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "required": true,
            "description": "The Knack application ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The user's email address."
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "The user's password."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "appId": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "appId": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Knack-Application-Id",
        "description": "Your Knack application ID."
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Knack-REST-API-Key",
        "description": "Your Knack REST API key. Used for object-based requests."
      },
      "viewBasedKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Knack-REST-API-Key",
        "description": "For view-based requests, set this header to the literal string 'knack'."
      },
      "userToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "User session token obtained from the remote login endpoint. Required for view-based requests on login-protected pages."
      }
    },
    "parameters": {
      "ObjectKey": {
        "name": "object_key",
        "in": "path",
        "required": true,
        "description": "The object key identifier (e.g., 'object_1').",
        "schema": {
          "type": "string",
          "pattern": "^object_\\d+$"
        },
        "example": "object_1"
      },
      "RecordId": {
        "name": "record_id",
        "in": "path",
        "required": true,
        "description": "The unique record identifier.",
        "schema": {
          "type": "string"
        },
        "example": "575482d691e16d4235adcdb6"
      },
      "SceneKey": {
        "name": "scene_key",
        "in": "path",
        "required": true,
        "description": "The scene (page) key identifier (e.g., 'scene_3').",
        "schema": {
          "type": "string",
          "pattern": "^scene_\\d+$"
        },
        "example": "scene_3"
      },
      "ViewKey": {
        "name": "view_key",
        "in": "path",
        "required": true,
        "description": "The view key identifier (e.g., 'view_5').",
        "schema": {
          "type": "string",
          "pattern": "^view_\\d+$"
        },
        "example": "view_5"
      },
      "Page": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "The page number of results to return.",
        "schema": {
          "type": "integer",
          "default": 1,
          "minimum": 1
        }
      },
      "RowsPerPage": {
        "name": "rows_per_page",
        "in": "query",
        "required": false,
        "description": "Number of records to return per page.",
        "schema": {
          "type": "integer",
          "default": 25,
          "minimum": 1,
          "maximum": 1000
        }
      },
      "SortField": {
        "name": "sort_field",
        "in": "query",
        "required": false,
        "description": "The field key to sort results by (e.g., 'field_25').",
        "schema": {
          "type": "string"
        }
      },
      "SortOrder": {
        "name": "sort_order",
        "in": "query",
        "required": false,
        "description": "The sort direction.",
        "schema": {
          "type": "string",
          "enum": ["asc", "desc"]
        }
      },
      "Format": {
        "name": "format",
        "in": "query",
        "required": false,
        "description": "The response format for field values.",
        "schema": {
          "type": "string",
          "enum": ["raw", "html", "both"],
          "default": "both"
        }
      }
    },
    "schemas": {
      "Record": {
        "type": "object",
        "description": "A Knack record. Fields are dynamic and identified by field keys (e.g., field_1, field_1_raw).",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique record identifier."
          }
        },
        "additionalProperties": true
      },
      "RecordPayload": {
        "type": "object",
        "description": "A JSON object of field key/value pairs to create or update. Keys are field identifiers (e.g., field_1). Values can be strings, numbers, or objects depending on the field type.",
        "additionalProperties": true,
        "example": {
          "field_1": "Example value",
          "field_2": "Another value"
        }
      },
      "RecordListResponse": {
        "type": "object",
        "properties": {
          "total_pages": {
            "type": "integer",
            "description": "Total number of pages of results."
          },
          "current_page": {
            "type": "integer",
            "description": "The current page number."
          },
          "total_records": {
            "type": "integer",
            "description": "Total number of records matching the query."
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Record"
            }
          }
        }
      },
      "ViewRecordResponse": {
        "type": "object",
        "properties": {
          "record": {
            "$ref": "#/components/schemas/Record"
          },
          "submit_key": {
            "type": "string",
            "description": "The submit key associated with the form view."
          }
        }
      },
      "DeleteResponse": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "Indicates whether the record was successfully deleted."
          }
        }
      },
      "SessionResponse": {
        "type": "object",
        "properties": {
          "session": {
            "type": "object",
            "properties": {
              "user": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The user identifier."
                  },
                  "approval_status": {
                    "type": "string",
                    "description": "The user's approval status."
                  },
                  "profile_keys": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of profile key identifiers."
                  },
                  "profile_objects": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of connected profile objects."
                  },
                  "utility_key": {
                    "type": "string",
                    "description": "Key for utility operations."
                  },
                  "token": {
                    "type": "string",
                    "description": "JWT authentication token to use in the Authorization header for subsequent requests."
                  },
                  "values": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "User field values."
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Object-Based Records",
      "description": "Unrestricted CRUD access to all fields and records for a specific object. Requires the API key. Should only be used in server-side code."
    },
    {
      "name": "View-Based Records",
      "description": "CRUD access scoped to the fields and records available through a specific view. Uses the literal string 'knack' as the API key. Safe for client-side code."
    },
    {
      "name": "Authentication",
      "description": "User authentication and session management."
    }
  ]
}