{
  "openapi": "3.0.3",
  "info": {
    "title": "Axerto API",
    "version": "1.0.0",
    "description": "Axerto landing page and lead management API. Provides endpoints for authentication, webhook subscriptions, landing page listing, and lead retrieval.",
    "x-jentic-source-url": "https://axerto.com/api/zapier/docs/"
  },
  "servers": [
    {
      "url": "https://axerto.com"
    }
  ],
  "paths": {
    "/api/zapier/auth/": {
      "get": {
        "operationId": "testAuth",
        "summary": "Test authentication",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Authenticated user info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/zapier/subscribe/": {
      "post": {
        "operationId": "subscribeHook",
        "summary": "Subscribe to webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hookUrl",
                  "landing_id"
                ],
                "properties": {
                  "hookUrl": {
                    "type": "string"
                  },
                  "landing_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/zapier/unsubscribe/": {
      "delete": {
        "operationId": "unsubscribeHook",
        "summary": "Unsubscribe from webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hook_url"
                ],
                "properties": {
                  "hook_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsubscribed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/zapier/landings/": {
      "get": {
        "operationId": "listLandings",
        "summary": "List landing pages",
        "tags": [
          "Landings"
        ],
        "responses": {
          "200": {
            "description": "Landing pages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/zapier/leads/": {
      "get": {
        "operationId": "listLeads",
        "summary": "List recent leads",
        "tags": [
          "Leads"
        ],
        "responses": {
          "200": {
            "description": "Leads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ]
}