{
  "openapi": "3.0.3",
  "info": {
    "title": "Pagure API",
    "description": "REST API for Pagure, a lightweight Git-centered forge. Pagure provides a web interface for Git repositories along with bug tracking, code review, and release management features.",
    "version": "0",
    "contact": {
      "url": "https://pagure.io"
    },
    "license": {
      "name": "GPL-2.0-or-later",
      "url": "https://www.gnu.org/licenses/old-licenses/gpl-2.0.html"
    },
    "x-jentic-source-url": "https://pagure.io/api/"
  },
  "servers": [
    {
      "url": "https://pagure.io/api/0"
    }
  ],
  "paths": {
    "/version": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Get API version",
        "operationId": "getVersion",
        "responses": {
          "200": {
            "description": "API version information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List all users",
        "operationId": "listUsers",
        "parameters": [
          {
            "name": "pattern",
            "in": "query",
            "description": "Filter users by pattern",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "total_users": {
                      "type": "integer"
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/-/whoami": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Get current authenticated user",
        "operationId": "whoAmI",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user identity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/task/{taskid}/status": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Get async task status",
        "operationId": "getTaskStatus",
        "parameters": [
          {
            "name": "taskid",
            "in": "path",
            "required": true,
            "description": "The task identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/error_codes": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "List all error codes",
        "operationId": "getErrorCodes",
        "responses": {
          "200": {
            "description": "Dictionary of error codes and their descriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List projects",
        "operationId": "listProjects",
        "parameters": [
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by project tags",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pattern",
            "in": "query",
            "description": "Filter by name pattern",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "description": "Filter by project owner",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespace",
            "in": "query",
            "description": "Filter by namespace",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fork",
            "in": "query",
            "description": "Filter forks (true/false)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "short",
            "in": "query",
            "description": "Return short project representation",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    },
                    "total_projects": {
                      "type": "integer"
                    },
                    "args": {
                      "type": "object"
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/new": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a new project",
        "operationId": "createProject",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "description"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the project"
                  },
                  "description": {
                    "type": "string",
                    "description": "A short description of the project"
                  },
                  "namespace": {
                    "type": "string",
                    "description": "The namespace of the project"
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL for the project homepage"
                  },
                  "avatar_email": {
                    "type": "string",
                    "description": "Email for the project avatar"
                  },
                  "create_readme": {
                    "type": "boolean",
                    "description": "Whether to create a README in the new repo",
                    "default": false
                  },
                  "private": {
                    "type": "boolean",
                    "description": "Whether the project is private",
                    "default": false
                  },
                  "ignore_existing_repos": {
                    "type": "boolean",
                    "description": "Ignore existing repos on disk",
                    "default": false
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for the task to complete",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project creation task queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "taskid": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/fork": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Fork a project",
        "operationId": "forkProject",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "repo"
                ],
                "properties": {
                  "repo": {
                    "type": "string",
                    "description": "The name of the project to fork"
                  },
                  "namespace": {
                    "type": "string",
                    "description": "The namespace of the project to fork"
                  },
                  "username": {
                    "type": "string",
                    "description": "The owner of the project to fork (if it is a fork itself)"
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for the task to complete",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fork task queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "taskid": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get project information",
        "operationId": "getProject",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Projects"
        ],
        "summary": "Modify project settings",
        "operationId": "modifyProject",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "main_admin": {
                    "type": "string",
                    "description": "New main admin username"
                  },
                  "retain_access": {
                    "type": "boolean",
                    "description": "Retain access for the old main admin",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project modified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/tags": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List project tags",
        "operationId": "listProjectTags",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "pattern",
            "in": "query",
            "description": "Filter tags by pattern",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of project tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    },
                    "total_tags": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/{repo}/tags/new": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a new project tag",
        "operationId": "createProjectTag",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "tag",
                  "tag_color"
                ],
                "properties": {
                  "tag": {
                    "type": "string",
                    "description": "The name of the tag"
                  },
                  "tag_color": {
                    "type": "string",
                    "description": "The color of the tag (hex code)"
                  },
                  "tag_description": {
                    "type": "string",
                    "description": "Description of the tag"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/tag/{tag}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get tag details",
        "operationId": "getProjectTag",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete a project tag",
        "operationId": "deleteProjectTag",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/git/tags": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List git tags",
        "operationId": "listGitTags",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "with_commits",
            "in": "query",
            "description": "Include commit hashes for each tag",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of git tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "total_tags": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a git tag",
        "operationId": "createGitTag",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "tagname",
                  "commit_hash"
                ],
                "properties": {
                  "tagname": {
                    "type": "string",
                    "description": "Name of the git tag"
                  },
                  "commit_hash": {
                    "type": "string",
                    "description": "Commit hash to tag"
                  },
                  "message": {
                    "type": "string",
                    "description": "Tag annotation message"
                  },
                  "with_commits": {
                    "type": "boolean",
                    "description": "Return commit hashes in response"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Git tag created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/git/branches": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List git branches",
        "operationId": "listGitBranches",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "with_commits",
            "in": "query",
            "description": "Include HEAD commit hash per branch",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of branches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "branches": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "default": {
                      "type": "string"
                    },
                    "total_branches": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Set default git branch",
        "operationId": "setDefaultBranch",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "branch_name"
                ],
                "properties": {
                  "branch_name": {
                    "type": "string",
                    "description": "The name of the branch to set as default"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Default branch updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/git/branch": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a new git branch",
        "operationId": "createGitBranch",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "branch_name"
                ],
                "properties": {
                  "branch_name": {
                    "type": "string",
                    "description": "Name of the new branch"
                  },
                  "from_branch": {
                    "type": "string",
                    "description": "Source branch name"
                  },
                  "from_commit": {
                    "type": "string",
                    "description": "Source commit hash"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Branch created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/tree": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List repository tree or get file content",
        "operationId": "getRepoTree",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Path within the repository",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Branch to list files from",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Repository tree listing or file content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "file",
                              "folder"
                            ]
                          },
                          "path": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/{repo}/watchers": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get project watchers",
        "operationId": "getProjectWatchers",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "responses": {
          "200": {
            "description": "List of watchers with notification preferences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "watchers": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "total_watchers": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{repo}/watchers/update": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Update project watch status",
        "operationId": "updateProjectWatchStatus",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "integer",
                    "description": "Watch status (-1: reset, 0: unwatch, 1: watch issues, 2: watch commits, 3: watch both)",
                    "minimum": -1,
                    "maximum": 3
                  },
                  "watcher": {
                    "type": "string",
                    "description": "Username to update (admin only)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Watch status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/git/modifyacls": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Modify project access controls",
        "operationId": "modifyProjectACLs",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "user_type",
                  "name",
                  "acl"
                ],
                "properties": {
                  "user_type": {
                    "type": "string",
                    "description": "Type of entity (user or group)",
                    "enum": [
                      "user",
                      "group"
                    ]
                  },
                  "name": {
                    "type": "string",
                    "description": "Username or group name"
                  },
                  "acl": {
                    "type": "string",
                    "description": "Access level",
                    "enum": [
                      "ticket",
                      "commit",
                      "admin"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ACLs modified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/c/{commit_hash}/flag": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get commit flags",
        "operationId": "getCommitFlags",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "commit_hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of commit flags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "flags": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Flag"
                      }
                    },
                    "total_flags": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Add or update a commit flag",
        "operationId": "addCommitFlag",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "commit_hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/FlagInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Flag added/updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/c/{commit_hash}/info": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get commit info",
        "operationId": "getCommitInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "commit_hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Commit metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "author": {
                      "type": "string"
                    },
                    "commit_hash": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "tree_id": {
                      "type": "string"
                    },
                    "parents": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "date_created": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/{repo}/git/alias": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List git branch aliases",
        "operationId": "listGitAliases",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "responses": {
          "200": {
            "description": "Branch aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "aliases": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{repo}/git/alias/new": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a git branch alias",
        "operationId": "createGitAlias",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "alias_from",
                  "alias_to"
                ],
                "properties": {
                  "alias_from": {
                    "type": "string",
                    "description": "Source branch name"
                  },
                  "alias_to": {
                    "type": "string",
                    "description": "Target branch name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/git/alias/drop": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Remove a git branch alias",
        "operationId": "dropGitAlias",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "alias_from",
                  "alias_to"
                ],
                "properties": {
                  "alias_from": {
                    "type": "string"
                  },
                  "alias_to": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/git/urls": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get git clone URLs",
        "operationId": "getGitUrls",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "responses": {
          "200": {
            "description": "Git clone URLs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "urls": {
                      "type": "object",
                      "properties": {
                        "ssh": {
                          "type": "string"
                        },
                        "https": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{repo}/options": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get project options",
        "operationId": "getProjectOptions",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "responses": {
          "200": {
            "description": "Project configuration settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "settings": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/options/update": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Update project options",
        "operationId": "updateProjectOptions",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Project settings key-value pairs to update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Options updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/connector": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get project connector information",
        "operationId": "getProjectConnector",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "responses": {
          "200": {
            "description": "Connector info including hook token and API tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connector": {
                      "type": "object",
                      "properties": {
                        "hook_token": {
                          "type": "string"
                        },
                        "api_tokens": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/webhook/token": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get project webhook token",
        "operationId": "getWebhookToken",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/new_issue": {
      "post": {
        "tags": [
          "Issues"
        ],
        "summary": "Create a new issue",
        "operationId": "createIssue",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "issue_content"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "The title of the issue"
                  },
                  "issue_content": {
                    "type": "string",
                    "description": "The content/description of the issue"
                  },
                  "private": {
                    "type": "boolean",
                    "description": "Whether the issue is private"
                  },
                  "priority": {
                    "type": "string",
                    "description": "Priority from the project's priority list"
                  },
                  "milestone": {
                    "type": "string",
                    "description": "The milestone to assign"
                  },
                  "tag": {
                    "type": "string",
                    "description": "Comma-separated list of tags"
                  },
                  "assignee": {
                    "type": "string",
                    "description": "Username to assign the issue to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Issue created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "issue": {
                      "$ref": "#/components/schemas/Issue"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/issues": {
      "get": {
        "tags": [
          "Issues"
        ],
        "summary": "List project issues",
        "operationId": "listIssues",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status (Open, Closed, all)",
            "schema": {
              "type": "string",
              "enum": [
                "Open",
                "Closed",
                "all"
              ]
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags (prefix with ! to negate)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "description": "Filter by assignee username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "author",
            "in": "query",
            "description": "Filter by issue author",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "milestones",
            "in": "query",
            "description": "Filter by milestones",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "priority",
            "in": "query",
            "description": "Filter by priority",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "no_stones",
            "in": "query",
            "description": "Filter by presence of milestone",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Filter issues updated since (Unix timestamp or YYYY-MM-DD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page (max 100)",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of issues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "issues": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Issue"
                      }
                    },
                    "total_issues": {
                      "type": "integer"
                    },
                    "args": {
                      "type": "object"
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/{repo}/issue/{issueid}": {
      "get": {
        "tags": [
          "Issues"
        ],
        "summary": "Get issue details",
        "operationId": "getIssue",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "issueid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "comments",
            "in": "query",
            "description": "Include comments in the response",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Issue details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Issue"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Issues"
        ],
        "summary": "Update an issue",
        "operationId": "updateIssue",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "issueid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "issue_content"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "New title for the issue"
                  },
                  "issue_content": {
                    "type": "string",
                    "description": "New content for the issue"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Issue updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/issue/{issueid}/comment/{commentid}": {
      "get": {
        "tags": [
          "Issues"
        ],
        "summary": "Get an issue comment",
        "operationId": "getIssueComment",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "issueid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "commentid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/{repo}/issue/{issueid}/status": {
      "post": {
        "tags": [
          "Issues"
        ],
        "summary": "Change issue status",
        "operationId": "changeIssueStatus",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "issueid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "New status",
                    "enum": [
                      "Open",
                      "Closed"
                    ]
                  },
                  "close_status": {
                    "type": "string",
                    "description": "Reason for closing"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/issue/{issueid}/milestone": {
      "post": {
        "tags": [
          "Issues"
        ],
        "summary": "Change issue milestone",
        "operationId": "changeIssueMilestone",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "issueid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "milestone": {
                    "type": "string",
                    "description": "Milestone to assign, or empty to unset"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Milestone changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/issue/{issueid}/comment": {
      "post": {
        "tags": [
          "Issues"
        ],
        "summary": "Comment on an issue",
        "operationId": "commentOnIssue",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "issueid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "comment"
                ],
                "properties": {
                  "comment": {
                    "type": "string",
                    "description": "The comment text"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/issue/{issueid}/assign": {
      "post": {
        "tags": [
          "Issues"
        ],
        "summary": "Assign an issue",
        "operationId": "assignIssue",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "issueid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "assignee"
                ],
                "properties": {
                  "assignee": {
                    "type": "string",
                    "description": "Username to assign the issue to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Issue assigned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/issue/{issueid}/subscribe": {
      "post": {
        "tags": [
          "Issues"
        ],
        "summary": "Subscribe to an issue",
        "operationId": "subscribeToIssue",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "issueid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "boolean",
                    "description": "True to subscribe, false to unsubscribe"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/issue/{issueid}/custom/{field}": {
      "post": {
        "tags": [
          "Issues"
        ],
        "summary": "Update a custom field on an issue",
        "operationId": "updateIssueCustomField",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "issueid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "field",
            "in": "path",
            "required": true,
            "description": "Name of the custom field",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "New value for the custom field"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom field updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/issue/{issueid}/custom": {
      "post": {
        "tags": [
          "Issues"
        ],
        "summary": "Update multiple custom fields on an issue",
        "operationId": "updateIssueCustomFields",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "issueid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "Key-value pairs of custom field names and their values"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom fields updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/issues/history/stats": {
      "get": {
        "tags": [
          "Issues"
        ],
        "summary": "Get issue history statistics",
        "operationId": "getIssueHistoryStats",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "responses": {
          "200": {
            "description": "Open issues count over the last 6 months",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stats": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{repo}/issues/history/detailed_stats": {
      "get": {
        "tags": [
          "Issues"
        ],
        "summary": "Get detailed issue history statistics",
        "operationId": "getIssueDetailedHistoryStats",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "weeks_range",
            "in": "query",
            "description": "Number of weeks to include (default 53)",
            "schema": {
              "type": "integer",
              "default": 53
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed issue statistics over the specified time range",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stats": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{repo}/pull-requests": {
      "get": {
        "tags": [
          "Pull Requests"
        ],
        "summary": "List pull requests",
        "operationId": "listPullRequests",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string",
              "enum": [
                "Open",
                "Closed",
                "Merged",
                "all"
              ]
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "description": "Filter by assignee",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "author",
            "in": "query",
            "description": "Filter by author",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of pull requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PullRequest"
                      }
                    },
                    "total_requests": {
                      "type": "integer"
                    },
                    "args": {
                      "type": "object"
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pull-requests/{uid}": {
      "get": {
        "tags": [
          "Pull Requests"
        ],
        "summary": "Get pull request by UID",
        "operationId": "getPullRequestByUID",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the pull request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pull request details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullRequest"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/{repo}/pull-request/{requestid}": {
      "get": {
        "tags": [
          "Pull Requests"
        ],
        "summary": "Get pull request details",
        "operationId": "getPullRequest",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "requestid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "comments",
            "in": "query",
            "description": "Include comments",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pull request details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullRequest"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Pull Requests"
        ],
        "summary": "Update a pull request",
        "operationId": "updatePullRequest",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "requestid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "title"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "New PR title"
                  },
                  "initial_comment": {
                    "type": "string",
                    "description": "New PR description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pull request updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/pull-request/{requestid}/merge": {
      "post": {
        "tags": [
          "Pull Requests"
        ],
        "summary": "Merge a pull request",
        "operationId": "mergePullRequest",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "requestid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for the merge to complete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Merge queued or completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "Merge conflict or PR not mergeable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{repo}/pull-request/{requestid}/rebase": {
      "post": {
        "tags": [
          "Pull Requests"
        ],
        "summary": "Rebase a pull request",
        "operationId": "rebasePullRequest",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "requestid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for the rebase to complete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rebase queued or completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/pull-request/{requestid}/close": {
      "post": {
        "tags": [
          "Pull Requests"
        ],
        "summary": "Close a pull request",
        "operationId": "closePullRequest",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "requestid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pull request closed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/pull-request/{requestid}/reopen": {
      "post": {
        "tags": [
          "Pull Requests"
        ],
        "summary": "Reopen a pull request",
        "operationId": "reopenPullRequest",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "requestid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pull request reopened",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/pull-request/{requestid}/comment": {
      "post": {
        "tags": [
          "Pull Requests"
        ],
        "summary": "Add a comment on a pull request",
        "operationId": "commentOnPullRequest",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "requestid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "comment"
                ],
                "properties": {
                  "comment": {
                    "type": "string",
                    "description": "The comment text"
                  },
                  "commit": {
                    "type": "string",
                    "description": "Commit hash for inline comment"
                  },
                  "filename": {
                    "type": "string",
                    "description": "File name for inline comment"
                  },
                  "row": {
                    "type": "integer",
                    "description": "Line number for inline comment"
                  },
                  "tree_id": {
                    "type": "string",
                    "description": "Tree ID for inline comment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/pull-request/{requestid}/comment/{commentid}": {
      "get": {
        "tags": [
          "Pull Requests"
        ],
        "summary": "Get a specific pull request comment",
        "operationId": "getPullRequestComment",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "requestid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "commentid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/{repo}/pull-request/{requestid}/flag": {
      "get": {
        "tags": [
          "Pull Requests"
        ],
        "summary": "Get pull request flags",
        "operationId": "getPullRequestFlags",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "requestid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of flags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "flags": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Flag"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Pull Requests"
        ],
        "summary": "Add or update a pull request flag",
        "operationId": "addPullRequestFlag",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "requestid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/FlagInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Flag added/updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/pull-request/{requestid}/subscribe": {
      "post": {
        "tags": [
          "Pull Requests"
        ],
        "summary": "Subscribe to a pull request",
        "operationId": "subscribeToPullRequest",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "requestid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "boolean",
                    "description": "True to subscribe, false to unsubscribe"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/pull-request/new": {
      "post": {
        "tags": [
          "Pull Requests"
        ],
        "summary": "Create a new pull request",
        "operationId": "createPullRequest",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "branch_to",
                  "branch_from"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Title of the pull request"
                  },
                  "branch_to": {
                    "type": "string",
                    "description": "Target branch"
                  },
                  "branch_from": {
                    "type": "string",
                    "description": "Source branch"
                  },
                  "repo_from": {
                    "type": "string",
                    "description": "Source repository name"
                  },
                  "repo_from_username": {
                    "type": "string",
                    "description": "Owner of the source fork"
                  },
                  "repo_from_namespace": {
                    "type": "string",
                    "description": "Namespace of the source repository"
                  },
                  "initial_comment": {
                    "type": "string",
                    "description": "Description/body of the PR"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pull request created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "$ref": "#/components/schemas/PullRequest"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{repo}/pull-request/{requestid}/diffstats": {
      "get": {
        "tags": [
          "Pull Requests"
        ],
        "summary": "Get pull request diff statistics",
        "operationId": "getPullRequestDiffStats",
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "requestid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Diff statistics per file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "lines_added": {
                        "type": "integer"
                      },
                      "lines_removed": {
                        "type": "integer"
                      },
                      "old_path": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{repo}/pull-request/{requestid}/assign": {
      "post": {
        "tags": [
          "Pull Requests"
        ],
        "summary": "Assign a pull request",
        "operationId": "assignPullRequest",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/repo"
          },
          {
            "name": "requestid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "assignee"
                ],
                "properties": {
                  "assignee": {
                    "type": "string",
                    "description": "Username to assign the PR to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pull request assigned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/user/{username}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user information",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/user/{username}/issues": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List issues filed by or assigned to a user",
        "operationId": "listUserIssues",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "milestones",
            "in": "query",
            "description": "Filter by milestones",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "description": "If true, returns issues assigned to user; if false, issues filed by user",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of user issues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "issues": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Issue"
                      }
                    },
                    "total_issues": {
                      "type": "integer"
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/{username}/activity/stats": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user activity statistics",
        "operationId": "getUserActivityStats",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User activity statistics over the last year",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/{username}/activity/{date}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user activity for a specific date",
        "operationId": "getUserActivityByDate",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity details for the specified date",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "description_mk": {
                            "type": "string"
                          },
                          "date_created": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/{username}/requests/filed": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List pull requests filed by a user",
        "operationId": "listUserPullRequestsFiled",
        "parameters": [
[...]
