{
  "openapi": "3.0.3",
  "info": {
    "title": "Grain API",
    "description": "Grain is a meeting recording platform that provides APIs for managing recordings, transcripts, hooks (webhooks), users, and teams. The API supports OAuth2, Personal Access Tokens, and Workspace Access Tokens for authentication.",
    "version": "2025-10-31",
    "contact": {
      "name": "Grain",
      "url": "https://developers.grain.com"
    }
  },
  "servers": [
    {
      "url": "https://api.grain.com",
      "description": "Grain API server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/_/public-api/oauth2/token": {
      "post": {
        "tags": ["OAuth2"],
        "summary": "Generate or refresh an OAuth2 token",
        "description": "Generates an access token using an authorization code or refreshes an existing token. Used for both the 'authorization_code' and 'refresh_token' grant types.",
        "operationId": "generateOAuth2Token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["grant_type", "client_id"],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": ["authorization_code", "refresh_token"],
                    "description": "The type of grant being requested."
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Client ID obtained during registration."
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Client secret obtained during registration. Required for server-side applications."
                  },
                  "code": {
                    "type": "string",
                    "description": "Authorization code obtained from the OAuth2 authorization flow. Required when grant_type is 'authorization_code'."
                  },
                  "code_verifier": {
                    "type": "string",
                    "description": "The original random string sent as code_challenge in the authorization request. Used with PKCE."
                  },
                  "refresh_token": {
                    "type": "string",
                    "description": "Refresh token obtained when generating or refreshing an access token. Required when grant_type is 'refresh_token'."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/_/public-api/v2/recordings": {
      "post": {
        "tags": ["Recordings"],
        "summary": "List recordings",
        "description": "Retrieves a paginated list of recordings, with optional filtering and includes.",
        "operationId": "listRecordings",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cursor": {
                    "type": "string",
                    "description": "Used to paginate through the list."
                  },
                  "filter": {
                    "$ref": "#/components/schemas/RecordingFilter"
                  },
                  "include": {
                    "$ref": "#/components/schemas/RecordingInclude"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of recordings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Can be sent as a param to retrieve the next page of the list."
                    },
                    "recordings": {
                      "type": "array",
                      "description": "List of recordings.",
                      "items": {
                        "$ref": "#/components/schemas/Recording"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/recordings/{recording_id}": {
      "post": {
        "tags": ["Recordings"],
        "summary": "Get recording",
        "description": "Retrieves details for a specific recording.",
        "operationId": "getRecording",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          },
          {
            "$ref": "#/components/parameters/RecordingId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "include": {
                    "$ref": "#/components/schemas/RecordingInclude"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recording details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recording"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "patch": {
        "tags": ["Recordings"],
        "summary": "Update recording",
        "description": "Updates properties of a specific recording.",
        "operationId": "updateRecording",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          },
          {
            "$ref": "#/components/parameters/RecordingId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "New title for the recording."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recording updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/recordings/{recording_id}/transcript": {
      "get": {
        "tags": ["Recordings"],
        "summary": "Get recording transcript (JSON)",
        "description": "Retrieves the transcript of a recording in JSON format.",
        "operationId": "getRecordingTranscriptJson",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          },
          {
            "$ref": "#/components/parameters/RecordingId"
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TranscriptSegment"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/recordings/{recording_id}/transcript.txt": {
      "get": {
        "tags": ["Recordings"],
        "summary": "Get recording transcript (TXT)",
        "description": "Retrieves the transcript of a recording in plain text format.",
        "operationId": "getRecordingTranscriptTxt",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          },
          {
            "$ref": "#/components/parameters/RecordingId"
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript in plain text format.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/recordings/{recording_id}/transcript.vtt": {
      "get": {
        "tags": ["Recordings"],
        "summary": "Get recording transcript (VTT)",
        "description": "Retrieves the transcript of a recording in WebVTT format.",
        "operationId": "getRecordingTranscriptVtt",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          },
          {
            "$ref": "#/components/parameters/RecordingId"
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript in WebVTT format.",
            "content": {
              "text/vtt": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/recordings/{recording_id}/transcript.srt": {
      "get": {
        "tags": ["Recordings"],
        "summary": "Get recording transcript (SRT)",
        "description": "Retrieves the transcript of a recording in SRT subtitle format.",
        "operationId": "getRecordingTranscriptSrt",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          },
          {
            "$ref": "#/components/parameters/RecordingId"
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript in SRT format.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/recordings/{recording_id}/download": {
      "get": {
        "tags": ["Recordings"],
        "summary": "Download recording",
        "description": "Downloads the recording media file. The response will redirect to the file download URL.",
        "operationId": "downloadRecording",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          },
          {
            "$ref": "#/components/parameters/RecordingId"
          }
        ],
        "responses": {
          "200": {
            "description": "Recording file.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/recordings/upload": {
      "post": {
        "tags": ["Recordings"],
        "summary": "Generate upload URL",
        "description": "Generates a pre-signed URL for uploading a recording file. Supported formats: .mov, .mp4, .mp3, .m4a. After uploading, Grain will process the file and post progress messages to existing upload_status hooks.",
        "operationId": "generateUploadUrl",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["filename"],
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "Name of the upload file."
                  },
                  "user_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "User to own the recording. Obtained through List Users. Required for Workspace API."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload URL generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadUrlResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/recordings/{recording_id}/tags": {
      "put": {
        "tags": ["Recordings"],
        "summary": "Add a tag to a recording",
        "description": "Adds a tag to a specific recording. Tags must match the pattern: letters and numbers separated by dashes.",
        "operationId": "addRecordingTag",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          },
          {
            "$ref": "#/components/parameters/RecordingId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tag"],
                "properties": {
                  "tag": {
                    "type": "string",
                    "pattern": "^[\\p{L}\\d][\\p{L}\\d-]*$",
                    "description": "Tag to be added to the recording. Letters and numbers separated by dashes."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/recordings/{recording_id}/tags/{tag}": {
      "delete": {
        "tags": ["Recordings"],
        "summary": "Remove a tag from a recording",
        "description": "Removes a tag from a specific recording.",
        "operationId": "removeRecordingTag",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          },
          {
            "$ref": "#/components/parameters/RecordingId"
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The tag to remove."
          }
        ],
        "responses": {
          "200": {
            "description": "Tag removed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/recordings/{recording_id}/users": {
      "put": {
        "tags": ["Recordings"],
        "summary": "Share recording to a user",
        "description": "Shares a recording with a specific user.",
        "operationId": "shareRecordingToUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          },
          {
            "$ref": "#/components/parameters/RecordingId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["user_id"],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "User to share the recording with. Obtained through List Users."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recording shared successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/recordings/{recording_id}/users/{user_id}": {
      "delete": {
        "tags": ["Recordings"],
        "summary": "Unshare recording from a user",
        "description": "Removes a user's access to a specific recording.",
        "operationId": "unshareRecordingFromUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          },
          {
            "$ref": "#/components/parameters/RecordingId"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The user ID to unshare the recording from."
          }
        ],
        "responses": {
          "200": {
            "description": "Recording unshared successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/recordings/{recording_id}/teams": {
      "put": {
        "tags": ["Recordings"],
        "summary": "Share recording to a team",
        "description": "Shares a recording with a specific team.",
        "operationId": "shareRecordingToTeam",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          },
          {
            "$ref": "#/components/parameters/RecordingId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["team_id"],
                "properties": {
                  "team_id": {
                    "type": "string",
                    "description": "Team to share the recording with. Obtained through List Teams."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recording shared successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/recordings/{recording_id}/teams/{team_id}": {
      "delete": {
        "tags": ["Recordings"],
        "summary": "Unshare recording from a team",
        "description": "Removes a team's access to a specific recording.",
        "operationId": "unshareRecordingFromTeam",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          },
          {
            "$ref": "#/components/parameters/RecordingId"
          },
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The team ID to unshare the recording from."
          }
        ],
        "responses": {
          "200": {
            "description": "Recording unshared successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/hooks/create": {
      "post": {
        "tags": ["Hooks"],
        "summary": "Create hook",
        "description": "Creates a new webhook. A reachability test is made to the provided URL on creation; the endpoint must respond with a 2xx status.",
        "operationId": "createHook",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["hook_url", "hook_type"],
                "properties": {
                  "hook_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Endpoint to be called when the event is triggered. Must respond with a 2xx status on creation."
                  },
                  "hook_type": {
                    "type": "string",
                    "enum": [
                      "recording_added",
                      "recording_updated",
                      "recording_deleted",
                      "highlight_added",
                      "highlight_updated",
                      "highlight_deleted",
                      "story_added",
                      "story_updated",
                      "story_deleted",
                      "upload_status"
                    ],
                    "description": "Type of notifications the hook will receive."
                  },
                  "include": {
                    "type": "object",
                    "description": "Include configuration for the hook payload. Depends on hook_type."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hook created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hook"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/hooks": {
      "post": {
        "tags": ["Hooks"],
        "summary": "List hooks",
        "description": "Retrieves a list of all configured webhooks.",
        "operationId": "listHooks",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object",
                    "description": "Hook filter criteria."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of hooks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hooks": {
                      "type": "array",
                      "description": "List of hooks.",
                      "items": {
                        "$ref": "#/components/schemas/Hook"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/hooks/{hook_id}": {
      "delete": {
        "tags": ["Hooks"],
        "summary": "Delete hook",
        "description": "Deletes a specific webhook.",
        "operationId": "deleteHook",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          },
          {
            "name": "hook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The hook ID to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Hook deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/users": {
      "post": {
        "tags": ["Users"],
        "summary": "List users",
        "description": "Retrieves a list of users in the workspace.",
        "operationId": "listUsers",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "List of users.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "description": "List of users.",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/teams": {
      "post": {
        "tags": ["Teams"],
        "summary": "List teams",
        "description": "Retrieves a list of teams in the workspace.",
        "operationId": "listTeams",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "List of teams.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "teams": {
                      "type": "array",
                      "description": "List of teams.",
                      "items": {
                        "$ref": "#/components/schemas/Team"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/_/public-api/v2/meeting_types": {
      "post": {
        "tags": ["Meeting Types"],
        "summary": "List meeting types",
        "description": "Retrieves a list of meeting types configured in the workspace.",
        "operationId": "listMeetingTypes",
        "parameters": [
          {
            "$ref": "#/components/parameters/PublicApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "List of meeting types.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meeting_types": {
                      "type": "array",
                      "description": "List of meeting types.",
                      "items": {
                        "$ref": "#/components/schemas/MeetingType"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Use a Personal Access Token, Workspace Access Token, or OAuth2 access token."
      }
    },
    "parameters": {
      "PublicApiVersion": {
        "name": "Public-Api-Version",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "default": "2025-10-31"
        },
        "description": "API version header. Current version: 2025-10-31."
      },
      "RecordingId": {
        "name": "recording_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "The unique identifier of the recording."
      }
    },
    "responses": {
      "RateLimitExceeded": {
        "description": "Rate limit exceeded. Maximum 300 requests per minute.",
        "headers": {
          "x-ratelimit-limit": {
            "description": "Max number of requests allowed per window (300/min).",
            "schema": {
              "type": "integer"
            }
          },
          "x-ratelimit-remaining": {
            "description": "Number of requests remaining in the current window.",
            "schema": {
              "type": "integer"
            }
          },
          "Retry-After": {
            "description": "Number of seconds you must wait before submitting another request.",
            "schema": {
              "type": "integer"
            }
          }
        }
      }
    },
    "schemas": {
      "OAuthTokenResponse": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string",
            "description": "Always 'bearer'.",
            "example": "bearer"
          },
          "access_token": {
            "type": "string",
            "description": "Token to be used in the Authorization header."
          },
          "refresh_token": {
            "type": "string",
            "description": "Token to be used to refresh the access_token."
          },
          "expires_in": {
            "type": "integer",
            "description": "Number of seconds the access_token will live for after generation."
          }
        }
      },
      "Recording": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the recording."
          },
          "title": {
            "type": "string",
            "description": "Title of the recording."
          },
          "source": {
            "type": "string",
            "description": "Source platform of the recording (e.g., 'zoom')."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Shareable URL for the recording."
          },
          "media_type": {
            "type": "string",
            "description": "Type of media (e.g., 'video', 'audio')."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags associated with the recording."
          },
          "start_datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Start date and time of the recording."
          },
          "teams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Team"
            },
            "description": "Teams the recording is shared with."
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Participant"
            },
            "description": "Participants in the recording. Only included when requested via the include parameter."
          }
        }
      },
      "Participant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the participant."
          },
          "name": {
            "type": "string",
            "description": "Name of the participant."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the participant."
          }
        }
      },
      "TranscriptSegment": {
        "type": "object",
        "properties": {
          "participant_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID of the participant."
          },
          "speaker": {
            "type": "string",
            "description": "Name of the participant."
          },
          "start": {
            "type": "integer",
            "description": "Timestamp in milliseconds from the recording of when this section started."
          },
          "end": {
            "type": "integer",
            "description": "Timestamp in milliseconds from the recording of when this section ended."
          },
          "text": {
            "type": "string",
            "description": "Text of this transcript section."
          }
        }
      },
      "UploadUrlResponse": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the upload; will be present in the upload hooks if an upload_status hook exists."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to upload the file to."
          },
          "max_duration_sec": {
            "type": "integer",
            "description": "Maximum duration in seconds the upload can be."
          },
          "max_upload_bytes": {
            "type": "integer",
            "description": "Maximum size in bytes the upload can be."
          }
        }
      },
      "Hook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the hook."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the hook is enabled."
          },
          "hook_url": {
            "type": "string",
            "format": "uri",
            "description": "Endpoint called when the event is triggered."
          },
          "hook_type": {
            "type": "string",
            "enum": [
              "recording_added",
              "recording_updated",
              "recording_deleted",
              "highlight_added",
              "highlight_updated",
              "highlight_deleted",
              "story_added",
              "story_updated",
              "story_deleted",
              "upload_status"
            ],
            "description": "Type of event notifications the hook receives."
          },
          "include": {
            "type": "object",
            "description": "Include configuration for the hook payload."
          },
          "inserted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time the hook was created."
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the user."
          },
          "name": {
            "type": "string",
            "description": "Name of the user."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the user."
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the team."
          },
          "name": {
            "type": "string",
            "description": "Name of the team."
          }
        }
      },
      "MeetingType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the meeting type."
          },
          "name": {
            "type": "string",
            "description": "Name of the meeting type."
          },
          "scope": {
            "type": "string",
            "enum": ["internal", "external"],
            "description": "Scope of the meeting type."
          }
        }
      },
      "RecordingFilter": {
        "type": "object",
        "description": "Filter criteria for recordings.",
        "properties": {
          "title_search": {
            "type": "string",
            "description": "Search recordings by title."
          }
        }
      },
      "RecordingInclude": {
        "type": "object",
        "description": "Options for including additional data with recordings.",
        "properties": {
          "participants": {
            "type": "boolean",
            "description": "Include participant details in the response."
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Always true on success."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "OAuth2",
      "description": "OAuth2 authentication endpoints."
    },
    {
      "name": "Recordings",
      "description": "Manage meeting recordings, transcripts, and media."
    },
    {
      "name": "Hooks",
      "description": "Manage webhooks for event notifications."
    },
    {
      "name": "Users",
      "description": "List workspace users."
    },
    {
      "name": "Teams",
      "description": "List workspace teams."
    },
    {
      "name": "Meeting Types",
      "description": "List meeting type configurations."
    }
  ]
}