{
  "openapi": "3.0.3",
  "info": {
    "title": "MapTiler Cloud API",
    "version": "1.0.0",
    "description": "MapTiler Cloud API provides access to maps, tiles, geocoding, and static map images. All endpoints require an API key.",
    "x-jentic-source-url": "https://docs.maptiler.com/cloud/api/"
  },
  "servers": [
    {
      "url": "https://api.maptiler.com",
      "description": "MapTiler Cloud production server"
    }
  ],
  "paths": {
    "/geocoding/{query}.json": {
      "get": {
        "operationId": "forwardGeocode",
        "summary": "Forward geocoding - search by name",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "description": "Search query text",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "Bounding box to limit results [west,south,east,north]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proximity",
            "in": "query",
            "description": "Bias results toward location (longitude,latitude or 'ip')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Comma-separated ISO 639-1 language codes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Comma-separated country codes to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 5
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Comma-separated feature type filters",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeTypes",
            "in": "query",
            "description": "If true, exclude the specified types instead of including them",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "fuzzyMatch",
            "in": "query",
            "description": "Enable fuzzy matching",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "autocomplete",
            "in": "query",
            "description": "Enable autocomplete mode",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "worldview",
            "in": "query",
            "description": "Geopolitical perspective",
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "auto",
                "ch",
                "us"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResults"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/geocoding/{longitude},{latitude}.json": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse geocoding - search by coordinates",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 5
            }
          },
          {
            "name": "types",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "worldview",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "auto",
                "ch",
                "us"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reverse geocoding results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResults"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/geocoding/{featureId}.json": {
      "get": {
        "operationId": "geocodeByFeatureId",
        "summary": "Look up a feature by ID",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "featureId",
            "in": "path",
            "required": true,
            "description": "Feature identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "worldview",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "auto",
                "ch",
                "us"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feature result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResults"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/maps/{mapId}/style.json": {
      "get": {
        "operationId": "getMapStyle",
        "summary": "Get map style JSON",
        "tags": [
          "Maps"
        ],
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "required": true,
            "description": "Map identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Map style definition",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/maps/{mapId}/": {
      "get": {
        "operationId": "getMapViewer",
        "summary": "Get embeddable HTML map viewer",
        "tags": [
          "Maps"
        ],
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "HTML map viewer",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/maps/{mapId}/{tileSize}/{z}/{x}/{y}{scale}.{format}": {
      "get": {
        "operationId": "getMapRasterTile",
        "summary": "Get raster map tile",
        "tags": [
          "Maps"
        ],
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tileSize",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                256,
                512
              ]
            }
          },
          {
            "name": "z",
            "in": "path",
            "required": true,
            "description": "Zoom level",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x",
            "in": "path",
            "required": true,
            "description": "Tile column",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "y",
            "in": "path",
            "required": true,
            "description": "Tile row",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "scale",
            "in": "path",
            "required": true,
            "description": "HiDPI scale factor (empty or @2x)",
            "schema": {
              "type": "string",
              "enum": [
                "",
                "@2x"
              ]
            }
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpg",
                "webp"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Tile image",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Tile out of bounds"
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/maps/{mapId}/{tileSize}/tiles.json": {
      "get": {
        "operationId": "getMapTileJson",
        "summary": "Get map TileJSON metadata",
        "tags": [
          "Maps"
        ],
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tileSize",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                256,
                512
              ]
            }
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "TileJSON metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TileJson"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/tiles/{tilesId}/{z}/{x}/{y}": {
      "get": {
        "operationId": "getTile",
        "summary": "Get a data tile",
        "tags": [
          "Tiles"
        ],
        "parameters": [
          {
            "name": "tilesId",
            "in": "path",
            "required": true,
            "description": "Tile set identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "z",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "x",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "y",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Tile content",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "204": {
            "description": "Empty tile"
          },
          "400": {
            "description": "Tile out of bounds"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "404": {
            "description": "Tile set not found"
          }
        }
      }
    },
    "/tiles/{tilesId}/tiles.json": {
      "get": {
        "operationId": "getTileJson",
        "summary": "Get TileJSON metadata for a tile set",
        "tags": [
          "Tiles"
        ],
        "parameters": [
          {
            "name": "tilesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "TileJSON metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TileJson"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/maps/{mapId}/static/{lon},{lat},{zoom}/{width}x{height}{scale}.{format}": {
      "get": {
        "operationId": "getStaticMapCenter",
        "summary": "Generate static map image centered on coordinates",
        "tags": [
          "Static Maps"
        ],
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lat",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "zoom",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "width",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2048
            }
          },
          {
            "name": "height",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2048
            }
          },
          {
            "name": "scale",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "",
                "@2x"
              ]
            }
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpg",
                "webp"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "name": "markers",
            "in": "query",
            "description": "Marker definitions",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "description": "Path overlay definition",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attribution",
            "in": "query",
            "description": "Show attribution",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Static map image",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/maps/{mapId}/static/auto/{width}x{height}{scale}.{format}": {
      "get": {
        "operationId": "getStaticMapAuto",
        "summary": "Generate auto-fitted static map image",
        "tags": [
          "Static Maps"
        ],
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2048
            }
          },
          {
            "name": "height",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2048
            }
          },
          {
            "name": "scale",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "",
                "@2x"
              ]
            }
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpg",
                "webp"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "name": "markers",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "padding",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Static map image",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiKeyParam": {
        "name": "key",
        "in": "query",
        "required": true,
        "description": "MapTiler API key",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "SearchResults": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "FeatureCollection"
            ]
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Feature"
            }
          },
          "attribution": {
            "type": "string"
          }
        }
      },
      "Feature": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique feature identifier"
          },
          "type": {
            "type": "string",
            "enum": [
              "Feature"
            ]
          },
          "text": {
            "type": "string",
            "description": "Localized name"
          },
          "language": {
            "type": "string",
            "description": "ISO 639-1 language code"
          },
          "place_name": {
            "type": "string",
            "description": "Formatted full place name"
          },
          "matching_place_name": {
            "type": "string",
            "description": "Query-matched version of place name"
          },
          "place_type": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "relevance": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "center": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "[longitude, latitude]"
          },
          "bbox": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "[west, south, east, north]"
          },
          "geometry": {
            "$ref": "#/components/schemas/Geometry"
          },
          "properties": {
            "$ref": "#/components/schemas/FeatureProperties"
          },
          "context": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                }
              }
            }
          },
          "address": {
            "type": "string"
          }
        }
      },
      "FeatureProperties": {
        "type": "object",
        "properties": {
          "country_code": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "kind": {
            "type": "string",
            "description": "Feature kind type"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "POI categories"
          },
          "ref": {
            "type": "string",
            "description": "External reference (experimental)"
          }
        }
      },
      "Geometry": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Point",
              "LineString",
              "Polygon",
              "MultiPoint",
              "MultiLineString",
              "MultiPolygon",
              "GeometryCollection"
            ]
          },
          "coordinates": {
            "description": "Coordinate array (structure varies by geometry type)"
          }
        }
      },
      "TileJson": {
        "type": "object",
        "properties": {
          "tilejson": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "attribution": {
            "type": "string"
          },
          "tiles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "minzoom": {
            "type": "integer"
          },
          "maxzoom": {
            "type": "integer"
          },
          "bounds": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "center": {
            "type": "array",
            "items": {
              "type": "number"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "key",
        "in": "query",
        "description": "MapTiler API key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Geocoding"
    },
    {
      "name": "Maps"
    },
    {
      "name": "Tiles"
    }
  ]
}