{
  "openapi": "3.0.3",
  "info": {
    "title": "FTX API",
    "description": "FTX cryptocurrency exchange REST API for trading, market data, and account management. Note: FTX filed for bankruptcy in November 2022 and is no longer operational.",
    "version": "1.0",
    "contact": {
      "name": "FTX",
      "url": "https://ftx.com"
    }
  },
  "servers": [
    {
      "url": "https://ftx.com/api"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": [],
      "ApiSignature": [],
      "ApiTimestamp": []
    }
  ],
  "paths": {
    "/markets": {
      "get": {
        "summary": "List markets",
        "description": "Get a list of all available markets.",
        "operationId": "getMarkets",
        "tags": ["Markets"],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Market" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/markets/{market_name}": {
      "get": {
        "summary": "Get single market",
        "description": "Get details of a specific market.",
        "operationId": "getMarket",
        "tags": ["Markets"],
        "security": [],
        "parameters": [
          {
            "name": "market_name",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "example": "BTC/USD"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": { "$ref": "#/components/schemas/Market" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/markets/{market_name}/orderbook": {
      "get": {
        "summary": "Get orderbook",
        "description": "Get the orderbook for a market.",
        "operationId": "getOrderbook",
        "tags": ["Markets"],
        "security": [],
        "parameters": [
          {
            "name": "market_name",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "depth",
            "in": "query",
            "schema": { "type": "integer", "default": 20, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "object",
                      "properties": {
                        "asks": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": { "type": "number" }
                          }
                        },
                        "bids": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": { "type": "number" }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/markets/{market_name}/trades": {
      "get": {
        "summary": "Get trades",
        "description": "Get recent trades for a market.",
        "operationId": "getTrades",
        "tags": ["Markets"],
        "security": [],
        "parameters": [
          {
            "name": "market_name",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 20, "maximum": 100 }
          },
          {
            "name": "start_time",
            "in": "query",
            "schema": { "type": "number", "description": "Unix timestamp" }
          },
          {
            "name": "end_time",
            "in": "query",
            "schema": { "type": "number", "description": "Unix timestamp" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Trade" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/markets/{market_name}/candles": {
      "get": {
        "summary": "Get historical prices",
        "description": "Get historical OHLCV candlestick data.",
        "operationId": "getCandles",
        "tags": ["Markets"],
        "security": [],
        "parameters": [
          {
            "name": "market_name",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "resolution",
            "in": "query",
            "required": true,
            "description": "Window length in seconds. Options: 15, 60, 300, 900, 3600, 14400, 86400.",
            "schema": { "type": "integer", "enum": [15, 60, 300, 900, 3600, 14400, 86400] }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 1501, "maximum": 5000 }
          },
          {
            "name": "start_time",
            "in": "query",
            "schema": { "type": "number" }
          },
          {
            "name": "end_time",
            "in": "query",
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startTime": { "type": "string", "format": "date-time" },
                          "time": { "type": "number" },
                          "open": { "type": "number" },
                          "high": { "type": "number" },
                          "low": { "type": "number" },
                          "close": { "type": "number" },
                          "volume": { "type": "number" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/futures": {
      "get": {
        "summary": "List futures",
        "description": "Get a list of all futures contracts.",
        "operationId": "getFutures",
        "tags": ["Futures"],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Future" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/futures/{future_name}": {
      "get": {
        "summary": "Get future",
        "description": "Get details of a specific future.",
        "operationId": "getFuture",
        "tags": ["Futures"],
        "security": [],
        "parameters": [
          {
            "name": "future_name",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": { "$ref": "#/components/schemas/Future" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/futures/{future_name}/stats": {
      "get": {
        "summary": "Get future stats",
        "description": "Get stats for a specific future including volume and open interest.",
        "operationId": "getFutureStats",
        "tags": ["Futures"],
        "security": [],
        "parameters": [
          {
            "name": "future_name",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "object",
                      "properties": {
                        "volume": { "type": "number" },
                        "nextFundingRate": { "type": "number" },
                        "nextFundingTime": { "type": "string", "format": "date-time" },
                        "expirationPrice": { "type": "number", "nullable": true },
                        "predictedExpirationPrice": { "type": "number", "nullable": true },
                        "strikePrice": { "type": "number", "nullable": true },
                        "openInterest": { "type": "number" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/funding_rates": {
      "get": {
        "summary": "Get funding rates",
        "description": "Get historical funding rates.",
        "operationId": "getFundingRates",
        "tags": ["Futures"],
        "security": [],
        "parameters": [
          {
            "name": "future",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "start_time",
            "in": "query",
            "schema": { "type": "number" }
          },
          {
            "name": "end_time",
            "in": "query",
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "future": { "type": "string" },
                          "rate": { "type": "number" },
                          "time": { "type": "string", "format": "date-time" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "summary": "Get account information",
        "description": "Get account details including collateral, positions value, and leverage.",
        "operationId": "getAccount",
        "tags": ["Account"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "object",
                      "properties": {
                        "backstopProvider": { "type": "boolean" },
                        "collateral": { "type": "number" },
                        "freeCollateral": { "type": "number" },
                        "initialMarginRequirement": { "type": "number" },
                        "leverage": { "type": "number" },
                        "liquidating": { "type": "boolean" },
                        "maintenanceMarginRequirement": { "type": "number" },
                        "makerFee": { "type": "number" },
                        "marginFraction": { "type": "number", "nullable": true },
                        "openMarginFraction": { "type": "number", "nullable": true },
                        "takerFee": { "type": "number" },
                        "totalAccountValue": { "type": "number" },
                        "totalPositionSize": { "type": "number" },
                        "username": { "type": "string" },
                        "positions": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Position" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/positions": {
      "get": {
        "summary": "Get positions",
        "description": "Get all open positions.",
        "operationId": "getPositions",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "showAvgPrice",
            "in": "query",
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Position" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/coins": {
      "get": {
        "summary": "Get coins",
        "description": "Get list of supported coins.",
        "operationId": "getCoins",
        "tags": ["Wallet"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "canDeposit": { "type": "boolean" },
                          "canWithdraw": { "type": "boolean" },
                          "hasTag": { "type": "boolean" },
                          "canConvert": { "type": "boolean" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/balances": {
      "get": {
        "summary": "Get balances",
        "description": "Get wallet balances.",
        "operationId": "getBalances",
        "tags": ["Wallet"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "coin": { "type": "string" },
                          "free": { "type": "number" },
                          "spotBorrow": { "type": "number" },
                          "total": { "type": "number" },
                          "usdValue": { "type": "number" },
                          "availableWithoutBorrow": { "type": "number" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/deposit-address/{coin}": {
      "get": {
        "summary": "Get deposit address",
        "description": "Get deposit address for a coin.",
        "operationId": "getDepositAddress",
        "tags": ["Wallet"],
        "parameters": [
          {
            "name": "coin",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "method",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "object",
                      "properties": {
                        "address": { "type": "string" },
                        "tag": { "type": "string", "nullable": true }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/deposits": {
      "get": {
        "summary": "Get deposit history",
        "description": "Get deposit history.",
        "operationId": "getDeposits",
        "tags": ["Wallet"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer" }
          },
          {
            "name": "start_time",
            "in": "query",
            "schema": { "type": "number" }
          },
          {
            "name": "end_time",
            "in": "query",
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "coin": { "type": "string" },
                          "confirmations": { "type": "integer" },
                          "confirmedTime": { "type": "string", "format": "date-time" },
                          "fee": { "type": "number" },
                          "id": { "type": "integer" },
                          "sentTime": { "type": "string", "format": "date-time" },
                          "size": { "type": "number" },
                          "status": { "type": "string" },
                          "time": { "type": "string", "format": "date-time" },
                          "txid": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/withdrawals": {
      "get": {
        "summary": "Get withdrawal history",
        "description": "Get withdrawal history.",
        "operationId": "getWithdrawals",
        "tags": ["Wallet"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer" }
          },
          {
            "name": "start_time",
            "in": "query",
            "schema": { "type": "number" }
          },
          {
            "name": "end_time",
            "in": "query",
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "coin": { "type": "string" },
                          "address": { "type": "string" },
                          "tag": { "type": "string", "nullable": true },
                          "fee": { "type": "number" },
                          "id": { "type": "integer" },
                          "size": { "type": "number" },
                          "status": { "type": "string" },
                          "time": { "type": "string", "format": "date-time" },
                          "txid": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/withdrawals": {
      "post": {
        "summary": "Request withdrawal",
        "description": "Request a withdrawal.",
        "operationId": "requestWithdrawal",
        "tags": ["Wallet"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["coin", "size", "address"],
                "properties": {
                  "coin": { "type": "string" },
                  "size": { "type": "number" },
                  "address": { "type": "string" },
                  "tag": { "type": "string" },
                  "method": { "type": "string" },
                  "password": { "type": "string" },
                  "code": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "summary": "Get open orders",
        "description": "Get all open orders.",
        "operationId": "getOpenOrders",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Order" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Place order",
        "description": "Place a new order.",
        "operationId": "placeOrder",
        "tags": ["Orders"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["market", "side", "type", "size"],
                "properties": {
                  "market": { "type": "string", "example": "BTC/USD" },
                  "side": { "type": "string", "enum": ["buy", "sell"] },
                  "price": { "type": "number", "nullable": true, "description": "Required for limit orders." },
                  "type": { "type": "string", "enum": ["limit", "market"] },
                  "size": { "type": "number" },
                  "reduceOnly": { "type": "boolean", "default": false },
                  "ioc": { "type": "boolean", "default": false },
                  "postOnly": { "type": "boolean", "default": false },
                  "clientId": { "type": "string", "nullable": true }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": { "$ref": "#/components/schemas/Order" }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancel all orders",
        "description": "Cancel all open orders.",
        "operationId": "cancelAllOrders",
        "tags": ["Orders"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "market": { "type": "string" },
                  "side": { "type": "string", "enum": ["buy", "sell"] },
                  "conditionalOrdersOnly": { "type": "boolean", "default": false },
                  "limitOrdersOnly": { "type": "boolean", "default": false }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/{order_id}": {
      "get": {
        "summary": "Get order status",
        "description": "Get the status of an order.",
        "operationId": "getOrderStatus",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": { "$ref": "#/components/schemas/Order" }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancel order",
        "description": "Cancel an open order.",
        "operationId": "cancelOrder",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/{order_id}/modify": {
      "post": {
        "summary": "Modify order",
        "description": "Modify an existing order.",
        "operationId": "modifyOrder",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "price": { "type": "number" },
                  "size": { "type": "number" },
                  "clientId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": { "$ref": "#/components/schemas/Order" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/history": {
      "get": {
        "summary": "Get order history",
        "description": "Get order history.",
        "operationId": "getOrderHistory",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "side",
            "in": "query",
            "schema": { "type": "string", "enum": ["buy", "sell"] }
          },
          {
            "name": "orderType",
            "in": "query",
            "schema": { "type": "string", "enum": ["limit", "market"] }
          },
          {
            "name": "start_time",
            "in": "query",
            "schema": { "type": "number" }
          },
          {
            "name": "end_time",
            "in": "query",
            "schema": { "type": "number" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Order" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fills": {
      "get": {
        "summary": "Get fills",
        "description": "Get trade fills.",
        "operationId": "getFills",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer" }
          },
          {
            "name": "start_time",
            "in": "query",
            "schema": { "type": "number" }
          },
          {
            "name": "end_time",
            "in": "query",
            "schema": { "type": "number" }
          },
          {
            "name": "order",
            "in": "query",
            "schema": { "type": "string", "enum": ["asc"] }
          },
          {
            "name": "orderId",
            "in": "query",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fee": { "type": "number" },
                          "feeCurrency": { "type": "string" },
                          "feeRate": { "type": "number" },
                          "future": { "type": "string", "nullable": true },
                          "id": { "type": "integer" },
                          "liquidity": { "type": "string" },
                          "market": { "type": "string" },
                          "baseCurrency": { "type": "string", "nullable": true },
                          "quoteCurrency": { "type": "string", "nullable": true },
                          "orderId": { "type": "integer" },
                          "tradeId": { "type": "integer" },
                          "price": { "type": "number" },
                          "side": { "type": "string" },
                          "size": { "type": "number" },
                          "time": { "type": "string", "format": "date-time" },
                          "type": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subaccounts": {
      "get": {
        "summary": "List subaccounts",
        "description": "Get all subaccounts.",
        "operationId": "getSubaccounts",
        "tags": ["Subaccounts"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "nickname": { "type": "string" },
                          "deletable": { "type": "boolean" },
                          "editable": { "type": "boolean" },
                          "competition": { "type": "boolean" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create subaccount",
        "description": "Create a new subaccount.",
        "operationId": "createSubaccount",
        "tags": ["Subaccounts"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["nickname"],
                "properties": {
                  "nickname": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subaccounts/{nickname}": {
      "delete": {
        "summary": "Delete subaccount",
        "description": "Delete a subaccount.",
        "operationId": "deleteSubaccount",
        "tags": ["Subaccounts"],
        "parameters": [
          {
            "name": "nickname",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subaccounts/{nickname}/balances": {
      "get": {
        "summary": "Get subaccount balances",
        "description": "Get balances for a subaccount.",
        "operationId": "getSubaccountBalances",
        "tags": ["Subaccounts"],
        "parameters": [
          {
            "name": "nickname",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "coin": { "type": "string" },
                          "free": { "type": "number" },
                          "total": { "type": "number" },
                          "spotBorrow": { "type": "number" },
                          "availableWithoutBorrow": { "type": "number" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subaccounts/transfer": {
      "post": {
        "summary": "Transfer between subaccounts",
        "description": "Transfer funds between subaccounts.",
        "operationId": "transferBetweenSubaccounts",
        "tags": ["Subaccounts"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["coin", "size", "source", "destination"],
                "properties": {
                  "coin": { "type": "string" },
                  "size": { "type": "number" },
                  "source": { "type": "string", "nullable": true, "description": "Source subaccount nickname. null for main account." },
                  "destination": { "type": "string", "nullable": true, "description": "Destination subaccount nickname. null for main account." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "FTX-KEY",
        "description": "API key."
      },
      "ApiSignature": {
        "type": "apiKey",
        "in": "header",
        "name": "FTX-SIGN",
        "description": "HMAC SHA256 signature of (timestamp + HTTP method + request path + body)."
      },
      "ApiTimestamp": {
        "type": "apiKey",
        "in": "header",
        "name": "FTX-TS",
        "description": "Request timestamp in milliseconds."
      }
    },
    "schemas": {
      "Market": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "baseCurrency": { "type": "string", "nullable": true },
          "quoteCurrency": { "type": "string", "nullable": true },
          "quoteVolume24h": { "type": "number" },
          "change1h": { "type": "number" },
          "change24h": { "type": "number" },
          "changeBod": { "type": "number" },
          "highLeverageFeeExempt": { "type": "boolean" },
          "minProvideSize": { "type": "number" },
          "type": { "type": "string", "enum": ["spot", "future"] },
          "underlying": { "type": "string", "nullable": true },
          "enabled": { "type": "boolean" },
          "ask": { "type": "number", "nullable": true },
          "bid": { "type": "number", "nullable": true },
          "last": { "type": "number", "nullable": true },
          "postOnly": { "type": "boolean" },
          "price": { "type": "number", "nullable": true },
          "priceIncrement": { "type": "number" },
          "sizeIncrement": { "type": "number" },
          "restricted": { "type": "boolean" },
          "volumeUsd24h": { "type": "number" },
          "largeOrderThreshold": { "type": "number" },
          "isEtfMarket": { "type": "boolean" }
        }
      },
      "Trade": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "liquidation": { "type": "boolean" },
          "price": { "type": "number" },
          "side": { "type": "string", "enum": ["buy", "sell"] },
          "size": { "type": "number" },
          "time": { "type": "string", "format": "date-time" }
        }
      },
      "Future": {
        "type": "object",
        "properties": {
          "ask": { "type": "number", "nullable": true },
          "bid": { "type": "number", "nullable": true },
          "change1h": { "type": "number" },
          "change24h": { "type": "number" },
          "changeBod": { "type": "number" },
          "volumeUsd24h": { "type": "number" },
          "volume": { "type": "number" },
          "description": { "type": "string" },
          "enabled": { "type": "boolean" },
          "expired": { "type": "boolean" },
          "expiry": { "type": "string", "format": "date-time", "nullable": true },
          "index": { "type": "number" },
          "imfFactor": { "type": "number" },
          "last": { "type": "number", "nullable": true },
          "lowerBound": { "type": "number" },
          "mark": { "type": "number" },
          "name": { "type": "string" },
          "openInterest": { "type": "number" },
          "openInterestUsd": { "type": "number" },
          "perpetual": { "type": "boolean" },
          "positionLimitWeight": { "type": "number" },
          "postOnly": { "type": "boolean" },
          "priceIncrement": { "type": "number" },
          "sizeIncrement": { "type": "number" },
          "type": { "type": "string", "enum": ["future", "perpetual", "prediction", "move"] },
          "underlying": { "type": "string" },
          "upperBound": { "type": "number" }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "createdAt": { "type": "string", "format": "date-time" },
          "filledSize": { "type": "number" },
          "future": { "type": "string", "nullable": true },
          "id": { "type": "integer" },
          "market": { "type": "string" },
          "price": { "type": "number", "nullable": true },
          "avgFillPrice": { "type": "number", "nullable": true },
          "remainingSize": { "type": "number" },
          "side": { "type": "string", "enum": ["buy", "sell"] },
          "size": { "type": "number" },
          "status": { "type": "string", "enum": ["new", "open", "closed"] },
          "type": { "type": "string", "enum": ["limit", "market"] },
          "reduceOnly": { "type": "boolean" },
          "ioc": { "type": "boolean" },
          "postOnly": { "type": "boolean" },
          "clientId": { "type": "string", "nullable": true }
        }
      },
      "Position": {
        "type": "object",
        "properties": {
          "cost": { "type": "number" },
          "cumulativeBuySize": { "type": "number" },
          "cumulativeSellSize": { "type": "number" },
          "entryPrice": { "type": "number", "nullable": true },
          "estimatedLiquidationPrice": { "type": "number", "nullable": true },
          "future": { "type": "string" },
          "initialMarginRequirement": { "type": "number" },
          "longOrderSize": { "type": "number" },
          "maintenanceMarginRequirement": { "type": "number" },
          "netSize": { "type": "number" },
          "openSize": { "type": "number" },
          "realizedPnl": { "type": "number" },
          "recentAverageOpenPrice": { "type": "number", "nullable": true },
          "recentBreakEvenPrice": { "type": "number", "nullable": true },
          "recentPnl": { "type": "number", "nullable": true },
          "shortOrderSize": { "type": "number" },
          "side": { "type": "string", "enum": ["buy", "sell"] },
          "size": { "type": "number" },
          "unrealizedPnl": { "type": "number" },
          "collateralUsed": { "type": "number" }
        }
      }
    }
  }
}